[2019-07-29 07:13] Betree opened #2282 "Revamp Apply to host button"
The current `Apply` button has an important issue: it can only accept one option. https://github.com/opencollective/opencollective/issues/2281 showcase that there can be multiple options for this button:
- Apply from GitHub
- Apply manually
- Apply with MyCollective
- Apply with MyCollective2

Most of the time, the only option will be `Apply to create a collective`.

[2019-07-29 07:15] Betree commented on #2281
@alanna I just created https://github.com/opencollective/opencollective/issues/2282 that I think should solve this. We'll be able to use the new component once the design team delivers the design for it (even if it looks bad on the old collective page) to ensure we solve this asap.

[2019-07-29 07:43] Betree commented on #2280
As mentioned in the original thread having the tier title on the button may not play nicely with https://github.com/opencollective/opencollective/issues/543

I like the idea of simplifying this tho.

[2019-07-29 08:02] Betree commented on #2273
@alanna This is at the top of my todo list. Just need your confirmation on this: do we agree that [access](https://opencollective.com/access)'s balance will be impacted by this change in the following way: all their contributions (6165+5865+3695+3530 = $19255) will be subtracted from the collective balance ($72,796.05 to this day)?

[2019-07-29 08:08] Betree commented on #2279
Hello @IoTopenTech, thanks for contributing on that!

We usually merge the translations once per week. Next batch should be delivered today or tomorrow :slightly_smiling_face:

[2019-07-29 08:08] #2279 closed

[2019-07-29 08:11] Betree commented on #2209
Isn't `Mic for voice recording` already linking to the expense itself?

[2019-07-29 08:35] NotJohs commented on #2056
@Betree can I get more information about this issue.
PS: the twitter link is broken.

[2019-07-29 08:45] Betree opened #2283 "Collective page redirects"
## User story

- As a collective core contributor, I get my previous URL redirected to the new one when I change the slug of my collective.

- As an Open Collective user, I don't want to loose the SEO of my profile when we change the slug.

- As an Open Collective admin, I can manually setup multiple redirects (for example I can decide that `/opensource`, `/open-source` should bother redirect to `

[2019-07-29 09:01] Betree commented on #2056
@NotJohs This issue should be fixed by our transition to `react-select` (see https://github.com/opencollective/opencollective/pull/2135). I'll soon open bounties to migrate the existing selects, stay tuned :wink:

[2019-07-29 09:58] flickz commented on #2253
One of the reasons we couldn't continue with https://github.com/opencollective/opencollective-frontend/pull/1809 was because of how tightly coupled the components in `EditCollective` are, glad to see this issue opened.

[2019-07-29 10:02] Betree commented on #2253
@flickz It may be a good time to start using a library to help us on that topic. I've used [Formik](https://jaredpalmer.com/formik/) in the past, it offers a great pattern to standardize the forms and add validations easily. I'll try to create a POC/RFC for it this week.

[2019-07-29 10:13] flickz commented on #2253
@Betree Sounds good to me

[2019-07-29 10:36] piamancini commented on #2264
Yes, absolutely. Please also note that the agreement is a vertical agnostic platform, which means that we should also consider self-hosted collectives which in essence are collectives with a corporate or individual stripe account. I want to make sure we are not only speaking to non profit legal entities that provide fiscal sponsorship services, but also to communities where are member or a member'

[2019-07-29 10:43] piamancini commented on #2282
Is this the use case of - I created my collective with no host and now want to apply?

[2019-07-29 10:44] piamancini commented on #2281
@alanna, existing collectives should also be able to apply from /edit and Fiscal Host tab

[2019-07-29 10:47] piamancini commented on #2280
Agreed.

I also agree with removing the top Contribute (since we have it already below) and the blue tags for simplicity.

I don't like the idea of putting the title on the button since it's not a call to action

[2019-07-29 10:51] NotJohs commented on #2056
@Betree alright

[2019-07-29 11:05] Betree commented on #2282
@piamancini yes

[2019-07-29 12:52] xdamman commented on #2264
Quick note on the values to transmit:
- Transparency
- Inclusiveness / diversity (those are not distinct values, they are pretty much the same idea)
- Action -> Participation / Contribution / Collaboration (which is the reason why you need transparency)

[2019-07-29 17:48] Memo-Es commented on #2264
As a result of the call of today, we established the next steps to follow for the homepage project:
1. The CTA's and personas must be really clear
1. We should have a rough content draft of the copywriting
1. Then the first approach in a sketch level of how those messages are displayed

##Messages
- The main message to communicate will be: Make your community sustainable, and our primary audience

[2019-07-30 00:00] alanna commented on #2281
@piamancini they can't. Try it yourself. If you go to edit > fiscal host > try to add OSC, it will make you create a new Collective or go through the Github flow.

[2019-07-30 00:19] alanna commented on #2273
Yes that is correct @Betree - sorry I should have been more specific.

This was an unsuccessful attempt at a workaround to do a Collective to Collective transfer across hosts. Next time I think a better process would be for the Collective admin to make a contribution with the Collective balance as the source, and select "bank transfer" as the payment method. Then when I confirm the pending order,

[2019-07-30 00:22] alanna commented on #2209
Yes it is! Wow I didn't even notice that. I guess this is more design feedback than a feature request then.

[2019-07-30 00:22] #2209 closed

[2019-07-30 00:28] alanna commented on #2280
I see the downside to the title being on the button. The problem we were running into is then every button says `contribute` repetitively. But if you think that redundancy is OK and we really want to emphasise that contribute action, then that's fine.

Some Collectives have different actions in mind for certain tiers, like "join" "donate" "buy" etc, and we had a whole conversation about if a Colle

[2019-07-30 00:40] alanna commented on #2282
It would be great to improve this!

My suggestion would be to just have the button simply say `apply`. Then what happens after you click depends on the circumstances.

* If the user has no Collectives → Create new as a pending Collective under this host.
* If the user has one or more Collectives → Show a list of their Collectives and let them select one or choose 'create new'.
 * In an ideal world

[2019-07-30 07:27] Betree commented on #2280
@alanna A contributor already took care of that, it's now possible customize the button (though I just noticed it's not working properly, I'll push a fix for it today).

![image](https://user-images.githubusercontent.com/1556356/62109097-e1dcb380-b2ab-11e9-863c-ecf6dd477b2f.png)

[2019-07-30 07:38] mojoaxel opened #2284 "unable to add/remove contributors"
**Describe the bug**
I'm unable to add new contributors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/visjs/edit/members
2. Click on 'add more contributors'
3. Fill in the empty form.
4. Click 'save'
5. See error: `Validation error: In Support's tier, "Amount" is required`

**Expected behavior**
It should be possible to add/remove contributors!

**Screensh

[2019-07-30 07:53] Betree commented on #2284
@mojoaxel This is because your `Support` tier on https://opencollective.com/visjs/edit/tiers is configured to use a fixed amount, but no amount has been provided. You can either set its type to `Flexible` or set an amount.

We acknowledge that this validation is crazy and totally counter-intuitive. We have a plan to revamp that (#2253). In the mean time, sorry for the inconvenience.

[2019-07-30 08:03] #2284 closed

[2019-07-30 12:02] #1954 closed

[2019-07-30 12:38] piamancini commented on #2282
We should clarify that manual verification will require a similar traction proof like 100 stars in github.

+1 For the sake of pushing through this I would plan for this item after the 1st release.

[2019-07-30 12:40] Betree commented on #1982
Done in https://github.com/opencollective/opencollective-frontend/pull/1787

[2019-07-30 12:40] #1982 closed

[2019-07-30 12:41] Betree commented on #1960
Resolved with https://github.com/opencollective/opencollective/issues/1982

[2019-07-30 12:41] #1960 closed

[2019-07-30 12:42] piamancini commented on #2281
yes, I get that it's not the case now. I meant that we should also modify that path.

[2019-07-30 12:53] piamancini commented on #2264
Thanks Memo!

Some feedback:

these are not values.

Remove Be.

Motivations:
Make their communities sustainable
Grow their communities
Support their communities
Create value by removing complexity for their communities
Manage the overhead of receiving and disbursing funds across different groups

[2019-07-30 13:30] Betree commented on #2273
@alanna Done! Sorry about the delay to get there. Please tell me if I forgot anything:

- https://opencollective.com/access1 is now empty
- Transactions are now associated with https://opencollective.com/access:

![image](https://user-images.githubusercontent.com/1556356/62133056-7829cd00-b2de-11e9-849f-1f0a2d217f28.png)

- Balance for access is now `€53,541.05`

- The memberships has been updated

[2019-07-30 13:30] #2273 closed

[2019-07-30 16:04] #2196 closed

[2019-07-31 02:23] alanna commented on #2273
Thank you!!

[2019-07-31 09:16] luceos commented on #2251
To me it's unclear how this proposal affects:

- collectives that use a fiscal sponsor
- collectives that do not use a fiscal sponsor
- collectives that are a host to other collectives

From what I read this only applies to the last case?

I have a strong feeling you are doing this at the wrong time. Sustainable open source development is a very active topic right now. Any platform backing this go

[2019-07-31 13:54] piamancini opened #2285 "Charge on Stripe not reflected in Transaction Table"
collectiveId=5793 (managed by userId=5162) has two separate $600 payments in stripe, one for 2/7 and one for 5/7, however as you can see in their profile /transactions only one payment it shown.

There is no transaction for that order in the transaction table for the 2/7, you only see the one on 5/7.

All previous transactions are on the 2nd of each month 2/6, 2/5 all the way to 2/2/18 so one hypo

[2019-07-31 13:58] Betree opened #2286 "Move SignIn/SignUp later in the contribution flow"
Initially suggested by @xdamman

**What we do**
(Pick Tier) → Sign up → Pick amount → Pay

**Hypothesis**
Moving the `SignIn` at a later stage of the contribution flow could increase the conversion rate of people who contribute financially.

**Rational basis**
- [Need to complete](https://digitalpsychology.io/need-to-complete/)
- [Foot-in-the-door technique](https://en.wikipedia.org/wiki/Foot-in-t

[2019-07-31 14:33] piamancini commented on #2266
This is not trivial since right now expenses in the data base are linked to a user id not a collective id.
Before design gets involved we need to have a conversation about the feasibility and priority of a change that involves the data structure in the data base.

[2019-07-31 14:42] piamancini commented on #2247
geez @SudharakaP sorry that this was your experience! Also sorry that we missed this issue until now. In the future, please feel free to email support@opencollective.com if your issue gets lost :)

Your profile is fixed and now you have opencollective.com/python-sinhala-education-society-host for your organization and opencollective.com/python-sinhala-education-society-collective for the collectiv

[2019-07-31 16:10] decentralion commented on #2257
@alanna -- I think dogfooding a SourceCred+OpenCollective on SourceCred itself makes loads of sense. Actually, one of my priorities this quarter is to start paying SC contributors based on their cred, so dogfooding on OpenCollective can align perfectly with that goal.

I've written a detailed proposal on how this could work over [on the SourceCred discourse](https://discourse.sourcecred.io/t/dogfo

[2019-08-01 04:13] alanna commented on #2256
The same thing happened to Open Collective Foundation!

I was editing the org description and I noticed the terms link box was empty. It was definitely linked before and somehow disappeared. I'm 100% sure I didn't delete it and I seriously doubt anyone else has been editing that org.

I know this is really hard to troubleshoot but I really think there's a glitch going on.

[2019-08-01 04:39] alanna commented on #2251
Thanks for your thoughts @luceos ! It's helpful to get other views.

Let me answer a couple things that might be unclear. We use the term 'fiscal host' but it means the same thing as fiscal sponsor below. Sorry in advance for how complex all this is. It's our fault for not making it simpler. That's a big motivation for this business model discussion - simplification.

For Collectives in the Open S

[2019-08-01 07:48] quangcaodinhluan opened #2287 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/contribute/backer-10287/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.87 Safari/537.36`

# Technical

[2019-08-01 08:25] Betree commented on #2281
If we change the button to `Apply with [Collective name]`if you already have a collective without host, would that be a good (temporary) fix?

[2019-08-01 09:03] Betree commented on #2256
I did some more investigation and finally found the root cause. Pushing a fix right now.

I'm also adding this to #2253 because it is directly linked to the way edit collective is implemented.

[2019-08-01 11:55] piamancini commented on #2210
Adding bounty candidate here @Betree. Since we already show the donations made in a user's profile, it seems that surfacing the expenses as well should be doable.

[2019-08-01 12:01] Betree commented on #2210
@piamancini With the upcoming v2 we're going to kill the exising users profiles, do we want to invest on adding this to the current profiles?

[2019-08-01 12:04] piamancini commented on #2210
ah of course. Are we adding this feature to v2 though?

[2019-08-01 12:12] Betree opened #2288 "Remove collective goals (once NCP is deployed)"
As per [this answer](https://opencollective.slack.com/archives/C0YFZ3MHP/p1555499071007800) from design, goals will be removed entirely once we migrate everything to the new collective page.

We'll need to remove:

- API
  - From emails (monthly report)
  - From edit collective endpoints

- Frontend
  - Edit goals
  - CollectiveStatsCard
  - CollectiveCover

[2019-08-01 12:14] piamancini opened #2289 "prevent collectives for having 0 admin"
Right now, you can remove all admins from a collective. We should prevent this from happening.
Last admin needs to add a new one (that needs to validate the email) before removing themselves.

[2019-08-01 12:18] Betree commented on #2288
Assigning @cuiki as he's the decision maker on this one.

[2019-08-01 12:24] Betree commented on #2287
Hello, thanks for opening this issue.

Could you provide more details about how this happened and/or steps to reproduce?

[2019-08-01 12:24] #2287 closed

[2019-08-01 12:26] piamancini commented on #2288
are we assuming that only tiers have goals, as oppose to general collective goals @cuiki ?

[2019-08-01 12:27] Betree commented on #2058
@brymut any news on that one?

[2019-08-01 12:27] Betree commented on #2094
@brymut any news on that one?

[2019-08-01 12:37] Betree commented on #1198
@xdamman could you provide more info? From what I see in `templates/emails/collective.member.created.hbs` the "new backer" email already use `collectivePath`:

https://github.com/opencollective/opencollective-api/blob/61791ecfb7892322578e1d4ab6abdb84a5cc7f9c/templates/emails/collective.member.created.hbs#L15

![image](https://user-images.githubusercontent.com/1556356/62293829-ba334a00-b469-11e9-80

[2019-08-01 12:45] Betree commented on #1955
@raulgrafico Let's make sure we take this into account for the new profiles.

[2019-08-01 12:46] xdamman commented on #1198
Then maybe it has been fixed since then. It’s a year old issue.

[2019-08-01 12:46] #1198 closed

[2019-08-01 12:52] Betree commented on #2080
@raulgrafico Let's make sure we take this into account for the new profiles.

[2019-08-01 13:34] Betree commented on #2018
The problem with that is that we need to refresh the page once the flow is completed to account the money that has been added from PayPal. I just tried locally and it makes the displayed balance go out of sync because it is configured to show the balance of the payout method `A` and when you refill the balance it actually creates a new payout method `B`.

I agree that it's not a great experience b

[2019-08-01 13:47] Betree commented on #2109
When you submit an expense, you currently see a page like this:

![image](https://user-images.githubusercontent.com/1556356/62297898-49446000-b472-11e9-8667-7da0edcce000.png)

Instead we want users to be redirected to the expense URL (`/{collective_slug}/expenses/{expense_id}`).

# Specs

- [ ] Redirect users with `Router.pushRoute` when the expense is created sucessfully. Add a special query para

[2019-08-01 13:50] Betree commented on #2109
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 13:57] Betree commented on #2200
# Specs

- [ ] Show year on event's cover for `endsAt` (https://github.com/opencollective/opencollective-frontend/blob/6cc7d93415ce92cff9877f48307179383c1b0af8/components/CollectiveCover.js#L139)

- [ ] Hide `tickets` button on the event's cover if the event is passed already

- [ ] In `EventsWithData`, show the year of the event (https://github.com/opencollective/opencollective-frontend/blob/7a19

[2019-08-01 13:59] Betree commented on #2200
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 14:01] Betree commented on #2210
@raulgrafico Can you confirm?

[2019-08-01 16:40] lindatalu opened #2290 "Collective Page→ Feedback Navigation Collective Page"
## User story
Here under we have option A and B for Navigation in te collective page.
This is to collect feedback for both options pros and cons.

## Referenced Issues
#1928

## Links

Option A
https://tafka.d.pr/S5GyYn

Option B
https://tafka.d.pr/6IwscL

[2019-08-01 17:29] lindatalu opened #2291 "Collective Page→ Feedback Discover Collective Cards"
## User story

The purpose of the issue is to receive feedback for the navigation in the cards

## Link
https://tafka.d.pr/NundxW

[2019-08-01 18:36] Betree commented on #1590
# Specs

## API

- Create a new data loader in `server/graphql/loaders.js` to load expenses by ids
- In `TransactionExpenseType`, add an `expense` field that resolves to an `ExpenseType`. Use the dataloader to load the expenses.

## Frontend

- In `lib/graphql/queries.js` -> `transactionFields` fetch the attached `expense.id` when appropriate
- On the transactions page (`/{collective_slug}/transac

[2019-08-01 18:37] Betree commented on #1590
A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fr

[2019-08-01 18:38] Betree commented on #1785
This will be solved by https://github.com/opencollective/opencollective-frontend/pull/2265

[2019-08-01 19:01] Betree commented on #2227
# Specs

- Implement the feature specified above using a javascript `confirm`.
- The message should be internationalized using `intl.formatMessage`.
- If user clicks `no`, don't remove the contributor from the list
- The message should say:

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines), especially:

* The strings must

[2019-08-01 19:01] Betree commented on #2227
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 19:08] Betree opened #2292 "Migrate to StyledSelect on Discover page"
The `/discover` page still uses `DeprecatedStyledSelect`. We want to migrate that to our new `StyledSelect` component, that is basically just an instance of [react-select](https://react-select.com) with our custom styles.

The labels must stay internationalized, you can either do that using:
- The `getOptionLabel` prop
- Or by pre-generating the options with the correct label

---

Please follow o

[2019-08-01 19:08] Betree commented on #2292
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 19:11] Betree opened #2293 "Migrate to StyledSelect on Edit Webhooks page"
The `{collective_slug}/edit/webhooks` page still uses `DeprecatedStyledSelect`. We want to migrate that to our new `StyledSelect` component, that is basically just an instance of [react-select](https://react-select.com) with our custom styles.

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines), especially:

* The strings mu

[2019-08-01 19:11] Betree commented on #2293
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 19:15] Betree opened #2294 "Migrate to StyledSelect on PaymentMethodSelect"
The `PaymentMethodSelect` component still uses `DeprecatedStyledSelect`. We want to migrate that to our new `StyledSelect` component, that is basically just an instance of [react-select](https://react-select.com) with our custom styles.

You can use the `getOptionLabel` prop to generate the labels (see react-select docs).

To test this, you can either:
- Go on `{collective_slug}/gift-cards-create`

[2019-08-01 19:16] Betree commented on #2294
A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fron

[2019-08-01 19:23] Betree commented on #1764
The new version introduced in https://github.com/opencollective/opencollective-frontend/pull/1467 seems good enough to me. Let's follow up in future issues if we think we should still improve it.

[2019-08-01 19:23] #1764 closed

[2019-08-01 19:26] SudharakaP commented on #2247
@piamancini : No worries 😄 Thanks much for solving the problem. Yes, I'll email directly if I have any further problems. 👍

[2019-08-01 19:26] #2247 closed

[2019-08-01 19:26] #1702 closed

[2019-08-01 19:29] Betree commented on #2118
Resolved by https://github.com/opencollective/opencollective-frontend/pull/2245

[2019-08-01 19:29] #2118 closed

[2019-08-01 19:31] Betree commented on #2014
Resolved by https://github.com/opencollective/opencollective-frontend/pull/2245

[2019-08-01 19:31] #2014 closed

[2019-08-01 19:33] Betree commented on #2016
We now sanitize the data to only include safe items

[2019-08-01 19:33] #2016 closed

[2019-08-01 19:35] Betree commented on #2019
I think this has been solved by https://github.com/opencollective/opencollective-frontend/pull/2049, I now see the correct value in `marketingPage` when I log `intl.locale`.

[2019-08-01 19:35] #2019 closed

[2019-08-01 19:38] Betree commented on #2020
A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:warning: This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

:arrow_right: [More info](https://github.com/opencollective/opencollective-fr

[2019-08-01 19:41] Betree commented on #2056
Closing this issue in favor of migrating to the new `StyledSelect` (that relies on react-select)

See #2292 #2293 #2294

[2019-08-01 19:41] #2056 closed

[2019-08-01 19:44] Betree commented on #2175
Closing as there's no immediate actionable. Feel free to open new issues to extract the ideas discussed here.

[2019-08-01 19:44] #2175 closed

[2019-08-01 19:53] #2220 closed

[2019-08-01 19:56] #2054 closed

[2019-08-01 19:58] #1785 closed

[2019-08-01 19:58] #2256 closed

[2019-08-01 20:00] #2191 closed

[2019-08-01 20:02] #2250 closed

[2019-08-01 20:39] xdamman opened #2295 "Onboarding flow for new collectives / hosts: personas"
The first step is to clearly identify the personas of the users that will actually come to open collective to create a collective.

I see 3 of them that I’ll describe below. Feel free to add to this. The more stories we have, the better we will be able to meet their expectations.

1- Founder/Core contributor

“I want to collect money for my (open source) community.”

This persona is attracted by t

[2019-08-01 20:49] Betree commented on #2132
Fixed by https://github.com/opencollective/opencollective-api/pull/2357 (not yet deployed)

[2019-08-01 20:49] #2132 closed

[2019-08-01 22:01] alanna opened #2296 "Don't create multiple accounts for the same user via alternate emails"
I recently invited someone as an admin of an Organization and a Collective, but I used an alternate email for them and therefore the system created a new account. Instead, when the user gets the email notification, they should click "accept invitation" and log into the Open Collective account they want the role associated with, regardless of email used.

[2019-08-01 22:12] alanna commented on #2018
I think keeping the filters after redirect is a good solution. That would help a lot, because right now I need to continually reload the right filter and the page is so slow.

[2019-08-01 23:13] alanna commented on #2295
I conceive of this quite differently in light of the new strategy. I feel we need to think in those terms. My ideas are not necessarily in conflict with what @xdamman said but just structured very differently in my head.

@Memo-Es asked me to think about personas and flows for the new homepage design, so that was my starting point, but ultimately I end up at a similar place to this issue so I'm go

[2019-08-01 23:30] alanna commented on #2290
I would vote for A because otherwise you lose the context of being on a Collective page.

[2019-08-01 23:34] alanna commented on #2281
@Betree that would help in a lot of cases. It doesn't fix #2154 (a relatively rare situation), but what you described would at least get us back to how it worked before.

[2019-08-02 03:39] alanna opened #2297 "Include financial contributor contact info in notification"
## User story
As a core contributor, I want to be able to contact new financial contributors to my Collective, so that I can connect with them and build a relationship.

## MVP
Add an 'email' field to the email that core contributors get when a new financial contributor gives to their Collective.

This is a user requested feature via support.

[2019-08-02 05:32] Memo-Es commented on #2295
Thank you @xdamman for starting this discussion,

I very much agree with @alanna 's idea of "Don't try to tell multiple stories at once - instead guide people to where they can be told one story specifically for them" for the homepage...

I think both are correct, but the way I see it they consider different phases of the user cycle inside OpenCollective. Let I get myself clear:

This is an onboar

[2019-08-02 05:34] Memo-Es commented on #2264
Thank you, Pia, there were a few errors in the markdown formatting.

Also, there is a discussion opened by @xdamman that directly relates to this discussion 👉 #2295

[2019-08-02 07:42] Betree commented on #2290
- In A my only concern is how it will look mobile/tablet, we already have users saying that the current menu for V2 is too big (#2225). I'm not sure that we need to fix it in there because it doesn't help you to navigate on the page.

- In B the sudden change of the NavBar feels unexpected. Having the collective info fixed only during 200px of the scroll doesn't make much sense to me. I'd rather h

[2019-08-02 07:53] Betree commented on #2250
[Updated](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fopencollective.com)

![image](https://user-images.githubusercontent.com/1556356/62353635-5bbea800-b50b-11e9-9517-c9080c512a59.png)

[2019-08-02 09:56] piamancini commented on #2290
I agree with Ben that B feels strange, the double step.

I don't agree that you lose the context of the collective page because you still have it at the top, it's just not fixed. It's actually what GitHub does right here and I find it pretty clear.

+1

I would vote for B without the double step

[2019-08-02 10:42] xdamman commented on #2290
Thank you for those videos, it’s so great to be able to see those behaviors in action 👌

I agree with all comments. We want to keep it as small as possible to maximize the screen real estate for the conversation. So A is way too tall.

I’d suggest a mix of the two.

Also, to simplify the top bar, I’d remove “Pricing”. Just having it on the homepage and within the Help & Docs is more than enough.

[2019-08-02 11:16] piamancini commented on #2291
I like this behaviour better than the hover. Are we planning this for both mobile and desktop?
@Betree what do you think with regards to implementation complexity?

[2019-08-02 11:38] Betree commented on #2291
Should be alright. I'd be careful with keeping the mask with the bubbles for the banner image, it can be quite expensive for performances to have too much of these on the page. The previous version of the cards was more optimized in this regard.

@lindatalu
- How do we choose the profiles to show in `Last Activity by`?
- What triggers the effect to show the description?

[2019-08-02 11:48] Betree opened #2298 "Monthly report email: Empty "You have contributed""
In the user monthly report (`templates/emails/user.monthlyreport.hbs`), the amount next to `You have contributed` is not displayed. From the email I received I can say that this has been broken since (at least) December 2018.

---

![image](https://user-images.githubusercontent.com/1556356/62368053-b962ec80-b52b-11e9-836d-a5af94b39388.png)

---

**Expected behavior**

Should display the amount act

[2019-08-02 12:41] piamancini commented on #2291
good catch

[2019-08-02 14:20] piamancini commented on #2295
### Feedback for @xdamman

The ability to raise funds when you can't do it otherwise for 10% is only expensive if they community has another option. If not, it's actually quite cheap. It's from 0 to 1.

This seems like super specific for a homepage persona. I think it's safe to assume that the core contributor creating the collective is also the person in charge of finances for narrative purposes.

[2019-08-02 16:51] Betree opened #2299 "Heavy avatars returns a 500 error"
The avatar on [this page](https://opencollective.com/lajacqueline/pay/details) is not displayed. The server returns a 500 error for https://images.opencollective.com/lajacqueline/logo.png.

The logs say:
[code]

A possible explanation is that https://opencollective-production.s3-us-west-1.amazonaws.com/9140f6c0-0f0f-11e8-bedc-5dca82356013.jpg is pretty heavy, it's more than 6mo.

## Solution

Send

[2019-08-02 17:29] Betree commented on #1829
@cuiki I just checked https://www.figma.com/file/M4OD1AM4nN8kzEhnO3zILo/OC.COM-05-%2F-Collectives-%E2%86%92-Contribute?node-id=0%3A8447 and did not find a design for "Complete your pledge". Would be great if we can have something here, this is the only blocker left to get rid of the old contribution flow. I can provide details if you don't remember what this is about.

[2019-08-03 05:28] alanna commented on #2295
Based on what @piamancini said, I think we'll need to clarify the details of the new business model to actually nail clear personas and workflows here. I agree that works if it's free for that whole phase before finding a host. But since the "pricing" answer comes from the host, we need to get them in a host before we tell that part of the story, and pricing is one of the first questions people as

[2019-08-03 05:45] alanna commented on #2250
Nice!

[2019-08-03 05:47] alanna opened #2300 "Paypal error: "based in a country that isn't enabled to receive payments""
**Describe the bug**
When I try to pay this expense, I get this Paypal error. The user says his account should not be restricted. Do we know what causes this? The error implies it's his country but he says it should work.

https://opencollective.com/phalcon/expenses/9255

[2019-08-03 09:51] Betree commented on #2300
As per https://www.paypal-community.com/t5/About-Payments/Can-t-Recieve-money-Error-539041/td-p/1145656, the user should try to see if `USD` is properly listed on https://www.paypal.com/myaccount/money/balances/summary. He can add it if it's not the case:

![image](https://user-images.githubusercontent.com/1556356/62410329-7add3880-b5e4-11e9-8fab-3a66354f8e8a.png)

If it doesn't solve the problem,

[2019-08-03 10:47] Rexben001 commented on #2200
Working on this from OSCA Lagos

[2019-08-03 10:48] kleva-j commented on #2109
Working on this

[2019-08-03 10:52] nonsodaniel commented on #2293
From Osca event

[2019-08-03 10:56] sudo-kaizen commented on #2227
I choose to work on this

[2019-08-03 10:56] Nelson-Chinedu commented on #2292
from osca event and will like to work on this issue

[2019-08-03 10:56] iamuchejude commented on #1590
Hello! I am currently at OSCA Lagos even and am working on fixing this issue.

[2019-08-03 10:58] JohnnyAir commented on #2294
John From Osca

[2019-08-03 11:04] viva-jasper commented on #2110
Hello, I'm Jasper from OSCA, i've opted in to work on this issue...Thanks

[2019-08-03 11:12] DeolaJ commented on #2216
My name is Adeola (from OSCA Lagos). I have picked this issue

[2019-08-03 11:25] Betree commented on #2227
@sudo-kaizen it's all yours :)

[2019-08-03 11:35] sudo-kaizen commented on #2227
Okay. Thanks. How can I replicate this bug?

[2019-08-03 11:37] Betree commented on #2227
1. Create a collective
2. Go to the edit members page (`/{your_collective}/edit/members`)
3. Add members
4. Try to remove them with `remove Core Contributor`

[2019-08-03 11:39] DeolaJ commented on #2216
Please how can I navigate to this page?

[2019-08-03 11:46] Betree commented on #2216
Hello @DeolaJ, this issue is not part of the OSCA event. Please check https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3Aosca

[2019-08-03 11:51] DeolaJ commented on #2216
All right. Thank you

[2019-08-03 11:51] #2238 closed

[2019-08-03 11:53] DeolaJ commented on #1649
My name is Adeola (OSCA Lagos). I have picked this isue

[2019-08-03 11:55] DeolaJ commented on #1649
Please how do I navigate to the page?

[2019-08-03 12:17] znarf commented on #1649
@DeolaJ for example https://staging.opencollective.com/babel/donate (make sure you're not already authenticated)

[2019-08-03 12:19] DeolaJ commented on #1649
Thank you

[2019-08-03 12:40] JaybeeClassical commented on #2156
I'm going through this and would like to work on this
From osca Lagos

[2019-08-03 12:49] Rexben001 commented on #2200
https://github.com/opencollective/opencollective-frontend/pull/2282

[2019-08-03 13:08] Rexben001 commented on #1733
I'm from OSCA Lagos, I'm working on this

[2019-08-03 13:08] josiaholatunde commented on #1666
I'm from Osca Lagos and would be working on this

[2019-08-03 19:00] Gbahdeyboh commented on #2203
I'm from OSCA and i'm working on this issue

[2019-08-03 19:19] Gbahdeyboh commented on #2203
https://github.com/opencollective/opencollective-api/pull/2363

[2019-08-03 19:28] Gbahdeyboh commented on #1773
I'm from osca and i'm working on this already

[2019-08-03 19:43] Gbahdeyboh commented on #1773
https://github.com/opencollective/opencollective-api/pull/2364

[2019-08-03 20:06] chidimo commented on #2227
I raised a PR on this issue today at OSCA lagos.
Kindly take a look
https://github.com/opencollective/opencollective-frontend

[2019-08-04 10:57] xdamman commented on #2295
I can totally see the two different approaches here. @alanna’s one is a great one for a very decentralized approach where we are super focused on developing the federation of hosts.

But I don’t think that we are ready for that yet. Fiscal hosting is a very complex topic to explain and that slows down our growth a big deal. Doing so would position ourselves into the B2B type of business with much

[2019-08-04 13:03] #1971 closed

[2019-08-04 23:38] curnow1278 opened #2301 "Unexpected error when changing profile"
# Describe the bug

I got an unexpected error on https://opencollective.com/eric-curnow/edit while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36`

# Technical details

[code]

[2019-08-05 05:02] alanna commented on #2289
Another example of how this can happen came through support today.

User wanted to delete his account and his Collective. He deleted his account. But then lost access to delete his Collective, which was left with 0 admins.

We should not allow someone to delete their account if they are the only admin of a Collective.

[2019-08-05 05:26] alanna commented on #2300
Thanks! I'll tell the user.

[2019-08-05 05:29] alanna commented on #1038
I still this this is a super great idea. It would make the experience of recurring small expenses 1000x better for Collectives. My question is, is this the best approach, compared to 1) emailing expenses which @Betree has worked on, or 2) recurring expenses which @raulgrafico is looking at as part of the new expense design.

@piamancini

[2019-08-05 05:31] alanna commented on #1540
I really want @Betree 's solution above to be implemented. This is a rare situation but the consequences for making this (very easy to make) mistake are really bad. The system shouldn't allow it to happen.

[2019-08-05 05:32] alanna commented on #1993
I think this will become even more relevant now that we're making it easier for users to contact Collective admins. It's likely they will get refund requests. I don't see any downside to giving them this permission, as long as they have enough balance in their account to cover the refund amount.

[2019-08-05 07:23] Betree commented on #2203
@alanna There's already a link to the expense in the email template you mentioned:

![image](https://user-images.githubusercontent.com/1556356/62446105-29f34e80-b762-11e9-92e7-9e4d8334c8c1.png)

I think the one you're thinking about is `collective.expense.approved.for.host.hbs` (this one doesn't have any link to the expense):

![image](https://user-images.githubusercontent.com/1556356/62446285-a12

[2019-08-05 08:09] sudo-kaizen commented on #2227
I've fixed this issue, but I'm having issues with merging. I'm still working on it

[2019-08-05 09:05] znarf commented on #2245
Fixed in https://github.com/opencollective/opencollective-frontend/pull/2199 and https://github.com/opencollective/opencollective-images/pull/85

[2019-08-05 09:05] #2245 closed

[2019-08-05 09:07] znarf commented on #1408
any update @xdamman?

[2019-08-05 11:05] piamancini commented on #2295
+1 @xdamman

[2019-08-05 15:00] xdamman commented on #1408
Not fixed. Maybe it’s make a small bounty for this? Basically we could assume that the first transaction should set the currency of the user if none has been set. We should also allow people to change their default currency in their settings.

[2019-08-05 15:54] staltz opened #2302 "Emails not sent/received"
**Describe the bug**

I know that in the beginning of the month there are typically report emails sent by OC to collectives that I manage, but this month I haven't seen any. I also wrote an update to a collective, and published it. A friend who backs that collective said they received the email, but I haven't (I typically receive them, even if I publish it).

I have checked my spam inbox, and they

[2019-08-05 16:25] viva-jasper commented on #2110
@znarf , I'm currently working on this issue , but i'm a bit confused about what you mean by 'redirect to the "custom financial contribution"'....Kindly explain, so that i can proceed with making my PR

Thanks

[2019-08-05 17:47] znarf commented on #2302
We use Mailgun for delivering email. I looked in the dashboard and noticed your personal email address was in the "Complaints" list there since "07/08/19 08:45 AM".

Since this date, you're not receiving any email from opencollective.com, we can see such error in the logs "Failed: hello@manyverse.opencollective.com → xxxx@staltz.com 'August 2019 update' Not delivering to a user who marked your mes

[2019-08-05 19:35] aptalca opened #2303 "Frontend: "Core contributor" vs "Member" labeling is confusing"
On the Open Collective frontend, while viewing a collective's page in v1, team members are marked as either "Core Contributor" or "Contributor". On v2, the contributor list contains "Core Contributors", "Financial Contributors" and "Members", of which only Core Contributors and Financial Contributors are filterable.

Can this marking/labeling be improved? In reality, the only difference between "C

[2019-08-05 20:12] Betree commented on #2303
Hi @aptalca, thanks for reporting this and for taking the time to share your use case with LinuxServer.

The use of `Member` on the new collective page is definitely a mistake, our terminology clearly say that they should be called `Contributor`. This will be fixed during the week.

I'll let @alanna review and eventually reply to that part as she's working actively on the terminology.

One last th

[2019-08-05 20:24] Betree commented on #2303
Also related: you can see our current terminology definitions on https://docs.opencollective.com/help/about/glossary#collectives. It currently defines that:

* _**Core Contributors:**_  These are all the individuals that take part in running a collective.
* _**Collective Admins:**_ These individuals are core-contributors that have been given full-edition capabilities over the collective’s settings

[2019-08-05 20:41] Betree commented on #2227
Resolved by @sudo-kaizen in https://github.com/opencollective/opencollective-frontend/pull/2285

:trophy: This issue is now completed.

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

-

[2019-08-05 20:41] #2227 closed

[2019-08-05 20:43] sudo-kaizen commented on #2227
Awesome! Thanks!

[2019-08-05 22:23] aptalca commented on #2303
thanks @Betree

Just looked through the gloassary you linked and now I'm more confused.

Glossary lists:
1) Core Contributor
2) Collective Admin

The team editing page in the frontend is titled "Edit Core Contributors", and lets me select one of these two options for each member:
1) Admin
2) Contributor

But the frontend (v1) lists only the admins as "Core Contributor" whereas the others are simpl

[2019-08-05 22:48] Betree commented on #2303
They definitely should. The terminology update is quite fresh and there are still some places that needs to be updated. I'll fix it for both the current and the new collective pages.

[2019-08-06 01:03] lindatalu opened #2304 "Collective Page→ Feedback Profiles Collective Page"
## User story

This issue is to collect feedback for profiles on collective Page.
As requested here under the images instead of the Figma complete file.

## Referenced Issues
#1928

## File
**Large Profile-User - Empty**
![01-Large Profile-User - Empty](https://user-images.githubusercontent.com/34247919/62503876-c85fce00-b7bb-11e9-905f-09afd4b170e5.png)
**Large Profile-User - Half]**
![02-Large Pr

[2019-08-06 03:14] alanna commented on #2027
This still comes up constantly. @raulgrafico will this be fixed in the expense improvements project?

One thought.... why not allow expense submitters to edit the expense any time, and just make it go back to unapproved status if they do? Why disallow them from editing approved expenses at all?

[2019-08-06 04:06] raulgrafico commented on #2027
@alanna reject an approved expense is already on our scope for the new Expense Flow.
Re the edit at anytime feature, we only need to create a real flow to make sure we don't have logic gaps, because that is a delicate subject, maybe we can start working on those requirements on our weekly call.

[2019-08-06 04:22] alanna commented on #2027
This issue specifies the ability to `unapprove` expenses. That's the part I want to make sure is in the design.

Regarding changes to approved expenses, it would work the same as when an admin makes a change now - it would go back to unapproved status.

[2019-08-06 04:34] alanna commented on #2303
Sorry for the confusion @aptalca - we're in the middle of cleaning up terminology across the app. As @Betree explained, members shouldn't be a thing. There's only Core Contributors, some of whom may also have admin status. Feel free to point out any other places you find where this is incorrect in the UI.

I'm going to work on updating the glossary.

[2019-08-06 04:49] alanna commented on #2295
I agree. That's why I think the homepage should more be a place people go to get quickly filtered to a different page that speaks directly to their persona, not a page trying to explain everything in one place.

That’s already in and on itself a very cool value proposition for free. Low barrier of entry (no need for a stripe account) -> We can see a lot of growth in that segment.

I am very skepti

[2019-08-06 06:02] az89629900089 opened #2305 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/hyper-star-samsung-next-decentralization-grant/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 9; X19) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.143 Mobile Safa

[2019-08-06 06:39] znarf commented on #2165
@flickz can you have a look? The GraphQL property is `canApply`. In the database it's `collective.settings.apply`.

[2019-08-06 06:54] staltz commented on #2302
Thanks for investigating it! By the way, I'm also very interested in the stats that are in the monthly report email, is there anyway I could get that?

[2019-08-06 07:23] znarf commented on #2302
Looks like Mailgun is tracking openings, so the data is there, but we unfortunately don't have any report we can share.

[2019-08-06 07:39] znarf opened #2306 "Error in Tax Form tests"
**Describe the bug**

When executing CI, the Tax Form tests are generating an error.

See for example: https://circleci.com/gh/opencollective/opencollective-api/17389

[code]

[2019-08-06 08:45] pietgeursen commented on #2306
This is really strange. I never saw anything like this when I was developing.

There is this issue: https://github.com/sequelize/sequelize/issues/3781 that _might_ be the problem. Has the pg module or something pg related been updated recently?

[2019-08-06 09:52] piamancini commented on #2304
Thank you!

Profile pages (not on collective Page)

@raulgrafico there seems to be an awful lot of white space between the end of the collectives card and the transactions. This is not the case in the rest of the images.

One says 'expenses and donations' the other 'credits and debits'. I prefer we use 'expenses and donations'

Transaction filter tabs are not aligned

- This should be Multiple Col

[2019-08-06 09:53] znarf commented on #2306
The first CI run highlighting the error is https://circleci.com/gh/opencollective/opencollective-api/17348 triggered after https://github.com/opencollective/opencollective-api/pull/2351

@Betree any idea?

[2019-08-06 10:09] mixmix commented on #2193
hey @Betree I just approved an expense and saw the solution to this issue in action!
my heart sang for the clarity I experienced in the process.

THANK YOU :heart: :heart: :heart:

[2019-08-06 10:16] mixmix opened #2307 "Strangely delayed expense?"
I got this email about a new expense.
It came into my email August 4th :

**expense**: https://opencollective.com/secure-scuttlebutt-consortium/expenses/9382

when I approved the expense it looks like it was made ... a month ago (July 2):

---

**Questions**:
- is this a bug?
- did Luandro start making an expense but not push submit or something?

I'm pretty sure I've been watching these expenses

[2019-08-06 10:38] Betree commented on #2193
Thanks for the feedback @mixmix! Really happy to hear that :smiley:

[2019-08-06 10:46] Betree commented on #2306
Found it, I introduced this by logging the user object -- logging sequelize models is usually a bad idea. Pushing a fix now.

[2019-08-06 10:53] #2306 closed

[2019-08-06 10:53] #2265 closed

[2019-08-06 12:30] sudo-kaizen commented on #2270
@Beetree Are you going to create an issue for this or you have it assigned to yourself already? Is this really a frontend related issue?

[2019-08-06 17:53] raulgrafico commented on #2304
Hi Pia, I've made the changes on the profile pages, re the tab for events on organizations, can you please review this and give approval so we can move this from WIP to Done for Ben.

Re the tab for events on hosts and organization, I used the spec you created and the references on the current profile pages and I wasn't sure if organizations or host can have that tab, I just removed it. :)

![01-L

[2019-08-06 18:56] Betree commented on #2304
I'm good with most of the proposed design. It's important that we address these questions from @piamancini above https://github.com/opencollective/opencollective/issues/2304#issuecomment-518598958 before we can move on:

- Where is the dashboard link?
- Where is the link to manage subscriptions?

@piamancini I'm not sure to follow the following one. We indeed loose the link to manage the subscript

[2019-08-06 21:37] aptalca commented on #2303
No worries, just wanted to point it out. I'll go through both v1 and v2 and let you know if I notice other discrepancies.

Thanks

[2019-08-07 08:29] znarf opened #2308 "Modules option for next/dynamic has been deprecated"
When running `npm run build:next`, we can see the following warning in the output.

[code]

This is currently used in https://github.com/opencollective/opencollective-frontend/blob/master/components/collective-page/SectionAbout.js

We should move away from this pattern.

[2019-08-07 08:31] #1879 closed

[2019-08-07 08:36] znarf commented on #2289
This is a regular and pretty frustrating issues for our users.

@flickz can you have a look?

[2019-08-07 08:40] Betree commented on #2308
I already had this one in my TODO

[2019-08-07 08:44] znarf commented on #2144
@alanna Sure. If you want us to investigate, please don't pay the expense so that we can have a look at the live data. We'll act quickly so you can pay the expense after ~24 hours.

[2019-08-07 08:46] flickz commented on #2289
Alright I'm on it

[2019-08-07 09:33] #1878 closed

[2019-08-07 11:11] lukeeey opened #2309 "Fiscal host settings"
**Describe the bug**
The Fiscal Host can be removed with any confirmation and once its gone, you cant apply to join it again as the slug is already taken by your collective.

**Expected behavior**
I would be able to join the host again without deleting my collective and creating it again from the host page (https://opencollective.com/opensource)

Also it would be nice if there was a confirmation b

[2019-08-07 11:31] dodgepong commented on #1182
Would it be possible for individuals to be able to submit expenses as any currency and have it automatically converted to the collective's currency according to current exchange rates (shown live to the user as they are submitting an expense)?

At the very least, could the "Amount" box in the expenses form indicate the collective's currency? `$` is 't sufficient due to multiple countries using dif

[2019-08-07 11:40] flickz commented on #2289
I've been thinking about the best logic for this because of the way `editMembers`  method is currently written, can we establish a ground rule that says:

"As an admin, you can't remove yourself from a collective, you have to inform another admin member of the collective to remove you. Or add a new admin member that can do that for you"

This would prevent a collective at any point in time from ha

[2019-08-07 11:51] flickz commented on #2309
@lukeeey Thank you for reporting this, can you describe how to recreate the issue with screenshot maybe?

[2019-08-07 12:04] znarf commented on #2289
@flickz Sounds like a sensible option.

[2019-08-07 12:06] flickz commented on #2307
@mixmix This is not actually a bug when creating expense, you can select the date expense was due. Could be 2 months ago but you didn't submit immediately.

<img width="859" alt="Screenshot 2019-08-07 at 12 58 03 PM" src="https://user-images.githubusercontent.com/15707013/62621253-569a9800-b913-11e9-8bae-212282577359.png">

I think what we can do is to sort the expenses based on the time it was cr

[2019-08-07 12:09] Betree commented on #2304
Can we add a screenshot collective card's hover state? I don't know how to trigger it on Figma.

Also when we look at these cards from a user or an organization page I think that we don't care that much about the number of contributors but we **do** care about how much and since how long this user/org has contributed. The previous version of the card were better contextualized on this regard.

![i

[2019-08-07 12:12] flickz commented on #2305
@az89629900089 Please provide more information on the error.

[2019-08-07 13:17] lukeeey commented on #2309
No because i dont fancy doing it again. I explained it and its extremely easy to do, just click the button to remove the host

[2019-08-07 13:41] znarf commented on #2156
It's a bit complicated to do for external contributors, we will do that internally.

[2019-08-07 13:54] JaybeeClassical commented on #2156
So what do you suggest i do to this issue?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, 7 Aug 2019 at 14:41, François Hod

[2019-08-07 14:07] znarf commented on #2156
@JaybeeClassical unless you already have a working solution, it's best to stop looking at it and let someone from our team take care of it.

[2019-08-07 14:47] flickz commented on #2165
Closed in https://github.com/opencollective/opencollective-frontend/pull/2300

[2019-08-07 14:47] #2165 closed

[2019-08-07 15:10] Betree opened #2310 "White logos are not visible on the new collective page"
Similar to #1689

This issue has already been reported in https://github.com/opencollective/opencollective/issues/2225#issuecomment-511247060 and on Figma but it's critical that we find a proper solution before the realease of the new collective page.

@raulgrafico do you have a plan/ideas for this?

**Examples**
- https://opencollective.com/triplebyte/v2
- https://opencollective.com/gulpjs/v2

![

[2019-08-07 19:27] znarf commented on #2038
Closed in https://github.com/opencollective/opencollective-frontend/pull/2323

[2019-08-07 19:27] #2038 closed

[2019-08-07 20:21] Nelson-Chinedu commented on #2292
Hey @Betree Good day... have fixed the issue on the discover page but it seems am having some conflict regarding the pacakage-lock.json file. i actually installed the dependencies just to run it locally on my pc, after that trying to raise a PR after the test ran successfully i noticed there are some conflicts in the package-lock.json. will like to know what to do before proceeding below is the fi

[2019-08-07 21:00] Betree commented on #2292
You don't need to commit your changes to pzckagle-lock.json, so you can simply ignore your local changes

[2019-08-07 22:39] alanna opened #2311 "Invalid platform fees when adding funds to Organization"
This is what I see when adding funds to an Organization:

<img width="617" alt="Screen Shot 2019-08-08 at 10 09 10 AM" src="https://user-images.githubusercontent.com/5498878/62661333-d7fe3300-b9c4-11e9-98fd-c937034117ce.png">

It says a 5% platform fee should be applied, but it's showing $0.00 deduction.

I'm also unclear about what this means for when the Org admin sets up a contribution. In this

[2019-08-08 02:21] mixmix commented on #2307
oh interesting, thank you!

On Aug 8 2019, at 12:06 am, Oluwaseun Omoyajowo <notifications@github.com> wrote:

[2019-08-08 02:30] Nelson-Chinedu commented on #2292
Oh ok... thanks

[2019-08-08 04:56] alanna commented on #1723
In light of our strategic decision to focus on being a product for diverse hosts, I would put this issue forward for potential prioritisation.

This is also very relevant for the new business model discussion @xdamman is leading. To make our proposed new model work, we need to enable hosts to set up and collect fees from their Collectives in the way that works best for them (free, monthly per Coll

[2019-08-08 05:01] alanna commented on #1384
I really want this... we encounter problems with this all the time in support and when dealing with expenses. I use the annoying workaround to send expenses back to pending status dozens of times a week.

[2019-08-08 05:05] alanna commented on #2289
Sounds good @flickz - once you confirm how it will work let me know and I can write some help text for you to use when someone needs to be informed why they can't delete themselves.

[2019-08-08 07:00] #2281 closed

[2019-08-08 07:21] Betree commented on #2311
The 5% is hard-coded in the string, the real number here is `$0.00` and this is related to a recent change I've made. I need some clarification about this to fix properly, so is the following correct:
- There should not be any platform fees when host add funds to a collective
- There should be a 5% platform fee when adding funds to an organization

Also are the funds in the screenshot already adde

[2019-08-08 07:24] znarf commented on #2305
Closing. Feel free to re-open if you have more details.

[2019-08-08 07:24] #2305 closed

[2019-08-08 07:25] znarf commented on #2301
Closing. Feel free to re-open if you have more details.

[2019-08-08 07:25] #2301 closed

[2019-08-08 08:11] xdamman commented on #2295
We don’t really offer it. It’s such a hidden feature that no one knows they can actually do it. There is no easy way to record money in. You first need to create a host (which requires you to connect a stripe account!), then you can “add funds”. So no, I’d argue we don’t offer this option right now.

The biggest challenges with a spreadsheet (and I’ve been there with Tipbox), is the management of

[2019-08-08 08:42] znarf opened #2312 "Use official "helloworks-sdk""
We're currently relying on a fork of the `helloworks-sdk`, see package.json:

[code]

This is not future proof and will not be updated, we should switch to the regular version.

**Update**: Looks like the required commit landed: https://github.com/hellosign/helloworks-nodejs-sdk/pull/5

[2019-08-08 10:03] #2303 closed

[2019-08-08 12:34] cuiki commented on #2304
I agree on the context change within these cards. I'll make a task out of defining all versions of these –and other– cards so we know what supporting info to show and when.

[2019-08-08 12:35] cuiki commented on #2310
I superficially brainstormed an idea to fix this with @raulgrafico yesterday. I'll drak up a sketch and show it to show later today.

[2019-08-08 12:37] cuiki commented on #1829
First, sorry for not seeing this before. Secondly, I'm on it today.

[2019-08-08 17:02] ernestmoi commented on #1832
@znarf  Hi, i am Omakoji from OSCA Lagos i was able to move the package to devDependencies and it works what do i do next?

[2019-08-08 17:20] burinious commented on #2020
I will like to work on this issue

[2019-08-08 19:05] znarf commented on #1832
@ernestmoi Feel free to submit a pull request, we will review it and discuss it there.

[2019-08-08 21:41] alanna commented on #2309
#2156 would help in this situation. I believe that's being worked on.

@lukeeey You don't need to recreate your Collective in order to join again, normally. This situation is being caused by a bug #2281 - which is supposed to be fixed already. Maybe the fix has not yet been fully deployed. @znarf can you confirm?

The way it's supposed to work is if you have a Collective without a host and you go

[2019-08-08 21:56] alanna commented on #2311
Yes they are already added. This is the organization: https://opencollective.com/gusto

Can you clarify further how it's supposed to work? I still don't quite get it. So we charge the platform fee when we add the funds to the Org. Does that mean no further fee is added when the Org contributes to a Collective?

[2019-08-08 21:59] alanna commented on #2312
This was discussed in a meeting. Piet made a pull request to the main SDK
but they have not merged it and we were blocked, so we made the call to use
the fork.

On Thu, Aug 8, 2019 at 8:42 PM François Hodierne <notifications@github.com>
wrote:

--
*Alanna Irving*
alanna@opencollective.com

[2019-08-08 22:33] raulgrafico commented on #2304
Hi guys, maybe we can do something like this?

![Screen Shot 2019-08-08 at 5 33 37 PM](https://user-images.githubusercontent.com/1252676/62742050-b2901a00-ba02-11e9-855f-0b973943fbe4.png)

[2019-08-08 23:13] alanna opened #2313 "Update credit card for all recurring contributions"
## User story
As a financial contributor, I want to be able to update my card in 'payment methods' and have the change apply to all my current recurring contributions, so I don't have to change them over one by one.

## Best solution for this problem
When you add a new card in payment methods, it could ask you "Do you want to start using this card for all your existing recurring contributions?" an

[2019-08-08 23:32] alanna commented on #1215
We continue to receive support requests about this, with angry people wanting refunds. Can this please be considered for prioritisation? @Betree what would it take to implement the solution you described?

[2019-08-09 00:50] alanna commented on #2304
I'm confused with the screenshots -  do they only show only a host Org page or also show a regular Org page? The designs for these two should be different. The example used here is FB Open Source, but in real life that Org does not have Collectives and it doesn't make sense.

I think non-host Org profile pages should show:

* Collectives they financially support
* Total financial contributions all

[2019-08-09 00:53] alanna opened #2314 "Fiscal hosts should be able to send updates"
## User story
As a fiscal host admin, I want to be able to send updates to all core contributors in my host, plus anyone else who wants to subscribe to updates. This would be used for announcements, changes to fiscal hosting terms, etc.

## Best solution for this problem
Same update feature we have for Collectives enabled for hosts, including showing updates on the host page in addition to emailin

[2019-08-09 00:55] alanna commented on #2276
I'm closing this because @Betree explained it's not useful to think about the big picture here. Instead I've raised a couple more individual issues for the different features. I still think long term our platform would be a lot easier to maintain and use if everything on it were a Collective with all the associated features, and then we could make small tweaks for users, orgs, hosts, and other typ

[2019-08-09 00:55] #2276 closed

[2019-08-09 05:52] znarf commented on #2312
@alanna I'm aware of that, still good to document that in an issue.

Also, as written as "Update" in the description of the issue, the PR is now merged upstream.

[2019-08-09 07:20] Betree commented on #2311
I don't know how it's supposed to work, my message above was unclear but basically what I was asking was: when should we charge platforms fees for adding funds?

[2019-08-09 07:50] znarf opened #2315 "Update to @rebass/grid 6.1.0"
@rebass/grid 6.1.0 is the latest version but had a breaking change and we had to downgrade in https://github.com/opencollective/opencollective-frontend/pull/2342

The major feature of this version is the update to styled-system 5.

- [ ] Upgrade `@rebass/grid` to version `6.1.0`
- [ ] Ensure the regression found in https://github.com/opencollective/opencollective-frontend/pull/2342 is fixed

[2019-08-09 08:55] Betree commented on #2304
@raulgrafico That works for me. Please look at the rest of the feedback above (https://github.com/opencollective/opencollective/issues/2304#issuecomment-518598958), we still need:
- Host dashboard button
- Link to edit subscriptions (or alternative)

This is blocking because we can't break these features

[2019-08-09 09:28] Betree commented on #1215
@alanna The solution I prefer is the one you suggested because that's what most services do and I believe that's what users usually expect when they create a subscription:

This will break the possibility of implementing batching in the future but:
- Batching is complex to implement and we currently have no clear plan to do it
- From https://github.com/opencollective/opencollective/issues/1916, it

[2019-08-09 09:52] znarf commented on #1215
Let me propose another solution, after the middle of the month set next charge to the month after. Ie: August 12 -> September 1st, August 16th -> October 1st. Advantage: this will still allow us to batch in the future.

Whatever the solution we pick, let's make sure we have a team wide discussion and consensus before moving forward.

[2019-08-09 09:58] Betree commented on #2276
Sorry if I sound like a parrot but that's what we already do, everything is already a collective :slightly_smiling_face: The real issue is that we carry technical debt from some features that were implemented with conditions specific to orgs/users...etc. But this is related to these specific features, not to the data model.

[2019-08-09 10:00] Betree commented on #2020
@burinious This issue is medium complexity and it might be difficult to solve for relatively new contributors. Let us suggest tackling a couple of simple complexity issues first. But if you really want it, sure, you can have a look and try. The time limit for it is one week.

[2019-08-09 12:35] Betree opened #2316 "Should host have their own collective types?"
I'm wondering why hosts doesn't have their own collective type (like `USER`, `ORGANIZATION`...etc). It sounds like it would make it easier to recognize them (today we check in the `Members` table to see if the collective hosts other collectives).

Hosts also have very specific features and most of the time we don't care if a host is an organization or a user. Or do we?

@piamancini @xdamman @znarf

[2019-08-09 12:54] znarf commented on #2316
The problem is that today hosts are `USER` or `ORGANIZATION`. Whatever we do, an existing `USER` accounting should keep the "user" behavior.

I agree with you, the platform would be much clearer if "hosts" had their own type `HOST`.

[2019-08-09 13:46] josiaholatunde commented on #1786
Hi, how do i locate this page ?

[2019-08-09 13:46] josiaholatunde commented on #1786
I'm Olatunde from Osca Lagos

[2019-08-09 14:28] Betree commented on #2217
Resolved by https://github.com/opencollective/opencollective-frontend/pull/2254

To enable it, we need to set `settings.collectivePage.useV2` to `true`.

[2019-08-09 14:28] #2217 closed

[2019-08-09 17:32] raulgrafico commented on #2304
@alanna can you please help me writing a spec for each user profile page? Otherwise, we are going to keep having this back and forward, because I'm still not entirely familiar with those small differences. Right now what I've been doing is using the current cards and pages as reference, but those probably include scenarios that I have no idea, and perhaps I'm skipping parts that are not visible sh

[2019-08-09 20:02] kleva-j commented on #2109
I have not been able to work on this because I had to setup a new machine for this project. I will now begin work on this issue.

[2019-08-09 22:36] sudo-kaizen commented on #2180
Hello @ Beetree, the More info link does not work. Could there be other places where this happens? I think the working link to that part of the repo has changed

[2019-08-09 22:38] sudo-kaizen commented on #2180
Now that this is opened to everyone, must someone still apply to be assigned to it before his/her PR can be considered?

I will like to be assigned to it ASAP

[2019-08-09 23:53] sudo-kaizen commented on #2179
@alabobriggs still working on this? I experienced this bug while solving another issue

[2019-08-10 13:57] #1715 closed

[2019-08-10 20:30] sudo-kaizen commented on #2156
@znarf I think it will be a good thing if the organisation adds a particular label to issues that will be resolved by the opencollective team

[2019-08-11 23:11] alanna opened #2317 "Private comments on expenses"
## User story
As an expense submitter or host admin I want to be able to discuss private details on expense comment threads without them being publicly visible. Expenses often entail confidential info like addresses, phone numbers, bank info, emails, etc. Right now there's no good way to communicate about these things on an expense. It's important for records to keep all info about expense transac

[2019-08-11 23:56] alanna commented on #2316
This would certainly help with #2062 - we need to send different onboarding emails to hosts and sponsor orgs, they have different features, the designers need to think differently about them. So if making them different types in the database would help with all that, I support the idea.

[2019-08-12 00:59] alanna commented on #2304
I think using the current pages as a reference is fine. You can look at any host page or sponsor org page to see the various functions it has. You can also look at the docs to see all the features associated with each type of entity on the platform.

I can help writing a spec if needed. Can you start a draft with what you have so far and send me the link @raulgrafico ?

[2019-08-12 07:16] #2315 closed

[2019-08-12 07:17] znarf commented on #2312
Fixed in https://github.com/opencollective/opencollective-api/pull/2401

[2019-08-12 08:24] znarf opened #2318 "Design and copy for "Back My Stack" banner"
We're introducing a new feature on BackYourStack to let users subscribe to a monthly plan.

The MVP of this feature will be available for users uploading their dependency files themselves.

This is the current version in development.

![Screenshot_2019-08-12 BackYourStack Discover the Open Source projects you are using and need financial support ](https://user-images.githubusercontent.com/806/6285

[2019-08-12 08:36] znarf opened #2319 "Design and copy for BackYourStack Monthly Plan presentation"
We're introducing a new feature on BackYourStack to let users subscribe to a monthly plan.

The MVP of this feature will be available for users uploading their dependency files themselves. Once they click on the "BackMyStack" CTA, they get the following presentation screen to present them the feature.

This is the current version in development.

![Screenshot_2019-08-12 BackYourStack Discover the

[2019-08-12 08:50] znarf opened #2320 "Design and copy for BackYourStack Monthly Plan confirmation"
We're introducing a new feature on BackYourStack to let users subscribe to a monthly plan.

The MVP of this feature will be available for users uploading their dependency files themselves. To do that, we're redirecting them to Open Collective and allow them to subscribe to the monthly plan there. Once done, we're redirecting them to BackYourStack an they get a confirmation page explaining what hap

[2019-08-12 08:52] #2128 closed

[2019-08-12 08:55] znarf commented on #2156
@sudo-kaizen as soon as we know it will be resolved by someone from the Open Collective, we're assigning it to this person. Until that, it's open.

[2019-08-12 09:21] nonsodaniel commented on #2293
My Apologies for the late response. I've actually completed the task but, kindly direct me on how to test it

[2019-08-12 10:52] znarf commented on #2293
@nonsodaniel do you have a Pull Request open to share what you have done?

[2019-08-12 11:25] nonsodaniel commented on #2293
I'd do so now

On Mon, Aug 12, 2019, 11:52 AM François Hodierne <notifications@github.com
wrote:

[2019-08-12 11:57] znarf commented on #1722
Fixed by the new Incognito feature.

[2019-08-12 11:57] #1722 closed

[2019-08-12 13:05] xdamman opened #2321 "Update docs.opencollective.com/help urls"
In order to be able to have multiple books in gitbook with their own url, we have to move the subdomain docs.opencollective.com from the account level to the book level in GitBook.

That way we can have docs.opencollective.brussels, .paris, etc.

A side effect is that instead of having docs.opencollective.com/help we will have docs.opencollective.com (which arguably looks nicer but may break some

[2019-08-12 14:19] raulgrafico commented on #2304
Sure @alanna it can be something like this:

Regular user (Just contributor, no  Core Contributor):
- Hero Image
- Profile Page
- Link to edit profile
- @tag username
- Short Description
- Social network links
- Total amount contributed
- Total amount raised
- **Collectives**
1. User will see a list of the collectives he has interacted with (Financial contributor and Events)
2. User can filter col

[2019-08-12 15:24] iamuchejude commented on #1590
Hello! I am still working on this issue.

[2019-08-12 20:37] flickz commented on #2289
@alanna can you write the help text now?

[2019-08-12 21:18] raulgrafico commented on #2304
@pia and @xdamman maybe you guys can help with this.

[2019-08-12 22:51] alanna opened #2322 "Unable to undo adding extra core contributor by mistake"
**Describe the bug**
In the 'edit > core contributors' section, you click "add core contributor" to make a new field appear, then enter the person's info. However, after doing that the button you see is "add new contributor" - but this is not what you should click. It's very confusing. You are supposed to click 'save' below instead. Worse, if you accidentally click 'add new contributor' you cannot

[2019-08-12 23:01] burinious commented on #2020
@Betree Please help I can't find the ```locale.js``` under the specified directory

[2019-08-12 23:01] alanna commented on #357
Reopening because this has gone back to showing relative dates at some point. In order to do financial accounting we need to be able to see exact dates on transactions and expenses.

[2019-08-12 23:12] lindatalu commented on #2290
The discussion now is going to be about to CTA buttons for secondary navigation on the collective page here the link to the figma file
https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=223%3A51&viewport=453%2C935%2C0.7145232558250427&scaling=min-zoom @xdamman @piamancini @raulgrafico

[2019-08-12 23:17] alanna opened #2323 "Host admin can edit/delete expense comments"
## User story
As an admin I want to be able to edit or delete comments on expenses, in case there is mistaken info, or someone accidentally posts private info publicly.

## Best solution for this problem
Add an edit and delete function to comments on expenses.

## MVP
Maybe access to do this through Forest?

[2019-08-12 23:22] alanna opened #2324 "Host admin can un-pay an expense"
## User story
As a host admin, I want to be able to un-pay expenses previously marked as paid, because sometimes payments fail unexpectedly after the fact, and we need to be able to reflect that in the system.

## Best solution for this problem
A `mark as unpaid` button on paid expenses accessible to host admins. Clicking it would reverse all the associated ledger transactions (fees, debits) and p

[2019-08-13 01:18] themightychris opened #2325 "Draft status for collectives"
## User story
As a collective admin, I want to set a new collective to draft so I can add other admins and work together on the collective page without the collective page coming up anywhere or being accessible publicly

## Best solution for this problem

A toggle option within collective settings that any admin can turn on or off. To punt on what to show existing contributors, the option might on

[2019-08-13 01:25] alanna opened #2326 "We need different terminology for sponsor organization settings"
I just had a sponsor get super confused because the terminology in the organization settings is not correct for their context. We need to differentiate terms used on sponsor orgs from terms used in Fiscal Host orgs and from Collectives.

For sponsor orgs, "core contributors" should be "team members". "Collective admin" should be "Organization admin". I think these should be the same for Fiscal Hos

[2019-08-13 01:26] alanna commented on #2316
I just raised #2326 about terminology in edit settings needing to be different for Fiscal Hosts, Organizations, and Collectives, which is related.

[2019-08-13 03:11] leonardohof commented on #2020
@Betree I want to try this one too.

[2019-08-13 05:09] alanna commented on #2289
@flickz can you confirm how it will work? Will it not ever allow you to remove yourself as an admin, even if there are other admins, or will this only come up if they are the last admin left? When will they see the text?

[2019-08-13 05:10] alanna commented on #2289
Also, what will the behaviour be when someone is trying to delete their own account but they are the only admin of a Collective or Organization?

[2019-08-13 05:13] alanna commented on #2304
OK great  @raulgrafico  - please write that up for all the different types of users and pages that you have now, then I can check it and make sure it's complete. It's probably easier to do it in a document than here on Github.

[2019-08-13 05:18] alanna commented on #2321
Are Paris, Brussels, etc requesting a way to create their own gitbooks on the domain? Or is this for the future?

[2019-08-13 08:29] flickz commented on #2289
Yes this is happens.

Currently this only prevents you from removing yourself as an admin. I'm thinking about making the
account deletion a separate PR, @znarf What do you think?

[2019-08-13 09:20] znarf commented on #2289
@flickz Can you answer this question from @alanna ? Maybe share a screenshot with the error message.

@flickz Yes, let's do it separated.

[2019-08-13 12:33] flickz commented on #2289
@alanna The error message is shown when the user click save in the edit collective page, like the screenshot below:

<img width="817" alt="Screenshot 2019-08-13 at 1 24 28 PM" src="https://user-images.githubusercontent.com/15707013/62941698-94ddfe80-bdce-11e9-92e9-3acc1dd1c7de.png">

For the account deletion, this is shown in the advanced section of the edit collective page after the Delete button

[2019-08-13 12:38] flickz commented on #2325
@themightychris Sounds good.

[2019-08-13 13:57] xdamman commented on #2321
Turns out that we can keep them as they are.
I don’t know if they fixed something on their side but right now docs.opencollective.com works as before (with the /help) and docs.opencollective.brussels works as well.

Yes Open Collective Brussels asked for a place to document how collectives can “hire” people in Belgium, how they should address invoices, etc.

Extinction Rebellion also needs a place

[2019-08-13 13:57] #2321 closed

[2019-08-13 16:55] xdamman opened #2327 "No new newsletter subscription since June 26th"
[code]

![](https://d.pr/free/i/FhhAYn+)

Something that we deployed on June 26th broke the recording of people opting in to the newsletter.

[2019-08-13 19:38] znarf commented on #2327
newsletterOptIn had never been part of the new registration flow

<img width="860" alt="Capture d’écran 2019-08-13 à 21 33 59" src="https://user-images.githubusercontent.com/806/62971443-2e7acf80-be12-11e9-904c-33123d6ef7ad.png">

We were still getting registrations because the old registration flow was still displayed in some areas. This came to an end in https://github.com/opencollective/openc

[2019-08-13 21:02] alanna opened #2328 "Give people a way to avoid Github verification when creating a new Collective"
## User story
As a Collective creator of an open source related Collective, I want to be able to set up a new Collective without being forced to join Open Source Collective or verify using the 100 Github stars requirement, so that I can create a self-hosted Collective or apply to a different host.

## Best solution for this problem
When going through the create Collective process, if they select "

[2019-08-13 21:07] alanna commented on #2245
We are still getting reports of avatars not updating through support. Should this be reopened?

[2019-08-13 21:41] alanna commented on #2289
OK. So I am understanding that no one can ever remove themselves as an admin, even if there are other admins. If that's right, here's some text for the error messages.

Core Contributors screen:

Delete account screen:

[2019-08-13 21:53] alanna commented on #2327
Can we send everyone who signed up since that date one email asking them to subscribe to the newsletter if they want? I'm sad to think about all those lost subscribers.

[2019-08-14 01:26] alanna commented on #2321
OK. I think it would be cool to have a seperate gitbook for a host guide too.

[2019-08-14 02:54] yellowwoods12 commented on #2310
@Betree one way to solve this issue can be to check for the RGB values of the logo and if it turns out to be more of white then either adjust the background color accordingly or can shift the logo over a darker background.

[2019-08-14 02:59] yellowwoods12 commented on #2324
For this problem we can directly link it with paypal and if there is some error in processing the payment then it can automatically be marked as unpaid. What say?

[2019-08-14 04:46] yellowwoods12 commented on #2020
@Betree Should I give this a shot?

[2019-08-14 06:08] alanna commented on #2324
The main time this is needed is actually for non-paypal transactions we manually mark as paid. That's because paypal transactions through the API happen instantly and will fail and not be marked as paid if there is a problem. But bank transfers and echecks and other methods take a few days to clear, so the expense is marked as paid but later needs to be reversed.

[2019-08-14 06:38] znarf commented on #2245
This should be corrected by https://github.com/opencollective/opencollective-frontend/pull/2086

[2019-08-14 07:44] xdamman commented on #2327
First, let's figure out how we can add back the opt in option to register to the newsletter.

I don't feel comfortable sending people an email to register to a newsletter. But maybe we can use the notification emails to ask them to register for it. Ideally, this should be at the host level and collective level. For example, XR also wanted to have people to register to their newsletter, not to the

[2019-08-14 08:34] xdamman opened #2329 "Offer to register to newsletter when becoming a financial contributor"
Since we moved to the new sign up flow (#2119), we don't offer anymore the option to sign up for the open source collective newsletter.

Other hosts / collectives would also love to be able to ask people to sign up for their newsletter (https://github.com/opencollective/opencollective/issues/2327#issuecomment-521139414)

We could think about it in two ways:

## Updates

We could use the "updates"

[2019-08-14 10:36] xdamman opened #2330 "Small improvements to current onboarding flow for new collectives"
opencollective.com/create
![](https://d.pr/free/i/7vyMSt+)

Quick short term fixes:
- logo should be fixed (broken right now)
- Default should be "Join Free", not "sign in"

---
![](https://d.pr/free/i/2K5a6p+)

- ideally, we shouldn't let the user create an organization account at this point
- FAQ should be contextual to create a collective, not to create an account (make an anonymous donation sh

[2019-08-14 10:38] znarf commented on #2330
@xdamman Can you use the new collective page as basis/screenshot?

[2019-08-14 10:52] xdamman opened #2331 "New collective setting to select plan"
![](https://d.pr/free/i/922euT+)
- This only applies to new "host less" and "self hosted" collectives
- Existing collectives are grandfathered
- Collectives created under a host (such as through the open source flow) are free accounts since we will be charging the host (which is effectively a collective with the "network plan").
- I like the idea of using total amount managed (introduced by @benja

[2019-08-14 10:58] xdamman commented on #2330
The goal of this issue is to show the current flow as of today (and small improvements we can do to it). That's why I wrote for the last screenshot "let's keep this for another issue since the collective page is being revamped right now".

But for the record, here is the current look of the collective page right after creating a new collective:
![](https://d.pr/free/i/BX6gnw+)

[2019-08-14 11:55] znarf commented on #2330
Ok. In case you want any of these points to be worked on, let's make sure to create separate issues.

[2019-08-14 23:25] alanna commented on #2329
Well we have two use cases. First is at the level of a host, and I already raised this issue for it: #2314 - in this way we are similar to our users.

But we also have another use case, which is the platform newsletter. This is a different situation.

I'm a bit concerned about the layering of opt-ins here. If a new person signs up they could potentially be asked to opt in to the platform newslette

[2019-08-14 23:34] alanna commented on #2330
I agree with all these changes.

If they are creating an account for the first time here as well as creating a Collective, we should also have a platform newsletter opt-in check box.

This might be for a seperate issue but I'll comment here for now:

These changes make it clear how we need to work on the onboarding flow for self-hosting or applying to host once the Collective is created. I really

[2019-08-14 23:48] alanna commented on #2331
So even if they have no host and are entering everything manually, we will still charge them the same as Collectives with money actually flowing through the system?

I agree this looks like a good approach for self-hosted and un-hosted Collectives. We will just need to be careful about how people end up on this page, and make sure that Collectives actually joining an existing host do not see this

[2019-08-14 23:58] alanna opened #2332 "Change the 'reply to' address on new Collective notification to the creator"
## User story
As a host admin, when I receive an email notification of a new Collective that has applied, I want to hit reply and ask them questions or provide information, so that I can verify if pending Collectives fit the host's criteria.

## Best solution for this problem
Instead of "info@opencollective.com" make the reply-to address the creator email.

![Screen Shot 2019-08-15 at 11 56 50 AM]

[2019-08-15 00:32] alanna commented on #2319
Should this be through Open Collective or Open Source Collective? Which entity will be receiving the funds and providing receipts? If it's OSC, is the service limited to Collectives hosted by OSC?

What happens if they have a dependency that does not have a Collective already? Will it create a pledge? I think this is an amazing channel for onboarding new Collectives.

What happens if they already

[2019-08-15 00:38] alanna commented on #2320
Copy changes:

It says "was successfully dispatched" so they should be able to immediately see their contribution on the Collective's page, right? If it's not immediate we should change the text.

How will this interact with our monthly billing cycle - will they be charged on the day and again on the 1st of the month? If so (and we're not going to fix #1215 before this launches) we will need to in

[2019-08-15 01:49] alanna opened #2333 "Troubleshooting guide for Github authentication flow"
We get a lot of support requests related to the Github authentication flow, and I struggle because I don't know how to help people troubleshoot.

Would it be possible for @znarf or @xdamman or someone who understands how it works to give me the info here so we can write up a guide for the docs?

Here are the common issues people report:

* Repository missing from the list
* Showing personal repo's

[2019-08-15 07:46] znarf commented on #2319
This is done through the Open Source Collective and will be limited to collectives on the Open Source Collective.

@flickz let's double check the behavior if we try to dispatch money to collectives on a different host.

This is considered but not part of the present feature set.

We might be able to detect that. But for now we're not trying and this will create a second contribution.

The idea is

[2019-08-15 07:48] znarf commented on #2320
Yes, exactly like that.

[2019-08-15 08:00] znarf commented on #1733
:trophy: Resolved by @Rexben001  in https://github.com/opencollective/opencollective-frontend/pull/2286

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

For more info about the bounty p

[2019-08-15 08:00] znarf commented on #1733
This is not yet live, will be part of our next deploy.

[2019-08-15 08:00] #1733 closed

[2019-08-15 18:03] bkmgit commented on #1910
Is this issue still open? Tool tip configuration is at https://github.com/opencollective/opencollective-frontend/components/HelpTooltip.js - just need to find Safari to test on if it is still open.

[2019-08-15 19:19] znarf commented on #1910
@bkmgit It's still valid, just checked on Safari.

[2019-08-15 21:42] alanna commented on #2319
Yes I understand about making it one monthly total. What I meant was, let's let them input that total on this screen so they can see the numbers update dynamically. The $100/Collective suggestion was just about the default total to start with in the box, which they can edit. If we anchor that high, people may decide to make their total high.

[2019-08-15 21:44] alanna commented on #2319
If this is restricted to Open Source Collective, then we should refer to OSC in all instances, not Open Collective. Myrewrite of the text removes this issue in this particular instance by taking out references to both.

However, we will need to incorporate an explanation about the restriction to OSC somewhere, because people might search a dependency an see a Collective in OC EU for example for an

[2019-08-15 21:55] alanna commented on #2320
OK let's change it to:

[2019-08-15 21:55] alanna commented on #1071
This should be included in the new expense flow design @raulgrafico

[2019-08-15 21:57] alanna commented on #1919
We still need this but we should solve #2311 first.

[2019-08-15 21:57] alanna commented on #1969
This topic will never be fully resolved but I am going to close this issue because we have greatly improved the problem raised originally.

[2019-08-15 21:57] #1969 closed

[2019-08-16 01:41] alanna opened #2334 "Account creation form distorted when arriving via opensource/apply > join"
**Describe the bug**
Sign in form looks squashed and is pretty unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. While signed out, go to https://opencollective.com/opensource/apply
2. When it asks you sign in, click 'join free'
3. See broken formatting

Oddly this does not seem to happen when starting from https://opencollective.com/create and following the same steps.

Originally re

[2019-08-16 04:31] bkmgit commented on #1910
Ok. Any information on version of Safari? It seems to be fine in [Epiphany](https://wiki.gnome.org/Apps/Web)

[2019-08-16 04:55] flickz commented on #2319
Noted.

[2019-08-16 06:33] znarf commented on #2334
Doesn't look Chrome specific, same on Firefox.

@flickz can you have a look?

[2019-08-16 06:36] znarf commented on #1910
Reproducible in latest Safari (12.1.1) latest Mac OS (10.14.5)

[2019-08-16 08:14] flickz commented on #2334
Okay

[2019-08-16 09:01] flickz commented on #2334
This is really tricky, as it is not reproducible locally but it also affect staging.

[2019-08-16 09:15] znarf commented on #2334
Can you try locally with a production build? `NODE_ENV=production npm run build` then `NODE_ENV=production npm run start`

[2019-08-16 09:22] flickz commented on #2334
Okay I can confirm this is happening as a result of dependencies change or something related. Initially I was not getting this locally till I ran `npm install` I've not been able to identify which exact dependency is causing this, I'm still looking into it.

[2019-08-16 10:06] flickz commented on #2334
@znarf This is happening from bumping `@rebass/grid` from `v 6.0.0` to `v 6.1.0`.

[2019-08-16 10:26] znarf commented on #2334
@flickz "update to Styled System v5" is the only change and that matters. @Betree already fixed a regression last week related to that.

[2019-08-16 10:28] znarf commented on #2334
Looks like the project will be renamed to https://github.com/rebassjs/rebass/tree/master/packages/reflexbox, but that's unrelated.

[2019-08-16 10:29] flickz commented on #2334
Our current version of styled system is `5.1.0`

[2019-08-16 10:34] znarf commented on #2334
@flickz I'm talking about  "update to Styled System v5" from https://github.com/rebassjs/grid/blob/master/CHANGELOG.md

Whatever what we use, they ship their own version. In the update to 6.1.0, they updated to styled-system 5, before it was version 4. This is likely the breaking change.

[2019-08-16 10:41] flickz commented on #2334
Can we go back to the previous version of `@rebass/grid` `v6.0.0` as a temporary fix?

[2019-08-16 10:44] znarf commented on #2334
I don't think so, @Betree already adapted a component to the new version and I guess the changes are not retro-compatible. https://github.com/opencollective/opencollective-frontend/pull/2343

[2019-08-16 19:38] connyduck opened #2335 "Paypal Email visible to non-admins"
**Describe the bug**
I can see the Paypal email in the expenses of a Collective I am no admin of.

**Expected behavior**
Only Collective Admins should be able to see PayPal emails.

**Screenshots**
Why am I seeing this, I am no admin of this Collective
![Screenshot 2019-08-16 at 21 25 22](https://user-images.githubusercontent.com/10157047/63193112-ed322c00-c06c-11e9-909a-fa32e206826a.png)

**Deskt

[2019-08-16 20:05] dahacouk opened #2336 "Allow Collectives to set criteria for anonymous donations..."
Allow Collectives to set criteria for anonymous donations...

So that could be only allowing anonymous donations under a certain amount or not allowing anonymous donations at all.

Cheers!

[2019-08-18 17:59] flickz commented on #2156
Closed in https://github.com/opencollective/opencollective-frontend/pull/2356

[2019-08-18 17:59] #2156 closed

[2019-08-19 00:10] alanna commented on #2281
Is there any update on this? We need to use the manual application functionality quite often. I just tried to test it with Test Collective (which has no host) and it's not allowing me to apply with that. Only saying "Apply to Create a Collective".

I know this will be fixed properly in the new design but we need a quick fix now.

[2019-08-19 00:20] alanna opened #2337 "Enable deletion of rejected expenses by Host and Collective admins"
If someone submits an expense to a Collective, even if it's rejected there is no way to fully delete or hide that from the Collective's public page. This is not good when someone uses expenses as a method for spam ([example](https://opencollective.com/pixijs/expenses/9638)).

Should we allow Collective admins to fully delete rejected expenses if they wish? Because it's for rejected expenses only I

[2019-08-19 07:35] znarf commented on #2334
@Betree can you have a look?

[2019-08-19 07:38] Betree commented on #2180
@sudo-kaizen The correct link is https://docs.opencollective.com/help/developers/bounties

[2019-08-19 07:55] Betree commented on #2310
@yellowwoods12 That could work but it is costly to implement so we need a clear decision from @opencollective/design before we go for it :slightly_smiling_face:

Most platforms (eg. facebook) don't bother with that, they clearly specify that avatars will be displayed on a white background and that it's your responsibility to upload something that looks nice. It's way simpler but we need to make it

[2019-08-19 07:57] Betree commented on #2020
Hello @yellowwoods12, @leonardohof is already working on this one

[2019-08-19 08:08] Betree commented on #2044
Note: this is also valid for the long description on the new collective page.

[2019-08-19 08:19] Betree opened #2338 "Create collective: dead image/link"
**Describe the bug**
On https://opencollective.com/create, there's a dead image pointing to `https://images.opencollective.com//logo.png`. Also the link wrapping the image has its `href` set to `/undefined`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/create
2. Check the image/link in the cover

**Expected behavior**
- Should display the default collectiv

[2019-08-19 08:22] Betree commented on #2281
@alanna This has been fixed by https://github.com/opencollective/opencollective-frontend/pull/2320. I tried to reproduce and there's indeed an issue: you need to refresh the page before the button shows `Apply to host your collective ...`. I believe this is not only for the open source collective, I'll create a separate issue now.

![image](https://user-images.githubusercontent.com/1556356/6325012

[2019-08-19 08:27] Betree opened #2339 "Apply to host button require a refresh to work properly"
Following on https://github.com/opencollective/opencollective/issues/2281#issuecomment-522371266

The `Apply to host your collective ...` button require a full page refresh before it shows the collective. I'd rather prioritize https://github.com/opencollective/opencollective/issues/2282 but we need to acknowledge it.

**To reproduce**
1. Create a collective https://staging.opencollective.com/creat

[2019-08-19 08:43] Betree commented on #2334
I believe this is because `minWidth` wasn't doing anything for `Flex` in previous version of `styled-components`. It is now a valid prop and so the following line was breaking the page when the SignIn is combined with a FAQ:

https://github.com/opencollective/opencollective-frontend/blob/4750abbb68e0850fc7e4d38dbdbfe527d1c924f3/pages/openSourceApply.js#L223

[2019-08-19 08:57] Betree commented on #2270
@sudo-kaizen It is, I'm on it already.

[2019-08-19 09:30] #2334 closed

[2019-08-19 10:04] #2200 closed

[2019-08-19 10:05] Betree commented on #2200
:trophy: This issue is now completed.

@Rexben001 To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-08-19 10:18] znarf opened #2340 "Stripe SCA: Support in Contribution Flow"
From September, we need to support Strong Customer Authentication as it's becoming mandatory to follow European regulation.

The first part is to implement credit card validation using systems like 3d secure in our contribution flow for new and existing cards.

To do that, it's recommended to switch from Stripe's "Charge API" to Stripe's "Payment Intent API".

- [x] switch to Stripe's "Payment Int

[2019-08-19 10:31] znarf opened #2341 "Stripe SCA: Support in Credit Cards management"
From September, we need to support Strong Customer Authentication as it's becoming mandatory to follow European regulation.

The first part is to implement credit card validation using systems like 3d secure in our contribution flow for new and existing cards. https://github.com/opencollective/opencollective/issues/2340

The second part is to implement Stripe's "Setup Intents API" while adding new

[2019-08-19 11:07] piamancini commented on #2310
@raulgrafico @cuiki what's the decision here?

[2019-08-19 11:16] piamancini commented on #2319
Edits to @alanna's copy:

Congratulations, you're about to Back Your Stack!

You'll make a single monthly payment and we'll distribute the funds to your detected dependencies below. If new dependencies join in the future, they will be detected and added the following month. Your subscription will not change, we'll distribute it amongst more dependencies You can always update the amount _(where?)_

[2019-08-19 11:20] piamancini commented on #2320
good catch.

[2019-08-19 11:29] piamancini commented on #2333
If you can't find your repo on the list check this:

- does the repo you are looking for has +100 stars?

- are you the owner of the repo with the profile you authenticated with? If the repo is under a different profile or an organization profile you won't see it here. You'll need to revoke access from your Github settings and re-authenticate with the right profile. If it's under and organization,

[2019-08-19 11:44] piamancini commented on #2331
Sub collectives is not a terminology we use today and I don't think we need to. They are all collectives.

No, webpack is a collective hosted by the Open Source Collective Organization. It is not dependent from the OSC.

The complexity of this is infinite. Let's come up with an alternative way of seeing this. It can be circular, seems like a particular kind of implementation nightmare.

They are a

[2019-08-19 11:49] piamancini commented on #2329
Please let's create issues for this with people assigned to them if we want this to happen. thanks!

[2019-08-19 11:56] piamancini commented on #2328
Maybe the Open Source one should say 'via Github' and the other Open Source?

[2019-08-19 11:58] piamancini commented on #2325
Maybe like a 'publish collective' feature. We had that request in the past.
@flickz could we use the idea of Archived collective here? it's kind of the same but a pre-published state

[2019-08-19 12:10] piamancini commented on #2304
@Betree this is the view of the dropdown menu currently in the user profile. Where is this now in the new profile?

<img width="1180" alt="Screen Shot 2019-08-19 at 2 05 16 PM" src="https://user-images.githubusercontent.com/3671070/63264083-80947880-c28a-11e9-92f4-e2041293e3fd.png">

@raulgrafico, @alanna is right here, you should use FB Open Source as is today. It is only a financial contributor.

[2019-08-19 12:11] piamancini commented on #2304
Is this happening?

[2019-08-19 12:19] flickz opened #2343 "Improving bounty program"
## Tracking the progress of the bounty program:
Right now, I don't think we have a way of measuring progress, we need data like:

- How many PRs have been opened / merged through the bounty program since we began?
- How much has been paid out to contributors through bounty in total?
- Are they coming back after their first PR? I.e Number of PRs opened / merged  after the first.
- What are the freq

[2019-08-19 12:19] Betree commented on #2304
From my understanding I don't think that we've planned to change this yet, the dropdown menu for the user profile is not in my Todo.

[2019-08-19 13:32] Betree commented on #1811
This should be fixed now. @xdamman please re-open if you get any feedback

[2019-08-19 13:32] #1811 closed

[2019-08-19 14:00] Betree commented on #2290
There's no indication on the `Edit goals` page about what will change if you pick an option. Collective admins may end up changing their call to actions unintentionally.

If we're going to let users customize their call to actions, wouldn't that be clearer to let them pick precisely the two calls to action that they want to display (as suggested in https://github.com/opencollective/opencollective/

[2019-08-19 14:24] Betree commented on #2333
If you need to test the flow, the best way is to go to https://staging.opencollective.com/opensource/apply where you'll be able to add any repositories safely.

The only blocker that you may encounter is that you need to have access to a repository with 100+ stars (the usual limitation) to be able to add it. If that's a problem, we can easily disable this requirement for staging.

[2019-08-19 15:24] Betree opened #2345 "Discussion: Should we kill referal?"
Assigning @znarf as the decision maker for this one.

Feel free to edit this issue directly to add Pros and Cons. @xdamman @piamancini

# Pros

- Referral, labelled as "Amount raised" in the interface is often misunderstood
- We don't communicate much about the feature nor we really make use of the data

# Cons

- The feature is used by some users and some of them have pretty good stats

# Data: t

[2019-08-19 15:47] znarf opened #2346 "Stripe SCA: offline validation flow"
From September, we need to support Strong Customer Authentication as it's becoming mandatory to follow European regulation.

- The first part is to implement credit card validation using systems like 3d secure in our contribution flow for new and existing cards. #2340
- The second part is to implement Stripe's "Setup Intents API" while adding new Credit Cards to the account. https://github.com/ope

[2019-08-19 15:59] piamancini commented on #2304
yes, that is correct. We corroborated that with design. Thanks Ben

[2019-08-19 16:04] piamancini commented on #2304
Actually, @alanna in this particular case they do (I had forgotten as well) But Facebook asked us to add the collectives in open collective that belong to their organization and we did. If you go to opencollective.com/fbopensource you'll see them:

<img width="881" alt="Screen Shot 2019-08-19 at 6 01 59 PM" src="https://user-images.githubusercontent.com/3671070/63280656-7cc51e00-c2ab-11e9-8367-086

[2019-08-19 16:08] piamancini commented on #1215
Let's do this during the Fall team retreat next month

[2019-08-19 16:16] piamancini commented on #2311
This is how it's suppose to work (as we have it today):
Sponsor A sends us bulk payment 1000 we add that amount to their profile.
We add the total amount so it shows up complete.
When Sponsor A makes a donation, we then take 5% platform fee (which we later invoice OSC for it) and 5% host fee.
That's why it says "put aside".

The idea was to show that the sponsors have $1000 and not 1000 - fees to

[2019-08-19 16:16] piamancini commented on #2311
PS: the $0.00 is the bug introduced by Ben, it should be the same amount 5% and 5% for both fees

[2019-08-19 16:23] piamancini commented on #2313
this is a good idea, not sure how easy to implement updating all subscriptions like this. also what's the priority?

[2019-08-19 16:24] #2116 closed

[2019-08-19 18:50] memilmert opened #2347 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv7l
- Browser: `5.0 (Linux; Android 7.0; SPYbox-S11-CI-Turbo) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.111 Safari/537.36`

# Technical detai

[2019-08-19 19:27] piamancini commented on #1723
I second that this has now higher priority.

[2019-08-19 19:29] piamancini commented on #2307
should we close this? Let's open a separate issue with your suggestion @flickz so we can look at it in the expense flow revamp.

[2019-08-19 19:30] piamancini commented on #1182
yes, that seems like the best solution. This entails changing the way we handle currencies atm so it's not trivial.

[2019-08-19 19:32] piamancini commented on #2185
@alanna, I'm only seeing this now for some reason... Let's discuss.

[2019-08-19 20:25] raulgrafico commented on #2310
Our original idea was to set all to a Blue (or Black, this is right now the default color for our Hero image, but I prefer to use blue as the default color  ) default color, to encourage users to select the color accent and customize it.

I left @Betree a note on Figma to make it easier for him to find the appearance of it.

![01](https://user-images.githubusercontent.com/1252676/63296534-ebe34800

[2019-08-19 20:31] raulgrafico commented on #2310
Playing a little with the CSS I made this demo on how Gulp page would look, using these criteria for the Hero Image, same color for Hero image and logo container.

![Unknown](https://user-images.githubusercontent.com/1252676/63297139-4fba4080-c296-11e9-8d7d-84326d631a79.png)

[2019-08-19 22:50] alinam171 opened #2348 "Discount code for events"
## User story
_As <persona>, I can <what?> so that <why?>_

## Best solution for this problem
_What does the ideal solution look like?_

## MVP
_What will be built as an MVP? (Please refer to our [wiki](https://github.com/opencollective/opencollective/wiki/Feature-Spec-Template) for what's acceptable as an MVP.)_

## Metrics
_What metrics will be used to measure impact?_

## Documentation
_The goa

[2019-08-19 23:10] alanna opened #2349 "Stats on homepage show wrong numbers"
**Describe the bug**
There's a section on the homepage showing how many hosts and Collectives we have, but the numbers are wrong.

![Screen Shot 2019-08-20 at 11 06 02 AM](https://user-images.githubusercontent.com/5498878/63305417-d294d700-c33a-11e9-91fa-428462cef10f.png)

**Expected behavior**
I'm not sure what the right numbers are, but the discover page lists over 2000 Collectives and we had 78

[2019-08-19 23:12] alanna commented on #2348
This came from a user request. They wanted to give free tickets to speakers at their event, but still include them in the RSVPs, while not allowing just anyone to sign up for a free ticket.

[2019-08-20 03:06] alanna commented on #2304
What does it mean for an Organization to "have" Collectives, like with FB Open Source? Is this documented anywhere? I didn't know about that feature.

[2019-08-20 03:08] alanna commented on #2313
If this is simple enough to do as a bounty then it would be great to have it soon. If not, then I don't think it's a priority. It doesn't come up often. It's just an annoying thing for some of our best customers who manage a lot of payment methods and contributions.

[2019-08-20 03:50] alanna commented on #2311
Thanks for the clarification @piamancini.

I think it's important when someone gives a $1000 bulk payment they get $1000 to spend in the system, because otherwise it's going to get very confusing. Sponsors think about this like "I want to give $a for b months, so I am sending a x b as the payment" and do not want to consider fees. I think it's fine to take the fees when they contribute to the Coll

[2019-08-20 03:57] alanna opened #2350 "manually added funds not showing up"
**Describe the bug**
I manually added funds to [this Collective](https://opencollective.com/ievobio) but the contribution is not appearing on their page. I got the email notification saying thank you for the contribution, so I know it went through. The balance is showing correctly on the host dashboard.

![Screen Shot 2019-08-20 at 3 56 20 PM](https://user-images.githubusercontent.com/5498878/6331

[2019-08-20 07:18] Betree commented on #2289
Re-opening as there is a path that https://github.com/opencollective/opencollective-api/pull/2386 doesn't cover: if users change their roles from `Collective Admin` to `Core Contributor`, they will still loose the access to their collective. We only prevent the remove, not the edit.

See https://opencollective.slack.com/archives/C0HSLRNVC/p1566257208170100

[2019-08-20 07:35] flickz commented on #2325
@piamancini Sure we can do that.

[2019-08-20 07:37] piamancini commented on #2350
I'm seeing it both in the collective and the sponsor page - What am I missing?
Sometimes you need to hard refresh to clear the cache and see the changes. My trick is to append a string like ?124 to the url to force it.

<img width="888" alt="Screen Shot 2019-08-20 at 9 36 26 AM" src="https://user-images.githubusercontent.com/3671070/63327192-07e6f800-c32e-11e9-9460-0b11948307ce.png">
<img width="8

[2019-08-20 07:42] piamancini commented on #2304
It's the same thing we did for [Drupal Collectives](opencollective.com/drupal-collectives) or [Meetups](opencollective.com/meetups). It's a way to use tags to show all the collectives that are part of a certain ecosystem (language, or type of collective) even if they don't share a host.

In this case, Docusaurus and the react collective are OSS created inside the fbopensource github organization.

[2019-08-20 07:45] flickz opened #2351 "Sort expenses based on added date."
Originally from [#2307](https://github.com/opencollective/opencollective/issues/2307), currently we sort expenses based on the user input date
<img width="859" alt="Screenshot 2019-08-07 at 12 58 03 PM" src="https://user-images.githubusercontent.com/15707013/63327651-7de76100-c326-11e9-9ee8-5c92c906d7b3.png">

We should be able sort expenses based on the actual date the user created it.

[2019-08-20 07:45] piamancini commented on #2348
@xdamman is the best person for this. He helped consciouness hacking with something similar

[2019-08-20 07:46] flickz commented on #2307
Closing this in favour of https://github.com/opencollective/opencollective/issues/2351

[2019-08-20 07:46] #2307 closed

[2019-08-20 07:47] Betree commented on #2310
@raulgrafico So the idea is that the color you pick as Primary Color for your collective will be used as the logo's background?

[2019-08-20 07:49] xdamman commented on #2348
Sadly we don’t support this.
The best way would be to create a special tier for it with limited number of tickets and ask the speakers to use that one (and hope that no one abuses it - usually people are good citizens)

[2019-08-20 07:58] piamancini commented on #2310
That makes sense to me.

[2019-08-20 08:54] CheesePwn commented on #2225
This is really good! Only one issue though, markdown is completely broken on tiers. Where you could actually use markdown in v1 of tiers, you can't now. Is that intentional?

v1:

![](https://i.imgur.com/vmBbMwF.png)

v2:

![](https://i.imgur.com/j2nBMDQ.png)

Also it seems you can't view who has pledged to which tier anymore.

Thanks for the incredible work on OpenCollective over the years. I'm r

[2019-08-20 09:40] bkmgit commented on #1910
* Is it possible to get the issue assigned to me?
* Would it be worth adding some kind of continuous integration tests to help catch these errors? For example from [Lambdatest](https://www.lambdatest.com/)

[2019-08-20 10:28] Betree commented on #2225
@CheesePwn The use of markdown in v1 was undocumented, I'll bring up the topic but there's good chances that we're going to get rid of this behavior to incentive a new way of presenting things: you can now attach goals and rich descriptions to tiers, which results in a page where you can add as much text as you want, images, a video -- everything you need to describe the contribution :slightly_smi

[2019-08-20 10:46] CheesePwn commented on #2225
You're doing great work @Betree. Thanks for the updates. That's actually more than enough to what I was expecting!

[2019-08-20 11:44] znarf commented on #1910
@bkmgit Sure, you can work on it.

Such tests could be interesting but we will not introduce that at this point.

[2019-08-20 12:49] znarf commented on #2289
@flickz can you take care of that?

[2019-08-20 13:30] flickz commented on #2289
Sure

[2019-08-20 14:23] Betree commented on #2311
@piamancini Thanks for the explanation, it helps to understand but I'm still not 100% sure about the assumption I made above, is the following correct?

- There should not be any platform fees when host add funds to a collective
- There should be a 5% platform fee when adding funds to an organization

[2019-08-20 15:17] piamancini commented on #2311
When we add funds to a collective, Alanna and myself have the option of adding platform fees to that transaction. This happens because the hosts we manage (OSC, Foundation and EU) pay platform fees when adding funds.

Other hosts don't need to pay platform fees and therefore there's no reason for them to see this option.

I imagine this will change when @xdamman finalizes and deploys the new busin

[2019-08-20 16:37] #2020 closed

[2019-08-20 16:38] Betree commented on #2020
:trophy: This issue is now completed by @leonardohof (great job!)

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your inv

[2019-08-20 20:44] seand7565 opened #2352 "Unable to complete free ticket order"
**Describe the bug**
We've created an event with a $0.00 ticket for sponsors & organizers. However, I am unable to complete any order with the free ticket. I am able to get to the payment page, where it says "This is a free ticket, you can submit your order directly." however there is no "submit" or "proceed" button. There is a "Make Contribution" button, but it is grayed out.

Our event is here -

[2019-08-21 02:59] alanna opened #2353 "Refunds not updating everywhere they should"
A $1000 donation was made in error to this Collective. I refunded it when they contacted support.

However, the balance of the Collective is still showing those funds.

[2019-08-21 02:59] alanna opened #2354 "Refunds not updating everywhere they should"
A $1000 donation was made in error to [this Collective](https://opencollective.com/techqueria). I refunded it when they contacted support.

However, the balance of the Collective is still showing those funds. It should be at $0.

Also, the contributor of the funds ([this org](https://opencollective.com/techqueriaorg)) is still showing as having contributed $1000.

Refunds should totally reverse al

[2019-08-21 03:44] alanna commented on #2350
OK I am seeing it now. I guess it was just delayed. This could cause anxiety for users so if we can fix that I think it would be good.

[2019-08-21 06:30] znarf commented on #2354
It's a CDN side caching issue.

[2019-08-21 06:30] znarf commented on #2350
Closing in favor of https://github.com/opencollective/opencollective/issues/2354

[2019-08-21 06:30] #2350 closed

[2019-08-21 07:39] piamancini commented on #2304
For the record: the agreement on the drupal/meetup pages is to do this as temporary solution
- Drupal: https://opencollective.com/discover?show=drupal
- Meetup: https://opencollective.com/discover?show=meetup
(with lazy loading)

And for facebook open source we are replicating what we have now
"These collectives are part of our organization"

<img width="389" alt="Screen Shot 2019-08-21 at 9 38 30

[2019-08-21 07:41] Betree commented on #2310
I just realized that there's an important issue with this approach: in all other places of the website (contribution flow, contributors list, members cards...etc) and in the emails, we show the logos on a white background. If we do what's proposed here, people will start uploading white logos that will look great on the new collective page but will be barely visible in all other places.

If we're

[2019-08-21 08:25] piamancini commented on #2310
good catch.
Agh this is hard because the current background is not white so we'll break a lot of logos.
I would be ok with the approach going forward, what's the best way of let current users know?
For sure adding a note on this when we release, but is there any way we can query to know which ones are transparent / white? I'm guessing no, but worth trying.

[2019-08-21 08:33] znarf commented on #2353
Duplicate with https://github.com/opencollective/opencollective/issues/2354

[2019-08-21 08:33] #2353 closed

[2019-08-21 08:36] Betree commented on #2310
That's where I love inline editing, if we follow the design proposed by @raulgrafico for the edit we shouldn't even have to add a message because collectives admins will be able to see how their logo look like on a white background before changing it:

![image](https://user-images.githubusercontent.com/1556356/63415934-ca9e6b00-c3fe-11e9-97c4-2b1d1c06e2cb.png)

Our support communication for collec

[2019-08-21 08:38] Betree commented on #2310
To notify current users, I guess we should add a message about it in the newsletter that will come with the new collective page release. It would be hard to query that indeed, but we can build up a list manually with the ones we already know and contact them manually. If you'd like to do this, **please edit this comment to add yours** (I'll come back there to do it as well):

- triplebyte
- gulpjs

[2019-08-21 08:39] piamancini commented on #2354
Yes, I am seeing the balance in 0 https://opencollective.com/techqueria

[2019-08-21 08:40] piamancini commented on #2354
Cache is strong @alanna whenever you make changes like this (or editing, host, etc) append ?124 to the collective's URL to reload a fresh page. You'll see the changes then

[2019-08-21 08:44] piamancini commented on #2352
I can reproduce.
@Betree do you think this is related to the change you made in the input fields?

[2019-08-21 08:47] Betree commented on #2352
@piamancini I don't think so, but it may be related to the recent refactor I made (https://github.com/opencollective/opencollective-frontend/pull/2281). I'll check that in priority today.

[2019-08-21 10:47] znarf commented on #2346
![Screenshot 2019-08-21 at 12 47 18](https://user-images.githubusercontent.com/806/63425907-e5c6a600-c411-11e9-9be4-29046890865c.png)

[2019-08-21 12:01] piamancini opened #2355 "Back Your Stack Email to Collective Admins"
We should put some effort in designing a good email to send admins of collectives that are being supported by BYS subscriptions. It is a good ROI for companies to place their logo in front of the maintainers of the projects they are supporting.

We should include a couple of ways for maintainers to thank those sponsors, connect them together.

This tweet was the reminder for this.
https://twitter.

[2019-08-21 19:02] d923 opened #2356 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv7l
- Browser: `5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.111 Safari/537.36`

# Technical details

[code]

[2019-08-21 19:19] znarf commented on #2356
@d923 thank you for reporting. Can you please give us additional details so we can have a look?

[2019-08-21 19:20] znarf commented on #2347
@memilmert  thank you for reporting. Can you please give us additional details so we can have a look?

[2019-08-21 19:26] d923 commented on #2356
.github/ISSUE_TEMPLATE/feature_request.md

[2019-08-21 19:34] znarf commented on #2356
@d923 That's not helping :-)

[2019-08-21 20:42] tanpattaya opened #2357 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 8.1.0; CPH1853) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.111 Mobile Safari/537.36`

# Technical details

[2019-08-21 20:43] #2357 closed

[2019-08-21 20:43] tanpattaya opened #2358 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 8.1.0; CPH1853) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.111 Mobile Safari/537.36`

# Technical details

[2019-08-22 06:23] #2356 closed

[2019-08-22 06:23] znarf commented on #2358
@tanpattaya thank you for reporting. Can you please give us additional details so we can have a look?

[2019-08-22 07:19] znarf opened #2359 "approvedAt not always set on approved collectives"
This was tentatively fixed by https://github.com/opencollective/opencollective-api/pull/2416 but we're still getting such entries.

Right now, we have to run the following query to solve that.

[code]

[2019-08-22 07:53] #2237 closed

[2019-08-22 08:55] piamancini commented on #2359
do you need help here reaching out to host admins?

[2019-08-22 09:01] znarf commented on #2359
@piamancini no, there is no need to contact host admins. we just need to make sure this stops happening.

[2019-08-22 11:37] piamancini commented on #2318
Set up a monthly subscription and we will automatically distribute the funds among your dependencies on Open Collective!

[2019-08-22 11:37] piamancini commented on #2318
Where are we explaining that we will update as new dependencies come in?

[2019-08-22 11:38] znarf commented on #2318
Here: https://github.com/opencollective/opencollective/issues/2319

[2019-08-22 11:41] piamancini commented on #2318
got it (sorry forgot we did that one already)

[2019-08-22 20:33] dabit3 commented on #2245
Hey, created a new account for my organization. Would like to contribute to a couple of projects but this is kind of a blocker as my personal avatar is there, not representative of my org :/

[2019-08-23 06:22] znarf commented on #2245
@dabit3 Until we ship a fix, it's 2 hours caching maximum. So after waiting 2 hours, the image should be up to date for everyone. Fix is coming soon.

[2019-08-23 06:49] yellowwoods12 commented on #2324
This reminds me of the scenario that happened with me. With paypal too even when the transaction was unsuccessful, the status on the website showed "paid".I was not clear whether it's a bug or not.

[2019-08-23 11:16] xdamman opened #2360 "Digital Climate Strike"
Can we add a banner on opencollective.com for the global strike for climate September 20th?
See examples on ‪https://digital.globalclimatestrike.net

And here is the code with customization details: https://github.com/fightforthefuture/digital-climate-strike

This means that our website will be unavailable for one day on Friday September 20th.

At the very least, I’d shutdown our homepage that day

[2019-08-23 12:22] xdamman commented on #2331
Thanks for those comments.
Ok let’s not introduce the concept of “sub collectives”. It’s complex enough like this.

And yes, collectives are independent from their host. It’s a very good reminder. Hosts are just contributors whose contribution is “holding (part of the) money” for the community. Hosts (like any contributor) can come and go, but the collective remains. It should be fluid.

I don’t t

[2019-08-23 12:34] znarf commented on #2319
This issue was about copy, not changing the behavior (ie: box editable by user). Please create a feature request issue if you want to make that happen. I will not change this part of the copy for now, feel free to propose something that doesn't impact the behavior in the meantime.

Also, the "Continue on Open Collective" is important because we want to hint the users that they're about to leave th

[2019-08-23 14:16] znarf commented on #2320
Latest screenshot (will try to do another with some content in the table).

<img width="683" alt="Capture d’écran 2019-08-23 à 16 15 26" src="https://user-images.githubusercontent.com/806/63599167-5102aa80-c5c1-11e9-9232-533570345b69.png">

[2019-08-23 14:47] #2352 closed

[2019-08-23 14:49] #2308 closed

[2019-08-23 15:09] znarf commented on #2289
Merged and deployed.

[2019-08-23 15:09] #2289 closed

[2019-08-23 16:18] #2359 closed

[2019-08-23 17:28] piamancini commented on #2319
copy can remain the same. No need to change it, even if box is not editable. You can go ahead and update it. I'll create a new issue for the box behaviour.

[2019-08-23 17:29] piamancini commented on #2319
"The "Back My Stack" proposed copy is failing at that point." Ok then update the button to Back your Stack and add a small caption that they will be moved to another website? This is how it's normally handled imho

[2019-08-23 21:02] alanna commented on #2320
Looks good!

[2019-08-24 00:26] feross commented on #1625
Just wanted to note that I replied in the `yarn` repo indicating that I would adopt a feature that allowed me to avoid the de-optimization you mentioned here.

https://github.com/yarnpkg/yarn/issues/6971#issuecomment-524498883

[2019-08-25 00:47] DavidSlava493 opened #2361 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/eslint/contribute/gold-sponsor-7963/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36`

# Tech

[2019-08-25 16:24] rugk commented on #1742
I also want to keep it in TODO, because that's quite important IMHO.

[2019-08-26 00:25] alanna commented on #2331
I am very nervous about the multiple hosts idea being slid into this project. I think it introduces way more complexity than you might expect. For example, Collectives in c3 legally may *not* have multiple hosts and all funds for the project must be held by one entity. I agree it's a cool idea, but we need to step back and think it through and plan it properly, and it's not currently a priority. C

[2019-08-26 07:09] Betree opened #2362 "Contribution flow error when tier doesn't exist"
**Describe the bug**
When users start the contribution flow from an URL that references a tier that doesn't exist (that can happen, for example, if admins remove the tier but someone end up on the URL because it has already been shared outside) we don't show any error message and silently fail instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/b

[2019-08-26 07:23] Betree opened #2363 "Create order: ensure tier id belongs to collective"
# Description

As of today, the API accepts creating an order with a `TierId` that doesn't belongs to the provided `CollectiveId`. Said with code, we accept this as a valid order:

[code]

This could be used to create inconsistencies in our DB. We actually have two entries of orders that were made for `Dark reader` with a tier from `QubeOs`.

[code]

| id    | description

[2019-08-26 07:38] xdamman commented on #2331
Good reminder. Thanks. (I'm still not entirely sure why this is the case, I'd love to dig into this at some point, but that's another topic).
We could enforce one host for now to keep things simple, but knowing that this constrain will eventually go away (and must go away to really reflect the nature of a collective which should not belong to any host).

Yes but moving forward, anyone can be a hos

[2019-08-26 08:07] Betree opened #2364 "Contribution flow: follow up on deprecated routes"
Following up on https://github.com/opencollective/opencollective-frontend/pull/1876#issuecomment-499924104

I've been watching for the usage of the deprecated routes for the past two months and some of them are still actively used. I could not find the places in the code where we call them so maybe these are just links that collectives have shared outside of Open Collective. This goes without sayi

[2019-08-26 09:09] Betree opened #2365 "Explicit the fact that gift cards cannot be used with incognito"
As reported by a user in https://opencollective.freshdesk.com/a/tickets/1211

We should make it clear that gift cards cannot be used with incognito profiles.

**Proposed solution**

- Add a message on the `redeemed` page to explain users that they can't use their gift card with an incognito profile.
- Add a FAQ at the payment step if using incognito while there's a gift card stored for user

    *

[2019-08-26 09:51] znarf commented on #2346
@piamancini @alanna This is the current copy for users who will receive SCA (Strong Customer Authentication) notifications. When they click on the link, the will see the following (as implemented in https://github.com/opencollective/opencollective-frontend/pull/2395):

![Peek 22-08-2019 09-42](https://user-images.githubusercontent.com/1556356/63496518-5e853b00-c4c2-11e9-87e9-9331516e203a.gif)

If

[2019-08-26 13:07] piamancini commented on #2346
Email:

- To comply with new regulations in the EU we are required to confirm ...
- Please confirm your credit card now to continue with this payment.

[2019-08-26 16:07] xdamman opened #2366 "Project: Create collective flow (design)"
New flow to create a collective to embrace the new business model discussed in #2251.

This closes #2331 #2295 #2251

## Links

- [Google Drive](https://drive.google.com/drive/folders/1tEnq1BqrzbnPymYRPFRzU00l9mPUWqIj?usp=sharing)
- [Specs](https://docs.google.com/document/d/1UUdmxjWmPLYahPg1jjKllwNS2wlXclZzq9T4ihAp2YQ/edit?usp=sharing)

## Design

- Latest design file: https://www.figma.com/file/

[2019-08-26 22:52] alanna commented on #2346
Looks good to me

[2019-08-27 01:54] alanna commented on #2366
Sorry unpinned by mistake

[2019-08-27 01:56] alanna commented on #2261
This has already been implemented, but the help text part is missing. Should I raise a seperate issue for that? I do think it's needed because many people don't understand the difference, plus the words can be ambiguous across languages.

[2019-08-27 07:23] #2361 closed

[2019-08-27 07:24] sebsheep opened #2371 "send email to contributors?"
Hello,

Will the button "send email" above the list of participants of an event send an email to all the participants?

Some of my participants are "incognito", will the be reached by the email?
![image](https://user-images.githubusercontent.com/6839698/63749692-43447200-c8ac-11e9-9c38-b082ec71f0c9.png)

I'm confused because the "send email" button is just a "mailto:[event-name]@[collective-name].

[2019-08-27 07:48] znarf commented on #2335
I inspected the behavior and it's working as intended in the code base.

If someone is a member of a collective that you're administrating, you have access to their personal informations like their email and their paypal email. This permission is granted everywhere and is not specific to a specific collective.

I understand the way it's surprising you but it's not a security hole, but more somethi

[2019-08-27 08:21] znarf commented on #2338
This will be fixed in https://github.com/opencollective/opencollective-frontend/pull/2086

[2019-08-27 12:36] znarf commented on #2366
What is our policy for "pinned" issues? Why pinning this one over the 374 others? ping @Memo-Es

[2019-08-27 12:37] #2358 closed

[2019-08-27 12:41] #2302 closed

[2019-08-27 12:48] znarf commented on #2326
@alanna there is a difference between copy changes and filtering some settings.

Can you focus this issue on the copy and create a new one for the settings that should be filtered?

[2019-08-27 12:54] #2347 closed

[2019-08-27 12:58] znarf commented on #2337
I'm fine allowing deletion of rejected expenses. Can we create an issue for that?

[2019-08-27 13:00] znarf commented on #2354
We should flush the cache when triggering such event.

[2019-08-27 13:29] piamancini commented on #2337
+1

[2019-08-27 14:00] Betree commented on #1841
This issue should now be resolved by #1875 - @xdamman?

[2019-08-27 14:38] xdamman commented on #2360
Based on the team conversation this morning. Next steps are:
- [ ] create a draft email to send to all collective admins
- [ ] Create draft blog post to explain why we are doing this
- [ ] Define behavior of the banner as we don’t want to use off the shelf script that includes a google analytics code.

The agreement is that we will put the banner throughout the website but only green out the homep

[2019-08-28 07:53] #1890 closed

[2019-08-28 08:09] xdamman commented on #2371
Sending an email to that address sends a confirmation email to the admins of the event (to avoid spam). Once confirmed, the email will be sent to all participants.

I’ve heard that there is an issue when exporting the list of participants for incognito users. @Betree can you look into that?
Also, I don’t think we should allow people to register as incognito to events (tiers of type “ticket”).

[2019-08-28 08:19] znarf commented on #2371
@xdamman if there is an issue please document it properly first so we can have a look at it. cc @Betree

[2019-08-28 08:19] piamancini commented on #2371
This should be a separate ticket @xdamman

[2019-08-28 08:21] Betree commented on #2371
@znarf I'm aware of the issue mentioned by @xdamman (it was reported in a ticket I'm assigned to). When users click on `Export CSV`, the file is missing the emails for all incognito users.

[2019-08-28 09:01] znarf commented on #2192
This was set to 75 minutes in https://github.com/opencollective/opencollective-api/pull/2291

[2019-08-28 09:10] znarf commented on #2204
Doing my best to understand what this issue is about. In the future, can you write a more detailed report?

If I look at the `user.monthlyreport`, Order with `status=ERROR` should not be included.

https://github.com/opencollective/opencollective-api/blob/master/cron/monthly/user-report.js#L200

Can you confirm the template and share a screenshot?

[2019-08-28 09:14] znarf commented on #2327
Are we good with the follow up issues, can we close this one?

[2019-08-28 09:46] #2187 closed

[2019-08-28 09:50] znarf commented on #2299
Agree, we should have a maximum width/height, and perhaps a lower size too. A default image instead of an error would be also great.

[2019-08-28 09:53] znarf commented on #2310
@Betree what's the latest resolution on that?

[2019-08-28 10:00] #1386 closed

[2019-08-28 10:06] znarf commented on #1877
We will not do that.

[2019-08-28 10:06] #1877 closed

[2019-08-28 10:09] #2113 closed

[2019-08-28 10:09] #2300 closed

[2019-08-28 10:33] Beanow opened #2375 "Implement a Responsible Disclosure policy"
Some examples have been provided in https://github.com/sfosc/sfosc/issues/85#issuecomment-504207684

[2019-08-28 11:13] znarf commented on #2375
@Beanow we have a PR open for that https://github.com/opencollective/opencollective/pull/2235

[2019-08-28 11:44] Beanow opened #2376 "Staging server signup emails not arriving"
As part of #2375 / #2235 the staging servers are suggested for testing vulnerabilities.

Creating (personal) accounts from https://staging.opencollective.com/create-account
I did not receive any emails to complete account creation with (I've checked spam).

Tested using two providers: gmail.com and soverin.net

Please verify they are sent and not being bounced.
(Related #1695)

[2019-08-28 11:56] Betree commented on #2310
@znarf Latest (and final) resolution is to specify that **all** logos on Open Collective will always be displayed on a white background. It is the responsibility of the admins to upload something that looks nice.

[2019-08-28 11:56] #2310 closed

[2019-08-28 12:13] znarf commented on #2310
Thank you! A good issue is a closed issue.

[2019-08-28 12:27] #2376 closed

[2019-08-28 12:31] znarf commented on #2376
@Beanow Can you try again?

[2019-08-28 13:11] Beanow commented on #2376
I received a signup email now :+1:

[2019-08-28 15:16] hugonun commented on #2289
Hello, I have an issue that seems to be related to this. I've created an user account and changed the username, but received the following message: "There must always be at least one collective admin". The settings got changed tho.

But now I wanted to change profile picture and that doesn't seem to work, I get that message everytime.

[2019-08-28 15:18] znarf commented on #2289
@hugonun we'll look into it, what's your collective or user account?

[2019-08-28 15:19] hugonun commented on #2289
@znarf Thanks, here is my account: https://opencollective.com/hugonun

[2019-08-28 15:49] znarf commented on #2289
@hugonun Thank you for the report, should be fixed.

[2019-08-28 15:55] xdamman commented on #2360
Behavior:
- Banner at the top or at the bottom that overlays.
- Cross button to dismiss it (and save that in localStorage or cookie till end of September)
- Full page overlay on September 20th on the homepage
- Remove both overlay and banner on September 21th

We could use the same design than the one suggested on https://digital.globalclimatestrike.net/ for both the banner and full page overlay.

[2019-08-28 16:05] znarf commented on #2360
We're a Single Page App, usually dropping a widget like that is really messy. Feel free to experiment and share the result.

But even if it's working on one page, you will figure quickly it's difficult to activate on one page and not on others. How to implement the opt-in/opt-out?

I'm open to ideas, but the safest path is to implement it in React and fully control the behavior.

[2019-08-28 16:39] xdamman commented on #2360
Ah yes, that's a good point. Let me ask if we can get someone to make a React component for it.

[2019-08-28 23:39] ghuntley opened #2379 "CSS alignment bug"
**To Reproduce**
Steps to reproduce the behavior:

https://opencollective.com/reactiveui

**Screenshots**

![image](https://user-images.githubusercontent.com/127353/63899609-d57d7f00-ca40-11e9-9ffc-324ab888aacd.png)

**Desktop (please complete the following information):**
 - OS: windows
 - Browser firefox quantium
 - Version latest

[2019-08-29 00:23] alanna opened #2380 "Different settings in sponsor orgs vs host orgs"
Sponsor orgs don't need an expenses policy section. This should be "sponsorship policy" or not be there at all.

In advanced, there shouldn't be a setting for "host fee" or for enabling applications from Collectives.

There should be no associated terms of service.

Related to #2326 about terminology differences in the settings section.

[2019-08-29 00:23] alanna commented on #2326
OK lets make this one about terminology. I have opened #2380 about settings.

[2019-08-29 00:26] alanna commented on #2337
I've updated this issue to be able the specific rejection solution.

[2019-08-29 02:30] alanna opened #2381 "Unable to apply to host with existing Collective"
This appears to be affecting all hosts. Even if you have an existing unhosted Collective, when you click "Apply" on a host page it makes you create a new Collective. This is true whether you go to the host page directly, or whether you come from the 'fiscal host' settings page in Edit Collective. There does not appear to be any path currently for an existing Collective to join or change hosts.

[2019-08-29 07:07] piamancini commented on #2380
Where are you seeing it?

[2019-08-29 07:08] piamancini commented on #2380
nm, I see it.

[2019-08-29 07:09] piamancini commented on #2381
I just tried to apply to Foundation with General Intellect and it worked as expected.

[2019-08-29 07:14] piamancini commented on #2381
I just tried to apply to Foundation with General Intellect and it worked as expected, except the foundation never received an email that a collective had applied. @znarf, we had this issue before right? The apply emails not going out to hosts.

[2019-08-29 07:29] Betree commented on #2371
Hi @sebsheep,

The incognito feature was introduced recently and we missed the fact that event's organizers would need access to users details. I can confirm that **if you try to reach the participants via the "Send Email" feature, incognito users won't receive it**.

With https://github.com/opencollective/opencollective-frontend/pull/2435 we're going to prevent users for contributing "incognito"

[2019-08-29 07:36] Betree commented on #2294
:trophy: This issue is now completed by @JohnnyAir

To claim the bounty, you can either:
- Submit a $50 invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your invoice, please

[2019-08-29 07:36] #2294 closed

[2019-08-29 08:03] znarf commented on #2381
@piamancini the only known "non-issue" is that admins of the host don't get an email when the collective is automatically approved. It's happening when the person submitting the application is also an admin of the host.

Also, confirming Alanna's report, I can't apply with my test collective to the Open Source Collective.

[2019-08-29 09:26] piamancini commented on #2381
This is my case then.

When you apply what happens? I could do it, but now I can't see that apply with ... button anymore

[2019-08-29 09:33] znarf commented on #2381
You're automatically approved, you're in.

[2019-08-29 09:42] Betree opened #2382 "Image caching issue"
**Describe the bug**
As part of https://github.com/opencollective/opencollective-frontend/pull/2421 where I added an inline image uploader, I was confronted with a bug where newly uploaded image was not served and hit the cache instead.

1. Upload worked for https://opencollective-staging.s3.us-west-1.amazonaws.com/9d8cce10-ca3c-11e9-ab66-fdd4aedb0f11.png
2. The MD5 for the previous URL is `557b9f

[2019-08-29 09:47] Betree opened #2383 "Expenses page GraphQL Error (RequiredLegalDocuments)"
**Describe the bug**

https://opencollective.com/general-intellect/expenses shows a graphql error with the following logs:

[code]

Reason is that we assume that host exists in https://github.com/opencollective/opencollective-api/blob/6ce710a8872f3ff78cc45ab8c0345789e6b0f332/server/lib/tax-forms.js#L38

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/general-i

[2019-08-29 13:38] contraexemplo commented on #2333
@Betree Asking before I break anything: the only repositories with 100+ stars I have access to are from Open Collective's organization. Would that be a problem to test the flow? Or would you rather disable that requirement?

[2019-08-29 14:27] Betree commented on #2333
@contraexemplo Feel free to test with Open Collective repos, as long as it's on staging that's fine. One problem you may face is that other team members may already have done the same on staging, thus you may get an error like "this collective already exist".

If you face this issue, just tell me and I'll prioritize the ability to disable the 100 stars requirement on staging.

[2019-08-29 15:30] contraexemplo commented on #2333
@Betree I can't go much further after picking a repository because I'm not an admin on eligible repositories or organizations. Will disabling that 100 stars requirement allow me to continue with any other repository I may have on my account?

[2019-08-29 15:31] Betree commented on #2333
@contraexemplo Yes. I'm going to put that on my TODO to unblock you

[2019-08-29 21:10] lindatalu opened #2384 "Converstion actions and navigation behaviours"
## User story
Show the behavior for the menu  when scroll down and show actions related to the conversation.
Show how those actions interact with the scroll.
Status hover when you move the mouse over.

## Documentation

https://d.pr/v/bpjc7E

[2019-08-29 23:42] alanna commented on #2371
@contraexemplo to add to docs ^

[2019-08-30 02:42] alanna commented on #2383
Is this what's preventing the info banner from showing when someone hits the $600 threshold? I just tried to trigger that on staging to get a screenshot and got a GraphQL error and no banner.

![Screen Shot 2019-08-30 at 2 42 42 PM](https://user-images.githubusercontent.com/5498878/63989417-5ff2db00-cb34-11e9-92b6-2c9549a0efe5.png)

[2019-08-30 02:57] alanna opened #2385 "Small tweaks to the invoice/receipt selector on expenses"
Requesting two small improvements to the receipt/invoice selector on submit new expense.

![Screen Shot 2019-08-30 at 2 54 55 PM](https://user-images.githubusercontent.com/5498878/63989981-684c1580-cb36-11e9-9b4c-2530b004f185.png)

1. Add a ? help icon, and on hover show:

2. Make the default selection blank, so the user has to proactively choose. If they don't choose the form can't be submitted.

[2019-08-30 02:58] alanna commented on #2261
Closing this as the main feature has been deployed. Opened #2385 to address small improvements.

[2019-08-30 02:58] #2261 closed

[2019-08-30 07:36] znarf opened #2386 "Fragile API test"
Recently, an API test started to fail randomly on a regular basis. We need to make it more solid.

```graphql.collective.test.js edits edits members - edits members```

[code]
Examples:
- https://circleci.com/gh/opencollective/opencollective-api/18483
- https://circleci.com/gh/opencollective/opencollective-api/18669
- https://circleci.com/gh/opencollective/opencollective-api/18674

[2019-08-30 09:08] Betree commented on #2383
@alanna That may be. In the issue reported here it happens because the collective doesn't have a host. If the collective you've used doesn't have one either, then it's the same issue.

[2019-08-30 09:08] piamancini commented on #2385
2. is a good point.

[2019-08-30 09:18] piamancini commented on #2384
Looks good to me. @betree?

[2019-08-30 09:30] Betree commented on #2039
Last entry is still `2019-02-15 10:57:35.668+00` so whatever bug caused it this seems to be resolved now. However I'd like to take active steps to ensure we protect the system against this in the future because we always expect users to have an `email` in the code:

1. Users without email and without a collective (91) should be marked as deleted
2. Mark all users with null email and no transaction

[2019-08-30 09:38] znarf commented on #2039
I recently had to add defensive code to protect about Users without Collectives recently, they're likely due to failures in the middle of the sign up process. Good idea to delete these.

[2019-08-30 09:50] Betree commented on #2384
Looks great!

[2019-08-30 12:19] contraexemplo commented on #2333
@Betree Just to check: did you already disable the filter? Because I still can't find repositories with less than 100 stars on the list to apply. I tried to reconnect my GitHub account to see if anything would change but... that doesn't seem to do anything. It looks like it sends an API request but on my settings, it still shows "GitHub account contraexemplo connected on 8/29/19" (yesterday).

[2019-08-30 12:33] Betree commented on #2333
@contraexemplo Not yet but the PRs are ready (https://github.com/opencollective/opencollective-api/pull/2481 + https://github.com/opencollective/opencollective-frontend/pull/2441). I'll try to get this merged before the weekend

[2019-08-30 12:35] contraexemplo commented on #2333
Okay! Thank you @Betree

[2019-09-01 13:40] NotJohs commented on #2110
Are you still on this issue? @viva-jasper

[2019-09-02 00:20] alanna commented on #2383
Hmmm it appears that https://staging.opencollective.com/newopensourcecollective does not have a host. So that could be it.

@Betree can you please confirm:
* Is the tax form banner being displayed as expected when users submit an expense to a Collective in Open Source Collective that puts them over the threshold?
* How can I get a screenshot of the banner for the docs?

If the banner isn't working

[2019-09-02 00:37] mixmix commented on #2078
still relevant

On Sep 2 2019, at 12:47 am, stale[bot] <notifications@github.com> wrote:

[2019-09-02 01:47] alanna commented on #2062
This issue keeps coming up. It's confusing for design and everyone to have to specify the differences for every change between host orgs and sponsor orgs. They should be seperate things.

[2019-09-02 01:53] alanna commented on #1284
I think this case is a subset of "submit expense on behalf of someone else" which will be included in the expenses redesign soon. That way the submitter can specify the vendor as the payee and the payment can be made directly from the host. This is great for us to enable as it cuts down on redundant payments that then need to be reimbursed.

[2019-09-02 03:42] burisri opened #2387 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/findomain/contribute/backers-11082/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv7l
- Browser: `5.0 (Linux; Android 4.4.2; Lenovo S920) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.89 Mobile Saf

[2019-09-02 06:54] Betree commented on #2383
I believe so, it works on staging and the `RequiredLegalDocuments` exists on prod so it should work.

To test the tax form feature I go to https://staging.opencollective.com/babel and submit a $5000 expense. Here is a screenshot of the page where the message appears:

![image](https://user-images.githubusercontent.com/1556356/64095365-e8ed5a80-cd5e-11e9-9ea7-acef81aceb9a.png)

Yes that would indee

[2019-09-02 06:57] Betree commented on #2062
According to the feedback on #2316, maybe we should introduce two new collective types:
- `HOST`
- `FISCAL_SPONSOR`

[2019-09-02 07:12] Betree commented on #2333
@contraexemplo Sorry I haven't been able to merge in time, will be done today

[2019-09-02 08:15] Betree opened #2388 "New collective page: broken modal"
![Peek 02-09-2019 10-15](https://user-images.githubusercontent.com/1556356/64099839-8e59fb80-cd6a-11e9-8f1a-d924585f785b.gif)

[2019-09-02 10:32] #2383 closed

[2019-09-02 11:04] contraexemplo commented on #2333
@Betree No worries!

[2019-09-02 12:13] xdamman commented on #2360
Update: https://github.com/fightforthefuture/digital-climate-strike/issues/55#issuecomment-526942573

TLDR: would be good if one of us could make a react component for it. It might even be helpful to others.

Can we prioritize this this week? Is there anything else needed to get started on this?

[2019-09-02 13:14] #2382 closed

[2019-09-02 15:15] Betree commented on #2333
@contraexemplo It's merged, https://staging.opencollective.com/opensource/apply should now display all your repos

[2019-09-02 18:34] contraexemplo commented on #2333
@Betree Aaaand it's working! Thank you!

[2019-09-02 19:05] contraexemplo opened #2389 "Creating a style guide for Open Collective's docs"
## The problem

From GitHub wikis to GitBook, our docs have gone through immense changes over the years. And with so many people with different ideas of how it should be like, a conflict of writing styles and "sequential logic" has become more apparent.

## The solution

The creation of a style guide will help us write consistent documentation for our users and contributors. It will provide guidel

[2019-09-02 19:35] sudo-kaizen commented on #2109
@kleva-j Are you still working on this? @Betree, if @kleva-j isn't still working on this issue, I would like to be assigned to it

[2019-09-02 19:37] sudo-kaizen commented on #1590
@iamuchejude still working on this issue?

[2019-09-02 23:30] alanna opened #2390 "Host admins can set terminology on payment receipts"
<img width="859" alt="Screen Shot 2019-09-03 at 11 25 41 AM" src="https://user-images.githubusercontent.com/5498878/64135576-eada1b00-ce3d-11e9-8399-d3d081b04636.png">

Users report that the invoices saying "donation receipt" causes problems for them in terms of claiming financial contributions as legitimate business expenses and tax reporting. Not all financial contributions are donations - some

[2019-09-03 00:08] alanna commented on #2389
Anna and I discussed the naming convention for images, and decided to go with a simple, manual solution for now (as opposed to something that relies on a script). It will probably include a reference to the page and section, plus a couple keywords about content. In the future if we move images around or create new ones we'll need to remember to rename them accordingly. Anna will settle on a conclu

[2019-09-03 00:09] alanna commented on #2390
@xdamman is there a reason it says "donation receipt" now? Do some people need it to say that for their own tax reasons?

[2019-09-03 00:29] alanna commented on #2062
To stay aligned with the work @xdamman is doing in #2366 I think if there are two types they would be `FISCAL_HOST` and `FUND_HOLDER`. I don't think we should introduce the term `fiscal sponsor` anywhere as it will be confusing (unless we're making the choice to transition all references to `fiscal host` to that, which is a different discussion).

I would argue, however, that the simplest change n

[2019-09-03 06:52] znarf commented on #2390
@alanna @xdamman  fyi, this is the code https://github.com/opencollective/opencollective-invoices/blob/c6afcba88a9e70bb285d48bcc6664bc3afde5878/src/pages/invoice.js#L242 cc @Betree

[2019-09-03 07:09] Betree commented on #2389
Yes, [Gitlab's template](https://docs.gitlab.com/ee/development/documentation/structure.html#template-for-new-docs) seems really clear and flexible enough to me.

A big strength of GitBook is how well it integrates with GitHub. I like the integrated editor they offer but only Open Collective core contributors can use it. As such I don't see any drawbacks to use both at the same so if it doesn't cr

[2019-09-03 07:12] xdamman commented on #2390
Yes. My understanding is that in the US a 501cx can emit invoices or donation receipts interchangeably.
Not in Europe. An invoice is specifically for a service or a product and is subject to VAT (which can be zero in some circumstances). You can also deduct that from your profit. A donation receipt is for donations and should appear in your books after profit and taxes (ie. you give a donation wit

[2019-09-03 07:16] Betree commented on #1590
@iamuchejude We can't hold the bounty assigned to you for too long. If you have a pull request ready please ping us, otherwise we'll have to assign someone else in the next few days.

[2019-09-03 07:16] Betree commented on #2109
@kleva-j We can't hold the bounty assigned to you for too long. If you have a pull request ready please ping us, otherwise we'll have to assign someone else in the next few days.

[2019-09-03 07:20] Betree commented on #1781
The only part of this issue that hasn't been explored yet is the "swag store" and it deserves an issue on its own. I think @xdamman was interested to lead this topic recently?

I'm closing this one for now, I may open more specific ones in the future.

[2019-09-03 07:20] #1781 closed

[2019-09-03 07:23] #2387 closed

[2019-09-03 07:24] znarf commented on #1781
As a follow up, we can discuss the "Open Collective ladder" idea in our upcoming retreat.

[2019-09-03 07:24] #2340 closed

[2019-09-03 07:25] #2346 closed

[2019-09-03 07:25] #2341 closed

[2019-09-03 08:28] znarf commented on #1876
That was done.

[2019-09-03 08:28] #1876 closed

[2019-09-03 09:27] znarf opened #2391 "Moving beyond postinstall messages"
Over the last years, Open Collective had been promoting the usage of `postinstall` messages. When activated, this would output a small message in the developer terminal each time someone install a given package.

This practice is highly controversial (see: https://github.com/opencollective/opencollective/issues/1625 https://github.com/opencollective/opencollective-postinstall/issues/21) and we thi

[2019-09-03 09:27] Betree commented on #1781
@znarf Great idea

[2019-09-03 12:23] Betree opened #2392 "Improve email unsubscribe tokens"
[The code](https://github.com/opencollective/opencollective-api/blob/e7791d079edf10e042dc7aff46d54726209b51d8/server/lib/email.js#L61) we use to generate email unsubscribe tokens can be considered as bad practice, because tokens can be bruteforced locally -- though demonstration shows that it's technically impossible to do so in a reasonable time frame (see https://github.com/opencollective/openco

[2019-09-03 13:03] bkmgit commented on #1910
Ok, can verify on [Lambdatest](https://lambdatest.com). [SauceLabs](https://saucelabs.com) may be another option that offers free testing for open source projects.

[2019-09-03 15:07] bkmgit commented on #1910
There are a number of possible solutions:
* Make the tooltip the max-width to be 800px - this method may not work well on small screens though, currently implemented and a pull request has been made
* Change from a tooltip (https://www.w3schools.com/howto/howto_css_tooltip.asp) to a popup (https://www.w3schools.com/howto/howto_js_popup.asp) and allow for scrolling
* Experiment with container optio

[2019-09-03 15:15] xdamman commented on #2389
This looks great. I'd just like to add a clear `contribute.md` specifically targeting people who would love to contribute to the documentation. Maybe the template could always have a call to action to improve that particular page. Maybe, like on wikipedia, there could be a tag or a line at the top that says on some pages: "this page needs illustrations, more references, more examples, etc.".

I'd

[2019-09-03 15:47] bkmgit commented on #1910
Made the tooltip the max-width to be 80% - this method may not work well on small screens with Safari and Mac OS, but should work on larger screens.  Currently implemented and a pull request has been made.

[2019-09-03 16:29] znarf commented on #1910
@flickz looks like the fix for 1) is not working anymore in Chrome / Firefox today, can you look at it?

[2019-09-03 20:02] flickz commented on #1910
Sure

[2019-09-04 02:00] dodgepong commented on #1038
I stumbled upon this issue after discussing the problem of how a contributor can pay for something with collective funds without having to buy it personally and then submit an expense afterward. Sometimes that isn't possible due to lack of immediate funds, especially for large purchases (such as plane tickets). If expenses could be paid for directly from the collective fund, that would eliminate t

[2019-09-04 07:28] #2388 closed

[2019-09-04 07:37] #2345 closed

[2019-09-04 07:47] piamancini commented on #2389
@contraexemplo This is great and it lays a framework for consistency in future iterations.

+1

@xdamman this has already been created: https://opencollective.com/documentation

[2019-09-04 09:22] piamancini opened #2394 "Project: Expense Flow Re-Design"
Expense flow re-design
=====

Project owner: @alanna (plus @piamancini )

Success metrics:

* More expenses filed
* Less support requests
* Less host admin time spent
* Way fewer issues with invoices (fewer expense comments)
* Use of the new features (ex batch expenses)

[Specs](https://docs.google.com/document/d/1nCOeAUAGMFkYb1QqUZemLUQjeQuqhiezC1guWMv6N44/edit?ts=5d6f1904#)

Includes all [issues

[2019-09-04 09:22] piamancini commented on #1326
closing in favour of https://github.com/opencollective/opencollective/issues/2394

[2019-09-04 09:22] #1326 closed

[2019-09-04 09:45] xdamman commented on #2389
Ah great, brilliant! Let's add @contraexemplo to it.
For consistency, what about either rename it to /docs (or rename docs.opencollective.com to documentation.opencollective.com but that seems harder).

[2019-09-04 10:38] piamancini opened #2395 "BackYourStack Homepage Copy Changes"
Ruby (Gem) (...) To add new languages, please see how to contribute.

Use one of the two options below to scan your organization's code and find out which of your dependencies are seeking funding. You can now support them!

Public Repositories

add your organization's slug and we'll scan all public repositories under it.

_option 1:_ Private repositories or repositories not on Github.
_option 2:_

[2019-09-04 10:47] znarf commented on #2395
- "Public Repositories" is misleading -> "Use a GitHub profile" ?
- Option 2 -> "Upload dependency files" ?

[2019-09-04 13:01] contraexemplo commented on #2389
@xdamman

Maybe https://github.com/opencollective/documentation/issues? I opened this issue in particular over here per Alanna's requests. But I see no problem in moving discussions to that repository.

Yes, I completely agree with this. During my project, the last pages I'll revamp will be the ones related to contributing to Open Collective as an *open project*. This should include things like de

[2019-09-04 13:06] contraexemplo commented on #2389
@Betree True, I love GitBook's integration with GitHub. And the Welcome page at https://docs.opencollective.com already has a summary on what to do to contribute to the documentation in terms of tools and procedures for external contributors with no access to GitBook's internal tools. It needs a bit of work, but it covers a good amount of information already.

[2019-09-04 13:18] xdamman commented on #2389
I'm confused. What's the difference between https://github.com/opencollective/docs and https://github.com/opencollective/documentation?
Given that the subdomain is https://docs.opencollective.com I would consolidate everything under "docs" to avoid any confusion (including for the slug of the collective, see https://github.com/opencollective/opencollective/issues/2389#issuecomment-527827614)

[2019-09-04 14:59] Betree commented on #1669
Would be great to get rid of all these warnings. We can use https://babeljs.io/docs/en/babel-plugin-transform-remove-console to only keep `console.error` in production.

[2019-09-04 15:27] Betree opened #2396 "Introduce a Frontend error reporting tool"
Tools like https://sentry.io or https://rollbar.com provide a way to upload and centralize errors happening in browsers. They notify you when a new type of error appears and provide useful information to help debug and reproduce (browser, OS...etc) , as well as statistics to find out the impact of an issue.

I've personally used **Rollbar** in the past and was very happy with the overall experienc

[2019-09-04 16:31] znarf commented on #1669
My approach would be to introduce a small `logger` wrapper to activate/deactivate on demand. With sensible defaults, enabled in dev, disabled in production.

[2019-09-04 16:35] Betree commented on #1669
This is good too. What I like about using a babel-plugin is that it entirely strips the `console.log` from the code (lighter) and there's no big refactor to do, it's only 5 lines to add in the `.babelconfig`

[2019-09-04 22:53] alanna opened #2397 "Archived Collectives should not appear in search results"
This Collective is archived but still turning up in search results: https://opencollective.com/symfony-diversity-speaker-mentoring

I assume that means others are too. They should not be appearing in search.

[2019-09-04 23:31] alanna commented on #2390
OK in that case I would like to go ahead with this change. Can this be actioned please @znarf ? Normally I'd say make it a bounty but we have a user waiting to be able to download invoices that will be valid in his country.

[2019-09-05 01:10] alanna opened #2398 "Update 'from' ID should be Collective name not email address"
Updates emails appear to be missing the Collective name as the email sender, and instead the email address is being displayed.

<img width="588" alt="Screen Shot 2019-09-05 at 1 08 53 PM" src="https://user-images.githubusercontent.com/5498878/64303914-6c68af00-cfde-11e9-8448-e870d502e5d8.png">

[2019-09-05 01:27] MaryOJob opened #2399 "Unexpected error when I try to view our open collective page"
# Describe the bug

<img width="1276" alt="Screen Shot 2019-09-05 at 2 25 21 AM" src="https://user-images.githubusercontent.com/25005583/64304652-8ecdde80-cf84-11e9-9340-b9e1720f9d02.png">

I got an unexpected error on https://opencollective.com/do_action-ijebu while I was trying to view our collective page here - https://opencollective.com/do_action-ijebu

# To Reproduce

1. Go to https://opencol

[2019-09-05 02:00] alanna commented on #1864
We have followed up on the suggestions here. Thanks everyone!

[2019-09-05 02:00] #1864 closed

[2019-09-05 03:33] contraexemplo commented on #2389
@xdamman https://github.com/opencollective/documentation is where files from https://docs.opencollective.com are synced to. Any edit on GitBook results in a commit over there, and approved PRs can also modify content.

On the other hand, https://github.com/opencollective/docs seems to be an abandoned repository?

Making a few tests, `Open Collective + docs` seems to point people to `docs.opencolle

[2019-09-05 06:42] piamancini commented on #2395
ok - you don't think it'll make user think they must login? I guess having the url immediately afterwards makes it clear.

Ah, I always thought it was one file.

[2019-09-05 06:57] piamancini commented on #2097
@Betree Do we need this issue open still or is it covered in the NCP?

[2019-09-05 07:05] Betree commented on #2097
@piamancini It's not covered by the NCP. There's no emergency to implement it, but I still think that it would be helpful to have this.

[2019-09-05 07:05] znarf commented on #2399
@MaryOJob the origin of the problem was that an update was created with an account you have now deleted. I attached your new account to the update. It should work now.

[2019-09-05 07:22] Betree commented on #2390
Let's not break things for Europe. We can check the country of the person being invoiced, if it's EU then keep the existing behavior, otherwise always show "Payment receipt". Would that work @xdamman @alanna?

[2019-09-05 08:27] Betree opened #2400 "Gift cards admin general stats"
*Initially suggested by @piamancini*

## User story

As an organization admin, I can view general statistics about my generated gift cards to know how the campaign is going.

## Best solution for this problem

Above the gift cards list on `/collective/edit/gift-cards`, display:
- Total number generated + total value
- Number claimed with amount spent
- Number expired with amount spent
- Number not

[2019-09-05 08:32] staltz opened #2401 "Unable to sign in via email"
**Describe the bug**

I keep waiting for the magic link to arrive, but it doesn't, not even to my spam folder. I am sure it has worked in the past. This is rather critical issue in my opinion, because I can't send newsletters/updates neither invoices like this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to OpenCollective.com
2. Click on Sign In
3. Input my email address `andre@staltz

[2019-09-05 08:35] Betree opened #2402 "NCP: Contribute cards scambled (Opera, Brave)"
Initially reported by @xdamman

Test ID: TES1009631001567667576236858
Operating System: Windows 10
Browser: Opera 62, Brave browser
Resolution: 1024x768

![](https://s3.amazonaws.com/issues-screenshots/jgzKdb3N1YT4HmTYHLTPxNE6C5ddujiqjUexK1Nj1567672511.png)

[2019-09-05 08:38] Betree opened #2403 "NCP: Broken contribute cards on IE11"
Test ID: TES1009631001567667576236858
Operating System: Windows 10
Browser: IE 11
Resolution: 1024x768

![](https://s3.amazonaws.com/issues-screenshots/Adj74rxwDdgOksfu7xeI8sl5Z1vTfdEpJzfJBVAp1567672699.png)

[2019-09-05 08:41] Betree opened #2404 "NCP: Hero background bug on IE11"
**Root cause**
CSS masks are not supported on IE11.

**Expected behavior**
Background should be white and no image should be displayed if CSS masks are not supported.

**Preview**
Test ID: TES1009631001567667576236858
Operating System: Windows 10
Browser: IE 11
Resolution: 1024x768

![](https://s3.amazonaws.com/issues-screenshots/Q0YJrb8x8fyP6has0MWyCizBoBRsbgHaIxaxa6Zk1567672894.png)

[2019-09-05 08:44] Betree commented on #2401
Hi @staltz, I just checked and your provider rejects our emails:

![image](https://user-images.githubusercontent.com/1556356/64326297-03773c00-cfca-11e9-8375-d17181f9aa50.png)

Can you check if Open Collective emails are not blacklisted on your side? Are you using a third party email provider or are you self hosting?

[2019-09-05 08:51] znarf commented on #2401
Similar to https://github.com/opencollective/opencollective/issues/2302

[2019-09-05 08:51] staltz commented on #2401
@Betree I use fastmail.com and I'm able to receive other OpenCollective emails such the "hiring" email just sent some hours ago:

![Screenshot from 2019-09-05 11-50-57](https://user-images.githubusercontent.com/90512/64326914-79cc6c00-cfd3-11e9-8963-55a8d0e3c70d.png)

If OpenCollective had a password login, I'd use that instead. I'll contact Fastmail now, too.

[2019-09-05 08:53] znarf commented on #2401
It's on Mailgun side, somehow you're in a list of people who marked Open Collective emails are spam (don't know how that happened) and the email is not sent for that reason. The newsletter is sent through another provider.

[2019-09-05 08:57] znarf commented on #2401
Removed you from that list, it should be better now.

[2019-09-05 08:57] staltz commented on #2401
Thanks for the info.

I managed to fix this (or maybe it was you guys who also did an action in the past few minutes), by adjusting my email provider's spam settings to be more loose, and I'm now logged in.

Thanks for the very quick reaction!

[2019-09-05 08:57] #2401 closed

[2019-09-05 09:39] Betree commented on #1352
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://github.com/opencollective/opencollective-frontend/edit/master/BOUNTY.md)

[2019-09-05 09:42] MaryOJob commented on #2399
Thanks @znarf for the assist. I appreciate.

[2019-09-05 09:42] #2399 closed

[2019-09-05 09:46] Betree commented on #1689
A resolution for this has been given in https://github.com/opencollective/opencollective/issues/2310#issuecomment-525711716:

[2019-09-05 09:46] #1689 closed

[2019-09-05 09:54] Betree commented on #1983
Resolved in the new collective page

[2019-09-05 09:54] #1983 closed

[2019-09-05 09:56] Betree commented on #2058
De-assigning @brymut because of lack of activity

[2019-09-05 10:04] Betree commented on #2104
Resolved in https://github.com/opencollective/opencollective-frontend/pull/2421

[2019-09-05 10:04] #2104 closed

[2019-09-05 10:05] Betree commented on #1951
The initial release is now ready, we'll use #2225 to collect feedback on it

[2019-09-05 10:05] #1951 closed

[2019-09-05 10:10] Betree commented on #2140
In the end I took the decision to limit the "beta program" idea because the way to implement it correctly added too much complexity. Some internal collectives such as https://opencollective.com/general-intellect have been activated with the "partial" beta though.

**Final resolution:** https://github.com/opencollective/opencollective-frontend/pull/2400 added the option to enable the new collective

[2019-09-05 10:10] #2140 closed

[2019-09-05 10:23] Betree commented on #2362
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2019-09-05 10:26] Betree commented on #2298
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2019-09-05 10:41] Betree opened #2405 "NCP: SuggestedCollectives section"
See design: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E2%86%92-Create%2C-Edit?node-id=0%3A7428

![image](https://user-images.githubusercontent.com/1556356/64335166-8bfdd880-cfda-11e9-878b-f61464252125.png)

# Specs

- Should display random collectives of the same host or with the same tags

[2019-09-05 12:30] znarf opened #2406 "Can't update payment method, save button disabled"
When trying to update a payment method in the subscriptions screen, it can be that the save button stay disabled, preventing the user to perform the intended action.

https://opencollective.freshdesk.com/a/tickets/1483

[2019-09-05 18:41] TheDutchCoder opened #2407 "Language switcher: "Niederländisch" should be "Nederlands""
**Describe the bug**
The language switcher in the footer of the front-end shows "Niederländisch" to switch to Dutch, but that's the German word. It should be "Nederlands".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the footer
2. Confirm "Niederländisch" is shown

**Expected behavior**
It should display "Nederlands"

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-09-05 18:58] znarf commented on #2407
@TheDutchCoder absolutely sorry about that, will be fixed promptly

[2019-09-05 19:57] piamancini commented on #2404
@Betree that arrow man... you ok? 🤣

[2019-09-05 19:58] piamancini commented on #2400
nice! I had forgotten about this thanks Ben

[2019-09-05 20:01] Betree commented on #2404
@piamancini Hahaha I was hopping that nobody would see it :smile: I swear I'm not drunk-coding! I was using https://www.lambdatest.com/ which is great for cross-browser testing but their UX to edit the screenshot can definitely be improved :wink:

[2019-09-05 21:46] alanna commented on #2390
This user is in Bulgaria. Not sure if that counts as Europe. I would much rather keep this simple and make it the same for everyone. @Betree who exactly would it break for if it said "payment receipt"?

[2019-09-05 22:45] TheDutchCoder commented on #2407
No worries, it's a detail and it struck me as funny :)

[2019-09-05 23:09] NotJohs commented on #2203
@znarf I have reviewed this issue and so far I understand that the email template
https://github.com/opencollective/opencollective-api/blob/master/templates/emails/collective.expense.approved.hbs
at line 5 provides a link to the expense.
so my question is,  is this enhancement needed?

[2019-09-05 23:16] alanna commented on #2400
This would be great. It would be even better if it showed this per batch created. For example OSC creates gift cards for various reasons (OSCA events, sponsoring conferences, etc) and it would be really useful to see these stats. A workaround if that's too complicated would be to provide a CSV download of all the data together with the batch name as a column so admins could figure out the stats pe

[2019-09-06 06:38] znarf commented on #2390
@alanna Bulgaria is in the EU https://en.wikipedia.org/wiki/Member_state_of_the_European_Union

[2019-09-06 07:04] Betree commented on #2390
I was a misuse of language, I was indeed talking about the European Union so Bulgaria is concerned.

From @xdamman's comment above, my understanding is that some users need to have `Donation receipt` marked there for their accountability. If we just show `Payment receipt` for everyone I'm afraid we may break things for them.

[2019-09-06 07:36] Betree commented on #2400
@alanna Good point, we don't have a notion of "batch" at the moment but we should definitely create it asap to make this kind of features possible in the future. I'll work on an issue to spec that out.

[2019-09-06 07:38] Betree commented on #2203
@NotJohs As per [my comment](https://github.com/opencollective/opencollective/issues/2203#issuecomment-518118058) above the correct template is `collective.expense.approved.for.host.hbs`

[2019-09-06 08:22] NotJohs commented on #2203
@Betree understood.

[2019-09-06 08:36] znarf opened #2408 "Update react-dropzone to latest version"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the Frontend, we're currently using the version 5 of `react-dropzone` and the upgrade to version 6 has breaking changes. The latest version is now 10.

We want to:

  - upgrade the package: `react-dropzone`
  - ~~upgrade related dependencies: `react-dnd`  and `react-dnd-html5-backend`~~
  - adapt the cod

[2019-09-06 09:32] znarf commented on #2381
@alanna I looked at the issue and could not reproduce. I have a test collective that I can use to apply to the "Open Source Collective".

![Screenshot 2019-09-06 at 11 31 35](https://user-images.githubusercontent.com/806/64417729-eca01a80-d099-11e9-8806-5f7244ae763f.png)
![Screenshot 2019-09-06 at 11 31 31](https://user-images.githubusercontent.com/806/64417730-ed38b100-d099-11e9-8d35-d6a3ce9a9ba1

[2019-09-06 15:26] contraexemplo commented on #2333
@Betree What's the recommended procedure to change which GitHub account is connected to your profile on Open Collective? Revoking access from GitHub?

[2019-09-06 16:16] #2270 closed

[2019-09-06 17:25] #2216 closed

[2019-09-06 22:29] sudo-kaizen commented on #2406
Hello @znarf

1. I request to be assigned this issue
2. Could you please provide a method through which I can replicate this issue?

Thanks

[2019-09-06 23:14] sudo-kaizen commented on #357
@znarf @alanna
Could you provide a procedure for anyone replicate this? Thanks

[2019-09-07 21:13] bkmgit commented on #1910
* Tooltip does not appear on Safari 6.2.8 for commit 3608f63

[2019-09-08 05:57] alanna commented on #1540
We just had this issue come up again. I know it's rare because we are practically the only org that's running multiple hosts at once, but the consequences when it happens are really messy. I wish this could be fixed.

[2019-09-08 06:05] alanna commented on #2381
Hmmmm. I created a new Collective and it's working as expected, with the apply button detecting that Collective and letting me apply with it. But it isn't working for `testcollective` which has no host. Is it possible it's working for new Collectives that haven't be hosted but not for Collectives that removed their previous host?

[2019-09-08 06:20] NotJohs commented on #2408
@znarf Will look into this

[2019-09-08 07:38] bkmgit opened #2409 "Development deployment configuration on remote server"
**Describe the bug**
When deploying on a Remote server using Fedora 30, the default configuration in  opencollective-frontend/env.js with PORT: 3000 and WEBSITE_URL: 'http://localhost:3000', does not work well

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a fresh virtual machine with Fedora 30 with at least 2 Gb RAM
2. sudo dnf install -y git npm
3. git clone https://github.com/openc

[2019-09-09 10:59] Betree opened #2410 "Deleted collectives should not prevent slugs from being taken again"
**Current behavior**
When you delete a collective, we set `deletedAt` but don't change the slug. As there's a constraint on the slug, it stays locked forever.

This is a problem because some collectives are deleting an organization created by mistake to re-create a collective instead and are blocked by the slug validation. (ex: https://opencollective.freshdesk.com/a/tickets/1521). As deleted colle

[2019-09-09 16:37] Betree opened #2411 "Unpredictable behavior when hosts change their Stripe account"
In https://github.com/opencollective/opencollective-api/blob/c279192f2f592d05316657ae985df5bfa7651591/server/models/Collective.js#L2089, we retrieve host's Stripe account by returning the first `ConnectedAccount` available.

This creates an issue where when changing your Stripe account, as the old one is not marked as deleted, where the actual account that will be used cannot be predicted.

Markin

[2019-09-09 18:00] sudo-kaizen commented on #2362
Hello @Betree I request to be assigned this issue. Thanks

[2019-09-09 19:35] leonardohof commented on #2058
@Betree Can assign to me?

[2019-09-09 19:50] flickz commented on #2058
@Betree Might be busy, we're having an offsite retreat, feel free to take it on. I'll assign it to you

[2019-09-09 19:59] leonardohof commented on #2058
@flickz thanks!

[2019-09-10 01:55] mhamdhh995 opened #2414 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pixijs/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv7l
- Browser: `5.0 (Linux; Android 5.1; HUAWEI TIT-U02) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Mobile Safari/537.36`

# Technical det

[2019-09-10 07:49] #2414 closed

[2019-09-10 09:06] Betree commented on #2180
:trophy: This issue is now completed by @sudo-kaizen

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-10 09:06] #2180 closed

[2019-09-10 14:21] alanna opened #2415 "Pending applications page is broken"
Go to a host dashboard and click 'pending' - see error.

[2019-09-10 17:47] Betree opened #2416 "NCP user profiles: responsiveness issues"
- Page width is larger than 100vw
- Indalid paddings
- Invalid section title alignment

![Screenshot_20190910-194322_Firefox](https://user-images.githubusercontent.com/1556356/64637194-94537a80-d403-11e9-92bb-78816233ea48.jpg)

![Screenshot_20190910-194350_Firefox](https://user-images.githubusercontent.com/1556356/64637203-99b0c500-d403-11e9-9c4a-3b3eb7d1ce6f.jpg)

[2019-09-11 08:14] #2415 closed

[2019-09-11 09:29] NotJohs commented on #2183
@Betree it's to enable `settings.collectivePage.tiersOrder` array to be sorted a drag 'n' drop UI interface.

[2019-09-11 10:35] sudo-kaizen commented on #2109
@Betree I cant seem to find any example for how the `expenseCreated` object can be passed from the `Submit Expense` page to the page for the created expense using `Router.pushRoute`
Any form of help will be appreciated.
Thanks!

[2019-09-11 12:32] alanna commented on #2002
Another example: https://opencollective.com/bluehost-vs-squarespace

[2019-09-11 13:10] #2267 closed

[2019-09-11 13:18] #1995 closed

[2019-09-11 13:19] #1774 closed

[2019-09-11 13:20] #1710 closed

[2019-09-11 13:20] #1659 closed

[2019-09-11 14:34] Betree commented on #2109
Hello @sudo-kaizen you don't need to pass the `expenseCreated`, the expense page is responsible for fetching its own data. The expense id that you need for the tax form thing is actually available from the route, in `pages/expense.js` > `props.ExpenseId`.

[2019-09-11 14:35] Betree commented on #2109
Increased the bounty amount to **$100** because of the complexity.

[2019-09-11 14:40] sudo-kaizen commented on #2109
Noted!

[2019-09-11 14:57] sudo-kaizen commented on #2109
Of course! I was addressing Spec#2, where the `expenseCreated` object is necessary for the message currently in https://github.com/opencollective/opencollective-frontend/blob/8ff7e6140d849e095ff9403de4bd1052cb531712/pages/createExpense.js#L98 to be displayed on the page that the user has been redirected to.

[2019-09-11 14:59] #2362 closed

[2019-09-11 15:00] Betree commented on #2362
:trophy: This issue is now completed by @JohnTitor

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-11 15:07] Betree commented on #2109
@sudo-kaizen You should be able to retrieve the required host name from `data.Collective.host.name`. You need to have the same check tho, `data.Collective.host` can be null.

[2019-09-11 15:10] sudo-kaizen commented on #2109
Sure! I can do that!
I'll keep you posted!
Thanks 😊

[2019-09-11 15:52] xdamman opened #2417 "Project: Homepage redesign"
![Wireframe Home page open collective B](https://user-images.githubusercontent.com/74358/64712853-3df64280-d4bc-11e9-93aa-cc83ebd444f6.png)

## Feedback so far

- Work on About + open source sections, maybe make it less prominent?
- Need a link to documentation, to blog, to our github repo (maybe use the icons now within About section for that)
- Need for a /transparency page
- Add another call to

[2019-09-11 15:53] xdamman commented on #2264
First wireframes for feedback: #2417.
Closing this issue.

[2019-09-11 15:53] #2264 closed

[2019-09-11 16:02] alanna commented on #2417
Please let me know when you're ready for copy feedback

[2019-09-11 17:15] xdamman commented on #2417
You can already make copy suggestions in [this google doc](https://docs.google.com/document/d/1FkiGvMVuamExwC7WXg_PcohLtVDdHcHktEV2N7qEQM8).

[2019-09-11 23:29] isnonsodanniel commented on #2298
Hi, I'd like to solve this issue

[2019-09-11 23:33] nonsodaniel commented on #2298
Hi, I'd like to work on this issue

[2019-09-12 15:47] xdamman opened #2418 "New collective page: edit default sections"
If there is no tier, we shouldn't show the default "donate tier".

compare https://opencollective.com/xr-ist with https://opencollective.com/xr-ist/v2

(ideally, we should be able to customize the default "donate tier" in /edit tiers, but for now, it feels like not showing when there is no tiers defined could be a quick fix)

Reason it's important: some collectives might not be ready yet to receiv

[2019-09-12 18:28] Mahmoudz opened #2419 "Sponsors listed in backers.svg"
**Describe the bug**
I'm trying to create a new Tier for Sponsors.
I created a different types of Tiers and all of them are listed under the backers list `https://opencollective.com/{project}/backers.svg` instead of the sponsors list.
How can I create a Sponsors type Tier?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/{project}/edit/tiers#

**Expected behav

[2019-09-12 19:21] #2419 closed, assigned to nobody

[2019-09-13 06:58] znarf commented on #2409
I don't see how changing `WEBSITE_URL` would fix the situation, it's barely used in the codebase. I also don't see why `0.0.0.0` or `localhost`, if you're on a remote server, you should use the public IP address right?

Does the production build works better? 'NODE_ENV=production npm run build` then 'NODE_ENV=production npm run start`

[2019-09-13 06:59] znarf commented on #2407
Thank you, fixed!

[2019-09-13 06:59] #2407 closed

[2019-09-13 07:19] Betree commented on #2298
@nonsodaniel Sorry, this issue is already assigned

[2019-09-13 07:42] Betree commented on #2333
@contraexemplo Sorry for the late reply! I would indeed revoke access from GitHub yes.

[2019-09-13 08:19] #1352 closed

[2019-09-13 08:19] Betree commented on #1352
:trophy: This issue is now completed by @JohnTitor

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-13 08:43] piamancini commented on #2121
@betree this is still out of scope right ?

[2019-09-13 08:47] Betree commented on #2121
@piamancini For the initial release yes, but it's high in my todo - I hope to tackle this in the next 2/3 weeks.

[2019-09-13 09:02] piamancini commented on #2417
Also feedback:
- include the numbers in the transparency page not at the bottom. I think there's a general feeling that they are nos very accurate.

[2019-09-13 09:02] piamancini commented on #2093
I'll reach out to scribd about their experiment.

[2019-09-13 09:04] piamancini commented on #2121
great!

[2019-09-13 10:57] katrin80 commented on #1892
Abrí el link y la primera parte de abrió pero terminó la primera y le doy seguir y no abre

[2019-09-13 11:50] znarf commented on #2114
This bounty is now opened for everyone.

[2019-09-13 12:04] znarf commented on #2203
🏆 This issue was completed by @NotJohs

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-13 12:04] #2203 closed

[2019-09-13 12:08] znarf commented on #2293
Unassigning @nonsodaniel because of lack of activity.

This issue and bounty is now open to everyone.

[2019-09-13 12:11] znarf commented on #2292
Unassigning @Nelson-Chinedu because the allowed time is over (feel free to follow up on your PR though).

This issue is now open for everyone.

[2019-09-13 12:11] znarf commented on #2179
This issue is now open for everyone.

[2019-09-13 12:19] znarf commented on #2110
@viva-jasper sorry for late answer. If you're:

1) contributing to https://opencollective.com/babel/contribute/bronze-sponsors-356/checkout/details
2) change the frequency
3) confirm in the modal
4) you should be "redirected" to https://opencollective.com/babel/donate/details (the amount should ideally stay the same). This should not be a hard redirect, this should be done smoothly by changing the

[2019-09-13 12:19] piamancini commented on #2410
this should also be the behaviour for the email address of profiles that can't be deleted because they have transactions and therefore are anonymized.
Separate issue for this in the future ...

[2019-09-13 12:19] znarf commented on #2110
This bounty is now opened to everyone.

[2019-09-13 12:21] piamancini commented on #2006
@xdamman maybe you are considering this in the context of the new create collective with recording expenses option?

[2019-09-13 12:21] znarf commented on #1532
Closing the issue because it's gonna be invalid with the release of Collective Page v2.

[2019-09-13 12:22] znarf commented on #1666
Closing because it will be invalid with the release of Collective Page v2.

[2019-09-13 12:22] #1666 closed

[2019-09-13 12:24] znarf commented on #1649
This issue is now open to everyone.

[2019-09-13 12:26] znarf commented on #1773
@Gbahdeyboh Thank you for the PR in https://github.com/opencollective/opencollective-api/pull/2392 Can you share some screenshots of the emails?

[2019-09-13 12:28] znarf commented on #1786
@josiaholatunde this is the "Contribution Flow" https://github.com/opencollective/opencollective-api/pull/2392

[2019-09-13 12:28] znarf commented on #1819
This issue is now open to everyone.

[2019-09-13 12:30] piamancini commented on #2103
@betree are we putting this on the list for up coming versions? We have the design of the cards that for code contributors.

[2019-09-13 12:32] znarf commented on #1910
@bkmgit I prefer not to fix the issue that make something complicated. The fix should ideally be CSS only.

Warning, the Collective Page v2 is now really close and the issue will be disappearing at that time.

[2019-09-13 12:47] Betree commented on #2179
:trophy: This issue is now completed by @Rexben001

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-13 12:47] #2179 closed

[2019-09-13 13:18] nonsodaniel commented on #2293
Hi, I had issues with my PC.. But I'm ready to do it now

On Fri, Sep 13, 2019, 1:08 PM François Hodierne <notifications@github.com
wrote:

[2019-09-13 13:46] Betree commented on #2103
@piamancini It's in the backlog, I have no ETA for this one at the moment. It will have to be a project of its own, but that may be a good candidate for a bounty. I'll assign myself for now so I can do more research and write more precise specs.

[2019-09-13 19:32] JohnnyAir commented on #2292
I will like to work on this issue.

[2019-09-13 21:08] sudo-kaizen commented on #1786
Hello! 😟 I am unable to access this document

[2019-09-14 05:34] bkmgit commented on #2409
Thanks for pointer on public IP. Will check production settings.

[2019-09-14 08:55] znarf commented on #1786
@cuiki Can you check the Figma link, looks it was renamed, can you share the updated one? Also, looks like Figma is not public, can you review the permissions?

[2019-09-14 10:48] nonsodaniel commented on #2293
@znarf I'm taking this already

[2019-09-14 12:49] nonsodaniel commented on #2293
Hi @znarf, I've resolved the issue and I'd like you to check it

[2019-09-14 12:56] znarf commented on #2293
@nonsodaniel what is the PR?

[2019-09-14 16:49] XVilka opened #2420 "Way to put a bounty on a specific issue/milestone/project"
## User story
If some sponsor of organization core contributor wants to sponsor a particular problem, or core contributor wants to put a bounty as an expense to a particular problem OpenCollective platform should allow to do that, something similar to BountySource.

## Best solution for this problem
At first, there should be a way to select GitHub or GitLab targets for both sponsors and organizati

[2019-09-14 17:01] writingpoli opened #2421 "Show Individuals' Contributions instead of Organization"
When I added donations we'd received before we joined Open Collective, the platform forced me to include an "organization" along with the name of the contributor. So, I wrote "via facebook fundraiser" for one and then "n/a" for the rest (assuming we'd have this chat and sort it out later). But the site only shows the "organizations" that contributed rather than the individuals. Can we make that fi

[2019-09-14 17:16] XVilka opened #2422 "Integration with conference organization software"
There are various conference organization platforms, and many big open source projects use some of them for setting up a developers/users conference revolving about this platform. It is a very rough idea, but you might think about the ways of this integration for 'Events' feature:
- [Indico](https://getindico.io/)
- [OSEM](https://osem.io/)
- [Eventbrite](https://www.eventbrite.hk/)
- [Pretalx](ht