[2020-05-05 16:37] Betree commented on #3112
@Piedone Sending the receipts by email is also planned, you can follow https://github.com/opencollective/opencollective/issues/2867 for this one.

[2020-05-05 16:41] Piedone commented on #3112
I don't think it's about sending bills out to a billing address, no?

[2020-05-05 17:16] Betree commented on #3112
@Piedone It's about sending the receipts (that are generated for each financial contributions) to the admins of the collectives and (as per the specs in this issue) to the members listed as "Accountants". In the end the feature will provide the same capabilities than having a billing address, except it will support having multiple ones - which is something also required by other organizations like

[2020-05-05 17:54] kewitz commented on #3093
As discussed in a call with @znarf, for now, we'll only enforce new collectives and collectives that are not yet accepting manual transactions to use the structured form.

Existing collectives will keep using manual instructions.

[2020-05-05 18:01] Piedone commented on #3112
I see. What I'm suggesting as an interim or supplemental solution is really just an e-mail address, no users at all. Creating users is another step that in the case of us for example (understanding that our use-case is not the only one, just talking about our experience specifically) would serve no use apart from gaining access to the invoice. Note that we're donors only.

Since all companies ever

[2020-05-06 01:50] snitin315 commented on #2842
I will take this up.

[2020-05-06 02:36] SudharakaP commented on #3059
Sure, thanks a bunch. Will let you know along the way. :smile:

[2020-05-06 05:38] SudharakaP commented on #3096
Okay, I've found the root cause of the wrong value in the filename as well. Just made a commit to #4112 which should take care of it. So to summarize I have three PRs related to this issue;

1) https://github.com/opencollective/opencollective-frontend/pull/4098 : I am not sure if this is needed or not since the issue is not about CSV files as we initially thought but rather about PDFs.

2) https:/

[2020-05-06 07:37] leena4c opened #3114 "Contact backer"
A backer donated more than he indicated in his donation. Maybe he made a mistake making the wire transfer, maybe while putting his contribution on OC. In any case, I would like to reach out to him and ask him, but I don't know how. How can I get in touch with a backer?

Thank you!!

URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

[2020-05-06 10:44] liuyib opened #3115 "contributors.svg doesn't work"
Hi, my url is https://opencollective.com/hexo-theme-stun/contributors.svg and it returns "Not found".

I've been waiting for many days.

[2020-05-06 11:11] sbinlondon opened #3116 "CCF: add E2E tests for the onboarding modal"
The new create collective flow and associated parts (like the onboarding modal) doesn't have adequate test coverage yet. We want to fix this. We've added the paths that we want to cover in `https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/38-onboarding-modal.test.js`.

To implement the missing tests, you need to:
1. Setup your local environment & check

[2020-05-06 12:45] kewitz opened #3117 "Checking collective funds assumes $1 fee even when "Marking as Paid""
**Describe the bug**
Before marking an expense as paid we check the Collectives balance to see if they have enough funds to pay for it.
The problem is that even when manually Markin as Paid with 0 fees, we assume a $1 margin which will cause troubles when the expense is clearing all the collective's balance.

**Slack Thread**
https://opencollective.slack.com/archives/C6MKYT4AY/p1588764964004400?th

[2020-05-06 14:20] kewitz commented on #3102
**The root problem:** My collective is set up in GBP but since I can’t pay GBP expenses using GBP through TransferWise, I want to use my EUR balance to pay for them.

**Scenario:**
Cage is a Collective from the UK and is set up in GBP, like its Host.
Nicolas wants to submit an expense to Cage Collective, but it can't because TransferWise can't set up transactions from GBP to GBP.

**Solution:** Be

[2020-05-06 16:07] #3093 closed

[2020-05-06 16:10] #3037 closed

[2020-05-06 22:39] alanna commented on #3057
Cool, I had a feeling you were already aware of most of those things. Glad they are already underway.

In terms of our own system I completely agree we should be consistent. However these documents are going to be used outside our system (by definition that's why people are exporting them). I think in order for it to function as a valid invoice for tax purposes in most countries, it will need to i

[2020-05-06 22:40] alanna commented on #2850
This is still happening. Can it be a bounty?

[2020-05-07 02:47] alinamanko opened #3118 "Support Metrics Report April 2020"
### Support Metrics Report April 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/81248832-5f222980-9071-11ea-8f3c-8e6f9e233b22.PNG)

The number of tickets received has increased slightly (11%) from 380 in March to 42

[2020-05-07 06:51] piamancini commented on #3057
Just the org admin that is logged in for now.

We tried that already and we feel that it's a worst experience because
a) it's the first thing they look for
b) we make them fill up the form and at the end they discover the dropzone so they don't know if they fill up the form for no reason when they could've just dropped and invoice. It's a more frustrating experience.

in the current design, they c

[2020-05-07 08:38] znarf commented on #3115
Fixed

[2020-05-07 08:38] #3115 closed

[2020-05-07 08:39] #3049 closed

[2020-05-07 11:00] Betree commented on #2850
Sorry, this one had slipped my attention but should be fixed as a priority

[2020-05-07 12:42] #2850 closed

[2020-05-07 13:52] #3117 closed

[2020-05-07 14:56] Betree commented on #2827
Fixed by https://github.com/opencollective/opencollective/issues/2547

[2020-05-07 14:56] #2827 closed

[2020-05-07 15:26] Betree commented on #2969
I did investigate a bit more and through the `search` is what triggers it, the problem actually comes from `collective > stats > totalAmountSpent` on [this collective](https://opencollective.com/fnrs). I'm able to reproduce with this GQL query:

[code]

By digging a bit more, it results that `getFxRate` is the source of the crash, and that's because the `collective.currency` is `€` (while it shoul

[2020-05-07 15:26] #2969 closed

[2020-05-08 08:17] znarf opened #3119 "PayPal error: "Cannot read property 'error' of undefined""
PayPal response payload is not what is expected:

[code]

https://github.com/opencollective/opencollective-api/blob/master/server/lib/transactions.js#L97

Let's check if it's isolated or if they changed their API.

[2020-05-08 09:14] alanna commented on #3112
Good idea. Why don't you check directly with OC's accountant Dominick to get feedback before finalising the design? He is most familiar with what is needed.

[2020-05-08 12:28] flaki commented on #2843
There's also the added issue of monthly fees to hosted orgs who are only intermittently active - when they are not active, a base fee feels like a needless charge, and when they _are_ active and generating work for their host, a baseline fee would not be fair either.

We are working around this currently by charging a fix per-transaction fee (1 EUR) that covers or at least contributes to the varia

[2020-05-09 09:05] nlok5923 opened #3132 "Bar button in navbar don't work"
![Screenshot (804)](https://user-images.githubusercontent.com/56120084/81469361-53ca1d80-9199-11ea-8349-a077517158fb.png)

on clicking bar button in mobile view takes to the bottom of the page.
Can i work on this issue please let me know.

[2020-05-11 00:47] alanna commented on #2843
@flaki - Thanks for the feedback. I totally agree. We are aware of the problems with making hosts also create a Collective for their own budget. We are planning to integrate Collective budget features into host pages soon so this won't be needed.

[2020-05-11 07:56] #3101 closed

[2020-05-11 08:09] Wodann commented on #2868
@znarf As a collective, we want to extend our Open Collective services to Github users, through the Github Sponsors program for organizations. Currently, our fiscal host would manually have to input all Github Sponsors stripe transactions into Open Collective manually, which would be too much work for them.

I've checked existing issues and projects to see if there has been progress on the "Github

[2020-05-11 08:17] alanna commented on #2868
That's definitely the outcome we'd like to see @Wodann! But we haven't had the dev capacity yet.

We are still manually crediting Github Sponsors funds to Collectives ourselves. I would love to automate it, and to make that available to all hosts. I think to achieve that, we'll need work on both the Open Collective and Github sides. We have a good relationship with Github but they have other prior

[2020-05-11 08:33] Wodann commented on #2868
Thank you for your detailed response. I'll wait and see if I can contribute :)

[2020-05-11 08:58] znarf commented on #2868
@Wodann @alanna It's impossible to move this project forward without better data exports from GitHub. As of today, we don't get any useful information about who contributed on GitHub sponsors and this is blocking the work on automation.

As soon as we get the email or GitHub handle of the donators, we can start integrating the data in a better way on Open Collective.

@Wodann Not sure what kind of

[2020-05-11 10:19] Betree commented on #3108
@fishcharlie the endpoint is now available through the root `expenses` query (implemented in https://github.com/opencollective/opencollective-api/pull/3839). Feel free to ask questions here or [on Slack](https://opencollective.slack.com/archives/C4TC3AYDT) if you need more details!

[2020-05-11 10:19] #3108 closed

[2020-05-11 10:53] Betree commented on #2813
This issue should be fairly simple now that we have our design system on https://bit.dev/opencollective/design-system

[2020-05-11 11:22] Betree commented on #2973
@jeffin143 we still need an API PR to complete the issue (see the specs at the top of this thread)

[2020-05-11 11:47] znarf opened #3120 "Transferwise Error: Cannot read property 'transfer' of null"
As seen in API logs:

[code]

[2020-05-11 12:30] znarf commented on #3114
@leena4c Can you engage with support -> support@opencollective.com ?

[2020-05-11 12:32] znarf commented on #3119
As of today, no new occurrence of the error in the logs. Searched for `"Cannot read property 'error' of undefined"``` in PaperTrail.

[2020-05-11 12:39] znarf commented on #3111
Seems this documentation is out-dated and was originally meant for Open Collective core developers. It needs to be completely revamped or deleted.

For your use case, I recommend to use the GraphQL API or CSV export.

[2020-05-11 12:44] znarf commented on #3041
@akkefa Could you answer? We'll close the issue if no further activity.

[2020-05-11 12:46] znarf commented on #3026
@misuzu What's the update on this?

[2020-05-11 12:54] akkefa commented on #3041
@znarf you can close this issue.

[2020-05-11 12:54] #3041 closed

[2020-05-11 12:59] misuzu commented on #3026
Nothing has changed so far.

[2020-05-11 13:06] misuzu commented on #3026
It's probably even worse now. Seems like Volia started blocking those addresses too.
https://atlas.ripe.net/measurements/25209794/#!probes

[2020-05-11 14:28] Betree opened #3121 "Tax form: threshold amount should be in RequiredLegalDocument, not hardcoded"
Amount for checking if a tax form is required is currently hardcoded: https://github.com/opencollective/opencollective-api/blob/6e0a683ff7e3c4d98c81abdf728c04a7894ab5dc/server/graphql/v1/types.js#L913.

It's unclear when reading at the code what this value is and where it comes from, and it defeats the purpose of `RequiredLegalDocument` which was ideally supposed to be compatible with other docume

[2020-05-11 14:32] znarf commented on #3121
I'm likely gonna touch that this week when integrating for Foundation.

[2020-05-11 14:46] Betree opened #3122 "Improve user menu on mobile"
Follow up on https://github.com/opencollective/opencollective/issues/3037
:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Organisms?node-id=4%3A0)

The design for mobile hasn't been fully implemented, we need to make the following changes:
- [ ] Add the user account footer
- [ ] Make the tooltip menu full size (height and width)

![image](https://user

[2020-05-11 14:55] Betree commented on #3121
@znarf cool, feel free to implement a different solution if you see a better fit. I'm not attached to this one, was just surprised to see this `600e2` in the middle of the code :slightly_smiling_face:

[2020-05-11 15:00] axiiomatic commented on #3122
can i try this one?

[2020-05-11 15:05] Betree opened #3123 "userTaxFormRequiredBeforePayment should use a GraphQL loader"
The places where we check if W9 tax form is required for users, in `expense.userTaxFormRequiredBeforePayment` (GQLV1) and `expense.requiredLegalDocuments` (API V2) are not using GraphQL loaders.

It's not a big deal yet because the places where we show this on lists (mainly, the host dashboard) make a single query for each expense (see https://github.com/opencollective/opencollective/issues/2519).

[2020-05-11 15:06] Betree commented on #3122
Hi @axiiomatic, sure! Let me know if you need anything

[2020-05-12 07:37] znarf opened #3124 "Deleting User with "Forest" is not releasing email"
We should do the same thing that we're doing with the `deleteUserCollective` mutation.

We should even refactor the code to make it shared it between these two actions.

[2020-05-12 08:25] Betree commented on #3046
All done

[2020-05-12 08:25] #3046 closed

[2020-05-12 08:29] Betree commented on #2106
I believe the tag system now addresses this issue by providing a way to attach any string to an expense. Closing, feel free to re-open if you feel that it's not the case.

[2020-05-12 08:29] #2106 closed

[2020-05-12 09:05] Betree opened #3125 "New expense flow: add more E2E tests"
The new expense flow is still lacking some Cypress tests. We need to cover:
- `test/cypress/integration/03-expenses.page.test.js`
  - [ ] List expenses
  - [ ] Can filter by tag
- `test/cypress/integration/27-expenses.test.js`
  - [ ] Some actions (approve, unapprove, reject, pay)
  - [ ] Delete an expense
- `test/cypress/integration/34-expenses.comment.test.js`
  - [ ] create, edit and delete com

[2020-05-12 09:29] Betree opened #3126 "New expense's page start with loading state (SSR)"
**Describe the bug**
When the new **expenses** page is navigated directly (server side rendering) it shows everything as loading, like if there was no SSR.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/engineering/expenses/
2. See loading state

**Expected behavior**
When rendered server side, the loaded page should display the list of expenses with

[2020-05-12 10:00] Betree opened #3127 "Add a setting to limit comenting on conversations to contributors only"
_Extracting feedback from @staltz on https://github.com/opencollective/opencollective/issues/2722#issuecomment-575593333_

## User story
As a collective admin, I'd like to use it gather feedback from the collective's community, but not from outside.

## Best solution for this problem
From @staltz: I'd prefer all conversations to be publicly visible, but as a global setting, only contributors can c

[2020-05-12 10:00] Betree commented on #2722
All the feedback in this issues have been acknowledged - either by design or engineering - and the feedback round is now over. Thanks to everyone who participated here, all this feedback was super helpful for us!

If you feel strongly about specific items that have not been addressed here, feel free to open dedicated issues to discuss them more in depth.

[2020-05-12 10:00] #2722 closed

[2020-05-12 10:38] piamancini commented on #2868
Q1 Review & Priorities Call
===================

Check-in - what worked / what didn’t
---------------------------------

François:
++ Good quarter / great retreat in January retreats / on track to execute what we wanted / Focused
-- Personally: messy since COVID-19 / lost track of things in bounty programme / Adapt to pandemic

Ben:
++ Expense flow went well, a bit off schedule but iterating based

[2020-05-12 10:38] #2868 closed

[2020-05-12 10:52] Betree commented on #1897
Implemented in the new expense flow

[2020-05-12 10:52] #1897 closed

[2020-05-12 10:52] Betree commented on #1071
Implemented in the new expense flow

[2020-05-12 10:52] #1071 closed

[2020-05-12 10:52] Betree commented on #2487
Implemented in the new expense flow

[2020-05-12 10:52] #2487 closed

[2020-05-12 10:52] Betree commented on #2394
New expense flow is now live, last item to tackle here is `roadmap for v2 features` @piamancini @alanna

[2020-05-12 10:52] Betree opened #3128 "Feedback for new expense flow"
This issue is here to gather feedback and impressions around the new expense flow.

# Changelog

A small highlight of the new features:

### Automatic invoice generation

<details>
<br/>

![image](https://user-images.githubusercontent.com/1556356/79250670-4dd56b00-7e7f-11ea-96b6-b2d8da763cd7.png)

</details>

### Submit multiple receipts

<details>
<br/>

![image](https://user-images.githubusercon

[2020-05-12 10:52] Betree commented on #3057
All the feedback in this issues have been acknowledged - either by design or engineering. Thanks to everyone who participated here, all this feedback was super helpful for us!

If you feel strongly about specific items that have not been addressed here, feel free to open dedicated issues to discuss them more in depth.

The new flow is now deployed as the default in production. We still have some i

[2020-05-12 10:52] #3057 closed

[2020-05-12 10:57] Betree commented on #1132
This is now possible in the new expenses page, but not yet in the host dashboard.

[2020-05-12 11:02] mixmix commented on #1071
Hooray! <3

On Tue, 12 May 2020, 22:52 Benjamin Piouffle, <notifications@github.com>
wrote:

[2020-05-12 11:03] Betree commented on #1073
Just a quick note to mention that this hasn't been addressed in the new expense flow. If I remember correctly, the feedback was that the checkbox introduced too much complexity in the form.

Let's keep this issue open until we find a proper way to address it.

[2020-05-12 11:10] Betree commented on #2266
The first part of this issue (/MVP) is now implemented: you can submit expenses as an organization.

It's a bit more tricky for collectives, because we need to figure out how the balance should behave. We may also want to introduce the ability to get paid directly to your collective balance (when the collective submitting the expense is under the same host).

We also acknowledged during a call tha

[2020-05-12 11:20] piamancini commented on #1581
@Memo-Es where is the design for this? I can't find it in figma.

[2020-05-12 11:28] piamancini opened #3129 "Open Collective Roadmap: May - June (short Q2)"
Q2 Theme: Simplicity of our value proposition
===============================

This (short) Quarter is all about shedding complexity: in our offer, in our codebase, in our UI.

Offer:
Covid has given us an opportunity to position ourselves in a new vertical that has similar requirements than the Open Source one. Crisis Responders. I mean similar in the sense that they need a turn-key solution that

[2020-05-12 11:30] sentry-io[bot] opened #3130 "Onboarding Modal error"
Sentry Issue: [OC-FRONTEND-1VY](https://sentry.io/organizations/open-collective/issues/1630630863/?referrer=github_integration)

[code]

[2020-05-12 11:45] sbinlondon commented on #3130
Summary: user tried to use onboarding modal after creating a collective. When we go to assign the user as the admin on the second pane of the modal, the function in `componentDidMount` failed and was unable to assign the user as the admin.

[code]

[2020-05-12 19:53] #3120 closed

[2020-05-12 20:04] kewitz commented on #3102
Not going to solve this right now, this is more complex than expected and it may be easier to think this with #1182.

There were other cases where GBP to GBP was actually possible, based on a few tests I isolated this limitation to private TransferWise accounts, although it one of our hosts (Permaculture Association) claims that they couldn't create GBP to GBP even using their Business Account.
Th

[2020-05-12 20:04] #3102 closed

[2020-05-12 22:40] kewitz opened #3131 "[PROJECT] PayPal Payouts"
## Purpose
- Bypass the existing payout limit.
- Reduce how much collectives pay in fee costs when paying expenses using PayPal.
- Implement asynchronous transactions for PayPal Payouts.

## Owner
@kewitz

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the po

[2020-05-12 22:41] kewitz commented on #3129
Updated the issue with PayPal Payout project issue.

[2020-05-13 03:31] alanna commented on #1073
@Betree that was not my understanding. The checkbox was in the final designs I approved. Can we please bring it back? It's a really important feature in terms of support volume and user satisfaction, because it's super frustrating not to have it.

[2020-05-13 04:32] Memo-Es commented on #2434
### Design update

Consolidated design for this is [here](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=3572%3A1), along with pagination.

P.D. About View details expanded view, I think the one that is applied now to transactions in the Collective page is ok
@Betree

[2020-05-13 04:38] Memo-Es commented on #1581
### Design update
Consolidated design for this is [here](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=3572%3A0) Ready for implementation

@piamancini cc @Betree

[2020-05-13 05:36] josegonzalez commented on #1445
The Dokku collective would be willing to sponsor/co-sponsor a bounty for this issue. Feel free to reach out to me via email/slack (I'll re-add the OC slack tomorrow).

[2020-05-13 05:36] josegonzalez commented on #1141
Hi! It's not clear to me how much work this would be, but the Dokku collective would be willing to sponsor/co-sponsor a bounty for this issue. Feel free to reach out to me via email/slack (I'll re-add the OC slack tomorrow).

[2020-05-13 06:56] Betree commented on #1073
@alanna ping @piamancini @opencollective/design - I'm not the decision owner on this

[2020-05-13 08:02] Betree commented on #2434
@Memo-Es I think there was more than this in what Raul initially showed us. In particular, there are 3 things that we must not break when switching to the new design and that are not included in the design you linked:

- Refund button
- Download invoice button
- Tooltip to download refceipts
- Tooltip to download a CSV export of all transactions

![image](https://user-images.githubusercontent.com/

[2020-05-13 08:10] Betree commented on #2529
Will be resolved by https://github.com/opencollective/opencollective/issues/3009

[2020-05-13 08:10] Betree commented on #3132
Will indeed be resolved by https://github.com/opencollective/opencollective/issues/3009. Also duplicate of https://github.com/opencollective/opencollective/issues/2529

[2020-05-13 08:10] #3132 closed

[2020-05-13 08:37] #2931 closed

[2020-05-13 09:29] Betree commented on #2263
@sbinlondon has something like that been implemented in the new create collective flow?

[2020-05-13 09:49] piamancini commented on #2434
I agree - I have the feeling that we had a more complete design

[2020-05-13 09:57] piamancini commented on #1073
@alanna we decided to take it out in the process because it was confusing and complex to implement. We know it's a request and we can build it for future iterations if it is still a problem.

[2020-05-13 09:59] piamancini commented on #1581
Thank you @Memo-Es
@sbinlondon is owner of this project.

[2020-05-13 10:00] piamancini commented on #3129
Updated Figma Design for Managing Subscriptions cc @sbinlondon

[2020-05-13 10:02] piamancini commented on #2394
Ok Fanstastic! I'll open a new issue with original V2 specs + things we left out of V1

[2020-05-13 10:46] piamancini opened #3133 "[PROJECT] Expense Flow V2 Specs"
[Here](https://docs.google.com/document/d/14AaKDto-xpz6-lhRpWVoMCvGN4j5lgKSYqJvnNGuaxI/edit#)'s the list of Specs / Features for the Expense Flow Iteration

We will be building this into a project once we've had a chance to hear user feedback on the new expense flow.

[2020-05-13 10:47] piamancini commented on #2394
Started Issue for v2 features here https://github.com/opencollective/opencollective/issues/3133

Great job everyone involved! Thrilled to close this issue 🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀

[2020-05-13 10:47] #2394 closed

[2020-05-13 14:14] Memo-Es commented on #3128
### Transparency enhancements

In a user research call with The Social Change Agency, we talked about some key enhancements in the payout information part:

**1.Disclaimer about payment processor fees**
- Adding a disclaimer in the dropdown where you choose your payout method telling you that payment processor fees may apply
<img width="1934" alt="Annotation on 2020-05-13 at 09-00-57" src="https:/

[2020-05-13 15:08] sentry-io[bot] opened #3134 "Sentry AFC success page error"
Sentry Issue: [OC-FRONTEND-1XM](https://sentry.io/organizations/open-collective/issues/1661980989/?referrer=github_integration)

[code]

[2020-05-13 15:21] Betree opened #3135 "Should we kill pledges?"
# Acknowledging
- That maintaining code for a feature always takes time (eg. tests need to be updated, bugs...)
- That unmaintained features can contain security issues, or be a vector for privilege escalation
- That the bigger/more complex the code base, the harder it is for newcomers to get on board

# Data

- Currently pledged collectives: 65
- Total amount currently pledged: $6,283
- Collectiv

[2020-05-13 15:21] Betree commented on #3135
My personal opinion is that we don't have enough data to make an informed decision. The total amount donated through honored pledges in particular is a very important piece that we don't have today.

My recommendation would be to add the metrics required to track this feature's success properly and revisit this discussion in 6 months.

[2020-05-13 15:43] Betree opened #3136 "[PROJECT] Collective page iteration"
## Purpose
The purpose of this project is to iterate on the collective page. There are some important issues that were part of the initial design that haven't been able to tackle yet.

## Owner
@Betree

## Prioritization

- Does this serve our mission?

The collective page is the entry point for many contributors. By offering more customization options and making it better, faster, we will try to

[2020-05-13 16:48] sbinlondon opened #3137 "[PROJECT] Subscriptions management revamp"
## Purpose
The purpose of this project is to revamp the management of subscriptions, to make it easier and more clear for users to do things like cancel (see opencollective/opencollective#1581)

## Owner
Tech: @sbinlondon
Design: @Memo-Es

Figma link: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=3572%3A0

## Prioritization

- Does this serve our

[2020-05-13 16:49] sbinlondon commented on #3129
Updated with subscriptions issue

[2020-05-13 17:09] #2875 closed

[2020-05-13 17:09] #2877 closed

[2020-05-13 17:09] #2878 closed

[2020-05-13 17:11] sbinlondon commented on #2872
Pending:

* review and merge tests from @jeffin143 for the onboarding modal
* finish tests for updated CCF by @sbinlondon
* finish new tests for AFC flow by @sbinlondon

[2020-05-13 17:11] #2879 closed

[2020-05-13 17:16] #2880 closed

[2020-05-13 17:17] sbinlondon commented on #2881
Leaving this issue open because there is currently a bug regarding the success page opencollective/opencollective#3134

[2020-05-13 17:17] #2888 closed

[2020-05-13 17:18] sbinlondon commented on #2876
Keeping this open due to a bug regarding adding the `LoggedInUser` as an admin opencollective/opencollective#3130

[2020-05-13 18:24] sbinlondon opened #3138 "Subscriptions management: create subs card component"
<img width="865" alt="Screenshot 2020-05-20 at 14 22 28" src="https://user-images.githubusercontent.com/37520401/82451031-5c79f800-9aa5-11ea-93cc-f74a25733c57.png">

Includes 5 states:

- [x] default
- [x] active
- [ ] ~hover~
- [ ] ~prepaid~
- [x] inactive

[2020-05-13 18:37] sbinlondon commented on #3137
@Memo-Es some design q's, mostly just confirming my assumptions from the design

Is this a new banner component or a revamp of the existing one (below)?

![Screenshot 2020-05-13 at 19 31 59](https://user-images.githubusercontent.com/37520401/81850849-7325c980-9550-11ea-9c83-61974152f40a.png)

This looks like I'll need to add a 'Subscriptions' section to a user's collective profile page?

![Screens

[2020-05-13 20:09] vickywane commented on #3138
Hi, i would like to try build this.

Can you give some more information?

[2020-05-13 20:13] sbinlondon commented on #3138
@vickywane My apologies for the confusion, I forgot to add the `team` label. This is part of a project that will be completed internally.

[2020-05-13 20:15] zachleat opened #3139 "CloudFlare blocking requests"
Are there new docs that replace this? https://docs.opencollective.com/help/contributing/development/api/members

CloudFlare is blocking requests, which is fine in the browser but not great from my node scripts 😅

[2020-05-13 20:16] vickywane commented on #3138
Alright.

[2020-05-13 20:33] znarf commented on #3139
1) Yes, this should be marked as deprecated. It's working but if you're using it, we may ask you to upgrade at some point in the future. Use our [GraphQL API v2](https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff) instead. I can point to integrations we did with [eslint](https://github.com/eslint/website/blob/master/_tools/fetch-sponsors.js), [babel](https://github

[2020-05-13 20:35] zachleat commented on #3139
No worries at all—appreciate y’all ❤️ Thanks for the link

[2020-05-13 20:35] #3139 closed

[2020-05-14 00:05] vickywane commented on #3111
@znarf if it is decided internally to keep that documentation, i made a fix for those broken links.

I also dont mind spending some more time to work on the repository.

[2020-05-14 01:56] kewitz opened #3140 "Connecting to PayPal"
- [x] Update Host "Sending Money" menu to connect to PayPal.
- [x] Validate PayPal tokens before persisting.

[2020-05-14 02:37] alanna commented on #1445
Thank you @josegonzalez - Do you know any developers who have the skills/capacity to work on this? Open Collective could co-sponsor the bounty funding, but the real bottleneck for us is dev capacity.

[2020-05-14 03:18] alanna opened #3141 "Request to be removed as admin"
## User story
As an admin I want to be able to easily request other admins remove me.

## Best solution for this problem
Currently the "remove admin" button is deactivated for yourself, to prevent all admins being removed and leaving no one. You have to get another admin to remove you. Instead of just this message, the button should be "Request to be removed". This send a notification to the other

[2020-05-14 03:20] alanna opened #3142 "Expense notification should include submitter name"
This email notification should also include the name of who submitted it.

<img width="937" alt="Screen Shot 2020-05-14 at 3 18 56 PM" src="https://user-images.githubusercontent.com/5498878/81888908-6cea2880-95f6-11ea-8af3-2de0c8ee346b.png">

[2020-05-14 03:44] josegonzalez commented on #1445
Not sure I know anyone personally but can dig through contacts :)

Is there a tag that we can add to this to show that it has a bounty or something? Might be a good way to raise awareness.

[2020-05-14 04:42] Memo-Es commented on #3128
### GDPR issue

-Some users are submitting expenses with personal information in the expense title. The suggestion is to add a small caption indicating the user to be careful to share sensitive information in that field.

<img width="2744" alt="Annotation on 2020-05-13 at 23-40-14" src="https://user-images.githubusercontent.com/49539954/81893385-36b79500-9573-11ea-8a0c-2057fc0aaba6.png">

[2020-05-14 04:53] Memo-Es commented on #3137
It is an existing banner like the one we use when a user submits an expense.

Yes

Correct

@sbinlondon

[2020-05-14 11:20] sbinlondon commented on #3105
Update: the MVP is now shipped to production. Still to work on:

* setting minimum fee on top amount for $1 if the base amount is <= $10
* free event - in MVP we won’t address this but we will when we set the minimum to $1 for <$10?
* preserving the existing tip when we change the amount (i.e. if we pick 20% it would stay at 20%)

[2020-05-14 11:26] #1585 closed

[2020-05-14 12:01] bolariin commented on #1445
Can I work on this?

[2020-05-14 12:29] Betree commented on #3108
@fishcharlie We got a big traffic on this endpoint and had to block some of the IPs. If you were somehow blocked, please let us know on https://slack.opencollective.com/

[2020-05-14 14:56] #2786 closed

[2020-05-14 15:04] sloria opened #3143 "Widgets not displaying all contributors and backers"
**Describe the bug**

The Contributors and Backers widgets are not displaying all the relevant people.

**To Reproduce**

Go to https://github.com/marshmallow-code/marshmallow#contributors

**Expected behavior**

All code contributors and backers are displyed.

**Screenshots**

Only 6 contributors and 1 backer shows.

![Image 2020-05-14 at 11 01 42 AM](https://user-images.githubusercontent.com/237

[2020-05-14 15:08] vickywane commented on #3141
Hi,

Can you explain a bit more on how best to "send a notification to other admin" without making changes to the existing system

[2020-05-14 15:19] znarf commented on #3143
We have some issues right now, including our image service. This should get better soon.

[2020-05-14 15:47] sloria commented on #3143
Sounds good. No urgency on my end--just noticed it while poking around.

[2020-05-14 15:47] #3143 closed

[2020-05-14 22:17] boneskull commented on #2006
Is there a workaround for this in the meantime?  On our project's website (not its OC page), we could manually suppress the display of logos.

Otherwise, if we have this problem, how should we approach it?

[2020-05-14 22:50] josegonzalez commented on #2006
The Dokku organization would also be willing to co-sponsor development of this feature. I think it's important to us as an OSS org to ensure that any money we receive comes from people and organizations that don't run afoul of our own moral prerogatives. Getting paid for writing code is great, but not at the expense of some elses human rights.

I'll bring this up in the slack group as well to see

[2020-05-14 23:06] josegonzalez opened #3144 "Expense payout via Bank account does not show up in expense email"
**Describe the bug**

I just received a bank payout (well, I think I did, still waiting on it to drop in the bank account) for the Dokku collective. The email notification has blank payout information.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an expense that is paid to a bank account
2. Check the email (that gets sent out once it gets approved)
3. Email is missing payout method

[2020-05-15 00:50] fishcharlie commented on #3108
@Betree I haven't gotten a chance to look at this further yet. Hopefully will in the future. Thanks tho!

[2020-05-15 04:08] jamesgeorge007 commented on #3142
I would love to give it a shot 🙌

[2020-05-15 10:08] #3116 closed

[2020-05-15 10:44] piamancini commented on #3144
cc @kewitz

[2020-05-15 12:20] sbinlondon commented on #3134
Going to work on this today, was stuck working on the Github e2e tests til now

[2020-05-15 12:21] sbinlondon commented on #3130
Going to work on this today, was stuck working on the Github e2e tests til now

[2020-05-15 12:39] sbinlondon commented on #3137
Meeting with @znarf

* MVP all the pop-ups - there are a lot, figure out which are the priority (i.e. why are you cancelling and giving feedback can be after MVP)
* will the 'Subscriptions' section on the collective page be public? Everything on OC is public by default so it makes sense that it would be
* right now when you update a subscription (changing the amount), this cancels the old subscrip

[2020-05-15 13:42] franciscotv commented on #2659
hello, is the complexity of this task, *medium or simple*?, **both**? is there somewhere documented what the categories of ***complexity*** means in terms either on time to spend on the task ___or___ the know-how needed for completing that task?.
Please let me know your thoughts.
Regards.

[2020-05-15 13:49] franciscotv commented on #2519
hello, I was not aware of the *complexity* category level `-> unknown`, what is the meaning of this category? who could give a hint on the complexity of this task/issue?
**Thank you**

[2020-05-15 14:03] znarf commented on #2659
It's a medium. Multiple changes over API and Frontend. Might take 1 or 2 days for someone with past experience with our codebase.

[2020-05-15 14:07] Betree commented on #2519
Hi @franciscotv, we didn't try to estimate to complexity (thus it's `unknown`) because it's also a `wontfix`, the page mentioned here has since been revamped and the new version is not affected: https://opencollective.com/webpack/expenses/

There's still one path suffering from this issue, bet we also plan to revamp it in the next months and don't want to invest in optimizations for it.

[2020-05-15 14:51] franciscotv commented on #2519
thanks @Betree for the clear explanation, I see the revamped took place. So, I wonder if this should continue to be consider as a valid effort/task for **[open collective bounty hunters](https://docs.opencollective.com/help/contributing/development/bounties#open-collective-bounty-program)** like i am myself, this said, i have to say i do not see the whole picture of this effort as you do. This iss

[2020-05-15 15:40] Betree commented on #2519
This one is not a bounty.

As specified in the doc you linked, only issues with the `bounty` label are eligible for bounties. You should go to this page to find bounties: https://github.com/opencollective/opencollective/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abounty

[2020-05-15 23:16] alanna commented on #3133
Suggestions after submitting an actual expense in the new flow:

**Save multiple bank accounts**
The current payment methods menu design led me to think I could add multiple accounts, because it says "add bank account" under my current one. But actually it just overwrote my previous bank info and only saved one.

![Screen Shot 2020-05-14 at 11 52 04 AM](https://user-images.githubusercontent.com/54

[2020-05-15 23:34] alanna opened #3145 "Expense form: Validate addresses"
https://opencollective.com/osc/expenses/15393

This expense came though without required info. This should not be allowed.

* No line item description
* No Payee address
* No payout method

<img width="852" alt="Screen Shot 2020-05-16 at 11 31 59 AM" src="https://user-images.githubusercontent.com/5498878/82103976-32ed6380-9769-11ea-803b-df7cbfbd62de.png">

[2020-05-16 01:15] alanna commented on #3145
Hmmm I'm wondering if this was created before the new expense flow? If so, then it's missing the attachment that would have been included.

[2020-05-16 01:18] alanna opened #3146 "Expense update says approved but actually rejected"
https://opencollective.com/osc/expenses/18122

This expense was rejected, and now shows as rejected status. But in the comments it says "expense approved".

<img width="776" alt="Screen Shot 2020-05-16 at 1 17 15 PM" src="https://user-images.githubusercontent.com/5498878/82106826-9d0d0500-9777-11ea-8d25-74326fd55b2a.png">

<img width="820" alt="Screen Shot 2020-05-16 at 1 17 25 PM" src="https://us

[2020-05-16 01:48] alanna commented on #3141
It could be an email, similar to notifications that go to admins for new expenses, contact form enquiries, etc.

[2020-05-16 08:12] alanna commented on #3133
Hmm! Actually it did save both bank accounts. But it only showed up after a long while (hours). Now I can see two.

[2020-05-16 08:54] alanna commented on #3145
Here's another one I just created. It's showing most of the info, but it's missing the full payee address details (my own address in this case) - it's not showing the city or post code. Without the proper address it can't function as a valid invoice for the host's accounting.

<img width="779" alt="Screen Shot 2020-05-16 at 8 08 26 PM" src="https://user-images.githubusercontent.com/5498878/8211553

[2020-05-16 11:58] Betree commented on #3145
From what I see this was submitted before the release of the new expense flow.
Other expenses like that still exist, they were created with the old flow and there's not much we can do except asking to update the info when they're missing

[2020-05-16 12:02] Betree commented on #3145
What would be the expected behavior for the one you created? Validating addresses when they can be from any country is not straightforward, to do it properly you need to have clearly separated fields for the different parts of the address.

[2020-05-16 23:41] vickywane commented on #3141
Alright.

This could be a feature done with serverless functions using existing emailing templates.

I'd like to wait on input from other core contributors.

[2020-05-17 04:26] npettiaux opened #3775 "GQLV2: Public mutation to create events"
Dear,
I have seen in https://docs.opencollective.com/help/contributing/development/api that your API provides some interface to **get** the information from opencollective.
We (the educode asbl) use your project and we would need some API to **insert information** such as
- new events with their characteristics
  - date & time, possibly recurring and defined in a serie with a suite that may *not*

[2020-05-17 12:49] IzzySoft commented on #1429
@kewitz Seeing https://docs.opencollective.com/help/fiscal-hosts/payouts/payouts-with-transferwise it looks like the admin(s) of an OC instance take care for the "TW stuff" – and all the "recipient" has to do is to provide account details (e.g. IBAN/BIC). Do I understand that correctly? So I could set up an account with an instance supporting that (how to find out which does?), setup payment via I

[2020-05-18 00:41] mixmix opened #3147 "Allow non-admins to make Events"
## User story

As an admin I can white-list another OC user so that they can make OC Events, without having to worry they about giving them full admin privileges

**My use case**:  _I want to use OC Events to allow people to post up event proposals. If 10 people attend or buy tickets, we will sponsor the event and ensure the host is well paid. So I want a wide range of people to be able to post...

[2020-05-18 02:04] alanna commented on #3133
Small improvement:
1. "Submitted" has two Ts
2. Make "expense feed" a link

<img width="1276" alt="Screen Shot 2020-05-16 at 8 14 50 PM" src="https://user-images.githubusercontent.com/5498878/82167595-6d453500-9910-11ea-8031-08268d034e92.png">

[2020-05-18 02:16] alanna commented on #2595
@contraexemplo are you still looking into this? Do you think it's worthwhile?

[2020-05-18 02:20] alanna commented on #3145
Thanks @Betree - maybe we have some migration challenges with expenses submitted under the old flow? The expense I linked initially has no info and no attachment, but I assume those were there when they submitted it in the old form?

With address validation, we may have to have seperate fields, as we can't pay expenses (mainly invoices) without an address we could actually use to contact the perso

[2020-05-18 03:46] alanna opened #3148 "Unable to set correct currency for host and its Collective"
I just set up [OCNZ](https://opencollective.com/ocnz) fiscal host. At no point in the setup process did it ask me what currency to use. It seems to have defaulted to USD. Now I can't see a way to change it to NZD. I also created the [host Collective](https://opencollective.com/ocnz-ltd) and it is defaulting to USD when it needs to be NZD.

Am I missing something here? If not, then the host creatio

[2020-05-18 08:09] KristianHdot opened #3149 "scaling of funding goals beam"
Tour de Planet
Tour de Planet
scaling funding goals beam: the beam with the funding goals seems to be scaled for max 100k€. As we have bigger goals we need an other scaling to have a nice look. All further funding goals are stapled and so not very legible.
-->

URL:
Logged in as (username or profile URL): https://opencollective.com/tour-de-planet
Error message if any: clustered funding goals
Expec

[2020-05-18 12:09] sbinlondon opened #3150 "Subscriptions management: update standalone subscriptions page with new components"
We've decided that in addition to creating a subscriptions section on the Collective page, it would be useful to still keep the standalone subscriptions page. We'll need to do two things though:

- [x] update the subscriptions page with the new components from this project
- [x] remove old, unused component/pages (if any)

[2020-05-18 12:13] sbinlondon commented on #3137
Answers to questions/concerns and still needed:

From what I understand, replaces content in the card, but it will be good to still have a design on Figma depicting this

Design has said they'll add this in the Figma

Decided that it makes the most sense and it most secure to add the new payment method and the go back to the list of payment methods, including this new one, for the user to choose i

[2020-05-18 12:13] sbinlondon opened #3151 "Subscriptions management: add subscriptions section to Collective page"
Once the components are built and the GraphQL v2 queries/mutations are ready, we'll need to add the new section to the Collective page.

<img width="923" alt="Screenshot 2020-05-18 at 13 16 13" src="https://user-images.githubusercontent.com/37520401/82212088-e42aff80-9909-11ea-86c4-5ffd9b278d35.png">

Some things to keep in mind:

* for a user Collective page, only the user can edit the subs; for

[2020-05-18 12:21] sbinlondon opened #3152 "Subscriptions management: create 'pop-up' component"
<img width="403" alt="Screenshot 2020-05-20 at 14 23 51" src="https://user-images.githubusercontent.com/37520401/82451226-96e39500-9aa5-11ea-83cf-8b442d97d32b.png">
<img width="395" alt="Screenshot 2020-05-20 at 14 23 57" src="https://user-images.githubusercontent.com/37520401/82451228-977c2b80-9aa5-11ea-9071-43ebeb87aa94.png">
<img width="254" alt="Screenshot 2020-05-20 at 14 24 02" src="https://

[2020-05-18 12:24] sbinlondon opened #3153 "Subscriptions management: create GraphQL v2 queries/mutations"
- [x] We will need to write a GraphQL v2 mutation for updating a recurring financial contribution (subscription): changing the amount, the payment method, the tier
- [x] We will need to write a GraphQL v2 mutation for adding a new payment method
- [x] We will need to write a GraphQL v2 mutation for cancelling an order
- [x] We will need to write a GraphQL v2 mutation for reactivating an order

[2020-05-18 12:29] kewitz commented on #1429
Hey @IzzySoft,
I'm a bit out of context here and I don't know if you're a Host or a user trying to get reimbursed, so I'll try to explain what the feature is capable right now.

Right now TransferWise is working only for payouts, this means that you're able to get reimbursed directly to your bank account (without needing to have a TransferWise account) for all expenses and invoices you submit to a

[2020-05-18 12:29] sbinlondon opened #3154 "Subscriptions management: add new components to Style Guide"
Make sure to add the new components from this project to the Style Guide:

- [ ] Subscriptions card and its 5 states
- [ ] Pop ups for taking action on a subscription

[2020-05-18 12:29] sbinlondon opened #3155 "Subscriptions management: add/update tests"
Instead of leaving it until the end like with CCF, make sure we're updating/adding tests for the new subscriptions section and functionality as we go along

[2020-05-18 12:37] kewitz opened #3156 "Add async validation to PayoutBankInformationForm"
TransferWise allows you to validate the information with their required information endpoint, this is also used to fetch more validation info based on the current state of the form.

Right now we're blocking a few currencies because we need to dynamically fetch select options based on the state of the form.

What we need to do here is to adapt our endpoint to proxy these requests to TransferWise a

[2020-05-18 13:33] kewitz opened #3157 "Schedule Expense for Payment"
- [x] Add button and mutation to schedule expense for payment if the payout method is PayPal
- [x] Add new "Scheduled for Payment" status
- [x] Update Collective.getBalance() to consider scheduled expenses

[2020-05-18 13:47] contraexemplo commented on #2595
@alanna We had a few issues with GitBook earlier this year (as stated in some comments above) and by the end of last year, but since then things have been pretty stable from a infrastructure standpoint. They're starting to add multilingual functionality (see https://blog.gitbook.com/changelog#2019-12-26) and allow clients with certain paid plans to enable PDF exports (https://blog.gitbook.com/chan

[2020-05-18 14:07] sloria opened #3158 "Monthly recurring revenue is inaccurate (probably)"
**Describe the bug**

The displayed "Monthly recurring" for marshmallow appears to be inaccurate.

**To Reproduce**

Go to https://opencollective.com/marshmallow#section-budget and hover "Estimated Annual Budget".

It only shows $15.00

![Image 2020-05-18 at 10 03 34 AM](https://user-images.githubusercontent.com/2379650/82222170-e895ef00-98ee-11ea-968e-2326354faba8.png)

**Expected behavior**

Bas

[2020-05-18 14:47] IzzySoft commented on #1429
Sorry for not giving the background: a *potential* "user trying to get reimbursed". I'm a "creator" (content & software, all CC/FOSS); with Liberapay requiring Paypal or Stripe (which I refuse), my "donation service" is dead to me. Watching OC for quite a while, waiting for one of the alternatives (Bitcoin, SEPA) to become available. So this sounds promising – but I need to submit an "expense"? Ju

[2020-05-18 15:07] #2736 closed

[2020-05-18 15:22] znarf commented on #1429
It's the Open Collective model, you don't withdraw money, you submit invoices or receipts as expenses. That way, you have a transparent budget and people can look at how you used that money.

If you want money for yourself, you can just submit an invoice for consulting services or similar.

[2020-05-18 15:45] znarf opened #3159 "Donating with Credit Card should be unavailable for Hosts without Stripe"
**Describe the bug**

Donating with Credit Card should be unavailable for Hosts without Stripe

**To Reproduce**

1. Create a new Fiscal Host with just Bank Account connected
2. Host a new collective on this Host
3. Try to contribute with a Credit Card

**Screenshots**

<img width="867" alt="Capture d’écran 2020-05-18 à 17 43 41" src="https://user-images.githubusercontent.com/806/82232745-4cd8a3

[2020-05-18 15:47] znarf commented on #2736
@kewitz have you tested that it works before closing?

[2020-05-18 16:49] kewitz commented on #2736
@znarf yes. I reviewed, tested and merged. I will deploy soon.

[2020-05-18 16:51] znarf commented on #2736
@kewitz Thank you, great to know!

[2020-05-18 17:12] IzzySoft commented on #1429
Perfect, got it – thanks! Then it's time for me to watch out for a matching instance :smiley:

[2020-05-18 17:56] boneskull opened #3160 "feature: add boolean to Account type for "has image""
## User story

As a developer of a collective, I want to know whether or not a supporter has uploaded an image, so it can be displayed on our website.

If a supporter has _not_ uploaded an image and has _not_ provided a URL, it is not very useful to display anything at all (at best this is a generic image containing some initials; at worst, it's a "building" icon).  Since the `imageUrl` field of t

[2020-05-18 17:58] #3144 closed

[2020-05-18 19:00] boneskull commented on #2006
Mocha will be removing ~19 sponsors from our site listing, likely in the next couple days (unclear how many of these actually appeared, but the number is nonzero).  Hopefully this won't cause too many problems, but we really don't need to be linking to spammers.

[2020-05-18 19:03] #2986 closed

[2020-05-18 19:22] Memo-Es commented on #3137
**Update payment method**

![Screen Capture on 2020-05-18 at 14-17-29](https://user-images.githubusercontent.com/49539954/82251523-f5c4d500-9912-11ea-8b4e-e17f52e53697.gif)

@sbinlondon

[2020-05-18 19:27] Memo-Es commented on #3137
**Update payment method**

![Screen Capture on 2020-05-18 at 14-25-05](https://user-images.githubusercontent.com/49539954/82251872-a0d58e80-9913-11ea-85d6-c2dce082cb52.gif)

@sbinlondon

[2020-05-18 19:33] Memo-Es commented on #3137
**Update contribution tier**

![Screen Capture on 2020-05-18 at 14-31-28](https://user-images.githubusercontent.com/49539954/82252417-910a7a00-9914-11ea-8197-ef5c80a65e60.gif)

@sbinlondon

[2020-05-18 19:35] Memo-Es commented on #3137
**Cancel contribution**

![Screen Capture on 2020-05-18 at 14-19-01](https://user-images.githubusercontent.com/49539954/82252489-b4cdc000-9914-11ea-89e1-c45aa465f603.gif)

@sbinlondon

[2020-05-18 20:00] sbinlondon commented on #3137
Thanks for these @Memo-Es! 🙌

[2020-05-19 02:07] mixmix commented on #3147
hmm I see I can add someone as a "core contributor"
I can't see if they have permissions to make events ... but that could be sweet

[2020-05-19 08:42] znarf opened #3161 "[PROJECT] Allow Hosts to manage a budget"
## Purpose

Today, Hosts (User or Organization) can't manage their budget:
- they can't raise money directly
- they can't accept expenses
- they can't receive the remaining balance for collectives being deleted or archived
- they can't properly manage their "Host Fees"

The current alternative is for them to setup an "Host Collective", 23 collectives have done that so far. However, it's not intuit

[2020-05-19 09:01] znarf opened #3162 "Can't submit expense with Bank Account to Events"
**Describe the bug**

Can't submit expense with Bank Account to Events

**To Reproduce**

1. Go to an Event hosted on a Transferwise ready Host:
https://opencollective.com/2020-q1-team-retreat-35f599c2/expenses/new
2. Submit an Expense
3. Bank Account option is not available

**Screenshots**

<img width="757" alt="Capture d’écran 2020-05-19 à 11 00 46" src="https://user-images.githubusercontent.

[2020-05-19 09:03] znarf commented on #3162
@kewitz can you look at that?

[2020-05-19 10:35] znarf opened #3163 "Error while testing Transferwise cron"
<img width="953" alt="Capture d’écran 2020-05-19 à 12 34 32" src="https://user-images.githubusercontent.com/806/82316499-2d905300-99cd-11ea-9d29-a098665537f8.png">

[2020-05-19 10:35] znarf commented on #3163
When you have a chance, look at that @kewitz

[2020-05-19 15:23] charlie-watkinson commented on #3128
### Data Privacy

Feedback from a Covid Community Support group with Social Change Agency that are using OC for expenses. As the receipt goes straight to public view, there are no preventions in place to review the content of any public information and as such personal information is being published.

Also, the general flow is unclear what to put in the title field in general. Suggestion to add a

[2020-05-19 16:37] sbinlondon commented on #3137
@Memo-Es Could I get a view of what happens when we click 'Activate subscription' on a cancelled subscription? Does it just execute immediately or will there be dialogs like with cancelling?

<img width="339" alt="Screenshot 2020-05-19 at 17 36 58" src="https://user-images.githubusercontent.com/37520401/82353496-71984d80-99f7-11ea-8056-58a9f497a4c3.png">

[2020-05-19 19:16] #3162 closed

[2020-05-19 19:34] #3163 closed

[2020-05-20 01:29] cuiki opened #3164 "[PROJECT] Contribution flow update"
## Purpose
We want to double down on contributions as a way to make the organization sustainable, so the design of the right flow is key so people have a better experience contributing to Open Collective as an initiative and to any of the Collectives in the platform.

## Owner
@piamancini and @Memo-Es
Tech: @sbinlondon @Betree

*Note: Project owner responsibilities include coordinating all the dif

[2020-05-20 03:10] alanna commented on #3148
I connected Stripe and it switched to NZD, so my immediate problem is solved.

However, now that we allow all hosts to use bank transfers and not have Stripe, we need a better solution for setting the currency.

[2020-05-20 03:13] alanna commented on #3133
Design issue: If you upload multiple receipts, it's super hard to tell which is which when you're entering the details.
* Make the thumbnail images bigger
* Show the upload filename

<img width="721" alt="Screen Shot 2020-05-20 at 3 11 53 PM" src="https://user-images.githubusercontent.com/5498878/82400840-64896600-9aac-11ea-84ac-40ddff502326.png">

[2020-05-20 04:02] Memo-Es commented on #3137
I think it would be its something like this:

<img width="308" alt="Screen Shot on 2020-05-19 at 23-00-35" src="https://user-images.githubusercontent.com/49539954/82403527-abcc1400-9a24-11ea-903c-f1f2e8d1d3cb.png">

[2020-05-20 14:35] Memo-Es commented on #3137
**Error message**

![Screen Capture on 2020-05-20 at 09-01-59](https://user-images.githubusercontent.com/49539954/82459124-288adc80-9a7d-11ea-9a42-464610377201.gif)

@sbinlondon

[2020-05-20 18:19] znarf commented on #3119
<img width="933" alt="Capture d’écran 2020-05-20 à 20 19 13" src="https://user-images.githubusercontent.com/806/82482472-31100100-9ad7-11ea-875b-4c91e5bfbda4.png">

[2020-05-20 20:50] contraexemplo opened #3165 "[GitBook] Redirect rules don't work anymore"
## Issue
On May 18th, François reported that a redirect rule for the path `https://docs.opencollective.com/help/about` wasn't working anymore. At first, it seemed like GitBook renamed a few files without warning us, and a simple change to `.gitbook.yaml` would solve this problem (see [this commit](https://github.com/opencollective/documentation/commit/426c61571fdc595d475776e848107428fc83a955#diff-

[2020-05-21 01:16] alanna commented on #3133
The downloaded version of invoices needs to include the date submitted - currently this is missing.

[2020-05-21 08:18] znarf opened #3166 "Ability to disable PayPal for Payouts"
Quick reminder for Open Collective Europe.

[2020-05-22 08:27] znarf opened #3167 "Tax Form threshold when Collective move between hosts"
## User story

## Best solution for this problem

For Paid expenses, instead of looking at the `Expenses` table, look at the `Transactions` table and filter with the Host id.

[2020-05-23 10:41] vinuch commented on #2907
Hello @betree @znarf please could one of you look into the invoice I submitted for this issue about a month ago it’s been pending since then it’s invoice #16633 submitted to open collective engineering thank you

[2020-05-24 03:58] ghuntley commented on #2002
Bump

[2020-05-24 23:45] alanna commented on #3133
If there is no line item description provided, it should automatically copy the expense title as the description. Alternatively, descriptions should be mandatory. To be valid, invoices must have completed line items.

<img width="760" alt="Screen Shot 2020-05-25 at 11 42 18 AM" src="https://user-images.githubusercontent.com/5498878/82767639-2cec3680-9e7d-11ea-9ee5-dad1bc67652b.png">

[2020-05-25 07:54] Betree commented on #3145
Not really because people were supposed to attach invoices in the old flow, if they didn't then the expense was already invalid and the new expense flow didn't change much about it.

I however just spotted a bug that created some confusion here: because the expense type is `INVOICE`, we don't show the attachments for expense items on this page (host dashboard is not affected) - tho this expense do

[2020-05-25 10:01] Betree commented on #2916
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-05-25 10:04] snitin315 commented on #2916
@Betree can I take this up?

[2020-05-25 10:14] Betree commented on #2916
Hi @snitin315, I'm sorry but this bounty came out of a proposal from @flickz so we'd like to keep it for him in a first time. If not completed during the given time frame, we'll open to everyone.

[2020-05-25 10:25] piamancini commented on #3133
@betree this last comment might be worth doing as a fix to V1 rather than a V2 spec. We need people to fill up description -

[2020-05-25 10:38] Betree commented on #3133
@piamancini @alanna Descriptions are already mandatory in the new flow. This appears because the expense was created with the legacy expense flow, thus individual items (amounts) don't have a description attached.

[2020-05-25 17:55] #3140 closed

[2020-05-25 21:40] alanna commented on #3133
Ah ok @Betree - if possible, it would be good to copy the title to the description for all the older expenses that don't have anything in the description, to help with the migration. Is that easy to do? If it's too complicated we can probably get away with is, but the accountants won't be so happy.

[2020-05-25 21:41] alanna commented on #3133
Also what about including the date on downloaded invoices as mentioned above? I think that should be a quick fix and it's needed soon for accounting reasons. @piamancini is it worth doing that one now?

[2020-05-26 03:19] alanna opened #3168 "Improvements to the 'download receipts' tool on profile page"
If I go to my profile and click 'transactions' I see a tool to download my receipts. There are a couple issues with it.

![Screen Shot 2020-05-26 at 3 12 05 PM](https://user-images.githubusercontent.com/5498878/82856981-bd9d4200-9f63-11ea-8b4e-96963a118667.png)

1) It's called "download receipts" but when you click on it, it says "download invoices". An invoice is what I submit to be paid for my t

[2020-05-26 07:49] Betree commented on #3147
@mixmix Core contributors can indeed create events, that's the only special permission that they have. I actually wanted [to deprecate that behavior](https://github.com/opencollective/opencollective/issues/3113), but we may keep it if it solves your issue.

[2020-05-26 08:12] vinuch commented on #3168
Hi @alanna I’d like to have a go at this if it’s okay

[2020-05-26 10:01] piamancini commented on #3133
@alanna dowloaded invoices have the date already:
<img width="994" alt="Screen Shot 2020-05-26 at 12 01 01 PM" src="https://user-images.githubusercontent.com/3671070/82887641-97b67400-9f48-11ea-946a-abd76794ff2b.png">

[2020-05-26 13:23] Betree opened #3169 "Host plan query optimization"
According to https://engine.apollographql.com, the field that takes the most time to compute for the expense page query is the `host.plan`, for up to 3/4 of the request time:

![image](https://user-images.githubusercontent.com/1556356/82905250-e6253c00-9f63-11ea-9803-c5ca264874c6.png)

This is probably linked to the fact that hosts like Open Source Collective can have a lot of data to compute. The

[2020-05-26 14:35] fabianmendes opened #3170 "Orders page "Not Found""
**Describe the bug**
As Host of a collective, I was receiving contribution notification, but when I click to see it, the Open Collective says "Not Found" even when this contribution is from an already contributor.
**To Reproduce**
Steps to reproduce the behavior:

After receiving the donation notification,
1. In my email, I open the Open Collective email notification.
2. I click on the link  'http

[2020-05-26 15:13] Betree commented on #3158
Hi @sloria, thanks for the report. There's indeed something wrong, I've opened https://github.com/opencollective/opencollective-api/pull/3939 to try and fix that.

[2020-05-26 15:36] znarf commented on #3170
@fabianmendes Sorry about that. This will be fixed quickly.

[2020-05-26 19:44] mixmix commented on #3147
yeah the language / labels about core contributors + admins is pretty confusing atm

On May 26 2020, at 7:50 pm, Benjamin Piouffle <notifications@github.com> wrote:

[2020-05-26 23:22] #3170 closed

[2020-05-27 02:50] alanna commented on #3133
@piamancini the expense that triggered my request about adding the date was this one below. It's showing a date range not an invoicing date. Why would that be? Is it something the user types in? I think it should just automatically stamp the submission date of the expense, because an invoicing date is not the same as the date rage of work the invoice covers.

<img width="623" alt="Screen Shot 2020

[2020-05-27 07:11] znarf commented on #3170
This was effectively released yesterday night.

[2020-05-27 07:12] znarf commented on #3166
Added a small setting for that in https://github.com/opencollective/opencollective-frontend/pull/4253

[2020-05-27 07:12] #3166 closed

[2020-05-27 08:09] #3094 closed

[2020-05-27 09:01] znarf opened #3171 "Deprecate Postgis in our database and API"
In our API and in our database schema, we depend on Postgis.

This is adding complexity in developer setup for not much use.

We should aim to stop depending on it.

[2020-05-27 09:02] Betree commented on #3158
@sloria fix deployed. The amount displayed for monthly recurring on https://opencollective.com/marshmallow#section-budget is now $175. I checked manually and the number seems to match the recurring subscriptions for the collective.

[2020-05-27 09:02] #3158 closed

[2020-05-27 09:04] znarf opened #3172 "Upgrading Postgresql in production"
We're currently using Posgresql 9.6 in production. It's an old version, but still maintained until November 11, 2021. The latest is 12.3.

We were recently able to upgrade our database server flawlessly. We should consider upgrading to Postgresql version 12 using a similar procedure.

[2020-05-27 12:39] piamancini commented on #3133
@alanna The range date in this case seems to be because of the different dates she entered on the expense.

I think indeed we should take the date from the submission date.

cc @Betree

[2020-05-27 13:29] sloria commented on #3158
Thanks for fixing that @Betree .

Does the calculation subtract fees and deductions?

From the [OP](https://github.com/opencollective/opencollective/issues/1585):

[2020-05-27 13:55] contraexemplo commented on #3165
**Update:** This bug is still around, and I was finally able to submit a bug report today after someone from their team contacted me.

[2020-05-27 14:07] kewitz opened #3173 "Scheduled Expenses Worker"
- [ ] Daily cron worker to pay scheduled Expenses.
  - Create transactions if the payment succeeds.
  - Update Expense status.

[2020-05-27 15:48] #3169 closed

[2020-05-27 18:52] thomasrockhu opened #3174 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-28 07:57] znarf commented on #3174
@thomasrockhu I installed the app on opencollective-frontend, is it ok now?

[2020-05-28 10:04] snitin315 commented on #2008
@Betree can I work on this?

[2020-05-28 10:26] Betree commented on #2008
@snitin315 Sure! Let us know if you need anything

[2020-05-28 11:44] znarf commented on #3161
This is released and activated for https://opencollective.com/foundation/

Todo:
- [ ] Check navigation bar
- [ ] Check Transferwise availability when submitting expense

[2020-05-28 12:18] znarf commented on #3161
It appears as Financial Contributor to itself:

<img width="901" alt="Screenshot 2020-05-28 at 14 18 05" src="https://user-images.githubusercontent.com/806/83140264-1862a500-a0ee-11ea-824b-c0effae635b3.png">

[2020-05-28 13:52] thomasrockhu commented on #3174
@znarf yes looks great! Let me know if you run into any issues.

[2020-05-28 13:52] #3174 closed

[2020-05-28 21:39] fabianmendes opened #3175 "Collective Updates' hyperlink text doesn't work."
**Describe the bug**
Hi, I went to one of my Collective **Updates** section to click on the hyperlinked text, but it is only with a different color.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Collective Updates section
2. Click on hyperlink text.
3. See error: _anything doesn't happen_.

**Expected behavior**
Allow clicking on the text, even in both sections: Collective main p

[2020-05-29 02:16] alanna commented on #3161
Related: #1723

[2020-05-29 02:26] alanna commented on #2314
@znarf should this issue be part of #3161 ? If the Host's Collective is folded into the Host page, they will lose the ability to do Collective updates right now, unless we enable it.

[2020-05-29 02:30] alanna commented on #2936
What about a pattern of one main button for the most common action, and then an "actions" dropdown with all available actions? I think this comes up in many places besides expenses, for example on host page nav bars.

<img width="1440" alt="Screen Shot 2020-05-28 at 2 00 01 PM" src="https://user-images.githubusercontent.com/5498878/83214534-e8cc9f00-a1b8-11ea-932c-bffc1324038d.png">

[2020-05-29 02:48] Memo-Es opened #3176 "[PROJECT] Update the static pages to the new design"
## Purpose
We have an updated design for the homepage, so what's more logical is to update the rest of the static marketing pages to the new design.

## Owner
@Memo-Es and @piamancini

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisi

[2020-05-29 10:06] znarf opened #3177 "Admin can see Updates section when Updates is disabled"
Settings

<img width="1236" alt="Screenshot 2020-05-29 at 12 05 37" src="https://user-images.githubusercontent.com/806/83248056-c4ff5e00-a1a4-11ea-8603-935abd33078e.png">

Outcome (as Admin of the Collective)

<img width="1255" alt="Screenshot 2020-05-29 at 12 05 51" src="https://user-images.githubusercontent.com/806/83248067-c7fa4e80-a1a4-11ea-95d7-897fb827c6eb.png">

[2020-05-29 11:38] znarf opened #3178 "Copy Pasting a color doesn't work when # is included"
Copy an hex color, including the #. Example: `#51d8ea`.

When editing main color of collective page, paste it. The color is broken and `51d8e` is seen in the field. Last character was cut.

[2020-05-29 21:07] flaki opened #3179 "Expense flow: opt-out for "Save this info for future payouts" not working"
**Describe the bug**
In the new expense flow when in the **Payout method** I select **New custom payout method**, then uncheck the checkbox for **Save this info for future payouts** the opt-out is not honored and Open Collective still seems to save the payout method which clutters up this dropdown.

Relatedly, UX-wise, all saved options are recalled as "Other" so selecting the appropriate one even

[2020-05-30 10:58] snitin315 commented on #3175
Hello, @fabianmendes I'm unable to reproduce the issue, I have created the following test update
https://staging.opencollective.com/icdam#section-updates

[2020-05-30 11:09] snitin315 opened #3180 "Udates: overflow hidden for add a link popup"
**Describe the bug**

Overflow is hidden for adding a link popup which makes it difficult to add a link at starting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an update
2. Try to enter a link for the first or second word
3. See error

**Expected behavior**
The overflow should not be hidden.

**Screenshots**
![Screenshot at 2020-05-30 16-30-48](https://user-images.githubuserconte

[2020-06-01 11:42] snitin315 commented on #2008
@Betree When I tried minAmout = `{minAmount}` its displaying `10000` instead of `100`. I think it's `100.00` but without `.` ?

![Screenshot at 2020-06-01 17-05-20](https://user-images.githubusercontent.com/46647141/83405590-6fd47e00-a42a-11ea-861a-c8ea74b54064.png)

[2020-06-01 11:54] snitin315 commented on #2008
Got it I need to format the currency using formatCurrency Util.
![Screenshot at 2020-06-01 17-23-14](https://user-images.githubusercontent.com/46647141/83406612-aad7b100-a42c-11ea-9956-82d7582059f7.png)

[2020-06-01 12:02] kewitz opened #3181 "Enable JPY for TransferWise payouts"
Currently being blocked to not having async TransferWise validation.

[2020-06-01 12:03] kewitz commented on #3181
Duplicated: https://github.com/opencollective/opencollective/issues/3156

[2020-06-01 12:13] kewitz commented on #3156
Solve #3181

[2020-06-01 22:35] contraexemplo commented on #3165
**Update:** Bug is still around. Issue escalated to their development team, according to the team member taking care of my case.

[2020-06-01 23:03] alanna commented on #3165
@znarf is there any way to temporarily add a hack to redirect this URL until the bug is fixed? Github has shared the old one a few places and they're concerned that it's 404 now.

old URL: https://docs.opencollective.com/help/collectives/github-sponsored-organizations
new URL: https://docs.opencollective.com/help/collectives/github-sponsors

[2020-06-01 23:06] alanna commented on #2328
This is fixed in the new flow

[2020-06-01 23:06] #2328 closed

[2020-06-02 06:59] Betree commented on #2941
Will be resolved by https://github.com/opencollective/opencollective/issues/3109

[2020-06-02 06:59] #2941 closed

[2020-06-02 07:02] Betree commented on #2008
@snitin315 it's because the amount is in cents (integer).

minAmount: {formatCurrency(minAmount, currency)}

You can use it, but I'd recommend to rather use `FormattedMoneyAmount` as it also supports displaying an interval.

[2020-06-02 07:08] Betree commented on #2936
This one has been resolved by never showing more than two actions at the same time and unifying all the pay actions (Pay with Paypal, pay manually...etc) under a single `Pay` button. The change hasn't been dispatched to the host dashboard, but the new dashboard will have them.

@alanna could you open a followup issue for the screenshot you shared? This doesn't look good and we should address it as

[2020-06-02 07:08] #2936 closed

[2020-06-02 08:25] Betree commented on #3179
Thanks for the report @flaki the fix is on its way, the payout methods you previously marked as unsaved should disappear from your list after the update.

I'm also going to implement your suggestion to show a resume of the payout method's content with an ellipsis in the select.

[2020-06-02 08:33] #3178 closed

[2020-06-02 08:41] znarf opened #3182 "Slow SQL query: getYearlyIncome"
https://github.com/opencollective/opencollective-api/blob/master/server/models/Collective.js#L2150

To be optimized or cached.

[2020-06-02 08:41] znarf commented on #3182
<img width="1418" alt="Screenshot 2020-06-02 at 10 41 32" src="https://user-images.githubusercontent.com/806/83499430-a60f0d80-a4bd-11ea-8ea2-dcc919feaa71.png">

[2020-06-02 09:26] Betree commented on #3149
Hi @KristianHdot, could you expand on what your would like the graph to look like?

[2020-06-02 12:55] Betree opened #3183 "Collective's host is showing up in various places while not approved yet"
**Describe the bug**
While a collective is pending for approval, we show the host in various places:
- Transactions list
![image](https://user-images.githubusercontent.com/1556356/83521558-b20bc700-a4df-11ea-8b7f-97d0cbe198ec.png)
- Expense(s) page
![image](https://user-images.githubusercontent.com/1556356/83521983-4bd37400-a4e0-11ea-9aa3-288d393f4664.png)

And probably in some other places where

[2020-06-02 12:59] Betree opened #3184 "Wait for expenses to be paid out before creating a CONTRIBUTOR member"
When submitting and expense to a collective, you get directly added as a contributor of the collective (member with role=`CONTRIBUTOR`). This doesn't play well with spam expenses (see #2741).

**Expected behavior**
Only create the `CONTRIBUTOR` member entry when the expense is paid out.

[2020-06-02 13:39] znarf commented on #2314
@Betree could you setup a bounty for this one?

[2020-06-02 14:18] KristianHdot commented on #3149
Hi Ben,
I'd like to have all goals readable. Momentarely they are all crowded in
one place, except the first goal.
Thanks for your help,
Kristian

Benjamin Piouffle <notifications@github.com> schrieb am Di., 2. Juni 2020,
11:26:

[2020-06-02 15:30] Betree commented on #3149
@KristianHdot This graphic works by displaying goals on a scale; if you have goals at 30k, 60k and 100k they'll be displayed at 30%, 60% and 100% of the graphic.

The goals that you defined are very close to each others, which is why they are packed. If you want this to look better, I would recommend to pick the ones that are the most important to you or to change the amounts.

On our side, we cou

[2020-06-02 16:43] #3157 closed

[2020-06-02 22:05] alanna opened #3185 "Org Expenses should show on org profile"
You can submit an expense on behalf of an organization, but it still shows up on the submitter's profile. This makes it look like the funds were paid to that person when in fact they were just the ones submitting the paperwork.

This causes a further issue: in the email notification it says "Payee: $org" but if you click that you go to the org profile and cannot see the expense there.

Solution: a

[2020-06-02 22:07] alanna opened #3186 "Formatting broken in email notifications"
**Describe the bug**
This is how all expense notifications are looking in my email.
<img width="935" alt="Screen Shot 2020-06-03 at 10 05 55 AM" src="https://user-images.githubusercontent.com/5498878/83574577-dddf8900-a581-11ea-9c2d-4269772b069d.png">

**Expected behavior**
It should have space between the elements and they should be aligned horizontally.

[2020-06-02 22:17] alanna opened #3187 "Transferwise payment screen showing erroneous fee text"
When you go through the process of paying an expense via Transferwise, you see a screen instructing you to add fees. But there is no way to add the fees, and it's not clear what such fees would be for.

<img width="366" alt="Screen Shot 2020-06-02 at 9 54 36 PM" src="https://user-images.githubusercontent.com/5498878/83575251-37948300-a583-11ea-9eb6-3b6136925fc3.png">

If there is a need to be able

[2020-06-02 23:15] alanna commented on #2017
@kewitz @znarf - wouldn't this be much easier to achieve now that we have bank transfer payments?

To accomplish this manually, now you could make a contribution to the payee Collective and select bank transfer payment type, which triggers a notification with the host's bank info, then file an expense under the payer Collective and put that host bank info for the payout method, and put the referen

[2020-06-03 03:17] likeSomeOne opened #3188 "Cell merging of tables"
There are horizontal merged cells in the document, but no vertical merged cells are found. There are already horizontal merged cells. Why there are no vertical merged cells? This should be improved. Thank you

[2020-06-03 03:43] Memo-Es commented on #3164
### Update - 1st proposal for the new contribution flow
---

| **1. Contribution**  | **2. Contribute as**  | **3. Payment info**  |
|---|---|---|
| <img width="1280" alt="Desktop" src="https://user-images.githubusercontent.com/49539954/83590619-c8d00f00-a51b-11ea-80ca-e0a4ede45d7f.png">  | <img width="1280" alt="Desktop" src="https://user-images.githubusercontent.com/49539954/83590626-cc639600-a5

[2020-06-03 06:45] Betree commented on #3187
To add some context on this, we still need to implement the "estimated fees" for this screen, which should look like the screenshot below. I however agree with what's reported here, we shouldn't say `Please add the corresponding fees...` when an "Automatic" payout method is selected.

![image](https://user-images.githubusercontent.com/1556356/83604378-5a6c6a80-a576-11ea-987c-bf25501d359e.png)

[2020-06-03 06:49] Betree commented on #3186
I suspect we're seeing this because the email uses CSS `flex`, which probably have very bad support among email providers. We should replace that with a `table`.

This is how it's supposed to look like:

![image](https://user-images.githubusercontent.com/1556356/83604731-f26a5400-a576-11ea-8766-2083732af8c7.png)

[2020-06-03 06:50] Betree commented on #3188
Hi @likeSomeOne, could you explain which document you're talking about?

[2020-06-03 09:27] SimranArora123 opened #3189 "Spacing issue at the bottom of the page(last section)"
At the bottom of the page ,as we reduce the size of the screen the gap between the last section i.e"Was this page helpful" becomes less.

To Reproduce:
Steps to reproduce the behavior:
1. Go to "https://docs.opencollective.com/help/"
2. Scroll down to the bottom of the page
3. See error

Expected behavior
There should a some space below the text "Was this page helpful(with the icons)"

Screenshots

[2020-06-03 11:47] znarf opened #3190 "[Project] Financial Contributions between Hosts (with the same currency)"
- François is Core Contributor of "Acme", a Collective hosted by the "Open Source Collective"
- The current balance of Acme is 1000$
- Covid Responders is a Collective hosted by the Open Collective Foundation
- We're the 4th of the month, on behalf of Acme, François is setting a $100 / month contribution to Covid Responders

### How to account that ?

[code]

**Problem**: the money has not really

[2020-06-03 13:32] SimranArora123 opened #3191 "Responsive Text: The font size of the email address given is not responsive ."
In the support page the email address given below the the text "To contact support, write by email to:" is not responsive, as in small screen we can not completely see the email address.

To Reproduce:
Steps to reproduce the behavior:
1. Go to "https://opencollective.com/support"
2. Open this site in small screen .
3. The text size is large in small screen.
4. See error

Expected behavior:
As we r

[2020-06-03 13:54] #3179 closed

[2020-06-03 15:30] Betree commented on #3187
Will be resolved by https://github.com/opencollective/opencollective-frontend/pull/4328

Estimated fees will be implemented with https://github.com/opencollective/opencollective/issues/3089

[2020-06-03 15:53] piamancini commented on #3164
I think this works and it seems like a manageable change.
@Betree you ok with the gift cards checkmark and redeem there?
@znarf What should we say in the Security Indicator? I guess we need to link to to a page in the docs, but we need copy for it.

[2020-06-03 15:53] Betree commented on #3189
Hi @SimranArora123, thanks for proposing your help. Unfortunately we use https://www.gitbook.com to host our docs, and they're not open-source anymore so we can only transfer the issue to them. I'm doing that now!

[2020-06-03 16:42] SimranArora123 opened #3192 "Sidebar should automatically shift toward left, when we open a new page"
Describe the bug:
(when we open the site in small screen )
In Sidebar when we want to go to a specific page it opens it in the background(at the back of the sidebar).

Steps to reproduce the behavior:
1. Go to site
2. Click on sidebar menu.
3. And choose any section .
4. See error

Expected behavior:
As in sidebar menu when we open a specific page it opens in the backgroud (behind the sidebar).
So

[2020-06-03 16:46] Betree commented on #3192
Also reported to Gitbook. I'm closing both issues as there's nothing more we can do on our side to address them.

[2020-06-03 16:46] #3192 closed

[2020-06-03 16:46] #3189 closed

[2020-06-03 21:33] alanna opened #3193 "Display bank account details in receive money settings"
Currently if you look at the place the bank account details are stored for a host to receive contributions, it just shows a button to edit the details without displaying them. It would be better to show the host admin the saved details so they could tell if they needed to be edited.

<img width="896" alt="Screen Shot 2020-06-04 at 9 27 15 AM" src="https://user-images.githubusercontent.com/5498878/

[2020-06-04 00:11] kewitz commented on #2017
@alanna I think we should get back to think about this.
TransferWise can automate sending money to a bank account, but the host would still need to manage the required funds.
Also, if we want to enable funds to be transferred between two hosts, it would require both hosts to be connected to TransferWise.
A similar approach should be possible using PayPal Payouts, once I finish implementing it.

[2020-06-04 01:04] alanna commented on #2017
That's what creating the pending order to the payee Collective is for - right now the host manually confirms funds received to the bank account so the Collective is credited. But if we were handling it through Transferwise, we already know the funds were paid, so it could just be automatically created and marked as paid instantly.

I'm not sure both hosts would need to be connected to Transferwise

[2020-06-04 01:08] daegontaven commented on #3119
I'm having this issue when trying to pay with paypal. What do I do?

[2020-06-04 02:10] alanna commented on #3161
I don't see reports mentioned as part of this spec. We will need to include a monthly and annual report that's similar to a Collective budget report within the host report. Or in addition.

[2020-06-04 04:05] alanna commented on #2017
Another thing this could enable: With #3161 we could allow hosts to pay for their Open Collective plans using their own budget balance.

[2020-06-04 05:46] SimranArora123 opened #3194 "Hiring page: Video is not responsive"
Describe the bug:
As we open the site in small screen the video below the text "Watch this 2 minute explainer video about what we do and why we are passionate about it." is not completely visible.

To Reproduce:
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/hiring'
2. Scroll down'
4. See error

Expected behavior:
As we open the site on small screen the video section should

[2020-06-04 06:38] #3187 closed

[2020-06-04 06:39] #3185 closed

[2020-06-04 06:39] #3186 closed

[2020-06-04 06:39] #2183 closed

[2020-06-04 07:11] znarf commented on #2017
@alanna I created a project for that. https://github.com/opencollective/opencollective/issues/3190 I'm willing to work on it on the short-term to mid-term.

[2020-06-04 07:50] znarf commented on #3161
@alanna could you specify a minimal version that would be included in the current Host Report?

[2020-06-04 07:51] Betree commented on #1445
@bolariin sorry for the late reply, feel free to work on it! This issue is quite complex, so feel free to ask for help here on on [Slack](https://opencollective.slack.com/archives/C0RMV6F8C) if ever needed.

[2020-06-04 08:08] Betree commented on #2314
Specs below, where I've disabled private updates for hosts as it introduces some complexity in `canSeeUpdates` to check if the user is allowed to see the update.

Note that thanks to https://github.com/opencollective/opencollective-frontend/pull/3567, organizations are already able to send updates so the main task here is to make sure we send the update to the right users and to make things cleare

[2020-06-04 08:24] Betree commented on #2962
We must not forget this one

[2020-06-04 08:27] alanna opened #3195 "Unable to edit expense"
I'm trying to edit this expense: https://opencollective.com/hots-nyc/expenses/18601

Every time I click 'edit' I get `Ooops, an unexpected error seems to have occurred  🤕`

I need to change the payment type from bank transfer to custom/manual, but I can't load the edit screen.

[2020-06-04 08:29] alanna commented on #3195
I think this might be due to connecting Transferwise payment type and changing the expense to that type, then disconnecting Transferwise and then trying to edit the expense. @kewitz this is probably an edge case but I have a feeling that's the reason.

[2020-06-04 08:32] #2485 closed

[2020-06-04 08:45] Betree commented on #3195
@kewitz Sentry cached this issue if you need more logs: https://sentry.io/organizations/open-collective/issues/1708609363

It seems that we're getting a null value for `transferwise.availableCurrencies` somehow.

[2020-06-04 09:18] alanna commented on #3161
Probably just add a section of the monthly report called "Host Budget", showing the current balance, total contributions that month (e.g. host fees earned), and a list of the expenses. I'm basing this on a simplified version of what's in the current Collective monthly reports.

[2020-06-04 09:21] SimranArora123 opened #3196 "Privacy policy: Text is not responsive"
Describe the bug:
Text is not responsive in small screen(screen resolution of 720 x 1480 pixels)

To Reproduce:
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/privacypolicy'
2. Scroll down
4. See error

Expected behavior:
When we open the site in small screen the text should be responsive such that it is clearly visible to the users.

Screenshots:
![WhatsApp Image 2020-06-04

[2020-06-04 09:39] Betree commented on #3164
It's a very good idea to add the ability to use the gift card from the flow. I however don't understand why not displaying that as another payment method option in the list, similar to what we do for credit cards.

Gift cards are just another payment method option, and you don't want people to set their credit card details if they're using a gift card.

![image](https://user-images.githubuserconte

[2020-06-04 12:47] Betree commented on #3112
Sorry @Piedone, we haven't had time to deal with it yet

[2020-06-04 12:51] kewitz commented on #3195
@alanna that's exactly right, the frontend is assuming the host is connected to TransferWise since it has an expense created with it. It's an edge-case I'll fix ASAP.

@Betree yes, any property for `transferwise` will return null if the host is not connected to TransferWise.

[2020-06-04 12:59] SimranArora123 commented on #3196
@Betree i want to work on this, but facing some problem in identifying the files .
Could you please help me?

[2020-06-04 13:12] sbinlondon opened #3198 "graphql-cli breaking change from 3.0.14 to 4.0.0"
The `graphql-cli` package was just upgraded from 3.0.14 to 4.0.0.

Since we pull it via `npx` we were automatically upgraded to the latest version, which no longer works with our particular command and config file.

In the short term we've pinned the npx like this:

`npx graphql-cli@3.0.14 get-schema -p opencollective_v2 -e dev && prettier lib/graphql/schemaV2.graphql --write`

Here is the [info o

[2020-06-04 14:02] bcardarella opened #3199 "Renamed org and now it is inaccessible"
**Describe the bug**
I renamed an organization I have to a new name. The name apparently was not available because there was a "validation error" message near the "Save" button. However now the org is no longer accessible by the previous name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an org
2. Click on 'Settings'
3. Change name to one already taken
4. Click 'Save'
5. Try to acce

[2020-06-04 14:07] znarf commented on #3199
That should not happen. What's the new or old name of your collective?

[2020-06-04 14:11] bcardarella commented on #3199
old name is 'getlumen'

[2020-06-04 14:11] bcardarella commented on #3199
I tried to rename to 'lumen'

[2020-06-04 14:13] znarf commented on #3198
From what I understand, JSON should be fine but the file needs to be renamed.

https://github.com/Urigo/graphql-cli/blob/master/docs/MIGRATION.md
https://graphql-config.com/usage

Not sure yet the difference between `get-schema` and `introspect`.

[2020-06-04 14:16] znarf commented on #3199
From what I understand, it's now named https://opencollective.com/lumen-elixir Not sure why.

[2020-06-04 14:22] znarf commented on #3199
I don't know what happened. At no point did you pick that name?

[2020-06-04 16:22] znarf opened #3200 "[PROJECT] Import Transactions from GitHub"
### For each transaction

 - If the GitHub handle has an account on Open Collective -> add the Transaction to the account matching the GitHub handle
 - If there is an email and this email is registered on Open Collective -> add the Transaction to the user profile matching the email
 - If there is an email and no match on Open Collective, we should send an email.

All transactions that could not be

[2020-06-04 16:49] Betree commented on #3196
@SimranArora123  The content of the page is stored as markdown in [components/static-pages/privacypolicy.md](https://github.com/opencollective/opencollective-frontend/blob/8930cc562d738170d5cba0d0698a4265e347ca9f/components/static-pages/privacypolicy.md).

This file is rendered by [pages/staticPage.js](https://github.com/opencollective/opencollective-frontend/blob/00688a2801eedf22d8d45c88199f5a3cf

[2020-06-04 18:37] piamancini commented on #2962
indeed!

[2020-06-04 23:22] alanna opened #3201 "Unable to remove attachment from expense"
Regarding this expense: https://opencollective.com/hots-nyc/expenses/18601

It was originally raised as a receipt type, with an attachment. Then it was edited to become an invoice type. Now on the edit screen, there are no attachments displayed. But the old receipt attachment is still there when the expense summary is displayed. There appears to be no way to remove it.

@kewitz I think this is ano

[2020-06-04 23:25] alanna commented on #3195
Sorry @kewitz I need to reopen this. I was able to edit the expense to 'other' payment type and save it. But it's still showing the buttons for a Transferwise expense. I need to be able to click `mark as paid` because we are paying this one manually, but there's no button for that. So I don't think this is completely fixed.

![Screen Shot 2020-06-05 at 11 23 59 AM](https://user-images.githubuserco

[2020-06-04 23:32] alanna commented on #3200
Adding some discussion that happened on Slack here, to keep the conversation in one place.

I said:

@znarf said:

[2020-06-04 23:40] alanna commented on #3200
We are working to get the contributor (payer) emails included in the data export. Our Github contact said this may be possible to do without an extra opt-in, since the fiscal host is actually the entity receiving the funds. I'm hoping we can get emails for the vast majority of transactions.

Here are possible cases I can think of:

1. Payer consents to giving their email to OC *and* to making thei

[2020-06-05 00:01] alanna commented on #3190
Just checking - why the limitation of the same currency? Doesn't Transferwise automatically deal with currency conversions? Is it because we can't guess the exchange rate exactly at the time of the creation of the transaction?

[2020-06-05 00:03] alanna commented on #3190
Another user story: Fiscal Host paying their fee to Open Collective Inc direct from the fiscal host's budget to the OCinc Collective, instead of going through a credit card.

[2020-06-05 01:40] alanna commented on #3200
Clarification from Github about sharing emails:

In other words, if the payer agrees to share their email with the maintainers of the project they are supporting, we as their fiscal host will automatically get access to that email. But if not, we will not get it.

[2020-06-05 06:14] znarf commented on #3190
I would like to avoid some complexities related to exchange rates and conversions in a first version. Once it's working, we can work on multi-currency transactions.

[2020-06-05 06:26] znarf commented on #3188
It doesn't seem to be related to Open Collective. Closing.

If I'm wrong, feel free to reopen and add screenshots to illustrate the problem!

[2020-06-05 06:26] #3188 closed

[2020-06-05 06:29] znarf commented on #3175
The link was indeed not saved, seems like a problem with the editor, not the rendering.

[2020-06-05 06:32] SimranArora123 opened #3202 "How it works: Spacing issue between the buttons"
Describe the bug:
When we open the site in small screen ,the spacing between the two buttons(i.e Discover Collectives and Lear More). is less.

To Reproduce:
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/how-it-works'
2. Scroll down
3. See error

Expected behavior:
There should be some spacing between the buttons.(some padding should be added to make it look nicer).

Screen

[2020-06-05 06:35] Betree commented on #3201
I'll look at this one

[2020-06-05 06:36] znarf commented on #3058
We will track that in https://github.com/opencollective/opencollective/issues/2314

[2020-06-05 06:36] #3058 closed

[2020-06-05 06:37] Betree commented on #3195
@alanna the mark as paid button should be in the modal that appears after you click on the "Pay" button. What do you see in that modal?

[2020-06-05 06:38] znarf commented on #3067
It's on our radar and we will be tracking that here: https://github.com/opencollective/opencollective/issues/3164

[2020-06-05 06:38] #3067 closed

[2020-06-05 06:44] znarf commented on #3172
Also, database upgrades _usually_ leads to performance improvements which could be a nice thing for us at this point.

[2020-06-05 06:46] znarf commented on #3147
Can we close this?

We don't have an issue yet to track the "Core Contributors" language but this is something that's still really bothering me.

[2020-06-05 06:55] Betree commented on #3147
Same here

[2020-06-05 08:31] Betree opened #3203 "Expenses list: add buttons to process expenses"
:art: Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=1120%3A19272

We want to add the buttons to process expenses (`Pay`, `Approve`...etc) on the expenses list.

![image](https://user-images.githubusercontent.com/1556356/83854935-ad315800-a717-11ea-89d6-73e8f881d54c.png)

[2020-06-05 08:34] Betree opened #3204 "Expenses list: implement filters"
:art: Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=3038%3A1126

We want to implement filters above the expenses list to match the latest design. These filters are meant to be re-used in the new host dashboard, so we should make the component generic.

![image](https://user-images.githubusercontent.com/1556356/83855280-22049200-a718-11ea-

[2020-06-05 09:06] Betree opened #3205 "Postgres: use partial indexes to filter out deleted entries"
Most of our Postgres indexes are not discriminating entries on `deletedAt = null`, which means we're also indexing deleted entries. This makes them bigger and slower, for not much gain - we rarely fetch deleted entries.

The gain won't be very high, for example we have around 5000 deleted collectives for a total of 130000, so we can expect a reduction of ~4% of the index size. Because they're the

[2020-06-05 09:11] staltz opened #3206 "Might not be receiving emails"
Same as #2961. I think I didn't receive emails this month for the collectives I'm admin in, specially [Manyverse](https://opencollective.com/manyverse).

[2020-06-05 09:13] Betree opened #3207 "Migrate collective's long descriptions to HTML"
A long time ago, `Collectives` used to rely on markdown for their long descriptions. We've changed our practices in the new collective page to rely on an editor that generated `HTML` directly. The transition was done by creating a `ReverseCompatibleHTMLEditor` component that automatically converted your markdown to `HTML` when trying to edit it.

We still have a lot of collectives in the DB using

[2020-06-05 09:36] znarf commented on #3206
Following up once again with Mailgun. Will keep you updated.

[2020-06-05 09:49] SimranArora123 opened #3208 "All Cards are not visible in small screen"
Describe the bug:
when we open the site in small screen the first two cards below the text "Apply to a fiscal host" are not visible.

To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/pricing?tab=singleCollectiveWithoutAccount'
2. Scroll down to '....'
3. See error

Expected behavior:
As we open the site on small screen the first two cards i.e "Open source Collecti

[2020-06-05 10:00] znarf commented on #3206
I was able to see that you (or some other tool on your behalf) reported that message as spam and it's blocking all future attempts. It's indeed looking like spam.

<img width="662" alt="Screenshot 2020-06-05 at 11 55 49" src="https://user-images.githubusercontent.com/806/83863475-ab6d9180-a723-11ea-81e1-91695b0c56e7.png">

@Betree do you have any input on this? Seems related to https://github.com/

[2020-06-05 10:27] staltz commented on #3206
@znarf If I have a malware somewhere, let me know more details, I can ask my email provider to investigate this (it's a paid service, not free like Gmail).

[2020-06-05 10:42] Betree commented on #3206
Our email forwarding service is still live so that may be the reason, do we know if this was sent through a hello@manyverse.opencollective.com email?

[2020-06-05 12:16] znarf commented on #3206
@staltz it's not a malware, it's a spam reaching your inbox and flagged from there. Would be interesting to know what's your email provider.

@Betree It certainly was, I don't see what else that could be. What can we do?

[2020-06-05 12:37] Memo-Es opened #3209 "Design system update: Early June 2020"
### This update includes:

##  **[Transactions component](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-Projects-UI-Kit?node-id=1859%3A23898)**:

- All variations for financial contributions
<img width="1970" alt="Screen Shot on 2020-06-05 at 07-32-40" src="https://user-images.githubusercontent.com/49539954/83876796-017c0e00-a6ff-11ea-8f17-2d022e12c1d1.png">

  - All variations for expen

[2020-06-05 12:37] Betree commented on #3206
@znarf I'm going to iterate on the plan to deprecate it. In the meantime, we can also set the `settings.features.forwardEmails` flag to `false` for manyverse to avoid similar cases.

[2020-06-05 12:46] Betree commented on #3106
I assume the problem comes from the fact that numerous SPAM emails are sent through our contact form. People report them in GMail, which then flags other messages coming from the contact form as SPAM.

The options that I see to get out of this situation:
- Try to detect SPAM and filter the messages sent through the contact form (complex).
- Drop the contact form, allow the collectives to customize

[2020-06-05 12:53] kewitz commented on #2017
I think this is doable and could work well enough. Although there are some caveats:
TransferWise will confirm the payment once the money leaves TW. The transaction can still bounce-back after being marked as PAID, in that case, our systems will revert those transactions and mark the expense as ERROR.
Also, trusting the sending part would mean that only a set of collectives could donate to other co

[2020-06-05 13:20] staltz commented on #3206
fastmail.com

[2020-06-05 13:35] snitin315 commented on #2297
@JoyLubega are you still working on this?

[2020-06-05 13:39] snitin315 commented on #3142
@jamesgeorge007 can I take this up If you aren't working on this?

[2020-06-05 14:47] kewitz commented on #3195
@alanna after updating the payout method in the expense and approving it again, you should be able to click in the _Pay_ button and see this screen:

![image](https://user-images.githubusercontent.com/2119706/83890482-351c5f80-a722-11ea-824f-e4fc0b9be255.png)

Can you confirm this is the case?

[2020-06-05 15:01] JoyLubega commented on #2297
You can go ahead with it

On Fri, Jun 5, 2020 at 4:36 PM Nitin Kumar <notifications@github.com> wrote:

[2020-06-05 15:20] #2916 closed

[2020-06-05 15:21] Betree commented on #2916
:trophy: This issue has been completed by @flickz

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-06-05 15:41] Betree commented on #3122
@darkmtr any progress on that one?

[2020-06-05 15:45] Betree commented on #3044
@piamancini @alanna do you think this one is compatible with the different legislations around?

[2020-06-05 15:49] contraexemplo commented on #3165
**Update:** The saga continues—I received an email telling me it should be solved by now, but my daily tests return the same results. When exploring our GitBook settings, the Advanced settings panel indicated a custom domain isn't being used, but general organization settings state otherwise (as reported by Ben). This was reported to the GitBook team today.

[2020-06-05 15:51] Betree commented on #2613
This was done in https://github.com/opencollective/opencollective-bot/pull/254

[2020-06-05 15:51] #2613 closed

[2020-06-05 15:54] Betree commented on #1621
RC0 for Apollo Client 3 has just been released: https://github.com/apollographql/apollo-client/releases/tag/v3.0.0-rc.0. This is coming soon!

[2020-06-05 15:58] Betree commented on #1562
As argued before, I don't think that it's a good feature to have. Feel free to re-open if you see a use case.

[2020-06-05 15:58] #1562 closed

[2020-06-05 16:04] Betree commented on #2977
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-06-05 16:04] Betree commented on #3207
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-06-05 16:04] Betree commented on #3123
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-06-05 16:07] snitin315 commented on #3207
@Betree Can I take this up?

[2020-06-05 16:07] flickz commented on #2977
@Betree Taking this on

[2020-06-05 16:08] flickz commented on #3123
@Betree Taking on this

[2020-06-05 16:11] Betree commented on #3207
@snitin315 sure! It's a bounty, so we're adding a two weeks time limit (extensible if there's demonstrable progress). Good luck :slightly_smiling_face:

[2020-06-05 22:25] alanna commented on #3044
Yes it's fine to have negative line items on invoices, as long as the sum total doesn't go into negative.

[2020-06-05 22:27] alanna commented on #3195
This is what I see

<img width="750" alt="Screen Shot 2020-06-06 at 10 27 25 AM" src="https://user-images.githubusercontent.com/5498878/83927210-5a6fa300-a7e0-11ea-9d6a-4d5a15f6260e.png">

[2020-06-05 22:36] alanna commented on #3203
Did design resolve the issue where this is starting to become redundant with the host dashboard?

In order to pay expenses from this screen, you need a way to review expense details (attachments, comments, payment method), otherwise it's not functional for the host admin. But if you add those things, it's super crowded and also basically the host dashboard.

@Memo-Es you and I discussed focusing t

[2020-06-07 00:45] juliana0101 commented on #2435
00FF00

[2020-06-07 02:38] LogoiLab opened #3210 "Organization avatars not updating site-wide after being changed."
**Describe the bug**
Organization avatars on contributions pages and badges not updating.

**To Reproduce**
Steps to reproduce the behavior:
1. Contribute to a project as an organization.
2. Update organization profile with new avatar.
3. Go to contributions page of previously contributed to project.
4. See that avatar is still the old avatar.

**Expected behavior**
The avatar should be updated si

[2020-06-07 04:14] alanna opened #3211 "Fix how Updates & Conversations sections appear when there's no content"
*All these screenshots are the logged out view, so this is not a case of it displaying the onboarding encouragement to new admins to start using these sections.*

1. The 'create conversation' button shows up twice and it's redundant.

<img width="1262" alt="Screen Shot 2020-06-06 at 8 40 29 PM" src="https://user-images.githubusercontent.com/5498878/83960143-6be8a600-a8d9-11ea-83bc-089b49d258a4.png

[2020-06-07 04:52] alanna opened #3212 "Change default section order for fiscal host pages"
## User story
As a fiscal host, I want to explain my activities to visitors to my page without confusing them, so I can provide hosting services to Collectives and support them.

The functions of a host are very different to a Collective, but right now we force them to use the same layout. This really emphasises soliciting donations, which isn't the focus of most fiscal hosts, and de-emphasises th

[2020-06-07 10:22] piamancini commented on #3212
@betree is shipping a feature that allows for users to reorganize sections from the settings. That should solve it if it's also shipped for orgs

[2020-06-08 01:15] alinamanko opened #3213 "Support Metrics Report May 2020"
### Support Metrics Report May 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**
![Capture](https://user-images.githubusercontent.com/57156267/83984551-be819b00-a989-11ea-85b8-cb4741e49c9f.JPG)

The number of tickets received has increased slightly (9%) from 423 in April to 462 in

[2020-06-08 05:56] juliana0101 commented on #3145
Plano de projeto e comprometimento
Endereço
Conta bancária
Me ajudando

[2020-06-08 06:20] Betree commented on #3195
@alanna if you hover the pay button, does it tells you why it's disabled?

[2020-06-08 07:31] Betree commented on #3212
The feature that will be shipped with https://github.com/opencollective/opencollective-frontend/pull/4322 is only for collectives, but we should be able to iterate on it easily if it helps with this issue.

![Peek 03-06-2020 17-15](https://user-images.githubusercontent.com/1556356/83654829-eeadf000-a5bd-11ea-8613-d1ce3ff95ab1.gif)

[2020-06-08 07:35] Betree commented on #3211
We have some design (almost) ready for the empty states of these sections: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP?node-id=1506%3A1116&utm_campaign=team&utm_source=slack&utm_medium=message&utm_content=file_comment#28945760

I'll create an issue for that as soon as the illustrations get added to the final design.

To be confirmed with design, but I think the goal of this message was to av

[2020-06-08 07:51] Betree opened #3214 "Expenses list: add search bar"
Related to https://github.com/opencollective/opencollective/issues/3204
Design: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=3038%3A1126)

## Specs

### API

- [x] On `ExpensesQuery`, add a `searchTerm` string field. If provided, filter expenses to include those that contain this text in `description`, `id`, `tags`, `fromCollective.name`

[2020-06-08 08:26] alanna commented on #3212
Yes that would be perfect for hosts, too! Great.

[2020-06-08 08:27] alanna commented on #3195
@Betree it says "insufficient balance" which refers to Transferwise, but this is no longer a Transferwise payment.

[2020-06-08 09:11] Betree commented on #3206
There's a [work in progress](https://github.com/opencollective/opencollective-api/pull/4000) to make email forwarding opt-in for all collectives. I've actively disabled it for `manyverse` last Friday to make sure that you will not be impacted again.

[2020-06-08 09:25] znarf commented on #3206
Ok, just removed the address from the complaints list on Mailgun. Mailgun said that the whitelist option was not protecting the email from being on the complaints list.

[2020-06-08 09:31] alanna opened #3215 "Show expense submitter name in email notification"
Now that we have the ability to set the payee to an organization, you sometimes can't tell who the expense submitter was by the email notification. It should list "submitter" and their name below "payee".

<img width="858" alt="Screen Shot 2020-06-08 at 9 29 36 PM" src="https://user-images.githubusercontent.com/5498878/84014969-44740500-a9cf-11ea-88f5-e01d136f7054.png">

[2020-06-08 10:00] snitin315 commented on #3215
Duplicate of #3142

[2020-06-08 10:04] Betree opened #3216 "Make expense's comments private"
In the specifications of the expenses flow revamp, we initially wanted comments to be public - for transparency, and so everyone could chime in. But the usage shows that most (all?) comments are in fact a discussion between collective/host admins and the payee, that often includes sensitive or personal information. For this reason, we decided that all expense's comments will transition from public

[2020-06-08 11:53] znarf opened #3217 "Duplicate GraphQL request when navigating to expense"
It's likely because of `refetchDataForUser`.

We should not `refetch` if authenticated user data is already there.

1) Go to Collective Expenses page
2) Click on an Expense
3) Observe browser networking. `expensePageQuery` is fired twice.

[2020-06-08 12:54] contraexemplo commented on #3165
**Update:** The bug is still around. I found a workaround for the case @alanna mentioned above: editing the slug directly on GitBook and removing any redirect rules related to this particular URL. The side effect is that any mention of `https://docs.opencollective.com/help/collectives/github-sponsored-organizations` will give anyone a 404 with no remedy currently available (so all mentions to this

[2020-06-08 13:15] kewitz opened #3218 "PayPal Webhook Endpoint"
- [x] Webhook endpoint to receive transaction updates from PayPal
    - Create transactions if the transaction succeeded.
    - Update Expense if it fails.

[2020-06-08 14:52] Betree commented on #3135
Two interesting ideas were suggested today:
1. We can simplify pledges by removing all the logic of "Pending orders" for them (just collect the emails of pledgers).
2. On a similar idea, we can remove all the logic to claim a collective and instead ask people to contact support if they want to do so. This also makes sense because the path to claim collectives is actually the less tested.

[2020-06-08 15:09] Betree opened #3220 "Collective page: apply new design for section's empty states"
See [the design on Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=1506%3A1116)

We want to apply the latest design for the collective page sections when they're empty (aka. for newly created collectives).

# Preview

![image](https://user-images.githubusercontent.com/1556356/84046641-a79f7080-a9aa-11ea-92dc-6b7b216ff8fb.png)

[2020-06-08 15:41] Betree commented on #3211
Issue about updating empty states to the latest design: https://github.com/opencollective/opencollective/issues/3220

@alanna The message about north pole is not from the updates sections, but from the contributions sections. I think we should have a specific issue for this one if we want to change it.

[2020-06-08 16:20] Betree commented on #3203
@alanna there are two different designs for this component (one for the expenses list and one for the host dashboard). The one presented here is indeed more suited to collective admins.

@Memo-Es let me know if you want to integrate some of the feedback from @alanna before we start the implementation

[2020-06-08 16:29] Betree commented on #3195
@alanna I digged a bit and it looks like a rounding issue: the expense amount is `$2402` but the collective balance is `$2401.60`. I acknowledge that we're displaying a misleading rounded amount there:

![image](https://user-images.githubusercontent.com/1556356/84055866-b50e2800-a9b5-11ea-956f-ad6beae71346.png)

I'm opening a PR to fix this right now. let me know if you need me to update the expen

[2020-06-08 17:00] sbinlondon commented on #3155
UPDATE: tests for everything except updating tiers/amounts are done

[2020-06-08 17:01] sbinlondon commented on #3150
New standalone recurring contributions page will be the one that's been worked on so far.

Will just need to remove the `/subscriptions` page if needed.

[2020-06-08 17:01] sbinlondon commented on #3153
UPDATE: these are all done. Receiving feedback on tier/amount now.

[2020-06-08 17:02] sbinlondon commented on #3152
UPDATE: all feature-building is done. Left to do

- [ ]
- [ ]
- [ ]

[2020-06-08 17:11] sbinlondon commented on #3138
UPDATE: work needs to be done re: hover card (it's a bit jumpy on the transition now) and also need to add the prepaid card state

[2020-06-08 19:07] SudharakaP commented on #3059
@Betree : Sorry that this took so long; I was busy with lots of stuff these days. :cry: :cry:

But on a positive note, I've added basic support for addition of comments and both PRs are ready for review. Please let me know if there's anything further that needs to be done. Will try to get this to completion soon. :smile:

[2020-06-08 19:15] SudharakaP commented on #3059
Also a small demo of emoji addition;

![Peek 2020-06-08 12-12](https://user-images.githubusercontent.com/12435965/84070812-92621c00-a981-11ea-863e-63beb09dffcc.gif)

[2020-06-08 21:14] alanna commented on #3195
@Betree the purpose of this expense is to zero the balance, so it needs to be for the full amount that's in there (this is why I'm always going on about that "100% of the balance" option for expenses!).

Can you please make sure it's for the right about, and manually mark it as paid? We've been waiting on this to be able to shut down the Collective.

 @kewitz if you can help with this sooner that

[2020-06-08 21:17] alanna commented on #3195
Oh I realised I could edit the expense myself and now it's working to pay it! Great. I'll take it from here.

FYI, a design issue: I would never have clicked a button that says "Pay" if you hadn't been assuring me it was right, because I would be afraid to pay the money twice (once manually and once through the dashboard). I would think that would trigger an automatic payment, when what I was look

[2020-06-08 21:17] #3195 closed

[2020-06-08 21:21] SudharakaP commented on #3059
Also I just noticed that we are using `react-bootstrap` version 0.32.4. Is there a reason for this? :thinking: Can I upgrade to latest so that we can leverage a bit more nicer styles for the popup for emojis. :smile:

[2020-06-08 21:25] alanna commented on #1073
We really need this! Not being able to expense for 100% of the balance is still causing so many problems. Can we please build this feature? It was originally in the new expense flow project but was removed. I don't agree with that decision.

[2020-06-08 22:09] alanna commented on #3211
OK thanks for clarifying @Betree - I will raise another issue for that.

[2020-06-08 22:13] alanna commented on #3211
closing in favor of #3220

[2020-06-08 22:13] #3211 closed

[2020-06-08 22:21] alanna commented on #3220
**Feedback**
I think these look good! I like how we're moving to natural encouragement for users to make use of all the features.

* These views should vary depending on if the viewer is a Collective admin or not. `Conversations` and `Contribute` sections should appear to the public, but `updates` `events` and `about` should only appear for admins, because they are the only ones who can take these

[2020-06-08 22:24] alanna commented on #3135
We recently had a support ticket about this. The maintainer claimed the Collective, and then was confused/upset that the promised money wasn't there. I had to explain to them that we never collected any credit card numbers, and we just notified anyone who pledged to complete their payment but can't force them.

I agree with @Betree that we could really simplify the feature without losing much in t

[2020-06-08 22:26] alanna commented on #3215
Oh yeah I forgot I already raised an issue for this

[2020-06-08 22:26] #3215 closed

[2020-06-08 23:32] alanna opened #3221 "Fixes to manual payout confirmation screen"
There are some grammar and user experience issues here:

<img width="315" alt="Screen Shot 2020-06-09 at 9 15 09 AM" src="https://user-images.githubusercontent.com/5498878/84089716-d61d5a00-aa43-11ea-96dc-65aeec3042ac.png">

It should say:

*note: some hosts are charging a handling fee here, to cover the admin's extra time, not a payment processor fee such as a bank wire transfer fee, so let's mak

[2020-06-09 00:24] awright commented on #3200
question here -- do we need any further information from github to scope out?

[2020-06-09 05:29] Memo-Es commented on #3203
### We designed 2 different versions of this component depending on the context:

| **Public Collective's budget page**  | **Fiscal host dashboard**  |
|---|---|
| - Accesible by normal users and admins  | - Accessible only by admins  |
| <img width="3420" alt="Annotation on 2020-06-08 at 23-50-58" src="https://user-images.githubusercontent.com/49539954/84108483-e7d01480-a9e5-11ea-888c-f21902f8494

[2020-06-09 06:45] #3217 closed

[2020-06-09 07:35] Betree opened #3222 "Create expense form: notes stripped when going back"
**Describe the bug**
Private notes are stripped when going back in the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/engineering/expenses/new
2. Fill the form and click on "View summary"
3. Fill some text in `Add notes`
4. Click on `<- Edit expense`
5. Click again on "View summary"
6. Previously added notes are missing

**Expected behavior**
N

[2020-06-09 07:50] Betree commented on #3195
That's good feedback, I've transferred it to design. If you have an idea of a better label for this button feel free to suggest, I'll be happy to make the change.

[2020-06-09 07:54] Betree commented on #3059
No worry, thanks for keeping us posted :slightly_smiling_face:

As per our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines), we're getting rid of `Bootstrap`. Please don't use it for new developments.

For new features we usually rely on styled-components and our internal design system, for which must components are documented on https://stylegu

[2020-06-09 08:06] Betree opened #3223 "Remove react-boostrap dependency"
In our [code guidelines](https://docs.opencollective.com/help/contributing/development/best-practice-guidelines), we say that we're getting rid of bootstrap and ask to don't use it for new developments. To complete this rule, we should have a plan to completely remove it. This will prevent some confusion for new contributors (happened recently), reduce technical debt, and improve the consistency o

[2020-06-09 08:11] Betree commented on #3223
This issue can be tackled step-by-step, if someone from the community is interested in tackling only one bullet point (ie. replacing all bootstrap's buttons) this will already be a great help!

[2020-06-09 08:14] snitin315 commented on #3223
@Betree I will help with this.

[2020-06-09 08:23] SudharakaP commented on #3223
@snitin315 : #3059 is dependent upon this. And therefore would you be okay with me taking it ?

[2020-06-09 08:24] snitin315 commented on #3223
Sure no problem.

[2020-06-09 08:25] SudharakaP commented on #3223
@snitin315 : Thanks a lot. 👍

[2020-06-09 08:31] snitin315 commented on #3194
Taking this up :raised_hands:

[2020-06-09 09:07] Betree commented on #3223
@SudharakaP https://github.com/opencollective/opencollective/issues/3059 doesn't depend on this. My feedback was about not using it for new developments, but we don't have to remove it right away and the two issues are unrelated.

[2020-06-09 09:08] Betree commented on #3223
@SudharakaP Since this issue is not a priority and is not blocking anything, I'd recommend to rather focus on https://github.com/opencollective/opencollective/issues/3059.

[2020-06-09 10:06] Betree commented on #3221
For us it's really important to know what these fees are. The current input is stored in the ledger as `paymentProcessorFees`. If the host wants to set a custom fee, we need to store that info in `hostFees`. That's why it was decided at the time to have a very specific label (`Payment processor fees`) that you can't confuse with something else.

So from what I understand, if we want hosts to be ab

[2020-06-09 11:00] Betree commented on #3164
Adding a small note here to mention that it would be great to take this as an opportunity to refactor a bit the code of the contribution flow. There are two things that we should ideally address (or at least not reproduce in the new code):
- `components/contribution-flow/index.js` is too big, there's too much logic in there. We should better split components.
- There's a lot of logic related to ma

[2020-06-09 11:11] Betree opened #3224 "Add transaction details on expense page"
Initially suggested by @kewitz

We should display transactions information on the new expense page (once it's paid).

The best place to do that would be the activity, so maybe we should attach the public transaction information directly to the activity.

I suggest displaying something similar to what we have on the collective page:

It should display:
- Total amount
- Host fees (if any)
- Payment

[2020-06-09 11:32] piamancini commented on #3203
Thank you @Memo-Es This looks great.

[2020-06-09 11:42] vickywane commented on #3138
Hi @sbinlondon, i noticed znarf took off the `team` label.

I am currently trying to find your last work on this.

I found this ;
https://github.com/opencollective/opencollective-frontend/pull/4226.

[2020-06-09 12:02] znarf commented on #3138
@vickywane Sorry if I removed the "team" label, it's not an official tag that we committed to use and haven't read the discussion. With that context, it doesn't mean anything that I removed it, @sbinlondon is still assigned and actively working on it.

[2020-06-09 12:38] SudharakaP commented on #3223
@snitin315 : Hi Nitin, if you'd like please feel free to take this back since I was misunderstood. This is not a blocker for #3059. :smiley_cat:

[2020-06-09 16:22] twisstosin commented on #3208
taking this one up

[2020-06-09 16:52] twisstosin commented on #3208
@Betree I have a pr for this.

[2020-06-09 17:33] SimranArora123 opened #3225 "Pricing: Contact button is not responsive"
Describe the bug:
When we open the site in small screen, and open the require page the button is not responsive (Contact Us).

To Reproduce:
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/pricing?tab=organization'
2. Scroll Down
3. Go to the last column of pricing table.
4. See error

Expected behavior:
As the size of screen becomes small the text inside the button (i.e Cont

[2020-06-09 19:29] Betree commented on #3225
Good catch, thanks for reporting this @SimranArora123. We're probably using a fixed width while we should be using a minWidth

[2020-06-09 23:52] alanna commented on #3224
Good idea!

(By the way, the 'expense paid' action should also include the person who paid it - that's missing from your screenshot).

[2020-06-09 23:55] alanna commented on #3221
I understand what you're saying about payment processor fees being a specific thing, but in real life this is a free text box, and hosts are going to put whatever fee they are wanting to charge in there, not just the Paypal or bank fee. Like, if that payment method requires them to go in person to a bank, they might add $20 for their time. I think you could still call that "processing fee" though?

[2020-06-10 00:50] SudharakaP commented on #3059
@Betree : Thanks for the feedback. So I've used `react-popper` as you suggested without using any `react-bootstrap`. Herewith I have attached a screencast. Feel free to let me know if you have any further suggestions. I've tried to keep the emoji popover and stuff minimal in design as possible as I thought it might change in the future anyways (and the figma design doesn't seem to have an open pop

[2020-06-10 03:29] Memo-Es commented on #3221
Great, we were working on a shorter version of the modal for small screens, will take it into consideration.

[2020-06-10 06:29] Betree commented on #3221
@alanna if we just rename the label we'll end up with misleading information in our ledger. What about the solution proposed above of going back to 2 inputs, one for the host fees and one for the payment processor fees?

[2020-06-10 06:51] Betree commented on #3221
To add some clarity, it's not a problem with the label - I don't have a strong opinion on that. It's a problem of storing the information in the right place.

- If we store these $20 in the `paymentProcessorFee` (as we do today), we'll be storing misleading information because the bank did not charge those fees. If we ever need to query this data for whatever reason (taxes, accountability, metrics

[2020-06-10 07:04] #3208 closed

[2020-06-10 07:10] Betree commented on #3224
@kewitz To achieve that :arrow_up: we would need to store the person who triggered the payment (aka. the one who marked it as processing) in the `COLLECTIVE_EXPENSE_PAID` activity. Do you see any issue if we decide to do that?

[2020-06-10 07:12] Betree commented on #3059
@SudharakaP Looks fantastic! Maybe a small border around the popover could help, but I'll provide  feedback directly on the PR.

[2020-06-10 08:04] #3222 closed

[2020-06-10 08:27] #2424 closed

[2020-06-10 09:45] Betree commented on #2979
This was done with https://github.com/opencollective/opencollective-frontend/pull/3481 + https://github.com/opencollective/opencollective-frontend/pull/3804 + https://github.com/opencollective/opencollective-frontend/pull/3805

[2020-06-10 09:45] #2979 closed

[2020-06-10 09:52] Betree commented on #3112
Got a reply from Dominick regarding these changes:

This issue is now ready for implementation, but we still need to define a priority.

[2020-06-10 10:02] Betree opened #3226 "Budget section info doesn't account for fees"
**Description**
In the budget section of the collective page, we show `Monthly recurring` and `Total in the last 12 months` amounts to provide some insights to the collective. But these amount are not deducing the fees, thus it's misleading for the collective.

**Expected behavior**
We should subtract the `platformFeePercent` (5%) and the host fees before displaying the value, to show the amount t

[2020-06-10 10:03] Betree commented on #3158
@sloria It does not. I've opened another issue to fix that: https://github.com/opencollective/opencollective/issues/3226

[2020-06-10 10:12] piamancini commented on #3226
Maybe we can just get read of this entirely? It has always been very confusing for collectives

[2020-06-10 10:18] Betree commented on #3226
@piamancini these numbers were introduced very recently, after getting feedback from collective admins about what's the most interesting thing for them to see there (see the full discussion on https://github.com/opencollective/opencollective/issues/1585). I believe they are now pretty clear:
- Monthly recurring is the sum of recurring contributions per month
- Total received in the last 12 months

[2020-06-10 10:57] #3218 closed

[2020-06-10 12:38] Betree opened #3227 "Add processor fees amount on the "Mark as unpaid" modal"
Follow up on https://github.com/opencollective/opencollective-frontend/pull/4394

Mark as unpaid modal currently looks like in the screenshot below. Adding the processor fees in the checkbox label could add some clarity:

If the processor fees are 0, we shouldn't display the checkbox.

![image](https://user-images.githubusercontent.com/1556356/84268063-62547d80-ab27-11ea-9166-1f317a4d220d.png)

#

[2020-06-11 00:03] alanna commented on #3221
This is how we ended up with so many boxes on the current host dashboard:
![Screen Shot 2020-06-11 at 12 01 30 PM](https://user-images.githubusercontent.com/5498878/84330381-5a561580-abdb-11ea-99b6-6d89d1e02f3c.png)

It seems we need at least two boxes on this screen... I'm concerned it will be hard to communicate the purpose of them to users clearly, but we'll have to try.

Maybe call them `payme

[2020-06-11 03:29] alanna opened #3228 "Approved Collective still showing "Collective pending approval" banner"
I approved [this Collective](https://opencollective.com/hots-nyc) to join OCF host. It's showing up in the OCF host dashboard. But when you go to the Collective page, you still see the pending banner.

![Screen Shot 2020-06-11 at 3 29 14 PM](https://user-images.githubusercontent.com/5498878/84341883-52f13500-abf8-11ea-9777-3ad60aa4e7c5.png)

[2020-06-11 03:31] alanna opened #3229 "Invert order of pending Collectives"
I just had a situation where I was trying to approve a new Collective in the 'pending' tab in the host dashboard, but I couldn't find it. Then I realised it was hiding all the way at the bottom. We should invert the order so newest applications are at the top.

[2020-06-11 08:06] Betree commented on #3229
I just tested and collectives are currently sorted by creation date from newest to oldest.

We currently can't sort by application date because we don't store that information.

[2020-06-11 08:10] Betree commented on #3228
I don't see the banner, I assume you faced a caching issue.

We could solve that by calling `purgeCacheForPage` when approving or rejecting collectives.

[2020-06-11 08:16] Betree commented on #3221
Yes, note that `Platform fee` is only displayed for root users.

I'll wait for an input form @Memo-Es before tackling this one.

[2020-06-11 08:20] Betree commented on #3226
Yes

There's currently no cache on this one, so it's really showing the amount for the last 12 months. Like if you access the page on 2020-01-01T08:00:00, it will consider the total amount from 2019-01-01T08:00:00 to this date.

We may cache this value in the future to make sure it refreshes only once per day.

[2020-06-11 08:48] alanna commented on #3228
It seems to have cleared now, so I guess it was caching. I don't know how
it works but if it could update more quickly it would be a better
experience.

[2020-06-11 08:50] alanna commented on #3229
Ah. This was an older Collective moving to a new host, so that explains why
it was at the bottom.

I'm a bit concerned that we don't store the date a Collective joined a
host, which may be different from its creation date. We need that because
legally that's the date they officially enter the terms of fiscal
sponsorship agreement. Our legal language is set up to refer to that date
(called the Effe

[2020-06-11 08:54] znarf commented on #3229
We store the approval date.

[2020-06-11 08:56] Betree opened #3230 "Budget section: display pending expenses amount"
*User requested feature: https://opencollective.freshdesk.com/a/tickets/7037*

## User story

## Best solution for this problem

In the budget section, next to the balance, we should display the amount of pending expenses (the ones with the `APPROVED` status).

![image](https://user-images.githubusercontent.com/1556356/84365272-81a7e500-abd1-11ea-8c07-7d7d3b0fd7c5.png)

As a reference, this is wha

[2020-06-11 11:17] #2977 closed

[2020-06-11 11:18] Betree commented on #2977
:trophy: This issue has been completed by @flickz

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-06-11 12:31] Betree opened #3231 "Expense: move to new GQLV2 Amount types"
In the new expense flow, the amount fields (for both input and output) have been implemented in the old way, as integer values in cents.

We should move them to `AmountInput` and `Amount`.

[2020-06-11 13:20] digitalextremist opened #3232 "Error visiting Collective Page after disabling items on Collective Page."
After disabling sections of `Collective Page`, going to the Collective Page itself shows this error:

![image](https://user-images.githubusercontent.com/21095/84389623-2e22a080-abab-11ea-84a7-61143d739049.png)

**To Reproduce**

0. Uncheck items on `Collective Page` in _Settings_
0. Click `Save`
0. Click `Visit Collective Page` next to `Save`.
0. See error above, and must reload to see page.

**Ex

[2020-06-11 13:41] Betree commented on #3232
@digitalextremist sorry about this issue, I'm looking at that now

[2020-06-11 13:41] Betree commented on #3232
@digitalextremist could you share your collective address?

[2020-06-11 13:46] digitalextremist commented on #3232
@Betree it occurred on `/upforce`, `/takeover`, `/abstractive`, and `/proactive`

[2020-06-11 14:35] #3232 closed

[2020-06-11 14:36] Betree commented on #3232
The fix is on its way

[2020-06-11 23:11] alanna opened #3233 "Include events in search results"
## User story
As an event attendee or organizer, I want to be able to find my event page using the Open Collective search. Currently only Collectives and Organizations appear.

## Best solution for this problem
Fully featured search for everything on the platform, with filters to find exactly what you're looking for, including events.

## MVP
Just include events to show up in the current search de

[2020-06-11 23:15] alanna opened #3234 "Customize text in thank you email for event ticket purchases"
## User story
As an event organiser, I want to customise the text of the email ticket buyers receive, so that I can provide them important information and make sure every attendee receives the message.

## Best solution for this problem
A fully customisable message for ticket buyers.

## MVP
An extra text field that just tacks on extra content to the current automated event ticket email.

[2020-06-12 07:50] xdamman opened #3235 "Misleading header "part of organization""
It comes across as the host "all for climate" is part of the organization "Extinction Rebellion" which is very misleading.

![](https://d.pr/free/i/MQVWoX+)

A quick fix would be to start with "part of" and then show the host.
But maybe a longer more explicit version would be better such as ("XR Belgium is part of the Extinction Rebellion network")

[2020-06-12 07:53] Betree commented on #3235
For the context:
- Original specs issue: https://github.com/opencollective/opencollective/issues/2485
- Original design: https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1081%3A12923

[2020-06-12 14:08] Betree opened #3236 "Kill Zapier app"
# Acknowledging
- That maintaining code for a feature always takes time (eg. tests need to be updated, bugs...)
- That unmaintained features can contain security issues, or be a vector for privilege escalation
- That the bigger/more complex the code base, the harder it is for newcomers to get on board

# Data

- Time since feature has been deployed: 1 year
- Number of integrations: 12

# Reasons t

[2020-06-12 14:23] Betree commented on #2253
Most of the items here have been tackled, and for now the edit sidebar on the collective page is not on the radar anymore.

[2020-06-12 14:23] #2253 closed

[2020-06-12 14:25] Betree commented on #2258
@kewitz since the base is now implemented, maybe we can close this one and follow up in https://github.com/opencollective/opencollective/issues/3131?

[2020-06-12 14:28] Betree commented on #2286
Will be tackled in https://github.com/opencollective/opencollective/issues/3164

[2020-06-12 14:28] #2286 closed

[2020-06-12 14:57] Betree commented on #2392
After thinking more about it, I think that (1) (moving to SHA512) is enough.

I've made a retro-compatible implementation in https://github.com/opencollective/opencollective-api/pull/4052. We can already merge that, and remove the support for legacy MD5 tokens in a few months.

[2020-06-12 15:03] Betree commented on #2402
I just tried on both Brave and Opera, the bug doesn't seem to be there anymore:

![image](https://user-images.githubusercontent.com/1556356/84516859-afbf1f00-acce-11ea-921d-71994ee8ba23.png)

[2020-06-12 15:03] #2402 closed

[2020-06-12 15:18] Betree commented on #2714
The root cause for this issue (accountants being added as admin of our collectives) will be rather solved by https://github.com/opencollective/opencollective/issues/3112

[2020-06-12 15:18] #2714 closed

[2020-06-12 15:28] Betree commented on #2818
Does not happen anymore since we migrated to Now V2 :rocket:

[2020-06-12 15:28] #2818 closed

[2020-06-12 15:31] Betree commented on #3113
According to https://github.com/opencollective/opencollective/issues/3147, this is something that users want.

[2020-06-12 15:31] #3113 closed

[2020-06-12 17:22] kewitz commented on #2258
Agreed, the base API is already implemented and merged.

[2020-06-12 17:22] #2258 closed

[2020-06-12 18:31] kewitz commented on #3224
@Betree Is it OK to use the `lastUpdatedBy` id?

[2020-06-12 18:51] awright commented on #3200
i connected with @piamancini about this and she pointed out that the effort required to scope this is probably best spent on clearer integrations (like the [gitlab verification process](https://gitlab.com/gitlab-org/gitlab/-/issues/218673)). until we are seeing more significant return on this work and the manual process is really tight, its recommended we just put this on hold.

for reference, i a

[2020-06-13 07:32] znarf commented on #3200
@alanna Estimation: around 1 week for the MVP, 1 month for the more polished feature. For 1 developer.

[2020-06-13 14:52] AARYAN-MAHENDRA commented on #3227
I would like to work on this Issue

[2020-06-13 14:58] AARYAN-MAHENDRA commented on #3225
I would like to work on this issue.Is it alright?

[2020-06-13 17:47] lsmith77 opened #3237 "placeholder not replaced in bank transfer email"
**Describe the bug**
I created a bank transfer on the symfony-diversity collective and received an email which didn’t list the collective name but instead a `{{collective}}` plceholder
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/symfony-diversity
2. Create a one time donation using bank transfer
3. Open email

**Expected behavior**
Name of collective in th

[2020-06-14 10:04] #3229 closed

[2020-06-14 10:14] alanna opened #3238 "Improve the process of applying to a fiscal host"
## User story
I just got this feedback from a user:

As an admin of a Collective applying o a fiscal host, I want the process to be clear, and to have the chance to communicate what my Collective is about to the host.

As a host admin, I want to help potential Collectives understand my host's acceptance criteria, and get sufficient info from them to evaluate their application.

## Solution for thi

[2020-06-14 10:14] alanna commented on #3238
@piamancini would this be in scope for the host dashboard project, or should it be considered separately?

[2020-06-14 20:19] DreadKnight opened #3239 "tier changes don't get saved"
**Describe the bug**
Tweaked tiers recently and none of the changes don't actually get saved.
The collective I'm trying to tweak is https://opencollective.com/AncientBeast

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Settings`
2. Click on `Tiers`
3. Tweak some of the tier settings
3. Scroll down and click save `Save`
4. Refresh or check your collective

**Expected behavior**
I was

[2020-06-15 00:46] alanna commented on #1798
Bump. If the backend for this is built already, could the frontend become a bounty @znarf ? We still get user requests for it.

[2020-06-15 03:18] snitin315 commented on #2297
Is there any specific reason we should not display email if it's an organization?

[2020-06-15 06:24] Betree commented on #3238
Related: https://github.com/opencollective/opencollective/issues/2282

[2020-06-15 06:29] Betree commented on #3224
@kewitz given that the expense cannot be edited while it's processing, it seems like a safe thing to do

[2020-06-15 06:30] Betree commented on #3225
@AARYAN-MAHENDRA sure, than you for joining :+1:

[2020-06-15 06:37] #3096 closed

[2020-06-15 06:51] AARYAN-MAHENDRA commented on #3225
Thanks.

[2020-06-15 07:46] #3030 closed

[2020-06-15 08:09] #3207 closed

[2020-06-15 08:11] Betree commented on #2403
The website is mostly not functional on IE11, and we don't want to invest in fixing it at the moment.

[2020-06-15 08:11] #2403 closed

[2020-06-15 08:12] Betree commented on #2404
The website is mostly not functional on IE11, and we don't want to invest in fixing it at the moment.

[2020-06-15 08:12] #2404 closed

[2020-06-15 08:13] #2973 closed

[2020-06-15 08:15] #3216 closed

[2020-06-15 08:17] Betree commented on #3207
:trophy: This issue has been completed by @snitin315

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-06-15 08:35] #3086 closed

[2020-06-15 09:23] #2471 closed

[2020-06-15 10:50] leena4c opened #3240 "Can't post an update when copy pasting from a google doc"
When copy pasting from a google doc, I have this error

![Screen Shot 2020-06-15 at 12 44 27 PM](https://user-images.githubusercontent.com/64890919/84648963-07939b00-af06-11ea-9ca9-1b084b78bc60.png)

[2020-06-15 11:03] leena4c commented on #3240
I just tried using just the formatting tools and it fails again so it doesn't seem linked to google docs (I copied paste first without formatting, clicked on preview and it worked, then went back, applied formatting with the toolbar and now it fails again)

Here is the text:
https://docs.google.com/document/d/1j36cYsYdQTPM5RgcLxJDH-_D6U4Wk0NAD7ZqUbkPHvE/edit#

[2020-06-15 11:41] znarf commented on #3239
@DreadKnight Could you tell me what you tried to updated and doesn't appear?

[2020-06-15 11:42] #3122 closed

[2020-06-15 11:56] DreadKnight commented on #3239
@znarf I've tried updating a lot of stuff, like description, suggested amount, minimum amount, even tried removing tiers to remake them, no effect at all...

[2020-06-15 12:01] znarf commented on #3239
If you're confident with browser development tools, could you look at the console when you press save and see if there is anything interesting in "Console" or "Network" ?

[2020-06-15 12:07] DreadKnight commented on #3239
A few errors, I've attached screenie and log. The last stuff is after I change something and click save
![opencollective](https://user-images.githubusercontent.com/587487/84655554-d0c78000-af19-11ea-889e-ad0715e85f7e.jpg)
[opencollective.com-1592222640394.log](https://github.com/opencollective/opencollective/files/4780056/opencollective.com-1592222640394.log)

[2020-06-15 12:10] znarf commented on #3240
Sorry, I found the issue, you can try again now.

[2020-06-15 12:11] znarf commented on #3239
Thank you, I found the issue, there was a problem with security settings at Cloudflare. That should work better now.

[2020-06-15 12:24] DreadKnight commented on #3239
@znarf Oh, Cloudflare, while awesome, some of the settings are total garbage, had my main game project unusable for long times now and then because of that and I didn't noticed, plus nobody bothered to tell me... anyway, glad you've managed, I've tried changing stuff again and it just works!

[2020-06-15 12:39] leena4c commented on #3240
Thanks, I can publish now. The lay-out doesn't get fully published though, the colors I added (e.g. in the subtitles) to improve reading experience, are not published.

[2020-06-15 12:58] znarf commented on #3240
Ok, I'm not sure what we're supporting in term of formatting.

[2020-06-15 22:03] alanna opened #3241 ""part of" section overlapping cover image on member Collective"
![Screen Shot 2020-06-16 at 9 59 43 AM](https://user-images.githubusercontent.com/5498878/84710478-67e31500-afb8-11ea-8c74-c1d465fb7244.png)

When a Collective is a member Collective, it shows "part of: [parent Collective name]" at the top, but this gets too long and overlaps the background.

[2020-06-15 22:07] alanna opened #3242 "Long Host/Collective title overlapping background"
![Screen Shot 2020-06-16 at 10 05 28 AM](https://user-images.githubusercontent.com/5498878/84710764-f6f02d00-afb8-11ea-81e7-89cc6b043490.png)

It should either wrap or we should character limit the names.

Note, it looks like this org is using its legal name, as they are probably required to do, but it's super long. This is why I suggested separating 'legal entity name' and host name on #2665

[2020-06-15 22:21] alanna opened #3243 "Clarification of Connected Collectives"
Right now we are using too many confusing terms in reference to connected Collectives, aka member Collectives, and we're not communicating how they work to users.

This is how they appear:
![Screen Shot 2020-06-16 at 10 15 59 AM](https://user-images.githubusercontent.com/5498878/84711470-8f3ae180-afba-11ea-8a5d-9eaa46e8a067.png)

1. Are they called "Connected Collectives" or "Member Collectives"?

[2020-06-15 22:26] alanna opened #3244 "Fiscal host admin unable to add Collective to their own host"
Fiscal host admins often need to add new Collectives to their own host. But it seems like the "apply" button is not displayed to them on the host page where they are the admin, even if it is visible to other people.

I suspect this is because we can't fit so many buttons there (I'll raise another issue about that), but we need to make an easy to understand way for fiscal hosts to add Collectives t

[2020-06-15 22:29] alanna opened #3245 "Need design pattern for when we have too many action buttons"
I have noticed this coming up in various places. We try to display all actions as buttons but it gets too crowded, e.g. on a fiscal host page like this:

![Screen Shot 2020-06-16 at 10 26 25 AM](https://user-images.githubusercontent.com/5498878/84712196-176db680-afbc-11ea-9418-7f20b7231acc.png)

This also came up with expenses and will be coming up on the host dashboard too.

We need input from th

[2020-06-15 23:34] alanna commented on #3242
Here's another example

![Screen Shot 2020-06-16 at 11 33 22 AM](https://user-images.githubusercontent.com/5498878/84715674-450b2d80-afc5-11ea-82bc-1fad0598b138.png)

[2020-06-15 23:39] alanna opened #3246 "Display message when Collective's host application is no longer active"
I clicked `view application` in an email notification of a new Collective application to my host. It jumped me to the pending applications section of the host dashboard, but I couldn't find the one I was looking for. Turns out they withdrew their application and were already hosted elsewhere.

In this situation, a message should be displayed.

[2020-06-16 00:21] alanna opened #3247 "Search not finding a Collective that exists"
[This Collective](https://opencollective.com/replikativ) has been created, but when I put its name into search, nothing appears.

![Screen Shot 2020-06-16 at 12 20 17 PM](https://user-images.githubusercontent.com/5498878/84718083-ded5d900-afcb-11ea-99c4-93aa29a2d45c.png)

[2020-06-16 03:34] Memo-Es commented on #3164
## Update - Contribution flow - Different cases
---

### 1. Guest Contribution
| **1. Contribution -  Empty**  | **2. Contribute - Filled**  | **3. Contribute as - Empty**  | **4. Contribute as - Filled**  | **5. Payment info**  | **6. Contribution details and success**  |
|---|---|---|---|---|---|
| ![Guest contribution 1](https://user-images.githubusercontent.com/49539954/84726040-98439880-af51-

[2020-06-16 04:18] alanna opened #3248 "Fiscal Host admins should not be listed as Collective admins"
We just had a support request where the user was confused because she looked at the host page and saw it said she was labeled a "Collective admin" and therefore thought she was not a Host admin, which she is.

<img width="385" alt="Screen Shot 2020-06-16 at 4 13 46 PM" src="https://user-images.githubusercontent.com/5498878/84731310-9549b600-afec-11ea-9c2f-9f364d05b4b0.png">

I suggest we change th

[2020-06-16 06:25] Betree commented on #3247
It now appears in the search, so it looks like a delay before Algolia (the service that we use for the search) indexes it. I just checked and this index is currently refreshed on a daily basis. Maybe a first improvement would be to reduce this interval, let's say to 10 minutes? We must also make sure that this won't break our current plan limits.

[2020-06-16 07:06] znarf commented on #3248
And if it's an Organization ? And we should also consider funds.

[2020-06-16 07:08] znarf commented on #3247
@Betree I think we were considering dropping Algolia for Postgres? For example, anticipating that we stopped updating our Algolia package.

[2020-06-16 07:11] Betree commented on #3248
@znarf I like this idea of using just `Admin` because it's generic, works the same way for Organizations, events...etc The way I renamed in https://github.com/opencollective/opencollective-frontend/pull/4432 is global, it will change all occurrences of "Collective admin" to "Admin"

[2020-06-16 07:14] znarf commented on #3248
@Betree Great, much simpler.

[2020-06-16 07:17] Betree commented on #3247
@znarf indeed and it would solve this issue. However we still need to study the performance impact before making the switch.

[2020-06-16 07:19] znarf commented on #3247
@Betree search GraphQL queries (with Algolia) are currently one of the slowests. It's also one of the least used one. If this can answer in less than ~2 seconds, we're good.

[2020-06-16 07:19] SudharakaP commented on #3214
@Betree : Hey, I've added basic support for this; here's a screenshot. Take a look and let me know if you have any specific things to alter. Currently the search is case sensitive and also you may notice that once we search something and then clear the search we don't automatically reset the filter; rather the search button needs to be clicked again. I kept it minimal so that we can add things lat

[2020-06-16 07:51] SudharakaP commented on #2813
@Betree : I'll be working on this; hope no one is already on it. :smile:

[2020-06-16 11:24] #3248 closed

[2020-06-16 11:31] AARYAN-MAHENDRA commented on #3225
Actually I am pretty much new to github so i would like to know why all the checks of my PR haven't passed. Is something wrong with the code or something else.I will be grateful if anyone will please enlighten me on this topic.

[2020-06-16 12:34] SudharakaP commented on #3225
@AARYAN-MAHENDRA : As far as I am aware, the e2e tests only run on branches belonging to the parent repo, not on forks. Your pull request commits are on your fork and thats the reason I think those tests are pending. So don't worry, there's nothing wrong with the code. Once you've been given access to create branches on this repo, you'll be able to get around this problem. 🙃

[2020-06-16 12:44] Betree commented on #3225
@SudharakaP is correct. For your first PR, the team will push your branch on the main repo once it's ready to run the E2E tests.

[2020-06-16 12:46] AARYAN-MAHENDRA commented on #3225
Thank You.
So my PR can now be merged successfully.Right?

[2020-06-16 12:47] AARYAN-MAHENDRA commented on #3225
Thanks.

[2020-06-16 15:12] kewitz opened #3251 "Report PayPal Payouts transactional errors"
Since the payment is now being executed by workers, we need to find a way to report transactional errors when the payment fails.

[2020-06-16 17:41] contraexemplo commented on #3165
It's been more than a week since our last contact, and I haven't heard from them since. The issue, I'm afraid, is still around.

[2020-06-16 18:51] InkFaust commented on #3202
Hello @znarf ,

Please, check on the connected pull request I've opened for this issue.
This is my first attempt to contribute, and I'd like to continue my contribution further.

[2020-06-16 21:05] piamancini commented on #3164
Thanks Memo!  I'll update this issue with the comments from accounting.

I am not a fan of the OC logo with the little prize tails. We don't have it anywhere else and it's a regression to the old look and feel. Let's use stars, or anything else from the new illustrations please.

The copy currently on the flow for fees on top I think it's better than the proposed version here.

In the +$5000 versi

[2020-06-16 21:33] bkardell opened #3252 "Pledged collective caching issue"
**Describe the bug**
Using the pledged collectives (like https://opencollective.com/css-selector-list-for-pseudo-in-chrome), pledging doesn't seem to update the page after complete, even refreshing afterward.  Adding a cache busting querystring seems to resolve this and show that your pledge has been counted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/cs

[2020-06-16 22:57] contraexemplo commented on #2595
### Here are my findings so far
- Read the Docs seemed promising, but I don't think it's the platform that will better fit our needs. While they support Markdown, configuring it can be quite intimidating and tiresome. It would require someone to have a good amount of familiarity with Python, and while I am comfortable working with Python builds, someone else may not. I'm trying to aim for maintain

[2020-06-17 00:37] alanna commented on #2595
Sounds great @contraexemplo ! Thanks for the update.

@znarf @piamancini or anyone else - if you have any requirements for our docs solution please let Anna know.

One thing that would be helpful is an easy way to host multiple docs, such as seperate ones for Open Source Collective and Open Collective Foundation, without needing to do a lot of configuration, etc.

[2020-06-17 06:53] jaskiratsingh2000 commented on #2595
Hi, @contraexemplo Good research!

Well, I always prefer having those documentation platforms which have better easiness that means which can be used by "non-tech" people to for their contribution. Open source communities merely depend upon the contribution and documentation contains valuable inputs for various activists like "Developer". "Designer","Researcher", "Marketer", etc. So it is not nece

[2020-06-17 07:18] Betree commented on #3243
The decision was to rename everything to `Connected collectives` (see https://github.com/opencollective/opencollective/issues/3040). There should not be any occurrence of "Member Collective" anymore, I'm going to open a PR to fix that.

It's hierarchical indeed. They however do show up on both pages, see https://github.com/opencollective/opencollective/issues/2485

It's already in the docs: https:

[2020-06-17 09:37] Betree opened #3253 "Expenses: filter by "Ready to pay""
_Require #3204_

## User story
On the host dashboard, there's a special filter for expenses to show only the ones that are ready to pay - which means the ones:
- That are approved
- With enough funds in collective balance
- If tax form is required for this host/user, it must have been provided

This filter was implemented as a frontend hack. As we're planning to show the new expenses list on the h

[2020-06-17 09:55] Betree opened #3254 "Bring the new expenses list to the host dashboard"
Require https://github.com/opencollective/opencollective/issues/3203

We want to bring the new expenses list to the existing the host dashboard, but we need to make sure that we don't loose any important feature in the process and there's a couple of things that we need to address for that - for example, we need to [re-implement the ready to pay filter](https://github.com/opencollective/opencollec

[2020-06-17 11:49] piamancini commented on #3254
SGTM

[2020-06-17 11:55] piamancini commented on #2595
Just that Docusaurus is a collective so bonus points for that.

[2020-06-17 11:55] #2988 closed

[2020-06-17 13:10] Betree commented on #3252
Thank you for the report @bkardell, looks like we're not refreshing the cloudflare cache when a new pledge is submitted.

[2020-06-17 13:51] Betree commented on #3135
From the feedback received and recent evolution, I conclude that we don't want to kill the feature now. We've already removed the buttons to claim the collective (replaced by a "contact support" CTA) - that will hopefully reduce the support work and simplify things.

I'll create another issue now to remove all the code related to claiming the collective.

Thank you!

[2020-06-17 13:51] #3135 closed

[2020-06-17 13:57] Betree opened #3255 "Pledges: remove all code related to claiming a collective"
In the spirit of what was discussed in https://github.com/opencollective/opencollective/issues/3135, we recently [removed the claim buttons](https://github.com/opencollective/opencollective-frontend/pull/4430) from the pledge pages to simplify the feature.

To complete this, we should now remove:
- All dedicated API endpoints
- All email templates
- The frontend page(s) used to claim the collectiv

[2020-06-17 14:05] Betree opened #3256 "Pledges: don't use pending orders"
_As suggested by @znarf_

We want to simplify the pledges feature. A good way to do that once all the code to claim a collective will be removed (https://github.com/opencollective/opencollective/issues/3255) will be to get rid of the logic of "Pending orders" from them, because if we're not sending the emails to ask people to complete their pledges there's no point in having this amount of complex

[2020-06-17 14:26] Memo-Es commented on #2896
### Update → Expenses UI

Final UI of the expenses section of the host dashboard

**Note:** There is still an update pending with the payout experience, I will update that soon.
(There can be some modifications to the specific wording in future updates)

---

![Host-dashboard-expenses](https://user-images.githubusercontent.com/49539954/84909999-f79dc780-b07b-11ea-8d24-8b51d9f3aaad.gif)

[2020-06-17 15:27] piamancini commented on #3164
@Memo-Es I can confirm:

A) Donations under $250 don't need a tax deductible receipt so we can avoid validating their email (we send them a tax deductible receipt via email)

B) Donations between $250 - $5000 must have a validated email address for us to send them a receipt.

C) Donations above $5000 (accumulated) require both validated email address and physical address for 990 filing.

[2020-06-17 15:41] #3059 closed

[2020-06-17 16:16] Betree commented on #3123
Bumped the complexity to `medium` and adapted the bounty

[2020-06-17 16:21] Betree commented on #2813
@SudharakaP check https://bit.dev/opencollective/design-system for installing the components that you need. You'll probably need to create an `.npmrc` file at the root of the repo with the following content:

[code]

[2020-06-17 16:39] SudharakaP commented on #2813
@Betree : Thanks much for the info. Will do. :+1:

[2020-06-17 16:42] Betree commented on #2595
Thank you for this research @contraexemplo.

The points you made about Gitbook are very valid. I want to point out that despite these bugs and the decreasing trust that we have toward their service, Gitbook also still has some arguments in their favor: mainly a nice UI, and the ability to easily create new documentations and host them on their own domains. Plus it's already there and _working_.

A

[2020-06-17 19:49] #3156 closed

[2020-06-18 01:02] alanna commented on #3243
Thanks @Betree for some reason it wasn't coming up when I searched docs!

[2020-06-18 02:50] alanna opened #3257 "Turn on 'edit sections' feature for fiscal hosts"
I want #2424 for fiscal host profiles please!

[2020-06-18 03:22] alanna commented on #3253
The tax form is also a factor here. For hosts with the tax form activated, it must be received (if required for that user) in order for an expense to be ready to pay.

[2020-06-18 03:30] alanna commented on #3164
Will guest contributors be signed up for updates from the Collective they supported? If not, can we have a tickbox in the process where they can opt in to that? I see the option to subscribe to the platform newsletter, and that's good as-is, but Collective updates are another thing.

Just checking, they have to create a profile to do a recurring contribution, right? Because otherwise how can they

[2020-06-18 07:13] Betree commented on #3253
@alanna good catch! I've added that to the specs

[2020-06-18 07:33] Betree opened #3258 "Surface more information on expense submitters"
## User story

## Proposal
On the expense page, the expenses list, and the "new expense" email, we could surface some of the following items:

- If the user is new
- If the collective is new
- Whether the payout method is new
- If the expense amount is extraordinarily high for the user and/or collective (inc. if this is the first expense for the Collective)
- If the reimbursement is missing a rece

[2020-06-18 09:02] #3204 closed

[2020-06-18 09:35] piamancini commented on #3164
correct

[2020-06-18 10:15] snitin315 commented on #3207
@Betree invoice submitted :+1:

[2020-06-18 11:23] flickz commented on #3121
Since I'm currently working on related [issue](https://github.com/opencollective/opencollective/issues/3123) I'm thinking I can follow up the [PR](https://github.com/opencollective/opencollective-api/pull/4022) with this issue.

@Betree @znarf

[2020-06-18 18:31] kewitz opened #3259 "Refact fees on top to create a separated donation Transaction"
## User story
As a donor, I want to be charged only once for the contribution to the collective and the donation to the platform.
As a donor, I want to have a clear distinction between my contribution to the collective and the platform on my page.
As a collective, I don't care if the contributor donates to the platform and I don't want to see any trace of that in my transactions.
As the platform,

[2020-06-19 02:41] alanna opened #3260 "Events attendees export sometimes missing emails"
**Describe the bug**
The admin of [this Collective](https://opencollective.com/nenanhcc) reports:

**To reproduce**
I just tested using [this past event I'm admin of](https://opencollective.com/collective/events/open-source-speed-dating-fosdem-2020-96f78c6c#section-participants), and just as she said, the emails are missing. I clicked `EXPORT CSV` in the participants section, under "4 People Going

[2020-06-19 02:43] alanna opened #3261 "Include EVENTS in top nav bar"
## User story
As an admin, I want to highlight that my Collective hosts events and encourage people to go.
As an event attendee, I want to easily jump to events on the Collective page.

## Best solution for this problem
Make `Events` a section that shows up next to `contribute` `budget` etc in the nav bar.

[2020-06-19 02:45] alanna opened #3262 "Make past events clearer"
## User story
User writes:

How it looks now:
![Screen Shot 2020-06-19 at 2 41 58 PM](https://user-images.githubusercontent.com/5498878/85091399-69703f80-b23b-11ea-9c42-20e05d66686f.png)

Only the first event above is active and the rest are past. But they all pretty much look the same except for the tiny text label.

## Best solution for this problem
Spatially or visually seperate current and pas

[2020-06-19 02:57] alanna opened #3263 ""Enable custom contribution" should be linked to the save button"
**Describe the bug**
I try to disable custom contributions for an event, but after unticking the box, it won't let me click save. The button is disabled and I get a little 🚫  symbol.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or edit an event
2. Disable custom contributions by unticking box
3. Try to save

[2020-06-19 02:58] alanna opened #3264 "Enable free events for unhosted Collectives"
## User story
As a Collective admin, I want to be able to use Open Collective to host free events even if I haven't set up a fiscal host to receive money yet.

## Best solution for this problem
Enable events for unhosted Collectives, but limit them to free tickets only.

[2020-06-19 07:20] Betree opened #3265 "Empty contribute section on past events"
**Describe the bug**
The `Contribute` section is still displayed on past events (tho it's empty).

**To Reproduce**
See https://opencollective.com/collective/events/open-source-speed-dating-fosdem-2020-96f78c6c#section-participants

**Expected behavior**
Past events should never have the contribute section enabled, it should not appear in the NavBar.

**Screenshots**
![image](https://user-images.g

[2020-06-19 07:29] Betree commented on #3260
The data is fetched in https://github.com/opencollective/opencollective-frontend/blob/46b71c02810e5d5d58f298e1a81502e7462d7192/components/collective-page/graphql/queries.js#L206 and displayed in `components/collective-page/sections/SponsorsAndParticipants.js`.

From what I see we don't refresh the data when the user logs in, so changes are that today:
- Export will *never* work when you visit the

[2020-06-19 09:50] #3265 closed

[2020-06-19 14:29] #3252 closed

[2020-06-19 14:29] Betree commented on #3252
The fix for this issue will be deployed between now and early next week

[2020-06-19 16:16] bkardell commented on #3252
Thanks @Betree !

[2020-06-20 07:03] darkmtr commented on #3253
@Betree can i take this up?

[2020-06-20 09:24] leena4c opened #3266 "Possibility to comment on donations"
In the same way that we can comment on an expense, we should be able to comment on a donation to give feedback on a procedure, to ask a question or just to thank a donor.
I again want to reach our to a backer and I don't see how.
This would also help with this kind of situation: #3114

[2020-06-20 09:29] leena4c opened #3267 "Donating with PayPal"
We held a first people assembly with collectives hosted by the AllForClimate fiscal host.

The question for the option 'donate to the paypall account' comes back very often as a feedback. Is there any possibility to make that possible?

Credit cards are not used very often in Belgium, it is just not part of the culture. We need to provide other, very easy ways of collecting money. Wire transfer is

[2020-06-22 07:11] Betree commented on #3263
I tried to reproduce, it's an UX issue rather than a bug. The state of this checkbox is saved instantaneously, it's not linked to the `Save` button which is just saving the content of the form for the `Create custom tiers` section. The only thing that indicates that in the interface is the little spinner in the checkbox:

![Peek 22-06-2020 09-04](https://user-images.githubusercontent.com/1556356/8

[2020-06-22 08:19] Betree commented on #3237
Hi @lsmith77, the template for the instructions of your host (OC Europe) was using two brackets for the variable (`{{collective}}`) instead of one, which is why it wasn't replaced. I've edited the template manually and the collective name should now be properly replaced in the instructions.

[2020-06-22 08:20] #3237 closed

[2020-06-22 08:31] Betree commented on #3261
Events are currently part of the `Contribute` section. they're not a section of their own. Also we show connected collectives next to them (which is why the subtitle is `More ways to contribute`). So it's a tricky change.

[2020-06-22 08:35] Betree commented on #3261
Also there are now a lot of sections in this navbar. When there are two many we have to activate the horizontal scroll, and that's not a great experience (see the example on medium screen below). I'd rather push for simplification.

![image](https://user-images.githubusercontent.com/1556356/85266378-1208e400-b474-11ea-98b0-dca7699ba973.png)

[2020-06-22 08:41] Betree commented on #3253
@darkmtr this issue has some inner complexity that will require syncing with other contributions, so we prefer to tackle it internally.

[2020-06-22 08:43] Betree commented on #2990
Should be resolved by https://github.com/opencollective/opencollective/issues/3220

[2020-06-22 09:47] #2847 closed

[2020-06-22 09:55] Betree commented on #3266
You can also export the emails of your contributors through `Settings > Export > Export CSV`.

[2020-06-22 09:55] Betree commented on #3114
For anyone stumbling on this question:

You can export the emails of your contributors through `Settings > Export > Export CSV`.

[2020-06-22 14:29] Betree commented on #3189
Issue fixed by Gitbook

[2020-06-22 14:29] Betree commented on #3192
Issue fixed by Gitbook

[2020-06-22 15:32] #3126 closed

[2020-06-22 17:09] vjeux opened #3268 "Scam expense"
Someone requested a $1k dollar expense for one of the open source projects I maintain. This is probably a scam to get paid if the owner accidentally accept.

https://opencollective.com/excalidraw/expenses/20710

[2020-06-22 17:16] znarf commented on #3268
@vjeux it's unfortunately becoming common,. Collective admins needs to be extra cautious when reviewing incoming expenses.

We're not sure yet how to address that at the platform level. Let us know if you have ideas.

[2020-06-22 17:21] Betree commented on #3268
@vjeux We're not sure yet but some ideas have been curated in https://github.com/opencollective/opencollective/issues/2741, some feedback on what would be the most useful for you would help.

In the meantime feel free to forward the scam expenses that you receive to `support@opencollective.com`, we review all reports and ban scammers/spammers regularly.

[2020-06-22 17:25] znarf commented on #2297
My take was to skip it for Organization, because it's complicated, there is no unique email for an Organization, there is one email per collective admin of the Organization. @alanna may provide more feedback.

For the meantime, I suggest to not have Organization support.

Finally, please double check that we're not exposing the email address of Incognito users.

[2020-06-22 17:56] vjeux commented on #3268
cc @petehunt who was in this business for a few years. He may have good ideas

[2020-06-22 19:35] sbinlondon commented on #2940
This was activated a while ago 🙈

[2020-06-22 19:35] #2940 closed

[2020-06-22 19:40] sbinlondon commented on #3150
We are removing the `/subscriptions` page and it will be fully replaced with/linked to `/recurring-contributions`.

This is merged and will be released tomorrow 🎉

[2020-06-22 19:40] #3150 closed

[2020-06-22 19:41] sbinlondon commented on #3155
Feature is merged and waiting for release, and all functionality is tested 🎉

[2020-06-22 19:42] #3155 closed

[2020-06-22 19:42] sbinlondon commented on #3151
Added to Collective page for Orgs, Collectives, and Users.

Feature is merged and waiting release, currently behind a feature flag.

Once it looks fine we'll remove the feature flag.

[2020-06-22 19:43] sbinlondon commented on #3153
API work is done.

[2020-06-22 19:43] #3153 closed

[2020-06-22 19:44] sbinlondon commented on #3138
Update:

Hover state was removed after team discussion.

[2020-06-22 19:44] #3138 closed

[2020-06-22 19:45] sbinlondon commented on #3152
Update: 'click outside menu to close' removed (edge cases with react-select menu portaling interacting with refs to detect clicks) and close icon added.

[2020-06-22 19:45] #3152 closed

[2020-06-22 19:47] sbinlondon commented on #3137
Everything is merged and released onto staging, will release onto prod tomorrow and then remove the feature flag if that goes well 🎉 👯

[2020-06-22 21:43] awright opened #3269 "OC Leaderboard Question"
**Describe the bug**
On the OC monthly newsletter, the Top Financial Contributors does not include a handful of large donations made to the [UPLIFT](https://opencollective.com/foss-responders/events/virtual-funding-event-q2-2020-4edd1e3a)! FOSS Responders Event. They include:

- Sloan Foundation: [$50K](https://opencollective.com/sloan-foundation)
- Indeed [$11K](https://opencollective.com/indeed)

[2020-06-22 22:06] alanna commented on #3269
@Betree can you look at the script and see why this might be happening?

[2020-06-22 22:11] alanna opened #3270 "Terminology for Funds should not refer to Collectives"
<img width="767" alt="Screen Shot 2020-06-23 at 10 10 16 AM" src="https://user-images.githubusercontent.com/5498878/85340234-da646f80-b539-11ea-945a-8462049e7cc1.png">

I just accepted this invitation to join a Fund, but the text all references "Collective". It should say "Fund". I have a feeling this will come up for a lot of things related to Funds.

[2020-06-23 01:23] alanna commented on #2297
I think we should still provide contributor contact info for organzations. The purpose of this feature is to give core contributors a way to deepen relationships with their funders, and many time the most important ones are organizations. I think it's fine to just put the email of one of the active org admins if there are multiple.

Alternatively, we could address this by adding a `contact` button

[2020-06-23 01:30] alanna commented on #3261
The user who prompted this request specifically mentioned that people seeking to attend events are confused by it being classed as a type of contribution. It makes sense in terms of our platform, and maybe even to the Collective admin whose using events to raise money, but to the end user it doesn't make sense. She said people email her confused, asking how they attend events instead of "becoming

[2020-06-23 03:21] alanna commented on #3257
@Betree any chance for this happening soon? I'm blocked from sharing the OCNZ page because it just shows that huge "hibernating at the north pole" section, and I can't turn it off.

[2020-06-23 06:52] Betree commented on #3257
@alanna this message will disappear as soon as you have one contribution (one collective hosted, or a financial contribution). If that's blocking you right now I can manually edit the sections for the host to make sure it doesn't appear.

I haven't investigated the complexity of this issue yet. I can try to look at it this week, to do it if it's simple or at least add specs.

[2020-06-23 06:56] Betree commented on #2297
The problem is that we're using the `CreatedByUserId` field, which maybe someone else (ie. some collectives were created for users by Pia or Xavier) and more importantly that may be someone that is not an admin anymore of the Collective.

This is a bounty, introducing more complexity to handle organizations admins is not fair to the contributor. I propose that we stick with what @znarf initially s

[2020-06-23 10:12] alanna commented on #3257
@Betree I have had a contribution and the dead space section is still showing: https://opencollective.com/ocnz

[2020-06-23 10:21] Betree commented on #3257
@alanna sorry, I meant an outgoing contribution. This section will show up when you have at least one membership.

It's a different issue, but maybe we can remove it entirely when there's no contribution.

[2020-06-23 12:12] #3255 closed

[2020-06-23 13:11] kewitz commented on #3181
Solved.

[2020-06-23 13:11] #3181 closed

[2020-06-23 14:30] #3184 closed

[2020-06-23 14:46] #3103 closed

[2020-06-23 15:06] #3202 closed

[2020-06-24 02:52] Memo-Es commented on #3209
We just updated the components to include the new behavior for accessibility to the buttons and the small fix related to the expense type tag @Betree

[2020-06-24 06:35] #3032 closed

[2020-06-24 06:37] #2766 closed

[2020-06-24 07:39] #3191 closed

[2020-06-24 08:00] #3194 closed

[2020-06-24 11:17] Betree commented on #3209
Thank you @Memo-Es, that's perfect!

[2020-06-24 11:28] piamancini commented on #3269
the script looks at May only - have these contributions been in may?

[2020-06-24 11:29] piamancini commented on #3003
actually - we do have use cases for this - especially in the OCF supported collectives. Let's not lose this. cc @znarf

[2020-06-24 11:33] #2297 closed

[2020-06-24 11:33] Betree commented on #2297
:trophy: This issue has been completed by @snitin315

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-06-24 11:33] Betree opened #3273 "Include organization's admins emails in new member notification"
Followup on https://github.com/opencollective/opencollective/issues/2297

We need to surface the emails of organization admins too on the email. There are two tricky parts:
- We may not want to provide the contact of the organization when the contribution is made through one of their gift cards.
- Orgs usually have multiple admins. We must find a way to display them nicely. #2263 can help us with

[2020-06-24 11:34] Betree commented on #2297
I've created a followup issue for including the org admins emails: https://github.com/opencollective/opencollective/issues/3273

[2020-06-24 11:37] #3168 closed

[2020-06-24 11:53] #2945 closed

[2020-06-24 12:03] #2873 closed

[2020-06-24 12:31] sbinlondon opened #3274 "2FA feature spec"
## User story
As a user I can activate 2FA on my account to have enhanced security regarding situations such as logging in, moving large amounts of money, etc.

## What does it look like

### Frontend

#### 2FA setup page for users
* user scans a QR code in their authenticator app
* on the page, they enter the 6-digit setup code
* 2FA is now set up on their account

### Backend

* Generate a 2FA '

[2020-06-24 13:05] #3214 closed

[2020-06-24 17:30] sbinlondon commented on #3018
This has been done

[2020-06-24 17:30] #3018 closed

[2020-06-24 17:33] sbinlondon commented on #3151
Feature flag removed 🎉

[2020-06-24 17:33] #3151 closed

[2020-06-24 17:36] #1581 closed

[2020-06-24 19:46] awright commented on #3269
Yes.

   - Sloan Foundation was (credited) on 05-20
   - Google Open Source: 05-20
   - Sentry.io 05-20
   - GitHub 05-12
   - Indeed 05-07 (their 10K commitment came on the 7th. the 1K add-on came
   in 06.02)

Linux Fund was on 04-28

On Wed, Jun 24, 2020 at 4:28 AM Pia Mancini <notifications@github.com>
wrote:

[2020-06-24 22:08] JoyLubega commented on #2784
Hey @Betree I am taking a look at this again. But I can't seem to connect to Paypal. Do I need to create my dev account in Paypal and use that? Thanks

[2020-06-24 23:41] SudharakaP commented on #2813
@Betree : I've created a draft pull request for this but there's a small issue blocking this. I cannot import `StyleTag` at the moment since in [StyleTag we use `react` as a dependency](https://github.com/opencollective/opencollective-frontend/blob/d7f6fb92f0430be907edbe7c697d9e59868637c3/components/StyledTag.js#L1). This creates a problem unless we define `react` as a peer dependency as mentioned

[2020-06-25 04:23] Memo-Es commented on #3221
### Updated design for this is  👉🏼 [Here](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Kit?node-id=2116%3A0)

@Betree @alanna

[2020-06-25 06:38] Betree commented on #2784
@JoyLubega the connection needs to happen from the host dashboard (ie. `/my-host/dashboard`). You can create sandbox paypal accounts from https://developer.paypal.com/developer/accounts/

[2020-06-25 07:56] Betree commented on #3260
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-06-25 07:59] darkmtr commented on #3260
@Betree can i take this up?

[2020-06-25 08:01] Betree commented on #3260
@darkmtr sure!

[2020-06-25 11:40] Betree opened #3275 "[PROJECT] Migrate collective page to GraphQL V2"
## Purpose
We have a plan to migrate all our endpoints to GQLV2 to benefit from a cleaner API. The collective page is probably one one of the biggest consumer of GQLV1 endpoints, and we're paying the price for it: a lot of endpoints are not optimized properly (no loaders) or rely on overly complex code to fit an inconsistent API design, like in the budget section.

As a consequence, we're spending

[2020-06-25 21:28] sbinlondon commented on #3274
First draft of the first step is done, I'm sure there's 3 billion ways we can improve security and functionality, but it's at least authing the QR code against an authenticator app and adding the secret to the db if it matches 🎉

opencollective/opencollective-api#4112
opencollective/opencollective-frontend#4520

[2020-06-25 22:02] alanna commented on #3221
I can't load Figma @Memo-Es - can you post a screenshot please?

[2020-06-25 23:21] alanna opened #3276 "UI should indicate that expense comments are private"
Thanks to #3216, expense comments are now private. But the interface does not do a good job of communicating that to the user.

I was about to respond to a comment with some confidential payment info, and then I thought "Oh I better make sure that new private comments feature has been fully released... how can I know if this will be private?" And I realised I could not tell.

I'm not sure the best

[2020-06-25 23:24] alanna opened #3277 "Expense went through without required info"
Regarding this expense: https://opencollective.com/getferdi/expenses/16643

It has no payout method selected, and no payee address. But somehow it's been submitted and approved. How is this possible?

Expenses should not be allowed to be submitted or approved without the required details.

[2020-06-25 23:26] alanna commented on #3277
Screenshot in case the user edits it.
<img width="724" alt="Screen Shot 2020-06-26 at 11 26 06 AM" src="https://user-images.githubusercontent.com/5498878/85805226-d6d22200-b79f-11ea-8cbf-4563f090e98a.png">

[2020-06-25 23:33] alanna opened #3278 "Access 'create new organization' process when submitting an expense"
## User story
As an expense submitter, I want to be able to create a new organization profile from the "Who is being paid for this expense?" interface on the submit expense form, so that I can select the correct payee and input the organizations address and payout preferences.

## Best solution for this problem
Be able to click "create new" in the "Who is being paid for this expense?" search/selec

[2020-06-26 01:06] snitin315 commented on #2314
@Betree is this a bounty ?

[2020-06-26 06:34] Betree commented on #3277
This expense was submitted before the release of the new flow (2020-04-24).

[2020-06-26 06:36] Betree commented on #3277
The attached invoice has an address. I'm not sure about the payout method, the person probably selected "Other" at the time

[2020-06-26 06:42] Betree commented on #3278
It was disabled on purpose, because we saw a risk if making it too easy that people would confuse this field and set `Heroku` there (rather than their personal profiles) if their bill was for some hosting on heroku. We also need a way for the organization admins to confirm the expense before it goes through.

I'll let @piamancini add more details if needed.

[2020-06-26 08:09] Betree commented on #2314
@snitin315 it is now :slightly_smiling_face:

[2020-06-26 08:12] snitin315 commented on #2314
taking this up.

[2020-06-26 08:15] Betree commented on #2314
I've updated the specs to make target audience (collective admins or financial contributors) configurable.

[2020-06-26 08:26] znarf commented on #3119
@daegontaven Sorry, missed your message. Using Open Collective? Try again and contact support if that doesn't work.

[2020-06-26 08:27] znarf commented on #3119
One occurrence in the last 7 days:

<img width="932" alt="Screenshot 2020-06-26 at 10 26 08" src="https://user-images.githubusercontent.com/806/85836856-8f479800-b797-11ea-8da2-6120b46d4a4d.png">

[2020-06-26 08:43] znarf commented on #3267
@piamancini It is technically possible. We're currently blocked to extend that to more Fiscal Hosts because we need a decision on how to collect (or not collect) the Open Collective platform fees.

[2020-06-26 09:04] znarf commented on #3244
We don't have enough space and I had to remove this from the navigation in this particular situation.

If they want to apply to their own fiscal host, they can follow the "Accept Financial Contributions" flow or just edit the "Host" in the Collective settings.

[2020-06-26 09:09] #3206 closed

[2020-06-26 09:14] znarf commented on #3210
We're normally adding a hash in the images URL to make sure that it's updated side wide.

Ie: https://images.opencollective.com/znarf/e534a60/avatar/256.png

I just checked and it's true that we don't use this versioned URLs for displaying contributors (ie: on https://opencollective.com/excalidraw), that should be looked at.

[2020-06-26 09:15] znarf commented on #3212
Will be solved by https://github.com/opencollective/opencollective/issues/3257

[2020-06-26 09:15] #3212 closed

[2020-06-26 09:18] znarf commented on #3221
Re-tagged and removed "bounty candidate" as it's not suitable for a bounty yet (clear spec and desired outcome).

[2020-06-26 09:19] znarf commented on #3233
That could be done when moving Search out of Algolia.

[2020-06-26 09:19] Betree opened #3279 "Gift cards admin: review & surface limits"
We regularly get support tickets (like [this one](https://opencollective.freshdesk.com/a/tickets/7749)) from people trying to generate an important number of gift cards and getting an error like `Gift card create failed because you reached limit. Please try again later or contact support@opencollective.com`. It's a very bad experience, because we don't mention any kind of limit in the form.

I als

[2020-06-26 09:21] znarf commented on #3240
Closing because the original error was addressed.

[2020-06-26 09:21] #3240 closed

[2020-06-26 09:34] znarf commented on #3278
Doubling down on that, I'm super suspicious allowing everyone on the platform to create Organizations for others. That's creating more problems than it's solving. Unless we're doing it extremely right.

[2020-06-26 09:35] znarf commented on #3270
Funds is not a finished project. We're on it.

[2020-06-26 09:36] jeffin143 commented on #3024
Will look it during the weekend , super obsessed with E2e test in repo 😉

[2020-06-26 09:39] #3147 closed

[2020-06-26 09:44] jeffin143 commented on #3125
@Betree , saw your improvements on test , I will try to adapt same if I wrote any more E2e :)

Let's close this since it is done

[2020-06-26 09:47] Betree commented on #3125
@jeffin143 Indeed! Your approach on these tests was good, but I didn't initially realize the underlying complexity that was needed, for example the fact that collective needed to have a positive balance to pay expenses. It was easier to use an existing collective to achieve that. I also found that we had this `cy.createExpense` helper already in the code, pretty convenient!

[2020-06-26 09:47] #3125 closed

[2020-06-26 12:19] znarf commented on #3275
I think (for that and for many other use cases) it would be interesting to introduce some classes for our main objects. That could help ease the transition. Ie: `const collectiveObject = new Collective(collective, 'v1);` Then we use the `collectiveObject` and can implement some compatibility where needed.

[2020-06-26 12:31] Betree commented on #3276
Would be great if we could make the message below (displayed when users are not allowed to see the comments) prettier at the same time. Maybe we could have a similar box in two versions:

**Authorized**
:unlock: These comments are private, only the admins and the expense submitter can see them.

**Not authorized**
:lock: Comments for this expense are private. You must be signed in as an admin or t

[2020-06-26 12:31] piamancini commented on #3270
<3 <3

[2020-06-26 12:35] Betree commented on #3268
https://opencollective.com/excalidraw/expenses/20710 has now been deleted, and its submitter banned. Thank you @vjeux

[2020-06-26 12:35] #3268 closed

[2020-06-26 12:40] Betree commented on #3275
That could help if schemas between V1 and V2 have significan differences, and also to contain the transition logic (so that it will be easier to remove later). For now the main friction points that I saw were on the IDs (ie. for linking items), which were pretty easy to address at the component level.

[2020-06-26 12:52] #3142 closed

[2020-06-26 13:15] leena4c commented on #3267
Right now we are losing collectives because of these missing features. OpenCollective can not be fully used as a crowdfunding platform, because the options to donate are not adjusted to the European context where people don't use credit cards but pay pall, wire transfer and apps like pay coniq or ideal. Collectives like the accounting features, but don't see the value of the donation options and c

[2020-06-26 14:51] hpk42 opened #3280 "notification e-mails are not shown or show badly (like spam)"
We recently joined at https://opencollective.com/delta-chat and are still in the testing phase. While the general UX and flows of @opencollective are a joy, there is one major issue: all e-mails are sent out in html only and lack a plain-text version.  This leads to many e-mail clients to not display html or badly converted message  for various reasons, including security reasons -- see the Thunde

[2020-06-26 14:58] Betree commented on #3123
Note: with expense process actions coming to the expenses list, we'll need to add the fields on the `expenses` page query once we have the proper loaders to back them

[2020-06-26 15:15] vjeux commented on #3268
Merci!

[2020-06-26 15:35] #3259 closed

[2020-06-26 15:49] #3260 closed

[2020-06-26 15:50] Betree commented on #3260
:trophy: This issue has been completed by @darkmtr

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-06-26 16:01] Betree commented on #3243
@alanna I've removed all occurrences left for `Member Collective`, feel free to close if you think everything has been addressed will be addressed in another issue.

[2020-06-26 16:02] Betree commented on #2773
Resolved by https://github.com/opencollective/opencollective-frontend/pull/4383 + https://github.com/opencollective/opencollective-api/pull/4020

[2020-06-26 16:02] #2773 closed

[2020-06-26 16:05] Betree commented on #2055
This is mostly done, we just need to rename the domain `invoices.opencollective.com` -> `pdf.opencollective.com`

[2020-06-26 22:59] alex-tee opened #3281 "Allow markdown input for updates"
Please allow markdown support when creating new updates.

[2020-06-28 14:28] snitin315 commented on #2314
@Betree where should I add the selection?  with the publish button or in place of the private update checkbox?

[2020-06-28 22:04] alanna commented on #2665
This list is a bit out of date now, but I still think we need to refactor the settings area with all the new stuff we've added.

[2020-06-28 22:05] #3277 closed

[2020-06-28 22:07] alanna commented on #3244
@alinamanko - FYI see above if a host admin can't figure out how to add a Collective the admin to their host.

@contraexemplo can you please add this info to the docs for host admins?

[2020-06-28 22:28] alanna commented on #3243
Thanks @Betree

My personal opinion is that sections should be modular and not combined, i.e. both Connected Collectives and Events should be their own section so admins can turn them on and off and reorder them as they see fit - we had another recent issue where a user wanted Events to show in the top nav bar, for example.

But I think that's a seperate issue so I'll close this.

[2020-06-28 22:28] #3243 closed

[2020-06-29 01:11] jqhph opened #3282 "the contributors.svg shows "Not Found""
I don't know why my contributor.svg shows "Not Found", what can I do to make it work?

https://opencollective.com/dcat-admin/contributors.svg?width=890&button=false

[2020-06-29 01:32] alanna opened #3283 "Decouple Events and Connected Collectives from "more ways to contribute""
## User story
As a Collective admin, I want control over the sections of my page, so I can present a clear message to my community.
As a page visitor, I want to be able to find what I'm looking for and understand the sections.

People don't natively consider events and Collectives as "ways" to contribute, and I think it's awkward conceptually and practically to have it all in one section.

## Best

[2020-06-29 01:36] alanna commented on #3267
@leena4c While we are working on the underlying issues, for now you can instruct people to select "bank transfer" payment method. Then they can actually pay by any means, such as Paypal or any other app, and the host admin can mark it as paid when it's received anywhere outside Open Collective. It's not as nice an experience as if it was all integrated, but at least it will work and allow people t

[2020-06-29 04:15] alanna commented on #3278
I agree that there are potential risks and issues if we let people create Organizations for others.

However, many Collective admins really want to submit expenses on behalf of vendors instead of asking those vendors to do it themselves, e.g. they have received an invoice from their lawyer, who is very busy, and they just want to upload it and have it be paid.

The thing is, with no other option t

[2020-06-29 04:17] alanna commented on #3257
@Betree if you could remove it that would be great! It's blocking me from sharing the link and inviting Collectives to join.

[2020-06-29 05:20] Memo-Es commented on #3221
@alanna Posting the details of the modals as png

![Item](https://user-images.githubusercontent.com/49539954/85975591-1e260180-b99e-11ea-880b-8acfc7268124.png)

[2020-06-29 05:55] Betree commented on #2314
@snitin315 It makes sense to show it with the publish button like you did

[2020-06-29 08:51] Betree opened #3284 "Add tests for the search expense feature"
We [recently introduced](https://github.com/opencollective/opencollective/issues/3214) a search feature for expenses. The underlying SQL query is quite complex, so we'd like to protect ourselves from future regressions by adding some testing on the API. The test should make sure that it:

- searches in expense description
- searches in expense tags
- searches in payee's name & slug

[2020-06-29 12:02] #3209 closed

[2020-06-29 12:33] SudharakaP commented on #3284
@Betree : I'll take this no one is already on it. :smile:

[2020-06-29 14:09] kewitz opened #3285 "Implement changes to TransferWise API"
From TransferWise:

There are two things that needs to be done:
- [x] Update the transaction funding endpoint URL
- [x] Sign all requests to the funding endpoint using a private key
- [ ] Update docs to include the new public key and how to add it
- [ ] Send email notifying everyone about the new key and how to add it
- [ ] Add keys to staging and production

[2020-06-29 15:46] Betree commented on #3257
@alanna Done

I haven't had the time to tackle this issue last week but I've put in in my list for this week's priorities

[2020-06-29 17:03] contraexemplo commented on #3165
GitBook has addressed the redirect problem with a fix, and all of our redirect rules are working again!

[2020-06-29 17:03] #3165 closed

[2020-06-29 18:26] znarf commented on #3257
I can't see the hibernating thing.

<img width="926" alt="Capture d’écran 2020-06-29 à 19 45 20" src="https://user-images.githubusercontent.com/806/86042010-d6a78000-ba46-11ea-87de-95f22b5a6527.png">

[2020-06-29 22:26] Betree commented on #3257
@znarf I've disabled the `Contributions` section

[2020-06-29 22:27] Betree commented on #3165
Fantastic, thanks for handling this one @contraexemplo!

[2020-06-30 03:42] Memo-Es opened #3286 "Design system update: Late June 2020"
### This update includes:

 ##  👉🏼 **[Expense component](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Kit?node-id=1859%3A23898)**:

- Consolidated version of Expense visualization, both reimbursements and invoices in inline editing or with a modal

![Annotation on 2020-06-29 at 22-34-23](https://user-images.githubusercontent.com/49539954/86080785-4e7ea600-ba59-11ea-92fb-a8dd4fc93d02.