[2021-06-09 16:45] SudharakaP commented on #4349
@Betree : So the fix I used here is to show the load more button once but once you click it if there's no more updates (exactly 10) then we hide the button. Also I've change the count from 20 to 10 for the updates as it seems to me that the original intention was to show 10 updates not 20 as we had the check `updates.length >= 10 && updates.length % 10 === 0` in `Updates.js`. But if you think we s

[2021-06-09 23:27] johav commented on #4280
oh... I didn't mean to suggest getting rid of it, but instead actually get templates up that are functional... is that an option for anytime soon / to easily schedule recurring events?

[2021-06-10 05:11] shannondwray commented on #4280
Have just removed this in our docs so that it doesn't confuse our users currently. If our devs want to work on bringing this feature back I will ensure it is documented :)

[2021-06-10 05:40] alanna opened #4350 "Improve leaderboard data"
We use this data for the monthly newsletter leaderboard: https://opencollective-metabase.herokuapp.com/dashboard/19

But there are a few ways it could be cleaned up. I've been doing this cleaning manually each month but if we could change the queries it would be helpful.

1. Do not include Projects (but do include revenue coming through Projects in the total contributions to the parent Collective)

[2021-06-10 05:41] alinamanko commented on #4339
@alanna this is an option I see as possible (though I feel we can find even an easier way to find the information) - when I go to the OpenCollective page and go through the page, the very buttom of the page is looking like this:

![Capture](https://user-images.githubusercontent.com/57156267/121470681-b03de300-ca12-11eb-84aa-8428ca8e7edb.png)

When I click on Learn More button I am taken to the sup

[2021-06-10 07:58] Betree commented on #4345
That's where we need to make a decision. I'm perfectly fine with adding a column (or a field in `user.data` if it's just a temporary solution) if the goal is to track the `lastChangelogViewDate`. However, according to the designs we saw, it sounds to me that we will also want to track this info for each update in the future. I had this intent in mind when I proposed to use a separate table, someth

[2021-06-10 08:49] Betree commented on #4280
@johav you can track the progress for this feature on https://github.com/opencollective/opencollective/issues/3707. It has not been prioritized yet.

[2021-06-10 12:06] piamancini commented on #4350
Papercuts candidate for this sprint?

[2021-06-10 12:38] #4348 closed

[2021-06-10 12:44] SudharakaP opened #4351 "Handle the Case where `LoggedInUser` is null in `AuthenticatedPage.js`"
As per the comment https://github.com/opencollective/opencollective-frontend/pull/6469#pullrequestreview-680485527;

we should ideally make sure that if `LoggedInUser` is null the `AuthenticatedPage` doesn't render the children but properly blocks the user.

My suggestion is that it should show the user `SignInOrJoinFree.js` component when `LoggedInUser` is null and also let the user specify a mes

[2021-06-10 12:46] #3918 closed

[2021-06-10 13:30] SudharakaP opened #4352 "Display Error Message when GraphQl Query Fails in `NewsAndUpdatesModal.js`"
This was pointed out at, https://github.com/opencollective/opencollective-frontend/pull/6453#discussion_r648970047.

We need to add support to show proper error messages in case the GraphQl query fails in `NewsAndUpdatesModal.js` which we are not handling right now. Currently if the query fails, the user will see an infinite spinner. 🐨

[2021-06-10 13:43] SudharakaP opened #4353 "Failing E2E test on `Conversations`"
I saw many times the creating a conversation E2E test fails; I think there's something going on with the rich text editor on our CI pipeline which I didn't see in my local machine. Locally these E2E test seems to pass. We need to investigate more on this and hopefully make this test stable. 🤔

[code]

[2021-06-10 13:43] #4326 closed

[2021-06-10 16:20] #4349 closed

[2021-06-10 17:05] #4055 closed

[2021-06-10 17:08] BolajiAyodeji opened #4354 "Typo in events page ticket button"
**Describe the bug**

The RSVP button on an events page on Open Collective currently reads as *RVSP*. I think the right word should be *RSVP*.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to: https://opencollective.com/osca/events/osca-nairobi-introduction-to-open-source-af95b184
2. Scroll down to the tickets section
3. See error

**Expected behavior**

The button should have a text n

[2021-06-10 19:00] kewitz opened #4355 "Digital Wallet Payment: Add AliPay single-payment payment method"
Implement AliPay as a payment method for one-time donations.
Limit to compatible host currencies listed in the docs.

Docs: https://stripe.com/docs/payments/alipay

[2021-06-10 22:59] Rhynodeeds commented on #4355
no sé

[2021-06-10 22:59] Rhynodeeds commented on #4355
Tu no Sabes?

[2021-06-10 22:59] Rhynodeeds commented on #4355
Pussy

[2021-06-11 03:19] Memo-Es opened #4356 "[Project] Platform Navbar Design Enhancements"
## Context

We have been using the same navbar for (at least) ~3.5 years now, a lot has changed ever since, and I think we should adequate a couple of things to adapt to the new reality of the platform in the present and what we want it to be in the future.

**For this series of updates, we will tackle two main goals:**
- Have an improved marketing notion from the navbar that help people to naviga

[2021-06-11 03:20] Memo-Es commented on #4356
I'm presenting a proposal for the demo call of June 11th, I will update this issue with the proposal after the demo

[2021-06-11 06:41] #4354 closed

[2021-06-11 08:27] Betree opened #4357 "User menu closes when you click in it"
While we do want this behavior when clicking on the links in the menu, one should be able to select text or tap blank areas without closing the menu.

![Peek 2021-06-11 10-25](https://user-images.githubusercontent.com/1556356/121656067-64854b00-ca9f-11eb-97b6-43d21dff479e.gif)

[2021-06-11 09:15] Betree opened #4358 "Use Funds as the payment source for Gift Cards"
We moved Salesforce from the Organization type to Fund. In the process, we've deleted the Prepaid payment method that served as the source for their internal gift cards. As a result, [some users](https://opencollective.freshdesk.com/a/tickets/21661) are prevented to use them and get an error like "Gift Card source Payment method available".

The ideal fix would be to update the `SourcePaymentMetho

[2021-06-11 15:12] SudharakaP opened #4359 "Runtime Error: Potential Memory Leak/Invariant Violation in Updates Page"
**Describe the bug**

I noticed this when working on another issue on updates. It seems that after publishing an update and then the user logs out, there's a run-time error occurring. 🐨

![updates-error](https://user-images.githubusercontent.com/12435965/121708811-c7b9b200-ca8c-11eb-83b9-3490dcb502fb.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collective where you can post

[2021-06-11 15:22] SudharakaP commented on #4359
Seems like this is related to a cache invalidation on apollo; https://github.com/apollographql/apollo-feature-requests/issues/4. 🤔

[2021-06-11 22:47] alanna opened #4360 "Represent funds coming through Events and Projects in the parent Collective budget stats"
When you look at https://opencollective.com/modulo it appears like they have raised $0.

<img width="1101" alt="Screen Shot 2021-06-12 at 10 40 20 AM" src="https://user-images.githubusercontent.com/5498878/121755164-9b746300-cb6a-11eb-83a9-6e57270281f3.png">

But this is not actually the case. It's just that they are running everything through Projects.

<img width="1189" alt="Screen Shot 2021-06-

[2021-06-11 22:51] alanna commented on #4360
Oh god I've just stumbled across another reason for this: OCF is going through an audit and for that they will be looking at the balances of every Collective and how it changes over time. If a Collective's funds are spread out to multiple projects without good data showing the connections, this will be very messy to figure out for next year's audit.

[2021-06-12 02:20] ersachin3112 commented on #4290
I will take it.

[2021-06-12 02:26] alanna opened #4361 "Transaction amounts not adding up"
See https://opencollective.com/ehf-wellington-meet-up-pizza-at-mevo-068b2b5f/transactions

This transaction does not add up.

<img width="1057" alt="Screen Shot 2021-06-12 at 2 24 56 PM" src="https://user-images.githubusercontent.com/5498878/121762449-21ec6d00-cb8a-11eb-9779-8a95c087a02b.png">

$57.50 - $2.88 - $1.97 does not equal $45.15

[2021-06-12 03:16] SudharakaP commented on #4290
@ersachin3112 : Sure, feel free to let us know if you have any questions. 😄

[2021-06-12 08:11] znarf commented on #4360
There are some good points, seems obvious that the balance should somehow expose money hold on Projects and Events.

Normally, they should not have a top-level URL. I know that sometime it's the case but this is a bug that should be fixed.

For reporting, it's not a new problem because we used to have Events with the same behavior. How were we doing audits/accounting with Events?

[2021-06-12 08:19] znarf commented on #4361
There is a `taxAmount` of $7.50 reported in the database that is not exposed in the interface.

What is the expectation @Betree?

[2021-06-12 19:03] SudharakaP opened #4362 "Cannot Contribute to Particular Collective through Gift Card"
**Describe the bug**

It seems that for some reason, I cannot contribute to the [Animal Behaviour Collective](https://opencollective.com/animal-behaviour-collective) through a gift card. It just says, `Your card was declined.`. I think it should be possible to contribute to any collective through a gift card as long as the balance is valid. 🤔 🐨

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-06-12 21:03] alanna commented on #4361
Ahhhh so it's GST. That's should definitely be exposed in the transaction
details.

[2021-06-13 01:12] SudharakaP commented on #4362
Looking further, this is not specific to the above collective, I cannot seem to contribute anymore with the card at all.

Looking at the logs it doesn't seem like I've hit any server limit so the only thing I could think of is what is suggested in this thread; https://opencollective.slack.com/archives/G46PNRCGP/p1615620270000300.

@Betree @znarf : It seems looking at the code that when a Stripe de

[2021-06-13 04:01] alanna commented on #4360
I'm not sure. This same question applies to things like monthly/yearly Host reports, and for the "XYZ is Hosting 56 Collectives" stat on Host pages. Are events counted as seperate Collectives for these purposes? Is money going through events left off the totals for reporting?

@leonardohofling how have we been handling funds in Events when it comes to things like the metabase dashboards we've prov

[2021-06-13 22:07] SudharakaP commented on #4243
@znarf @Betree : Since we are coming to the end of June and I don't think the original issue is going to be addressed to fit our needs anytime soon; https://github.com/dependabot/dependabot-core/issues/3253 I think it's a good time to start migrating one by one repo if there's no objection. So if it's okay I'll start with `opencollective-setup`, `opencollective-emails` and `opencollective-rest` ne

[2021-06-14 00:18] alanna opened #4363 "Transaction linking to wrong URL"
Looking at https://opencollective.com/pytorch-ignite-org - there is a single transaction, which is the expense paid from Season of Docs.

![Screen Shot 2021-06-14 at 12 14 45 PM](https://user-images.githubusercontent.com/5498878/121826106-2b044800-cd0a-11eb-9d7c-d44535a8767e.png)

However, if you click on that expense title, you get a 404. It's trying to send you to https://opencollective.com/pyto

[2021-06-14 00:33] alanna opened #4364 "Fix transaction source for Season of Docs"
I apologise in advance for not breaking this up into multiple smaller issued but I'm not sure how to sort that out.

See https://opencollective.com/pytorch-ignite

There's a single transaction, the payment of the Season of Docs stipend.

This money came from https://opencollective.com/season-of-docs-2021

But it was not possible to select this Pytorch Collective as the payee, because we can't do e

[2021-06-14 04:30] alanna opened #4365 "Error while creating Wise's recipient"
Trying to pay this expense: https://opencollective.com/season-of-docs-2021/expenses/42601

Get this error:

<img width="806" alt="Screen Shot 2021-06-14 at 4 27 35 PM" src="https://user-images.githubusercontent.com/5498878/121839267-c6f37b00-cd2d-11eb-9311-a24c6b56909e.png">

We thought it might be the special character `#` in the address field, so we took that out, but it's still not working.

[2021-06-14 04:59] alanna commented on #4109
Yes this is happening because if a group has a paypal account or a crowdfunding campaign or a cash box where they've been raising money, and are now onboarding to a Collective and transferring in those previously raised funds, they don't want their personal name showing up, because it's really the group's money, not them personally making a contribution (if they used their own profile it would loo

[2021-06-14 06:31] znarf commented on #4243
@SudharakaP Cool, have a try with those repositories.

[2021-06-14 06:49] Betree commented on #4361
I'm not entirely sure, but I think we used to display that in the breakdown. The easy fix would be to add that back:

[2021-06-14 06:50] znarf commented on #4361
We don't know that it's GST specifically. So it would be something more generic like "Tax"? Or do we want to guess based on currency?

[2021-06-14 06:55] Betree opened #4366 "Tax amount (GST/VAT) copied into platform tip transactions"
**Describe the bug**

`taxAmount` column is copied into platform tip transactions. This is wrong because taxes normally don't apply there (it's a donation). And even if they do, it should only represent a fragment of the total tax amount, not the full one.

[code]

[2021-06-14 07:00] Betree commented on #4361
We are in fact storing this info in the order (`order.data.tax.id`). We should copy this info into the transaction's data.

[2021-06-14 07:07] Betree commented on #4362
@alanna is facing the same error with her gift card. The last time I looked, a limitation of some kind was the best explanation since all the other recurring gift card contributions (that run on the first of the month) using the same CC  are working fine. We however looked at the configuration on Privacy with @znarf and we've set the limit at $1000, which should theoretically work given that we ha

[2021-06-14 07:16] Betree commented on #4243
I haven't followed all the conversations on this dependabot issue, but I'm curious about why what's proposed in https://github.com/dependabot/dependabot-core/issues/3253#issuecomment-852541544 doesn't work for us?

[2021-06-14 07:18] Betree commented on #4363
This one was reported in https://opencollective.slack.com/archives/G46PNRCGP/p1623409906075300 and fixed in https://github.com/opencollective/opencollective-frontend/pull/6479, but we haven't deployed the fix yet

[2021-06-14 07:18] #4363 closed

[2021-06-14 07:25] znarf commented on #4362
"Your card was declined." is likely the generic decline code `generic_decline`.

Have we considered that our backing Credit Card is actually locked to Open Source Collective?

[2021-06-14 07:36] Betree commented on #4362
I don't know if Privacy cards can be locked to multiple entities, but I have one contribution to OC Paris linked to that Gift Card

![image](https://user-images.githubusercontent.com/1556356/121855698-f1284700-ccf3-11eb-98fa-d0f328608caa.png)

[2021-06-14 07:41] znarf commented on #4362
@Betree Interesting because I noticed that the failures from Suds were on different Fiscal Hosts.

[2021-06-14 09:13] znarf commented on #4364
This is the right call in this situation because the money needs to move out of the pytorch-ignite-org budget, which is not the case today. They could also have used the Contribution Flow for this.

If its not the end of the world, then let's stick to it because as of today this is the proper way. We can happily edit the descriptions of the Transactions for clarity and transparency.

Google Open S

[2021-06-14 09:32] znarf commented on #4364
Done.

[2021-06-14 12:54] #4352 closed

[2021-06-14 14:01] SudharakaP commented on #4243
@Betree : We could make it work for sure I think. But the workflow's become complex (have to add this `if: ${{ github.actor == 'dependabot[bot]' }}` at job level and then also make sure the checkout action is broken down to two separate branches) and this is the reason I tried to break all the workflows which needs a write token into two separate workflows (https://github.com/opencollective/openco

[2021-06-14 16:28] kewitz commented on #4293
There are still 12 Hosts connected to Wise using a personal token.
I just sent the second round of emails and I'll be deleting all personal tokens at the end of this month.

[2021-06-14 21:27] alanna commented on #4364
Thank you @znarf - yes that makes sense. I was misunderstanding what was a Fund vs an Org in the process (@piamancini please note this in case we are moving Google to be a Fund in the future).

I will leave this issue open because there are likely a few more of these coming through where we might need to update the transaction source.

[2021-06-15 09:41] Betree opened #4368 "PayPal synchronization issues"
We have a few synchronization issues with PayPal that we'll need to tackle. They are common to the legacy and the new implementation, so we may need to look at old data.

1. We're not watching the payment refund webhook events. If for any reason (e.g. host admin refunds from PayPal's interface, the user opened a dispute or PayPal automatically reverts the transaction) then it's not accounted for i

[2021-06-15 09:52] ersachin3112 commented on #4290
I think we should do same thing for collective cards on `/discover` page as well.

![CPT2106151521-1293x708](https://user-images.githubusercontent.com/80162912/122032600-6d528580-cded-11eb-9dd7-866a9f2a07d6.gif)

[2021-06-15 12:07] #4235 closed

[2021-06-15 19:39] MlkMahmud commented on #4100
Hi @Betree, can I work on this?

[2021-06-15 20:57] alinamanko opened #4369 "Implement refunds for "Added Funds""
## User story
Right now there is no easy option to process a refund in the scenario where funds are added using the host balance. This could result in a scenario [of a mistake made by a host admin](https://opencollective.freshdesk.com/a/tickets/23033) or on some occassions where a host receives contributions which could not be identified with a specific collective and adds them to their balance as

[2021-06-16 04:40] alanna commented on #4268
Sorry @znarf I only just saw this.

Yes that first sentence looks good.

I still think the second sentence can be confusing because 'contribution' is what we call their payment to the Collective. Can we change it to say "Thank you for your tip:" ?

[2021-06-16 06:21] Betree commented on #4100
@MlkMahmud sure! You can check the local Maildev server (http://localhost:1080/#/) to get details about sent emails.

[2021-06-16 06:37] SudharakaP commented on #4243
@znarf : I've configured renovate on `opencollective-setup`, `opencollective-emails` and `opencollective-rest` as planned. This has opened a PR on each of these repos. 🐨

https://github.com/opencollective/opencollective-emails/pull/239

https://github.com/opencollective/opencollective-rest/pull/299

https://github.com/opencollective/opencollective-setup/pull/117

The PR also includes the default w

[2021-06-16 10:15] znarf commented on #4369
In theory, that should really be the simplest case for a refund. No excuse on our side to delay implementation.

[2021-06-16 12:42] #4359 closed

[2021-06-16 14:12] BenJam commented on #4312
Looks like we might have a problem with google's domain registrar and virtual cards https://opencollective.freshdesk.com/a/tickets/21613

[2021-06-16 21:03] maanm0821 opened #4370 "[DOCS]新しい"
## Context

### What's changing?

### Why are we changing it?

### Who does this change impact?

### How do users use it?

### Is this change optional or mandatory?

### Is this change being released incrementally as a beta? What's the schedule?

### When will the project be ready for release/complete?

## Docs Process

### Overview

### Changes to be made

### Estimate of effort

[2021-06-16 21:04] SudharakaP commented on #4370
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-06-16 21:04] #4370 closed

[2021-06-17 01:36] shannondwray commented on #4257
@kaylarep @BenJam Just touching base about @alanna's comment above. I'm not too versed in these tax processes. Have these been added to the OCF and OSC docs? If so could we make a plan to action and then I can ensure these are linked out to. 😊

[2021-06-17 01:57] shannondwray commented on #4257
https://app.gitbook.com/@opencollective/s/help/financial-contributors/receipts

Currently in progress, aiming to add more screenshots just clarifying what I can do $$ wise to show these receipts  😊

[2021-06-17 10:41] alanna opened #4371 "Says no Wise balance but there is"
I'm trying to pay https://opencollective.com/event-in-tautahi-cd532492/expenses/42965

There is balance but it won't let me do it.

<img width="798" alt="Screen Shot 2021-06-17 at 10 39 48 PM" src="https://user-images.githubusercontent.com/5498878/122381484-19969680-cfbd-11eb-95e1-9b2053b91646.png">

[2021-06-17 10:43] alanna commented on #4365
I'm still unable to pay this. Can someone have a look? @znarf @kewitz

[2021-06-17 12:19] Memo-Es commented on #4240
### Feedback from slack

 Looking good! It’s such a big improvement.
- I think the key categories for fiscal hosts are location (currency is implied from this), fees, entity type (charity/nonprofit, company, co-op, etc) and services/focus area (likely tags, like open source, mutual aid, etc)
- In the screen where someone is selecting self-hosting, I don’t think there’s a big choice between Stripe

[2021-06-17 12:29] Memo-Es commented on #4256
Loved this 💙

[2021-06-17 12:46] #4353 closed

[2021-06-17 13:21] kewitz commented on #4365
Hi @alanna I found some weird errors on our logs and I think you should reach out to Wise's support.
I also notice that the payee is Open Source Foundation, so this might be related to the issue.

This is the actual error we're receiving from Wise's API:
[code]

[2021-06-17 21:15] FluxZA commented on #2856
I found this issue on your main page for "good first-issues". I would be happy to work on it if @alob-mtc is still working on #3450 .

[2021-06-17 21:20] alob-mtc commented on #2856
@fluxZa you are free to pick it up if that's fine by @Betree

[2021-06-17 23:14] shannondwray commented on #4334
Let me know when you've had a chance to complete those last steps @BenJam and I can ensure the information is carried over into the Open Collective Docs and then when the OSC docs are live we can delete those sections from the open collective docs :)

[2021-06-18 00:42] SudharakaP commented on #4243
@znarf : So, `opencollective-emails` and `opencollective-setup` works fine it seems with renovate; and I've fixed the CI issues of `opencollective-rest` at https://github.com/opencollective/opencollective-rest/pull/300. If there's no objections, I'll go ahead and add renovate to the rest of the repos. 😄

[2021-06-18 07:17] SudharakaP opened #4372 "Migrate `opencollective-rest` to GitHub Actions"
This is with regard to https://github.com/opencollective/opencollective-rest/pull/300#pullrequestreview-687071629

We are using CircleCI in the [opencollective-rest repo](https://github.com/opencollective/opencollective-rest). We should migrate to GitHub actions since all our repos are using GitHub actions currently. 😄

[2021-06-18 08:37] Betree opened #4373 "Embed contribution flow: make Header optional"
User feedback:

Making that opt-out with an URL parameter would be fairly simple, and it makes sense since the collective usually has its own branding already on the page.

[2021-06-18 08:50] Betree opened #4374 "API: Introduce a tagged template literal for SQL queries"
The way we indent our SQL queries in the API is currently inconsistent. There is this way, which has the benefit of creating smaller queries and not reflecting the code indentation in the query logs:

[code]

Then this 2nd approach, which has the benefit of being more readable, mainly by preserving the indentation of the rest of the code:
[code]

A potential solution to marry both worlds would be

[2021-06-18 09:31] znarf commented on #4374
Do you have something specific in mind? Is there something that can check our SQL is valid?

What would be superb is a prettier plugin for our SQL queries also. For now, I only found this https://github.com/benjie/prettier-plugin-pg but it's not ready according to the author.

[2021-06-18 10:19] alanna commented on #4371
@kewitz @znarf is this related to the other Wise issue?

[2021-06-18 11:08] Betree commented on #4374
https://www.npmjs.com/package/eslint-plugin-sql could be a start. It seems able to:
- Format queries
- Prevent injecting literals

[2021-06-18 13:07] jdaviescoates commented on #4168
We'd also really like to be able to add custom fields for our [UK host](https://opencollective.com/platform6-coop) for essentially the same reasons.

[2021-06-18 13:28] SudharakaP commented on #3095
@Betree : How can we test this. Now that we have a fix for this at, https://github.com/opencollective/opencollective-frontend/pull/6506 I think we could give this a test using that PR. However I don't have Safari. Maybe, @znarf if you have a mac? 😄

[2021-06-18 13:47] Betree commented on #3095
@SudharakaP We need to test with an old version of Safari, the simplest is to use https://www.lambdatest.com real-time

[2021-06-18 14:58] Upperholme commented on #4168
Probably hard to do securely and well, but for me the idea of open collective as plumbing/infrastructure works well in that I 'd prefer oot to have data spread across multiple systems. On our own site (Drupal/CiviCRM) a user can initiate a Stripe transaction and I capture that data into my CRM database, and Stripe tells my CRM that the payment has gone through. If I could inject OC into a similar

[2021-06-18 18:09] #4290 closed

[2021-06-19 00:46] nicolo-ribaudo commented on #2240
Hi! We just received an email from an Indian user asking us if it's possible to accept payments either via [UPI](https://en.wikipedia.org/wiki/Unified_Payments_Interface) (which seems to be used both by PayTm and PhonePe), or using [RuPay](https://en.wikipedia.org/wiki/RuPay) cards.

I'm writing it here just to leave a data point.

[2021-06-19 11:23] alanna commented on #4312
Fiscal hosts should be checking and approving card receipts. Right now people could upload any file as an attachment and we'd never catch it.

[2021-06-20 06:26] SudharakaP opened #4375 "Move to GitHub New Issue Config"
Minor improvement to move to the [new GitHub issue templates](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository) with the use of a `config.yml` file. This will ensure we can also specify some links in to our slack channel etc when the user click on creating a new issue. 🐨

Suggest adding,

- Issue tra

[2021-06-20 07:03] SudharakaP commented on #4375
This is complete. Let me know if you see anything else (such as other links) to be added to the `config.yml` file

[2021-06-21 06:57] Betree commented on #4375
@SudharakaP This is really cool! I just tried merging the one on the PDF service to see how it looks: https://github.com/opencollective/opencollective-pdf/issues/new/choose - it's pretty neat!

![image](https://user-images.githubusercontent.com/1556356/122719545-9bf9b180-d26e-11eb-977b-303de96aecc2.png)

I'm just a bit concerned that having a Slack link here could incentive people to report issues

[2021-06-21 07:48] Betree opened #4378 "GQLV2: Use singular for list arguments"
Arguments in GQLV2 should be singular by default. From @znarf's [feedback](https://github.com/opencollective/opencollective-api/pull/6152#discussion_r653519249):

So far there are at least 2 fields we should migrate: `kinds` (on TransactionsList) and `tags` on ExpensesList.

[2021-06-21 08:43] duongxuantuan opened #4379 "opencollective"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

[2021-06-21 09:46] Betree commented on #4379
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-06-21 09:46] #4379 closed

[2021-06-21 10:06] znarf commented on #4375
Looks good. I'm ok people complaining on Slack, it's not always a bad experience.

[2021-06-21 12:40] Betree opened #4380 "Collective page: show a section title above tiers when not first"
When Tiers (`CONTRIBUTE` section) are not the first item in their category, we currently don't display any section label. This is misleading because users could believe that they belong to another category. In the screenshot below, for example, they could be tricked into thinking they belong to "Connected Collectives".

I think we use to have something like "Financial contributions" in the past, w

[2021-06-21 12:59] Betree commented on #3236
I've removed all hooks from our systems, will proceed with removing the app in the next few days

[2021-06-21 12:59] SudharakaP commented on #4375
Thanks. I was wondering about it too, we could remove it; but I thought people might find it useful to be pointed to our Slack channel as well. Maybe we'll see how it goes and if too much activity on slack we can remove it. 🐨  😄

[2021-06-21 14:58] #4373 closed

[2021-06-21 15:30] BenJam commented on #4312
I'm going to start winding this up into something of a 'next steps' but we had one great bit of feedback in slack:

I dare say that this is generally a good thing to have for _any_ expense, rather than just virtual cards. In case we add any features in the future that allow folks to open an expense and add a receipt later.

[2021-06-21 15:47] kewitz commented on #4371
@alanna the issue here is related to the collective balance.
It is saying that the collective doesn't have enough money to cover the expense considering fees.

[2021-06-21 20:56] alanna commented on #4268
More feedback in this [slack thread](https://opencollective.slack.com/archives/CJ2ERRZQ8/p1624259485085100).

[2021-06-21 21:10] alanna commented on #4371
Ah crap.... I wonder how many years #1073 will be open until we fix it 😅

Can the error text be updated to say the Collective/Event/Fund name instead of "you" so it's more clear?

[2021-06-21 21:18] alanna commented on #4371
@kewitz I revised the expense down by $1 in anticipation of fees, and paid it. It went through. But then there was $1 left in the budget! So why did it block the expense for fees when no fees were charged?

[2021-06-21 21:23] alanna opened #4382 "System is treating sending Event funds to Collective as a Contribution"
There was an event with $1 left, so I clicked the button on the banner to send the funds to the parent Collective.

This triggered a notification and receipt as if this were a normal contribution.

![Screen Shot 2021-06-22 at 9 14 43 AM](https://user-images.githubusercontent.com/5498878/122829739-7e464e00-d33b-11eb-9cdc-d96e7f1b148e.png)

![Screen Shot 2021-06-22 at 9 16 16 AM](https://user-images

[2021-06-22 01:51] shannondwray commented on #4257
Sorted! https://docs.opencollective.com/help/financial-contributors/receipts Please let me know if anything else need to be added or changed :)

[2021-06-22 01:51] #4257 closed

[2021-06-22 03:50] alanna opened #4383 "Unable to query projects through the API"
*This query was sent directly to me from someone tinkering with the API, so I'm passing it on.*

I’ve been struggling a bit with the GraphQL required to get a list of projects that come under a given collective.

- I want to get the list of projects that come under a given collective (identified by ID or slug).
I have tried the following, but it tells me "Please provide a slug or an id” for the in

[2021-06-22 03:52] alanna commented on #4383
@znarf can you help?

[2021-06-22 06:08] SudharakaP opened #4384 "Add Search for Updates (by Collective, Title, Tags, ID, etc)"
Now that #3918 is completed we can proceed with adding search for updates. The Figma design for this is given at,

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=12788%3A154030

![Home](https://user-images.githubusercontent.com/12435965/122873259-655f7d80-d2e6-11eb-9cd8-7fca6272ef58.png)

[2021-06-22 06:54] Betree commented on #4382
So the list of fixes expected here are:
1. Don't send a "thank you" email when moving funds between a sub-collective (event/project) and its parent
2. In the frontend, hide the "Download receipt" button for internal transactions like that
3. When generating receipts for events, use the parent collective as the source of the info (for location, address, etc)
4. Don't create a `Members` (`BACKER`) e

[2021-06-22 07:00] Betree commented on #4383
The `slug` must be passed on the root `account` query:

[code]

But `projects` are not yet exposed on our public API; we need to make a change to make that possible.

[2021-06-22 07:03] Betree commented on #4384
I recommend looking at what was done in https://github.com/opencollective/opencollective-api/blob/99054d9b3121c191c42ec68402a9bc7e231303ff/server/graphql/v2/query/OrdersQuery.ts#L116 for inspiration, we used the same approach in `TransactionsQuery` and `ExpensesQuery`

[2021-06-22 07:12] Betree opened #4385 "Sign-in emails can take a long time to arrive"
Some users report that their sign-in emails are taking way too long to arrive (~30 minutes+). It's still unclear why this problem might occur (a misconfiguration of Mailgun? the reputation of our domain?) but we should start documenting these cases to better understand the pattern.

## Reports

- 2021-06-22 [on Slack](https://opencollective.slack.com/archives/C0HSLRNVC/p1624284533175100), ICloud

[2021-06-22 08:10] znarf commented on #4383
True, there is currently no way to access Events and Projects from their parent object.

[2021-06-22 12:57] SudharakaP commented on #3897
For this one the slightly changed new design is given at https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC-Design-Lab?node-id=10960%3A0. I'll reiterate on this to fix this bug, note that in the design we also have a new delete button. Since there pages are changing completely in https://github.com/opencollective/opencollective/issues/4299, I'll leave that for later if there's no objection as

[2021-06-22 13:23] Betree opened #4386 "Transactions kind filter responsiveness"
The text here should be truncated

![image](https://user-images.githubusercontent.com/1556356/122932039-b1a1d080-d36d-11eb-89c4-8b037da98c3a.png)

[2021-06-22 18:33] SudharakaP commented on #4351
@Betree : I am close this as per discussion in https://github.com/opencollective/opencollective-frontend/pull/6484 but feel free to let me know or re-open this if there's any other refactoring we could do. 😄

[2021-06-22 18:33] #4351 closed

[2021-06-22 20:59] buzzykiwi commented on #4383
Hi guys
I was the one who originally contacted Alanna with the question. A little background: we use Grants Management software called Fluxx, one of the major software systems available for grant making. I am doing a proof of concept of an integration between Fluxx and OpenCollective, so that grant applicants can indicate that they are using OC as Fiscal Sponsor and ideally provide a Project name/

[2021-06-22 23:28] SudharakaP commented on #4185
@Betree : I've added the support for this. There's some small stuff to do I think which I'll update as I go along.

- Tests needs to be added; I'll do this today or tomorrow. 😄

- I think we need to refactor the code in the front end; for example the class names I think should be changed to remove the dependency on comments as now the emojis are generic to both comments and updates. So maybe we re

[2021-06-23 06:33] SudharakaP opened #4387 "Addition of Emoji by Two Seperate Users"
**Describe the bug**

It seems that two users are adding and removing the same emoji we have some issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Login and go to conversations or updates for a collective.
2. Create a new update or conversation. If it's an update you can try with a update comment. If it's a conversation this will work with the conversation itself or the conversation c

[2021-06-23 06:49] Betree commented on #4387
Good catch, that might be related to the `optimisicResponse`.

[2021-06-23 06:50] Betree commented on #4185
Definitely, though I would rename it to `EmojiReactions` to keep it explicit.

[2021-06-23 10:03] BenJam opened #4388 "Adding funds to Funds should not write a debit to the transaction list"
I've done this a few times:

- Create a fund for an organisation
- Send an invoice
- Invoice is paid into OSC's account
- I add the funds to the Fund

This creates both a credit and a debit, because the source and destinations of the funds is the Fund itself. But, like organisations, we don't need the debit. As is we are manually removing the debit to ensure that the balance is non-zero and availa

[2021-06-23 10:04] BenJam opened #4389 "Converting an organisation into a Fund causes all manner of issues"
We officially launched funds in March https://blog.opencollective.com/funds-for-open-source/ and we've been gradually converting some of our larger corporate users' accounts into funds. But every time we do we manually run through a process that _sometimes_ goes a little awry.

We should build a process to do this that adds the necessary transactions to the ledger to ensure the resulting Fund has

[2021-06-23 12:31] kewitz opened #4390 "Virtual Cards: Implement Webhook Transaction Sync"
Add webhook handler for Privacy.com so we can process transactions in "real-time".
Notice that transactions can update through time, so we need to make sure we can use those events to update transactions that were already synced.

[2021-06-23 12:35] kewitz opened #4391 "Virtual Cards: Flag Expenses missing Receipt in Host Dashboard"
Add a visual cue to all charge expenses that are missing receipts in the Host dashboard.
IMO I don't think it is necessary to create a new state for expenses, only checking if the expense has an ExpenseItem is enough.

[2021-06-23 12:54] BenJam commented on #4282
Just summarising a conversation with @piamancini last week practical needs

- checking associations for a user when someone is emailing support
- finding a collective for a given user
- updating an email if the user has login problems
- deleting debit transactions
- looking up orders and associated transactions if someone hasn't seen money in their collective
- donations as an org, but meant to do

[2021-06-23 13:24] SudharakaP commented on #4243
@znarf : I will trigger the renovate PR and merge them for the following repos today if no objection; we will keep api and front-end for the last batch;

opencollective-pdf
opencollective-images
opencollective-bot
opencollective-changelog

[2021-06-23 14:23] SudharakaP commented on #4375
All of these are merged and seems to work fine, so I am closing this issue. 😄

[2021-06-23 14:23] #4375 closed

[2021-06-23 15:49] SudharakaP opened #4392 "Formatting Off in Standalone Tier Page"
We seem to have some formatting issue in our standalone tier page. This was initially raised in the slack thread; https://opencollective.slack.com/archives/G46PNRCGP/p1624447099027100.

<img width="1678" alt="Screenshot 2021-06-23 at 4 47 33 PM" src="https://user-images.githubusercontent.com/12435965/123128175-c62ea900-d3ff-11eb-9000-d2ede36da3ab.png">

Probably introduced due to the [`react-intl`

[2021-06-23 19:59] SudharakaP opened #4393 "Deprecate `CommentReactionMutations.js`"
After https://github.com/opencollective/opencollective/issues/4185 is completed and merged we need to remove `CommentReactionMutations.js`. This issue is opened to track that. 😄

[2021-06-23 19:59] SudharakaP commented on #4185
@Betree : I've changed my mind to rename the files in the same PR as it's not difficult, hope it's okay. I've added the tests and also made some refactoring both on front and api to make sure we rename the file names and get rid of references to strings such as `CommentReactions` to make it more generic with `EmojiReactions`. Take a look and let me know if you see any issues. 😄

Also I've opened a

[2021-06-23 21:51] #4355 closed

[2021-06-24 05:08] SudharakaP commented on #4243
@znarf : So as per our discussion on slack; https://opencollective.slack.com/archives/C0RMV6F8C/p1624367861147800, I've moved all the repos, except `opencollective-api` and `open-collective-frontend` to renovate. I re-based and merged some patch updates (especially the security ones) but kept everything other thing from dependabot as is. If no objections, when I have time, I will go through and op

[2021-06-24 06:40] #4386 closed

[2021-06-24 06:44] Betree commented on #4243
There's https://github.com/opencollective/opencollective-taxes/

[2021-06-24 06:48] Betree commented on #4243
@SudharakaP Some feedback for https://github.com/opencollective/opencollective-pdf: let's keep the same strategies that we have today, enabling auto-merge for this repo is dangerous because the tests don't cover everything and I personally think that a manual review is still important when updating dependencies (especially since this one has an auto-deploy). I don't mind spending a few minutes eac

[2021-06-24 07:19] Betree commented on #3411
The UX of the current version actually feels ok to me, adding this complexity might not be necessary. We can revisit if needed.

[2021-06-24 07:19] #3411 closed

[2021-06-24 07:30] Betree opened #4394 "Contribution flow: use a React context to manage state"
The contribution flow has a huge state, which stores:
- The contribution details (amount, interval, tip)
- The profile
- The payment method
- The taxes info

This state is currently stored in `contributio-flow/index.js` (the root component). The main issue with this approach is that passing down all the props is tedious and verbose. We could make the code clearer by storing this state in a dedicat

[2021-06-24 10:52] alanna opened #4395 "Long name overlapping on expense summary"
https://opencollective.com/bushwick-ayuda-mutua/expenses/40958

<img width="456" alt="Screen Shot 2021-06-24 at 10 52 04 PM" src="https://user-images.githubusercontent.com/5498878/123251041-dd27e500-d53e-11eb-8671-8f69e836ca7b.png">

[2021-06-24 12:11] #4395 closed

[2021-06-24 12:39] SudharakaP commented on #4243
Sure it makes perfect sense too. We will do it manually then. 😄

[2021-06-24 17:10] kewitz commented on #4371
@alanna sure, I'll fix the message to be more precise about what is going on with the balance.

Related to the block, you actually rounded it from $35.76 to $34.
There were $0.76 cents of payment processor fees resulting in $1.00 left.
![Screenshot from 2021-06-24 14-01-30](https://user-images.githubusercontent.com/2119706/123304084-e1c7ab80-d4f4-11eb-819b-fdff7e6a0861.png)

[2021-06-24 21:31] alanna opened #4396 "[PROJECT] integrate with accounting tools and practices via exports and reports"
## Overview
Open Collective does not desire to become a fully featured accounting platform (like QuickBooks or Xero), but our users, especially larger fiscal hosts with established financial processes, need to integrate Open Collective with their accounting operations. We also do not desire to do a deep technical integration (and want to enable users to choose their own accounting tooling, not onl

[2021-06-25 00:16] #4292 closed

[2021-06-25 00:16] #4307 closed

[2021-06-25 04:41] SudharakaP opened #4397 "Changelog CI Failures"
Our changelog CI has continual failures; https://github.com/opencollective/opencollective-changelog/actions. This happens when when the changelog is updated. The root cause seems to be that when we commit the changes,

https://github.com/opencollective/opencollective-changelog/blob/985bab76f6625d088f97a6ac4e18760f9364ba66/package.json#L19

we don't run prettier which creates a prettier error and t

[2021-06-25 05:00] SudharakaP commented on #4243
@Betree : FYI, I've made sure all the repos above don't have the dev dependencies fixed. Except for opencollective-bot where I had a small doubt; https://github.com/opencollective/opencollective-bot/pull/466. 😄

[2021-06-25 06:52] Betree opened #4398 "Stripe errors crash the contribution flow"
Sentry issue: https://sentry.io/organizations/open-collective/issues/2474656792

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/babel/donate
2. Try to pay with one of the cards from https://stripe.com/docs/testing#cards-responses (eg. `4000000000000002`)
3. See page crash (`Oops, an unexpected error seems to have occurred  🤕`)

**Expected behavior**
T

[2021-06-25 07:47] #4398 closed

[2021-06-25 07:52] #4100 closed

[2021-06-25 12:34] #4392 closed

[2021-06-25 12:35] #4397 closed

[2021-06-25 12:56] jfdh commented on #4327
Hi @kewitz,

Is there anything I could do for you to facilitate the implementation of Bancontact/Payconiq into the payout flow of open collective? Happy to have a look at the documentation if needed to make this happen.

Thanks!

[2021-06-25 18:19] SudharakaP commented on #4362
After the above PR is merged we do see the decline code, but it wasn't very helpful in this case; 🤔

[code]
So in this case as per stripe document;

[code]

Can we do this? I think maybe we are doing payment which might be hitting some blocks/limits. 🤔

[2021-06-25 19:01] mgrachev commented on #3956
My banner doesn't work too https://opencollective.com/dotenv-linter/contributors.svg?width=890
It doesn't update. I always see 44 contributors in my project, although their number has already exceeded 70.

[2021-06-25 19:32] SudharakaP commented on #4243
If no objection, I'll be creating a config file within our [`.github` repo](https://github.com/opencollective/.github) for renovatebot so that the configuration is in one central location. We can extend it for individual repos. This is as per the discussion here; https://github.com/renovatebot/renovate/discussions/10609#discussioncomment-921519.

[2021-06-25 23:26] tienne-B opened #4400 "Customise colours on types of contribution"
## User story
As a collective admin, I'd want different types of contribution to have different colours on their banners in order to draw attention to specific contributions.

## Best solution for this problem
In the tier settings, add a field for the banner colour of each tier. The field could be the same colour-picker as for the collective's scheme.

## MVP
Opt-in feature?

## Metrics
* Number o

[2021-06-26 17:10] SudharakaP commented on #4243
@znarf @Betree : So the renovate configuration for all repos except `opencollective-frontend` and `opencollective-api` is complete and seems to be working fine. Also note that I've created a repo; https://github.com/opencollective/renovate-config to store the shareable renovate presets. So all renovate presets that should be globally applied should be defined there. 😄

@znarf : Can you confirm on

[2021-06-27 23:25] alinamanko opened #4401 "2FA on expenses authorization misbehaves"
**Describe the bug**
When trying to process an expense for payment (sending money to a user's bank account), the host admin receives a notification of 2FA being required but without the option to input the information. The admin needs to press the Go to Pay button again to be able to access the input window. This is a functionality that has changed as previously, you could input the code bellow th

[2021-06-28 03:53] alinamanko opened #4402 "Balance checks for virtual cards"
## User story
With the introduction of virtual cards, we need to see how we implement controls to avoid situations where the card is charged when the collective balance is below the transaction amount.

We identified this situation through Mautic experience, as charges went through [the main collective page](https://opencollective.com/mautic) as a default rather than the associated [event page.](h

[2021-06-28 07:08] Betree commented on #4400
This could be resolved by https://github.com/opencollective/opencollective/issues/2121, which plan on letting users upload their own images on these contribute cards.

[2021-06-28 13:12] BenJam commented on #4312
okay just to wind this up, I think before we push this out to more collectives we need to:

- stop collectives that have not been accepted requesting a card
- stop collectives without a balance requesting a card
- show the number of cards that are already allocated when allocating a new card
- add messaging re. billing details,
- pausing all cards once the balance goes to zero

nice to haves would

[2021-06-28 13:21] xdamman opened #4403 "CSS error prevents to use the action menu on the host page"
Using Safari 14.1.1 (16611.2.7.1.4) on MacOS BigSur 11.4

![Screen Shot 2021-06-28 at 3 20 14 PM](https://user-images.githubusercontent.com/74358/123643157-66336a80-d824-11eb-94ff-238a0480efdc.png)

[2021-06-28 14:44] #4185 closed

[2021-06-28 14:49] #4314 closed

[2021-06-28 15:12] Betree commented on #4344
Resolved in https://github.com/opencollective/opencollective-api/pull/6156

[2021-06-28 15:12] #4344 closed

[2021-06-28 22:27] SudharakaP opened #4404 "Change Positioning of the Notification Icon in Navbar"
We have to change the positioning of the notification icon in the navbar to the opposite side of the Avatar and remove the username of the user according to the new design.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=12788%3A152534

![image](https://user-images.githubusercontent.com/12435965/123710525-c675dc80-d823-11eb-91e3-a77a110ca871.pn

[2021-06-28 22:28] SudharakaP commented on #4404
@Betree : Let me know if you agree with the proposed approach for this. Thanks. 🤔 🐨

[2021-06-29 06:23] Betree commented on #4404
Looks good to me

[2021-06-29 09:01] Betree commented on #4124
We're mostly there :rocket: Release is planned for 1st of July.

# Still to do

Tackle last items from #4332 / #4333:
- [ ] Hide host fee share (and their debts) in all CSVs @Betree
- [ ] Put host fee in columns for collective report CSV @Betree
- [ ] Put host fee in columns for host report CSV @Betree
- [ ] Hide host fee (+ shares) in email transactions list @Betree
- [ ] Add host fee share debt

[2021-06-29 13:36] #4345 closed

[2021-06-29 20:43] dodgepong commented on #4310
Something that might be nice is the ability to "test" projects in a sort of unpublished state so that people can experiment with them and format them before they go "live". I have several questions about how projects work but I can't answer them myself because I have no way to test how they work without putting an actual project on our page.

* When projects are archived, are they hidden? Or do th

[2021-06-30 00:09] alanna opened #4406 "Default to Updates being on for Events"
We've had some support requests from people who can't work out how to email event attendees, and the issue is that Updates is set to `disabled` in their settings. I think this should default to being enabled, because emailing attendees is a very common task. If people don't want to use it they can turn it off.

[2021-06-30 04:34] SudharakaP opened #4407 "Add ToolTip for Changelog Notification Icon"
This is a small thing that we've missed in https://github.com/opencollective/opencollective/issues/4345. The user should see a tool-tip when hovering over the notification icon;

![Desktop](https://user-images.githubusercontent.com/12435965/123902520-d7a51300-d921-11eb-8ae2-631bca78f38a.png)

[2021-06-30 04:39] SudharakaP opened #4408 "Changelog Notification Icon: Sync with Designs for Smaller Screens"
We need to add support to show the notification icon a bit differently for smaller screen sizes as shown in the below screenshot. 🐨 😄

![Mobile](https://user-images.githubusercontent.com/12435965/123902874-792c6480-d922-11eb-8891-2da83491b745.png)

Figma Designs: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=12891%3A234087

Related to https://

[2021-06-30 06:02] snitin315 commented on #4407
I will take it.

[2021-06-30 06:39] Betree commented on #4406
Unless I'm missing something, it seems that this is already the case. I just tried creating a new event, and the Updates section was activated by default.

[2021-06-30 07:52] alanna commented on #4406
Hmmm! That's odd because the user I was just supporting didn't turn it off
that she knew of, but she was stuck because it was turned off.

[2021-06-30 07:53] #4343 closed

[2021-06-30 09:09] Betree commented on #4406
When was the event created? This change only occurred 3 months ago (https://github.com/opencollective/opencollective/issues/4122) around the 15th of April. If the event was created before that, it's possible that it used the old default.

[2021-06-30 10:36] alanna commented on #4406
It's this one:
https://opencollective.com/the-connectorship-project/events/do-good-jobs-x-the-connectorship-project-7ff21cc4

[2021-06-30 11:07] alanna opened #4409 "Clicking through on invited expense again leads to odd state"
If you are invited to submit an expense, go through that process, and then later want to go check on the expense, users sometimes go back to their email and click the link again. If they do, you end up at this odd state with the expense details and the edit button missing, and part of the form showing.

<img width="780" alt="Screen Shot 2021-06-30 at 11 07 46 PM" src="https://user-images.githubuse

[2021-06-30 11:16] ersachin3112 commented on #4380
I will work on it.

[2021-06-30 12:52] SudharakaP commented on #4407
Thanks @snitin315 👍🏽

[2021-06-30 13:41] #4261 closed

[2021-06-30 13:49] #4404 closed

[2021-06-30 14:01] #4391 closed

[2021-06-30 16:05] BenJam commented on #4280
pulled together a little dashboard for events showing what I think looks like events are starting to go up in usage again: https://opencollective-metabase.herokuapp.com/dashboard/58

[2021-06-30 16:42] kewitz commented on #4293
I just marked pending tokens as deleted and will keep an eye in the support requests related to this.

[2021-06-30 16:42] #4293 closed

[2021-06-30 23:04] #4371 closed

[2021-06-30 23:05] #4365 closed

[2021-06-30 23:09] #4075 closed

[2021-07-01 03:08] alanna opened #4410 "Can't send event update despite being admin"
I am an admin of the parent Collective, but when I try to send an update on an event it says I can't because I'm not an admin? I am logged in.

<img width="1264" alt="Screen Shot 2021-07-01 at 3 07 16 PM" src="https://user-images.githubusercontent.com/5498878/124058771-210a7500-da7e-11eb-9190-57293b605437.png">

event: https://opencollective.com/ehf-wellington-meet-up-pizza-at-mevo-068b2b5f

[2021-07-01 03:13] alanna commented on #4410
I thought it might be because the event was past, so I tried creating a new event on staging - same issue. Can't create an Update.

[2021-07-01 03:16] alanna opened #4411 "Event Update going only to core contributors, not all attendees"
<img width="465" alt="Screen Shot 2021-07-01 at 3 14 32 PM" src="https://user-images.githubusercontent.com/5498878/124059383-1e5c4f80-da7f-11eb-86ce-60b6ad164b7f.png">

The organizer of [this event](https://opencollective.com/the-connectorship-project/events/do-good-jobs-x-the-connectorship-project-7ff21cc4) is trying to send an update, but it's only giving her the option to send it to core contri

[2021-07-01 03:23] alanna opened #4412 "Create Update button missing on Event Updates page"
If you go to a Collective's Update page (/collective/updates) it looks like this:

<img width="1264" alt="Screen Shot 2021-07-01 at 3 19 30 PM" src="https://user-images.githubusercontent.com/5498878/124059818-dab61580-da7f-11eb-93f9-4cccec45220e.png">

You can click the button to create an update.

But for an event, if you hover over Connect and click Updates, you see this:

<img width="1260" alt=

[2021-07-01 03:31] alanna opened #4413 "Nav bar items sometimes go missing on Event"
So far I have only seen this on Events and it seems to be working normally on Collectives.

Main Event page nav bar:

<img width="948" alt="Screen Shot 2021-07-01 at 3 25 34 PM" src="https://user-images.githubusercontent.com/5498878/124060184-99723580-da80-11eb-8a20-a916994520f5.png">

Nav bar when on /contribute page (Connect is there):

<img width="817" alt="Screen Shot 2021-07-01 at 3 26 26 PM"

[2021-07-01 06:43] Betree commented on #4410
Probably introduced in https://github.com/opencollective/opencollective-frontend/pull/6537

[2021-07-01 06:44] #4361 closed

[2021-07-01 06:52] Betree opened #4414 "Hide platform tips on Open Collective's budget"
As per https://github.com/opencollective/opencollective-frontend/pull/6558#discussion_r661785266:

Achieving this requires updating the cache for this query on the API.

[2021-07-01 06:52] Betree commented on #4414
@znarf I don't especially agree with this proposal: I think it's nice for contributors to see their tips if they go to Open Collective's profile. After that, if anyone needs to have a different look at Open Collective's accountability the right place to go is the transactions page.

[2021-07-01 07:20] Betree commented on #4406
The section looks enabled in their settings; it should therefore be visible for any logged-in admin.

[2021-07-01 07:39] Betree commented on #4245
We're not the only ones impacted: https://forum.sentry.io/t/unhandledrejection-non-error-promise-rejection-captured-with-value/14062/17. Might be solved in an upcoming Sentry release.

[2021-07-01 07:52] #4410 closed

[2021-07-01 07:52] #4412 closed

[2021-07-01 09:59] alanna commented on #4406
OK I guess it was a fluke

[2021-07-01 09:59] #4406 closed

[2021-07-01 10:27] BenJam commented on #3340
just to pick up on this,

I note that in the instance where we have a user operating under a pseudonym we often have their details in the user table. So I wonder whether we can show real user data on dahsboards for hosts and pseduonyms elsewhere.

[2021-07-01 11:28] Betree opened #4415 "Move platform report email to metabase"
As discussed in April's platform report email thread, we want to move the report to Metabase to make it easier to review and maintain. A good part of the information exposed there might actually already be available in the revenue dashboard.

[2021-07-01 11:42] Betree commented on #4403
I published a hotfix in https://github.com/opencollective/opencollective-frontend/pull/6560 to disable the sticky navbar on Safari. It's not the best solution, but it at least makes sure we keep this menu accessible. Regarding the next steps, we should either:
1. Fix the `sticky` + `position: absolute` behavior on Safari, which might be done through setting some `position: relative;` / `overflow:

[2021-07-01 11:47] Betree commented on #3983
This is the template Xero provides for importing data into their system: [BankStatementImportTemplate.csv](https://github.com/opencollective/opencollective/files/6747825/BankStatementImportTemplate.csv). It could be interesting to check other platforms too when we'll write the specs for the revamped CSV exports.

[2021-07-01 12:29] BenJam commented on #4282
I'm going to close this out as I feel confident that I can answer most of the questions above now within minimal support. Loom video series for folks looking to use metabase over at https://www.loom.com/team-videos/Metabase

[2021-07-01 12:29] #4282 closed

[2021-07-01 13:03] znarf commented on #4414
@Betree Ok, I'm good with the current state then!

[2021-07-01 13:35] SudharakaP commented on #4362
@znarf @Betree : So just to clarify this has been discussed at, https://opencollective.slack.com/archives/G46PNRCGP/p1624645315089800 and François provided some screenshots from the Privacy.com side about the transaction that was declined.

<img width="556" alt="Screenshot 2021-06-25 at 21 44 00" src="https://user-images.githubusercontent.com/12435965/124132460-b2092e00-da35-11eb-8778-ad5996fa20ee

[2021-07-01 13:44] Betree commented on #4362
Indeed. The strange thing is that my contribution to OC Paris is still going through, even though it's using the same card.

Maybe they introduced this single vendor limitation later, and did not enforce it for vendors used by existing cards?

[2021-07-01 13:48] Betree commented on #4410
Fix deployed

[2021-07-01 15:29] BenJam commented on #4402
++ I have mentioned this over in the sprint planning discussion: https://github.com/opencollective/opencollective/discussions/4405#discussioncomment-938205

[2021-07-01 16:14] BenJam commented on #4329
sorry not sorry but: @znarf did you get anywhere with this?

[2021-07-01 16:15] BenJam commented on #3981
I think there's a more general story here about transferring money between 'collectives' (actual collectives, events and now projects) that needs to be better supported.

[2021-07-01 16:24] BenJam commented on #4360
the connections are there, collectives with a parent collective are what you're looking for: https://opencollective-metabase.herokuapp.com/question/350

[2021-07-01 22:47] alanna commented on #4360
It's helpful that we can get to the data @BenJam but this is really about how the data shows up in CSV exports and in-app reports and screens, because that's what's used for accounting and grant reporting back t funders, etc. We have to make sure the user-facing data is handled correctly because the data is used for official purposes and we can't give a metabase dashboard to every Collective and H

[2021-07-01 22:59] alanna commented on #3983
I have got connected to an organization who recently built a quickbooks integration for their open source software, and I'm seeing if I can connect the dev who built that to one of our devs to get some more info.

[2021-07-02 01:48] alanna opened #4416 "Event attendees not receiving email notification of update"
The organizers of [this event](https://opencollective.com/do-good-jobs-x-the-connectorship-project-7ff21cc4/updates/tuesday-6th-event-reminder-do-good-jobs-x-the-connectorship-project) need to email all attendees, but many of them registered as guests and now the system doesn't have their email. It's pretty common for events to need to be able to contact all attendees. We need to give organizers c

[2021-07-02 01:54] alanna commented on #4416
Hmmm I was wrong, even if they registered as guests it should have collected their email. So why are these attendees not receiving the email notification of the update?

[2021-07-02 06:47] Betree commented on #4416
It's strange, all these people got registered as `BACKER` rather than `ATTENDEE`.

However, looking at Mailgun's logs, it looks that the number of emails and the addresses they were sent to match what we expect. To better investigate, I would need an example of an email that did not get the notification where it should have.

[2021-07-02 06:59] Betree opened #4417 "Event members registered as `BACKER` instead of `ATTENDEES`"
**Describe the bug**
We spotted an inconsistency in the way the attendees for https://opencollective.com/do-good-jobs-x-the-connectorship-project-7ff21cc4/updates/tuesday-6th-event-reminder-do-good-jobs-x-the-connectorship-project were registered: all of them have the `BACKER` role while they contributed to `TICKET` tier on an event; they should thus have the `ATTENDEE` role.

Most of them are gue

[2021-07-02 09:38] Betree commented on #4414
Alright, closing for now. We can re-discuss that later if needed

[2021-07-02 09:38] #4414 closed

[2021-07-02 10:02] BenJam commented on #4327
status update on the above:

We have support for Alipay working, but Stripe have had to stop supporting that service for us because AliPay have a policy problem with us...

[2021-07-02 10:03] BenJam commented on #4327
@kewitz is there anything left to do other than the policy issue? and how much effort might it be to roll out support for apple, google and amazon digital wallets?

[2021-07-02 10:47] leena4c commented on #3266
Hi!
opening up this issue again: I have at this moment 4 pages of pending 'bank transfer' financial contributions registered on OC that didn't come through. A simple message might get the funds to the collectives. Is there no way to add a feature to quickly send a reminder? 🙏🏽

[2021-07-02 12:36] BenJam commented on #4291
looks like this is all working, with DOCS! https://docs.opencollective.com/help/fiscal-hosts/payouts/payouts-with-transferwise#paying-expenses

Thanks for powering through @kewitz 🙌

[2021-07-02 12:36] #4291 closed

[2021-07-02 14:55] BenJam commented on #4200
dont worry @SudharakaP I assigned as we were talking through prioritisation

[2021-07-02 15:01] Betree commented on #3266
Just a note on this: there is an automatic reminder already in place to ask contributors to honor their pledges; it's currently set to 4 days after the contribution, but maybe we could also send more emails two weeks after, a month after, etc. And add a call to action to cancel your pending order if you're not interested in contributing anymore.

There is currently no way for host admins to contac

[2021-07-02 15:02] clara98Rega opened #4418 "Issues back"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-02 15:22] Betree commented on #4418
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-07-02 15:22] #4418 closed

[2021-07-02 18:25] t-900-a commented on #4200
I recommend taking a look at Globee.

They should be able to accommodate your use case and have an account manager assigned. ( however I'm not affiliated with them and you should reach out)

They support 9 cryptocurrencies including stablecoins (on ETH), bitcoin (on lightning), and Monero.

Remaining open to other crypto's including Monero will help you compete against competitors i.e. https://ope

[2021-07-02 21:00] DataDrake opened #4420 "Estimated Annual Budget isn't calculated correctly"
**Describe the bug**
There seems to be an issue where the Estimated Annual Budget for a Collective isn't being calculated correctly. The "Monthly recurring" total reported in the tooltip for "Estimated Annual Budget" in the Budget section of the Collective page is greater than 1/12th of the total reported in the text for "Estimated Annual Budget". "Monthly recurring" appears to be correct based on

[2021-07-02 21:32] SudharakaP opened #4421 "Changelog Notification Appearing Multiple times On Staging"
This is an insidious bug that I only noticed in staging environment. The discussion about this on slack could be found at, https://opencollective.slack.com/archives/C024M464XEV/p1625150024010500. 😄

The problem is that when the user clicks on the change-log notification icon the icon will turn grey (as expected) but once they refresh the page the icon appears again. Screenshot given below. 😄

![no

[2021-07-02 21:39] SudharakaP commented on #4421
This is coming from the comparison we do at, https://github.com/opencollective/opencollective-api/blob/caab57e0496b62bc7575b48a2f4584b42c560b0d/server/graphql/common/user.ts#L90

When printing out he logs on staging for these dates it was observed that;

[code]
The first date is for `latestChangelogUpdatePublishDate` whereas the second is for `user?.changelogViewDate`.  The two returns different f

[2021-07-04 14:07] SudharakaP opened #4422 "Pledges - Open for All Websites"
I had this little problem when recently I wanted to create a pledge (https://opencollective.com/pledges/new?), but our pledges page blocks the creation of a pledge if there's no GitHub URL. Also I think it needs to be a org or repo with 100 stars. I was wondering whats the reason for this limitation? The project I wanted to create a pledge doesn't have GitHub. Ideally, can't we just simply ask for

[2021-07-05 03:30] alanna commented on #3778
@Memo-Es OCF is in the process of clarifying our grants policy. We are likely going to attempt to manage grants using a Google form at first, then think about what needs to be built into the platform. We're exploring the idea of using Projects to house grant so we can break payouts down into individual grant expenses, instead of paying out lump sums as in this design. So let's hold off any impleme

[2021-07-05 03:54] shannondwray commented on #4317
@Memo-Es Would you be able to have a look through this when you have time? You have been tagged in a few of the points

[2021-07-05 06:48] Betree commented on #4422
I think there were two main goals with this limitation:
1. Apply OSC's conditions: The pledges flow is currently dedicated to collectives who should be hosted by OSC, and having a repo with 100 stars is a prerequisite to be automatically approved by them. There are other solutions when applying manually, but the idea is that a project needs to gain some popularity before it can be hosted.
In the p

[2021-07-05 08:21] Betree opened #4423 "Link to manage recurring contributions is wrong for guest contributors"
**Describe the bug**
In the "thank you" emails (and probably others) we send a link to edit your recurring contributions created like this:

It's problematic for guests, because their `slug` changes as soon as they sign in. So they end up on a "Not Found" page, with an URL like `/guest-x5df6df/recurring-contributions`.

**Expected behavior**
I think the simplest fix for guests would be to link dir

[2021-07-05 09:23] Betree opened #4424 "Transactions period filter: improve behavior for "End Date""
In the transactions period filter (but this might be true for expenses/order filter too), if you pick the same day for Start Date / End Date, you will usually end up with no results. This is because the filter translates this query to:

While `endDate` should really be `2021-06-01 23:59:59`, to make sure we include the transactions happening during the day.

![image](https://user-images.githubuser

[2021-07-05 10:44] Betree opened #4425 "Double email notifications for expense comments"
Using my personal account, I found occurrences for this issue from September 2019, so it's probably an old one.

That might be related to having multiple memberships (i.e. one to the host, and another to the collective).

[2021-07-05 14:59] SudharakaP commented on #4422
@Betree : Thanks much for the explanations. Makes sense. 🤔 😄

[2021-07-05 14:59] #4422 closed

[2021-07-05 15:01] #4384 closed

[2021-07-05 15:25] Betree opened #4426 "[PROJECT] Revamp CSV reports"
## Overview
Initially proposed in https://github.com/opencollective/opencollective/discussions/4405#discussioncomment-942132

As part of what was mentioned in #4124, we think it's a good time to review the CSV reports that haven't really been refactored in years, both to clean the code and to surface the new information that we have. What we want to achieve:
- Surface host fee share
- Merge the co

[2021-07-05 15:30] Betree opened #4427 "Ledger: review revenue dashboards"
With the latest ledger refactors, we need to update the revenue dashboards on Metabase to make sure they make sense:
- [ ] Review accountants reports
- [ ] Review revenue metrics

[2021-07-05 15:31] Betree commented on #4124
All done. The remaining issues have been extracted to https://github.com/opencollective/opencollective/issues/4426 + https://github.com/opencollective/opencollective/issues/4427

[2021-07-05 15:31] #4124 closed

[2021-07-05 21:23] alanna opened #4428 "No transactions showing when there are transactions"
https://opencollective.com/focused-collaboration

Shows income and expenses:

![Screen Shot 2021-07-06 at 9 22 31 AM](https://user-images.githubusercontent.com/5498878/124518881-cab18380-de3b-11eb-8726-ee50d7fead8b.png)

But the transactions tab is blank

![Screen Shot 2021-07-06 at 9 22 37 AM](https://user-images.githubusercontent.com/5498878/124518891-d13ffb00-de3b-11eb-8b3a-13253ad342b5.png)

[2021-07-06 01:52] SudharakaP commented on #4313
@Betree : Finished the remainder of the Storybook migration. Let me know if you see any issues; I think we should be good to deploy hopefully. 😄

[2021-07-06 06:55] Betree commented on #4428
Looking at https://opencollective.com/focused-collaboration/transactions, I don't see any transactions not related to expenses.

So technically, this is expected: the "Expenses" tab contains all budget items related to expenses (including the pending ones) while "Transactions" includes all the transactions not related to expenses. Repeating the expense transactions in that tab would break the bene

[2021-07-06 07:08] Betree commented on #4413
Things got a bit improved in https://github.com/opencollective/opencollective-frontend/pull/6537 regarding consistency, but this bug still exists for the "About" section.

The simplest and most consistent fix I can think of would be to add an entry in `Features` like  `LONG_DESCRIPTION` and add this new field to the `NavBarFields` fragment.

[2021-07-06 12:19] alanna commented on #4428
But how does the collective have any money if there have been no
transactions? The money had to get there through some transaction.

[2021-07-06 13:00] Betree commented on #4428
Actually, I wrongly interpreted the last entry which is money coming from an expense **but** with the collective being the payee. You are right that it would make sense to have this in the "Transactions" tab. @znarf actually reported something similar in https://opencollective.slack.com/archives/G46PNRCGP/p1622638987031300?thread_ts=1622628805.028300&cid=G46PNRCGP, but we forgot to track it in an

[2021-07-06 13:34] Betree commented on #4200
Based on https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13104%3A204710, @SudharakaP will propose some base specs and a kick-off date for this project.

[2021-07-06 14:25] Betree opened #4429 "Allow host admins to delete manually created transactions"
*This was listed in https://github.com/opencollective/opencollective/issues/1851#issue-424639035*

## User story

We often get support requests where we need to do that manually.

## MVP
We obviously need to define some criteria to allow that. For the initial version, I propose to limit it to:
- Transactions that have the `ADDED_FUNDS` kind
- That are not older than 1 month
- That are neither `INV

[2021-07-06 15:14] SudharakaP opened #4430 "Change Changelog Modal Icon and Title"
There were some minor changes to design for the changelog modal where the title and the header icon was changed. 😄

![image](https://user-images.githubusercontent.com/12435965/124624806-152e0280-de32-11eb-83af-22ead598f05e.png)

Figma File: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=12884%3A174354

[2021-07-06 18:28] #4421 closed

[2021-07-06 19:55] SudharakaP commented on #4200
@Betree : Thanks. I've created a project board here; https://github.com/opencollective/opencollective/projects/61 based on what I could gather from this issue. Let us plan the kickoff meeting soon to discuss more on this so that we could get this underway. 😄

cc: @kewitz

[2021-07-06 20:31] kewitz commented on #4200
@SudharakaP I suggest getting access to the documentation first so we can spec a possible solution. After that we can schedule the kickoff meeting.

[2021-07-06 21:01] alanna opened #4431 "Budget not adding up"
https://opencollective.com/study-into-action/projects/artcoop

It shows $6000 coming in, $174.30 payment processor fee, $300 disbursed,$5,525.70 balance and $5,825.70 total raised.

* Total raised should be $6000
* There have been zero expenses and no other transactions. Where is the $300 disbursed coming from?
* What happened to host fees?

![Screen Shot 2021-07-07 at 8 58 44 AM](https://user-ima

[2021-07-06 21:01] SudharakaP commented on #4200
@kewitz : I couldn't find any documentation about the widget that the Giving Block have, if you are okay we'll schedule a call/demo with them to progress further on this. 🤔

[2021-07-06 21:19] alanna commented on #4360
Hey is this going to be prioritised this sprint? It keeps causing problems. Is it considered part of ledger refactoring? @Betree @piamancini

[2021-07-07 00:30] kaylarep opened #4432 "If a hosting applicant changes the url before being accepted/rejected, the application disappears from the host's dashboard"
**Describe the bug**
When an application comes in, we can find it in our dashboard's 'Pending application' tab (OCF as an example: https://opencollective.com/foundation/dashboard/pending-applications#application-155899).

However, if an applying group changes their URL before being accepted/rejected, it disappears from the dashboard.  The group's application still exists as a pending application t

[2021-07-07 04:24] SudharakaP commented on #4200
Based on my investigation and chat with Leo today here are some things we need to clarify before moving forward with this project;

- There doesn't seem to be any documentation about the embed widget in the Giving Block website. We need to find some sort of documentation on this. 😄 🐨

- Take a look at an example widget; http://actionforsolidarity.org/donate/ (click on the `Donate Cryptocurrency` o

[2021-07-07 06:50] Betree commented on #4360
It's not part of the ledger refactoring project (https://github.com/opencollective/opencollective/issues/4124), which is currently closed and marked as done.

[2021-07-07 07:10] Betree commented on #4432
I tried to reproduce without luck. Here are the steps I followed:
- Create a collective with URL: `/abcde`
- Apply to host with this collective
- Confirms that the application is there on `/my-host/dashboard/pending-applications`
- Change collective slug to move URL from `/abcde` to `/fghij`
- Confirms that the application is still there on `/my-host/dashboard/pending-applications`

@kaylarep I ma

[2021-07-07 07:58] Betree commented on #4431
This is related to the recent ledger refactor.
- Payment processor (stripe) fee was $174.30, this number is correct
- Host fee is $300 (5% x $6000). This should be displayed in the transaction details, I need to investigate why it's not in this case
- The `Total disbursed: $300` metric is wrong: we should not count fees as disbursed money
- The balance is right: $3000 - $174.30 - $300 = $5525.70

[2021-07-07 09:28] Betree opened #4433 "Make Transactions.isDebt non-nullable"
It's tedious that we have to do `IS NOT TRUE` rather than `= FALSE` everywhere, and null doesn't bring any value here.

[2021-07-07 12:58] #4407 closed

[2021-07-07 13:34] SudharakaP opened #4434 "Make Sure the ToolTip Stays Closed - Changelog Updates"
Currently when a user sees the new changelog notifications a yellow tooltip appears. The user is able to close this tooltip but navigating to a separate page makes the tool-tip re-appear. We need a way to hide this tooltip once the user closes it.

![Peek 2021-07-07 09-05](https://user-images.githubusercontent.com/12435965/124768105-3e5f9900-deed-11eb-856c-492525da696c.gif)

Relevant Slack Discuss

[2021-07-07 13:40] SudharakaP opened #4435 "Make Sure the New Changelog Updates Notification is Not Shown to Newly Registered Users"
Currently all users will see the new change-log updates notification even if they are newly registered. We probably should disable this notification for newly registered users since they already have lots of thing to discover in the platform anyways.

**Suggested Solution:** Add a default value for the `changelogViewDate` column in the `Users` table and set it to current date and time which the ne

[2021-07-07 13:41] #4408 closed

[2021-07-07 17:22] SudharakaP commented on #4098
@Betree : Some things I thought about when starting to work on this feature since the initial specs have been changed I think with the new design/requirements; here are the new technical specs for this one. Let me know if you agree. 😄 🐨

- [ ] Add a column, `coverImage` to the `Updates` table to store the cover image.

- [ ] Add a `Dropzone` component below the update rich text editor for the user

[2021-07-07 22:29] kaylarep commented on #4432
hm ok, so maybe it's not just the URL change that causes this to happen. Did you also try changing the name of the collective @Betree ?

@alinamanko do you have any idea about other reasons that may cause this bug?

[2021-07-07 22:33] kaylarep commented on #4432
@Betree yes that might be it...it's just happened again! [Here's ](https://opencollective.freshdesk.com/a/tickets/25889)the original application, and if you click their URL, it says 'not found', but then if I search it, it comes up (with a new name & new URL)

[2021-07-08 00:37] alinamanko opened #4436 "Support Metrics Report June 2021"
### Support Metrics Report June 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![capture](https://user-images.githubusercontent.com/57156267/124844080-78ad6100-dfe7-11eb-804a-17379f72202d.png)

The number of tickets received increased by 24% from 1,172 in May to 1,452 in June.

[2021-07-08 01:56] alanna opened #4437 "Mark event attendees as attended or not after the event"
## User story
As an event organizer, I want to be able to track who actually turned up to the event out of those who registered, and be able to send an Update just to those who were actually there.

Now that we don't give event organizers a way to download all attendee emails, organizers need a way to differentiate who actually attended to direct Updates accordingly.

## Best solution for this pro

[2021-07-08 10:58] ersachin3112 commented on #4424
I will take it.

[2021-07-08 12:49] Betree opened #4438 "Re-think transaction details"
We're progressively moving toward a model where things are recorded as separate transactions, rather than in columns. For example, a contribution made today can have:
- 1 transaction pair for the **contribution** from the **user** to the **collective**
- 1 transaction pair for the **tip** from the **user** to **open collective**
- 1 transaction pair to represent the **host fee** from the *collecti

[2021-07-08 12:49] Betree commented on #4431
I've fixed the total disbursed metrics.

The host fee is still not displayed in the transaction details, and that's because it is now a separate transaction. The proper way to look at it is by using the `kind` filter on the transactions page, I just recorded a demo to explain how to do that: https://www.loom.com/share/d3c3f6c28d354c948b52ca9b6d75d475. I started https://github.com/opencollective/op

[2021-07-08 12:50] #4431 closed

[2021-07-08 13:43] #4434 closed

[2021-07-08 14:06] Betree commented on #4383
Unfortunately, we're under limited capacity with the summer holidays and other priorities really need to be addressed during this period. Because it's a simple project, I hope we'll have the ability to prioritize it soon!

[2021-07-08 14:29] snitin315 commented on #4169
I will take it.

[2021-07-08 20:43] SudharakaP opened #4439 "[PROJECT] Remove Express Custom Server and Move to NextJS Default Server"
## Overview

This is to discuss and scope the migration from the [Express server](http://expressjs.com/) that we currently use in the front-end to the NextJS default server.

**Benefits**

- Server-less Functions: Pages that use SSR and API routes will automatically become serverless functions; As per NextJS documentation,

- [Automatic Static Optimization](https://nextjs.org/docs/advanced-feature

[2021-07-09 02:07] alanna commented on #1073
This issue is still regularly raised by users ([example](https://opencollective.freshdesk.com/a/tickets/25024)) and causes pain and frustration. I've been advocating it for 3 years now... can we possibly prioritise it as a long-standing papercut? We need a "pay 100% of balance" option on expenses.

[2021-07-09 06:56] Betree commented on #1073
I agree that this would help in many situations. It's might not be trivial though.

A possible solution on the engineering side is to store a flag in the expense to record who will pay the fee (`feePayer`=`COLLECTIVE`|`PAYEE`). Then, when paying the expense, we would ideally pass a parameter to payment providers to tell them where the fee should be deducted.
- For PayPal payouts, it seems that the

[2021-07-09 07:11] Betree commented on #4439
I would rename the issue to something like: `[PROJECT] [SCOPING] ...` or anything that makes it clears this is about scoping, not implementing.

I still don't agree with this part. Static asset optimization is not for Vercel only. https://github.com/vercel/next.js/discussions/17563 is about the feature not being available for **custom servers** (custom express servers), not for **other hosting ser

[2021-07-09 07:40] SudharakaP commented on #4439
@Betree : Thanks much for the input. 😸  I've modified the original post as per your suggestions; agree that the two downsides are not applicable. Let me think a bit more tomorrow on what other potential downsides we might have. 🤔

[2021-07-09 09:31] Betree commented on #4432
Well if the collective changes its URL, it's normal that the old one (https://opencollective.com/communitykitchen) is not accessible anymore. We can eventually improve things in the future with #2283 but as of now, this is the expected behavior.

If you click on the "View application" button at the bottom of the email, you'll be redirected to the application in the host dashboard. This one isn't i

[2021-07-09 13:05] #4328 closed

[2021-07-09 13:20] #3897 closed

[2021-07-09 13:24] #4435 closed

[2021-07-09 14:26] SudharakaP opened #4440 "Make the Close Icon Consistent"
This is derived from the following discussion; https://github.com/opencollective/opencollective-frontend/pull/6589#discussion_r666745802. It seems that the styling of the Close Icon in the `StyledModal` component;

https://github.com/opencollective/opencollective-frontend/blob/29db8633d615784a2c7702d5e96eed457deeca0c/components/StyledModal.js#L110-L123

[code]

is changed in the following figma de

[2021-07-09 14:34] SudharakaP commented on #3262
@opencollective/design : Do we have an update for this or any new design ideas to make this visually more identifiable? 😄

[2021-07-09 14:38] #4430 closed

[2021-07-09 14:41] SudharakaP commented on #4280
@BenJam : I am a bit confused on the relationship of this scoping project vs the prioritized Events Card mentioned here; https://github.com/opencollective/opencollective/projects/54#card-64273187. I put a link from the project card to here, but wasn't quite sure if this is the relevant project issue? Or is this a more generic scoping project for events and should we need another new project for th

[2021-07-09 15:06] SudharakaP opened #4441 "Storybook: Do a Review of Each Component in Storybook and Add More Controls"
We migrated to Storybook at https://github.com/opencollective/opencollective/issues/4313. However we can improve the Storybook components even more. There are many components which doesn't have [customizable controls](https://storybook.js.org/docs/react/essentials/controls). For example,

https://styleguide.opencollective.com/?path=/story/contribution-flow-stepdetails--flexible-interval

is not co

[2021-07-09 15:11] leena4c commented on #4438
A few thoughts about these changes:
on the host side:
- as a host it is not important to see all these different transactions. The total amount in host fees - the total amount of the platform tips + the total amount of the host fees share. Clear numbers, in as few transactions as possible.

on the contributor side:
- a contributor needs to know exactly where his/her money is going. It is not trans

[2021-07-09 15:33] SudharakaP opened #4442 "Figma Integration to Storybook"
Currently we use Storybook as our style-guide. However I feel that there's a disconnect between the dev workflow and the design workflow such that there's many times were we have to comb through some Figma designs to see if the component fits the design exactly. And it's easy to miss certain things especially when design is changed slightly after the component/feature has already been developed. 😄

[2021-07-09 21:44] kaylarep opened #4443 "Add description next to 'Virtual Card Policy' for hosts"
Add next to the title 'Virtual Card Policy' within Virtual Card Settings where the written policy's text will appear.

This will help hosts understand when/where users will see their policy. Rght now it is unclear where the policy is displayed.

Also hosts will understand that they can add some sort of acceptance criteria/questions for card requesters here.

Sample text:
"This policy text will app

[2021-07-10 12:47] snitin315 commented on #4169
Can this be a bounty?

[2021-07-10 15:54] Memo-Es commented on #4169
Hello @snitin315, thank you for your interest in taking this issue.
This issue was part of a bigger update we just did for the contribution flow, we need to catch up with the team and decide what version to implement next.
We will catch up with you in the next 2 weeks. All the best.
M

[2021-07-11 03:17] SudharakaP commented on #4443
My thinking here is to add a small info icon with a tool-tip so that when the user hovers over it they will see the sample text. Something like the following;

![Screenshot from 2021-07-10 20-08-40](https://user-images.githubusercontent.com/12435965/125181610-5b30f080-e1bb-11eb-97fc-184e3b68f9d6.png)

As for the sample text, I am not exactly sure about the first line, shouldn't it be, "This policy

[2021-07-11 03:26] SudharakaP opened #4444 "Show Only the first 5 Changelog Updates in the Modal"
Currently in the changelog notification modal we show all the changelog updates. We should limit this to the first 5 changelog updates as there's no point in showing all the historical changelog updates to the user. 😄

![image](https://user-images.githubusercontent.com/12435965/125181758-fc6c7680-e1bc-11eb-8eac-d30921b83caa.png)

@aminakazi : Thanks for pointing this out. 😄 😸

[2021-07-11 21:07] alanna commented on #3940
I support @DrAlta 's suggestion above to keep such a tip between the Collective and the Host, not involve end-user contributors. We should only expose one layer of fees to any given user: Contributors see platform tips. Collectives see Host fees (and potentially host tips if we want to pursue this idea), and Hosts see platform fees (and platform tips when adding funds, which already exists).

[2021-07-11 21:13] alanna commented on #3954
I still think we should be revealing more details information in platform settlement expenses. It's important for transparency. Looking a this, someone who didn't already understand exactly how the pricing model works would not be able to interpret this information.

![Screen Shot 2021-07-12 at 9 11 53 AM](https://user-images.githubusercontent.com/5498878/125210034-39d22080-e2f1-11eb-9737-80e8235d

[2021-07-11 21:15] alanna commented on #3898
Can this be a bounty?

[2021-07-11 21:17] alanna commented on #3362
This continues to be requested.

[2021-07-11 21:20] alanna commented on #4009
Bump. This is something that will always come up, and currently requires involving OC devs to manually edit transactions to associate them with the right their. We said we want to avoid needing to directly edit the database where possible.

[2021-07-12 01:58] FezVrasta commented on #1738
Don't close this issue. This is an automatic message by [Fresh](https://github.com/c-hive/fresh) - a bot against stale bots.

[2021-07-12 06:48] alanna commented on #1738
Hahah I love the Fresh bot.

[2021-07-12 08:53] BenJam commented on #2207
I'm going to close this out in favour of #4200 which is in a weird state as @piamancini and I need to work through compliance issues post development.

[2021-07-12 08:53] #2207 closed

[2021-07-12 09:03] BenJam commented on #3236
just logged in and it looks like all the zaps on the ops account are off. If there's another account I'm sure @Betree will pick this up when he returns form his holiday.

[2021-07-12 09:03] #3236 closed

[2021-07-12 09:22] BenJam opened #4445 "[DOCS] Improve guidance for adding funds generated through physical events"
This issue replaces https://github.com/opencollective/opencollective/issues/4109 as a feature for collectives to add funds to their collection when they raise money outside of the platform. For example with a physical event with tickets paid on the door.

In this case the individual(s) holding the cash need to donate it using their personal profile so that we are able to account for the cash held

[2021-07-12 09:23] BenJam commented on #4109
Closing in place of https://github.com/opencollective/opencollective/issues/4445

[2021-07-12 09:23] #4109 closed

[2021-07-12 09:26] BenJam commented on #4092
FANK STALE BOT

[2021-07-12 09:30] BenJam commented on #4317
bump!

[2021-07-12 09:53] BenJam commented on #4360
We are looking at improving CSV reports this sprint, so I hope that we can incorporate this into that https://github.com/opencollective/opencollective/discussions/4405#discussioncomment-942132

[2021-07-12 09:56] BenJam commented on #4280
@SudharakaP apologies, my poorly timed leave means that I wasn't able to copy the scope mentioned there here. But yes, we decided to focus on the things in the card rather than open the floodgates to _all_ the things that we could do to support events. This is due to the fact that, although there has been some growth, we still raise a small volume of funds through events.

[2021-07-12 09:59] BenJam commented on #4426
just a quick note to say that we should consider including transactions from child projects/events when exporting a budget https://github.com/opencollective/opencollective/issues/4360

[2021-07-12 14:15] SudharakaP commented on #3898
@alanna : The specs aren't clear in my opinion and thus this cannot be a bounty for now, but I am pinging @Betree so they can weigh in when they return. 😄

[2021-07-12 14:24] BenJam commented on #4200
just to summarise the conversation @kewitz @SudharakaP and I had prior to our call with TGB this afternoon/evening:

- we're unsure how we're going to reconcile transactions as the widget appears to be a one way trip for the integrator (ie. no callback)
- we're not sure whether we should create the order, attach the id to the transaction and then trace it later or whether we should trace to to/fro

[2021-07-12 14:27] SudharakaP commented on #4280
@BenJam : No worries. 😄 Thanks for the info. So I'll use the same project to track these issues; https://github.com/opencollective/opencollective/projects/29.

The two issues mentioned in the card isn't very clear to me. But we have identified some issues that might be connected to this which we've put in the to-do section of the aforementioned project board. Specifically I think what you mean by

[2021-07-12 15:18] BenJam commented on #4280
I think #4360 will probably be addressed in https://github.com/opencollective/opencollective/issues/4426 I was thinking about:

For context, everything here is to support users to _use_ the ~150k sitting in event budgets. So we are trying to ease the process for maintainers to move money from events (we may as well do projects too) into parent collectives and visa versa.

At the moment the process

[2021-07-12 17:25] #4444 closed

[2021-07-12 17:41] SudharakaP opened #4446 "Improve Transfer of Budgets from Events to Collective"
As per the discussion at https://github.com/opencollective/opencollective/issues/4280#issuecomment-878366659 we need to support transferring of budgets from Events to it's associated collective. 😄

![image](https://user-images.githubusercontent.com/12435965/125377964-bb05d380-e342-11eb-8385-31369de21bdc.png)

Summarizing the technical specs;

- [ ]  Add the front-end transfer funds button to the b

[2021-07-12 17:42] SudharakaP commented on #4446
@Betree : Let me know if there's anything to add to this or if my technical specs are in agreement. 😄

@Memo-Es : I couldn't find the figma design for this; is this already in production? 🤔

[2021-07-12 17:52] SudharakaP commented on #4280
@BenJam : Thanks for the detailed explanation Ben. I've created an issue for this at, https://github.com/opencollective/opencollective/issues/4446. I'll try to scope things related to this and but would like to wait for Benjamin before proceeding forward with the development. 😄 🤝

[2021-07-12 19:49] SudharakaP commented on #4200
So based on our discussion with Alex from The Giving Block I think we are good to go ahead with this project. There are some things to consider here;

**To be discussed with the team in the project kick-off**

- We should use the API; not the widget as stated at https://github.com/opencollective/opencollective/issues/4200#issuecomment-853001166. This will make the whole process of transaction reco

[2021-07-12 21:12] alanna commented on #4280
That's actually not the process... There's a banner and people just click the button.

![Screen Shot 2021-07-13 at 9 09 25 AM](https://user-images.githubusercontent.com/5498878/125356237-0a3b1b00-e3ba-11eb-8d43-5dc0d0881175.png)

You can't actually move money from an event another way, as far as I know. If you go to make a contribution, events don't show up on the options for the funding source.

[2021-07-12 21:32] SudharakaP opened #4447 "Flacky E2E Test on Stripe Input"
I have noticed that from time to time the following test fails on our E2E suite. 🤔

[code]
This is similar to what we had before at, https://github.com/opencollective/opencollective-frontend/pull/6365. Since this is related to the Stripe frame not loading at a timely manner I would suggest we add a retry as we did before.

[2021-07-12 22:20] Memo-Es commented on #4240
https://www.loom.com/share/343a86026d1648a6bd264017b5f0e55c

[2021-07-13 01:25] alanna opened #4448 "Payment source shows up twice"
<img width="618" alt="Screen Shot 2021-07-13 at 1 22 38 PM" src="https://user-images.githubusercontent.com/5498878/125375717-a88ca800-e3dd-11eb-87fa-90e608c2f853.png">

When setting up a contribution to a Collective under the OC host (Documentation), the OC host org profile shows up twice.

[2021-07-13 01:28] alanna opened #4449 "Balance doesn't update after new contribution until refresh"
Everything with the actual transaction was fine, but the budget balance did not reflect the contribution until I refreshed the page.

The path I followed was to make the contribution, then click the Collective name to go back to its page afterward from the success screen. I think people doing this are probably looking to see the impact of their contribution on the balance sometimes (I was, because

[2021-07-13 01:31] kewitz commented on #4200
@SudharakaP I think that is most of it, I think it is important to notice that we hold some of the user information already on our DB and we can automatically fill in that.

Adding a bit more info for context:

**Why can't we use the widget as a POC?**
Because we can't inject any information nor consistently get information from the iframe to reconcile the order later.
Considering the fact the use

[2021-07-13 01:42] alanna commented on #4382
Came across another example of this, which is a bit different. When a Host contributes to its own Collective, the system is treating it like an external contribution. Any time the payer and payee entities are the same on the receipt, it's a pretty strong indicator the receipt should not exist or is representing something off-base.

<img width="722" alt="Screen Shot 2021-07-13 at 1 39 21 PM" src="h

[2021-07-13 01:57] SudharakaP commented on #4446
The attached image above is just a mockup as Memo indicated to me and it seems that as per, https://github.com/opencollective/opencollective/issues/4280#issuecomment-878599185 we will probably need to discuss more and sync with design before moving forward on this. I suggest putting this on hold until @Betree comes as he might have some ideas on this as well. 🤔

[2021-07-13 02:05] Memo-Es commented on #4317
@shannondwray @SudharakaP
Update on the points regarding design:

We would need to replace this paragraph entirely with a new link to another post that better describes the current design practice. Can we replace it with a 'WIP' meanwhile?

We will also need to replace this page of the design contribution guidelines; the general content is ok so in the meantime, we can delete this thing about team

[2021-07-13 02:06] SudharakaP commented on #4200
@kewitz : Thanks a lot for your explanations and the "whys" on what we decided. I missed these explanations completely in my post above. 🤯

Also just to clarify and for absolute completeness, the amount from user needs to be BTC or any currency that The Giving Block supports; as per API, it currently supports the following; BTC, BCH, LTC, ZEC, LINK, BAT, DAI, OXT, STORJ, AMP, ZRX.

[2021-07-13 06:37] Andyyguevara225 opened #4450 "[PROJECT]"
## Overview
(What is this project and why have we prioritised it?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maint

[2021-07-13 06:39] Andyyguevara225 commented on #4450
**
![imgur_com](https://user-images.githubusercontent.com/86837906/125403500-33888680-e37b-11eb-8e08-e912ce9dd8c0.jpeg)
**

[2021-07-13 12:34] SudharakaP commented on #4450
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-07-13 12:34] #4450 closed

[2021-07-13 15:33] SudharakaP commented on #4322
@Betree : My thinking is we could make it even simpler by just using the Git hash of the checked out front-end repo. WDYT? 😄

[2021-07-13 18:20] znarf commented on #4322
@SudharakaP have a try in a PR?

[2021-07-13 18:23] znarf commented on #4322
The issue is starting to be an important problem in CI so this should now be a priority.

[2021-07-13 18:45] SudharakaP commented on #4322
@znarf : Yes, I will try this out today; I saw that too, several PRs seems to have this problem. 😄

[2021-07-13 20:09] SudharakaP commented on #4322
Okay so I think, https://github.com/opencollective/opencollective-api/pull/6274 seems to fix the issue as we are getting rid of `hashFiles` call for these larger file counts. I restarted the CI several times and it seems to be okay. 🤔

[2021-07-13 20:41] SudharakaP opened #4451 "Convert API from CommonJS to ESM"
More and more projects seems to start using [ESM](https://nodejs.org/api/esm.html#) instead of [CommonJS](http://www.commonjs.org/) and I think eventually we will have to do this migration. For example certain dependencies such as, https://github.com/opencollective/opencollective-api/pull/5825 and https://github.com/opencollective/opencollective-api/pull/5835 are currently blocked due to new versi

[2021-07-13 20:47] znarf commented on #4451
It seems it's a complex project and should be tackled trough our normal prioritization process. Feel free to do some research on an experimental branch and share with the rest of the team how it could looks like.

[2021-07-13 20:51] SudharakaP commented on #4451
@znarf : Exactly, let me do some thinking on this in the coming days and get back. It's indeed complex, and I am also not sure if it's worth the hassle, I tried several attempts to update the above two dependencies with different approaches but failed so that's what I thought maybe it's time we need to think about upgrading to esm. 😢 😄

[2021-07-13 21:14] #4390 closed

[2021-07-13 22:48] kaylarep commented on #4443
This looks like a great idea @SudharakaP !

Maybe the text can read: "This policy text will appear in a pop up when someone 'Requests a Virtual Card' from the Action menu on the collective's page."

(just trying to not have the words 'up' and 'down' in the same sentence so its not too confusing hopefully.

Is it displayed anywhere else as well?

[2021-07-13 22:54] kaylarep commented on #4432
These types of applications disappear from the dashboard (when this occurs).

The only way the application can be found is thru a manual search, but the header still exists to accept/reject.

The only reason I know to do a manual search is because we had a couple applications that disappeared from the dashboard, were 'not found' with their original URL, so I had assumed they deleted their applicat

[2021-07-14 05:32] SudharakaP commented on #4443
Thanks. Yes, that makes sense. 😄

The policy is also displayed at the top of the collective settings (virtual cards section) but that is only seen by collective admins, so my thinking is that the above sentence is accurate. 😄

@kewitz : I've made a quick PR for this, but in case if you disagree with this or think we need to have an alternative design feel free to let me know; we can reiterate. 😄

[2021-07-14 12:56] SudharakaP opened #4452 "Create Update Warning Message when User Not Collective Admin"
It's noted that there are two small issues when creating a new update. 🙂

1) When the user is not a collective admin we show the following message (see screenshot below). But it says "Core Contributor" although we check in our code if the user is and admin before showing the create update form. We need to fix the message to say "Admin instead".

2) When the message is shown as per screenshot, we n

[2021-07-14 14:30] SudharakaP commented on #4200
So just to summarize what we decided on the kickoff, we shall implement a proof of concept using the [existing tier approach](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13104%3A204710); but instead of embedding the widget we will have a custom form and use the [API method](https://app.gitbook.com/@the-giving-block/s/public-api-documentation

[2021-07-14 16:00] kewitz opened #4453 "Inconsistent PayExpenseButton behavior"
**Describe the bug**
For the same expense, we can have two different pay expense buttons being presented in the expense page and in the dashboard.
We should make sure we have enough data to present the same button on both pages.

Example:
The payment modal in the Expense page displays the old PayPal screen, even though the host is using PayPal Payouts.
The button should be offering to Schedule the

[2021-07-14 16:26] BenJam commented on #4200
++ to what @SudharakaP wrote, I just wanted to expand on (how i understand it) the UX so everyone is on the same page:

- collective enables ' contributions in cryptocurrency' from their contribution tiers
- user goes to collective page, selects cryptocurrency tier
- user is guided through crypto contribution (in modal or in core contribution flow)
    - select currency
    - select amount
    - i

[2021-07-14 16:33] #4452 closed

[2021-07-14 17:03] SudharakaP opened #4454 "Internationalization Seems to have Issues with Special Characters"
This was initially reported at, https://opencollective.slack.com/archives/C6JTTA4SK/p1626266227066000. Investigating a bit it seems that internationalization have some issues with special characters. This is probably coming from our upgrade to `formatjs` from `react-intl` where it seems not handle the translations of the special characters.

https://github.com/opencollective/opencollective-fronten

[2021-07-14 19:44] SudharakaP commented on #4454
The reason for this is an `formatjs` update which is explained here; https://github.com/formatjs/formatjs/issues/2485#issuecomment-755034273. They don't support embedding special characters within the strings anymore and thus we need to handle it outside the `defaultValue` strings. I am submitting a PR with this fix.

[2021-07-14 21:21] kaylarep commented on #4432
@Betree here's another example of one:

- here's their application after changing the URL: https://opencollective.com/twisted-fields-research-collective (see the option to approve/reject from OCF)
- this application is not showing in [OCF's pending applications dashboard](https://opencollective.com/foundation/dashboard/pending-applications)

(do you have access to see this from OCF admin's point o

[2021-07-14 22:54] #4454 closed

[2021-07-15 06:25] SudharakaP opened #4455 "Console Warning when Removing Emoji's from Updates or Comments"
When working on another issue, I noted that we have a console warning when adding or removing emojis.

[code]
This seems to be due to the optimistic response not having the `update` or `comment` field matching the return value of `removeEmojiReaction` mutation.

[2021-07-15 13:13] SudharakaP commented on #4200
@BenJam : Yes, that makes perfect sense. Thanks for adding the detained information. 👍🏽

[2021-07-15 13:39] BenJam commented on #4200
@piamancini @kewitz re. our chat on confirmations: it would be easy to include a link to https://www.blockchain.com/explorer which will search the right blockchain given the correct wallet address: https://www.blockchain.com/search?search=0xCf06Fb20a93257c5Dc07bAd131ebD52EFcBD10f4

If there is a collision it will send you to a disambiguation: https://www.blockchain.com/search?search=3KGRZBQSfYTXAT

[2021-07-15 15:58] Memo-Es commented on #4200
## Design update

Latest version reviewed by the core team on the standup call of July 15th:

| step 1 | step 2| step 3 | step 4|
|---|---|---| ---|
| ![Flow](https://user-images.githubusercontent.com/49539954/125818569-ef38865e-ad55-423e-93cb-3d02fe72d273.png) | ![Flow-1](https://user-images.githubusercontent.com/49539954/125818559-57ee90bf-8ae0-49b5-87cb-a4df0771765c.png) | ![Flow-2](https://use

[2021-07-15 21:37] SudharakaP opened #4456 "Create New Payment Method Type for Crypto Contributions"
We need to create a new payment method type for crypto contributions. I am proposing the following changes to the tier page;

- [x] Add `Crypto` payment method type (just like enable flexible contributions)
- [x] When the crypto type is created it should show the tier card title as `Crypto Contribution`; something along the lines of the design below.
- [x] Hide the crypto creation option under a f

[2021-07-15 21:53] SudharakaP opened #4457 "Create Crypto Contribution Modal - First two Pages (Contribution and Your Info)"
Depends on https://github.com/opencollective/opencollective/issues/4456

When the user clicks to donate on the Crypto contribution tier, we need to show the crypto contribution modal. The figma design for this is given at, https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13104%3A204710

- [ ] Create the `Contribution` and `Your Info` sections of

[2021-07-15 22:32] SudharakaP opened #4458 "Create Deposit Address though Giving Block and Store the Pledge ID"
Depends on https://github.com/opencollective/opencollective/issues/4456 and https://github.com/opencollective/opencollective/issues/4457.

We need to create a deposit address through The Giving Block for the donation when the user clicks on the `Payment Info` button on the `Your Info` section on the crypto tier modal.

- [ ] Once the user click on `Payment Info` button make a post request to `Crea

[2021-07-15 23:13] alanna opened #4459 "Don't display org creation option in apply flow"
I just supported a user who went down the wrong path and got stuck and I think we should close that specific path.

We often send people directly to opencollective.com/opensource/apply if they are trying to create a new Collective, or they end the flow by clicking the 'apply' button on the Host page.

If they are a completely new user, they first are asked to create their account, which is fine, b

[2021-07-15 23:23] SudharakaP opened #4460 "Create the Success Page of Crypto Contributions"
Depends on https://github.com/opencollective/opencollective/issues/4458

After the user click on `Finish` on the `Payment Info` section (see screenshot at the above issue), we should show the user a success page as shown below.

Suggest not include the message box as shown below (at least for the first iteration) to keep things simple. Since this donation is not yet fulfilled an instantaneous mess

[2021-07-16 05:02] alanna commented on #3981
Now that Projects has been released, users are asking to be able to move expenses between Projects and the main budget.

[2021-07-16 09:33] alanna opened #4461 "Make reply to email for team addition notification the adder only, not OC"
If someone adds you as an admin to a Collective, you get an email like this:

<img width="884" alt="Screen Shot 2021-07-16 at 9 32 29 PM" src="https://user-images.githubusercontent.com/5498878/125926547-43fc113d-6d3e-4be6-8179-14df4f23c86c.png">

If the person hits 'reply all' (the default in most mail clients for emails with a CC recipient), the reply will go to info@opencollective.com.

I think

[2021-07-16 11:45] aminakazi commented on #4456
@SudharakaP Crytpo isn't a tier. Crypto is a method of payment, but it'll still live under the 'contribute' section. Hence we can't add crypto in the dropdown here.

We have [a new design](https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC-Design-Lab?node-id=11080%3A136051) which allows the admin to toggle crypto payment. It is yet to be moved to production.

The crypto mode of payment can't b

[2021-07-16 12:48] SudharakaP commented on #4456
@aminakazi : Thanks for the information. But I am not sure if this part falls under the scope of this project. The designs seems to revamp the contribution tier page. My suggestion is to handle the changes to the contribution tier page in a dedicated project and for now we add crypto as a tier which seems simpler. However I am open to change if others think if the changing of the contribution tier

[2021-07-16 15:08] BenJam commented on #1657
closing this as we have virtual cards from privacy, which aren't without their issues but appear to work. #4276

[2021-07-16 15:08] #1657 closed

[2021-07-16 15:15] SudharakaP commented on #4362
@Betree : It might be the case. But the doc clearly states that it's locked to the first merchant. Thus with this payment method in use I don't think we cannot do anything regarding this. I am closing this issue, but feel free to open it in case if anyone has ideas on a workaround or alternative. 🤔

[2021-07-16 15:15] #4362 closed

[2021-07-16 16:52] BenJam commented on #4446
errr looks like [we didn't reaslise this already happens](https://github.com/opencollective/opencollective/issues/4280#issuecomment-878599185) so in fact all we need to do is notify these folks with a message?

[2021-07-16 17:32] SudharakaP commented on #4453
@kewitz : There's a thing I missed here. Note that in my PR I only show the budget section; I just realized that this buttons also appear on the expenses screen. We need to fix that as well. I'll do a PR soon. 🙂

[2021-07-16 21:19] SudharakaP commented on #4451
I did some investigation on this in the https://github.com/opencollective/opencollective-api/tree/feat/migrate-to-esm branch.

There's some serious problems that blocks this migration at this point I think;

- ESM modules [aren't supported by Sequelize I think](https://github.com/sequelize/sequelize/issues?q=is%3Aissue+is%3Aopen+esm); or the support has some issues; such as; https://github.com/seq

[2021-07-16 21:19] #4451 closed

[2021-07-17 02:08] DrAlta opened #4462 "To fork or not to fork: Banned content by your payment processors but adding Code bouty/freelancing services"
I wanted to use Open collective for my Relationship and Sexuality Education edutainment game but Stripe said they was one of their restricted business and they wouldn't allow their services to be used by it.

I haven't found any good alternative. Librepay on open but they don't allow you to recognize your Patrons so there really dampens the ability to Patreon like tiers.  I wanted to do a code bou

[2021-07-17 07:11] negotiamini commented on #4451
It's been one hell of a battle, will require a lot of work. I've been working on it for some time now. @Nest has the best framework for it. Unfortunately, too many packages still haven't ported over, coupled with all the components and it's going to require some heavy lifting.

Best approach would be modularity in stages, that said even Sequelize proved to be a challenge in migrating. Caveat, I'm

[2021-07-17 08:57] alanna commented on #4437
We continue to get use requests for email exports with event CSVs. Is there any way we can add them back in? @piamancini

Maybe we have have a special opt-in for event contributions where users agree to share their email with the organizers? it's pretty standard for events tools.

[2021-07-17 09:17] znarf commented on #4437
For the record, I don't know where this is coming from, we haven't touched that particular thing recently. See my comment there: https://opencollective.slack.com/archives/G46PNRCGP/p1626082075006900?thread_ts=1626073409.004100&cid=G46PNRCGP The only thing that was done recently in this direction is https://github.com/opencollective/opencollective-api/pull/6177

There are known problems with the fe

[2021-07-17 09:18] alanna opened #4463 "Odd card appearing in search result"
<img width="1131" alt="Screen Shot 2021-07-17 at 9 16 58 PM" src="https://user-images.githubusercontent.com/5498878/126032398-08cc6e36-cac0-49f7-8e12-707994a85923.png">

If you click the third one it sends you to https://opencollective.com/website and throws an error.

<img width="767" alt="Screen Shot 2021-07-17 at 9 17 45 PM" src="https://user-images.githubusercontent.com/5498878/126032416-5722b

[2021-07-17 10:09] alanna commented on #4153
This continues to happen. I just had to unwind a transaction where someone accidentally gave a $20 contribution and a $250 tip. I think this is a sign that we need to improve the design, and I believe that is already in progress, but until then, could we set up some kind of alert where support gets notified (or we do a weekly data export or something to check) if a transactions goes through where

[2021-07-17 20:02] #4322 closed

[2021-07-17 22:19] SudharakaP commented on #4453
@kewitz : I also noticed that we need to add a condition to guard against collectives that doesn't have a host; otherwise a graphql error is being thrown which I've also corrected in the above PR.

https://github.com/opencollective/opencollective-frontend/pull/6631/files#diff-01e697628ff3f9c10f4cec946fc2e1cee905f7086d22fd0199462b5247b82e04R131-R132

[2021-07-18 21:37] alanna opened #4464 "Add tooltip to 'total disbursed'"
This is from the budget section of /foundation:

![Screen Shot 2021-07-19 at 9 36 21 AM](https://user-images.githubusercontent.com/5498878/126082825-c4318e86-361e-4eab-9b68-7bb7251a8311.png)

`Total disbursed` is the only one without a tooltip. OCF has disbursed way more than $17k, so I need a tooltip here to explain what I am looking at. Is this stat for the last month or something?

The `Total r

[2021-07-18 21:44] alanna opened #4465 "Unable to clear transaction filters"
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/5498878/126082985-a0fcbcd0-2372-4a60-b828-1a9d39c37b17.gif)

I can't clear the filters on the transactions page. Clicking the X seems to not do anything.

[2021-07-19 08:56] znarf opened #4466 "Recovery code not allowing to change 2FA device"
When losing access to your 2FA device, users can properly access their account using the recovery codes.

Unfortunately, it's not possible for them to reset the 2FA itself because it's still requiring a 2FA code to proceed.

Maybe when using recovery codes, we should disable 2FA authentication in the process.

[2021-07-19 12:39] SudharakaP commented on #4446
@BenJam @alanna : I am closing this issue as it seems that the initial concern that we were trying to address here is already there as per, https://github.com/opencollective/opencollective/issues/4280#issuecomment-878599185. But if anyone thinks there's something to improve let us know and we can reopen or start a new issue. 👍🏽

cc: @Betree

[2021-07-19 12:39] #4446 closed

[2021-07-19 14:08] BenJam commented on #4200
thanks for sharing @Memo-Es. Following the conversation on weekly chat I just wanted to provide a little context on the approach here: we should prioritise whatever is lowest effort over the smoothest experience at this point.

We have ended up in a weird situation in which we're implementing a form based on the widget, which only makes sense if the [information that we need to capture](https://th

[2021-07-19 14:16] t-900-a commented on #4200
Have you looked at nowpayments?
https://nowpayments.io/demo/donation
They have a widget and they also have optional fiat processing to a bank account via SEPA.

[2021-07-19 14:18] SudharakaP commented on #4200
My thinking;

- We cannot expect the users to sync information in Open Collective with their crypto payment info. So I think the form needs to be there regardless whether we have the info or not. Maybe if we have the info we can pre-populate the form giving the users the ability to change the info if needed.

- The API route with the contribution flow seems simpler as well as better to me in the l

[2021-07-19 15:29] SudharakaP opened #4467 "Rounding Errors on Contribution Tier Amount Buttons"
This is with regard to the following support ticket; https://opencollective.freshdesk.com/a/tickets/27442

When entering tier amounts greater than 1000 dollars we show them as 1k, 2k etc. However when the value is decimal (such as 1.5k or 1.8k) we seems to do the rounding incorrectly and show it as 2k instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective that you are th

[2021-07-19 20:28] #4453 closed

[2021-07-19 21:10] SudharakaP opened #4468 "Move Funds from Projects/Events to Parent Collective"
## User story

As a collective admin it would be important to be able to move funds from a Project to its Parent Collective. Currently there seems to be no way of doing that. For events we do have a way to transfer the funds to the parent collective; when the events ends a banner is shown at the top of the events page;

![image](https://user-images.githubusercontent.com/12435965/126227021-f6c9599c

[2021-07-19 21:42] SudharakaP opened #4469 "Add Support for Donate from Event/Project in Contribution Flow"
## User story

It might be useful for collective admins to be able to use the contribution flow to transfer money from a Project/Event to it's parent collective.

## Best solution for this problem

Add the ability for collective admins to choose the events or projects in the `Contribute as` section in the contribution flow.

## Documentation

We also need to align our documentation with these chan

[2021-07-19 21:47] SudharakaP commented on #4469
Thinking further I am a bit dubious about adding the fund transfer support for events and projects in the contribution flow. Makes me think the contribution flow is more towards external users. if we do add it we will have to probably remove the platform tip (as it doesn't make sense to add platform tips from event to parent collective transfer). Also maybe remove the final success page; since it

[2021-07-20 05:08] alanna opened #4470 "Events missing from Host settings"
OCF wants to host events. But Events is not an option for the profile page apparently? How do we turn Events on?

![Screen Shot 2021-07-20 at 4 57 30 PM](https://user-images.githubusercontent.com/5498878/126265065-343095c3-69d5-40d1-a5b5-731887868271.png)

[2021-07-20 12:52] #4467 closed

[2021-07-20 12:58] SudharakaP commented on #4409
Related discussion found at; https://opencollective.slack.com/archives/C0RMV6F8C/p1626732411276900. Will investigate more on this issue today. 😄

[2021-07-20 13:28] SudharakaP commented on #4409
This is fixed by https://github.com/opencollective/opencollective/issues/4409 and therefore closing. 👍🏽

[2021-07-20 13:28] #4409 closed

[2021-07-20 14:47] SudharakaP opened #4471 "Stop Abbreviating Numbers in Contribution Flow"
As per the discussion https://github.com/opencollective/opencollective-frontend/pull/6632#issuecomment-883402851, it was suggested that we should stop abbreviating numbers in the contribution flow. Currently the contribution flow looks like this,

![image](https://user-images.githubusercontent.com/12435965/126344547-f10b6a5e-b02d-4ecd-a277-74e82eb1ab6a.png)

Abbreviating number I think has a purpo

[2021-07-20 15:49] znarf commented on #4471
I think it's fine whatever the currency. We can try it and iterate if it's a problem.

Note that it's still important to format properly the strings for readability, `5,000,000` and not `5000000`.

[2021-07-20 16:12] SudharakaP commented on #4382
@Betree @znarf : I think this point is redundant given that we are hiding the receipts for events in point 2 anyways. 🤔

@alanna @znarf : So if I get this correctly we should not generate receipts for transfers from host to one of its own collective. Correct? 🤔 😄

[2021-07-20 17:49] SudharakaP opened #4472 "Cannot Delete Virtual Card from Host Settings"
**Describe the bug**

This is initially reported at https://opencollective.slack.com/archives/C023USJSRGT/p1626743523000500

Deleting a card under the Host Settings seems to have some problems. The deletion seems not to work and the following error is seen,

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the host settings where virtual cards are setup
2. Click on Actions -> Del

[2021-07-20 17:56] SudharakaP commented on #4243
This is done. I just configured the last two remaining repos; `frontend` and `api` to use renovate bot hereon. For the leftover PRs of dependabot, when renovate recreates them I'll add any context/information (if they are blocked) and close. 😄

[2021-07-20 17:56] #4243 closed

[2021-07-20 18:18] SudharakaP opened #4473 "Match Changelog Icon Size with New Design"
We need to match the changelog icon notification title with the new figma designs.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=12889%3A182814

Currently it looks like;

![image](https://user-images.githubusercontent.com/12435965/126374780-f8f63a54-1191-4ef9-9d40-d89cc8837bf3.png)

It should be updated to;

![image](https://user-images.githu

[2021-07-20 19:13] SudharakaP commented on #4466
@znarf : I think we probably need to also state that it's disabled in the docs as well as in the recovery dialog;

![image](https://user-images.githubusercontent.com/12435965/126382031-7ebf8fb3-b55c-43e5-a328-c92464f6f4b6.png)

Something like; `On successful authentication 2FA will be disabled`

If this is in agreement I'll add this one. 😄

[2021-07-20 20:38] SudharakaP commented on #4470
I've investigated the issue and it seems that we are missing a field in our code when we retrieve the GQLV2 fields here;

https://github.com/opencollective/opencollective-frontend/blob/57f80ac3ebea94bd4e9282e5c0aca63ab6131a98/components/edit-collective/sections/EditCollectivePage.js#L37.

The PR above suggests a simple fix that corrects this issue. :smile:

[2021-07-20 21:19] SudharakaP commented on #4470
And thanks much @alanna for reporting the issue. 😸

[2021-07-20 22:50] alanna commented on #4470
Thank you! Is there any way this could be fixed ASAP @SudharakaP @znarf ? Not being able to create an event is blocking OCF from publishing a post we've been working on for a while.

[2021-07-20 23:03] alanna commented on #4382
A receipt is a document generated for legal and accounting purposes providing evidence of funds moving from the purchaser to the vendor in a transaction. Moving money between Open Collective balances within the same Host is not a transaction and money is not moving between entities, so a receipt in this case does not make sense.

[2021-07-21 03:12] SudharakaP commented on #4470
@alanna : We need to deploy the fix to production. When @znarf reviews this tomorrow, I'll be sure to push it to prod ASAP. Will let you know once done. 😄

[2021-07-21 04:40] SudharakaP commented on #2966
@opencollective/design : This seems a very old issue; so I am wondering if this design still applies? 🤔

[2021-07-21 04:52] #3847 closed

[2021-07-21 04:56] SudharakaP commented on #3924
My thinking is to keep this as is. The page total should display the total amount for whatever filters the user selects. For example say if I like to see all expenses submitted with payout method `Bank Transfer`. If we remove spam and rejected expenses from the total we are assuming something behalf of the user; that they don't want to count them. But in reality they might want to include them as

[2021-07-21 05:02] SudharakaP commented on #3709
@Betree @znarf : Correct me if I am wrong, but it seems to me everything in this issue is done, and thus we can close this. If no objection I will go ahead and close this issue? 🤔

[2021-07-21 07:56] Betree commented on #4448
It looks like OC Inc has 2 `collective` payment methods. We should understand why the second one was created and merge them

[code]

[2021-07-21 08:24] RCheesley commented on #3887
Still interested in this - it is made easier by having collective projects where you can for example transfer funds, but more complex as there is no way to see their budget/amount spent in one central place.

[2021-07-21 08:29] RCheesley commented on #3637
I think this may be resolved as there are separate sections for 'top financial contributors' and for 'participants' - but not really clear if the former will always include all sponsors (say if there is a tier at $200 and someone buys multiple tickets for $250 maybe they get featured?). Could anyone confirm?

![screenshot-opencollective com-2021 07 21-09_27_11](https://user-images.githubuserconten

[2021-07-21 08:31] Betree commented on #4432
@kaylarep I haven't checked the page as I'm not an admin of OCF but looking at the code I'm pretty sure it's displayed, only not at the top of the page (it might even be on a separate one since we have pagination there). For legacy reasons, we currently sort applications by collective creation date, and this one was created a while ago.

[2021-07-21 08:50] RCheesley opened #4474 "Small bug with time selector on event creation page"
**Describe the bug**
There seems to be a bug with the time selector when creating events.

I was trying to select 6pm but it would not allow me to do so:

https://youtu.be/G5JxHLTlatc

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. Try to set a time for the start or end
3. Note that it is hard to set a specific time - the numbers are jumping up and down and text input of 6

[2021-07-21 09:39] alanna commented on #4469
I don't this it really makes sense as a contribution, because money in an Event or Project already belongs to the Collective. However, we do need a better way to move money between Events, Projects, and the main budget, in both directions.

[2021-07-21 09:51] Betree commented on #4463
Looks like our Cloudflare config redirects everything ending with `/website` to the images service: https://github.com/opencollective/opencollective-workers/blob/91b49a5c1c42022f1bcc2dab2f16e2a6ecc18b72/main.js#L105

I'd be in favor of fixing this by:
1. Renaming this collective (eg. to `/website1`)
2. Add `website` to the reserved slugs: https://github.com/opencollective/opencollective-api/blob/8

[2021-07-21 09:53] Betree commented on #4465
The "clear" action has a confusing UX there, clicking it goes back to the default state - which is everything selected except host fee share. We can update that to unselect everything instead.

[2021-07-21 10:03] Betree commented on #3709
Recovery codes are live indeed.

We still need to document a procedure internally for people who have no recovery code and want to reset 2FA (we had a few of them already) to define what criteria we want to use based on the account level (contributor, host admin, etc). But it's handled manually atm, and not overwhelming so there's no rush.

[2021-07-21 10:03] #3709 closed

[2021-07-21 10:06] Betree commented on #4474
@RCheesley Thanks for the great documentation on this issue and including a video.

It seems similar to what was reported in https://github.com/opencollective/opencollective-frontend/pull/5108#issuecomment-720475812, so this might not have been solved entirely.

[2021-07-21 10:08] alanna opened #4475 "Add GST column to host reports"
https://opencollective.slack.com/archives/G46PNRCGP/p1626754000126100

@Betree

[2021-07-21 10:11] Betree commented on #4447
Adding a retry is a good idea, because of the multiple Stripe iframes this one will often fail because of things that are out of our control - network requests, timeouts, etc.

[2021-07-21 10:14] RCheesley commented on #4474
Ah yes - did not find that in issues! Seems like the same issue!

[2021-07-21 10:15] Betree commented on #4474
It was only some feedback in the code review, it's great that you created a dedicated issue for this :+1:

[2021-07-21 10:29] znarf commented on #3709
Please have https://github.com/opencollective/opencollective/issues/4466 in mind. We kind of failed there.

[2021-07-21 11:05] Betree commented on #3531
Should be resolved in https://github.com/opencollective/opencollective/issues/3438 by using inline validations and toast messages for server-side errors

[2021-07-21 12:43] #4447 closed

[2021-07-21 12:45] #4473 closed

[2021-07-21 12:49] #4470 closed

[2021-07-21 14:26] SudharakaP commented on #4200
So to summarize what we discussed in today's sync about Crypto.

- We are gonna go with implementing crypto in the the contribution flow approach instead of adding a custom tier modal as we discussed above. The design is almost exactly the same as what we had above; https://github.com/opencollective/opencollective/issues/4200#issuecomment-880814411 except for some slight variations to adapt to the

[2021-07-21 14:54] #4455 closed

[2021-07-21 16:33] BenJam opened #4476 "Disable payments of expenses in INR when host is a nonprofit"
[Our payments providers (Wise) can no longer process payments to accounts in India](https://opencollective.slack.com/archives/GSNDVCC4F/p1626101037003200) from non-profit hosts, and that instructing them to do so could result in accounts being restricted or cut off entirely. Given the volumes that we process for Open Source Collective and Open Collective Foundation using Wise we cannot risk this.

[2021-07-21 17:25] #4387 closed

[2021-07-21 18:56] SudharakaP opened #4477 "[DOCS] Add Heroku Rollback Instructions to Deployment Documentation"
Doing a deployment I was wondering how to rollback in Heroku if something goes wrong. I found the information and thought it would be useful to add this to our `deployment.yml` files in case if someone needs this quickly in the future. The PRs are linked below. 😄

[2021-07-21 19:07] SudharakaP opened #4478 "[DOCS] Document the Exact Requirements for 2FA Reset"
This is with regard to the following comment.

I think we need properly document the process we follow in order to reset the 2FA. Currently my understanding is that this is done manually on a case by case basis. On this regard I suggest looking into the following.

- What information we need from each user category (contributor, host, admin etc) in order to reset the codes.

- What specific inform

[2021-07-21 20:26] SudharakaP commented on #4382
@alanna : Thanks for the explanation. I've added support for that as well. 👍🏽

[2021-07-21 21:02] alanna opened #4479 "Add 'create event' button to empty events page"
If there are no events, this is what you see:

![Screen Shot 2021-07-22 at 9 01 33 AM](https://user-images.githubusercontent.com/5498878/126559656-c5c0a1b3-72ef-4e08-9b4f-73222be2525d.png)

If you are an admin, there should be a `Create Event` button here.

[2021-07-21 21:11] SudharakaP commented on #4469
@alanna : You meant `I don't think...` right?

Agreed, I think this needs design in order to proceed and/or further discussion. Adding this support by just adding the event in the payee screen might not be the best experience. So probably let us wait until we can come up with a better way to handle this. 🤔

@Betree : Let me know if you have any thoughts on this one. 😄

[2021-07-21 21:14] SudharakaP commented on #4474
Interesting. I tried both Firefox and Chrome and couldn't recreate this. 🤔

@RCheesley : Can you try updating chrome to latest version by any chance? I am using **92.0.4515.107**. 🙂

[2021-07-21 21:25] alanna commented on #1587
I think this is solved by Projects

[2021-07-21 21:29] alanna opened #4480 "Change 'Contribute' section header for Events to 'Tickets' when custom contribution is off, and make it off by default"
Auggestion:

If you're hosting an event (especially a free one) and you turn off custom contributions, it's really weird to have a contribute banner dominate the space above the ticket registration action card. And it has some misleading hover text about giving money when that's not this page's function at all.

![Screen Shot 2021-07-22 at 9 23 51 AM](https://user-images.githubusercontent.com/5498

[2021-07-21 21:34] SudharakaP commented on #4479
For this I suggest adding a button similar to what we have on the Updates screen;

![image](https://user-images.githubusercontent.com/12435965/126563099-d366cba5-0e35-4851-956f-462b64bbb21d.png)

I've done a [PR above](https://github.com/opencollective/opencollective-frontend/pull/6666). Let me know if it looks good. 😄

[2021-07-22 04:05] alanna opened #4481 "Update editor jumping around while typing"
Video: https://i.gyazo.com/3aa245ffe0c898d9e0df7208417d8a97.mp4

[2021-07-22 04:10] alanna opened #4482 "Updates to Updates not showing unless you hard refresh"
1. Publish a new Update or delete an old draft
2. Go back the to Collective page and scroll to the Updates section to see the results of your handiwork
3. The new Update does not show up
4. Do a hard refresh
5. See the new Update

It seems like a very natural path to post a new Update and then go back to your page to have a look. Can we refresh the page automatically or something?

[2021-07-22 06:35] Betree commented on #4471
It would be interesting to have some feedback from @opencollective/design (who initially proposed this) and native English speakers (@alanna) on this one.

[2021-07-22 06:46] Betree opened #4483 "Can't disconnect PayPal account for Payouts"
In `Edit` > `Sending Money`, you have an option to Enable/Disable PayPal but there's no way to disconnect it. It's a problem for support as we sometimes want people to re-connect their PayPal. They may also want to switch to another account.

![image](https://user-images.githubusercontent.com/1556356/126599350-eb41d23f-1aed-4441-a639-275e86e52535.png)

[2021-07-22 06:50] Betree commented on #4481
It seems related to the scrollbar appearing and disappearing. Either we make the container grow automatically (so no scrollbar will be needed) or we make sure the scrollbar is displayed at all times, even when not needed (CSS `overflow-y: scroll`).

[2021-07-22 06:54] Betree commented on #4480
Not sure if that's part of the proposal, but I would be reluctant about removing `Contribute` from the navbar as it's against the patterns we've set up. We can eventually rename `Contribute` to `Tickets` if there are no custom contributions for the event and remove this tooltip in this case.

[2021-07-22 08:05] alanna commented on #4480
That alternative sounds good. The main point is to remove confusion when the current Contribute setup doesn't match the function of the page.

[2021-07-22 08:10] alanna commented on #4471
`$1.234k` and $4.321k` are not abbreviations that are used in English and I think they look weird. Even more, it doesn't actually abbreviate it because it's the same number of characters as `$1,234` and `$4,321`. Abbreviations with K are usually approximations or at least perfectly round numbers. Abbreviations with decimals really only start with m for million as in `$4.2m`.

[2021-07-22 08:29] Betree commented on #3745
This was solved as part of the collective page accessibility update

[2021-07-22 08:29] #3745 closed

[2021-07-22 08:42] Betree commented on #3658
The expense popup update does not apply since it has been removed.

However, it looks like the tooltip proposal to show the amount breakdown can solve #4438. Ping @znarf

[2021-07-22 08:44] Betree commented on #4438
Looks like this might be resolved by the proposal from https://github.com/opencollective/opencollective/issues/3658:
![image](https://user-images.githubusercontent.com/1556356/126612217-61761236-f0d9-4b6b-891b-d6e75df9dc40.png)

[2021-07-22 08:46] Betree commented on #3700
The intent of this issue is unclear, closing.

[2021-07-22 08:46] #3700 closed

[2021-07-22 09:24] znarf commented on #4438
Looking good!

[2021-07-22 10:50] Betree commented on #3658
@Memo-Es The first proposal (Transactions list) is missing the action buttons for "Refund" and "Reject"

![image](https://user-images.githubusercontent.com/1556356/126628112-88bf98ed-0ef0-4792-a34d-8b86e6b8718c.png)

[2021-07-22 12:23] BenJam commented on #4200
I filed the application and have docs for gemini ready to go.  I've continued looking at providers and I think confirmo might be the option, if I don't hear back from bitly.

[2021-07-22 12:27] BenJam commented on #4471
++ if the amount is over 10k then I might expect abbreviations in the USD, GBP or EU for round numbers 10k 10.2k and at a stretch 10.23k but three decimals on abbreviations is weird.

[2021-07-22 12:28] BenJam commented on #4469
was, I believe, the original intent for this.

[2021-07-22 12:46] BenJam commented on #4280
I think this issue is actually causing some confusion so I'm going to close this out in favor of https://github.com/opencollective/opencollective/issues/4469

[2021-07-22 12:47] #4164 closed

[2021-07-22 12:53] BenJam commented on #4280
Just realised that this is linked to the main project page, and that it's quite possibly useful for that. I do think that https://github.com/opencollective/opencollective/issues/4469 should be the only events thing that we have prioritised this sprint (with a mod that as @alanna mentions it should be about improving the workflow for moving budgets between events/projects and their parent collectiv

[2021-07-22 12:54] #4393 closed

[2021-07-22 12:54] BenJam commented on #4469
@suds can we change this to 'improve the process for moving money between events/projects and parent collectives. In my mind I think we should do something through the contribution flow that prioritises the available contributors, maybe being a little more intentional in the language (mock up tbd)

[2021-07-22 14:03] SudharakaP commented on #4469
@BenJam : Sure, I've re-titled this one. Yes my thoughts as well. 👍🏽

[2021-07-22 17:45] SudharakaP commented on #4481
@Betree : Did you manage to recreate it? I couldn't re-create this scenario on Firefox or Chrome.

@alanna : What browser/version were you using? 🤔

[2021-07-22 18:23] SudharakaP commented on #4482
This one is something that I've seen several times but somehow forgot to create an issue as and when I saw it. Thanks @alanna. 👍🏽

I think this is due out the Apollo cache policy we have (defaulting to `cache-first`) for updates. My thinking is that we should probably `cache-and-network` for updates since I suppose this can be quite a common flow and keeping the cache up-to date makes sense. 🤔

@B

[2021-07-22 18:27] #4479 closed

[2021-07-22 18:51] SudharakaP commented on #4477
This is done as per the two PRs above; and hence closing. 🐼

[2021-07-22 18:51] #4477 closed

[2021-07-22 18:57] SudharakaP commented on #4468
As per my discussion with @Betree the initial plan I proposed above is off the mark. We already have a `EmptyBalance.js` component which we use for `Funds` and `Collectives` to transfer the budget to their respective `Fiscal Host`. And thus we should adapt the same component to support the transfer from the `Project` or `Event` to the `Collective`. I'll changed the issue to reflect that. 😄

[2021-07-22 20:40] SudharakaP commented on #4469
Just to note maybe part of what's needed here (transfer from event/project -> parent collective) is done at, https://github.com/opencollective/opencollective/issues/4468 (demo at, https://github.com/opencollective/opencollective-frontend/pull/6670#issue-695453855). My thinking is that what's probably we need to focus here is the forward transfer (parent collective -> event/project) probably. Anywa

[2021-07-22 20:45] SudharakaP commented on #4457
This is no longer valid since we decided to use the contribution flow instead of a dedicated modal; therefore I am closing this. 🙂

[2021-07-22 20:45] #4457 closed

[2021-07-22 20:45] SudharakaP commented on #4458
This is no longer valid since we decided to use the contribution flow instead of a dedicated modal; therefore I am closing this. 🙂

[2021-07-22 20:46] #4458 closed

[2021-07-22 20:46] SudharakaP commented on #4460
This is no longer valid since we decided to use the contribution flow instead of a dedicated modal; therefore I am closing this. 🙂

[2021-07-22 20:46] #4460 closed

[2021-07-22 21:04] SudharakaP opened #4484 "Add Special Flow to Contribution Tier for Crypto"
Depends on https://github.com/opencollective/opencollective/issues/4456.

We need to add some special contribution flow sections for crypto contributions. When the user click on the Crypto tier (as explained in the above referenced issue) then the user should be taken to the crypto flow. The design is given below.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-

[2021-07-22 21:08] SudharakaP opened #4485 "Use The Giving Block To Generate the Wallet Address"
Depends on https://github.com/opencollective/opencollective/issues/4484

We need to add connect to [The Giving Block](https://app.gitbook.com/@the-giving-block/s/public-api-documentation/endpoints-documentation) to generate the wallet address and display it on the third step of the contribution tier for crypto contributions.

Figma Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-De

[2021-07-22 21:10] kaylarep commented on #4312
![image](https://user-images.githubusercontent.com/64920686/126707788-d7972b61-c92e-41e3-94f2-8009a7ffa8b5.png)

Would love some 'Sort by' options: Date created, alphabetical

The 'Specific Collectives' List should probably be alphabetical if possible

Also View __ #of cards on page would be helpful.

[2021-07-22 21:52] znarf commented on #4485
For an MVP, we may create wallet addresses manually and simply add them in the configuration.

[2021-07-22 21:59] kaylarep commented on #4432
@Betree ah you're right! ok makes sense, I will keep a better eye out. Thanks!

[2021-07-22 22:23] kaylarep commented on #4280
do we want to edit the auto-reply sent out? At least to say : "New event attendee" instead of 'financial contributor' in both places?
![image](https://user-images.githubusercontent.com/64920686/126716799-8680a5cd-decb-4ab9-a934-3bf1018e56a8.png)

[2021-07-22 22:31] kaylarep commented on #4280
Also, after completing registration for an event, is it possible to include those buttons that allow you auto-import it into your gcal/ical/etc.? (do you know what I mean by this? I can find an example somewhere if not)

[2021-07-22 23:18] alanna commented on #4481
Chrome on Mac.

Try it with a big image like I had in this example maybe? I think I noticed
it only started once the image was there.

[2021-07-23 03:44] buzzykiwi commented on #4383
Thanks @Betree - I look forward to hearing more info once it's underway.
Cheers
Stephen

[2021-07-23 07:16] Betree opened #4486 "Host dashboard: sort applications by application date"
Today, host applications are sorted using the collective creation date (`collective.createdAt`). This is not ideal, because a collective changing its host or applying long after its creation date will appear at the bottom of the list, even on another page since this is paginated.

The reason why it was done like that is that, historically, we did not store the application date. This changed with h

[2021-07-23 07:18] Betree commented on #4432
I've created a separate issue for sorting applications correctly: https://github.com/opencollective/opencollective/issues/4486

Closing this one since the rest is not a bug, and the proposal for redirects is already documented in https://github.com/opencollective/opencollective/issues/2283.

[2021-07-23 07:18] #4432 closed

[2021-07-23 07:20] Betree commented on #4484
This section already exists, it's currently only visible for contributions > $5000.

[2021-07-23 07:23] #4433 closed

[2021-07-23 07:26] #4131 closed

[2021-07-23 07:39] #4475 closed

[2021-07-23 08:39] #4003 closed

[2021-07-23 09:45] znarf commented on #4484
Regarding the User Details section, if we don't have extra requirement ourselves, we can just use what exists. And eventually trigger the same  behavior that is currently for contributions > $5000.

In case we wanted to add some fields to accommodate The Giving Block API case, we don't have do it anymore.

[2021-07-23 10:15] znarf commented on #4471
Abbreviation with decimals seems a clear no go.

I personally think it's a bit complex to abbreviate in some cases and in some not, this is why I initially proposed to stop abbreviating altogether. Remember that we're talking about the presets of the contribution flow, so it's really uncommon to have really big numbers here.

[2021-07-23 10:50] znarf commented on #4456
Crypto should not be a Tier Type. It can be something similar to "Enable flexible contributions"

[2021-07-23 11:52] Betree commented on #4456
I agree. Crypto is a payment method type, not a tier type.

Tier types are used for many things, like deciding whether we need to apply taxes (product, services) or create special types of memberships (ticket, membership). It seems dangerous to override it only because the payment method is different.

[2021-07-23 12:35] SudharakaP commented on #4317
Adding something mentioned by @piamancini on Slack; https://opencollective.slack.com/archives/C9767R4V9/p1627030714018200

[2021-07-23 14:15] SudharakaP opened #4487 "Update `SendMoneyToCollective` Mutation to GraphQL version 2"
We need to update the `SendMoneyToCollective` mutation;

https://github.com/opencollective/opencollective-frontend/blob/047b674ee041827aab11467e0a8bc3f2f890995a/components/SendMoneyToCollectiveBtn.js#L120

to GraphQL version 2. 🙂

Related to https://github.com/opencollective/opencollective/issues/4468.

Related Slack Discussion: https://opencollective.slack.com/archives/C0RMV6F8C/p1627046069302100

[2021-07-23 14:21] SudharakaP opened #4488 "Improve Design in Empty Balance Button"
As discussed in our weekly demo the current button for emptying the project/even balance shows 0.00 after the project balance is emptied. We probably needs some design iteration/review for this.

So currently for projects/events what we have is,

![image](https://user-images.githubusercontent.com/12435965/126795654-d22c390a-b262-4301-accb-f63bdb3dec8b.png)

@opencollective/design

[2021-07-23 14:35] SudharakaP opened #4489 "Create a new Transaction Kind for Internal Transfers"
For internal transfers,

- Moving funds from collective to its respective host
- Moving funds from project/event to its parent collective

we need to track these in the ledger using a separate transaction kind. I suggest the transaction kind name to be, `INTERNAL_TRANSFER`.

We need to,

- [ ] ~~Create migration to search for all transfers form collective to host or project/event to its parent col

[2021-07-23 14:37] Betree commented on #4489
I don't know if we need to expose that in the frontend now, for the current use case it can be guessed by looking at `FromCollective`/`Collective`. But that might be useful for later. @znarf wdyt?

[2021-07-23 14:49] Betree commented on #4442
`Designs AddOn` looks great, and matches what we were talking about last time  - simply to have Figma & implementation displayed in the same place.

I don't think our Styleguide/Design system is mature enough to justify the use of `Contrast`. A lot of our components are far from being pixel-perfect.

[2021-07-23 16:54] discoveranirban opened #4490 "Minify JS files"
Is there anyway the scripts that are being fetched while rendering a page in the website can be minified ? That'd reduce the payload size a bit.

[2021-07-23 17:38] SudharakaP commented on #4490
@discoveranirban : Hi, the front-end is based on [NextJS](https://nextjs.org/) and NextJS uses [Webpack](https://webpack.js.org) and [Webpack minifies in production mode](https://webpack.js.org). 😃

[2021-07-23 17:39] #4490 closed

[2021-07-23 18:21] discoveranirban commented on #4490
yes, but the scripts which are in the public folder of nextJS project, those aren't getting minified. Is there a way to do that ? Rest are getting minified.

[2021-07-23 18:47] SudharakaP commented on #4490
Not sure if I understand correctly. Can you give me an example of a file that isn't getting minified?

[2021-07-23 23:16] alanna opened #4491 "Reveal total payout sum per payee to host admin"
At OCF we have some regulatory/policy thresholds related to the total a given expense submitter has been paid in the current calendar year. It would be very helpful to reveal this figure in the app for the host admin to refer to while paying expenses. I'm thinking of a way which I hope will be easy to implement.

On the expense page, and when viewing the expense on the list on the Host dashboard o

[2021-07-23 23:17] alanna commented on #4491
@alinamanko let us know if this solution would fill the need

[2021-07-23 23:35] alanna opened #4492 "Calculate host fee on pre-tax total"
Example: Contributor buys event ticket. The ticket price is $100. The system adds local tax (15% GST), so the total payment is $115.

Now: 10% Host fee is calculated on the total of $115, so $11.50 is diverted to the Host balance, $15 tax is not credited to any balance, and $88.50 to the Collective (I think? please check that the Collective isn't getting 90% of $100=$90 because in that case the to

[2021-07-23 23:40] alanna opened #4493 "Add local tax to in-app host reports"
We just got local tax data added to emailed host reports #4475 which is a great start, but can we please also include it in the upcoming in-app Host report section that has been designed by @Memo-Es ? Ideally with the ability to define the time range, as tax periods are different in different countries (e.g. in NZ it's either every 2 months or every 6 months, in the US it's annual by calendar year

[2021-07-23 23:49] alanna opened #4494 "Automatically track local tax in a Project"
I've been learning a lot going through my first round of paying GST for the OCNZ host, and I have an idea to make this much easier by using our existing features.

When any transaction happens in that Host with local tax involved, a Project could be automatically created under the Host called "Local Tax". When a transaction happens with local tax, the tax portion gets credited to this Project. The

[2021-07-24 03:10] alanna opened #4495 "Long Fiscal Host and Connected Collective name"
<img width="1250" alt="Screen Shot 2021-07-24 at 3 08 47 PM" src="https://user-images.githubusercontent.com/5498878/126855786-14353c67-1f1a-4594-9ef7-083c29ec65ef.png">

https://opencollective.com/enablefund

This doesn't look good.

[2021-07-24 06:35] SudharakaP commented on #4495
For this I suggest we only show both the `Fiscal Host` and `Part of` with a max of 20 characters. Everything else will be truncated to show, `Re-NABLE OpenCollect...`. And when hovered over it we show the full name in a tool-tip (only if it's truncated). 🤔

[2021-07-24 06:38] SudharakaP commented on #4491
I would suggest adding a info icon next to the name just like we have for,

![image](https://user-images.githubusercontent.com/12435965/126859955-583b6ea6-1825-4570-abd1-dbfa58b0f3b0.png)

And when the user hover over the info icon we show the text as @alanna suggested. Without some kinda indication like the info icon I think users will have no way of knowing that they could see this information b

[2021-07-24 06:52] #4468 closed

[2021-07-24 20:31] SudharakaP commented on #4456
@znarf @Betree : Thanks for the information. I've altered the issue to make the Crypto Contribution as an `Amount Type` instead. Hope that makes sense now. Let me know if there's anything you need to add/change here. 👍🏽

[2021-07-25 14:12] simonv3 commented on #4495
I can take this one on

[2021-07-25 19:05] SudharakaP commented on #4495
@simonv3 : Thanks. Let us give a few days for other team members to comment on this so we can see if there's better alternatives to my suggested solution. After that we'll get back to you so that you can take the issue. 😄

@opencollective/core : Do you agree with my suggestion; or you have any other ideas on this?

[2021-07-26 00:46] alinamanko commented on #4491
@alanna I think this can be a good solution. Ideally it would be great to have this visibility from the host dashboard directly without the need to open each expense form, but I recognize this may not be the option as the full name of the user is only visible once you hover over their avatar. I would also like to keep this option, ideally, as something visible to the host admin and maybe collectiv

[2021-07-26 03:55] alanna opened #4496 "Receipts not showing billing entity"
I just downloaded some receipts for contributions my organization made, and it's showing the payer name and address where the vendor info should be. For a receipt to be valid, it must contain the vendor's entity name and address, so this is a problem.

On these examples, Protozoa (the contributor) is the only entity that appears. These should list Open Collective Europe and Open Source Collective

[2021-07-26 04:04] SudharakaP commented on #4382
It seems that everything in this issue was addressed, and therefore I am closing the issue. 🙂

[2021-07-26 04:07] alanna opened #4497 "Attach payable invoice to bank transfer contribution emails"
This is the email notification you get if you set up a bank transfer contribution:

![Screen Shot 2021-07-26 at 12 11 30 PM](https://user-images.githubusercontent.com/5498878/126918019-a75e5555-f951-4f71-8747-e38a35d009ca.png)

This has many of the required details to function as a payable invoice, but not quite. Many companies cannot make a payment unless they have an invoice, even though they wi

[2021-07-26 04:08] alanna commented on #4396
Adding #4497 to this

[2021-07-26 05:20] SudharakaP commented on #4471
Just to note, the number of valid collectives which has tiers which include amounts greater than, 100,000 is around 1 or 2 according to my rough calculations (and those don't seem to have any contributions for those tiers). So my thinking is abbreviations for amounts larger than this amount isn't probably useful. 🤔

[2021-07-26 06:55] Betree commented on #4491
Related: https://github.com/opencollective/opencollective/issues/3258

[2021-07-26 06:58] Betree commented on #3258
According to the proposal made in https://github.com/opencollective/opencollective/issues/4491, we could surface an icon next to the contributor's name, showing a tooltip on hover:
- If another expense was paid in the past:

- Otherwise

[2021-07-26 07:09] Betree commented on #4494
The spirit of the latest ledger changes is to break down contributions into multiple transactions and this proposal goes in this direction. The same functionality can, IMO, be achieved without a project, just by surfacing the information properly in the frontend and making sure taxes are accounted for properly in all balances.

[2021-07-26 07:14] Betree commented on #4495
20 characters seems a bit small, we often use 30 or 60. With 20 `Open Source Collective` would be truncated while it looks good in most cases. But feel free to play with the values to figure out the best one.

There's also another fix for this one: we don't need to show both `Fiscal host:` and `Part of:` if both are the same. In such cases, only the Fiscal Host part should be displayed.

[2021-07-26 07:18] Betree commented on #4456
Using `Amount type` seems like a hack as well. The values for this field (flexible, fixed) have nothing to do with the payment method. We may want to allow flexible and/or flexible contributions with crypto in the future. I think the proposal from https://github.com/opencollective/opencollective/issues/4456#issuecomment-885556993 is a good approach.

[2021-07-26 09:02] Betree commented on #3236
Yes, it's all done. We needed to wait a bit because Zapier forces you to deprecate your app ~2 weeks before it can be deleted entirely. I just removed the app, so Zapier is now gone for good.

[2021-07-26 09:42] BenJam commented on #4476
@kewitz we may have waited this one out 'till you were able to help out. I'd like to work through the solution/s here if poss /cc @znarf

[2021-07-26 09:57] alanna commented on #4494
One reason I'm suggesting it be a Project is because right now, even if tax was properly surfaced in both Collective ledgers and CSV exports, there is no function for a host to export all transactions across all its Collectives, which is the dataset I need to work with as a host admin trying to calculate tax.

@Betree can you explain in more detail how a host would get this data if it were surface

[2021-07-26 12:42] SudharakaP commented on #4495
@Betree : Thanks for the ideas. 👍🏽

@simonv3 : If you'd still like to take this one, it's yours. Let us know if you need any help. So we can do the following two things,

- [ ] Use 30-60 characters (whatever looks the best) for the `Fiscal Host` and `Part of`
- [ ] If both `Fiscal Host` and `Part of` are the same only show the `Fiscal Host`

[2021-07-26 13:29] kewitz commented on #4476
- [x] Disable users in India to add local accounts as a payment option (and prompt them to use an alternative) for expenses to collectives hosted by nonprofits
https://github.com/opencollective/opencollective-api/pull/6054
- [x] Ensure that nonprofit hosts do not send payments for accounts based in India
https://github.com/opencollective/opencollective-api/pull/6287

[2021-07-26 13:53] kewitz opened #4498 "Use I18nAddressFields component in the Contribution Flow"
Deprecate the free-form address field in the contribution flow in favor of I18nAddressFields.

[2021-07-26 14:21] ersachin3112 commented on #4465
I will work on this one.

[2021-07-26 15:43] SudharakaP commented on #4491
@Betree : Do you think we should add the [proposal above](https://github.com/opencollective/opencollective/issues/4491#issuecomment-886008741) as a quick fix or maybe wait for design for #3258 ? 🤔

[2021-07-26 22:23] alanna opened #4499 "Virtual card should not accept expiration date in the past"
Just ran into an issue where a virtual card had been set up on the OC side with an exp date in 2016 (due to a typo). It was correctly set to 2026 in Privacy so it's human error. When you create a virtual card it should not accept a date in the past.

[2021-07-27 02:16] Memo-Es commented on #4300
Reports section design proposal https://www.loom.com/share/590e2b010a7647a7ad75d7a8ff779aea

[2021-07-27 03:57] alanna opened #4500 "Don't display contribution tiers if no payment methods are available"
If you go to https://opencollective.com/hackmd you see:

![Screen Shot 2021-07-27 at 3 54 02 PM](https://user-images.githubusercontent.com/5498878/127092792-fa7b279c-568b-4f1c-8900-7d501150f59a.png)

But if you click and try to contribute, you see:

![Screen Shot 2021-07-27 at 3 54 41 PM](https://user-images.githubusercontent.com/5498878/127092856-9288ff61-8581-424c-84fb-8b70622e89f5.png)

I think

[2021-07-27 05:10] shannondwray commented on #4317
@Memo-Es  Thank you!! have actioned all of these :)

[2021-07-27 05:24] SudharakaP commented on #4317
@znarf: I've tagged you on some small questions in the original post; https://github.com/opencollective/opencollective/issues/4317#issue-904761276. If you could answer these it will be really helpful. Thanks. 😃

[2021-07-27 06:45] Betree commented on #4491
I like this proposal, I think it's simple enough to iterate without waiting for design. We should still demo it to them, to get their feedback in case they see something blocking

[2021-07-27 06:50] Betree commented on #4500
This collective seems to accept bank transfers, I see the option when I go with a simple contribution without interval.

The issue stands still though, I agree we should rather show a message if there's no way to contribute.

[2021-07-27 07:20] Betree commented on #4317
This page is duplicated:
- https://docs.opencollective.com/help/internal/architecture
- https://docs.opencollective.com/help/contributing/development/architecture

IMO, it should live under https://docs.opencollective.com/help/contributing/architecture.

[2021-07-27 10:21] Betree opened #4501 "Frontend: page to handle async payment validations"
For some payment methods like PayPal (when using a bank account) or the Giving Block (crypto), the payment sometimes is an async process that can take a few minutes to confirm and is only validated by a webhook event.

Today, we handle this a bit naively: we create the order as `NEW` and show the success page immediately. The order is then updated when we receive the proper webhook event. This app

[2021-07-27 10:23] Betree commented on #4501
Ping @SudharakaP, I don't know if that's something we want for the initial release of Crypto, but let's keep this issue in mind to build a solution that will work for all systems where the payment is asynchronous.

[2021-07-27 12:45] Betree commented on #4494
@alanna We still need to work on a `/host/dashboard/transactions` page to group all transactions across hosted collectives, we know that's something needed, and it should be fairly easy to re-use existing components to build it. From such page, after implementing taxes as separate transactions, it would be as simple as selecting `Taxes` in the `kind` filter and clicking on "Export CSV".

[2021-07-27 12:49] Betree commented on #4478
Some approaches I've taken so far with support tickets:
- Reset 2FA directly for accounts that were empty
- Asked for an ID for an account that was using its real name and had admin permissions on a host
- Asked for a proof to be added on a repo (a file with a random UUID) for a collective admin to make sure they are admin of the repo, as the person was using a pseudonym.

[2021-07-27 12:52] Betree commented on #4474
@SudharakaP It's possible that only MacOS is affected, we should try reproducing with this OS.

[2021-07-27 12:55] BenJam commented on #4317
@Betree I removed the dupe, I'm gonna be updating some of the material there.

[2021-07-27 12:57] Betree commented on #4153
It's possible. Posting a message in a dedicated channel on Slack is probably the simplest to implement. Would that work?

[2021-07-27 13:40] SudharakaP commented on #4474
Unfortunately I don't have a Mac. However I tested on Browser-stack (with Catalina OS and Chrome as the bug describes) and still couldn't recreate it. 🤔

![time-picker](https://user-images.githubusercontent.com/12435965/127163827-25eaf21a-bd7c-4b80-9e31-43e0d7371ab2.gif)

Maybe we need to test it on a real device. 🤔

[2021-07-27 16:04] SudharakaP commented on #4501
Thanks, I'll keep this in mind when working on Crypto. 🤔

[2021-07-27 16:49] SudharakaP commented on #4481
@alanna : Tried some larger images as well, but couldn't see this issue; could you send the image you used. Maybe it has a particular size that triggers this. 🤔

[2021-07-27 22:47] alanna commented on #4481
![Gift Collective Logo (Main Logo) 1 - Dark_Green](https://user-images.githubusercontent.com/5498878/127237248-f93f5682-5cf0-4e17-aef1-1b9f79c85350.png)

[2021-07-27 22:52] alanna commented on #4153
Sure a slack channel is a good start.

Would it be hard to pop up an error to the user if they make a tip larger than the contribution asking if they are sure they want to do it?

[2021-07-27 23:34] alanna opened #4502 "Unable to export transactions in certain date range"
I'm trying to export transactions from: https://opencollective.com/foundation/transactions

I put in 01/01/2020 to today for the range, but when I opened the CSV the earliest ones were from 03/03/2020. So I went back and tried to export the range 01/01/2020-03/02/020, but the little timer just kept spinning and the export never happened.

[2021-07-28 06:40] Betree commented on #4153
That would be pretty easy, and it seems like a good way to fix the issue (actually better than an alert on Slack). Can you propose a message that I can use to prepare a demo and see if we have a team consensus?

[2021-07-28 07:09] SudharakaP commented on #4481
@Betree : Although I couldn't reproduce this issue (even with Alanna's image above), I think your suggested solution of adding `overflow: scroll` should solve it; since it will always keep the scrollbar and only disable it when there's no overflow. I've made a PR with that fix, and if you are okay we could give this a try. 😃

[2021-07-28 10:53] #4413 closed

[2021-07-28 12:57] SudharakaP commented on #4305
This seems no longer an issue, and hence I am closing this. I think this only effected me and I am not sure what was going on at that time in my machine. 🤔

[2021-07-28 12:57] #4305 closed

[2021-07-28 21:25] SudharakaP opened #4503 "Storybook Deployment Seems to be Down"
It seems that starting recently the Styleguide deployment is not working; https://styleguide.opencollective.com/

The following error is seen in the console, there seems to be no deployment errors. 🤔

[code]

[2021-07-29 07:03] Betree commented on #4503
Could be related to https://github.com/opencollective/opencollective-frontend/pull/6604, we should try to rollback to investigate

[2021-07-29 07:53] Betree commented on #4496
This issue only affected financial contributions from fiscal hosts (that's probably why we did not spot it before). Pushing a fix in https://github.com/opencollective/opencollective-api/pull/6366

[2021-07-29 09:17] znarf commented on #4153
I made a metabase query to check this. https://opencollective-metabase.herokuapp.com/question/473

Why are we not seeing more? Because they were corrected? Or a problem with the query?

[2021-07-29 09:50] Betree opened #4504 "GQLV2: rename CollectiveFeatures to AccountFeatures"
`CollectiveFeatures` was introduced in GQLV2 with the "Collective" wording, while we're using "Account" there. Since this is used on all pages of the site, we'll need to make the change in a non-breaking way:
- [ ] Clone `CollectiveFeatures` to `AccountFeatures`
- [ ] Introduce a new `migratedFeatures` field to serve this new type
- [ ] Update all frontend queries like that:

[code]

- [ ] Wait a

[2021-07-29 09:56] alanna commented on #4153
All the ones I have encountered have been corrected via refunding and
redoing the transaction. I have helped users with that probably half a
dozen times. So it could be that's it.

[2021-07-29 09:58] znarf commented on #4153
If this was handled through refunding then that's not it. We should be able to see them, will double check the query.

[2021-07-29 14:36] znarf opened #4505 "Migrate from isPlatformTipSettlement to Expense.type = 'SETTLEMENT'"
Following up from https://github.com/opencollective/opencollective-api/pull/6372#discussion_r679210574

We should move away from this property in the `data` field that is not properly named anymore and use instead a more explicit `Expense.type = 'SETTLEMENT'`.

[2021-07-29 15:33] #4487 closed

[2021-07-29 16:24] #4482 closed

[2021-07-29 21:32] Memo-Es commented on #4346
## Design updates

| Tier card design update | Tier card settings / Hosts | Tier card settings / Collectives |
|-------------------------|----------------------------|----------------------------------|
|     ![❖  Source Components](https://user-images.githubusercontent.com/49539954/127568444-d948de0f-f5c5-4ff3-b319-daeb8c9083ef.png)             |   ![Main + Flexible + Custom Payment (1)](https://

[2021-07-29 21:34] Memo-Es commented on #4456
Just updated the issue regarding the tier card design update on the card and settings https://github.com/opencollective/opencollective/issues/4346

cc @SudharakaP

[2021-07-29 21:39] SudharakaP commented on #4456
Thanks Memo. 😄

[2021-07-29 22:08] alanna opened #4506 "Add "expense invited" to status updates"
The goal of the status updates in expense comment threads is to be able to tell the full story of an expense from its history, such as who edited it, approved it, paid it, etc.

Right now one action is missing: who invited the expense. I think "Expense invited" should appear at the top here if it was an invited expense:

![Screen Shot 2021-07-30 at 10 04 26 AM](https://user-images.githubuserconten

[2021-07-29 22:09] alanna opened #4507 "Use 'invited' everywhere for things related to invited expenses"
We have a feature called 'invite expense'. Everywhere we refer to this action, it should be 'invite'. But sometimes we're using 'request' instead. Let's be consistent.

![Screen Shot 2021-07-30 at 10 04 34 AM](https://user-images.githubusercontent.com/5498878/127572117-dac0fc60-1aeb-4d8f-bcb1-acd16b5284c8.png)

[2021-07-30 05:21] ersachin3112 commented on #4465
If we clear all selections we  will end up with no transactions on page, I don't think we want that.

<img width="1285" alt="Screenshot 2021-07-30 at 10 49 20 AM" src="https://user-images.githubusercontent.com/80162912/127604402-beed29d5-5e6b-4351-bda3-d27b3b91ed2c.png">

[2021-07-30 05:45] SudharakaP commented on #4465
My suggestion is we remove clear icon (the cross icon) because that doesn't make sense to give the user the ability to clear everything and then of course no transactions would show up. Rather my thinking is we should,

- Remove the `x` icon so that user can select and deselect manually. 🤔
- The user should not be able to clear everything. If they removed everything but except one transaction kind

[2021-07-30 07:50] Betree opened #4508 "Improve tip presets for free tiers"
When contributing to free tiers, you are presented with tip options in the contribution flow that don't look great:

![image](https://user-images.githubusercontent.com/1556356/127619232-cf4103bb-16c1-4a63-b6f9-c308bc8d8ea1.png)

# Proposed solution

I see two things to improve there:
1. If `tier.amount` is `0` and the amount is fixed, do not offer to add a tip.
2. If it's a free tier but with a fl

[2021-07-30 09:50] alanna commented on #4502
I queried in metabase and found there were 3 transactions in the range that's missing.

[2021-07-30 10:14] Betree commented on #4502
May it be related to the date format? Maybe it expects to get it in US format (MM/DD/YYYY)

[2021-07-30 11:12] alanna commented on #4502
I used the date picker. Also, these particular dates are the same either way! 02/02, 03/03

[2021-07-30 12:27] Betree commented on #4465
The expectation when nothing is selected would be to have no filter (fetch all kinds).

But I like @SudharakaP's [suggestion](https://github.com/opencollective/opencollective/issues/4465#issuecomment-889644399) above, I think removing the `x` will simplify this.

[2021-07-30 12:33] Betree commented on #4502
In https://github.com/opencollective/opencollective-api/blob/f20af022c6a396609f1083863d2a1d7d51fee1b2/server/models/Collective.js#L2562 it seems that we're using `Lower than`, and not `Lower than or equal`. So we probably have the same issue there as https://github.com/opencollective/opencollective/issues/4424: when `2021-03-03` is provided as an `endDate`, transactions from `2021-03-03` won't be

[2021-07-30 12:37] #2959 closed

[2021-07-30 12:49] znarf commented on #4503
Seems to be fixed by: https://github.com/opencollective/opencollective-frontend/pull/6701

[2021-07-30 12:51] SudharakaP commented on #4465
That makes sense, just to make it a bit clearer then the fix should be,

- Remove `x`
- When user de-selects all the `kind` filters it should show everything (fetch all kinds).

@ersachin3112 : Thanks for taking the issue, let us know if you need any help on this. 😄

[2021-07-30 12:52] #4481 closed

[2021-07-30 12:58] #4380 closed

[2021-07-30 13:04] #4503 closed

[2021-07-30 16:50] #4443 closed

[2021-07-30 17:37] Betree commented on #4401
@alinamanko was this solved? I just tried to reproduce without success

![Peek 2021-07-30 19-37](https://user-images.githubusercontent.com/1556356/127691033-aa891b14-252b-4f04-9ecf-4c2a124d039b.gif)

[2021-07-30 17:37] #4463 closed

[2021-07-30 19:11] SudharakaP commented on #4472
@kewitz : We created this issue when you are away, but I forgot to assign it to you. I suppose this is solve now right because we are not showing the delete button in the UI anyways. 😄

[2021-08-01 21:03] alinamanko commented on #4401
@Betree that issue was resolved it seems - I will close it now.

[2021-08-01 21:03] #4401 closed

[2021-08-02 08:06] alanna commented on #4382
Reopening because I just got an email and receipt for a contribution made from the Host to one of its Collectives. This document doesn't make sense as a receipt.
[transaction_documentation_2021-08-02_734746e9-06f8-4f78-822c-caf5806e6e66.pdf](https://github.com/opencollective/opencollective/files/6915359/transaction_documentation_2021-08-02_734746e9-06f8-4f78-822c-caf5806e6e66.pdf)

[2021-08-02 08:09] znarf commented on #4382
@alanna Could you create a different issue if the problem is (perhaps slightly) different?

[2021-08-02 08:14] alanna commented on #4382
It's the same issue, exactly what was mentioned above

[2021-08-02 08:19] znarf commented on #4382
I was just looking at the issue title "System is treating sending Event funds to Collective as a Contribution", I haven't seen it went out of scope already.

[2021-08-02 08:27] akashgp09 commented on #4506
Hi @alanna,  I have resolve two `bounty candidate` issues:  #4506 and #4507.

Can a bounty be added to these issues ?

[2021-08-02 08:39] znarf commented on #4489
To be clear, we need also to make sure the transaction is not treated as a Contribution, the Parent or Host should for example not appear as a "BACKER". And, I think this is already addressed, no "Thank you" email should be sent.

[2021-08-02 08:59] BenJam opened #4509 "[Events] TechUp! Aug 21/22"
Techup! is 'The I/O Foundation](https://www.theiofoundation.org/)'s a monthly gathering of technologists who are interested in using their superpowers to fight for digital rights and generally support civil society.

**Event date(s) & Time(s):** Aug 21

* Talks: (3-4am/3-4pm/4.30-5.30pm/7-8pm/8.30-9.30pm BST)
* Drop in Q&A (4-4.30am, 5.30-6am, 10-10.30am, 11.30-12pm, 4-4.30pm, 5.30-6pm, 8-8.30pm,

[2021-08-02 16:18] #4472 closed

[2021-08-02 23:36] alanna commented on #4506
@znarf can you help?

[2021-08-03 03:25] alanna commented on #3190
I've been doing a lot of admin uploading receipts for virtual card payments between Collectives in different hosts, so I'm uploading an OC receipt back to OC. It feels very redundant. Being able to directly contribute would be  a lot better.

[2021-08-03 03:50] alanna opened #4510 "Goal description not displayed on amount"
When you create a goal, you can specify a description:

![Screen Shot 2021-08-03 at 3 48 20 PM](https://user-images.githubusercontent.com/5498878/127954770-03af7cda-5bec-4eb3-87fb-ee725f5cb826.png)

However, this text apparently does not show up anywhere. I assumed it would show up when hovering over that goal on the progress bar, but it does not. We either need to find a place to display the desc

[2021-08-03 05:22] SudharakaP commented on #4510
@alanna : That is strange. For me, when I hover over the goal title in the progress bar I do see a tooltip with both the goals title and the description as shown below. 🤔

![Screenshot from 2021-08-02 22-20-54](https://user-images.githubusercontent.com/12435965/127962140-adbc4748-3497-4a4f-958b-0bba137fa70b.png)

[2021-08-03 07:18] znarf commented on #4506
@akashgp09 This is not our current process for Bounties, see https://docs.opencollective.com/help/contributing/development/bounties.

I can check if I can add a bounty and a price for those 2 issues. But to be clear, bounties are only paid when the PR is merged and the issue closed.

[2021-08-03 08:06] akashgp09 commented on #4506
Yeah cool, I have opened PR's for these issues and they are ready for a review :)

[2021-08-03 08:39] znarf commented on #4508
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](https://docs.opencollective.com/help/contributing/development/bounties).

[2021-08-03 08:44] carolineawoolard commented on #4280
@BenJam this seems like a bug - the time zone in the body of the event email is different than the time for the event.
![Screen Shot 2021-08-03 at 9 36 41 AM](https://user-images.githubusercontent.com/88373348/127986004-2ece1de5-366a-4370-9797-7210a9186abb.png)

[2021-08-03 08:46] carolineawoolard commented on #4280
Events UI/UX issue -- events appear in the order that they are created, not soonest first.

[2021-08-03 12:04] znarf opened #4512 "Host Fee Share with amount=0"
We should not insert Host Fee Share transactions when the amount is 0.

<img width="849" alt="Screenshot 2021-08-03 at 14 02 50" src="https://user-images.githubusercontent.com/806/128012265-2227929a-8659-45a9-b293-4dd42bf911b3.png">

[2021-08-03 12:41] #4440 closed

[2021-08-03 16:14] SudharakaP opened #4513 "ESLint Configuration Conflict"
I am seeing the following error on the API side when running e2e tests;

[code]

Sample GitHub Action run can be found at, https://github.com/opencollective/opencollective-api/pull/6354/checks?check_run_id=3232562149

[2021-08-03 16:38] JFQueralt opened #4514 "Enable setting to show Accountants as part of the Team in Collective & Project public pages."
## User story
At times, funders would like to know if you have a finance team and who they are. Currently Accountant user types are not showing in the Team.

## Best solution for this problem
* Option A: They are shown just like the rest of the team.
* Option B: They have a setting to enable them to be visible publicly or not.

## MVP

## Metrics

## Documentation

[2021-08-03 16:45] JFQueralt opened #4515 "API / Embed: Allow for other objects to be available."
## User story
Rarely ever a Collective (or Fiscal Host) will use Open Collective as their sole website. Typically, a more "official website" is to be used and it would always be interesting to be able to embed not only the donation option (as it is currently available) but also other objects such as the Collectives and Projects and so on.
Whether this is done via an API (extract JSON info, render

[2021-08-03 19:23] #4513 closed

[2021-08-03 20:31] #4456 closed

[2021-08-03 21:31] SudharakaP opened #4516 "Add QR Code for Crypto Deposit Address"
Depends on https://github.com/opencollective/opencollective/issues/4484

We need to add the QR code in the last (checkout) section of the contribution flow for crypto contributions. In this issue we will not add any API related logic but rather the support to view the QR code based on a hard-coded url.

We already use the `qrcode.react` in our 2FA flow. We can use this to show the QR code.

- [x]

[2021-08-03 21:50] znarf commented on #4516
The wallet address is not an URL, it's a string such as `13FBJasPZHeqwKqyGs6ACcLCArMK13MZaG`.

In the design, we can see a logo in the middle of the QR code, how are you planning to handle this? Have you checked that is is technical correct?

[2021-08-03 21:53] alanna commented on #4510
The description is not showing up on hover for me, nor for the user who reported this. The screenshot of the description above is in the settings of https://opencollective.com/test-abcd but when I mouse over the goal, nothing happens.

[2021-08-03 22:01] SudharakaP commented on #4516
@znarf : Sorry, yes, it's indeed a string. That's not a problem as the QR code generator will handle that as well; doesn't need to be a string.

As for the logo, I was going to post about this after a quick implementation (which is almost done now. 😉). This I think isn't feasible. Since a QR code will not be a QR code anymore if we place a logo in the middle. Simply put I don't think it's technica

[2021-08-03 22:27] SudharakaP commented on #4516
So I've added the QR code generation screen in the following PR (still draft). There's some minor things to be done here in terms of making it consistent with the design which I'll do tomorrow, and also add the order creation. In the meantime, let me know if you see any issues. 🙂

https://github.com/opencollective/opencollective-frontend/pull/6719#issue-702672614

[2021-08-03 22:59] watadarkstar opened #4517 "contributors.svg not updating"
**Describe the bug**
The [contributors.svg](https://opencollective.com/heylinda/contributors.svg?width=890&button=false) is not updating to reflect the repository contributors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a repository
2. Contribute
3. See how the svg does not update

**Expected behavior**
Updates contributors.svg in real time (or close to it). It's been 2 days and t

[2021-08-03 23:14] alinamanko opened #4518 "Order ready to pay expenses by oldest first"
## User story
When processing expenses, the dashboard view would list all Ready to Pay claims with the newer claims showing on top. When a user submits a number of claims, [like in this example](https://opencollective.com/vuetify/expenses/43516#new-comment-on-expense), the older invoices may get 'lost' further down the page (or on a different page altogether).

When the collective budget is not su

[2021-08-03 23:31] kewitz commented on #4466
### Spec
- [ ] Rename the button action to "Redefine 2FA"
- [ ] Update `twoFactorAuthAndUpdateToken (server/controllers/users.js#L102)`
  - [ ] When successfully using the recovery, delete `twoFactorAuthToken` and `twoFactorAuthRecoveryCodes`
- [ ] Update `frontend/lib/withLoggedInUser.js#L104`
  - [ ] When successfully calling `refreshTokenWithTwoFactorRecoveryCode`, redirect the user to `/{slug}

[2021-08-04 00:27] snitin315 commented on #4466
Taking this up.

[2021-08-04 05:45] akashgp09 commented on #4510
My observation is that the tooltip does show up when you hover over the goal title **`Our Goal`**, but When I try to hover over the amount **`$100`** or the interval **`per year`** area, the tooltip does not show up.

[2021-08-04 07:42] znarf opened #4519 "Updating recurring contribution should update Members"
When updating a recurring contribution and changing its Tier, we correctly update the `TierId` in the Orders table but should also update the BACKER entry in the Members table accordingly.

We should also create a script to fix the database with past occurrences.

- [ ] Update Members when updating Order
- [ ] Write script to fix past occurrences (not a migration, so we can trigger it when we want

[2021-08-04 08:16] #4508 closed

[2021-08-04 08:17] znarf commented on #4508
🏆 This issue was completed by @snitin315

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2021-08-04 09:02] znarf commented on #4516
What is your research on that topic? How have you came to this conclusion?

[2021-08-04 09:13] znarf opened #4520 "Settlement script should not be restricted to current month"
We should make sure (or double check) that the settlement script looks for non-settled transactions from previous months too.

If the amount is less than $10, we usually skip the settlement. But it's possible that after a few months we end up with a consolidated value that is more than $10. That way, we should be able to invoice those non-settled past transactions.

[2021-08-04 09:46] znarf commented on #4519
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](https://docs.opencollective.com/help/contributing/development/bounties).

[2021-08-04 11:50] znarf commented on #4519
@akashgp09 Thank you for looking at this. We expect to see significant progress within 1 week, after this we'll free the bounty for someone else.

[2021-08-04 11:57] #4333 closed

[2021-08-04 11:58] #4332 closed

[2021-08-04 12:06] znarf commented on #3864
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](https://docs.opencollective.com/help/contributing/development/bounties).

[2021-08-04 12:08] znarf commented on #3172
That was done. Sweet.

[2021-08-04 12:08] #3172 closed

[2021-08-04 12:09] znarf commented on #3124
Forest is gone.

[2021-08-04 12:09] #3124 closed

[2021-08-04 12:10] #2731 closed

[2021-08-04 12:10] #2686 closed

[2021-08-04 12:12] ersachin3112 commented on #3864
I am working on it.

[2021-08-04 12:12] #2612 closed

[2021-08-04 12:14] #4262 closed

[2021-08-04 12:14] #4339 closed

[2021-08-04 12:18] znarf commented on #4364
@alanna Can we close this?

[2021-08-04 12:22] znarf commented on #4459
Alternative, people should be able to "Create a Collective + Apply" and "Sign Up" in the same form. I think that would be the best experience.

[2021-08-04 12:26] znarf commented on #4278
Spec (copy pasted from [past comment](https://github.com/opencollective/opencollective/issues/4278#issuecomment-842273338)):

1. Change the URL of the "Apply with a new Collective" flow and move it from https://opencollective.com/opensource/apply to https://opencollective.com/opensource/apply/new That's necessary for step 2).
2. Now that https://opencollective.com/opensource/apply is free, change

[2021-08-04 12:28] znarf commented on #4278
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](https://docs.opencollective.com/help/contributing/development/bounties).

This is issue is marked as "medium complexity" and is reserved for people with enough experience with the code base, at least one fully completed issue.

[2021-08-04 12:31] znarf commented on #4338
This issue is difficult to action in this state. We'll however look at https://github.com/opencollective/opencollective/issues/4278.

@alanna maybe you should contact affected people and ask how they ended up in this situation.

[2021-08-04 12:54] ersachin3112 commented on #3864
/cc @znarf  It seems it is already fixed.

![CPT2108041822-828x840](https://user-images.githubusercontent.com/80162912/128184065-a77c5082-fc53-46b2-9283-589bcedadc67.gif)

[2021-08-04 12:55] znarf commented on #4360
On the budget side, it's a bit problematic to change the definition of the balance and integrate Projects and Events. Balances are completely separated and we use this to prevent people to spend more than their balance. If I have $50 in my Collective and $100 in my Event and we display $150 as a balance. Does this mean that I can spend the $150? That would be a problem. How do we make it clear tha

[2021-08-04 12:56] SudharakaP commented on #4516
Hmm, let me search more. I was reading the about QR codes yesterday (mostly the wiki article; https://en.wikipedia.org/wiki/QR_code) and I thought this is impossible since QR codes are barcodes and by adding images in the middle we are changing the barcode in some way. 🤔

[2021-08-04 13:00] znarf commented on #4462
It's generally not a good idea to fork our codebase, it's too complicated and overkill to operate.

Feel free to contact support@opencollective.com with your inquiry.

[2021-08-04 13:00] #4462 closed

[2021-08-04 13:02] znarf commented on #4516
I personally googled "can I put a logo in the middle of a QR code" and ended up there. https://scanova.io/blog/how-to-make-a-custom-qr-code/

[2021-08-04 13:12] znarf commented on #3864
@ersachin3112 Oh, the issue was likely outdated. Thank you for looking at this and sorry for this.

[2021-08-04 13:12] #3864 closed

[2021-08-04 13:20] #4512 closed

[2021-08-04 13:21] SudharakaP commented on #4516
Oh, you are right. It seems one can remove the data layers in the middle and add the image. I have an idea on how we can do this. Let me add this one to the above PR as well. 🤔

[2021-08-04 13:22] BenJam commented on #4280
@carolineawoolard @kaylarep I think maybe we should break these issues out separate from this project issue. So I'll do that now.

[2021-08-04 13:23] #4506 closed

[2021-08-04 13:24] BenJam opened #4521 "Add 'add to calendar' buttons for event sign ups."
As @kaylarep describes: https://github.com/opencollective/opencollective/issues/4280#issuecomment-885277812

![image](https://user-images.githubusercontent.com/64920686/126717429-9cb18ed4-90cb-478a-a766-0f957c152139.png)

[2021-08-04 13:26] BenJam opened #4522 "Event datetime appears to be incorrect in confirmation emails"
As reported by @carolineawoolard https://github.com/opencollective/opencollective/issues/4280#issuecomment-891657724

![Screen Shot 2021-08-03 at 9 36 41 AM](https://user-images.githubusercontent.com/88373348/127986004-2ece1de5-366a-4370-9797-7210a9186abb.png)

[2021-08-04 13:31] znarf commented on #4522
The Event is running at 9AM/10AM in UTC-07:00. The value on top looks accurate in CEST.

Unfortunately, we're not storing the user timezone and are not able to customize the email for them right now.

Best shot is too clearly state the timezone when displaying the dates in the email, like we do on the website.

<img width="784" alt="Screenshot 2021-08-04 at 15 31 09" src="https://user-images.githu

[2021-08-04 13:34] Memo-Es commented on #4516
Putting the logo in the middle is definitely not a must, we can move forward without it.

So it will be no QR code? @SudharakaP ?

[2021-08-04 13:52] znarf commented on #4522
Spec: explicitly state the timezone when displaying dates in event email.

A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](https://docs.opencollective.com/help/contributing/development/bounties).

[2021-08-04 13:54] #4466 closed

[2021-08-04 13:55] #3624 closed

[2021-08-04 14:00] SudharakaP commented on #4516
No it was my misunderstanding. I initially thought it will mess up the QR code, but I am wrong and we can add the image. I already added the crypto image, so all good. 👍🏽

![image](https://user-images.githubusercontent.com/12435965/128194322-7f3b2a88-62fe-4127-8fa5-fb5ca1eef403.png)

[2021-08-04 14:02] znarf commented on #4516
Is it a Bitcoin image in all cases or do you have an image for each crypto currency?

[2021-08-04 14:03] SudharakaP commented on #4516
Nope, I added images for all crypto currencies; depending on what the user chose. 🙂

![image](https://user-images.githubusercontent.com/12435965/128194891-bb68505c-128b-462f-894c-c94cc60fe02e.png)

[2021-08-04 14:04] kewitz commented on #4466
:trophy: This issue was completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-08-04 14:04] kewitz commented on #3624
:trophy: This issue was completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-08-04 14:13] SudharakaP commented on #4516
@znarf @Memo-Es : I am gonna add the success page (when the user click on finish) as part of this issue as well since I think it will be a simple change to slightly change our existing success page. The success page is given in the following design;

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13426%3A207901

I have a few suggestions;

- We

[2021-08-04 14:16] znarf commented on #4516
@SudharakaP Please look at the experience for Manual Bank Transfers, it should be similar (uncompleted transaction).

[2021-08-04 14:20] BenJam commented on #4360
fair point.

I think maybe the best thing to do here is list balances on the cards for projects and/or include the total balance/raised/distributed in the overview:

![Screenshot 2021-08-04 at 15 20 37](https://user-images.githubusercontent.com/158833/128197827-b6e92493-06b0-4c43-8387-2c82ae0d2283.png)

[2021-08-04 14:23] BenJam commented on #3981
I think @SudharakaP has been looking at this no?

[2021-08-04 14:31] SudharakaP opened #4523 "Error When Setting New Bank Transfer Details"
**Describe the bug**

It seems that there's an error occurring when trying to setup new bank transfer information for receiving funds. This was observed both on staging and on locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any host collective that you are the admin.
2. Go to Settings -> Receiving Money
3. Click on the `Set bank details` button.
4. See error

**Expected behavi

[2021-08-04 14:37] Memo-Es commented on #4516
@SudharakaP, I can go ahead and update the success page with the idea we had for the modal

<img width="621" alt="Screen Shot on 2021-08-04 at 09-35-32" src="https://user-images.githubusercontent.com/49539954/128200359-3afa1cbd-5c57-4672-9669-e772515d5d8d.png">

If this makes sense, I'll need a couple of hours to update, but I can have it ready today