[2022-09-13 02:09] fisker commented on #5671
Can't receive email notification when recurring expense submitted.

[2022-09-13 02:37] alanna commented on #5278
I'm still finding examples of this, like https://opencollective.com/fya

In the cases where I've spoken to them, they did not intend for this to happen, they just wanted to hide contributions and did not think hosted Collectives would be under that category.

[2022-09-13 06:41] Betree commented on #5943
This seem to happen only with virtual card charges, I'm looking at it

[2022-09-13 06:42] znarf commented on #5947
To give some context, we often get people deleting Tiers, then being afraid that recurring contributions would be stopped. They generally don't want it but having the checkbox would make the outcome clearer.

[2022-09-13 06:47] znarf commented on #5942
The design team worked on an updated transaction details and a transaction details page. This was containing such information if I remember.

[2022-09-13 06:53] Betree commented on #5949
Also reported in https://github.com/opencollective/opencollective/issues/4312#issuecomment-1241805983

[2022-09-13 06:57] znarf commented on #5949
The email in the screenshot looks plain wrong to me.

Seems to me the "A card attached to" was meant to be the `collective.name`?

[2022-09-13 07:17] RichardLitt commented on #5949
That would make more sense. May be an easy fix, then.

[2022-09-13 08:08] gustavlrsn commented on #5766
I noted that the alignment of buttons is fine when there simply are no contributors to the tier in question:

<img width="699" alt="image" src="https://user-images.githubusercontent.com/1552194/189843280-286e82b5-3aa7-4fe9-be28-bdf2d8af7d97.png">

It is when `hideContributors` is `true` that the alignment issue appears

<img width="1306" alt="image" src="https://user-images.githubusercontent.com/1

[2022-09-13 09:21] Betree commented on #5766
@gustavlrsn `hideContributors` is set to true only when there are no contributors to the collective, regardless of the tier.

The second example you've shared is a bug with the "Crypto contribution" tier that is apparently intentional: https://github.com/opencollective/opencollective-frontend/blob/8d2125ba568127cbf4511f20bb82a1d481b96971/components/collective-page/sections/Contribute.js#L195. We c

[2022-09-13 11:39] #5917 closed

[2022-09-13 11:40] #5918 closed

[2022-09-13 11:44] #5943 closed

[2022-09-13 12:52] #5359 closed

[2022-09-13 18:14] kewitz commented on #5758
This is how it currently works. In the host dashboard there will be an attention sign notifying that the collective still has admin invitations pending:
![](https://user-images.githubusercontent.com/2119706/189667428-d898f6e3-a118-4b3c-be63-a9fba8a096d8.png)

[2022-09-13 19:53] natehn commented on #5758
What is the reason for allowing Collectives with a pending invite to a second admin to go through? Why not just require two accepted admins?

[2022-09-13 21:00] alanna commented on #5758
True. It could just sit there until the second one accepts the invitation, then go through to the host. As long as we communicate to people that their application will not progress until the second admin accepts, I think that would be best for OCF. Not sure about other hosts.

[2022-09-14 06:35] Betree opened #5952 "Root action to deactivate spam accounts with transactions"
# Need

We cannot ban accounts with existing transactions (expenses or contributions). But some of them are SPAM or against our TOS and we don't want them to have more activity on the website nor to surface them anymore.

# Best solution for this problem

Ideally, we should be able to set a flag (`deactivatedAt`?) that would blank all the account's page while making its contributions appear as gue

[2022-09-14 11:58] kaylarep commented on #5758
I almost never use this page to view our applications. I probably could, but its not part of my workflow. I can start using it, but its an extra step I haven't needed up to now.

(Not saying we should get rid of that page or anything, its certainly still useful to have all the applications in one place.)

[2022-09-14 12:09] natehn commented on #5758
Do we currently get an email for these application, with a pending admin? I thought that the motivation was initially from the ticket management side of things

[2022-09-14 12:38] #5889 closed

[2022-09-14 12:46] kewitz commented on #5758
It is written above:

@alanna exactly, that's is a valid solution. We can just "hide" these applications until they comply with the policy.

@kaylarep what exactly is the flow you use? Is there any other place you can accept applications where we're missing this alert information?

[2022-09-14 13:20] aomuse commented on #5758
Would it be possible for us to see pending invitations and initiate push reminders on demand for applications awaiting a second admin? I actually am a bit contrary here. I think the current flow is fine and see all recent suggestions adding a lot more friction to what can be a confusing process for a new applicant.

A process that reminds them at the end that we cannot move forward without the oth

[2022-09-14 14:33] kewitz commented on #5886
I feel like this is an iteration of the Financial Visualizations Overview since the pretext of that project was also related to giving more visibility to funders, based on the hypothesis that they wanted to open the collective page and see where the money was going.

C'mon, this is a spreadsheet! You can validate this hypothesis with Google Spreadsheet. Just use the data you already have access to

[2022-09-14 22:28] alanna opened #5953 "Projects missing from Host pages"
**Describe the bug**
The `Projects` section is completely missing from the profile page settings of Host org pages. Projects themselves are active if you go directly to /projects but there's no way to make them visible on the page.

**Expected behavior**
There should be a `Projects` section under a Host's profile page sections.

**Screenshots**
A Host's settings (no Projects):
![Screen Shot 2022-0

[2022-09-15 01:53] natehn opened #5954 "Allow Projects to set an admin/invite-only expense policy independent of their parent Collective."
## Who is your user?

A collective with multiple projects or activities, where only one of their Projects is getting spammed with expenses.

## What are they trying to achieve?

_When a Project is being spammed, I want to set expenses for that Project only to admin/invite only, so I can keep track of legit requests without having to sift through tons of bad ones_

## How are they currently doing t

[2022-09-15 04:28] alanna opened #5955 "Org shows two different amounts contributed"
## Who is your user?
Viewer of the org profile

## What are they trying to achieve?
Understand how much the org has contributed

## How are they currently doing this?
https://opencollective.com/edmund-hillary-fellowship
![Screen Shot 2022-09-15 at 4 25 29 PM](https://user-images.githubusercontent.com/5498878/190314448-57b96ca4-450b-4ff0-a9fc-d39862b3748b.png)

Either this is due to different curre

[2022-09-15 08:52] kaylarep commented on #5758
I don't love the idea of hiding applications till they comply, I worry people will miss it, and then we won't easily be able to ping/notify them.

@kewitz I accept applications directly from their OC url

@aomuse 's ideas are interesting. I do feel that our currently customized onboarding flow is still confusing, as it pushes people thru to the platform without them understanding what they are doi

[2022-09-15 08:55] znarf commented on #5955
@alanna Seems you're using the issue template for project instead of bug. Any reason for this?

[2022-09-15 09:00] iamronen commented on #5886
@kewitz you are right, this feature builds upon some of the work that was done in Financial Visualizations. The original concept was actually slightly different because it was created before the Financial Visualizations and was updated based on how they evolved.

I can see why you would think of this as a spreadsheet, but that tells me that you may be missing the point of what it is intended to be

[2022-09-15 10:17] alanna commented on #5955
I wasn't sure it was a bug. Like if it's designed to show USD on top and local currency on the card, that's a confusing design but it's not a bug.

[2022-09-15 11:32] #5941 closed

[2022-09-15 11:32] #5828 closed

[2022-09-15 11:34] #5854 closed

[2022-09-15 11:47] znarf commented on #4684
@Betree was that done?

[2022-09-15 11:49] znarf commented on #5907
I think it's more a matter for Root admins to be able to perform actions, without being a Collective admin.

[2022-09-15 12:11] kewitz opened #5956 "Wise: Automatically deal with unstable currencies"
Automatically deal with currency conversion when Wise refuses to create a quote based on target currency:
![image](https://user-images.githubusercontent.com/2119706/190400287-a5a9bb95-aada-41e8-832d-028be7a9aa06.png)

[2022-09-15 12:28] Betree commented on #5374
@BenJam I reverted the title back to what it was, I think it's important to keep it explicit that this issue is only for root users.

[2022-09-15 12:28] Betree commented on #4684
@znarf Not yet. A more comprehensive issue including this one has been suggested in https://github.com/opencollective/opencollective/issues/5374, but it needs better specs.

[2022-09-15 12:32] kewitz opened #5957 "[Project] Expense to require verified PayPal accounts"
## User story
_As a host admin, I want to enforce that the PayPal user account is verified, so I'm more confident we're not being frauded._

## Best solution for this problem
On the user side, implement an OAuth capability, so the user can connect their PayPal account to Open Collective.
On the host side, create a new Policy to enforce that expenses using PayPal requires a verified account.
When s

[2022-09-15 12:36] loois33 opened #5958 "I can't access to my account anymore because signin email is not delivered > how can I change my account email?"
**Describe the bug**
I cannot access to my account jeanlouis@imajique.be because I can't get the link delivered to my inbox.

**To Reproduce**
Steps to reproduce the behavior:
I click on signin link, I enter my email, I don't get the email with the link.
But if I try with another OC account/email, it works.
It seems that something's wrong between OC and that specific email because my inbox works f

[2022-09-15 12:40] znarf commented on #5958
There were effectively problems delivering emails to your Inbox, this should be good now.

[2022-09-15 12:40] #5958 closed

[2022-09-15 12:53] loois33 commented on #5958
Ho wonderful thanksss!!

(for my knowledge, could you tell what happened?)

[2022-09-15 12:57] znarf commented on #5958
On September 12st, your inbox was not working properly (from our provider perspective) and our email provider stopped trying to send emails to you from this point. I just unblocked it.

[2022-09-15 12:59] znarf commented on #5645
Figma https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO

[2022-09-15 12:59] loois33 commented on #5958
Ok I see. Indeed it was blocked for a few days..

Thank you very much for your lightning support

[2022-09-15 13:00] loois33 commented on #5958
PS: was Gihub the best channel to ask for support for that kind of issue?

[2022-09-15 13:04] znarf commented on #5958
Good question :-)

No, it's not http://opencollective.com/support or support@opencollective.com are the most reliable.

[2022-09-15 13:05] loois33 commented on #5958
OK thank you, I'll remember it.

[2022-09-15 13:44] #5864 closed

[2022-09-15 14:08] Betree opened #5959 "Activity log timeout with large profiles"
See https://opencollective.com/opencollective/admin/activity-log

We need to understand what is taking so much time & optimize the queries.

[2022-09-15 14:43] SudharakaP opened #5960 "New Financial Contributor Email Not Specifying Subscription Interval"
This is related to the freshdesk ticket; https://opencollective.freshdesk.com/a/tickets/118374.

Here the user encounters the issue where the New Financial contributor email (`collective.member.created.hbs`) is not specifying the frequency of the subscription.

Analysis and Possible Solution:

Testing this flow I've realized that we create the subscription object after the relevant `COLLECTIVE_MEM

[2022-09-15 17:26] pelletier197 commented on #5785
Finally, I did split it into folders. I don't think this is gonna have any impact. And I opened the PR https://github.com/opencollective/graphql-docs-v2/pull/2

[2022-09-15 19:01] znarf commented on #5886
How are the current specs addressing the need of OCF? Number 1. to 9. from Caroline notes.

It would help prioritization if the project was a clear joint effort from OSC and OCF. And would be great to agree on a common owner to lead the project.

[2022-09-15 19:01] #5950 closed

[2022-09-15 20:23] #5865 closed

[2022-09-15 20:44] alanna opened #5961 "CSV export can include Projects and Events"
## User story
As an Admin of a Collective or Host, I want to export all the transaction data for my Collective, including Events and Projects, so that I can get a full picture of activity, and see a running balance of the inclusive total.

## Best solution for this problem
An option for the transactions CSV export to include child Collective transactions, with a column that shows which Collective

[2022-09-16 06:23] #5685 closed

[2022-09-16 06:24] #5926 closed

[2022-09-16 07:22] carolineawoolard commented on #5886
@znarf Numbers 1-9 above can be solved with what @BenJam and @iamronen outlined with **Investment Categories.** The use case is slightly different though, as we are using this for OCF as a Host rather than for a Funder. The connection to Funders is that we can show our OCF Dashboard to Funders to encourage them to invest in Mutual Aid, Arts, and other categories. I imagine this would be appealing

[2022-09-16 07:57] znarf commented on #5961
It's already the default behavior if you download the CSV from the Collective transactions list.

[2022-09-16 07:59] alanna commented on #5961
But it does not appear to work for Hosts? Like OCF's list doesn't seem to include its Projects, and the running balance doesn't include Projects.

@alinamanko can you elaborate here?

[2022-09-16 08:03] znarf commented on #5961
@alanna downloading CSV from the Host Reports dashboard? I haven't checked this one.

[2022-09-16 09:26] Betree opened #5962 "Archiving account should be an asynchonous job"
# Problem

When archiving an account, many things happen:
1. We cancel the recurring subscriptions (for PayPal)
2. We cancel virtual cards https://github.com/opencollective/opencollective/issues/5993
3. We propagate the archiving to all children's events & projects (WIP https://github.com/opencollective/opencollective/issues/4774)

This update can take a lot of time, depending on how much data we'

[2022-09-16 10:12] iamronen commented on #5886
@znarf this pitch is for an MVP that will evolve over time. As it currently stands it does not answer all the needs that @carolineawoolard has surfaced and it doesn't come anywhere near addressing all the needs that I can see for OSC.

I am happy to take ownership of this project (and am communicating with Caroline about what that means) if there is a team that includes myself, Caroline, an engine

[2022-09-16 12:05] Betree commented on #5962
@hdiniz suggested in https://github.com/opencollective/opencollective-api/pull/7959 that we could have this approach for canceling the subscriptions only. That sounds like a good & simple MVP for this issue, as doing so won't require any UX change.

[2022-09-16 12:50] znarf commented on #5720
Agree, I have trouble getting the notification emails and I'm seeing drafts in the interface that I can't process.

[2022-09-16 12:51] znarf commented on #5820
🎉

[2022-09-16 12:59] alinamanko opened #5963 "Allow user to see their submitted expenses on the collective page ahead of their approvals"
https://opencollective.freshdesk.com/a/tickets/119774

## User story
As a user, after I submit an expense it is not easy for me to see whether it has been successfully recorded on the collective page as there is currently no visibility of the expenses pending approval. The transactions listing on the user end only gets updated once the expense is approved. This lack of visibility can result in dup

[2022-09-16 13:24] poohlaga commented on #5645
a reminder that we want to prevent users from **submitting** their application unless they have 2 admins attached to the application form

[2022-09-16 13:30] carolineawoolard commented on #5886
Yes thank you @iamronen my hope is that OCF can show funders in general, and the funder who gave us $150k for this, the following overview of our collectives by grouped categories:

- region: on a map if possible
- category: mutual aid, arts, open source - pie chart? or list
- date started
- money raised
- # of contributors

[2022-09-16 13:55] Betree commented on #5963
Duplicate of https://github.com/opencollective/opencollective/issues/3749

[2022-09-16 13:55] #5963 closed

[2022-09-16 14:02] znarf commented on #3749
I would like to see this project considered for prioritization next sprint (Q4S1).

[2022-09-16 14:14] #5960 closed

[2022-09-16 14:21] znarf commented on #3781
I would like to see this project considered for prioritization next sprint (Q4S1).

[2022-09-16 14:32] Betree opened #5964 "Enlarge attachment preview when hovering"
As an expense submitter, I usually have to look at my receipt pictures while submitting an expense to check the amounts or other details. I currently click on it to open the attachment in a new tab, but having a large preview on hover would save me some time.

@Memo-Es I think you suggested something like that at some point, am I remembering correctly?

A hacky preview of how that would look like:

[2022-09-16 15:15] znarf commented on #5509
I would like to see this project considered for prioritization next sprint (Q4S1).

[2022-09-16 15:19] znarf opened #5965 "[Roadmap] Sprint Facilitation Checklist: Q3S1 -> Q3S2"
### During previous Sprint

- [x] Launch prioritization discussion https://github.com/opencollective/opencollective/discussions/5741

### On week between sprints

- [x] Schedule prioritization meeting

In prioritization meeting:

 - [x] Pick 4 to 6 Projects

After prioritization meeting:

- [x] Create Projects issue (basic skeleton is fine) for each prioritized project if it's not already created.

[2022-09-16 15:20] #5273 closed

[2022-09-16 15:20] #5437 closed

[2022-09-16 15:22] #5666 closed

[2022-09-16 15:23] #5626 closed

[2022-09-16 15:23] #5291 closed

[2022-09-16 15:24] #4967 closed

[2022-09-16 15:37] znarf opened #5966 "[Roadmap] 2022 Q3 Sprint 2"
## Context

We build the Open Collective platform in 6-week sprints, with a week-long break between sprints.

The previous sprint was [2022 Q3 Sprint 1](https://github.com/opencollective/opencollective/issues/5779).

If you'd like to know more about how we work check out [this document](https://www.figma.com/file/WJev8P6o4zS7NExfAPVhrg/Product-%26-Sprint-Process?node-id=0%3A1) and [this video expl

[2022-09-16 21:48] alanna opened #5967 "Expanded budget section feedback for Hosts"
The new expanded budget view is awesome! There are a couple niggles about how it works for Hosts, though.

1. Contributions should show Host fees. This is the main source of income for a Host, so showing a budget of $2m without showing where it actually comes from is confusing.

<img width="1245" alt="Screen Shot 2022-09-17 at 9 44 21 AM" src="https://user-images.githubusercontent.com/5498878/1907

[2022-09-17 08:02] znarf commented on #5100
I would like to see this project considered for prioritization next sprint (Q4S1).

[2022-09-18 16:35] DreadKnight opened #5968 "contributors widget should have parameter for "dofollow" links"
## User story
_As <persona>, I can <what?> so that <why?>_
Contributors want a clickable banner on our website. Problem is that most want the link to be "dofollow", while the "Financial contributors widget" only provides "nofollow" links. Placing banners manually on the project webpages is a total no in most cases, as it takes work and too hard to maintain who comes and leaves.

## Best solution f

[2022-09-19 08:14] Betree commented on #5968
Some documentation about the origin of this change can be found in https://github.com/opencollective/opencollective/issues/3461 / https://github.com/opencollective/opencollective/issues/3462. Many collectives don't want that to be the default as it attracts dubious sponsors (e.g., casinos), but I'm not against having that as an opt-in option.

[2022-09-19 08:41] Betree commented on #5922
It was initially designed without the date because we've tried to keep the cards as small and minimalist as possible

[2022-09-19 09:18] iamronen commented on #5886
@carolineawoolard
1. "collective start date" can be easily added.
2. Category is intended to be a field you can populate with whatever values best represent the fiscal host's strategy.
3. Money raised & number of contributors are a part of the initial pitch, but please note that they are not necessarily simple numbers. Totals are presented on the main dashboard view but number of contributors requ

[2022-09-19 10:21] #5878 closed

[2022-09-19 10:51] #5871 closed

[2022-09-19 10:57] kaylarep commented on #1798
another [request](https://opencollective.slack.com/archives/GFH4N961L/p1663240353144489) for this type of feature

[2022-09-19 11:18] jfdh opened #5969 "Last steps to close OC Brussels host"
We've been working with @znarf to empty and close the OC Brussels fiscal host. Here are the last steps to make it happen.

- [ ] Empty the remaining collectives and transfer their budget to OC Brussels fiscal host budget
- [ ] Archive all remaining collectives.

The goal is to have 0 collective hosted so that only the fiscal host budget is accessible. I will need to access it to submit expenses an

[2022-09-19 11:35] Betree opened #5970 "Fetch account features directly from the navbar"
The current approach so far has been to fetch `Account.features` from the page's requests. When we first implemented https://github.com/opencollective/opencollective/issues/2807, this sounded like the best option to minimize the changes needed, and having everything in a single query also offered some performance benefits.

In https://github.com/opencollective/opencollective-frontend/pull/8035, @S

[2022-09-19 11:38] kaylarep commented on #5704
Some quick feedback:
- this is really exciting to have visualizations like this! great work :)
- For the 'Time' drop down, would it be possible to also have an option for 'Date Range'?
- In the Bar Graph view, when you hover over the specific year, could it hover the total amount? (Recurring + One- Time)?
-

![Image](https://user-images.githubusercontent.com/64920686/191008775-6dc82664-ec53-49c8-9

[2022-09-19 12:07] kaylarep commented on #4312
Additional feedback: https://opencollective.slack.com/archives/GSNDVCC4F/p1663156125113359?thread_ts=1663148382.026029&cid=GSNDVCC4F

[2022-09-19 12:23] kaylarep commented on #4312
Another [request ](https://opencollective.freshdesk.com/a/tickets/111844)to track balances (lmk I should refrain from continuing to post these feedbacks):
![image](https://user-images.githubusercontent.com/64920686/191016168-6fdc218f-e37f-463d-b4ba-27dfee511875.png)

[2022-09-19 12:29] Betree commented on #3330
- [ ] @opencollective/design we need a link towards the latest design for this, the one previously shared doesn't work anymore
- [ ] @hdiniz to synchronize with @opencollective/design this week to make sure they integrate the latest constraints

**Questions for Support/Ops**
- @alanna do we want to keep the root action? Will we need to keep the ability for support to unhost accounts for anyone? Ou

[2022-09-19 13:01] Betree opened #5971 "Consolidate the strategy for cancelling orders"
The current behavior is:
- For externally managed subscriptions, we have a [job](https://github.com/opencollective/opencollective-api/blob/270d611c71a152693a7245358bc011ee222316df/cron/hourly/70-cancel-archived-accounts-subscriptions.ts) that looks for "zombies" - active subscriptions on archived collectives. (https://github.com/opencollective/opencollective-api/pull/7959)
- For internally managed

[2022-09-19 14:09] kewitz opened #5972 "Create OSC Onboard Page"
Relocate existing OpenSource related Components
We want to have the flow forking when you click in the "For open source projects" (goes to /opensource/apply/intro)
- [x] Create osc-host-application folder
- [x] Move existing OpenSource related components from create-collective into the new folder
- [x] Restyle CreateOpenSourceCollective and Repository list
- [x] Create new page/route for "/opensou

[2022-09-19 14:09] kewitz opened #5973 "Implement new OSC Signup Form"
- [x] Copy existing form from ocf-host-application
- [x] Create additional information fields
- [x] Collect data from repository
    Define abstract data-type to be attached to `collective.data`. Generic interface so we can later connect with GitLab and other different providers.
    - [x] Is Fork
    - [x] Has an SPDX compliante license
    - [x] Recent activity
    - [x] Is owned by org
    - [x

[2022-09-19 14:09] kewitz opened #5974 "Implement OSC Validator"
- [ ] Create OSC validator function that is called every time a collective applies to OSC
- [ ] Has default behavior for insufficient data (sends to manual approval?)
- [ ] Implement conditionals for minimum criteria
    **? What are the parameters for the minimum criteria validator?**
    - [ ] Last Activity
    - [ ] Has Number of Contributors
    - [ ] Belongs to set of Licenses
    - [ ] Is Fo

[2022-09-19 14:09] kewitz opened #5975 "Implement GitHub verified account flag"
- [ ] Model method that compares URL used for connecting the collective with the repository URL
- [ ] Add a generic Verified Accounts GraphQL resolver in the Account interface to expose this information to the frontend
    Take into consideration the issue tracking "Verified Accounts" problem

[2022-09-19 14:09] kewitz opened #5976 "Surface new collected data and meta-data in the Host approval interface"
- [ ] Update PendingApplication component to make sure it properly renders the new custom data

[2022-09-19 14:11] kewitz commented on #5973
@iamronen @BenJam
Should the user be able to edit the data we automatically got from their repository? (Repository URL, License, etc...)

Also, what is the Usage Link?

[2022-09-19 14:17] kewitz commented on #5645
Project and issues: https://github.com/opencollective/opencollective/projects/77

[2022-09-19 14:59] shannondwray opened #5977 "Collective image missing from contribute page social share"
## User story
As a collective admin, I can edit the social sharing image so that when I post on Social media it can represent our mission rather than being an Open Collective image

https://opencollective.com/deep-adaptation-forum/contribute/roots-to-reach-appeal-45473

<details>
  <summary>Triage Template (team only)</summary>

  This template is for members of the team to triage for prioritisati

[2022-09-19 15:00] shannondwray commented on #5977
![image (2)](https://user-images.githubusercontent.com/79115149/191048823-1a64afd3-a917-4044-b880-9a069485970e.png)

[2022-09-19 18:18] #4838 closed

[2022-09-19 19:48] alanna commented on #3330
Yes I think we should keep the root action.

[2022-09-19 22:56] fvntr opened #5978 "Adding Finix Payments as a US-Based payment processor"
Wanted to start the conversation of including [finix](https://finix.com/) as a payment processor for US-based transactions as they offer a more favorable rate per transaction than the other payment processors available on OC.

## Who is your user?

Anyone that submits and executes a financial transaction on Finix.

## What are they trying to achieve?

Send funds with less fees.

## How are they cu

[2022-09-20 03:25] Memo-Es commented on #3330
@alanna, to zero out the Collective, where does the host send the money to?

[2022-09-20 03:39] alanna commented on #3330
I don't think zeroing needs to be in scope of this issue. Hosts can already zero as needed by processing an expense.

[2022-09-20 04:25] Memo-Es commented on #3330
### Design update

| Freeze Collective | Un-host Collective
|------------|---------------
| ![Hosted Collectives](https://user-images.githubusercontent.com/49539954/191166787-ed2ba43b-32ba-442d-9682-58cdbc4b4bbe.png) | ![Hosted Collectives](https://user-images.githubusercontent.com/49539954/191166787-ed2ba43b-32ba-442d-9682-58cdbc4b4bbe.png)
| ![Freeze Collective](https://user-images.githubusercon

[2022-09-20 09:36] iamronen commented on #5974
attn @poohlaga and @RichardLitt

[2022-09-20 09:39] iamronen commented on #5973
To my understanding the auto-extraction from the repository is an assistive service so editing should be possible. Perhaps, if edited, there could be an indicator for the fiscal host admin? but I will defer this to @BenJam and @poohlaga

[2022-09-20 09:46] znarf commented on #3330
I think this would streamline the experience by a lot, instead of having to surface the warning about the balance, expect the host to switch context, create an expense, figure the right recipient, approve it, pay it, then come back to the un-host button.

What do we gain by not doing it?

[2022-09-20 13:19] Memo-Es commented on #3330
@znarf, what's the most common case to zero out a Collective's balance with an expense? Who is this _right recipient_?

[2022-09-20 13:42] DreadKnight commented on #5968
@Betree Yeah, I totally get it, though some more options and customization are always nice, especially since the widget already accepts some parameters. I'm glad that you're for this as well, it's a simple little feature that can have a big positive impact overall.

[2022-09-20 14:13] kewitz commented on #5183
@Memo-Es could you provide some sketches on how to best present warning messages for a potential fraudulent expense?
I think the main idea here is to make sure host admins are aware there's something weird with the expense or the payee.

[2022-09-20 14:18] znarf commented on #3330
I'm not sure? Switching Host? Archiving the Collective? The balance can go the the Host as recipient or an admin of the Collective.

[2022-09-20 14:33] shannondwray commented on #5704
- Can we change the colours to something more OC, they are quite bright and seem a little tacky to me.

- On the 'Profile Page' in the settings can we change the language of the toggl to turn this on? aka. Standard Budget, Visualisation Budget?

[2022-09-20 15:01] Memo-Es commented on #3330
A couple of questions:

 - What's the case for the host to keep the Collective's money?
 - It sounds like hosts will use the invite expense feature. Does it make sense to add an option to set "Collective admins" as a recipient and let the Collective admin team choose what admin gets the money? (I see a risk of going back and forth with admins to decide who ends up receiving the $)
 - Do we have an

[2022-09-20 15:36] #5720 closed

[2022-09-20 17:03] poohlaga commented on #4927
Bumping this. It is a very manual and error-prone workflow to process bank transfers. Would be great to process these with Stripe and automatically associate the payment to the collective when the transaction is complete.

I believe we can use Stripe for this in a similar way we process credit cards: https://stripe.com/docs/payments/ach-debit

[2022-09-20 20:14] SudharakaP opened #5979 "Make Sure `{{collective.name}}` in Email Body is Linked for all Email Templates"
This is an enhancement suggested at, https://github.com/opencollective/opencollective-api/pull/7949#discussion_r973989168.

We need to go through all email templates to find where `collective.name` occurs within the email body and have a global solution such that we link those names to the relevant collectives. This should work for all events and projects as well.

My thinking is,

- [ ] Add a fie

[2022-09-20 20:58] alanna commented on #5720
@shannondwray for docs

[2022-09-20 23:33] aerugo opened #5980 "Choose a balance when connecting to Wise"
## User story
As a fiscal host admin, I can choose which of my balances on Wise should be connected to my fiscal host, so that I can operate multiple fiscal hosts in different currencies using the same Wise account.

## Best solution for this problem
When the button to connect Wise is clicked, a second step allows me to select the balance I want to connect to the host.

## Priority rationale
Open

[2022-09-20 23:34] aerugo commented on #5980
Ping @jfdh

[2022-09-20 23:50] alanna commented on #3330
I do not think zeroing should be in scope of this feature because the scenarios are too diverse to design for. It completely depends on the legal terms of the Host and the specific situation of the Collective. See the termination sections of the terms of fiscal hosting for various hosts to see examples.

It's not the case that Hosts will always be moving the funds to their own budgets. They might

[2022-09-21 02:00] alanna commented on #3330
OK, copy feedback:

I think you can remove the repeated word 'Collective' from the little menu and just say contact, freeze, unhost.

For the modal popup

(include the name so they are sure they have selected the right one)

Only show the warning about needing zero balance if it does not have zero balance and grey the button (as it has in the design already)

[2022-09-21 02:00] alanna commented on #3330
This number should include Events, Projects, and the parent balances together.

[2022-09-21 02:21] Memo-Es commented on #5704
I'm doing a design refining round and leaving it published here tomorrow, it will mainly be polishing, and we can do some testing rounds and iterate on the usability on a future release. One important thing to note is that we use a graph library. That's where the small controls and typography use comes from, going forward I would like us to be able to generate those graphs ourselves.

cc @kewitz @

[2022-09-21 10:54] kaylarep commented on #5801
Or this could go under an 'Update' and we'd have a second tick box/option here that says:
`Check this to limit access to the content of this update to hosted Collective Admins only` (this wording needs work)

![image](https://user-images.githubusercontent.com/64920686/191486447-975176e7-0cb0-47ec-8d98-ab1fb2624c45.png)

(So 2 types of `Private` Update options)

[2022-09-21 13:20] gustavlrsn commented on #5972
@poohlaga here's a [link to Figma with the copy](https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/%5BOC-Design%5D-Lab-%F0%9F%A7%AA?node-id=16482%3A214918) that needs to be updated once we update the criteria, related to #5974

[2022-09-21 17:17] kewitz commented on #5895
Specifications:
- Add a new validation step when creating orders.
- This new step will take into consideration:
  - The error rate of orders
  - The payment method creation rate (take into consideration deleted ones)
- Throws if looks fishy (parameters to be defined and tuned through env variable)

Should we take into consideration the rate of successful order creation?

[2022-09-21 18:09] kewitz opened #5981 "Create a new private Library to store Security Functions"
- [ ] Create private repo
- [ ] Create a private package (use GitHub or npm?)
- [ ] Set-up deploy on every environment
- [ ] Write local API wrapper lib to instantiate or not the Library depending on the environment it is running (Guarantee it runs on user machine even if they don't have access to this library)

[2022-09-21 18:09] kewitz opened #5982 "Stripe: Under Review Charges Flow"
Make sure that an order is updated if the stripe charge is being reviewed.

- [ ] Pre-charge flow
  - [ ] Order is marked as under review
  - [ ] Limit User
- [ ] Approved flow
  - [ ] The order is marked as successful
  - [ ] We create transactions in the ledger
  - [ ] Remove user limitation

[2022-09-21 18:10] kewitz opened #5983 "Stripe: Disputed Order Flow"
Make sure that if a charge is successfully disputed, we mark the order as disputed and create any transactions that track any incurred fees and reimbursements.

- [x] Mark order as Disputed
- [x] Automatically mark existing transactions as reimbursed in the ledger
- [x] Keep track and update the ledger with Transactions on any incurred fees
- [x] Add banner in Host Dashboard that notifies about Di

[2022-09-21 18:11] kewitz opened #5984 "User creation Protection"
Currently, we're not validating user emails when a guest donation is made.
From a security perspective, we should consider a validation step before processing the expense.

[2022-09-21 18:12] kewitz opened #5985 "Security Dashboard for Fiscal Host"
Host dashboard page where the host admin can:
  - Review flagged users
  - Review flagged orders
  - Take action towards collectives and users involved in the transaction (quick button to freeze/limit collectives and users)
  - Links to third-party services: Stripe dispute dashboard, Wise transactions dashboard

[2022-09-21 18:19] kewitz commented on #5981
@znarf, we would like your input on this.
The idea is not to be public about how we tackle fraud detection and what parameters we use to tackle it so we don't end up spending too much time working on this in the future.

[2022-09-21 18:43] kewitz commented on #4329
Project board: https://github.com/opencollective/opencollective/projects/78

[2022-09-21 18:47] SudharakaP commented on #4612
ping @znarf : Not sure if we should investigate more or prioritize this.

[2022-09-21 19:05] znarf commented on #4612
It's a complex one. Let's just answer this to Fiscal Hosts and Independent Collectives based in India.

And send them to other Fiscal Hosts like OSC if they want to accept credit card payments.

[2022-09-21 20:02] SudharakaP commented on #5154
@Betree : Note that the OP mentions that the error they are seeing is `Validation error: slug must be unique`. I've seen this error occurring when calling `models.Collective.create`; such as, https://github.com/opencollective/opencollective-api/blob/9779ee778d31af35dd55a180041b759061dcf554/server/graphql/v2/mutation/CreateCollectiveMutation.js#L132.

Maybe we need to catch these errors at all the

[2022-09-21 21:09] natehn commented on #5801
I would not want this to be buried under other Updates

[2022-09-21 21:53] SudharakaP commented on #4612
Thanks for the explanation. I've updated them about this.

[2022-09-21 21:53] #4612 closed

[2022-09-22 02:34] Memo-Es commented on #5645
I did a QA round of the current working file and fixed some inconsistencies and glitches, pushed the design to production here: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=18824%3A198016

Note: Desktop is finished, tablet and mobile pending.

@gustavlrsn

[2022-09-22 03:50] alanna opened #5986 "Host admins should be able to see Collective admins"
As a Fiscal Host Admin, I want to be able to see who the admins of a Collective we host are.

E.g. when I look at https://opencollective.com/sovereign-bodies-institute I cannot see the admins.

## How are they currently doing this?
Metabase

## How well understood is this problem?

 - [ ] Surfacing: if you feel this is a seed of an idea that needs to be researched.
 - [ ] Understanding: if you've

[2022-09-22 11:52] znarf commented on #4312
A bit of an edge case, but can still be useful, especially for physical cards.

[2022-09-22 11:56] znarf commented on #4312
It make sense if Collectives are issued multiple cards for multiple purposes, even if it's not the way OCF and OSC generally issue cards. We could make it optional and have use a default.

[2022-09-22 12:00] znarf commented on #4312
I saw recently an authorization to have a monthly limit north of $20,000. I see a huge danger with high limits if the card gets misused or stolen. Is the Collective or the Host ready to absorb the cost of a significant abuse ?

[2022-09-22 13:36] #5981 closed

[2022-09-22 18:29] SudharakaP opened #5987 "Banning Accounts should Free the Slug"
I had this idea with regard to this following Freshdesk ticket; https://opencollective.freshdesk.com/a/tickets/119533.

Currently when root actions are used to ban a collective we do not reset the slug of the collective, resulting in manual action needing to me taken to free the slug. I suggest,

- For both `Ban accounts` and `Search & destroy` we reset the slug.
- I also think that `Search & dest

[2022-09-22 22:30] SudharakaP opened #5988 "Expired Adaptive Payment Method is Considered for Paypal Payouts"
This is with regard to the freshdesk ticket; https://opencollective.freshdesk.com/a/tickets/119662.

It seems that the user has disabled PayPal payouts in host settings but still users are able to submit expenses with PayPal as payout method. The reason behind this seems to be that we also consider if the host has adaptive PayPal payout methods as per,

https://github.com/opencollective/opencollec

[2022-09-23 02:37] truetotheone opened #5989 "[Release]"
## Context

### What's being released?

### Is this change being released incrementally as a beta? What's the schedule?

### Is this release optional or mandatory?

### Who does this release impact?

### When will the project be ready for release?

## Product Process

### Overview

### Related releases

### Release post(s)

### Social Media

[2022-09-23 04:31] #5989 closed

[2022-09-23 04:33] SudharakaP opened #5990 "Remove Join OC Header from `/create` Page"
This is with regard to the Slack thread; https://opencollective.slack.com/archives/C0YFZ3MHP/p1663809255679239.

Currently in the `/create` page we have,

![image](https://user-images.githubusercontent.com/12435965/191892629-f9b404df-2db0-45cc-9baa-d02ced652223.png)

The "Join OC" header is removed in the latest designs. We need to remove this from the `/create` page.

[2022-09-23 09:05] znarf commented on #5289
For consistency in project management, would be great to create a project board for the project. See https://github.com/opencollective/opencollective/projects/77 and https://github.com/opencollective/opencollective/projects/78 for example with other projects.

[2022-09-23 09:05] znarf commented on #3330
For consistency in project management, would be great to create a project board for the project. See https://github.com/opencollective/opencollective/projects/77 and https://github.com/opencollective/opencollective/projects/78 for example with other projects.

[2022-09-23 09:17] iamronen commented on #5704
I have reached out to ESLint and asked for feedback ... and what follows is a combination of his (Nicholas Zakas) and mine:
1. The first thing Nicholas asked about was a tool to easily go back and tag expenses.
2. It seems that the limit on the number of tags displayed has not been implemented (see OCF for example).
3. It seems that the colors repeat themselves at a certain point (I'm not sure how

[2022-09-23 09:17] znarf commented on #5783
Closing. Can be reopened if someone is not able to upload receipts while processing.

[2022-09-23 09:20] #5783 closed

[2022-09-23 09:35] znarf opened #5991 "Delete Virtual Card for Collective admins"
## User story

As a Collective admin, I would like to delete a Virtual Card assigned to me because it was compromised or became unnecessary.

## Best solution for this problem

A "Delete card" action in the Virtual Card administration interface similar to the one available for Host admins.

## MVP

We already have "pause a card" that does half of the job.

## Metrics

- How many cards are currentl

[2022-09-23 09:56] znarf opened #5992 "Granular limits for Virtual Cards"
## User story

As a Host admin, I would like to have more granular limits to accommodate the use cases of my hosted Collectives.

## Best solution for this problem

Instead of proposing only a monthly limit like today, we should feature other limits supported by Stripe like the following.

<img width="441" alt="Screenshot 2022-09-23 at 11 44 43" src="https://user-images.githubusercontent.com/806/1

[2022-09-23 10:12] znarf commented on #5788
## User story

As a Collective admin, I would like edit the name of my cards to have a clearer view of their respective purpose.

## Best solution for this problem

A "Edit Card details" action in the Virtual Card administration interface similar to the one available for Host admins.

Only "Card Name" would be available for Collective instead of all the settings available to Host admins.

<img wid

[2022-09-23 10:20] znarf commented on #5699
On the Fiscal Host admin side, this is covered by https://github.com/opencollective/opencollective/issues/5992

[2022-09-23 10:34] hdiniz opened #5993 "Remove collective virtual cards when the fiscal host is changed"
The virtual cards attached to a collective are provided by the fiscal host.

When a collective changes host (switched to a new host, or was un-hosted):
- Delete the virtual cards attached to the collective

[2022-09-23 12:32] znarf opened #5994 "Ability to request a change in my Virtual Card limits"
## User story

As a Collective admin, I would like to request a change in my Virtual Card limits directly from the interface so I don't have to send e message to Fiscal Host support for it.

## Best solution for this problem

Allow Collective admins to edit their limit through "Edit Card details" similar to what is available for Fiscal Host admins. Instead of updating Virtual Card properties, an e

[2022-09-23 12:33] znarf commented on #5994
For efficiency, to be tackled AFTER https://github.com/opencollective/opencollective/issues/5992.

[2022-09-23 13:40] kaylarep commented on #5972
I would just ask that, since this process is essentially copy-pasting from the OCF one, if you notice things that are redundant/weird about the module flow and you make edits, please make these edits to the OCF one too.

(I think the OCF was crafted a bit hastily and might benefit form some review/refinement).

[2022-09-23 15:13] Memo-Es opened #5995 "Apply to host modal feedback round"
I'm putting up this issue to document some improvements to the modal to apply to a host:

[2022-09-23 15:13] Memo-Es commented on #5995
Before (Version in production) | After
-- | --
Settings <img width="1070" alt="Screen Shot on 2022-06-22 at 19-55-24" src="https://user-images.githubusercontent.com/49539954/175184888-a854c367-9fbc-4fd6-9882-ecb6b0e3d3a7.png"> |  <img width="1063" alt="Screen Shot on 2022-06-22 at 19-57-01" src="https://user-images.githubusercontent.com/49539954/175185018-2b980447-02bb-4772-993c-cb5c76890836.png">

[2022-09-23 15:18] Memo-Es commented on #5995
@kaylarep

[2022-09-23 23:46] SudharakaP opened #5996 "Deleting Collective Adds Two Timestamps to Slug"
Looking at the database I realized that we add two timestamps inadvertently when deleting a collective in certain situations.

When collective `collective.destroy()` is called we always will add the timestamp at the end of the slug as per,

https://github.com/opencollective/opencollective-api/blob/54e500f4c3128250b62c19a9bde80a1197cfe289/server/models/Collective.js#L753-L756

However we add the ti

[2022-09-24 11:06] #5235 closed

[2022-09-24 11:14] Betree commented on #5979
There's already a partial with tests for linking a collective: https://github.com/opencollective/opencollective-api/blob/main/templates/partials/link-collective.hbs.

[2022-09-24 11:41] Betree commented on #5154
@SudharakaP I don't understand how your proposal differs from the content of the issue? As the body says, the feedback we're trying to address is:

My proposal was to replace this message with "An account already exists for this URL, please choose another one". It's indeed great if we can do it globally, and also nice if we can show the error inline.

[2022-09-24 13:23] Betree commented on #5988
@SudharakaP we support two APIs for paying expenses with PayPal:
- Adaptive: the legacy one, that we want to deprecate #5923
- Payout: the latest integration, currently in beta but that we want as default

It is expected that we keep showing PayPal as a payout method if `Payout` is disabled but adaptive is still connected.

[2022-09-24 15:38] Betree commented on #5195
Current status: internal beta with selected accounts, iterating on feedback and small issues.

The only real blocker left for a public release is https://github.com/opencollective/opencollective/issues/5959.

[2022-09-24 15:52] Betree commented on #5987
Good call, we should indeed change the slug. That can be done from https://github.com/opencollective/opencollective-api/blob/main/sql/ban-collectives.sql#L16

The name "Search & destroy" comes from the manual job of banning spammers that was documented like that, we didn't think much about it since it's an internal tool that's mostly used by myself and @znarf. No blocker for me to change it if it

[2022-09-25 01:09] alanna commented on #5195
@shannondwray this will be ready for docs and announcement soon

[2022-09-25 02:48] #5834 closed

[2022-09-25 10:21] shannondwray commented on #5704
I feel like the fiscal hosts' budget should also show how much revenue/contributions they are receiving from the fees they charge

[2022-09-26 00:05] alanna commented on #5704
See #5967

[2022-09-26 06:59] znarf opened #5997 "Support more Stripe payment errors"
One one-time or recurring contributions with Stripe, there are a few edge case payment errors that we're not precisely reporting to the user. As contributors don't really get what's going on, this is generating support requests. We should have better error messages and call to action.

1)

[code]

[2022-09-26 07:09] Betree commented on #5940
I'm using the latest Firefox (currently 105.1.0), Android 13. It sometimes appears only after playing with the filters by toggling them quickly.

[2022-09-26 07:11] Betree commented on #5940
Could be the same as https://github.com/JedWatson/react-select/issues/3886.

[2022-09-26 07:16] Betree commented on #5893
@jacoobanderson Sure! Feel free to open PRs linking to this issue, ideally small ones - one model per PR - to facilitate the review.

[2022-09-26 07:30] Betree commented on #5781
cc @shannondwray
- We may want to merge the 2 pages mentioned above as there's some overlap (https://docs.opencollective.com/help/collectives/collective-settings/data-export#badge, https://docs.opencollective.com/help/collectives/widgets)
- We should advise people to use the UI to generate URLs, it's a simpler path:
  1. Go to Admin > Export
  2. Scroll down to "Export tier images"
  3. Select the

[2022-09-26 07:41] Betree commented on #3106
We haven't activated the dedicated IP yet. It's not an easy one to monitor, but according to [Google's Postmaster tools](https://postmaster.google.com/u/1/dashboards#do=opencollective.com&st=domainReputation&dr=120), we may want to iterate on this: our domain reputation is currently High (1) while our IP reputation sometimes falls into Medium (2).

![image](https://user-images.githubusercontent.co

[2022-09-26 09:17] Betree opened #5998 "Consolidate and extend Two Factor Authentication (2FA)"
We want to be able to easily add 2FA protection to sensitive mutations.

Already covered:
- Sign in
- Payouts with a configurable rolling limit.
  - We ask 2FA by default.
  - But not if we already asked in the last 1h AND the user hasn't hit the configured limit (e.g.: $10,000)

Some more examples we'd like to support:
- https://github.com/opencollective/opencollective/issues/4882
- Change email

[2022-09-26 09:21] Betree commented on #5289
The kickoff for this project is planned for Thursday. We'll also investigate the specs for https://github.com/opencollective/opencollective/issues/5998 as a stretch goal to see if it's feasible to include it alongside this one.

A project board for 2FA has been created on https://github.com/opencollective/opencollective/projects/80.

[2022-09-26 09:25] Betree commented on #3106
Dedicated IP has been enabled by @znarf, I will monitor the IP reputation in the next few days/week.

[2022-09-26 11:00] jfdh commented on #5980
To make it clear:

_As a fiscal host admin, I can choose which of my balances on Wise should be connected to my fiscal host, so that I can operate multiple "sub-fiscal hosts" under OC Europe in different currencies using the same Wise account._

@kewitz do you think it would be possible? Happy to discuss this further if you have any questions.

[2022-09-26 13:59] Betree commented on #5767
This one will be easier to implement now that we have the activity log. It could be a frontend-only issue.

[2022-09-26 14:38] SudharakaP commented on #5154
I think my confusion arose from the fact that I saw a freshdesk issue where we didn't free the slug and then when the user tries to create the collective they get `Validation error: slug must be unique`. Anyways, I've added a `try {} catch {}` to handle this case as well;

https://github.com/opencollective/opencollective-api/pull/7970/files#diff-0faa42b2ee0e59e514c94af8f4aa3e375cd1120e651b9ef18e11

[2022-09-26 16:45] kewitz commented on #5980
@jfdh I think it is. I can try hacking this without a proper UI if this is blocking OC Europe in any way.

[2022-09-26 21:57] alanna commented on #4704
Scott has reported that merchant IDs are not showing up for VC charges - he needs the Stripe Issuing transaction ID in the data. @znarf @Betree @kewitz can this be added easily or should this be its own issue?

[2022-09-27 03:27] alinamanko commented on #5961
My experience here is fairly limited but in relation to what @alanna and myself saw when trying to identify funds added to a project under OCF. When I look at the export right now, I can see that the amounts are included in the report, however it is quite difficult to tell where they link from and only is possible if looking at the accountName column (please refer to this small extract of the tran

[2022-09-27 06:18] Betree commented on #4704
@alanna Transaction's `data` appears to be null for virtual cards. We certainly have this information somewhere, but it requires some more digging.

[2022-09-27 06:22] Betree commented on #5289
@flowofficial We haven't discussed this topic yet, but there are some related ones: #1738 #5294. It's however out of scope for this issue, which is about enforcing an existing feature on more profiles. I suggest opening a new issue if you think we're missing something.

[2022-09-27 09:18] #5728 closed

[2022-09-27 09:32] Betree commented on #5205
This issue is up for grab

[2022-09-27 09:37] kaylarep commented on #5992
The metrics we collect may not be totally accurate because, sometimes I (as a fiscal host admin) will just give a monthly recurring card to a group rather than what they’ve requested, because the granularity is too complicated to manage easily. E.g. We want $60 for this first month, then $600 next month

[2022-09-27 09:45] BenJam commented on #5973
the idea is that we avoid having to review, so if we detect good data then we shouldn't allow the user to edit as that would mean we would need to review.

Something like this https://github.com/babel/babel/network/dependents though we need to keep it platform independent.

[2022-09-27 09:47] BenJam commented on #5974
++m on this, the idea is to answer these questions if we can and back down to the form (with elements we _can_ answer pre-filled) if we cant.

[2022-09-27 09:51] kaylarep commented on #4312
@alanna @natehn thoughts/help on this for OCF?

[2022-09-27 10:20] kaylarep commented on #5995
Thanks @Memo-Es  these spacing edits make sense.

The copy in the `Edit Member Details` Section  needs some work. (let me know if you want it typed up)
- [ ] Description is misspelled
- [ ] The Roles could use better descriptions, maybe even bulleted, clearly defining the limitations/access of each role
- [ ] The modul should also include:
    - [ ] link to Docs to instructions for adding Admin (i

[2022-09-27 10:26] kaylarep commented on #5995
Also, not sure if this is the right place for this, but. OCF has been wanting to add a couple questions to the application flow, maybe OSC wants to consider these edits too:
- `What do you plan to do with the raised funds?` Please provide details.
- `How long will this collective be active?`
    - `Unlimited` | `Time limited`: `Please specify`
- `How did you hear about us?`

[2022-09-27 10:49] kaylarep commented on #5993
Can a notification also be sent to the Assignee & the Fiscal Host Admin? - something like :
`Due to the recent unhosting of ___[Collective Name]_ by _[Fiscal Host]_, this is an email to notify you that the card ending in __(last 4 digits of card number] has been automatically closed. You will need to create/request a new card if necessary. If you believe this card has been closed in error, please

[2022-09-27 12:33] kewitz commented on #5973
@BenJam I'm considering not allowing the edit and seeing how it goes. @poohlaga also reported people were editing to impersonate different projects and fraud payments.

[2022-09-27 12:34] Betree commented on #5993
@kaylarep In the spirit of reducing the number of notifications, I'd personally prefer to have one consolidated email like:

[2022-09-27 12:36] aminakazi commented on #5645
Update: The [design file](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=18824%3A198016&viewport=470%2C327%2C0.05) has been updated with the tablet and mobile UI

[2022-09-27 12:41] znarf commented on #5974
- [ ] Last activity -> can be fetched with GitHub GraphQL (1)
- [ ] Number of contributors -> can be fetched with GitHub GraphQL (2)
- [ ] SPDX compliant license -> can be easily added as `license` with current code
- [ ] Is not a fork -> already available as `fork` (`true` or `false`)
- [ ] Is owned by an organization -> already available in `owner.type`

(1)

[code]

(2)

[code]

But GraphQL doe

[2022-09-27 12:43] kewitz commented on #5982
@vaughanj10 we need to review this issue. As noticed by @znarf, under review is about charges that were already charged.

[2022-09-27 12:47] hdiniz commented on #5993
@Betree the card can be removed for other reasons, I think we should have a communication for the card removal event.
- Fiscal host changed (un-hosted, or changed)
- Manually deleted by host admin
- Manually deleted by fiscal host admin

[2022-09-27 12:49] kewitz commented on #5974
@BenJam @RichardLitt can more than one collective be created using the same connected repository?

[2022-09-27 12:50] RichardLitt commented on #5974
Yes, but probably not ideal to allow that for the automatic validator.

[2022-09-27 13:00] Betree commented on #5993
@hdiniz I agree that we should have a dedicated email when an admin deletes a card, but it's a different issue: admins disable cards one at a time while this process of un-hosting will disable them all at once. We know that people are overloaded with emails already (#2864), but here we have an opportunity to set a better pattern for the future.

Similarly to how I don't want to receive 50 emails i

[2022-09-27 13:38] znarf commented on #5993
We don't have to send a dedicated email for virtual cards deactivation, we can just say a word about it in the un-hosting email notice we send to collective admins. "If you had Virtual Cards they are now all deactivated".

[2022-09-27 13:43] hdiniz commented on #5993
I guess I am thinking from the perspective of the card assignee, they might not be collective admins, so they would not be notified about the un-hosting.
Similarly for the cancelled recurring contributions, I suppose the contributors themselves might want to be notified.

[2022-09-27 14:46] Betree opened #5999 "Use the new location picker in account settings"
We started to use the new location picker (`StyledInputLocation`) in many places (expense form, contribution flow, etc) and we're pretty happy with the results as it provides something way more structured than a simple text field.

We should extend its usage to the `/admin/info` path - and eventually all other places where we need a location in the future. This will help for many features currentl

[2022-09-27 15:29] znarf commented on #5993
As of today they are all Collective admins however.

[2022-09-27 16:01] #5996 closed

[2022-09-27 16:07] SudharakaP commented on #5979
Related are other URLs which also needs the parent/child parts added such as this expense url; https://github.com/opencollective/opencollective-api/pull/7933#discussion_r980821223.

[2022-09-27 16:11] #5990 closed

[2022-09-27 16:12] #5154 closed

[2022-09-27 18:29] poohlaga commented on #4312
I haven't seen any requests from OSC collectives to increase the limit over 2k

[2022-09-27 19:38] alanna commented on #5951
@kewitz this is the correct expense and I definitely uploaded the receipt

[2022-09-27 20:40] alanna commented on #4312
This particular $20k one is held by an OCF team member (Sade) for a Collective they are involved with. It's for a one-off event and the card will expire after this narrow use. We discussed it and made the call we were OK with this risk as we know the cardholder very well and the card will expire after this specific use.

[2022-09-28 02:37] Memo-Es commented on #5680
## Design specs

 - Full design documentation [here](https://docs.google.com/document/d/1Se3O3eDRzA5IrK-qF4p-tSyBDUnEVtGsSNVXqJ5Fm1Q/edit?usp=sharing)

<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-df3ac0bb-7fff-1f1f-6d18-ff9529053493"><p dir="ltr" style="line-height:1.38;margin-left: -31.5pt;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998

[2022-09-28 03:19] alanna commented on #3330
@shannondwray for docs

[2022-09-28 06:15] Betree commented on #3330
Re-opening as it's not yet released publicly. We want to make sure https://github.com/opencollective/opencollective/issues/5993 is properly done before doing so.

[2022-09-28 06:19] Betree commented on #5922
@gustavlrsn started working on this, but I shared the feedback that we needed input from @opencollective/design because the cards have a fixed height, and adding more info makes the content overflow.

![image](https://user-images.githubusercontent.com/1556356/192702508-a953a01c-1647-4525-85bc-12335f3b96c2.png)

[2022-09-28 06:26] Betree commented on #5452
Seems like https://github.com/opencollective/opencollective-api/pull/7945 did the job, this issue should not happen anymore with collective balances on our public API.

[2022-09-28 06:26] #5452 closed

[2022-09-28 07:05] Betree commented on #5880
If we do the query right, there may be a way to solve this with https://github.com/opencollective/opencollective/issues/5546.

[2022-09-28 07:55] #4824 closed

[2022-09-28 07:55] #5953 closed

[2022-09-28 08:56] Betree opened #6000 "Create a template project for alternative frontends"
To increase our velocity & flexibility when developing prototypes, we would like to have the ability to quickly kick off new projects outside of the main codebase while keeping the stack close enough to be able to move the code easily.

As a starting point, we can re-use https://github.com/opencollective/next-auth-example/tree/opencollective (https://github.com/opencollective/next-auth-example/com

[2022-09-28 09:07] Betree commented on #6000
We see this project as a good fit to kickstart https://github.com/opencollective/opencollective/issues/5886

[2022-09-28 09:17] kaylarep commented on #5680
Thanks for these specs breakdowns.  Was thinking here:

I think it's important to identify that 'users' encompasses:
- Donors (Financial Contributors)
- Collective Admins
- Collective Expense Recipients
   - volunteers to be reimbursed,
   - contractors getting paid (& sometimes landlords, vendors etc. getting paid)
   - grant recipients

because each of these user groups has different needs & ide

[2022-09-28 09:20] kaylarep commented on #5680
This project also aligns with the Funder/Host dashboard project I think. If we are going to redesign the collective page, we need to keep this overlap in mind so that we aren't duplicating information

[2022-09-28 11:01] BenJam commented on #5967
just to copy some of the feedback from elsewhere:

from Nicholas Zakas (via @iamronen)

from @shannondwray

from @kaylarep

[2022-09-28 11:41] #5987 closed

[2022-09-28 13:30] BenJam commented on #5974
@RichardLitt I think that might be counter-productive for users, we should alert (and direct the user) to the collective if one already exists for that organisation or repo.

[2022-09-28 13:34] kewitz commented on #5452
Looks fine considering JS uses float64. It would be a problem if it was float32.

[2022-09-28 13:36] iamronen commented on #5680
Additional issues with the current collective profile:
## 1: Disorienting & Inconsistent Top-bar navigation

![Image](https://user-images.githubusercontent.com/8337819/192790916-e6a7c53e-a3dd-4fb6-9792-6d2f3f2bd3ea.png)

Click on Budget:

![Image](https://user-images.githubusercontent.com/8337819/192791053-a29eea44-adda-450b-9882-08d1e14d0949.png)

1. This currently feels disorienting. I thought I

[2022-09-28 14:35] Memo-Es commented on #5680
Thank you, @kaylarep and @iamronen, for your comments; here are a couple of follow-up thoughts:

@kaylarep, on the pathways for people to do something specific (Submit an expense, request a grant) vs the experience for Collective admins. I agree, one of the goals for this project in the mid-term is to help us separate the platform (workspace) from the public side (Collective pages, marketing, etc.

[2022-09-28 16:57] SudharakaP commented on #5988
Thanks for the information. But my understanding is that the for the adaptive method the details are stored in `PaymentMethods` table. Now there's an expiry date. But we check for `endDate` instead which doesn't exist in the `PaymentMethods` table.

[2022-09-28 17:44] RichardLitt opened #6001 "Cannot remove fiscal host from collective"
I am trying to remove OSC as the fiscal host for https://opencollective.com/standard-readme. When I go into settings (presumably as an admin of that collective), I see the "Remove Fiscal Host" button. However, one removal, it continues to show that that collective is hosted by OSC.

I expect it to be removed and then to no longer have a host.

This could be a caching issue?

[2022-09-28 19:03] znarf commented on #6001
Maybe, I just tested the flow and it worked flawlessly.

Could you share a video? Or give precise steps to reproduce?

[2022-09-28 19:12] SudharakaP opened #6002 "Funds are Not Displayed in Badges"
Related to the fresh-desk ticket; https://opencollective.freshdesk.com/a/tickets/125063. It seems that when we do, https://opencollective.com/ajv/organization.svg or https://opencollective.com/ajv/sponsor.svg we show the `organizations` and `collectives`, but we miss showing `funds` (for example this collective has Salesforce and Indeed as funds).

I think we should also include funds here;

https

[2022-09-28 19:25] znarf commented on #6002
Go for it!

[2022-09-28 19:33] RichardLitt commented on #6001
Seemed to work on a second run. I'm unsure why - may have been because it automatically was approved earlier. I admit I am confused.

Thanks for the double-check.

[2022-09-28 19:33] #6001 closed

[2022-09-28 19:37] znarf commented on #6001
I'm definitely convinced that this can be experienced, especially if handling in different browser tabs for example.

Feel free to reopen if you figure steps that can be reproduced!

[2022-09-28 19:52] RichardLitt commented on #6001
Will do!

[2022-09-28 20:54] alanna commented on #4824
@shannondwray for docs

[2022-09-28 20:59] alanna opened #6003 "Automate bank transfer refunds"
## Who is your user?
Host admin

## What are they trying to achieve?
When a financial contributor needs a refund on a bank transfer payment, I want the OC system to help me track those and ensure they are paid, so that it's a less manual and error prone process.

## How are they currently doing this?
Refund the transaction on OC, email the person to get their bank info, then manually go do a bank

[2022-09-28 23:01] alanna commented on #5680
I'd be interested in giving feedback on the design of Host pages
specifically. Let me know a good time/way to do that.

[2022-09-29 05:10] connorhsm commented on #5967
Expenses with multiple tags are being counted more than once; once for each tag.
If an expense has more than one tag, that expense is counted again in the total number of expenses paid as well as the total amount disbursed.

See the original state of our collective:
![image](https://user-images.githubusercontent.com/20902771/192943557-c1e0b7c6-ae14-472f-8783-00d2a422834f.png)

I now edit our lates

[2022-09-29 06:25] Betree commented on #5988
@SudharakaP Yes, this `endDate` check is indeed wrong and has no effect. According to https://github.com/opencollective/opencollective-api/pull/1011, the field did not exist either when the check was first introduced. We can eventually fix it by using `expiryDate` if we feel it's the right thing to do.

If we want to solve the mentioned support ticket quickly an option can be to mark their PayPal

[2022-09-29 06:31] Betree commented on #6003
With automated bank transfer contributions (https://github.com/opencollective/opencollective/issues/1742, https://github.com/opencollective/opencollective/issues/4927) this would be supported out of the box.

[2022-09-29 07:16] Betree opened #6004 "Move "Contact" feature to GraphQL V2"
Followup on https://github.com/opencollective/opencollective-frontend/pull/8238

Keeping contact on GraphQL V1 is dangerous because there will be a crash if a page using the account navbar (which has a contact button) does not fetch `legacyId`. This can be tackled today as the mutation doesn't affect cached data in any way.

Todo:
- [ ] Introduce a new `sendMessage` mutation on GraphQL V2 (use an

[2022-09-29 07:17] Betree commented on #6004
@znarf I'd like to put a bounty on this one, could you confirm the specs first? I'm wondering whether `sendMessage` is the best name, or if we should be more explicit (e.g. `sendMessageToAccount`). My personal pref goes to the first one.

[2022-09-29 07:23] alanna commented on #5967
I really agree that the default view should be the pie graph - it's the most engaging visual

[2022-09-29 09:42] Betree commented on #5959
The indexes created in https://github.com/opencollective/opencollective-api/pull/8000 mostly did the job for now: the query respond in less than 1s for a profile like `foundation`, and less than 3s for a profile like `opencollective`.

Now, we still have a performance issue when the "Include all hosted accounts" filter is selected, so I'm going to add a similar index on `HostCollectiveId`.

As @hd

[2022-09-29 12:05] aerugo commented on #5967
<img width="1840" alt="Screenshot 2022-09-29 at 13 53 58" src="https://user-images.githubusercontent.com/7785081/193024701-e2f1c1f5-2147-4356-97f4-47624e2b5761.png">

An edge case is when you use tags in a way like how we do it for the Borderland.
Because we already use projects on OC to keep track of high-level budgets (like [Dream grants 2022](https://opencollective.com/borderland/projects/the-b

[2022-09-29 12:08] znarf commented on #6004
`sendMessage` sounds good !

[2022-09-29 13:04] aminakazi commented on #5991
I have a few questions around this flow.
1. If the admin taps on the 'delete' button and we show a modal pop-up asking them to confirm their decision, what all information do we want to provide the user (e.g., an info box saying that the card will be deleted instantly, etc).
2. Is there any input we want from the admin (e.g., Why do you want to delete this card?), etc?
3. Once deleted, will the ca

[2022-09-29 13:21] Betree commented on #3106
So far so good

![image](https://user-images.githubusercontent.com/1556356/193042693-9f056491-48a7-473e-be85-8ff8917d90a0.png)

[2022-09-29 15:55] Betree commented on #5289
# Kickoff notes

## Goals for this sprint
- [ ] The "Two-factor Authentication" entry in the admin menu looks too specific. We think it should be renamed to "Security", and "Two-factor Authentication" should be a subcategory there.
- [ ] Implement a checkbox in this `Admin > Security > Two Factor Authentication` section like "Enforce all admins in my organization to have 2FA setup". We should idea

[2022-09-29 15:58] Betree opened #6005 "Rename "Two-factor Authentication" to "Security" in the admin menu"
Part of https://github.com/opencollective/opencollective/issues/5289

We think it should be renamed to "Security", and "Two-factor Authentication" should be a subcategory there. The reasons evoked were:
- We'll certainly want to put more stuff there in the future (#5294, new policies, etc)
- It matches what some other large actors (e.g. Github) are doing

![image](https://user-images.githubusercon

[2022-09-29 16:00] Betree opened #6006 "Add a new checkbox to enforce 2FA at the organization level"
Depends on https://github.com/opencollective/opencollective/issues/6005
Part of https://github.com/opencollective/opencollective/issues/5289

- [x] Implement a checkbox in this `Admin > Security > Two Factor Authentication` section like "Enforce all admins in my organization to have 2FA setup". We should ideally store this as a Policy in the API (re-use existing field). @opencollective/design welc

[2022-09-29 16:07] Betree opened #6007 "Create a Metabase dashboard to track 2FA adoption"
Part of https://github.com/opencollective/opencollective/issues/5289

In order to track the success of https://github.com/opencollective/opencollective/issues/5289 and follow the adoption of 2FA overall (as per https://github.com/opencollective/opencollective/issues/5289#issuecomment-1262481347, we may want to ultimately enforce 2FA for all active hosts admins), we want to introduce a new dashboar

[2022-09-30 03:34] SudharakaP opened #6008 "Video Embeds are not Working on `RichTextEditor.js`"
Related to https://opencollective.freshdesk.com/a/tickets/125852

The video embeds are not working anymore. This is most probably a regression caused by, https://github.com/opencollective/opencollective-frontend/pull/8203. We need to make sure we don't remove video attachments.

cc: @Betree

[2022-09-30 04:36] Memo-Es commented on #5886
## Design specs

 - Full design documentation [here](https://docs.google.com/document/d/1Kg8ieQzM_7_M4-zd7uj7HXteiExM4k-gmgs4lp9pDrQ/edit?usp=sharing)

**Main goal**

Build a dashboard-like experience for funders and prospects of funders to follow projects hosted in Open Collective, with the ability to integrate other sources too e.g., GitHub sponsors. This tool should merge the experience of disc

[2022-09-30 06:33] Betree commented on #2263
This issue pops out really often. Another use case for it is fiscal hosts, who'd like the emails then send when processing collective applications to have the `Reply to` set to their own address.

If we're not ready to kickstart #4699, I think we should consider this one for prioritization in the near future.

[2022-09-30 07:23] Betree commented on #3438
# Current status
:arrow_right: Testing in dev environments (local, staging) & iterating.
Slack channel created on https://opencollective.slack.com/archives/C044GNQ7WBX.

We have the tiers list working:
![image](https://user-images.githubusercontent.com/1556356/193209527-0250e88a-2ee3-4070-8306-8a1618a98cf8.png)

@hdiniz added the ability to create a new tier, with proper validations and instant pr

[2022-09-30 08:32] BenJam commented on #5882
@MattIPv4 can you inlude information about the process you used last year, so we can make sure you have what you need this?

[2022-09-30 08:43] Betree opened #6009 "Link to security@opencollective.com from the contact page"
Some people are submitting security reports from https://opencollective.com/contact. This is a problem because, until we have mitigation live, security reports must only be directed to a very narrow audience of engineers.

These reporters are clearly not following best practices, as Open Collective follows the standard of exposing a https://opencollective.com/.well-known/security.txt. But the fact

[2022-09-30 09:21] Betree opened #6010 "Prevent closing modals with unsaved form content"
A user on [support](https://opencollective.freshdesk.com/a/tickets/124041) trying to send a message to host admins via the contact form wrote a long text then misclicked outside of the modal and lost everything as the modal closed. This is a super frustrating experience as you then have to re-type everything and be careful about not closing the modal.

Because we have other places with forms insid

[2022-09-30 09:54] Betree opened #6011 "Contribute cards scroll snapping not working well on Safari mobile"
The horizontal scroll for contributing cards on the collective page is acting weird.

This is probably related to the `scroll-snap-type` in https://github.com/opencollective/opencollective-frontend/blob/dedc63579bb820be505a9d57609685e427c47406/components/collective-page/ContributeCardsContainer.js#L28.

https://user-images.githubusercontent.com/1556356/193244710-3755591a-aec3-428b-a3ff-efeca8a25c4

[2022-09-30 10:14] MattIPv4 commented on #5882
👀 Sure -- we're listing OC projects on https://hacktoberfest.com/donate/ as we did last year. We're currently listing any OC project that has the `hacktoberfest` tag, and that has custom donations enabled (so we can embed the donate page for the project).

It came up in one of our planning calls with y'all this year that it might be nice to expand this to list all projects under the OSC, rather th

[2022-09-30 12:36] #5959 closed

[2022-09-30 12:57] #6002 closed

[2022-09-30 12:57] #5988 closed

[2022-09-30 15:51] missjuliaho commented on #5954
I am having a similar issue -- my collective settings are set to only allow team members to submit expenses but it does not apply to the project within my collective so I'm being spammed through the Project. Would like to either see collective settings automatically apply to all projects or allow projects to have their own settings / admins: https://github.com/opencollective/opencollective/issues/

[2022-09-30 18:43] kewitz commented on #4927
What do you mean by "within the platform"? Is this about cross-host donations or someone outside the platform being able to send money to the platform from the outside?

What exactly is the problem here, is Credit Card not viable for some people or is the process of donating through the platform not compatible with a certain type of donor?

I think the ACH Debit could be viable as an alternative t

[2022-09-30 20:53] SudharakaP commented on #5338
This is also requested in the following Fresh-desk ticket; https://opencollective.freshdesk.com/a/tickets/125729

[2022-09-30 21:14] SudharakaP commented on #5086
This was also requested in the Fresh-desk ticket; https://opencollective.freshdesk.com/a/tickets/125729.

Looking at the ticket and the former comments on this thread, I suggest the following.

1) Store if it's single or multiple tickets within the `Tier.data` column (`{ singleTicket: true }`) and then make sure we don't show the quantity selector when booking if it's a single ticket.

2) We also

[2022-09-30 21:31] SudharakaP commented on #5338
For this I suggest the following changes.

1) Show the correct total count depending on the number of tickets each person booked.
2) Show how many tickets each registered person booked underneath their name (see below screenshot).

![image](https://user-images.githubusercontent.com/12435965/193359011-04583525-f729-4b58-b08f-42b4c00a5de2.png)

[2022-10-02 03:51] alanna opened #6012 "Button shouldn't say save changes if no changes were made"
**To Reproduce**
Steps to reproduce the behavior:
1. Receive subsequent occurrence of recurring expense email and click through
2. Without making any changes, click next through all the steps
3. Button at the end says 'save changes'

**Expected behavior**
If no changes were made it should say 'submit'

**Screenshots**
![Screenshot_20221002-164410.png](https://user-images.githubusercontent.com/5498

[2022-10-02 04:02] alanna opened #6013 "Recurring expense should not lead to creating new payee profile if logged out"
**Describe the bug**
If you click through a recurring expense email notification, but are not logged in, it asks you to start re-creating the profile details that are already saved to the expense.

**Expected behavior**
By definition, a recurring expense has been created by a registered account and the payee details are already known. If not already logged in, it should take the user to the login

[2022-10-02 21:52] alanna opened #6014 "Bank account confirmation button should show total amount received"
**Describe the bug**
When a host admin is matching up incoming pending payments on the financial contributions list, they are comparing the amount received in the bank account to the number on the screen. The big blue button should display the amount we expect they should see in the bank transaction, not the amount going to the Collective after platform tip. The purpose of this moment is for the a

[2022-10-03 01:20] alanna opened #6015 "Virtual card section still revers to privacy.com"
<img width="1037" alt="Screen Shot 2022-10-03 at 2 18 49 PM" src="https://user-images.githubusercontent.com/5498878/193486059-74bdbe53-247f-426f-a83f-e1a85e8f9459.png">

[2022-10-03 01:41] alanna opened #6016 "Payout method says "other" when it should be "virtual card""
**Describe the bug**
I'm reviewing historical transactions on the host dashboard expenses list. I filtered by payout method > virtual card. But they are all listed as "other" payout method on the screen. If I click into one, it says "virtual card" as expected.

**Expected behavior**
It should say "virtual card" as the payout method on the expenses list.

**Screenshots**
<img width="1010" alt="Scre

[2022-10-03 02:44] alanna opened #6017 "Date picker showing reversed numbers in different places"
**Describe the bug**
Dates in different formats on the same screen

**To Reproduce**
Steps to reproduce the behavior:
1. Use date picket to set a date
2. Apply the filter
3. See that date has saved in the reverse format

**Expected behavior**
We should be using some sort of less confusing format (like spelling out the months), but if we have to live with mm/dd and dd/mm confusion, we need to at le

[2022-10-03 04:11] Memo-Es commented on #5680
### Week 3 update
- [ ] Kickstart design process (1st round of drafts)

[2022-10-03 06:23] Betree commented on #5086
@SudharakaP I don't understand how preventing guest contributions here will help. My understanding: people still need to fill in their email when they register as guests, so admins already know "who is coming to the event".

[2022-10-03 06:27] Betree commented on #5338
I agree that this `𝑥 person going` thing should be the count of tickets sold. Or said with SQL:

[code]

That seems like a good proposal to make the frontend coherent.

[2022-10-03 06:32] Betree commented on #6012
New condition needs to be added here: https://github.com/opencollective/opencollective-frontend/blob/b14156e76c5d806716266b4cb9241ef12db2ede8/pages/expense.js#L690

[2022-10-03 06:32] Betree commented on #6013
cc @kewitz

[2022-10-03 06:36] Betree commented on #6014
To me, there's some ambiguity on which amount we want to display, and it's not the role of this button to resolve it.

@alanna given that all amounts are displayed above in a clear and properly-labeled summary, can we remove the amount of the button and just say `Confirm contribution`?

[2022-10-03 06:40] Betree commented on #4757
This has been implemented as the [`PeriodFilter`](https://github.com/opencollective/opencollective-frontend/blob/b14156e76c5d806716266b4cb9241ef12db2ede8/components/budget/filters/PeriodFilter.js) in

[2022-10-03 06:40] #4757 closed

[2022-10-03 06:48] Betree commented on #3646
Solved that in https://github.com/opencollective/opencollective-frontend/pull/6939 by showing the full month:
![image](https://user-images.githubusercontent.com/1556356/193516574-8c945bb8-ce64-404e-997b-4805e268b012.png). Also applied this fix to different places, such as the expenses list.

[2022-10-03 06:48] #3646 closed

[2022-10-03 07:05] Betree commented on #5386
We discussed this topic in multiple places and haven't reached a consensus on using ISO everywhere.

We however introduced a new standard way to display dates in https://github.com/opencollective/opencollective-frontend/pull/6939 that shows the full month as text, removing any ambiguity (e.g. `August 22, 2022`). This component also supports a "compact" version, which will display something like `A

[2022-10-03 07:05] #5386 closed

[2022-10-03 07:19] Betree commented on #6017
Same root cause as https://github.com/opencollective/opencollective/issues/3646: the date fields use native components - and therefore your default browser locale - for the date format while the filter uses the default intl format: US.

In https://github.com/opencollective/opencollective/issues/6017 we started to use a new `DateTime` component that's meant to remove any confusion when displaying d

[2022-10-03 08:19] alanna commented on #6017
Personally I think clarity and accuracy matter a lot more than whether it's pretty for something like dates when searching financial transaction records, so I'd be in support of fixing this incrementally.

[2022-10-03 08:23] alanna commented on #6014
OK yeah, true people might be paying attention to different numbers. I think your solution of just putting 'confirm contribution' on the button makes sense.

[2022-10-03 08:42] Betree commented on #6017
I'll be pushing https://github.com/opencollective/opencollective-frontend/pull/8245 for review then

[2022-10-03 10:25] aminakazi commented on #6017
Can we do this?
<img width="626" alt="Screenshot 2022-10-03 at 3 51 42 PM" src="https://user-images.githubusercontent.com/48468919/193555787-66311099-3e88-4d18-bcde-97a23509fac9.png">

Here the selector title has the format dd/mm/yy (if thats what we want to stick with or mm/dd/yy) so its clear to the user.

[2022-10-03 10:38] shannondwray commented on #5942
Another ask for this feature

"OpenCollective processes their platform tip (% selected by donor) and platform revenue share (15% of host fee) as a single application fee in Stripe.

To get a full understanding of a payment, I have to do vlookups in Sheets between my Stripe Exports and my OC Exports.

For example, one of my users contributed $150 to Papertree BedStuy. I'd need to look in Stripe to

[2022-10-03 11:57] Betree commented on #5812
Got another report for this from Accountable by PM

[2022-10-03 12:45] Betree commented on #6017
@aminakazi This date format is the problem initially reported here and in https://github.com/opencollective/opencollective/issues/3646: it's often impossible for users to differentiate between dd/mm/yy and mm/dd/yy at first glance, which is why we now default to `DD MMMM, YYYY` in most places (e.g. `04 Nov, 2020`). At some point, we also proposed to use the ISO date format (https://github.com/open

[2022-10-03 12:50] Betree commented on #6017
@aminakazi Oh, I missed the addition of the format in the filter label! Well, why not (the fact that I missed it is not a good sign, but maybe that's just me). We should make sure we align the date format there to what's in the input then.

[2022-10-03 13:07] BenJam commented on #5645
W3 notes

- finalising data collection
- updating form

[2022-10-03 13:09] BenJam commented on #4329
W3 notes

- PR review
- deploy and monitor

[2022-10-03 13:09] #6014 closed

[2022-10-03 13:12] BenJam commented on #5886
W3 update

- wireframing design, based on pitch+kickoff conversation
- kickstarting frontend template/framework for building outside of frontend

[2022-10-03 13:14] BenJam commented on #3330
- reviewing related PRs re cancelling recurring contributions and virtual cards

[2022-10-03 13:17] BenJam commented on #4312
W3 notes

taking a look at https://github.com/opencollective/opencollective/issues/5991

[2022-10-03 13:20] SudharakaP commented on #5086
@Betree: Ah yes, that makes sense; I thought that the organizer might not have the same information for guest contributions. So yes, let us not have this checkbox to prevent guest contributions.

Maybe it would be nice to have a discussion on this with @BenJam to make sure we are all on the same page on this so we can move forward with this. 😃

[2022-10-03 14:32] SleeplessByte commented on #6017
FWIW, what I've started doing a long time a go is to render all dates using the native renderer when writing for human consumption and using the ISO8601 format for all other cases.

For example:

[code]

And in exports:

[code]

This allows you to _not_ show extra labels or explanation, matches the native inputs, and honestly allows countries and locales with weird date formats like MM/DD to still

[2022-10-03 15:17] natehn commented on #4927
@kewitz the problem is not exactly that people have to initiate the bank transfer themselves. The problems have to do with tracking payments on the fiscal host side. This has been the motivation since I originally posted the issue - sorry if that was not clear. Having the transaction actually occur within the platform, as it does for credit cards, will make it much _much_ easier to track, as right

[2022-10-03 17:11] Cadair opened #6018 "Webhook Questions and Clarifications"
Hello,

I have started using open collective for SunPy (as part of NumFOCUS) and am loving it so far, but I wanted to pull in collective notifications into our [matrix](matrix.org) chat.

I have managed to get [quite far](https://github.com/matrix-org/matrix-hookshot/pull/514) by just collecting some example payloads over time, but I have a few questions and comments:

1) Why does the `"expense.co

[2022-10-03 17:19] kewitz commented on #4927
@natehn I suspect we receive bank transfers because they're not subject to payment processor fees, which are a huge deal for big donations. Is this assumption correct?

If it is, it means implementing Stripe ACH payment wouldn't be best solution, because we would still want to manually process a bank transaction if the payment processor fee goes up to hundreds of dollars, correct?

[2022-10-03 17:28] poohlaga commented on #4927
It looks like Stripe caps the fee at 5$ https://stripe.com/pricing/local-payment-methods
This is also what QuickBooks does to facilitate direct bank payments on invoices generated from their interface and I pay their fee (which I think is higher at $7) because it saves me time.

[2022-10-03 18:42] shannondwray opened #6019 "The ability to show or hide expense comments"
## User story
_A collective admin would like the ability to show expense comments "We would prefer that all expenses be documented openly so that we are as public as possible. It appears that the initial note is private and cannot be made public to provide supporting detail for an expense. Is there a possibility that this could be configurable, for organizations such as ours?"

## Best solution fo

[2022-10-03 20:34] hdiniz commented on #5991
@aminakazi this is how it looks currently:

1. A confirmation modal is displayed to confirm deletion.
![delete card confirmation modal](https://user-images.githubusercontent.com/5448927/193675987-4b8f0be0-d883-43b5-98f0-5228e308ca02.png)

2. I think we should have some optional message input.
3. Deleted cards do not show up on the host or collective admin dashboard
4. We display paused cards on th

[2022-10-03 23:07] alanna commented on #6017
I don't think a format label is the answer. Just spelling out the month in the date itself would save soooo much confusion. Often the results of a search or whatever are seen in another context and we can't guarantee the label will always be right there.

[2022-10-04 05:26] SudharakaP commented on #4483
I've tested this and I think we don't show the UI buttons correctly here when we create a new host.

When a new organization is created and activated as a host and when we got to the Sending Money section what we see is,

![image](https://user-images.githubusercontent.com/12435965/193739162-81aeb2fb-81ba-49ff-80be-0a70019faaf5.png)

Note that its as if PayPal Payouts are enabled by default. I thin

[2022-10-04 06:32] Betree opened #6020 "Add "url" fields in Activities data payload"
Initially suggested in https://github.com/opencollective/opencollective/issues/6018

About activities:

Doing so would also be helpful for us to easily link things in emails (especially considering that we want to make sure that [the parent slug is included in the URL](https://github.com/opencollective/opencollective/issues/5979)).

Example:

[2022-10-04 06:37] #5357 closed

[2022-10-04 06:38] znarf commented on #5736
I would like to see this project considered for prioritization next sprint (Q4S1).

[2022-10-04 06:39] Betree commented on #6018
Hi @Cadair!

Expense comments are private, and we decided a while ago that webhook events wouldn't include any private data in order to facilitate the security aspects of this feature. With our team growing, that's something we may rediscuss but it's how it works now.

Our advice is usually to listen to webhooks to get notified about new activities, then use our [public GraphQL API](https://docs.o

[2022-10-04 07:02] Betree commented on #6019
We decided a while ago that expense comments needed to be private because users tended to reply with payment information in there.

I'd be concerned about the risk of data exposure if we decide to let host admins change this. Even if we add proper warnings, someone used to the platform with another fiscal host could for example go too fast while replying and not notice that this new fiscal host th

[2022-10-04 07:15] Betree commented on #5812
I would like to see this project considered for prioritization next sprint (Q4S1).

It seems that many users think it's a phishing email, which means they won't renew their financial contributions. Would be great to back this assumption with a stat: after receiving the email, how many users update their credit card details? That could be used to decide on the prioritization of this project, then o

[2022-10-04 07:32] Betree opened #6021 "Protected brands"
Originates from a discussion with @alanna in https://opencollective.slack.com/archives/G46PNRCGP/p1664765429101079

# Problems

1. **It's easy to impersonate a company**, as the system won't block you if you try to create a profile with the name "Google" or "Facebook" in it. We try to ban these profiles on a regular basis, but some slip our attention,
2. **We also have many (legit) duplicate profi

[2022-10-04 07:52] Betree commented on #4483
@SudharakaP Yes. When "Disconnecting", we should also cancel all PayPal recurring contributions (that needs to be cristal clear in the UI). Also keep in mind https://github.com/opencollective/opencollective/issues/4210.

[2022-10-04 07:55] Betree commented on #5367
@shannondwray With your latest additions to the docs, I think we're ready to close this one.

[2022-10-04 07:59] Betree commented on #5601
It's tricky because the currencies available are limited by the type and location of the chosen payment method, which is often not set when inviting. But we could allow for it, and eventually display a message if the person sets a payout method with a currency that's not supported:

[2022-10-04 09:22] Cadair commented on #6018
Hi @Betree thanks for answering my questions so quickly!

This makes perfect sense, for my use case just having a link to the comment would be great as then I could have a message which says "New comment posted: <link>".

I don't think the way I am handling the webhook parsing allows me to make further calls out to anything (it's in a very restricted sandbox).

I am not sure I follow, I am talking

[2022-10-04 09:49] Betree commented on #5977
There's a larger conversation about letting users customize their social sharing images (https://github.com/opencollective/opencollective/issues/2660), but here we could have picked their image from the collective page. Will push a hotfix.

[2022-10-04 10:27] #5367 closed

[2022-10-04 13:23] kaylarep commented on #2263
If I'm not too late, I would love to make some additional edits what the 'Contact' module popup looks like (or maybe this isn't the place for it. it would include
- for the page Admin, the option to decide what is displayed on the 'Contact' form
- the contact form to display those contact options, something that looks like this:
![image](https://user-images.githubusercontent.com/64920686/193830620

[2022-10-04 13:43] JoyLubega commented on #5928
hey @ersachin3112 How far with this. Do you need any help

[2022-10-04 13:46] Betree commented on #2263
Turning this into a project as there are many aspects to it. We'll need some design & proper kickoff to go beyond the quick MVP implemented in https://github.com/opencollective/opencollective-api/pull/8006.

[2022-10-04 13:57] Betree opened #6022 "Move from eslint-plugin-graphql to @graphql-eslint/eslint-plugin"
As per https://github.com/apollographql/eslint-plugin-graphql:

[2022-10-04 15:26] #6008 closed

[2022-10-04 15:29] RichardLitt commented on #5431
I would dearly like this. Right now, there is no way for me to know that an expense is lacking receipts through the platform. As this cancels my cards over time, it would be so useful to be able to see this so I can solve the issue before I have to go through and manually find it by clicking all of the expenses or by digging through my emails.

[2022-10-04 15:33] RichardLitt commented on #5431
Related to https://github.com/opencollective/opencollective/issues/4312.

[2022-10-04 19:29] natehn commented on #5992
Hi @znarf and team - I've been thinking about this and I'm wondering if we should abstract the Stripe limit-setting process within the platform.

What I'm imagining is that each request would have a time period or frequency related to it, and that they could stack on top of one another on the Open Collective side - stair-stepping up and then falling back down at the end of the month where required

[2022-10-04 22:16] SudharakaP commented on #5812
Another few Fresh-desk tickets related to this; https://opencollective.freshdesk.com/a/tickets/127970 and https://opencollective.freshdesk.com/a/tickets/127476.

[2022-10-05 00:05] darkdragon-001 opened #6023 "[API] Allow selecting paymentMethod by name"
**Describe the bug**
When performing a `createOrder()`, the parameter `paymentMethod` requires the field `id` to be set.

**To Reproduce**
1. Perform `createOrder()` mutation where parameter `paymentMethod` only sets fields `type`, `service`, `name`
4. See error that `paymentMethod` is required

**Expected behavior**
Mutation should work.

[2022-10-05 00:27] darkdragon-001 opened #6024 "Replace all places still using "Github Handle" by "Repository Url""
## User story
As an open source software contributor, I can find out where the source code is hosted so that I can contribute.

## Best solution for this problem
Either allow a generic _"source code"_ field or add the second most common one gitlab.com.

## MVP
Button with link displayed on collective's page.

## Metrics
Number of collectives making use of this feature.

## Documentation
Self expla

[2022-10-05 00:29] aomuse commented on #5458
@kewitz OCF has sorted our issues with PayPal and would like to investigate implementing payouts to Venmo through the PayPal API as an alternative to restoring PayPal payouts given that it has [more stringent security requirements for setting up an account](https://help.venmo.com/hc/en-us/articles/209690188-Requirements). Can you advise how complex it might be to implement?

[2022-10-05 00:49] alanna commented on #6021
I really support finding some solution in this space, as it clutters up the platform and creates confusion to have illegitimate or duplicate profiles for the same organization.

This it will block legit use cases as described in #5894 - I think that's a messy workaround currently and we should offer a better pathway when trying to display expenses you've paid to a big company you don't represent a

[2022-10-05 00:50] darkdragon-001 opened #6025 "[API] Massively decrease payment processing fees by bundling orders"
## User story
As financial contributor, I want to donate money to _many_ open source projects (not to payment processors) so that they can build great software.

## Best solution for this problem
As many collectives share a common fiscal host and payment processing fees usually contain a fixed amount, by bundling many orders to the fiscal host, the payment processing fees can be split up.
Example:

[2022-10-05 04:41] Memo-Es commented on #5289
I have caught up with the recording and the documentation. I expect to have everything this project needs within this week.
**A summary of what I'm doing**
 - Design the 'Security' page in host settings (Works for other profiles)
 - Update the 'Policies' page in host settings (Works for other profiles)
 - Alerts: "Be aware that your organization is at risk; consider enabling 2FA."
 - Block admin r

[2022-10-05 05:49] znarf commented on #6025
We're tracking this here: https://github.com/opencollective/opencollective/issues/1916

Current alternatives:
- Use a prepaid payment method: contribute to "Prepaid budget" here https://opencollective.com/opensource
- Convert account to a Fund and wire money to Fiscal Host through bank transfer

[2022-10-05 06:23] Betree commented on #6023
@darkdragon-001 could you share more about your use case? What will be unlocked/facilitated?

[2022-10-05 06:32] Betree commented on #6024
Already implemented in https://github.com/opencollective/opencollective/issues/5645, you can put any link in "Repository URL":
![image](https://user-images.githubusercontent.com/1556356/193995026-8ec93a6e-7dad-476d-95f1-9afb2cac5017.png)

We're still surfacing a "Github handle" input in the Open Source apply flow, which is going to be updated with https://github.com/opencollective/opencollective/i

[2022-10-05 06:32] #6024 closed

[2022-10-05 06:33] darkdragon-001 commented on #6025
Thanks for the link!

I think this approach here could be used to split up the big and complex task into smaller chunks as it completely avoids the UI part.

It basically involves
- Adding multiple recipient references to single payments
- Splitting up received money among the multiple recipients specified in the payment
- Add the API endpoint

[2022-10-05 06:38] Betree commented on #5289
@Memo-Es what do we need to update inside this one? My understanding was that we were going to add the 2FA checkbox under this "Security" menu.

The rest looks good!

[2022-10-05 06:38] darkdragon-001 commented on #1916
If I see it correctly, complexity is the main reason blocking this for so long. Therefore, I suggest splitting this up (divide and conquer 😉 ):

1. #6025 mainly just allowing multiple transactions to the same host via single payment
2. #4206 adding manual UI
3. The rest of automatic detection specified in this issue

I think all steps are small enough to start tackling soon, while each of them wil

[2022-10-05 06:44] darkdragon-001 commented on #6023
It would make the API more usable. It took me an hour to figure out why I got paymentMethod required even though I provided a payment method. Furthermore, it halves the number of queries as it avoids the additional query of converting a name to an id. Furthermore, what happens when a card's validity is renewed? The expiry date changes, but the number/name stays the same, so will there be a new id

[2022-10-05 06:58] Betree commented on #4808
Related: https://github.com/opencollective/opencollective/issues/4924

[2022-10-05 06:59] Betree commented on #6023
Sounds like something we could resolve through better documentation. We currently have:

That could be clarified with:

I don't think using `name` (which, for credit cards, is the last 4 digits - we don't store credit card numbers) can work because it's not unique. Side note, you can easily list your payment methods through `Account.paymentMethods`.

Today, yes. We create a new payment method and

[2022-10-05 07:02] darkdragon-001 commented on #6024
Thanks for the hint! I found the field `repositoryUrl` in the API now :smile:

[2022-10-05 07:06] darkdragon-001 commented on #6023
Sounds good :+1: In addition the error message could also reflect this to make it more intuitiv :wink:

[2022-10-05 07:20] Betree opened #6026 "Improvements on "Contribution cancelled" email"
Followup on https://github.com/opencollective/opencollective-api/pull/8002#discussion_r985875072

There are a few problems with this email:
- [ ] The label for reason says: `You provided the following reason for cancelling: ...`, but in some cases the contributor is not the one canceling and we can end up with strange cases like: `You provided the following reason for cancelling: Babel archived th

[2022-10-05 08:39] #5972 closed

[2022-10-05 09:48] Betree opened #6028 "Use Composite Actions to simplify our CI configs"
[Composite actions](https://docs.github.com/en/actions/creating-actions/creating-a-composite-action) is a feature offered by Github actions to reduce code duplication. It's only a refactor (aka. there will be no performance or functional change) but we can expect the following benefits:
1. Simpler config files, easier to setup new jobs
2. Reduced risk of misconfiguration (like unmatching cache key

[2022-10-05 10:10] Betree commented on #5710
I'd like to complete this one before https://github.com/opencollective/opencollective/issues/6000 to prevent disparities in configurations (ESLint, GraphQL) between the frontend and the template that we want to setup. https://github.com/opencollective/opencollective-frontend/pull/8156 is not far from being completed, so I'll give it another look.

[2022-10-05 10:31] smileBeda commented on #3267
However, PayPal is not offered to collectives - only stripe (which is an extremely selective service, not available to more than 2/3ds of the world as payment processor) and Bank Transfer, which does not support recurring payments, and also probably is the least of all preferred methods (ask yourself this question: Would you sponsor a project with 5USD monthly, via Bank Transfers, which might cost

[2022-10-05 13:32] BenJam commented on #5895
Absolutely 100% yes, this was the thing that costs us thousands of dollars last month.

[2022-10-05 13:45] Memo-Es commented on #5289
@Betree, I understand we are putting in 'Security' some stuff from the 'Policies' page like the minimum admins requirement, and the admin cannot approve their own expense.

[2022-10-05 17:28] SudharakaP opened #6029 "Move Away from Fetching all Orders for Event Profiles"
This is with related to the following comment; https://github.com/opencollective/opencollective-frontend/pull/8249#pullrequestreview-1130969183.

Currently we fetch all the orders (orders from registered users and guests) for an event so that we could determine who are registered for the event along with the number of tickets they have brought. However this seems not to be a scalable approach and

[2022-10-05 20:35] robindpw commented on #5086
Hey Robin a user of the platform here,

I requested a similar thing by email and got redirected here.

For me the proposal to block people buying multiple tickets would be a life saver. This would increase the transparency in my opinion because you are then enforcing people to log in ( if my basic knowledge is right).  For my collective specifically, this makes sense because i dont really care abo

[2022-10-05 20:43] #5971 closed

[2022-10-05 23:44] SudharakaP opened #6030 "Crash at `AddFundsModal` on Host Collectives"
It seems that our recent changes to the add funds modal (revision: b858268dd93bd) has created a regression. We have missed a null check which is important when the `AddFundsModal` is used in the context of host collectives.

This is reported at Fresh-desk ticket; https://opencollective.freshdesk.com/a/tickets/128454

The problem we are facing is that when trying to add funds to a Host the add fund

[2022-10-05 23:44] darkdragon-001 opened #6031 "[API] Prefix-query for `repositoryUrl`"
## User story
As an open source software user, I can find out which OpenSource collective belongs to a given repository so that I can donate.

## Best solution for this problem
Sometimes collectives are responsible for a single code repository, sometimes for a whole group/organization of multiple repositories. It would be nice if one could prefix-match the `repositoryUrl` field from the GraphQL AP

[2022-10-06 08:35] aerugo commented on #5354
Perhaps we could rather solve this with integrations. How about building an integration with a form builder like Typeform? We just started using Typeform at OCEU, and a benefit is that we can pass the answers along to any CRM (we use Jira) through Zapier, making it easy for the team to keep track of the status of an application, as well as creating a "card" for the collective that we can use to tr

[2022-10-06 08:39] Betree commented on #6029
To clarify, we need this new query to be paginated.

[2022-10-06 11:21] hdiniz commented on #5993
We updated the copy to include a message about the canceled virtual cards and recurring orders: https://github.com/opencollective/opencollective-api/pull/8031

[2022-10-06 11:24] hdiniz commented on #3330
Enabling the unhost action in production with this PR: https://github.com/opencollective/opencollective-frontend/pull/8260
When the collective still has balance, we direct the host admin to this [doc](https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses) to submit an expense and clear the balance

We are also updating the unhost email notification copy to indicate tha

[2022-10-06 13:21] Betree commented on #5119
Fixed in https://github.com/opencollective/opencollective-api/pull/7820

[2022-10-06 13:21] #5119 closed

[2022-10-06 13:23] Betree commented on #5530
Seems all done

[2022-10-06 13:23] #5530 closed

[2022-10-06 14:17] kewitz commented on #5967
I think we should truncate the list by default and find a way to represent the reminder of the rows as a single and expandable row.

For example, we display the first five tags and combine all the other rows in a single row that shows the combined sum of its values. If I wanted to know what is inside that group, I should be able to click there and expand to display every tag.

Remember that "Other

[2022-10-06 16:52] #5895 closed

[2022-10-06 17:02] BenJam commented on #5086
tbh I am fine either way but blocking users from multiple registrations seems like a necessary pre-condition to allowing multiple registrations for others that may/may not be on the platform as part of a group ticket purchase.

[2022-10-06 17:43] kewitz commented on #5458
@alanna we need to verify if that's an actual issue. PayPal says you can send money from PayPal direct to Venmo, suggesting that the host shouldn't even need a Venmo account.

But I agree it is very restricted when it comes to geographic regions. Venmo only works within the US.

[2022-10-06 18:26] kewitz commented on #5183
Specifications:
- [ ] Ground Work
  - [ ] Create an abstract "SecurityCheck" GQL object that represents any potential risk factor.
  - [ ] Add "SecurityChecks" resolver to the Expense object.
- [ ] Implement expense checks
  - [ ] How long is the user on the platform?
  - [ ] How long is the collective on the platform?
  - [ ] How long is the payee on the platform?
  - [ ] Number of expenses submi

[2022-10-06 19:17] kaylarep commented on #5458
Venmo has opened up Nonprofit accounts: https://www.paypal.com/merchantapps/appcenter/acceptpayments/venmocharityprofile

[2022-10-06 20:50] alanna commented on #3330
Reposting from slack: the user who is unhosting a Collective is the host admin, who does not have access to a Collective’s “zero balance” button. This is why the instructions specify processing an expense to empty the balance, so the link should be to docs about submitting a normal expense, not using the zero balance button.

[2022-10-07 04:44] smileBeda commented on #1141
What are the ways to see this?
Clearly, in our OC instance, we cannot collect with PayPal, The only offered tools are bank account and stripe.
Both are very destructive - bank account is something no one will use to make a small donation, and stripe is _extremely selective, if not even discriminating_. The Stripe system will only accept you as a citizen of certain countries and only if you have a

[2022-10-07 05:07] alanna commented on #1141
@smileBeda we can usually turn on Paypal for any Host that requests it. Which Host are you with? @Betree can you turn it on for them?

[2022-10-07 05:13] smileBeda commented on #1141
Hi @alanna - thanks for your prompt feedback
Indeed I already communicated with support, and they did enable PayPal... for payouts! That is not what is meant to be implemented by this very GitHub task, as far I understand. Please correct me if I am wrong!

There is little point in having PayPal _payouts_ if all you can do is receive donations with a Bank Account 😓
That only starts making sense onc

[2022-10-07 06:01] Betree commented on #1141
Hi @smileBeda, sorry that was a mistake from our support. PayPal should now be enabled correctly on your account, you can follow this documentation for the next steps: https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-settings/connected-accounts#receiving-contributions-through-paypal.

Let's continue in the email thread if you need assistance or have any other questions.

[2022-10-07 06:25] Betree opened #6032 "Add scripts to help manage our Slack instance"
We're getting bigger, our Slack is growing, and arguably it's not really designed for our use case of being an open community. We recently faced some situations where Slack did not seem to have the right tools for us to properly manage things.

A few weeks ago for example, after a discussion with @piamancini, I started [playing around with a script](https://github.com/opencollective/opencollective

[2022-10-07 06:39] #6030 closed

[2022-10-07 06:47] Betree commented on #5289
Just a note to say that, depending on how https://github.com/opencollective/opencollective/issues/5998 goes, we may implement the MVP with the [initially proposed solution](https://github.com/opencollective/opencollective/issues/5289#issuecomment-1189902146) of completely blocking the account at the sign-in step.

If we're not ready to protect **all** important mutations with 2FA, then we should m

[2022-10-07 07:49] Betree opened #6033 "Pre-approved recurring expenses"
Initially suggested in https://opencollective.slack.com/archives/C0RMV6F8C/p1665128433489479

## User story
As a recurring expense payee (e.g. I'm on payroll, I'm taking care of paying the rent/hosting for our collective, etc) I sometimes have to wait a few days for the collective admins to approve my expenses, even though they never change.

I'd like the collective admins to be able to approve my

[2022-10-07 08:04] Betree commented on #6005
Related: I'm going to move this new "Security" tab from "Fiscal host settings" to "Organization settings". Both will share the `Enforce 2FA for all admins` checkbox, and fiscal hosts will also see the `Enable 2FA for payouts` part.

[2022-10-07 08:06] mkurz commented on #6033
+1
I want to pay out a monthly salary for myself (OpenSource). In general I can not see a reason why an expense
* submitted and approved from an collective admin
* and if there is enough money available

would ever be declined (even if the expense is not recurring).

Another suggestion would be to give (manually) users a trusted flag and, like said, only if they are admins and money is enough, all

[2022-10-07 08:15] Betree commented on #6033
The host admin will never go and approve the expense, it's the responsibility of the collective admins to handle the approve/decline process.

If do get the other point though, that's something we should consider: if the expense is submitted by a collective admin **and the policy doesn't require multiple admins to approve expenses** then it should be approved by default (rather than pending).

[2022-10-07 08:24] mkurz commented on #6033
Sorry for not being accurate. What I meant is after an admin approved it it still can take days until a payment gets processed/payout out and it seems this is done manually. E.g. see this one here, I submitted and approved on the 6th, but took 3 days until someone processed the payout:
<kbd><img width="400" src="https://user-images.githubusercontent.com/644927/194507229-55e17971-efbb-430a-b24e-a33

[2022-10-07 08:25] Betree commented on #5289
@Memo-Es I will strongly advocate against that. We mentioned it in the past, these two are **not** security features at the moment as they can easily be bypassed by adding or removing other admins. There's already some confusion around that so we should make sure we do not advertise them as security features. They're just policies.

In the future, when (if?) we make sure these are secure (i.e. by

[2022-10-07 08:31] Betree commented on #6033
It seems that we may want a similar mechanism to what's described above for the payment flow (host admins) then:

[2022-10-07 08:36] Betree commented on #6032
The main difficulty I faced while [working](https://github.com/opencollective/opencollective-tools/pull/16) on `Off-board a member: remove them from all internal groups and private channels` was that, even as a workspace admin, you need to be a member of a channel to see its members.

We may need to invite the Open Collective slack bot to all private channels in order to make that work.

[2022-10-07 09:21] Betree opened #6034 "Improve `setPolicies` API mutation"
While working on https://github.com/opencollective/opencollective/issues/6006, I noticed a few issues that make `setPolicies` difficult to use:

1. The input type is a `GraphQLJson`, it's therefore difficult to know which fields are supported/expected. I suggest introducing a `PoliciesInput` type.
2. Since `account.policies` is typed, you need to provide subfields. But since `setPolicies` expects

[2022-10-07 09:25] BenJam commented on #4312
FYI I just took a stab at prioritising the lists above, predominantly based on @kaylarep's feedback. Thanks @aminakazi for the prod :)

[2022-10-07 10:35] BenJam commented on #5026
closing in favour of #5200

[2022-10-07 10:35] #5026 closed

[2022-10-07 10:53] hdiniz commented on #3330
@alanna thanks! we updated the link to the [expenses docs.](https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses)

@shannondwray we are enabling this feature in production, do you need support with the documentation?

[2022-10-07 13:29] natehn commented on #4312
Would it be useful to add Granular limits for Virtual Cards https://github.com/opencollective/opencollective/issues/5992 somewhere here? Or is it outside the scope of this project?

[2022-10-07 16:20] SudharakaP opened #6035 "Refactor `paypalPayouts` and `disablePaypalPayouts` flags"
Working on some recent support tickets and discussions it came to my attention that we use two flags `settings.disablePaypalPayouts` and `settings.features.paypalPayouts`.

- `settings.features.paypalPayouts` enables PayPal for expenses and donations
- `settings.disablePaypalPayouts` seems to omit PayPal from expenses.

I think we could refactor this to make it less confusing. One suggestion might

[2022-10-07 17:27] shannondwray opened #6036 "Speed of Open Collective"
## Who is your user?
Everyone

## What are they trying to achieve?
I've noticed lately that it is taking a while for the webpage to load and I'm frequently getting non responsive pages which I have to reload

## How are they currently doing this?
Not to sure how this is currently monitored by the engineering team

## How well understood is this problem?

 - [ ] Surfacing: if you feel this is a see

[2022-10-07 17:32] #5673 closed

[2022-10-07 18:00] SudharakaP opened #6037 "Include Stats from Events and Projects in the Montly Report"
This is related to the following ticket; https://opencollective.freshdesk.com/a/tickets/129624. Note that in the collective, https://opencollective.com/101s all the funds are coming through using the event https://opencollective.com/101s/events/online-book-club-launch-difficult-conversations-stone-sheen-5488ed9f. Thus budget section looks like this;

![image](https://user-images.githubusercontent.

[2022-10-08 00:24] aomuse commented on #5458
We would like to explore implementing PayPal to Venmo as a standard payment option for OCF projects. We feel confident that Wise will be sufficient for the balance of our payment activity.

[2022-10-08 11:49] aerugo opened #6038 "Metadata on expenses"
TL;DR
**Allow storing metadata on expenses that are intended to be read and edited by other third party services, and allow querying expenses through the API filtered by this metadata.**

We are planning an integration of expense management between Cobudget and Open Collective. This integration will be almost completely on the Cobudget side, and will enable users of Cobudget to upload their expens

[2022-10-08 21:34] alanna commented on #5951
This happened again @kewitz @SudharakaP https://opencollective.com/foundation/expenses/100328

I uploaded the receipt when it was processing on oct 7, then got a system notification asking for the receipt once it was incurred on oct 9. The system should not request receipts if they have already been uploaded.
<img width="1047" alt="Screen Shot 2022-10-09 at 10 32 00 AM" src="https://user-images.gi

[2022-10-08 23:06] alanna commented on #5992
I think @natehn 's suggestion is a good example of things that are relatively easy for computers and are very hard for humans. If we're going to lean into investing in VC features, I think it's a good approach. We should make computers do the complicated number part, and humans do the nuanced judgement part.

[2022-10-09 22:18] alanna opened #6039 "GST settings missing from edit expense options"
**Describe the bug**
[This expense](https://opencollective.com/ehf-community/projects/cultural-training/expenses/99265) has GST on it (according to the uploaded invoice) but I didn't see anything about GST on the OC expense summary, so I assumed the box had not been ticked and went to edit it myself, but the local tax options are missing. When I try to submit a new expense, the options are there.

[2022-10-10 01:56] alanna opened #6040 "Paying companies who won't engage with OC"
## Who is your user?
Collective admin

## What are they trying to achieve?
Pay someone who won't or can't submit an expense on Open Collective, often a big company with their own payment procedures who doesn't care about our processes.

Examples:

* Collective gets product or service from Big Co, who sends a payable invoice but will not submit it on the platform or respond to an expense invitation

[2022-10-10 06:33] #6034 closed

[2022-10-10 06:40] #5977 closed

[2022-10-10 08:18] Betree opened #6041 "Make GraphQL V2 the default context for frontend operations"
We [recently removed](https://github.com/opencollective/opencollective-frontend/pull/8263) the `gqlV2` tag used to identify GraphQL V2 operations in favor of the default `gql` tag from Apollo. In the same spirit of "using V2 as our default API", we would like to remove the `API_V2_CONTEXT` that needs to be passed for all V2 operations.

Steps:
1. [ ] Create a new `API_V1_CONTEXT`
2. [ ] Change the

[2022-10-10 08:21] Betree commented on #6041
Oups, duplicate of https://github.com/opencollective/opencollective/issues/4561. Moving the specs there.

[2022-10-10 08:23] Betree commented on #4561
Done in https://github.com/opencollective/opencollective-frontend/pull/8263

[2022-10-10 08:26] Betree commented on #3539
Done in https://github.com/opencollective/opencollective-api/pull/6017

[2022-10-10 08:26] #3539 closed

[2022-10-10 09:07] brymut commented on #5205
Sorry to ping again @betree @znarf

[2022-10-10 09:24] snitin315 commented on #5205
@brymut yes. You can pick this.

[2022-10-10 10:01] #4758 closed

[2022-10-10 11:53] #5991 closed

[2022-10-10 12:55] xdamman opened #6042 "Regression: CSS issue makes it impossible to perform actions"
<img width="372" alt="Screen Shot 2022-10-10 at 2 54 02 PM" src="https://user-images.githubusercontent.com/74358/194870929-df58168a-f78c-4529-ace1-e174c79b1b54.png">

Regression of #4403

[2022-10-10 14:16] Betree commented on #6035
There's a deeper project about these flags: https://github.com/opencollective/opencollective/issues/4210. I think we should focus on this one directly. @kewitz might have more feedback.

[2022-10-10 14:27] kaylarep commented on #3892
In the search, You should be able to search for things under a certain host as well

E.g. i search all the 'arts and culture' tagged profiles. Then i should be able to refine it by 'hosted by ocf'

[2022-10-10 14:31] kaylarep commented on #5680
apologies if this is a duplicate request, but its really important that hosted collectives are easier to find on a host's profile (and maybe even a quick way to show that a collective is part of a greater network on the Collective profile).

Right now, if I want to find OCF's hosted groups (and its the only public place where people can see this information), I go under Contributions. Not at all t

[2022-10-11 06:30] Betree opened #6043 "Redesign expense types picker in the Policies admin menu"
Today:
![image](https://user-images.githubusercontent.com/1556356/195013052-519136ac-d784-4d9f-87c6-b72fa5056f40.png)

What we [want](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85):
![image](https://user-images.githubusercontent.com/1556356/195012975-639a25f3-bb56-4c06-97f3-a6ab6fb57d0f.png)

We should at leat re-use all the images from `components/ex

[2022-10-11 07:15] emberwry commented on #5336
yeah! i'm pretty sure most of the virtual card tagged tickets are virtual
card requests. there was some chatter about the shiftover to Stripe and
uploading receipts as well, but none were recurring issues.

On Fri, Mar 18, 2022 at 12:57 PM alinamanko ***@***.***>
wrote:

[2022-10-11 08:47] Betree opened #6044 "Consolidate 2FA settings"
With https://github.com/opencollective/opencollective-frontend/pull/8264 we're introducing a new "Enforce 2FA for all admins" setting. This new flag overlaps with the other one (`settings.payoutsTwoFactorAuth.enabled`) because enabling the rolling payout limit **will** enforce 2FA for payouts for all admins.

**API**
- [ ] Set the new `data.policies.REQUIRE_2FA_FOR_ADMINS` for all hosts that have

[2022-10-11 08:48] emberwry commented on #5410
there's probably some overlap, but this project all came from after
bringing in stripe so is more up to date

On Thu, May 19, 2022 at 07:01 François Hodierne ***@***.***>
wrote:

[2022-10-11 09:30] RahulBansal123 commented on #5710
You have taken the right decision. It

On Thu, Jul 7, 2022, 10:41 Namuli Joyce ***@***.***> wrote:

[2022-10-11 10:42] aerugo opened #6045 "Bank account not accepting currency prompts incorrect error"
**Describe the bug**

If a user has a bank account in EUR that does not accept SEK, and has made purchases in another currency like SEK, and then tries to submit those expenses in SEK, they will get an error that reads:

"ErrorWise: TransferWise validation error: We cannot currently transfer funds via IBAN to the country this bank account is in."

This is not the right error message, and does not

[2022-10-11 13:39] #5993 closed

[2022-10-11 14:01] kewitz commented on #3753
- [ ] Update the Expense form attachments to suggest the original file name when downloading files.

[2022-10-11 14:58] RichardLitt commented on #2283
I would like this to be solved.

[2022-10-11 21:02] alanna opened #6046 "Initial Virtual Card email should encourage receipt upload like subsequent one"
When a VC is charged, the initial email only tells people to look at the expense, and if you click through, you land in a normal view of the expense in `processing` state. After #5783 we started allowing uploading receipts in this state because there's no reason not to (even if the charge fails it doesn't hurt anything to have the receipt). So I think the initial email should be the same as the su

[2022-10-12 01:56] Memo-Es opened #6047 "Platform settings styleguide update"
I'm documenting our recent design updates for the settings pages inside www.opencollective.com.

## Background

We have never done a proper design to cover all the options we put inside the platform's settings. The developer team initially designed the settings pages in the early versions of Open Collective. We have been building on top of that with isolated updates adding new features or facelift

[2022-10-12 02:03] alanna opened #6048 "Event has negative balance after clicking 'send balance to host'"
**Describe the bug**
I clicked 'send balance to host' on the banner on https://opencollective.com/collective/events/marseille-retreat-september-2022-adc4166f - now it has a negative balance.

**Expected behavior**
Clicking that button should result in a zero balance for the event, not negative.

**Screenshots**

<img width="405" alt="Screen Shot 2022-10-12 at 3 02 36 PM" src="https://user-images.g

[2022-10-12 04:29] alanna opened #6049 "Internal memo field on add funds"
## User story
As a Host admin (or their accountant), I need to record certain info related to transactions when adding funds manually, e.g. the date the funds were received to the bank account (#5693), payment method (check, cashapp, eventbrite), to use for bookkeeping reconciliation or other internal record keeping.

## A solution for this problem
An `internal memo` field on the `add funds` modal

[2022-10-12 04:49] Memo-Es commented on #5886
Regarding whether we build the funder's dashboard inside [www.opencollective.com](www.opencollective.com), last I heard that **we are leaning towards building it as an external app**...

 - **Is it ok to focus on this version for the design proposal?** @znarf, it would also be useful to have some explanation of the pros (and possible cons) to build a little on the reasoning around this decision. C

[2022-10-12 06:45] znarf commented on #5886
@Memo-Es We think it will be faster to prototype in an external app, we'll have more velocity. It's an opportunity to try this approach for the first time. We want to build it in a way that is easy to integrate in the Open Collective app when it will be mature. We'll use same stack, same components, etc ...

For design, the ask is to focus on an external app without any overhead, just focus on the

[2022-10-12 06:47] Betree opened #6050 "Add a button for users to download their recovery codes"
Updating my 2FA setup for many providers recently, I noticed a common pattern for all of them to offer users to download recovery codes in a standard text format, one code per line. I've been able to do this for Google, Cloudflare, Github, Gitlab, Heroku, Mailgun, Render, and Sentry; with most files named `{service}-recovery-codes` or `{service}-recovery-codes-{accountName}`.

It's handy to have a

[2022-10-12 06:55] znarf commented on #6050
Happened the same to me. We should 100% do it if it's a best practice.

Also, you might have noticed that recovery codes are always available and not only on setup like on Open Collective. We should also consider this.

[2022-10-12 07:20] znarf commented on #6048
This is https://github.com/opencollective/opencollective/issues/5858

Let's prioritize this issue asap.

[2022-10-12 07:21] #6048 closed

[2022-10-12 07:24] znarf commented on #5951
@SudharakaP can you check that it's working as expected and understand why it didn't work for @alanna ?

[2022-10-12 07:30] znarf commented on #6040
What's the relationship with https://github.com/opencollective/opencollective/issues/5894 and https://github.com/opencollective/opencollective/issues/5894#issuecomment-1233117915 ?

[2022-10-12 08:58] Betree commented on #6050
On Heroku, it actually seems that you can't access your recovery codes - you can only re-generate them. I personally like this approach, as it protects against someone silently stealing a backup code for later use.

Given that our recovery codes are hashed in the database, a simple migration path for us might be to add a "Regenerate recovery codes" button on the 2FA settings page:

![image](https:

[2022-10-12 10:20] Betree opened #6051 "Add tests for "sendMessage" mutation"
We're [introducing](https://github.com/opencollective/opencollective-api/pull/8020) a new `sendMessage` mutation on our public API that is a portage of the `sendMessageToCollective` mutation from our legacy API. This mutation did not have tests. We want to add some in `test/server/graphql/v2/mutation/AccountMutations.test.ts`:

[code]

[2022-10-12 11:28] #6004 closed

[2022-10-12 23:20] alanna commented on #6040
Ahhh yes it's the same issue, thanks I forgot about that

[2022-10-12 23:20] #6040 closed

[2022-10-13 07:14] Betree commented on #5737
Added more precise specs on what we want to see for the tests. Adding a bounty now!

[2022-10-13 07:14] Betree commented on #5737
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2022-10-13 07:23] Betree commented on #5195
All blockers are now solved, and the project is enabled on multiple internal collectives & trusted hosts. It can also be tested by manually adding `/activity-log` to the admin URL of any profile, for example: https://opencollective.com/opencollective/admin/activity-log.

Everyone can give feedback at https://github.com/opencollective/opencollective/issues/5912. We'll let a week go by to make sure

[2022-10-13 07:47] Betree commented on #5928
The [pull requested](https://github.com/opencollective/opencollective-frontend/pull/8166) that was started on this went stale, the bounty is now open again.

[2022-10-13 08:23] #5710 closed

[2022-10-13 08:24] Betree commented on #6051
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2022-10-13 08:39] #4914 closed

[2022-10-13 09:36] Betree commented on #5501
I stumbled upon https://novu.co, an open-source notification management system. It seems quite popular, and the features are very well aligned with the goals we've been discussing:
- Support for multiple channels (inline on the website, email, slack, etc)
- Tracking for whether a notification has been viewed or not
- Digests (bundle multiple notifications in a single email)
- Priority management (

[2022-10-13 10:04] Betree commented on #6036
I share the feeling that, lately, multiple pages were really slow and sometimes unresponsive; usually on large hosts or OC Inc profiles. To come up with effective solutions, we need to better identify and document the pages that are slow/unresponsive.

In https://github.com/opencollective/opencollective-api/pull/8051 we've plugged Sentry's performance tool; it should help us both to detect slow qu

[2022-10-13 11:25] #5973 closed

[2022-10-13 12:34] JoyLubega commented on #5928
I will pick it up

[2022-10-13 12:50] #6015 closed

[2022-10-13 13:18] Betree commented on #6039
I wasn't able to reproduce with the provided steps, but I've fixed some inconsistencies in https://github.com/opencollective/opencollective-frontend/pull/8286 that could have caused this issue. I'll close it when I merge the PR, but feel free to re-open if it happens again.

[2022-10-13 13:18] #6039 closed

[2022-10-13 13:56] RichardLitt commented on #5974
Thank you, @gustavlrsn!

[2022-10-13 14:05] gustavlrsn opened #6052 "Adjust OSC automatic validation behavior for required admins"
### Current behavior
- if you have not invited enough admins, the form will not allow you to submit
- if you do not have enough accepted admins, it will not automatically approve your collective regardless of GitHub validation

### What we want
- if you have invited enough admins & Github validation passes, it should automatically accept the collective but freeze it from accepting donations

[2022-10-13 14:07] gustavlrsn opened #6053 "Add code/community toggle in OSC form"
Currently both Code and Community sections in the form display as optional which can be confusing.

Allow the user to choose whether they are applying for a collective primarily based around a code repository or if it is a community/events-based collective.

[2022-10-13 19:18] SudharakaP commented on #5951
@znarf : Sorry, I missed something in my originator PR. Looking at this further I realized that we also store attachments in `ExpenseItems` table. For example if it's a reimbursement with several `ExpenseItems` it can be the case where we have nothing in `ExpenseAttachedFiles` but everything stored in `ExpenseItems`. So basically we need to take both into account. I've pushed another PR to fix thi

[2022-10-13 19:51] #5951 closed

[2022-10-13 20:27] Tizwoz commented on #4669
I am having the same trouble with "there is no payment provider available" when there clearly is - I have tried recurring & non-recurring, donation & subscription - in fact, every possible formulation.  There is a bank account associated with our own Fiscal Host, so I cannot understand why this is.  If one waits long enough, it eventually opens the Checkout page, but it seems there is a bug in the

[2022-10-13 21:49] Betree commented on #4669
@Tizwoz could you share your collective URL with support@opencollective.com? This issue is not fully resolved, but it's overall well understood, and though the UX is not clear there's a good chance that something is not set up properly.
One of the reasons could be, for example, that bank accounts don't work with recurring payments (#2734) so you'd see this error message if you try to contribute to

[2022-10-14 05:05] Memo-Es commented on #6050
@Betree, I'll take this as part of the 2FA update, I will update it with a design file asap

[2022-10-14 06:44] Betree opened #6054 "Slow SQL query: TagStats"
Part of #6036

The `tagStats` query has been flagged as particularly slow. In some cases, for production, it takes almost 3 seconds to complete:
![image](https://user-images.githubusercontent.com/1556356/195779760-662b8512-9c4e-470f-b2a2-c489043f8bc5.png)

Matching query:
[code]

Used when using the `search` query **with no search term** (so basically https://opencollective.com/search).

[2022-10-14 06:56] Betree opened #6055 "Slow database query for Wise `handleTransferStateChange` webhook"
The query [here](https://github.com/opencollective/opencollective-api/blob/42a8ec467b60323c66a8d073a1404442c31dd445/server/paymentProviders/transferwise/webhook.ts#L16) takes a lot of time to complete, with multiple of them taking more than 10sec:

![image](https://user-images.githubusercontent.com/1556356/195781824-21bebf9c-5af5-4595-aaa7-6b2efb136676.png)

A quick `EXPLAIN ANALYZE` on the query:

[2022-10-14 08:12] Betree commented on #6050
That would be awesome @Memo-Es! Though there's no rush if you don't have the bandwidth to include it for this sprint.

On the engineering side, it's a small task, we can probably fit it as a stretch goal or a bounty.

[2022-10-14 11:20] #5947 closed

[2022-10-14 11:24] SudharakaP commented on #4483
@Betree : Thanks for pointing that out. Currently the [disconnect button we have](https://github.com/opencollective/opencollective-frontend/blob/0f0716315381e187d5b9721e1cef06845d290d0d/components/edit-collective/EditPayPalAccount.js#L85-L88) do not support cancelling all recurring payments. I've opened a PR to fix the issue mentioned here, and we'll iterate on disconnecting the recurring contribu

[2022-10-14 11:25] kaylarep commented on #5912
Is it possible to have the log entry link directly to the Update it's referencing? Right now the only links are to the user
![image](https://user-images.githubusercontent.com/64920686/195835664-aac5e4b4-d59f-4a47-862a-b0dd765e4eb7.png)

[2022-10-14 11:29] kaylarep commented on #5912
Also for virtual cards?
![image](https://user-images.githubusercontent.com/64920686/195836099-0a83814b-0519-49a5-9872-980b2f1e420d.png)

Right now, these log entries don't seem to be that useful to me. I'd still have to go digging to find out important information.

Like on the 'declined' entry, I don't know which card, which expense, which user.  Without this infomration/linking out, what is the

[2022-10-15 23:55] alanna commented on #4824
@shannondwray looks like this hasn't been added to docs? We also need to do a 🔥 as this is a powerful user-facing feature for mini-crowdfunding campaigns.

[2022-10-16 09:09] alanna commented on #5912
I'm seeing a lot of references to a role called `member`. This is not a user-facing term for any role. Can it please say `admin` or `core contributor`? It's likely some people with think `member` means financial contributor or something else.

[2022-10-16 09:11] alanna commented on #5912
It's odd to see this. Is it because the person invited does not yet have an account? When invited, they do put in the person's name, so I think we should use it. If we can't, it should say `a new user` and ideally when the person accepts the invitation, the data should be updated with their name when viewing historically.

[2022-10-16 09:12] alanna commented on #5912
It would be clearer if it said "[Collective] applied to be hosted by [Host]" or "Collective application submitted to Host" if you want to keep it generic.

[2022-10-16 09:15] alanna commented on #5912
Can this say

If we know a detail like which Collective's application it's referring to, we should include it where possible.

[2022-10-16 09:18] alanna commented on #5912
<img width="580" alt="Screen Shot 2022-10-16 at 10 16 51 PM" src="https://user-images.githubusercontent.com/5498878/196027727-1b69eb1a-219b-4779-8258-ae994e71b42c.png">

Can the first line above include the same details as the second one? Saying expense from X to Y is much clearer than just saying "for Y".

I was very confused about why such expenses related to Collectives were showing up in OCF's

[2022-10-16 09:19] alanna commented on #5912
What are all these "account created" entries? It's not clear at all what they refer to.

<img width="297" alt="Screen Shot 2022-10-16 at 10 19 13 PM" src="https://user-images.githubusercontent.com/5498878/196027842-f1d649af-f66d-4bfe-a04d-f3e2bf0b9049.png">

[2022-10-16 09:22] alanna commented on #5912
I would love to be able to break down the activity types to the granular level. Under each of the six options there are many, many individual types of activity, and this would be much more powerful with more fine-grained search.

I understand the desire to keep the list simple, but this whole feature is inevitably going to be info overload, and I think the best way to deal with that is give users

[2022-10-16 09:23] alanna commented on #5912
These should link to the relevant Update

<img width="344" alt="Screen Shot 2022-10-16 at 10 23 16 PM" src="https://user-images.githubusercontent.com/5498878/196028032-afc803d5-7cc3-4d4a-b787-e7cc4053b0e3.png">

[2022-10-16 09:25] alanna commented on #5912
These should link to the relevant expenses and virtual cards (or at least reference the last-4 or some way to ID it)

<img width="555" alt="Screen Shot 2022-10-16 at 10 24 49 PM" src="https://user-images.githubusercontent.com/5498878/196028084-0b54d9fc-1431-48ee-85bb-78ffc4f5dd26.png">

[2022-10-16 09:26] alanna commented on #5912
"Subscription" should be "recurring contribution"

<img width="484" alt="Screen Shot 2022-10-16 at 10 26 12 PM" src="https://user-images.githubusercontent.com/5498878/196028126-3b14a0ae-ab11-4bfd-8393-c8814df668e5.png">

[2022-10-16 09:29] alanna commented on #5912
<img width="561" alt="Screen Shot 2022-10-16 at 10 27 18 PM" src="https://user-images.githubusercontent.com/5498878/196028211-c40fc0e7-4819-47ef-aba1-d0e7933477e2.png">

Can it say what was edited when it says "membership edited"?

It should read

[2022-10-16 09:30] alanna commented on #5912
What are all these comments on? It just refers to the Collective but you can't comment on a Collective.

<img width="677" alt="Screen Shot 2022-10-16 at 10 29 59 PM" src="https://user-images.githubusercontent.com/5498878/196028291-2b1ed31d-16e2-4f95-a58a-18c495720e01.png">

[2022-10-16 09:32] alanna commented on #5912
How can I see when a Collective has left my Host? Maybe it's under "Accounts" but there is too much noise to find an example? I want to see any time a Collective removes my Host or we un-Host them.

[2022-10-16 09:34] alanna commented on #5912
Where can I see "Project created" "Event created" "Project archived" "Project deleted"? I see I can search for known Projects and Collectives as accounts to filter by, but I mean seeing a list of a given Collective's Project and Event activity.

[2022-10-17 06:44] Betree commented on #5912
@kaylarep @alanna Thanks for all the feedback! I'll try to address some of it this week as well as reply to the questions asked. We'll add the things that can't be clarified easily in the documentation before the release.

The "missing links in descriptions" part is something we were aware of; we already improved many entries but activities are often not linked properly in the database and it's te

[2022-10-17 10:19] iamronen commented on #5886
I would like to propose a small change in the underlying financial data being visualized ... I think this will also make for a cleaner and easier implementation. I am referring to the two columns "last 30 day contributions" and "last 30 days expenses".

When @Memo-Es demo'ed the initial design on Friday I realized that I was assuming that users would be looking at this like tickers on a live finan

[2022-10-17 11:51] gustavlrsn opened #6056 "Fix messaging when approved with too few admins"
A host can approve an application to join despite the collective having too few admins with the implication that financial contributions will be blocked (for hosts with this policy), however the email that goes out to the collective says that it is now ready to receive contributions:

<img width="628" alt="image" src="https://user-images.githubusercontent.com/1552194/196170176-b7368459-2618-47a4-b

[2022-10-17 11:56] gustavlrsn opened #6057 "Display validated repository info in email to host"
The email is showing [Object object] for the validated repository info. We might want to fix this by either showing all the fields, or perhaps just the sum total boolean (`allValidationsPassed`)

[2022-10-17 13:03] gustavlrsn commented on #6056
Perhaps something like this could work:
<img width="1353" alt="image" src="https://user-images.githubusercontent.com/1552194/196183539-91870692-17dd-4afd-b351-77f6300739f2.png">

However, the `policies` field is not available in the v1 GraphQL schema, which the collective page uses..

[2022-10-17 13:06] Memo-Es commented on #5680
## Week 5 update

 - [ ] Kickstart design process (drafts, sketches)
 - [ ] Demo of main proposal

[2022-10-17 13:09] SudharakaP commented on #4483
We have discussed that this will be addressed as part of https://github.com/opencollective/opencollective/issues/4210 as this is much more complicated and needs to handle adaptive payment enabling/disabling as well.

[2022-10-17 13:59] SudharakaP commented on #6049
As a solution to this I propose the following,

#### Front-end

- [ ] Add a memo text field in the add funds modal and we can store this in `order.data.memo`.
- [ ] Make sure we display this `memo` field in the transaction details for added funds
  - [ ] Only host admins and accountants should see this field.

#### API

- [ ] Add a field to the `order` object so that we return `order.data.memo` on

[2022-10-17 14:13] SudharakaP commented on #5086
@Betree : I think as a MVP to solve this we could implement what I highlighted in https://github.com/opencollective/opencollective/issues/5086#issuecomment-1264029870 above (point 1),

And I think this is all we need to do at this point to keep this simple.

[2022-10-17 14:43] Betree commented on #6049
@SudharakaP These specifications look good to me

[2022-10-17 14:57] natehn commented on #5912
Small wording thing: "Invited someone to submit an expense #102124 to [COLLECTIVE]" does not need the word "an" before "expense" when followed with "number _______"

As a host, the Activity dropdown's categories are too broad. I would rather be able to filter by more specific things that I need to check on. For example, the removal of Collective admins. As it works right now, I would have to dig t

[2022-10-17 15:27] SudharakaP commented on #5086
Sorry, I think I should have explained myself clearly. We add another option to the ticket type dropdown,

![image](https://user-images.githubusercontent.com/12435965/196218638-13fd9563-5797-4c0c-bebb-e3f7c57158cc.png)

We can name it, `Single Ticket per Order`. And toggling this will set the `singleTicket` flag.

[2022-10-17 18:40] xdamman opened #6058 "QR code to initiate a SEPA wire transfer"
People use a lot the feature to pay by wire transfer on allforclimate.
However, it's cumbersome and quite error prone. People have to copy paste the IBAN number and don't always provide the necessary communication to help the host admin to reconcile donations arriving on the bank account. Many also forget to do the actual transfer (a loss for everyone). Others make the donation of the amount for t

[2022-10-18 00:31] mtrackeros commented on #5875
Hi all

[2022-10-18 05:17] Memo-Es commented on #6050
### Design update

Design for the 'Security' tab for Users.

2FA step 1 | 2FA step 2 | 2FA step 3
-----------|-----------|-----------|
![Step 1](https://user-images.githubusercontent.com/49539954/196341310-092bc1eb-f640-4bfb-baac-7bfe1e60d59e.png) | ![Step 2](https://user-images.githubusercontent.com/49539954/196341309-6f40c429-0960-47a9-a56a-7ea00f0b27ee.png) | ![Step 3](https://user-images.githu

[2022-10-18 05:23] mtrackeros opened #6059 "Inexy"
https://github.com/github/docs/blob/main/content/rest/apps/index.md

[2022-10-18 06:11] Betree commented on #5086
@SudharakaP That works for me! Just be aware that #3438 is moving on quickly; the old edit tiers page is going to be replaced in a near future. The fix should ideally cover both.

[2022-10-18 06:11] Betree commented on #6000
Actually not finished yet, closed by mistake

[2022-10-18 07:02] #6059 closed

[2022-10-18 07:02] znarf commented on #6058
Thank you for the proposal, we already had an issue there.

https://github.com/opencollective/opencollective/issues/5225

[2022-10-18 07:13] znarf opened #6060 "[Project] Alternative Captcha provider"
We have already tried recaptcha and hcaptcha, but we're hearing complains from contributors that the puzzles are too complicated to solve and frustrating.

Cloudflare launched a new service recently and we should try if it offers a better experience: https://developers.cloudflare.com/turnstile/

## Who is your user?

Guest contributors using credit cards.

## What are they trying to achieve?

Cont

[2022-10-18 09:29] xdamman commented on #6058
Wow, almost a year ago. What's the best way to get this prioritized? Do we need to rally more users/hosts to upvote this request?

[2022-10-18 13:33] gustavlrsn opened #6061 "Fix messaging in email when sending application ("top advice: Get your first financial contributors now")"

[2022-10-18 14:48] Memo-Es commented on #5704
@iamronen @BenJam I think we can close this issue and follow up on the feedback issue posted above

[2022-10-18 20:05] SudharakaP commented on #6046
@alanna : Here I am thinking we change the initial emails `View Expense` button to `Submit Receipt` which when clicked will open the expense in the edit state. Does this the solution you have in mind? Is there any wording changes we would need here as well? 🤔

[2022-10-18 20:42] alanna commented on #6046
Correct @SudharakaP - I think we can pretty much make the initial email (first screenshot above) the same as the current receipt request email (second screenshot above). We can keep the current receipt request email the same, as long as it doesn't get sent if the person has already uploaded the receipt (as per #5951 ).

[2022-10-19 02:03] alanna opened #6062 "Cards for orgs should not refer to money raised"
<img width="289" alt="Screen Shot 2022-10-19 at 3 01 55 PM" src="https://user-images.githubusercontent.com/5498878/196579883-5ce59fb2-78cc-486d-ac1f-299f5212f4d7.png">

An organization is not a profile type for fundraising. When you click through on it, there's nothing visible about this money being raised. Why is it showing money raised?

[2022-10-19 06:13] Betree commented on #6050
@Memo-Es Looks great!

[2022-10-19 06:17] Betree commented on #6050
My only feedback would be about the label of this button; I haven't encountered this in any of the 2FA flows I've tried. I think we can simply say "Verify", the fact that the system will then provide you with recovery codes is a complexity that I think we don't need to expose at this step.

![image](https://user-images.githubusercontent.com/1556356/196611260-4b719a1b-cb49-451c-b153-fd6522cea200.pn

[2022-10-19 06:24] Betree commented on #6062
To be more specific, this is about the card we show in the search: https://github.com/opencollective/opencollective-frontend/blob/3d3a732da606bf6e7b6f3de3659fd29fc4435ebd/components/search-page/SearchCollectiveCard.js. Using `totalAmountReceived` for an organization that can't receive contribution doesn't make much sense; for them, we should try to display the total amount contributed there, but n

[2022-10-19 07:28] znarf commented on #5858
This issue can affect "Ready to pay" for Collectives moved to v2 balance (and having a dysfunctional/negative v1 balance).

[2022-10-19 15:55] SudharakaP commented on #6046
Thanks I've made sure the working of the two emails match each other; https://github.com/opencollective/opencollective-api/pull/8086/files

[2022-10-19 19:18] kewitz commented on #6055
![image](https://user-images.githubusercontent.com/2119706/196783941-2dc56529-e3c5-4fe5-9c7a-95e9f8860811.png)

[2022-10-20 00:38] alinamanko opened #6063 "Monthly support metrics report revision"
### Monthly support metrics report revision

The support team (@emberwry, @shannondwray and myself) is looking into a revision of the monthly support metrics report to ensure we address the new developments as they are shaping within our wider team and to help us to bring more insight and make more out of FreshDesk functionality while we plug in other work happening outside of that system (e.g. wh

[2022-10-20 00:40] alinamanko commented on #6063
In addition, I wonder if the work that was led by @aminakazi and @Memo-Es around the improvements of our support pages (specifically in the way we categorize support requests) could be also somehow linked here? It may be a useful way to consolidate some of those pieces of work so we end with achieving the same outcomes. This is a good point @poohlaga brought up during a recent call.

[2022-10-20 01:05] alanna commented on #6063
Sounds like a great plan.

The questions I would most like to answer from support metrics are:
* How is overall volume trending?
* If a new feature or change causes a spike in support requests.
* If an improvement we made succeeds in causing a drop in related support requests.
* Persistent problems that should be prioritised for better UX, better docs, automation, or whatever would reduce that loa

[2022-10-20 06:34] Betree opened #6064 "Multi-currency expenses: relax the rule for paying manually"
We got a situation where a multi-currency [expense](https://opencollective.com/amiberry/expenses/98182) that was manually paid on PayPal is being blocked because the value is too close to the balance. While this check is important for automatic payouts, we should trust host admins for manual payments.

I propose to review a bit this behavior:
- Simplify the rule for disabling the payout button to:

[2022-10-20 06:36] znarf opened #6065 "In PaymentMethod getBalanceForUser is not considering refunds"
**Describe the bug**

`getBalanceForUser` is only counting DEBITs and not looking at CREDITs (refunds).

**Expected behavior**

Generally, it should rely on the more solid methods from lib/budget.js and make sure to count CREDITs.

[2022-10-20 06:53] Betree commented on #5086
@SudharakaP Please don't use this approach of changing the tier types. I was afraid that this would come up while reading the specs above, but I strongly think we should stay on the `data.singleTicket` flag approach. Why:
- Regardless of whether you allow one or more, you're still ordering tickets. We should not complexity our SQL queries with 2 conditions while we don't really care about it in mo

[2022-10-20 06:58] Betree commented on #5195
We're delaying a bit the release to focus the end of the sprint on other projects and make sure we address the important feedback from https://github.com/opencollective/opencollective/issues/5912. I propose the new date of **7th of November**.

[2022-10-20 07:01] Betree commented on #3357
@alanna It's implemented and available for the core team, but not yet released for the general public.
We still have one blocker to solve, documented in https://github.com/opencollective/opencollective/issues/5867

[2022-10-20 07:01] Betree commented on #5501
From @kaylarep:
![image](https://user-images.githubusercontent.com/64920686/194063208-81f535ea-da79-408f-83f6-1555fc13b471.png)

[2022-10-20 07:29] Betree opened #6066 "Remove the "Fundraiser" (ex referrals) feature leftovers"
Followup on https://github.com/opencollective/opencollective/issues/2345

It was an old feature ([removed](https://github.com/opencollective/opencollective-api/pull/2444) 3 years ago) that let users share custom "Donate" links and get (socially) credited when they're used. The same API was also used for another feature: [Matching funds](https://github.com/opencollective/opencollective/issues/759).

[2022-10-20 08:20] EdaSCN commented on #5912
Does this show when an admin has been changed? I think maybe this is what Alanna is referring to re "membership edited"? I can't see any of this but it may be because I'm not scrolling far back enough? Under which category would this be? Accounts?

Also, does it also show when a collective creates a project? Or when the host fee has been switched on/off on a live group (not sure if relevant to oth

[2022-10-20 08:43] Betree opened #6067 "Move design system components to a specific folder"
In https://github.com/opencollective/opencollective-frontend/pull/8304, we're introducing a new way to publish frontend components for later reuse in different projects. This script comes with a config file that manually lists all the components to export.

I propose that we move all components that are part of the design system to `components/design-system` in order to:
- Simplify the setup of th

[2022-10-20 08:51] shannondwray commented on #6063
I know how to use Google Data studios, so we can set up some spreadsheets which can automatically flow into graphs etc this should reduce the excel drams.

I feel like the Type section could be used for highlighting whether it's platform related or a certain fiscal host. I also like the fact that this can be a required choice before a ticket can be closed.

Goals wise: "how to make the most of the

[2022-10-20 08:52] alanna commented on #5912
Oh yes showing when host fee has been updated would be useful

[2022-10-20 13:00] hdiniz commented on #5992
@natehn There is another [feature](https://github.com/opencollective/opencollective/issues/4556) being developed this sprint to expose the virtual card remaining limit.

wrt to the dynamic limit, maybe we should think about ways to pre-approve a card expense and generate a card only for that particular expense?

I dont think we incur costs on generating virtual cards, so we could create cards for

[2022-10-20 14:08] natehn commented on #5992
I'd like to bring @kaylarep into this one.

Back when we were using Privacy, we had to create a new card for every new vendor. When we switched to Stripe, a perceived benefit was that we could give each Collective a single card for all their expenses, to make things easier for them. And it does make things easier for them...but also it makes oversight/approval a lot messier.

@kaylarep - what do y

[2022-10-20 21:36] alanna commented on #5769
I had previously suggested adding checks as a payment method in #4024 but that was not picked up because it was pointed out, rightly, that if we publicly show checks as an options we will get more checks, which we don't want. But if the host admin could define the payment method as check when confirming the funds, that would help a lot with accounting later.

[2022-10-20 22:59] SudharakaP commented on #5086
@Betree : That makes sense. I've opened two new PRs using the `data.singleTicket` method. And also I used the `checkbox` as your suggested instead of trying to put everything in the `type` drop-down. Let me know if there's any improvements to be made. I've also added this to the new Tier section as well, although I think there might be some bug existing in the new tiers page. For example it does s

[2022-10-20 23:13] Hsaameett57 commented on #6067
HOPE wakes up SUN for us

[2022-10-21 00:11] SudharakaP opened #6068 "Tier Type Product Should have Options for User to Enter Additional Information"
This is with related the following freshdesk ticket; https://opencollective.freshdesk.com/a/tickets/133584 where the user has created a tier to see a product (t-shirt). But there's no way for them to get the relevant information to ship the product to the users.

I believe if we are supporting a product type we should give the users the ability for the admins to have a two way communication with t

[2022-10-21 02:57] alinamanko commented on #6063
Thank you both! @shannondwray I think the key for the report to be useful is to figure out a good way on how we integrate some changes into the day to day support function to make it easier and more effective.

Once we have a better insight from thi, let's connect and chat through what small changes we can make some adjustments to the routine work. It will be exciting to see changes taking place :

[2022-10-21 06:52] Betree commented on #6068
Duplicate with https://github.com/opencollective/opencollective/issues/1798. The information can be exposed in the export members CSV.

[2022-10-21 08:53] #6053 closed

[2022-10-21 09:35] #6052 closed

[2022-10-21 10:13] #6056 closed

[2022-10-21 10:32] SudharakaP commented on #6068
Thanks I've missed this while searching. I am closing this issue in favor of that. 👍🏽

[2022-10-21 11:47] #5855 closed

[2022-10-21 16:22] kaylarep commented on #5992
thanks for this proposal @hdiniz !
I'm thinking this could work...

I would just want the request form to be really clean and clear - for both the requester (Collective admin) and for the Host admin.  I'm thinking that perhaps a Collective admin would want to request multiple cards at 1x, and it would be nice to consider the best way to submit and to receive this, in a way that is not burdensome.

[2022-10-21 16:23] natehn commented on #5992
@kaylarep I was suggesting that having every charge on one card makes oversight trickier

[2022-10-21 16:56] Betree opened #6069 "Re-use the @opencollective/frontend-components in other projects"
A bunch of our external projects are copy-pasting components, which is not a future-proof solution as they don't include updates. It also creates disparities in the APIs of this components, which evolve over time.

https://www.npmjs.com/package/@opencollective/frontend-components should be imported & used in:
- [x] PDF service
- [ ] ~~Changelog~~

[2022-10-21 18:06] #5983 closed

[2022-10-22 20:30] vnugent commented on #1798
Perhaps the issue can mitigate by allowing custom text in the checkout page, or append the checkout to the end of the product page.

While I have detailed instructions in the "product" page asking donors to email us their address,  people don't see it.  "Read more" has to compete with the large CTA button.

The issue is people just click on the CTA button to go the checkout page and miss the entir

[2022-10-23 18:32] BreakerZoeBurma opened #6070 "Myanmar social connectivity"
## Who is your user?

## What are they trying to achieve?

_When <situation>, I want to <motivation>, so I can <outcome>_

## How are they currently doing this?

<details>
  <summary>Triage Template (core team only)</summary>

  This template is for members of the team to triage for prioritisation. For more guidance see https://www.loom.com/share/369ab467fbc64dec848085d38ff57ca0:

  P1 high freque

[2022-10-23 21:49] #6070 closed

[2022-10-24 06:51] #5737 closed

[2022-10-24 06:51] Betree commented on #5737
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2022-10-24 12:20] aomuse commented on #5967
The absence of added funds in the contribution visualization will make some budgets look unusually smaller when they dig into the numbers. There should be a way from the budget section to leap to the full list of transactions without going through the menu at the top of the page which does not intuitively strike me as the place people will look given that they have access to their expenses and con

[2022-10-24 12:39] aomuse commented on #5967
This is not directly related to the budget visualization, but I could not locate an aligned issue at present. It DOES affect the ability to accurately visualize the budget though. The Kola Nut Collaborative invoiced another project for work done. The funds received through that invoice from another collective are categorized in my budget as an expense under Kind. It does not show as an expense any

[2022-10-24 13:09] BenJam commented on #5645
- review pr for wrap-up of final mods
- announcement of change to eligibility criteria

[2022-10-24 13:11] BenJam commented on #4329
merged disputed orders and update to stripe for car fingerprinting.

rebase and review current pr (order in review)

[2022-10-24 13:13] BenJam commented on #5886
- conversation re. demo/prototype
- define next steps form an eng perspective vs. the design and product vision (@iamronen)

[2022-10-24 13:15] BenJam commented on #5289
aiming to complete this week, working on pr which will require review

[2022-10-24 13:23] BenJam commented on #3438
prepare for next steps

- docs
- release and feedback issues

[2022-10-24 17:46] poohlaga opened #6071 "Expenses view in UI is inaccurate. Shows Credits (should only be Debits)"
**Describe the bug**
When I click on the 'Expenses' button on the Transactions view - https://opencollective.com/opensource#category-BUDGET
I expect to see transactions that are debits/deductions to my balance however I see some credits/additions.

As a user, it makes me question the accuracy of the reporting and numbers shown in the Budget area.

**To Reproduce**
Steps to reproduce the behavior:

[2022-10-24 21:18] alinamanko commented on #6063
Adding additional feedback picked up[ from this conversation](https://opencollective.slack.com/archives/C0429NTTABF/p1666356019072129) :

- how many tickets automatically get closed/assigned etc due to automations
- the length of time a ticket is open
- how many tickets get passed to multiple people. I’d like to understand if we need to improve the process of escalation and knowing where/who a tic

[2022-10-25 07:01] Betree commented on #6071
@poohlaga If you're referring to the transaction below, it seems that the [expense](https://opencollective.com/opencollective/expenses/101311) was set to pay OSC from OC Inc. In ledger's terms, it is a credit from OC Inc to OSC.

![image](https://user-images.githubusercontent.com/1556356/197704067-b92f83f5-2b30-4c94-82d1-eafb9816d4ca.png)

[2022-10-25 09:06] Betree opened #6072 "Slow query: yearlyBudgetManaged (getTotalAnnualBudgetForHost)"
Part of https://github.com/opencollective/opencollective/issues/6036

[This](https://github.com/opencollective/opencollective-api/blob/850acd7007803039fa732b36c6683ee3f27b27a3/server/lib/queries.js#L99) query [takes](https://sentry.io/organizations/open-collective/performance/oc-api:0694fad326934496b03899480f70da64/?project=5199682&query=transaction.duration%3A%3C15m+http.method%3APOST&statsPeriod

[2022-10-25 10:09] BenJam commented on #5886
quick update with notes from yesterday's call:

- we would love to be able to introduce some filters (specifically the amount of time presented)
- we'd love to be  able to download the results shown is a natural progression
- let's not start with the 'follow' journey
- some sort of categorisation might be useful
- goals for collectives/projects/tiers is probably the most impactful new feature
- We

[2022-10-25 10:11] iamronen opened #6073 "Horizons: funder oriented discovery experience of what is happening in the OpenCollective ecology"
## User story

## Best solution for this problem
A team seeded by @carolinewoolard  including @BenJam @iamronen @memo @znarf has been shaping a user experience that gives an institutional funder an overview of what is happening in Open Collective.

It is envisioned as standalone application that will be based on publicly available data drawn from the platform API. It will enable the user to expres

[2022-10-25 10:44] #4556 closed

[2022-10-25 11:37] Betree opened #6074 "Wrongly recorded fees on PayPal adaptive"
Extracted from https://github.com/opencollective/opencollective/issues/5923
Support ticket: https://opencollective.freshdesk.com/a/tickets/106400

It looks like PayPal changed their adaptive API without warning us, so we've been recording fees for adaptive wrongly in our ledger.

[This expense](https://opencollective.com/symbiosis-pdx/expenses/86540), for example, was recorded with 0 processor fee

[2022-10-25 12:33] BenJam commented on #5815
+1 to this., it would also be great if there was a way to attach information about the collective and user to the ticket on FD. Maybe there's a question in that statement about moving off email and toward using the FD API for tickets.

[2022-10-25 12:42] poohlaga commented on #6071
But from an accounting standpoint, It is a positive addition of funds to my bank account so I would not want to see it in the list of expenses and money going out.

[2022-10-25 12:47] BenJam opened #6075 "Enforce 'submitters cannot approve their own expenses' as a host"
As detailed here https://github.com/opencollective/opencollective/issues/5279#issuecomment-1290496589

We could enforce this above a certain threshold (as we have in the policy), but right now we are lacking the tools to double-check that an expense is okay with another admin.

related https://github.com/opencollective/opencollective/issues/5036

[2022-10-25 12:52] Betree opened #6076 "Requests for additional taxes support"
Using this issue to document the request I'm seeing:
- Australia's GST (https://opencollective.com/vatpac)

[2022-10-25 13:24] #5183 closed

[2022-10-25 13:53] #6072 closed

[2022-10-25 14:15] BenJam commented on #4708
honestly, I think that someone needs to consider this alongside the broader work that was done in https://github.com/opencollective/opencollective/issues/5501

But whatever happens, let's avoid the absolute hell that is this (from discourse)

![Screenshot 2022-10-25 at 14 57 01](https://user-images.githubusercontent.com/158833/197797911-cdf944ec-84f7-49a3-accb-4e7b4c8227c0.png)

[2022-10-25 14:26] iamronen commented on #5886
After a conversation with @Betree @Memo-Es & @vaughanj10 and another followup conversation with Memo the following has become clear:

1. We have finally (with the initial mockups and engineering work) started to bite into the meat of this project ... and we are discovering that there are more design challenges ahead if we want to effectively communicate "the impact of my funding" ... there is more

[2022-10-25 15:11] #4841 closed

[2022-10-25 19:36] natehn commented on #5769
Wondering whether this could make this easier to build? Idk - not an engineer, but seems like we might not have to develop everything from the ground up. https://stripe.com/invoicing

[2022-10-26 00:52] alanna commented on #5817
We already record the merchant ID, Scott needs the timestamps to. To learn more about why can you please ask him directly?

[2022-10-26 01:32] Memo-Es opened #6077 "Tags should be required when creating a Collective"
## Context

This is a follow-up of https://github.com/opencollective/opencollective/issues/4764. We are investing a considerable amount of resources in creating new features such as the new discovery [(a.k.a. Collective weather report)](https://docs.google.com/document/d/1Eh_vbV7sK9FQ5HmS0P9Zqz3LReOgTdMf8BJJUcHGpI8/edit?usp=sharing), the Funders Contributors' dashboard, and the search-related targ

[2022-10-26 06:04] alanna opened #6078 "If a tier has a standalone page, the button should link to it"
## User story
As described [here](https://github.com/opencollective/opencollective/issues/1798#issuecomment-1287906310), if a tier has a standalone page, the big button on the card should link to it, instead of going straight to the checkout flow.

By definition, if someone has taken the trouble to create a standalone page, they want people to have a chance to see the info on it.

## Best solution

[2022-10-26 06:04] alanna commented on #1798
Good point @vnugent - I have raised an issue for this #6078

[2022-10-26 07:48] Betree commented on #5927
Same for VAT

[2022-10-26 08:53] #5787 closed

[2022-10-26 09:17] gustavlrsn commented on #5787
@themightychris This is now fixed in https://github.com/opencollective/opencollective-frontend/pull/8324, thank you for reporting!

[2022-10-26 10:52] Betree opened #6079 "Apply design update to the frontend template project"
The template project should include a default design as implemented in the contributor's dashboard:

# Header

Use {projectName} by Open Collective

![image](https://user-images.githubusercontent.com/1556356/198008060-e884bb33-418d-4601-9a10-c4571a046297.png)

# Footer
![image](https://user-images.githubusercontent.com/1556356/198008121-827d347c-0cba-4241-975e-2813e222457c.png)

[2022-10-26 10:53] Anuran12 commented on #6079
@Betree  I would like to work on this.

[2022-10-26 11:07] Betree opened #6080 "Implement a new OpenCollectiveConfig React context"
# Context

We are now exporting some React components through https://www.npmjs.com/package/@opencollective/frontend-components for them to be re-used in different projects, especially the ones based on https://github.com/opencollective/opencollective-frontend-template.

Some of these components depend on the runtime configuration of Open Collective. For example, our `AsyncCollectivePicker` depend

[2022-10-26 11:26] Betree opened #6081 "Deprecate `buttonSize.round`"
`StyledButton` accepts a `round` value for its `buttonSize` prop. It doesn't make sense, and the prop is only used in one place. We should get rid of it.

[2022-10-26 12:34] EdaSCN commented on #5912
This might be a separate function completely but would there be a way to use this log to see all 'active' and/or 'inactive' collectives. E.g. could we pull up a list of all collectives who've had no activity on their page for the last 6 months?

[2022-10-26 13:05] iamronen commented on #5100
Unless I am missing something this would still require an actual transfer (involving two host ops people - one on the sending end and one on the receiving end) between host bank accounts. Am I missing something?

Wouldn't it be easiest for the paying collective to issue a virtual card and actually make a payment?
This would cost us in transaction fees, but I think the cost of an ops person having

[2022-10-26 17:44] SudharakaP opened #6082 "Marking as Paid Manually should Remove Wise Transaction Details from Expense"
This is related to the following ticket; https://opencollective.freshdesk.com/a/tickets/129541. It seems that the expense was marked as paid but tries to keep synchronizing with Wise and erroring out. When an expense is marked as PAID we need to make sure the Wise transfer details are cleared out from the `expense.data` field.

[2022-10-26 17:55] SudharakaP commented on #6082
@kewitz : Correct me if I am wrong, but it seems to me that we take paid expenses where the `data.transfer` is not `null` and then re process them. This is why I am suggesting to clear out the `expense.data.transfer` details when an expense is marked as PAID manually. 🤔

[2022-10-26 18:44] #5200 closed

[2022-10-26 18:46] gustavlrsn commented on #4681
What behavior do we want for dismissing notification banners? We could adapt and utilize the `DismissibleMessage` component to persistently dismiss notification banners, if we give the notification some unique ID.

[2022-10-26 18:46] gustavlrsn commented on #4681
I've added updated notification banners to the styleguide in the PR linked above: https://opencollective-styleguide-git-feat-notifi-3d68a0-opencollective.vercel.app/?path=/story/design-system-notificationbar--default-story

[2022-10-26 23:34] SudharakaP opened #6083 "Send Email to Host Admins when Wise Balance is too Low"
This was discussed in today's ops meeting where host admins has to manually go to Wise account and check for remaining balance or keep checking the host dashboard to notice that the Wise balance needs to be topped up.

![image](https://user-images.githubusercontent.com/12435965/198154807-0b85d52e-baea-4229-9336-2747a3ba8080.png)

It would be nice if we could send a reminder email to host admins wh

[2022-10-27 06:29] Betree commented on #5769
@natehn we already have a working invoice generation system, being able to emit invoices before the payment would not be a complex addition. Also, using Stripe's invoice service to handle that would lock us with them as the only payment provider available for this feature.

[2022-10-27 07:31] Betree commented on #6071
Oh, I get it now, the problem is that it appears under the "Expenses" filter. The transaction itself is still correctly represented as a credit (from OSC's point of view) or debit (from OC Inc's point of view):

![image](https://user-images.githubusercontent.com/1556356/198218059-763ba999-4992-43fd-a25b-e5019e406a15.png)

I think we're mostly facing a wording issue here as the `Expenses` filter ha

[2022-10-27 07:48] Betree commented on #6077
No real blocker on the engineering side, but we'll need a design for the error state of this field when it's required (I don't think we have a similar case of required tags in the UI).

![image](https://user-images.githubusercontent.com/1556356/198219667-5a5f688e-dd81-4a42-ab33-d7f180cedf6f.png)

From a personal point of view, I don't really see the justification for making it required: it's going

[2022-10-27 07:50] Betree commented on #6078
Handling this to @opencollective/design since it was a conscious decision; we need their review before changing it.

[2022-10-27 08:48] Betree opened #6084 "Allow host admins to filter/sort hosted collectives by latest activity"
From @edascn:

We could either add a `Latest activity` option in the `Sort by` or add a new filter like `Latest Activity` (Last week, Last month, Last 6 months, More than a year).

![image](https://user-images.githubusercontent.com/1556356/198225728-43004d47-0904-416c-a3c1-f4453b6197fc.png)

On the API side, the main challenge will be the size of the `Activities` table that make is super slow to q

[2022-10-27 08:49] Betree commented on #5912
@EdaSCN The Activity Log is not the ideal tool to achieve this. A better place to implement it would be in the `Hosted Collectives` section of the admin. I moved your request to a separate issue: https://github.com/opencollective/opencollective/issues/6084.

[2022-10-27 14:03] #6051 closed

[2022-10-27 14:36] kaylarep commented on #5689
related: https://github.com/opencollective/opencollective/issues/5570

[2022-10-27 14:46] kaylarep commented on #6077
Thanks for opening this @Memo-Es

Yes, @Betree I believe tags to be a very important tool. I've raised this topic many times, it's come up again because of Caroline's project for a Funder's Dashboard.

Right now, we have so many groups using the platform, and we really have no idea what we have. In my mind, tagging would be the most effective way for:
- groups with common interests to find each ot

[2022-10-27 14:54] Betree opened #6085 "Introduce a centralized authentication permissions library"
With the recent expansion of 2FA and the introduction of OAuth, any mutation that gets implemented now needs to check for the user being logged in, being an admin, 2FA, and OAuth scopes. There are also a few additional checks coming in with #4329. The code ends up looking more or less like that:

[code]

This is very verbose, and we can't expect all developers to be aware of these features and rem

[2022-10-27 15:45] natehn commented on #5769
@Betree thanks! Makes complete sense - I figured I'd throw it in there, as someone shared it with me recently

[2022-10-27 15:46] natehn commented on #5769
A note: when confirming a pending contribution, the host admin should be able to add an internal memo, as they do when adding funds: https://www.loom.com/share/d9c4a31ed365493583e80deeca4d392a

[2022-10-27 17:07] Memo-Es commented on #6077
I see this as a medium project, regardless if it is on the form or elsewhere (BTW, the form is a main piece of the onboarding flow). I lean towards having at least one tag on ALL Collectives for the organization and quality of our Collective categorization.
A couple of preliminary points that will need clarification:
 - Automatic tags? (Collectives under OSC should be tagged open-source automatica

[2022-10-27 19:30] Betree commented on #6077
Thanks for providing more context, I am now convinced that tags can be a good tool for the described problems. Also good that we already have issues about improving the suggestions, we should definitely pursue both goals (more tags and better tags) in parallel!

[2022-10-27 19:56] alanna commented on #5769
See #4497 regarding attaching payable invoices to pending contributions - it would be a great addition and would incentivise contributors who otherwise would be manual to use the platform.

[2022-10-27 20:35] SudharakaP opened #6086 "Send Email to Host Admins to Remind about Wise Payments Stuck in `Processing`"
Related to https://opencollective.freshdesk.com/a/tickets/133554.

When paying with a Wise transfer, there are states where the transfer is not errored out but its in `Processing` state for a long time and the host admins have no way of knowing this unless the user sends a message for example through the comments section in the expense. This gives rise to late payments and user discontent.

We nee

[2022-10-27 20:37] SudharakaP commented on #6082
This is fixed by https://github.com/opencollective/opencollective-api/pull/8115

[2022-10-27 20:37] #6082 closed

[2022-10-27 20:53] alanna commented on #6075
I thought of a hole in this one: a host admin can add a new virtual card and make a charge using it without any other admins being involved. It's an edge case but it is a version of "user approves own expense".

[2022-10-27 21:37] alanna commented on #6071
Our platform ha evolved a lot since these things were first created. Expenses used to only ever be debits, but now an expense can result in a credit to a Collective. So it's likely we'll have some refining/refactoring to do in this area. As much as possible, we should make things consistent across our own platform (e.g. what shows on the page should match up with what shows in the export) and matc

[2022-10-27 23:48] emberwry commented on #6063
I love everything that's going into this work, and shows something that is really important about support work which is that it provides feedback about what works and what doesn't work on the OC platform.

I'd really like to hear from some on the dev team (maybe @SudharakaP can relay?) about what feedback is valuable for the support team to pass on and what is the best way to pass that info on? Ki

[2022-10-27 23:56] emberwry commented on #6063
following up to the above from talking with @alanna is that support team feels empowered to create issues, or follow up and comment on existing issues, and that that's the way for the sprint process to ingest some of this relevant feedback. some of these questions are still relevant food for thought, though. also tagging in @iamronen :)

[2022-10-28 07:06] #5928 closed

[2022-10-28 07:07] Betree commented on #5928
:trophy: This issue has been completed by @JoyLubega

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2022-10-28 07:52] SudharakaP opened #6087 "Sureface Bank Transfer Instructions More Clearly"
Related to https://opencollective.freshdesk.com/a/tickets/136000.

Currently when a contributor does a bank transfer we rely on the order number in the bank transaction so that we could find their original order, waiting in pending status, and then mark it as complete.

However when we look at the contribution flow I don't think we surface this information very clearly. For example,

![image](http

[2022-10-28 08:23] SudharakaP commented on #6062
@Betree : When you mention total amount contributed, do you mean the total money spent? I've opened a PR with a potential fix for this let me know how it looks. I used the phrase `Money Spent` since the stat used is in sync with that wording.

[2022-10-28 08:51] SudharakaP commented on #3193
@alanna : Just before I deploy this want to make sure this is what we need;

![bank-account-details](https://user-images.githubusercontent.com/12435965/157753574-b1ff9347-295b-4d02-8384-8ee0f5751e2f.gif)

[2022-10-28 12:04] Betree opened #6088 "How to deal with 2FA in OAuth?"
When using the API, developers can now face 2FA errors that require them to use a 2FA code.

- If that's the intended behavior, we should document it and explain how they're supposed to solve it
- If we decide that OAuth apps can bypass 2FA, then we need to properly study the security implications and properly explain it in the interface.

Related: #6085

cc @hdiniz @znarf

[2022-10-28 15:44] BenJam commented on #5924
looks like this was tackled over in https://github.com/opencollective/opencollective/issues/5983

@vaughanj10 can you link a demo and tie up any follow-on work here?

from my side the next thing we should probably do is recognise that, in the case of a lost dispute, we do pay an additional dispute charge, that we should consider writing to the ledger, perhaps as the point we begin writing payment

[2022-10-28 15:46] Betree commented on #6079
@Anuran12 Sorry, it's simpler for us to take this one internally. But we'll be happy to welcome your contribution to any other issue! Some suggestions: https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-10-28 16:10] SudharakaP commented on #6012
@Betree : I believe the button should always be `Submit Expense` because we don't let the user just "Save" the edits the made without submitting. WDYT? 🤔

[2022-10-28 16:59] SudharakaP commented on #6069
@Betree : I've opened a PR for pdf service. But in the changelog project I don't see any front-end components being used. It seems to use it's own styles. Maybe we should use the front-end components instead of custom styles in changelog? 🤔

[2022-10-28 18:20] SudharakaP commented on #6050
@Betree : If no objection I'll take this one. 😄

[2022-10-28 21:19] #5982 closed

[2022-10-29 02:30] alanna commented on #3193
As long as it includes the full details (bank account number etc, everything you'd see if you went to edit it) then yes this is great.

[2022-10-30 07:18] ShreyaPrasad1209 commented on #5893
Hi, can I take up this issue if it's still available ? @Betree

[2022-10-30 08:30] ShreyaPrasad1209 commented on #5839
@Betree do you want to format this message or rewrite it in simpler words?

[2022-10-30 08:39] ShreyaPrasad1209 commented on #6067
Hi @Betree , I'm new to this project so please bear my noob questions!

The components that you want to move to `components/design-system` are present inside `stories/design-system` ? If yes, what can happen if we directly move this folder to `components/design-system`?

[2022-10-31 01:00] BigJimHillJameel opened #6089 "https://opencollective.com/iwant2"
## Who is your user?

## What are they trying to achieve?

_When <situation>, I want to <motivation>, so I can <outcome>_

## How are they currently doing this?

## How well understood is this problem?

 - [x] Surfacing: if you feel this is a seed of an idea that needs to be researched.
 - [x] Understanding: if you've done some research and feel it is already well understood and ready for shaping.

[2022-10-31 06:36] Betree commented on #5893
Sure! Contributions for this one are welcome, just don't do everything in one go; we recommend making one pull request per converted model to simplify the review & merge process.

[2022-10-31 06:39] Betree commented on #5839
The first part of the message is fine, only the last part about file types should be rewritten to remove the `application/` and such. The result should ideally look like what @alanna suggested in the issue description:

[2022-10-31 06:40] #6089 closed

[2022-10-31 07:16] hjaintech commented on #5893
@Betree Can I take up typescript migration for [LegalDocument.js](https://github.com/opencollective/opencollective-api/blob/main/server/models/LegalDocument.js)?

[2022-10-31 07:45] Betree commented on #6067
Hi @ShreyaPrasad1209, that's because the design system already implements this pattern of separating design system components into their own folder. But what you'll find in `stories/design-system` are not components but rather their "stories", test files that are intended to demonstrate how to use the components and generate previews on https://styleguide.opencollective.com.

We've added the `team

[2022-10-31 08:18] Betree commented on #5893
@hjaintech Be welcome! I've assigned it to you in the issue description.

[2022-10-31 08:20] znarf commented on #6049
Seems the team is expecting the memo field to be exported in CSV and this was not taken in consideration technically.

See: https://opencollective.slack.com/archives/CJ2ERRZQ8/p1666744984954319

Reopening.

[2022-10-31 08:41] znarf commented on #6085
Currently, we can fail and expect the connected oAuth app to collect the 2FA code and pass it to the API. This is what we're doing in the 1kproject payment script.

It may however be a clear anti-pattern, third party should not be incentivized or allowed to collect 2FA from users. It means that we should provide a workflow to fail, ask for a 2FA code and collect it on our own https://opencollectiv

[2022-10-31 08:56] goulart81 commented on #5541
We can already have multiple accounts for different currencies in wise.com. Can opencolllective, that already integrates with wise.com, do the same to support multiple bank accounts for different currencies

[2022-10-31 10:13] Betree commented on #6085
Ignoring 2FA for OAuth app is also a valid approach. We force you to input your 2FA code whenever you connect a new application, but after that, the app has full access and doesn't require you to put your 2FA code.

It looks like both approaches exist in the industry:
1. Transferwise use their frontend components to collect 2FA and send it back to the API (if @kewitz can confirm)
3. Many sites lik

[2022-10-31 12:57] #6081 closed

[2022-10-31 12:58] #3193 closed

[2022-10-31 13:48] Betree commented on #4823
@Memo-Es I assume the design for this one is https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=15971%3A257437 ?

![image](https://user-images.githubusercontent.com/1556356/199023062-bc50bccd-827c-4493-b49a-dc097f0cf567.png)

[2022-10-31 13:59] Memo-Es commented on #4823
Yes @Betree

[2022-10-31 14:01] flickz commented on #4823
Is this available for me to work on or be taken over by the team?

[2022-10-31 14:17] BenJam commented on #5289
ready for review ✌️ may be subject to some iteration this week, otherwise ✅

[2022-10-31 14:42] kewitz commented on #6085
I'm fine with requiring 2FA only when connecting.

Wise pattern is an outlier only when you're funding a transfer, all other endpoints are safe to be requested.
I think we can try a similar approach if we want to run the extra mile.

[2022-10-31 14:48] Betree commented on #4823
@flickz it's in discussion for prioritization but not up for grabs at the moment

[2022-10-31 14:51] Betree commented on #6069
@SudharakaP We initially wanted to use the design system on the changelog too (e.g. for the tags). But I'm not even sure anyone still uses this page, so let's not invest in it for now. Feel free to close this issue as soon as you merge https://github.com/opencollective/opencollective-pdf/pull/871

[2022-10-31 14:57] flickz commented on #4823
@Betree Thanks for the heads up. I have an interest in this when the time comes for implementation.

[2022-10-31 19:25] shannondwray opened #6090 "Feature Request Form"
## User story
As a user on Open Collective, I can submit feature requests or bug reports  <why?>_

## Best solution for this problem
via a form on the Open Collective website

## Metrics
How many people are using the form, some people are not comfortable using Github so ensures we are creating a safe space to hear directly from our users what they want/need or issues they are facing

## Documentat

[2022-10-31 21:43] natehn commented on #3548
A related request that came up recently, just for context, is for invite-only applications. This came from a prospective fiscal host's questioning of whether they will be bombarded with illegitimate applications.

[2022-11-01 01:08] natehn commented on #5275
My suggestion is that we add it in two places.

First, in text form, after this text:

...and before the E2C graphic below, add the following text:

Second, I think we should edit the Slack section at the bottom to read:

[2022-11-01 01:29] natehn commented on #5318
While there has been a discussion of ways to make this process smoother, in the short term, we need to make an adjustment and a few additions to the Resources section of this webpage:

1. We need to change the order so that the most recent items show up first.
2. We need to add two articles to the Resources gallery, as follows.

Articles to add:
- [Startups Have a Sellout Problem. There's a Better

[2022-11-01 08:13] Betree opened #6091 "Slow `REQUEST_VIRTUAL_CARDS` feature resolver"
In https://github.com/opencollective/opencollective-api/blob/761b68350361de40faa2f58f23c3886d371ec79c/server/graphql/common/features.ts#L245, we're loading the host then computing the balance for the collective to know whether we can activate virtual cards. It is expensive (~600ms):

![image](https://user-images.githubusercontent.com/1556356/199188463-fc09c0a9-d96c-47d6-abcd-70a77edee24b.png)

[2022-11-01 09:46] Betree commented on #6085
This conversation is happening in the wrong issue, this one was supposed to be about a centralized authentication library - not OAuth / 2FA. I'll move our comments to https://github.com/opencollective/opencollective/issues/6088.

[2022-11-01 09:47] Betree commented on #6088
Moving the conversation that happened in https://github.com/opencollective/opencollective/issues/6085:

@znarf

@Betree

@kewitz

[2022-11-01 09:53] Betree commented on #6012
@SudharakaP Well, "saving" and "submitting" is the same thing, just different words.

The initial proposal was:

Calling a button just "Submit" is a bad UX practice: https://uxmovement.com/forms/why-your-form-buttons-should-never-say-submit.

The alternative proposal, `Submit Expense`, works but could let you think you're about to submit a *new* expense.

I suggest going with `Save Expense` as a l

[2022-11-01 10:11] BenJam opened #6092 "[Feedback] Create and Edit Tiers"
We've redesigned the process to create and edit tiers. Tiers can be used to provide perks and rewards to supporters, set membership fees, build funding drives, or simply categorise your contributions. The new experience shows a preview of the tier as it will appear on your Collective's profile:

![Screenshot 2022-11-01 at 10 07 45](https://user-images.githubusercontent.com/158833/199209956-f01e601

[2022-11-01 10:32] BenJam commented on #6092
Initial feedback (from staging site)

- button does not appear in the preview — this is key in my opinion.
- [standalone page for new tier did not route correctly ](https://staging.opencollective.com/octoboxes/contribute/t-shirt-tier-k3z8arxv-eymko60y-w9mqgl5n-bj9w704d)

[2022-11-01 10:39] Betree commented on #5086
Currently, yes. But that's something we want to change for the public release: https://opencollective.slack.com/archives/C044GNQ7WBX/p1664539432219079

[2022-11-01 10:56] Betree commented on #6092
Adding my Slack feedback here:

- The goals here are not set properly, we need to fetch the stats. See https://staging.opencollective.com/captainfact_io for an example of how it should look like.
![image](https://user-images.githubusercontent.com/1556356/199217006-1f2b4d97-e12c-49ed-be28-4c12b7f0159b.png)

- :icecream: When creating/editing a tier, I'd like to see a small toast (addToast) in the b

[2022-11-01 11:49] shannondwray commented on #5769
Has a service like Poli been explored? this sends users to a payment portal which they can complete the bank transfer? https://www.polipayments.com/index.html Might only be used in Australia and New Zealand, unsure

[2022-11-01 12:38] #5884 closed

[2022-11-01 12:47] Betree commented on #5294
Interesting lib for handling both the server & client sides: https://github.com/MasterKale/SimpleWebAuthn

[2022-11-01 14:51] natehn commented on #5769
@shannondwray I think this would be something to discuss in the bank transfer issue rather than this pending contributions issue - they are related, but split

[2022-11-01 18:45] #3258 closed

[2022-11-01 20:57] alanna opened #6093 "Require address for >$5k/yr contributors when using Add Funds"
## User story
Related to #4692 - we want this to apply to `add funds` transactions too. US fiscal hosts have to report addresses for all donors giving >$5k per calendar year, but we sometimes miss collecting this info when manually adding funds. This was in the original issue spec but was not completed before the issue was closed.

## Best solution for this problem
Require address in `add funds` m

[2022-11-01 23:13] SudharakaP opened #6094 "Cancel Recurring Payments when user Account is Archived"
Related to freshdesk ticket; https://opencollective.freshdesk.com/a/tickets/137824.

Currently when a user archives their account the recurring payments they have are not paused or cancelled. My thinking is that once an account is archived we should,

- Ideally pause (or cancel) the recurring payments.
- Cancel all recurring expenses by the user.

 Let me know what you think on this or if we shoul