[2019-11-21 19:12] #2649 closed

[2019-11-21 22:01] jacobwgillespie commented on #1832
Just posting an update here, I'm working on this at https://github.com/jacobwgillespie/styled-icons/pull/1056.  Still a work-in-progress, but I should have individual icon packages published shortly.

[2019-11-22 00:53] gusaus commented on #2595
Has anyone reached out to @ericholscher about seeing if https://readthedocs.org/ could provide a better option? Seems like there could be some opportunities to collaborate on tools and models to sustain https://readthedocs.org/sustainability/

[2019-11-22 01:14] gusaus commented on #2633
Would the following be examples of what this functionality would support?

- Working group or service collective
  - Group together projects/collectives the working group is contributing towards
  - The subcollectives for the most part would be hand-picked; not owned or hosted by the parent collective
- Community or meetup collective
  - Group together local meetup groups or chapters
  - Chapters

[2019-11-22 01:22] alanna commented on #2337
@flickz it sounds useful to have a rejected tab, but I don't think it would be used for deletion much. I think the likely users are Collective admins who don't access the host dashboard.

[2019-11-22 01:28] alanna commented on #2633
@lsmith77 for number 2, would the new dedicated tier pages and goals accomplish that or does it need a whole seperate Collective?

[2019-11-22 02:46] jacobwgillespie commented on #1832
I have released this as v9.0.0 - can you test here and let me know if you run into any issues?  You can essentially replace `styled-icons/PACK` with `@styled-icons/PACK`, I'll update the README shortly.

[2019-11-22 02:54] jacobwgillespie commented on #1832
I may have an issue to look into actually, it seems it's having trouble resolving dependencies - I'm off to bed, but will check this out further tomorrow.

[2019-11-22 03:05] gusaus commented on #2420
I think a good start might be to work some processes for financially contributing to bounties into the documentation -
https://docs.opencollective.com/help/contributing/development/bounties

Maybe Open Collective could assign a bounty for that documentation task!

BountySource also provides some good inspiration in terms of process -
https://github.com/bountysource/core/wiki/Frequently-Asked-Quest

[2019-11-22 03:38] alanna commented on #2394
To enable the designs that are being worked on, we need some specifications for the settings host admins can define for invoices and payouts.

@Memo-Es @piamancini I'm writing this here but let me know if I should make these seperate issues. Interested in your feedback about these topics. @alinamanko you might want to chime in too. FWIW my inclination is to go for the MVP+ options in both cases be

[2019-11-22 03:49] alanna commented on #2390
Are there any objections to the proposal I explained above? If not, I'm going to recommend we proceed with it.

[2019-11-22 04:39] jeffin143 commented on #1832
Great job @jacobwgillespie :rocket: :fire:

That was really a great improvement - almost 3 Times the reduced size

Made a mock test - Here are the results

**v8 - 106 MB**

![Screenshot from 2019-11-22 10-06-00](https://user-images.githubusercontent.com/21286134/69398391-0c95c080-0d10-11ea-8b21-0fc4d857f1b9.png)

**v9 - 36 MB**

![Screenshot from 2019-11-22 10-06-33](https://user-images.githubuser

[2019-11-22 07:11] lsmith77 commented on #2633
no it doesn’t need to be a separate collective as long as there is some tracking that makes it easy to know how much was donated for what cause. not sure if tier pages would provide this. but if there would be a virtual ledger it would be fine.

another option I think I once raised as an approach would be that people could donated to a general pool but that when donating they could say if they tru

[2019-11-22 07:37] znarf commented on #2623
It's still happening, here for example: https://circleci.com/gh/opencollective/opencollective-api/22330

[2019-11-22 08:26] Betree opened #2650 "How should we handle spammers?"
Opening this issue to discuss our options regarding spammers, following a request from WWC in https://opencollective.freshdesk.com/a/tickets/3052, https://opencollective.freshdesk.com/a/tickets/3053 and https://opencollective.freshdesk.com/a/tickets/3054 to block someone submitting expenses to their collectives.

---

We have two paths that we need to be able to solve:

1. Users submit expenses th

[2019-11-22 08:38] Betree commented on #2633
Good point! I've added `CONTRIBUTING_TO` to the enum to represent that use case.

Also added `USING`, so that we can represent dependencies between projects with the same system.

[2019-11-22 08:40] Betree commented on #1832
You're amazing @jacobwgillespie, thanks for the super-fast action on this :open_mouth:

[2019-11-22 09:09] jeffin143 commented on #2117
@Betree , sorry but I had a glance at the opencollective-zapier repo API folder, and could understand where to handle this

Could you point me the location , so that I can handle this :)

Thanks

[2019-11-22 09:26] #2496 closed

[2019-11-22 09:29] znarf commented on #2496
🏆 This issue was completed by @leonardohof

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-22 09:45] alanna commented on #2592
I've now worked on the FAQ, email, and blog content, so I think I've addressed everything. I hope it's helpful! Please let me know if you need more feedback @xdamman @piamancini

[2019-11-22 10:19] znarf commented on #1832
@jeffin143 fancy sharing a PR for it?

[2019-11-22 10:21] jacobwgillespie commented on #1832
I think I fixed the dependency issue in v9.0.1

@jeffin143 note that you're still using `styled-icons`, which means all the icons are still included, they just moved into the `@styled-icons` directory (one left of the one you highlighted in that screenshot).  To actually get a size reduction, you'll want to only install `@styled-icons/PACK` modules for each icon pack in use here.

[2019-11-22 10:46] #2621 closed

[2019-11-22 10:47] #2544 closed

[2019-11-22 11:47] ericholscher commented on #2595
Happy to chat -- of note, readthedocs.org for open source stuff is free, whereas readthedocs.com is paid for closed source. We love Open Collective, and would happily offer a discounted or free plan if y'all have specific need of private repos. :+1: :tada:

[2019-11-22 12:26] EslamHiko commented on #2623
@znarf check my pr: https://github.com/opencollective/opencollective-api/pull/2936

[2019-11-22 14:06] gmarcos87 commented on #2614
Perhaps an email could be sent for each item labelled as "priority".
But the address to which it is sent should not be in the repository settings (for privacy). I think that as a collective you should be able to configure the maintenance address in the frontend of opencollective.

[2019-11-22 14:33] gmarcos87 commented on #2639
Hello everyone, I was looking at the origin of the message and is the default message that is sent from opencollective-api in case of error.
Regardless of the paypal error, which message should be shown to the user? And what should be done with the error message returned by paypal in the backend?
I can try to solve this issue but you should know what is expected.

[2019-11-22 17:54] sbinlondon commented on #2650
_1. Users submit expenses that are clearly SPAM._

I agree with the idea of limited mode for spammers. Whatever we do, we should show a banner to a user letting them know that we've taken action (whether it's limiting or fully blocking the account) just in case it's a false positive.

_2. Users submit expenses that it's unclear if they're SPAM or not._

Community moderation is really important no

[2019-11-22 19:52] gusaus commented on #2633
@Betree Glad I was able to make sense 😄

I'll follow-up with some collectives that should be a good test case.

If the second use case is valid, a collective/subcollective trial for chapters/meetup groups for Open Collective and Sustain could be a good internal test.

[2019-11-22 21:42] contraexemplo commented on #2495
I was testing this feature today and noticed that the **Available quantity** field counter does this:
![Peek 2019-11-22 18-35](https://user-images.githubusercontent.com/29989176/69462334-76858880-0d57-11ea-9f1c-799dcbf07f74.gif)
If an user adds those quantities by accident the platform tells them there's something wrong, so it's something small that doesn't warrant an issue of its own. But it's a

[2019-11-22 21:56] alanna commented on #2595
Thank you @ericholscher ! We'd love to collaborate. We're not ready to make the jump right away due to lack of team capacity, but we'll certainly follow up in the future. As of now all our docs are totally open so we don't have a need for private repos.

[2019-11-22 22:55] FarshidKia opened #2651 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/core-js/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36`

# Technical details

[code]

[2019-11-23 00:27] gusaus commented on #2595
Circling back here after a nice discussion with @contraexemplo and @alanna in Slack. I proposed the idea of putting together some contribution events where I reside in Portland, OR. Considering Read/Write the Docs is one of many OSS projects/communities with a [substantial presence](https://www.meetup.com/Write-The-Docs-PDX/) here, we could probably assemble a team to work on migration (or really

[2019-11-23 08:40] #2651 closed

[2019-11-23 12:43] jeffin143 commented on #2581
@znarf @Betree Revisiting this :
Found some alternative which some of our collective have

NPM audit -

https://dev.azure.com/webpack/webpack-dev-server/_build/results?buildId=7132
https://github.com/webpack/webpack-dev-server/pull/2303

Synk
https://snyk.io/docs/using-snyk/
https://github.com/webpack/webpack-cli/pull/1122

Both of these have been used across many repos, so may be that could be he

[2019-11-23 13:15] jeffin143 opened #2652 "Add lighthouse to CI"
## User story
In order to tackle https://github.com/opencollective/opencollective/issues/2475

I think it is really good option to add Lighthouse in CI, or may be a weekly report generated through it
https://github.com/GoogleChrome/lighthouse

## Best solution for this problem
This is not of great priority to implement but can be implemented later

## MVP

- https://github.com/GoogleChrome/lightho

[2019-11-23 18:51] contraexemplo commented on #2606
I decided to chime in in this issue because this was a common theme while I was documenting setting screens. I think it would be better to have a shortcut to the main settings on the dropdown menu (where I expected it to be when I used Open Collective for the first time):

![Screenshot of Open Collective's dropdown menu, accessible by clicking on your username](https://user-images.githubuserconten

[2019-11-23 21:31] lsmith77 commented on #2633
just wanted to reference this stale ticket I originally created for this topic  https://github.com/opencollective/opencollective/issues/1620

this is another one that is clearly beyond on an MVP
https://github.com/opencollective/opencollective/issues/1587

[2019-11-24 04:04] Jeanluis019 commented on #1819
@znarf I can't reproduce this bug, I followed the steps in the description and it didn't work for me, any suggestions?

[2019-11-24 05:59] jeffin143 commented on #1819
@Jeanluis019 please refer comment https://github.com/opencollective/opencollective/issues/1819#issuecomment-546953378

[2019-11-24 15:18] Jeanluis019 commented on #1819
@jeffin143 Thank you! Can anyone assign me this issue, please? (@znarf )

[2019-11-24 15:25] jeffin143 commented on #1819
Since nobody is currently assigned, you can go ahead and take a shot :)

[2019-11-24 15:30] jzabala commented on #1819
@Jeanluis019 sure, assigned. Time limit is 1 week, so we can free the bounty for someone else in case you have trouble completing it.

[2019-11-24 17:00] jeffin143 commented on #1832
I will do it

[2019-11-24 17:19] JoyLubega commented on #2570
After doing some good homework on the host dashboard, I want to pick this again

[2019-11-24 20:21] JoyLubega commented on #2567
I would love to try this issue if no one is working on it.

[2019-11-24 22:39] alanna commented on #2606
@cuiki @raulgrafico any thoughts on this?

[2019-11-24 22:55] alanna commented on #2650
Related: #2002 #2006

[2019-11-24 23:08] alanna commented on #2394
Update from accountants re: exporting system-generated invoices for tax reporting:

So we don't need to generate formatted invoice documents for monthly reports. However, I assume we should still make these downloadable by the expense submitters?

[2019-11-25 02:42] alanna opened #2653 "Ready to pay expenses not showing up on dashboard"
Users are getting in touch about expenses they expected to be paid and it turns out that  they are not being shown on "ready to pay" in the host dashboard so we are missing them.

Examples:

* https://opencollective.com/network-time-foundation/expenses/9228
* https://opencollective.com/hyper-star-samsung-next-decentralization-grant/expenses/11522

The first one has already been paid. The second on

[2019-11-25 02:49] alanna commented on #2653
I feel like I have seen this come up multiple times when the expense amount = 100% of the Collective balance (as is the case for both these examples) and I strongly suspect that's related.

[2019-11-25 07:24] znarf commented on #2653
Reported in the past as https://github.com/opencollective/opencollective/issues/2144 But it was closed without being fixed.

[2019-11-25 07:52] znarf commented on #2639
@gmarcos87 This effectively happening in https://github.com/opencollective/opencollective-api/blob/master/server/lib/transactions.js#L91. Maybe can we throw an error earlier, for example just after we get the error message from PayPal. https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/mutations/expenses.js#L242

The message could be `Error while paying the expense

[2019-11-25 08:33] znarf commented on #2335
Closing. Feel free to follow up in a new issue if needed.

[2019-11-25 08:33] #2335 closed

[2019-11-25 08:33] Betree commented on #2581
@jeffin143 I don't see how the two PRs are related to this issue

[2019-11-25 08:39] Betree commented on #2652
Good idea to have this in CI.

However to be useful the MVP should define the pages we want Lighthouse to watch. We have many pages and not all of them are interesting to monitor.

[2019-11-25 09:32] Betree commented on #2390
@alanna No objection, but I wonder: isn't the language specific to the invoiced organization rather than the host? How will we proceed if an european organization ask for specific language on an invoice they have from OSC?

[2019-11-25 11:20] leonardohof commented on #1727
@znarf Can assign this one to me?

[2019-11-25 11:29] Andarist commented on #2002
I've encountered the same problem - people trying to boost their SEO, put backlinks or whatever. And that being their only motivation for donations.

[2019-11-25 12:46] flickz commented on #2647
@znarf  is the goal to hide `prepaid` payment method ? Or prepaid that are just for backyourstack because we don't really have a unique way of identifying backyourstack prepaid method apart from the `name` property with value "BackYourStack dispatch Payment Method" which doesn't look right to make a condition based on that.

[2019-11-25 13:11] znarf commented on #2647
no

yes

we're creating them, so we should be in control of that.

[2019-11-25 14:21] Betree commented on #1841
I think this is resolved by https://github.com/opencollective/opencollective/issues/1875 and no reply from @xdamman. Closing.

[2019-11-25 14:21] #1841 closed

[2019-11-25 14:33] Betree opened #2654 "Include IP address in sign in emails"
## User story
@piamancini got an sign in email a few months ago that she did not requested ([see the conversation here](https://opencollective.slack.com/archives/C0RMV6F8C/p1570451028191600)). We were not able to investigate much because we don't log the IP address of users who try to sign in.

## Best solution for this problem
We need to be able to retrieve some information about who requested a

[2019-11-25 18:18] rugk commented on #1742
shh #badbot :no_bell::robot::no_bell:

[2019-11-25 20:21] xdamman commented on #2366
1. It's redundant but it's ok because it's a very different user story. It's one thing to use your organization as a fiscal host for your collective, it's an entirely different ballgame to become a fiscal host for others (need to define formal policies, terms of service, application process, pricing strategy, ...)
2. There is a already a "request manual verification" button below the "Verify using

[2019-11-25 21:01] alanna commented on #2390
A comment from a host admin:

@Betree hosts can provide customised documentation for anyone on request. For example I'm creating an invoice for a contributor mentioned in this thread with specific language needed for their grant requirements. I'm doing this outside the system as a seperate document. That's why I want the system generated documents to have the most generic possible language, becaus

[2019-11-25 22:16] raulgrafico commented on #2223
![01-Collective - Desktop](https://user-images.githubusercontent.com/1252676/69582781-f487a080-0f9e-11ea-9dcb-20fc763f8c08.png)
![02 1 → Create new conversation](https://user-images.githubusercontent.com/1252676/69582782-f487a080-0f9e-11ea-925f-487e466fd815.png)
![02 1 → Create new conversations - Mobile](https://user-images.githubusercontent.com/1252676/69582783-f487a080-0f9e-11ea-843e-978aad6031

[2019-11-25 22:54] alanna commented on #2639
This isn't really a fix because it tells the host admin nothing useful. We only offer payment through our API in the dashboard - what is the admin meant to do with this? They can't use an alternative method.

[2019-11-26 05:30] mrdulin opened #2655 "Improve the docs about how to link to backer's custom website?"
Now, I am using the backer avatar link below:

[code]
This link will not link to backer's custom website. How could I do that?

I read the docs: https://docs.opencollective.com/

But didn't find the docs about how to link to backer's custom website by the backer's avatar.

Github Repo: https://github.com/mrdulin/blog
opencollective: https://opencollective.com/slideshowp2

Thanks.

[2019-11-26 05:55] flickz commented on #1976
@alanna, In all use cases, will the value of processor fees always greater than 0?

[2019-11-26 07:18] alanna commented on #1976
Sometimes the payment processor fee is $0 and sometimes it is more than $0. So we need a "payment processor fee" box there, with the default amount set to 0 but editable, similar to what we have for manual payments now.

[2019-11-26 08:03] gmarcos87 commented on #2639
@alanna  In case there is a problem with the paypal account the one that should solve it is opencollective and not the user, am I right? If so, the frontend should notify that momentarily the transaction cannot be carried out and trigger some alert for the administrators/developers.

[2019-11-26 09:01] gmarcos87 commented on #2607
I figured out a way to reproduce the error outside the CI environment:
**Delete the test database and run it again**
[code]
The error occurs during the first execution, in the next executions it will no longer be seen.

[2019-11-26 09:29] flickz opened #2656 "Update changelog nextjs custom server to nextjs serverless route for Now 2.0"
Following up the creation of [changelog]( https://github.com/opencollective/opencollective-changelog) from https://github.com/opencollective/opencollective/issues/1674,

Changelog uses custom nextjs server which is no longer supported for `Now 2.0` deployment. In order to deploy to Now 2.0, we need to update to nextjs custom serverless route.

https://zeit.co/guides/custom-next-js-server-to-routes

[2019-11-26 10:17] Betree commented on #2390
Turns out we already have a `host.settings.invoiceTitle` field to customize invoices titles. It wasn't working, I re-activated it in https://github.com/opencollective/opencollective-invoices/pull/184 + https://github.com/opencollective/opencollective-api/pull/2960

All we'll need next will be a field to edit it in the frontend.

[2019-11-26 11:32] jzabala opened #2658 "Excessive amount of requests when opening the expenses page of a collective."
**Describe the bug**
When you open the expenses page of a collective, too many requests are fired to the GraphQL api.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/webpack
2. Open the DevTools and go to the network tab.
2. Click on **View all expenses**
![Screen Shot 2019-11-26 at 7 22 26 AM](https://user-images.githubusercontent.com/1315054/69626085-4ae7f4

[2019-11-26 13:36] Betree commented on #2658
Duplicate of https://github.com/opencollective/opencollective/issues/2519.

It's ugly, but we don't want to fix it since we'll be revamping the expenses feature entirely very soon.

[2019-11-26 13:48] jzabala commented on #2658
Alright. Closing this one 🙂

[2019-11-26 13:48] #2658 closed

[2019-11-26 13:53] Betree commented on #1727
@leonardohof Yes, a work was started in https://github.com/opencollective/opencollective-frontend/pull/2827 but went to stale. Feel free to re-use the code from this PR if you find anything interesting.

[2019-11-26 13:55] leonardohof commented on #1727
Ok, Thanks.

[2019-11-26 14:03] jeffin143 commented on #2554
@Betree let's close this to keep issue count less :)

[2019-11-26 14:09] Betree commented on #2554
@jeffin143 You're right, https://github.com/opencollective/opencollective-frontend/pull/2969 is fixing this issue.

[2019-11-26 14:09] #2554 closed

[2019-11-26 14:14] jeffin143 commented on #2591
@Betree , we can close this too :)

[2019-11-26 14:19] #2591 closed

[2019-11-26 16:50] EugeneHlushko commented on #2397
Hi, Thanks man! Very overwhelmed to finish the other one :(

[2019-11-26 19:32] jzabala commented on #2652
Why not to start small with the **new collective page** and the **homepage**?

[2019-11-26 21:20] Memo-Es commented on #2417
### Update
**Note:** Color usage is not final*

![Homepage](https://user-images.githubusercontent.com/49539954/69667275-4c7fdf00-1053-11ea-9fb4-a1241319f36d.jpg)

Concept | Illustration | Concept | Illustration |
-- | -- | -- | -- |
**Make your community sustainable** | ![collectivestars](https://user-images.githubusercontent.com/49539954/69669246-1ba1a900-1057-11ea-8f0f-cd88c6f7f271.png) | **Coll

[2019-11-27 07:53] #1508 closed

[2019-11-27 07:56] Betree commented on #2652
Yep, these two are indeed the most interesting to monitor

[2019-11-27 07:58] znarf opened #2659 "Rename "Manual Payments" orders from PENDING to MANUAL"
Today, in the DB, we mark Manual Payments pending confirmation as `PENDING` but this is causing confusion because the `PENDING` state is shared for multiple things.

This was originally outlined here: https://github.com/opencollective/opencollective/issues/1994#issuecomment-503435051

To clarify the behavior, Manual Payments should be internally renamed as `MANUAL` or `UNCONFIRMED` or `PENDING_CON

[2019-11-27 08:05] znarf commented on #2652
Note that he homepage will be rewritten soon. See: https://github.com/opencollective/opencollective/issues/2417

[2019-11-27 08:07] znarf commented on #2652
If implemented in CI, would be interesting to FAIL under a certain score to make sure we only improve and never regress. As we improve, we can target a higher score. Happy to see a proof of concept targeting the collective page.

[2019-11-27 08:22] znarf commented on #1508
As a follow up, would be great to also warn the donator following the initial specs from @xdamman . But let's make sure we're more precise in the way we're handling the PENDING/MANUAL status before.

[2019-11-27 08:24] znarf commented on #1508
🏆 This issue was completed by @leonardohof

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-27 08:45] Betree commented on #2550
Related request today in https://opencollective.freshdesk.com/a/tickets/3111 to have a dedicated image for link preview when sharing on Twitter, Facebook...etc (opengraph)

[2019-11-27 09:05] Betree opened #2660 "Customize images for widgets and shares (opengraph)"
Following up on https://github.com/opencollective/opencollective/issues/2550
Based on user's feedback from https://opencollective.freshdesk.com/a/tickets/2417 and https://opencollective.freshdesk.com/a/tickets/3111

---

Using collective's logo for widgets and shares on social networks (opengraph) is a good default, but we're a lacking a feature to customize them for users who cares about that.

I

[2019-11-27 09:12] Betree commented on #2550
Closing in favor of https://github.com/opencollective/opencollective/issues/2660

[2019-11-27 09:12] #2550 closed

[2019-11-27 09:51] jeffin143 commented on #2642
@znarf , we can close this :)

[2019-11-27 09:55] #2642 closed

[2019-11-27 12:46] jzabala commented on #2652
@jeffin143 would you be working on this? It sound cool and I would like to give it a try if you can't work on it at the moment.

[2019-11-27 13:09] jeffin143 commented on #2652
Sure ,

How are you to implement it , I tried doing it but couldn't succeed , are you going to you zeit now's integration or circle ci , which url would you be watching ?

But anyways you are more than welcome to take a shot :)

[2019-11-27 13:41] piamancini commented on #2326
@alanna I think we can close this.

[2019-11-27 13:45] piamancini commented on #2417
This is looking great!
The font, lines, etc of the homepage should be more in sync with the feel of the illus. (I am assuming there hasn't been any figma design done yet)

[2019-11-27 13:47] piamancini commented on #2218
closing this as it's incorporated in the design of expense flow

[2019-11-27 13:47] #2218 closed

[2019-11-27 13:59] jzabala commented on #2652
To be honest I have no idea how am I going to implement it. My plan is to do research until I figure out something 😁.

I am planning to do what @znarf suggested in his comment https://github.com/opencollective/opencollective/issues/2652#issuecomment-558976576 and implement a prof of concept with the collective page.

I'll assign it to myself and let you know if I come up with anything 🙂

[2019-11-27 15:05] #2590 closed

[2019-11-27 16:30] #2616 closed

[2019-11-27 16:39] XVilka opened #2661 "Does WeChat extension repo really belongs to the Open Collective?"
I noticed the https://github.com/opencollective/WeChatExtension-ForMac repository, which doesn't really look relevant to this organization's account. Apologies if I am wrong.

And it is even out of sync with the original repository: https://github.com/MustangYM/WeChatExtension-ForMac

[2019-11-27 16:41] znarf commented on #2661
No, the repository was just forked on our organization to let them setup their Open Collective.

[2019-11-27 16:43] XVilka commented on #2661
Hmm, but it is not a requirement, right? Because we (radareorg) succesfully set our Open Collective without the fork.

[2019-11-27 16:47] znarf commented on #2661
No, it's just done sometimes by someone in the team to help Collectives setup their Readmes etc ...

[2019-11-27 16:50] XVilka commented on #2661
@znarf I see. In my opinion, it is better to separate then from this organization account. Otherwise it will quickly become a mess. It already did in fact. Or if you have a bot, it can remove the fork after PR was sent - the PR itself is stored in the target repository, so it will be kept even if the fork was removed.

[2019-11-27 16:59] znarf commented on #2661
I agree it's not looking good. It's a bit of a problem to clean now that we have around 1000 repositories like that.

[2019-11-27 17:52] xdamman commented on #2417
Great to see the progress.
The first illustration looks amazing.

For the rest I think there are too many illustrations. We are overdoing it. Less is more.
I'd remove the one for "They are using Open Collective" and the one for "Fiscal Hosts"

The illustration for managing money comes across as I'm keeping all that money for me.
I'd love to see that more about moving the stars between different "b

[2019-11-27 18:30] Memo-Es commented on #2417
I agree that we could remove "They are using Open Collective" (Even though it was partially approved)

Anyway, we could use it elsewhere on the platform...

As for the colors, these are preliminary versions as I noted in the last comment.
The final design version will come after Karim is done with the "Create collective flow", we are prioritizing it for now.

[2019-11-27 20:48] xdamman commented on #2592
Here is another proposal to make the distinction clear between creating an independent collective or joining a fiscal host where each fiscal host could have their own pricing.

Note that it has been decided that the open collective platform should only have a billing relationship with the host moving forward to simplify everything. So instead of showing 5% platform fee and 5% host fee for the open

[2019-11-27 21:16] znarf commented on #2592
"Independent collective" makes me think it's just for for a single one, it's difficult to understand why you would host multiple collectives as "Independent collective".

[2019-11-27 21:45] flickz commented on #2656
Deployed https://opencollective-changelog.now.sh/

[2019-11-28 01:43] alanna commented on #2592
This is a step in the right direction for sure @xdamman

Although I don't understand why it's better than asking them in plain language how they will be set up and showing them the relevant info (the wizard approach). In your design, we still need a way to communicate about what a fiscal host means because the majority of people looking at this will have no idea which category they fit in and won'

[2019-11-28 01:43] alanna commented on #2326
closing in favor of #2316

[2019-11-28 01:44] #2326 closed

[2019-11-28 01:56] alanna commented on #2390
After discussing this at the last team meeting, we decided to create a simple feature so fiscal host admins can set the receipt language for their host.

Here are the specs:

* In host settings, add a section called "invoices & receipts"

(We will actually need this section soon for settings required in the new expense flow ([details here](https://github.com/opencollective/opencollective/issues/23

[2019-11-28 07:50] znarf commented on #2656
Doesn't seem to work.

[2019-11-28 07:57] #2647 closed

[2019-11-28 08:34] #2656 closed

[2019-11-28 09:13] Betree commented on #2390
To complete these specs, the field to edit for the invoice title is `settings.invoiceTitle`.

The title is a no brainer, we already have everything we need in the code to do it.

The description however has different implications, it's the string that gets generated when someones make an order. It is based on the tier, for example for tickets it's `Registration for {event.name}`. It can also be `M

[2019-11-28 09:56] znarf opened #2662 "Updated Pricing Implementation"
## Rationale

Open Collective is strategically focusing on a platform for Hosts (including Self Hosted Collectives). Hosts are the customers of Open Collective. As part of this effort, an updated pricing plan is being discussed and implemented.

Today, some Hosts are currently using the platform for free because because they're not using the donation feature and more relying on "Add Funds" and "Ma

[2019-11-28 12:35] gmarcos87 commented on #2639
I opened the pull-request for this issue. I think it is necessary to reach a consensus on which error messages to display and what options are available to the user in case something goes wrong. Between a horrible message and a useless message, the difference is mainly aesthetic.

[2019-11-28 13:10] flickz commented on #2071
@alanna What exact information will be shown in details?

[2019-11-28 14:22] piamancini commented on #2592
This is my proposal for content:

This is my proposal for the design of the pricing page https://docs.google.com/document/d/1y--R5DMaEf4v_iWBmuY1wRA-IawjvGILmF4wur4bGEM/edit#

It's more descriptive but I think it's clearer.

[2019-11-28 14:24] znarf commented on #2639
To be actionable, we think the message should add `Please contact support@opencollective.com.`. This is the only useful thing we can tell the user.

We don't have better yet as we have not fully understood it. It's now gone and no one else has reported it so far.

[2019-11-28 15:28] piamancini commented on #2417
@Memo-Es the one with the stars un the different jugs can work for this. I liked that one

[2019-11-28 16:32] Betree opened #2663 "GraphQL V2: "Account" object type is confusing"
In [graphql v2](https://github.com/opencollective/opencollective-api/blob/366ae80b95df5a3d3a4b7ac224629282b8c166d5/server/graphql/v2/interface/Account.js#L267) I find that using the word `Account` for grouping collectives/users/events...etc is confusing. In most systems I've encountered an account is what you use to login somewhere and that contain your personal info, you expect it to have an emai

[2019-11-28 17:26] icaroharry commented on #2637
Hi 👋
I'm interested in contribute to the project. Can I work on that?

[2019-11-28 18:30] jzabala commented on #2652
@znarf

- PR implementing a proof of concept for setting up lighthouse
https://github.com/opencollective/opencollective-frontend/pull/3062

- Bad PR showing a failing lighthouse check
https://github.com/opencollective/opencollective-frontend/pull/3073

----

Since this is a proof of concept only categories are being asserted by Lighthouse, but we can be more granular and test things like first-con

[2019-11-28 18:31] jzabala commented on #2652
@jeffin143 I ended using CircleCI.

[2019-11-28 18:35] jeffin143 commented on #2652
Great job , did had a look :)

+1 for this , I agree one should know why is it failing and what can be done to improve it, that way we don't need to manually find the solution as in case of #2475

[2019-11-28 19:41] znarf commented on #2637
@alanna No reason to hide it. I imagine why it's hidden technically but we should definitely display it.

@icaroharry Feel free if you want.

[2019-11-28 22:22] alanna opened #2664 "Host admin unable to edit expense"
As a host admin I should be able to edit any expense in any state except PAID, but the option seems to be missing now.

(This was reported by @alinamanko to @znarf and @Betree on Slack [here](https://opencollective.slack.com/archives/GFH4N961L/p1574969663001900) but I'm raising this issue just to be sure it's captured).

Related:
https://github.com/opencollective/opencollective-frontend/commit/e63

[2019-11-28 22:23] alanna commented on #2653
This change seems to have created a bug: now expenses with insufficient balance are showing in "ready to pay".

[2019-11-28 22:59] alanna commented on #2592
Looks really good @piamancini - I made some phrasing and formatting changes to make things a bit more clear. I agree with your approach. I think it succeeds at simplifying things without oversimplifying them and risking misunderstanding.

[2019-11-29 01:45] alanna commented on #2390
OK great. Let's go forward with the setting for the title.

For the description, it's problematic for it to say "donation" in many cases, and the generic terminology we've agreed on is "financial contribution". But I see what you mean about not losing the tier context.

So let's use "financial contribution to" as the default, and only vary it for events or to pull the custom language from the tier

[2019-11-29 01:47] alanna commented on #2071
The same info you can see if you click "view details" from the transactions view.

![Screen Shot 2019-11-29 at 2 47 01 PM](https://user-images.githubusercontent.com/5498878/69838158-31ada480-12b7-11ea-83ae-1b6244f0eceb.png)

[2019-11-29 03:50] Memo-Es commented on #2394
### Update - Expense feed wireframes
@alanna

Expense feed   |  Expense - Invoice |  Expense - Receipt | Expense - Submitter POV | Expense - Outsider POV
:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|
![→ Latest expenses](https://user-images.githubusercontent.com/49539954/69842213-029c2200-1228-11ea-870b-

[2019-11-29 03:58] Memo-Es commented on #2394
### Update - Admin view wireframes

@alanna

Latest expenses   |  Expense - Invoice |  Expense - Receipt | Reject with comment |
:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|
![→ Latest expenses](https://user-images.githubusercontent.com/49539954/69842726-f913b980-1229-11ea-865a-86b13e44f509.png) | ![→ Expense - invoice](https://us

[2019-11-29 04:17] alanna opened #2665 "Update to fiscal host settings"
A bunch of different changes to settings for fiscal hosts are coming up related to the expense flow redesign and some other features, so I want to clearly pull it together. It seems like a good opportunity to refresh the whole settings section for hosts.

This assumes we can change the settings displayed for fiscal hosts, distinct from what's seen for Collectives or Organizations. @Betree said tha

[2019-11-29 05:29] sbhol2008 opened #2666 "Images are not loading in your How it works page"
Hi,
Images are not loading in your How it works page.
URL: https://opencollective.com/how-it-works
Browser: Google Chrome Version 78.0.3904.108 (Official Build) (64-bit)
Screenshot: https://i.imgur.com/EoSrvNy.gifv
Thanks!

[2019-11-29 08:04] znarf commented on #2666
Thank you for the report!

[2019-11-29 08:15] znarf commented on #2653
This is already taken care of in https://github.com/opencollective/opencollective-frontend/pull/3074. Will be part of next deploy.

[2019-11-29 08:15] #2653 closed

[2019-11-29 08:28] znarf commented on #2666
It's a regression coming from an update of `file-loader`, we'll rollback while investigating. https://github.com/opencollective/opencollective-frontend/pull/3076

[2019-11-29 08:32] znarf commented on #2654
@Betree can you link to the conversation with pia?

@Betree is it really best practice? should we consider some anonymized version instead? what are others doing?

[2019-11-29 08:52] Betree commented on #2654
My bad, just edited the issue with the link.

I wouldn't do anonymized: if someone tries to break into your account I don't think that sharing their IP address is a violation of privacy.

When trying to login on sites like Scaleway (hosting provider) or Steam or Humble Bundle (games) you get an email with the IP address disclosed:

![image](https://user-images.githubusercontent.com/1556356/6985630

[2019-11-29 09:13] Betree commented on #2652
@jzabala Just had a look at these, it's really cool.

Getting the feedback on how to fix the errors or improve the score as you mentioned is a requirement before we can merge this, a CI tool should always tell you how to fix a failing test.

For the first version, is it not possible to output the results directly to the terminal?

[2019-11-29 10:33] piamancini commented on #2394
Thanks @Memo-Es!

Comments:

How's the view before there are any attachment's added? Also for the URL (thank you for adding that btw), what's the view of the input field before there's anything?

Are we are missing the email views of the notifications?

[2019-11-29 10:35] piamancini commented on #2592
ok great. I had a quick call with @raulgrafico yesterday, we'll do some basic wireframes to push this forward.

[2019-11-29 11:37] #2664 closed

[2019-11-29 11:41] jrfnl commented on #1841
@Betree I don't agree. Having to create another profile to bypass a flawed design is not the same as having settings to safeguard privacy.

[2019-11-29 12:52] Betree commented on #1841
@jrfnl the profile is created automatically by the system, from the user-experience point of view you don't have to create anything: just pick "Incognito" when contributing to keep it private:
![image](https://user-images.githubusercontent.com/1556356/69870188-5e5dbe00-12af-11ea-803d-4d364359b510.png)

[2019-11-29 13:38] #2607 closed

[2019-11-29 13:42] gmarcos87 commented on #2666
Hi @znarf, if you want to keep the latest version of image-loaders add ``` esModule: false``` at https://github.com/opencollective/opencollective-frontend/blob/4d8e7edd033a9e205cb672179c2519aa88be790f/next.config.js#L80

[2019-11-29 14:55] jzabala commented on #2652
@Betree I have been reading about the reports and the problem is that the CLI basically gives us what the DevTool does. Something that looks like this:

![image](https://user-images.githubusercontent.com/1315054/69875936-ad4a2a00-1294-11ea-9fe0-7b8a53cab420.png)

And every where I read the solution is to put those files somewhere. This [Github Action](https://github.com/marketplace/actions/lightho

[2019-11-29 15:52] znarf commented on #1662
@NotJohs can you have a look at `generateFXConversionSQL`, it doesn't make any sense?

[code]

[2019-11-29 15:56] gmarcos87 commented on #2094
Can I try to continue this work?

[2019-11-29 15:58] znarf commented on #2094
@gmarcos87 Have a look. It might be massive in the amount of changes required.

[2019-11-29 19:09] jzabala commented on #2652
Hey @Betree is turns out that it was possible to show the report without using CircleCi Artifacts.

In the console you can see this:

![Screen Shot 2019-11-29 at 3 07 32 PM](https://user-images.githubusercontent.com/1315054/69886814-30ca4200-12ba-11ea-8774-f74f54366d0f.png)

That is the report url 🙂

[2019-11-29 19:55] jzabala commented on #2652
Lastly we could improve the Github Status Checks using the Lighthouse CI Github app and setting up the `LHCI_GITHUB_APP_TOKEN` env var.

https://github.com/GoogleChrome/lighthouse-ci/blob/master/docs/getting-started.md#github-status-checks

[2019-11-30 08:31] Olegt0rr opened #2668 "Organization avatar display bugs"
## Description
Something went wrong with your organizations avatar generation service.

## Organization PNG
<img src="https://i.ibb.co/gWTKHCz/Screenshot-2019-11-30-at-11-16-16.png" alt="Screenshot-2019-11-30-at-11-16-16" border="0">
`https://opencollective.com/aiogram/orgranization/0/avatar.png`

## Organization SVG
<img src="https://i.ibb.co/YLKndPC/Screenshot-2019-11-30-at-11-15-50.png" alt="Sc

[2019-11-30 08:52] Olegt0rr opened #2669 "Links to organization site are not working"
# Descriptions
Something went wrong when I use `organization` and `organizations` in your service links.
Some examples use different ways and I've checked it out:

## `organization`
Link is wrong
`https://opencollective.com/aiogram/organization/0/website`

Image is OK (but have a bad size #2668)
`https://opencollective.com/aiogram/organization/0/avatar`

## `organizations`
Link is OK
`https://open

[2019-12-02 00:04] alanna opened #2670 "Unable to contribute as Collective due to insufficient funds, but there are enough funds"
I am trying to contribute from the [Open Collective Collective](https://opencollective.com/opencollective) to the [Open Collective Documentation Collective](https://opencollective.com/documentation) (same host, Open Collective Inc), based on our recent decision to allocate some budget for ongoing documentation work. There is over $60k in the Collective balance, but it's saying there are insufficie

[2019-12-02 01:55] alanna commented on #2394
It's looking great @Memo-Es ! Getting really close now.

### Privacy

I think we still need to improve how we're dealing with communicating and displaying confidential information.

* **Submitter view**: There should be clear indication visually which data they see if private and which is public. Users are very concerned about posting their confidential info (understandable since it's bank details

[2019-12-02 01:58] alanna commented on #2665
@piamancini @xdamman do we need to add something to the fiscal host settings section to reflect the new pricing model? Like a "your plan" section? I assume we'll need a place to show the credit card they have for payment, which plan they are on, change plans, etc.

[2019-12-02 02:10] alanna opened #2671 "Budget section missing from Collective page"
There was a support request related to https://opencollective.com/DragonetMC so I went to look at their expenses and budget, but the whole section seems to be missing from their page. In the host dashboard I can see they have multiple past expenses.

[2019-12-02 02:54] gmarcos87 commented on #2094
@znarf Here is updated to master and passes all tests successfully!
https://github.com/opencollective/opencollective-api/tree/fix-2094-v2

All I did was update the code and then resolve the errors detected by the tests.
Almost all the work was done by @CanerSezgin and @brymut.

[2019-12-02 08:28] Betree commented on #2652
Great!

Done

[2019-12-02 08:31] Betree commented on #2668
Hi @Olegt0rr, thanks for reporting this issue. Can you provide the raw image that you tried to upload?

If it has spaces on the sides I'm afraid there's not much we can do at the moment, we don't have a cropper in place for the avatar.

[2019-12-02 08:34] Betree commented on #2668
Ah my bad, I understand now that there's an unnecessary padding even with properly squared logo https://opencollective.com/aiogram/organization/0/avatar

[2019-12-02 08:39] #2570 closed

[2019-12-02 08:40] Betree commented on #2570
Issue completed by @JoyLubega :tada:

[2019-12-02 09:00] flickz commented on #2071
@alanna I have a PR for this now but it is only displaying "CREDIT" transaction details, I feel it makes sense to display only that because it's an order not expense, is that okay?

<img width="642" alt="Screenshot 2019-12-02 at 9 54 55 AM" src="https://user-images.githubusercontent.com/15707013/69945432-cd265b80-14e9-11ea-88d9-4983ee600f19.png">

[2019-12-02 09:30] flickz commented on #2521
@znarf The issue is closed or are we reopening?

[2019-12-02 09:33] znarf commented on #2521
It's closed, was just assigning you for internal statistics purpose.

[2019-12-02 09:35] flickz commented on #2521
Okay.

[2019-12-02 09:43] znarf commented on #2654
@Betree good examples, let's do it then

[2019-12-02 09:45] flickz commented on #1674
The first version has been deployed: https://changelog.opencollective.com/

[2019-12-02 09:46] flickz commented on #1674
Closing this now. Project repository https://github.com/opencollective/opencollective-changelog

[2019-12-02 09:46] #1674 closed

[2019-12-02 10:10] piamancini commented on #2665
@alanna, yes definitely let's add a space for
Your Plan
How much you have left on the current plan
Manage your subscription

[2019-12-02 10:32] contraexemplo commented on #1674
Awesome job, @flickz! 👏 I'll add it to the docs.

[2019-12-02 10:38] znarf commented on #1674
The changelog project doesn't address any of the original specifications from @Betree .

[2019-12-02 10:43] Betree commented on #1674
While the solution implemented is different, I think that it covers the need that I had to track what we deliver. If being able to tag releases on the frontend is not a requirement, I'm ok with closing it.

[2019-12-02 10:49] flickz commented on #1674
I think we can still find a way to work around this, I'll open a separate feature issue for it.

[2019-12-02 12:20] znarf commented on #2671
@Betree do you have an idea?

[2019-12-02 12:21] #2661 closed

[2019-12-02 12:23] znarf commented on #2669
Looks like the link is correct now. Maybe some temporary cache issue?

[2019-12-02 12:28] znarf commented on #2665
As a starter, we should make sure we differentiate Fiscal Hosts better in the database.

In some cases the Fiscal Host is a USER not an ORGANIZATION, how should we handle this?

[2019-12-02 12:33] znarf commented on #2655
@mrdulin It should link to their website if they have one set in their Open Collective profile. This is not the case for the 2 featured backers.

[2019-12-02 12:38] Betree commented on #2671
Will be resolved in https://github.com/opencollective/opencollective-frontend/pull/3095

In the mean time you can check the transactions on https://opencollective.com/DragonetMC/transactions

[2019-12-02 12:45] znarf commented on #2668
@Olegt0rr In your report, the screenshots for SVG and PNG are inverted.

I'm not sure why the SVG is wrong. I think it's best to use the PNG version from now.

The behavior I see in the screenshot for the PNG is the normal one. I'm not sure about the rationale for this size but it's what everyone is using for years. See for example https://github.com/babel/babel

[2019-12-02 12:46] znarf commented on #2666
@gmarcos87 Done that. https://github.com/opencollective/opencollective-frontend/pull/3083

[2019-12-02 12:46] #2666 closed

[2019-12-02 13:00] znarf commented on #2618
@flickz what about the second issue here?

[2019-12-02 13:09] znarf opened #2672 "Credit Card expiration handling"
## User story

As a user I would like to be notified when my Credit Card is about to expire. I would like a link to a simple page so I can upgrade my subscriptions easily.

## Best solution for this problem

- Send an email notification 1 month before Payment Method (Credit Card) expiration for Payment Methods with attached recurring contributions.
- Create a simple page to enter new Credit Card i

[2019-12-02 13:10] jzabala commented on #2652
Awesome. Thanks @Betree.

The PR is ready for review: https://github.com/opencollective/opencollective-frontend/pull/3062

You can see the Github Status Check in the failing PR: https://github.com/opencollective/opencollective-frontend/pull/3073

![Screen Shot 2019-12-02 at 9 09 35 AM](https://user-images.githubusercontent.com/1315054/69962070-9fd6af00-14e3-11ea-829b-3a68ffacbeaf.png)

[2019-12-02 13:16] Betree opened #2673 "Show expired gift cards in the contribution flow"
Following up on https://github.com/opencollective/opencollective/issues/2480

## Problem

We had multiple cases of people that couldn't find their gift cards because they were expired and they didn't know the reason. We should make that clearer.

## Proposed solution

### API

Add a `maxExpiryDate` on the payment methods endpoint used by the contribution flow. If set, we will fetch payment methods

[2019-12-02 13:17] Betree commented on #2480
Closing, will follow up with the last item in https://github.com/opencollective/opencollective/issues/2673

[2019-12-02 13:17] #2480 closed

[2019-12-02 13:21] Betree commented on #2311
What is the decision for this issue? Should we rephrase this presentation?

[2019-12-02 13:49] flickz commented on #2618
I'll see to it.

[2019-12-02 21:25] alanna commented on #2311
My opinion is there should be *no fees* mentioned at all on this screen. But we should confirm with @piamancini.

[2019-12-02 21:27] alanna commented on #2071
Yes that looks good.

[2019-12-02 22:26] alanna commented on #2646
This issue is affecting @awright and blocking her from showing it to potential customers. I think it needs to be fixed with priority. If the background can't easily be fixed, please just make it white for now until we can fix it properly.

[2019-12-03 08:04] #2671 closed

[2019-12-03 08:09] Betree commented on #2637
Fixed in https://github.com/opencollective/opencollective-frontend/pull/3095
@icaroharry also proposed a fix in https://github.com/opencollective/opencollective-frontend/pull/3098

[2019-12-03 08:09] #2637 closed

[2019-12-03 09:38] jeffin143 commented on #2654
@znarf let's close this since this is done :)

[2019-12-03 10:10] #1727 closed

[2019-12-03 10:10] #2654 closed

[2019-12-03 10:11] Betree commented on #1727
:trophy: This issue is now completed by @leonardohof :tada:

To claim the **$500** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-12-03 10:58] #2623 closed

[2019-12-03 12:00] zicmama opened #2674 "Wrong donation amount value display"
**Describe the bug**
https://opencollective.com/fred-renault is contributing for 20€
but is related to 5€ on contributors page:https://opencollective.com/monnaie-libre

[2019-12-03 12:09] znarf commented on #2674
There is effectively something wrong. fred-renault used to be a  5€ donator but is a 20€ since january last year.

[2019-12-03 12:09] znarf commented on #2674
@Betree maybe can you have alook?

[2019-12-03 12:28] #1935 closed

[2019-12-03 12:30] Betree opened #2675 "Re-organize API's tests"
Today API's tests are all in the same folder, eventually grouped by name prefixes (eg. `graphql.xxx.test.js`).

This is hard to navigate and doesn't provide a clear pattern about what kind of tests we expect.

## Proposal

- Rename all `{testName}.js` to `{testName.test.js}`
- Re-organize the entire `test` directory like this:

[code]

[2019-12-03 12:42] znarf opened #2676 "Fragile E2E test: 24-event.createOrder.test.js"
Sample runs:
- https://circleci.com/gh/opencollective/opencollective-frontend/60987
- https://circleci.com/gh/opencollective/opencollective-frontend/61688
- https://circleci.com/gh/opencollective/opencollective-frontend/61873
- https://circleci.com/gh/opencollective/opencollective-frontend/62208

There is a first error message that is non breaking. It should be fixed.

[code]

The breaking error t

[2019-12-03 13:52] #2558 closed

[2019-12-03 13:58] znarf commented on #2312
This was reverted in https://github.com/opencollective/opencollective-api/commit/d8ece88a21eb9e3d2b8f84334e362034211e6030

[2019-12-03 14:03] Betree commented on #2674
Hi @zicmama, thanks for reporting this issue. It should be fixed now:

![image](https://user-images.githubusercontent.com/1556356/70057819-1952c800-15de-11ea-8fc7-0cf68049fb13.png)

[2019-12-03 14:03] #2674 closed

[2019-12-03 14:27] #2622 closed

[2019-12-03 14:56] znarf opened #2677 "Review 10mn policy for expenses"
In Expenses, there is a 10 min policy:

- // admin of collective can reject the expense for up to 10mn after approving it
- // we can approve an expense for up to 10mn after rejecting it

See:
https://github.com/opencollective/opencollective-frontend/blame/cfa9224074bc25fc569a99313102a2446624994a/src/apps/expenses/components/Expense.js#L121

Should we reconsider this?

[2019-12-03 15:52] Betree commented on #2396
Implemented in https://github.com/opencollective/opencollective-frontend/pull/2615

[2019-12-03 15:52] #2396 closed

[2019-12-03 21:27] Olegt0rr commented on #2668
@znarf
Your example is wrong. I'll be happy if my organization avatars will be similar size :)

 Any of output format should be FULL filled with my square picture.
Just because it's a SQARE and more than 64x64 in original size.

Your outputs:
PNG - 162x64
SVG - 64x64 with 16x16 avatar within it

Please check the original avatar size on org page: https://opencollective.com/truemafia

[2019-12-03 21:29] Olegt0rr commented on #2669
Not it works fine

[2019-12-03 21:29] #2669 closed

[2019-12-04 09:00] alanna commented on #2677
What is the purpose of this 10 min policy? And how does it work in practice?

[2019-12-04 09:10] znarf commented on #2677
I have no idea. It was implemented more than 2 years ago.

If I understand well:
- it prevents a collective admin to change their mind and reject an expense 10 minutes after it was approved
- it prevents a collective admin to change their mind and approve an expense 10 minutes after it was rejected

[2019-12-04 09:11] alanna opened #2678 "Wrong currency showing for transaction"
See https://opencollective.com/vincent-lefebvre

All this user's transactions were in Euro, but the total at the top and the refund are showing in USD.

Possibly the same as #1380

[2019-12-04 09:12] #1832 closed

[2019-12-04 09:19] alanna opened #2679 "Total contributed not reflecting refund"
See https://opencollective.com/vincent-lefebvre

This user contributed €30 and then there was an accidental extra €30 charge, which was refunded. So his total contributed should be €30. But it's showing $60 (I raised the currency problem separately in #2678).

It seems the system is not subtracting the refund from the total.

[2019-12-04 09:22] alanna commented on #2677
I'm not aware of anyone using this and I haven't used it myself. I think we should allow unapprove and unreject at any time by admins anyway.

[2019-12-04 09:32] znarf commented on #2677
@alanna Was also surprised to see that, and surprised no one had complained ever? We we'll remove this behavior.

[2019-12-04 12:20] znarf opened #2680 "Deprecate lastTransactionAt / lastTransactionAmount in REST API v1"
This would allow us to deprecate:

- members.transactions resolver in API
- members.transactions loader

[2019-12-04 12:34] #2094 closed

[2019-12-04 12:40] JoyLubega commented on #2434
Hey @Betree  Any word from design on this. I would like to give it a try.

[2019-12-04 13:10] JoyLubega commented on #2392
Hey @znarf  I would like to give this a try.

[2019-12-04 13:15] josesimoes commented on #2527
@Betree we got a contribution today and it looked too generous to be true, so I went and double check it. Seems that the decimal separator is missing. See below the output that we got at our endpoint.

![image](https://user-images.githubusercontent.com/1881520/70145509-26cc8880-1698-11ea-966b-3f841c7c15fe.png)

[2019-12-04 13:47] Betree commented on #2527
@josesimoes Amounts are in cents (we do this to handle the [imprecision of processors when dealing with float amounts](https://stackoverflow.com/questions/21895756/why-are-floating-point-numbers-inaccurate)). You can add a formatter on Zappier to handle this (just divide amount by 100).

We recognize that this is not ideal, which is why #2117 was started.

[2019-12-04 20:02] piamancini commented on #2677
I think we can safely remove.

[2019-12-04 20:04] piamancini commented on #1038
I want to keep this live since it's so useful to collectives.

[2019-12-04 20:15] piamancini commented on #2646
I can't reproduce anywhere either.

[2019-12-04 20:16] piamancini commented on #2311
we agreed on this over the phone - It's not a huge issue, it root admins only. It's not a user facing feature at this stage.

[2019-12-04 21:21] Betree commented on #2646
Tried on Ubuntu 19.10 with Opera, Chrome, Brave and Firefox (all of them up-to-date). Wasn't able to reproduce.

[2019-12-04 21:27] znarf commented on #2646
I will have a call with @awright to look at that tomorrow. Fortunately, she told me she was not exactly blocked by this issue!

[2019-12-04 21:30] Betree commented on #2434
@JoyLubega Unfortunately we still need an input from @opencollective/design before we can move on with this one.

[2019-12-04 21:33] piamancini commented on #2592
To keep record, these are the initial wireframes done for this page.
![Image from iOS](https://user-images.githubusercontent.com/3671070/70183328-dc71f880-16e5-11ea-90e0-718593e54a7c.jpg)

@raulgrafico is working on better ones on figma - we'll update here before the end of the week.

@znarf we can already put together a project to share with the community to see if someone wants to take this on.

[2019-12-04 22:21] alanna commented on #2665
### Required info

When talking to the designers about the new Collective and Expenses flows, we realised we need to specify which info is required and collect it as part of the setup process. This pertains mainly to fiscal hosts (both of one and multiple Collectives) as the system needs certain info in order to create the basic profile and issue receipts and deal with expenses, etc.

I will add a

[2019-12-04 22:27] alanna commented on #2665
@Memo-Es - see required info with * above and think about where in the setup flows we will collect it.

[2019-12-05 01:59] Memo-Es commented on #2366
### Wireframes update

In a call with @alanna we talked about making ridiculously easy to create a collective so we discussed a 1-step-version and a contact extra step. (after choosing open source vs any other initiative)
Next, are the results and the comments.

Create Collective | Contact
------------ | -------------
![Create collective](https://user-images.githubusercontent.com/49539954/70197032

[2019-12-05 02:54] alanna commented on #2366
Here's my opinion:

One major goal of the Collective onboarding redesign is to reduce barriers to new Collectives getting on board.

A big way we're achieving that is to make the initial setup super simple, then focusing on encouraging core contributors to build out their Collective based on their priorities, once their basic page is set up. If that's about financial contributions, they'll set tha

[2019-12-05 02:56] alanna commented on #2366
Just to clarify, I still think we need the "open source" or "other initiative" screen before this, so we can have a good experience for the large number of Collectives who are coming to us looking to join Open Source Collective. The designs already shared above for that flow are great. I hope this is a temporary state, and in the future we have many other communities just as large as Open Source,

[2019-12-05 03:11] heyakyra opened #2681 "Toggle "new related collectives" in thank-you email to donors"
## User story
As collective, I can either want to be found by similarity to other projects and be discoverable among many projects, or be standalone and independent so that we can establish our own identity. The section of "New related collectives" in the thank you email diminishes the second possibility and comes off as unprofessional for many nonprofit organizations.

## Best solution for this p

[2019-12-05 03:12] heyakyra opened #2682 "Customizable "thank you" email to contributors"
## User story
_As collective, the platform automatically sends out a thank you email to contributors, but I have no way to customize this. I want to be able to set custom text, ideally using smart templating capable of inserting data like the contributors name, the amount, and other relevant information. I should also be able to opt in or out of the addition of the "New Related Collectives" sectio

[2019-12-05 07:59] Betree commented on #2366
100% agree with @alanna on this one. I think asking for contact details here is a distraction.

The smart default of having a contact form will probably fit most collectives, at least at the begining. We should make it easy to change.

[2019-12-05 09:29] #2648 closed

[2019-12-05 09:32] znarf commented on #2094
🏆 This issue was completed by @gmarcos87

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-12-05 09:33] znarf commented on #2094
Huge thank you @CanerSezgin and @brymut for you work on that too!

[2019-12-05 09:36] sbinlondon opened #2683 "Credit card expiration handling part 1: update payment page"
Relates #2672

## User story
_As user, I can access a simple page via an email link so that I can input my new credit card details and it will update all the subscriptions attached to the old one_

## Best solution for this problem
- A plain page based on the "redeem"/"redeemed" pages for gift cards
- Using the credit card form found on the "contribute" page
- The page will tell me once it's updat

[2019-12-05 09:37] sbinlondon commented on #2683
@Betree @znarf

[2019-12-05 09:37] znarf commented on #2192
Closing. We now have a sensible time limit and the links can be used only once.

We're also adding the originating IP address in the Sign In email for troubleshooting.

[2019-12-05 09:38] #2192 closed

[2019-12-05 09:42] znarf commented on #2433
🏆 This issue was completed by @jzabala

I retroactively added a $500 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-12-05 09:45] sbinlondon opened #2684 "Credit card expiration handling part 2: create GraphQL mutation to update multiple subscriptions"
Relates #2672

## User story
_As a developer, I can update multiple subscription payment methods at once with one credit card input._

## Best solution for this problem/MVP
- [x] A mutation that takes in a payment method `id` and a `token` of the new payment method, and then updates all the subscriptions attached to the original payment method id.

## Details
-[ ] Only update payment methods for a

[2019-12-05 09:46] sbinlondon commented on #2684
@Betree @znarf

[2019-12-05 09:47] znarf commented on #2590
🏆 This issue was completed by @jzabala

I retroactively added a $500 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-12-05 09:52] sbinlondon opened #2685 "Credit card expiration handling part 3: create email and cron job"
Relates #2672

## User story
_As user, I can receive an email one the first of the month when my credit card is set to expire so that I can go and update it._

## Best solution for this problem
- Cron job that runs on the first of each month to check for cards that will expire that month
- For each card that will expire and has active subscriptions attached, we will send an email to the user
- The

[2019-12-05 09:52] sbinlondon commented on #2685
@Betree @znarf

[2019-12-05 09:53] #1662 closed

[2019-12-05 09:54] #2576 closed

[2019-12-05 10:03] Betree commented on #2650
Another example of expenses as a SPAM vector: https://opencollective.com/lord-justine#section-transactions

We need an option to flag a user as "banned" to prevent them from doing any further action on the website.

[2019-12-05 11:18] #2618 closed

[2019-12-05 11:22] znarf opened #2686 "BackYourStack: update dependency selection"
## User story

As an existing BackYourStack subscriber, I would like to manage the dependencies I'm supporting, especially if I selected my dependencies.

[2019-12-05 11:23] znarf opened #2687 "BackYourStack: layout broken with Company Banner"
![Screenshot 2019-12-05 at 12 24 49](https://user-images.githubusercontent.com/806/70231210-2f859300-175a-11ea-80f3-635d3036a0f0.png)

https://backyourstack.com/gitcoinco/repositories

[2019-12-05 12:28] ivaylokenov opened #2688 "Collective goals not showing"
**Describe the bug**
My collective goals are not showing on the main page, even though I have turned it on in settings. Link to the collective: https://opencollective.com/mytestedaspnet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/mytestedaspnet

**Expected behavior**
Goals showing.

**Screenshots**

**Desktop (please complete the following information):**

[2019-12-05 12:42] #2337 closed

[2019-12-05 13:15] znarf commented on #2592
Work In Progress in Figma: https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-%2F-Lab?node-id=4158%3A591

![Screenshot 2019-12-05 at 14 15 42](https://user-images.githubusercontent.com/806/70238518-b55d0a80-1769-11ea-9083-4971b7e47f02.png)

Any plan for a mobile version?

[2019-12-05 14:32] piamancini commented on #2592
@znarf
We feel there hasn't been a lot of enquiry on this so at this stage we are using this page to reach out to existing an potential hosts with the pricing to gauge their reaction. Once we get some feedback, we'll close the initial pricing option, iterate if needed and close design.

[2019-12-05 15:46] piamancini commented on #2366
I agree - having to think about what's their preferred contact details at the beginning can make them have to go back to their communities to figure this out, therefore distracting them from starting a collective. This doesn't seem essential at this point in the flow.

[2019-12-05 16:43] gmarcos87 commented on #2094
@CanerSezgin and @brymut  I'd like to split this with you. What do you think?

[2019-12-05 22:30] alanna commented on #1976
@alinamanko reports:

![image](https://user-images.githubusercontent.com/5498878/70279612-b64e7480-181b-11ea-8c70-ff5a5aa6d731.png)

[2019-12-05 22:46] CanerSezgin commented on #2094
Hi @gmarcos87, thank you for your kind and generous offer. It's all up to you in the end.

[2019-12-05 23:40] alanna opened #2689 "Expenses duplicated on host dashboard"
After clicking "load more" sometimes the host dashboard shows the same expense duplicated multiple times. This is super problematic and- it just caused me to make a big overpayment to a user because I added up the total of all expenses shown and sent the funds, only to later realise some of them were duplicated.

Here's an example of how it looks:

![Screen Shot 2019-12-06 at 12 34 24 PM](https://

[2019-12-05 23:59] alanna opened #2690 "Bugs with "load more" on host dashboard"
The "load more" button on the host dashboard is not working properly.

First, expenses are hidden behind "load more" even when they could fit on the page. It should load the first x expenses regardless of when they were submitted. When there are expenses with older dates, they do not get shown unless you click "load more" repeatedly. I had to click the load more button 16 times to reveal that ther

[2019-12-06 02:04] alanna opened #2691 "Expense comments showing in reverse order"
[These comments](https://opencollective.com/json-schema/expenses/11938) are reversed, with the newest one first and the first one last. They should be in chronological order from the top.

![Screen Shot 2019-12-06 at 3 03 14 PM](https://user-images.githubusercontent.com/5498878/70289427-9e85e900-1839-11ea-8835-0e46f342d0d1.png)

[2019-12-06 02:05] alanna commented on #2691
Same problem here: https://opencollective.com/cloudflarecollective/expenses/11824

[2019-12-06 02:42] alanna opened #2692 "Contributor monthly report showing double amount"
We have had multiple users get in touch saying their monthly contributor report is showing they paid twice what they actually contributed, which is making them think they were double charged. The Open Collective transactions on the website show the correct amount so it seems to be an issue with the report email.

[Example ticket](https://opencollective.freshdesk.com/a/tickets/3194)

![Screen Shot

[2019-12-06 05:50] ashinzekene commented on #2673
Assign this to me. I'm working on it already

[2019-12-06 05:51] flickz opened #2693 "Set Backyourstack recurring dispatch date to subscription date"
After a successful first dispatch, the next dispatch date should be set to the date the actual subscription will be renewed while considering various cases where failure could occur.

[2019-12-06 06:45] flickz commented on #2689
I'm sorry for this experience, while I couldn't reproduce the issue locally but I was able to figure out what could be wrong in relation with https://github.com/opencollective/opencollective/issues/2690 and I opened a fix.

[2019-12-06 07:07] znarf commented on #1976
@flickz have a look?

[2019-12-06 07:33] flickz commented on #1976
On it

[2019-12-06 07:36] #2690 closed

[2019-12-06 07:36] #2689 closed

[2019-12-06 08:40] sbinlondon commented on #2684
@znarf Right now we're deleting (`.destroy()`) the old payment method - did we want to archive instead?

[2019-12-06 08:42] znarf commented on #2684
`.destroy()` is already ok as it's a soft delete. If we want something else, we can easily tweak that later.

[2019-12-06 09:18] Betree opened #2694 "Ability to report undesirable comments"
## User story
- **As an Open Collective user**, I can report comments that doesn't respect the standards of my community or that are illegal in my country (abusive content, racism...etc)
- **As a platform**, we are legally obligated to moderate the content posted on the website. For example the [French law](https://www.theguardian.com/world/2019/jul/09/france-online-hate-speech-law-social-media) n

[2019-12-06 09:47] Betree opened #2695 "Ability to limit user account"
## User story
As Open Collective admins, we need a way to control trolls and prevent malicious users from spamming. This issue addresses the second bullet of https://github.com/opencollective/opencollective/issues/2650, when a users haven't done enough bad to be banned but we still want to prevent them from doing malicious actions.

## Best solution for this problem
Open Collective admins can manu

[2019-12-06 09:47] Betree commented on #2650
Followed up with the limited account idea in https://github.com/opencollective/opencollective/issues/2695

We still need to define a procedure for banning users permanently.

[2019-12-06 09:51] znarf opened #2696 "Non breaking error messages in API test"
<img width="1032" alt="Capture d’écran 2019-12-04 à 15 53 28" src="https://user-images.githubusercontent.com/806/70313451-f4e13080-1815-11ea-8089-ef69d201652e.png">

[code]

Sample run: https://circleci.com/gh/opencollective/opencollective-api/23149

Likely happening in `models.Conversations.test.js`.

Bonus: `models.Conversations.test.js` should be wrapped in a root `describe` call like in every

[2019-12-06 09:54] Betree commented on #2696
Will be solved in https://github.com/opencollective/opencollective-api/pull/2994 (see https://circleci.com/gh/opencollective/opencollective-api/23170?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

[2019-12-06 10:56] #2641 closed

[2019-12-06 12:00] #2688 closed

[2019-12-06 12:01] Betree commented on #2688
Hi @ivaylokenov, thanks for reporting this issue. The root cause has been identified and a fix should be deployed today.

[2019-12-06 12:21] Leadang opened #2698 "Money transaction from host to OpenCollective account (not the same host)."
Is it possible to pay back someone from our host (OpenCollective Paris) to his OpenCollective Account from another host?

Here the screenshot:

![1BA4C420-279F-4BD6-A0A9-D579C51ED5A8](https://user-images.githubusercontent.com/38157592/70322752-38926500-182b-11ea-8e22-7de70c9d2220.jpeg)

Thanks a lot!

Lea

[2019-12-06 12:21] Betree commented on #2682
Sounds like a great feature to have. That would also help non-English collectives to thank their community in their native language.

[2019-12-06 12:36] Betree commented on #2698
Hi Léa, unfortunately we don't support cross-host donations at the moment (we plan to, see #2441).

There's a workaround which is to make a wire transfer between hosts and record the transaction manually, but that's a lot of efforts for only $100 (especially because the collectives mentioned are using two different hosts).

Despite the fees, I'd recommend to pay the user via PayPal then he can mak

[2019-12-06 12:47] Leadang commented on #2698
Merci !

Léa Dang
+33647207234

[2019-12-06 13:15] #2698 closed

[2019-12-06 13:25] #2465 closed

[2019-12-06 13:28] #2071 closed

[2019-12-06 16:54] bagder opened #2699 "A backer that stops paying is still claimed to be a backer"
**Describe the bug**
Someone who signs up to pay N USD/month and thereby matches a certain tier as a backer of a certain level. That organization or individual then gets listed as such in that collective.

In our particular case, we (as in the [curl collective](https://opencollective.com/curl)) count them as "silver" or "gold" sponsors at two levels. Being at that level gives them certain benefits

[2019-12-06 19:12] Memo-Es commented on #2366
### Update

This is the version presented in today's demo, it features a 1-step collective creation with special attention on the collective values (See values modal). And the start of the onboarding inside the collective page.

Link to the [prototype](https://www.figma.com/proto/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-Collectives-%E2%86%92-Create-Edit?node-id=7646%3A864&viewport=3904%2C6687%2C0.382227

[2019-12-06 20:21] icaroharry commented on #2691
@Betree would this be a good second contribution? 😅 I can work on it this weekend

[2019-12-07 15:01] gaiguy18 opened #2700 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/webpack/expenses/new while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: iPhone
- Browser: `5.0 (iPhone; CPU iPhone OS 13_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/78.0.3904.84 Mobile/15E148 Safari/604.1`

# T

[2019-12-07 16:45] piamancini commented on #2366
I think this is very well resolved @Memo-Es . It allows for @xdamman's request to have the contact form details in the flow, without blocking it with them.

[2019-12-08 01:27] gaiguy18 opened #2701 "gu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-12-08 13:19] #2701 closed

[2019-12-08 13:19] #2700 closed

[2019-12-08 21:40] alanna opened #2702 "How should we deal with fees for bank transfer payments?"
When a user selects "bank transfer" payment option, we mark the pending order as paid when the funds arrive. Sometimes, the actual funds we receive are less than the amount of the pending order because of bank fees. For example, we got one today where the pending order was $500 and the amount received was $480.

We are about to release the bank transfer payment option to more hosts, so we need to

[2019-12-08 22:17] alanna commented on #2694
Thanks for bringing this up @Betree - we definitely need a solution here.

I think this system should be for not only comments but also expenses and contributions, because those are a big spam issue for us.

My suggestion for the reasons list would be:
* Spam or unwanted commercial content
* Abusive or inappropriate language
* Irrelevant or erroneous content

I think that should cover everything.

[2019-12-08 22:46] alanna commented on #2366
Looks good!

[2019-12-08 23:19] xdamman commented on #2366
Looks good.

However, there is a confusion in the last step “choose the way people can contact Agora”. Social media accounts are not ways to contact the collective, they are primarily ways to receive updates.

What was wrong with the wireframe of Karim for that particular step? I understand there was a confusion between the concept of recipient and core contributor (since we don’t distinguish yet

[2019-12-08 23:24] alanna commented on #2366
We already have contact functionality built in. There's a nice button and form. Users will not have a problem contacting a Collective even if they don't add extra contact info. The screen in the flow here gives them many options for adding more ways to communicate if they want.

[2019-12-09 00:02] alanna commented on #2489
Can this please be done soon?

[2019-12-09 07:16] alanna opened #2703 "Overlapping when there are multiple goals at the same amount"
If a Collective sets up multiple goals with the same amount, they overlap.

<img width="1227" alt="Screen Shot 2019-12-09 at 8 04 21 PM" src="https://user-images.githubusercontent.com/5498878/70415058-a905e400-1ac0-11ea-9b4b-a6c798d8b4c2.png">

[2019-12-09 07:59] Betree commented on #2691
@icaroharry if you have a clear path to fix it feel free to do. Otherwise we may handle it internally, it's a problematic issue that we want to prioritize

[2019-12-09 08:20] joshikeno commented on #2183
@Betree Sorry for the long delay.
I would wrap this up this week.

[2019-12-09 08:51] Betree commented on #2694
Platform admins would be the easiest to start, tho a page for host/collective admins to manage reports and take action would be a great iteration.

That would be the best option, that's what Github does (block at the repo or organization level).

The low hanging fruit is #2695 and adding the ability to ban user at the platform level. Not perfect, but it will give us the ability to block users that

[2019-12-09 08:54] #1976 closed

[2019-12-09 09:50] znarf commented on #2678
I think we could display it in Euros by updating the user profile. That should work for that user.

But:
- not sure how `Collective.currency` is initialized when `type=USER`
- not sure how accurate `getTotalAmountSpent` when dealing with multiple currencies

[2019-12-09 09:54] znarf commented on #2679
To be investigated together with https://github.com/opencollective/opencollective/issues/2678

[2019-12-09 09:56] znarf commented on #2681
@heyakyra Thank you for pointing on that.

I personally think this "New related collectives" is not great and should be removed.

[2019-12-09 10:04] znarf commented on #2691
That seems a regression from https://github.com/opencollective/opencollective-frontend/pull/3006

We should order by `createdAt` in API v2 `expense.comments` resolver.

[2019-12-09 10:07] znarf commented on #2692
I smell that in some circumstances we also fetch the previous contribution (october) or the following one (december) and then are double counting.

[2019-12-09 10:17] Betree opened #2704 "Widgets: object tag is not crawled by search engines"
Following up on https://opencollective.freshdesk.com/a/tickets/3291

User reports that companies contributing financially are not seeing the SEO benefits that they expect when being referenced on the Collective's website via the Financial Contributors Widget.

It [seems](https://stackoverflow.com/a/28517168) that Google is not indexing the `object` tag properly, unless it defines [a proper schema]

[2019-12-09 10:29] xdamman commented on #2366
That's definitely not the best for non open source collectives. It would go a very long way for them to be able to share in other places (posters, flyers, emails, ...) an actual email address. But let's move on. We will make this part of another project lead by non open source hosts.

Same. But there is a chicken and egg here. In order to make other types big we need to make a statement and drive

[2019-12-09 10:31] Betree commented on #2596
@contraexemplo this page is supposed to showcase the widgets that we have, tho it may not be up-to-date: https://opencollective.com/widgets

[2019-12-09 10:32] Betree commented on #2169
Related to https://github.com/opencollective/opencollective/issues/2230

[2019-12-09 10:37] xdamman commented on #2592
Looks great so far!

Small wording comments:
- "The starter plan includes" should probably be "All plans include"
- On the "Add funds received through other channels", the limit should be "per year" or "yearly budget".

[2019-12-09 10:40] Betree commented on #2678
Duplicate of https://github.com/opencollective/opencollective/issues/1408

Proposed a solution in https://github.com/opencollective/opencollective/issues/1408#issuecomment-537404849

[2019-12-09 10:52] znarf commented on #2692
We're counting an order marked as ERROR, we should not do that. Current behavior is coming from a modification that was not properly tested. https://github.com/opencollective/opencollective-api/commit/33dfb89b69197adb00721ece1b688277a0b21326

[2019-12-09 10:56] Betree commented on #2675
No blocker has been mentioned here so I'll iterate with the proposed solution this week.

[2019-12-09 11:03] znarf commented on #2699
@bagder Thank you for the report. Financial contributors are appearing in multiple ways on the Open Collective website and in the different integrations (Readme, widgets).

Can you provide specific examples (which sponsor? where?) so we can look at the cases and see what solutions we can consider?

[2019-12-09 11:07] bagder commented on #2699
In my specific case, we have a "100 USD/month"-tier ("Silver Sponsor") and those who claim to be at that tier are listed here: https://opencollective.com/curl/contribute/silver-sponsor-4080.

First: it isn't easy to see when these backers *joined* this tier so manually spotting who's not actually still paying isn't easy.

Then: I know some of these backers joined many months ago and their "months

[2019-12-09 11:23] znarf commented on #2699
I understand the page you're pointing is a bit ambiguous in what it's supposed to display. Technically, it's currently effectively all sponsors that contributed in the tier, not the active one. In the copy, nowhere it's claimed that they're active and there is no "months as a backer" displayed.

I do remember that in the previous version of the collective page https://opencollective.com/curl/legac

[2019-12-09 11:32] piamancini commented on #2366
I think this design achieves that without getting in the way of users. We want them to add contributors but we want them to be able to skip it as well. It's like when you set up a phone, you can go through all the steps of click skip and finish later.

At this stage, we would like to start implementing instead of going back to the drawing board. I don't think the current design is going to be subs

[2019-12-09 11:33] bagder commented on #2699
Forgive me for saying this, but I find that rather ridiculous. So you're then encouraging people to rather sign up for a really high tier and do a single payment and then appear there forever, rather than donating a small recurring amount that actually builds up and over time could become a much higher total amount? To me, that makes the tiers rather useless and they show off "false marketing".

T

[2019-12-09 11:34] piamancini commented on #2489
yes, @znarf do you think this can be a medium complexity task?

[2019-12-09 11:39] znarf commented on #2489
@piamancini This needs to be handled by the core team. Maybe this is doable without much code. We can prioritize that.

[2019-12-09 11:52] znarf commented on #2699
@bagder I'm not defending the current behavior, I'm just doing my best to explain the status quo. The new design of the collective page is relatively new and it's up for improvements. Let's see what others thinks and figure what we can do.

[2019-12-09 11:56] znarf commented on #2675
As a result, could be interesting to parallelize tests in CI, so we can execute even faster.

[2019-12-09 12:17] Betree commented on #2183
This issue has not been tackled in a reasonable delay. Because that's something important for us and because we want it to have a strong design, it will probably be handled internally.

[2019-12-09 12:18] Betree commented on #2183
We'd still like to give @joshikeno a $200 reward as a token of appreciation for his efforts and investment.

[2019-12-09 16:31] znarf commented on #2646
No one can reproduce anymore. Closing until it's reported again.

[2019-12-09 16:31] #2646 closed

[2019-12-09 19:20] josesimoes commented on #2117
This inaccuracy and the fact that we can't fix it without a Pro account is causing us some unrest in our project... Each contribution is announced as it was 100x greater and we have to intervine to state the correct amount.
Please have this fixed ASAP.

[2019-12-09 19:53] znarf commented on #2117
@josesimoes Unfortunately, we can't tell you for sure when this will be addressed. In the meantime, maybe can you turn this integration off if this is causing problems in your project.

[2019-12-09 20:58] znarf commented on #2692
Removing priority because a fix is ready and it just needs to be shipped before January 1st for the next report.

[2019-12-09 22:16] alanna commented on #2366
Personally I don't think we need more complexity at this point, and I don't see the necessity of adding more options to the initial "open source or other" selection screen. The only reason we have that branching option is because we have a completely seperate technical implementation of the onboarding process for open source projects, i.e. the Github verification flow. There's no need for a separa

[2019-12-09 22:50] alanna opened #2705 "Notify organization admins when funds are added"
## User story
As an organization admin, I want to be notified if funds are added to my balance.
As a host admin, I want org admins to know when I've received and process their payment.

## Best solution for this problem
When funds are added using the "add funds" function on an organization page, an email should be sent to the admins of that organization letting them know.

[2019-12-10 09:54] piamancini commented on #2394
@Memo-Es @raulgrafico Can you please post the latest wireframes here?
@Betree and @znarf have been looking at this for dev feedback and they aren't sure which one is the latest version.

[2019-12-10 10:12] #2691 closed

[2019-12-10 10:14] #2692 closed

[2019-12-10 11:04] znarf commented on #2489
I looked at it and it's more complicated than what I thought, not something we can do on the side. Removing the priority.

Quickly created some branches with todos:
- https://github.com/opencollective/opencollective-api/tree/feat/paypal-payment
- https://github.com/opencollective/opencollective-frontend/tree/feat/paypal-payment

[2019-12-10 11:08] znarf opened #2706 "Cypress crashing at the end of successful E2E run"
This is intermittently happening when running on GitHub Actions. I don't remember seeing it on CircleCI ever.

[code]

Another occurrence: https://github.com/opencollective/opencollective-api/runs/347936422

[code]

https://github.com/opencollective/opencollective-api/pull/3050/checks?check_run_id=348104621

[code]

Also in CircleCI: https://circleci.com/gh/opencollective/opencollective-frontend/6

[2019-12-10 11:48] #2676 closed

[2019-12-10 11:51] flickz commented on #2705
<img width="785" alt="Screenshot 2019-12-10 at 12 44 19 PM" src="https://user-images.githubusercontent.com/15707013/70527270-c6cc5b00-1b4b-11ea-9274-cc10902bb810.png">

@alanna What do you think?

[2019-12-10 13:28] brymut commented on #2094
No thank you, I think you should just have it however you'd like. But I appreciate it tho.

[2019-12-10 13:31] #2390 closed

[2019-12-10 13:41] #2696 closed

[2019-12-10 13:43] znarf commented on #2670
@alanna This is not what I see.

1. Picking: Open Collective (Collective)

<img width="953" alt="Capture d’écran 2019-12-10 à 14 41 37" src="https://user-images.githubusercontent.com/806/70534381-444b9780-1b5b-11ea-8788-e1488ea02736.png">

2. I see
<img width="742" alt="Capture d’écran 2019-12-10 à 14 41 06" src="https://user-images.githubusercontent.com/806/70534429-588f9480-1b5b-11ea-896a-c3

[2019-12-10 13:54] znarf commented on #2670
Removing priority as it's investigated.

[2019-12-10 13:58] znarf commented on #2639
Closing the issue as it was not reported by anyone else and could not be reproduced.

If someone face it in the future, they will have a better error message and will be asked to contact support.

[2019-12-10 13:58] #2639 closed

[2019-12-10 13:59] znarf commented on #2639
Thank you @mixmix for the report and @gmarcos87 for the fix!

[2019-12-10 14:21] #2601 closed

[2019-12-10 14:23] #2693 closed

[2019-12-10 17:40] Betree commented on #2390
@alanna It's deployed

[2019-12-10 20:12] Memo-Es commented on #2394
### Interface update - Form / Receipts

@piamancini @alanna @Betree @znarf

Expense type  →  |  Expense info - Receipt → |  Upload receipt → | 1st Batch upload    → | Upload receipt → | 2nd Batch upload → |  Edit Receipt |
:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|:-------------------------:|:--------

[2019-12-11 02:35] azilber opened #2707 "'Find out more' link is broken."
**Describe the bug**
Link: https://docs.opencollective.com/help/hosts
Does not work:
"Page not found
Sorry, but the page you were looking for could not be found."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/become-a-fiscal-host'
2. Click on 'Find out more'
3. See error

**Expected behavior**
Docs

**Screenshots**
If applicable, add screenshots to help ex

[2019-12-11 02:36] azilber commented on #2707
<img width="954" alt="Screenshot 2019-12-11 at 10 33 09 AM" src="https://user-images.githubusercontent.com/691270/70586438-05bce800-1c02-11ea-8b5d-6e9873f58535.png">
<img width="890" alt="Screenshot 2019-12-11 at 10 36 35 AM" src="https://user-images.githubusercontent.com/691270/70586453-13726d80-1c02-11ea-8df4-813a58d86d3e.png">

[2019-12-11 06:43] mhulet opened #2708 "Collective cover image is not updated"
**Describe the bug**
I can't update the cover anymore on [my collective page](https://opencollective.com/rebelsmanager). No error shown. It is not displaying the uploaded picture.

**To Reproduce**
Steps to reproduce the behavior:
1. As a collective admin, go to your collective page
2. Click on 'Edit cover'
3. Click on 'Upload' and select a JPG
5. Click 'Save' (image is not showing up)
6. The cove

[2019-12-11 07:34] znarf commented on #2707
@contraexemplo can you have a look?

[2019-12-11 07:48] znarf commented on #2708
@Betree Crop data is: ```{"crop":{"x":-1814.2912211913506,"y":-4574.7602892083005},"zoom":0.46031677901744844}},```

[2019-12-11 08:58] Betree commented on #2708
I think indeed that the problem comes from https://github.com/opencollective/opencollective/issues/2471. Your image was uploaded, but it was out of the cropping zone (thus invisible).

We don't, a work was started in https://github.com/opencollective/opencollective-frontend/pull/2571/files but the full implementation required some more work.

I'm going to revisit that with a much simpler PR and I'

[2019-12-11 10:05] znarf commented on #2676
I'm reopening to focus on the first warning.

[2019-12-11 10:06] Betree opened #2709 "Resize hero background image on collective page"
On the collective page (ex: https://opencollective.com/babel/) we're currently using the raw image uploaded by the user. These images can be heavy, which is not good for page load time.

![image](https://user-images.githubusercontent.com/1556356/70610837-8f6db500-1c04-11ea-88e1-a6a13dfe492a.png)

## Best solution for this problem
We want the image on this page to be **650px** height maximum (max c

[2019-12-11 10:07] znarf opened #2710 "Non breaking error in E2E test"
Following up from: https://github.com/opencollective/opencollective/issues/2676

Sample runs:
- https://circleci.com/gh/opencollective/opencollective-frontend/60987
- https://circleci.com/gh/opencollective/opencollective-frontend/61688
- https://circleci.com/gh/opencollective/opencollective-frontend/61873
- https://circleci.com/gh/opencollective/opencollective-frontend/62208

[code]

This can be e

[2019-12-11 10:56] znarf commented on #2670
Will proceed with the changes.

[2019-12-11 10:57] mhulet commented on #2708
Thanks @Betree @znarf 🙌

[2019-12-11 14:28] #1786 closed

[2019-12-11 14:29] Betree commented on #1786
:trophy: This issue is now completed by @JoyLubega

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-12-11 15:27] xdamman opened #2711 "Monthly export of emails and stats for newsletter"
@alanna needs a monthly export of email addresses to import into mailchimp for the newsletter.

This is the query

[code]

I've been doing this manually but I'm not always available when this has to be done and it has been problematic in the past. Can anyone take it over? (and hopefully at some point find a way to automate this?)

Another thing that needs to be done is the export of the monthly st

[2019-12-11 20:22] contraexemplo commented on #2707
Fixed on the docs side as well (https://github.com/opencollective/documentation/commit/387ca1d8f3ed567e1c765204d596e3df2777a1f4).

[2019-12-11 20:25] Memo-Es commented on #2417
### Update
**Note:** These illustrations are preliminary, cropping and color usage will likely change during final production*

@xdamman @alanna @piamancini

![Homepage](https://user-images.githubusercontent.com/49539954/70657647-d027f700-1c21-11ea-9cbe-571c54da61e5.jpg)

[2019-12-11 20:37] nonsodaniel commented on #2417
@znarf I would like to work on this issue

[2019-12-11 21:02] alanna commented on #2417
@Memo-Es what's the best way for me to suggest detailed changes to the text? Not changing the design at all just phrasing.

[2019-12-11 21:12] alanna commented on #2650
Example of a slightly different flavor of spam, where they are hoping we'll just pay without looking too closely, as opposed to posting for linkspam or pageviews: https://opencollective.com/madrid-retreat-1ev/expenses/12316

[2019-12-12 01:02] alanna opened #2712 "Organization did not appear in search when adding funds"
I just added $3600 to [Decoupled Days](https://opencollective.com/decoupled-days) on behalf of Drupal Association. When I went to "add funds" I typed "Drupal" in the box but Drupal Association did not appear, so I clicked "create new organization". Then I ended up with https://opencollective.com/drupal-association1 which tipped me off that it's a duplicate profile. Sure enough, https://opencollect

[2019-12-12 02:12] alanna opened #2713 "email and name field missing from organization creation"
![Screen Shot 2019-12-12 at 2 51 28 PM](https://user-images.githubusercontent.com/5498878/70676102-ee5c2880-1cef-11ea-8753-c739458649c7.png)

There's nowhere to put the email or contact name in when creating a new org as a source of funds.

* How does the user get their receipt and notification of the contribution?
* How can they later log in and make changes or more contributions from that profil

[2019-12-12 03:08] alanna commented on #2705
Looks great!

[2019-12-12 07:53] Betree commented on #2650
@alanna I've seen a bunch of these lately (and removed some).

[2019-12-12 09:01] Betree opened #2714 "Monthly platform and collective report: review who'll be notified"
Currently:
- Platform reports are sent to all admins of https://opencollective.com/opencollective
- Collective reports are sent to all the admins of the collective

We want to review these policies, because users should not be given more permissions than they need just to get an additional notification.

@alanna suggested that we should send the reports to all **core contributors**, that way addin

[2019-12-12 09:14] Betree opened #2715 "Event page: ticket section is displayed when there's no ticket"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1556356/70698531-fdc77b80-1cc7-11ea-8514-dad8362f537a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new event with tiers (tickets)
2. See collective page

**Expected behavior**
The tickets section should not be displayed if there's no ticket, except for collective admins.

[2019-12-12 09:23] flickz opened #2716 "Add documentation to changelog"
Add a documentation to changelog `README` file that explains the project and how to update the changelog in production.

https://github.com/opencollective/opencollective-changelog

[2019-12-12 10:40] Betree commented on #2711
I'll take care of the one for 2020-01, I'll close this if I don't encounter any issue.

[2019-12-12 10:56] piamancini commented on #2712
@Betree I'll take care of changing the transactions - you can take the underlying issue.

[2019-12-12 10:58] piamancini commented on #2712
done

[2019-12-12 10:59] #2707 closed

[2019-12-12 11:03] znarf commented on #2711
Can we write that documentation somewhere out of this issue?

[2019-12-12 14:28] znarf opened #2717 "Event time in SSR is wrongly translated to user timezone"
Check
https://staging.opencollective.com/blogmarks/events/blogmarks-christmas-23741ev

Displayed:
<img width="454" alt="Capture d’écran 2019-12-12 à 15 26 28" src="https://user-images.githubusercontent.com/806/70720359-f3bb7200-1cf3-11ea-9f6d-d96b4af342a9.png">

Expected:
<img width="419" alt="Capture d’écran 2019-12-12 à 15 26 34" src="https://user-images.githubusercontent.com/806/70720351-f0

[2019-12-12 14:28] #2675 closed

[2019-12-12 14:56] Betree commented on #2713
The current behavior has been designed like that. Because it adds you as the org admin, the current flow is indeed to create the organization then go to the members section and add another admin. This flow is definitely not suited for this use case and we should review it.

The problem if we just add an email input is that we'll probably end up with duplicate users, which is not great either (but

[2019-12-12 15:03] Betree commented on #1428
This should be resolved in the new collective page where we implemented a `View all expenses` button.

![image](https://user-images.githubusercontent.com/1556356/70723289-f1a7e200-1cf8-11ea-9eeb-c884e2fd92b7.png)

[2019-12-12 15:03] #1428 closed

[2019-12-12 15:10] Betree commented on #883
Solved with the new contribution flow, especially now that we've merged https://github.com/opencollective/opencollective-frontend/pull/3026

![Peek 12-12-2019 16-09](https://user-images.githubusercontent.com/1556356/70723861-e0130a00-1cf9-11ea-8721-6d106d5b8638.gif)

[2019-12-12 15:10] #883 closed

[2019-12-12 15:11] #2712 closed

[2019-12-12 15:31] mixmix commented on #1428
Sweet, thank you.

Design feedback : I see two sorts of filter active in this design
1. How much do you want to see? (recent/all)
2. What sorts of transactions do you want to see (transactions/ expenses)

As a collective admin I always have to pause and think what the
relationship between transactions and expenses is. I want it to be clearer
by e.g.
- showing me which filter is currently active (I

[2019-12-12 15:42] Betree commented on #1428
The one you're talking about is slightly different than what's discussed in this issue: it's the section displayed on your **user profile** (ie. https://opencollective.com/betree#section-transactions), not the **collective budget** (ie. https://opencollective.com/secure-scuttlebutt-consortium#section-budget).

design. I think that should be replaced with a "Show more" button which
takes you to a f

[2019-12-12 16:03] mixmix commented on #1428
Oh, I've never seen the user profile! (eg
https://opencollective.com/betree#section-transactions).
That's *exactly* what I want.

On Fri, Dec 13, 2019, 04:42 Benjamin Piouffle <notifications@github.com>
wrote:

[2019-12-12 18:59] audreyr opened #2718 ""GraphQL error" shows up on all Expenses pages"
**Describe the bug**
"GraphQL error" shows up on all Expenses pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective like https://opencollective.com/streetlives/expenses
2. See error.

**Expected behavior**
Seeing expenses rather than a blank error page.

**Screenshots**

**Desktop**
 - OS: [e.g. iOS] macOS Mojave
 - Browser [e.g. chrome, safari] Chrome Version 78.0.3904.1

[2019-12-12 20:11] Betree commented on #2718
Hi @audreyr, thanks for reporting this bug.

Is this still happening on your side? I tried to reproduce but the page works on my machine:

![image](https://user-images.githubusercontent.com/1556356/70745367-e6b67700-1d23-11ea-9c2f-1f54f9e2f043.png)

[2019-12-12 21:27] sanatp opened #2719 "nivo Website Dark mode does not show some components examples due to lack of contrasting colors"
**Describe the bug**
nivo Website Dark mode does not show some components examples due to lack of contrasting colors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main webpage
2. Click on https://nivo.rocks/sankey
2. Click on light → dark mode
4. See error

**Expected behavior**
visualization should be visible

**Screenshots**
![Screen Shot 2019-12-12 at 4 23 15 PM](https://user-imag

[2019-12-12 21:36] znarf commented on #2719
Sorry, it's Open Collective there. Maybe you want to check https://github.com/plouc/nivo

[2019-12-12 21:36] #2719 closed

[2019-12-12 23:00] alanna commented on #2394
Figma isn't working for me, so I'm putting text changes here.

![Screen Shot 2019-12-13 at 11 39 52 AM](https://user-images.githubusercontent.com/5498878/70755225-1efa9b80-1d9e-11ea-922e-cda0d11b512b.png)

## 1
Request payment from [Collective] for work you've done or to be reimbursed for purchases. Expenses will be processed for payment once approved by a Collective admin. Only the amount and des

[2019-12-12 23:51] alanna commented on #2394
![Screen Shot 2019-12-13 at 12 30 17 PM](https://user-images.githubusercontent.com/5498878/70757832-ed85ce00-1da5-11ea-9582-179e37e124e5.png)

## 1
Upload receipt

## 2
Submit invoice

## 3
Tags

## 4
Upload one or multiple receipt(s)

## 5
*Expenses will not be paid without a valid receipt*

## 6
Amount

## 7
OR [   ] 100% of Collective balance ($x USD)

## 8
#### What does a valid receipt contai

[2019-12-13 01:28] alanna commented on #2394
![Screen Shot 2019-12-13 at 12 56 27 PM](https://user-images.githubusercontent.com/5498878/70761853-87a04300-1db3-11ea-87ba-e1cf3da23534.png)

## 1
*Make it super clear that this section is private info*

## 2
Total (tax inclusive)

*Note: we are not adding any features for taxes as it's super complex. We're just saying if someone needs to include tax in their invoice total that's up to them.*

##

[2019-12-13 01:35] alanna commented on #2394
![Screen Shot 2019-12-13 at 12 57 16 PM](https://user-images.githubusercontent.com/5498878/70762265-db5f5c00-1db4-11ea-8ecc-554cd4e28306.png)

**Save your info for next time?**
You can save your invoicing details as a template so you don't have to put them in every time. You can save multiple templates for different payees (e.g. yourself personally and your company).

[  ] Save as template  Templa

[2019-12-13 01:47] alanna opened #2720 "Host can change currency"
[Flarum](https://opencollective.com/flarum) has recently moved to their own fiscal host from OSC. Because they are in Europe, their currency is showing in Euros, but they actually want to stay with US dollars. How can they change the currency? I can't find this setting in the Host or Collective settings.

[2019-12-13 01:53] alanna commented on #2713
Legally we have to provide a receipt when we receive funds so we need to associate the contact info here. I'm also uncomfortable showing up as the admin of all these organizations I don't actually represent.

[2019-12-13 02:18] alanna commented on #2714
I think it's good we don't seen non-admin core contributors all the notifications about expenses, etc, but monthly reports seem like a good one to send to all core contributors. They can unsubscribe if they don't want it, right?

[2019-12-13 07:47] mixmix commented on #2639
you're welcome. Super glad there's a nice thing there for the next person.
You're doing great work !

On Dec 11 2019, at 2:59 am, François Hodierne <notifications@github.com> wrote:

[2019-12-13 07:50] #2715 closed

[2019-12-13 08:04] Betree commented on #2714
Yes it seems that the collective monthly report has an unsubscribe link properly set

[2019-12-13 08:39] znarf opened #2721 "Delete CollectiveCover"
- [ ] Replace all occurences of `CollectiveCover` by `CollectiveNavbar`
- [ ] Create a simple header for Host Dashboard (the only occurence using `forceLegacy`)

[2019-12-13 08:43] luceos commented on #2720
A few unwanted side effects:

- Backers were stored with USD, see [this](https://github.com/opencollective/opencollective/issues/981#issuecomment-377568011).
- Backers on a tier no longer are on a tier. Seeing active backers is now only possible using the API.

I am seriously hoping we didn't just lose all recurring donations, because that would be a huge hit to our financial stability and thus ou

[2019-12-13 08:49] Betree opened #2722 "💬️ Conversation feature: 1st feedback round"
The conversations feature is going to be released soon. This first release is just a start, but we want to get some feedback as early as possible to make sure that this feature is useful to users.

This issue is where we will be collecting feedback from the team and community to iterate as quickly as possible. It will be live for the next 3 months. Ideas in this thread that we can't implement in t

[2019-12-13 09:07] znarf commented on #2720
Yes. I think keeping everything in USD is the sensible choice if the goal is to keep the current recurring contributions running. What behavior would the existing contributors expect?

No. According to the documentation, the subscriptions should be kept https://docs.opencollective.com/help/collectives/change-fiscal-host#what-happens-to-my-recurring-financial-contributions-followers-of-updates-and-

[2019-12-13 09:15] znarf commented on #2720
Let's troubleshoot this issue over our support channels, happy to help on Slack or support@opencollective.com.

[2019-12-13 12:21] Betree commented on #2097
Because:
- The contributors grid grid is not filterable
- The grid doesn't include all contributors (https://github.com/opencollective/opencollective/issues/2432)
- We want to keep the grid fast (so it shouldn't handle too much features)
- What we really want to edit is the memberships (which is slightly different than contributors, see https://github.com/opencollective/opencollective/issues/2102)

[2019-12-13 12:25] #2687 closed

[2019-12-13 13:27] Betree commented on #2711
I've updated https://docs.opencollective.com/help/internal/newsletter with these information

[2019-12-13 13:48] piamancini commented on #2097
I think a section in the collective edit page is good enough to unblock this. I agree that fancy design is not needed. I'll talk to design about it

[2019-12-13 14:16] Betree commented on #2695
https://github.com/opencollective/opencollective-api/pull/3044 implements this issue, with the additional ability of either liming user entirely or to block specific features.

[2019-12-13 14:54] xdamman opened #2723 "Contributors missing in tier"
See https://opencollective.com/xr-belgium/contribute/after-party-12957

![](https://d.pr/free/i/9dd3zB+)

Expected result: I (Xavier) should show up as a contributor (€20) but also other people.

It looks like one of the issues comes from the fact that it doesn't create a new row in `Members` if the contributor is already a member of the collective.
I've updated manually the row with id 65319 (in

[2019-12-13 15:16] znarf commented on #2097
For this project, I was thinking the engineering team could build a proof of concept first. That would unblock existing users and help us rapidly iterate. Once more or less stable, we could integrate it in the edit collective with the help of the design team.

[2019-12-13 15:56] Betree opened #2724 "Rich text editor > Add link: buttons sizes are wrong"
Related to #2722

This is because of the customization for toolbar's buttons. We need to make sure this only applies to the buttons actually in the toolbar, not to the add link popup.

![image](https://user-images.githubusercontent.com/1556356/70813185-60ed0700-1dc9-11ea-8990-1041eb0199ae.png)

[2019-12-13 16:07] Betree commented on #2722
Some early feedback from the initial pre-release:

- Text looks too small. Design used a `13px` font-size (which is not standard according to the design system). I think we should increase to `14px`.

- The edit button for the title doesn't look great. I've used the default one because the action was not designed in Figma, but I think we should move it to the left-side buttons that haven't been im

[2019-12-13 16:19] piamancini commented on #2722
When editing a comment, trying to add a picture, hit save picture wasn't saved

[2019-12-13 16:24] Betree commented on #2722
Image upload is broken indeed, need to investigate. It's normally supported.

[2019-12-13 16:41] piamancini commented on #2722
view thread online in this email is linked to https://opencollective.com/ not the thread.
<img width="949" alt="Screen Shot 2019-12-13 at 5 40 06 PM" src="https://user-images.githubusercontent.com/3671070/70816405-b9270780-1dcf-11ea-9191-7b75eb883a4e.png">

[2019-12-13 16:45] piamancini commented on #2722
Now  this email notification, effectively takes me to the thread, but I can't see François comment
<img width="1077" alt="Screen Shot 2019-12-13 at 5 44 41 PM" src="https://user-images.githubusercontent.com/3671070/70816693-571ad200-1dd0-11ea-9650-79cebdc63526.png">
<img width="1288" alt="Screen Shot 2019-12-13 at 5 44 34 PM" src="https://user-images.githubusercontent.com/3671070/70816708-5d10b300

[2019-12-13 16:49] znarf commented on #2722
- My comment was a single image so it was effectively empty because of the image upload issue
- When deleting a comment, I was redirected to the Collective page, that was weird.
- When editing a comment, the Update / Cancel button are **HUGE**

[2019-12-13 16:52] znarf commented on #2722
@piamancini you're admin, you should have that right

[2019-12-13 16:58] piamancini commented on #2722
really? I'm not comfortable with that. I think admins should be able to delete comments but not edit them.

[2019-12-13 17:06] Betree commented on #2722
What we agreed during last Friday's call was that admins shouldn't be able to edit comments because we don't have an history for now, but I didn't have the time to do it yet

[2019-12-13 17:10] znarf commented on #2722
Editing the title, the buttons are also HUGE

<img width="707" alt="Capture d’écran 2019-12-13 à 18 07 18" src="https://user-images.githubusercontent.com/806/70818380-d362e480-1dd3-11ea-8ba2-334d4a49fad9.png">

[2019-12-13 17:23] piamancini commented on #2722
strikethrough in editing is not saving!

[2019-12-13 17:23] Betree commented on #2722
@znarf Was it the root comment (conversation body)? Deleting a comment normally don't redirect, but deleting the conversation does.

[2019-12-13 18:57] piamancini commented on #2722
I shouldn't be receiving an email notification of my own comment

[2019-12-13 20:16] znarf commented on #2722
@Betree No, was a comment in a conversation.

[2019-12-13 20:20] znarf commented on #2722
The "comment count" (here `1 1 4`) is globally inaccurate. Not sure it's supposed to include the root conversation or not.

<img width="294" alt="Capture d’écran 2019-12-13 à 21 18 15" src="https://user-images.githubusercontent.com/806/70829514-424d3700-1dee-11ea-910a-1d43bcbbb0e5.png">

[2019-12-13 21:50] alanna commented on #2722
* I got an email notification about my own comment
* I expected to show up in the "following" section as soon as commented, but I had to refresh the page manually

[2019-12-13 21:56] alanna commented on #2713
This issue of needing a pattern for creating profiles is going to come up more and more because of the "submit on behalf of" feature in expenses and also when adding core contributors during Collective creation. We need some system for creating a profile, associating the name and email, and sending an invitation to that person to confirm they accept.

[2019-12-14 05:56] Memo-Es commented on #2394
### Update - Forms prototype

This is the form prototype for receipts and invoices after the feedback round of today's demo. @alanna you can use this for the newsletter

[Prototype in figma](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=4403%3A27931&viewport=662%2C-149%2C0.15480825304985046&scaling=scale-down)

**Receipts**

Expense type  →  |  Upload receipt → |  Sin

[2019-12-15 01:39] alanna commented on #2394
Thanks @Memo-Es

A few comments...

1. Please remove the "do you have an invoice already" thing. We don't need attachments for invoices anymore, and it will further complicate the design.

We are building this with the expectation that the user will put their details in the form, and we will need them to do so for exporting the data to accountants, etc, so uploading another invoice is redundant (e

[2019-12-15 02:15] alanna opened #2725 "New Expense Flow Feedback"
We're working on a big upgrade to the expense submission process, and we'd like feedback from the community.

The new expense flow will enable useful new features like:

* Receipt batches: Upload a bunch together to reduce data entry.
* Automatic invoices: No attachment needed - it saves your details.
* Submit on behalf: File an expense for someone else.
* Expense tags: Track projects or categorie

[2019-12-15 02:24] alanna commented on #2394
I posted a seperate thread for user feedback that I'll link to from the newsletter: https://github.com/opencollective/opencollective/issues/2725

[2019-12-15 20:29] alanna opened #2726 "Tax form submitted by user but not recognised as received"
Tax form completed by user and showing as completed in HelloWorks, but not being marked as received in our system. Multiple users reporting.

Two examples:
* https://opencollective.com/smelukov
* https://opencollective.com/alyssa-wright

Both these users have definitely completed the form through HelloWorks, but the legal document status in Forest is showing as "requested" not "received".

[2019-12-15 21:35] contraexemplo commented on #2595
@ericholscher We had an incident with our current documentation platform last week that left me curious about how RTD deals with downtime.
- Do you have an estimate of RTD uptime?
- Have you ever faced an incident that caused RTD to become unstable or unavailable for a few minutes or hours? How did RTD address that issue and communicated with all communities which rely on that service?

[2019-12-15 22:12] alanna opened #2727 "Add comments to standalone tier pages"
I think we should add comments/discussions to standalone tier pages. As we already have this functionality built it seems like it could be straightforward.

Contributors to that tier could be automatically subscribed as followers, so Collectives could use comments as a way to update everyone on progress of a tier. For example, when they raise the funds successfully and fulfil the goal.

Here's an

[2019-12-15 22:37] alanna commented on #1723
Bumping this up - is this a requirement for deploying the new pricing model?

[2019-12-16 02:53] alinamanko opened #2728 "Support Metrics Report November 2019"
### Support Metrics Report November 2019
This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![image](https://user-images.githubusercontent.com/57156267/70875740-e7008c00-201b-11ea-9404-6531d207b3c1.png)

The number of tickets received has dropped by 37% from 295 in October to 187 in Nov

[2019-12-16 02:56] alinamanko commented on #2728
Any feedback on the above is welcomed - @alanna @piamancini @Betree @znarf @xdamman

[2019-12-16 07:54] Betree commented on #2713
@xdamman your feedback is welcome here as you led the collective picker project

[2019-12-16 07:59] Betree commented on #2728
Thanks @alinamanko, that will be helpful to help prioritize!

I'm going to write specs for the SPAM / Moderation issue during this week.

[2019-12-16 08:21] #2695 closed

[2019-12-16 09:27] znarf commented on #2706
Reported upstream: https://github.com/cypress-io/cypress/issues/5965

[2019-12-16 09:39] znarf commented on #2726
Just investigated and it's related to https://github.com/hellosign/helloworks-nodejs-sdk/issues/9

[code]

While this is being troubleshooted, we'll need to re-conciliate by hand.

[2019-12-16 10:15] znarf commented on #2721
@flickz unassigning you, it's not ready to be tackled

[2019-12-16 10:22] staltz opened #2729 "Expense not yet paid out"
**Describe the bug**

Hi! Not sure if this is the right place to report this, but [this expense](https://opencollective.com/manyverse/expenses/12116) on the Manyverse OpenCollective has not yet been paid out, although it has been some weeks already, and the invoice date has passed too. I do this every month, but this month the payment hasn't been sent yet.

[2019-12-16 11:34] znarf commented on #2729
@staltz I already forwarded internally but the best channel for that is support@opencollective.com

[2019-12-16 11:39] piamancini commented on #2394
@alanna

We decided to still support this option, as there are people who will still want to send invoices they created. For example, Mexico has strict regulations of what their invoices need to have. So they will want to upload theirs.

It's like any vendor system, we create an invoice but still have our own that is uploaded, we our own accounting system that we want to make sure we keep.

[2019-12-16 11:40] znarf commented on #2720
To come back to this ticket original purpose, this is not something that we want automated or done by the users.

- Collectives should always use the Host currency for accounting
- Collectives with past transactions should not be allowed to change their currency (they should be able to swap hosts but not with to an Host with a different currency)
- Hosts with past transactions should not be allowe

[2019-12-16 11:41] znarf commented on #2711
Closing then.

[2019-12-16 11:41] #2711 closed

[2019-12-16 11:49] znarf commented on #2723
The row with id `65319` is not you but "Leen". It's now correctly appearing.

Effectively, because of internal caching, it's possible that manual edits to the database are not appearing immediately.

[2019-12-16 11:53] znarf commented on #2655
Closing. Feel free to reopen if that didn't solve your problem.

[2019-12-16 11:53] #2655 closed

[2019-12-16 11:55] znarf commented on #2718
Closing. Feel free to reopen if this happens again in the future.

[2019-12-16 11:55] #2718 closed

[2019-12-16 12:02] znarf opened #2730 "User and Organization should be able to set their currency"
Follow up from https://github.com/opencollective/opencollective/issues/1408

## User story

As a user or organization I would like my statistics to be displayed in the currency of my choice.

## Best solution for this problem

Let user and organization set their currency from the settings, the property is already existing in the API.

- This should absolutely NOT be available for past and current

[2019-12-16 12:27] JoyLubega commented on #2724
Hey @Betree I am going to this is a try

[2019-12-16 12:37] rugk commented on #1738
shh #badbot :no_bell::robot::no_bell:

[2019-12-16 13:27] znarf commented on #2391
According to our blog post https://blog.opencollective.com/beyond-post-install/, the goals of this issues were covered. It's not perfect but this is a good step in the right direction. Closing.

[2019-12-16 13:27] #2391 closed

[2019-12-16 13:28] znarf commented on #2440
Trial in progress using Matomo.

[2019-12-16 13:38] znarf commented on #2729
Closing as conversation has moved to the other channel.

[2019-12-16 13:38] #2729 closed

[2019-12-16 14:14] #2678 closed

[2019-12-16 14:37] znarf opened #2731 "Document BackYourStack badges"
Now that we implemented BackYourStack badges (https://github.com/opencollective/opencollective/issues/2610), we want to surface it in the interface and add a documentation on how to integrate it on their website.

[2019-12-16 16:56] Betree commented on #2724
Hi @JoyLubega, feel free to do so. This is quite important for the public release of conversations, so I'll probably handle it myself if you don't have the time to to solve it before the end of the week.

[2019-12-16 17:07] xdamman commented on #2723
It's not only caching, there is also another issue as I don't show up despite my donation (I manually fixed it for Leen's), and also the total raised sor far €156 doesn't match with the only 3 contributors that show up so far (€60)

![](https://d.pr/free/i/Dvz0DE+)

[2019-12-16 17:18] Betree commented on #2723
That's probably the root cause, I've recently spotted a similar issue.

The amount difference seems to be related to that as well, it's missing your contribution and the ones from 3 other contributors.

[2019-12-16 19:57] znarf commented on #2723
@xdamman I never implied the problem was due to caching. I was just explaining why manual edits to edit the database were not appearing.

[2019-12-16 20:23] alanna commented on #2728
Thank you @alinamanko - looks good!

[2019-12-16 20:30] alanna commented on #2394
Re: attaching invoices. That's fine - they can attach them as a comment. If "attachment" must be on the invoice submission page, I want it to at least be de-emphasised compared to the current design. It's way too big. Make a tiny "add attachment" link for users who need it. Right now it falsely looks like it's required.

[2019-12-16 20:31] alanna commented on #2394
Re: templates - so the system will just save their last-entered info for invoices? That's fine, as long as it pre-fills in the boxes and saves any changes they make. The point is to reduce repeated data entry.

[2019-12-16 20:49] sentry-io[bot] opened #2732 "Order page crashes when users click on "Cancel pending order""
Sentry Issue: [OC-FRONTEND-YR](https://sentry.io/organizations/open-collective/issues/1385172614/?referrer=github_integration)

Introduced in https://github.com/opencollective/opencollective-frontend/pull/2820

The `Cancel pending order` button is not given any function (via the `onClickCancel` prop) on the order page (ie. https://opencollective.com/flarum/orders/59022). As a result the page crash

[2019-12-16 20:50] Betree commented on #2732
@flickz can you look at this one?

[2019-12-16 20:52] flickz commented on #2732
Sure

[2019-12-17 06:43] flickz opened #2733 "Filter out duplicate issues in changelog"
Some closed issues returned on changelog are duplicates.

<img width="780" alt="Screenshot 2019-12-17 at 7 36 03 AM" src="https://user-images.githubusercontent.com/15707013/70971258-d9411a00-20a0-11ea-93a9-6c8d8ebb6a5e.png">

[2019-12-17 08:22] alanna opened #2734 "Enable recurring bank transfer contributions (SEPA)"
We are starting to build more features for bank transfer as a payment type and welcome hosts who don't use Stripe and credit cards.

We have the functionality to support one-off transactions via bank transfer. It works by sending the contributor an email with wire transfer instructions, and creating a pending order for the host admin. When the funds arrive, they mark the pending order as paid.

Sh

[2019-12-17 08:26] Betree commented on #2392
@JoyLubega are you still willing to work on this?

[2019-12-17 08:34] JoyLubega commented on #2392
Ohhh, no.

On Tue, 17 Dec 2019, 11:26 am Benjamin Piouffle, <notifications@github.com>
wrote:

[2019-12-17 09:36] znarf opened #2735 "Missing email when exporting participants as CSV (SSR)"
When landing on an Event page directly, emails are missing from the export.

**To Reproduce**

1. Go to an Event you're administrating
2. Reload the page to be sure it's a server side rendered version
2. Click on Export CSV

**Current behavior**

Emails are missing

**Expected behavior**

Emails are present

**Explanation**

With our authentication model, emails are not loaded in the SSR data, the

[2019-12-17 12:03] #2733 closed

[2019-12-17 12:16] Betree commented on #2567
https://github.com/opencollective/opencollective-frontend/pull/3186 partially address this issue by implementing @jeffin143's [suggestion](https://github.com/opencollective/opencollective/issues/2567#issuecomment-546942626). We still need to lift the mutation errors up to display them properly below the buttons (rather than next to them).

[2019-12-17 14:26] #2705 closed

[2019-12-17 16:25] Betree opened #2736 "Misplaced public message popup on order success page"
**Describe the bug**
After the contribution flow, on order success page, the popup to leave a public message is not where it should be. The bug doesn't seems to appear after a page refresh, so that might be linked to client-side rendering.

![image](https://user-images.githubusercontent.com/1556356/71014200-d6224a00-20f1-11ea-998e-b8413d0bd07c.png)

**To Reproduce**
Steps to reproduce the behavior

[2019-12-17 16:33] allenlai18 commented on #2703
@alanna   I am in /edit/goals .    i can not reproduce the problem

[2019-12-17 16:36] #2724 closed

[2019-12-17 16:37] Betree commented on #2724
Issue completed by @JoyLubega. Thanks!

[2019-12-17 16:37] allenlai18 commented on #2736
@Betree   what would be the best way to reproduce this. without actually making a real donation? lol

[2019-12-17 16:40] allenlai18 commented on #2736
i am on staging and I can not reproduce this bug
![Screen Shot 2019-12-17 at 8 39 29 AM](https://user-images.githubusercontent.com/7275313/71015644-d1857380-20a8-11ea-9a5b-65c0b6ff8e07.png)

[2019-12-17 16:44] Betree commented on #2703
The bug has to be observed on the collective page after editing the goals. It's the same as the old #1434.

@allenlai18 if it works for you could you share a screenshot so that we can compare the results?

[2019-12-17 17:24] Betree opened #2737 "Ability for collective admins to ban a user"
## User story
*Related to https://github.com/opencollective/opencollective/issues/2694, should ideally be part of the same flow.*

As a Collective admin, I can ban users to prevent them from interacting with my collective - for example when they're spamming with fake expenses or trolling the collective through conversations. They should then be prevented from any interaction with my collective: co

[2019-12-17 17:34] Betree opened #2738 "Document new monthly job: search & destroy spammers"
## User story
It seems that we have a lot of SPAM profiles on the website. A simple search for [pills](https://opencollective.com/search?q=pills), [sex](https://opencollective.com/search?q=sex) or [casino](https://opencollective.com/search?q=casino) returns profiles that are clearly spammers. This is bad for us:
- Because it lowers trust in the platform when users see this
- Because Google probabl

[2019-12-17 17:42] Betree opened #2739 "Ability to ban users from the platform"
## User story
As platform admins, we need to have a reliable way to prevent users from doing anything on the platform when we know for sure that they are spammers/malicious.

By "Ban", we mean:
- Users should not be able to log in
- Users should not be able to re-create an account with the same email
- When possible, user-submitted data should be deleted (expenses, comments...etc)

## Best solutio

[2019-12-17 17:50] Betree opened #2740 "Conversations: Collective admins should be able to hide comments"
## User story
As a Collective admin, I can hide comments rather than deleting them when they're not valuable for the conversation. It's different from deleting, because deleting doesn't provide the same level of transparency.

## Best solution for this problem
Should ideally be part of the same flow than https://github.com/opencollective/opencollective/issues/2694. There should be an action on com

[2019-12-17 17:52] Betree opened #2741 "[PROJECT] SPAM and moderation"
## Purpose
We want to provide tools for Collectives and internal use to better handle spammers, and more generally to be able to moderate the content submitted on the platform. This targets multiple types of content, as experience has proven that malicious users were spamming Collectives through multiple techniques. This project aims to provide a moderation framework for the ones that we've seen t

[2019-12-17 19:38] CanerSezgin commented on #2613
It's all done but we still need to test this case.
`return res.status(400).send('Something went wrong.')`
Can someone please take this from https://github.com/opencollective/opencollective-bot/pull/254 and create a test for it.
Thanks

[2019-12-18 07:04] gallexi opened #2742 "Docs are missing information about incognito contributions"
Hello 👋

I notice that the docs for OpenCollective don't have any reference to incognito contributions. As a user I'd love to know what happens when I contribute while incognito, specifically whether this hides my name from everyone (so the contribution is made completely anonymously) or just hides my name from the public view (and the collective admins can still see my name).

I poked around in t

[2019-12-18 07:24] gallexi opened #2743 "Receipt sent to incognito contributors should list the user's name"
**Describe the bug**
Users who contribute as incognito will get a receipt that says "Bill to: Incognito". For the receipt to be useful for proving a user contributed, it should probably list the user's actual name.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an incognito contribution to a collective
2. Receive email with receipt
3. View receipt

**Expected behavior**
Receipt should

[2019-12-18 07:42] gallexi opened #2744 "Contribution FAQ doesn't appear on mobile"
**Describe the bug**
The FAQs that appear in the contribution flow on desktop don't appear on mobile. This is especially confusing because the explanation text for the Incognito option says "Keep my contribution private (see FAQ for more info)", but there's no FAQ to be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate a contribution on desktop
2. Note that an FAQ appears (Scre

[2019-12-18 08:56] Betree commented on #2699
Just to add a bit of context on this: contributors are sorted by total amount donated. So a contributor who contributed 100$ x 10 months ($1000) will be displayed before someone who made a one-time contribution of $500. A lot of Collectives actually want this: if a company has given $30,000 to my collective while the average contribution is $50, I may want to surface them even if they stop their s

[2019-12-18 09:17] Betree commented on #2702
The suggestion looks good to me because the transaction will describe exactly what happens: contributor paid $500, $20 went to fees. That's what we want for transparency.

I'd suggest opening a modal when confirming an order, that will be also good for preventing misclicks:

[code]

[2019-12-18 09:30] Betree commented on #2743
Thanks for reporting this issue, receipts should always include the user name so that's definitely a bug!

[2019-12-18 09:42] Betree commented on #2742
Good catch, there's indeed 0 result  when searching for `incognito` on https://docs.opencollective.com.

We'd be happy to merge such PR, I suggest adding a new page in `Financial contributors`, maybe @contraexemplo has a better suggestion.

[2019-12-18 10:02] YourPsychiatrist commented on #1448
Are there no further plans for including GitLab as a source for the verification of reliability?

[2019-12-18 10:04] znarf commented on #1448
It's not planned but the Open Source Collective is happy to review manual applications of Open Source projects hosted on GitLab. It's just that the process is not automated.

[2019-12-18 10:05] Betree commented on #1448
@YourPsychiatrist for more info about how to apply manually: https://docs.opencollective.com/help/collectives/osc-verification#manual-verification

[2019-12-18 10:07] Betree commented on #2744
Unfortunately the [design](https://www.figma.com/file/M4OD1AM4nN8kzEhnO3zILo/OC.COM-05-%2F-Collectives-%E2%86%92-Contribute?node-id=1912%3A42588) didn't include the FAQs in the mobile version, we'll need their input to move forward with this.

[2019-12-18 10:31] Betree opened #2745 "Improve tooltips positioning"
# Problem

In multiple cases, our tooltips positioning is not working great. We are mainly facing three issues:
- Tooltip is positioned out of screen - see first screencast
- Tooltip is not reacting to windows events (scroll, resize...etc) - see second screencast
- Tooltip is not initializing correctly - see #2736

We have mainly two components that we need to fix: `StyledTooltip` and `EditPublicM

[2019-12-18 10:31] Betree commented on #2736
Should ideally be resolved with https://github.com/opencollective/opencollective/issues/2745

[2019-12-18 10:35] #2732 closed

[2019-12-18 11:45] Betree commented on #2722
- On mobile, we show just the icons without labels which is not a good practice for accessibility: icons interpretation may differ based on culture and personal experience. It's better to not use icons alone. See https://ux.stackexchange.com/a/1803 for the data behind this claim.
![image](https://user-images.githubusercontent.com/1556356/71083359-1ede0f80-2193-11ea-977a-b54f953f4ae5.png)

- The `E

[2019-12-18 12:53] xdamman commented on #2734
That would be really cool. I also have a demand for it from European collectives.
It's quite easy with mobile banking apps over here to set up such recurring donations.

The best way to handle it would be through Stripe's support for SEPA payments (but it's only for Europe, but it's a big market).

The more versatile way that doesn't depend on Stripe would be to turn the current implementation int

[2019-12-18 12:55] xdamman commented on #2727
I like that idea. To push it a bit further, people should be able to post an expense on such tier page.
So we need to think of expenses as just another type of comment that can be approved/rejected/paid.

[2019-12-18 12:56] #2716 closed

[2019-12-18 13:08] piamancini opened #2746 "Host dashboard: display errors above buttons"
<img width="1037" alt="Screen Shot 2019-12-18 at 12 12 14 PM" src="https://user-images.githubusercontent.com/3671070/71088858-cb25f300-219f-11ea-9cfe-9d4fc8faf43a.png">

[2019-12-18 13:09] contraexemplo commented on #2742
Hi @gallexi! 👋 Thank you for opening this issue. Please correct me if I've missed anything—does this list includes all info you would like to see in a page about this feature?

- What are incognito contributions.
- What are the effects of using such feature—what does it hide, what does it mean for collectives, etc.
- How to enable it.

You are welcome to open a PR on opencollective/documentation a

[2019-12-18 13:51] Betree commented on #2746
This will be improved when we deploy https://github.com/opencollective/opencollective-frontend/pull/3186. It's very similar to what's reported in #2567.

[2019-12-18 13:55] xdamman commented on #2725
Here is my feedback. Hope it's useful.

## Select expense type
- Expense policy (singular) should be above the expense form. You first need to see that before you know if you can submit that given expense
- Expense title: might be easily missed. All the visual attention is on the expense type. I’d only ask for the expense title after selecting the type.
- As a general UX principle, it’s weird to h

[2019-12-18 15:18] piamancini opened #2747 "Weird checkout behaviour triggered fraud detector"
New user trying to set up a new donation with a valid credit card:

_You cannot use a Stripe token more than once: (token ID sent to us)_

When I looked in Stripe, there were 9 costumers created for this same email address in the same day:

<img width="860" alt="Screen Shot 2019-12-18 at 4 14 10 PM" src="https://user-images.githubusercontent.com/3671070/71098130-7be8be00-21b1-11ea-9758-0a1137d0883

[2019-12-18 15:45] xdamman opened #2748 "Open Collective Nigeria Host"
Host: https://opencollective.com/nigeria
Currency: NGN
(to follow the convention with https://opencollective.com/paris https://opencollective.com/brussels https://opencollective.com/uk)
Admin: Samson

Please edit payment methods to add bank details for donations by bank transfers and whether or not you want to accept applications for hosting new collectives.

Host collective to record expenses and

[2019-12-18 16:20] Evgeniy-boop opened #2749 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/s5s/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.79 Safari/537.36`

# Technical details

[code]

[2019-12-18 16:54] Betree opened #2750 "Notify platform admins when a suspicious value is set for URLs"
## User story
As platform admins, we need to be notified whenever someone links to suspicious external websites.

While investigating on #2738, I found out that the main common trait between spammers is that they are trying to create as many links as possible to their websites.

Finding some keywords in user-submitted contents should trigger a notification on Slack:
- keto
- porn
- pills

## Best

[2019-12-18 18:43] Betree opened #2751 "Delete Collective: ensure all data is removed and improve validations"
To complete #2739 properly I needed a way to delete a user and all related data. While looking at [the delete collective mutation](https://github.com/opencollective/opencollective-api/blob/027cb3683985615127a6e289b6958c0c5e660365/server/graphql/v1/mutations/collectives.js#L691) I saw that we're missing the deletion for a bunch of data:

- [ ] Collective's events (including all the related data for

[2019-12-18 19:00] znarf commented on #2747
Ok, "card declined" error make sense. We should reset the token and ask a new one in this case, so we don't resubmit the same token.

[2019-12-18 19:17] FezVrasta commented on #2745
Popper 2 is approaching its stable release. If you'd like to contribute, it's on, d'uh, OpenCollective 😄

Here's the alpha 2 changelog:
https://opencollective.com/popperjs/updates/popper-2-alpha-2-is-out

[2019-12-18 20:46] piamancini commented on #2592
New iteration: https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-%2F-Lab?node-id=4158%3A591

<img width="683" alt="Screen Shot 2019-12-18 at 9 37 20 PM" src="https://user-images.githubusercontent.com/3671070/71121406-b9177500-21de-11ea-93cc-a5edcd644346.png">

<img width="749" alt="Screen Shot 2019-12-18 at 9 37 41 PM" src="https://user-images.githubusercontent.com/3671070/71121980-d7

[2019-12-18 21:12] alanna commented on #2398
Another example of this today:

![Screen Shot 2019-12-19 at 10 11 02 AM](https://user-images.githubusercontent.com/5498878/71123685-13005500-2248-11ea-929e-4af638474a4d.png)

https://opencollective.com/emplea_do

[2019-12-18 21:56] alanna commented on #2592
Looking really good! So much clearer. Very very close to being ready to go.

A few notes:

* I don't think "create bank transfer orders" will make sense to users (that's more our internal lingo). How about "raise money via bank transfer".
* Put the bank transfer bullet point above the 'other channels' one (makes more sense grammatically).
* On the hosts table, we mention bank transfer as an exampl

[2019-12-18 22:11] alanna commented on #2592
@piamancini I have updated the [emails to fiscal hosts and self-hosted Collectives](https://docs.google.com/document/d/1y--R5DMaEf4v_iWBmuY1wRA-IawjvGILmF4wur4bGEM/edit#heading=h.c2n4i0eyczc1). Do you think we should move forward with those now?

[2019-12-18 23:31] Betree commented on #2745
Hello @FezVrasta! Thanks for the info, I missed the fact that a new major was about to be released - thanks for jumping in :slightly_smiling_face: Also glad to see that you joined Open Collective, feel free to join us on [Slack](https://slack.opencollective.com/) if you need help with anything.

The company gives us a budget to contribute to the project that we use, I'll be happy to contribute to

[2019-12-19 02:56] alanna commented on #1448
Gitlab stars are specifically mentioned as valid evidence in our acceptance criteria: https://www.oscollective.org/#criteria

It's just a manual validation process instead of automatic.

[2019-12-19 03:09] alanna commented on #2725
Thanks @xdamman that's helpful! @Memo-Es see above.

Normally supporting documentation includes private information such as payment details and people's addresses, so I don't agree with this. I think users should be able to post attachments as comments and decide whether it's private or public.

This is just a name I gave to this section for the purposes of this post. It's not going to appear anyw

[2019-12-19 05:16] glennawatson opened #2752 "override for priority label"
Hi there,

We have a backer who is supporting us through there organisation and stuff.

We add the priority label but open collective bot keeps removing it.

Be nice if we could override that functionality for individual issues for cases like this one.

[2019-12-19 07:37] znarf commented on #2752
Moved the issue to our main repository.

[2019-12-19 08:05] piamancini commented on #2592
@alanna yes let's do that. I've been scheduling calls as well to get some more accurate idea. I'd like to share this in blog format during January

[2019-12-19 08:18] #2723 closed

[2019-12-19 08:42] Betree opened #2753 "Duplicate members entries for Tier/Role"
While investigating the results of the migration from https://github.com/opencollective/opencollective-api/pull/3060, I found that we have a lot of duplicated members that are not induced by this migration. The `CONTRIBUTOR` role (submit expense) seems to be the most affected by this.

SQL query to get duplicate members:
[code]

**Expected behavior**
There should be only one raw per group of:

**T

[2019-12-19 08:59] Betree opened #2754 "Group duplicates members in widget"
There may be multiple `Member` rows per MemberCollective/Collective, each row describes one aspect of the membership. For example if a user is a financial contributor to Tier1, Tier2 but also an admin of the collective, we'll need three rows to describe the situation.

What describes a membership is the pair of "MemberCollectiveId", "CollectiveId", "TierId", "role".

Widget for contributions is no

[2019-12-19 11:56] Betree commented on #2722
@piamancini that was because of the missing image bug. We normally don't allow empty messages at all.

[2019-12-19 14:21] Betree commented on #2713
As discussed in Tuesday's call, we're going to iterate with simple email / name fields to unlock the feature. We'll iterate with a better solution later.

[2019-12-19 17:28] gallexi commented on #2742
Hi @contraexemplo! Yes that list of info sounds perfect, thank you!

I'll take a try at a PR in opencollective/documentation tonight, and cc you on it. Thank you!

[2019-12-19 20:33] alanna commented on #2487
@Memo-Es can you make sure this gets in the new design?

[2019-12-19 20:55] alanna opened #2755 "Show core contributor description"
I added descriptions for all the core contributors of OSC, but they don't show on the person's card in the contributors section. We should show the description under their name.

<img width="817" alt="Screen Shot 2019-12-20 at 9 53 47 AM" src="https://user-images.githubusercontent.com/5498878/71208826-cdf32600-230e-11ea-8593-f4d664c1ebd5.png">
<img width="865" alt="Screen Shot 2019-12-20 at 9 52 4

[2019-12-19 21:05] Betree commented on #2755
The initial version used to display the description, but the height with the role + amount contributed + the description + the public message was too high so we decided to sacrifice this one.

Just adding it back now would break the design, so we need to either come up with something clever or ask @opencollective/design to propose a different approach.

[2019-12-19 21:05] alanna opened #2756 "Change 'member' to 'core contributor' or 'collective admin' in notification email"
When you add someone as a core contributor they get an email notification. But it's still using the old terminology of 'member'. It should refer to the person by their role, either Core Contributor or Collective Admin depending on their permission level.

<img width="823" alt="Screen Shot 2019-12-20 at 10 03 42 AM" src="https://user-images.githubusercontent.com/5498878/71209375-3a225980-2310-11ea-

[2019-12-19 21:07] alanna commented on #2755
If we're not going to display it then we should probably hide the field in settings because it implies it will be displayed and encourages people to use it.

[2019-12-19 21:07] Betree commented on #2755
My proposal would be to reduce the number of lines in the contributors grid to **two**, and to add the description under the role.

![image](https://user-images.githubusercontent.com/1556356/71209462-f0078c80-22ab-11ea-8dbc-8ed829f8f3c7.png)

[2019-12-19 21:09] Betree commented on #2755
The initial intent was to bring it back but we never iterated on this design. This issue is a good reminder that we should, I personally think that it's great to be able to have a custom description of the person's role rather than generic "Admin"/"Contributor".

[2019-12-20 01:58] alanna opened #2757 "Set up redirect URL for host terms"
## User story
As a fiscal host admin I am constantly having to link to our terms and conditions to reference them in user inquiries, etc, and it would be great if they were easier to access.

As a Collective admin, I want to easily access the terms for any fiscal host.

## Best solution for this problem
Set up a URL like opencollective.com/host/terms that redirects to whatever hosts puts in the "t

[2019-12-20 02:17] Memo-Es commented on #2713
We already have a pattern to create an organization on the fly, we could combine it with a pair of collective pickers in 2 different screens so it doesn't get confusing...
@Betree

I attach a very rough representation of this:

Add funds | Create organization
------------ | -------------
![Add funds](https://user-images.githubusercontent.com/49539954/71224759-f8f06200-229b-11ea-9417-d47f39b47e90.p

[2019-12-20 04:59] gallexi commented on #2742
Whoops, I have more questions 😅

@contraexemplo I started thinking about where exactly to put the info about incognito contributions: as a new page called "incognito contributions" (doesn't feel quite right, because it doesn't seem to be on the same level of importance as "payments" or "website badge"), or under the FAQ (where I originally searched for it, because the UI copy told me to), or somew

[2019-12-20 08:29] Betree commented on #2713
We could indeed re-use the create organization form designed for the contribution flow. The question is where to display it. If it were just me I'd open a modal when users click on `Create new organization` in the collective picker so that it creates a new screen (= new context).

I can build that easily without the need for a proper design, but because having forms in modals is not a pattern that

[2019-12-20 08:53] znarf commented on #2726
Actually, Piet might have been right that this is coming from the SDK (at input time, not output).

We accidentally reverted to HelloWorks version instead of Piet in https://github.com/opencollective/opencollective-api/commit/8f032163ca0de8f04233ef18dc3cbe77a169618c (It's signed by me, but it's the result of an automated script, not sure what went wrong). This is when we started to have the issue

[2019-12-20 10:22] #2726 closed

[2019-12-20 15:19] Emekaborisama opened #2758 "Collective page: review sections for inactive collectives"
**Describe the bug**
I can't find my event on my org front page. i added slash event and i saw all my events

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/ai-festival-nigeria/events'
2. Go to https://opencollective.com/ai-festival-nigeria/
3. The events don't appear there
4. See error

**Expected behavior**
At least I should be able to see my added events

[2019-12-20 16:45] contraexemplo commented on #2742
@gallexi Having questions is great! You are encouraged to ask as many as you need. :relaxed:

I think it's a good idea to add a question related to that information under the FAQ since it was where you originally searched for that info—that's a good indication that other users may do the same. And your final suggestion is spot on, that's definitely a part of the financial contribution flow and wou

[2019-12-20 19:59] Betree commented on #2758
Hello @Emekaborisama, events are normally displayed on the collective page, in the contribute section. The reason why they're not showing up for you right now is because your host (https://opencollective.com/sarapisorg) hasn't approved your collective yet. As soon as the host approves you, your events will show up.

The events page you're referring to (https://opencollective.com/ai-festival-nigeri

[2019-12-20 20:02] Betree commented on #2758
We should display the events of inactive collectives on the collective page. The contribute tiers on the other hand should not be displayed, so to solve this issue:
- [ ] If collective is inactive, don't show tiers
- [ ] If collective is inactive, still show events

Careful, events for collectives with pending applications may be innactive as well. We may need to use the `includeInactive` graphql

[2019-12-20 20:06] Emekaborisama commented on #2758
I applied for Open Collective 501 to be my host but they request to see our
community previous events

On Fri, Dec 20, 2019, 8:59 PM Benjamin Piouffle <notifications@github.com>
wrote:

[2019-12-20 21:34] #2749 closed

[2019-12-20 22:01] znarf commented on #2758
I think Events are skipped on purpose, for the same reason as tiers. We don't want people to try to get tickets if the transaction can't be processed. We can reconsider.

[2019-12-20 22:46] alanna commented on #2726
Thanks @znarf - are there any tests or checks we could put in place so that in the future if changes are made to the tax form system we can ensure it's not broken? This incident caused problems because we were not even aware the forms weren't being received correctly for several weeks.

[2019-12-20 22:53] Betree commented on #2758
@znarf As long as the tickets section is hidden from the event page, I'd say it's fine to list it in the collective page. I've added `Hide Tickets section if the event is not active` to the specs for this issue.

[2019-12-21 06:16] alanna opened #2759 "Record as paid not working for Paypal expenses"
[User reports](https://opencollective.slack.com/archives/C6JTTA4SK/p1576898392000700):

Seems like a bug with #1976

[2019-12-22 16:32] nothingismagick opened #2760 "WARN: mails to <security@opencollective.com> are bouncing."
The issue title says it all. Here is the message I got back from your google groups:

[code]

[2019-12-22 18:37] JoyLubega commented on #2455
hey, @Betree  I have created another component that has items from both cards. I wanted to ask you before i raise a PR. Not sure if the design is okay.
<img width="1440" alt="Screen Shot 2019-12-22 at 9 34 53 PM" src="https://user-images.githubusercontent.com/29824008/71325808-399de480-2503-11ea-8284-80f84711b49d.png">

[2019-12-22 20:18] znarf commented on #2760
Thank you for the report, this is fixed.

[2019-12-22 20:18] #2760 closed

[2019-12-23 00:59] xoviat commented on #2522
Two more processors that you can try are CoinGate and OpenNode. Looking at your business model though, may be difficult to find a processor that would convert the payments to fiat for you. The problem is that processors are looking to avoid AML/compliance problems, and that becomes much more difficult when there are many users on one platform. As I see it, you have two options:

1) You can try the

[2019-12-23 01:06] xoviat commented on #2522
@alanna I may be willing to do some work to help you out. Basically anything but writing JavaScript.

[2019-12-23 05:15] Memo-Es commented on #2394
### Update - Forms prototype - Receipt

This is the form prototype for receipts and invoices after the feedback round of Friday's demo. @alanna do we update the feedback issue?

[Prototype in figma](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=4403%3A27931&viewport=107%2C-262%2C0.12123439460992813&scaling=scale-down)

**Receipts**

Start  →  |  Start collapsed → | Ch

[2019-12-23 08:45] znarf commented on #2759
Great if you can have a look @Betree .

[2019-12-23 08:56] znarf opened #2761 "Pending Orders Reminder Crash"
![image](https://user-images.githubusercontent.com/1556356/71375173-ab3a6900-25bd-11ea-8995-2f6acb676719.png)

[code]

[2019-12-24 12:06] #2759 closed

[2019-12-24 15:13] Betree commented on #2455
Hi @JoyLubega, looks good!

We'd need to rename `Backers` to `Financial contributors` (that's our default terminology now).

I'd also keep both designs consitant by displaying the info on two lines like on the contribution cards:

![image](https://user-images.githubusercontent.com/1556356/71417891-23f5ff80-2668-11ea-95c3-68ec654ed212.png)

[2019-12-24 15:15] JoyLubega commented on #2455
Okay, thanks. Let me move forward with that.

On Tue, 24 Dec 2019, 6:13 pm Benjamin Piouffle, <notifications@github.com>
wrote:

[2019-12-24 16:11] RythmosAdvisory opened #2763 "[#COMMIXTURE] ff HAPPY INSPRING"
https://www.researchgate.net/lab/Commixture-Labs-Marzio-Veneman

Recently, I have an interest in Collaborative Intelligence (**Social Impact:** _P2P Blockchain connected to AI in conjunction with the ELITE SILO's_).

For this purpose, I am a member of a (open) European observatory.

/snip/

A new tender call: Is anyone interested to participate in a joint tender?

Tender call just published at htt

[2019-12-26 13:43] piamancini commented on #1738
Adding here from someone else who wants to support the issue and emailed:

" I lack a GitHub account to participate, so this E-mail is a way for me to
say "me too" if nothing else, to express the importance of this to me
and to others, and to offer my personal take. I believe either a
conventional 2FA option and/or OpenID login would be a nice improvement
to OC. Personally I'd lean more toward the

[2019-12-28 00:30] alanna opened #2766 "Add accept/reject buttons on "Collective pending approval" banner"
## User story
As a host admin, I want to be able to look at a pending Collective's page and accept/reject it, so I can process applications from Collectives who want to join my host.

## Best solution for this problem
Add "approve/reject" buttons to the pending banner, visible to host admins only.

<img width="1269" alt="Screen Shot 2019-12-28 at 1 28 01 PM" src="https://user-images.githubusercont

[2019-12-28 00:47] alanna commented on #2522
Thanks @xoviat ! Can you look into whether CoinGate might accept us? We present a pretty complicated use case that doesn't tick the easy boxes for most services, so that's why we keep getting rejected. It seems you understand the issue, as our model is being a single entity representing thousands of different projects.

We aren't able to work with cryptocurrency if we can't convert to fiat (for th

[2019-12-28 00:55] alanna opened #2767 "Images too big for expense comments"
When posting an image in an expense comment, it should resize to fit on the screen. Images are getting cut off.

A couple examples in this thread: https://opencollective.com/date-fns/expenses/12280

<img width="1011" alt="Screen Shot 2019-12-28 at 1 54 10 PM" src="https://user-images.githubusercontent.com/5498878/71536902-b43e8800-2979-11ea-98f7-ee5860d5cb5d.png">

[2019-12-28 08:09] solyn opened #2768 "我发现了一个错误，原谅我英文不太好"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. 引用粘页眉插件。bootstrap-table-sticky-header
2. 同时使用了bootstrap-table-filter-control
3. 当bootstrap-table-filter-control  设定了select时候，往下拖动的时候里面是没有数据的，null
4. 如果发现了回我邮件就好。solyn@foxmail.com
原因是：
复制的表头，select里面没有数据

[2019-12-28 08:10] solyn commented on #2768
hi，a bug，in china

[2019-12-29 17:07] xoviat commented on #2522
Coingate is not willing to accept open collective because open collective is registered as a nonprofit in the United States (at least I was under the impression that it was). OpenNode will accept open collective with an opt-in model: each project can opt-in to receiving bitcoin after designating someone to undergo KYC. Would you like to move forward with OpenNode?

[2019-12-29 21:23] alanna commented on #1540
We have determined that every single host admin who manages multiple
PayPal's makes this mistake at some point, and it's extremely damaging. I
really think it needs to be addressed.

[2019-12-30 08:07] alanna commented on #2522
Thanks for looking into this!

Can you put me in touch with whoever you've been taking to at opennode so I
can discuss the details of how the process would work?
alanna@opencollective.com

I'm not surprised the other service won't accept us because we're a
nonprofit. That's depressingly common in the crypto space.

[2019-12-30 15:32] Betree commented on #2768
Hi @solyn, sorry but we can only support issues written in English. Could you translate it please?

[2019-12-30 15:41] Betree commented on #1562
I don't think that limiting on tags is a good thing to do, because tags bring no real security (they can be edited by admins) and can easily block legit contributions (you can't donate to X because it has the tags `climate-change` and you're limited to `global-warming`).

I'll close soon if no one objects.

[2019-12-30 15:42] Betree commented on #1562
Edit on by previous message: I don't think that we should remove the ability to limit to tags, only that we shouldn't surface it on the frontend

[2019-12-30 19:10] xoviat commented on #2522
You can contact Kevin with the contact form at https://www.opennode.com/contact, I am not specifically familiar with their KYC approval process, but my conception is that you would have a new database boolean field called "kyc_approved" and then you would have a new button that says "accept bitcoin" in the project configuration page that redirects to their KYC page, and then they would respond wit

[2019-12-31 03:14] AlinaWithAFace commented on #2445
Hi! I'd like to add custom images/icons to the financial tiers, is there a way to do so?

[2020-01-01 17:52] CanerSezgin commented on #2750
@Betree I wanna take this.

2 quick questions.
1) I couldn't find this file on master. `server/lib/spam.ts` Should I create or should I use another branch (if you have already got started in another branch) ?

2) I couldn't get the idea behind why we are returning array with this function. `getSuspiciousKeywords(content: string): string[]`
I thought something like this.

[code]

[2020-01-01 19:10] CanerSezgin commented on #2654
I just realized that there are two email in this message, I think this is a mistake right ? I had directly copied from @Betree 's message to the code.
_This sign in **email email** was requested by 00.00.00.00. If you did not request this email, please inform support@opencollective.com._

[2020-01-02 07:36] alanna commented on #2522
Thank you @xoviat I will reach out to them.

[2020-01-02 09:04] Betree commented on #2394
New designs are looking great!

I wonder if we shouldn't let users use basic formatting for their expenses descriptions (at least bold, italic, underline).

[2020-01-02 09:07] Betree commented on #2475
Can we clearly spec out the expectations for this issue? Is it about reaching a score, implementing specific attributes?

A work was started in https://github.com/opencollective/opencollective/issues/2652 but it's hard to move forward with it at the moment.

[2020-01-02 09:20] Betree commented on #2654
@CanerSezgin good catch! Do you want to open a PR for it?

[2020-01-02 09:22] Betree commented on #2750
1. `server/lib/spam.ts` doesn't exist yet, you should create it
2. Your proposal would work. The idea of returning an array with all the suspicious keywords was to be able to display them in the slack notifications mentioned above:

fieldValue

[2020-01-02 09:24] Betree commented on #2445
Hi @AlinaWithAFace, it's not possible yet but that's something we want to support. You should follow https://github.com/opencollective/opencollective/issues/2121 to get updates about this specific feature.

[2020-01-02 09:26] #2768 closed

[2020-01-02 09:29] Betree commented on #2044
The `Images` table proposed in https://github.com/opencollective/opencollective/issues/2660 could be a good candidate to solve this. We can have `COLLECTIVE_LONG_DESCRIPTION` as a new possible value for the `type` enum.

[2020-01-02 09:39] solyn commented on #2768
no Closed

[2020-01-02 09:40] solyn commented on #2768
The problem has not been solved。
I'm now overriding it by listening to the browser scroll bar.

[2020-01-02 09:41] solyn commented on #2768
Reference the paste header plug-in. "bootstrap-table-sticky-header"

"Bootstrap table filter control" is also used

When the bootstrap table filter control is set to select, there is no data in it when dragging down. Null

If only I found a reply to my email. solyn@foxmail.com

As a result of:

There is no data in the copied header and select

[2020-01-02 09:42] solyn commented on #2768
Hi

I'm now overriding it by listening to the browser scroll bar.

Reference the paste header plug-in. "bootstrap-table-sticky-header"

"Bootstrap table filter control" is also used

When the bootstrap table filter control is set to select, there is no data in it when dragging down. Null

If only I found a reply to my email. solyn@foxmail.com

As a result of:

There is no data in the copied header

[2020-01-02 09:56] Betree commented on #2768
@solyn Sorry but this is Open Collective, not bootstrap-table-sticky-header.

[2020-01-02 16:31] Betree commented on #2563
I worked on this today but faced an issue with pasted content. The following code works fine for editing, but for some reason the editor does not update after pasting the text. Didn't want to spend too much time on this, will re-visit later.

[code]

[2020-01-02 16:37] Betree commented on #2563
A possible solution with the code above could be to:
1. Listen for `trix-paste` event (triggered after `change` event)
2. `Undo` last change (will remove paste)
3. Format the data
4. Paste the formatted text

[2020-01-02 16:49] Relequestual commented on #2563
If it works, then great. _But_ it does sound like a hack, and that means technical debt.
Is there a long term potential solution to the problem?

[2020-01-02 16:58] Betree commented on #2563
@Relequestual The hooks and documentation provided by Trix editor to customize it are unfortunately pretty limited. I'm not aware of any other technique to achieve this in a cleaner way, but suggestions for this are welcome

[2020-01-03 09:18] Betree commented on #1621
https://github.com/apollographql/apollo-client/pull/3892 doesn't seems to be on the good track to get merged. Maybe a good solution for now would be to enforce the use of `getErrorFromGraphqlException` and remove this unwanted string prefix in https://github.com/opencollective/opencollective-frontend/blob/301f0ac48d944311432bc34df28590986902f5c7/lib/utils.js#L286

[2020-01-03 09:33] Betree commented on #2763
The purpose of this issue is unclear. Please use one of the templates for bug reports or feature requests: https://github.com/opencollective/opencollective/issues/new/choose

For any other inquiry feel free to join on https://opencollective.slack.com/

[2020-01-03 09:33] #2763 closed

[2020-01-03 11:59] #2767 closed

[2020-01-03 12:02] #2756 closed

[2020-01-03 12:03] #1732 closed

[2020-01-03 13:11] #2117 closed

[2020-01-03 15:07] #2713 closed

[2020-01-03 15:12] Betree commented on #2626
We've chosen a different path: in https://github.com/opencollective/opencollective-api/pull/3059 direct actions have been removed in favor of redirecting to the applications page. From there admins can approve or reject applications.

## Email

![image](https://user-images.githubusercontent.com/1556356/71003052-c0f0ef80-20e0-11ea-8e38-2920e853dffb.png)

## Dashboard

![image](https://user-images.g

[2020-01-03 15:12] #2626 closed

[2020-01-03 16:07] Betree commented on #2117
@josesimoes This enhancement has been deployed in the latest version of the Zapier app (1.1.0)

[2020-01-03 16:13] josesimoes commented on #2117
Thanks @Betree !
Anything I need to change on zappier? Or it will just work?

[2020-01-03 16:15] Betree commented on #2117
@josesimoes You need to edit the Zap to use the new app version:

![image](https://user-images.githubusercontent.com/1556356/71734534-7a272780-2e4c-11ea-8ea0-3c87d1626d2b.png)

Zapier will probably ask you to login again, you can find your API key on https://opencollective.com/applications

Then in your action you need to switch from using the `member.order.amount` field to one of the new fields (

[2020-01-04 00:25] #2742 closed

[2020-01-04 14:06] kewitz commented on #2755
Can’t we consider the _description_ and _public message_ as being mutually exclusive?
I see a reason for displaying the _public message_ for financial contributors, but it doesn’t seem that important for core contributors.
My suggestion would be displaying the _description_ and falling back to _public message_ using the existing space and format.

[2020-01-04 14:19] AliMirlou opened #2769 "RTL support and RTL languages translations"
In the matter of i18n, languages spoken in **Middle-East** and **Northern Africa** need an **RTL UI** in front-end to be able to add their own languages translations. And there are many individuals, teams and organizations in these countries who can join this community but have difficulties with foreign languages.

Are there any plans for this UI feature in front-end? If not, will there be any sup

[2020-01-05 11:55] QuanAoQuangChauvietnam opened #2770 "Unexpected error when ___________"
[Tinh dầu](https://lm.facebook.com/l.php?u=https%3A%2F%2Fcongtytnhhthuongmaidichvusanxuatngocthienhuong.business.site%2F%3Ffbclid%3DIwAR3oDF-6BLqwpcKMpKbm1T-vkdAnr1CTAsyfg5lRMjBvnDt6xT9lZAgq9Co&h=AT2LfNwok_QtzQdHa1zGW7hN1TsbJBxOlTVQ6yA5QMlRR0VVW4rTcHybx4iP6p_ceh-p0SDgTC5qoGTi3yfmTwxI203klVzwwhIfrvR5M_HGW9c-zYlrhArw1HzKY4VrQqFH) # Describe the bug

I got an unexpected error on https://opencollectiv

[2020-01-05 12:33] #2770 closed

[2020-01-05 12:50] lawik opened #2771 "Several 404 pages on REST API docs"
**Describe the bug**
Looking into the APIs for Open Collective led me to https://docs.opencollective.com/help/contributing/development/api

Clicking through for Collectives and the ones below gave 404s.

I'm aware of the new GraphQL API but I imagine the broken links are undesirable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.opencollective.com/help/contributing/devel

[2020-01-05 16:44] znarf opened #2772 "Fragile E2E test: 34-expenses.comment.test.js"
[code]

Sample CI run: https://github.com/opencollective/opencollective-frontend/pull/3241/checks?check_run_id=374461613

[2020-01-05 16:45] Betree commented on #2772
Probably related to https://github.com/opencollective/opencollective-frontend/pull/3246. I'll investigate tomorrow

[2020-01-05 21:12] alanna opened #2773 "Expense: Show "Mark as unpaid" button regardless of the payout method"
According to #2324 host admins should have the ability to unpay expenses, but the button is not showing up for most expenses.

I can only see it for Collectives where I am an admin of the Collective. As host admin, I should be able to see the button for all Collectives under my host.

Collective where I am the admin:
![Screen Shot 2020-01-06 at 10 10 39 AM](https://user-images.githubusercontent.co

[2020-01-05 21:14] alanna commented on #2773
Question: should "mark as unpaid" be available for all paid expenses, or has it only been implemented for manual payment type (not Paypal API transactions)?

[2020-01-05 21:37] oncletom commented on #1819
I tried to reproduce by blocking `https://maps.googleapis.com/maps/api/` with uBlock Origin. HTTP calls are blocked, and the error does not show up. Is that issue still relevant?

[2020-01-05 22:16] alanna opened #2774 "Unable to approve Nigeria Collective in Nigeria Host"
Related to #2748

The [Nigeria Host](https://opencollective.com/nigeria) and [Collective](https://opencollective.com/nigeria-collective) have been created. We had to do it specially because this host does not have Stripe.

The Nigeria Collective is currently pending approval by the host. But Samson did not get an email notification to approve it, nor does it show up under pending Collectives on th

[2020-01-05 22:17] znarf commented on #1819
@oncletom The error is catched since https://github.com/opencollective/opencollective-frontend/pull/2777 Before closing this issue, we want to display a warning in the forms where the API is used. There is an open PR for that: https://github.com/opencollective/opencollective-frontend/pull/3029

[2020-01-05 22:57] alanna commented on #2394
@Memo-Es looking good!

Just a few small tweaks....

Expense type selection
* remove "if you're looking to submit expenses in a batch" sentence. it falsely implies they should choose this option to process multiple invoices. the important distinction here is between invoices and receipts and we should keep it simple.

FAQs
* the FAQ content I wrote above was specific to the different screens (rece

[2020-01-05 23:02] oncletom commented on #1819
Gotcha, thanks for clarifying this out 🙂

[2020-01-05 23:50] IzzySoft commented on #1429
I was a prophet it seems. See you in April then, stale bot…

[2020-01-06 00:32] alinamanko opened #2775 "Support Metrics Report December 2019"
### Support Metrics Report December 2019

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/71788577-8992b480-3088-11ea-855a-249b511e52d4.PNG)

The number of tickets received has dropped by 10% from 187 in November to 168 in

[2020-01-06 02:04] alanna opened #2776 "Tax form not sent to user roxblnfk"
This expense should have triggered the tax form email: https://opencollective.com/yiisoft/expenses/12734

But the user says he didn't get it. I also can't see a record of it being sent in HelloWorks. Meanwhile many other tax forms have been sent successfully so the system appears to be functioning for other users.

[2020-01-06 02:40] alanna commented on #2394
Just watched the demo video...
* I agree with @piamancini 's comment that we should allow them to input more details when creating an invoice, such as tax ID, etc. There used to be a public/private notes box in the design. We need some kind of generic box they can write in, depending what they want to include.
* Maybe this is obvious on the expense summary screen, which is missing, but invoices al

[2020-01-06 02:42] alanna commented on #2665
@Betree - FYI this issue is relevant for expense flow implementation

[2020-01-06 07:40] brymut commented on #2757
Hi, I'm looking to get my feet wet again, may I have a go at this?

[2020-01-06 07:45] znarf commented on #2776
Seems this expense was filled on the last day of 2019 and the tax form system is not able to send tax forms for 2019 anymore, only counting expenses for 2020.

[2020-01-06 08:51] #2761 closed

[2020-01-06 09:30] Betree commented on #2755
That's a really good point. This fix should work for most scenarios and it's a really simple change.

I'd suggest doing it the other way around tho: using _public message_ and fallback to _description_, otherwise we may end up with a strange UX - "why can't I see my public message after pressing save"?

[2020-01-06 10:21] Betree commented on #2738
First round completed, banned 438 profiles from the platform. Mostly "keto" stuff.

Data is below, I'll close the issue after updating the documentation with the steps I followed.

|nb_deleted_profiles|deleted_users|nb_deleted_tiers|nb_deleted_members|nb_deleted_updates|nb_deleted_payment_methods|nb_deleted_connected_accounts|nb_deleted_conversations|nb_deleted_conversation_followers|nb_deleted_co

[2020-01-06 10:57] znarf commented on #2774
Not sure what was special and what were the actions taken to arrive in this state.

The `approvedAt` field was no set, I've now set it manually.

[2020-01-06 11:01] #2774 closed

[2020-01-06 11:28] piamancini commented on #2775
Thank you Alina!

[2020-01-06 11:55] Betree commented on #2769
Hi @AliMirlou, we're open for support of RTL. CSS makes it really easy nowadays thanks to the `direction` property. We just need to add the locale as a `lang` attribute on the root node and adapt the direction of the text accordingly.

For now the only RTL language enabled on our translation platform is Arabic: https://crowdin.com/project/opencollective/ar. We can also activate others, but keep in

[2020-01-06 14:10] kewitz commented on #2662
TODOs:
- [ ] Add blockers/validations to DeactivateAsHostCollective.
- [ ] Hook to assign a plan when subscribing to an OpenCollective tier plan.
- [ ] Hook to un-assign plan when unsubscribing from an OpenCollective tier plan.
- [ ] "Host" section in the Collective settings displaying the current plan and limits.
- [ ] Add usage info to the Collective Plan resolver.
- [ ] Add frontend information

[2020-01-06 20:57] Betree opened #2777 "Misalignement of image after saving with react-easy-crop 2.0"
**Describe the bug**
We reverted `react-easy-crop` 2.0 in https://github.com/opencollective/opencollective-frontend/pull/3266 update after noticing a bug when saving large hero images. See screencast below.

![Peek 06-01-2020 21-52](https://user-images.githubusercontent.com/1556356/71848135-ffba0a00-30ce-11ea-903d-cd3ac10b6698.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Update depen

[2020-01-07 09:05] xdamman commented on #2441
As a first step, it would be great to allow such donations for admins of the host of the collective giving the money.

The [CCC collective](https://opencollective.com/ccc) made 3x a $5k donation to [/RebelsManager](https://opencollective.com/RebelsManager]. I had to make a collective to collective donation across two different hosts (c3 -> c6). It created the `Order` with an `ERROR` status. So I h

[2020-01-07 09:19] Betree commented on #2417
@Memo-Es where is the `Subscribe` button - where do I click to submit my email?

![image](https://user-images.githubusercontent.com/1556356/71883616-15fbb080-3137-11ea-9b32-7e7163a55373.png)

[2020-01-07 09:21] richport opened #2778 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2020-01-07 09:24] richport opened #2779 "Kill"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-07 09:32] xdamman opened #2780 "Contribution flow: small improvement with wording to increase conversion"
Picture this: like 99.99% of people on this planet, you've never heard of Open Collective. You don't have an account. But you did hear about #FridaysForFuture (who hasn't?).

You want to support them financially, and then you click to donate and this is the screen you see:

![](https://d.pr/free/i/6SgneK+)

I don't have numbers but I'm sure that this screen is probably pushing a lot of people away

[2020-01-07 09:47] Betree commented on #2757
Hi @brymut, feel free to! Host terms are stored in `host.settings.tos`.

I'd add to the specs above that:
- If no terms have been defined, just show a message like `This host didn't specify any TOS.`
- If it's not an URL, then just display the raw text in a `MessageBox`

[2020-01-07 09:51] piamancini commented on #2592
Closing this issue since designs for this are now completed. Implementation issues should be opened separately.

Final Designs:

**Single Collective that is self hosted:**
<img width="521" alt="Screen Shot 2020-01-07 at 10 49 50 AM" src="https://user-images.githubusercontent.com/3671070/71885865-85739f00-313b-11ea-86e6-02253d907d82.png">

**Collective that needs a fiscal host**
<img width="525" al

[2020-01-07 09:51] #2592 closed

[2020-01-07 09:57] piamancini commented on #2331
Implementation issue here https://github.com/opencollective/opencollective/issues/2662

[2020-01-07 09:57] #2331 closed

[2020-01-07 10:27] Betree commented on #2739
Updated https://docs.opencollective.com/help/internal/moderation with info about banning users/collectives

[2020-01-07 10:58] piamancini commented on #2780
I like it. Makes sense and it's a good improvement without a lot of effort.

[2020-01-07 11:19] Betree commented on #2738
Job documented in https://docs.opencollective.com/help/internal/jobs/search-and-destroy-spammers. I'll now be doing this on a monthly basis.

[2020-01-07 11:19] #2738 closed

[2020-01-07 11:50] xdamman commented on #2780
Cool. Here is a more accurate version.

![](https://d.pr/free/i/JWg5UO+)

@Betree @znarf can one of you take this on or dispatch?

[2020-01-07 11:53] piamancini commented on #2417
As per @xdamman: The "Learn more" links under collect, disburse and manage should not be there.
@flickz we can remove them.

[2020-01-07 12:08] xdamman commented on #2417
@alanna @Memo-Es see this google doc for editing the copy: https://docs.google.com/document/d/1i1eP5PLfM2Tshp6Oiqnpt8lXAazJ-twFj8iQQg2SYWI/edit?usp=sharing

@flickz a few comments on the latest version that you've implemented and that I could see on https://opencollective-frontend-miltkcgtrf.now.sh/v2
- there is a css issue with safari for the background of the boxes for the carousel:
![](https://

[2020-01-07 12:13] Betree commented on #2780
Related: #2286

Sounds like a very good idea to me.

[2020-01-07 12:26] #2739 closed

[2020-01-07 13:07] znarf commented on #2417
@xdamman If I check the design, it's not, so it's a design issue. @Memo-Es can you check?

[2020-01-07 16:03] lencioni opened #2781 "Clicking "Next" on Discover doesn't scroll you up to the top of the content"
**Describe the bug**
Clicking "next" on the discover page leaves you hanging at the bottom of the page instead of scrolling you up to the top of the next page of content.

I think this is similar to https://github.com/opencollective/opencollective/issues/1647

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/discover
2. Scroll to the bottom of the page
3. Click

[2020-01-07 17:50] Betree commented on #2780
We can (should) also merge first name and last name as discussed recently.

I don't especially agree with the removal of the checkbox for the newsletter because I don't think anyone will be slowed down or blocked by this, it's very common to have that on signup forms and there's no action required on user side (I personally never check them). On the other hand, it can be damaging if people who wou

[2020-01-07 18:26] #2772 closed

[2020-01-07 22:18] alanna commented on #2780
I think this is a good idea.

We should say "contribute" as that's the term we've agreed to use.

Also please keep the newsletter opt in. I think there's a project that needs to be done about flows for people to opt in to Collective updates vs Platform updates, but until we take the time to properly sort that out, we should just stick with the current functionality. Otherwise we'll get into the si

[2020-01-08 07:12] brymut commented on #2757
Hi @Betree / @alanna , on the design side of things. This is what I've been able to come up with.

Clicking through would open a new tab so that redirecting doesn't have the Collective admin leave opencollective completely.

I'm using the legacy `<CollectiveCover>` at the top since its the only component I can find so far that fits, the newer version has tabs for "Contributions"/"Transactions" and

[2020-01-08 07:37] Betree commented on #2757
Nice work!

We should not use the legacy cover, we're looking to get rid of it soon so we can't use it in new devs.

The rest is looking great. I wonder if there's a way with NextJs to redirect by sending back a special HTTP status, so that the transitional page will not appear. Not sure if that's possible, I'm going to check.

[2020-01-08 08:11] Betree commented on #2663
I stumbled upon this again today. I really think we should address this as we're going to increasingly use V2 in our code, would be better if we can avoid naming all variables `account`.

@znarf any opinion on this one?

[2020-01-08 08:32] brymut commented on #2757
Any suggestion/alternative to what might work in place of the legacy cover?

[2020-01-08 09:00] Betree commented on #2757
I just checked and NextJS in fact recommends to redirect after mount - and to avoid it during rendering (see https://github.com/zeit/next.js/issues/4931#issuecomment-512787861). So we have to go above NextJS if we want to handle this properly, in https://github.com/opencollective/opencollective-frontend/blob/05228242f3327232c2b051ed8360d53944aa1f36/server/routes.js. Check `app.renderToHTML` / `app

[2020-01-08 09:09] Betree commented on #2663
Note: renaming schemas objects can be done cleanly and without breaking anything by using [schema transforms](https://www.apollographql.com/docs/graphql-tools/schema-transforms/).

[2020-01-08 09:30] Betree commented on #2780
Question: regarding the fact that it's now possible to contribute as incognito, shouldn't we make the `Full name` field required to comply with KYC?

![image](https://user-images.githubusercontent.com/1556356/71966420-d221ad80-3201-11ea-84ed-634a1f74a29f.png)

[2020-01-08 09:57] znarf commented on #2780
We're all aware that people will land on the "Account Created - Please check your inbox" screen and will need to go to their inbox before moving forward?

It's difficult to do it now based on our current priorities. We can add a bounty once the specs are settled and clear.

[2020-01-08 10:01] znarf commented on #2663
I'm fine with Account (I picked it carefully back then) but I'm good with the change to Profile. Do we have other potential alternatives for a better name?

[2020-01-08 10:06] znarf commented on #2746
@Betree Now that https://github.com/opencollective/opencollective-frontend/pull/3186 is merged seems what's left is moving the error message. Is that correct?

[2020-01-08 10:22] znarf opened #2782 "Reset Stripe token when resubmitting order"
Following up from https://github.com/opencollective/opencollective/issues/2747

When contributing with a new credit card, if the order is failing, we should reset the token so it's not reused if the user submit the form again with the same credit card.

That way we can avoid the error "You cannot use a Stripe token more than once".

I'm not able to find steps to reproduce the issue using Test Cred

[2020-01-08 10:23] znarf commented on #2747
Created a simpler issue.

[2020-01-08 10:23] #2747 closed

[2020-01-08 10:25] znarf commented on #2771
@contraexemplo can you have a look?

[2020-01-08 10:27] znarf commented on #2773
[code]

Just looked at it and it's only available for manual payment type.

[2020-01-08 10:32] #2752 closed

[2020-01-08 10:32] #2728 closed

[2020-01-08 10:33] #2708 closed

[2020-01-08 10:51] Betree commented on #2780
@znarf I actually started implementation in https://github.com/opencollective/opencollective-frontend/pull/3280, I wanted to internationalize the component and fix some design mismatch and took the opportunity. I haven't tackled the part that are still unclear tho.

[2020-01-08 10:58] mallowigi opened #2783 "Contributors can't download PDF receipt"
**Describe the bug**
My contributors are not able to download the PDF receipt from the mail sent to them

**To Reproduce**
I haven't tried myself but one of my contributors forwarded me the mail sent to them thanking them for their donation. And indeed if I click on the link to download a PDF receipt of the donation, I am greeted with
"Internal Server Error: Not authorized to access /material-them

[2020-01-08 11:04] Betree commented on #2663
Account does describe what it is, it's not a wrong name and I can get used to it. I just think there's a risk of creating confusion for newcomers because "Account" if often used to describe a way of login in (what we internally call `Users`).

I can only think of `Indentity`, which could also be confusing.

[2020-01-08 11:06] Betree commented on #2746
Yes, the error message doesn't break the layout as it used to but it still appears between the buttons. It should be centralized in the parent, and displayed **above** them, ideally in a `MessageBox` to be consistent.

[2020-01-08 11:16] Betree commented on #2783
Hi @mallowigi, thank you for reporting this issue.

This endpoint previously wasn't requesting authentication. It was protected by the fact that transaction's `uuid` are private and non-predictable.

We've however enforced the security of this endpoint by requesting authentication, which was a requirement - among others - for the service to generate incognito invoices properly (because we need to

[2020-01-08 11:17] mallowigi commented on #2783
I got word from my customers and it appears e problem has been resolved

[2020-01-08 11:20] znarf commented on #2663
For Organization, I think `account` is ok. Ie: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-organizations#organizations-and-enterprise-accounts

The most disturbing is Events, definitely not an `account` but neither a `profile`.

[2020-01-08 11:23] Betree commented on #2783
Well actually the underlying issue is real, I was able to reproduce :slightly_smiling_face:

[2020-01-08 11:33] Betree commented on #2663
Good point. It's actually hard to think of a term that will better describe something so generic.

The fact that Github does use this terminology tends to demonstrate that my point above about confusion doesn't stand. I'm convinced, let's keep account!

[2020-01-08 11:33] #2663 closed

[2020-01-08 12:23] AliMirlou commented on #2769
@Betree Okay. Can you add "Persian" language to translations so I can start working on it?

[2020-01-08 12:33] Betree commented on #2769
@AliMirlou Done => https://crowdin.com/project/opencollective/fa. Feel free to ping when it's ready to be activated, we'll then work on on the RTL compatibility.

[2020-01-08 12:53] contraexemplo commented on #2771
It's just a matter of broken paths. I'm on it!

[2020-01-08 12:58] contraexemplo commented on #2771
Fixed it  — all links on the REST API section are now pointing to the right paths.

[2020-01-08 13:00] #2771 closed

[2020-01-08 13:00] Betree commented on #2567
What's left to do for this issue is:

- Errors should be centralized in the parent, and displayed above them, ideally in a `MessageBox` to be consistent.

[2020-01-08 13:01] Betree commented on #2567
Closing in favor of https://github.com/opencollective/opencollective/issues/2746

[2020-01-08 13:01] #2567 closed

[2020-01-08 13:09] Betree commented on #2714
Going with the specs proposed above:
- Platform reports: `report.platform.hbs` + `report.platform.weekly.hbs`
- Collective report: `collective.monthlyreport.hbs`

These emails should be sent to all core contributors of the Collective, so all members with role=`ADMIN` or role=`MEMBER`.

[2020-01-08 13:10] Betree commented on #2777
Related: https://github.com/opencollective/opencollective/issues/2471
Maybe this can be tackled at the same time

[2020-01-08 13:14] Betree commented on #2541
What's the status of this?

[2020-01-08 13:17] #2223 closed

[2020-01-08 14:59] Betree commented on #2633
When I wrote the specs two months ago I excluded the `Members` table option with the following message:

I now think that it's not a crazy solution, especially because we've added the `MemberInvitation` feature that we'll need if we want to build some UI around this (#1620) because you need both parties to accept the link before creating it: parents and children.

So I'm going to go with this solu

[2020-01-08 19:41] xdamman commented on #2366
Here are my comments based on latest renderings from @Memo-Es

![](https://d.pr/free/i/JQadmO+)

![](https://d.pr/free/i/abHRPa+)

![](https://d.pr/free/i/UtHKth+)

![](https://d.pr/free/i/Iw0Y4M+)

![](https://d.pr/free/i/LaYNK4+)

![](https://d.pr/free/i/1plOz9+)

![](https://d.pr/free/i/xcKZVa+)

[2020-01-08 22:50] alanna opened #2784 "Add link to refill paypal balance to error message"
### Problem
If you run out of the $2000 paypal preapproval and you try to pay an expense, you get an error saying "insufficient funds in your paypal preapproval". To fix it, you need to go to your host dashboard and click "refill paypal balance" and go through that process.

Right now it's easy to get blocked if you're not sure what that error means. There should be a link in that error message so

[2020-01-08 23:16] alanna commented on #2417
I've edited the [google doc with the copy here](https://docs.google.com/document/d/1i1eP5PLfM2Tshp6Oiqnpt8lXAazJ-twFj8iQQg2SYWI/edit#heading=h.2wctg5rx4t4h). It would be great to see these changes incorporated into the designs so we can see how it will look.

One thing missing from this page: [the explainer video](https://www.youtube.com/watch?v=IBU5fSILAe8)! I think it should go below the hero se

[2020-01-09 02:12] alanna opened #2785 "Confusing error message when approving Collective that has since applied to another host"
[This Collective](https://opencollective.com/ai-festival-nigeria) applied to OSC. But when I clicked "approve" from the email notification, I got this error:

![Screen Shot 2020-01-09 at 3 09 23 PM](https://user-images.githubusercontent.com/5498878/72031690-0a081e00-32f2-11ea-87e8-c760c678b816.png)

When I looked at the Collective page I realised they have since decided to apply to another host an

[2020-01-09 04:06] Memo-Es commented on #2366
@xdamman Could you elaborate a little bit more on this one?

![68747470733a2f2f642e70722f667265652f692f49773059344d2b](https://user-images.githubusercontent.com/49539954/72037223-fc578780-3262-11ea-80f2-980ce93373f8.jpeg)

I made the prototype private because we are working on it right now, also tomorrow will share a google doc for copy editing

[2020-01-09 07:34] znarf commented on #2785
Some context, the URL you landed on was `https://opencollective.com/opensource/collectives/74101/approve` and was generated on December 18th.

However, since ttps://github.com/opencollective/opencollective-api/pull/3059, for security reasons, we don't do this kind of actions anymore, we're just directing the user to the Host Dashboard.

While we'll still have Collectives changing hosts before appr

[2020-01-09 07:37] znarf opened #2786 "Remove direct actions from frontend"
Since https://github.com/opencollective/opencollective-api/pull/3059, for security reasons, we're not generating direct action links anymore. ie: approve collective, approve expense, reject expense.

Out of clarity, support for these should be removed from the Frontend codebase.

[2020-01-09 07:49] Betree commented on #2786
I initially wanted to give the links a grace period of one month. We're almost there, so I'm fine with removing the pages now.

[2020-01-09 07:53] Betree commented on #2786
If we want to be safe, we can also edit the approve pages to redirect to the dashboard/expense views rather than removing them.

[2020-01-09 07:55] znarf commented on #2786
No rush, I just wanted to have that tracked.

[2020-01-09 08:21] znarf opened #2787 "Configuration via mocha.opts is DEPRECATED"
When running `npm run test` in API.

[code]

Let's move that to `package.json` if possible, we don't want yet another configuration file at the root of our project. If the `RC` file is in the `test` folder then it's fine.

[2020-01-09 08:42] #2781 closed

[2020-01-09 08:42] Betree commented on #2781
@lencioni thanks for reporting this! It will be fixed by our next deployment (probably today or tomorrow).

[2020-01-09 09:14] Betree commented on #2784
Would be a nice UX improvement.

[2020-01-09 09:15] #2633 closed

[2020-01-09 09:19] Betree commented on #2485
Note: this will be easier now that https://github.com/opencollective/opencollective/issues/2633 is done, it won't require any API changes. The only thing we need to move forward is a design proposal acknowledging that a subcollective can have multiple parents.

[2020-01-09 10:49] Betree opened #2788 "Transactions sections not reflecting gift cards correctly"
When looking at the `Transactions` section of an organization that emitted gift cards, the collective that used the gift card is not displayed. Example: https://opencollective.com/triplebyte#section-transactions

![image](https://user-images.githubusercontent.com/1556356/72060419-39a82d80-32d4-11ea-9047-b2a5ac625e42.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Easiest is to use stagi

[2020-01-09 10:53] brymut commented on #2757
Hi again @Betree, I've had some progress on this and have opened a pull request. Could you please have a look when you have a chance.

I'm having an issue with understanding what you meant on how we could go above Nextjs when handling the redirect in routes.js, could you please explain a little more on that?

[2020-01-09 11:14] znarf opened #2789 "Can't edit an organization after creation"
**Steps to reproduce**

- Create an Organization
- Wait to be redirected on the Organization page

**Current Behavior**

- No ability to edit the settings
- Takes two browser refresh to be visible

**Expected Behavior**

- Immediate ability to edit the settings

**Possible Fix**

- It's likely that the cache for the `LoggedInUser` needs to be refreshed so the Frontend knows the authenticated user

[2020-01-09 11:15] Betree opened #2790 "Recurring contributions are missing information about gift cards"
**Describe the bug**
Transactions created when running subscriptions (monthly or yearly) doesn't fill the `UsingVirtualCardFromCollectiveId`. This has two consequences:

1. The info is missing from the transactions section

![image](https://user-images.githubusercontent.com/1556356/72062674-8db51100-32d8-11ea-9d1b-ba960d74f623.png)

2. We're not acknowledging the amount in "Total donated" for the

[2020-01-09 11:22] Betree commented on #2757
The routes in `/server/routes.js` have priority over NextJS's routes. They are pure node endpoints.

From there we can still generate NextJS's pages (ie. by calling `renderToHTML`) but we can also redirect and do other kind of magic that NextJS would not allow us to do while rendering.

[2020-01-09 12:02] xdamman commented on #2633
Not sure to understand the difference between SUBCOLLECTIVE and CONNECTED.

A good example is https://opencollective.com/XR-Belgium where you can see two types of child collectives:
- a child by location, eg: XR Antwerp (on another host): https://opencollective.com/XR-Antwerp
- a child by topic, eg: XR Legal (on the same host but doesn’t have to): https://opencollective.com/XR-Belgium-legal

Now t

[2020-01-09 12:53] xdamman commented on #2366
That screen is about “Contact” as the top of the modal suggests.

Twitter is before all a tool to communicate and follow updates. So that’s not the right place to ask for their twitter account. It should be asked along with their website url, facebook page, etc. (Btw, most collectives don’t have a twitter account, most however do have a facebook one)

So, when it comes to contact the collective, o

[2020-01-09 12:58] Betree commented on #2366
Let's also add the contact form in the design, `hello@` email is not ready to be shared publicly yet but we have a contact form already developed.

[2020-01-09 13:04] xdamman commented on #2366
This screen is only showed to the creator of the collective so I’d definitely share the info@ email there. We don’t have (yet) to communicate it publicly on the collective page, we can keep that for another issue. But at least they would know that they can communicate on their own channels that email address.

Yes, maybe this modal can be larger and show more explicitly a small version of the cont

[2020-01-09 13:06] Betree commented on #2633
For now I've only implemented `SUBCOLLECTIVE`. `CONNECTED` intended to describe the relation from https://github.com/opencollective/opencollective/issues/2633#issuecomment-554108548. The main difference between the two would be the wording: subcollective would be referred to as `Parent collective` / `Member collective` while `CONNECTED` would be referred to as `Connected` or `Linked`.

Naming has