[2020-03-02 10:12] #2939 closed

[2020-03-02 10:48] Betree commented on #2937
It's still unclear to me when we should display this breadcrumb. My latest understanding was that this was part of the experiments to improve the NavBar that was not ready for implementation yet.

Let's solve it elsewhere before working on it for this PR, I'm adding that to the design<>engineering call.

[2020-03-02 10:50] znarf commented on #2937
@Betree agree with you, should not be a topic for the current work being done.

[2020-03-02 11:21] joshikeno commented on #2730
@znarf can I get a bit more information about

[2020-03-02 11:23] znarf commented on #2730
@joshikeno You should use that property `isHostAccount`. But maybe you have a more precise question?

[2020-03-02 13:04] sbinlondon commented on #2879
<img width="1037" alt="Screenshot 2020-03-02 at 13 04 07" src="https://user-images.githubusercontent.com/37520401/75678812-5898bf80-5c86-11ea-95cc-fefc51b9f0f9.png">

[2020-03-02 13:22] sbinlondon commented on #2881
<img width="1037" alt="Screenshot 2020-03-02 at 13 04 07" src="https://user-images.githubusercontent.com/37520401/75678967-a9a8b380-5c86-11ea-87c9-44bd94adbd78.png">
<img width="969" alt="Screenshot 2020-03-02 at 13 05 41" src="https://user-images.githubusercontent.com/37520401/75678969-aa414a00-5c86-11ea-9151-bb5367122a55.png">
<img width="960" alt="Screenshot 2020-03-02 at 13 05 54" src="https:/

[2020-03-02 13:27] sbinlondon commented on #2879
@znarf What will the URL for this flow be?

`/:collectiveSlug/contribute/accept`?

[2020-03-02 13:32] sbinlondon commented on #2328
I believe this is now being solved in opencollective/opencollective#2874 with the new Create Collective Flow

We offer 'request manual verificaiton' instead of verifying by stars

Will close this issue once it's merged

[2020-03-02 13:45] sbinlondon commented on #2878
Starting to work on this today.

Per @znarf's advice, will be coding it as a standalone page for now, and then adding it as a modal later.

[2020-03-02 13:50] sbinlondon opened #2945 "Create Collective Flow: Final project polishing"
Part of #2872

A place to collect all _final_ final polishing and feedback for the project before launch.

## CCF Form

* Github repo card component CSS
* Think about `componentDidMount`/`componentDidUpdate` in main `NewCreateCollective` component and how this can be improved
* Navbar/Collective breadcrumb issue
* Remove heights from any buttons

## Onboarding Modal

## Financial Contributions

[2020-03-02 13:52] sbinlondon commented on #2937
Mostly addressed in opencollective/opencollective-frontend#3605

Outstanding issues collected in opencollective/opencollective#2945

[2020-03-02 13:53] #2937 closed

[2020-03-02 13:57] sbinlondon commented on #2874
Mostly addressed in opencollective/opencollective-frontend#3530 and opencollective/opencollective-frontend#3605

Outstanding issues collected in #2945

[2020-03-02 13:57] #2874 closed

[2020-03-02 13:58] piamancini commented on #2936
We should do both proposals:

I think having one button that says PAY and have a modal or tooltip is a good idea. It needs to be resolved for mobile though. Not sure how a modal would work, but maybe a dropdown menu would.

It makes sense limiting the number of buttons on a need-only basis. A simpler idea - that makes less assumptions about how collective and host admins might want to use this -

[2020-03-02 14:09] #2858 closed

[2020-03-02 14:10] kewitz opened #2946 "[TransferWise] Notify through Email when the status of the expense changes."
We're already notifying the Payee and the Host when the payment succeeds but we're missing in the case where the payment bounces back, which is the most important.

It would also be nice to notify when the payment started.

[2020-03-02 15:28] znarf commented on #2869
Removing "priority" and adding "important" instead.

[2020-03-02 15:47] mstenta opened #2947 "PDF Download is missing"
In the email that is sent to contributors, it says "You can download a PDF receipt for your contribution on your transactions page".

As of this month, the page that this links to is different, and there is no obvious place to download a PDF.

Has the page moved? Or has the ability to download a PDF been removed?

[2020-03-02 15:50] mstenta commented on #2947
Oops I didn't realize I was logged out. Logged in an saw the new PDF link.

Sorry for the spam - hopefully someone else finds this useful.

[2020-03-02 15:50] #2947 closed

[2020-03-02 16:07] Betree commented on #2947
Hi @mstenta :wave: Just to let you know that we also plan to embed the receipts directly in the emails in the future (see #2867) to simplify the user experience around this.

[2020-03-02 16:14] mstenta commented on #2947
That would be greatly appreciated, thanks!

[2020-03-02 16:30] Betree commented on #2945
Something else that hasn't been addressed from https://github.com/opencollective/opencollective/issues/2937, not critical but would be nice:
- I get a loading spinner when I open https://staging.opencollective.com/create/v2. Showing the page with disabled buttons during SSR would be nice.

---

- Also we should not set any height on buttons. Using the standards from the design system (small, mediu

[2020-03-02 19:49] sbinlondon commented on #2945
@Betree Do you mean this loading spinner? I thought that was the desired behaviour while the page is loading?

<img width="1792" alt="Screenshot 2020-03-02 at 19 47 37" src="https://user-images.githubusercontent.com/37520401/75711708-c1039300-5cbe-11ea-94ae-9ab2c10c9824.png">

Re: button height, good catch! I had removed the height on the buttons in Collective Category Picker because @znarf had no

[2020-03-02 19:50] znarf commented on #2816
@brymut fyi ![Screenshot 2020-03-02 at 20 49 43](https://user-images.githubusercontent.com/806/75711907-6e7aa480-5cc7-11ea-96f2-53ca935d2f99.png)

[2020-03-02 20:00] soulgalore opened #2948 "Unable to add Open Source project"
**Describe the bug**
Clicking on "Get started" button for an Open Source project generates a JSON parse error for my user.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Open Collective
2. Click on 'Create a collective.'
3. Click on  'Open Source project'
4. Click on 'Get started'
5. I get the error in the screenshot. `SyntaxError: JSON Parse error: Unrecognized token '<'` Looking

[2020-03-02 21:24] kewitz opened #2949 "[TransferWise] Add feedback after paying expense"
Confirm that the transfer was created and explain what the expense status "Processing" means.

[2020-03-02 23:20] alanna opened #2950 "Auto-responses to system email notifications are bouncing"
I have an auto-responder set up on my email right now since I'm on leave. I keep getting responses about failed deliveries triggered by system notifications. In this case it was a notification of a new expense on a Collective. I don't think this should happen.

<img width="931" alt="Screen Shot 2020-03-03 at 12 17 00 PM" src="https://user-images.githubusercontent.com/5498878/75727108-040a4880-5d49

[2020-03-03 06:51] Betree commented on #2949
Maybe we should also include that in the host dashboard / expense admin actions redesign (see #2896, ping @piamancini)

[2020-03-03 06:54] Betree commented on #2778
Hi Richard, I think you forgot to fill the template for this one. Please add details if you have an issue.

[2020-03-03 06:54] #2778 closed

[2020-03-03 07:18] Betree commented on #2945
I meant that indeed, but after thinking a bit more about it I realize that the alternative (disabling the buttons) is not great. Feel free to ignore my suggestion about that.

[2020-03-03 07:35] znarf commented on #2945
@Betree @sbinlondon For the loading, this is a current common practice through the codebase and it's the simplest. Would be great to figure better practices for the future but that's out of scope here.

[2020-03-03 07:40] Betree opened #2951 "Allow collective admins to delete expense"
## User story
As a Collective admin, I can delete expenses submitted to my collective to get rid of spam.

As seen with #2741, expenses are a growing vector of spam. Some use it to submit expenses to promote their services, others probably hope that collective admins will mistakenly pay them.

## Best solution for this problem
Today we allow host admins to delete expenses **after they are rejected

[2020-03-03 08:49] Betree opened #2952 "Simplify formatting internationalized messages"
## User story

As a developer on Open Collective, I often struggle with a very simple task: formatting the text with bold or italic in an internationalized (i18n) message.

## Proposal

I've recently introduced a [`I18nFormatters`](https://github.com/opencollective/opencollective-frontend/blob/4d48f6fada12c3473fb95a046559b9dec68af539/components/I18nFormatters.js#L4) file to help with this issue.

[2020-03-03 11:02] Betree commented on #2951
Collective admins being able to delete expenses was actually part of the initial specs for https://github.com/opencollective/opencollective/issues/2337.

[2020-03-03 11:04] #2891 closed

[2020-03-03 17:14] Memo-Es commented on #2881
@sbinlondon

I'm working today on the Congratulations page, you will have by tomorrow and the create organization step plus the illustrations that are ready.

The illustrator is off until next week so the illustrations of the onboarding modal and start accepting financial contributions are going to be ready until the end of next week.

[2020-03-04 08:26] brymut opened #2953 "Validation error message if Tier description is too long"
While a Collective Admin is editing the description of a Tier, passes the character limit and tries to save their changes, the validation error message is not very helpful with being specific as to why they are not able to proceed with saving or what they can do to resolve the error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the Collective page, click on the gear icon and switch

[2020-03-04 08:36] brymut commented on #2953
ran into this bug while working on https://github.com/opencollective/opencollective-frontend/pull/3613

[2020-03-04 09:21] #2935 closed

[2020-03-04 09:35] #2930 closed

[2020-03-04 09:36] znarf commented on #2915
It's now open to everyone.

[2020-03-04 09:39] znarf commented on #2870
Should have been taken care of in https://github.com/opencollective/opencollective-api/pull/3424

[2020-03-04 09:39] #2870 closed

[2020-03-04 09:43] znarf commented on #2829
Not sure where it's coming from, we have no `accordion` variable in our codebase.

[2020-03-04 09:45] #2779 closed

[2020-03-04 09:45] #2775 closed

[2020-03-04 09:50] znarf commented on #2706
Not an issue anymore.

[2020-03-04 09:50] #2706 closed

[2020-03-04 09:50] znarf commented on #2685
Completed!

[2020-03-04 09:50] #2685 closed

[2020-03-04 09:51] znarf commented on #2684
Completed!

[2020-03-04 09:51] znarf commented on #2683
Completed!

[2020-03-04 09:51] #2683 closed

[2020-03-04 09:52] znarf commented on #2677
This should be done.

[2020-03-04 09:52] znarf commented on #2672
Completed!

[2020-03-04 09:52] #2672 closed

[2020-03-04 09:53] znarf commented on #2670
Taken care of.

[2020-03-04 09:53] #2670 closed

[2020-03-04 09:54] znarf commented on #2662
Completed!

[2020-03-04 09:54] #2662 closed

[2020-03-04 09:54] znarf commented on #2659
We still should do that.

[2020-03-04 09:58] znarf commented on #2545
Duplicate with https://github.com/opencollective/opencollective/issues/2891 and fixed.

[2020-03-04 09:58] #2545 closed

[2020-03-04 10:00] znarf commented on #2458
Homepage is gone.

[2020-03-04 10:00] #2458 closed

[2020-03-04 10:00] znarf commented on #2445
Let's close!

[2020-03-04 10:00] #2445 closed

[2020-03-04 10:01] znarf commented on #2430
Closing

[2020-03-04 10:01] #2430 closed

[2020-03-04 10:05] znarf commented on #2316
We'll be using User/Organization with `isHostAccount=TRUE` for now.

[2020-03-04 10:05] znarf commented on #2312
Done

[2020-03-04 10:05] #2312 closed

[2020-03-04 10:06] znarf commented on #2251
Closing.

[2020-03-04 10:06] #2251 closed

[2020-03-04 10:08] #2204 closed

[2020-03-04 10:09] znarf commented on #2204
Not enough info.

[2020-03-04 10:11] znarf commented on #2062
We use isHostAccount=TRUE because moving away from User/Organization is to complicated.

[2020-03-04 10:12] znarf commented on #1974
We're using dependabot now.

[2020-03-04 10:12] #1974 closed

[2020-03-04 10:14] #1827 closed

[2020-03-04 10:19] #2684 closed

[2020-03-04 10:21] znarf commented on #1034
This might be fixed soon!

[2020-03-04 10:58] brymut opened #2954 "Tiers: Comma decimal separator fails validation in currency fields."
**Describe the bug**
Using a comma as a decimal separator in currency fields doesn't work properly. Depending on browser typing a comma into a currency field either removes the whole value being typed or outright doesn't print the comma into the input.

**To Reproduce**
1. Go to the Collective page, click on the gear icon and switch to the Tiers section.
2. Add a new Tier or edit existing Tier.
2.

[2020-03-04 11:10] brymut commented on #2954
spotted by @Betree while reviewing https://github.com/opencollective/opencollective-frontend/pull/3613

[2020-03-04 11:57] mdbecker opened #2955 "Event "Tickets" tab shows up even when tickets are disabled"
**Describe the bug**
An example can be found at https://opencollective.com/dataphilly/events/dataphilly-workshops-2020-e8fd9241

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin make a new event
2. Do not add any tickets
3. Save the event
4. Open the event page in a new incognito tab
5. The tickets tab still shows up and links to the non-existent tickets section

**Expected behavio

[2020-03-04 13:35] eighthave opened #2956 "run a matrix bridge to the slack room so we can communicate with free software"
## User story

[Matrix](https://matrix.org) and IRC are open standards for federated messaging with full free software implementations.  They are very popular with free software developers, and widely used in many places where Slack is.  Please provide a Slack-Matrix bridge so that Matrix and IRC users can communicate with OpenCollective.  It would then also be possible to add in other bridges to

[2020-03-04 13:49] Half-Shot commented on #2956
Hi, maintainer of `matrix-appservice-slack ` here :). Would be happy to guide you through the process of setting this up. You can either self host or use matrix.org depending on how much spare ops resources you have, but of course you will need your own homeserver if you want to self host.

Shout if I can be of help

[2020-03-04 15:25] kewitz opened #2957 "Unique token column for ConnectedAccounts"
Since queries to TransferWise are secured by IP, the easier way for a malicious actor with access to a valid token would be to just create a new Host and connect with the stolen token.
This way the attacker would be able to generate requests using that token from our IP.

To make sure that isn't possible, update the model and write a migration to make sure ConnectedAccount.token is unique.

[2020-03-04 15:39] kewitz opened #2958 "Enforce delay between Accepting expense and being able to automatically pay for it"
## User story
As a Host admin, I want to wait for 24hrs before I'm able to pay for an expense so if someone hacks my account I'm able to notice it before the attacker is able to generate and pay expenses.

## Best solution for this problem
When paying for expense automatically consider the value and the time since it was accepted.
If the value is above a threshold, throw if the expense was accepte

[2020-03-04 15:43] leonardohof commented on #2915
@chmac Could you add a screenshot?

[2020-03-04 15:49] Betree commented on #2957
A unique index on `[service, token]` would do the job (tho I don't think there's a strong risk of collision between tokens).

I checked earlier and we have ~200 entries with duplicates, all of them are Twitter and 1 is meetup.
- The meetup duplicate can safely be deleted.
- For all the Twitter entries, we could keep only the most recent one if there are duplicates. We should also add a check on ht

[2020-03-04 19:35] Betree opened #2959 "New PDF service endpoints"
Invoice's service routes are not consistent. Because we're going to add new concepts to the service (#2944 + #2055) we need to make these endpoints more explicit.

- [x] Transaction
[code]

- [x] Date range
[code]

- [x] Expense invoice

[code]

- [x] Printable gift cards

[code]

Then, we need to migrate:
- [x] Update in Frontend
- [x] Update in API
- [ ] Remove legacy endpoints from PDF service

[2020-03-04 20:21] #2942 closed

[2020-03-04 20:50] wdanilo opened #2960 "Github Banner not working"
**Describe the bug**
Hi! I registered to opencollective few days ago and I'm trying to generate github banner for my organization. However, after entering `https://opencollective.com/enso-language/contributors.svg?width=890` I do not see anything. Could I ask you for a help please?

[2020-03-05 00:18] #2949 closed

[2020-03-05 07:44] jacksonk-dev commented on #2830
Just to add, the search field at the discover page has **"Search tag"** as its placeholder. With that, I also think [https://opencollective.com/discover?tag=climate](url) instead of [https://opencollective.com/discover?show=climate](url) is better for consistency

[2020-03-05 07:51] jacksonk-dev commented on #2830
**https://opencollective.com/discover/:tag** looks cleaner than  **https://opencollective.com/discover?tag=climate** but doesn't it limit what we can search by. If we use the URL parameter, doesn't it limit search by one property? Because it allows us to specify a value for that property placeholder but not specify the property name as in  **https://opencollective.com/discover?tag=climate** where

[2020-03-05 07:51] Betree commented on #2830
@jacksonk_dev we don't want to continue with query parameters (?tag=my-tag), the motivation of this issue is to move to routes parameter (/discover/my-tag)

[2020-03-05 07:53] jacksonk-dev commented on #2830
Ok then, if the intention is to move away from query parameters

[2020-03-05 07:56] Betree commented on #2830
Tag is the main search parameter, so it's ok to have it in the URL as default. We can always pass the other filters as query parameters (ie. `/discover/open-source?other-filter=true`)

[2020-03-05 07:57] jacksonk-dev commented on #2830
I would support the **https://opencollective.com/tags/:tag** approach in that case, unless tags will always be the only way to discover collectives. ** https://opencollective.com/discover/:tag** kind of assumes tag is the only search param

[2020-03-05 07:58] jacksonk-dev commented on #2830
Then that would be alright. If you guys settle on this, can I take on this issue?

[2020-03-05 08:30] Betree commented on #2830
I personally don't like `/tags/:tag`:
- Because the intent of the route is not to list tags, it's to discover collectives. The tag is a parameter, not the action that you're trying to achieve with this route.
- Because when searching from the `/discover` page, you will suddenly jump from `/discover` to `/tags/my-search` while you're still on the same page. I'd argue in favor of consistency.

No be

[2020-03-05 08:35] jacksonk-dev commented on #2830
@Betree, you make a good point against `/tags/"tag`. If the search is on the discover page, that would suddenly jump to a new page. I also don't think that would be a good pattern.

[2020-03-05 08:37] jacksonk-dev commented on #2830
`/tags/:tag` would be alright later when there is a **tags** page for some reason

[2020-03-05 09:34] Betree commented on #2316
Solves the lack of having an easy way to recognize hosts for me. Closing.

[2020-03-05 09:34] #2316 closed

[2020-03-05 11:12] staltz opened #2961 "Might not be receiving emails"
Follow up of issue https://github.com/opencollective/opencollective/issues/2566, I *think* I am not getting emails for the open collective [Manyverse](https://opencollective.com/manyverse). For instance, I just submitted an expense and did not receive an email within 1 hour. Also published an update but did not receive an email for that either.

[2020-03-05 11:28] znarf commented on #2961
Sorry, same issue as last times, because of a spam report originating from your address.

I tried to whitelist your address in our email provider without success. I contacted them about that.

You should receive the emails now but I'm afraid it will happen again.

[2020-03-05 11:30] staltz commented on #2961
I suppose I'm not the only one to ever experience this in opencollective? As an option, could consider changing email providers.

[2020-03-05 11:33] chmac commented on #2915
@leonardohof Unfortunately I don't have credit cards in chrome on my iPhone. It was a friend trying to support our campaign at an event who told me about it, without any other cards on hand, there was no way for them to support the campaign. I'm asking if they can forward a screenshot, but I guess it's the absence of something happening rather than the presence of a problem, so it might be hard to

[2020-03-05 11:37] znarf commented on #2961
I know it's difficult to imagine, but you're the only one to report that :-/

Just looked again at this Complaints list and it's really short, ~20 emails in there.

[2020-03-05 12:51] piamancini opened #2962 "Tax forms for organizations & collectives"
The new expense flow allows for organizations and collectives to submit expenses to a collective. When these expenses are invoices we need to gather tax forms for them as well.

Some issues we can anticipate when we set up tax forms for them.

- Collectives are not legal entities so the tax form needs to be filled (or check against) their host organization.

- Organizations are managed by several

[2020-03-05 13:05] Betree commented on #2962
While we figure this out, I can disable the payee select to make sure that it stays locked on user's profile:

![image](https://user-images.githubusercontent.com/1556356/75984278-63538e80-5eea-11ea-8a85-3c010411c0d9.png)

[2020-03-05 14:10] piamancini commented on #2962
@betree I don't think it's worth it to be honest. It's an important feature and one requested by several collectives. I think an export of companies / collective submitting expenses is good enough

[2020-03-05 14:29] znarf commented on #2960
Looking at it.

[2020-03-05 15:17] #2943 closed

[2020-03-05 20:21] #2897 closed

[2020-03-05 20:41] #2946 closed

[2020-03-05 21:48] kewitz opened #2963 "Expense Paid email not being sent when using "Pay with TransferWise""
**Describe the bug**
When the host pay an expense using the new "Pay with TransferWise" button and the expense is marked as paid through the cron job, the COLLECTIVE_EXPENSE_PAID email is not being sent.

**Expected behavior**
It should send the COLLECTIVE_EXPENSE_PAID email to the user confirming the Expense was paid.

[2020-03-05 22:42] wdanilo commented on #2960
@znarf have you discovered something? :)

[2020-03-06 02:28] alinamanko opened #2964 "Support Metrics Report February 2020"
### Support Metrics Report February 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**
![Capture](https://user-images.githubusercontent.com/57156267/76044291-cb73a480-5fbe-11ea-8333-8c356ca08f94.PNG)

The number of tickets received has increased by 34% from 173 in January to 232 in

[2020-03-06 09:39] Betree opened #2965 "New Netherlands VAT numbers are not supported"
_Root cause for https://opencollective.freshdesk.com/a/tickets/4661_

**Describe the bug**
The new VAT numbers used in Netherlands fail in our `checkVATNumberFormat` function in https://github.com/opencollective/opencollective-taxes/blob/5a00aae96d16e3bc0f36ce6f71882925599b271e/src/vat.ts#L92. As a consequence, businesses in Netherlands can be limited when they edit their organization profiles or

[2020-03-06 11:19] Betree commented on #2964
This is very insightful, thanks @alinamanko!

I hope the changes we are making on expenses with transferwise and the new flow will help decrease the support requests for them.

We also have new tools to fight against spammers that are making us more efficient at it. We still need to collect more data but at least we are able to respond and remove SPAM content quickly.

[2020-03-06 11:42] sbinlondon opened #2966 "Enhancement: change primary color on new Collective page to black"
![image](https://user-images.githubusercontent.com/37520401/76080701-6066a580-5f9f-11ea-8c26-b34d0f4745e4.png)

For new Collectives created going forward, we want the default primary color to be neutral, not blue, until the Collective sets their own primary color.

This is for new Collectives created after this change goes into affect, not existing ones.

[2020-03-06 11:43] sbinlondon commented on #2940
@znarf keep this issue open until we have the cron running in production, not triggering it manually?

[2020-03-06 11:47] sbinlondon opened #2967 "Enhancement: change Collective notification banner colors to match primary Collective colors"
![image](https://user-images.githubusercontent.com/37520401/76081038-2ea20e80-5fa0-11ea-938d-be9a318bb19e.png)

The current green success banner, for example, clashes with our primary OC blue. We should change it to match either the color that a Collective has chosen, or something that will play better with our general color palette.

[2020-03-06 11:49] znarf commented on #2940
@sbinlondon yeah, let's trigger manually one last time on Monday then activate it.

[2020-03-06 12:00] Betree commented on #2917
Got a reply from them today:

So it should be fixed now. Let's remain vigilant and re-open if this happens again.

[2020-03-06 12:00] #2917 closed

[2020-03-06 12:05] JoyLubega commented on #2297
@znarf, @alanna   I need some clarification. Do I need to create a new email template? I am also assuming, `notification` == `email` OR If Notification is not the same as email on the backend, do I need to just add the field in a certain object that sends the notification?

[2020-03-06 12:08] znarf commented on #2297
I think this is just about adding the email address of the contributor somewhere in the template. If applicable (individual contributor only).

[2020-03-06 13:06] Betree commented on #2909
opencollective/opencollective-api#3362 seems have improved the situation as there's no order with status=ERROR matching this error since _2020-02-12 17:55:02_ for Triplebyte's gift cards :tada: I'll contact the users to ask them to try again.

The entries that we've see in the logs since then are **not** gift cards and all have in common that the orders previously had the `requires_source_action`

[2020-03-06 13:06] #2909 closed

[2020-03-06 13:12] znarf commented on #2909
Interesting, we need to double check our behavior when adding a payment method and being challenged by 3d secure.

[2020-03-06 13:22] JoyLubega commented on #2297
Perfect 👍. Thanks

On Fri, 6 Mar 2020, 3:08 pm François Hodierne, <notifications@github.com>
wrote:

[2020-03-06 16:06] znarf commented on #2960
Yes, our job fetching contributors from GitHub was broken. But it's now fixed!

[2020-03-06 16:06] #2960 closed

[2020-03-06 19:32] wdanilo commented on #2960
@znarf thank you, thank you, thank you!

[2020-03-06 20:18] kewitz opened #2968 "Duplicated transfer if TransferWise fails to fund a transaction"
# Problem
When a transfer is initiated but I don't have enough balance in TransferWise to complete it, I get cryptic error in the frontend and I end up with an ongoing transfer in TransferWise.

# MVP
Check for funds before creating the transaction.
If the transaction fails for whatever reason, cancel the transaction.
Return a better error explaining what's happening.

# Screenshots
https://files.

[2020-03-06 21:21] contraexemplo commented on #2917
Fantastic. Thank you, @Betree!

[2020-03-07 13:54] brymut commented on #2954
Initially, I had a look around and I came across this [blog post](https://www.ctrl.blog/entry/html5-input-number-localization.html#2) on how `<input type="number">` validation is implemented differently across browser vendors and also based on the locale.
For example, on my default browser (macOS, Chrome 80),  I can't seem to be able to get a comma into the field.
![comma not recognised](https://g

[2020-03-08 04:33] bolariin commented on #2743
From what I can see, I'm not sure you can get the user's actual name through GraphQL because of https://github.com/opencollective/opencollective-api/blob/116cdae0f79240757a54d96c56ee3624896f5607/server/graphql/v1/types.js#L1551

[2020-03-08 22:56] nemchik commented on #2596
This hasn't been fully addresses.

[2020-03-09 00:55] joshikeno commented on #2808
@znarf can I get more information about this issue.
when i manually queried the `Rest API` locally it worked.

<img width="1439" alt="Screenshot 2020-03-09 at 01 50 49" src="https://user-images.githubusercontent.com/29008971/76174599-8d39d900-61a8-11ea-80ed-9455bfda1f06.png">

But from `Frontend App` it didn't hit the `Rest API endpoint`, rather it queries internal route `${collectiveSlug}-members

[2020-03-09 08:50] znarf commented on #2808
@joshikeno The Frontend should just expose a button that is triggering a download directly from the REST service. This might be as simple as a link.

[2020-03-09 09:05] Betree opened #2969 "Search page crashes with special characters"
**Describe the bug**
Search page seems to crash with certain characters like `#`.

**To Reproduce**
Steps to reproduce the behavior:
- Go to https://opencollective.com/search?q=f%23
- **Or** put `f#` in the search bar.

**Expected behavior**
- Search should work
- `#` should be used in the search, so searching for `c#` should return collectives tagged with that string

**Screenshots**
![image](htt

[2020-03-09 09:25] Betree opened #2970 "Merge search and discover pages"
## User story
As an Open Collective user looking for a collective, I have two options:
- Use the search bar at the top, which redirects to the **search page**
- Use the **discover page**, that also has its own search bar

The reason for this distinction is unclear to me, one single endpoint with good filters to find collectives would be enough.

## Best solution for this problem
Because the **disc

[2020-03-09 09:37] xdamman commented on #2970
Good idea.

Also right now the discover page shows filters for “open source collectives”, “pledged collectives” and “Other”. Can we add one for “climate emergency”?

When clicking on “pledged collectives”, it would be good to have a word of explanation with a link to create a new pledged collective.

When no result I’d show a message followed by a section: “Discover new collectives”

[2020-03-09 09:43] Betree commented on #2970
That makes sense given that we add a special tag for them in the new create collective flow. Did we decided on the exact tag yet, is it `#climate`?

[2020-03-09 09:59] Betree commented on #2909
Got a confirmation from the two users who reported this that they were able to contribute this time :tada:

[2020-03-09 10:24] joshikeno commented on #2808
example `https://rest.opencollective.com/babel/members.csv`

[2020-03-09 10:29] Betree commented on #2954
@znarf also shared something on this topic the other day: https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/.

There are two things here:

- The question about localization, using `,` vs `.`. I've made some changes in our `StyledInputAmount`, when used as a controlled component with `parseNumbers` I believe the behavior is pretty compreh

[2020-03-09 10:43] Betree commented on #2743
@bolariin that's indeed probably the problem here. However this GraphQL endpoint normally returns the user info if the user is an admin, so we need to check the following:
- That `req.remoteUser.isAdmin(incognitoProfile.id)` returns true when `incognitoProfile` is the incognito profile of `req.remoteUser`.
- That the invoice service properly send the authorization header to the endpoint when it ma

[2020-03-09 11:42] brymut commented on #2915
Hi @znarf @chmac , looks like this isn't straightforward to reproduce. I tried with a card I had saved to the page mentioned ( https://opencollective.com/generous-community ) with my phone on:
 - Device: iPhone 8 (not same phone as mentioned)
 - OS: iOS 13.3.1
 - Browser Chrome
 - Version 80.0.3987.95
which in my opinion is quite similar to the device browser described and the autofill worked succ

[2020-03-09 11:54] brymut commented on #2954
I'll get on this and submit a PR asap.

However, for this, I haven't been able to recreate this behaviour unless I'm missing something/misunderstanding you. Like in the example you shared originally it only appears to remove the invalid value being edited and doesn't affect the values after it. (like in your example, out of `[ 5, 25, 66]` when you edit the `25` that makes it invalid, the `66` seem

[2020-03-09 13:00] Betree commented on #2954
@brymut Yes you're right, I was not remembering the behavior correctly. So to edit my second point:
- If a number is invalid, don't remove it but eventually show a warning/an error message

[2020-03-09 13:18] Betree opened #2971 "Host collective page: hosted collective/event filters"
While discussing with admins of https://opencollective.com/paris recently, I got the feedback that it is more complex to see hosted collectives with the new collective page because they were bundled under the the same `Fiscal host` filter than collectives.

What they would like to have is a clear list of the collectives they are hosting. While the new host dashboard will certainly solve this, I be

[2020-03-09 14:44] davejon1337 commented on #2971
can i try this out?

[2020-03-09 14:49] Betree commented on #2971
@davejon1337 sure, thanks for jumping in! @piamancini is the owner of the collective page project, let's just wait for her to confirm this before starting with the implementation.

[2020-03-09 15:05] Betree commented on #2945
Some places already don't follow the pattern of showing a loading spinner tho. The idea is to acknowledge that there are three possible states, not only two:

1. User logged out, won't log in (`loadingLoggedInUser` = false, `LoggedInUser` = false)
2. User logged in (`loadingLoggedInUser` = *, `LoggedInUser` = true)
3. User logged out, loading (`loadingLoggedInUser` = true, `LoggedInUser` = *)

If

[2020-03-09 16:34] kewitz opened #2972 "Connect TransferWise Account"
Add token encryption.
Add string input for the token in the Host collective settings.
The mutation should upsert (create or update) a ConnectedAccount for that collective using:
[code]

[2020-03-09 16:55] Betree opened #2973 "Make custom contribution (donation) opt-out"
# User story
As a collective admin, I want to be able to disable the **Custom contribution** path to force contributors to belong to one of the tiers that I've defined.

![image](https://user-images.githubusercontent.com/1556356/76236406-e9464100-622c-11ea-96ba-b15bb888e626.png)

# Specs

## Frontend

- [x] On `collective/edit/tiers` add a checkbox at the top of the page
  - Label: Enable custom c

[2020-03-09 16:56] Betree commented on #2973
@znarf about the API changes (_In `createOrder`, throw an error if `disableCustomContributions` is true and there's no tier._) can this conflict with what we're doing with the Github sponsors integration?

[2020-03-09 20:09] kewitz opened #2974 "Migrate existing JSON columns to JSONB"
Querying JSON values is super slow and we need to use JSONB if we want to make that happen.
In order to make everything consistent, we're moving all JSON columns to JSONB.
This will also fix the timeout issue with TransferWise web hook endpoint.

[2020-03-10 07:25] #2710 closed

[2020-03-10 07:44] #2952 closed

[2020-03-10 09:15] Betree opened #2975 "Add Collective name to credit card statements"
## User story
As a financial contributor, I can see the collective name I'm contributing to on my credit card statement.

Today only the host name is displayed, but most users contribute to only one collective and probably don't know what the Open Source Collective is.

**Today**
![image](https://user-images.githubusercontent.com/1556356/76296249-37ebed80-62b6-11ea-9cc4-0574b6e87562.png)

**Expect

[2020-03-10 10:31] sbinlondon commented on #2940
Emails sent manually last night. Will send reminders on the 21st and see how many people have updated.

[2020-03-10 10:32] sbinlondon commented on #2967
This was solved in opencollective/opencollective-frontend#3657

[2020-03-10 10:32] #2967 closed

[2020-03-10 11:18] xdamman commented on #1445
This looks like a highly requested feature. Also in https://github.com/opencollective/community/issues/2
Maybe worth considering for a bounty @znarf ?

[2020-03-10 15:19] chmac commented on #2915
@brymut Thanks for investigating this so thoroughly. I'm gonna close this issue now on the basis that it was probably a one off, or at least hard to reproduce, issue. Impressed with the depth of investigation and feedback here. Thanks. ❤️

[2020-03-10 15:19] #2915 closed

[2020-03-10 18:59] piamancini commented on #2971
Thanks @Betree It's definitely an easy win.
@davejon1337 You can go ahead!

[2020-03-10 19:02] piamancini commented on #2973
@Betree we should make this also available for events.

[2020-03-10 20:25] #2968 closed

[2020-03-11 03:48] bolariin commented on #2918
I was wondering if I could resolve this issue

[2020-03-11 07:49] Betree commented on #2918
Hi @bolariin sure, thanks for joining in! I suspect that the complexity for this one may be higher than what we estimated, feel free to post updates and seek help if you need

[2020-03-11 08:57] #2791 closed

[2020-03-11 09:21] Betree commented on #2973
@piamancini true, arguably disabling donations should event be the default for events.

Anyway the checkbox should also be available for them as we're currently migrating events to the same settings page than collectives: https://github.com/opencollective/opencollective/issues/2932

[2020-03-11 10:36] Betree opened #2976 "Remove react-hook-form dependency"
We're moving away from `react-hook-form` to instead go with `Formik` (see https://github.com/opencollective/opencollective/blob/master/rfcs/009-move-away-from-react-hook-form.md).

We have 3 legacy forms that we want to migrate:
- [ ] `CreateConversationForm`: either use `Formik` or just react state (it's just 2 fields)
- [ ] `CommentForm`: either use `Formik` or just react state (it's just 1 fiel

[2020-03-11 10:37] Betree commented on #2976
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines),

[2020-03-11 11:02] znarf commented on #2961
Closing.

I'll keep an eye on it in Mailgun and will follow up with them if/when this happen again.

[2020-03-11 11:02] #2961 closed

[2020-03-11 11:09] znarf commented on #2956
- If could not understand how to use matrix.org to run it. Any more precise pointer?
- What kind of server would you recommend to self host it?

[2020-03-11 11:11] znarf commented on #2953
@brymut Thank you for the report. I can't see the screenshot right now.

[2020-03-11 11:17] znarf commented on #2948
Sorry for the issue, is this still happening?

Can you look at the network request and share more details? Great if you can share the time, so we can look at matching logs.

If you're blocked, you can bypass it and the "manual-verification" process as specified in https://docs.opencollective.com/help/collectives/osc-verification#manual-verification

[2020-03-11 14:34] Betree opened #2977 "Collective picker: apply latest design"
:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/%5BDS%5D-05-UI-Organisms?node-id=0%3A1716)

## Remove custom icons, use ( + ) icons and use new labels

**Today**
![image](https://user-images.githubusercontent.com/1556356/76427703-eeca9500-63ac-11ea-97ce-c5b438f02519.png)

**Expected**
![image](https://user-images.githubusercontent.com/1556356/76427911-3d782f00

[2020-03-11 19:27] kewitz commented on #2957
@Betree we have a problem. There are a few Twitter accounts being used across different collectives.
I think we should talk to users before killing this feature.

[2020-03-11 19:44] kewitz commented on #2957
There's also a stripe account being shared between two collectives.
[code]

[2020-03-12 04:13] jeffin143 commented on #2976
Hi @brymut , I see you have self assigned yourself, If you haven't started working on this, Can I take up the issue :), Don't be obliged, totally your call

[2020-03-12 04:21] brymut commented on #2976
Hi @jeffin143, sorry but I have started on it.

[2020-03-12 04:23] jeffin143 commented on #2976
@brymut , no issues :) good luck

[2020-03-12 07:49] eighthave commented on #2956
@znarf from what I understand this is how to set it up on matrix.org, using the https://Riot.im client:
1. log into Riot with matrix account
2. create Matrix room, e.g. #opencollective:matrix.org
3. click the four squares button for "Manage Integrations"  ![integrations](https://user-images.githubusercontent.com/143465/76498962-c8047100-6435-11ea-9a27-0968e1de86e9.png)
4. In the "Manage Integratio

[2020-03-12 07:51] eighthave commented on #2956
That same method will also then setup a bridge to IRC, but I think you might have to create the IRC room in an IRC to set the proper admin setup.

[2020-03-12 10:16] #2029 closed

[2020-03-12 10:59] Betree commented on #2583
We will rather focus on the dashboard revamp.

[2020-03-12 17:43] #2866 closed

[2020-03-13 07:09] Memo-Es opened #2979 "Design system update: Mid March 2020"
### This update includes:

- **[Typography](https://www.figma.com/file/jxJfC29te8i1C8qMReth95/%5BDS%5D-01-Typography?node-id=9%3A10)**:
  - Style sheets for devs and style sheets for design use
  - Use categorization: Display fonts, Heading fonts, Paragraph fonts, Caption fonts, Label fonts.
  - Improvements and adjustments in naming and organization
<img width="848" alt="Screen Shot on 2020-03-13

[2020-03-13 15:56] raulgrafico commented on #2606
Link to the Figma file:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hotfix-Fixes?node-id=1030%3A93

[2020-03-13 15:56] raulgrafico commented on #2606
Sorry closed this by mistake

[2020-03-13 16:35] raulgrafico commented on #2424
Link to the Figma file:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hotfix-Fixes?node-id=1038%3A454

[2020-03-16 01:02] vinuch commented on #2907
hello @Betree hope you enjoyed your weekend .

are you done reviewing the PR by chance?

[2020-03-16 01:43] #2974 closed

[2020-03-16 07:34] #2911 closed

[2020-03-16 08:56] Betree opened #2981 "Relax X-Frame-Options on button page"
Reported in https://opencollective.freshdesk.com/a/tickets/5137

We need to set `Access-Control-Allow-Origin` header to `*` on this page.

[2020-03-16 15:13] #2792 closed

[2020-03-16 15:14] znarf commented on #2792
🏆 This issue was completed by @joshikeno

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2020-03-16 16:49] piamancini commented on #2973
Someone else just requested the default tier to be removed as well.

[2020-03-16 17:22] kewitz opened #2982 "Intermittent GraphQL test error"
**Describe the bug**
https://github.com/opencollective/opencollective-api/pull/3523/checks?check_run_id=511432678

[2020-03-16 18:24] xdamman opened #2983 "Can't run the migration anymore on opencollective-api"
I have this error now when running the migration on a fresh db using latest opencollective-api master branch (`dbcreate opencollective_dvl; npm run postinstall`):

[code]

Related to https://github.com/opencollective/opencollective-api/pull/3494 ?

[2020-03-16 18:32] xdamman commented on #2983
The issue was that I was not running the right version of postgres on my mac.
Make sure you use v9.6.x

[2020-03-16 18:32] #2983 closed

[2020-03-16 18:50] raulgrafico commented on #2744
We have am FAQ mobile design, you can find it here: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=1733%3A7390

[2020-03-16 20:03] kewitz commented on #2982
Solved on https://github.com/opencollective/opencollective-api/pull/3526.

[2020-03-16 20:03] #2982 closed

[2020-03-16 21:33] znarf commented on #2791
Still happening
https://github.com/opencollective/opencollective-frontend/pull/3713/checks?check_run_id=512218884

<img width="913" alt="Capture d’écran 2020-03-16 à 22 31 54" src="https://user-images.githubusercontent.com/806/76801513-20d95e00-67d6-11ea-8648-48aee4fb6c14.png">

[2020-03-17 04:14] wmhilton opened #2988 "Account number wrong?"
On [this page](https://docs.opencollective.com/help/collectives/github-sponsored-organizations) (e.g. https://github.com/opencollective/documentation/blob/v2/collectives/github-sponsored-organizations.md) it gives the account number as `4864122233` but when I entered that into Stripe, Stripe gave an error that that number was blocked because previous payouts did not go through. A quick google show

[2020-03-17 08:48] Betree commented on #2973
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines),

[2020-03-17 08:54] #2971 closed

[2020-03-17 09:00] Betree commented on #2744
@raulgrafico this issue is for the contribution flow, not the expense flow. Should we apply to same pattern of displaying the FAQs below the call to actions?

[2020-03-17 10:04] #2730 closed

[2020-03-17 10:30] Betree opened #2984 "Changelog auto-update"
## User story
https://changelog.opencollective.com is not updated often. As a consequence we can't really rely on it to track our progress, which defeat it's intended purpose.

## Best solution for this problem
We don't want to loose time doing that manually in the future, so we should create a job that does it at least once per day. Github actions has something for that: https://help.github.com/e

[2020-03-17 10:35] Betree commented on #2936
@raulgrafico @Memo-Es @piamancini what's the resolution for this one?

FYI I can't implement the buttons on the expense page yet because `Mark as paid` would miss the fees inputs. I made a suggestion that could be related here: https://github.com/opencollective/opencollective/issues/2702#issuecomment-566946071

Is having the admin buttons (Mark as paid, Pay with PayPal, Approve...etc) a blocker fo

[2020-03-17 10:36] znarf commented on #2730
🏆 This issue was completed by @joshikeno

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2020-03-17 10:43] xdamman opened #2985 "Make open collective free for COVID-19 related initiatives / hosts?"
A lot of citizens are coming together in solidarity with the people directly impacted by this pandemic; people at the front line (nurses, doctors, ...) and people losing their income.
Not everyone has the luxury to be able to work from home and we all need to come together to organize locally and support our communities.

Why not offering Open Collective for free for the next 3 months to all non p

[2020-03-17 10:45] #2934 closed

[2020-03-17 10:46] Betree commented on #2934
:trophy: This issue has been completed by @brymut. Congrats, it was a very good work :tada:

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-03-17 10:46] #2788 closed

[2020-03-17 11:06] znarf opened #2986 "BackYourStack Homepage"
Context: BackYourStack was created at Open Collective (Inc.) by the Open Collective Engineering team. BackYourStack is now handled by a working group led by the OSC (Open Source Collective) and not directly managed by Open Collective Engineering anymore.

The working group recently decided to redesign BackYourStack homepage and we're now looking for one contributor to implement it.

See wireframe:

[2020-03-17 11:12] paulineleon opened #2987 "server software installation instructions"
Hi,
I cannot find the instructions to install the opencollective server software on my own machines. Could you please let me know where they are ? Something similar to the [Discourse Installation HOWTO](https://github.com/discourse/discourse/blob/master/docs/INSTALL.md).

Thanks in advance!

[2020-03-17 11:13] znarf commented on #2988
@piamancini can you check?

[2020-03-17 11:14] sobolevn commented on #2988
I confirm. The same worked for me.

[2020-03-17 11:18] Betree commented on #2987
@paulineleon There's an active effort toward this goal pursued by [opencollective-community](https://github.com/opencollective/community), feel free to get in touch with them if you want to contribute to this effort.

[2020-03-17 11:53] joshikeno commented on #2605
@codemutatio any update?

[2020-03-17 11:57] Betree commented on #2605
If no progress, I think we should close the bounty to rather focus on https://github.com/opencollective/opencollective/issues/2970 (we can later implement it there).

[2020-03-17 12:11] davejon1337 commented on #2981
@Betree
`
  server.use(helmet({ frameguard: false }));
`
Doing this in `/server/index.js` will fix this issue but will disable frameguard throughout the app.
Is this an acceptable solution?
If not, can you point where exactly `Access-Control-Allow-Origin : *` is to be set. I can't seem to figure out where this route is `https://opencollective.com/webpack/donate/button?color=white`

[2020-03-17 13:24] Betree commented on #2981
Hi @davejon1337, thanks for looking into it.

We can't change the CORS headers for the whole app, it needs to be done for this endpoint only. Thankfully this endpoint has a special express route so it should be fairly easy, just adding the header above in https://github.com/opencollective/opencollective-frontend/blob/8930cc562d738170d5cba0d0698a4265e347ca9f/server/routes.js#L115 should do the job

[2020-03-17 13:44] davejon1337 commented on #2981
@Betree
I did try adding the header in `/:collective/:verb/button.js`. It still results in the same error.
I think the problem isn't with that route but with this `/webpack/donate/button?color=white`.

[2020-03-17 13:46] piamancini commented on #2988
Yes, we are working with Stripe to solve this issue. The account number is correct. We will keep you updated. Thank you

[2020-03-17 14:00] joshikeno commented on #2802
@Oghenebrume50 any update?

[2020-03-17 14:15] piamancini opened #2989 "Broken CSS in Welcome Email"
**Describe the bug**
Welcome email is broken both in desktop and in mobile.

**Screenshots**
<img width="1054" alt="Screen Shot 2020-03-17 at 11 12 30 AM" src="https://user-images.githubusercontent.com/3671070/76864798-76e2eb80-6840-11ea-95a1-26333c4b0d08.png">
![Image from iOS (2)](https://user-images.githubusercontent.com/3671070/76864826-819d8080-6840-11ea-9e3a-75b2e220854b.png)

**Desktop (ple

[2020-03-17 15:09] wmhilton commented on #2988
Hmm. So... if `4864122233` is the _wrong_ account number, I guess I won't activate that GitHub Sponsor page yet. It'd be kind of awkward to send money to the wrong bank account.

Is `4866342233` at least still a current account of OC or does that page need to be updated instead?

[2020-03-17 16:24] piamancini opened #2990 "Why do we have to CTAs that do the same in Conversations?"
@raulgrafico Can you look at this as part of your hot fixes?
What's the difference between them?

We have two call to actions to start a conversation. I checked and it looks the same in the collective admin view as in the logged out view

<img width="1297" alt="Screen Shot 2020-03-17 at 1 22 29 PM" src="https://user-images.githubusercontent.com/3671070/76877691-8e2ad480-6852-11ea-84c7-3c737046829c

[2020-03-17 16:29] piamancini commented on #2988
@wmhilton there is an error in github's documentation. The correct account is this one: 4866342233.  Please use that one. We will update the documentation soon.

The funds will never go the wrong bank account, the issue you were seeing was the platform working as expected, blocking the wrong account number.

[2020-03-17 18:56] kewitz opened #2991 "Financial Contributor filter displays $0 contributions"
**Describe the bug**
If you go to Open Source Collective host and filter contributions for Financial Contributor, it will display a few collectives with $0 contributions.

Reported by @gunar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/opensource
2. Click on 'Financial Contributor'
3. Scroll down to Webpack or Preact

**Expected behavior**
Don't display t

[2020-03-17 19:05] paulineleon commented on #2987
It would be great to see that effort succeed, thanks for the link. I'm an optimist and want to believe this will lead to something sustainable. I've not witnessed any similar success in other Free Software project but... The main obstacle in other similar efforts is that a community of volunteers is unable to catch up with the progress of dedicated paid full time employees. Specially when said emp

[2020-03-17 20:10] znarf commented on #2988
Fixed in https://github.com/opencollective/documentation/pull/61

[2020-03-17 21:10] #2989 closed

[2020-03-17 22:27] Memo-Es commented on #2990
This issue is solved with the redesign of the Collective page CTA modules.
For this release, I think it's already being addressed by @sbinlondon

[2020-03-18 01:04] richport opened #2992 "Grt paid"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:how do I get paid

[2020-03-18 07:52] #2992 closed

[2020-03-18 08:22] Oghenebrume50 commented on #2802
Hi @joshikeno so I have connected to database but I have this issue of a table not being found I am still looking for a way to work around it
![opencollec](https://user-images.githubusercontent.com/37092867/76939754-40b57280-68f9-11ea-8484-7f9e7cdcafa7.png)
it seems there was an issue raised before now where something like this happens in the test environment [see link](https://github.com/opencoll

[2020-03-18 08:29] joshikeno commented on #2802
That issue has been fixed.
Please go through the test db [setup guide](https://github.com/opencollective/opencollective-api/blob/master/docs/postgres.md#test).
If possible use docker for a cleaner environment.

[2020-03-18 09:24] Betree commented on #2981
My bad, the header that we need to set is not `Access-Control-Allow-Origin`, it's `X-Frame-Options`.

[2020-03-18 09:34] #2494 closed

[2020-03-18 09:49] Kristinita opened #2993 "question/feature_request(payment_methods): Russian payment methods"
### 1. Summary

Is any chance, that Open Collective in the nearest future will implement a lot more payment methods? For example, these popular (see statistics below) services for Russia:

+ [**QIWI**](https://qiwi.com/)
+ [**WebMoney**](https://www.webmoney.ru/)
+ [**Yandex.Money**](http://yandex.money/)
+ [**VK Pay**](https://vk.com/vkpay)

### 2. Argumentation

This may help the authors of proj

[2020-03-18 10:52] sbinlondon commented on #2970
This sounds like a great idea, simplifying it into one page 😊

[2020-03-18 11:55] #2981 closed

[2020-03-18 11:56] Betree commented on #2981
Should be fixed in the next release, hopefully today

[2020-03-18 13:02] #2991 closed

[2020-03-18 18:23] kewitz commented on #2985
I like it and I think it is only fair to do it, I just don't know the price implement it systematically.
We're currently manually implementing what you suggested by donating back to FOSS Responders all the fees we collected, this should happen weekly [ref](https://opencollective.com/foss-responders/conversations/open-collective-fees-04qjro68).

[2020-03-18 19:03] kewitz opened #2994 "Replace react-apollo with @apollo/client"
## User story
Since react-apollo is being deprecated ([ref](https://github.com/apollographql/react-apollo#react-apollo)), we should make sure we move to @apollo/client ASAP.
I'm not completely sure how this will affect our codebase but it seems pretty straight-forward in some cases.

## MVP
- [ ] Replace all graphQL hooks with @apollo/react-hooks.
    - Search for `import { useQuery } from 'react-

[2020-03-18 19:04] kewitz commented on #2994
@Betree I would like your opinion on this.
@znarf what do you think about this for a bounty?

[2020-03-18 19:09] gusaus commented on #2232
Referencing https://github.com/opencollective/opencollective/issues/1745#issuecomment-474872514 as I 'think' what @hestenet is proposing would be a step towards providing a more granular search and discovery.

[2020-03-18 19:28] gusaus commented on #2970
This sounds like a great first step. Curious if any of the suggestions for improving search and discovery mentioned in https://github.com/opencollective/opencollective/issues/2232 could be implemented next.

[2020-03-18 21:20] xdamman commented on #2985
What about we ask people to reach out to support and we could manually set a flag in the `collective.settings` (such as `collective.settings.platformFees = 0`). If applied to the host, all hosted collective inherit this value.

[2020-03-18 22:40] raulgrafico commented on #2744
@Betree yes, right now that's how we are displaying the FAQ here: https://www.figma.com/file/M4OD1AM4nN8kzEhnO3zILo/OC.com-Web-05-Collectives-%E2%86%92-Contribute?node-id=355%3A3608

Let me know if this works fine.

[2020-03-19 02:45] matchai commented on #2988
The new account number worked for me.
I think this issue is ready to be closed. 👍

[2020-03-19 04:52] davejon1337 commented on #2994
can i take this?

[2020-03-19 08:34] Betree commented on #2985
I'd rather use `data` if we want to implement such solution. `settings` is editable, which means users would be able to remove the fees for their collective by themselves.

[2020-03-19 09:16] sentry-io[bot] opened #2996 "Crash on event's page response with null user"
On https://opencollective.com/sustainoss/events/sustain-2020-5874aeeb, the page is crashing apparently because there's a `null` user among the respondents.

Crash originates in: https://github.com/opencollective/opencollective-frontend/blob/992e06507d7cb83d4424dd15800d4be445f1fe59/components/Response.js#L33

We need to fix the root cause and eventually make the code for this component more solid.

[2020-03-19 09:39] Betree opened #2997 "Implement Sentry on the API"
## User story
As core developers, rich error reports are tremendously helpful to be notified then easily reproduce and fix issues. We've used Sentry for this purpose on the Frontend and it already caught a bunch of problems that would have been difficult to know about or debug otherwise.

API errors reporting is currently not great, we have good logs but no notifications and incomplete data (ie. w

[2020-03-19 09:56] znarf commented on #2996
Someone deleted an account with a PAID order, this is not supposed to happen using the API or Forest Admin. It was likely a manual edit to the database. BAD!

[2020-03-19 10:27] #2944 closed

[2020-03-19 10:28] Betree commented on #2848
Thanks for the feedback, this has been taken into account in the new expense flow.

[2020-03-19 10:28] #2848 closed

[2020-03-19 11:22] xdamman opened #2998 "Updates: clarify the audience target before publishing"
I've just published a new important update for the allforclimate-uk collective.
https://opencollective.com/allforclimate-uk/updates/we-are-expending-our-expense-policy-to-help-you-organise-online

There are only two backers but 52 contributors (people who have submitted expenses and benefited from the collective).

When I published the update, only the 2 backers got a notification.
All contributor

[2020-03-19 11:42] piamancini commented on #2985
I think we should donate the fees back and not tweak it programmatically. Also, there should be some level of review so potentially an application process.
How are discourse and slack doing it @xdamman?

[2020-03-19 12:20] Betree commented on #2994
Seems like the right thing to do.

[2020-03-19 12:30] kewitz commented on #2994
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-03-19 12:33] Betree commented on #2563
A work was started in https://github.com/opencollective/opencollective-frontend/pull/2909 but went state. We still want to work on this issue, but we need to properly prioritize and allocate the time it needs. Contributions are welcome!

[2020-03-19 12:40] Betree commented on #2987
@paulineleon [opencollective-community](https://github.com/opencollective/community) is lead by @xdamman, Open Collective's co-founder and this project is now his main focus.

[2020-03-19 13:10] Betree commented on #2970
@gusaus we should involve design for this, but that could be a good addition indeed.

[2020-03-19 13:48] xdamman commented on #2985
Not sure how they are doing it. It looks like you have to ask them, which is fine.

We can reimburse the fees for now but I’d definitely investigate how easy it would be to remove them programmatically as there is a big psychological difference between seeing that 5% went out to the platform when you made a donation and 0. Also most people won’t notice that the fees have been later reimbursed.

@k

[2020-03-19 15:28] piamancini commented on #2985
This fee is our sustainability, so if we are going to drop it, which I thing is the right thing to do, as we are doing with the FOSS responders, I think it's fair that people are aware we are. We are not sustainable yet, so giving away our revenue is a bog thing. I think people will notice less if there are no fees taken directly.

So what's your proposal? Anyone with the tag Covid-19? I think we

[2020-03-19 15:35] xdamman commented on #2998
Looks like all contributors received it (at least one got back to me, can this be confirmed?) but when publishing it says on the interface that only the 2 backers would receive it.

[2020-03-19 15:48] znarf commented on #2062
This is done. Hosts are Users or Organizations that opted in for the Hosts features
- in database: isHostAccount=TRUE
- in GraphQL this can be queried as isHost()

[2020-03-19 15:48] #2062 closed

[2020-03-19 15:50] znarf commented on #2380
I think this can tracked under https://github.com/opencollective/opencollective/issues/2665

[2020-03-19 15:50] #2380 closed

[2020-03-19 15:51] znarf commented on #2912
The unchecked items are tracked in  https://github.com/opencollective/opencollective/issues/2665

[2020-03-19 15:51] #2912 closed

[2020-03-19 15:54] xdamman commented on #2985
Yes people should be aware that the platform fees are dropped momentarily.
It's just much better for all parties to not charge them in the first place. But we can start that way.

For the review process, I'd just recommend that we whitelist some hosts starting with the one above and also use the tag #covid19. For other hosts, they need to reach out to us and justify their activity. Because everyth

[2020-03-19 15:58] paulineleon commented on #2987
This is excellent news! I'll definitely get involved as soon as I'm done with my current obligations. This is very promising :smile:

[2020-03-19 15:59] znarf commented on #2665
This issue is ambitious and we should try to complete in different steps.

### Step 1

User or Organizations (that are not yet hosts) should see:

[code]

User or Organizations (that are hosts) should see:

[code]

### Step 2

_To be completed_

[2020-03-19 18:37] gusaus commented on #2230
Widgets like these would be a huge asset as we get closer to [enabling Open Collective on drupal.org](https://www.drupal.org/project/funding/issues/3094549#comment-13512124), a   Drupal module, and other open-source platforms. I think the usage of this donation modal https://github.com/opencollective/opencollective/issues/339#issuecomment-296262232 would be wide-ranging.

If the Open Collective te

[2020-03-19 21:55] #2994 closed

[2020-03-19 22:03] kewitz commented on #2994
🏆 This issue was completed by @davejon1337

To claim the bounty, you can either:

Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-03-20 07:43] #2903 closed

[2020-03-20 09:03] Betree commented on #2230
@gusaus I also think that such widgets that would allow you to contribute to a collective without leaving their website would be really useful. In France https://www.helloasso.com provides such widgets and they've been massively used by associations because it's so easy to embed and it really simplifies the contribution process.

I'm not sure why https://github.com/opencollective/opencollective/is

[2020-03-20 13:51] #2972 closed

[2020-03-20 14:00] piamancini commented on #2230
hmmm I'm not sure to be honest. Maybe because we did the standalone tiers?

[2020-03-20 15:30] Betree opened #2999 "Pledges: add Cypress tests"
We have a feature called "Pledges" where people can pledge to make a contribution to a project/group that is not yet on Open Collective. You can try this feature on https://staging.opencollective.com/pledges/new.

We're not giving it a lot of attention at the moment and we don't have a lot of tests to cover it, so it's difficult for us to know if any change we make can break it. We want to improve

[2020-03-20 15:34] Betree commented on #2999
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines),

[2020-03-20 17:49] raulgrafico commented on #2916
Link to the Figma file @Betree :
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1088%3A63

[2020-03-20 17:50] raulgrafico commented on #2485
Link to the Figma file @Betree:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1081%3A12923

[2020-03-20 18:37] gusaus commented on #2230
https://donorbox.org/ is another great example referenced in https://github.com/opencollective/opencollective/issues/339#issuecomment-296298920

There's also a more recent issue for a Tier widget https://github.com/opencollective/opencollective/issues/2169

As mentioned above  https://github.com/opencollective/opencollective/issues/2230#issuecomment-601349327 we're working on what could be a prett

[2020-03-22 10:04] cdvx commented on #2997
I would like to have a go at this

[2020-03-22 21:35] xdamman opened #3000 "Add a slash / when asking for URL of the collective in the create collective flow"
![](https://d.pr/free/i/WRQQmG+)

Should be

![](https://d.pr/free/i/skYNi2+)

Also would be good to auto-suggest based on the name of the collective entered, e.g. in this case: `covid-solidarity`

![](https://d.pr/free/i/8cope8+)

[2020-03-22 21:46] xdamman opened #3001 "Suggest COVID-19 collectives in create collective flow"
![](https://d.pr/free/i/CQN3cx+)

Many climate movements are now focusing on covid-19 relief.

Ideally, we should keep one of those shortcuts for the climate emergency and one for covid-19 but as a first step, it's ok to reuse that spot (and force the covid19 tag on collectives created that way). It would also be a good place to communicate about the platform fees reduced to zero for such collecti

[2020-03-23 05:44] Memo-Es commented on #2896
### First design wireframes → Overarching structure

| Section | Image | Description |
| ------------- | ------------- | ------------- |
| Primary Navigation  | ![Primary navigation](https://user-images.githubusercontent.com/49539954/77284023-54fbc580-6c93-11ea-80c9-e61c9d45d6db.png) | Where you see the main sections that conforms the dashboard: Priority (Home), Expenses, Collectives and Contribut

[2020-03-23 06:34] MHuiG opened #3002 "the contributors.svg does not work"
**Describe the bug**
I do not know why this svg does not work:

https://opencollective.com/minivaline/contributors.svg?width=890

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/minivaline/contributors.svg?width=890
2. See error

**Expected behavior**
to show the svg

**Screenshots**
![image](https://user-images.githubusercontent.com/38281581/77288513-f8d88600

[2020-03-23 07:36] znarf commented on #3002
Fixed!

[2020-03-23 07:36] #3002 closed

[2020-03-23 08:27] Betree commented on #2997
Hi @cdvx, thanks for proposing! Obviously we can't share our Sentry token, but you can create a test app on https://sentry.io/ and add a new `SENTRY_DSN` env variable to make it easy to configure.

[2020-03-23 08:36] Betree commented on #2230
By looking at it again, https://github.com/opencollective/opencollective/issues/339 actually proposed two things: resign the contribution flow **and** create a widget to embed it. I believe it was closed because the first part was done - which was the right thing to do, issues should always be contained and have a clear scope.

I'll create another issue now to extract the idea of an embedded contr

[2020-03-23 08:47] cdvx commented on #2997
Hi @Betree, thanks for the info. I had actually created one, will proceed with it since it is in line with your suggestion.

[2020-03-23 08:54] Betree opened #3003 "Embed contribution flow"
Follow up on an idea proposed in https://github.com/opencollective/opencollective/issues/339
Related: https://github.com/opencollective/opencollective/issues/2230, https://github.com/opencollective/opencollective/issues/2169

## User story

As a collective seeking funding, I'd like to embed the contribution flow on my own website.

In France https://www.helloasso.com provides such widgets and they

[2020-03-23 10:58] xdamman opened #3004 "Open Collective Financial numbers are not up to date"
The spreadsheets on the public [drive.opencollective.com](https://drive.opencollective.com) / [Open Data /](https://drive.google.com/drive/folders/1OwRpuIehFQxRnJIRAksQ1Jd2xXZrhz5L) only show the financial data of the company till the end of 2019.

Can they be updated with numbers from January and February 2020?

There are two files:
- [Open Collective Finances](https://docs.google.com/spreadsheet

[2020-03-23 11:10] Betree commented on #2035
@victorb Our GraphQL V2 API now exposes a `createExpense` mutation that should be safe for you to use. Let me know if you have any feedback!

[2020-03-23 11:11] sbinlondon opened #3005 "Accepting Collective admin invitation does not immediately show up"
**Describe the bug**

Step 1: I have a collective, I go to the ‘edit members’ page, and I invite a user who is not yet on OC. This sends them an invitation email (I’ve used on of my extra emails) saying they’ve been invited to be an admin on OC.

![image](https://user-images.githubusercontent.com/37520401/77310567-72ae4680-6cf6-11ea-8a95-76eea2c2666a.png)

Step 2: I get the email. I click the link

[2020-03-23 12:58] sbinlondon commented on #2990
I only did that fix in the Contributions section. It was actually the Conversations design that I originally copied, hence the multiple CTAs. I definitely think we should reconsider the redundant CTAs in the other sections as well.

[2020-03-23 13:53] kewitz opened #3006 "Document Transferwise Integration"
How to connect?
- Configuring Webhook
- Safeguarding the token with static IP

Security:
Recommend hosts to not have a balance of more than X

Development:
Add development instructions

[2020-03-23 16:20] znarf opened #3007 "Missing "View all conversations link" on collective page"
**Describe the bug**

Difficult to access to all conversations of given collective.

**To Reproduce**

1. Go to https://opencollective.com/portland-corona-virus-mutual-aid-fund/conversations, notice there are more than 3 conversations.
1. Go to https://opencollective.com/portland-corona-virus-mutual-aid-fund, notice there is no "View all conversations link" to access all conversations.

**Expected

[2020-03-23 17:12] jfdh opened #3008 "Manipulation error - Need to remove a donation made manually to the wrong collective"
**Describe the bug**
I manually added funds to the wrong collective. I can't use the refund option because we do not have a "host collective" on Open Collective Brussels

Could you please just remove this transaction? Thank you in advance.

https://opencollective.com/brusselstogether/orders/68498

Thank you for your help.

JF

[2020-03-23 20:03] #3006 closed

[2020-03-24 04:38] Memo-Es opened #3009 "Primary navigation: Update to latest design"
:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Organisms?node-id=4%3A0)

## Primary navigation update

<img width="1606" alt="Screen Shot on 2020-03-23 at 22-36-39" src="https://user-images.githubusercontent.com/49539954/77388824-ce102100-6d56-11ea-9623-88e3853cb941.png">

@Betree

[2020-03-24 07:57] MHuiG commented on #3002
@znarf Thank you!

[2020-03-24 09:43] #2914 closed

[2020-03-24 09:48] Betree commented on #3009
@Memo-Es thank you, this is looking really good!

Shouldn't there be a cog icon on desktop next to the collective name, similar to what we have today and in the mobile design?

![image](https://user-images.githubusercontent.com/1556356/77411601-f3d01100-6dbc-11ea-839e-5e38d008648b.png)

[2020-03-24 12:14] #2985 closed

[2020-03-24 13:50] Memo-Es commented on #3009
Yes! sorry we forgot to display that... It is visible while hovering

<img width="1031" alt="Screen Shot on 2020-03-24 at 07-48-09" src="https://user-images.githubusercontent.com/49539954/77432702-0c7ffd00-6da4-11ea-8de8-eda308ab716d.png">

[2020-03-24 13:57] Betree commented on #3009
@Memo-Es Ok I get it now, displayed by default on touch devices (smartphones) but on hover for desktop. Good for me!

[2020-03-24 14:17] cuiki commented on #3000
Hi guys, so there is one case where we already designed auto-suggested URLs for collectives, so we should take that lead.

It is in the first version of the **Create Collective** flow that was done about a year ago.
→ https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.com-Web-04-Collectives-%E2%86%92-Create?node-id=1019%3A1142

Preview:
![url-auto-suggestion](https://user-images.githubusercont

[2020-03-24 16:15] #3001 closed

[2020-03-24 16:37] sdas13 commented on #2861
can I take up the issue? :)

[2020-03-24 17:26] brymut commented on #2976
Hi @jeffin143, I find that unfair, I have been working on this.

[2020-03-24 17:34] znarf commented on #2976
@brymut @jeffin143 I think there is a misunderstanding, we (Open Collective Core Developers) manage this bounty program and it's of course at our discretion to unassign issues.

@brymut can you please share your work in progress for this issue? we'll unfortunately not be able to keep you assigned without significant progress.

[2020-03-24 17:55] brymut commented on #2976
Sure @znarf , I'll create one right away, it's just that I had been trying to learn how to work with React Hooks, I admint however, that I should've pushed some work either way.

[2020-03-24 17:58] jeffin143 commented on #2861
Yes @sdas13 , you can have a go at it , since we didn't see any progress , and hence assigning you

[2020-03-24 18:04] jeffin143 commented on #2976
Sorry about that , won't repeat it

Sorry @brymut , I was unaware of it , I just assumed you were caught up with something. It was mistake on my part , I should have probably asked you:)

[2020-03-24 18:11] flaki commented on #2896
We are a [brand new host](https://opencollective.com/bayareatechclub) from Estonia so we only have limited hands-on experience with the interface, but we have been evaluating OC for some time so some feedback that might be worth having find its way into the new version.

### Expense details are inconsistent across UI
![Screenshot_2020-03-24 Rust Tallinn - Open Collective](https://user-images.githu

[2020-03-24 18:48] flaki commented on #2975
For an added data point, [our host name](https://opencollective.com/bayareatechclub) is already 22 characters in itself so the proposed solution wouldn't leave us with anything better than the current situation.

I would probably prefer to allow hosts to change this on a per-collective basis for the collectives they host. Our Stripe account is set to "`BAYTECH`", so I would imagine for [Rust Talli

[2020-03-25 08:28] #2932 closed

[2020-03-25 08:41] znarf commented on #2802
This bounty is open to everyone. **Please be aware of the warning**, you need to take care properly of the security aspects of this issue. If you don't understand what that means, please pass. We will not give feedback or help unless you did your own research and prove you have a clear understanding of the security implications.

[2020-03-25 08:43] znarf commented on #2861
Unassigning @Devvyky and hiding some comments to reduce noise.

[2020-03-25 08:44] znarf commented on #2907
Sorry for the delay @vinuch, we're gonna look closely at it.

[2020-03-25 09:30] znarf commented on #3008
Done. Let's do that through support next time, GitHub is not the best place for such request!

[2020-03-25 09:30] #3008 closed

[2020-03-25 09:31] #2996 closed

[2020-03-25 09:50] znarf commented on #2800
@leonardohof I'm absolutely sorry for the confusion, yesterday I forgot to assign @bolariin who already had a PR for this issue: https://github.com/opencollective/opencollective-frontend/pull/3733

If you could review his PR and give your opinion on how it could be made better, I can give you $100 as a compensation for your work. Again, really sorry about that.

[2020-03-25 09:52] #2955 closed

[2020-03-25 11:29] leonardohof commented on #2800
Ok, no problem. I added some suggestions.

[2020-03-25 11:32] leonardohof commented on #2973
Hey @jeffin143! Are you still working on this? Or, Can I take it? @Betree

[2020-03-25 12:11] jeffin143 commented on #2973
Hi @leonardohof , hope you are doing fine :) , can I have a go at this for 1 more day. I will leave the bounty by tomorrow same time and inform you

Thanks

[2020-03-25 18:51] Memo-Es commented on #2896
Hello @flaki !! 👋🏼

Thank you very much for taking the time to test the platform and write such an insightful review, this is super useful and much appreciated!

* Totally agree with the feature discoverability, it is in fact one of the priorities of this project
* Will definitely take into account your suggestion on the navigation of the dashboard, will be sharing further wireframes in this issue

[2020-03-26 02:30] snitin315 opened #3010 "Transactions page: filters overlap mobile menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/user/transactions`
2. Switch to mobile view
3. click on `dropdown icon`
4. See error

**Expected behavior**

The dropdown should not be behind the tabbed navigation.

**Screenshots**

![Screenshot from 2020-03-26 07-58-44](https://user-images.githubusercontent.com/

[2020-03-26 06:03] samcaspus commented on #2999
Hi @Betree I would like to give it a shot can i be assigned to it.

[2020-03-26 06:45] snitin315 commented on #2999
Can I work on this isuue?

[2020-03-26 08:29] yellowwoods12 commented on #2999
Hi @Betree, I have worked with cypress before and updated tests for Open Collective too. I am confident that I can do it. It will be great if you could assign it to me.

[2020-03-26 08:50] Betree commented on #3010
Thanks for documenting this issue @snitin315

[2020-03-26 09:07] Betree opened #3011 "Ability to refund all contributions at once"
## User story

The use case presented itself multiple times recently: an [event](https://opencollective.slack.com/archives/C8MUDBH9N/p1584982742000100) for Open Collective Paris ([Tomorrow for good](https://opencollective.com/collective/events/tomorrow-for-good-2020-2ffb328c)) decided to switch to a free ticket model, and multiple events got cancelled because of the COVID-19.

## Best solution for

[2020-03-26 09:13] Betree commented on #2999
@snitin315 @yellowwoods12 sorry @samcaspus was the first one to request the assignment.

Initial time limit to complete this issue is 1 week (this can later be extended if there is demonstrable progress).

If @samcaspus doesn't complete the bounty in time I'll post a new message to know if you're still interested to work on this.

[2020-03-26 10:27] Betree commented on #2907
@znarf I've given some feedback on the PRs already. The main blocker right now is https://github.com/opencollective/opencollective-api/pull/3431#pullrequestreview-375295952, I haven't tested the code yet but I don't understand how it can work by reading at it.

[2020-03-26 10:31] Betree commented on #2975
@flaki thanks for the additional info. Then what I'd suggest is for us to add a setting inside `collective.settings.shortName` for hosts and collectives to customize the value that will be used on their statements.

[2020-03-26 11:39] Betree commented on #2916
Fantastic, thanks @raulgrafico!

## Design

From [Figma](https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/%5BOC.com%5D-Hot-Fixes?node-id=1088%3A63):

**Button**

![image](https://user-images.githubusercontent.com/1556356/77642591-32510180-6f5e-11ea-994d-120cc90c9135.png)

**Popup**

![image](https://user-images.githubusercontent.com/1556356/77642609-3aa93c80-6f5e-11ea-85a4-84604b0ed984.png)

## I

[2020-03-26 13:39] znarf opened #3012 "Reorganize Host Settings"
This is related to: https://github.com/opencollective/opencollective/issues/2665

We're trying to separate Host Settings from other settings. This is valid when editing any Organization or User.

This work is mostly about moving settings that are already existing.

**User or Organizations (that ARE NOT yet hosts) should now see:**

[code]

**User or Organizations (that ARE hosts) should see:**

[c

[2020-03-26 13:40] znarf commented on #3012
A $500 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $500 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-03-26 13:48] snitin315 commented on #3012
Can I work om this issue?

[2020-03-26 13:54] znarf commented on #3012
@snitin315 Have you already contributed to our code base? As medium complexity, it's normally reserved to Past Contributors (at least 1 completed issue).

[2020-03-26 14:01] jeffin143 commented on #3012
@znarf , Could I be considered as second preference for the bounty to be assigned.

[2020-03-26 14:10] snitin315 commented on #3012
@jeffin143 , you can go ahead with this one , meantime I will solve some issues to get myself familiarized with he codebase.

[2020-03-26 14:51] znarf commented on #3012
Good luck @jeffin143 ! Let's set 1 week from now to see significant progress. Don't hesitate to break it in multiple PRs.

[2020-03-26 14:56] jeffin143 commented on #2973
@leonardohof , You can Go ahead and work on this issues, I have just started the work, You can push to the existing branch.

[2020-03-26 15:02] Fenny opened #3013 "contributors.svg - 404 Not found"
**Describe the bug**
contributors.svg shows 404 _Not found_

**To Reproduce**
1. Go to https://opencollective.com/fiber/contributors.svg?width=890

**Expected behavior**
Something like this https://opencollective.com/typeorm/contributors.svg?width=890

[2020-03-26 15:18] #2927 closed

[2020-03-26 15:40] leonardohof commented on #2973
If you're with working in progress, you can continue...

[2020-03-26 16:53] raulgrafico commented on #2282
@alanna Hi Alanna!

We need your help with this issue; please take a look at this: https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1122%3A16.

I made three ddifferent versions of this modal:
A - Includes link to the settings page so you'll be able to remove your Fiscal host, but then you need to manually go back to the Fiscal host page and then apply again.

B - Displays

[2020-03-26 16:54] znarf commented on #3013
It can take up to 24 hours to appear, should be fixed now.

[2020-03-26 16:54] #3013 closed

[2020-03-26 17:00] raulgrafico commented on #2702
Link to the Figma file:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1104%3A312

[2020-03-27 11:16] Betree opened #3014 "Can't save user and organization settings"
**Describe the bug**
In staging & production, whenever I try to edit my info on `/collective/edit` for an organization or a user profile, I get the following error message:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /super-organization/edit
2. Edit a field
3. Save
4. See error

**Expected behavior**
Should save the info without error message.

**Screenshots**
![image](https://user

[2020-03-27 11:48] #3007 closed

[2020-03-27 12:24] Betree opened #3015 "Open Source apply flow does not work for personal repos"
**Describe the bug**
When you try to apply on `/create/opensource` using the Github flow, the `Continue` buttons stays disabled for personal repos.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /create/opensource
2. Login with Github
3. Pick a personal repo
4. See disabled button

**Expected behavior**
Continue button should be enabled and should take you to the next step.

**Screens

[2020-03-27 13:46] #3014 closed

[2020-03-27 14:16] KorbiZac opened #3016 "notNull Violation: Tier.name cannot be null, Validation error: In undefined's tier, "Amount" is required"
**Describe the bug**
I got this issue when i pressed save but it was saved when i realoded the page
![grafik](https://user-images.githubusercontent.com/62755796/77764853-9f879400-703d-11ea-8b4a-5797acf155fc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profil'
2. Click on 'save'
3. Scroll down to 'bottom'
4. See error

[2020-03-27 14:43] Betree commented on #3016
Hi @KorbiZac, we've fixed it in https://github.com/opencollective/opencollective/issues/3014. The deploy is on its way.

[2020-03-27 15:08] Betree opened #3017 "Incognito contributors emails are missing from CSV export"
**Describe the bug**
When exporting contributor's info from `/collective/edit/export`, the ones that contributed incognito are missing a value in the `email` column.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a financial contribution as incognito to a collective that you own
2. Go to the settings, export, then "Export CSV"
3. See the missing email info for incognito contributors

*

[2020-03-27 15:08] Betree commented on #3017
May be resolved by https://github.com/opencollective/opencollective-api/pull/3562 (need to test)

[2020-03-27 15:16] Betree commented on #3016
Fix deployed, sorry for the issue and thanks for reporting it :pray:

[2020-03-27 15:16] #3016 closed

[2020-03-27 17:00] sbinlondon commented on #3015
Re: context and why they were duplicated. At the time I believe there were some differences in the existing one and the one for the new CCF that led me to duplicate the files instead of changing how the existing ones worked (and possibly breaking the old flow). I don't have the exact logic to hand but I don't think I would have just duplicated them without reason. But if we have the old Create flo

[2020-03-27 17:07] znarf commented on #3015
Yes, we should delete the whole old create collective, but we should also port the E2E tests to the new flow.

[2020-03-27 18:18] sbinlondon commented on #3015
I'll create an issue for that

[2020-03-27 18:18] #3015 closed

[2020-03-27 18:20] sbinlondon opened #3018 "Delete old Create Collective Flow and port E2E tests"

[2020-03-27 18:31] sbinlondon opened #3019 "Put 'canvas-confetti' into a helper library 🎉🎊"

[2020-03-28 07:12] davejon1337 commented on #2973
@jeffin143 can I work on this if it's okay with you?

[2020-03-28 18:10] MlkMahmud commented on #3010
Hi @snitin315,  are you working on this already?

[2020-03-28 21:47] snitin315 commented on #3010
You can work on this ig you want to.

[2020-03-29 15:39] MlkMahmud commented on #3010
Hello @Betree can I work on this?

[2020-03-29 15:43] snitin315 commented on #3010
Yes you can

[2020-03-30 08:18] Betree commented on #2743
Fixed by @bolariin in https://github.com/opencollective/opencollective-invoices/pull/285. Will be deployed soon

[2020-03-30 08:18] #2743 closed

[2020-03-30 08:21] #2800 closed

[2020-03-30 08:34] Betree commented on #2922
The form persister was introduced in https://github.com/opencollective/opencollective-frontend/pull/3733, this issue should now be easier to resolve

[2020-03-30 08:48] Betree commented on #3010
@MlkMahmud you're assigned! Let me know if you need more info.

[2020-03-30 10:23] Betree commented on #2800
:trophy: This issue has been completed by @bolariin

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

@leonardohof can also claim a $100 bounty for the work he did on this.

Tha

[2020-03-30 10:36] Betree opened #3020 "Add a settings page to edit payout methods"
## User story
Now that users can have multiple payout methods associated to their accounts, we need a way to edit them (add/remove).

## Best solution for this problem
A page in **_Settings > Payout Methods_** where payout methods are listed. Users can remove them or add a new one directly from there.

When removed, we should either:
- Set `isSaved` to false if the payout method was used for expen

[2020-03-30 10:37] Betree commented on #3020
@znarf regarding the other changes that are happening in settings, let me know if the setting page proposed here should have another name.

[2020-03-30 10:40] Betree opened #3021 "New expense flow: edit expense"
Users need to be able to edit the expense they submit using the new expense flow. This hasn't been designed in Figma, but we should be able to re-use the same components that we used for the create flow to implement inline edition.

[2020-03-30 10:46] Betree opened #3022 "New expense flow: attach files to invoice"
In the new expense flow, users need to be able to attach files to their expenses when they have the `INVOICE` type. This has been designed in the last step, `Summary`: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=1143%3A38

To simplify the implementation, I would go with re-using `ExpenseAttachment` for that. The only thing that needs to be chan

[2020-03-30 12:11] Betree opened #3023 "New expense flow: mobile expense type picker"
An update has been made to the expense flow type picker for mobile. See  [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=1733%3A0).

This issue should be solvable with CSS only.

# Design

## View with no pick (no changes)

![image](https://user-images.githubusercontent.com/1556356/77910836-161bd000-7290-11ea-94cf-6485d2512bfc.png)

## When

[2020-03-30 13:02] znarf commented on #3020
We're good. For financial contributors and people submitting expenses, we'll say "Payment Methods" (Credit Cards) and  "Payout Methods" (Paypal, Bank Account).

For Hosts, we'll say "Receiving Money" (Stripe, Bank Account, ...) and "Sending Money" (Transferwise, ...)

[2020-03-30 13:08] znarf opened #3024 "Migrate Events E2E tests to new Event page"
A few E2E tests covering events are currently skipped because the legacy page was removed.

We want to migrate these tests to the new page (remove `/legacy`).

See: https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/24-event.createOrder.test.js

If some tests are not applicable anymore, they should be replaced by similar tests to keep good coverage.

Bon

[2020-03-30 13:31] znarf commented on #3004
Maybe for @piamancini ? Or what is the procedure ?

[2020-03-30 14:43] jeffin143 opened #3025 "User or org collective type setting Menus can be accessed for noramal collective two"
**Describe the bug**
A clear and concise description of what the bug is.
There is a check for the following  menu to be only active when it is ORG type :
https://github.com/opencollective/opencollective-frontend/blob/5755ebac671bab4174ebfc2b8cf3565dd8ab1db6/components/edit-collective/MenuEditCollective.js#L141
But if you add gift-card in front of a collective url/edit , it will give render the com

[2020-03-30 14:45] Betree commented on #3020
@znarf that sounds pretty clear to me, thanks

[2020-03-30 14:50] Betree commented on #3025
This is true for all the settings pages. By using the helpers from `components/edit-collective/MenuEditCollective.js` we could show a message instead of the forms in `components/edit-collective/EditCollectiveForm.js` if the collective doesn't have access to this settings page:

[2020-03-30 16:19] #3017 closed

[2020-03-30 16:23] misuzu opened #3026 "opencollective.com is blocked in Ukraine"
**Describe the bug**
`opencollective.com` is using the same IP address as `vipnetgame.com` which is [blocked in Ukraine](https://nkrzi.gov.ua/index.php?r=site/index&pg=99&id=1870&language=uk).

[code]

[2020-03-30 16:26] znarf commented on #3026
This is a Cloudflare IP address, this means many many websites are being blocked because of this rule. Is this really how websites are being blocked in Ukraine?

[2020-03-30 16:33] misuzu commented on #3026
Some ISP's are blocking by IP, unfortunately.

[2020-03-30 16:35] znarf commented on #3026
Would be great to setup some alternatives addresses, like an .onion address.

[2020-03-30 16:36] znarf commented on #3026
@misuzu What's your ISP by the way?

[2020-03-30 16:46] misuzu commented on #3026
Triolan. It's in top 5 by subscribers count.

[2020-03-30 16:59] #3000 closed

[2020-03-30 20:03] jeffin143 opened #3027 "Edit Form Validation broken"
**Describe the bug**
Edit settings  in organisation give validation error when you try to save address or TOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any ORG
2. Click on INFO
3. Scroll down to address or TOS and edit it
4. See error

**Expected behavior**
No error and should save normally

**Screenshots**
<img width="1428" alt="Screenshot 2020-03-31 at 1 30 57 AM" src="https://

[2020-03-30 20:05] znarf commented on #3027
Can you try to update the API? This has been fixed.

[2020-03-30 20:06] jeffin143 commented on #3027
Thanks, will just do it and close it if resolved

[2020-03-30 20:08] jeffin143 commented on #3027
Work smooth :)

[2020-03-30 20:08] #3027 closed

[2020-03-31 07:32] Olegt0rr commented on #2668
Still actual

[2020-03-31 11:48] kewitz opened #3028 "Limit "Pay with TransferWise" on existing plans."
The idea is to let free users play with TransferWise using up to 1K.

[2020-03-31 12:51] kewitz opened #3029 "Consider currency when validating host plan limits"
We're currently applying flat host plan limits without considering the host's currency.
This can be problematic because a thousand units of certain currency could be much less than what we want to enforce.

[2020-03-31 14:41] Betree opened #3030 "Added funds: more permissive expiry date"
The default expiry date for added funds (1 year) often translates into support requests from users who don't get why their payment method disappeared or why their subscription failed.

I think we should increase this default limit to at least 3 years. When we implement #2928 we should also make sure that the limit is pushed back every time we add additional funds.

[2020-04-01 08:13] Betree commented on #2266
Still todo:
- [ ] Properly test all cases, make sure it don't messes with collective's balances
- [ ] Enable in expense create endpoint
- [ ] Enable in expense edit endpoint

[2020-04-01 08:17] Betree opened #3031 "New expense flow: delete expense"
Users need to be able to delete the expense they submit using the new expense flow. The delete button is already in the code, all we need is to add the new mutation and plug it.

[2020-04-01 08:32] #2861 closed

[2020-04-01 08:33] Betree commented on #2861
:trophy: This issue has been completed by @leonardohof

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-04-01 09:09] snitin315 opened #3032 "Expense Test: wrong assertion"
**Describe the bug**

There is a wrong assertion in [`Expenses.test.js#L83](https://github.com/opencollective/opencollective-frontend/blob/59e04ed9dedb72b27a047e0a8e21e547fc27e0d8/components/expenses/__tests__/Expenses.test.js#L83)

~~it should be `length` not `length`~~  it should be `length` not **`lenght`.**

### [Bug found here](https://github.com/opencollective/opencollective-frontend/pull/37

[2020-04-01 09:24] Betree commented on #3032
=> it should be length not lenght.

Good catch. We probably need to do `toEqual(0);` also.

[2020-04-01 13:54] Memo-Es opened #3033 "Design for 'Create Organization on the Fly' instance"
🎨 See latest design on [figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=2375%3A2)

There are a couple of places in the platform, generally inside a flow (e.g., Add funds, start accepting financial contributions) where you are prompted to create an organization 'on the fly.'

See #2713 and https://github.com/opencollective/opencollective-frontend/p

[2020-04-01 18:09] sbinlondon opened #3034 "Unable to edit a Collective's info if no tiers are attached to it"
**Describe the bug**

Collectives created with the new Create Collective Flow are created without any default tiers (unlike the old create flow).

However, if you go and try to edit that Collective's information on the settings page, you run into an error about tiers.

<img width="998" alt="Screenshot 2020-04-01 at 19 04 36" src="https://user-images.githubusercontent.com/37520401/78171138-f03b2a80

[2020-04-01 19:10] znarf commented on #3034
@sbinlondon @kewitz We need to 2) because we need to take care of the Collectives that were created in the meantime. It's curious that no one complained about the issue though. Wasn't that solved in https://github.com/opencollective/opencollective-api/pull/3598 ?

We should also do 1) and replicate the behavior that was there before.

[2020-04-01 19:13] kewitz commented on #3034
@znarf I don't think opencollective/opencollective-api#3598 hast anything to do with this.
This is a new edge-case that was discovered because the new create collective mutation doesn't create default tiers.
I'm adding this new edge-case just to be sure.

[2020-04-01 19:14] znarf commented on #3034
Update: Tiers creation was not changed in the CCF, It's handled here https://github.com/opencollective/opencollective-api/blob/master/server/models/Collective.js#L1657

[2020-04-01 19:23] znarf commented on #3034
@kewitz Might still be related, the regression being the same. https://github.com/opencollective/opencollective-frontend/pull/3630/files#diff-a24a56b7f34652e27e424c18037c2e33R78

[2020-04-01 19:28] kewitz commented on #3034
@znarf found it:
https://github.com/opencollective/opencollective-frontend/pull/3630/files#diff-a24a56b7f34652e27e424c18037c2e33R78-R79

[2020-04-02 04:16] jeffin143 commented on #3034
Happen with create

<img width="1636" alt="Screenshot 2020-04-02 at 9 45 23 AM" src="https://user-images.githubusercontent.com/21286134/78210105-b3604980-74c6-11ea-9cc5-d99ffd589d89.png">
Event flow also

[2020-04-02 04:21] Memo-Es commented on #2896
### Update → Expenses (Wireframes)
In this screencap is showed the following features and user experience regarding expense management for fiscal host admins:

| Main actions  | Filter and search |
| ------------- | ------------- |
| <ul><li>Pay expenses</li><li>Mark an expense as paid / unpaid </li><li>Pay an expense with PayPal </li><li>Mark an expense as paid / unpaid </li><li>Add fees when pay

[2020-04-02 07:39] #3034 closed

[2020-04-02 09:02] kamenevdn opened #3035 "JupyterLab: inactive tabs are not correctly inverted in dark mode."
**Describe the bug**
If several tabs are open in JupyterLab, inactive tabs are not properly inverted with dark dynamic filter.

**Screenshots**
Appearance:
![chrome_IXsMvs0sin](https://user-images.githubusercontent.com/54708166/78230013-72bdfb80-74d9-11ea-96c7-9d64b47a7663.png)
Settings:
![GVMZYMH5b1](https://user-images.githubusercontent.com/54708166/78230196-b0bb1f80-74d9-11ea-8ec3-ae8a164c18a8.

[2020-04-02 09:05] davejon1337 commented on #3035
Wrong repository.

[2020-04-02 09:05] #3035 closed

[2020-04-02 13:05] #3029 closed

[2020-04-02 15:42] piamancini commented on #2896
@Memo-Es I can't see the GIF

[2020-04-02 16:27] #2976 closed

[2020-04-02 16:27] Betree commented on #2976
:trophy: This issue has been completed by @brymut

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-04-03 05:56] iliana opened #3036 "Accessibility: Confetti animates and shouldn't when prefers-reduced-motion set"
**Describe the bug**
Confetti animates after becoming a member of a project regardless of [the prefers-reduced-motion media query](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion), causing site accessibility issues

**To Reproduce**
Steps to reproduce the behavior:
1. Configure your OS or browser to prefer reduced motion (for Firefox on Linux, I do this by setting `u

[2020-04-03 07:40] #3012 closed

[2020-04-03 08:00] Betree commented on #2606
![image](https://user-images.githubusercontent.com/1556356/78337777-d277dd80-7591-11ea-8052-d0105e5272d9.png)

[2020-04-03 08:09] Betree commented on #3036
Hi @iliana, thank you very much for opening this very well-documented issue. I've created a second one based on your description on the [canvas-confetti library repo](https://github.com/catdad/canvas-confetti/issues/114) (the one we're using) to get a chance at fixing this for everyone else using it.

We'll keep this one open until the problem is solved on our end.

[2020-04-03 08:24] Betree opened #3037 "Update design for user menu"
Part of https://github.com/opencollective/opencollective/issues/3009
:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Organisms?node-id=4%3A0)

This issue is about updating the design for the user menu that appears when you click on your profile picture. Some more details:
- The cog settings icon appears on hover on desktop, but is always displayed on

[2020-04-03 08:26] Betree commented on #3009
Extracted the part about updating user menu in https://github.com/opencollective/opencollective/issues/3037 to make the implementation easier

[2020-04-03 08:54] Betree commented on #3022
After looking a bit more at it re-using `ExpenseAttachment` feels a bit hacky. We need to change multiple things around and add strange logic in the frontend to separate attachments with `amount=0` from the others. The only columns we need from `ExpenseAttachment` are `ExpenseId` and `url`, so I don't think we should go that way anymore.

I'm going to instead introduce a new `ExpenseAttachedFiles`

[2020-04-03 09:48] #3021 closed

[2020-04-03 10:03] #3010 closed

[2020-04-03 13:22] #3031 closed

[2020-04-04 00:38] bitcoinbrisbane commented on #2993
Id like to see bitcoin too.  Maybe direct, not via a third party.

[2020-04-04 19:12] bolariin commented on #1411
I think this might have been resolved by https://github.com/opencollective/opencollective-frontend/pull/3307

[2020-04-05 14:09] piamancini commented on #2896
@Memo-Es can you please update when you can with the application views you demoed on Friday? Thanks!

[2020-04-05 15:05] xdamman commented on #2896
Since each expense is a conversation, it's important to also show the number of comments and the avatar of the last few people who participated in the conversation.

A common use case is that the host posts a comment to ask for more info. They need to be able to quickly see if someone has responded without having to open that actual expense.

[2020-04-05 15:10] xdamman commented on #2896
I don't understand the goal of the "global info cards" up there. I don't see why knowing the PayPal/transferwise balance is important information that you need to know outside of any context. I'd only show them whenever you need to select a payout method to pay out an expense (in the exact same way that we show you the different payment methods that you can use when making a donation, each with th

[2020-04-06 04:28] bolariin commented on #2802
I have an idea on how to resolve this. Is it okay if I resolve this issue?

[2020-04-06 05:40] brymut commented on #2802
Sorry @bolariin , I've already started work on this.

[2020-04-06 16:04] Betree opened #3038 "Migrate gift cards generator to invoice service"
See https://github.com/opencollective/opencollective/issues/2959 for routes definition
Part of https://github.com/opencollective/opencollective/issues/2055

Zeit is deprecating V1, where our gift cards generator (GCG) service is deployed.
- As of `1st of May 2020`, we **won't** be able to deploy new versions of the service.
- As of `7th of August 2020`, all deploys will be deleted

Rather than mig

[2020-04-07 07:47] Betree commented on #1411
@bolariin indeed, in any case the proper solution is to hide them - not to prevent their creation (because collectives can loose their hosts). Thanks for the heads up!

[2020-04-07 07:47] #1411 closed

[2020-04-07 10:22] Betree opened #3039 "Rename ExpenseAttachments to ExpenseItems"
With https://github.com/opencollective/opencollective/issues/3022#issuecomment-608317258 we're introducing a new `ExpenseAttachedFiles` table to store additional file that don't have an amount/description/date/... attached to an expense.

To avoid the confusion between `ExpenseAttachedFiles` and `ExpenseAttachments`, I'd like to rename the second to `ExpenseItem`. This includes:
- [ ] Renaming the

[2020-04-07 10:31] Betree commented on #2485
![image](https://user-images.githubusercontent.com/1556356/78659361-b8106d80-78cb-11ea-92f0-eb64b8b81517.png)

[2020-04-07 10:45] Betree commented on #2035
@victorb there may be a breaking refactor before the public release: https://github.com/opencollective/opencollective/issues/3039.

Please let me know if you're actively using this endpoint and need us to soft deprecate.

[2020-04-07 11:50] znarf commented on #3039
Good for me.

1. Will there be breaking changes for frontend if not migrated?
2. Does it impacts old features?
3. Does this mean we have to deploy API and frontend at the same time?

[2020-04-07 12:47] Betree commented on #3039
We can avoid breaking changes for V1 by deprecating the existing graphql fields (`attachments`) rather than removing them because in V1 attachments are just an array of strings.

For V2 however the change in type name will be breaking.

Yes, the old expense flow and host dashboard are already using the `attachments` fields.

Yes, we'll have to

[2020-04-07 14:43] Betree opened #3040 "Rename "Sub-collectives" to "Connected collectives""
The notion introduced in https://github.com/opencollective/opencollective/issues/2633 has created a lot of confusion among users, who have a hard time understanding how that relates to fiscal hosts.

We took the decision to rename them to "Related collectives". We need to update:
- [x] All Members entries that have the `SUBCOLLECTIVE` type
- [x] Places in the code where we use this variable name
-

[2020-04-07 16:07] victorb commented on #2035
Thanks a lot for letting me know! I couldn't quickly find the GraphQL API docs, so never got too far and didn't have time to dig further into it yet.

So go crazy with breaking changes, at least from my pov :+1:

[2020-04-08 03:54] Memo-Es commented on #2896
### Update → Expenses and Collectives (Wireframes)
In this screencap is showed the following features and user experience of expense management, application management and Collectives for fiscal host admins:

| Main updates  |
| ------------- |
| <ul><li>Showing number of comments and last users</li><li>See application list</li><li>Select an application and its details </li><li>Approve application

[2020-04-08 07:54] bitcoinbrisbane commented on #919
BTCPay Server is self hosted, 100% of crypto goes to the project.  Happy to set one up.

[2020-04-08 09:04] Betree commented on #2035
@victorb The GraphQL API described in https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff is normally self-documented, any good client like AltairGraphQL, GraphQL Playground or GraphiQL should show you the docs:

![image](https://user-images.githubusercontent.com/1556356/78765732-afca3800-7988-11ea-999b-5cda440fb19a.png)

[2020-04-08 12:57] Memo-Es commented on #3033
Finished design already on [implementation](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=2375%3A2)

I think @sbinlondon it's going to implement this during the 'Start accepting financial contributions flow' @Betree

[2020-04-08 13:24] akkefa opened #3041 "How to add Github contributors to a collective?"
On other projects, I saw a list of Github contributors listed on the bottom too.

Can we add that to https://opencollective.com/urduhack as well?
We have the organization https://github.com/urduhack.

[2020-04-08 13:26] akkefa commented on #3041
FYI : https://github.com/OpenCollective/OpenCollective/issues/282

[2020-04-08 13:42] Betree commented on #3036
New version has been merged with https://github.com/opencollective/opencollective-frontend/pull/3889, I'll iterate on this issue now together with #3019

[2020-04-08 14:47] kewitz commented on #2958
@Betree bringing this back for discussion.

[2020-04-08 14:48] #2823 closed

[2020-04-08 16:54] kewitz opened #3042 "Internationalize Payout Bank Information Form and Errors"
This is related to the errors and field names we receive from TransferWise.

Current error example:
![image](https://user-images.githubusercontent.com/2119706/78812842-6a1a6900-79a2-11ea-9930-2f2380966271.png)

Error abstraction function example:
https://github.com/opencollective/opencollective-frontend/blob/89e8153bad0edb62089cfcc21a1e8fd69e48b3de/lib/i18n-payment-method-type.js#L15

[2020-04-08 17:04] kewitz commented on #2963
Couldn't replicate.

[2020-04-08 17:04] #2963 closed

[2020-04-09 07:26] #3019 closed

[2020-04-09 07:26] #3036 closed

[2020-04-09 07:28] Betree commented on #3036
The fix will be deployed soon. Thanks @iliana!

[2020-04-09 08:19] Betree opened #3043 "GQLv2: introduce a URL scalar"
We can improve some validations on the GraphQL API V2 by adding a new scalar for URLs.

We can take some inspiration from https://github.com/Urigo/graphql-scalars/blob/master/src/resolvers/URL.ts, using `URL` will ensure that we respect the RFC. The alternative is to use `isURL` from `validator`.

We must apply this new type to the following fields and their corresponding input types:
- ExpenseIte

[2020-04-09 09:03] #3022 closed

[2020-04-09 09:17] Betree commented on #3033
@sbinlondon can you estimate the complexity and add the corresponding label? I think you can re-use most of the things you did for CCF, for example the component to add admins?

![image](https://user-images.githubusercontent.com/1556356/78878792-3fd4b400-7a53-11ea-8dd1-42627814310f.png)

[2020-04-09 09:31] Betree commented on #2958
As mentioned in https://github.com/opencollective/opencollective-api/pull/3613, I think that showing an error message if hosts try to pay expenses in the 24h following their approval is a bad user experience that can create a lot of frustration and wasted time.

If we want to go with such solution, I suggest to rather put this delay between the moment hosts click on "Pay" and the moment the paymen

[2020-04-09 11:06] Betree opened #3044 "New expense flow: allow negative amounts for items"
## User story
As a professional submitting an expense on Open Collective, I can add items with negative amounts to reflect discounts or adjustments on the total amount.

For example this month I wanted to reflect the fact that I got a double transfer last month by subtracting it on my invoice. The app that I use for my accountability, https://shine.fr, let me do that but not Open Collective.

**Sh

[2020-04-09 12:08] Betree opened #3045 "New expense flow: form not expanded after reloading"
**Describe the bug**
When you pick an expense type and reload the page, the type is still selected but the form is not expended.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/engineering/expenses/new/v2
2. Click on Invoice
3. Reload the page
4. Form is not there, you need to make a change to the type to see it appear

**Expected behavior**
Form shou

[2020-04-09 12:57] kewitz commented on #1429
It seems that Stripe is able to collect ACH debit from accounts in the US.
This is also compatible with Stripe Connect, which means we could collect through the platform and credit the host.
The flow is a bit different from credit cards, it is totally async and takes some days to validate.
More info here: https://stripe.com/docs/ach

[2020-04-09 13:25] Memo-Es opened #3046 "Expense redesign layout enhancements"
**Context:**
We are undertaking a series of exercises platform-wide to ensure consistency, better UX practices, and a more complete design knowledge-base to make new and old issues easier to tackle.
One of the most important aspects of this process is to institutionalize the layouts we use across the platform since it is the foundation blocks upon which we design pretty much everything.

While doi

[2020-04-09 13:31] Betree commented on #3046
I personally like these changes, I think they create a better information hierarchy.

The only thing that could cause issues is the tags input that is still using the old design in our codebase, but I think @kewitz was about to start looking at it?

The rest of the redesign should indeed take less than a day.

[2020-04-09 13:33] cuiki commented on #3046
Nice! I'm wrapping up some other design details particularly for the expense summary view and the expense management (approve, reject, etc.) later today.

[2020-04-09 13:39] Betree opened #3047 "Remove timestamp from schema.graphql"
## Problem

In `schema.graphql` and `schemaV2.graphql`, a timestamp is autogenerated at the top as a comment:

[code]

This creates a lot of unnecessary conflicts where the schemas are perfectly mergeable but this line is not, which means more developer time spent on solving these conflicts, rebasing & waiting for CI to pass again.

## Proposal

Either remove the timestamp line, or replace it with

[2020-04-09 13:46] kewitz commented on #3047
I think we can remove, there's always git blame and log if we want to fetch that information.

[2020-04-09 15:51] #3039 closed

[2020-04-09 16:07] Betree opened #3048 "Host dashboard: add attached files to expenses"
The new `expense.attachedFiles` are not yet displayed on the host dashboard. We should display the next to the other attachments.

![image](https://user-images.githubusercontent.com/1556356/78915757-b3df7e00-7a8c-11ea-9098-489ffe307221.png)

[2020-04-09 16:15] Betree commented on #1071
Implemented in https://github.com/opencollective/opencollective-frontend/pull/3893, will be resolved with the new expense flow release

[2020-04-09 16:27] Betree commented on #2106
@xdamman Can the tags introduced in the new expense flow solve this issue if we show them in the report and in the CSV?

[2020-04-09 18:00] sbinlondon commented on #3047
Yes please, this is a headache every time 🙏

[2020-04-09 18:59] contraexemplo commented on #3044
I really like this. How do you do that on Shine? Is it a matter of just adding a minus sign?

[2020-04-09 19:37] znarf commented on #3047
I was looking a bit at `graphql-cli` and `get-schema` is gonna be deprecated in the next version.

I also looked at https://github.com/prisma-labs/get-graphql-schema which is simple but doesn't read information from our `.graphqlconfig`.

[2020-04-09 19:41] Betree commented on #3044
@contraexemplo it is, I made a quick screencast to showcase the flow:
https://drive.google.com/file/d/12spd1Ef2Xu8pKUpkV_J62QaKPvjVfMZB/view?usp=drivesdk

[2020-04-09 20:39] contraexemplo commented on #3044
@Betree Oooh that's really nice! I like that flow.

[2020-04-10 03:03] alinamanko opened #3049 "Support Metrics Report March 2020"
### Support Metrics Report March 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**
![Capture](https://user-images.githubusercontent.com/57156267/78958467-37a47380-7b3c-11ea-928f-59ccaaef20d9.PNG)

The number of tickets received has increased by 64% from 232 in February to 380 in M

[2020-04-10 07:20] brymut commented on #2802
Hi again @bolariin, looks like I won't have time to sort this out to completion over the next week. Unassigning myself, feel free to resolve it.

[2020-04-10 07:35] Betree commented on #3047
@znarf Is the `.graphqlconfig` used by other scripts than the ones to export schema?

[2020-04-10 08:07] znarf commented on #3047
@Betree not at the moment

[2020-04-10 08:33] Betree commented on #3047
https://github.com/prisma-labs/get-graphql-schema looks pretty good to me then.

Just to mention it because it's kind of related, I recently discovered https://github.com/kamilkisiela/graphql-inspector - a CI job to enforce good GraphQL practices (like deprecating fields before removing them). It works by comparing old schema and new schema. There's also an helper to find fields usage in the appli

[2020-04-10 08:44] Betree opened #3050 "New expense flow: PDF preview"
# Problem

When attaching PDF files to an expense with the new flow (ie. https://staging.opencollective.com/engineering/expenses/new/v2), the preview is unavailable and they fallback to their `alt` property.

![image](https://user-images.githubusercontent.com/1556356/78977162-f13d1d80-7b17-11ea-8885-f355b6a99040.png)

# Solution

Either generate a preview or use an icon like this one:

![image](ht

[2020-04-10 08:49] Betree opened #3051 "New expense flow attached files: adding a new file removes the others"
**Describe the bug**
In the summary step of the new expense flow, adding a new file removes the previously added ones.

**To Reproduce**
![Peek 10-04-2020 10-48](https://user-images.githubusercontent.com/1556356/78977697-db7c2800-7b18-11ea-912a-14ac1a7453aa.gif)

**Expected behavior**
Should add the file without removing the others

[2020-04-10 09:54] Betree opened #3052 "Download invoices button text not aligned"
Maybe related to https://github.com/opencollective/opencollective-frontend/pull/3804

![image](https://user-images.githubusercontent.com/1556356/78982242-0323be00-7b22-11ea-868b-dd5f77c82a8f.png)

[2020-04-10 09:55] snitin315 commented on #3052
Can I take this up?

[2020-04-10 10:01] Betree commented on #3052
@snitin315 sure! You can access this page by going to your personal profile > Transactions section.

We need to remove the  `height` on the component (that prop is automatically set by `buttonSize`. If the button is too big we may consider using `buttonSize="tiny"`.

Let me know if you need more info.

[2020-04-10 10:02] snitin315 commented on #3052
@Betree Thanks for the info.

[2020-04-10 11:09] #3028 closed

[2020-04-10 12:07] Betree commented on #3052
@snitin315 I have another fix to send for the same part of the code, if you haven't started working on it let me know. The fix is just to remove the height

[2020-04-10 12:08] snitin315 commented on #3052
You can send the fix. I haven't started yet.

[2020-04-10 12:29] #3052 closed

[2020-04-10 13:00] snitin315 commented on #1585
working on it.

[2020-04-10 14:56] #3051 closed

[2020-04-10 15:14] #3050 closed

[2020-04-10 16:28] Betree opened #3053 "Post comments on updates"
## User story
As a contributor, I can comment on collective updates.

This feature has been discussed many times, but we never created an issue for it.

## Best solution for this problem
- There should be a button in emails like "React to this update"
- Ideally the design for the page should match what we have with conversations and the new expense flow.

## MVP
The MVP for this is to re-use the `

[2020-04-10 16:30] Betree commented on #2317
I think we dropped this idea in favor of private notes.

The main argument was that a conversation thread mixing both private and public comments would create strange conversations for users not allowed to see them and that there was a risk of leaking private data by having someone quoting a private comment in a public one.

@piamancini if you can confirm

[2020-04-10 16:34] piamancini commented on #2317
confirmed.

[2020-04-13 13:15] xdamman commented on #3004
Any update on this?

January, February and March numbers are not there.

[2020-04-14 02:34] Memo-Es commented on #3046
### Update - Expense Summary

| Enhancement  | Thinking |
| ------------- | ------------- |
| <img width="1408" alt="Annotation on 2020-04-13 at 21-31-45" src="https://user-images.githubusercontent.com/49539954/79179935-5d48ab80-7dce-11ea-8b4f-2428597c1fb8.png">  | In the expense summary we made a clear division between what is the info the user has just filled and the payee info, making clear the

[2020-04-14 02:58] Memo-Es opened #3054 "Expense redesign - Pay button set placement"
**Addressing:** #2936

As stated in #3046 we needed to define a basic set of layouts to deal with the new expense redesign in order to ensure consistency and good UX practices, one of the most important issues that make this work necessary was the decision around the pay button set of the old expense pay design, a.k.a. 'The Christmas tree'.

In the expense layout enhancement issue #2936 we establi

[2020-04-14 06:20] jamesgeorge007 commented on #2814
\cc @znarf @Betree

[2020-04-14 08:12] #2317 closed

[2020-04-14 08:14] Betree commented on #2965
Fixed in https://github.com/opencollective/opencollective-taxes/pull/68

[2020-04-14 08:14] #2965 closed

[2020-04-14 08:56] Betree opened #3055 "Treat custom contribution as just another tier"
We get support requests related to editing collective's custom contribution (Donation) (https://github.com/opencollective/opencollective/issues/2973, https://opencollective.slack.com/archives/C6JTTA4SK/p1586850193054000...). Each of these support requests would require a specific development, yet it's unclear to me while custom contribution shouldn't be treated as any another tier (which would nat

[2020-04-14 09:08] Betree commented on #2827
I don't see that as a bug, it's big but the image is not overflowing it's container. Some collectives may actually want to have an image that takes the full width (ie. a team picture, a banner, etc).

We also have an issue for resizing the images uploaded in rich texts like this one (#2044) but here the behavior is the expected one: we use the real size of the image.

What could help would be the

[2020-04-14 10:17] znarf opened #3056 "Handling of props to variables conversion in graphql HOC"
Following up on a comment I made in https://github.com/opencollective/opencollective-frontend/pull/3895#pullrequestreview-390926264, I would like us to settle on a common pattern through the codebase. We have two choices: relying on default behavior or being explicit.

1) Either we always rely on `ownProps` when available and delete all code where we are repeating ourselves.
2) Either we made it e

[2020-04-14 10:25] Betree commented on #3056
I tend to think that it's easier for developers who are unfamiliar with Apollo to understand what's happening if we're using the explicit form.

But I also prefer the first one, because it's simple.

I don't have a strong opinion for one side or the other.

[2020-04-14 12:13] sbinlondon commented on #3056
I'm still confused.

Looking at this file, both ways are used in short succession. What's the difference? Is it that you only use `ownProps` with mutations and the other way with queries?

As @Betree said, it's pretty difficult for newbies to graphql and Apollo to grasp these things. Personally for me as well, I can read all the documentation and theory I want, but without seeing code examples com

[2020-04-14 13:43] znarf commented on #3056
@sbinlondon The file you're linking is not the best example to the problem.

Let's look at the file I was originally commenting on. We're passing `props.slug` as `slug` in variables. With this approach (2), it's explicit. https://github.com/opencollective/opencollective-frontend/blob/master/pages/accept-financial-contributions.js#L51

I'm asking if we should generally remove that, because it's not

[2020-04-14 14:07] kewitz commented on #3056
To be honest, I didn't know about how the `ownProps` behavior until now.
After reading this issue, I'm fairly confident we all know how that works being implicit about variables wouldn't be a problem.
The problem is: should we be implicit and expect everyone to know it or be explicit to people that are not very familiar with the library?
I tend to think we should be explicit, but I don't have a ve

[2020-04-14 14:58] sbinlondon commented on #3056
Right, I understand now - thanks for the in depth explanation! When you were telling me to rewrite this bit https://github.com/opencollective/opencollective-frontend/blob/master/pages/accept-financial-contributions.js#L51 I thought you meant still using `options` and `props` but in a different way, rather than omitting them entirely, hence my confusion 😅

Ok, so now knowing what's going on... pers

[2020-04-14 15:14] kewitz commented on #3046
Yes @Betree, I'll update the tags picker this week!

[2020-04-14 17:05] Betree opened #3057 "Feedback for new expense flow (pre-release)"
This issue is here to gather feedback and impressions around the new expense flow.

Known issues:
- The admin buttons (approve, reject, etc.) have not been implemented yet on the page. We're working on it.

# Changelog

A small highlight of the new features:

### Automatic invoice generation

<details>
<br/>

![image](https://user-images.githubusercontent.com/1556356/79250670-4dd56b00-7e7f-11ea-96

[2020-04-14 19:12] xdamman commented on #3057
When I click on https://opencollective.com/engineering/expenses/new/v2
this is what I see:

![](https://d.pr/free/i/TBJzvM+)

Console:
![](https://d.pr/free/i/y0WulR+)

I'm logged in as xdamman

[2020-04-14 19:15] xdamman commented on #3057
I tried to log off and log in again and I see a different error message but same error in console:
![](https://d.pr/free/i/KZojTW+)

[2020-04-14 19:27] xdamman commented on #3053
Would be great to also have simple reactions so that people can click react with a predefined emoji (👍🎉❤️👋🙌) with just one click from the email notification.

[2020-04-14 19:36] xdamman opened #3058 "Updates of the host should be sent to all admins of the hosted collectives"
As a host I want an easy way to reach out to all the hosted collectives.

Now that organisations can have Updates (#2914), this would be the perfect way to do that. We just need to make sure that new updates are by default sent to all the admins of the hosted collectives (they can of course opt out).

[2020-04-14 19:37] xdamman commented on #3058
Related: #2314

[2020-04-14 19:41] znarf commented on #3057
@xdamman Fixed. It should work better now!

[2020-04-14 20:26] znarf commented on #3056
Thank you for your feedback!

Given that this Apollo feature is not well documented and that we should aim to have code that is easy to understand for newcomers, we should favor the explicit version that is constructing the necessary `variables` in `options`.

[2020-04-14 20:46] xdamman commented on #3057
When I go to an expense page (e.g. https://opencollective.com/allforclimate-uk/expenses/15296/v2), my primary goal as a collective admin is to review it to approve or comment on it, or as a visitor I want to see the title/description/date, amount and tags (and maybe comment on it)

Yet, I'm welcomed with a first screen that doesn't show me much of the information that I actually need. From a pure

[2020-04-15 02:23] Memo-Es commented on #2896
### Update → Collective actions (Wireframes)

In this screencap is showed the following features and user experience of interacting with Collectives through the following actions:

| Add funds | Set custom fees | Contact  | Un-host |
| ------------- | ------------- | ------------- | ------------- |
| ![Add funds](https://user-images.githubusercontent.com/49539954/79290941-fa6d1800-7e92-11ea-8335-d

[2020-04-15 07:57] Betree commented on #2918
Upgrading the bounty to $200 because the task ended up being more complex than expected

[2020-04-15 07:59] #2918 closed

[2020-04-15 07:59] Betree commented on #2918
:trophy: This issue has been completed by @bolariin

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-04-15 11:08] xdamman commented on #3057
Submit expense page:

Here again I'd move up the bar with the balance of the collective to the top, just below the bar with the name of the collective (and don't float it).

I'd also only show "receipt" or "invoice". It's distracting to see "Tags" below before I've answered the first question (typeform style).

The text for Invoice is weird. No one should ever get paid in advance in a collective.

[2020-04-15 11:29] flaki commented on #2325
I want to add our own take/use case here in hopes that this will make its way further up the backlog.

One of our projects is a larger community event that is currently unannounced. There has already gone significant work into preparations, as well as we recently started ground work around branding and infrastructure. Infrastructure has costs (various online services, communication tools, project

[2020-04-15 15:47] raulgrafico commented on #2605
Link to the Figma file: https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1523%3A1

[2020-04-15 15:49] raulgrafico commented on #2572
Hi @Betree , here is the link to the Figma file:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1038%3A454

[2020-04-15 15:50] raulgrafico commented on #2008
@Betree hi Ben, here is the link to the Figma file:
https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.com-Hot-Fixes?node-id=1520%3A218

[2020-04-15 16:41] #2606 closed

[2020-04-15 17:04] flaki commented on #3057
I was going through an expense flow and was about to write up a loooong thing here, but then realized @xdamman very much said all I wanted so I'll just double down on some of his points from my perspective.

FWIW I was doing this on desktop and I didn't have too much qualms with the UI, but I agree with many of his notes on making the mobile version more usable, even if just with small tweaks.

##

[2020-04-15 17:15] flaki commented on #2896
These look great! Looking forward to trying the new dashboard!

RE: **Set custom fees**
This *also* looks great.

One potential request -- how about making the "monthly retainer" rather a "charge host fee"?

I think monthly retainers make sense, but I also imagine some might only want to charge a collective e.g. after every event they do (a flat fee), or only if they reached a certain point or wha

[2020-04-15 18:24] Betree opened #3059 "Add reactions on updates, conversations and expenses"
# User story
As part of the latest designs for conversations and expenses we introduced the ability to add reactions on them, quite similar to the ones you have on Github for issues and pull requests.

![image](https://user-images.githubusercontent.com/1556356/79373113-898f3400-7f56-11ea-83d6-fc0fe2188ebd.png)

## Best solution for this problem
See Conversations design: https://www.figma.com/file/

[2020-04-15 18:25] Betree commented on #3053
@xdamman => https://github.com/opencollective/opencollective/issues/3059

[2020-04-16 05:00] SudharakaP opened #3061 "Documentation: Broken Links Pointing to Core Developers"
**Describe the bug**

The links to Core Developer(s) in the [BOUNTY.md](https://github.com/opencollective/opencollective/blob/master/BOUNTY.md) is broken. All those links points to; https://github.com/orgs/opencollective/teams/core-developers. I think maybe to access those links probably the user should be a member of the opencollective organization. :smile:

I can do a PR if you have a public lin

[2020-04-16 05:48] SudharakaP opened #3062 "TOS Document has Typographical Errors"
**Describe the bug**

The [TOS.md](https://github.com/opencollective/opencollective/blob/master/TOS.md) document has some headers now shown properly (such as the first heading #Terms and Conditions of OpenCollective). Also there seems to be spacing issues here and there.

I am submitting a PR below fixing these issues. I've removed some unnecessary HTML tags and replaced them with pure markdown fo

[2020-04-16 08:29] Betree commented on #2717
Maybe an easy fix would be to force the re-render of this component in `componentDidMount`?

[2020-04-16 08:30] znarf commented on #2717
It's re-rendering here. The wrong time is just quickly flashing.

[2020-04-16 10:22] znarf commented on #3012
🏆 This issue was completed by @jeffin143

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

NOTE: I would still appreciate if you could tackle my last minute feedback from: https://githu

[2020-04-16 10:52] Betree commented on #2008
![image](https://user-images.githubusercontent.com/1556356/79448139-2dbdbd00-7fe1-11ea-8d7e-00547ae816c3.png)

[2020-04-16 11:56] Betree commented on #3057
@xdamman @flaki Thank you for the feedback! We just deployed [an important update](https://github.com/opencollective/opencollective-frontend/pull/3947/) that should address some items mentioned here, including:

- Updated the layouts
- Using hosts as payees is not supported yet, so they don't appear in the "payee" select anymore
- Expense policy is now rendered as markdown
- Updated some of the wo

[2020-04-16 12:53] SudharakaP commented on #2984
@Betree : Hey, I can take this issue if no one is working on it. Can you please assign it to me? :smile:

[2020-04-16 14:21] Betree commented on #2984
Hi @SudharakaP :wave:

This issue may not be the easiest to tackle if you're not part of the core team, but if you're comfortable with Zeit / Github actions your help here would be appreciated!

The repository is this one: https://github.com/opencollective/opencollective-changelog

We are deploying this service with Zeit Now. I suppose that the job could use [deploy hooks](https://zeit.co/docs/v2/

[2020-04-16 14:25] Betree commented on #2984
Actually it seems that we have auto-deploys enabled for this repo, so a job that updates the changelog, builds and push the result should work

[2020-04-16 14:26] SudharakaP commented on #2984
Exactly my thoughts. I have a script which I am testing right now; will create a pull request today. :smile:

[2020-04-16 15:24] #3042 closed

[2020-04-16 15:42] Betree commented on #2745
`react-popper` has been introduced in the codebase in https://github.com/opencollective/opencollective-frontend/pull/3857 and should now be the default to build new tooltips (side note: it's delightful to work with!).

A work has been started to migrate `EditPublicMessagePopup`: https://github.com/opencollective/opencollective-frontend/pull/3859. After that we'll still need to migrate `StyledToolt

[2020-04-16 15:59] Betree commented on #2605
Note that the `Individual` filter won't be there on the final implementation because this search doesn't allow to search for users (and I don't think that should be the case).

![image](https://user-images.githubusercontent.com/1556356/79478620-ebf63c00-800b-11ea-9677-98a745a63047.png)

[2020-04-16 16:49] SudharakaP commented on #2984
@Betree : Done. Let me know if everything looks okay. Since it's my first few contributions I am not sure if I am doing everything according to your guidelines. :smile:

[2020-04-16 17:28] wsdjeg opened #3064 "How to crash out, why the balance is transfed to opencollective"
just find the all the balance is send to osc, how can I get it back?

[2020-04-16 17:46] SudharakaP commented on #3040
@Betree : I can take this issue. Just to clarify a could you explain a bit about what you mean by "Members entries"? :smile:

[2020-04-16 19:58] znarf commented on #3064
I'm not sure to understand what the bug is?

[2020-04-16 20:00] znarf commented on #3041
I'm curious, can you link to the other projects having that?

The issue you shared is 3 years old and as far as I know we're not doing that anymore.

[2020-04-16 21:27] #3043 closed

[2020-04-16 22:02] piamancini commented on #3064
@znarf support will handle this

[2020-04-17 04:36] SudharakaP commented on #3040
@Betree : Done. Let me know if you see any issues or further alterations needs to be done. :smile:

[2020-04-17 06:52] jaskirat2000 opened #3065 "Participation in Google Season of Docs 2020"
Hi Team!
Open Collective was a part of **Google Season of Docs 2019** program where **me (@jaskirat2000)**  and **Alanna (@alanna )** was the organization administrators and successfully completed under it; revamping Open Collective documentation by **@contraexemplo (Google Season of Docs aspirant under Open Collective)**

FYI, **[Google Season of Docs](https://developers.google.com/season-of-docs

[2020-04-17 07:58] Betree commented on #3040
"Members entries" refers to all the entries for the `Members` table in the database. We need to create a migration to update their type.

[2020-04-17 08:43] znarf commented on #2957
I'm almost done, main strategy is:

- Ignore deleted ConnectedAccounts and Collectives
- Delete duplicates that are not Collective or User=isHost or Organization=isHost (there is no point connecting Twitter out of these cases)
- Delete duplicates that don't have Tweets configured or are explicitly turned off
- Deletion of the least used/useful (no transaction, no tweet going out)

Also, we've now

[2020-04-17 08:57] znarf commented on #2957
Remaining is the possibility for someone to connect the same Twitter account (+ token) on their hosting Organization and their Collective. We should be ready to handle that.

[2020-04-17 10:33] Betree commented on #3040
@piamancini I just noticed that we have a lot of occurrences in the code for `relatedCollectives`, we use this term in all places where we suggest similar collectives to support.

I think the other proposal, `ConnectedCollectives`, would prevent any confusion because it's a term that doesn't exist yet in our codebase.

[2020-04-17 14:56] Betree opened #3066 "New expense flow: amount input inconsistent behavior"
**Describe the bug**
The "amount" input that we use in the new expense flow (that is a `StyledInputAmount` with `parseNumbers=true`) has an inconsistent behavior across browsers and OS.

**On Firefox**
1. Go to https://staging.opencollective.com/captainfact_io/expenses/new/v2
2. When adding the amount for a receipt, try to type `42.06`
3. See the inconsistent behavior: you can't type the `06`

**O

[2020-04-18 00:08] contraexemplo commented on #3065
As I mentioned in private conversations, I'd be open to mentor another technical writer. Maybe someone with more expertise in development that could help the Engineering team to revamp their documentation as I'm more focused on maintenance tasks (keeping things up to date on an end-user level)?

[2020-04-18 00:20] Clausinho opened #3067 "reduce the barrier of donating"
## User story
I was wondering if there was a way for Open Collective to allow people
to donate without registering traditionally but alternatively over their payment processor.
Similar to shops allowing to buy stuff without making an account first
by using paypal or amazon pay.

Furthermore it would be interesting, if this could also handle
recurring donations by using the payment providers functi

[2020-04-18 01:05] SudharakaP commented on #3040
@Betree : I've done the migration as well let me know if you see any issues. :smile:

[2020-04-18 05:57] SudharakaP commented on #3045
@Betree : I would like to work on this issue if that's fine. Please feel free to assign it to me. :smile:

[2020-04-18 07:38] huihut opened #3068 "How to link to the correct Github repository?"
**URL:** https://opencollective.com/interview

**Logged in as (username or profile URL):** [huihut](https://opencollective.com/huihut)

**Expected result:**

I want to link <https://opencollective.com/interview> to personal repository <https://github.com/huihut/interview>,

so that I can see the contributors at <https://opencollective.com/interview/contributors.svg>

**Error message if any:**

But

[2020-04-18 09:20] znarf commented on #3068
I checked and everything is pointing to https://github.com/huihut/interview

[2020-04-18 09:20] #3068 closed

[2020-04-18 11:25] huihut commented on #3068
Sorry, it's okay now.

[2020-04-18 13:11] znarf opened #3069 "MemberInvitations should be deleted when Collective is deleted"

[2020-04-18 13:16] znarf opened #3070 "Title of "Pending Invitations" seems off design"
Size, alignment and padding/margin doesn't seem to be right.

<img width="841" alt="Capture d’écran 2020-04-18 à 15 15 15" src="https://user-images.githubusercontent.com/806/79638769-829b3800-8187-11ea-86fe-07af5c8b9bb9.png">

[2020-04-18 13:22] znarf opened #3071 "Error while publishing activity"
[code]

That can be found in API logs.

[2020-04-18 13:24] znarf opened #3072 "Currency mismatches when the host connect or reconnect Stripe"
This happens to Collective.currency and Collective Tier.currency.

This needs to be taken care of.

[2020-04-18 14:02] Betree commented on #3070
I suppose it's because we removed the default `text-align: center` on H1. Setting the prop should fix the issue.

[2020-04-18 14:15] znarf commented on #3070
I think we should also review size and margin/padding.

[2020-04-18 17:16] Betree commented on #3070
The size is standard H1 from the design system, I'm happy to revisit that if it doesn't looks good. How should it look like?

[2020-04-18 18:40] SudharakaP commented on #3045
I wonder if this has to do with [Zeit caching](https://zeit.co/docs/v2/network/caching). If we try to recreate this on local, the radio button is not selected upon page refresh; but on staging it seem to be selected. :thinking: :thinking:

![Peek 2020-04-18 11-38](https://user-images.githubusercontent.com/12435965/79661952-4c4ec000-8169-11ea-84df-0ffb30523aaa.gif)

[2020-04-18 19:46] SudharakaP commented on #3037
@Betree : I would like to give it a try at this one. Feel free to assign it to me if nobody else is working on it. :smile:

[2020-04-19 19:57] quimgil opened #3073 "Cannot submit expense ("This account cannot be used for payouts"?)"
I submit the data for an expense as usual, then click submit button, then the submit button is greyed out and nothing happens. No error message in UI, the data is still visible in the form. Looking at the project activity, the data hasn't been submitted.

URL: https://opencollective.com/confederacio/expenses/new
Logged in as (username or profile URL): icaria36
Error message if any: not in the UI,

[2020-04-19 20:28] znarf commented on #3073
@quimgil We'll look into it as a priority. What is your user account?

[2020-04-20 06:59] Betree commented on #3073
I I'm not mistaken, I think you're trying to submit expenses from a user profile that is also the host of the collective (https://opencollective.com/icaria36). I'll re-enable this now.

[2020-04-20 07:27] Betree commented on #3037
Sure @SudharakaP, let me know if you need anything

[2020-04-20 07:33] quimgil commented on #3073
Yes, I'm a member of a collective and I want to contribute to its expenses. I took the fiscal host responsibility because... there wasn't anyone else. :) We know financially it doesn't make much sense (we are paying some % for transactions that go from my account to my account) but we prefer to have the full transparency of our accounts in one place.

Thank you for your very quick response and tha

[2020-04-20 07:36] Betree commented on #3065
One topic that could be interesting to tackle is the documentation for our public GraphQL API V2. We're investing a lot on it at the moment (*all* new endpoints are created there), yet we don't have a public documentation page for it.

GraphQL is kind of self-documented (when you use a client like GraphiQL) but it still nice to offer a traditional documentation website where you can expand on the

[2020-04-20 07:38] #3073 closed

[2020-04-20 07:39] Betree commented on #3073
@quimgil We're deploying the fix now, I'll let y ou know when it's ready

[2020-04-20 07:53] jaskirat2000 commented on #3065
Last year though @znarf agreed to be a mentor but I think due to time shortage he actually withdrew from it. So it was just me  and @alanna who mentored the project

[2020-04-20 08:42] Betree commented on #3073
@quimgil fix deployed, let us know if you face any other issue.

[2020-04-20 09:02] quimgil commented on #3073
It works: https://opencollective.com/confederacio/expenses/16254

Thank you very much!

[2020-04-20 12:14] znarf commented on #3071
@kewitz can you look into that?

[2020-04-20 12:23] znarf commented on #3070
Seems like the H1 size is almost always customized when we're using it.

On desktop, I would divide padding by 2. And `fontSize={['H5', 'H3']}` or `fontSize={['H4', 'H2']}`.

<img width="943" alt="Capture d’écran 2020-04-20 à 14 21 35" src="https://user-images.githubusercontent.com/806/79751200-7d1e2900-8312-11ea-8730-f5b794025d81.png">

[2020-04-20 12:30] Betree commented on #3070
`fontSize={['H4', 'H2']}` looks good to me.

The padding itself is pretty standard, it's a bit smaller for mobile but we do have `py={[5, 6]}` in a lot of places, especially the action/confirm pages which served as the template for this one.

I think there is a broader issue of having a common layout for all the quick action/confirm pages.

[2020-04-20 12:37] Betree commented on #3070
@raulgrafico our [pending member invitations page](http://opencollective.com/member-invitations) currently looks like this:

![image](https://user-images.githubusercontent.com/1556356/79752121-100b9300-8314-11ea-9740-170808d55204.png)

Could you provide some recommendations & eventually a design regarding the font-size, padding and alignments? We use a similar layout on some confirmation pages, so

[2020-04-20 12:51] Memo-Es commented on #3057
Expense type descriptions:

**Reimbursements:** Get reimbursed for a purchase already made.

**Invoices:** Create an invoice to get paid or to pay a vendor directly.

<img width="1460" alt="Screen Shot on 2020-04-17 at 09-24-18" src="https://user-images.githubusercontent.com/49539954/79753553-be471680-82db-11ea-9a9c-33f91ff7945b.png">

[2020-04-20 13:36] kewitz opened #3074 "Flashing COVID banner"
**Describe the bug**
The COVID banner is still flashing in some cases.

**To Reproduce**
Steps to reproduce the behavior:
1. If you haven't dismissed the banner yet, dismiss it.
1. In the console, run `delete localStorage.dismissedHelpMessages.COVID; delete localStorage.LoggedInUser`
1. Refresh

[2020-04-20 13:39] kewitz opened #3075 "Sequelize validation errors being displayed as just "ValidationError""
**Describe the bug**
Two problems here:
- In the backend, there are some collectives being deleted without freeing up their slug.
- In the frontend, we can't generate meaningful error messages for Sequelize errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new collective
2. Use slug `test-collective`

[2020-04-20 13:44] Betree commented on #3045
I was able to reproduce on both Firefox & Chrome. It happens when you select one of the two options before the logged in user is loaded (in other words, when there's still a spinner on the top right button).

Network throttling is helpful to reproduce this issue:
![image](https://user-images.githubusercontent.com/1556356/79758500-c58f1400-831d-11ea-9a67-07234f0247e8.png)

[2020-04-20 13:55] Memo-Es commented on #3057
This comes also with another copy change for the last part regarding payout options:

**For Reimbursements:** Reimbursements details

**Invoices:** Create an invoice to get paid or to pay a vendor directly.

[2020-04-20 14:04] kewitz commented on #3071
@znarf, sure, added to the list.

[2020-04-20 14:58] contraexemplo commented on #3065
@jaskirat2000 Could you expand a bit on how was the process to apply as an organization last year? I know Google provides an extensive documentation on this but I'd like to get a more practical perspective from your experience.

[2020-04-20 15:27] blackforestboi opened #3076 "Make Update information more clearly expandable"
**Describe the bug**
The box describing an update in the collective profile does not make clear that there is more information beyond the first line.
To see "more", only the title is clickable which is not really apparent, and it also took me a bit, knowing that there is more information. Not knowing that I probably wouldn't even think about that those boxes can be opened.

**To Reproduce**
Steps

[2020-04-20 15:35] jaskirat2000 commented on #3065
@contraexemplo the process commences with two organization administrators who gonna be the liaison and take care of the things within the organization, They both set up the **organization GSoD Ideas page** and write down all the terms for the project and working with the org.
Org Admins are required to [fill out this form](https://bit.ly/gsod-org-app) which is probably of 5 pages and is required t

[2020-04-20 15:37] kewitz commented on #3071
Update: the problem is related to having active webhook notifications in our DB with `webhookUrl = null`.
I'll continue investigating this.

[2020-04-20 15:43] Betree commented on #3076
@blackforestboi thanks for the detailed issue!

A "Read more" link would indeed be helpful. We _can't_ make the entire box clickable because there's another link in there (the avatar) but we should indeed make the description clickable too.

Related: #2547

[2020-04-20 18:24] contraexemplo commented on #3065
I see. Since I work closely with Outreachy, I believe administrating a community (or organization in this case) takes quite a bit of time. Which periods are most active for organization admins, and how much time did it take to fulfill admin duties from start to finish on a monthly basis?

[2020-04-20 18:47] SudharakaP commented on #3045
@Betree : Thanks; managed to recreate the issue using the network throttle. I think this can be solved in different ways. My thinking is before the user loads not showing the expense form (put the placeholder until the user loads); as probably we don't want to show the expense form anyways if the user didn't load. I've done a pull request with this minor change. Let me know if you have a better id

[2020-04-20 21:12] jeffin143 commented on #3012
I will definitely handle this :)

[2020-04-20 22:30] Gahmous opened #3077 "Repair this!"
Hi, can you repair this? in  https://stellarium-web.org/
See this:
![image](https://user-images.githubusercontent.com/62570888/79805670-e92a7c80-8366-11ea-8a2e-9f8d714e152a.png)

[2020-04-21 03:55] Memo-Es commented on #3054
**Addressing the different cases stated in #2936 **

| Pending  | Approved | Rejected |
| ------------- | ------------- | ------------- |
| ![Pending](https://user-images.githubusercontent.com/49539954/79823386-49b2bd00-8359-11ea-9b07-0dad7706fac5.png) | ![Approved](https://user-images.githubusercontent.com/49539954/79823380-47506300-8359-11ea-8f9e-c2f08d1a2c70.png) | ![Rejected](https://user-imag

[2020-04-21 04:27] jaskirat2000 commented on #3065
You can check here for duties and responsibilities of admins
https://developers.google.com/season-of-docs/docs/admin-guide

On Mon, 20 Apr 2020, 11:54 pm Anna e só, <notifications@github.com> wrote:

[2020-04-21 04:56] Clausinho commented on #3077
how does this fit this project in any way?
you should point your issue to this project: https://github.com/Stellarium/stellarium-web-engine/issues

[2020-04-21 06:54] Betree commented on #3077
Wrong repo indeed, closing

[2020-04-21 06:54] #3077 closed

[2020-04-21 07:24] #2929 closed

[2020-04-21 07:50] Betree commented on #2999
:trophy: This issue has been completed by @samcaspus

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

@samcaspus We also added you to https://github.com/orgs/opencollectiv

[2020-04-21 07:50] #2999 closed

[2020-04-21 07:52] Betree commented on #3045
@SudharakaP makes sense, that's a good & simple way to fix this!

[2020-04-21 08:13] #3045 closed

[2020-04-21 08:15] Betree commented on #3045
@SudharakaP Thank you for solving this one!

We added you to https://github.com/orgs/opencollective/teams/contributors/members. **Congrats!** :tada: You can now push directly to most Open Collective repos (only the `master` branches are protected).

[2020-04-21 09:02] #3074 closed

[2020-04-21 09:17] flaki commented on #3057
Does this mean "Invoice" will also allow us attach the PDF version of an invoice (issued by the vendor who needs to get paid directly?).

The currently deployed `/v2` does not allow for attachments in the *Invoice* case.

[2020-04-21 09:41] Betree commented on #3057
@flaki It does, but on the summary step - which we acknowledged is not clear at all. Design is currently working on moving this field onto the main form, so this will ultimately be supported.

![image](https://user-images.githubusercontent.com/1556356/79850982-fc6c3500-83c4-11ea-943d-effcffd1793d.png)

[2020-04-21 10:41] #2922 closed

[2020-04-21 10:44] Betree commented on #2922
Thank you @bolariin!

[2020-04-21 10:47] Betree commented on #3054
@Memo-Es perfect! Is there a production-ready file for the behavior of the `Pay` button?

[2020-04-21 11:20] #3071 closed

[2020-04-21 11:52] #3075 closed

[2020-04-21 13:58] nemchik commented on #2593
Sorry I did not see your reply sooner. I can confirm that this is working as expected now! Thanks!

[2020-04-21 13:58] #2593 closed

[2020-04-21 14:56] Betree commented on #3065
I've discussed with the team today about this issue. Despite the fact that we loved participating in GSOD last year, no one in the team currently has the bandwidth to lead this project for this year.

@jaskirat2000 thank you for taking the time to share all this info with us and for proposing your help. We'll be happy to revisit this topic next year!

[2020-04-21 14:56] #3065 closed

[2020-04-21 15:18] jaskirat2000 commented on #3065
Its sad to hear, but still looking forward to next year turn.

[2020-04-21 15:32] kewitz opened #3078 "Followup on StyledInputTags accessibility"
The new popup StyledInputTags is lacking some accessibility features, like being able to add/remove tags using only the keyboard.

Make sure that the user can:
- [ ] Easily add tags with keyboard
- [ ] Use suggestions with keyboard
- [ ] Remove existing tags with keyboard

[2020-04-21 16:35] SudharakaP commented on #3045
@Betree : You are welcome; and thanks for adding me. :smile:

[2020-04-21 16:46] #2984 closed

[2020-04-21 17:37] Memo-Es commented on #3054
**Update**

We are using 3 different Pay buttons depending on the payout method of the expense

<img width="213" alt="Screen Shot on 2020-04-21 at 12-29-53" src="https://user-images.githubusercontent.com/49539954/79895598-c29f2c80-83cc-11ea-91e5-bd6d452db0cd.png">

[2020-04-22 07:35] Betree opened #3080 "Changelog entries are not sorted properly"
**Describe the bug**
On https://changelog.opencollective.com, the first event is not where it should be. The order is:
- September 10th - 10th **2019**
- April 20th - 21st 2020

**Expected behavior**
All entries should be always be sorted by date descending. Maybe the year is currently ignored in the comparison?

**Screenshots**
![image](https://user-images.githubusercontent.com/1556356/79953597-6

[2020-04-22 07:43] SudharakaP commented on #3080
@Betree : Just saw this a few moments ago. I think I know the root cause of this; have to think of a solution. :thinking:

The problem here is that in our change log creation logic we take all the issues [updated since the specified date](https://github.com/opencollective/opencollective-changelog/blob/b67056f392634fd0d6e7ea28bf56174c57706013/scripts/index.js#L21). The problem with that is the issu

[2020-04-22 07:51] #2907 closed

[2020-04-22 07:52] Betree commented on #2907
:trophy: This issue has been completed by @vinuch

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-04-22 08:14] SudharakaP commented on #3080
@Betree : Done. Let me know if you see any further issues. :smile:

[2020-04-22 08:29] snitin315 commented on #1585
Looking into it.

[2020-04-22 09:08] Betree opened #3081 "Expenses: Customize number of approvals required to be approved"
## User story
As collective admins, we can setup a minimum number of approvals for an expense to be approved in the same fashion that you can configure a minimum number of pull requests approvals on [Github](https://user-images.githubusercontent.com/1556356/79962451-584bc200-8488-11ea-812a-7f0ae5231423.png). This would serve two purposes:
1. Prevent expenses approved by mistake. An increasing numb

[2020-04-22 10:15] znarf commented on #3081
I would ideally extend that to "Host approval", something that is not existing today, but would be a great addition. The idea being that for 90% of the cases, Hosts would just approve expenses and payments will be automated in the background.

[2020-04-22 10:39] Betree opened #3082 "New expense flow: Add Cypress test for edit"
In the new expense flow, "Edit" path is not covered yet by Cypress tests. We should check:
- That changing base info (title, items descriptions, amounts...etc) work
- That edit actions are reflected in the activity feed
- That editing amounts for an approved expense takes it back to pending

[2020-04-22 15:15] xdamman commented on #3057
The fact that you had to explain where it is shows that this is a UX issue, a lot of people will have the same question.

Indeed, when someone wants to submit an expense to a collective, they expect to be able to submit a receipt or an invoice. With this new flow, being able to upload the pdf of an invoice is effectively hidden behind an extra step.

The case of creating your own invoice is an edg

[2020-04-23 09:33] #2802 closed

[2020-04-23 09:34] Betree commented on #2802
:trophy: This issue has been completed by @bolariin

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-04-23 11:59] #3072 closed

[2020-04-23 12:56] znarf opened #3083 "Polish accept-financial-contributions, Host section"
1) Review the yearly budget formatting (no decimal and separator between 1000)

<img width="935" alt="Capture d’écran 2020-04-23 à 14 54 19" src="https://user-images.githubusercontent.com/806/80102057-8e657080-8572-11ea-883e-4e4bbada2d35.png">

2) Review the layout when only one host is rendered

<img width="766" alt="Capture d’écran 2020-04-23 à 14 54 58" src="https://user-images.githubuserco

[2020-04-23 15:09] Betree opened #3084 "FAQ layout issue on Safari"
**Describe the bug**
On Safari, the FAQ's layout is broken. This seems even more visible on mobile, it may be a responsiveness issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/engineering/expenses/new/v2
2. If necessary, resize your browser
3. See layout issue

**Expected behavior**
Behavior should match what we have in other browsers. See https://www.f

[2020-04-23 15:34] sbinlondon commented on #3083
I thought `longDescription` was better and fills up more space, therefore making it look better, but I think @piamancini or @Betree had some issues with it if I recall?

[2020-04-23 16:02] Betree commented on #1815
Closing as the specs are out-of-date. Will revisit with something simpler.

[2020-04-23 16:02] #1815 closed

[2020-04-23 16:29] bolariin commented on #2547
How should summaries be generated for the updates? Should it be similar to what was done in https://github.com/opencollective/opencollective-api/blob/88ff9e6ac3badcf3e9a07dbef4fe2531febcdbc0/server/graphql/v1/types.js#L848-L851

[2020-04-23 16:30] Betree commented on #3083
I don't remember, technically it's ok to use `longDescription` if there enough place for it.

[2020-04-23 16:35] Betree commented on #2547
We're moving out of markdown for these descriptions.

I'd say we should mimic what was done for conversation, using the `generateSummaryForHTML` helper: https://github.com/opencollective/opencollective-api/blob/1d509a0a3e63ce239f1887166ebf049b110bea4d/server/models/Conversation.js#L45

[2020-04-24 02:32] SudharakaP commented on #3076
@Betree : What would be the idea solution here? How about making the description clickable and add a readme link on the right hand corner?

[2020-04-24 04:53] SudharakaP commented on #3037
Thanks much. I am sure I'll have a bunch of questions. I have done a preliminary PR. I am not sure all the guidelines you guys follow or if I have done exactly as expected. Take a look and if there's anything I need to improve feel free to let me know. :smile:

[2020-04-24 05:08] SudharakaP commented on #3009
Since I am already working on #3037, if that's okay with you guys I'd like to give it a try for this whole issue. :smiley:

If that's okay, apart from #3037 what other parts are left to do? I suppose the counter in-front of `Manage Contributions` and the small primary nav? Am I missing anything. :smile:

[2020-04-24 07:19] Betree commented on #3009
@SudharakaP Thanks for joining this one :muscle: Let's solve #3037 first and make a separate for this one. Apart from this first issue, what's left todo is:
- Change search bar and menu links position
- Adapt responsiveness
- Update search bar styles

[2020-04-24 07:30] Betree commented on #3076
I just realized that making the description clickable is a bit tricky, because the description can contain links and nesting links is not valid HTML. In other words, we could end up with this:

[code]

The `Read more` is less risky, but I'm afraid it may not be visible enough. Let's involve @opencollective/design on this one.

[2020-04-24 07:41] Betree commented on #3048
Resolved by https://github.com/opencollective/opencollective-frontend/pull/4038

[2020-04-24 07:41] #3048 closed

[2020-04-24 13:56] #3066 closed

[2020-04-24 14:28] SudharakaP commented on #3009
@Betree : Wonderful; thanks for the info. Please feel free to assign those issues to me when you make them. :smile:

[2020-04-24 14:50] Betree opened #3085 "Migrate tags to lowercase"
We have a design decision stating that tags on the platform must now enforce lowercase. As of today we enforce uppercase, so some updates are required.

## API

- [ ] Create a migration that transforms all tags for conversations and expenses
- [ ] Update [`sanitizeTags`](https://github.com/opencollective/opencollective-api/blob/446e0c15dd763b55a13af0b6f70c7db77c389596/server/lib/tags.ts#L27)

## F

[2020-04-24 14:53] Betree commented on #2973
Hi @jeffin143, are you currently working on it?

[2020-04-24 15:08] Betree commented on #3059
Updated with specs :rocket:

[2020-04-24 15:17] jeffin143 commented on #2973
I will complete I today, this got of my list
Thanks for the heads up

[2020-04-24 15:52] Betree commented on #3082
Sorry @axiiomatic, already on this one

[2020-04-24 16:36] #3082 closed

[2020-04-24 23:05] bolariin opened #3086 "generateSummaryForHTML missing trailing dots when link tag is truncated"
**Describe the bug**
The `generateSummaryForHTML` helper function is used to generate a summary for conversations on the collective page. When `generateSummaryForHTML` is used on the content, it adds a three trailing dots to the end of the summary indicating if part of the original content was left out of the summary. It looks like there's a bug when the truncated text happens to be a link tag (th

[2020-04-25 08:29] #3064 closed

[2020-04-25 15:01] kewitz commented on #3084
Related to https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers

[2020-04-25 21:35] SudharakaP commented on #3070
Would you guys mind if I do this issue when the design task is completed? :smiley:

[2020-04-27 07:46] Betree commented on #3070
@SudharakaP Let's wait for design's feedback, we don't know yet when they'll have the bandwidth to work on this.

[2020-04-27 08:46] Betree commented on #2572
Todo:

- Update `Ad goal` size and use `secondary` style

![image](https://user-images.githubusercontent.com/1556356/80352310-fc13e400-8873-11ea-93bd-d845bd120884.png)

- Update the pattern for `Remove`

![image](https://user-images.githubusercontent.com/1556356/80352360-10f07780-8874-11ea-97bc-e1c4e39c25d2.png)

- Update the form input styles

![image](https://user-images.githubusercontent.com/15

[2020-04-27 12:21] #3084 closed

[2020-04-27 12:55] #2964 closed

[2020-04-27 12:55] #2910 closed

[2020-04-27 12:57] znarf commented on #2846
This is now possible.

[2020-04-27 12:57] #2846 closed

[2020-04-27 12:57] #2948 closed

[2020-04-27 13:19] SudharakaP commented on #3070
Sure thing. :smile:

[2020-04-27 13:25] SudharakaP commented on #2572
I'll do this issue if no one is already working on this. :smile:

[2020-04-27 13:27] #3069 closed

[2020-04-27 14:07] Betree commented on #3086
Good catch @bolariin, thanks for the detailed issue

[2020-04-27 14:13] Betree opened #3088 "Expense tags suggestion"
## User story
When creating or editing expense tags, the picker should suggest pre-defined tags based on what the collective is already using.

![image](https://user-images.githubusercontent.com/1556356/80381574-6727df80-88a1-11ea-8aa0-22e054ea2cf8.png)

## Best solution for this problem

### API

- [x] Mimic the way this was implemented for conversations to provide a new `expensesTags` field: htt

[2020-04-27 14:20] Betree opened #3089 "Pay expense estimated fees breakdown"
Follow up on https://github.com/opencollective/opencollective-frontend/pull/4029

On the new `Pay` expense modal, we want to display a breakdown of the fees based on the payout method.

# Specs

## API

- [ ] Add endpoints to fetch the estimated fees for PayPal and Transferwise

## Frontend

- [ ] When to modal appears, fetch the estimated fees (show a proper loading state for the amount without b

[2020-04-27 15:46] vinuch commented on #2907
Thanks @betree invoice submitted.

[2020-04-27 18:42] raulgrafico opened #3090 "Discovery and search combined experience"
# User story
As a user, I can search collectives using the search bar and I can explore the different collectives on the platform using the discovery section, right now the experience feels divided, and we need to improve the process to find new collectives to contribute. Also, we need to improve the search process to create a transparent way to discover and search.

# Best solution to this proble

[2020-04-27 20:29] #3062 closed

[2020-04-28 02:47] SudharakaP commented on #3088
If someone isn't already working on it I'll give it a try at this one. :smile:

[2020-04-28 07:38] #3080 closed

[2020-04-28 10:55] Betree commented on #3040
Got the feedback from @piamancini, she's ok to use "ConnectedCollectives"

[2020-04-28 11:48] sbinlondon commented on #2945
Ideas to do:

* refactor to use `FormattedMessage` where possible
* are there GraphQL V1 queries or mutations that can be replaced with v2?
* test the flow as a whole

[2020-04-28 13:30] #3054 closed

[2020-04-28 14:07] znarf opened #3091 "Duplicate Entries in Members table"
[code]

  - [ ] We need to find the root cause
  - [ ] We need to delete the duplicate entries

[2020-04-28 14:25] znarf commented on #3091
@Betree Closing as duplicate!

[2020-04-28 14:25] #3091 closed

[2020-04-28 15:10] kewitz opened #3092 "TransferWise: enforce limits while creating the expense"
TransferWise enforces some limits depending on the currency involved in the transaction. These limits are related to the maximum and minimum amount for the transaction.

Right now we're not enforcing it, but we should enforce it by disabling/enabling the payout method and explaining why.

In the backend, we'll need to update the available currencies method to also return the limits. It should be e

[2020-04-28 15:59] kewitz opened #3093 "Structured Bank Account Information"
For context, the status quo of receiving manual payments is storing a string template instruction that allows the automated replacement of `amount`, `orderId`, and `collective.slug`.

Now that we’re going to store structured bank information, there are a few details that I need to solve and perhaps you have an opinion about it:

**Where to store?**
This should be stored as a PayoutMethod holding a

[2020-04-28 17:10] Betree opened #3094 "Show loading state for payout method's data"
On the new expense flow, we need to show a loading placeholder for payout method's data if the user is currently loading or if we're re-fetching the data.

![image](https://user-images.githubusercontent.com/1556356/80516445-c52cf380-8983-11ea-910d-3e21bab6bbbe.png)

[2020-04-28 20:13] SudharakaP commented on #3040
@Betree : I've renamed everything to `connected collective`. Let me know if there's anything further to be done.

[2020-04-28 20:19] mgm1313 opened #3095 "Localization issue in old version of Safari"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any organization page
2. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Schermafbeelding 2020-04-28 om 22 17 03](https://user-images.githubusercontent.com/9018689/80533495-029e7a80-899e-11ea-840f-f6c15e19948b.png)

**Desktop

[2020-04-29 08:20] #2625 closed

[2020-04-29 08:50] Betree commented on #2827
Created a test update on https://staging.opencollective.com/atomex to demo the issue.

Something we can do to improve the situation is to add a `max-height` on summary's images.
Example with `max-height: 250px;`:

**Before**
![Screenshot_2020-04-29 atomex - Open Collective(1)](https://user-images.githubusercontent.com/1556356/80577406-20ec9080-8a07-11ea-8642-969f1142c72e.png)

**After**
![Screensh

[2020-04-29 08:54] #2547 closed

[2020-04-29 09:20] Betree commented on #3095
Thanks for the report @mgm1313, we just got a similar one for French. Translations may be out of sync, I'll check that now.

![image](https://user-images.githubusercontent.com/1556356/80580115-54311e80-8a0b-11ea-9c8d-f3a3a196c6ec.png)

[2020-04-29 09:46] snitin315 commented on #2827
I will work on this one.

[2020-04-29 11:45] znarf opened #3096 "CSV Exports filename should be in ISO date format"
Todays it's looking like `znarf--20200202000200-20200430130485.csv`

It would be clearer if it was `znarf-2020-02-01-2020-04-30.csv` or `znarf-from-2020-02-01-to-2020-04-30.csv`.

[2020-04-29 11:54] znarf opened #3097 "hostFeePercent=0 stored as NULL in the database"
We are not properly saving `hostFeePercent=0`.

It's functional but that can lead to problems now and in the future.

Not sure if the issue is API or Frontend.

Update: in the settings, it's empty instead of zero.

<img width="931" alt="Capture d’écran 2020-04-29 à 14 56 25" src="https://user-images.githubusercontent.com/806/80598476-b436bd80-8a29-11ea-8e55-5dd3c19769d7.png">

- [x] Fix the bug

[2020-04-29 12:11] SleeplessByte commented on #3096
The dates are also incorrect. The to date has inadvertently an extra month added:

2020-01-01 to 2020-01-31 is exported as
2020-01-01 to 2020-02-31 (without any data from February in there).

[2020-04-29 12:57] znarf commented on #3097
Can you have a look @kewitz ?

[2020-04-29 13:11] kewitz commented on #3093
Related to https://github.com/opencollective/opencollective/issues/2896

[2020-04-29 13:26] kewitz commented on #3097
@znarf, sure. How should we migrate this? Is it safe to assume every null as being zero?

[2020-04-29 14:16] kewitz commented on #3092
Related to visual cues on why the Payout Method is disabled, add information to the sidebar FAQ.

[2020-04-29 14:17] Betree opened #3098 "Add validations for image URLs"
Follow up on https://github.com/opencollective/opencollective-api/pull/3797

We want to validate that the images added on Open Collective are uploaded using our own helpers, and not third-party images.

My first implementation missed a bunch of uses cases and was not ready to go live. Here are the items we need to figure out to bring it back:

## Images from trusted providers (Gravatar, Clearbit,

[2020-04-29 14:19] Betree opened #3099 "HeroAvatar: never save images from images service"
**Describe the bug**
In https://github.com/opencollective/opencollective-frontend/blob/00688a2801eedf22d8d45c88199f5a3cf56ec72e/components/collective-page/hero/HeroAvatar.js#L215, the component happens to sometimes save the URL from the image service (`https://images.opencollective.com/...`).

**Expected behavior**
We should never save images from the image service, the URL that goes there **must*

[2020-04-29 14:22] #3040 closed

[2020-04-29 14:22] #3038 closed

[2020-04-29 14:37] SudharakaP commented on #3099
Also maybe on a slightly related note; I see that the function `upload(file)` has been marked deprecated; but the comment `moved to `lib/file-upload.js` seems not correct. I cannot find such file. :thinking:

https://github.com/opencollective/opencollective-frontend/blob/bfc6a07cea4a22fc23b07555bd9e97de3c970100/lib/api.js#L44-L49

[2020-04-29 15:45] Betree commented on #3095
@mgm1313 I've synchronized the translations, can you tell me if it's fixed on your side?

I've been unable to reproduce this issue on Chrome and Firefox, so it may be linked to Safari.

[2020-04-29 15:48] mgm1313 commented on #3095
@Betree Flushed my cache, but it's not yet fixed.
For example the discovery page:
<img width="1552" alt="Schermafbeelding 2020-04-29 om 17 47 19" src="https://user-images.githubusercontent.com/9018689/80616713-85c4dc80-8a41-11ea-9683-d51389fe4c79.png">

I'm unable to reproduce on Firefox and Chrome on my machine as well. So seems to be Safari related indeed.

[2020-04-29 15:54] Betree commented on #3095
@mgm1313 thank you very much, we're going to investigate based on that.

[2020-04-29 16:08] znarf commented on #3095
@mgm1313 I'm not reproducing, what is your Safari version ?

[2020-04-29 16:34] piamancini opened #3100 "Activate as host fails"
**Describe the bug**
When hitting Activate as host in an organization profile, you see a weird GraphQL validation error - `URL is not valid`

In this case is organization (id: 101524). I went in manually and activated the host flag in the data base to unblock user and it worked normally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an organization's setting
2. Click on 'Fiscal Host'

[2020-04-29 16:44] SudharakaP commented on #3099
I just did a pull request removing the `imageUrl` from getting saved. I am wondering it's simple as removing part of the condition right? :thinking: Is there anything else you can think that needs to be done here?

[2020-04-29 17:35] Betree commented on #3100
Seems related to my changes on the collective image, I can look at it tomorrow

[2020-04-29 20:12] znarf commented on #3100
@piamancini At which time did that happen?

Seems Ben pushed a fix https://github.com/opencollective/opencollective-api/pull/3797 for that at 17:22 CEST / 15:22 UTC. That is one hour before you reported this issue.

I don't see anything in the logs after 15:03 UTC, so I consider this being fixed.

[2020-04-29 20:12] #3100 closed

[2020-04-30 01:11] SudharakaP commented on #3096
I can give it a try at this one if no one is already working on this. :smile:

[2020-04-30 01:30] SudharakaP commented on #3088
@Betree : Done. :smile:

[2020-04-30 03:49] raulgrafico commented on #2970
This new flow to discover and search would be a good entry point for users that are already logged in; this new entry point can probably include relevant information for the user, based on their browse habits or updates around expenses, conversations, etc.

Inside this new entry point, we can have the search bar as our main top element.

The new discovery page will recommend collectives, tiers, co

[2020-04-30 03:49] #3090 closed

[2020-04-30 05:18] SudharakaP commented on #3096
Here I've done a pull request to change the filename structure to reflect `sudharaka-from-2020-02-01-to-2020-04-30.csv` format.

@SleeplessByte : Within the generated CSV files [it seems that we generate](https://github.com/opencollective/opencollective-frontend/blob/001113d89adf6006ef4e84d6bd01892a7c89c62a/components/expenses/TransactionsExportPopoverAndButton.js#L19) the date times in YYYY-MM-DD

[2020-04-30 05:52] SudharakaP commented on #3086
I'll give it try at this one if it's not being worked on. :smile:

[2020-04-30 07:28] Betree commented on #1621
This behavior will become the default in next Apollo's release! (see https://github.com/apollographql/apollo-client/pull/3892/files). When merged, we should take care of removing all the `.replace('GraphQL error: ', '')`

[2020-04-30 08:22] Betree opened #3101 "StyledFilters responsiveness issue"
**Describe the bug**
When browsing a page using `StyledFilters` on mobile, the horizontal padding of the buttons is not respected with long strings.

![image](https://user-images.githubusercontent.com/1556356/80688234-c832fb80-8acb-11ea-9c14-845295a2af7e.png)

**To Reproduce**
Steps to reproduce the behavior:
0. Resize your browser or use a mobile
1. Go to https://opencollective.com/paris
2. Set y

[2020-04-30 08:35] Betree commented on #3095
I just ran a more comprehensive test.
- No other browser (IE, Edge, Chrome, Firefox) seems affected by this.
- Safari 13 is not affected
- All previous versions of Safari seem affected (tested 12, 11 and 10.1)

[2020-04-30 12:59] kewitz opened #3102 "TransferWise: Allow paying expense in different currency"
Since TransferWise allows you to hold different currencies, it might be desirable for a Host to hold funds in a specific currency other than the one set in OpenCollective.
This is also the first step towards allowing us to be flexible with which currency we want to pay each expense.
The trick here is cracking how to do calculate the exchange rates between the platform currency, the TransferWise cu

[2020-04-30 12:59] sbinlondon commented on #3083
Have addressed 1-3 in an upcoming PR, and 4 is what we're discussing on Slack. I've merged the PR to add `longDescription` to the API, now just need to merge @Betree's PR to filter non-hosts and we can see how it looks with some production hosts and decide if it needs any further work.

[2020-04-30 14:27] #2717 closed

[2020-04-30 16:45] #3088 closed

[2020-04-30 16:59] #3085 closed

[2020-04-30 18:50] SudharakaP commented on #3086
Done. This seems to happen because we do the second sanitization pass as the last step, overriding the truncation step and removing the `...`. I've corrected it. :smile:

[2020-04-30 19:05] SudharakaP commented on #3059
If no one is already working on this; I'd like to take this issue. :smile:

[2020-04-30 20:14] znarf commented on #3096
@SleeplessByte can you give us an example of MM/DD/YYYY within the file?

[2020-04-30 21:59] SudharakaP opened #3103 "Minor Spacing Issue with "Make a Pledge" Button"
**Describe the bug**

There's insufficient space separating the line `If you don't see the collective you're looking for:` and the button below; `Make a Pledge`. Suggest adding some padding to make it look nicer.

**To Reproduce**
1. Go to https://opencollective.com
2. Search for any collective using the search box in the top left hand corner.
3. Go all the way down until you see the `Make a Pledg

[2020-05-01 10:09] snitin315 commented on #2827
@Betree can you point me to the corresponding file? I'm still exploring the codebase.

[2020-05-01 10:39] SleeplessByte commented on #3096
Of course. So the _CSV_ seems okay, the receipts are not:

1. https://opencollective.com/<username>/transactions
2. Get receipts
3. ![image](https://user-images.githubusercontent.com/1964376/80799989-9c397800-8ba8-11ea-9b5a-df20b750ff8b.png)

(I'm okay sharing this "personal" information).

[derk-jan_opensource_2020-01-01_2020-02-31 (2).pdf](https://github.com/opencollective/opencollective/files/4

[2020-05-01 13:44] piamancini opened #3104 "Proposal for Roadmap Q2 - May & June"
This is the list of top priorities for Q2 -

Top priorities
------------

Kate:
Recurring contributions management
Host dashboard
Simplifying and air-proofing txns recording (DA LEDGER)

Memo:
Host Dashboard
Implement Metrics
Improve contribution experience (discovery / flow)

Ben:
Contribution Flow: (allow custom donations to OC / Fees on top)
Sign in on CF - friction point
Host dashboard
Enhance

[2020-05-01 13:59] piamancini opened #3105 "[PROJECT] Fees on Top"
## Purpose
(Why have we prioritised this?)
Since the onset of COVID-19 we've waived our fees for all crisis response collectives. This is a great opportunity to try giving the donors the option to pay for a fee - If it works well we can extend the 0 fee for collectives beyond June.

We have [identified a couple of ways ](https://docs.google.com/document/d/1YfudytCCD5xGmtlUBzrS6zfzl8ldRIp_HdQLHheRM

[2020-05-01 15:16] SudharakaP commented on #2827
@snitin315 : I think what you are looking for is;

https://github.com/opencollective/opencollective-frontend/blob/fc552adc5a7bbae15507ade801ed6b7711cfcc12/components/StyledUpdate.js#L293-L297

Hope that helps. :smile:

[2020-05-02 01:14] SudharakaP commented on #3096
@SleeplessByte : Thanks for the information.

I've made two more pull requests in addition to the csv file name change;

1) To change the file name of the generated transactions pdf files; it should now have the format similar to the csv; derk-jan_opensource-from-2020-01-01-to-2020-02-31.pdf

2) To change all dates within the transactions pdf file to have the format YYYY/MM/DD.

I hope this helps.

[2020-05-02 01:40] SleeplessByte commented on #3096
It helps a lot. The `datesTo` is still incorrect for the pdfs. The _format_ is now correct, but the value is not. The generated file: `derk-jan_opensource_2020-01-01_2020-02-31.pdf` **should** have been:
`derk-jan_opensource_2020-01-01_2020-01-31.pdf`

[code]

[2020-05-02 02:35] SudharakaP commented on #3096
@SleeplessByte : The pull requests I've made are not merged yet. You will only see the changes reflected after they are reviewed, merged and new deployment is done. 🙃

[2020-05-02 08:17] mytwocentimes commented on #2522
@alanna - can you list a few of the services of which you are aware that fund open source work in crypto ??  thank you in advance

Otherwise, as regulators (both USofA, but also international) ramp up on regulating wire-transfers (including crypto) solving tax, accounting and banking for bitcoin funded support will be a thing ... my two cents :)

[2020-05-02 13:26] SleeplessByte commented on #3096
I meant: I didn't see the date fixed in the PRs ;)

[2020-05-02 13:28] SudharakaP commented on #3096
@SleeplessByte : Ah, got it; sorry I misunderstood. I'll do some more tests on why the month has a problem and will try to fix it. :thinking:

[2020-05-03 13:29] bolariin commented on #2969
I am having some trouble recreating this locally. I have added the Algolia keys but I still don't get the error message. Is there any other search related thing that I might be missing?

[2020-05-03 22:50] alanna commented on #1916
I still think this is a good idea and worthwhile. @Betree do you have an idea of how complicated of a project it would be? Could it be a bounty?

[2020-05-03 22:54] alanna opened #3106 "Message sent through contact form triggering gmail phishing warning"
This is how an email sent through the contact form on a Collective page appears. Can we do anything to not trigger these warnings?

<img width="535" alt="Screen Shot 2020-05-04 at 10 52 23 AM" src="https://user-images.githubusercontent.com/5498878/80927990-a308fa80-8df5-11ea-8d64-1448245b9f6f.png">

[2020-05-03 22:56] #2549 closed

[2020-05-03 22:57] alanna commented on #2314
Would it be difficult to turn on updates for hosts since we already have that feature built for Collectives? Maybe it could be a bounty? Would be good to hear from the devs about scope for this.

[2020-05-03 23:01] alanna opened #3107 "Include receipt attached to host plan payment notification email"
## User story
As a host admin, I need to easily access the receipt for my monthly payment, so that I can keep accounting records.

## Best solution for this problem
Attach the receipt to the "Host plan subscription renewal" email notification that already goes out.

## MVP
Add a direct link to where to download the receipt from the website.

It's technically possible to access these receipts by vi

[2020-05-04 01:11] alanna commented on #2522
@mytwocentimes Gitcoin is one funder. I've also worked on OSS projects funded by crypto grants from Handshake, Ledger, ConsenSys, DAOstack, Ethereum Foundation and a few others. Those always seem to come from random connections as opposed to formal processes though.

I agree about the market niche for Open Collective type services for the crypto space. It's not our focus right now because there's

[2020-05-04 02:58] fishcharlie opened #3108 "API Question: How to get all pending expenses for collective?"
Is there an example or way to get all pending expenses for a collective? I'm looking through the GraphQL documentation and can't find anything for this. All I can find is `expensePolicy` or `expensesTags`. Can someone provide an example for how to get all pending expenses for a collective?

Just for a bit more context, the goal is gonna be to build a system where every so often (likely every hour)

[2020-05-04 07:11] Betree commented on #1916
It's a complex project, not sure how long it will take without proper specs but for a rough guess I'd say 2-5 days of work. It's too complex and sensitive for a bounty.

I agree that having that would be super nice.

[2020-05-04 07:16] Betree commented on #2314
The engineering work for this is pretty simple and could be a bounty.

What we miss is to properly surface the information of "who will receive this update". In the case of hosts, we need to make it clear that they're sending it to the admins of the Collectives they're hosting (and not to their contributors, as it is today for Collectives).

[2020-05-04 08:29] alanna commented on #2314
For MVP I think we can just address that in docs, then in the future we could add more options for recipients or allowing people to subscribe who aren't Collective admins. We can keep it simple at first.

[2020-05-04 09:12] Betree commented on #2314
We should at least update the wording for `Private update` because it doesn't make much sense to talk about contributors there. The option should be for the update to only be visible to the collective admins.

If we want a simple MVP, we can also hide this option for host updates.

![image](https://user-images.githubusercontent.com/1556356/80951087-72c25b80-8df7-11ea-85e0-ecdaa06b5000.png)

[2020-05-04 09:14] alanna commented on #2815
@piamancini with scaling up the Foundation, I think we're really going to need to turn on the tax form system for that host.

@znarf do you have a sense of how big a project that would be? It's one of those things that seems hard up front, but actually saves so much pain once a year, so if it's possible we should do it.

[2020-05-04 09:15] Betree commented on #3099
@SudharakaP Nope that should do it :slightly_smiling_face:

[2020-05-04 09:31] #3099 closed

[2020-05-04 09:52] Betree commented on #3059
@SudharakaP Sure! This one is more complex and the specs may need to be completed along the way. Feel free to ask for additional assistance if needed.

[2020-05-04 10:12] Betree commented on #2969
@bolariin Algolia is configured on the API side, have you edited the `.env` in `opencollective-api`?

A good test would be to add a `console.log` in https://github.com/opencollective/opencollective-api/blob/9d88ee8b596629e066dd94ea052701d0c7f175f5/server/graphql/v1/queries.js#L1443 to see what `Algolia.isAvailable` returns.

FYI, when Algolia is not configured we default to a custom search functio

[2020-05-04 10:13] sbinlondon commented on #3104
I know only Leo mentioned it in his priorities but I also thought the metrics dashboard was important and while it's not _urgent_, the need for it is never going to go away so we might as well roll up our sleeves and do it. I'm not sure what we have set up at the moment but perhaps this could be a good 2-month project for he and I to work on? We can do a spike, decide what is most important for us

[2020-05-04 10:18] Betree commented on #3108
@fishcharlie thanks for sharing your use case, that's an amazing feature idea!

The `expenses` endpoint is not available yet on our public API, but it's a priority that should be addressed this week or next week. I'll update you on this issue once it's ready.

[2020-05-04 12:09] #3097 closed

[2020-05-04 12:51] #2951 closed

[2020-05-04 12:58] sbinlondon commented on #3105
I think offering a range of fixed amounts would be a cool idea. They did a test of this in NYC with the taxi, which rely on tipping heavily. When faced with a choice people often only rounded up to the nearest $5 or $10 and would drastically under tip, or else not do it at all because it was extra mental work to calculate a 10-20% tip when they were probably in a rush to go somewhere.

So the taxi

[2020-05-04 13:34] Betree commented on #3105
@sbinlondon that's a great example, I strongly agree with your conclusion.

To give some more details on how the french platform HelloAsso is dealing with that:
- They don't take any platform fee **nor** payment processor fee
- A default amount is always pre-filled, so the tip is opt-out
- If you want to remove the custom contribution, you actually have to get through a modal and check `I don't wa

[2020-05-04 15:23] bolariin commented on #2969
@Betree Thanks for helping me with this but it looks like I can't recreate the bug.

I had added the Algolia keys to `default.json` in the `config` directory but I created a `.env` but it had the same result.

Using `console.log`, it looks like Algolia is available. I tried the search with and without the Algolia keys.

[2020-05-04 16:50] vickywane commented on #2973
Hi, @Betree .

Is any one currently working on this?

I would like to give a try at contributing to the OpenCollective since my last PR.

[2020-05-04 22:55] alanna commented on #3057
Wow, overall it looks great! I'm so impressed. This will be a huge upgrade.

@Betree @piamancini I don't think it's quite ready for full rollout yet, though.

Some of the below issues are only "nice to have", but there are a few critical ones. I would prioritise 4, 5, 7, 9, 13, 16, 17, 19, 21 below, before release.

I also think we should prep an email to send to all host admins at the same time a

[2020-05-04 23:00] alanna commented on #3057
I am wondering if we should just remove the whole "who is being paid" option for MVP, and wait until we properly implement "submit on behalf". Because right now with this half-baked implementation it's going to cause more problems then it solves. We can regress to only allowing people to submit expenses under their own profiles so we can move forward with releasing the other upgrades to the flow,

[2020-05-04 23:05] alanna commented on #2282
Sorry for the late reply.

We should go with option C, because changing fiscal hosts is actually a more complex process that we can't handle inside this modal (e.g. if the Collective balance is not at zero we can't allow it, etc). For MVP we should simply allow them to select from their unhosted Collectives or create a new Collective. I think create new is by far the most common scenario, so it sh

[2020-05-04 23:29] bolariin commented on #2998
It looks like the notification emails are sent to contributors as well but it looks message before you publish the update only mentions backers.
https://github.com/opencollective/opencollective-frontend/blob/2f5380cccdca01407546f6c5ad23ca11f4392f6f/components/PublishUpdateBtnWithData.js#L53

What would the preferred message be? Should it include both the number of backers and contributors or just

[2020-05-05 02:35] alanna commented on #2896
@Memo-Es - The mockups look fantastic! What would be useful to give feedback on at this stage? Can I get access to the prototype you make these gifs from to click through myself? I am available to get involved a bit in this project now if I can help.

@flaki I totally agree! That issue is detailed here: #2843 - seeing how it could be incorporated into these designs is helpful. I also agree that on

[2020-05-05 02:37] alanna commented on #2843
A couple more ideas:

* Charge a Collective a one-time fee
* An option to simply pass on whatever fees the host is paying Open Collective to their Collectives automatically

[2020-05-05 04:59] Memo-Es commented on #3105
### Design proposal

![Screen Capture on 2020-05-04 at 23-51-37](https://user-images.githubusercontent.com/49539954/81036039-2d3b7800-8e63-11ea-99b2-02b3a804a56d.gif)

[2020-05-05 06:53] piamancini commented on #3105
@Memo-Es thanks! The text is too long and - I think it needs to be more to the point.

Can you paste all the copy here so I can edit?

[2020-05-05 08:39] piamancini commented on #3057
@alanna Feedback is appreciated! Replies below:

**Blockers**

- Tags not showing on summary
We'll fix

- Update invoice attachment design
We are not going to change the location of the dropzone, we've tested several options and also did user testing. Feedback was the opposite, they expect somewhere to drop an invoice they already have, even if then we ask them to fill up the details.

- Payee inf

[2020-05-05 09:45] Betree opened #3109 "Remove font-size aliases"
Most of our text components support aliases for the `fontSize`, defined in [lib/theme/text-sizes.js](https://github.com/opencollective/opencollective-frontend/blob/4d48f6fada12c3473fb95a046559b9dec68af539/lib/theme/text-sizes.js). For example, you can write the following:

[code]

I personally liked this, but since the introduction of this feature a lot of different text styles were progressively

[2020-05-05 10:13] sbinlondon commented on #3109
I agree with all this, especially point 1 and the bit about stuff being added to Figma. Even recently I had a design for Accept Financial Contributions that said the font was some alias name, with the px size in parentheses, and it did not match what we had in `theme.js` which is confusing at best and frustrating at worst. I agree that if we are able to go, "Figma says line height of x px and font

[2020-05-05 11:45] znarf opened #3110 ""Leave a public message" is out of place"
Some regression while updating dependencies I guess. Many warnings in the browser console.

```Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this, useLayoutEffect should only be used in components that render exclusive

[2020-05-05 11:48] znarf commented on #3110
Duplicate with https://github.com/opencollective/opencollective/issues/2736 it seems?

[2020-05-05 11:48] #3110 closed

[2020-05-05 12:15] gbrian commented on #3067
Hi,
👏 for the project.

Sadly I aborted becoming a backer for GrapesJS project at last step because only Credit Card is aollowed.
Please add Paypal, consider charging a fee if this helps starting with but worth paying a fee that registering a credit card.

[2020-05-05 13:04] whoabuddy opened #3111 "Broken links on documentation for manual reporting"
**Describe the bug**

The two links on the [Manual Reporting](https://docs.opencollective.com/help/contributing/development/manual-reporting) page are broken. The current links from [manual-reporting.md](https://github.com/opencollective/documentation/blob/v2/contributing/development/manual-reporting.md):

- https://github.com/OpenCollective/opencollective-api/blob/master/templates/emails/group.mo

[2020-05-05 15:08] Betree opened #3112 "Add a new "ACCOUNTANT" member type"
## User story
As an organization supporting collectives **or** a fiscal host, I need my accountant to be able to access the financial information such as receipts and reports. Adding them as `ADMIN` is not a nice option because it gives them too much privileges and because I don't want them to be displayed as `Collective admin` on my collective page.

For concrete examples, see:
- https://opencoll

[2020-05-05 15:57] Betree opened #3113 "Core contributors should not be allowed to create events"
We currently have two types of core contributors:
- `ADMIN`: Have full access to the collective capacities
- `MEMBER`: **Core contributor**, mostly to display someone as part of the core team without providing admin permission on the collective - but can still create events.

I find it hard to justify why core contributors can create events while we prevent them from creating updates, from editing

[2020-05-05 16:18] Piedone commented on #3112
What would cover our needs completely is just send out the bills in e-mail. E.g. Cloudflare has a setting to send out all e-mails to a billing e-mail address. Not further users needed, just the PDF invoices go out as e-mail attachment. What accountants mostly need is this, no further reports or details