[2019-05-09 17:09] Betree commented on #1043
The progress for this issue is now being tracked by https://github.com/opencollective/opencollective/issues/1839. We're now working on it.

[2019-05-09 17:16] Betree commented on #2012
@wet9 I'm sorry that you faced this bug. I'm not sure how this happened, but we need more details to reproduce and fix the issue.

In the mean time, the following URL will work if you need to place an order for this event: https://opencollective.com/ethereum-revolutions1/events/bigcrypto001-42070ev/order/9156

[2019-05-09 17:16] #2012 closed

[2019-05-09 18:49] Betree commented on #2007
Hey @ykzts! Some feedback about Japanese would be really helpful here :slightly_smiling_face:

If we have two translations like:

1. Id: `collective.thisType`
Default: `{type, select, COLLECTIVE {this collective} ORGANIZATION {this organization}}`
Example of expected result: `this organization`

2. Id: `collective.delete.label`
Default: `Delete {collective.thisType} now. It will be lost forever.`

[2019-05-09 22:03] eloyekunle commented on #328
@Betree I've invited `benjamin@opencollective.com` to the Zapier team for the app I'm working on.

[2019-05-09 22:17] alannallama commented on #1370
A user has pointed out that the contact link at the bottom is broken as well.

@Betree or @znarf can you please make the small changes described in this thread? I want to start using this page publicly but these fixes need to go in first.

[2019-05-09 23:10] alannallama commented on #1326
It's fine to get them straight into submitting the expense and only later create their account once they give us their email, but how will we handle tax forms and if they need to edit the expense, both of which come up all the time?

[2019-05-09 23:14] ykzts commented on #2007
They can also be used correctly in Japanese. I will be happy if it is changed like that.

[2019-05-09 23:16] alannallama commented on #1969
I disagree @xdamman - if we do that, we'll re-introduce the current problems of contributors showing up in a different place than they expected, not recognising large individual contributors, etc etc. I think we should have a polished "top financial contributors" section showcasing sponsors (organizations or individuals) that gave the most, and then a celebratory "happy cloud" of faces and logos o

[2019-05-10 01:30] alanna opened #2017 "Reimplement Collective to Collective contributions across fiscal hosts"
## User story
As a Core Contributor, I want to use the balance of my Collective as the payment method for contributions to other Collectives, regardless of fiscal host. See #1196 and #2003

This is a very common request from users, and current workarounds are a tedious manual process for everyone involved.

## Best solution for this problem
Core contributors can financially contribute to any Colle

[2019-05-10 01:31] alannallama commented on #2017
Related question: How does this currently work for Bulk Transfer from Organizations? We credit funds to the Organization in the system, but Organizations don't have fiscal hosts. Where is that money? How can they spend it across all Collectives in different hosts without running into the same problems as cross-host Collective-to-Collective contributions?

[2019-05-10 01:41] cuiki commented on #1969
Hi everyone, we've created this [document](https://paper.dropbox.com/doc/Open-Collective-Terminology--Ac2DWdAuSWz4v7qO_RbhzVQBAQ-Rc22fuQ76jZeSMDVVXaBj) to help us map and understand better how we use and apply the terminology in the Open Collective platform. It is an open Dropbox Paper doc so we can iterate on it.

[2019-05-10 02:05] alannallama commented on #1995
This error has disappeared so I'll close the issue. No idea what was going on but the expenses went through this time.

[2019-05-10 02:11] alanna opened #2018 "Keep filters when refilling paypal balance"
## User story

As a host admin, I want to keep my filters and my place in my list of expenses to pay, so I don't have to reset everything each time I refill the paypal balance.

## Best solution for this problem

Alternatively, the system could at least remember your filter preferences when it send your back to the host dashboard screen, if doing the process in another window isn't possible.

## M

[2019-05-10 05:51] WET9 commented on #2012
Close all

Pada Jum, 10 Mei 2019 01:16 Benjamin Piouffle <notifications@github.com>
menulis:

[2019-05-10 05:51] WET9 commented on #2012
Close all issue

Pada Jum, 10 Mei 2019 01:16 Benjamin Piouffle <notifications@github.com>
menulis:

[2019-05-10 07:24] Betree commented on #2007
Thanks @ykzts! I'll do the change.

[2019-05-10 07:41] #2004 closed

[2019-05-10 08:23] flickz opened #2019 "Overwritten Intl.locale value"
The issue is when you set OC interface to a new language, the value of `intl.locale` remains as `en` meanwhile the interface texts change.

During my investigation, I log the value of `intl.locale` within [`WithIntl.js`](https://github.com/opencollective/opencollective-frontend/blob/master/src/lib/withIntl.js#L55), I realized the `locale` changes on the server but gets overwrite back to `en` on th

[2019-05-10 08:23] Betree opened #2020 "Load translated marketing pages"
Now that [Crowdin](https://crowdin.com/project/opencollective) allows static pages to be translated easily, we should provide a better way to load them.

Currently all the static pages are imported in `pages/marketingPage.js` and a `if (...) else if (...)` is taking care of serving the right one. To provide a generic way to handle this, we could have a const object to define the pages:

[code]

We

[2019-05-10 08:35] Betree commented on #1370
@alannallama On it

[2019-05-10 09:16] eloyekunle commented on #2016
For users configuring Zaps (via Zapier), won't these private information also be sent to the Zapier webhook URLs?

[2019-05-10 09:23] xdamman commented on #1969
@alannallama then top individual contributors will never show up since organizations will in most cases always contribute more :-(

I don't understand your point of "not showing where they expect". Can you elaborate?

For reference, this is how it was designed:
![](https://d.pr/free/i/hMp91C+)

The goal was to incentivize both individuals and companies to contribute.
If we mix them both together,

[2019-05-10 09:35] Betree commented on #2016
@eloyekunle Yes they will. We'll have to surface this information on the app's triggers too

[2019-05-10 10:03] znarf commented on #2016
Can you confirm we're only including sensitive information (email) if the Webhook creator has the right to see them?

[2019-05-10 10:15] Betree commented on #2016
@znarf I added a task in my To Do to review all of them before merging to be sure. As proposed by @eloyekunle, we'll also need to have a filtering layer on `publishToWebhook` to whitelist what's published.

[2019-05-10 10:48] znarf opened #2021 "Failing tests in API repository"
The following are currently unstable and are failing a lot.

Example in CI:
https://circleci.com/gh/opencollective/opencollective-api/12813

- graphql.collective.test.js edits edit payment methods - edit payment methods
- graphql.matchingFund.test.js happy path one time donation - happy path one time donation
- graphql.matchingFund.test.js happy path recurring donation - happy path recurring donat

[2019-05-10 11:14] znarf commented on #2016
Cool, the permissions should be aligned with what we have in GraphQL.

[2019-05-10 11:17] #1294 closed

[2019-05-10 12:11] znarf commented on #1800
@kennyadsl The tweet wen out actually: https://twitter.com/SolidusIO/status/1126460472583184384

Is there anything wrong with it?

[2019-05-10 12:15] kennyadsl commented on #1800
Sorry. The tweet starts with @ so we didn't see it in the timeline. 🤦‍♂

We'll change the content of the tweet, thanks and sorry again.

[2019-05-10 12:17] #1800 closed

[2019-05-10 17:25] ElijahLynn opened #2022 "GraphQL Error on /subscriptions (possible flicker)"
**Describe the bug**
GraphQL Error (string)

**To Reproduce**
Steps to reproduce the behavior:
1. Visit /subscriptions for first time

**Expected behavior**
no error

**Screenshots**
![image](https://user-images.githubusercontent.com/1504756/57545043-f6915700-730d-11e9-933b-a87058f29876.png)

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Browser Chrome latest-stable

[2019-05-11 13:44] Betree commented on #960
Thanks for the pointers @astorije, this is really helpful! I'm currently working on the new version of the collective page and I'll make sure this is included.

Ideally we should use [responsive images (with `srcset`)](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images) to ensure we load the best image based on screen resolution.

[2019-05-11 14:33] znarf commented on #960
@Betree on the updated image service, logos are now 128px by default:

https://images.opencollective.com/babel/logo.png
https://images.opencollective.com/babel/logo/128.png

But you can pass the size you need, ie:
https://images.opencollective.com/babel/logo/256.png

[2019-05-11 17:07] eloyekunle commented on #1923
I will like to work on this.

[2019-05-11 17:35] Upperholme opened #2023 "Minor issue: when a new collective applies to be hosted by our host organisation two email notifications get sent"
When a new collective applies to be hosted by our host organisation two email notifications get sent.
They appear to be identical and sent at the same time.

[2019-05-12 07:59] znarf opened #2024 "Failing tests in frontend repository"
The following are currently unstable and are failing a lot.

Example in CI:
https://circleci.com/gh/opencollective/opencollective-frontend/20000

22-collective.edit.test.js

- `1) edit collective edit info: CypressError: Timed out retrying: Expected to find element: '.name.inputField input', but never found it.`
- `2) edit collective edit tiers: CypressError: Timed out retrying: Expected to find e

[2019-05-12 12:52] znarf commented on #1715
Completed!

[2019-05-12 14:01] znarf commented on #2021
Tentatively addressing the 1st in https://github.com/opencollective/opencollective-api/pull/1972

[2019-05-12 18:50] sloria opened #2025 "Fixed header wrapping bug"
**Describe the bug**

The fixed header on collective pages overflows incorrectly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://opencollective.com/marshmallow.
2. Scroll down.

**Expected behavior**

Header displays in a single row

**Screenshots**

![opencollectiveheaderissue](https://user-images.githubusercontent.com/2379650/57586535-2c2c7080-74c5-11e9-9539-d8c47e1d18ea.gi

[2019-05-13 03:41] alannallama commented on #1969
@xdamman We said we were not going to split it into two categories, but allow Collectives to name their tiers whatever they want. We won't have "individual members" and "sponsor organization" boxes on each Collective page, because maybe they won't have "members" and "sponsors" at all.

Are you suggesting we have "top individual contributors" and "top organizational contributors"? That language wou

[2019-05-13 03:43] alannallama commented on #1969
Can someone explain to me what "all members" "users" and "organizations" mean in the context of the data export function? What will these categories become with the new naming conventions?

![Screen Shot 2019-05-13 at 3 34 38 PM](https://user-images.githubusercontent.com/5498878/57594741-afb59280-7595-11e9-9261-18691314b528.png)

[2019-05-13 04:27] alanna opened #2026 "Expense Comments are Double Posting"
**Describe the bug**
Same comment gets posted twice in a row.

Examples:

* https://opencollective.com/webpack/expenses/7974
* https://opencollective.com/cloudflarecollective/expenses/7922

It's not happening every time, only sometimes.

[2019-05-13 04:38] alanna opened #2027 "Enable Collective admins and host admins to reject or unapprove expense after approval"
## User story
As a Collective admin, I want to be able to reject or unapprove an approved expense that has not been paid out, because sometimes an expense is approved by mistake.

As a host admin, I want to unapprove an expense if it is lacking valid documentation. Currently expense submitters cannot edit an approved expense, so we constantly have to make small edits to fake it back to unapproved

[2019-05-13 04:40] alannallama commented on #1722
I think this is a security/privacy issue we need to fix.

[2019-05-13 04:41] alannallama commented on #1073
This is somewhat ameliorated by the 'zero balance' feature, but I think we should keep it open until we confirm that it will be resolved by the new expenses flow.

[2019-05-13 07:04] Betree commented on #1923
Hi @eloyekunle, we'd love to have you on this one :slightly_smiling_face:

Is the two weeks timeframe ok for you?

[2019-05-13 07:12] Betree commented on #2025
Hello @sloria,

Thanks for reporting this issue.

As the collective admin you have more links in there and there's not enough place to display them all in one row. The backers of your collective should not encounter this bug, though we acknowledge that this NavBar doesn't have a great responsiveness.

We are currently revamping the collective page and the re-design will address this issue. I'm not

[2019-05-13 07:22] znarf commented on #1722
@alannallama do you see that as a feature request or a bug?

if it's a bug, can you create an issue explaining the steps to reproduce, the current behavior and the expected behavior.

if it's a feature request, can you create an issue with the basic specification for it?

[2019-05-13 15:07] lindatalu opened #2028 "Collective Page → Responsive Behaviours (EPIC #1928)"
## Best solution for this problem
Generate design solutions for the different views with their versions and states

- [ ] Desktop
- [ ] Tablet
- [ ] Smartphone

## Referenced Issues
#1928

[2019-05-13 16:07] piamancini commented on #2023
This is across the board for hosts - we should put it in the fix list -- @znarf maybe for Olu?

[2019-05-13 16:11] piamancini commented on #1991
can I close this?

[2019-05-13 23:41] alannallama commented on #1722
@znarf it's a UX bug. Current behaviour is that people who thought they were donating anonymously are having their donations associated to their public profiles. To fix it, we'd need to make sure donations made with the promise of anonymity stay anonymous.

[2019-05-14 06:27] znarf commented on #1991
It was done in https://github.com/opencollective/opencollective-frontend/pull/1747/files

Was not deployed yet.

[2019-05-14 06:37] znarf commented on #1722
@alannallama if it's a bug, please create a new issue with steps to reproduce (1. 2. 3. ...), current behavior (a precise, easily verifiable, point that is wrong) and expected behavior. We just just need a simple case to look at and make sure we're looking at the same thing.

[2019-05-14 09:51] Betree opened #2029 "Applications: check CollectiveId instead of CreatedByUser"
Following https://github.com/opencollective/opencollective-api/pull/1968#issuecomment-491336286

---

There is some confusion between using `createdByUser` and `CollectiveId`. To be future proof, we should rely more on `CollectiveId` than `createdByUser`, it's a cleaner relationship.

For:
- checking `maxNumberOfAppsPerUser`
- when retrieving in `CollectiveInterface` -> `UserCollectiveType` -> `ap

[2019-05-14 10:08] #2013 closed

[2019-05-14 10:09] #2009 closed

[2019-05-14 14:46] xdamman commented on #1969
That's correct but that was for the default split "backers" and "sponsors". It's up to each collective to define those. And indeed, I could foresee some collectives that will only have individual backers.

But let's take a step back. What is the goal of this first section?
The goal is to make it easy for individuals and organizations to donate money to the collective.
Before donating, we need to a

[2019-05-14 16:51] eloyekunle commented on #1923
@Betree Yes, the two weeks timeframe is fine.

[2019-05-14 18:46] piamancini commented on #1969
I think @alannallama is making reference to the 'member' and 'sponsor organization' Which are confusing terms we decided to get rid of.

I agree with this and I feel we need to simplify it as much as possible. It should be a card that refers to making a recurring financial contribution and one to make a one time financial contribution.

We can then have a small leaderboard where we split "top indi

[2019-05-14 19:46] piamancini commented on #1969
Hey folks, I just had a chat with Design, they are a bit overwhelmed with this constant feedback process. I think everyone had a chance to voice their suggestions and we took many into account. We will close the feedback process at the moment and share the final design soon.

After this, if there are some pressing issue you must voice, there will be another opportunity to do it. But as of now the

[2019-05-14 22:26] xdamman commented on #1969
Ok, let's wait for a new design iteration. But just to answer your question:

What about "Top Financial Contributions" followed by a split "Individuals | Organizations".
E.g.

Top financial contributions

Individuals | Organizations |
---------- | -------------- |
user1 $100 | Org1 $20k |
user2 $90 | Org2 $15k |
user3 $66 | Org3 $12k |

[2019-05-14 22:43] alannallama commented on #1969
I'm happy with this solution. The previous problems were caused by the
categories being "backers" and "sponsors" and people ending up in the wrong
place. If we now define it as "individuals" and "organizations", then it's
OK to have two leaderboard lists as suggested.

On Wed, May 15, 2019 at 10:26 AM Xavier Damman <notifications@github.com>
wrote:

--
*Alanna Irving*
alanna@opencollective.com

[2019-05-14 22:51] alanna opened #2030 "Allow financial contributors to change tier options mid-flow"
## User story
As a financial contributor, I want to be able to customize my donation (amount and frequency) regardless of which tier I originally selected, so I can give how I want to give to the project without restrictions.

We get support requests where users are frustrated because they don't understand why they are unable to change the amount and frequency options for their contribution. Curre

[2019-05-15 02:14] patcon commented on #1442
Best place to see example of this: https://opencollective.com/make-it-sound#members

[2019-05-15 02:15] piamancini commented on #1969
@xdamman this is exactly what is being implemented. :)

[2019-05-15 03:54] lindatalu opened #2031 "Collective Page → Collective Navigation Module responsive behavior (EPIC #1928)"
## Best solution for this problem

**Responsive Nav**
Collective Page navigation requires to be adapted to work on different devices screen dimensions (Responsive), those UI solutions will include:
- [ ] Desktop
- [ ] Tablet
- [ ] Smartphone

**Find right place for Collective social links**
Collective page require to include multiple social links, (1 to 3 buttons)

**States**
Navigation requires t

[2019-05-15 04:08] lindatalu opened #2032 "Collective Page → Conversation Page → Follow Conversation Feature (EPIC #1928)"
## Best solution for this problem

**Follow Conversations**
Conversations section inside collective page will include the feature to follow conversations.

**Responsive Views**
All these needs to be resolved on the following responsive views:
- [ ] Desktop
- [ ] Tablet
- [ ] Smartphone

## Referenced Issue
#1928

[2019-05-15 04:25] lindatalu opened #2033 "Collective Page → Get Updates (EPIC #1928)"
## Best solution for this problem

**Get updates**
Follow Updates feature on Collective Page requires to resolve the following UI assets:
- [ ]  Modal with email field
- [ ]  Modal with confirmation
- [ ] All validations required

**Responsive Views**
All these needs to be resolved on the following responsive views:
- [ ] Desktop
- [ ] Tablet
- [ ] Smartphone

## Referenced Issues
#1928
#1999

[2019-05-15 04:33] lindatalu opened #2034 "Collective Page → Graphic Language"
## Best solution for this problem
Create a Mood Board to define visual language and communication style for website illustration library.

- [x] Create a mood board on Pinterest

## Referenced Issues
#1928
#1999

[2019-05-15 08:29] xdamman opened #2035 "API: create expense programmatically"
I’d love to build a quick script to automatically submit my monthly invoice to a collective.
I could also imagine people who would love to build similar scripts to automatically create an expense when they receive an email.

For that, I just need to be able to call the `createExpense` mutation using my API key.
Expenses created that way would always be in `PENDING` status and should be approved us

[2019-05-15 12:59] znarf commented on #2023
I also experienced it but could not find anything wrong in our systems yet.

[2019-05-15 13:46] victorb commented on #2035
Our use case (Open Services / Open-Registry) is to submit expense reports for each received invoice from infrastructure providers.

We would want the invoices to be automatically accepted in the collective (but obviously not the fiscal host).

I would hope we could create invoices that are not tied to a specific user of the Collective, as they could come and go. Instead, we'd like to have a Collec

[2019-05-15 14:00] Nadine21 commented on #177
Hi,
This is a great feature - Thank you!
Adding to it, is it possible to:
- easy: change the communication from donation to payment - since thisis a payment for a ticket
- time consuming: collect extra information about the people: for example in an education event for children - name of the child, age, ...
- more time consuming: customize the confirmation message  (to be done when creating the ev

[2019-05-15 17:36] Betree commented on #1978
`goal` field with the same intent was already created in https://github.com/opencollective/opencollective-api/pull/908 but is unused to this day. This field will be used instead of the `goalAmount` initially planned.

[2019-05-15 23:29] alannallama commented on #1442
@jfdh - Can you simply create another Collective under the BrusselsTogether host? Why does the new Collective need to be a child of another Collective instead of a sibling?

I don't quite understand this part.

I have been thinking about improving how tags work to enable a really flexible groupings of Collectives, regardless of host. So you'd be able to add a tag like #BrusselsprojectX and go to a

[2019-05-15 23:37] alannallama commented on #2035
@xdamman - Instead of doing this through the API, which many users will not find accessible, we should just add a "repeating invoice" option to the new expense flow described in #1167 - I'd much rather fix the expense flow properly than append more partial fixes to the situation. Repeating invoices is a really good suggestion I hadn't thought of.

@victorb I'm not sure I understand exactly what yo

[2019-05-15 23:38] alannallama commented on #1167
Good suggestion from #2035 - make an option for a repeating invoice.

[2019-05-15 23:41] alannallama commented on #177
@Betree @cuiki will the new tiers design have the option to Collect extra information as @Nadine21 described above? We get this request a lot from Collectives that want to, for example, give a tshirt or sticker for giving to a certain tier, then need to collect the contributor's postal address. See #1798

[2019-05-16 06:56] znarf opened #2036 "Discover should not use /groups/tags endpoint"
Discover is using `/groups/tags`, a deprecated REST endpoint. It should use something else.

If nothing available it should create a new GraphQL query to provide that.

[2019-05-16 07:36] znarf opened #2037 "Deprecate /groups endpoint"
The `/groups/{slug}/backers|users` is deprecated and should not be used anymore.

Unfortunately, it's still relied on by the following collectives (we see requests in the logs):

- openfl
- obsproject
- gulpjs
- jest
- webpack
- babel

We need to provide a compatible endpoint or ask these collectives to migrate to our GraphQL API v2.

[2019-05-16 09:14] alannallama commented on #1149
We absolutely need this in the new expense design.

[2019-05-16 10:16] znarf opened #2038 "Remove deprecated clean-tag package"
Looks like the package will not be maintained in the future, see:
https://github.com/styled-system/extras/commit/dff7bba235256163ba44942f1c34ded312e39ee2#diff-4bc3019a96ad421bce27a874b0fe80a1

And the last release is breaking, see:
https://github.com/opencollective/opencollective-frontend/pull/1774

What can we use as alternative?

[2019-05-16 11:46] #2023 closed

[2019-05-16 13:43] victorb commented on #2035
@alannallama yeah, expenses tied to users are fine.

Would love to avoid introducing emails into the system, and use API endpoints where possible. Makes development, operations and debugging so much easier compared to dealing with emails.

Repeating invoice won't work for us either, as our costs might be different for each month, and want it to work automatically. Unless we could change the "repea

[2019-05-16 15:41] piamancini opened #2039 "Users with empty email"
There are 534 rows in the user table where email=NULL and collectiveID is not. From these 438 are not deletedAt...

The latest user created like this was created  2019-02-15 10:57:35.668+00  So they are pretty recent.

@xdamman any ideas?

[2019-05-16 16:51] patcon commented on #1442
Can't speak for @jfdh, but I see this ability as a pointer that team OpenCollective is open to arbitrarily nested collectives in the future. The delegated hierarchy and implied trust relations are what's interesting.

So for example, Code for American is now looking at Open Collective for it's brigade network. (I hope that Code for Canada might as well, in the future.) I hope that nest collectives

[2019-05-16 23:19] #1635 closed

[2019-05-17 00:01] lindatalu opened #2040 "EPIC → Discover Page (Design Revamp)"
## Preliminary Brief
Browse and discover collectives, pledged collectives by kind, location and or cause.

## Referenced Issues
#1929

[2019-05-17 04:44] alannallama commented on #1995
This issue is happening again on [this expense](https://opencollective.com/rocketmod/expenses/7837). The user has checked their paypal and can't see any issues, and we've paid this user multiple times before via paypal.

[2019-05-17 05:46] alanna opened #2041 "Expense pagination issue on host dashboard"
**Describe the bug**
Here is what I think is happening. Numbers are approximate.

* I go to the host dashboard and click the "ready to pay filter"
* It loads up a series of pages of expenses, displays the first 10, and hides the rest behind a "show more" button.
* I pay several of the expenses that are displayed, and they turn to "paid" status but stay in place. Let's say the even numbers (2,4,6,8

[2019-05-17 05:57] alanna opened #2042 "Can't add funds manually on behalf of existing user"
**Describe the bug**
As a host admin, I am trying to manually add funds to a Collective that were donated outside the platform, but I'm getting an error because I'm trying to input the email of the admin of the donating organization and she already has an Open Collective user account.

**Expected behavior**
It seems like the system is expecting her to be able to log in and do this herself, but cor

[2019-05-17 06:00] alannallama commented on #2042
@piamancini is there a better way to do this? it's a mess.

[2019-05-17 06:25] brymut commented on #1962
Hi @Betree , I managed to get started on the pull request for this issue, my apologies for the delay, an unfortunate mixture of family commitments and trouble getting my dev environment going using Docker. (Do you know anyone who's got Docker going for their dev environment?) Otherwise, I've had some luck and here we go.

[2019-05-17 06:30] brymut commented on #1962
To start with, I managed to handle the problem by adding the update option as you had mentioned earlier to handle changes to the cache after the mutation. And I think everything should be up to spec at that end. However, I ran into a new issue where once I click 'submit' the new pledge shows up, but the site breaks like this :

![Alt Text](https://raw.githubusercontent.com/brymut/github-gifs/maste

[2019-05-17 06:37] brymut commented on #1962
With further code exploration and investigation, with why the data.Collective prop was undefined I came across this issue that seems to very similar if not the same thing we see here. #1872

So after trying out the fix that was done for that issue by adding that prop to the state instead, the application works like a charm again. So I was wondering if it was okay to add a new commit to the pull re

[2019-05-17 07:27] Betree commented on #1962
Hi @brymut, no problem for the delay!

We don't use the docker env in the core team, but I may personally be tempted to do so if it works well.

https://github.com/opencollective/opencollective/issues/1872 is really a pain, I hope that it is not the case. Let's continue this conversation directly on the pull request, I'll test with you to see if that's the one responsible for this error.

[2019-05-17 08:40] znarf commented on #1991
Yes, it's working.

@piamancini please be aware that we're not displaying the checkbox for TOS/TOFS when switching hosts or applying manually.

[2019-05-17 08:46] #1991 closed

[2019-05-17 08:49] znarf commented on #2011
No rush, but we should take a decision on that for the release of the Tier page.

[2019-05-17 08:53] znarf commented on #2022
Thank you for submitting this. I unfortunately can't reproduce at the moment.

I tried on Firefox / macOS:

- navigating to /subscriptions with a normal account
- force refreshed the /subscriptions page with a normal account
- navigating to /subscriptions with an empty account
- force refreshed the /subscriptions page with the empty account

[2019-05-17 08:56] znarf commented on #2024
I looked at it as part of https://github.com/opencollective/opencollective-frontend/pull/1768

CI failure is due to Cypress login not working on this page.

![57848671-c2200e00-77d9-11e9-8129-fc9aae82d8f9](https://user-images.githubusercontent.com/806/57916098-71b8b700-7892-11e9-9494-e55a2d67312d.png)

[2019-05-17 09:00] znarf commented on #2042
@alannallama can you edit the issue and provide the steps to reproduce (1. 2. 3. ...)

[2019-05-17 09:04] znarf commented on #2021
Looks like it's fixed now. We'll keep an eye open.

[2019-05-17 09:04] #2021 closed

[2019-05-17 09:06] znarf commented on #1918
@xdamman Closing the issue because it's invalid. If you want to follow up on that, please create individual issues that can be easily worked on. If these are bugs, they should have steps to reproduce.

[2019-05-17 09:06] #1918 closed

[2019-05-17 09:12] znarf commented on #1370
Closing!

[2019-05-17 09:12] #1370 closed

[2019-05-17 09:19] znarf commented on #2007
Unblocked!

[2019-05-17 09:35] znarf commented on #464
@nemchik there are multiple things mentioned here, what are you specifically interested in?

[2019-05-17 11:10] nemchik commented on #464
B and C from the original post. For B it'd be nice if it were more than just over event that could trigger some kind of action.

[2019-05-17 11:31] znarf commented on #464
b) is being worked on, will be ready in a few days / weeks (let's stay in touch to try it first!)
c) might be solved by the https://github.com/opencollective/opencollective-bot

[2019-05-17 11:36] #1090 closed

[2019-05-17 11:39] znarf commented on #2026
@alannallama Do you have the habit of double clicking on buttons instead of single clicking? Might explain it. But even if that's that it should be addressed.

Or maybe you encountered a network error and tried to submit again?

[2019-05-17 12:01] brymut commented on #1880
Hi @znarf @vickywane, is there any update on this issue? If it hasn't been worked out, I would like to have a go at it while I wait for my pull request to get reviewed.

[2019-05-17 12:15] znarf commented on #1992
[code]

218 rows

[2019-05-17 12:20] xdamman commented on #2000
This was the query that was run on May 4th 2019:
[code]

(For OC Paris and OC Brussels hosts)

[2019-05-17 13:01] xdamman commented on #2000
Total host fees that should be reimbursed:
- OC Paris (id 11284): €24
- OC Brussels (id 9802): €216
- Techsoup (id 16485): $2 to [one event](https://opencollective.com/net2van-meetup/events/google-analytics-101-master-class-for-nonprofits-taught-by-a-marketing-veteran-16534ev)
- Platform6coop (id 28201): <£1 (they changed their host fee to 2%, some collectives had the 5% rate)
- WWCode: $0
- Opera

[2019-05-17 13:15] nemchik commented on #464
Thanks!

I've subscribed to the issues related to B. I had the bot setup on GitHub with permissions to my repo but did not make the yml file needed. I'm going to commit that now and see how it goes. If i have any trouble I'll open an issue on that repo for support.

[2019-05-17 13:24] vickywane commented on #1880
Hello @brymut  , i think #1939 has fixed it . You can however wait for @znarf 's confirmation

[2019-05-17 13:52] znarf commented on #1880
@brymut @JohnTitor had a try recently, but feel free to have a look. You can have a look at the failing PR first https://github.com/opencollective/opencollective-api/pull/1939

[2019-05-17 14:01] brymut commented on #1880
I had a look already at the PR, was just unsure if I should check this out & have a go or not since @JohnTitor closed their pull request. I'll have a look over the weekend and hopefully, @JohnTitor is able to confirm soon.

[2019-05-17 14:06] znarf commented on #464
The configuration of the Open Collective Bot should be easier in the future with https://github.com/opencollective/opencollective/issues/1876

[2019-05-17 15:50] piamancini commented on #2000
@xdamman - I thought I already fixed platfoorm coops one. Did it revert back?

[2019-05-17 16:23] ElijahLynn commented on #2022
K, these types of issues are the worst to debug (not reproducible), but as long as others aren't reporting it then it seems super low priority and I suggest closing this. And it is helpful in case it crops up again with other users.

[2019-05-17 19:07] Betree opened #2043 "Ability to embed videos in long descriptions"
To allow embedding videos we need to add a list of `trustedThirdPartiesForIframes` (including `YouTube` as a valid provider) and to add a custom validator to allow iframes **only** if the URL is from a trusted third party.

Once this is done we can enable the video button in the editor.

Before enabling this feature for Updates, we'll also need to work on something to adapt the content before send

[2019-05-17 19:23] Betree opened #2044 "Tier page: resize image when uploading for long description"
If we don't reduce images sizes, people will upload big resolutions resulting in slow load times. The "good size" for the tier page should be two times the max image width, which is `700 * 2 = 1400`.

## TODO

### API

- [ ] `uploadImage` should accept a `resize` parameter that contains a `width` and/or a `height`
- [ ] Ensure that `width` and `height` are not crazy values (< 4000px)
- [ ] Find a

[2019-05-17 19:25] Betree commented on #2044
@znarf Your feedback is welcome on this one, you've got the secret knowledge of the images service :stars:

[2019-05-17 21:13] Betree commented on #177
@alannallama Collecting extra info is a larger issue that goes in https://github.com/opencollective/opencollective/projects/6, the new tier page will not change how we handle things here. We should create an issue if that's something that we want to implement.

@Nadine21 I agree that our wording about tickets should always be "Payment", "Donation". Can you specify where you saw "Donation" instead

[2019-05-18 02:53] alannallama commented on #2042
1. Go to add funds
2. Under source, select 'other' to create new
3. Use an email address of an existing registered user
4. See error, can't create source

On Fri, May 17, 2019, 21:00 François Hodierne <notifications@github.com>
wrote:

[2019-05-18 09:46] xdamman commented on #2035
@alannallama it’s not or it’s and. We need to offer more ways for people to file expenses and by offering an api we can enable other developers to build more integrations. That doesn’t mean we shouldn’t also offer a better interface and a better flow to manage expenses on the website.

[2019-05-18 10:57] alanna opened #2045 "Logo image broken in update email"
Update from [this Collective](https://opencollective.com/fisk-vanderbilt-masters-to-phd-bridge-program) is showing a broken logo image.

![Screen Shot 2019-05-18 at 10 56 27 PM](https://user-images.githubusercontent.com/5498878/57968564-5c41ab00-79c0-11e9-8201-79f6815948f2.png)

[2019-05-20 00:46] alanna opened #2046 "Add agreeing to terms to application flow for Open Collective Foundation"
We need to include agreeing to the terms of fiscal sponsorship to Open Collective Foundation, same as we do for Open Source Collective (e.g. #1991).

[Here is the document to link to](https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub).

[2019-05-20 00:59] alannallama commented on #2026
I don't double click and I'm not aware of any error. It's weird because
it's not happening every time.

On Fri, May 17, 2019 at 11:39 PM François Hodierne <notifications@github.com>
wrote:

--
*Alanna Irving*
alanna@opencollective.com

[2019-05-20 07:16] znarf commented on #2046
Seems already there in the database.

[2019-05-20 07:17] #1978 closed

[2019-05-20 07:17] #1981 closed

[2019-05-20 07:18] znarf commented on #2045
Effectively. Looks like they don't have a logo, should the Open Collective logo be displayed instead (like on the collective page) or should it just be ignored?

[2019-05-20 07:21] #1992 closed

[2019-05-20 08:00] #1979 closed

[2019-05-20 08:24] Betree opened #2047 "Tier goals: support for goals with interval"
For tiers with an interval (monthly, yearly) the notion of goal needs small adjustments.

## API

- [x] Next to `totalDonated`, add a `totalRecurringDonations` that shows how much is given for this goal each `interval`

## Frontend

- [x] Instead of  `$500 goal`, show `$500/m goal`
- [x] Use `totalRecurringDonations` to calculate percentage and progress bar

[2019-05-20 08:59] kewitz opened #2048 "Sharing donation on Twitter doesn't considers the currency"
**Describe the bug**
When you finish your donation in Euros and click on *Tweet It* the default message will default the value to Dollars.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/manyverse/contribute/tier/6077-backer/success
2. Click on 'Tweet It'
3. The default Tweet will show the value in Dollars

**Expected behavior**
Tweet message to consider the

[2019-05-20 14:04] znarf opened #2049 "Design for webhook administration"
@cuiki can you provide design input on this administration interface for https://github.com/opencollective/opencollective-frontend/pull/1624 ?

**Empty screen**

![Capture d’écran 2019-05-20 à 12 31 19](https://user-images.githubusercontent.com/806/58027139-4515d100-7b18-11e9-9b92-460fba837324.png)

**Adding a webhook**

![Capture d’écran 2019-05-20 à 16 02 07](https://user-images.githubuserco

[2019-05-20 14:14] znarf commented on #1986
@piamancini seems it's actually supported in search.

![Capture d’écran 2019-05-20 à 16 14 31](https://user-images.githubusercontent.com/806/58028138-64adf900-7b1a-11e9-909a-b292675a6456.png)
![Capture d’écran 2019-05-20 à 16 14 41](https://user-images.githubusercontent.com/806/58028139-65468f80-7b1a-11e9-8114-141cc877bd72.png)

[2019-05-20 14:32] #2047 closed

[2019-05-20 20:02] lindatalu opened #2050 "Collective Page →Tier Page (EPIC 1928)"
## Best Solution

Clean the page delete trace of backers, sponsors review the headers and constistency

[2019-05-20 20:06] lindatalu opened #2051 "Collective Page → All Tier Page (EPIC #1928)"
## Best solution for this problem

Generate view that includes all tiers (recurrent contributions, single time contributions and custom tiers.)

[2019-05-20 20:07] piamancini commented on #2045
Ignored is better to avoid confusion.

[2019-05-20 20:07] piamancini commented on #1986
closing because Magic!

[2019-05-20 20:07] #1986 closed

[2019-05-20 20:12] znarf commented on #2037
Babel migrated in https://github.com/babel/website/pull/2031

[2019-05-20 21:43] alanna opened #2052 "Improve experience of changing tiers"
## User story
As a financial contributor, I want to be able to change tiers without cancelling and re-doing my recurring contribution.

Today we had a user want to upgrade from $10/mo contribution to becoming a gold sponsor of that Collective. This is a really positive thing that we want to encourage, but the UX involves the contributor and the Collective admins getting a sad "sorry to see you go!

[2019-05-20 21:45] alannallama commented on #2046
@znarf I just tested this, and it does not require you to tick a box to agree to the terms. My understanding from @piamancini is we need to get them to tick the box. The terms are linked from the host page but it doesn't ask you to agree to them explicitly.

[2019-05-21 00:14] alanna opened #2053 "Generate automatic pages of Collectives based on tags"
## User story

As a user, I want to be able to see groupings of Collectives across various fiscal hosts that share other characteristics in common.

As a Collective admin, I want to be able to label my Collective with different tags so that it's more discoverable.

As a member of a network of Collectives, I want to be able to see a page with all Collectives tagged with that label.

As a contributo

[2019-05-21 00:40] alanna commented on #2045
I think it should just display the Collective's name in text, which also links to the Collective.

[2019-05-21 06:27] znarf commented on #2046
@alanna the ticket was about ensuring it's the same as https://github.com/opencollective/opencollective/issues/1991 In this issue I warned: "please be aware that we're not displaying the checkbox for TOS/TOFS when switching hosts or applying manually."

If this the problem you're talking about, can you create an issue for a feature request and close this one?

[2019-05-21 07:47] Betree opened #2054 "Webhooks: remove them all in prod > staging sanitize script"
If we don't remove the webhooks created in production from the staging server when we run `db:copy:prod:staging` they'll start being triggered in the staging server.

The simple fix would be, in sanitize script, to run:

[code]

[2019-05-21 07:57] Betree commented on #2053
Sounds redundant with two existing pages:

- Search: https://opencollective.com/search?q=drupal will show all the collectives that are tagged with `#druppal`

- Discover: Has a tag filter, though we're going to revamp it a little bit with https://github.com/opencollective/opencollective/issues/1387

Could we cover these use cases by completing one of this existing pages?

[2019-05-21 09:10] #1854 closed

[2019-05-21 09:11] #1988 closed

[2019-05-21 09:25] znarf commented on #2008
@cuiki We need to make clear in the interface there is a minimum amount for some (most) tiers.

- This needs to be displayed/explained on the Contribution Details step
- There needs to be a clear explanation why the "Next Step" is disabled

![Screenshot 2019-05-21 at 11 24 45](https://user-images.githubusercontent.com/806/58084435-29afd200-7bbb-11e9-8967-4435477fb5e9.png)

[2019-05-21 11:05] #1970 closed

[2019-05-21 11:59] #1873 closed

[2019-05-21 13:51] znarf commented on #1952
Fixed in https://github.com/opencollective/opencollective/issues/1990

[2019-05-21 13:51] #1952 closed

[2019-05-21 13:58] Betree opened #2055 "Centralize pdf generation on a common service"
There are three places where we generate PDFs:
- Invoices (has its [own repo](https://github.com/opencollective/opencollective-invoices))
- Printable gift cards (has its [own repo](https://github.com/opencollective/opencollective-giftcards-generator))
- ~~Events nametags (lives in [frontend](https://github.com/opencollective/frontend))~~ edit: removed

All these features have pretty much the same

[2019-05-21 14:10] Betree opened #2056 "StyledSelect accessibility"
Reported here: https://twitter.com/WMassag/status/1130396510221492224

The `StyledSelect` component lacks accessibility. When typing the first letter(s) of the text it should behaves just like the native browser `select` and focus the most appropriate entry.

This is happening for the country select, but we should fix it at the component level to ensure all our existing and future selects will be

[2019-05-21 14:59] rugk commented on #1738
ssh

[2019-05-21 15:48] znarf commented on #2055
I would suggest:
- name: `opencollective-pdf`
- implementation strategy: start from the invoices service and rename it

[2019-05-21 22:20] piamancini commented on #1749
I think the idea of using blockstack is great. I wonder if they might be able to put a bounty on it.

[2019-05-21 22:37] piamancini opened #2057 "Allow to add funds to a host organization"
Use case:

Open Collective Inc. wants to create a prepaid budget to use as source of payment for gift cards to to be used to support open source.

The Open Source Collective admin needs to add funds to opencollective.com/opencollectiveinc but since that organization is a host the feature doesn't show up.

Link: https://github.com/opencollective/opencollective-frontend/blob/032ff37aceb0cb76633e4a2c

[2019-05-22 02:05] gusaus commented on #2053
I'm actually not sure Drupal is the best example since Open Collective integrated into projects on https://www.drupal.org/ and https://git.drupalcode.org/ would leverage the robust system for categorizing, search and filtering already built into Drupal. Integration should also provide a conduit for funds flowing into Open Collective from potentially thousands of projects and community initiatives.

[2019-05-22 08:21] Betree opened #2058 "Private updates: automatically make the update public after a certain period"
Following on https://github.com/opencollective/opencollective/issues/1923#issuecomment-483788803
This will allow collectives to give their latest news to their backers before everyone else while still making sure the update becomes publicly visible after a certain period of time.

# Specs

## Frontend

- [ ] Add a date input on edit/create update, left empty by default
  - Field label: `Automatica

[2019-05-22 08:22] Betree commented on #2058
@josegonzalez are you still willing to put a $100 bounty on this one?

[2019-05-22 10:13] #2045 closed

[2019-05-22 10:39] #2057 closed

[2019-05-22 12:46] josegonzalez commented on #2058
Yes, I am :)

[2019-05-22 12:58] Betree commented on #2058
:gift: :money_with_wings: A **$100** bounty from @josegonzalez @ [Dokku](https://opencollective.com/dokku) has been attached to this issue.
:hourglass_flowing_sand: Time span to complete the issue once assigned: 2 weeks

---

Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

---

:arrow_right: [More info on bounties](https://github

[2019-05-22 13:08] friedger commented on #1749
Design suggestion for "Create Profile"
![Screenshot from 2019-05-22 15-06-49](https://user-images.githubusercontent.com/1449049/58176783-563f1900-7ca3-11e9-99b6-ed8c49eb4ee9.png)

Design suggestion for "Sign In"
![Screenshot from 2019-05-22 15-06-14](https://user-images.githubusercontent.com/1449049/58176785-56d7af80-7ca3-11e9-9813-ba2151bdbbf9.png)

[2019-05-22 14:03] piamancini commented on #1749
I'm asking Patrick Stanley @ blockstack if they are interested in placing a bounty for it.  We can't this on right now ourselves and we don't have the expertise.
https://twitter.com/PatrickWStanley/status/1130973861162496000
Feel free to jump on the thread to encourage.

[2019-05-22 15:16] brymut commented on #1880
Hi @znarf, I've had some luck over at https://github.com/opencollective/opencollective-api/pull/2012. Could I please get some feedback on this when you can?

[2019-05-22 15:31] brymut commented on #2058
Hi @Betree @josegonzalez, more than happy to have a look at this while I wait for a couple of pull-requests' reviews.

[2019-05-22 21:15] friedger commented on #1749
There is a bounty of $500 if done by 4th June (https://community.blockstack.org/evil/)

[2019-05-22 23:41] friedger commented on #1749
For the backend, I suggest that the signin request returns an encrypted signin link if a public key was provided:

[code]

[2019-05-23 01:48] alanna opened #2059 "Updates broken for user: "unexpected error""
**Describe the bug**

- go to the updates
- click on “Create an Update”
- taken to the updates page in a broken state, screenshot below.
- Looks like a library for doing Markdown Editing is broken

**Screenshots**

![Screen Shot 2019-05-23 at 1 47 34 PM](https://user-images.githubusercontent.com/5498878/58220049-5dc4f780-7d61-11e9-94d9-f358566e683e.png)

**Additional context**
https://opencollecti

[2019-05-23 02:25] alanna commented on #2042
@znarf @Betree I am running into problems with this constantly. Can this please be fixed with priority? If the user already exists, the donation should be attributed to their existing profile, not blocked.

[2019-05-23 02:30] alanna opened #2060 "Add agreeing to terms in onboarding flow of Open Collective Foundation host"
*MVP*

We need to require explicitly agreeing to the terms of fiscal sponsorship to the onboarding flow of Open Collective Foundation (same as we already do for Open Source Collective).

[Here is the terms document to link to](https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub).

*Ideal*

There should be an option for

[2019-05-23 02:30] alanna commented on #2046
https://github.com/opencollective/opencollective/issues/2060

[2019-05-23 02:30] #2046 closed

[2019-05-23 02:32] alanna commented on #2008
This seems related to #2030 - if they want to give a smaller amount, they should be allowed to, but it should be clear they will no longer be contributing to that specific tier.

[2019-05-23 06:26] znarf commented on #2060
@alanna I don't see what's specific to Open Collective Foundation host. It's a generic feature request.

[2019-05-23 06:32] znarf commented on #2059
@alanna With the steps provided, I can't reproduce this issue.

It's missing the collective, the environment (browser, os). The screenshot is unreadable. There is no more additional context in the linked support ticket.

[2019-05-23 06:36] alanna commented on #2059
Just ask the user for the info you need. It's inefficient for you to
explain to partially explain to me and then I partially explain to them and
we'll play telephone.

On Thu, May 23, 2019, 18:32 François Hodierne <notifications@github.com>
wrote:

[2019-05-23 06:39] #2048 closed

[2019-05-23 06:47] znarf commented on #2059
@alanna Ok, then closing this issue as invalid and handling that on support side.

[2019-05-23 06:47] #2059 closed

[2019-05-23 07:24] #2000 closed

[2019-05-23 08:54] znarf commented on #1880
Thank you @brymut ! It's merged.

Thank you for working on this, your claim is already approved:
https://opencollective.com/engineering/expenses/8176

[2019-05-23 08:58] #1880 closed

[2019-05-23 09:38] kewitz commented on #2048
Got to love open-source projects. 😍

[2019-05-23 09:53] eloyekunle commented on #1658
I'll also love to look into this.

[2019-05-23 10:10] kevgathuku commented on #1658
Go ahead @eloyekunle
I've dropped the ball here and taken too long to make a breakthrough

[2019-05-23 10:16] znarf commented on #1658
Huge achievement, this is now our last pending package update in the API.

Hope someone will fix this :-)

[2019-05-23 10:25] znarf commented on #1877
Removing the bounty, we will try to achieve that differently.

[2019-05-23 10:26] znarf commented on #1876
Would be great to guess the Open Collective slug or URL by pinging the Open Collective API.

I just made available a GraphQL query for that.

[code]

Or:

[code]

[2019-05-23 13:50] piamancini commented on #2042
@alanna the way to fix this is to enable you to search all collectives/users/organizations in the source of funds. IT used to be like that, but there was never a search and so finding someone was virtually impossible.
So @xdamman fixed it by showing only the organizations that already sponsor.

@xdamman should be able to fix this on Friday, @betree has already too much on plate.  @xdamman can you

[2019-05-23 16:45] eloyekunle commented on #1387
@Betree Is this still open?

[2019-05-23 17:27] Betree commented on #1387
@eloyekunle It is, let's just merge https://github.com/opencollective/opencollective-frontend/pull/1822 before, it will make the changes for it much easier.

[2019-05-23 21:58] alanna commented on #2060
If we can build the generic feature quickly and easily, great. If that can't be prioritised right now, we need to just turn it on for the Open Collective Foundation.

@piamancini can you please advise about how we should go about this and why the priority of it should be? My understand was we need to implement this right now so all new Collectives coming into c3 host agree to it.

[2019-05-23 22:15] alanna opened #2061 "Tax bot counting rejected expenses toward $600 threshold"
**Describe the bug**
Tax bot is meant to trigger when a user hits $600 paid out, but it seems to be counting rejected expenses toward that total and therefore triggering too early.

The [example is here](https://opencollective.com/debug#budget) - this user has only ever submitted 2 expenses, both for $447. The first time it was rejected, and then they resubmitted it again as a new expense. Then [t

[2019-05-23 22:38] alanna opened #2062 "Differentiate Fiscal Hosts and sponsor Organizations"
We currently send an onboarding email to new organizations, which was designed for sponsors. I've just realized that new host orgs also get this email, but the content for each needs to be different.

Here's the current message, which should go to sponsors:

![Screen Shot 2019-05-24 at 10 24 07 AM](https://user-images.githubusercontent.com/5498878/58290499-147eb180-7e0e-11e9-9ecc-1c00b60b391e.png)

[2019-05-24 00:58] alanna commented on #2053
@Betree I think you're right, and some small improvements to the existing pages would be enough for now. Given @gusaus doesn't think this is really what Drupal needs, I'll close this.

[2019-05-24 03:14] alanna opened #2063 "Automatically approved Collectives triggering a "pending" notification in error"
**Describe the bug**
Collectives automatically approved in the open source GitHub flow also triggering a "pending" notification that confuses users.

The example is [Nox](https://opencollective.com/python-nox), the core contributor of which sent this message:

It seems like the "live" notification is correct, but the "pending" one is in error, because the Collective was already approved automatica

[2019-05-24 05:28] alanna commented on #1995
It's happening for [this one](https://opencollective.com/engineering/expenses/8176) too now.

[2019-05-24 07:04] #2053 closed

[2019-05-24 08:47] xdamman opened #2064 "The Share It links reference the URL of the donor instead of the collective"
After donating, when you click on tweet it or Share it, you are sharing the URL of your own profile instead of the url of the collective.

[2019-05-24 14:47] kasbah opened #2065 "Avatar image not showing up"
**Describe the bug**
Avatar image for my collective is not showing up on header and main page though it appears to be there in settings.

If you go to console you can see an error 500 in requesting resource:
https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F65c1bc20-e37e-11e8-bdd6-c7e0e2e838bb.png&height=640

**To Reproduce**
St

[2019-05-25 08:59] znarf commented on #2065
We had some trouble this week with our images service, especially yesterday.

This is working as expected now, but we'll be performing some work next week to make it more stable.

[2019-05-25 08:59] #2065 closed

[2019-05-26 12:52] rugk commented on #1742
keep open

[2019-05-27 09:23] friedger commented on #1749
In https://github.com/opencollective/opencollective-api/pull/2034 the suggested addition of publicKey has been implemented.

Both PRs together gives you a flow where users can login with their Blockstack ID.
![Screenshot from 2019-05-27 11-07-28](https://user-images.githubusercontent.com/1449049/58410122-d2ee4080-8071-11e9-9240-4bba4030e0f0.png)

[2019-05-27 11:39] znarf opened #2066 "Storing invalid clearbit images"
In the Collective table, the image column is often a clearbit image leading to a 404 error. ie: `https://logo.clearbit.com/bootstrap.build`

I personally ran some scripts to clean these, but looks like we're still actively writing such images to the Collective table. We need to stop that from happening .

[2019-05-27 12:55] Betree commented on #328
Hi @ghuntley! The webhooks MVP is ready, would you like to try it now? If so, can you tell be the name of the collective for which you want to activate webhooks/zapier?

[2019-05-27 15:56] Betree opened #2067 "Deleting a collective with expenses crashes the host dashboard"
A collective/event, `xr-hackney-july-uprising-42829ev`, was recently deleted with an `APPROVED` expense (id=8149). Deleting collectives is only blocked if an expense has been paid.

As a consequence, the host dashboard is crashing as it expect all expenses to have a `collective` attached. The crash occurs on this line: https://github.com/opencollective/opencollective-frontend/blob/d0721a8c15a4f030

[2019-05-27 21:30] alanna opened #2068 "Turn off email notifications for automatically approved Collectives"
## User story
As a host admin, I want to only get emails for Collective applications I need to action, so I don't lose important ones in a sea of unnecessary emails.

## Best solution for this problem
Do not trigger a "[Collective] would love to join Open Source Collective" email notification for open source Collectives automatically approved via the GitHub stars verification flow.

That way, I wi

[2019-05-27 21:44] alanna opened #2069 "Some Open Source Collectives are not being automatically approved even with 100+ stars"
**Describe the bug**
[This Collective](https://opencollective.com/taskbook) applied to Open Source Collective. [Their repo](https://github.com/klaussinani/taskbook) has over 100 stars (over 6000 actually). But it got stuck in 'pending' instead of being automatically approved.

**To Reproduce**
This is only happening occasionally so I don't know how to reproduce. Is it possible to look at the syste

[2019-05-27 23:03] alanna commented on #2067
Another outcome was that the funds in the event's balance just disappeared - were not paid out or replaced in the Collective's balance. The user contacted support [here](https://opencollective.freshdesk.com/a/tickets/526).

[2019-05-27 23:18] alanna opened #2070 "Host admin unable to access refund button"
**Describe the bug**
Conrad, admin of the Operation Code fiscal host, does not see a refund button when looking at a contribution.

It's supposed to look like this:

![unnamed](https://user-images.githubusercontent.com/5498878/58441904-2d52d400-813a-11e9-9ade-17ad2483ec3b.png)

But he sees this:

<img width="1127" alt="Screen Shot 2019-05-27 at 3 03 30 PM" src="https://user-images.githubuserconten

[2019-05-27 23:25] alanna opened #2071 "Add details option on "orders" view"
## User story
As an admin, I want to be able to see details of an order/transaction regardless of how I got to it, so I can take actions such as refund.

## Best solution for this problem
Right now if you click on an order on the host dashboard, it takes you to an 'order' page, like this: https://opencollective.com/companion/orders/45947

If you find the same order via going to the Collective page

[2019-05-27 23:38] alanna commented on #2069
Here's another example: [Single-Spa](https://opencollective.com/single-spa), which has [2400 stars on their repo](https://github.com/CanopyTax/single-spa), was stuck in the manual pending queue.

[2019-05-28 06:34] znarf commented on #2069
If they use the GitHub flow, it should works automatically. If they apply manually, then it's the manual process.

[2019-05-28 06:38] znarf commented on #2063
I think this is already opened as an issue.

[2019-05-28 06:40] znarf commented on #2063
This is it: https://github.com/opencollective/opencollective/issues/1984

[2019-05-28 06:44] znarf commented on #2062
I think we need to differentiate more clearly fiscal hosts from organizations. The current definition is really weak: "A fiscal host is an Organization with a connected Stripe account".

[2019-05-28 06:50] znarf opened #2072 "Add TOS confirmation when applying to a fiscal host"
Today, when creating a collective within a fiscal host, if they fiscal host has a TOS defined, there is a TOS checkbox to check. See: https://opencollective.com/foundation/apply

However, when creating a Collective, then applying to the Fiscal Host, there is no extra confirmation needed, and no opportunity for the applicant to check the TOS box.

We need to enable that.

[2019-05-28 06:51] znarf commented on #2060
Closing in favor of https://github.com/opencollective/opencollective/issues/2072

[2019-05-28 06:51] #2060 closed

[2019-05-28 06:59] znarf commented on #2070
Because ```canRefund={LoggedInUser && LoggedInUser.isRoot()}``` in `Transaction.js`.

`isRoot` in reality means the authenticated user is an admin of [opencollective](https://opencollective.com/opencollective).

We need to change this condition and also check (`OR`) if the authenticated user is an admin of the host. While doing that, we also need to double check similar permissions in the API.

[2019-05-28 07:08] znarf commented on #2067
As a first quick action, we need to remove the the ability to delete events. Until done properly.

[2019-05-28 07:13] znarf commented on #1905
@flickz To close this issue, please create a new frontend PR that is only doing Tier validation from the backend.

Just make sure the error is properly displayed when submitting the form.

[2019-05-28 09:12] znarf commented on #1876
To make the bounty workflow better, we decided to introduced deadlines. In this case, for a moderately complex feature, we're expecting completion in 1 week

Also, for this specific bounty, because we want to have the feature shipped, if not done by May 31th, we will remove the bounty and work on it internally.

[2019-05-28 11:10] flickz commented on #2042
@znarf Not sure how to fix this without defeating the original purpose for which the check was added, according to the comment in the code:
[code]

[2019-05-28 11:30] znarf commented on #2042
I would simplify this by moving this `addFund` functionality in a dedicated GraphQL mutation. This is too complicated to have that in the `createOrder` one. It will be an opportunity to remove code from `createOrder` and make it simpler.

After that, in this new mutation, given that the acting user is root/superadmin, we should allow them to do the operation, even if the email is existing.

[2019-05-28 11:54] znarf commented on #1556
That was done!

[2019-05-28 11:54] #1556 closed

[2019-05-29 02:21] alanna commented on #1545
Another request for this feature came to support today.

[2019-05-29 02:29] alanna commented on #2062
I wonder if fiscal hosts should be more of a Collective that can contain other Collectives, rather than an organization, because they actually need a transparent budget too, for their host fees income and expenses (see #1723).

[2019-05-29 02:35] alanna commented on #2069
Ah ok, so you think they failed to go through the GitHub process and ended up in the manual one? How would that happen? If they didn't identify as an open source project in the flow?

This wouldn't be such a bad problem if #2068 wasn't an issue, but currently Collectives who don't go through the automatic flow for Open Source Collective are very likely to get lost.

[2019-05-29 04:43] alanna commented on #1994
This is still happening...

![Screen Shot 2019-05-29 at 4 42 14 PM](https://user-images.githubusercontent.com/5498878/58529964-ee537a00-8230-11e9-8b97-efe7b1273f80.png)

[2019-05-29 06:29] znarf commented on #2069
Good news, https://github.com/opencollective/opencollective/issues/2068 is almost fixed.

[2019-05-29 06:38] znarf commented on #1994
In that case, I read "a month ago", "5 month ago".

[2019-05-29 06:49] #2061 closed

[2019-05-29 06:52] #2064 closed

[2019-05-29 07:39] znarf opened #2073 "Move Tier validation from mutation to model"
Following up on https://github.com/opencollective/opencollective-api/pull/2009

Tier validation needs to be moved from mutation to model.

[2019-05-29 09:45] pietgeursen commented on #1829
Hey @Betree

What are the two pages you're referring to?

[2019-05-29 09:45] xdamman commented on #1994
I confirm that this option is only for Open Collective Brussels and Open Collective Paris and Open Collective Europe.

So this shouldn’t happen. Maybe indeed an error while processing the transaction? Because it starts with the status “PENDING” but then it should directly go to “PAID” or “ERROR”.

[2019-05-29 11:38] #2063 closed

[2019-05-29 11:52] znarf commented on #2066
Should be taken care of in https://github.com/opencollective/opencollective-api/pull/2042

[2019-05-29 14:28] xdamman opened #2074 "Don't show archived events in the list of events"
Related to https://github.com/opencollective/opencollective/issues/2067

We need to be able to archive an event the same way we archive a collective (heck, an event is a collective after all).

In the meantime, I've manually edited the entry in the DB to add a `deactivatedAt` date for the XR Hackney event. But it still shows up in the list of events on their collective page opencollective.com/xrha

[2019-05-29 15:13] Betree commented on #1829
@pietgeursen `createOrder` and `completePledge`. It's just a proposal, so feel free to come up with any better solution you may think of :slightly_smiling_face:

Ping me if you want to jump on a call to have a quick demo of the feature to better understand the context.

[2019-05-29 15:22] xdamman commented on #2011
For now, I’d make /contribute an alias for /tiers

For /donate, let’s keep it the way it is for now. We can always revisit that later.
I don’t want to add an extra step. If I send a link to someone to /donate, I want them to donate as simply as possible, without worrying about the different tiers. But I see your point and I could be convinced otherwise. Maybe that would be easier to make that swit

[2019-05-29 16:09] Betree commented on #2011
One problem is that some collectives seems to have linked the current `/contribute` (see extract from the logs below). We should acknowledge that it's going to be an unexpected behaviour for these users, though one could argue that it's not a major issue because people reaching the link still end up on a page that pushes them to contribute.

![image](https://user-images.githubusercontent.com/15563

[2019-05-29 16:42] xdamman commented on #2011
Thanks for this info.

Exactly, I'm not worried about that.
It's a minor change for them. But that's why I want to keep `/donate` the way it is so that there is still a way to get to the old behavior

That's right. Maybe we can ditch the `/tiers`? We never communicated about it. I think `/contribute` makes more sense.

All in all, I don't see any major risk to move forward with this small change.

[2019-05-29 17:16] Betree commented on #2011
We get a good number of requests for `/tiers`, we should not take the assumption that it is not used:

![image](https://user-images.githubusercontent.com/1556356/58577178-39c45300-8246-11e9-9d8c-6f3aced4dfc7.png)

[2019-05-29 17:31] flickz commented on #2068
Looks like this issue requires more than this?

@znarf Can you help make a spec for this?

[2019-05-29 19:34] znarf commented on #2068
We will not do that.

I think we're good with https://github.com/opencollective/opencollective-api/pull/2037

[2019-05-30 04:11] alanna opened #2075 "Turn on bank transfer contributions for Open Source Collective & other hosts?"
## User story
As a financial contributor, I want to easily set up payments to Collectives via bank transfer, so I can send larger amounts and not have to use a credit card.

As a host admin, I want to have help from the system making manual payments easier and less error prone, so we can provide better service.

As a Collective, I want to enable all possible ways for people to give money, so I can

[2019-05-30 04:27] alanna opened #2076 "Allow editing of "core contributor since" dates"
## User story
As a core contributor, I want the date appearing under my name to reflect when I joined the project itself, not when I joined on Open Collective, so that we can recognize long-term contributors and not have misleading info on our page.

## Best solution for this problem
Allow the "core contributor since" dates to be editable by Collective admins. Probably as a setting on the "members

[2019-05-30 05:14] pietgeursen commented on #1829
@Betree

Yeah, I'm going to need help with this. I've spent an hour trying to dig through the code but I need an intro. I think you're on holiday today. Will have to be Friday or Monday your time.

[2019-05-30 09:20] alanna commented on #1774
@pietgeursen I head back from the accountant - we need to collect a new tax form each year from each person who hits the threshold for that year.

[2019-05-30 09:23] pietgeursen commented on #1774
Ok good to know!

On Thu, 30 May 2019, 9:20 PM Alanna, <notifications@github.com> wrote:

[2019-05-30 09:34] edent opened #2077 "Slash in URL Slug causes problems"
**Describe the bug**
I wanted to create the slug `edent/supertinyicons` - that works.

When I view it, It displays as `edent%2Fsupertinyicons` - that also works.

When I try to edit it, it breaks, and goes to
`https://opencollective.com/edent/supertinyicons/edit`

I have to manually edit the URL to
`https://opencollective.com/edent%2fsupertinyicons/edit` in order to be able to edit the repo.

**To

[2019-05-30 10:36] Betree commented on #2011
Breaking a URL that users use is not an acceptable solution. So we can't ditch /tiers for now.

We defined previously that SEO was important for this page, so the way to go with this change is to create the new routes and to set the canonical meta properly.

[2019-05-30 11:24] znarf commented on #2077
Thank you for reporting this. We should have been more strict in slug validation and should not have allowed to have a slash in it. I suggest to change your slug.

On our side, we will check the validation to avoid that in the future.

[2019-05-30 13:04] edent commented on #2077
Will do! Cheers :-)

[2019-05-30 13:12] xdamman commented on #2075
I think it's a great idea.
I'd just turn it on for payments of more than $10k to start (or $5k?)

The only thing is that we should make it clear that this option is there but only available for one time payments of a certain amount (same for paypal btw, otherwise people wonder: "why is this option not always there?" So better to always show it but greyed out with a small explanation: "This payment

[2019-05-31 02:41] alanna opened #2078 "Movement/network meta-page"
## User Story

Feedback from a core contributor who runs a Collective that's part of a bigger movement/network/community with a bunch of other Collectives. Currently we don't have a good way to show how they are all related.

It's not about being in the same host. Host can be determined by many things like geographical location or shape of a project, but Collectives across different hosts may stil

[2019-05-31 03:41] alanna commented on #2075
OK, so a good first step could be to turn on bank transfers for Open Source Collective for one-off contributions only, for transactions over $x ($2000 seems like a good threshold to me).

What would be involved in doing this? @znarf since the code already exists for OCEU, is it easy to turn on for OSC, with those criteria in place?

[2019-05-31 03:42] alanna commented on #2069
This will become more manageable with #2068 - so I will close this issue.

[2019-05-31 03:42] #2069 closed

[2019-05-31 04:56] alanna commented on #1774
Update after speaking with a couple other US-based fiscal hosts: They really only pay out receipt reimbursements so this feature won't be relevant to them.

One definitely would not appreciate the system automatically requesting tax forms from people who go over $600 in receipt reimbursements but don't actually owe them a form, and when they do need to collect a W9 they have their own systems (int

[2019-05-31 06:30] mixmix commented on #2078
## User Stories

**Current**
A person has been engaging with scuttlebutt and they want to support it or some part of it. They DuckduckGo `scuttlebutt opencollective` and 10 results for different pages turn up. They click one called "Patchfox" (because they use Patchwork, and they're confused). They land on a page that has $185 of funding and not much activity, and no content. They leave.

**Altern

[2019-05-31 07:39] gusaus commented on #1996
Here's a comment from the working doc https://docs.google.com/document/d/1nZR31Xfa9eWz1-2KQ9PGNfxjJdJLm45YoCSnOw13K8I/edit?disco=AAAACBj88ss

https://opencollective.com/wwcodeinc

What is the reason the US based 501c3, Open Collective foundation can not host a global network of Open Collective meetups and related events?

Is it just how the nonprofit was set up?

[2019-05-31 07:52] #2074 closed

[2019-05-31 08:38] pietgeursen commented on #1774
I've been studying this and I think Alanna's proposal is on point.

It sounds like this feature must only be available for Open Source Collective.

I've taken Alanna's proposal and tweaked it slightly:

**MVP**

* When user submits any invoice that takes their total for the year over $600 (just ignore the expense case for now.) then:
* A red flag is put on their account
* They get an email with de

[2019-05-31 09:14] flickz commented on #2068
I think we're good here then.

[2019-05-31 09:33] xdamman opened #2079 "Can't make a one time donation with decimals"
Step to reproduce:
Go to opencollective.com/europe-collective/donate
Pick a profile, then enter "143.20". You can play with the plus/minus controls.
Select "Wire transfer", then click on "contribute"
500 error

Error in the API logs:

[code]

The process is still very broken, I just want to be able to do /:collective/donate/:amount/:description

It's still not working for amounts with decimals

[2019-05-31 11:06] znarf commented on #2079
The issue is first about opencollective.com/europe-collective/donate then /:collective/donate/:amount/:description. It's confusing.

[2019-05-31 11:59] brymut commented on #2058
Hi @Betree, currently moving onto the front-end side of the specs for this issue. I was wondering if there are any mockups for how the date input should look like on Figma or something. I've come across this mock-up shared recently that has the private update checkbox, but I haven't seen anything for the date input yet.  Could you please point me toward what I can use, or should I just start and w

[2019-05-31 12:09] xdamman commented on #2079
It’s the same issue. Basically no matter the collective there is no way to make a donation with decimals.
This should work whether you specify the amount in the interface or in the url.

[2019-05-31 12:45] xdamman commented on #2075
The only thing that will need to be added is:
- the concept of threshold
- a bit of design to know how to display when the condition / threshold is not met (would be good to show it even for recurring contributions but with a message that says: "wire transfers are only available for one time donations of over $2,000")

[2019-05-31 15:09] flickz commented on #2079
@xdamman This is a JavaScript issue we forgot (or didn't realize) to handle properly, in JavaScript the result of `143.20 * 100` equals ` 14319.999999999998`, this should have been rounded up to `14320` as expected by the API. Have opened [#1874](https://github.com/opencollective/opencollective-frontend/pull/1874) to fix it.

[2019-05-31 15:36] samus-aran commented on #2076
Agreed! Would love to see this implemented. :+1:

[2019-06-01 01:40] alanna commented on #1996
@gusaus US 501(c)(3) organizations are only allowed to support activities based in the US. You can read the full [terms of fiscal sponsorship](https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub) of the Open Collective Foundation for more details.

[2019-06-03 02:34] alanna commented on #1774
Thanks for that @pietgeursen

Helloworks has a form builder UI, so I could build the forms and workflows, no code required. If we think there's a benefit to proving Helloworks' nice flow experience, form building should not be the blocker. That way, we could send everyone to the same flow from our app and they answer questions and work their way through a decision tree providing the info we need.

[2019-06-03 03:00] alanna opened #2080 "Make it easier to contact host admins"
## User story
As a fellow host admin, I need to contact other host admins about transfers of funds.

As a prospective Collective, I need to follow up on fiscal hosting applications.

As a sponsor, I need to know who to contact regarding agreements and transfers of funds.

This is kind of related to #1955 and #1849 but neither specifically solves contacting host admins.

Even by searching in Forest

[2019-06-03 03:47] alanna opened #2081 "Simplify events"
We currently have an events feature that was implemented by kind of treating an event as a mini-Collective. We have had issues with it, like:

* Events have their own seperate budget, and expenses submitted to it weren't showing up in the regular host dashboard workflow to be paid.
* Deleting an event with transactions is like deleting a Collective, and it messed up the ledger when it happened (wh

[2019-06-03 03:47] pietgeursen commented on #1774
@alanna

Yeah, I saw the form builder when I was looking at their example w9. In the form builder they had a warning for the component that displays one path or another depending on the selection. It said something along the lines of "this component must be used with the code builder." And then there were 1700 lines of code.

If we can build what we need only in the form builder that would be grea

[2019-06-03 07:12] znarf commented on #2068
@flickz we should disable the COLLECTIVE_APPLY notification for collectives automatically activated in the "GitHub flow"

[2019-06-03 07:45] Betree commented on #1829
@pietgeursen Let's find a spot on Slack :slightly_smiling_face:

[2019-06-03 08:44] flickz commented on #2068
I'm on it

[2019-06-03 08:56] adamchainz commented on #1773
But how to make it not stale?

[2019-06-03 09:06] piamancini commented on #2075
This can potentially be handled by Stripe @alanna (albeit only for the US) - Let's discuss.

[2019-06-03 09:06] znarf commented on #1773
@adamchainz commenting on it like you did :-)

Stale is just for us about surfacing issues. We'll try to tackle this one.

[2019-06-03 09:13] piamancini commented on #2062
There's an argument for a host should be a collective with a stripe account. We should accommodate for hosts who don't want to raise funds themselves (properly handling the look of a collective with no tiers)

[2019-06-03 09:21] Betree commented on #1829
![image](https://user-images.githubusercontent.com/1556356/58790927-9bdbda00-85f1-11e9-9875-866ce04c927b.png)

[2019-06-03 09:31] Betree commented on #1829
A good (hacky) way to test that while developing: make an order, go in the database to set the status to `PENDING`, then go to `/pledges/:id` (id=orderId).

[2019-06-03 09:57] Johann-S opened #2082 "[API] Return internal error"
**Describe the bug**

Hi, when we call your API it returns a `500` error code

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/bootstrap/members/all.json?TierId=7192
2. See error

**Expected behavior**

Return our sponsors

**Desktop :**
 - OS: Win 10
 - Browsers: All

[2019-06-03 10:51] Betree commented on #2076
Today we rely on `createdAt` to display this information. Changing this value can be considered as a bad practice because you loose the real historicity of the records. For example we can use this information for statistics, to know how many members are added each month.

So a proper way to do this would be:

**API**
- [ ] Add a `since` column to members (null=false, default=NOW())
- [ ] Makes sur

[2019-06-03 10:58] Betree commented on #2058
@brymut We don't have a calendar component yet, but `<StyledInput type="date" />` should do the job. It will show the native browser date picker input with some basic styling (border-radius, color...etc). Not the best looking but good for accessibility :)

[2019-06-03 11:13] Betree commented on #2077
This is a duplicate of https://github.com/opencollective/opencollective/issues/1476, though you've added way more details and helpful context. Thank you for that @edent, I'm closing https://github.com/opencollective/opencollective/issues/1476 in favor of yours.

Also let's keep in mind that this is not only about `/` character, we need to ensure slug is always alphanum + dash only. An entry in `va

[2019-06-03 11:13] Betree commented on #1476
Closing in favor of https://github.com/opencollective/opencollective/issues/2077

[2019-06-03 11:13] #1476 closed

[2019-06-03 11:16] edent commented on #2077
The majority of the world are more diverse than ASCII 😊

I'd certainly vote to keep UTF-8 - but escape any URL special characters.

[2019-06-03 11:18] Betree commented on #2076
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. Please add a comment below if you want to be assigned to this issue.

:hourglass: Time to complete: 10 days
:notebook: Specs: https://github.com/opencollective/opencollective/issues/2076#issuecomment-498209068
:a

[2019-06-03 11:31] znarf commented on #2082
@Johann-S sorry for that, fix coming.

Curious, where are you using this endpoint? I would love to help you migrate to our new GraphQL API.

[2019-06-03 11:51] Johann-S commented on #2082
Hi @znarf,

It's a draft PR here: https://github.com/twbs/bootstrap/pull/28744 we work on a thanks page

[2019-06-03 12:29] #2079 closed

[2019-06-03 12:40] #2042 closed

[2019-06-03 12:42] znarf commented on #2082
@Johann-S Cool.

The issue is fixed and deployed, that was due to an internal GraphQL update which was more strict with parameters. https://github.com/opencollective/opencollective-rest/pull/19/files

[2019-06-03 12:42] #2082 closed

[2019-06-03 12:50] znarf commented on #1257
@luceos can you check if that's still an issue? if yes, can you share screenshot of the latest monthly report?

[2019-06-03 12:53] znarf commented on #1296
@piamancini Looks like we had a lot of changes in these areas since that issue was reported.

Closing. If something happen again, please report again with fresh data.

[2019-06-03 12:53] #1296 closed

[2019-06-03 12:54] znarf commented on #1271
@piamancini @xdamman is "in kind" still supported?

[2019-06-03 12:56] piamancini commented on #2070
yes, we need to make this available to other host admins. right now is only done for us.

[2019-06-03 12:57] piamancini commented on #1271
We discussed removing it. If we haven't yet, we should until done properly.

[2019-06-03 12:57] Johann-S commented on #2082
Great ! thanks

[2019-06-03 12:57] piamancini commented on #1781
@beetree can I help here?

[2019-06-03 13:15] Betree commented on #328
Everyone following this issue: please ask if you want to participate in the beta-testing of this issue :slightly_smiling_face:

[2019-06-03 13:39] nemchik commented on #328
I'd be willing to participate.

[2019-06-03 14:08] Betree commented on #328
@nemchik Should I activate it for https://opencollective.com/DockSTARTer?

[2019-06-03 14:09] nemchik commented on #328
Yes please. I'll provide whatever feedback I can ASAP.

[2019-06-03 14:19] Betree commented on #328
@nemchik Awesome, thanks! We're currently redesigning it, knowing more about your usage would be helpful :wink:

Check this documentation if you want to get started: https://docs.opencollective.com/help/collectives/integrations#webhooks-beta

[2019-06-03 14:27] Betree commented on #1774
Specs seem good, would be nice indeed to have an estimation of how much time it would take to integrate with HelloWorks or HelloSign VS homemade.

[2019-06-03 14:29] nemchik commented on #328
The project for my collective has a very active Discord chat server and I would like to report contributions to the collective to a specific channel, and probably expenses as well. I would also like to be able to give users in the Discord server a special role (maybe a different role for each tier on the collective).

[2019-06-03 14:39] znarf commented on #1786
Do you have any input on that @raulgrafico @cuiki ?

[2019-06-03 14:55] leonardohof commented on #2076
Hi,

I want to work on this issue. Can you assign to me?

[2019-06-03 15:11] Betree commented on #2076
@leonardohof Done :heavy_check_mark:

Please ask if I there's something I can do to help.

[2019-06-03 15:12] znarf opened #2083 "In host report email, events are counted in the totalCollectives"
In the host-report email, events are counted in the `totalCollectives`. This is confusing, hosts are not expecting events to be counted as collectives.

See: https://github.com/opencollective/opencollective-api/blob/d6b5255ab3b6fd2384e231b1100ddff1538f6c89/reports/host-report.js#L235

Can be reproduced with https://opencollective.com/ryan-petroff hosting 1 collective with several events https://op

[2019-06-03 15:12] leonardohof commented on #2076
Ok, thanks.

[2019-06-03 16:02] znarf commented on #1905
That was done in https://github.com/opencollective/opencollective-frontend/pull/1823

[2019-06-03 16:03] Betree commented on #1806
Closing this as the new collective page will address this issue by using an inline editor for the description. See https://github.com/opencollective/opencollective-frontend/pull/1870

[2019-06-03 16:03] #1806 closed

[2019-06-03 16:04] #1905 closed

[2019-06-03 16:04] #2068 closed

[2019-06-03 16:22] #2067 closed

[2019-06-03 16:24] #1984 closed

[2019-06-03 16:25] znarf commented on #1903
Might be taken care of by https://github.com/opencollective/opencollective-frontend/pull/1686

[2019-06-03 16:27] znarf commented on #1787
Didn't happen last months.

[2019-06-03 16:27] #1787 closed

[2019-06-03 16:28] znarf commented on #1659
1. was taken care of

[2019-06-03 16:29] znarf commented on #1652
This was reported again to support today.

[2019-06-03 16:33] l0gicgate opened #2084 "Collective URL with Slash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a new collective
2. Pick Open Source Project
3. Click on Get Started
4. Select the repository you want to create a collective for
5. Enter the collective name
6. Enter the collective URL but include a slash in it e.g.: `your-org/your-collective`
7. Click on Cr

[2019-06-03 16:38] znarf commented on #896
They should be working. Please share more details if it's not.

[2019-06-03 16:38] #896 closed

[2019-06-03 16:39] znarf commented on #1260
The functionality is used on a daily basis by collectives and it's working.

Without more details, we can't take care of this issue. Please reopen if this happen again or if you have more information.

[2019-06-03 16:40] #1260 closed

[2019-06-03 16:42] znarf commented on #2084
Thank you for reporting that. We're working on this, will be fixed soon. Closing as duplicate of https://github.com/opencollective/opencollective/issues/2077

In the meantime, please contact support if you need to be unblocked.

[2019-06-03 16:42] #2084 closed

[2019-06-03 16:43] l0gicgate commented on #2084
Anything that we can do in the meantime? Can you delete that collective so I can re-create it?

[2019-06-03 16:43] znarf commented on #2084
We can do support here also :-) Should we edit it to be `slimphp` or `slim`?

[2019-06-03 16:45] l0gicgate commented on #2084
`slim` is fine thanks!

[2019-06-03 16:50] znarf commented on #2084
Done http://opencollective.com/slim

Looks like you also created an Organization and a User account with the same name. If it was by accident, maybe you want to rename them or delete them.

[2019-06-03 16:52] l0gicgate commented on #2084
I'm sorry if these are noob questions but I thought an organization could have collectives. I just followed the regular process when signing up. Do I need a collective? An org? Both?

[2019-06-03 18:56] luceos commented on #1257
Still a problem @znarf

<img width="427" alt="image" src="https://user-images.githubusercontent.com/504687/58826885-01f04d80-8642-11e9-86a5-a7bbbc400742.png">
<img width="932" alt="image" src="https://user-images.githubusercontent.com/504687/58826900-0a488880-8642-11e9-92e6-642d668f723a.png">
<img width="278" alt="image" src="https://user-images.githubusercontent.com/504687/58826924-1896a480-8642-

[2019-06-03 18:59] znarf commented on #2084
Normally, you just need one Collective "Slim Framework", whatever the number of repositories. It doesn't make sense to split into multiple collectives.

An Organization at Open Collective is different from the GitHub definition. It's mostly used by companies donating to Collectives. It can be also be used to host (as in fiscal hosting) Collectives.

Finally, the User account is usually under your

[2019-06-03 19:45] l0gicgate commented on #2084
Okay gotcha, then in this case I will change my user to be myself, delete the organization and can we change the collective to be `slimphp` instead of Slim?

Thank you.

[2019-06-03 21:35] alanna commented on #1774
@pietgeursen and I are moving forward with HelloWorks for the moment, because I figured out how to create the workflow we need without code. There are a lot of details to it so it will take me some time to complete, but so far testing is going well. We're also researching HelloSign if it turns out HelloWorks doesn't do what we need.

[2019-06-03 21:48] alanna commented on #2081
Another issue caused by events being treated as Collectives: #2083 - it counts them wrongly in the  total number of Collectives in a host.

[2019-06-03 22:40] alanna opened #2085 "Network error when adding funds manually"
**Describe the bug**
Unable to add funds to Collective manually due to: "Network error: Response not successful: Received status code 500"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Foundation host dashboard
2. Select Drupal Ashville
3. Click add funds
4. Put in $441.75 from Eventbrite
5. Click 'add funds"

**Screenshots**

![Screen Shot 2019-06-04 at 10 35 39 AM](https://user-ima

[2019-06-03 22:48] alanna opened #2086 "Date of fiscal host application showing as "invalid""
**Describe the bug**
Info message for pending Collective is showing "invalid date"

**To Reproduce**
Steps to reproduce the behavior:
1. Apply as a Collective to fiscal host
2. While application is pending, go back to edit Collective > fiscal host
3. See info message including "invalid date"

**Expected behavior**
It should show the date the Collective applied for hosting

**Screenshots**
![BLSeEC

[2019-06-04 02:11] leonardohof commented on #2076
https://github.com/opencollective/opencollective-frontend/pull/1890
https://github.com/opencollective/opencollective-api/pull/2063

[2019-06-04 03:18] pietgeursen commented on #1774
I've created a [project)(https://github.com/opencollective/opencollective/projects/21) that breaks up the tasks into smaller pieces.

I'd appreciate @Betree  having a look over the tickets I created in case there are better ways to do things.

[2019-06-04 03:52] alanna commented on #1774
I have completed a draft of the full tax form workflow, and it's ready for testing. There are likely still small tweaks to be made. You can launch it [here](https://portal.helloworks.com/link/nrKucJBFEIfDagUK). Feel free to fill it out - this doesn't send the data anywhere yet, just captures it in HelloWorks.

Testing  notes:

* This form flow collects the data for W9, W8BEN and W8BENE depending o

[2019-06-04 06:28] znarf commented on #2086
Duplicate with https://github.com/opencollective/opencollective/issues/1652

[2019-06-04 06:46] znarf commented on #2085
```GraphQL v1 error: Variable "$order" got invalid value { totalAmount: 44175, description: "ticket sales", hostFeePercent: 5, platformFeePercent: 5, collective: { id: 19540 }, fromCollective: { id: "10881" }, paymentMethod: { uuid: "3df4cc6d-8598-4edf-8b7f-61adb61cf463" } }; Expected type Int at value.fromCollective.id; Int cannot represent non-integer value: "10881"```

[2019-06-04 06:46] znarf commented on #2085
Should be fixed by https://github.com/opencollective/opencollective-frontend/pull/1891

[2019-06-04 07:40] Betree commented on #2076
Both PRs seem very good @leonardohof! Special kudos for using a transaction in the migration (one could argue that running migrations inside of transactions should be sequelize's default behaviour). And also for providing all the translations :wink:

Let me rebase both PRs in-house so we can have the CI properly running. BTW you've been added to https://github.com/orgs/opencollective/teams/develop

[2019-06-04 07:56] piamancini commented on #1774
great! We are starting the expense flow wireframes process soon, so will be great to have this tested before and incorporate. We should also add a flag to enable users to differentiate between invoices and reimbursements.

[2019-06-04 09:22] Betree commented on #1774
@pietgeursen Regarding the cards:

A daily (or hourly) job would be appropriate. This is a process that can be delayed and run asynchronously without slowing down the main thread.

This one seems good, we'll be able to easily extend that if we need to collect other documents in the future. I'd decouple that from the notion of tax ; something like a `LegalDocuments` table (and `document_link` inste

[2019-06-04 09:25] piamancini commented on #1774
Should we rip out the Tax Bot?
Once this is done, yes.

[2019-06-04 10:40] Betree commented on #1387
opencollective/opencollective-frontend#1822 is now merged, so this issue is up for grabs!

[2019-06-04 11:02] cuiki commented on #1786
Hi @znarf , yes.

I had done a quick state change witch the intensity of color hues in the labels of the buttons. I made a quick video for you to see: https://tafka.d.pr/572pts

The Figma link to this particular screen is:
https://www.figma.com/file/PozXUSiYMNIkLcwKD38two/OC.COM-07-Collectives-Copy?node-id=355%3A1426

[2019-06-04 12:06] piamancini commented on #2083
@xdamman can you put this on your list for Friday?

[2019-06-04 13:39] znarf commented on #1879
Removing the bounty.

Basics are covered in https://github.com/opencollective/opencollective-bot/pull/102.

We still need to make the test coverage 100%.

[2019-06-04 13:42] znarf commented on #1658
Thank you @eloyekunle! It's merged and deployed.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-06-04 13:42] #1658 closed

[2019-06-04 13:45] znarf commented on #1658
Fyi, our test coverage was not enough to prevent breaks, we had to follow up in many PRs:

- https://github.com/opencollective/opencollective-frontend/pull/1892
- https://github.com/opencollective/opencollective-frontend/pull/1891
- https://github.com/opencollective/opencollective-frontend/pull/1889
- https://github.com/opencollective/opencollective-frontend/pull/1878
- https://github.com/opencoll

[2019-06-04 13:46] Betree commented on #1781
@piamancini The experiment with (1) is going well, we progressively add contributors to Github teams so it's easier for them to participate and we have a way to reach them all if needed. We don't post bounties on the discussion page yet but they usually get picked up pretty quickly so there's not a strong need for it.

I tried to use the discussion page to thanks contributors two months ago: https

[2019-06-04 14:05] eloyekunle commented on #1658
Oh, that's interesting. Hopefully there'll be few breaks left.

[2019-06-04 16:12] piamancini commented on #1781
Great!
We can take the swag out of your plate. Let us know what you have in mind and we can work something out. @alanna

[2019-06-04 20:30] Betree commented on #2015
Done

[2019-06-04 20:30] #2015 closed

[2019-06-04 20:48] Betree opened #2088 "Webhooks: complete activity sanitizer"
The current activity sanitizer for webhooks is very aggressive to ensure we don't leak any personal user information.

We need to enlarge the scope of currently filtered activities to ensure we include the public information that may interest collectives and add the other activity types.

File: `server/lib/webhooks.js`

  - [ ] `CONNECTED_ACCOUNT_CREATED`
  - [ ] `COLLECTIVE_CREATED_GITHUB`
  - [

[2019-06-05 02:02] cuiki commented on #2049
Hi @znarf,  I made a clickable prototype for you guys to get a sense of how it behaves.

Prototype: https://www.figma.com/proto/GF1gQ7fWNfaOAFNwuLeAUl/OC.COM-99-Quick-Fixes?node-id=421%3A610&viewport=-1299%2C230%2C0.5&scaling=min-zoom

Figma FIle: https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.COM-99-Quick-Fixes?node-id=420%3A1322

_Note: I'm not entirely sure on where is it that this lives

[2019-06-05 02:12] cuiki commented on #2008
This changes things a bit from @znarf 's request.

So if the user wants to change the amount to something lower than the minimum, should we allow them to do so by suggesting other tiers that might be a better match? Rather than just notifying of the minimum amount?

[2019-06-05 02:13] alanna commented on #2081
Some metrics to back up the argument to keep events:

We have had about **300 events** bring in **$23,500** through the platform via **1210 tickets** sold.

Usage of events is trending steadily up:
<img width="358" alt="Screen Shot 2019-06-05 at 2 02 36 PM" src="https://user-images.githubusercontent.com/5498878/58925501-d6817600-879b-11e9-8f31-12354a3fb5c8.png">

We are getting increasing requests

[2019-06-05 02:45] alanna commented on #2085
This has been fixed

[2019-06-05 02:45] #2085 closed

[2019-06-05 05:47] znarf commented on #2008
@cuiki The swap tier aspect will make that way more complicated. Let's stick to the original request for now. But still, the error message or the notification could say: "Want to give less than {minimumAmount}? Look at [LINK]other tiers[/LINK] or make a [LINK]free donation[/LINK]."

[2019-06-05 08:30] pietgeursen commented on #1774
Good idea. Have used that.

Also used that too.

Yep, good call. Did that too.

Thanks @Betree

[2019-06-05 09:00] xdamman opened #2089 "List of contributors on a tier page"
The list of contributors should only include the people who contributed to that particular tier.
e.g. https://opencollective.com/xr-belgium/tiers/adopt-a-rebel-majo-9295

It feels very wrong to have all those people there. They actually don’t want to show up there because they haven’t contributed in any way to adopt that particular rebel.

From Ben:

If there is no contributor, I’d just not show t

[2019-06-05 09:13] flickz opened #2090 "Redesign private updates"
This issue follows up this [#1796](https://github.com/opencollective/opencollective-frontend/pull/1796) PR to redesign the private update feature added.

Figma design link - https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.COM-99-%2F-Quick-Fixes?node-id=380%3A514

[2019-06-05 09:35] Betree commented on #2089
That part would be needed indeed.

Even there the person who created the tier may not want to appear on the page, while some of the collective admins may want to. It's a larger question about how members are handled, but that's a great opportunity to address that in a systematic way and to bring more flexibility.

For me the solution would be to add the ability for collective admins to add/remove/

[2019-06-05 09:42] flickz commented on #2086
This is a bit tricky as it is not reproducible locally from my side.

![Screenshot from 2019-06-05 10-34-30](https://user-images.githubusercontent.com/15707013/58946451-cc507f00-877d-11e9-808a-db711aaff7d1.png)

[2019-06-05 10:08] znarf commented on #2086
@flickz where are we fetching this date from?

[2019-06-05 10:15] flickz commented on #2086
`collective.members` with `HOST` role. ---> `collective.member.createdAt`
https://github.com/opencollective/opencollective-frontend/blob/master/src/components/EditHost.js#L81

[2019-06-05 10:22] piamancini opened #2091 "non active collectives shouldn't show up in the host dashboard"
when a collective applies to a host, we create a row on the member table and we add the host as the collective's hostId but we don't activate them (isActive=FALSE)

The problem is that we still show these collectives in the host dashboard (dropdown menu). We shouldn't surface collectives on the dashboard until they are approved by the host.

[2019-06-05 10:24] piamancini opened #2092 "Give Fiscal Host Admins a way to reject Collectives"
host admins currently don't have a mechanism to reject a collective's application.
They should be able to do it from the pending applications tab in their dashboard BUT we should provide a way for them to contact the collective and explain why.

@znarf could this be a use case for the email templates?

[2019-06-05 11:17] piamancini opened #2093 "Easier flow for gift card use"
Scribd is interested in using Gift Cards to give to their engineers. They have the following feedback and feature improvement idea: (cc @fotos thank you for the feedback and for reaching out please feel free to jump on this)

I like this idea of making it dead easy for devs to use a gift card directly from a repository.
Maybe an easier path than the email validation is validating that the dev is a

[2019-06-05 11:54] znarf commented on #2092
@piamancini I don't see a clear link with the email templates project.

[2019-06-05 12:39] znarf opened #2094 "Upgrade dataloader-sequelize to version 2.0"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the API, we're currently using the version 1 of `dataloader-sequelize` and the upgrade to version 2 has breaking changes.

We want to:

  - upgrade the package
  - adapt the code where it's used
  - make sure the test are passing

The breaking change is that the we need to use the `context` API from `dat

[2019-06-05 12:53] BenJam commented on #1864
is there any reason that *all* open source projects can't be on open collective? As in, there could be an OC page for everything with the 'make a pledge' action topmost for collectives without an owner?

[2019-06-05 12:58] piamancini commented on #2089
I think the easiest step is to add the creator as Creator so there's always someone to show.

[2019-06-05 12:59] piamancini commented on #1864
@benjam no reason, and the feature to pledge to a collective is built. The original intent was to use it for that.

[2019-06-05 12:59] znarf opened #2095 "Fix propTypes in the frontend codebase"
In the frontend codebase we rely on PropTypes to check parameters passed to React components.

We have an eslint rule setup to warn us when we're missing PropTypes. However, there is still plenty of warnings. For this bounty to be solved, they all need to be fixed (only the `react/prop-types` of course). Check `npm run lint`.

Also, when running `e2e` test, there is is still some PropTypes warning

[2019-06-05 13:20] fotos commented on #2093
Thanks @piamancini!

The goal is to have a simple way to sign up / register (under the organization?) and easily back a project in a frictionless (engaging?) way.

Yes, feel free to skip all the pre-approved stuff and excuse my ignorance. I haven't actually seen the gift-card flow, thus take the above suggestions with a grain of salt  🧂.

[2019-06-05 13:20] piamancini opened #2096 "Empty Balance button is not showing up"
Reported by TechSoup Admin

Hi! I’m trying to shut down a collective using the guide at

https://github.com/opencollective/documentation/blob/master/collectives/zero-collective-balance.md

However, I’m not seeing the “Empty Balance’ button” on my Collective.

https://opencollective.com/net2van-meetup

<img width="1130" alt="NetSquared_Vancouver__Net2van__-_Open_Collective" src="https://user-images

[2019-06-05 13:27] #1907 closed

[2019-06-05 13:27] #1409 closed

[2019-06-05 13:49] piamancini commented on #2093
Follow up:
_We use GitLab at Scribd thus, in our case, it's likely that not everybody has a GitHub account. That's why I mentioned Google SAML (which would allow non-engineers to donate as well). Nevertheless I'm perfectly OK with GitHub accounts for starters, again not a deal breaker._

[2019-06-05 14:05] brymut commented on #2058
Hi @Betree , have been working on this and noticed that there is a calendar input used when submitting a new expense https://opencollective.com/engineering/expenses/new

https://github.com/opencollective/opencollective-frontend/blob/d95d96430ffcaf15f36728c8aaaa1cfcf2586bda/src/apps/expenses/components/CreateExpenseForm.js#L412

It uses a `<InputField
                    defaultValue={new Date()}

[2019-06-05 14:13] znarf commented on #2096
@piamancini The host doesn't have an "host collective" setup.

[2019-06-05 15:29] xdamman commented on #2089
Here is what I'd suggest to move forward.

Step 1
As a quick fix, let's not show the core contributors and let's hide the contributors section if it's empty.

Step 2
Let's add a placeholder.

Step 3
Let's add the creator (my understanding is that this requires recording new info)

Step 4
Let's give admins more options like @Betree is suggesting. I'd also consider adding the ability to edit the tit

[2019-06-05 15:32] brymut commented on #2058
Hi again @Betree. I've created a pull request for the work I've started on this, however, I feel like I am currently blocked on completing the front-end spec on this while I wait on opencollective/opencollective-frontend#1796 to get merged.

[2019-06-05 15:47] brymut commented on #2094
Hi @znarf, I'd be more than happy to have a look at this while I wait for review on a pull request, and get unblocked on the same issue.

[2019-06-05 16:21] Betree commented on #2089
@xdamman sounds good, let's keep step 1 => 3 for this issue (they are correlated), I'll create another one for Step 4.

[2019-06-05 16:26] Betree opened #2097 "Ability for collective admins to edit members"
*Following https://github.com/opencollective/opencollective/issues/2089*

## User story
As a collective admin, I can add/remove/hide members manually - both for tier's members, but also for collective's members.

**Examples**

1. Collective `Brussels Politics Transparency` has a `Monthly Meetup` tier. A sponsor is lending its building for this meetup. On the tier page, I can click on `Manually add

[2019-06-05 17:02] Betree commented on #2058
Hi @brymut, sorry for the delay.

I'd prefer not to, the dependencies behind this component are quite heavy and it actually doesn't really look better than the default browser's calendar:

![image](https://user-images.githubusercontent.com/1556356/58974917-f593fe00-87c3-11e9-9f12-fc3c006ef07c.png)

Going native ensure that we keep maximum accessibility and localization. Unless there's a good reaso

[2019-06-05 17:09] Betree commented on #2058
@brymut We should wait for opencollective/opencollective-frontend#1796 to be merged, and ideally for https://github.com/opencollective/opencollective/issues/2090 to be completed to avoid any conflict.

Let's put this one on hold while we wait for this to be ready. We'll give you the time that you need once it is to ensure the bounty stays assigned to you.

[2019-06-05 17:35] #2036 closed

[2019-06-05 17:48] Betree opened #2098 "Error when pledging collective"
**Describe the bug**
An error about payment method shows up when creating a new pledge. A second click on the submit button **does** create the pledge.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.opencollective.com/pledges/new
2. Fill the form with valid values
3. Click on `Make pledge`
4. See error:

![image](https://user-images.githubusercontent.com/1556356/5897761

[2019-06-05 17:52] #1962 closed

[2019-06-05 17:53] Betree commented on #2098
Just merged https://github.com/opencollective/opencollective-frontend/pull/1877 so we don't have conflicting code when fixing this. https://github.com/opencollective/opencollective-frontend/pull/1877 is not the cause of this issue as it appears with and without it.

[2019-06-05 19:36] znarf commented on #2094
@brymut Feel free to have a look. Let's check again in 1 week, as we now set up a timeframe for bounties to be completed.

I just have a small refactoring pending in that area, so maybe you want to try to start from that branch. https://github.com/opencollective/opencollective-api/pull/2075

[2019-06-05 22:00] alanna commented on #2092
My ideal design for this would be a "reject" button next to the "approve" button in both the email notification and the dashboard, and if you click it you are taken to a text box where you can write in a reason. We should also have some generic help text with the notification that will then got to applicant, telling them how to try to find another host or start their own.

[2019-06-06 01:16] gusaus commented on #1864
That sounds super useful - so you're talking about making this more prominent? https://opencollective.com/pledges/new

Are there examples of a 'pledged collective'?

Also...is there any way to pledge for Open Source projects/orgs not on Github or with less than 100 stars?

Seems like getting around those requirements would allow orgs and individuals to back projects within large CMS communities li

[2019-06-06 01:18] alanna commented on #2070
@znarf - The admin from Operation Code is still unable to see the refund button. This issue indicates he should be able to see it now, right?

[2019-06-06 02:38] leonardohof commented on #2095
@znarf Can I assign to myself this issue?

[2019-06-06 02:47] alanna opened #2099 "intermittent 503 errors when paying expenses"
**Describe the bug**
``` {"response":"<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>503 Service Temporarily Unavailable</title>\n</head><body>\n<h1>Service Temporarily Unavailable</h1>\n<p>The server is temporarily unable to service your\nrequest due to maintenance downtime or capacity\nproblems. Please try again later.</p>\n</body></html>\n","httpStatusCode":503}```

[2019-06-06 04:12] alanna opened #2100 "Banner saying Collective is pending shows even after approval"
I'm not sure if this is the same as #1878, but that issues doesn't describe it like it's a bug.

**Describe the bug**
@mixmix created a Collective for Patchbay using the GitHub automatic approval flow. It was approved and was active, but the system still showed him this green banner indicating his Collective had not been approved yet. This was confusing.

![unnamed](https://user-images.githubuserc

[2019-06-06 06:40] znarf commented on #2095
@leonardohof Sounds good. Looks like you already accomplished the first part!

[2019-06-06 06:41] znarf commented on #2099
@alanna next time it occurs, would be great if you could note the exact time (to the second precision)

[2019-06-06 06:53] Betree commented on #1864
@gusaus https://github.com/opencollective/opencollective/issues/1864#issuecomment-477509992 has a list of pledged collectives (though it's not up to date).

[2019-06-06 08:01] znarf commented on #2070
@alanna Let's follow up in #support. To troubleshoot, I need the account of the user trying to refund.

[2019-06-06 08:06] znarf commented on #2070
@alanna might have found the problem

@flickz please check the comments on https://github.com/opencollective/opencollective-frontend/pull/1864 and fix that.

[2019-06-06 08:23] piamancini commented on #2096
Oh I see.  So how can I link a host collective to a host?

[2019-06-06 08:26] piamancini commented on #2092
the link in my mind was that hosts can design an email to be sent to admins of the collectives they are rejecting. To ensure that there's a path for a justification to be sent. Otherwise, just a reject button seems brutal.

[2019-06-06 08:29] znarf commented on #2096
We had an hostCollective entry in their settings. ie: `hostCollective":{"id": 40817},`

I can do it.

[2019-06-06 08:31] piamancini commented on #2097
This is so useful @betree!

[2019-06-06 08:36] piamancini commented on #2096
why is the button not showing up with the option of vacating funds to another collective under the same host?
They way it could work is:
Button shows up / surface the list of collectives under the same host + an option to create a collective for the host is there's not one already surfaced.

[2019-06-06 08:44] gusaus commented on #1996
Based on some good discussion over Slack and Twitter, it seems like we've been evaluating the wrong Open Collective nonprofit as a potential host.

One outcome of this task will be a definition of Open Collective chapter on par with OSS projects and communities hosted by https://opencollective.com/opensource.  Many large OSS projects have a wide range of meetups, hackathons, industry/vertical spec

[2019-06-06 08:52] znarf commented on #2096
Why not, we "just" need to build it.

But if they want, they can already donate to this collective using the contribution flow.

[2019-06-06 09:10] znarf opened #2101 "parentCollectiveId preventing host to be removed"
In the GitHub flow, we're setting the `parentCollectiveId` of all collectives to `83`. This is later preventing hosts to be removed.

**To Reproduce**

1. Go to http://opencollective.com/opensource/apply
2. Create a new collective
3. Edit the newly created collective
4. Go to the Fiscal Host section
4. Remove the host

**Current behavior**

The host doesn't appear to be removed.

**Expected behavi

[2019-06-06 10:05] piamancini commented on #2096
I note a shade of sarcasm there :D

[2019-06-06 10:09] Betree opened #2102 "Add a "Contributor" GraphQL type as a simplification of member"
# Motivations

With the new contributors grid that's being displayed on the tier page and the new collective page, we're now able to display dynamically thousands of contributors without impacting the frontend performances.

However we have two issues that are related to this:

1. **Performance (API):** Loading a large number of collectives without using a select has a cost. We're loading the rich

[2019-06-06 10:16] Betree opened #2103 "Surface Github contritbutors"
# Motivation

In the new tier/collective pages, we want to add a `Github Contributors` filter:

![image](https://user-images.githubusercontent.com/1556356/59019872-194d5780-8849-11e9-8a22-9468242f4efb.png)

# MVP

- [ ] Require https://github.com/opencollective/opencollective/issues/2102
- [ ] In collective's `contributors` resolver, get the contributors usernames from `collective.data.githubContr

[2019-06-06 10:27] Betree commented on #2102
This could be a first step toward separating the idea of `Member` (as a way to handle permissions and administration level) from `Contributor` (as a way to surface the contribution level of a person without granting additional rights).

Which would resolve https://github.com/opencollective/opencollective/issues/1801

[2019-06-06 10:51] xdamman commented on #2101
It’s on purpose.
It’s to make sure that all open source collectives are listed on https://opencollective.com/opensource (which is the Parent Collective).

That shouldn’t prevent collectives from changing host. In fact, that’s exactly the point of this `ParentCollectiveId`, making sure that we can gather different collectives that may be on different hosts in one place.

[2019-06-06 11:08] piamancini commented on #2101
Parent collectiveID is used to group the collectives under an umbrella organization - in this case the open source collective collective: opencollective.com/opensource Since this is now duplicating opencollective.com/opensourcecollective and we now group using tags, I think it's safe to remove it.

@alanna if this is done, we should swap the slugs so the collective can ben opencollective.com/opens

[2019-06-06 11:12] xdamman commented on #2102
I like the sound of it. But some comments/questions.

From the discussion with @alanna, we identified that everyone is a contributor. An admin, a backer, a github contributor, the creator, ... they are all effectively contributors. We just need to specify the type of contributor (github contributor, financial contributor, or just a plain contributor).

If I recall correctly, the only question was

[2019-06-06 11:26] piamancini commented on #2102
@Betree is this user facing or backend facing?
@xdamman I think we agreed we were not migrating the database categories regardless of how we called things user facing. I think Ben is referring to this, but I might be mistaken.

[2019-06-06 11:38] xdamman commented on #2081
I agree that events need some love.
But a set of tiers as you say, already exists and it’s called a « collective ».
I’d rather keep the number of concepts as small as possible to reduce the complexity of the system.

The bugs you mentioned are bugs and should be solved. Changing the way it works won’t make things simpler, and will introduce new problems.

So the only difference I see is the proble

[2019-06-06 11:46] xdamman commented on #2102
It belongs to @znarf and @Betree to decide if they want to change the name of the table in the DB for consistency. They are the primary users of it.

But the question here is different: do we agree that everyone is a contributor instead of member?
I think @cuiki did a nice graph to picture all the different roles, where can we find it? I thought he was going to link to it from the [design collecti

[2019-06-06 11:51] znarf commented on #2102
Let's not rename anything in the database. We may at some point but not now. We can live with that if it's well understood: ie: `Collective` -> `Account`.

[2019-06-06 11:56] znarf commented on #2101
@xdamman How confusing is that. Surfacing a Collective on a host when it's not hosted there. Let's stop that.

[2019-06-06 12:16] xdamman commented on #2101
It’s not surfacing a collective on a host, but on another collective that acts as a “super collective”.
Another recent example: https://opencollective.com/drupal-collectives
https://opencollective.com/meetups is another good example. Clearly most meetups won’t share the same host. But you want a place to gather all meetup collectives in one place.

I agree that tags could fulfill the same purpose.

[2019-06-06 14:25] Betree opened #2104 "New collective page admin: pick primary color"
With the new collective page admins are able to set the primary color of the collective :taco: :taco: :taco:

There no design yet for it, so here's a proposal to start the discussion:

- **On the Hero, show a pencil icon if user is admin**

![image](https://user-images.githubusercontent.com/1556356/59039376-081a4000-8875-11e9-9906-ae93754db878.png)

- **When users click on it, open a modal with**

[2019-06-06 14:52] Betree commented on #2102
@xdamman

Excellent comparison :smile:

For sure we'll have to do it at some point. Still, lightening the model will make data retrieving faster and the component even more reactive, both approaches will be more powerful when combined.

Definitely. That isn't clear in the issue, but as per @znarf https://github.com/opencollective/opencollective/issues/2102#issuecomment-499462740 I don't want to ma

[2019-06-06 16:47] xdamman opened #2105 "Enable cooperatives to fund raise on open collective"
I've personally participated in a few fundraising for different cooperatives in Brussels.
There is no platform for it. So people are building customs online forms to subscribe to their shares (e.g. [Wilfried in Brussels](https://wilfriedmag.be/devenir-cooperateur/)).
And it seems like a natural fit for Open Collective.
A cooperative is effectively an open collective. They share the values of openn

[2019-06-06 20:27] leonardohof commented on #2095
I'm having problems to fix the **withFallbackImage.js** file.
Could you give me some help?

I tried to change to this:
`import React from 'react';
import PropTypes from 'prop-types';
import { defaultImage } from '../constants/collectives';
import { getDomain, imagePreview } from './utils';

function withFallbackImage(ChildComponent) {
  return class extends React.Component {
    static displayName

[2019-06-07 07:42] yellowwoods12 commented on #1987
@alanna  Can you assign this to me?

[2019-06-07 07:50] znarf commented on #1987
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](https://github.com/opencollective/opencollective/blob/master/BOUNTY.md).

[2019-06-07 07:50] znarf commented on #1987
@yellowwoods12 Feel free to work on it.

[2019-06-07 08:21] xdamman commented on #2104
I love that.

Given it's a setting that will be changed only once, I'm not sure we want to use real estate from the collective page, otherwise it will always be in your face. So maybe put it in the /edit page?

[2019-06-07 08:59] Betree commented on #2104
By having it directly on the collective page you can preview the result in real-time before saving (rather than save, navigate to the collective page, return to the edit page if it doesn't look nice...etc). That's what Twitter does and I really like the UX of it:

![Peek 07-06-2019 10-57](https://user-images.githubusercontent.com/1556356/59093006-30f11280-8913-11e9-914a-92bc68bc1b8d.gif)

I'd pers

[2019-06-07 09:07] xdamman commented on #2104
alright, I'm sold :-)

[2019-06-07 11:30] xdamman opened #2106 "Expenses flow: allow for custom internal reference"
CodeNPlay received more than €300k in subsidies.
They have to follow strict rules in terms of reporting, using some weird codes provided by the government.

It would be extremely useful for them to be able to add a custom reference when filing an expense and show that reference in the monthly PDF report with all the invoices/expenses and in the CSV file.

[2019-06-07 11:41] Betree commented on #2106
Is this reference a private info?

[2019-06-07 12:26] xdamman commented on #2106
That's a very good question. I see no reason why it shouldn't be public. But at the same time given it's an internal custom reference, it's not that useful for the public.

[2019-06-07 12:55] Betree commented on #2106
Would that be ugly or too hacky to put this reference in the expense title?

[2019-06-07 13:04] xdamman commented on #2106
Yeah too ugly. Also need to be able to filter by it in the spreadsheet being sent to the host / collective.

[2019-06-07 14:32] xdamman opened #2107 "Bug: Don't show expenses from unapproved collectives in host dashboard"
Somewhat related to #1967

We shouldn't show the expenses from collectives that have applied to the host but have not been approved yet.

[2019-06-07 16:48] Betree commented on #2076
Let's wait for frontend to be merged to close this

[2019-06-07 22:59] mixmix opened #2108 "unknown status of my new collective"
**Describe the bug**
I just made a new collective and I saw this :
![image](https://user-images.githubusercontent.com/2665886/59137454-10d95600-89dc-11e9-8b00-a81cc34f96c8.png)

fair enough, it's being approved, I'll come back tomorrow. To be clear the text to me reads as **"your account has not yet been approved"**

Leave tab, open, refresh it the next day ... same thing.

Oh wait, the url is : h

[2019-06-08 08:17] znarf commented on #2108
Related: https://github.com/opencollective/opencollective/issues/1878 https://github.com/opencollective/opencollective/issues/2100

[2019-06-08 10:34] alanna opened #2109 "User should be taken to the expense's page after submitting"
Initially, a user contacted support saying they could't find their unapproved expense after submitting. They thought it was hidden until approval. Later they realised it was just hidden in the list of expenses and they didn't see it.

~~1. Expenses submitters should always be able to see their own expense, regardless of status~~
2. After submitting an expense, take submitter to that expense's page

[2019-06-08 11:22] #2108 closed

[2019-06-08 11:24] mixmix commented on #2108
closed as this was a duplicate

[2019-06-08 11:25] mixmix commented on #2100
yeah #1878 is similar, but is specifically saying "The message is confusing, write that better". This issue is "This message is there times when it shouldn't be". Both are important

I've closed this issue (duplicate of mine)  https://github.com/opencollective/opencollective/issues/2108 , but there's a link in case you want to read how I describe it.

[2019-06-08 14:01] klmansel opened #2110 "Backers cannot contribute recurring donations"
**Describe the bug**
On specific collectives, the _Become a backer_  or _contribute_ options do not allow recurring contributions. The `Frequency` box is greyed out/disabled. When choosing _Or make a one time donation_, contributors have the option to choose a monthly or yearly donation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/wwcodegreenville
2. As a

[2019-06-09 04:26] alanna commented on #2103
@Betree what is the motivation/purpose of this feature? Who is asking for it? Who have we tested it with? I'm just surprised this is being prioritized as I've not heard it requested through support or through Open Source Collective channels.

[2019-06-09 04:48] alanna commented on #2081
I think that making events a whole other Collective is way more complex. If someone wants a whole seperate Collective, let them create a seperate Collective. Don't frankenstein it into the way existing Collectives work. We made a call recently that goals should not have seperate budgets, specifically because of the complexity it introduces (for example, not knowing which budget to submit an expens

[2019-06-09 04:54] alanna commented on #2110
Related to #1789 ?

[2019-06-09 05:01] alanna commented on #2105
We already have a [cooperative host on the platform](https://opencollective.com/platform6-coop). Graham is on our Slack - @xdamman maybe you should have a discussion with him about how they manage this?

I think we'd be better off building a generalisable feature, where Collective admins could set the info Collected, because co-op regulations will be different in different countries, and because t

[2019-06-09 11:35] klmansel commented on #2110
Yes! I didn’t see that one when searching. This is directly related.

[2019-06-09 14:00] Betree commented on #1805
https://patleeman.github.io/quill-markdown-shortcuts/ is a plugin for `react-quill`, the editor that we already use today on OC. It makes typing faster if you know markdown, but anyone can actually use it.

[2019-06-09 14:10] Betree commented on #2103
It's part of [the design for the new collective page](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=2856%3A41275), the motivation is to surface any type of contributors (not only financial) on the contributors grid that is already implemented:

![image](https://user-images.githubusercontent.com/1556356/59159866-f41e4a80-8acf-11e9-99ce-eb77ebffac82.png)

I'm

[2019-06-09 23:18] alanna commented on #2109
The user came back and said:

I still feel 2. above is relevant, so I'm updating this issue to reflect that.

[2019-06-10 07:52] samswag opened #2111 "Dead link for Developer's Documentation"
On the open collective readme.md file, the section with Documentation doesn't include a link for the developer's guide.

[2019-06-10 09:47] piamancini commented on #2103
@alanna this was part of the initial design of open collective and we removed it because it was too heavy. Collectives liked it. It's a way of showing the whole community behind a collective not just the admin or the core team.

[2019-06-10 09:50] piamancini commented on #2100
@xdamman could you look into this on Friday?

[2019-06-10 09:51] piamancini commented on #2106
This will be tackled in the expense redesign process.

[2019-06-10 11:26] piamancini opened #2112 "requirements for profile page"
We want to release a new version of the user and organization's profile to match the look and feel of the new collective page:

- Re use components from the new collective page (NCP):

- short description under the avatar (we have a short description field in the profile editing)

- long description after the cards

- re-use edit page components of the NCP

- filters should appear after 10 cards.

[2019-06-10 14:57] cichy81 opened #2113 "not listed as contributor"
hey there 4 days ago i  monthly i became monthly backers  but still im not listed ?  organization : online roulette uk ,thx

[2019-06-10 17:15] #2072 closed

[2019-06-10 22:53] alanna commented on #2111
I have updated the README to remove outdated info and point to the help docs

[2019-06-10 22:53] #2111 closed

[2019-06-10 22:57] alanna commented on #2103
OK that makes sense @piamancini @Betree. I agree it would be nice to have.

My thought process was like this....

* Oh, this will mainly benefit OSC Collectives, maybe this should be paid from that budget
* Hmmm considering the OSC's limited budget, I don't think this is the priority right now

If it's more of a backlog item, that's fine. I hope we have it someday; there are just other more urgent

[2019-06-10 23:03] alanna commented on #2113
Which Collective did you donate to?

[2019-06-10 23:05] alanna commented on #2002
This has come up a couple times in the last few days ([here](https://github.com/opencollective/opencollective/issues/2113) and [here](https://opencollective.freshdesk.com/a/tickets/414)) so I think we need to solve it.

[2019-06-11 07:21] znarf opened #2114 "Track Tiers history"
On a few tables, we're tracking the whole history of modifications (Collective, Expense, Order, Subscription).

We need to activate that for Tiers, it will would be really useful for troubleshooting.

[2019-06-11 07:48] Betree commented on #2002
I think that https://github.com/opencollective/opencollective/issues/2097 would be a great way to solve this. Maybe we can tackle https://github.com/opencollective/opencollective/issues/2006 at the same time: we could, when admins click on User card > Remove member, add a confirmation like this:

[2019-06-11 07:52] Betree commented on #2006
Only blocker to implement this is https://github.com/opencollective/opencollective/issues/1656. We don't have the proper refund functions for collective to collective and manual donations. We should add them before implementing this, otherwise users will get an error whenever they try to refund such transactions.

[2019-06-11 07:55] #2076 closed

[2019-06-11 07:56] Betree commented on #2076
Thanks for handling this @leonardohof, you did a great job!

If you have any feedback on how we could improve the bounty process or how to better onboard new developers please [share it with us](https://slack.opencollective.com/), we're always eager to improve :slightly_smiling_face:

---

:trophy: This issue is now completed. You can **claim the bounty** by submitting an expense to https://openco

[2019-06-11 08:10] samus-aran commented on #2076
Fantastic! Great job @leonardohof :tada:

[2019-06-11 08:50] alanna commented on #2081
Discussed in meeting.

@piamancini : events have been frustrating but we should find a way to keep them

@znarf : it would be better to integrate with an external events platform

@Betree : it might lead us to make good improvements to tiers like collecting extra info

Decision: events isn't the priority right now (new collective page and expense flow is more important), maybe Alanna and @pietgeur

[2019-06-11 09:10] xdamman commented on #2081
+1 on @znarf’s idea of better integrating with 3rd party event systems.

Independently of that I think it’s a good idea to add tags to tiers and to expenses and something to keep in mind as we are redesigning those components.

[2019-06-11 09:51] #2095 closed

[2019-06-11 09:54] znarf commented on #2070
@alanna can you confirm it's working now?

[2019-06-11 09:57] znarf commented on #2086
@flickz Can you try again with the application being accepted? Same?

[2019-06-11 09:59] znarf commented on #2095
Thank you @leonardohof ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-06-11 10:19] znarf commented on #2086
@alanna I'm not able to reproduce.

- Were the steps confirmed by you? Are you sure that was the path taken?
- Can you share wider screenshots?

[2019-06-11 13:27] #2107 closed

[2019-06-11 15:03] yellowwoods12 commented on #1853
@alanna @znarf @cuiki @Betree I think a possible solution to the right opacity of an image could be if we check the RGB values of the container component or the background cover and accordingly set the opacity.
Tell me if this could be one approach?

[2019-06-11 16:24] xdamman commented on #1774
This is what I could find about good practice and compliance to store SSN (social security numbers): https://security.stackexchange.com/questions/143235/what-is-the-best-practice-industry-standard-for-storing-documents-with-social

Amazon S3 is PCI compliant. But as a good practice, we should encrypt the documents that we store and keep the private key away from S3.

[2019-06-11 20:47] Betree commented on #1853
@yellowwoods12 It would work, that's a good approach. However it adds some complexity that we probably want to avoid right now because we're totally re-designing this page (see https://github.com/opencollective/opencollective/issues/1951).

[2019-06-12 08:09] znarf opened #2115 ""Make a one time donation" is misleading"
It should be more: "Make a free donation (one time or recurring)"

[2019-06-12 08:10] znarf commented on #2115
What should be the proper copy @piamancini @alanna?

[2019-06-12 08:36] gusaus commented on #1996
@piamancini @alanna @xdamman Being well aware all the Slack conversations are difficult to track, it would be great if we could use this issue (or create a new one if appropriate) to sort out hosting options for internal or partner chapters (please can we use the common definition of 'chapter' as  regional group..regardless of the entity type).  As noted in https://github.com/opencollective/openco

[2019-06-12 08:48] flickz commented on #2073
Closed in [#2060](https://github.com/opencollective/opencollective-api/pull/2060)

[2019-06-12 08:49] #2073 closed

[2019-06-12 09:12] piamancini commented on #2115
I need better context here.

[2019-06-12 09:59] znarf opened #2116 "Updating the default Readme integration"
There are several problems with the current Readme integration, the bigger one being the confusion between Backers / Sponsors vs Individuals / Organizations.

We want to iterate on it. We decided to keep the spirit of the current Readme integration but focus on fixing and clarifying the terminology.

Related: https://github.com/opencollective/opencollective/issues/1969

### Changes

- [ ] We keep

[2019-06-12 10:06] znarf commented on #2115
@piamancini

![Capture d’écran 2019-06-12 à 12 06 02](https://user-images.githubusercontent.com/806/59342668-7db95c80-8d0a-11e9-949e-1ea3e89690bd.png)
![Capture d’écran 2019-06-12 à 12 05 50](https://user-images.githubusercontent.com/806/59342669-7db95c80-8d0a-11e9-9a4d-ddab0bd0fbe6.png)

[2019-06-12 10:33] johanricher commented on #1963
Have you diagnosed the problems with your API? it seems to me it might be much deeper than the symptoms I have reported here...

[2019-06-12 11:17] znarf commented on #2116
Related: https://github.com/opencollective/opencollective-images/pull/73

[2019-06-12 11:52] xdamman commented on #2115
“Or just make a donation”?

Basically the idea is that you just want to make a donation without any reward and independently of any predefined tier.

[2019-06-12 12:01] piamancini commented on #2115
This is solved in the new collective page, I don't understand the question.

[2019-06-12 12:10] znarf commented on #2115
If you don't understand the question, how do you know it's solved?

I don't think the "Make a one time donation" link on this page https://opencollective.com/graphql-shield/tiers will be fixed by the new collective page.

[2019-06-12 12:21] Upperholme commented on #2105
Hi. Agreed - the requirements will be different in different jurisdictions. We've talked within Platform 6 about the possibility of using Open Collective for share issues (in the UK a co-op fundraise exercise is commonly called a "community share issue").

Three things came up for us as potential blockers:

One is the cost - OC is a bit more expensive to use than some of the other crowdfunding pla

[2019-06-12 12:26] Upperholme commented on #2105
Our current approach to using OC is to encourage pre-start cooperative projects (particularly where they don't yet have legal structure or bank account) to use the facility to fundraise and begin to pull their crowd together, and the plan is that this forms part of a wider package of support, so enabling a share raise on the same platform certainly makes sense.

[2019-06-12 12:30] Upperholme commented on #2105
And as @alanna is aware, we're keen to do more in partnership with OC over time, in terms of moving beyond simply finance-as-a-service and more into governance-as-a-service, especially Cooperation-as-a-Service, which we think may be of interest/value to soem of the open source projects already working with OC in terms of creating a sustainable business model.

[2019-06-12 13:19] coopsmark commented on #2105
I'd echo Graham's comments above. Here's an example of a share offer launched today for Equal Care Co-op - a platform co-op that I'm working with. https://www.ethex.org.uk/equalcare

[2019-06-12 13:26] coopsmark commented on #2105
It would be good if an existing open collective were able to morph(upgrade?) to a share offer enabled collective. This would allow the co-op to build a community of potential investors.

[2019-06-12 13:26] xdamman commented on #1963
We never really foresaw the use case of a free tier. But it makes sense to support that use case.

This is how we get the data for that page:
https://github.com/opencollective/opencollective-frontend/blob/master/src/graphql/queries.js#L428

The problem is that all those orders have a `PENDING` status. This is the bug.
We should also make it better front end wise. We should just have to select the

[2019-06-12 13:30] coopsmark commented on #2105
Another useful funactionality of an OC share offer would be the ability of the collective to act like an Escrow account - the host only releasing funds on the hitting of the target for minimum rise. You would also need the ability to return funds to applicants if the offer fails to meet the target; or the co-op rejects some or all of the application - it's common to cap applications and only issue

[2019-06-12 13:30] coopsmark commented on #2105
Happy to take part in any further discussion and as a licensed UK community shares practitioner can offer a UK perspective.

[2019-06-12 13:36] xdamman commented on #1963
It looks like we are missing the case where the order does not require a payment and the collective is not of type of `EVENT`
https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/mutations/orders.js#L486

[2019-06-12 13:38] znarf commented on #1963
Ok, then it's more precise than that. It seems the problem in that case is that it's a free **yearly subscription** (`amount=0 type=MEMBERSHIP interval=year amountType=fixed`).

@xdamman Do we want to actively support that?

[2019-06-12 13:55] piamancini commented on #2115
Because if the question is that making a one time donation is not clear, then it will be, because it'll be a different card at the same level of the others. It is not a free tier, it has a cost. There's no such thing as a free donation, hence my confusion.

[2019-06-12 14:00] xdamman commented on #2105
@Upperholme thanks for the feedback.

1. We offer the option for people to pay directly the host via bank transfer. In that case, the host has to manually record the transaction as paid when they received the funds. Because it’s a semi manual process, there is no 5% platform fee.

2. You can be anonymous/pseudonymous on Open Collective. You can create a different profile and use that to make the d

[2019-06-12 14:16] #2011 closed

[2019-06-12 14:17] johanricher commented on #1963
The use case is to manage the membership of a non-profit organisation with Open Collective. I thought you were open to that.

[2019-06-12 14:26] xdamman commented on #1963
It’s a bit weird to have a free yearly/monthly tier (if it’s free, why should it be automatically renewed?), but in any case, it shouldn’t matter.

When processing an order for which the `totalAmount === 0`, it should automatically be marked as `PAID` and not stay in the `PENDING` state.

@johanricher yes I think it’s a good idea to allow collectives to also have free tiers, in fact in the upcomin

[2019-06-12 14:30] johanricher commented on #1963
I support this, Open Collective would match with a lot more use cases.

[2019-06-12 14:39] znarf commented on #2115
I tried to nail the problem as a single sentence, on a single page with a screenshot and a link to the page.

Today we have a link that is **not on the collective page**, the link say "Make a one time donation". You can see it there: https://opencollective.com/graphql-shield/tiers But it's wrong, because you are actually allowed to edit it as recurring (monthly / yearly), so users are confused. Se

[2019-06-12 14:42] piamancini commented on #2115
ahhh you see, when it's al in the framing of the problem! I would say, make a custom donation

[2019-06-12 15:11] Upperholme commented on #2105
Thanks for responding to the points raised.

Regarding the issue of anonymity, to confirm, any additional data collected would need to not be publicly accessible, so that all that would be visible would be a username and the amount invested.

On the issue of what data is needed, @coopsmark would know chapter and verse as regards any regulatory requirement, but I think we'd need name and postal add

[2019-06-12 15:18] Upperholme commented on #2105
I wouldn't know what a "National Registry number" might be. In the UK individuals have a national insurance number, and incorporated organisations would have an ID number (although not unincorporated organisations).

[2019-06-12 15:27] maticzav opened #2614 "Bot should notify maintainers when a backer creates an issue"
I believe it would be beneficial if we added a `notify` option to the configuration which would modify the behaviour of the app in such a manner that would notify maintainers once someone who is backing the project submits an issue or a PR.

[2019-06-12 16:53] coopsmark commented on #2105
Here is a generic share certificate, although there is no legal requirement in the UK to issue a certificate. Note that when we are talking about co-operatives issuing shares in the UK, we are only using the Co-operative Society or Community Benefit Society legal form and issuing withdrawable (not tradeable shares). Using a Company structure for a public offer of anything but publically tradeable

[2019-06-12 17:01] coopsmark commented on #2105
Typical information asked for on a share application:

- Name, Address, Phone no., email
- If applying on behalf of an organisation, the name of that organisation, registered no. and the name of a nominated individual.
- The no./value of shares applied for
- There would also normally be a check box to indicate that the applicant agrees to some statements, for example:
I have read the share offer d

[2019-06-12 17:03] coopsmark commented on #2105
If you want an accessible overview and reference of the use of withdrawable share capital in co-ops, then I recommend www.communityshares.org.uk

[2019-06-12 21:09] Betree commented on #1839
Most of this issue is now implemented, the rest (The EditWebhooks component will have a button to "Configure Zapier Integration" which will open Zapier in a new tab.) is being tracked in https://github.com/opencollective/opencollective/projects/20

[2019-06-12 21:09] #1839 closed

[2019-06-12 21:13] Betree commented on #328
Alright, two years later we can finally close this :tada:

**The Zapier app is now available on https://zapier.com/developer/public-invite/21484/63399c65bb01d75e00fe091ae7f58683/**. We'll make it public on Zapier once we get enough feedback, but everyone with this invite link can already use it.

The app currently has support for the following events:
- New member
- New update
- New expense

New n

[2019-06-12 21:13] #328 closed

[2019-06-12 21:14] ghuntley commented on #1839
omg omg omg

[2019-06-12 21:21] nemchik commented on #328
I had been meaning to come back and leave a comment. This does seem to be working for me. Some of the events seemed a bit confusing as to why they had or did not have certain information, but that would deserve a separate ticket since the feature add is complete.

[2019-06-13 05:54] alanna commented on #2115
Make a custom *financial contribution*. I hope we're sticking to the clarified terminology for everything in the new Collective page.

[2019-06-13 05:56] alanna commented on #2070
User confirmed this is fixed for them

[2019-06-13 06:55] Betree opened #2117 "Add a `formattedAmount` field for Zapier payloads"
Add a `amountStr` (string) field in the payloads sent to Zapier (ex: `$42.50`) to use instead of `amount` that uses cents which requires formatting before being used.

Zapier provides tools to format a value, but it requires a "pro" account. By doing this change we'll enable all collectives to easily use amounts from notifications in their integrations.

Must be update on API and in https://github

[2019-06-13 06:56] Betree opened #2118 "Add link to Zapier in Edit > Webhooks"
As suggested by Xavier, we should add a link to the Zapier app to promote it in Edit > Webhooks.

[2019-06-13 09:20] flickz commented on #2090
I'm closing this now with [#1796](https://github.com/opencollective/opencollective-frontend/pull/1796) and will reopen when the design team provide redesign for the single update interface.

cc @znarf

[2019-06-13 09:20] #2090 closed

[2019-06-13 09:21] flickz commented on #2058
@brymut & @Betree I think you're good to go here.

[2019-06-13 09:36] coopsmark commented on #2105
Just posting this too in case you haven't seen it. It's looking to revive an historic method of co-op finance of worker co-ops in the UK- using retained profit to gradually buy out investors by replacing their share capital with that of members who trade with the co-op. https://www.nesta.org.uk/report/platform-co-operatives/

[2019-06-13 10:51] znarf opened #2119 "Migrate to new Sign In form"
## Background

This year, as part of our "Contribution Flow", we moved to new "Sign In" components. These one:

- https://github.com/opencollective/opencollective-frontend/blob/master/src/components/SignIn.js
- https://github.com/opencollective/opencollective-frontend/blob/master/src/components/SignInOrJoinFree.js

## Problem

While we migrated the key areas where we're using the "Sign In" form, w

[2019-06-13 10:52] yellowwoods12 opened #2120 "Poor alignment of "team" section on the Collective page"
**Describe the bug**
Poor alignment of the "team" section on the collective page. It looks very odd.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/scicommxyz-mastodon-instance'.
2. Scroll down to 'team' section.
4. See error

**Expected behavior**
The alignment of the 'team' section should be center like the other sections on the same page.

**Screenshots*

[2019-06-13 10:53] znarf commented on #2119
A $300 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2019-06-13 10:54] znarf commented on #2115
Fixed in https://github.com/opencollective/opencollective-frontend/pull/1932

[2019-06-13 10:54] #2115 closed

[2019-06-13 11:20] znarf commented on #2038
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2019-06-13 11:21] znarf commented on #2119
I forgot about an existing previous issue: https://github.com/opencollective/opencollective/issues/1676

[2019-06-13 11:22] znarf commented on #1676
Closing as duplicate of https://github.com/opencollective/opencollective/issues/2119

[2019-06-13 11:22] #1676 closed

[2019-06-13 11:30] znarf commented on #1484
A $300 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

Check list for completion:

- [ ] No components should rely directly on `withLoggedInUser` anymore
- [ ] Components should all use `withUser` instead
- [ ] No broken functionality
- [ ] All tests are passing

[2019-06-13 11:38] znarf commented on #1987
@yellowwoods12 Any progress? I forgot, once assigned, there is a time limit on bounties, in this case 7 days. This might be extended.

[2019-06-13 11:44] Betree commented on #2120
Hello @yellowwoods12, this is because the right column is normally reserved for the tiers:

![image](https://user-images.githubusercontent.com/1556356/59429819-e3781800-8de0-11e9-8637-a8e52c18f519.png)

The reason why it looks bad is because https://opencollective.com/scicommxyz-mastodon-instance have no tiers setup, which is a very rare case. I agree that if there's no tier we should ideally cent

[2019-06-13 12:01] znarf commented on #1878
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2019-06-13 12:04] znarf commented on #960
This will be impacted by https://github.com/opencollective/opencollective-frontend/pull/1686

[2019-06-13 12:07] znarf commented on #2091
Linked to: https://github.com/opencollective/opencollective/issues/1878 The API might help.

[2019-06-13 12:07] znarf commented on #2110
The "Make a one time donation" link is gonna be updated soon.

[2019-06-13 12:11] znarf commented on #2110
A simple fix would be to have the `Frequency`editable, triggering a modal warning:

- If "Confirm", redirect to the "custom financial contribution".
- If "Cancel", nothing

[2019-06-13 12:13] znarf commented on #2109
I should be ordered by most recent, but relative to the expense date (user submitted), not the submission date (automated).

[2019-06-13 12:18] znarf commented on #2100
- The message should be customized depending if the collective is approved or not.
- The upcoming "pending approval banner" https://github.com/opencollective/opencollective/issues/1878 should not be displayed at the same time that this green message.

[2019-06-13 12:25] znarf commented on #2117
It's a good feature request for the GraphQL API v2 too. This is for this kind of use case that I decided to have the `Amount` object, instead of a `String` or `Integer`.

[2019-06-13 12:29] #1161 closed

[2019-06-13 12:36] znarf commented on #1198
@xdamman is that still valid?

[2019-06-13 12:36] znarf commented on #1408
@xdamman is that fixed?

[2019-06-13 12:38] znarf commented on #1243
@xdamman Is "Show stripe connected account when editing organization or user" still a todo?

If so, can you create a separate issue explaining what needs to be done so we can close this one?

[2019-06-13 12:38] znarf commented on #1320
@xdamman is that fixed?

[2019-06-13 12:39] znarf commented on #1418
@xdamman can we close this?

[2019-06-13 12:44] znarf commented on #1470
@xdamman still waiting on your feedback on this one.

[2019-06-13 12:49] znarf commented on #464
I'm closing this issue. Some of the feature requests are covered by the Open Collective Bot and the Open Collective Zapier integration.

If something is not covered by that or if you want something more specific, please create a new issue!

[2019-06-13 12:49] #464 closed

[2019-06-13 12:53] znarf commented on #1589
This is being tackled in:
- https://github.com/opencollective/opencollective/issues/2116
- https://github.com/opencollective/opencollective/issues/1969

Feel free to jump on these issues to make sure we're properly addressing your points.

[2019-06-13 12:55] znarf commented on #1589
Closing. If you want us to check some specific numbers, you can contact support. http://opencollective.com/support

[2019-06-13 12:55] #1589 closed

[2019-06-13 13:36] eloyekunle commented on #1438
I'll like to work on this.

[2019-06-13 15:35] znarf commented on #2115
Just spotted that. ![Capture d’écran 2019-06-13 à 17 34 20](https://user-images.githubusercontent.com/806/59446320-8e003300-8e01-11e9-86e3-893676aef474.png)

[2019-06-13 15:56] znarf commented on #2101
## Notes

(This will be edited).

- https://opencollective.com/meetups is featuring a link to apply but when I click on it https://opencollective.com/meetups/apply I get "This host is not open to applications"

[2019-06-14 02:09] alanna commented on #2086
@znarf the original message said:

I have manually approved this Collective already, so that user will no longer be able to see this message. I tried reproducing it with a test Collective but was not able.

[2019-06-14 02:18] alanna commented on #1996
I've put an item for this on the agenda of our Open Source Collective board meeting next week. We need to clarify whether or not we can host tech related meetup groups under that umbrella. If so, we can get a lot more expansive in our support for international meetup groups. If not, we should be thinking about how to support other fiscal hosts to take this on.

[2019-06-14 07:36] Betree commented on #1470
To put fresh data on this one, the idea is to delete all members with role=`FUNDRAISER` if there's no order made with them in `ReferralCollectiveId`.

Here are the members that will be deleted:

| role       | member           | collective                     |
|------------|------------------|--------------------------------|
| FUNDRAISER | hutson           | mochajs                        |
| FU

[2019-06-14 07:45] Betree commented on #2058
Alright, thanks @flickz :slightly_smiling_face:

@brymut ready to work on this?

[2019-06-14 09:09] Betree opened #2121 "New collective page: Contribute cards images"
In the new collective page, we want to be able to add images on contribute cards. For now it means that we need to be able to link an image to a tier.

# Specs

### API

- [ ] Add `image` column to Tiers model
- [ ] Add `image` field in GraphQL
  - [ ] If tier has an image linked to it, use it
  - [ ] Otherwise if tier has a linked YouTube video, use `https://img.youtube.com/vi/${youtube_id}/mqdef

[2019-06-14 09:43] flickz commented on #1965
@xdamman Not been able to reproduce this issue perhaps more details will be helpful.

[2019-06-14 09:53] znarf commented on #1965
@xdamman @flickz Just tested on staging and it's effectively working.

[2019-06-14 10:21] piamancini commented on #1470
The fundraiser idea never flew - I am ok with adding it to the kill list.
@Betree Is this impacting gift cards? I remember it was showing as 'fundraiser' at the beginning.

[2019-06-14 10:25] piamancini commented on #2101
@znarf - removed the reference

[2019-06-14 10:26] #1418 closed

[2019-06-14 10:26] piamancini commented on #1418
yes.

[2019-06-14 10:29] piamancini commented on #1243
This has been done. Closing issue.

[2019-06-14 10:29] #1243 closed

[2019-06-14 10:31] piamancini commented on #2091
I think this was fixed by @xdamman. Xavier please confirm?

[2019-06-14 10:32] znarf commented on #2101
@piamancini what did you do exactly?

[2019-06-14 10:34] xdamman commented on #2091
Yes it’s fixed

[2019-06-14 10:42] EslamHiko commented on #1987
@znarf Hello, can I work on this issue?

[2019-06-14 10:46] Betree commented on #1470
@piamancini This is indeed linked to gift cards, you remember correctly: the amounts donated through gift cards were recorded as "fundraising".

The change proposed here should remove `FUNDRAISER` members from this time when their amount fundraised is now "0" (it's mostly triplebyte as they were the ones using this feature intensively at the time).

I have a better understanding now of the gift ca

[2019-06-14 10:59] #1967 closed

[2019-06-14 11:07] brymut commented on #2058
Yep @Betree, will get back on this over the weekend. Thanks @flickz!

[2019-06-14 11:22] tsriram commented on #2119
Hey @znarf, I'd like to give this a shot. Can I get this assigned to me?

[2019-06-14 12:01] piamancini commented on #1470
SGTM

[2019-06-14 12:03] piamancini commented on #2101
@znarf just deleted the link in the collective's description. The host shouldn't be showing up as on option to apply to in the flow since it doesn't have an "apply":true in the settings.

[2019-06-14 12:22] yellowwoods12 opened #2122 "Adding a "Handling General Errors" section to the documentation."
## User story
 _While I was following the Readme Integration article provided in the documentation I got an error in the process. This gave me an idea of adding a "Handling General Errors" section to the documentation that involve steps of installation of any specific file or running any particular process._

## Best solution for this problem
_Adding a "Handling General Errors" section to the docu

[2019-06-14 12:31] yellowwoods12 commented on #2120
Hi @Betree, where can I find the details about redesigning and what is its current status? I would like to contribute in that.

[2019-06-14 12:53] znarf commented on #2101
@piamancini there is so many things mentioned in this issue, it's difficult to follow if you're not explicit. I think you're talking about https://opencollective.com/meetups Ok then.

[2019-06-14 12:58] Betree commented on #2120
@yellowwoods12 The progress is tracked here: https://github.com/opencollective/opencollective/projects/18. You can try it by adding `/v2` at the end of the URL (ex: https://opencollective.com/babel/v2).

Also if you're curious about the final design this is what it will look like when ready: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=0%3A7428

It's not ea

[2019-06-14 13:00] xdamman opened #2123 "Subtract VAT in net amount for collective"
![](https://d.pr/free/i/XfhqAS+)

We should include the VAT in the breakdown of the fees and subtract it to compute the net amount available for the collective

[2019-06-14 13:01] xdamman opened #2124 "Include VAT in host report"
- [x] Add VAT column in the transactions export
- [x] Add total VAT collected in host report

[2019-06-14 14:07] xdamman commented on #1470
Sounds good!

[2019-06-14 15:28] leonardohof commented on #1484
@znarf I'd like to work on this issue.

[2019-06-14 15:36] znarf commented on #1484
@leonardohof You're assigned! The initial time limit is 1 week, it can be extended if necessary.

[2019-06-14 19:35] #2083 closed

[2019-06-14 20:44] leonardohof commented on #1387
@Betree I'd like to work on this issue.

[2019-06-14 20:57] Betree commented on #1387
@leonardohof all yours! Ping me if you need anything :)

[2019-06-15 08:00] yellowwoods12 commented on #2120
@Betree Yes sure. Will look into them :)

[2019-06-15 13:02] carlcollins35 commented on #2122
Great Idea @yellowwoods12 , I can get started on that.

[2019-06-15 13:43] Betree commented on #2122
Sounds good to me!

[2019-06-15 15:13] EslamHiko commented on #1987
@znarf I created this PR https://github.com/opencollective/opencollective-frontend/pull/1959 this is the frontend part so what do you think?

[2019-06-16 07:37] yellowwoods12 commented on #2122
@Betree Yes like we can test the installation over different OS distributions and create this section accordingly.

[2019-06-16 15:36] t-k- opened #2125 "Couldn't find any repositories (with >= 100 stars) linked to the account"
**Describe the bug**
I have a open source project with 200 stars now, when I create an opencollective project, it says

**To Reproduce**
Login as approach0 (my account), go to https://opencollective.com/pricing and click create opencollective, choose opensource project and then click "get started".

**Expected behavior**
Can proceed.

**Desktop (please complete the following information):**
 - OS:

[2019-06-16 15:38] t-k- commented on #2125
Sorry, I just find that I have linked a wrong Github account in my profile page. I am closing the issue...

[2019-06-16 15:45] t-k- commented on #2125
I have to re-open this issue, it still says

I want to link to my project under GitHub organization `approach0` which satisfies the star requirement and I am the current owner of that organization, but it seems you only check the projects under my personal Github account (`t-k-`), I want to ask if there is any way to create an opencollective project for a project under organization account (it is

[2019-06-16 15:56] piamancini commented on #2125
@t-k- you need to revoke permits and re auth this time checking to authenticate as an 'organization' - there's a checkbox scrolling down. lmk how it goes.

[2019-06-16 17:56] #2091 closed

[2019-06-17 03:46] t-k- commented on #2125
@piamancini Thank you so much, I have successfully created the opencollective under your instructions. I am closing this issue again. There is one minor thing though, under my [opencollective page](https://opencollective.com/approach0), it has a title style "GraphQL error", I do not know why it is there, maybe I should open another issue?

[2019-06-17 03:46] #2125 closed

[2019-06-17 08:17] Betree opened #2126 "Reduce the numbers of fields fetched for LoggedInUser"
The [query](https://github.com/opencollective/opencollective-frontend/blob/9895a3b0a459806232614479d0b0a3b6d668d0ac/src/graphql/queries.js#L74) to fetch `LoggedInUser` when login in is quite heavy. Depending on how many collectives you're an admin of, how many payment methods you have...etc it can take up to 5-6 seconds to load it.

The all point of GraphQL being to load what you need when you nee

[2019-06-17 11:50] piamancini opened #2127 "proposal: updates in homepage"
When we did the survey to open source maintainers, this is what they said they loved the most about Open Collective:

I'd love to update the homepage to include this quote as a testimonial.

[ ] We are talking about Backers / Sponsors in the Homepage a distinction we are not removing.  This needs to be updated too. It should reflect the new Contributors language.

[ ] Finally the website should ha

[2019-06-17 13:56] #2101 closed

[2019-06-17 14:12] znarf commented on #2116
See sample PR:
https://github.com/opencollective/backyourstack/pull/176

Implementation:
https://github.com/opencollective/opencollective-setup/pull/5

[2019-06-17 23:22] alanna commented on #2127
I definitely agree about updating the homepage to reflect our clarified terminology and match the Collective pages.

I think the content you specified is good @piamancini - I would just seperate it into general and open-source.

This is general:

And this should be in the 'open source' section of the page:

[2019-06-18 00:30] alanna commented on #1458
We need to reopen this discussion.

I am about to send out a marketing campaign to fiscal sponsor orgs, and I do a lot in the space of host onboarding generally. To me, the fiscal hosting aspect is the most exciting part of Open Collective, and each fiscal host has a potential magnifying impact of all their Collectives combined. But it's not really helping us thrive if we don't get any fees from t

[2019-06-18 08:27] flickz commented on #2098
Close in [#2118](https://github.com/opencollective/opencollective-api/pull/2118)

[2019-06-18 08:27] #2098 closed

[2019-06-18 08:28] tsriram commented on #2119
Ah, I started with this the other day just to see @yellowwoods12 is almost done with this now. Wish GitHub notifies me when an issue is assigned to someone :)

[2019-06-18 08:29] tsriram commented on #2119
Oops, how did I unassign @yellowwoods12. I don't even have access to do that!

[2019-06-18 08:46] znarf commented on #2119
@tsriram Don't worry, maybe a GitHub bug. Fixed.

[2019-06-18 09:20] znarf opened #2128 "Custom fields for Tiers"
## User story

As a collective admin, I want to be able to collect custom information from individual or organizations contributing financially through a tier.

It's relevant for example for the Back My Entire Stack project, where we want to collect the URL of a JSON file that summaries dependencies. https://github.com/opencollective/backyourstack/issues/168

## Implementation

### API side

A) Ex

[2019-06-18 09:36] Betree commented on #2128
May be worth looking at JSON schema, it's not so far from the specification proposed here and being a standard there are plenty of libs that are capable of building forms automatically based on it (ex https://github.com/mozilla-services/react-jsonschema-form)

[2019-06-18 09:44] alanna commented on #1508
@znarf requested this and a few other issues related to pending orders be broken down into clearly seperate issues. So this one is about a notification email to the host of pending orders. I'm taking out the part about a way to delete/cancel a pending order and raising a new issue for that.

Some more clarity about the desired notifications:

1. When a pending order is created, trigger a "new pend

[2019-06-18 10:12] znarf commented on #2128
In this context, I would implement something simplistic that matches our Input components. But, we can get inspiration for the JSON structure.

[2019-06-18 11:39] #1987 closed

[2019-06-18 13:22] znarf opened #2129 "Handle tiers that creates a "prepaid" card after payment"
Draft

## User story

For "host collectives" (collectives linked to a fiscal host to manage their budget), we want to create special tiers that create a "prepaid" card after a payment is validated.

## Limitations

- This should be available at first only for tiers of "host collectives". They can be recognized with their `settings.hostCollective=true` ie: http://opencollective.com/opensource
- The

[2019-06-18 15:15] davebrny commented on #1738
im finding this quite awkward as well.

when im logging into the site im doing it on my desktop computer, but im hardly ever logged into my email there. i only really use the email app on my phone but thats not much use because i will be clicking the link in the email which will open it in my phones browser.
if i want to log into my email service on my desktop computer then i have to get out my ph

[2019-06-18 18:55] samdark opened #2130 "Contribute button on update page does not work"
Contribute button on update page does not work

**To Reproduce**

1. Go to https://opencollective.com/yiisoft/updates/yii-2-0-21-and-issue-cleanup
2. Click on "contribute".
3. Nothing happens. URL becomes https://opencollective.com/yiisoft/updates/yii-2-0-21-and-issue-cleanup#contribute.

**Expected behavior**

Expected to get to https://opencollective.com/yiisoft/contribute as from the homepage.

[2019-06-18 21:56] xdamman opened #2131 "We shouldn't be able to make a donation on behalf of a collective with a credit card"
Right now, I can make a donation on behalf of a collective that I'm an admin of.
But in the contribution flow, it should only let me use the balance of the collective.
Right now, it lets me use one of my credit cards.

The problem with that is that it messing up with the ledger because the transaction records a platform fee and payment processor fee because it is using Stripe. But in the ledger th

[2019-06-19 00:54] alanna commented on #2075
Bank transfer payment option has been turned on for OSC

[2019-06-19 00:54] #2075 closed

[2019-06-19 00:57] alanna commented on #1994
@znarf - this issue is for dealing with all the weird old pending orders that don't make sense.

Easiest way to see them is to go to the OSC host dashboard and filter orders by pending. Unless they were created in the last couple days since you turned the feature on (which I don't think any have been yet), they are mysterious and shouldn't exist.

[2019-06-19 01:01] alanna opened #2132 "Sort pending orders chronologically"
## User story
As a host admin, I want to be able to find the pending orders that I need to mark as paid. Currently they are in a seemingly random order.

They are located on the host dashboard > orders > pending filter.

## Best solution for this problem
Best case would be options for sorting by amount or date.

## MVP
Sort the pending orders chronologically by date created.

![Screen Shot 2019-06

[2019-06-19 01:06] alanna opened #2133 "A way to delete/cancel/reject pending orders"
## User story
As a host admin, I want to be able to cancel pending orders if the payer does not follow through with the bank transfer, or if they made a mistake.

## Best solution for this problem
A "cancel" button next to the "mark as paid" button, accessible to the host admin and the original order creator. When pressed, it first asks to confirm and then if you do, deletes the pending order. May

[2019-06-19 01:08] alanna commented on #2128
Related: #1798 and #2105

[2019-06-19 02:36] alanna commented on #1738
I agree with this - we get a number of support requests from people who have lost access to their email for whatever reason. It's way more secure to let someone log in with a username and password and update their own email, then taking it on trust that someone messaging you from their new email is actually the same person and changing their account that way.

[2019-06-19 07:04] znarf commented on #1994
So far, we found 4 cases for PENDING orders:
- the regular one, for manual bank transfers -> this is expected
- for updated subscriptions, orders were updated to PENDING until next payment -> we don't do that anymore
- for totalAmount=0 "free" tier/membership, payments were never processed and the order not validated -> this is being fixed
- crashes in the middle of payment processing -> this need

[2019-06-19 07:38] #1484 closed

[2019-06-19 07:43] Betree commented on #2128
I agree that we don't need to include additional libraries and too much complexity for now. Just following JSON schema's structure doesn't add more complexity and opens the door for #1798 and #2105 to be implemented with reverse compatibility in the future.

[2019-06-19 09:18] znarf opened #2134 ".forestadmin-schema.json file does not exists."
Just spotted this error on `staging`. Also happens in `production`.

``` [forest] 🌳🌳🌳  The .forestadmin-schema.json file does not exists.```

We need to check what's going on.

[2019-06-19 09:27] #1438 closed

[2019-06-19 10:12] #1923 closed

[2019-06-19 13:51] znarf commented on #2049
@cuiki sorry for the delay. I have 2 simple feedback on Figma before this can be integrated

[2019-06-19 15:44] xdamman opened #2137 "Fix SEO and social media meta data"
Right now, this is how sharing an open collective link such as https://opencollective.com/babel looks like on Facebook / Messenger / WhatsApp:

![](https://d.pr/free/i/20NlJc+)

Facebook scraper:
https://developers.facebook.com/tools/debug/sharing/?q=opencollective.com%2Fbabel

Twitter card tool:
https://cards-dev.twitter.com/validator

How should it look?
Title: `collective.name` - Open Collectiv

[2019-06-19 16:19] josegonzalez commented on #1923
@Betree feel free to reach out to me on slack with any details on how to proceed with the bounty :)

[2019-06-19 19:02] #2124 closed

[2019-06-19 21:10] Shorpee commented on #1878
I'll like to work on this.

[2019-06-19 23:08] xdamman commented on #2127
While I agree that it would be good to adapt the homepage to the new design and add those quotes somewhere, I’d question the priority of it.
The current homepage is not bad (I’d just update the algorithm to select the sponsors to be featured and maybe indeed the copy a bit).

Wouldn’t it be better to invest the design and engineering resources on the host-less and SaaS version of Open Collective f

[2019-06-20 00:24] pietgeursen commented on #1774
Ok so, [PR for the main chunk of work](https://github.com/opencollective/opencollective-api/pull/2074) is up for review.

When it is merged:
- @alanna and I will work to manually update the db for people who have already submitted tax forms for this year.
- This [PR for the frontend](https://github.com/opencollective/opencollective-frontend/pull/1987) will be able to flag expenses that need a tax

[2019-06-20 10:04] Betree commented on #1784
@cuiki I think we're good with design for this one, aren't we?

![image](https://user-images.githubusercontent.com/1556356/59840381-846f5180-9352-11e9-88c2-3cbcacfc3633.png)

[2019-06-20 10:12] Betree opened #2138 "Move publicMessage from Orders to Members"
We've re-added public message form on #1772 but we're still not surfacing them in the interface. We solved this question in #1784 and now have a proper design: this message is going to be surfaced on the new collective page and on the tier page directly on the contributor's cards:

![image](https://user-images.githubusercontent.com/1556356/59840381-846f5180-9352-11e9-88c2-3cbcacfc3633.png)

To mak

[2019-06-20 10:38] znarf commented on #2138
Maybe worth discussing that in a team meeting. I get the rationale but I have doubts on the move to the `Members` table.

[2019-06-20 13:54] znarf commented on #2049
![Capture d’écran 2019-06-20 à 15 54 02](https://user-images.githubusercontent.com/806/59854703-b1802c00-9373-11e9-9507-ac5a311ebd6e.png)

[2019-06-20 14:14] edsilv opened #2139 "Notifications when subscription cancelled"
This is more of a feature request.

We base membership of our steering group on OC sponsorship. If we lose a sponsor it would be great to be notified (an email) so that we can act on it as opposed to needing to review our statements. Otherwise as we get more sponsors it'll get progressively more difficult to spot.

Many thanks!

[2019-06-20 15:34] Betree commented on #1470
Done

<details>

|                  |            |                                             |
|------------------|------------|---------------------------------------------|
| juin-20 17:29:30 | SQL / User | DELETE FROM public."Members" WHERE id=10829 |
| juin-20 17:29:30 | SQL / User | DELETE FROM public."Members" WHERE id=10878 |
| juin-20 17:29:30 | SQL / User | DELETE FROM public."Members"

[2019-06-20 15:34] #1470 closed

[2019-06-20 17:36] Betree opened #2140 "Collective page: v1 → v2 migration"
The goal of this issue is to describe the migration process to the new collective page. It's just a proposal and all periods are chosen arbitrarily so feel free to suggest edits!

# Timeframe

I'd like to have the first releasable version of the new collective page at the end of next week (28th June) (right now the main blocker is that the "budget" section doesn't exist).

Though it will be usable

[2019-06-20 18:22] #2123 closed

[2019-06-20 18:25] xdamman opened #2141 "Displaying collectives from "super collectives""
I was demoing using opencollective.com/wwcode as I often do but I realized that for some reason the collectives of the network don't show up anymore there.
Instead, we see a list of contributors which is made of many of their chapters but also some sponsors.
It really looks weird.

What happened?

![](https://d.pr/free/i/VCfpg7+)

[2019-06-20 18:25] xdamman commented on #2141
Is that related to the conversation about the concept of `ParentCollectiveId` that you wanted to remove @znarf ?

[2019-06-20 18:29] xdamman commented on #2140
What's the plan for the "conversations" section?

[2019-06-20 18:52] Shorpee commented on #1666
is this issue still open? i'll like to work on this if it is!

[2019-06-20 19:34] Betree commented on #2140
@xdamman This one has a pretty high cost and is currently not planned for the initial release (see https://github.com/opencollective/opencollective/projects/18). The goal is to work on it once the base page with all required sections is done, so (in theory)  during this summer.

[2019-06-20 19:38] Betree opened #2142 "Tier page: translation breaks contribute bar layout"
On the tier page, the french string "Objectif" is longer than "Goal" and breaks the layout.

![image](https://user-images.githubusercontent.com/1556356/59876283-7ac20a00-93a3-11e9-8555-7ee70c78e20e.png)

[2019-06-20 19:39] Betree opened #2143 "Tier page: bad translation for "individuals""
The translation for French `Individuals` is not correct:

![image](https://user-images.githubusercontent.com/1556356/59876710-97ab0d00-93a4-11e9-9941-4c0793d6e8aa.png)

[2019-06-20 19:40] znarf commented on #1666
@Shorpee it is! Should not be complicated.

[2019-06-20 19:49] Betree commented on #2143
Fixed on Crowdin

Ping @xdamman

[2019-06-20 19:49] #2143 closed

[2019-06-21 00:40] gusaus commented on #1996
Aside from SustainOSS, the scope of this discussion revolves around OSS projects already hosted on Open Source Collective. OSS projects have the ability to create, promote, sustain global events that directly support 'their' project via their collective.

Hopefully, the board can discuss why OSS projects like Open Collective and Drupal are able to create global events supporting their project.. bu

[2019-06-21 01:04] alanna commented on #2139
Collective admins do get notified when someone cancels a subscription. The email looks like this, with the Core Contributors CC'd.

![Screen Shot 2019-06-21 at 1 03 50 PM](https://user-images.githubusercontent.com/5498878/59890463-18115280-9425-11e9-8644-2b78d37f4f68.png)

[2019-06-21 03:25] alanna opened #2144 "Expense not showing in 'ready to pay' when it should be"
**Describe the bug**
[This expense](https://opencollective.com/pizzaql/expenses/8403) did not show up under "ready to pay" even though it was ready to pay. The user had to contact support or I would never had seen it.

**Expected behavior**
The expense should have appeared in the list under the "ready to pay" filter.

**Screenshots**

The expense is payable:

![Screen Shot 2019-06-21 at 3 23 31 PM

[2019-06-21 06:33] yellowwoods12 commented on #2140
@Betree What about the documentation? Do we have to update it as well according to the new release?

[2019-06-21 06:38] Betree commented on #2140
@yellowwoods12 I have nothing planned for documentation yet but we should probably update it as soon as the new collective page becomes the default. Do you have some documentation pages in mind?

[2019-06-21 07:04] yellowwoods12 commented on #2038
@znarf I am not sure if  I got this issue right. What is the issue in removing that package?

[2019-06-21 07:05] yellowwoods12 commented on #1878
Hey @Shorpee, are you working on this or should I start working on it?

[2019-06-21 08:08] znarf commented on #2038
@yellowwoods12 Sorry, I don't have much more information now. The person willing to take this issue needs to study what this package is doing and how to do the same thing without it.

[2019-06-21 08:20] znarf commented on #2141
What is "broken" on this page?

Yes, I moved forward with `parentCollectiveId` because the bug preventing hosts to be removed was too important to wait https://github.com/opencollective/opencollective/issues/2101 https://github.com/opencollective/opencollective-api/pull/2119

It's still confusing to me why we should display collectives on such page when there is a host page for that https://openco

[2019-06-21 08:22] znarf commented on #1878
@yellowwoods12 In our bounty program, we prefer if contributors stick to 1 issue at a time. Let's finish https://github.com/opencollective/opencollective-frontend/pull/1960 first?

[2019-06-21 08:42] yellowwoods12 commented on #1878
@znarf Sure. It's almost done.

[2019-06-21 08:43] edsilv commented on #2139
Thanks @alanna, we must have missed it!

[2019-06-21 08:43] #2139 closed

[2019-06-21 08:52] yellowwoods12 commented on #2140
@Betree Yes. We can add some documentation pages informing about the design and features of the new release; what were the challenges and issues with the old design; how we overcame them in the new one; what are the deprecated components in the old one that what alternatives are we using for it.
My whole idea is to properly document every feature related to the new release for future use as well a

[2019-06-21 10:04] xdamman commented on #2141
What's broken is that /wwcode should show the list of chapters.

The user need here is the following:
When going to /wwcode I should be able to donate to the movement in general or to directly go to a particular chapter (and donate there).

That's why /wwcode cannot point to the host, because a host doesn't collect money.

So yeah, this is very annoying.

I don't understand why we had to kill the

[2019-06-21 10:43] znarf commented on #2141
I'm sorry to be the one carrying that, but the notion of "parentCollective" (out of events) and "superCollective" are creating a lot of confusion. I'm sure they can be avoided. If not, they should be clarified. The fact that there is no admin interface, no documentation, is a hint that this a MVP that was never scaled.

The notion of "host collective" is also creating a lot of confusion itself, bu

[2019-06-21 10:58] znarf opened #2145 "Upgrade react-apollo package to latest version"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the Frontend, we're currently using `react-apollo` version `2.5.2` and the upgrade to version `2.5.3` (and later) has breaking changes.

- PR with `react-apollo` `2.5.5`:
  https://github.com/opencollective/opencollective-frontend/pull/1776
- Sample failure on CI:
  https://circleci.com/gh/opencollective

[2019-06-21 11:23] znarf opened #2146 "Upgrade sequelize to latest version"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the API, we're currently using `sequelize` version `5.8.8` and the upgrade to version `5.8.9` (and later) has breaking changes.

- PR with `sequelize` `5.8.11`:
  https://github.com/opencollective/opencollective-api/pull/2150
- Sample failure on CI:
  https://circleci.com/gh/opencollective/opencollective

[2019-06-21 11:24] #2130 closed

[2019-06-21 11:41] znarf commented on #2049
Implementation can already start without the feedback from the design team.

Just bear in mind that compared to the design:
- you should have the "Edit Collective" navigation on the left
- the title "Webhooks" can stay "Edit Webhooks" and smaller
- You have some flexibility in how you handle the "Save" part (you can look at the "Payment Method" section to get inspiration from)

[2019-06-21 12:44] Shorpee commented on #1666
Great! will get right on it!

[2019-06-21 14:58] yellowwoods12 commented on #2140
@Betree  Should I create an issue for the same so that it can be discussed further?

[2019-06-21 15:12] Betree commented on #2140
There are some good points in there @yellowwoods12. Some of what you suggested would be more relevant to put in a blog post but I could see a FAQ with questions like `What happened the collective bar?` as we won't have a replacement for the feature it provides right now.

Let's start with that, we'll try to reference in the issue all the important changes that users are going to face and the quest

[2019-06-21 16:01] Betree opened #2147 "NULL amountType for some tiers"
# Problem

The following query:

[code]

Returns:

| id    | amount  | type       | interval | amountType | presets |
|-------|---------|------------|----------|------------|---------|
| 9 494 | 800 000 | DONATION   | [NULL]   | [NULL]     | [NULL]  |
| 9 663 | 100 000 | MEMBERSHIP | year     | [NULL]     | [NULL]  |
| 9 664 | 80 000  | MEMBERSHIP | year     | [NULL]     | [NULL]  |
| 9 677 | 100

[2019-06-21 19:17] yellowwoods12 opened #2148 "Documentation for the new collective page"
This issue is created to discuss the structure and features of the new documentation that we will create and maintain with the new release. Kindly address all the points that come up in your mind that will help us in making a great documentation.

[2019-06-21 19:21] yellowwoods12 commented on #2140
Issue created for discussing about documenation : opencollective/opencollective/#2148

[2019-06-21 21:34] xdamman opened #2149 "Can’t remove or add host"
When logged in as an admin of a collective, it doesn’t let me remove the host or create one because of what seems to be an erroneous permission check.
Reported by https://opencollective.com/reseautransition-be

![0267F1BE-7858-4B21-A1D6-6C2DC4D04322](https://user-images.githubusercontent.com/74358/59952336-17f07180-947c-11e9-9877-00e158508132.png)
![A3078398-1D95-49FB-BE8F-23607D2B231A](https://us

[2019-06-22 03:05] hsluoyz opened #2150 "How to integrate OpenCollective sponsors and backers list into a Docusaurus website?"
I want my sponsors and backers to be automatically listed in my project's website, which is in [Docusaurus](https://docusaurus.io/), like how jest did it: https://jestjs.io/ . Is there a way to do so? Better if the list can also be in GitHub README.

[2019-06-22 07:27] znarf commented on #2149
@xdamman This is a support request. We need additional information like the authenticated user trying to perform the change.

How can they remove one if they can't add one?

In the database, there is no ADMIN for this collective.

[2019-06-22 08:00] xdamman commented on #2149
Because I manually removed the host.

Ah that was it, not sure how come that user was a MEMBER and not an ADMIN of the collective.
Weird.
Anyhow. Thanks for looking into this!

[2019-06-22 08:00] #2149 closed

[2019-06-22 20:57] xdamman commented on #1529
Re-opening this. 6 months after we still have the same sponsors featured and they are not a good representation.

[2019-06-22 21:17] znarf commented on #1529
@xdamman you didn't reopen, reopening :-)

[2019-06-22 21:21] xdamman commented on #1529
Ah I thought commenting would automatically reopen it ¯\_(ツ)_/¯

[2019-06-23 09:09] alanna opened #2151 "Recurring financial contributions with Paypal"
## User story
As a financial contributor, I want to set up recurring contributions to a Collective with Paypal as the payment source, so that I can pay using my preferred method.

## Best solution for this problem
Here's the feedback we got from a user:

I am not going to put my banking info into a form on your website... BUT I totally would "check out with paypal" using 1 click and hand over the

[2019-06-23 14:26] znarf commented on #1832
Still valid.

[2019-06-23 23:45] alanna commented on #1848
We still need this

[2019-06-23 23:47] alanna commented on #1754
I still think we should make this possible. We can achieve a similar result by having a sponsor send up a year's worth of donations and crediting their Organization profile so they can then set up monthly donations at a specific tier level. But this is currently a manual, messy process, and if they are willing to pay by credit card if they will show up at the correct tier, then we should let them.

[2019-06-23 23:49] alanna commented on #1801
This should be fixed based on the decision we made to eliminate 'contributors' as a category of team member, and instead have only 'core contributors' and a seperate setting to designate which of them are also admins.

[2019-06-23 23:50] alanna commented on #1816
Isn't this taken care of by Open Collective Bot now?

[2019-06-24 00:13] alanna commented on #2141
We need this for a lot of other reasons, too.

[2019-06-24 00:32] alanna commented on #2150
Please see the documentation here: https://docs.opencollective.com/help/collectives/data-export

You can use these widgets on your website and README.

[2019-06-24 00:32] #2150 closed

[2019-06-24 05:49] Betree commented on #1791
That one would be a good candidate for a bounty. A good first step would be to just show a confirmation message like `The form on this page has unsaved changes. Do you really want to leave?` whenever we have a form with un-submitted data.

Let's list the places where we want to have this so I can write proper specs. Right now I see the following:

- All collective's `/edit`
  - info
  - images
  -

[2019-06-24 07:02] znarf commented on #2146
This might have been fixed in Sequelize:

https://github.com/sequelize/sequelize/pull/11101
https://github.com/sequelize/sequelize/issues/11065

[2019-06-24 07:02] #2146 closed

[2019-06-24 07:46] yellowwoods12 commented on #1878
Hi @znarf, can I start working on this issue if the last one is done?

[2019-06-24 13:41] znarf commented on #1878
Sure, let's set a time limit of one week to start.

[2019-06-24 16:13] Shorpee commented on #2145
I'll work on this.

[2019-06-24 16:41] johanricher commented on #1963
A fix seems to have been deployed, following https://github.com/opencollective/opencollective-api/pull/2138

On [Code for France's collective](https://opencollective.com/codeforfrance/), I can now see the number of free tier contributors (9). I think this wasn't displayed before.

However this number is not consistent with the one given by the badge API: [![image](https://user-images.githubusercon

[2019-06-24 20:23] znarf commented on #1963
@johanricher I will look into it.

[2019-06-24 21:18] alanna opened #2152 "GraphQL error when trying to view order"
**Describe the bug**
Unable to view order details due to "GraphQL" error.

**To Reproduce**

1. Go to host dashboard
2. Click on an order under 'latest orders'
3. See error

**Expected behavior**
It should show the details page of that order.

**Screenshots**
![Screen Shot 2019-06-25 at 9 12 25 AM](https://user-images.githubusercontent.com/5498878/60052747-2fed1d00-972a-11e9-9aeb-11288220e60c.png)

[2019-06-24 22:33] znarf commented on #1963
https://opencollective.com/codeforfrance/members/all.json?TierId=8544 is now returning data. There was a missing data migration from the previous fix.

1) 5 PAID + 8 ACTIVE = **13** orders

This is the number of entries returned by the endpoint https://opencollective.com/codeforfrance/members/all.json?TierId=8544

2) Out of the 13 orders:

- 4 orders are from the same person
- and 2 orders from an

[2019-06-25 08:22] znarf commented on #2119
Thank you @yellowwoods12  ! It's merged.

An expense was already submitted to claim the bounty:
https://opencollective.com/engineering/expenses/8628

[2019-06-25 10:40] #2102 closed

[2019-06-25 11:57] johanricher commented on #1963
Thanks @znarf.

I think the API is meant to list "members" i.e. all people who successfuly completed their membership. So I agree that cancelled orders should be dismissed completely or accessible only with an additional parameter in the API url.

Looking at the data, I see a lot of `"isActive": false`, are they the same as cancelled orders? If so, IMHO they shouldn't appear by default either.

Ye

[2019-06-25 12:14] Betree commented on #1895
Isn't that what `Donation` payout method is for?

[2019-06-25 13:20] znarf opened #2153 "Allow fixed Tiers with amount=0"
Admins should be able to create "Free" fixed tiers where amount=0.

The 0 integer value needs to be passed to the API after that (not null, not undefined).

Currently it's impossible.

Related: https://github.com/opencollective/opencollective-api/pull/2164

Also related: https://github.com/opencollective/opencollective/issues/1963

[2019-06-25 18:16] elijahv commented on #2096
Hi friends, I've now created the "host" collective at https://opencollective.com/netsquared-administrative-collective/

Can you now set things up so that I can use the "Empty Balance" feature.

I'm failing in my attempts at transfering funds to another collective because currency conversions make this a very hard project.

@piamancini  can you help here?

[2019-06-25 21:25] Betree commented on #2148
Here's a first draft of the "breaking" changes I see coming. I'll edit this comment to add new ones if I can think of any.

- Goals

With the new collective page we removed the goal progress bar. While we acknowledged this and provided the feedback to design, we don't know if or when we will add a similar feature.

[2019-06-26 01:43] alanna opened #2154 "Unable to apply to host with the right Collective when you have multiple unhosted Collectives"
## User story

Imagine you admin two Collectives without a fiscal host, A and B. When you view a host page the button says "Apply with Collective A" and there is no way to select Collective B. Even if you go to Collective B > edit Collective > fiscal host and try to add a host that way, it will still default to Collective A.

## Best solution for this problem

There should be a way to select the C

[2019-06-26 02:02] alanna opened #2155 "Not getting receipt/invoice for funds added manually"
**Describe the bug**
Whenever someone gives a financial contribution, they should be emailed a receipt/invoice. Someone contacted support to say their sponsor hadn't gotten theirs, so I tested it using my own email and the receipt wasn't sent to me. However, I can see and download the receipt by going to /transactions.

**To Reproduce**
1. Go to host dashboard
2. Select a Collective
3. Go to 'add

[2019-06-26 02:18] alanna opened #2156 "Confirmation message before Removing host"
## User story

As a Collective admin, I want to avoid accidentally removing the host of my collective.

![Capture d’écran 2019-07-05 à 16 26 20](https://user-images.githubusercontent.com/806/60728872-a7e4ef80-9f41-11e9-8b0c-e4688544aef9.png)

## Best solution for this problem

An "Are you sure you want to [action]? Yes/No" modal.

Similar to what we have already for "Delete Collective" / "Archiv

[2019-06-26 03:10] alanna opened #2157 "Remove Chapters page"
Chapter is a concept we are not pursuing right now, and if we pick it back up it will likely be reconceptualised. So I think we should take down the [Chapters page](https://opencollective.com/chapters), which has misleading and outdated info on it.

I have already removed it from the footer (in a forthcoming terminology update pull request), but the page itself should be removed in case it's linke

[2019-06-26 03:36] alanna commented on #2157
I'm also including a change to remove chapters from the "today we are" section of the home page in my next pull request.

[2019-06-26 07:30] xdamman opened #2158 "Make a request for funds / apply for grants"
## User story

As a collective, I should be able to make a request for fund to a host or to an organization.
E.g. Can we have $5,000 to do this? Then one of the admins of the host/org can approve then pay.

## Best solution for this problem
I go to the profile page of the host / org and there is a tier that says “grants” with a call to action “apply”. The amount can be fixed or variable with a cei

[2019-06-26 10:06] mixmix opened #2159 "Event Times are wrong"
check this event out : https://opencollective.com/secure-scuttlebutt-consortium/events/js-getter-setter-abstractions-with-andre-staltz-12314ev

Andre is hosting this webinar, he lives in Finland, and the event is at 9am there.

Mix lives in New Zealand and he's about to get on the call at the time the event is listed on this page - **9AM**

---

solution:

here's the code I use for this problem in

[2019-06-26 12:48] Betree opened #2160 "Homepage collective cards: NaN progress to"
An invalid progress is shown for some collective cards on the homepage (https://opencollective.com/):

![image](https://user-images.githubusercontent.com/1556356/60180890-5346c380-9821-11e9-90b0-c1025878a69e.png)

[2019-06-26 15:45] #2145 closed

[2019-06-26 15:47] znarf commented on #2145
Thank you @Shorpee ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-06-26 20:16] #1529 closed

[2019-06-27 01:25] alanna opened #2161 "Bugs in date picker for "contributor since""
**Describe the bug**
Date picker for "contributor since" is cut off and jumping to wrong date. I couldn't use the visual calendar to pick because it was cut off, and when I tried to type in 04/01/2017 it kept jumping to 03/31/2017. I added another contributor above this one and the date picket worked fine. This was when editing an Organization

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-06-27 02:53] alanna commented on #1895
The Donation payment method is broken. It debits the total from the balance, when it should record it but not change the balance. I guess that doesn't matter if it $0 but I don't think $0 are allowed. Maybe we can think about a better solution for this as part of the expenses improvements, or maybe it will be addressed by the expanded contribution types in the new Collective page design.

[2019-06-27 02:53] alanna commented on #1841
We still get a lot of requests for this through support.

[2019-06-27 03:04] alanna commented on #2158
Do we have any grant-makers that want this feature? We should build it in partnership with them. Right now, all the grants are being managed in a semi-manual way, where we receive and credit funds to the Organization or Collective of the grant-maker, who then distributes the funds to projects that were selected through a seperate application process.

Most grantmaking orgs either use a simple form

[2019-06-27 03:58] alanna commented on #2070
Another host admin is unable to see the refund button. This time it's [Ludovic](https://opencollective.com/ldubost) from [XWiki SAS](https://opencollective.com/xwikisas).

[2019-06-27 04:26] alanna opened #2162 "Admin unable to refund transaction"
I'm pretty sure this is different from #2070 so I'm raising it separately

**Describe the bug**

When the admin of the host [CSS](https://opencollective.com/css) tries to refund the [$50,000 transaction here](https://opencollective.com/dat/transactions) by clicking the refund button, they see this error in the console:

When I try to refund it, it appears as if it's working, but then the transacti

[2019-06-27 04:35] alanna opened #2163 "Unapproved pending Collectives showing in host dashboard"
**Describe the bug**
The admin of [CSS](https://opencollective.com/css) reports that unapproved pending Collectives are showing in the dropdown list on their host dashboard, which is confusing and shouldn't be happening.

**Expected behavior**
Collectives should not show up in the host dashboard until they are approved.

**Screenshots**
![Screen Shot 2019-06-27 at 4 34 25 PM](https://user-images.g

[2019-06-27 04:37] alanna opened #2164 "Fiscal host applications were re-enabled erroneously"
**Describe the bug**
[CSS](https://opencollective.com/css) previously had applications from new Collectives disabled. Recently it has become enabled again for an unknown reason. It needs to be disabled and it should not be re-enabled unless they request it.

[2019-06-27 04:42] alanna opened #2165 "Fiscal Host admin can enable or disable applications from new Collectives"
## User story
As a fiscal host admin, I want to be able to turn on or off applications from new Collectives, so I can align with the policy or status of my organization.

## Best solution for this problem
During host creation, the system should ask if you want the host to be open to new Collectives (other than the one you are creating it for) to apply. And this setting should also be available in