[2020-06-30 06:27] Betree commented on #3286
Thanks @Memo-Es!

[2020-06-30 06:30] Betree commented on #3284
Thanks @SudharakaP! I don't know how familiar you are with this test suite, but the way I personally like to run these tests is with `npm run test -- --watch path/to/my/test` (which will re-run them on each save). You can also add `-g` (aka grep) to filter by test name.

[2020-06-30 08:56] Betree opened #3287 "Add a "Pending invitations" link in user menu"
## User story
As an Open Collective user, I can quickly find the pending invitations that were sent to me to join a collective.

## Best solution for this problem
In the user menu, fetch the user pending invitations. If there are some, display a link to `member-invitations` with the total count.

![image](https://user-images.githubusercontent.com/1556356/86105663-e616df80-babf-11ea-89d4-48d335eaae

[2020-06-30 09:17] Betree opened #3288 "Feedback for new expenses list"
# Description

This issue is here to gather feedback and impressions around the new expenses list, especially from host admins that discover it from the host dashboard. Please note that this is an ongoing project, some parts are still missing and important changes are already planned.

# Preview

![image](https://user-images.githubusercontent.com/1556356/86107988-e2d12300-bac2-11ea-8e4e-21ef6fd849

[2020-06-30 09:33] Betree opened #3289 "Get rid of styled-jsx"
According to https://github.com/opencollective/opencollective/blob/master/rfcs/002-styled-components.md, `styled-components` is the default way to write CSS in our frontend codebase, and it's mature enough to be the only one. However, there are still many places using `styled-jsx` which creates some inconsistencies and introduces [issues](https://github.com/opencollective/opencollective-frontend/b

[2020-06-30 09:54] #3203 closed

[2020-06-30 10:46] sbinlondon commented on #3137
Feature flag removed, released on prod/staging, and removed reactivation of contributions until we can deal with fees on top. I will make a separate issue for this.

[2020-06-30 10:51] sbinlondon opened #3290 "[ENHANCEMENT] Recurring contributions with fees on top"
The recurring contributions revamp did not deal with fees on top (displaying info about them on the frontend, or dealing with them in contribution updates on the backend).

We've removed the ability to 'reactivate' a recurring contribution until we figure this out. Since @kewitz has finished up the last bits of the fees on top project we can now look at it as a whole and figure out how it'll fit i

[2020-06-30 10:51] #3137 closed

[2020-06-30 11:02] znarf commented on #3290
We actually haven't decided to disable "Reactivate" just for this reason, but because there were too many unknowns in the behavior of the feature.

Right now, there is a priority on surfacing "Fees on Top" in the Recurring Contribution cards so it's clear they are attached to the contribution. We should not try to deal with editing, we should keep that for later.

[2020-06-30 19:02] SudharakaP commented on #3284
@Betree : Thanks much; that is indeed helpful. :+1: I've created a pull request. Take a look and let me know if it needs any further adjustments. :smile:

[2020-06-30 22:55] alanna opened #3291 "System not saving full bank payout info and unable to add it"
When submitting an invoice, I select my organisation as payee, then select the saved bank account I input previously. But the system has not saved all the details (missing address), so it won't let me proceed. But it also won't let me add the details. So I have to create a new bank payment method every time, and now I have four identical payout methods saved, none of which I can actually use.

<im

[2020-06-30 22:58] alanna opened #3292 "Add bank payout form not displaying all fields"
When adding a new bank payout method, the system is defaulting to a currency (NZD for me) but it doesn't display all required fields. So the user is stuck not being able to proceed and not knowing what to do. To get around it, I had to select the currency again from the dropdown, and then the other fields appeared.

<img width="834" alt="Screen Shot 2020-07-01 at 10 48 13 AM" src="https://user-ima

[2020-06-30 23:01] alanna opened #3293 "Add bank payout method form not clear which address it wants"
Is this screen asking for my organization's address, which is already filled out on the left but could potentially be different to the address associated with my bank account, or my bank's address? We should make this clear to the user.

<img width="667" alt="Screen Shot 2020-07-01 at 10 47 52 AM" src="https://user-images.githubusercontent.com/5498878/86185285-14f98800-bb8a-11ea-9e57-539694e174e6.

[2020-06-30 23:13] alanna opened #3294 "Expense submitted without adddress"
https://opencollective.com/wa-state-3d-visor-mask-hub/expenses/21182

<img width="800" alt="Screen Shot 2020-07-01 at 11 12 08 AM" src="https://user-images.githubusercontent.com/5498878/86185970-d6fd6380-bb8b-11ea-95bc-0f0aca083981.png">

Expenses should not be allowed to be submitted without the payee's address details filled out.

[2020-06-30 23:18] alanna commented on #3278
Here is another example of this: https://opencollective.com/wa-state-3d-visor-mask-hub/expenses/21182

It comes up constantly. Users really want a way to submit invoices on behalf of vendors.

[2020-06-30 23:22] alanna opened #3295 "Not asking for reason when rejecting expense"
I am 99% sure we built this feature in the new expense flow, but I just rejected [an expense](https://opencollective.com/wa-state-3d-visor-mask-hub/expenses/21182) and it didn't pop up asking me to input a reason. Shouldn't it show me a modal where I can put in why the expense was rejected?

[2020-07-01 03:16] alinamanko opened #3296 "ZipBooks as an alternative to Xero"
Below are some initial notes from the review of ZipBooks while clearing out any outstanding transactions for OSC and OCF:

- There seems to be an automatic suggestion of item category based on previously recorded similar transactions. It is up to the user to confirm the classification
- The transactions category is showing all the listings from all the bank accounts linked to the user profile- so

[2020-07-01 03:55] alanna opened #3297 "Contribution policy set by Host admin"
## User story

As a Host admin, I want to communicate what kind of financial contributions we accept and any terms and conditions that apply.

User feedback:

## Best solution for this problem

A setting similar to the expense policy, which is basically a text box in settings and that text is displayed in the contribution flow.

Needs #2006 to enforce it.

## Specs

In the Host Settings of an Orga

[2020-07-01 04:15] alinamanko commented on #3296
@alanna for the question you had around the attribution of a payment to an invoice - when the payment occurred, you can go to the invoice and select the option of Add Payment to mark it as paid

[2020-07-01 05:56] dubzzz opened #3298 "`contributors.svg` seems to miss some contributions"
**Describe the bug**

The svg showing the Contributors for the repository dubzzz/fast-check does not seem to be synchronized with the current state of the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://opencollective.com/fast-check/contributors.svg?width=890&button=false
2. You see 22 contributors while it should be 29 as on GitHub

**Expected behavior**

The contribut

[2020-07-01 06:25] Betree commented on #3295
The modal is for rejecting collective applications, we didn't build that for the expense flow because you can already provide a reason through comments

[2020-07-01 06:33] Betree commented on #3294
It's because it's a receipt, addresses are only required for invoices.

[2020-07-01 07:06] Betree commented on #3221
@alanna are we good with the design above, should we start the implementation?

[2020-07-01 07:08] #3284 closed

[2020-07-01 07:31] znarf commented on #3298
I just checked and see 22 contributors:

<img width="866" alt="Capture d’écran 2020-07-01 à 09 31 03" src="https://user-images.githubusercontent.com/806/86215991-a282ab00-bb7d-11ea-88b6-b01cada96642.png">

[2020-07-01 07:50] Betree opened #3299 "Add address fields in add fund's collective picker"
## User story

## Best solution for this problem
In the collective picker used for `AddFunds`, add two optional fields: `country` and `address` in the create form `CreateCollectiveMiniForm`.

[2020-07-01 08:22] alanna commented on #3294
Ah I see. The user was confused and actually was trying to submit an invoice.

[2020-07-01 08:22] #3294 closed

[2020-07-01 08:22] alanna commented on #3295
Ah ok, I was mistaken.

[2020-07-01 08:22] #3295 closed

[2020-07-01 08:29] dubzzz commented on #3298
And the count on GitHub:
![image](https://user-images.githubusercontent.com/5300235/86221839-b7fbd300-bb85-11ea-9390-ef3abcddc9c2.png)

[2020-07-01 08:34] alanna opened #3300 "Improve host plan renewal email"
Here's how it looks now:

<img width="822" alt="Screen Shot 2020-07-01 at 8 30 06 PM" src="https://user-images.githubusercontent.com/5498878/86222051-d1c70580-bbd9-11ea-926d-f4ad7345bfc9.png">

1. Add the host name - I operate multiple hosts and I don't know which one this is for
2. Add a link to download the receipt, or better yet include it as an attachment
3. Add a link to your plan and billing

[2020-07-01 10:35] sbinlondon commented on #3274
Next steps today:

* Finish finessing error throwing, handling, displaying
* Write tests for frontend and backend
* Add additional secret to frontend/backend to be used in the 2FA token
* Add feature flag to 2FA so we can release it to core team

[2020-07-01 12:53] #2008 closed

[2020-07-01 15:45] contraexemplo commented on #2595
Hello! I'm here with a more complete perspective about this issue, hopefully. The two questions we need to answer here are:

1. Does this make _technical_ sense?
2. Does this make _economical_ sense?

**Summary:** to me, it makes _some_ technical sense — switching platforms would allows us to control a little more our infrastructure, improve our external contribution process, and get access to loc

[2020-07-01 15:54] jaskiratsingh2000 commented on #2595
Great research Anna! I can help you with migration if needed.

Thanks

On Wed, 1 Jul 2020, 9:15 pm Anna e só, <notifications@github.com> wrote:

[2020-07-01 15:54] snitin315 commented on #3287
@Betree how can I get the no. of pending invitations ?

[2020-07-01 16:08] Betree commented on #3287
Ideally, we would create a dedicated `memberInvitationsCount` to avoid returning the whole data. But there are not a lot of them, so I'm fine with just fetching `memberInvitations` and use the `length`.

One thing tho: in the spirit of #2126, we may want to fetch the data dynamically from `TopBarProfileMenu`.

[2020-07-01 17:54] Betree commented on #3258
Another idea:

Show a special warning if using a new payout method (ie `/!\ New payout method`). That way if someone get hacked and someone submit an expense on their behalf with a different bank account/paypal, the collective/host admins will have a chance to see that there's something wrong.

[2020-07-01 22:32] alanna opened #3301 "Expense notification email has wrong amount"
[This expense](https://opencollective.com/ocnz/expenses/21339) has the correct amount:

<img width="793" alt="Screen Shot 2020-07-02 at 10 28 54 AM" src="https://user-images.githubusercontent.com/5498878/86297266-f4dfcc80-bc4e-11ea-9730-5e9e1d093a13.png">

But the amount was different in the email:

<img width="871" alt="Screen Shot 2020-07-02 at 10 29 20 AM" src="https://user-images.githubusercon

[2020-07-01 22:34] Betree commented on #3301
From the activity log, it looks like the expense was updated. Maybe the user updated the amount? I'll check tomorrow to confirm

[2020-07-01 22:36] alanna opened #3302 "Fiscal host address missing from invoice"
On the expense summary there is no address under fiscal host.
<img width="793" alt="Screen Shot 2020-07-02 at 10 28 54 AM" src="https://user-images.githubusercontent.com/5498878/86297557-c44c6280-bc4f-11ea-82a3-2ed41d91be31.png">

But the address is saved in settings.
<img width="742" alt="Screen Shot 2020-07-02 at 10 34 54 AM" src="https://user-images.githubusercontent.com/5498878/86297564-c87880

[2020-07-01 22:46] alanna commented on #3301
Ah that would explain it. I nearly had a heart attack when I saw the expense for twice as much as I thought it was going to be... lol

[2020-07-01 22:52] alanna commented on #2595
Thank you @contraexemplo ! I've brought this to the attention of the team and we'll get back you soon.

[2020-07-01 22:56] alanna opened #3303 "Allow platform admins to remove themselves as admins"
## User story
As a platform admin (Open Collective core team member) I often have to create or edit various profiles (Collectives, Hosts, Organizations, Events) while doing support, etc, but then I need to remove myself as admin and let the customer take over. We don't allow people to remove themselves as admins (so that profiles don't become orphaned), but platform admins should be able to do thi

[2020-07-02 04:11] alanna commented on #3221
Sorry I've been slow. It looks good to me. I haven't had time to dig into every detail but it looks good enough to start implementing.

@alinamanko @piamancini please give any comments you have.

[2020-07-02 04:33] alanna commented on #3257
Thank you! It looks so good now.

[2020-07-02 04:55] alinamanko commented on #3288
I am loving the new expense flow - making the process a lot quicker, especially with the integration of TransferWise payments. A few things I would like to note:

- In some instances where users are prompted by the collective admins to provide any additional information, people reply to the email notification rather in the expense thread. This means that these responses are going on Open Collectiv

[2020-07-02 06:49] #3257 closed

[2020-07-02 06:51] #3123 closed

[2020-07-02 06:52] Betree commented on #3123
:trophy: This issue has been completed by @flickz

To claim the **$500** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-07-02 07:14] Betree commented on #3301
I can confirm that the expense was initially created with an amount of `$2927.45` then a few minutes later updated to `$1548`. It would be great for admins to be able to see exactly what was updated in the activity log, under the `Expense updated`. I'll create an issue dedicated to this.

[2020-07-02 07:14] #3301 closed

[2020-07-02 07:27] Betree opened #3304 "Show a diff of the changes in "Expense updated""
## User story
As a collective/host/platform admin, I sometimes need to know exactly what was changed by a user when they update an expense, for example: https://github.com/opencollective/opencollective/issues/3301.

## Best solution for this problem
Because computing these diff takes some time, it needs to be an asynchronous process that is triggered when you click something like `View changes` or

[2020-07-02 07:38] Betree commented on #3303
I actually was slowed down by this behavior too in the past. Could we make it so that you can't remove yourself if you're the last admin, but you can still do it if there are other admins? @znarf what to you think?

[2020-07-02 07:39] znarf commented on #3303
@Betree I don't see a problem with that. We can always troubleshoot through support if they make a mistake.

[2020-07-02 08:37] Betree commented on #3302
It seems that because this is a host, we're not fetching all the fields that we should: https://github.com/opencollective/opencollective-frontend/blob/9302f86dfc029616a1ef252dd7a3096e9601d703/components/expenses/graphql/fragments.js#L147

@znarf as an alternative, in `hostResolver`, could her return the collective itself when it's a host? Like:

[code]

[2020-07-02 10:03] Betree commented on #3291
Same here, I can't use my existing Transferwise linked account and no error is displayed so it's unclear why the Submit button is disabled (related to what was reported in https://github.com/opencollective/opencollective-frontend/pull/4441#discussion_r441549859 I think).

Marking this as a priority as it may be blocking payments for anyone with an already linked bank account.

[2020-07-02 12:32] znarf commented on #3267
@leena4c I've been in touch by email. Long story short, we're willing to enable that for All For Climate.

If you want to move forward, could you answer to me and cc @piamancini ?

[2020-07-02 14:07] Betree opened #3305 "RFC: Moving out of utils.resetTestDB"
I wanted to open this issue to discuss the `utils.resetTestDB` that I think we should stop (ab)using, for the following reasons:
- It's **heavy**: the tool drops all the data then recreate the entire schema. On my local machine, that's almost 1 second.
- In many places we use it in a `beforeEach`, so **we're adding almost 1 second to each test**
- It's using `sequelize.sync`, recreating the DB fro

[2020-07-02 23:17] jjjjj909 opened #3306 "And the count on GitHub:"
And the count on GitHub:
![image](https://user-images.githubusercontent.com/5300235/86221839-b7fbd300-bb85-11ea-9390-ef3abcddc9c2.png)

_Originally posted by @dubzzz in https://github.com/opencollective/opencollective/issues/3298#issuecomment-652274784_

[2020-07-02 23:17] #3306 closed

[2020-07-03 00:05] alanna commented on #3288
The buttons being greyed out when you're not hovering over them made me think the buttons were deactivated and that was stressful and confusing.

[2020-07-03 00:07] alanna commented on #3221
Ahh I thought of something! I just went to pay some expenses and I'm sitting there with my bank app open looking at the payment modal, and I realised I need to see the note the submitter left. Especially for "other" payment method, that's where the details I need to make the payment will be.

[2020-07-03 00:12] alanna opened #3307 "Unable to pay expense from host budget"
I attempted to pay the [first expense for OCNZ](https://opencollective.com/ocnz/expenses/18630), which is participating in the host budget alpha test, so its budget is directly in the host. But I get an error saying I can't pay expenses without a host. This budget *is* the host.

![Screen Shot 2020-07-03 at 12 10 21 PM](https://user-images.githubusercontent.com/5498878/86419082-545cdb80-bd26-11ea-

[2020-07-03 02:09] alanna opened #3308 "OCF host unable to pay with TransferWise even though it's connected"
Transferwise is activated for Foundation:
![Screen Shot 2020-07-03 at 2 08 01 PM](https://user-images.githubusercontent.com/5498878/86424410-9d1c9080-bd36-11ea-9750-a389f1fb74f7.png)

But on an expense you're unable to select bank transfer as the payout option:
![Screen Shot 2020-07-03 at 2 08 59 PM](https://user-images.githubusercontent.com/5498878/86424447-b7ef0500-bd36-11ea-95d8-33ce7666e563.pn

[2020-07-03 02:40] GaleForce opened #3309 "Incorrect Currency Displayed in Contributions"
When looking at the contributors to a collective it shows their contribution in USD regardless of the currency they actually paid in. For example, a user in the Insurgo Initiative collective donated $50 CAD. You can see this in the transaction history at https://opencollective.com/insurgo/transactions however if you go to the collective's homepage the same transaction will show 50 USD.

Screenshot

[2020-07-03 07:20] znarf commented on #3309
We're normally not supporting switching currency when a collective has already an history.

To avoid that, the history should be reset and the collective should only have USD transactions.

[2020-07-03 07:52] Betree commented on #3307
Same root cause as opencollective/opencollective#3302, will be fixed by https://github.com/opencollective/opencollective-frontend/pull/4573

[2020-07-03 08:18] Betree commented on #3269
I haven't found the time to investigate this yet but it's in my Todo. I suppose we need to fix that before the next newsletter, so I'll try to do it before the end of the month. Please let me know if you need this to be tackled sooner.

[2020-07-03 08:59] #3302 closed

[2020-07-03 12:37] piamancini commented on #3288
yes - we made a fix they'll light up when you hover over any part of the expense row

[2020-07-03 12:37] piamancini commented on #3288
"When an expense is submitted as an expense, the generated form is impossible to be opened without it downloading first"
@betree is this the case?

[2020-07-03 12:39] piamancini commented on #3303
I don't think we should let people remove themselves if there's no one left. We need to ask them to archive the collective

[2020-07-03 12:43] piamancini commented on #3278
The right way to do it is 3. Like any other vendor process. An invitation link from the collective admin to the lawyer to submit an expense. This quarter we are working on lowering the bar to do this. Similar to the guest checkout process vendors will add all details and we'll create the org for them at the end of the process.

[2020-07-03 12:46] piamancini commented on #3278
What we are building for Request grant could also be used to request payments. Almost like a pending order in reverse. We accept it, make the payment and $$ gets withdrawn

[2020-07-03 13:07] Betree commented on #3288
This update was deployed more that 24h ago so Alanna may have tested the latest version that light up when you hover over any part of the expense row. @alanna can you confirm?

Yes, the only way to download the generated invoice at the moment is through the download button. It's good to know that it's slowing down @alinamanko in her process, I think the "preview modal" that @Memo-Es recently prese

[2020-07-03 13:25] Betree commented on #3303
That's the point, only let them remove themselves if they're not the last admin

[2020-07-03 14:06] Betree opened #3310 "Issues with pending orders submitted directly to host"
_There's currently an attempt to fix this issue through https://github.com/opencollective/opencollective-api/pull/4170 + https://github.com/opencollective/opencollective-frontend/pull/4583, but it will not be ready right away so I wanted to document the issue._

**Describe the bug**
- When you make a pending order to a host profile (_aka a host that has `isActive` = TRUE_) this order doesn't appea

[2020-07-03 14:33] sbinlondon commented on #3291
Another small bug: I was also not able to proceed with my invoice with my old IBAN details selected, so I went to select "new bank account" and no form appeared. I was really confused and thought it was a bug with the form not rendering. But then I selected another option and clicked "new bank account" again and noticed that this time the 'currency' field asked me to select a currency, and once I

[2020-07-03 14:42] Betree commented on #3291
@sbinlondon this is another issue documented in https://github.com/opencollective/opencollective/issues/3292

[2020-07-03 16:19] sbinlondon commented on #3274
Feature is ready and has tests, but waiting til next week for more review by @kewitz and @Betree before merging

[2020-07-03 20:28] kaylarep commented on #3288
It looks great! Really clean and smooth, works fast too. I think everything is clear and understandable.

Some ideas/things I noticed (I'm new, so please forgive/disregard if these are irrelevant)
It would be nice to have:
-option to export filtered results lists into a report
-option to show specific category/tags: like to click on this "food & bev" tag, especially if these were used more often
!

[2020-07-04 01:08] #2841 closed

[2020-07-04 04:38] SudharakaP commented on #3289
@Betree : I'll take this one, if no one is working on it. It will take a me probably a bit more time than usual to finish (several weeks probably) since I have some other things in life to attend to as well, if that's okay. :smile:

[2020-07-04 08:25] znarf commented on #2841
Fixed in https://github.com/opencollective/opencollective-frontend/pull/3993

[2020-07-04 09:49] znarf commented on #3289
There are some components (most?) that might be deprecated soon, for these, we should not invest too much energy and maybe just convert "Styled JSX" to vanilla CSS (put all the styles in a global css).

We need to identify the components that require a true conversion to styled-components, @Betree can you provide that?

[2020-07-04 12:07] dubzzz commented on #3298
@znarf Actually We should see 29 contributors not 22. GitHub reports that the repo as 29 contributors, contributors.svg only shows 22 of them

[2020-07-05 19:47] leena4c commented on #3288
Looks nice but for me it means a lot of extra 'clicks'. I need to open every expense to see what action is required and get the extra info I need before I can act e.g. name of the collective, the balance.

Info I like to get in one view to manage the expense efficiently: name - description - typical OC transaction number - picture of receipt/invoice - payment method and extra info (e.g. for a wire

[2020-07-05 21:28] alinamanko opened #3311 "Support Metrics Report June 2020"
### Support Metrics Report June 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**
![Capture](https://user-images.githubusercontent.com/57156267/86542558-befe5900-bf6a-11ea-961d-646ec0aa4f54.JPG)

The number of tickets received has reduced by nearly 21% from 462 in May to 365 in Ju

[2020-07-06 08:55] Betree commented on #3288
@kaylarep @leena4c thank you for the feedback :pray:

We have created an issue for this one: https://github.com/opencollective/opencollective/issues/3230

You're absolutely right, at the moment this list is missing some critical information. The currently designed view for admins should solve most of it (see screenshot below).

@Memo-Es we're not displaying the collective name in there (`from ____

[2020-07-06 09:05] Betree opened #3312 "Deprecated components: CollectiveCard"
We want to get rid of the `CollectiveCard` component to replace it with the new `StyledCollectiveCard`.

[2020-07-06 09:12] Betree opened #3313 "Deprecated component: CollectiveCategoryPicker"
The `components/CollectiveCategoryPicker.js` component was used in the previous create collective flow. We are still using the `CreateCollectiveForm` component for creating organizations and events, but `CollectiveCategoryPicker` is never displayed in there so we should be able to remove it safely.

[2020-07-06 09:23] Betree commented on #3289
# Components that are going to be removed soon

- Button (#3223)
- CollectiveCard (https://github.com/opencollective/opencollective/issues/3312)
- CollectiveCategoryPicker (https://github.com/opencollective/opencollective/issues/3313)
- Comment
- CommentForm
- Comments

- HTMLEditor
- InputTypeCreditCard
- InputTypeDropzone
- InputTypeLocation
- Location
- Logo
- Member
- Membership
- MembershipsW

[2020-07-06 09:40] Betree commented on #3289
Updated with component's details. PRs to migrate just part of them (or even one) are also welcome.

[2020-07-06 10:15] Betree opened #3314 "Cache issues when editing the slug of a profile"
**Describe the bug**
When editing the slug of a profile, there are two issues:
1. We're not redirected to the new `/edit` URL
2. The user menu still shows the old URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /my-collective/edit
2. Edit the slug

**Expected behavior**
- Current page URL should be updated (use `Router.replaceRoute`)
- User menu should be updated (by using `refetch

[2020-07-06 11:49] Betree commented on #3003
Actually the latest expense flow redesign and especially the ability to contribute without being signed in is going to greatly simplify this issue. Once it's done, we may be able to ship a really simple proof of concept in no time

[2020-07-06 12:00] Betree opened #3315 "Recurring contributions: multiple popup conflicts"
**Describe the bug**
Because they have the same inputs `name`, the popups in edit recurring contributions conflict with each others.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /subscriptions
2. Edit multiple contributions at the same time

**Expected behavior**
States should be independent.

**Screenshots**
![Peek 06-07-2020 13-58](https://user-images.githubusercontent.com/1556356

[2020-07-06 12:23] piamancini commented on #3003
I'd like to try that - (I guess you mean contribution flow?)

[2020-07-06 12:28] Betree commented on #3003
@piamancini Yes sorry, I indeed meant contribution flow

[2020-07-06 15:18] Betree opened #3316 "Currencies FX rate cache is not refreshed often enough"
**Describe the bug**
From what I understand by looking at https://github.com/opencollective/opencollective-api/blob/a4c9bbffa2f0d18ecceca7c1d031df2fafba17f1/server/lib/currency.js#L38, the cache for conversion rates is only invalidated when a new deployment is triggered, which means that the conversion rates can be older than a few days.

**Expected behavior**
Conversion rates can quickly vary, th

[2020-07-06 15:21] Betree commented on #960
This should now be addressed: on the collective page (ie. https://opencollective.com/babel/) and most new pages developed since, we're using avatars with 2x their displayed size. Feel free to re-open or create new issues if some places are still displaying low-resolution avatars.

[2020-07-06 15:21] #960 closed

[2020-07-06 15:39] #3020 closed

[2020-07-06 17:12] kewitz commented on #3308
Hey @alanna, I wasn't able to reproduce this on production.
Can you confirm that this was an expense being submitted to the host itself? (through https://opencollective.com/foundation/expenses/new)

![Screenshot from 2020-07-06 14 11 16](https://user-images.githubusercontent.com/2119706/86620397-a4d87100-bf92-11ea-87c1-6c5549093623.png)

[2020-07-06 17:32] Betree commented on #3308
May have been solved in https://github.com/opencollective/opencollective/issues/3302 with https://github.com/opencollective/opencollective-api/pull/4159 + https://github.com/opencollective/opencollective-frontend/pull/4573

[2020-07-06 18:58] kewitz commented on #3291
Hey guys, I'm investigating this and it seems that address is now required for every currency.
This means that older payout methods are now outdated and will need to be updated.
Although the dropdown displays identic payout methods, they're actually referring to the multiple created payout methods and the ones that have the address should be valid for reuse.
There was another problem here, the bug

[2020-07-06 19:02] #3292 closed

[2020-07-06 22:31] alanna opened #3317 "Host fees added to host budget showing as debit instead of credit"
I'm pretty sure this is related to the switch to having the host budget integrated on the host page. To add these fees, I think I went to dashboard and selected Open Collective Foundation from the Add Funds dropdown. They should be showing as a credit to the budget.

![Screen Shot 2020-07-07 at 10 29 19 AM](https://user-images.githubusercontent.com/5498878/86658206-fa695800-c03c-11ea-8d18-37d923bb

[2020-07-06 22:33] alanna commented on #3317
Ah, related, the old Foundation Collective is still active: https://opencollective.com/foundation-collective

This needs to be closed down and the transactions merged into the host budget.

[2020-07-06 22:57] alanna commented on #2595
We have discussed it and decided we want to go ahead with migration to a new platform, and we've approved a budget for @contraexemplo to lead the project. It seems like Docsify is the way to go but we'll leave that to Anna to confirm. We want a platform which is open source and is a Collective as well as meeting the other requirements.

[2020-07-07 04:02] alanna commented on #3308
this is working now thanks

[2020-07-07 04:02] #3308 closed

[2020-07-07 06:27] AARYAN-MAHENDRA commented on #3225
@Betree I have linked the pull request.

[2020-07-07 07:23] Betree commented on #3225
Resolved by https://github.com/opencollective/opencollective-frontend/pull/4586

[2020-07-07 07:23] #3225 closed

[2020-07-07 08:15] Betree opened #3318 "Erroneous recurring contributions are not showing up"
**Describe the bug**
Because of the filters on order type (the [ones from original PR](https://github.com/opencollective/opencollective-frontend/blob/1df827ed20b6f33b7398029385792b69a710f6ee/components/recurring-contributions/RecurringContributionsContainer.js#L35) and the one introduced in https://github.com/opencollective/opencollective-frontend/pull/4593/files) we're not showing recurring contr

[2020-07-07 15:31] #3318 closed

[2020-07-07 16:26] kewitz commented on #3305
This is complicated because we have a mix of unit and integration tests.
See GQL mutation tests, for example, there are tests where we generate a query and verify mutations in the DB.

I think the main idea behind clearing the DB is to guarantee tests are mutually exclusive and also, simplify tests.
I'm OK with removing the DB state of the equation and not resetting it, but I think this could gene

[2020-07-07 18:41] Betree commented on #3305
Do you have examples of how this could happen? Except when we count entries in the DB, I don't see many cases where a test would fail because of another one, nor how GQL mutations affect this: our tests run synchronously.

I'm also looking for simplification, and reproducibility: the fact that we create the database with `.sync()` in tests means that we may not be testing with the same structure a

[2020-07-08 06:25] fred-wang opened #3319 "Multiple pledges to a pledged collective creates duplicate backers"
If someone donates twice to a pledged collective then they are counted as two backers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a pledged collective at https://opencollective.com/discover?show=pledged
2. Make a "one time" plegde
3. Make another "one time" plegde
4. The interface will display your two pledges and count you twice as a "backer" (see screenshot)

**Expected behavior

[2020-07-08 06:35] fred-wang opened #3320 "Allow users to modify or withdraw a one-time pledge to a pledged collective"
## User story
If one pledges one-time to an open collective and then later decides to change the amount or withdraw it, it's not possible until they actually receive the email for actual payment. Worse, someone could try to pledge twice with the hope they could modify the amount, leading to bug #3319

## Best solution for this problem
Add a https://opencollective.com/name/one-time-pledges preferen

[2020-07-08 08:47] Betree commented on #2595
@contraexemplo From what I understand, any update to the docs will require a new deploy on Netlify. How does that take place, is it an automated process triggered on edit or every xx minutes/days? Also do you know what's the approximate build time?

We used to use Netlify to host our styleguide, but moved away because there are two limitations with the free plan:
- No team collaborators
- Max 300

[2020-07-08 14:08] Betree opened #3321 "Homepage design enhancements (July 2020)"
# Design

:art: See [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4541%3A120024)

# Changes summary

## General typography update

All typography on this page should be reviewed and updated if necessary (`lineHeight`, `fontSize`, `fontWeight`).

## Are you ready to make your community sustainable?

Move this section at the bottom (see des

[2020-07-08 23:08] alanna commented on #3321
Let me know if help is needed with copy text

[2020-07-09 03:07] SudharakaP commented on #3289
@Betree : Thanks much for the update and the list of components. I will be working on this soon. :+1:

[2020-07-09 07:14] #3061 closed

[2020-07-09 08:50] Betree commented on #3274
Also mentioning https://github.com/opencollective/opencollective/issues/1746, we should close both issues once we release publicly.

[2020-07-09 12:41] flaki commented on #2896
This is looking really good! Can't wait to play with it. :nerd_face:

[2020-07-09 13:02] flaki commented on #3288
I agree with the people commenting on the hover issues. I think avoiding heavy reliance on the hover property is especially commendable these days when touch devices are gaining prevalence (e.g. people using the dashboard on an iPad pro).

[2020-07-09 13:06] Betree commented on #3288
To add a note on this, the hover effect is disabled on touchscreens (all buttons are displayed with full opacity by default).

[2020-07-09 14:53] #3310 closed

[2020-07-09 14:59] #2813 closed

[2020-07-09 15:09] Betree commented on #2842
@snitin315 are you still working on this?

[2020-07-09 15:09] Betree commented on #3180
@snitin315 are you still working on this?

[2020-07-09 15:13] #3228 closed

[2020-07-09 15:15] snitin315 commented on #2842
@Betree I think `small-host-plan` is actual plan name.

https://github.com/opencollective/opencollective-frontend/blob/cc6e11870ff8d1e220042e13e7080b78bfe17873/components/edit-collective/sections/HostPlan.js#L240

and in the cards above we are using hard coded values.
https://github.com/opencollective/opencollective-frontend/blob/cc6e11870ff8d1e220042e13e7080b78bfe17873/components/edit-collective/

[2020-07-09 15:17] Betree commented on #3076
Let's start with a `[Read more]` to improve the situation here. We'll follow up in another issue if it doesn't solve the issue.

[2020-07-09 15:19] Betree commented on #2902
Closing in favor of https://github.com/opencollective/opencollective/issues/3321 as this section is going to change

[2020-07-09 15:19] #2902 closed

[2020-07-09 15:21] Betree commented on #2829
@znarf We had one, introduced in https://github.com/opencollective/opencollective-frontend/pull/3195/files#diff-7830fdaea16b1498c2eb83b9dde6ff26R19 but removed since then as we've removed the Pricing static page.

[2020-07-09 15:21] #2829 closed

[2020-07-09 15:24] Betree commented on #2677
The new expense page doesn't implement this behavior, I think we can safely close.

[2020-07-10 07:42] #2314 closed

[2020-07-10 07:43] Betree commented on #2314
:trophy: This issue has been completed by @snitin315 (opencollective/opencollective-frontend#4547 + https://github.com/opencollective/opencollective-api/pull/4119).

To claim the **$500** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other

[2020-07-10 07:49] Betree opened #3322 "Admin can always add and edit expense tags"
## User story
As a collective admin, I can triage my expenses by editing their tags, even after the expense has been paid.

## Best solution for this problem
### API

- [ ] On the `editExpense` endpoint, if the expense is `PAID`, throw if any of the other fields are set with the message:

### Frontend

- [ ] On the expenses list for collectives (`/collective/expenses`) and on the expense page, sho

[2020-07-10 07:59] #2784 closed

[2020-07-10 09:53] Betree commented on #2962
Some progress on this: I've worked on the tax form SQL query (that we should now use as the default one to detect tax forms) and the ability to detect which organizations need tax form is just one step away - it's a matter of removing this line: https://github.com/opencollective/opencollective-api/blob/95305ce13ed814aa6edc63ec108bfa8f1ecee02f/server/graphql/loaders/expenses.ts#L42.

With this dete

[2020-07-10 10:07] Betree commented on #1167
This is done

[2020-07-10 10:07] #1167 closed

[2020-07-10 10:08] Betree commented on #2035
The `createExpense` mutation is now implemented on our public GraphQL API and should be ready for public use.

[2020-07-10 10:08] #2035 closed

[2020-07-10 10:24] Betree commented on #2842
@snitin315 Yes, we need to update that as described in the issue. Ideally we should also internationalize the strings.

Feel free to un-assign yourself from the issue if you don't have the bandwidth to work on it at the moment, you can always come back to it later. We usually recommend contributors to not take more than 2/3 issues at the same time as there's a risk to loose track after that and be

[2020-07-10 10:34] snitin315 commented on #2842
Sure, I will un-assign myself from some issues.

[2020-07-10 12:04] kewitz commented on #3305
Every test that requires a specific unique property of a model could be compromised.
For example, testing fees on top requires OpenCollective and its host to be created with a specific id.
If tests are strong, we'll just need to replace the suite/test DB seed function with a single initial seed for the whole testing script.
Another example is the use of a fixed mocked date by older tests.
That wil

[2020-07-10 15:18] Betree commented on #3288
A new version of the list has been deployed for the host dashboard. It features:

- Rich information (payout method, collective balance...etc)
- A new layout optimized for host admins
- A modal to preview receipts
- Tax form status (for Open Source Collective only)

![Peek 09-07-2020 15-36](https://user-images.githubusercontent.com/1556356/87046841-f46ca600-c1f9-11ea-924e-dfb127c1508d.gif)

[2020-07-10 20:12] xdamman opened #3323 "Can’t submit an invoice sent by a vendor"
When submitting an invoice, the field “Who is being paid for this expense” only shows me, the different organizations I’m part of, but it doesn’t let me create a new organization for the invoice that I received.

We got a €40 invoice from the lawyer and we cannot add it for them in the collective (and it’s very cumbersome to ask them to do it themselves). I should be able to submit the expense on

[2020-07-10 20:50] xdamman opened #3324 "Collectives should not have the option to hide their budget and contributors"
We just realized that this option has been added to the settings of the collective.
But this goes against the very principles of open collective.

With allforclimate.earth we cannot take the risk to host collectives that wouldn’t share publicly their budget and list of contributors.

[2020-07-11 00:05] Betree commented on #3324
There are some legit uses cases for hiding these sections, for example you may want to start a collective just to get conversations and updates, without managing any budget. As we're trying to serve different types of projects (especially with the latest developments for Funds) this flexibility has been very helpful to accommodate for the various differences and let each initiative take the most v

[2020-07-11 01:11] alanna opened #3325 "Better validation errors for settings"
Currently if you try to change your URL slug to one that's already taken, you just get this:

<img width="470" alt="Screen Shot 2020-07-11 at 1 10 28 PM" src="https://user-images.githubusercontent.com/5498878/87213276-ecd30b80-c377-11ea-916f-28e9e97d611e.png">

Which is not very informative, as there are heaps of fields on that page that could be causing the issue.

1. Error should appear at the p

[2020-07-11 18:41] celesteking opened #3326 "reporting abuse involving/coming from your platform"
I haven't found a way to report abuse issues that involve your site. This is very unprofessional. There should either be a button or a link on the site at the bottom/footer or on individual project pages for that.

This is what we've received from spammers begging for money to our company's support email (noting that we aren't registered on your platform with that email), with irrelevant data stri

[2020-07-12 08:42] znarf commented on #3290
@sbinlondon Marking that as priority for next week.

[2020-07-12 22:00] alanna commented on #3323
We can't pay to third parties without their involvement. I have suggested many times we create a feature for this (called "submit on behalf" for lack of a better name), which should allow the submitter to fill out all the info and just send the actual payee an invitation link to confirm.

See #3278

[2020-07-12 22:03] alanna commented on #3324
Maybe it could be a host-level setting whether hiding budgets is allowed?

Just to confirm, even if a Collective hides their budget, logged in admins of that Collective and its host can still see it, right? It's just hidden publicly.

[2020-07-12 22:33] colemickens opened #3327 "No sign-up email received"
**Describe the bug**

It's probably been 10 minutes. I'm using my standard Gmail address. The email is not in my Spam either.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to sign up.

**Expected behavior**

You get a "finish" or confirm registration email.

[2020-07-12 22:43] znarf commented on #3327
Please contact [support](support@opencollective.com) with your email address.

[2020-07-12 23:11] colemickens commented on #3327
It's entirely possible. Email sent to support. Thanks!

[2020-07-12 23:11] znarf commented on #3324
For context, the issue to track this feature was https://github.com/opencollective/opencollective/issues/2424

As of today, "hidden" is hidden for everyone, making it different for admins would be confusing. In "Funds", we're exploring the possibility of turning it on "Only for admins".

<img width="951" alt="Screenshot 2020-07-13 at 01 10 23" src="https://user-images.githubusercontent.com/806/872

[2020-07-12 23:27] colemickens commented on #3327
Well, this was my mistake entirely.

[2020-07-12 23:27] #3327 closed

[2020-07-13 01:59] alanna opened #3328 "Two to sign for payouts"
## User story
As a fiscal host admin, I want to implement financial risk management best practice, so I can meet governance requirements and avoid misuse of funds.

Many organizations require 'two to sign' for payments, meaning at least two people have to sign off. This is often implemented in banking, where the same person can't both set up a payment and push the button to send it. This is best p

[2020-07-13 02:01] alanna commented on #3328
I don't think this is a big priority at the moment but I wanted to have an issue raised in case it comes up in the future from third party hosts or requirements of compliance audits (for example I wouldn't be surprised if some large funders to OCF ask if we have such a policy in place @piamancini).

[2020-07-13 05:48] Memo-Es commented on #2665
@znarf @alanna Posting this because we updated the settings included in the fiscal host dashboard (Now admin panel) redesign

![Large (Desktop)](https://user-images.githubusercontent.com/49539954/87274899-84347d80-c4a2-11ea-9810-d44b52616faf.png)

[2020-07-13 08:36] jamesgeorge007 commented on #2814
Bump

[2020-07-13 09:47] xdamman commented on #3323
We should be able to.
Look, here I have to submit an invoice from Deliveroo and Open Collective thinks that I'm the one that will receive the money. That's not ok.

Any accounting software would let you add a vendor without their consent.

That said, I agree that it would be a good idea to require an email address when adding a vendor that could confirm the creation of an open collective account.

[2020-07-13 09:51] xdamman commented on #3324
The problem here is that collectives that do have transactions can now hide them and that goes very much against the principles of OC.

If there are other types of profiles such as Funds (I'm not sure what it is), then it could be different for them but I'd argue that then those profiles should be clearly labelled as "Funds" and not "Collectives" (for which the expectation is full transparency of

[2020-07-13 10:15] sbinlondon commented on #3318
I hadn't realise this was something we wanted to display. I definitely remember discussing at some point that we only wanted to show ACTIVE or CANCELLED, at least while I was building it a few weeks ago. But thanks for doing this!

[2020-07-13 10:20] sbinlondon commented on #3290
Work for Monday:

- [ ] Add 'fees on top' to styled card so user knows they are on the contribution
- [ ] open PR, get feedback from Leo

[2020-07-13 10:43] piamancini commented on #3324
There are very legitimate use cases for people protecting their transactions, just to name a few (we are supporting): medical bills for member of the black trans community, anti-surveillance and human rights activists, people working in privacy sensitive projects, women at risk of doxxing and online harassment. As we always knew, full transparency comes at the cost of high exposure and this is not

[2020-07-13 10:47] piamancini commented on #3323
This is not true - we constantly add any of our hosts as vendors to multiple companies / foundations and we always need to validate email. I don't think this is even legal under GDPR regulations.

This is a feature we also want to see done - but we need to do it properly.

[2020-07-13 10:53] znarf commented on #3324
@piamancini For the record, it was not part of the "Funds" work, it was part of the "Edit Collective Sections". https://github.com/opencollective/opencollective/issues/2424

Seems, we just want to make sure that "Disabled" is not an option for "Budget". @kewitz or @sbinlondon may tackle that this week.

[2020-07-13 14:02] kewitz commented on #3291
We're now able to delete and recreate the new payment method with the required address. The bug in the dropdown is also fixed. Closing this.

[2020-07-13 14:02] #3291 closed

[2020-07-13 14:47] piamancini commented on #3324
@znarf yep - @kewitz will do it.
Leo, please note, this option should still be the case for Funds - is should only be disabled for collectives.

[2020-07-13 16:48] kewitz commented on #3324
If I'm not mistaken, Projects are also a subcategory of Funds, with that in mind, are projects also allowed to disable the budget section?

[2020-07-13 23:10] alanna opened #3329 "Revamp the leaderboard"
We have been publishing a leaderboard in our monthly newsletter for a while now, and I think the time has come to either revamp that process, or scrap it.

I want to know if having a leaderboard is a priority. If it's not a priority, let's stop publishing it in the newsletter.

If we want a leaderboard, we should make something that automatically updates on a webpage and helps fulfil transparency

[2020-07-14 01:42] alanna commented on #3055
This is solved by the option to turn off the default tier, right? They can turn it off and create any custom one they want.

[2020-07-14 01:47] alanna commented on #3323
@xdamman the workaround for now is you can create an organization profile for the vendor yourself and select it when you submit the expense under "pay to". You can either add someone from there as the admin and remove yourself, or just manage that profile for them. Then at least our records show the income going to the correct payee, and if we have to get a tax form or whatever we will contact you

[2020-07-14 02:10] alanna commented on #3324
I believe there are good "happy medium" solutions for the transparency/privacy tension with expenses. The trick is designing well enough that people can use them effectively. What we see happening now is users are not clear about what exactly is public and what their options are to deal with it. For example we made expense comments private because people were constantly putting private payment inf

[2020-07-14 02:18] Memo-Es commented on #3321
@alanna Can you take a look at the copy?

![1280 px - Desktop](https://user-images.githubusercontent.com/49539954/87372892-3f662080-c54e-11ea-86c2-bac8562e6e7a.png)

[2020-07-14 03:48] alanna opened #3330 "[Project] Ability for Fiscal Hosts to "un-host" Collectives"
## User story
As a fiscal host admin, I want to be able to unhost Collectives under my host, even if the Collective admin is not available or responsive.

## Best solution for this problem
Give fiscal host admins access to unhost a Collective, similar to the root action we have currently

## Specs
See https://github.com/opencollective/opencollective/issues/3330#issuecomment-779706601

[2020-07-14 04:19] alanna commented on #3321
Changes (top to bottom):

Period on the end of "Collective and spend money transparently."

Below **What's great about Open Collective** change description text to:

Under **Spend money**

Discover the possibilities of our features > Discover our features.

### Fiscal host section

**Do you need a fiscal host?**
Need help holding money on behalf of your project? Fiscal hosts handle taxes, accounti

[2020-07-14 04:36] alanna commented on #2665
@Memo-Es we might have to rethink this a bit now that we're also integrating host budgets/expenses into their host page, and they can send updates, etc. So they also need all the Collective settings.

I like the design you posted above in a visual sense, but I think it's missing some of the sections and settings mentioned at the top of this thread, and might be trying to get too much stuff on one

[2020-07-14 14:39] kewitz commented on #3324
There's a lot of space for privacy tools in our platform but I'm not so sure we should enforce transparency on every collective.
I agree with @alanna, I think it's enough to provide transparency as a feature because there are collectives that want to use it, but if privacy is crucial to a set of people looking for financial hosting, I don't see why to enforce it.
Nonetheless, disabling the budget

[2020-07-14 14:45] znarf commented on #3324
The ability to remove some sections of the collective page should only be seen as "visual customization". There is so many ways to access the data elsewhere, especially through our API, that we should never sell it as a privacy tool or anything similar. At least at this stage.

[2020-07-14 15:58] sbinlondon commented on #3290
Closing this issue and opening a new one for renaming 'platform fees'

[2020-07-14 15:58] #3290 closed

[2020-07-14 16:02] sbinlondon opened #3331 "Rename 'platformFees' on the API & make everything consistent"
We should discuss what we want to call 'platform fees'/'fees on top' moving forward, and then do some work to make this consistent across the API and frontend.

![Screenshot 2020-07-14 at 17 01 23](https://user-images.githubusercontent.com/37520401/87448407-b73a5680-c5f3-11ea-8463-63b1670ad296.png)

[Discussion here](https://github.com/opencollective/opencollective-api/pull/4207#discussion_r453708

[2020-07-15 05:19] Memo-Es commented on #2665
@alanna We divided the settings in 'Organization settings' and 'Service settings' -See the gif below-

Does this make sense?

![Screen Capture on 2020-07-15 at 00-15-07](https://user-images.githubusercontent.com/49539954/87506324-a22fe880-c630-11ea-8643-804179e30e24.gif)

[2020-07-15 08:19] fabianmendes opened #3332 "Invoice's bills keep uploading forever"
I'm adding an invoice and can't upload the billing. It keeps uploading forever.

[2020-07-15 08:50] #3213 closed

[2020-07-15 09:01] znarf commented on #3332
We're not aware of any problem in this area. Could you share:

- The environment (Operating System, Browser Version)
- A screenshot
- Look at the browser console and tell us if you see any error?

[2020-07-15 11:37] sbinlondon opened #3333 "Contribution flow revamp: create new/update components"
Working from the Contribution Flow components page, check that we either:

* Have the component already as it appears
* Create a new component to match the look
* Can just make it inline (i.e. buttons and headers, don't need a special component)

### Step 1 contribution
- [x] Contribution header (guest/connected account)
- [x] Stepped progress
- [x] 'We protect your transaction' box
- [x] FAQs
- [

[2020-07-15 11:47] sbinlondon commented on #3331
Adding this to the contribution flow project since it relates to fees on top involved in that

[2020-07-15 11:48] sbinlondon commented on #3331
@znarf @kewitz To continue discussion here, Iike Leo's suggestion of `platformContributionAmount`. It make it clear it's a 1) contribution from the user and 2) relates to supporting the platform, us, not the Collective. But maybe you still don't like the use of 'platform' here Francois? What do you think?

[2020-07-15 11:50] sbinlondon opened #3334 "Contribution flow revamp: clean up/delete old components and flow"
At the end when the new flow has been rolled out, make sure to delete old pages, components, etc that aren't in use anymore

[2020-07-15 11:57] sbinlondon opened #3335 "Contribution flow revamp: upgrade to GraphQL v2"
Details TBA but queries/mutations are:

- [x] ~CollectiveDataQuery~ AccountQuery
- [x] ~CollectiveWithTierDataQuery~ AccountWithTierQuery
- [ ] SubmitOrderFragment
- [x] addCreateOrderMutation
- [ ] addConfirmOrderMutation

[2020-07-15 11:59] sbinlondon opened #3336 "Contribution flow revamp: step 1 contribution details"
For step 1, all 5 states (guest contribution > $250, guest contribution < $250, guest contribution > $5000, recurring contribution, and user contribution) are the same *except* that when logged in rather than being a guest, the *contribution flow header* will display differently.

### Screenshot of step 1
![Screenshot 2020-07-15 at 12 43 28](https://user-images.githubusercontent.com/37520401/87541

[2020-07-15 12:24] znarf commented on #3331
My problem was more with `fee`. `platformContributionAmount` could work for me.

[2020-07-15 14:38] Memo-Es commented on #3336
I think the 'You have contributed $x so far!' counter should start as of the first contribution, so before if you're a registered user but have not contributed yet to a given Collective you are in fact 'Joining' the rest of the contributors @sbinlondon

[2020-07-15 15:02] sbinlondon opened #3337 "Contribution flow revamp: step 2 user details"
There are 4 states:

## Guest contribution > $250, guest contribution < $250

Optional name, required email, and optional newsletter

![Screenshot 2020-07-15 at 15 21 40](https://user-images.githubusercontent.com/37520401/87556757-eeba0900-c6ae-11ea-9034-29a5b3b664a3.png)
![Screenshot 2020-07-15 at 16 03 53](https://user-images.githubusercontent.com/37520401/87561609-d4832980-c6b4-11ea-81df-039b01

[2020-07-15 15:22] sbinlondon opened #3338 "Contribution flow revamp: step 3 payment"
Effectively the same for all 5 states, except that if the user is logged in, we'll see a list of their account's payment methods

![Screenshot 2020-07-15 at 16 20 14](https://user-images.githubusercontent.com/37520401/87563451-2331c300-c6b7-11ea-9134-848964e1ba55.png)

There is already a GraphQL v2 mutation for adding a payment method ✅

### Questions

This step raises an engineering design questi

[2020-07-15 16:34] sbinlondon opened #3339 "Contribution flow revamp: step 4 success/CTAs"
For this final step we have two 'halves' of the page: success/thank you for the contribution with info about it, and some calls to action. There are

## Guest contribution (all amounts)

There are all 3 CTAs: join Open Collective, 'read our stories', and subscribe to newsletter. The success/thank you panel shows info about the donation in a styled card.

![Screenshot 2020-07-15 at 17 19 00](https:

[2020-07-15 22:59] alanna opened #3340 "Payee info should match across profile, payout method, and tax form"
For purposes of compliance, accounting, taxes, and AML best practice, the ID of the person or entity should match across the payee profile, payout bank account, and tax form (if required).

Right now a lot of people submit expenses under their personal profile for payout to their company bank account, for example, and then are sent a tax form associated on our system to their personal profile, but

[2020-07-15 23:23] alanna commented on #3053
Can we use the expense comment system for this? And if it's straightforward to do that, maybe it could be a bounty?

[2020-07-15 23:36] alanna opened #3341 "Host admin can unreject Collective"
## User story
As a host admin, I want to be able to change my mind when a Collective replies to their rejection with followup info that shows they meet the criteria. Currently we have to ask them to reapply and it's complicated for the user.

## Best solution for this problem
A revamped `applications` section on the dashboard, showing rejected ones, where you can search by name and date, and have

[2020-07-15 23:47] alanna opened #3342 "admin can turn off events"
Related to #3283

## User story
As an admin I want to disable events using the `page sections` settings, e.g. make events appear on this list (even if separating it from `contributions` is another issue, it could appear as a subheading under contributions until we fix that).

<img width="756" alt="Screen Shot 2020-07-16 at 11 45 55 AM" src="https://user-images.githubusercontent.com/5498878/8761060

[2020-07-16 02:16] alanna commented on #2605
Should this become a bounty again?

[2020-07-16 04:48] Memo-Es commented on #3339
@sbinlondon I think that we should show the subscription CTA only with non-registered users and new users that came out from the recurring contribution flow for the first time

[2020-07-16 04:57] Memo-Es commented on #3337
* Why third thank you screen? Where are the other two?
* I thought to send the confirmation email when you're seeing the screen with the illustration. When the users go to their email and click on the link it should redirect them directly to the next step (Choose your payment details)

@sbinlondon

[2020-07-16 06:06] Memo-Es commented on #3336
Adding these behaviors for the 'Other amount' selection:

* Selecting 'other' amount
![ezgif com-optimize](https://user-images.githubusercontent.com/49539954/87632514-2cdf1900-c6ff-11ea-9bdf-6cc7a9369a4e.gif)

* Selecting 'invalid' amount
![ezgif com-optimize (1)](https://user-images.githubusercontent.com/49539954/87633080-564c7480-c700-11ea-97f9-82aad747bd26.gif)

Design is in the [production fil

[2020-07-16 08:48] znarf opened #3343 "Regression in Tax Form notice"
Seems we introduced a regression in https://github.com/opencollective/opencollective-api/pull/4022

We got a user complaining on support, https://opencollective.com/fody/expenses/21912

**Update**: the query seems flawed and needs to be fixed

[2020-07-16 09:19] flickz commented on #3343
Considering the current query and to better understand what is expected:
`  AND all_expenses."incurredAt" BETWEEN date_trunc('year', all_expenses."incurredAt") AND (date_trunc('year', all_expenses."incurredAt") + interval '1 year')`

If an expense was incurred  `July 11, 2020`, the query search for all expenses between `Jan 1st, 2020` - `Jan 1st 2021` similar to what we have in the [model](https:/

[2020-07-16 09:58] znarf commented on #3343
@flickz what you describe is right, it's what it should do. However the behavior of the query is different and it's not working that way.

That looks suspicious to me:

`AND all_expenses."incurredAt" BETWEEN date_trunc('year', all_expenses."incurredAt") AND (date_trunc('year', all_expenses."incurredAt") + interval '1 year')`

[2020-07-16 11:26] sbinlondon commented on #3337
Yep that's how I understood it - so just to confirm, after this flow:

When we reach the thank you screen, the user then must leave our site, open their email, and click the link which brings them back to the payment step.

What I'm asking is what happens to the tab they have open with the 'thank you' screen? Do we just expect them to close it? It doesn't do anything else?

[2020-07-16 12:13] contraexemplo commented on #2595
@Betree It takes a total of 14 seconds (7 seconds to build and 7 seconds to deploy, according to Netlify). A build and deploy is triggered every time someone add commits to the main branch. I wonder if their continuous integration with GitHub (especially generating previews when someone opens a pull request) may also influence in the # of builds per month? It isn't quite clear from their [blog pos

[2020-07-16 13:19] Memo-Es commented on #3337
Yeah. I don't know if it's possible to redirect them to the next screen using that same tab or it could be like the zoom screen when you connect to a meeting and you have to close that tab later.

[2020-07-16 14:00] sbinlondon commented on #3164
For devs working on this (@Betree) I have made a flow chart to help think about states (logged in vs guest, contributing over $5000 vs under $5000, recurring vs one-time contribution) and how that effects what is displayed. I know we have mock-ups but for me this helps me to visualise and organise in my head how the components will look at change based on these conditions. I hope it's also helpful

[2020-07-16 16:47] kewitz opened #3344 "Address fields in the Bank Information Form are confusing"
We've been receiving support tickets asking if the address requested in the expense form is related to the beneficiary or the bank.

This is understandable since:
1. We already request the Physical Address right beside it;
2. In some countries, it is common to ask for the bank address.

### Our form

![image](https://user-images.githubusercontent.com/2119706/87698207-8a0fb480-c769-11ea-8cdc-00a13a

[2020-07-16 16:59] #3285 closed

[2020-07-16 22:25] alanna commented on #3340
The accountant said:

I think we need to get tighter on this in terms of our operational policies for OCF and OSC, i.e. not process the payment if the payee IDs aren't correct. We can continue to do this manually and require users to go back and edit expenses. But a technical solution would be helpful and also support smaller hosts who don't have as deep an understanding of this stuff or lack capa

[2020-07-17 00:14] alanna opened #3345 "Enable Brazilian Real currency"
We have a new host that wants to start up in Brazil. Can we enable BRL as a currency option?

[2020-07-17 03:20] Memo-Es opened #3346 "Design system update: Mid July 2020"
### This update includes:

 ##  👉🏼 **[Collective card component](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Kit?node-id=1973%3A134684)**:

- Consolidated version of Collective cards. In all states and public and private contexts.

<img width="958" alt="Screen Shot on 2020-07-16 at 22-11-30" src="https://user-images.githubusercontent.com/49539954/87744661-a8999e00-c7b1-11ea-93f7-a55

[2020-07-17 08:20] alanna commented on #3343
In case it's helpful:
* the $600 threshold needs to be counted based on calendar year, so it resets on Dec 31.
* we need a new tax form as soon as they hit the $600 threshold after Jan 1.

[2020-07-17 14:13] kewitz opened #3347 "Inconsistent Tests"
I'm starting a new list with tests that eventually throw in CI workflow so I can fix it in batch.

### How to debug
1. Run the api in E2E mode: `npm run start:e2e`
1. In the Frontend repo, comment the coverage plugin in the frontend:
[code]
3. Run the frontend in dev mode: `npm run dev`
4. In the frontend repo, open cypress with `npm run cypress:open`

### List

- [x] Create and Event
[code]
- [x]

[2020-07-17 18:57] znarf commented on #3345
@alanna Have they already tried? Did it failed? In this case, what was the error?

@kewitz Can you look at this?

[2020-07-17 19:00] znarf opened #3348 "Status of "Custom Recurring Contribution" once disabled"
What's happening if someone create a recurring "Custom Contribution" and the collective disable "Custom Contributions" a few months later?

@Betree Can you check that we handle that elegantly? I thought about this case while answering a related support issue.

[2020-07-17 19:05] znarf commented on #3344
@kewitz Are we good that we're asking the address 2 times? Is there a way to handle that better?

[2020-07-17 20:59] sbinlondon commented on #3336
@Memo-Es @piamancini Do we have the full FAQ text for this flow?

[2020-07-17 22:54] sbinlondon commented on #3339
Knocked a good chunk of the UI out for this - just waiting on the actual data from the contribution to be hooked up to it.

Additionally @piamancini what's the link for the 'Read Our Stories' CTA?

[2020-07-17 22:55] sbinlondon commented on #3337
Have made an empty component and laid out some of the conditional logic for the different states (guest vs logged in, etc)

[2020-07-17 22:55] sbinlondon commented on #3338
Have made an empty component and laid out some of the conditional logic for the different states (guest vs logged in, etc)

[2020-07-19 23:12] alanna commented on #3345
@kewitz I will assign the freshdesk ticket to you.

[2020-07-19 23:12] #3345 closed

[2020-07-20 00:45] alanna opened #3350 "User left off tax form list in error"
[This user](https://opencollective.com/josegonzalez) was paid $15,000 in 2019 by Open Source Collective, but he was not on the list we gave to the accountants and thus didn't get his 1099 (we've since issued him one manually).

We need to figure out why he was missed so we can ensure no one else is falling through the cracks.

In Forest, I can see he did submit a tax form in 2019, but the link to

[2020-07-20 00:49] alanna commented on #3344
I suggest this text for the tooltip:

@znarf 's comment points to the issue explained in #3340 - the address of the `pay to` profile and the payout method owner's address should always be the same, but in practice our system doesn't force this, and it probably should.

I suggest we implement the update to the text tooltip and follow up the bigger issue about addresses matching and redundant fields

[2020-07-20 00:51] alanna commented on #3340
In another issue the point was also made that because we treat the payout method owner and pay to profile independently, we end up needing to ask them to fill out their address twice right next to each other on the expense form. If we forced the profiles to match as they should, we could pull in the data from one and apply it to the other.

[2020-07-20 07:21] Betree commented on #3328
Related: https://github.com/opencollective/opencollective/issues/3081

[2020-07-20 07:33] Betree commented on #3055
@alanna Not entirely: because this default contribution is not a real tier right now you can't customize the minimum amount, the title, the description, etc.

Moving default contributions to "regular" tiers (aka. a tier that have an entry in the DB) would solve that, but I'm not sure yet if we want to go in this direction cause it may involve a lot of complexity.

[2020-07-20 07:40] Betree commented on #3330
In our current model being a fiscal host does not give you full admin permissions on the collective, it only gives you the admin permissions on their finances (expenses, orders). I see a risk of host admin deleting a collective by mistake or after they get into an argument, and it seems to me that this permission is too broad for their role.

As the action to "Un-host" a collective is already plan

[2020-07-20 07:50] Betree commented on #2605
@alanna From the latest discussions, the goal for search was to rather move with https://github.com/opencollective/opencollective/issues/2970 and to move away from Algolia to use our own system. But we have no clear ETA for this project, so I'm not against adding a small bounty.

[2020-07-20 07:59] Betree commented on #3343
For context: https://opencollective.freshdesk.com/a/tickets/8231

[2020-07-20 08:11] Betree commented on #2595
Good to know, that's super fast!

From what I remember, it does. That was the main reason why we reached the limit so quickly.

In terms of process, it's very similar to Netlify. You add a new project (new service) by selecting the repo and then it auto-deploys whenever someone push on master.

[2020-07-20 09:04] Betree commented on #3329
The script that does the monthly data export is also exporting some other information, like the transactions. Moving that to a webpage would not really simplify things for engineering, the real simplification for us would be to have the data automatically exported to Drive, without developer intervention.

[2020-07-20 12:16] kewitz commented on #3344
@znarf, I see two ways of simplifying this form:
1. Unifying by always requesting the structured address compatible with TransferWise.
    - Should require a bit of caching and requesting the backend to make sure the address is compatible with TW.
2. Hiding our free-form address field when the payout method is a wire transfer.
    - The quick solution.

There's also the fact that these addresses a

[2020-07-20 12:40] #3344 closed

[2020-07-20 12:43] #3343 closed

[2020-07-20 13:26] Memo-Es commented on #2434
🎨 [Final design](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=4359%3A330) with dropdowns and exports

[2020-07-20 21:53] alanna opened #3351 "Error when clicking through to conversation thread from email"
**Describe the bug**
I got an email notification about a new comment on a conversation. I clicked the "view" button but it sent me to https://opencollective.com/opencollective/conversations/feedback-on-conversations-undefined instead of the correct URL
https://opencollective.com/opencollective/conversations/feedback-on-conversations-8dpo3pew.

There, I saw the error below. If a conversation is not

[2020-07-20 22:06] alanna commented on #3344
If we hide the free form address field for bank transfer payments that already require an address field, please make sure the payee address is still printed on the expense summary screen and the downloadable invoice. We need payee addresses on the invoice in order for it to be valid. This also goes for when the payout method is Paypal - we need to collect and display the address for the invoice.

[2020-07-20 22:12] alanna commented on #3329
True. Ok so true MVP would be a manual script with accurate data. MVP+ would be that script running automatically and uploading to drive. The real best feature would be an awesome public visual leaderboard. I'm ok with any of those three, but we can't continue publishing inaccurate data. @Betree can you comment about the inaccuracies you discovered?

[2020-07-20 22:17] alanna commented on #3330
Yes an un-host option would help in this case. That probably makes more sense.

So if a Collective admin is MIA and a host has to stop hosting it, the host admin can submit, approve, and pay an expense to zero the balance, and then un-host? If so that would be ok.

Does the host admin also have access to the 'zero balance' button on their Collective? If not, we won't be able to complete the above

[2020-07-21 07:54] Betree commented on #3269
I just pushed a fix in https://github.com/opencollective/opencollective-api/pull/4249. There were two issues with these queries:
1. We were accounting for deleted transactions
2. Transactions without platform fees were ignored, probably to skip added funds. This is why the transactions to FOSS Responders haven't been included in the previous leaderboard

[2020-07-21 08:03] Betree opened #3352 "Monthly data export: automatically upload to drive"
## User story
The monthly data export (`scripts/monthly_data_exports.js`) that we run each month produces public data as 4 CSV files that we upload to a public Drive. We want to automatize this process to save engineering time and improve the autonomy of the rest of the team who depends on this data.

## Best solution for this problem
- [ ] Rename the script to a new CRON job in `cron/monthly/data

[2020-07-21 08:05] Betree commented on #3329
@alanna I just pushed a fix and described the underlying issue for the inaccurate data in https://github.com/opencollective/opencollective/issues/3269#issuecomment-661697680. I've also created https://github.com/opencollective/opencollective/issues/3352 to automatize the script, we'll eventually be able to add a bounty on it.

[2020-07-21 08:08] Betree commented on #3330
Not at the moment, we can look toward enabling that in the new dashboard.

[2020-07-21 08:13] Betree commented on #3338
@sbinlondon It does. In fact the current contribution flow already supports that (ie. https://opencollective.com/babel/donate?totalAmount=250000&interval=month). We should try as much as possible to re-use the existing code because it has all these features and because it handles many cases that are not described in the current design, like VAT, events tickets (where you have a notion of quantity/

[2020-07-21 08:23] Betree commented on #3305
The most problematic thing is probably the fact that we rely on specific IDs for some hosts/collectives.

A good first step to me would be:
- To only use `utils.resetDB` if necessary
- If possible, use it in `before` (not in `beforeEach`)
- To add a comment whenever we add a `utils.resetDB` to explain why it's necessary

Closing as the complexity/gain ratio doesn't seem great at the moment.

[2020-07-21 08:23] #3305 closed

[2020-07-21 09:37] Betree commented on #3351
Regression introduced in https://github.com/opencollective/opencollective-api/pull/3693

[2020-07-21 12:50] #3351 closed

[2020-07-21 13:42] #3269 closed

[2020-07-21 16:04] Betree commented on #3348
The only place where we check this flag on the API is in [createOrder](https://github.com/opencollective/opencollective-api/blob/50cbc556bb881e821e530d5ff0008d13504527bd/server/graphql/v1/mutations/orders.js#L199). Since we're re-using the same order when processing subscriptions, it shouldn't cause any issue.

However while investigating that I found out that `SendMoneyToCollectiveBtn` that uses

[2020-07-21 18:46] awright commented on #3269
awesome. thanks!

On Tue, Jul 21, 2020 at 6:42 AM Benjamin Piouffle <notifications@github.com>
wrote:

[2020-07-22 00:40] alanna opened #3353 "Add 'Create Collective' button to host dashboard or host page"
## User story
As a fiscal host admin, I want to easily create new Collectives under my host, which don't need to go through an approval process.

It's possible to do this now, but it's hard to find and not intuitive.

<img width="620" alt="Screen Shot 2020-07-22 at 12 37 12 PM" src="https://user-images.githubusercontent.com/5498878/88120949-5f65a600-cc18-11ea-9c85-1e2d8c07c5f7.png">

## Best solut

[2020-07-22 02:06] alanna commented on #3353
Related #3244

[2020-07-22 02:25] panjf2000 opened #3354 "contributors.svg didn't refresh once a day automatically"
Hi,
I am reporting that the contributors.svg hasn't been updated for more than a month.

https://opencollective.com/ants/contributors.svg shows 11 contributors while https://github.com/panjf2000/ants/graphs/contributors shows 12.

https://opencollective.com/gnet/contributors.svg shows 7 contributors while https://github.com/panjf2000/gnet/graphs/contributors shows 11.

[2020-07-22 02:28] panjf2000 commented on #3354
Besides, the sequence of contributors in SVG doesn't match that in the Github contributors graph.

[2020-07-22 07:47] Betree commented on #3324
As a follow up on this issue, it may be good to add a small section to the FAQ for collectives, like `Why can't I hide my budget section?`. Proposed content:

![image](https://user-images.githubusercontent.com/1556356/88149184-ff630580-cbff-11ea-97b0-085201608996.png)

[2020-07-22 16:34] Betree opened #3355 "Host dashboard > Hosted collectives section"
:art: Design: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4741%3A8057)

# MVP

This MVP will include:
- [ ] Display the collectives list
- [ ] Set a custom fee per collective
- [ ] Sort by creation date
- [ ] Filter by fee structure
- [ ] Search bar

# Preview

![image](https://user-images.githubusercontent.com/1556356/88202858-be8fde80

[2020-07-22 18:05] kewitz opened #3356 "Collective slugs ending in - can't receive manual transfers or send emails"
Mailgun can't send emails if the collective slug ends with `-`.
This will fail silently if we don't check mailgun logs.
We need to either remove collective slugs from address emails or beef-up validation.

[code]

These were the parameters in this example:
[code]

[2020-07-23 07:40] Betree opened #3357 "Add a page to manage email subscriptions"
## User story
As an Open Collective user, I want a page to manage all my email/contact preferences:
- To re-subscribe if I mistakenly unsubscribe for an email ([user request](https://opencollective.slack.com/archives/C6JTTA4SK/p1595481892326300))
- To easily unsubscribe from all emails (probably required by RGPD)
- To easily see in one glance all the reasons why Open Collective would send me an em

[2020-07-23 09:15] alanna opened #3358 "Numbers in transactions details don't make sense"
This is a transaction for OCNZ:

<img width="1122" alt="Screen Shot 2020-07-23 at 9 08 57 PM" src="https://user-images.githubusercontent.com/5498878/88270120-43055e80-cd29-11ea-8742-232fd7998061.png">

Is there another number that's supposed to come before `+`? If not why is it there?

Shouldn't it say *US* $2,055.42?

It was actually US $2,000.

Doesn't make sense to me... why is this there?

[2020-07-23 09:58] alanna opened #3359 "Country name appearing in wrong language on receipt"
I downloaded a receipt and the country name is not in English?

<img width="854" alt="Screen Shot 2020-07-23 at 9 55 07 PM" src="https://user-images.githubusercontent.com/5498878/88274277-8c58ac80-cd2f-11ea-9097-dc34f9f01302.png">

I believe this info is pulled from the address field in settings, which says "United States" in English.

<img width="937" alt="Screen Shot 2020-07-23 at 9 57 12 PM" sr

[2020-07-23 10:04] alanna opened #3360 "Download receipts doesn't work for hosts with merged budgets"
This button doesn't do anything on the transactions page of hosts whose budgets have been merged to their host page (Foundation and OCNZ), but it seems to be working for non-merged hosts (Open Collective Inc).

<img width="1235" alt="Screen Shot 2020-07-23 at 10 00 46 PM" src="https://user-images.githubusercontent.com/5498878/88274776-5a941580-cd30-11ea-9ecb-cde5a4289497.png">

[2020-07-23 10:08] alanna commented on #3357
Should this also include settings for receiving updates from Collectives/Hosts? Or is that out of scope?

[2020-07-23 10:10] alanna commented on #3355
Related: #2821

[2020-07-23 10:19] Betree commented on #3357
@alanna Yes it should, I've added an example for that above:

[2020-07-23 10:24] Betree commented on #3359
Good catch, we introduced a bug with the latest countries internationalization update. Fixing that now

[2020-07-23 10:27] #3359 closed

[2020-07-24 07:44] Betree opened #3361 "Fees on top: "Other" doesn't work with different locales"
**Describe the bug**
When using fees on top with a different locale, the custom amount input that's normally displayed when you pick `Other` doesn't appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/xr-idf/donate
2. Change your locale to French
3. Go to step details
4. Pick `Autre` (other)
5. See that `Other amount` input is missing

**Expected behavior

[2020-07-24 09:52] Betree opened #3362 "Ability for hosts to set a monthly retainer rather than a fee"
## User story

Eg. Open Collective Brussels is asking €10/month to each collective. Right now they have just created a tier and they manually ask collectives to subscribe to it. It would be very useful if this could be part of the built-in experience.

## Best solution for this problem
See [design](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=48

[2020-07-24 09:53] Betree commented on #2821
https://github.com/opencollective/opencollective/issues/3355 will solve this issue. We'll follow up on https://github.com/opencollective/opencollective/issues/2821#issuecomment-584154676 with https://github.com/opencollective/opencollective/issues/3362.

[2020-07-24 15:51] fabianmendes commented on #3332
Sorry, I've forgotten to add all that!

Env: Google CHROME Version 80.0.3987.132 (Build oficial) (64 bits). Linux

Screenshots:
![Captura de pantalla de 2020-07-24 11-20-50](https://user-images.githubusercontent.com/31230743/88410040-d1b6c180-cda3-11ea-9406-6d7957f624d3.png)Versión 80.0.3987.132 (Build oficial) (64 bits)
(I've tried again, but it still happening)
![Captura de pantalla de 2020-07-2

[2020-07-24 17:13] kewitz opened #3363 "Transactions from Expenses pointing to wrong beneficiary"
**Describe the bug**
Transaction page displays transactions from expenses that were submitted in the name of a different Collective.
I just noticed that although the Expense points to the right collective, transactions are being created with the author as the beneficiary.

Not sure if bug or by design, I'll investigate this further since it will require a migration to fix past transactions.

[2020-07-25 01:52] alanna commented on #3362
Kind of a dup of #2843 but this is more narrowly scoped

[2020-07-25 01:58] alanna commented on #3362
Suggestion on the wording to make it more clear:

Host fees for [Collective]
* Use default fee(then display whatever that is here, uneditable) (change fee for all Collectives (links to settings))
* Custom percentage: [   %] of all income
* Flat monthly flat fee: [$   ]

"Retainer" means something else so don't use that word.

Also: I think monthly fee should be an option in the global settings for

[2020-07-25 02:00] alanna commented on #3362
Another question: When we add funds manually there's an editable box for a custom % fee. I think we should keep this because the fee for the Collective might be one thing, while a specific agreement for that specific transaction could be another, but I'd love it if next to the % box on add funds there was also a one time flat rate fee option. "Add funds" should probably inherit as the default the

[2020-07-25 03:04] alanna opened #3364 "Pay to address disappeared from expense"
I submitted this expense: https://opencollective.com/ocnz/expenses/22546

When I selected my profile, it displayed my address under my name under 'pay to' (it's saved in my settings). But when I submitted the expense, the address disappeared.

<img width="797" alt="Screen Shot 2020-07-25 at 3 00 56 PM" src="https://user-images.githubusercontent.com/5498878/88447506-2df31180-ce88-11ea-9bbb-352d8e4f

[2020-07-25 03:29] alanna commented on #3337
Let's be careful with how we use language here. It's 'financial contribution' not 'donation' and 'updates' not 'newsletter'. Phrases like 'donation receipt' have very specific meanings in some countries (e.g. tax deductibility) and we should not apply them globally. We need to use as neutral language as we can, such as just referring to 'receipt'.

It's also not clear to me who "we" is on many of

[2020-07-26 07:41] alanna opened #3365 "Expense losing $0.02 after submitting"
I've seen this multiple times but it's only happening sporadically. I submit an expense for $x, but after clicking through, the summary shows $x-0.02 (two cents). I submitted one for $1250 and the summary showed $1249.98. I went back and edited it and it was fine, but something strange is going on there.

[2020-07-27 06:15] Memo-Es commented on #3278
Proposal for a new design to allow Collective admins to request an expense to vendors or community members @alanna
[→ Figma prototype ](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.com-Lab?node-id=7940%3A661&viewport=460%2C131%2C0.12921291589736938&scaling=min-zoom)

| 1. Collective admin  |  2. Collective admin |  3. Collective admin |  4. Collective admin |  5. Vendor | 6. Vendor   |

[2020-07-27 07:47] Betree commented on #3326
Hi @celesteking, the abuse reports are usually best handled by support. The link to contact them is listed in the footer, feel free to reach out to `support@opencollective.com` whenever necessary.

For this specific case, while we understand that cold call emails like that can be annoying, there's not much we can do as the communication didn't happen through one of the channels that we manage. As

[2020-07-27 09:30] Betree commented on #2434
Also mentioning a small difference that we should implement with the re-design: currently the button to download a transaction receipt is only displayed on DEBIT transactions. The reason is probably that a receipt is mainly dedicated to the payee, but we had the case recently for hosts willing to download some of these receipts.

So we should display this button on CREDIT and DEBIT transactions al

[2020-07-27 09:33] Betree commented on #3009
This issue is actually ready to be tackled, we should iterate as it's a very simple change

[2020-07-27 09:39] #3279 closed

[2020-07-27 10:11] Betree commented on #3365
We got a support ticket that can be related to that a few weeks ago: https://opencollective.freshdesk.com/a/tickets/7897

My assumption was that it could be related to inadvertently scrolling into the amount input (see the screencast below) but I've since blocked this behavior to make sure it doesn't happen.

To help investigate, could you share:
- The number of items and their individual amounts

[2020-07-27 10:38] Betree commented on #3316
All good in the end, the cache is only for one rolling day: https://github.com/opencollective/opencollective-api/blob/bd115f4eed74484ab4cee076711c027eab7b1a05/migrations/201706030000-add-HostId.js#L128

[2020-07-27 10:38] #3316 closed

[2020-07-27 11:00] Betree commented on #3329
Is there any actionable left for this issue?

[2020-07-27 15:44] SudharakaP commented on #3009
@Betree : Sorry, I thought those are done in separate issues just like, #3037. Will work on it.

[2020-07-27 15:48] Betree commented on #3009
@SudharakaP no worry, my comment wasn't targeting you :wink: If you have the time to work on it your contribution would be welcome! What's left to do for this issue is what was described in https://github.com/opencollective/opencollective/issues/3009#issuecomment-618848190

[2020-07-27 15:50] SudharakaP commented on #3009
@Betree : Thanks. :+1: I'll work on it this week. :smile:

[2020-07-27 15:54] bkardell opened #3366 "Footer icons lack text/accessible name"
**Describe the bug**
The icons in the footer (blog, gh, twitter, etc) lack text alternatives and are not accessible.  There are numerous solutions to this, the easiest is to just include the actual text of the link, but other solutions could include adding an aria-label/title or a visually-hidden/sr-only element containing the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a col

[2020-07-27 22:15] #3329 closed

[2020-07-27 22:17] alanna commented on #3365
- The number of items and their individual amounts: it was one item on
   the expense (invoice) and the intended amount was $1250
   - Your locale (I assume it's EN_NZ): yes EN_NZ
   - Browser: Chrome
   - OS: MacOS

[2020-07-27 23:11] alanna commented on #3278
@Memo-Es this is a good start!

How does the user get to this flow? Will this be a third option next to "Reimbursement" and "Invoice"? I think it could be, but smaller and not as emphasised. We need to think of some very clear language so people understand when to click this option. "Create expense on behalf of someone else"? "Invite someone to submit an expense"? If we're also using this flow for

[2020-07-27 23:26] alanna commented on #2665
@Memo-Es I have it on my list to review this for a while but I just haven't had space to load it all into my brain. Visually, the design you posted looks really good. Can you please review the settings I specified in the original post of this issue to make sure those are all addressed?

Since I wrote that initial list, we have also started moving all the Collective features to fiscal hosts as well

[2020-07-28 03:19] Memo-Es opened #3367 "Footer component update"
:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Organisms?node-id=4%3A0)

## Website footer update
---

We updated the footer component based on the feedback provided by @alanna in #3321 and also to address accessibility issues and comply with the WCAG AAA standards.

@Betree  it could probably be related with #3009

<img width="1209" alt="Screen Shot

[2020-07-28 04:50] alanna opened #3368 "Bank transfer instructions showing markup"
The preview of the bank instructions is supposed to take the markup and render it as formatted text, but the preview is showing some of the markup, so the host admin can't really see what it will look like for users very well.

<img width="1206" alt="Screen Shot 2020-07-28 at 4 47 37 PM" src="https://user-images.githubusercontent.com/5498878/88620451-33539480-d0f2-11ea-9ab9-0ac07d9ecc11.png">

Thi

[2020-07-28 07:29] #3363 closed

[2020-07-28 07:50] #3355 closed

[2020-07-28 07:50] #2821 closed

[2020-07-28 07:50] #3346 closed

[2020-07-28 07:55] #2572 closed

[2020-07-28 08:05] Betree commented on #3367
@Memo-Es The language selection is missing from this design, it's a blocker as there's currently no other way to change your language

[2020-07-28 11:45] #3361 closed

[2020-07-28 13:40] znarf commented on #3350
If the link to the file is missing from the DB, it's likely because of a manual edit. It was properly uploaded on S3 when we checked the data earlier this year:
https://docs.google.com/spreadsheets/d/1-_CBJ95qTYcjQ9BAsQdCkoVaJc8ghkPEsUKzukmo6u8

I think we used the following documents to communicate the list to the accountants:
https://docs.google.com/spreadsheets/d/1mrn_DlEJ5iaUrPUoQwkbcF8wBbygfF

[2020-07-28 13:44] znarf commented on #3293
@kewitz @alanna Can we consider that solved?

[2020-07-28 13:45] znarf commented on #3307
@Betree @alanna  can we close this?

[2020-07-28 13:55] znarf commented on #3364
@Betree can you look into this?

[2020-07-28 14:13] #3307 closed

[2020-07-28 14:27] znarf commented on #3358
@kewitz is this part of your current work?

[2020-07-28 14:37] znarf commented on #3317
They were counted as a debit because they were indeed moved from the Organization (foundation) to the Collective (foundation-collective).

We were not supposed to have anymore transactions registered to foundation-collective. I've now cleaned the transactions and this is looking good. https://opencollective.com/foundation/transactions

<img width="1101" alt="Screenshot 2020-07-28 at 16 32 50" src=

[2020-07-28 14:37] #3317 closed

[2020-07-28 14:52] kewitz commented on #3358
@znarf I'll review this in the redesign.

[2020-07-28 15:01] Betree commented on #3364
The address is not there because the expense is a receipt, and we strip addresses for receipts. The address input was normally not displayed, or disappeared when you switched from `Invoice` to `Receipt`. Can you confirm this?

There's however something confusing in the UX there: if previously entered, the address is still displayed in the summary, before submitting.

[2020-07-28 17:03] znarf commented on #3360
I'm not sure what is the expectation in this case (except that it's not broken!).

This feature seems to be designed for USER and ORGANIZATION to download their financial contributions receipts (and only that).

I could remove the link for Hosts while we work on something better (this feature is not really solid).

[2020-07-28 17:05] znarf commented on #3360
https://github.com/opencollective/opencollective-api/pull/4287 to fix the crash.

[2020-07-28 22:59] alanna commented on #3360
@znarf as a fiscal host admin, I would like to be able to download contribution receipts too. I thought that's what the feature was for.

Perhaps the needs are better solved another way?

The times when I want to do this are a) seeing what my receipts look like after adjusting the settings for them like adding extra text (maybe a better preview feature on that settings page would be better), and b

[2020-07-28 23:18] alanna commented on #3364
Ah, that makes sense. I think it's more of a confusing UX thing, then. We
don't technically need payee addresses on receipt expenses, but it's there
at first and then disappears so I thought something went wrong. If we have
an address for the user, there's no harm in including it on a receipt
expense, it's just not required. So maybe we should display it if we have
it and not display it if we don'

[2020-07-28 23:19] alanna commented on #3293
I think it was solved on another issue by adding a tooltip. If @kewitz has completed that with the help text I supplied, this can be closed.

[2020-07-28 23:21] alanna commented on #3350
OK. I think this will not come up for 2020 because we will not have any more `unclassified` expenses now. But I'm worried we might have missed others from 2019 during the migration.

@znarf can you check if there are any users who have >$600 in `unclassified` expenses who were not included on the list for the accountants? If not, we can just close this. If there are, we need to inform the accounta

[2020-07-29 00:02] SudharakaP commented on #3009
@Betree : Done, let me know if you see any issues. :smile: Btw, when following Figma designs do we exactly follow the fonts sizes and stuff or is it based on the overall look and feel. I mean like the amounts do they have to match exactly? :smile:

[2020-07-29 02:03] #3293 closed

[2020-07-29 02:39] Memo-Es opened #3369 "[PROJECT] Collective page navigation redesign"
## Purpose
Navigation between sections of the Collective page has become more complex with time and now it has some awkward behaviors related to the different sections and features available for admins and users. Resulting in an under-utilization of the platform features.

🗒 Full specs of this project [here](https://docs.google.com/document/d/1TCAi1iPCP36g3GdkwSyM8bQkyBkUF30pSrdJ4QbyZCU/edit?usp=s

[2020-07-29 02:47] Memo-Es commented on #3133
#3278 Mentioning this issue since is where I'm uploading design updates of the 'Request expense' feature

[2020-07-29 04:02] Memo-Es commented on #3367
**Update - Language selection**

<img width="613" alt="Screen Shot on 2020-07-28 at 23-00-55" src="https://user-images.githubusercontent.com/49539954/88755252-5435dd00-d126-11ea-811d-c317aff1537f.png">

@Betree Changes are applied inside the file mentioned in the description.

[2020-07-29 06:46] SudharakaP commented on #3076
@Betree : Do you have any preference on where this [Read more] link should appear? Maybe next to title? :thinking:

[2020-07-29 07:14] Betree commented on #3364
Because we don't have any input to allow you to change your address for receipts, I think that we should continue to strip it. Otherwise users could be confused about why they can't edit it.

So for me the simple fix here is to hide the payee address on the summary if the expense is a receipt.

[2020-07-29 07:18] Betree commented on #3009
@SudharakaP We try to stick to the design as much as possible. Texts should always match the fontWeight/fontSize/lineHeight from Figma.

For cards sizes / spacing between items however we allow some differences, especially because we have to deal with responsiveness and have something that looks good on all screen sizes.

[2020-07-29 07:27] Betree commented on #3076
I'd say at the end of the truncated content, similar to what we can see on Facebook & other social networks

![image](https://user-images.githubusercontent.com/1556356/88769935-5d05cd80-d17d-11ea-8a40-910c7561f86e.png)

[2020-07-29 07:32] Betree commented on #3367
@Memo-Es thank you, think is perfect!

[2020-07-29 08:04] Betree commented on #3365
I tried to reproduce with different scenarios but wasn't able to. I also looked at the code that handles the amounts and found nothing in there that could explain this bug. While I don't exclude that there may be a problem in the code, it's hard to investigate further without more precise steps.

Another track that I want to follow is the possibility of an UX issue, similar to the scroll behavior

[2020-07-29 15:33] kewitz opened #3370 "Host fees calculated on top of platform donations"
**Describe the bug**
Host fees are being calculated on top of platform donations.
This affects transactions where the user donated to the platform on a host that charges a hostFeePercent.

You can fetch these transactions with:
[code]

Note that I omitted `t."TransactionGroup" != '6df7bbd6-7d9e-48a1-8717-c0dc46f95bb7'`, since this transaction seems buggy and should be manually investigated.

[2020-07-29 16:06] Betree commented on #3083
I haven't continued with https://github.com/opencollective/opencollective-api/pull/3804. I assume it's still needed to complete this?

[2020-07-29 17:07] znarf commented on #3161
@alanna I looked at it and I think it's easier to additionally send the "Collective Report" to these Hosts. PR coming

[2020-07-29 18:55] SudharakaP commented on #3009
@Betree : Thanks you for the information. Think I've matched them closely. Let me know if you see anything else to be added.

[2020-07-29 19:03] SudharakaP commented on #3076
@Betree : Done. :+1:

[2020-07-29 21:09] #3348 closed

[2020-07-29 21:25] znarf commented on #3368
Markup is now discouraged. You can check the latest default instructions template, it's now in plaintext.

We should consider stripping all markup from past entries and start actively stripping it if people try to add some.

[2020-07-29 21:29] znarf commented on #3356
We should prevent such slugs and migrate existing one.

[2020-07-29 21:33] #3324 closed

[2020-07-29 21:35] znarf commented on #3350
Closing this. We'll handle that out of GitHub, already reached about that on Slack.

[2020-07-29 21:35] #3350 closed

[2020-07-29 21:40] znarf commented on #3281
We used to support markdown and decided to focus our efforts on the wysiwyg editor. It was too complicated to support wysiwyg and markdown at the same time.

Our platform being used by non technical people, it was difficult to justify making it markdown only. On the other hand, we thought technical people could live with the visual wysiwyg editor.

[2020-07-29 22:20] #3281 closed

[2020-07-29 22:25] #1034 closed

[2020-07-29 22:29] #1140 closed

[2020-07-29 22:30] znarf commented on #1655
It's now potentially available for all Hosts, they need to be in touch with support@opencollective.com to activate it.

[2020-07-29 22:32] #1665 closed

[2020-07-29 22:34] znarf commented on #2052
I think this was addressed in the new Recurring Contributions interface.

[2020-07-29 22:34] #2052 closed

[2020-07-29 22:38] #2421 closed

[2020-07-29 22:42] znarf commented on #2796
Duplicate with https://github.com/opencollective/opencollective/issues/3325

[2020-07-29 22:42] #2796 closed

[2020-07-29 22:43] znarf commented on #2815
We activated it for Foundation.

[2020-07-29 22:47] #2815 closed

[2020-07-29 22:54] znarf commented on #2677
@Betree We need to delete the old components.

[2020-07-29 22:57] znarf commented on #1429
This is solved by the Bank Transfer / Transferwise feature.

[2020-07-29 22:57] #1429 closed

[2020-07-29 22:59] znarf commented on #1723
It's activated for Hosts with the "budget management" feature.

[2020-07-29 23:11] znarf commented on #2086
Seems there is no new occurrence, closing.

[2020-07-29 23:11] #2086 closed

[2020-07-29 23:16] znarf commented on #2855
Should be fixed in the updated Transactions. cc @kewitz

[2020-07-29 23:22] znarf commented on #3146
Was fixed in https://github.com/opencollective/opencollective-api/pull/3908

[2020-07-29 23:22] #3146 closed

[2020-07-29 23:24] #1395 closed

[2020-07-29 23:35] alanna commented on #1723
Is it really? I thought we were still manually adding host fees each month?

[2020-07-30 03:06] alanna commented on #1655
I'm planning to send an update to all fiscal hosts in the near future with
some info about platform updates. I'll include a mention about turning on
Paypal.

[2020-07-30 03:38] alanna commented on #3368
I just manually fixed the instructions for the hosts I manage. It was messy... some just have a text box and others have you fill out a set form. Does it depend on the country?

[2020-07-30 03:42] alanna commented on #3365
I knew this would be painful as I was writing the issue... sorry. I will
keep my eye out to see if it happens again. I haven't seen any complaints
from users yet so we can deprioritize this until it comes up again.

[2020-07-30 03:46] flickz commented on #3367
@Betree Should I work on this as a follow up of https://github.com/opencollective/opencollective/issues/3321?

[2020-07-30 07:01] Betree commented on #1672
With the new collective page, markdown is not used anymore for collective's long descriptions. We instead use a WYSIWYG editor that doesn't create titles above H2. Legacy descriptions have all been migrated in https://github.com/opencollective/opencollective/issues/3207 and existing titles have normally been updated.

[2020-07-30 07:01] #1672 closed

[2020-07-30 07:11] Betree commented on #1655
Would be great to add this info and some lines about how it works for fiscal hosts in [the documentation](https://docs.opencollective.com/help/fiscal-hosts/fiscal-hosts)

[2020-07-30 07:22] Betree commented on #3367
@flickz It's open for contributions. The main parts of this update are:
- Update the fontSizes/fontWeight/color when necessary
- Implement the country select. For flags, use the UTF8 emojis (ie. https://emojipedia.org/flag-spain/). When a language is picked, we should probably mark the select as `isLoading=true` while user is being redirected.

[2020-07-30 08:01] znarf commented on #1655
@alanna Once they contact support, it's up to the admin team to decide if we activate it or not. One tricky aspect is that the host will be collecting platform fees or platform contributions (aka: "fees on top") on behalf of Open Collective and will need to wire them back on a monthly or quarterly basis.

[2020-07-30 08:17] #3253 closed

[2020-07-30 09:13] Betree opened #3372 "Move pre-deploy script to a separate repo"
We use the predeploy script in all our repos, where it's copy pasted each time, so updates to it require updating all the other repos, which is tedious. To improve that, we should:
- [ ] Move it to its own repository (`opencollective-helpers`, `opencollective-deploy-helpers`, `opencollective-scripts`?)
- [ ] Add it as a subtree of all projects using it
  - [ ] Frontend
  - [ ] API
  - [ ] REST
  -

[2020-07-30 09:18] Betree opened #3373 "Pre-deploy script: add a link to full diff"
In the slack notification posted when deploying, changes diff are often truncated and arguably hard to read. We should normally be able to generate and post an URL like this one in the Slack notification to improve the DIFF view:
https://github.com/opencollective/opencollective-frontend/compare/99d7b619...ebfec1ef

[2020-07-30 10:13] znarf opened #3374 "Request For Grant"
## User story

As a project leader, I want to apply for Grant for my project.

I want to be able to be paid in cash (like an Invoice or Reimbursement). But it should be also possible to credit the money to my "Collective" (or "Event", etc ...) so I can use the Open Collective platform to disperse the money.

## Best solution for this problem

Adding a "Request for Grant" entry to "Submit Expense".

[2020-07-30 10:21] mixmix commented on #1672
<3

On Jul 30 2020, at 7:01 pm, Benjamin Piouffle <notifications@github.com> wrote:

[2020-07-30 12:19] #3370 closed

[2020-07-30 15:10] Betree commented on #3336
I imported some of them from the current flow, but the `Is my contribution secure` one is still Lorem Ipsum. We should first write the proper documentation page/section on https://docs.opencollective.com then resume it there.

To defend this claim on the docs page, we can say that:
- Connection is protected by HTTPs
- We have a security bounty policy and pay rewards
- We are working on a security

[2020-07-30 15:14] Betree commented on #2010
This will be addressed in the new contribution flow

[2020-07-30 15:47] Betree commented on #3367
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-07-30 16:01] snitin315 commented on #3367
Can I take this up?

[2020-07-30 16:09] Betree commented on #3367
@snitin315 Sorry, @flickz first requested to work on this (even though there was initially no bounty on it). @flickz can you confirm that you want to work on this one?

[2020-07-30 16:10] flickz commented on #3367
Yeah sure.

[2020-07-30 19:48] jeffin143 commented on #3374
Seems naive , do you want to handle it internally , or is it open , I can have a go if that's ok

[2020-07-30 21:24] znarf commented on #3374
@jeffin143 at this stage, I think we will handle internally, the specifications are not clear enough for other contributors.

[2020-07-30 23:55] alanna commented on #3374
Can we name this "request funding" instead? I think it will be used more broadly than just grants.

Ideally we should enable admins to set up a custom question. They will want certain info from requestors and it will be different for each. For MVP I think one text field with one user-definable text description is enough. Potentially we could adapt the "expense policy" feature to allow admins to se

[2020-07-31 00:06] alanna commented on #1655
Paging @contraexemplo

[2020-07-31 00:07] alanna commented on #1655
@znarf that sounds complicated. How do you think it will work? Will we send them a request to pay via Paypal each month or something?

[2020-07-31 00:21] alanna opened #3375 "Clear old pending Collectives form host dashboard"
## User story
As a host admin, I want a way to clear out old pending applications that I have not approved, so I can use the pending applications area of the dashboard effectively.

This is mainly relevant to large hosts (e.g. OSC and OCF) who get large numbers of applications. In practice, we often do not actively reject applications that don't fit our criteria, so they just build up forever.

We

[2020-07-31 00:21] alanna commented on #3375
@Memo-Es @alinamanko let me know if you can think of a better solution.

[2020-07-31 00:42] alanna opened #3376 "Pay expense to a Collective budget (in the same host)"
I mentioned this in #3374 but I think it needs its own issue.

## User story
As an expense submitter, I want to be able to select a Collective under the same host as the payee for an expense (or the host budget if it has an integrated budget).

This is effectively the same thing as going to a Collective and going through the contribution flow and selecting another Collective balance as the payment

[2020-07-31 08:12] Betree commented on #3053
We can, the specs for the MVP above are about re-using the existing comment system.

I'm not comfortable with putting a bounty on this one, I'm afraid it would require too much feedback

[2020-07-31 12:48] Betree opened #3378 "Account: add more specific interfaces"
# Problem

In GQLV2 we currently use a single interface, `Account`, to group all our account types (COLLECTIVE, EVENT, etc.). It results in some code duplication for two places:

- In the API, where we duplicate some fields and resolvers (ie. between `CollectiveAndFundFields` and `EventAndProjectFields`).
- In the Frontend, where we have to write stuff like that:

[code]

# Proposal

In addition t

[2020-07-31 14:16] awright commented on #3374
I am not sure if this is been discussed/considered -- but I wonder if there is ever a need to have multiple sign-offs. For example, we as admins can approve payment for a monies provided by XX org, but it would also be valuable to have a representative from XX org to review and agree. In the ethos of transparency, it would be like a verification/validation process representing consensus.

Perhaps

[2020-07-31 14:44] Betree commented on #3374
@awright would https://github.com/opencollective/opencollective/issues/3081 match this need?

[2020-07-31 14:55] awright commented on #3374
@Betree ohh yes! definitely.

[2020-07-31 15:26] SudharakaP commented on #3009
@Betree : Please let me know when design has done the update for the mobile menu. Thanks.

[2020-08-01 05:45] fabianmendes commented on #3332
Hello. This still happening.
![Screenshot-20200801014311-1385x873](https://user-images.githubusercontent.com/31230743/89095126-b1d16000-d398-11ea-9d5f-c3a7c899168b.png)

[2020-08-01 08:53] znarf commented on #3332
@fabianmendes Sorry. There is no known problem with this component and we need to understand what is specific to your case. I have a few questions:

1)What are the characteristics of the file you're trying to upload? Type? Size?

2) Can you test with another file? For example a small image?

3) Can you try with Chrome extensions disabled? Can you try with Firefox?

[2020-08-01 09:55] alanna commented on #2694
@Betree are we still planning to create a flag/report option? I just rejected a spam expense and thought it would be great if admins could report it and we had a process for blocking those users, instead of having to report them to you personally.

[2020-08-01 12:32] fabianmendes commented on #3332
Hi, thank you for your reply! I've just tried from a smartphone and it upload as it should. I think it seems to be the Chrome PC versión (which is unupdated), anyways, I'll try uploading an imagen file and Share with you whci type of files I was getting the issue (they were PDF files, not big MB).

[2020-08-01 15:46] HVEVB opened #3379 "Swedish Translations"
I'd like to translate the site into Swedish

[2020-08-02 13:18] ArtemSBulgakov commented on #1660
Any plans on this issue?

[2020-08-02 19:26] aaaxx opened #3380 "Tilde used instead of the almost equal to symbol"
In the Budget section, the Estimated annual budget amount is prefixed with a tilde, but should really use the symbol for almost equal to (≈ U+2248).

[It think this is the relevant line][budget-line], in `opencollective-frontend/components/collective-page/sections/Budget.js`

[budget-line]: https://github.com/opencollective/opencollective-frontend/blob/7238ba1e190617e13c9d25348632435f2314ed09/comp

[2020-08-02 22:03] alanna commented on #1723
@Memo-Es I think this should be in scope for the host dashboard project. Along with #3161 it will really smooth the experience of managing host fees.

[2020-08-02 22:10] alanna opened #3381 "Send hosts invoice for platform fees"
## User story
User reports:

In addition, the current way we handle host plan subscription documentation is pretty bad. We just send an email saying "Host plan subscription renewal" but there is no invoice attached or link to download it.

## Best solution for this problem
An invoice showing the total platform fees charged each month to a host, i.e. the 5% on Stripe transactions, plus any charges

[2020-08-02 23:16] fabianmendes commented on #3332
Ok, @znarf I could upload them via mobile but from my PC. The images uploaded but not any PDF file from my PC.

[2020-08-03 01:37] alanna commented on #2282
@Memo-Es is this in scope for the host dashboard project?

[2020-08-03 04:43] alanna opened #3382 "Budget showing incorrect balance due to transaction duplication"
**Describe the bug**
The budget for [OCNZ](https://opencollective.com/ocnz) is showing about NZ$3000 too much. There's only been one contribution so far, from OC inc ($2000 USD which is a bit over $3000 NZD), but for some reason it's showing up twice when it only showed up once before. The bottom two transactions here are the same one duplicated.

![Screen Shot 2020-08-03 at 4 40 41 PM](https://us

[2020-08-03 07:17] Betree commented on #3332
Given the logs shared in the screenshot, it comes from this line: https://github.com/opencollective/opencollective-frontend/blob/5a5635c2410f94c5c9298890acbd9fc28a5224d3/lib/api.js#L88. Another problem here is that we're not displaying the error.

I'll try to look at it this week.

[2020-08-03 07:22] Betree commented on #2694
Definitely, to me this is one of the most important steps to fight spam. This MVP for comments should bring a generic modal that we'll be able to re-use to report expenses or collectives.

[2020-08-03 07:25] Betree commented on #3379
@HVEVB we've just enabled Swedish on https://crowdin.com/project/opencollective/sv-SE. Languages are usually enabled on the website when they reach ~20% completion. Thank you for contributing!

[2020-08-03 07:25] #3379 closed

[2020-08-03 07:28] Betree commented on #3380
Hi @aaaxx, thanks for this insightful report.

@Memo-Es what to you think?

[2020-08-03 08:32] znarf commented on #3332
@fabianmendes 3) Have you tried with Chrome extensions disabled (incognito mode)? Can you try with Firefox?

[2020-08-03 10:29] Betree opened #3383 "Color picker: always show the raw color"
In the collective color picker, we adjust the luminescence of the color to make sure that there's always enough contrast. While this is important for design and accessibility, it's confusing for users to have the input showing a different color than what they selected or entered.

![image](https://user-images.githubusercontent.com/1556356/89173412-857a3700-d584-11ea-9372-81f584b8c6c8.png)

# Propo

[2020-08-03 10:40] fabianmendes commented on #3332
Yes, or course I did. No, I can't for now sorry! Anyways, I'll ask to a friend to try it for me.

[2020-08-03 11:05] Kilheure commented on #3381
I would also add a range section to download report (ie for a month a year, between 2 dates) and keep a copy of the invoice on its collectives page (in host dashboard?)

[2020-08-03 11:06] flaki commented on #3381
RE: @alanna in the [original Slack thread](https://opencollective.slack.com/archives/CJ2ERRZQ8/p1595755490132100?thread_ts=1595573318.130700&cid=CJ2ERRZQ8):

Yes this is true, but from an accounting standpoint ACME Corp. is paying a full $100 as a contribution (sponsorship) to a collective and thus expects the host to provide an invoice for a $100 contribution. On the host's side, the host *needs*

[2020-08-03 11:49] flaki commented on #3374
This is a really interesting proposition as it lines up precisely with one of the contribution processes we were drafting up. In this, basically contribution opportunities are to be listed as GitHub issues and an associated grant amount (can think of it as a "bounty" as well). Once the issue has been taken by a potential contributor they are requested to file an expense which would be approved and

[2020-08-03 13:14] Betree commented on #3288
The "Ready to pay" filter for expenses is now deployed. We encourage everyone in this thread to use the new expenses tab in their daily process as we'll transition to making it the default.

[2020-08-03 13:38] #3076 closed

[2020-08-03 13:39] Betree commented on #3076
The read more link will be part of the next update

[2020-08-03 19:45] jilleJr opened #3384 "Rounding 0.1$ to 0$ in collective front page"
**Describe the bug**
Frontpage of my collective is rounding a donation from 0.1$ to 0$.
It's nice that it's rounding but here's it just looks like someone cheated the system and gave 0$.

**To Reproduce**
1. Go to https://opencollective.com/newtonsoftjson-for-unity
2. Scroll down to 'Top financial contributors'
3. See 0$ donation

**Expected behavior**
Either...
- show amount in cents when <1; dis

[2020-08-03 22:01] #2434 closed

[2020-08-03 22:01] #2855 closed

[2020-08-03 22:01] #3358 closed

[2020-08-03 22:13] alanna commented on #3374
Great points @flaki ! @znarf could you see this being used for our bounties?

[2020-08-04 01:51] Memo-Es commented on #2282
It was in development before beginning the host dashboard project and it got staled for a few months, I'm adding this issue to our tasks for these upcoming weeks @alanna

[2020-08-04 02:36] Memo-Es commented on #3276
This is the design for the privacy pop ups for expense comments: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=5265%3A0

@Betree

[2020-08-04 07:50] Betree commented on #3384
@jilleJr thank you for reporting this issue. While displaying the amount in cents (ie. `10¢`) looks good, it [won't work for all currencies](https://en.wikipedia.org/wiki/Cent_(currency)). The two other suggested options should work fine.

They should be implemented in the `FormattedMoneyAmount` component, but behind a special flag (ie. `roundToZero={false}`) because in some context (like showing

[2020-08-04 07:56] jilleJr commented on #3384
Ah Yea sad it doesn't translate well to EUR.
I don't know if it would be too spagetti or wrong dependency but it would be nice if it used the lower currency form if available. Like the value of 0.1 would be shown as:
- `10 ¢` in USD
- `0.1 €` in EUR
- etc..

[2020-08-04 08:45] #3378 closed

[2020-08-04 09:07] Betree commented on #1369
Re-opening as we had to rollback the previous fix because of the latest NextJS upgrade. See https://github.com/opencollective/opencollective-frontend/pull/3796#issuecomment-629312174 for leads on how this could be resolved.

[2020-08-04 09:12] znarf commented on #1369
@Betree I thought about this yesterday. Can we intercept the page in an express middleware once it's rendered and based on some conditions add the status code (title contains 'Not Found', body contains 'Not Found' or similar).

[2020-08-04 09:22] Betree commented on #1369
@znarf I tried a similar approach in https://github.com/opencollective/opencollective-frontend/commit/6db0cb306dea9c2d15d8b4af13bcf2c6ba0304b2#diff-04246cdd09e7dd2e01a80d65b8d83f20R70 (except it wasn't with an express  middleware but in `withData`). I don't remember exactly where were the drawbacks (should have documented that) but I can checkout the commit and check. I think there was something l

[2020-08-04 12:33] kewitz opened #3385 "Transactions Page redesign follow-up"
The Transactions page redesign was shipped yesterday and the old issues were closed.
This is a follow up with improvements and missing tasks.

- [x] Add server-side rendering.
- [ ] Refactor Transaction export endpoints from V1 to V2 and remove leaking ids to the front-end.
- [x] Restore the "Refund Button".
- [x] Review conditionals for accessing the "Download Receipts" button.
- [x] Resolve Tran

[2020-08-04 12:38] Betree commented on #3385
Since we need to review them. it would be great to have the permissions checks for refund and download receipts server-side as proposed in https://github.com/opencollective/opencollective-frontend/pull/4719#discussion_r464322934.

[2020-08-04 14:22] kewitz opened #3386 "Enable alternative transfer methods in the PayoutBankInformationForm"
TransferWise may allow multiple transfer methods for a given currency, right now we're prioritizing the main one and ignoring other methods like SWIFT.

We should add a drop-down box beneath the currency selector if TransferWise provides multiple methods and the user to select a different one.

[2020-08-04 14:59] znarf commented on #3384
I just checked and we actually don't want to support donations of less than $1 or 1 euro. These transactions are problematic because the payment processor fees can be more than the donation itself.

I think we should make sure Tiers can not set a minimum amount of less than $1 or 1 euro.

[2020-08-04 15:36] znarf opened #3387 "Stripe Payment error in subscription job"
We have a high rate of errors in our payment processing, this is problematic because we're notifying the users that there is something wrong with their card.

[code]

This can be translated by us as:

[code]

We should try to be more gentle with Stripe's API in our subscription job.

[2020-08-04 16:13] nop1984 commented on #3026
I confirm such problem exists and now getting in touch with our UA providers to get unblocking.

[2020-08-04 16:26] nop1984 commented on #3026
Have emailed to ISP next, will try to track how it goes:

[2020-08-04 17:19] #3326 closed

[2020-08-05 05:17] Memo-Es commented on #2665
### Design update
---

![Large (Desktop)](https://user-images.githubusercontent.com/49539954/89374439-ffa7da00-d6b0-11ea-80a6-a762637d007e.png)

@znarf @alanna @piamancini

[2020-08-05 07:29] Betree opened #3388 "Styleguide: Exploring the Storybook alternative"
We currently don't give a lot of attention to our styleguide, yet it's a powerful tool to document, develop and prototype quickly.

Last time I looked, the main differences with the system we have today (styleguidist) were:
- Styleguidist uses markdown files, storybook is pure js (you write "stories"). It's easier to write custom pages with Styleguidist
- Storybook seems to have a more mature ecos

[2020-08-05 09:04] Betree commented on #3347
`22-collective.edit.test.js` > `1) edit members` is also often failing:

[code]

[2020-08-05 09:36] Betree commented on #2737
Requested in https://opencollective.freshdesk.com/a/tickets/8740

[2020-08-05 14:06] znarf commented on #3374
In the MVP, I'm considering a generic text field so it doesn't need a specific setup.

Agree. If it works for this case then It should work for others. But that might be complicated to implement. Cross Hosts transactions are another subject.

No. This should be solved separately.

This is not considered at this point. "Connected Collectives" is not a core feature and we should try to avoid it. In

[2020-08-05 14:52] Betree opened #3389 "Migrate PayPal Checkout to Smart Payment Buttons"
# Motivation

[Smart Payment Buttons](https://developer.paypal.com/docs/checkout/) are presented as the new way to implement a checkout with PayPal. As per [the docs](https://developer.paypal.com/docs/archive/checkout/reference/faq/):

As we're currently implementing [Content Security Policy](https://github.com/opencollective/opencollective-frontend/pull/4728) headers, the legacy API that we use t

[2020-08-05 17:43] Memo-Es commented on #3009
### Design update
---

Iteration to place menu buttons at the corner

<img width="527" alt="Screen Shot on 2020-08-05 at 12-42-02" src="https://user-images.githubusercontent.com/49539954/89445811-403b3e00-d719-11ea-8977-ada46ecdb6a1.png">

:art:  See [latest design on figma](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-05-UI-Organisms?node-id=4%3A0)

@Betree

[2020-08-05 18:32] kewitz commented on #3385
@Betree I think these permissions are actually related to the collective and not transactions.
Perhaps we should refactor the permission check for the collectives in another PR? WDYT?

[2020-08-05 19:23] ntnsndr opened #3390 "One contributor making two kinds of contributions counts as two contributors"
**Describe the bug**
One contributor making two kinds of contributions counts as two contributors.

**To Reproduce**
Steps to reproduce the behavior:
1. I contribute as a recurring contributor
2. I contribute as a one-time donation
3. Under contributors, I am the only person listed, but it says there are two contributors

**Expected behavior**
There should be just 1 contributor

**Screenshots**
![

[2020-08-05 22:22] alanna opened #3391 "Improve local tax feature"
Currently we have an MVP feature for VAT that was never fully finished: https://docs.opencollective.com/help/fiscal-hosts/local-tax

Updating the host settings is part of the host dashboard project, and @Memo-Es and I think this is a good chance to improve the feature itself.

We need to make it so that local tax can be a) turned on and managed by host admins themselves, and b) used outside of jus

[2020-08-05 23:36] alanna opened #3392 "Don't charge hosts for inactive/unsuccessful Collectives"
## User story
As a host admin, I want to feel free to set up new Collectives and not have to pay for them on my host plan if they aren't being used.

Host admin feedback:

## Best solution for this problem
Do not count inactive Collectives toward the total we base paid host plans on. Right now archives Collectives aren't counted, but this doesn't fix the issue of Collectives which are inactive but

[2020-08-05 23:43] alanna opened #3393 "Better progressive prices for host plans"
## User story
As a host admin, I want to pay a reasonable price for my host plan, and not be disincentivised from adding more Collectives because there's a steep price increase at a certain number.

Host admin feedback:

## Best solution for this problem
Change to a linearly scalable plan like $10/month per active Collective, so instead of the price doubling suddenly it would go up gradually.

If

[2020-08-05 23:45] alanna commented on #2665
@Memo-Es this looks good for Organization and Fiscal Host settings, but what about the "Collective" settings (we talked about how it's confusing to call it Collective settings since they are not a Collective, but I mean the features Collectives have that hosts do too, like Updates, Budget, etc).

[2020-08-06 00:53] alanna opened #3394 "Misleading text on custom fee modal"
The help text on this screen is misleading. It says you can set a 'monthly retainer' but you actually can't.

I made a comment suggesting wording/design for this feature [on the main issue here](https://github.com/opencollective/opencollective/issues/3362#issuecomment-663793415), and I know that's still in progress, but can we please change just this text now so it's not actively incorrect while w

[2020-08-06 01:54] Memo-Es opened #3395 "Improve settings for all users (Admin panel update)"
## User story
_As a Collective, user, or fiscal host, I want to have all of my settings and management features in one place so that is easier for me to understand all the things I can do inside Open Collective_

## Best solution for this problem
_Evolving the settings page to an admin panel for all types of users. In the case of fiscal hosts, they will have inside their admin panel all of the fun

[2020-08-06 02:18] Memo-Es commented on #2665
@alanna I was thinking to put those in another issue that I just opened #3395 but I think it makes more sense to have them here...

---

Information | Profile page | Connected accounts | Updates | Conversations | Your team | Manage contributions | Contribution tiers | Gift cards | Delete organization (Advanced)
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
![Large (Desktop)](https://user-images.

[2020-08-06 03:02] #3382 closed

[2020-08-06 03:21] alanna opened #3396 "Ticking "enable" should override profile sections settings and vice versa"
I clicked "enable" in the "Updates" section of settings, but then could not see the option to post an Update on my page. Then I realised Updates were set to "disabled" in the "profile page" area of settings, where you can reorder, enable, and disable various sections. Enabling or disabling Conversations or Updates in either settings area should override the other setting, and the most recent decis

[2020-08-06 04:36] alanna commented on #3393
I did some modelling based on a % discount that smoothly goes up as you add more Collectives, and this is how it turned out.

![Screen Shot 2020-08-06 at 4 34 00 PM](https://user-images.githubusercontent.com/5498878/89491123-9fc14880-d802-11ea-8e29-000a3b1903bd.png)

Progressive pricing is inherently more fair. Look at the weirdness of price per Collective we have currently. However, a big require

[2020-08-06 04:41] alanna commented on #2665
Just raised #3396 - there's a conflict between the settings in `profile page` and the settings in `conversations` and `updates`. Do we really need seperate pages with enable options for Conversations and Updates, or should that just be merged together?

[2020-08-06 04:47] alanna commented on #2665
* Clarify which settings are required
For fiscal hosts, there are some required settings, but I don't see in these screenshots how that is indicated. For example, country. (I starred required ones in the original post in this thread).

* Connected accounts
I think this should probably be renamed "integrations" and be the home for Twitter, Zapier, Webhooks, Slack, etc integrations. Connected accoun

[2020-08-06 07:34] Betree commented on #3385
While most of the checks are indeed done on the collective(s), I think they still belong conceptually to `Transactions`. Also because there still are some checks on transactions that can impact the result:

[code]

[2020-08-06 07:47] Betree commented on #3390
Thanks for the report @ntnsndr, this is indeed linked to the fact that we create one `Members` entry per type of contribution - one per tier and one per role (Admin, Financial Contributor, etc.).

The number [currently displayed here](https://github.com/opencollective/opencollective-frontend/blob/00688a2801eedf22d8d45c88199f5a3cf56ec72e/components/collective-page/sections/Contributors.js#L129) is

[2020-08-06 08:03] znarf commented on #3393
@alanna Well, if you remember I strongly expressed my opinion in the past about this feature.

After 6 months, I think we're now ready to reconsider it.

[2020-08-06 08:27] Betree commented on #3391
The feature [initially implemented for VAT](https://github.com/opencollective/opencollective/issues/1557#issuecomment-458489666) was pretty much what you describe here, something that was generic and configurable to fit any tax system. We rolled that back and ended up implementing very specific code for VAT because there were just too many specificities to integrate.

For example in the EU, you sh

[2020-08-06 08:39] alanna commented on #3393
What's your opinion now that we have the last 6 months of experience @znarf ?

It would be useful to have some data about paid host plans, if that's accessible.

[2020-08-06 08:48] Betree opened #3397 "Discover page: "most popular" should sort by number of contributors"
**Describe the bug**
On the [discover page](https://opencollective.com/discover), the order of the collectives when sorting by "Most popular" (default) is tricked by two things:
- The currency (a collective with 1000CZK will appear before one with $500)
- The added funds (self-hosted collectives can set a custom balance)

**Expected behavior**
Popularity should sort by number of contributors, beca

[2020-08-06 08:56] znarf commented on #3393
As of today:
- Single Host Plan: 5 -> $50
- Small Host Plan: 6 -> $150
- Medium Host Plan: 1 -> $50
- Large Host Plan: 1 -> $400
- Total: $600 / monthly

To put in perspective, it's the equivalent of 5% of $12.000. I think it's not worth the friction, we better provide the best service we can and make sure we're helping Hosts grow their revenues.

[2020-08-06 10:01] #3394 closed

[2020-08-06 11:02] sbinlondon commented on #3159
As per Slack comments, I'm working on this.

Will add a new field to host accounts (`server/graphql/v2/object/Host.js`) called `supportedPaymentMethods` that will return a simple array like `supportedPaymentMethods: ['CREDIT_CARD', 'BANK_TRANSFER', 'PAYPAL']`

[2020-08-06 23:02] alanna commented on #3393
We have kind of done an informal A/B test for host pricing this year, because we gave existing hosts the option to switch to the new pricing or not. I think we can look at some data to see results.

* What % of existing hosts opted to switch to the new pricing vs staying grandfathered in the old model?
* What's the average revenue per host for new pricing plans vs old?
* For hosts on new pricing p

[2020-08-06 23:40] alanna commented on #3391
Thanks @Betree I had a feeling it was messy!

### For the NZ case

Can you please create a library the OCNZ host can use?
Here are the requirements:
* Tax name is `GST`
* Tax rate is 15% always
* It's the same for products and services so I just need one tax tier type option for regular tiers
* Always apply GST to event tiers
* I think we can leave out any country-specific settings so it can be si

[2020-08-07 05:05] gersh opened #3398 "Join Slack is Broken"
**Describe the bug**
I'm unable to join Slack at https://slack.opencollective.com/.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://slack.opencollective.com/
2. Enter an email
3. Hit the button to signup
4. I get "token revoked"

**Expected behavior**
Registration

**Desktop (please complete the following information):**
OS X, Chrome

[2020-08-07 05:41] znarf commented on #3398
@gersh Thank you for the report.

[2020-08-07 06:02] znarf commented on #3398
Just moved from Slackin to Slack's native invitation system. See: https://github.com/rauchg/slackin/issues/416

[2020-08-07 10:13] znarf commented on #3393
It's not easy to answer all your questions here. Maybe we can setup a call to work together and find ways to answer these questions. I could easily answer this one:

If I look at the 2019 list, only `protozoa` upgraded. The 10 other hosts with an active plan are new Hosts.

[2020-08-07 11:16] sbinlondon commented on #3159
Starting to address in opencollective/opencollective-api#4343

[2020-08-07 12:43] sbinlondon commented on #3159
Merged and will be implemented in new Contribution Flow

[2020-08-07 12:43] #3159 closed

[2020-08-07 12:53] #3276 closed

[2020-08-07 14:47] #3397 closed

[2020-08-07 14:49] znarf commented on #3397
Good stuff!

[2020-08-10 02:46] alinamanko opened #3399 "Support Metrics Report July 2020"
### Support Metrics Report July 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/89748577-fd61d780-db17-11ea-8fa3-56bb052d37a1.JPG)

The number of tickets received has increased by nearly 10% from 365 in June to 401 i

[2020-08-10 04:43] Memo-Es commented on #3380
I've done a little bit of research, and I think we use it for its meaning of 'approx', which is accurate in the context of a Collective's balance displayed on the Collective page.

Anyway, I'm open to reviewing it if we found a more reliable reference :)

@Betree

[2020-08-10 07:09] Betree commented on #3380
@Memo-Es Indeed, according to https://en.wikipedia.org/wiki/Tilde#Approximation:

So I don't think it's wrong to use `~` instead of `≈`. @aaaxx do you have any other references on why we should use one or another?

[2020-08-10 07:59] Betree commented on #3315
@sbinlondon the fix should be really simple on this one, would be great if we can look at it this week

[2020-08-10 08:01] Betree commented on #3313
Removed in https://github.com/opencollective/opencollective-frontend/pull/4773

[2020-08-10 08:01] #3313 closed

[2020-08-10 08:02] Betree commented on #3299
@JoyLubega are you still working on this?

[2020-08-10 09:03] JoyLubega commented on #3299
Yeah, I am working on it. let me try to move faster

On Mon, Aug 10, 2020 at 11:02 AM Benjamin Piouffle <notifications@github.com>
wrote:

[2020-08-10 09:50] Betree commented on #2745
:gift: :money_with_wings: A **$150** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $150 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-08-10 10:31] jeffin143 commented on #2745
Here we have to migrate StyledTooltip?
I think so rest you have done ??

[2020-08-10 10:39] Betree commented on #2745
@jeffin143 As per the issue description, only the first item (Remove the custom positionning logic in EditPublicMessagePopup by using react- popper) has been done. We need to:
- Migrate StyledTooltip
- Update `StyledUpdate` that still uses `react-tooltip`

[2020-08-10 10:40] #3321 closed

[2020-08-10 10:40] Betree commented on #3321
Done by @flickz

[2020-08-10 11:32] #3398 closed

[2020-08-10 12:22] #3047 closed

[2020-08-10 22:50] alanna commented on #3399
Thank you @alinamanko !!

[2020-08-11 04:12] aaaxx commented on #3380
Sorry, I didn't mean for this to cause so much wasted time. I always assumed people used tilde simply because it's available on the keyboard, like they use the letter "x" or asterisk instead of the multiplication symbol.

I did some searching on Math Stack Exchange and found this question on [the meaning of various equality symbols][math-stack]. It seems that tilde, unlike "≈", has quite a few pos

[2020-08-11 06:28] znarf opened #3400 "Signup broken when Full Name and Org Name are the same"
**Describe the bug**

People can't signup when they enter an identical Full Name and Org Name.

**To Reproduce**

1. Go to https://opencollective.com/create-account
2. Click on 'Create Organization Profile'
3. Fill the form entering the same value in Full Name and Org Name
4. Validation Error

**Expected behavior**

No "Validation error" or a clearer error message.

**Screenshots**

![lHA0j7ngwua8

[2020-08-11 09:51] Betree commented on #3336
Done in https://github.com/opencollective/opencollective-frontend/pull/4707

[2020-08-11 09:51] #3336 closed

[2020-08-11 09:55] Betree opened #3401 "Contribution flow revamp: Warn if changing interval/amount on a fixed tier"
In the existing flow, if you try to change the interval for a fixed tier, you'll get a modal inviting you to see the other ways to contribute.

We should bring back this behavior to the new flow.

![image](https://user-images.githubusercontent.com/1556356/89884033-41f97b80-dbc9-11ea-89d4-a2ca26f2a804.png)

[2020-08-11 10:00] Betree commented on #3254
Resolved by https://github.com/opencollective/opencollective-frontend/pull/4527

[2020-08-11 10:00] #3254 closed

[2020-08-11 12:02] #3364 closed

[2020-08-11 12:24] Betree commented on #3399
Thanks @alinamanko :+1:

[2020-08-11 12:42] Betree commented on #3391
Thanks for all the details, there's everything in there to implement the tax system update.

It will require touching multiple services (`opencollective-taxes`, `opencollective-pdf`, frontend and API). I think I'm the most suited to do that since I've implemented the current tax system, but it's not a small work so we should define a proper priority for me to know how much attention I should give

[2020-08-11 13:42] flickz opened #3402 "Improve image optimization script"
### Current Behaviour:
As a developer, I want to optimize a new image file in the `public/static/images` directory, I have to update the script file directly in order to set the right directory and filename.

### Expected Behaviour
- Ability to set the file path or directory from the command-line either as a single image file or multiple files.

[2020-08-11 14:24] Memo-Es commented on #1723
@alanna I think this is addressed in the 'Fiscal Host Settings' tab in the new admin panel, Is this accurate?

<img width="1408" alt="Annotation on 2020-08-11 at 09-18-54" src="https://user-images.githubusercontent.com/49539954/89909035-3ea7c500-dbb4-11ea-8051-d8b44510fe8d.png">

I'm also thinking to add a widget element with this info to the dashboard

Let me know what you think :)

[2020-08-11 15:00] Betree commented on #3402
Agree, it would be nice to be able to do this:

[code]

[2020-08-11 15:39] sidharthv96 opened #3403 "Save credit card to my account selection is not persisted"
**Describe the bug**
Save credit card to my account selection is not persisted across payments

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any collective donation 3rd step
2. Uncheck `Save credit card to my account`
3. Pay
4. Select another collective and reach 3rd step
5. Box is checked

**Expected behavior**
Next time I'm in the 3rd step, the box should be unchecked.

**Desktop (

[2020-08-11 15:39] znarf commented on #1723
@alanna yes, I confirm it's a feature for Hosts with "Budget" activated. Seems that they were added 2 times for July in some places (opensource)

[2020-08-11 19:21] kewitz commented on #3356
@znarf, I just noticed some people were using hyphens to avoid collisions.
How should we deal with migrating these slugs?

[2020-08-11 23:42] alanna commented on #1723
Ah, ok  @znarf - Me and @alinamanko were not aware of this and added the fees manually for OSC and OCF as usual. Thanks for fixing it.

We should inform host admins with integrated budgets about this. Can you give me a list of emails of host admins with integrated budgets, and I'll send them a message about host fees being automatically added from now on?

@contraexemplo can you please add this in

[2020-08-12 00:54] alanna commented on #3391
For the time being, I just won't allow any tiers for taxable things under OCNZ, including any products, services, or event tickets. We could wait until we have a Collective actually wanting to sell something with GST (unconditional donations don't attract tax for OCNZ). But once that case comes along we might feel rushed.

@Betree - Maybe you could keep this task in the background and if you have

[2020-08-12 03:00] alanna opened #3404 "Collective not appearing in search"
I searched `juneteenth` looking for the [Juneteenth Conference Collective](https://opencollective.com/juneteenth-conference) but it did not appear despite it existing.

<img width="1132" alt="Screen Shot 2020-08-12 at 2 54 05 PM" src="https://user-images.githubusercontent.com/5498878/89970218-709c5280-dcac-11ea-94d4-897f7e0cef8d.png">

[2020-08-12 07:09] znarf commented on #1723
@alanna  Yeah, we can close! Sharing with you the list of admins privately.

[2020-08-12 07:09] #1723 closed

[2020-08-12 07:31] Betree commented on #3403
We could probably save this preference is the user settings, with a flag like `userCollective.settings.contributions.saveCreditCard`.

[2020-08-12 07:43] #3109 closed

[2020-08-12 09:23] Betree opened #3405 "New contribution flow: Step profile layout issues"
- Long collective names break the UI and responsiveness. I suggest looking at the `truncateOverflow` prop. There should also probably be a max width on the container.

![image](https://user-images.githubusercontent.com/1556356/89998072-5737de00-dc8d-11ea-88e6-c53a162a4980.png)

- Responsiveness starts to break under `385px` width

![image](https://user-images.githubusercontent.com/1556356/89998331

[2020-08-12 11:37] JoyLubega commented on #3299
@Betree I am trying to find the exact form as described above. Is this the form?
![Screenshot 2020-08-12 at 14 36 06](https://user-images.githubusercontent.com/29824008/90010897-58770400-dca9-11ea-8e65-5153f4aefcbd.png)

[2020-08-12 14:08] Betree commented on #3299
@JoyLubega the form is mentioned in the issue description, it's `CreateCollectiveMiniForm`. We want to display the address only when it's used in `AddFundsSourcePicker`. This component is a bit tricky to test, you need to go to the host dashboard, pick a collective and click on `Add Funds`.

If you're not comfortable with that part of the code, I recommend looking at the [other open issues](https:

[2020-08-12 15:45] JoyLubega commented on #3299
Let me give it a try. I will let you know by tommorrow

[2020-08-12 17:37] #3092 closed

[2020-08-12 22:53] SudharakaP commented on #3009
@Betree : Done; let me know if you see any issues with the mobile menu. 😄

[2020-08-13 00:22] contraexemplo commented on #2595
Long-due progress update (sorry for taking so long, I had to take care of some personal matters):
- Instead of trying to upkeep the latest version of the docs on my current fork, I decided to establish a point of time and later merge any changes to content made after my fork. I'll send a notification for everyone with some days of advance for when I'm be ready to do so so we can coordinate this.
-

[2020-08-13 00:25] alanna opened #3406 "Host fee missing and fiscal host showing on host page"
https://opencollective.com/bayareatechclub

This host has recently had its budget integrated so it might be related. The page is a) not showing their host fee, and b) showing their fiscal host, which it shouldn't because they are the fiscal host.

![Screen Shot 2020-08-13 at 12 23 26 PM](https://user-images.githubusercontent.com/5498878/90080941-152b9c80-dd60-11ea-8b0e-d820aad0a17c.png)

[2020-08-13 00:33] alanna commented on #1148
@Memo-Es I thought this was in scope for the Expense flow project, but I just rejected an expense and it didn't ask me for a reason. Can we get this included somehow?

[2020-08-13 00:49] Memo-Es commented on #1148
Yes! we have the design for that, I will check it out and raise it up with the dev team

cc @Betree

[2020-08-13 06:29] znarf commented on #3406
- I checked and the Host Fee is not showing because the Host is not open to applications, https://github.com/opencollective/opencollective-frontend/blob/master/components/collective-page/hero/Hero.js#L287

- I'm taking care of the Host displaying itself as Fiscal Host

[2020-08-13 07:27] Betree commented on #3404
@piamancini Indeed, search is only Collectives and Organizations at the moment but it's only a one line change in https://github.com/opencollective/opencollective-api/blob/a4c9bbffa2f0d18ecceca7c1d031df2fafba17f1/cron/daily/51-populate-search-index.js#L39 if we want to include Funds

[2020-08-13 07:30] Betree commented on #3288
Still waiting for more feedback :slightly_smiling_face:

An important one that we haven't addressed yet is:
- "Pre-Approval Balance" is missing

[2020-08-13 07:34] Betree commented on #1148
Why not using the comment system for that?

[2020-08-13 07:43] Betree commented on #3380
@aaaxx We discussed this with the design team and though `≈` may be more accurate technically, we don't yet have proof that users may be confused by `~` and so we're not willing to make this change right now. We'll be happy to revisit if we get the feedback that this symbol has a different meaning for certain locales, or if it's globally misunderstood.

Thank you for opening this issue! Improving

[2020-08-13 07:43] #3380 closed

[2020-08-13 07:47] #3286 closed

[2020-08-13 07:59] #3405 closed

[2020-08-13 11:01] JoyLubega commented on #3299
@Betree I think it might take me more time than I expected. I am unassigning myself

[2020-08-13 11:52] znarf commented on #3347
[code]

[2020-08-13 12:26] #3009 closed

[2020-08-13 12:37] Betree commented on #3367
:trophy: This issue has been completed by @flickz in https://github.com/opencollective/opencollective-frontend/pull/4765

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-08-13 12:37] #3367 closed

[2020-08-13 12:39] #2673 closed

[2020-08-13 12:51] Betree commented on #2529
Resolved by https://github.com/opencollective/opencollective-frontend/pull/4812

[2020-08-13 12:51] #2529 closed

[2020-08-13 17:59] sbinlondon commented on #3338
First pass is done.

We should think about if we wanted to still add the inline gift card redeem - I think it could be useful but I am aware we are trying to roll this out with just features from the current contribution flow as MVP.

[2020-08-13 18:00] sbinlondon commented on #2427
I believe this has been solved by my PR for the payments step - payment methods are dynamically fetched according to the profile you select. Ok to move this to done @Betree?

[2020-08-13 18:04] sbinlondon commented on #3339
Still to do:

- [ ] comment box for logged in users
- [ ] add email form to 'Subscribe' CTA
- [ ] feed successful order info into the card on the page

[2020-08-13 23:39] alanna commented on #2962
We don't need a tax form for expenses to be paid to a Collective if the money is staying within the same host. Tax agencies can only 'see' money when it comes in or goes out of a legal entity. Moving money between Collectives in the same host doesn't mean anything to them, so it has no tax implications. If a Collective is paid by a host or another Collective budget in that host, the tax form only

[2020-08-13 23:45] alanna commented on #3404
I think we should include Funds. We already give Funds a lot of options about what data they want public, so I don't think we have to try to hide them.

[2020-08-13 23:46] alanna commented on #1148
It can function like a comment. The only thing needed is a modal that pops up when you click 'reject' with a box saying "Give rejection reason (optional)" and a button below that saying "Reject" again. This makes it much more likely a reason will be given, and also gives people a chance to confirm if they almost rejected by accident.

[2020-08-13 23:59] Memo-Es commented on #1148
@alanna @Betree

![Reject-expense-reason](https://user-images.githubusercontent.com/49539954/90198309-f1d01400-dd96-11ea-9a40-5dd46d76ee89.png)

It will be published as a comment
What do you guys think?

[2020-08-14 00:09] alanna commented on #1148
The design looks good. But make it optional, not required, to put a comment
here. Also, remove the text in the box because we can't assume the host
admin wants to encourage the person to resubmit (sometimes it's spam). Just
leave it blank.

[2020-08-14 00:37] Memo-Es commented on #1148
The 'Cancel' button is not enough to make it optional?

[2020-08-14 01:46] alanna commented on #1148
No, because the action is "reject expense" not "post comment" so cancel
means "don't reject the expense" not "reject the expense but don't put a
comment".

[2020-08-14 11:06] sbinlondon commented on #3337
Some changes have been made

* sign up for ${COLLECTIVE} newsletter removed from guest flow
* we don't have the 'profile chooser' for guest flow anymore

Largely these steps are done though

### still todo:

- [ ] for guest recurring contribution, finish writing the email functionality...
- [ ] ....and make the interim screen

![Screenshot 2020-08-14 at 12 06 21](https://user-images.githubusercont

[2020-08-14 11:16] sbinlondon opened #3407 "Contribution flow revamp: inline gift card redeem on payment step"
In the new Figma designs there's a selection for 'use gift card'. Maybe it wasn't the intention but I assumed this meant we'd have something like 'add new credit/debit card', where you can redeem the gift card inline in the payment method chooser, and it would be saved to your account, rather than having to go to `opencollective.com/redeem` to do it.

![Screenshot 2020-08-14 at 12 14 06](https://u

[2020-08-14 11:25] #3400 closed

[2020-08-14 11:35] kewitz commented on #3347
[code]

[2020-08-14 11:39] znarf commented on #3347
@kewitz lol, I just commited to master changes in the percentages. I was not thinking it could break anything!

Not a good idea to rely on that in tests :-)

[2020-08-14 11:56] kewitz commented on #3347
@znarf it shouldn't, comparing the percentage is unnecessary for the test's sake.

[2020-08-14 12:03] flickz commented on #3347
About to open a PR to fix this.

[2020-08-14 12:23] znarf commented on #3347
[code]

[2020-08-14 20:32] kewitz commented on #3385
Refactor Transaction export endpoints from V1 to V2 and remove leaking ids to the front-end is more complex than first thought since it interacts with outside services that still rely on the UUID.

[2020-08-14 20:32] #3385 closed

[2020-08-16 13:56] repi commented on #2867
This would greatly simplify our workflow with OpenCollective and reduce admin overhead so we can sponsor more projects and individuals.

Currently [we](opencollective.com/embarkstudios) have to login to OpenCollective every month and manually download the billing receipt PDFs for each individual project and for the right months and then email and important that into our accounting system. Instead

[2020-08-17 00:22] alanna opened #3408 "Set up a new Fiscal Host without having to create a Collective"
## User story
As the admin of a new Fiscal Host, I want a clear path to create and activate my host without needing to set up a Collective. Our current [process for onboarding as a host](https://docs.opencollective.com/help/fiscal-hosts/create-a-fiscal-host) requires a Collective to be created. Now that we have integrated host budgets, we need to enable a path for new hosts without a Collective to

[2020-08-17 00:47] alanna commented on #3288
Pre-approval balance is now a bit more complicated because we have both Paypal and Transferwise balances to handle.

[2020-08-17 07:11] znarf commented on #3408
It's more a documentation problem, creating a Collective is not required to create a Fiscal Host.

Any regular User or regular Organization account is enough.

[2020-08-17 07:13] znarf commented on #3314
The feature looks pretty broken because of this issue. I think it's important.

[2020-08-17 09:21] znarf commented on #3347
[code]

[2020-08-17 09:24] sbinlondon commented on #2741
Just dropping a note here as I realise we'll be talking about this today but I think the most important bit which @Betree says nicely in the original post is that

The frustration we saw this weekend on social media and have received sometimes through support is that people don't like the process being so manual (i.e. emailing to remove spammers). In the end the power of a platform comes from givi

[2020-08-17 09:32] #3161 closed

[2020-08-17 09:33] #3105 closed

[2020-08-17 09:33] #2872 closed

[2020-08-17 09:33] #2366 closed

[2020-08-17 09:34] znarf commented on #2441
Duplicate with https://github.com/opencollective/opencollective/issues/3190

[2020-08-17 09:34] #2441 closed

[2020-08-17 09:35] #2836 closed

[2020-08-17 10:16] xdamman commented on #3190
Note that by design a transaction should only be recorded when money actually moved.
If the money hasn't moved yet, then an expense or a donation with status pending should be recorded.

We could break this down in two main cases:

1- the user is an admin of the source host
In that case, we can assume that they can make a wire transfer from the host to the destination host. The donation becomes a

[2020-08-17 10:29] flickz opened #3409 "Ability to run E2E tests without local server setup."
## User story
As a developer, I'm able to run the frontend without the setting up the local server because the frontend runs against staging API by default, I want a similar experience when running the E2E tests.

## Best solution for this problem

The best solution is to set up a similar environment as the staging server but resets fresh all the time.
A possible tool to make this might be `Docker

[2020-08-17 11:00] flickz commented on #3388
Storybook has a markdown feature, called [`MDX`](https://storybook.js.org/docs/react/writing-docs/mdx), I'm not sure exactly how it works but I think it's worth exploring to make the migration faster.

I love the idea of having a better UI for the styleguide, one of my favorites is [Atlassian](https://atlassian.design/)'s design system docs.

[2020-08-17 12:50] sbinlondon commented on #3347
![Screenshot 2020-08-17 at 13 49 19](https://user-images.githubusercontent.com/37520401/90397967-90f35500-e090-11ea-86d0-a08dd428f620.png)

This one has been flaking for me a lot lately. Never on local, but quite a few times on Github, and if you rerun it eventually passes.

[2020-08-17 15:21] Memo-Es commented on #3357
@Betree Do we want the option to input a different email account to receive notifications that's different from your OC account?

[2020-08-17 20:28] bnb commented on #2741
I disagree with this. While this is relatively the status quo of any kind of online space right now (think Discord, Facebook, LinkedIn Groups, etc.) this should probably not be the case when it comes to OpenCollective - or, at least, it should be the last resort. Forcing collectives to do this adds maintenance burden to - at least of your most successful and notable collectives - groups that are a

[2020-08-17 22:40] alanna opened #3410 "Unable to pay via Transferwise even though funds are available"
I am trying to pay [this expense](https://opencollective.com/ocnz/expenses/23053).

I have the funds available in my Transferwise NZD balance:
![Screen Shot 2020-08-18 at 10 35 50 AM](https://user-images.githubusercontent.com/5498878/90450845-b343ac00-e13e-11ea-93d4-a18fa20b66f0.png)

But when I go to pay, it gives me this error:
![Screen Shot 2020-08-18 at 10 36 01 AM](https://user-images.githubu

[2020-08-17 23:17] alanna commented on #3408
@contraexemplo - can you update the host creation documentation to correct this?

[2020-08-17 23:19] alanna commented on #3190
On the incoming side it should create a pending order, on the outgoing side it should create an expense. I think this is what was already said but I wasn't sure.

[2020-08-18 07:13] Betree commented on #3409
Something related was proposed in https://github.com/opencollective/opencollective/issues/2556, but closed because there was no clear path on how to achieve it. Here I don't see how that could work if the server resets fresh all the time, because multiple tests run in parallel so you'd break running tests by running a new one.

So to me the solution is still to make tests environment-agnostic (ie.

[2020-08-18 07:46] Betree commented on #2741
@bnb As a first step, I really think we need to empower collectives because they're the one in position to make the judgment. Having categories can be helpful (and I'm all in for opening an issue to spec that), but not sufficient because:
- You can't categorize everything. You may be ok to receive funding from tech companies, but not the ones that work with ICE.
- Casinos and alike will play with

[2020-08-18 07:57] Betree commented on #3338
We should close this one and spec an issue for the inline gift card redeem, it's a complex issue that can safely be implemented separately.

[2020-08-18 07:59] Betree commented on #2427
@sbinlondon yep! As said in the PR, I think we should do the fetch in the background at the beginning of the flow to make the flow faster and avoid displaying a loading spinner to users. I'll create an issues for that now.

[2020-08-18 07:59] #2427 closed

[2020-08-18 08:05] Betree opened #3411 "New contribution flow: background fetch for payment methods"
With the new contribution flow, we currently fetch the payment methods at the `StepPayment` step. While this is good to make sure we always display the last version for them, it adds a spinner when reaching the step that slows down users.

To prevent that, we should load the payment methods in a parent component at the beginning of the flow. While we will still show a loading spinner if you go to

[2020-08-18 08:07] #3404 closed

[2020-08-18 08:09] Betree commented on #1148
Are we good to implement the design shared in https://github.com/opencollective/opencollective/issues/1148#issuecomment-673776575?

[2020-08-18 08:14] Betree commented on #3337
Just a note that guests contributions will be disabled for the initial release as the API is not yet ready for that.

[2020-08-18 08:16] Betree commented on #3407
Just raised the complexity as we need to implement the proper gift card endpoints on GQLV2.

[2020-08-18 08:23] Betree commented on #2006
Pasting here a solution that was recently discussed:

Have a `Reject contribution` button on the transactions page that will refund the contributions and open a modal for you to confirm if you want to:
- [ ] Remove the member from your collective
- [ ] Prevent them from contributing again in the future
- (Optional) Add a small message to explain why you're rejecting their contribution

[2020-08-18 08:56] Betree commented on #2519
This is resolved in the new expense(s) pages. Only the host dashboard `Expenses` tab is still affected, but it's about to be replaced by the new `Expenses (beta)` tab, which is not.

[2020-08-18 08:56] #2519 closed

[2020-08-18 08:59] Betree commented on #3314
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-08-18 09:00] Terrafire123 commented on #3267
Looking forward to this feature. In the meantime, I'll avoid OpenCollective and use other alternatives.

[2020-08-18 09:03] Betree commented on #3388
@flickz thanks for sharing, MDX sounds super interesting to migrate more easily and to make sure we preserve the static documentations pages (ie. typography, grid, etc).

[2020-08-18 09:04] Betree commented on #3357
@Memo-Es we don't have such feature today, and I'm not sure that's something that has been requested in the past.

[2020-08-18 09:16] brymut commented on #3314
I'd like to take a try at this

[2020-08-18 09:22] znarf commented on #3267
@Terrafire123 what's your use case? it's already available for a selection of Fiscal Hosts and we're slowly expanding. It might be that it's already available to you.

[2020-08-18 09:37] Terrafire123 commented on #3267
I was trying to donate to https://opencollective.com/browserslist , and discovered the only way I could donate was via credit card.

[2020-08-18 10:17] znarf commented on #3267
How can we make you comfortable? For example, we're not storing any credit card data, we're relying on our partner Stripe for that. If our systems are compromised, we can't loose your credit card number because we simply don't have it.

They're using https://opencollective.com/evilmartians as Fiscal Host and PayPal is not supported for them at this stage. No need to harass them. We're slowly expan

[2020-08-18 10:23] Terrafire123 commented on #3267
Inside the registration flow, perhaps include the words, "Powered by Stripe, the secure way to pay! (URL to Stripe's website, to a page that has extremely reassuring language like, 'Trusted by millions of users!')".

I didn't know that, and now that I do, I feel much more comfortable.

[2020-08-18 11:40] znarf opened #3412 ""Minimum amount" should not be displayed for FIXED tiers"
**Describe the bug**

<img width="612" alt="Screenshot 2020-08-18 at 13 37 55" src="https://user-images.githubusercontent.com/806/90508480-1c83e900-e158-11ea-8563-1e836ef62a4a.png">

"Minimum amount" is misaligned, but there is actually no point in displaying it.

**To Reproduce**

1. Go to https://opencollective.com/bushwick-ayuda-mutua/contribute/usd100-for-meals-and-supplies-15417/checkout

**E

[2020-08-18 12:54] Memo-Es commented on #2832
Closing this issue in favor of #3395

[2020-08-18 12:54] #2832 closed

[2020-08-18 14:16] bnb commented on #2741
@Betree I agree that categories aren't going to solve every problem, but it *does* chip away at the burden. Having to accept/reject every single contribution is a lot of work. Having to retroactively do that when you see a contribution you don't want is also work, and generally the same problem that already exists.

The problem is abuse of the platform, which isn't a burden that should be placed o

[2020-08-18 14:55] Betree commented on #3267
In the upcoming contribution flow revamp, we have this little info box which links to a page that describe how we handle data and the security policy around it (which includes the fact that we use Stripe, our security bounty policy, etc).

@Terrafire123 Do you think this link could have helped in your case?

![image](https://user-images.githubusercontent.com/1556356/90527497-e5223600-e171-11ea-9e9

[2020-08-18 15:13] Betree opened #3413 "Inconstistencies on GQLV2 types"
I'm being slowed down by two inconsistencies in the GraphQL V2 API types.

<details>

# Order frequency VS Tier interval

We have two enums to represent the same concept:
- [TierInterval](https://github.com/opencollective/opencollective-api/blob/066dbc71ac12d2ca4a90e33d2ef09c6ed6d87013/server/graphql/v2/enum/TierInterval.js)
- [OrderFrequency](https://github.com/opencollective/opencollective-api/b

[2020-08-18 15:29] znarf commented on #3413
I think so, but then it might be wrong to name it `OrderFrequency` so we could refactor it as `Frequency`.

Yes, I gave feedback about that in https://github.com/opencollective/opencollective-api/pull/4021#pullrequestreview-427318562

We can keep `type` and `service` if they help the migration but I personally think they should be marked as deprecated.

I feel strongly about the simpler enum desig

[2020-08-18 16:02] Betree commented on #2741
The problem is that the definition for SPAM will change from one collective to another. For some it's ok to get contributions from casinos, for others it's not. In the case of Babel, the amount they got from casinos is > $20K. Saying no to that money may be a difficult decision, and it's not Open Collective's responsibility to take it as long as there's nothing illegal in there.

That being said,

[2020-08-18 16:09] Betree commented on #3413
@znarf thanks for the feedback!

I agree, tho I would probably name it `ContributionFrequency` as these values are only meant to define frequencies for recurring contributions.

I'll go with that then :+1:

[2020-08-18 16:09] kewitz commented on #3410
@alanna that's exactly right.
We're not fetching and displaying the fees at payment time, we do that only when already executing the payment.
This was discussed before with @Betree, although I'm not sure we converted to an issue:
The main idea would be displaying the fees at confirmation but a quick-win would be returning the fee value with the error.

Since these fees are kinda hard to predict, I

[2020-08-18 16:53] brymut commented on #3314
Looking at this, would it be appropriate to update the route here before the settimeout with a if statement to check if the `collective.slug` at this point is the same as the current route? If not update the route and `refetchLoggedInUser`
https://github.com/opencollective/opencollective-frontend/blob/9ea25474b61b5ddb678762cb60efbdb7f367ba88/components/edit-collective/index.js#L72

[2020-08-18 17:19] Betree commented on #3314
@brymut sounds like a good way to do it 👍

[2020-08-18 21:06] JoyLubega commented on #3141
@znarf How best can I send the notification(Email). Can I send emails with the frontend only, I remember seeing email templates in the API. I beg to be advised

[2020-08-18 22:37] alanna commented on #3410
I added more funds and the payment went through. Having the fees in the error is a good start.

How about when an expense is approved for a Transferwise payment, if there are not enough funds in the balance to cover the amount + fees, an email goes to the host admin letting them know? Ideally the admin needs to know the balance is short ahead of going to pay the expense, because transferring funds

[2020-08-19 06:55] macbro3 commented on #3392
That's great.

[2020-08-19 08:35] Terrafire123 commented on #3267
@Betree Absolutely. This is perfect.

[2020-08-19 09:10] Betree commented on #3413
I also suggest renaming `PaymentMethodDataInput` in https://github.com/opencollective/opencollective-api/blob/90374b46f6013b1c029d69cce067de4f09ebe27d/server/graphql/v2/input/PaymentMethodDataInput.js to `CreditCardDataInput` as it's only used for credit cards.

[2020-08-19 09:21] znarf commented on #3413
@Betree I agree. Then also `PaymentMethodCreateInput` to `CreditCardCreateInput` or `PaymentMethodCreditCardCreateInput`. Also `addStripeCreditCard` to `addCreditCard`?

[2020-08-19 12:33] Betree commented on #3365
I just realized that the fix I implemented for the scroll was not working on Chrome for some operating system. I just changed my OS and was able to reproduce the scroll behavior that I was previously changed. Given what I already researched, I'm pretty sure that this is the root cause for this issue. Below is a screenshot of how it happens, it's almost unnoticeable for users (because scrolling usu

[2020-08-19 12:57] sentry-io[bot] opened #3414 "TypeError: Promise.allSettled is not a function"
Sentry Issue: [OC-FRONTEND-2A4](https://sentry.io/organizations/open-collective/issues/1829568645/?referrer=github_integration)

We recently introduced some code using this helper in the frontend, but the [coverage](https://caniuse.com/#search=allSettled) for this method is not yet satisfying (80%). We need to remove it from the codebase.

https://github.com/opencollective/opencollective-frontend/

[2020-08-19 12:58] #3365 closed

[2020-08-19 12:59] #3112 closed

[2020-08-19 13:19] Piedone commented on #3112
Should this be already usable? Because as the Role I can still only select Admin and Core Contributor under https://opencollective.com/lombiq/edit/members.

[2020-08-19 14:35] znarf commented on #3347
@sbinlondon duplicate with https://github.com/opencollective/opencollective/issues/3347#issuecomment-673432174

[2020-08-19 14:36] znarf commented on #3347
[code]

[2020-08-19 14:41] Betree commented on #3112
Sorry @Piedone this hasn't be deployed yet, it should be ready between today and tomorrow. Please note that this release will not yet include sending the PDFs by email (which is tracked by https://github.com/opencollective/opencollective/issues/2867).

[2020-08-19 19:22] Piedone commented on #3112
Thank @Betree, I see. I could actually use this already.

[2020-08-19 22:12] kewitz commented on #3410
The updated error message got merged already, it will specify how much you need and how much you’re paying for fees.

The problem with validating when cresting the expense is that the transaction often involves another currency. This means that the fees and rates involved might change from the time the expense was created and the time it was actually paid.
That’s why I think the right way to go is

[2020-08-19 23:32] alanna commented on #3244
I'm still not able to add Collectives to my own host. When I go via the Collective's host settings, I get this error:
![Screen Shot 2020-08-20 at 11 23 14 AM](https://user-images.githubusercontent.com/5498878/90699552-b58d3e00-e2d7-11ea-97d8-a4d66d84d296.png)

Should this be a seperate issue @znarf ?

[2020-08-20 05:30] Betree commented on #3410
It's still planned in https://github.com/opencollective/opencollective/issues/3089

[2020-08-20 07:00] znarf commented on #3244
@znarf Yes, it's a different issue, would be great to have the context and know which Collective it's about.

[2020-08-20 07:25] #3412 closed

[2020-08-20 07:31] #3114 closed

[2020-08-20 08:55] znarf opened #3415 "Reading "email" on Organization in GraphQL is inaccurate"
**Describe the bug**

As a Collective admin, I would like to be able to see the email of Admins of Organizations contributing to my Collective.

**Problems**

- `email` is buggy or inaccurate on Organization as it's only exporting the email of the CreatedByUserId.

**Solution**
- `email` field should not exists on Organization as it's only exporting the email of the CreatedByUserId.
- `getListOfAc

[2020-08-20 08:56] znarf commented on #3415
Sample GraphQL:

[code]

[2020-08-20 09:14] JoyLubega commented on #2808
@ghost are you still working on this. Do you need any help

[2020-08-20 10:16] Betree opened #3416 "Show events in menu"
## User story
As a collective admin/event organizer, I should see my events listed in the menu to easily find them.

![image](https://user-images.githubusercontent.com/1556356/90758097-c8574100-e2de-11ea-98bc-f0debc125c1c.png)

## MVP

Add a new `My Events` section in the user menu.

[2020-08-20 10:28] znarf commented on #3416
It would overload the menu I'm afraid.

[2020-08-20 10:35] Betree commented on #3416
@znarf We could display it only if you actually have events in there, and filter out the expired ones. The div is scrollable, so it shouldn't be a huge pain (compared to having to search for your event by navigating).

[2020-08-20 10:44] znarf commented on #3416
@Betree It's a good idea to display only the active Events.

[2020-08-20 11:32] piamancini opened #3417 "Open Collective Roadmap: Q3 Sprint2"
## Goal
Goal of this Sprint is to finish the main projects started in Q3 Sprint 1. We are including some community requested new priorities related to moderation & spam and invoicing. We are also adding revenue metrics.

### Contribution Flow Update
**Project Issues:** Main #3164 - Implementation:  #3411 #3407 #3401 #3339 #3338 #3337 #3334 #3335 #3333
**Project owner** @znarf
**Tech owners**: @sbi

[2020-08-20 12:17] Betree commented on #3347
@kewitz I'd like to look at some of these tests today. Is that ok for you? Any info to share before I start digging?

[2020-08-20 14:05] kewitz commented on #3347
@Betree sure! Feel free to tackle any test you want and check it down.
I added some instructions on how I was debugging it locally in the Issue description, the problem is that I feel like there's a set of problems that won't show locally and I'm not sure why.
Perhaps these tests are co-dependent.

[2020-08-20 20:44] alanna opened #3418 "Wrong behavior after changing slug"
## Problem
I changed the slug of [this Collective](https://opencollective.com/di-research-grants).

After clicking `save` I got a permissions error, because now the old slug doesn't exist and I'm not an admin of that non-existent Collective.

I refreshed and got a 404, because the URL was still set to the old non-existent one.

## Expected behavior
After changing the URL slug and clicking `save` i

[2020-08-20 20:53] alanna commented on #3416
I think this is another case where we as team members are edge cases. Most people only have one or two things in their menu. It could be interesting to look at the stats for that - I think the menu can very comfortably handle 10 items, and I'd be shocked if more than a tiny percentage of our users have 10 or more right now, so adding events should be fine. I have 50+ items in my own menu and it's

[2020-08-20 21:01] Betree commented on #3418
Duplicate of https://github.com/opencollective/opencollective/issues/3314, the fix is about to be merged

[2020-08-21 02:29] alanna opened #3419 "Can't add TestCollective to Fiscal Host"
I'm trying to add TestCollective to a host so I can test stuff, but I get this error no matter which host I try.
<img width="1242" alt="Screen Shot 2020-08-21 at 2 26 03 PM" src="https://user-images.githubusercontent.com/5498878/90845540-5c4a0b00-e3ba-11ea-8822-b0c0c9eaf565.png">

I tried this with a different Collective and it worked fine, so I think it's just an issue with TestCollective, but wh

[2020-08-21 06:28] #3314 closed

[2020-08-21 06:29] Betree commented on #3314
:trophy: This issue has been completed by @brymut

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-08-21 14:43] xdamman opened #3420 "Login screen hidden below the fold on the expense page"
E.g. https://opencollective.com/allforclimate-uk/expenses/new
<img width="1392" alt="Screen Shot 2020-08-21 at 4 41 39 PM" src="https://user-images.githubusercontent.com/74358/90902806-51e53c80-e3cd-11ea-8206-6faac39d7439.png">
<img width="1392" alt="Screen Shot 2020-08-21 at 4 43 11 PM" src="https://user-images.githubusercontent.com/74358/90902864-6a555700-e3cd-11ea-9947-f4b543e39284.png">

[2020-08-21 18:15] yase01 opened #3421 "Magic log in link has no expiry."
URL:
Logged in as (username or profile URL): Admin (request a magic link log in)
Error message if any:
Expected result: Old magic log in link is still valid
Browser: Firefox, Chrome

Steps to reproduce:

1) request a magic log in link
2) Log out
3) Request again a magic log in link
4) Log out again
5) Access/used the old magic log in link to Log in again

Impact:

Old magic log in link still valid

[2020-08-22 21:34] alanna opened #3422 "Incognito payouts"
## User story
As an expense submitter, I want to have the option to protect my privacy, while still having the budget be transparent.

## Best solution for this problem
Incognito option for payouts, similar to incognito for financial contributions - the pay to profile displays 'incognito' but the admins can still see the actual submitter profile info. This would be a tickbox option when submitting

[2020-08-22 21:57] alanna opened #3423 "Event page should say 'event' not 'collective'"
It should say 'support this *event*.'
<img width="656" alt="Screen Shot 2020-08-23 at 9 55 35 AM" src="https://user-images.githubusercontent.com/5498878/90966473-d9928e80-e526-11ea-943f-d65f9c5089ff.png">

[2020-08-23 08:13] alanna opened #3424 "Failed onboarding experience"
I just had my first Collective sign up for the OCNZ host. It was a friend of mine so I was walking her through the whole process, but even still she hit so many barriers and snags and it was really disheartening.

First, the good: she went through the process of creating a Collective and applying to host just fine. Yay. But then she got stuck.

The problems:

1. She created an event, but the defau

[2020-08-24 05:39] Betree opened #3425 "Events: create ticket redirects to /tiers"
**Describe the bug**
On the collective page, "Create ticket" redirects to `/tiers` which is confusing because the tickets appear on `/tickets`.

**Expected behavior**
Should redirect on `/tickets`).

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1556356/91007615-b9bda200-e5dc-11ea-98a5-3a8da42794b5.png)

[2020-08-24 05:46] Betree commented on #3424
Some things we can already extract from that:

There's a bug here, if we try to add a custom amount on a free tier it indeed shows no payment option.

Events should display the `Core Contributors` section in the settings.

While the underlying UX issue described in #2322 may still be there, I was not able to reproduce the bug described - I can still remove "empty" core contributor entries.

![Peek

[2020-08-24 05:49] Betree opened #3426 "Contribution flow: can't add custom amount on free tickets"
**Describe the bug**
On the contribution flow, when trying to add a custom amount on a free ticket, the payment step is not displayed so your contribution fails ("No payment method provided").

**Expected behavior**
Payment step should be displayed.

[2020-08-24 05:52] Betree opened #3427 "Events: can't edit core contributors"
**Describe the bug**
In the events settings, there's no menu entry to `Core Contributors` so people can't add admins for them.

**Expected behavior**

Either:
- We don't want people to edit the core contributors at the event level, we should then display a link to the collective settings.
- Or it's ok, and then we should just enable the section.

[2020-08-24 05:52] Betree commented on #3427
@znarf What's your opinion about the `Expected behavior`?

[2020-08-24 06:22] Betree commented on #3423
This is a generic string used for all account types (Event, Collective, Project). We can add conditions to make sure it displays the proper type, but the simplest for internationalization would be to have.

Would that work?

[2020-08-24 06:25] Betree commented on #3422
We could make the `Incognito` profile available in the `Payee` select. The main issue with that is about tax form, we would need to consider the incognito profile when checking for the tax form status of a user.

[2020-08-24 06:38] Betree commented on #3418
Fixed with https://github.com/opencollective/opencollective-frontend/pull/4875

[2020-08-24 06:38] #3418 closed

[2020-08-24 06:56] #3414 closed

[2020-08-24 07:31] znarf commented on #3427
Out of simplicity, it was decided to say that Admins of an Event are the Admins of the parent Collective.

If we expose additional Admins for a given Event, it's becoming complicated to understand who has admin capacities.

Otherwise, I don't have strong opinions, I just want something that is clear to understand.

[2020-08-24 07:34] znarf commented on #3424
@Betree We should not be allowed to add an amount if the Ticket has a "fixed" free amount. It's a bug that should be solved in https://github.com/opencollective/opencollective-frontend/pull/4902

[2020-08-24 07:35] znarf commented on #3426
As stated in https://github.com/opencollective/opencollective/issues/3424#issuecomment-678961194 I think this is a non-issue because in this case the amount should not have been editable. Root issue should be solved by https://github.com/opencollective/opencollective-frontend/pull/4902

[2020-08-24 08:07] Betree commented on #3427
So maybe we should go with the second option, displaying the `Core contributors` tab in the event settings with a simple message and a link to edit the parent collective members. @alanna WDYT would have been the best option in the context of what you reported in https://github.com/opencollective/opencollective/issues/3424?

[2020-08-24 09:18] znarf commented on #3347
E2E 39 is still failing a lot and is the most problematic as of today. cc @Betree @sbinlondon

[2020-08-24 09:48] sbinlondon commented on #3347
For me the 'edit collective' (number 22 I think?) is by far the most problematic. It's failed lots over a few of my latest PRs. I haven't had issues with 39 in weeks.

I can try and have a look at it this week, but didn't @kewitz make some changes recently that helped to make it more consistent?

[2020-08-24 10:18] znarf commented on #3347
@sbinlondon 22 is also failing a lot that's true. I quickly looked at today's PR failures, and easily found 4 with E2E 39. There is definitely more as I already restarted many tests.

Bottom line, if we succeed fixing 22 and 39, we will be in a way better place.

[2020-08-24 10:25] sbinlondon commented on #2006
This is on the 'host dashboard' project board. Is this being addressed in the current host dashboard revamp or should I reassign this to the moderation project? @piamancini @Betree ?

[2020-08-24 10:32] Betree commented on #3352
@snitin315 We can add a $200 bounty on this one. If you're good with that, feel free to assign yourself as you've requested it first :slightly_smiling_face:

[2020-08-24 10:41] #3425 closed

[2020-08-24 10:49] jjavierdguezas opened #3428 "Avatar does not show in donation card"
**Describe the bug**
Yesterday I created a new account and set up an avatar. Then I made a donation.
I can see my avatar everywhere except on the donation card. I thought it was a cache problem, but 24 hours later I can't see the avatar yet. I even set the avatar again and nothing happens. At this time a default "JZ" avatar is displayed, however the avatar of other contributors does appear.

**Exp

[2020-08-24 10:52] sbinlondon commented on #3347
It was on my mental checklist to look at 22 from last week so I can do that. Happy to try fixing 39 too unless anyone else wants to take one of those.

[2020-08-24 10:56] znarf commented on #3428
Thank you for the report. Seems a duplicate of https://github.com/opencollective/opencollective/issues/3210

[2020-08-24 11:02] znarf opened #3429 "Strong Customer Authentication (3d Secure) not supported in Recurring Contributions"
While editing my recurring contributions, I should be able to add a new Credit Card requiring Strong Customer Authentication  (3d Secure) and it should prompt me with the Confirmation flow.

A list of test Credit Cards can be found at https://stripe.com/docs/testing#regulatory-cards

Example: `4000 0027 6000 3184`

To check how the Confirmation flow should look, try to add this sample Credit Card

[2020-08-24 11:14] Betree commented on #2006
@sbinlondon let's confirm with @Memo-Es, but I don't think there's anything in design for this yet. It's actually linked to both projects.

[2020-08-24 11:19] sbinlondon commented on #2002
@ghuntley @Andarist If you have any further ideas/comments on this issue please let us know, I'm writing a moderation proposal this week and will be including this issue in it.

[2020-08-24 11:26] sbinlondon commented on #2006
@josegonzalez We are looking at moderation as a whole right now - if you're in our Slack we have a #moderation channel or you can comment on this [issue](https://github.com/opencollective/opencollective/issues/2741). It sounds like you might have some thoughts on moderation in general and I'd love to get your feedback on what we can do beyond just cancel/reject contributions.

[2020-08-24 11:46] sbinlondon commented on #3337
I think it would be good to make separate issues for the logged out stuff then so we can go ahead and track/'close' these issues for the intial release

[2020-08-24 11:47] #3337 closed

[2020-08-24 11:47] #3338 closed

[2020-08-24 11:57] sbinlondon commented on #3335
@Betree do the remaining two GraphQL todos make sense in the context of the new contribution flow or do we not need them? (Names just copied from the old flow)

[2020-08-24 12:21] Betree commented on #3347
I just had an epiphany on what could be wrong with `22`, I'll look at it now!

[2020-08-24 12:35] Betree commented on #3335
@sbinlondon `SubmitOrderFragment` would be nice to make sure `createOrder` and success page retrieve the same data. I've added a note for that in https://github.com/opencollective/opencollective/projects.

`addConfirmOrderMutation` will be required to implement 3D secure properly, but an issue for the endpoint itself is not required, we should rather have an issue for the feature as a whole. I'll

[2020-08-24 12:37] #3335 closed

[2020-08-24 12:38] Andarist commented on #2002
As I've mentioned somewhere on Twitter - would be great to have like a dedicated warning/information (copy-pastable) about a collective admin having a right to moderate the list as they see fit to exclude such SEO-boosting donors from being displayed automatically. If they still want to donate - I'm OK with that, but I'd like to be clear upfront that I don't want to host their "ads". Something lik

[2020-08-24 17:24] contraexemplo commented on #2595
Hey. I had ~10 days of downtime after my current glasses broke a day after I posted the last update — I wasn't able to work for more than a couple of hours with my old ones without some awful side effects. I got a new pair this weekend and will proceed with what I had planned this week instead.

[2020-08-24 19:34] kewitz opened #3430 "Misleading amount displayed in Tweet after order is created"
After an order is successfully placed and an amount is donated through Fees On Top, the tweet suggested in the link considers the full amount and it is misleading:

The tweet automation we have on the collective side is thanking for the donation is also misleading.

[2020-08-24 21:55] alanna opened #3431 "Custom button text for tier should show on standalone page"
You can set a custom button text for a tier:
<img width="918" alt="Screen Shot 2020-08-25 at 9 53 08 AM" src="https://user-images.githubusercontent.com/5498878/91100281-01196080-e6b9-11ea-94a5-9deb7e176b47.png">

And it will show on the Collective page:
<img width="316" alt="Screen Shot 2020-08-25 at 9 53 50 AM" src="https://user-images.githubusercontent.com/5498878/91100297-09719b80-e6b9-11ea-8b2

[2020-08-24 22:02] alanna opened #3432 "Custom text for tier cards"
Collectives use tiers for a lot of different reasons. For example, this one is raising funds for a family member's funeral ceremony. That makes the default card text not appropriate. Users should be able to customise the text to show up on the card for a tier.

<img width="315" alt="Screen Shot 2020-08-25 at 10 01 41 AM" src="https://user-images.githubusercontent.com/5498878/91100857-03c88580-e6ba

[2020-08-24 22:08] alanna commented on #2595
Sorry to hear about the glasses situation! That sounds frustrating. Keep us
posted :)

[2020-08-24 22:39] alanna commented on #3424
Thanks guys. I got added as an admin and was able to fix the immediate problems she was having. Hopefully these other fixes can help make the experience better in the future. Luckily she was understanding about it and is sticking with us!

Yes sorry I was unclear. I was referring to the UX issue.

[2020-08-24 22:42] alanna commented on #3427
I think it's OK to keep it simple, and just make admins of the Collective the admins for its events. We can probably solve this with a design/UI fix as @Betree is suggesting. We just need to make sure that if someone is in their event settings looking to add an admin, it clear what they need to do, and that making someone an admin applied to the whole Collective and all its events.

[2020-08-24 23:22] alanna commented on #3423
Just delete "to support this initiative" and make it say "Make a custom one
time or recurring contribution."

[2020-08-25 06:11] Betree commented on #3427
There's also a behavior inconsistency that we'll need to solve (eventually in another issue), I haven't tried yet but because `Core Contributors` (`MEMBERS`) have the permission to create event I think that we're exposed to this issue:
- As a Core Contributor (not ADMIN), create an event
- You're now an admin of the created event
- There's no way to remove you from the admins of the event

Should

[2020-08-25 06:41] Betree commented on #3432
The description does show up on the tier card:
![image](https://user-images.githubusercontent.com/1556356/91135383-4c7a4180-e6ae-11ea-985c-2b1e6d6c18e9.png)

The good part about this default string is that it's internationalized. I we want to implement the ability to empty your description without breaking this, we'll need to add a checkbox like `Use a custom` description that disables the `Descri

[2020-08-25 07:06] #3287 closed

[2020-08-25 07:10] Betree commented on #3287
@rista404 thank you for completing this one! Feel free to assign yourself on the issue if you want to, we sometimes use this info to get a glimpse of who contributed already.

We also added you to https://github.com/orgs/opencollective/teams/contributors/members. You can now push directly to most Open Collective repos :tada: (only the `master` branches are protected).

[2020-08-25 07:17] #3366 closed

[2020-08-25 07:50] #3416 closed

[2020-08-25 08:59] #3210 closed

[2020-08-25 10:57] #3430 closed

[2020-08-25 14:12] #3356 closed

[2020-08-25 14:46] jjavierdguezas commented on #3428
It is working now, thanks @znarf
![image](https://user-images.githubusercontent.com/13673443/91189283-8d944500-e6f2-11ea-95f8-b0e490bb4d8b.png)

Closing this issue

[2020-08-25 14:46] #3428 closed

[2020-08-25 20:42] alanna opened #3433 "Add attachments to comments"
## User story
As an expense submitter, I want to add attachments to comments, so I can include extra info related to expenses and conversations.

## Best solution for this problem
An attachment button alongside the formatting options in comments.

## Documentation
_The goal of the documentation should be to make it easier for others to do this_

[2020-08-25 21:01] alanna commented on #3432
That's odd.... I created the tier with a description, but it didn't show up on the card. Then I changed it to a standalone page tier, and then the description appeared.

[2020-08-26 06:16] Betree commented on #3433
Now that comments are private, this is something we can envision.

The main obstacle is that in the rich text editor, you can only upload images (jpg,png,etc). So PDF would not be supported out of the box. We could eventually solve that, but it's more difficul to embed a PDF than an image, so we'd probably have to display it as a link under the message (like in an email attachment).

[2020-08-26 06:19] alanna commented on #3433
A link under the message would be fine!

[2020-08-26 07:00] JelF opened #3434 "Contribution flow: logged out path"
## User story
_I wish to donate minor amount of money without registration_

## Best solution for this problem
_Allow donations without registration_

## MVP
_Add a tab at https://opencollective.com/browserslist/donate for anonymouse donations_

## Metrics
_Amount of money donated this way and possible decrease of amount donated with registration_

[2020-08-26 07:12] Betree commented on #3434
Hi @JelF, the ability to contribute without signing in is planned in https://github.com/opencollective/opencollective/issues/3164 but we didn't have a dedicated issue to track it, so let's use this one.

[2020-08-26 12:05] kewitz commented on #3347
[code]

[2020-08-26 13:34] #3154 closed

[2020-08-26 13:37] #2295 closed

[2020-08-26 13:37] #2330 closed

[2020-08-27 00:36] SudharakaP commented on #3289
@Betree : For `MarkOrderAsPaidBtn` and `RefundTransactionBtn` do we need to change `SmallButton` to `StyledButton`? Is that what you mean? 😄

[2020-08-27 03:13] alanna opened #3435 "Contributions toward goals should not reflect fees"
If you set up a tier with a goal, and then give money to it, the progress bar only reflects the amount after fees instead of the full contribution.

For example someone gave $50 and it appears like this:
![Screen Shot 2020-08-27 at 3 09 32 PM](https://user-images.githubusercontent.com/5498878/91379755-7fbbfc80-e877-11ea-824d-f18fc01ff754.png)

This design choice is a disappointing experience for u

[2020-08-27 03:22] Hmawn commented on #3435
H

[2020-08-27 05:43] SudharakaP commented on #3289
@Betree : Also few more things in addition to my above comment.

1) I couldn't find any styled-jsx in `CreateCollectiveForm`. So I think it's already migrated.

2) The `SmallButton.js` is not listed under [any category above](https://github.com/opencollective/opencollective/issues/3289#issuecomment-654120071). Should we migrate this as well?

I will create a separate PR to migrate the deprecated c

[2020-08-27 05:51] Betree commented on #1540
Some specs based on the latest conversations, that require https://github.com/opencollective/opencollective-api/pull/4422 to be merged first:

In https://github.com/opencollective/opencollective-api/blob/a4c9bbffa2f0d18ecceca7c1d031df2fafba17f1/server/paymentProviders/paypal/index.js#L140, if there was another PayPal account link before with a different email than the new one, add a `paypalApprova

[2020-08-27 05:55] Betree commented on #3289
Sorry about that, `SmallButton` should not be migrated as we want to get rid of it. I've added it to the list above.

[2020-08-27 06:58] #3431 closed

[2020-08-27 08:01] znarf commented on #3347
New form of E2E 39 failure:

[code]

- https://github.com/opencollective/opencollective-api/pull/4459/checks?check_run_id=1033902562

[2020-08-27 12:33] Betree opened #3436 "Contribution flow revamp: Success page enhancements"
See https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4489%3A3180

- [ ] Implement bank transfer view

![image](https://user-images.githubusercontent.com/1556356/91442598-62386400-e872-11ea-810b-c9418d7aeef5.png)

[2020-08-27 13:37] sbinlondon commented on #3339
Closing issue in favour of [this issue for final edits](https://github.com/opencollective/opencollective/issues/3436)

[2020-08-27 13:37] #3339 closed

[2020-08-27 13:38] sbinlondon commented on #3436
Also to do:

* Functionality to edit message again from the comment box
* Error displaying for any data errors

[2020-08-27 22:59] alanna commented on #3408
I updated [the docs to show how to create a host](https://docs.opencollective.com/help/fiscal-hosts/create-a-fiscal-host) without a Collective, but it's really messy so I'm going to raise a seperate issue about improving the flow.

[2020-08-27 22:59] #3408 closed

[2020-08-27 23:03] alanna opened #3437 "Improve host onboarding flow"
I just updated the [docs page about creating a host](https://docs.opencollective.com/help/fiscal-hosts/create-a-fiscal-host), and it's very messy and unintuitive. There are like five different ways to create a host and none of them are straightforward.

The settings update and host dashboard project @Memo-Es is working on will help a lot, but I think he should also look at the host onboarding flow

[2020-08-28 06:29] Betree commented on #2953
Users are being confused by this error: https://opencollective.slack.com/archives/C6JTTA4SK/p1598556826018400

We could improve the error message by adding a custom `validate` in https://github.com/opencollective/opencollective-api/blob/ada16642e5a90e5598e79e50d4e3c3e60b3b8a89/server/models/Tier.js#L79. I'll do that now.

This form however deserves a good revamp, I hope we'll find the time to do i

[2020-08-28 06:51] Betree commented on #3432
I'm not sure what the problem is, the standalone page setting is not used to decide whether we should display the description or not. It can eventually be a cache issue, but that would have impacted all fields (not just the description). We'll need more steps to reproduce.

[2020-08-28 07:00] Betree opened #3438 "Redesign the page to edit tiers"
The tiers page has a lot of issues. To name some of them:
- Error messages are unclear (https://github.com/opencollective/opencollective/issues/2953)
- Related to the previous, there are no frontend validations. So if something's wrong, it's up to users to find the error source.
- The form is pretty complex, with more than 10 fields. The UI doesn't tell you which ones are required or not.
- It's u

[2020-08-28 07:09] znarf opened #3439 "Online Events"
From support.

In the confirmation email for Events, looks like a location is required. Now that Online Events are common place, this should not be the case.

Also, it seems its' extra important to precise the timezone in the Email and in the attached ICS events. We should make sure the timezone is passed and displayed everywhere.

<img width="1377" alt="Screenshot 2020-08-28 at 09 08 15" src="htt