[2018-08-03 18:44] znarf commented on #1204
Fixed in https://github.com/opencollective/frontend/pull/642

[2018-08-03 18:44] #1204 closed

[2018-08-03 23:45] alannallama opened #1206 "Comments on expenses sometimes not loading"
This is hard to document/reproduce because it's intermittent, but sometimes the comments on an expense do not load, and sometimes older comments load but not more recent ones. For example today I answered a question in a comment, but when I went back later my post was not showing, even after reloading a few times. Finally it did appear again for apparently no reason.

[2018-08-04 09:45] xdamman commented on #1203
When I click on the code view, this is what I see: ![](
https://d.pr/free/i/jBA0jn+)

[2018-08-05 20:10] xdamman opened #1207 "Inconsistency between `Collective.HostCollectiveId` and `Members.host`"
12 collectives have a different `Collective.HostCollectiveId` than the one referenced in the `Members` table under the role `HOST`.

[code]

![](https://d.pr/free/i/YsaA8c+)

This is probably due to manually changing the host of a collective and forgetting to do it in either the `Collective` table or the `Members` table.

The effective host being used right now is the host define in `Collective.Ho

[2018-08-05 20:14] xdamman commented on #1207
This query will
- delete all the existing rows in the `Members` table for the `HOST` role that don't match the `Collective.HostCollectiveId`
- insert new rows in the `Members` table to match the `Collective.HostCollectiveId`

[code]

This will fix the problem above assuming the `Collective.HostCollectiveId` is the source of truth (still needs to be confirmed)

[2018-08-06 09:52] Carodem opened #1208 "Wrong profile ?"
Hello !

I am having troubles sining up to my profile on Brussels Together. When I enter my email address to receive a link to connect and click on it, i appear under "anonymous497".
Here is the URL that appears when i click on the link received by email : https://opencollective.com/huneeds

Here is the URL of the "anonymous497" profile : https://opencollective.com/anonymous497#

+ i am administra

[2018-08-06 12:33] ghuntley commented on #992
@clarete the email was sent by emailing the backers@ email address of the ReactiveUI project.

Steps to repro:
1) Send email to backers@
2) Wait for confirmation email from OpenCollective
3) Click on approve email
4) View email that is sent - at the bottom there will be `[Object object]`

[2018-08-06 12:36] ghuntley commented on #464
Zapier and probot are the two most compelling use cases at the moment.

Personally I would use both as follows

a) probot used to automatically triage GitHub issues and add labels ("flare") to signify that someone is a financial sponsor.
b) Zapier to automatically add rows to a Google spreadsheet, publish tweets on Twitter, announce in Slack, send a personalized thank-you email.

[2018-08-06 13:40] cuiki commented on #1203
I have no idea why you see that. The only thing I can think of is that maybe you're looking into these mocks without being signed into InVision. You have access to the prototype named "OC — Web Platform". There shouldn't be any issues.

https://tafka.d.pr/vHC3gj

`.base {
	height: 119px;
	width: 200px;
	border: 1px solid rgba(18,19,20,0.12);
	border-radius: 8px;
	background-color: #FFFFFF;
	box-sh

[2018-08-06 14:31] cuiki commented on #1168
How does that happen? Add it in their HTML?

The flow is updated and I'm working on the wireframes to complete it with visuals. You can click on the pages and they will take you to the wireframe:

— i.e. https://tafka.d.pr/nSMZRu
— https://app.moqups.com/Cuiki/JSZNg8YwFr/view/page/ac2664e66

[2018-08-06 15:50] marcogbarcellos opened #1209 "Add New Relic to the API"
We have to add [New Relic](https://newrelic.com/) to the api so we can better track informations of the systems and make sure we have enough resources to investigate whenever we run into problems in production.

[2018-08-06 16:44] piamancini commented on #1207
Looking now. In the future is probably useful to have a role defined in only one place in the ledger.

[2018-08-06 16:51] piamancini commented on #1207
collective (slug) | collective.host (slug) | Member.HOST (slug) | Confirmed Host (slug)
-------------- | --------- | --------------- | ----------------
co-built | fka | opencollective-host | fka
jointhecosmos | foundation | opencollective-host | foundation
mongoose | opensourcecollective | opencollective-host | opensourcecollective
opencollective-oss | opensourcecollective | foundation | opensourc

[2018-08-06 17:24] piamancini opened #1210 "Why users make donations with the wrong profile?"
We constantly have users making a donation with their personal  profile instead of their organizational one. I think part of the reason is that when you click on a tier to donate you land with an anchor direcly in the payment method section of the order:

<img width="1276" alt="screen shot 2018-08-06 at 1 21 18 pm" src="https://user-images.githubusercontent.com/3671070/43731266-f4ef4130-997b-11e8-

[2018-08-06 17:28] piamancini opened #1211 "error when adding a yearly contribution to Babel"
Base support tier is a yearly support.
<img width="1142" alt="screen shot 2018-08-06 at 1 27 35 pm" src="https://user-images.githubusercontent.com/3671070/43731450-8d2648ae-997c-11e8-9d95-847b0c0fa3b2.png">

[2018-08-06 19:18] piamancini opened #1212 "self-serve flow feedback"
- [x] I am logged in with piamancini
Selected Own host ---> individual --> clicked on connect Stripe and have me a 500 error, went back and was set up as an individual host, with no details and Invalid Date: (Not logged in sends me to the correct Stripe auth screen)
<img width="1277" alt="screen shot 2018-08-06 at 2 46 41 pm" src="https://user-images.githubusercontent.com/3671070/43735086-bb8f70b6

[2018-08-06 23:31] alannallama opened #1213 "Add stroke to profile header text"
Currently the white text does not work with light backgrounds. If it were white text with a black stroke, it should work on any background.

<img width="739" alt="screen shot 2018-08-07 at 11 30 22 am" src="https://user-images.githubusercontent.com/5498878/43745935-709f0900-9a35-11e8-8871-ed1fb4798eaa.png">

[2018-08-07 03:39] cuiki commented on #1190
Latest mockups is in InVision. I left a few comments there.

— InVision: https://invis.io/UDMY05M9MH6#/312730961_how_it_works_-desktop-
— Mockup
![how it works desktop](https://user-images.githubusercontent.com/981188/43752928-e9f34d74-99c8-11e8-951d-77aeec9818c8.png)

[2018-08-07 10:29] xdamman commented on #1197
Once again (this is very looking bad -- can we prioritize this issue?)
![](https://d.pr/free/i/dxpxjI+)

[2018-08-07 13:34] xdamman opened #1214 "Widgets are broken"
Reported by Rachel:

[2018-08-07 14:49] piamancini opened #1215 "backers charged twice in a row if they set up contribution close to end of month"
we now charge people on the 1st of the month, regardless of when they made the donation. This results in people getting charge twice in the same month and it's particularly annoying when the get charged two days in a row...

We should push the second charge to the 1st of the second month when donations are made after the 15th of the month.

if 1st charge is between 1 - 15th of month x then second

[2018-08-07 14:55] xdamman commented on #1215
the real proper way to do this is to charge pro rata for the first payment.
E.g. If payment made the 10th of the month, the user should pay 2/3 for the 20 remaining days in the month. Likewise, if the subscriptions starts on the 20th, first payment should be 1/3 of the full amount.

[2018-08-07 15:02] piamancini opened #1216 "CHSF has a null host fee % in their backers transactions"
<img width="1233" alt="screen shot 2018-08-07 at 11 01 06 am" src="https://user-images.githubusercontent.com/3671070/43784123-5fbe3614-9a31-11e8-98d7-baa689189093.png">

[2018-08-07 15:04] piamancini commented on #1215
That is indeed a better way.
If too complicated, at least a first step to push txns should help as a v1. Hosts lose money every time we refund because stripe is not giving the fees back. We should try and avoid refunds as much as possible.

[2018-08-07 15:21] xdamman commented on #1215
@marcogbarcellos assigning this to you. See what's easiest for you to implement.

[2018-08-07 15:28] xdamman commented on #1216
Fixed.

Btw, is it normal that they are still hosted by opencollective-host?
Weren't they supposed to move to the foundation?

[2018-08-07 15:31] xdamman commented on #1213
This can be done with
[code]

@cuiki what do you think?

[2018-08-07 16:26] xdamman commented on #1213
This is the way it would look with a 3px spread shadow:
![](https://d.pr/free/i/cpgxYv+)

And without a spread:
![](https://d.pr/free/i/aDo6dW+)

[2018-08-07 18:19] jancborchardt opened #1217 "Better support for other expense _payout_ methods (besides Paypal, like IBAN/SEPA)"
Currently the only proper way to receive expenses is Paypal. The "other" method feels strange, as it needs to be handled off-platform somehow then.

It would be great if there would be other _official_ methods, for example being able to put in an IBAN address to wire to. Or adding IBAN to the payment methods too, and using that for payouts as well.

URL for example: https://opencollective.com/open

[2018-08-07 18:24] piamancini commented on #1216
PS: can I close this?

[2018-08-07 18:38] piamancini commented on #1208
Hi @Carodem You are an admin of huneeds with this profile https://opencollective.com/caroline-de-montjoye# that you created with your hotmail email address.

[2018-08-07 19:08] piamancini commented on #1197
and also here - failed authentication page when approving an expense from an email.
<img width="1094" alt="screen shot 2018-08-07 at 3 06 58 pm" src="https://user-images.githubusercontent.com/3671070/43796906-9d5fe6f8-9a53-11e8-950a-10535c5f9340.png">

[2018-08-07 19:29] Carodem commented on #1208
Hi,

Thank you for your email.

I tried to log in with my email address but it says this address does not exist…
+ when i click on your link below, i arrive on my profile but that still says anonymous 497….

[cid:AE4FC1BC-1342-4223-ACBD-BAA629CCBCE2@lan]

Thanks !

Caroline

Le 7 août 2018 à 20:38, Pia Mancini <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hi @Carodem<https

[2018-08-07 21:12] alannallama commented on #1213
Looks good! That's much better.

On Wed, Aug 8, 2018, 04:26 Xavier Damman <notifications@github.com> wrote:

[2018-08-08 09:26] #1216 closed

[2018-08-08 09:29] xdamman commented on #1217
Would love to do that. @marcogbarcellos is working on a new version of the ledger that will make it easier to support new payment methods.

[2018-08-08 13:56] xdamman commented on #1211
That's because the `opencollective` payment method doesn't allow recurring payments. This will be fixed in the upcoming pull request from @marcogbarcellos that will land any day now https://github.com/opencollective/opencollective-api/pull/1404

In the meantime, I'm doing a pull request to improve the error message.

[2018-08-08 14:30] xdamman commented on #1211
Actually, there was a bug that I'm also fixing in that PR. So this will be fixed independently of the collective to collective donation. I'll confirm when it's deployed.

[2018-08-08 14:32] marcogbarcellos commented on #1215
One question about it: Why does it need to always be on the first of the month? Example: I as User prefer to pay after the 15th of each month because of a personal preference(let's my salary is only on the 15th and I feel more comfortable or whatever else).

[2018-08-08 14:58] #1211 closed

[2018-08-08 15:03] xdamman commented on #1211
Deployed.

[2018-08-08 17:40] cuiki opened #1218 "Fix error message for an unsuccessful order."
I tried backing a collective with a card that ended up being declined. I know the card works and I don't have clarity on why it happened but I tried with a diff card and it worked. The thing I did notice is that the error message needs to be cleaned up to remove that GraphQL text that is displayed within the message.

— Screenshot:
<img width="1342" alt="screen shot on 2018-08-08 at 12_19_27" src=

[2018-08-08 21:33] cuiki commented on #1190
Both views have the images within each value prop and feature described. Mobile view is ready.

— Mobile view (InVision): https://invis.io/XBNFG3ZY7A6
— Attached image:
![how it works mobile 2x](https://user-images.githubusercontent.com/981188/43865460-4e602628-9b28-11e8-989c-ef6f4ad79fc6.png)

There are a 2 pending comments made by @piamancini on InVision about including Support Tier in the **"Cr

[2018-08-09 04:25] cuiki commented on #1168
**UPDATE:**

I've made an update to the search experience and tried to kill tow birds with the same stone and also rework the Discover/Global Search page through the experience to search for a group. The idea is that the Discover page becomes the same space as the global search results UI.

— **Flow (Click on hotspots to jump to wireframe. You'll see which views are pending):**
     https://app.mo

[2018-08-09 04:33] cuiki commented on #1188
Reference #1168

[2018-08-09 07:15] #1214 closed

[2018-08-09 08:40] xdamman commented on #1168
I've added a couple of comments.

One thing I realized @HipsterBrown: verifying that the website has added a link to their collective page is not enough to claim the collective because we also need to know who to add as the first admin.

That's why I suggest to send an email to the person who wants to claim the collective with a unique code that can be parsed by our crawler. That way we can recove

[2018-08-09 14:32] piamancini opened #1219 "include how to cancel a subscription in the faq"

[2018-08-09 16:10] piamancini commented on #1215
@marcogbarcellos

This is what we have in FAQ:

the idea is also to be able to batch payments in the future. If we charge all your transactions in one go then stripe fees are less (right now stripe fees are 2.9% + 0.30c) in a large txn is doesn't matter in a $2 donation is a large % of the donation.

[2018-08-09 19:58] piamancini commented on #1212
- [ ] went to homepage ---> join the movement ---> create
![screen shot 2018-08-09 at 3 54 01 pm](https://user-images.githubusercontent.com/3671070/43922438-bc0b8e14-9bec-11e8-90a3-b773def75a41.png)

Same when I go directly to https://staging.opencollective.com/create

[2018-08-09 20:27] piamancini commented on #1200
- does the w9 bot differentiate between invoices and expenses? reimbursements are not taxable income, only invoices are. It seems like it's going to all.

also, the bot is sending the message to every host, we are not taking care of w9s for hosts other than the ones we manage. w9 emails from wwcode should go to wwcode not to us and it should be an opt-in feature for then in any case.

Sorry if thi

[2018-08-09 20:27] piamancini commented on #1033
closing this in favor of #1200

[2018-08-09 20:27] #1033 closed

[2018-08-10 09:30] xdamman commented on #1200
The issue is closed. This is first version of the bot to address the issue started by @alannallama https://github.com/opencollective/opencollective/issues/1155

It's a good first version but there are indeed many ways this could be improved. Let's create a new issue if more features are needed. I think the WWCode issue is probably the most pressing one as we don't want to receive W9 on their behal

[2018-08-10 09:36] xdamman opened #1220 "Send email W9 bot to host"
As reported by @piamancini  https://github.com/opencollective/opencollective/issues/1200#issuecomment-411886066, we shouldn't receive the W9 on behalf of other USD based hosts.

A quick fix for this is to customize the comment to use the email of the host.

Now that I've added templating to it (see https://github.com/opencollective/opencollective-api/pull/1403), it should be fairly trivial.
We can

[2018-08-10 09:49] xdamman commented on #1197
Here again: ![](https://d.pr/free/i/qdxdsn+)

We didn't have those issues before using `styled-component`.
Unless we have a proper answer to this, we should consider looking for alternatives. We cannot continue to have those issues on production environment.
@znarf what do you think?

[2018-08-10 10:26] xdamman commented on #1219
I've started moving the FAQ to our wiki to make it easier to edit it.
https://github.com/opencollective/opencollective/wiki/FAQ

The goal is to move those pages on the new frontend.

[2018-08-10 10:32] xdamman commented on #1219
I've also started breaking down the FAQ per target audience.
Here is the one dedicated for backers (individuals and organizations): https://github.com/opencollective/opencollective/wiki/FAQ-for-backers

[2018-08-10 11:42] piamancini commented on #1220
I think it's a nice feature to offer other hosts, super useful. Yes, we need to ask them and an email address to send. We don't have so many, it's an easy mailchimp campaign too if you want me to set that up.

[2018-08-10 11:44] piamancini commented on #1200
I agree the receipt issue is secondary but I wouldn't treat it as a nice to have, it's confusing people since they are wondering if it's now part of their taxable income. I'd err on the side of being extra clear with these things as they tend to be a source of anxiety for many

[2018-08-10 12:59] cuiki commented on #1168
**UPDATE:**

— Applied the feedback from @piamancini and @xdamman into the flow chart and the wireframes for *_Pledges_*.
— Updated it also per a few adjustments I saw needed for:
      — The Pledged collective card so that it feels as a collective, unclaimed, but a collective in the end.
      — After a user follows the instructions to claim a collective, we should take them to the new collective

[2018-08-10 13:40] piamancini commented on #1212
@xdamman still seeing this error. So it's @HipsterBrown chrome, safari and incognito

[2018-08-10 15:29] piamancini commented on #1200
ok. How about this:

[2018-08-10 15:52] piamancini commented on #1212
everything looks good. Small css issue - when I'm scrolling through a host, after I go over the nav bar, there's a weird blue button that doesn't do anything
![screen shot 2018-08-10 at 11 51 23 am](https://user-images.githubusercontent.com/3671070/43967970-cc4d734e-9c93-11e8-8e6e-a2299845db3b.png)

[2018-08-10 21:38] alannallama commented on #1200
Let's be careful with the language. It doesn't matter if the person is a US *resident*, it matters if they are a US *person*, which includes citizens living abroad.

Once I get full access to the drop box folders with the forms, I will start manually uploading the forms as they come in. I plan to go through and rename all the files to the person's name, so I can scan the list when doing payments a

[2018-08-10 21:59] alannallama opened #1221 "Expense created with no attachement uploaded"
I thought the system did not allow expenses without an attachment uploaded. This one came through without one: https://opencollective.com/preact/expenses/4502

[2018-08-10 22:38] alannallama commented on #1206
This is still happening. On [this one](https://opencollective.com/preact/expenses/4502), it loaded Jason's comment, but not mine.

[2018-08-10 22:43] alannallama commented on #1221
Ah, ok the user clarified that they went back afterward and deleted the attachment because they were worried about privacy.

[2018-08-10 22:43] #1221 closed

[2018-08-10 22:45] alanna opened #1222 "Expense Flow → Clarify privacy of attachments when creating expense (EPIC #1326)"
The system does not make it clear that attachments will not be visible publicly, causing users to be concerned about privacy (since their names and addresses are on invoices). [example](https://github.com/opencollective/opencollective/issues/1221).

[2018-08-11 05:46] Domiii opened #1223 "Proper taxing for non-US entities?"
First off: I really like your vision and the idea of this organization. However, I have a few questions regarding financial law, starting with just one:

I don't live in the US, naturally I plan to work on projects outside of the US. However when money starts to flow, taxes must be paid. The explanations on how Open Collective currently deals with legal issues involving money flow is not very comp

[2018-08-12 18:58] KishenG opened #1224 "Approvals dashboard fields and sorting"
Currently, dashboard entries are sorted by original transaction date. If a transaction is uploaded at a later date, there is a risk that it might get missed in approvals, as it will go far down the queue.

Suggest that transactions should sort by upload date, then transaction date of necessary.

[2018-08-13 14:10] piamancini commented on #1200
That is literally the language we now have, I just copy pasted. We should edit it if it's incorrect. Which I agree with you, it is.
@xdamman You'll need to give @alannallama access to the dropbox, I don't have rights to add a new member.

[2018-08-13 14:29] cuiki commented on #1168
**UPDATE:**

— Flow map for the whole feature has been updated and hotspots fixed to take you to the proper wireframe within the flow.
— Wireframes have been completed and ready for review.

The one thing pending is the email content that the recipient/pledged collective owner will receive with the instructions on how to claim the collective.

**— Flow (Click on hotspots to jump to wireframe. You'

[2018-08-13 16:29] piamancini opened #1225 "Timezone error in event"
URL: https://opencollective.com/techforgoodnz
From user:

![screen shot 2018-08-12 at 11 29 01 pm](https://user-images.githubusercontent.com/3671070/44044703-779b6c44-9ef4-11e8-9f71-677a39ea0146.png)
![img_0507](https://user-images.githubusercontent.com/3671070/44044708-7907d392-9ef4-11e8-927d-d756f00b66f6.PNG)
![img_0506](https://user-images.githubusercontent.com/3671070/44044718-7c625b0c-9ef4-11

[2018-08-13 16:32] piamancini commented on #1223
Hi @Domiii

- Are you a host (will you receive the funds yourself for your collective?) Otherwise where are you hosted?

[2018-08-13 16:35] piamancini commented on #1219
ok - closing this then.

[2018-08-13 16:35] #1219 closed

[2018-08-13 16:38] piamancini commented on #1208
Hi @Carodem hmm can you try logging out?
The address I see for the profile is carolinedemontjoye{at}hotmail.com Is there a typo?

[2018-08-13 16:46] piamancini commented on #1201
closing this. it was fixed.

[2018-08-13 16:46] #1201 closed

[2018-08-13 17:15] piamancini commented on #419
closing this for lack of activity. Feel free to comment for re-opening.

[2018-08-13 17:15] piamancini commented on #110
opencollective.com/backyourstack

[2018-08-13 17:15] #110 closed

[2018-08-13 17:16] piamancini commented on #113
closing this for lack of activity. Feel free to comment for re-opening.

[2018-08-13 17:16] #113 closed

[2018-08-13 17:25] piamancini commented on #588
guess not. closing for now.

[2018-08-13 17:25] #588 closed

[2018-08-13 17:26] piamancini commented on #592
closing for now. let's revise on a future design version of the collective's page

[2018-08-13 17:26] #592 closed

[2018-08-13 17:27] piamancini commented on #631
fixed

[2018-08-13 17:27] #631 closed

[2018-08-13 17:28] #661 closed

[2018-08-13 17:28] piamancini commented on #665
closing for lack of activity.

[2018-08-13 17:28] #665 closed

[2018-08-13 17:31] piamancini commented on #679
this looks deprecated now because of self-serve flow. Please confirm and close.

[2018-08-13 17:32] piamancini commented on #680
events has a bunch of issues opened. Adding a label for when someone takes the task of working through them.

[2018-08-13 17:34] piamancini commented on #702
done

[2018-08-13 17:34] #702 closed

[2018-08-13 17:35] piamancini commented on #703
done

[2018-08-13 17:35] #703 closed

[2018-08-13 17:35] piamancini commented on #705
This is interesting and something I'd find useful too.

[2018-08-13 17:37] piamancini commented on #709
I agree. The email only access is quite a pain. Specially since github surfaces nonreply emails for maintainers all the time.
I prefer it to passwords, but it should be improved and also be an opt-out.

[2018-08-13 17:39] piamancini commented on #712
marking this with a label for when someone takes on tiers refactoring

[2018-08-13 17:39] #719 closed

[2018-08-13 17:40] piamancini commented on #729
closing this, there's a new issue for this #1215

[2018-08-13 17:40] #729 closed

[2018-08-13 17:40] piamancini commented on #749
This'd be nice to have. @xdamman please remove yourself as the owner if you are not planning on taking it on

[2018-08-13 17:42] piamancini commented on #752
We should include this in when a someone becomes a host as an individual or an organization.
It is not intuitive how to go to the dashboard. Closing there and adding to #1212

[2018-08-13 17:42] #752 closed

[2018-08-13 17:43] piamancini commented on #1212
We should send an email to the user when they become a host to a collective with:
- Link to the dashboard
- Link to host section in the wiki

[2018-08-13 17:43] piamancini commented on #754
done

[2018-08-13 17:43] #754 closed

[2018-08-13 17:44] piamancini commented on #779
this still needs attention

[2018-08-13 17:44] #780 closed

[2018-08-13 17:46] piamancini commented on #801
what's the status of this in the context of self-serve flow and a growth in the number of hosts?

[2018-08-13 17:47] #802 closed

[2018-08-13 17:47] #843 closed

[2018-08-13 17:47] piamancini commented on #860
@znarf did you mention a service to use here? do we want this?

[2018-08-13 17:49] piamancini commented on #870
closing since @cuiki has a larger issue for email re-design.

[2018-08-13 17:49] #870 closed

[2018-08-13 17:49] piamancini commented on #872
@znarf do you want this open?

[2018-08-13 17:50] piamancini commented on #875
closing in favor of @cuiki's largest issue on emails

[2018-08-13 17:50] #875 closed

[2018-08-13 17:52] #905 closed

[2018-08-13 17:53] piamancini commented on #910
I think @znarf fixed this. Can you confirm and close if this is the case?

[2018-08-13 17:53] piamancini commented on #912
close with @marcogbarcellos w9 bot

[2018-08-13 17:53] #912 closed

[2018-08-13 17:54] piamancini commented on #919
- Paypal - Done.

[2018-08-13 17:55] #922 closed

[2018-08-13 17:56] piamancini commented on #944
closing for now no one reported it again

[2018-08-13 17:56] #944 closed

[2018-08-13 17:56] #955 closed

[2018-08-13 17:57] piamancini commented on #965
is this still open?

[2018-08-13 17:57] piamancini commented on #979
done

[2018-08-13 17:57] #979 closed

[2018-08-13 17:59] piamancini commented on #984
you can see it in the goals progress line

[2018-08-13 17:59] #984 closed

[2018-08-13 18:00] piamancini commented on #1009
this hasn't show up again. closing for now

[2018-08-13 18:00] #1009 closed

[2018-08-13 18:00] #1016 closed

[2018-08-13 18:03] astorije commented on #965
As far as I can tell, yes.

[2018-08-13 18:04] piamancini commented on #1029
This happened again @xdamman

![screen shot 2018-08-13 at 2 03 05 pm](https://user-images.githubusercontent.com/3671070/44049291-b56e34ae-9f01-11e8-9750-196e46b3f8b6.png)

User approved it and got an error that is correct but was confusing for him since he was logged in:
![screen shot 2018-08-13 at 2 04 21 pm](https://user-images.githubusercontent.com/3671070/44049312-c2b52cf8-9f01-11e8-9102-cadd8

[2018-08-13 18:07] piamancini commented on #1029
We are actually including an approve button in all emails to admins. Just search on emailbcc for "New Collective Pending"
latest example:
![screen shot 2018-08-13 at 2 05 24 pm](https://user-images.githubusercontent.com/3671070/44049466-33dee40a-9f02-11e8-9a9a-62ce2aa5a1dc.png)

[2018-08-13 18:08] marcogbarcellos commented on #1200
Do we have a final text here? I will deploy a new change in the codebase today and I could include any change in the text along with it. thanks in advance.

[2018-08-13 18:08] piamancini commented on #1041
this is now fixed. profile makes the distinction between collectives and organizations.

[2018-08-13 18:08] #1041 closed

[2018-08-13 18:09] piamancini commented on #1049
done.

[2018-08-13 18:09] #1049 closed

[2018-08-13 18:10] piamancini commented on #1059
@HipsterBrown can I close this?

[2018-08-13 18:11] piamancini commented on #1060
assuming this is not a problem anymore. @alannallama please comment for re-opening

[2018-08-13 18:11] #1060 closed

[2018-08-13 18:11] piamancini commented on #1061
This is still an issue.

[2018-08-13 18:13] HipsterBrown commented on #1059
I don't think I ever worked on this. I will put it on my list for the week.

[2018-08-13 18:13] piamancini commented on #1212
Where are hosts setting their fee from? closing https://github.com/opencollective/opencollective/issues/1066 with this comment.

[2018-08-13 18:13] piamancini commented on #1066
referenced in https://github.com/opencollective/opencollective/issues/1212

[2018-08-13 18:14] piamancini commented on #1079
closing this it's being done my @marcogbarcellos in collective to collective contributions

[2018-08-13 18:14] #1079 closed

[2018-08-13 18:16] piamancini commented on #1084
adding a bug label since this is still the case.

[2018-08-13 18:17] piamancini commented on #1085
closing since we haven't seen or heard this again

[2018-08-13 18:17] #1085 closed

[2018-08-13 18:18] piamancini commented on #1093
we need a new owner for this.

[2018-08-13 18:18] piamancini commented on #1094
@HipsterBrown do we still need this open?

[2018-08-13 18:21] piamancini commented on #1117
This is still the case. I remember Rachel Norfolk raising the same issue, @xdamman can you confirm how to fix this?

[2018-08-13 18:21] #1123 closed, assigned to HipsterBrown

[2018-08-13 18:25] piamancini commented on #1180
Hi @IBLoud sorry we missed this until now. Can you confirm you want to close this collective?
Thank you

[2018-08-13 18:26] piamancini commented on #1182
Hi @bmann your events will be defaulted to your collective's currency. We don't support multicurrency collectives yet.

[2018-08-13 18:27] piamancini commented on #1183
Sponsors are computed based on their financial contributions. A workaround is to include their logos using markdown on the event's or collective's descriptions.

[2018-08-13 18:31] #1196 closed

[2018-08-13 18:35] piamancini commented on #1200
The total amount of the expenses that you have submitted this year to this host exceeds $600. To comply with the IRS, we need you to send us by email the W9 form if you are a US person (a US citizen or US resident or a US incorporated entity) before we can proceed with this payment. If you are not a US person please send the W-8BEN form for individuals or the W-8BEN-E form for companies. More info

[2018-08-13 18:59] HipsterBrown commented on #1094
Yes, to keep track of the feature.

[2018-08-13 20:01] luceos commented on #1009
Or people just don't bother to report it a) because it already has been reported b) because they think OC is broken for them or everyone (SPF records, marked spam) c) because they have other stuff to do than following up on someone elses broken app

Not to be a pain, just pointing it out. If you don't plan on fixing this then possibly you should consider not allowing signups from GitHub or making

[2018-08-13 20:15] znarf commented on #910
Yes, don't remember exactly the PR, maybe: https://github.com/opencollective/frontend/pull/464

Anyway, I tested and this works.

[2018-08-13 20:15] #910 closed

[2018-08-13 20:17] znarf commented on #872
No, that's absolutely fixed for ages!

[2018-08-13 20:17] #872 closed

[2018-08-13 20:36] znarf commented on #860
Not sure. That might be part of a new workflow for translations. Or not even needed when we switch to the new workflow.

[2018-08-13 20:44] marcogbarcellos commented on #1200
cc @piamancini result in staging:
![screen shot 2018-08-13 at 4 39 42 pm](https://user-images.githubusercontent.com/8717041/44057101-2e235dd2-9f18-11e8-9ce8-ec138396256e.png)

[2018-08-13 20:50] marcogbarcellos commented on #1220
Can we have a list with all of our hosts and their respective emails(perhaps the same email for all of them?) ?

[2018-08-13 22:21] marcogbarcellos opened #1226 "Research/Review New Relic Setup on the API"
The API today has already New Relic Setup, but it does not look like that helpful. Research to see whether we can gather better information and make it more useful.

[2018-08-13 22:40] IBLoud commented on #1180
Confirmed. Delete the account.

Thank you

On Mon, Aug 13, 2018 at 2:25 PM Pia Mancini <notifications@github.com>
wrote:

--
Nique Devereaux
*Urban Alien Adventures*
*Creative Director*
http://urbanalienadventures.com/

[2018-08-14 01:31] alannallama commented on #478
I checked off a couple that have already been done, but the rest are still issues. I have also raised several separate issues related to expenses since I didn't know they were tracked on this one.

- https://github.com/opencollective/opencollective/issues/1222
- https://github.com/opencollective/opencollective/issues/1167
- https://github.com/opencollective/opencollective/issues/1132
- https://git

[2018-08-14 01:34] alannallama commented on #1060
Yes this is fixed

[2018-08-14 05:08] bmann commented on #1183
@piamancini thanks for the update!

That still doesn't work for in-kind sponsors and other kinds of common occurrences. It also means that their logos don't appear in various embeds and badges.

No problem if this isn't in scope / isn't a feature that is of interest right now -- I wanted to capture the use case and indicate it was something I would find valuable. Cheers!

[2018-08-14 10:43] znarf commented on #1225
Looks like we can do better on timezone handling. I nailed this problem and fixed it:
https://github.com/opencollective/frontend/commit/21edda0f033e81812a7d40bd2f7b8a761e89fcd3

[2018-08-14 13:59] piamancini commented on #1183
Thanks @bmann Closing this for now then.

[2018-08-14 13:59] #1183 closed

[2018-08-14 14:11] piamancini commented on #1180
done

[2018-08-14 14:11] #1180 closed

[2018-08-14 14:19] piamancini commented on #1200
@marcogbarcellos it's hard to parse as is so I would do this instead:

The total amount of the expenses that you have submitted this year to this host exceeds $600. To comply with the IRS, before we can proceed with this payment, we need you to [send us by email](mailto:w9@opencollective.com) one of the following tax forms:

[W9](https://www.irs.gov/pub/irs-pdf/fw9.pdf) if you are a US person (a U

[2018-08-14 14:27] piamancini opened #1227 "fix github flow so admins add their preferred email"
at the moment github flow selects the first available email and sometimes that is a non-relpy@github which leaves admins locked out of their accounts and we have no way of reaching them.

flow should allow for admins to add their preferred email when creating a collective.

See also https://github.com/opencollective/opencollective/issues/1009

[2018-08-14 14:28] piamancini commented on #1009
I agree, but this issue needs to be reformulated.

[2018-08-14 14:29] piamancini commented on #1227
There currently are 38 accounts with users.nonreply.github.com

[2018-08-14 14:47] marcogbarcellos commented on #1200
no problems! will do that. thanks

[2018-08-14 14:48] #1202 closed

[2018-08-14 15:33] #1200 closed

[2018-08-14 16:12] Domiii commented on #1223
I'm not exactly planning to use it right now, but rather understand for what I can use it?
Let's say, I want to let people make contributions to projects I work on, how would taxing work there?
What about collaborating with others on a project? Would that be different?

FYI: I'm in Taiwan/Asia, but it would be great to understand the bigger picture here, not just the circumstances in a single coun

[2018-08-14 16:54] piamancini commented on #1223
It depends on who's your [host](https://github.com/opencollective/documentation/wiki/Becoming-an-Open-Collective-Host). If you are receiving the funds for your collective yourself, in a bank account you own, you have to manage the tax implications yourself. It's your responsibility to declare that as income in your own country.

If you are a collective that is fiscal sponsored by the Open Source C

[2018-08-14 16:59] piamancini commented on #1197
![screen shot 2018-08-14 at 12 59 02 pm](https://user-images.githubusercontent.com/3671070/44106171-e3567fd2-9fc1-11e8-8c63-78bdaa889612.png)
looks pretty untidy, no errors in the console

[2018-08-14 19:32] piamancini commented on #1121
![image2](https://user-images.githubusercontent.com/3671070/44113758-21461f36-9fd7-11e8-9272-23987e4ca1e4.png)
![image1 3](https://user-images.githubusercontent.com/3671070/44113768-2e90265a-9fd7-11e8-8805-11d0d6b3ebf5.png)

[2018-08-15 19:44] piamancini opened #1228 "we are creating OS collectives with just one admin"
Originally to create a collective you had to select at least another contributor. Currently you can create a collective through the github flow with just one admin. We should fix this and go back to our at least two member requirement for open source projects

[2018-08-15 19:45] piamancini commented on #1228
one example https://opencollective.com/bitcoinkit#

[2018-08-15 21:10] piamancini opened #1229 "error when using funds added to an organization"
when trying to use the funds added to the handshake organization to make the donation to Babel:
I added 100k to the organization, went to babel, selected handshake org, made the donation with their prepaid method (I tried both going through the tier and babel/donate) Both times I get this error.
I am an admin (I created) the organization

![screen shot 2018-08-15 at 5 08 22 pm](https://user-images

[2018-08-15 23:02] alannallama opened #1230 "Images not resized in email to backers"
I'm not sure if this is an open collective thing, or if it depends on how the person composes the email. But if possible, emails should have a template or something that prevents this.

<img width="1073" alt="screen shot 2018-08-16 at 11 00 23 am" src="https://user-images.githubusercontent.com/5498878/44177855-ced8de00-a143-11e8-9038-80c0c53545fb.png">

[2018-08-15 23:52] marcogbarcellos commented on #1229
Technical info:
This part of the code is responsible for this error: https://github.com/opencollective/opencollective-api/blob/master/server/paymentProviders/opencollective/prepaid.js#L52-L56

The following query is supposed to check whether the prepaid card was created by the collective trying to pay. If I query straight to prod database this query:

[code]
I only get 3 results: trivago, airbnb a

[2018-08-16 00:10] marcogbarcellos commented on #1229
@piamancini i'm suspecting of some typo(either on the system through users or on the code as im still looking):

I believe This was the donation you've made today:
[code]
But `PaymentMethod.customerId` is **hanshake** instead of **handshake** which makes it throws an error as there is not match.

In this case, my logic(instead of comparing `Collective.slug` with `Paymentmethod.customerid`, compare

[2018-08-16 12:53] marcogbarcellos commented on #1229
After researching a bit more I figured out that even though using the collectiveId in this case could've make it work, it won't necessarily be true for all cases as collective Ids inside PaymentMethods can be NULL(through the unit tests I found and tried it only makes sense matching customer-id and slug).
I Also found other payments methods(like stripe and giftcard for example) are using the slug

[2018-08-16 14:45] marcogbarcellos commented on #1229
Instead of changing the current logic I just did an extra layer of checks before throwing an error:

It was:
- If the `Collective.slug` is different than the `PM.customerId`, throws error

Now:

- If the `Collective.slug` is different than the `PM.customerId`
    - If the `PM` has a CollectiveId defined(may be **null**) and its collectiveId is different the `order.FromCollectiveId`(The collective

[2018-08-16 14:49] piamancini commented on #1229
I can't find handshake in the organizations I'm an admin of on stating? maybe we need to update the db?

[2018-08-16 15:14] jancborchardt opened #1231 "Monthly meetup creation issue: "Slug is already taken""
I just created an event at https://opencollective.com/opensourcediversity/events/open-source-diversity-berlin-monthly-meetup-19378ev

Now I wanted to add more of the monthly events. I choose to base it on the other event as template, but then when saving I get the error:
[code]

I would assume that since the other url has this `-19378ev` appended, the new event would just get another random string

[2018-08-16 15:15] jancborchardt opened #1232 "Monthly meetup creation issue: End time needs to be set again"
I created one event and now want to use that as a template for recurring monthly meetups.

The only thing I change is the date. Start time is always 7:00 PM and end time is always 11:00 PM. But now when I change the start _date_ to a month later, the _end time_ gets reset to 7:00 PM too. It should stay at 11:00 PM though.

That would make it much quicker to create these repeated events. :)

[2018-08-17 02:45] cuiki commented on #1168
Hey @HipsterBrown , I did some updates while adapting the form style from pledges to contribution tiers (backer, sponsor, one-time donation). You'll see the changes in InVision. Its not much, mainly I just swapped the form and the sidebar info with other minor adjustments.

[2018-08-17 12:17] Carodem commented on #1208
Hello,

Sorry for not answering earlier !
Everything works perfectly now, thank you !

Just one last detail : I do not know how to delete an account (the « anonymous » one), and i see it is still shown as administrator of the 400Toits page : https://opencollective.com/400-toits-daken#team

[cid:92D5175D-0C86-4BEF-8010-265576B3CF77@home]

Thanks !!

Caroline de Montjoye

Le 13 août 2018 à 18:38, Pi

[2018-08-17 17:55] piamancini commented on #1210
@znarf This is happening again, at least in events.
Click on Become a Sponsor here https://opencollective.com/sustainoss/events/sustainuk-2018-442ev
The anchor is at the bottom of the page instead of the 'contribute as'

[2018-08-17 17:55] piamancini commented on #1210
re-opening issue

[2018-08-17 18:54] piamancini opened #1233 "help with how sponsors are showing up in SustainOSS event"
https://opencollective.com/sustainoss/events/sustainuk-2018-442ev#tickets
One sponsor is showing half the card and the other two Gitcoin and Adobe are showing up as people instead of sponsors. They are both organizations and paid for the sponsor tier.

@xdamman it'd be great if you can look at this when you come back. You fixed it once before and We are starting to promote this more heavily.

[2018-08-17 19:30] piamancini opened #1234 "threadless is not showing up in the list of organization to add funds"
this is annonying since I need to manually change the contributions from OSC to threadless every time I add funds to them

[2018-08-17 20:15] znarf commented on #1210
@piamancini ok, let me know if there is any other cases to cover.

[2018-08-18 16:46] clarkdo opened #1235 "Need Help: svg is not update to date"
URL: https://opencollective.com/nuxtjs/contributors.svg
Expected result: Contributors and their avatars can be same as [GitHub](ttps://github.com/nuxt/nuxt.js/graphs/contributors)
Browser: Chrome 70

So is there any way to sync contributors list or avatars from GitHub in OpenCollective ?

[2018-08-20 09:40] xdamman commented on #1229
@marcogbarcellos I've added some comments to the PR. Not sure I understand its original intent. Anyway, we shouldn't make comparisons with slugs. They can change over time. Also, we shouldn't make comparisons with `paymentMethod.customerId` which is an id/slug coming from an external platform that we don't control.

[2018-08-20 09:50] #1194 closed

[2018-08-21 06:01] alannallama commented on #1230
Another example today:

<img width="1077" alt="screen shot 2018-08-21 at 6 00 30 pm" src="https://user-images.githubusercontent.com/5498878/44383246-2d4ef380-a56c-11e8-82cf-fd2dc0a8eb37.png">

[2018-08-21 11:21] xdamman opened #1236 "Limit max width of sponsors logo on GitHub page"
Someone is abusing... https://opencollective.com/tldrnewsletter
E.g. on https://github.com/buttercup/buttercup-desktop
![](https://d.pr/free/i/zxIQvx+)

[2018-08-21 12:00] xdamman opened #1237 "Collective update email layout issue with large images"
![](https://d.pr/free/i/XNuLbJ+)

[2018-08-21 12:34] #1236 closed

[2018-08-21 12:51] #1233 closed

[2018-08-21 14:59] marcogbarcellos opened #1238 "Enable Collective to collective payment across different hosts on frontend"
We have already this feature ready on the api but we still need to enable the frontend to show up collectives in the box `Contribute as`when creating a payment

[2018-08-21 15:00] #1229 closed

[2018-08-21 15:01] #1237 closed

[2018-08-21 15:25] Kilheure opened #1239 "OC monthly report issues"
As a host (OC UK), I notice some issues with the monthly report that ensure the rec between the collectives fundings and expenses

**1) Some funding/income have negative hostfee, platform fee**
Other don't, so I don't understand the logic here.
example ID: 59194; 65288. Income of 200 GBP but former has positive fee, later negative.
**2) missing transactions**
For collective Agreelist, sum of month

[2018-08-21 19:44] jdorfman opened #1240 "Link to ticket section jumps to location section"
URL: https://opencollective.com/sustainoss/events/sustainuk-2018-442ev#tickets
Logged in as (username or profile URL): https://opencollective.com/jdorfman
Error message if any: n/a
Expected result: To show the [ticket section](https://cl.ly/2h2p2k2y291V) not the Location section
Browser: Chrome

Screencast: https://cl.ly/2p04360o3a0t

[2018-08-21 19:54] piamancini commented on #1240
cc / @znarf

[2018-08-22 16:19] gusaus opened #1997 "Evaluate the need for a community managed docs team"
Based on conversations and observations, it seems like the Open Collective team could use some help producing documentation, FAQs, guidebooks and other materials needed to better support the product and the community.

Problem is it’s currently not clear which Open Collective team members are responsible for docs; if there’s a specific need (I.e. project manager, maintainer/docs lead, writer, etc.

[2018-08-23 01:29] #1238 closed

[2018-08-23 07:13] znarf commented on #1240
Thank you for the Screencast.

I'm unfortunately not able to reproduce the jump from tickets to location section. Can someone else test the flow?

[2018-08-23 08:08] znarf commented on #1235
@clarkdo it should be up to date now. However, we're still looking at the root issue.

[2018-08-23 08:57] #1210 closed

[2018-08-23 09:34] znarf commented on #1235
@clarkdo Sorry, mistaken your issue with another one. Will look at it.

[2018-08-23 11:50] piamancini commented on #1029
this popped up again @xdamman in slack. Let's fix it, it's confusing for people.

[2018-08-23 11:57] piamancini commented on #1240
it's working for me too now @jdorfman

[2018-08-23 16:34] jdorfman commented on #1240
I tried it in Firefox Nightly and it seems to work. Must be isolated to me. Thanks for checking it out.

[2018-08-23 16:34] #1240 closed

[2018-08-23 20:11] xdamman commented on #1236
Just deployed the fix (I had forgotten to deploy it to the dedicated image server)

[2018-08-24 10:43] xdamman opened #1241 "Better default background cover image for organizations / hosts"
Small version for the cards when we show them on https://opencollective.com/hosts but also large version when we click on one of them, e.g. https://opencollective.com/uk

![](https://d.pr/free/i/MmZU8D+)

[2018-08-24 10:45] xdamman commented on #1230
Fixed in https://github.com/opencollective/opencollective-api/pull/1414

[2018-08-24 10:45] #1230 closed

[2018-08-24 10:47] xdamman commented on #1234
On https://opencollective.com/opensourcecollective/dashboard?

You mean add funds **from** them?

[2018-08-24 11:33] piamancini commented on #1234
no no when I add funds to a collective, threadless never shows up as an organization in the list

[2018-08-24 11:52] xdamman opened #1242 "AddFunds: Auto complete for selecting the source of money"
The form that a host can use to add funds to a collective asks you to provide the source of the money or create one (context: the host can receive money on behalf of a collective directly on their bank account, in which case they have to manually allocate those funds to the balance of the right collective).

Right now, the dropdown menu is populated by fetching all the members across all collectiv

[2018-08-24 11:55] xdamman commented on #1242
As a quick mitigation, we could only show the list of previous sources of money.
This query returns this:
[code]

[2018-08-24 12:03] piamancini commented on #1242
What happens with new organizations that we are using as source for the first time?

[2018-08-24 12:26] xdamman commented on #1242
same as today: you'll have to select "other" and then specify its name / url / email to create one on the fly.

[2018-08-24 12:43] xdamman commented on #1242
This would be the dropdown with this query for the open source collective:

![](https://d.pr/free/i/Ft9by5+)

[2018-08-24 14:46] xdamman commented on #1197
Another issue: ![](https://d.pr/free/i/ntqzCu+)
Very annoying when demoing.

Is that useful?
![](https://d.pr/free/i/ohIvx9+)

[2018-08-24 14:48] xdamman commented on #1197
When the CSS is wrong, there is a definition of `.btn {}` from `create:12` that isn't there when the CSS is right:

![](https://cl.ly/9edd680d464c/Screen%20Shot%202018-08-24%20at%204.47.00%20PM.png)

[2018-08-24 15:39] xdamman opened #1243 "Self serve flows bugs list"
- [x] When connecting a stripe account, should update the currency of the new hosted collective as well
- [ ] Show stripe connected account when editing organization or user
- [x] After connecting stripe to a newly created organization, make sure we refresh the page
- [x] Title case menu in edit collective

[2018-08-24 16:11] marcogbarcellos opened #1244 "Allow Payments between Collectives(across different Hosts) only if the collectives and their hosts have the same currency"
Today in productions the Collectives are allowed to pay other collectives across different hosts, being the hosts on the same currency or not.

But payments between host with a different currency has generated a database problem regarding the consistency of the Transactions table.

As a quick fix, we are just going to throw an Error if the Hosts have a different currency and open another issue to

[2018-08-26 21:11] #1213 closed

[2018-08-27 07:28] xdamman commented on #1239
- [ ] Positive host / platform fees -> negative: done!
- Missing transactions: they are in the DB. Need to double check export.

TODO
- [ ] `createdAt` should be in the format `YYYY-MM-DD`
- [ ] add `DEBIT` or `CREDIT` column
- [ ] download transactions CSV at the host level for any date range

[2018-08-27 09:07] #1239 closed

[2018-08-27 18:17] piamancini commented on #1242
@xdamman why is threadless not showing up?

[2018-08-27 19:08] xdamman commented on #1242
It is showing up but as a user. Not sure why it was created that way. You may want to convert it.

[2018-08-27 19:58] #1244 closed

[2018-08-27 20:08] xdamman commented on #1234
Fixed in https://github.com/opencollective/opencollective/issues/1242

[2018-08-27 20:08] #1234 closed

[2018-08-27 20:11] xdamman commented on #1224
Good idea.

As a work around for now you can filter expenses that are approved and ready to be paid (or by pending expenses, though it should be the responsibility of the host to do the first approval)

[2018-08-27 20:37] xdamman commented on #1197
Huh, yet again:
https://opencollective.com/webrussels/events/fearless-cities-brussels-2018-734ev#
![](https://d.pr/free/i/u3Oe5c+)
It was working fine yesterday.

@HipsterBrown really need your help on this. I hope the information above will help you.

[2018-08-27 21:11] #1029 closed

[2018-08-27 21:27] cuiki commented on #1241
Hmm I guess the light one wouldn't work unless you can implement font color changing for dark vs light default bgs.

Maybe this can help:
- https://css-tricks.com/reverse-text-color-mix-blend-mode/
- http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass

[2018-08-27 21:35] xdamman commented on #1197
Bug (there is a second `.btn` on top of `.btn-default` that is causing trouble)
![](https://d.pr/free/i/KXoJu8+)

No bug:
![](https://d.pr/free/i/hjlbtp+)

[2018-08-27 21:45] xdamman commented on #1241
Can't do that. Out of scope for now. A good one to grab for external contributors.

[2018-08-28 11:59] cuiki commented on #1203
@xdamman , did you finally got this info and asset correctly? Can we close this issue?

[2018-08-28 15:54] piamancini opened #1245 "adding funds to an organization fails"
when I go to opencollective.com/trivago and hit add funds I get this error
<img width="1280" alt="screen shot 2018-08-28 at 11 07 00 am" src="https://user-images.githubusercontent.com/3671070/44734931-13a43380-aab9-11e8-89e9-855916ca63a9.png">

[2018-08-28 15:55] piamancini commented on #1245
adding a high priority because I want to be able to start this subscription before the end of the month

[2018-08-28 16:37] marcogbarcellos commented on #1245
@piamancini and @xdamman here, PR is open.

[2018-08-28 16:57] marcogbarcellos opened #1246 "Error When Donating To collective with different host"
Pia Got this when tried to make a donation to opencollective.com/operationcode-collective from Open Collective Inc. (opencollective.com/opencollective-company):

<img width="1182" alt="screen shot 2018-08-28 at 11 51 32 am" src="https://user-images.githubusercontent.com/8717041/44738033-a779fd80-aac1-11e8-8599-36107bb94691.png">

[2018-08-28 18:51] piamancini opened #1247 "feedback collective to collective donations"
- the dropdown menu has a combination of organizations, collectives and personal a user's personal profile. It would be very helpful to clearly identify what is what. My case is out of the norm clearly, but a better display for everyone can help.

<img width="449" alt="screen shot 2018-08-28 at 2 17 57 pm" src="https://user-images.githubusercontent.com/3671070/44743772-67227b80-aad1-11e8-8ec1-28e6

[2018-08-28 18:58] #1245 closed

[2018-08-28 19:34] marcogbarcellos commented on #1246
This stripe error usually happens when the customerId is sometimes too old and was deleted(most cases) or by any other reason the customerId was deleted. Readding credit card may make it work.

[2018-08-28 19:34] #1246 closed

[2018-08-28 19:35] #1226 closed

[2018-08-28 19:55] piamancini opened #1248 "funky css issue in ticket form - events"
<img width="526" alt="screen shot 2018-08-28 at 3 53 37 pm" src="https://user-images.githubusercontent.com/3671070/44747241-b1f4c100-aada-11e8-857f-464199bd7569.png">

refreshed and this happened:
<img width="1187" alt="screen shot 2018-08-28 at 3 55 26 pm" src="https://user-images.githubusercontent.com/3671070/44747305-d81a6100-aada-11e8-9c2c-466c8a252fe5.png">

[2018-08-28 20:15] HipsterBrown commented on #1248
@piamancini That grid is the new layout that @xdamman just released. https://github.com/opencollective/frontend/pull/712

I'm hoping my recent css fix will resolve the funky css issue after I release it today.

[2018-08-28 20:23] piamancini opened #1249 "adobe's donation to sustainOSS seems to be to a non-existing profile"
go to https://opencollective.com/adobe/transactions# and click on the avatar of the collective to which adobe made a 2k donation - you are sent to https://opencollective.com/sustainuk-2018-442ev instead of https://opencollective.com/sustainoss/events/sustainuk-2018-442ev#

This is what might be producing all sort of issues we are seeing:
- backer card looks broken
<img width="652" alt="screen shot

[2018-08-29 12:09] xdamman commented on #1248
Yes I made the change to show the list of tickets as a grid because on the events page we don't show them in the sidebar. Maybe @cuiki can take a quick pass at it to make those look better.
Also happy to revert this small change. It's literally just two lines of CSS. Lmk.

[2018-08-29 13:49] piamancini commented on #1248
yes please, let's revert until we have  a better design for it

[2018-08-29 13:50] piamancini opened #1250 "self - serve flow grapql error"
two users reported this morning that they can't create a collective:
One is un GBP and the other one in AUD
![image from ios 1](https://user-images.githubusercontent.com/3671070/44791997-f16dec80-ab70-11e8-968f-75ffaf0de9e5.png)

![image 3](https://user-images.githubusercontent.com/3671070/44792408-dea7e780-ab71-11e8-9b21-e98d24240361.png)

[2018-08-29 13:55] piamancini commented on #1250
It seems like it's not related to currency, another collective reported it, in USD
![error](https://user-images.githubusercontent.com/3671070/44792308-9983b580-ab71-11e8-8a7b-2596921900e7.jpg)

[2018-08-29 14:16] #1249 closed

[2018-08-29 14:34] xdamman commented on #1249
For the broken link to the invoice, it's because you need to be an admin of Adobe's org to be able to download it.
We normally don't show the link to download it to avoid linking to a broken place except when you are a root user. This upcoming fix will also allow root users to download any invoice:  https://github.com/opencollective/opencollective-api/pull/1425

[2018-08-29 14:39] xdamman commented on #1250
It looks like the API wasn't deployed with the new graphql method.
I've just redeployed it and it should work properly now.
Can you ask them to try again?
It works on staging: ![](https://d.pr/free/i/5JQ8vF+)
btw, something tells me I'm gonna love this collective :-)

[2018-08-29 14:43] xdamman commented on #1248
What about this (without stretching the height of the tickets and making sure they align)
![](https://d.pr/free/i/7ymFmm+)

Versus:
![](https://d.pr/free/i/S9uotm+)

[2018-08-29 15:03] piamancini commented on #1248
I think that if we want to re-design this, we should involve @cuiki and do a more comprehensive  re-design.
I don't see how this changes anything and it seems like we have higher priorities atm.

[2018-08-29 15:12] piamancini commented on #1250
closing since issue is solved.

[2018-08-29 15:12] #1250 closed

[2018-08-29 15:23] cuiki commented on #1248
Hi everyone, for this particular case, I think that what @xdamman did is a good improvement vs the stacked elements like we had (which works on mobile but not on desktop).

This will eventually have to adopt the new styles and we can take that opportunity to redesign the layout if needed.

[2018-08-29 15:41] xdamman commented on #1248
@piamancini this is not a redesign. This is two lines of CSS to make a quick small improvement.

@cuiki thanks for your input. If you have small improvements to suggests, please send them away. It's not a priority but as we fix bugs on those pages, we may as well make small CSS changes that sometime can go a long way.

[2018-08-29 17:35] piamancini commented on #1212
@xdamman I noticed you opened a new issue for self serve flow fixes. do you want to keep this open?

[2018-08-29 21:06] marcogbarcellos opened #1251 "Payment Failed when trying to use Sponsor Prepaid card"
Pia Added funds to the trivago organization, then she went to webpack and tried to make a 10k donation, she got it:
![screen shot 2018-08-29 at 10 59 44 am](https://user-images.githubusercontent.com/8717041/44815556-d8cff780-abad-11e8-8b14-a1bdcf7b91a1.png)

[2018-08-29 21:24] #1212 closed, assigned to xdamman

[2018-08-29 21:36] marcogbarcellos commented on #1251
I figured out the problem happens because the user overstepped the monthlyLimitMember:

[code]

[2018-08-29 22:18] marcogbarcellos opened #1252 "Create multiple "prepaid" Payment methods for organizations"
Today, if you for example add funds to an organization for the first time you'll create a `Prepaid Payment method`, after that everytime we add funds again we always increase the balance of the previously created `Prepaid` . We should be able to choose between adding funds to an existing Prepaid card or then create a new one.

[2018-08-30 02:59] marcogbarcellos commented on #1252
The [open PR on the API](https://github.com/opencollective/opencollective-api/pull/1426) must NOT be merged until there's a new implementation on the frontend to support the change on the query(added a new optional PaymentMethodId field to the method `AddFundsToOrg`) and something like the following UI feature:

When the user selects the hosts, the modal should show a Picker with the existing prep

[2018-08-30 09:30] xdamman opened #1253 "input for credit card unusable on mobile"
![](https://d.pr/free/i/LnjhxH+)

[2018-08-30 09:51] #1253 closed

[2018-08-30 11:15] ShanaMaid opened #1254 "contributors.svg not work"
How to create a contributors.svg of my rep?
eg:
https://opencollective.com/yoshino/contributors.svg
![](https://opencollective.com/yoshino/contributors.svg)
it not work

but backers and sponsor svg work
eg:
![](https://opencollective.com/yoshino/backers/badge.svg)
![](https://opencollective.com/yoshino/sponsors/badge.svg)

[2018-08-30 12:55] xdamman commented on #1248
I hear you. I share that frustration. We still haven't found the right process. On one side we have the homepage that is super well done and well implemented but it took 3 months to get it done (and it's not fully finished yet since it's still lacking the video section at the bottom), and on the other side we have everything else that we have been doing that is made of a lot of patches here and th

[2018-08-31 12:09] xdamman commented on #1197
This is not fixed :-(

Wrong:
![wrong](https://d.pr/free/i/S6lMGe+)

Right:
![right](https://d.pr/free/i/2Df7Eu+)

(note that it's not only the `<h2>` but also the height of the transaction item that is off.

[2018-08-31 12:46] xdamman opened #1255 "Donations mades to events are not taken into account in host monthly report"
That's because we don't set the `HOST` member in the `Members` table.

[2018-08-31 12:48] xdamman commented on #1255
This will make sure we set the right `HostCollectiveId` in the `Collectives` table:

[code]

[2018-08-31 12:51] xdamman commented on #1255
This will create the missing entry in the `Members` table:

[code]

[2018-08-31 13:38] znarf commented on #1254
Similar to: https://github.com/opencollective/opencollective-api/issues/1164

Seems that the script refreshing the contributors daily is not executed. However, when triggered manually it works. And we also know that the daily cronjob is properly triggered.

Maybe something is interrupting the execution of the daily cronjob before the update-contributions is  itself executed.

[2018-08-31 14:39] #1255 closed

[2018-08-31 16:12] #1225 closed

[2018-08-31 20:52] xdamman commented on #1255
- fix deployed: https://github.com/opencollective/opencollective-api/pull/1428
- Updated 147 events
- Inserted 147 Members with role HOST

[2018-09-01 05:29] ShanaMaid commented on #1254
Thanks，it works now.

[2018-09-01 05:29] #1254 closed

[2018-09-01 08:34] xdamman opened #1256 "Automatically generate an opencollective payment method for new hosts"
We need an "opencollective" payment method for hosts to enable them to allocate money to one of the collectives that they host

[2018-09-01 08:52] #1256 closed

[2018-09-01 08:53] #1248 closed

[2018-09-01 20:15] luceos opened #1257 "Incorrect listing of pledges on monthly collective report"
URL: https://opencollective.com/tenancy
Logged in as (username or profile URL): luceos

This is my state of transactions 1st of september

![image](https://user-images.githubusercontent.com/504687/44949534-ee565300-ae33-11e8-9778-e1ed41bda7b9.png)

This list shows 3 non-sponsor tier backers at 5 and 25 euro and it shows my sponsor at 100 euro.

This is the state of the monthly report:

![image](ht

[2018-09-01 20:59] xdamman opened #1258 "Unsubscribing from email notifications at the host level doesn't work"
notifications of new expenses, approved expenses, paid expenses are sent to all admins of the host even then one of those admins have unsubscribed.

[2018-09-01 21:26] #1258 closed

[2018-09-01 22:01] xdamman opened #1259 "Register for gmail schema for one click RSVP, one click login"
Documentation: https://moz.com/blog/markup-for-emails

Register on https://developers.google.com/gmail/markup/registering-with-google

Test markup with https://www.google.com/webmasters/markup-tester/u/0/

Returns an error because of missing properties for the location:
    // streetAddress: 88 Colin P Kelly Jr Street, San Francisco, CA
    // addressCountry: missing and required
    // addressLoc

[2018-09-02 14:08] Leadang opened #1260 "bug for sending e-mails"
Hello!

There is a bug for sending e-mails in the events page. A friend of mine tried to send several e-mails through her event, but it failed ->>

www.opencollective.com/paris
URL: https://opencollective.com/mae-trips-/events/wei-2018-18757ev

[capture d ecran 2018-09-01 a 16 47 49](https://user-images.githubusercontent.com/38157592/44956831-4f306a80-aeca-11e8-836e-76f1f6aa0ad6.png)

Thank you!

[2018-09-02 15:45] xdamman commented on #1197
This time with buttons in the edit goal section (when hovering "add goal"):
![](https://d.pr/free/i/DI9Bsq+)

What would be a more sustainable way to solve this problem?

[2018-09-02 18:58] znarf commented on #1197
How do we explain that styles from the banner.html ie: https://opencollective.com/babel.html can be injected in random pages? What is the mechanism?

[2018-09-02 20:30] xdamman opened #1261 "Event order form doesn't record number of tickets"
If the number of tickets is selected on the event page and isn't changed in the `createOrder` page, the order sent to the server is always for one ticket.

[2018-09-02 20:48] #1261 closed

[2018-09-03 01:26] DeveloperWil opened #1262 "Balance is incorrect"
When approving an expense claim, the remaining budget does not decrease.  I have approved six expense claims and the current budget still remains the same value.

URL: https://opencollective.com/wordpress-sydney/
Logged in as (username or profile URL): https://opencollective.com/wil
Error message if any:
Expected result: Budget does not decrease with approved expense claims
Browser: Chrome

[2018-09-03 01:54] DeveloperWil commented on #1262
Scrap that - I was wrong sorry.

[2018-09-03 01:54] #1262 closed

[2018-09-04 13:09] manekinekko opened #1263 "Question: eligible OS projects not showing up"
Hi, I'm trying to create an Open Collective for an open source project which has +100 stars, but it's not showing in the eligible repositories.

**The project URL**: https://github.com/angular-klingon/klingon
**Logged in as (username or profile URL)**: https://opencollective.com/wassimchegham
**Error message if any**: The project is not listed
**Expected result**: The project should be eligible

[2018-09-04 14:30] piamancini commented on #1263
hi @manekinekko it might be because it's under an org. Do you own the organization?

[2018-09-04 14:35] manekinekko commented on #1263
Yes, I'm the owner. Does F2A extra security affect this?

[2018-09-04 14:37] piamancini commented on #1263
no it shouldn't. Maybe you gave access as a user and not as an org. try revoking the rights and then when you connect again, make sure you are doing as the org. LMK if you still can't and I'll send you an alternative link for a manual set up

[2018-09-04 15:44] manekinekko commented on #1263
Oh! that worked. I revoked the rights and tried again. Thanks, @piamancini for your help 👍

Closing this issue.

[2018-09-04 15:44] #1263 closed

[2018-09-04 15:47] piamancini commented on #1263
yay! welcome to Open Collective. <3

[2018-09-04 19:52] #1232 closed

[2018-09-05 17:47] piamancini opened #1264 "create an open collective payment method for host"
Marco, the following host : /wpsyd-host (ID 8708) is an old one and they are now reactivating, they need an open collective payment method. Can you please add one?
Thanks!

[2018-09-05 17:52] piamancini opened #1265 "add bys referral in the weekly report"
We want to measure what donations come via BYS - @znarf added a referral to it, we now need to track that in the weekly report.
This is up for grabs for the team.

[2018-09-05 17:54] piamancini opened #1266 "measure % of monthly donations come from paypal"
We want to measure what % of the backer support is through paypal vs credit cards.
This is another up for grabs issue for the team

[2018-09-05 18:43] piamancini opened #1267 "user can't add goals"
User tries to setup a goal for the collective (Koin project).

@xdamman didn't you recently solve this for someone else?

[2018-09-05 20:41] xdamman opened #1268 "Allow hosts to add a manual payment method for orders"
Now that we support pending orders, we should allow hosts to add a manual payment method.

Use case:
AirBnB wants to give $10k to Webpack, they won't process such payment on a credit card. They want to do a wire. They should be able to select "wire" as a payment method and receive the bank details of the host. Then the host should be able to manually mark that order as paid when the money has been

[2018-09-06 11:18] xdamman opened #1269 "Hosts don't receive the request for approval email"
With the new flow to apply to a host, it looks like the request for approval is not sent to the admins of the host.

[2018-09-06 11:26] xdamman opened #1270 "Wrong link in automatic tweet for collectives of type event"
Need to use `collective.path` instead of `collective.slug`

[2018-09-06 16:34] xdamman opened #1271 "in kind donations should not show up in the monthly host report"
When we do an in-kind donation, we create two transactions: one to remove the money from the collective and one to add the same amount to the collective. That way the result is zero and we can record that the user who submitted the expense did contribute that amount.
However, we still count that transaction in the host report which we shouldn't include it there.
We should remove the `HostCollectiv

[2018-09-06 18:35] marcogbarcellos opened #1272 "Create new payment Method: Virtual Cards"
This payment method will be basically a proxy to an actual Payment Method in a sense that whenever some Collective/Host/User creates it, it's going to specify the source of the virtual card(`SourcePaymentMethodId`).

## User story

1. **Organization X** wants to create a `U$2000` **virtual card**.
2. **Organization X** chooses one of its payment method to be the `SourcePaymentMethodId` of the Virt

[2018-09-06 21:08] xdamman commented on #1272
For v1:
The created virtual cards should be assigned to the organization that created it but anyone that provides the UUID of such card should be able to use it (right now a payment method can only be used by admins of the organization or members within the `monthlyLimitPerMember`)

5. On the frontend, it will be like today with the Gift Card link. The user will have to enter the UUID (or better a

[2018-09-07 10:40] marcogbarcellos opened #1273 "W9 bot keeps resending comments"
When a user creates an expense, if he didn't send his w9 form the bot will create a comment on the expense page asking the user to send the form. The bot was supposed to work in a way that when that expense is paid it should mean that the host has already received the user's w9 thus it should add that user to the list of users that already received the w9 so it doesn't create comments anymore. Thi

[2018-09-07 11:47] xdamman opened #1274 "Browsing from one collective to another doesn't refresh the balance/budget bar"
To reproduce:
Go to https://opencollective.com/webrussels
Then click on the logo of the last transaction to get to https://opencollective.com/fearlesscitiesbrussels

![](https://d.pr/free/i/XMtacX+)

After refreshing the page:
![](https://d.pr/free/i/L4FZNj+)

[2018-09-07 11:49] xdamman opened #1275 "Payment method of the collective doesn't show the right currency"
![](https://d.pr/free/i/ZIMS97+)
(should be euros)

[2018-09-07 13:42] #1275 closed

[2018-09-07 13:51] marcogbarcellos opened #1276 "Change button label on the "Become a Host" section in the home page"
The Button label should be `Create a Host` instead of `Create a Chapter` and should also point o the hosts page instead of the chapters page.
![screen shot 2018-09-06 at 9 45 17 pm](https://user-images.githubusercontent.com/8717041/45222792-751b8d80-b283-11e8-8176-2e6d7b230e66.png)

[2018-09-07 14:26] znarf commented on #1274
@xdamman Similar issue was https://github.com/opencollective/frontend/pull/407

There was a `this.collective` that was never updated when navigating.

[2018-09-07 14:28] marcogbarcellos opened #1277 "Style Buttons according to Figma Design standards"
Style the buttons according to what is stated on Figma.

![screen shot 2018-09-07 at 10 21 15 am](https://user-images.githubusercontent.com/8717041/45224738-b7939900-b288-11e8-94d6-7f5d00cdd0bd.png)

[2018-09-07 14:50] #1276 closed

[2018-09-07 18:02] xdamman commented on #1274
@znarf thanks, that was it!

[2018-09-07 18:37] monkeywithacupcake opened #1278 "Contributor Images still *sometimes* Not Found"
Similar to: https://github.com/opencollective/opencollective-api/issues/1164
and Similar to: https://github.com/opencollective/opencollective-api/issues/1254

I'm getting lots of questions about not founds when I setup repos, and I don't have a good answer. Can someone help me explain it?

Here's a recent failure

URL: https://opencollective.com/opensourcediversity/contributors.svg
Logged in as (u

[2018-09-07 19:02] HipsterBrown commented on #1278
@monkeywithacupcake It appears the https://opencollective.com/opensourcediversity/backers.svg and https://opencollective.com/opensourcediversity/sponsors.svg works.

Where do we document the `contributors.svg` endpoint? That endpoint should only work for GitHub projects, I believe.

[2018-09-07 21:15] #1274 closed

[2018-09-07 21:27] alannallama opened #1279 "W9 bot failed to post comment when it was required"
https://opencollective.com/vuejs/expenses/4426

This person has expensed over $600, but the bot did not make a comment. He has not submitted his tax form (according to the email box archives and the dropbox folder). I post about it manually to him for now, but is the bot working as expected?

[2018-09-07 22:20] piamancini opened #1280 "solve google not showing up on sustain"

[2018-09-08 02:13] xdamman opened #1281 "Support manual donations"
## Context:
- Companies don't always want to use a credit card, especially for larger amounts.
- A lot of people don't have a credit card (especially in Europe).
- Hosts can receive money directly on their bank account (via bank transfer) and then allocate those funds to a given collective via the dashboard.

## User story:
https://opencollective.com/fearlesscitiesbrussels is doing a crowdfunding

[2018-09-08 02:53] xdamman commented on #1280
That was because it only looks like at `Orders` that have a `processedAt`.
I've fixed it. But I realized there is a CSS issue (Google logo too wide). Fix coming for that.

[2018-09-08 03:07] #1280 closed

[2018-09-08 04:02] marcogbarcellos commented on #1279
I tested all steps everything locally(even with the same user) and this with this issue https://github.com/opencollective/opencollective/issues/1273 closed and already in production, I believe the next time this user creates an expense the bot comment should show up. I will keep this issue open so we can monitor this, I'd appreciate if you can help me keep tracking of this as well @alannallama . t

[2018-09-08 12:36] xdamman opened #1282 "Add collectives as backers"
## User story
The collective https://opencollective.com/webrussels gave €1,000 to https://opencollective.com/fearlesscitiesbrussels but doesn't show up as a sponsor.

## Context
We now enable collectives to give money to another collective

## Problem
Only backers of type USER and ORGANIZATION are currently showing up in the list of backers

## Solution
We need to add backers of type COLLECTIVE in

[2018-09-08 13:48] #1282 closed

[2018-09-09 15:05] nadineCnP opened #1283 "Collective Receiving money"
URL: www.opencollective.com
Logged in as (username or profile URL): nadinekhouzam
Error message if any:
Expected result: I would like for my collective to be able to receive money (directly on the account) from people paying for our service. This should directly be identified as belonging to my collective and should send a confirmation email saying that the amount was well received on [the collect

[2018-09-09 17:26] znarf commented on #464
Let's review the use cases and make sure it's covered in upcoming API.

[2018-09-09 17:32] znarf commented on #466
After discussion within the team, we don't want to allow that in the near future. Mostly for security reasons.

[2018-09-09 17:32] #466 closed

[2018-09-09 17:33] znarf commented on #467
As of today, we don't track with Google Analytics.

[2018-09-09 17:35] piamancini commented on #415
We now have a `good-first-issue` label for first time contributors.

[2018-09-09 17:35] #415 closed

[2018-09-09 17:36] piamancini commented on #349
This repo is pinned on the organization page. :+1:

[2018-09-09 17:36] #349 closed

[2018-09-09 17:46] #930 closed

[2018-09-09 17:49] piamancini commented on #924
Closing as this issue has been fixed.

[2018-09-09 17:49] #924 closed

[2018-09-09 17:49] piamancini commented on #923
Closing as this issue has been fixed.

[2018-09-09 17:49] #923 closed

[2018-09-09 17:50] xdamman commented on #676
Moved from react-markdown to showdown in this PR and this fixed this issue in the process https://github.com/opencollective/frontend/pull/745

[2018-09-09 17:50] #676 closed

[2018-09-09 17:51] xdamman commented on #559
Fixed in https://github.com/opencollective/frontend/pull/444

[2018-09-09 17:51] #559 closed

[2018-09-09 17:51] #915 closed

[2018-09-09 17:52] #678 closed

[2018-09-09 17:53] #679 closed

[2018-09-09 17:53] #903 closed

[2018-09-09 17:54] piamancini commented on #895
Closing in favor of https://github.com/opencollective/opencollective/issues/1241

[2018-09-09 17:54] #895 closed

[2018-09-09 17:54] #1144 closed

[2018-09-09 17:55] znarf commented on #680
Closed because of low activity.

[2018-09-09 17:55] #680 closed

[2018-09-09 17:55] cuiki commented on #1145
#419

[2018-09-09 17:56] piamancini commented on #894
Closing as use case is covered through backyourstack.com without the automation.

[2018-09-09 17:56] #894 closed

[2018-09-09 17:58] piamancini commented on #868
Closing as this issue has been fixed.

[2018-09-09 17:58] #868 closed

[2018-09-09 18:02] piamancini commented on #782
Closing as this has been fixed.

[2018-09-09 18:02] #782 closed

[2018-09-09 18:06] piamancini commented on #779
Closed as covered by https://github.com/opencollective/opencollective/issues/1213

[2018-09-09 18:06] #779 closed

[2018-09-09 18:12] znarf commented on #1195
The `TOS.md` is useless and should be removed.

Our code is usually MIT licensed but this repo is not about code, for that reason we have not defined a license for it.

[2018-09-09 18:16] znarf commented on #1192
The home is now fixed. I will close the issue.

To answer the question: "is it possible to self-host  opencollective?" yes, but it's not as simple as what we want it to be.

[2018-09-09 18:16] #1192 closed

[2018-09-09 18:27] znarf commented on #1203
Closed because of low activity. @xdamman

[2018-09-09 18:27] #1203 closed

[2018-09-09 18:31] znarf commented on #1223
Low activity, closing it. Feel free to re-open.

[2018-09-09 18:31] #1223 closed

[2018-09-09 18:35] #1207 closed

[2018-09-09 18:40] piamancini commented on #1174
closing this for now, there's no action item. let us know if you need anything else here.

[2018-09-09 18:40] #1174 closed

[2018-09-09 18:43] #1169 closed

[2018-09-09 18:44] piamancini commented on #1166
this is fixed.

[2018-09-09 18:44] #1166 closed

[2018-09-09 18:55] piamancini commented on #959
closing this since sponsor is not on the readme anymore.

[2018-09-09 18:55] #959 closed

[2018-09-09 18:55] #918 closed

[2018-09-09 18:57] piamancini commented on #909
done

[2018-09-09 18:57] #909 closed

[2018-09-09 19:00] piamancini commented on #867
@patcon this should be fixed now.

[2018-09-09 19:00] #867 closed

[2018-09-09 19:01] piamancini commented on #866
closing this @Kilheure let us know if you still have issues.

[2018-09-09 19:01] #866 closed

[2018-09-09 19:02] #801 closed

[2018-09-09 19:03] #478 closed

[2018-09-09 19:06] #105 closed

[2018-09-09 20:29] Kilheure commented on #1239
Not sure why this one is closed as in latest report, there are still missing transaction from 'a Man's world'.
Furthermore, there is no ability to a date range of OC transaction on OC UI for host

[2018-09-09 21:53] xdamman opened #1284 "Support invoices from vendors"
## User story:

Sometimes user file directly an invoice from a vendor to their collective.
This happened to me when I needed to file the invoice to pay the VAT for the Open Collective Europe host (e.g. https://opencollective.com/europe-collective/expenses/3012 and https://opencollective.com/europe-collective/expenses/4809). I paid those expenses directly from the bank account of the host and marke

[2018-09-09 22:31] xdamman commented on #1272
TODO:
- [ ] Create a new API key and associated token for the admin of organization X (@znarf)
- [ ] New mutation `createVirtualPaymentMethod(CollectiveId: Int!, initialBalance: Int!, expiryDate: String)` (@marcogbarcellos)
- [ ] Update mutation `createOrder()` to work with a UUID of a VirtualPaymentMethod (@marcogbarcellos)
- [ ] Update page opencollective.com/redeem?uuid=xxxx-xxxx-xxxx-xxxx (@xd

[2018-09-10 15:40] xdamman commented on #1269
- [ ] Look at the database and follow up with collectives that have applied to hosts (because they not received the notification)

[2018-09-10 15:49] xdamman opened #1285 "Move tiers below description on the collective page"
## User story
When going on the page of https://opencollective.com/fearlesscitiesbrussels on a mobile phone, we see first the list of tiers instead of the description. It's a bit impolite to ask for money before presenting the collective.

## Solution
Given that we already have the CONTRIBUTE button that is always there (floating at the top) and that scrolls the user to the list of tiers, we shoul

[2018-09-10 19:38] xdamman opened #1286 "compute stats for self serve flow"

[2018-09-10 19:39] #1285 closed

[2018-09-10 20:27] HipsterBrown opened #1288 "Save order processing errors to the database"
As a user, if a payment fails to process, I want to be able to see the error that occurred and review it later. This can also help developers for Open Collective to debug the errors later.

Came up during the development of https://github.com/opencollective/opencollective-api/pull/1409

[2018-09-10 20:35] xdamman opened #1289 "Update Transaction component to include payment method"
Required for https://github.com/opencollective/opencollective/issues/1272

- [ ] Remove `components/Transaction.js` and use `components/TransactionSimple.js` throughout
- [ ] Add payment method to it

[2018-09-11 12:57] ryh commented on #782
@piamancini  Still wider than any other on https://opencollective.com/gatsby

[2018-09-11 14:26] xdamman opened #1290 "Update /redeem page for new gift card (virtual credit card)"
![](https://d.pr/free/i/ZacSzD+)

[2018-09-11 14:43] HipsterBrown opened #1291 "Hero background on Home Page is broken"
After updating to styled-system version 3, the `backgroundImage` prop was updated to require using the `url` format. The hero background image on the home page was not updated during this process.

[2018-09-11 14:50] znarf commented on #782
The one that we were targeting with the fix (tldrnewsletter) was actually way wider than that .

It's possible that we are still accepting proportions like this one (tipe), let's check. cc @xdamman

[2018-09-11 15:04] #1291 closed

[2018-09-11 17:41] piamancini opened #1292 "host approval emails are only being sent for the open source collective"

[2018-09-11 18:49] xdamman opened #1293 "API call to create a new virtual card"
It's important to be consistent as much as possible throughout our code base and API.
To that goal, here is a first proposal for the create a new virtual card api endpoint:

[code]

POST Parameters:
- `ClientId`: id of the application (aka api key)
- `CollectiveId`: id of the User or Organization
- `type`: "virtual" (default)
- `amount`: amount in cents

Example:

Create a $100 virtual card for Co

[2018-09-11 18:55] znarf commented on #1293
- Please keep the `Client-Id` in the headers, it's the same level as the `Authorization`
- `create` is duplicate with `POST` and can be removed
- `CollectiveId` could be in the URL

[2018-09-11 19:45] xdamman commented on #1293
If we want to have `CollectiveId` in the URL, then we need to have the previous path be `collectives`.

To be consistent with `/connected-accounts` https://github.com/opencollective/opencollective-api/blob/master/server/routes.js#L113, let's use `/payment-methods`

Based on this feedback, what about:

[code]

[2018-09-11 20:20] znarf opened #1294 "Deactivate legacy 'website'"
We're still using some elements from a legacy code base that we want to retire. Repository: https://github.com/opencollective/opencollective-website

The elements that are still loaded from it:

- [x] https://opencollective.com/learn-more
- [x] https://opencollective.com/discover
- [x] https://opencollective.com/opensource/apply
- [x] https://opencollective.com/public/*
- [x] https://opencollectiv

[2018-09-11 22:07] marcogbarcellos commented on #1293
Looks good, I personally think if we want to have a public and consistent API we should try to follow the REST Standard as much as possible, in the end it's supposed to be a standard for this reason.

In this case I think it's "more" Rest compliant if we just use spinal-case like this: `https://api.opencollective.com/v1/payment-methods` and leave the other properties(including `CollectiveId`) in t

[2018-09-12 13:29] FredyC opened #1295 "Different avatar in contributors and backers view"
I am wondering where does OC take avatars shown within contributors? It has used an old photo of me which I am no longer using and would love to figure where it's still used. Correct avatar is used for me as the backer. It's the same one I am using in GitHub and the same one in OC profile.

URL: https://github.com/lingui/js-lingui#contributors
Logged in as (username or profile URL): https://openco

[2018-09-12 14:49] piamancini opened #1296 "collectives through github flow break notification/currency/tiers when they apply to a new host"
https://opencollective.com/mmmmm-mobile came in through github but they want to be hosted by Europe.

So they during the flow they applied to Europe as a result:

- the host ID in collective table and member was OC Europe
- the collective received an of pending approval from 501c6 with broken css (see image below)
- the collective received an email of approval from 501c6 even if isActive remained

[2018-09-12 14:49] piamancini commented on #1243
Adding a bug here https://github.com/opencollective/opencollective/issues/1296

[2018-09-12 16:01] #1272 closed

[2018-09-12 16:01] #1293 closed

[2018-09-12 16:12] marcogbarcellos commented on #1293
## Final Implementation details

Adding a new type of payment methods: virtual cards.

It's important to be consistent as much as possible throughout our code base and API.
To that goal, here is a first proposal for the create a new virtual card api endpoint:

[code]

POST Parameters:

- `CollectiveId`: id of the User or Organization
- `type`: "virtualcard" (This is optional as it defaults to `vir

[2018-09-12 16:13] marcogbarcellos commented on #1272
## Final Implementation details

Adding a new type of payment methods: virtual cards.

It's important to be consistent as much as possible throughout our code base and API.
To that goal, here is a first proposal for the create a new virtual card api endpoint:

[code]

POST Parameters:

- `CollectiveId`: id of the User or Organization
- `type`: "virtualcard" (This is optional as it defaults to `vir

[2018-09-12 16:28] piamancini commented on #1295
hi @FredyC thank you, quick question was that your twitter avatar before? it might be a cache issue. When did you update your OC profile?

[2018-09-12 16:45] piamancini opened #1297 "remove (edit) from the main title in host/apply flow"
collective core contributor applies to create a new collective under a host using the host organization /apply. Before it creates a collective there's an _(edit)_ in the main title that shouldn't be there. It looks out of place.

<img width="1263" alt="screen shot 2018-09-12 at 12 40 32 pm" src="https://user-images.githubusercontent.com/3671070/45440182-9fa58600-b689-11e8-8e5c-4fbd059a61d8.png">

[2018-09-12 16:56] marcogbarcellos opened #1298 "Confirmation email after claiming a virtual card"
The user must have received an email after the user has claimed the virtual card successfully. This email must contain a login to `/redeemed?amount=10000&emitterSlug=SLUG&emitterName=Name`.

Technically: use function user.generateLoginLink('/redeemed?amount=10000&emitterSlug=SLUG&emitterName=Name').

[2018-09-12 16:59] marcogbarcellos opened #1299 "Set field "CreatedByUserId" when creating a virtual card"
Today when we create a Virtual Card, the Payment method is created with `CreatedByUserId` null every time. We should set it as the user that's creating it as we already have that information(the user must be logged in to create a virtual card).

[2018-09-12 17:42] #1298 closed

[2018-09-12 17:42] #1299 closed

[2018-09-12 18:46] FredyC commented on #1295
@piamancini No, my twitter profile has this new avatar also and it's there for more than 1 year for sure. I went through all the services that might be somehow related, but I wasn't able to find the old one anywhere.

[2018-09-12 19:05] piamancini opened #1300 "virtual card fixes"
- no sign in flow (we assume they are new backers) - they need to click on ToS, etc.
- /redeemed?name=[object%20Promise] is appended to the URL
- The URL breaks the image:
![screen shot 2018-09-12 at 14 08 52](https://user-images.githubusercontent.com/3671070/45447253-fb2d3f00-b69c-11e8-8c99-411ba6086ba1.png)
- after contributing we are not sent to the confirmation page we should be sent to
![scre

[2018-09-12 20:56] piamancini opened #1301 "fix first number not being erased"
I always see it in add funds and order form.

[2018-09-12 21:16] piamancini commented on #1300
feedback on the email:

- the logo is broken (might not be a problem of the email but of the opencollective inc logo)
<img width="808" alt="screen shot 2018-09-12 at 5 09 00 pm" src="https://user-images.githubusercontent.com/3671070/45453362-a7c3ec80-b6ae-11e8-8f02-7e7d9bea44b7.png">

Copy:
- Subject: Triplebyte gave you money to donate to open source!

Woot! {Sponsor}(link) just have you {max amo

[2018-09-12 23:13] znarf commented on #1295
hey @FredyC, spent some time investigating this.

We're fetching  and processing the images through a service named "Cloudinary" and looks like there was an infinite cache policy there. I flushed the cache but at this time, we're still hitting a CDN cache on their side :-/

Link: https://res.cloudinary.com/opencollective/image/fetch/c_thumb,g_face,h_128,r_max,w_128,bo_3px_solid_white/c_thumb,h_128

[2018-09-13 11:14] Kilheure opened #1302 "Collective / host Self serve flow issues"
URL: https://opencollective.com/uk#about
Logged in as (username or profile URL): none
Error message if any: none
Expected result: reduced number of collectives
![screen shot 2018-09-13 at 12 07 49](https://user-images.githubusercontent.com/31570464/45484986-ebb9fe80-b74d-11e8-8bb9-4973640f8e92.png)

Browser: chrome / IE / Safari

Number of issues with self serve flow:
1) Collectives that are creat

[2018-09-13 16:08] marcogbarcellos opened #1303 "Implement now on the api for pull requests"
## User story
When we are developing something in a separate branch and we create a pull request, sometimes to test things we push our own branch to staging, which may not be ideal as it's good keeping staging the same as production always. So using [now]() the same way we're doing for frontend and backyourstack would be really useful on the api level as well.

## State

As the Api requires a data

[2018-09-13 16:42] monkeywithacupcake commented on #1278
If I am only updating projects that are on Github, this should always work, right?

[2018-09-13 18:39] piamancini commented on #1278
I can add the repo in the settings - this is because opensourcediversity was created manually

[2018-09-13 18:44] piamancini commented on #1278
done

[2018-09-14 09:24] singmeToSE opened #1304 "The home page of the socket.io site is a mess"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-09-14 13:01] xdamman commented on #1115
This has been deployed on August 6.

Here are some stats after one month:

New hosts:

1 June
1 July
8 August
11 till September 14th

In terms of number of new collectives:
72 June
84 July
118 August
53 till September 14th

[2018-09-14 14:18] piamancini commented on #1304
please open this issue in the socketio repo. This is the opencollective repo. thanks!

[2018-09-14 14:18] #1304 closed

[2018-09-14 15:03] piamancini commented on #1115
thanks @xdamman this is super useful! I don't think number of new collectives is a good metric but number of new hosts is super useful.

[2018-09-14 21:59] alanna opened #1305 "Activate tax form bot on expense submission instead of approval"
Currently, the tax form bot makes a comment when an expense is approved that will put a user over the $600 limit. However, the person needs time to fill out their form and we only pay expenses once a week, so if the core contributor approves the expense right before payment time, we can't pay until the following week (assuming the user submits their tax form in that time). This creates a delay.

I

[2018-09-14 22:33] alannallama commented on #1132
I've been thinking about this, and I believe the issue is that the Open Collective system is designed to associate one email address per user, and also use that as their paypal address. If everyone has their own OC account and directly submits their expenses, this works. However, in practice, sometimes admins are submitting expenses on behalf of other people. This comes up fairly often (again toda

[2018-09-14 22:49] alannallama commented on #1305
To add some context, we get emails every week from people who have submitted their tax form but missed the pay run that week and are wondering what the delay is.

[2018-09-15 06:44] xdamman commented on #1132
I agree. Maybe. I’d love to rethink the flow of submitting an expense to integrate this but also the difference between submitting an expense (to be reimbursed for) and submitting an invoice (to pay the vendor).

This is a big work and we should include @cuiki in the conversation so that he can help us through the design process.

[2018-09-16 09:07] xdamman commented on #1132
You could coordinate with @cuiki on this. But right now he is busy on the foundation UI elements to make the entire platform more consistent. And after that his priority will be to redesign the create order flow which is the most important flow and that needs love.
So not sure when he will be available for this :-(
But I would definitely love to also give some love to the expense flow.

[2018-09-17 13:56] znarf commented on #1235
Related: https://github.com/opencollective/opencollective/issues/1295

@clarkdo is it better now?

[2018-09-17 14:28] clarkdo commented on #1235
@znarf Thank you for the reply 😄 , but it seemed still displaying the old svg.

[2018-09-17 15:01] #1278 closed

[2018-09-17 15:24] marcogbarcellos opened #1307 "Add a rest endpoint to the api to get the transactions of a given payment method"
## User story

Backer wants to know all the transactions he's done over the last couple months|weeks|days with his credit card.

## Best solution for this problem

Create a REST Endpoint `GET /v1/payment-methods/:id/transactions` that will also allow URLs using `start` and `end` through the format `YYY-MM-DD` that will look for transactions with the fields `createdAt` that match the result. If onl

[2018-09-17 15:41] piamancini commented on #1307
@marcogbarcellos USER is not a role one the platform ---> https://github.com/opencollective/opencollective/wiki/Open-Collective-Roles

[2018-09-17 16:00] sloria commented on #1113
This appears to still be an issue. It's not a high priority, but I think it should still get fixed.

[2018-09-17 16:05] sloria commented on #1114
This is still an issue that I think should be addressed. Not necessarily a high priority, but an issue nonetheless.

[2018-09-17 16:20] piamancini commented on #1106
I think we should still do this. It's important the they know if they are not being charged (i know we send emails but these might be filtered.)

[2018-09-17 18:47] piamancini commented on #1127
this is what you currently see on the page:
![screen shot 2018-09-17 at 2 46 37 pm](https://user-images.githubusercontent.com/3671070/45643236-9866e980-ba88-11e8-99ff-c07f427d367f.png)

[2018-09-17 18:48] piamancini commented on #1127
In chrome (not incognito)
![screen shot 2018-09-17 at 2 47 54 pm](https://user-images.githubusercontent.com/3671070/45643296-be8c8980-ba88-11e8-92c3-506390588c8e.png)
 you see all these broken images:

[2018-09-17 18:59] luceos commented on #1042
Please don't close this.

[2018-09-17 19:14] phated commented on #985
@piamancini is anything going to be done about this?

[2018-09-17 19:29] piamancini commented on #1208
fixed.

[2018-09-17 19:29] #1208 closed

[2018-09-17 19:46] znarf commented on #1042
@luceos Thank you for jumping back. We're currently experimenting with this stale bot and need to adapt our flow, I'm re-tagging the issue.

[2018-09-17 19:47] luceos commented on #1042
I can imagine, and I have no issue with irrelevant issues being closed because of staleness, but this is obviously a bug; hence the bump.

🤗

[2018-09-17 19:51] znarf commented on #1127
Will look into it.

[2018-09-17 20:01] znarf commented on #1106
@piamancini can you add labels?

[2018-09-17 20:27] elijahv opened #1309 "[object Object] on Add Funds page"
**Describe the bug**
When adding funds to a Collective under the "Source" dropdown the odd option "[object Object]" is displayed.

What does it mean? It seems like a bug. :-)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/HOST/dashboard
2. Click on the Collectives dropdown
3. Scroll down to any Collective
4. Click "Add Funds"
5. See error

**Expected behavio

[2018-09-17 20:28] piamancini commented on #1309
thank you @elijahv - @HipsterBrown is actually working on it already.

[2018-09-17 20:44] marcogbarcellos commented on #1307
I have found 2 importants things to discuss so I can have the final requirement/ implementation:

1. We have credit and debit transaction and i'll be returning all transactions but i was wondering if we need to actually return all or only their DEBIT or CREDIT transactions.

2. I think we need to actually have 2 endpoints:
    - `GET /v1/payment-methods/:paymentMethodId/transactions` where this wi

[2018-09-18 06:32] znarf commented on #1307
@marcogbarcellos Nice that you have written the documentation. Let's figure a place to host it permanently. What about some markdown documents in the API project?

[2018-09-18 07:00] devurandom commented on #1034
Someone would need to check whether anything changed since May and update this ticket accordingly.

[2018-09-18 07:05] znarf commented on #1034
@devurandom removed the stale flag

We effectively need to review the permissions and either:

a) we need the extended permissions and we explain why. (on backyourstack for example, we had no choice, https://github.com/opencollective/backyourstack/blob/master/FAQ.md)
b) we don't need the extended permissions and modify our GitHub API configuration to ask less

[2018-09-18 07:06] dahacouk opened #1310 "Can't remove update from collective"
**Describe the bug**
I can't remove an update from my collective

https://opencollective.com/noplasticapp#updates

The update is just stuck there. There is not even an edit or delete button.

What happen is I created an update with a video link. It did not work and generated a GraphQL error. So I tried to delete the update by removing all text and title. This left a ghost update that cannot be edi

[2018-09-18 08:36] marktani commented on #1108
This is still a problem:

![image](https://user-images.githubusercontent.com/1780597/45675040-a2dbbe80-bb2e-11e8-86f9-b83850ad36ed.png)

[2018-09-18 08:36] marktani commented on #1109
Still can't find it :)

[2018-09-18 08:54] znarf commented on #1108
@marktani thank you for jumping in, we just started using this stale bot and are still learning how to best use it. I updated tags for the issue.

[2018-09-18 10:52] xdamman commented on #1307
Can be added here: https://github.com/opencollective/opencollective/tree/master/docs/api
This is what is published on https://developer.opencollective.com

I wouldn't do the second api call as the first call is already good enough. Less surface area to maintain.

[2018-09-18 12:04] znarf commented on #1307
@xdamman @marcogbarcellos +1 for "Less surface area to maintain." and +1 for the developer docs. Just need to check how to generate and deploy.

Thinking about the future of our architecture, if we all agree that the `opencollective-api` is our GraphQL API and that it's our only core API, I think we should move all REST endpoints asap out of the `opencollective-api` repository, so that we don't ha

[2018-09-18 12:08] marktani commented on #1108
For sure! I'm using the same bot over at Prisma), and it's really useful 🙂Here is the configuration that works (currently) the best for us: https://github.com/prisma/prisma/blob/master/.github/stale.yml

[2018-09-18 14:49] piamancini commented on #1109
Hi @marktani is this the link you are looking for? https://opencollective.com/_marktani

[2018-09-18 14:52] piamancini commented on #1310
removing the bug tag since there was never a delete button there.
@znarf can you confirm you manually delete this update?

[2018-09-18 14:54] marktani commented on #1109
No, reading the email I get that notifies me of a donation, it sounds like there is a referral system:

![image](https://user-images.githubusercontent.com/1780597/45696210-5bbbf080-bb63-11e8-85c4-126d288edde5.png)

It says the total amount I help to raise will be shown in my profile.

This email is the only place I am aware of where this referral system is mentioned - maybe it is not yet in place?

[2018-09-18 14:59] piamancini commented on #1109
Oh I see,  we should be clearer about this referral feature. If you go to your profile you'll see that you have amount donated and amount raised (see screenshot)
![screen shot 2018-09-18 at 10 58 55 am](https://user-images.githubusercontent.com/3671070/45696553-e126ad00-bb31-11e8-8f85-3476f0f2c777.png)
That is the only place we use the referral at the moment. We haven't really built much of a feat

[2018-09-18 15:06] marktani commented on #1109
Got it! Thanks for helping me out, and for this project! 😄

[2018-09-18 15:06] #1109 closed

[2018-09-18 15:56] znarf commented on #1310
@piamancini yes, done

[2018-09-18 16:02] piamancini commented on #1310
ok closing this then, since it's solved for @dahacouk and opening a new one specifically for adding the delete option.

[2018-09-18 16:02] #1310 closed

[2018-09-18 16:06] piamancini opened #1311 "Add a Delete button for Updates"
A collective admin wants to delete an update on their collective.
At the moment, there's no option for deleting it.
Include a delete update option in the edit template page.

[2018-09-18 19:18] marcogbarcellos commented on #1307
I will update the docs link right now as well, but I'm also posting the last Docs here so this issue is also up to date:

This PR contains 2 new REST endpoints:

## GET /v1/collectives/:collectiveSlug/transactions

This query requires the collective **slug** of. It also allows the following query parameters:
    - type - If Transaction is `DEBIT` or `CREDIT`
    - limit - the number of records to

[2018-09-18 19:34] #1309 closed

[2018-09-18 21:08] #1307 closed

[2018-09-18 22:25] marcogbarcellos opened #1314 "allTransactions Graphql endpoint returning duplicated transactions when using includeVirtualCards=true as parameter"
the [where query](https://github.com/opencollective/opencollective-api/blob/master/server/graphql/queries.js#L257-L267) is:

[code]
We are looking for all transactions that have the virtual cards payment method ids in it.

But instead of looking only for this, we should look for the pair

[code]

for every virtual card the collective has issued.

This way we would avoid repeating the same transact

[2018-09-18 22:45] #1314 closed

[2018-09-19 09:10] znarf commented on #1295
Fixed.

[2018-09-19 09:10] #1295 closed

[2018-09-19 09:10] znarf commented on #1235
Fixed.

[2018-09-19 09:10] #1235 closed

[2018-09-19 09:11] clarkdo commented on #1235
@znarf It works, thank you so much.

[2018-09-19 10:29] znarf commented on #1127
@HipsterBrown @xdamman @piamancini So, there is no active gold-sponsors and no active platinum-sponsors. This mean it's normal to not display any logo. At least according to your input above.

For the broken images, as displayed in the screenshot above, that's something else.

[2018-09-19 11:51] FredyC commented on #1295
@znarf Awesome, thank you. So if you understand correctly, it was just cached in Cloudinary so I don't need to worry I forgot to replace it somewhere?

[2018-09-19 13:42] znarf commented on #1295
Yes, it was cached on multiple layers with the source being a staled cache on Cloudinary. It was basically your avatar from 2 years ago. From now, we will cache for a maximum of 7 days.

[2018-09-19 18:39] #1301 closed

[2018-09-19 19:00] piamancini commented on #1127
talked to Evan and he fixed an issue on his end, when platinum sponsor comes in it should show up.
It seems like the broken images is my browser picking up the 1pxs with the ad blocker.
Closing this, I'll check when the new sponsor comes in to see it it's ok.

[2018-09-19 19:00] #1127 closed

[2018-09-19 21:02] BonfaceKilz opened #1315 "Broken certificates"
**Description**
When you navigate to the domain https://opencollective.com, the certificate is correct and the padlock icon on the navigation bar is green as expected. However, when you navigate to https://opencollective.com/webpack, the site becomes insecure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com
2. Click on 'Discover'
3. Scroll to 'Webpack' and cl

[2018-09-20 11:13] #1300 closed

[2018-09-20 11:29] xdamman opened #1316 "virtual card: limit use to certain types of collectives"
When creating a virtual card, we should be able to limit it to collectives that have a certain tag (e.g. only open source projects, only citizen initiatives, etc.)

[2018-09-20 11:38] #1316 closed

[2018-09-20 15:59] piamancini opened #1317 "Archive Collective"
## User story
As a core contributor I want to disable a collective because the community is not interested in fundraising anymore.

## Best solution for this problem
Ideally the core contributor can log in, go to edit collective and click on disable collective.  That would trigger one of two responses
a) if collective has no transaction history it would delete collective and all dependencies (like

[2018-09-20 16:05] BonfaceKilz commented on #1315
It's fixed. Thanks!

[2018-09-20 16:05] #1315 closed

[2018-09-20 18:08] znarf commented on #1315
Yes, the the slack logo on this page was not loaded from https. We fixed that issue.

However, we still need to change the way we link to external images to prevent that happening in the future.

[2018-09-20 20:08] #1286 closed

[2018-09-20 20:27] xdamman opened #1318 "Virtual card: creating account with just email makes the user anonymous"
And it's quite hard for them to change that as they need to go to the settings of their user profile

As a quick mitigation we can also ask for the name + email.

[2018-09-20 20:49] #1318 closed

[2018-09-20 22:09] alannallama commented on #1167
Note: the option to 'pay 100% of the balance' is there so the system can automatically set it to the correct amount minus fees, as discussed in #1073

[2018-09-20 23:37] cuiki commented on #1167
Hi @alannallama , thanks so much for putting this together. I'll review and post questions and comments. As @xdamman said, I have a few issues to tackle first but this will get some design love in the coming weeks!

[2018-09-21 15:28] alexanderby opened #1319 "Unable to submit PayPal donation"
**Describe the bug**
When choosing the **PayPal** donation method, the **Donate** button disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some `.../donate` page (e.g. https://opencollective.com/webpack/donate)
2. As a **Payment method** choose **PayPal**.

**Expected behavior**
**Donate** button should appear.

**Screenshots**
![image](https://user-images.githubusercontent.c

[2018-09-21 15:33] piamancini commented on #1319
thanks. We can reproduce, we'll look at it now.

[2018-09-21 16:54] #1319 closed

[2018-09-21 17:11] HipsterBrown commented on #1319
Deploying the fix to production now. Thanks for letting us know @alexanderby. :tada:

[2018-09-21 20:22] xdamman opened #1320 "When creating a new event, it doesn't take into account the default hostFeePercent of the host"
The `hostFeePercent` was set to 5% despite the fact that the host /brusselstogetherasbl has a zero percent fee by default.

I've updated it manually and I had to run this query to update the transactions accordingly:

[code]

[2018-09-21 21:10] piamancini commented on #1320
Is this happening for any other host?

[2018-09-22 19:01] xdamman opened #1321 "Virtual Cards release"
Related to https://github.com/opencollective/opencollective/issues/1272

- [x] don't pass the values in query params, just pass the id of the virtual card and fetch the data from the frontend
- [x] Show the transactions made with the virtual card on the profile page of the owner of the source payment method
- [x] Show the payment method details along with the transaction (to show the owner of the

[2018-09-22 19:13] xdamman opened #1322 "Make sure that people who are backers of an event, don't get the monthly report by default"
## User story

160 people have registered for the http://opencollective.com/fearlesscitiesbrussels/events/september-2018 event.

They have become "backers" of that event collective.

They probably don't all want to receive automatic email updates coming from Open Collective.

- [ ] Ask people when they register if they want to receive updates of the collective (and list them; e.g. do you want to r

[2018-09-22 19:37] xdamman opened #1323 "Contribution flow: Matching fund"
As we are redesigning the create order flow, let's make sure we don't forget about those things:

- [ ] matching fund

---

Edit by @Betree
~~- [ ] make sure we communicate fee structure at the time of checkout~~ => https://github.com/opencollective/opencollective/issues/1506

[2018-09-24 16:18] #1020 closed

[2018-09-24 16:18] #1043 closed

[2018-09-24 16:18] #1052 closed

[2018-09-24 16:18] #1055 closed

[2018-09-24 16:18] #1072 closed

[2018-09-24 16:18] #1065 closed

[2018-09-24 16:18] #999 closed

[2018-09-24 16:18] #1088 closed

[2018-09-24 16:18] #1050 closed

[2018-09-24 16:18] #1095 closed

[2018-09-24 16:18] #1091 closed

[2018-09-24 16:18] #1031 closed

[2018-09-24 16:18] #1116 closed

[2018-09-24 16:18] #1118 closed

[2018-09-24 16:18] #1120 closed

[2018-09-24 16:18] #1122 closed

[2018-09-24 16:18] #1068 closed

[2018-09-25 16:17] BenJam commented on #1182
++

it would seem useful to have this on record to save costs on transactions involving an exchange too, i.e. when a host has an account in currency X they would probably want to pay any expenses in currency X from that account/service to avoid needless FX rates.

[2018-09-25 16:18] BenJam commented on #919
+ Monzo, Tide

[2018-09-25 16:23] BenJam opened #1324 "Expense reports with multiple receipts (batch reports)"
## User story
As an event organiser, I want to submit expenses en masse for categories of expense.

## Best solution for this problem
Submit expense > Upload _multiple_ receipts, provide a _total_ cost and category along with payment instructions as before. Extra points for uploading in the background with a tracker to provide fedback when the upload is complete and the expense can be submitted (o

[2018-09-25 16:36] auvipy commented on #919
what about Hyperwallet?

[2018-09-26 12:06] xdamman commented on #1324
Thanks Ben for creating this feature request.

This is typically the type of things that we would love to open an API for and have the community build better tools to submit expenses.

If there is any taker, we would prioritize opening up this part of the API.

[2018-09-26 14:54] piamancini opened #1325 "Sponsors section on HP"
## User story
As a sponsor, I can find all the sponsor features that Open Collective offers (matching funds, virtual card, pre-paid card) so that I can use them.

## Best solution for this problem
The ideal solution is a self-serve pathway for a sponsor to use any of these features. The sponsor section of the HP would have a Create flow for all these features.

## MVP

The MVP is a sponsor page (l

[2018-09-26 14:55] piamancini commented on #1325
cc / @xdamman let's iterate on the content until @cuiki wraps up pledges for Nick and maybe we can squeeze this in before he starts the user flow (design for this should be fairly straight forward)

[2018-09-26 18:18] piamancini opened #1326 "EPIC → Expense Flow (Design Revamp)"
This is a global issue for the expense flow revamp. The goal is to start a list of issues (bugs and requests) to link several issues opened on this topic as a first step. The second step should be a proposal for an MVP and a design spec issue as well as opening specific feature issues for the features.

## Requests / New Features

- [x] Batch Upload:
As an event organiser, I want to submit expense

[2018-09-26 18:18] piamancini commented on #1191
closing this in favor of https://github.com/opencollective/opencollective/issues/1326

[2018-09-26 18:18] #1191 closed

[2018-09-26 18:26] piamancini commented on #932
closing in favor of https://github.com/opencollective/opencollective/issues/1326

[2018-09-26 18:26] #932 closed

[2018-09-26 18:28] piamancini commented on #705
closing in favour of https://github.com/opencollective/opencollective/issues/1326

[2018-09-26 18:28] #705 closed

[2018-09-26 18:44] piamancini commented on #1292
closing this since @xdamman deployed a fix today

[2018-09-26 18:44] #1292 closed

[2018-09-26 18:44] piamancini commented on #1269
closing this @xdamman

[2018-09-26 18:44] #1269 closed

[2018-09-26 18:50] piamancini commented on #1326
cc / @cuiki @alannallama @xdamman

[2018-09-26 21:05] xdamman opened #1327 "Limit virtual payment methods to a host"
Useful to limit the use of a virtual card to let's say the Open Source Collective host.
Useful to avoid a virtual card to be used on random self hosted collectives.

[2018-09-26 21:27] alannallama commented on #1326
Has this list been prioritised? There's a whole list of improvements I've raised as issues that aren't on here.

[2018-09-26 21:40] alannallama commented on #1326
OK here are the other ones I don't think have been mentioned above:

* #1167 - system automatically creating invoices (design addresses #1222 #1132 #1073 as well)
* #1305 - tax from bot on submission instead of approval
* #1149 - connect paypal and OC transactions
* #1061 - paypal balance broken
* #1077 - wording changes
* #1072 - change date format
* #1071 - activity updates

[2018-09-26 21:49] #1327 closed

[2018-09-27 12:55] cuiki commented on #1325
Hi, I can start on this tomorrow. Few questions though.

So there will be a sponsor page dedicated to explain (and 'create' start a flow for each) these 4 features. Can you explain what is the process of what happens after a user clicks on each of the buttons that begin the 'create' flow? I assume that we need to account for orgs that are already in OC and those who have not created an account yet

[2018-09-27 13:33] xdamman commented on #1325
@cuiki for now, let's just focus on releasing a static marketing page to explain those features with a contact us button or to a google form ([coinbase style](https://listing.coinbase.com) - ah ah ah)

Yes, this is really meant for organizations. Not sure if it's better to call them sponsors or organizations in this case.

To iterate on the content, let's use this google doc:
https://docs.google.c

[2018-09-27 14:50] marcogbarcellos opened #1328 "Add monthly limit member to virtual cards"
## User story
The organization X would like to created a virtual card, but instead of defining a balance for that card, the organization would like to add a monthly limit member of $50. If the organization would like to do that for only 6 months(total of $300) all it will need to do is define that in the expiry date.

## Best solution for this problem
This could be an additional feature so we will

[2018-09-27 16:10] piamancini commented on #1326
@alannallama All of the above are added in the main comment list. Thank you

[2018-09-27 20:40] piamancini commented on #1325
Made some additional changes to the copy I think it's good to get a start on design when @cuiki finishes pledges

[2018-09-27 21:24] piamancini opened #1329 "Wrong currency when adding funds to a collective in euro"
**Describe the bug**
WWCode Kyiv is set in Euros but when host adds funds, the result funds added + fee show up in USD
<img width="777" alt="screen shot 2018-09-27 at 4 36 06 pm" src="https://user-images.githubusercontent.com/3671070/46175444-fe6a2280-c279-11e8-97d4-dc7b5487e51f.png">

**To Reproduce**
Only way to repro in prod is loging in as wwcode's host

**Expected behavior**
For it to works a

[2018-09-28 08:19] xdamman commented on #1149
Yes we totally need a way to search / filter expenses (but also transactions).

Adding tags to them would also be helpful.

[2018-09-28 11:13] znarf commented on #1090
We're still on it!

[2018-09-28 12:52] marcogbarcellos opened #1330 "Api Tests use db opencollective_dvl instead of opencollective_test"
**Describe the bug**
Running the tests locally `npm run test` makes the test to use the `opencollective_dvl` as their Dbs instead of `opencollective_test`

**To Reproduce**

1. `npm run test`
2. the terminal will show It will use the db `opencollective_dvl`

**Expected behavior**
It should use the `opencollective_test`

[2018-09-28 17:31] piamancini opened #1331 "button to approve collective in host email is broken"
**Describe the bug**
the approve button in the email when a new collective applies to a host doesn't have a link

**To Reproduce**
Go to a host email for a new collective. In this case it was the LimaJS one

**Expected behavior**
expected to be able to approve the collective from the email.

[2018-09-28 18:49] #1331 closed

[2018-09-28 18:57] marcogbarcellos opened #1332 "Remove old/unused branches from the API"
We should clean up the api so that all branches that are outdated/old/unused must be removed

[2018-09-28 20:32] #1322 closed

[2018-09-28 22:13] #1329 closed

[2018-10-01 16:29] cuiki commented on #1325
**Hi everyone, here is the first stab at this page:**
https://www.figma.com/file/OUhDavcHuoC0qFt7azSPU7/platform-%E2%80%94-03-become-a-sponsor?node-id=0%3A1

I left some comments on it. Please post your responses to wrap this page up. @HipsterBrown let me know if theres questions when you get to this.

[2018-10-01 19:52] #1328 closed

[2018-10-01 22:14] marcogbarcellos opened #1333 "Make W9 bot send a single comment per User(for each Host)"
## User story
A contributor of a collective submits a lot of expenses, after a certain point his expenses are higher than $600 and he will start receiving comments from the W9 Bot until one of those expenses is marked as PAID. This may make contributors receive a lot of comments and they are getting confused.

## Best solution for this problem
We can limit the W9 comments to only one per user for

[2018-10-02 10:01] znarf opened #1658 "API: Update to GraphQL 14"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the API, we're currently using the GraphQL version 0.13  and the upgrade to version 14 has breaking changes.

- Branch with GraphQL 14:
  https://github.com/opencollective/opencollective-api/tree/package/update-graphql
- Sample failure on CI:
  https://circleci.com/gh/opencollective/opencollective-api/93

[2018-10-02 15:32] marcogbarcellos opened #1334 "UI not working properly when a payment method fails"
**Describe the bug**
When I tried to donate with a payment method that didn't have funds to my order, the UI didn't let me easily retry with a different payment method, I needed to refresh the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  any collective and try to donate
2. Select the amount and Payment method
3. click in donate
4. You will see an error if your payment method

[2018-10-02 15:38] #1333 closed

[2018-10-03 12:05] znarf commented on #1334
@marcogbarcellos can you try to edit the title to fit in one line max?

[2018-10-03 12:14] znarf opened #1335 "Crash when removing a payment method while adding one"
**Steps**

1. Make sure to have at least one Payment Method in your profile
2. Go to http://opencollective.com/<profile> then Edit, then go to Payment Methods section
3. Click "add another payment method"
4. Now "remove" an existing payment method

**Result**: App is crashing

![screen shot 2018-10-03 at 14 12 29](https://user-images.githubusercontent.com/806/46409607-7cb14380-c716-11e8-84c8-14219

[2018-10-03 12:19] znarf opened #1336 "UX improvements in Payment Method editing"
General

 - [x] There should be no "Save" button.
 - [x] Only a button to submit a new Payment Method
 - [x] And a button to remove an existing Payment Method (no extra Save)

Success when adding a Payment Method:

 -  [x] Feedback message when succeeding <sup>(1)<sup>
 -  [x] Input form should disappear  when succeeding  <sup>(1)<sup>
  - [x] Payment Method should be immediately available in the

[2018-10-03 12:29] znarf commented on #1332
Should be simple, let's do it now.

[2018-10-03 12:33] znarf opened #1337 "VISA card instead of Virtual Card appearing in subscriptions"
After having subscribed to Collectives with a virtual card, for some subscriptions, a VISA card (likely the parent?) is appearing instead of Virtual Card.

![screen shot 2018-10-03 at 14 30 44](https://user-images.githubusercontent.com/806/46410438-31e4fb00-c719-11e8-9d29-4eaacccb31a7.png)

[2018-10-03 19:49] marcogbarcellos commented on #1337
Figured out the problem: When you donate you create an `Order` and this order contains the actual payment method which in this case the credit card on behalf of the virtual card. I think that's actually right.

The first way to address this problem that comes to my mind is adding a property on the `Order` which is going to identify if this order is generated through a Virtual card. I'm not sure if

[2018-10-03 20:32] marcogbarcellos commented on #1332
Do we have a branch that cannot be removed? Perhaps @xdamman has an exception.
If not, We can have the rule of removing all branches with exception to the ones with Open PRs. a good thing to add to this feature is looking for a good bot that does that for us( remove branches after their corresponding PRs are merged)

[2018-10-03 22:00] marcogbarcellos commented on #1337
Ok, I was able to reproduce, this is a high priority issue: After running the subscription job, the original order using the virtual card is updated to the "parent" credit card. focusing on fixing this asap..

[2018-10-04 01:28] marcogbarcellos opened #1338 "Unmodify orders changed by the subscriptions cron job"
Due to the issue #1337 , we need to check all contributors that backed collectives last month using virtual cards and subscribed to those collectives. If there's any(there's at least one @znarf we know), we will need to find a way to update all orders replacing the current payment method(which is likely the source payment method of those virtual cards) to use the virtual card payment method instea

[2018-10-04 02:10] marcogbarcellos commented on #1338
This query found that 38 transactions(76 in total, but with DEBIT and CREDIT) made using Virtual cards wich the `transaction.PaymentMethodId` is not the same as `transaction.Order.PaymentMethodId` when it should be:

[code]

Running this query locally(copied prod database)apparently fix the problem:

[code]

[2018-10-04 02:13] marcogbarcellos commented on #1338
Ran this in staging and it's promising, it apparently fixed @znarf 's problem:
![screen shot 2018-10-03 at 5 19 57 pm](https://user-images.githubusercontent.com/8717041/46449323-6d071e80-c759-11e8-8238-eb4a5fc15c0e.png)

Will do some more tests tomorrow(check case by case, not all, but at least a number i feel comfortable to run it in prod) before running in production.

[2018-10-04 06:12] xdamman commented on #1332
Not that I can think of. Yeah would be a good idea to have a bot to make sure there is no branch on the origin unless there is an open PR.

[2018-10-04 07:40] znarf opened #1339 "Gravatar populated for anonymous backer"
Steps still unclear.

While donating anonymously, a backer ended up with his gravatar populated as `image` in the `Collective` table.

[2018-10-04 09:29] znarf opened #1340 "Frontend master doesn't work against production API"
[code]

[code]

[2018-10-04 13:31] znarf commented on #883
@cuiki good to have that in mind while working on the contribution flow.

[2018-10-04 14:12] marcogbarcellos commented on #1338
running this in prod:

[code]

returns the following list of transaction ids:

[code]
so we can have the following query resulting in the "problematic" transactions(Order payment method is different than transaction payment method).

after running the following update query we can check whether the sql above is now matching the payment method ids in the Orders and Transactions table:

[code]

[2018-10-04 14:48] HipsterBrown commented on #1340
This has been fixed by deploying the latest version of `opencollective-api` to production.

[2018-10-04 14:48] #1340 closed

[2018-10-04 16:01] znarf commented on #1340
@HipsterBrown Cool, thank you

[2018-10-04 19:17] #1338 closed

[2018-10-04 19:43] m2mathew opened #1341 "A user should be able to enter the "Meetup" URL without errors"
# NOTE:

This is currently preventing me from creating a collective. Might be happening to others, too.

### Describe the bug

When I am on the `/create` route, the page crashes if I paste in the URL from our meetup site. If I begin typing into the "Meetup URL" field, the cursor moves to the second `<input>` after one key stroke.

### To Reproduce

Steps to reproduce the behavior:
1. Go to `https:

[2018-10-04 19:48] m2mathew opened #1342 "A user receives an error message for a "too-long" value after submitting the Create form"
# NOTE:

This is currently preventing me from creating a collective. Might be happening to others, too.

### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to `/create` route's form
2. Fill out completely
3. Put > 255 characters in the "Short Description" field
4. Error pops up **after** the user clicks the submit but

[2018-10-05 07:59] #1341 closed

[2018-10-05 10:36] BenJam opened #1343 "Add GitHub urls to organisations"
## User story
Organisations with a GitHub account should be able to add their URL as a personal user can.

## Best solution for this problem
Add GitHub url to database, UI and API for orgs as well as individuals.

[2018-10-05 12:10] znarf commented on #1341
@m2mathew, thank you for the detailed bug report!

I hot fixed it. Please confirm that it works for you now.

[2018-10-05 16:18] znarf commented on #1339
Still needs to:

- [ ] Deploy
- [ ] Fix relevant accounts in the database

[2018-10-05 21:38] alannallama opened #1344 "Change sender and preview text for collective update emails"
Currently the update emails say they come from "Hello". This adds to the problem of it not being clear which collective a message is from, and looks a bit odd in today's polished email marketing environment. I suggest changing it to "Update from [Collective Name]".

Also, the first few words that show in the preview are always "view online [collective name] logo", which isn't very engaging or help

[2018-10-05 22:17] alannallama commented on #1167
The other thing this design would fix is the issue where the tax bot tells people they have to submit their tax form, even if they are claiming reimbursement and not invoicing for time (when they don't actually need to do the tax form).

[2018-10-05 22:19] alannallama commented on #1326
Another one @piamancini : the W9 bot currently tells people they have to submit a tax form even if they are are asking for an expense reimbursement, not invoicing for time, which is incorrect. The design in #1167 could fix this, as it differentiates expense types as part of the submission process.

[2018-10-08 21:40] jdorfman opened #1345 "Email Address missing when Exporting CSV on events"
**Describe the bug**
When exporting the CSV of people who bought tickets for [our event](https://opencollective.com/sustainoss/events/sustainuk-2018-442ev), the email addresses are not included.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/sustainoss/events/sustainuk-2018-442ev#tickets
2. Click on `EXPORT CSV`
3. Open CSV (something like `201810-08-sustain

[2018-10-08 23:43] marcogbarcellos opened #1346 "Virtual card monthly limit bugs"
- [x] This is the most serious one: The virtual card query is considering the donation per currency. so if you have a U$50 virtual card and you spend U$50 you'll still be able to spend €50 because it's a different currency.
- [x] Email 0 -> It's considering only the `amount` field and not the `monthlyLimitPerMember`. Also images broken.
![0email](https://user-images.githubusercontent.com/8717041/4

[2018-10-09 06:42] znarf opened #1347 "Can't download invoices"
![screen shot 2018-10-09 at 08 35 19](https://user-images.githubusercontent.com/806/46651061-15284780-cb9f-11e8-9710-77ecce23b1fb.png)

When clicking on "Download receipts", it's leading to an error.

[2018-10-09 13:20] marcogbarcellos opened #1348 "Prepaid getBalance method not working properly on api"
The [query](https://github.com/opencollective/opencollective-api/blob/master/server/paymentProviders/opencollective/prepaid.js#L28-L32) used to find the transactions to build the balance considers only the transactions of the same currency of the payment method, so if the prepaid card is U$ and someone uses the card to pay a EUR transaction, this EUR transactions won't sum up to the balance but it

[2018-10-09 14:56] #1348 closed

[2018-10-09 16:21] marcogbarcellos commented on #1346
Regarding the last issue, I was able to reproduce in staging. I tested something to make sure it's something on either the payment method options query or UI.

These are the ones that are showing up in staging.
![screen shot 2018-10-09 at 12 16 55 pm](https://user-images.githubusercontent.com/8717041/46683219-a1496780-cbbd-11e8-8b8c-d59abcc20488.png)

To test and see if the monthly card would show

[2018-10-09 17:50] piamancini commented on #1346
@marcogbarcellos please edit screenshot to remove my cc details. thanks

[2018-10-09 19:50] piamancini commented on #1343
@znarf This is what we talked today. The mvp of this would be adding a field under the organization's website to record their github org. We can add it to the settings in the db (I guess?). This might come in handy in the future for backyourstack.

[2018-10-10 05:29] alannallama opened #1349 "Users can't comment on expenses"
I hear from users fairly often that they cannot reply to my comments on their expenses. They get an email notification when I ask them a question, and they click through to the expense page, but can't figure out how to comment back. I end up hearing from them via email or they contact support which gets forwarded to me.

I think whats happening is they aren't logged in, so they're seeing the expen

[2018-10-10 05:34] alannallama commented on #1349
OK I just got a more detailed report from a user that makes me think this might be an actual bug, and not just a UX issue.

<img width="681" alt="screen shot 2018-10-10 at 6 32 39 pm" src="https://user-images.githubusercontent.com/5498878/46715110-1353a680-ccbb-11e8-9044-82e8149cf6fd.png">

[2018-10-10 08:57] znarf opened #1350 "No defaultImage for type 'EVENT'"
When creating a new Event there is currently no logo.

We should have something similar to what we have for organizations and collectives.

Collective

![default-collective-logo](https://user-images.githubusercontent.com/806/46724813-1cbd1e80-cc7b-11e8-8931-9ec9095f5414.png)

Organization

![default-organization-logo](https://user-images.githubusercontent.com/806/46724815-1cbd1e80-cc7b-11e8-8f78-f

[2018-10-10 12:32] Betree commented on #965
Would like to take this one!

Adding a **delete** link next to **edit** seems to be the most relevant:

![selection_022](https://user-images.githubusercontent.com/1556356/46736307-02923900-cc99-11e8-8827-a9b77f32541c.png)

We should also add a confirmation to avoid dramas with miss clicks. As of today when we try to delete an event the confirmation is done through a JS confirm:

![selection_023](h

[2018-10-10 15:18] piamancini opened #1351 "no twitter button in donation confirmation email"
We should include a link to a tweet for people to share. Not sure if it's a bug, if it used to be there.
@cuiki to take into consideration as you make progress with the emails.

![screen shot 2018-10-10 at 11 16 45 am](https://user-images.githubusercontent.com/3671070/46746934-18decb80-cc7e-11e8-8541-e5de0e311d86.png)

[2018-10-10 16:17] Betree opened #1352 "Update creation / edition fails silently when form has errors"
**Describe the bug**
When creating or editing an update with invalid parameters (ex: a title that is too long) the request fails silently and no message is shown to the user (though we have a message in the console).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/collective/updates/new (replace `collective` by a collective slug you're admin on)
2. Paste a title t

[2018-10-10 16:39] Betree opened #1353 "Setting an empty title in updates makes it unclickable"
**Describe the bug**
When setting an empty title for an update the title is not displayed anymore and thus the update becomes unclickable, it cannot be edited nor deleted directly. The only way to re-set a real title is to access the update's URL directly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective's updates page
2. Edit an existing update an empty title
3. Go back to

[2018-10-10 18:39] marcogbarcellos opened #1354 "Add new repositories to github slack channel"
We need to add them the same way we have for the `opencollective-api` today(deployment, commits, prs comments, etc):

- [ledger](https://github.com/opencollective/ledger)
- [opencollective-frontend](https://github.com/opencollective/opencollective-frontend) - after renaming this one, the channel stopped sending notifications about it.

[2018-10-10 19:51] znarf commented on #1290
@xdamman What's the status with this ticket?

[2018-10-10 20:41] schontz opened #1355 "CSS for code is broken on windows"
**Describe the bug**
The style for `code` sets `display: inline-block` which does weird things on Chrome for Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/sinon/'
2. See `sinon` blocks
3. See error

**Screenshots**
![sinon](https://user-images.githubusercontent.com/2080286/46764687-fce52500-cc91-11e8-9269-123b67b00901.png)

**Desktop (please compl

[2018-10-10 21:31] piamancini commented on #1355
Thanks @schontz
@HipsterBrown can you take this on on friday?

[2018-10-11 08:42] znarf opened #1356 "Top Bar thinner on search page"
**Describe the bug**
Top Bar is thinner on search than everywhere else

**To Reproduce**

1. Go to 'Home Page'
2. Do a search in the Top Bar.
3. You're navigated to the search page.

**Current Behavior**
The Top Bar is suddenly thinner that on the Home Page.

**Expected behavior**
The Top Bar should be exactly the same.

**Screenshots**

Expected

![screen shot 2018-10-11 at 10 42 57](https://user

[2018-10-12 03:17] alannallama commented on #1326
Added #1349 to improve experience for logged out users seeking to comment on expenses.

[2018-10-12 09:31] Betree commented on #1343
Would like to work on this one :slightly_smiling_face:

In my opinion, it would be nice to have this information provided for **users** too. As of today, they can only set their Twitter handle and a custom website.

[2018-10-12 10:10] znarf commented on #1343
That does make sense. For each case, we have to see if we want the input at registration time, or only when editing the profile. @piamancini what do you think?

[2018-10-12 12:45] piamancini commented on #1343
I think for organizations it makes sense to add it on sign up as well as editing since it will increase the likelihood of the doing it and most organizations have them. Users that are not open source maintainers might be confused by this field on sign up so I would only do it in editing profile.

[2018-10-12 14:11] Betree opened #1357 "Terms of service checkbox is ignored when creating an organization"
**Describe the bug**
When creating a new organization the checkbox `I agree with the terms of service of Open Collective` is ignored and form can be validated without checking it. While transparent for the user, this bug may have undesirable legal implications.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/organizations/new
2. Fill the `name` field
3. Click on `

[2018-10-12 14:13] piamancini commented on #1357
good catch. we need to fix this

[2018-10-12 14:30] marcogbarcellos opened #1358 "Cryptocurrency Implementation"
## User story

### Main story

**Zcash foundation**(an organization) wants to donates **zcash**(cryptocurrency) to **collectives**
Potentially a grant would go to Open Collective Company to develop compatibility.

### Other stories correlated

We may actually have different scenarios regarding cryptocurrencies :

1. A contributor donates an amount in **cryptocurrency** to a Collective that has a *

[2018-10-12 15:38] HipsterBrown commented on #1356
This is probably because the search input is not rendered on the search page. We should probably set a min-height on the TopBar to avoid that issue.

[2018-10-12 17:28] piamancini commented on #1358
@marcogbarcellos making some updates on your core issue. Thanks for starting this!

[2018-10-12 17:42] piamancini commented on #1358
The lowest hanging fruit would be for a collective to have a wallet with a single coin as a host
Collective X gets created via the self serf flow, when setting up a host the option is enabled to add a wallet and chose a coin.
This will automatically set up budget/contribution in that coin denomination.
When expenses are filed, user converts the expense amount (if in fiat) to the collective's coin.

[2018-10-12 17:43] piamancini commented on #1358
ZCash poses an additional challenge because of their shielded addresses.

[2018-10-12 20:11] Betree opened #1359 "Collective slug may conflict with existing routes"
**Describe the bug**
It is possible to create conflicting routes by creating users or organizations with bad names.

* For example, we can override the signin page by creating a user with `signin` as first name and no last name:
![Proof](https://user-images.githubusercontent.com/1556356/46891408-088b4400-ce6a-11e8-96e8-842e66da7542.png)

* Or the "Learn More" page by creating a user with `learn` a

[2018-10-13 17:32] Betree opened #1360 "Collective creation fails when user name cannot be slugifyed"
**Describe the bug**
When creating a new User with a name that cannot be slugifyed (ex: firstName = `....`) the account gets created but the User collective creation fails, leading to a crashing interface as user doesn't have any collective associated to its account.

![Preview](https://user-images.githubusercontent.com/1556356/46908106-eeab3900-cf1d-11e8-84dd-2deded896329.png)

**To Reproduce**
S

[2018-10-13 17:43] Betree opened #1361 ""How it works" and "Discover" links in footer don't work"
**Describe the bug**
`How it works` and `Discover` links in footer don't work. They are however functional when clicked from top navbar (which still use regular `<a href=".../>`, not router `Link` components)

**To Reproduce**

![Preview](https://user-images.githubusercontent.com/1556356/46908218-0a174380-cf20-11e8-9f65-b13fd5b7c4e6.png)

------

Linked to #1294

[2018-10-13 21:25] paladox opened #1362 "Is PayPal supported?"
Hi, im wondering is PayPal supported? Since
https://github.com/opencollective/opencollective/wiki/Paypal shows "No Longer in Use" .

[2018-10-15 07:44] #965 closed

[2018-10-15 10:14] znarf commented on #1361
They should be turned to normal links. Because they are handled from another codebase (legacy).

We still need to integrate these 2 pages in the regular frontend codebase.

[2018-10-15 12:02] znarf commented on #1339
[code]

[2018-10-15 12:02] #1339 closed

[2018-10-15 12:28] Betree commented on #1349
I've been able to reproduce and find the root cause for this issue. I will submit a patch for it today.

@alannallama regarding the suggestions you made:

1. A comment reply notification is something a user could forward to someone. I think it would be risky to include a login token in it as user may not know that the email includes sensitive data.

2. Would be nice, certainly time-consuming to de

[2018-10-15 13:43] znarf commented on #1345
Taking over.

[2018-10-15 14:54] Betree commented on #1311
Resolved by https://github.com/opencollective/opencollective-frontend/pull/910

[2018-10-15 20:41] Betree commented on #1294
Once `learn-more` and `discover` page will be migrated, one should remove the `TemporaryFixMenuLink` component created in https://github.com/opencollective/opencollective-frontend/pull/933 to use a regular `MenuLink` instead.

See this TODO: https://github.com/opencollective/opencollective-frontend/blob/561f679c821f3bc48ac0d617e26ade70a44caabc/src/components/Footer.js#L85

[2018-10-15 21:56] acityinohio commented on #1358
Thanks for adding me to the thread @piamancini! Agree that the lowest hanging fruit option is the best way to start, as things start to get quite complicated when dealing with conversion and multiple coins.

On the ZEC side, it does present more challenges due to shielded addresses, although it also preserves donators' privacy which (depending on the project) can be a very welcome addition. The co

[2018-10-16 06:39] #1345 closed

[2018-10-16 07:01] #1353 closed

[2018-10-16 07:02] #1359 closed

[2018-10-16 07:02] #1360 closed

[2018-10-16 07:03] #1343 closed

[2018-10-16 12:11] znarf opened #1363 "Collective cache not updated after editing Collective"
**Describe the bug**

After editing a collective (for example editing tiers, when going back to the collective page, the changes are not always visible.

**To Reproduce**

1. Go to on a Collective page
2. Edit the Collective
3. Go to the Tiers section
4. Add a new tier
5. Save
6. Click on "View the Collective page"

**Happening**

The new tier is not visible on the Collective page

**Expected**

T

[2018-10-16 16:52] Betree opened #1364 "Tiers "remove" link removes another tier"
**Describe the bug**
When clicking on `Remove Tier` on any tier (except the last one), the tier removed is not the one selected.

See this [screencast](https://www.useloom.com/share/1e023e21170c4aee901e13e2210346c1).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/test-collective/edit
2. Click on **Tiers**
3. Ensure you have at least two tiers, create them if nece

[2018-10-17 09:00] #1363 closed

[2018-10-17 09:43] xdamman opened #1365 "Cancel all yearly subscriptions to /becoworking"
And refund the ones that just got automatically renewed.

[2018-10-17 09:45] xdamman commented on #1365
Running this query to cancel all the subscriptions for this collective (id 696)

[code]

[2018-10-17 11:28] xdamman opened #1366 "Approve email broken"
Missing avatars for recipients and broken approve button

![](https://d.pr/free/i/fEoXfR+)

[2018-10-17 13:15] jhoguet opened #1367 "Getting request error on https://opencollective.com/burlington-code"
**Describe the bug**
When we go to https://opencollective.com/burlington-code we get Request Error

![image](https://user-images.githubusercontent.com/1234146/47088637-f48a6e00-d1ec-11e8-8952-a8698ad12586.png)

In the network tab I can see this is coming from the graphql api

![image](https://user-images.githubusercontent.com/1234146/47088745-2d2a4780-d1ed-11e8-80a8-e72da738bc87.png)

[2018-10-17 15:49] #1366 closed

[2018-10-17 18:02] MichaelMure opened #1368 "Backer reported as sponsor in a Readme"
Github readme: https://github.com/MichaelMure/git-bug
Collective page: https://opencollective.com/git-bug

**Describe the bug**
The backer "TLDR Newsletter" is correctly reported as a baker on the Collective page. However, it's listed as a sponsor in the readme integration.

Likely related, no backers at all are listed on the readme, despite the collective having 2.

Happen on all device I had acc

[2018-10-17 18:18] #1361 closed

[2018-10-18 09:18] #1367 closed

[2018-10-18 09:20] znarf opened #1369 "Unexisting collective not sent as 404"
**Describe the bug**

When going to an account page such as `https://opencollective.com/abcdef` the HTTP Status code is 200 instead of 404.

**To Reproduce**

`curl -I "https://opencollective.com/abcdef"`

**Happening**

HTTP 200

**Expected behavior**

HTTP 404

[2018-10-18 10:26] xdamman opened #1370 "New → Marketing page for /fiscal-sponsorship"
A lot of organizations are already experiencing the pain of fiscal sponsorship.
We have developed a great software to stream line that process. But we aren't communicating about it!

So we would love to create a marketing page to present Open Collective as a platform for managing fiscal sponsorship.

The target audience of that page are non profit organizations that are interested in fiscal sponso

[2018-10-18 11:00] #1365 closed

[2018-10-18 13:05] znarf commented on #1347
There is currently an issue in production preventing the invoices to be downloaded.

[code]

[2018-10-19 07:14] #1364 closed

[2018-10-19 09:33] xdamman commented on #1344
good point, fixing this

[2018-10-19 09:38] xdamman opened #1371 "Show latest updates across all collectives"
It would be good to have a page to list all the latest updates across the platform but also within a host / collection of collectives (e.g. https://opencollective.com/opensource, https://opencollective.com/brusselstogether)

This will also incentivize people to post updates has it will give their collective more visibility.

This could be a section like "Next events" that we have today on the page

[2018-10-19 09:39] #1344 closed

[2018-10-19 09:55] znarf commented on #1368
This is happening because there is for historical reasons conflicting definitions of "Backers" and "Sponsors".

1) Tiers based: in your case $5+ -> "backer" $100+ -> "sponsor"
2) Type based: Supporting individual -> Backer, Supporting organization -> Sponsor

In your Readme, this is the second definition that is currently used.

What I think is needed here: the ability for you to setup your Readme

[2018-10-19 18:56] #426 closed

[2018-10-19 18:56] #712 closed

[2018-10-19 18:56] #749 closed

[2018-10-19 18:56] #968 closed

[2018-10-19 18:56] #1059 closed

[2018-10-19 19:30] MichaelMure commented on #1368
Am I right to understand it's not possible currently?

[2018-10-19 19:56] #1070 closed

[2018-10-19 19:56] #1078 closed

[2018-10-19 19:56] #1083 closed

[2018-10-19 19:56] #1084 closed

[2018-10-19 19:56] #1093 closed

[2018-10-19 19:56] #1117 closed

[2018-10-19 19:56] #1094 closed

[2018-10-20 09:38] znarf commented on #1368
@MichaelMure You're understanding right! However, I think this is an important problem that should be prioritized, and it doesn't seem to be too difficult to build. So stay tuned.

[2018-10-20 14:21] xdamman opened #1665 "Feedback for API v2 second iteration"
First off, this is really exciting. Great job on this. Can't wait to build the first apps! :-)

- [ ] When fetching a list, default limit is 10, we should limit that limit to 100 (right now we can ask for unlimited)
- [ ] We should be able to specify a `startDate` and `endDate` when fetching the list of transactions. Or maybe more simply just specify `year` and `month` ?
- [ ] When getting the lis

[2018-10-20 20:36] #1121 closed

[2018-10-22 13:03] znarf opened #1372 "View Details broken in personal transactions"
**Describe the bug**

An unexpected error is occurring when clicking the "View Details" link in personal transactions.

**To Reproduce**

1. Authenticate
2. Go to your personal transactions
3. Click "View Details"

**Happening**

`An unexpected error has occurred.`

**Expected**

No error

**Screenshots**

![screen shot 2018-10-22 at 14 59 16](https://user-images.githubusercontent.com/806/47293822

[2018-10-22 13:10] znarf opened #1373 "View Details broken on personal transactions"
**To Reproduce**

1. Authenticate
2. Go to your personal transactions
3. For one transaction, Click on "View Details"

**Happening**

An unexpected error has occurred.

**Expected**

No error

**Screenshots**

![screen shot 2018-10-22 at 14 59 16](https://user-images.githubusercontent.com/806/47294151-7c68e180-d60c-11e8-8dd4-3cf0ce13778d.png)

![screen shot 2018-10-22 at 15 01 35](https://user-ima

[2018-10-22 16:45] piamancini opened #1374 "CSS is broken in montlhy consolidated invoice"
**Describe the bug**
Css is broken

**To Reproduce**
Steps to reproduce the behavior:
Download a monthly invoice in from the Open Source Collective

**Expected behavior**
A decent looking invoice with no css issues - specially title and broken logo in the footer
![screen shot 2018-10-22 at 12 42 17 pm](https://user-images.githubusercontent.com/3671070/47305722-63eecc00-d5f8-11e8-9d0e-abc3a0516bf2.

[2018-10-22 16:47] HipsterBrown commented on #1374
@piamancini Can you include a link to that invoice to view in the browser?

[2018-10-22 17:24] piamancini opened #1375 "Marketing Page Feedback + Resources"
- Made some small adjustments to the copy

- [ ] Features for Sponsors Section should have a call to action button after the cards with a contact us to set them up

- [ ] Get an invoice section image should be replaced with an proper consolidated invoice once #1374 is fixed

- [x] See https://github.com/opencollective/sustainer-resources/wiki for links at the bottom of the page.

[2018-10-23 08:05] #1373 closed

[2018-10-25 13:41] johnpeterm opened #1376 "Paypal payment does not go through"
**Describe the bug**
When I make payment through Paypal, the payment does not go through and it gives the following error
![image](https://user-images.githubusercontent.com/20897821/47504189-5e5be500-d889-11e8-908a-eb6e34f4dc3f.png)

**To Reproduce**
Go to this link and make payment through paypal https://opencollective.com/pressbooks/donate

**Expected behavior**
Payment does not go through and g

[2018-10-25 18:01] marcogbarcellos commented on #1376
Hi @johnpeterm , I really appreciate you taking the time to report this issue. I couldn't reproduce the problem locally, would you mind about giving us some more details. For example: Did the problem occur when you clicked in the paypal button or you were able to see the paypal login popup, and then you logged in and authorized the payment and the error showed up? I would really appreciate more in

[2018-10-26 04:44] johnpeterm commented on #1376
Steps
1.open the link https://opencollective.com/pressbooks/donate
2.login or if you are already logged in, it will show the pressbook detailed page
3.Select or enter the price
4.Choose paypal as payment method and click
5.Paypal pop up opens and enter card details and click pay
6.Returns back to opencollective dashboard with the message
"An error occured 😳. The order didn't go through. Please try

[2018-10-26 06:52] limonte opened #1377 "Should return http code 404 for nonexistent pages"
**Describe the bug**

It's essential to use http codes properly, especially 404 :)

Some background: I'm planning to add automated checks for nonexistent OpenCollective pages for https://github.com/feross/thanks

Right now, it's impossible because every page, even nonexistent, returns 200.

**To Reproduce**

[code]

**Actual behavior**

`HTTP/2 200`

**Expected behavior**

`HTTP/2 404`

**Screensh

[2018-10-26 09:53] znarf commented on #1377
Also reported as https://github.com/opencollective/opencollective/issues/1369

I haven't found an easy fix for that yet (using Next.js).

An alternative is to use our GraphQL API for that, https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff

[2018-10-26 10:19] znarf commented on #1321
Enhancement

- [ ] Enhancement: Marketing Landing Page
- [ ] Enhancement: Client side balidation of the code

General

- [ ] Change link in email for the version with code, nor hardcoded parameters

Backend

- [ ] createPaymentMethod should not accept queries without a paymentMethodId

Unauthenticated experience

- [ ] No email explaining the account creation.
- [ ] Check content of user.card.clai

[2018-10-26 10:57] alannallama opened #1378 "Users unable to edit expenses"
I have received multiple reports from users when I ask them to update an expense (to correct an invoice for example) that they can't see the 'edit' option. They've confirmed they are logged in and are the users who created the expense. I show them a screenshot of where the link should be, and they say they can't see it at all.

[2018-10-26 11:00] marcogbarcellos commented on #1376
Hey @johnpeterm , Thanks once more. so I tried reproducing locally your problem and wasn't able to. Then I just tried using my own paypal in Production and was able to make the payment:
I've donated 10USD to mongoose. You can see the donation listed here: https://opencollective.com/mongoose/transactions

![screen shot 2018-10-26 at 6 56 49 am](https://user-images.githubusercontent.com/8717041/4756

[2018-10-26 11:04] marcogbarcellos commented on #1378
Hi @alannallama , can you give me some more details. I'd like to know at least the status(Pending, Approved, etc) of the expenses you're talking about. I remember that once you asked me to change the payment method of an expense but as it was approved I couldn't do much at that point. I believe you can only edit an expense when it's **pending**.

In my opinion we could change the whole workflow bu

[2018-10-26 11:07] marcogbarcellos commented on #1346
Yeah @znarf, thanks for the catch. didn't want to close this issue through the PRs(because it wa solved by multiple PRs) and forgot to close it after having them merged. closing...

[2018-10-26 11:07] #1346 closed

[2018-10-26 12:45] jfdh opened #1379 "Invoice automation"
## User story
Collectives receiving (public) subsidies must rename their invoices with a mandatory reference, following a strict chronology. This name must also be printed on the invoice itself.

When uploading invoices on open collective, it would be handy if it was possible to rename the document. Once confirmed, this new name should be printed on the invoice itself and also become the new name

[2018-10-26 18:08] HipsterBrown commented on #1168
This feature has been release in production today. 🚀

Followup work:

- remove feature flag environment variable after a week of no issues
- integrate pledges flow into Back Your Stack.

[2018-10-26 18:08] #1168 closed

[2018-10-27 10:37] jeans commented on #1371
I agree, this is kind of missing. As a logged-in user you click on the OC logo, go to home and then you're asked to join the movement - just like any other anonymous, first time visitor.

1. a simple activity-stream that only displays latest updates from the collectives you're backing, maybe with filters for transactions, updates, events in a second step
2. the same activity-stream on every collec

[2018-10-27 15:26] xdamman opened #1380 "Wrong currency recorded when refunding a transaction in GBP"
I had to refund the last transactions on https://opencollective.com/norwichsharingcity/transactions which a collective hosted on Open Collective UK in GBP.

The refunds worked all good (we double checked in the Stripe account) but the transactions had the USD currency in our database. It's probably because it used the currency of the `FromCollectiveId` of the donor which is by default USD.

FYI I

[2018-10-27 15:39] xdamman opened #1381 "List of collectives hosted shouldn't include events"
https://opencollective.com/uk is showing the event collectives under "collectives we are hosting". They shouldn't be included.

[2018-10-27 15:40] xdamman opened #1382 "Wrong currency when applying to Open Collective UK"
Latest collectives that applied to OC UK had their currency still in USD instead of GBP

[2018-10-27 15:44] xdamman opened #1383 "Cancel all subscriptions for a collective"
We need to cancel all active subscriptions made to https://opencollective.com/norwichsharingcity

(would be good to have an easy way to deactivate a collective that would also take care of that)

[2018-10-27 20:30] xdamman commented on #1383
This query will cancel all active subscriptions for a given collective (here `CollectiveId` = 967):

[code]

[2018-10-27 20:32] xdamman commented on #1383
Query run on production, 9 subscriptions cancelled.

[2018-10-27 20:34] xdamman commented on #1383
I've added that query to the wiki for further reference.
https://github.com/opencollective/opencollective/wiki/Queries-for-collectives#cancel-all-active-subscriptions

Closing the issue.

[2018-10-27 20:34] #1383 closed

[2018-10-29 03:58] alannallama commented on #1378
@marcogbarcellos what should we do in [this circumstance happening now](https://opencollective.com/vuejs/expenses/5437)? They need to change the type to paypal and input their address. Do I have to get them to email me their paypal email (because they might want to write it privately) and then edit it myself? It's a real problem if the users can't fix errors themselves.

[2018-10-29 16:21] piamancini commented on #1378
I think anyone should be able to edit their own expense and the status should go back to 'pending' and needs to be re-approved by either an admin of the host (if it was approved previously and the amount didn't change, I think this is ok to do) or a core contributor of the collective.
(I thought this was the current behavior).

[2018-10-29 16:22] marcogbarcellos commented on #1378
Thanks for the input @alannallama , imo this is an important discussion: define how the expense workflow will be(including editions on expenses that were already approved). having @piamancini and @xdamman involved in this discussion seems interesting.

For the VUE case , the user is question has already his paypal email on file(I have just checked in production) so to solve this problem quickly I

[2018-10-29 16:36] marcogbarcellos opened #1384 "Expense creator must be able to edit expense after the expense is approved"
**Story**
A Contributor creates an expense through a Collective. The contributor is able to edit the expense after it's approved but once it's approved the user can't edit.

**To Reproduce**
1. Create an expense through a collective
2. Collective admin approves the expense
3. Expense cannot be edited by the creator anymore

**Expected behavior**

The expense must remain editable until it's **PAID*

[2018-10-29 16:40] marcogbarcellos commented on #1378
@alannallama through what I understood from the issue, It was kinda clear the user was ok about changing the payment method to paypal and that's what I did. Let me know if it's ok now or you want me to change something more. I've also created an issue detailing how the expense workflow should be so we can fix this edition problem.

Thanks.

[2018-10-29 18:30] marcogbarcellos commented on #1354
done.

[2018-10-29 18:30] #1354 closed

[2018-10-29 22:20] alannallama commented on #1378
OK that one is now paid, thanks @marcogbarcellos

@piamancini yes, if you edit an expense it goes back to pending, and I think that's the right behavior.

If this is complex, let's add it to the overall expense flow redesign work. If it's an easy change to extend permissions for editing to the user who created an expense, it would be great if it could be changed sooner, because this comes up all t

[2018-10-30 13:09] marcogbarcellos commented on #1378
Cool, I'm closing this issue as we'll follow up with the #1384 to solve this expense workflow. thanks @alannallama

[2018-10-30 13:09] #1378 closed

[2018-10-30 20:40] piamancini opened #1385 "sponsors transactions show net amount, should show gross amount"
https://opencollective.com/salesforce/transactions
Salesforce should see at a glance that they gave $1000 not $871.
@xdamman I think this is related to your transactions change? Can you please look into?
Thanks
![screen shot 2018-10-30 at 4 37 35 pm](https://user-images.githubusercontent.com/3671070/47748967-6b4e4f00-dc62-11e8-9ca5-2beed8094378.png)

[2018-10-31 02:20] alanna opened #1386 "Design for automating tax form process"
I just went through the tax form process for the Medium partner program. They use a third party provider called Tipalti to do it all online. As Open Collective scales, you might want to look into this option.

Here are screenshots of the process...

<img width="536" alt="screen shot 2018-10-31 at 3 10 51 pm" src="https://user-images.githubusercontent.com/5498878/47762119-27ba1a80-dd20-11e8-9321-a1

[2018-10-31 14:35] piamancini opened #1387 "Page to show all pledged collectives"
It'd be great to have all pledged collectives in one page, to point people there.
We already have a first one and we've found out via twitter.

---

*Edit by @Betree: see detailed specs [below](https://github.com/opencollective/opencollective/issues/1387#issuecomment-469169313)*

[2018-10-31 18:16] piamancini commented on #1386
this is great  and I think we should do the invoices on the fly too.

[2018-10-31 18:20] piamancini opened #1388 "Onboarding new core contributors"
- [x] email address
- [x] add to google groups
- [x] add to slack team & howdy
- [x] add to standups / working days calendar
- [ ] announce in newsletter
- [ ] set up peer programming sessions during the first week(s)
- [ ] invite to figma

cc / @znarf
@xdamman can you please generate benjamin@opencollective.com? thanks!

[2018-10-31 21:05] xdamman opened #1389 "Pledge flow improvements"
It's quite deceiving that we let people fill out the form just to realize that they cannot go any further without logging in (and lose all the info they already entered in the process).
![](https://d.pr/free/i/HJIE23+)
Can we either force the user the log in first or (better) ask for the email as part of the form and only record the pledge after email confirmation?

Also would be good to suggest t

[2018-10-31 21:17] HipsterBrown commented on #1389
I remember blocking the form if the person is not logged in at one point while developing. Not sure what happened to that change but I can add it fairly quickly.

We currently have the suggestion to search by the collective slug in the 404 page, which will have the pledge call-to-action button.

[2018-11-01 13:42] piamancini opened #1390 "backers are seeing the refund button on their profile"
backer made a donation with the wrong profile and hit the refund button so he could made the donation again with the right profile.  It's unclear  for the user is the refund went through or not. From the data base it seems like it didn't.
Users shouldn't see a refund button until there's an agreement on how and if users we'll issue refunds.

[2018-11-01 14:28] dahacouk opened #1391 "Capitalisation of titles not honoured by email reports..."
**Describe the bug**
Capitalisation of titles not honoured by email reports.

**To Reproduce**
Check any report emails coming from a collective.

**Expected behavior**
I'd expect capitalisation of titles to be honoured by email reports.

**Screenshots**
I'd expect the each word of "World Peace Now" to be capitalised.
<img width="632" alt="inbox__115_messages__5_unread_" src="https://user-images.gi

[2018-11-01 14:33] haakonnessjoen opened #1392 "A donation has a red arrow, as if it is an expense"
**Describe the bug**
A donation has a red arrow, as if it is an expense

**To Reproduce**

After reloading, I cannot reproduce. But I did take a sceenshot.

It was present on this page:
  https://opencollective.com/companion#budget

**Screenshots**
![image](https://user-images.githubusercontent.com/416667/47857964-3d484680-ddeb-11e8-81d5-f5591ea3ccbd.png)

[2018-11-01 15:59] Carodem opened #1393 "Approved expenses but not paid"
Hello !

On HuNeeds page (https://opencollective.com/huneeds#team).
Some of my expenses were paid but others only approved (older expenses than the paid ones).
3 approved expenses are still pending for payment (3 x 22,95€ for June, July and August).
![capture d ecran 2018-11-01 a 16 49 27](https://user-images.githubusercontent.com/36923849/47863370-640c7a00-ddf7-11e8-90ed-ab61430d69cc.png)
![captu

[2018-11-02 03:12] sloria opened #1394 "Error when completing a pledge and funding from a collective"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Complete My Pledge"
2. Change "Contribute as" to a collective
3. Click "donate"
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img

[2018-11-02 13:39] xdamman commented on #1372
Not sure why this didn't get closed automatically 10 days ago. Closing now.

[2018-11-02 13:39] #1372 closed

[2018-11-02 14:12] #1385 closed

[2018-11-02 15:07] #1389 closed

[2018-11-02 15:13] HipsterBrown commented on #1394
Thanks for creating an issue @sloria. I'll look into this today.

[2018-11-02 17:00] HipsterBrown commented on #1394
@sloria Can you provide a link to the pledge completion form so I can get the id of order in the database?

[2018-11-02 18:20] sloria commented on #1394
@HipsterBrown sure thing. https://opencollective.com/pledges/16923

[2018-11-02 20:16] HipsterBrown commented on #1394
@sloria I just tried it on our staging area and was able to complete the pledge. Can you share a full screenshot of the pledge form in your view?

I think it may have been a race condition between updating the pre-commit collective with a host and the completing of the pledge.

[2018-11-02 20:53] sloria commented on #1394
@HipsterBrown I'm not able to reproduce the issue since I already went through the normal contribution flow on pre-commit's collective.

I didn't change anything else on the form except for the two fields in my screenshots above ("Contribute As" and "Credit Card").

[2018-11-02 21:07] xdamman commented on #1390
FYI, right now only the ROOT users can refund a transaction but we had decided that we should allow the author of a transaction to refund themselves within 24h and that we should also allow the admins of the host to do it anytime. But we haven't implemented any of those scenarios.
I'd argue that we should also allow the admins of the collective to do it (maybe with a time limit of 1 month?)
The mo

[2018-11-02 21:33] xdamman opened #1395 "Super slow query to get balance of logged in user's payment methods"
This is incredibly slow:
https://github.com/OpenCollective/opencollective-api/blob/c7e493123169a5f4f7601edb676f6e7c45291642/server/graphql/v1/CollectiveInterface.js#L1189

- [ ] add an index `PaymentMethodId_deletedAt` to the `Transactions` table.
- [ ] Refactor to execute this in parallel and not in series (`Promise.all`) or, better, use a `loader`

[2018-11-02 21:37] xdamman commented on #1395
Also, it's weird that you compute the balance for cards that you may never return:
https://github.com/OpenCollective/opencollective-api/blob/c7e493123169a5f4f7601edb676f6e7c45291642/server/graphql/v1/CollectiveInterface.js#L1197
(I'd make sure you don't compute the balance for more than `args.limit` cards)

[2018-11-02 21:44] xdamman opened #1396 "Super slow queries"
You can run the backend with `DEBUG=psql npm run dev` to see all the queries with their execution time in ms. Queries shouldn't take more than 1s. You may want to see if we shouldn't add some indexes or loaders.

This is just to load the page `http://localhost:3000/uk`
(might also be related to my current logged in user: xdamman)

  psql -------------------- <query> --------------------
[code]
---

[2018-11-02 22:15] #1381 closed

[2018-11-02 22:42] #1390 closed

[2018-11-02 22:47] xdamman opened #1397 "Fix transaction component content"
Right now: "to webpack to webpack" (not very useful on the transactions page of the webpack collective)
![](https://d.pr/free/i/UWFYc6+)

After:
![](https://d.pr/free/i/Qmt1uq+)
(also removed "expense to"

[2018-11-02 23:13] #1397 closed

[2018-11-03 10:45] marcogbarcellos commented on #1396
Some suggestions(not necessarily all of them together and respectively) on how we can approach this issue:

- Create effective indexes on the related table
- Improve/simplify query
- Look for caching solution through either sequelize or directly on the project itself
- Create views on the database
- Identify the slowest queries(not only for one user but in general) and run jobs to store straight r

[2018-11-03 19:01] piamancini opened #1398 "allow users to delete pending subscriptions"
backer pledges twice to the same collective and wants to remove one of the pending subscriptions.
There's no mechanism to delete them atm.

[2018-11-04 04:46] astorije opened #1399 "Backer snippet is not responsive"
**Describe the bug**

The snippet for backer avatars provided at https://opencollective.com/xyz/edit#export are not responsive and go out of the screen on mobile.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://deploy-preview-84--thelounge.netlify.com/community#donate-to-the-project on mobile or using the device emulation in browsers' dev tools.
2. You will see that as opposed

[2018-11-04 10:20] alannallama opened #1400 "White collective logos don't show up in thumbnail view"
See https://opencollective.com/wwcode#members

Most of these collectives have a while logo because on their collective page the background is colored. But in the thumbnail view, it just looks like a bunch of blanks. I suggest the thumbnail background takes the same color/image as the collective header background.

[2018-11-04 22:51] #1066 closed

[2018-11-05 10:49] xdamman opened #1401 "Paypal platform fees"
Unlike Stripe, Paypal doesn't allow us to automatically take our 5% platform fee.
So we have to manually bill the host for the platform fees.

Right now, Paypal has been hard coded for the open source collective.

Here is a query to monitor the total amount of platform fees that we should bill the open source collective:

[code]

Total: $817 from June 2018 till October 2018 included.
@piamancini c

[2018-11-05 11:23] xdamman opened #1402 ""donate/pay our collective" button with custom redirect"
When I talked to @andrew and @benjam from the [Octobox collective](https://opencollective.com/octobox) at [Sustain](https://opencollective.com/sustainoss), they expressed the need to be able to redirect people from [their website](https://octobox.io) to their open collective to pay and then being redirected back with a way to know if their payment went through.

That's actually something that we h

[2018-11-05 11:53] andrew commented on #1402
@xdamman that sounds perfect 👌

[2018-11-05 13:35] xdamman commented on #1302
Fixed in https://github.com/opencollective/opencollective-frontend/pull/995

[2018-11-05 13:35] #1302 closed

[2018-11-05 14:39] piamancini commented on #1401
The correct process to pay is for open collective to submit an invoice to the open source collective in opencollective.com/opensource
This payment is not a donation.

[2018-11-05 15:16] piamancini opened #1403 "core contributor feedback for collective page"
<img width="911" alt="screen shot 2018-11-05 at 10 14 45 am" src="https://user-images.githubusercontent.com/3671070/48006571-ba253a00-e0e3-11e8-883c-7eed0241b160.png">

cc @cuiki

[2018-11-05 17:48] #1398 closed

[2018-11-05 20:12] HipsterBrown commented on #1394
While working with @piamancini, we figured out the issue. I'm working on a patch now.

[2018-11-05 23:35] Betree commented on #1369
Tough one. Though not a really elegant solution, this should work:

1. Define a notFoundError that throws with `code = 'ENOENT'` (see https://github.com/zeit/next.js/issues/4451#issuecomment-391116035)
[code]

2. In **render**
[code]

3. Add a `src/page/_error.js` that conditionally render errors (see https://github.com/zeit/next.js#custom-error-handling)
[code]

[2018-11-06 08:40] znarf commented on #1400
I think these should have a default (colored) background. That should solve the issue.

[2018-11-06 08:45] znarf commented on #1399
@astorije Your link to reproduce the issue doesn't work anymore, can you update it? Thank you!

[2018-11-06 08:47] znarf commented on #1396
@xdamman I tested all 3 queries and they all execute in ~100ms.

[2018-11-06 08:47] #1396 closed

[2018-11-06 08:49] Betree opened #1404 "Contributors card alignment is inconsistent"
**Describe the bug**
Contributors card alignment is inconsistent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/wwcode#budget
2. Scroll to `Contributors`

**Expected behavior**
Should always have the same spacing between cards.

**Screenshots**
![Preview](https://user-images.githubusercontent.com/1556356/48052651-df2fb080-e1a8-11e8-9afb-8c07adc4be28.png)

*

[2018-11-06 08:49] znarf commented on #1395
@xdamman @marcogbarcellos can you share a sample SQL query to see what we're talking about?

[2018-11-06 08:57] znarf commented on #1393
Hi @Carodem, thank you for contacting us. Was that processed since you reported the issue? Please contact support@opencollective.com if that's not the case.

[2018-11-06 09:00] znarf commented on #1392
@haakonnessjoen thank you for reporting. It might be difficult to solve if we can't reproduce the issue. Please update the issue if you find a way!

[2018-11-06 09:11] Betree commented on #1391
Template (`opencollective-api/templates/emails/collective.monthlyreport.hbs`) uses `capitalize` which, [according to the docs](https://github.com/helpers/handlebars-helpers#capitalize) capitalize only the first letter and downcase the rest.

We could switch to [`capitalizeAll`](https://github.com/helpers/handlebars-helpers#capitalizeall) which would produce the desired result, but it seems we shou

[2018-11-06 09:14] #1375 closed

[2018-11-06 09:16] znarf commented on #1384
@marcogbarcellos What's the complexity? Is that a priority?

[2018-11-06 09:17] znarf commented on #1382
@xdamman What's the status on this?

[2018-11-06 09:18] Betree commented on #1384
Changing categories and description could be really useful but it seems to me user should not be able to change the amount, payment method and email.

[2018-11-06 09:19] Carodem commented on #1393
Hello, not it wasn't processed yet... Thanks !

[2018-11-06 09:20] znarf commented on #1377
Closing, let's track that in https://github.com/opencollective/opencollective/issues/1369

[2018-11-06 09:20] #1377 closed

[2018-11-06 09:59] znarf commented on #1320
@xdamman what's the status on this? should that be prioritized?

[2018-11-06 10:15] znarf commented on #1334
@marcogbarcellos this is flagged as a priority, is that still the case?

[2018-11-06 10:16] znarf commented on #1290
ping @xdamman Please close if that's done or not relevant anymore.

[2018-11-06 10:31] #1332 closed

[2018-11-06 10:33] Betree commented on #1349
https://github.com/opencollective/opencollective-frontend/pull/954 is now deployed in production, showing a `Login to comment` button when appropriate. We also show a message if user doesn't have permission to comment.

![Button preview](https://user-images.githubusercontent.com/1556356/48058735-7e5ba480-e1b7-11e8-8ef8-aeafe15adc9d.png)

[2018-11-06 10:33] #1349 closed

[2018-11-06 11:03] #1289 closed

[2018-11-06 11:07] znarf commented on #977
Point 2. Will be addressed by a revamp of the contribute flow. This was also mentioned in https://github.com/opencollective/opencollective-frontend/issues/468

[2018-11-06 11:11] znarf commented on #1388
Let's maybe have this list out of an issue? Projects might be a good way to do that.

[2018-11-06 11:20] #1311 closed

[2018-11-06 11:33] znarf commented on #1156
Missing some precise expectation on what to do here. Can we perhaps track that in multiple issues?

[2018-11-06 11:42] znarf commented on #464
I could not figure a clear expectation on how to move that issue forward.

Let's extract clear issues out of this and close it.

[2018-11-06 13:21] cuiki commented on #709
I believe this means that there is no place to view or even edit the email address a user signed up with. I think this needs a two-step solution to fix first the immediate issue of visibility, and then the issue of being able to update the email of a user's OC **personal account.**

First, there is one place we can provide this info quick and easy way. Just so users can see the email address they

[2018-11-06 13:51] patcon commented on #464
GitHub Actions beta is on. They're looking for people doing interesting things. Someone with OC could prob submit on behalf of the GitHub org, then tweet to bump up in the queue. Details:

https://blog.github.com/2018-10-17-action-demos/

[2018-11-06 15:56] #1394 closed

[2018-11-06 16:33] HipsterBrown commented on #1394
@sloria The fix has been deployed to production. Thanks again for creating this report. 👍

[2018-11-06 16:47] sloria commented on #1394
@HipsterBrown Thanks for the quick resolution!

[2018-11-06 16:50] Betree opened #1405 "Contribute form: custom amount input is too small"
**Describe the bug**
Custom amount input in contribute form is too small. Value starts to be truncated above two numbers.

That means a user setting `10` as value cannot know from just looking if the field contains `10`, `100` or `1000`.

![Preview](https://user-images.githubusercontent.com/1556356/48079210-30609400-e1eb-11e8-9af2-0e9d283d9e08.png)

It may become worse if monetary abbreviation is

[2018-11-06 17:04] GazCloud opened #1409 "Update card details doesn't work"
When updating card details on an existing contribution, once all details are entered, the "save" button does not light up. In order to update my details, I had to cancel my subscription and re-affiliate with the page in question.

[2018-11-07 00:15] sloria opened #1406 "Sponsor missing in sidebar"
**Describe the bug**

One of marshmallow's sponsors is not appearing in "sponsor" section of the sidebar on the collective overview page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/marshmallow
2. See "sponsors" in the right sidebar

**Expected behavior**
Gorgias appears as a sponsor.

**Screenshots**
<img width="200" alt="image" src="https://user-images.

[2018-11-07 02:05] marcogbarcellos opened #1407 "Credit Card Payments not working in Staging environment"
**Describe the bug**

Not able to use credit cards In the **staging** environment.

Steps to reproduce the behavior:

**To Reproduce**
1. Go to https://staging.opencollective.com
2. Go to a collective
3. Try to pay with a credit card
4. See error:
![screen shot 2018-11-06 at 8 54 53 pm](https://user-images.githubusercontent.com/8717041/48105671-66f7d800-e206-11e8-9cdb-cf5c6836ec50.png)

**Expected

[2018-11-07 03:07] xdamman commented on #1325
Done but broken. There is a misalignment of the text on mobile. It’s badly centered. Can you fix it or find a way to get the person who wrote the responsive version to directly contribute to the code?

[2018-11-07 08:44] znarf commented on #1325
@xdamman screenshot?

[2018-11-07 09:28] znarf commented on #1406
To appear under the sponsor tier, you have to contribute trough that 'tier' flow.
https://opencollective.com/marshmallow/order/4465

I think in that case the sponsor contributed with the 'free' donate flow:
https://opencollective.com/marshmallow/donate

If you want, an Open Collective admin can update the subscription to be in the proper tier.

[2018-11-07 09:37] jfdh opened #1408 "OC displaying dollars instead of euros"
**Describe the bug**
OC interface displaying dollars instead of euros

**Screenshots**
![screenshot 2018-11-07 at 10 34 39](https://user-images.githubusercontent.com/30813303/48122945-0eadee00-e279-11e8-9671-106460aa9989.png)

**Desktop (please complete the following information):**
 - OS: OSX
 - Browser Chrome

[2018-11-07 09:45] znarf commented on #1408
@jfdh can you link to the collective?

[2018-11-07 09:54] xdamman commented on #1408
That's because all backers collective fall back by default to USD :-(
I fixed it in the database.

[2018-11-07 09:56] znarf commented on #1408
@xdamman how can we fix the root cause? is there an open issue?

[2018-11-07 09:58] znarf commented on #1407
@marcogbarcellos I don't see that in stripe documentation, in which section is it?

Sounds like a mismatch between Stripe's live API Key (or IDs created with it) and Stripe's test API Key.

[2018-11-07 10:01] #1402 closed

[2018-11-07 10:06] xdamman commented on #1395
[code]

[2018-11-07 10:07] xdamman commented on #1395
Each of those queries takes more than one second on my computer and it's repeated for every single collective that I'm an admin of. It makes it impossible for me to be logged in locally.

[2018-11-07 10:13] znarf commented on #1395
@xdamman Look like they are executing fast ~100ms. Are you sure you're not misinterpreting the output in the console?

[2018-11-07 10:15] xdamman commented on #1395
see above, each of those queries take more than 1000ms because it's doing a full table scan on the `Transactions` table because there is no index on `PaymentMethodId`

[2018-11-07 10:22] znarf commented on #1409
@GazCloud Thank you for reporting that. Can you try again?

If this doesn't work can you make a video of it? Alternatively, provide a precise description of every step with screenshots?

[2018-11-07 10:31] znarf commented on #1391
@xdamman We suggest to drop `capitalize`? Ok?

Alternative is to use `capitalizeAll` but we think it's better on the long term to not touch capitalization and use the name as it's stored.

[2018-11-07 10:31] looisjl commented on #1261
Hello, I don't know if that's the same issue but hello I've created tickets for an event https://opencollective.com/make-it-sound/events/repair-cafe-100-audio-make-it-sound-18-11-16878ev#tickets > I defined "5" as booking limit but it does seem to appear anywhere or have any effect.. can you help me? Cheers Thanks

[2018-11-07 10:52] xdamman commented on #1261
That's a different issue. I'll create a new one.

[2018-11-07 10:53] xdamman opened #1410 "Show number of available tickets in event page"
Right now we don't show the number of available tickets when set.

See https://github.com/opencollective/opencollective/issues/1261#issuecomment-436578995

[2018-11-07 11:16] Betree opened #1411 "Collectives without hosts should not be able to add paying tickets to events"
**Describe the bug**
Collectives without financial host can add paying tickets to their events. If someone tries to order them, an error will be shown as API expect the collective to have an host.

![Error preview](https://user-images.githubusercontent.com/1556356/48128282-440d0880-e286-11e8-82eb-b219176837ff.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective page withou

[2018-11-07 11:32] znarf commented on #1410
@xdamman can you add labels?

[2018-11-07 13:28] sloria commented on #1406
OK, thanks for the clarification. Consider this a feature request, then. Contributors should appear in the relevant tier, even if they went through the "free" donate flow.

It looks like this is already happening in the "Contributors" section and the auto-generated widgets:

<img width="118" alt="image" src="https://user-images.githubusercontent.com/2379650/48133966-80c90780-e266-11e8-8f00-bfdd76e

[2018-11-07 13:39] marcogbarcellos commented on #1384
@znarf I'd say we need to discuss the whole expense workflow, not only this part. Otherwise we would work on it and then would need to change other part later on. But having this issue in mind, I believe it could be done in one day(complexity > medium) and it's not a high priority unless someone say so...

[2018-11-07 13:42] marcogbarcellos commented on #1334
this is solved with the pr https://github.com/opencollective/opencollective-frontend/pull/909

[2018-11-07 13:42] #1334 closed

[2018-11-07 13:43] marcogbarcellos commented on #1264
hey guys, sorry but I completely missed this issue. what's the status on it @piamancini ?

[2018-11-07 13:49] marcogbarcellos commented on #1407
@znarf the tokens and cards list are in the link:
![screen shot 2018-11-07 at 8 46 04 am](https://user-images.githubusercontent.com/8717041/48134985-a572ae80-e269-11e8-8900-37a12f8ad27c.png)

And regarding the customerId I didn't find it on their docs but figure out trying by myself if we set it to null on our end, stripe will "understand". I think the Stripe API Key is already correct for the Sta

[2018-11-07 15:19] piamancini commented on #1264
We still need to add an open collective payment method to this collective.

[2018-11-07 15:28] piamancini commented on #1264
closing then. Thanks

[2018-11-07 15:28] #1264 closed

[2018-11-07 16:23] marcogbarcellos opened #1413 "Old Open Collective Virtual Cards with subscription issues"
When we created the first virtual cards(the ones from and for employees of opencollective), we figured out the issue #1337 with its subscriptions. And then we fixed the problem with the PR https://github.com/opencollective/opencollective-api/pull/1467 but we never fixed the original Orders for these first virtual cards created.

These virtual cards used the `Payment Method Id: 15166` as their sour

[2018-11-07 16:28] cborodescu opened #1414 "Predicting Churning Backers"
## User story
_As a Collective, I can see predictions about backers that are most likely to churn so that I can proactively reach out & incentivize them to continue supporting us._

## Best solution for this problem
_In the "View All Transactions" section, for each backer see a label such as: loyal, neutral, churning._

## MVP
_Simply send an e-mail notification to the Collective owner/admin (ever

[2018-11-07 17:01] znarf commented on #1406
Manual update is done.

[2018-11-07 17:04] marcogbarcellos commented on #1413
Fixed using the following queries(with explained comments):

[code]

[2018-11-07 17:04] #1413 closed, assigned to marcogbarcellos

[2018-11-07 17:04] piamancini commented on #1002
yes. closing in favor of it #1317

[2018-11-07 17:04] #1002 closed

[2018-11-07 21:37] piamancini opened #1415 "collectives are not taking the currency of the host"
**Describe the bug**

collectiveId=21190 was set to USD when the host (id=21188) was in AUD
collectiveId=21738 was set to USD when the host (id=21739) was in EUR

I manually changed both.

**Expected behavior**
For the collective to automatically take the currency of the host (this used to happen)

**Additional Context**
Run this query
[code]
And only 5 collectives are mismatched with the host whi

[2018-11-07 21:44] piamancini commented on #1388
done https://github.com/opencollective/opencollective/projects/5

[2018-11-07 21:44] #1388 closed

[2018-11-08 02:04] cuiki commented on #1190
Update:

Saraí (front-end contractor) will begin on this page next Monday, Nov 12 and it should be ready by the following Thursday or Friday, following the instructions that @znarf sent me.

[2018-11-08 04:34] marcogbarcellos opened #1416 "Update data field on transactions after a refund"
After marking the transactions as refunded(we basically create new transactions and fulfill them all with `RefundTransactionId`), the transaction data doesn't update and keeps showing the old stripe `charge` data as there was no refund.

The charge object(inside the `Transaction.data` JSON field), which remains outdated after a refund:

[code]

But if we look at the same `charge.id` in stripe, we

[2018-11-08 04:41] marcogbarcellos opened #1417 "Standardize Transaction data JSON object for Transactions and Refund Transactions"
The "ordinary" transactions data field has the following payload:

[code]

The refund transactions have a different payload:

[code]

We should make them the same. as there's way more "ordinary" transactions than refund ones, I'd say we could go with the following:

[code]

[2018-11-08 08:53] astorije commented on #1399
Uh, that's odd, thanks for the nudge!
I have updated the PR description. [This is the code](https://github.com/thelounge/thelounge.github.io/pull/138/files#diff-f3b3effc19b97b19aaf2ce392427d255R31) that corresponds to this btw, if that's any useful.

Thanks!

[2018-11-08 09:20] znarf commented on #1415
@xdamman can you have a look?

[2018-11-08 14:18] xdamman opened #1418 "Double check monthly numbers"
From Pia's email:

[2018-11-08 14:41] znarf commented on #1279
@marcogbarcellos Close?

[2018-11-08 14:43] znarf commented on #1391
@xdamman Any opinion?

[2018-11-08 14:43] marcogbarcellos commented on #1279
Sure, If the issue come up again we can always reopen or create a new one...

[2018-11-08 14:43] #1279 closed

[2018-11-08 14:47] znarf commented on #1391
@xdamman taking it for tomorrow then!

[2018-11-08 15:19] piamancini opened #1419 "Update credit card is failing"
**Describe the bug**
From user: opencollective.com/genuinebeehive:
I'm trying to update the payment method for my organization account (https://opencollective.com/genuinebeehive/edit#paymentMethods), however it's not working for me... it shows me the old card removed (it expired) and allows me to add a new one,  I get a "saved" message, but when I leave the payment methods and come back, the old c

[2018-11-08 15:42] jfdh commented on #1408
Thanks @xdamman

[2018-11-08 17:35] Betree commented on #1321
Enhancement

- [ ] [Future VirtualCards implementation: possible risk of double spending? #1412](https://github.com/opencollective/opencollective/issues/1412)

Bug fix

- [ ] Zombie gift cards: if user ends up with a balance < `$0.50` on its VirtualCard, he won't be able to use them (minimum amount for a transaction is `$0.50`). We should keep this minimum amount to avoid having too much micro-tra

[2018-11-08 18:35] phated commented on #543
I might have a chance to look at this coming up.

[2018-11-08 19:43] znarf commented on #1407
@marcogbarcellos before doing anything complicated, you need to nail the real issue. My point: if it's working locally (it does), it should works on staging too, nothing to change.

You need to investigate the customer id ( in your example `cus_CvEP...`). Where does it come from? Why is it a live customer id?

[2018-11-08 19:45] piamancini commented on #1283
Hi @nadineCnP Sorry we missed this!
The way of doing this is connecting a stripe account to your collective.
Go to opencollective.com/create and create your collective, choose yourself as the host and connect a stripe account. That's it! best

[2018-11-08 19:46] piamancini commented on #1271
this needs to happen if we want to maintain the in kind donation feature.

[2018-11-08 19:47] piamancini commented on #1215
This is still something we should do

[2018-11-08 19:47] #957 closed

[2018-11-08 19:48] piamancini commented on #906
This wasn't fix. Is no longer reported, but that doesn't mean users are not experiencing it and not reporting. Should be an easy fix for @Betree
cc @znarf

[2018-11-08 19:54] piamancini commented on #1414
For context, Ciprien's project predicts user churn, drop points, etc. He'd like to see if there's a use there for his project (which is a collective: opencollective.com/morphl)

[2018-11-08 22:07] luceos commented on #1257
What, no.. 😞

[2018-11-09 03:03] xdamman commented on #1418
`totalMoneyBroughtIntoPlatformInUSD` is not "added funds", it's the total amount brought into the platform, that means not only added funds but also all donations.

I've updated the query with latest fx rates:
https://github.com/opencollective/opencollective/wiki/Queries#revenue-and-transaction-splits-by-month-with-all-currencies-converted-to-usd

And I'm posting those stats publicly in this sprea

[2018-11-09 04:03] xdamman opened #1420 "New presentation page with partner platforms to raise money for your collective"
It would be great to have a page somewhere with the list of ways one collective can bring money in (and link to it from one of the automated onboarding emails, the FAQ, other?)

I'm thinking of CodeFund (@coderberry), Carbonads (@sayzlim), Threadless, Eventbrite, etc.

For each, we should have a logo, picture (e.g. of webpack t-shirt), and links to some of the transactions to different collectives

[2018-11-09 04:40] xdamman commented on #1418
The big drop in added funds come from the fact that in September, [Open Collective Paris](https://opencollective.com/paris) manually added €85k from [Handshake](https://opencollective.com/handshake) to [Access](https://opencollective.com/access)
![](https://d.pr/free/i/HKEle7+)
and [BrusselsTogether](https://opencollective.com/brusselstogether) manually added €14,855.30 to [CodeNPlay](https://open

[2018-11-09 05:01] xdamman opened #1421 "Move handshake donation to /access"
Open Collective Paris has manually added funds (€85k) from coming from Handshake to [Access](https://opencollective.com/access).
It would be good to reflect that on the Handshake profile page: https://opencollective.com/handshake

[2018-11-09 05:05] xdamman commented on #1421
I've updated the `Order` and changed the `FromCollectiveId` to Handshake's (`19490`).
I've also updated the transactions in the ledger by marking the existing ones with `deletedAt` and creating new ones. Here is the query:

[code]

[2018-11-09 05:11] xdamman commented on #1421
Success!
![](https://d.pr/free/i/xbQpfZ+)

[2018-11-09 06:37] #1421 closed

[2018-11-09 06:58] xdamman opened #1422 "Improve metatags on the homepage"
This is how open collective shows up when shared on facebook :-(

![](https://d.pr/free/i/JqAGjl+)

[2018-11-09 08:40] #1415 closed

[2018-11-09 08:56] fijal opened #1423 "Error trying to see my transactions"
URL: https://opencollective.com/fijall
Logged in as (username or profile URL): fijall
Error message if any: Error while clicking on "details" of any transaction
Expected result: no errors
Browser: any, tested chrome & firefox on os x

[2018-11-09 08:57] fijal commented on #1423
Additionally I get JS errors, like:

`commons.dc13026ab6c197553031.js:44 TypeError: Cannot read property 'replace' of null
    at t.value (collective.js:14)
    at t.value (collective.js:14)
    at li (commons.dc13026ab6c197553031.js:44)
    at ui (commons.dc13026ab6c197553031.js:44)
    at hi (commons.dc13026ab6c197553031.js:44)
    at Qi (commons.dc13026ab6c197553031.js:44)
    at Gi (commons.dc

[2018-11-09 09:40] #1423 closed

[2018-11-09 10:14] fijal commented on #1423
Still happens to me, not sure if it's deployed to production or not

[2018-11-09 10:16] xdamman commented on #1423
Deployed!

![](https://d.pr/free/i/RjrEwH+)

[2018-11-09 10:45] cborodescu commented on #1414
Thanks @piamancini, that's correct. We're open-source (https://github.com/morphl-ai) and we'd be happy to work on this use-case. The number one thing is actually getting the data ...

About that, I understand that some of it might be sensitive, so anonymizing it beforehand would be useful. Again, can help with that.

We can start a conversation by simply describing the data you currently have: wha

[2018-11-09 12:57] xdamman commented on #1422
This could be useful: https://metatags.io/

[2018-11-09 14:08] fijal commented on #1423
Resolved

[2018-11-09 17:21] dahacouk commented on #1391
Agree with @znarf "use the name as it's stored". So does that mean World Peace Now is stored as "World Peace Now" or "World peace now"? Because I thought it was stored as "World Peace Now". I mean I never write it as "World peace now". Thanks for your work on this.

[2018-11-09 17:52] sayzlim commented on #1420
Let me know if you need anything from us.

[2018-11-09 18:33] piamancini commented on #1161
we can close this. What's the actionable item?

[2018-11-09 18:38] piamancini commented on #1418
@xdamman the query is off now. Did you add a column? It's not matching the columns I have on the spreadsheet?

[2018-11-09 18:39] piamancini commented on #1418
Any chance you can revert? the process data will be broken everywhere else.

[2018-11-09 18:42] xdamman commented on #1418
Oh yes I just moved the added fund column next to the “donations on platform” because it makes much more sense there. Take a look at the public spreadsheet that I shared. And I’ve reflected that change in the query to make it easier for you to update that public spreadsheet which should be the source of truth.

What do you mean by “the process data will be broken everywhere else”? Where is “everyw

[2018-11-09 18:45] piamancini commented on #1418
the spreadsheet uses those columns to process the data and calculate the 3 month averages, charts etc.
Moving those columns affects the process data pages and I need to update them.
Please see the OC Monthly Analysis file I shared on the email.

[2018-11-09 18:45] piamancini commented on #1418
The problem is not so much the public spreadsheet is the one I use for revenue calcs

[2018-11-09 18:48] xdamman commented on #1418
Ah ok gotcha. Can you send me that file and I’ll update that process.
In the meantime you can just look at the history of the wiki to get to the previous version of the query and it should work (or you can also simply cut and paste the part of the query towards the end that is showing that column). Otherwise happy to do all this for you tomorrow (it’s very late here)

[2018-11-09 18:51] piamancini commented on #1418
ok. Tomorrow is fine.
regarding my original question, what dropped by 13% while all other numbers are up is not hte total money brought into the platfrom, but the donations.
Here's the link if you want to play with it. https://www.dropbox.com/preview/OpenCollective/Data/monthly%20analysis/OC%20Monthly%20Analysis.xlsx?role=personal