[2019-10-17 09:10] Betree commented on #2529
@dinolinjob This isn't a bug so to speak, we never implemented a real mobile navigation for this menu. Let's not rush on that without a proper design because it could look strange with the mobile menu that we have on the collective page (see https://opencollective.com/babel/ on mobile).

[2019-10-17 09:25] Betree opened #2530 "Adapt the general website Header items based on current page (menu/navbar)"
Following up on https://github.com/opencollective/opencollective/issues/2228#issue-466280440 and considering https://github.com/opencollective/opencollective/issues/2529

We show a lot of options in the top menu bar / navbar, which turns out in two problems:

1. Display issues on medium screen sizes:

![image](https://user-images.githubusercontent.com/1556356/66995480-5ff06f80-f0cf-11e9-91b4-e3770

[2019-10-17 09:35] Betree commented on #2438
Resolved by @jeffin143 in https://github.com/opencollective/opencollective-frontend/pull/2832

[2019-10-17 09:35] #2438 closed

[2019-10-17 10:05] Betree opened #2531 "Should we use staging for all Cypress tests?"
Cypress tests are great candidates for bounties, but it's currently hard for us to outsource them:
- Though well documented, configuration is not easy: contributors need to setup a local Postgres, a local API and configure their Frontend to point on it.
- Contributors often miss this first step and are then confused because the data they use (from staging) doesn't match the one in CI (from local d

[2019-10-17 10:46] Betree commented on #2006
@flickz yes, it also requires https://github.com/opencollective/opencollective/issues/1993 on which I added a bunch of items that must be solved in order to make it feasible

[2019-10-17 10:47] piamancini commented on #2394
We have something like it (it's not ideal because you can't easily move between templates) for events.  Check it out --> create an event on staging

[2019-10-17 10:58] flickz commented on #2092
@piamancini @alanna I'm not clear here on how we intend to notify rejected collectives on reason for rejection.

[2019-10-17 11:25] piamancini commented on #2092
@flickz email seems the easiest way.

[2019-10-17 11:26] piamancini commented on #2531
pining @sbinlondon too - one of her bounties was Cypress related.

[2019-10-17 11:36] Betree opened #2532 "Contact form for collectives"
## User story
Users need to be able to contact hosts and collectives.

## Best solution for this problem
We're not happy with the current button that is a simple link with a `mailto:`. We want to replace that with a proper contact form that will not leak the email address.

## MVP

### Frontend

- Create a new page in `/{collective}/contact`
- Make the contact button link to that new page
- Users

[2019-10-17 11:50] jancborchardt opened #2533 "Not possible to change or cancel attendance of an event"
## User story
As an event attendee, I am unable to attend an event I previously got a ticket for. I’d like to cancel and free up spots.

## Best solution for this problem
An ability to "Edit RSVP" or "Cancel attendance".

## MVP
Just a link in the list of attendees below your own name saying "Cancel attendance" or similar wording.

## Metrics
For an event we organize, we got 1 email already of som

[2019-10-17 11:54] xdamman commented on #2532
Hiding information (the email address of the collective) is not a sustainable way to solve the problem.

I’d much rather use our energy to solve the real underlying problem instead of getting in the way of user experience.

Can we reframe the question into: how do we avoid collective email addresses to get spammed and explore the different options?

[2019-10-17 12:10] xdamman commented on #2532
From a user perspective endpoint, it’s much much better to have an email address for your collective. That’s a big draw for the new business model. People need to pay $5/month/user today with google apps for that. Creating an email address for a group of people is a big need.

So even if we offer a form to contact the collective on the collective page, we will have to offer an email address. And w

[2019-10-17 12:20] Betree commented on #2532
@xdamman It's a much nicer feature to have a redirect email indeed but also a much complex one, that won't be solved in a day. Google is still not blocking all the spams I receive on Gmail, I doubt that we'll be able to do better than they do in a reasonable time frame.

Gmail do catch the SPAM, and because our servers are the origin we take the risk of having them flagging all our emails if we do

[2019-10-17 13:00] piamancini commented on #2532
Another option is to enable collectives to add their preferred contact method, sort of a yaml for contact. See https://opencollective.slack.com/archives/C0HSLRNVC/p1571314191099100 Bower has a contact point, maybe they prefer to direct sponsors there.

I agree that the solution here helps a need right now and adding a new email system is out of scope of this issue. For the next months of roadmap,

[2019-10-17 14:42] Betree opened #2534 "Gift cards batch"
## User story

We want to:
- Provide stats for gift cards, tied to a specific event (see https://github.com/opencollective/opencollective/issues/2400, also requested by users)
- Be able to re-download or print the codes for cards created for a specific event

## Best solution for this problem

To make that possible we need to add a notion of "batch" to gift card with an associated name. It must be

[2019-10-17 14:46] Betree opened #2535 "Better branding for gift cards emitters on redeemed page"
## User story
Organizations emitting gift cards want to see their visual identity better represented on the redeemed page (not to be mistaken with the **redeem** page).

## Best solution for this problem
- Use `CollectiveThemeProvider` to have the colors of the organization on the page
- Add the logo of the organization on the page (make it big)
- Ensure the organization name is clearly visible, r

[2019-10-17 14:54] Betree opened #2536 "Gift cards: Customized redeem page"
## User story

Organizations wants to see their custom branding applied to the redeem page.

## Best solution for this problem

Have a custom URL to redeem gift cards that organizations can share to have their custom branding.

## MVP

- Change routes to take an optional `collectiveSlug` in pages: `':collectiveSlug?/redeem/:code?'`
- In the redeem page, if a `collectiveSlug` is passed and the coll

[2019-10-17 15:01] dinolinjob commented on #2529
okay..cool @Betree

[2019-10-17 16:25] Betree commented on #2534
@jkutner It indeed doesn't solve this particular problem entirely but it will help: it will be easy for us to move cards between batches if you just send a message to say `I want to move all the gift cards from Event X that haven't been redeemed to our new Event Y` :slightly_smiling_face:

[2019-10-17 17:28] Betree commented on #2532
@piamancini I've updated the specs on #2263 to reflect the new contact form.

[2019-10-17 21:15] alanna commented on #2394
I can't get figma to load; I just get this error face. @Memo-Es let's go over the details in our meeting today and then I can respond.

![Screen Shot 2019-10-18 at 10 15 02 AM](https://user-images.githubusercontent.com/5498878/67048177-3cd9c480-f190-11e9-93da-63c5b95dc02f.png)

[2019-10-17 21:22] alanna commented on #2532
I agree with @Betree - the proposed solution of a contact form is a better experience than the current `mailto`, and providing Collectives an email address that deals with the spam question should be considered a seperate project.

A *lot* of open source projects put a lot of effort into *not* sharing an email address, because they get spammed not just by typical spammers but by 10,000 asking for

[2019-10-17 21:42] alanna opened #2537 "Tax form emails not being sent"
We've had an uptick in reports of users not getting the email from HelloWorks. Normally we ask users to search their spam, etc, but recently there have been a few expenses where I can't see the email going out in the HelloWorks dashboard, so I suspect something is going wrong. There hasn't been an email sent from HelloWorks since Oct 8, and 10 days would be an unusually long gap.

Here are expense

[2019-10-18 00:16] alanna opened #2538 "'refill balance' button not working"
**Describe the bug**
Clicking 'refill balance' on the host dashboard doesn't do anything. This seems to be affecting all hosts. Expense payments are blocked.

[2019-10-18 01:45] #2538 closed

[2019-10-18 02:12] alanna opened #2539 "Paid expenses reverted to pending"
Core contributor reports that a bunch of previously paid expenses on his Collective had reverted to pending status.

Can these be checked please to make sure all previously paid expenses are marked as paid? We should make sure this isn't affecting any other Collectives. Did these changes trigger notifications?

https://opencollective.com/bower/expenses

https://opencollective.freshdesk.com/a/ticke

[2019-10-18 02:24] Betree commented on #2539
From what I see in the history the first one was never marked  as paid

![image](https://user-images.githubusercontent.com/1556356/67060982-1f403700-f15f-11e9-8310-4f9fde9a9d2d.png)

[2019-10-18 03:03] alanna commented on #2539
The user said

I will check with Alina to see if she might have forgot to mark as paid.

[2019-10-18 03:11] alanna commented on #2539
I have confirmed this was in fact paid via Paypal on 10/03/2019 - I can see it in the paypal log. However, I don't see an "expense paid" email notification going out, so that makes me think it was not actually ever marked as paid. Still doesn't explain why it's pending now.

![Screen Shot 2019-10-18 at 4 09 27 PM](https://user-images.githubusercontent.com/5498878/67063022-ade5a000-f1c1-11e9-856b-6

[2019-10-18 03:43] alanna opened #2540 "Tax form completed but not received"
See the expense comments for details: https://opencollective.com/gosublime/expenses/10024

@znarf  looked into it and said

What do we do in this case? We need the tax form he submitted to be associated to that user profile in our system.

[2019-10-18 07:05] NotJohs commented on #2531
I don't understand the overall picture.
What I find valuable is the ability to dynamically create a collective and also seed this collective with dummy data. e.g `Transactions || Events`
This would significantly speed up the testing process.

[2019-10-18 09:54] jeffin143 commented on #2521
@alanna  How to land up on this page , I mean when I try to view the expenses, options are there as :

` Approved | engineering | edit | close `

There isn't a filter button on expenses page

How to bring the option for tax form required , or the filter page
Could you please point me to the location where the segregations is done :)

[2019-10-18 10:53] Betree commented on #2429
@raulgrafico Can we create a pattern to show in the UI which fields are required and which ones are not, so that users don't miss out the required fields? This would be helpful here and for all future forms.

"The best error message is the one that never shows up" :-)

[2019-10-18 12:55] xdamman opened #2541 "Edit contributor card component"
In the new create collective flow, we need a way to add core contributors and optionally edit the description of their role in the collective.

We also need this component on the collective page because such description should be editable at all time.

Here is a proposal that also includes the ability to show the tier a given contributor belongs to and the multiple roles (I can be a backer and a c

[2019-10-18 16:26] jeffin143 commented on #2463
For me, It work smooth, Am i missing something

![Screenshot from 2019-10-18 21-54-35](https://user-images.githubusercontent.com/21286134/67111200-12205800-f1f2-11e9-9952-8623d1945fd4.png)

[2019-10-18 18:03] sbinlondon commented on #2531
This is really well thought through.

My Cypress bounty was very small so I don't know if I can really advise much on this.

I thought the documentation for setup was straightforward. I ran into issues but that was due to how Postgres was installed on my computer. I had to repair some stuff with Homebrew but the Open Collective Postgres docs helped with that.

Maybe we can think how we can do the

[2019-10-18 18:20] JoyLubega commented on #2451
Hey @Betree  what exactly should be tested according to this issue

[2019-10-19 01:00] Memo-Es commented on #2394
# **Wireframe update: Forms**

Today we presented the **low-resolution wireframes** of the forms in the expense flow (Receipt and invoice), the intention of these prototypes is to collect all the details about what we need to consider in this phase and how is represented in a rough interface approach.

### Receipt form:  👉 [Prototype](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1

[2019-10-19 17:48] sobolevn commented on #2517
Just an update, that my collective contributors graph has not updated in (almost) a week.
Here are the links:
- README: https://github.com/wemake-services/wemake-python-styleguide#contributing (showing 53)
- Contributors: https://github.com/wemake-services/wemake-python-styleguide/graphs/contributors (showing 61)
- OpenCollective page: https://opencollective.com/wemake-python-styleguide

Any help

[2019-10-19 18:40] Krinkle opened #2542 "Use of localStorage crashes Chrome when cookies aren't whitelisted"
**Describe the bug**

When I open <https://opencollective.com/eslint>, I very briefly see the page. It then flashes to white with the browser tab spinning forever. If I leave it like this for too long, I have to force quite the browser tab via Chrome's "Task Manager".

I suspect this is due to an **infinite loop** where part of the code handling the problem itself tries to use localStorage. I see

[2019-10-19 18:54] flickz commented on #2531
The downsides to me are huge compare to the gains, I think we should have cypress for both environments. Like you said this will be difficult for staging because our current tests rely on data from the local dump.

I believe this is the solution. But is it possible we can get all our tests to 100% rely on data created during the test process and cleaned up after the tests have ended? (No reliance

[2019-10-19 21:00] richport commented on #2531
awesome very good idea if will work perfect

On Sat, Oct 19, 2019, 11:54 AM Oluwaseun Omoyajowo <notifications@github.com>
wrote:

[2019-10-19 23:04] richport commented on #2542
you need to give chrome permission to work ,or your running It while in
roaming..
also u could clear ur storage..try the chromium projects..it's alot bettrr

On Sat, Oct 19, 2019, 11:40 AM Timo Tijhof <notifications@github.com> wrote:

[2019-10-20 15:47] aunnop739 opened #2543 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/create-account while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 7.0; SM-J710F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.116 Mobile Safari/537.36`

# Technical details

[2019-10-20 15:47] #2543 closed

[2019-10-20 18:51] #2510 closed

[2019-10-20 18:53] znarf commented on #2509
We'll investigate. It's gonna be a bit difficult without steps to reproduce.

[2019-10-20 18:55] kof commented on #2509
it looks correct already, there are no steps just the link, closing, since it's not reproducibel any more

[2019-10-20 18:55] #2509 closed

[2019-10-20 19:50] paul121 opened #2544 "Cannot add event as a core contributor"
**Describe the bug**
As a core contributor of the [farmOS](https://opencollective.com/farmos) collective I cannot add a new event.

**To Reproduce**
1. Sign into opencollective.
2. Go to `opencollective.com/farmOS/events/new`
3. The error reads "You need to be logged in as a core contributor of this collective to be able to create an event. [Sign In Button]" (At this stage it shows my account `pau

[2019-10-20 21:11] znarf commented on #2537
Seems there is an issue in the daily cronjob execution, not the tax form script itself.

[2019-10-20 21:30] alanna opened #2545 "Adding funds manually to an event triggers a ticket registration"
As per #2525 we can now manually add funds to an event, which is mainly used for sponsorship coming in via invoice and bank transfer. I did it for the first time today and realised it's erroneously treating that contribution as a ticket sale, which doesn't make sense for sponsorship. This triggers a confusing email notification (below) and will mess up the attendee list for the event for the organ

[2019-10-21 01:43] alanna commented on #2521
It's a filter on the fiscal host dashboard

[2019-10-21 01:55] alanna commented on #2394
Looking good! Some notes....

Receipt expense summary

* How do notes work with batches? Will it add a copy of the note to each expense? I wonder if notes should be a per-expense thing instead of a per-batch thing.

Invoice expense summary

* We decided there would be no batch option for invoices, so showing multiple expenses summarized here doesn't make sense.

Submit your invoice

* Add 'payee n

[2019-10-21 01:55] aunnop739 commented on #2521
#2521

[2019-10-21 02:01] aunnop739 commented on #2394
#1326

[2019-10-21 02:30] alanna opened #2546 "Tax form not triggered for user when it should have been"
**Describe the bug**
The tax form notification is supposed to be triggered when a user crosses $600 in invoices. But [this user](https://opencollective.com/isiahmeadows1) has submitted $1000 in invoice expenses and did not get asked to fill out the tax form. Looking in Forest, it seems our system has not identified it as 'required' in this case (no entry for legal document).

**Expected behavior**

[2019-10-21 07:05] znarf commented on #1231
Should be solved with https://github.com/opencollective/opencollective-api/pull/2704

[2019-10-21 07:05] #1231 closed

[2019-10-21 07:30] Betree opened #2547 "Improve the way update's summaries are generated"
We have several issues in the way updates summaries are generated ([here](https://github.com/opencollective/opencollective-api/blob/88ff9e6ac3badcf3e9a07dbef4fe2531febcdbc0/server/graphql/v1/types.js#L877)):
- If the update doesn't start with `<p>`, we return an empty string. This is going to be a problem when we'll introduce the new rich text editor because it uses a `<div>` to wrap the content.

[2019-10-21 07:35] piamancini commented on #2394
+1 @Memo-Es let us know if there are any questions here

[2019-10-21 07:40] Betree commented on #2544
Hi @paul121, you may be facing a cache issue. Just to be sure, do you still see the error after refreshing the page?

[2019-10-21 07:42] piamancini commented on #2544
Hi Paul, this is happening because you are a contributor to farmOS and not an admin - you need to ask Michael to make you an admin. He is the only admin of the collective.
He can edit roles in https://opencollective.com/farmos/edit/members
<img width="951" alt="Screen Shot 2019-10-21 at 6 40 46 PM" src="https://user-images.githubusercontent.com/3671070/67185842-7598c880-f432-11e9-8213-fab7512fbc17

[2019-10-21 07:48] znarf commented on #2540
The implementation needs to be revamped to track users through the process with their Open Collective id and not with their email.

[2019-10-21 07:56] Betree commented on #2521
Hi @jeffin143, I believe that we don't have clear instructions in the docs about how to test and dev for this part right now. We need to write them (I'll follow up with that) but in the mean time I'd recommend you to not work on this issue so you don't loose time searching for things that are not properly documented :-)

@znarf do we have a page in docs about `Testing features` where we could prov

[2019-10-21 08:02] jeffin143 commented on #2521
Thanks @Betree :)

[2019-10-21 08:03] #1384 closed

[2019-10-21 08:06] jancborchardt commented on #1231
Thanks a lot @znarf! We don’t have regular meetups at the moment anymore, but will check when we do :)

[2019-10-21 08:18] #2511 closed

[2019-10-21 08:21] znarf commented on #2546
@alanna What's the difference with this issue which is being fixed https://github.com/opencollective/opencollective/issues/2537? Can it be the same?

[2019-10-21 08:22] Betree commented on #2531
@flickz  Not easy, but that could be achieved indeed. The tricky part is for the tests like the one for the organizations profiles. One of the them is for example making sure that there is a `Load more` button in contributions, which requires the organization to have made contributions for at least 30 collectives. If we want to create this data we'll need to make calls in GraphQL directly (it woul

[2019-10-21 08:23] znarf commented on #2515
@viest members returned by the API are only the contributors on Open Collective, ie: core contributors, financial contributors. So this looks correct.

[2019-10-21 08:23] #2515 closed

[2019-10-21 08:24] znarf commented on #2527
@Betree can you have a look?

[2019-10-21 08:25] Betree commented on #2523
Resolved by @dinolinjob in https://github.com/opencollective/opencollective-frontend/pull/2837 :tada:

[2019-10-21 08:25] #2523 closed

[2019-10-21 08:30] znarf commented on #2533
@jancborchardt in the case of events with "Non Free" Tickets, what should be the behavior? Should we implement refund? Should we restrict that to Free events first?  cc @piamancini for input

[2019-10-21 08:57] viest commented on #2515
@znarf  How can I get a list of commit contributors that I didn't find in the documentation?

Https://github.com/viest/php-ext-xlswriter/graphs/contributors

[2019-10-21 09:02] jancborchardt commented on #2533
Could be made in incremental steps:
1. Working only for free events where it’s a "simple" ;) "Cancel attending"
2. For paid events, people could cancel attending but at this stage would have to leave their ticket price as donation.
3. As a last step, refunds could be implemented, so that for paid events people can _choose_ between leaving the ticket price as donation, or refunding.

[2019-10-21 09:08] znarf commented on #2513
Closing

[2019-10-21 09:11] znarf commented on #2490
It's not exactly "host dashboard" but because it's related we'll be tackling that as part of the "host dashboard" project.

[2019-10-21 09:19] znarf commented on #2524
Closed in https://github.com/opencollective/opencollective-frontend/pull/2841

[2019-10-21 09:19] #2524 closed

[2019-10-21 09:22] znarf commented on #2526
@xdamman @alanna Is that solved?

[2019-10-21 09:25] znarf commented on #2501
@alanna According to https://github.com/opencollective/opencollective/issues/2540, looks like you found the message.

Closing this issue then, we will track in the other issue.

[2019-10-21 09:25] #2501 closed

[2019-10-21 09:28] znarf commented on #2495
If it's not a ticket, it should not appear as a ticket.

This whole thing is buggy and should be migrated to the new Contribution Flow.

[2019-10-21 09:59] znarf commented on #2539
**According to the database entries**, all expenses "Rails-assets.org hosting (compute & file store)" from `6891` to `6898` were never approved or paid, their status never changed from pending.

[2019-10-21 10:09] znarf commented on #2539
For the https://opencollective.com/bower/expenses/10376 one, I think the most likely is a human error when paying the expense, clicking "Unapprove" instead of "Record as paid"

[2019-10-21 10:59] znarf commented on #2515
@viest Use the GitHub API?

[2019-10-21 11:28] flickz commented on #2539
I'm going to add a confirmation modal to prevent this from occurring next time.

[2019-10-21 11:49] flickz commented on #2092
@alanna and @piamancini Can you help me with the content of the email? While put in mind that the actual reason for rejection will be embedded as blockquote within the email

[2019-10-21 11:56] flickz opened #2548 "Add modal confirmation for Unapprove button."
In the host dashboard, we recently added an [Unapprove](https://github.com/opencollective/opencollective-frontend/pull/2783) button for expense.

There are several buttons for expense within the dashboard, it's easy to use the wrong button unconsciously, like what could have happened in https://github.com/opencollective/opencollective/issues/2539#issuecomment-544446419. Having a confirmation modal

[2019-10-21 12:19] flickz commented on #1674
Update here, I've started work on this, I'm half way done, there should be a demo on Friday hopefully.

[2019-10-21 12:24] znarf commented on #2548
Would be great to take the opportunity to refactor the modal, we have already too many copy/paste for that in the codebase.

[2019-10-21 12:25] znarf commented on #2539
@flickz It's just a theory at this stage. But good idea any way.

[2019-10-21 12:33] znarf commented on #2397
Thank you @EugeneHlushko ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-10-21 12:43] znarf commented on #2159
Closing it, we will track the rest in the follow up issue.

[2019-10-21 12:50] #2159 closed

[2019-10-21 13:02] Betree commented on #1791
Currently working on a component to do that easily.

[2019-10-21 13:12] #2141 closed

[2019-10-21 14:40] sbinlondon commented on #2531
+1! Not sure if this is something that will be worked on immediately or not, but I'd be interested in helping out with it, it sounds like a really interesting problem to work on.

[2019-10-21 19:38] Memo-Es commented on #2223
Here are the results after the first round of feedback on Friday, Oct 18th
👉 [Prototype](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=1059%3A16638&viewport=1912%2C-150%2C0.5&scaling=scale-down)
👉 [Figma file](https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=1059%3A14763)

Updates          |  Conversations    |
:-------------------------:|:--

[2019-10-21 20:31] znarf commented on #2451
@jzabala are you still on it or can someone else have a look?

[2019-10-21 21:44] alanna commented on #2539
Ah! That could have been it. I will ask Alina.

[2019-10-21 21:59] alanna commented on #2092
OK, how about this for the email:

Question: should the from and reply to be the host admin contact or Open Collective? On the one hand they might as host-specific questions in response. On the other, I don't think rejected Collectives should be that host's problem anymore. @piamancini ?

[2019-10-21 22:31] alanna commented on #2526
Yes it appears to be fixed now.

[2019-10-21 22:31] #2526 closed

[2019-10-21 22:38] leonardohof commented on #2512
@znarf Hi! What is missing to close the issue? Is missing something from my side?

[2019-10-22 00:11] alanna commented on #2539
@Betree says

[2019-10-22 00:12] alanna commented on #2546
@znarf you only specified 4 affected users for the delayed notifications in that other issue, and this user is not one of them.

[2019-10-22 01:22] ghuntley commented on #2002
Another example: https://github.com/reactiveui/rfcs/issues/27

[2019-10-22 01:40] Memo-Es commented on #2394
Just updated in the comment
Yes, sorry. I uploaded the same image for both but it was considered 👍🏽

[2019-10-22 03:18] jeffin143 commented on #2530
@Betree why map , and why not props
[code]

And then just add

[code]

This way I don't have to handle the map, merge them or append the values , I guess this could be simple unless you have something in your mind ( which I guess is there ) :)

[2019-10-22 04:59] paul121 commented on #2544
Thanks for verifying that @piamancini !

You may want to update the emails that get sent out - this is what I received (note this was 13 days ago) after I was added as a core contributor. It seems to say that "MEMBER" permissions give you access to creating new events:

<img width="1309" alt="Screen Shot 2019-10-21 at 9 57 17 PM" src="https://user-images.githubusercontent.com/3116995/67260041-f580

[2019-10-22 07:12] Betree commented on #2530
@jeffin143 Having the fields in props (without using a map) works just as well. I prefer the first approach because it doesn't require any update to `Page` if we add a new field to `menuItems` (we'll just pass down the map, not the individual items) and we don't duplicate prop types.

So my rational is to avoid repetition.

But that's a personal preference, so a different solution wouldn't be a bl

[2019-10-22 08:12] #2542 closed

[2019-10-22 08:46] Betree commented on #2544
Thanks @paul121, that's wrong indeed!

@piamancini @znarf what should we do, update the email or allow `Member`s to create events?

[2019-10-22 08:50] Betree commented on #2487
Let's have a feedback from @opencollective/design first, I don't want to change the NavBar without their consent because what we'll do here will become a pattern for many other pages.

[2019-10-22 09:06] jeffin143 commented on #2103
@Betree could you point me to the contributors resolver, if you are ok with MVP as of now I can take up this, or else if you like to go with Long term solution once for all, and not first with MVP and then ultimately long term, Will be fine with that too :)

[2019-10-22 09:08] jeffin143 commented on #2530
Sorry I didnt't uderstand what do you mean by `page`, is it homePage ?

The menu is in header right ?

[2019-10-22 09:58] Betree commented on #2530
@jeffin143 I meant the `Page` component (https://github.com/opencollective/opencollective-frontend/blob/8a3903d8de5328632f30f3107b83d7ff40de847d/components/Page.js#L16) that most pages use to wrap all the layout (rather than using `Header` directly)

[2019-10-22 10:01] Betree commented on #2244
Closing because we're redesigning this page entirely, it's not worth investing in small UI enhancements for it at the moment.

[2019-10-22 10:01] #2244 closed

[2019-10-22 10:08] Betree commented on #2103
@jeffin143 Queries for this data are all in https://github.com/opencollective/opencollective-api/blob/a9a2a2ff7834e69349dffbaa3ceb91c3cc4421c2/server/lib/contributors.js

MVP would be fine for now. You're welcome to jump on it if you want to, however keep in mind that:
- We may decide to delay the feature if we're not satisfied with the result (for example if there's a negative performance impact)

[2019-10-22 10:47] #2532 closed

[2019-10-22 11:36] jeffin143 commented on #2103
@Betree Thanks, I will take a look, but since you are also not aware of the code, it would be difficult to come up with something :)

Also I tried coming up with something but `collective.data.githubContributors` threw invalid property for the object, I should probably take a look into the data ( just like you said ).

[2019-10-22 12:19] jzabala commented on #2451
@znarf I was a little busy with https://github.com/opencollective/opencollective/issues/2433 and after that I was going to work on this one. But if you prefer you can reassign it. No problem :D

[2019-10-22 13:47] #2512 closed

[2019-10-22 14:48] Betree commented on #2365
Issue resolved by @JohnTitor :taco: :tada:

[2019-10-22 14:48] #2365 closed

[2019-10-22 15:02] znarf commented on #2512
🏆 This issue was completed by @leonardohof  as part as our first Hackathon.

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-10-22 15:06] znarf commented on #2365
🏆 This issue was completed by @JohnTitor as part as our first Hackathon (it started at at the event but was finished after).

I retroactively added a $200 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (

[2019-10-22 15:31] yellowwoods12 commented on #1819
@znarf Would like to work on this one. Can this be assigned to me?

[2019-10-22 15:52] xdamman opened #2549 "Make a $5k/month donation from /ccc to /rebelsmanager"
We can't do between hosts donations.

![](https://d.pr/free/i/fsD5sM+)

Can you take care of this manually?
This should run for the next 3 months.

[2019-10-22 16:26] JoyLubega commented on #2451
@znarf I want to give it a try

[2019-10-22 16:38] jzabala commented on #2451
I assigned it to you @JoyLubega. Anything you need just let us know 🙂

[2019-10-22 17:02] paul121 commented on #2544
@Betree  happy to help!

In our case it would be great if a `Member` could create events without being admin :smile:

I came across this because I wanted to add an event for a conference I'll be speaking at. I don't necessarily need admin privileges to approve expenses, but would like to be able to add events!

[2019-10-22 17:44] code4cake commented on #1669
hey as this issue been taken and may I take it ? Thanks

[2019-10-22 18:00] Betree opened #2550 "Should we have a dedicated image for Organization's logos in widgets?"
## Description

Topic was brought up in https://opencollective.freshdesk.com/a/tickets/2417

Some users/orgs like [Triplebyte](https://opencollective.com/triplebyte/) have a legacy **rectangular** avatar. Today someone who wanted to do the same did not understand why they were limited to a **square** avatar.

---
![image](https://user-images.githubusercontent.com/1556356/67314358-d395e080-f504-11e

[2019-10-22 18:18] github-xiaogang commented on #2550
I uploaded a new logo few minutes ago, but it seems not update, is this a bug?

NEW LOGO should be:
![image](https://user-images.githubusercontent.com/4679072/67316243-aa904280-f53a-11e9-818d-29c1a5aba273.png)

LOGO link in repo (I got from the README raw text mode):
https://opencollective.com/kingfisher/sponsor/1/avatar.svg

it seems always refer to the old one, is it has a cache?

[2019-10-22 19:21] jeffin143 commented on #2458
@Betree , I am not sure, whether we need to handle this at `api` side or not, I came up with a solution, Don't know how correct it is, so what my approach is

Replace

 https://github.com/opencollective/opencollective-frontend/blob/1094ced9ad45b2b992d562022989fab9ea2cbe6b/pages/index.js#L237-L242

the above lines of  code with

[code]
The output will be

Everything will be shown since nothing is a

[2019-10-22 23:31] piamancini commented on #2550
@github-xiaogang yes, the cache from github is quite heavy. It might take a while longer.

[2019-10-22 23:40] piamancini commented on #2544
@Betree I think this was the original intent and thus the email. We would have to double check how the approving of expenses work, since the person who creates the event is the only one who can approve expenses for it, they became the default admin of the event. Beyond this particular case, I think event admins have an expectation to manage the event expenses.

@paul121 have you been unblocked alr

[2019-10-22 23:41] piamancini commented on #2549
Who are you talking to?

[2019-10-22 23:44] piamancini commented on #2487
@alanna We should add this to the specs of the expense flow if we want it to be done

[2019-10-22 23:48] piamancini commented on #2092
I think they should go the the host -- we can add a support@opencollective.com email reference in the email.

[2019-10-22 23:50] piamancini commented on #2223
Looks great @Memo-Es - We need a view that includes the Create a new update for logged in admins.

[2019-10-22 23:55] piamancini commented on #2533
1 & 2 seem doable in the short term.

[2019-10-23 01:15] cuiki commented on #2541
Hey @xdamman, I think I need more context to understand why you think this is a good solution.

First though, a question. Is the proposal only applicable to core-contributor cards or all contributor cards? The title mentions the entire component but the description only refers to core-contributors. I'll assume its the whole component for now.

So from what I currently know and understand, I'd stra

[2019-10-23 01:35] github-xiaogang commented on #2550
@piamancini I mean that the image in https://opencollective.com/kingfisher/sponsor/1/avatar.svg is still the old one, this should be your site's cache problem, not github

[2019-10-23 02:29] paul121 commented on #2544
@piamancini I haven't been unblocked, no. The admin went ahead and just made the event for me. We just wanted to add the event as a way to "advertise" what is happening - not sell tickets or anything. I wasn't aware that expenses can be tied to events - so it makes sense that some additional permissions are required!

[2019-10-23 08:00] Betree commented on #2550
@github-xiaogang The cache is now refreshed for this image https://opencollective.com/kingfisher/sponsor/1/avatar.svg. As mentioned in private message, please send following support requests to `support@opencollective.com` - this issue is about discussing the possibility of having a specific image dedicated to the sponsor widget.

[2019-10-23 12:33] #1915 closed

[2019-10-23 12:37] Betree commented on #1915
This issue has been resolved by @JoyLubega. You've been invited to https://github.com/orgs/opencollective/teams/contributors - you can now commit directly on Open Collective's repositories (except master branches). Be welcome and let us know if there's anything we can do to help you get onboard! :tada:

[2019-10-23 14:41] Betree opened #2551 ""New backer" email sent repeatadly for same contributor on the 1st of each month"
**Describe the bug**
ESLint admins receive the same `New backer` email for Triplebyte on the 1st of every month.

It's unclear right now what happens, but this could be related to the fact that a lot of people contributed to ESLint via one of the numerous gift cards  that TripleByte emitted.

**To Reproduce**
*Needs steps*

**Expected behavior**
Should only send the "New Backer" when creating the

[2019-10-23 16:55] xdamman opened #2552 "New collective flow"
Here is the wireframe version open for feedback.

Please have a look.

Prototype:
https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=1198%3A18753&viewport=743%2C489%2C0.08176331967115402&scaling=min-zoom

Figma overview:
https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=638%3A12661

[2019-10-23 19:07] znarf commented on #2551
We want to kill this email (gift card issuer as backer) to avoid various problems. It's a bit tricky though.

[2019-10-23 20:51] flickz opened #2553 "HostDashboard: Improve E2E tests"
The host dashboard currently lacks a good e2e test coverage compare to other important pages within the code base, we're constantly adding new features and enhancements but no e2e tests. The following functionalities need test:

Test file - https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/29-host.dashboard.js

- Approve and reject expense
<img width="3

[2019-10-23 21:15] alanna opened #2554 "HTML showing on info card"
This is how the card looks in the Collective search result. Note the `<p>` tag.
![Screen Shot 2019-10-23 at 7 57 58 PM](https://user-images.githubusercontent.com/5498878/67434636-11028700-f647-11e9-9e02-e17e49e955e0.png)

This content is drawn from the About section, which is correctly showing the formatted text.
![Screen Shot 2019-10-23 at 7 58 16 PM](https://user-images.githubusercontent.com/549

[2019-10-23 22:31] Betree commented on #2553
+1 for this one, good initiative.

Would indeed be a great bounty candidate but we need to write some documentation about testing the host dashboard first. It's currently difficult to give instructions to contributors about how the should test this dashboard (should the create a new host? hack a membership in their local DB?).

[2019-10-23 23:16] alanna commented on #2546
@znarf - any update about whether this was part of the other issue with the delayed emails, or a seperate thing?

[2019-10-24 01:10] Memo-Es commented on #2552
Good! We like it

[2019-10-24 02:07] Memo-Es commented on #2394
### Update:

👉[Prototype](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=1260%3A936&viewport=810%2C419%2C0.1724458485841751&scaling=scale-down)

Batch summary →          |  Expand detail →    |  Add notes →   |
:-------------------------:|:-------------------------:|:-------------------------:|
![Expense form - Summary](https://user-images.githubusercontent.com/4953995

[2019-10-24 02:14] alanna commented on #2552
Overall, it's great! So much better than the current experience!

I especially like:

* That you get up and running very quickly with minimal data entry.
* How you arrive to your new Collective page and the design guides to add more content and activate sections.
* Splitting all the questions out into different screens so you're not overwhelmed with too much info at once.
* Putting extra options i

[2019-10-24 03:38] piamancini commented on #2552
Great progress, this is brilliant. Two comments:

Page 9: should be People not Peoples

Page 11: Account holder should be bank account holder, otherwise it's confusing with the holder of the open collective account (owner of the profile)

+1

[2019-10-24 03:49] piamancini commented on #2394
Thank you @Memo-Es! Great progress.

Page 9: We'll need to redesign that page so we can show all receipts in a batch as well as the private / public comments.

Page 10: Why do we have two sets of private and public comments?

Templates: Where in the create receipt process are we allowing people to choose from existing expense templates?

Where are we storing those templates? In the user settings?

[2019-10-24 08:04] Betree commented on #2258
From looking at the data, I found out that the actual fees applied by PayPal for paid expenses are currently closer to **3.5% + $0.30**. The following table summarizes the fees on all times and on the last 6 months for expenses payed via PayPal.

Estimating fees is not easy because there's a big difference between domestic (US) payouts and international (see pricing above). The presented table bel

[2019-10-24 08:34] flickz commented on #2092
I'm not sure where to reference the email but this is what the email looks like:

### Rejected with reason

<img width="807" alt="Screenshot 2019-10-24 at 9 32 03 AM" src="https://user-images.githubusercontent.com/15707013/67467821-66d43080-f641-11e9-930d-4aa34346c6cf.png">

### Rejected without reason

<img width="634" alt="Screenshot 2019-10-24 at 9 32 13 AM" src="https://user-images.githubuserc

[2019-10-24 08:40] Betree commented on #2552
This is good! The only feedback I'd have is that having the `Create an account` and `Login` forms on the same page is confusing to me (too many fields, two primary calls to action).

[2019-10-24 09:51] sebsheep opened #2555 "Transfer funds from event to collective broken"
**Describe the bug**
When I'm clicking on the "Transférer 84.55€ à Elm France" button, nothing happens.

![image](https://user-images.githubusercontent.com/6839698/67474015-06022380-f654-11e9-9a9a-3c5667a8e104.png)

(I'm logged in as "Sébastien Besnier", administrator of Elm France, the url is https://opencollective.com/elm-france/events/hackathon-elm-france-50136ev).

**Expected behavior**
Huuuuu

[2019-10-24 11:37] znarf commented on #2546
@alanna one of the expenses is classified as receipt, not invoice. This is the reason.

[2019-10-24 12:09] sbinlondon commented on #2554
I'd be happy to look into this if you'd like?

[2019-10-24 12:11] sbinlondon commented on #2553
This one looks interesting. Once you've figured out some of the documentation I'd be up for doing it to get more experience with E2E testing. However, I'm aware that I've already done a bounty involving Cypress and I think you mentioned you wanted to spread those around a bit to different contributors. Just let me know what you think 😊

[2019-10-24 12:23] Betree commented on #2554
In https://github.com/opencollective/opencollective-frontend/blob/a3c83bfa6ae5f5ba18d8d6f7a1b13c7cf5d19653/components/CollectiveCard.js#L63 the card is using `longDescription`. We can't rely on that anymore because this text is formatted and we don't want to allow that in the cards.

So immediate fix would be to remove this behavior, and a possible way to fallback on `longDescription` would be to

[2019-10-24 12:33] Betree commented on #2553
We wanted to spread the bounties to get different perspectives and see what we could improve. Thanks to the great feedback everyone provided on the PRs and on #2531 I think that we now have a better understanding of what we need to improve so I'd be comfortable assigning new Cypress issues to recurring contributors :slightly_smiling_face:

[2019-10-24 12:39] Betree commented on #2531
@sbinlondon Maybe a `docker-compose` script could be a good way to achieve that? I did one in the past for another project, was helpful to pull the API and start it in one go: https://github.com/CaptainFact/captain-fact-frontend/blob/staging/docker-compose.yml. I'm curious if something that would also start the frontend would be fast enough to provide a good experience.

[2019-10-24 12:43] Betree opened #2556 "Make Cypress tests environment-agnostic"
Following up on https://github.com/opencollective/opencollective/issues/2531

From the feedback provided on https://github.com/opencollective/opencollective/issues/2531, it seems that the best way to simplify the experience and onboarding for Cypress tests would be to ensure that tests are environment agnostic (meaning that they can work locally or on staging indifferently).

Concretely, we should

[2019-10-24 12:46] Betree commented on #2531
Thank you everyone for providing feedback! That was really helpful. We'll follow up in https://github.com/opencollective/opencollective/issues/2556 to define new patterns to make these tests more generic.

We'll eventually create a separate ticket if we also want to start a new project to have a "magic script" to start everything as proposed by @sbinlondon above.

[2019-10-24 12:46] #2531 closed

[2019-10-24 13:18] Betree commented on #1482
Rather than developing a new email template, I propose that we pass the payment method on the existing "New Backer" email.

![image](https://user-images.githubusercontent.com/1556356/67489066-34dac280-f671-11e9-866a-ff80366b9cff.png)

We should include the gift card emitter name, OC profile link and website. Maybe we can re-use the same design from the `redeemed` page?

If we want to prioritize th

[2019-10-24 13:24] znarf commented on #2551
PR: https://github.com/opencollective/opencollective-api/pull/2790
Follow Up issue: https://github.com/opencollective/opencollective/issues/1482

[2019-10-24 13:45] xdamman commented on #2552
Thanks for this extended review @alanna ! :-)
See my responses below.

* When creating new user instead of "add" it should be "invite". The person should receive an invitation and click accept. At that point we will show them the terms of use, etc.

ok

* We decided not to use the word "team" to refer to core contributors. The terms are "core contributor" and "Collective Admin" (or just 'contribut

[2019-10-24 14:12] znarf commented on #2552
"Create Account" will still be confusing. People not familiar with our platform don't understand if they're creating a **personal account** or a **collective** there. We need to provide some hints.

[2019-10-24 14:13] znarf commented on #2552
The "Recommended fiscal sponsor" screen is too close to what we have today and doesn't address any issue that were highlighted in our preliminary discussions.

[2019-10-24 14:54] xdamman commented on #2223
See my comments in the images below:
![](https://d.pr/free/i/PQsnlu+)

![](https://d.pr/free/i/7B3Pub+)

Let me know if you have any questions.

[2019-10-24 15:10] xdamman commented on #2552
@znarf We cannot address all issues at once. What issues in particular do you think that we should address in this first iteration in regard to that "Recommended fiscal sponsor".

I see your point for the create account. Then I'd suggest we simply reuse what we have today (but without the first name / last name since we are consolidating everything within `Collective.name`):
![](https://d.pr/free/

[2019-10-24 15:19] znarf commented on #2552
@xdamman The magic recommendation with **one** host based on tag and currency is **just wrong** and should be absolutely re-considered.

I would recommend to not try to filter by tag and currency, display a full list of hosts open for applications, with an highlight on "OSC / Europe / UK / Brussels / Paris" on top.

[2019-10-24 19:28] Memo-Es commented on #2552
For what I've been reading, it seems that this "Fiscal Host Application" needs to be designed as an individual experience and connect with different parts of the platform like this flow. Still, I imagine that this is a future project.
In that case, I would keep it as simple as possible and take the proper care to design this, and other flows to be navigated as a smooth, nicely wrapped experiences.

[2019-10-24 21:55] Betree commented on #2223
@Memo-Es Looks great! We need to have some pagination for these pages. That may not be implemented for MVP, but that's something we're 100% sure will be needed if Collectives start using the feature.

[2019-10-25 00:28] alanna commented on #2552
Thanks @xdamman ! Responses below....

* adding contributors

Personally I would still put adding contributors alongside all the other actions to expand your Collective after the initial creation, because lowering the barrier to initial creation is such an important goal of this redesign. As long as one admin at least (the creator) is getting the messages, it will be fine. If it's a priority for t

[2019-10-25 02:02] alanna commented on #2546
Thanks @znarf

[2019-10-25 02:04] alanna commented on #2546
Ah, in that case can you please update them both to invoice type, since that's the correct classification? I have no way to do that myself.

[2019-10-25 02:42] alanna commented on #2258
I completely agree. This would be extremely welcome. Do we have any developers around us who could take this on, or does it have to be a core team member? OSC could contribute toward the budget for sure.

[2019-10-25 03:14] piamancini commented on #2544
sorry @paul121 I'm not following. If you need to be made admin of the collective or the event, that's something the collective admin can do for you. You can then make all the events yourself. You'll need to add others to the event as admin when you do.

[2019-10-25 03:50] alanna commented on #2092
Looks good! Let's change the last line to:

[2019-10-25 03:54] alanna commented on #2549
It's a pain to do recurring contributions manually. Can I just do one for $15k?

[2019-10-25 03:58] alanna opened #2557 "Unable to select Collective on host dashboard"
I'm trying to select a Collective on the host dashboard so I can add funds to it manually, but it's coming up with "nothing found" no matter what I type in.

![Screen Shot 2019-10-25 at 4 57 57 PM](https://user-images.githubusercontent.com/5498878/67542288-a76aa180-f748-11e9-9dfa-9cafe8e9acb4.png)
![Screen Shot 2019-10-25 at 4 56 20 PM](https://user-images.githubusercontent.com/5498878/67542289-a7

[2019-10-25 04:19] paul121 commented on #2544
@piamancini oh no - that's all fine. I have my event created 😄

Just wanted to submit an issue because from the email I got I thought I could create an event as core contributor myself, but that wasn't the case. That's all!

[2019-10-25 05:21] xdamman commented on #2549
I realize that but I thought that for 3x$5k it was worth it. If it continues beyond 3 months I will push to make quarterly payments.

[2019-10-25 07:12] znarf commented on #2539
@alanna the modification was effectively done by Alina on October 3d, so I agree that it's not coming from the "Unapprove" button (which was not there).

From the data I have, the expense was edited by Alina to change the payout method from "paypal" to "other". At this time, it went from "Approved" to "Pending".

It was never edited again until we start caring about this issue. Let me know if you

[2019-10-25 07:17] #2551 closed

[2019-10-25 08:24] #2557 closed

[2019-10-25 09:38] sbinlondon commented on #2554
Thanks for the info - I'll be sure to jump on this this weekend! 🙌

[2019-10-25 09:50] sbinlondon commented on #2553
Cool 😎 Would you like me to have a go at it, or wait for more info/docs as mentioned in your first comment @Betree?

[2019-10-25 11:22] flickz commented on #2488
Closed in https://github.com/opencollective/opencollective-api/pull/2750

[2019-10-25 11:22] #2488 closed

[2019-10-25 12:15] Betree commented on #1791
The `WarnIfUnsavedChanges` component introduced in https://github.com/opencollective/opencollective-frontend/pull/2869 should make this pretty easy. I'll follow up soon.

[2019-10-25 12:23] Betree opened #2558 "Use CollectivePickerAsync on AddFundsSourcePicker"
We want to use the new `CollectivePickerAsync` component with the `creatable` option for `AddFundsSourcePicker`.

@xdamman @piamancini my notes from last time are incomplete, so I wanted to confirm with you the specs for this component before implementing:

- Should be able to search for any `ORGANIZATION` or `USER`
- Should allow to create `USER` or `ORGANIZATION` inline if it doesn't exist yet
-

[2019-10-25 12:35] Betree commented on #2458
@jeffin143 Thanks for investigating that! Your approach is correct. I'd say the ideal solution would be to add a `includeRefunds` flag on the `transactions` endpoint (https://github.com/opencollective/opencollective-api/blob/1bac9485fd2b61e2cc6292d57517cf21fe5d2d34/server/graphql/v1/queries.js#L426) to not fetch them at all. Let's say that we refund 15 translations in one go, the section will be e

[2019-10-25 12:52] xdamman commented on #2552
@znarf ok - on it

@alanna I see. What about this:
Instead of asking the creator of the collective to add people (which I agree could take time and get in the way of getting things done quickly), what about we focus this second step on "email" (step one is "collective name / url", step two would be "collective email"). We could offer 3 options:
- `info@:collectivelSlug.opencollective.com` (default

[2019-10-25 16:21] jeffin143 commented on #2458
Sure, I will take a look , But again since we are going to revamp the home page I don't want the following to happen :-p

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21286134/67587464-8ff3de80-f771-11e9-9c90-27f248e329ed.gif)

[2019-10-25 17:04] jfgmiller opened #2559 "Monthly Twitter Feed - Top Backers List"
## User story
_As a backer of an open source project on Open Collective, I can see the top backers accurately so that I may be compelled to contribute more and/or feel appreciated and recognized for the contributions that I already make_

Currently the Twitter feed Top Backers list only pulls the first three it comes to even if contribution amounts are the same for multiple contributors. So every

[2019-10-25 17:24] jeffin143 opened #2560 "Precision Not current on View Expense Page"
**Describe the bug**

While testing [PR](https://github.com/opencollective/opencollective-api/pull/2392 ), I noticed that the amount is rounded in view all expense page, Which I guess is not correct , Since the amount is not rounded in mail and on budget page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Expense Page
2. Click on any Expense

**Expected behavior**

The amount should d

[2019-10-27 20:31] alanna opened #2561 "Profile picker doesn't allow you to create a new entry unless you type in 'other'"
As a host admin, when I need to create a new funding source for adding funds manually, the profile picker does not behave as expected. When I type in the name of the organization, if it doesn't exist already it comes up with "nothing found" and does not give me the option to create new. To create a new organization, I have to type in "other" and select "please specify". If the search string does n

[2019-10-27 20:56] annamajorova0278 opened #2562 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/jest while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 9; SM-J600F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36`

# Technical details

[code]

[2019-10-27 21:00] alanna commented on #2549
I'll see if Alina can take this on. In general our policy is no recurring manual contributions because the admin is too high.

[2019-10-27 21:02] alanna commented on #2539
OK, let's consider this closed. I've informed the user.

[2019-10-27 21:02] #2539 closed

[2019-10-27 21:09] alanna commented on #2552
Ok sounds good @xdamman

I still think people are going to trip up trying to escape Github validation. To further improve the experience, I request the following:
* Instead of a big button for github and tiny text for manual, have two buttons of equal weight on that screen.
* Change the text to "Verify using GitHub stars" and "Request manual verification".
* I'll do an update to the text on that s

[2019-10-27 23:03] alanna commented on #2260
I'm pretty sure this has already been done.

[2019-10-27 23:03] #2260 closed

[2019-10-28 04:42] Memo-Es commented on #2394
### Update

This is the last update of the expense flow presented on Friday, October 24:

Submission to CC's - Receipts   |  Submission to CC's - Invoices |
:-------------------------:|:-------------------------:|
![Submission to CC's - Receipts](https://user-images.githubusercontent.com/49539954/67652357-20fdbd80-f90a-11e9-8adf-5132dfc429c3.png) |  ![Submission to CC's - Invoices](https://user-im

[2019-10-28 07:52] #2562 closed

[2019-10-28 08:49] Betree opened #2563 "Add support for backticks to rich text editor"
Requested on https://opencollective.slack.com/archives/C0HSLRNVC/p1571524324114700

## User story
As a Collective admin, I can use backticks to add inline code blocks to my Collective's about section.

## Best solution for this problem
See https://github.com/basecamp/trix/issues/171
- Must highlight the text put in backticks

[2019-10-28 08:54] #2092 closed

[2019-10-28 09:14] Betree commented on #2561
@alanna This is because the new Collective picker which allow to create inline hasn't been added on this form. There's already an issue for it on https://github.com/opencollective/opencollective/issues/2558

Feel free to comment directly on it, I'd like to ensure that we properly cover the specs before implementing.

[2019-10-28 09:17] flickz commented on #2561
Closing this in favour of https://github.com/opencollective/opencollective/issues/2558

[2019-10-28 09:17] #2561 closed

[2019-10-28 09:40] Betree opened #2564 "Use REST Hooks for webhooks"
When initially implemented, there was no constraint on how the webhooks system should be designed. The current code use GraphQL endpoints (`collective.notifications`, `editWebhooks`...etc) which integrate well in our codebase, but are not standard.

The standard for Webhooks is REST Hooks: https://resthooks.org/

Advantages:
- Easier Zapier integration. We could kill most of the code in https://gi

[2019-10-28 10:08] piamancini commented on #2394
@Memo-Es it's looking great!
I saw the conversation you had about tags with Xavier. It's a fair point.  Maybe we can do a view with tags per expense. Maybe smaller in size so we can fit them in?

I still think comments should be batch only.

[2019-10-28 10:13] piamancini commented on #2552
@xdamman + 1 to this - The current design you shared is optimized for github integration, but both pathways should have the same weight.

[2019-10-28 10:37] piamancini commented on #2558
Yes

Yes

No, it should be amount.

What do you mean by this? If the source doesn't exist there shouldn't be a balance. Also we are adding money on behalf of a source, we don't add the money first to the organization and then to the collective. So balance doesn't seem relevant.

I'm not sure about this use case. It doesn't seem very urgent. By @xdamman and @alanna have been working with collective

[2019-10-28 10:38] znarf commented on #2560
@alanna @piamancini should we prefer rounded or not rounded? I think not rounded (with  decimals) is better. Better display more characters than confuse users.

[2019-10-28 10:39] Betree commented on #2558
I think this was related to the intent to add funds from another Collective or Event.

[2019-10-28 10:59] xdamman opened #2565 "Allow gift card issuer to recommend collectives to support"
Triplebyte would love to recommend specific collectives to support.
Given that they are the ones paying, I think it’s a fair request.

As a first step to enable that, can we record on the TripleByte’s `Collective.settings` a small list of collectives that they recommend and add them above the “Find [other] collectives to support” on the gift card redeemed page? Something along the line of “Collect

[2019-10-28 11:04] znarf commented on #2555
The issue is not specific to this event and can be reproduced.

I just tested looking for an error or something, but looks like the button doesn't even try to do anything. Need to look at the code.

[2019-10-28 11:26] jeffin143 commented on #1789
@znarf are we still on this issue , does it require handling :)

[2019-10-28 11:27] piamancini commented on #2558
oh I see.
That case is likely to be handled as a regular collective to collective donation.
If we show it when we display organizations, it'll be confusing as there is no expectations for the funds to be there on the first place so the information is irrelevant. Maybe consider it displaying it only in the cases you mention above?

[2019-10-28 11:31] znarf commented on #1789
@jeffin143 I'm not sure about this one. Maybe you can propose a PR and we'll ask for feedback there.

[2019-10-28 11:39] Betree commented on #1773
:trophy: This issue has been resolved in https://github.com/opencollective/opencollective-api/pull/2392

Because @jeffin143 made the effort of testing and providing screenshots on the PR, we've decided to give him a bounty of the same amount.

 @Gbahdeyboh and @jeffin143, to claim the **$50** bounties, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (plea

[2019-10-28 11:39] #1773 closed

[2019-10-28 11:42] znarf commented on #2564
@Betree what would be the complexity?

[2019-10-28 11:45] Betree commented on #2565
Related to #2535

Seems out of scope for this issue, but for context this message is also displayed in the contribution flow. Was specified in #2365 after we got some related support tickets.

[2019-10-28 11:47] Betree commented on #2564
Hard to estimate because I don't know the REST service well, but probably `complex`

[2019-10-28 11:53] xdamman commented on #2565
I mentioned it because if someone gonna edit that page, they may as well remove that message no?

I just looked at that issue that you referenced. But I still don’t think that this is the right place to put such message. The contextual faq is the place. If you really want to keep it, at the very least I’d push it to the bottom of the page. But I honestly don’t think think it should be on that page

[2019-10-28 11:58] staltz opened #2566 "Might not be able to receive emails"
I might or might not have a bug with emails. I just want to check if #2401 is still happening to my email account `andre@staltz.com` or not, before the next month comes in and I miss update emails.

[2019-10-28 12:18] znarf commented on #2566
After https://github.com/opencollective/opencollective/issues/2481 I removed you from the "unsubscribe" list and shared with you by email the feedback from our email provider.

I can confirm that as of now you have not been added again on this "unsubscribe" list.

[2019-10-28 12:20] staltz commented on #2566
Okay, thanks! I'll let you know if anything goes wrong.

[2019-10-28 12:20] #2566 closed

[2019-10-28 12:34] znarf commented on #2555
After investigation, I found this was broken in https://github.com/opencollective/opencollective-frontend/pull/2094 cc @Betree @NotJohs

[2019-10-28 12:50] jeffin143 commented on #1564
@Betree Where should it be added ? Can you point the location

[2019-10-28 13:08] flickz opened #2567 "HostDashboard: Improve error display"
Errors displayed in host dashboard are currently not nice, the error message displace expense action buttons. Also some method hide error message from the user, this is not a good practise.

<img width="542" alt="Screenshot 2019-10-28 at 2 05 39 PM" src="https://user-images.githubusercontent.com/15707013/67680692-09671900-f98c-11e9-9555-6129e54ee270.png">

[2019-10-28 13:21] jeffin143 commented on #2567
+1 for this, Lot of places we have had this issue not only host-dashboard, #2008 is one of such place.

May be a solution for this could be instead of printing  them as `tool-tip` , So that when you `hover` over the `disabled button`, you get error message

Which would not displace the button ,  just a suggestion, may be you have a better plan :)

[2019-10-28 13:30] ola3510 commented on #1819
@znarf I would love to work on this...can it be assigned please?

[2019-10-28 13:46] znarf commented on #1819
@yellowwoods12 @ola3510 This issue has been already tackled in half in https://github.com/opencollective/opencollective-frontend/pull/2777

It's still open because it would be great to have a message warning that the "Location" input is not properly functioning because Google Maps could not be loaded. Feel free to work on that. I will keep the $100 bounty.

[2019-10-28 13:52] #2537 closed

[2019-10-28 14:14] looisjl opened #2568 "Event budget transfer button won't work"
**Describe the bug**
When I click on the budget transfer button from this page https://opencollective.com/make-it-sound/events/mise-en-place-audiotheque-la-serre-16878ev nothing happens (and no budget is transferred).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/make-it-sound/events/mise-en-place-audiotheque-la-serre-16878ev
2. Click on "transférer 2.256€

[2019-10-28 14:14] znarf opened #2569 "Misleading notification banner for collectives created through GitHub flow"
**Describe the bug**

The notification is misleading when creating a collective through the GitHub flow.

**To Reproduce**

1. Create an Open Source collective through the GitHub flow
2. Check the notification banner.

**Current behavior**

**Expected behavior**

**Screenshots**

![Screenshot_2019-10-28 Open Collective API - Open Collective](https://user-images.githubusercontent.com/806/67685551-9

[2019-10-28 14:19] znarf commented on #2568
Thank you for reporting it. We're on it https://github.com/opencollective/opencollective/issues/2555, the fix will be released today.

Closing as duplicate.

[2019-10-28 14:20] #2555 closed

[2019-10-28 14:23] looisjl commented on #2568
wow, great!!

many thanks for your fast reply

[2019-10-28 14:43] sebsheep commented on #2555
It still does not work...

[2019-10-28 15:08] znarf commented on #2555
@sebsheep it's not deployed yet

[2019-10-28 15:10] sebsheep commented on #2555
Thanks François. Do you know when it will be? Is it possible to be pinged
when it is deployed?

Le lun. 28 oct. 2019 à 16:08, François Hodierne <notifications@github.com>
a écrit :

[2019-10-28 15:22] znarf commented on #2555
@sebsheep Try again? If it's still not there, will have to wait for the cache to be flushed.

[2019-10-28 16:07] Betree commented on #1919
I'm wondering what could happen if someone malicious plays with that, especially because **any user can become a host admin** (aka we cannot trust host admins).

Implementing this issue means that any user will be able to create a prepaid payment method for any organization out there without their consent. Do we want that? Can this be abused?

We should also be careful with what that means when we

[2019-10-28 16:33] Betree opened #2570 "Host dashboard: improve consistency for buttons"
Related to https://github.com/opencollective/opencollective/issues/2567

---

Buttons on the host dashboard use different styles. We can improve consistency by using `StyledButton` for all of them and capitalized labels (ex: `Mark as paid`).

We'll need to add a new `buttonStyle` type called `danger` for the `Reject` operation. Button's design is available on https://www.figma.com/file/N4Xbl652Bhz

[2019-10-28 16:39] sebsheep commented on #2555
It worked! Thanks :)

Le lun. 28 oct. 2019 à 16:23, François Hodierne <notifications@github.com>
a écrit :

[2019-10-28 16:49] Betree commented on #2567
I did something similar to what @jeffin143 is suggesting a few days ago in https://github.com/opencollective/opencollective-frontend/pull/2869 using `StyledTooltip`. It's not meant to display errors, but I think it does the job of explaining why an action is disabled.

![image](https://user-images.githubusercontent.com/1556356/67698606-f31c8580-f9aa-11e9-9faa-92f6ccd2ac02.png)

[2019-10-28 17:07] Betree commented on #2570
Update: design's team has added the `Danger` state in the design system (https://www.figma.com/file/N4Xbl652BhzOutXmzhcrLGch/DS-06-%2F-Atoms?node-id=1928%3A7979). This issue now ready for implementation.

![image](https://user-images.githubusercontent.com/1556356/67700140-b1d9a500-f9ad-11e9-8b8d-1290e3540052.png)

[2019-10-28 17:12] znarf commented on #2568
@looisjl It should be deployed now.

[2019-10-28 17:12] #2568 closed

[2019-10-28 17:27] Betree commented on #1564
It's hard to see exactly where this should go, we don't have  proper design for it. I'd be in favor of adding a simple link to the docs so that we don't duplicate the FAQ's content: https://docs.opencollective.com/help/backers-and-sponsors/gift-cards#faq

So for clearer specs:
- On https://staging.opencollective.com/{ORGANIZATION_SLUG}/edit/gift-cards-create
- Add a link to the position shown on t

[2019-10-28 17:29] Betree commented on #1564
File is https://github.com/opencollective/opencollective-frontend/blob/820c3dbf5e3eb898b612a26fa8eb7453f6133964/components/EditCollectiveForm.js#L835, though that'd be cleaner to move all that to `CreateVirtualCardsForm` (not requested for this issue).

[2019-10-28 17:35] Betree commented on #2258
@alanna My personal opinion is that because this project is complex and we want the implementation to be the cleanest possible, we should handle it internally. But @znarf has a better view on this than I do.

[2019-10-28 17:55] Betree commented on #2553
@sbinlondon If you're interested in it feel free to start! Don't hesitate to ask questions (on Slack #engeenirring  or here) for everything that seems unclear so that we have a better feeling of what we need to document in the process.

[2019-10-29 01:48] alanna commented on #2549
OK I discussed with Alina. We have initiated monthly $5k transfers in the bank account from Foundation to OSC, which will run for three months.

@xdamman how can we credit the funds to XR Rebels Manager? If we do the standard manual add funds process, it will create an Organization profile for CCC seperate from their Collective (and we'll need to submit an expense to CCC to debit $5k from their Co

[2019-10-29 09:04] flickz commented on #1919
I didn't exactly think about the consequence like this when I opened a PR for this issue, now that I think about it, it is actually scary.  Can we have an implementation where the host admin can do this but a notification email will be sent to the root user for confirmation, the fund will never be added until the root user confirms it?

Can we or do we have any means of confirming the authenticity

[2019-10-29 09:09] Betree opened #2571 "Invitation email when creating users"
With the new Collective picker we now have a generic way to search or create users profiles on the behalf of someone else. We need a page for these users to confirm their profile, making sure that they accept the TOS.

## Feature spec

When a user that has been invited goes on `/signin` for the first time (maybe we can detect that through `lastLoginAt`?) we show stepper with three steps:

![image]

[2019-10-29 09:15] Betree opened #2572 "Update design pattern for forms lists (edit goals/members)"
The edit pattern for `Edit goals` and `Edit members` doesn't have a good positioning for the Add/Remove/Save buttons. We want to edit both forms with a common pattern to edit the lists.

**This issue is currently waiting for a feedback from design to know how to move forward with it.**

Below is how it looks like today (calls to action in green):

![image](https://user-images.githubusercontent.com

[2019-10-29 09:18] Betree opened #2573 "Allow root users to create pending orders for any collective"
We want root users to be able to create pending orders to any Collectives to facilitate manual cross-host collective to collective donations.

- [x] Always show manual payment method for root users in the contribution flow
- [x] (If required) Update permissions on API

[2019-10-29 14:00] contraexemplo commented on #2333
@Betree I'm revisiting this issue this week and I have a question: when I go through the authorization process on GitHub, our organization (`opencollective`) is followed by a green tick ("This organization allows the application to access organization data as described in the permissions above."). Is this related to the way an organization on GitHub manages their third-party application access pol

[2019-10-29 14:28] Betree commented on #2333
Yes it is. We already granted the permissions to the Open Collective Github app for our organization, that's why there's a green tick.

Seems correct.

[2019-10-29 14:30] contraexemplo commented on #2333
Great, thanks!

[2019-10-29 15:14] JoyLubega commented on #2570
Hey, @Betree I would like to try this one, Do I just self assign?

[2019-10-29 15:39] JoyLubega commented on #2570
Let me just give it a try

[2019-10-29 15:56] Betree commented on #1915
@JoyLubega We want to introduce a monthly tweet to thank Open Collective's contributors publicly.

It's opt-in, so I need to know first if you're ok to be mentioned publicly. If you do, what's your Twitter handle?

Thanks!

[2019-10-29 16:02] JoyLubega commented on #1915
Yes am okay with that

On Tue, Oct 29, 2019 at 6:56 PM Benjamin Piouffle <notifications@github.com>
wrote:

[2019-10-29 16:04] Betree commented on #1915
@JoyLubega Cool :-) What' your Twitter handle?

[2019-10-29 16:06] JoyLubega commented on #1915
@NamuliJoy

On Tue, Oct 29, 2019 at 7:04 PM Benjamin Piouffle <notifications@github.com>
wrote:

[2019-10-29 17:00] jfgmiller opened #2574 "Membership Approval"
## User story
_As a Collective on Open Source Collective, I can approve Membership type Contribution Tiers the first time they are submitted so that our organization can control who becomes members._

## Best solution for this problem
The ideal solution is that contribution type "Membership" requires approval from one of the Core Contributors the first time a membership contribution is made from a

[2019-10-29 18:14] piamancini commented on #2558
ok cool

[2019-10-29 18:15] piamancini commented on #2560
agree @znarf

[2019-10-29 21:19] alanna commented on #2549
@alinamanko - I talked to @xdamman about this in the meeting. @Betree is going to action #2573 so platform admins can use the bank transfer option in cases like these. Xavier will create a pending order in the system and all you'll need to do is mark it as paid when the money shows up in the Xero feed. Xavier, when the pending order is created please let us know.

[2019-10-29 21:41] alanna commented on #1919
Yeah you're right @Betree I don't think we can go ahead with this in such a simple way. Maybe something like, host admin can add funds to organization but that organization can only contribute those funds to Collectives under that host? I think it's too complicated, though.

For now let's just stick with root users can add funds to Organizations. If we get demand in the future from other host admi

[2019-10-29 21:51] alanna commented on #2571
This is exactly why pointed out that I disagree with the content of that fancy terms page. It's going to show up all over the place and those values are not actually shared by every group and we don't want to force them. I absolutely discriminate about who I will accept money from for my projects, and not just anyone can join (that would create an unsafe space for others). I realise this is pretty

[2019-10-29 21:58] xdamman commented on #2571
We shouldn’t use this TOS page for creating a user account. It was only meant for new collectives that should abide by the values of the host (in the absence of them, with a fall back on the most possible generic values that define all open collectives). If you’d like to discuss that, please do so on issue #2552.

[2019-10-29 22:00] alanna opened #2575 "Content for fancy terms of service screen"
@xdamman has suggested a fancy more inviting version of the terms of service screen. Personally I do not agree with this as I don't think it's MVP or necessary given our priorities right now, but if it's going ahead it will start to show up all over the place and we need to make sure the content is right.

I strongly disagree with this version from the mockups:

![](https://user-images.githubuserc

[2019-10-30 08:10] #2548 closed

[2019-10-30 08:24] Betree commented on #2571
This is on me, I assumed that we wanted this component for all TOS checkboxes. I've updated the specs to remove that part.

For security reasons we must always validate the email address. Otherwise a malicious user could take benefit from this to login with an email address they don't own.

Yep I agree, in this case profile and TOS steps will be skipped.

Yes if they're already logged in with the

[2019-10-30 08:38] #2573 closed

[2019-10-30 08:40] Betree commented on #2549
https://github.com/opencollective/opencollective-frontend/pull/2912 should be deployed soon and will unlock this feature. Please note that the `Bank transfer` option will not be displayed if you set an interval (`monthly`). For this one you'll need to make 3 x one time contributions. The reason is that subscriptions don't work with manual payments.

[2019-10-30 08:44] Betree commented on #1919
It may be safer to do that until we're ready to properly tackle it, we should keep this issue open so that host admins can +1 if they're interested in it.

[2019-10-30 08:51] Betree commented on #2394
Looking great! Maybe we should better surface the payout method on the confirmation page. It's a very important information that you want to encourage users to double/triple-check (because they can have a typo in their PayPal email for example).

![image](https://user-images.githubusercontent.com/1556356/67842598-c2e3fc80-fafa-11e9-8ca0-fec8b85eba12.png)

[2019-10-30 11:07] piamancini commented on #2575
I think it'd be ok if we wanted to simply state that these are our values, but forcing the check marks is very weird.

The values are so broad and subjective that clicking doesn't really mean anything. We also have no way of agreeing what a violation of these terms would be, let alone enforce them. It looks like an attempt to signal virtue without any real meaning or consequence. Those values are

[2019-10-30 11:17] Betree opened #2576 "Block temporary/burner email addresses"
We rely on email for our authentication mechanism and to create a higher entry cost for users to avoid SPAM or DDOS. Burner email providers make that security weaker as they allow to easily create many addresses. Moreover, most of these addresses are shared and publicly accessible.

We got some entries in the database of users that tried to make orders with such emails in the past (they were actua

[2019-10-30 12:32] Betree commented on #2527
@josesimoes Thanks for reporting this issue, we indeed have a bug for this webhook event that should be fixed by https://github.com/opencollective/opencollective-api/pull/2826.

[2019-10-30 12:36] josesimoes commented on #2527
@Betree thanks!

Worth pointing out that the icon on the message is the one from Zappier and not the user avatar. Unlike what's showing on the test message. Probably related...

[2019-10-30 12:49] znarf opened #2577 "Prevent collectives to be deleted when they have events attached."
## User story

Before deleting a collective, we should make sure there is no event attached to it.

## Best solution for this problem

On collective deletion, we should check if there is any non-delete event attached to it. If there is one, we should deny the collective deletion.

## Note

The ability to delete events is not there yet but there is an open PR https://github.com/opencollective/openc

[2019-10-30 13:00] Betree commented on #2558
I've started working on this, but because of #1919 it seems to me that we can't really show **all organizations/users** as source to host admins, only to root users. Am I missing something?

[2019-10-30 13:02] piamancini commented on #2394
@betree, great idea

[2019-10-30 18:11] jeffin143 commented on #2576
I am not sure, but I would like to dwell into api and understand the code base so I just attempted to solve the issue

Would Adding the following code at https://github.com/opencollective/opencollective-api/blob/93794dd43fd516b1e984546eeac5b914ff1b7058/server/graphql/v1/mutations.js#L257-L262 work?
[code]

![Screenshot from 2019-10-30 23-31-23](https://user-images.githubusercontent.com/21286134/67

[2019-10-30 22:04] alanna commented on #2549
Thanks @Betree - @xdamman let us know when the pending order is created, then @alinamanko can mark it as paid.

[2019-10-30 22:09] alanna commented on #2558
Host admins can only add funds to Collectives under their host right? So even if we give them the ability to attribute those funds as coming from any organization, is there a risk? Unlike the broader case in #1919 this feature is limited to adding funds only in their host.

They are responsible for all funds in all Collectives in their host, regardless of source, so it seems likely someone would b

[2019-10-31 01:19] alanna opened #2578 "User says wrong fee amount was charged on expense"
See [details on this expense](https://opencollective.com/texas-camp-2019-19178ev/expenses/11004).

Open Collective shows:

But the user says they received less than they should have and it seems like the fees were deducted twice.

[2019-10-31 01:21] alanna commented on #2546
@znarf can you please update the expense to invoice type and make sure the tax form gets triggered for this user?

[2019-10-31 07:54] #2490 closed

[2019-10-31 08:01] znarf commented on #2546
Done.

[2019-10-31 08:01] #2546 closed

[2019-10-31 08:03] Betree commented on #2296
I missed this while writing #2571. Closing in favor of the second, lmk if there's anything missing in the specs

[2019-10-31 08:03] #2296 closed

[2019-10-31 08:16] znarf opened #2579 "Refactor or remove specific precision handling"
Following up on:
https://github.com/opencollective/opencollective-frontend/pull/2890/files

We need to either:
- move this specific precision handling in the `AmountCurrency` component
- remove it altogether

[2019-10-31 09:28] #2363 closed

[2019-10-31 09:30] Betree commented on #1919
That's already the case, prepaid are limited to the host they are created by

[2019-10-31 09:38] Betree commented on #2558
@alanna Sorry I got confused with https://github.com/opencollective/opencollective/issues/1919 but you're right that it's not the same thing (adding funds to an organization VS adding funds to collectives).

So this should be safe indeed. I'll iterate on https://github.com/opencollective/opencollective-frontend/pull/2921

[2019-10-31 10:19] Betree commented on #2579
My personal opinion would be to **not** truncate decimals when there's none (`$10,00`) if `precision` has been passed as a parameter. Main argument for that is alignment: if you conditionally truncate the number, it may be mis-aligned with the others when used in a vertical display.

|  Quantity |  Amount | Notes |
|:---------:|-------:|-------|
| 4         | $5.47   |       |
| 2         | $91.12

[2019-10-31 10:25] znarf commented on #2574
@jfgmiller thank you for this suggestion. There is a similar issue here: https://github.com/opencollective/opencollective/issues/2006 Maybe can you share your perspective there?

[2019-10-31 10:31] znarf commented on #2578
I thought about it and I expect this to be a Paypal gotcha. It seems in this case fees were removed on the receiver side instead of being added on the issuer side. The `$6.30` value was properly reported by the Paypal API, not calculated by us. I think it could be interesting to log the full object returned by Paypal if we want to properly understand this case.

[2019-10-31 10:32] #2569 closed

[2019-10-31 11:13] xdamman commented on #2575
This lacks context. I agree with Alanna that inclusive doesn't mean that you should accept everyone. However it does mean that you don't discriminate people as long as they follow the values of your collective. So it's a matter of properly defining those terms.

That said, and in the spirit of moving things forward, we will simplify this for now to simply approve the terms of service and we will c

[2019-10-31 12:43] Betree commented on #2576
It would work :slightly_smiling_face: But by doing that at the model level (https://github.com/opencollective/opencollective-api/blob/b03634849ed89230e4a93ac4e3b6811d8215a7f6/server/models/User.js#L48) ensures that no matter how a user is created/edited, we'll always check this field the same way.

[2019-10-31 12:53] jeffin143 commented on #2576
I thought we are doing it for new users , since there could be some profile which are existing and may be flagged by burner , so to avoid that I thought we would just add a check at the time of creation of account :)

[2019-10-31 13:23] contraexemplo commented on #1674
@flickz hi! I'm really interested in the progress of this issue, do you have any updates and could you explain a bit what strategy you have in mind to solve this issue?

[2019-10-31 15:30] jeffin143 opened #2581 "Npm lockfiles can be a security blindspot for injecting malicious modules"
## User story
I am not sure, I am the correct person to discuss about the npm build issue, but I cam across an article - https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious-modules/

which states linting package-lock.json files is a good practice to avoid security issues.

## Best solution for this problem
Should we lint package-lock.json file ?

Also does np

[2019-10-31 19:57] flickz commented on #1674
@contraexemplo So the goal is to have a page like this https://desktop.github.com/release-notes/  to achieve this, we'll be fetching closed [issues](https://github.com/opencollective/opencollective/issues) weekly, display them in a url like `changelog.opencollective.com` as weekly releases.

The progress with this, the fetching aspect is done, what's left is having a UI to display them.

[2019-10-31 21:50] alanna commented on #2578
OK so will you continue to investigate here @znarf or do you want to move this to Freshdesk? There is an open ticket here: https://opencollective.freshdesk.com/a/tickets/2618

[2019-10-31 21:53] alanna commented on #2540
@znarf what is the update on this? The user is chasing us and the system is still saying he hasn't submitted the form when he has. We can't just close the issue and leave the user hanging.

[2019-11-01 00:11] alanna commented on #2394
Had a meeting with the designers today and discussed a couple issues.

1. Where did the requirement for templates come from? It's not in the [specs](https://docs.google.com/document/d/11tXZ__4VyLVvF2GLNxKIiyhFkeCCTTUWr0jsGW-o3wY/edit#).

@piamancini I see you made a comment about including it above, but I don't really understand what the purpose is. When will Collectives use it? Do we have some ex

[2019-11-01 00:19] alinamanko commented on #2549
@xdamman I will await confirmation from you on this one - got the funds ready to be allocated

[2019-11-01 07:43] znarf commented on #2540
I shared with you long time ago the details about this case. From there, I think we can download the submitted tax form. After that, I'm not sure, suggestions?

[2019-11-01 08:02] madebycollins opened #2582 "Last question on the FAQ section of the pricing page doesn't work"
**Describe the bug**
The accordion for the last question under the FAQ on the pricing page is not set up correctly. It doesn't work,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://opencollective.com/pricing](https://opencollective.com/pricing)
2. Scroll down to the 'Frequently Asked Questions' section.
3. Click the last question ('What are some examples of fiscal hosts? ')
4.

[2019-11-01 08:23] flickz opened #2583 "HostDashboard: Add loading state for expense refetch"
Following up  @Betree's [comment](https://github.com/opencollective/opencollective-frontend/pull/2896#pullrequestreview-307977537) to include a non blocking loading state for expense refetch.

[2019-11-01 09:31] flickz commented on #2582
This is not a bug, that section has no answer looking through the [code](https://github.com/opencollective/opencollective-frontend/blob/master/static/pricing-page/index.html#L658-L662) . I'm not sure why we have it that way.

@piamancini  Are we leaving this section out on purpose?

[2019-11-01 10:15] piamancini commented on #2394
@alanna The templates are the invoices on the flight. It's how we save the information that hosts need contributors to add to the invoice. It's been in the specs from the beginning. See below a screenshot of the specs where it states this.

<img width="661" alt="Screen Shot 2019-11-01 at 11 12 07 AM" src="https://user-images.githubusercontent.com/3671070/68018114-9d8cf500-fc98-11e9-8b0d-d218ac4458

[2019-11-01 12:43] znarf commented on #2540
I now fixed the root issue and this case should not be reproducible anymore.

[2019-11-01 12:54] znarf commented on #2258
The core team should do the specifications. After that, I think any good developer can do it.

What I like about this project is that it's not necessarily a rewrite of what we have but something that can run in the background.

The expenses could be "Marked for Payout" by Host Admins and after that a background job would do the magic behind the scenes. If there is any problem with the new system,

[2019-11-01 13:57] znarf commented on #2582
@flickz Let's remove it for now.

[2019-11-01 13:59] znarf commented on #2581
@jeffin143 happy to add that to our 'lint' jobs on CI, doable?

[2019-11-01 14:24] znarf opened #2584 "Better handle StripeConnectionError"
We're having some errors with Stripe that are not properly detected.

We added logging in: https://github.com/opencollective/opencollective-api/pull/2821 and now in the console, we see:

[code]

We need to detect this specific error and get notified when this happen so we can troubleshoot.

If successful, we'll likely refund these transactions on Stripe because they could not be properly acknowled

[2019-11-01 16:38] jeffin143 commented on #2581
@znarf  Umm I will try it in on one of my own repo, if everything works smooth, I will add the config files here :)

[2019-11-02 06:21] ABDULLAH2030n opened #2585 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/applications while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 9; SM-A705FN) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.90 Mobile Safari/537.36`

# Technical details

[cod

[2019-11-03 01:24] alinamanko opened #2586 "Blank support tickets"
We are currently working to improve our analytics of the support functions. One area I am looking for your input is related to blank tickets received ([here is an example]() to better understand what I mean).  I don't really understand how those are triggered and looking for advice on how to treat them going forward (what category we tag them? how those are closed? etc.). At the moment there is no

[2019-11-03 03:09] jeffin143 commented on #2560
Closing this for #2579

[2019-11-03 03:10] #2560 closed

[2019-11-03 10:56] #2585 closed

[2019-11-03 11:32] znarf commented on #2586
@alinamanko the idea was to help people submit issues when they get an error. However, this hasn't proven much useful, few people are using it properly. And it's likely most of the reports we get are generated from robots not humans. It's why they are blank.

We're now having the same kind of functionality but automated (via a tool named Sentry), so I think moving forward:
- we can ignore these re

[2019-11-03 19:54] Huynhanh883 opened #2588 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/tran-thien-huynh-anh/edit/webhooks while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: iPhone
- Browser: `5.0 (iPhone; CPU iPhone OS 12_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.2 Mobile/15E148 Safari

[2019-11-03 21:49] alanna opened #2589 "Expenses being raised under the user instead of the Collective"
A user submitted an expense to the [Scuttlebutt Maintenance](https://opencollective.com/powersource/expenses/11347) Collective. You can see it displayed in the budget section.

![Screen Shot 2019-11-04 at 10 46 35 AM](https://user-images.githubusercontent.com/5498878/68092484-86e0db00-fef0-11e9-9ed5-13e1dd95f4c9.png)

However, the expense appears to be under the user (powersource) instead of the C

[2019-11-03 21:49] alanna commented on #2589
Reported by @mixmix

[2019-11-03 23:23] alanna commented on #2311
This issue appears to be still happening. It's saying fees will be removed when adding funds to an Organization. No fees should be taken at this point. Fees should be applied when they use their funds to contribute to a Collective. The net amount should be 100% of the amount added.

![Screen Shot 2019-11-04 at 12 18 22 PM](https://user-images.githubusercontent.com/5498878/68093754-da0d5a80-fefd-11

[2019-11-03 23:48] alanna commented on #2586
If we are not using this function for anything important, I think we should disable it. It takes up our time to process all these blank support tickets (each ticket must be dealt with as none can be ignored in Freshdesk).

[2019-11-03 23:57] alanna opened #2590 "'Load more' button on expense comment thread doesn't load more content"
At the end of the comments on [this expense](https://opencollective.com/gosublime/expenses/10024) there is a 'load more' button, but if you click it there is no new content loaded.

[See screen recording.](https://i.gyazo.com/e27f6e674a737e74f6ec23d2030e43e6.mp4)

[2019-11-04 00:01] alanna commented on #2394
Ah ok I think I see the confusion @piamancini - the designers were applying templates to receipts not invoices. This is why it didn't make sense to me.

@Memo-Es please see above clarification from @piamancini - we are removing templates from receipt expenses and only enabling saved information for invoices, as we've discussed.

[2019-11-04 01:12] alanna commented on #2549
@xdamman update on this?

[2019-11-04 08:15] naduvko opened #2591 "Transaction pdf shows wrong month"
**Describe the bug**
When downloading transaction invoice, pdf file shows date with next month
Fore example transaction made on 11/4 is with date 12/4

**Screenshots**

![image](https://user-images.githubusercontent.com/615788/68106935-d7a20500-feeb-11e9-9452-c593f44f5646.png)

[2019-11-04 10:25] sbinlondon commented on #2554
Quick update: I am still going to work on this, just moved house last weekend and haven't had internet/been busy unpacking and getting things set up, so will be able to do more starting this week 😊

[2019-11-04 10:26] sbinlondon commented on #2553
Same comment as my other issue: moved house, not had internet/time to work on things but more settled in and will be able to work on it this week 😊

[2019-11-04 10:30] #2588 closed

[2019-11-04 10:39] znarf commented on #2591
@naduvko Thank you for reporting this!

This is handled in the following code: https://github.com/opencollective/opencollective-invoices/blob/master/src/pages/invoice.js#L447

The second parameter should be a `monthIndex` and not a `month`, we should basically substract 1. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

This is a terrible API in Javascript an

[2019-11-04 11:33] znarf commented on #2584
We can use `retries` and refactor the code so it's retry ready. https://github.com/stripe/stripe-node#network-retries

[2019-11-04 13:16] znarf commented on #2586
@alanna I'm not aware of these reports sent to Freshdesk, they're only appearing in GitHub, ie: https://github.com/opencollective/opencollective/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+Unexpected+error+when

Are talking about the same thing?

[2019-11-04 13:28] znarf commented on #2589
It's interesting. The conditions are a bit tricky to reproduce.

This link or this page should not exist in the first place: https://opencollective.com/powersource/expenses/11347. Or at least, if you start with this page, it breaks the behavior later.

This is the correct URL, clicking on it should (I hope) unblock the users:
https://opencollective.com/scuttlebutt-maintenance/expenses/11347

We ha

[2019-11-04 13:36] znarf commented on #2590
@alanna Not sure what it is. I'm not able to reproduce the behavior at the moment, not seeing the "load more" button on this page.

[2019-11-04 13:53] piamancini commented on #2311
@alanna it doesn't say they'll be removed, it says to put aside from that amount. So the c6 receives amount in full, we are telling it to separate 5% because it'll have to pay it as platform fees in the future.

[2019-11-04 15:09] xdamman commented on #2223
Feedback on latest export from @Memo-Es
![](https://d.pr/free/i/GQQucU+)
![](https://d.pr/free/i/VgYw5C+)

I'd also put the Conversations section right below the Updates section.

Can you share the latest version of the the Conversation page?

[2019-11-04 15:29] xdamman opened #2592 "New pricing page (design)"
We need to update https://opencollective.com/pricing to reflect the new business model and focus on self hosted collectives.

I'd keep the same general design with a FAQ at the bottom.
Just the table needs to change:
![](https://d.pr/free/i/zQCUdy+)

And we need a "create your collective" call to action somewhere, or a button below each column?

[2019-11-04 15:36] raulgrafico commented on #2223
@xdamman this is the latest version for the conversation page.

<img width="1504" alt="03 → Conversation Thread" src="https://user-images.githubusercontent.com/1252676/68133673-76c3fe00-fee6-11e9-81c0-0cf73377edf3.png">

[2019-11-04 15:44] jeffin143 commented on #2590
@znarf , you are right there is no `load more` button on this page, but I can reproduce the behaviour locally, Try adding some more comments and then load button will appear.It will appear if `comments.length%10==0` and it should be more than 20 since `const Expense_SIZE = 10` and `limit = Expense_SIZE*2` so more than 20, but this page has only 13 comments :)
but if you click on the button it will

[2019-11-04 16:04] znarf commented on #2590
Thank you for investigating that @jeffin143. How do you explain that you were able to reproduce locally and not in production? Because one comment was deleted or added?

[2019-11-04 16:12] znarf commented on #2590
[code]

Ok, this is plain buggy. I understand that if there is a total of 10 or 20 comments, the load more button will be displayed for no reason. This should be revamped.

[2019-11-04 16:12] jeffin143 commented on #2590
@znarf , now I am guessing this part , while adding the comments there would be an instance where the `comment.lenth%10==0` would be true ( at 10th comment most probably) but after commenting further that load more button would be vanished since the condition would become false, and it again become true after 20th comment

[2019-11-04 16:16] jeffin143 commented on #2590
I agree with you may be it should be `comments.length > 20` , but not only that there is some other issue underhood , which I guess is fishy, because even if we do that , our Mai issue of displaying everything is not resolved*

Some issue with comment.js file , fetchmore I guess , I am not sure since I don't the code base :)

[2019-11-04 16:29] #2582 closed

[2019-11-04 19:50] contraexemplo commented on #2333
Finished with @alanna's help, published here: https://docs.opencollective.com/help/collectives/osc-verification

[2019-11-04 19:51] #2333 closed

[2019-11-04 20:10] nemchik opened #2593 "Widget count issues"
**Describe the bug**
The widget (`<script src="https://opencollective.com/SLUG/banner.js"></script>`) seems to be incorrectly counting all organizations that have donated to a collective as a sponsor, but not showing the organization under sponsors or backers.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the widget code from https://opencollective.com/SLUG/edit/export (in my case I'm

[2019-11-04 20:18] nemchik opened #2594 "Widget limit issues"
**Describe the bug**
The widget (`<script src="https://opencollective.com/SLUG/banner.js"></script>`) seems to have code that should limit the number of people displayed by default to 10, but this is ignored. Using the widget places an iframe to the page https://opencollective.com/linuxserver/banner.html?limit=10&id=banner-iframe-1921&style={} however just by visiting that page there are clearly m

[2019-11-04 20:23] contraexemplo opened #2595 "A new home for Open Collective's documentation"
I've been working with Open Collective's documentation platform of choice, GitBook, every day. GitBook, for those who aren't familiar with that name, used to be a popular [open source CLI tool](https://github.com/GitbookIO/gitbook) used by many open initiatives such as [Django Girls](https://tutorial.djangogirls.org/), and is now a [documentation platform](https://www.gitbook.com/).

## Our main i

[2019-11-04 20:26] nemchik opened #2596 "Widget documentation"
## User story
_As collective admin, I can not find adequet documentation for use of the widget so that I can include it on my site and have it show the information I find relevant._

## Best solution for this problem
_What does the ideal solution look like?_
In the very least provide a link from https://opencollective.com/SLUG/edit/export to the wiki https://docs.opencollective.com/help/collective

[2019-11-04 20:35] nemchik opened #2597 "Top Contributors SVG"
## User story
_As <persona>, I can <what?> so that <why?>_
As collective admin, I can not currently find an export image of my top financial contributors so that I can display it on my website.

## Best solution for this problem
_What does the ideal solution look like?_
Add an export image and provide the section on https://opencollective.com/SLUG/edit/export that shows the top financial contribut

[2019-11-04 23:56] alinamanko opened #2598 "Support Metrics Report October 2019"
Introducing our first monthly [Support Metrics Report for the month of October](https://docs.google.com/document/d/1ciwAcpyEYf7UhbmqFOJ30TKL9PfuThatEVAeGVZPdsc/edit?usp=sharing). We are planning to incorporate this report as part of our monthly processes to enable us to improve the support function on a continuous basis.

Your feedback is most welcomed.

[2019-11-05 00:12] alanna commented on #2540
Unfortunately the issue is not resolved. The system still thinks this user has not submitted the form, and he's not able to resubmit it.

![Screen Shot 2019-11-05 at 1 11 52 PM](https://user-images.githubusercontent.com/5498878/68168527-e660e880-ffcd-11e9-80d3-682356536a56.png)
![Screen Shot 2019-11-05 at 1 10 36 PM](https://user-images.githubusercontent.com/5498878/68168528-e660e880-ffcd-11e9-829

[2019-11-05 00:18] alanna commented on #2586
Hmm no I don't think that's the same. We're talking about the large number of blank emails sent to info@opencollective.com - we get them all the time.

Here's how they look in Freshdesk:

![Screen Shot 2019-11-05 at 1 17 15 PM](https://user-images.githubusercontent.com/5498878/68168746-b108ca80-ffce-11e9-8637-1e6a873a0837.png)
![Screen Shot 2019-11-05 at 1 16 51 PM](https://user-images.githubuserc

[2019-11-05 00:20] alanna commented on #2589
Oh that's strange. Thanks for the alternate link. @mixmix I paid this expense so that's unblocked. We'll try to find out how this happened.

[2019-11-05 00:23] alanna commented on #2311
But we won't set aside 5% of that $8000 for platform fees. What will happen is that org will contribute to a Collective and we will set aside *that* 5% for platform fees. All fees are applied at the time the funds are used to contribute to a Collective.

Telling us we need to set aside the funds here is misleading, because we'll also get a report that month saying to set aside the platform fees, m

[2019-11-05 00:28] alanna commented on #2596
@contraexemplo do you have thoughts about documentation for the widgets?

[2019-11-05 00:32] alanna opened #2599 "Buttons overlapping menu on host page in admin view"
Because of the large number of buttons visible to host admins when looking at the host page, they overlap the menu bar.

![Screen Shot 2019-11-05 at 1 30 42 PM](https://user-images.githubusercontent.com/5498878/68169356-a2bbae00-ffd0-11e9-9d3e-8f3dfc4b9cfe.png)

[2019-11-05 01:05] alanna commented on #2540
OK I was able to finally track down the solution in a Slack message from @znarf - we got the file. I have added it to the others to be uploaded manually at some point soon. And I manually marked it as received in Forest for this user.

[2019-11-05 01:05] #2540 closed

[2019-11-05 01:14] alanna commented on #2595
Thank you @contraexemplo ! I am following this discussion with interest.

I will bring it up with @piamancini @znarf and the rest of the team in our meeting today.

@jaskirat2000 do you have any thoughts?

[2019-11-05 02:41] jaskirat2000 commented on #2595
Hi ! Thanks for taking this up. So when it comes to Gitbook I think that is one of the best option which allow the docs in an organized way. But at the same time experiencing features that caused problems can be a great issue and gives a hint to move out of it.
I would prefer the "Read the docs" documentation set up because it has got mant well organized set of features which are way better than g

[2019-11-05 11:49] znarf commented on #2442
🏆 This issue was completed by @NotJohs

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new

[2019-11-05 11:59] znarf commented on #1662
🏆 This issue was completed by @NotJohs as part as our first Hackathon (it started at at the event but was finished after).

I retroactively added a $200 bounty on it. To claim the bounty, you can either:

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new

[2019-11-05 19:45] wooorm opened #2600 "Dead link in Google results for API docs"
**Describe the bug**

I was hoping to see if there was a nice API to search OC, and...

**To Reproduce**

1. Google “OpenCollective API”
2. Click on the first result (`https://docs.opencollective.com/help/developers/api`)
3. Get a [404 not found](https://docs.opencollective.com/help/developers/api)

**Expected behavior**

A redirect to a new place

**Additional context**

For the XY problem: If an

[2019-11-05 20:22] znarf commented on #2600
The documentation team is currently working on a refactor. They should have an idea. cc @alanna @contraexemplo

For the API, I would recommend exploring our GraphQL API from here:
https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff The post is 1 year old but everything there should still be valid. Ping me on slack if you need anything specific.

About "Reverse BackY

[2019-11-05 20:39] wooorm commented on #2600
Sweet, thanks! Yeah I was talking to Richard about it as well, it aligns a bit with jabbar!

[2019-11-05 21:24] contraexemplo commented on #2600
That URL has in fact changed! It should take some time until Google updates that, I believe? I'm adding that to the redirect list over here https://github.com/opencollective/documentation/blob/v2/.gitbook.yaml

[2019-11-05 21:45] contraexemplo commented on #2600
So it looks like my redirects aren't working but I can't figure out why. Here's the docs talking about that on GitBook: https://docs.gitbook.com/integrations/github/content-configuration GitBook uses a versioning system that is not Git to manage content, so it doesn't really keep track that well on folders that were renamed, files moved, etc.

[2019-11-05 21:46] jzabala commented on #2594
Hi @nemchik I am trying to understand you issue. As you report adding a limit to the url doesn't limit the amount of contributors displayed in the page. What I am trying to understand is if this is a bug or you are requesting to add that feature?

I was searching for the limit param in the docs but I couldn't find it:

https://docs.opencollective.com/help/collectives/widgets#show-backers-and-spons

[2019-11-05 21:59] contraexemplo commented on #2600
@znarf and I were able to solve this after chatting over Slack: https://github.com/opencollective/documentation/commit/d18797281b648a92092f3a816feccba9984cb405 I had to drop the `help` prefix and add a `./`to every single redirect. It seems to be working just fine now! Can you confirm that, @wooorm?

[2019-11-05 22:12] #2521 closed

[2019-11-06 01:09] jzabala commented on #2313
Hey @znarf I would like to give this one a try.

My suggestion is this:

When adding and new card we can have a checkbox saying something like: "Use this card for all my existing recurring contributions" if checked and the user clicks the save button a modal will popup letting the user know that this new card is going to be used for all her existing recurring contributions, if she is sure about th

[2019-11-06 02:23] jzabala commented on #1819
Is someone working on this issue? it would be cool to assign it if someone is already working on it.

[2019-11-06 02:28] jzabala commented on #1786
Hi @javierbyte are you still working on this issue? Anything we can help with?

[2019-11-06 07:10] wooorm commented on #2600
This works great, thanks @contraexemplo and @znarf!

[2019-11-06 07:10] #2600 closed

[2019-11-06 08:12] #2041 closed

[2019-11-06 11:06] znarf commented on #2586
It seems to me I don't have all the settings available in Freshdesk, I would like to check if we can add some automation to tackle that. @alanna can you check if I can get more rights?

[2019-11-06 13:08] contraexemplo commented on #1674
@flickz that's a really nice idea, I like it a lot!

[2019-11-06 13:42] jzabala commented on #2590
@znarf for this I think we need a change in the api and the frontend. I see that the type returned by `allComment` is an array of `UpdateType`. But an array doesn't convey information about how many comments are in total. We could deprecated `allComments` and create a `comments` fields that returns a type like:
[code]

And make the adjustments to the frontend to show the _load more button_ if the

[2019-11-06 14:15] znarf commented on #2590
@jzabala if you look at our GraphQL API v2, you'll see that we implemented that for every collection: `limit`, `offset`, `totalCount`, `nodes`.

We have been reluctant about mixing GraphQL API v1 and v2 in the frontend codebase so far. So here:
- either we implement in in GraphQL API v2 and figure how to make it works in parallel with v1
- or we just implement that in v1 using the same style as v2

[2019-11-06 14:16] znarf commented on #1674
That's a really nice example.

[2019-11-06 15:22] jzabala commented on #2590
Yeah, I like the idea of using v2.

Just for reference I want to say that having multiple versions is not the recommended way, by GraphQL
folks, of evolving a GraphQL api: https://graphql.org/learn/best-practices/#versioning.

About using two version of the Apollo client I found this resource that is perfect for us: https://www.loudnoises.us/next-js-two-apollo-clients-two-graphql-data-sources-the-

[2019-11-06 17:45] jhabdas commented on #2522
Who is "we" and what exactly is it that we do? Accepting a Bitcoin payment is in my mind the most ideal thing any open source contributor could possibly want. It's near instant, borderless and irreversible.

Ref: #2238 #1005 #1076 #764

[2019-11-06 17:48] jhabdas commented on #2522
https://github.com/zloirock/core-js/issues/635#issuecomment-547461547

[2019-11-06 21:21] alanna commented on #2522
"We" in this instance is the Open Source Collective, the legal entity that holds funds on behalf of open source Collectives. If someone can find us an exchange willing to work with us, we'd love to support bitcoin payments.

[2019-11-06 21:24] alanna commented on #1674
I like this solution. If it's possible to move this forward soon, I think we should. It will help with many aspects of team collaboration and community communication. @flickz are you working on the UI?

@contraexemplo - once this is up and running we could start with a manual process of just checking the updates every week or month and making sure the documentation is updated accordingly.

I would

[2019-11-06 21:28] alanna commented on #2586
I made you admin @znarf

[2019-11-06 22:28] mixmix opened #2601 "Show Paypal payment is processing"
## User story
_As collective admin,  I can Approve an expense, and also click "Pay with Paypal" when the expense submitter has chosen to be paid that way. **When I click Pay with Paypal, I see a spinner and see the word "Processing..." so that I know that I have done all I need to and can wait**. Once processing is finished I see the spinner change to "Paid" (this part already shows up nicely!)_

[2019-11-06 23:35] alanna commented on #2595
@znarf - did you want to add the comments here that you brought up in the meeting?

[2019-11-07 08:15] znarf commented on #2595
@alanna sure

@contraexemplo I understand where you're coming from, the frustrations with GitBook, and your list of requirements makes perfectly sense. I'm afraid however that we'll not find the perfect tool matching all these requirements. To get facts, would be great to start the research, compare the different alternatives in a table, see how they score compared to these requirements.

Regardin

[2019-11-07 08:29] znarf commented on #2586
@alanna Thanks. In FreshDesk, there is no way to filter based on an empty subject :-/

[2019-11-07 08:50] alanna commented on #2390
We've had another user request for this same issue. "Donation" is causing issues where people need to justify use of funds for business purposes, grants etc.

[2019-11-07 08:54] alanna commented on #2390
@xdamman I still don't understand why using the phrase "payment receipt" would break this for Europe. If someone wants to account for a contribution as donation, can't they just do so, and use the fact that they gave money to a nonprofit for no exchange of goods or services to back up their claim if their country's tax agency requires it? Does the regulation say it *must* have the specific word "d

[2019-11-07 09:06] znarf commented on #2565
- The work should happen in the redeemed page: https://github.com/opencollective/opencollective-frontend/blob/master/pages/redeemed.js
- As specified by @xdamman, it should display a list of <CollectiveCard> trough <CollectivesWithData> but based on a list provided by the Gift Card emitter through its `settings` property. We usually use `settings` for experimental properties to not impact the sche

[2019-11-07 09:07] xdamman commented on #2390
Well of course people will have issues because they would want to deduct a donation as a business expense. Totally understandable. Who doesn’t want to pay less taxes?

Not speaking for the US where it’s much simpler in that regard, but in continental Europe, either you make a donation in which case it comes from your budget after taxes and there is no expectation of service directly back to you. O

[2019-11-07 09:16] alinamanko commented on #2586
@znarf if you go to the reporting section and look into the ticket metrics report, by clicking on the column of "tickets received" you get an option to export the file as csv with the option of looking into the subject field.

Have a go at this - hopefully it helps

[2019-11-07 09:22] edsilv commented on #2390
Having "donation" on the receipts is a deal breaker for our US sponsor:

[2019-11-07 09:25] znarf commented on #2299
@Betree I merged the frontend PR, do you still want to add an API PR?

[2019-11-07 09:27] xdamman commented on #2390
I was only talking for Europe. Should I understand that you are hosted on a European host with backers in the US?

Memberships are also VAT free in any association.
So we could say payment receipt and line item could be “membership”. That works for me. But I can’t speak for how such receipt can be considered on the side of the company paying for it. This would have to be checked with a professiona

[2019-11-07 09:31] znarf commented on #2299
🏆 This issue was completed by @NotJohs as part as our first Hackathon (it started at at the event but was finished after).

I retroactively added a $300 bounty on it (it's an old issue, so based on our previous complexity classification, it might have been a "minimal" in today's one).

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collect

[2019-11-07 09:45] edsilv commented on #2390
We are UK-based, but hosted by https://opencollective.com/opensource

[2019-11-07 09:46] NotJohs commented on #2565
@znarf can I look into this issue.
Would a UI design be provided?

[2019-11-07 09:48] NotJohs commented on #2442
@znarf can we close this issue?

[2019-11-07 10:24] znarf commented on #2565
No UI design provided, just follow the directions and use the same style as elsewhere in the page.

You're assigned!

[2019-11-07 10:26] znarf commented on #2586
@alinamanko that doesn't help for automation within FreshDesk unfortunately

[2019-11-07 10:38] #2442 closed

[2019-11-07 10:39] znarf commented on #2299
@Betree Closing this one for now out of clarity. Please open a new one if you want to follow up.

[2019-11-07 10:43] znarf opened #2602 "Update Bot to @hapi/joi 16"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the [Bot](https://github.com/opencollective/opencollective-bot), we're currently using the version 15 of @hapi/joi and the upgrade to version 16 has breaking changes.

We want to:

 - upgrade the package: `@hapi/joi` and `@types/hapi__joi` to v16
 - make sure the tests are passing

[2019-11-07 11:10] znarf opened #2603 "Ability to run Open Collective Bot in a "serverful" prod environment"
As seen in https://github.com/opencollective/opencollective-bot/pull/184 there are currently issues upgrading to the latest `now` runtime and the feature we're relying on is already labeled as legacy, see: https://zeit.co/docs/runtimes#advanced-usage/advanced-node-js-usage/legacy-serverful-behavior.

For this reasons, we would like to be prepared to run in a "serverful" environment like Heroku.

W

[2019-11-07 11:20] znarf opened #2604 "Add "funding" to package.json while onboarding with Open Collective Bot"
NPM recently introduced the new `funding` property for `package.json`. See, https://blog.opencollective.com/beyond-post-install/ and https://blog.npmjs.org/post/188841555980/updates-to-community-docs-more

We're already creating the `FUNDING.yml` for GitHub, we would like now to add "funding" to  `package.json` if it exists. This should be a separate PR and action.

Implementation:
- create a new

[2019-11-07 11:26] znarf commented on #2486
Adding a bounty. @jeffin143 is already on it. Please try to fix the PR within 7 days or we will open to someone else.

[2019-11-07 11:33] znarf commented on #2154
Adjusting the complexity and adding a bounty.

- We should adapt or duplicate our modal to allow selection of the Collective through it (an HTML select is fine).
- This should be covered by at least one e2e test.

[2019-11-07 11:41] znarf commented on #2285
It's now well understood that these are connection errors with the Stripe API.

The script from @Betree is great to figure if we missed one of these errors.

We're tackling that in https://github.com/opencollective/opencollective/issues/2584

A first implementation of Stripe retries is here https://github.com/opencollective/opencollective-api/pull/2842

I think we can close this issue.

[2019-11-07 12:10] #1564 closed

[2019-11-07 12:14] #1975 closed

[2019-11-07 12:14] #1342 closed

[2019-11-07 12:18] znarf commented on #2030
@alanna I think this was implemented in https://github.com/opencollective/opencollective/issues/2110 Closing.

[2019-11-07 12:18] #2030 closed

[2019-11-07 12:20] znarf commented on #1574
Not reproducible anymore.

[2019-11-07 12:20] #1574 closed

[2019-11-07 12:24] #2462 closed

[2019-11-07 12:35] jzabala commented on #2590
Taking this one @znarf

[2019-11-07 15:49] jeffin143 commented on #2579
@znarf , is it ok to go with @Betree suggestion, so should we need more discussion on it ?
if that's the case i will handle this :)

[2019-11-07 16:57] contraexemplo commented on #2595
@znarf I agree with that! That's something Alanna and I discussed a bit last night during our own meeting. We solved most of the main issues in the last few days (redirecting old links to the right content, restructuring the whole documentation switching branches). This is something Open Collective should think about in the long-term, not necessarily something that should be solved at this very mo

[2019-11-07 23:31] alanna commented on #2589
We're seeing more examples of this and something if definitely going wrong here.

These two expenses:
* https://opencollective.com/sean-denny/expenses/11380
* https://opencollective.com/sean-denny/expenses/11389

Were raised under the [Solidus](https://opencollective.com/solidus) Collective, and you can see them in the budget section:

<img width="835" alt="Screen Shot 2019-11-08 at 12 30 44 PM" s

[2019-11-08 00:01] CanerSezgin commented on #2602
Hi @znarf, I am interested in this one, this will be the first time for me, I hope it will go well.
I've already sorted out the first issue after upgrading version of the packages.

[2019-11-08 00:10] alanna opened #2605 "Add type filter to search results"
It would be very useful if you could sort by `Collective` `Organization` `Fiscal host` and `Individual` in search results. Currently they are all mixed together and it's very hard to find things.

Example: https://opencollective.com/search?q=open

[2019-11-08 01:09] alanna opened #2606 "Some users having trouble finding the settings cog"
This is a design question.

Some users are having trouble finding the little gear/cog on the Collective logo to access their Collective settings.

Could we add another way to get there, such as another cog next to the Collective name in the user menu dropdown, or a more obvious button or something?

[2019-11-08 07:26] znarf commented on #2589
@alanna same issue, to unblock, you should replace the user slug with the collective slug in the expense URL

[2019-11-08 07:59] znarf commented on #2589
@Betree In the Budget section, the expenses should be under the collective URL, not the user URL.

[2019-11-08 08:01] znarf commented on #2606
I personally don't understand why we have a so big button to change the collective cover/color and the settings link is so hidden. It should be as big as the others.

[2019-11-08 08:22] znarf commented on #2602
@CanerSezgin Please have a try! Time limit is 1 week, so we can give it to someone else if it's not completed or progressing by then.

[2019-11-08 08:32] znarf commented on #2577
@jeffin143 thank you for the API PR. If I'm not mistaken, this needs also to be handled on the Frontend side. Similar to other cases, the Delete button should be disabled and it should be explained why.

[2019-11-08 08:40] znarf opened #2607 "Fix "Relation {Table} does not exist" errors in CI"
In CircleCI environment, when performing `npm run test` in the API project, we see the following errors in the logs.

[code]

While it's not impacting the results of the test, it's noisy and can be source of confusion for newcomers.

We need to find why we have this errors and fix the root cause. To be clear, we're not looking for a quick fix to hide them!

[2019-11-08 09:01] jeffin143 commented on #2577
The delete button will be `disabled` if the error persist, so since I am throwing an error it would be disabled, we just need to add the condition for event, I guess we need not write special handling for it except for explicitly mentioning the reason in print.

[2019-11-08 09:32] piamancini commented on #2285
Yep. Closing.

[2019-11-08 09:32] #2285 closed

[2019-11-08 09:35] piamancini commented on #2575
@alanna if this is not the case anymore, let's close this issue. @xdamman if you need to please open a separate one for a new feature.

[2019-11-08 09:36] piamancini commented on #2480
@znarf can we tackle this in the redeem page changes you are doing?

[2019-11-08 09:37] piamancini commented on #1656
Did we do this?

[2019-11-08 09:41] znarf commented on #2406
To reproduce:
- Make sure you have a first Credit Card Payment Method in your account
- Make a contribution with a new Credit Card Payment Method
- In the database, delete the created Credit Card Payment Method (in the case of this user, we can assume it expired by itself)
- Edit the subscription, the first Credit Card Payment Method is selected, but save is disabled.

[2019-11-08 11:25] znarf commented on #1656
@piamancini "Manual" was done. "Collective to Collective" is pending.

[2019-11-08 11:28] znarf commented on #2480
@piamancini Nothing I'm taking care of. Maybe for Ben as part of https://github.com/opencollective/opencollective/issues/2536

[2019-11-08 11:35] paulineleon opened #2608 "where are the installation instructions?"
Hi,
I would like to install the opencollective software on my own servers. Where can I find the installation instructions ?
Thanks in advance!

[2019-11-08 12:03] znarf commented on #2608
Duplicate with https://github.com/opencollective/documentation/issues/43

[2019-11-08 12:03] #2608 closed

[2019-11-08 12:39] znarf opened #2609 "BackYourStack backing banner"
We would like a new banner to show up for organizations "Backing Their Stack".

It will replace the following banner, with the same size:

![Screenshot_2019-11-08 BackYourStack Discover the Open Source projects you are using and need financial support ](https://user-images.githubusercontent.com/806/68477020-9df33600-022c-11ea-9c02-34ce6bd44839.png)

But with a content and a visual style that could

[2019-11-08 12:59] znarf opened #2610 "Implement BackYourStack badges"
We would like to feature badges for the new BackYourStack monthly-plan. See the design: https://www.figma.com/file/oNb9TlYCPcKABl4brBACDI/BYS.COM-XX1-%2F-Lab?node-id=881%3A0

They should be implemented in SVG first and served from the following URL: http://backyourstack.com/{profile}/badge

The number of dependencies backed can be fetched dynamically from the data stored, the same one used to gene

[2019-11-08 13:57] xdamman commented on #2592
FAQ and copy for the email announcement / blog post: https://docs.google.com/document/d/18vHDQLGz6aCgcdoGxKRlk_4MTZWYBwzTErGoYxC1EzM

[2019-11-08 14:00] znarf commented on #2609
@piamancini I agree.

The positioning and size could be the same as current banner. The overall style should be dark to match the badge style. It should feature a big title then a text.

The optional could lead to a landing page to help others people Back Their Stack.

[2019-11-08 15:38] znarf opened #2632 "getDependenciesFromGithubRepo error in production"
`undefined.getDependenciesFromGithubRepo error: Cannot read property 'patterns' of undefined`

[2019-11-09 00:43] CanerSezgin commented on #2602
@znarf PR opened, I directly selected opencollective-bot master branch, I hope it is correct.
Also, couldn't find any way to attach that pr with this issue. This is why I am writing from here.
https://github.com/opencollective/opencollective-bot/pull/229

[2019-11-09 08:41] znarf commented on #2602
@CanerSezgin To attach, the best is simply to add a link to the issue in the PR description, GitHub detects that.

[2019-11-09 09:07] znarf commented on #2578
Closing as it's handled on FreshDesk for now. We'll open a new issue if necessary.

[2019-11-09 09:07] #2578 closed

[2019-11-09 20:47] CanerSezgin commented on #2604
I can take a look at this as well. Could you please assign this to me ?

[2019-11-10 16:05] NotJohs commented on #2603
I would look into this issue

[2019-11-10 16:05] gmarcos87 commented on #2601
Hi, I can take this issue :)

Looking quickly at the code I can think of several possible solutions.
In order of complexity:

* Change the text when loading to "Processing".
* Modify SmallButton to incorporate a spinner
* Modify Button to use StyledButton (which already has spinner) instead of the button element

I can do any of the three, but I'd like to know which one you prefer.

[2019-11-10 19:07] znarf commented on #2604
Have a try and please take care of point 3 carefully, we don't want to mess up the indentation.

[2019-11-10 19:11] znarf commented on #2602
🏆 This issue was completed by @CanerSezgin

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-10 19:11] #2602 closed

[2019-11-10 19:55] znarf commented on #2603
@NotJohs As you're already looking at another medium issue, and you have another medium issue that still needs to be merged, let's focus on these ones and keep the bounty for someone else for now.

[2019-11-11 01:23] alanna commented on #2575
We decided not to prioritise this right now and will stick with a standard ToS tickbox for now. If we want a more human friendly terms of service experience i the future, a new issue will be opened.

[2019-11-11 01:23] #2575 closed

[2019-11-11 01:31] alanna commented on #2390
I think we should make our receipts as generic as possible, because of the huge variety of regulations in different countries and for different contexts.

It should be up to each contributor to account for the expenses properly for their own accounting, whether they are claiming it as a business expense or a donation, etc. Our receipt language should not try to determine that.

The language we use

[2019-11-11 08:19] znarf commented on #2577
🏆 This issue was completed by @jeffin143

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-11 08:19] #2577 closed

[2019-11-11 08:38] znarf opened #2619 "Reorganize how files are saved"
Looking at the data, we need to improve our strategy to store files.

![Screenshot 2019-11-11 at 09 36 12](https://user-images.githubusercontent.com/806/68572868-c8303800-0466-11ea-8734-e1a8238b4c5e.png)

- We need another naming scheme for the dependency files. And a the same time, potentially fix the issue which is storing `undefined.json` currently.
- I don't see why the dependencies files are

[2019-11-11 10:25] znarf opened #2620 "Contact button not initially displayed"
**Describe the bug**

The contact button is not rendered on first SSR and not added by the client side rendering.

**To Reproduce**

1. Go to 'https://opencollective.com/webpack'

**Current behavior**

Contact button not displayed

**Expected behavior**

Contact button displayed

**Notes**

If you navigate to the page from the client side, it works:

1. Go to 'https://opencollective.com/opensource

[2019-11-11 10:41] #2080 closed

[2019-11-11 10:47] znarf commented on #2494
@Betree What's the status of this issue?

[2019-11-11 10:50] gustavlrsn opened #2621 "Use new collective page for displaying events"
The events are displayed with an old design. As events are also collectives we can use the new collective page.

The new collective page need to be adapted to handle events, to show date/time and short location info in the header, and display the sections: `About`, `Tickets`, `Location`, `Participants`, `Budget`.

[2019-11-11 11:33] gustavlrsn commented on #2621
Current route structure for events is `/:parentCollectiveSlug/events/:eventSlug`. However, as [per docs](https://docs.opencollective.com/help/contributing/development/architecture#collectives):

I'm thinking it could be good to support both structures, but keeping the default to what is currently implemented as for now?

[2019-11-11 12:56] znarf commented on #2579
@jeffin143 Yes we're good to go.

Precisely, let's make sure the rounding has a precision of 2 decimals everywhere.

[2019-11-11 12:58] znarf commented on #1786
Minimizing comments for clarity. Updating the Bounty to $100.

[2019-11-11 14:38] millord commented on #1786
I would like to solve this issue...

[2019-11-11 15:10] znarf commented on #1786
@millord you're welcome, have a try. Time limit is 1 week, so we can free the bounty for someone else in case you have trouble completing it.

[2019-11-11 15:36] znarf opened #2622 "Handle permissions for BackYourStack subscribers"
We're currently relax on who can "Back Their Stack" from a given profile.

However, we should implement a simple permission system to prevent someone to edit the BackYourStack profile of someone else once the subscription is setup.

- [ ] By default don't allow to update a saved profile
- [ ] Allow update for a user profile if the connected GitHub account match the profile
- [ ] Allow update for a

[2019-11-11 16:06] #2617 closed

[2019-11-11 16:55] NotJohs commented on #2565
@znarf
please can you explain the modification to `allCollectives`

[2019-11-11 17:11] znarf commented on #2565
@NotJohs in `settings.recommendedCollectives`, you will have a list of `id`s or `slug`s. You will then ask the GraphQL API to get the full information about this collectives. For that matter, `allCollectives` needs to be modified.

[2019-11-11 17:29] NotJohs commented on #2565
@znarf  Alright.
So the `settings.recommendedCollectives` are emitted when you visit `/redeemed/<gift-card-number>`  and based on this array of `slug`s or `id`s we would make a query for the respective collectives data.

[2019-11-11 17:34] NotJohs commented on #2565
Questions:
* Is this already created and emitted by a collective?
* I won't be implementing any functionality for collective admins to select these recommended collectives?

[2019-11-11 17:36] znarf commented on #2565
No, this will be directly edited in the database.

[2019-11-11 18:53] NotJohs commented on #2565
@znarf Understood.

[2019-11-11 19:36] gmarcos87 commented on #2603
I can try to look this issue.
The idea is to keep doing deploy to now but that you can use the same code in Heroku?

[2019-11-11 19:58] znarf commented on #2603
@gmarcos87 ideally yes

[2019-11-11 20:17] znarf commented on #2599
@alanna Normally, "Contact" should not be there if you're an admin of the Host. Do you still see it? This was supposed to be fixed in https://github.com/opencollective/opencollective-frontend/pull/2897 from @flickz

After that, maybe we could also remove the "Apply" button for Host admins.

[2019-11-11 21:55] CanerSezgin commented on #2604
@znarf Tests are also done, JFYI

[2019-11-11 22:45] leonardohof commented on #1508
Hi @znarf! Can I work on this issue?

[2019-11-12 00:11] jasonsblake commented on #2565
@xdamman and @znarf how will a user be able to adjust / modify the "promoted" projects list?

[2019-11-12 02:31] alanna commented on #2599
The contact button is gone, which helps a lot. I think it's OK now, although it still looks cluttered.

We need the 'apply' button because sometimes fiscal host admins want to add a Collective to their own host. How else would they do that?

[2019-11-12 05:50] flickz commented on #2619
Our current naming scheme is using the project name within package files but I think it is not consistent now with other languages package files, this is `undefined` because the `composer.json` does not have project name in it's content unlike npm package.json.  Another option is to use actual repository name but there might be cases where a repository has more than 1 package files and we don't wa

[2019-11-12 05:58] flickz commented on #2622
Why do we want to  do this? Also is it going to be the new order created for dispatch?  or previous orders to collective dependency?

[2019-11-12 07:21] znarf commented on #2619
For me, the clearer naming scheme should be `{githubProfile}/{githubRepository}/{pathToFile}/{filename.extension}. You need to figure the error while saving, the file should be saved "as it is".

When I mentioned pretty printing, I saw no indention whatsoever in the saved file currently. You should just pass an indentation of 2 spaces to `Stringify` and we should be good to go.

[2019-11-12 07:25] znarf commented on #2622
The `order` for the monthly subscription to BackYourStack, it will later be useful to check the status of it. But that's not exactly connected to permissions at this point so I can create a new ticket for it.

[2019-11-12 07:57] Betree commented on #1561
Done in https://github.com/opencollective/opencollective-frontend/pull/2814

[2019-11-12 07:57] #1561 closed

[2019-11-12 07:58] Betree commented on #2429
Done in https://github.com/opencollective/opencollective-frontend/pull/2649 + https://github.com/opencollective/opencollective-frontend/pull/2859

[2019-11-12 07:58] #2429 closed

[2019-11-12 08:02] Betree commented on #1872
Haven't this this issue in a while, looks like Apollo updates  + enforcing `id` field did the job. If it ever happen again in the future we should be able to solve it case by case.

[2019-11-12 08:02] #1872 closed

[2019-11-12 08:08] Betree commented on #2494
Only the last bit is missing (`When order success in createOrder, refresh the cache for contributors of the collective.`). Tho we should probably refresh cache in `editMembers`

[2019-11-12 08:10] Betree commented on #2527
@josesimoes I'll look at that as well.

Feel free to re-open this issue if the problem is not solved on your end.

[2019-11-12 08:10] #2527 closed

[2019-11-12 08:14] znarf opened #2623 "Couldn't recreate the schema DatabaseError: deadlock detected"
While running API test, it happens that the test suite is failing because of this error.

Sample CI Run: https://circleci.com/gh/opencollective/opencollective-api/21849

Would be great to figure a way to avoid these failures.

[code]

[2019-11-12 08:38] flickz commented on #2619
What is the `pathToFile` to file here?

[2019-11-12 09:24] Betree commented on #2223
Notes from today's meeting:

## MVP

- Use `Notification` + `Member` tables to manage subscriptions
- Follow/unfollow button for conversations
- Create/Delete
- Rich text (bold, italic)

## Important

- Reactions
- Hide
- Edit
- Reply

## Not MVP

- Manually subscribe to updates
- Pin conversation
- Mentions
- Posting as (posting comments as a collective)
- Private comments

## Won't do

- Showing

[2019-11-12 10:52] znarf commented on #2619
@flickz The same path than in the GitHub repository. If I'm not mistaken, in most cases, _empty_ or `/` depending on how you see it.

[2019-11-12 10:59] znarf opened #2624 "Save the `order` matching a BackYourStack profile"
We would like to keep track of the order id matching a given BackYourStack profile. We need to store at least the `{"order": {"id": 567}}` in the `dependencies.json` file.

It would be better, and we should anticipate that, to store the a more complex `order` object there, containing information such as `fromCollective` and 'totalAmount`

[2019-11-12 11:07] znarf commented on #2565
@jasonsblake this should be handled manually through support to begin.

[2019-11-12 11:08] znarf commented on #1508
@leonardohof it's for you

[2019-11-12 11:09] znarf commented on #2599
Ok, make sense.

[2019-11-12 11:36] znarf commented on #2607
🏆 This issue was completed by @EslamHiko

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-12 12:06] znarf commented on #2593
@nemchik Thank you for the report!

Seems the widget is displaying Organizations and Individuals separately, which looks like a correct behavior if I compare to the collective page.

![Screenshot 2019-11-12 at 12 59 28](https://user-images.githubusercontent.com/806/68670108-62b67700-054c-11ea-9b8e-65bf189beb66.png)

- The organizations count looks good
- The individuals count doesn't seem to match

[2019-11-12 12:18] znarf commented on #2594
Confirming that despite being supported in `banner.js`, `limit` is not supported in `banner.html`.

[2019-11-12 12:21] znarf commented on #2596
Looks like there is some documentation refactor to handle between:
- https://docs.opencollective.com/help/collectives/data-export#widget
- https://docs.opencollective.com/help/collectives/widgets

[2019-11-12 12:27] znarf commented on #2597
We effectively don't have a widget or a SVG image that is displaying all supporters together. To achieve that, people usually:
- combine individuals and organizations images https://opencollective.com/linuxserver/organizations.svg?width=600 and https://opencollective.com/linuxserver/individuals.svg?width=600 images

Would a widget displaying something like that solve your problem?

![Screenshot 20

[2019-11-12 12:33] nemchik commented on #2593
Re: counts
I agree the numbers look correct. The count isn't really the issue (sorry for the misleading title, feel free to edit).

Re: terminology
I would agree "contribute as ..." Or just "contribute" makes sense.

The issue I was trying to point out can be seen in the screenshot and demo link above; organizations are counted correctly but not shown, and are listed next to the become a sponsor s

[2019-11-12 12:35] nemchik commented on #2594
@jzabala sorry for the late response. This is a bug, not a feature request. @znarf has correctly described what I feel the issues is.

[2019-11-12 12:39] Betree commented on #2581
Thanks for reporting this, it's really interesting.

I don't think that `lockfile-lint` solves the problem in a nice way because it's very easy to host malicious code on NPM or Github. But maybe that can be a good first step.

[2019-11-12 12:39] nemchik commented on #2596
I'll have a further look in a bit, but the first link now seems to lack an actual code snippet for the widget. I see the widget on the page, but no script tag snip to show how to include the widget on my pages.

[2019-11-12 12:43] nemchik commented on #2597
A widget that shows what you have in the screenshot would meet my goals for this project.

I could still see value in a single SVG for the top contributors regardless of tier as described in my opening comments, but I think the widget would be what I'm after for this specific project (helping linuxserver.io get their donate page on their website to show financial contributors).

[2019-11-12 14:17] Betree opened #2625 "CollectivePicker: prefil the form with search input"
To provide a better UX for the collective picker, we want to prefill the form with what's been typed in the search.

## Specs

- [x] Pre-fill the form
  - [x] If an email has been typed, pre-fill the `email` field
  - [x] Otherwise pre-fill the `name` field

[2019-11-12 15:57] sbinlondon commented on #2192
Can this one be closed now if everything has been merged? @Betree @znarf

[2019-11-12 18:22] raulgrafico commented on #2609
Let me know if you like it @znarf .

![Banner-BYS](https://user-images.githubusercontent.com/1252676/68698697-1d437b00-0547-11ea-9304-172093f96939.png)

[2019-11-12 19:38] znarf commented on #2609
@raulgrafico I like it!

@piamancini It's to put on the BackYourStack profile of the company. Good to go?

[2019-11-12 19:48] Memo-Es commented on #2417
### Latest illustration update

These are the drafts applied to the current homepage to solve the conceptual links to the messaging and interface design. The illustrations that are approved will be taken to production.
@xdamman @piamancini

The main illustration (Make your community sustainable) is still on the conceptualization. Bellow inside the table it's shown the progress around this concept

[2019-11-12 19:56] gmarcos87 commented on #2603
The probot update is now ready and the bot runs in both Now and Heroku.
I'm experimenting a bit with the Probot setup change. I think I found some bugs, as soon as I have more promising results I will tell you.

[2019-11-12 21:19] alanna commented on #2417
Looking good! Please let me know when the time is right to do copy edits and the best way to do them.

[2019-11-12 21:24] alanna opened #2626 "Add reject button to Collective application email notification"
Now that host admins can reject pending Collectives on the host dashboard (#2092), let's add a `reject` button to the email as well.

<img width="492" alt="Screen Shot 2019-11-13 at 10 22 45 AM" src="https://user-images.githubusercontent.com/5498878/68712059-cbaaf700-05ff-11ea-9e2c-3757c70378d7.png">

[2019-11-12 21:28] alanna commented on #2599
Closing as the worst of the problem is gone now. But this issue with cluttered buttons and some options being hidden (#2606) should be looked at by design at some point @Memo-Es @cuiki

[2019-11-12 21:28] #2599 closed

[2019-11-12 23:06] sbinlondon commented on #2553
Progress:

- [ ] Approve/reject expense
- [ ] Mark expense unpaid
- [x] Record expense as unpaid
- [x] Navigate to pending and approve application

[2019-11-13 04:28] raulgrafico commented on #2223
Hi guys, this is the latest update for this. The overlay to view all the people on a reaction is still pending, and I want to confirm with Dario if there is a pattern for that.

![01-Collective - COMPRESSED  - A](https://user-images.githubusercontent.com/1252676/68733279-b7cda980-059b-11ea-8c80-9bc96f80946a.png)
![01-Collective - COMPRESSED  - B](https://user-images.githubusercontent.com/1252676/6

[2019-11-13 08:24] #2534 closed

[2019-11-13 08:41] znarf commented on #2595
Just a small note, docsify and docusaurus are on Open Collective, so it's always a plus when picking a tool.

[2019-11-13 09:38] znarf commented on #2623
🏆 This issue was completed by @EslamHiko

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-13 10:16] Betree commented on #2299
The issue reported here is not solved, https://images.opencollective.com/lajacqueline/logo.png still returns a 500 error and none of the three proposed outcomes (or equivalent solutions) were implemented in a systemic way (on the API).

I've updated the scope of this issue to limit the fix to what will solve the problem reported here:
- Send a default image if an exception occurs when trying to pr

[2019-11-13 10:33] Betree commented on #2333
@contraexemplo looking great!

[2019-11-13 10:42] znarf commented on #2299
@Betree See my last comment https://github.com/opencollective/opencollective/issues/2299#issuecomment-551023330 We unfortunately acknowledged the issue went off track, this is why I want to start again from a clean state.

[2019-11-13 10:49] Betree opened #2627 "Return a default logo if processing fails"
Following up on https://github.com/opencollective/opencollective/issues/2299

The avatar on [this page](https://opencollective.com/lajacqueline/pay/details) is not displayed. The server returns a 500 error for https://images.opencollective.com/lajacqueline/logo.png.

The logs say:
[code]

A possible explanation is that https://opencollective-production.s3-us-west-1.amazonaws.com/9140f6c0-0f0f-11e8

[2019-11-13 10:49] Betree commented on #2299
Will follow up in https://github.com/opencollective/opencollective/issues/2627

[2019-11-13 10:49] #2299 closed

[2019-11-13 11:11] NotJohs commented on #2299
It meets this particular requirement. The default image is loaded when upload fails but this is done client-side.

[2019-11-13 11:13] xdamman commented on #2417
Make your community sustainable: I like both options. I like the animation. I'd just have colors that pop more. Make it feel more like (citizen) spring than autumn.

I like the option 2 for collect money because it's about collecting money *together*.

For spending money I don't understand the image. It feels like someone alone on his computer. That doesn't convey a sense of community. It is also

[2019-11-13 11:14] Betree commented on #2390
@alanna If needed, there are three different ways we could make this customizable:
1. Automatically adapt sentence based on host's country
2. Automatically adapt sentence based on user/org's country
3. Add a field in settings so that host can customize the title for their invoices

1. and 2. would be really easy to implement (we already have countries setup) but require some specs to ensure we app

[2019-11-13 11:16] Betree commented on #2480
Thanks for the heads up, I'll take care of that as part of https://github.com/opencollective/opencollective-frontend/pull/2929

[2019-11-13 11:23] Betree commented on #2192
@sbinlondon The new invalidation mechanism is in place, but we haven't enforced the actual invalidation yet to ensure that we're not missing any edge-cases. We'll be monitoring the logs to iterate on this shortly.

[2019-11-13 11:26] Betree commented on #2299
@NotJohs it doesn't, https://images.opencollective.com/lajacqueline/logo.png returns a 500 error - not a default image. You can see on this page that it shows a broken image https://opencollective.com/lajacqueline:

![image](https://user-images.githubusercontent.com/1556356/68759782-a96da500-0610-11ea-85f0-ead9c95bea01.png)

[2019-11-13 11:28] znarf commented on #2192
@Betree I activated it in production last week. Not proud of the 4 different attempts it took me, but here we are. https://github.com/opencollective/opencollective-api/pull/2838 https://github.com/opencollective/opencollective-api/pull/2862 https://github.com/opencollective/opencollective-api/pull/2863 https://github.com/opencollective/opencollective-api/pull/2867 On top of my first refactor https

[2019-11-13 11:29] piamancini commented on #2480
thanks ben!

[2019-11-13 11:44] piamancini commented on #2609
yep, great! good to go

[2019-11-13 11:52] piamancini commented on #2417
@xdamman yes totally, these are black and white pen and paper examples to see if they fit. color scheme will be bright. You can see some color examples [here](https://paper.dropbox.com/doc/OC-Design-OpenCollective.com-New-Illustrations--Aohu6jEMiyI7avq7xZtQfePGAg-oDgnu9iv1wv1iUMtoRTuq#:uid=924607847867734416272869&h2=Color-usage-proposal)

+1

[2019-11-13 12:25] NotJohs commented on #2299
@Betree I think I understand what you mean.
Since am handling this issue client-side it was specific to heroAvatar but not other areas.
So you need a client-side implementation that would check the image size and if it's too large would return a default image with an error message.

Please confirm if this is the direction of solution to this issue?

[2019-11-13 12:44] sbinlondon commented on #2192
Is there anything else I can help with?

[2019-11-13 12:51] Betree commented on #2299
@NotJohs There's no client side code to do for this issue, what we need is to return the default image when it crashed in the image service https://github.com/opencollective/opencollective-images

Limiting the max upload size more aggressively would also be nice, but we must first implement it on the API side. A client limitation that works for all image upload (hero avatar, banner, expense attach

[2019-11-13 14:19] #2619 closed

[2019-11-13 15:18] NotJohs commented on #2299
@Betree Understood.

[2019-11-13 16:17] NotJohs commented on #2627
@Betree
A similar check has been implemented on the API.
https://github.com/opencollective/opencollective-api/blob/71a5efa714b7e4098fc9ba04ed959635dcb2d005/server/controllers/images.js#L31

[2019-11-13 17:02] xdamman commented on #2251
A new issue has been created for the creation of a new pricing page to reflect the updated pricing model: #2592

[2019-11-13 17:30] writingpoli opened #2628 "Not clear Collectives box on host dashboard is a search box not a dropdown list"
I can't find the San Antonio Review collective on my host dashboard. The drop-down is empty.

Just want to add funds manually again.

![image](https://user-images.githubusercontent.com/3883763/68788378-e33aad80-0608-11ea-9794-681084182533.png)

Where am I screwing up?

[2019-11-13 17:30] Betree commented on #2627
@NotJohs It's not the same, you're referring to the image upload. This issue is about the service in charge of serving the images (https://github.com/opencollective/opencollective-images)

[2019-11-13 17:39] NotJohs commented on #2627
@Betree
I am trying to understand. I have checked the image server.
All It handles are `get requests`, meaning that It handles fetching the already uploaded images.

Isn't the problem allowing large images to be uploaded in the first place?

[2019-11-13 17:48] Betree commented on #2627
It's a different issue. As specified in the description the goal here is to not crash if serving these - already uploaded images - fails. There may be other reasons why this may be failing, In such cases we want to fail gracefully and return a default logo rather than a 500 error.

Please open a new issue if you want to discuss about image upload strategies more in depth.

[2019-11-13 17:51] NotJohs commented on #2627
@Betree Understood.

[2019-11-13 19:12] #2589 closed

[2019-11-13 19:43] Memo-Es commented on #2552
We think these illustrations should come with a short description of the decision users are making: "This option work with organizations that..."

![Create an Open collective](https://user-images.githubusercontent.com/49539954/68798122-754bb180-061b-11ea-8c10-f7c93b833ea3.png)

What do you think

[2019-11-13 19:43] #2552 closed

[2019-11-13 20:47] znarf commented on #2094
This bounty is now free again. Can someone take over the good work from @brymut ? https://github.com/opencollective/opencollective-api/pull/2128

[2019-11-13 20:50] Memo-Es commented on #2394
### Update - Expense feed
@alanna

Expense feed   |  Expense - Invoice |  Expense - Receipt
:-------------------------:|:-------------------------:|:-------------------------:|
![→ Expense - invoice](https://user-images.githubusercontent.com/49539954/68802935-86e58700-0624-11ea-8bea-cf3da268b891.png) |  ![→ Expense - receipt](https://user-images.githubusercontent.com/49539954/68802936-86e58700-062

[2019-11-13 21:02] CanerSezgin commented on #2094
Happy to work on this.

[2019-11-14 03:19] alanna commented on #2394
Thanks @Memo-Es - we can discuss at the meeting tomorrow. For now, here's some notes.

* Can you to filter expense feed by status (approved, paid, etc)?
* If you click a tag will it filter by that tag?
* I would like to visually seperate out status updates from comments. Right now status updates like "approved on [date]" are very hidden. They should be super obvious. This goes for "submitted by [p

[2019-11-14 03:22] alanna commented on #2628
@writingpoli we've recently changed that box from a dropdown list to a search box. If you type in the name of the Collective, does it appear?

@Betree - this is confusing because the little down arrow really makes it seem like a dropdown, but if you try to click that nothing appears. We should change the visual indicator from a down arrow to a search icon. I have made this mistake myself.

[2019-11-14 03:36] writingpoli commented on #2628
@alanna Ah, yes, @piamancini noted that in Slack. Totally confused me for a few days, though. Weird for it to be a completely empty box with any sort of drop-down functionality. For instance, I would click on it and an empty box would lower but it gave no indication I should try typing in it to find my collective.

[2019-11-14 03:40] alanna commented on #2628
I'm going to reopen this issue because while @writingpoli 's question was answered, the underlying design problem that caused the confusion is still there. I think we can easily improve this.

[2019-11-14 03:42] alanna commented on #2628
Here's my suggestion based on the user feedback shared here:

* Change dropdown arrow icon to search symbol
* Add help text in the box that says "search by Collective name" or just "start typing..."

[2019-11-14 03:47] writingpoli commented on #2628
![1113192143](https://user-images.githubusercontent.com/3883763/68825262-1f98f880-065f-11ea-96b5-fc4e007685e3.jpg)

[2019-11-14 04:56] Betree commented on #2628
Good suggestions, I'll also add preloading to ensure that hosts with a few collectives (< 25) always see them in the list without the need to search.

[2019-11-14 05:14] writingpoli commented on #2628
Thank you for the big "Add Funds" button!
![image](https://user-images.githubusercontent.com/3883763/68828455-5bd25600-066b-11ea-8256-398584704797.png)

[2019-11-14 06:02] Betree commented on #2625
I believe the fixes enhancements made in https://github.com/opencollective/opencollective-frontend/pull/2978 are making the need to wait for user to start typing obsolete because it is now clearer that this is a search input.

@xdamman If that's ok for you I'd like to focus this issue solely on prefilling the form with the search input.

![Peek 14-11-2019 06-59](https://user-images.githubuserconte

[2019-11-14 06:07] Betree commented on #2628
@alanna @writingpoli thank you for the valuable feedback, I made some improvements based on what was suggested here in https://github.com/opencollective/opencollective-frontend/pull/2978

[2019-11-14 06:46] flickz commented on #2609
<img width="465" alt="Screenshot 2019-11-14 at 7 42 59 AM" src="https://user-images.githubusercontent.com/15707013/68832961-8e537180-06b2-11ea-994a-64dc84c2757c.png">

@raulgrafico The other banner has a mobile version, can we also get that for this?

[2019-11-14 07:35] #2433 closed

[2019-11-14 08:57] mrdulin opened #2629 "How can I get the money from collective?"
Sorry, it's not a bug.

Here is my collective link: https://opencollective.com/slideshowp2
There is one guy donate 1 USD to my collective. How can I get the money?

I have checked my credit card transfer records, paypal account. There is no transfer record. I don't get the money.

[2019-11-14 08:59] znarf commented on #2629
Please contact support@opencollective.com.

[2019-11-14 08:59] #2629 closed

[2019-11-14 09:19] piamancini commented on #2394
We should be able to.

I think ready to pay should always be floated up first followed by pending. This will prevent us going down the feed to find old pending expenses.

Please remove the XX days ago, it's always very confusing. Let's always have the exact date of submission.

Where do you think are hidden? They are quite obvious on the feed, image 1. Is that what are are referring to?

+1

That

[2019-11-14 10:03] #2628 closed

[2019-11-14 10:34] Betree opened #2630 "Review eslint pre-commit hooks"
Opening this quickly to talk about the eslint pre-commit hook implemented in https://github.com/opencollective/opencollective-frontend/pull/2804, to share my early feedback and talk together to decide if this is a good practice that we should enforce or a counter-productive one that we should avoid.

**Pros**
- It can save time for contributors who doesn't have automatic linting in their editor

*

[2019-11-14 10:37] sbinlondon commented on #1832
I was having a look at this one last night and might do some research into it if that's something we still need?

[2019-11-14 11:21] #2535 closed

[2019-11-14 11:21] #2536 closed

[2019-11-14 11:48] flickz commented on #2618
Closed in https://github.com/opencollective/backyourstack/pull/263

[2019-11-14 11:49] flickz commented on #2610
Closed in https://github.com/opencollective/backyourstack/pull/264

[2019-11-14 11:49] #2610 closed

[2019-11-14 11:54] sbinlondon commented on #2626
I'd be interested in this once I've sorted my other issues (unless anyone else is keen to jump on it in the meantime). Has it been spec'd or does it need more planning first?

[2019-11-14 12:59] jzabala commented on #2556
This may sound crazy but how about if from cypress we setup a postgres client? I have created tests for the api and frontend and in my opinion apis tests are way easier because in the backend I can access the database directly. For example if I need to test an order success in the api I don't have to figure out how stripe works or any of that, I just put the data that I want, in the table that I w

[2019-11-14 13:17] Betree commented on #2556
@jzabala that's a brilliant idea, it would simplify this issue by an order of magnitude if we can create entries in the databases directly from cypress commands. @znarf what do you think?

[2019-11-14 13:52] #2620 closed

[2019-11-14 13:53] znarf commented on #2556
What do you have in mind? Raw SQL? Or using our model? As I see it, the 2 are coming with important drawbacks.

[2019-11-14 13:55] jzabala commented on #2556
How about create a data layer package with all our models. That way we can consume them by the backend and frontend?

[2019-11-14 13:59] Betree commented on #2556
That's a clean option, leveraging an advantage of using JS on the full stack. Doing the change and keeping the model in sync with all projects has however a cost/complexity.

For a first iteration. I would see us use raw SQL, with minimal queries to cover the basics, something like:

[code]

[2019-11-14 14:01] Betree commented on #2556
One downside I didn't think about: I'm not sure we're willing to let anyone run SQL queries in the staging DB, which compromises the environment-agnostic aspect.

[2019-11-14 14:07] jzabala commented on #2556
How will this be possible? I mean, staging keys are private and e2e tests are suppose to be run locally or by the CI.

[2019-11-14 14:08] jzabala commented on #2556
Yeah, you are right, there is a cost on keeping both projects up today. But we already have a script that update the frontend schema when we change the backend. Can we do the same for the models?

[2019-11-14 14:47] Betree opened #2633 "Officially support subcollectives"
## User story
Some collectives/groups have the need for a notion of "subcollective", that could be defined as a child collective **that may or may not share the same host**. This is useful, for example, when you need to collect money in different currencies, upon different chapters but for the same entity.

One example of that exists today as an MVP for https://opencollective.com/symfony-diversity

[2019-11-14 14:50] Betree commented on #2556
The main goal of this issue is precisely to discuss how we could make Cypress tests run efficiently on staging, so that contributors don't need to clone the API to run them :slightly_smiling_face:

[2019-11-14 15:12] jzabala commented on #2556
yeah, but we are looking at this solution because currently is not that easy for people to setup the api locally to run the tests. How about if instead enabling people to run tests on stating we could provide an easier setup for the api. **Download Docker, clone api project, run this command** and you are setup, you can run your e2e tests locally.

Or how about we create another instance of the ap

[2019-11-14 15:35] Betree opened #2634 "Create gift cards form: simplify/clarify form"
The gift cards form has grown a bit too much lately and feels pretty complex:

![image](https://user-images.githubusercontent.com/1556356/68871408-aa7c0080-06fc-11ea-8b27-fa5dbbfd5239.png)

We can simplify that with two simple steps.

## 1. Collapse limitations by default

`Limit to the following hosts` and `Limit to the following collectives` can be collapsed by default. Let's use a `<detail>` HT

[2019-11-14 15:36] Betree commented on #2634
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2019-11-14 15:58] jeffin143 commented on #2634
@Betree Looks easy , Can i take up this ?

[2019-11-14 16:01] Betree commented on #2480
Still two boxes to check. First improvement made in https://github.com/opencollective/opencollective-frontend/pull/2929

[2019-11-14 16:03] Betree commented on #2634
@jeffin143 sure :+1:

[2019-11-14 17:28] chayanonjeejam opened #2635 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/celery/contribute/backer-3784/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36`

# Technical details

[cod

[2019-11-14 18:14] raulgrafico commented on #2609
Sure.

Good to go @piamancini ?

![Banner - Mobile](https://user-images.githubusercontent.com/1252676/68884201-46474580-06d8-11ea-82c0-7ec698fec224.png)

[2019-11-14 22:03] alanna commented on #2394
I think this depends on which view we're talking about. If it's the budget section on the Collective page, chronological probably makes sense. If it's the admin view of the expense feed, then yes unresolved (pending, approved) expenses should be on top.

Re: status updates hidden....

This is the only reference I see the the expense being approved in the comment thread. It's tiny. It should be its

[2019-11-14 22:23] alanna commented on #2633
Another data point to support this is a feature users want: this also came up in my recent conversation with the admin of Drupal Diversity and I think they would use it if it were available. They currently have multiple Collectives and it's caused some confusion about the relationship between them.

I'm not sure "subcollectives" is the right concept though, because the relationship is not necessar

[2019-11-14 22:46] alanna commented on #2390
I've requested advice from our accountant and I'll report back soon.

[2019-11-15 00:27] alanna opened #2636 "Markdown not rendering in update previews on Collective page"
Markdown formatting displays fine in the update itself, but it's not displaying correctly in the Update preview on the main Collective page.
![Screen Shot 2019-11-15 at 1 24 45 PM](https://user-images.githubusercontent.com/5498878/68907135-980cd000-07ab-11ea-9298-9c30c1769bfa.png)
![Screen Shot 2019-11-15 at 1 24 22 PM](https://user-images.githubusercontent.com/5498878/68907136-980cd000-07ab-11ea-

[2019-11-15 00:34] alanna opened #2637 "Retain budget data for archived Collectives"
It seems that when a Collective is archived, the only sections that remain are Updates, Contributors, and About. Why don't we show the budget history? I think it's important for transparency. I suggest we retain the budget section when a Collective is archived, and just disable the ability to add to or change it.

Example: https://opencollective.com/gatsby - I wanted to see how big their budget wa

[2019-11-15 00:37] alanna commented on #2417
Where is the 2 minute animated explainer video going to fit in on the front page?

https://www.youtube.com/watch?v=IBU5fSILAe8

[2019-11-15 01:19] mixmix opened #2638 "wrong message when trying to approve already approved expense"
found an old expense email. Clicked `Approve`

GOT THIS. herp

![image](https://user-images.githubusercontent.com/2665886/68909345-de196200-07b2-11ea-83b6-e006f8994d4a.png)

[2019-11-15 01:19] mixmix commented on #2638
that text reads:

[2019-11-15 01:21] mixmix commented on #2638
1. I wasn't rejecting the expense
2. don't show me Red Warning when everything is fine

I recommend you just say "Sucess!"
Even if my approval was useless, approval should be idempotent - N approvals is the same as one.

By showing an error here you're bumming me out. I like approving expenses because it feels like I'm helping, but this made me feel stupid and useless

[2019-11-15 01:30] mixmix opened #2639 "paypal payment fails , offers horrific UI output"
I approved a payment via email ... then wondered if it was paid ... so clicked though to see the expense. No it hadn't, so I click "pay with paypal".

There's now a clear "the button as been clicked" thing, which is a response to a past issue I think. But then I see this :

![image](https://user-images.githubusercontent.com/2665886/68909755-461c7800-07b4-11ea-9e73-f114e514a7c6.png)

This is pretty

[2019-11-15 01:32] mixmix commented on #2639
here's the expense I was trying to pay https://opencollective.com/scuttlebutt-maintenance/expenses/11565

The screenshot was me trying to approve it from https://opencollective.com/scuttlebutt-maintenance/expenses

Same error in both places though. This is 2/2 of the the last expenses I've tried to pay from this collective failing in a way I have no control / no idea what happened

[2019-11-15 05:48] jeffin143 commented on #2475
@flickz , Was trying to handle this, but eslint fails when adding aria-label as a prop ? What should I do ?

[2019-11-15 07:53] znarf commented on #2638
Looks like this happening in https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/mutations/expenses.js. This was not touched recently, last major update in https://github.com/opencollective/opencollective-api/pull/1102 Looks like the approve and reject  error messages are inverted.

That should be easy to fix, thank you for the report!

We will unfortunately not move

[2019-11-15 08:03] znarf commented on #2607
@EslamHiko, it seems it still happening, see the output of https://circleci.com/gh/opencollective/opencollective-api/21960. Could you have a look?

[2019-11-15 08:03] mixmix commented on #2638
cool, thanks for the context !

Looking forward to the new expense flow. Good luck!

[2019-11-15 08:06] znarf commented on #2638
@mixmix for the fun, there was even a test to make sure that it was wrong, https://github.com/opencollective/opencollective-api/pull/2893/files#diff-e6094d627461a9d299c2995259e60f7b

[2019-11-15 08:17] znarf commented on #2639
@mixmix thank you for the report. Without talking about the root cause (the PayPal error), that behavior is effectively not acceptable, the error should be properly digested and made clear to the user.

[2019-11-15 08:22] flickz commented on #2475
@jeffin143 Which of the components did you add the prop to?

[2019-11-15 08:43] jeffin143 commented on #2475
Just here

https://github.com/opencollective/opencollective-frontend/blob/0f9951486db8b6495dc8c39ddbc3d43abc76b231/components/StyledButton.js#L104

[2019-11-15 10:17] znarf commented on #2486
🏆 This issue was completed by @jeffin143

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-15 10:28] EslamHiko commented on #2607
@znarf It's working fine on my machine, I'll check it out and find an alternative solution.

[2019-11-15 13:28] EslamHiko commented on #2607
@znarf I tried many things here : https://github.com/opencollective/opencollective-api/compare/wip-2607 but none of them worked on CircleCI although It's working fine on my machine, I think it has something to do with Postgres container, CircleCI uses `circleci/postgres:9.6.8-alpine-postgis-ram` Image but I use `mdillon/postgis:9.6` maybe that's the reason of that strange conflict.

[2019-11-15 13:37] znarf commented on #2607
@EslamHiko can we try with different Postgres versions?

[2019-11-15 13:57] EslamHiko commented on #2607
@znarf I tried `mdillon/postgis:latest` and the errors appeared again.

[2019-11-15 14:24] EslamHiko commented on #2607
@znarf I know it's strange but I tried `mdillon/postgis:latest`,`mdillon/postgis:10`,`mdillon/postgis:9.6` and the first time after a fresh container it shows the errors but the second time it doesn't show any errors.

[2019-11-15 16:53] #2389 closed

[2019-11-15 16:59] contraexemplo commented on #2596
I'm working on the Collective section right now so I'll be able to address this issue in the next two days or so.

[2019-11-15 18:50] #2638 closed

[2019-11-15 18:52] #1789 closed

[2019-11-15 18:52] #2635 closed

[2019-11-15 20:04] chayanonjeejam opened #2640 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/webpack/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36`

# Technical details

[code]

[2019-11-15 22:23] jzabala opened #2641 "RFC: Improve api setup process with docker files"
This issue is intended to gather comments and suggestions about improving the dev experience/setup of the backend by adding Docker files.

The initial implementation is in the PR: https://github.com/opencollective/opencollective-api/pull/2894

[2019-11-16 09:12] znarf commented on #2641
Great! Just a first feedback on the form, not the content. In the context of Open Collective, the goal of an RFC PR is to add a file to our RFC folder https://github.com/opencollective/opencollective/tree/master/rfcs. If you think it makes sense I would suggest to migrate to this format. If it doesn't, it's ok but we should not call that an RFC.

Our previous Docker integration was removed in http

[2019-11-16 09:14] #2640 closed

[2019-11-16 09:36] znarf opened #2642 "Make sure .next cache is persisted in Frontend"
See: https://github.com/zeit/next.js/blob/canary/errors/no-cache.md

[2019-11-16 13:04] jzabala commented on #2641
Awesome. Thanks for pointing this out @znarf

So, in this case I need two PRs, one for the RFC file and one for the Proof of concept, right?
What would be the content of this issue?

Cool. I still need to check these a little bit more, but I'll post my questions and comments about this old implementation here :D

[2019-11-16 22:55] alanna commented on #2390
I got a reply from the accountant, and based on what they said here is my proposal:

1. Change the global settings to the most neutral possible language and just say "payment receipt" and "payment to [Collective]".
2. Add a completely free text field to host settings that allows fiscal host admins to define some text that appears on payment receipts in addition.

Instead of trying to guess what di

[2019-11-17 02:28] jeffin143 commented on #2630
@Betree I would recommend linting only through circleci and remove hook , we could then just say/mention linting should be passing in circleci , before asking for review. We could also get lining feedback from circleci and then would solve it.

What goes through my end , is I push easy fixes without even linting, and then probably their would be a failure and then lint again - ` an extra import /

[2019-11-17 16:21] znarf commented on #2630
I'm cool to disable it if this a problem for developers, especially core team developers. We agreed to merge it to give it a try, if the try is not conclusive, fine.

I agree we should be able to push broken code on branches.

[2019-11-17 16:25] znarf commented on #2343
All the data is in the following spreadsheet https://docs.google.com/spreadsheets/d/12ziDxUXPBVormMn2WSiZSdygBSudMX4G4x9btOUkW-Y

[2019-11-17 17:10] JoyLubega commented on #2461
Hey @maddhruv when I got to the page you have mentioned, I don't see those buttons.

[2019-11-17 19:04] CanerSezgin commented on #2094
@znarf  , Unfortunately, I won't be able to make this. I have spent a lot of time on this. By following brymut's step I tried to make this changes from scratch in order to understand what's going on. Actually after changing **loaders** file, and every lines which contains **req.loaders** works fine. I got rid of every errors except **CollectiveHistory** ones.
Than I started to change every models

[2019-11-17 20:41] alanna commented on #2639
Tried again to pay this expense. Still getting the same error:

There's enough balance in the pre-approval key so I don't think that's the issue.

[2019-11-17 22:38] CanerSezgin commented on #2613
Hi @Betree
In the error message, I can get which line and which column there is an indentation error. And which word actually has an issue. You can see more details in the image below.
However I couldn't find any way to tell **instead of x** on the docs of js-yaml. Do we need a function that will find what position it has to be, or do you know any other way to get that column position. Or basicall

[2019-11-18 06:34] flickz commented on #2630
I agree with @Betree especially for velocity. I think we should remove it.

[2019-11-18 07:14] flickz commented on #2609
Closed in https://github.com/opencollective/backyourstack/pull/268 & https://github.com/opencollective/backyourstack/pull/265

[2019-11-18 07:14] #2609 closed

[2019-11-18 07:22] znarf commented on #2094
@CanerSezgin than you for the time you spent on that and sorry to hear it was too complex.

Let's maybe share your branch so that the next developer can see how far you went?

[2019-11-18 07:24] flickz commented on #2624
I believe we're no longer using `dependencies.json` for this right? What is the structure of `order.json` and how should this fit in?

I expect this to be saved after the user is redirected back to backyourstack from opencollective i.e `monthly-confirmation` page.

[2019-11-18 07:27] znarf commented on #2624
It should be `order.json` and we'll simply store the id `{"id": 567}` for the the first version.

[2019-11-18 07:45] znarf commented on #2604
🏆 This issue was completed by @CanerSezgin

To claim the bounty please, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-18 07:45] #2604 closed

[2019-11-18 09:43] znarf commented on #2641
What would be the content of this issue?

@jzabala Yes, two PRs. One for the RFC, one for the proposed implementation. This issue could summarize the problem and link to the 2 RFCs. But in the end it might be not needed and could be closed.

[2019-11-18 09:57] #2632 closed

[2019-11-18 10:06] znarf commented on #2618
@flickz After having selected repositories, then immediately pressing "Back My Stack", repositories selection is not used.

[2019-11-18 10:10] znarf commented on #2618
@flickz when there is no dependency to donate to, there is this screen, this should not be possible

![Screenshot 2019-11-18 at 11 09 44](https://user-images.githubusercontent.com/806/69043797-047a1000-09f4-11ea-82c5-7e2a52d35b8c.png)

[2019-11-18 10:59] znarf commented on #1786
@millord haven't heard from you after 1 week, unassigning.

[2019-11-18 11:05] znarf commented on #2607
The bounty is reopened, anyone definitively fixing the issue will be rewarded.

[2019-11-18 11:05] #2486 closed

[2019-11-18 11:11] znarf commented on #2496
The PR went stale unassigning.

[2019-11-18 11:16] millord commented on #1786
morning,

Sorry, had many technical issues.

On Mon, Nov 18, 2019, 6:59 AM François Hodierne <notifications@github.com>
wrote:

[2019-11-18 12:14] Betree commented on #2613
@CanerSezgin `instead of x` is not a requirement, I think the `message` in your screenshot is good enough. The underlying need really is to inform users that their YAML configuration is not formatted properly rather than showing a mysterious `Something went wrong` error so they know what to do next.

[2019-11-18 12:16] Betree commented on #2461
@JoyLubega This particular button is now capitalized indeed.

[2019-11-18 12:57] Betree commented on #2223
Looking great @raulgrafico!

The `Create conversation` CTA's position on the form still feels strange to me.

I'm ready to start implementing if @xdamman is ok with it.

[2019-11-18 14:11] Betree opened #2643 "Don't create membership for PENDING orders"
In https://opencollective.freshdesk.com/a/tickets/2921

It seems that we're creating memberships for `PENDING` orders (manual donations).

**To reproduce**

Payload was:

[code]

[2019-11-18 14:52] JoyLubega commented on #1786
Hey @znarf  I am going to give it a try

[2019-11-18 15:36] Betree commented on #2553
Resolved by @sbinlondon  in https://github.com/opencollective/opencollective-frontend/pull/2977

[2019-11-18 15:36] #2553 closed

[2019-11-18 15:58] Betree commented on #2634
:trophy: This issue is now completed by @jeffin143

To claim the $200 bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-18 15:58] #2634 closed

[2019-11-18 17:04] jeffin143 commented on #2530
@Betree anything left to handle here ?

[2019-11-18 17:09] jeffin143 commented on #2254
@Betree this is done , we should close the issue 🚀

[2019-11-18 17:16] Betree commented on #2254
Solved in https://github.com/opencollective/opencollective-api/pull/2841

[2019-11-18 17:16] #2254 closed

[2019-11-18 17:17] Betree commented on #2530
@jeffin143 All good!

Solved in https://github.com/opencollective/opencollective-frontend/pull/2870

[2019-11-18 17:17] #2530 closed

[2019-11-18 17:19] Betree commented on #2556
@jzabala That's a different issue, let's follow up on that topic in separate issues

[2019-11-18 19:13] #2451 closed

[2019-11-18 19:14] Betree commented on #2451
:trophy: This issue is now completed by @JoyLubega.

To claim the $50 bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-18 19:28] danielcompton commented on #2592
It is sometimes easier for people to read pricing pages if each tier only includes the features that are unique or different from the previous tier. If you did that here, it would make it much easier for people to see that there are only two metrics that change between tiers: number of collectives, and the amount of financial contributions you can record.

Given that there currently aren't any oth

[2019-11-18 20:09] contraexemplo commented on #2596
@znarf Do we have some good examples of all types of widgets in use?

[2019-11-18 22:03] CanerSezgin opened #2645 "ERROR probot: pluginFunction is not a function"
**Describe the bug**
After installing new packages, I got started getting this error when I run server. It was working before updating node_modulus folder.

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo
2. npm install
3. npm run dev

**Expected behavior**
INFO probot: Open Collective Bot up!
INFO probot: Forwarding https://smee.io/xxxxxxxxx to http://localhost:3000/
INFO probot:

[2019-11-19 00:58] NotJohs commented on #2565
This issue involves API modification.
I couldn't test the API change because I received an error: `GraphQL v1 error: column Collective.balance does not exist`.

I am guessing this is particular with some local testing organizations not properly setup.

[2019-11-19 02:49] alanna opened #2646 "Back Your Stack hero text unreadable"
This is how the Back Your Stack front page looks to me:

<img width="1207" alt="Screen Shot 2019-11-19 at 3 48 52 PM" src="https://user-images.githubusercontent.com/5498878/69112017-1cc95800-0ae4-11ea-83cb-94789c19333a.png">

Using Chrome 78.0.3904.97 on Mac.

[2019-11-19 02:53] alanna commented on #2646
Same issue on a subsequent page:

<img width="661" alt="Screen Shot 2019-11-19 at 3 53 18 PM" src="https://user-images.githubusercontent.com/5498878/69112282-bd1f7c80-0ae4-11ea-95ac-ede32299e3d3.png">

[2019-11-19 07:44] Betree commented on #2565
@NotJohs Can you try `npm run db:migrate`? If it doesn't work, can  you give more details about the error (stacktrace)?

[2019-11-19 08:17] znarf commented on #2645
I had the problem yesterday, it's pretty simple.

You should use `yarn install` and not `npm install` in this project.

[2019-11-19 08:17] #2645 closed

[2019-11-19 09:09] NotJohs commented on #2565
@Betree
`npm run db:migrate` didn't work.

<img width="486" alt="Screenshot 2019-11-19 at 10 06 43 AM" src="https://user-images.githubusercontent.com/29008971/69132468-6ef28500-0ab4-11ea-82b6-ab2ed7e4549e.png">

I am still investigating this issue.

[2019-11-19 09:25] Betree commented on #2263
A design for this has been suggested in the new collective flow: https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-%2F-Lab?node-id=2942%3A22015

[2019-11-19 09:43] flickz commented on #2337
@alanna Do you think we should have a rejected tab too, to make deleting easier?

<img width="558" alt="Screenshot 2019-11-19 at 10 42 24 AM" src="https://user-images.githubusercontent.com/15707013/69135351-491baf00-0ab9-11ea-9e2a-5b349ea08506.png">

[2019-11-19 12:05] jzabala commented on #2556
Yeah, you are right. I got caught up in the moment 😁.

[2019-11-19 14:16] #2636 closed

[2019-11-19 14:42] znarf commented on #2646
@alanna Alyssa faced that too. I don't remember what it was. Can you try disabling your extensions one by one?

[2019-11-19 14:55] gmarcos87 commented on #2627
I can try to solve this issue if no one is working on it

[2019-11-19 15:15] Betree commented on #2627
@gmarcos87 feel free :)

[2019-11-19 15:50] znarf commented on #2553
🏆 This issue was completed by @sbinlondon

To thank you for the quality work, I retroactively added a $200 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-19 16:23] znarf opened #2647 ""Prepaid BackYourStack payment methods" should not be visible"
It's an internal process that should be hidden to the user.

![Screenshot 2019-11-19 at 17 21 58](https://user-images.githubusercontent.com/806/69165054-3fae3900-0af1-11ea-9425-56e02f57a6e7.png)

![Screenshot 2019-11-19 at 17 21 24](https://user-images.githubusercontent.com/806/69165055-4046cf80-0af1-11ea-8af1-b45cefa73390.png)

[2019-11-19 16:39] xdamman commented on #2592
That's good feedback. Is there a pricing page somewhere that you particularly like to illustrate that?
Also I've seen your comment in the google doc, thanks for contributing! :-)

[2019-11-19 17:36] gmarcos87 commented on #2627
https://github.com/opencollective/opencollective-images/pull/110

[2019-11-19 18:00] #2643 closed

[2019-11-19 20:27] znarf opened #2648 "BackYourStack test broken without reporting failure"
In CI, the following test is currently outputting an error but doesn't fail.

https://github.com/opencollective/opencollective-api/blob/master/test/graphql.createOrder.backyourstack.test.js

1. we should make sure the failure is detected and reported by the test
2. the fetched data should be fixed and replaced by a mock to make the test more solid
3. we should make sure to have a test covering suc

[2019-11-19 21:06] contraexemplo commented on #1674
hey @flickz, any updates on this?

[2019-11-19 21:11] flickz commented on #1674
I didn’t get enough time to work on it previous weeks but it’s amongst our
engineering Todo for this week so we should have a first version by Friday.

On Tue, Nov 19, 2019 at 10:06 PM Anna e só <notifications@github.com> wrote:

[2019-11-19 21:11] CanerSezgin commented on #2607
I had thought these errors because of **dataloader-sequelize** update issue.
Because after I have updated loaders file, I don't get these error messages anymore. JFYI
https://github.com/opencollective/opencollective-api/pull/2900

[2019-11-20 00:02] Memo-Es commented on #2417
### Illustrations update

Concept | Option 1 | Option 2 | Option 3
-- | -- | -- | --
Make your community sustainable | **Main illustration in WIP**  |   |
Collect money | ![Collect money 3](https://user-images.githubusercontent.com/49539954/68702628-c6da3a80-054e-11ea-9006-38f9357748bc.JPG)   | ![g1](https://user-images.githubusercontent.com/49539954/68704383-d60eb780-0551-11ea-9537-13521d7ac553.g

[2019-11-20 07:57] znarf commented on #2624
@flickz Looking back at that, the stored data is not as specified.
https://github.com/opencollective/opencollective/issues/2624#issuecomment-554887456

It's then incompatible with the work I have been doing in:
https://github.com/opencollective/backyourstack/blob/master/src/lib/data.js

[code]

Also as discussed yesterday, we should ensure that`triggeredBy` is optional.

[2019-11-20 08:06] Betree commented on #2633
This sounds like a good and simple option for the MVP. We'll eventually be able to extend that to make it possible to create a hierarchy easily if we go with option (2).

It will also make it very easy to implement a recommendation system, so that Collectives can recommend some other Collectives to support. We need this for the (not implemented yet) `Other Collectives to support` section in the ne

[2019-11-20 08:08] Betree commented on #2633
Also @lsmith77 I forgot to mention you but may want to jump in the discussion :slightly_smiling_face:

[2019-11-20 08:17] Betree commented on #2417
This is really cool!

Just a short feedback about the `We are open source` illustration: I think the option (2) is better because the first one assumes that you know the "official" open source logo, while the second one makes it clear what the values of open-source are without knowledge pre-requisites.

[2019-11-20 08:41] flickz commented on #2624
This was the confusion.

https://github.com/opencollective/opencollective/issues/2624#issue-521478905

[2019-11-20 09:10] lsmith77 commented on #2633
We basically have two needs for sub-collectives:
1) different currencies
2) specific causes (like collecting money for speaker training, collecting money for conference scholarships). this way we want to offer donors more control over how their donations may be used.

I would add that in our case we really do want one collective to be considered the parent and others as the sub-collectives (especi

[2019-11-20 09:15] #2624 closed

[2019-11-20 09:20] znarf commented on #2624
@flickz how are you gonna handle the permissions if you don't store `triggeredBy` anymore?

[2019-11-20 09:27] EslamHiko commented on #2607
@CanerSezgin the errors may not appear on your machine but it'll still appear on CI
check your last PR CI `npm run test` results: https://circleci.com/gh/opencollective/opencollective-api/22058?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-11-20 09:37] Betree commented on #2633
Thanks for the feedback @lsmith77!

Let's have a `type` column on `CollectivesRelationship` as an enum with the following values to represent that:
- `CONNECTED`
- `RECOMMEND`
- `PARENTING`

That will also create a safe ground to implement https://github.com/opencollective/opencollective/issues/2141 (`These Collectives are part of our Organization`, like on https://opencollective.com/fbopensource)

[2019-11-20 09:40] flickz commented on #2624
Yes, I removed it based on our conversation on permission PR yesterday, because authentication is not required to backyourstack and dispatch.

[2019-11-20 09:43] znarf commented on #2624
This is not answering my question. How do we implement the GitHub based permissions that we're discussing in the permission issue/PR ?

[2019-11-20 11:50] xdamman commented on #2417
The illustration for spending money is still confusing to me.
I don't think it should have a computer.

People spend money on things and on people, to shops, etc.
I'd make it more "real" rather than "online".

For the video, what about having a link in the cover below or above the "create collective":
"▶️ watch the explainer video" ?

[2019-11-20 12:07] gmarcos87 commented on #2603
This issue can now be closed, the change was applied in https://github.com/opencollective/opencollective-bot/pull/250

[2019-11-20 12:07] #2603 closed

[2019-11-20 12:46] flickz commented on #2624
We're going to do it like, authentication won't be required to save but will be required for update on profile. The condition follows like.

[code]

PS: I'll add the `triggeredBy` property back and but only if the value is present (seperate PR)

[2019-11-20 13:10] znarf commented on #2603
🏆 This issue was completed by @gmarcos87

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-11-20 14:00] znarf commented on #2624
@flickz that can work. `metadata` is a really misleading variable name, you should consider renaming it.

[2019-11-20 15:14] GriffGreen opened #2649 "Pricing page has a view issue when expanding multiple FAQs"
<img width="1407" alt="Screen Shot 2019-11-20 at 10 11 51 PM" src="https://user-images.githubusercontent.com/14945613/69250901-17066c00-0be3-11ea-95a5-f46709d59732.png">

[2019-11-20 15:34] GriffGreen commented on #2522
@alanna I assume you have reached out to Gemini and Coinbase... maybe try Abra? Hopefully others will come out of the woodwork...
https://twitter.com/thegrifft/status/1197175614400167937?s=20

[2019-11-20 15:50] alexk111 commented on #2522
@alanna Bitpay is the worst processor both for merchants and customers: https://debitpay.directory/anti-bitcoin/
Check these: https://github.com/alexk111/awesome-bitcoin-payment-processors

[2019-11-20 16:15] jeffin143 commented on #2579
@znarf Let's close this

[2019-11-20 17:06] znarf commented on #2579
🏆 This issue was completed by @jeffin143

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-20 17:06] #2579 closed

[2019-11-20 17:15] znarf commented on #2565
🏆 This issue was completed by @NotJohs

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2019-11-20 17:15] #2565 closed

[2019-11-20 17:23] znarf commented on #2565
@xdamman get in touch if you want to set up that in production for Triplebyte.

[2019-11-20 20:21] znarf commented on #2649
Thank you for the report. I think it's duplicate with https://github.com/opencollective/opencollective/issues/2460

[2019-11-20 21:10] alanna commented on #2522
We spent ages filling out paperwork for Gemini, only for them to reject us.

I will try looking into some of the other options suggested here, but I have limited capacity at the moment. If anyone wants to help out please let me know!

[2019-11-20 21:10] alanna commented on #2522
I'll reopen this issue for the time being, although we shouldn't expect progress quickly on this.

[2019-11-20 21:14] alanna commented on #2646
Huh... strangely now I can't reproduce this again, either in my normal browser with extensions or in another browser with no extensions.

[2019-11-20 21:58] danielcompton commented on #2592
https://www.campaignmonitor.com/pricing/ has an interesting way of adding a + to features which are additional from the previous tier:

<img width="1457" alt="Screenshot of Safari (21-11-19, 10-56-26 AM)" src="https://user-images.githubusercontent.com/811954/69281684-9892e400-0c4d-11ea-90e9-6bcb1a8e6720.png">

https://freshdesk.com/pricing has the more traditional "Everything in tier -1 and..."

<

[2019-11-20 22:16] alanna commented on #2366
@xdamman finally got a chance to watch the Friday video where you cover this.

* Create new fiscal host is redundant to selecting 'our organization' as bank account owner in the previous screen. It should assume that if you click 'fiscal sponsor' instead of 'our organization' that means you're not creating a new host.
* I'm still confused about what's going to happen to open source Collectives who

[2019-11-20 22:20] alanna commented on #2592
@xdamman sorry it took me a while to watch the video where you go over this, but I'm catching back up slowly.

Here are some initial notes. Basically I agree with the comments from the team members that it's going to be very confusing as currently designed, but I think we can make it a lot better by finding out about the user and only showing them pricing info that makes sense for their situation.

[2019-11-21 02:46] jzabala commented on #1832
I think @Betree [solution](https://github.com/opencollective/opencollective/issues/1832#issuecomment-474639542) would be the perfect one for this issue but in case we want this faster we could also create our own implementation of the library.

We could create @opencollective/styled-icon. In this implementation we import the real one, export only what we need, use webpack tree shaking magic to bui

[2019-11-21 03:49] alanna commented on #2592
OK I have had a go designing a pricing wizard in the google doc, and at the first part of the FAQs. - @xdamman and @piamancini please have a look.

I haven't had a chance to get into the fiscal hosting FAQ, email to fiscal hosts, and blog post content yet but I will soon.

[2019-11-21 07:40] #2630 closed

[2019-11-21 09:34] znarf commented on #2475
@flickz It's impossible to solve this issue if the desired outcome is not clear.

[2019-11-21 09:36] flickz commented on #2475
It is tricky but I'll take care of it.

[2019-11-21 09:36] #2323 closed

[2019-11-21 11:07] znarf commented on #1832
I don't think we want at this point to move forward with a complex solution and maintain our own styled-icon library. If there is no easy fix, then we can live with the issue, it doesn't have much impact on our performance at this point.

Removing the bounty to give less exposure to the issue from now.

[2019-11-21 11:57] Betree commented on #1832
Opened [an issue](https://github.com/jacobwgillespie/styled-icons/issues/1055) in `styled-icons` to suggest exporting individual packages.

[2019-11-21 13:12] jeffin143 commented on #2505
@Betree used grep command to find out all occurences of reportvalidity() , there is none

I guess we can close this :)

[2019-11-21 13:56] Betree commented on #2505
Fixed by https://github.com/opencollective/opencollective-frontend/pull/2787 indeed, thanks!

[2019-11-21 13:56] #2505 closed