[2021-02-15 21:08] shannondwray commented on #3927
Hey! Alanna has said to wait for the new pricing page to go live and then we can look through the rest of the documentation to make sure its all accurate. Thank you for this!

[2021-02-15 21:44] alanna opened #3983 "Integrate with accounting software"
## User story
As a fiscal host, I want to be able to use Open Collective alongside Quickbooks, Xero, and other accounting software. I need a way to link the data.

Pretty much all entities need to use accounting software to track their books. Open Collective fulfils part of this function, but not all of it, so Hosts will generally have both systems running in parallel. Currently it's a painstaking

[2021-02-16 07:58] Betree commented on #3980
I'm up for that! To introduce it smoothly, I would suggest marking all rules generating more than 5 errors as "warning".

The other ones can either be fixed in the same PR, or be marked as warnings too.

[2021-02-16 08:12] Betree commented on #3982
We still want to prevent people from contributing after an event is over. My suggestion would be to display the contribution flow **only** to admins, with eventually a message like:

I would also not display the tiers on the profile page, but rather an action button in the navbar.

As an alternative, "Add funds" also seems like a good way to solve this issue:
- Display a `Add funds from Collective

[2021-02-16 09:23] Betree commented on #3330
We have a design for that in https://www.figma.com/file/5pclePpILM2ja3aYsHuex7/%5BOC.com%5D-03-Admin-Panels-%2F-%E2%97%89?node-id=9%3A37827:

![image](https://user-images.githubusercontent.com/1556356/108043100-f248b080-7040-11eb-995a-db3bb3ec9b81.png)

![image](https://user-images.githubusercontent.com/1556356/108043119-faa0eb80-7040-11eb-9d1a-816bfe7670e6.png)

[2021-02-16 09:32] Betree commented on #3330
# Specs

## API

- [ ] In `server/graphql/v2/mutation/HostApplicationMutations.ts`, create a `removeHost` mutation:
  - [ ] Args: `account`, `message` (optional)
  - [ ] Can only be used by host admins or collective admins
  - [ ] Calls `changeHost` with `newHostCollectiveId` = null
  - [ ] If `changeHost` succeed, send an email. Include the custom message if there's one

## Frontend

- [ ] Implem

[2021-02-16 10:58] Betree opened #3984 "When rendered in iframes, links should open new tabs"
**Describe the bug**
On https://kivy.org/, if you scroll down to "Become a sponsor !" and click on a collective card, it redirects the link directly inside the iframe. According to https://github.com/opencollective/opencollective-frontend/pull/5855#discussion_r576147242, some code was there to handle this case but somehow it's not working anymore.

![Peek 2021-02-16 11-56](https://user-images.gith

[2021-02-16 12:58] #3955 closed

[2021-02-16 13:42] #3482 closed

[2021-02-16 13:42] #3878 closed

[2021-02-16 14:36] aminakazi commented on #3607
Do you reckon this content is clear enough?

**Refund:** This action will reimburse the full amount back to your contributor. They can contribute again in the future.  
**Reject:** This action prevents the contributor from contributing in the future and will reimburse the full amount back to the them.

![On Hover](https://user-images.githubusercontent.com/48468919/108074846-a7a25500-708f-11eb-8437

[2021-02-16 15:29] Betree commented on #3683
Implemented in https://github.com/opencollective/opencollective-frontend/pull/5833

[2021-02-16 15:29] #3683 closed

[2021-02-16 16:01] patcon commented on #3965
Heard back from Transferwise support about the e-transfer rate.

<img width="1019" alt="Screen Shot 2021-02-16 at 10 57 35 AM" src="https://user-images.githubusercontent.com/305339/108087860-d98ec980-7045-11eb-84a7-34358e65b728.png">

@Betree Any pointers for where to look in codebase to adjust this rate (and maybe #3967, if it's small and similar)?

[2021-02-16 16:06] Betree opened #3986 "[PROJECT] Recurring contributions with PayPal"
## Purpose
Supporting PayPal is a very frequent user request (https://github.com/opencollective/opencollective/issues/1141 #1362 #3267 #1655), and the numbers show that contributors are looking for that too: we got +350% **one-time** contributions with PayPal in 2020 compared to 2019 VS +200% for Stripe.

## Owner
@Betree (at least for the experimentation phase)

**Secondary Developer on project:*

[2021-02-16 16:14] Betree commented on #1141
@TLWebdesign My initial estimation of 1 month was too optimistic, I'm sorry for sharing this misleading date.

Our constraints (more especially, the fact that we need to support multiple fiscal hosts in different countries and with different accesses to PayPal's APIs) are making this more complex than expected and we are still researching and experimenting to make sure we implement this in the bes

[2021-02-16 16:40] kewitz commented on #3798
Designs:
https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=10011%3A0

[2021-02-16 18:50] patcon commented on #3362
could we update the ticket title? seems this about "per-collective host fee overrides (flat or %)"

[2021-02-16 19:44] davewitzel commented on #3362
bump - this is important to us - our bank balance & OC balance are out-of-whack.

fyi: our host charges twice a year (not monthly).
do "host fees" need to be handled any differently than any other charge?  shouldn't they generate a ledger entry when they are charged?

[2021-02-16 21:43] alanna commented on #3982
Those solutions sound good @Betree

[2021-02-16 22:00] alanna commented on #3362
I'm bumping this too. It's had the `important` tag on it for a while now, and Hosts keep asking for it. @znarf can it at least be scoped please?

[2021-02-16 22:55] alanna opened #3987 "Skip the expense popup modal on host dashboard"
When I am on the Host Dashboard processing expenses, the two things I need to do are 1) look at the attachments and 2) see if there are any comments. If I click on an expense, I get a modal that doesn't show either of these things, so then I have to hunt for the tiny link button in the corner, and shift+click to open the expense in a new tab so I don't lose my place. It's frustrating.

![Screen Sh

[2021-02-16 23:28] alanna commented on #3588
Bumping this again. Just had a Collective admin pretty put off by getting a spam expense. It degrades their trust of the platform and they don't know what to do about. They didn't know they could delete the expense after rejecting it, and since they only had one other legit expense, it looked pretty bad on their page. We need a button to give them a clear action to do with a spam expense.

[2021-02-17 05:19] Memo-Es opened #3988 "Onboarding new Collective flow (Social Change Agency) – Mockups and Specs"
These are the design mockups and specifications to develop a custom onboarding process for one of our main fiscal hosts on the platform https://thesocialchangeagency.org/.

It is an adaptation of one flow we built for ourselves, and we want to test it out with a white-label experience for SCA.

| Step 1 | Step 2 | Step 3 | Step 4 | Step 5 |
|--------|--------|--------|--------|--------|
|    ![0](

[2021-02-17 05:57] sudo-kaizen commented on #3898
Apart from 'Technovation Girls', are there any other collectives that I can use to replicate this issue? Currencies on my computer are appearing in `USD` and a search  for  'Huddles' doesn't bring back any results

[2021-02-17 08:01] SudharakaP commented on #3980
@Betree : There is a caveat in this approach. The `eslint-plugin-jsx-a11y` doesn't work with `styled-components` very well. So initially when I configured it, it gave around 50 warnings and non on the styled-components which makes me think this is not the best approach. This problem is raised and discussed in https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/issues/466. Now there seems to be an

[2021-02-17 08:34] saideepesh000 commented on #3963
Hey @Betree, at present there's only one page which is using TemporaryNotification component and that's a class-based component, but useToast is a functional hook which can't be used inside a class component, now what should I do, should I just remove the TemporaryNotification from it or any other approach you suggest.

[2021-02-17 08:34] Betree commented on #3588
Adding two ideas:
- Flagging an expense as SPAM/SCAM should block the expense feature for the user until we unlock it (through `user.data.features.USE_EXPENSES`).
- (Not for MVP) When an account has been flagged for SCAM expenses, prevent other expenses from this user to be paid/approved by disabling the buttons and display a clear message

[2021-02-17 08:59] alanna opened #3989 "Use empty screen space on the 'message sent' page"
After sending a message through the `contact` option on a Collective page, this is what you see:

![Screen Shot 2021-02-17 at 9 56 55 PM](https://user-images.githubusercontent.com/5498878/108180044-2f10c680-716b-11eb-98de-39aa11b0d970.png)

This seems like a missed opportunity to show other related Collectives, see if they want to join the newsletter, etc. Or at least there should be a `back to [c

[2021-02-17 09:18] saideepesh000 commented on #3808
Did you mean like this [rich-text-formatting](https://formatjs.io/docs/react-intl/components/#rich-text-formatting)

[2021-02-17 09:25] Betree commented on #3808
It is about rich text formatting, but the goal is to stop passing the components as props (like in the doc you linked) for simple things (`<strong>`, `<i>`, etc.) to rather use `defaultRichTextElements`, as described in the docs linked in the issue.

[2021-02-17 09:33] Betree commented on #3347
This API test is failing a lot lately:

[code]

<details>
<summary>Details</summary>

[code]

</details>

[2021-02-17 10:47] znarf opened #3990 ""Platform Fees and Tips collected" transaction missing key fields"
- `platformFeeInHostCurrency` is `NULL`, should be `0`
- `hostFeeInHostCurrency` is `NULL`, should be `0`
- `paymentProcessorFeeInHostCurrency` is `NULL`, should be `0`
- `TransactionGroup` is `NULL`, should be set

[2021-02-17 21:55] SudharakaP commented on #3980
I've tried to integrate `eslint-plugin-styled-components-a11y` as well but it seems it has a bug so I think at this point we can't use it either. I've create a issue on that repo; https://github.com/brendanmorrell/eslint-plugin-styled-components-a11y/issues/15

[2021-02-18 00:16] SudharakaP commented on #3977
@Betree : Very curious as I use Firefox as my default browser for almost everything I do and I haven't noticed this warning at all. I can try to reproduce this but, which version of Firefox is this happening and is there any extensions present? 🤔

[2021-02-18 00:39] brendanmorrell commented on #3980
@SudharakaP I am just looking at the issue you opened in [the repo](https://github.com/brendanmorrell/eslint-plugin-styled-components-a11y). No one else has reported that error, but I'll pull down your code and see what the issue is in this specific case. I'll let you know when I have a fix up. Thanks for pointing it out!

[2021-02-18 00:53] SudharakaP commented on #3980
@brendanmorrell : Thanks for the quick response. Yes, we will definitely give this a try once we resolve this issue. Thanks much for looking into it. 😄

[2021-02-18 02:38] alanna opened #3991 "Change tax form collection interval to 3 years by the submission month"
After speaking with the accountants about whether we need to collect a new tax form from each payee each year, it seems we don't, but it's a good idea to touch base regularly in case someone's tax info needs to be updated. We are also seeking ways to reduce the number of forms going out to stay under our quota with helloworks, and to spread it out so they don't all get triggered at once in January

[2021-02-18 02:41] alanna commented on #3991
If we do this, I think we should spread people out throughout the year who are now on the january schedule, because we have a big spike of people who've been shifted to that date cycle.

[2021-02-18 08:08] Betree commented on #3977
@SudharakaP I don't think it's specific to some specific extensions as I can reproduce in private mode. Version is 85.0.

You do need to enable the `CSS` filter in the console to see them though:
![image](https://user-images.githubusercontent.com/1556356/108324983-e12aab80-71c8-11eb-8b3d-6fca0c4ecece.png)

[2021-02-18 08:11] Betree commented on #3991
Nice! This sounds like a really simple way to improve the situation. Thanks for researching this @alanna!

[2021-02-18 08:45] SudharakaP commented on #3130
@Betree @kewitz  : I was reading the comments in the associated PR (https://github.com/opencollective/opencollective-frontend/pull/5460); and it seems to me that there was trouble recreating this scenario. I believe this could be reproduced in the following manner;

Suppose there's two users; User A and User B. User A is a collective admin.

1) User A adds User B as a collective admin in the on-bo

[2021-02-18 09:04] SudharakaP commented on #3977
@Betree : Thanks, you are right; I haven't enabled the CSS filter. 🤯

Anyways, this seems to be coming from `styled-components` and the relevant issue is https://github.com/styled-components/styled-components/issues/3157. Not sure if we could fix it on our end as it seems that styled-components hasn't upgraded to stylis.js v4 which is the cause of the issue. 🤔

[2021-02-18 09:08] Betree commented on #3842
Feedback from @znarf:

[2021-02-18 09:11] Betree commented on #3977
Nice finding! I missed this issue when I searched for one. Closing this then, as the issue needs to be resolved on their side.

[2021-02-18 09:11] #3977 closed

[2021-02-18 09:13] SudharakaP commented on #3977
You are welcome 😸

[2021-02-18 10:02] Betree opened #3993 "`USER` collectives with no entry in the `Users` table"
**Describe the bug**
The following request returns 194 entries:
[code]

While a few are quite olds (and probably related to manual edits), the majority are guest accounts created after `2021-01-14 16:00:20`. The most likely candidate for the root cause is https://github.com/opencollective/opencollective-api/commit/6f5a00224ca875b93259b4320b84ac28d652c029, since it was deployed at 15:55h on this da

[2021-02-18 10:12] Betree commented on #3993
Last one is on `2021-01-19 14:29:55`, so it looks like https://github.com/opencollective/opencollective-api/pull/5138 solved it already.

[2021-02-18 10:16] Betree commented on #3993
Most of these profiles seem to have been created while the contribution was failing. They don't have any linked transactions, so I'm going to solve it by just marking them as deleted.

[2021-02-18 10:16] #3993 closed

[2021-02-18 11:48] Betree commented on #3362
@patcon Per-collective host fee overrides as a percentage is already possible from the host dashboard. This issue is only about the second option, being able to set a fixed monthly retainer instead.

![image](https://user-images.githubusercontent.com/1556356/108352744-953b2f00-71e7-11eb-9300-19a9fce75ec5.png)

[2021-02-18 13:20] #3974 closed

[2021-02-18 13:21] Betree commented on #3974
Thanks for reporting this issue @patcon! It should be resolved with the next deployment

[2021-02-18 13:21] Betree commented on #3946
Temporarily increased the max length from `30` to `60` in https://github.com/opencollective/opencollective-frontend/pull/5913

[2021-02-18 15:12] Betree opened #3994 "Github flow: strange FAQ poisitoning"
**Describe the bug**
When creating an Open Source collective and there is a long list of repos in the Github flow, the FAQ positioning is unexpected:
![Peek 2021-02-18 16-10](https://user-images.githubusercontent.com/1556356/108376947-d04b5b80-7203-11eb-8f01-b403fd4521cf.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /create
2. Pick Open Source
3. Accept
4. See issue

**Expected

[2021-02-18 15:56] Betree opened #3995 "Accept financial contributions: responsiveness issue on medium screens"
With ~950px width:

![Peek 2021-02-18 16-55](https://user-images.githubusercontent.com/1556356/108383616-39ce6880-720a-11eb-91a2-46110bf6ef82.gif)

[2021-02-18 20:21] alanna opened #3996 "After removing team member, they still show in team section"
I feel like I've raised this before but I can't find the issue.

This is a UX bug.

1. Go to a Collective's settings > team
2. Remove a team member
3. Save
4. View the profile page
5. That team member is still there

I think this is just a caching issue because when I removed myself as an admin I lost admin permissions immediately, but I still see myself listed in the team section, even after refr

[2021-02-18 22:17] alanna opened #3997 "Contribution not showing on contributor page"
I added funds manually to Morenva Project, and selected an existing profile, singpolyma as the source. The transaction is showing on the Collective, but not appearing on the contributor's profile, even after refreshing a few times.

![Screen Shot 2021-02-19 at 11 15 26 AM](https://user-images.githubusercontent.com/5498878/108428811-05a78600-72a4-11eb-94d1-229414814d46.png)

![Screen Shot 2021-02-1

[2021-02-18 22:33] alanna commented on #3362
Please don't call it a "retainer". That word has a different meaning in English. Let's call this a "monthly flat fee".

[2021-02-19 02:23] Memo-Es opened #3998 "Budget page design for Collectives (Transparency)"
We designed a page to display the money management's transparency layer, so Collectives and other projects can show their contributors and team the budget overview.

It displays a handful of data visualizations ranging from 2 main concepts: transactions and expenses overview.

In the end, we included a shortlist of the latest transactions and expenses.

| Desktop | Tablet Portrait | Tablet Landsca

[2021-02-19 08:04] Betree commented on #3996
In https://github.com/opencollective/opencollective-api/blob/a759154e1efcb5ef1c196f772613e7c0ba8bea4d/server/models/Collective.js#L2290, it looks like we're calling `invalidateContributorsCache` but we never call `purgeCacheForCollective` from the `editCoreContributors` mutation, which is the most important one to refresh for the collective page.

[2021-02-19 08:19] Betree commented on #3998
This graph can be rendered without any library (these are just boxes with a width defined as a percentage and background colors):
![image](https://user-images.githubusercontent.com/1556356/108476816-c58bd780-7292-11eb-8e88-efadb5bcefd1.png)

We may however want to use something for these 3 ones:
![image](https://user-images.githubusercontent.com/1556356/108476982-f3711c00-7292-11eb-8c40-5364311762

[2021-02-19 08:22] #3991 closed

[2021-02-19 09:11] #3997 closed

[2021-02-19 12:20] Betree commented on #3914
Will be fixed by https://github.com/opencollective/opencollective-frontend/pull/5855/commits/04a6384a4bbad9d31fc63e4407f86183e2578a1d

[2021-02-19 17:37] SudharakaP commented on #3652
@opencollective/core : As discussed, I will be working on this one starting next week. 😄

[2021-02-19 18:15] kewitz commented on #3652
@SudharakaP let me know if you need a walkthrough in the platform tip implementation, we can schedule one for Monday.

[2021-02-19 18:19] SudharakaP commented on #3652
@kewitz : That would be wonderful. Thanks a lot. 🤗

[2021-02-20 10:39] FezVrasta commented on #1738
If allowing password login is not an option you could at least make the emails arrive quicker. It usually takes 15 seconds for an email to arrive, that's so annoying.

[2021-02-20 18:58] brendanmorrell commented on #3980
@SudharakaP The issue should be fixed now. I just ran eslint on the entire `opencollective/opencollective-frontend` repo with no issues, so if you bump the version to `0.0.32` you should be good to go.

[2021-02-21 01:44] SudharakaP opened #3999 "userLayoutEffect Warning on Dev Console"
**Describe the bug**

I've noticed that the following warning is printed over and over again while navigating pages in the developer console in Firefox. It would be nice to remove this warning and fix the underlying issue.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the front-end server in development mode (`npm run dev`)
2. Open the developer console in any browser (I've use

[2021-02-21 02:38] SudharakaP commented on #3980
@brendanmorrell : Thanks so much for the quick fix. I've tested it and seems to work fine. 👍🏽

@Betree : So I've added `styled-components-a11y` in https://github.com/opencollective/opencollective-frontend/pull/5910. I've made some minor changes to get rid of the most obvious of a11y issues, but for others I've added the eslint rules to just show as warning. Now the majority of the warnings comes d

[2021-02-21 23:51] alanna opened #4000 "Zero balance not working"
I am trying to archive https://opencollective.com/cannon-coin

I go to settings > advanced and click `send balance to host`. It says processing, then just nothing happens and I can't zero the balance.

https://user-images.githubusercontent.com/5498878/108642865-91bbe680-750c-11eb-98cf-4fedc68b5dc4.mp4

[2021-02-22 00:11] alanna opened #4001 "Ghost Collective preventing host deactivation"
I am trying to deactivate https://opencollective.com/the-wellbeing-protocol/ as a host.

I archived its only Collective and the dashboard shows no Collectives.

<img width="1215" alt="Screen Shot 2021-02-22 at 1 09 15 PM" src="https://user-images.githubusercontent.com/5498878/108643422-6e466b00-750f-11eb-8c86-33ce966c9d01.png">

However, it says there is a Collective still, and I can't deactivate.

[2021-02-22 00:15] alanna commented on #4001
Aha! I found https://opencollective.com/cannon-coin2 and deleted it, and now the host is able to deactivate. This Collectives seems to have been previously hosted by this host, but then was removed. When I deleted it, it had no host. So why would it be blocking host deactivation?

[2021-02-22 07:15] tangjeff0 commented on #328
I have to agree with @nemchik. The fields on the Zapier integration don't match up to the actual options one can auto-complete

![image](https://user-images.githubusercontent.com/8952138/108674728-92b43000-749a-11eb-8eb5-f7c3d740f779.png)

They also don't match up with current CSV export fields.
![image](https://user-images.githubusercontent.com/8952138/108674774-a8295a00-749a-11eb-82c3-f100334013

[2021-02-22 07:34] tangjeff0 commented on #328
To confirm, the beta only has these 3 event triggers?

- New Member
- New Expense
- Update

![image](https://user-images.githubusercontent.com/8952138/108676583-4e765f00-749d-11eb-8e5e-fc256e4ccce3.png)

[2021-02-22 08:10] tangjeff0 commented on #3951
What information is sent in the Slack/Discord Webhook? Also a big fan of Discord and OpenCollective (and SourceCred).

[2021-02-22 08:15] Betree commented on #3987
The attachment preview is not playing its role correctly because attachment previews seem to be broken right now.

Regarding the expense modal, there are a few things added there on top of what you see in the list:
- Payout method details (bank account number, PayPal email, etc...)
- Payee details (address)
- Expense items details & amounts
- Additional actions, like "Delete"

@Memo-Es Wdyt? Shoul

[2021-02-22 08:22] Betree commented on #3980
Makes sense! Let's wait for opencollective/opencollective-frontend#5855, I'm confident we can merge it this week

[2021-02-22 08:37] Betree commented on #328
Hi @tangjeff0, our Zapier app is unfortunately deprecated (see #3236). We discourage new integrations, and rather recommend using standard webhooks.

[2021-02-22 08:45] tangjeff0 commented on #328
Thanks @Betree. Are there any docs on OC webhooks? All I see is the Webhooks page — I guess data for for the events are sent to the webhook URLs? Any way to test/iterate on that quickly?

[2021-02-22 10:45] Betree opened #4002 "Markup appearing in pending contributions instructions"
We have 41 accounts with HTML markup in their bank transfer instructions (including active hosts like Brussels & allforclimate). This markup is currently not rendered in the file, nor in the email and looks like a bug.

![image](https://user-images.githubusercontent.com/1556356/108697405-1a358980-7503-11eb-8030-5a1f887d795f.png)

@znarf @kewitz I'm not sure what the expected behavior is here: shou

[2021-02-22 11:02] Betree opened #4003 "Review LoggedInUser cached in local storage"
We currently store a local cache of `LoggedInUser` in `localStorage`. This was supposedly done as an UX enhancement, so that you're displayed as logged in as soon as you open a tab on Open Collective.

However, this intended behavior is currently not working because we fetch the user when the tab opens which sets `loadingLoggedInUser` to `true` and shows loading spinners, keeping `LoggedInUser` nu

[2021-02-22 11:16] Betree commented on #4002
According to https://opencollective.slack.com/archives/C0RMV6F8C/p1613992255004900, we should remove the markup

[2021-02-22 13:59] Betree opened #4004 "Spacing differences between update preview & email"
**Describe the bug**
Initially reported in https://github.com/opencollective/opencollective/issues/2839#issuecomment-777662415.

Updates previews should be the source of truth for how an update is going to look. There is currently a paragraph spacing difference that breaks this rule.

![image](https://user-images.githubusercontent.com/1556356/108718138-6b06ab80-751e-11eb-98d5-4ad8fba00549.png)

**

[2021-02-22 15:48] piamancini commented on #3607
@aminakazi content is ok by me.

[2021-02-22 16:30] SudharakaP commented on #3652
@Memo-Es : Just summarizing what we discussed in our meeting today on how the platform tips selection should appear; some of the ideas were,

1) Include the platform tips as a percentage (one input).

2) Include platform tips as a flat amount (one input).

3) Include platform tips as a percentage and flat amount (two input).

I think we need to clarify this point a bit further on what exactly shou

[2021-02-22 17:30] blueridger commented on #3951
@Betree the slack-style discord web hook is working now!

[2021-02-22 19:43] #3630 closed

[2021-02-22 21:09] #3762 closed

[2021-02-22 22:45] SudharakaP commented on #3652
@Betree @znarf @kewitz : I've done an initial draft of the platform tip selection implementation. A screen-cast can also be found the the PR; https://github.com/opencollective/opencollective-frontend/pull/5922. I think there's a few points to reiterate and left to do. 😄

1) For now I've made the Platform Tip selection only appear when the Platform Fees are not appearing. I am wondering whether the

[2021-02-23 00:43] alanna commented on #3652
The Platform Fees box only appears to Platform Admins, IIRC. The main users of this feature are non-platform-admin fiscal host admins. Basically, if it's something only platform admins see, it's OK if it's a bit confusing/ugly/lots of boxes, so no need to worry about it much. The main goal is for those external host admins to be able to add a tip when manually adding funds.

[2021-02-23 02:15] awright opened #4005 "Payment Method: Network Error"
**Describe the bug**
Sent in from the [Salesforce](https://opencollective.com/salesforce/) – when trying to send over $10,000 to [Prettier](https://opencollective.com/prettier) they keep getting a network error on the payment page.

**Screenshots**
![Screen Shot 2021-02-22 at 10 07 11 AM(1)](https://user-images.githubusercontent.com/78410/108794016-d4e07e80-7539-11eb-98e5-91671f554f38.png)

[2021-02-23 08:09] #3916 closed

[2021-02-23 08:18] #3994 closed

[2021-02-23 08:31] #3888 closed

[2021-02-23 11:30] nhirschey opened #4006 "Is the open collective bot member check case sensitive?"
**Describe the bug**
The bot never finds me when I create an issue at a backed GitHub repo (see https://github.com/ionide/ionide-vscode-fsharp/issues/1500) . Is the member check case sensitive? I had Nhirschey as my GitHub name on opencollective, rather than nhirschey. Could this be the reason backer.ts doesn’t fine me? It looks like it’s possible that this is the issue when I look at that code fi

[2021-02-23 13:04] znarf commented on #4005
This is fixed, they can now contribute with the Fund's balance.

[2021-02-23 13:04] #4005 closed

[2021-02-23 13:38] znarf commented on #4001
Sorry, difficult to investigate now that things are fixed/solved. Closing.

[2021-02-23 13:38] #4001 closed

[2021-02-23 13:40] znarf commented on #4000
It seems the Collective how has a balance of zero and was archived. Difficult to troubleshoot now that the problem was solved/fixed. Closing.

[2021-02-23 13:40] #4000 closed

[2021-02-23 13:44] znarf commented on #4006
I'm sorry, we're not investing much in the bot right now and it's likely gonna be deprecated in the future.

It's possible indeed that it's case sensitive. We would need to double check. Source code is here: https://github.com/opencollective/opencollective-bot

[2021-02-23 13:51] kewitz opened #4007 "Can't delete Drafted Expenses"
**Describe the bug**
When you submit an expense on behalf (a.k.a. invite expenses) a draft is created so the invitee can complete it later.
If that draft is no longer needed, there's no way to manually delete that draft.
As a collective admin, I want to delete unused draft expenses before the 30-day expiration limit.

**Screenshots**
![image](https://user-images.githubusercontent.com/2119706/10885

[2021-02-23 13:59] kewitz opened #4008 "Refact TransferWise to use Quote V2 endpoint"
Solves https://github.com/opencollective/opencollective/issues/3965

Update TransferWise payment provider lib to use the new [TransferWise quotes endpoint](https://api-docs.transferwise.com/partners#quotes-create) and **to consider all fees involved** in the transaction.
This endpoint seems to work a little bit differently from the existing one, we'll need to see how this affects the whole `payExp

[2021-02-23 18:19] Betree commented on #3986
So far the Braintree experiment is going well, no blocker has been identified so far. We now have enough information to confirm that we can implement PayPal recurring either with Braintree or directly with PayPal's API. It's worth having a quick chat about that to decide which one we want to use.

So far the pros and cons are:

<table>
<tr>
	<td>
	<td>Pros
	<td>Cons
<tr>
	<td>PayPal
	<td>
- Slight

[2021-02-23 19:23] tangjeff0 commented on #3951
Just added my discord URL to OpenCollective. Can you change the type to `slack` for me as well @Betree ?

[2021-02-23 19:51] alanna commented on #3422
Bumping this again as we've received more user requests for it.

[2021-02-23 19:58] alanna commented on #4000
I had to submit an expense to zero the balance as a workaround. When a customer is waiting it's not always possible to leave a broken state for investigation.

[2021-02-23 21:53] alanna opened #4009 "Host admin can manually add funds to tier"
## User story
As a host admin, I want to be able to select a particular tier when I am manually adding funds to a Collective, so that the contribution can show up correctly at the intended tier. Currently you can only add funds to the Collective's general budget.

## Best solution for this problem
Add a dropdown menu of the Collective's tiers in the 'add funds` modal.

![Screen Shot 2021-02-24 at

[2021-02-24 01:37] alanna opened #4010 "Manually added payment processor fees not charged"
**Describe the bug**
It seems that amounts put in the `payment processor fees` box when making a manual expense payout are not being applied.

A user reported this and I just tested it on staging.

I put $25 in the box and marked it as paid.

<img width="360" alt="Screen Shot 2021-02-24 at 2 32 55 PM" src="https://user-images.githubusercontent.com/5498878/108931993-7b995c00-76ad-11eb-84e1-7727eee3

[2021-02-24 01:48] alanna commented on #3998
This looks really good!

One thing I'd love to see that seems to be missing is balance over time.

[2021-02-24 02:25] snitin315 opened #4011 "Settings: clicking on `Add Tags` scrolls to top"
**Describe the bug**

On the user settings page, when clicking on `Add Tags`, the window gets scrolled to the top.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/user/edit'
2. Click on `Add Tags` at the bottom.
3. See error.

**Expected behavior**

Scrolling should not happen.

**Screenshots**

https://user-images.githubusercontent.com/46647141/108938106-791b1000-7675-11eb-8d8c-df66

[2021-02-24 06:44] alanna commented on #3996
This is still happening. I removed myself from https://opencollective.com/whanau-ahirau but when you look at the team section of their page, I still show up. I don't have access to admin permissions but I still am in the team section.

[2021-02-24 07:50] Betree commented on #4009
Fairly simple to implement, the main difficulty will be to make sure we fetch the tiers everywhere (we probably want to do that in `AddFundsModal`).

Regarding the design, I think it's important to have (Optional) in the label since all the other fields are mandatory. That, or prefill the tier selection with something like "General budget" or "No tier".

[2021-02-24 08:06] Betree commented on #328
@tangjeff0 glad to know it worked for you!

Also, if you need to iterate quickly on webhooks feel free to use https://staging.opencollective.com (it's a test environment, so you can use [test card numbers](https://stripe.com/docs/testing#cards)).

[2021-02-24 08:08] Betree commented on #3963
Using a HOC sounds like the right way to go :slightly_smiling_face:

[2021-02-24 08:12] alanna commented on #1445
I realised this is the issue blocking us from switching from Mailchimp for host Updates for OSC and OCF. So I'm adding `important` because I think it would be great to use our own systems for these important comms.

The other issue on my mind for that is deliverability and whether we'll get through spam filters as well as mailchimp, but that's another issue.

[2021-02-24 09:09] #3791 closed

[2021-02-24 09:27] Betree opened #4012 "Use `next/image` component for the homepage"
**What**
Using `next/image`, we could be able to improve the loading time for the homepage where the images are pretty heavy.

**How**
Replace `<img` by `<Image` from `next/image`. Props should be adjusted to ensure we maintain good image quality.
See https://nextjs.org/docs/api-reference/next/image

[2021-02-24 10:13] robnyman opened #4013 "Blog post pages doesn't have the post title in the <title> element"
**Describe the bug**
Blog post pages doesn't have the post title in the <title> element

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/open-web-docs/updates/introducing-open-web-docs
2. Title element is <title>Open Web Docs - Open Collective</title>

**Expected behavior**
Expected title element to be <title>[title of the blog post] - Open Web Docs - Open Col

[2021-02-24 10:14] snitin315 commented on #3439
Can it be a bounty? I can take this up.

[2021-02-24 10:14] Betree commented on #3951
@tangjeff0 It's done, I've also updated your webhook URL to add the `/slack` suffix (see https://discord.com/developers/docs/resources/webhook#execute-slackcompatible-webhook).

[2021-02-24 10:19] robnyman opened #4014 "New Tweet on view doesn't look good with the logo – Twitter Cards issue?"
**Describe the bug**
If I create a new tweet pointing to a blog post on Open Collective, the link preview pulls the logo and just blows it up out of proportion.
It also doesn't include the title of the blog post itself in the preview, but that might be solved through https://github.com/opencollective/opencollective/issues/4013

**To Reproduce**
Steps to reproduce the behavior:
1. Go to twitter.com

[2021-02-24 10:53] Betree opened #4015 "Update email styles broken in "Hey" client"
*Reported by @Relequestual*

It seems that the update styles don't look good with https://hey.com.

Possible root causes:
- Hey.com might be sanitizing the email, removing inline styles, or not interpreting CSS
- Using relative units (`em`/`rem`) without defining a font-size at the top

![image](https://user-images.githubusercontent.com/1556356/108989692-2b62cf80-7696-11eb-8a5e-d743ff20c9dd.png)

[2021-02-24 10:57] Betree opened #4016 "Add a confirmation modal before publishing an update"
*Feature request from @Relequestual*

**User story**

That's a simple enhancement. It would be good to show the notification audience in there ("Your Update will be sent to x financial contributors").

**Related code**
- `components/PublishUpdateBtnWithData.js`
- `components/ConfirmationModal.js`

[2021-02-24 13:47] #3939 closed

[2021-02-24 17:02] Betree commented on #2753
[`b82cb45` (#5424)](https://github.com/opencollective/opencollective-api/pull/5424/commits/b82cb45fa0056d1b95b6f83de09a7db9b0548b90#diff-fbec1dc3bff38c030ca787c96878051e1530b688b69a8898c377381fc140a06fR1559) should resolve the root cause

[2021-02-24 21:57] alanna opened #4017 "Unable to approve event email"
The admin of [this event](https://opencollective.com/an-entangling-wellington-13971425) wanted to send an email to participants. She drafted it and got the preview. But when she clicked `approve` in the email, she got this error.

<img width="763" alt="Screenshot 2021-02-24 at 8 51 10 PM" src="https://user-images.githubusercontent.com/5498878/109070913-fae36a00-7757-11eb-9f04-24abc38bcd72.png">

!

[2021-02-24 22:59] darkdragon-001 commented on #3654
This issue is blocking me as a donator, since I would like to add collectives to donate when I discover them, but keep my budget fixed (I don't get more salary when I want to donate to a new project).

An easy implementation would add a new split-donation wizard, where you select a list of collectives and a fixed amount (one-time or recurring). This is then translated to the individual donations w

[2021-02-25 03:58] SudharakaP commented on #3652
An updated design for the platform tip box selection has been provided by design (thanks @Memo-Es 👍🏽).

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85

![image](https://user-images.githubusercontent.com/12435965/109100873-8ae2ce80-76da-11eb-924c-0af4bcda3ac8.png)

I'll work on adding the fixed amount selection box as per the above design tomorrow. In the

[2021-02-25 05:10] tangjeff0 commented on #3951
Thank you. I was making test donations each time :sweat_smile: Good for you guys and visa though!

[2021-02-25 06:10] benhylau opened #4018 "Choose TransferWise balance to send payment from"
_I hope this is the right place for feature requests. This may be a niche use case, so I don't expect to be a priority for you, but documenting here as it came up as a nice to have in our case._

## User story
As an OC Host with TransferWise, I would like to be able to make payments using any of my TransferWise balances, because my org holds many currencies and one of our Collectives have expenses

[2021-02-25 07:04] darkdragon-001 opened #4019 "Pay fixed percentage of available capital to contributors"
## User story
As project, I can offer contributors attractive compensation so that more contributors create code.

## Best solution for this problem
Inspired by https://github.com/signalapp/BitHub but using opencollective funds instead of Bitcoin.

## MVP
- Select collective
- Select github repo to enable
- Set percentage of available capital to donate to individual users
- Interface for contribut

[2021-02-25 07:53] Betree commented on #4018
Thanks for documenting this use case @benhylau! Ping @kewitz

[2021-02-25 08:11] Betree commented on #3130
@SudharakaP That's a legit scenario. "Hey Admin2, I don't know what to put in the contact info, can you go and edit it yourself? Here's the link: ___".

Regarding the solution, I would keep the routes as they are. If the person doesn't have permission we can display a simple error message, or not show the modal at all.

[2021-02-25 08:13] SudharakaP commented on #3652
@opencollective/core : I've completed adding the fixed platform tip input box as well and as per design when we enter a value on the fixed amount and focus out of the input it auto calculates the percentage and vice versa. In addition I've made the `Add funds` button disabled when the total amount is negative (in case the platform tips + host fees etc goes above the total funding amount). I think

[2021-02-25 08:16] Betree commented on #4017
@alanna could you forward me the email (or share the "Approve" link by pm)? We can probably have a fix for that one

[2021-02-25 08:21] SudharakaP commented on #3130
@Betree : Ah nice, now that you mention, it indeed seems like a probable scenario. I'll put this to my to-do list and follow up with a fix. 😄

[2021-02-25 08:46] Betree opened #4020 ""Expense created" activity missing for invites"
**Describe the bug**
The `collective.expense.created` activity is not created when submitting an invite for the expense: we don't create the activity in `draftExpenseAndInviteUser`, neither in `verifyExpense` when the status moves to `PENDING`.

It was the case for these two expenses:
- https://opencollective.com/swma_nyc/expenses/33708
- https://opencollective.com/swma_nyc/expenses/33545

As a re

[2021-02-25 08:49] znarf opened #4021 "Incorrect hostCurrencyFxRate and amountInHostCurrency with some PayPal expenses"
When paying an Expense with PayPal, we're reading the `hostCurrencyFxRate` from PayPal response but it's sometimes inaccurate to do so. It's especially visible for Transactions that have `currency = hostCurrency`.

https://github.com/opencollective/opencollective-api/blob/master/server/lib/transactions.js#L117

[code]

We should review this and fix past entries in the ledger.

[2021-02-25 09:20] tangjeff0 commented on #328
Thank you. I was making test donations each time :sweat_smile: Good for you guys and Mastercard though!

[2021-02-25 09:21] tangjeff0 commented on #3951
@Betree I'm pretty sure the webhooks page doesn't let you have more than one webook, but ended up creating my own webhook for Discord so no worries.

[2021-02-25 10:24] Betree commented on #3951
@tangjeff0 The webhooks page only displays "normal" webhooks, as soon as I turned yours into a Slack webhook it disappeared from this view (we intend to change that in https://github.com/opencollective/opencollective/issues/3448)

[2021-02-25 11:26] Betree commented on #3999
This one seems to come from `styled-components`'s `createGlobalStyle`: https://github.com/styled-components/styled-components/issues/3369

[2021-02-25 14:35] #3980 closed

[2021-02-25 14:40] SudharakaP opened #4022 "Investigate and Eliminate Warnings Reported by the `styled-components-a11y` Plugin"
**Describe the bug**

We have around 110 errors reported by the `styled-components-a11y` plugin as per https://github.com/opencollective/opencollective/issues/3980. I think we should review and ideally remove these accessibility errors. 😄

**To Reproduce**

Steps to reproduce the behavior:

Just run `npm run lint:fix` on the `master` branch and notice the output.

**Expected behavior**

Ideally no

[2021-02-26 01:02] alanna opened #4023 "Should jump to top on second step of expense submission"
After selecting the expense payee, you click `next` to continue filling out the expense form. But it doesn't scroll you to the top. You end up just looking at the page footer not sure what to do.

https://user-images.githubusercontent.com/5498878/109239879-3d31a780-783b-11eb-9d94-055dcd469216.mp4

[2021-02-26 07:40] alanna opened #4024 "Host admin can define more manual payment methods"
## User story
As a host admin, I want to add more options for contribution payment methods, which do not require any technical integrations and I intend to manage manually (ie, when the contribution arrives I will mark the pending order as confirmed on the dashboard).

## Best solution for this problem
This can work the same way the current "bank transfer" payment method works, except the name of

[2021-02-26 10:13] #2753 closed

[2021-02-26 10:14] #4020 closed

[2021-02-26 10:53] #4017 closed

[2021-02-26 15:06] #3841 closed

[2021-02-26 16:22] SudharakaP commented on #3652
@opencollective/core : So just want to write here some of the things we discussed in the demo before I forget it over the weekend;

1) We have yet to come to a consensus on whether to only include the platform tips fixed amount selection or to include both fixed amount and percentage.

2) We have to finalize whether to add platform tips as an amount added on top of the fund or an amount that is su

[2021-02-27 10:52] Relequestual opened #4028 "Updates have really weird word wrapping"
**Describe the bug**
I posted an update. The word wrapping is wrong, and words are broken to wrap.

**To Reproduce**
See at https://opencollective.com/json-schema/updates/json-schema-2020-12-released

**Expected behavior**
Words should not be broken

**Screenshots**
![Screenshot 2021-02-27 104916](https://user-images.githubusercontent.com/731158/109385135-7e809080-78e9-11eb-9d83-cd406b2790a4.png)

[2021-02-27 13:21] saideepesh000 commented on #4013
Ya, it's using <h5> tag.

[2021-02-27 14:18] saideepesh000 opened #4032 "Responsiveness issue on edit host page"
**Describe the bug**
On the "collective settings" > "fiscal host" page, there are some responsiveness issues for buttons.

**To Reproduce**
Steps to reproduce the behaviour: Please do this on mobile
1. Go to 'Collective settings'
2. Click on 'Fiscal Host'
3.  Select any of the options "Ourselves" or "Our organisation"
4. See error - Buttons are large and not aligned properly.

**Expected behaviour

[2021-02-28 02:25] alanna commented on #3652
A note based on the screencast above: If a host fee applies, Open Collective already takes its platform fee as 15% of that. So platform tips are only relevant when the host fee is 0%. This might simplify the UI design, since you really only need the `host fee` box or the `platform tips` box to be active, not both—but if this actually complicates the logic more, then it's ok to have both there next

[2021-02-28 06:48] alanna commented on #3652
I just watched the demo video. I agree with @piamancini that this tip is something given by the *Host* not the Collective, so it doesn't make sense for it to come out of the total added, and should be on top. I see what @znarf means about the money actually might not be there if we add it on top, but I think we should assume that the Host intends to pay it from fee revenue or they will add funds a

[2021-02-28 17:56] rhklee commented on #4028
It also seems strange that only this update post has wrap formatting issues, the other update post seem to be fine.

[2021-02-28 23:38] SudharakaP opened #4033 "Inconsistency in Pricing Details in Documentation Pages"
**Describe the Issue**

There was a discussion in slack about a inconsistency in pricing in two of our doc pages.

[code]

The pages in question are,

https://docs.opencollective.com/help/about/pricing

and,

https://opencollective.com/pricing?tab=organization

The original discussion can be found at,

https://opencollective.slack.com/archives/C0HSLRNVC/p1614554323031400

cc: @piamancini @alanna :

[2021-02-28 23:38] SudharakaP opened #4123 "Inconsistency in Pricing Details in Documentation Pages"
**Describe the Issue**

There was a discussion in slack about a inconsistency in pricing in two of our doc pages.

The pages in question are,

https://docs.opencollective.com/help/about/pricing

and,

https://opencollective.com/pricing?tab=organization

The original discussion can be found at,

https://opencollective.slack.com/archives/C0HSLRNVC/p1614554323031400

cc: @piamancini @alanna : Includi

[2021-03-01 00:23] SudharakaP commented on #3652
@alanna : Thanks much for the input. 😄 👍🏽

I'll leave the host fee box for this first iteration of this as removing it can be done in number of ways which we should probably discuss. A few ways I can think of are,

1) Add a radio button to choose between host fees and platform tips.

2) Add logic to auto disable the host fee box upon adding amounts in the platform fee selection boxes and vice vers

[2021-03-01 01:22] alanna commented on #3652
Who is the "user" in this case? The profile selected as the source of funds? That's not really correct.

The place the platform tip should come from is not the same as the source of funds being added. The funds are from the financial contributor. The tip is from the Host. So the main funds being added should appear as a debit on the payer profile's transactions and a credit on the Collective profi

[2021-03-01 04:32] SudharakaP commented on #3652
Ah, that makes sense. Thanks for the explanation. 👍🏽  Currently the platform tip is taken from the profile selected as the source. So we need to change that. I'll work on it this week and get back. 😄

[2021-03-01 09:31] #3130 closed

[2021-03-01 09:41] Relequestual commented on #4028
Well, that is really weird...

I can see that it only appears to be on that update and not my previous updates.

I have just copied it into a plain text editor, then pasted it back again, and it seems to have fixed the issue.

It's still concerning though, as I shouldn't be able to effect that sort of behaviour.

I don't know if you keep change logs, hopefully you can have a look for the edits I'v

[2021-03-01 09:52] Betree commented on #3439
A bounty for this one is not a bad idea, it may require some flexibility if the specifications seem incomplete, but since you are fairly autonomous and have some experience with the code base I think you have what it takes to lead it.

I suggest rebasing https://github.com/opencollective/opencollective-frontend/pull/5009 to kickstart your work as a good part of the frontend work was done there.

T

[2021-03-01 12:05] visika opened #4036 "Allow admin to add funds to specific tier"
## User story
_As admin, I can add funds so that the balance of a specific tier increases, useful to track objectives_

At the moment, the route I found is to log out and add a contribution as a guest, but I have to input a new email every time.

## Best solution for this problem
_Add an optional field Destination Tier to select the preferred tier_

## MVP
_Adding funds with the Destination Tier f

[2021-03-01 12:52] Betree commented on #4036
Hi @visika, I think a proposal already exists for that: https://github.com/opencollective/opencollective/issues/4009

Feel free to re-open the issue (or comment on the other one) if it does not match your use case.

[2021-03-01 12:52] #4036 closed

[2021-03-01 12:55] Betree commented on #4014
https://github.com/opencollective/opencollective/issues/2660 could help to resolve this issue

[2021-03-01 12:58] visika commented on #4036
Yes, it is a duplicate indeed :) I don't know why I couldn't find it before!

[2021-03-01 14:38] Betree commented on #3853
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-03-01 14:40] Betree commented on #3740
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-03-01 14:51] segfult commented on #3740
Hey @Betree, picking this up!

[2021-03-01 14:52] znarf commented on #1916
Removing `important` to see clearer in our priorities, it's just too complex for now.

[2021-03-01 14:53] znarf commented on #1038
Removing important because implementation started.

[2021-03-01 14:54] znarf commented on #3572
It's being worked on.

[2021-03-01 14:58] znarf commented on #3193
As we're trying to lower the numbers of `important` issues opened, removing the label as it didn't seem the most important of the list.

[2021-03-01 15:06] znarf commented on #3435
Removing priority.

[2021-03-01 15:33] Betree commented on #3963
The latest instance of this `TemporaryNotification` is conflicting with the new navbar, we should iterate on it asap. @saideepesh000 let me know if you need any assistance with this, or if you prefer to pass it to someone else.

![Peek 2021-03-01 16-24](https://user-images.githubusercontent.com/1556356/109519557-a28bcf80-7aab-11eb-9149-1ff4628c5339.gif)

[2021-03-01 15:35] #4032 closed

[2021-03-01 15:35] saideepesh000 commented on #3963
Oh, sorry for the delay, I may not be working on it now, you could pass it on.

[2021-03-01 15:52] SudharakaP opened #4037 "Inconsistency in Dates in Budget Section"
**Describe the bug**

Very minor inconsistency I saw in the budget section in the collective pages. The date for credits and debits are formatted differently. Notice the dates in the following screenshot.

![Screenshot_2021-03-01 Open Collective Design - Open Collective](https://user-images.githubusercontent.com/12435965/109521694-6bdd9700-7a62-11eb-942c-b26545e77490.png)

**To Reproduce**
Steps t

[2021-03-01 16:43] RCheesley commented on #1038
@znarf that is great to hear! Any ideas when you will be looking at having something ready for testing? Super excited to see this moving forward!

[2021-03-01 20:13] patcon commented on #1038
@RCheesley you can track progress it here: https://github.com/opencollective/opencollective/projects/49 (this large milestone board was just created 2021-01-22, so my guess is months scale of time :) )

[2021-03-01 20:52] alanna commented on #4033
@shannondwray can you work on this please? The [new pricing page design](https://user-images.githubusercontent.com/49539954/106371438-f29b3900-6329-11eb-9d5a-9d644f39a687.png) is also helpful to refer to.

[2021-03-02 02:05] JoseRenan commented on #3863
Hi, I have a collective based in Brazil and still getting this option with 15% as the default value:

![image](https://user-images.githubusercontent.com/11728746/109584758-ed740a00-7ae0-11eb-95e5-df364ba724b5.png)

Since all the donations made with this option active will fail, there is any way to hide this option in this case? Maybe instead of the select, show a link to the actual opencollective

[2021-03-02 07:11] KunKaxx opened #4038 "KunKax"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

 O problem

[2021-03-02 07:48] #4038 closed

[2021-03-02 08:15] ArsalaBangash opened #4039 "Feature Spec: Add a field for transaction_date when adding funds"
## User story

As the founder of a start-up open-source organization, I use OpenCollective and its Graphql API to help me stay on top of my accounting.

When I look at my transactions, I only see the date that they were uploaded to open collective and not the date upon which the funds were successfully deposited into my bank account through the Github Sponsors Payout/

<img width="1244" alt="image

[2021-03-02 08:20] Betree commented on #3815
The simplest way to implement would be to add a resolver in https://github.com/opencollective/opencollective-api/blob/87bc58a6a58944974214c39972edabe57f09a685/server/graphql/v2/object/Tier.js#L97 that would return something like:

[code]

[2021-03-02 08:23] #4023 closed

[2021-03-02 09:23] JoyLubega commented on #3853
hey @snitin315  Can I please work on this, as you already have another bounty to work on

[2021-03-02 09:37] snitin315 commented on #3853
Hi @JoyLubega, I have already started working on it.

[2021-03-02 10:57] Betree opened #4040 "GQLV2: should we go back to the provider<>type pattern?"
We started using [simple types](https://github.com/opencollective/opencollective-api/blob/28eaf44caffb285dfa4a58806d3ef33a8c4cfc33/server/graphql/v2/enum/PaymentMethodType.ts#L7) (`GIFT_CARD`, `CREDIT_CARD`, etc) to represent payment methods in GraphQL V2 instead of a service<>type pair like we have in the DB (`opencollective<>giftcard`, `stripe<>creditcard`).

I think the legacy approach (provide

[2021-03-02 11:15] znarf commented on #4040
I used to have a strong opinion on this one and I really wanted to avoid exposing provider/type to developers.

I've now realized it's generating much complexity on our side because it's not the way it works internally.

At this point, I'm good reintroducing provider/type if it's a simplification and if it's more future proof.

[2021-03-02 11:16] snitin315 commented on #3853
yeah, you can work on it @JoyLubega.

[2021-03-02 11:23] JoyLubega commented on #3853
Thank you @snitin315

[2021-03-02 12:09] Betree commented on #3860
As a quick hack, something we can do is to add an optional textarea for these tickets with a description like `If more than one person is participating, please write the list of names below`.

[2021-03-02 12:13] RCheesley commented on #3860
Yes that would work - may not play too nicely with API calls (we need to push ticket purchases over to our event platform) but would allow for a manual cross check at least.

[2021-03-02 12:14] RCheesley commented on #3860
Maybe if we were to specify a format (eg a comma separated list) we could work some magic though, thinking about it.

[2021-03-02 12:55] aminakazi commented on #3607
Production Ready file: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=10353%3A0

[2021-03-02 14:58] #3706 closed

[2021-03-02 15:17] piamancini opened #4041 "[Roadmap] Q1S2"
## Priorities for Q1 Sprint 2

### Virtual Cards

We would like to prototype how we could give Cards to Collectives to spend their budget. We’re considering using the Privacy API because we’re already using the service internally and it seems possible to automatize. Some challenges are:
issuing credit cards from our API, and our interface retrieve the list of transactions from Privacy to invite co

[2021-03-02 15:52] #3684 closed

[2021-03-02 16:06] #4016 closed

[2021-03-02 16:13] Betree commented on #1916
Just a note to say that batching won't be possible with [PayPal recurring](#3986). Given the growth that we've seen with PayPal, we can expect that it will represent a large part of the contributions in the future, which could limit the potential benefits of implementing this issue.

[2021-03-02 16:52] patcon commented on #1916
Given that this pain is felt by administrators of high-volume _donors_, am I understanding correctly that admins could mitigate this paypal deficiency (with proper advice) by just opting to convert contributions into another method? So in practice, it seems like this would mean:
- at platform level, less fees avoided than might be hoped, but
- at individual level (for high-volume donors), fully mi

[2021-03-02 16:54] znarf opened #4042 "Incorrect currency sign in goals"
When looking at goals set in a currency different than dollar, there is a wrong $ currency sign displayed.

<img width="1333" alt="Screenshot 2021-03-02 at 17 52 55" src="https://user-images.githubusercontent.com/806/109684152-48a90980-7b80-11eb-9271-a74188030569.png">

https://opencollective.com/piratpartiet

[2021-03-02 17:14] patcon opened #4043 "Allow hosts to restrict selection of payout/transaction methods by expense submitters"
## User story
_As a host, I can **restrict the selection of payout & transaction methods** so that I can minimize the amount of both (1) documentation and (2) re-submitted expenses -- saving time and delays on both sides._

## Best solution for this problem
A way for a host to set a global restriction on which all collectives under the host, and a way for a collective-specific override. The overri

[2021-03-02 17:42] Betree commented on #4042
It seems that we got rid of currency for `FormattedMoneyAmount` in https://github.com/opencollective/opencollective-frontend/pull/5741/files#diff-17573fe68a5c3799afd3a2ff1583b06309c238b21d70975a5538b0a0bcc2d9acL98, we should add that back

[2021-03-02 20:32] alanna commented on #1916
Will users be able to change payout methods of existing contributions from credit card to paypal once paypal recurring is live?

[2021-03-03 00:00] alanna commented on #4041
This looks good! Do we also want to carve out some time for the team to squash a bunch of small bugs and issues? Such as a three day sprint or something.

I notice many of these do not have their own project issues. I think the project issue template has been working well for us and we should stick with it, and link the project issues here.

[2021-03-03 00:48] SudharakaP commented on #3652
So, I've made the changes so that the platform tip is taken from the host budget as [explained above](https://github.com/opencollective/opencollective/issues/3652#issuecomment-787572929c). Herewith I am attaching a screen-cast. Let me know if this matches the requirement exactly. 😄

Just to reiterate note that here the source is the user `Sudharaka`, the collective that is being funded is `Agora C

[2021-03-03 05:38] Memo-Es opened #4045 "[PROJECT] Improve the accessibility of the platform"
## Background

With the platform's growth so far and considering our plans for the short and long-term future, prioritizing accessibility is crucial for its correct evolution. By enabling more users to use our product, we align our mission of unlocking economic power to more projects and initiatives. It substantially improves the experience of using the platform for normal users across all devices

[2021-03-03 07:51] juergba commented on #3892
A filter to distinguish active backers from inactive ones would be nice.
With a selection variable as eg. `lastTransactionAt > yyyymm`.

[2021-03-03 07:58] znarf opened #4046 "Wrong "Fiscal Host" on Expense page"
On the Expense page, the "Pay from Fiscal Host" might be inaccurate if the Collective switched Hosts after the Expense was paid. This can be a problem when troubleshooting already confusing situations.

<img width="838" alt="Screenshot 2021-03-03 at 08 57 11" src="https://user-images.githubusercontent.com/806/109772749-ab40ea80-7bfe-11eb-9bba-fa5e3a504050.png">

[2021-03-03 08:36] Betree opened #4047 "Changelog: don't include issues with `duplicate` tag"
In https://github.com/opencollective/opencollective-changelog, it looks like we're including closed issues that were tagged as `duplicate`. We should make sure that issues tagged as `duplicate`, `invalid`, `discussion` or `question` are not included there.

It's not required to solve this issue, but a script to clean existing changelog entries could also be nice.

![image](https://user-images.gith

[2021-03-03 08:38] Betree commented on #1916
Maybe not for the MVP release, but that will ultimately be possible yes.

[2021-03-03 09:45] #4047 closed

[2021-03-03 09:47] #4042 closed

[2021-03-03 13:51] kewitz commented on #4040
We should keep `service` and `type` separated if we also plan to structure our code around this abstraction.
Currently true because the payment provider code is structured as `paymentProviders/service/type`.
But this also means that the `type` should be ideally considered only within `paymentProviders` libraries and these libraries should implement the same interface and expose generic functions f

[2021-03-03 13:57] Betree commented on #4040
That was the main intent of the proposal made in #2274. As part of #3986, I'm creating typescript interfaces to define which attributes and methods we can expect from each payment provider/type.

[2021-03-03 16:53] Betree opened #4054 "Explore options to synchronize typings between Typescript and GraphQL"
One of the most challenging places to add types for typescript is in `resolver`'s `args`. Since arguments types are clearly defined in GraphQL, it seems tedious (and a waste of time) to re-write these types for Typescript. Yet, synchronizing these could provide a better developer experience and could help to catch errors.

Here are some of the options that we can explore (feel free to lookup for m

[2021-03-03 20:12] alanna opened #4055 "Platform settlement expense did not trigger email notification"
https://opencollective.com/foundation/expenses/35087

I didn't get an email for this so I had no idea it was there waiting to be approved.

Looks like approval triggers an email notification, but not the initial submission.

[2021-03-03 21:27] alanna opened #4056 "Remove the Host Plan selection settings"
Right now this is how it looks:

![Our Host Plan](https://user-images.githubusercontent.com/5498878/109874075-82d6f000-7cd3-11eb-88d8-79ac7f9d34fd.png)

This is a lot of unneeded complexity and it is confusing for users.

* If a host that used to be on the old pricing switches, they no longer need to see the deprecated old plan info
* There is no difference between the Start plan and the Grow plan

[2021-03-04 04:31] alanna commented on #4010
@znarf @Betree can you take a look at this?

[2021-03-04 07:40] Betree commented on #4010
Looking at it

[2021-03-04 07:57] Betree commented on #4010
So the problem is not with the modal, things are properly recorded in our ledger. It's the value that we display in the transactions list that is incorrect. I'll make an update for that.

Showing the fees for paid expenses has been proposed in https://github.com/opencollective/opencollective/issues/3224, but it wouldn't hurt to also show that in the list - with the same "View details" pattern.

[2021-03-04 10:25] Betree opened #4057 "Experiment with sequelize-typescript"
Defining Sequelize models is verbose. This is even more true with Typescript models, because we need to define the class then use `sequelize.init` to link the attributes to the data model. The class and the model can also go out of sync without us noticing.

[sequelize-typescript](https://github.com/RobinBuschmann/sequelize-typescript) is a popular library that aims to simplify this. It works by a

[2021-03-04 11:41] #4037 closed

[2021-03-04 11:42] #3963 closed

[2021-03-04 12:50] znarf commented on #3917
I just noticed that some changes were made to the copy, leading to even more confusion. See screenshot, we currently have 2 times Platform Fees ...

<img width="1001" alt="Screenshot 2021-03-04 at 13 49 05" src="https://user-images.githubusercontent.com/806/109966365-79a84c00-7cf0-11eb-8942-e671d77251f5.png">

[2021-03-04 12:58] znarf opened #4058 "Expired Cards not handled as expired"
It should not be possible to pick an expired credit card when contributing.

<img width="729" alt="Screenshot 2021-03-04 at 13 57 57" src="https://user-images.githubusercontent.com/806/109967433-b294f080-7cf1-11eb-85f2-546b3889bcb4.png">

In the Contribution Flow, you get an error at next step when proceeding with the payment.

<img width="312" alt="Screenshot 2021-03-04 at 14 00 23" src="https://

[2021-03-04 13:02] znarf opened #4059 "Credit Card input looks broken in Recurring Contributions"
There is not enough space to display the input.

<img width="299" alt="Screenshot 2021-03-04 at 14 01 37" src="https://user-images.githubusercontent.com/806/109967861-3c44be00-7cf2-11eb-9dd5-f407fd08f90a.png">

[2021-03-04 17:32] #3798 closed

[2021-03-04 17:33] Betree commented on #4045
On the engineering side, we also have to work on the metadata (`aria-label`, etc) and alternatives text for images (in particular to improve the experience with screen readers). @SudharakaP introduced a tool in the codebase that will help to enforce good practices in the future.

[2021-03-04 17:55] Relequestual commented on #4016
Super!
Does this also apply if it comes from the action menu? (iirc this issue was because I missed with my mouse intending to pick a different option from the menu)

[2021-03-04 18:40] SudharakaP commented on #4045
Yes, I wasn't sure if this falls part of this project or not, but I am working on the remainder of the accessibility issues reported by that tool here; https://github.com/opencollective/opencollective-frontend/pull/596. Will be done by end of this week. 😄

[2021-03-04 22:16] alanna opened #4060 "Do not allow hosts with >0% host fee to select Start Plan"
If a host does not understand the nuances of the `Start Plan` vs the `Grow Plan` they can very easily choose the wrong one. I have raised #4056 to discuss problems with this page overall, but this is a specific and painful issue I think we should tackle ASAP.

We just had a case where a host unknowingly picked the wrong one, and the effect was deactivating their host fee without telling them, and

[2021-03-04 22:52] alanna commented on #3798
@shannondwray this will need updating in docs

[2021-03-05 04:27] alanna opened #4062 "Bank transfer payments not activated after inputting bank info"
**Describe the bug**
If you create a new Collective, click start accepting contributions, click "add bank account" as part of the setup process, and put in the bank details, the "contribute" options will activate but no payment is actually available. Noticed when helping a new Collective get setup, and then I was able to reproduce myself.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2021-03-05 07:39] Betree commented on #2694
Added `Tries to impersonate another profile` to the report reasons, as we've been confronted with that a couple of times.

[2021-03-05 08:32] Betree opened #4063 "Toast notifications: implement dark theme"
The toast notifications are easy to miss because they have a white background - like most of our pages. An alternative design was initially proposed, and we would like to experiment with it. The toast notification should ideally support both versions (depending on a `variant` prop) to be compliant with the design system (use https://styled-system.com/variants/).

**Preview of the current  toast no

[2021-03-05 08:37] Betree opened #4064 "Publish update confirmation modal: add info about audience"
Followup on https://github.com/opencollective/opencollective/issues/4016

We want to show the notification audience ("Your Update will be sent to x financial contributors") in the confirmation modal displayed when you click "Publish" on an update.

We already have some logic for that in https://github.com/opencollective/opencollective-frontend/blob/3fdd0cd98efcb3a5793e47d86136349b4e695926/componen

[2021-03-05 08:39] Betree commented on #4016
@Relequestual It's only when you click "Publish". We will surface the notification audience in the modal (https://github.com/opencollective/opencollective/issues/4064) to make sure folks have a chance to review it in case they picked the wrong value in the select.

![Peek 2021-03-05 09-34](https://user-images.githubusercontent.com/1556356/110089174-0f49e700-7d96-11eb-99e5-7b9a14731854.gif)

[2021-03-05 09:45] #3883 closed

[2021-03-05 09:46] #4010 closed

[2021-03-05 23:38] SudharakaP commented on #4022
@Betree : This is completed now, let me know if you see any issues as I had to change some parts of the components. 😄

Also just for the information, I noticed that there were some issues in the plugin which I've mentioned; https://github.com/brendanmorrell/eslint-plugin-styled-components-a11y/issues/17 and https://github.com/brendanmorrell/eslint-plugin-styled-components-a11y/issues/16.

[2021-03-06 03:37] SudharakaP commented on #4045
As a side note, I was investigating some accessibility related issues on the site specifically working on the aforementioned PR, and I found that the following extension (which uses [axe-core](https://github.com/dequelabs/axe-core)) might be quite helpful in identifying accessibility issues in our DOM;

https://www.deque.com/axe/browser-extensions/.

For each page it will list accessibility proble

[2021-03-07 04:16] SudharakaP commented on #3999
@Betree : Yes, seems we will have to wait until `styled-components` fix it on their side. So I'll be closing this for now. 🤔

[2021-03-07 04:16] #3999 closed

[2021-03-07 06:54] SudharakaP commented on #4012
@Betree : I've created a pull request where all `<img>` tags are replaced by `next/image`. I later realized that this issue only concerns with the homepage images. 🤔 Is there a reason to only focus on the homepage? If so let me know and I'll adjust the PR. 😄

[2021-03-07 07:55] saideepesh000 commented on #3808
Hey @Betree, documentation and example for `defaultRichTextElements` are kinda unclear, please could you give me an example for this.

[2021-03-08 00:23] alanna commented on #3917
Sorry @znarf that was probably my fault. I will dig into the details and try to create a clear spec for updating this page and fixing the descriptions.

[2021-03-08 00:36] alinamanko opened #4065 "Support Metrics Report February 2021"
### Support Metrics Report February 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/110260777-7bd11a00-8012-11eb-9fef-a301a388e52d.JPG)

The number of tickets received increased slightly (5%) from 443 in January to 4

[2021-03-08 01:29] alanna commented on #3917
@znarf - I have clarified everything on [this spreadsheet](https://docs.google.com/spreadsheets/d/1xSLl9ncsZE1PHCM_W3Nw7eScOuD1EI-xlXUTMTPfmlQ/edit#gid=0).

Just to be sure, this page does not display anything about money host's pay on the old monthly plans based on number of Collectives, right?

[2021-03-08 04:59] SudharakaP commented on #3976
@Betree : If there's no objection, I'll be working on this one. 😄

[2021-03-08 06:20] SudharakaP commented on #3976
@Betree : I've submitted a PR with this fix. Let me know if it looks good. 😄

However analyzing this problem a bit further, there's one problem that remains after this fix; I noticed that as soon as we get rid of the `id` warning we will get the following warning;

`Warning: Prop `className` did not match. Server: "StyledSelect__makeStyledSelect-sc-1mep1m6-0 hUTeyp css-2b097c-container" Client: "S

[2021-03-08 07:54] Betree opened #4066 "Redirect to /contribute when /donate is disabled"
When the default tier is disabled, `/donate` shows a message that is a bit scary and doesn't incentive you to go ahead with your contributions. Users can end up on this link if one was shared publicly in the past (on social networks, website, etc.).

So rather than this message, we should directly redirect to `/contribute`, where they can see all available tiers.

![image](https://user-images.gith

[2021-03-08 09:12] Betree commented on #3808
The example provided in the docs indeed seems unrelated, as it's not using `defaultRichTextElements`. I don't have much more knowledge to share at this point, I haven't used `defaultRichTextElements` yet myself.

The next step is to try to play with the prop, eventually looking at formatjs's sources to have a deeper understanding of how it works, and eventually report issues if it doesn't work. If

[2021-03-08 11:12] Betree commented on #4065
Hopefully, the HelloWorks limit should not be an issue next month

[2021-03-08 13:59] kewitz commented on #3863
@JoseRenan sure! Can you send me your collective URL?

[2021-03-08 14:02] JoseRenan commented on #3863
@kewitz, the collective is https://opencollective.com/opendevufcg

[2021-03-08 18:01] SudharakaP commented on #3675
@Betree : Just to note that now we can [rename the branches to main through the GitHub UI](https://github.com/github/renaming#renaming-existing-branches). However we need to sync this with the updates to all the CI workflows I believe. If there's no objections I'll create some PRs in the coming days for each repo and we can go forward with hit. However I don't have much insight on other impact of

[2021-03-08 18:11] kewitz opened #4067 "Virtual Credit Cards: Attach Receipt to Expense"
## User story
As a collective admin, I can use my virtual credit card to pay for services my collective use.
Due to service provider limitations, as a collective admin, I can easily attach a receipt from a virtual credit card charge so that my fiscal host can legally take ownership of that charge.

## Best solution for this problem
The collective admin can simply use their virtual credit card with

[2021-03-08 19:58] alanna commented on #4067
Please be careful generalising that $25 threshold to all Hosts - that's advice we got for OCF and OSC specifically. We have no idea what the limitations may be for other types of US legal entities or Hosts in other countries. It may very well be that some hosts must have receipts for smaller charges too. So either make this feature restricted to OSC and OCF, make the threshold a host-level setting

[2021-03-08 21:03] Betree commented on #3675
It's a big change, we need a team consensus and to make sure we properly document the impacts before making the switch.

[2021-03-08 21:06] SudharakaP commented on #3675
@Betree : Sure, thanks for letting me know. Should I stop here and wait for team consensus or I can continue and do all the PRs in the next few days, so when it's discussed and if agreed upon we have everything ready? 😄

[2021-03-08 23:31] SudharakaP commented on #3675
@Betree : I've gone ahead and submitted PRs to each repo described above with the changes; so that we are ready if we decide to go forward with this. From the code it seems there's some CircleCI integration which needs to be accounted as well. Anyways, let me know if you need any further help from my end for this. 😄 😄

[2021-03-09 01:22] alinamanko opened #4069 "Ability to edit a pending order"
### Ability to delete a pending order

## User story
A user is looking to make a contribution using the option of bank transfer to a collective which generates a pending order on the system for the amount of the contribution. In some instances, upon making the transfer, a bank transfer fee is deducted, making the net amount transferred slightly lower (normally about $20 difference - depending on t

[2021-03-09 01:44] Memo-Es commented on #3987
I think the expense details modal does add value to the experience of paying expenses without needing to go to each standalone expense page. It also needs some polish, so the feedback presented here is valid and was, in fact, taken into account in some of the iterations we did when designing this component.

I think a couple of improvements would solve the requirements presented here:
- Adding a l

[2021-03-09 16:10] SudharakaP commented on #3675
For the developer local setup, I think the following GitHub instructions covers what needs to be done; https://docs.github.com/en/github/administering-a-repository/renaming-a-branch#updating-a-local-clone-after-a-branch-name-changes. Maybe if we are doing this, we can post these instructions in the discussions some days prior so that most contributors will see what's coming. 😄

[2021-03-09 16:53] Betree commented on #3675
We now have a team agreement on that one. I propose the following plan to move forward:
1. Publish the notice for developers
2. Start migrating the side projects (pdf, taxes, etc), properly testing deployments for each of them
3. Publish a notice on Slack, then migrate frontend and API

[2021-03-09 20:41] Memo-Es commented on #3624
We designed a dedicated page when we did the overhaul of the settings that became the new admin panel.

| Edit/add members page | Create member modal | Edit member modal |
|-----------------------|---------------------|-------------------|
|  ![Large (Desktop)](https://user-images.githubusercontent.com/49539954/110532945-16992980-80e3-11eb-811d-1b347d329d40.png)    |   ![Modal Add Team Member (Des

[2021-03-09 21:39] alanna opened #4070 "Add calendar year and/or date range options to expense period picker"
It would be very useful if I could customise the date range for seeing expenses (and probably other places on the platform if this component is reused). Or if not completely custom, at least to be able to select calendar years.

![Screen Shot 2021-03-10 at 10 37 04 AM](https://user-images.githubusercontent.com/5498878/110541551-c676a180-818c-11eb-959f-0b8c375b2283.png)

Like the date picker we hav

[2021-03-09 21:57] JoseRenan opened #4071 "Ability to try webhook with fake events"
## User story

As a collective admin, I would like to emit fake webhooks events to check if they are configured correctly.

## Best solution for this problem

On Gitlab, you can test webhooks as shown above, selecting an event and the webhook will be emitted with a test message.

![image](https://user-images.githubusercontent.com/11728746/110543549-3b07fc80-8109-11eb-8b1b-39b7365967bc.png)

[2021-03-09 22:39] SudharakaP commented on #2043
@Betree : I can help on this one if this is something we are still interested in. Few things to clarify are;

1) As an initial MVP this is only for the long description in the collective page? Or should we do any other pages too? 😺

2) I have to look into adding a new button to Trix editor but is there a specific design or something that is agreed upon for the button design? 😺

[2021-03-10 05:01] bolariin commented on #3740
@Betree @alanna by "expense notifications" are you referring to all expense related emails that is received by an expense submitter?

[2021-03-10 05:03] alanna commented on #3740
Yes anything related to an expense where they might hit reply to an email
notification.

[2021-03-10 05:04] bolariin commented on #3740
Thanks for clearing that up!

[2021-03-10 08:17] Betree opened #4072 "Contribution flow: Hide interval picker if not available"
When users set up a new collective without Stripe, the contribution flow still offers to pick an interval then shows a "No payment methods available" on the last screen. It's pretty rare to have collectives in this situation because fiscal hosts usually configure a way to receive recurring contributions (Stripe).

Still, getting this message when you test the flow after creating your Collective is

[2021-03-10 08:23] #3949 closed

[2021-03-10 08:36] Betree opened #4073 "Sign webhook events"
*Feature requested in support*

# User story
As an Open Collective account admin, I can verify the authenticity of incoming webhook events to make sure they can be trusted. This is important when relying on webhooks to update some data on a third-party website to make sure it can't be polluted by attackers.

## Best solution for this problem

1. Find a way to generate a hash or encrypted string th

[2021-03-10 12:50] saideepesh000 commented on #4066
@Betree, So this redirect should only be given when `This collective requires you to select a tier to contribute` condition is met, Am I right?, or for every condition on `contributionBLocker.js`

[2021-03-10 13:15] Betree commented on #4066
Correct. We want to redirect only when no tier is selected and `account.settings.disableCustomContributions` is `true`.

[2021-03-10 14:51] znarf commented on #3811
### Some idea.

As part of our pricing update, we will be changing the fee structure of Collectives hosted by the Open Source Collective. This should absolutely not impact your finances.

This is what we're changing:
- Before: 5% Platform Fee / 5% Host Fee
- After: 0% Platform Fee / 10% Host Fee

**Why are we doing this ?**

We're doing this to reflect better how we see the Open Collective platfor

[2021-03-10 18:25] #3815 closed

[2021-03-10 21:13] alanna opened #4074 "Enable Projects for Collectives"
This is part of a bigger conversation about unifying the features for Collectives and Funds, which will involve figuring some stuff out for permissions and ensuring we don't make it all too complex, but I wanted to have an issue for it because I do think we should do it.

The use case I am working on is: I’ve set up different funding goals using tiers in a Collective, and now I need a way to alloc

[2021-03-10 21:20] alanna opened #4075 "Connect Tiers to Projects"
Right now we have a way to define certain uses for money when raising it, via creating a tier. We can create goals and track how much has been contributed for that purpose.

We also have a way to create budgets for specific purposes called Projects (limited to Funds right now but ideally we could enable for Collectives, see #4074), which can have expenses submitted against them.

But there is no w

[2021-03-10 21:32] alanna opened #4076 "Goal progress bar not rendering correctly"
https://opencollective.com/possibilityproject

This Collective has raised $500 of a $100,000 goal, but it's showing as if it's already been achieved.

![Screen Shot 2021-03-11 at 10 30 42 AM](https://user-images.githubusercontent.com/5498878/110700619-099c4780-8255-11eb-862a-dc2b15237776.png)

[2021-03-10 22:18] alanna commented on #3811
This was already announced in the last newsletter

![Screen Shot 2021-03-11 at 11 16 28 AM](https://user-images.githubusercontent.com/5498878/110705460-49fec400-825b-11eb-8afd-4151d0170d3e.png)

But I agree we should communicate more. I propose we post an Update on OSC host page based on the content above right at the time we're about to make the switch. @znarf is the date 100% confirmed? If so I

[2021-03-10 22:34] alanna commented on #3987
Yes, great! If the title links to the expense page so I can open it in a new tab, that solves my problem.

[2021-03-10 22:40] kewitz opened #4077 "Track Settlement status on Transaction level"
**Problem**
When it comes to calculating our revenue and settling pending fees, we have too many assumptions.
We can collect fees/contributions based on host, plan, collective, payment method, and order.
Most of the logic behind this live in our code, these are conditionals that will affect one thing or another when we process an order.
This code is mostly OK but since we don't persist the state o

[2021-03-10 22:41] kewitz commented on #4077
cc @Betree @znarf

[2021-03-11 07:53] znarf commented on #4077
- How do we detect when a transaction move from `INVOICED` to `SETTLED`?
- What's the value of `settlementAmountInHostCurrency`, is it like a kind of `platformFeeInHostCurrency`? Should we try find a better name?
- Can `settlementPolicy` be null? When would we have `PLATFORM_TIP` as a `settlementPolicy`

[2021-03-11 08:22] Betree commented on #4076
That does not appear to be a bug, the collective wrote $100,000 in their description but put $0 in the "Amount" field. I've manually updated the value in the DB.

[2021-03-11 08:22] #4076 closed

[2021-03-11 08:31] znarf commented on #3811
@alanna Thank you. I somehow missed the announcement in the February newsletter.

From my side, we will stick to this schedule, It was delayed for too long now.

[2021-03-11 08:52] znarf opened #4078 "Innacurate total Raised/Disbursed when switching Hosts"
When a Collective switch Hosts, we generally have a transaction to move the balance from one Host to the other.

This is a perfectly valid accounting practice and we will keep it this way.

Unfortunately, the total raised and disbursed are then inflated and misleading.

For example:
https://opencollective.com/xr-kings-lynn-and-west-norfolk

<img width="505" alt="Screenshot 2021-03-11 at 09 52 20"

[2021-03-11 09:40] #3984 closed

[2021-03-11 10:02] Betree commented on #3740
@alanna while testing the PR for this issue, I realized we don't send any email when an expense is rejected. Let me know if I should create an issue for that.

[2021-03-11 11:13] Betree commented on #3347
Test `27-expenses` is failing pretty often:

[code]

[2021-03-11 11:25] #3455 closed

[2021-03-11 11:35] Betree opened #4080 "Expense emails: broken attachments previews"
- In expense approved
- In expense approved for host

![image](https://user-images.githubusercontent.com/1556356/110781270-f9d92f00-8265-11eb-8b11-eefa919102bf.png)

[2021-03-11 11:42] Betree commented on #3976
Let's hope JedWatson/react-select#3590 will be solved in a near future. https://github.com/opencollective/opencollective-frontend/pull/6014 already looks like a good enhancement.

[2021-03-11 12:48] Jeanluis019 commented on #3455
Hi @Betree, what about the bounty? I see this is a bounty candidate

[2021-03-11 13:06] #4080 closed

[2021-03-11 13:07] #3942 closed

[2021-03-11 13:19] Betree commented on #3455
@Jeanluis019 Bounty candidates are issues we are considering for the bounty program, but a bounty is only active when there is ` bounty` tag along with a defined amount. We also post a message on issues that are concerned by bounties to make things explicit. To learn more: https://docs.opencollective.com/help/contributing/development/bounties

[2021-03-11 13:47] kewitz commented on #4077
The settlement expense already stores the ID of all transactions involved in the settlement.
We'll add a conditional for when the expense is paid.

Yes, in the case where we charge a platform fee, the settlement amount should have the same value.
I'm OK with any names, we should just make sure that everything is consistent, if we're persisting a settlement status then we also need to have a settle

[2021-03-11 14:15] Jeanluis019 commented on #3455
@Betree Got it. Thanks for taking the time to explain :D

[2021-03-11 14:43] znarf commented on #4077
It's in a JSON blob right? Could this be more cleanly stored in the model?

"settlement" doesn't mean much. settlement of what? we should find something more descriptive. I'll think about it, but great if you could propose something else.

My original question was "Can `settlementPolicy` be null?" I don't get the use case for `PLATFORM_TIP`.

I actually think this is the tip transaction that shoul

[2021-03-11 15:01] Betree commented on #4077
Looks good to me.

I guess the alternative if we don't want to blotter the `Transactions` table is to use a separate table like `TransactionSettlements` with `TransactionID | SettlementExpenseId | status | policy | amount`. The main benefit that I see in doing something like that is the immutability of the ledger: we're not supposed to update rows in the `Transactions` table (though we stopped res

[2021-03-11 15:14] Betree commented on #3914
Fixed in https://github.com/opencollective/opencollective-frontend/commit/04a6384a4bbad9d31fc63e4407f86183e2578a1d

[2021-03-11 15:14] #3914 closed

[2021-03-11 15:19] Betree commented on #3987
@Memo-Es I don't get how we open the modal with this design, is it just removed in favor of a direct link to the expense page?

[2021-03-11 15:53] Betree commented on #4004
From my tests, the preview and the email are matching correctly. The part that doesn't match is the editor, so it should be resolved by https://github.com/opencollective/opencollective/issues/2839.

<table>
<tr>
	<td>Preview
	<td>Email
    <td>Editor
<tr>
	<td><img src="https://user-images.githubusercontent.com/1556356/110814397-b2fd3080-8289-11eb-8318-e07d77e887a7.png" alt="image">
	<td><img src=

[2021-03-11 16:41] kewitz commented on #4077
@znarf exactly, that info is living in the data of the expense. I like the idea suggested by @Betree of creating a separate table to track this.

I agree settlement is a bit too generic, perhaps we should be more explicit and go for a table called `RevenueSettlements`?

The tricky part about `settlementPolicy` is that we're also not consistent with how we handle these transactions.
Platform tips c

[2021-03-11 16:50] kaylarep commented on #4074
A comment from [a group](https://opencollective.com/solidaridad-inquilina):

[2021-03-11 17:51] Betree commented on #1805
All that's left to do to resolve this issue is:
- Remove all `markdown` columns from the DB
- Remove "editor" from settings

[2021-03-11 20:08] alanna commented on #3740
@Betree - yes please! There should definitely be an email when a expense is rejected.

[2021-03-11 20:31] alanna commented on #4076
@Betree should it be allowed to have a goal amount of $0 like that? I wonder if there are cases where people might want that, but it seems odd.

[2021-03-12 07:50] Betree commented on #2043
1. Yes, for the MVP we should limit this to the collective page.

2. There is no design defined, the button should look like the others in the toolbar. Any video icon from styled-icons would do the job

[2021-03-12 08:48] Betree opened #4081 "Email notification when an expense is rejected"
_As far as I can tell, it looks like this notification was never implemented._

Requirement for https://github.com/opencollective/opencollective/issues/1148

## User story
As an expense submitter, I get a notification email when an expense is rejected to keep track of the process & eventually go back to comment on the expense if I think there's a mistake.

## Best solution for this problem
Should

[2021-03-12 08:50] Betree commented on #3740
Fixed by https://github.com/opencollective/opencollective-api/pull/5677
Opened an issue about rejected expense notification: https://github.com/opencollective/opencollective/issues/4081

:trophy: This issue has been completed by @bolariin

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for a

[2021-03-12 08:50] #3740 closed

[2021-03-12 08:51] Betree commented on #1148
This issue requires https://github.com/opencollective/opencollective/issues/4081, there's currently no notification when an expense is rejected.

[2021-03-12 10:26] Betree commented on #2998
This should go with #4064. We need to display a breakdown like:

The numbers for "direct members" and "member organizations" should consider all roles (ADMIN, BACKER, CONTRIBUTOR, etc).

[2021-03-12 10:37] #2839 closed

[2021-03-12 10:37] #4004 closed

[2021-03-12 10:37] #4028 closed

[2021-03-12 10:44] Betree commented on #2828
Will be partially resolved by https://github.com/opencollective/opencollective/issues/4013. Next step to complete this issue is to set the `description` with `stripHTML(update.sumary)`.

[2021-03-12 11:47] Betree opened #4082 "Collective.getUser should not rely on CreatedByUserId"
In https://github.com/opencollective/opencollective-api/blob/1679d6b30076d10de1a4635a6f86739ac276d992/server/models/Collective.js#L1124, it should be replaced with:

[code]

We must make sure that doing so doesn't break existing code.

[2021-03-12 13:01] #3990 closed

[2021-03-12 13:02] znarf commented on #3572
We now have a better handling of currencies in the balance.

[2021-03-12 13:02] #3572 closed

[2021-03-12 15:24] #2828 closed

[2021-03-12 15:24] #4013 closed

[2021-03-12 16:14] Betree opened #4083 "Skip fetching images in tests"
When running our unit tests, the system tries to fetch images from the mocked collectives. In the tests where we create a lot of profiles (like the ones to test memberships), this creates a significant flood on https://logo.clearbit.com and it surely slows down our tests.

**Expected behavior**
This function should do nothing when running in tests or CI envs.

![image](https://user-images.githubus

[2021-03-12 16:20] #4007 closed

[2021-03-14 10:38] dubzzz commented on #3298
It seems that the problem came back

[2021-03-15 02:01] alanna opened #4084 "Integrate bitcoin payments"
I'm starting this issue to hopefully scope what would be required to integrate bitcoin payments into the checkout flow. We haven't decided to prioritise this, but it would be helpful to understand if it's an easy thing or a hard thing.

OpenNode has [an API and documentation for developers](https://developers.opennode.com/). I reached out to them to try to understand how integration could work, an

[2021-03-15 02:02] alanna commented on #4084
@kewitz I'm in touch with the co-founder CTO and I think he's Brazilian - maybe you two could have a chat about it?

If it's hard, I'm not convinced we should do it, but if it's pretty easy it could be worth it. We've processed >$50k in BTC contributions already, even though most people don't even know it's an option because we don't have a good way to surface it.

[2021-03-15 02:08] SudharakaP commented on #2043
@Betree : I've added support to add attachments. Now this one was a bit tricky as the Trix editor doesn't support [embeds in the usual way](https://github.com/basecamp/trix/issues/120#issuecomment-161064186); I had to add some special functions to solve the editability issues. Anyways let me know how it looks or anything else needs to be done.

One thing to notice is that currently [we allow only

[2021-03-15 02:28] SudharakaP commented on #4072
@Betree : I can give it a try for this one next if there's no objection? 🤔

[2021-03-15 08:22] Betree commented on #3720
:gift: :money_with_wings: A **$300** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted and merged.

Because of its complexity, this issue is reserved to members of https://github.com/orgs/opencollective/teams/recurring-contributors and https://github.com/orgs/opencollective/teams/confirmed-contributors.

:arro

[2021-03-15 08:32] Betree commented on #4014
In https://github.com/opencollective/opencollective-frontend/pull/6041 we've fixed the title and added the post body as a "description" meta, which should enrich a bit this preview.

![image](https://user-images.githubusercontent.com/1556356/111124484-da494b80-8570-11eb-9ee4-b06df53e882b.png)

Now about the image, https://github.com/opencollective/opencollective/issues/2660 sounds like the proper

[2021-03-15 08:33] #3867 closed

[2021-03-15 08:42] robnyman commented on #4014
Thanks for the update! I can see that the post title is in the page title for blog posts now, which is great!
However, if I start a new tweet the issue remains. It just pulls the the name of the Collective.

<img width="582" alt="New-tweet" src="https://user-images.githubusercontent.com/63856/111126060-90f9fb80-8572-11eb-9606-a8c3786588a4.png">

I assume that might be related to Twitter cards or s

[2021-03-15 08:49] Betree commented on #4014
I think that's because of Twitter's cache, I just tried with https://cards-dev.twitter.com/validator with `https://opencollective.com/open-web-docs/updates/introducing-open-web-docs` and it seems to have the proper info (this tool is useful to refresh Twitter's cache).

![image](https://user-images.githubusercontent.com/1556356/111126915-8429d780-8573-11eb-93ca-ab5759810529.png)

[2021-03-15 08:51] robnyman commented on #4014
Interesting!
Ok, I'll wait a day or two to see that the changes propagate out properly
on their side.

Thanks!

On Mon, Mar 15, 2021 at 9:50 AM Benjamin Piouffle ***@***.***>
wrote:

[2021-03-15 09:51] #4081 closed

[2021-03-15 10:37] Betree opened #4085 "Internationalize PDF service (receipts, invoices, gift cards)"
Someone from the community [asked](https://opencollective.freshdesk.com/a/tickets/13797) if it was possible to internationalize invoices/receipts, and proposed to help. While the https://github.com/opencollective/opencollective-pdf project has the base structure to achieve that (it already uses `react-intl`) there are a few steps to complete if we want to fully support internationalization:

1. [

[2021-03-15 13:34] #3675 closed

[2021-03-15 13:35] aminakazi commented on #3652
Production Ready file: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=10518%3A29405

[2021-03-15 13:49] kewitz commented on #4084
@alanna I don't think it is complex to implement this, especially because donations are instantly converted to USD.
This has just been falling out of priority but it still in my personal backlog, I think 50K is enough to justify raising its priority.
Also, accepting crypto would also create a buzz around Open Collective and OSC.

[2021-03-15 14:16] SudharakaP commented on #3652
@aminakazi : Thanks for the design.

Will start working on this. 😄

[2021-03-15 14:42] znarf commented on #4078
Solution implemented, we now need to tag transactions that we want to ignore with `"internal": true`.

[2021-03-15 14:42] #4078 closed

[2021-03-15 16:36] kewitz opened #4086 "Virtual Credit Cards: Add Virtual Credit Card to Collective"
## User story
As a fiscal-host admin, I want to securely share credit card information with a collective so the collective can use their balance to hire services.
As a fiscal-host admin, I want to attach a credit card created on Privacy.com to a collective so we can automatically track the collective expenditure.
As a collective admin that has a virtual credit card, I can securely see the credit c

[2021-03-15 20:07] alanna commented on #4084
@kewitz I think it's a strong enough argument to at least scope this out. I'll connect you with the OpenNode contact in case you want to have a call with him. He seems eager to help out.

[2021-03-15 21:15] alanna opened #4087 "Wise balance on host dashboard doesn't update as you pay expenses"
The purpose of showing the Wise balance (and PayPal balance) on the host dashboard is to know if you have enough funds to process expenses to be paid via those methods. However, I just checked the Wise balance and it said $108.55, then I paid these two expenses (auto via Wise), and the balance still says $108.55. Shouldn't it go down as you pay the expenses?

<img width="1008" alt="Screen Shot 202

[2021-03-15 21:18] alanna opened #4088 "Showing NULL balance in error"
https://opencollective.com/collective/events/an-entangling-wellington-13971425

When I view expenses for this event on the host dashboard, it shows `Balance --.-- NZD`. But the event has a positive balance. The system did let me pay the expenses so it knows the balance isn't actually $0, but it's displaying it as if it were $0.

<img width="970" alt="Screen Shot 2021-03-16 at 10 16 12 AM" src="htt

[2021-03-15 22:20] alanna opened #4089 "Enable flexible frequency interval for custom tiers"
## User story
As a Collective admin, I want to create a tier for a given purpose/goal and allow contributors to decide whether they want to make a one-time or recurring contribution.

## Best solution for this problem
Do not force a tier to be either one-time or recurring, but allow contributions of either type.

I created a new tier and set it to `flexible` for amount, but there's no `flexible` o

[2021-03-15 23:31] ericyoungson commented on #4082
@Betree I'd be interested in taking a stab at this one. Seems like a good way to get oriented to the API.

[2021-03-16 01:26] snitin315 commented on #4089
Duplicate of #3720

Implementation started in https://github.com/opencollective/opencollective-frontend/pull/6047

[2021-03-16 01:43] alanna commented on #4089
MFW I raise a dup of an issue *I myself previous raised* 🤦‍♀️

[2021-03-16 01:43] #4089 closed

[2021-03-16 04:42] alanna commented on #4084
After talking with @piamancini - we can't prioritise this now and we want to take the time to properly look into options before going ahead.

[2021-03-16 08:26] Betree commented on #4089
Before closing duplicates, a good habit is to tag them with `duplicate` or `invalid` to prevent them from being included in https://changelog.opencollective.com.

[2021-03-16 08:31] Betree commented on #4082
@ericyoungson Feel free to get a look if you want to, but it might not be as simple as it sounds. A good understanding of our data model is important and the ability to properly identify the side effects is key to resolve this. There may be numerous places and tests that depend on this legacy behavior.

I would strongly recommend to rather look at issues tagged with [good first issue](https://gith

[2021-03-16 08:43] Betree opened #4090 "Improve reliability of E2E test 39 (recurring contributions)"
The test `test/cypress/integration/39-recurring-contributions.test.js` was disabled because it was failing too often on the Stripe form input. We should improve its stability and re-enable it as it's testing an important feature.

[2021-03-16 08:56] alanna opened #4091 "NZD Host's Wise balance displaying in EUR"
<img width="788" alt="Screen Shot 2021-03-16 at 9 55 29 PM" src="https://user-images.githubusercontent.com/5498878/111282031-6b6c0f80-86a2-11eb-995c-3c683c268a54.png">

[2021-03-16 09:14] robnyman commented on #4014
Now the title thing works for new tweets, it was just a caching issue on their side, apparently! 🎉

[2021-03-16 13:16] Betree opened #4092 "Embed contribution flow: adapt wording for platform tips"
The wording that we currently use for platform tips doesn't work well for the embed flow, where people have no context about what Open Collective is:

![image](https://user-images.githubusercontent.com/1556356/111313868-2378c880-8661-11eb-9fe2-26922b23eeb3.png)

We should change this wording when running in the embed contribution flow. Something like:

Ping @alanna @piamancini @benjam - would love

[2021-03-16 14:26] BenJam commented on #4092
I've been reminding myself about how we pitch open colletive here and

I wonder whether we might tweak this slightly into something that works as a single sentence:

There is a part of me that wonders whether we could tweak the final part to include teh name of the project, if we're passing an ID in the embed? Something like:

[2021-03-16 14:45] Betree commented on #4092
That looks good! Adding the project name in the string is not a problem from the dev side.

The tricky part may be the word "project" since this flow can be used with many different types of initiatives (collectives, events, fiscal hosts, funds, etc). I prefer your second proposal in this regard, but if we feel that "project" is broad enough (we can also use the word "initiative") we can use that.

[2021-03-16 14:52] #3607 closed

[2021-03-16 15:35] Betree commented on #2043
Let's start with these two, we'll add other ones if users request them. For YouTube, the following regex server me well in the past to extract the ID from any YouTube link (works with embed, no-cookie or regular links):
[code]

[2021-03-16 15:43] ericyoungson commented on #4082
@Betree Ok. Thanks for the feedback; I'll keep looking at other issues to take up.

[2021-03-16 16:50] urza commented on #4084
Hi. I strongly suggest you implement bitcoin payments via Lightning Network instead of onchain payments. With Lightning Network you avoid onchain fees and settlement is instant, neither side has to wait for onchain confirmation(s). For small donations like $5, onchain payments are uneconomical and bloat the blockchain unnecessarily. As Ligthning Network adoption grows, it is becoming standard for

[2021-03-16 22:24] SudharakaP commented on #2043
@Betree : Thanks, I did some further investigation and found the following library;

https://github.com/radiovisual/get-video-id

This can handle both YouTube, Vimeo and some other popular service urls (vine, videopress and microsoftstream) if we ever decide to support them. I've integrated this one instead. That way I feel this is more future proof. 😄 If you have any objections to this let me kno

[2021-03-17 07:35] Betree commented on #2043
Since it's only two providers at the moment, I think having two dedicated regexps will do the job fine - I don't see the need for a third party library yet.

Great idea!

[2021-03-17 08:34] Betree commented on #4076
We can eventually enforce some validations, that would prevent similar issues in the future

[2021-03-17 08:48] alanna commented on #4024
@znarf says we could possibly do this via a tier type, e.g. "Bitcoin" or "Stocks" that links to an external process.

[2021-03-17 08:48] Betree commented on #3624
The design looks good! Only one small thing is missing: members are marked as "Pending" until they accept the invitation to join the collective. IMO the simple fix would be to have a section below like "Pending invitations", and display the same cards but with a call to action to remove the invitation.

[2021-03-17 09:35] BenJam commented on #4092
honestly I think that the second is fine and that the third is just a marginal improvement becuase we're keying into the specific cause and saying 'you can support more projects like this one you obvious care about'.

If it isn't too tricky and we have a comprehensive enumeration of the different types we support then inserting the type too would get a 👍  from me. Also 💯  happy with the second opt

[2021-03-17 11:03] znarf commented on #4088
As of today, the balance is effectively zero, so we can't troubleshoot this issue.

[2021-03-17 13:25] Memo-Es commented on #3624
Thank you for your input @Betree I agree, will modify the design to correspond to your idea

[2021-03-17 14:37] #4083 closed

[2021-03-17 15:52] #4067 closed

[2021-03-17 16:54] SudharakaP commented on #2043
@Betree : I've adjusted the PR to include the two regex expressions. Think it looks all good for review now. 😄

[2021-03-17 21:26] alanna opened #4093 "Option to not notify anyone when posting an update"
For host updates, sometimes we want to post small updates and not notify everyone, so it would be great to have a `no one` option alongside `financial contributors` and `Collective admins`.

[2021-03-18 03:32] alanna opened #4094 "Self-hosted Collective unable to delete/archive until resetting fiscal host"
If you have a self-hosted Collective (imagine it with zero balance and no transactions for simplicity) and you go to advanced > delete, it will give you an error saying you must first deactivate as fiscal host. If we want to get away from considering self-hosted Collectives to be fiscal hosts, we should not have this barrier and not call them "fiscal hosts". If they can otherwise delete/archive th

[2021-03-18 13:58] #2998 closed

[2021-03-18 13:58] #4064 closed

[2021-03-18 15:28] Betree opened #4095 "Indexation of user profiles by search engines"
From user feedback:

It's understandable that some users may not want to have their Open Collective profiles popping in their Google results, especially because of the list of transactions where you can see the amounts that a person received through expenses.

I see two ways to resolve this situation:
1. Either we decide that all user profiles should be private and we add `NOINDEX` on all user's p

[2021-03-18 15:39] piamancini commented on #4095
I think it's ok to have users profiles with noindex -- many users are surprised their info shows up in google.
unless there's an argument for keeping them public, I would err on the side of protecting them

[2021-03-18 15:55] Betree commented on #4095
We can start with that, and implement (2) (opt-in) if people ask to have their profiles public

[2021-03-18 22:45] alanna commented on #4095
I agree - be default `noindex` for personal profiles. But what about corporate sponsors like Airbnb or something, who are using us because they want that recognition and exposure?

[2021-03-19 08:20] Betree commented on #4095
If we apply that only to user profiles, sponsors like Airbnb won't be impacted (as long as they're registered as an organization).

[2021-03-19 08:28] znarf commented on #4095
I don't see any Individual complaining that their profile is not indexed. We could always have a setting for this if needed.

However, I see it as yet another step for less openness/transparency. Next time, people will ask us to have their profile or their transactions private by default, be prepared.

[2021-03-19 08:59] #4095 closed

[2021-03-19 13:27] bolariin commented on #3853
@JoyLubega are you still working on this?

[2021-03-19 13:55] Betree opened #4096 "Connect PayPal: automatically create webhook"
In [PayPal setup docs](https://docs.opencollective.com/help/fiscal-hosts/payouts/payouts-with-paypal#paypal-payouts), we ask admins to manually create a webhook to get the notifications redirected to Open Collective, then to copy-paste the webhook ID in their settings. There are a few reasons why this process can be improved:
- Host admins can make mistakes. They can put the wrong URL in there, or

[2021-03-19 15:11] Betree opened #4097 "Budget: links are not using the account's primary color"
See https://opencollective.com/backyourstack#category-BUDGET

![image](https://user-images.githubusercontent.com/1556356/111798102-0bf04880-88ca-11eb-8522-8b901d76d4fa.png)

[2021-03-19 15:25] Betree opened #4098 "Ability to set a featured image on updates"
*Adapted from user request in https://github.com/opencollective/opencollective/issues/4014*
*Related to https://github.com/opencollective/opencollective/issues/2660*

## User story
As an admin publishing an update, I want to be able to select the image that will be used when I share the article on social media.

## Best solution for this problem
The way https://medium.com resolves this issue is by

[2021-03-19 15:27] Betree commented on #4014
@robnyman I've just opened another issue to propose a different way to resolve this issue: https://github.com/opencollective/opencollective/issues/4098

[2021-03-19 15:27] JoyLubega commented on #3853
Yes.. I am.. raising the fix tomorrow morning.. I had got some challenges
but now am good

On Fri, 19 Mar 2021, 4:28 pm Bolarinwa Balogun, ***@***.***>
wrote:

[2021-03-19 15:32] robnyman commented on #4098
What will happen if there are no images in the post?
Since default logo/header images likely won't be in an ideal format.

[2021-03-19 15:32] robnyman commented on #4014
Thanks for the update!

On Fri, Mar 19, 2021 at 4:27 PM Benjamin Piouffle ***@***.***>
wrote:

[2021-03-19 15:38] Betree commented on #4098
We can add the collective background image in there. Adding the option to upload a custom file would be pretty straightforward too.

[2021-03-19 15:39] robnyman commented on #4098
Ok, cool. Thanks!

On Fri, Mar 19, 2021 at 4:38 PM Benjamin Piouffle ***@***.***>
wrote:

[2021-03-19 20:28] kewitz commented on #4096
Definitely an improvement, @Betree!
I thought about doing that for TransferWise, but I didn't implement the creation of webhooks because I refactored to use TransferWise to use OAuth and in the OAuth schema, the Application itself has a single webhook to receive events.

[2021-03-20 07:38] znarf commented on #3913
Closing because it seems it was addressed by Kate.

If that's not the case,  let's track this in another issue because this one started to be a bit confusing.

[2021-03-20 07:38] #3913 closed

[2021-03-20 11:10] Betree opened #4099 "Expense attachments icons are not respecting their container size on Firefox mobile"
On mobile:
![IMG_20210320_121017.jpg](https://user-images.githubusercontent.com/1556356/111867581-4105a500-8975-11eb-9790-8582f2a06551.jpg)

See https://opencollective.com/captainfact_io/expenses/35329

[2021-03-20 14:59] znarf commented on #3967
Internally, we're naming all payout methods that are facilitated by Wise/Transferwise "Wire Transfer".

It's not really legacy, it's more that we don't have a clear understanding of what is a "Wire Transfer" and what's not. It's also valid for the "Bank Transfer" term.

If we could settle on some clear definitions first, we could then try to improve the copy.

[2021-03-20 18:03] patcon commented on #3967
Ok! Maybe I could expand the scope of this issue to creating some mappings?

Seeing the options that can come back for `payOut` are:

It sounds like you're saying you like "Wire transfer" more by default, right? If so, perhaps:

- BANK_TRANSFER => "Wire Transfer"
- SWIFT => "SWIFT Payment [Order]" ([source](https://howtoexportimport.com/Difference-between-Swift-and-wire-transfer-434.aspx#:~:text=W

[2021-03-20 23:54] alanna opened #4100 "Make ReplyTo address for bank transfer notification the payer not OC"
When someone makes a bank transfer contribution, the host admin gets this email. If they hit reply, it goes to info@opencollective.com since that's the address the notification comes from. But if a host admin hits reply on this, they want to reach the payer, so the replyto address should be the contributor.

<img width="768" alt="Screen Shot 2021-03-21 at 1 07 06 PM" src="https://user-images.githu

[2021-03-21 04:34] sidverma32 commented on #4063
I would like to pick this up, can you guide me as it's my first open source task @Betree .

[2021-03-21 22:57] alanna commented on #4060
I'm trying to scope this in a simple and specific way, so hopefully it can be done soon or maybe be a bounty. I think we're likely to get more messy situations if we don't fix this.

If a host has a >0% host fee and they try to select the Start plan, it does not allow it and an error pops up saying:

[2021-03-22 07:14] znarf commented on #3853
@JoyLubega we would love to see this fixed. please have an acceptable fix shared today or we will have to give it to someone else.

[2021-03-22 08:52] Betree opened #4101 "User interface for connected collectives"
## User story
We've been supporting the "Connected collectives" feature for some time now. The amount of maintenance is pretty low, and it's a quick solution that's pretty handy to solve a variety of problems. The only burden right now is that we have to [create them ourselves](https://docs.opencollective.com/help/collectives/connectedcollectives). While this is not super time consuming (we usuall

[2021-03-22 09:26] #4097 closed

[2021-03-22 10:16] Betree opened #4102 "Broken Vercel pre-deploys"
See https://opencollective-frontend-2hmsmuofa-opencollective.vercel.app/

Looking at [the history](https://github.com/opencollective/opencollective-frontend/commits/main?after=02595bdbb2d17f18326f52e3d7f7439e0d37c200+209&branch=main), it started being buggy around https://github.com/opencollective/opencollective-frontend/pull/5971 but [reverting](https://github.com/opencollective/opencollective-fr

[2021-03-22 10:16] BenJam commented on #4101
Out of interest how many collected connectives do we have at the moment? Have we seen this grow over 2020 compared to previous years, do we forsee thsi rate increasing now becuase of the types of collectives we see coming on?

I fully appreciate that answering these questsions should be my job, but I'm still fresh and am taking a punt that you might have this info avaiaible @Betree 😅

[2021-03-22 10:22] Betree opened #4103 "Expense paid email: crowded buttons"
**Describe the bug**

We should add some margin between the buttons.

![IMG_20210322_112019.jpg](https://user-images.githubusercontent.com/1556356/111975300-bb166500-8b00-11eb-9397-0e77bbeeec05.jpg)

[2021-03-22 10:44] Betree commented on #4101
We have almost 200 connections. It's pretty stable overall, the big peak at the beginning is because we moved the previous system ("child collectives") to this. See https://opencollective-metabase.herokuapp.com/question/201.

Idk if that's something that will be increasing in 2021, but one of the biggest barriers to adoption is the fact that it's only surfaced in a small section of the docs.

![im

[2021-03-22 10:46] Betree commented on #4102
Interesting error when trying to view a collective page:

![image](https://user-images.githubusercontent.com/1556356/111978545-4c3b0b00-8b04-11eb-9395-b662d58560bf.png)

[2021-03-22 11:15] Betree commented on #4063
Hi @sidverma32, the design to implement is linked in the issue. The related component is `components/Toast.js`, the easiest way to test it is to add a `addToast({ message: 'Test' });` on any page. Steps to setup the frontend are documented in [the Readme](https://github.com/opencollective/opencollective-frontend).

[2021-03-22 11:27] #4102 closed

[2021-03-22 12:28] Betree opened #4104 "Double notification about paid expense"
**Describe the bug**

We are sending double notifications (/ emails) for expenses:
- Paid with Transferwise - still investigating
- [Paid with legacy PayPal](https://opencollective.com/captainfact_io/expenses/35329) (not payout) - likely introduced in https://github.com/opencollective/opencollective-api/pull/5745 but we have a few occurrences before that

Payments are **not** duplicated, it's only

[2021-03-22 12:46] ersachin3112 commented on #3853
Hi @znarf can I work on this ?

[2021-03-22 13:00] #3965 closed

[2021-03-22 13:00] #4008 closed

[2021-03-22 13:11] znarf commented on #3853
@ersachin3112 Sorry, it seems @bolariin wanted to work on it first.

@bolariin For you, if you wish.

[2021-03-22 15:08] znarf opened #4105 "Tracking of already shared Host Fees"
### Problem

For Host on the new pricing with Host Fee share activated, we're adding on a monthly basis "Host Fees February 2021". Unfortunately, we're not removing yet the part that is already shared with Open Collective through Stripe.

### Solution

- [ ] We need to add a new transaction "Host Fees already shared with Open Collective (Stripe) in February 2021".
- [x] We also need to add missing

[2021-03-22 15:13] znarf opened #4106 "Host Fee Share Percent for Foundation"
### Problem

Foundation is working with Platform Tips for Credit Cards and PayPal. As part of their custom plan, the host fee is 5% and we don't want to  have it shared following `hostFeeSharePercent`.

## Solution

We need to  implement custom settings `credidCardHostFeeSharePercent` and `paypalHostFeeSharePercent` and set them to `0` for the Foundation host.

## Todo

- [x] support `credidCardHo

[2021-03-22 15:21] znarf opened #4107 "Platform Tip Share of Payment Processor Fees"
### Problem

For transactions with Platform Tips, we introduced the notion of share of Payment Processor Fees.

Unfortunately:
- for third party Hosts, the Payment Processor fee is not gonna match what is reported on Stripe
- for most Hosts we don't have the opportunity to invoice it back, because there is no settlement invoice

### Solution

For now, it seems it's more future proof to remove this

[2021-03-22 19:02] Memo-Es commented on #3987
I showed this alternative version in last Friday's demo:

In this version, we added the complete info with each expense, including **attachments and comments.** Featuring also a new edition mode to allow inline editing in the modal. This way, a host has the complete management capabilities available without breaking the flow. Allowing, however, a direct link to open the standalone expense page if

[2021-03-22 19:49] Memo-Es commented on #3783
Thank you, @Poopooracoocoo, for reporting this issue!

We are adding a new behavior for horizontal scrolling:

![horizontal-scroll](https://user-images.githubusercontent.com/49539954/112049381-279b5f00-8b15-11eb-9080-1731be29b555.gif)

@Betree WDYT?

[2021-03-22 21:16] alanna commented on #3987
OK this is a good solution, if the implementation is feasible.

[2021-03-22 21:19] alanna commented on #4107
I have noticed the `refunding processor fees on tips` transactions and I agree that's confusing and most hosts won't really understand what's going on. What would a simpler model be like? OC just covers the processing fees?

[2021-03-22 21:21] alanna commented on #4106
Let's talk about this in our meeting on Wednesday. The exceptional setup for OCF came about because of all the experimentation we were doing. Now we've clarified how platform tips and fees will work for all the other hosts, and it could be worth it to discuss if OCF should actually be treated as such an exception, or should just go on a much simpler option of the regular host plan with a 50% rev s

[2021-03-22 22:11] alanna commented on #4101
@BenJam I'm not sure the stats we have are indicative of true user uptake because this feature isn't surfaced anywhere and the vast majority don't even know it exists.

Personally I think Connected Collectives are powerful and people would use them a lot more if we gave them the ability.

[2021-03-22 23:39] kewitz commented on #4105
@znarf I was investigating the worker and notice we were in fact deducting the host fees already collected through Stripe.
I'm refactoring the code to do that in a separate transaction to be explicit.

[2021-03-23 00:37] alanna opened #4109 "A way to have the Collective to contribute to itself"
There are lots of cases where a Collective needs to contribute money from the Collective itself.

For example I'm helping onboard a new one where they have $3,000 previously raised by the community to transfer in from a bank account. Then they also have $200 in cash from event ticket door sales, so someone will transfer $200 from their bank account and keep the cash. In both cases, it's not really

[2021-03-23 00:38] alanna commented on #4109
I didn't know what the heck to call this issue, sorry. Hope it's clear.

[2021-03-23 01:12] alanna opened #4110 "Reveal host fee % even if host is not open to applications"
Currently if a host is not accepting applications, we don't show their host fee or their terms. Is there a reason for this? For transparency and also to serve the people who are in that community I think we should show it.

![Screen Shot 2021-03-23 at 2 11 19 PM](https://user-images.githubusercontent.com/5498878/112077594-ba093480-8be1-11eb-9b59-9fc22d507676.png)

vs

![Screen Shot 2021-03-23 at 2

[2021-03-23 07:54] Betree commented on #4110
It seems that this was implemented like that initially, but I can't find any good reason for this. Will update

[2021-03-23 08:09] znarf commented on #4110
Make sense to check `isHost` instead of `canApply`.

I think we might have wanted to avoid displaying TOS (terms of fiscal sponsorship) if the host was not open to applications.

Also, we need to make sure that it's not displayed for Self Hosted Collectives.

[2021-03-23 08:13] Betree commented on #4110
According to @alanna's description above, we should display the TOS. I also think that if any hosted collective wants to check them it's a good thing to have them accessible.

[2021-03-23 08:17] znarf commented on #4110
@Betree ok!

[2021-03-23 08:37] #3853 closed

[2021-03-23 08:38] Betree commented on #3853
:trophy: This issue has been completed by @bolariin

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-03-23 08:57] #4104 closed

[2021-03-23 10:19] Betree commented on #3873
Done

[2021-03-23 10:19] #3873 closed

[2021-03-23 15:30] SudharakaP opened #4111 "Inconsistency in the Add Funds Modal"
**Describe the bug**

I think there's an inconsistency in the Add Funds modal in the collective page and in the transaction/expenses pages. For example the collective home page the Add funds modal looks like this,

![Screenshot_2021-03-23 Agora Collective - New - Open Collective](https://user-images.githubusercontent.com/12435965/112172156-b493f600-8bb1-11eb-83cf-bee82c7d08b4.png)

Whereas in the

[2021-03-23 17:38] Memo-Es commented on #3912
Closing this as it's live in production https://opencollective.com/pricing

[2021-03-23 17:38] #3912 closed

[2021-03-23 17:56] Memo-Es commented on #4109
I think this feature should be called 'Self added funds for Collectives' and should not be using the contribution flow, but rather the add funds modal we just updated in #3652 @alanna

[2021-03-23 18:04] Memo-Es commented on #4109
Yeah, that's right, I just don't think that money should be displayed as a contribution from the Collective itself

[2021-03-23 20:04] alanna commented on #4109
The difference between this and a host adding funds is that a Collective adding funds still requires the money to be actually moved, while a host adding funds implies it's already there. The Collective admin has to either pay with a credit card or bank transfer, and the host still has to validate the money arrives for a bank transfer. So it is a contribution.

The purpose is to display the contrib

[2021-03-23 20:15] Memo-Es opened #4113 "'Paying an expense experience' (HOSTS) - Redesign"
## Background
An important part of the expenses development has been the feature set for admins to pay expenses, either through the Collective's expenses list or via the host dashboard. Thanks to #3987 and the current accessibility project #4045, we dedicated a couple of days to redesign this experience considering the feedback we've received from host users.

## Updates description
- Focus state

[2021-03-23 20:16] Memo-Es commented on #3987
Closing this issue in favor of #4113

[2021-03-23 20:16] #3987 closed

[2021-03-23 20:35] kewitz commented on #4087
This is already true and I was able to successfully test this on staging.
The problem is, in real-world applications Wise can take a little bit longer to validate the transaction and subtract the amount from the balance.
I refactored the balance resolver to consider the amount reserved in your Wise account, this should take care of the issue in production.

[2021-03-23 21:31] alanna commented on #4113
Related: #3865 #3752

[2021-03-23 21:56] kewitz commented on #4091
@alanna is this an intermittent bug? I notice the screenshot on the other bug-report displays NZD.

[2021-03-23 22:37] alanna commented on #4091
Yeah it has disappeared now. Weird.

[2021-03-24 08:13] #3439 closed

[2021-03-24 08:28] Betree commented on #3439
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-03-24 09:00] Betree opened #4114 "Contribute button SVG spacing issues"
See https://opencollective.com/static/images/buttons/contribute-button-blue.svg

This bug impacts only widgets.

![image](https://user-images.githubusercontent.com/1556356/112282686-9b5d7900-8c87-11eb-9af4-e4ae8e98ca97.png)

[2021-03-24 09:53] Betree commented on #4096
Because the `PAYMENT.SALE.COMPLETED` webhook event doesn't contain much info (no subscription ID, no order ID, etc) we have to fetch more data to be able to record the transaction. But we need to know which host the notification is for to fetch this additional data (because we need to use its connected account).

The only solution to achieve this is to have a webhook route like `/webhooks/paypal/:

[2021-03-24 12:55] #4087 closed

[2021-03-24 12:55] kewitz commented on #4091
@alanna the requested behavior is already implemented and this can be caused by issues on Wise's API.
I'll close this for now but I would be curious to know if this ever happens again.

[2021-03-24 12:55] #4091 closed

[2021-03-24 14:00] BenJam commented on #4101
okay it sounds like someone (happy for this to be me) needs to dive into documenting (and announcing) this maybe before we make improvements? kinda like a smoke test to determine user need?

[2021-03-24 14:14] natehn opened #4115 "Update OCF docs links in application flow"
**Describe the bug**
The links to the OCF documentation in the OCF application flow are outdated as of last week.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/foundation/apply/intro'
2. Click on the hyperlinked items
3. Info Guide leads to an incorrect page, while the others leading to the terms don't go to the most updated URL.

**Expected behavior**
The

[2021-03-24 14:45] Betree commented on #4101
@BenJam maybe you saw it already, but just in case we started documenting the feature on https://docs.opencollective.com/help/collectives/connectedcollectives

[2021-03-24 14:56] BenJam commented on #4109
It kinda seems like we're talking about the platform mirroring the movement of money rather than maintaining a balance, and that feels like the right focus, but what about the framing? the docs says:

and, to me at least, that's also the use case we have here. So maybe we use the same langauge but support and track the movement of money correctly?

[2021-03-24 14:57] BenJam commented on #4109
I took some liberties with command console 😅

![Screenshot 2021-03-24 at 14 19 53](https://user-images.githubusercontent.com/158833/112325973-091b9c00-8cac-11eb-85e3-445db65f2136.png)

![adeddfunds](https://user-images.githubusercontent.com/158833/112331536-e6d84d00-8cb0-11eb-90b5-e8fcb908024c.png)

[2021-03-24 15:01] benhylau opened #4116 "Cannot checkout $0 event ticket"
**Describe the bug**
Unable to check out a $0 event ticket.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/compost/events/compost-issue-01-release-party-ecbefdad/order/26664
2. Click on 'Your info'
3. Click on 'Make contribution'
4. See error

**Expected behavior**
Should work like other paid tickets.

**Screenshots**
<img width="988" alt="Screen Shot 2021-0

[2021-03-24 15:06] znarf commented on #4106
Based on this morning discussion, we're moving forward with the original plan. Specs are up to date.

[2021-03-24 17:25] SudharakaP opened #4117 "Exclude E2E Tests from Running for i18n/crowdin branch"
**Describe the bug**

I am wondering if it would be okay to exclude running E2E tests from the `i18n/crowdin` branch. Because whenever the robot pushes it's commits I see that all the other CI tests starts queuing up and we have to wait until the robot CI stuff finishes. 🤔

**Screenshots**

![image](https://user-images.githubusercontent.com/12435965/112355675-1f653000-8c8b-11eb-8012-15879aacf6b7.p

[2021-03-24 20:06] Memo-Es commented on #2920
All of the issues presented here have been addressed in the new Collective page design update

CC @Betree

[2021-03-24 20:06] #2920 closed

[2021-03-24 20:22] Memo-Es opened #4118 "Fiscal hosting as a service landing page"
## Background
When onboarding new projects, hosts usually need to send people interested resources and documentation explaining what a fiscal host is and how fiscal hosting can help those projects. This is usually hard because they have to spend time looking for the right references or having calls to explain all about fiscal hosting.

We want hosts to have a branded tool they can send to their pr

[2021-03-24 20:50] geertjanw opened #4119 "Change individual to organization?"
Hello,

I made a mistake in setting up this account:

https://opencollective.com/azul

It is an individual account and should have been used as the basis of creating an organization account.

Via the individual account, a bounty donation was made to sdkman.io.

However, as can be seen at sdkman.io, the donation is listed as an individual and not as an organization.

Can something be done to please

[2021-03-24 20:59] SudharakaP commented on #4118
Small suggestion I was thinking; this page gives the idea that one has to join an existing fiscal host. There's a link near the end of the page `Become a fiscal host` and I thought it can become a bit confusing to a newcomer as all the content above it doesn't mention about becoming your own fiscal host; the language implies that one has to join an existing fiscal host. I would suggest adding that

[2021-03-24 21:49] #4119 closed

[2021-03-24 21:56] alanna commented on #4101
@BenJam those are good ideas, but I'm really wondering if the work of doing those things is much less than just implementing a feature for users to actually connect the Collectives themselves?

One super cheap step is to mention Connected Collectives in the newsletter and see if we get any bites. Another cheap thing to look at would be to scan Collectives' About sections to find links to other Col

[2021-03-24 22:03] alanna commented on #4109
@BenJam it's a similar concept but not the same. That link to the docs refers to a feature for *Hosts* to correctly mirror amounts on the platform to match realities in their bank account without actually moving money anywhere. This issue is about *Collectives* adding money to their own budget, and moving the money to back that credit to the Host's bank account.

Maybe that's what you meant alread

[2021-03-25 02:55] patcon commented on #4118
This looks rad! I feel that this would be useful, but also, there's maybe some friction about the idea of trying to grow a host to sustainability, but then sending prospects to a page that might lose people to other bigger hosts. Would it be possible to use a querystring in the url to create a bigger call-to-action for our own host?

Also, it might be nice to use query strings to "hide" certain se

[2021-03-25 08:07] #4116 closed

[2021-03-25 08:09] Betree commented on #4116
Hi @benhylau, thanks for reporting this issue - there was indeed a bug. We've merged a fix that will be deployed in the next few hours.

[2021-03-25 08:16] Betree commented on #4117
Definitely. There's a small test for internationalization in cypress (`test/cypress/integration/00-i18n.test.js`), but since we're not supposed to make important changes in that branch it's not crucial to run it. And the fact that Crowdin pushes one commit per language makes this too floody now that we are supporting 10+.

[2021-03-25 08:39] #4103 closed

[2021-03-25 09:14] Betree commented on #3787
@DhairyaBahl are you still working on this?

[2021-03-25 09:51] DhairyaBahl commented on #3787
@Betree Sorry, I was not working on this. I can start working on this or I can unassign myself. What should I do ?

Sorry for inconvenience.

[2021-03-25 10:19] Betree commented on #3787
@DhairyaBahl If you're willing to work on this feel free to do so, but if you don't have the bandwidth to do it now it's better to unassign yourself so that someone else can work on this issue. You can always pick another one later when you'll have more time :slightly_smiling_face:

[2021-03-25 10:21] Betree commented on #3787
Note on the specs: @znarf is [currently implementing](https://github.com/opencollective/opencollective-frontend/pull/6101) a "Root actions" page for collectives to group all the root admin actions (eg. ban account). We probably want to implement the "Merge accounts" button on that page.

[2021-03-25 12:06] Betree opened #4121 "Optimize contributors query for mid-size collectives"
While https://github.com/opencollective/opencollective-api/pull/5723 solved the timeout issue on the contributors query for https://opencollective.com/opencollective, it seems that it degraded performances for some smaller collectives.

The results I was getting with the query implemented in https://github.com/opencollective/opencollective-api/pull/5723:
- AnkiDroid #169957 = 1437 members, 1775 tr

[2021-03-25 16:37] Betree opened #4122 "Enable Updates for events"
*Initially requested in https://opencollective.slack.com/archives/C6JTTA4SK/p1616685578010200*

## User story

## MVP

Have updates enabled for events. Since we already have that for projects, it's just a matter of switching a flag.

[2021-03-25 17:15] bolariin commented on #3895
@alanna @Betree It looks like this might have already been addressed. Looking at the code, it looks like the collective name is used as the email recipient so it's `Hi {collective.name}`. https://github.com/opencollective/opencollective-api/blob/b8641a1facc4ea048bd8410bc5ebd126749e0bfe/templates/emails/collective.comment.created.hbs#L29

[2021-03-25 17:18] Betree commented on #4122
We could eventually replace the email redirect used today to achieve that

[2021-03-26 09:12] Betree commented on #3347
Another one failing very often for me:
[code]

[2021-03-26 09:19] znarf commented on #3927
@shannondwray the new pricing page is live: https://opencollective.com/pricing

[2021-03-26 09:21] Betree commented on #3895
@alanna @bolariin is right, the name of the collective is mentioned in this email. In the screenshot you shared, `Hi Known`, "Known" is actually the name of your collective (https://opencollective.com/known).

[2021-03-26 09:28] znarf opened #4124 "[PROJECT] Ledger Refactoring"
## Owners

@Betree @znarf

## Overview

There is currently a few questions that are not easily answered with the structure of the ledger.

What is Open Collective revenue?
 - How much in Host Revenue Share to date?
 - How much in Host Revenue Share pending payment from the host?
 - How much in Platform Tips and Fees pending payment from the host?

What are the Fiscal Host owing to Open Collective

[2021-03-26 10:27] puzrin opened #4125 "Static widgets for github readme"
## User story

OC nice widget with bakers/sponsors https://docs.opencollective.com/help/collectives/widgets. Unfortunately it's available via JS only, and can not be used in github readme.

## Best solution for this problem

Make widget available by URL as image (SVG would be ideal). That will solve 2 issues:

- easy widget add to github progects
- info update with fresh data, without need to chan

[2021-03-26 17:13] uchar opened #4126 "Can not clone opencollective-pdf on windows"
**Describe the bug**

Some folders in opencollective-pdf contain windows special character ( : ), which cause errors when trying to clone them on windows

**To Reproduce**
1. In windows use this command :
``` git clone https://github.com/uchar/opencollective-pdf.git .```
2. This would generate an error :
[code]

**Expected behavior**
Running code on windows should work fine, this issue can fix by

[2021-03-26 18:46] SudharakaP commented on #4126
@uchar: My understanding is that for most development people use Linux based systems and we don't test the build on Windows machines. I've used Windows in the past for development and had numerous problems like this unfortunately. For this issue, if we were to remove this kinda thing just to support Windows, it will be hard as we will probably be giving up on many NextJS features; https://nextjs.o

[2021-03-26 23:02] alanna commented on #4123
OK! That's fine. We can just use the documentation tag to track them in the main repo.

[2021-03-27 08:07] darkdragon-001 opened #4127 "Allow fiscal hosts to distribute funds to their collectives"
## User story
As donator, I can send a bank transfer to a collective so that I have full overview/power of my financial activities in my bank account.

## Best solution for this problem
Transfer money to fiscal host's bank account with collective id as subject string.
Furthermore, it would be good if the bank details can be displayed on the collective's overview page somewhere or in the _create do

[2021-03-27 08:10] darkdragon-001 commented on #3653
I would like to stress that it is important that one can send funds between collectives of _different_ fiscal hosts.

[2021-03-27 10:19] DhairyaBahl commented on #3787
@Betree I am sorry but unfortunately I won't be able to give time to this issue for next few days. So its better that I unassign myself from this. Sorry again to keep you guys hanging. I will start with some good-first-issues later . Hope you guys don't mind.

Sorry For Inconvenience
Thanks and regards

[2021-03-27 17:57] patcon commented on #2971
Just a small note that I find that sub-collective's events showing prominently on host page to be a bit confusing 🙏

Example: https://opencollective.com/hyphacoopinc#category-CONTRIBUTIONS

It used to be that the "host page" by default had a pretty clear list of our hosted collectives. This would strike me as the main interest of someone visiting our host page. But now, once a collective has creat

[2021-03-27 20:35] alanna opened #4128 "Change default filtering from 'All Contributions' to 'Hosted Collectives' on Host pages"
A major function of a Fiscal Host page is to show what kind of groups they host and the Collectives under their umbrella. Right now hosted Collectives show up under "All Contributions" combined with Events and Collectives the Host org has financially contributed to, and it's cluttered and confusing. I think an easy fix for this would just be for the list to default to the "Hosted Collectives" filt

[2021-03-27 20:36] alanna commented on #2971
@patcon I agree - I raised #4128

[2021-03-27 22:30] patcon commented on #4128
This 100% addresses my concern. Thanks @alanna!

[2021-03-28 20:50] alanna opened #4129 "[discussion] Should we prioritise improving events?"
This is a discussion intended to feed into the next quarterly roadmap conversation.

Events is something we only ever implemented a basic version of and haven't had capacity to improve. But it's a feature that's used a lot and appreciated a lot by users. There is basically no one else combining events functionality with any of the stuff we offer: transparent budget, expenses against the event, fis

[2021-03-28 22:05] alanna opened #4130 "View Events linking to the contribution flow"
**Describe the bug**
If you go to a Collective page's Events section and click `View All Events` it just dumps you in the generic contribution flow, instead of showing you a page about Events. The same thing happens if you go to https://opencollective.com/slug/events.

**Expected behavior**
Either a dedicated Events page similar to the Updates page, where you can see past Events and create new one

[2021-03-29 07:04] Betree commented on #2081
That sounds like something that should be possible. Why can't we?

Overall, I strongly agree with https://github.com/opencollective/opencollective/issues/2081#issuecomment-499459235. There are many bugs that we need to solve with events, but I don't think that revamping their underlying structure is an easy solution to solve them, and it will probably introduce new challenges. Event's issues do no

[2021-03-29 07:12] Betree commented on #4130
The button doesn't exactly redirect to the contribution flow but to the contribute page (ie. https://staging.opencollective.com/captainfact_io/contribute) where we show all tiers and all events. You're right that https://staging.opencollective.com/captainfact_io/events does redirects to the contribution flow (it acts as `/donate`), that's a problem.

Here's a proposal for an easy fix:
- [ ] Link `

[2021-03-29 07:16] Betree commented on #3788
Marking this one as `important` as it has a massive cost

[2021-03-29 07:16] Betree commented on #4128
Related: https://github.com/opencollective/opencollective/issues/3788

[2021-03-29 07:21] Betree commented on #4130
These specs are actually part of https://github.com/opencollective/opencollective/issues/3835

[2021-03-29 07:35] Betree commented on #4129
I agree that we have many low-hanging fruits for events. Dedicating a day or two to work on them could greatly benefit users.

I've updated https://github.com/opencollective/opencollective/projects/29 to add all the event's issues that I found. A good way to prioritize this as a project would be to list what we want to achieve, to have a clear estimate of how long it will take. I suggest that we m

[2021-03-29 07:55] Betree opened #4131 "Events: remove "Send emails" feature"
*As discussed in https://opencollective.slack.com/archives/C6JTTA4SK/p1616685578010200*

In the collective page > [sponsors section](https://github.com/opencollective/opencollective-frontend/blob/3ba29f5f93be05a2209cdd47ff5c8c6a70a7a0ff/components/collective-page/sections/SponsorsAndParticipants.js#L107), there is currently a "Send email" link for admins that has a mailto like `${event.slug}@${eve

[2021-03-29 08:14] Betree commented on #4124
This proposal seems pretty mature. I like the fact that we're recording this as a separate transaction, making sure that we can compute the balances with a simple `SUM` is a very nice goal that should simplify many things. It should also not be too difficult to implement this as a non-breaking change for the frontend, for example the `transaction.hostFee` resolver could be something as simple as `

[2021-03-29 09:01] Betree commented on #4126
It seems that this was [discussed](https://github.com/vercel/next.js/issues/7607#issuecomment-503485919) at the time, and according to https://nextjs.org/docs/routing/introduction we don't have to use `:` for route parameters. So feel free to update the routes with `[:uuid]` -> `[uuid]` @uchar. @SudharakaP is right that we rarely test projects on Windows so we can only provide limited support. We

[2021-03-29 09:49] BenJam commented on #4129
I would just like to say that I am :100: for issues like this re. roadmapping and planning as much as features and development. Thank you.

[2021-03-29 10:52] Betree commented on #3986
**Project update**

This project is a bit behind schedule because we took the decision to get away from the [Braintree implementation](https://github.com/opencollective/opencollective-api/pull/5392) despite the fact that it was mostly ready. The main reason behind this change was the process to go live that ended up being super-complex; there were a lot of legal documents that hosts needed to subm

[2021-03-29 10:57] Betree commented on #1141
Project update: https://github.com/opencollective/opencollective/issues/3986#issuecomment-809282461

TLDR ; project was delayed because the initially chosen approach (Braintree) ended up being too complex for hosts to setup live, but we now have a working MVP relying on PayPal's Subscription API ready to be pushed to the next step. There are still some important paths to update (like the one to ed

[2021-03-29 10:59] TLWebdesign commented on #3986
Thats good news! Thanks for the update 😄

[2021-03-29 12:17] #4105 closed

[2021-03-29 19:13] kewitz commented on #4106
To calculate the amount owed to Foundation this month.
[code]

[2021-03-29 21:48] alanna opened #4132 "Approve button should change after loading"
When approving an expense, you click the button and it changes to a loading symbol. At the end, it should change to the next state (like turn to the green pay button) but instead it reverts to the previous state for some seconds and only changes once the page reloads. This is confusing UX - I thought the approval had failed.

https://user-images.githubusercontent.com/5498878/112904440-74022280-914

[2021-03-29 21:53] alanna commented on #2081
This issue is super out of date but still has some useful comments. I no longer think my original idea is the right one. I think we should take a giant step back and realise that the functionality of Projects and Events is overlapping, and we should properly understand their functions and design a more elegant approach. Related: #4075 #4074

[2021-03-29 21:56] alanna commented on #4129
Adding a comment I made on #2081

[2021-03-30 00:47] ericyoungson commented on #3995
@Betree I'm interested in taking this on.

[2021-03-30 07:01] Betree commented on #4132
It seems like a delay between Apollo's query result and cache refresh. I agree that we should try to make the transition faster and/or keep showing the loading spinner until the refreshed data is there.

[2021-03-30 07:45] znarf commented on #3811
We need to update the following just before April 1st 12AM UTC:

[code]

[2021-03-30 08:48] alanna opened #4133 "Transactions missing when jumping to budget section"
Sometimes when I load a page and click `Budget` in the menu to jump to that section, at first it shows no transactions, even if there are transactions. I have seen this a few times but I can't reproduce reliably. If I refresh the page, the transactions show.

<img width="1134" alt="Screen Shot 2021-03-30 at 9 45 31 PM" src="https://user-images.githubusercontent.com/5498878/112961169-9b86d880-91a1-

[2021-03-30 08:56] Betree commented on #4133
Seen this one too, I'll push a quick fix

[2021-03-30 09:00] alanna commented on #3811
I'm planning to put out an Update informing everyone of this change once it's happened. Does this sound right?

Old:

<img width="610" alt="Screen Shot 2021-03-30 at 9 58 01 PM" src="https://user-images.githubusercontent.com/5498878/112962646-17355500-91a3-11eb-9fa3-dc04910ba135.png">

New:
[will get screenshot once change it in effect]

[2021-03-30 09:38] #4133 closed

[2021-03-30 12:29] BenJam commented on #4101
if it's low effort let's gopher it.

[2021-03-30 12:31] BenJam commented on #4109
whether I did or not I'm a play on 😅

[2021-03-30 15:04] BenJam opened #4134 "[PROJECT] Standardising process for gathering feedback"
## Purpose
To get more value out of the product process we’re need  invest a little time in building a standard process and tools for releasing new features, directing users to giving feedback and measuring our success. This is going to start the engine turning on product as it’ll naturally lead to us getting a little more attention, and expectations from our users. This, in turn, will lead into u

[2021-03-30 20:07] kewitz opened #4135 "Virtual Credit Cards: Attach/Add new Card Modal"
Sames as https://github.com/opencollective/opencollective/issues/4086

- Encrypt and persists private card information.
- Attach card as Payout Method to a Collective.
- Match existing Card from Privacy.com using last 4 digits of the card.
- If 4 digits match more than 1 card, use the most recent.
- Add "Assign a Card" to the actions menu on the collective page if the user is a host admin.

https:

[2021-03-30 20:09] kewitz opened #4136 "Virtual Credit Cards: Collective Virtual Cards View"
- Implement basic Card listing with pagination.
- Ignore filters for now.
- Ignore 2FA to reveal card details.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC-Design-Production-Ready-%E2%9C%85?node-id=10720%3A177694

[2021-03-31 10:58] piamancini opened #4137 "Allow multiple files in invoice dropzone"
Sometimes an invoice requires the user to upload more than one file. This is the case in open web docs where the employer provider needs to submit invoices for more than one employee bundled in one withdrawal.

The current dropzone for the invoice path allows for only one.

[2021-03-31 14:23] saideepesh000 commented on #3958
Hey @znarf @Betree @SudharakaP , should I remove these (--, --) here on [`FormattedMoneyAmount`](https://github.com/opencollective/opencollective-frontend/blob/2929233f7ce5bc8689fc75b7d416a9de822061fa/components/FormattedMoneyAmount.js#L33) and make it `0` or any text like `No Contribution`. I think this was made purposefully.

[2021-03-31 14:44] piamancini commented on #4041
Review Document: https://docs.google.com/document/d/1mFArzqaMeAY68G4dXpgoLScaM7zMfzuid9k8EwFI2eU/edit#

[2021-03-31 15:21] #4107 closed

[2021-03-31 16:35] sridhar02 commented on #4011
@Betree I have checked the issue, I am unable to reproduce it in my local machine or on production site, i think this issue fixed, may be you can close it, if you are able to reproduce it let me know i can work on it

[2021-03-31 16:40] SudharakaP commented on #4011
@snitin315 : Yes, this is resolved by, https://github.com/opencollective/opencollective-frontend/pull/6058. 😄

[2021-03-31 16:40] #4011 closed

[2021-03-31 19:07] SudharakaP commented on #4126
@uchar : I've created a PR for this at https://github.com/opencollective/opencollective-pdf/pull/639. I don't have a windows machine so cannot test this, so if you could verify it would be greatly appreciated. 😄

cc: @Betree

[2021-04-01 00:27] alanna commented on #3811
Change confirmed and update sent

https://opencollective.com/opensource/updates/fees-arent-changing-but-how-we-show-them-is

[2021-04-01 00:27] #3811 closed

[2021-04-01 00:45] ericyoungson commented on #3995
I think I have an old phone that is < 950px. Could you send me a link to that page--I'm still learning the site, just want to make sure I have the right page.

Thx!

[2021-04-01 01:41] Memo-Es opened #4138 "[PROJECT] Platform changelog page + Updates modal"
## Background

We have been building up the intention to improve our product communication with users. Starting with an experiment about the communication of new features or improvements, I designed a modal to display 'What's new?' on the platform:

<img width="600" alt="What's new" src="https://user-images.githubusercontent.com/49539954/113229628-95056900-9254-11eb-80b5-d5b1013842f3.png">

It fea

[2021-04-01 04:22] SudharakaP commented on #3995
@ericyoungson : Here's the link to the page in our staging environment; https://staging.opencollective.com/test/accept-financial-contributions/host

Also you don't need a phone necessarily to see this; you can use dev tools of any major browser (such as Chrome, Firefox, Safari) to mimic a mobile device. For example I use Firefox and here's how you do it. 😄

![Uploading Peek 2021-03-31 21-14.gif…](

[2021-04-01 06:07] Betree opened #4139 "Frontend logs poluted by "Module did not self-register""
In production, our frontend logs are currently hard to read because of this error.

[2021-04-01 06:20] Betree commented on #4139
According to https://github.com/heroku/heroku-nodejs-plugin/issues/13#issue-519401318, the "best solution" currently proposed is to disable node metrics: https://github.com/heroku/heroku-nodejs-plugin/issues/13

[2021-04-01 07:22] znarf commented on #4139
Thank you for finding this, I just did this: `heroku labs:disable nodejs-language-metrics -a oc-prod-frontend`

[2021-04-01 08:39] Betree commented on #4138
The current version of https://changelog.opencollective.com/ is still useful to display the full list of changes, so I think we should keep it somewhere for people who want to dig more precisely.

Some constraints that seem important to me:
- Anyone in the team should be able to post to this changelog - updates are often non-technical (eg. announcing new pricing).
- Related to the previous: postin

[2021-04-01 08:43] Betree commented on #3958
@saideepesh000 `FormattedMoneyAmount` is not the right component to update, it's doing its job by displaying `--,--`. We rather need to update this specific card:
- To display just the amount if there's no platform tip
- To make sure the platform tip value is properly displayed if there's one

[2021-04-01 08:50] Betree opened #4140 "Collective background image: responsive cropper"
# Problem
Multiple collectives end up with Hero images looking like this. This is because they're updating their background image on small screens, and the results don't look good when expanded.

![image](https://user-images.githubusercontent.com/1556356/113267992-38975d80-92d7-11eb-8d5e-d0b0e1a63a7d.png)

# Proposal

Back in the time, we designed a modal to edit the background image with a miniat

[2021-04-01 08:51] #4121 closed

[2021-04-01 09:06] #4126 closed

[2021-04-01 10:09] Betree commented on #4012
The idea was to test on the homepage first to see if we face any issues with that in production. It's also the place where it's most needed since we have many heavy images in there that would benefit from progressive loading.

https://github.com/opencollective/opencollective-frontend/pull/6009 is nice and we should keep that open for later, but I still think we should start with a smaller experime

[2021-04-01 10:33] BenJam opened #4172 "Documentation for Funds"
We launched funds https://blog.opencollective.com/funds-for-open-source/ 🎉  but we didn't document it 😅 let's fix that.

FYI this is a template that I think we should fill in as the product, design and engineering team so we provide the necessary context for updating the docs from the start:

### What's changing?

We've introduced Funds: a new way of supporting your community https://blog.opencoll

[2021-04-01 16:10] BenJam opened #4141 "Add 'Fees on top' to contribution flow"
## User story

## Best solution for this problem
Let me add the fees (host, payment processor) 'on top' of my donation, rather than deduct them.

## MVP
A simple hack to the existing interface that adds a checkbox below the donation step that says 'add x to cover y and z fees:

![ontopfees](https://user-images.githubusercontent.com/158833/113322682-e6712f00-930c-11eb-9448-e4318c2291a3.png)

## Met

[2021-04-01 16:10] BenJam commented on #4141
I'm almost sure that @alanna has pitched this before but I UTFS'd and could not find the issue. Please do link and close if needed. Thank you.

[2021-04-01 18:50] SudharakaP commented on #4012
@Betree : Sure. I've done a separate PR (https://github.com/opencollective/opencollective-frontend/pull/6140) to migrate the `Topbar` and `Footer` to `next/image`. I think this makes minimal changes that will be reflected in the home page. Let me know if there's anything else to be changed/added. 😄

[2021-04-01 21:10] alanna commented on #4141
I support this conceptually, and it aligns with how some other crowdfunding platforms work. It's also an appealing proposition for major funders, who often are happy to pay overheads and want a certain amount to go to the funded initiative. Right now we do this manually by adding X% on top of the invoice in the first place so when we add the funds the right amount goes to the Collective after fees

[2021-04-02 01:15] alanna opened #4143 "Credit card payment blocked by nonexistent postcode requirement"
![Screenshot_20210402-125816](https://user-images.githubusercontent.com/5498878/113369456-dd8c6600-93bd-11eb-9d8d-d7d7fb3daa03.png)

User was trying to contribute to https://opencollective.com/ehf-community

There's no place to put in the postcode but it says postcode required.

[2021-04-02 01:23] alanna opened #4144 "Account for bank fees when confirming pending order"
## User story
As a host admin, I need to input the actual amount that was received via bank transfer (or other means not integrated into the platform) when confirming a pending financial contribution on the host dashboard. For example, someone makes a contribution of $100, but actually what arrives in the bank is $95 due to bank transaction fees. When I confirm the transaction, it should credit th

[2021-04-02 01:46] SudharakaP opened #4145 "Replace react-stripe-elements by react-stripe-js"
We need to replace [react-stripe-elements](https://github.com/stripe/react-stripe-elements) library by [react-stripe-js](https://github.com/stripe/react-stripe-js). The react-stripe-elements is now archived and the following guide explains the migration strategy. 😄

https://github.com/stripe/react-stripe-js/blob/master/docs/migrating.md

[2021-04-02 01:54] SudharakaP commented on #4145
I can work on this next week or so, but if anyone else want to take this feel free to do so as well. 😄

[2021-04-02 02:07] SudharakaP commented on #4143
Was looking at this and just to put down my analysis on the matter; my understanding is that we previously made the zip code conditionally render; https://github.com/opencollective/opencollective-frontend/pull/1523. However doing this can lead to inaccuracies as per https://github.com/stripe/react-stripe-elements/issues/20#issuecomment-401247331. Ideally we should render the postal code for all oc

[2021-04-02 03:39] alanna opened #4146 "Unable to approve platform settlement expense"
When I try to approve this:
https://opencollective.com/foundation/expenses/37388

I get this:
<img width="783" alt="Screen Shot 2021-04-02 at 4 38 03 PM" src="https://user-images.githubusercontent.com/5498878/113377868-03236a80-93d2-11eb-922b-a0983cd94007.png">

[2021-04-02 04:13] alanna opened #4147 "Bank details not displaying on screen for some users"
A user did a bank transfer contribution to https://opencollective.com/ehf-community. At the end, he saw the on screen transfer details, but the {account} variable was not rendering. When he got the email notification, the account info was shown as expected.

<img width="542" alt="Screen Shot 2021-04-02 at 5 08 49 PM" src="https://user-images.githubusercontent.com/5498878/113379694-aa0a0580-93d6-11

[2021-04-02 06:34] Betree commented on #4143
I was able to reproduce by not entering the CVC. The error message is inaccurate and should be fixed, but the root cause is that the user did not enter any verification code.

![image](https://user-images.githubusercontent.com/1556356/113388255-2debcf80-938e-11eb-8911-70c194d43396.png)

[2021-04-02 07:49] Betree opened #4148 "Emails: automatically generate text version"
# Problem

When sending emails, the common approach is to generate two versions of the content: a rich one (HTML) and [a simpler one (text)](https://github.com/opencollective/opencollective-api/blob/fbe9411ae2baad0756dc5a10cb0206875c40f484/server/lib/email.js#L46). The way we achieve this in the API is by having two versions of the templates: one for the HTML content and another one for the text (

[2021-04-02 08:01] Betree opened #4149 "Unused email templates"
Some email templates are not used anymore. Below is a non-exhaustive list, we should investigate to see if there are no others.

- `user.forgot.password` => should be removed
- `event.newmember` => should be removed
- `thankyou.chsf` => should be removed (collective archived)
- `thankyou.ispcwa` => should be removed (collective does not exist or has been renamed)
- `github.signup.hbs` => it seems

[2021-04-02 08:09] znarf commented on #4056
In our [pricing](https://opencollective.com/pricing), we decided to clearly segment in 3 different plans: **start**, **grow** and **scale**.

I personally still see value asking Hosts to switch from **start** to **grow** when they want to charge Host Fees, it's a clear opt-in from them and help us treat them differently. As of today, the Host Fee setting is not even available for Hosts in the **st

[2021-04-02 08:11] znarf opened #4150 "Broken collective-tweet"
As reported on Twitter: https://twitter.com/luceos/status/1377541409071321091?s=21

Source: https://github.com/opencollective/opencollective-api/blob/10e0cbb0d14fc3f8d6097d5674d2ec180bc2eec2/cron/monthly/collective-tweet.js#L133-L144

Broken in: https://github.com/opencollective/opencollective-api/commit/463ca4c99161c18788eeb0d26d0135e8f484098d

[2021-04-02 09:11] Betree commented on #4150
I started investigating this one already, it appears that it was not caused by https://github.com/opencollective/opencollective-api/commit/463ca4c99161c18788eeb0d26d0135e8f484098d. The string renders something like `({twitterHandles}, +{count})` but if none of the new contributors have a Twitter handle we just display `(, +5)`. I will work on a fix today.

[2021-04-02 09:14] Betree commented on #4150
Will also take the opportunity to update `backers` to `financial contributors`

[2021-04-02 09:45] Betree opened #4151 "Replace "Backers" by "Financial contributors" in tweets"
@alanna is this something we should do?

![image](https://user-images.githubusercontent.com/1556356/113404664-cf801a80-93a8-11eb-8ebf-e0423cc5ec52.png)

[2021-04-02 10:15] Betree opened #4152 "Long descriptions iframes: allow Anchor.fm"
Depends on https://github.com/opencollective/opencollective/issues/2043
User-requested feature: https://opencollective.slack.com/archives/C6JTTA4SK/p1617357672033800

This would be especially useful for podcasts.

**Example**
- https://anchor.fm/futurediaries/embed/episodes/A-podcast-from-the-future-eorhrm
[code]

[2021-04-02 12:08] alanna opened #4153 "People reversing contribution and tip"
Two different users have made this mistake just today, where they reversed the contribution and tip amounts:

<img width="838" alt="Screen Shot 2021-04-03 at 12 54 29 AM" src="https://user-images.githubusercontent.com/5498878/113413964-58826a80-9418-11eb-8c26-3f63b224bf5c.png">
<img width="702" alt="Screen Shot 2021-04-03 at 12 18 09 AM" src="https://user-images.githubusercontent.com/5498878/11341

[2021-04-02 14:52] SudharakaP commented on #4152
@Betree : Will take this one if no objections, since I already worked on the previous related PR. 😄

[2021-04-02 18:16] SudharakaP commented on #4012
@Betree : Ah, thanks. I was looking at your comment on https://github.com/opencollective/opencollective-frontend/pull/6140 and making some changes and it occurred to me that this might not be a wise change to make at this point. The problem with `next/image` is that we have to specify both height and width always. There's even an open issue at; https://github.com/vercel/next.js/issues/18497. Notic

[2021-04-03 23:25] SudharakaP commented on #4152
I've added the support for this; please merge after, https://github.com/opencollective/opencollective/issues/2043. And let me know if you see any issues. 😄

[2021-04-04 23:27] alanna commented on #4151
I thought about changing this myself but I wasn't sure if `backers` still referred to a specific kind of tier in the code based on the old way we used to do things. If it's counting all financial contributors, then yes we should change it.

[2021-04-04 23:30] alanna commented on #4056
I disagree. I think simplicity is very important in pricing, and we designed the new plan so it functions the same way whether they charge host fees or not. I think the pricing page design is way too complicated and anything we can do to simplify that is a win.

This I agree with.

My position is we should take this on and decide how it should be, to be ready by May 1. I strongly support simplifyi

[2021-04-05 18:47] ericyoungson commented on #3995
Ah, of course! Thx.

[2021-04-05 21:34] alanna opened #4154 "Resetting search on financial contributions tab on host dashboard breaks it"
**Describe the bug**
After resetting search filters you end up with a `not found`

The URL ends up with https://opencollective.com/host.dashboard?searchTerm=&hostCollectiveSlug=foundation&view=donations instead of the expected https://opencollective.com/foundation/dashboard/donations

**To Reproduce**
Steps to reproduce the behavior:
1. Go to host dashboard
2. Go to financial contributions
3. Do a

[2021-04-06 01:16] alanna commented on #3598
I'm reopening this because I tried to reconcile these payments again in my accounting software, but it's still not matching up. I have a receipt for $25 but the payment is for $27.50. From the comments on this issue it seems we decided to generate two separate receipts that add up to the total, but I can't see any way to download the $2.50 one for my records.

[2021-04-06 01:18] alanna commented on #3598
Just as feedback purely from my perspective as a financial contributor in this case, I have now cancelled this contribution because the overhead is just too high to deal with the accounting confusion.

[2021-04-06 01:33] alanna opened #4155 "Connect manage contributions to download receipts"
## User story
As an organization financial contributor, I want to be able to easily manage everything to do with my contributions, including payment method, changing amounts, and download receipts. Right now this is split between the `manage contributions` screen and the `transactions` screen.

<img width="1225" alt="Screen Shot 2021-04-06 at 1 29 19 PM" src="https://user-images.githubusercontent.

[2021-04-06 01:37] alanna opened #4156 "Receipt showing wrong currency"
**Describe the bug**
My NZ based organization has a recurring contribution to an OCEU Collective for EUR5/month. However, the receipt uses the $ symbol and doesn't specify currency. This is dangerous in two ways: the amounts I'm using this receipt to document for my tax reporting will not match the conversion rates to the wrong currency, and also my country uses the $ symbol as many do, so it's fu

[2021-04-06 05:36] alanna opened #4157 "Contribution cancellation notification showing wrong amount"
I cancelled a recurring contribution that was for $25+$2.50 tip, but it came through as $28, which is neither $25 or $27.50, the two totals I could logically see this having.

![Screenshot_20210406-160819](https://user-images.githubusercontent.com/5498878/113663676-8f010380-96fe-11eb-80d6-53a24c8f67f8.png)

[2021-04-06 06:50] Betree commented on #4154
Probably related to https://github.com/opencollective/opencollective-frontend/pull/5855

[2021-04-06 07:18] #4150 closed

[2021-04-06 08:00] Betree opened #4158 "Edit recurring contributions: shrinked credit card input"
**Describe the bug**
This was reported in the past by @znarf.

![image](https://user-images.githubusercontent.com/1556356/113678412-e2536180-96be-11eb-9986-8f977b167e88.png)

**Expected behavior**

Should display the full input. We can eventually achieve that by having a min-width of 275px on the card.

![image](https://user-images.githubusercontent.com/1556356/113678260-bd5eee80-96be-11eb-8a48-89

[2021-04-06 08:27] Betree opened #4159 "Add reset button on "profile sections" settings page"
Would be useful whenever there's something wrong with section's configuration. The button should basically delete the `settings.collectivePage.sections` key.

[2021-04-06 08:54] znarf commented on #4158
The original issue was https://github.com/opencollective/opencollective/issues/4059

[2021-04-06 09:17] Betree commented on #4158
@znarf thanks for sharing, I thought we only reported this orally

[2021-04-06 09:17] #4158 closed

[2021-04-06 09:21] Betree commented on #4059
I'm gonna push a simple fix setting the `min-width` of the card to 275px.

[2021-04-06 09:33] Betree opened #4160 "Public API: Filter orders by account"
_User-requested feature_

## User story
As a consumer of the public GraphQL API, I can filter `account.orders` by account to retrieve only orders from a specific user

## Best solution for this problem
Add an `account` argument to `account.orders`, and search in `FromCollectiveId`/`CollectiveId` (depending on INCOMING/OUTGOING filter)

[2021-04-06 10:17] alanna commented on #3528
Could this be done any time soon please?

[2021-04-06 10:23] #4156 closed

[2021-04-06 10:30] Betree commented on #4156
@alanna I've deployed a potential fix for this problem, let me know if you still get this issue when downloading the receipt

[2021-04-06 10:45] #4154 closed

[2021-04-06 14:09] Betree commented on #4012
Setting `height`/`width` is actually a good practice to make sure that we reserve the proper amount of space. Without that, you end up with text jumping when the image loads (because it's 0x0 before loading). So it doesn't sound like a blocker to me, we can easily override these values with CSS if needed.

[2021-04-06 15:39] SudharakaP commented on #4012
@Betree : Ah, sure that makes sense. Now I've converted all images to `next/image` in the homepage at https://github.com/opencollective/opencollective-frontend/pull/6140. Had to create a new temporary component that mimics `HomeIllustraction.js` in order to make sure we only convert the images in the homepage rather than doing too many changes everywhere. Anyways, let me know how it goes and if ev

[2021-04-06 16:29] #4022 closed

[2021-04-06 16:37] #3720 closed

[2021-04-06 16:37] Betree commented on #3720
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-04-06 20:49] alanna opened #4162 "No $0 transactions for platform settlement, and wrong anyway?"
<img width="1167" alt="Screen Shot 2021-04-07 at 8 46 37 AM" src="https://user-images.githubusercontent.com/5498878/113776275-db3f5880-977d-11eb-8a35-39497bc803e3.png">

Why is this $0 platform fees and tip transaction showing up like this? If it's 0$, just don't have a transaction. It looks like an error.

Also, I'm sure there were in fact platform fees and tips charged to this host, OCNZ, in Mar

[2021-04-06 20:56] alanna opened #4163 "Indicate in the UI when a transaction has been refunded"
## User story
As a Host Admin, if I have refunded a transaction, it should be obvious when looking at the transactions list. Right now it just creates a separate debit transaction but the initial credit looks the same and still shows up if you filter for credits in the list, making it seem like the refund didn't happen.

In this example, I refunded this person's first transaction so they could red

[2021-04-06 23:06] alanna opened #4164 "Prevent accidental scrolling changing tier goal amount"
[This goal](https://opencollective.com/ehf-community/contribute/huddles-23081) was $2500. It's mysteriously changed itself to $2499.97, though no one has intentionally edited it. I can't work out if this is a code bug, or a UI bug (e.g. if someone scrolls down on the tier settings page this could happen).

[2021-04-07 03:55] Memo-Es commented on #4045
## Buttons

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- Added the 'Action Button' for profile pages (Collective page navigation redesign project)

### Preview

![❖  Platform Buttons](https://user-images.githubusercontent.com/49539954/113808086-e0bf8300-972a-11eb-970f-8fc0ddeae789.png)

## [🎨 → Link to figma file](https://www.figma.com/file/N4

[2021-04-07 05:04] Memo-Es commented on #4045
## Form Fields

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- States variants for text field, text area, and rich text field added
- Update to the hint text for the text component, adding a visual indicator of the field state

### Preview

![❖ Form Fields](https://user-images.githubusercontent.com/49539954/113813021-b4a8ff80-9734-11eb-92af-371f

[2021-04-07 05:34] Memo-Es commented on #4045
## Tier Cards

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- States variants for the card interaction – Card hover, tier card title, read more (Both the title and the read more text links take you to the standalone tier page)

### Preview

![❖ Tier Cards](https://user-images.githubusercontent.com/49539954/113815473-d1dfcd00-9738-11eb-86f3-93d31

[2021-04-07 05:44] Memo-Es commented on #3528
This issue is being addressed as part of the accessibility project of this sprint (Q1S2)

The design specs are described in the issue https://github.com/opencollective/opencollective/issues/4045#issuecomment-814614922.

- We are applying new hover states for the card and the tier title.
- Both the title and the read more link lead to the standalone tier page.
- The button label should be tied to a

[2021-04-07 07:03] Betree commented on #4164
I see the correct value there.

![image](https://user-images.githubusercontent.com/1556356/113824259-db405800-977f-11eb-90ff-0afc12651863.png)

This is very likely. We've prevented this behavior on most of the amount inputs on the website, but you'll still get it on the "Edit tiers" page. It's easy to unwillingly scroll in that input. Maybe we can make this issue about fixing that?

[2021-04-07 07:14] Betree opened #4165 "Move from "githubHandle" to "repositoryUrl""
*Based on the feedback received in https://opencollective.freshdesk.com/a/tickets/14260*

# User story

# MVP

For this issue, we don't want to replace the inputs in the OSC Github flow (https://opencollective.com/opensource/apply) as we use the number of starts a project has as a mean to verify its popularity, and yet need to define similar criteria for Gitlab or other kinds of projects. Right no

[2021-04-07 08:59] Betree commented on #3451
In https://opencollective.freshdesk.com/a/tickets/14211, the user thought she already canceled her subscription because it was not listed on the "Manage contributions" page. Turns out it's because it's listed in incognito (though you need to go to a different page to manage it).

[2021-04-07 19:01] Memo-Es commented on #4045
## Transactions Components

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- States variants for the transaction list interaction – Element on hover, expense title, read more (Expense title leads to the standalone expense page)

### Preview

![❖ Design Masters](https://user-images.githubusercontent.com/49539954/113919871-b1039000-97a9-11eb-998e-02

[2021-04-07 19:03] kewitz commented on #4146
Hi @alanna, I commented on the Expense regarding its temporary negative value. This was already fixed, sorry about the confusion.

[2021-04-07 19:03] #4146 closed

[2021-04-07 19:03] kewitz commented on #3863
Blocked by https://github.com/opencollective/opencollective/issues/4124.

[2021-04-07 19:10] kewitz opened #4166 "Virtual Credit Cards: Basic Host List of Virtual Card"
- Create the Virtual Cards list view.
- Add Actions menu with Delete and Pause card buttons.
- Ignore filters for now.
- Ignore edit view.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC-Design-Production-Ready-%E2%9C%85?node-id=10732%3A6433

[2021-04-07 23:44] alanna opened #4167 "Include transaction details and action buttons on host dashboard contributions view"
When you view a transaction on the Collective's transaction page, it looks like this:

<img width="698" alt="Screen Shot 2021-04-08 at 8 21 32 AM" src="https://user-images.githubusercontent.com/5498878/113947775-870ca500-985f-11eb-8a5d-ef52e0366dff.png">

When you view the same transaction on the host dashboard contributions tab, it looks like this:
<img width="622" alt="Screen Shot 2021-04-08 at

[2021-04-08 00:23] barrosgeraldo opened #4168 "Custom fields to ensure legal compliance and prevent frauds"
## Context
As a [Brazilian host](https://opencollective.com/casahacker), we are required to collect and print on the receipt additional important data (full name, full address, tax ID, telephone and e-mail) from each donation and keep it in our financial records, these data collected can also serve to send to Stripe via API and prevent recurring fraud.

## Best solution for this problem
- Add opti

[2021-04-08 01:17] alanna opened #4169 "Display tier in contribution flow if it's a contribution to a specific tier"
User feedback: if you are sent the direct link to contribute to a tier, it doesn't say anywhere which tier it is, so it can be confusing because it just looks like a general contribution to the Collective.

Example, this is the tier:
<img width="305" alt="Screen Shot 2021-04-08 at 1 17 07 PM" src="https://user-images.githubusercontent.com/5498878/113953812-bd045600-986c-11eb-9059-a0f0ac66f0cc.png"

[2021-04-08 01:21] snitin315 commented on #4169
I think we can add something like `Contributing to {tier.name}` below Contribution details heading.

[2021-04-08 06:36] Betree commented on #4169
Ping @Memo-Es

[2021-04-08 08:35] alanna opened #4170 "Make list of webhook actions human readable"
When setting up a new webhook, you choose from a big list of code-looking options that don't indicate much about when they mean.

<img width="705" alt="Screen Shot 2021-04-08 at 8 31 31 PM" src="https://user-images.githubusercontent.com/5498878/113994547-96b0db80-98a9-11eb-960a-86d9433b9774.png">

We need to either:
* Document what each one of these does on the integrations documentation page
or
*

[2021-04-08 08:37] alanna opened #4171 "Add 'tier created' as a webhook option"
I'm working with a Collective that is mainly fundraising through a series of crowdfunding campaigns created as tiers with goals, and this community uses Slack heavily. It would be really great if `tier created` and `goal reached` were webhook options.

[2021-04-08 08:50] Betree commented on #3448
An alternative/simpler proposal:
- [ ] Migrate all Slack channels to `webhook` type
- [ ] In `publishToWebhook`, run a regex on the URL to see if it matches Slack or Discord (see https://github.com/opencollective/opencollective/issues/3951) and delegate the distribution to `slackLib.postActivityOnPublicChannel` if there's a match

[2021-04-08 08:50] znarf commented on #4139
@Betree it didn't work it seems.

[2021-04-08 10:23] Betree opened #4174 "Better handle `getFxRate` failures when creating transactions"
When creating transactions (especially for fees on top), there are a [few](https://github.com/opencollective/opencollective-api/blob/c56f6577f32d992e5d1d33b3f157118a1d9ef828/server/models/Transaction.js#L448) [places](https://github.com/opencollective/opencollective-api/blob/c56f6577f32d992e5d1d33b3f157118a1d9ef828/server/models/Transaction.js#L464) where we fetch FX rates. This is risked because

[2021-04-08 10:36] Betree commented on #4170
All these values should be internationalized, with a helper like `i18nNotificationActivity` to display pretty names. After that, having some optional descriptions to display in the list and below the select could be nice. Example:

Select:
- All
- Expense deleted
- Transaction created - Triggered whenever you receive a new financial contribution or an expense gets paid
- ...

[2021-04-08 11:50] znarf commented on #3598
Yes, the issue was closed, we decided to attach the receipt for the tip in the confirmation email.

https://github.com/opencollective/opencollective-api/pull/5052

Closing the issue again because we decided together on a fix and shipped it.

@alanna please open a new one if you want to clarify your problem.

[2021-04-08 11:50] #3598 closed

[2021-04-08 12:22] piamancini commented on #4162
@kewitz cc

[2021-04-08 14:00] kaylarep commented on #4074
From the roadmap meeting (Apr. 4, 2021)
Pia:

rethink the basic concept of having a unit under a collective

Memo:

Francois

P:

F

Benjam:

[2021-04-08 14:58] kaylarep commented on #4045
Sorry am late to adding to this issue, but there are also some suggestions from [this Freshdesk ticket](https://opencollective.freshdesk.com/a/tickets/10885)

[2021-04-08 21:30] alanna opened #4175 "no-reply notifications should come from Open Collective"
Here's how an email from no-reply@opencollective.com looks in my inbox:
![Screen Shot 2021-04-09 at 9 28 22 AM](https://user-images.githubusercontent.com/5498878/114099013-4459d400-9916-11eb-8ef9-3443b55af173.png)

It should be from Open Collective not "No-Reply"

[2021-04-08 23:20] alanna commented on #4074
I would be really keen to be in the beta for this for [EHF Community](https://opencollective.com/ehf-community) because we're raising a series of crowdfunding campaigns and I need to keep all their budgets and expenses straight. I am 100% fine if it's a bit rough and there's no different admin permissions, etc.

[2021-04-09 06:52] Betree commented on #4175
To be confirmed, but I think we can solve that by replacing all:
[code]

[2021-04-09 07:30] Betree opened #4176 "User.CollectiveId links to organizations & collectives"
**Describe the bug**
While investigating a crash on https://opencollective.com/a-tree-for-the-planet/expenses/10100, it appeared that user `#51240` has its `CollectiveId` linked to the account [`#60419`](https://opencollective.com/a-tree-for-the-planet-association) which has an `ORGANIZATION` type.

I found 10 entries like that in the DB. The frequency makes me think that it's more likely to be er

[2021-04-09 07:39] Betree commented on #4139
As recommended in https://github.com/heroku/heroku-buildpack-nodejs/issues/727#issuecomment-550975119, I'm not trying to disable Node language metrics to see if that helps

[2021-04-09 07:42] Betree commented on #4139
On staging these errors are not showing up and everything is disabled

[2021-04-09 07:49] znarf commented on #4139
Great, let's do this in production. Node metrics are useful but not critical at all.

[2021-04-09 07:51] Betree commented on #4139
Logging already stopped on Papertrail so it's hard to tell from there, but I can't see the error with `heroku logs` so it might have worked

[2021-04-09 09:39] #4066 closed

[2021-04-09 19:18] SudharakaP opened #4177 "Oscillating `package-lock.json` due to npm version upgrade to v7"
**Describe the bug**

This has been an issue I saw for a while where the `package-lock.json` file changes depending on the `node/npm` version that you use. An example would be the recent PR; https://github.com/opencollective/opencollective-frontend/pull/6155/files. The problem started when I think when some people in the @opencollective/core team started using `npm v7` whereas others have `npm v6`

[2021-04-09 19:32] SudharakaP commented on #4177
I've proposed two PRs for this, just to remind if we decide to go forward with this, probably we need to make an announcement in discussions or teams maybe sections so that people know beforehand although I think the error that they will get (if they are using npm v7) is quite self explanatory; 🤔

[code]

[2021-04-09 20:09] SudharakaP commented on #3652
@opencollective/core-developers : Just wondering since there had been no further updates for this issue for a while, is everything good with the PRs for this one or is there anything that needs to be changed modified further? 😄 😸

[2021-04-11 16:57] Betree commented on #4139
Adding https://github.com/opencollective/opencollective/issues/4139#issuecomment-816483409 did the job :tada:

[2021-04-11 16:57] #4139 closed

[2021-04-11 22:30] alinamanko opened #4178 "Support Metrics Report March 2021"
### Support Metrics Report March 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/114323442-54252280-9b79-11eb-9c23-d815e61f06ae.JPG)

The number of tickets received increased by 11% from 465 in February to 517 in Mar

[2021-04-11 23:36] alanna commented on #4178
It will be very interesting to see if that SCA expenses stat drops off next month. If not we'll need to figure out what else we can do to make sure inquiries to hosts go to the right place.

[2021-04-11 23:48] alinamanko commented on #4178
@alanna I can confirm this won't be coming up during April. From the last 10 days or so this has no longer been an issue

[2021-04-12 03:18] Memo-Es commented on #4045
## Global Navigation

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- Update on the hover state for text links (Underlined)
- Update the nav bar and footer
- Update the design of the menu on both desktop+tablet and mobile

### Preview
![❖  Platform Navigation](https://user-images.githubusercontent.com/49539954/114336022-ae8b9800-9b13-11eb-82ea-ab

[2021-04-12 07:06] znarf commented on #4177
Good stuff, I faced the issue recently:
https://opencollective.slack.com/archives/CEZUS9WH3/p1616517051003500

[2021-04-12 07:21] Betree commented on #4177
These massive diffs on `package-lock` generated by this mismatch are polluting the Git history. Thanks for taking the time to look into it!

[2021-04-12 10:17] #3951 closed

[2021-04-12 10:28] Relequestual opened #4179 "Content for updates is not centered"
It's less a bug and more a change request but not for a feature...

On an update, such as https://opencollective.com/json-schema/updates/ben-hutton-joins-postman
The content of the update is left aligned.
This makes it hard to read on larger screens. Most similar pages center such content.

I understand the max width is to give parity width wize with email, but the readability of the content on th

[2021-04-12 10:37] Betree commented on #4179
Ping @Memo-Es, centering the update's content would look more like what you usually see on blogs but it does not match the layout used in other pages of the design system (conversations, expenses, etc.). Feel free to propose an update or to close the issue if you think we should keep the content left-aligned.

@snitin315 this issue needs some input from design before we can move on with the implem

[2021-04-12 10:38] #4110 closed

[2021-04-12 10:42] snitin315 commented on #4179
Yeah, lets wait for feedback from the design team 👍🏻

[2021-04-12 12:04] SudharakaP commented on #4177
Ah, I didn't know it was already recorded on Slack; was always wondering why my `package-lock.json` keeps changing. 😄

You are welcome. 😄

[2021-04-12 12:19] snitin315 opened #4181 "Make Hero's background image unselectable"
**Describe the bug**

Primary color changes while enabling primary navbar

**To Reproduce**

https://user-images.githubusercontent.com/46647141/114393033-337bbd80-9bb7-11eb-896e-3aca07d28389.mp4

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
Any

**Additional context**

It doesn't seem to be happening

[2021-04-12 12:32] #4137 closed

[2021-04-12 12:52] Betree opened #4182 "Internationalize emails"
_Requested in https://crowdin.com/messages/519286_
Similar/related to https://github.com/opencollective/opencollective/issues/4085
Related to #3234 #2682

## User story
Some Open Collective users would like to be able to translate emails to propose a better experience to their communities.

## MVP
Our Crowdin usage would allow us to add the API project in there. With a Github integration like what

[2021-04-12 13:00] Betree commented on #4181
Strange bug! Which OS/Browser is this?

If you're using an image as background, my guess would be that this image gets selected when you double-click on the menu - making it appear with a colored overlay. If that's the case, playing with `user-select` on the image should do the job.

[2021-04-12 13:04] snitin315 commented on #4181
I am using macOS and chrome.
Works fine on safari.

[2021-04-12 20:28] #4162 closed

[2021-04-13 03:26] Memo-Es commented on #4045
## Collective Navigation

### Description of changes
- Color correction to comply with the 4:5:1 ratio
- Text styles update
- Removed the 'Settings' button from the collective navbar and placed it in its original position below the avatar (For reference on the action button full roll-out check the [buttons update](https://github.com/opencollective/opencollective/issues/4045#issuecomment-814581377)

[2021-04-13 07:10] Betree opened #4184 "Organizations used as ADMINs of collectives"
We have some cases where ORGANIZATIONs are being used as ADMINs of collectives. That sounds like something we should not allow as our permission system is not checking for that. It also looks like we stopped supporting that in 2019.

The following query returns 22 entries:

[code]

|  collective                                   | member type              |       collective type       |

[2021-04-13 07:14] znarf commented on #4184
Doesn't make sense with our current permission model. I think they should just be deleted.

[2021-04-13 08:20] #4117 closed

[2021-04-13 08:48] Betree opened #4185 "Add emoji reactions on updates"
## User story
_From https://opencollective.slack.com/archives/G46PNRCGP/p1617912913040900_

## Specs
This feature is really the same as comment reactions, the only difference is that these ones would be indexed on `UpdateId` instead of `CommentId`. We'll re-use `CommentReactions` to achieve that, renaming it to `EmojiReactions` to make it generic.

### API

- [x] Rename `CommentReactions` table &

[2021-04-13 08:50] #4059 closed

[2021-04-13 09:26] Betree commented on #4184
I've deleted mentioned member entries. Here are the member IDs in case we need to investigate:

[2021-04-13 09:26] #4184 closed

[2021-04-13 09:42] Betree commented on #3783
@Memo-Es This is looking great!

[2021-04-13 09:54] Betree commented on #3783
# Specs

- [ ] Update `HorizontalScroller` to accept `PropType.node` as `children`
- [ ] Render `children` in a `div`, set `this.ref` to this div
- [ ] Render the Prev/Next buttons directly from this component, as seen in https://github.com/opencollective/opencollective/issues/3783#issuecomment-804347821
- [ ] Remove all `ChevronsContainer` as we're not gonna use this pattern anymore
- [ ] Make su

[2021-04-13 10:02] Betree commented on #3783
:gift: :money_with_wings: A **$150** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $150 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-04-13 16:00] SudharakaP opened #4186 "Automate Deployment Process using GitHub CI"
Talking with @znarf about the deployment process I had the following idea. 💡

Currently the deployment process involves a number of manual steps as per, https://github.com/opencollective/opencollective-frontend/blob/33535f88e79921d89daa8cf0e6c0d0e3346f076c/docs/deployment.md. And we have to wait until the process runs in the local terminal. I would suggest automating it with a GitHub workflow. So

[2021-04-13 16:46] znarf commented on #4186
The pain is not really to type `npm run deply:staging` and wait. One problem is that the app needs to be built at deploy time.

It could be interesting to see what we could do to have 1-3 minutes deployments, instead of the current 15 minutes or so.

[2021-04-13 17:48] kaylarep commented on #4172
Current info about Funds that can be used to help:

- [Two kinds of initiatives (from OCF docs)](https://docs.opencollective.foundation/about/what-we-offer#two-kinds-of-initiatives)
- [Internal Info](https://docs.google.com/document/d/1xl3YB9YpDZAIjZUg3nzTvyO0Tg0aY1Tq9SFnT_-Zhyo/edit#heading=h.3i0gbqerqtwm)

[2021-04-13 20:22] kaylarep commented on #4178
@alinamanko Would you be able to update [this doc](https://docs.google.com/document/d/139KBR64W3XRveg4-ef2YU8lbETOeVgkDgoa_CGg9Kb0/edit?usp=sharing) for how to process ActBlue?

Or if you'd prefer, we can schedule a meeting to go over it/you can record your process and I'll transcribe it in. Let me know!

[2021-04-13 21:37] SudharakaP opened #4187 "Add action workflows to Dependabot Upgrades"
A small enhancement I thought of when working on a dependabot related issue; suggest adding action workflow updates to dependabot; https://docs.github.com/en/code-security/supply-chain-security/keeping-your-actions-up-to-date-with-dependabot. I think currently we use the dependabot preview app (correct me if I am wrong). So first we need to upgrade dependabot to native version to have a configurat

[2021-04-13 22:14] OpenCollectiveTest commented on #4178
@kaylarep I updated the process doc for you. There is not so much there so let me know if there is anything else you'd like me to add.

As for Benevity, I don't think we should remove them as a lot of groups have consistent level of support this way. This is something to be aware of and monitor and see if it keeps being a problem. In the 90+% it works, I think it is a very good solution. It was ju

[2021-04-14 01:02] #4135 closed

[2021-04-14 01:02] #4136 closed

[2021-04-14 01:02] #4166 closed

[2021-04-14 06:52] #4177 closed

[2021-04-14 07:10] #4175 closed

[2021-04-14 07:13] Betree commented on #4187
That sounds like a good idea, we can try that. The `dependabot.yml` seems to be the future of Dependabot so we'll need to migrate at some point anyway. I just triggered the update on API to try with a first project, it should appear soon on https://github.com/opencollective/opencollective-api/pulls?q=is%3Aopen+is%3Apr

[2021-04-14 07:23] Betree commented on #1455
This was done in https://github.com/opencollective/opencollective-api/pull/3102

[2021-04-14 07:23] #1455 closed

[2021-04-14 07:30] #4090 closed

[2021-04-14 11:28] Betree commented on #1656
With PayPal recurring being released soon, we can expect much more contributions with PayPal. We'll probably have to prioritize this issue soon after the release.

[2021-04-14 11:29] znarf commented on #1656
@Betree Yes, I also think it's an important one.

[2021-04-14 12:38] Betree commented on #3347
`12-contributionFlow.donate.test.js` is failing very often for me lately.
[code]

[2021-04-14 14:44] SudharakaP commented on #4186
@znarf : Thinking about this; I think we should try caching on Heroku for nextjs build as per recommended here; https://nextjs.org/docs/messages/no-cache#heroku. Have we tried this before; if not I can enable it and we could give it a try. 😄

[2021-04-14 16:56] kaylarep commented on #4178
Thanks @alinamanko ! I left you a comment/question in the doc

This is the current onboarding information for these: https://docs.opencollective.foundation/how-it-works/third-party-fundraising-tools-and-benefits#third-party-tools

If you have any comments/suggestions/contributions to streamline/clarify, let me know

[2021-04-14 17:21] kaylarep commented on #4172
Can we add Funds to the [terminology](https://docs.opencollective.com/help/about/terminology) page? (brief description + would link to the separate Funds page)

[2021-04-14 17:25] fabianmendes opened #4188 "HTML markup appearing in bank transfer instructions"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Collective.
2. Click on Donation.
3. Donate... (any amount).
4. See error:
![image](https://user-images.githubusercontent.com/31230743/114752670-9179e380-9d24-11eb-85a4-4e8fb18bd918.png)

**Expected behavior**
Should not appear <br>  or <br/> whatever... nor <cod

[2021-04-14 17:33] #4086 closed

[2021-04-14 17:34] kewitz opened #4189 "Virtual Credit Cards: Notify Collective Admins by Email"
Send an email to collective admins when a new expense is created from a Virtual Card charge.

We want to do this to enforce that all expenses are complete.

[2021-04-14 17:37] Betree commented on #4188
Thank you for reporting this @fabianmendes.

I thought we migrated all of them but apparently, we still have 41 hosts with HTML markup in their instructions. We should sanitize that to remove all markup.

[code]

[2021-04-14 23:25] SudharakaP commented on #4187
The API one is merged and I don't see any issues with it; it seems to be behaving similar to the `dependabot-preview`. So if you could please trigger on the front-end as well. 😄

cc: @znarf