[2019-06-27 05:39] znarf commented on #2164
@alanna looking at the Collective history it was never disabled. Do we have a trace of the exchange where we said we did?

[2019-06-27 05:51] znarf commented on #2096
@elijahv done

[2019-06-27 05:56] #2077 closed

[2019-06-27 05:59] znarf commented on #2162
Duplicate with https://github.com/opencollective/opencollective/issues/1936 ?

[2019-06-27 06:18] znarf commented on #2070
I tested and this should work. Let's continue in the support channel.

[2019-06-27 06:18] #2070 closed

[2019-06-27 06:47] Betree commented on #1895
The balance being debited sounds like a bug to me (though I don't really know that feature). Do we know why it's like this?

[2019-06-27 06:47] znarf commented on #2152
@alanna Thank you for reporting. This is again related to our latest GraphQL upgrade.

This is easy to fix.

[2019-06-27 09:03] #2152 closed

[2019-06-27 10:07] yellowwoods12 opened #2166 "Unable to generate API key"
**Describe the bug**
Unable to generate API key on pressing pressing the new API key button. The keys showed up after I refreshed the page and then cannot be deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/applications'
2. Click on 'New API key' button
3. See error

**Expected behavior**
 The API key should show up on pressing the 'New API key' butt

[2019-06-27 10:29] #2160 closed

[2019-06-27 12:36] lgagarcia commented on #2158
We are currently exploring adopting OC for an organisation that has many collectives that we would ideally like to offer the opportunity to apply for 'grants' that we can then allocate to each group.

The adaptation of expense (apply to be paid, including evidence/documentation, approve/reject) would be a perfect solution.

How would you suggest building this in partnership?

Thanks!

[2019-06-27 14:17] elijahv commented on #2096
Thanks! We're making progress. When I click the button I'm getting a "Invalid currency. Expected USD." error.
<img width="852" alt="Screenshot_2019-06-27__7_15_AM" src="https://user-images.githubusercontent.com/3868907/60273696-85046c80-98ab-11e9-88be-e2b979ef48e1.png">

URL: https://opencollective.com/techforgoodnz/edit/advanced

[2019-06-27 15:04] Betree commented on #2166
Good catch @yellowwoods12, thanks for reporting that. I actually changed the behaviour on this page recently so this is probably linked to a change that I made.

[2019-06-27 15:38] xdamman commented on #2158
In the redesign of the Expense Flow, we will include the ability to add custom fields to include evidence/documentation (such as adding a picture of the t-shirts you printed, or a link to the blog post that has been written, or to the pull request on github, etc.) /cc @raulgrafico

[2019-06-27 17:08] piamancini opened #2167 "Add confirmation for "Empty Balance""
Collective Admin wanted to close the collective, hit "Empty Balance" but wasn't expecting it to happen without a warning.

![Capture d’écran 2019-07-05 à 16 33 13](https://user-images.githubusercontent.com/806/60729288-a36d0680-9f42-11e9-99fe-9b7b04bcd0f5.png)

We should add a warning similar to "Archive Collective" and "Delete Collective".

![Capture d’écran 2019-07-05 à 16 24 43](https://use

[2019-06-27 17:18] znarf commented on #2166
I fixed the deletion issue. PR open.

[2019-06-27 17:27] Betree commented on #2166
@znarf Then we have two fixes for this one :) https://github.com/opencollective/opencollective-frontend/pull/2035 + https://github.com/opencollective/opencollective-api/pull/2174 fix the type issue on ID and the updaters

[2019-06-27 17:34] Betree commented on #2166
opencollective/opencollective-api#2174 and opencollective/opencollective-api#2173 are the same, closing opencollective/opencollective-api#2174

[2019-06-27 22:30] alanna commented on #2167
Dup of #2156

[2019-06-27 22:37] alanna commented on #2164
@znarf no but the admin says it was, and previously they weren't getting Collective applications, whereas recently they have. I am not sure of the details. @piamancini do you remember?

[2019-06-28 00:25] alanna opened #2168 "Strategy: Where should Open Collective focus as a platform?"
I want to start a strategy discussion that the Open Collective team and the wider community can contribute to. We've had some team workshops this week where these issues have come up, and we need to clearly lay them out and work toward some decisions.

## Context

Open Collective currently is not breaking even from revenue, although we have been trending in a positive direction. We need to figure

[2019-06-28 01:43] alanna opened #2169 "Tier widget"
## User story
As a core contributor, I want to embed a tier widget on my webpage, so supporters can click on it and jump directly into the contribution flow. I also want it to display how many financial contributors that tier has.

(This is a user requested feature)

[2019-06-28 01:53] alanna commented on #2162
Oh. I didn't realise refunds didn't work for manually added funds. Can this specific transaction be refunded on the backend please? The user attributed it to the wrong source and needs to re-do it.

[2019-06-28 02:06] alanna opened #2170 "Collective can have multiple hosts"
## User story
As a Collective I want to take donations and pay expenses in multiple countries while enabling funders and contributors to pay and be paid locally. I want to keep my budget all in one place and show the true size of the project, not split into multiple Collectives in different hosts.

## Best solution for this problem
Collectives can have multiple hosts simultaneously, so financial c

[2019-06-28 02:20] alanna opened #2171 "Error when trying to pay expense: "the pre-approval key can't be used before the start date or after the end date""
As reported in [this ticket](https://opencollective.freshdesk.com/a/tickets/805) on Freshdesk and [this Slack message](https://opencollective.slack.com/archives/C6JTTA4SK/p1561644869061200). I have tried paying a few expenses myself and have not encountered an error.

**Describe the bug**
This error is coming up from Paypal when the host admin tries to pay an expense.

<img width="792" alt="pperro

[2019-06-28 02:26] alanna opened #2172 "Can't transfer funds from event to Collective or Collective to host due to currency mismatch"
**Describe the bug**
They are trying to transfer the balance from [this event](https://opencollective.com/net2van-meetup/events/google-analytics-101-master-class-for-nonprofits-taught-by-a-marketing-veteran-16534ev) to their Collective, and empty the balance of [this Collective](https://opencollective.com/techforgoodnz), but are encountering errors related to currencies.

Both issues are being enc

[2019-06-28 03:23] alanna opened #2173 "Expense submitted with no paypal address"
**Describe the bug**
[This expense](https://opencollective.com/nanoframework/expenses/8590) was submitted and approved with no Paypal address, which shouldn't be possible.

**To Reproduce**
I was not able to reproduce. When I try it won't let me submit without a Paypal address.

**Expected behavior**
Should throw an error and not let the expense through.

**Screenshots**
![Screen Shot 2019-06-28 a

[2019-06-28 04:45] alanna commented on #2158
Good to know @lgagarcia ! I would be happy to help facilitate that. Is the organization already a fiscal host on OC?

We are just about to start a project to revamp the expense flow. It's possible we could add an "apply for funding" adaptation of the expense process. I think we should make it a toggle option in settings though, because we don't want a bunch of people applying for funding from grou

[2019-06-28 08:19] xdamman commented on #2168
Thank you @alanna for putting all those thoughts together.

First, I'd say that the "Open Source Vertical" should make Open Collective sustainable on its own. Tech is the largest industry in the world. That's where a lot of money is. If we cannot be sustainable in that industry, we have a larger issue.

To reach sustainability, I'd explore offering services with more added value that would justify

[2019-06-28 08:53] Betree commented on #2171
Response sent to user:

![image](https://user-images.githubusercontent.com/1556356/60330392-a0967280-9992-11e9-8ca2-01e20eab9b93.png)

Closing this.

@alanna is there a place in the docs where I should add this? https://docs.opencollective.com/help/hosts/payouts?

[2019-06-28 08:53] #2171 closed

[2019-06-28 09:57] Betree commented on #2171
Added better error message in https://github.com/opencollective/opencollective-api/pull/2180

[2019-06-28 11:27] #2153 closed

[2019-06-28 11:31] piamancini commented on #2173
@alanna hmm we had this issue in the past. @xdamman fixed it I think. Do you need their email address to unblock you now?

[2019-06-28 12:15] xdamman commented on #2173
Not exactly sure why this happened. The problem is that right now we are recording the paypal address at the user level, not at the expense level. So if it changes, it changes for all expenses.

We should save it as a payout method connected to a (User) Collective and link the payout method to the expense. But that's a big refactoring (that I would consider doing in the redesign of the expense flo

[2019-06-28 12:18] znarf commented on #2173
What if we record it directly in the `Expense` table?

[2019-06-28 12:18] xdamman commented on #2158
Exactly. In the same way that we allow a collective to donate to another collective, we should allow the opposite operation, ie. "request donation". The only difference being who initiated the transaction (a donation on one side is an expense on the other side).

[2019-06-28 12:22] xdamman commented on #2173
That would be a good first solution.
[code]

Longer term, would be better to have a dedicated table (or re-use the `paymentMethods` table with a flag to know if this payment method can only send or receive money)

[2019-06-28 12:32] znarf commented on #2173
The initial diagnostic is wrong, the paypal email was properly submitted, it's just not appearing. Investigation in progress.

[2019-06-28 14:14] znarf commented on #2173
While troubleshooting this Collective last week, I forgot to add the `HOST` entry in the `Members` table. One of the effects was to make the `paypalEmail` invisible.

[2019-06-28 14:14] #2173 closed

[2019-06-28 14:18] znarf commented on #2172
This is not something we can support, so we'll help this person in the support channel.

We should disable these buttons if there is a currency mismatch, and explain why.

[2019-06-28 14:59] xdamman opened #2174 "Direct url to create a new expense broken"
e.g. https://opencollective.com/babel/expenses/new

![](https://d.pr/free/i/DJHFPl+)

[2019-06-28 15:15] Betree commented on #2174
Should be solved by https://github.com/opencollective/opencollective-frontend/pull/2039

[2019-06-28 15:21] #2166 closed

[2019-06-28 15:37] Betree opened #2175 "Place to highlight the people that contribute to Open Collective"
During last team retreat in Brussels flourished the idea that we should have a place on the website to surface Open Collective's team and contributors.

The main argument for it was that we're a diverse team, with amazing contributors from all over the world and that by just showing it we may reflect an image that will incentive all communities to feel welcome to join and contribute.

@xdamman arg

[2019-06-28 16:58] Betree commented on #2174
Resolved and deployed

[2019-06-28 16:58] #2174 closed

[2019-06-28 17:32] WangJiangJiaoZi opened #2176 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/reixs/edit while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: MacIntel
- Browser: `5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36`

# Technical details

[code]

[2019-06-29 08:06] alanna commented on #2168
OK so to summarize what you said @xdamman - double down on open source (esp the Back Your Entire Stack subscription model), and use success there to resource helping other kinds of groups in the future that don't have such a clear business model. I think that makes sense. I'm not 100% sure it's better than the other possibilities discussed here (we would need to validate BYES subscription in the m

[2019-06-29 08:20] #2176 closed

[2019-06-29 08:23] WangJiangJiaoZi opened #2177 "contributors.svg not work"
@znarf Hi~ My contributors.svg doesn't work.

https://opencollective.com/reixs/contributors.svg
Returns "Not found".

Should I wait some more time?

[2019-06-29 22:36] alanna opened #2178 "Core contributors unable to apply to host"
**Describe the bug**
Somehow [doorkeeper-gem](https://opencollective.com/doorkeeper-gem) got unlinked from its host (OSC), and now the core contributors ([Nikita](https://opencollective.com/nikita-bulai) and [Felipe](https://opencollective.com/felipe-philipp)) aren't able to re-apply. When they go to OSC's page, they don't see "Apply with your Collective, Doorkeeper-gem", only the option to create

[2019-06-29 22:50] alanna opened #2179 "Event with blank name should not be allowed"
**Describe the bug**
If you try to create an event with no name, it will error and not let you do it. But if you create an event with a name, it will let you edit it, delete the name, and save. This creates a situation where you cannot edit the event again or delete it because there is no name string to click on.

See example here: https://opencollective.com/testcollective#events

**To Reproduce**

[2019-06-29 22:55] alanna opened #2180 "Events form does not let you correct errors"
**Describe the bug**
If you create an event but fail to fill in a required field, the system will throw an error when you click save. However, if you fix the problem, it will not let you save again. The only way to proceed is to reload the page, losing all the data you put into the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Create event
2. Don't fill in a required field (event nam

[2019-06-30 05:47] #2177 closed

[2019-06-30 07:04] xdamman commented on #2175
To respect the terminology of collectives, we should refer to ourselves as “core contributors”, not “team”.

We could have on the homepage the same section than on any collective page: “Open Collective is all of us”, with a grid of all the people who contribute to Open Collective. It would be great to have an embeddable version of that section so that we could just embed the one of our our main co

[2019-06-30 07:31] xdamman commented on #2178
I fixed it manually for them in the database.

We should revisit the process to apply to a host. It’s a bit hacky today. It works for the most common default case, but it quickly breaks down when you deviate from it (e.g. if you have more than one collective that doesn’t have a host, when there are already transactions in the collective, etc.)

[2019-06-30 07:32] xdamman commented on #2178
I’ll close this for now, this should be part of another issue to revamp the application process.

[2019-06-30 07:32] #2178 closed

[2019-06-30 07:37] xdamman commented on #2170
I’d totally love to have that.

A first step would be to move the host to the Tier level, not the Collective level.
The Collective should be the central piece where different individual and organizations can contribute to. One of those contributions is to offer to hold money on behalf of the collective (ie. be a fiscal host, not *the* fiscal host).

It’s also more resilient for a Collective to hav

[2019-06-30 08:07] xdamman commented on #2170
Moving the Host to the Tier level will touch a lot of moving pieces. We should spend more time to investigate all the implications.

The MVP you suggest is probably easier to implement. We could reuse the infrastructure we have for events to introduce the concept of “sub collective” or “working group” or “projects”. Like an event, it’s basically a collective on its own with its own host that is ju

[2019-06-30 08:25] alanna opened #2181 "Unable to approve Collective due to permissions error"
**Describe the bug**
When trying to approve [this Collective](https://opencollective.com/open-austin) in Open Collective Foundation (via clicking approve in the email), it says "Error: You need to be logged in as an admin of the host of this collective to approve it". But I am the admin and logged in. I can access "edit organization" for the host.

**Screenshots**
<img width="1272" alt="Screen Sho

[2019-06-30 08:27] xdamman commented on #2168
Not exactly, I’d argue that we should be a platform for collectives to receive contributions to make them sustainable. Starting with the contribution of offering a service of fiscal sponsorship. The Open Source Collective (OSC) is one of them.

In the ideal world, the OSC would take on the BYES project because it is clearly 100% open source community focused. It would also make things easier for e

[2019-06-30 08:29] alanna commented on #2175
I think we should dogfood this. If we are not happy with how the core contributors are showing up for our Collective (Open Collective Inc), then we should improve how that works, and also improve it for all Collectives. If we have to route around our own product by creating another page on the website, it's a sign we're not offering a good enough solution for all on the platform. Pretty much every

[2019-06-30 08:36] alanna commented on #2170
We might run into some tricky legal implications. For example the Open Collective Foundation's terms state that you can't have it as your fiscal host while also having another fiscal host or funds held in accounts outside the Foundation.

However, this need has come up several times in conversations with users. For example @edsilv has a potential sponsor who can only give to UK projects, while his

[2019-07-01 09:37] xdamman opened #2182 "Switch /opensource and /opensourcecollective"
Since we removed the `ParentCollectiveId`, the list of collectives hosted by the open source collective are not listed anymore on https://opencollective.com/opensource

To be keep things consistent with the other hosts, I’d recommend to switch the slug of the host opensourcecollective with the main collective of the host /opensource.
E.g.
- https://opencollective.com/Europe
- https://opencollectiv

[2019-07-01 09:45] xdamman commented on #2170
@alanna why is there such legal restriction imposed by the OC Foundation?

The more I think about it, the more I think that putting the collective front and center is the way to go. Fiscal sponsors are contributors. But instead of contributing code, they contribute a financial service to the project. Like any other (core) contributor, it starts with one but others can join. And it’s fluid so they

[2019-07-01 09:51] xdamman commented on #2137
@znarf Can we add a bounty for this?

[2019-07-01 11:38] Betree opened #2183 "NCP: Collective admins to sort contribute cards"
With the new collective page where a lot of tiers can be displayed in one row, collectives may want to re-order the tiers to put the most important ones first.

:deciduous_tree: You must update `react-dnd` to the latest version. Don't worry if it breaks `<InputTypeTags/>`, we'll fix it in another issue.

:art: Design: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E

[2019-07-01 11:39] znarf opened #2184 "Invalid UK countryIso in the Collectives table"
In the Collectives table, some entry have a "UK" `countryIso` which is invalid.

In most cases it should be "GB".

This is preventing updating the impacted entries in the `Collectives` table.

[2019-07-01 11:50] piamancini commented on #2170
It's the law in the US for 501c3s - grantees can't have more than one fiscal Sponsor @xdamman.
You can't have two entities having fiscal responsibility for the same project.
I am not sure how it works elsewhere but intuitively this would be the same inside the territory where the legal entity is incorporated.

[2019-07-01 11:51] Betree opened #2185 "Monthly report recent sponsor activity: collectives are not grouped correctly"
In the monthly collective report, one of the line for the `Recent sponsor activity on Open Collective` is confusing:

Both `Material-UI` are pointing to https://opencollective.com/material-ui, it seems that should be grouped and the amounts summed.

![image](https://user-images.githubusercontent.com/1556356/60434286-17d43c80-9c07-11e9-9a5d-3f285983ed7c.png)

[2019-07-01 11:52] piamancini commented on #2182
yes, this was mentioned in the original thread https://github.com/opencollective/opencollective/issues/2101

[2019-07-01 11:53] znarf commented on #2183
It is already a demand from users today with the existing design.

[2019-07-01 12:02] znarf commented on #2181
@alanna The Collective moved to another host: https://opencollective.com/openaustin

[2019-07-01 12:06] znarf commented on #2182
@piamancini Xavier's question is about switching "opensourcecollective" (currently the Open Source Collective Organization, a Host) and "opensource" (currently the Collective linked to the Open Source Collective Organization, a Collective). Are you fine with this?

[2019-07-01 12:11] znarf commented on #2169
What should the widget do? Can't they just have link?

[2019-07-01 12:12] #2162 closed

[2019-07-01 12:27] piamancini commented on #2182
Yes I am (sorry I wasn't clear)

[2019-07-01 12:28] piamancini commented on #2185
hmm I wonder why there are two I think we missed one and did it both in one month. @alanna want to dig this up?

[2019-07-01 12:43] Betree commented on #1872
My experience tracking this issue in various places so far is that Apollo randomly strips the data when one of the field in sub-queries or mutations are missing an `id` field.

[2019-07-01 12:59] piamancini commented on #2168
Before I go deep into the conversation (it's tough having to re-argue things again, need some strength!) :) I am starting a company in Spain to invoice Open Collective Inc. I have a ton of receipts and small expenses to keep track of.  My plan is to start a new collective, with one host to add funds and manage the expense flow of the company - it helps a lot with tax revenue.
I'd gladly pay $10-$2

[2019-07-01 13:25] timschloe commented on #2168
Ehm, this... is a very exciting debate at a very exciting time... Thanks for tweeting Pia!

Would it be possible to interview some one here on Transformational Change / Paradigm Shift from a Climate Finance perspective? (Research in that field is my dayjob and I see a giant overlap to what you are doing here)...

[2019-07-01 14:45] znarf commented on #2137
@znarf we'll include that in the OSCA bounty effort.

[2019-07-01 14:47] znarf commented on #2151
Original issue: https://github.com/opencollective/opencollective/issues/1141

[2019-07-01 15:28] xdamman commented on #2182
Let's wait for @alanna's go then I'll make the change.
The dashboard URL will also change from opencollective.com/opensourcecollective/dashboard to opencollective.com/opensource/dashboard

[2019-07-01 15:34] znarf commented on #2133
We have to be clear about the wording and what status we give to these `orders` after that.

The `CANCELLED`and `REJECTED` statuses are already taken for other cases, so we need something different.

[2019-07-01 15:43] t-k- opened #2186 "Submitted an expense 11 days ago but still not get paid."
**Describe the bug**
Submitted an expense 11 days ago but still not get paid.

**To Reproduce**
As the core member, I submit an expense 11 days ago

It should have enough balance for what I've requested for, but no new transaction has been issued.

Here is my collective:
https://opencollective.com/approach0

[2019-07-01 15:56] znarf commented on #2186
Please contact support http://opencollective.com/support

[2019-07-01 15:56] #2186 closed

[2019-07-01 16:10] znarf commented on #2157
The Chapters page is not a static page but a "super collective", actually a "super organization".

To delete it, we need to remove this organization from the database.

[2019-07-01 16:12] znarf commented on #1977
That was fixed with scripts.

https://github.com/opencollective/opencollective-api/blob/master/scripts/collective-image-check.js
https://github.com/opencollective/opencollective-api/blob/master/scripts/collective-image-update.js

[2019-07-01 16:12] #1977 closed

[2019-07-01 16:37] BenJam commented on #2168
💯

IMO this is a much friendlier way of saying:

In general I'd vote for keeping the opencollective.com vertical-free, providing a fair share of money managed from *all* hosts to OC Inc. and being more forward about the deal for hosts: "%age/fee to platform, %age to you and X projects currently looking for a host". This means by default OC supports 'hosts of one project' and may need to make impro

[2019-07-01 16:44] znarf commented on #2144
@alanna in this expense, you say that you had to reduce the total slightly to cover paypal fees.

Do you think the problem could be related to that?

Now that it's paid, it's difficult to troubleshoot.

[2019-07-01 16:58] znarf commented on #2159
I think it's important to first always display the timezone.

Then we calculate local time, and if it's different, we can add the time in the user timezone.

[2019-07-01 17:03] #2099 closed

[2019-07-01 17:33] znarf commented on #2182
I'm afraid the proposal is not resolving the confusing terminology used here.

- opensource: the "Open Source Collective" organization, a Host
- opensourcecollective : he "Open Source Collective" collective, a "Host Collective" linked to the "Open Source Collective" organization

Why is it confusing in the first place?

- The Open Source **Collective** is not a "collective", it's an "host", an "or

[2019-07-01 20:37] xdamman commented on #2182
I’m fine with your proposal @znarf.
We will fix this at some point in the future. A host should be a role, not an entity. It’s a type of contribution that can be offered by a user, an organization or a collective. But that’s for later.

[2019-07-01 21:43] mixmix commented on #2159
recommend you / a designer draws a scamp (mock up on an envelope) so the person fixing this know what you mean - timezones are curly!

[2019-07-01 22:02] alanna commented on #2168
@piamancini which part do you feel you are having to argue again? I understand that these conversations have been happening for a long time, but even as a team member I do not know what the conclusion has been. I think this speaks to the need we identified in the recent workshop: get better at clarifying the outcomes of decisions so we don't need to revisit them repeatedly.

@BenJam what you are s

[2019-07-01 22:18] alanna commented on #2181
OK. In that case the error message is misleading. Maybe we should add the host name to the approval screen to make it clearer which host it's referring to?

[2019-07-01 22:33] alanna commented on #1590
It would be great to have this and it's such a tiny change that I think we should keep it in the backlog. @znarf possibly a good bounty?

[2019-07-01 22:35] alanna commented on #2169
Yes I suggested to them to just make a link using text or image of the tier box once we have the new individual pages for tiers released. They want it to show the number of financial contributors at that tier, which is a dynamically updating number, hence the request for a widget.

[2019-07-01 22:37] alanna commented on #2185
Yep Pia remember I said I have a calendar reminder to add the Create Tim
funds and I thought I already did it last month, but you also did it
because you remembered we don't get notifications for it.

Right now we can't refund manually added funds so I don't know how to fix
this.

[2019-07-01 22:38] alanna commented on #2133
How about "expired"? It doesn't matter too much what word we use for the status. I think in the UI it should say 'cancel' because that's the action the admin is taking.

[2019-07-01 22:50] alanna commented on #2144
I don't think it's due to the paypal fees situation, because we often have expenses where there isn't enough to cover fees come up in 'ready to pay'. I don't think the system checks that until you press 'Pay' and if there's not enough to cover fees it throws an error.

[2019-07-01 23:02] alanna commented on #2182
I agree with this change in theory. I'm just nervous because there are a lot of links to opencollective.com/opensourcecollective out there and I don't know how to find them all and change them.

I guess.... go ahead and do it and we'll fix any broken links as they come up. I definitely prefer opencollective.com/opensource pointing to the host organization page, because it's much more commonly used

[2019-07-01 23:06] alanna commented on #2182
I just searched for the string "opencollective.com/opensourcecollective" in the codebase and there are a bunch of instances. Will these automatically change to "opecollective.com/opensource" @znarf ?

I also searched for that string on Google and there are a few links out there but nothing critical. I think once this change is made, I will just put a note on the "opensource-collective" Collective

[2019-07-02 04:41] RussKie commented on #1458
Looking at our collective, we're getting skimmed off 20% which is quite substantial
![image](https://user-images.githubusercontent.com/4403806/60483069-46214d00-9cd7-11e9-9584-adc284981b1d.png)

[2019-07-02 06:57] znarf commented on #2182
If we move forward, we need to fix all these links in sync with the change. We can also put a redirect in place linking `opensourcecollective` to either `opensource` or `opensource-collective`.

[2019-07-02 07:38] piamancini opened #2187 "Forum is going down"
forum will be down today:
we need to

- [x] remove link from footer
- [x] update the DNS records and remove the CNAME pointing to their servers (@znarf)
- [x] look into the automated emails to see where it's mentioned and remove it (@piamancini)
- [ ] remove it from documentation (@alanna)

[2019-07-02 07:41] znarf commented on #2187
There is no link in the footer from quite some time right?

[2019-07-02 07:43] alanna commented on #2182
OK let's do it.

[2019-07-02 07:53] piamancini commented on #2187
you are right.
(side note @alanna there is a link to /opensource there for when we make the slug swap)

[2019-07-02 09:01] alanna commented on #2181
Closing this. I'll raise a new issue for the small change to make it clearer what host is being referred to.

[2019-07-02 09:01] #2181 closed

[2019-07-02 09:04] alanna opened #2188 "Indicate the fiscal host when approving a new Collective"
## User story
As a fiscal host admin, when I am approving a Collective, I would like the screen to display the host name, so I can understand what's happening if it fails.

## Best solution for this problem
When a new Collective applies to a host, the admin gets an email. If they click "approve" they are sent to a page where it says "approving" then either "done" or an error if it fails. Recently

[2019-07-02 09:08] gusaus commented on #2157
As someone appointed by @xdamman as core contributor and spent a great deal of time trying to  enable a [global community team](https://docs.google.com/document/d/1XtwlM-BI0wdYTJEw1ygPkHOg2ccXqGzvGfdMzXjymqQ/edit?usp=sharing) it's disappointing to see deleting chapters as a better alternative than clarifying the terminology so it's consistent with how most OSS projects/Open Collective customers us

[2019-07-02 09:09] alanna commented on #2165
@xdamman can you please do this one on Friday? It's a blocker for new hosts trying to activate.

[2019-07-02 09:10] #2119 closed

[2019-07-02 09:15] znarf opened #2189 "Upgrade styled-components to version 4.3"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the Frontend, we're currently using the version `4.2` of  `styled-components` and the upgrade to version `4.3` has breaking changes.

We want to:

- [ ] upgrade the package
- [ ] adapt the code where it's used
- [ ] make sure the tests are passing

See:
- the opened PR: https://github.com/opencollective/

[2019-07-02 10:31] Betree opened #2190 "Add Github bot to update language files"
# What

We'd like to be able to ask a bot to update our languages files and commit them on the PR, in the same way that we give commands to dependabot (something like `@oc-internal-bot update languages`). This is a time consuming process.

# How

To update the language files, [Github Probot](https://probot.github.io/docs/development/) would definitely work but I'm not familiar with it so I don't k

[2019-07-02 11:02] salaboy commented on #2168
@alanna @piamancini
Some outsider comments here, about the **Potential Directions** without having enough insights of the history of Open Collective, but with having 12 years of Open Source background (ex Red Hat/JBoss, ex Alfresco and contributor of a number of Open Source projects)
I found the idea of Open Collective amazing, and I would love to see this all over the place to raise awareness of

[2019-07-02 12:41] #2184 closed

[2019-07-02 13:44] flickz commented on #2147
Initially when `amountType` was added to the Tier column the value was set along in the [migration file](https://github.com/opencollective/opencollective-api/blob/master/migrations/20190509094659-add-amountType-column-to-tiers.js#L14-L27) for each tiers, at that point, no `amountType` was supposed to be `NULL`. But we didn't disallow NULL in the model nor set defaultValue.

After the [tier validat

[2019-07-02 14:25] Betree opened #2191 "Spinning logo looks buggy when image is not loaded"
**Describe the bug**
I had this bug a few times on mobile and desktop. It's especially visible when using a slow connection. Normally the logo is rotating while the page is loading:

![Peek 02-07-2019 16-21](https://user-images.githubusercontent.com/1556356/60520302-71ab3400-9ce5-11e9-9e11-70a2257229f7.gif)

But if the image is not loaded yet the alt text produce a very strange looking results.

!

[2019-07-02 14:33] znarf commented on #2191
Classic :-/

[2019-07-02 14:46] raulgrafico commented on #2191
While using Safari, the browser sometimes only loads the top of the website, so the logo remains spinning forever until you scroll the site all the way down to load all the content.

[2019-07-02 14:59] #2131 closed

[2019-07-02 18:41] skade commented on #1746
The lack of this was pointed out in one of our campaigns as a reason against using Open Collective as a donor. https://www.reddit.com/r/rust/comments/c8951c/status_of_rustanalyzer_achievements_and_open/

[2019-07-02 20:59] znarf commented on #1746
@skade Looks like that this person is more asking for login + password first https://github.com/opencollective/opencollective/issues/1738 Which is absolutely legit. I definitely see that coming in the near future.

[2019-07-02 22:31] udoprog opened #2192 "Sign-in link can be used multiple times over a long time period and on different devices"
**Describe the bug**
Sign-in links ~don't expire~ has a long expiration, can be used multiple times and could employ stronger security practices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/ and click "Sign In"
2. Sign in using your email through the provided link.
3. Sign in again:
   * Open another incognito tab and use the same link to sign in again.

[2019-07-02 23:13] mixmix opened #2193 "Add info when approving or rejecting expenses from email"
I got an email saying there was an expense, I clicked the **Approve** button.
Site opened and I waited for .... 20-30 seconds while nothing at all showed up. Site appeared dead.

Then the page loaded and almost immediately jumped to this :

![image](https://user-images.githubusercontent.com/2665886/60552499-32332500-9d83-11e9-8ea6-1eda97622711.png)

I would just like to see the details of what exp

[2019-07-02 23:54] alanna commented on #2193
Sort of related to #2188 - all approval screens should have basic info about what you're approving.

[2019-07-03 00:02] alanna commented on #2164
I'm closing this because we'll have a toggle setting soon and this won't matter.

[2019-07-03 00:02] #2164 closed

[2019-07-03 02:14] alanna commented on #2026
This hasn't happened again

[2019-07-03 02:14] #2026 closed

[2019-07-03 02:18] alanna commented on #1985
@znarf why is this medium complexity, if it's just revealing a setting in advanced that allows users to set the hostCollective id?

[2019-07-03 02:20] alanna commented on #1908
This has not come up again

[2019-07-03 02:20] #1908 closed

[2019-07-03 02:29] alanna commented on #1849
I am bumping this again because I still don't think the contact button in the new Collective page is obvious enough. Instead of hiding among the other menu items, it should be a big button in a highlight color. This is one of the top reasons people contact support and a big unnecessary wall between Collectives and potential sponsors.

![Screen Shot 2019-07-03 at 2 24 24 PM](https://user-images.git

[2019-07-03 02:31] alanna commented on #1697
I think this is important because it's a feedback loop between backers and Collectives.

[2019-07-03 02:32] alanna commented on #1581
This is important because it's still a very common support request that we get.

[2019-07-03 02:34] alanna commented on #1429
More and more expense submitters are asking for transfer via Transferwise or ACH. It's a commonly requested feature and will be essential if we want hosts to be more scalable.

[2019-07-03 02:34] alanna commented on #1305
This will be moot with the new tax form process.

[2019-07-03 02:34] #1305 closed

[2019-07-03 02:35] alanna commented on #1222
We get support requests for this a lot. People think their personal info on attachments will be public. This stops people from submitting expenses because they don't understand that it's private.

[2019-07-03 02:49] alanna commented on #1220
This will be made obsolete by the new tax form system. We will be shutting down tax bot. No other host uses it as far as I know.

[2019-07-03 02:49] #1220 closed

[2019-07-03 02:57] alanna commented on #2157
@gusaus "chapters" are just fiscal hosts. That's the clarification of the terminology. We are not in any way lessening our support of new and existing fiscal hosts, simply removing this confusing and redundant term.

[2019-07-03 04:27] udoprog opened #2195 "Login form allows for user enumeration"
**Describe the bug**
Attempt to login with an address that isn't registered will indicate that the account is not registered (i.e. "there is no user with this address").

**To Reproduce**
Input `test@tedro.se` or some other address that isn't registered in the login form and try to login.

**Expected behavior**
The login form should show the same message regardless of if the user is registered or

[2019-07-03 05:40] alanna commented on #1132
We still need this fixed

[2019-07-03 06:03] alanna commented on #2092
Without a reject Collective function, spam like this stays on our site forever: https://opencollective.com/rally-en-ferrari-dans-ta-pousy

[2019-07-03 07:24] znarf commented on #1985
Good question. I was thinking of a nice looking select, not just an id, and I anticipated complexities with that. We also need to display that only for hosts, forcing us in double checking the definition of hosts in the model. It's almost a simple but I tagged it medium for these possible complexities.

[2019-07-03 07:29] znarf commented on #2092
@alanna Rejecting such collective would have no effect on the availability of this page. In this case, the collective should be simply deleted.

I would be happy starting a conversation about cleaning our DB from Collectives we don't want (failed attempts, spam, errors, no activity ever).

[2019-07-03 07:41] Betree commented on #1849
I've also reported multiple times that having `Contact` in the NavBar was confusing because it's not a nav link, it's an external link. I actually miss clicked it multiple times trying to scroll the page so my intuition is that users will be confused.

@xdamman also gave a feedback I agreed on, with the `Share` button not being necessary on this page (so we could just replace it by Contact).

I'm

[2019-07-03 07:45] znarf commented on #2192
In the current implementation, the expiration for login links is exactly 24 hours. There is effectively no other invalidation mechanism at the moment.

[2019-07-03 07:56] znarf commented on #2195
This was reported in the past, and at that time and for this precise point, we fell it was more important to give that feedback to the user, versus not giving that information.

A lot of websites are telling you the exact same information through the "Sign Up" / "Register" form. How is that different?

[2019-07-03 08:22] udoprog commented on #2195
It's not. They either make an active decision on whether the risk and privacy of their users is worth the inconvenience or do it without considering if it is.

Can you link the previous discussion? I'm unable to find it.

In my mind It's understandable that big services like Facebook and Google does it - everyone is assumed to have an account anyways and especially with Google it's _probably_ a 1:

[2019-07-03 08:48] znarf commented on #2195
I'm unable to find the previous discussion now. Not sure what was the medium at the time :-/

I just tested with GitHub, Patreon and Spotify, and they're all disclosing this information in their Signup form. Looks like a widespread practice, not saying we should not do anything about it.

[2019-07-03 09:20] piamancini commented on #2192
hi @udoprog Thank you for opening this issue! I followed the conversation on reddit. As @znarf mentioned, time limit is now 24h. This is something we've been wanting to upgrade for a while now, thanks for pushing us to re think about it. We'll have a chat about potential (and feasible) next steps for us and update this issue.

[2019-07-03 12:08] #1387 closed

[2019-07-03 12:08] #1560 closed

[2019-07-03 12:09] Betree commented on #1387
:trophy: This issue is now completed.

@leonardohof To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your invoice, please re

[2019-07-03 12:25] BenJam commented on #2168
pretty much.

++ I see flows for registering a new 'host-less' project, advertising a project as needing a host/finding existing hosts and for hosts to find projects.

[2019-07-03 14:46] #2189 closed

[2019-07-03 15:16] cuiki commented on #1849
Hi guys, I would not do it as a CTA like in Alanna's example. Contacting the Collective is not the main action we want people to do and this will send that message.

We do agree on moving the **Contact** link to the right hand side in the same style as the **Get Updates** and **Share** buttons. The action will be to try and move the **Share** button to the area below the collective name and move t

[2019-07-03 15:54] xdamman opened #2196 "Enable VAT on a per collective basis"
Whether or not a collective falls into the VAT regulation depends on its status.

By default, a collective is an unincorporated partnership for which the host is just holding money on their behalf. In that case, it is the responsibility of the collective to register their own VAT number if needed to be.

Some hosts may offer collectives to be part of their entity. This could be necessary for examp

[2019-07-03 16:16] xdamman commented on #2172
Turns out the problem is that the currency of the event was USD instead of CAD.
I'm creating another issue to make sure that when we create a new event, it takes the current of the parent collective, not of the host collective.

[2019-07-03 16:17] xdamman opened #2197 "New events should have the currency of the parent collective, not the host's"
This is the cause of #2172

[2019-07-03 20:43] gusaus commented on #2157
If chapters was just about creating regional Open Collective entities, I doubt many would have joined #chapters... nobody would have accepted the invitation to become core contributor (there were 3 community members), spent any time with Open Collective team members trying to clarify potential points of confusion, or started the work of creating organizer guides. https://github.com/opencollective/

[2019-07-03 21:40] xdamman commented on #2197
Only two events were impacted by this issue:
https://opencollective.com/net2van-meetup/events/google-analytics-101-master-class-for-nonprofits-taught-by-a-marketing-veteran-16534ev
https://opencollective.com/net2van-meetup/events/changemakers-summer-potluck-cmpotluck-16534ev

They were in USD despite their parent collective being in CAD.

To solve this I've temporarily changed their parent collect

[2019-07-03 21:41] xdamman opened #2198 "bug for cross currencies donations between collectives"
In the process of fixing #2197, I noticed another bug for cross currencies donations between collectives:

The DEBIT transaction should be in the currency of the `CollectiveId`. Right now it's in the currency of the `FromCollectiveId` that receives the money. As a result, the computation of the balance of the collective that gave money was erroneous because it included transactions in multiple cur

[2019-07-03 21:45] xdamman commented on #2172
I've manually fixed this issue in the database for the two events impacted. I've also created a pull request to make sure this doesn't happen in the future, see https://github.com/opencollective/opencollective/issues/2197

[2019-07-03 21:45] #2172 closed

[2019-07-03 21:55] xdamman commented on #1849
if contact is (for now) a mailto link to an email address, why not putting it visually along side the website url of the collective?

[2019-07-03 23:49] elijahv commented on #2197
Thanks @xdamman I'm struggling with a related problem as I try to archive https://opencollective.com/techforgoodnz/

I want to Empty the Collective balance (which is in NZ) currency and send to "NetSquared Administrative Collective" (USD). But I get the error "Invalid currency. Expected USD."

<img width="965" alt="Screenshot_2019-07-03__4_48_PM" src="https://user-images.githubusercontent.com/3868

[2019-07-03 23:58] elijahv opened #2199 "Archive past events"
## User story
_As <administrator>, I can <archive or "hide" past events> so that <I have a clean collective page and don't confuse my members.>_

## Best solution for this problem
Ability to "archive" old events so that only Core Contributors can see the events.
Archiving would only be possible for events that are:

* past
* has balance at zero (ie. balance transferred to main collective)

## MVP

[2019-07-04 00:03] elijahv opened #2200 "Display event year"
## User story
_As <user>, I can see WHEN an event is/was scheduled so that I can identify if an event is past or upcoming.

## Best solution for this problem
Add event YEAR to event pages.

<img width="1131" alt="Screenshot_2019-07-03__4_54_PM" src="https://user-images.githubusercontent.com/3868907/60631418-2f045d00-9db4-11e9-9037-bbac91926260.png">

<img width="808" alt="Screenshot_2019-07-03__5_

[2019-07-04 01:42] alanna commented on #1215
Every 1st of the month we are getting support requests from people who started new recurring contributions in the proceeding few days and are angry about being "double charged". This is despite improve the help text explaining this on the contribution screen.

I believe we should change how our recurring charges work, so that you are charged when you set it up, and then on that day of each month g

[2019-07-04 01:44] alanna commented on #1215
Pretty much every month we have a user threatening to do a chargeback on their credit card. Who knows how many are just doing that without even contacting us? That's pretty bad for us.

[2019-07-04 02:21] gusaus commented on #2141
WWCode and Open Source Collective supercollectives have been showcased many times to the Drupal community. Although none have needed this functionality to this point, that hopefully should change soon.

Because the host is usually Open Source Collective (host acting as a collective probably wouldn't work in this case), we'd need the functionality similar to what @xdamman is describing https://gith

[2019-07-04 07:21] znarf commented on #2198
@xdamman can you take care of it?

[2019-07-04 09:43] #2163 closed

[2019-07-04 10:00] Betree commented on #1215
I agree with that. I was personally surprised by the current behaviour when I first discovered Open Collective and this :arrow_up: is what I would have expected.

---

One assumption that I have is that some users may actually be discouraged to contribute because of this issue. I've collected some data to challenge this assumption.

There seems to be a pattern where we have less subscriptions crea

[2019-07-04 10:07] Betree commented on #1215
Also from the previous data:

| Days of the week | Average |
|----------------|-------|
| 1 -> 7              | 118.4285714285714286   |
| 8 -> 15              | 99.8750000000000000   |
| 16 -> 23             | 86.1250000000000000   |
| 24 -> 31              | 83.5000000000000000   |

Note that last week's numbers can partially be explained by the fact that some months have less days for the last

[2019-07-04 10:25] piamancini commented on #1215
I agree we need to change this behavior as is. The  current justification is weak and the issues it brings are several.

The real justification for doing was having the ability to batch payments. If we bundle all payments on one day of the month we can make on charge a month for all subscriptions. The benefit of this is improving fees in small donations and also having one invoice / one charge per

[2019-07-04 10:31] alanna commented on #2168
@xdamman and I had a good conversation about strategy stuff, and I want to capture notes here while it's still fresh. After going over everything, this is what emerged:

## A. The Open Source Collective should double down on open source
To do that, it needs to become a much stronger independent organization. We've taken small steps in that direction this year (hiring me as exec director, working o

[2019-07-04 10:53] rdinicut commented on #2049
@znarf I would like to start on this

[2019-07-04 11:46] Betree commented on #1215
@piamancini We currently have 3466 active subscriptions for less than $10, which represents a total of $11.912/month + $23/year.

| interval | count | sum |
|-------|------|---------|
| month | 3359 | $11912 |
| year  | 7    | $23    |

<details>

[code]

</details>

[2019-07-04 11:49] Betree commented on #1215
Also the conclusion from https://github.com/opencollective/opencollective/issues/1916 was that batching would currently save ~$233.70/month in stripe fees.

[2019-07-04 12:02] znarf commented on #2094
@brymut any progress since last review? if not, we'll unfortunately have to release the bounty for someone else to take over

[2019-07-04 12:05] brymut commented on #2094
Hi, I'm sorry for the delay. I have made some more progress, planning on pushing later on tonight just working out some issues I came up on with the tests.

[2019-07-04 13:08] xdamman commented on #2198
Not sure when but sure.

It looks like it will be a rabbit hole, especially if we want to fix past transactions.

[2019-07-04 13:09] #2197 closed

[2019-07-04 13:15] #2147 closed

[2019-07-04 13:16] xdamman commented on #2197
This is related but a different situation.
I've manually emptied the balance of that collective so you should be good now.

Do you foresee to face this situation a lot?

[2019-07-04 13:25] elijahv commented on #2197
Thanks! I anticipate running into a similar situation at least twice a year as chapters of my network come and go..

[2019-07-04 13:31] sloria opened #2201 "Unexpected error when visiting "Recurring financial contributions""
# Describe the bug

I got an unexpected error on https://opencollective.com/sloria/subscriptions while I was trying to view my subscriptions.

# To Reproduce

1. Go to https://opencollective.com/<username>/subscriptions

# Device
- OS: macOS Mojave
- Browser: Firefox 67.0

[2019-07-04 13:39] #1906 closed

[2019-07-04 13:40] Betree opened #2202 "Terminology: "Get updates" vs "Subscribe" vs "Follow""
During the team retreat, we had a chat with @xdamman and @raulgrafico about the terminology for #1445 and especially the label for this button:

![image](https://user-images.githubusercontent.com/1556356/60669707-405e6f80-9e6f-11e9-9bfe-4238cb575938.png)

We were not able to find the past discussion about this.

There were arguments that we should use `Subscribe` or `Follow` instead of `Get update

[2019-07-04 13:42] znarf commented on #2201
@sloria thank you for reporting. there is something specific to your account that is triggering the error, we're looking into it.

[2019-07-04 13:56] sloria commented on #2201
OK, no rush on this on my end. Let me know if I can help diagnose.

[2019-07-04 14:06] znarf commented on #2201
Seems a collective you pledged to was deleted (pytest). This is an unexpected case. If that's right, I can delete the pledge.

They joined the platform with a different account: http://opencollective.com/pytest

[2019-07-04 14:07] sloria commented on #2201
Yes, go ahead and delete the pledge.

[2019-07-04 14:55] znarf commented on #2201
Done!

[2019-07-04 14:55] #2201 closed

[2019-07-04 19:00] piamancini commented on #1869
let's keep this open. We are working with @znarf on some of these issues.

[2019-07-04 19:25] piamancini commented on #2202
Since 'Subscribe' is an action related to a financial contribution (we have subscriptions) I would keep Get Updates.

[2019-07-04 22:39] alanna commented on #2202
That's the opposite of what we decided @piamancini

We have removed the word 'subscribe' in reference to financial contributions throughout the app and site.

The action we decided for getting updates was explicitly "Subscribe" because that is the common meaning of that word on the internet. We moved away from subscribe for financial contributions specifically to free up that word.

@Betree if uns

[2019-07-04 22:40] alanna commented on #2202
I really need us to stick to the decisions we made about terminology, otherwise we will be having the same conversations over and over. This is a classic example of making a clear decision, communicating it, and not rehashing.

[2019-07-05 01:48] alanna opened #2203 "Change button link on "new expense approved" email from "view all expenses" to "view expense" to see that specific one"
## User story
As an expense submitter, Collective Admin, or Host Admin, I want to be able to go from the "expense approved" email to that expense's page directly, instead of all Collective expenses.

## Best solution for this problem

Change the button link to point to that expense URL.

## How to do it

Edit the template file.

https://github.com/opencollective/opencollective-api/blob/master/temp

[2019-07-05 04:53] alanna commented on #1758
I'm adding priority to this because I just actually paid a "donation" expense today and I don't know what that means or how to undo it. We need to disallow users from selecting this option until we fix it.

[2019-07-05 07:12] Betree commented on #2202
Alright, that solves the issue. @alanna can we export the conclusions of the terminology issue somewhere (maybe in https://docs.opencollective.com/help/about/glossary)? Issues are a place of debate and discussion, it's not easy to find the conclusions in there.

[2019-07-05 07:16] Betree commented on #2202
Actually after reading the conclusions I see a decision about not using `Subscribe` for the recurring financial contributions, but I don't see any decision for naming this feature.

We still have to decide whether we want `Follow` or `Subscribe`.

[2019-07-05 08:06] xdamman commented on #2202
I’d go for “Follow”.
It feels less involved than “Subscribe”. When you subscribe, it could mean that you may have to pay something.
Follow feels very light touch, very easy.

That said, I could live with Subscribe if you really feel strongly about it.

But I’m really not a fan of “Get Updates”. What popular website is using such terminology? The more we can tap into a shared reference that people

[2019-07-05 09:02] xdamman opened #2204 "Monthly report to backers includes orders with status ERROR"
See Order Id 47376

[2019-07-05 09:10] #2138 closed

[2019-07-05 09:16] BenJam opened #2205 "Show 'tax status' and/or 'for/non-profit' to hosts"
## User story
As a core contributor to a collective I want to find a host that fits my mission and my primary currency, but I may also prefer my donations to be tax deductible and/or my host to be a non-profit making organisation.

## Best solution for this problem
Hosts would indicate whether, for their own legislative region(s) whether donations are tax deductible and indicate whether the organi

[2019-07-05 10:11] znarf opened #2618 "Ability to select analyzed repositories"
### Story

When browsing a profile (organization or user), I want to be able to select/unselect analyzed repositories.

Currently, all repositories are analyzed and this should stay the default, all checked by default.

### Scenario

1. Go on https://backyourstack.com/
2. Go to an organization or user profile, ie: https://backyourstack.com/airbnb
3. Go to "Analyzed Repositories"
4. All repositorie

[2019-07-05 14:02] znarf commented on #2137
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) events. if not completed there, it will be later open to everyone

[2019-07-05 14:10] znarf opened #2206 "Implement Twitter Card on Collective Page"
Similar to Facebook (see https://github.com/opencollective/opencollective/issues/2137), when sharing on Twitter we want links to Open Collective to appear in the best possible way.

To do that, we might want to use Twitter Cards:
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html

How should it look?

- Title: `collective.name` - Open Collective
- Descript

[2019-07-05 14:10] znarf commented on #2206
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:11] znarf commented on #2137
Looks like Facebook works now. Following up for Twitter in https://github.com/opencollective/opencollective/issues/2206

[2019-07-05 14:11] #2137 closed

[2019-07-05 14:16] znarf commented on #2049
@rdinicut We're partnering with OSCA this week-end (Open Source Africa) and this bounty will be part of a selection made for the event. If not completed there, you will be able to assign you next week.

[2019-07-05 14:17] znarf commented on #2167
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:18] znarf commented on #2179
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:19] znarf commented on #2180
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:20] znarf commented on #2188
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:26] rdinicut commented on #2049
@znarf Awesome. I was wondering what osca is :). Hope all goes well!

[2019-07-05 14:26] znarf commented on #2156
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:37] znarf commented on #1878
@yellowwoods12 sorry, the time limit is exhausted, I can't lock this bounty longer for you.

This bounty is available to participants of the OSCA (Open Source Africa) event.

[2019-07-05 14:41] znarf commented on #2100
It will be taken care of in https://github.com/opencollective/opencollective/issues/1878

[2019-07-05 14:44] znarf commented on #2203
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:48] znarf commented on #2110
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:50] #2022 closed

[2019-07-05 14:51] znarf commented on #1965
@xdamman Do you have steps to reproduce or we can close?

[2019-07-05 14:52] znarf commented on #1910
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:52] #1904 closed

[2019-07-05 14:52] xdamman commented on #1965
Couldn’t reproduce. Closing.

[2019-07-05 14:52] #1965 closed

[2019-07-05 14:54] znarf commented on #1817
Should have been fixed in https://github.com/opencollective/opencollective-api/pull/2064

[2019-07-05 14:54] #1817 closed

[2019-07-05 14:55] piamancini commented on #2202
We moved away from subscribe for financial contributions specifically to free up that word.
Cool - if we moved away from it then I'm ok with Subscribe (as long as there is no piamancini/subscriptions page showing our financial contributions)

[2019-07-05 14:55] znarf commented on #1759
We should not do that anymore, closing.

[2019-07-05 14:55] #1759 closed

[2019-07-05 14:57] znarf commented on #1532
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 14:59] znarf commented on #1510
As discussed here for example https://github.com/gulpjs/gulpjs.github.io/pull/103, we introduced a new REST endpoint with CORS enabled.

@dodgepong would be great to also use that endpoint for OBSProject, see this issue https://github.com/opencollective/opencollective/issues/2037

[2019-07-05 14:59] #1510 closed

[2019-07-05 15:00] znarf commented on #1471
This was fixed.

[2019-07-05 15:00] #1471 closed

[2019-07-05 15:01] znarf commented on #1270
@xdamman Which tweet are we talking about here?

[2019-07-05 15:03] znarf commented on #2114
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:05] znarf commented on #1832
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:06] znarf commented on #1819
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:06] znarf commented on #1786
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:07] znarf commented on #1773
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:08] znarf commented on #1666
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:08] znarf commented on #1649
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:10] znarf commented on #1368
We're taking care of that in https://github.com/opencollective/opencollective/issues/2116

[2019-07-05 15:10] #1368 closed

[2019-07-05 15:10] znarf commented on #1733
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:11] znarf commented on #543
A $50 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the OSCA (Open Source Africa) event. If not completed there, it will be later open to everyone.

[2019-07-05 15:32] XVilka opened #2207 "Support AliPay and WeChat payments system"
They are very popular in China and the neighborhood ring. And apparently Stripe supports both of them:

- AliPay https://stripe.com/docs/sources/alipay
- WeChat https://stripe.com/docs/sources/wechat-pay

With China's middle class and IT community growing it might give you a significant increase in transactions.

[2019-07-05 16:30] Betree commented on #2202
I'll add that from the **existing** users perspective, "Subscription" === "Recurring financial contribution". We may want to avoid re-using this word for a different feature too quickly to avoid any confusion.

[2019-07-05 17:38] kroitor commented on #1368
@znarf thank you!

[2019-07-05 18:09] #1784 closed

[2019-07-06 08:58] mykeels commented on #2206
I'm interested in working on this

[2019-07-06 13:37] NotJohs commented on #2206
I am taking up this issue.

[2019-07-06 13:49] alabobriggs commented on #2203
I'll be working on this

[2019-07-06 13:50] alabobriggs commented on #2179
I'll be working on this

[2019-07-06 13:50] Akumzy commented on #2203
I'll like to work on this

[2019-07-06 13:50] Sokan93 commented on #1666
I'm Ayodeji Sokan from the OSCA event. I'd like to work on this!

[2019-07-06 13:51] alabobriggs commented on #2156
I'll like to work on this

[2019-07-06 13:52] Akumzy commented on #1666
I'm working on this #OSCAPH

[2019-07-06 13:55] doncitymail commented on #2206
This issue is mine

[2019-07-06 13:56] gbless17 commented on #2180
I would like to take up this issue Am from OSCAFRICA

[2019-07-06 13:56] alabobriggs commented on #1773
am from osca ph and I'll like to work on this

[2019-07-06 13:56] alabobriggs commented on #1532
am from osca ph and I'll like to work on this

[2019-07-06 13:59] Dumzicoders commented on #2081
I am from OSCA PH

[2019-07-06 14:00] burinious commented on #1819
from #oscaph will like to work on this issue

[2019-07-06 14:00] alabobriggs commented on #1910
am from osca ph event and I'll like to work on this

[2019-07-06 14:01] osumgbachiamaka commented on #2188
I am from open source meetup ph will like to solve this issue #bounty

[2019-07-06 14:02] alabobriggs commented on #1786
Am from osca ph and I'll like to work on this

[2019-07-06 14:03] bigpreshy commented on #2167
I am Precious Luke from #oscaph.
I am working on this issue

[2019-07-06 14:13] alabobriggs commented on #1666
Am from osca ph and will like to work on this

[2019-07-06 14:18] Akumzy commented on #1733
I'll like to work on this (OSCA PH)

[2019-07-06 14:18] burinious commented on #543
from #osca ph will like to work on this issue

[2019-07-06 14:28] debemenitammy commented on #1832
Hi I'm Deborah from the OSCA Event Port Harcourt and I'll be working on this issue.

[2019-07-06 14:35] debemenitammy commented on #1832
Should I do it this way?

[2019-07-06 14:40] mikkidollar commented on #2114
I am michael from OSCPH and i want to work on this issue

[2019-07-06 14:45] Shedy151 commented on #2038
I'm Shadrach from  osca PH i will be working on this...

[2019-07-06 14:45] mikkidollar commented on #2110
Hi am micheal from OSCAFRICA , i want to work on this issue

[2019-07-06 14:48] mikkidollar commented on #2049
Hi i am from OSCAFRICA i would like to work on this

[2019-07-06 14:50] Shedy151 commented on #1878
i am shedy from osca PH I will be working on this...

[2019-07-06 14:54] znarf commented on #1832
@debemenitammy Try to move the package to `devDependencies` and see if that works. You might have to tweak eslint warnings for each import.

[2019-07-06 14:54] burinious commented on #543
please I'm confused how do i go about this

[2019-07-06 14:55] znarf commented on #2049
@mikkidollar it's a big one, maybe try to pair with someone else at the event :-)

[2019-07-06 15:05] znarf commented on #543
@burinious You need to add a new field "Button Text" in the "Tiers" administration interface, in the "Edit Collective" panel.

![Capture d’écran 2019-07-06 à 17 03 58](https://user-images.githubusercontent.com/806/60757842-33c54d00-a010-11e9-9f8c-892364ae16d7.png)

[2019-07-06 15:06] znarf commented on #2081
@Dumzicoders There is no bounty on this issue. It's not solvable.

[2019-07-06 15:29] alabobriggs commented on #1733
Am from OSCA ph and I'll like to work on this

[2019-07-06 16:23] alabobriggs commented on #2203
The file specified for this issue does not contain a 'view all expenses' button. The link to the file is 'https://github.com/opencollective/opencollective-api/blob/master/templates/emails/collective.expense.approved.hbs'

[2019-07-06 17:56] znarf commented on #2203
@alabobriggs The author of the issue should be talking about the "View Latest Expenses" link.

[2019-07-06 18:24] alabobriggs commented on #2203
Alright thank you.

[2019-07-06 19:39] NotJohs commented on #2167
@znarf is this issue assigned?

[2019-07-07 08:00] znarf commented on #2167
@NotJohs if @bigpreshy is not working on it, feel free to look at it

[2019-07-07 08:57] NotJohs commented on #2167
@znarf thanks a lot.

[2019-07-07 10:49] AsaoluElijah commented on #2179
Hi @znarf , I'll love to know if this issue is assigned :octocat:

[2019-07-07 13:25] znarf commented on #2179
@AsaoluElijah if @alabobriggs is not on it, feel free to take it

[2019-07-07 13:40] NotJohs commented on #2049
@znarf can I look into this issue?

[2019-07-07 14:57] alabobriggs commented on #2179
I am on it right now @znarf

[2019-07-07 15:11] maddhruv opened #2208 "Sort not working on Discover"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/discover?show=all&sort=true&offset=0'
2. Click on 'Most Popular/Newest'
3. Scroll down to 'Collectives'
4. See error - The collectives are not sorted

**Expected behavior**
The collectives should be sorted as per the filter, Most Popular o

[2019-07-07 15:48] xdamman commented on #1270
The one when there are at least 10 backers.
We should probably simply disable that tweet for events. It doesn’t make much sense.

[2019-07-07 15:54] alabobriggs commented on #1532
I amm having difficulty understanding how to fix this issue. Please I need some guidance @znarf

[2019-07-07 23:01] alanna commented on #2202
I am fine with "follow".

I agree we should give 'subscribe' a break while we fully transition to the new terminology.

Good idea to update the glossary @Betree I will put it on my to-do list.

[2019-07-07 23:05] alanna commented on #2205
This is a good idea. However I don't think it's as high priority as making hosts searchable by country because that's the number one factor in finding the right host. Also, every country will describe their tax stuff using different terminology. So we could just find a generic term like "tax exempt" and use help text to explain what it means, or we could achieve this using tags and guiding hosts t

[2019-07-08 00:11] alanna opened #2209 "Change buttons in "expense paid" email to link to that expense"
## User story
As an expense submitter or host admin, I want to be able to jump from the notification email of a paid expense directly to that expense to see details or make a comment.

## Best solution for this problem
Change the buttons from "Submit Another Expenses" and "View All Expenses" to just one "View Expense" which takes you to that page.

<img width="950" alt="Screen Shot 2019-07-08 at 1

[2019-07-08 02:35] alanna opened #2210 "List expenses on user profile page"
## User story
As a code or service contributor, I want to show off my contributions to Collectives that I have been paid for.

As an admin, I want to see all the expenses paid to a specific user so I can track down issues or documentation easily.

Currently we show contributions, admin roles and events on the user profile page, but not a history of expenses submitted.

This will also become more i

[2019-07-08 02:40] alanna commented on #1149
Just bumping this again because I ran into it again today. When someone refers to an expense and there has been a problem with Paypal, it's very very hard to connect the transactions on our platform to the paypal data to verify if a certain payment has failed or needs to be changed, etc.

[2019-07-08 06:42] znarf commented on #1270
@xdamman good idea

[2019-07-08 06:53] znarf commented on #2203
While doing it, would be great to tackle https://github.com/opencollective/opencollective/issues/2209 at the same time.

[2019-07-08 08:20] piamancini commented on #2210
yes, this is something we've discussed in Brussels for the expense flow from the use case of a collective admin who wants to see the same info. cc @raulgrafico is this in the spec doc already?

[2019-07-08 08:21] piamancini commented on #2202
I'll add that from the existing users perspective, "Subscription" === "Recurring financial contribution". --> yes, this is what I meant above. +1

[2019-07-08 08:26] piamancini commented on #2207
yes, we've looked into it in the past. Thanks for brining it up again.

[2019-07-08 08:37] Betree commented on #2202
Alright, seems that we have a consensus for `Follow`. Thank you everyone!

[2019-07-08 08:37] #2202 closed

[2019-07-08 11:22] Betree opened #2211 "Homepage: styling issues"
- Collective cards

![image](https://user-images.githubusercontent.com/1556356/60806417-3300f800-a183-11e9-8aa4-258e3bc55ad9.png)

- Label too long (should be multiline?)

![image](https://user-images.githubusercontent.com/1556356/60806463-5035c680-a183-11e9-9632-927324fc770f.png)

[2019-07-08 14:46] raulgrafico commented on #2202
Just want to bring to the conversation, @xdamman even users got confused with the expectancy of the "Follow" Label. Part of the feedback we had is that "Follow" was associated with social networks follow option (We got that feedback from an Open Collective Brussels user on Belgium). We need to use a real expectancy label because they are not following anything, they are receiving updates on their

[2019-07-08 15:46] xdamman commented on #2202
You are referring to JF's feedback. His first suggestion was actually "Follow".

If the expectation is different from what we offer (today), we should reconsider what we offer.
We are the ones that should adapt to the expectations of the user, not the other way around.

When a user lands on the page of a collective, they either want to "Follow" it or "Subscribe to newsletter".

From the perspectiv

[2019-07-08 16:47] xdamman opened #2212 "NCP: Improve the look of "Top contributors" when there are few"
For collectives that have no organizations (or almost none) as contributors, the "top contributors" section is weird.

I'd make it optional to add it.

I'd also consider having top individuals on the left and top organizations on the right. People first.

See https://opencollective.com/xr-belgium/v2
![](https://d.pr/free/i/B1IrUz+)

[2019-07-08 16:55] xdamman opened #2213 "custom contribution -> make a donation"
I know that terms have been discussed but seeing them in context changes the perspective.
When going to the collective page, my eye is directly drawn to the tiers.

The title "Custom Contribution" is not clear to me.
It feels like I can define the way I want to contribute (not only financially). It also seems like work.

Why not simply: "Make a donation".
and the tag could be "financial contributi

[2019-07-08 16:57] Betree commented on #2212
Also on http://opencollective.com/captainfact_io/v2 that has literally 0 orgs the section looks empty:

![image](https://user-images.githubusercontent.com/1556356/60827708-14b1f100-a1b1-11e9-8c73-d9d9285a1415.png)

Here's the solution I've been considering to try to always display the 4 columns:

- If no org is donating, show 20 individuals instead (4 columns).
- If less than 5 orgs are donating,

[2019-07-08 16:59] xdamman opened #2214 "Add total amount contributed to list of contributors"
We should be able to see what is the total amount contributed by each contributor (like we do today on the collective page)

![](https://d.pr/free/i/oy6OgS+)

[2019-07-08 17:01] Betree commented on #2212
Also ideas to consider:
- Don't show `Individuals` or `Organizations` labels when there's only one of the two categories
- Display contributors in row (instead of columns) when they're less than 20

[2019-07-08 17:07] xdamman opened #2215 "Missing link to view all expenses"
It would be good to add the latest expenses on the collective page.

At the very least we should add a link to view all expenses but ideally we could add a link at the top of the transactions saying:

![](https://d.pr/free/i/ypwZ7i+)

[2019-07-08 17:09] xdamman opened #2216 "Add explanation about estimated budget"
The balance not the estimated budget should be in bold
Would also be good to add a (i) icon that people can hover to get a short explanation about how the estimated yearly budget is computed.

![](https://d.pr/free/i/XbjyNE+)

[2019-07-08 17:09] Betree commented on #2214
It's not fully implemented yet, but the final design will include the amount donated each month:

![image](https://user-images.githubusercontent.com/1556356/60828656-40ce7180-a1b3-11e9-971d-fcc44bb5628b.png)

Adding new information on these cards requires an update on design: we already reached the limit with the existing mockups:

![image](https://user-images.githubusercontent.com/1556356/6082880

[2019-07-08 17:17] Betree commented on #2216
I asked for a copy to add in the tooltip displayed when hovering `Estimed annual budget` on Figma but received no answer (https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=3880%3A538).

I can propose the following one:

[2019-07-08 17:22] Betree commented on #2104
https://github.com/opencollective/opencollective-frontend/pull/2104 adds support for theming by setting the primary color in `settings.collectivePage.primaryColor`. So the implemented color picker described in this issue should update the color in settings.

[2019-07-08 17:30] Betree commented on #2215
Latest expenses should be displayed, if they're not then it's a bug.

+1 for a link to view all the expenses

[2019-07-08 17:34] xdamman commented on #2215
Ah could be, but it's not clear that they are expenses and not transactions.
So we should be explicit about it (i.e. "Expense by Tiny Brains") and add the status of the expense with a link to it.

[2019-07-08 17:57] Betree opened #2217 "New collective page UX: adapt other pages that use the old cover"
# Problem

A lot of pages use the `CollectiveCover` component, which is the bloc displayed at the top of the legacy collective page. Navigating to such pages from the new collective page induces a confusing experience because the visual identity is very different:

![Peek 08-07-2019 19-46](https://user-images.githubusercontent.com/1556356/60831151-28f9ec00-a1b9-11e9-8d9a-237c49675350.gif)

The red

[2019-07-08 18:05] Betree commented on #2215
I still have some tweaks to do to make it look like the design, I find the fact that the left circles serves either to show an avatar or to display an icon confusing, but I think that's personal taste. Anyway the icon should help, as well as the status of the expense (`Pending approval`):

![image](https://user-images.githubusercontent.com/1556356/60832078-58a9f380-a1bb-11e9-9cb5-072a3d27f85f.png)

[2019-07-08 18:58] NotJohs commented on #2206
@znarf can this issue be closed?

[2019-07-08 19:23] #2206 closed

[2019-07-08 19:23] znarf commented on #2206
Thank you @NotJohs  ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-07-08 20:07] piamancini commented on #2216
This is super confusing for people in general. We should also specify how we calculate it.  Is it calendar year? Is it 12 months projections? What happens with one time donations?

[2019-07-08 20:08] piamancini commented on #2212
@betree I think they'll look at figma more than github. Also for #2212

[2019-07-08 20:10] piamancini commented on #2213
We specifically said we wanted to own the idea of contribution, contribute, contributors. Introducing an adhoc term here 'donation' is confusing. We can't use 'Make a Donation' and the button being 'Contribute'. Also it would be confusing regarding the rest of the tiers that don't have the word 'Donation'.

Custom Financial Contribution should be the right term.

[2019-07-08 20:33] NotJohs commented on #2206
@znarf submitted an invoice.

[2019-07-08 20:40] xdamman commented on #2213
Yes we want to own the idea of “contribution”, “contribute” and “contributors”. But we shouldn’t loose track of what the user expects.

So while we can call this a “custom financial contribution” in our interface when defining the type of tier (i.e. in the “edit tier” interface for the admins), the main title should be something that the end user expects, not the accurate technical term according

[2019-07-08 21:04] Betree commented on #2213
Yes, this part is yet to come.

[2019-07-08 22:50] alanna commented on #2213
I think we should stick with the 'contribution' based terminology we agreed.

However, unless I am misunderstanding, the text @xdamman is referring to is customisable by the Collective right? Is the question here about what the default should be? I think we should stick with our agreed terms and if the core contributor wants to change it to 'donation' they can do it themselves.

[2019-07-08 22:55] alanna commented on #2216
@Betree sorry I didn't see your request about copy. Can you please tag me on future copy requests?

@piamancini is bringing up a good point that this number causes some problems currently. One example was Babel got a one-time big grant and it really skewed their annual budget numbers, making it look like they had a lot more money than they actually would once that one-time grant ran out. This will

[2019-07-08 23:22] Betree commented on #2213
It's not customisable yet but will soon be: https://github.com/opencollective/opencollective/issues/543#issuecomment-508932858

[2019-07-08 23:25] Betree commented on #543
I'm thinking that it would be great to provide multiple pre-defined options (donate, contribute, join, participate, register...) that collective admin can pick. Pre defined options can easily be translated, it's much harder for custom strings.

[2019-07-08 23:27] alanna commented on #543
I don't think we should assume we know what the pre-defined options should be. Better to let it be customizable then look at the actual data to see what the most common ones are and implement that in a future phase if needed. If a Collective's main community is non-English speaking, then they will make the titles in their ow language anyway.

[2019-07-09 07:30] xdamman opened #2218 "Add tags to expenses"
The collective [Agora](https://opencollective.com/agora) would love to be able to add tags to expenses so that they can keep track of how much they spend on e.g. facebook ads, a specific action/campaign, etc.

MVP could be using the same tagging input we have for collectives and add a `tags` column in the `Expenses` table.

Ideally, we should have a `Tags` table so that we can autocomplete and avo

[2019-07-09 07:35] xdamman commented on #2216
I agree that we should simplify and bring some clarity here.

What about changing this to “Yearly Budget (Total financial contributions in the past 12 months)”?

[2019-07-09 07:39] xdamman commented on #2215
Yes, that’s indeed confusing to reuse the same spot and shape for two different concepts.
It’s also weird to have the avatar as part of a tag. It’s too small, it’s two different concepts that are not linked together. I’d keep the tag simple (actually it’s the expense category).

@raulgrafico can you take a look and come up with a solution?

Basically, an expense is a pending transaction. I’d just

[2019-07-09 07:50] alanna commented on #2218
This would be great for budget tracking and reporting.

[2019-07-09 07:53] xdamman commented on #2213
I’m really worried that we start designing for our constrains, not for our users. This is a big red flag for me. “Custom financial contribution” is a very technical term (and a mouthful). I have yet to see this term on the Internet (we are literally the only ones using this [according to google](https://www.google.be/search?q=%22Custom+financial+contribution%22&ie=UTF-8&oe=UTF-8&hl=en-be&client=sa

[2019-07-09 07:56] alanna commented on #2213
I agree we should use simple, friendly language whenever possible. The confusion comes because "donation" is used in our system already for another thing (in-kind, non-financial contributions that are accounted in the budget). There is a risk of us getting too constrained, but there is also risk in being sloppy with the terms. That's how we ended up with all this confusion in the first place. This

[2019-07-09 08:01] Betree commented on #2213
User expecting to find a `Donate` button sounds like something we can (and should) test.

Process would be pretty simple:
1. Present Open Collective briefly, avoid using the terms `Contribute` and `Donate`

2. Give the person a (test) credit card number, ask them to go and support Webpack and open the V2 page for them. Half participants get a page with `Donate`, the other half with `Contribute`

3

[2019-07-09 08:27] znarf opened #2219 "Fragile test: opencollective.virtualcard"
This test is currently randomly failing.

### Test

[code]

### Error

[code]

### File

https://github.com/opencollective/opencollective-api/blob/master/test/paymentMethods.opencollective.virtualcard.js#L246

### Examples

- https://circleci.com/gh/opencollective/opencollective-api/16039
- https://circleci.com/gh/opencollective/opencollective-api/16042
- https://circleci.com/gh/opencollective/ope

[2019-07-09 08:55] Betree commented on #2213
I thought that the blue button at the top was `Donate`, but actually I see that it's `Contribute`.

As we're not changing the existing terminology then my [previous comment](https://github.com/opencollective/opencollective/issues/2213#issuecomment-509535386) doesn't seems to me anymore like a thing we should do.

[2019-07-09 09:23] xdamman commented on #2213
This shows that we are designing for our system, not for the visitors of the page.
Most visitors will never face this other part of the system. If this is creating confusion, I’d address this in the part of the system that is less visible.

I really feel strongly about this because this is a prime example of why open source software has always struggled to offer great front end products. And also

[2019-07-09 09:43] alanna commented on #2213
The best way to "use the language of our users" is to make the wording customizable, which it will be. We said in the team retreat that we wanted to stop rehashing decisions that have already been made. At the same time, we need to keep reviewing things to make sure they are still right and to improve them. But the time to review a decision is *after* you have gone through with implementing it and

[2019-07-09 09:44] alabobriggs commented on #2179
I've been able to find the bug but it is in API not front-end. I think the label should be updated @znarf

[2019-07-09 09:46] alanna commented on #2165
@xdamman are you going to do this one?

[2019-07-09 09:53] znarf commented on #2179
@alabobriggs you might be right, adding the api label

[2019-07-09 09:56] znarf commented on #2183
We can make it drag'n'drop based for admins.

We can save the sorting in the `settings`column of the `Collectives`table.

[2019-07-09 09:59] #2134 closed

[2019-07-09 10:43] xdamman commented on #2213
Sure. But defaults matter. A lot.

In a couple of months? Huh. No.
Aren't we doing this preview release to get feedback? What did I miss?

I agree that we should have a time for feedback, a time for decision, etc.

But in this case, we only agreed on the overall terminology. We never reviewed it in context. It's the first time we can see it in context, that's why I'm bringing this up now. Decision

[2019-07-09 12:56] piamancini commented on #2168
Thanks everyone for the comments!

## Vote
My vote/proposal is to go towards a vertical agnostic platform. This means that we focus our work on enabling any community to raise funds, manage their funds and expenses transparently supporting themselves on an existing fiscal host.

When we started Open Collective we set out to create a minimal organizational structure for communities to operate in th

[2019-07-09 13:28] xdamman commented on #2165
If no one can take this one I can put it on my plate for Friday.

It's also a fairly simple one. Maybe worth adding a small bounty as a good first issue @znarf ?

[2019-07-09 13:34] Betree commented on #2215
There is also a comment on Figma for this avatar issue: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=3880%3A538

[2019-07-09 13:40] Betree opened #2220 "NCP: All contribute cards should be the same height"
Test ID: TES100962421562679330663974
URL Tested: https://opencollective-frontend-madvukrxay.now.sh/webpack/v2
Operating System: Mac 10.12
Browser: Safari 10.1
Resolution: 1024x768

![](https://s3.amazonaws.com/issues-screenshots/Osao63owzt2EI7UVXQJRVWmdABP4xaLZ5I3wYBVq1562679635.png)

[2019-07-09 13:43] Betree opened #2221 "NCP: Share buttons icons not centered"
Test ID: TES100962421562679330663974
URL Tested: https://opencollective-frontend-madvukrxay.now.sh/webpack/v2
Operating System: Mac 10.12
Browser: Safari 10.1
Resolution: 1024x768

![](https://s3.amazonaws.com/issues-screenshots/8BJrhlZjl33F9LY8PQ6PPTxqP8s490DZGVd4SwNg1562679797.png)

[2019-07-09 13:57] piamancini opened #2222 "Email Template Roadmap - Notes from Meeting Brussels Summer Team Retreat"
# Meeting email templates
​
## Roadmap
- [x] opencollective-emails
- [x] V2 templates
- [x] Generate
- [ ] I18n
- [ ] Way to preview emails
  - [ ] Variable tests
  - [ ] Add on pull requests
  - [ ] (bonus) Live reload
- [ ] Tests
  - [ ] Generates
  - [ ] Design
  - [ ] Snapshot
- [ ] Developer experience
  - [ ] Complex => need to modify root EyMail library
- [ ] Extra features
  - [ ] Ability

[2019-07-09 14:08] Betree commented on #2221
Root cause for this issue: https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers.

- Either we center without flex
- Or we use a `div` instead of a button (not good for accessibility)

[2019-07-09 14:14] piamancini opened #2223 "Conversations - community discussions on Collective pages"
## User story

As contributor, I can open an issue on a collective's page so that I can start a conversation about a topic, make a proposal, get and provide feedback, provide or ask for community support, organize.

## Best solution for this problem
Github Issues on the collective page.
Comments on expenses posted on the thread in the CP
Comments on transactions posted on the thread in the CP
Pinn

[2019-07-09 14:39] xdamman opened #2224 "Hide horizontal scrollbar"
On desktop, can we make the scroll bar hidden by default and only visible on hover?
macOS is also hiding by default the scroll bar and only shows it when you are actually scrolling.

See https://opencollective.com/babel/v2
![](https://d.pr/free/i/QQ9kxs+)

[2019-07-09 14:45] alabobriggs commented on #1532
Am almost done with this sorry for delay

[2019-07-09 15:01] Betree commented on #2224
These sticking scrollbars annoy me as well. Here's an experiment to show them when hovering the cards, would that work for you?

![Peek 09-07-2019 16-59](https://user-images.githubusercontent.com/1556356/60899565-f9a3b780-a26a-11e9-82ea-18ab76764aa9.gif)

[2019-07-09 15:01] #2182 closed

[2019-07-09 15:05] xdamman commented on #2224
Sooooooo much better! ❤️❤️❤️😃

[2019-07-09 15:12] piamancini commented on #2218
I think this should be tackled in the new expense flow -I don't think it's worth spending time fixing something in the old one.

[2019-07-09 15:14] piamancini commented on #2216
+1 @xdamman

[2019-07-09 15:25] #2211 closed

[2019-07-09 16:02] alabobriggs commented on #1532
Just made a [Pull request](https://github.com/opencollective/opencollective-frontend/pull/2120)  @znarf

[2019-07-09 16:08] znarf commented on #1532
@alabobriggs cool, we will look at it!

[2019-07-09 16:10] alabobriggs commented on #1733
Please I need a link to an example of this issue @lencioni @znarf

[2019-07-09 17:18] #2221 closed

[2019-07-09 19:45] raulgrafico commented on #2212
@Betree I think it is a lot easier to find feedback on Github than Figma, let's keep using Github. I'm going to make the updates on Figma and create scenarios with different combinations.

[2019-07-09 19:56] #2224 closed

[2019-07-09 20:02] Betree commented on #2212
@raulgrafico No need to work on this one, https://github.com/opencollective/opencollective-frontend/pull/2122 already solves the issue.

[2019-07-09 21:23] raulgrafico commented on #2217
Hi Ben, I added a new artboard to display the solution for this. Let me know if something is still missing.

[2019-07-09 22:32] alanna opened #2225 "New Collective Page V2 Feedback"
This issue is where we will be collecting feedback from the team and community about the newly redesigned Collective page.

To see a preview of the new Collective page design, append "v2" to the end of any Collective URL.

Examples:

* https://www.opencollective.com/webpack/v2
* https://www.opencollective.com/babel/v2

The person leading this implementation is @Betree - he will be monitoring this

[2019-07-09 22:49] alanna commented on #2225
I have some comments myself...

1. What will happen to the design when a Collective has multiple tags? I think we're going to be using tags more and more in the system going forward.

![Screen Shot 2019-07-10 at 10 33 04 AM](https://user-images.githubusercontent.com/5498878/60927506-497f8e80-a2fe-11e9-82e4-538f1fa93735.png)

2. I seem to remember from the design that there is a 'short description'

[2019-07-10 00:19] Betree commented on #2225
Thanks for opening this @alanna! I'm assigning @raulgrafico as well because a lot of the feedback will involve the design team. I've added below replies for the points where I have some things to say and let aside pure design feedback for @raulgrafico or @cuiki.

Right now we only show the "main tag".

<details>
<summary>Details about how we find out the main tag</summary>

- If host is OSC ==> `O

[2019-07-10 01:31] alanna opened #2226 "Add redirect from old OSC URL to new one"
We just changed OSC's URL to https://opencollective.com/opensource - but there are references to the old link in the wild, so we need a redirect from https://opencollective.com/opensourcecollective

I hope we can do this quickly so people don't end up at a 404 until we find all the references and fix them.

Re: #2182

[2019-07-10 01:31] alanna commented on #2226
@znarf I added `priority` because I think this should happen ASAP

[2019-07-10 01:42] alanna opened #2227 "Add confirmation for "remove core contributor""
Similar to #2167 and #2156

We should confirm before proceeding when the user clicks "remove core contributor" in the edit core contributors screen.

[2019-07-10 02:11] alanna commented on #2182
FYI I have changed OSC's Collective slug to /osc instead of /opensource-collective because we are emphasising the initials more in the new branding and it's a lot simpler.

[2019-07-10 07:24] piamancini commented on #2225
Adding @dodgepong's comments here as well for record.

The contrast in the top contributors section seemed hard on the eyes, felt noisy

<details>
![image (4)](https://user-images.githubusercontent.com/3671070/60948646-b7728880-a2f3-11e9-8fa7-683f6cc410ce.png)
</details>

one user had this issue on the mobile view
<details>
![image (5)](https://user-images.githubusercontent.com/3671070/60948685-cd

[2019-07-10 07:25] Betree commented on #2217
Perfect, thanks @raulgrafico :ok_hand:

[2019-07-10 07:51] piamancini commented on #2225
Feedback from Democracy Earth:

'Why we do what we' do seems out of alignment with the rest of the page. Everything is to the left and that's at the center.

Background image behind logo is broken in mobile
<details>
![IMG_0785](https://user-images.githubusercontent.com/3671070/60950827-2fdb4880-a2f8-11e9-818c-9f5d6bd32c36.jpeg)
</details>

[2019-07-10 07:53] Betree commented on #2225
This one is a fixed by https://github.com/opencollective/opencollective-frontend/pull/2109 that will be deployed today.

[2019-07-10 07:57] #2212 closed

[2019-07-10 09:37] Betree commented on #2212
Also improved in https://github.com/opencollective/opencollective-frontend/pull/2129

[2019-07-10 10:21] alabobriggs commented on #1733
[Pull request](https://github.com/opencollective/opencollective-frontend/pull/2131) for this issue

[2019-07-10 10:40] alabobriggs commented on #2110
Is this issue assigned already. I want to work on it

[2019-07-10 12:28] nmaxcom opened #2228 "Hard to donate, which is nuts"
I'll share my story, hoping you'll put your head in the game one day.
Disclaimer: I've been working 10 years in nonprofit as a manager and designer, working closely with marketers, fundraising experts and so on. I'm not an expert, but your website hurt me badly.

So... I'm changing my donation targets and **I want to give money to opencollective**. Easy enough, right? Nop. Because this website is

[2019-07-10 13:54] jsamchineme commented on #543
@znarf I am trying my hands on fixing this issue.

After setting up the development environment, I realized I needed to login when I hit the url I could observe in this comment (https://github.com/opencollective/opencollective/issues/543#issuecomment-508932858) above.

After Login, I get me a message on the page stating `You need to be logged in as the creator of this collective
or as a core contr

[2019-07-10 14:05] xdamman commented on #2228
You might be going a bit hard on us but thank you, we need this kick in the butt every now and then.

So thank you, after the thousand clicks, for taking the time to write this long issue and adding illustrations. There's got to be hundreds if not thousands of people feeling the same frustration but most won't take that time to share their experience.

We are currently working on a new collective

[2019-07-10 14:05] znarf commented on #543
@jsamchineme You don't have to use this precise Collective, I just took a screenshot because I'm an admin of this Collective. To develop this feature, feel free to create a new Collective and you will be admin of it.

[2019-07-10 14:11] xdamman commented on #2182
Mmmm... it's confusing now.
Because technically /osc should be an organization, not a collective.
The point of having `-collective` was to be the default collective for a given organization (in this case /opensource).

A better way to think about this could be:
/opensource: a vertical across multiple hosts like /meetups (the old concept of "super collective")
/osc: open source collective organizat

[2019-07-10 14:44] jsamchineme commented on #543
@znarf Thanks for the hint. I have now created a new collective and added a tier to the account.
However, I see that the API doesn't have a field "buttonText" returned with a Tier.

**Here is the screenshot**

![image](https://user-images.githubusercontent.com/14825863/60978634-549be400-a329-11e9-80b7-ddc301907be6.png)

Does this mean I would also have to work on the backend project to enable this

[2019-07-10 14:54] znarf commented on #543
For reading, the `button`field is already exposed in the GraphQL API. So you don't need to code the support for it, you can just add it in the GraphQL query in the frontend.

For saving, I'm not sure.

[2019-07-10 15:01] alabobriggs commented on #2156
Working on this issue requires having a fiscal host already. I tried adding a fiscal host but got error when prompted to connect to stripe. Is there a way to bypass the stripe connection request on staging api and create a fiscal host or is there another way to get a fiscal host?

below is the screenshot of the error when connecting to stripe.

![Screenshot (10)](https://user-images.githubusercont

[2019-07-10 17:28] jsamchineme commented on #543
I just checked the backend code and it appears saving caters for the `button` field.

[2019-07-10 19:46] #2219 closed

[2019-07-11 00:16] alanna commented on #2228
There are at least two issues in the backlog related to enabling Paypal for all hosts and for recurring contributions: #1141 and #1655 - I agree we should do this.

I also agree with adding a `contribute` button next to contact as the clear call to action on top of the Collective page.

[2019-07-11 00:36] Sokan93 commented on #2114
Hello @znarf Can I please get a hint on how to go about this?

[2019-07-11 03:59] yellowwoods12 commented on #2225
The number of contributors card in a row should be less and equal to the number that can fit in the screen along with a margin on the right. This will look much better.
![Screenshot_2019-07-11 Collective - Open Collective](https://user-images.githubusercontent.com/31931348/61021251-5368c680-a3be-11e9-99ca-e61e60923f64.png)

[2019-07-11 04:58] alanna commented on #2182
I don't think it's confusing. The organization and the host are one in the same, located at /opensource. The Collective is the group and budget running the thing, located at /OSC. I don't want to use "OSC-collective" because in many places in the app, it will then display "OSC Collective Collective" and I don't like that. Plus the URL will be unnecessarily long, as we're not using /osc for anythin

[2019-07-11 06:29] xdamman commented on #2228
There is already two “contribute” in that screenshot.
I’d use “donate” as a button. It’s a different call to action.
Donate is about giving money without any expectation (both ways, the donor just want to give and not be bothered. The ideal flow is click donate, enter amount, change interval (default is one time), enter optional custom public message, enter credit card / Paypal, enter email, done)

[2019-07-11 06:30] Betree commented on #2225
@yellowwoods12 The horizontal scroll is a choice that design team made to be able to see all the contributors of a collective, even when there are hundreds of them. If we only show a subset of them then we loose the ability to see all collective's contributors in one place. There may be things we can improve on the implementation side for this one, but I think the design for it is clever.

![Peek

[2019-07-11 07:14] znarf commented on #2182
@alanna a decision was made in this issue and you agreed to the plan: "opensource" -> host, "opensource-collective"-> host collective.

This was our best shot as consistency. It's not great to revisit that decision that without discussing and let us know after the fact.

Please reconsider and open on a new issue if you want to introduce the "OSC" brand.

[2019-07-11 07:17] znarf commented on #1666
Thank you @Sokan93  ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-07-11 07:21] znarf commented on #2114
Look at the models https://github.com/opencollective/opencollective-api/tree/master/server/models

And try to understand why have history enabled on `Collective` and not on `Tiers`.

[2019-07-11 07:39] yellowwoods12 commented on #2225
@Betree Sure I get it. But can't we create paging instead of horizontal scrolling according to the time period in which a particular person became a contributor. That will be a more standard way to do this I guess, isn't it?
The navbar in the middle is just an issue with the Firefox's screenshot feature not a bug.

[2019-07-11 07:47] znarf commented on #2167
Thank you @NotJohs ! It's merged.

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-07-11 07:47] #2167 closed

[2019-07-11 08:25] nmaxcom commented on #2228
You are right, and yes you did. That was the point. Having done that, let me apologize for the attack and thank you and your teammates for having the right attitude of confronting the problem.

You'll find plenty of good books and guides in the wild that will help you look at this from a better vantage point.

If I can offer my advice:

#### You need to change the menu
The website's design is alre

[2019-07-11 09:29] nnhy opened #2229 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/stone-smart/edit while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36`

# Technical details

[code]

[2019-07-11 10:02] piamancini commented on #2228
Where? Only for the customizable donation? And what about the tiers?
Your proposal treats differently giving money in a customizable way (what you are calling donate) from giving money as a subscription (what you are calling not a donation)

This is confusing:
People want to give money and call think of it as giving money - the fact that we have recurring options, customizable options or one time

[2019-07-11 10:03] xdamman commented on #2228
I think a good example of that is https://projectwren.com
Their flow is top notch (note that they ask for your email address first!)

On the sign in button, I understand your point. It comes from the fact that the top bar is about the platform, not the project you are currently looking at. It's an old pattern and I'd challenge it. I could see moving all of that to the bottom.

When you go to the U

[2019-07-11 10:19] piamancini commented on #2228
I was thinking about the same thing. +1 Caveat, we have thousands of projects picking the right ones is a challenge!

@xdamman I still have issues with 2 and 3 when both are giving money. We want to incentivize people to make recurring financial contributions.

[2019-07-11 10:26] xdamman commented on #2182
That's a good example of looking at it from our own perspective, not from the perspective of outsiders.

As a visitor going to opencollective.com/opensource, I'd expect to see all the open source projects on open collective. I don't have the concept of "host" in my head. So just show me all the open source projects. Same for /meetups. I agree that we should have this discussions as part of the dis

[2019-07-11 10:36] znarf commented on #2182
@xdamman I engaged in this discussion, we reached a consensus and at the end we do something else. What about my motivation?

[2019-07-11 10:48] xdamman commented on #2228
That's where the trap is (or where we need to find the right balance).

We need to meet people where they are, help them do what they want to do from their perspective. That's how we will gain their trust. And only then, we will be able to expose them to other things.

Yes, but from the perspective of the visitor, it's two very different commitments.
One is about give money and move on with your l

[2019-07-11 10:55] xdamman commented on #2182
That's a good point.
(djeez, we still have work to do to improve our processes to make sure that everyone can feel good about their contribution! Sorry for the mess and frustrations it creates before we get there)

I guess we didn't frame the conversation the right way at the beginning?
As a general rule the person closer to the action / users should have the last word.
And we should reach consens

[2019-07-11 11:00] piamancini commented on #2228
This is the key. In theory, in expectation. Who's expectations?  This is where you might be thinking as yourself... I give money to different things both monthly and yearly and I don't feel like I'm joining anything. Just supporting with 2cents that are line items on my balance. I suspect the vast majority of folks feel the same way. They are giving money, not joining. We need to offer them that o

[2019-07-11 11:10] znarf commented on #2182
@xdamman I tried to help. I proposed a rationale for the change https://github.com/opencollective/opencollective/issues/2182#issuecomment-507356767 What is the rationale for the new change? I would like to see what was the problem and the alternatives that were considered.

In the end, I guess that doesn't impact me, so I l'm disengaging from this discussion.

[2019-07-11 11:44] piamancini commented on #2213
How about Make a custom donation?

My thinking is:  if we add the word 'custom' then when I log in as a user I see that one way of giving money is custom (donation) and one way is fixed (tiers). This is less dissonant and doesn't make me think why one thing is call donation (customizable) and the other contribution (recurring). Without scaring me into not starting a recurring subscription by makin

[2019-07-11 11:56] xdamman commented on #2213
Custom is not a great word. What does it mean custom donation? A donation is custom by default because when you donate, you expect to be able to choose the amount and the frequency. So let’s remove the word “custom”, it adds confusion without adding much (if at all). A [quick google search](https://www.google.be/search?q=%22custom+donation%22&ie=UTF-8&oe=UTF-8&hl=en-be&client=safari) shows that “c

[2019-07-11 12:56] piamancini commented on #2213
ok I can get behind that.
What do we do with the Default though?
We have thousands of collectives that have SPONSOR and BACKER tiers which are recurring.
What label and CTA do we assign?
Sure new users will know to edit and pick, but our existing base?

[2019-07-11 13:25] michaelmcandrew commented on #2158
hey all, a bit late to the party. thanks for including me on this ticket.

@xdamman - at this point in time, I'm probably more interested in understanding the motivations of corporations that give to open source and the ways in which they do it rather than standardising the process per se.

hope you have fun with this in any case :)

[2019-07-11 15:39] xdamman commented on #2158
@michaelmcandrew ok. Please share what you find! :-)

[2019-07-11 15:42] xdamman commented on #2213
That's a good question. Let's create a new issue to define "smart defaults" for tiers.

[2019-07-11 15:57] michaelmcandrew commented on #2158
will do

[2019-07-11 17:10] hestenet opened #2230 "Embeddable widget for progress towards funding Goals"
## User story
As the maintainer of a collective, I'd like to show progress to funding goals on third party sites.

## Best solution for this problem
An embeddable button/widget that displays the progress bar towards a specific funding goal

## MVP
An MVP would simply display the same progress bar as is used on OC itself, but as an embeddable widget:

![](https://user-images.githubusercontent.com/1

[2019-07-11 17:14] hestenet commented on #2230
There may be something else around goals that has caused some confusion, though maybe just better documentation of how to use goals is needed:

For example - rather than using the goal system, the Drupal Diversity and Inclusion collective actually started a second collective for a speaker inclusion initiative:
  - https://opencollective.com/drupal-diversity-and-inclusion
  - https://opencollective

[2019-07-11 17:22] Betree opened #2231 "Broken styles for "Submit Expense" button"
Most probably broken by https://github.com/opencollective/opencollective-frontend/pull/2123 (rebased in https://github.com/opencollective/opencollective-frontend/pull/2136)

Example: https://opencollective.com/drupal-diversity-and-inclusion-speaker-initiative

![image](https://user-images.githubusercontent.com/1556356/61071310-0d891e00-a411-11e9-8df4-4d0e3942b460.png)

[2019-07-11 17:22] hestenet opened #2232 "Improve search with multiple tag selection"
## User story
As someone searching for collectives, I'd like to easily see what tags exist, and search a matrix of multiple tags together.

## Best solution for this problem
There are a few potential solutions - someone more well versed may want to chime in:

1. The opencollectives.com/search page could provide a tag cloud, and allow you to click-to-select/multi-select tags
2. The search bar on op

[2019-07-11 17:38] znarf commented on #2231
Not sure how that was before, we can easily roll back.

[2019-07-11 17:50] xdamman opened #2233 "Default tiers"
Related to #2213
We need good default tiers.

I'd argue that it's probably something that the host would want to change. So I'd like to propose default tiers for everyone and another set of default tiers just for open source collectives.

To try to improve our process, I'd love to set from the get go who will be the ultimate decision maker.

I think that for the Open Source Collectives, it should

[2019-07-11 17:52] xdamman commented on #2233
This query returns the list of tiers that have been modified by one of the admins

[code]

I've exported the results in the [open collective public drive](https://drive.opencollective.com) under Strategy ([TiersBreakdown.csv](https://drive.google.com/open?id=1tItJECePGhy7ZYb0-kL_guYyb9sn7JIb)).

[2019-07-11 22:17] Sokan93 commented on #2114
I came across this - https://www.npmjs.com/package/sequelize-historical
Please do you think it might help me gain some understanding of the stated above

[2019-07-11 22:44] znarf commented on #2114
Yes, this is the package we're currently using.

[2019-07-12 05:47] alanna commented on #2144
Here's another example. This one has not been paid yet because we're waiting on an updated invoice.

https://opencollective.com/volteuropa/expenses/8082

I think in both cases the amount of the expense was the full balance of the Collective so maybe that's a clue?

@znarf can you have a look at this please? If expenses don't show as ready to pay they will be missed.

[2019-07-12 05:51] alanna opened #2234 "Disable "donation" payment method"
There are expenses in the system like [this one](https://opencollective.com/volteuropa/expenses/8082) where they selected "donation" payment method. This is not documented or specified anywhere. My understanding was it was partially implemented but never really worked. We should not allow people to choose this option if it's not actually available. I don't know what to do with expenses like this.

[2019-07-12 07:20] znarf commented on #2234
@alanna @piamancini what is the difference with? https://github.com/opencollective/opencollective/issues/1758

[2019-07-12 07:33] piamancini commented on #2234
same issue. Is a dupe. Mine could be titled better - 'in kind' was how we called the feature internally/

[2019-07-12 07:55] znarf commented on #2226
Done

https://github.com/opencollective/opencollective-workers/commit/550984209bb7b87e1f44ce6e6d199423c2e19b65

[2019-07-12 07:55] #2226 closed

[2019-07-12 07:59] znarf commented on #1666
@Sokan93 this was broken, I had to revert, see https://github.com/opencollective/opencollective/issues/2231

It should look like that:

![Capture d’écran 2019-07-12 à 09 57 24](https://user-images.githubusercontent.com/806/61112248-b4120500-a48b-11e9-9c97-0b819fa382b8.png)

[2019-07-12 07:59] #2231 closed

[2019-07-12 11:01] EslamHiko commented on #1878
@znarf can I give this issue a shot?

[2019-07-12 11:01] Sokan93 commented on #1666
Okay thanks,  seems the issue has been closed

[2019-07-12 11:41] znarf commented on #1666
@Sokan93 well, I only reverted to what it was before. The original issue (this one) is now re-opened.

[2019-07-12 12:17] Sokan93 commented on #1666
Okay, so I'd just have to correct it as the former.

[2019-07-12 12:31] znarf commented on #1666
It should just look like the screenshot when scrolling.

[2019-07-12 12:45] Betree opened #2236 "Images service does not support Gravatar"
With the migration of all images to the dedicated service we lost something useful: having images fetched from gravatar (see https://github.com/opencollective/opencollective-api/blob/f423207c3069bc599d5571f59cff8f3be670c8e3/server/models/Collective.js#L751).

Would be great to have that back, @znarf would it be an easy change? All that's needed to generate a Gravatar image is the email address.

!

[2019-07-12 12:53] znarf commented on #2236
Why is it appearing on top?

Gravatar handling is currently API side. The `image` column is populated with gravatar when necessary.

[2019-07-12 14:57] Betree commented on #2236
My bad that's a localhost issue then

[2019-07-12 14:57] #2236 closed

[2019-07-12 16:42] Betree opened #2237 "Proposal: Kill matching funds"
# Acknowledging
- That maintaining code for a feature always takes time (eg. tests need to be updated, bugs...)
- That unmaintained features can contain security issues, or be a vector for privilege escalation
- That the bigger/more complex the code base, the harder it is for newcomers to get on board

# And regarding the fact that...

- Matching funds has been dead since we deployed the new contr

[2019-07-12 17:08] Betree opened #2238 "Proposal: kill bitcoin payment method type"
# Acknowledging

- That maintaining code for a feature always takes time (eg. tests need to be updated, bugs...)
- That unmaintained features can contain security issues, or be a vector for privilege escalation
- That the bigger/more complex the code base, the harder it is for newcomers to get on board

# And regarding the fact that...

- The feature is not used since more than one year (last crea

[2019-07-12 20:31] Sokan93 commented on #1666
Hello @znarf
This is the page - https://opencollective.com/drupal-diversity-and-inclusion-speaker-initiative
It looks the screenshot when scrolling.
Or is there something else missing?
Thanks

[2019-07-12 21:08] znarf commented on #1666
We reverted your change. So it’s working like before. And like before, there is no <a>, so we’re back at the the start.

[2019-07-12 22:26] Sokan93 commented on #1666
Okay, I'll work on that, what would possibly have caused the buttons overlapping(what broke earlier)?

[2019-07-12 23:17] #2024 closed

[2019-07-12 23:19] #1903 closed

[2019-07-12 23:21] znarf commented on #1758
Mentioned in https://github.com/opencollective/opencollective/issues/1895

[2019-07-12 23:28] znarf commented on #1655
Duplicate with: https://github.com/opencollective/opencollective/issues/1140

[2019-07-13 04:24] nemchik commented on #2228
Just to chime in as the core contributor of a project that uses open collective; my project has more of a "one time donation" kind of vibe. I code, my project is open source, community members want to buy me a beer/coffee. I feel like there are many small to mid-size projects like mine that would benefit from using a open collective, but in many cases the core contributors (myself included) aren't

[2019-07-13 04:54] nemchik commented on #2228
P.s. I haven't looked at the v2 redesign on desktop yet, but from mobile here's two screenshots: https://imgur.com/gallery/AK0Gl5R the top one is the first impression seen when loading the page (I referred to this in my previous comment as "above the fold"). The second one is what I think should be the first impression. Some tweaks of course like including the profile icon bubble for the platform

[2019-07-13 06:13] Betree commented on #2228
@nemchik that's a very interesting feedback. It outlines the fact that we can't expect all collectives to have the same calls to action. We can't expect Women Who Code (that primary goal is to organize events, target individuals with memberships) to have the same expectations in this page than Webpack, a technical tool that (I suppose) wants to target more recurring financially contributions from

[2019-07-13 06:47] Betree opened #2239 "New collective page: customize primary calls to action"
Following up on https://github.com/opencollective/opencollective/issues/2228#issuecomment-511093177

---

One thing that appears in @nemchik's feedback is that different collectives will have different expectations about the primary calls to action.

Currently we've defined that the primary call to actions should be `Donate` and `Contact`. For my example, I'd prefer for my collective CaptainFact t

[2019-07-13 12:37] #2229 closed

[2019-07-13 12:42] znarf commented on #2195
Related, rate limiting the endpoint: https://github.com/opencollective/opencollective/issues/1455

[2019-07-13 12:44] znarf commented on #2207
Related: https://github.com/opencollective/opencollective/issues/919

[2019-07-13 12:54] znarf commented on #2192
As a follow up, we should spec an upgrade of the authentication token, to make them one-time and cancellable. We can use our volatile storage for that.

[2019-07-13 12:59] znarf commented on #2208
Was that broken in https://github.com/opencollective/opencollective-frontend/pull/1999 while fixing https://github.com/opencollective/opencollective/issues/1387?

[2019-07-13 16:45] xdamman commented on #2228
@nemchik thanks so much for taking the time to offer a different perspective. It is very useful. It’s easy for us to loose track. So this type of comment really helps. Thank you! 🙏

I also think that the use case is different on mobile than on desktop.
On mobile as a visitor I want to quickly understand what this collective is about, find contact information, donate, maybe also see current balance

[2019-07-13 16:56] nemchik commented on #2228
This is a great idea to help encourage one time donors to consider recurring donations, but I think it makes sense to allow the donor to decide to make a recurring donation when selecting the amount to donate but default to one time like @xdamman mentioned, and then only show the "consider recurring" at the end if the donation was a one time donation.

[2019-07-13 17:14] nemchik commented on #2228
Further to the point of selecting one time vs recurring while selecting the amount to donate it would be awesome if the end user is shown at what level their recurring donations would put them in the range of a tier like backer or sponsor. https://www.humblebundle.com/ does a decent job of showing you how close you are to the next tier while letting you pick how much to donate.

I'm not a designer

[2019-07-14 06:23] maddhruv opened #2240 "Support PayTm, PhonePe as Payment Methods"
## User story
🇮🇳 🇮🇳 🇮🇳 🇮🇳
[PayTm](https://paytm.com/) and [PhonePe](https://www.phonepe.com/en/) are the most widely used online payment solutions in India, every day we pay at shops, online stores, friends using these

News -
- https://www.livemint.com/Companies/3QJb7gRC8KLPsDyOD1oCxN/Paytm-crosses-4-billion-in-monthly-gross-transaction-value.html
- https://www.medianama.com/2018/11/223-phonepe-1

[2019-07-14 06:29] maddhruv opened #2241 "Improve Performance, SEO and PWA"
## User story
The Lighthouse audits for OpenCollective - https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=http://opencollective.com
We are not a fully offline supportive + PWA + best performance

## Best solution for this problem
- Improve TTI
- Compress Images for better contentful paint
- Offline Support

## MVP
**PWA**

## Metrics
Improve Lighthouse metrics

## Documentation
- https

[2019-07-14 07:07] maddhruv opened #2242 "Add an inter-page loader"
## User story
When migrating from one page to another, it takes time to load the assets (obviously), but while doing the transition, we don't show any loader, if the user is on a Fast/Slow 3G he will not be able to see any transition happen after the anchor (`a`) is being clicked
Bad experience for users on slow network - feels like nothing is happening when clicking something

## Best solution fo

[2019-07-14 07:12] maddhruv opened #2243 "Lazy Load contributors avatar"
## User story
We load all the avatar (companies as well as backers/people) on the page load even if they are not on the viewport, this increases the total data to be loaded as well as the number of requests being transmitted.

## Best solution for this problem
Lazy Load avatars and logos

## MVP
Improved Performance

## Metrics
Total number of requests done to load the initial viewport

## Documen

[2019-07-14 07:21] maddhruv opened #2244 "Homepage design enhancement for collectives cards"
**Describe the bug**
The 4-4 cards shown in the _Recently Created_ and _Most Active_ Collectives
are broken into uneven 3:1 of grids

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/
2. Click on '....'
3. Scroll down to Active Collectives Section
4. Change screen dimensions to iPad
5. See design error

**Expected behavior**
Should either show all 4 in a row li

[2019-07-14 10:33] znarf commented on #2242
We do have a loader, we use `nprogress`:
https://github.com/opencollective/opencollective-frontend/blob/master/src/pages/_app.js

It's a progress line on top of the screen, similar to the one at GitHub.

[2019-07-14 10:40] znarf commented on #2241
Anything that improves performance is always warmly welcome.

To be solvable, this feature request needs to be broken in specific points that can be tackled individually by contributors.

Feel free to create PRs or Issues to address the individual problems.

[2019-07-14 11:04] maddhruv commented on #2242
but it is not showing up properly
or say there is no proper indication that I clicked any navigation/anchor

[2019-07-14 11:05] maddhruv commented on #2241
If we can keep all individual items under this issues
like - **Performance**
and ask individuals to make PRs

[2019-07-14 11:13] znarf commented on #2242
Then it’s a bug. What’s your environment? From which page to which page?

[2019-07-14 11:35] maddhruv commented on #2242
I tried from / to /babel

[2019-07-14 12:04] znarf commented on #2242
Are you sure you're not seeing the blue progress bar on top?

![Screenshot 2019-07-14 at 14 03 39](https://user-images.githubusercontent.com/806/61183319-4ce98180-a640-11e9-98e1-397298c6a0b5.png)

What's your environment? Operating System? Browser?

[2019-07-14 13:01] maddhruv commented on #2242
Mac OS, Google Chrome
i will hard reload

[2019-07-14 15:39] sebsheep opened #2245 "Avatar not working"
I've sent an avatar for my collective at the route https://opencollective.com/elm-france/edit/images .

![image](https://user-images.githubusercontent.com/6839698/61185838-ef642d80-a65d-11e9-8114-2eb287317cd7.png)

This avatar is not displayed on the home page of my collective:
![image](https://user-images.githubusercontent.com/6839698/61185821-d491b900-a65d-11e9-9b12-5cfa3ea4052c.png)

Even worse

[2019-07-14 16:09] mmbvbk opened #2246 "Unexpected error when ___________"
[Mmm ]() # Describe the bug

I got an unexpected error on https://opencollective.com/nest/contribute/backers-1118/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: iPhone
- Browser: `5.0 (iPhone; CPU iPhone OS 12_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.1 Mobile/

[2019-07-14 16:09] #2246 closed

[2019-07-14 19:01] rdinicut commented on #2049
@znarf still up for grabs?

[2019-07-14 19:30] mojoaxel opened #2249 "Problems editing date input in the contributor settings"
In the setting "Edit Core Contributors" there are problems editing the "Since" date:
* [ ] The date is not locally formatted ;-)
* [ ] Its hard to edit the date manually e.g. "10/26/2017" the date alsways gets changed one day back e.g. "10/25/2017". So if I want the date "10/26/2017" to be saved I have to input "10/27/2017" for it to work out.
* [ ] On the last entry the date-picker is covered:
![

[2019-07-14 20:29] znarf commented on #2049
@NotJohs started last week-end and is still on it

[2019-07-14 21:00] NotJohs commented on #2049
@znarf finished on Friday but was battle within git :(
over the weekend had to create my own repo, fork it and practice rebase, merge --squash, etc to really understand it.
anyways I made my pr

[2019-07-14 21:45] SudharakaP opened #2247 "Rename Organization, Collective and Profile Slugs"
**Describe the bug**
I created an OpenCollective profile, organization and a collective. All of which are given below. I believe I tried creating and recreating them and thus the url slug has 1's and 2's at the end could you please rename these urls so that the 1 and 2 are removed?

Profile: https://opencollective.com/sudharaka-palamakumbura1
Organization: https://opencollective.com/python-sinhala

[2019-07-15 00:16] alanna commented on #2225
White logos are not showing up well.

![Screen Shot 2019-07-15 at 12](https://user-images.githubusercontent.com/5498878/61191099-5cc59c00-a6fa-11e9-9d1e-9fc3a0da8bcc.jpg)

[2019-07-15 00:23] alanna commented on #2225
Collective description text should line break before overlapping the background image.

![Screen Shot 2019-07-15 at 12 22 39 PM](https://user-images.githubusercontent.com/5498878/61191187-4d931e00-a6fb-11e9-82a4-c27903155721.png)

[2019-07-15 03:23] alanna commented on #2232
I really think we should invest in improving and using the tag system more. It comes up all the time as a way to group and find Collectives, hosts, expenses, etc.

[2019-07-15 03:42] alanna commented on #2233
I don't think we need to complicate this so much or separate out open source Collective defaults from other Collectives. First of all, we don't have a good way to track which Collectives are open source projects - many of them are in hosts other than the Open Source Collective.

Secondly, all Collectives have their own context. For example, a conference will have a bunch of levels of one-off spons

[2019-07-15 03:51] alanna commented on #2213
CTAs should be based on the word `contribute`. Our existing Sponsor and Backer tiers become regular tiers with the titles "sponsor" and "backer" or whatever other titles the core contributors have customized. The button says "contribute".

Or, we could just get rid of the tier title all together and instead make the title the text on the button. Right now the design has way too much redundant text

[2019-07-15 03:51] alanna commented on #2213
But what we should NOT do is add more terms like "donate" or whatever, which only confuses things more.

[2019-07-15 04:03] alanna commented on #2182
I am disengaging from this as well. I have made the decision. To me this is clearly inside my sphere of leadership and I'm not arguing about it.

[2019-07-15 04:10] alanna opened #2248 "Fix double transaction for Octobox"
There is a repeat transaction for Octobox that needs to be deleted. They had a pending bank transfer order but I added it manually before I noticed that. I can’t refund the manually added funds or the bank transfer order.

Please delete the manually added funds transaction and leave the bank transfer order transaction.

![Screen Shot 2019-07-09 at 3 53 13 PM](https://user-images.githubusercontent.

[2019-07-15 04:13] alanna commented on #2226
Thank you! <3

[2019-07-15 04:21] maddhruv commented on #2242
yeah it is there
but mostly visible or noticeable when
the background is dark enough

[2019-07-15 04:24] maddhruv commented on #2242
we can also put a whole screen (content-level or component-level)
circular loader, that this content is being loaded
and unmounting those components

it feels like the past is gone
and something will be coming up here
in its place

[2019-07-15 04:47] alanna commented on #2239
Hmmm. It's an interesting idea but I'm not sure it's the way to go.

When it comes to "contact", the problem is that the core contributors might not think it's important because they are not the ones ever looking for the contact button. It's everyone else who is trying to reach them and getting confused and failing because it's hidden.

To me, it seems far more important that the design is consist

[2019-07-15 04:52] alanna commented on #2225
There's too much redundant language in the contribute section.

We could make "Become a financial contributor" the section title, delete the current section title, lose the blue 'contribution' badges, and make the tier title what goes on the button. Viola, a whole lot less text, a much simpler design, and no information lost.

![Screen Shot 2019-07-15 at 4 48 54 PM](https://user-images.githubuserc

[2019-07-15 08:11] #2248 closed

[2019-07-15 09:33] alanna opened #2250 "Improve main website image pulled through to social media"
I posted a link to the main Open Collective homepage to Facebook today, and it pulled through a very odd image (apparently a screenshot of github issues??) - this should be changed to our logo or one of the cool illustrations on our front page.

<img width="527" alt="Screen Shot 2019-07-15 at 9 33 13 PM" src="https://user-images.githubusercontent.com/5498878/61207027-2c0c5380-a748-11e9-9b1d-21ceb1

[2019-07-15 10:04] xdamman commented on #2237
Ok for me. We can always revive that flame once we have a concrete demand from a large donor.

[2019-07-15 10:17] znarf commented on #2250
Effectively, this is picking one image from the home page because none is defined.

https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fopencollective.com%2F

This is being worked on by a contributor and was about to be fixed. But the PR was closed, I don't know why. https://github.com/opencollective/opencollective-frontend/pull/2149

[2019-07-15 10:18] piamancini commented on #2237
+1

[2019-07-15 10:33] NotJohs commented on #2250
@znarf @alanna am looking into this

[2019-07-15 11:46] xdamman commented on #2238
I agree. Stripe doesn’t support it anymore.

I’d love to abstract the concept of “manual donation” so that a host could define multiple manual ways. This would give them a way to accept crypto donations.
E.g. give money by making a bank transfer, give money by donating to this BTC address, etc.
It’s basically always the same mechanism: we send you special instructions by email and the host has to

[2019-07-15 12:31] piamancini commented on #2238
+1

[2019-07-15 14:49] znarf commented on #2250
Fixed https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fopencollective.com%2F

![Capture d’écran 2019-07-15 à 16 48 26](https://user-images.githubusercontent.com/806/61225217-6b26ae80-a720-11e9-9156-582ab508ff57.png)

I'm not sure about the image though.

[2019-07-15 14:51] znarf commented on #2250
@xdamman @alanna should we have a different image than that?

[2019-07-15 15:34] NotJohs commented on #2250
@znarf
the recommended standards for images are:

[2019-07-15 22:59] gusaus commented on #2230
The ability to customize and embed Open Collective widgets has been a long sought-after feature. Especially in projects/communities like Drupal and WordPress that power all types of customer-facing sites and products.

Here are a few related issues/comments from a couple of folks in the Drupal community -

- https://github.com/opencollective/opencollective-api/issues/769#issuecomment-278768156
- h

[2019-07-15 23:33] gusaus commented on #2232
@hestenet This comment is an attempt to convey a similar Drupal need https://github.com/opencollective/opencollective/issues/2053#issuecomment-494623817 (obviously could be better described by a skilled technical PM!). https://github.com/opencollective/opencollective/issues/2230 & https://github.com/opencollective/opencollective/issues/2141#issuecomment-508313693 are related and should probably be

[2019-07-16 01:03] alanna commented on #2250
I like this image from the homepage a lot better:

![Screen Shot 2019-07-16 at 1 02 12 PM (2)](https://user-images.githubusercontent.com/5498878/61258486-18093600-a7ca-11e9-99fd-80d15f65bde2.png)

But the logo image is already a big improvement!

[2019-07-16 04:54] alanna commented on #2249
Dup of #2161

[2019-07-16 06:01] mojoaxel commented on #2249
Closing as dublicate of #2161. Sorry folks!

[2019-07-16 06:01] #2249 closed

[2019-07-16 07:45] Betree commented on #2213
[This feedback](https://github.com/opencollective/opencollective/issues/2228#issuecomment-511087129) from a user seems relevant for the current conversation:

[2019-07-16 07:47] Betree commented on #2213
How/when do we close this issue?

[2019-07-16 08:09] xdamman commented on #2213
Agreed.

I really would love to understand why from your perspective “donate” is confusing.
Another relevant user feedback on that point: #2228

[2019-07-16 08:11] Betree commented on #2239
I agree, the main risk of customization is often inconsistent design and hardly predictable paths. It's a tough thing to find the right balance between allowing enough customization for users to feel that they own this page without breaking the experience for all the other visitors.

So I understand that there is a danger if one collective has a big `Contribute` button there while a sibling collec

[2019-07-16 08:15] Betree commented on #2239
@cuiki @raulgrafico Your experience about UX would be valuable in this conversation, especially about how customizing these CTAs could lead to confusion for users.

[2019-07-16 08:17] Betree commented on #2238
Thanks for the quick feedback!

[2019-07-16 08:21] xdamman commented on #2213
I think there is a big misunderstanding that I introduced when I was pushing for “we should own the terms contribute/contributors/contributions”. While I still think we should focus on becoming the platform for people to contribute to a community, I think that at this stage –that is, until we offer other ways to contribute than financial contributions– it’s going to confuse people to over use “con

[2019-07-16 08:21] Betree commented on #1323
As per https://github.com/opencollective/opencollective/issues/2237 we're getting rid of the Matching fund feature for now so this issue will not be implemented.

[2019-07-16 08:21] #1323 closed

[2019-07-16 08:22] Betree commented on #2237
Thanks for the quick feedback, this is now in my TODO.

[2019-07-16 10:20] Betree commented on #2196
The problem that I see is that we don't have any UI for collectives to manually enable VAT on their collectives/events. If we don't add the matching fields in the collective `/edit`, I'm afraid we'll end up disabling VAT in multiple places where it's actually required.

@xdamman So it the following todo correct?

- Add a `VAT` section in collective/event settings
  - Select { `No subject to VAT`,

[2019-07-16 17:22] kthull commented on #2225
The user menu is currently underneath the header image:
<img width="550" alt="Screen Shot 2019-07-16 at 1 21 15 PM" src="https://user-images.githubusercontent.com/984057/61315432-bb5b4a80-a7cc-11e9-93a0-8d7a78f97db6.png">

[2019-07-16 17:44] staltz commented on #2225
Looks nice! Two things I noticed:

- The sticky header is huge and is consuming space to read content
- The hero picture is not entirely shown (I guess I could redesign the hero picture, though)

[2019-07-16 18:03] xdamman opened #2251 "Proposal for new business model"
## Why?

Our goal is to enable communities to become sustainable.
So far we helped raise more than $7M across more than 2,800 collectives hosted by more than [100 different fiscal hosts](https://opencollective.com/hosts) (the [Open Source Collective](https://opencollective.com/opensource) being the largest one having raised more than $3.6M for more than 1,000 collectives, followed by [Women Who Co

[2019-07-16 19:38] burinious commented on #543
@znarf have updated the description

[2019-07-16 20:54] coderberry commented on #2168
Boy am I sad I'm late to this thread. I am a HUGE fan of Open Collective and the team behind it. I believe you have created something that provides incredible value to the community.

I would like to suggest that a strong partnership (or more?) with CodeFund would really open up the ability to generate profit. CodeFund provides a solid path to profit, but doesn't have the network nor influence of

[2019-07-16 21:49] znarf commented on #2245
Thank you for reporting.

1) Is a recent cache issue, it can take up to 2 hours for the image to refresh, that should not be the case, we're on it
2) Is also an issue introduced by a recent release, we're also on it

[2019-07-16 22:17] NoWorries commented on #2225
- These cards are different heights across three tabs:

![image](https://user-images.githubusercontent.com/803064/61333612-92de5980-a87b-11e9-92be-b765ac4a86eb.png)

- Core Contributors tab doesn't have background image:

![image](https://user-images.githubusercontent.com/803064/61333686-d46f0480-a87b-11e9-986a-0fed7fd0c12c.png)

- Menu active state not working consistently

![Jul-17-2019 10-16-37

[2019-07-17 02:07] alanna commented on #2251
Thanks for writing this up and moving the discussion forward @xdamman! There are exciting possibilities here.

Just to reinforce a positive spin, it's not just about the platform being financially sustainable, it's also about how that will enable us to become a more amazing tool for more fiscal hosts, who will bring their networks of Collectives with them, and provide essential infrastructure for

[2019-07-17 02:09] alanna commented on #2168
Thanks so much @coderberry ! I would love to talk more. Let's have a call. I will reach out to you directly to set that up.

[2019-07-17 08:14] #543 closed

[2019-07-17 08:33] jfdh commented on #2225
Very satisfied with the overall redesign.
Two things:
- What about the redesign of host organisations? I can't see the collectives we are hosting on this screen
- I am also missing the dashboard button. Is there a new design for the dashboard btw?
![Screenshot 2019-07-17 at 10 29 22](https://user-images.githubusercontent.com/30813303/61360004-d8038b00-a87d-11e9-9360-815ebf3dbcb1.png)

Thanks for t

[2019-07-17 08:46] Betree commented on #2225
@NoWorries

As we make all cards the same height, the longest one will define the size. In the case of babel, the last one has a long description:

![image](https://user-images.githubusercontent.com/1556356/61360992-e2268900-a87f-11e9-8d84-cd5859409440.png)

---

@jfdh, thanks for mentioning these issues. I'll make sure we prioritize this so hosts don't loose precious info when we roll out the pag

[2019-07-17 08:47] Betree commented on #2208
@maddhruv Thanks for reporting this! This issue will be solved by https://github.com/opencollective/opencollective-frontend/pull/2188 when deployed

[2019-07-17 12:24] jamesgeorge007 opened #2252 "Minor typo within welcome E-mail template"
Recently I signed up on open collective for one of our projects - [Mevn-CLI](http://github.com/madlabsinc/mevn-cli)

I just noticed a minor typo on the welcome E-mail that came out thereafter.
![Screenshot from 2019-07-17 17-46-41](https://user-images.githubusercontent.com/25279263/61375105-a7424680-a8bb-11e9-806d-d72694d8ec96.png)

Towards the end of the `Get & manage funds` section the word `app

[2019-07-17 13:05] znarf commented on #2252
Thank you for reporting. Are you fancy creating a PR for it?

https://github.com/opencollective/opencollective-api/blob/f807ce3757e8e5adde8c7579499589728a8a906a/templates/emails/github.signup.hbs

[2019-07-17 13:12] #2208 closed

[2019-07-17 13:24] jamesgeorge007 commented on #2252
Sure :+1:

[2019-07-17 13:28] jamesgeorge007 commented on #2252
@znarf Check out [#2273](https://github.com/opencollective/opencollective-api/pull/2273)

[2019-07-17 13:29] #2252 closed

[2019-07-17 14:03] #1758 closed

[2019-07-17 14:03] #2234 closed

[2019-07-17 15:17] Relequestual commented on #1034
Another facet of this issue is, the project I want to sign up with isn't specifically security concious, but one of the other orgs IS, and it looks like permissions are granted to all that allow third party applications, regardless if needed or not.

[2019-07-17 15:17] Relequestual commented on #1034
@znarf

How should I go about doing this?

[2019-07-17 15:20] Betree opened #2253 "Revamp edit collective"
**As a result from https://github.com/opencollective/opencollective-frontend/pull/2181 (an experiment to estimate the cost of implementing the edit mode proposed by @raulgrafico) it appears that:**

- Components cannot easily be re-used

`components/EditCollectiveForm.js` currently handles a lot of logic. It includes all the fields for the collective info, the menu to switch the `Edit *`, state ma

[2019-07-17 15:40] znarf commented on #1034
Usually, it's up to the user to allow/disallow the app to access organizations. It's in the GitHub connection screen.

Feel free to contact support https://opencollective.com/support

[2019-07-17 15:57] jamesgeorge007 commented on #2252
@znarf Would love to know your thoughts on [Mevn-CLI](http://github.com/madlabsinc/mevn-cli)

[2019-07-17 16:00] Betree opened #2254 "Discover page: "most popular" should sort by total pledged"
On the discover page, the `Most popular` filter for pledged collectives has unpredictable ordering.

When choosing this filter, the API should order by total amount pledged desc. An alternative would be to order by total number of pledgers (it require frontend code as well).

The fix must be implemented in the API, in the `allCollectives` query https://github.com/opencollective/opencollective-api/

[2019-07-17 16:09] znarf commented on #2252
@jamesgeorge007 I'm not practicing Mongo or Vue, so I don't have a lot of thoughts on it. Unfortunately!

[2019-07-17 17:07] jamesgeorge007 commented on #2252
@znarf Well, you could show off your support and love by leaving a :star: :smile:

[2019-07-17 21:26] NoWorries commented on #2225
@Betree

Ah sorry ignore that one then, I was scrolling through the three side by side and didn't check the content across the carousels.

[2019-07-17 23:21] alanna commented on #2168
Myself @piamancini and @xdamman had a conversation about everything in this thread, and we feel it's a good time to close this discussion. Strategy is always an ongoing conversation, but we think we've reached a good level of clarity for the medium term future.

Pia's last comment is the basic conclusion, but I'll summarise it here for clarity.

* Open Collective will aim to be a platform for all

[2019-07-17 23:21] #2168 closed

[2019-07-18 00:12] alanna commented on #2225
@Betree I am also interested in clarification about @jfdh 's question above about the design for host pages. I didn't think about how this would affect host and organization pages as the focus was on Collectives. There are a lot of issues that will need to be fixed for hosts before this goes live.

A few I noticed:

* Should not include the 'budget' section (I would love for hosts to have full Col

[2019-07-18 02:30] jamesgeorge007 commented on #2252
@znarf Well, you could show off your support and love by leaving a :star: :smile:

[2019-07-18 03:57] alanna commented on #2245
FYI we have got several support requests about this, and I just ran into it myself when updating OSC's avatar on its page.

[2019-07-18 07:25] Betree commented on #2225
@alanna The design team already worked on this by providing a design that will work for Users/Organizations/Hosts: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E2%86%92-Create%2C-Edit?node-id=3889%3A145

But these two points remain:
- Must feature the "Apply" button
- Where is the link to the dashboard?

[2019-07-18 07:43] znarf commented on #1798
It's now possible to define `customFields` for tiers (it's a feature we're testing, no admin interface for it).

@mcrosson you can contact us in https://opencollective.com/support so we can test that together.

[2019-07-18 07:52] znarf commented on #2245
Fix coming, this is a priority.

[2019-07-18 09:30] BenJam commented on #2168
Is there a living document anywhere for contributors/supporters?

[2019-07-18 09:44] piamancini commented on #2253
@Betree How is this affecting the time frame of the roll out of the NCP?
The plan sounds good to me, specially if we break it down to improve release times, but it's still not clear what it means in terms of your time.

[2019-07-18 10:01] Betree commented on #2253
@piamancini The only requirement for the roll out of the NCP is the primary color picker. All the rest (sort tiers, edit image in place...etc) will not be blockers for the initial release if they're missing.

I'll probably work on (1) myself, (2) and (3) can be handled by other contributors (bounties should be ok).

In term of prioritization/cost, a very approximation estimate would be:

### (1)

[2019-07-18 10:32] piamancini commented on #2225
background image overflows designated space? opencollective.com/osc/v2
<img width="1273" alt="Screen Shot 2019-07-18 at 12 30 31 PM" src="https://user-images.githubusercontent.com/3671070/61450751-0a81b680-a958-11e9-8258-0e96f1bc9d7e.png">

[2019-07-18 11:00] Betree commented on #2225
@piamancini The background image don't have the same dimensions on this page that it used to, we'll have other cases like this (though this one looks really bad). Stretching to the size would not work because we'll end up with strange images:

![image](https://user-images.githubusercontent.com/1556356/61452043-2470c880-a95b-11e9-9709-a4c6ae5d7a95.png)

What we've discussed with @raulgrafico to sol

[2019-07-18 15:25] aptalca commented on #2251
Some thoughts on Expensify comparison:

I don't think it's fair to use Expensify as a comparable service. In my opinion Expensify and Open Collective are vastly different in terms of the target user base although there are some similarities/overlap in the services offered (expense tracking and reimbursements).

As a preface, I'm making an assumption that most of Open Collective's clients are using

[2019-07-18 15:34] xdamman commented on #2251
@aptalca thanks for chiming in and bringing another perspective.

You are right that Expensify and OC are very different products. We are not competing in any way (nor do we intend to). The goal of the comparison was more about having an anchor point to know how much we could charge hosts to use OC.

Before we created Open Collective, Women Who Code was actually using a combination of Expensify an

[2019-07-18 19:38] lindatalu opened #2255 "Collective Page → Inline-Edit UX & UI patterns"
## User story
The main goal of this issue is to receive feedback related to design patterns for the Collective Page inline contents.
The set of features are exclusive for text, images and videos therefore general configuration of the Collective Page won't be affected by these changes.

## Parent Issues
#1928

## Documentation

**All-Empty-Re-arrange**

The following images represent how the edit w

[2019-07-18 22:29] alanna commented on #2225
Thanks for that link @Betree - I have looked at the designs for User, Organization, and host pages and added comments. In the future it would be great if I were told about these designs and asked for feedback proactively, so I can suggest changes earlier in the process.

[2019-07-18 22:55] alanna commented on #2251
Thanks for the comments @aptalca.

Just in case it wasn't clear, in your case as a Collective not hosting themselves, in the new model you wouldn't be charged anything by Open Collective Inc. You would become a customer of your host, and each host would define its fees. In the case of the Open Source Collective, it would likely still be 10%, but that would be a simple charge instead of being a com

[2019-07-19 00:43] eric-s-raymond commented on #2192
Been having this conversation by email with Alanna Irving, but it seems like a good idea to have it on the record here.

That change to 15 minutes screwed over everyone using greylisting for anti-spam.

You should never, ever pull that timeout below twice the SMTP minimum retry interval in RFC5231, which turns out to be 30 minutes.  Actually you should find out what the retry interval on your mail

[2019-07-19 02:17] alanna opened #2256 "Terms of fiscal sponsorship missing from host page"
**Describe the bug**
There used to be a link to the host terms of fiscal sponsorship near the top of the page, but it's disappeared.

![Screen Shot 2019-07-19 at 2 15 17 PM](https://user-images.githubusercontent.com/5498878/61504539-d974b500-aa2f-11e9-83c7-faeadf710c98.png)

[2019-07-19 10:28] Betree commented on #2225
@alanna I don't think that @raulgrafico is done with these designs, I guess that's why they didn't communicate more about them. But I share the same feeling, I'd love to be notified when things are ready for reviews then ready for implementation. I usually have to make assumptions for this.

[2019-07-19 13:14] nothingismagick opened #2257 "Introduce Sourcecred as a method for Funds Distribution"
## User story
As an a project administrator, I can automatically delegate regular or one-time funds to Contributors based on a https://sourcecred.io graph of one or more repositories.

## Best solution for this problem
_What does the ideal solution look like?_

## MVP
One or more projects that are currently aware of sourcecred and have funds to delegate could be invited to participate and contribu

[2019-07-19 14:50] Betree commented on #2213
@alanna @piamancini @xdamman We need to wrap this up to move forward with the implementation. This is a design/terminology decision so I'm not the one who should take it.

[2019-07-19 15:26] Betree opened #2258 "PayPal payout API"
As suggested by @dodgepong

We're currently using [Paypal Adaptive Payments](https://developer.paypal.com/docs/classic/adaptive-payments/integration-guide/APIntro). It was, at the time of implementation, what worked best for us:
- One application
- Multiple senders (hosts)
- Multiple recipients

It has however some limitations:
- Fees are high: around 2.5% + $0.30
- Host needs to re-generate a pre

[2019-07-19 18:08] xdamman commented on #1875
Deployed to production!

[2019-07-19 18:08] #1875 closed

[2019-07-19 21:57] znarf commented on #543
Thank you @burinious ! It's merged. (Deployment to production is still pending).

To claim the bounty, you can:

a) submit an invoice to https://opencollective.com/engineering
b) or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-07-19 23:32] cuiki commented on #2239
Hi. The challenge, IMO, is to make sense of all the incoming feedback and put it together and apply strategically. Most of what you said in the initial comment is already addressed but this could be a matter of hierarchy and sequence. Some users think that their CTA could be submitting an expense but it could only mean that the action of submitting is hard to find or buried too deep into the page.

[2019-07-20 13:31] piamancini commented on #2258
This is great.

[2019-07-20 23:38] alanna opened #2259 "Docs down"
Instead of directing to the Open Collective gitbook, docs.opencollective.com is redirecting to https://docs.opencollective.brussels, breaking all help links.

@xdamman @znarf @Betree - did you change anything related to this?

[2019-07-21 07:28] znarf commented on #2259
Related to the creation Open Collective Brussels docs at Gitbook. Deleted that.

[2019-07-21 07:28] #2259 closed

[2019-07-21 12:25] Upperholme commented on #2251
Initial thoughts:

The gap between $15K per month and $70K per month is big. Even applying your proposed model to existing hosts (which won't be the case) you are still $15K per month away from breakeven. i.e. the proposal doesn't solve the issue.

OC has had a significant impact in the open source tech space, but it feels like there is a lot more value that could be added there, and partnerships/

[2019-07-21 13:51] #2242 closed

[2019-07-21 13:51] maddhruv commented on #2241
@znarf
can I work on these issues?

[2019-07-21 13:52] maddhruv commented on #2240
@znarf any update on this?
how do you plan to do this? can I pick this up?

[2019-07-21 13:52] maddhruv commented on #2243
@znarf

[2019-07-21 13:52] maddhruv commented on #2244
@znarf

[2019-07-21 14:22] xdamman commented on #2259
Huh oh sorry my fault. I’m the one who created that.  But I had no idea it would break the existing docs. That’s weird. I’ll investigate. Would be good to have docs for hosts as well.

[2019-07-21 15:19] xdamman commented on #2251
@Upperholme thanks for taking the time to share your thoughts and your perspective.

While it’s true that we won’t get to profitability immediately by announcing this new business model, the real intent here is to change the dynamics. We have not invested enough in the expense flow, in the dashboard for hosts to manage their collectives and other features like that because the reality is that they

[2019-07-21 18:33] Upperholme commented on #2251
So why not just open a bank account? And, if I do have a bank account, I'm then not paying a 10%+ fee to receive money into that account. The higher the cost for each collective, the greater the disincentive to  set up on OC, which goes directly against what I assume to be a key aim for the ecosystem, i.e. to substantially grow the number of collectives using the platform, and thereby build networ

[2019-07-21 19:51] xdamman commented on #2251
Can’t agree more. That’s exactly our goal with this move. Hosts want tools such as “Add funds” and better expense management. We need to align our business model with the value that we want to create. The ecosystem needs much more than just yet another platform to help them raise money. That’s why we want to break free from the model of just making money on the money raised online by credit cards.

[2019-07-22 01:09] alanna commented on #2258
This would be amazing!!

[2019-07-22 02:30] alanna opened #2260 "UI elements for new tax form notifications"
## Help text

On hover over "Tax form required" label:

If possible, it would be great if clicking that label took you to https://docs.opencollective.com/help/expenses/tax-information

## Banner

Currently, after submitting an expense you are redirected to this page:

![Screen Shot 2019-07-22 at 1 43 35 PM](https://user-images.githubusercontent.com/5498878/61601356-15568700-ac89-11e9-98c2-21e52cce

[2019-07-22 02:42] alanna opened #2261 "Identify expense type on submission"
We need to differentiate between receipt reimbursement expenses and invoice expenses.

Add a required dropdown box on the new expense form next to 'category':

**Expense Type**
* Receipt
* Invoice

Add a ? help icon, and on hover show:

[2019-07-22 02:45] alanna commented on #2261
FYI @pietgeursen and I decided this can just apply to expenses going forward, and for past expenses we'll have a third state ('undefined' or 'uncategorised'). The tax threshold measurement will take into account both 'invoice' and 'uncategroised' expenses.

[2019-07-22 02:54] josegonzalez opened #2262 "GraphQL error when viewing an expense"
**Describe the bug**

I'm attempting to browse to the expenses for the Dokku collective, and I cannot see what the expenses were due to a graphql error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/dokku/expenses/
2. Click on the sidebar where it says Finpo
4. See error message that says "graphql error" - the source seems to be `FromCollectiveId not found`

[2019-07-22 03:36] alanna commented on #2225
Looks like Facebook is pulling through the host's image instead of the Collective's image when linking to a Collective page. I think it should probably pull through the header image.

<img width="495" alt="Screen Shot 2019-07-22 at 3 33 40 PM" src="https://user-images.githubusercontent.com/5498878/61604597-4b4e3800-ac96-11e9-8889-c1970b55bdc9.png">
<img width="501" alt="Screen Shot 2019-07-22 at 3

[2019-07-22 07:16] Betree commented on #2239
Closing this for now as we prefer to target consistency

[2019-07-22 07:16] #2239 closed

[2019-07-22 07:29] Betree commented on #2260
A message above `Your expense has bee submitted with...` would make more sense to me because the collective notification bar is a place where we normally display notifications about the collective you're viewing (ex: created, archived...etc) not about the logged in user. The goal being to ensure that the user doesn't miss this message, we have helpers in the design system that could help (for exam

[2019-07-22 07:54] xdamman commented on #2239
Sorry I missed this issue. Only seeing now with the notification that you closed it ;-)

Thanks for sharing your experience with CaptainFacts. We need more stories like those to better understand the different use cases.

I agree with @alanna that consistency across all the collective pages for the main actions is important.

But I also agree with @Betree that the “Submit expense” is an important

[2019-07-22 07:55] Betree commented on #2262
Hi @josegonzalez! Sorry for this bug, we should not be displaying that `Finpo (inc)` link because they never submitted an expense to your collective. Root cause is apparently that we're counting a refund as a payed expense. Should be fixed today.

[2019-07-22 07:58] Betree commented on #2239
Yep that'd be a good way to solve the contact issue that I'm pretty sure other collectives will complain about at some point. Opening an issue for that now.

[2019-07-22 08:07] Betree opened #2263 "New collective page: customize contact action"
Following up on https://github.com/opencollective/opencollective/issues/2239#issuecomment-513683872

The new collective page comes with a new `Contact` button, out of the numerous support requests of people just trying to reach collectives and contacting Open Collective inc instead.

The current default is to link to `hello@${collectiveSlug}.opencollective.com` which will send an email to all coll

[2019-07-22 08:31] xdamman commented on #2196
That’s correct. Not sure we need it for events though. They should just fall back to their parent collective’s VAT rule.

[2019-07-22 11:49] Betree commented on #2225
@alanna That's a bug linked to the avatar refactor, we normally take the collective image and fallback on the host image if it's not available. Will fix.

[2019-07-22 12:44] piamancini commented on #2260
who's implementing this? @piet?

[2019-07-22 15:12] cuiki commented on #2239
Yup I think thats a good level of customization for now. :)

[2019-07-22 15:13] cuiki commented on #2263
@raulgrafico please make sure to include this setting in the edit flow.

[2019-07-22 16:46] lindatalu opened #2264 "EPIC → Home Page (Design Revamp)"
## Description
Current Open Collective's home page has a lot of communication issues; the goals are not clear, and by this moment is only talking to a single type of market and users.

The main message to communicate will be: Make your community sustainable, and our primary audience is all the people organizing initiatives, social movements, and open source projects.

**Values to transmit:**
   -

[2019-07-22 21:26] pietgeursen commented on #2260
Yep! :wave:

[2019-07-22 21:42] pietgeursen commented on #2260
@alanna what do you think about mentioning that the email might take up to 24h to be sent? Try and work it in or leave it out?

[2019-07-22 22:28] alanna commented on #2260
@pietgeursen the 24 thing is mentioned in the banner text. Are you saying we should also add it to the hover text?

[2019-07-22 22:30] alanna commented on #2260
@Betree - I agree that the ideal location of the banner would be above "Your expense has been submitted". If it's easy to put it there, great. @pietgeursen and I were just planning to use as much existing styling and code as possible, so we were planning to piggyback off the existing banner design. If it's a simple change, let's go for it.

But if it's not, I think redesigning the expense submitte

[2019-07-22 22:36] pietgeursen commented on #2260
@alanna yeah I was meaning the hover text. Buuut, the banner text is very clear so on reflection I think it's good enough. The hover text is pretty long as is.

[2019-07-22 22:38] alanna commented on #2264
I think the Home Page design should align with our overall strategy (see #2168). We should be rethinking it to be aimed at fiscal hosts. At the same time, we should be really investing in great host pages, which become the Open Collective front page for their community.

Each host community has different language, terminology, calls to action, etc. A big problem for us has been trying to serve all

[2019-07-22 22:39] alanna commented on #2260
@pietgeursen feel free to make edits/improvements as you're seeing it in the UI context. I wasn't sure how long to make things.

[2019-07-22 23:00] alanna commented on #2196
We do need this on a per-event and per-tier basis if we're going to apply it more generally than VAT. In the US, online purchases from another state don't trigger local sales tax but a local person buying a local event ticket does. We've got a Collective now figuring out how to set up sales tax for their event and they will need it to apply only to ticket tiers in that event, and not to their norm

[2019-07-23 00:13] alanna opened #2265 "Refunded transactions should not be counted in annual budget estimate"
[This Collective](https://opencollective.com/upstatephp) had $300 contributed in error, which was then refunded. However, the annual budget is now apparently based on including this transaction, which is skewing the whole thing. Refunded transactions should not be included in that calculation.

[2019-07-23 00:46] alanna opened #2266 "Option to use Organizations and Collectives as payee for expenses"
## User story
As an expense submitter, I want to be able to specify an Organization as the recipient of the expense payment. Currently we only use Organizations for financial contributions, but the same need for having a personal identity and a company identity comes up for expenses too.

As a Collective core contributor, I want to be able to submit an expense as a Collective for services provided

[2019-07-23 00:47] alanna commented on #2266
This will get a lot more relevant once we start saving invoice information for users. We'll need to enable the submitter to choose the right identity so the right payee information is associated.

[2019-07-23 02:11] alanna opened #2267 "Decision-making process for our team"
## Context

In our recent team workshop, we said we wanted to improve our decision-making processes and clarify outcomes.

People said we rehash the same conversations because decisions aren't properly concluded, that they don't know when or how to give input sometimes, and that it's not always clear who actually should have the final say on a given decision. We have extra challenges with this bec

[2019-07-23 02:29] pietgeursen commented on #2260
@alanna see the pics in the description of the [PR here](https://github.com/opencollective/opencollective-frontend/pull/1987). What do you think?

[2019-07-23 07:17] Betree commented on #2196
@alanna In the case of VAT we do it per tier type (PRODUCT => taxed, DONATION => not taxed). But anyway this issue is specific to VAT, whatever tax we may want to implement for the US would have its own separate implementation.

I would have loved to keep the initial "customizable taxes" feature that I worked on but it should have been better specified from the start and the need was not important

[2019-07-23 07:54] Betree commented on #2267
I agree with the entire proposal. Using Github issues with the assigned person being the decision maker is a clear process. It's not to far from the way we work today so there should be no cost for the team to adapt.

What's still unclear to me is how we decide who's the decision maker. It's usually pretty easy to know for "ground" decisions. For example, choosing between Figma or Adobe XD would i

[2019-07-23 08:11] #2161 closed

[2019-07-23 10:04] Betree commented on #2262
Fixed by https://github.com/opencollective/opencollective-api/pull/2300, we now show only recipients who have already been paid (that's why the list appears empty for Dokku right now).

[2019-07-23 10:04] #2262 closed

[2019-07-23 15:39] Betree commented on #2049
:trophy: This issue is now completed in https://github.com/opencollective/opencollective-frontend/pull/2164

@NotJohs To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info

[2019-07-23 15:39] #2049 closed

[2019-07-23 23:11] alanna commented on #2225
@Betree Did you intend to close this issue? Let's leave it open throughout the launch to collect feedback. (Sorry if I'm misunderstanding something here but I'm going to go ahead and reopen it).

[2019-07-23 23:22] alanna commented on #2260
@pietgeursen  it looks really good! The only small changes I would suggest are:

* Yeah the hover text seems too long. Let's delete the words "with a link to the form you need to submit" and keep the rest the same.

* I find the light yellow on lighter yellow text of the banner really hard to read. Can you change the color to something higher contrast?

* In the banner, are the words "see our help

[2019-07-23 23:27] alanna opened #2268 "Charging US sales tax and taxes on tiers in general"
As mentioned in #2196 we have a Collective hosting an event in Texas and they need to charge sales tax on the tickets they will sell through the platform.

Each US state has a different % for sales tax, and while they'd need to turn it on for ticket sales they do not need it on other tiers for sponsorship, etc. I am working with the Open Collective Foundation's accountant to clarify the exact requ

[2019-07-23 23:46] NotJohs commented on #2049
@Betree Thank you.

[2019-07-24 04:12] dangtan973 opened #2269 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/babel/contribute/backers-355/checkout? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux aarch64
- Browser: `5.0 (Linux; Android 5.1; CPH1605) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.143 Mobile Safari/537.36

[2019-07-24 05:38] pietgeursen commented on #2260
@alanna

Good spotting, I think I missed that. Will fix.

I'm trying to re-use existing components so that the styling is consistent through the site. I'd like to keep using this component: https://styleguide.opencollective.com/#!/MessageBox . What about using blue or red?

:+1:

[2019-07-24 06:22] Betree commented on #2225
@alanna it was a mistake, GitHub auto-closed it because https://github.com/opencollective/opencollective-frontend/pull/2230 had "resolve" in the description. Thanks for re-opening

[2019-07-24 07:25] Betree commented on #2193
@mixmix We've had other reports of crazy load times from New Zealand. If you get more data about this at some point we'd love to have it so we can better understand what's the problem.

Regarding this specific issue I totally agree that we should display info about the expense that has been approved here. I also agree with @alanna's comment above:

I'll try to see if we can create a simple pattern

[2019-07-24 07:56] Betree commented on #2268
Thanks for opening this issue. A better understanding about the different taxes will help to implement it the right way.

I've made an attempt to build something generic in the past. You can find the documentation about how it worked at the time here: https://github.com/opencollective/documentation/blob/bcaed756daf0e9d49e7f49adea3f9d0e43889e4e/hosts/local-tax.md. We didn't properly specified all t

[2019-07-24 08:11] Betree commented on #2241
We try to keep issues as contained and focused as we can, otherwise they stay open forever. Take this one as an example: you can always improve performance and SEO so when do we close it?

I've created the [`performance`](https://github.com/opencollective/opencollective/labels/performance) and [`SEO`](https://github.com/opencollective/opencollective/labels/SEO) labels so we have a way to group iss

[2019-07-24 08:11] #2241 closed

[2019-07-24 08:33] Betree commented on #2243
Avatars are usually pretty small, weighting somewhere between 2kb and 5kb. On the [new collective page](https://opencollective.com/babel/v2)  where the `Contributors` section can display thousands of contributors we already lazy load them.

Lazy loading should not be the default because:
- It can improve the network performances, but triggering the fetch from JS is not free neither
- It has no uti

[2019-07-24 08:40] Betree commented on #2256
@alanna The link has not disappeared from the code (https://github.com/opencollective/opencollective-frontend/blob/7a19d5e85e765c3f333fadc7888b6fc2ad84c501/components/ApplyToHostBtn.js#L47), however it seems that there's no `tos` link in OSC's settings. Can you provide the link where this should go so I can add it to the config?

[2019-07-24 08:45] Betree commented on #2244
Thanks for this issue @maddhruv

There's not enough space to display 4 in a row and we'll loose space on the right if we display only 2:2. The proper fix could also be to do 3:3.

As we're re-designing this page I'm not sure that we want to invest time fixing this. I'll add a `won't fix` for now and will let @znarf close or update accordingly.

[2019-07-24 08:48] maddhruv commented on #2244
@Betree I have seen the issues regarding the redesign of several pages
I want to help and work on these
any steps or particular issues I can contribute on?

[2019-07-24 08:50] maddhruv commented on #2243
As these improvements are landing in the V2
we can close this issue?

[2019-07-24 08:56] Betree commented on #2257
@nothingismagick I didn't know about SourceCred, what a great project! I don't know if this issue is something we can prioritize for the short/mid term, but doing it manually at first seems feasible.

I could definitely space to integrate and re-use data from SourceCred in the future :slightly_smiling_face:

[2019-07-24 09:02] maddhruv opened #2270 "Transaction Data Mismatch"
**Describe the bug**
The Latest Transactions data doesn't match in the two pages
- https://opencollective.com/bundlephobia/v2 - version 2 (new design)
- https://opencollective.com/bundlephobia - version 1 (older design)

<img width="954" alt="Screenshot 2019-07-24 at 14 31 58" src="https://user-images.githubusercontent.com/18121502/61780265-da3a8c00-ae1f-11e9-949d-b32173068aa4.png">
--- VS ---
<im

[2019-07-24 09:18] #2243 closed

[2019-07-24 09:25] Betree commented on #2244
@maddhruv These are usually tackled by the core team because it requires close collaboration with the design team and the rest of the team. We don't have open issues for the re-designs right now but you can check the [open bounties](https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3Abounty) and [good first issues](https://github.com/opencollective/opencollective

[2019-07-24 09:28] Betree commented on #2269
@dangtan973 can you provide more details about the error, like steps to reproduce?

[2019-07-24 09:28] #2269 closed

[2019-07-24 09:57] Betree commented on #2270
Good catch, that's because we show the amount after Stripe/OC fees in one case and not the other. I'll update that so design match.

[2019-07-24 10:11] Betree commented on #2260
This is the right thing to do, the goal of the design system is to have consistent design/colors across the site. If the warning colors I to light (I think they are too) then we should update them.

Actually I just looked at https://www.figma.com/file/1jyGC3MjtqI7uUsGf1447P/DS-03-%2F-Colors?node-id=1234%3A1201 and it seems that it has already been updated, @pietgeursen feel free to edit https://gi

[2019-07-24 10:41] nothingismagick commented on #2257
Let me know how to move forward with this with you - I've got some firsthand insight into it, and would love to incorporate it into our **opencollective** at some point - even as an early adopter where things might break or require manual intervention.

[2019-07-24 10:51] piamancini commented on #2251
two cents from talking to small self-hosted collectives. I think maybe @xdamman is right that the first $500/$1000 raised on open collective should be free of the 5% fee. This can get more than one collective started.

[2019-07-24 11:26] decentralion commented on #2257
From the SourceCred perspective -- last year @piamancini @xdamman and I were chatting about integrating, there's a bunch of context on that over here: https://github.com/sourcecred/sourcecred/issues/935

Most of the technical milestones we needed have been achieved. In particular, we can now generate cred scores via command-line API, rather than being restricted to an in-browser workflow. Also, we

[2019-07-24 13:12] piamancini commented on #2213
@alanna, you started this terminology discussion and did the work of pushing though it, it seems like you are the legitimate decision-maker here. We can have a final call about it but then you should decide so Ben can move forward.

[2019-07-24 16:46] piamancini opened #2272 "Unexisting collective leading to "unexpected error" instead of 404"
When you search for a url that doesn't exist it takes you to an "oops page" instead of to the search page.

To repro: search for a wrong URL for the first time.

<img width="1270" alt="Screen Shot 2019-07-24 at 6 41 06 PM" src="https://user-images.githubusercontent.com/3671070/61811970-e5eb7a00-ae42-11e9-85dc-3fef2c65e55b.png">
<img width="549" alt="Screen Shot 2019-07-24 at 6 08 36 PM" src="https

[2019-07-24 17:50] piamancini commented on #1861
I want to keep this live. I'll follow up with Devon about the  badges api

[2019-07-25 00:10] alanna opened #2273 "Need to attribute an Organization's contributions to a Collective"
The contributions from this Organization:
https://opencollective.com/access1

Need to be attributed to this Collective:
https://opencollective.com/access

This happened because of the inability to do Collective to Collective transfers between hosts (#2017). Instead, we did a manual transfer from host to host and then added the funds manually to the Collectives. But this doesn't work for cohesive r

[2019-07-25 00:16] alanna commented on #2165
@xdamman when will this be done?

[2019-07-25 00:36] alanna commented on #2267
Good question @Betree - in the example you mentioned, I think the most important thing is to actually just pick a decision maker and go with it, even if there's no clear right answer, because ambiguity and rehashing can be more expensive than taking a 'wrong' decision when it's pretty low-risk, as in this case. If it's a high-risk, unchangeable decision, then we should be a lot more careful.

If w

[2019-07-25 00:52] alanna commented on #2268
I'm just trying to test this thought experiment: If we enabled a per-tier (including per-event-tier) tax option with only a % input box, accessible by the fiscal host admin (so they can decide if/when they will take responsibility for collection and remittance), which use cases would that not solve?

An editable % would allow adapting to whether the rate was determined by the location of the Colle

[2019-07-25 01:02] alanna commented on #2256
OK this is a bug then. The terms of fiscal sponsorship have been set for OSC for a very long time, and have not changed. Can you please investigate how and when it got deleted? This is pretty concerning because we require new Collectives to agree to these terms and we don't know how long they haven't been linked. What happens when they get to the screen where they have to tick the box to agree to

[2019-07-25 01:09] alanna commented on #2213
If it's my decision, then I think we should implement what we decided and then focus on improving it, instead of changing halfway through. This kind of text is super easy to update so it's very low risk to change it later.

After thinking about this issue I posted somewhere else that I think the problem is we're using too much text and it's redundant. I suggested this change to fix it:

![](https:

[2019-07-25 03:38] alanna commented on #2257
This is very interesting! From the perspective of the Open Source Collective, I'm very interested in partnerships and collaborations with aligned projects. If I'm understanding this correctly SourceCred could be used as a way to determine or justify distributions of Collective funds to contributors, right?

@decentralion - can you explain more about why an integration would be necessary? Can't cur

[2019-07-25 04:46] alanna commented on #2261
If that text is too much for a hover, feel free to put it on the form page itself.

[2019-07-25 04:47] alanna commented on #2261
I just made it a bit shorter too.

[2019-07-25 07:40] Betree commented on #2268
I'd be surprised if that can cover existing cases properly. Do you have a link to the rules for this US taxes so we can check together? I've already been down this simple experiment with VAT only to realize it wasn't working, I'm not a big fan of doing it again :slightly_smiling_face:

The main question is:
- Does the tax applies for everyone the same, regardless of their country, their status (in

[2019-07-25 07:45] Betree commented on #2213
@alanna Can you create a separate issue for this and tag design on it? Having the tier title on the button may not play nicely with https://github.com/opencollective/opencollective/issues/543

According to https://github.com/opencollective/opencollective/issues/2267 this issue should now be closed. We can also plan a call to discuss it as we wanted to do on Tuesday if anyone thinks that we should.

[2019-07-25 08:00] Betree commented on #2256
Seems that it was removed from the settings on `2019-07-18 05:55:05`

Yes

![image](https://user-images.githubusercontent.com/1556356/61856488-892fa400-aec2-11e9-8c2c-18c8bf78de22.png)

I don't exclude the possibility of a bug in the edit collective form, but I'll need steps to reproduce if we want to tackle that. I just tried locally and the field seems to react normally.

Another possibility is

[2019-07-25 10:03] Betree commented on #2260
@pietgeursen and also

[code]

[2019-07-25 11:13] Betree commented on #2165
Bounties are there to address backlog issues without expectations about delivery date. I'd say it's usually not compatible with `priority` or `important` issues.

[2019-07-25 11:28] Betree commented on #2017
To do that organizations use a special `Prepaid` payment method that we create for them. It has an initial balance that we use to compute the real balance by subtracting the amount of the DEBIT transactions created from it.

It's different from the collective balance because the collective balance is basically a sum of all the CREDIT transactions minus the DEBIT transactions, it doesn't have an `i

[2019-07-25 11:43] Betree commented on #2151
Sounds like a duplicate of https://github.com/opencollective/opencollective/issues/1141, @alanna can we close it?

[2019-07-25 11:47] Betree commented on #1945
See these related issue about better support for PayPal:
- https://github.com/opencollective/opencollective/issues/1141
- https://github.com/opencollective/opencollective/issues/1655

Definitely something we need to work on. Closing this one to follow up in related issues

[2019-07-25 11:47] #1945 closed

[2019-07-25 12:24] Betree opened #2274 "Revamp payment/payout methods"
Having new/better support for payment providers is a very common request from users (see https://github.com/opencollective/opencollective/issues/2240 https://github.com/opencollective/opencollective/issues/2207 https://github.com/opencollective/opencollective/issues/1655 https://github.com/opencollective/opencollective/issues/2258) and probably a blocker for some users or companies to actually mov

[2019-07-25 12:52] #2188 closed

[2019-07-25 12:52] #2193 closed

[2019-07-25 14:10] Betree commented on #2273
One way to do that could be to change the `FromCollectiveId` of all orders and transactions from `access1` to `access`. @xdamman is that a safe thing to do?

[2019-07-25 14:13] xdamman commented on #2273
Yes. But you’d need to also do that for the corresponding transactions. And the proper way to do this is to mark them as deleted and create new ones.

[2019-07-25 14:23] xdamman commented on #2274
This would be so so so great.

I’d suggest to start with manual payment methods because they are the most versatile ones. This would give us the biggest bang for the buck and then we can start offering more interfaces and hooks to automate.

As a host I want to enable people to donate to a collective by:
- make a bank transfer to our bank account with an order id to make it easy to reconciliate.
-

[2019-07-25 19:54] mojoaxel opened #2275 "widgets are broken"
**Describe the bug**
The opencollective widget are not shown anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/widgets
2. open dev console
3. See error `Uncaught ReferenceError: require is not defined at button.js:3`

[2019-07-25 21:40] mixmix commented on #2193
Yeah a simple improvement of basic info sounds perfect.

I'll try to snapshot asset and api load times if I hit a slow load in
future. Past couple of weeks we're noticeably better. Mysterious

On Fri, 26 Jul 2019, 00:52 Benjamin Piouffle, <notifications@github.com>
wrote:

[2019-07-26 00:25] alanna opened #2276 "Everything should be a Collective and Collectives should be able to do everything"
I have realised that a bunch of issues coming up recently are all actually part of the same problem (and some I haven't raised yet). I have been hesitating to post this because it's kind of like *OMG WE SHOULD CHANGE EVERYTHING!!* — but I honestly think if we made this shift the system would be so much simpler.

* Collectives should be able to submit expenses (#2266) - this is going to get more an

[2019-07-26 02:55] pietgeursen commented on #2260
@Betree I don't have access to that figma file I guess. I've created an account with figma using my open collective email address but still no love.

[2019-07-26 06:13] alanna opened #2277 "Unable to pay expenses through paypal or refill balance"
I paid some of expenses today and it was working fine at first. I refilled the paypal balance a couple times. Then, I started getting this error on every expense I tried to pay:

Also, I can't refill the balance anymore. I thought I might need to reset the token, but when I click "refill balance" nothing happens.

This is affecting all hosts. It started with OSC but the same thing is happening in

[2019-07-26 06:20] Betree commented on #2277
We didn't change this recently so my first guess is that PayPal reduced the max validity period of the pre-approval. Investigating that in priority.

[2019-07-26 07:07] Betree commented on #2276
This is already working like that today. Users, organizations are also collectives and the only difference between them is the `type` field that can be `ORGANIZATION`, `USER` or `COLLECTIVE`.

The reason why it's not possible today is because your paypal email is attached to your user, not to your collective. It's legacy and we'll surely move away from that in the revamp of the expense flow when w

[2019-07-26 07:23] Betree commented on #2277
From the logs I can confirm that we're sending the same period as usua (1 year)

Whatever change they made hasn't been reflected to their "sandbox" API, all my local test are still working. We'll have to go for a blind fix that will need to be tested once it's live. I'm going to reduce the validity period to 6 months.

[2019-07-26 10:15] Betree commented on #2277
As per https://opencollective.slack.com/archives/G46PNRCGP/p1564127222003700 this issue seems fixed, @alanna can you confirm?

[2019-07-26 10:24] Betree commented on #2260
@pietgeursen I asked the design team to add you on Figma. But you can just rebase on master, I've already updated the design there (I needed that too).

[2019-07-26 11:49] Betree commented on #2275
Fixed by https://github.com/opencollective/opencollective-frontend/pull/2249 and deployed

Thanks for the report @mojoaxel!

[2019-07-26 11:49] #2275 closed

[2019-07-26 12:23] mojoaxel opened #2278 "Security error on chrome for images fetched fom Cloudfront"
**Describe the bug**
The page https://opencollective.com/widgets shows a security warning in Chrome.
The "backers and sponsors" widget can not be displayed in Firefox

### Chrome 75.0.3770.142 (Offizieller Build) (64-Bit) (Ubuntu Linux)
![image](https://user-images.githubusercontent.com/600565/61951290-e4d85b00-afb0-11e9-9abd-22a245ff50da.png)

### Firefox 68.0.1 (64-bit) (Ubuntu Linux)
![image](h

[2019-07-26 12:24] mojoaxel commented on #2275
this fix results in #2278

[2019-07-26 12:40] Betree commented on #2278
Seems like the cloudfront domain is red flagged, we still use it for some old user pictures. It doesn't seems related to widgets themselves.

Note: Works for me on Firefox without warning (this is why I missed it)

![image](https://user-images.githubusercontent.com/1556356/61951737-30d7cf80-afb2-11e9-8f43-1eb67e4b4229.png)

[2019-07-26 12:51] mojoaxel commented on #2278
I'm sure everything worked well last week or so.

[2019-07-26 15:05] Betree commented on #2278
Thanks again for this new report @mojoaxel, this is fixed now. Turns out we were displaying a screenshot instead of the real widget and the image provider used for it got blacklisted by browsers.

[2019-07-26 15:05] #2278 closed

[2019-07-26 21:36] Memo-Es commented on #2264
I agree with you @alanna, all of the efforts across teams should be aligned with the high-level strategy of both the product and business model...

If we go ahead with the fiscal host scenario, the homepage should prioritize the messaging of the following outcomes of the strategy thread previously discussed:

" - Open Collective will aim to be a platform for all kinds of diverse fiscal hosts, with

[2019-07-27 08:35] Betree commented on #1482
Got a feedback requesting this today: https://opencollective.slack.com/archives/C1974QBNK/p1564181467005300

[2019-07-27 14:44] Beanow commented on #2257
I think both with and without a technical integration would be interesting to explore.

When you want to use SourceCred as input to inform the distribution, perhaps archiving a verifiable list of cred scores and referencing that would be the way to go.

However I think the automatic integration has some benefits, especially for the case where you want to pay contributors in a way that's directly p

[2019-07-27 23:59] alanna commented on #2277
I was able to pay an expense through the API so apparently this is fixed now.

[2019-07-28 00:03] alanna commented on #2276
OK great, so we have some of the building blocks in place @Betree - so how do we enable all these actions for all these types of Collectives? Because right now it feels artificially limited and we're having to do a lot of complicated workarounds.

[2019-07-28 00:03] alanna commented on #2273
Please let me know when this has been done so I can inform the user.

[2019-07-28 00:11] Betree commented on #2276
@alanna There are too many topics in there to provide a general answer, I tried to reply to specific points above. Which ones are still unclear?

[2019-07-28 18:27] IoTopenTech opened #2279 "When are new translation updated?"
Hi, we are testing Open Collective for our non profit organization.

I have translated several strings to spanish in crowdin, but they are not automatically updated in the frontend.
For example:
![imagen](https://user-images.githubusercontent.com/52624907/62011236-d8e9c600-b175-11e9-90ba-4bbb308661a8.png)
![imagen](https://user-images.githubusercontent.com/52624907/62011243-11899f80-b176-11e9-9a9f

[2019-07-28 22:56] alanna commented on #2144
[Here's another example](https://opencollective.com/intellij-rainbow-brackets/expenses/9101) that wasn't showing up in ready to pay so I didn't know about it until the user contacted support upset by the delay.

This is a big problem because it's going to cause expenses to be missed. Can it please be investigated?

[2019-07-28 23:24] pietgeursen commented on #2260
Ok, I did that and removed the custom styling for the colors that I had added.

[2019-07-28 23:57] saranshkataria commented on #2180
@znarf when does this open to everyone?

[2019-07-29 00:11] alanna commented on #2268
I think we can leave that up to the Collective and Host to determine. If in their situation they need different options for different statuses of buyers, they can create different tiers with a different tax % for each one they need. We can offer a very simple and generic feature and then it's up to them to use it to meet their requirements.

[2019-07-29 00:16] alanna opened #2280 "Reduce text in contribute section of Collective page"
We've been running into issues deciding what labels and text should be on things in the contribute section of the new Collective page. I think this is because we are using too much redundant text, and too much text defined by us instead of users.

There are many different kinds of Collectives who will want to use different terminology. We can enable them by using their tier names as the action but

[2019-07-29 00:16] alanna commented on #2213
@Betree raised #2280

[2019-07-29 00:16] alanna commented on #2213
Closing this issue as the decision has been made for the time being.

[2019-07-29 00:16] #2213 closed

[2019-07-29 00:26] alanna opened #2281 "Unable to apply to Open Source Collective manually"
**Describe the bug**
Can't apply with existing or new Collective to Open Source Collective host without going through the GitHub verification flow.

**To Reproduce**
A. With exisiting unhosted Collective:
1. Go to opencollective.com/opensource
2. Button says "apply to create Collective" instead of "Apply with [Collective name]"
3. No way to apply with your Collective

B. Create New Collective:
1.

[2019-07-29 00:27] alanna commented on #2256
OK I guess this will be a mystery for now. If it happens again, we need to track down what's causing it, as this could put OSC in a questionable legal position if the terms are not linked.

I raised #2281 to deal with the other problem.

[2019-07-29 00:28] #2151 closed

[2019-07-29 00:36] alanna commented on #2277
Seems to be working normally now so I'm closing this.

[2019-07-29 00:36] #2277 closed

[2019-07-29 00:54] alanna commented on #2257
Very cool. OK, well let's start with the easiest first steps and go from there. I will include a mention of SourceCred in the next monthly newsletter, as a potentially helpful tool for Collectives.

I think the best next step would be to get an actual Collective to try out using it as a way to decide financial distributions from their Collective. Then we can write about that as a case study on the

[2019-07-29 01:01] alanna commented on #2276
I think you are saying that under the surface many things actually work this way already but are hidden. I am talking about bringing that functionality out and making in accessible to users. So what's not clear to me is how to get there.

Many of the ideas mentioned already have issues open for them (see my original list) but not all. I can raise issues for the rest if that's helpful. I started th

[2019-07-29 01:02] alanna commented on #2276
I will raise the seperate issues now for the things that don't have one already.

[2019-07-29 04:19] alanna commented on #2159
Just to add a bit of feedback, I'm not able to use Open Collective events for OSC's maintainer support calls because the time zones are too unclear. We have people in 8 different time zones and I can't figure out if I should be specifying the time in my own time zone or what the users will see, and it's too confusing.

[2019-07-29 06:32] Betree commented on #2180
@saranshkataria It is now open for everyone :wink:

[2019-07-29 06:59] Betree commented on #2276
Most of the things reported are either technical debt (collectives to submit expenses), features to add (show bulk payment methods creation in transactions) and features that we've intentionally hidden for some collective types that we can enable if we now think they would be useful for them (updates for organizations, gift cards for collectives).

I don't see a general pattern to solve (or facili