[2019-09-14 17:57] XVilka opened #2423 "Add a GitHub Sponsor button to this repository"
I wonder why you didn't enable it yet :)

- https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository (it even has OpenCollective integration after all)
- apply for GitHub matching sponsorship https://github.com/sponsors

[2019-09-14 18:10] piamancini commented on #2421
@znarf fyi: I fixed this from the database level but we need to tackle the underlying issue.

[2019-09-14 18:12] piamancini commented on #2422
Yes, we discussed this recently and we agree that integrating is a better option than having to maintain our own event feature which is not our focus. cc @alanna for the future.

[2019-09-14 18:14] piamancini commented on #2420
yes! we actually had a collective (dokku) and a host (oscollective.org) funding issues. We want to add this to our bounty system in the future. cc @xdamman @znarf

[2019-09-14 18:55] piamancini commented on #2103
great thanks - we used to have this in the past so lmk when you are ready and I can help with how we used to do it, how we changed and then dropped it

[2019-09-14 20:31] znarf commented on #2421
If it's fixed, then let's close. To fix the underlying issue, let's create a separate bug or enhancement issue.

[2019-09-15 00:07] nonsodaniel commented on #2408
Hi, I'd like to jump on this

[2019-09-15 00:09] nonsodaniel commented on #2293
I've fixed it

[2019-09-15 00:18] nonsodaniel commented on #2293
Fixed #2363

[2019-09-15 01:57] gusaus commented on #2420
CiviCRM has a few sustainability initiatives that might serve as inspiration for this type of functionality.

* [Make It Happen (MIH)](https://civicrm.org/make-it-happen) - campaigns to get or support new features that you’d like to see into the project but which hasn't been included within core development
* [Paid Issue Queue](https://civicrm.org/paid-issue-queue) - letting people with the money

[2019-09-15 06:42] NotJohs commented on #2408
@nonsodaniel already on this.

[2019-09-15 10:49] znarf commented on #2293
@nonsodaniel seems the link is wrong, can you check?

[2019-09-15 11:06] nonsodaniel commented on #2293
@znarf  which link?

[2019-09-15 12:16] znarf commented on #2293
@nonsodaniel “fixed #2363” in your comment above

[2019-09-15 15:17] xdamman commented on #2418
Oh interesting. Indeed. That’s funny.

[2019-09-16 06:50] Betree opened #2424 "New collective page: edit sections"
## User story
As a collective admin, I can re-order / remove / add sections from my collective page.

## Best solution for this problem
The base feature is already implemented. Today collective admins need to contact us, then we set a value in `settings.collectivePage.sections`. It's an array that should contain all the sections that we want to display for the collective, in the order that we want

[2019-09-16 06:51] Betree commented on #2418
Opened a new issue about editing sections https://github.com/opencollective/opencollective/issues/2424

[2019-09-16 06:51] #2418 closed

[2019-09-16 07:15] Betree opened #2425 "Update contribute page with NCP's design"
:art: Design: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E2%86%92-Create%2C-Edit?node-id=3272%3A0

The tier page was initially implemented to show all the tiers available for a given collective.

Ex: https://opencollective.com/babel/contribute/
![Screenshot_2019-09-16 Tiers - Open Collective](https://user-images.githubusercontent.com/1556356/64939685-1dced680-d8

[2019-09-16 07:34] Betree opened #2426 "New collective page: last blockers before release"
This issue tracks the last blockers that we have for releasing the new collective page. It may be updated during the week based on feedback.

---

- New collective page
  - General
    - [x] Add funds button for organizations
    - [x] FB Open Source page is crashing
  - Budget
    - [x] Add link to `View all expenses`
  - Updates
    - [x] Remove "Create a new update" button
    - [x] Don't show

[2019-09-16 08:05] Betree opened #2427 "Contribution flow: fetch payment methods dynamically"
The contribution flow currently relates on the `LoggedInUser` provided by `withUser` to get the payment methods. This is a problem because:
1. The payment method query is called every time a user opens the website, and it's quite heavy (see #1395)
2. The payment methods displayed are sometime outdated, for example users sometimes need to refresh the page after they redeem a gift card (ex: https://

[2019-09-16 08:18] xdamman opened #2428 "Climate Strike banner shouldn’t show in the widget"
See https://sa-review.com/supporters/

![](https://d.pr/free/i/m2m05z+)

[2019-09-16 08:19] znarf commented on #2428
@xdamman maybe you can help?

[2019-09-16 08:56] znarf commented on #1830
We decided to not tackle that project. Maybe we will revisit in the future.

[2019-09-16 08:56] #1830 closed

[2019-09-16 08:59] znarf commented on #1215
Seems that there is an understanding that my proposed solution (https://github.com/opencollective/opencollective/issues/1215#issuecomment-519858300) is an acceptable fix. Let's implement it.

[2019-09-16 09:22] piamancini commented on #2425
@cuiki @raulgrafico Can we get a design update on this page with the new cards for Ben to implement? thanks!

[2019-09-16 10:06] xdamman opened #2429 "New component to pick or create a collective, user, or organization"
## Problem

When adding funds, submitting an expense, or adding someone as a contributor to a collective, we need to be able to either find an existing profile or create one.

Right now, people need to create one based on email address but they often get confused with which email to use and we end up with duplicate accounts left and right.

## Solution

A new component `CollectivePickerComponent`

[2019-09-16 10:16] Betree commented on #2429
The proposed specifications are great. A first MVP without the create action would already help in a lot of places (and this can easily be added later).

[2019-09-16 13:07] yellowwoods12 opened #2430 "Participation in Outreachy as an Organization"
## Purpose
This issue is created to discuss whether or not Open Collective should participate in Outreachy as an organization.
Outreachy (previously the Free and Open Source Software Outreach Program for Women) is a program that organizes three-month paid internships with free and open-source software projects for people who are typically underrepresented in those projects. It is organized twice e

[2019-09-16 13:41] yellowwoods12 commented on #2430
@piamancini @alanna  @znarf

[2019-09-16 13:55] EslamHiko commented on #1590
Hello, Can I work on this issue?

[2019-09-16 14:03] contraexemplo commented on #2430
I'm an Outreachy helper so I may be able to help you if you wish to join us this round or on a future one!

[2019-09-16 14:54] znarf commented on #1590
@EslamHiko yes, our pleasure!

[2019-09-16 15:05] alanna commented on #1994
@znarf what you describe here seems good to me. I am not aware of any other cases but I also don't feel like I know enough to say for sure. For me the only important outcome is we can easily see the ones that are for manual bank transfers.

[2019-09-16 15:23] znarf commented on #2375
Closing because of the mentioned PR. It should normally be merged this week.

[2019-09-16 15:23] #2375 closed

[2019-09-16 15:24] znarf commented on #2423
@XVilka GitHub matching sponsorship is unfortunately only available when fundraising directly with GitHub.

[2019-09-16 15:27] cuiki commented on #1786
Hi. Yes, all files should be public. We created a few new ones to unpack complex flows (i.e. the flow to contribute is now in a separate file) and I just opened them up.

This is the file: https://www.figma.com/file/M4OD1AM4nN8kzEhnO3zILo/OC.COM-05-Collectives-%E2%86%92-Contribute?node-id=355%3A1426

I'll reconnect the example prototype that is shown up in the comments but the file is now accesibl

[2019-09-16 18:13] znarf commented on #1649
@JohnTitor Looks better!

This needs to be confirmed by @xdamman, the original reporter.

Can you please check? https://opencollective-frontend-wkcvlwgpfk.now.sh/babel/donate

[2019-09-16 18:21] znarf commented on #357
@alanna @aaronpk  I just checked and it's working as expected in the transactions page.

Ie: https://opencollective.com/babel/transactions

![Screenshot_2019-09-16 Babel - Open Collective](https://user-images.githubusercontent.com/806/64982902-9021d400-d8bf-11e9-96ad-cbcfe9e23eae.png)

[2019-09-16 18:43] znarf commented on #1955
@alanna @Betree is that solved by the new collective page?

![Screenshot 2019-09-16 at 20 42 21](https://user-images.githubusercontent.com/806/64984192-8d74ae00-d8c2-11e9-8fc7-cbd93308d19f.png)

[2019-09-16 19:06] znarf commented on #2210
Looks like this was implemented.

![Screenshot 2019-09-16 at 21 05 35](https://user-images.githubusercontent.com/806/64985711-cbbf9c80-d8c5-11e9-9ef1-b7d43166a521.png)

Should we close?

[2019-09-16 19:10] znarf commented on #1625
Closing. To be clear, not because we don't care, but because we're moving forward!

The new issue to track our progress is:
https://github.com/opencollective/opencollective/issues/2391

[2019-09-16 19:10] #1625 closed

[2019-09-16 19:17] znarf commented on #2397
Our search index is managed on Algolia. The script used to populate the index is https://github.com/opencollective/opencollective-api/blob/master/cron/daily/populate_search_index.js

[2019-09-16 19:30] Betree commented on #2210
Yes, we need to iterate on that one but the base feature is implemented

[2019-09-16 19:30] znarf commented on #2398
It's working well for all Collectives except this one.

It think it's likely because of the underscore in the slug.

![Screenshot_2019-09-16 Original Message](https://user-images.githubusercontent.com/806/64987298-2f979480-d8c9-11e9-8873-3d69159035d9.png)

[2019-09-16 19:31] Betree commented on #1955
@znarf Yes 🚀

[2019-09-16 19:32] #1955 closed

[2019-09-16 23:01] simonmichael commented on #2225
Congrats in advance! Here's a bug I found:
- using firefox 70 on mac
- click Edit main color
- in the colour field, start typing the color name "midnightgreen"
- after the "g", you get a "crash": "Ooops, an unexpected error seems to have occurred  🤕"

and a feature request: the # suggests this field will only accept hex codes, it would be nice if it accepted color names (or full CSS color value sy

[2019-09-17 05:55] Betree commented on #2225
@simonmichael thanks for testing that! We'll make sure this gets fixed before the release

[2019-09-17 06:41] rugk commented on #1738
sssh

[2019-09-17 07:06] znarf commented on #1738
This is a project that we want to do in on the mid-term. It's currently difficult to prioritize but it will be done.

[2019-09-17 07:44] alanna commented on #2331
After working with @xdamman yesterday, I have done a draft of an onboarding flow. It was too complex to draw on paper so I did clickable mockups in Balsamiq.

[View it here](https://balsamiq.cloud/sx8j7zr/p1e2ktb/r2278?f=N4IgUiBcCMA0IDkpxAYWfAMhkAhHAsjgFo4DSUA2gLoC%2BQA%3D).

Goals:
* make the self-hosted Collective onboarding experience as simple as possible
* introduce the new $10/mo plan for ac

[2019-09-17 07:56] znarf commented on #2331
- I don't see the point of asking the currency so early in the process. Currency should ultimately be the one from the host, otherwise its proved to be highly confusing for everyone - and the system. However, we discussed the ability to define a "cosmetic" currency for the frontend.
- Warning on the invitation by email: we need to make sure this doesn't create new accounts by default, and this sho

[2019-09-17 08:06] #2428 closed

[2019-09-17 08:56] alanna commented on #2331
Currency select: because in this flow they will often be creating a new host in the background as part of the setup, and we need to know the currency. We don't want to emphasise awareness of this whole "host" thing so we'd like to just automatically create it. If they are heading toward joining an existing host, we also need to know the currency they want so we know what host options to show them.

[2019-09-17 09:23] znarf commented on #2331
We should be really careful in the details around currency selection. For example, if I pick "euro" early in the process, I should not be prevented to see "Open Source Collective" as an option. IMHO, by default, we should not even try to filter hosts based on currency, it matters more to have an host that align with your mission, than align with your desired currency. My opinions are based on my e

[2019-09-17 10:29] alanna commented on #2210
Unfortunately what we built doesn't meet the whole need. We show *transactions* on the new profile page, which are completed payments. We still have a need to show all expenses related to a user, regardless of status (pending, approved, etc).

[2019-09-17 10:40] alanna commented on #2394
We have created some Balsamiq mockups to show the improved submit expense flow.

[view them here](https://balsamiq.cloud/sx8j7zr/pctnp4y/r7AED?f=N4IgUiBcCMA0IDkpxAYWfAMhkAhHAsjgFo4DSUA2gLoC%2BQA%3D)

[2019-09-17 10:44] alanna commented on #2394
We split out [V1 specs to their own doc here](https://docs.google.com/document/d/11tXZ__4VyLVvF2GLNxKIiyhFkeCCTTUWr0jsGW-o3wY/edit#).

[2019-09-17 12:59] alanna commented on #2422
It would be great to integrate with third party providers like these, as we'll never be able to provide advanced functionality for events and ticketing like they do. We'd much prefer to let an events tool do what its good at so we can stay focused on our piece (finances).

Currently we 'integrate' with third party providers like this manually, meaning a Collective will host an event using Eventbri

[2019-09-17 13:00] xdamman commented on #2331
Thank you Alanna for putting this into a balsamiq and thanks François for your input.
I have now enough feedback to work on it and come back with a first wireframe proposal.

@alanna I understand your concern. You are right to presencing that today most collectives are joining because they want to raise money. However, the goal of this redesign is to open new avenues for open collectives. I’ll mak

[2019-09-17 14:33] EslamHiko commented on #1590
@znarf I submitted 2 pull requests to solve this issue. Waiting for your review.... Thanks.

[2019-09-17 16:26] alanna commented on #2429
Looks great. This is popping up all over. We need it for the new expense flow and the Collective onboarding flow as well.

[2019-09-17 17:56] JohnnyAir commented on #2292
here is my pull request for this issue [https://github.com/opencollective/opencollective-frontend/pull/2574](url)

[2019-09-17 18:09] JohnnyAir commented on #2292
This is my pull request for this issue: [Migrate to styled select](https://github.com/opencollective/opencollective-frontend/pull/2574)

[2019-09-18 07:28] Betree commented on #2365
This happened again https://opencollective.freshdesk.com/a/tickets/1671

[2019-09-18 07:43] #2298 closed

[2019-09-18 07:46] znarf commented on #2298
🏆 This issue was completed by @leonardohof

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-18 08:25] alanna commented on #2327
@znarf I would rather not close this issue because the other issue is for a whole complicated new feature and approach involving considering opt-ins for all different levels (hosts, collectives, etc). I doubt that can get prioritised soon. But I really want to get the basic problem here with platform-lelve opt-ins fixed ASAP.

My proposal: add a newsletter opt-in on the "account creation" screen (

[2019-09-18 09:08] znarf commented on #2327
It's prioritized. Ideally, it should be a new "feature request" issue, explaining what the work should be. A newcomer should not have to look at the comments to understand what to do, the issue content should speak for itself.

[2019-09-18 09:30] alanna commented on #2148
Info about customising Collective pages has been added here:
https://docs.opencollective.com/help/collectives/customize-collective

Still working on documentation for Tiers and Goals.

[2019-09-18 09:40] piamancini commented on #2429
Do we need design here or we can start an MVP without them?

[2019-09-18 09:45] Betree commented on #2429
I can easily start an MVP without design by re-using the component that Xavier mentioned above:
![image](https://user-images.githubusercontent.com/1556356/65137467-adfb5000-da09-11e9-8b2e-47e7e5f9ab87.png)

The part that will really need design is the "Create collective" aspect of it.

[2019-09-18 09:55] Betree commented on #2429
To add a bit to the specs above, I think we should follow the pattern implemented by [react-select](https://react-select.com/) (the library that we use for selects) and have two components instead of one to better make the difference between "search a collective" and "pick a collective from this already-fetched list". So:
- CollectivePicker: dumb component, takes a list of collectives and filters

[2019-09-18 10:05] piamancini opened #2431 "New collective page: New Standalone Tier Page Access"
Right now - we generate a link to go to a standalone tier page if
a) the short description is >140 characters or
b) a long description has been added to the tier page.

This is not at all obvious. We need to either find an easy way to enable a standalone page for a given tier (maybe when creating the tier?) or we just automatically generate it for each tier and we make something like the top secti

[2019-09-18 10:17] Betree commented on #2431
Agree, that'd be great if we can sort it before the release tomorrow.

Today we have a tier page for all tiers on the website, so the condition you mention (> 140 chars or long description) is only about whether we should display `Read more` or not.

Could we solve this by having a checkbox in `/edit/tiers` like this?
`[ ] Enable the standalone page for this tier work`

[2019-09-18 10:21] piamancini commented on #2431
I think it's good enough, we'll add it to the docs and update the picture we have in the editing tiers documentation

[2019-09-18 10:23] piamancini commented on #2431
removing the V2 label and assigning it to you @Betree. It's not a blocker if we can't fit it in

[2019-09-18 10:36] Betree opened #2432 "Contributors grid lazy loading"
Since https://github.com/opencollective/opencollective-frontend/pull/2577 the number of collectives fetched for the contributors grid is limited to 150. We need to add lazy loading on this component to be able to show **all** the contributors.

- [ ] Paginate the `contributors` endpoint by adding `offset` and `totalCount`
- [ ] While loading, show `LoadingPlaceholder` instead of `ContributorCard`

[2019-09-18 10:44] Betree opened #2433 "ContributorCard: Edit public message from the grid"
The new contributor card implemented in https://github.com/opencollective/opencollective-frontend/pull/2576 is supposed to become the default. We still need a little re-factoring to make the best use of it and allow contributors to edit their messages directly from the contributor grid.

# Specs

## API

- [x] Mark the current `editMembership` endpoint as deprecated with `deprecationReason`
- [x]

[2019-09-18 13:38] #357 closed

[2019-09-18 13:46] piamancini commented on #1271
@znarf did we end up killing this?

[2019-09-18 13:47] piamancini commented on #1320
@xdamman is this fixed?

[2019-09-18 13:50] piamancini commented on #1392
This should be solved in the NCP - can we close @znarf ?

[2019-09-18 13:52] piamancini commented on #1434
this is deprecated by the new collective page

[2019-09-18 13:52] #1434 closed

[2019-09-18 13:52] znarf commented on #1392
No, this is still valid with the New Collective Page, see: https://staging.opencollective.com/babel/transactions

[2019-09-18 13:53] #1532 closed

[2019-09-18 13:55] piamancini commented on #1552
is this still relevant?

[2019-09-18 14:00] znarf commented on #1271
The issue to track it was: https://github.com/opencollective/opencollective/issues/1758

It was killed frontend side: https://github.com/opencollective/opencollective-frontend/pull/2158

A small follow up on the API is still pending: https://github.com/opencollective/opencollective-api/pull/2259

This issue is now invalid.

[2019-09-18 14:00] #1271 closed

[2019-09-18 14:20] znarf commented on #2129
It was not exactly implemented like initially specified but this is done.

[2019-09-18 14:20] #2129 closed

[2019-09-18 14:24] Betree opened #2434 "Apply new design to the transactions page"
The transactions page currently look like this:

![image](https://user-images.githubusercontent.com/1556356/65156768-ef065b00-da2f-11e9-937f-a7f40a9266c9.png)

With the new collective page with have a new way to present transactions that can easily be replicated everywhere thanks to the `DebitCreditList` component:

![image](https://user-images.githubusercontent.com/1556356/65157146-8ff51600-da30-

[2019-09-18 14:53] alanna commented on #1849
This is fixed in NCP

[2019-09-18 14:53] #1849 closed

[2019-09-18 14:54] alanna commented on #1850
Superseded by current strategic focus as agreed at team sprint

[2019-09-18 14:54] #1850 closed

[2019-09-18 14:54] alanna commented on #1853
Fixed in NCP

[2019-09-18 14:54] #1853 closed

[2019-09-18 15:01] alanna commented on #2148
Only thing left is to add the part about creating individual tier pages to the Tiers & Goals page. @Betree or @piamancini to action once we have screenshots.

[2019-09-18 15:01] #2144 closed

[2019-09-18 15:02] alanna commented on #2120
Fixed in NCP

[2019-09-18 15:02] #2120 closed

[2019-09-18 15:16] anshumanv commented on #2385
On it! 😄

[2019-09-18 15:44] alanna commented on #2430
This is a great idea! I will look into it.

[2019-09-18 15:50] alanna commented on #2430
It says

Does this mean we need to come up with the funding ourselves? I think it does mean that.

[2019-09-18 16:52] alanna commented on #1585
@hzoo said he might be interested in building this

[2019-09-18 20:38] gusaus commented on #2423
Wouldn't it make sense to link out to whatever collective is associated with the OSS project? https://github.com/opencollective/opencollective

I think that would be a great way to encourage financial incentives such as  bounties https://github.com/opencollective/opencollective/issues/2420

[2019-09-18 21:11] xdamman commented on #1552
Still relevant but only applies to European collectives that are part of the host (and not independent unincorporated partnerships). So I wouldn’t prioritize it now but we should just keep this in mind.

[2019-09-18 21:57] hzoo commented on #1585
I think it's a little complicated at the moment so we'll need to figure out some things (otherwise it seems like the original idea is simply to divide the current number by 12 and display that)? Some thoughts:

I think the current calculations for an annual estimate amount sort of inflate what the the annual estimation is because it assumes any one-time donations will continue to happen in the fut

[2019-09-19 03:38] sloria commented on #1585
My proposal is to only show the sum of recurring monthly donations, minus fees and deductions. The total divided by 12 would not be useful for me.

For context, I split monthly donations between me and a co-maintainer. One-time donations are used for misc. expenses like merch and donating to upstream projects. So to determine the funds that go to me and my co-maintainer, I need to determine the re

[2019-09-19 05:48] yellowwoods12 commented on #2430
Yes we need funding for atleast one intern. They say that for a FOSS organization to be a part of Outreachy you need atleast $6500 of self-generated funding to be an 'includer' in the program.

[2019-09-19 07:47] richport commented on #2267
Alllv Gucci

[2019-09-19 11:09] Betree commented on #2210
https://github.com/opencollective/opencollective-frontend/pull/2596 will show the 10 latest expenses for user, but to solve this issue completely we'll need to apply that to the transactions page. Should be done with https://github.com/opencollective/opencollective/issues/2434.

[2019-09-19 11:18] Betree opened #2435 "NCP: Improve contribute cards hero gradient"
When no image is set for a contribute card, we display a gradient based on collective's primary color. We want to improve that gradient to better match design. See https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-%2F-Lab?node-id=538%3A12689

**Actual**
![image](https://user-images.githubusercontent.com/1556356/65239666-d190ca00-dadf-11e9-86e7-1439414e9d3a.png)

**Expected**
![image](

[2019-09-19 11:35] piamancini commented on #2434
@Betree are we waiting on design for this? We can probably get that done today and implement after release tomorrow?

[2019-09-19 11:53] piamancini commented on #2385
@anshumanv this bounty has not been tagged with a reward yet. Please hold off until we do. (cc @znarf)

[2019-09-19 11:55] piamancini commented on #2148
closing this issue as documentation has been created and added to docs.

[2019-09-19 11:55] #2148 closed

[2019-09-19 11:56] piamancini commented on #1392
ok then. Let's add it to the bug hunting hackathon

[2019-09-19 11:58] anshumanv commented on #2385
Hey @piamancini it's alright either way, sent a fix here - https://github.com/opencollective/opencollective-frontend/pull/2587 doing some minor tweaks now as per the feedback. :)

[2019-09-19 12:06] znarf commented on #2385
@piamancini it's cool, we're in touch with @anshumanv. And more generally, it should not be a problem if contributors work on issues without bounties right?

[2019-09-19 12:07] znarf commented on #1837
Closing as duplicate with https://github.com/opencollective/opencollective/issues/1392

[2019-09-19 12:07] #1837 closed

[2019-09-19 12:35] Betree commented on #2434
@piamancini Yep, no emergency but this would be a good one to tackle. The part we need design for is the expended view (when you click on View details).

[2019-09-19 15:29] HeroicKatora opened #2436 "Become a contributor page lists Default amount as Minimum amount"
**Describe the bug**

The contributor tiers shown in the page `ORG/contribute` list the default amounts as minimum amounts. For example, if the tier is configured with a default suggested amount is `$5` but starts at `$2`, the text will read:

**To Reproduce**

The `Babel` organization has tiers setup this way. Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/Babel/contribute'

[2019-09-19 16:22] flickz commented on #2327
@alanna I created a PR for this already and below is the screenshot, what do you think of the checkbox label text?

<img width="505" alt="Screenshot 2019-09-19 at 4 43 51 PM" src="https://user-images.githubusercontent.com/15707013/65262228-c9498680-db01-11e9-83f1-ce34cbf048fb.png">

[2019-09-19 16:43] Betree commented on #2436
Thanks @HeroicKatora! Solving bugs is way too easy which such a great report :wink:

Your analysis was good, the query was missing the `amountType`. I'm pushing a fix right now.

[2019-09-19 16:50] #2210 closed

[2019-09-19 18:11] #2431 closed

[2019-09-19 18:12] Betree commented on #2426
All blockers are done :tada:

[2019-09-19 18:12] #2426 closed

[2019-09-19 18:22] #2436 closed

[2019-09-19 20:27] Betree opened #2437 "Collective yearly budget: add a GraphQL loader"
Fetching `yearlyBudget` for multiple collectives has a huge cost because of N+1. We must:

1. Add a loader for the field
2. Revert https://github.com/opencollective/opencollective-frontend/pull/2606

[2019-09-20 07:35] piamancini opened #2438 "New Collective Page V2: Contributors with Financial Contributor Tag have no Amount"
On https://opencollective.com/sustainoss/v2 two contributors to the event don't have the total amount donated.
I think it's because they had a free ticket so there's no transaction - or maybe the way we added them as members was creating a $0 transaction.
We should remove the tag if there's no actual donation and maybe add event attendee?
<img width="361" alt="Screen Shot 2019-09-20 at 9 32 45 AM"

[2019-09-20 07:45] Betree commented on #2438
There's indeed a condition to not show the amount if it's 0. This not new, but the new collective page does makes it really obvious. On the old collective page:

![image](https://user-images.githubusercontent.com/1556356/65308558-9a2b2780-db8a-11e9-8399-27044f1158cc.png)

Showing `Event attendee` may not be the most adapted solution, because in this specific case we don't know if the collective is

[2019-09-20 07:56] piamancini commented on #2385
Oki! It was confusing because it has the bounty candidate label, I was trying to avoid someone working on it thinking there's a reward when that wasn't set.

Thanks @anshumanv and sorry for the confusion!

[2019-09-20 10:03] znarf commented on #2114
🏆 This issue was completed by @NotJohs

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-20 10:03] #2114 closed

[2019-09-20 12:01] Betree commented on #1585
@sloria @hzoo Thanks for sharing your uses cases!

With the new collective page we're changing the way this information is displayed:

![image](https://user-images.githubusercontent.com/1556356/65324655-23535600-dbad-11e9-823d-e21f71252d16.png)

We've also added a tooltip where we could display more advanced information.

![image](https://user-images.githubusercontent.com/1556356/65324717-51d13100

[2019-09-20 13:22] hzoo commented on #1585
Ok great then we are probably on the same page then. Knowing the recurring (whether monthly or yearly which could be viewed as monthly) seems like the key as you can make decisions around that like in your case splitting it.

Yeah that could be good!

Would monthly also be calculated via the last month and same for year? Because those calculations wouldn't be the same as literally totaling all the

[2019-09-20 14:23] Betree commented on #2293
:trophy: This issue is now completed by @nonsodaniel in https://github.com/opencollective/opencollective-frontend/pull/2549

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-20 14:23] #2293 closed

[2019-09-20 14:29] znarf opened #2439 "Backend Metrics"
## Purpose

We need visibility in our backend activity and performance.

## Roadmap & Timeframe

- September: Pick technology and providers
- September: Setup basic metrics in API repository
- September: Setup dashboard and share with the team
- Later: Organically add more metrics

## Success metrics

- Time taken to detect anomalies
- Time taken to investigate issues
- Time taken to get or report

[2019-09-20 14:32] znarf opened #2440 "Client Analytics"
## Purpose

We need more visibility in what our users are doing on our website.

## Roadmap & Timeframe

- Fall 2019: Pick technology and providers
- Fall 2019: Setup service/accounts
- Fall 2019: Setup basic reporting in Frontend repository
- Fall 2019: Setup dashboard and share with the team
- Later: Organically add more metrics

## Success metrics

The goal is to enable more success metrics

[2019-09-20 15:02] znarf opened #2441 "Collective to collective donations between hosts"
## Purpose

We give the ability to collective to give to other collectives from their collective balance. This is a nice, useful and used feature.

However, this is not available for donations between collectives that are on different hosts.

There was a proof of concept using credit cards as a backend, this was deactivated because of various issues in the implementation and because of the payment

[2019-09-20 16:22] Betree commented on #2440
If that's helpful I can provide basic insights about [Matomo](https://matomo.org/) as well as a demo instance to try it with a real project.

[2019-09-20 16:37] Betree opened #2442 "NCP: add E2E tests for collectives"
The new collective page doesn't have a good test coverage yet. We want to solve that by adding new cypress tests. We've added the paths that we want to cover in https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/04-collective_v2.test.js.

To implement the missing tests, you need to:
1. Setup your local environment & check the best practices: https://gith

[2019-09-21 14:22] apobekiaris opened #2615 "How the Bot knows if the author is a baker"
i try to figure out how accurate it is, can you tell us how it works?

[2019-09-21 17:53] flickz commented on #2440
Matomo is totally cool especially with their Conversion Optimization feature.

[2019-09-22 07:58] Steffen-Horn commented on #2435
Hi, I'd like to be assigned. Which of the 4 layouts do you prefer?

[2019-09-22 18:51] flickz commented on #2439
I think both [Nodesource](https://nodesource.com) and [Datadog](https://www.datadoghq.com) are worth checking out to achieve this.

[2019-09-23 05:07] alanna commented on #2327
Thanks Olu. Let's just say "Receive our monthly newsletter".

[2019-09-23 07:47] xdamman commented on #2429
Sounds good. Do you have everything you need to get started on this? (so that we can start prioritizing this)

@cuiki can you make sure we have a design for the form that should appears beneath this to create a new collective (of type USER, COLLECTIVE or ORGANIZATION).
It's probably very close to the one we already have in the contribution flow. No need for anything fancy here.

![](https://d.pr/f

[2019-09-23 08:03] xdamman commented on #2360
For the record, here is the tweet we sent: https://twitter.com/opencollect/status/1171102933632585728
and this one: https://twitter.com/opencollect/status/1174935068860567552

16 collectives opted in to participate:

- wwcodenyc
- visjs
- korerowellington
- debates
- hledger
- cljdoc
- streetlives
- javers
- dokku
- kitspace
- pytest
- terser
- ghost
- adnauseam
- asciidoctor
- Idyll

Thank you fo

[2019-09-23 08:03] #2360 closed

[2019-09-23 08:20] Betree commented on #2429
I do and it should be really quick to implement, I'll prioritize it as soon as the release of the NCP is done :-)

[2019-09-23 11:38] znarf opened #2443 "Fix props.theme errors when running Jest tests"
There should ideally be no warnings or errors when running tests, even if the warnings/errors are not preventing the tests to pass.

Currently, when running `npm run test:jest`, we can see the following.

[code]

See sample CI run: https://circleci.com/gh/opencollective/opencollective-frontend/45054

[2019-09-23 11:41] #2385 closed

[2019-09-23 11:44] znarf commented on #2385
🏆 This issue was completed by @anshumanv

I retroactively added a $100 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-23 12:47] xdamman opened #2444 "NCP: wrong currency in contributors section"
It’s the right currency in the leaderboard and in the latest transactions but not in the list of contributors of the collective:

![](https://d.pr/free/i/xiVhbp+)

(Much less important but there is also a CSS issue with the background being clipped)

[2019-09-23 12:57] Betree commented on #2444
@xdamman is this Brave browser?

[2019-09-23 13:02] xdamman commented on #2444
Safari on iPad iOS 13

[2019-09-23 14:15] Betree commented on #1791
We started tackling various forms for this issue:
- https://github.com/opencollective/opencollective/issues/2156
- https://github.com/opencollective/opencollective/issues/2167
- https://github.com/opencollective/opencollective/issues/2227

Can we close this issue to focus on more simple ones with smaller scopes?

[2019-09-23 14:16] contraexemplo commented on #2430
Yes, that's exactly right, Open Collective needs to fund at least one intern. There are also ways to help communities to have more than one intern, but that's not guaranteed.

[2019-09-23 14:18] Betree commented on #2435
Hi @Steffen-Horn, thanks for proposing!

We need to do them all :slightly_smiling_face: This needs to be dynamically generated using the primary color of the collective.

We prefer to tackle it internally because it may require some feedback loop with the design team, but we don't have any specs yet so any ideas / proposals about the best way to implement that is welcome!

[2019-09-23 15:09] piamancini opened #2445 "New Collective Page Feedback"
This issue is where we will be collecting feedback from the team and community about the newly redesigned Collective page.

[2019-09-23 15:10] piamancini commented on #2225
NCP has been released!
Closing this issue in favor of #2445.

[2019-09-23 15:10] #2225 closed

[2019-09-23 15:56] dodgepong commented on #2445
French and Spanish localization use a `5` instead of a `$` when listing contribution amounts in the "Top financial contributors" section.

[2019-09-23 16:31] Betree opened #2446 "Get rid of "moment" dependency in Frontend"
# Why

The `moment` dependency is quite heavy: more than `65kb` Gzipped according to [Bundlephobia](https://bundlephobia.com/result?p=moment@2.24.0). The use we have for it is very simple, so we could easily replace it by helpers or other existing dependencies.

We also want to get rid of `moment-timezone`, which is ~35kb GZip (and that requires moment anyway).

**Goal: Make the bundle smaller.**

[2019-09-23 18:35] flickz opened #2617 "Show a loading spinner in BackMyStack button"
When BackMyStack button is clicked, we should show a loading spinner and also disable the button during that period to avoid it from being clicked multiple times.

[2019-09-23 18:58] Steffen-Horn commented on #2435
Ok

This I don't get. All 4 layouts are blue. How would you chose one depending on another color?

[2019-09-23 19:46] Betree commented on #2443
@znarf I wanted to snapshot a component today and stumbled on this warning. I created a helper for snapshots that brings all the required providers, with options to customize them:

https://github.com/opencollective/opencollective-frontend/blob/e2f69888c3b16b193e8598f43003c4b2dfd6ee25/test/snapshot-helpers.js#L26

I find the readability of the test using it to be pretty good: https://github.com/op

[2019-09-23 20:16] gusaus commented on #2445
Seems like a lot of collectives will be surprised many of their tiers link to a stand-alone page.
The pages look a bit incomplete and need a bit of improvement to the text formatting right out of the box -
https://opencollective.com/babel#section-contribute
https://opencollective.com/babel/contribute/gold-sponsors-1906
https://opencollective.com/babel/contribute/base-support-sponsor-3790

Guess th

[2019-09-23 20:24] Betree commented on #2435
We need to generate backgrounds (pseudo-)randomly so they can be different for each card, but  we also need to use the primary color defined by each collective, so if you define that your collective primary color is green (`#00FF00`) the blurred gradient on these contribute cards must be green as well.

[2019-09-23 20:25] gusaus commented on #2445
There doesn't seem to be an obvious way to edit existing tiers from the collective page.
![OpenProducer - Open Collective 2019-09-23 13-25-20](https://user-images.githubusercontent.com/113996/65459847-98b96380-de05-11e9-8e00-41cf19706a79.png)

[2019-09-23 22:25] gusaus commented on #2445
Where is the text under certain contributors coming from? Is there a way to edit or hide? For example https://opencollective.com/libretime#section-contributors

![LibreTime - Open Collective 2019-09-23 15-23-31](https://user-images.githubusercontent.com/113996/65467369-1ab18880-de16-11e9-977e-ee6e44bae2bf.png)

[2019-09-23 22:40] xdamman opened #2447 "NCP: can't edit collective after creation"
Workaround: just refresh the page (but most people won't know)

![](https://d.pr/free/i/Nieah2+)

[2019-09-23 23:01] alanna commented on #1585
In the interest of simplicity, maybe we could go with:

* Current balance
* Monthly recurring (I think we should include *recurring* annual donations divided by 12 in this total, excluding one-time contributions)
* Total all time *or* total this year *or* average annual budget (normalised across all years Collective has been active)

One thing I'm worried about is we need to design for different C

[2019-09-23 23:13] alanna commented on #2441
Also #2017

[2019-09-24 00:20] alanna commented on #1791
@Betree those three issues are good but they don't cover the need identified by this issue specifically, which is to prevent users from losing changes if they navigate away before saving when using the input boxes in settings, like descriptions of Collectives and Tiers for example. The three other issues are for when you click an action button, but this is about saving your work.

[2019-09-24 00:22] alanna commented on #2430
OK, unfortunately I don't think we're going to be able to fund or prioritise participation in this program right now. However, we are considering diversity to be a big priority for hiring. We are also prioritising supporting initiatives like Open Source Community Africa and other ways of supporting more diverse contributors to be involved. In the future I hope we have more capacity for doing somet

[2019-09-24 02:36] hzoo commented on #1585
Yeah agreed that the options are important, some folks do rely on one-time and others monthly (or even the one you want* to rely on). Either way can skew what's really going on for both sides

[2019-09-24 04:49] alanna opened #2448 "Error when creating Organization"
**Describe the bug**
Getting "unexpected error" after creating a new organization, but the organization is actually created. It should take you to that organization's page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to user menu
2. Click + in Organization section
3. Fill out form and submit
4. See "unexpected error"
5. New Organization is listed in your menu and is working fine

[2019-09-24 04:51] alanna commented on #2445
I can't see a 'manage contributions' button on host organization pages. How do host orgs get to their recurring contributions page?

[2019-09-24 05:04] maddhruv commented on #2448
yeah,
I first got a success message
but on the organization page
i got this error

https://opencollective.com/test40?CollectiveId=61872&status=collectiveCreated

<img width="1428" alt="Screenshot 2019-09-24 at 10 33 56" src="https://user-images.githubusercontent.com/18121502/65482476-dcb87100-deb6-11e9-8dce-b37a0066a6a7.png">

[2019-09-24 07:41] Betree commented on #2445
@dodgepong We indeed had a bug with localization which is fixed now. Thanks for reporting!

@gusaus Yes, but standalone page is also enabled when the tier's description is too long. I'll prioritize the enhancements for it, I agree that it needs to be improved.

Edit/sort tiers is a feature yet to come, final result should look like this:

![image](https://user-images.githubusercontent.com/1556356/

[2019-09-24 07:45] znarf commented on #985
Closing this issue because of the New Collective Page.

However, seems Gulpjs needs to adjust the logo/background, see: https://blog.opencollective.com/new-collective-page/

[2019-09-24 07:45] #985 closed

[2019-09-24 07:49] Betree commented on #1791
Ok, I'm just afraid that the issue will go to sleep again if we don't turn it to smaller/actionable items and it would actually be great to have this for complex forms (new expense and create collective).

[2019-09-24 07:50] znarf commented on #1910
Closing because of the New Collective Page.

[2019-09-24 08:09] Betree commented on #2425
Done in https://github.com/opencollective/opencollective-frontend/pull/2561

[2019-09-24 08:09] #2425 closed

[2019-09-24 09:36] xdamman opened #2449 "Expense flow: create expense proposal"
It’s currently my turn to handle the requests for expenses submitted to https://opencollective.com/XR-Belgium. Often times people send me a private message asking: “would it be ok to pay for this or that? It would cost about x”.

Those conversations shouldn’t happen privately.

Given that we are considering using the concept of a conversation thread to record the activity log of an expense, and gi

[2019-09-24 11:06] jzabala commented on #2444
Hi, I would like to give this one a try.

I already have the app running locally connected to staging. Is there a test user with data that I can use to check the bug?

[2019-09-24 11:13] Betree commented on #2444
Hi @jzabala, you can open http://localhost:3000/xr-belgium/v2

This should be 477€:

![image](https://user-images.githubusercontent.com/1556356/65506882-ecdb4b00-decc-11e9-9f36-8b6f3db8e9c4.png)

The currency is available in `collective.currency`, somehow it is not passed or considered to/in `StyledMembershipCard`.

[2019-09-24 11:13] Betree commented on #2444
(and thanks for jumping in :slightly_smiling_face:!)

[2019-09-24 12:04] Betree opened #2450 "NCP: add E2E tests for users"
The new collective page doesn't have a good test coverage yet. We want to solve that by adding new cypress tests. We've added the paths that we want to cover in https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/05-user_v2.test.js.

To implement the missing tests, you need to:
1. Setup your local environment & check the best practices: https://github.com

[2019-09-24 12:05] Betree commented on #2450
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:warning: Because we want the cypress issues to be addressed by different contributors, this bounty cannot be assigned to the same person who will tackle https://github.com/opencollective/opencollective/issues/2

[2019-09-24 12:31] Betree commented on #1215
Adding on the [above data](https://github.com/opencollective/opencollective/issues/1215#issuecomment-508423286) about users being discouraged to create subscriptions at the end of the month, here's a graph showing subscriptions cancelled by users. **All** the pics that you see are 1st or 2nd of the month.

![image](https://user-images.githubusercontent.com/1556356/65511633-edc5aa00-ded7-11e9-8c2e-

[2019-09-24 12:34] Betree opened #2451 "NCP: add E2E tests for organizations"
The new collective page doesn't have a good test coverage yet. We want to solve that by adding new cypress tests. We've added the paths that we want to cover in https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/04-organization_v2.test.js.

To implement the missing tests, you need to:
1. Setup your local environment & check the best practices: https://gi

[2019-09-24 12:34] Betree commented on #2451
:gift: :money_with_wings: A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:warning: Because we want the cypress issues to be addressed by different contributors, this bounty cannot be assigned to the same person who will tackle https://github.com/opencollective/opencollective/issues/244

[2019-09-24 12:35] Betree opened #2452 "NCP: add E2E tests for hosts"
The new collective page doesn't have a good test coverage yet. We want to solve that by adding new cypress tests. We've added the paths that we want to cover in https://github.com/opencollective/opencollective-frontend/blob/master/test/cypress/integration/06-host_v2.test.js.

To implement the missing tests, you need to:
1. Setup your local environment & check the best practices: https://github.com

[2019-09-24 13:21] Betree commented on #2288
Resolved in https://github.com/opencollective/opencollective-frontend/pull/2584

[2019-09-24 13:21] #2288 closed

[2019-09-24 13:27] Betree commented on #2416
Fixed as part of https://github.com/opencollective/opencollective/issues/2426

[2019-09-24 13:27] #2416 closed

[2019-09-24 13:30] Betree commented on #1980
Merged to https://github.com/opencollective/opencollective/issues/2121

[2019-09-24 14:01] xdamman commented on #2449
Great on the same page! Then let’s just make sure that you are not required to add an attachment when submitting an expense.

Maybe not indeed. See what’s best. It was more to distinguish the different stages of an expense:
- request for expense submitted (“can I spend $100 on train ticket?)
- request for expense approved (“yes you can”)
- expense ready to be approved (final amount, invoice/receip

[2019-09-24 14:39] piamancini opened #2453 "Open Collective Roadmap: September 2019 - January 2020"
Overview
======
The goal of this roadmap is to provide clarity for the core team and our community about our priorities for the next 6 months. While these are the projects we'll be working on, life happens and iterations might take place.

Top level priority for the team is:
Being [sustainable](https://drive.google.com/drive/u/1/folders/1OwRpuIehFQxRnJIRAksQ1Jd2xXZrhz5L) in the next 12 months whil

[2019-09-24 16:17] Betree commented on #2364
I can confirm that Google is still referencing the old URLs and that's most probably the reason why we still get queries on the deprecated routes. So we need to set `canonicalURL` for the contribution flow.

![image](https://user-images.githubusercontent.com/1556356/65529997-74d64a80-def7-11e9-9524-bc02e4d1471c.png)

[2019-09-24 16:28] #2447 closed

[2019-09-24 18:50] piamancini commented on #2449
I think this will bring a lot of support and confusion. People will submit an expense without a file and expect to get paid, we'll need to tell them that they need an attachment, etc.

If this is the use case, this needs to be a message in conversations, not a semi-expense. I suggest waiting on this for a bit until conversations is shipped. The design is done and we will be implementing a version

[2019-09-24 19:21] novdddd opened #2454 "ERROR: value too long for type character varying(255)"
**Describe the bug**
Whenever I try to edit the description of a tier and click **Save** I get the following error in red font:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try editing the description of a tier
2. Click **Save**

**Screenshots**
![50](https://user-images.githubusercontent.com/24556287/65543266-80d30400-df19-11e9-8a85-975b1ae47bd5.jpg)

**Desktop (please complete t

[2019-09-24 19:32] sudo-kaizen commented on #2450
@Betree, does one need to have the cypress tool installed to do this?

[2019-09-24 20:13] Betree commented on #2454
Hi @novdddd, thank you for reporting this issue. Tier's description is limited to 255 characters. If you want to add more details, you can force the creation of a tier page:

![image](https://user-images.githubusercontent.com/1556356/65544132-e7085880-df12-11e9-93af-c0e285fec527.png)

Then from the tier card click on "Read more":

![image](https://user-images.githubusercontent.com/1556356/65546393

[2019-09-24 20:20] Betree commented on #2454
# Specs

## API

- Add a `len` validation in with value `[0, 255]` in https://github.com/opencollective/opencollective-api/blob/b89c3f3a12c733edc6660afeb254b9e134326cdf/server/models/Tier.js#L57 (will improve the error message)

## Frontend

- Add a `maxLength` on the `description` field, so we won't be able to type more than the field can accept anymore
- Add a description below the `description`

[2019-09-24 20:22] Betree commented on #2450
@sudo-kaizen Yes, this tool is part of our dev dependencies so it should automatically run on your machine if your do:
- `npm install`
- `npm run cypress:open`

[2019-09-24 20:25] novdddd commented on #2454
Hello @Betree, I tried deleting the content of the tier's description and moving it to the rich description section, but I get the same error. I practically can not edit any of the tier's details, for example the title can not be updated, clicking **Save** gives me the same error as described above:

![SharedScreenshot](https://user-images.githubusercontent.com/24556287/65547644-8e40bc00-df22-11e9

[2019-09-24 20:31] novdddd commented on #2454
@Betree This is what I piratically see when I try to edit the details of a tier:

![a1](https://user-images.githubusercontent.com/24556287/65548058-5d14bb80-df23-11e9-87c3-45dadc1ec745.png)

I can not update anything. Thank lot for your help!!

[2019-09-24 20:41] Betree commented on #2454
That's bad, thanks for the additional details! We're going to prioritize this

[2019-09-24 21:00] novdddd commented on #2454
@Betree Thank you a lot! Also, I can not delete the created tiers, in order to make new ones, the error appears at the bottom of the screen, next to the save button, each time I click it.

![2](https://user-images.githubusercontent.com/24556287/65550055-71f34e00-df27-11e9-92ba-958555964771.jpg)

[2019-09-24 21:25] Betree commented on #2454
@novdddd can you try again?

[2019-09-24 21:45] novdddd commented on #2454
@Betree Works perfectly! Thank you so much for your fast response!!! ♥

[2019-09-24 23:02] alanna commented on #2449
I think this is semi-solved by the expenses policy now, and will be better supported with conversations on Collective pages, which is already being worked on. I don't see a need to prioritise this in the current expense flow work. Maybe for phase 2. I have never gotten a request from a user for a feature like this.

@xdamman It looks like the XR Belgium Collective has not set an expense policy. Pl

[2019-09-24 23:37] #2304 closed

[2019-09-25 01:16] NotJohs commented on #2442
@Betree can I be assigned this task

[2019-09-25 03:58] alanna commented on #1791
Can you please define what an "actionable item" would mean in this case? To me it's really clear. If you change something in settings and don't click save before navigating away, it should warn you.

[2019-09-25 07:21] Betree commented on #2454
Great, thanks to you for all the details @novdddd

[2019-09-25 07:21] #2454 closed

[2019-09-25 07:35] Betree commented on #1791
Issue says `If changes have been made in an editable page` but we have a lot of editable pages. An example of actionable would be something like `Expense form: warn if leaving with unsaved changes`. Easy to specify, easy to add a bounty on it.

Based on [the list above](https://github.com/opencollective/opencollective/issues/1791#issuecomment-504867034), I can create issues for:
- Collective edit

[2019-09-25 07:37] #2058 closed

[2019-09-25 07:43] sudo-kaizen commented on #2450
Thanks!

[2019-09-25 07:44] Betree commented on #2450
@sudo-kaizen do you want to be assigned?

[2019-09-25 07:50] sudo-kaizen commented on #2450
😊 Thanks. Not yet

[2019-09-25 09:26] Betree commented on #2109
:trophy: This issue has been resolved by @sudo-kaizen

To claim the $100 bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-25 09:26] #2109 closed

[2019-09-25 10:36] Betree commented on #2058
:trophy: This issue is now completed by @leonardohof

To claim the **$300** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-25 12:20] jzabala commented on #2444
Hi @Betree, thank you very much for you help. I found this issue was not in the `StyledMembershipCard` but in the `Contributors` section.

But I think in the parts of the app where `StyledMembershipCard` is used there must be an issue too since _USD_ is hardcoded in it: https://github.com/opencollective/opencollective-frontend/blob/68b6b55bfd6f7d60a3d4cc49900fb0ae9e4861c3/components/StyledMembersh

[2019-09-25 13:43] maddhruv commented on #2450
hey @Betree I would love to pick this up
But I just have one doubt
do you just want to focus on the test suites already defined there
or wanna add more?

[2019-09-25 14:50] Betree commented on #2450
Hey @maddhruv, we should focus on the ones already defined in `05-user_v2.test.js`. This issue is about implementing all the tests in this file that have a `// TODO`.

[2019-09-25 14:57] maddhruv commented on #2450
Okay
I would pick this up

[2019-09-25 14:58] Betree commented on #2444
Good catch! The comment I added there is actually wrong:

Should be:

It should be safe to implement the following code in there:

[code]

**However**, my first comment was also misleading because the component in screenshot above is `ContributorCard` - not `StyledMembershipCard`. Sorry about that!

[2019-09-25 18:36] znarf commented on #2096
With the release of https://github.com/opencollective/opencollective-frontend/pull/2614 we will better understand when the "Empty Balance" will not be there. Closing.

[2019-09-25 18:36] #2096 closed

[2019-09-25 20:37] #1927 closed

[2019-09-25 20:38] #1928 closed

[2019-09-25 20:38] #1929 closed

[2019-09-25 20:46] #1930 closed

[2019-09-25 21:15] gusaus commented on #2422
Meetup.com integration is another one that's been requested. https://github.com/opencollective/opencollective/issues/1515

In addition to integration with event services, we should integrate into CMS platforms like WordPress and Drupal.

If the process for onboarding and incentivizing contributors was clear https://github.com/opencollective/opencollective/issues/2423 https://github.com/opencollect

[2019-09-26 01:19] #1931 closed

[2019-09-26 01:20] #1934 closed

[2019-09-26 01:20] #1999 closed

[2019-09-26 01:21] #2028 closed

[2019-09-26 01:22] #2031 closed

[2019-09-26 01:22] #2032 closed

[2019-09-26 01:23] #2033 closed

[2019-09-26 01:23] #2034 closed

[2019-09-26 01:23] #2040 closed

[2019-09-26 01:24] #2050 closed

[2019-09-26 01:24] #2051 closed

[2019-09-26 01:25] #2255 closed

[2019-09-26 01:26] #2290 closed

[2019-09-26 01:27] #2291 closed

[2019-09-26 01:30] #2384 closed

[2019-09-26 01:33] #1185 closed

[2019-09-26 01:37] #1187 closed

[2019-09-26 01:38] #2320 closed

[2019-09-26 01:38] #2319 closed

[2019-09-26 01:39] #2318 closed

[2019-09-26 01:40] #2215 closed

[2019-09-26 01:40] #2112 closed

[2019-09-26 01:41] #2280 closed

[2019-09-26 07:33] Betree commented on #2434
@lindatalu I'm re-opening, we need an input from design on this issue but it's also an engineering task and we'll loose track of it if we close it.

[2019-09-26 07:33] Betree commented on #2424
@lindatalu I'm re-opening, we need an input from design on this issue but it's also an engineering task and we'll loose track of it if we close it.

[2019-09-26 07:35] Betree commented on #2215
Resolved in https://github.com/opencollective/opencollective-frontend/pull/2604

[2019-09-26 07:36] Betree commented on #1581
@lindatalu this is still an issue

[2019-09-26 07:42] piamancini commented on #2318
@znarf are you ok closing this?
@lindatalu the issues we asked closing are the ones only for design and created by you. Not issues from engineering.

[2019-09-26 07:43] piamancini commented on #2319
idem @znarf - not sure if you want this closed. I think we haven't released yet so should stay open.

[2019-09-26 07:44] piamancini commented on #1428
reopening this as it's still an issue.
@lindatalu please only close issues created by design, not issues tagged design thank you!

[2019-09-26 07:44] piamancini commented on #1167
This needs to be kept open until release.

[2019-09-26 07:45] piamancini commented on #1222
this needs to be open until we release expense flow.

[2019-09-26 07:46] piamancini commented on #883
This is still an issue.

[2019-09-26 07:46] piamancini commented on #1148
this needs to be open until we ship expense flow redesign

[2019-09-26 07:47] piamancini commented on #1185
This can be closed because we've tackled it in NCP - @Betree do you agree?

[2019-09-26 07:49] piamancini commented on #1697
this hasn't been solved and it's a candidate to the hackathon.

[2019-09-26 07:54] piamancini commented on #1861
I want to keep track of this.

[2019-09-26 07:59] Betree opened #2455 "Discover page: use new collective cards"
The discover page still uses the old collective cards. These cards don't match our policy regarding logos that must be:
- Squares
- Displayed on a white background

![image](https://user-images.githubusercontent.com/1556356/65669586-1f5b8400-e044-11e9-8f45-31c96a9e102d.png)

Best solution would be to replace them with a design similar to what has been defined for the new profile pages:

![image](h

[2019-09-26 08:04] Betree commented on #1185
@piamancini I think so, our transition strategy was quite direct because we just defined that all logos will be squares and displayed on a white background from now on. What we can do to improve this is to have a template email for contacting collectives with some recommendation when logos don't fit.

Some candidates:
- https://opencollective.com/wwcodeinc (and 90% of wwcode collectives)
- https:/

[2019-09-26 21:12] lindatalu commented on #2394
Here under the expense flow for: core contributor, fiscal host and user submitting an expense:
@alanna would you mind to check them and give us feedback.
[Core contribitor submitting an expense.pdf](https://github.com/opencollective/opencollective/files/3659914/Core.contribitor.submitting.an.expense.pdf)
[Fiscal host submitting an expense.pdf](https://github.com/opencollective/opencollective/files

[2019-09-27 08:37] xdamman commented on #2449
Expense policy is a good start. But many will prefer to ask the question first to feel reassured, especially for a large expense (chances are that the expense policy might even state that people should ask first for new expenses that haven’t be discussed yet). The question is whether you start a conversation and then attach an expense to it or if you file a proposal for an expense that gets update

[2019-09-27 10:21] xdamman opened #2456 "Issue invoice when creating a pending order"
Most companies require an invoice before paying.
Right now we only generate an invoice after the payment is made.

We should issue an invoice when making a manual donation (by wire transfer) and attach it to the email confirmation that contains the instructions to make the payment.

It would be great to also add those instructions in the actual PDF invoice.

[2019-09-27 10:24] zaunders commented on #2456
Yes, if we would use our collective to invoice for things like talks or consulting services where we want to retain some of the income in the collective, it would be very useful to be able to send invoices in a way that clients are used to.

Being able to create an invoice send it and have clients pay by bank transfer or something like that would require less understanding and garner more trust fo

[2019-09-27 11:18] piamancini commented on #2394
@lindatalu we are missing the create invoice and save template in the flow.

[2019-09-27 12:29] jzabala commented on #2444
**Done**

Don't worry. I really appreciate your help :D

[2019-09-27 12:36] Betree commented on #2288
This seemed to have a big (negative) impact for one of the collective, see https://opencollective.slack.com/archives/C0HSLRNVC/p1569537147082000

[2019-09-27 12:55] misocho commented on #2455
Hi, I'm new here. I'd like to be assigned this issue.

[2019-09-27 13:08] jzabala commented on #2451
Hi @Betree, I can try this one :D.

[2019-09-27 14:26] maddhruv opened #2457 "Rich text editor: clickable/editable area doesn't take the full size"
**Describe the bug**
On the add/edit description text field, click doesn't work on the whole `ql-container` but just on the `ql-editor` which is just one line of the whole container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/{username}'
2. Click on 'Add a description' or Edit description 'Icon' in front of your description
3. Try to click at any place

[2019-09-27 14:52] Betree commented on #2451
@jzabala all yours!

[2019-09-27 14:55] Betree commented on #2455
Hi @misocho, thanks for proposing! There's a tiny bit of refactoring to do before this issue, I'll ping you once it's ready.

[2019-09-27 15:24] Betree opened #2458 "Homepage: refunds should not be displayed"
On the homepage, we display refunds as regular transactions. The result is pretty strange (see screenshot below).

**Expected**
Latest transactions list on the homepage should not list refunds.

![image](https://user-images.githubusercontent.com/1556356/65781171-71d39800-e14b-11e9-809f-01b8f13f186b.png)

[2019-09-27 15:29] Betree commented on #2457
Good catch! Note that this is also true for all the places where we show this editor (tier page, comment, updates...etc). Related to https://github.com/zenoamaro/react-quill/issues/426

[2019-09-27 15:29] maddhruv commented on #2457
I have a fix for that

[2019-09-27 15:30] maddhruv commented on #2457
Please assign me

[2019-09-27 16:00] Betree opened #2459 "Contributors grid: improve display order"
The current version of the contributors grid displays contributors on up to 3 lines. The way contributors are organized today is:
1. Order them to put most important ones (admins, biggest contributors) first in list
2. Get the correct contributor index from the list thanks to the `getIdx` function https://github.com/opencollective/opencollective-frontend/blob/bb2bf261c1d0c9d67f42528e455ba7d29482bb

[2019-09-27 16:00] Betree commented on #2459
:gift: :money_with_wings: A **$50** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $50 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2019-09-27 16:24] Betree opened #2460 "Pricing page: layout problem wth FAQ"
When expending the details of the FAQ section in the pricing page (https://opencollective.com/pricing), the height doesn't expand with it which conflicts with the footer:

![Peek 27-09-2019 18-23](https://user-images.githubusercontent.com/1556356/65785128-f9250980-e153-11e9-9b04-01d673e0e619.gif)

[2019-09-27 17:18] NotJohs commented on #2442
@Betree can I get avatar and cover image

[2019-09-27 17:25] Betree commented on #2442
@NotJohs Sorry, I don't understand what you need exactly?

[2019-09-27 17:26] Betree commented on #2442
As a helper for the file upload feature, feel free to install & use https://www.npmjs.com/package/cypress-file-upload

[2019-09-27 17:28] NotJohs commented on #2442
@Betree `'can change avatar' `and `'can change cover background-image'`
both need images to be uploaded and my question is:
should I use any image or would one be provided to me?

[2019-09-27 17:34] Betree commented on #2442
Feel free to use any image :slightly_smiling_face:

[2019-09-27 17:36] NotJohs commented on #2442
Alright

[2019-09-27 18:06] sbinlondon commented on #2452
@betree @znarf I'd be interested in taking on this issue :blush:

[2019-09-27 18:13] NotJohs commented on #2442
@Betree having a little issue with the `cy.login` command
After creating a hosted collective, I log in with `cy.login` command which worked and redirected to ``/<randomslug>/v2``.
The problem is after redirection I logged off the `testuser`

[2019-09-27 22:35] Rexben001 commented on #2459
@Betree I want to work on it

[2019-09-27 22:57] Rexben001 commented on #2459
How can I get to the page on the screenshot?

[2019-09-27 23:29] lindatalu commented on #2394
@raulgrafico will update the flow on Monday, when he finished  I will update the files

[2019-09-28 09:33] maddhruv commented on #2299
-1

'cause an error is an error - by throwing some sort of error (`Error processing large image`) or just the Internal Server Error reflects that something is wrong with either the server or the image itself

while sending a default image seems to be more like a mistake
that either the server or the user has done something wrong

[2019-09-28 09:36] maddhruv commented on #2299
This solution seems to be more viable
 - Limit avatar upload size (memory (mb) or dimensions)
 - and compress/resize the image on upload

[2019-09-28 10:49] maddhruv commented on #2410
At Line: `791` here - `server/graphql/v1/mutations/collectives.js`
it looks like the new collective slug after deletion is already something different than the one created with -
[code]

But seems to be not doing this at `deleteEventCollective`
At Line: `486` here - `server/graphql/v1/mutations/collectives.js`

[2019-09-28 12:07] maddhruv commented on #1270
@znarf @xdamman if this if done we can close this
otherwise please LMK if we wanna do this?

[2019-09-28 12:21] maddhruv opened #2461 "Apply sentence case on all strings"
**Describe the bug**
Most of the action buttons on pages - Save, Add, Remove Edit, etc. are not capitalized. This styling seems to be a little awkward when there are some other contents in the action buttons.

You can observer this style behavior at a lot of places

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/{username}/edit' - profile edit page
2. Check

[2019-09-28 12:33] maddhruv opened #2462 "'create an update' button on updates page"
**Describe the bug**

The `Create an Update` link (button) on the `{collective}/updates` page seems to be a normal text not like a button (actionable)

This ⬇️

<img width="545" alt="Screenshot 2019-09-28 at 17 54 52" src="https://user-images.githubusercontent.com/18121502/65816462-841c0780-e219-11e9-95b3-39359bc74e01.png">

---

This should be the button from `{collective}/v2#section-updates` pag

[2019-09-28 13:03] maddhruv opened #2463 "date picker hides behind scroller for "contributor since""
**Describe the bug**
When opening the Date Picker the height of the wrapping container doesn't adjust as per. And hence it hides behind the wrapper - where the user had to scroll to get the date picker on screen :confounded: :confounded:
This should not be the behaviour.
Can be seen here as well
<img src="https://user-images.githubusercontent.com/1556356/61625026-1338fc00-ac7a-11e9-90fa-3455b499cd

[2019-09-28 13:44] maddhruv commented on #1640
It is not happening for me
at `{collective}/events/new`
@alanna can you confirm again

[2019-09-28 13:48] maddhruv opened #2464 "event creation failure still creates a template"
**Describe the bug**
I don't know if this actually is a bug or what.
But I can't digest the behaviour as such so can be a question as well

When creating an event if the event creation fails (especially if the error is - `The slug * is already taken. Please use another slug for your event.`, it stills creates a template for the same event name. 😕 😕 Why?

[2019-09-28 13:52] maddhruv commented on #1231
@Betree @znarf this is happening even if the collective doesn't have an event with the name already

[code]

The events (event names) should be collective specifics if they are collective scoped

[2019-09-28 14:04] maddhruv opened #2465 "buying more tickets than available"
**Describe the bug**
##### Collective Events
Why am I being able to buy/get tickets more than the quantity available(left out) 😕 ❓

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '{collective}/events/{event_name}'
2. Click on 'Get Tickets' for any ticket
3. Try to increase the number of tickets to more than the left out amount

**Expected behavior**
One should not be able to buy ticket

[2019-09-28 14:14] maddhruv commented on #2464
After inspecting a little more
I just found out that
The issue is not in template generation
but the event creation
The event is created even if it throws this error
`The slug * is already taken. Please use another slug for your event.`

Which should not happen

[2019-09-29 08:55] EvanBurchard commented on #2094
@znarf I made a [wip PR](https://github.com/opencollective/opencollective-api/pull/2621/files) thinking I'd get some CI feedback, but I guess it's not set up?

Locally I was getting 8 test failures before the changes, and I had the same failures after upgrading.

I think I have the set up alright, but I'm not sure of the scope of queries that need to be reworked. Is it just ones in the loaders.js

[2019-09-29 08:58] EvanBurchard commented on #2446
@Betree are you talking about getting rid of moment-timezone and/or react-add-to-calendar too?

[2019-09-29 13:54] jzabala opened #2466 "Double *and* in Creating a Collective docs"
**Describe the bug**
There are 2 *and*'s in _Creating a Collective_ documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.opencollective.com/help/collectives/create-collective

**Expected behavior**
There should be only 1 *and*

**Screenshots**
![Screen Shot 2019-09-28 at 7 43 59 PM](https://user-images.githubusercontent.com/1315054/65833499-1fa38b80-e29f-11e9-8bb

[2019-09-29 15:14] maddhruv commented on #2466
Good Catch 👋
I have raised a PR for the fix
Thanks

[2019-09-29 23:07] jzabala commented on #2451
Thanks @Betree

[2019-09-30 01:59] alanna opened #2468 "Collectives fulfilling responsibilities off our platform"
A lot of Collectives have tiers with a reward associated that occurs off of our platform, the most common one being putting a sponsor's logo on their website. We regularly get support requests from people saying their logo wasn't added to the website and they want a refund.

I think the new 'contact' button on Collective pages will help, since at least the request has a chance of going to the core

[2019-09-30 02:46] alanna commented on #2456
This would be a very helpful thing to have. Right now we hard-code the payment instructions for bank transfer payment type, and have to manually turn it on for hosts.

In an ideal world, this would be a setting hosts could turn on themselves, and when they did so they could input the payment instructions that will go in the email and also appear on the automatically generated invoice. We would jus

[2019-09-30 03:28] JohnONolan commented on #2468
Below is the email we (a collective) receive when we receive a new backer:

- There is no contact information provided
- There is no order fulfillment information (eg. tshirt size, address, logo)
- There is no method for solving either of the above

When we receive backers at a tier which _can_ include something like a logo or tshirt, we expect the backer to get in touch with us to let us know how

[2019-09-30 03:47] alanna commented on #2468
Thanks for the feedback. I'm hearing some concrete suggestions in there that could help.

* Give core contributors contact info for financial contributors in the notification they get
* Let Collectives specify extra info they need to collect per tier (e.g. address, t-shirt size, logo file)

I'm sure issues for both of those changes have been raised in the past, but we haven't managed to prioritise

[2019-09-30 06:55] #2444 closed

[2019-09-30 06:56] znarf commented on #2444
🏆 This issue was completed by @jzabala

I retroactively added a $100 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-30 07:16] znarf commented on #1590
🏆 This issue was completed by @EslamHiko

To claim the bounty, you can either:

    Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
    Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-30 07:16] #1590 closed

[2019-09-30 07:30] Betree commented on #2292
:trophy: This issue is now completed by @JohnnyAir.

To claim the $50 bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-30 07:30] #2292 closed

[2019-09-30 07:54] maddhruv commented on #1342
@znarf can be closed
with this merge - https://github.com/opencollective/opencollective-frontend/pull/2662

[2019-09-30 08:33] Betree commented on #2299
Our images service already generates default images when users haven't uploaded one:

![image](https://user-images.githubusercontent.com/1556356/65861487-a4a8a680-e36c-11e9-9c1a-493dfbb92e5d.png)

We prefer to handle this at the images service level rather than in the UI because then we will have to update multiple services (for example our invoices service or the widgets are supposed to fetch use

[2019-09-30 08:36] Betree commented on #2459
It's the collectives page. You can either activate the `NCP_IS_DEFAULT=true` flag or add `/v2` at the end of the url (ex: https://opencollective.com/babel/v2). Please note that because this issue has a minimal complexity, the allowed time frame to complete it is only one week.

[2019-09-30 08:44] Betree commented on #2410
In this case it wasn't an event, it was an organization. But you're right that we already have something for it, I'll monitor similar cases in the future.

[2019-09-30 08:44] #2410 closed

[2019-09-30 08:54] Betree opened #2469 "Expenses and Orders page: unclear 404 error message"
Example: https://opencollective.com/cucumber/expenses/10360

We need a better error message for when expenses doesn't exist. Currently we show "Unknown error", we need to have a `MessageBox` with:

![image](https://user-images.githubusercontent.com/1556356/65863561-9e1c2e00-e370-11e9-8309-3fea32eba53f.png)

[2019-09-30 09:05] znarf commented on #2469
It's a 404, it's happening because I just deleted the Expense and triggered the error when refreshing.

[2019-09-30 09:11] Betree opened #2470 "Edit tiers: switching to `MEMBERSHIP` strips presets"
**Describe the bug**
On `/{collective}/edit/tiers`, changing the type from `generic tier` to `membership` removes the `presets`, inducing confusing errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /{collective}/edit/tiers
2. For a `generic tier` (like baker) change the type to `membership`
3. Open the network inspector of your browser
4. Click on save and observe the payload

![

[2019-09-30 09:12] Betree commented on #2470
Marking as priority as we have a support ticket that is probably related to this.

[2019-09-30 09:15] Betree commented on #2469
Alright, would be nice to have an explicit error message for this one, I'll edit the issue

[2019-09-30 09:16] jamesgeorge007 commented on #1832
@znarf I would love to give it a shot :+1:

[2019-09-30 09:24] znarf commented on #1832
@jamesgeorge007 have a try but it might be a bit though to figure the actual solution.

- it needs to fix the problem: have a smaller `node_modules` in production
- while not introducing too much complexity or warnings

The "moving to devDependencies" approach didn't work when someone tried. See: https://github.com/opencollective/opencollective-frontend/pull/2545

[2019-09-30 09:29] Betree commented on #2446
@EvanBurchard I missed the fact that these two libraries were depending on `moment`. It brings too much complexity to this issue so I'm tempted to close it. If you already started working on it please let me know, we can re-open.

[2019-09-30 09:29] Betree commented on #2442
@NotJohs Can you share the code with me?

[2019-09-30 09:36] #2457 closed

[2019-09-30 09:49] znarf commented on #2110
🏆 This issue was completed by @sudo-kaizen

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-30 09:49] #2110 closed

[2019-09-30 10:13] znarf commented on #2397
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

[2019-09-30 10:17] znarf commented on #2313
As of today, it's a bit complex for a bounty and would take too much time in the hackathon.

[2019-09-30 10:34] znarf commented on #2183
A $500 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $500 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

[2019-09-30 10:38] znarf commented on #1727
A $500 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $500 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

[2019-09-30 11:36] #2100 closed

[2019-09-30 11:36] NotJohs commented on #2442
Currently in the hospital. Will do when i get back home.

[2019-09-30 11:38] znarf commented on #2044
As outlined in https://github.com/opencollective/opencollective/issues/2299 I'm not a fan of resizing the image on upload, I prefer to store the original and resize on the fly.

[2019-09-30 11:41] znarf commented on #2204
@xdamman Can you **at least** confirm the template and share a screenshot?

[2019-09-30 11:41] Betree commented on #2044
@znarf This one is tricky, because there can be multiple images in long descriptions / updates and we don't have as much control over the URLs.

[2019-09-30 11:43] #2443 closed

[2019-09-30 11:43] znarf commented on #2349
We can look at it but let's not spend too much time because the homepage is gonna be redesigned soon.

[2019-09-30 11:44] #2338 closed

[2019-09-30 11:50] znarf commented on #2044
Ideally, we need to find a way to process them through the image service. Rule of thumb: we should never link to S3 directly.

[2019-09-30 11:52] znarf commented on #1936
Maybe they can be simply deleted instead of processing the refund like Stripe / Credit Cards.

[2019-09-30 11:54] znarf commented on #1935
As a quick win, maybe they can be simply deleted instead of processing the refund like Stripe / Credit Cards.

[2019-09-30 11:58] znarf commented on #1968
This is stale. Feel free to reopen if you have more information.

[2019-09-30 11:58] #1968 closed

[2019-09-30 12:01] znarf commented on #1782
Collective to Collective backed by Credit Card is now disabled. Closing.

[2019-09-30 12:01] #1782 closed

[2019-09-30 12:05] znarf commented on #1172
@xdamman because you have the most knowledge on this issue, can you add some basic specifications and where to look at?

[2019-09-30 12:09] znarf commented on #1320
@xdamman any update on this?

[2019-09-30 12:12] znarf commented on #1380
@xdamman what's the update on this?

[2019-09-30 12:13] znarf commented on #1406
Too complex for hackathon.

[2019-09-30 12:18] znarf commented on #1524
We can just invalidate the Gift Card if it's below that value.

[2019-09-30 12:23] #1649 closed

[2019-09-30 12:24] znarf commented on #1649
:trophy: This issue is now completed by @JohnTitor

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-09-30 12:28] znarf commented on #1684
Difficult to prioritize by the core team but this up for someone in the community to grab.

[2019-09-30 12:28] xdamman commented on #1380
I have no idea. I just reported the issue.

[2019-09-30 12:31] znarf commented on #1697
The design is not found, can you share it again @cuiki ?

This will not done in the hackathon but is a good bounty candidate.

[2019-09-30 12:33] xdamman commented on #1320
I just tried and it worked fine. So closing.

[2019-09-30 12:33] #1320 closed

[2019-09-30 12:35] znarf commented on #2007
@Betree is that still valid?

[2019-09-30 12:38] znarf commented on #2309
@lukeeey @alanna Is that still an issue? If not, this should be closed.

[2019-09-30 12:39] xdamman commented on #1172
There is already a monthly email going to hosts so I'd just attach that invoice as a PDF with just the platform fees for the month.

See https://github.com/opencollective/opencollective-api/blob/master/cron/monthly/host-report.js
And this is where we already attach the PDF of all expenses for the month: https://github.com/opencollective/opencollective-api/blob/master/reports/host-report.js#L291

S

[2019-09-30 12:39] Betree commented on #2007
Yes, I've made some improvements on these but the exact problem referenced in this issue is still there

[2019-09-30 12:42] xdamman commented on #1935
We should keep collective to collective donations.

If it's on the same host, deleting these would do the job but I'd argue it's as easy to create the reverse transaction no? So that we have a trace which is always preferable.

[2019-09-30 12:42] znarf commented on #2037
@dodgepong OBS is the last one on my list. Can I help you get rid of this API call and replace it with a future proof version?

[2019-09-30 12:52] znarf commented on #1380
It's stale.

[2019-09-30 12:52] #1380 closed

[2019-09-30 13:24] xdamman commented on #1936
While I think that we should offer a "refund" function so that it is recorded, we could also offer a "delete" button for those manual donation. This might be easier to implement (it doesn't serve the same purpose but this could mitigate the need for a proper refund)

If it's easy to implement, my preference would be to record the reverse transaction for traceability.

[2019-09-30 14:24] jzabala commented on #2444
Thank you very much @znarf. I'll use the bounty to support an Open Source project. Let me read the instruction on how to create an invoice and come back to you with any question.

Thanks again. It is greatly appreciated 😁

[2019-09-30 14:27] #2470 closed

[2019-09-30 15:02] znarf commented on #2444
@jzabala if you want to support one or multiple Open Collectives, no invoice needed. We will just give you a gift card.

[2019-09-30 16:36] EugeneHlushko commented on #2397
Hi @znarf
Had time to kick in

[2019-09-30 17:01] NotJohs commented on #2183
I can work on this.

[2019-09-30 17:35] Warchamp7 commented on #2037
@znarf I've migrated the OBS website to use the GraphQL API now

[2019-09-30 18:00] lukeeey commented on #2309
i dont fancy testing it

[2019-09-30 19:35] lsmith77 opened #2471 "NCP: Improve behavior for Hero image crop/resize"
**Describe the bug**
I am having problems adjusting the zoom level to zoom out. Also uploading a new image seems to start a wrong zoom level initially. I assume the issues are related so creating a single ticket.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/symfony-diversity
2. Click on Edit cover
3. Try to zoom out (it does not)
4. Click on Remove
5. Uplo

[2019-09-30 20:59] znarf commented on #2037
@Warchamp7 that's awesome to hear! is it live already?

The advantage of the REST endpoint approach compared to GraphQL is that it's cached on the CDN level and then faster. The data is formatted similarly.

[2019-09-30 21:02] znarf commented on #2309
Ok, this was a combination of issues that are all fixed now.

[2019-09-30 21:02] #2309 closed

[2019-09-30 21:41] Warchamp7 commented on #2037
@znarf Yep, the change is already live. We shouldn't be hitting the REST endpoint anymore

[2019-09-30 23:19] Pramuau opened #2472 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/pramuan-dadee1?CollectiveId=63159&status=collectiveCreated while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 8.1.0; CPH1823) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92

[2019-10-01 02:46] alanna opened #2473 "Events host approval incorrect behavior"
A Collective applied to join [CS&S](https://opencollective.com/css/) but was *not* approved. However, [an event](https://opencollective.com/collective/events/open-energy-data-hackdays-26090ev) created by that Collective is now showing up on the host's main page very prominently.

I can't figure out what Collective the event is associated with (I'll raise another issue about that).

NO information

[2019-10-01 02:49] alanna opened #2474 "Unable to see what Collective an event is associated with"
I am trying to figure out which Collective created [this event](https://opencollective.com/collective/events/open-energy-data-hackdays-26090ev) but I can't tell from the info on the page or the URL. I think the design should make this clear.

[2019-10-01 04:08] jzabala commented on #2444
Awesome. Let me know what I need to do @znarf.

[2019-10-01 04:46] phated commented on #985
Thanks @znarf! The new customization is great! I'm loving how I was able to get adapt our collective page to the gulp brand

[2019-10-01 06:41] znarf commented on #2037
@Warchamp7 I'm still seeing some requests to https://opencollective.com/api/groups/obsproject/backers in our logs. Do you know where that might be coming from?

[2019-10-01 06:58] Warchamp7 commented on #2037
@znarf Does your logging say which page is making the request? Everything that was hitting it before should be pointed at GraphQL now

[2019-10-01 07:32] znarf commented on #2037
@Warchamp7 Sorry, I unfortunately don't have that information available.

[2019-10-01 07:39] znarf commented on #2444
Sent by email.

[2019-10-01 07:54] Betree commented on #2474
It's not super visible because the link looks like a text, but the info is there:

![image](https://user-images.githubusercontent.com/1556356/65944087-3da0f580-e431-11e9-9b99-cca62bf5ce7d.png)

The collective is: https://opencollective.com/dat-alets-ch

[2019-10-01 07:58] maddhruv commented on #2466
@znarf this can be closed

@jzabala Fixed
Thanks for the issue

[2019-10-01 08:01] #2466 closed

[2019-10-01 08:10] alanna commented on #2474
Oh I see. In that case, I think it would be good to add text like "Hosted by: [Collective]" to make that more clear.

[2019-10-01 08:10] alanna commented on #2474
Maybe not 'hosted' because that's a word that means something else on our platform. Created by would probably be fine.

[2019-10-01 08:11] Betree commented on #2408
:trophy: This issue is now completed by @NotJohs in https://github.com/opencollective/opencollective-frontend/pull/2506

To claim the **$300** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-10-01 08:11] #2408 closed

[2019-10-01 08:12] alanna commented on #1791
That sound great @Betree - thanks for making it more specific.

[2019-10-01 08:16] Betree commented on #2474
Yep, that's an easy change.

[2019-10-01 08:25] piamancini commented on #2429
Design proposal: https://www.figma.com/file/GF1gQ7fWNfaOAFNwuLeAUl/OC.COM-XX3-%2F-Priority-Tasks?node-id=747%3A69

[2019-10-01 08:55] Betree commented on #2442
I hope everything's fine for you @NotJohs, let me know if I can help (there's no problem if you need additional time to complete this)

[2019-10-01 09:01] NotJohs commented on #2442
@Betree Thanks a lot. Currently working on this.

[2019-10-01 09:25] piamancini commented on #2473
@betree it looks like we need to remove events by pending collectives from showing in the host page. We filter out collectives but we probably missed filtering out events from those collectives.

[2019-10-01 10:18] flickz opened #2475 "NCP: Improve accessibility on the new collective page"
I did an accessibility audit of the new collective page for mobile and desktop, the scores were pretty low.

#### Desktop

<img width="1440" alt="Screenshot 2019-10-01 at 8 16 23 AM" src="https://user-images.githubusercontent.com/15707013/65953834-ae014400-e43c-11e9-9c84-45a1be7698d2.png">

#### Mobile

<img width="1435" alt="Screenshot 2019-10-01 at 8 13 07 AM" src="https://user-images.githubuser

[2019-10-01 10:25] Betree commented on #2475
Good initiative, I'm not giving enough attention to accessibility. Can you share a link or the name for the tool that you've used in your screenshots?

[2019-10-01 10:27] maddhruv commented on #2475
These are lighthouse audits
available in the `chrome devtools` as well (under `Audits` section) or you can measure it on https://web.dev/measure

[2019-10-01 12:29] Betree commented on #2371
Issue solved in support ticket https://opencollective.freshdesk.com/a/tickets/1412

[2019-10-01 12:29] #2371 closed

[2019-10-01 12:55] xdamman opened #2476 "Monthly platform report: need to add OC Europe and remove /ben"
In the automatic monthly platform report we received today the host https://opencollective.com/ben shows up for no reason (probably because they have some transactions past month where `platformFeeInHostCurrency` > 0 I’d guess? But for what reason?

We should also add https://opencollective.com/Europe since we are directly managing it.
Not sure why it’s not showing up.

This is probably the query

[2019-10-01 14:03] EslamHiko commented on #2272
I can't reproduce the problem, it redirects me to `not found` page however, the error still exists in the console.

![problem](https://user-images.githubusercontent.com/18349358/65968868-23ccd600-e464-11e9-946c-472176e97a36.PNG)

So I think the solution to this issue is to prevent error message, Am I right?

[2019-10-01 14:17] Warchamp7 commented on #2037
@znarf I had only commented out the fetch we had on some pages, which some bots may have still opted to go hit just cause it was in the page source. That URL no longer appears in any page now, commented or otherwise.

If anything is still hitting that endpoint, it is not us and we will not be affected by it disappearing.

[2019-10-01 14:54] anshumanv opened #2477 "FE: Footer is not sticking to bottom"
**Describe the bug**
Footer is not sticking to the bottom when the main content height is less.

**To Reproduce**
See https://staging.opencollective.com/tootallnate/transactions

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/65973474-03fbd900-e489-11e9-9ad1-7f7e1b07de46.png)

**Desk

[2019-10-01 14:55] anshumanv commented on #2477
cc @Betree @znarf wdyt? ✨

[2019-10-01 15:31] EugeneHlushko commented on #1727
Hi @znarf
Want to pick this up.

[2019-10-01 15:42] raulgrafico commented on #2429
Hi @xdamman @Betree @piamancini Please take a look at this. :)

![01](https://user-images.githubusercontent.com/1252676/65977780-287b9500-e438-11e9-910b-5b2ced662a69.png)
![02](https://user-images.githubusercontent.com/1252676/65977782-287b9500-e438-11e9-93d9-7bc5327f1802.png)
![03](https://user-images.githubusercontent.com/1252676/65977783-29142b80-e438-11e9-92e8-3c9f1d90fc88.png)
![04](https://u

[2019-10-01 15:47] xdamman commented on #2429
This is great!
I’d just also show the slug for organizations and maybe consider showing it in a new line in case the organization name (or user name) is too long.

[2019-10-01 15:53] maddhruv commented on #1732
I have a proposed solution for this, if you are okay with the solution, I can go ahead with a PR.

#### Solution

[code]

#### Usage

[code]
instead of simply doing this

[code]

#### Implementation

[code]

What do you say @Betree @znarf

[2019-10-01 15:54] flickz commented on #2406
I'm not sure there's an issue with this or maybe a more context can help

![updatepaymenthod-working](https://user-images.githubusercontent.com/15707013/65978642-fa17ad00-e46b-11e9-8dad-79b6e74b7d4b.gif)

[2019-10-01 16:04] maddhruv commented on #2406
As I see from the above _gif_, the `save` button is disabled when the value (payment method) is the same as the last and is enabled when there is a change.
This is the same behaviour we follow when updating descriptions, (disabled when the same i.e. no changes are done)

[2019-10-01 16:51] Betree commented on #1732
Your example above wouldn't work, because content would be considered as a string and rendered as such. For it to work like you've described you'd need to use:
[code]

I'd rather use `react-markdown` with a limited set of options to achieve that, because escaping at this point is tricky.  For example with the component above a malicious user could inject code by encoding the following (based on re

[2019-10-01 17:00] raulgrafico commented on #2429
@xdamman Will we be displaying the slug for collectives also? Or this applies to organizations and users?

[2019-10-01 17:01] javierbyte commented on #1786
@znarf I can work on this, please let me know if it has not been assigned.

[2019-10-01 17:01] Betree commented on #2477
We use to import it in every page but we now use the `Page` component for new pages that adds it automatically: https://github.com/opencollective/opencollective-frontend/blob/8a3903d8de5328632f30f3107b83d7ff40de847d/components/Page.js

I wouldn't want to have too complex styles to have the border at the bottom, to me the correct fix here would be to have a `min-height` on the transactions page.

@

[2019-10-01 17:07] Betree commented on #2429
@raulgrafico It's for everyone, what I described above can be applied to any type of profiles: I could create a collective with the name `Webpack`, the system wouldn't stop me. Only the slug is unique.

[2019-10-01 17:11] maddhruv commented on #1732
the final html rendering i would do with the `dangerouslySetInnerHTML`

[2019-10-01 17:15] rakhi2104 commented on #1727
I want to take this up.

[2019-10-01 17:18] maddhruv commented on #1732
@Betree which way of doing it would you suggest me to do?
`react-markdown` vs the one I suggested

[2019-10-01 17:24] raulgrafico commented on #2429
Thanks @Betree !

This is the new draft.

![01](https://user-images.githubusercontent.com/1252676/65984888-55cf3f80-e446-11e9-8e40-71d2d37676e8.png)
![02](https://user-images.githubusercontent.com/1252676/65984889-5667d600-e446-11e9-9763-e2fabcf41380.png)
![03](https://user-images.githubusercontent.com/1252676/65984891-5667d600-e446-11e9-82bd-5f530aaaae19.png)
![04](https://user-images.githubuserc

[2019-10-01 17:26] anshumanv commented on #2477
Ah this is great!
Maybe I saw older code before.

Just adding `min-height` doesn't seem to work, trying a fix and sending a PR, we can iterate from there. 😄

[2019-10-01 17:46] piamancini commented on #1268
We will be needing this for the new expense flow, it'd be great to tackle it during the hackathon

[2019-10-01 17:48] piamancini commented on #1408
@Betree is this fixed with your latest deploy?

[2019-10-01 18:29] #2474 closed

[2019-10-01 18:51] Betree commented on #1732
I'd say in a new tab. Unless you can demonstrate that your solution is 100% safe from XSS injections (the example you provided above is not) we should prefer using `react-markdown`.

If you go with this solution please limit the allowed types to links only, we're about the revamp the expenses flow and we don't want people to start writing markdown in their expenses descriptions, otherwise we'll ne

[2019-10-01 19:01] Betree commented on #1408
The display for this one was already working:

![image](https://user-images.githubusercontent.com/1556356/65991599-e5e4a780-e48d-11e9-9597-5d167f979447.png)

I believe this issue is about contributors having `USD` as their default currency. We could fix it by letting users/orgs change their currency, or by applying the solution proposed by Xavier above:

However both solutions look bad to me. If I

[2019-10-01 19:29] znarf commented on #2037
Ok, maybe some cached versions somewhere, let's wait and see. Fyi, we definitely see less of these requests since yesterday, just not zero.

![Screenshot 2019-10-01 at 21 27 51](https://user-images.githubusercontent.com/806/65993917-7ae99f80-e492-11e9-923c-2d3e1f140956.png)

[2019-10-01 19:33] maddhruv commented on #1732
@Betree `react-markdown` is not able to parse it, 'cause the return string in comment i.e. `comment.html` is in the format `"<p>something</p>"` which it doesn't recognizes.
Please have a look at this - https://codesandbox.io/s/proud-snow-v3pm4?fontsize=14

I am not sure, if we can trim out the `<p>` and `</p>` tags from the `comment.html` returned property. Does commenting creation always adds thi

[2019-10-01 19:43] Betree commented on #1732
Ah then we need to fix this at the `HTMLEditor` level. I didn't know that the comment form was using this component. `https://www.npmjs.com/package/quill-auto-links` maybe?

[2019-10-01 19:45] maddhruv commented on #1732
This can be done for the future comments/descriptions to be added, but what about the current ones - the ones already there?
How would we do the formatting there?

[2019-10-01 19:47] maddhruv commented on #1732
This is a very vulnerable approach
`const commentText = comment.html.replace('<p>', '').replace('</p>', '')`

but still after doing this, if I add the prop for `allowedTypes` as
`allowedTypes={["p", "link"]}`
it doesn't render anything, no clue why. 😕

[2019-10-01 20:09] Betree commented on #1732
@maddhruv We'll be able to convert the ones already there with a migration in the API. It will be much safer to use a regex there cause we can preview the results before making the change.

`.replace('<p>', '').replace('</p>', '')` won't help because a lot of comments contain way more HTML than that, some of them have images, titles, links...etc

[2019-10-01 20:19] Betree commented on #2461
+1 on this one. We've enforced capitalization in a lot of places but it's currently inconsistent and we should do a pass to migrate everything.

@alanna is that ok for you? Are there places where you think we should not capitalize the first letter?

[2019-10-01 20:54] flickz commented on #1976
Is it fixed that any expense with paypal payment method and amount >= $2000 are paid manually?

[2019-10-01 20:59] alanna commented on #1976
Yes all expenses over $2000 are paid manually. However there are times when Paypal expenses less than $2000 are paid manually too.

[2019-10-01 21:04] flickz commented on #1976
I'm trying to ascertain the exact logic to use to display "Record as paid".

How often does that occur? What could be reason?

[2019-10-01 21:07] alanna commented on #2461
This is a stylistic choice as there is no hard and fast rule for capitalization of buttons like this in English. But whatever we choose, it should be consistent. Because buttons are capitalized in the new Collective page design, I think we should make it that way everywhere. The same goes for bits of text like "view collective page".

It's called "sentence case" when you capitalize the first lette

[2019-10-01 21:13] alanna commented on #1976
If a user wants to take out 100% of the balance, we have to do the payment manually and then retroactively edit the amount of the expense because we can't know the fees in advance, so that requires manual payment.

We often pay manually for expenses less than but near to $2000, because re-authorizing the API key is really annoying to do for one expense as it takes a long time.

I can't think of ot

[2019-10-01 21:29] alanna commented on #2429
Looks nice!

Some thoughts:

I think the "create new" option should always be there, even if there are many closely matching strings, because sometimes people create similarly named new profiles. What if someone is looking at view #2 but they want to create a new one?

In different contexts, different types of profiles are allowed. I think it would be great if expenses could be created in the name

[2019-10-02 04:42] maddhruv commented on #1732
@Betree Let's split this task into two
- [ ] migrate the currently saved comments
- [ ] use https://www.npmjs.com/package/quill-auto-links in the editor itself to format in future comments

[2019-10-02 04:53] maddhruv opened #2479 "opencollective.dev domain"
The `.dev` domains are already out in the public.
Most of the giants are already available on `.dev` domains sharing their awesome resources, projects, documentation, and whatnot. mdn.dev, nodejs.dev, women.dev, github.dev to name a few.

### What resources/website we want to share?

We can share our documentation through that domain as well or sharing stories about our collectives and other entit

[2019-10-02 04:54] maddhruv commented on #2479
@znarf @piamancini :point_up:

[2019-10-02 06:02] maddhruv commented on #1805
@Betree @znarf any update on this? Are we going with the idea of removing the `MarkdownEditor` completely and use the `react-quill` editor with markdown support or any other solution you have?

[2019-10-02 07:24] piamancini commented on #2141
@xdamman can we close this?

[2019-10-02 07:33] piamancini commented on #1408
So we would have two separate amounts donated? The proper way would be to have the user set their currency (or pick it from their first transaction) and convert the different amounts on the fly to that transaction.
So in your case, we would convert your USD donations to EUR and display EUR

[2019-10-02 07:34] piamancini commented on #1656
This is going to the hackathon - we should do it

[2019-10-02 07:41] znarf commented on #1656
@piamancini the 2 linked issues are in the list.

[2019-10-02 07:51] #2327 closed

[2019-10-02 08:28] Betree opened #2480 "Gift cards: better surface expiry date"
Following up on this thread: https://opencollective.slack.com/archives/C0RMV6F8C/p1569949743159400

We had multiple cases of people that couldn't find their gift cards because they were expired and they didn't know the reason. We should make that clearer.

A few ideas have been suggested in this thread:

1. [x] Make sure that it's not possible to redeem an expired gift card and that the error mess

[2019-10-02 08:51] staltz opened #2481 "Expense-related email not received"
This is basically the same as https://github.com/opencollective/opencollective/issues/2302 and https://github.com/opencollective/opencollective/issues/2401 but this time when I submitted an expense I didn't get the email to approve/reject that expense. Also, I haven't received emails from OpenCollective in the past week or so (e.g. have not received the monthly report emails).

[2019-10-02 08:51] znarf commented on #2406
@flickz There is definitely an issue with this. We just have not figured the exact steps. I think by looking carefully at the code, someone can find the reason. I can't share more than.

<img width="498" alt="Capture d’écran 2019-10-02 à 10 49 03" src="https://user-images.githubusercontent.com/806/66030738-47465e00-e502-11e9-9099-e83f95e9e29e.png">

[2019-10-02 08:51] Betree commented on #1669
Now that we're using Sentry, it would be great if the `logger.error` that will replace the `console.error` could push the error to Sentry. See https://www.npmjs.com/package/@sentry/browser

[2019-10-02 08:53] znarf commented on #1805
This issue is up to date, it's not a priority but it's still on the table, nothing to add today.

[2019-10-02 08:59] znarf commented on #2481
<img width="1260" alt="Capture d’écran 2019-10-02 à 10 58 31" src="https://user-images.githubusercontent.com/806/66031416-a5c00c00-e503-11e9-828b-9e2d0df3ca74.png">

Same issue, still no idea why you end up on this list of "Complaints".

[2019-10-02 09:00] piamancini commented on #2479
Thanks for the heads -up @maddhruv we purchased it already.
Closing issue.

[2019-10-02 09:00] #2479 closed

[2019-10-02 09:04] Betree commented on #1408
@piamancini That's a good option. I prefer allowing users to change their main currency because it's more flexible. But only users/orgs should be able to that, we don't want collectives to start messing up with that value.

So specs would be:
1. [ ] In `getTotalAmountSpent` (https://github.com/opencollective/opencollective-api/blob/6c894c16d1ec2975ef951c76ed4539ca33aea3b2/server/models/Collective.

[2019-10-02 09:05] znarf commented on #2481
Removed you from this list. I contacted Mailgun about it and asked for explanation.

[2019-10-02 09:05] #2481 closed

[2019-10-02 09:05] #2472 closed

[2019-10-02 09:14] znarf commented on #2379
@ghuntley Closing because we now released the updated collective page and I can't reproduce anymore. Feel free to reopen and update if this is also happening on the new page or elsewhere.

[2019-10-02 09:14] #2379 closed

[2019-10-02 09:28] znarf commented on #2423
Done!

[2019-10-02 09:28] #2423 closed

[2019-10-02 09:58] znarf opened #2482 "NCP: The section highlited in NavBar is not the correct one"
When navigating to "Updates", "Budget" appears as active in the menu.

**To Reproduce**

1. Go to 'https://opencollective.com/manyverse'
2. Click on 'Updates'

**Current behavior**

"Budget" is highlighted

**Expected behavior**

"Updates" should be highlighted

**Screenshots**

<img width="1227" alt="Capture d’écran 2019-10-02 à 11 55 41" src="https://user-images.githubusercontent.com/806/66035

[2019-10-02 10:00] znarf commented on #2462
Sounds like a look idea to add the button on the top right of the Updates page.

[2019-10-02 10:03] znarf commented on #2463
Sounds similar to https://github.com/opencollective/opencollective/issues/2161

@Betree because you fixed the similar issue, can you have a look?

[2019-10-02 10:13] Betree commented on #2482
I can't reproduce on Firefox/Linux. Could you share your screen resolution?

![image](https://user-images.githubusercontent.com/1556356/66036583-e1f86a00-e50d-11e9-92d2-506f5b7dfe0c.png)

[2019-10-02 10:14] znarf commented on #2465
@maddhruv just some feedback on reporting bugs. You don't need to ask questions like "Why am I seeing this thing that is not right ???". It's a bug, there will be no answer to that question. You can just describe it using a neutral tone "I see this thing that doesn't seem right" or "This thing is not right". Also, let's try to not fall in emoji overload in such issues.

[2019-10-02 10:23] znarf commented on #2482
I have a big monitor and use custom/random size windows. Also, it's high resolution so difficult to share the number of pixels. This is happening with a big height, the Budget section needs to be visible.

<img width="975" alt="Capture d’écran 2019-10-02 à 12 17 37" src="https://user-images.githubusercontent.com/806/66037029-01dc5d80-e50f-11e9-9982-7ee0df468348.png">

[2019-10-02 10:24] #2395 closed

[2019-10-02 10:25] znarf commented on #2409
Closing as I don't see any immediate actionable.

[2019-10-02 10:25] #2409 closed

[2019-10-02 10:27] znarf commented on #2437
Should we also cache it on API side somehow?

[2019-10-02 11:56] Betree opened #2483 "Should we bring back global collective goals?"
In the previous version of the collective page, we used to display global goals based on balance or yearly budget. We've deprecated this feature on the new collective page (#2288) to favor tier goals instead (#1979, https://github.com/opencollective/opencollective-frontend/pull/1888). We haven't killed the feature and the data associated yet, but it is now hidden in the edit interface.

As outline

[2019-10-02 12:05] Betree commented on #2483
If we want to move on with bringing back the collective goals, it could take the form of a new `Goals` section in the new collective page only displayed when collectives set goals in `/edit/goals`, with an optional checkbox to display it or not.

- The fastest way to re-implement it would be to just re-use the previous code that we had in the cover for this new section (imported dynamically so tha

[2019-10-02 12:07] #2039 closed

[2019-10-02 12:17] Betree commented on #2463
@maddhruv I believe this issue is not solved yet

[2019-10-02 12:19] maddhruv commented on #2463
@Betree I don't know how I closed this issue 🤔 😕 Maybe on the github mobile something bad happened. Sorry for that

[2019-10-02 13:13] xdamman commented on #2429
Great feedback @alanna !

Yes we should always show the option to create a new entity.

Yes. This should be parameters when we instantiate the component (see original issue above)

@raulgrafico maybe you can add some design to show the case where there is only one button to create a user, or two buttons to create a user or an organization?

And yes good point on the terms of service. Ideally we sh

[2019-10-02 13:22] JoyLubega commented on #1915
Hey @znarf I want to give this a try

[2019-10-02 13:29] Betree commented on #2142
Resolved in https://github.com/opencollective/opencollective-frontend/pull/2589 by:
- Abbreviating amounts
- Truncating the text if really too long

![image](https://user-images.githubusercontent.com/1556356/66047684-7bcd1080-e528-11e9-86f8-efb434ae08b1.png)

[2019-10-02 13:29] #2142 closed

[2019-10-02 13:45] Betree commented on #1915
Hi @JoyLubega, welcome! Feel free to give it a try. Please note that there's no bounty attached to this issue.

[2019-10-02 14:14] xdamman commented on #2429
Also, shouldn't we reuse the existing default icon for a new collective instead of introducing this new symbol? What do you think @raulgrafico @cuiki ? (same for organization and user)

[2019-10-02 14:18] anshumanv commented on #2351
Seems like a simple fix, exploring 👍

[2019-10-02 14:40] raulgrafico commented on #2429
@xdamman can you point me where to find that old symbol for collectives and organizations? I just asked Cuiki about it, and this is the default icon we've been using for new collectives, is not new from my understanding.

[2019-10-02 14:46] raulgrafico commented on #2429
We made that version on the first draft, the idea was that based on the kind of "already created profile type" if there was a collective with that name, the user will be able to choose a user or an organization with that name, and at the same time they are still able to create a new collective profile using the small +NEW button.

![05-01](https://user-images.githubusercontent.com/1252676/66054158

[2019-10-02 14:48] raulgrafico commented on #2429
This is number 4 updated @alanna @xdamman.

![04](https://user-images.githubusercontent.com/1252676/66054488-ad7ab300-e4f9-11e9-9d02-38b49338a4af.png)

[2019-10-02 14:49] maddhruv commented on #2025
@Betree with v2 (NCP) I don't see this happening.
@sloria can you reverify

[2019-10-02 14:54] sloria commented on #2025
It still wraps

![image](https://user-images.githubusercontent.com/2379650/66055090-00a53380-e503-11e9-964d-8f49439222c1.png)

but I'm unsure if this is expected?

[2019-10-02 15:18] Betree commented on #2437
Let's `ANALYZE` the SQL query that will serve the yearly budgets for the loader. If the complexity is above ~500 for 1500 collectives (number of collectives OSC is a contributor to) then we should indeed add a cache to the specs.

[2019-10-02 15:22] Betree commented on #2482
Makes sense, the function takes the latest section that has been scrolled on more than 500px. I didn't try on monitors higher than `1080px` before, but I can reproduce by simulating a `1920x1600` resolution.

We need to change the formula.

[2019-10-02 15:28] Betree commented on #2025
Yep, this was a bug on the old collective page but it's part of the design for the new collective page to display the collective logo and name above the links :slightly_smiling_face:

![Peek 02-10-2019 17-27](https://user-images.githubusercontent.com/1556356/66057987-e3d82280-e539-11e9-9480-399fadfaee61.gif)

[2019-10-02 15:28] #2025 closed

[2019-10-02 15:53] Betree opened #2484 "Pledge pages are not displayed anymore"
**Describe the bug**
The release of the new collective page broke the pledge page, we don't show anymore the pledges on the page. See https://opencollective.com/flameshot for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pledge on `pledges/new`
2. Got the the created collective URL

Expected: Should display `PledgedCollective`
Actual: Displays new collective page

**Scree

[2019-10-02 16:07] Betree commented on #2469
Note: same issue with order page

[2019-10-02 16:48] johanricher commented on #1963
It seems the issue has been resolved, thank you and keep up the good work!

[2019-10-02 16:48] #1963 closed

[2019-10-02 18:34] Memo-Es commented on #2483
Thank you, @Betree, for creating the issue. Also, thank you @themightychris to bring this up.

We think that what @themightychris is trying to do can be achieved very neatly with the current capabilities of the Collective Page.
![Frame 2](https://user-images.githubusercontent.com/49539954/66070732-83d08480-e517-11e9-9398-25bc3c0a5411.png)

So, in this case, you set up a different card for each yea

[2019-10-02 19:23] themightychris commented on #2483
Thanks @Memo-Es  -- IMHO, tier-level goals will be a counterproductive approach to our real goals.

We want to get to ~$10k a year of sustainable income for the org in order to deliver a given set of programming. I really don't care how many of those are $100/mo, $250/mo, or higher contributions. I want to focus our community and promotion around the overall goal and what it gets us. I want people

[2019-10-02 19:45] flickz commented on #1976
It will look too messy, I think amount less than $2000 should wait for the new design solution while I implement this for amount greater than $2000.

[2019-10-02 19:52] lsmith77 opened #2485 "link to the main collective from a subcollective"
## User story
As a user viewing a collective with its sub-collectives I want to have links between the main and the sub-collective in both directions, so that I don't get lost.

## Best solution for this problem
Sub-collectives have a link back to the main collective and potentially even to the other sub-collectives, so that users can easily move around to see the different causes within our initi

[2019-10-02 20:15] znarf commented on #1976
@flickz please follow @alanna's direction, she's the one using the interface every day and needs this button even for expenses of less than 2000$.

[2019-10-02 20:36] flickz commented on #2324
@alanna How do we deal with user's email notification in this case? They've been notified before that their expense was paid, updating the status of the expense back to "Approved" will trigger another notification about expense approval. This is going to confuse them.

[2019-10-02 22:50] Memo-Es commented on #2483
Ok, I thought of that solution based on this part of the [slack thread](https://opencollective.slack.com/archives/C0HSLRNVC/p1569537147082000)

It sounds to me that you want your sponsors to showcase themselves depend on their tier, but if that doesn't matter to you you can maintain only one yearly goal for dev production and another yearly goal to track only the budget for events.
And use the "Ot

[2019-10-03 00:11] alanna commented on #2473
@Betree if you're not able to solve the underlying issue right away, can you just make sure that specific event isn't showing on that host's page for now? The user is waiting for a reply from support and isn't happy.

[2019-10-03 02:40] alanna opened #2486 "Add type dropdown to edit expense options"
## User story
As an expense submitter, Collective admin, or host admin, I want to be able to change an expense's type between invoice and receipt, so that I can correct errors made at the time of submission.

## Best solution for this problem
Add the dropdown to the edit expense options.

## Metrics
Reduce the need for developers to have to change these manually.

![Screen Shot 2019-10-03 at 3 36

[2019-10-03 02:44] alanna commented on #2324
In these cases we are almost always in touch with the suer directly because there's been an issue with the payment. For an MVP, I think not sending any notifications when unpaid is fine. When it's paid again, it should send a payment notification as normal.

[2019-10-03 02:45] alanna commented on #1976
Yes it's messy but only host admins see this and the entire host dashboard is messy! We need to do a big project to clean it up, but until then functionality is most important.

[2019-10-03 02:54] alanna opened #2487 "Show Collective's host on expense page"
## User story
As a fiscal host admin, I need to verify which host an expense is connected to, in order to make sure payments are being made correctly. This info used to appear on the header under the Collective name on individual expense pages because it was in the Collective header everywhere. With the new design, it's missing. We don't need it to appear everywhere, but it should appear somewhere

[2019-10-03 02:57] alanna commented on #2429
Looks good. Should we make it clear in the design that this will trigger an invitation to be sent to them? As long as they don't encounter this component when creating their own user account, it should always be the case. This will be completely seperate from the create new user interface we have now for new people signing themselves up, right?

[2019-10-03 03:26] alanna opened #2488 "non-descriptive error on add funds form"
This error came up when I was trying to manually add funds, but it doesn't explain what the problem is so it's not useful. I think it wanted either an Organization name or website. This was a contribution from an individual so I don't have these things.

<img width="606" alt="Screen Shot 2019-10-03 at 4 23 54 PM" src="https://user-images.githubusercontent.com/5498878/66097329-7a6c1880-e5fa-11e9-96

[2019-10-03 03:30] alanna opened #2489 "Turn on Paypal payment method for one-time contributions for Open Collective Foundation host"
## User story
As a financial contributor, I want the option to pay via Paypal to Collectives hosted by Open Collective Foundation.

## Best solution for this problem
Make Paypal a payment option for all hosts, recurring and one time.

## MVP
Turn on Paypal for one-time contributions for Foundation, like we have for OSC.

## Note
People are sending money direct to Foundation's paypal address, which

[2019-10-03 06:35] Betree commented on #2473
@alanna I'll prioritize a fix for this issue today

[2019-10-03 06:45] Betree commented on #2473
So the issue is not from the contributions section but in the way we create events. I've made a temporary fix in the database for the "Open Energy Data hackdays" event, I'll add more details on this issue after pushing a fix.

[2019-10-03 07:35] znarf commented on #1270
Adjusting the complexity to minimal, based on our new classification.

[2019-10-03 07:39] NotJohs commented on #2448
@znarf tried recreating this issue but everything worked fine.

[2019-10-03 07:53] piamancini commented on #1408
LGTM

[2019-10-03 08:00] piamancini commented on #2483
@themightychris How about just having one tier only?
An open tier, with one goal to Sustain the community. In that way, you can have a standalone page if you want to share that tier that has the budget, you can add a video, it has a progression bar, etc.

[2019-10-03 08:09] znarf commented on #2448
I tested and haven't got the error. But:

![Screenshot 2019-10-03 at 10 07 41](https://user-images.githubusercontent.com/806/66109815-c6509a80-e5c5-11e9-9b12-280008a29ece.png)

- The page says "Collective created with success" it should be "Organization created with success"
- The organization is not editable,  it should be editable

This is what you should see:

![Screenshot 2019-10-03 at 10 09 2

[2019-10-03 08:20] xdamman commented on #2429
@raulgrafico those are the default icons we are currently using for new collectives and new organizations

![](https://d.pr/free/i/Z2PIsP+)

I'm fine to change those (though I have to say that I really like the default one for collectives, but I'm not a fan of the one for organizations), but we need to be consistent throughout

[2019-10-03 08:37] Betree commented on #2469
Added to hackathon as it's similar to https://github.com/opencollective/opencollective/issues/2272 and https://github.com/opencollective/opencollective/issues/1369

[2019-10-03 08:39] xdamman opened #2490 "Allow anyone to comment on expenses"
Right now only the admins of the collective and of the host can comment on expenses.

I think that we should relax that rule and allow any logged in user to comment on any expense.

This has multiple benefits:
- it will make it more clear that those expenses are public and anyone is invited to ask for questions or provide feedback (i.e. more details about the reason for that expense, a link to a s

[2019-10-03 09:04] znarf commented on #1994
- Manual Payments are now expiring after 2 months, as of today there is 72 entries not expired on the platform and 44 for the Open Source Collective. This is the one that should appear in the dashboard.
- Pending errors with Credit Cards are either errors (app crash) or 3d secure validation that was not fulfilled, they will be marked as error after 1 day

https://github.com/opencollective/opencoll

[2019-10-03 09:33] piamancini commented on #1392
@znarf that's a refund, the arrow should be like that.

[2019-10-03 09:49] piamancini opened #2491 "Bug in how Gift Cards info is displayed in Transaction Details"
**Describe the bug**
In the list of transactions, the information about the Gift Card is not displaying correctly.

**To Reproduce**
Steps to reproduce the behavior:
Go to https://opencollective.com/material-ui/transactions and scroll down until you find:

<img width="1037" alt="Screen Shot 2019-10-03 at 11 45 24 AM" src="https://user-images.githubusercontent.com/3671070/66116855-be97f280-e5d3-11e

[2019-10-03 09:50] NotJohs commented on #2339
@Betree can't reproduce this.

[2019-10-03 09:54] xdamman commented on #1268
This should be linked to the new business model. People should pay $10/month to be able to accept donations directly on their bank account with the wire transfer/pending order feature.

As a quick implementation to unblock some users and also to already start getting feedback on that feature and pricing, this is what I'd suggest:

![](https://d.pr/free/i/K2852Q+)

We could link to the documentatio

[2019-10-03 10:00] xdamman opened #2492 "Intermittent test failing in api (virtual cards)"
To reproduce:

`PG_DATABASE=opencollective_test mocha test/paymentMethods.opencollective.virtualcard.js`

Sometimes the tests pass, sometimes they don't with this error:

[code]

[2019-10-03 10:04] JohnTitor commented on #2365
@Betree I'd like to work on this, the FAQ to edit is this? https://github.com/opencollective/documentation/blob/master/backers-and-sponsors/README.md

[2019-10-03 10:07] piamancini commented on #1268
couple of thoughts:
- It should be in the same place where you connect Stripe. It's weird that you are mixing it with a payout method instead of the other pay-in method.
- Is the + sign taking you to a place where you can add the copy from the email to be sent? If yes, it needs to be super clear.
- I think contextual FAQ is needed. Right now, I would expect almost like integrating a bank account,

[2019-10-03 10:14] xdamman commented on #1268
Bear in mind that is meant as a quick fix compared to what we have now:
![](https://d.pr/free/i/7lreN6+)
- Right now Stripe is in “Connected Accounts” alongside Twitter which I think is fine for now but should be ideally moved or duplicated to the Payment Methods settings pane. Reason being that well, those are all “Payment Methods”, i.e. ways for receiving or sending money. So it’s more Stripe th

[2019-10-03 10:32] piamancini commented on #1268
Please also open an issue about this with you as the owner. Otherwise it will never happen and the fix like this is confusing. You can then assign it to someone else. But you should own this feature.

Ok so maybe explain this properly in the form.
We are not enabling to receive donations automatically. So maybe the button should read, to send your account details to your contributors and receive d

[2019-10-03 10:36] sudo-kaizen commented on #2337
Can I hop on this? I think I've worked on this part of the codebase before

[2019-10-03 10:38] znarf commented on #2337
@sudo-kaizen sounds good

[2019-10-03 11:17] #2473 closed

[2019-10-03 11:44] #2492 closed

[2019-10-03 11:55] EslamHiko commented on #2460
@flickz I have a Jquery solution for this issue

[2019-10-03 12:14] Betree commented on #2460
@EslamHiko would it be more complex to go for a CSS solution? The code above is pretty cryptic

[2019-10-03 12:18] EslamHiko commented on #2460
@Betree one solution would be to give the footer `position: relative` property but the accordion will be hidden when we collapse a few tabs, maybe a better solution is to show only one tab at a time

[2019-10-03 12:26] flickz commented on #2460
I think the idea of one tab at a time sounds cool but that doesn't really eliminate the issue. A long text tab will show the issue.

[2019-10-03 12:28] xdamman commented on #2490
Feedback from Pia: ok but then we also need to offer a way to remove comments (in case of spam)

[2019-10-03 12:37] EslamHiko commented on #2460
@flickz `position: relative` will hide the text so it'll look better.
btw the last tab doesn't work with me.

[2019-10-03 12:48] anshumanv opened #2493 "Expense titles should be linkified"
I think it makes sense to linkify the title of the expense to the actual expense page for quick access, or else we need to go to all expenses and then to the page.

![image](https://user-images.githubusercontent.com/21009455/66127635-c8d4e380-e609-11e9-94ca-be9f43c07676.png)

cc @Betree @znarf

[2019-10-03 12:50] Betree commented on #2339
Ah I didn't think about it when making the change but I'm pretty sure https://github.com/opencollective/opencollective-frontend/pull/2647 fixed that (because the Apply button looks for pending collectives in `LoggedInUser`). Thanks for testing @NotJohs :+1:

[2019-10-03 12:50] #2339 closed

[2019-10-03 13:27] Betree opened #2494 "Refresh contributors caches when there are new contributions"
At least one user was recently surprised to not see their name in the contributors section just after contributing (see https://opencollective.freshdesk.com/a/tickets/1931). The reason is that we cache contributors so that we don't run the query more than once per hour.

My proposal would be:

- [x] Have only one cache per collective. Today cache key is based on limit/contributor type. We should c

[2019-10-03 13:34] Betree commented on #2460
So the main problem here is that we have `height: 2700px;` on the pricing page. That will never work on mobile, I'm surprised that the review of the page didn't catch this.

Whatever the fix, we must get rid of this fixed height.

[2019-10-03 14:02] anshumanv commented on #2471
I'm not facing any of the above issues, works flawlessly for me.

OS: MacOS Mojave
Browser: Chrome 77

[2019-10-03 14:06] Betree commented on #2471
@anshumanv Can you try with this image?

https://opencollective-production.s3-us-west-1.amazonaws.com/d7d0c490-1106-11e9-88dc-33f6e9e72bfc.jpeg

[2019-10-03 14:12] anshumanv commented on #2471
Yes, works for me.

I did have to bring it in the visible area initially, but whenever I reloaded the page it seemed to fit well.

![image](https://user-images.githubusercontent.com/21009455/66134351-d4c6a280-e615-11e9-91f8-8eb2a1100b57.png)

[2019-10-03 14:19] Betree commented on #2471
@anshumanv Alright, thanks for testing :pray: Like @lsmith77 I'm using Ubuntu, that may be related. I'll try to see if I can reproduce based on that.

@lsmith77 could you also share your screen resolution please?

[2019-10-03 14:28] flickz commented on #2491
@piamancini I think I have a fix for this but I'm not sure how to create and use a gift card locally, in order test.

[2019-10-03 14:34] piamancini opened #2495 "Event: ticket is not respecting parameters set when created"
**Describe the bug**

This is the ticket I created and saved:

<img width="660" alt="Screen Shot 2019-10-03 at 4 24 16 PM" src="https://user-images.githubusercontent.com/3671070/66135934-f8302400-e5fa-11e9-8535-4f79a6b10f6e.png">

Note the default and minimum amounts, the CTA for the button and the frequency.

However, this is what i'm seeing in the ticket
<img width="474" alt="Screen Shot 2019-10

[2019-10-03 14:38] piamancini opened #2496 "Deleting events"
**Describe the feature**

Events should be deletable.

**Expected behavior**

1. Go to a collective
2. Click on create event & create one
3. Click on edit event in order with the intention of deleting it
4. See a delete event button on the bottom of the screen, click on it
6. See a confirmation modal, confirm
7. The event is deleted

**Notes**

On the GraphQL side, events are "Collective", so the

[2019-10-03 14:42] piamancini commented on #2495
In tinckering with it some more I realized that when the event is created as separate collective: https://opencollective.com/sustainoss/events/sustain-2020-summit-442ev#tickets The ticket shows up correctly.

<img width="1217" alt="Screen Shot 2019-10-03 at 4 42 18 PM" src="https://user-images.githubusercontent.com/3671070/66137064-cf109300-e5fc-11e9-82ed-306b3a268ce0.png">
However, I can no longe

[2019-10-03 14:56] raulgrafico commented on #2429
Hi @alanna thanks, that sounds good, can you guys please help me with the copy for that message?

@xdamman we have some concepts right now on our design system, the only pending item we have right now is the fiscal host avatar image, but that is on our scope. Look at this, I think is looking nice:

![Screen Shot 2019-10-03 at 9 53 37 AM](https://user-images.githubusercontent.com/1252676/66138307-0

[2019-10-03 15:37] flickz commented on #1524
Just to be clear, the goal is to prevent gift card balance from going below $0.50 and also to invalidate the current gift cards below that the amount?

[2019-10-03 15:47] #2386 closed

[2019-10-03 16:41] gusaus commented on #2423
Seems like the GitHub Sponsor button should link to a collective that references bounties and campaigns https://github.com/opencollective/opencollective/issues/2420 focusing on sustaining the project.

Is https://opencollective.com/opencollective the collective associated with the OSS project? https://github.com/opencollective/opencollective

[2019-10-03 17:09] znarf commented on #2423
@gusaus yes, the decision from the team is to lead donations to this collective

[2019-10-03 18:32] maddhruv commented on #1561
Hey @Betree what would be the API side solution for this? Replacing the switch button for `limitedToOpenSourceCollectives` which is a boolean check with `restrictions` which would be an Array of strings require a change in the table schema as well and the logic check to find `openSourceHost`

[2019-10-03 21:31] xdamman commented on #1268
![](https://d.pr/free/i/wcIJ5g+)

![](https://d.pr/free/i/9T9sx6+)

[2019-10-03 22:24] alanna commented on #2429
@raulgrafico I think it would be enough to change the button from "create user" to "invite". This will make it obvious that a notification will be sent and the other person will be asked to accept the invitation. I think most users are familiar with this process from other apps.

[2019-10-03 22:27] alanna commented on #2490
I agree that we should let any logged in user make a comment. I've encountered this when I want to make a comment on expenses myself in relation to support requests, but I can't because the Collective is in a host where I'm not an admin.

I agree about the spam problem. It's been growing recently. Requiring a login is a good partial filter but won't stop it entirely. There's already an issue for t

[2019-10-03 22:29] alanna commented on #2483
Maybe a flexible option to fit with the current design is combining @piamancini 's solution above of using a tier goal, and also having a "featured tier" option, so Collectives can have one tier which fills the full width of the contribution section and reveals details like the goal, video thumbnail, etc. That way if a Collective is doing a big campaign they can really highlight it. This could fit

[2019-10-03 22:50] alanna commented on #1268
We definitely need this feature. Maybe it makes more sense to move Stripe to 'payment methods' too. In my ideal world, the host would be able to freely define the options here. For example, bitcoin, paypal (direct, not via contribution flow), cash, etc. For each, you'd just need a free text box where the host can input details, so I think it could be generalisable (let them set the payment method

[2019-10-04 02:21] themightychris commented on #2483
These suggestions are certainly feasible workarounds, and I could certainly be wrong about this, but my experience tells me these workarounds will all be substantially less effective for our use case as the previous structure would have been

Our use case might differ from where most of the platform usage is right now, but I believe it's a substantial area for growth. The new design maybe does mak

[2019-10-04 07:18] #1994 closed

[2019-10-04 07:39] #1215 closed

[2019-10-04 09:01] maddhruv commented on #2126
This is all what we fetch with `LoggedInUser` query - https://github.com/opencollective/opencollective-frontend/blob/master/lib/graphql/queries.js#L85

As you explore, most of these data are used somewhere no different pages/components - passed as props regularly with each step down.

👍

[2019-10-04 09:03] maddhruv commented on #2126
@Betree can you assign this to me, I can work on pulling these data and component-specific queries down the tree.
Will require to and fro checks for most of the components as to which all are using the particular data attributes and are not breaking

[2019-10-04 09:08] piamancini commented on #1268
Maybe enable Contributors?
We are not using the word donors anywhere else.

[2019-10-04 09:09] piamancini commented on #1268
Also, why "kindly ask you"? Are we doing this optional?

[2019-10-04 09:24] Betree commented on #1993
Re-opening after reverting the feature in https://github.com/opencollective/opencollective-api/pull/2679 and https://github.com/opencollective/opencollective-frontend/pull/2747 because there are some concerns that we need to address before making this feature public:

- We need to have a security pass to ensure that it's safe to open the refund function to collective admins. Because (1) it was pre

[2019-10-04 09:28] jeffin143 commented on #2459
@Betree , Since this is the last day and also @Rexben001  hasn't made the changes after almost 3 days and hence I went ahead an raised the PR. Please review it

Thanks :)

[2019-10-04 09:33] maddhruv opened #2497 "contributions cards getting switched"
**Describe the bug**
The cards (Open Collective Design and Open Collective Engineering) at https://opencollective.com/opencollectiveinc switch the title after a split of second on page render. Even the link is also getting switched weirdly.

Note: You won't see this behaviour if you navigate to some link on this page and come back (`window.history.back()`)

**To Reproduce**
Steps to reproduce the

[2019-10-04 09:39] piamancini opened #2498 "Text color is not working in WYSIWYG editor in standalone tiers"
**To Reproduce**

1. Go to a standalone tier and use the rich editor.
1. Select a color other than black for the text
1. Save.

**Current Behavior**

Color is reverted to default (black)

[2019-10-04 09:41] Betree commented on #2497
Good catch, there's seems to be a difference in contributions sorting between SSR and client.

![Peek 04-10-2019 11-39](https://user-images.githubusercontent.com/1556356/66198015-d33fbd80-e69b-11e9-9017-68ad30701fab.gif)

[2019-10-04 09:42] maddhruv commented on #2497
But for you, it is switching different cards, and different for me

[2019-10-04 09:47] Betree commented on #2126
@maddhruv Let's not do this all at once, each field should have it's own PR so that we can rollback easily in case of problems

[2019-10-04 09:51] #2491 closed

[2019-10-04 09:51] maddhruv commented on #2126
Yeah, by this

I meant that the solution would be very lengthy and time-consuming, would definitely do in separate PRs

[2019-10-04 10:05] Betree commented on #2459
@Rexben001 Sorry, time was almost out and @jeffin143 came up with a working solution. We'll continue with https://github.com/opencollective/opencollective-frontend/pull/2749 instead

[2019-10-04 10:24] anshumanv commented on #2493
Great! Will fix this. 👍

[2019-10-04 12:09] lsmith77 commented on #2471
ok I tried once more. this time with my iPad. there I got it to work. but its quite a "choppy" experience to try and resize it to the right size.

I then went back to my Ubuntu laptop and there I could also get it to work but the experience is even more cumbersome trying to use a touchpad.

So I think in summary, I might have given up on my laptop because the experience was so choppy that I though

[2019-10-04 13:05] flickz opened #2499 "GiftCard: Show actual contributor name in new backer email"
#### Description

While working on #2491 I noticed the email sent to collective admin about new backer shows name of gift card issuer rather than the person who donated to the collective with it.

<img width="511" alt="Screenshot 2019-10-03 at 3 48 38 PM" src="https://user-images.githubusercontent.com/15707013/66209598-97aeee80-e6af-11e9-8a5e-42d450f76e29.png">

#### Email screenshot

<img width="

[2019-10-04 13:07] Betree commented on #2471
+1 to have alignment buttons. I'll see how we could implement this without surcharging the interface.

In the mean time, a good actionable for this issue would be:
- [ ] Make sure added images are aligned to the top-right corner and best fitted when uploaded
- [ ] When (de-)zooming, make sure that the center of the image stays at the same position

[2019-10-04 13:36] xdamman commented on #2349
The reason is because we count the number of active collectives on the homepage, whereas we let you discover all the collectives on the discover page.

So I'd propose to simply specify that as a quick solution:

![](https://d.pr/free/i/RkETp3+)

[2019-10-04 15:20] Betree commented on #2452
:trophy: This issue is now completed by @sbinlondon!

To claim the **$50** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-10-04 15:20] #2452 closed

[2019-10-04 18:21] drcmda opened #2500 "contributors.svg broken"
Could someone refresh our contributors.svg? https://opencollective.com/react-three-fiber/contributors.svg I've been waiting for a week just to be sure, didn't wanna clog github issues because of an image, but it would be nice if it did show up. Thanks! :-)

[2019-10-05 03:05] alanna opened #2501 "User submitted tax form but the system thinks they haven't"
Please see the comments in this expense: https://opencollective.com/gosublime/expenses/10024

The user submitted the tax form via HelloWorks, but the system has not recorded it. In Forest the legal document shows as "requested" not "received". They can't resubmit it because HelloWorks says they already did it when they try again.

[2019-10-05 07:58] Betree commented on #1561
Hey @maddhruv we already have the API recipe for this. We only need a way to pick the hosts for Frontend, I already plan to work on this issue as a way to demo the component specified in https://github.com/opencollective/opencollective/issues/2429.

[2019-10-05 08:04] xdamman commented on #1268
@alanna yes, would totally love to add paypal and possibly other payment manual methods (e.g. Venmo). Since the host has to manually confirm reception of the money, it is very versatile. Then based on usage we can prioritize automating each of them.

[2019-10-05 08:05] znarf commented on #2501
@alanna I answered to that on Slack long time ago when it was mentioned.

[2019-10-05 14:06] maddhruv commented on #2126
@Betree the `email` field we use for setting `Sentry's scope`

[code]
https://github.com/opencollective/opencollective-frontend/blob/enhancement%2Fseggregate-email-loggedinuser/lib/withLoggedInUser.js#L58

We do want to use this. Right?

[2019-10-05 15:02] NotJohs commented on #2464
@maddhruv can I get more context on this issue?

[2019-10-05 15:03] JoyLubega commented on #1915
Hey @Betree about the Email filter, I think I have to integrate Gmail API and outlook. I beg to be advised. thanks

[2019-10-05 15:19] jpatterson733 opened #2502 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/babel/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 7.0; SM-N920V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.43 Mobile Safari/537.36`

# Technical details

[c

[2019-10-05 16:34] Betree commented on #2126
It's good to have it in the sentry payload to easily search from support requests, but I'd be ok if we decide to remove it so we don't have it in the query.

In terms of performances, fetching email is really cheap so I wouldn't focus on this one tho.

[2019-10-06 08:54] flickz commented on #2155
@alanna Following your steps to reproduce, I got an email with receipt link.

<img width="471" alt="Screenshot 2019-10-06 at 9 38 39 AM" src="https://user-images.githubusercontent.com/15707013/66266580-d6af8200-e81e-11e9-9a13-de75445f8345.png">

Or maybe it is adding fund from the host collective page? 🤔

<img width="467" alt="Screenshot 2019-10-06 at 9 53 00 AM" src="https://user-images.githubuse

[2019-10-06 08:56] flickz commented on #2351
Closed in https://github.com/opencollective/opencollective/issues/2351

[2019-10-06 08:56] #2351 closed

[2019-10-06 10:04] Betree commented on #1915
You should be able to filter by generating a URL similar to https://mail.google.com/mail/u/2/#advanced-search/subject=Open+Collective%3A+Login&amp;subset=all&amp;within=1d

Keep it as simple as you can, we shouldn't have to integrate the providers APIs. If filtering is not possible/easy to add easily then don't bother with it, a link to the inbox will be enough :slightly_smiling:

[2019-10-06 16:19] flickz opened #2503 "Automating Bounty Program Managements."
## Idea
Automate the management of bounty program with a Github App, this will save time and allow the program to scale well.

### Some of the tasks that can be automated

- Notify contributors about new bounties added, this can be through Slack message in the engineering channel or separate channel for bounties.

- Ask bounty issue assignee update/progress of the issue daily / every 2 days. Unass

[2019-10-06 16:28] Betree commented on #2365
@JohnTitor The FAQ is to be added for the payment step in the contribution flow, in a similar fashion to what we do for the details step: https://github.com/opencollective/opencollective-frontend/blob/6a807bb7e2be3c215694ccdd74f8e7cca9b7f3db/components/contribution-flow/index.js#L746

[2019-10-06 18:26] Betree commented on #2214
This has been tackled as part of the pre-release blockers

[2019-10-06 18:26] #2214 closed

[2019-10-07 04:49] #1829 closed

[2019-10-07 04:50] #1936 closed

[2019-10-07 05:36] #2484 closed

[2019-10-07 06:24] Betree commented on #2503
That would be fun! We can probably configure that easily with Zapier.

I like to keep it human. Each issue has different requirement and posting a short message to ask for an update is not expensive.

We usually close issues right after they're merged. For the instructions, I use a GitHub "saved replies" which I can add on the issue in one click.

That'd be a good one for adding to the saved reply

[2019-10-07 07:00] Betree commented on #2459
:trophy: This issue is now completed by @jeffin143

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your invoice, please re

[2019-10-07 07:00] #2459 closed

[2019-10-07 08:37] piamancini commented on #2503
What could we improve in this area? first two seem hard to automate, etc. But improving environment set-ups and documentation for reproducing issues (like, how do I generate a gift card in staging, how do I send an email, etc) seem doable.

[2019-10-07 08:38] piamancini commented on #2503
PS: Sharing new bounties via zapier to twitter, slack, the contributors group in github is a great idea.

[2019-10-07 08:44] piamancini commented on #2499
good catch

[2019-10-07 09:40] jeffin143 commented on #2411
@Betree if you don't mind , can I take up this issue ?

[2019-10-07 10:06] #2477 closed

[2019-10-07 10:45] #1828 closed

[2019-10-07 10:49] sentry-io[bot] opened #2505 "Method 'reportValidity' is not supported on IE"
Sentry Issue: [OC-FRONTEND-5W](https://sentry.io/organizations/open-collective/issues/1245344083/?referrer=github_integration)

Created by @Betree

We get some crashes on Sign In & contribution flow forms because we use the `reportValidity` method, which is not supported on latest IE (2% of users) / Edge 12-16 (0.14%).

This method is nice because it does native HTML verification and produces loca

[2019-10-07 10:57] #2322 closed

[2019-10-07 11:06] #2349 closed

[2019-10-07 11:18] jzabala commented on #2433
Hi, after updating the message if the user refresh the page she can see the old one because of the cache in `getContributorsForCollective`. Should I invalidate de cache for that collective after update?

[2019-10-07 12:26] Betree commented on #2433
@jzabala Ah I didn't see that coming, makes sense! We have an issue related to this: https://github.com/opencollective/opencollective/issues/2494

Tell me when you need it and I'll make the necessary change.

[2019-10-07 12:34] #2272 closed

[2019-10-07 12:39] sentry-io[bot] opened #2506 "Page to create pledge is crashing"
Sentry Issue: [OC-FRONTEND-B2](https://sentry.io/organizations/open-collective/issues/1260015201/?referrer=github_integration)

Example: https://opencollective.com/linux/pledges/new

[code]

[2019-10-07 12:40] flickz commented on #2499
@piamancini So I investigated this and found out two emails were sent (gift card user and issuer), the gift card issuer was added as a backer too. is this the expected behaviour?

[2019-10-07 12:41] sentry-io[bot] opened #2507 "Crash while editing members"
Sentry Issue: [OC-FRONTEND-2A](https://sentry.io/organizations/open-collective/issues/1240821140/?referrer=github_integration)

We got 67 occurrences for this one and it still happens on a regular basis.

Seems to happen when users try to remove a member:

![image](https://user-images.githubusercontent.com/1556356/66312306-b829b380-e910-11e9-9c7b-33b46edfe60e.png)

[code]

**Steps to reproduce**

[2019-10-07 12:44] Betree commented on #2507
Probably resolved by https://github.com/opencollective/opencollective-frontend/pull/2751

[2019-10-07 12:44] #2507 closed

[2019-10-07 12:44] znarf commented on #2499
Yes, it is not the ideal behavior but this is known and expected.

[2019-10-07 12:48] flickz commented on #2499
Okay, I can close this issue then.

[2019-10-07 12:48] #2499 closed

[2019-10-07 12:51] znarf commented on #2496
@piamancini Can you edit a bit? "See error" doesn't seem to apply here. Also, there is no "Current behavior".

More generally, that should be a feature request, not a bug.

[2019-10-07 12:53] #2502 closed

[2019-10-07 12:53] znarf commented on #2500
It's finally refreshed.

[2019-10-07 12:53] #2500 closed

[2019-10-07 13:42] Betree commented on #2429
Where are we with the feedback round? @xdamman is it ready for implementation?

[2019-10-07 13:44] jzabala commented on #2494
To move the filtering to js will certainly make every request a little bit slower. Not crazy slow but slower. If all we want to do is to remove every cache related to a specific collective how about if we improve the `del` method in cache to receive a string or a regex? This way with a regex like `collective_contributors_42*` we can remove all cache entries related to that collective.

[2019-10-07 13:46] jzabala commented on #2433
@Betree yeah jejeje. I left a comment in the issue #2494

[2019-10-07 14:03] Betree commented on #2503
Absolutely. This event was great for that, it helps to see where contributors are struggling when they discover the codebase. A process that I try to follow is that whenever contributors ask for "How do I do...", I answer by writing some documentation that I'll send them.

I think we're generally doing good on these topics and hopefully it will only get better with time.

[2019-10-07 14:43] Betree commented on #2494
That's true, but we also want to paginate this endpoint in the future to add progressive loading to the contributors grid. Filtering in JS would help for that.

The strategy of caching per request signature (`collective_contributors_${collectiveId}_${limit}`) may also have an important RAM consumption and could be an easy DDOS vector: if you flood this endpoint by incrementing `limit` at each iter

[2019-10-07 15:25] jzabala commented on #2494
@Betree you are right. I didn't consider those points. But I still think this implementation is problematic.

To do the filtering we would need to load all the data in memory the first time and do the filtering in js from there. It just take a couple of collectives with a lot of data for us to have a RAM problem.

Since we are moving to progressive loading maybe a cache is not necessary any more.

[2019-10-07 15:29] jzabala commented on #2494
For issue #2433 I can just use the current cache api and remove the collective's cache. Not need to rush.

[2019-10-07 15:35] NotJohs commented on #2183
@Betree sorry for the delay.

[2019-10-07 15:45] Betree opened #2508 "Better rich text editor"
If tackled, this issue will resolve https://github.com/opencollective/opencollective/issues/2498
Also related to https://github.com/opencollective/opencollective/issues/1805

---

We're not happy with our current `HTMLEditor`, based on `react-quill`.

Here are some drawbacks that we have with it:
- The content is not formatted like the final result (WYSIWYG). That's a real blocker.
- There's a gli

[2019-10-07 15:50] Betree commented on #2498
@piamancini The editor that we've selected with the design team as the best candidate so far to replace the one we have is https://yabwe.github.io/medium-editor/ (you can try a live demo from the website).

It has a great UX experience, but no support for changing text color (though it would possible to achieve with some more development).

Would you say that text color picking is a required/impor

[2019-10-07 16:12] maddhruv commented on #1845
Closing!
As discussion for the `GitHub Permissions` still continues at https://github.com/opencollective/opencollective/issues/1034

[2019-10-07 16:12] #1845 closed

[2019-10-07 17:09] someofthethings commented on #2451
I thought according to the new bounty guidelines here: https://blog.opencollective.com/scaling-up-our-bounty-program/ the minimum is now $100?

[2019-10-07 17:12] piamancini commented on #2496
@znarf I think you could delete events before, that's why I'm considering it a bug. - Happy to edit if this wasn't the case.

[2019-10-07 17:15] someofthethings commented on #1832
Sorry to be a bit curveball on this an think it terms of general industry experience and not your repo, but basic question: what is styled-icons giving you? Could I just write it myself with a lot less code?

[2019-10-07 17:20] someofthethings commented on #1819
For $100 I must ask the question: is these any evidence Google are blocking this themselves? If so $100 doesn't seem worth it, if that's that it's worth to your collective.

[2019-10-07 17:22] someofthethings commented on #1786
Seems very simple but javierbyte should work on this in preference as he was assigned before me

[2019-10-07 17:22] someofthethings commented on #1773
Current guidelines state: https://blog.opencollective.com/scaling-up-our-bounty-program/ $100 minimum

[2019-10-07 17:23] someofthethings commented on #2508
This seems a complex issue. Is it covered by your bounty program?

[2019-10-07 17:24] someofthethings commented on #2506
If this is a priority, shouldn't it have a bounty?

[2019-10-07 17:25] someofthethings commented on #2505
Is this really a huge problem? More large companies are moving away from IE support.

[2019-10-07 17:26] someofthethings commented on #2503
Could you be competing for HackerOne territory soon?

[2019-10-07 17:29] someofthethings commented on #2486
This looks pretty basic. Any chance of an assignment?

[2019-10-07 17:32] someofthethings commented on #2498
I've seen this before with Angular. It seems to be part of some underlying HTML behavior.

[2019-10-07 17:34] someofthethings commented on #2496
Please post error here so I know if I can fix it. Navigating GUIs is time consuming and I prefer to fix based on source info.

[2019-10-07 17:37] Betree commented on #2505
@someofthethings We don't want to invest too much in it, but this one is an easy fix and it concerns a critical part of the website (the contribution flow). 2% of the browsers is a non negligible audience for collectives.

[2019-10-07 17:38] Betree commented on #2508
@someofthethings It's not, bounty issues have the `bounty` label attached.

[2019-10-07 17:39] Betree commented on #2503
@someofthethings No, this is an internal program for Open Collective that we manage through GitHub. This issue is not about a bug bounty (security) program.

[2019-10-07 17:42] Betree commented on #1832
@someofthethings `styled-icons` wrap multiple icons libraries and bundle them in react-components so we don't have to import them all. We're pretty happy with it and don't want to maintain such feature ourselves.

[2019-10-07 18:07] someofthethings commented on #2508
I won't be paying attention to this one then

[2019-10-07 18:11] Betree commented on #2483
@themightychris I've started an experiment in https://github.com/opencollective/opencollective-frontend/pull/2775 to bundle the goals progress bar (that we had before) as a section of the new collective page. There's some design enhancements to do, but I think that we can make it work. Could you look at https://opencollective-frontend-gmoyxfkyea.now.sh/webpack/v2 to provide some feedback about how

[2019-10-07 18:16] themightychris commented on #2483
@Betree this looks great! The placement within the new design is perfect and the responsiveness works well enough (seems identical to what it did before). This launching as-is would solve for most of my needs.

[2019-10-07 18:45] Betree commented on #2483
Great to hear! I'll add the option in the collective settings to enable it (this will be opt-in) and I'll do some polish to make it look better for a release in the coming week.

[2019-10-07 18:52] themightychris commented on #2483
@Betree I can't wait to fire it up, thanks! Happy to take it for the first spin before it's ready for wide release if you can feature flag `code-for-philly`

[2019-10-07 20:21] flickz commented on #2324
Closed in https://github.com/opencollective/opencollective-frontend/pull/2724 & https://github.com/opencollective/opencollective-api/pull/2652

[2019-10-07 20:21] #2324 closed

[2019-10-07 20:22] Memo-Es commented on #2483
@Betree Please tell me if you need anything from design

[2019-10-07 20:42] IzzySoft commented on #1429
I guess the stale bot will come by this some more times, unfortunately…

[2019-10-08 06:58] EugeneHlushko commented on #1727
@Betree @znarf can you confirm this is still valid and i can pick it up? Maybe assign at me so its transparent :)

[2019-10-08 07:14] Betree commented on #2506
Our bounty system is meant for backlog issues. We usually tackle priorities internally

[2019-10-08 07:28] xdamman commented on #2429
Ready for implementation.

The only thing as we discussed last call is to keep “Create user” and not “send invitation” because when you add funds or submit an expense on behalf of a user, you don’t want to wait for the user to accept the invitation to be able to record it.

However, we should record somewhere that the user hasn’t confirmed their account and hasn’t accepted the terms of service (TO

[2019-10-08 07:41] piamancini commented on #2429
@xdamman are you ok with the icons of organization, collective and user to be implemented like that?

[2019-10-08 07:49] piamancini commented on #2483
@Betree Thank you for taking this! I am looking at https://opencollective-frontend-gmoyxfkyea.now.sh/webpack/v2 and two suggestions:

- background is super big, I would make the black space smaller. At least in my screen size.

<img width="1280" alt="Screen Shot 2019-10-08 at 9 48 11 AM" src="https://user-images.githubusercontent.com/3671070/66376850-c7f8d480-e9b0-11e9-9d42-2cc334523d27.png">

- @

[2019-10-08 09:10] jeffin143 commented on #2505
@Betree , is the following code a legit fix for the bug ?

[code]

if yes I will open a PR
Thanks

[2019-10-08 09:18] kof opened #2509 "Logos and header images are wrong in contribution list cards"
**Describe the bug**
I see in a users contributions list cards 2 projects, JSS and styled-components and they have somehow exchanged the logo and header image. JSS card has styled-components logo and header image and vise-versa, see the screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/thomas-gorny

**Screenshots**
If applicable, add screenshots to h

[2019-10-08 09:36] #2397 closed

[2019-10-08 09:48] #1268 closed

[2019-10-08 10:10] sbinlondon commented on #2192
@znarf do you want to assign this issue to me or is it ok to just reference it in my PR?

[2019-10-08 10:28] znarf commented on #2192
@sbinlondon you are assigned now.

[2019-10-08 10:48] sbinlondon commented on #2392
@znarf Would you still like me to look at this alongside the sign-in link issue, or would you prefer to discuss the other one first?

[2019-10-08 10:55] somtud opened #2510 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/applications while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 9; SM-N950F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.92 Mobile Safari/537.36`

# Technical details

[code

[2019-10-08 11:32] flickz commented on #2018
@Betree I'm trying to test this out but I'm unable to sign into the paypal sandbox account, do I need to create my own account separately?

[2019-10-08 11:48] znarf commented on #2392
@sbinlondon it's best to focus on one issue at a time.

[2019-10-08 12:44] Betree commented on #2505
It would work, but creating a DOM `input` node to check that is not optimal. The following snippet would produce the same result:

[code]

[2019-10-08 14:36] #2354 closed

[2019-10-08 14:41] #1912 closed

[2019-10-08 15:00] NotJohs commented on #2183
@Betree need a sort out my thought process a little, so basically it would sort by the `settings.collectivePage.tiersOrder` but before the `tiresOrder` is present it would use the default.

[2019-10-08 15:25] deepu105 opened #2511 "Show contributors grouped by Tier"
## User story
As collective admin, I can visualize contributors better

## Best solution for this problem
Instead of showing all contributors together, show them grouped by tier

[2019-10-08 15:38] Betree commented on #2183
@NotJohs Correct. No need to sort if there's no `settings.collectivePage.tiersOrder` yet

[2019-10-08 15:46] Betree commented on #2498
@piamancini The new editor implemented in https://github.com/opencollective/opencollective-frontend/pull/2782 (PR includes a preview GIF) doesn't support it.

[2019-10-08 15:53] znarf commented on #1727
@EugeneHlushko you are assigned

[2019-10-08 15:56] piamancini commented on #2511
hi @deepu105! Thanks for raising this.

The challenge is that we don't limit the number of tiers so it can get potentially bloated with filters. But we can consider it for an enhancement of NCP.

I know it's not ideal, but if you click on the Red More on the tier, you go to your standalone tier page: https://opencollective.com/generator-jhipster/contribute/backer-2595 And you'll have the financial

[2019-10-08 16:02] NotJohs commented on #2183
@Betree Alright

[2019-10-08 16:02] deepu105 commented on #2511
Hi Pia, Thanks, I have seen this view it's good for me personally, I just thought it might look nicer on the front page as well. But I understand your concern, maybe a filter alongside the below could be an option as well.

![image](https://user-images.githubusercontent.com/1107223/66412382-b38afb00-e9f5-11e9-9aca-4e35a5b8f47b.png)

Anyway, I didn't think of the too many tier issue, so feel free t

[2019-10-08 18:06] Betree commented on #2493
Thanks for reporting and fixing this issue @anshumanv you did great :+1:

[2019-10-08 18:06] #2493 closed

[2019-10-08 18:34] someofthethings commented on #2503
@Betree next time I will be sure to place appropriate emojis on my jokes 🚀

[2019-10-08 18:35] someofthethings commented on #1773
@znarf thanks for the clarification snarf 🚀

[2019-10-08 18:39] someofthethings commented on #1832
@Betree ah, but people say they are pretty happy with Passport... ;)

Keep on keepin' on tho!

[2019-10-08 19:55] javierbyte commented on #1786
@znarf amazing thanks, working on it

[2019-10-09 07:26] Betree commented on #2440
Note: analytics for collectives are a requested feature (see https://github.com/opencollective/opencollective/issues/1683). If the tool that we choose provides a good API, that could greatly simplify the implementation of it.

[2019-10-09 07:38] Betree commented on #2494
Not really, all contributors for Webpack (one of the largest collectives that we have, ~1500 contributors) is somewhere around 600kb so that's not too bad. We can afford doing that for all collectives.

The contributors SQL query is really expensive. Because it needs to compute the total amount contributed for each contributor to sort them, pagination is not gonna help much. Though there are other

[2019-10-09 09:53] znarf opened #2512 "Ability to set event timezone"
## User story

When creating an event, I can't set or edit the event timezone. The property exists in the API/database and is actively used. The timezone is currently guessed from the user environment and not editable.

## Best solution for this problem

Add a timezone picker in the create and edit forms. Default to the the user timezone or collective timezone.

[2019-10-09 10:11] piamancini commented on #2512
yes!  100% also referenced https://github.com/opencollective/opencollective/issues/2159

[2019-10-09 10:17] znarf commented on #2512
@piamancini We're actually working on https://github.com/opencollective/opencollective/issues/2159. This is when testing the fix that I realized timezone was not editable.

[2019-10-09 11:47] leonardohof commented on #2512
@znarf Can I work on this?

[2019-10-09 11:56] znarf commented on #2512
@leonardohof sure

[2019-10-09 12:12] znarf commented on #2465
I just tested and I noticed it is controlled a bit later in the process.

![Screenshot 2019-10-09 at 14 11 14](https://user-images.githubusercontent.com/806/66480318-b1c94200-ea9e-11e9-92d8-d58e08fe1d3c.png)

[2019-10-09 12:15] Betree commented on #2450
:trophy: This issue is now completed by @maddhruv

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your invoice, please rea

[2019-10-09 12:15] #2450 closed

[2019-10-09 21:10] alanna commented on #1073
This will be fixed in the new expense flow

[2019-10-09 21:20] someofthethings commented on #2512
Timekeeping certainly seems a _general catalyst_ for syncronisation of mutual renumerations...

[2019-10-09 21:26] alanna commented on #2324
@flickz is this deployed in production? I don't see an unpay option.

[2019-10-09 21:33] znarf commented on #2324
@alanna we haven't deployed since monday, we'll try to do that tomorrow

[2019-10-10 00:19] alanna opened #2513 "Broken docs link(s)"
On https://opencollective.com/opensource/apply please change https://docs.opencollective.com/help/the-open-collective-way/community-guidelines to https://docs.opencollective.com/help/about/community-guidelines.

I suspect there are a few broken docs links because @contraexemplo recently did a restructure. Is there an easy way to identify and fix them all?

[2019-10-10 00:35] alanna commented on #2155
Yes, it appears to be working now.

[2019-10-10 00:35] #2155 closed

[2019-10-10 00:37] alanna commented on #2501
OK @znarf what was the answer? I can't find that message.

[2019-10-10 01:35] contraexemplo commented on #2513
@Alanna reverting the last commit. Let me see if I can do that on GitHub directly.

[2019-10-10 01:45] contraexemplo commented on #2513
I had a branch with the old SUMMARY.md on opencollective/documentation. I've just made a patch and merged it. Let me know if it's back to normal. I'm still investigating GitBook incidents...

[2019-10-10 02:24] maddhruv commented on #2496
+1 for this feature. Had trouble deleting some random events I created 😬
@znarf can you assign this to me?

[2019-10-10 08:27] flickz opened #2514 "Show graphql error stack trace in development environment"
While trying to fix https://github.com/opencollective/opencollective/issues/2488 the error message from the sever:

[code]

While this might be helpful at times but it doesn't really help in situation where you need to get the exact location of the error (I.e the line). An improvement will be to show error stack trace, as that will save unnecessary time figuring out which line of code has somethin

[2019-10-10 09:16] #2469 closed

[2019-10-10 09:17] #2508 closed

[2019-10-10 09:18] Betree commented on #2508
After testing implementations for both libraries, I made the final choice to use https://github.com/basecamp/trix for the following reasons:
- Trix provides all the features that we need out of the box
- Trix has FAR less open issues and seems overly more maintainer
- Basecamp (the company behind Trix) has a strong reputation in the dev world
- `medium-editor` required the addition of at least 3 p

[2019-10-10 09:32] znarf commented on #2496
@maddhruv yes

[2019-10-10 11:14] viest opened #2515 "Project renamed, unable to get contributors!"
### My collective:

https://opencollective.com/php-ext-xlswriter

### Github project:

https://github.com/viest/php-ext-xlswriter

### All contributors url:

https://opencollective.com/php-ext-xlswriter/members/all.json

The contributors I get are only myself, there are no other members, which is very strange.

[2019-10-10 11:39] jeffin143 commented on #2486
![Screenshot from 2019-10-10 17-07-09](https://user-images.githubusercontent.com/21286134/66565680-acdcbf00-eb80-11e9-8311-5091648cdcfc.png)

@alanna , The option is already there, or did i miss something !!

[2019-10-10 12:42] JoyLubega commented on #1915
Hey, @Betree  I am trying to push my work and It says I don't have permissions. Do I need to fork, I had just cloned.

[2019-10-10 12:51] Betree commented on #1915
Hi @JoyLubega, for your first contribution you need to fork the repository and make the PR from your fork. When your first contribution gets merged, you join the `Contributors` group and you'll be able to push directly to this repository.

[2019-10-10 13:17] Betree commented on #2483
@themightychris final version will look mostly like this:

![image](https://user-images.githubusercontent.com/1556356/66572329-0a690f80-eb71-11e9-99db-1b1035b5b609.png)

[2019-10-10 14:22] maddhruv opened #2516 "Deleted events show up in Contributions"
**Describe the bug**
Events which are deleted/don't exist show up in the contributions section for a collective.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://opencollective.com/maddhruv
2. Click on any `event` card in the contributions section
3. The page says - `Ooops, an unexpected error seems to have occurred  🤕` which is because the event actually doesn't exist anymore

[2019-10-10 14:49] znarf commented on #1828
🏆 This issue was completed by @anshumanv as part as our first Hackathon.

I retroactively added a $100 bounty on it (based on our previous complexity classification, it would have been a "minimal" in today's one). To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an

[2019-10-10 14:50] znarf commented on #2386
🏆 This issue was completed by @NotJohs as part as our first Hackathon.

I retroactively added a $100 bounty on it (based on our previous complexity classification, it would have been a "minimal" in today's one). To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Op

[2019-10-10 14:52] znarf commented on #2159
🏆 This issue was completed by @Rexben001  as part as our first Hackathon.

I retroactively added a $200 bounty on it. To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2019-10-10 15:13] #2506 closed

[2019-10-10 15:35] znarf commented on #2486
@jeffin143 it’s in edit, not in create

[2019-10-10 15:38] #2497 closed

[2019-10-10 15:39] panjf2000 opened #2517 "contributors.svg doesn't work"
Hi,
I am reporting that the contributors.svg of my GitHub repositories doesn't work, returning "Not found".

https://opencollective.com/ants/contributors.svg

https://opencollective.com/gnet/contributors.svg

[2019-10-10 16:45] jeffin143 commented on #2486
thanks @znarf , could you point me to the editeEpense form, since I went through the codebase components/expenses/* and couldn't find edit, may be you could guide me.

Thank you

Or is this the right location to add
https://github.com/opencollective/opencollective-frontend/blob/1bc17264d2cdaec4174fde0e83da07f983fec8c0/components/expenses/ExpenseDetails.js#L234-L251

[2019-10-10 17:36] richport opened #2518 "best ever"
## User story
_As <persona>, I can <what?> so that <why?>_

## Best solution for this problem
_What does the ideal solution look like?_

## MVP
_What will be built as an MVP? (Please refer to our [wiki](https://github.com/opencollective/opencollective/wiki/Feature-Spec-Template) for what's acceptable as an MVP.)_

## Metrics
_What metrics will be used to measure impact?_
I want my collecyltive bac

[2019-10-10 17:37] richport commented on #2518
look at check it out I want my collective back how do I take it back from his physical person who said they were going to help me and they haven't done shit for my site other than put it on hold and I can't do nothing with it I have people trying to give me money and I can't do anything with it because they're being greedy and they don't want to fucking clear my site so how do I go about revoking

[2019-10-10 17:41] #2518 closed

[2019-10-10 19:17] znarf commented on #2486
@jeffin143 I can confirm it's in `ExpenseDetails`

[2019-10-10 19:29] contraexemplo commented on #2513
Post mortem: https://github.com/opencollective/documentation/issues/37

[2019-10-10 19:57] maddhruv opened #2519 "expenses page makes duplicate queries for every single expense"
**Describe the bug**
The expenses page for any collective makes _n_ number of queries (network calls) for _n_ number of expenses i.e. it makes a separate query for each expense. Even when the query - `allExpenses` returns with the information required for all the expenses the page makes recursive queries `Expense` for each expenses it encounters.

**To Reproduce**
Steps to reproduce the behaviour:

[2019-10-10 20:40] ccjjmartin opened #2520 "Unexpected error when trying to submit an expense"
# Describe the bug

I got an unexpected error on https://opencollective.com/drupalatx/events/texas-camp-2019-19178ev/expenses/new while I was trying to submit an expense.

# To Reproduce

1. Go to https://opencollective.com/drupalatx/events/texas-camp-2019-19178ev
2. Click on Submit Expense
3. See error

# Device
- OS: MacOS High Sierra
- Browser: Chrome

# Technical details

[code]

[2019-10-10 20:56] NotJohs commented on #2183
@Betree
while building the `StyledDragnDropCard` which uses `useDrag` and `useDrop` hooks from `react-dnd`.
At some point, I encountered a little strange issue with the hooks:
[TypeError: Object() not a function](https://github.com/react-dropzone/react-dropzone/issues/810)
from the logs, I understood this error is a result of a change to the `react-dnd` API so  I upgraded both `react-dnd` and `rea

[2019-10-10 21:01] someofthethings commented on #2519
Tryin' to get paid twice, amiright!

[2019-10-10 21:02] someofthethings commented on #2517
Have you tried with opencollective.fun.max.important? There seems to be various limits that vary between integer, double and float.

[2019-10-10 21:03] someofthethings commented on #2520
Have you asked Alisa Shevchecko?

[2019-10-10 21:34] NotJohs commented on #2183
Tried using `babel-node -r node_modules/esm server`.

[2019-10-10 22:21] Memo-Es commented on #2483
Great @Betree this looks good 👍🏽

[2019-10-11 03:01] panjf2000 commented on #2517
@someofthethings
Sorry I don't quite get it when you said "tried with opencollective.fun.max.important", how should I try it?

[2019-10-11 06:34] Betree commented on #2517
Sorry @panjf200, `someofthethings` seems to be trolling. We'll look at your issue as soon as possible

[2019-10-11 06:57] jeffin143 commented on #2486
@znarf , I tried making apt changes, but I am not sure How to test it, Since I am not a collective admin. So possibly should I make a PR , and you will go ahead and test , or if you could let me know a way of testing it. I can handle that .

[2019-10-11 07:44] Betree commented on #2485
That's legit, we'll need an input from @opencollective/design before implementation.

Also @znarf I think that you had concerns about using the `ParentCollectiveId` for that, let me know if you want to chat about a better technical solution before we move forward with this issue.

[2019-10-11 09:03] piamancini commented on #2519
@flickz this might be useful since you are looking into this issue.

[2019-10-11 09:22] Betree commented on #2520
Hi @ccjjmartin, thanks for opening this issue. We've prioritized a fix, it's currently being deployed.

I'll update on this issue when it's ready.

[2019-10-11 09:47] Betree commented on #2519
@piamancini  this is not related to https://github.com/opencollective/opencollective/issues/2520

From my understanding, we need to refetch the data because some fields (`privateMessage` for example) are only accessible when you're logged in, if you have access to them.

However you're right that having one fetch per item is an issue. We need to migrate that code to refetch only the main query (`g

[2019-10-11 09:50] Betree commented on #2520
@ccjjmartin Fix is deployed

[2019-10-11 13:49] rugk commented on #919
this is an open poll, these bots these days… :roll_eyes:

[2019-10-11 13:55] Betree commented on #919
@rugk we've configured this bot to never close issues. For us it's only a way to notice the ones that didn't receive any activity recently so we don't forget them.

[2019-10-11 17:10] #2483 closed

[2019-10-11 17:46] #2482 closed

[2019-10-11 17:49] Betree commented on #2483
Will be deployed in the next few days. I'll update on the issue when it's live.

[2019-10-11 18:49] Memo-Es commented on #2394
This is the link to the documentation of the expense flow design:
http://bit.ly/ocd_expenseflow_docs

And the figma file that contains the wireframes:
http://bit.ly/ocd_expenseflow_wireframes

[2019-10-12 02:42] panjf2000 commented on #2517
Any update?

[2019-10-12 07:17] dinolinjob commented on #2462
Can I work on this?
If yes, where is the page exactly located?

[2019-10-12 08:46] alanna commented on #2394
@Memo-Es are you seeking feedback at this stage? For me the Figma is "view only" so I can't leave comments there. Should I wait until our next meeting?

[2019-10-12 13:30] gustavlrsn commented on #1384
Just leaving a note here that I'm starting to work on this!

[2019-10-12 15:12] Memo-Es commented on #2394
@alanna I linked where we are keeping our internal documentation.
We prefer to handle feedback here or inside the paper doc. Anyway, yes, the next step was scheduling a call with you to take a look at it and then talking with the dev team. Let's plan the meeting via Slack, ok?

[2019-10-12 21:23] jeffin143 commented on #2486
I am working on this , I have almost done it , but for some odd reasons I am not able to get the expense from createexpense form , can I open a WIP pr, and then you may help ma a liltle bit
Thanks :)

[2019-10-13 09:05] alanna commented on #2092
Got another user request for this today. To me it seems really simple to add a reject button on the email and in the pending Collectives list that notifies the submitter and removes and connection between that Collective and the host. Could this be a bounty?

[2019-10-13 11:54] panjf2000 commented on #2517
@Betree
Is anyone working on this issue?

[2019-10-13 19:36] mixmix commented on #2159
awesome work @Rexben001 !

---

@znarf it'd be great for bug reporters to get some thanks / acknowledgement. I took 5-10 mins out of my time to try and clearly outline this problem. I don't need money, I hope to benefit from this, but a high-five, and a cute emoji would co a long way e.g.

Emoji's are a really light-weight way convey playfulness and feelings without having to write heaps. This mak

[2019-10-13 20:49] znarf commented on #2517
@panjf2000 It can take some time to be populated. We need to revamp that script so it performs better. https://github.com/opencollective/opencollective-api/tree/master/cron/daily

[2019-10-13 20:50] #2517 closed

[2019-10-13 21:02] znarf commented on #2159
@mixmix  thank you, you're absolutely right, we never thank enough the bug reporters. 🍍❤️

Fyi, we're still working on it as I realized we should let events creators set/edit the timezone https://github.com/opencollective/opencollective/issues/2512

[2019-10-13 21:21] mixmix commented on #2159
# :tropical_fish: :heart:

[2019-10-13 21:56] alanna opened #2521 "Do not show expenses requiring tax form in 'ready to pay'"
## User story
As a host admin, I want 'ready to pay' to show only expenses that are actually able to be paid now, so I can easily see if I've completed all the transactions needed.

## Best solution for this problem
Hide expenses pending tax forms from the 'ready to pay' dashboard filter.

![Screen Shot 2019-10-14 at 10 55 18 AM](https://user-images.githubusercontent.com/5498878/66723057-2fab9580-

[2019-10-13 23:04] alanna opened #2522 "Accepting financial contributions in Bitcoin"
I've been exploring options to enable the Open Source Collective to accept financial contributions to Collectives via Bitcoin. I signed up with [Bitpay](https://bitpay.com) and we've been approved for a merchant account.

The Open Collective team isn't able to prioritise a bunch of dev in this area right now, so what I'm trying to figure out is if there is a lightweight way to do some initial expe

[2019-10-13 23:24] alanna opened #2523 "Edit button overlapping text in About section on Collective page"
![Screen Shot 2019-10-14 at 12 22 33 PM](https://user-images.githubusercontent.com/5498878/66724067-7ef7c300-ee7d-11e9-8957-f993b80704f0.png)

[2019-10-14 05:23] dinolinjob commented on #2523
Take it..

[2019-10-14 05:27] dinolinjob commented on #2523
Can I work on this? @alanna

[2019-10-14 07:52] Betree commented on #2523
Hi @dinolinjob, feel free to do so :slightly_smiling_face:

Please not that we don't want to change the styles for the other inline editable fields (in most cases we do want this icon to overlap the content, because when the icon is smaller than the text it doesn't hide anything). The problem here is that the icon can eventually hide characters for collective admins.

So the proper fix would be to

[2019-10-14 08:01] flickz commented on #2515
@viest Can you provide more information regarding this issue?

[2019-10-14 09:34] flickz opened #2616 "Add ability to select / unselect dependencies for BackMyStack"
In addition to opencollective/backyourstack#184 we need ability for user to select / unselect dependencies available for dispatch with BackMyStack monthly plan.

 ### Design

<img width="610" alt="Screenshot 2019-10-14 at 10 33 19 AM" src="https://user-images.githubusercontent.com/15707013/66741722-0c331b80-ee6e-11e9-91cc-72ca4edbe5e8.png">

[2019-10-14 09:40] viest commented on #2515
I created a group after modifying the git repository name.

Old git repository name: https://github.com/viest/php-ext-excel-export

[2019-10-14 09:53] Betree commented on #2299
@NotJohs any update on this one? Can we help?

[2019-10-14 09:58] Betree commented on #2448
Crash fixed in https://github.com/opencollective/opencollective-frontend/pull/2709
Message fixed in https://github.com/opencollective/opencollective-frontend/pull/2643
Missing Edit button fixed in https://github.com/opencollective/opencollective-frontend/pull/2647

[2019-10-14 09:58] #2448 closed

[2019-10-14 10:02] Betree commented on #1732
Let's not do this one at the moment. We'll consider it while revamping the expense flow.

[2019-10-14 11:22] Betree opened #2524 "Event: content is overlapping footer"
See: https://opencollective.com/socially/events/launch-179ec824

![image](https://user-images.githubusercontent.com/1556356/66747757-93d85480-ee85-11e9-832e-35c711353237.png)

[2019-10-14 12:17] NotJohs commented on #2299
@Betree Yes. I have everything in place to do the validation but the only problem is notification.

[2019-10-14 12:23] Betree commented on #2299
@NotJohs It's fine to throw an error. Message needs to be explicit, for example:

[2019-10-14 12:44] NotJohs commented on #2299
@Betree Alright

[2019-10-14 13:20] Betree commented on #2183
@NotJohs There seems to be a conflict with `materialize-ui`, I'll check ASAP.

[2019-10-14 13:31] NotJohs commented on #2183
@Betree Got this mail.
<img width="530" alt="Screenshot 2019-10-14 at 2 28 49 PM" src="https://user-images.githubusercontent.com/29008971/66754989-0a2d8480-ee8f-11e9-8ab2-d6e9a949b8b2.png">
[CVE-2019-15138](https://nvd.nist.gov/vuln/detail/CVE-2019-15138)

[2019-10-14 13:46] Betree commented on #2183
@NotJohs Yes, it's not related to this issue. We are aware of this one.

[2019-10-14 13:51] NotJohs commented on #2183
Okay.

[2019-10-14 14:43] Betree commented on #2411
Resolve by @jeffin143 in https://github.com/opencollective/opencollective-api/pull/2706 :rocket:

[2019-10-14 14:43] #2411 closed

[2019-10-14 15:30] Betree commented on #2483
Deployed!

[2019-10-14 15:50] jzabala commented on #2494
yeah, it is not that bad.

Cool. Let's go for it then :D.

I am close to summit the PR so, I am removing the main cache as you proposed. I left a comment there so that we can check it after this one is finished.

[2019-10-14 17:10] Betree commented on #2494
@jzabala perfect, I'll follow up on that quickly after your PR.

[2019-10-14 17:12] xdamman commented on #2223
I wonder if we could start with renaming the table `Updates` to `Conversations` and allow anyone to create one. And following the existing design pattern of filtering a list by tag, we could filter conversation from "Core Contributors" or "All conversations" (Updates are today effectively conversations started by the core contributors). Later we could introduce the concept of tags for conversation

[2019-10-14 18:09] EugeneHlushko commented on #1727
Hi @znarf
Thank you, had time to start working on it, requested early feedback to get up-to-date TODO list to complete the PR.

[2019-10-14 21:18] alanna commented on #2522
Sigh. Bitpay has now closed our account after looking more closely at what we do. Seems like we can't get a crypto merchant account anywhere (we also tried with other providers previously), so we can't offer this service to Collectives. Hopefully we can find a way in the future.

[2019-10-14 23:02] alanna opened #2525 "Need to manually add funds to event"
## User story
As a fiscal host admin, I need to be able to attribute sponsorship funds received outside the platform to a specific event. The current manually add funds interface only allows you to select Collectives. ([Support ticket example](https://opencollective.freshdesk.com/a/tickets/2284)). Often sponsors are sponsoring a specific event not the hosting Collective.

## Best solution for this

[2019-10-14 23:03] alanna commented on #2081
Another reason events shouldn't be seperate Collectives: we can't manually add funds to them as a host admin. Instead they should be treated as tiers, and host admins should be able to manually add funds to a tier.

[2019-10-14 23:15] xdamman commented on #2081
Using tier goals for https://opencollective.com/Xr-Belgium, we now have the opposite problem. We actually want to file expenses and link them to that tier and we want to know how much is left of that money we raised. This would have been much easier if a tier was actually a sub collective like an event is. Also given that this fundraising tier was initiated by the Food Working Group, I’d have love

[2019-10-15 08:39] alanna commented on #1674
Has there been any progress about this @Betree ? It would be super useful for making sure we are updating documentation as new features are released.

[2019-10-15 09:51] Betree commented on #1674
@alanna Not yet, I'd love to see that too but I don't have the bandwidth to lead / work on this project right now. It's also hard to put a bounty on it because the specs are not very clear.

[2019-10-15 11:52] dinolinjob commented on #2523
@Betree Changing the value of top={-5} to top={-18} prevents overlapping. How can I change the value of top to top={-18} for about section? Is there a way to do styling such that top value alone changes?

[2019-10-15 11:54] Betree commented on #2523
@dinolinjob Yes. You need to add new props in `InlineEditField` so that it can be customized from the parent (the parent here is the about section).

[2019-10-15 12:14] flickz commented on #1674
From my previous attempt to solve this, we should be able to build custom solution that suit our needs, especially to enhance newsletter.

This hasn't really been a priority hence no progress. It should be an interesting weekend hack, I'll try to look into it again this weekend and explore new tools available.

[2019-10-15 13:12] nmaxcom commented on #2228
I'm despondent there's not enough interest to make a fundraising site, a fundraising site. Especially because of the recipients.

You've left to one side the open source community. I hope someone, hopefully soon, takes this seriously.

[2019-10-15 14:30] xdamman commented on #2223
After talking to Ben and thinking more about it, I’d propose to have two separate sections on the collective page that can be each turned on/off for each collective (like the global goals, events sections): one section for updates and one section for conversations.
From Ben’s perspective it’s not that complicated to merge the two sections.
From my perspective I’d like to keep things separated so t

[2019-10-15 17:19] piamancini commented on #2223
Great progress!
What's the rationale for having two separate sections? it seems to me that updates is just a pinned conversation and only admins can pin/unpin it. Pretty much like a twitter pinned tweet. You can only have one item pinned at a time so it'd be the latest update. I think simplicity should be something we try to do more of.

[2019-10-15 18:58] xdamman commented on #2223
I think it’s confusing to mix the two.
Especially if at a later stage we gonna introduce the concept of pinned conversations.

I’d like to keep both separated like on a facebook page.
You can publish posts on your page and you can participate in conversations in the facebook group associated to your page. But there is a clear distinction.
Same on telegram where you have the concept of a broadcast

[2019-10-15 21:29] alanna commented on #1674
@contraexemplo do you know of any good way to easily track changes in the app so we can also check that the docs have been updated? We've talked for a long time about needing a real changelog but have not had capacity for it. What do other projects to to achieve this in an easy and semi-automated way?

[2019-10-15 21:43] nemchik commented on #2228
FWIW I think the redesigned collective pages do take some significant steps toward resolving what I understood to be the core of this issue: "It's hard to figure out how to donate because the page is very busy and the donate button is kind of small". The v2 redesign makes the `Become a contributor` section a significant call to action and reworks custom donations to be more prominent and make sens

[2019-10-15 21:47] nemchik commented on #2445
Just to reiterate my point from #2228 I feel like the v2 interface is a great improvement and does an awesome job with making `Become a contributor` a call-to-action.

Thanks for the hard work on v2!

[2019-10-15 22:16] alanna opened #2526 "GraphQL error when updating bank transfer details"
I tried to use the new 'add wire transfer details' feature, and saw there was already info in there for Open Source Collective. I made some small edits and clicked "save" but got the error `GraphQL error: Parent collective with id 17403 not found`.

![Screen Shot 2019-10-16 at 11 14 38 AM](https://user-images.githubusercontent.com/5498878/66873989-5b13b900-f006-11e9-9b9c-7263968ee88f.png)

[2019-10-15 22:18] alanna commented on #2526
Same thing when I tried to update the details for Foundation: `GraphQL error: Parent collective with id 17403 not found`

[2019-10-16 00:39] nmaxcom commented on #2228
@Betree You are right about my attitude and the negative effect it can have on individuals.

There's two things to say about that: I'm behind a few projects myself, solo and with partners, and I'm hard on myself which is the main reason I've accomplished more than one would think. I personally welcome any kind of constructive criticism, rude or not. The "rudeness" of people outside my inner circle

[2019-10-16 07:52] jeffin143 commented on #2524
https://opencollective.com/codenplay/events/formation-gratuite-pour-enseignants-10559ev

Why do other  collective page as expected and only socially/events/launch is not working as expected ?

[2019-10-16 08:11] Betree commented on #1482
Another related issue that would be solved by this (from https://opencollective.freshdesk.com/a/tickets/2301)

When contributors make their first contributions to collectives, we create a new `Member` entry and send an email to notify the collective. When existing contributors join other tiers, we still send emails.

Example: If I join Babel's "Bronze Sponsor" + "Gold Sponsor" tiers, they'll recei

[2019-10-16 08:17] Betree commented on #2524
@jeffin143 That's a good question :-) I didn't investigate, but one difference is that this one doesn't have a map. Maybe the layout is broken only when there's no map displayed.

[2019-10-16 10:58] josesimoes opened #2527 "Missing field in Zapier integration"
**Describe the bug**
It seems that the field `Data Order Total Amount` is empty on Zapier integration.

**To Reproduce**
Steps to reproduce the behaviour:
This is the setup I have in Zapier:

![image](https://user-images.githubusercontent.com/1881520/66912854-4f76c100-f00b-11e9-9cc1-1d51f86aa6c5.png)

This is a real message in our Discord channel:
![image](https://user-images.githubusercontent.com

[2019-10-16 11:40] xdamman commented on #2525
I discussed this with @Betree. We could use the newly developed Collective Picker in the « Add Funds » form and allow for the selection of collectives of type « EVENT ».

[2019-10-16 12:22] xdamman opened #2528 "Don't require to connect a Stripe account to become a host"
Since we just introduced the ability for a host to accept donations manually by bank transfer (see https://github.com/opencollective/opencollective-frontend/pull/2757), having a stripe account shouldn't be a requirement to be a host on open collective anymore.

The way we compute `Collective.isHost` is correct: https://github.com/opencollective/opencollective-api/blob/02fcfff24bdd17f3cedb839c04bdd

[2019-10-16 13:03] jeffin143 commented on #2524
No, I guess that isn't the problem, https://opencollective.com/socially/events/private-beta-launching-d1d8f401#location , with map too the issue is there, I guess the issue is
` 1 Person going ` with that person name :)

I am not sure from where is that line coming,  because other event pages doesn't have that , or is there any option to enable that.

[2019-10-16 15:26] Betree commented on #2525
I can confirm that this will be resolved when we deploy the new collective picker for host dashboard (hopefully before the end of the week):

![Peek 16-10-2019 17-23](https://user-images.githubusercontent.com/1556356/66933671-b57a3d00-f039-11e9-8104-9954347513e8.gif)

[2019-10-16 15:46] dinolinjob opened #2529 "Onclick Menu icon in mobile view redirects to footer instead of menu bar elements"
**Describe the bug**
On clicking the menu icon in mobile view, it redirects to footer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go [https://opencollective.com/](https://opencollective.com/) in mobile view.
2. Click on 'Menu Icon  ☰'
3.  It gets redirected to [#footer](https://opencollective.com/#footer)

[2019-10-16 15:48] dinolinjob commented on #2529
@Betree Can I work on this?

[2019-10-16 17:01] jeffin143 commented on #2524
I found the error, and opened a PR to rectify it.

Thanks :)

[2019-10-16 21:57] flickz commented on #2018
Closed in https://github.com/opencollective/opencollective-frontend/pull/2786

[2019-10-16 21:57] #2018 closed

[2019-10-16 21:59] flickz commented on #2027
Closed in https://github.com/opencollective/opencollective-frontend/pull/2783 &  https://github.com/opencollective/opencollective-api/pull/2695

[2019-10-16 21:59] #2027 closed

[2019-10-16 22:00] flickz commented on #2133
Closed in https://github.com/opencollective/opencollective-api/pull/2737 & https://github.com/opencollective/opencollective-frontend/pull/2820

[2019-10-16 22:00] #2133 closed

[2019-10-16 22:11] alanna commented on #2525
Great!

[2019-10-17 05:37] Memo-Es commented on #2394
Hello folks,
I share with you the updates on the expense flow low-res wireframing process:

[Link to the general flow prototype (navigation)](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-XX1-Lab?node-id=852%3A30&viewport=53%2C361%2C0.157586932182312&scaling=scale-down)

[Link to the general navigation of the flow (canvas)](https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/OC.COM-X

[2019-10-17 08:17] #2525 closed

[2019-10-17 08:44] Betree commented on #2394
We haven't wrote any specs for this feature yet.

We could, tho I think that saving an expense as a template should be an opt-in. For example I don't need to save my train ticket to Madrid expense as a template. This is mostly useful for recurring expenses.

This will depend on what's designed, but it will probably be stored server-side in the user or collective settings.

We need a component to p