[2021-08-04 14:39] znarf commented on #4523
@SudharakaP @kewitz can you collaborate on this? Seems like a priority.

[2021-08-04 14:48] SudharakaP commented on #4516
My thinking is we can use the @znarf's suggestion and use the same Bank transfer page with some minor tweaking. This way we have consistent design for all success pages within the contribution flow unless of course there's any other specific reason to use a different success page for crypto which I am okay with as well. It looks like this currently.

![image](https://user-images.githubusercontent.

[2021-08-04 14:56] BenJam commented on #4509
Update: I'm signed up to do an introductory talk at 4.30 UTC on Saturday 21st Aug.

## Request
If folks from @opencollective/americas or @opencollective/apac are up for spending 30 minutes on Saturday 21st Aug for folks who may drop into our 'booth' for support please add your name below (and please take some time off the following week to compensate). All times in UTC:

- 3-3.30am
- 4.30-5am
- 9-

[2021-08-04 15:00] znarf commented on #4516
I don't see why that's needed, it's the same for Manual Bank Transfers and no one ever complained about this.

[2021-08-04 15:18] SudharakaP commented on #4516
ah, interesting. Okay we can leave it for now. I was just thinking this cause to me it didn't make sense to let the user post messages before a transaction is fully reconciled.

What I thought was that when the user donates crypto they should receive an confirmation from their wallet service provider. This is why I added it there. Also after the API side is done and we receive the webhook event fo

[2021-08-04 15:23] SudharakaP commented on #3981
@BenJam : Yes, if you are referring to Alanna's comment;

I think we have some support for this at, https://github.com/opencollective/opencollective/issues/4468 to improve the fund transfers between events/projects but not specifically this issue. My understanding is this issue is to tackle transferring the funds on an expense to expense basis. This for this one, I think we need to wait for design

[2021-08-04 15:27] natehn commented on #4509
I can do 8:30-9pm

[2021-08-04 16:14] SudharakaP commented on #4523
@kewitz : I think this is probably due to;

https://github.com/opencollective/opencollective-frontend/blob/64b442b9fd233fb743442d9ddf1fa5ef5488cd26/components/edit-collective/sections/BankTransfer.js#L207

where we assume that the `opencollective-host` (or whatever pointed to by the above env variable) has transfer-wise configured and then use that token which is not the case I think in staging an

[2021-08-04 17:24] akashgp09 commented on #4519
@znarf I think at the moment I don't have much idea of the codebase. Moreover, I have some other works to do this week.
I am unassigning myself from the issue so that other interested folks can look into it.

Meanwhile, I will continue working with some simpler tasks to get familiar with the codebase :)

[2021-08-04 18:26] Memo-Es commented on #4509
I can do 3-3:30 am or 7-7:30. pm

[2021-08-04 20:40] SudharakaP opened #4524 "Get Rid of Moment.js on the API"
We already replaced `moment.js` with `day.js` on the front-end mostly except we keep it in `package.json` as it's used by `react-datetime` (https://github.com/opencollective/opencollective/issues/3761).

I think we need to do the same for the API layer. Some of the reasons for getting rid of `moment.js` involve,

- It's not actively developed anymore and the docs suggest for new development to use

[2021-08-04 21:35] alanna commented on #4510
Ahhhh yes this was the problem. I was hovering on the amount. Can we make it appear for the amount as well? This was tripping up the user, too.

[2021-08-04 21:40] alanna opened #4525 "Decimal missing on platform settlement CSV amounts"
I downloaded a platform settlement attached CSV and the amounts are showing in cents. This is confusing because it lists `100000 USD` which heavily implies it's $100,000 not $1,000 like it actually is. Can this column be multiplied by 0.01 so it displays correctly?

<img width="854" alt="Screen Shot 2021-08-05 at 9 38 46 AM" src="https://user-images.githubusercontent.com/5498878/128258733-b71888af

[2021-08-04 21:50] alanna commented on #4360
This was not what I suggested. I suggested that money going to Events and Projects passes *through* the parent. So it would look like:

* User contributes $50 to Project
* $50 is credited to Parent
* $50 is immediately debited from Parent and credited to Project
* End results is $0 in Parent balance, $50 in Project balance
* But the funds are acknowledged in the parent's stats of total raised and

[2021-08-04 21:51] #4364 closed

[2021-08-05 01:03] akashgp09 commented on #4510
Year sure, I will open a PR for it :)

[2021-08-05 09:47] znarf commented on #4521
Would be great to have an example indeed.

[2021-08-05 09:51] znarf commented on #4368
I just noticed we have many PayPal Orders that are inserted twice in the Ledger. I fixed entries for August but we'll need to dig in the past.

[2021-08-05 18:04] SudharakaP opened #4526 "Add Support for Manual Validation of Crypto Donations through the Dashboard"
Depends on https://github.com/opencollective/opencollective/issues/4516

We need to add Crypto donations show up in the host dashboard and the hosts should be able to manually validate the orders.

My thinking is the flow should be as follows;

- [x] The contribution should show up in the `Financial Contributions` section of the dashboard with the payment method type as `Crypto`

- [x] The host ad

[2021-08-05 18:56] kaylarep commented on #4509
@Memo-Es I can do whichever of these two times you dont prefer

[2021-08-05 20:13] SudharakaP opened #4527 "Add Support to Automatically Reconcile the Crypto Transactions using the Giving Block Webhook"
We need to reconcile the Crypto transactions when we receive web-hook events from the giving block. Here are the things that needs to be done on this regard. Feel free to let me know if there's anything I've missed. 😃

- [x] When the webhook event is received, mark the transaction for that particular order as completed (from pending status).
- [x]  Send an email to the user that the transaction is

[2021-08-05 21:23] alanna commented on #3081
BUMP - based on the recent [host call](https://hackmd.io/@kaylarep/SyWa0CB1F) this is important to multiple hosts.

[2021-08-05 21:25] alanna commented on #3593
Bumping this issue and making it more broad. OCF requires two admins per Collective and we spend a lot of time chasing this up manually. Other hosts [report a similar need](https://hackmd.io/@kaylarep/SyWa0CB1F). It's also very central to our philosophy that OC is for *communities* so having a BDFL individual as the only admin is not aligned.

[2021-08-05 23:17] SudharakaP opened #4528 "Add Customized FAQ Section for Crypto Contribution Flow"
In our contribution flow we have the following FAQ;

![image](https://user-images.githubusercontent.com/12435965/128429201-16c91a22-4190-4d2c-8d43-2a79129edb1d.png)

This assumes that we are using Stripe among other things. We need to customize this for the crypto contribution flow as otherwise it seems out of place. I suggest the following.

- [x] Replace, `Is my contribution secure?` section wit

[2021-08-06 06:21] znarf opened #4529 "Unreliable Collective report job"
On the 1st of the month, we're normally sending the Collective report. Currently trying to generate for more than 6500 Collectives.

This month, the job stopped after 3 hours and 30 minutes (Heroku limit?) after only processing 773 Collectives (according to the logs).

[2021-08-06 06:35] znarf opened #4530 "Thank You email should be sent to ALL admins and accountants"
We're surprisingly only sending the Thank You email to the person who setup a recurring contribution (`order.createdByUser`).

Generally, and especially for Organizations, we should send an email to all ADMINs using our standard mechanism.

We should also include ACCOUNTANTs because they're the one usually needing the attached receipt.

[2021-08-06 06:54] znarf opened #4531 "MembersInvitations query In GraphQL v2 should return a collection"
The recently introduced MembersInvitations query is not implemented using as a collection.

As a result, we still have to use this ugly pattern in the Frontend to count the number of invitations:

[code]

[code]

With a collection it would be more elegant:

[code]

[2021-08-06 08:16] alanna commented on #3689
Just bumping this up again. It's causing an issue for Gift Collective host, since the legal name of the fundholder is different. When we claim tax refunds the invoices must be made out to the taxable legal entity. We need this for so many reasons.

[2021-08-06 08:48] alanna opened #4532 "Handle local tax on invoice expenses"
## User story
As an expense submitter who must charge and clearly mark GST/VAT/sales tax on invoices, I need a way to indicate the tax portion of what I am charging via an expense on Open Collective.

As a host admin, I must keep accounting records of the tax portion paid out to vendors/contractors, and need that separated out in the data I get from Open Collective.

## Best solution for this prob

[2021-08-06 20:31] SudharakaP commented on #4527
We've done the part of this at https://github.com/opencollective/opencollective/issues/4527. (Thanks @znarf). According to our discussion it seems that we are not receiving the `transaction converted` event; https://app.gitbook.com/@the-giving-block/s/public-api-documentation/endpoints-documentation#event-transaction-converted. Until this is clarified with the Giving Block I think we are stuck on

[2021-08-06 20:51] SudharakaP commented on #4528
Since this is a minor change, I've added this to https://github.com/opencollective/opencollective-frontend/pull/6725 as well. 😃

[2021-08-06 21:35] SudharakaP opened #4534 "Investigate and Test the Use of the QR Code with Different Crypto Currencies Across Apps"
It was noted in the standup today that we have to test the QR Code that is generated for the crypto contribution flow with different Crypto currencies and crypto currency exchange clients to make sure that the QR code that we generate is actually usable and works.

For this I have compiled a list of the popular exchange clients;

- [x] [Binance](https://www.binance.com/en)
- [x] [CoinBase Wallet](

[2021-08-06 23:51] alanna opened #4535 "Duplicate buttons on Conversations page"
<img width="1073" alt="Screen Shot 2021-08-07 at 11 50 33 AM" src="https://user-images.githubusercontent.com/5498878/128580706-e9ffb312-86e9-477a-ad5e-889d480ca7c4.png">

[2021-08-07 02:55] SudharakaP commented on #4535
Thanks for reporting @alanna . 😄 I think we need to not show the `Create a Conversation` button when there's no conversations rather only the `Start a new conversation` button. I'll do a PR soon.

[2021-08-07 08:22] znarf opened #4536 "Expense submitted to self Collective should be refundable."
Related to the fact that there is no CREDIT inserted in this case, only a DEBIT.

[2021-08-07 08:24] znarf commented on #4527
For a prototype, we can rely on the the `DEPOSIT_TRANSACTION` event but that definitely can't be considered as a final version.

[2021-08-08 21:39] alanna commented on #4360
@znarf @BenJam what do you think of my suggestion above?

[2021-08-09 12:34] BenJam commented on #4509
thank you all, I'll make sure that we're on and that you'd got some guidance to work from.

[2021-08-09 12:58] BenJam opened #4537 "[PROJECT] Add GDPR consents and notices"
## TLDR
We are unsure that our current communications and data sharing preferences meet the standards needed. In order to ensure that we have the necessary consents we should add explicit consents and notices at appropriate points.

## Guidance

Using the Information Comissioners Office (a UK body who created this guidance while a member of the EU, following EU legislation) https://ico.org.uk/for-

[2021-08-09 14:17] SudharakaP commented on #4537
Maybe this is a bigger issue, but I feel as part of this we should also indicate (or give DIY options) on how they could opt out of these notifications. 😉

[2021-08-09 14:38] JoshuaDeskins6 commented on #4536
L

[2021-08-09 19:09] SudharakaP commented on #4534
A small update on this, it seems that Kraken doesn't allow the QR code scanning so I have removed it from the list. 🤔 I wanted to test Binance, but it doesn't let me test with my bank account saying it's not a supported bank. Maybe @znarf can we somehow work together to test with Binance? 🤔

[2021-08-09 20:09] #4484 closed

[2021-08-09 21:22] leonardohofling commented on #4519
@znarf is it available? Can I work on it?

[2021-08-10 02:33] alinamanko opened #4540 "Support Metrics Report July 2021"
### Support Metrics Report July 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/128799167-11094791-2ef4-47d5-95a6-cb7fdc121fc3.png)

The number of tickets received increased by 11% from 1,452 in June to 1,610 in July

[2021-08-10 03:45] alanna commented on #4540
Thank you @alinamanko ! Is there anything that stands out to you in terms of improvements (to the software or our processes) that would save support time or make things easier?

[2021-08-10 04:00] alinamanko commented on #4540
One thing Ember and I talked about yesterday is consolidating the tags used as right now we have a lot of new ones created lately and it would make the reporting more meaningful once the information is properly grouped.

I also am thinking about how we could perhaps have an easy process around flagging any critical topics in one spot. With more people looking at tickets it means having the report

[2021-08-10 07:04] #4505 closed

[2021-08-10 07:05] #4522 closed

[2021-08-10 12:42] tom-here commented on #4360
I'm new to the discussion here, but I agree with Alanna's suggestions. (This bit from her is particularly important IMO: 'We have to remember that most people looking at these numbers are using them as heuristics for non-quantitative queries like "How active is this community?" "Who funds this project?" "Is this genuine?" - and other users are looking for quantitative things like "How much money h

[2021-08-10 13:06] znarf commented on #4360
@alanna I'm sceptic about your proposal in this state:

- "$50 is immediately debited from Parent and credited to Project". This transaction is problematic because it would be attributed to the Parent Collective and not to the Original Source. The Project budget will be full of such transactions and will not be much readable. It's in my opinion a hack, and a complicated one.
- This will not answer

[2021-08-10 13:16] znarf commented on #4507
🏆 This issue was completed by @akashgp09

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-08-10 16:51] SudharakaP commented on #4534
On this regard I also looked at some QR codes generated by the widget vs the QR codes generated by us. They seem exactly similar, for example for Bitcoin,

![image](https://user-images.githubusercontent.com/12435965/128899510-e346e6c7-2e97-44c1-853b-17955f163742.png)

and for Bitcoin cash it does,

![image](https://user-images.githubusercontent.com/12435965/128900461-d2daa13c-dd59-496e-8d31-826f9a

[2021-08-10 21:33] alanna commented on #4360
I understand the need to keep the ledger consistent, but I still think there's a way to achieve that along the lines of what I suggested, and I still think it's very important to do it. Let's discuss in the team meeting today @znarf

[2021-08-10 22:41] SudharakaP commented on #4527
I've added support for sending email for the `DEPOSIT_TRANSACTION` event. I think the only remaining part here is to add the email confirmation for the `DEPOSIT_CONVERSION` event. This shouldn't be difficult I think and I'll add this as soon as we get the `DEPOSIT_CONVERSION` event figured out.

In the meantime let me know if the email template looks good or if there's any other changes to be made

[2021-08-11 03:49] alanna commented on #4532
@Betree when you get back from holiday could you scope this? I'm considering the idea of sponsoring a bounty for it funded by fiscal hosts who need this feature.

[2021-08-11 16:38] FluxZA commented on #2856
Hi. I am currently working on this, and while reading through the documentation I discovered what the 'bounty candidate' tag meant. Is there any scope for a bounty to be assigned? I will finish working on the issue regardless, but I figured I would ask as I could use the money.

[2021-08-11 21:53] Memo-Es commented on #4118
Closing it since it's online at [https://opencollective.com/fiscal-hosting](https://opencollective.com/fiscal-hosting)

[2021-08-11 21:53] #4118 closed

[2021-08-11 22:04] Memo-Es commented on #4459
We updated the collective creation last sprint following the discussion described here #4256

I agree with @znarf and did the corresponding adequations to the [Figma file](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC-Design-Production-Ready-%E2%9C%85?node-id=8637%3A0) that @Betree and I used to implement https://github.com/opencollective/opencollective-frontend/pull/5555

![Form 1](https:/

[2021-08-11 23:23] Memo-Es opened #4542 "Onboarding Collective Flow Updates"
## Background
We updated the onboarding flow of both hosts #3758 and collectives based on the discussion of #4256, and I just realized that the collectives' part of the project wasn't registered in an issue yet. The purpose of this issue is to describe the changes and provide a registered space to discuss the implementation.

| Type of Collective | Connect with GitHub | Collective Creation Form |

[2021-08-12 02:30] Memo-Es commented on #4542
Loom presenting the updates and feedback from @alanna through slack:

* [Loom recording](https://www.loom.com/share/3eacdee7e95447dda8f67c816f03eee0)

[2021-08-12 03:05] shannondwray commented on #4509
I can do the 4.30-5am :)

[2021-08-12 03:53] alanna commented on #4480
@znarf with the simplified ask contained in the title, could this be a bounty?

[2021-08-12 03:53] alanna commented on #4480
It was marked medium complexity but I don't think the new idea is complex

[2021-08-12 04:06] shannondwray commented on #4540
Hey Alina, Are there any common questions surrounding expenses and onboarding that we could add to the docs? Would it be worth aiming to get to a stage where when someone asks your a question that is common there is a docs page that is easily linked out to? Let me know if I'm on the right track and this could help or if I'm not :)

[2021-08-12 04:39] alanna opened #4543 "Create new Project button missing from Projects page"
https://opencollective.com/ehf-community

<img width="1253" alt="Screen Shot 2021-08-12 at 4 33 14 PM" src="https://user-images.githubusercontent.com/5498878/129139006-6c633f8f-9de6-4ecf-ab5d-f01ab941b9bc.png">

https://opencollective.com/ehf-community/projects
<img width="924" alt="Screen Shot 2021-08-12 at 4 38 05 PM" src="https://user-images.githubusercontent.com/5498878/129139015-2ae17899-0355

[2021-08-12 04:59] alinamanko commented on #4540
@shannondwray this is the conversation I had with @aminakazi and I think she has it captured. We were looking at the main areas of supporting splitting [around these areas](https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/%5BOC-Design%5D-Lab?node-id=11592%3A91851). While questions change, the main areas are around setting up a new collective and initial information users are looking for before

[2021-08-12 06:10] SudharakaP commented on #4543
I think here, we need to add a `Create Project` button similar to the `Create Event` button which we have on the events page. I've done that on the above PR. 👍🏽

[2021-08-12 09:14] znarf commented on #4480
@alanna It's still a bit touchy and I don't have the bandwidth to manage this issue myself, even through a bounty. Maybe for @SudharakaP as he's working on a few Events improvements or @Betree when he's coming back.

[2021-08-12 09:43] znarf opened #4544 "PAYMENT_PROCESSOR_FEE kind should be renamed"
It's a bit misleading and should be replaced by something more specific like `PAYMENT_PROCESSOR_FEE_REFUND` or `PAYMENT_PROCESSOR_FEE_COVER`.

We'll later need the `PAYMENT_PROCESSOR_FEE` kind if we decide to split Payment Processor Fees from Transactions.

While we're at it, it should be also ignored from the total money raised. To avoid such situation:

<img width="1255" alt="Screenshot 2021-08-

[2021-08-12 11:43] znarf commented on #3898
https://ux.stackexchange.com/questions/9105/international-currency-formatting-guidelines-currency-codes

I would say we can use 1) alone, if **and only if** it's **100% clear** in the context what the currency is.

In all other cases, we should use 1) followed by 3). We should stop using 2).

[2021-08-12 12:39] #4516 closed

[2021-08-12 12:39] #4526 closed

[2021-08-12 12:39] #4528 closed

[2021-08-12 12:57] SudharakaP commented on #4485
This was done in https://github.com/opencollective/opencollective-frontend/pull/6725 and mostly a duplicate of https://github.com/opencollective/opencollective/issues/4516 and thus I am closing it.

[2021-08-12 12:57] #4485 closed

[2021-08-12 13:00] SudharakaP commented on #4480
Yes, I can take this on when I finish off the current event issues I am working on 👍🏽

[2021-08-12 15:25] #4510 closed

[2021-08-12 17:42] ankitzm commented on #4492
I am quite new to this, so can I know where do we need to improve the code.

[2021-08-12 19:58] #4543 closed

[2021-08-12 20:39] SudharakaP commented on #3024
The things I've added here are,

- Test for checking the submission of a Free Ticket.
- Test for checking the submission of a Ticket with Fixed Payment Amount.
- Test for checking the submission of a Ticket with a Flexible Payment Amount.

I hope this covers everything in this issue. Let me know otherwise. 😃

[2021-08-12 20:45] SudharakaP commented on #4480
Will be working on this one soon as per Ben's suggestion above; https://github.com/opencollective/opencollective/issues/4480#issuecomment-884693946

[2021-08-12 23:22] SudharakaP commented on #4523
Done a fix for this by showing a warning message when Wise isn't configured. Let me know if it looks good. I don't think an error is the way to go as the user can still submit the custom bank details in the form below. Correct me if I am wrong. Screenshot provided in the above PR. 😄

[2021-08-12 23:39] alanna commented on #2856
@znarf

[2021-08-13 07:08] #4519 closed

[2021-08-13 07:09] znarf commented on #4519
🏆 This issue was completed by @leonardohofling

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2021-08-13 07:38] znarf commented on #2856
For a bounty to be added, one engineer need to be confident enough about the issue that they're willing to review and engage until completion. You can always ask, but I'm personally not in such position at this point. If someone else from the team is, they will show up.

If you're still willing to contribute (for fun, for free), we'll review your PR and make our best to help until completion.

Exc

[2021-08-13 07:59] FluxZA commented on #2856
@znarf  Thanks for the info, I am happy to continue working on the issue. Is there anything I need to do to add reviewers to my pull request?

[2021-08-13 10:31] Utkarshn10 commented on #4488
@SudharakaP For this we can use same format as used in "Start a new conversation" button.

![](https://user-images.githubusercontent.com/5498878/128580706-e9ffb312-86e9-477a-ad5e-889d480ca7c4.png)

[2021-08-13 12:39] #4383 closed

[2021-08-13 16:12] SudharakaP opened #4546 "Handle the Case where the Access Token is Invalid in Crypto Flow"
It has been observed that the `accessToken` that we use in the crypto flow expires after some time. [According to the documentation](https://app.gitbook.com/@the-giving-block/s/public-api-documentation/#authentication-flow), access tokens have a lifetime of two hours. When the access token expires, we need a way to automatically generate a new access token.

Fortunately, the Giving Block API [retu

[2021-08-13 18:12] SudharakaP opened #4547 "Properly Show Error Messages on the Front End - Crypto Flow"
It was observed that there's certain cases where the [call to return the `depositAddress`](https://app.gitbook.com/@the-giving-block/s/public-api-documentation/endpoints-documentation) will fail (say the credentials are incorrect) but then the front-end will still show the old deposit code. This is due to not handling the graphql errors properly on the front-end before moving to the `checkout` sec

[2021-08-13 20:44] SudharakaP commented on #4546
The root cause with some more analysis for this issue has been explained here; https://github.com/opencollective/opencollective-api/pull/6443#issuecomment-898710447.

[2021-08-14 13:41] FluxZA commented on #4305
I ran into the same issue when running tests and it also showed up when running CI on my pull request. My setup is fresh as I am working on my first issue for Open Collective. I did some digging based on the issue linked by @SudharakaP  and narrowed it down to the following function in [awsS3.ts](https://github.com/opencollective/opencollective-api/blob/5526eb5fe56cdee6f43f0eda5662dedce66d482e/ser

[2021-08-14 14:30] znarf commented on #4305
On CI on your own repository, it's likely that S3 is not configured in the environment variables while it is in opencollective own repository.

[2021-08-14 14:49] FluxZA commented on #4305
Thanks for the info. Would that suggest that the error occurring during the checks on the pull request is happening for another reason?

[2021-08-14 15:40] SudharakaP commented on #4305
Ah, that might be the issue; but recently I didn't see it anymore, but will keep a tab on it.

[2021-08-14 22:53] alanna opened #4548 "Confusing state change when uploading virtual card receipt"
When you upload a virtual card receipt and press submit, it jumps you back to the top of the screen focused on the "upload receipt" banner. This is confusing because you just did this task. It's slow enough that someone could push the edit expense action button on the banner before the page state changes to what it should be. The banner should disappear as soon as you click submit and it doesn't n

[2021-08-15 07:37] znarf commented on #3858
This is done.

[2021-08-15 07:37] #3858 closed

[2021-08-15 07:40] znarf commented on #2311
The feature is gone. It's replaced by an automated Prepaid Payment Method creation or converting organizations to FUNDs.

<img width="315" alt="Screenshot 2021-08-15 at 09 40 21" src="https://user-images.githubusercontent.com/806/129470945-4b950e2c-24e5-4c2f-a952-c6ffe236770a.png">

[2021-08-15 07:40] #2311 closed

[2021-08-15 09:05] alanna commented on #3190
@znarf @piamancini @BenJam  we're kicking off planning for Season of Docs 2022 with Google in about 3 weeks. Can we decide one way or another if we are going to be delivering this feature, and in what time frame? Because it will affect that planning process.

[2021-08-15 14:16] znarf commented on #3190
I'm personally enthusiastic about this project and happy to try to prioritize it and make it happen before the end of year 2021.

[2021-08-15 19:21] watadarkstar commented on #4517
Any idea why this might be happening @znarf ?

[2021-08-16 07:35] Betree commented on #4465
Out of simplicity, I think we can skip this one and just remove the `X` as you suggested above.

[2021-08-16 07:43] Betree commented on #3593
This part would be quite easy to set up as we already check the number of admins to make sure the last one is never removed.

[2021-08-16 07:55] Betree commented on #4532
This issue is similar to - but more comprehensive than, since it includes GST - https://github.com/opencollective/opencollective/issues/1552. Specs adapted from this issue:

# API
- [ ] On expense mutations, accept a `taxes` input for each `ExpenseItem`. Store that in a new `taxes` (JSON) field.
- [ ] Include total VAT for all expenses in the monthly report for hosts
- [ ] Record this information

[2021-08-16 07:57] Betree commented on #1552
Closing in favor of a more generic issue: https://github.com/opencollective/opencollective/issues/4532#issuecomment-899302701

[2021-08-16 07:57] #1552 closed

[2021-08-16 08:04] Betree commented on #3981
Allowing to move expenses that haven't been paid yet is not super complex. Allowing to move expenses that **have been paid** is more complex:
- We need to update the transactions in the ledger and the activities
- We need to handle the case where the parent doesn't have enough budget for this expense (by automatically moving funds between the child and the parent first?)

Overall I agree with @Sud

[2021-08-16 08:56] alanna commented on #3981
How about we start with moving unpaid expenses only? That would still be
useful.

[2021-08-16 09:23] snitin315 commented on #4532
@Betree how do we enable local tax for hosts? do we already have a dedicated field in fiscal host settings for this?

[2021-08-16 09:52] Betree commented on #4514
In the original specs that were discussed on Slack and on https://github.com/opencollective/opencollective/issues/3112, the user requested that accountants should not be displayed as part of the team. It's quite common to have an external accountants, it's actually the case for https://opencollective.com/opencollective also.

So the option B that @JFQueralt suggested actually seems more suited:

[2021-08-16 09:57] znarf opened #4549 "Duplicate GraphQL property parent vs parentAccount"
We have a duplicate GraphQL property at the `Account` level: `parent` vs `parentAccount`.

We need to deprecate of of the two.

[2021-08-16 10:15] Betree commented on #4524
I'd be in favor of using day.js, given that we use it in the frontend (= consistency) and it's very close to moment's API (= easier to migrate). Bundle size indeed doesn't matter much since it's the API.

Regarding priorities, I think we can keep this on the bottom of our todo list (ideally for an external contributor); even though it's deprecated MomentJS is quite mature and stable. It's a debt w

[2021-08-16 10:18] Betree commented on #4530
Related: #3626

[2021-08-16 10:21] Betree commented on #4531
I had a hesitation about this when I introduced the feature and ended up not paginating because the number of invitations for a given account theoretically always stays low.

But that might not always be the case; for example, a spammer could abuse the endpoint and flood the invitations mutation. So paginating seems desirable.

[2021-08-16 11:01] ryul95 commented on #3981
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Alanna ***@***.***>
Sent: Monday, August 16, 2021 4:56:54 PM
To: opencollective/opencollective ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [opencollective/opencollective] Move expense between Events, Projects, and the parent Collective (#3981)

How about we start with moving unpaid expenses only? That

[2021-08-16 11:26] BenJam commented on #4537
@SudharakaP fair, we should probbably add a newsletter setting to the user's info settings.

[2021-08-16 11:29] Betree commented on #4537
Related: https://github.com/opencollective/opencollective/issues/3357

[2021-08-16 11:37] #4278 closed

[2021-08-16 11:37] znarf commented on #4278
🏆 This issue was completed by @snitin315

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2021-08-16 12:36] Betree opened #4550 "Move a contribution to a different profile / make it incognito"
# User story
- Some users make incognito contributions and later want to move them to their "main profile" (like [here](https://opencollective.freshdesk.com/a/tickets/31431))
- Some users want to make their contribution incognito after contributing
- Some users contribute through their personal profile, while they wanted to contribute as an organization

We currently handle these kinds of requests

[2021-08-16 12:40] #4535 closed

[2021-08-16 12:50] BenJam commented on #4213
I'm cool closing this issue if you are @Memo-Es ?

[2021-08-16 14:48] #4525 closed

[2021-08-16 14:57] Betree commented on #4514
As an alternative for now, if you're not willing to give them admin permissions, you can use the "Core contributor" role and set their members description to something meaningful

[2021-08-16 15:06] Betree opened #4551 "Button for root users to invalidate the cache for an account"
Core team members often have to make direct changes in the database (eg. to change some info about a contribution, create connected accounts, etc). A challenge that comes with this is the cache, we usually need to update Redis and Cloudflare which requires connecting to each service and manually invalidating each entry.

I'd like to be able to do something like this in my shell to clean all caches

[2021-08-16 16:01] Betree commented on #4551
Thinking about it more, this should rather be a root action in the frontend as it can be useful for other team members

[2021-08-16 16:31] BenJam commented on #4317
are we good to close this down and open other issues if needed?

[2021-08-16 23:32] alanna opened #4552 "Markup appearing in expense email notification"
https://opencollective.com/vuetify/expenses/43516

![Screen Shot 2021-08-17 at 11 31 37 AM](https://user-images.githubusercontent.com/5498878/129641706-ddee2e5a-b7e4-4787-a5cd-391935ca4d8a.png)

In the email:

![Screen Shot 2021-08-17 at 11 32 30 AM](https://user-images.githubusercontent.com/5498878/129641757-19acc2e6-0733-4c59-982f-91257fad3af6.png)

[2021-08-17 00:16] kaylarep commented on #4521
it usually looks something like this:
![image](https://user-images.githubusercontent.com/64920686/129644413-7152ed8d-90a5-4e8b-a5ef-a0293b33fef4.png)

Maybe these are helpful guides? :

- https://sendpulse.com/blog/add-to-calendar-link
- https://stackoverflow.com/questions/5831877/how-do-i-create-a-link-to-add-an-entry-to-a-calendar

[2021-08-17 02:59] Memo-Es commented on #4213
We can close this and open another one to track the implementation of the ['What's new?' page](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC-Design-Production-Ready-%E2%9C%85?node-id=12788%3A155434)
@BenJam

[2021-08-17 03:01] Memo-Es commented on #4317
We can close this one. I will need to follow up with a design-oriented documentation issue, we will make sure to put it up this sprint and follow-up parallely
@BenJam

[2021-08-17 06:52] Betree commented on #4552
For reproduction: this must be specific to grants, as we don't allow rich text in regular expenses

[2021-08-17 07:04] SudharakaP commented on #4317
Yes, there's couple of issues that we need to follow up, but I think we can close this one and open separate issues for those. Almost all the issues from the original post have been addressed. 😄

[2021-08-17 07:13] Betree commented on #4532
@snitin315 You have to set the currency of the host to EUR or NZD. On the settings page, you then have the ability to set up VAT (for EUR) or GST (for NZD).

[2021-08-17 07:40] Betree commented on #4210
Some feedback regarding payouts: The feature must be manually enabled for each PayPal account by contacting PayPal's support. Open Collective Paris started the process, but PayPal asked for additional documents and info that they didn't have the capacity to produce at that time.

We're therefore back to the legacy adaptive integration for them. While I still think we should push for the new integr

[2021-08-17 08:36] ylemkimon commented on #4517
The daily [`70-update-contributions.js`](https://github.com/opencollective/opencollective-api/blob/main/cron/daily/70-update-contributions.js) cron job doesn't seem to be running.

[2021-08-17 08:43] znarf commented on #4517
We have for quite some time some capacity problems with our GitHub credentials and are unable to refresh the contributors.

As this widget is not a priority for us at Open Collective anymore, we're gonna officially stop maintaining it. For people relying on it, we're gonna extract it in an independent repository and give it to the community. I'll setup this in the coming days.

[2021-08-17 09:03] BenJam commented on #4509
I am very thankful that this is coming together. I'm pulling together a talk today/tomorrow which I will post here.

[2021-08-17 12:48] BenJam commented on #4436
closing this out so we only have the most recent report 'open'

[2021-08-17 12:48] #4436 closed

[2021-08-17 12:50] BenJam commented on #3081
I came here to bump this too and I'm quite tempted to close the related issue to focus down on this as the more flexible use case

[2021-08-17 12:51] BenJam commented on #3328
closing in favour of https://github.com/opencollective/opencollective/issues/3081

[2021-08-17 12:52] BenJam commented on #3911
closing in favour of #3081 (consolidation)

[2021-08-17 12:52] #3911 closed

[2021-08-17 13:12] Betree commented on #3328
@BenJam though strongly related, #3081 is different: it's about requiring multiple **collective** admins for approving an expense. This one is about requiring multiple **host** admins to **pay** an expense.

[2021-08-17 16:02] SudharakaP commented on #4317
Only remaining issue from the initial post is,

which is discussed at https://opencollective.slack.com/archives/C9767R4V9/p1627370950023900.

@BenJam : Did you update this email? Can we update this in the documentation?

[2021-08-17 18:49] SudharakaP commented on #3982
@Betree : If no objections, I will take this up, I am thinking of progressing with the second approach you suggested with the modified version of the `Add Funds` modal. 😃

[2021-08-17 19:23] znarf commented on #4517
I just released [contributors.svg](https://github.com/opencollective/contributors-svg) as a separate Open Source repository. Anyone is welcome to participate.

I also deployed a new version which should normally fix the issue.

Feel free to open issues and PRs in the new repository.

[2021-08-17 19:23] #4517 closed

[2021-08-17 19:28] znarf commented on #3956
I just released [contributors.svg](https://github.com/opencollective/contributors-svg) as a separate Open Source repository. Anyone is welcome to participate.

I also deployed a new version which should normally fix this old issue.

Feel free to open issues and PRs in the new repository!

[2021-08-17 19:28] #3956 closed

[2021-08-17 19:29] znarf commented on #3354
I just released [contributors.svg](https://github.com/opencollective/contributors-svg) as a separate Open Source repository. Anyone is welcome to participate.

I also deployed a new version which should normally fix this old issue.

Feel free to open issues and PRs in the new repository!

[2021-08-17 19:29] #3354 closed

[2021-08-17 19:30] znarf commented on #3298
I just released [contributors.svg](https://github.com/opencollective/contributors-svg) as a separate Open Source repository. Anyone is welcome to participate.

I also deployed a new version which should normally fix this old issue.

Feel free to open issues and PRs in the new repository!

[2021-08-17 19:30] #3298 closed

[2021-08-17 19:31] znarf commented on #3282
I just released [contributors.svg](https://github.com/opencollective/contributors-svg) as a separate Open Source repository. Anyone is welcome to participate.

I also deployed a new version which should normally fix this old issue.

Feel free to open issues and PRs in the new repository!

[2021-08-17 19:31] #3282 closed

[2021-08-17 19:35] SudharakaP opened #4553 "Button Click Outlines Not Consistent in Actions Menu"
When looking at another issue I noticed that the button outlines in the actions menu when clicked on them are not consistent. Notice in the below screen-case we have some rounded edged buttons and others are pointed edged. This is caused by using `StyledLink` and `StyledButton` within the actions menu and the slight style difference between them.

![button-outline](https://user-images.githubuserco

[2021-08-17 22:07] SudharakaP commented on #4489
Will be working on this one if no objections. 😃

[2021-08-17 22:16] kaylarep commented on #4509
@Memo-Es mind if I take the 3:30am?

[2021-08-17 23:14] kaylarep opened #4554 "'Publish Later' Option for Updates"
## User story
Being able to draft posts and schedule them to be posted at a later date could be a helpful tool.

## Best solution for this problem
Something like this:
![image](https://user-images.githubusercontent.com/64920686/129812347-7094bd9e-817e-4e49-9490-f4542e99efd0.png)

[2021-08-18 00:50] Memo-Es commented on #4509
@kaylarep All good I can take 7 pm BST

[2021-08-18 06:58] znarf commented on #4489
I would like:
- this issue to be strictly about the situation where we use the "Empty Balance" button and not extend it to other situations
- to find something else than `INTERNAL_TRANSFER` as a `kind` as I find this one too generic. Proposals: `MOVE_BALANCE`, `EMPTY_BALANCE`, `TRANSFER_BALANCE` or `**BALANCE_TRANSFER**`.

[2021-08-18 07:02] Betree commented on #3788
Done in https://github.com/opencollective/opencollective-frontend/pull/6692

[2021-08-18 07:02] #3788 closed

[2021-08-18 07:05] Betree commented on #2432
Should ideally be done by moving to GraphQL V2 (see https://github.com/opencollective/opencollective/issues/3275). We already have a `contributors` field on `account`, so this really is about frontend.

[2021-08-18 09:11] alanna commented on #4280
More events issues:

#4521 #4480 #4469 #4474 #4382

[2021-08-18 09:11] #4350 closed

[2021-08-18 09:12] Betree commented on #4549
No strong preference on my side: `parent` feels natural, but `parentAccount` is more consistent with the `childrenAccounts` prop we've recently introduced. For this reason I'd tend to rather use `parentAccount`.

[2021-08-18 09:15] znarf commented on #4549
What about using `children` instead of `childrenAccounts` ?

[2021-08-18 09:16] alanna commented on #4464
Can someone help me understand what these numbers mean? I can't tell if it's a bug or I just don't get it. @Betree @znarf

[2021-08-18 09:21] Betree commented on #4549
@znarf no strong preference on my side, feel free to pick the one that you think is best.

It would also be great to have an `AccountWithParent` abstraction to do things like:

[code]

Rather than:

[code]

[2021-08-18 09:23] alanna commented on #4396
Adding local tax stuff here as we cannot align with accounting if we don't handle tax correctly #4493 #4532 #4494 #1552 #4366 #vat

[2021-08-18 09:33] znarf commented on #4549
parent/children looks better I would say

[2021-08-18 09:36] alanna commented on #3934
Was this fixed @znarf

[2021-08-18 09:47] alanna commented on #3476
Was this done @znarf ?

[2021-08-18 09:51] znarf commented on #3476
It was done and looks I ultimately decided to only send to the Fiscal Host admins. I don't exactly remember, maybe because it was simpler that way.

[2021-08-18 10:00] alanna commented on #1919
This is done

[2021-08-18 10:00] #1919 closed

[2021-08-18 10:00] alanna commented on #1620
This is achieved by Projects now

[2021-08-18 10:00] #1620 closed

[2021-08-18 10:01] alanna commented on #1587
This is achieved by Projects now

[2021-08-18 10:01] #1587 closed

[2021-08-18 10:01] #1583 closed

[2021-08-18 10:02] alanna commented on #1038
We have virtual cards now

[2021-08-18 10:02] #1038 closed

[2021-08-18 10:02] alanna commented on #459
We have implemented 2FA

[2021-08-18 10:02] #459 closed

[2021-08-18 10:16] Betree commented on #4544
`PAYMENT_PROCESSOR_FEE_REFUND` could introduce some confusion with `isRefund` . I prefer `PAYMENT_PROCESSOR_FEE_COVER`.

[2021-08-18 12:30] #4548 closed

[2021-08-18 12:48] #4553 closed

[2021-08-18 12:54] #3024 closed

[2021-08-18 15:09] SudharakaP opened #4555 "Completely Remove `utm` parameters from URLs"
This was initially reported at, https://opencollective.slack.com/archives/C6JTTA4SK/p1629294683060700

Our Slack urls in email templates are broken due to having Google analytics tags. These should be removed from all email templates along with all other places we use the utm parameters. 😄

[2021-08-18 15:10] znarf commented on #4555
It's not just about Slack URLs, utm parameters should be completely removed from the codebase.

[2021-08-18 15:12] SudharakaP commented on #4555
Thanks, I've updated the issue with this. 👍🏽

[2021-08-18 15:28] SudharakaP commented on #4317
This has been addressed as per, https://opencollective.slack.com/archives/C9767R4V9/p1629297230003500 and therefore all the issue in this thread are addressed. Thus I am closing this. Thanks everyone for the help. 😄

[2021-08-18 15:28] #4317 closed

[2021-08-18 16:42] #4555 closed

[2021-08-18 17:34] #4527 closed

[2021-08-18 22:04] SudharakaP commented on #4489
So I've opened PRs to support the addition of the new type `BALANCE_TRANSFER` only for the case where we zero the balance of an existing Project/Event. On the front end side I've passed the flag `isBalanceTransfer` within the `customData` field of the order in order to differentiate between a balance transfer and a regular transfer. Anyways, let me know if you have any comments. 😄

[2021-08-19 00:53] kaylarep opened #4556 "Collective Admins want to Track Remaining Limit on Virtual Cards"
## User story
question from a group:

## Pitch

Add 'balance/remaining to card details listed on `/admin/virtualcards`:
Add 'renews on' to card details

![vcs](https://user-images.githubusercontent.com/158833/177349103-299b733d-322c-4c0f-9868-92865dff0154.png)

## Understanding

- Stripe's balance API appears to return issued card balances

- looks like we can get the cards limits and renewal time

[2021-08-19 00:53] kaylarep commented on #4312
https://github.com/opencollective/opencollective/issues/4556

[2021-08-19 04:40] SudharakaP commented on #4417
I will be working on this next if no objections. 😃

[2021-08-19 08:38] piamancini opened #4557 "[PROJECT] Open Stocks"
## Overview
As part of our effort to help collectives raise more funds, we are piloting a way for people to use their public stock to make a donation. This is convenient for donors because the don't pay taxed on selling that stock. Since many of the big tech companies have gone public, many devs / tech workers have now stock they could potentially use for good.

## Owner
@piamancini

*Note: Projec

[2021-08-19 08:39] piamancini commented on #4557
Website: https://openstocks.co/
Stock giving Page: https://app.overflow.co/opensourcecollective

[2021-08-19 11:12] carolineawoolard commented on #4522
This is becoming a major issue lots of people are reporting this to me -- 5 people in the past 24 hours @alanna @piamancini  perhaps you've experienced this as well.
<img width="1027" alt="Screen Shot 2021-08-19 at 1 11 59 PM" src="https://user-images.githubusercontent.com/88373348/130059147-9f61e705-c9ff-4e1c-b16f-5de9bc341618.png">
<img width="1028" alt="Screen Shot 2021-08-19 at 1 11 45 PM" src

[2021-08-19 11:38] znarf opened #4558 "Use "Toast" notification instead of banner when creating an Event/Project"
This is not looking good anymore.

<img width="1283" alt="Screenshot 2021-08-19 at 13 37 07" src="https://user-images.githubusercontent.com/806/130062252-59aa5009-4e76-421b-9c7b-75d9dadc923b.png">

Ideally, we should also stop relying on the `?status=eventCreated` URL hack.

[2021-08-19 11:50] piamancini commented on #4551
yes to that last comment

[2021-08-19 11:50] piamancini commented on #4550
How often does this happen?

[2021-08-19 11:56] snitin315 commented on #4335
I will take it.

[2021-08-19 11:59] piamancini commented on #4509
I can do 10:30 -11am

[2021-08-19 12:02] piamancini commented on #4509
wait UTC is 2hrs behind CET not 1. I'll take the earlier slot

[2021-08-19 12:33] BenJam commented on #4213
let's add it to the stack of 'design ready to roll' things...

[2021-08-19 12:33] #4213 closed

[2021-08-19 12:33] znarf commented on #4056
I disagree about this. We have a really clear Pricing page, segmenting Fiscal Hosts in 3 clear categories (Start, Grow, Scale). As a Fiscal Host admin, I want to clearly know in which category I belong and what is the current pricing applied to me.

<img width="856" alt="Screenshot 2021-08-19 at 14 26 55" src="https://user-images.githubusercontent.com/806/130068524-671ea0cb-4904-4302-ba76-1ab60e11

[2021-08-19 12:42] BenJam commented on #4426
Just to note, goals fromt he last sprint for this were:

- [ ] update to work with the new ledger
- [ ]  check compatibility with the previous format, double check formats that work best for hosts (Open Source Collective/Open Collective Foundation)
- [ ]  Take into mind the new host dashboard design with respect to customisation [with an eye on supporting platforms like QuickBooks](https://github.

[2021-08-19 12:46] Betree commented on #4550
I the past few months, I had to switch 2 contributions from the main account to incognito, and one contribution from incognito to the main account.

This issue is far from a priority, but I wanted to document the use case for people to edit the author of a contribution. Technically, it's relatively close to the need for people mistakenly contributing as users to move their contribution to an organ

[2021-08-19 13:01] znarf commented on #3982
I have some concerns about this feature. Let's not deploy it or put it behind a feature flag, deactivated by default.

[2021-08-19 13:29] znarf commented on #3982
The concern:
- only Host admins can use "Add Funds" currently, so the feature is generally broken in this state
- it make sense, Collective admins don't have the right to arbitrarily move money like this, we should be extremely cautious
- we should absolutely check the balance before creating Transactions between parent and child

It's not a quick issue and there should be clear specs before conti

[2021-08-19 13:37] znarf opened #4559 "sendFailedEmail should not go to the user but all admins"
Currently, we're sending the `sendFailedEmail` to the individual (`user`) who set up the contribution.

In the context of an Organization, this is completely wrong as team members come and go.

Instead, all admins should be notified. Use `notifyAdminsOfCollective`.

While we're at it, that should be the same for `sendArchivedCollectiveEmail`, `sendThankYouEmail` and `sendCreditCardConfirmationEmai

[2021-08-19 13:39] SudharakaP commented on #3982
@znarf : Thanks for the information. I've added the feature flag `ADD_FUNDS_FROM_COLLECTIVE` in https://github.com/opencollective/opencollective-frontend/pull/6765

[2021-08-19 14:52] BenJam commented on #4426
note: may also consider tackling https://github.com/opencollective/opencollective/issues/4360 as part of this.

[2021-08-19 16:10] SudharakaP commented on #4522
Just for the information the gcal event problem is fixed here; https://github.com/opencollective/opencollective-api/pull/6462#pullrequestreview-734025263. Once this is merged the issue should be fixed. 😄

[2021-08-19 23:57] alanna commented on #3982
I didn't think this would be done like `add funds` where it can create new money in the ledger. I thought it would be as a contribution, where one Collective is debited and one is credited. The same way we can current add money from parent to Project.

[2021-08-20 00:03] alanna commented on #4056
Yes, I still think it's needlessly complex to have start and grow in both the setting and pricing page, because they are the same. Better to fix it in both places.

[2021-08-20 03:43] alanna opened #4560 "Receipt and payout details missing from expense on mobile"
https://opencollective.com/openipc/expenses/47728

Payout method and account are not present, and there seems to be no attachments section or way to see the receipt.

This is Firefox focus on a pixel 4a.

![CollageMaker_20210820_153915656~2.jpg](https://user-images.githubusercontent.com/5498878/130175740-38d0a80c-bf5d-43b1-a711-3b472f050187.jpg)

[2021-08-20 04:01] alanna commented on #4560
Tried on regular Firefox for Android, same.

[2021-08-20 06:54] Betree commented on #3982
@SudharakaP Without touching the API, a possible solution would be to rather use the `createOrder` mutation. This one will take care of checking the permissions and the balance properly.

[2021-08-20 07:01] Betree commented on #4560
I can easily reproduce on Firefox desktop. One issue is https://github.com/opencollective/opencollective/issues/4099, but there's something else here: the container doesn't seem to grow with its content:

![Peek 2021-08-20 08-59](https://user-images.githubusercontent.com/1556356/130193454-7b4493af-349e-413c-a8aa-e9ba18184605.gif)

[2021-08-20 09:19] BenJam commented on #2896
Adding this to the roadmap as a 'catch all' for the two issues that we're addressing this sprint: https://github.com/opencollective/opencollective/issues/4300 and https://github.com/opencollective/opencollective/issues/3880

[2021-08-20 12:11] Betree opened #4561 "Make GraphQL API V2 the default context"
Most of our new queries are now pointing to GraphQL V2, yet we still have to add `{ context: API_V2_CONTEXT }` to all of them for the frontend to understand that it needs to send the queries to the V2 endpoint.

We should:
- [ ] Make V2 context the default
- [ ] Remove `API_V2_CONTEXT` for all V2 queries
- [ ] Add a `API_V1_CONTEXT` for all V1 queries

[2021-08-20 12:16] znarf commented on #4561
Also `gqlV1` tag instead of `gql` tag and `gql` tag instead of `gqlV2`.

[2021-08-20 12:41] SudharakaP commented on #3982
@Betree : Thanks for the idea. So just to clarify when the `Add funds to Collective` button in the actions menu is clicked the `Add funds` modal will open but when they submit the modal we use the `createOrder` mutation instead? Is my understanding correct? 🙂

[2021-08-20 12:47] Betree commented on #3982
@SudharakaP Regarding the behavior, yes. Regarding the implementation, I wonder if the `Add funds` modal is the best place for this since the use case is quite different. Maybe you should copy-paste the code needed to a new `MoveBudgetToAccountModal` or `AddFundsFromParentModal`.

[2021-08-20 12:48] znarf opened #4562 "Mark expense as spam should be moved to the toolbar"
Too many people use "Mark expense as spam" as a way to delete the Expense because they don't find the delete button.

This is causing problems because they end up being blocked or blocking legit people, I would suggest we move it to the toolbar next to the delete button. Unfortunately, people will be less likely to use it once it's moved.

Also, before proceeding, we should Confirm with the user t

[2021-08-20 12:55] SudharakaP commented on #3982
@Betree : Surely. Thanks for the information. Let me work on that. 🤔

[2021-08-20 13:22] SudharakaP opened #4563 "Dropping Values from Enum - Recreate Enum Instead"
Working on another issue, I noticed the following migration block from `20210615074327-platform-tip-debt-kind.js`

[code]

https://github.com/opencollective/opencollective-api/blob/ab9f654fd0a8583692a30651f7654f4bbbf6e0ba/migrations/20210615074327-platform-tip-debt-kind.js#L36-L44

I am doubtful this works. As per [the documentation](https://www.postgresql.org/docs/current/datatype-enum.html);

[c

[2021-08-20 13:48] BenJam commented on #3689
questions:

need to detail where we show/hide this information
need to describe how users will provide their legal name at the point of making a contribution/signing up etc.

[2021-08-20 13:52] BenJam commented on #4329
- [ ] Implement a Captcha system for guest contributions (Recaptcha or something else)
- [ ] Implement some extra parameters from Frontend to help classify Orders

[2021-08-20 13:56] BenJam commented on #4537
issues here: what happens when we have the consents, how are we gaining retroactive consent? what's the process going to be for that?

Perosnal note: what is the process for posting project updates, are contributors automatically notified about that?

[2021-08-20 15:52] Betree commented on #4562
This issue might be resolved by https://github.com/opencollective/opencollective/issues/3813, by moving the actions inside the expense status dropdown

[2021-08-20 15:53] Betree commented on #4562
![image](https://user-images.githubusercontent.com/1556356/130260239-991b1de0-4bf4-430e-a0aa-3a9282927924.png)

[2021-08-20 15:56] Betree commented on #4563
@SudharakaP Good catch, but no need to spend time fixing this. You can eventually replace the queries with a simple comment, but we won't rollback this migration now so no need to spend time fixing it.

[2021-08-20 16:07] SudharakaP commented on #4563
Thanks, I've added a simple comment to warn users who see this. 👍🏽

[2021-08-20 20:26] kaylarep opened #4564 "Create a 'feed' for all Updates posted on OC"
having a RSS-type 'feed' where **all** public Updates posted anywhere on OC can be viewed all in one place, maybe even sortable/searchable

e.g. View all Updates under _ fiscal host, Sort by: Newest; Oldest; Hottest (received the most engagment/comments -we don't have many right now, but perhaps this could help with that), having a 'search bar' within Updates to find specific key words or tags

[2021-08-21 02:14] SudharakaP opened #4565 "Creating a Organization as a New User"
Working on another issue I found this problem. Suppose a new user is just signed up. Then they are able to create a collective using the home page;

Using the profile menu:

![image](https://user-images.githubusercontent.com/12435965/130307292-58a1d5c0-c0bc-4875-8af8-227c03de1f42.png)

Or reading through the homepage they might be able to click the following section;

![image](https://user-images.

[2021-08-21 04:39] carolineawoolard commented on #4522
Wonderful! Let me know when that is.

On Thu, Aug 19, 2021 at 6:10 PM Sudharaka Palamakumbura <
***@***.***> wrote:

[2021-08-21 19:11] Betree commented on #4565
It's an important issue, thanks for documenting it. I remember we surfaced that during demos and said we will adjust the design but we probably forgot to iterate on it.

[2021-08-21 22:57] alanna commented on #3689
Display name:
* Anywhere viewable publicly

Legal name:
* Expenses payee section (show display name for public view, legal name for host admin view)
* Receipts issued for contributions
* Tax forms
* Host data retained for contributions that trigger reporting requirements (e.g. the $5,000+ threshold @piamancini has been working on)
* Host admin CSV export (include both legal and display name in col

[2021-08-22 00:25] SudharakaP commented on #4522
@carolineawoolard : This is fixed now and it's already in production. Sorry I probably forgot to notify you. Let us know if you see this issue again. 😄 😄

[2021-08-22 00:27] SudharakaP commented on #4565
You are welcome. Let us ping the design team here so they know about this one. 😺

cc: @opencollective/design

[2021-08-22 02:27] apoorv1316 commented on #4558
Hey! I want to contribute. Can I pick this up?

[2021-08-22 07:03] alanna opened #4566 "Expenses getting through with no address saved"
Doing some compliance checks for OCF, I came across these profiles that have been paid a significant amount via invoices expenses in the last 12 months, but when I call the `address` field for their user collective in metabase, I get nothing or an incomplete address (e.g. in the US but missing the state).

https://opencollective.com/flea-street-cafe
https://opencollective.com/james-oliver
https://

[2021-08-23 06:35] Betree commented on #4101
As suggested in https://opencollective.slack.com/archives/C020ZQSLM5M/p1629586926011400?thread_ts=1629474523.010200&cid=C020ZQSLM5M, a simpler MVP would be to create a simple interface on the admin actions page for root users, that wouldn't require complex checks and an invitation process.

[2021-08-23 06:51] Betree commented on #4558
@apoorv1316 Sure, feel free to ask if you have any question

[2021-08-23 06:58] Betree commented on #4566
Addresses for payees should be looked for in `expense.payeeLocation`. The value of `expense.payeeLocation` is automatically copied to `collective.address` if it's null, but there's no guarantee that users will not remove their addresses from the profiles after that, while `expense.payeeLocation` is immutable.

For `flea-street-cafe` (and probably some others), it's because all their expenses were

[2021-08-23 07:36] Betree commented on #4411
I tried to reproduce with another collective without success.

Looking at the audience query for this collective, I see:
[code]

@alanna Do you know when this happened? Having the exact date could help to understand if there's an issue.

[2021-08-23 09:15] mgrachev commented on #3956
@znarf Now it works! Thanks a lot 🔥

[2021-08-23 09:41] Betree opened #4567 "Introduce a way to rollback merge accounts"
In https://github.com/opencollective/opencollective-api/pull/6472, we're adding a mutation for root users to merge accounts. While there are some checks in place to prevent obvious mistakes (eg. merging an event into its fiscal host) we cannot guarantee that team members won't make mistakes (eg. merging `babel` into `webpack`). In the way it's currently implemented, rolling back from such a mistak

[2021-08-23 09:44] Betree commented on #4567
I see this as a blocker for exposing the "Merge accounts" feature, even for root users. I'm going to put the feature behind a flag until we can resolve this one.

[2021-08-23 10:26] znarf opened #4568 "Stop using Cloudinary"
In the images service, rewrite `/proxy/images` using something else than Cloudinary.

That should be a small action and save $100 / month.

[2021-08-23 11:28] piamancini commented on #4564
+1 to this

[2021-08-23 11:29] piamancini commented on #4557
blogpost done

[2021-08-23 11:40] Betree commented on #4564
That'd be an effortless feature to implement. My main fear is about spammers; we know they've used updates as a way to post their dubious content in the past, and having such a page would create another incentive for them to do so.

We should maybe surface only updates from "trusted" accounts, for example, only those with > 3 contributors.

[2021-08-23 11:44] znarf commented on #4564
Good feedback, it would be quite ugly without some moderation or policy.

[2021-08-23 12:05] Betree commented on #4464
This number is for the entire life of the account, there's no date filtering here. If's defined as `totalRaised - balance`, so for example: if I got $1000 in financial contributions, and my balance today is $700, we'll assume that I disbursed $300.

`totalRaised` itself is calculated by looking at all the credit transactions for this collective. These metrics probably need to be reviewed for hosts

[2021-08-23 12:40] #4563 closed

[2021-08-23 12:44] znarf commented on #4464
Hosts used to do Add Funds on a monthly basis to add those Host Fees.

But there are so many other accounting things that could have gone wrong with this account in the past, we need to look closely at it to explain (and fix) the numbers.

Seems we're about to go off track as this ticket is about "Add tooltip to 'total disbursed" and not about Foundation accounting internals. Can we move this disc

[2021-08-23 12:54] SudharakaP opened #4569 "Add Loading State to Updates Search"
This is related to the discussion, https://opencollective.slack.com/archives/C0RMV6F8C/p1629703556103100 on Slack.

- [x] Add a loading state to the updates seach

![image](https://user-images.githubusercontent.com/12435965/130450581-1215bd3d-f8f7-46ae-9bb8-068d10c105fa.png)

- [x] Change the placeholder to `content` rather than `html`

![image](https://user-images.githubusercontent.com/12435965/1

[2021-08-23 15:07] Memo-Es commented on #3395
Closing this issue since it's addressed in #3880

[2021-08-23 15:07] #3395 closed

[2021-08-23 17:15] achmurali commented on #4554
Would love to work on this, can i pick this up?

[2021-08-23 17:17] #4547 closed

[2021-08-23 17:46] SudharakaP commented on #4489
Keeping this open until we resolve the comment at; https://github.com/opencollective/opencollective-api/pull/6460#pullrequestreview-735913488

[2021-08-23 19:23] SudharakaP commented on #4489
Closing this as this is done; but if someone has an idea on any further on my comment on https://github.com/opencollective/opencollective-api/pull/6460#issuecomment-903978216 please feel free to reopen a new issue.

[2021-08-23 19:23] #4489 closed

[2021-08-23 21:23] SudharakaP commented on #4382
Closing this issue as the final point above https://github.com/opencollective/opencollective/issues/4382#issuecomment-890814928 has been solved. Feel free to open a new issue if there's anything more to improve along these lines. 😄

[2021-08-23 21:23] #4382 closed

[2021-08-23 23:17] alanna commented on #4464
<img width="389" alt="Screen Shot 2021-08-24 at 11 16 40 AM" src="https://user-images.githubusercontent.com/5498878/130531353-66d2545b-bea8-4e8e-8534-514e9ffb04c2.png">

It appears this is fixed. Now that the number matches the total disbursed, we don't need a tooltip explaining.

[2021-08-23 23:17] #4464 closed

[2021-08-24 00:54] alanna commented on #4566
The problem is, the `address` field is what's printed on invoices and receipts. So [this one for example](https://opencollective.com/parentpreneur-foundation/expenses/48095) is not a valid invoice due to the incomplete address.

This is relevant for #3340 - at some point `expense.payeeLocation` and `collective.address` will be forced to match. But for now, how do we deal with these examples that a

[2021-08-24 01:05] alanna opened #4570 "Wrong bill to entity on downloaded invoice"
I went [here](https://opencollective.com/parentpreneur-foundation/expenses/48095) and downloaded the invoice.

<img width="823" alt="Screen Shot 2021-08-24 at 12 59 02 PM" src="https://user-images.githubusercontent.com/5498878/130538685-51540186-bc1d-489f-b85e-53eb6f6f3bd7.png">

This should be billed to the Host, not the Collective. The Collective is not a legal entity who can be billed.

However

[2021-08-24 01:22] alanna opened #4571 "Expenses missing from navbar budget section dropdown"
https://opencollective.com/max-hunter - there are expenses but expenses doesn't show up in the menu with transactions.

<img width="767" alt="Screen Shot 2021-08-24 at 1 20 43 PM" src="https://user-images.githubusercontent.com/5498878/130540315-f17f538b-e5e1-4f7a-91db-301500fbf70c.png">

<img width="1230" alt="Screen Shot 2021-08-24 at 1 20 52 PM" src="https://user-images.githubusercontent.com/549

[2021-08-24 01:48] snitin315 commented on #4571
Probably because it is a `user` profile and not a `collective` profile.

[2021-08-24 04:46] alanna commented on #4411
I am pretty sure it was on the date that I raised this issue. But if it's not happening any more it's going to be hard to track down. Might not be worth it.

[2021-08-24 05:24] Betree commented on #4554
@achmurali This issue lacks some design and technical specifications. Unless you feel really confident about it, I would recommend familiarizing with the codebase on [simpler issues](https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3A%22complexity+%E2%86%92+simple%22) first.

[2021-08-24 05:38] Betree commented on #4570
Good guess, I need to adapt the PDF service to support this.

[2021-08-24 05:41] Betree commented on #4571
@snitin315 is correct, we don't yet have an expense section for users.

[2021-08-24 05:44] SudharakaP opened #4572 "Bank Transfer Email Template Missing Details"
This was initially reported on Slack at, https://opencollective.slack.com/archives/C6JTTA4SK/p1629722648066200?thread_ts=1629294683.060700&cid=C6JTTA4SK. It seems that when doing a contribution with the payment method as bank transfer, the email that the user receives has some missing parts. Specifically, the bank transfer details is reported to look like the following;

We need to investigate why

[2021-08-24 07:19] znarf commented on #4464
Weird that the total raised was off like this and back to normal now, I haven't touched anything personally.

[2021-08-24 07:19] Betree commented on #4570
@alanna This should be fixed now, please let me know if it does not work

[2021-08-24 08:02] alanna commented on #4570
It's still not working correctly @Betree

[2021-08-24 08:02] alanna commented on #4571
That explains it

[2021-08-24 08:02] #4571 closed

[2021-08-24 12:38] Betree commented on #4570
An outdated dependency caused the fix not to work; I initially didn't test it correctly. I'm updating this dependency in https://github.com/opencollective/opencollective-pdf/pull/761, I've tested it more in-depth this time.

[2021-08-24 12:52] SudharakaP commented on #4523
Reopening this as the previous fix was reverted as it shows the warning on production. https://github.com/opencollective/opencollective-frontend/pull/6742#issuecomment-904454053

[2021-08-24 13:06] #4546 closed

[2021-08-24 13:30] #4570 closed

[2021-08-24 15:51] SudharakaP opened #4573 "E2E Tests Failing at Contribution Flow Intermittently"
I've noticed recently that the the guest flow e2e tests related to the contribution flow has become unstable. Seems to fail with the following message;

       Joins after a single contribution:
     AssertionError: Timed out retrying after 15000ms: expected '/user-f89f04a4' to include '/guest-'
      at Context.eval (http://localhost:3000/__cypress/tests?p=test/cypress/integration/18-contribution

[2021-08-24 16:47] BenJam commented on #3593
spent the day running through onboarding processes, briefly described in https://www.loom.com/share/9a6d3e49d7e3432186869ce560b99351

I'll organise a run through later in the week but please jump in with comments /cc @Memo-Es @aminakazi @znarf

[2021-08-24 18:39] Betree commented on #4573
This is the one I reported in https://opencollective.slack.com/archives/C0RMV6F8C/p1629711991110100. A rebate should solve your issue

[2021-08-24 21:52] SudharakaP commented on #3982
@Betree : I've done the refactoring; one thing to note is that I wasn't exactly sure how to handle the payment method field required by the `createOrder` mutation. My thinking was to use the same way that we do in [add funds by using the host payment method](https://github.com/opencollective/opencollective-api/blob/673ef818ebe3cc1d63bb9c976898db13b05b7f86/server/graphql/v1/mutations/orders.js#L907

[2021-08-25 00:15] alanna opened #4574 "Project should not be able to submit expense to itself"
I'm not sure how the user ended up doing this, but they've accidentally created [this expense](https://opencollective.com/common-unity-project-film/expenses/48132) to a project as payable to that same project. I have asked them to correct this by editing the expense, but shouldn't the system not allow it in the first place?

<img width="887" alt="Screen Shot 2021-08-25 at 12 13 22 PM" src="https:/

[2021-08-25 04:08] SudharakaP commented on #4573
Somehow I missed this Slack thread. Thanks for the info. 😄

[2021-08-25 04:08] #4573 closed

[2021-08-25 04:49] SudharakaP commented on #4471
I think this discussion is stale unless there's any alternative proposals which you strongly think we should reiterate on. Thus I am closing this issue for now. But please feel free to let me know otherwise. 😄 🤔

[2021-08-25 04:49] #4471 closed

[2021-08-25 04:58] SudharakaP commented on #4534
I think one reason we saw these problems with the scanning initially was actually due to https://github.com/opencollective/opencollective/issues/4546. But now that it is fixed I think this should work across apps.

@znarf @kewitz : Would you be able to do the scanning check and let me know if there's any problems? Thanks a bunch. 😃

https://staging.opencollective.com/webpack/donate/crypto

[2021-08-25 05:02] SudharakaP opened #4575 "Add Documentation about Crypto Contributions"
We need to add some documentation about the Crypto Contributions. Some of the things which I thought might be useful are;

- How to enable Crypto contributions as a collective: By going to the collective settings and Tiers section.

- Some screenshots of the flow up-to the deposit address section, explaining the scanning of the QR code.

- Some information on the approximate time that one has to w

[2021-08-25 05:21] SudharakaP opened #4576 "Add Disclaimer About the Donating a Different Amount than Specified in Crypto Flow"
Looking at The Giving Block widgets I had the following idea; note that in the widget there's a note at the bottom which says that even if the user selects a different amount to donate the donation will clear.

![image](https://user-images.githubusercontent.com/12435965/130730637-329d0754-5b5e-436c-9c65-2b68a416be2e.png)

I think we need to add a similar statement in the deposit address screen to

[2021-08-25 07:01] Betree commented on #4574
I'm not aware of any use case for that. It sounds like API should prevent this and the option should also not be displayed in the Frontend. I just reproduced on staging, while the option is not displayed by default in the collective picker it appears if you search the account name.

Ping @znarf @kewitz in case there's a legit use case for this

[2021-08-25 07:35] znarf commented on #4574
Per current convention, it's a way to remove money from your budget when there is no clear payee.

It's supported for all kind of accounts and I don't see what would be specific to Projects.

[2021-08-25 08:44] Betree commented on #3689
@alanna Some questions:
- Could we say that fiscal host legal names are always public? Given that you just have to make a contribution to one of its hosted collectives to see it, it seems like that's not really private info.
- In the places where we display the legal name, and to address one of your concerns above, would that be ok to display a legal name in the interface like `Legal name (display

[2021-08-25 09:37] Betree commented on #4531
I just checked, the number of member invitations per account was limited to 50 in the initial implementation. I've slightly changed the limit in https://github.com/opencollective/opencollective-api/pull/6489, but it's still impossible to have more than 59 invitations.

For this reason, I don't think it matters to paginate this endpoint.

[2021-08-25 09:44] alanna commented on #3689
Yes in fact it would be great to clearly to users. Hosts need to share their legal entity name openly.

This is a good solution.

The specs look good from my side (the parts I understand).

Do you think the trigger points I mentioned could also work for existing users? When they...
* Submit their next expense
* Make a contribution that will generate a receipt

For existing host admins we can just

[2021-08-25 09:55] Betree commented on #3689
@alanna Thanks for the feedback

Yes, especially since @Memo-Es is already working on a step to collect logged-in user's info in the contribution flow when they give > $5K.

I want to have an input from design before implementing these two.

[2021-08-25 09:55] alanna commented on #4574
OK I can see how that could be useful.... I'll just confirm how the user ended up doing this. I suspect that due to people having projects now, a much larger number of users will have the experience of having multiple profiles to choose from, when they aren't used to how that functions. We might need to help the user understand what it means better.

[2021-08-25 10:10] znarf commented on #3982
The host payment method is absolutely not the right one. service:opencollective/type:collective from the contributor is the right one.

[2021-08-25 11:42] alanna opened #4577 "Expense paid without host approval or recorded status updates"
[This expense](https://opencollective.com/common-unity-project-film/expenses/47897) (along with several others in this Project) was submitted, approved and paid without 1) any action by the host, and 2) any status updates in the comment thread showing who/when it was approved and paid.

This is a situation where the user mistakenly set the payee to the Project itself, not understanding what they w

[2021-08-25 11:44] #4574 closed

[2021-08-25 11:52] Betree commented on #4577
Somehow the activities were not created properly for this expense, we need to investigate why.

However, the expense was marked as paid by https://opencollective.com/jackson-lacy who seems to have admin permissions on the Gift Collective.

[2021-08-25 12:13] znarf commented on #4577
Activities are there, so it's now a matter of knowing why they're not displayed.

<img width="701" alt="Screenshot 2021-08-25 at 14 12 08" src="https://user-images.githubusercontent.com/806/130788362-faf91623-a53a-4f73-a07b-f00d707172b7.png">

[2021-08-25 13:47] SudharakaP opened #4578 "Add Approximate USD Amount in the Crypto Contribution Flow"
This was something that we didn't do in the initial MVP but now that the crypto contribution flow is done it would be nice to show the user the approximate dollar amount that they will contribution in the flow. Figma designs are given below.

- [x] Add the approximate dollar amount in the right hand side contribution summary and below the contribution details section.
- [x] Investigate and add the

[2021-08-25 13:49] SudharakaP opened #4579 "Add the Giving Block Banner Underneath the Crypto Contribution Flow"
We need to add the Giving Block banner in the first section of the Crypto contribution flow as shown in the following figma design.

- [ ] Add the Giving Block Banner in the first section of the crypto contribution flow
- [ ] Add the additional sections for the FAQ section about they giving block (as shown in below design).

Figma Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Des

[2021-08-25 15:17] BenJam commented on #3689
Thanks, both for pressing on with this. Good job at thinking this through @Betree. We will shout loudly about this when we roll it out so I hope that we will see folks who need this using it.

[2021-08-26 07:41] Betree opened #4581 "Introduce `legalName` in the API"
Part of https://github.com/opencollective/opencollective/issues/3689

Items with the :test_tube: icon are things that should be covered by unit tests.

- [x] Add a `legalName` (string, default=null) field on the `Collectives` model
- [x] The mutation(s) to edit accounts should accept a `legalName` as argument :test_tube:
- [x] On GQLV2 `Account` object, add a `legalName` field. The resolver should

[2021-08-26 07:44] Betree opened #4582 "Show legal name in PDF documents"
Part of https://github.com/opencollective/opencollective/issues/3689
Require https://github.com/opencollective/opencollective/issues/4581

We want to show it as `Legal name (display name)` to prevent any confusion. We must handle the fact that the legal name might be null.

- [ ] Update `ExpenseInvoice` to show legal names
- [ ] Update `Receipt`/`ReceiptV2` to show legal names

[2021-08-26 07:47] Betree opened #4583 "Add legal name on new User and Organization forms"
Part of https://github.com/opencollective/opencollective/issues/3689
Require https://github.com/opencollective/opencollective/issues/4581

- [x] Add a `Legal` name field on `https://opencollective.com/account/edit` for individuals and organizations. "name" and "legal name" fields should have descriptions based on https://github.com/opencollective/opencollective/issues/3689#issue-745454887. It shou

[2021-08-26 07:49] Betree opened #4584 "Add support for legal name in the expense flow"
Part of https://github.com/opencollective/opencollective/issues/3689
Require https://github.com/opencollective/opencollective/issues/4581

- [x] Expense summary: if a `legalName` is provided for the payee, show it along with the real name (`Legal name (display name)`)
- [x] Also in the expense pages (create, edit, view) display the legal name of the host
- [x] In the expense form, if a legal name

[2021-08-26 08:38] Betree opened #4585 "Enforce limit in all GraphQL collection resolvers"
Whenever we return a `Collection` in GraphQL V2, `limit` should be a `GraphQLNonNull` field with a reasonable default value.

In some places, we may also want to reject queries where `limit` is set to a value that is too high.

[2021-08-26 08:42] Betree opened #4586 "Enforce limit for collections when not fetching `nodes`"
Followup on https://github.com/opencollective/opencollective-frontend/pull/6785

# Problem

In our GraphQL API, a very common pattern is to use a `Collection` to return paginated lists that usually consist of 4 fields: `offset`, `limit`, `totalCount` and `nodes` (the actual elements).

Not only this can be used to fetch the entry, but we actually use that in a few places to just get some totals:

[2021-08-26 10:14] alanna opened #4587 "Projects and Events lose parent Collective part of URL"
https://www.loom.com/share/1f9a567a080e414aaf3b2bb990e6e433

If you go to a Collective with a Project and click on it, the URL will be `opencollective.com/parent/projects/projectname`. But if you look at the Project's expenses page, the URL changes to `opencollective.com/projectname/expenses`. It should be 'opencollective.com/parent/projects/projectname/expenses'.

[2021-08-26 20:41] kaylarep opened #4588 "Add a discord link to collective/host's pages"
## User story
User feedback:

## Best solution for this problem
Add it either here in the Info section of settings:
![image](https://user-images.githubusercontent.com/64920686/131032758-f271aebc-922b-4bfc-9a4b-2470edc3b0e3.png)

OR
As a dropdown option in the 'Contact' button

## Goal
More options for people who want to contact a host/initiative

[2021-08-27 08:47] znarf opened #4590 "[PROJECT] Transactions CSV and Transactions update"
## Overview

After the release of the updated Ledger, we need to continue our work and update the way we format CSV exports.

It's also an opportunity to tweak a bit the Transactions page so what you see is consistent with what you export.

Finally, we would like to address a problem that was reported a lot recently, that we're not exposing Project and Events transactions on the main profile.

##

[2021-08-27 08:54] Betree opened #4591 "Contribute incognito as a guest"
We pretty often face the case on support (see [this one](https://opencollective.freshdesk.com/a/tickets/32835) for example) where people who contributed as guests do not find any option to contribute incognito and are later surprised to see their real name displayed.

@Memo-Es I remember we had something like a "Contribute incognito" checkbox on the info step at some point. Did we keep that idea?

[2021-08-27 15:01] SudharakaP opened #4592 "Make the Crypto and Flexible Contribution Enable Settings More Consistent"
Currently in the tier settings we see the flexible and crypto contribution enable settings as follows;

![image](https://user-images.githubusercontent.com/12435965/131147928-47f6b6a7-e645-4d3f-b5f1-564a18de25d1.png)

Note that the two section alignment is inconsistent. We should make it more consistent. My suggestion is that for both sections the description and the checkbox should appear on the r

[2021-08-27 15:26] SudharakaP opened #4593 "Provide the User with Blockchain Explorer Address at the end of Crypto Flow"
This was initially suggested at, https://opencollective.slack.com/archives/C028A6H56BG/p1630068654010300?thread_ts=1630007949.004700&cid=C028A6H56BG

It would be nice for the user to be able to view the progress of the blockchain transaction at the end of the Crypto flow. One thing to investigate is which websites we will use to give this information. We might need to use several here depending on

[2021-08-27 15:46] SudharakaP opened #4594 "Change Crypto Contribution flow Final Section Button to `Finish`"
This was discussed at https://opencollective.slack.com/archives/C028A6H56BG/p1630068806011500?thread_ts=1630007949.004700&cid=C028A6H56BG.

We need to change the button at the final section of the Crypto contribution flow (the deposit address section) to `Finish` instead of `Contribute...`. This makes more sense and is consistent with design.

https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BO

[2021-08-27 15:50] BenJam opened #4595 "[PROJECT] Hacktoberfest '21"
## Overview
As part of Hacktoberfest this year folks will be able to contribute $ to OS projects as well as code. Users to donate>$20 get a Hacktoberfest tee shirt.

## Owner
Lead: @benjam
Eng. @Betree

## Roadmap (launch ready 28th Sept)
Soft launch (announce only) 8th Sept
Launch ready 28th September

## Prioritization
**Impact**
Collectives will see an increase in contributions through the HAck

[2021-08-27 17:59] CaptainStack opened #4596 "Add a "monthly" goals option for Collective owners"
## User story
As a Collective creator/manager, I can set a monthly contribution goal

## Best solution for this problem
In the dropdown on the "goals" section of my Collective dashboard, there should be a "monthly" option alongside "yearly" and "balance"

## MVP
I am not personally at this time committing to building or submitting an MVP, this is a feature request. However, an MVP would likely be

[2021-08-28 00:09] kaylarep commented on #4588
good points and questions to raise @Betree...
I hadn't heard of Mattermost until now, but I know that Discord is gaining popularity as a tool amongst a lot of different groups right now (in the states at least, also in Europe from All4Climate's feedback.

Would it be possible to have many options available in the settings and then let the page admin select which 3 they want to be displayed? For ex

[2021-08-29 00:14] #4592 closed

[2021-08-29 10:58] DreadKnight commented on #2597
The weird thing is that for my AncientBeast project, the backer is actually the sponsor and the sponsor is actually the backer, because they have different types of accounts on OC. I could really use a procedural svg that would just display all of them, ideally sorted by amount...

[2021-08-30 06:19] shannondwray opened #4598 "Host page duplication load issue"
**Describe the bug**
When on the host page when you press load more there are duplicate hosts that appear. - https://opencollective.com/hosts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/hosts
2. Click on load more
4. See error

**Expected behavior**
Would expect no duplicates

**Screenshots**
1 added

**Desktop (please complete the following information):

[2021-08-30 06:44] Betree commented on #4598
Good catch, it looks like `orderBy` has no default value for the `allHosts` query. We should make it non-nullable and default to the number of collectives descending.

[2021-08-30 06:50] Betree commented on #4598
I don't know if it's related or not, but sorting doesn't seem to do its job properly; hosts are supposed to be ordered by the number of collectives hosted descending:

![image](https://user-images.githubusercontent.com/1556356/131297616-17193ffb-881d-4d76-9e43-1acc1c3f2fdc.png)

[2021-08-30 08:31] shannondwray commented on #4598
This issue is also occurring on the collective page :) https://opencollective.com/discover let me know if I should create another issue :)

[2021-08-30 15:05] Betree opened #4599 "Choose a charts library for the dashboard reports"
Part of https://github.com/opencollective/opencollective/issues/3689

While designing for the dashboard reports project, the design team based its work on 3 libraries:
1. https://apexcharts.com
2. https://www.chartjs.org
3. https://visjs.org

[Apex Charts](
https://apexcharts.com) is the one that is the most resembling what we have in Figma. We should however look at other metrics to pick the libr

[2021-08-30 19:14] #4594 closed

[2021-08-30 21:20] SudharakaP opened #4600 "Add Approximate Amount in Profile Currency for Contribution Flow"
Something I thought about over the weekend while contributing to a collective whose host currency is EUR (Euro). When we are contributing to a collective, in the contribution flow we display the host currency. So for example for this collective the currency is EUR; https://opencollective.com/help-escaping-afghanistan

However if I am contributing I would ideally like to see the how much I am contr

[2021-08-30 22:26] kewitz commented on #3880
Created a project: https://github.com/opencollective/opencollective/projects/64

[2021-08-30 23:38] SudharakaP commented on #4593
@znarf : A quick implementation was done for this with [https://blockchair.com](https://blockchair.com). So here we only support showing showing the Blockchain explorer URL for the following currencies; `BTC`, `ETH`, `BCH`, `LTC`, `ZEC`. Some currencies such as `Ox` and `Storj` I couldn't find good Blockchain explorers so I didn't add them for now. Maybe initially this is sufficient and if there's

[2021-08-30 23:50] SudharakaP opened #4602 "Handle Deposit Address Failure Error - Crypto Flow"
This is with regard to the following Slack Discussion: https://opencollective.slack.com/archives/G46PNRCGP/p1630341114053300. It was observed that if the API call to obtain the deposit address to The Giving Block fails then we will not show any error on the front-end and will silently fail. The user will not see the deposit address QR code but rather will see something like,

![image](https://user

[2021-08-31 00:02] SudharakaP opened #4603 "Disable Crypto Flow for All Collectives When the The Crypto Flow is Disabled on Host"
This is related to the slack discussion; https://opencollective.slack.com/archives/G46PNRCGP/p1630341114053300

Currently we set the `cryptoEnabled` on the host `settings` column when we want to enable the Crypto flow for a particular host. This lets all collectives under this host to enable the Crypto payment method in their settings. However if later the host decides to disable Crypto contributi

[2021-08-31 00:16] SudharakaP commented on #4603
Actually, I just realized that this we've already taken care of previously. Note the code,

https://github.com/opencollective/opencollective-frontend/blob/31fdb8c01936d9d90a0aaf7f852c66ed9f9796b6/components/edit-collective/sections/Tiers.js#L493

We do disable the card when the the host disables it. Sorry for my bad memory. 😸 😄

[2021-08-31 00:16] #4603 closed

[2021-08-31 00:34] SudharakaP commented on #4300
Project board created at https://github.com/opencollective/opencollective/projects/65

cc: @Betree

[2021-08-31 02:10] alanna opened #4604 "Wise balance showing EUR when currency is NZD"
https://opencollective.com/protozoa/dashboard

<img width="1025" alt="Screen Shot 2021-08-31 at 2 09 59 PM" src="https://user-images.githubusercontent.com/5498878/131430338-f530fd77-f19c-48f8-8e84-e0a5dd808d3e.png">

[2021-08-31 04:33] waaeabad opened #4605 "Nuevo"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-31 04:36] SudharakaP commented on #4605
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-08-31 04:36] #4605 closed

[2021-08-31 08:27] #3813 closed

[2021-08-31 08:28] Betree commented on #3813
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-08-31 08:38] znarf commented on #4529
We'll need to run this one manually I'm afraid.

[2021-08-31 09:55] Betree commented on #4598
@shannondwray Thanks! I've opened https://github.com/opencollective/opencollective-api/pull/6520 to solve both issues.

[2021-08-31 10:10] #4598 closed

[2021-08-31 11:59] #4544 closed

[2021-08-31 11:59] Betree commented on #4596
Just to make it clear since we also have tier goals, this issue is about **collective goals**:

![image](https://user-images.githubusercontent.com/1556356/131498702-f2e77c3a-9611-4483-9b2f-c2fedec9cc3b.png)

[2021-08-31 12:27] BenJam commented on #4509
okay folks, closing this out as the event I passed. Thanks everyone for contributing 🙌

[2021-08-31 12:27] #4509 closed

[2021-08-31 12:27] Betree opened #4606 "Admin dashboard reports: Total money managed section"
Part of https://github.com/opencollective/opencollective/issues/4300
Design file: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A157088)

---

## Collapsed view

- [x] For the first part of this issue, `HostMetrics` should provide all the data we need
- [x] The chart must use the primary color of the collective. For now, we've d

[2021-08-31 12:48] BenJam commented on #3593
@aminakazi's design https://www.loom.com/share/f59ade7e795f4d509a4d4089ed971c3e

[2021-08-31 14:53] SudharakaP opened #4607 "Use `order.data` instead of `order.data.customData` to store the Giving Block Related Values"
This was initially brought up at, https://github.com/opencollective/opencollective-api/pull/6513#discussion_r699395359.

We need to use `order.data` directly instead of using `order.data`customData` to store the Giving Block related values such as `pledgeCurrency`, `pledgeAmount` etc.

[2021-08-31 15:34] Betree commented on #4584
Let's tackle the last item from https://github.com/opencollective/opencollective/issues/4581#issue-979936660 at the same time as this one, it will be easier for testing.

[2021-08-31 15:36] Betree commented on #3689
@alanna I suppose the CSV you're referring to is the one received by email with the monthly host report?

[2021-08-31 15:46] Betree opened #4608 "Paginate comments (for updates, expenses and conversations)"
In https://github.com/opencollective/opencollective/issues/4585, we're going to be more strict about pagination. Comments actually lack pagination in the frontend, we should display a "Load more" button to make sure this is handled properly in all places using a  `<Thread />`:

- Update page
- Expense page
- Conversation page

[2021-08-31 18:12] znarf commented on #4607
There is no `data` input right now on `OrderCreateInput` and this is why we relied on `customData` for the MVP.

I think we can create a generic `data` field there, but we need to properly sanitize the data. Only accept known keys, and refuse invalid values.

Practically, I would prefix `pledgeCurrency`, `pledgeAmount` as  `thegivingblock.pledgeCurrency` and `thegivingblock.pledgeAmount`.

[2021-08-31 19:21] SudharakaP commented on #4599
So I've done some investigation;

### [Visjs](https://visjs.org/)

I don't think we should use [Visjs](https://visjs.org/) as it doesn't seem actively maintained anymore; https://github.com/almende/vis/issues/4259#issue-412107497. They have moved the community version to a new org and thus there's two alternatives; [vis-charts](https://github.com/visjs/vis-charts) as a direct all-in-one replacemen

[2021-08-31 20:00] ninavizz opened #4609 "Create email address for automatic invoice submissions"
## User story
As a paid contributor to an OpenCollective project, I would like a workflow for invoicing that aligns with the rest of my customers, so that invoicing my OC customers can take less time and be less annoying.

Currently, most of my customers have a specific email address for their billing system's intake, that they send to their vendors plug-in to their invoicing software. Tagged fiel

[2021-08-31 22:12] SudharakaP opened #4610 "In the expense form, if a legal name is defined for the payee, make sure it's set by default when adding a bank account and don't allow users to change it (there should be a tooltip to explain why it cannot be edited)"

[2021-08-31 23:19] SudharakaP commented on #4584
Yes, I'll add this API part tomorrow. For the front-end part I've added support for the tree items mentioned in this issue in the [above PR](https://github.com/opencollective/opencollective-frontend/pull/6818). There's one small doubt though. In the second item you've written,

As you can see in the screenshots in the PR I've added the legal name of the host in the expense view screen. However cor

[2021-08-31 23:30] alanna opened #4611 "Projects and Events can have their own different admins"
## User story
As a Collective admin, I want to empower leaders of Projects and Events without needing to add them as admins over the whole Collective.

As an Event or Project organizer, I want to be able to edit the page settings, send updates, and approve expenses.

## Best solution for this problem
A team section within the settings for each Project or Event where you can add people different to

[2021-09-01 00:16] SudharakaP opened #4612 "Stripe Payments Rejected: Indian based Merchants"
This is with regard to the Freshdesk ticket: https://opencollective.freshdesk.com/a/tickets/32659

It seems that trying to make a payment with an Indian based card gets rejected with the following error on Stripe;

We need to investigate more on this and potentially support these cards. 🤔

[2021-09-01 02:16] Memo-Es opened #4613 "[FIX] Update notification banner design"
Can we update the notification banner so we reduce the vertical space?

| Current | Desired |
|---------|---------|
|   ![image](https://user-images.githubusercontent.com/12435965/126227021-f6c9599c-e6e1-4a0c-ad5b-34ce0c39ab44.png)   |   <img width="1438" alt="Screen Shot on 2021-08-31 at 21-14-57" src="https://user-images.githubusercontent.com/49539954/131600722-547437ff-6d81-4a56-b8f8-ba9505d4e8

[2021-09-01 06:51] Betree commented on #4611
This is how things were initially done, the ability to edit event members was removed to simplify the feature.

Ping @znarf

[2021-09-01 06:55] Betree commented on #4613
@Memo-Es With the first example, where should the `Send $xx to Collective` button live? Should we just change the vertical margins, or is the button meant to move as well?

[2021-09-01 07:17] znarf commented on #4611
It was a bit messier back then, Collective admins were initially **copied**. And from then were Event admins managed independently and never re-synchronized.

I'm happy to reintegrate **additional** admins for Events/Projects, if we all agree that parent Collective admins will keep full admin rights on Events/Projects all the way.

[2021-09-01 12:30] znarf opened #4614 "Create Collective "close" icon is not properly aligned"
<img width="693" alt="Screenshot 2021-09-01 at 14 30 45" src="https://user-images.githubusercontent.com/806/131671411-586def9a-6bf6-4e0e-b9aa-4b1ae9814387.png">

[2021-09-01 14:39] SudharakaP opened #4615 "Storybook Deployment Failure: Not Fixing Dependencies"
It was noted in this PR; https://github.com/opencollective/opencollective-frontend/pull/6798 that Storybook deployment fails intermittently. If I recall correctly I have seen this problem before as well. 🤔

And if we checkout that branch (in the aforementioned PR) and then do local deployments or builds etc it seems to work correctly. My thinking is that this is caused by the Storybook dev depende

[2021-09-01 18:55] SudharakaP opened #4616 "Add the Currency Conversion and Payment Processor Fee for Crypto Flow"
This was taken from the following discussion; https://github.com/opencollective/opencollective-frontend/pull/6787#discussion_r700347283

For the initial design of the Crypto flow we had;

![image](https://user-images.githubusercontent.com/12435965/131727097-7080e0e2-406e-4e00-bce6-fa5417943e6e.png)

Notice the currency conversion value in the `Contribution Summary` section. This was challenged lat

[2021-09-01 18:58] #4602 closed

[2021-09-01 19:23] #3982 closed

[2021-09-01 19:58] SudharakaP commented on #4614
This is introduced by https://github.com/opencollective/opencollective-frontend/pull/6704 where we changed the style/alignment of the modal close icon. This modal is a special case and I think we missed this one. Anyways, I've made a pull request to correct it. 🙂

[2021-09-01 20:11] SudharakaP opened #4617 "Add Support to Contribute for Past Events - For non-Admin Users"
This is with regard to the following comment: https://github.com/opencollective/opencollective-frontend/pull/6797#pullrequestreview-744299588

Maybe we could remove the restriction for contributions to past events for non-admin users as well. This needs to be discussed with the team but the main proposal is as follows.

- [ ] Remove the restriction for show the contribution section for past events

[2021-09-01 20:33] OpenNtwk opened #4618 "Troubles to setup local dev database"
I'm trying to run the `opencollective-api` with `opencollective-frontend`
I've tried `db:setup` and `db:seed` but it seems there is still something missing in DB. Is there any DB dump with latest structure and some seed data?
the db:migrate doesn't seem to run either (but since sequelize sync has worked that shouldn't be big issue)

Steps to reproduce the behavior:
1.  `db:setup`
2. `db:seed`
3.

[2021-09-01 20:57] SudharakaP commented on #4618
@OpenNtwk : Which instructions did you follow?

First you need to follow; https://github.com/opencollective/opencollective-frontend#readme for setting up the front-end. Make sure the correct environment variables are set as per, https://github.com/opencollective/opencollective-frontend#environment-variables

Then make sure to setup the API properly as per https://github.com/opencollective/opencoll

[2021-09-01 23:05] alanna opened #4619 "Change 'reject' to 'spam' or 'flag' and add tooltip"
I have seen many users be confused about whether they should click `reject` or `refund` on a contribution they want to reverse ([example](https://opencollective.slack.com/archives/CJ2ERRZQ8/p1630479900006600)).

I think it would be clearer if the button said `spam` or `flag` as these are common terms on other apps for a similar function. It would also be helpful if on hover these buttons had toolt

[2021-09-02 06:57] #4567 closed

[2021-09-02 07:03] alanna opened #4622 "Admin can reorder Projects"
## User story
As a Collective admin, I want to be able to reorder Projects so that I can better communicate our activities and tell the story my Collective wants to tell.

## Best solution for this problem
A drag and drop option on the Projects page to reorder the cards.

## MVP
Maybe options like order by most recently created, most recent activity, biggest budget, most contributors? I think manu

[2021-09-02 07:06] znarf opened #4623 "Payment Processor Fees as separate transactions"
Follow up from: https://github.com/opencollective/opencollective/issues/3552

Now that we moved Host Fees to separate transactions, the question is what to do with Payment Processor Fees. We don't feel a pressing need right now but that might be desirable to fully migrate to this design of separate transactions for fees.

One difference is that Payment Processor Fees can't be credited to a differe

[2021-09-02 07:06] znarf commented on #3552
This was done, at the exception of payment processor fees. We can track this in a separate issue:
https://github.com/opencollective/opencollective/issues/4623

[2021-09-02 07:06] #3552 closed

[2021-09-02 07:17] znarf commented on #4619
+1 for tooltip.

-1 for rename, I'm not convinced that the proposals are improving, maybe the opposite. Maybe we should iterate on the feature itself.

Rejecting is currently refunding and cancelling the contribution at the same time, whatever your reason.

For one-time contributions, maybe rejecting is not useful and can be consolidated under refunding.

For recurring contributions, maybe we can

[2021-09-02 07:20] Betree commented on #4623
I'm all in for the null CollectiveId / FromCollectiveId approach. It's a bit more work to adapt everything, but that's also what makes the most sense IMO.

[2021-09-02 07:24] Betree commented on #4622
We could re-use most of the logic & code used to re-order tiers. Since these are based on the same `ContributeCard`, it shouldn't be difficult to achieve.

While implementing, we should actually think about doing something that would be easy to transpose to Events, Connected collectives, Event's tickets, etc. Everything that gets displayed with a contribute card on the collective page.

[2021-09-02 07:28] Betree commented on #4619
Something else it's doing is to remove the contributor from your members. That's also why it makes some sense for one-time contributions.

[2021-09-02 07:40] znarf commented on #4619
@Betree In a simple case, a one-time is also a unique contribution, I was then thinking it's right to remove the contributor whatever Reject or Refund. And I'm not sure we care about the more complex case?

[2021-09-02 08:04] #4582 closed

[2021-09-02 08:21] #4615 closed

[2021-09-02 12:42] Betree commented on #4551
Implemented in https://github.com/opencollective/opencollective-frontend/pull/6768

[2021-09-02 12:42] #4551 closed

[2021-09-02 12:42] Betree commented on #3787
Implemented in https://github.com/opencollective/opencollective-frontend/pull/6768

[2021-09-02 12:42] #3787 closed

[2021-09-02 13:04] Betree commented on #4140
Many collectives still end up with badly cropped/positioned hero images. I would love to consider this issue for prioritization (along with https://github.com/opencollective/opencollective/issues/2709) next sprint or so.

[2021-09-02 15:39] SudharakaP commented on #4584
@Betree : So this part is added at, https://github.com/opencollective/opencollective-api/pull/6545. Screenshot given in PR. 😄

[2021-09-02 16:28] SudharakaP commented on #4617
@Betree : Thanks for the feedback. Yes, so we'll wait for a use case. Also note that with the [previous PR](https://github.com/opencollective/opencollective-frontend/pull/6797), admins can buy tickets of past events. If no objections I'll open a new PR correcting this as that doesn't make sense? 🤔

[2021-09-02 17:12] SudharakaP opened #4624 "Tooltip Not Shown Correctly on Description in Manage Contribution Cards"
Something I've noticed recently while going thought the manage recurring contributions section in the user profile. In the recurring contributions cards there's a small description that shows below the payment method section and the tooltip for that seems not to be rendering properly.

![Screenshot from 2021-09-02 10-10-53](https://user-images.githubusercontent.com/12435965/131887804-7f093c53-6584

[2021-09-02 19:44] SudharakaP commented on #4534
My understanding is that we have done this for a reasonable degree; at least with Binaace and Coinbase. And therefore I am closing this. Feel free to re-open or create a new issue if you see any issues related to the QR code. 😄

[2021-09-02 19:44] #4534 closed

[2021-09-02 20:32] SudharakaP commented on #4606
@Betree : I'll take this one if no objections, or unless you already have plans to do it yourself. 😉  😄

[2021-09-02 21:54] SudharakaP commented on #4523
@znarf : I proposed a quick and simpler fix than before in the above PR, the problem that we see in the staging and dev environments is that, `data.host.transferwise` being `null`. Thus checking for that in that component and showing a warning message should I think handle this case. Let me know. 🙂

[2021-09-02 22:17] alanna commented on #2757
Bumping this again. This causes me pain consistently, and it seems like such a small thing to ask for. Can it just be done?

[2021-09-02 23:04] SudharakaP commented on #2757
@Betree : I can help with this, but my thinking is it might be better to show the terms and conditions in a modal, that way de don't take the user out of the context of the page; maybe they came to check something and navigating them to a special page in my mind might be counter intuitive. So how about a simple modal with the terms and conditions and the user can just dismiss it. 😄 WDYT?

[2021-09-02 23:05] alanna commented on #3190
@znarf my meeting with Google about Season of Docs is next week. Can you please confirm if we can commit to this being ready by the end of 2021 and when you estimate it will be done? It impacts how we set up the programme with them.

[2021-09-03 07:04] Betree commented on #2757
@SudharakaP The problem is that we don't really know where the link is pointing to. It can be a web page, a Google Doc, a PDF, etc. Using an iframe for this could cause many problems, I think we should stick with a redirect.

I'm a bit worried about security though. Today, when people are redirected from unverified user links, we show a warning like this one: https://opencollective.com/redirect?ur

[2021-09-03 07:13] Betree commented on #4606
@SudharakaP Feel free to implement the `Collapsed view` part. For the historical view, I want to explore a bit the API queries to try and see how we can re-use as much as possible what we have while making sure performances are there.

[2021-09-03 07:41] aggmoulik commented on #4552
Hey @Betree , I am new to the opencollective repo, can you help with this issue as I want to work on it, seems like a good issue to work on initially.

[2021-09-03 08:03] Betree opened #4625 "Button to reset the expense form"
Some people sometimes get stuck on the expense form. Can be because of a bug, or a misunderstanding. Anyway, it would be great for them to have a "Reset" button that would clear the form and remove the draft saved in `localStorage`. We should make sure to show a confirmation before triggering the reset, to prevent misclicks.

@Memo-Es Could you suggest a position for such a button?

![image](https

[2021-09-03 08:07] znarf commented on #3190
@alanna The team is committed to deliver this feature in 2021. We will likely star the work next sprint.

[2021-09-03 08:35] Betree commented on #4552
@aggmoulik Since this is an API issue, you'll need to clone both Frontend and API. You can follow these steps to setup your local env: https://github.com/opencollective/opencollective-frontend#environment-variables. Once everything's working, you'll be able to see sent emails on http://localhost:1080/.

Regarding this issue itself, you could reproduce it by:
- Picking the collective you want to us

[2021-09-03 08:37] #4624 closed

[2021-09-03 08:42] Betree opened #4626 "Attach tags to orders"
## User story
- For https://github.com/opencollective/opencollective/issues/4595, we need to tag all orders that will be made through the Hacktoberfest embed, so that we can export them when the event is done.
- We could re-use this tag system for any event happening in the future, or to conduce A/B testing experiments

## Best solution for this problem
- Hacktoberfest will use an embed URL like h

[2021-09-03 09:57] Betree commented on #4586
Another reason why need something like a `queryIncludesField('fieldName')` helper: in `TransactionsQuery` we return a `kinds` listing all the transactions kinds available for this query (used to build the filter). But we don't need to fetch this if the field is not there. It would be very convenient to be able to write:

[code]

[2021-09-03 10:07] Betree opened #4627 "Root admin action to enable/disable features for an account"
## User story
As a member of the support staff (root user), I can easily activate or deactivate features for accounts. This would be especially helpful for features in beta, where it's currently tedious to:
1. Open your database management tool
2. Look for the collective
3. Remember or look for the right feature flag
4. Update the value in JSON and save

## Best solution for this problem
Create a

[2021-09-03 10:15] Betree opened #4628 "Add a special permissions group for members of the support staff"
With more tools being planned for the support staff (like https://github.com/opencollective/opencollective/issues/4627), we need to check that they have special permissions as we don't want to open these features for everyone. We currently achieve that by adding them to https://opencollective.com/opencollective, which makes them root users and gives them full access to many things, including the p

[2021-09-03 10:16] BenJam commented on #4595
Updated to remove the tee shirt process after confirming with @pheobyquincy that they're not planning on doing this for financial contributors.

[2021-09-03 10:21] Betree opened #4629 "Ability to disable some payment methods in the contribution flow"
## User story

- For https://github.com/opencollective/opencollective/issues/4595, we are afraid that allowing bank transfers could be abused by people spamming the feature without any intent to send the money.
- As a collective/host admin embedding the contribution flow on my website, I may want to filter out some payment methods to simplify the flow or because it is more convenient.

## Best sol

[2021-09-03 10:24] Betree opened #4630 "GQLV2 query to fetch accounts"
## User story
For https://github.com/opencollective/opencollective/issues/4626, Hacktoberfest will need to retrieve all accounts that have the `hacktoberfest` tag.

## best solution for this problem

Implement a new `accounts` (`AccountsQuery`). We need the ability to filter the returned projects:
- By tags
- Whether the account is active
- Has custom contributions enabled
- Supported payment meth

[2021-09-03 11:26] Betree opened #4631 "Query to fetch total donated for hacktoberfest campain"
For Hacktoberfest, we need a query field to give the total amount contributed with an `hacktoberfest` tag attached to the order. Ideally, the solution we implement should be useful for similar needs in the future.

I see a few ways we could do that:

1. On OrdersQuery, add a `totalAmount` for `OrdersCollection`.
+: Simple
-: Inaccurate: will not account for refunded transactions

2. On Transaction

[2021-09-03 11:54] znarf commented on #4616
To be fair, the version in the design is already a bit better than what was challenged in our review.

Something we also need is an approximation of the Payment Processor Fees, can you add this to the issue @SudharakaP ?

[2021-09-03 12:58] SudharakaP commented on #4616
Yes, I've changed the title and added the payment process fees to the description as well. We'll handle both in this issue. 👍🏽

cc: @Memo-Es

[2021-09-03 14:07] Betree commented on #3628
This will be resolved in the next iteration of the contribution flow, as we're going to use a collective picker for the profile selection. Let's say that `isSearchable` should be true if `profiles.length > 5`

![image](https://user-images.githubusercontent.com/1556356/132018493-9e8e679a-815e-4176-86f1-9cebd30b2b0c.png)

[2021-09-03 15:19] #4569 closed

[2021-09-03 15:26] BenJam commented on #4557
![where](https://user-images.githubusercontent.com/158833/132029927-12e57cbc-30ee-4641-a5f8-e161e43a9a96.gif)

[2021-09-03 15:46] Memo-Es commented on #4613
@Betree Reference:

<img width="1539" alt="Screen Shot on 2021-09-03 at 10-44-55" src="https://user-images.githubusercontent.com/49539954/132032635-cd731482-99b3-49a1-9648-431cf4690c55.png">

[2021-09-03 18:59] SudharakaP opened #4632 "Add a message in Activate as Host to Advise Admins to Set Their Legal Name"
Related to the MVP proposed here; https://github.com/opencollective/opencollective/issues/3689#issuecomment-905305266 and the discussion at https://opencollective.slack.com/archives/C0RMV6F8C/p1630602431037400.

We need to add a simple message so that admins know to set the legal name when they activate the host.

[2021-09-03 19:28] SudharakaP commented on #4632
@Betree : I am not sure if the message sounds good; let me know if you have alternatives. 😉

[2021-09-03 20:31] kaylarep opened #4633 "Add Page Details in the Header of Settings"
## User story
When in the Setting Menu, it would be helpful to see which page's settings I am viewing in the header.
 E.g. This is the Settings Menu for our fiscal host:
![image](https://user-images.githubusercontent.com/64920686/132062039-f80ed9ac-9c6e-4961-a2b8-f3e4fb330bc4.png)

And this is the Settings Menu for an event by that fiscal host
![image](https://user-images.githubusercontent.com/649

[2021-09-03 21:07] alanna opened #4634 "Agree to terms of fiscal sponsorship on admin invite screen"
Hosts need every Collective admin to agree to their terms of fiscal sponsorship. Otherwise we can get in a legal situation where the original admin is gone and no one in the Collective has ever agreed to the terms.

We should have a checkbox on the pending invitation card to agree to the terms of fiscal sponsorship, just like when applying with the Collective.

<img width="514" alt="Screen Shot 20

[2021-09-04 15:10] SudharakaP opened #4636 "Update Cryptographic Hash Algorithm from `SHA1` to `SHA3`"
This was initially pointed out at, https://opencollective.slack.com/archives/C0RMV6F8C/p1630767161048100. At several places in the API we use the [`SHA1` hash](https://en.wikipedia.org/wiki/SHA-1). It would be nice to update this to [`SHA3`](https://en.wikipedia.org/wiki/SHA-3) to conform with the latest standard. 😃

[2021-09-04 15:10] SudharakaP commented on #4636
If no objections I can look into this one. 😉

[2021-09-04 16:15] znarf commented on #4636
Using an hashing algorithm is not insecure if it's not used for security features or cryptography.

Creating a cache key with whatever version of an hashing algorithm is fine. We could be using md5 and it would be the same.

[2021-09-04 19:12] m5kr1pka commented on #4636
Are you sure about MD5. The MD5 message-digest algorithm is a cryptographically broken but still widely used hash function producing a 128-bit hash value.

Somewhere I've read that bcrypt is good, but this is not my area of expertise.

[2021-09-05 06:11] SudharakaP commented on #4636
Makes sense; thanks for the explanation. It's seems to be used only for caching and one other instance we use it for creating the `sender_batch_id` for paypal; https://github.com/opencollective/opencollective-api/blob/0438cc597790f802c75a9f2702b10084d5aad0ee/server/paymentProviders/paypal/payouts.ts#L53. Hence I am closing this issue.

[2021-09-05 06:11] #4636 closed

[2021-09-05 08:18] m5kr1pka commented on #4636
In transferwise case you use bank account details as a cache key. Cache keys tend to leak to front.

```const hashObject = obj => crypto.createHash('sha1').update(JSON.stringify(obj)).digest('hex').slice(0, 7);```

https://github.com/opencollective/opencollective-api/blob/0438cc597790f802c75a9f2702b10084d5aad0ee/server/paymentProviders/transferwise/index.ts#L180

[2021-09-05 21:47] alinamanko opened #4637 "Support Metrics Report August 2021"
### Support Metrics Report August 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month. Please note that this month we are experimenting with a different view so we may lack some of the comparative figures. Would love to receive some feedback to know if this type of presentation is more useful for making m

[2021-09-06 00:01] alanna commented on #4637
Thanks @alinamanko !

Would it be worth asking these people how they ended up contacting us? That would help figure out where they are getting confused.

Can we just have a canned response for these and not get involved in back and forth at all? It sounds harsh but I'll support simply not responding if it's taking a lot of time. These support requests aren't our responsibility.

We've gotten const

[2021-09-06 01:17] alanna commented on #4637
@kewitz is there a way to structure the data input to improve this?

[2021-09-06 06:26] Betree commented on #4613
@Memo-Es Should the banner be fixed like that? It's hiding part of the avatar + the buttons to edit the hero image, yet there doesn't seem to be a way to close it.

[2021-09-06 06:28] Betree commented on #4633
This will be solved by the new design @kewitz is implementing in #3880, as we're going to show a breadcrumb:

![image](https://user-images.githubusercontent.com/1556356/132170495-53275115-dd88-4b84-bf56-6f25bc51540d.png)

[2021-09-06 06:47] Betree commented on #4636
I too don't see any security issue with this either:
- For PayPal, the hash is there to prove the uniqueness of the batch. There are no user data injected (we're only using IDs) so creating a collision is extremely unlikely, if not impossible. And in case there would be a collision, it would just make the payment for this batch fail.
- For Transferwise, we're caching the required cache keys for th

[2021-09-06 08:35] alanna commented on #4224
Here's a comment thread explaining why this is important to users and communities: https://opencollective.com/bronzeville-kenwood-ma/expenses/49183#new-comment-on-expense

[2021-09-06 09:17] Betree opened #4638 "Improve validations on collectives names"
Our validations on collective names are pretty minimal. We just trim the string, remove multiple spaces and check the length. We should enforce stricter rules on the model. Such change must be done carefully, testing the regex on real data to make sure we're not going to impact existing collectives.

- [ ] Figure out a regex strict enough to prevent names like `https://google.fr` but permissive en

[2021-09-07 04:01] alanna opened #4639 "Projects can have Projects"
## User story
As a Collective admin, I want to nest Projects within Projects, so I can further break down budgets and activities accordingly.

## Best solution for this problem
A way to create a Project within a Project.

I don't know if this is a crazy idea or if would actually be simple. If it's crazy, ignore it. But if it's easy to replicate the same architecture recursively, we should consider

[2021-09-07 05:14] alanna opened #4640 "Hide archived Projects"
See https://opencollective.com/ehf-community

The `EHF Connectorship` Project has been archived. It turned grey, but is still in a prominent position. Archived Projects should move to the end of the row of Project cards. This should apply on the /projects page as well - right now the archived one is near the top there too.

<img width="1248" alt="Screen Shot 2021-09-07 at 5 12 50 PM" src="https://

[2021-09-07 05:17] alanna opened #4641 "Add label to archived Projects"
When a Project has been archived, it should get an `archived` label, similar to how past Events get a `past event` label. This is to make their status more clear.

<img width="1248" alt="Screen Shot 2021-09-07 at 5 12 50 PM" src="https://user-images.githubusercontent.com/5498878/132288102-016b0486-d66b-4197-8209-b3378be77c85.png">

<img width="628" alt="Screen Shot 2021-09-07 at 5 15 22 PM 1" src=

[2021-09-07 09:13] Betree opened #4642 "Block edit account page for incognito profile"
When accessed directly, https://opencollective.com/incognito-58f47536/edit allows users to edit their incognito profile info. We want to prevent that.

[2021-09-07 09:15] Betree opened #4643 "PDF receipts are missing refunds for gift card transactions"
This is not a priority at the moment as we have no occurrence of gift card transactions being refunded, but the current code in the API would prevent such transactions from appearing in the receipt PDFs.

[2021-09-07 09:22] Betree commented on #3970
Since https://github.com/opencollective/opencollective-frontend/pull/6260, we have many dedicated contribute pages based on the main one (/collective/tiers, /collective/events, /collective/connected-collectives, /collective/projects). Resolving this issue would provide the ability to embed all these pages for free.

[2021-09-07 09:24] Betree commented on #4341
This issue could help in the context of #4595, as a way for the event organizers to hook to the "Success" event to show a custom page on their end or to refresh the data.

[2021-09-07 09:30] Betree commented on #4515
Our [public GraphQL API](https://docs.opencollective.com/help/contributing/development/api#graphql-api) already allows retrieving the data needed to build pretty much anything (collectives/projects objects, their names, images, goals, expenses, etc).

Regarding other parts of the frontend to embed, we already talked about:
- https://github.com/opencollective/opencollective/issues/3970
- https://gi

[2021-09-07 09:39] znarf commented on #4622
As discussed with @Betree, an MVP could be to only implement the sorting part and manually set the order in the database. We can later implement the drag'n'drop sort interface.

[2021-09-07 12:49] #4583 closed

[2021-09-07 13:22] Betree opened #4644 "Enhancements on `hostMetrics` GraphQL field"
- Dates (from, to) should be `GraphQLDateTime`
- Fields should be resolved individually, to prevent computing everything when you're just interested in one field like for https://github.com/opencollective/opencollective-frontend/blob/11f51deae32db7b172a7716779f56be177ad3717/components/edit-collective/sections/HostPlan.js#L178

[2021-09-07 13:34] Betree commented on #4644
Alternatively, the second item could be achieved like mentioned in https://github.com/opencollective/opencollective/issues/4586#issuecomment-912416325

[2021-09-07 15:49] poikilos commented on #2420
@XVilka The links are broken. Does anyone know where this went or whether it still works or is maintained anywhere?

[2021-09-07 16:05] #4630 closed

[2021-09-07 16:05] #4585 closed

[2021-09-07 16:05] #4629 closed

[2021-09-07 16:11] #4101 closed

[2021-09-07 16:33] #4626 closed

[2021-09-08 01:47] alanna opened #4645 "Do not require tax forms for (most) paypal payees"
We seek to reduce collection of tax forms wherever possible, as it's a barrier people face to getting paid and creates more support burden on our team.

I have confirmed with our accountant that we do not need to issue 1099s to payees paid via Paypal. The reasons for this are complex but the short answer is that Paypal will issue them their 1099 instead of us.

However, he recommended we still col

[2021-09-08 07:18] Betree opened #4646 "Improve links contrast in dark toast notifications"
In dark toasts, we keep the default link colors. They're difficult to read, and probably don't match our accessibility standards.

![image](https://user-images.githubusercontent.com/1556356/132463851-a54c5f91-8df1-42a1-ae56-cdff238af898.png)

[2021-09-08 07:34] Betree opened #4647 "Show PayPal recurring contributions before they're confirmed"
# Problem

In [this support ticket](https://opencollective.freshdesk.com/a/tickets/25384), a user created a recurring contribution with PayPal. This user then went to `Manage my recurring contributions` and didn't see it, which lead them to create a second one.

The reason why they didn't see it is that the PayPal payment for subscriptions is asynchronous, and we rely on the webhook to confirm the

[2021-09-08 07:59] Betree opened #4648 "Do not create duplicate memberships when merging accounts"
Not a big issue and easy to fix manually, but the `mergeAccounts` (root-only) feature can end up creating duplicate memberships. If you merge two users, and they're both an admin of a collective, you will end up with two ADMIN memberships to the same collective.

# Expected behavior
When moving members, if an entry already exists for this `CollectiveId`/`MemberId`/`role`/`TierId`, (soft) delete th

[2021-09-08 14:37] SudharakaP opened #4649 "Add E2E Tests for the Crypto Contribution Flow"
Currently we don't have any tests for the Crypto contribution flow. It would be useful to add some end-to-end tests so that we could test the flow and make sure we don't' break it in the future. 🙂

Some of the things that might be useful to test are,

- [ ] Make sure the validation is working when choosing the Crypto currency and amount. For example cannot chose negative amounts and move forward i

[2021-09-08 20:44] Memo-Es commented on #4591
With the newest improvements to the contribution form, we solved this not by leaving the incognito checkbox but rather having the 'Display name' as optional; if the user leaves it in blanc, the contribution appears as 'incognito.'

![Annotation on 2021-09-08 at 15-39-43](https://user-images.githubusercontent.com/49539954/132582245-f19b5210-28c9-4068-857e-382f59c0c509.png)

Question: What's the dif

[2021-09-08 20:57] SudharakaP commented on #4606
@Betree : So I've done the initial implementation of the reports section. Hope it looks good. 😄

Few things to note;

1) I was exactly sure if I did the calculations correctly here;

https://github.com/opencollective/opencollective-frontend/blob/bc49043dac6e1292a591eb93b959e15c5e7eb3f2/components/host-dashboard/reports-section/TotalMoneyManagedSection.js#L121-L126

Let me know if you see any issue

[2021-09-08 21:25] Memo-Es commented on #4299
## Production-ready files

| Components | Check-out page | Success |
|------------|----------------|---------|
|   ![❖ Contribution Flow](https://user-images.githubusercontent.com/49539954/132587663-0c73d86d-aed1-40bc-8fa0-86a80b552a58.png)   |   ![Desktop](https://user-images.githubusercontent.com/49539954/132587675-cf3af751-30da-4788-ab00-233cdb4340b0.png)      | ![Desktop (1)](https://user-imag

[2021-09-08 22:10] alanna opened #4650 "Set Projects order"
@znarf says

Right now inactive or less important Projects can appear at the front and dominate that section of a Collective page (related: #4640 #4622).

I'm trying to think of the best option for setting Project order that is simple will also enable users to actively affect the order as a workaround.

* Order by most recent activity (transaction or update to settings/description, etc): Live Proj

[2021-09-08 22:38] alanna opened #4651 "Unable to invite user - blank error"
I'm trying to invite a new user via the team settings page.

![Screen Shot 2021-09-09 at 10 34 27 AM](https://user-images.githubusercontent.com/5498878/132594949-96ff0b4e-4eba-4175-9109-67a919d7893f.png)

No error message, unable to proceed.

[2021-09-08 22:41] alanna opened #4652 "Do not ask for legal name when inviting user"
Legal name should be set by the user themselves, not the inviter.

![Screen Shot 2021-09-09 at 10 33 50 AM](https://user-images.githubusercontent.com/5498878/132595143-c157824f-6ef4-46c3-982b-6d0d0a452e18.png)

[2021-09-08 22:43] alanna opened #4653 "Legal name placeholder should match profile type"
![Screen Shot 2021-09-09 at 10 33 50 AM](https://user-images.githubusercontent.com/5498878/132595183-d6d560ed-c7b9-4b98-819b-a19173484d9a.png)

This is misleading - we're creating an individual profile but the help text says "eg. Open Collective Inc".

If it's an individual the help text should be a person's name, like "Maria Garcia"

If it's an organization, it should be a company name as above,

[2021-09-08 22:51] alanna opened #4654 "Clarify legal name is optional"
![Screen Shot 2021-09-09 at 10 45 47 AM](https://user-images.githubusercontent.com/5498878/132595609-0b4a0196-c1f6-4d8c-a369-74d32c1a98c2.png)

It's not clear from this that the legal name is optional, and only needed if different than your display name.

[2021-09-08 23:14] kaylarep commented on #4280
a couple more Events suggestions:
![image](https://user-images.githubusercontent.com/64920686/132589793-97de53ef-31a2-4071-a342-14b0c2868734.png)

- Events should appear in the frozen header (or at least as a drop-down under 'Connect')
- Past events should have much less prominence (either greyed out; or not appearing at all, but have a link somewhere to 'View Past Events')

[2021-09-09 07:22] #4559 closed

[2021-09-09 07:30] Merian0818 commented on #4654
Legal name is Ur family name

[2021-09-09 07:31] Merian0818 commented on #4653
Label

[2021-09-09 07:53] Betree commented on #4652
@alanna We should keep the field for organizations, right?

[2021-09-09 08:01] #4652 closed

[2021-09-09 08:09] #4651 closed

[2021-09-09 09:09] Betree commented on #4650
`By date created` is the easiest to implement (one-line change, no additional data to fetch). It's also the most stable, and consistent with what we do for other parts of the interface (connected collectives, tiers, etc).

I would personally vote for this to be the default behavior, and focus on #4622 to give more options for admins to sort things as they want.

[2021-09-09 09:12] Betree commented on #4654
Ping @opencollective/design

[2021-09-09 09:22] znarf commented on #4650
+1 for date created as quick fix, descending?

[2021-09-09 10:48] alanna commented on #4650
ok let's go for date created, with newest first

[2021-09-09 12:42] Betree commented on #3121
https://github.com/opencollective/opencollective/issues/4645 actually surfaces more complex conditions than just checking the amount:
| Invoice payments per calendar year | Tax form Required? |
| ----------- | ----------- |
| $600 or more by any method besides Paypal  | Yes  |
| $600-$100,000 via Paypal   | No   |
| $100,000 or more via Paypal | Yes |

For this reason, I no longer see this issue a

[2021-09-09 12:42] #3121 closed

[2021-09-09 13:32] Betree opened #4655 "`idDecode` should throw an error when format is invalid"
Sentry issue: https://sentry.io/organizations/open-collective/issues/2354566789

The following query:

[code]

Throws an error that is not very descriptive, and leaks the SQL query.

<details>

[code]

</details>

This is because `idDecode` returns a nullish value, that ends up as `"Order\".\"id\" = NaN` in the query.

# Expected behavior

The query above should return an error like:

[code]

[2021-09-09 13:34] znarf commented on #4536
Duplicate with https://github.com/opencollective/opencollective/issues/4286

[2021-09-09 13:34] #4536 closed

[2021-09-09 13:39] Betree opened #4656 "API: Proposal to move away from `ReferenceInput` on root objects"
For some GQLV2 queries, we do:

[code]

This was done to easily re-use the `*ReferenceInput` types, but I feel like this kind of API provides a better experience:

[code]

Since we're already on the root object type, repeating `order` doesn't feel instinctive to me.

[2021-09-09 13:45] kewitz commented on #3961
Related to: https://opencollective.freshdesk.com/a/tickets/34437

[2021-09-09 13:49] znarf commented on #4656
What about `collective` and generally if we want to query with something else than `id`, e.g. `slug`, `legacyId`?

[2021-09-09 13:58] SudharakaP commented on #4280
@kaylarep : Are you taking about all the events appearing in the drop-down so that you could select any event related to the collective there? Currently one can navigate to events using the `Contribute` section drop-down. 🤔

![Screenshot from 2021-09-09 06-56-25](https://user-images.githubusercontent.com/12435965/132699240-6bc44d8e-f7e7-48e7-8119-188e38c1d86d.png)

@Betree @Memo-Es : I am okay wit

[2021-09-09 14:42] SudharakaP opened #4657 "Admin Dashboard Reports: Host Fees Section"
Part of https://github.com/opencollective/opencollective/issues/4300

Design file: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A157088)

---

## Collapsed View

![image](https://user-images.githubusercontent.com/12435965/132704719-ecde473f-f794-4a60-9e07-e3595d600557.png)

- [x] Use the `HostMetrics` to display the amounts as

[2021-09-09 15:28] Betree commented on #4657
I'm gonna look at the historical view for this one, the host fees query is a simple case for time series that will be great for experimenting.

[2021-09-09 15:37] SudharakaP opened #4658 "Admin Dashboard Reports: Transactions View"
*Part of https://github.com/opencollective/opencollective/issues/4300

Design file: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A157088)

---

![image](https://user-images.githubusercontent.com/12435965/132716669-4bf708ba-4388-4c47-a023-1728d19a062b.png)

### Front-end

- [x] Add fixed CSS rules to display the contributions an

[2021-09-09 16:08] SudharakaP opened #4659 "Admin Dashboard Reports: Platform Tips section"
Part of https://github.com/opencollective/opencollective/issues/4300

Design file: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A157088)

---

![image](https://user-images.githubusercontent.com/12435965/132721315-48a1dc87-bda2-4fbd-8e61-96921094495a.png)

### Front-end
- [ ] Use `HostMetrics` to get the platform tips collected

[2021-09-09 16:36] SudharakaP opened #4660 "Admin Dashboard Reports - Downloads Section (Generate Reports)"
Part of https://github.com/opencollective/opencollective/issues/4300

Design file: [Figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A157088)

---

![image](https://user-images.githubusercontent.com/12435965/132722747-579372b6-4241-42ae-af8b-13148ce4db04.png)

### Front-end
- [x] Add period filter `PeriodFilter`
- [x] Add filter by

[2021-09-09 16:41] SudharakaP commented on #4660
@Betree : I wasn't exactly sure on some points on this one,

1) We may want to remove the override the filters section for this issue for now since we are only focusing on reports for the transactions section. Does that make sense?

2) Our notes suggest a REST endpoint for the CSV report; https://docs.google.com/document/d/1RwC8agICM9CL0IBM9-dtpO2fGPxGKSy5z4hUDdyV-B8/edit. But my thinking is that

[2021-09-09 16:54] ankitzm commented on #4357
I can probably fix this issue.

[2021-09-09 17:24] RCheesley opened #4661 "Bug with crypto payments on event pages"
**Describe the bug**
On events, if the crypto payment option is enabled, you do not actually get to the payment page - it just redirects you to the contribute page.

Screencast: https://youtu.be/JO6J-o-qOEg

**To Reproduce**
Steps to reproduce the behavior:
1. Enable crypto payments on event
2. Click to contribute on the tier
3. See error

**Expected behavior**
It should work the same as with the

[2021-09-09 17:38] Betree commented on #4656
Same thing, I find it more natural to have these as root arguments, as we do for `AccountQuery`:

[code]

[code]

Just to be clear, this only applies to references to root objects like `OrderQuery`, `ExpenseQuery`, etc. I'm not proposing to change things like the `account` argument of `TransactionsQuery`.

[2021-09-09 17:42] SudharakaP commented on #4357
@ankitzm : This is the file that is concerned with the top bar profile menu;

https://github.com/opencollective/opencollective-frontend/blob/ab5ff7aab5408c9a97230fc229bfa3cb59190c2a/components/TopBarProfileMenu.js#L53

I haven't tried this myself but you might need to play with how we handle the clicks outside of the component;

https://github.com/opencollective/opencollective-frontend/blob/ab5ff7

[2021-09-09 19:31] SudharakaP commented on #4661
@RCheesley : I couldn't recreate this issue yet. For example on staging we have the Crypto payment method enabled on this event; https://staging.opencollective.com/webpack/events/test-event-b24b157c and it seems to work fine for me. Does it work for you as well (just so that we are sure it's not a browser related issue)?

[2021-09-09 19:36] RCheesley commented on #4661
You have no tiers set up there at all, maybe that is the difference.

[2021-09-09 19:39] RCheesley commented on #4661
https://youtu.be/iTWHKCpUGkE here is a screencast with the URL showing :)

[2021-09-09 20:23] kaylarep opened #4662 "Add Team Member page edit"
![image](https://user-images.githubusercontent.com/64920686/132757092-04f68f8f-4c00-48b2-ab2e-86dfe30a3340.png)

For additional clarity, can we adjust the text to say "Search for Users by First Name, Last Name, or Email"

or something similar to give suggestions?

[2021-09-09 21:54] kaylarep commented on #4280
@SudharakaP ah! good catch, my mistake...wonder if it fits better in the 'Connect' section? but also, since its a method of 'contributing', makes sense to keep it there too.

[2021-09-09 22:05] alanna commented on #4280
Having Events in the Contribute section causes a lot of issues (like #4480 ) - I think it should be its own section. Same with Projects.

[2021-09-09 22:27] alanna commented on #3287
@shannondwray can you please document this feature?

[2021-09-09 22:38] kaylarep opened #4663 "A Calendar Feature to sync w/ Events"
A calendar on OC's homepage where we post our monthly forum dates/our staff's speaking engagements

From slack convo:

[2021-09-09 22:41] alanna commented on #3193
If we're not able to build this requested improvement, can we at least put *some* indication of whether a bank account has been set up or not? Right now a user looking at this has no way to know if the bank account details have been saves and are active, and it makes it difficult to support people having issues with it.

<img width="812" alt="Screen Shot 2021-09-10 at 10 40 12 AM" src="https://use

[2021-09-09 22:46] SudharakaP commented on #4661
@RCheesley : Thanks for the information. I've narrowed down the root cause. We will push a fix for this tomorrow. 👍🏽

@znarf : This issue is cause by a missing condition in the contribution blocker section. I've fixed that in the above PR. The problem is that we have to specifically check for the crypto contribution as well as otherwise when the user disables the custom contribution tier it will r

[2021-09-09 22:51] alanna commented on #2734
This feature is requested by users, and as we already have most of the functionality built, I think we should do it. In my mind, this is how it would work:

* Payer sets up contribution and selects recurring and bank transfer
* Pending order is created as normal
* System emails payer the bank instructions as normal
* System emails host admin the "has $x arrived for $y?" notification as normal
* On

[2021-09-10 01:22] alanna commented on #3190
Compliance point brought up by our auditors:

For OCF, we can't allow money to leave our bank account without going through our compliance checks, which we do via the expense process. We can't allow OCF Collectives to make contributions to outside entities without those checks, including contributions to a Collective in a different host. The same goes for Gift Collective, and to some extent OSC. T

[2021-09-10 01:25] alanna commented on #4652
@Betree we can't invite organizations though? Do you mean create organization?

[2021-09-10 06:37] Betree commented on #4280
Events and projects already are their own sections. You can selectively disable them in the settings.

[2021-09-10 06:41] Betree commented on #4652
Yes, this component is also used when you create an organization inline (eg. In the add funds modal)

[2021-09-10 06:50] #4653 closed

[2021-09-10 06:58] Betree opened #4664 "Add a comma to all `e.g` strings (-> `e.g.,`)"
Followup on https://github.com/opencollective/opencollective-frontend/pull/6847#discussion_r705445293
According to the feedback from https://opencollective.slack.com/archives/C019YCG6RCY/p1631200631013100

We have 14 places using `e.g.` right now, while the correct format according to https://www.merriam-webster.com/dictionary/e.g. seems to be `e.g.,`.

[2021-09-10 07:35] Betree commented on #2856
With @FluxZA work in https://github.com/opencollective/opencollective-api/pull/6439, the name is now prioritized over the Twitter handle when generating a default slug.

Combined with the fact that https://opencollective.com/organizations/new now has an input for the organization slug, we can considered this issue resolved.

[2021-09-10 07:35] #2856 closed

[2021-09-10 07:55] znarf commented on #4650
That's done.

[2021-09-10 08:04] Betree commented on #4480
A simpler proposal: **rename the `Contribute` category to `Participate` for events.**

The page would then have the following structure:
- Participate
  - Tickets
  - Financial contributions _(if enabled)_

I'm proposing that because the condition implemented in https://github.com/opencollective/opencollective-frontend/pull/6751 to know whether we should display `Tickets` or `Contribute` appears q

[2021-09-10 08:18] Betree commented on #4609
This looks like a duplicate for https://github.com/opencollective/opencollective/issues/1862. Thank you for clearly documenting your use case, this is super valuable.

Ping @alanna @piamancini, since you have some experience with other accounting softwares.

[2021-09-10 08:18] #4609 closed

[2021-09-10 08:19] Betree commented on #1862
Requested by @ninavizz in https://github.com/opencollective/opencollective/issues/4609#issue-984256814:

## User story
As a paid contributor to an OpenCollective project, I would like a workflow for invoicing that aligns with the rest of my customers, so that invoicing my OC customers can take less time and be less annoying.

Currently, most of my customers have a specific email address for their

[2021-09-10 08:22] Betree commented on #1862
If we go back to this issue, we may consider using some third-party APIs out there (https://bill.com ?) that can provide us with structured info from PDF files as a service. If not too expensive, such a service would drastically reduce the complexity required to implement this feature. Parsing PDFs is a painful job.

[2021-09-10 08:26] Betree commented on #4637
Thanks @alinamanko :rocket:

Great to see this graph!

[2021-09-10 11:56] kewitz commented on #4637
@alanna I'm not very familiar with PayPal's API but this may be possible to implement in a way or another.
I don't think PayPal's API will allow us to check if an e-mail is signed up to their platform, that would be a huge privacy issue. We could replace the PayPal email field with a button to sign up with PayPal tho.

I don't think this is of our concern. To put it simply, users are using Payonee

[2021-09-10 12:25] Betree opened #4665 "Hide budget for events if no activity"
From https://opencollective.slack.com/archives/C0HSLRNVC/p1630419236022800

[2021-09-10 12:53] #4578 closed

[2021-09-10 13:06] SudharakaP commented on #4658
@Betree : If no objections I'll take this up and I'll implement the parts without the chart? And after you've done the experimentation with https://github.com/opencollective/opencollective/issues/4657#issuecomment-916204066 we can implement the charts? Does that sound good with you? 😄

[2021-09-10 13:13] Betree commented on #4657
Feedback from @znarf: maybe showing all host fee shares statuses (pending, invoice, settled) could be clearer.

[2021-09-10 13:20] znarf commented on #4657
<img width="622" alt="Screenshot 2021-09-10 at 15 16 56" src="https://user-images.githubusercontent.com/806/132859326-1048b6e7-df55-454f-b730-be2ac09f385d.png">

[2021-09-10 13:57] Betree opened #4666 "Toasts: pause counter when outside of the screen"
# User story

1. Trigger an action that calls API, then immediately switch tabs
2. An error occurs and a toast appears on the frontend
3. Come back to the tab 3 minutes later, the toast is gone (they last 15s by default) so you don't know that an error occurred

# Best solution for this problem

Pause the toast timer when the cursor moves out of the screen.

This is also a good opportunity to add

[2021-09-10 14:08] Betree commented on #4658
@SudharakaP Sure, feel free to start :slightly_smiling_face:

[2021-09-10 14:18] znarf commented on #4559
🏆 This issue was completed by @snitin315

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-09-10 17:07] #4614 closed

[2021-09-10 18:07] SudharakaP commented on #4480
@alanna : Let us know if you agree with Ben's proposal above. If so, I'll change the implementation to match that. 😄

[2021-09-10 20:27] kaylarep commented on #4480
Would 'Support' work? or 'Get involved'?

The common language for people looking to donate (in the US) would not be 'Participate' (imo, I would assume that's where I'd go if I wanted to volunteer) and I think we need to give financial donors a really clear, unconfusing pathway to donate.

[2021-09-10 20:57] ninavizz commented on #1862
I the spirit of "MVP" it could also be a simpler option to just create that email address that automagically posts a PDF to a project's "invoices;" and then the humans with the project that have to approve the expense, plug-in information themselves, manually. After the vendor has setup their "profile" in OC w/ payout options, etc.

Literally the only "new" information I ever post into the webform

[2021-09-10 22:08] alanna commented on #4480
I would support either 1) get involved, or 2) no header at all. If the header is causing so many issues, can we just remove it?

[2021-09-11 00:16] alanna commented on #4652
I think we should keep legal name for creating orgs when adding funds, as
that is not inviting a profile but directly creating it.

[2021-09-12 06:11] alanna opened #4667 "Make it more obvious what's missing from expense"
See https://opencollective.freshdesk.com/a/tickets/34720

When a user is trying to submit an expense with lots of different receipts, it can be hard to figure out what exactly is blocking it from being able to proceed. Can we make it stand out more? Or maybe add a helpful message at the top saying "One of your receipt uploads is missing" to give them a clue?

[2021-09-12 09:53] alanna opened #4668 "Unable to contribute as guest to Collective whose Host has only bank transfer"
This was reported by a user:

I have a contributor who would like to make a contribution to our collective.
He was trying to do that without being registered with his email.
Curiously, he can not see frequency flexibility: One Time, Monthly, Yearly
He sees the same as on one of screenshots joint with the email.
Finally, on the 3rd step "Payment Info", he sees "No payment method available".
However

[2021-09-12 09:57] alanna opened #4669 "Avoid 'no payments available' screen being shown to user"
This is not a nice screen to see after you've gone through the whole process to set up a contribution and you are on the last step:

<img width="599" alt="Screen Shot 2021-09-12 at 9 54 22 PM" src="https://user-images.githubusercontent.com/5498878/132983216-a6d11b5d-2b75-4fdc-803b-3bba56ef00f4.png">

This shows up when someone is trying to do a recurring contribution but the Collective's Host only

[2021-09-12 20:39] dungphun opened #4670 "[DOCS]"
## Context

### What's changing?

### Why are we changing it?

### Who does this change impact?

### How do users use it?

### Is this change optional or mandatory?

### Is this change being released incrementally as a beta? What's the schedule?

### When will the project be ready for release/complete?

## Docs Process

### Overview

### Changes to be made

### Estimate of effort

[2021-09-12 22:14] alanna opened #4671 "Add newsletter opt-in to guest contribution flow"
If someone contributes as a guest it may be the only contact we have with them. We should give them the option to subscribe to the newsletter if they want, so we can potentially entice them to get more involved. I think there should be a tickbox on this screen.

![Screen Shot 2021-09-13 at 10 12 37 AM](https://user-images.githubusercontent.com/5498878/133004457-2e0994ce-e053-47bf-a51f-d5aeed591352

[2021-09-13 04:16] alanna opened #4672 "Duplicate contribution cards on org profile"
https://opencollective.com/bonus-finder

For some reason Webpack and Jekyll are showing up twice on this sponsor's page.

![Screen Shot 2021-09-13 at 4 16 22 PM](https://user-images.githubusercontent.com/5498878/133023262-9d45f5cb-387d-442a-b75a-993a7f7837e4.png)

[2021-09-13 06:39] #4670 closed

[2021-09-13 07:00] #4335 closed

[2021-09-13 07:05] Betree commented on #4664
Looking at https://dictionary.cambridge.org/us/dictionary/english/eg, an example without the comma is given:

@alanna could it be that this rule only applies in certain cases, or that both versions are valid?

[2021-09-13 08:37] Betree commented on #4591
From the technical point of view:
- **Guest**: someone who contributes without signing up. In our system, they're considered guests until they confirm their account (by sign-in).
- **Incognito**: the contribution is not linked to the normal profile, but rather to an "incognito" profile. The advantage here is that you can selectively put some contributions on your incognito profile without affectin

[2021-09-13 09:09] piamancini commented on #4637
@Memo-Es Can we have a quick go at how an alternative placement of the editing / deleting buttons would look like?

[2021-09-13 09:40] BenJam commented on #4341
This sounds awesome. We should discuss this with the folks from hacktoberfest to see whether their design is too far along to incorporate it.

[2021-09-13 12:44] SudharakaP commented on #4664
@Betree : The above link is from cambridge dictionary. So in British way of writing this comma isn't used as far as I know. Only in American English. It says that here; https://en.wiktionary.org/wiki/e.g.#Usage_notes (under usage notes). 😉

[2021-09-13 13:01] Betree commented on #4664
Ok so:

And the version without the comma is listed as valid for US English too.

I'm not sure whether we're trying to match en_US in our wording. I'm personally not convinced by the necessity of this change, the fact that everyone in the team (incl. native speakers) wrote it as `e.g.` shows that it feels more natural for us to do so, and thus simpler to enforce. I'll let @alanna take a final deci

[2021-09-13 20:40] alanna commented on #4637
Now that we have a good pattern for an actions drop-down maybe we should
use it for these expense functions too.

[2021-09-13 20:58] alanna opened #4673 "Parent Collective Update should go to Project & Event contributors too"
Collectives think of Projects as inside their Collective. They don't want to have to send multiple Updates to reach their community of contributors. Project Updates going only to the Project contributors makes sense, but parent Collective Updates should go to everyone who has contributed to that Collective, its Projects, Events, Tiers, etc.

MVP: Parent Updates go to all contributors

Best solutio

[2021-09-13 21:23] Betree commented on #4673
Sounds good to me. Let's remember that, by default, the behavior we apply for projects will apply to events as well.

[2021-09-13 23:05] alanna opened #4674 "Resubscribe to Updates"
If you unsubscribe to Updates there is currently no way to resubscribe. We had a case where someone unsubscribed just to test, and then got locked out unintentionally.

This should probably be done in the the larger context of the projects we have in mind to create a notifications management settings area, and also enabling non-contributors to subscribe to updates (which would naturally entail a w

[2021-09-13 23:12] alanna commented on #4673
I think it works. Event Updates should go only to Event attendees/contributors, while parent Updates should go to all Project and Event contributors too.

[2021-09-14 00:04] alanna commented on #4664
I don't think this matters much either way and both uses, with comma and
without, are acceptable.

[2021-09-14 06:33] Betree commented on #4674
That was, at the time, my main motivation for proposing https://github.com/opencollective/opencollective/issues/3357. I realize that this would actually make a great (and quite simple) MVP for this project.

[2021-09-14 06:34] Betree commented on #3357
Updated the MVP section to implement the design shared above, but for managing Updates subscriptions only (see https://github.com/opencollective/opencollective/issues/4674).

[2021-09-14 06:54] alanna opened #4675 "Display custom color on card"
If you set a custom color of a Project (or Collective/Event/etc) I think the preview card for that should be that color.

E.g. this Project has a green color:
<img width="1250" alt="Screen Shot 2021-09-14 at 6 53 01 PM" src="https://user-images.githubusercontent.com/5498878/133209578-fa0d5d99-5c04-49a2-8f00-4899569b08e4.png">

But it's still blue when you view it on the Collective page or the Proj

[2021-09-14 06:58] Betree commented on #4675
I agree that the project's primary color should be used to generate the card hero. The same should apply to events and connected collectives.

It seems to be displayed on the example you shared:
![image](https://user-images.githubusercontent.com/1556356/133209940-d5d34a58-d7c0-43d8-a055-372f3e6eb0b0.png)

[2021-09-14 07:06] Betree commented on #4637
I'm not sure if whether we're referring to the expenses list or the expense page here, but we recently updated the pattern in expenses list to use dropdowns when the status is `REJECTED` or `PAID`:

![image](https://user-images.githubusercontent.com/1556356/133211315-44aa7f04-903b-4acb-ba00-1a8ea2e0745a.png)

[2021-09-14 07:28] znarf commented on #4637
Should be straight forward to add Delete there @Betree ? For Edit this is slightly more complicated as we don't have the contextual menu out of `REJECTED` and `PAID`.

[2021-09-14 07:48] Betree commented on #4637
Yes, I actually have most of it implemented in https://github.com/opencollective/opencollective-frontend/pull/6813. I paused the work to focus on other priorities, but it's still on my plate.

[2021-09-14 12:54] Betree opened #4677 "Expose order `customData` on our public GraphQL API"
Closely related to https://github.com/opencollective/opencollective/issues/1798

## User story
From [support](https://opencollective.freshdesk.com/a/tickets/33067):

## Best solution for this problem
There's no admin interface for it yet, but `tier.customFields` already allows us to collect this data. The only bit needed to make this MVP work is to expose it to the collective admins - and only the

[2021-09-14 13:23] SudharakaP opened #4678 "Crypto Flow: Conversion Amount Not Reflected on Changing the Amount"
This is related to the comment; https://github.com/opencollective/opencollective-frontend/pull/6787#issuecomment-918889625

It seems that after initially rendering the Crypto flow if the user changes the amount drop-down the approximate currency value in FIAT currency is not displayed. If the user changes the crypto currency selection input once then the approximate amount is starting to show corr

[2021-09-14 14:00] Betree commented on #1798
On the Frontend side, I would feel more confident to tackle this issue once we have https://github.com/opencollective/opencollective/issues/3438.

We need to figure out two things before we can properly spec it:
1. Form builder: we need to define whether we want to build something ourselves or use an existing library (like https://formbuilder.online). It's not too difficult to build ourselves, but

[2021-09-14 14:06] saideepesh000 commented on #4646
Hey @Betree , what are the default link colours ?

[2021-09-14 14:10] saideepesh000 commented on #4641
Hi @alanna , so the second project on the first pic is archived, am I right ?

[2021-09-14 15:29] #4495 closed

[2021-09-14 16:30] #4632 closed

[2021-09-14 18:16] ArsalaBangash commented on #4039
Hi @Betree! Please excuse the late reply.

I'm super glad that https://github.com/opencollective/opencollective/issues/4396 is underway because open collective as a platform would be so much stronger with these features.

I just wanted to discuss your previous comment:

For my use case, it would be beneficial if I could specify when the funds entered the bank account as opposed to when I logged th

[2021-09-14 20:57] alanna commented on #4641
yes correct, the gray one

[2021-09-14 22:43] kaylarep opened #4679 "[DOCS] Create some documentation clarification between 'Tiers, Goals, Projects (when to use each one)'"
If there is still an ongoing issue of users getting confused about which one to use for what type of funding goals, this documentation/FAQ could be helpful to clarify the distinctions. Could be a single comparison chart/infographic; or just a little blurb at the bottom of each respective page (e.g. at the bottom of the goals page: "Trying to set aside funds for a specific goal with separate admins

[2021-09-15 01:14] Memo-Es opened #4680 "Front end improvements to the collective page's header"
I've been noticing some adjustments that would really improve how the collective page looks. It would be great to find some time to prioritize these improvements soon.

I will use the following example shared by @znarf, although it is an event, not a collective. But it shows a couple of the main issues about it.
<img width="1408" alt="Screen Shot on 2021-09-14 at 16-48-09" src="https://user-images

[2021-09-15 03:56] Memo-Es opened #4681 "Notifications components update"
We are bringing together the different notifications components we have in the platform:
* Top banner
* Message box
* Toast notification

![❖  Notification Components](https://user-images.githubusercontent.com/49539954/133368152-8efb11aa-062f-47e3-853f-460ebc53ab04.png)

Solving #4646 and #4613

CC @Betree

[2021-09-15 06:29] Betree commented on #4646
Currently, `colors.primary.500` when resting and `colors.primary.400` on hover: https://github.com/opencollective/opencollective-frontend/blob/0cd0880912543407393517c12d94bea4069ed7a6/components/StyledLink.js#L86

A design to resolve this issue has been proposed in https://github.com/opencollective/opencollective/issues/4681.

[2021-09-15 06:31] Betree commented on #4681
Great, thank you @Memo-Es! That will definitely resolve https://github.com/opencollective/opencollective/issues/4646.

To simplify the review and implementation, we should add stories for these components on https://styleguide.opencollective.com.

[2021-09-15 06:47] Betree commented on #4680
**Text fixes**
- Can we limit the characters for the title? Something around 35?
-
I'm all up for this. We however can't force it on existing collectives, so we'll have to implement this limitation on the new collective/org/users forms.

One blocker for that in the past was on user's names, because some names can be very long - yet legally we have to store them entirely. But since we now make a di

[2021-09-15 07:00] Betree opened #4682 "Limit new account names to 35"
Part of https://github.com/opencollective/opencollective/issues/4680

Based on this graph that shows the repartition of collective names:

![image](https://user-images.githubusercontent.com/1556356/133385743-c9e22fba-b1fd-4fa4-ae47-420b753e398c.png)

I feel like the limit of 35 proposed by @Memo-Es is reasonable. It should only be enforced on new accounts (in the frontend), and only to the **displ

[2021-09-15 07:05] Betree opened #4683 "Better truncate account name in NavBar"
**Describe the bug**
Action buttons in the navbar are collapsed under a scrollbar.

**Expected behavior**
The account name should always be truncated in favor of the actions buttons.

**Screenshots**
![](https://user-images.githubusercontent.com/49539954/133350303-10f0efb1-9672-4839-9fa5-7630599d5de3.png)

**Additional context**
Part of https://github.com/opencollective/opencollective/issues/4680

[2021-09-15 07:19] Betree opened #4684 "Add a root admin action to delete accounts"
## User story
From @alanna in https://opencollective.slack.com/archives/G46PNRCGP/p1631671894247900:

[2021-09-15 08:39] Betree commented on #4684
We could implement something more comprehensive:
- Search for a profile (include deleted accounts in search results?)
- Show a set for checkboxes:
  - Deleted
  - Blocked
  - Archived

[2021-09-15 08:47] Betree commented on #4657
Feedback from https://opencollective.slack.com/archives/C020ZQSLM5M/p1631608242032800?thread_ts=1631547165.027900&cid=C020ZQSLM5M:

[2021-09-15 09:08] alanna opened #4685 "Do not show archived items in user menu"
<img width="1161" alt="Screen Shot 2021-09-15 at 8 51 37 PM" src="https://user-images.githubusercontent.com/5498878/133404908-950f6cba-a2d9-478c-90da-58aa6ab211a4.png">

In the example above an archived profile shows up the same as the active ones in my user menu. I think we should remove these.

This leaves the question of how then can someone get to their archived profiles if they want to reacti

[2021-09-15 09:25] Betree commented on #4674
An additional option could be to add an icon to (un)subscribe from/to collective updates from your recurring contributions page, somewhere in this card:

![image](https://user-images.githubusercontent.com/1556356/133407720-4fbe7983-7e5e-48c9-917b-5a73ec50bab5.png)

[2021-09-15 10:13] BenJam commented on #4537
Quick follow up after sync call with @znarf and @Betree: amended original proposal to remove explicit opt outs/ins and instead improve noticed and add opt-out process to ToS/Privacy Policy.

Related: we noticed that there is an issue with information shared for organisations. Currently, contributor exports do not include contact addresses when a contributor is an organisation. We thought it would

[2021-09-15 10:35] BenJam opened #4686 "Delete a users account even thought they have transactions"
It is not possible to delete your account if you have transactions on the ledger. This makes it very difficult to comply with things like data sharing refusals and right to be forgotten requests.

## User story
As a user I have the right to be forgotten and to delete my profile from Open Collective. When I delete my profile I expect that

- All of my contributions are hidden
- My profile is remove

[2021-09-15 10:38] Betree commented on #1798
A strong risk with this feature is that we don't want admins to add any kind of field. If we authorize too much customization, an admin could for example add a "Credit card" (text) field or ask for illegal information.

An easy way to remove this risk while making the MVP really simple: only allow a pre-defined list of fields, things that we know will cover most cases:
- Address (`LocationInput`)

[2021-09-15 10:40] BenJam opened #4687 "Add communication email for Organisations"
This came up in the context of https://github.com/opencollective/opencollective/issues/4537. When a user contributes to a collective we enable that collective to communicate via Updates and/or using other tools by exporting their contributor list as a CSV/JSON. These exports contain the public profile information and the privateemail address of each contributor.

However when the contributor is an

[2021-09-15 10:55] Betree commented on #4271
We really need this to represent things accurately in our data model.

There's another situation that this would solve (happened to Alina): when a collective is archived, we remove its link with the host. But the host may need, for various reasons, to access the history of the expense (including the private comments). Today this does not work because we check the permissions on `expense.collective

[2021-09-15 12:19] saideepesh000 commented on #4662
Hey @Betree, taking this up, is this text fine ?, `Search for Users by their Username, First Name, or Last Name`

[2021-09-15 13:24] #2893 closed

[2021-09-15 14:53] BenJam opened #4688 "Tackling misleading and abusive accounts"
## Problem
We often see misleading or otherwise confusing organization and collective accounts that appear to be 'official' accounts. This can lead to abuse on the platform.

This is mostly abuse of organizational trademarks and identities, but could also be abused by users creating Collectives that appear to represent a popular project or community and collecting funds on that basis (usually with

[2021-09-15 21:08] alanna commented on #4688
I know we can't watch every company name to see if it's being used legitimately, but maybe we could maintain a list of the top 10 or 20 partners we have quite active on the platform and get alerts to manually watch them if those words are used to create a new profile. I'm referring to Facebook, Google, Indeed, AirBnb, etc, the ones we interact with a lot. Plus the names of our top fiscal hosts. Ju

[2021-09-16 01:28] Memo-Es opened #4689 "[PROJECT] New opencollective.com homepage"
## Overview
The current homepage www.opencollective.com does not represent Open Collective as an organization; it is a marketing page directed to prospects of collectives to join the platform and collect/manage/spend money using the platform. We need a homepage that conveys what we do, how, and why, displaying our different initiatives with a single, hard-hitting story.

## Ownership

**Owner: @Me

[2021-09-16 01:35] Memo-Es commented on #4689
Feedback from @alanna shared on slack:

- I agree that we need a better way to funnel different users to the info that’s relevant for them. We have very different stories to tell Collective admins, host admins, financial contributors, and trying to serve them all in one way only isn’t effective.
- However, I’m not sure the wireframes you showed is the best approach. I think the design would do a g

[2021-09-16 07:16] Betree commented on #4688
The risk here would be to block legit profiles. There are good reasons to start a collective that includes company names, for example:
- Social Fixer for _Facebook_ (open-source web extension, do exists)
- Unofficial _Google_ Drive synchronization client for Linux
- _Facebook_ privacy tools
- _AirBnB_ script to fetch prices history

With this in mind, starting with a simple alert like you mentione

[2021-09-16 07:35] Betree commented on #4662
@saideepesh000 I think it's better to discuss a bit the specs first.

@kaylarep I really like the idea, as it's good for users to know how they can look up for users in there. Some feedback about that proposal:
- On our end, the username, first name, and last name are the same fields. The legal name is a separate one, but it can't be used in the search.
- People can also look for users by email.

[2021-09-16 07:41] znarf commented on #4664
Generally, I think we should favor American English over British English as the company and our biggest hosts are based in the USA.

Looks like @alanna has nothing for or against the change.

Personally, no strong opinion but I'm fine with it.

[2021-09-16 08:50] #4645 closed

[2021-09-16 09:08] Betree commented on #4672
@alanna Thanks for documenting this issue, it has been discussed on [Slack](https://opencollective.slack.com/archives/C0RMV6F8C/p1631103333061400) but the solution is not straightforward.

The root cause for this issue: the full grouping for members is on `MemberCollectiveId`/`CollectiveId`/`role`/`TierId`. `role` and `TierId` are usually the reason for duplicate members, but with our current data

[2021-09-16 09:28] Betree commented on #4671
The solution picked by design and that we've implemented was to show it on the success screen:
![image](https://user-images.githubusercontent.com/1556356/133586874-818e27f3-fe4b-4b5c-99a9-d068bed397bf.png)

I personally like this solution because:
- People may not have the context about what Open Collective is when contributing
- Anything we can do to simplify the contribution process will increas

[2021-09-16 10:16] alanna commented on #4587
Just hit this same issue again through a different path: I searched for a project name and clicked it from the search screen, and the URL I went to was opencollective.com/project instead of including the parent in the URL.

[2021-09-16 10:39] Betree opened #4690 "Host dashboard report: total money managed section alignment issue"
**Describe the bug**
The `Host organization` label is not placed correctly. This might be linked to the fact that the page was recently resized, since the element is currently positioned with hardcoded values for Top/Left.

**Expected behavior**
Positioning with hardcoded `top`/`left` values should ideally be avoided, as it breaks responsiveness and makes the component strongly dependant on its co

[2021-09-16 10:47] BenJam commented on #4556
For the purpose of support requests: note that the current provider (Privacy) calculates a budget based on a _rolling_ basis, not a monthly basis. So this would be a little more complex than 'how much has been charged this month'.

I would vote that we leave this for the moment as we may move to a provider who provides this (i.e. Stripe)

[2021-09-16 10:49] BenJam commented on #4530
Also: https://github.com/opencollective/opencollective/issues/4687

[2021-09-16 11:00] Betree commented on #4669
I've worked on this topic a few times and, unfortunately, it's impossible to prevent completely with the current design of the contribution flow. Which payment methods are available depends on two things:
- The contribution details (recurring or not)
- The contributing profile (eg. if you're contributing from another collective under the same host, you'll be able to use its balance)

So in this fl

[2021-09-16 11:53] Betree opened #4691 "[PROJECT] Show details for Expenses in transactions list"
## User story
A host admin at OC Paris recently got confused about not seeing the payout fees for the expense, as they're not currently surfaced in the interface.

## Best solution for this problem
In the transaction lists, show a `View details` button on expense entries (similar to what we do for contributions). When clicked, it should display some information about the expense such as the fiscal

[2021-09-16 12:05] Betree commented on #3224
I still think we need this, it would have helped today for the use case presented in https://github.com/opencollective/opencollective/issues/4691.

To propose some specs:
- [ ] On `server/graphql/v2/object/Activity.ts`, expose a new `transaction` field (based on `activity.TransactionId`)
- [ ] In expense's `ThreadActivity`, whenever a `COLLECTIVE_EXPENSE_PAID` activity is detected, show the detail

[2021-09-16 12:18] Betree commented on #4565
@Memo-Es I like the fact that _Version 2_ has descriptions for each action, which can help to clear up the confusion new users are facing.

Ping @piamancini.

[2021-09-16 12:20] #4678 closed

[2021-09-16 12:27] SudharakaP commented on #4565
Just my opinion, but the description of the `My Organizations` section maybe needs revisiting. I feel it might not give a clear idea why the user might want to create an organization. Collectives can also contribute to other collectives if I am not mistaken. 🤔

[2021-09-16 12:32] Betree commented on #4659
@SudharakaP I'm not sure what you mean by that, do we really need that since there's no historical chart in there?

[2021-09-16 12:43] BenJam opened #4692 "Collect legal names and addresses for any user or org contributing over 5k in a tax year"
## User story
As a non-profit host based in the US I need to collect the names and addresses of any user or organisation that has contributed over $5,000 in the tax year so that I can comply with [tax obligations](https://www.irs.gov/taxtopics/tc506).

## Best solution for this problem
- [x] Collect this information as part of the contribution flow when a user/org tips over 5k for the year.
- [ ]

[2021-09-16 12:43] #4664 closed

[2021-09-16 12:44] SudharakaP commented on #4664
@opencollective/design : Just to note this change has been merged and I am pinging design to take note of this for future design iterations. So we will be using `e.g.,` instead of `e.g.`. 🙂

[2021-09-16 12:52] SudharakaP commented on #4659
Yes looking back, I don't think we need this since there's no historical chart. I based this off of the document and I think we put it there thinking there's a chart; https://docs.google.com/document/d/1RwC8agICM9CL0IBM9-dtpO2fGPxGKSy5z4hUDdyV-B8/edit. 🤔

[2021-09-16 18:06] kewitz opened #4693 "Admin Panel: Create Admin Panel to unify Host Dashboard and Collective Settings"
Project: https://github.com/opencollective/opencollective/issues/3880

[2021-09-16 19:42] kaylarep commented on #4634
this is pretty vital

[2021-09-16 22:14] SudharakaP commented on #4690
@Betree : Thanks for reporting this. I corrected this at https://github.com/opencollective/opencollective-frontend/pull/6873 along with the addition of the Transactions View. 😄

[2021-09-16 22:19] SudharakaP commented on #4658
@Betree : Completed the filters and the stats. I think the PR is getting large so I thought it's best to stop at this. If no objections I go ahead and add try adding the chart as well maybe in a separate PR? 😄

[2021-09-17 02:03] alanna opened #4694 "Host admin can freeze Collective activity"
## User story
As a host admin, sometimes we need to flag a Collective due to various issues and not allow certain activities while we sort it out. Right now we have to manage this manually and it's really tricky in a large host with multiple staff processing expenses etc.

Examples I've dealt with:

* Expense payment is pending signing of a contract before we can release funds (it was a large paym

[2021-09-17 02:12] alanna opened #4695 "Whitelist for redirects"
If we link from the platform to the OCF docs, the user sees this warning:
<img width="476" alt="Screen Shot 2021-09-17 at 2 09 03 PM" src="https://user-images.githubusercontent.com/5498878/133712912-c455ff8c-6e69-499c-b7f3-5c2076bcc17a.png">

It would be great if we could have a whitelist for domains that skip this redirect, such as opencollective.foundation and oscollective.org and their subdomai

[2021-09-17 04:05] SudharakaP opened #4696 "PeriodFilter: Chosen Date is off by Two Days"
This is something that I've noticed working on another issue. It seems that the [`PeriodFilter`](https://github.com/opencollective/opencollective-frontend/blob/9b33639bfad126a681d5561dfce4127456f25371/components/budget/filters/PeriodFilter.js) behaves weirdly when choosing dates.

As I've observed it seems that when we choose the dates the date chosen is not the one that's displayed in the Period

[2021-09-17 07:41] Betree commented on #4658
Yes, it's a good idea to split these :+1:

[2021-09-17 08:42] Betree opened #4697 "Should we remove explicit IDs from our translation strings?"
At some point in the past, setting an ID on internationalization strings was mandatory. Consequently, all our strings have an `id` defined that we set manually.

This changed at some point, and today if you omit the id, `formatjs` will [automatically generate a hash](https://formatjs.io/docs/getting-started/message-extraction/). **The docs actually recommend relying on that hash rather than provid

[2021-09-17 09:21] Betree commented on #4694
@alanna I love the freeze icon :smile: Until we have something implemented here, feel free to ping engineering for such cases; we can manually disable features selectively (expenses, contributions, etc) for an account in the database.

On the API side, there's not much needed to implement this: we can rely on `account.features` to disable contributions and expenses. We'll probably need a new permi

[2021-09-17 09:24] Betree commented on #4696
Good catch! That probably has to do with timezones. Being in CET, I never noticed this one personally but I'll try to look at it since I'm working on the `PeriodFilter` component.

[2021-09-17 10:00] znarf commented on #4695
@Betree I thought we already had this notion of trusted domains. Am I wrong or what is different here?

[2021-09-17 10:10] Betree commented on #4695
We indeed have this notion already.

- In https://github.com/opencollective/opencollective-api/pull/6603, I'm adding the two domains to the trusted list to make sure they will be linked directly in the future when sanitizing (rather than being sanitized as `/redirect?url=...`).
- In https://github.com/opencollective/opencollective-frontend/pull/6886, I'm tweaking the behavior of the `external-redi

[2021-09-17 11:07] Betree commented on #4502
Solved by @znarf in https://github.com/opencollective/opencollective-frontend/pull/6786/files#diff-12c338b9fe130bf1c1278f6f03f56afeed9dc0f486efedd9a72a7cd80e362b86R105

[2021-09-17 11:07] #4502 closed

[2021-09-17 12:46] #4695 closed

[2021-09-17 14:17] SudharakaP commented on #4697
Thanks for posting this issue. I vote for the removal of the ids; it makes sense and keep things simple. 😉

[2021-09-17 14:20] znarf commented on #4697
Clear blocker to remove ids for past entries for now. On the other end, ok to already skip ids for new strings.

[2021-09-17 14:48] Betree commented on #4697
Thanks for the feedback! So for now, it seems that the next steps could be:
1. **Relax our policy on IDs today by not requiring them for new strings**
2. **Find out if there's a way to migrate existing strings without losing all the translations.** I suspect something like this may be possible with a process like this:
    1. Merge Crowdin PR to make sure we're in sync, pause all translations and

[2021-09-17 15:34] BenJam commented on #4692
I think @Memo-Es mentioned he already had something on this?

[2021-09-17 15:59] BenJam commented on #4537
@opencollective/design wondering about two approaches here:

| callout in main flow | callout in FAQ |
| --- | --- |
| ![Frame 1](https://user-images.githubusercontent.com/158833/133818519-9a32993a-bd4b-4e5f-bbd7-d9421ba194df.png) | ![Frame 2](https://user-images.githubusercontent.com/158833/133818544-47d5bba2-b531-4873-b697-5e52da48ef32.png) |

we dont want to discourage folks from contributing u

[2021-09-17 16:04] SudharakaP opened #4698 "Legal Name Info Section Appearing for Non Host Admin User"
This is related to the discussion at https://opencollective.slack.com/archives/G46PNRCGP/p1631881231305700.

It was seen that the legal name info section appears for all collective admins instead of only appearing for the host admin. Also it seems that the legal name field in the Settings page (under info section) do not appear for self hosted collectives. 🤔

[2021-09-17 16:28] saideepesh000 commented on #4662
so @BenJam should I add the suffix (`by name or email`) to all types of placeholders [here ](https://github.com/opencollective/opencollective-frontend/blob/39cace1de0f2f2d7bad2119df006fb0bdff80f70/components/CollectivePickerAsync.js#L43)or only if it's for `USER` ?,

[2021-09-17 17:48] Memo-Es commented on #4692
## Design update

| Guest | Logged-in user | Privacy tooltip | Info tooltip | Profile picker |
|-------|----------------|-----------------|--------------|----------------|
| <img width="604" alt="Screen Shot on 2021-09-17 at 12-35-04" src="https://user-images.githubusercontent.com/49539954/133831352-7b42c90f-0bd3-40be-b06a-cf9ab2f03b56.png">  |  <img width="593" alt="Screen Shot on 2021-09-17 at 1

[2021-09-17 18:16] #4698 closed

[2021-09-17 20:49] kaylarep commented on #4662
@Betree are you sure you can find people by their email? I'm not able to...

it seems to only search their display name or their @____ handle

[2021-09-17 21:05] kaylarep opened #4699 "In-platform messaging"
Would be great to have a 'Messages' section in the platform
- record of past conversations to avoid duplicating messages
- can see that the person has already been contacted
- can view message history all in one place- no need to hunt thru emails (find who was even emailed)

User story:
I am very wary to send messages using the platform, instead preferring to move into email, because I will have n

[2021-09-17 21:14] kaylarep commented on #4312
ended up on this page https://opencollective.com/foundation/edit/virtual-cards through an email notification, wondering how i could have accessed it thru the settings menu. (the host's own virtual cards that are assigned to themselves (not one of their hosted groups, so Settings-> Virtual Cards wont take me here)

[2021-09-17 21:15] kaylarep commented on #4312
some typos on https://opencollective.com/foundation/edit/virtual-cards

[2021-09-17 21:16] kaylarep opened #4700 "Typos on https://opencollective.com/foundation/edit/virtual-cards"
some typos on https://opencollective.com/foundation/edit/virtual-cards

_Originally posted by @kaylarep in https://github.com/opencollective/opencollective/issues/4312#issuecomment-922085944_

should say:
Use a virtual card to spend from your collective's budget. You can request multiple cards (review the host's policy to see how many). Your fiscal host will create the card for you and assign it a

[2021-09-17 21:36] kaylarep opened #4701 "[PROJECT] Edit/Add to: https://opencollective.com/become-a-host"
To add to: https://opencollective.com/become-a-host

1.  **Who is eligible to become a host?** A fiscal host is any legal company or individual who holds a Collective’s funds in their bank account and can generate invoices and receipts for supporters and sponsors. A fiscal host is responsible for taxes, accounting, compliance, financial admin on behalf of the groups under their hosting 'umbrella'.

[2021-09-17 22:16] kaylarep commented on #4221
+1 for getting this going.

[2021-09-17 22:58] alanna opened #4702 "Do not call it "host fee share""
We should simplify our terminology and just call it "platform fee". This has caused confusion in multiple situations. I just found an accounting mess because they (understandably) assumed 'host fee share' meant a fee *paid to the host*. Our pricing model is already complex, with three different kinds of fees (host, platform, payment processor), plus platform tips. We should simplify the language w

[2021-09-17 23:05] alanna commented on #2757
Looks like this might never happen.... can someone just set me up a redirect from opencollective.foundation/terms to https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub as a workaround?

[2021-09-17 23:21] kaylarep opened #4703 "ability to view different budget totals"
Requested from a user:

Ability to view different budget totals (i.e. including projects, excluding projects, pending balances (post-requested expense payouts))--or at least clarifying what the budget is including

[2021-09-17 23:58] SudharakaP commented on #4700
@kaylarep : Thanks for reporting the issue. I've corrected it; we'll deploy to production next week. 😉

[2021-09-18 09:14] alanna opened #4704 "Include merchant account transaction ID"
Stripe, Paypal, and Wise (and other third party services we may use) have IDs associated with transactions, but we don't have any way to link these to OC transaction IDs. Ideally we would be able to track and export these together.

[More context here.](https://docs.google.com/document/d/1eLiwIA8J_zUPZ1sa9i1SFmjI7hDKzQJsiGxR6ssyCHc/edit?usp=sharing).

[2021-09-18 09:15] alanna commented on #3875
Bumping this based on [more context](https://docs.google.com/document/d/1eLiwIA8J_zUPZ1sa9i1SFmjI7hDKzQJsiGxR6ssyCHc/edit?usp=sharing).

[2021-09-18 09:19] alanna opened #4705 "Differentiate merchant account payments via API and manual in data exports"
When an expense is paid through Wise or Paypal, the host admin sees two buttons: pay with Wise automatically or pay with Wise manually. But this distinction is not coming through in data exports. Can we have either a separate Manual/Auto column, or different payment types like WISE_MANUAL and WISE_AUTO?

<img width="310" alt="Screen Shot 2021-09-18 at 9 18 10 PM" src="https://user-images.githubuse

[2021-09-18 09:36] xdamman opened #4706 "Wrong regex for validating website urls"
In the create organization page:
<img width="503" alt="Screen Shot 2021-09-18 at 11 35 47 AM" src="https://user-images.githubusercontent.com/74358/133884362-cda849c9-b7b2-4ce9-aa2a-557968d2324a.png">

[2021-09-18 09:38] xdamman commented on #4706
Also the checkbox "I verify that I am authorized to represent this organization." should be "I certify" no? Otherwise I'd expect to have to go through a KYC type of process on the next page to prove that I'm indeed a legal representative.

[2021-09-18 09:40] alanna commented on #3190
@znarf will this also enable gift cards to be used across any host?

[2021-09-18 11:45] znarf commented on #3190
Money doesn't move until a Settlement expense is paid, so you'll have the ability to see what where the contributions before paying it. If a Contribution is problematic, we can think about a refund/revert process. Sure, we'll have to define more clearly those processes. Maybe we can start with something lightweight and see how it goes?

Yes, it's a bit different but Gift Cards and Prepaid Cards co

[2021-09-18 11:53] znarf commented on #4705
I'm wondering, why is it different for accountants if it's paid by Wise/PayPal manually or automatically?

[2021-09-18 12:25] znarf commented on #4702
This was effectively brought multiple times by you and this was discussed within the team.

Consensus is that "Host Fee Share" might not be a great name but naming it "Platform Fee" would have been even more confusing because "Platform Fee" was something different in the past.

It would be bit difficult to justify having "Platform Fees" again when we said that we were dropping it in the past. At l

[2021-09-19 00:02] alanna commented on #4702
I don't think it's the right call to be held by the past like this. things
change. We have to move on. Will we have to consider what we called things
years ago forever?

We were always clear that it was no platform fees *for collectives*. The
platform fee is now something charged to the host. But that doesn't change
the essence of what it means.

If not platform fee, then what do we call it that's

[2021-09-19 00:04] alanna commented on #4705
Because they reconcile merchant clearing accounts based on the top up
payments we do to those balances, and it's mostly automated. Then it
doesn't add up and they have to go dig up these manually paid ones and
match them up.

[2021-09-19 00:15] SudharakaP commented on #2757
@Betree : I am a bit confused by this. Today we have the code,

https://github.com/opencollective/opencollective-frontend/blob/39cace1de0f2f2d7bad2119df006fb0bdff80f70/components/collective-page/hero/Hero.js#L280-L290

for the link to the terms for fiscal sponsorship which appears on the host page. This doesn't go through the `external-redirect.js` and thus the host can put any URL they want. My t

[2021-09-19 00:21] SudharakaP opened #4707 "Add Regex Validation for Fiscal Host Terms URL"
An idea I got while I was working on https://github.com/opencollective/opencollective/issues/2757.

Currently we allow host to specify a terms URL, but really we don't check whether it's actually an URL.

![image](https://user-images.githubusercontent.com/12435965/133911648-342d1b1f-3fdb-42d1-9e31-cd8e01b96936.png)

Note that in the description we clearly say we are expecting a URL. Thus I think w

[2021-09-19 05:13] alanna commented on #3190
So all cross-host contributions will be listed out on the settlement expense, and not paid until host admin approves, and we can reject any that are not allowed? Does that mean there will be up to a month delay between when the contribution is made and when it is paid?

Just so you know the limitations, OCF cannot give money to anything but another 501c3. OSC can only donate to another entity in c

[2021-09-19 23:11] alanna commented on #4654
I already fixed the help text so I've removed that aspect

[2021-09-19 23:12] alanna commented on #4692
I made a pull request to change the helptext under the boxes, which has been merged. Please keep that new text.

[2021-09-19 23:14] alanna commented on #4692
If the profile already exists (as implied by the user selecting it at the top) won't the display and legal names be set? Or is this just a way to get them to update the legal name as part of the flow if they have not already done so? That's probably a good idea as many existing profiles won't have legal/display names set correctly.

[2021-09-19 23:16] alanna commented on #4692
I think people will likely change the display name to 'incognito' instead of selecting the incognito option as currently designed. Can we think about how to prevent this? If we make the incognito selection the first thing maybe it will ease their mind about putting in their name(s)?

[2021-09-20 03:47] alanna opened #4708 "Changelog updates for Hosts"
Our system for platform updates in-app (🔥 ) is working really well. It would be amazing to have a similar system for hosts, where they could make an update that activated the 🔥  notification just for admins of their hosted Collectives.

[2021-09-20 03:50] alanna commented on #4671
Ah ok that solution makes sense, I didn't know.

[2021-09-20 03:50] #4671 closed

[2021-09-20 03:55] alanna commented on #4650
Ordering by date is an improvement but I still think we should enable custom ordering if possible.

[2021-09-20 03:58] alanna commented on #4650
Oh that's being tracked in #4622 so I'll close this

[2021-09-20 03:58] #4650 closed

[2021-09-20 04:00] alanna commented on #4611
If it's easy to switch back on different *additional* admins, then let's go with that. We can dig into the question about completely different admins later.

[2021-09-20 04:03] alanna commented on #4564
How about we just begin with Updates from known Hosts like OSC, OCF, OC, AfC, SCN, OCEU, etc? Then we can add others if they request, and solve the deeper moderation policy issues later.

I think the main risk is from self-hosted Collectives. There are some really cool ones we'd like to highlight but I don't think it's the first concern.

[2021-09-20 04:11] #4416 closed

[2021-09-20 04:12] #4411 closed

[2021-09-20 04:18] alanna opened #4709 "Remove options on Create Collective page"
On https://opencollective.com/create you see

![Screen Shot 2021-09-20 at 4 14 58 PM](https://user-images.githubusercontent.com/5498878/133956598-05d9444a-1ba6-4b26-8efa-b2a89718c98f.png)

These categories are no longer relevant in the same way and I think we can move past them.

Originally the Open Source path was put in place because at the time the vast majority of Collectives signing up were d

[2021-09-20 04:24] alanna commented on #4115
Hey was this done @piamancini ?

[2021-09-20 04:34] alanna commented on #3542
@kewitz @piamancini have we learned anything more about reducing Stripe fees?

[2021-09-20 04:36] alanna commented on #3422
We now have better support for pseudonyms with the display/legal name settings. However, I still think incognito payouts would be a good feature.

[2021-09-20 04:40] alanna commented on #2727
This is solved by Project Updates.

[2021-09-20 04:40] #2727 closed

[2021-09-20 04:43] alanna commented on #2440
We discussed this at a team meeting recently. What was the outcome @znarf ?

[2021-09-20 07:00] Betree commented on #4662
Yes, but you need to type their exact email:

![Peek 2021-09-20 08-59](https://user-images.githubusercontent.com/1556356/133966105-59318457-3c11-493a-8b0f-07340dd6c6e4.gif)

[2021-09-20 07:23] Betree commented on #4699
That's not an easy one to build and maintain, but I 100% agree there. Having an internal messaging system would help in many different cases:
- **Better contact form**: An internal messaging system would prevent issues like https://github.com/opencollective/opencollective/issues/3106 and would allow for a shared message history for collectives/organizations - along with a way to know whether anoth

[2021-09-20 07:32] Betree commented on #4704
That'd be a great one to surface in the interface (#3224 #4438 #4167) and in the host CSV exports.

We need to treat it as a piece of personal information, accessible to the payer and host admin only.

[2021-09-20 07:38] Betree commented on #3689
The [MVP](https://github.com/opencollective/opencollective/issues/3689#issuecomment-905305266) for this project is mostly done. We're still iterating on the expense flow stuff, and need to add it to CSV exports, but it should be ready for the end of the sprint.

I think we should quickly - during the next sprint - follow-up with https://github.com/opencollective/opencollective/issues/4692#issuecom

[2021-09-20 07:38] Betree opened #4710 "Add a `legalName` column on host admin CSV export"
Part of https://github.com/opencollective/opencollective/issues/3689#issuecomment-905305266

[2021-09-20 07:40] Betree commented on #4581
Extracted CSV implementation to a [separate issue](https://github.com/opencollective/opencollective/issues/4710) since it's a different service. This one is all done!

[2021-09-20 07:40] Betree commented on #4581
Oops, we still need to merge https://github.com/opencollective/opencollective-api/pull/6545 for it to be considered completed.

[2021-09-20 07:46] Betree commented on #4706
In `components/CreateOrganizationForm.js`, we shouldn't use a custom regex but rather rely on the standard `isURL` helper from validator-js. To be tested, but I'm pretty sure this URL will be supported.

[2021-09-20 07:53] znarf commented on #4706
For the future, I would like us to use html native url input to avoid having to invent our own validation.

[2021-09-20 07:55] Betree commented on #4707
Sounds good. We should check existing entries in the DB to make sure we only have valid URLs before we introduce a validation.

[2021-09-20 08:04] Betree commented on #2757
To create a host, all it takes is to create an organization then click a button. So no, we can't automatically trust a host just because they're a host.

This is exactly the problem here. What I tried to explain in https://github.com/opencollective/opencollective/issues/2757#issuecomment-912308225 is that someone could exploit such feature to bypass our redirect validations, since we're not going

[2021-09-20 08:09] Betree commented on #4564
@alanna This overlaps with a need to have "trusted hosts" that we've talked about in the past. Having an easy way to tag hosts that we know are legit and serious would be helpful to enable sensitive features like this one or cross-host contributions.

[2021-09-20 08:41] Betree commented on #4709
I wanted to see some data on this, so I asked [metabase](https://opencollective-metabase.herokuapp.com/question/570-count-new-active-collectives-by-fiscal-host):

![image](https://user-images.githubusercontent.com/1556356/133975196-c03c50b4-6c14-4622-b658-bff71588bb6f.png)

Nowadays, collectives hosted by OSC still represent between 20% and 30% of active collectives created on the platform:

<deta

[2021-09-20 08:42] Betree commented on #4708
@SudharakaP Could you propose some ideas and eventually some general specs on how this could work from the UX and technical point of view?

[2021-09-20 08:51] Betree commented on #3422
@alanna I indeed think we have all we need with this new concept of "legal name"/"display name" to implement this feature. In the backend. Having an incognito concept at the expense level (some expenses being incognito and others not) is desirable, and could be achieved quite easily by allowing users to submit expenses with their incognito profile (we would still use the legal name from their user

[2021-09-20 08:57] Betree commented on #4706
@znarf One problem with relying on `type="url"` is that it will force users to prepend the URL with `https://`. The `isURL` helper matches what we do in the backend, it might not be the best in terms of accessibility but it's a good solution for a quick fix.

[2021-09-20 10:03] BenJam opened #4711 "Open Collective Roadmap FY21Q3S2"
## Enforce minimum number of admins

**Owner:**: @BenJam
**Design**: @aminakazi
**Tracking issue**: https://github.com/opencollective/opencollective/issues/3593
**Status**: 💛
**Goals/KPIs**: Enforce host policy in code, reduce amount of support time dedicated to enforcing.

## Two to sign/multiple expense approvals

**Owner:**: @benjam
**Design**: ?
**Tracking issue**: https://github.com/opencolle

[2021-09-20 12:07] #4706 closed

[2021-09-20 12:39] SudharakaP commented on #4581
Yes, I missed this one; I'll go through your [final review](https://github.com/opencollective/opencollective-api/pull/6545#pullrequestreview-757131842) for this today and hopefully we can merge it this week. 🙂