[2022-07-24 22:54] alanna commented on #3961
@znarf is this done? I thought we achieved this in the last round of ledger improvements.

[2022-07-24 22:55] alanna commented on #1741
This is achieved through `add funds`

[2022-07-24 22:55] #1741 closed

[2022-07-25 00:10] alanna commented on #5652
I think this will be best handled by #5195 where you'll be able to filter by `admin change` as a type of action.

[2022-07-25 00:14] alanna commented on #5373
Closing in favor of #5771 as it has more detail

[2022-07-25 00:14] #5373 closed

[2022-07-25 00:16] alanna commented on #4805
Ideally this would also include a way to upload the form itself (received manually) to the right place in storage with the other tax forms

[2022-07-25 04:36] natehn commented on #4747
Ah, @poohlaga and I were thinking this was for hosts - but I understand, this is for Collective admins. Makes sense.

[2022-07-25 07:14] Betree opened #5783 "Allow virtual cards receipts to be uploaded while processing"
On [Slack](https://opencollective.slack.com/archives/C01LTEBDARL/p1658442414042439):

On our side, we must make sure that there's no risk of concurrency issues between the admin edit and the update triggered by the payment webhook event.

[2022-07-25 07:14] Betree commented on #4312
- https://github.com/opencollective/opencollective/issues/5783

[2022-07-25 07:29] Betree opened #5784 "Review of the Conversations feature"
We released the [conversations](https://github.com/opencollective/opencollective/issues/2223) feature almost 3 years ago. It doesn't seem to be widely used, and @opencollective/design was discussing the eventuality of merging that feature with "Updates" at some point.

It would be great to check:
- the numbers: how many people are using this? Is the usage increasing?
- the use cases: who's using i

[2022-07-25 07:31] #4960 closed

[2022-07-25 07:55] Betree commented on #5781
Hi @kisvegabor, we need to better document this but you should be able to do this by editing the URL after you click on contribute:

`/:collective/contribute/:tierSlug-:tierId/checkout` => `/:collective/tiers/:tierSlug.svg`

For example:
https://opencollective.com/lvgl/contribute/supporter-25021/checkout => https://opencollective.com/lvgl/tiers/supporter.svg

I'm keeping the issue open until we're

[2022-07-25 08:13] Betree commented on #5704
I realize my previous message wasn't clear, so to clarify: my concern is not that the charts will be public (I agree we have no reason to hide them), but I'm trying to understand the added value of having that on **the profile page** instead of a separate one, like `/transactions`.

My concern here is the fact that charts have a significant impact on pages load times. To me, the goal of the profil

[2022-07-25 08:17] Betree commented on #5673
I haven't seen any blocking feedback and we've had some good internal testing in the team. I think this can safely be rolled out of everyone. cc @kewitz

[2022-07-25 08:22] alanna commented on #5704
I would agree about putting it on a separate page and linking from the main profile

[2022-07-25 09:38] Betree commented on #5766
@rakshitgondwal Feel free to do so!

[2022-07-25 09:39] #5765 closed

[2022-07-25 09:39] Betree commented on #5765
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2022-07-25 09:43] snitin315 commented on #5490
@Betree Can this be a bounty?

[2022-07-25 09:50] Betree commented on #5633
We improved the error message for this form in https://github.com/opencollective/opencollective-frontend/pull/7880, but as far as I'm aware we haven't seen other occurrences of this one. @JoePfeiffer If this is still happening, please share your account with us (support@opencollective.com if you don't want to do it publicly) for a deeper investigation.

[2022-07-25 09:50] #5633 closed

[2022-07-25 09:57] Betree commented on #5367
Now enabled for OSC

[2022-07-25 10:05] Betree commented on #5383
We made some progres on this topic after https://github.com/opencollective/opencollective/issues/3593

[2022-07-25 12:09] rakshitgondwal commented on #5766
@Betree How should I proceed with this? Can you help me?

[2022-07-25 12:11] kisvegabor commented on #5781
Works like a charm, thank you!

[2022-07-25 12:59] #5778 closed

[2022-07-25 13:53] Betree commented on #5766
@rakshitgondwal This feature only requires a change in the frontend: https://github.com/opencollective/opencollective-frontend. The README includes instructions on how to run it.

[2022-07-25 14:27] kewitz commented on #5692
@kaylarep the name/label of a virtual card is defined by the host admin, so it is basically up to the admins to come up with a standard for naming cards.

What we can do to help is being able to fetch all virtual cards that belong to a certain collective and its projects/events. Do you think this would help?

[2022-07-25 14:43] kewitz commented on #5695
We still don't have a structure to support multiple approvals for any type of action on our platform. Considering this is a papercut, we'll need to find another way to solve this issue.

I suggest allowing the collective to pause the card but not resume it. Resumes would need to be requested straight to host admins, which should be OK considering we aim to cover emergency cases.
Do you think this

[2022-07-25 14:51] rakshitgondwal commented on #5766
@Betree Do I need to know about backend before contributing to this? like node js and stuff because I haven't started learning back end yet.

[2022-07-25 15:15] Betree commented on #5766
@rakshitgondwal No, as mentioned in my message above it only requires a change in the frontend. And as per the frontend's README:

[2022-07-25 16:17] pelletier197 opened #5785 "[DOCS] Proposition to replace Graphdoc with Magidoc"
## Context
Current [API documentation](https://graphql-docs-v2.opencollective.com/) is built with [Graphdoc](https://github.com/2fd/graphdoc), and some details about how to use the API is also detailed in a separated [Medium article](https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff).

### What's changing?
Proposition is to replace graphdoc with [Magidoc](https://

[2022-07-25 20:15] rakshitgondwal commented on #5766
but I'm not familiar with the npm commands @Betree

[2022-07-25 20:57] alanna commented on #5673
OK great. @shannondwray please ensure this is documented when it's released to everyone, and let's do a 🔥

[2022-07-25 21:11] Betree commented on #5766
Sure, but note that the core team can only provide limited assistance.

[2022-07-25 21:50] alanna commented on #5457
This should take into consideration #5278 for transparency

[2022-07-25 21:53] kaylarep commented on #5695
This sounds fine to me. In this process would definitely need to include:
- Double confirmation: "Are you sure you want to pause this card? You will not be able to resume card usage by yourself. You will need to contact your fiscal host, and ask them to turn the card back on. Please let your fiscal host know why you will be pausing this card."
    - With mandatory Comment field, not too many chara

[2022-07-25 21:55] rakshitgondwal commented on #5766
Okay! I'll keep that in mind.

[2022-07-25 23:07] kaylarep commented on #5758
I'm not sure how urgent this is -- it doesn't quite work as intended right now, but that just means our processes (on the OCF side) haven't really changed at all since the release of this feature.

[2022-07-25 23:11] alanna commented on #5758
True we can manage, but a main purpose of the feature was to address this, so if we can fix it we should.

[2022-07-26 00:41] kaylarep commented on #5783
the pain point is a bit related to the one in this issue: https://github.com/opencollective/opencollective/issues/5696
of smoothing out the processes for Assignees when they 1) complete a purchase; 2) receive an email notification asking for a receipt upload; 3) upload a receipt

I would like to consider how to improve this very thoughtfully, taking into consideration that the Admins who take the

[2022-07-26 01:08] alanna commented on #3865
I'm separating the core of this issue from the related #4993 to make it clearer.

[2022-07-26 01:17] alanna opened #5786 "Host admins don't need to approve paying expenses within the same host"
## Who is your user?
Host admin
Collective admin

## What are they trying to achieve?
Process expenses that move money between Projects and the parent Collective or between Collectives within the same host. This should not require the Host admin's approval, but current it does, as all expenses must be paid by a Host admin.

## How are they currently doing this?
Submit an expense, approve it, wait

[2022-07-26 02:44] Memo-Es commented on #5784
IMO conversations can be easily merged to updates by adding an ON/OFF switch to allow comments to each update. Having the same interface for both is weird, and merging them helps us align with our platform simplification goal.

[2022-07-26 07:36] #5776 closed

[2022-07-26 09:39] Betree commented on #5407
On the project board, the description says "Maybe not a good idea. The popup is small and crowded."

Can we elaborate on this feedback? @znarf maybe?

[2022-07-26 09:44] Betree commented on #5696
We can adapt the text from the email you receive when your card is being use, but should adapt it

cc @BenJam

[2022-07-26 09:48] Betree commented on #5171
The decision is to simply show "REFUNDED" somewhere on the PDF, maybe next to the title

[2022-07-26 09:50] Betree commented on #5341
In the context of https://github.com/opencollective/opencollective/issues/5516, we maybe don't want to show this if the "Bill to" is configured to the collective

[2022-07-26 09:53] Betree commented on #5713
Should be a menu on the status, like we do when the expense is paid

![image](https://user-images.githubusercontent.com/1556356/180978482-63e6ef67-1eb0-4d58-8a87-7ffa9c029f39.png)

[2022-07-26 09:56] Betree commented on #4990
We need @opencollective/design to make sure we put the warning at the right place & with the right styles

[2022-07-26 11:43] kewitz commented on #5758
This is by design. During the speccing and design discussion, there was a divergence in the idea of filtering out these collectives and allowing or not to apply.

I'll make sure to update the rules with respect to being able to apply or not.

[2022-07-26 11:47] #5692 closed

[2022-07-26 13:48] Betree commented on #5387
I'm gonna work on this in priority, most update emails from updates are currently bouncing. I suppose that's because they come from `nore-reply@{collective.slug}.opencollective.com`, which is an unknown domain, and since we introduced DMARC recently that might be blocked.

[2022-07-26 15:01] themightychris opened #5787 "Display virtual card assignee to admins on virtual cards page"
On the Virtual Cards page, admins can see all cards and their details, _except_ who the assignee for each card is. We've had to document out-of-band who each card is assigned to

[2022-07-26 15:02] themightychris opened #5788 "Custom label or description for virtual cards"
When multiple virtual cards exist in an account, it is currently necessary for admins to manually document out of band what the use/purpose for each card is. It would be very helpful for admins to be able to assign a custom label or description to each card

[2022-07-26 15:04] themightychris commented on #5783
As an admin on an org with multiple virtual cards, I can say this would be super helpful! It's a bit discombobulating right now to find and flip through virtual card charges and find things that need action

[2022-07-26 15:10] #5387 closed

[2022-07-26 17:10] #5712 closed, assigned to kewitz

[2022-07-26 18:34] kaylarep commented on #5410
[user feedback](https://opencollective.slack.com/archives/C01LTEBDARL/p1658844184943649):

It would be useful to see a pending virtual card request so I can know it was submitted successfully.
There's no email confirmation that the request has been submitted nor any indication as to how long I should expect to wait.

[2022-07-26 18:35] kaylarep commented on #5410
https://github.com/opencollective/opencollective/issues/5788 Custom label or description for virtual cards

[2022-07-26 18:36] kaylarep commented on #5410
https://github.com/opencollective/opencollective/issues/5787 Display virtual card Assignee to Admins

[2022-07-26 19:53] natehn opened #5789 "Budget (and other sections) of Collective are invisible to Host admin when Collective is frozen."
**Describe the bug**

After I freeze a Collective, as a Host Admin, I can no longer see their budget and other information.

<details>
  <summary>Triage Template (core team only)</summary>

  This template is for members of the team to triage for prioritisation. For more guidance see https://www.loom.com/share/369ab467fbc64dec848085d38ff57ca0:

  P1 high frequency, high impact
  P2 low frequency,

[2022-07-26 22:12] alanna commented on #5195
Just discussed a use case for this in the OCF team meeting - we actually have no way of knowing right now when a Collective leaves. They can just unhost themselves quietly. So it will be very useful to have the activity log to be able to develop an offboarding process proactively. Thanks to everyone working on this feature! We're looking forward to it.

[2022-07-26 22:47] alanna commented on #5341
This is a difference between how OCEU is set up legally and how most other Hosts are set up legally. But I think defaulting to the Host's address unless the Collective has proactively set a bill to address as described in #5516 will succeed in most cases.

[2022-07-26 22:48] alanna commented on #5407
I agree it's not the prettiest design to have lots of fields in a modal, but as this is only seen by Host admins, and Host admins care a lot more about compliance than aesthetics for backoffice tasks like this, I would still advocate for doing it.

[2022-07-27 05:17] alanna commented on #5671
The selected payee should persist. I set up a recurring expense with the payee as an organization, but when the next month's draft came through, it had reverted back to my personal profile as the payee.

[2022-07-27 06:37] iamronen commented on #5704
@Betree thank you for surfacing the issue of performance price.

## 1: Performance
For me a good starting point for a solution would be something like a gradual page loading mechanism. The initial page could load as is with a placeholder indicating "loading financial overview" ... and then, whenever that is ready populate the page with the visualizations.

I feel this capability may serve us well

[2022-07-27 07:17] Betree commented on #5704
@iamronen We already have intensive caching on this page. The reason why I was referring to load/**render** time is that not only do we need to fetch the data (that part can be optimized, even though it's additional work) but we also need the client's device to render it. This cost can be a small delay until the page becomes interactive or the device being slowed down.

Another approach that @open

[2022-07-27 07:35] Betree commented on #5789
Strongly related, we should actually try and address both issues with the same solution: https://github.com/opencollective/opencollective/issues/5426

[2022-07-27 08:24] Betree commented on #5367
@shannondwray added the docs to https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses#multi-currency-expenses. Are we ready to close this?

[2022-07-27 09:19] Betree opened #5790 "Inline documentation on expense status tag"
Someone on [Slack](https://opencollective.slack.com/archives/C6JTTA4SK/p1658912947549439?thread_ts=1658911741.786239&cid=C6JTTA4SK) was wondering about the status of an expense. We have a [great documentation page](https://docs.opencollective.com/help/collectives/expenses#expenses-status) for that, but it's not really surfaced there.

We could add a tooltip to explain the statuses directly when ho

[2022-07-27 11:39] iamronen commented on #5704
@Betree I want to make sure I understand you correctly: are you saying that the 3 second delay would be due to client rendering load (and NOT backend data processing/)?

I will also give more thought to the collapsible pattern you mentioned. It may be possible to couple that with some kind of low-load preview that tells a "preview story" of what can be expected inside  ... something like summary i

[2022-07-27 11:53] Betree commented on #5704
The "3 seconds" thing was a caricature, I can't estimate the impact without more precise specs. But surely:
- There will be an impact on the loading time (mostly when the page is not cached yet or when we clear the cache)
- There will be an impact on the rendering time (esp. on mobile devices)

The two solutions that you mentioned above seem to go in the right direction:
1. Have an efficient desig

[2022-07-27 16:55] shannondwray opened #5792 "Duplicate Entities showing under contributions."
**Describe the bug**
When I think of contributions I think of money, I feel like we should have the core contributor section separate and under a different header. I find it confusing when the same entity is shown twice, looks like a bug.

**Screenshots**
Screenshot attached

**Desktop (please complete the following information):**
 - OS: Mac OS Monterey - Version 12.5 Beta
 - Browser. Brave
 - Ve

[2022-07-27 16:56] shannondwray commented on #5792
<img width="842" alt="Screen Shot 2022-07-27 at 5 47 53 PM" src="https://user-images.githubusercontent.com/79115149/181305503-356e5e4e-f50c-4747-a50c-b73cc4c4033a.png">

[2022-07-27 19:57] SudharakaP opened #5793 "Add Further Filtering for the `/search` page"
There were several requests and discussions about further enhancing the `/search` page filtering. The two most important comments on these are summarized at, https://github.com/opencollective/opencollective/issues/4295#issuecomment-1118945833 and https://github.com/opencollective/opencollective/issues/1745#issuecomment-474872514.

I am creating this issue so that we could have a further discussion

[2022-07-27 20:00] SudharakaP commented on #2232
I've created a new issue for this at, https://github.com/opencollective/opencollective/issues/5793 and suggested this on our Roadmap as well; https://github.com/opencollective/opencollective/discussions/5741#discussioncomment-3264149

[2022-07-27 21:00] SudharakaP commented on #5702
@Betree : For the collective tags note that we cannot store something like `OSS` currently. It will be stored as `oss`. So all tags are stored in lowercase.

https://user-images.githubusercontent.com/12435965/181370753-a406e09a-dd00-4e9d-a311-c8a91a7e65bb.mp4

I think we need to make sure when we search the search should be case insensitive as you mentioned. I've opened two PRs in this regard. 👍🏽

[2022-07-28 01:45] natehn commented on #5704
@poohlaga mentioned that it might be helpful for you all to see some of the math in action. [Here](https://opencollective-metabase.herokuapp.com/question/834-ocf-collective-financial-metrics-update-dates) are some of the metrics calculated (with my limited skills) in Metabase (note: the dates have to be manually updated)

[2022-07-28 08:19] agnostic-apollo commented on #4729
Hi,

I am one of the admins for [@termux](https://github.com/termux) and we have our collective at https://opencollective.com/termux

Apologies in advance for the long comment. ;)

Based on history, [#3935](https://github.com/opencollective/opencollective-api/pull/3935) via [`f7266286`](https://github.com/opencollective/opencollective-api/commit/f7266286a4901229ede856ae7b2d8b90e67ce81a#diff-90ee3a

[2022-07-28 09:20] znarf commented on #5783
Fyi, I think we're seeing customers uploading receipts while in processing. Or is it just editing the Expense? I had to make this patch for this reason https://github.com/opencollective/opencollective-api/pull/7754

[2022-07-28 23:06] kaylarep commented on #5793
If taking some of these proposed ideas, would also be helpful for 'Finding a Host' https://github.com/opencollective/opencollective/issues/5672

[2022-07-28 23:13] kaylarep commented on #4829
I think I'm probably late to the conversation here and I'm not caught up in where we're at currently, but I've been considering more and more that:

**Assessing and catering to distinctive audiences is pretty vital when explaining Open Collective to a newbie.**

I've started a draft of what my dream home page might look like (I know we've just revamped it, but I'm still facing confusion when prese

[2022-07-29 00:21] alanna commented on #4729
Reopening to address the new comment

[2022-07-29 07:18] Betree commented on #4729
@agnostic-apollo Thanks for sharing your concerns. As shared in https://github.com/opencollective/opencollective/issues/4729#issuecomment-925587403, I also think that payout method info should not be visible to collective admins. The fact that we're compromising the privacy of many groups because one of them has a special way of operating doesn't sound right.

I like the idea of a privacy control

[2022-07-29 07:25] Betree commented on #5137
We got [another request](https://opencollective.freshdesk.com/a/tickets/106193) for this on support

[2022-07-29 07:25] n1c opened #5794 "Incorrect Github link for fakerjs"
**Describe the bug**

The "Code repository" link on https://opencollective.com/fakerjs links to "https://github.com/faker-j/faker" instead of "https://github.com/faker-js/faker"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/fakerjs'
2. Click on 'Code Repository'
3. You'll receive a 404 on Github.com

**Expected behavior**
See Github faker-js repository.

<

[2022-07-29 08:13] Betree opened #5795 "Enable the "Connected collectives" feature for Events & Projects"
This is already possible from the database/API point of view, and on the root actions page. We however need to properly surface them on the collective page.

On https://opencollective.com/test-abcd/projects/test-project10191817, there should be a "Connected collectives" section with a card to https://opencollective.com/test-abcd/projects/test-project10191817.

[2022-07-29 08:55] Betree commented on #5794
Thanks, this is now fixed - though the cache might take up to an hour to update

[2022-07-29 08:55] #5794 closed

[2022-07-29 08:56] Betree commented on #5792
Duplicate of https://github.com/opencollective/opencollective/issues/4672

[2022-07-29 08:56] #5792 closed

[2022-07-29 09:25] iamronen commented on #5195
@alanna
While  the activity log may reveal this event (if someone remembers to regularly check the logs), if you want to delve further into this scenario, here are some questions I would ask:

1. What does "unhost themselves quietly" mean? what do they actually do on the platform to make this happen?
2. If it is important for you to know this can we not make it more "noisy"? Instead of manually se

[2022-07-29 10:42] Betree opened #5796 "Change default behavior for VAT"
Initially, when we implemented VAT, we defined that collectives would need to go into their settings and pick "Use the VAT settings of the host" for it to be enabled. But this should really be the default, and other settings should just be there to cover edge cases.

This will unlock the VAT fields that are currently not shown in the expense form for Europe.

[2022-07-29 10:54] alanna commented on #5195
Yes we would find this out by regularly checking the logs, which we will absolutely be doing once this feature exists, and other hosts will too (we all do these functions manually now).

1. Unhosting as explained [here](https://docs.opencollective.com/help/collectives/change-fiscal-host#what-is-the-process-for-changing-fiscal-hosts).
2. We get 1000x too many notifications as it is. They would be l

[2022-07-29 12:59] iamronen commented on #5195
re: 2 - Notifications
It this true even after the recent release of [email notification settings](3357)?
If this continues to be true, then I would like to inquire if this is an organizational issue (eg: OCF overloaded / under-resourced) or a platform issue (eg: still sending out too many notifications).
**A chronic state in which a host is unable to receive a critical signal from the platform is,

[2022-07-29 13:07] agnostic-apollo commented on #4729
Thanks @alanna for reopening the issue and @Betree for responding.

I agree as well. If private details need to be disclosed for some collective, it should be collective/expense specific and not global. I do think there are likely other collectives who may want or need access as well though, specially companies who may have to file their own tax or legal documents, so a way to provide exceptions f

[2022-07-30 05:27] rzelnik opened #5797 "Fixed width buttons do not work well in other languages"
**Describe the bug**
There is a fixed width button on the OC home page. It looks good in English, but in other languages the text has different length, which causes broken centering or overflowing of the text inside the button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the home page](https://opencollective.com/)
1. Scroll down to 'Start Now' button, check it
1. Change language t

[2022-07-30 10:51] Betree commented on #5797
Cc @flickz

I missed that in the review of the home page. Fixed width are evil and should be avoided for the reasons mentioned above.

[2022-07-30 17:29] flickz commented on #5797
Oops! Not sure how I missed that 😬

[2022-07-30 17:31] rzelnik commented on #5797
@flickz thank you for quick fix.

[2022-07-30 23:32] alanna commented on #5195
Notifications are just not effective at OCF or OSC's scale really. They go to all admins and there's no way to track if someone has followed up on a team with like 8 admins. The only way we're able to make use of notification now is routing them to freshdesk so we have a ticketing system to track them (e.g. expense comments). Because we need to keep notifications on for things like expense comment

[2022-07-30 23:37] alanna commented on #4774
@Betree was the associate PR completed? This issue is still a problem.

[2022-07-31 22:55] alanna opened #5798 "Download CSV list of Expenses"
## User story
As a Host admin, I want to download a CSV of expenses, so that I can process and use data about my finances.

This probably goes equally for Collective admins, or anyone looking at public expense data of Collectives and Hosts, too.

The current thing I'm trying to do that would benefit from this is calculate GST stuff for OCNZ.

## Best solution for this problem
A CSV download for ex

[2022-07-31 23:34] alanna opened #5799 "Extraneous zeros on financial contributions list"
**Describe the bug**
looking at https://opencollective.com/ocnz/admin/orders what are all the extra zeros under 'NZD'

<img width="956" alt="Screen Shot 2022-08-01 at 11 23 46 AM" src="https://user-images.githubusercontent.com/5498878/182049919-3d15ae19-a2e1-41bc-a8d7-18a0a51ce727.png">

  P4 low frequency, low impact

[2022-08-01 02:58] alanna opened #5800 "Members-only events"
## User story
As a Collective admin, I want to host events that are only for contributors to a specific tier or Project, so that I can offer events as a special benefit for members.

## Best solution for this problem
Restrict an Event to only be open to or visible to certain groups of contributors.

## MVP
Maybe an 'unlisted' event where you can share the URL but if you don't have the link you can

[2022-08-01 06:17] Betree commented on #5798
This is already possible for collectives. On the transactions page, filter by `Kind` > expenses then click on "Download CSV". See https://opencollective.com/babel/transactions?kind=EXPENSE for example.

We don't yet have this to download everything under a given host, but that could be resolved by having a page to show all transactions under a given host (I thought we had an issue for that, but co

[2022-08-01 06:22] Betree commented on #5772
Ideally, that should be resolved with https://github.com/opencollective/opencollective/issues/3749.

But this issue triggers another question: currently we let users hide their "Transactions" sections. Should we stop doing that, and make it mandatory?

[2022-08-01 06:36] #5797 closed

[2022-08-01 06:48] #5799 closed

[2022-08-01 07:37] Betree commented on #4774
@alanna It was not, the feature implementation in the abovementioned PR was incomplete so @znarf opened a different one for the follow-up: https://github.com/opencollective/opencollective-api/pull/7693. From what I reviewed I believe it's mostly ready to go, but needs to be rebased.

[2022-08-01 08:05] #5795 closed

[2022-08-01 08:26] Betree commented on #5720
@alanna Yes, I agree all admins should be allowed to list and edit draft expenses even if they're not the inviter

[2022-08-01 08:28] jfdh commented on #5713
https://github.com/opencollective/opencollective-frontend/pull/8051#issuecomment-1199316481

[2022-08-01 08:46] Betree commented on #5323
Would be really nice to expose this feature for everyone. I'm personally hacking it by updating my payout methods in the database directly

[2022-08-01 10:58] Betree commented on #5490
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2022-08-01 11:01] Betree commented on #5369
Merging this issue into https://github.com/opencollective/opencollective/issues/5369 as it's the same request. We're currently working on this.

[2022-08-01 11:01] #5369 closed

[2022-08-01 11:47] Betree commented on #4824
I missed this issue, it's indeed a very simple one. I'll look into it.

[2022-08-01 11:49] Betree commented on #4662
Since no other proposal has emerged, I propose we go with:

[2022-08-01 12:14] #5777 closed

[2022-08-01 12:15] #5529 closed

[2022-08-01 13:14] BenJam commented on #5195
update w2

going to punch out an MVP asap based on what we already have from an engineering perspective i.e. we'll display collective filter but perhaps not the type filters. Updates that we can already support are the same that we use to generate notifications (i.e. we could run the type filter from that).

- @betree and @suds to review spec and make a start

[2022-08-01 13:15] BenJam commented on #5681
update - will start looking at this next week.

[2022-08-01 13:16] BenJam commented on #3438
reviewed design from two years ago and @aminakazi already updated. Designs are pretty much ready.

- @Betree and @SudharakaP to discuss working on the skeleton

[2022-08-01 13:18] BenJam commented on #5516
- [ ] @Betree to iterate on feedback and merge this week

[2022-08-01 13:27] jfdh commented on #5713
Copying my comment here:

[2022-08-01 14:56] #5506 closed

[2022-08-01 19:04] natehn opened #5801 "Making certain information available only to Collective admins within the platform."
## Who is your user?

As a host admin, I would like to share sensitive information, such as our bank account information, only with current Collective admins.

## What are they trying to achieve?

_When I have something sensitive that should only be visible for collective admins, I want to have some way to do so that is connected with their status on the platform, so I can avoid oversharing that i

[2022-08-01 19:12] kaylarep commented on #4824
lets :fire: update this when it's deployed

[2022-08-01 20:28] version-aotearoa commented on #5800
Re. MVP
Currently non members are not emailed updates:
- This means they could miss out if capacity is reached.
- They also may not get all the info they need to actually attend the event if some details change or are undisclosed e.g. location of venue

Also admins could "prune" the RSVP list based on status - but this could be problematic 😅

In summary; currently just "staying connected" is membe

[2022-08-01 23:48] scenaristeur commented on #964
Hi 👋
Exploring OC code, and the big list of issue I'm wondering if it should be possible to convert the SVG to PNG when uploading so there is no more XML to allow attack, something like https://www.npmjs.com/package/convert-svg-to-png . But that is just an idea, I'm not really sure of the context.

[2022-08-02 00:40] scenaristeur opened #5802 "[DOCS] roadmap link send to a supposed outdated roadmap"
The link for the roadmap on this page
https://docs.opencollective.com/help/product/roadmap
 show a roadmap with the 2021/05/24 date. Is it outdated
?
No more recent roadmap?

[2022-08-02 02:13] alanna commented on #3865
This also applies when trying to preview expense attachments. You click to preview and the first thing you see is the system invoice, which is not useful for what that workflow is for (checking the user-uploaded file). You wait for it to load, then you have to click the arrow and load the actual uploaded attachment.

<img width="664" alt="Screen Shot 2022-08-02 at 2 10 58 PM" src="https://user-ima

[2022-08-02 02:20] alanna opened #5803 "Show number of comments on host admin expense view"
## Who is your user?
Host admin

## What are they trying to achieve?

When I am paying expenses, I want to see whether there are comments on an expense, so I can know if I need to open the full expense page to check or whether I can go ahead and pay it based on the preview info.

## How are they currently doing this?
Opening each expense individually to ensure there aren't any issues communicated

[2022-08-02 02:26] alanna opened #5804 "Show Parent Collective name in host admin expense view"
## Who is your user?
Host admin

## What are they trying to achieve?
When I am processing expenses, I want to see which Collective they related to, so that I can accurately assess the expense.

## How are they currently doing this?
Currently it only shows the Project, not the Collective name. So you have to open the expense and look at the URL to figure it out. Ideally you'd be able to see both on

[2022-08-02 06:32] Betree commented on #5801
This could be part of https://github.com/opencollective/opencollective/issues/4699 I guess? I can send an in-platform message from the fiscal host to my hosted collective. Only the **current** admins of one or another would be able to see the conversations.

[2022-08-02 06:38] Betree commented on #964
That's a good option. Our [images service](https://github.com/opencollective/opencollective-images) already converts images on the fly so we could re-use that feature.

Note that this issue is quite complex, we don't recommend working on something like this for a first contribution. You can try this [list](https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee

[2022-08-02 06:42] Betree commented on #5802
@scenaristeur Thanks for documenting this issue. We try to put the meaningful links on https://github.com/opencollective.

cc @shannondwray, I'm not sure whether we should update the blog or remove this link. Currently:
  <ul>
    <li>Current Sprint: <a href="https://github.com/opencollective/opencollective/issues/5779">2022 Q3 cycle 1</a></li>
    <li>Ideas for Next Cycle: <a href="https://github

[2022-08-02 07:04] scenaristeur opened #5805 "no permission to clone git@github.com:opencollective/opencollective-frontend.git"
**Describe the bug**
` git clone https://github.com/opencollective/opencollective-frontend.git`
 is ok but not
`git clone git@github.com:opencollective/opencollective-frontend.git`

same for opencollective-api

[code]

[2022-08-02 07:10] Betree commented on #5803
Interesting, I remember that this was part of the design at some point. Not sure when/why it disappeared. @opencollective/design do you have something for this maybe?

[2022-08-02 07:12] scenaristeur opened #5806 "npm install on opencollective-api failed if psql command doesn't exist"
npm install on opencollective-api failed if psql command doesn't exist.
Postgresql-client should be installed first

[code]

[2022-08-02 07:14] Betree commented on #5805
This looks like there's an issue in your local Git config rather than the repo itself. Could you try some of the solutions proposed on https://docs.github.com/en/authentication/troubleshooting-ssh/error-permission-denied-publickey?

[2022-08-02 07:56] scenaristeur opened #5807 "error message "The slug agent is already taken. Please use another slug for your collective" but the collective has been created"
**Describe the bug**
Creating a first collective called "Agent" i've got an error in the UI saying saying "the slug 'Agent' already exist"

frontend "version": "2.2.0",

confirmed by opencollective-api
[code]

But the collective "Agent" has been created

[2022-08-02 08:04] Betree commented on #5807
Could you add some steps to reproduce? Did you create the collective directly from the API, from the UI?

[2022-08-02 09:45] Betree opened #5808 "Activities should store a `FromCollectiveId`/`HostCollectiveId`"
# Context

Activities often have two accounts involved. When posting a comment, for example, you have the poster and the collective to which the comment is being posted to. However, our activity table only has a `CollectiveId` column. We often get around this issue by storing the other party info in `data` or by relying on `CreatedByUserId`, but:
- It's a raw JSON, not a DB association, so updates

[2022-08-02 09:46] iamronen commented on #5732
This is impressive work @Memo-Es :)

The work you have outlined goes way beyond contribution flows and feels like it can be formed into a platform development roadmap for the foreseeable future. With that in mind:

1. Framing all of this under the umbrella of "Contribution Flow" (the name of both the document and the issue) is misleading. This may be an outcome of that research, but the scope of w

[2022-08-02 09:52] Betree commented on #5195
Doesn't have to be this sprint, but I believe https://github.com/opencollective/opencollective/issues/5808 will be an important requirement for this project to have a meaningful impact.

Why? If we just roll out the feature with our current data model, an activity like `Collective application approved` will only be displayed on the host's activity log. But it actually makes sense to also surface s

[2022-08-02 09:54] Betree commented on #5808
That could also be helpful when working on the email system as we often access `activity.data.fromCollective`. With this issue implemented, we'd have a typed/consistent way to access this information.

[2022-08-02 10:47] scenaristeur commented on #5766
@rakshitgondwal I'm not in the team (?yet) but I've just succeed to install and contribute with a little issue. If you are lost let me know 😉

[2022-08-02 11:27] iamronen commented on #5769
@poohlaga can you please chime in on this: this strikes me as familiar to something we discussed yesterday; the existing capability to create payment orders in the platform?

[2022-08-02 11:33] Betree commented on #3981
Thanks to the contribution of @hdiniz, the root action for this is mostly done (but not deployed yet) and will provide the basis to implement it for everyone. What needs to be done before exposing this publicly:
- [ ] We need a design
- [ ] We need to update the permissions to allow other users to move expenses (only from/to collectives they administer)
- [ ] Redirect from the old URL: if there's

[2022-08-02 12:27] BenJam commented on #4564
quite like this idea from the point of view of creating more clarity between the public facing parts of Open Collective (profile pages) and the work-like aspects of Open Collective from a user's perspective.

I like the idea of coming back to opencollective.com and seeing an activity feed of updates from projects i support alongside some data on the projects and how they doing a la https://github.

[2022-08-02 13:10] iamronen commented on #3981
reposting from Slack:
I can understand the need for such a feature, however I believe that such funding/expense related capabilities (I'm guessing there are others like it in the root actions) implemented this way, create a fundamental trust and reliability issue:

1. As the person who submitted the expense I may be wondering WTF just happened ... where did my expense go and assuming I figure out

[2022-08-02 14:07] Betree commented on #3981
@iamronen As mentioned, this tool is only for root users (aka the core team) at the moment to help them with a very common support task. We trust people in the support team to properly communicate this change with users and verify beforehand that there's a legit use case, which is why we haven't implemented advanced verifications (_apart from the validations on really problematic stuff, like you c

[2022-08-02 17:19] scenaristeur commented on #5807
I can not reproduce it was only for the first created.

[2022-08-02 17:19] #5807 closed

[2022-08-02 17:21] scenaristeur commented on #5752
at https://slack.dev/node-slack-sdk/ we got

should explore https://github.com/slackapi/bolt-js ?

[2022-08-02 17:34] kaylarep opened #5809 "Improve Search: Implement Algolia instead of pathing stuff up"
Postgres [materialized views](https://github.com/opencollective/opencollective/issues/3825) can be a simple and good option here. IMO it's the most effective quick fix we can have regarding performances right now.

As mentioned during the prep calls for the search experience redesign, we should be careful about how much time we invest in optimizing this. Migrating to a better system (Algolia? Elas

[2022-08-02 17:52] scenaristeur commented on #5790
found in 4 files . Should this be applied in the 4 files ?
![Capture d’écran du 2022-08-02 19-50-32](https://user-images.githubusercontent.com/4020744/182440980-7a810ac7-9ebd-45ec-935c-70c9ba6ff2cb.png)

[2022-08-02 17:59] kaylarep commented on #5715
- https://github.com/opencollective/opencollective/issues/5809
- https://github.com/opencollective/opencollective/issues/2232#issuecomment-1197304604
- https://github.com/opencollective/opencollective/issues/5751
- https://github.com/opencollective/opencollective/issues/5530
- https://github.com/opencollective/opencollective/issues/5523
- https://github.com/opencollective/opencollective/issues/579

[2022-08-02 18:00] Memo-Es commented on #5803
@Betree @alanna The latest version contemplates the addition of that in the info line like this:

![Annotation on 2022-08-02 at 12-59-09](https://user-images.githubusercontent.com/49539954/182442633-7c44fed8-81ac-4258-8735-8050c185ca43.png)

I'm happy to see this implemented :D

[2022-08-02 18:03] Memo-Es commented on #5766
Looks good to me

[2022-08-02 18:19] SudharakaP opened #5810 "Downloading Receipts Gives Error"
Related to the freshdesk reports https://opencollective.freshdesk.com/a/tickets/105406 and https://opencollective.freshdesk.com/a/tickets/106697.

It seems that downloading receipts gives errors with the API throwing,

[code]

[2022-08-02 19:13] kaylarep commented on #2682
some [feedback](https://opencollective.com/opencollective/updates/customizable-thank-you-email):

[2022-08-02 20:00] Betree commented on #5809
Updated the title to remove "Algolia". We need to check how search is being used today, what we want to achieve with it, and come up with a (technical) long-term strategy. Maybe it will be Algolia, maybe ElasticSearch, or maybe we'll decide we're happy with incrementally patching our SQL query.

This discussion is basically what I tried to push as a pre-requisite for https://github.com/opencollect

[2022-08-02 20:02] Betree commented on #5790
@scenaristeur All places where we display a status tag for an expense. This search has unrelated results.

[2022-08-02 20:07] Memo-Es commented on #2682
@kaylarep set custom text for tiers was included in the design proposal:

<img width="1059" alt="Screen Shot on 2022-08-02 at 15-01-58" src="https://user-images.githubusercontent.com/49539954/182463046-9864eb09-78a5-4669-a73c-48054f94b745.png">

With #3438 the interface will be nicer as well

[2022-08-02 20:09] Betree opened #5811 "Searching for a term with spaces should return spaceless results"
As reported in https://opencollective.slack.com/archives/C035S573ZD2/p1659318403940479:

[2022-08-02 20:31] Betree commented on #5715
- https://github.com/opencollective/opencollective/issues/5811

[2022-08-02 20:37] Betree commented on #5803
Cool, thanks @Memo-Es!

On the API, we could use `expense.comments.totalCount` but it's not backed by a loader yet, we should work on that to make sure we don't impact the performances of the expenses list when introducing this feature.

[2022-08-02 20:57] kaylarep commented on #5195
The log should have (IMO):
- Collective created on -date-
- Collective applied to host -name of host-
- Collective approved by host -name of host-

- perhaps also : Collective application rejected by -host- ?

[2022-08-02 21:04] Betree commented on #5195
@kaylarep I agree. All these are great example of events we can 9nly surface if we tackle https://github.com/opencollective/opencollective/issues/5808

[2022-08-02 21:11] #5810 closed

[2022-08-02 23:14] alanna commented on #3981
I agree with @Betree - these actions are pretty much always taken by support at the request of the user. That said, @iamronen's comments make me think we should include this kind of thing on the Activity Log #5195 for transparency and good recordkeeping.

[2022-08-03 06:22] Betree commented on #3981
@alanna I've already created an Activity for it, in the demo posted on Slack you'll notice that it appears on the expense page as `Expense was moved from {previousCollective}`. Because there's an Activity for it, it will appear in the Activity Log out of the box :slightly_smiling_face:

![image](https://user-images.githubusercontent.com/1556356/182538348-c3b42f53-230d-472c-b93c-18bcc05151e2.png)

[2022-08-03 08:36] alanna commented on #3981
oh perfect thanks!

[2022-08-03 08:50] Betree commented on #4963
Looks like this is resolved, @alinamanko have you seen this problem since?

[2022-08-03 09:22] Betree opened #5812 "Improve "Confirm your credit card" email"
We got a report on support from someone who thought the "Confirm your credit card" email was a phishing attempt:

When asked more details about why he thought the email was a phishing attempt, this user said:

From this feedback, it seems that we can improve a few things:
1. Make sure we're hosting the images embedded in our emails on our official domain (`images.opencollective.com`)
2. Provide mo

[2022-08-03 09:32] Betree opened #5813 "Search & destroy root action: provide more info on undeletable profiles"
The Search & Destroy root action has been pretty effective so far, but gets difficult to use when there are undeletable transactions in the batch. In the modal screenshotted below, we should provide more info:

[code]

![image](https://user-images.githubusercontent.com/1556356/182575106-fd08a092-017f-4c2a-80ab-e006d9e685c9.png)

[2022-08-03 09:34] Betree commented on #5813
Also related, it'd be great to surface the SPAM score on these cards

![image](https://user-images.githubusercontent.com/1556356/182575853-bda3013f-a558-43a2-93c8-c8ebc04290d0.png)

[2022-08-03 10:12] Betree commented on #5766
@rakshitgondwal any progress on this issue?

[2022-08-03 10:15] rakshitgondwal commented on #5766
@Betree Yes! I've made some changes and learning about the npm commands right now.

[2022-08-03 10:15] rakshitgondwal commented on #5766
@scenaristeur Sure!

[2022-08-03 10:24] Betree opened #5814 "Contribution flow: change label for PayPal when Stripe is not available"
Initially requested in https://opencollective.slack.com/archives/C012T9JR3BR/p1656915462211389
Asked for feedback in https://opencollective.slack.com/archives/C019YCG6RCY/p1656918151038979

![image](https://user-images.githubusercontent.com/1556356/182585688-00880ab0-ac4b-4b23-97c6-90bf679d4e1a.png)

**Proposal**
I don't think we want to change it globally as there's a risk to confuse users. But I

[2022-08-03 10:27] Betree commented on #5499
This would really save me time with support work on a day-to-day basis.

[2022-08-03 10:39] Betree commented on #5499
Pushed a mini-update for that in https://github.com/opencollective/opencollective-frontend/pull/8064. The expenses/orders lines now look more consistent.

![image](https://user-images.githubusercontent.com/1556356/182588634-b59df2a3-cb19-4c30-b769-fc588590a193.png)

[2022-08-03 11:15] shannondwray opened #5815 "Select a Collective when using Contact form"
## User story
_As someone doing support tickets, I spend a lot of time trying to find out the users collective profile or collective they are referring to so that I can get a clearer picture on what is happening in their query_

## Best solution for this problem
It would be great to have another section added to the contact form on our website asking for any links like their profile link, collecti

[2022-08-03 11:17] Betree commented on #5815
+1 on this, it could save us some back-and-forth on support. I think this field should be optional though.

[2022-08-03 12:54] shannondwray commented on #5802
Have linked our docs to Github instead :)

[2022-08-03 12:59] aminakazi commented on #5681
Should [this issue](https://github.com/opencollective/opencollective/issues/4667) also fall in the above list? We have entered it as a separate papercut.

[2022-08-03 14:35] Memo-Es commented on #4564
I've been thinking about redesigning the way we display updates for them to be less financial-looking and more social-looking, if that makes sense. Right now, they are too close to transaction components, with a layout unsuitable for displaying media content, for example. Which, in my opinion, would be an excellent thing for engagement. Having that done, we then need to design the right way to hav

[2022-08-03 19:52] Betree commented on #5802
That's perfect, looks resolved to me!

[2022-08-03 19:52] #5802 closed

[2022-08-03 19:58] #5499 closed

[2022-08-03 20:04] rakshitgondwal commented on #5766
@scenaristeur I'm done cloning the project. How do I run it locally?

[2022-08-03 23:07] alanna opened #5817 "Record merchant account timestamps"
## User story
As a host admin (and their accountants) we need accurate information about transaction times, so that we can accurately do month and year end close processes, and track difference between when transactions are recorded on OC, in merchant accounts (Stripe, Paypal, Wise), and the bank account.

## Best solution for this problem
Add to the OC data whatever timestamps are available throu

[2022-08-04 00:39] scenaristeur commented on #5540
Hi, i could be interested with a bounty for that issue, if someone could tell me what role can freeze/ unfreeze a Collective. Is it a the admin level? The host?
Thxs

[2022-08-04 00:45] alanna commented on #5540
It's done only by the host admin

@Betree can this be a bounty?

[2022-08-04 00:48] scenaristeur commented on #5272
Hi
Sorry to ask, but
doesn't this issue be closed if https://github.com/opencollective/opencollective-api/pull/7755 is merged ?

[2022-08-04 01:13] scenaristeur opened #5818 "Missing sign-in/sign-up margin on mobile"
**Describe the bug**
Shouldn't be left/right marging when not connected on this page https://opencollective.com/opencollective/admin/host-virtual-cards ?

**To Reproduce**
Steps to reproduce the behavior:
1. Logout
2.  Go to https://opencollective.com/opencollective/admin/host-virtual-cards

**Expected behavior**
Left / right margin

**Screenshots**
![Screenshot_20220804-025510_Chrome](https://use

[2022-08-04 01:30] scenaristeur commented on #5207
@alanna looking in the code, it seems that the collective name is in the subject of the mail.

Couldn't it be 'Hi {admin name} , x posted a comment on an Expense for {collective Name}, {expenseName} '

Or ' x posted a comment for {expenseName}  expense of {collective name}'

And perhaps with a short resume of the comment if possible ?

[2022-08-04 01:39] scenaristeur commented on #4685
@alanna in this case,
A checkbox with "show archived" unchecked by default could do the trick ?

[2022-08-04 01:50] scenaristeur commented on #3681
Shouldn't this issue be closed if https://github.com/opencollective/opencollective/issues/2970 has been merged ?

[2022-08-04 02:28] scenaristeur commented on #5766
@rakshitgondwal
[code]
And you should see the frontend on http://localhost:3000 (or http://localhost:5000 ? I don't remember)
Then try login, it will ask your email.

On another tab open the mailbox (see readme.md) , you will find the link here to connect.
Is it ok ?

[2022-08-04 02:44] scenaristeur opened #5819 "I can't see the expense I have created in my account"
**Describe the bug**
As a developer, I've created an Expense to a collective (Darcy) and get the mail to see it has been approved https://opencollective.com/darcy-is/expenses/88727 but I can't see it in my account, i think I should be able to see it with a status 'approuved' but I only see my transactions/ contributions

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Expense
2 wait

[2022-08-04 05:14] alanna opened #5820 "Recurring expense payee not sticking"
**Describe the bug**
When the recurring expense draft is created the next time, it defaults back to the user's personal profile as payee, even if it were created with another payee (e.g. and Org or Collective that user is admin of).

This makes it likely someone will just hit confirm but actually the expense will go to the wrong payee. This is a dangerous outcome because money will go to the wrong

[2022-08-04 06:32] Betree commented on #5818
cc @SudharakaP

[2022-08-04 06:34] Betree commented on #3681
Both pages are indeed merged now, thanks for noticing @scenaristeur :+1:

[2022-08-04 06:34] #3681 closed

[2022-08-04 06:35] Betree commented on #4685
Closing as duplicate in favor of https://github.com/opencollective/opencollective/issues/5770

[2022-08-04 06:35] #4685 closed

[2022-08-04 06:39] Betree commented on #5207
@scenaristeur The situation was well summarized in https://github.com/opencollective/opencollective/issues/5207#issuecomment-1032572774. This email is sent to both the admins and the expense payee, so we can't just say `Hi {admin}`. The proposal above to just say `Hi` sounds like the simplest fix possible.

[2022-08-04 06:42] Betree commented on #5819
Duplicate with https://github.com/opencollective/opencollective/issues/3749

[2022-08-04 06:42] #5819 closed

[2022-08-04 06:44] Betree commented on #3877
It looks like this one didn't happen in a while, it might have been solved somewhere else

[2022-08-04 06:46] Betree commented on #5820
Looks similar to the bug we had in https://github.com/opencollective/opencollective/issues/5325. Could be interesting to look at its fix (https://github.com/opencollective/opencollective-frontend/pull/7712/files) while investigating.

[2022-08-04 06:49] Betree commented on #5540
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted, and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

@scenaristeur As you requested first, feel free to assign yourself the bounty if you're interested in it.

[2022-08-04 06:53] Betree commented on #5540
To freeze a collective: Go to the [host admin dashboard](https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-dashboard#edit) > Hosted Collectives, then click on More Actions > Freeze

![image](https://user-images.githubusercontent.com/1556356/182782589-86ffb669-10f7-4068-813d-ed9340dfe2c8.png)

[2022-08-04 06:57] Betree commented on #5815
If the person is signed in, we could display a collective picker pre-filled with all the collectives they're part of

[2022-08-04 07:15] Betree commented on #5806
Our README states that before running `npm install`, you should `Make sure you have a PostgreSQL database available`.

Isn't `psql` (aka. postgres client) always installed along postgres?

[2022-08-04 10:05] Betree commented on #3981
Re-opening as we only introduced the root action while the issue was initially about exposing this feature to all users

[2022-08-04 10:14] Betree commented on #5804
For @opencollective/design

[2022-08-04 10:24] Betree opened #5821 "Host report: broken transaction date links"
As reported in https://opencollective.freshdesk.com/a/tickets/108634

Looks like the links here are using transaction IDs rather than expense IDs.

![image](https://user-images.githubusercontent.com/1556356/182824968-e86e2512-3cea-42d1-b1c0-59b7ee19ab2e.png)

[2022-08-04 11:04] rakshitgondwal commented on #5766
@scenaristeur I'm not being able to install the dependencies, idk why. The terminal gets stuck over here.
![Screenshot (200)](https://user-images.githubusercontent.com/98955085/182831936-1515d609-a60a-4780-b828-37b9b28ca28c.png)

[2022-08-04 11:04] Betree commented on #5812
Some more users shared this feedback, doesn't look like an isolated case:
- https://opencollective.freshdesk.com/a/tickets/108206

[2022-08-04 11:09] #5821 closed

[2022-08-04 12:00] Betree commented on #5766
Let's keep the conversation about setup on Slack

[2022-08-04 13:05] SudharakaP commented on #5272
@scenaristeur : Indeed. Thanks for pointing it out. 😄

[2022-08-04 13:05] #5272 closed

[2022-08-04 14:37] Betree opened #5822 "Some Activities are missing a `CollectiveId`"
Part of https://github.com/opencollective/opencollective/issues/5195
Related to https://github.com/opencollective/opencollective/issues/5808, we probably want to tackle both issues in a similar way.

# Problem

Activities should almost always be linked to a collective. While investigating the data, we found out that many events did not have one.

[code]

- collective.created
- contribution.rejecte

[2022-08-04 14:43] Betree commented on #5195
Identified another issue that we'll have to tackle to make the data meaningful for this project: https://github.com/opencollective/opencollective/issues/5822. In short: many activities are not properly linked to an account (e.g. when a collective gets created, when a contribution gets rejected, etc). We need to fix that behavior on the API and make sure we update past activities for them to be sur

[2022-08-04 17:11] Memo-Es commented on #5804
@alanna @Betree The expense component for the host dashboard includes a reference to the Collective:

<img width="1537" alt="Screen Shot on 2022-08-04 at 12-09-57" src="https://user-images.githubusercontent.com/49539954/182910510-596cc6b5-ec23-4570-95e3-572cf3db9320.png">

Happy to see it implemented

[2022-08-04 17:51] SudharakaP commented on #5818
@scenaristeur : Thanks for reporting this issue. We'll fix this soon. 👍🏽

[2022-08-04 18:10] scenaristeur commented on #5766
@rakshitgondwal https://join.slack.com/share/enQtMzg5MTE5MTQ3MDAyMi1mNTg5MmFkNWJiZjFmODJmMzQ4ZDBlODM5ZjViMDUyNjhkYTliYjU1MzMwYWFkNTQwM2QxNzE5YzcxM2Q5Zjli

[2022-08-04 19:05] SudharakaP opened #5823 "Copy/Pasting Email on Sign-in Form without Trimming for Spaces Creates Errors"
This is reported at, https://opencollective.freshdesk.com/a/tickets/104751 and at, https://opencollective.freshdesk.com/a/tickets/101522.

It seems that when the user copy paste the email address there's a possibility of including spaces in-front or at the end of the email address thus preventing the submission of the login form. We need to trim these spaces before validation.

[2022-08-04 20:50] alanna opened #5824 "Host admin can set expense to incomplete from any state"
Currently only Approved/Error expenses can be marked as `incomplete`. This seems arbitrary and there are many cases when an expense in `pending` or another state might need to be marked `incomplete`. The only restriction that makes sense to me is disallowing it from `paid` state.

[2022-08-04 21:00] annapawlicka opened #5825 "Magic links don't arrive"
**Describe the bug**

I keep waiting for the magic link to arrive, but it doesn't, not even to my spam folder. I use Fastmail with custom domain. Spam protection is currently off. All filters are disabled. Still no magic link.
This is a rather critical issue as I can't access my account at all.

**To Reproduce**

Go to OpenCollective.com
Click on Sign In
Input my email address
I don't receive any

[2022-08-04 21:22] alanna commented on #5804
Not in the screenshot I posted originally. It only shows the Project name, not the Collective.

[2022-08-04 21:42] Betree commented on #5825
Hi @annapawlicka, it seems that you (or someone on your domain) marked one of Open Collective's messages as spam, which prevented us from sending more emails. I've removed the block from our email service; you should now receive emails. Please let me know if that's not the case.

[2022-08-04 21:42] #5825 closed

[2022-08-04 21:48] Betree opened #5826 "Analyze which emails get marked as SPAM"
Emails from us marked as SPAM are a problem:
- It impacts our domain's reputation
- It sometimes blocks the users who mark the emails as SPAM, preventing them from receiving further emails (which generate some support, see https://github.com/opencollective/opencollective/issues/5825)

It would be great to know each time an email gets marked as SPAM and to get some metrics to see how we could impro

[2022-08-04 21:50] annapawlicka commented on #5825
Thank you @Betree! It works now.

[2022-08-04 22:17] Lef784321 opened #5827 "Bitcoin"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-04 23:00] alanna commented on #5658
Is this still being worked on?

[2022-08-05 00:18] #5823 closed

[2022-08-05 02:31] alanna opened #5828 "Menus overlap on mobile"
**Describe the bug**
If you open the hamburger then the user menu they overlap

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any OC page on mobile
2. Open the hamburger
3 open the user menu
4 both are open

**Expected behavior**
Opening one menu should close the other

**Screenshots**

![Screenshot_20220805-131702.png](https://user-images.githubusercontent.com/5498878/182988948-3cb46

[2022-08-05 03:29] alanna commented on #5288
@Betree is this still a problem?

[2022-08-05 03:31] alanna commented on #5213
Was this fixed?

[2022-08-05 03:32] alanna commented on #5191
Is this still happening?

[2022-08-05 03:33] #5131 closed

[2022-08-05 03:33] alanna commented on #5108
Is this still an issue?

[2022-08-05 03:35] alanna commented on #5073
@SudharakaP was this done?

[2022-08-05 07:05] #5827 closed

[2022-08-05 07:07] Betree commented on #5658
There's a PR open, we still need to review & merge for this issue to be resolved: https://github.com/opencollective/opencollective-frontend/pull/8035

[2022-08-05 07:08] Betree commented on #5288
Cannot reproduce, I believe this was resolved by https://github.com/opencollective/opencollective-frontend/pull/7875

[2022-08-05 07:08] #5288 closed

[2022-08-05 07:52] Betree commented on #5213
**SQL query to detect invalid entries**

[code]

**Result expense IDs**

The two expenses mentioned in the issues were returned by the query:
`22333,20385,20031,15861,14586,11383`

**Action taken**

Given the small number of cases, I went with a manual edit. For each expense:

[code]

Then manually edited all the `RefundTransactionId` to match the proper transaction. I also manually marked a few t

[2022-08-05 07:52] #5213 closed

[2022-08-05 08:14] Betree commented on #5824
On top of "Paid", it also doesn't make sense to allow `Mark it as incomplete` for:
- Draft: drafts are, by nature, incomplete
- Unverified: same as draft
- Processing: processing expenses cannot be changed because the payment is ongoing
- Scheduled for payment: not sure about this one, but the same limitation as Processing might apply

cc @kewitz

[2022-08-05 08:28] Betree commented on #5681
@aminakazi The new validation strategy should make it easier to implement https://github.com/opencollective/opencollective/issues/4667. Can't guarantee it will be included in the project for this sprint, but great if you have a design for it :+1:

[2022-08-05 11:06] Betree opened #5829 "Introduce a new "Activities" scope for OAuth"
Related to https://github.com/opencollective/opencollective/issues/5195

For the initial implementation, we're using the `Account` scope to know whether the app can access the collective's activities but we should ideally introduce a dedicated scope for that.

[2022-08-05 11:16] shannondwray commented on #5367
Would be good to get an answer to my question above about the currencies supported by wise?

I'll also take out the OCF comment and add some information into the fiscal host section just before it goes live on the 8th of August

[2022-08-05 12:30] Betree commented on #5367
I think the 50 currencies? As long as it's one you can send money with, it should be supported. With the abovementioned limitation: `Wise: Collective currency or payout method currency, with the limitation of the currencies that are supported by Wise`

[2022-08-05 12:42] Betree opened #5830 "Add some helpers to facilitate the release of early access features"
We often release features progressively, starting with a few trusted users before we release them to the general public. The way we do that varies from time to time, which causes some problems:
- We often rely on `account.settings`, which is not secure because users can edit this field themselves
- These feature flags are rarely cleaned in the database after the releases
- They tend to pollute lib

[2022-08-05 12:50] BenJam commented on #5672
just trying to clear up some of these questions @iamronen:

this is at the point that the user decides they want to accept money, the promo is 'who is going to hold you money' and (to your next question) their is some explanation but arguably not as much as there should be.

This look like it's couched predominantly as 'accepting contributions' [in the design](https://github.com/opencollective/ope

[2022-08-05 13:20] #5818 closed

[2022-08-05 13:47] SudharakaP commented on #5191
I didn't see this happening recently and hence closing. But will re-open and investigate if I see this again. 🤔

[2022-08-05 13:47] #5191 closed

[2022-08-05 13:52] #5516 closed

[2022-08-05 17:12] Betree commented on #3877
Issue reappeared: https://sentry.io/organizations/open-collective/issues/3352686016/

Looks like some users have a `type=ORGANIZATION` collective associated to their profiles.

[code]

[2022-08-05 21:36] kaylarep opened #5831 "Improve 'Tip' wording"
The current 'Tip' is explained as
![image](https://user-images.githubusercontent.com/64920686/183204078-af5e7cef-e8cd-4980-947e-d70198584149.png)

"allow us to keep Open Collective free for Collectives" is sort of misleading to a complete novice who has no context for 'Open Collective' or what a 'Collective' is.  The current language assumes that a donor knows basic information about OC, and they

[2022-08-05 22:03] kaylarep opened #5832 "Improve 'Fees' explanation in Contribution Flow / Calculator Feature of 'Net to Collective'"
Feedback from [a financial contributor](https://opencollective.freshdesk.com/a/tickets/108566) & some suggestions to improve our transparency:

Additional Instructions to include on the 'Wire Transfer Instructions' page in the contribution flow:
- Cost of wire transfer: e.g. "The bank transfer fees will depend on your bank.  Those fees will go to your bank, not to us."

__
While I understand why w

[2022-08-05 22:06] kaylarep commented on #5732
Hope this is the right place for this: https://github.com/opencollective/opencollective/issues/5832

[2022-08-05 22:50] poohlaga opened #5833 "Filter contributions by payment/deposit type"
## Who is your user?
As an admin, I want to go to the Financial Contributions page and filter the list by Payment Type (bank, crypto, paypal...)

## What are they trying to achieve?
I currently filter by status 'pending' but have to check two different places to verify Bank and Crypto. If I could filter by Bank, it would be easier to go through the list and then filter by Crypto and do those trans

[2022-08-06 11:51] snitin315 opened #5834 "Unable to reset the private instruction of an event"
**Describe the bug**
Can't reset the private instruction of an event

**To Reproduce**

Steps to reproduce the behavior:
 -  Create an event with a private instruction
 - Go to Event's admin
 - Try to remove all the instruction
 - See issue: private instruction are still there

**Expected behavior**

Should be able to reset.

**Screenshots**

https://user-images.githubusercontent.com/46647141/1832

[2022-08-06 21:21] aerugo commented on #5331
I can confirm this, and it also shows up in another context that recently caused quite a bit of headache when I supporting the creation of a fiscal host. Steps to reproduce:

1) Start a collective. Select some currency, like SEK.
2) Go to Settings -> Fiscal Host.
3) Select 'Our Own Fiscal Host', then select 'Create an Organization'.

When you create a Fiscal Host org through this route, it's curre

[2022-08-07 00:49] alanna commented on #5331
@znarf @Betree is there a way around this currently? Like a path where this doesn't end up happening?

[2022-08-07 10:04] scenaristeur commented on #5540
seems too late, @leonardohofling is on fire !

[2022-08-07 14:26] la-costa commented on #5650
@Betree

I created the pull request GH-7810, but I'm still working at front end functionality.

[2022-08-08 07:19] Betree opened #5835 "OAuth: default scope does not seem to work"
In https://opencollective.slack.com/archives/C0RMV6F8C/p1659651083858259, a contributor ended up with a `null` scope which triggered a strange-looking error message. We should:
- Make sure `scope` is always initialized with an empty array, as mentioned in the docs (or make it mandatory?)
- Maybe improve the docs, to clearly state that the token will be pretty useless if you don't provide a scope

[2022-08-08 07:41] Betree commented on #5331
Unfortunately, we have to handle this through support today.

As a long-term fix, I agree that asking for the currency in the host activation flow would be ideal.

Technically, there's no such limitation. The API would actually let you do it. The frontend oversimplifies the check because it's more complex to check the financial history from there, so it just looks at whether your account is active

[2022-08-08 07:43] Betree commented on #5540
@scenaristeur My bad, I should have assigned you when I created the bounty. Sorry about that.

[2022-08-08 07:44] Betree commented on #5650
Linking the abovementioned issue to have it in the right context: https://github.com/opencollective/opencollective-api/pull/7810

[2022-08-08 09:17] Betree opened #5836 "Open Collective projects don't work on Windows"
Our projects, and especially the frontend, are not working great on Windows. Today we encourage developers to work on Linux or Mac OS. We don't want to encourage Windows in the team because:
1. No one in the team uses it, so it's difficult to provide official support
2. Windows is notoriously famous for causing issues with Node projects
3. As per the reasons provided by [Gitlab](https://about.gitl

[2022-08-08 09:38] Betree commented on #4932
Related: https://github.com/opencollective/opencollective/issues/5727

[2022-08-08 09:55] BenJam commented on #5704
## Q3S2W2 update

Last week we had a couple of conversations about this project, I confirmed that it is indeed our intention to deliver something this sprint. @Memo-Es has pushed on with the design, based on previous thoughts and the pitch by Ronen. I would love for us to be able to start development this week if possible so my goal is getting to a place where engineering is happy to proceed.

[2022-08-08 10:03] BenJam commented on #5672
By way of an update, I think @Memo-Es's original plan was to revisit the design for this and write a pitch. Having looked at this I think we should:

- ensure that we continue to consider this project in the context of the larger onboarding https://github.com/opencollective/opencollective/issues/4829
- look again at the plan for this project and the next steps https://github.com/opencollective/ope

[2022-08-08 12:40] aminakazi commented on #3438
**Week 2 Update:**
Designed and updated the form according to the new requirements.

**Week 3 Tasks**

- [ ] Hand over production-ready files to the dev team (@aminakazi)
- [ ] Dev team to set up the base for breaking up the design into bounties.

[2022-08-08 12:41] aminakazi commented on #4990
**Week 3 tasks:**

- [ ] Design the placement of the error message
- [ ] Share a loom for feedback
- [ ] Share the production-ready file with the Dev team

[2022-08-08 12:46] aminakazi commented on #5407
Week 3 Tasks:
- [ ] Design the pop-up to fit 'legal name' field
- [ ] Share a loom for feedback
- [ ] Share production-ready files to the Dev Team

[2022-08-08 13:06] BenJam commented on #5704
- [ ] reviewing the deisgns with @znarf @Betree
- [ ] discuss further work on expenses process to support
- [ ] discuss mods needed from eng side
- [ ] ? discuss engineering on the project

[2022-08-08 13:11] BenJam commented on #5672
- [ ] @Memo-Es and @BenJam take a look at future pitches

[2022-08-08 13:11] BenJam commented on #5672
- [ ] @Memo-Es and @BenJam take a look at future pitches

[2022-08-08 13:16] BenJam commented on #5195
update: we have a pr behind a feat flag that presents activities form the activities table. @betree has reviewed and iterated. Would like to roll this PR out to the team as a first iteration/MVP

- [ ] take a look at #5808 #5822 to see whether we can tackle them this sprint
- [ ] roll out pr to the team from candidate

[2022-08-08 13:17] BenJam commented on #5681
leave on pause until @kewitz is back.

[2022-08-08 13:20] BenJam commented on #3438
- [ ] @Betree and @SudharakaP to talk through building the framework for bounties to build onto.

[2022-08-08 14:28] Betree commented on #5367
Also, an important thing to be documented: this feature is not available when the host currency differs from the collective currency.

[2022-08-08 15:07] Betree opened #5837 "Invalid collective navbar layout/spacings"
Affected devices: Desktop.
Example: https://staging.opencollective.com/usd-eur
Introduced in https://github.com/opencollective/opencollective-frontend/pull/8020

![image](https://user-images.githubusercontent.com/1556356/183450298-16ba0a64-98a8-47c9-9bdc-f15f36866276.png)

[2022-08-08 15:19] Betree opened #5838 "Setting to not have monthly activitities as a thread"
Feedback from https://opencollective.freshdesk.com/a/tickets/108668:

I remember a discussion about this where people actually wanted to have a thread, so we should not break the existing integrations but rather add a checkbox somewhere next to the "Connect Twitter Account" section.

[2022-08-08 15:22] Betree commented on #4683
Reverted https://github.com/opencollective/opencollective-frontend/pull/8020 in https://github.com/opencollective/opencollective-frontend/pull/8079 as it introduced another issue that currently affect all collectives: https://github.com/opencollective/opencollective/issues/5837

[2022-08-08 15:27] josesimoes commented on #5838
Hey @Betree!
Having a checkbox to control this seems a great option to keep everyone happy. 👍🏻

[2022-08-08 17:17] Betree commented on #5367
Released in production

[2022-08-08 17:22] RCheesley commented on #5541
+1 for this - it's a big issue in some countries (eg Brazil) where they are heavily taxed when making payments in USD with cards. Would also be great if it extended to events :)

[2022-08-09 03:49] alanna opened #5839 "uploaded filetype error message confusing"
I understand what this error means but a lot of people might not.

![Screen Shot 2022-08-09 at 3 46 42 PM](https://user-images.githubusercontent.com/5498878/183559904-4fc2f0f6-42dd-4596-8ece-fb6087b926e3.png)

I suggest:

[2022-08-09 03:53] alanna commented on #5690
This issue is breaking our  announcements I think.

I published [this changelog post today](https://opencollective.com/opencollective/updates/submit-expenses-using-your-own-currency) but it didn't trigger a new :fire: because it was from a draft a while ago.

[2022-08-09 04:00] alanna commented on #5601
I want multi-currency selection when inviting an expense

[2022-08-09 07:30] Betree commented on #5690
I'm about to merge a fix for this issue, but there's something I'd like to highlight: not all updates have a publication date, so when viewing https://opencollective.com/opencollective/updates **as an admin** (only them can see drafts) I'll see all draft first, sorted by creation date. Or, with example, a typical list from the admin point of view would be:

[code]

I personally think we should add

[2022-08-09 07:33] Betree opened #5840 "Filters for Published/Draft updates"
Not all updates have a publication date, so when viewing https://opencollective.com/opencollective/updates **as an admin** (only them can see drafts) I see all drafts first, sorted by creation date. Or, with example, a typical list from the admin point of view looks like:

[code]

I personally think we should address this with a different design, letting the admin select between "Published" and "D

[2022-08-09 09:26] #5690 closed

[2022-08-09 11:24] Betree commented on #5808
After a call with @znarf, we decided:
- [ ] To introduce a `HostCollectiveId` column to document the host involved in the transactions. This will solve the case for host applications and all other cases where a host is involved.
- [ ] To introduce a `FromCollectiveId` that should always to match other tables (`Expense.FromCollectiveId`, `Order.FromCollectiveId`, etc)

We justify this approach by t

[2022-08-09 13:20] aminakazi commented on #4990
**Questions:**
1. Currently, can a host admin tap on the 'pay' button if the collective doesn't have any money, or is it disabled?
2. If yes, what is the current behavior that happens after the host admin taps on the pay button? For example, does it go to the 'processing' stage, does it show a toast error, or does go back to the 'approved' state?
3. Do we just want to inform the user, or do we als

[2022-08-09 13:35] aminakazi commented on #5697
I need help with the copy. Do the following sentences work?

From **user's summary** POV:
Summary of your Invoice to CollectiveName / Summary of your Reimbursement to CollectiveName

From the **host admin's summary** POV:
Invoice Summary to _CollectiveName_ / Reimbursement Summary to _CollectiveName_
(Here the Collectivename will be hyperlinked to the Collective home page)

**Here is how it would

[2022-08-09 14:58] Betree opened #5841 "Misleading message on private expenses"
When you don't have permission to see a private update, we show this message:

![image](https://user-images.githubusercontent.com/1556356/183682575-5a89aae6-c534-4987-b698-0fecaf5c6bfe.png)

This was correct when we first implemented private updates, but it's now misleading as updates can also be limited to hosted collectives. We should figure out better error messages by looking at `update.notifi

[2022-08-09 15:41] Betree opened #5842 "Private updates not working with some audience types"
As reported in https://opencollective.slack.com/archives/C0RD4S62E/p1660033372217689

Thanks to https://opencollective.com/opensource/updates/paypal-temporarily-not-making-expense-payouts we noticed that the definition for "Private Updates" has not been updated with the release of https://github.com/opencollective/opencollective/issues/2314.

When a host admin checks "Private update", then selects

[2022-08-09 18:28] SudharakaP opened #5843 "Reduce the Number of Props for Form Fields in `InvoicesReceipts.js`"
This is with related to, https://github.com/opencollective/opencollective-frontend/pull/8057

Currently we use individual props for each form field in `InvoicesReceipts.js`. We can simplify this as pointed out at,

https://github.com/opencollective/opencollective-frontend/pull/8057#discussion_r941078164

[2022-08-09 18:54] poohlaga opened #5844 "Change expiration date of invited expenses from 30 to 60 days"
## Who is your user?
This update affects collective admins who are sending or receiving invited expenses

## What are they trying to achieve?
Can we change the duration for when invited expenses expire? Currently, it is set to 30 days, can we make it 60?

## How are they currently doing this?
With Google, they send out a lot of invitations for their Summer of Code grant and there are always a few

[2022-08-09 22:33] alanna commented on #5489
+1 to this, it would be really useful

[2022-08-09 22:45] alanna opened #5845 "Lift limit on fundraising in OCF application form"
The OCF application form asks Collectives how much they intend to raise. It has a limit of $10m for that box, but sometimes Collectives are aiming to raise more than that. Can this limit be removed?

[2022-08-10 01:02] leonardohofling commented on #5540
@scenaristeur it's yours

[2022-08-10 05:34] Memo-Es commented on #5704
## Design update

This is the first design proposal I presented on the demo day on August 5th: https://around.co/playback/965e723a-161e-4825-ba24-39ffeefc9596?sharedKey=0b1fa27a-b031-4d9d-8194-1222738d7a14

After today's review meeting, I did some updates to ensure consistency in the experience and interface:

Expenses | Contributions
----------|--------------
![Expenses](https://user-images.githu

[2022-08-10 07:10] Betree commented on #5844
I just noticed that we already do 2 months, aka 60 days: https://github.com/opencollective/opencollective-api/blob/948e0abf630b6cbe2f323c1f6d9024a3a46d8eef/cron/daily/60-clean-orders.js#L22

[2022-08-10 07:11] Betree commented on #5844
When we discussed this with @BenJam, we were thinking about something more like 6 months.

[2022-08-10 08:22] iamronen commented on #5704
## 1: Design

Thank you for these designs memo, they look good and feel promising.

1. We discussed the possibility to remove time filtering from the bar charts. They show an effective all time view. This would make implementation easier both in terms of UI and performance.
2. The time filtering feels like it is necessary for the pie-charts since it provides context to what is being displayed. I w

[2022-08-10 10:37] Betree commented on #5704
I like the [proposal above](https://github.com/opencollective/opencollective/issues/5704#issuecomment-1210329912) for tags uniqueness, the UX looks simple and the engineering part should be rather straightforward.

I however think that it's out of scope for this project. This feature still has a lot of unknowns (how are we going to motivate people to use this new tagging strategy? will they do it?

[2022-08-10 13:45] tyntyn1 opened #5846 "**The latest updates on your projects**. Learn more about [Vercel for Git ↗︎](https://vercel.link/github-learn-more)"
**The latest updates on your projects**. Learn more about [Vercel for Git ↗︎](https://vercel.link/github-learn-more)

| Name | Status | Preview | Updated |
| :--- | :----- | :------ | :------ |
| **opencollective-frontend** | ✅ Ready ([Inspect](https://vercel.com/opencollective/opencollective-frontend/53fPGLcaN7aDsstYMseo8vcwqjyU)) | [Visit Preview](https://opencollective-frontend-git-renovate-nod

[2022-08-10 13:48] tyntyn1 commented on #4668
Ty https://github.com/community/community/pull/28585#issue-1330778894

[2022-08-10 16:01] #5846 closed

[2022-08-10 20:55] kaylarep commented on #5410
As a fiscal host admin, ideally would be able to click on a Collective's name on their virtual card (from within my dashboard), and a new tab would open to that collective's page.

![image](https://user-images.githubusercontent.com/64920686/184018240-c73cfc80-dbfe-4536-9c01-ccecd8c8e8e4.png)

[2022-08-10 23:02] Memo-Es commented on #4829
@kaylarep, I add here a thread by @alanna about the issue of speaking to different audiences. She explains better than I would why we are focusing on one audience only for our main message:

<img width="753" alt="Screen Shot on 2022-08-08 at 08-27-04" src="https://user-images.githubusercontent.com/49539954/184037681-9dc0e5f8-2d7f-4d56-9431-cc5d12a05d86.png">

[2022-08-10 23:19] kaylarep commented on #5704
Great work on these visualizations!

- Can it say 'Other/No tag' ?
- IMO, 'Today's Balance' is more important than 'Estimated Annual Budget' and should be the one in gray - I'm not sure if this is true for OSC's groups.  But it took me a while before I realized I'd been looking at the wrong number when determining a collective's true budget.
- I think that adding these visualizations will help inc

[2022-08-10 23:22] kaylarep commented on #4829
Thanks for this @Memo-Es very helpful to understand this: our target audience for OC is Hosted Collectives -- is it safe to say its, more specifically, the Admins/Organizers of hosted collectives?

[2022-08-10 23:32] alanna commented on #5528
Here's the metabase dashboard I created to meet the needs of reporting for Gift Collective. It would be great if info like this was available in the dashboard reports.

<img width="1045" alt="GC stats Aug" src="https://user-images.githubusercontent.com/5498878/184040528-45aded1b-c93b-4886-af0b-0475e206e7d7.png">

[2022-08-10 23:32] Memo-Es commented on #4829
Yes, Collective admins :)

[2022-08-11 00:29] alanna commented on #5528
There is no place in reports where I can get a full picture of the ops budget. In the graphs above you can see expenses broken down by tag, and total balance of the ops budget, but there's no good way to show a proper full budget where you can see what has been spent in different categories (or ideally committed to different categories for the future) and what's left over as surplus/reserves. This

[2022-08-11 01:04] Memo-Es commented on #5704
@iamronen

Yes, I didn't want to propose a lot of new stuff, so, as you say, I would wait until we tackle the Collective page redesign to do these kinds of UI updates

Showing the current budget overview falls short of meeting the main goals for this project. I think there's a way of meeting those goals with a graph-less design.

@Betree
 - Can you help me understand the difference between the cha

[2022-08-11 07:39] iamronen commented on #5704
@Betree

First on behalf of OSC I can say:
1. There are collectives that are already tagging expenses and we are going to be approaching them as role models for the community of open-source projects.
2. We are working at the community level to offer open-source projects training, guidance, and possible services to help with tagging expenses (as one of many other issues).
3. Your question "How can

[2022-08-11 08:17] Betree commented on #5704
@Memo-Es Sorry, I didn't choose the right term - unique was not the clearest here; I should have used "mutually exclusive".

## Pie chart

A pie chart is great to represent the repartition of mutually exclusive values among a collection. A count of all the fruits I have in my fridge, for example, would be a great fit because each fruit can only have one family: it's either an apple, a banana, or a

[2022-08-11 08:40] Betree commented on #5704
This is where our goals differ: your goal is to solve a specific problem for OSC. My goal is to make sure that, while solving this problem for OSC, we don't release a feature that will look trashy for other fiscal hosts and collectives. This is a good situation; if we successfully find a consensus we'll have a solution that we can proudly release for everyone.

I will keep pushing until I'm confid

[2022-08-11 09:24] iamronen commented on #5704
Thank you for the radar chart explanation @Betree - that was informative. However, now that I somewhat understand it, I can't see how it is useful. The real story, as you told it had two tiers: internal/external & utility. The visual presentations tells neither of those stories nor that there are two tiers. It is a visualization of raw-data with no narrative to it. I think narrative is critical in

[2022-08-11 09:54] Betree commented on #5704
If executed right, I think this feature can be useful for many people. I'd love to see this data for our internal collectives, I'd love to see that data for collectives I'm a core contributor of, and I'd love to see that for old projects I'm contributing to. Why limit the feature for OSC when we already identified that we were missing simple ways to visualize budgets for all collectives?

Can you

[2022-08-11 11:22] Betree opened #5847 "Allow users to remove their payment methods with active recurring contributions"
On `/:profile/admin/payment-methods`, I see a list of my credit cards stored on Open Collective.

The system won't let me remove credit cards unless I cancel all recurring contributions attached to them first. I should be able to remove them from my account (aka. marking them as `saved = false` in any case.

Here's the ideal flow I imagine:
- When removing a payment method that has active contribu

[2022-08-11 13:38] Betree commented on #5195
We just had a call with @SudharakaP to document some of the next steps for this project. Things we're about to do:

Ben:
- [ ] Create issue for Add an activity for `collective.edited` (or updated?)
- [ ] Create issue for system activities
- [ ] Create issue for "Translate missing event types"
  - COLLECTIVE_EXPENSE_MISSING_RECEIPT
  - VIRTUAL_CARD_CHARGE_DECLINED
  - COLLECTIVE_CORE_MEMBER_REMOVED

[2022-08-11 14:15] Betree opened #5848 "System activities should be identified as such"
Related to https://github.com/opencollective/opencollective/issues/5195

Most of our activities are linked to a specific `UserId`, but some of them are initiated by our systems (e.g. a transaction is declined by the payment processor, or an order expires and gets auto-canceled, etc). We should find a way to identify these activities as "Coming from the system", otherwise they'll be displayed like

[2022-08-11 14:18] SudharakaP opened #5849 "Implement Pagination on the Activities Page"
Currently on the user activity page (in settings) we don't have any pagination.

![image](https://user-images.githubusercontent.com/12435965/184154735-c8c766a5-ea37-4657-a2cd-8300fc9bfd37.png)

Figma Design: https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/%5BOC-Design%5D-Lab-%F0%9F%A7%AA?node-id=16325%3A237900

[2022-08-11 14:22] SudharakaP opened #5850 "Add Date and Type Filters to the Activity Log Page"
We need to add the date and type filters to the activity log page as per the following Figma Design,

https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/%5BOC-Design%5D-Lab-%F0%9F%A7%AA?node-id=16325%3A237900

![image](https://user-images.githubusercontent.com/12435965/184155467-ca9f208a-a6e4-4989-904b-55b42346760e.png)

[2022-08-11 14:23] SudharakaP opened #5851 "Enable Activity Log for All Profile Types"
Currently the activity log page in the profile settings is only enabled for individual users and collectives. We need to enable it for organizations as well.

[2022-08-11 15:35] BenJam commented on #5704
from what I've seen and heard here and in previous conversations:

- the need to show how projects are using their money, both in general and over time is valuable for Open Source Collective and Open Collective Foundation
- we're leaning into patterns that we already see (people are using tags, people who use tags a lot are using them to categorise expenses)

Yes there's a wrinkle around using >1

[2022-08-11 20:29] kaylarep commented on #5195
Oh, also what about also:
- 'Virtual Card Created'
- 'Virtual  Card Paused' (this would be either manual or because no receipt was uploaded, might be helpful to include _who_ froze the card) -- maybe this is what you mean by SUSPENDED?
- 'Virtual Card Deleted'?

[2022-08-11 21:01] alanna commented on #5704
<img width="484" alt="Screen Shot 2022-08-11 at 11 25 05 AM" src="https://user-images.githubusercontent.com/5498878/184241308-590731be-381b-470d-bc21-385ab605c455.png">

Example of an actual graph I use to track spending in one of my OC hosts. Not sure it's the best design, just what was accessible in metabase easily.

[2022-08-11 21:46] Betree commented on #5195
@kaylarep These events already have associated activities, and thus will be displayed in the activity log by default. For a full list of already supported events, please check: https://github.com/opencollective/opencollective-frontend/blob/b08286c4c79e1f4f0cbd1954f46784ccce821708/lib/constants/activities.js

[2022-08-12 04:49] Memo-Es commented on #5704
### Some thoughts before the demo
 - I strongly agree with @Betree on the goal of designing this feature to be useful for everyone; this feature is very powerful to design for one host only. Not to mention my job is to grow the design of the platform having all users in mind.
 - I acknowledge the issue of having more than one expense. I think we can solve that with a tag solution like the one @iam

[2022-08-12 11:53] BenJam commented on #4990
Nope:
![Screenshot 2022-08-12 at 12 51 00](https://user-images.githubusercontent.com/158833/184348369-ef50f219-d791-4384-ac69-fa5c787a82c0.png)

The important thing here (which is missing from the OP, my bad) is just to set the _expectation_ than an approved expense won't be paid immediately. The expectation should probably be pushed down to the submitter too so maybe I'll create a separate issue

[2022-08-12 13:53] scenaristeur commented on #5540
as i understand the issue, a solution could be to get the code of the button in the edit-collective/Form edit-collective/actions/Archive.js
https://github.com/opencollective/opencollective-frontend/blob/ee98f60d0f2599eb041adcad08658583de6b4f70/components/edit-collective/actions/Archive.js#L176

and put it somewhere in Notification at https://github.com/opencollective/opencollective-frontend/blob/e

[2022-08-12 16:56] nosro commented on #5207
@Betree I'm going to tackle this as my first issue, since it appears to be an easy one.

[2022-08-12 19:25] #5713 closed

[2022-08-12 22:16] Betree opened #5852 "Main toggle for notification settings don't work"
These toggle don't seem to trigger any action. If they're disabled, I don't find the styles very clear and the UI should anyway tell me the reason.

![image](https://user-images.githubusercontent.com/1556356/184451489-122f9edc-dcd6-4749-8a39-85a0168baae9.png)

_Related: I did not find any feedback issue for notification settings_

cc @kewitz

[2022-08-12 22:19] Betree opened #5853 "Notification settings: delay when clicking on a toggle"
This network delay does not feel great as you're not sure whether your click worked and are tempted to click again.

I suggest looking at Apollo's optimistic mutation results: https://www.apollographql.com/docs/react/performance/optimistic-ui/.

![Peek 2022-08-13 00-18](https://user-images.githubusercontent.com/1556356/184451843-1ee669df-a210-4cfd-9e7d-a3a6eadffbf9.gif)

cc @kewitz

[2022-08-12 22:19] Betree opened #5854 "Notification settings: can't disable "Funds and Events""
![Peek 2022-08-13 00-20](https://user-images.githubusercontent.com/1556356/184451985-e7532b1c-7851-4255-8645-38e725818743.gif)

cc @kewitz

[2022-08-13 07:41] Betree opened #5855 "Notification settings doesn't seem to work for "collective apply" notification"
Yesterday I changed the settings of my account to:

![Screenshot_20220813-093640_Firefox~2.png](https://user-images.githubusercontent.com/1556356/184474263-3ed18187-229f-43ce-b1a8-e1a0ef976507.png)

Yet this morning I received this:
![Screenshot_20220813-093557_Gmail~2.png](https://user-images.githubusercontent.com/1556356/184474280-b9c06614-8c75-455b-9082-6f768a342d20.png)

Cc @kewitz

[2022-08-13 18:41] SudharakaP opened #5856 "StyleGuide broken at `ExpenseFormItems`"
It seems that `ExpenseFormItems` style-guide component is broken due to a null pointer.

![image](https://user-images.githubusercontent.com/12435965/184506713-899fb744-53ba-410f-8318-3c0384d17cb5.png)

[2022-08-13 19:37] la-costa commented on #5650
This issue also depends on [opencollective/opencollective-frontend#8073](https://github.com/opencollective/opencollective-frontend/pull/8073)

[2022-08-14 17:11] shannondwray commented on #5673
https://opencollective.com/opencollective/updates/recurring-expenses

[2022-08-14 19:32] scenaristeur commented on #5540
A new component "RemoveArchive" or "UndoArchive" used in both location ?

[2022-08-14 21:01] alanna opened #5857 "Sending Event balance to parent leaves $0.01"
I clicked the 'send balance to Collective' button on an Event, but then it showed this:
<img width="653" alt="Screen Shot 2022-08-15 at 9 00 14 AM" src="https://user-images.githubusercontent.com/5498878/184554762-8939bc91-7a10-4115-bb6d-1c5d1d744e75.png">

I clicked it again and it properly zeroed out.

[2022-08-15 04:37] Memo-Es commented on #5704
### Design update

[Proposal presented on the August 12 demo day](https://around.co/playback/b96853c8-f4bd-419e-9aa5-0584675df133?sharedKey=ab177f44-9f73-433a-87dd-d992abbf2ace). Here are some main ideas I used to build this proposal:
 - **List design first:** In this proposal, we leave behind the tabs to swipe between "Expenses" and "Transactions," and instead, we have both Exs and Txs displaying

[2022-08-15 08:06] znarf commented on #5857
Could you give more information on the account?

[2022-08-15 08:09] alanna commented on #5857
It was the January regional retreats event

[2022-08-15 08:47] znarf opened #5858 "Make ledger balance computation "v2" the default"
Our ledger store can potentially store different amount in different currencies (collective `currency`, host `hostCurrency`) and it was historically not clear how balances should be computed.

Some time ago, when consolidating the ledger, we created a dedicated library that can calculate the balance in different ways.

We now think the "v2" computation (looking at `hostCurrency`) is more appropria

[2022-08-15 08:57] shannondwray commented on #5673
Ready to go! Just checking if the updates feature is working as it's suppose to :)

[2022-08-15 09:04] znarf commented on #5837
@Betree Should we close the issue now that it's resolved?

[2022-08-15 10:17] Orzechowski-gif commented on #4823
It.open.wall

[2022-08-15 11:26] znarf commented on #5857
That was a multi currency issue. I created a new ticket to follow up here: https://github.com/opencollective/opencollective/issues/5858

[2022-08-15 11:26] #5857 closed

[2022-08-15 11:55] znarf opened #5859 "GraphQL: ability to fetch stats about Expenses tag"
As part of the [Financial Visualization Overview](https://github.com/opencollective/opencollective/issues/5704) project, we need the ability to fetch stats about Expense tags.

Mandatory:
- `CollectiveMetrics`: `expenseTags` is already existing but aggregate by count, not amount. It doesn't seem we're relying on count and can maybe change the behavior.

Desirable:
- grouping on a given time period

[2022-08-15 13:07] BenJam commented on #5704
- [ ] respond with last feedback on above design, before working on mobile design
- [ ] hack up a prototype based on expense tag stats (API/frontened)

[2022-08-15 13:08] BenJam commented on #5195
- [ ]

[2022-08-15 13:12] BenJam commented on #5681
may get some of this done between work on #5704 but priority is there for this week.

[2022-08-15 13:12] BenJam commented on #3438
update tomrrow

[2022-08-15 14:34] BenJam commented on #2798
going to close this on the basis that you can filter by month in the new reports dashboard:

![Screenshot 2022-08-15 at 10 58 47](https://user-images.githubusercontent.com/158833/184655559-518a1f76-34c9-4b9b-81f8-4d43dce828bb.png)

Reopen if we think it's still important.

[2022-08-15 14:34] #2798 closed

[2022-08-15 14:52] kewitz opened #5860 "GraphQL: Resolver to get Expenses per Recipient for given Collective"
Similar to https://github.com/opencollective/opencollective/issues/5859 but grouping by recipient.

![image](https://user-images.githubusercontent.com/2119706/184658551-8e4ee09b-47ba-40bf-80fe-1d2bb83afb04.png)

Desirable:

- [ ] grouping on a given time period, see for inspiration getTimeSeriesFields fields, TimeSeriesAmount object type
- [ ] consolidated aggregation on Projects and Events, simil

[2022-08-15 15:50] BenJam commented on #3983
bringing some of the conversations in from the thread re. prioritisation for the next sprint. We need to clarify what the goals of 'integrating' are a little more. Some goals might be:

- compile accounts from within QuickBooks given the transaction details from Open Collective
- reconcile activity from open collective with activity in our bank account i.e. 'this $25 contribution to project x is t

[2022-08-15 16:26] BenJam commented on #5704
@Memo-Es discussed on the call today — I don't think the frequency information is that valuable in the above. Proportions should value based in my opinion.

[2022-08-15 16:48] kewitz opened #5861 "Financial Overview: Budget Section with List expense and contributions view"
Implement an alternative Budget section as an opt-in feature following designs in https://github.com/opencollective/opencollective/issues/5704#issuecomment-1214610825.

- [x] Implement horizontal Budget summary
- [x] Implement List view for Expenses and Contributions summary
  - Ignore Expenses per Recipient and Top Financial Contributors for now.

**Preview:**
![](https://user-images.githubuserco

[2022-08-15 16:55] RCheesley commented on #4611
+1 for this.

[2022-08-15 17:52] kaylarep opened #5862 "Collective doesn't want their application to be public"
[This ](https://opencollective.freshdesk.com/a/tickets/103090)doesn't come up too often that I'm aware of, but think it is worth considering that some groups may not want their application to a fiscal host to be public. e.g. they want to apply to be hosted by OCF, but are also considering other fiscal sponsors as well; and so they are unsure at what point to submit their application.

possible MVP

[2022-08-15 17:54] kaylarep commented on #5680
@Memo-Es another (small) pain point that just came up, might be worth considering including: https://github.com/opencollective/opencollective/issues/5862

[2022-08-15 19:17] kaylarep commented on #5501
apologies if this isn't helpful, would it be possible to give a user the option to batch all their notifications into a single email of 'Daily Summary of Activity on Open Collective' - to get 1 email per day, with all that's days notifications (the one's they enabled) together? Perhaps divided into sections, either by `Notification Type` (e.g. Expense Approvals, Pending Invitations etc.) or by `Co

[2022-08-15 20:53] Memo-Es commented on #5861
@kewitz [Figma file reference](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=10158%3A0)

[2022-08-15 22:16] alanna commented on #4611
Another +1 to this as the Australian host I've been supporting needs it as well

[2022-08-15 22:22] aomuse commented on #4611
Not at design phase yet, but I am imagining of inheritance as a tickable option on Projects and Events. That way people have the option of deactivating inheritance for specific sub-collectives. Adding that suggestion so I don't forget it when the issue makes its way up the list.

[2022-08-16 06:53] Betree opened #5863 "OAuth: "incognito" scope not working"
Looks like it's missing from the DB migration: [https://github.com/opencollective/opencollective-api/blob/948e0abf630b6cbe2f323c1f6d9024a3a46d8eef/migrations/20220705082402-oauth-scope.js](https://github.com/opencollective/opencollective-api/blob/948e0abf630b6cbe2f323c1f6d9024a3a46d8eef/migrations/20220705082402-oauth-scope.js#L1)

![image](https://user-images.githubusercontent.com/1556356/1848159

[2022-08-16 07:04] Betree commented on #5540
@scenaristeur You're confusing "Archiving" (a collective admin action to archive their collectives) and "Freezing" (a host action to temporarily freeze collectives and prevent them from doing any action on the platform, This issue is about having an "Unfreeze" button, we don't want to touch the archive feature.

[2022-08-16 07:06] Betree commented on #5837
Yep, I eneded up reverting the PR that caused this in [NotificationBar.js#L180](https://github.com/opencollective/opencollective-frontend/blob/ee98f60d0f2599eb041adcad08658583de6b4f70/components/NotificationBar.js#L180) and re-opening https://github.com/opencollective/opencollective/issues/4683

[2022-08-16 07:06] #5837 closed

[2022-08-16 07:14] Betree opened #5864 "Add an activity for collective edited"
Related to https://github.com/opencollective/opencollective/issues/5195

When editing a collective today we don't record any activity in the `Activities` table. This is a problem as we need to know where changes originate from, and also for the [Activity log](https://github.com/opencollective/opencollective/issues/5195) where it's a very important information to update

# Specs

- [x] Introduce a

[2022-08-16 07:17] Betree commented on #5195
For this week:
- [ ] Finish & merge filters (date, type)
- [ ] Finish & merge pagination
- [ ] Start implementation for https://github.com/opencollective/opencollective/issues/5808 / https://github.com/opencollective/opencollective/issues/5822 (we looked at it last week and wrote some specs)

[2022-08-16 07:18] Betree commented on #3438
We haven't started working on this project yet. We'll try to have it for the week.

[2022-08-16 08:16] #5856 closed

[2022-08-16 08:16] #5851 closed

[2022-08-16 08:16] #5702 closed

[2022-08-16 08:18] Betree commented on #5490
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2022-08-16 08:22] xdamman opened #5865 "Link to all ways to contribute broken on events"
When you go on https://opencollective.com/regensunite/events/regens-unite-brussels-2022-83a7effa and click on the button "All ways to contribute" you end up with "not found"

<img width="1306" alt="Screen Shot 2022-08-16 at 10 20 32 AM" src="https://user-images.githubusercontent.com/74358/184832616-a10da85f-c121-4ac5-bf53-c67ae840672f.png">

However, it works when you remove the `/:collectiveSlug/

[2022-08-16 08:26] #5849 closed

[2022-08-16 09:29] Betree opened #5866 "OAuth: Improve "Authorized Apps" when empty"
On "Authorized Apps", when empty, we still show this:

![image](https://user-images.githubusercontent.com/1556356/184846582-e9544b8f-9989-43a7-bbfb-d31b2a6bdc72.png)

It's misleading since people can just go to "For developers" and create an app. We should:
1. Change the message to "No Authorized app yet, you can create your own app from <Link>"
2. Don't show the link in the menu if no authorized

[2022-08-16 09:45] aminakazi commented on #3438
The updated production-ready file can be [found here ](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13426%3A217743).

[2022-08-16 10:09] RCheesley commented on #4611
Yes - what I was expecting to see was some way of saying the team member is:

- Global admin of all the things
- Limited admin with options
    - Can manage all projects
    - Can manage all events
    - Can manage these specific projects (or not manage these specific projects)
    - Can manage these specific events (or not manage these specific events)
- Financial bod (can export transactions and

[2022-08-16 10:17] BenJam commented on #3983
the thing I'm taking home from exploring this is _quickbooks is opaque_.

it's not obvious _how_ QuickBooks wants you to import transactions into it and what the approach is for reconciling items that are added against bank account transactions.

## Import options
The options for importing data are limited to:

![Screenshot 2022-08-16 at 11 11 43](https://user-images.githubusercontent.com/158833/1

[2022-08-16 10:24] Betree opened #5867 "[Feedback] Notification settings"
**How to test it**
Go to `https://staging.opencollective.com/:username/admin/notifications`.

![image](https://user-images.githubusercontent.com/1556356/196879331-68836ff2-bd44-456f-a724-904730a7bb93.png)

**Blockers**
- https://github.com/opencollective/opencollective/issues/5852
- https://github.com/opencollective/opencollective/issues/5853
- https://github.com/opencollective/opencollective/issu

[2022-08-16 10:25] Betree commented on #5501
Feedback issue for the Notification Settings already implemented: https://github.com/opencollective/opencollective/issues/5867

We'd like to iterate on the blocking parts of the projects (bugs) quickly to get to a position where we can release it for everyone.

[2022-08-16 13:50] Betree opened #5868 "Sort updates on the collective page by publication date"
On the collective page, updates are sorted by `createdAt` rather than `publishedAt`. We need to do something similar to https://github.com/opencollective/opencollective-frontend/pull/8083 there.

To achieve that, we'll need to add support for ordering by publication date on GQLV1, or migrate the query to V2.

[2022-08-16 14:02] BenJam commented on #5289
sounds like I might be able to deny someone service if a policy for one affects all user accounts attached. maybe instead we disable the member's priv's on the accounts that they require 2FA for instead?

- block admin rights on collectives that require 2FA for all users that do not have 2FA enabled
- redirect those who hit a admin-only page (say they've bookmarked a page) to the 2FA page in their

[2022-08-16 14:16] BenJam commented on #4564
just wanted to add that I imagine this working like github.com dashboard (but, y'know... good)

![Screenshot 2022-08-16 at 15 16 04](https://user-images.githubusercontent.com/158833/184902171-b632ce76-8491-4744-8ccb-b397a3e2c2e0.png)

[2022-08-16 14:42] BenJam commented on #5410
I'm going to fold all of this into #5059 and close this out.

[2022-08-16 15:34] BenJam commented on #5410
...aaaand I'm done https://github.com/opencollective/opencollective/issues/4312

[2022-08-16 15:34] #5410 closed

[2022-08-16 15:56] #5866 closed

[2022-08-16 15:57] #5490 closed

[2022-08-16 16:06] Betree commented on #5289
That's indeed a nicer UX to not block everything just because one of the orgs you administrate requires you to enable 2FA. Works for me!

[2022-08-16 17:26] poohlaga commented on #3983
IMHO, if I wanted to reconcile my bank and Open Collective data I would
1. create/link a new 'bank account' via the manual upload option in QB (screenshot below)
2. get an export from OC in the (Bank Data format) and upload that into QuickBooks
3. reconcile the two accounts in QB at the end of each month

This would help ensure everything was paid out and I can see this being helpful for hosts. We

[2022-08-16 22:13] alanna commented on #3983
[OFX](https://en.wikipedia.org/wiki/Open_Financial_Exchange) is the standard format - if we can use it over QBO or QBX I think we should, so our exports will also be ingestible by Xero and other tools.

We should have a meeting with us and Scott to talk this through in detail.

[2022-08-16 22:24] alanna commented on #4564
Interesting, I hadn't thought about grouping by Collectives I support.

Maybe the best implementation would be
* global feed of Updates from Collectives in all trusted hosts on the homepage
* feed of that Host's Collectives on the Host page
* Feed of Collectives you're connected to on your own profile page

[2022-08-17 06:04] sentry-io[bot] opened #5869 "Frontend server error in duplicates handler"
Sentry Issue: [OC-FRONTEND-34S](https://sentry.io/organizations/open-collective/issues/2243175593/?referrer=github_integration)

Might be unrelated, but we had a few of them right before this morning's crash.

[code]

[2022-08-17 07:02] Betree opened #5870 "Activity log: improve loading state"
On the activity log, when changing one of the filters or going to a different page with the pagination, all the content gets replaced by a loading spinner. To match what we do in other places, we should:
- [x] Keep the filters
- [x] Keep the pagination
- [x] Use `LoadingPlaceholder`(s) where we're waiting for dynamic content (mainly, the activities list)

[2022-08-17 07:09] Betree commented on #5811
Resolved by @vaughanj10 in https://github.com/opencollective/opencollective-api/pull/7836

[2022-08-17 07:09] #5811 closed

[2022-08-17 09:40] iamronen commented on #3983
@poohlaga
1. Would you need to do that operation with a "bank account" in Quickbooks twice - once for the ops account and once for the primary host account?
2. Would we first need to sort out that separation on the platform? to be able to do two separate exports?
3. If we don't sort that out on the platform, do you have a reasonable manual workaround for that?

[2022-08-17 09:44] BenJam commented on #3983
yesterday I found that importing transactions into QB required that

- we dont use ISO formatted datetimestamps
- we record credits and debits in two columns

it also looked like you'd need two files to import, one from the perspective of the main account and one from the host's own ops account.

[2022-08-17 11:55] Betree commented on #5848
List of system activities (to be completed):
- [ ] `collective.monthly`
- [ ] `taxform.request`
- [ ] `webhook.stripe.received`
- [ ] `webhook.paypal.received`

[2022-08-17 21:51] kaylarep commented on #5867
- Please capitalize Settings
![image](https://user-images.githubusercontent.com/64920686/185249583-d3a182a6-a707-4516-a473-2d0e9cf75f12.png)

[2022-08-17 21:54] kaylarep commented on #5867
- [ ] Copy edit here:
![image](https://user-images.githubusercontent.com/64920686/185249724-32acc860-5561-47e4-b7d6-61b644d40d42.png)

instead to say:
..., but you can customize other settings here.

[2022-08-17 21:55] kaylarep commented on #5867
- [ ] Change `complied` to `required` please

![image](https://user-images.githubusercontent.com/64920686/185250257-f9ce5bd6-f0d9-4da6-a37c-d7b132909556.png)

[2022-08-17 22:04] kaylarep commented on #5867
I'm concerned to allow notification shutoff for missing receipts. This seems like it could create issues down the line.

I personally don't think any of these notifications should be allowed to be shut off, but I do think its a part of a bigger conversation - only card assignees should be notified of all these things.

Or is it possible to make it so that at least 1 admin has to have this turned o

[2022-08-17 22:05] kaylarep commented on #5853
+1 am experiencing delay as well

[2022-08-17 22:10] kaylarep commented on #5867
![image](https://user-images.githubusercontent.com/64920686/185251928-d899f46a-62d7-4831-8189-a45738252fce.png)
- [ ] Copy edit; can just say: `Notification settings about the profiles you administer.`  (am open to alternatives too, but it does need some editing.)

[2022-08-17 22:32] kaylarep commented on #4312
Apologies if this is repetitive, it keeps coming up in various forms, so here's my latest proposal:
- Should be 1 card/assignee/Project or Collective or Host or Event (like a company card)
   - e.g. I have my own card for using to spend from the OCF fiscal host budget. I have a separate, also my own, OC Retreat Event card.
   - It could also be helpful to create another 'Role' in the Team (name tb

[2022-08-17 22:56] alanna commented on #3983
@iamronen and @BenJam have been digging into this trying to get to the heart of the need. Zooming out and setting aside details and assumptions about how people use accounting software, and key aspect is essentially the question: How do we ensure the numbers on OC are synced with numbers in our bank account? The way the world has answered that question in terms of "how do we ensure the numbers in

[2022-08-17 23:20] alanna opened #5871 "Clicking post before image uploads results in blank expense comment"
See https://opencollective.com/foundation/expenses/90942

There's a blank comment from me. I think I clicked post before the image had fully uploaded. I did it again on the comment below and waited for it to load, and then it worked.

If the image has not uploaded, the comment should wait until it has to be posted, or the post button should be inactive until it's ready, or it should fail with an e

[2022-08-18 00:22] alanna commented on #3983
Copying comments from slack:

@iamronen asked: can you say more about what IS needed? saying "integration is the way" isn't saying much... the way to what? This may be obvious to you, but not to others.
1. What is it that a fiscal host admin needs to do and is currently unable to do?
2. If there was an "integration" what would they be extracting from OC And what would they be doing with it on Quic

[2022-08-18 00:28] alanna commented on #3983
We also don't want to make too many assumptions about how hosts are set up, e.g. OSC and OCF have Ops/Main bank accounts, but OCNZ and Gift Collective just have one bank account. I don't know about OCEU, Accountable, etc. It's valid to just design this for OSC and OCF first, but if there's a way to make it more general, we should.

[2022-08-18 05:49] Betree commented on #5829
@znarf do you agree with this one?

[2022-08-18 05:52] Betree commented on #5519
Implemented by @kewitz in https://github.com/opencollective/opencollective-api/pull/7511

[2022-08-18 05:52] #5519 closed

[2022-08-18 06:05] snitin315 commented on #5540
@scenaristeur are you still working on this? If not, I would like to take this up.

[2022-08-18 06:12] Betree commented on #5871
Your proposed solution to disable the submit button while a file is uploading seems like the simplest and most generic way to solve this. We should ideally do it in `RichTextEditor`, to make sure all places using it (collective long description, update, etc) will be fixed too.

[2022-08-18 08:32] scenaristeur commented on #5540
@snitin315 I'm on the run for another thing yet, you can take it

[2022-08-18 09:05] Betree opened #5872 "Implement a generic way to do greetings in email templates"
Followup on https://github.com/opencollective/opencollective/issues/5207
Based on a proposal from @nosro in https://github.com/opencollective/opencollective-api/pull/7830

We don't have a consistent way to do greetings in our emails. We sometimes do `Hi,`, sometime `Hi {collectiveName}`, and sometimes `Hi {userName}`. Apart from the inconsistency issues, this sometimes results in the wrong name be

[2022-08-18 09:09] Betree commented on #5207
Resolved by https://github.com/opencollective/opencollective-api/pull/7830 by removing the name, I opened https://github.com/opencollective/opencollective/issues/5872 to address this in a more consistent way for the future.

[2022-08-18 09:09] #5207 closed

[2022-08-18 09:12] #5842 closed

[2022-08-18 09:41] #5614 closed

[2022-08-18 10:39] Betree opened #5873 "Expense stuck on "Unverified", can't send confirmation email"
Initially reported on [Slack](https://opencollective.slack.com/archives/C6JTTA4SK/p1659348892613019) for [this expense](https://opencollective.com/huntr/expenses/83826)

Here's what happened:
- Collective admin invited the user to submit an expense
- The Invitee completed their information
- The expense somehow got stuck on "Unverified" and the admin was unable to re-send the email (no button in t

[2022-08-18 10:40] leonardohofling commented on #5540
I was waiting for that also, but ok.

[2022-08-18 12:03] znarf commented on #5835
Fixed in https://github.com/opencollective/opencollective-api/pull/7850

[2022-08-18 12:06] znarf commented on #5829
@Betree `account` is not too bad, introducing `activities` is ok for me.

[2022-08-18 12:48] Betree opened #5874 "Remove the email forwarding feature"
Followup on https://github.com/opencollective/opencollective/issues/2847

We used to have an "email forwarding" feature that was deprecated 2 years ago in https://github.com/opencollective/opencollective/issues/2847 / https://github.com/opencollective/opencollective/issues/4131, mostly because of SPAM issues, low security levels and lack of maintenance.

This feature has been replaced by a contact

[2022-08-18 13:13] natehn commented on #5867
I tried using this before, using Mac 12.4 and Google Chrome, and ran into a couple issues:

1. I can't toggle off the main toggle (shown before you select "advanced settings) for collectives fiscal hosts where I'm an admin.
2. I can't turn off "Funds and Events" notifications for any of the collectives or hosts I manage.
3. There doesn't appear to be any differentiation for fiscal hosts between Co

[2022-08-18 13:14] natehn commented on #5867
Ah whoops, I see related issues in the description. Apologies.

[2022-08-18 13:28] Betree opened #5875 "[DOCS] Activity log"
## Context
[[Project] Collective activity log](https://github.com/opencollective/opencollective/issues/5195)

### What's changing?
We're introducing a new feature that will allow people to see a history of what happens on their accounts, making it easier to understand changes and spot suspicious activity.

### Why are we changing it?
Auditability, security.

### Who does this change impact?
- Host

[2022-08-18 13:31] Betree commented on #5864
Ideally, there should be an easy way to display a rich diff of the changes in the frontend. We could use something like https://www.npmjs.com/package/diff in the API, but while we figure out exactly what we want to do it's better to just store raw information about changed fields:

[code]

[2022-08-18 16:23] Betree commented on #5681
Related: https://sentry.io/organizations/open-collective/issues/3287154074/

[2022-08-18 16:25] sentry-io[bot] opened #5876 "Trying to unsubscribe to thank you email gives an error"
Sentry Issue: [OC-API-142](https://sentry.io/organizations/open-collective/issues/3503800731/?referrer=github_integration)

**Steps to reproduce**
- Contribute to a collective
- Click on "Unsubscribe" in the thank you email

**Stacktrace**

[code]

**Solution**
We either need to support it, or remove the link from the email.

[2022-08-18 18:46] shannondwray commented on #5875
Ping me when I can test this/initiate photoshoot time! 🤟🏼

[2022-08-18 20:23] kaylarep commented on #4312
A couple other notes:

Here's my canned reply I send after creating a card:

---
Also, I haven't found a use for 'Naming' a card, now that cards are tied directly to budgets. We used to name cards when they were vendor locked, but since the change to new card provider, I just Name the card the Name of the Collective (it seems redundant.) I'm not sure if I messed things up by proposing https://gith

[2022-08-19 06:23] #5650 closed

[2022-08-19 07:03] #5870 closed

[2022-08-19 07:17] #5850 closed

[2022-08-19 08:11] Betree commented on #5844
Oh @poohlaga I actually got confused because we were discussing about orders expiration at the same time! Invited expenses expiration is indeed 1 month! I'll push a fix for that right now.

[2022-08-19 08:18] Betree commented on #5839
This is probably related to the latest update in https://github.com/opencollective/opencollective-frontend/pull/7844 / https://github.com/opencollective/opencollective-frontend/pull/8017.

[2022-08-19 08:29] #5844 closed

[2022-08-19 08:36] Betree commented on #5833
We have this issue about adding a payment method type filter on the [transactions list](https://opencollective.com/babel/transactions): https://github.com/opencollective/opencollective/issues/5517. For the [orders list](https://opencollective.com/opensource/admin/orders), we have: https://github.com/opencollective/opencollective/issues/5307.

@poohlaga Please let me know if the page you're referri

[2022-08-19 08:36] #5833 closed

[2022-08-19 08:45] Betree opened #5877 "Original transaction data gets stripped out when refunding"
Originally discussed in https://opencollective.slack.com/archives/GFH4N961L/p1657122126574949

When refunding a transaction in https://github.com/opencollective/opencollective-api/blob/784833b2e79078ea12557fe6844f30a163468ea5/server/lib/payments.js#L429-L432, we're stripping out the original `data` of the transactions. This is a problem as we can end up losing some important information about the

[2022-08-19 09:01] Betree commented on #5515
Also, we should uncomment these lines when we'll update the dump:
https://github.com/opencollective/opencollective-api/pull/7850/files#diff-b24af7ea42ab1d1fad5e72a72d307751add0ee432175337904ce900145a36fa1

[2022-08-19 09:17] #5638 closed

[2022-08-19 09:19] BenJam opened #5878 "Remove team member invite"
Case in point, I invite a user to a Collective and they asked that I invite their other email address (which is used for a profile elsewhere), I sent and invite to the user's profile but I can't delete the previous invitation:

![Screenshot 2022-08-19 at 10 15 56](https://user-images.githubusercontent.com/158833/185587703-ac6b291b-29e9-4eb2-bb19-d20e4f5230db.png)

[2022-08-19 09:27] Betree commented on #5515
Started a script to archive old migrations: https://github.com/opencollective/opencollective-api/pull/7858.

[2022-08-19 10:25] znarf commented on #5695
I would amend the specs with the following:

- Any Collective admin should be able to freeze a card (from the Collective -> Virtual Cards panel). That's especially valid for the permission model on the API.
- Why not keep the extra panel with all the cards assigned to you as User but we could have done without it
- If we we keep the panel, it should not be visible in the menu if you don't have Vir

[2022-08-19 10:28] Betree commented on #5695
I agree with the [specs](https://github.com/opencollective/opencollective/issues/5695#issuecomment-1220511769) from @znarf above. I think the best approach for the 1st version is to just remove the entry in the User's settings, it will simplify many things - including the API query.

[2022-08-19 11:40] #5835 closed

[2022-08-19 11:40] #5863 closed

[2022-08-19 12:49] Betree opened #5880 "Tier page: total amount donated is wrong"
On https://opencollective.com/1kproject/contribute/sunflower-guitar-for-ukraine-by-linda-manzer-42653, [fidelity-charitable](https://opencollective.com/fidelity-charitable) gave $100,000 to the tier but we're instead showing `$545,000` - the total amount they donated across all tiers - which is confusing.

![image](https://user-images.githubusercontent.com/1556356/185621781-baaa2dcf-35bc-411c-8110

[2022-08-19 13:43] Betree opened #5881 "Activity log: improve activities descriptions"
Already identified some, but there may be more:
- [ ] COLLECTIVE_EXPENSE_MISSING_RECEIPT
- [ ] COLLECTIVE_EXPENSE_APPROVED
- [ ] COLLECTIVE_EXPENSE_UNAPPROVED
- [ ] COLLECTIVE_EXPENSE_PAID
- [ ] COLLECTIVE_EXPENSE_MOVED
- [ ] VIRTUAL_CARD_CHARGE_DECLINED
- [ ] COLLECTIVE_CORE_MEMBER_REMOVED
- [ ] COLLECTIVE_VIRTUAL_CARD_SUSPENDED
- [ ] COLLECTIVE_CONTACT
- [ ] COLLECTIVE_CORE_MEMBER_ADDED
- [ ] CO

[2022-08-19 14:23] Betree commented on #5877
The PR where this was introduced, https://github.com/opencollective/opencollective-api/pull/1508, mentions:

We should maybe double-check whether other parts of the code depend on this.

[2022-08-19 15:21] MattIPv4 opened #5882 "GraphQL: Filtering accounts by host"
## User story

As a developer wanting to feature open-source projects from OpenCollective on another site (Hacktoberfest), I'd like to be able to fetch projects from a specific OpenCollective host via the GraphQL API.

## Best solution for this problem

Adding a `host` filter to the `accounts` query in GraphQL, likely accepting slugs.

E.g.

[code]

## MVP

Adding the filter to the accounts query.

[2022-08-19 15:40] MattIPv4 commented on #5882
Ahah! It looks like that does return everything under the OSC, which is great, but I don't then see a way to include the payment filters we're suing at the same time 🤔:

[code]

[2022-08-19 19:53] kewitz opened #5883 "Wise: Removing a single expense from a Batch Group deletes the whole batch"
**Describe the bug**
When working with batch groups for expenses paid through Wise (required for Wise's OTT), the host admin is responsible for curating a batch group of expenses and then paying for the whole batch.

The problem is that Wise does not support the operation of removing a transaction from a batch.
This means we must delete the whole batch when the host admin needs to unschedule a sin

[2022-08-19 20:01] SudharakaP opened #5884 "Add Activities for Different Collective Type Creation"
We currently only have activity for collective creation (`COLLECTIVE_CREATED`) but there's no specific activities recorded when creating a project, event, orgnaization. We need add `EVENT_CREATED` and `PROJECT_CREATED` activities to the activity log when these events are triggered.

- [ ] Add an activity after creating an event in `CreateEventMutation.js`
- [ ] Add an activity after creating an pr

[2022-08-19 20:17] SudharakaP commented on #5881
@Betree : I think we also have to add all the `COLLECTIVE_CORE...` activities as well here. I've edited the original issue and added them.

[2022-08-19 21:55] Betree commented on #5881
@SudharakaP Good call, feel free to edit again if you spot any other missing activities

[2022-08-21 20:18] poohlaga commented on #5670
Would be nice in the detailed view to include the ID of the transaction so you can build the URL like '85809' to https://opencollective.com/opensource/expenses/85809

[2022-08-21 20:53] poohlaga commented on #5670
Also, I keep hitting a 1000 row limit on CSV export. Is there a way around that to get more data out of there?

[2022-08-21 22:53] alanna commented on #5670
Yeah for this to work the exports must be comprehensive not cut off.

[2022-08-22 03:33] alanna commented on #5383
Here is where we ended up for MVP:
![Screen Shot 2022-08-22 at 3 29 39 PM](https://user-images.githubusercontent.com/5498878/185832988-6b6fc86e-2a3c-4104-9270-3a43d2113eb8.png)

It's basically all or nothing at the moment.

I would like an iteration along the lines of the checkboxes shown at the top of this issue. I think the options should be:

* Receive contributions
* Pay out expenses
* Post Up

[2022-08-22 09:11] Betree commented on #5884
Good catch!

Some notes:
- Organizations used to have a proper `ORGANIZATION_COLLECTIVE_CREATED` event on [GraphQL V1](https://github.com/opencollective/opencollective-api/blob/4d21b5ae817b9dbd8601c3f3f99764b641656f67/server/models/Collective.js#L3389). We can re-use this one.
- Funds are created with a `COLLECTIVE_CREATED` activity. We may want to move them to a dedicated `FUND_CREATED` activity.

[2022-08-22 09:45] Betree commented on #3258
Other risks factors:
- Amount (are they emptying the full balance)?
- No attachment

[2022-08-22 10:46] iamronen opened #5886 "Design a Basic Funders Dashboard"
The following issue is distilled from a [pitch that offers more perspective and context](https://github.com/opencollective/opencollective/blob/main/product/pitches/Basic%20Funding%20Dashboard.md).

This issue is a proposal to take the pitch and convert it into a detailed design that can be handed over to engineering for implementation.

This proposal emerged from research into open source projects

[2022-08-22 10:49] BenJam commented on #5143
reopening as we continue the conversation about our governance features.

[2022-08-22 11:00] Betree commented on #5200
Duplicate with https://github.com/opencollective/opencollective/issues/5183?

[2022-08-22 11:23] znarf commented on #5670
From the web interface, pick a timeframe that is less than 2 months and you will have everything in that timeframe.

For this, you need to construct the CSV URL manually and add the `expenseLegacyId` field:

E.g.: https://rest.opencollective.com/v2/opensource/transactions.csv?add=expenseLegacyId

We have some advanced documentation here:
https://github.com/opencollective/opencollective-rest/blob/m

[2022-08-22 12:09] #5515 closed

[2022-08-22 12:51] aminakazi commented on #5407
The production-ready Figma files can be [found here](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=18528%3A184170)

Please note that this is the MVP solution. The @opencollective/design team will be tackling the ideal version for it in the upcoming sprints.

[2022-08-22 12:55] aminakazi commented on #4990
The production-ready Figma files can be [found here](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=18528%3A185497).

We used the alert banner to inform users and collective admins about the expected behavior.

[2022-08-22 12:59] Memo-Es commented on #5704
### Week 5 update:
 - [ ] Empty states, finalize production-ready file
 - [ ] Call out to get feedback from users

[2022-08-22 13:08] SudharakaP commented on #5195
Week 5:

- [ ] [Add an activity for collective edited](https://github.com/opencollective/opencollective/issues/5864)

[2022-08-22 16:04] Betree opened #5887 "Inconsistencies in recorded activities"
While working on https://github.com/opencollective/opencollective-api/pull/7842, a few inconsistencies in the way we record activities have been noticed and marked with `// TODO(InconsistentActivities)`. All of them need to be carefully reviewed as emails may depend on the way we record data there.

- [ ] BACKYOURSTACK_DISPATCH_CONFIRMED: `CollectiveId` is set to `FromCollectiveId`
- [ ] 'collecti

[2022-08-22 16:26] Betree opened #5888 "Next/prev on search page should scroll top"
On https://opencollective.com/search, going next or prev should bring you back to the top of the page.

[2022-08-22 17:41] poohlaga commented on #3258
Number of payment methods attached to the user. The number of successful vs. unsuccessful payments due to payment method. (Wise or PayPal may be a better indicator of fraud reports outside of our platform).

[2022-08-22 22:39] alanna opened #5889 "Filter expenses by no tag"
## User story
As a Collective admin, I want to be able to surface untagged expenses, so I can ensure all expenses are tagged and fined missed ones (especially now that we're going to have a financial report displaying budgets by tag I think this will become more common)

## Best solution for this problem
Add an `untagged` option here on the expenses page:

![Screen Shot 2022-08-23 at 10 38 18 AM](

[2022-08-22 23:23] alanna opened #5890 "Sync OC balances with bank balances"
In our discussions about #3983 and the current related problem solving we're doing at OCF, it's become clearer to me that one of the key needs is reconciliation between bank account balances and OC balances, which is less abstract than "integrate with accounting software".

While accounting software is the way pretty much all entities achieve syncing between their bank account and their books, per

[2022-08-22 23:53] tarek2951977 opened #5891 "[Release]"
## Context

### What's being released?

### Is this change being released incrementally as a beta? What's the schedule?

### Is this release optional or mandatory?

### Who does this release impact?

### When will the project be ready for release?

## Product Process

### Overview

### Related releases

### Release post(s)

### Social Media

[2022-08-23 01:29] Memo-Es commented on #5784
Related: https://github.com/opencollective/opencollective/issues/4179

[2022-08-23 03:00] Memo-Es commented on #5155
@BenJam closing this issue, I will make sure to have it mentioned in a "Design resources" section in slack and the design system

[2022-08-23 03:00] #5155 closed

[2022-08-23 03:48] #5891 closed

[2022-08-23 06:40] Betree commented on #5889
We already support passing `null` as a tag to the API. I suggest that when making such a query:

[code]

We return all expenses without tags.

For the frontend, @alanna's solution above sounds ideal to me.

[2022-08-23 06:46] Betree commented on #5784
@Memo-Es An important difference between conversations and updates is that anyone can start a conversation while an update is necessarily published by a collective admin. I agree the two features have many overlaps though; the only part that differs is the interface to post a new entry.

[2022-08-23 07:17] Betree opened #5893 "Convert all models to Typescript"
Models have a central role in our code. They're used pretty much everywhere and are usually responsible for binding data inputs to the database. Having them converted to Typescript will therefore improve our coverage in many places, making the code safer.

Today, about half of our models are already using Typescript, and it's the [default documented way](https://github.com/opencollective/opencolle

[2022-08-23 08:29] Betree commented on #5881
Related: we should implement these translations as dynamic strings with variables. The one below, for example, should be: `New expense submitted to <Link>Babel</Link> from <Link>Suds</Link>`.

![image](https://user-images.githubusercontent.com/1556356/186110834-d16a4a15-69ce-4719-95d6-70c6b554dc41.png)

[2022-08-23 08:36] Betree commented on #5137
The [Activity Log](https://github.com/opencollective/opencollective/issues/5195) is partially going to solve this issue: with https://github.com/opencollective/opencollective/issues/5808 we're going to associate the host account with the activity, which means it will continue to appear in the host's activity log even if the collective changes host.

[2022-08-23 12:57] Betree commented on #3258
I like how Github displays a lot of information in a tooltip when you hover over the name, some of which is clearly meant to determine whether the commenter is "trustable". Using a tooltip saves space in the layout, and allows for dynamic fetching (which is great to not affect the initial load time of the page).

It's also a very simple pattern to re-use in different places without needing a desig

[2022-08-23 13:24] kewitz commented on #5824
Considering that setting as incomplete is a tool restricted to host admins, the idea here is to make sure that until the collective admin approves the expense, the expense is totally outside the host admin's plate. The exception here is the case the expense is submitted to the host collective because the host and collective admin is the same person. But I don't think this counts for the majority o

[2022-08-23 13:33] Memo-Es commented on #5784
@Betree, can we gather some data about how Collectives are using conversations? i.e., which Collectives have more conversations, and how many? Maybe comparing that with the same data on updates use.

[2022-08-23 13:37] Betree commented on #5784
@Memo-Es Yep collecting some metrics about conversations usage is the purpose of this issue. I don't have much time to invest in it right now, just wanted to document the issue in case someone has more time to invest. Otherwise, I'll take a look later.

[2022-08-23 13:44] Memo-Es commented on #5784
That's fine @Betree, let me know if you need support on my side

[2022-08-23 13:46] viktorix opened #5894 "Paying expenses to payees who don't manage their own profile on the platform"
## Who is your user?
All collective admins that are using the expenses feature of OpenCollective.

## What are they trying to achieve?
I chose OpenCollective for our fundraising because we want to provide financial transparency in our non-profit organization, which includes both contributions/donations and expenses. This helps build trust with our community and helps contributors see how their mon

[2022-08-23 14:32] BenJam commented on #5886
I might propose the following as a user story:

some conclusions that I hope people to make with a board like this:

- this project is not meeting its financial goals, we should provide more financial support
- this project is receiving more financial support from other sources now, I can move my support elsewhere
- this project is spending money on initiatives that are important to us, we should

[2022-08-23 15:05] BenJam opened #5895 "Introduce limits on contributions on the platform"
We need to put in place limits on all contributions, regardless of whether they're successful or not.

## Proposal

In my opinion It's not normal to:

- make more than two contributions to a collective in a short period (1 hour)
- make more than five contributions to multiple collectives in a short period (1 hour)
- make contributions from more than five different payment methods over a long perio

[2022-08-23 15:33] BenJam commented on #3258
some great ideas in here @betree thanks for gathering them in one place. I'm gonna edit the OP so that they're all listed as ideas that we can prioritise.

[2022-08-23 17:04] kewitz commented on #5222
Since you're creating a draft for someone else to finish, there are no required fields when inviting someone else to submit an expense. The requirement is on the side of the invitee.

[2022-08-23 22:34] gusaus commented on #1996
Picking up on https://github.com/opencollective/opencollective/issues/1996#issuecomment-486046076, I think this (and other related docs/writing tasks) could be taken on by some combo of highly skilled 'sponsored' contributors (possibly assuming more of a mentor/project manager role) and new contributors looking to gain experience (and cred) by contributing.

While Open Collective doesn't have the

[2022-08-23 23:36] Betree opened #5896 "Collective approval stuck ("This collective application has already been approved")"
Reported in https://opencollective.slack.com/archives/C6JTTA4SK/p1661271614350049

Not the first time I see this: some collectives end up with their `isActive` set to `false` while `approvedAt` is set, which blocks the mutation when host admins try to approve the application. We should investigate on why they end up in this state.

[code]

![image](https://user-images.githubusercontent.com/1556356

[2022-08-23 23:45] developit opened #5897 "Website is down"
OpenCollective website is down. It's just returning a CloudFlare error.

[2022-08-24 00:03] Betree commented on #5897
Hi @developit, our hosting provider (Heroku) is currently down. We're monitoring the situation. https://status.heroku.com/incidents/2453

[2022-08-24 00:17] developit commented on #5897
Oh! I should have checked that, sorry!

[2022-08-24 00:27] kaylarep commented on #5155
@Memo-Es is this also in the internal docs? I couldn't locate it.

[2022-08-24 00:29] alanna commented on #5894
The way this is done now is either 1. select the Collective as the payee (doesn't as accurately show where money goes), or 2. someone owns a dummy profile for a company they don't work at (search 'Amazon' or 'Shopify' or any other common vendor to see examples). Neither seems great.

[2022-08-24 00:39] alanna commented on #5824
The example that led me to raise this issue was an expense that had a compliance issue that I knew about, but other Host admins did not, and they might accidentally approve and pay it. In this case, the admin of the Collective was also a Host admin. Basically I as a Host admin wanted to ensure it wouldn't get paid by another admin, and dropping a note in Slack or whatever is very likely to be lost

[2022-08-24 00:40] alanna commented on #5824
Basically I think unless there's a strong reason not to, we should make tools as flexible as possible because we don't know all use cases.

[2022-08-24 00:45] Memo-Es commented on #5155
@kaylarep, not yet, I just tried to go to the internal docs link, and it says "unauthorized" can you help me add it and/or give me access to the internal docs in GitBook?

[2022-08-24 00:50] alanna commented on #5222
Oh then we should remove the text about mandatory fields from the invite view

[2022-08-24 00:50] alanna commented on #5222
But how can you invite an expense without entering the email at least??

[2022-08-24 04:32] Memo-Es commented on #5704
## Design update

### About the settings page

 - If we only display both options, and those options are boolean (on/off) I think a switch would be a better option than having dropdown menus
 - The only one that actually makes sense as a dropdown menu is this new 'Overview' option because we would have the old version and a new version, so the second element @kewitz added is not necessary, nor is

[2022-08-24 06:26] Betree commented on #5897
@developit Thanks for opening an issue, that could have been helpful!

The situation is resolved now, sorry for th inconvenience it caused.

[2022-08-24 06:26] #5897 closed

[2022-08-24 06:53] #5808 closed

[2022-08-24 06:53] #5822 closed

[2022-08-24 06:53] #5099 closed

[2022-08-24 06:53] #5575 closed

[2022-08-24 10:11] Betree opened #5898 "Progressively migrate old transaction activities"
See this comment: https://github.com/opencollective/opencollective-api/blob/53cda4a23a1b35c708d5ee18b9a7218b03eaf578/migrations/20220816142946-enhance-activities-links.js#L86.

We've only migrated transactions after 2022-06-01 because this thing is super heavy and would timeout in a migration script. We need to progressively migrate the data by running the query filtered on `id` or `createdAt`.

[2022-08-24 10:20] znarf commented on #5874
Just replaced the word "kill" with "remove" in the proposal. Less violent language!

[2022-08-24 10:20] #5869 closed

[2022-08-24 11:11] iamronen commented on #5704
@Memo-Es

1. These designs feel overwhelming to ingest ... so many numbers and so much structure to figure out on the page. This almost has the opposite effect that we initially experienced  when you first demo'ed this design "look at all the purdy colors" ... this variation is "eeeek"
2. I think that 4-5 tags may be too little, I would try to raise that up to 6-7 + other (and I think that other c

[2022-08-24 11:54] znarf opened #5900 "Display available Payout Method details in the transactions list"
In the transactions list, for Contributions, we're displaying some details about the Payment Method used, this is great.

https://opencollective.com/babel/transactions?kind=CONTRIBUTION

<img width="1264" alt="Screenshot 2022-08-24 at 13 49 52" src="https://user-images.githubusercontent.com/806/186412102-c45f5a42-a6fa-4eaa-a295-d7f9a00c2fe5.png">

It would be great to have the same for Payout Meth

[2022-08-24 13:41] iamronen commented on #3983
I've been trying to make sense of the problem space ... I am applying common sense and may be missing professional terms ... but I've built up this visual description of the problem space ... adding it here in the hope that it may help others:

![understanding_transactions_01a](https://user-images.githubusercontent.com/8337819/186433175-24a16dbd-8708-442f-a7b3-212b11968810.jpg)

While starting at

[2022-08-24 13:48] #5883 closed

[2022-08-25 05:25] SudharakaP commented on #5884
@Betree : If no objections I am taking this and will go with your suggestion of creating a generic activity `ACCOUNT_CREATED`.

[2022-08-25 05:33] SudharakaP commented on #5848
I went through the list and identified some more; @Betree let me know if there's anything that needs to be changed here.

- [ ] `collective.expense.error`
- [ ] `collective.virtualcard.missing.receipts`
- [ ] `collective.monthlyreport` (is this different from `collective.monthly`?)
- [ ] `user.new.token`
- [ ] `order.processing`
- [ ] `order.processing.crypto`
- [ ] `order.thankyou`
- [ ] `payment

[2022-08-25 05:33] SudharakaP commented on #5848
@Betree : And if no objections I can take this issue. 👍🏽

[2022-08-25 06:15] alanna commented on #5331
@Betree this came up again today for a new host. How easy is the easy fix you mentioned, allowing changing currency when there are no transactions?

[2022-08-25 06:53] Betree opened #5901 "Activities: ORDER_THANKYOU should be called ORDER_CONFIRMED"
We recently introduced an `ORDER_THANKYOU` activity. It is triggering the "Thank you" email sent to financial contributors.

I believe the name for this activity is not ideal; it shouldn't be based on the email template name (the action triggered) but rather on the root event (what happened originally). Looking at the code, the activity is generated when an order gets confirmed (aka. the payment g

[2022-08-25 07:01] Betree commented on #5848
@SudharakaP Good job extending that list. I just have some doubts about some of them:
- `user.new.token`: This one is a response to a user requesting a sign-in token, so it is a user-initiated activity.
- `order.thankyou`:  You're right, technically the fact that a payment gets approved can be seen as a system activity. But since we don't have an `order.created` event, I think we should keep consi

[2022-08-25 09:15] natehn commented on #5801
This is a host security issue: being able to ensure that sensitive information is only available to Collective admins and core contributors, or something like that. It would need to be able to have uploaded files and photos, and formatted text.

[2022-08-25 09:17] natehn commented on #5769
There should also be a field for special instructions, and the ability to create incognito donations (which relates to https://github.com/opencollective/opencollective/issues/5453)

[2022-08-25 09:24] natehn commented on #5769
In practice, this would be very helpful for one of the essential functions of fiscal hosts, receiving funds. Right now, we have tons and tons of "pending" tickets and random email threads, and we sift through all of them every single time. This leads to mistakes, such as accidentally making an anonymous donation public, or sending funds to the wrong Collective.

Being able to take emailed check or

[2022-08-25 09:25] natehn commented on #5769
This also builds on an existing feature - so I wonder how time-intensive it will be?

[2022-08-25 09:33] shannondwray opened #5902 "Click ability of expenses on collective page"
## Who is your user?
Any user

## What are they trying to achieve?
Show one expense from the transaction list

In the transactions area on a collectives profile, I'm unable to click on an expense or contribution and gain access to the individual link.

This would be super helpful for support so that I can direct other team members directly to the expense in question

## How are they currently doin

[2022-08-25 10:13] Betree opened #5903 "Misleading `COLLECTIVE_TRANSACTION_CREATED` activity class"
The `COLLECTIVE_TRANSACTION_CREATED` activity belongs to `ActivityClasses.COLLECTIVE` (in https://github.com/opencollective/opencollective-api/blob/bb6e2e9a77dab50e7902b7ca43321345eb59769e/server/constants/activities.ts#L124), but it s ounds like it should be under EXPENSES/CONTRIBUTIONS.

This produces unexpected results on the activity log when filtering by "Collective":
![image](https://user-im

[2022-08-25 11:21] shannondwray opened #5904 "New Payment method - Ideal (Mainly used in the Netherlands)"
## User story
Most people in the Netherlands use Ideal as their payment method rather than Paypal or credit card

## Best solution for this problem
Having Ideal as a payment option on Open Collective

<details>
  <summary>Triage Template (team only)</summary>

  This template is for members of the team to triage for prioritisation. For more guidance see https://www.loom.com/share/369ab467fbc64dec8

[2022-08-25 11:30] shannondwray opened #5905 "User Profiles - Language options"
## User story
As a user, I could add Support for different Languages on User Profiles (the Profile Info or About)

## Best solution for this problem
Users can then select the language for their bio - and save a different version of it to be served to visitors speaking that language.

<details>
  <summary>Triage Template (team only)</summary>

  This template is for members of the team to triage fo

[2022-08-25 12:49] Betree commented on #5905
That'd be a cool next step for internationalization. We'll need to work on some specs & design to see how that could look!

[2022-08-25 12:50] Betree commented on #5904
Duplicate of https://github.com/opencollective/opencollective/issues/5618

[2022-08-25 12:50] #5904 closed

[2022-08-25 13:59] BenJam commented on #5769
don't we already have this through pending orders https://docs.opencollective.com/help/independent-collectives/manage-independent-collective/money-coming-in-contributions#via-bank-transfer ?

I think @alinamanko used to use this more, we looked into extending the age out for pending transfers from 30 days (current) to 60 or 90 at Open Source Collective.

@znarf can i request a fact check?

[2022-08-25 14:02] natehn commented on #5769
@BenJam this would be an expansion of that feature

[2022-08-25 14:06] kewitz commented on #5903
You can move these activities between classes without a problem, especially if they don't send any emails because the user email notifications preferences will make no difference.

It is technically OK. If you're sending email notifications, this means that this activity will not be notified if either one of the categories is disabled. This means the user has two settings that will cause him not t

[2022-08-25 14:07] BenJam opened #5906 "[PROJECT] Developing Support Ops"
## Support tasks

Below are a selection of common support ops tasks:

* #5771
* #5651
* #5374
* #5000
* #4848
* #4841
* #4805
* #4714
* #4684
* #4648
* #4627
* #3981

to which I would like to add

* #5907

[2022-08-25 14:12] BenJam opened #5907 "Add/remove myself as an admin to perform actions on the collective"
There are _many_ additions that are being considered for support ops (root actions) https://github.com/opencollective/opencollective/issues/5906

Some of these merely require you to add yourself as an admin, make some modifications, and then remove myself. I find myself doing this from time to time when it's just easier/faster than handing out some docs and waiting for the user to do it themselves

[2022-08-25 14:17] BenJam commented on #5453
OOI how does this square with the #5270 issue given that added funds are typically from larger donors?

[2022-08-25 14:32] BenJam commented on #5783
nope https://opencollective.com/octobox/expenses/91729

[2022-08-25 14:46] #5639 closed

[2022-08-25 14:50] BenJam commented on #5793
as far as I know the original scope for this was

- to allow us to share instances of successful projects in a given domain/geography
- allow users to find projects in their domain/area that they'd like to support
- allow collectives to find an appropriate host for their project(s)

I think the focus in the next instance should be on #5672 (as part of #4829)

[2022-08-25 15:02] BenJam commented on #4829
Adding this to the pitching process for #5672 specifically.

[2022-08-25 15:56] BenJam commented on #5817
FYI we have the created_at (seconds since epoch) date from stripe for card payments.

[2022-08-25 20:17] RichardLitt opened #5908 "Awaiting Approval banner present for recently approved collectives"
**Describe the bug**
A clear and concise description of what the bug is.

After approving a collective, I still see the banner for some time on refresh. Further attempts to approve result in an error being shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Approve a collective
2. Refresh.
3. Note that the banner is still there.
4. Try approving it again.
5. See error.

**Expected behavio

[2022-08-25 20:18] RichardLitt commented on #5908
Note: this also happens for rejected collectives.

[2022-08-25 21:03] #5861 closed

[2022-08-25 21:35] kewitz commented on #5901
Agreed. Should we update the value and migrate past activities as well?

[2022-08-25 22:51] alanna commented on #5453
@BenJam we already allow incognito contributions, and I don't think we want to change that. Right now, we achieve incognito add funds contributions though a very messy and error prone process that risks revealing identities that are meant to be anonymous, or not capturing the donor ID data hosts are legally required to have on file privately. @piamancini is coordinating such a donation for 1K and

[2022-08-26 06:09] Betree commented on #5908
Duplicate of https://github.com/opencollective/opencollective/issues/5896

[2022-08-26 06:12] Betree commented on #5908
Actually, while very similar, there's a difference with #5896: the data for https://opencollective.com/crazycrew is all clean: `isActive` is true and `approvedAt` is set. So this one tends to look more like a caching issue.

[2022-08-26 07:20] Betree opened #5909 "Missing activities for some events"
- [ ] https://github.com/opencollective/opencollective/issues/5884
- [ ] https://github.com/opencollective/opencollective/issues/5864
- [ ] Comment edited
- [ ] Comment removed

*To be completed*

[2022-08-26 07:32] izznatsir opened #5910 "OAuth: Keep getting 403 from /oauth/token on deployment"
**Describe the bug**
I keep receiving 403 response from https://opencollective.com/oauth/token.

It only happened on the deployed version on Cloudflare Pages, it works locally. The error message says error code 1020.

**To Reproduce**
Steps to reproduce the behavior:

I need to create a minimal repo, but, I cannot do it right now.

**Expected behavior**
Works both on deployment and locally.

**Des

[2022-08-26 07:42] #5881 closed

[2022-08-26 08:25] #5540 closed

[2022-08-26 08:29] Betree commented on #5901
I think so, the only regression I can think of is people who have a webhook for "All events" and are filtering on the type. But given we've introduced this one very recently, I don't think it will have a strong impact. I'm still going to announce this on https://opencollective.com/engineering/updates, just in case.

[2022-08-26 08:40] Betree commented on #5903
@kewitz Thanks for the feedback, your proposal of splitting makes sense.

Out of simplicity, we won't touch it for now and will rather filter out the notification from the activity log. If we want to re-add it there, I'd suggest we add a new `Transactions` entry to the activity type filter (_since it supports either passing an activity class or an activity type_).

![Screenshot from 2022-08-26 10-

[2022-08-26 09:05] natehn commented on #5769
Sometimes:

1. The bank transfer does what they are supposed to, and they submit a bank transfer through the Collective's profile. But they are unlikely to do this for a check.

That said, a lot of the time:

2. Donors don't tell us, instead only communicating with Collectives. Our documentation asks, in that situation, for the Collective to tell us by email.
3. Certain big funders will never take

[2022-08-26 11:15] znarf commented on #5901
@Betree Thank you, good practice to announce breaking changes! Someone I know told me about the notification and found it nice.

[2022-08-26 11:20] Betree commented on #5901
@znarf Great to hear!

[2022-08-26 11:24] znarf commented on #5910
Can you give us some information on your deployment? Is this something we can test ourselves?

What's the full body of the response looking like?

At what time have you tried for the last time?

We generally don't see 403 errors in the logs for this URL, so we'll need to dig a bit deeper with your help.

[2022-08-26 11:37] znarf commented on #5896
Adding  `AND "deactivatedAt" IS NULL`

[2022-08-26 11:40] znarf commented on #5896
Updating all Host Organizations with isActive = false

[code]

[2022-08-26 11:40] Betree opened #5911 "Ability for root users to see the activity log of any account"
We could let them view all URLs like `/:account/admin/activity-log`, but I think a better approach would be to add a view on the root admin dashboard.

[2022-08-26 11:41] izznatsir commented on #5910
I can create a minimal reproduction that you can deploy yourself, maybe by doing that, I could also reduce the noices.

The last time i tried is around 3 to 4 hours ago.

I'll let you know when the reproduction is ready.

[2022-08-26 11:52] znarf commented on #5910
I see 404 errors in that timeframe, maybe the parameters are wrong in your Cloudflare Pages setup?

[2022-08-26 11:55] izznatsir commented on #5910
Thanks for taking a look at the logs!

I'm sure that I already check that the parameters are correct, bu I'll do another check.

[2022-08-26 13:00] #5824 closed

[2022-08-26 13:33] Betree opened #5912 "[Feedback] Activity log"
Related project: https://github.com/opencollective/opencollective/issues/5195
Slack channel: https://opencollective.slack.com/archives/C03UD3RV3JQ

From @piamancini:
- Having something like a `Seeing anything suspicious? Contact support` link on the page
- As a future improvement, the ability to flag suspicious activities directly from the page

[2022-08-26 13:34] Betree commented on #5195
Feedback issue: https://github.com/opencollective/opencollective/issues/5912

[2022-08-26 15:56] izznatsir commented on #5910
Here is the reproduction:

https://github.com/izznatsir/cfpoc-remix

you still need to clone this repo and create your own oauth app to test it. But, if you want to, you can check what I deployed:
https://cfpoc-remix.pages.dev

[2022-08-26 15:59] izznatsir commented on #5910
Is there any CORS restriction for OAuth token request?

[2022-08-26 16:16] znarf commented on #5910
CORS is not relevant for backend requests.

I was able to find the problem, it was in our firewall configuration (at Cloudflare), it should be working now!

[2022-08-26 16:24] izznatsir commented on #5910
Cool! It's working now. Thank you!

[2022-08-26 16:25] #5910 closed

[2022-08-27 03:27] izznatsir opened #5914 "Embed: Redirect query parameter is ignored"
**Describe the bug**
I'm embedding a project tier into a website, I want the iframe to be redirected to a custom thank you page after the flow is completed. So. I could record the transaction with some additional info on a database on page load. But, it ignore the the redirect parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Embed a project contribution page in an iframe with redir

[2022-08-27 03:33] izznatsir commented on #5914
Nevermind, it does not work with localhost but works on deployment.

[2022-08-27 03:33] #5914 closed

[2022-08-27 07:49] aomuse commented on #5769
Would it create too much complexity to think if this could also be where we address the invoice challenges? Invoices represent another type of pending contribution which the fiscal host generates in their non-OC bookkeeping system and track until funds arrive. The ability to add a pending invoice payment which sent out a custom payment option email would remove one more off-platform step.

[2022-08-27 21:38] alanna commented on #5820
@kewitz is this a quick fix or something we'll need to prioritise?

[2022-08-28 12:22] RaunaqChawhan commented on #5266
Hi @Betree , Can this be a bounty? I would like to take this up.

[2022-08-29 01:17] alanna opened #5915 "Do not show minimum admins on application for hosts that don't require it"
**Describe the bug**
Even though OCNZ has no minimum admins setting, it's showing minimum admins in the application form.

This is confusing and would block a single admin Collective form applying even if that's not what the host intends.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a host without the minimum numbers of admins policy
2. Apply to it
3. See minimum admins section in fo

[2022-08-29 01:24] alanna opened #5916 "Macron should default to non-macron character not hyphen"
<img width="242" alt="Screen Shot 2022-08-29 at 1 11 54 PM" src="https://user-images.githubusercontent.com/5498878/187104836-335e516a-289c-4cb0-8bc1-98bbf874c67d.png">

When a macron isn't possible to have in a string (like a URL slug) it should default to the non-macron version of that letter, not a hyphen, e.g. o instead of ō for 'Pōneke'. This will come up more often now that more NZ Collective

[2022-08-29 07:00] Betree commented on #5266
@RaunaqChawhan The team is currently working on improvements for the expense flow, we're not going to add a bounty now to prevent conflicts but I'll try to update the issue when it's ready to be investigated.

[2022-08-29 07:03] Betree commented on #5915
Seems like a very easy one to fix in https://github.com/opencollective/opencollective-frontend/blob/2b548d84a7bdb9836bae9a2ffde080dde3f36a6d/components/ApplyToHostModal.js#L460

cc @kewitz

[2022-08-29 07:12] Betree commented on #5916
I've opened an issue with the library we're using to do that: https://github.com/lovell/limax/issues/44. It fits well with their philosophy, as characters like `é` are already replaced with `e`.

[2022-08-29 07:21] Betree opened #5917 "Activity log: show updates from children accounts"
As a collective admin, I'd like to see the history of all the projects & events I've created in my activity log.

[2022-08-29 08:13] Betree commented on #5878
Looks like we need to add a `removeMemberInvitation` mutation in `api/server/graphql/v2/mutation/MemberInvitationMutations.js` to make that possible.

[2022-08-29 08:19] snitin315 commented on #5878
@Betree I believe we already have this ability in API via the removeMember mutation.

https://github.com/opencollective/opencollective-api/blob/86db7a25f1588028bb355f9f748308c61b645741/server/graphql/v2/mutation/MemberMutations.js#L202

https://github.com/opencollective/opencollective-api/blob/86db7a25f1588028bb355f9f748308c61b645741/server/graphql/v2/mutation/MemberMutations.js#L242

Looks like s

[2022-08-29 08:39] Betree opened #5918 "Activity log: filter by collective"
As reported by @alanna in https://opencollective.slack.com/archives/C020ZQSLM5M/p1661729475978129?thread_ts=1661517672.773039&cid=C020ZQSLM5M:

This will mostly be useful for fiscal hosts, but can also be interesting for collective with many projects/events to easily see the activity (https://github.com/opencollective/opencollective/issues/5917).

## Specs

### Frontend

- [x] Remove the "Attribut

[2022-08-29 08:43] Betree commented on #5880
We're going with a quick hack to this one, we've created a [second profile](https://opencollective.com/fidelity-charitable-2) for [fidelity-charitable](https://opencollective.com/fidelity-charitable) and are going to move the contribution to the tier there.

**We'll need to merge both profiles when this issue gets resolved.**

[2022-08-29 08:56] Betree commented on #5878
@snitin315 Indeed. This API is confusing, we're using dedicated mutation to `sendMemberInvitation` and `editMemberInvitation`, it's unclear why didn't take the same approach for removing invitations. Would be great to improve that at some point, but for now a frontend fix should be enough.

It seems that it was introduced in https://github.com/opencollective/opencollective-frontend/pull/7771 and t

[2022-08-29 09:36] #5505 closed

[2022-08-29 09:39] znarf opened #5919 "Migrate PayoutMethodId on transactions before August 2022"
Following up from https://github.com/opencollective/opencollective-api/pull/7876

We need to migrate PayoutMethodId on past transactions.

Straightforward for most entries, the difficulty is to get the few complex cases right (Expense refunded, Payout Method updated).

[2022-08-29 11:41] Betree commented on #5331
Fairly simple, we could fetch & look at `collective.stats.transactions`. I'll try that now

[2022-08-29 12:14] znarf opened #5920 "Host Report: Host Organization balance doesn't change with selected timeframe"
<img width="958" alt="Screenshot 2022-08-29 at 14 13 36" src="https://user-images.githubusercontent.com/806/187198632-e6a36e8f-4036-46f2-9f8e-f004aa0b076a.png">

<img width="931" alt="Screenshot 2022-08-29 at 14 14 09" src="https://user-images.githubusercontent.com/806/187198711-f5d23b9d-1aaf-472e-b13e-97afe6861d45.png">

[2022-08-29 12:16] znarf commented on #5331
A way to circumvent this is to Deactivate as host, change currency then re-Activate as host.

[2022-08-29 12:40] Betree commented on #5331
I started a patch in the frontend based on `host.stats.balance`, but [this line](https://github.com/opencollective/opencollective-api/blob/ef8ccc256f1600d5b5c6a9341c6c729731414e8d/server/models/Collective.js#L2118) in the API will prevent you from changing your currency if you're a host. Needs some more attention to be completed.

[2022-08-29 14:46] #5679 closed

[2022-08-29 16:04] kaylarep commented on #4312
It could be nice to add an extra option on this drop down, where an admin can see all the existing/assigned cards to this Event/Project/Collective: `View Virtual Cards`

![image](https://user-images.githubusercontent.com/64920686/187244572-ac8edb64-2bd1-41f9-b89c-04c404c15429.png)

[2022-08-29 16:11] #5696 closed

[2022-08-29 16:17] bohwaz commented on #1742
Hi, in Europe it's much easier to do a SEPA payment than go through Paypal when you are a non-profit, so it would be easier to contribute for us :)

[2022-08-29 18:46] RaunaqChawhan commented on #5266
@Betree  sure, thanks 🙂

[2022-08-29 21:54] SudharakaP commented on #5888
Fixed by https://github.com/opencollective/opencollective-frontend/pull/8135

[2022-08-29 21:54] #5888 closed

[2022-08-30 07:13] #5911 closed

[2022-08-30 07:33] juniorian opened #5921 "Resolvi ajudar"
<!-- Thanks for opening an issue, if you're here to describe a problem you're having with Open Collective you might consider opening a bug if something isn't working properly, or share an idea, irritation or need if you don't have a proposed solution.

## User story
_As <persona>, I can <what?> so that <why?>_

## Best solution for this problem
_What does the ideal solution look like?_

## MVP
_Wh

[2022-08-30 07:55] alanna opened #5922 "Show 'since' date on team member cards on Collective page"
When looking at the team section in admin settings, you can see the 'since' date the person became an admin.

<img width="747" alt="Screen Shot 2022-08-30 at 7 52 30 PM" src="https://user-images.githubusercontent.com/5498878/187381685-fc3bd59c-2393-40b5-818f-316b8ba752f3.png">

But when you view a Collective page you can't see the dates.

<img width="715" alt="Screen Shot 2022-08-30 at 7 52 39 PM"

[2022-08-30 07:58] #5921 closed

[2022-08-30 08:28] Betree opened #5923 "Remove PayPal adaptive"
_Related to https://github.com/opencollective/opencollective/issues/4210_

## Motivation

- PayPal adaptive has been deprecated by PayPal for at least 3 years now
- They are publishing breaking changes on this API with notices (see https://opencollective.freshdesk.com/a/tickets/106400)
- We have a replacement solution that is more stable, cheaper & better tested (PayPal Payouts)
- Overall, we want

[2022-08-30 08:35] #5429 closed

[2022-08-30 09:20] RichardLitt commented on #5908
Thank you, @Betree - I didn't see that issue, and didn't find it when I searched for it.

[2022-08-30 09:26] RichardLitt commented on #5908
Neither does clearing my cache for opencollective.com and signing in again.

[2022-08-30 09:51] #5306 closed

[2022-08-30 09:52] kewitz commented on #5697
As discussed with @Betree, we're not implementing the POV variation because of the complexity of deciding who's the submitter.

[2022-08-30 10:10] BenJam opened #5924 "Managing disputed charges"
Sometimes hosts will receive disputes from payment processors on behalf of users who are disputing a charge against their payment method. Sometimes these charges will be fraudulent, other times they might simply be that someone has forgotten that they have a recurring (most likely annual) contribution.

In either case, as a host I need to

1) Find the disputed transaction
2) Confirm that the trans

[2022-08-30 10:22] #5920 closed

[2022-08-30 13:20] #5820 closed

[2022-08-30 13:24] Betree commented on #5294
Re-opening as native Yubikey support still provides a simpler user experience

[2022-08-30 14:19] #5020 closed

[2022-08-30 14:19] #5222 closed, assigned to Betree

[2022-08-30 14:24] Betree commented on #5681
Done :rocket:

[2022-08-30 14:24] #5681 closed

[2022-08-30 14:57] #5695 closed

[2022-08-30 19:53] SudharakaP commented on #5848
Some notes on this,

- `collective.monthly` is not used anymore; I think we should only have `collective.monthlyreport`. Looking at the git history `collective.monthly` as renamed from `groups.monthly` long time ago but that activity was removed. Thus I have removed this in the PR.
- `webhook.stripe.received` and `webhook.paypal.received` is not used currently.

For everything else I've added `act

[2022-08-30 20:35] kaylarep opened #5925 "'Project' Budget Hover info isn't correct"
The hover over `Today's Balance` of a **Project** says: `The current balance of the account. Not including Projects and Events.` This is not correct, and confusing.
![image](https://user-images.githubusercontent.com/64920686/187538001-e1204de1-e8d7-46dc-9c48-7813f4ecca80.png)

[2022-08-31 03:11] alanna commented on #5458
Nonprofits can't current sign up for Venmo so most Hosts couldn't use it even if we integrated it.

I think we should look into guiding people to use Venmo direct debit, which we can use via Wise (make bank transfers that end up in their Venmo account).

[2022-08-31 05:22] Memo-Es commented on #5704
### Design update

After the first round of user testing calls, we did a simplification round and changed the layout to ease a load of information a person needs to process while going through the budget overview:

**Note:** If a Collective doesn't have projects or events active, it doesn't get displayed in the tabs

Expenses | Contributions | Projects | Events
---------|---------|---------|------

[2022-08-31 05:54] iamronen commented on #5704
Nice integration @Memo-Es :)

1. I like that the time filter is encompassing the whole thing, but I am not sure that is clearly communicated in the layout. I guess most people will figure this out once they interact with it, but I feel there is some friction there.
2. Are "today's balance" and "estimated annual budget" effected by the time filter? I am assuming they are not. If that is the case, m

[2022-08-31 06:00] alinamanko commented on #3258
This is such an important conversation to have - thank you @Betree! I would add the following warning signs we encountered:

 - expense submitted and approved by the same user
 - a sense of urgency applied to the collective admin to get the expense paid out (that was specifically evident for a targeted collective under OCF when it came to claims for financial aid)
 - expenses submitted to the same

[2022-08-31 06:57] kewitz commented on #5704
@memo @iamronen
- From a technical side, I like the previous design where there was only tabled data as the initial render. I think that reduces the loading time and burden on the user's device. Graphs take much more time to render and load than structured text.
  - If displaying tabled data is not necessarily what we want to go with, it would be nice if there was a way for us to render the graphs

[2022-08-31 07:28] Betree opened #5926 "Rename `canEditCollective` to `isAdminOfCollectiveOrHost`"
The current name isn't accurate: host admins can't edit collectives. `isAdminOfCollectiveOrHost` would also match what we do in the API.

[2022-08-31 07:47] alanna commented on #5704
Do the main expense and contributions views include events and projects, and then you can further break it down and see events and projects separately? I think the top desired use case will be an integrated view of the entire budget, and if the first screen does not show event and project funds by default it will be misleading.

I think a simpler design would be just contributions and expenses, dr

[2022-08-31 13:16] Memo-Es commented on #5704
Thanks for your latest comments! That was a WIP I'm not really sure to push to dev yet. That is why I wanted more feedback. I will work on the feedback I'm gathering from you and user tests and post an interaction soon.

[2022-08-31 13:19] SudharakaP commented on #5783
@znarf : With regard to our discussion about uploading the receipt after using the virtual card. I was thinking now that we send an email notification `virtualcard.purchase.hbs` at authorization (after https://github.com/opencollective/opencollective-api/pull/7815) we could add a line in this email notifying the user that they could upload the receipt if they wish to do so (with a link to the appr

[2022-08-31 14:54] BenJam commented on #5645
re-adding this to prioritisation as we evidently need it to control the number of projects that we're accepting...

[2022-08-31 14:55] BenJam commented on #5645
@aminakazi can you drop the design that we got to for this?

[2022-08-31 15:09] BenJam commented on #5689
going to put this into #5680 /cc @opencollective/design

[2022-08-31 15:30] BenJam commented on #5894
I have to say that I dont really understand the approach here. Right now expenses like this are borne by one member of the community, which is this reimbursed through Open Collective.

If (in this example) DO is the payee, is the implication is that they have a billing relationship with the host, or the platform?

A hosts we are interested in doing this in the future, as hosts may be able to provi

[2022-08-31 15:50] znarf commented on #5894
Personal experience, using the platform to pay accommodation and caterer for the retreat, I ideally don't want the trouble of having to invite the providers to the platform.

I already have an invoice, I have a recipient bank account, I just want to enter the details and move forward with it. Involving the recipient is a lot of friction and a loss of time.

I ended up creating Organizations for th

[2022-08-31 15:51] znarf commented on #5925
That's right we should not have the tooltip for Projects and Events.

[2022-08-31 15:57] znarf commented on #5783
To come back at the root issue, just wanted to confirm this is already allowed.

@SudharakaP yes, we should change the wording and they something like "you can already attach a receipt if you have one".

But on the other end, we should make sure to not ask for a receipt later on if there is already one attached.

@BenJam I just worked with Virtual Cards charges that were processing today and could

[2022-08-31 16:42] viktorix commented on #5894
@BenJam you're looking at this the wrong way. This is purely for recordkeeping. Financial transparency requires both income and expenses to be made public. We can't do that with the current system. This has nothing to do with the actual payments. In our case, transactions already took place and we simply need to make them public. DigitalOcean was an example. We have legal/gov fees, a mailbox, mult

[2022-08-31 23:31] alanna commented on #5894
I think there are two separate needs that are overlapping here:

1. Reflecting accurately the actual money movements > an expense showing the expense to the person who actually paid, as a reimbursement.
2. Telling an accurate story of what a Collective is spending money on > you want to show that $x was spent to different vendors to show what you pay for servers, or food, or whatever expenditures

[2022-09-01 07:47] alanna commented on #5758
Applications are still coming into OCF with one admin. This really slows our onboarding process down and defeats a main value of this feature for OCF.

[2022-09-01 08:24] Betree commented on #3171
Postgis is gone! I'll keep an eye on our channels to look for regressions

[2022-09-01 08:24] #3171 closed

[2022-09-01 11:00] #5395 closed

[2022-09-01 11:00] #5525 closed

[2022-09-01 12:32] #5407 closed

[2022-09-01 14:05] BenJam commented on #1916
just leaning in to say that we will need this as a recondition to some of the measures in https://github.com/opencollective/opencollective/issues/5895

[2022-09-01 14:45] poohlaga commented on #3258
On the expense, it would be good to see an alert or a different status assigned to the expense if there are unresolved disputes or reviews in Stripe against the collective.

For any expense over a certain threshold, I'd want the user to be verified (https://stripe.com/identity).

[2022-09-01 18:09] Betree opened #5927 "Add local tax support to "Add funds" (VAT, GST)"
As requested in https://opencollective.slack.com/archives/GFH4N961L/p1661998381978629

Now that we have local tax support on contributions & expenses, it seems logical to add it to add funds as well. The API should already support most of what we need, this issue might very well be frontend only.

The solution should look like what we did for https://github.com/opencollective/opencollective/issues

[2022-09-01 20:57] Betree commented on #4099
Still seeing this issue, I'm adding a bounty on it

![Screenshot_20220901-225531_Firefox~3.png](https://user-images.githubusercontent.com/1556356/188011553-dd89d932-3ecf-4cb1-bd9a-8c5793213e42.png)

[2022-09-01 21:09] alanna opened #5928 "Collective page: wrongfuly displayed tiers pagination"
**Describe the bug**
On https://opencollective.com/foodandsolidarity this arrow seems random and it doesn't do anything when clicked.

<img width="1451" alt="Screen Shot 2022-09-02 at 9 06 51 AM" src="https://user-images.githubusercontent.com/5498878/188013392-1e887708-29de-4297-a93b-145764840b39.png">

**Expected behavior**
Probably this should only appear when there are many cards to scroll hori

[2022-09-01 21:10] alanna commented on #5278
I continue to find Hosts with hidden Collectives and I think we should do something about it. Not sure if we should wait on #5457 or not.

E.g. https://opencollective.com/foodandsolidarity

[2022-09-02 03:28] Ashleyburgos commented on #3236
Approved

[2022-09-02 06:22] Betree commented on #5928
@alanna Can you share more info on screen size / browser? I can't reproduce it on Chrome/Firefox

[2022-09-02 06:23] alanna commented on #5928
MacBook Pro M1 13" in chrome

[2022-09-02 06:53] Betree commented on #5928
@kewitz Found how to reproduce this:
1. Go to https://opencollective.com/foodandsolidarity
2. Click on https://opencollective.com/elswicksolidarityfund
3. Resize the window
4. Go back

Basically, `withViewport` or `HorizontalScroller` does not seem to be updated properly when going from one collective page to the other.

[2022-09-02 06:54] Betree commented on #5928
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted, and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2022-09-02 07:03] Betree opened #5929 "Replace image imports by `<Image />` NextJS component"
We have many places in the frontend codebase where we import images, you can look for them with this regex:

Most of them should be replaced by `components/Image.js` because:
- The default width/height provides a better loading strategy preventing content jumps due to image suddenly loading
- It adds dynamic image loading out of the box
- It automatically creates different resolutions, which impro

[2022-09-02 09:42] Betree commented on #5228
Also reported on https://opencollective.slack.com/archives/C1974QBNK/p1661259814715909 using the latest Firefox. I've tried again with Firefox/Fedora today and couldn't reproduce.

Having arrow buttons to move the sections up/down as suggested in the issue would provide a workaround and a way for people to use this component on mobile, I support the idea.

![failed-drop](https://user-images.github

[2022-09-02 09:47] Betree commented on #5228
I was actually able to reproduce by drag & dropping very quickly, investigating...

[2022-09-02 10:08] #5853 closed

[2022-09-02 10:25] Betree opened #5930 "Provide alternatives to drag & drop"
Followup on https://github.com/opencollective/opencollective/issues/5228

Drag & drop features come with accessibility issues. Visually impaired users & people using mobile / touch screens may have a hard time using them. The most common pattern to get around this problem is to have single-pointer alternative buttons (e.g. "Move up", "Move left", etc).

I started an experiment in https://github.co

[2022-09-02 10:26] Betree commented on #5228
Fix incoming in https://github.com/opencollective/opencollective-frontend/pull/8158.
We'll follow up with alternative actions to drag & drop with https://github.com/opencollective/opencollective/issues/5930.

[2022-09-02 12:34] #5228 closed

[2022-09-02 14:00] Betree opened #5931 "Auto-select expense type when there's only one possible"
Suggested by @SudharakaP

Now that we have https://github.com/opencollective/opencollective/issues/5395, some hosts can end up with only one expense type possible. Though quite an edge case, it would be nice to auto-select the type when that happens.

[2022-09-04 10:56] shannondwray opened #5932 "Text size on website very small"
## Who is your user?
contributors to multiple collectives

## What are they trying to achieve?

PS: Feedback - I do find the TINY size of the text in the OC web UI, on my laptop (Firefox, MacOS), REALLY hard to handle.
Does this UI design result, I wonder, from designing for mobile devices? Certainly doesn’t sit happily on my laptop

## How are they currently doing this?
Zooming isn’t a good solut

[2022-09-05 09:58] #5876 closed

[2022-09-05 10:09] #5852 closed

[2022-09-06 04:53] alanna opened #5933 "Having both Custom Email and Private Instructions on Events is confusing"
## Who is your user?
Event creator

## What are they trying to achieve?
Communicate information only to people who register for an event, via automatic email when they get a ticket

## How are they currently doing this?
We have two features that are overlapping in a confusing way: Custom Email for an Event, and Private Instructions for an Event.

If Private Instructions does not serve a different

[2022-09-06 05:03] alanna opened #5934 "Option to not allow Event registrations without names"
## Who is your user?
Event organizer

## What are they trying to achieve?
Know who is coming to their event

## How are they currently doing this?
There is no way to require names for Guest accounts, so they end up having to export data to get the emails and guess from the email itself or contact the person to get their name. Often times the user it's trying to hide who they are (obviously they wi

[2022-09-06 13:03] #5848 closed

[2022-09-06 14:06] shannondwray opened #5935 "Contributor can request a refund"
## User story
_As Contributor, I can request a refund so that if I make an accidental payment or forgot to cancel, I can request a refund via the platfoprm_

## Best solution for this problem
A button to request a refund

## MVP
_What should be possibly built to demonstrate the solution?_

## Metrics
Reduced support tickets asking for refunds

## Documentation
_The goal of the documentation should

[2022-09-06 14:12] shannondwray opened #5936 "Refund button missing from the organization page"
## Who is your user?
Fiscal Host admins

## What are they trying to achieve?
Want to refund a duplicate payment, have to try and find the transactions on the collective page rather than being able to press refund on the same transactions on the users/companys page

 - [ ] Surfacing: if you feel this is a seed of an idea that needs to be researched.
 - [ ] Understanding: if you've done some researc

[2022-09-07 09:29] Betree opened #5937 "Expenses split accross multiple collectives"
## What are they trying to achieve?
1. OC Inc. / OCF / OSC have shared team members, whose salaries get split across these organizations (e.g. 20% OCF, 80% Inc) depending on how they spend their time.
2. @aerugo organizes events where they collect money from different sources to different budgets, and want to pay people with a mix of these different budgets.

Common need: split expenses across mul

[2022-09-07 20:22] SudharakaP commented on #5073
Not yet. This was a bit complicated than I thought initially. We need to prioritize it in a later cycle I think. 🤔

[2022-09-07 21:10] alanna commented on #5359
Ah ok, so if they confirm the bank account I put in, it will then change?

[2022-09-08 06:12] alanna commented on #5758
@kewitz can you clarify what needs to happen to get this fixed? Do we need to get this prioritised in a sprint as a new feature? Or can it be updated easily? It's continuing to cause problems for OCF. Just had a whole grant application timeline get messed up waiting on them to add a second admin so we can approve them....

[2022-09-08 18:16] SudharakaP commented on #5359
Yes it does. As soon as the invited user goes through the expense flow and submits the expense (as soon as it the expense changes from draft to pending state) then that information changes. But let us know if this behavior is not desirable. In my view it makes sense as the bank information you entered might be changing (or the payout method itself can change) depending on what he invited user inse

[2022-09-08 22:44] alanna commented on #5359
OK that makes sense. That's fine. If it could say "unconfirmed" instead of "other" that would be clearer (I raised this issue because at first I thought I actually selected the wrong payout method or it didn't save properly), but I am probably one of very few people who would even notice that.

[2022-09-09 06:27] SudharakaP commented on #5359
Thinking about this further I think we could show the payout method that the invitee specified in the draft expense. If the user changes it later we should change the payout method in the pending expense accordingly. This way we don't have any ambiguity.

@Betree : I've made a fix for this such that we show the payout method even for draft expenses.

[2022-09-09 08:12] Betree opened #5940 "Select filters closing immediately on Firefox mobile (Android)"
**Describe the bug**
On Android / Firefox Mobile (latest versions), select filters (i.e. those on the expense page) are randomly closing themselves immediately after opening. I'm not reproducing on desktop.

https://user-images.githubusercontent.com/1556356/189303713-7bf49659-0934-4a5e-a078-8535d1b67d2e.mp4

**Context**
Could be related to https://github.com/opencollective/opencollective/issues/55

[2022-09-09 08:22] #4099 closed

[2022-09-09 08:22] Betree commented on #4099
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2022-09-09 08:29] kewitz opened #5941 "Wise: Automatically set OTT = true when dealing with European countries"
Right now we need to manually set each host account to be compatible with Wise OTT flow and this means that every time a new host joins the platform from Europe or the UK, they'll face some kind of error before they can use Wise for the first time.
We should automate the onboarding process by setting `settings.transferwise.ott = true` when a collective connects to Wise from any European country.

[2022-09-09 08:51] Betree commented on #5941
We may want to use the `isMemberOfTheEuropeanUnion` helper from lib taxes

[2022-09-09 10:38] kaylarep commented on #4312
from [user feedback](https://opencollective.slack.com/archives/GSNDVCC4F/p1662331815617469):

![image](https://user-images.githubusercontent.com/64920686/189331932-bdc44f7f-3b52-4b07-976b-a4d1ddd43ee1.png)

[2022-09-09 12:57] #5925 closed

[2022-09-10 20:05] nosro commented on #5872
@Betree thanks, you spelled this out clearly. I followed your suggestion to the letter, I think.

I can go through all templates and add the greeting, if this looks like the way to go.

https://github.com/opencollective/opencollective-api/pull/7923

[2022-09-11 23:00] alanna opened #5942 "Give Host admin a way to see platform tips breakdown"
## Who is your user?
Admin of a Fiscal Host or Independent Collective

## What are they trying to achieve?
See comment thread: https://opencollective.com/vatpac/expenses/89102

They are looking for a way to see the breakdown of platform tips by transaction. This info does not appear in the transactions CSV download, nor the contributor data export, nor the settlement expense.

## How are they curr

[2022-09-11 23:11] alanna opened #5943 "Updating virtual card charge expenses does not create activities"
## Who is your user?
Viewer of an expense

## What are they trying to achieve?
When I view an expense I want to see status updates posted in the comment feed so that I can understand what's happened with it over time.

E.g I just went and added a receipt to [this expense](https://opencollective.com/comms-docs/expenses/93956) but it doesn't show that in any way when viewing it. I expected it to hav

[2022-09-12 07:25] Betree commented on #4331
Duplicate of https://github.com/opencollective/opencollective/issues/5101

[2022-09-12 07:25] #4331 closed

[2022-09-12 07:34] Betree opened #5944 "Make sure Incognito is always handled with the Members table"
In the initial implementation of Incognito, a shortcut was used to rely on `userCollective.CreatedByUserId` to link the incognito profile. We should make sure we remove this functionality altogether to instead rely on the `Members` table (_i.e. the user is an admin of the incognito profile_).

Some of them can easily be identified:
- [ ] https://github.com/opencollective/opencollective-api/blob/ff

[2022-09-12 07:36] Betree commented on #5453
Just a note to say that this is happening quite often, we got at least 2 cases in the past month. On the API side, it seems like an easy one to implement incognito profiles for organizations - https://github.com/opencollective/opencollective/issues/5944 is the only blocking part I see.

We'll probably need more work to make sure all admins can see the incognito contributions for the profiles they

[2022-09-12 07:57] Betree opened #5945 "Internal docs for Yubikeys"
- [ ] Have a table where, for each service (Google, Github, etc) we add:
  - Whether it's `Requried`, `Recommended` (for which teams - can differ between support & engineering)
  - A demo (video, text, or link) on how to enable
  - Backup strategy
- [ ] Document services
  - [ ] Github
  - [ ] Heroku
  - [ ] Metabase
  - [ ] Freshdesk
  - [ ] Google
  - [ ] Cloudflare

cc @kewitz @shannondwray

[2022-09-12 07:59] Betree commented on #5930
Typeform uses select inputs with numbers (_the order of the item in the list_) as an alternative to DnD:

![image](https://user-images.githubusercontent.com/1556356/189602048-0c5af718-7145-4dfd-b5e1-60e5d1184d48.png)

[2022-09-12 08:28] shannondwray opened #5946 "Admins being able to cancel a financial contributions"
## Who is your user?
Admins

## What are they trying to achieve?
Cancel a financial contribution

There are lots of instances where it would be beneficial to be able to cancel a financial contribution for a particular user. We have a situation where a tier was deleted and it was assumed all financial contributions would be deleted in the process which didn't happen. It would be great if the admin

[2022-09-12 08:31] shannondwray opened #5947 "Option to stop all contributions when deleting a tier"
## User story
As a collective admin, I can choose whether the financial contributions associated with a tier are cancelled when the tier is cancelled so that if the tier is associated with a membership or access to a course when the course is shut down the financial contributions can be stopped as well.

## Best solution for this problem
A tick box or something within the window when you are delet

[2022-09-12 09:53] Betree opened #5948 "Root actions: clear cache doesn't work for GQL operations"

[2022-09-12 10:03] Betree commented on #5785
cc @znarf

[2022-09-12 11:40] znarf commented on #5785
I'm up to have a try.

Let's aim to make a more usable website with a nicer landing page.

The repository is here if you want to contribute: https://graphql-docs-v2.opencollective.com/

[2022-09-12 11:48] pelletier197 commented on #5785
Thanks @znarf. I'd be happy to contribute. However you shared a link to the documentation itself, not the repository 😅

[2022-09-12 11:49] znarf commented on #5785
Sorry https://github.com/opencollective/graphql-docs-v2

[2022-09-12 11:54] pelletier197 commented on #5785
Great, thank you! Quick question, do you wish me to push the static assets like you did here, or are you open to have this be done by pipeline ? I could, for instance, push the built website on a distinct branch, and have the magidoc code in the main branch. (Same flow as GitHub pages if you're familiar with it)

[2022-09-12 11:57] #5900 closed

[2022-09-12 12:08] znarf commented on #5785
We're deploying on Vercel. I guess the assets don't have to be there and we can just build things on Vercel side.

The idea of having a branch with the assets and a branch with the code doesn't looks great to me.

Overall, I think the easiest is to start simple and do 1 step at a time:
1) Keep the assets and provide a new command to update them
2) Present a new approach with assets removed and and

[2022-09-12 12:14] pelletier197 commented on #5785
Okay, seems good. And do the assets need to be at the root of the repository? I could make both solutions live together more easily if I could put each implementation in a separate folder. If that makes sense for you.

[2022-09-12 13:41] kewitz commented on #5758
Every collective should still expect applications with pending admin invitations to still go through, for example:
![Screen Shot 2022-09-12 at 10 31 14](https://user-images.githubusercontent.com/2119706/189667428-d898f6e3-a118-4b3c-be63-a9fba8a096d8.png)

Why do we let these applications go through?

1. Because every collective that applies through OCF onboarding flow will never have two admins. T

[2022-09-12 16:02] RichardLitt opened #5949 "Include collective name in Action Required emails"
I have a recurring expense for the SustainOSS collective. I get an email every month, asking me to upload the receipt for the expense. Due to Gmail filters, I never see this email, as I receive all emails for Open Source Collective.

I would like to filter the email to ensure it does show up in my actual inbox, so that I see it. However, the only way to do is to filter for the name of the expense,

[2022-09-12 17:28] kewitz opened #5950 "GraphQL: includeChildren flag double counts transactions between parent and children collectives"
**Describe the bug**
When resolving `contributionsAmount` and `contributionsAmountTimeSeries` with `includeChildren: true` in a set of collectives where a balance is received through the parent collective and later added to the children collective, we'll double count that transaction amount because we're summing all credit transactions.

**Expected behavior**
Do not double count the amount credite

[2022-09-12 19:07] jacoobanderson commented on #5893
I could work on this one if that's okey.

[2022-09-12 20:54] alanna opened #5951 "System sending virtual card receipt notifications when receipt already uploaded"
**Describe the bug**
I uploaded the receipt for this while it was still processing: https://opencollective.com/comms-docs/expenses/93956

Then about 12 hours later, I got this notification:

![Screen Shot 2022-09-13 at 8 53 20 AM](https://user-images.githubusercontent.com/5498878/189756605-cd901255-560b-4594-81cf-e104e65a6ddb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a rece

[2022-09-12 22:07] alanna commented on #3357
This is showing as `done` on the sprint board but it's not actually done right?

[2022-09-12 22:57] SudharakaP commented on #5783
This is tackled at, https://github.com/opencollective/opencollective/issues/5951

[2022-09-13 00:54] alanna commented on #5758
Thanks @kewitz - I have asked the OCF team to think about how they want this to actually work. I think something like it won't let you through until you *invite* a second admin, but it does let it through with that invitation pending and not yet accepted, could be a good compromise.

[2022-09-13 01:59] SudharakaP commented on #5949
As a quick fix I could suggest;

information. This expense was submitted to `Agora Collective`....