[2020-01-09 13:08] Betree commented on #2366
The issue still stands if they share it by other means (social networks, their website...). We shouldn't encourage the public use of this address while the spam issue hasn't been properly investigated.

[2020-01-09 13:24] xdamman commented on #2366
Huh. We need to fix that. Is there an issue for it yet? (Couldn’t find any with a quick search on “email”) Should we consider putting a bounty on it and reach out to people with experience with such topics?

In the meantime, can you live with it? I’m part of a gazillion of collectives and spam issues has never been an issue for me so far. If not, we can omit it and just say “message will be sent t

[2020-01-09 13:38] #2783 closed

[2020-01-09 16:10] Betree commented on #2366
The problem is not about admins getting spammed, it's about email providers (Google) flagging our server as sending spam. We rely too much on emails (signup/SignIn) to take the risk of letting that happen. Without saying, sending spam is against Heroku's TOS and we don't want them to take action against our servers neither. So it's not just a preference, it's a real blocker.

I should have created

[2020-01-09 17:09] davidak commented on #919
...

[2020-01-09 19:05] IzzySoft commented on #919
@Betree so it's better if we not "just ping to remove the ~stale" – but leave it there so it presses on your conscience? :thinking:

[2020-01-09 19:23] kewitz commented on #2787
https://github.com/mochajs/mocha/pull/4069

[2020-01-10 08:08] Betree commented on #1540
Changes should be API only, but there's maybe a tiny bit of Frontend to touch to display the error correctly.

[2020-01-10 10:36] znarf opened #2791 "E2E random failures"
Let's try to track E2E random failures in an ongoing effort to make them more stable.

**Active**

None

**Skipped**

- 29-host.dashboard.test.js
  - host dashboard
    - 1) mark pending application approved
      - CypressError: Timed out retrying: Expected to find element: '.inputField.name input', but never found it.
        - Skipped in: https://github.com/opencollective/opencollective-fronten

[2020-01-10 10:51] znarf opened #2792 "Move Event balance to parent"
In the previous Event page, we were supporting the ability to move the Event balance to the parent. This functionality is now gone since we moved to the new Event page (based on the new collective page).

Today, it can still be reachable by adding "/legacy" to the event URL. That way we can unblock users contacting us.

We would like to make this feature accessible again.

Old code: https://github

[2020-01-10 11:20] znarf opened #2793 "Remove "Name Tags" feature"
Pros:
- It's currently broken. If we don't remove it, we need to spend time fixing it.
  - See: https://opencollective.com/sustainoss/events/sustain-2020-5874aeeb/nametags.pdf
- No one complained that it was broken.
- It's already considered as debt, and we wanted to remove it from the frontend codebase anyway
  - It's relying on heavy and outdated dependency (phantomjs) that we would like to remo

[2020-01-10 11:24] piamancini commented on #2793
ok -

[2020-01-10 11:36] znarf commented on #2789
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-01-10 11:37] znarf commented on #2787
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-01-10 11:47] znarf commented on #2754
A $200 bounty was attached to this issue. Anyone submiting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-01-10 11:49] JoyLubega commented on #2789
hey @znarf  I want to fix this.

[2020-01-10 11:51] znarf commented on #2746
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-01-10 11:53] brymut commented on #2746
Hi, I'd like to take a look at this while I wait for a review on a pull request.

[2020-01-10 11:54] znarf commented on #2789
@JoyLubega All right, initial time limit is 1 week. This can later be extended if there is demonstrable progress. Good luck!

[2020-01-10 12:49] BassT commented on #2782
@znarf I think I could fix this issue. Could I be assigned?

[2020-01-10 13:26] Betree commented on #2650
This discussion has now been turned into a project: https://github.com/opencollective/opencollective/issues/2741

[2020-01-10 13:26] #2650 closed

[2020-01-10 13:28] Betree commented on #2571
This should be easier now that we have the `MemberInvitation` concept. We still need a special email for invited users that have never logged in before and of course the frontend UI specified above.

[2020-01-10 14:40] zachleat opened #2794 "`tier` missing from Contributor that switched from one-time donation to recurring"
**Describe the bug**

Hans Gerwitz has switched from being a one-time contributor to 11ty to a monthly. But his entry in the API is missing a `tier` entry.

**To Reproduce**
1. Go to https://opencollective.com/11ty/members/all.json
2. Find two entries for `https://opencollective.com/hans-gerwitz` (this is fine, one is active and one is not)
3. However, the active entry should have a `tier` propert

[2020-01-10 20:42] chmac opened #2795 "Feature Request: All or nothing campaigns"
It would be awesome have all or nothing campaigns like on kick starter.

Opens up a whole new level of cooperation if everybody is free to contribute as much or as little as they want and as a community we either make it happen or we don’t...

I'd imagine it being an option when creating a "Goal". I guess it's quite complicated because there's a few things that need to be determined such as:

* Ho

[2020-01-10 20:49] xdamman commented on #2795
This could be very useful for https://opencollective.com/community where we want anyone (probably mostly agencies who have design and product management skills) to offer to implement some features on open collective. If only a fraction of the money is raised, the feature can’t be developed. So having an all or nothing goal would make much more sense in this case.

What use case do you have in mind

[2020-01-11 00:30] MrControl opened #2796 "Attempting to change URL Slug on account setting retuns "Validation error""
All attempts made to change my URL slug has caused the message "Validation error" when I click save.  Is anyone else having problems like this?
![Error message](https://user-images.githubusercontent.com/27393212/72195318-b2e07700-33df-11ea-8794-a4bd5e53aff4.png)

[2020-01-11 02:53] leonardohof commented on #2754
@znarf Can I work on this issue?

[2020-01-11 08:52] znarf commented on #2796
@MrControl No, it's not common, can you give a link to your collective?

[2020-01-11 09:07] znarf commented on #2662
New Todos:

- [ ] Make sure "Downgrade" and "Upgrade" are used for the Button when that make sense
- [ ] Prevent downgrading based on the current usage

[2020-01-11 09:16] znarf commented on #2794
@zachleat this is a known issue (but could not find a reference in GitHub) that we're happy to manually fix for you. Can you contact support@opencollective.com ?

[2020-01-11 13:49] RythmosAdvisory opened #2797 "[AI & BLOCKCHAIN] A new tender call: Is anyone interested in a joint tender call"
https://www.researchg

Recently, I have an interest in Collaborative Intelligence (**Social Impact**: _P2P Blockchain connected to AI in conjunction with the ELITE SILOS_).

For this purpose, I am a member of a (open) European observatory.

/snip/

A new tender call: Is anyone interested to participate in a joint tender?

Tender call just published at https://lnkd.in/dZ43fuU

(specifications at ht

[2020-01-12 21:53] alanna opened #2798 "Admins can download past reports"
## User story
As the admin of a Collective, Host, or Organization, I want to be able to download past reports so I can access records and provide information as needed.

This comes up for all kinds of reasons, like providing info to accountants for taxes, creating budget reports, filling out grant applications, etc.

Currently reports are emailed out monthly, but there is often the need to look up

[2020-01-13 04:19] Memo-Es commented on #2366
A couple of issues that were left pending in Friday's demo:

1.  The Open Collective way
Right now, we are displaying three central values that conform to the Open Collective way: Your data is yours, safe space, and transparency.
<img width="1440" alt="Create collective" src="https://user-images.githubusercontent.com/49539954/72232517-37b9c500-3587-11ea-8493-59bd929f5b93.png">
@alanna and I discus

[2020-01-13 08:20] znarf commented on #2787
🏆 This issue was completed by @CanerSezgin

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2020-01-13 08:35] Betree opened #2799 "Replace Google/Apple maps by OpenStreetMaps"
To deal with event's locations, we currently use:
1. Google maps to suggest the addresses
2. Google maps to display the map
3. Apple maps for the link to the full map

Both of these services are proprietary and raise privacy concerns (that we successfully avoid on the rest of the website by not using any tracker).

## Best solution for this problem

Thankfully Open Street Map is a very strong alte

[2020-01-13 08:42] znarf commented on #2799
@Betree thank you for creating the issues! Feel free to add the bounty on it.

[2020-01-13 08:43] xdamman commented on #2793
Ok. But we really need to think about how we can extract the Event feature from the core of open collective. It should be its own app. Let’s put that as a topic for the Brussels retreat. This will fit nicely in the discussion for opencollective.org.

[2020-01-13 08:47] znarf commented on #2797
Doesn't look like a valid bug report or feature request.

[2020-01-13 08:47] #2797 closed

[2020-01-13 08:48] #2785 closed

[2020-01-13 08:50] Betree commented on #2797
Not the first time: https://github.com/opencollective/opencollective/issues/2763
@RythmosAdvisory if you keep posting these without explanations we may have to ban you. Thanks

[2020-01-13 08:59] xdamman opened #2800 "Conversation: save draft in local storage"
There is nothing worse than spending half an hour writing something, then being distracted and opening another tab, then coming back and realizing that the browser reloaded the page (especially on mobile where memory usage is limited) and the text is gone.

This could be easily solved by saving regularly the current draft in local storage.

Whenever I come back to the new conversation page, the la

[2020-01-13 09:02] znarf commented on #2794
I think a good enough mitigation would be to always update the Members table with the latest Tier. What do you think @Betree ?

[2020-01-13 09:07] #2787 closed

[2020-01-13 09:20] Betree commented on #2794
This was supposed to be fixed by https://github.com/opencollective/opencollective-api/pull/3060. I'll check why it didn't work.

[2020-01-13 09:22] Betree commented on #2799
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-01-13 09:26] znarf opened #2801 "Small misuse of setState through the codebase"
Looking at [React documentation of setState](https://reactjs.org/docs/react-component.html#setstate), one can read that:

However, in almost all our usage we're passing the previous state using object destructuring.

[code]

This is not necessary and it's giving a wrong understanding of the semantics of `setState`.

I suggest we update all occurrences across the frontend code base.

[2020-01-13 09:30] znarf commented on #2794
@Betree maybe the problem occurred before the fix

[2020-01-13 09:35] Betree commented on #2794
Actually the tier is correct: contributor used to contribute through `Donation` (which is not a tier) - member 39458. When contributor switched to monthly, they used the `Backer` tier (member 68879).

So the question is about the `isActive` flag. `isActive` is always true for one-time contributions. The fact that it is false for `backer` on the other hand seems to be a bug: a recurring tier is nor

[2020-01-13 09:43] joshikeno commented on #2799
@Betree I would like to work on this issue.

[2020-01-13 09:56] znarf opened #2802 "Update handlebars to version 4.7.1"
See: https://github.com/opencollective/opencollective-api/pull/3176

`handlebars` has some breaking changes in version 4.6, this is related to security issues.

See the [comment](https://github.com/opencollective/opencollective-api/pull/3157#issuecomment-572977373) from @Betree:

And the [follow up comment](https://github.com/opencollective/opencollective-api/pull/3157#issuecomment-573109148) from

[2020-01-13 10:09] Betree opened #2803 "Multiple expense's attachments: prepare the data model (batches)"
## User story
As part of the [expense flow re-design project](https://github.com/opencollective/opencollective/issues/2394), users will be able to add multiple attachments to a single expense. Each attachment has its own amount, date and title. The sum of the attachments **must** match the amount of the expense.

![image](https://user-images.githubusercontent.com/1556356/72246384-db8c8a80-35f2-11e

[2020-01-13 11:36] piamancini commented on #2366
LGTM thank you @Memo-Es

[2020-01-13 12:43] kewitz commented on #2662
@znarf I implemented Downgrade and Upgrade based on the tier price.
The prevention of downgrade based on usage will require us to include plan limits in the tier meta-data.

[2020-01-13 12:49] znarf commented on #2662
@kewitz let’s do it ?

[2020-01-13 13:25] znarf commented on #2801
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-01-13 13:26] znarf commented on #2801
No bounty in the end, too simple :-)

[2020-01-13 13:30] Betree commented on #2366
LGTM too. Let's acknowledge that the contact address is meant to be re-added as soon as we resolve the SPAM issue.

[2020-01-13 13:54] kewitz commented on #2662
On it.

[2020-01-13 14:04] brymut commented on #2746
So far, I have been able to come up with the following solution, passing error messages from state gathered from failed props.refetch() or the Record as paid and Pay with paypal. Hopefully as expected.

<img width="542" alt="Desktop solution" src="https://github.com/brymut/github-gifs/blob/master/opencollective_opencollective_2746(1).jpg?raw=true">

<img width="542" alt="Mobile solution" src="http

[2020-01-13 14:09] Betree commented on #2746
@brymut looks good to me! A `withIcon` on `MessageBox` and a small margin-bottom (`mb={2}`?) would be perfect

[2020-01-13 14:20] kewitz commented on #2755
Hi @alanna, can you confirm this solves your issue?
https://opencollective.com/opensource#section-contributors

[2020-01-13 14:42] znarf commented on #2776
Took care of that.

[2020-01-13 14:42] #2776 closed

[2020-01-13 15:25] xdamman commented on #2366
As discussed in the weekly design call, let's remove the switch to activate conversations as they will be activated by default.
Let's also replace the github field with a facebook one for non open source projects (we can tell by their tag if they picked something else than open source on the first screen)
![](https://d.pr/free/i/abHRPa+)

(can we have an illustration for that?)

[2020-01-13 15:27] #2780 closed

[2020-01-13 16:25] Betree commented on #2366
@xdamman Actually there was already an issue for the SPAM problem, it was just not public: https://github.com/opencollectiveinc/opencollective-security/issues/28

[2020-01-13 16:34] xdamman opened #2804 "CSS issue in the contribution flow (new org)"
![](https://d.pr/free/i/SktfJa+)
I guess the title "A New Organization" should not be in a column but on top no?

[2020-01-13 16:53] #2758 closed

[2020-01-13 17:00] Betree commented on #2804
That's for the signup. As per design:

![image](https://user-images.githubusercontent.com/1556356/72275493-558e3500-362e-11ea-8e65-6443658ca5ac.png)

[2020-01-13 17:40] joshikeno commented on #2799
- [ ] For addresses, one can use `https://osmnames.org/api/` or `https://openaddresses.io`
- [x] A simple iframe (see `export > html` on OSM) will replace the map
- [x] Replacing the Apple link is the easiest

<img width="1296" alt="Screenshot 2020-01-13 at 18 27 57" src="https://user-images.githubusercontent.com/29008971/72278351-1ebb1d80-3634-11ea-9d9f-548c4247ab98.png">

[2020-01-13 17:43] xdamman opened #2805 "CollectivePage: Don't show 'hibernating' if organization has subcollectives"
We shouldn't show "Fridays for Future seems to be hibernating in a cave in the North Pole ❄️☃️!"
![](https://d.pr/free/i/jlEgAa+)

More generally, we shouldn't show empty sections. There shouldn't be "Contributions" nor "Transactions" in the menu and on the page if there is nothing to show. Those should only show if you are logged in as an admin (both for organizations and collectives)

[2020-01-13 17:51] xdamman opened #2806 "CSS issue: hovering on links in rich text editing make them disappear"
Both in published or editing mode, hovering over a link make them turn into a super light blue that is almost impossible to see (at least for a colorblind person like me)
![](https://d.pr/free/i/P1CDc9+)

See https://opencollective.com/allforclimate

[2020-01-13 17:51] Betree opened #2807 "GraphQL query to fetch collective's features"
## Motivations

- **NavBar**: We [recently improved](https://github.com/opencollective/opencollective-frontend/pull/3307) the sections displayed for each collective. But the current conditions are not perfect: for example we want to keep showing the `Contribute` section for collectives without hosts if they have an event or subcollectives. **But** we don't want to fetch tons of data in all pages t

[2020-01-13 17:52] Betree commented on #2805
`These Collectives are part of our Organization` is part of `Contributions`, so it's normal to have it there. Sections handling will be handled in https://github.com/opencollective/opencollective/issues/2807, let's keep this one about the `Hibernating` thing.

[2020-01-13 17:59] #2804 closed

[2020-01-13 18:01] xdamman commented on #2805
I'd not show this message in all cases if you are not logged in as an admin. It's quite a negative message to show publicly.
If you are logged in, I'd rather say something such as "Connect a fiscal host and define different tiers to enable financial contributions" (with a link to the fiscal host section in the collective settings)

[2020-01-13 18:06] Betree commented on #2799
@joshikeno looks good! Can we add a pin on the address, like the one we had on Google maps?

![image](https://user-images.githubusercontent.com/1556356/72280048-ba01c200-3637-11ea-99df-afb62d9e714d.png)

[2020-01-13 18:11] #2805 closed

[2020-01-13 18:24] joshikeno commented on #2799
@Betree position marker doesn't show up within the iframe.

[2020-01-13 18:53] #2806 closed

[2020-01-13 18:55] joshikeno commented on #2799
`InputTypeLocation`  makes use of [`react-geosuggest`](https://github.com/ubilabs/react-geosuggest) for addresses.

I haven't seen a good implementation using either `https://osmnames.org/api/` or `https://openaddresses.io`

[2020-01-13 19:01] Betree commented on #2799
Check https://gis.stackexchange.com/a/180723

Feel free to build your own component. `StyledSelect` or `react-select`'s async (https://react-select.com/async) can help you to do this.

[2020-01-13 20:23] piamancini commented on #2417
@Memo-Es can you add latest approved design and copy here?

[2020-01-13 20:27] piamancini commented on #2366
@Memo-Es please don't block this on the climate illustration - put a placeholder please when this is ready for us to start production so we can move faster. Illustrations are taking quite a while. Thanks!

[2020-01-13 20:29] piamancini commented on #2793
@xdamman that's a separate issue from this one. Open one specifically for that as a project if you think you want to work on that. Thanks!

[2020-01-13 20:50] kewitz commented on #2803
Moreover, I think a method for getting the total expense based on attachments might also be desirable.

[2020-01-13 20:53] Memo-Es commented on #2417
### Latest design update
@piamancini @xdamman
![fixed](https://user-images.githubusercontent.com/49539954/72291027-194ddb00-3614-11ea-8c2e-f5971ba27f06.jpg)

- **[Features section prototype:](https://www.figma.com/proto/bOkmWlsYxP9qA15z85lzgHQ2/OC.COM-01-Homepage?node-id=1485%3A958&viewport=409%2C923%2C0.3412298262119293&scaling=min-zoom)**
- **[Google doc with the copy](https://docs.google.com/do

[2020-01-13 21:28] alanna opened #2808 "Host admin can export Collective data CSV"
## User story
As a host admin, I want to be able to export data about my host (similar to the data export feature we offer Collectives), so that I can effectively own my data and use it for communication, administration, etc.

## Best solution for this problem
A data export option similar to what we currently offer Collective admins, which exports a CSV list of the host's Collectives with the foll

[2020-01-14 00:48] alanna commented on #2722
Admins should be able to add/remove tags to any Conversation in their Collective. Just tried to help organise some tags and realised I didn't have permissions.

[2020-01-14 01:43] leonardohof commented on #2754
@Betree A card by collective means it?
![image](https://user-images.githubusercontent.com/294406/72306490-022fdd00-3656-11ea-9445-bdce1c3391ea.png)

[2020-01-14 02:08] alanna commented on #2755
Yes looks great!

[2020-01-14 03:07] alanna commented on #2417
Looks great!

Just a few copy changes....
* Watch explanatory video > Watch: 2 min explainer video
* Discover more **C**ollectives, Create a **C**ollective  (capital C)
* Not only does our platform help you be transparent > Transparency is key to our product *and* our company
* Subscribe **to** our newsletter

[2020-01-14 07:34] Betree commented on #2754
@leonardohof absolutely

[2020-01-14 08:21] znarf opened #2809 "Update styled-components to version 5.0.0"
We have a policy to try to use the latest version of our dependencies in all repositories.

In the Frontend, we're currently using the version 5.0.0-beta.8 of `styled-components` and the upgrade to version 5.0.0 is breaking E2E tests.

Check failing PR: https://github.com/opencollective/opencollective-frontend/pull/3335

We want to:
- [x] upgrade the package
- [x] make sure the test are passing

[2020-01-14 08:37] #2460 closed

[2020-01-14 08:43] #2793 closed

[2020-01-14 09:04] phongbuigk opened #2810 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/git-quick-stats/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36`

# Technical details

[code]

[2020-01-14 09:07] Betree commented on #2810
Hi, thanks for opening this issue. Unfortunately we need more details about how this happened and how to reproduce to be able to take care of it. Please let us know if you have any other information.

[2020-01-14 09:07] #2810 closed

[2020-01-14 09:16] piamancini opened #2811 "Include un-allocated pre-paid budget amount on the host report"
## User story
As host admin I want to know how much funds I am holding for organizations as pre-paid bulk payments that haven't been spent yet.

## Best solution for this problem
A line item in the host monthly report

[2020-01-14 10:23] Betree opened #2812 "Edit conversations tags"
## User story
As a collective admin or as the creator of the conversation, I can edit the tags for it after it's created.

## Best solution for this problem
Add a edit button on the top right of the tags, on the conversation page. Best would be to use the `InlineEditField` so that we keep the styles consistent. When clicked, replace the tags list by a `StyledInputTags` with `Save` / `Cancel` butto

[2020-01-14 10:23] Betree commented on #2812
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-01-14 10:33] Betree commented on #2811
Query will be added in https://github.com/opencollective/opencollective-api/pull/3202

The goal of this issue is to use this query to add a new section in https://github.com/opencollective/opencollective-api/blob/3bc1b7ac8a7aceb68a8a30ce60ce08d3bc3eda95/templates/emails/host.report.hbs:

[2020-01-14 10:54] Betree opened #2813 "Use the design system for the changelog"
The [changelog](https://changelog.opencollective.com) setup by @flickz on https://github.com/opencollective/opencollective-changelog is great. A simple way to make it look better without an input from design would be to use the design system.

Because we don't use a monorepo, sharing the code is not very straightforward.
We have three options to do it:
- Copy/paste the theme and components (:cry:)

[2020-01-14 11:00] joshikeno commented on #2812
@Betree working on this.

[2020-01-14 11:07] znarf commented on #2782
🏆 This issue was completed by @CanerSezgin

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

Note: because the complexity was simpler than expected, I'll kindly ask you to jump in

[2020-01-14 11:07] #2782 closed

[2020-01-14 11:08] Betree commented on #2812
@joshikeno I'm deploying https://github.com/opencollective/opencollective-api/pull/3201 to staging now so that you'll have the API ready

[2020-01-14 11:13] #2755 closed

[2020-01-14 11:15] joshikeno commented on #2812
@Betree It would be nice if `testuser` -> `testCollective` has most features enabled by default.
What do you think?

[2020-01-14 11:22] Betree commented on #2812
@joshikeno which features?

[2020-01-14 11:50] chmac commented on #2795
@xdamman One of the ideas I've pitched is to run events this way. Rather than using the "low income ticket" option which is common at burns. There's always a tension around how much each participant contributes, what is appropriate, and so on. My suggestion was to run events like so:

* We have capacity for 500 people, so there are 500 spots
* Our minimum budget for the whole event is €22'500
* Ea

[2020-01-14 12:40] joshikeno commented on #2812
I was wondering why the conversation section wasn't enabled by default and thought there was a special reason until I referenced the documentation.

[2020-01-14 13:01] Betree commented on #2812
Yep, conversations are enabled per default for new collectives

[2020-01-14 13:03] Betree commented on #2722
@alanna it's still not possible to edit the tags of an existing conversation, will be tackled in https://github.com/opencollective/opencollective/issues/2812. We'll make sure that collective admins can edit them.

[2020-01-14 13:04] #2789 closed

[2020-01-14 13:05] Betree commented on #2789
:trophy: This issue is now completed by @JoyLubega

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-01-14 13:59] piamancini commented on #2811
thanks! also cc @alanna

[2020-01-14 16:12] jamesgeorge007 opened #2814 "Any plans to bring up the opencollective-cli?"
Had a discussion with @znarf -> https://github.com/opencollective/opencollective-frontend/pull/3226#issuecomment-574117791

If you guys are willing to revamp the codebase and release it under the name `@opencollective/cli`, I would be more than happy to the take the lead :+1:

Open to discussion :loudspeaker:

[2020-01-14 16:16] znarf commented on #2814
Thank you for bringing that up! We would first need to figure what is the demand for such project.

What would be the goal of this tool? What people would want to use it for? What would that enable?

Let's check what the team and the community think.

[2020-01-14 17:33] kewitz commented on #2662
Pending from QA:
- [ ] Validate current plan limits when assigning collectives to own host.
- [ ] Disable "Receiving Money" on Payment Methods when plan.manualPayments is false.

[2020-01-14 20:37] alanna opened #2815 "Turn on the tax form system for other hosts"
The tax form system is currently only active for OSC host. However, we actually have the same need for OC Inc host (currently having to do a bunch of manual work to chase tax forms for 2019) so it would be great if we could use the automated tax form system for 2020.

What would be required to activate this feature for hosts besides OSC, starting with OC Inc host (and ideally Foundation too)?

I s

[2020-01-14 20:38] alanna commented on #2815
As an aside, I think this is an other strong contender for a paid feature for upgraded host plans. It's a huge value add for fiscal hosts who are heavy users of the platform - @piamancini

[2020-01-15 08:29] Betree commented on #2799
I just contacted https://www.maptiler.com to ask clarification about their usage limits and to know if we qualify for a free plan. Let's wait for their answer before finishing the implementation.

[2020-01-15 09:36] Betree opened #2816 "Cypress tests: get rid of all "force: true""
In our cypress tests, we have a lot of `cy.get('...').click({ force: true })`. While sometimes desirable, we should avoid it as much as possible because it doesn't test the following cases:

- Ensure the element can be scrolled to.
- **Ensure the element is not hidden.**
- **Ensure the element is not disabled.**
- Ensure the element is not detached.
- Ensure the element is not readonly.
- Ensure t

[2020-01-15 09:37] Betree commented on #2816
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-01-15 11:29] znarf commented on #2662
New round of feedback after review with @piamancini:

- [ ] Add free plan in the pricing table
- [ ] Re-introduce "single host plan"
- [ ] Add "Network Plan" / Contact Us as 6th plan (optional, but it will look better if we have 2 lines)
- [ ] Move plans on a layout of 2 rows, three columns on regular screen (maybe stop using <table>)
- [ ] Border or Background for current plan instead of grey (se

[2020-01-15 12:25] xdamman opened #2817 "Wrong page metadata for conversation page"
When sharing on social media the url of a conversation, the title of the page should reflect the topic of the conversation

Example: https://opencollective.com/xr-namur/conversations/amende-de-eur61-du-service-public-de-wallonie-pour-xr-affiche-a56da67b

See result on facebook: https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fopencollective.com%2Fxr-namur%2Fconversations%2Famende-de-eu

[2020-01-15 15:42] Betree commented on #2799
Update from Maptiler:

So we're gonna skip the geocoding part for now because our usage (probably ~500 requests/month) doesn't justify paying $20/m. Also this is not the part where privacy is the most impacted, only the event organizer use that part of the code (while maps are displayed for everyone).

[2020-01-15 15:52] Betree opened #2818 "Zeit deployments previews unresponsive API"
**Describe the bug**
Pre-deploys generated by Zeit are randomly stuck and the API calls timeout. Pages usually show a loading spinner then an `The Open Collective Server is momentarily unreachable` error. I personally rely a lot on them for testing contributor's PRs and often have to re-deploy manually.

**To Reproduce**
Example: https://opencollective-frontend-adlzxrjqdz.now.sh/babel

Steps to re

[2020-01-15 15:55] Betree commented on #2818
At first view it looks like a DNS issue on Zeit's side. May be worth escalating the issue.

[2020-01-15 16:35] #2475 closed

[2020-01-15 16:36] Betree commented on #2417
@Memo-Es What's the behavior when clicking on "Watch video", does it opens a modal?

[2020-01-15 17:07] Betree opened #2819 "Shouldn't be able to submit expenses on archived collectives"
When looking at the pages for an archived collective, it's still possible to submit expenses:
- The [collective page](https://staging.opencollective.com/up-we-rise) has a button for it
- The expense(s) pages have a button for it
- The [form](https://staging.opencollective.com/up-we-rise/expenses/new) to submit expenses is still active

![image](https://user-images.githubusercontent.com/1556356/724

[2020-01-15 17:07] Betree commented on #2819
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-01-15 17:18] daud1 commented on #2819
I would like to have a go at this.

[2020-01-15 17:33] Betree commented on #2819
@daud1 All right, initial time limit is 1 week. This can later be extended if there is demonstrable progress. Good luck!

[2020-01-15 18:13] kewitz commented on #2662
@znarf what should we do with the button on the `Free` plan?

[2020-01-15 19:35] kewitz opened #2820 "Low quality avatar picture"
**Describe the bug**
I'm not sure if the image is just low quality or if it is being stretched.
The image seems to look good when it is used as 64x64, but in the Hero avatar, there's a noticeable drop in quality which suggests the image might be stretched.

**Screenshots**
You'll need to open these images and zoom to 100%.
![image](https://user-images.githubusercontent.com/2119706/72464623-69fc3a0

[2020-01-15 19:55] znarf commented on #2662
@kewitz not much choice, no button for now I think

[2020-01-15 21:26] alanna opened #2821 "Allow hosts to charge different fees per Collective"
## User story
As a host admin, I want to specify different fees for different Collectives in my host, so that I can manage both internal projects (who I don't want to charge a fee to) and offer fiscal hosting services externally (which I do want to charge for).

## Best solution for this problem
Probably would need a "Collectives" tab on the host dashboard that lists some settings hosts define per

[2020-01-16 04:40] Memo-Es commented on #2417
@Betree Yes, a modal window with the video

[2020-01-16 09:26] piamancini commented on #2662
Manual Payments Tooltip: _Your contributors create a pending donation and receive email instructions with your bank details. You can reconcile the donation when you receive it_

Updating docs to use until pricing page is done: https://docs.opencollective.com/help/about/pricing

[2020-01-16 10:22] Betree commented on #2394
@Memo-Es As users can now save multiple payout options, they should also have a way to remove them (can be as simple as a cross mark next to each item in the select, but it's important that they can do it).

[2020-01-16 10:31] Betree opened #2822 "Multiple payout methods per collectives"
## User story
As a contributor, I can save multiple payout methods linked to my collective(s) and user profiles to be used when submitting an expense.

## Best solution for this problem
As part of the [new expense flow](https://github.com/opencollective/opencollective/issues/2394), users will see a list of payout methods. While we still need to define ways for users to edit them, we can already pr

[2020-01-16 11:39] Betree opened #2823 "Expense tags"
## User story
As part of https://github.com/opencollective/opencollective/issues/2394, we want users to be able to add multiple tags when they submit an expense, and not just a single category.

![image](https://user-images.githubusercontent.com/1556356/72521700-37a61780-385c-11ea-9604-1c32022e27d9.png)

## Best solution for this problem
Full ability to add and remove tags on expenses.

## MVP
The

[2020-01-16 13:36] kewitz commented on #2662
Sice Network will be a "Contact Us" button, can I soft-delete the Network tier in production?

[2020-01-16 13:51] piamancini commented on #2662
@kewitz what would the path to contact us be?

[2020-01-16 14:26] kewitz commented on #2662
@piamancini `mailto:support` as of now, super MVP but my current problem is consistency.
I think we should either have _Network_ as a tier that has a price and can be self-subscribed or it shouldn't be directly accessible from the collective page (hence soft-deleting it).

[2020-01-16 14:50] znarf commented on #2662
Please delete @kewitz

[2020-01-16 14:53] piamancini commented on #2662
agreed.

[2020-01-16 15:26] piamancini commented on #2662
had a good chat with a host just now (netsquared). Their feedback is that pricing looks good and fair. Only thing for them is that sometimes a collective leader leaves and they spend a long time recruiting a new one. (Their collectives are meetups in cities). All that time, they feel like it's unfair to count the collective in the host collective count, they'd like a way to 'deactivate' collective

[2020-01-16 18:14] Betree commented on #2799
:trophy: $200 bounty completed by @joshikeno

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-01-16 18:15] #2799 closed

[2020-01-16 18:18] Betree commented on #2799
Though the last part (geosuggest) wasn't implemented because Maptiler's API didn't fit, a custom address component was created in https://github.com/opencollective/opencollective-frontend/pull/3356. To anyone revisiting this issue: feel free to use this work to replace `react-geosuggest`.

[2020-01-16 19:39] Betree commented on #2662
@piamancini Maybe archiving is the solution? We could omit the archived collectives from the count. They can then re-activate the collectives when they want, only drawback is that they'll need to empty the collective balance before archiving.

[2020-01-16 23:53] kewitz commented on #1429
@alanna I've been going through Stripe and TransferWiser docs and I think there's room for some improvements:

**Payout from Stripe**
Assumptions: The user submitting the expense has a TransferWise account with a mirror account that matches the host's currency.
1. We create a custom account through Stripe connect for the user in the host's Stripe.
2. We use the API to create manual payouts for tha

[2020-01-17 03:07] alanna opened #2824 "Make event title on expenses page a link to the event"
The event title on the expenses page is plain text. It should be a link to the event page. The same goes for the transactions page.

![Screen Shot 2020-01-17 at 4 04 35 PM](https://user-images.githubusercontent.com/5498878/72581167-4adfe280-3943-11ea-8676-ecd2295264b3.png)

[2020-01-17 08:16] #2754 closed

[2020-01-17 08:17] Betree commented on #2754
:trophy: This issue is now completed by @leonardohof

To claim the $200 bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-01-17 08:52] Betree commented on #2824
@znarf shouldn't we display the new navbar on this page?

[2020-01-17 08:53] znarf commented on #2824
@Betree definitely

[2020-01-17 09:52] xdamman opened #2825 "Conversations: permalink to a particular response"
I want to be able to share a direct link to a given response (e.g. https://opencollective.com/xr-namur/conversations/amende-de-eur61-du-service-public-de-wallonie-pour-xr-affiche-a56da67b). Can we make the timestamp link to the full url with the anchor hash?

[2020-01-17 10:07] Betree opened #2826 "Use the new collective navbar on event's expense page"
We want to migrate the `CollectiveCover` on event's expense page (`/:eventSlug/espenses`) to the new `CollectiveNavbar`.

![image](https://user-images.githubusercontent.com/1556356/72603471-5cac9000-3919-11ea-946b-c03554ab234b.png)

[2020-01-17 10:07] Betree commented on #2824
Closing in favor of the new https://github.com/opencollective/opencollective/issues/2826

[2020-01-17 10:07] #2824 closed

[2020-01-17 10:32] piamancini commented on #1429
What's interesting here is that GitHub is using this same mechanism to pay groups in their Github Sponsors Program. So many of them will have a double interest in setting this up.
@devonzuegel can you please confirm if this is just for the organizations program or it's also for individual maintainers?

Also that we are already set up with stripe to receive payments and we use connected accounts.

[2020-01-17 10:41] xdamman opened #2827 "Reduce max image size in updates when shown on collective page"
See https://opencollective.com/testcollective#section-updates
![](https://d.pr/free/i/At7ebX+)

[2020-01-17 10:47] xdamman opened #2828 "Wrong metadata for update page"
Related to #2817

Sharing an update on social media doesn't show the right title / description for the page.
It should use the title of the update and the first sentences of the text.

See https://opencollective.com/rebelsmanager/updates/january-update
Facebook url parser: https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fopencollective.com%2Frebelsmanager%2Fupdates%2Fjanuary-update
![]

[2020-01-17 11:17] sentry-io[bot] opened #2829 "Pricing page error: redeclaration of const accordion"
Sentry Issue: [OC-FRONTEND-17Y](https://sentry.io/organizations/open-collective/issues/1446144198/?referrer=github_integration)

[code]

Introduced in https://github.com/opencollective/opencollective-frontend/pull/3195.

=> The variable should not be in the global scope.

[2020-01-17 11:41] staltz commented on #2722
Quick question: can Conversations be limited to collective contributors only? If not, could that be a potential next feature? I'd like to use it gather feedback from the collective's community, but not from outside.

[2020-01-17 12:20] Betree commented on #2722
@staltz it's not possible at the moment, but that could be a good feature indeed.

To better understand your use case:
- Would the conversations be publicly visible (and only contributors can comment) or should they be hidden unless you're a contributor?
- Do you see it as a global setting (all conversations for a collective are private) or as a per-conversation setting (some conversations are pub

[2020-01-17 12:30] staltz commented on #2722
Thanks for the quick reply! To answer your two questions: I'd prefer all conversations to be publicly visible, but as a global setting, only contributors can comment. Maybe also a global setting to make the conversations only visible to contributors too, that sounds easy to build.

[2020-01-17 13:18] znarf commented on #2722
I like the idea of limiting posts to contributors while keeping discussions public (as an option). Generally, I don't like much when we make data private because it's in our DNA to have most things public. Of course, this can still be considered if there is strong demand for it.

[2020-01-17 13:59] xdamman opened #2830 "Easy url to discover collectives by tag"
https://opencollective.com/discover?tag=climate doesn't work but https://opencollective.com/discover?tag=climate&offset=0&show=climate does. Either way, it's not an easy to remember url.

Would be great to have two sugars
- `https://opencollective.com/discover/:tag`
- `https://opencollective.com/tags/:tag` (more obvious, we could eventually have /tags to show a list of the most popular tags)

[2020-01-17 13:59] kewitz opened #2831 "Unhandled Rejection during test"
**Describe the bug**
We're getting an Unhandled Rejection from sequelize during our CI tests:
https://github.com/opencollective/opencollective-api/runs/394839067#step:9:34

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check out any test output in GitHub actions.

**Expected behavior**
We shouldn't have any unhandled rejection.

[2020-01-17 15:24] Betree commented on #2830
`tag` is not the correct parameter, it's `show`.
https://opencollective.com/discover?show=climate works properly.

I really think that we should avoid duplicating URLs:
- It's bad for SEO
- It adds complexity (need to set a `canonicalURL`, pass the parameter in links)
- It may be confusing for users and devs (what's the differences between these two routes?)
- It will not play nice with the new Ne

[2020-01-17 16:14] Betree opened #2832 "Collective's "Edit" menu categories"
The menu on `/{collective}/edit` is getting big and https://github.com/opencollective/opencollective-frontend/pull/3222 is going to introduce a new section for host settings, separated from the rest. I think it would add clarity to group the entries in categories. That may also help if we want to simplify the mobile version.

## Best solution for this problem

Add categories to separate entries (`

[2020-01-17 16:14] znarf commented on #2831
Would be interesting to see when that was introduced. Was not there a few weeks ago.

[2020-01-17 18:11] #2455 closed

[2020-01-17 19:26] kewitz commented on #1429
They do, with borderless accounts.

The fundamental difference is: are we pushing for hosts or users to have a TW account?

[2020-01-17 20:16] IzzySoft commented on #1429
If it's possible to deal with that host-based (and users only need the bank account they usually already have), that would be much preferred by us tin-foils (I didn't yet look up TW – but I definitely wouldn't create a PayPal or Stripe account, for example). Users who want this could then chose an instance supporting it, without having to open their own 3rd party account – only to store their "ban

[2020-01-18 22:11] sathit9999-Box opened #2833 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/privacytoolsio/donate while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (Linux; Android 9; JKM-LX2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.116 Mobile Safari/537.36`

# Technical detai

[2020-01-18 22:12] sathit9999-Box commented on #2833
edick

[2020-01-19 02:50] RythmosAdvisory opened #2834 "Europe's #1 ethical hacking and bug bounty platform"
For researchers, by researchers.

That's how the intigriti platform was built. We take great pride in our personal approach.

Join us today to get private program invites and start turning your hacking skills into bounties.

https://login.intigriti.com/account/register
Intigriti is an ethical hacking platform for bug bounty and responsible disclosure.

Create your account and start finding vulnera

[2020-01-19 04:36] phunnpd opened #2835 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/opencollective/donate? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux armv8l
- Browser: `5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.116 Safari/537.36`

# Technical details

[code]

[2020-01-19 14:27] victorb commented on #2035
AFAIK, this is still missing. https://github.com/opencollective/opencollective/issues/2725 seems to be touching "Automatic invoices" but not in the same sense as mentioned here (via API endpoints, not UI).

Could be that this issue (#2035) gets solved once the new UI work begins, and endpoints gets created to support the UI work?

[2020-01-20 08:17] #2833 closed

[2020-01-20 08:17] #2835 closed

[2020-01-20 08:43] znarf commented on #2528
This is being fixed.

[2020-01-20 09:02] #2801 closed

[2020-01-20 09:18] piamancini commented on #2528
@znarf we can close this one was we make this change.

[2020-01-20 09:30] Betree commented on #1862
These kind of "integration" issues should, in my opinion, be implemented through Zapier.

Having a more powerful integration with Zapier that allows interactions with Open Collective's API would solve this in a very simple way, while allowing tons of other integrations for free. No need to create custom resolvers, email forwarding addresses...etc all we need to implement this is **the ability to c

[2020-01-20 09:36] Betree commented on #2035
Pasting the comment I made [here](https://github.com/opencollective/opencollective/issues/1862#issuecomment-576185849) cause is also applies here:

These kind of "integration" issues should, in my opinion, be implemented through Zapier.

Having a more powerful integration with Zapier that allows interactions with Open Collective's API would solve this in a very simple way, while allowing tons of o

[2020-01-20 10:27] znarf commented on #2820
@Betree what do you think?

[2020-01-20 10:55] kewitz commented on #2820
Fixed here: https://github.com/opencollective/opencollective-frontend/pull/3365.

[2020-01-20 10:58] #2820 closed

[2020-01-20 11:12] joshikeno commented on #2831
I will look into this

[2020-01-20 13:33] #2489 closed

[2020-01-20 13:57] joshikeno commented on #2831
@kewitz can we re-run this test.
I can't find similar error in the recent CI logs and I can't replicate this locally.

[2020-01-20 16:23] kewitz commented on #2831
@joshikeno apparently this only happens (or is logged) in GitHub actions.
https://github.com/opencollective/opencollective-api/runs/399034225#step:9:21

[2020-01-20 16:48] joshikeno commented on #2831
@kewitz this rabbit whole is quite deep.

https://github.com/sequelize/sequelize/issues/4708
https://github.com/sequelize/sequelize/issues/10366
https://github.com/sequelize/sequelize/issues/7826

[2020-01-20 17:31] joshikeno commented on #2831
@kewitz what are your thought on the root of this issue?

[2020-01-21 00:31] kewitz opened #2836 "[Project] TransferWise Automated Payout"
TransferWise has a straight-forward API implementation that allows Business Accounts to quote, create and fund transfer to anyone in the supported countries. For Europe, it already uses SEPA for supported countries.

They use quotes because their fee varies a bit, depending on the country of source and destiny. Quotes also contain the exchange rate, if you're transferring to another currency. Quot

[2020-01-21 10:12] piamancini commented on #2836
Love it!

[2020-01-21 10:41] Betree commented on #2836
Seems like they also have webhooks that we may want to implement to react faster. But we should definitely have a worker, as a webhook can eventually fail.

[2020-01-21 11:16] Betree commented on #2812
:trophy: This issue is now completed by @joshikeno in https://github.com/opencollective/opencollective-frontend/pull/3345

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

[2020-01-21 11:16] #2812 closed

[2020-01-21 16:33] kewitz commented on #2836
@Betree and @znarf, related to the security of TransferWise tokens:
TransferWise allows you to protect a token by whitelisting IP's, I suggest we use https://elements.heroku.com/addons/fixie on production for TransferWise requests but will add to fixed monthly costs.
Any opinions on this?

[2020-01-21 16:40] znarf commented on #2836
@kewitz Good to know for the IP, but not sure yet we want to have a dedicated IP for our backend API.

[2020-01-21 16:44] kewitz commented on #2836
@znarf it is a fixed IP proxy service, it is only used for specific outbound traffic.

[2020-01-21 16:48] znarf commented on #2836
@kewitz oh, sorry, makes more sense then!

[2020-01-21 16:56] znarf commented on #2831
We'll handle that internally.

[2020-01-21 17:33] Memo-Es commented on #2366
The document for copy editing is online @alanna can you help me check it?
https://docs.google.com/document/d/1_ScKV5EKtlO-hkEuXln6fgAStWxAbV6pD1PqLaSrTPE/edit?usp=sharing

I will upload the updated prototype once Cuiki finish giving maintenance to some buttons in the design system we are using inside the flow

[2020-01-21 18:13] Betree commented on #2746
:trophy: This issue is now completed by @brymut

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

For more info about the bounty process and how to format your invoice, ple

[2020-01-21 18:13] #2746 closed

[2020-01-21 23:33] alanna opened #2837 "Unable to add Collective to host"
I created this Collective: https://opencollective.com/scuttlebutt-grantwriting

I want to add it to this host: https://opencollective.com/protozoa

I am an admin of both.

There seems to be no way to do it. There's no "apply" button visible to me on the Protozoa page. How do I add the Collective to the host?

[2020-01-22 08:11] znarf commented on #2837
1) https://opencollective.com/scuttlebutt-grantwriting -> Edit
2) Host
3) "Use my own host"
4) Organization -> Protozoa

[2020-01-22 08:17] Betree commented on #2837
The org has `settings.apply` to `true`, so this seems related to the host plan: https://github.com/opencollective/opencollective-api/blob/a6531bab4dac2833ebf3f894fa539b17b87f66fb/server/models/Collective.js#L914

[2020-01-22 08:18] CanerSezgin commented on #2823
@Betree for creating new column and moving values from one column (category) to new one, I have created a migration file and wrote the SQL script inside and run migrate comment on shell.
Db updated as expected but I couldn't make sure whether this is the correct way or not. I mean I couldn't see any docs etc for DB related developments and also don't know whether you have an ORM that can generate

[2020-01-22 08:24] Betree commented on #2823
@CanerSezgin we use sequelize, migrations are in the API's `migrations` folder if you want to look at it.

However we prefer to handle developments for the new expense flow internally (you can recognize them as they're part of the `Expense flow` project), I should have self-assigned this issue. Thanks for jumping in, feel free to look at the other issues to find something more suited

[2020-01-22 08:24] znarf commented on #2837
@Betree I was assuming `settings.apply` was not set, will have a look.

[2020-01-22 08:24] alanna commented on #2837
@znarf  those steps worked but I never would have figured that out on my own. I was clicking "use existing host" and getting stuck.

When I try to add it to Protozoa, I get the error "Host is already hosting the maximum amount of collectives its plan allows" but there's no option to edit my plan? This needs to link to where I can do that or I'm stuck.

[2020-01-22 08:38] znarf commented on #2837
@alanna Thank you for the feedback, we're gonna improve.

- apply button will be visible all time whatever the limits
- but will be disabled if host is over limit
- better error management in the collective "Host" panel

Otherwise, Protoza is currently in the "Legacy Single Host Plan + unlimited Added Funds" and effectively needs an upgrade to to host more than 1 collective.

[2020-01-22 08:59] CanerSezgin commented on #2823
Oh sorry about that, I should have asked before starting you are right.
At least let me write it down what I've done up to now, it's not a big deal but maybe you may want to use it.

**migrations/20200121195818-expense-tags.js**
[code]

[2020-01-22 10:12] #2837 closed

[2020-01-22 10:35] Betree opened #2838 "Rich text editor: add support for text alignment"
The only place where we're not using the `RichTextEditor` yet is the **Updates** feature. Though the change would be fairly easy, we'd lost a feature on the way: the ability to align text.

![image](https://user-images.githubusercontent.com/1556356/72886715-9959fc00-3d0a-11ea-83ba-1c13fbb47b37.png)

This feature is [used today](https://user-images.githubusercontent.com/1556356/72886762-b1ca1680-3d

[2020-01-22 10:37] Betree opened #2839 "Move updates to the new `RichTextEditor`"
Related to https://github.com/opencollective/opencollective/issues/1805

**Updates** is the last feature that still uses the `MarkdownEditor` (through `HTMLEditor`). We want to migrate it to the new editor, so that we have only one to maintain.

Paths that need to be migrated to `RichTextEditor`:
- `/{collective}/updates/new`
- `/{collective}/updates/:updateSlug` (the "edit" mode)

We must also re

[2020-01-22 10:41] #2819 closed

[2020-01-22 10:53] Betree commented on #2819
:trophy: This issue has been completed by @daud1

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

---

@daud1 We also added you to https://github.com/orgs/opencollective/teams/

[2020-01-22 11:54] znarf commented on #2837
<img width="1098" alt="Capture d’écran 2020-01-22 à 12 54 03" src="https://user-images.githubusercontent.com/806/72892234-500fa980-3d16-11ea-87b1-d72906985917.png">

[2020-01-22 14:55] xdamman opened #2840 "Email address for the collective"
One of the first things that collectives outside of the open source community do is to register for a gmail address so that people can contact them.

That’s not true for the open source community, most of them actually don’t want to be contacted privately. They prefer to redirect requests to github issues so that the entire community can see those and help respond.
However, potential sponsors are

[2020-01-22 15:28] Betree commented on #2840
As mentioned in https://github.com/opencollectiveinc/opencollective-security/issues/28, a good way to continue the investigation on the feasibility of this would be to talk about this with Mailgun's support. They may have some ideas on how to avoid being identified as the source of the email.

[2020-01-22 15:39] Betree commented on #2790
Marking this one as important as it's not accounting gift cards properly, which can probably mess up with the `monthlyLimitPerMember`.

[2020-01-22 15:50] #2831 closed

[2020-01-22 16:26] znarf opened #2841 "React Intl: timeZone is not supported."
In Frontend, when using a `FormattedDate` or `FormattedTime` component with the `timeZone` prop, we get the following warning.

[code]

We would like to avoid having this error and have a graceful fallback. Note that this issue is only affecting server side rendering, client side works fine.

In [HeroEventDetails.js](https://github.com/opencollective/opencollective-frontend/blob/master/components/

[2020-01-22 19:50] znarf commented on #2841
@Betree Do you agree? Good for a bounty?

[2020-01-22 20:34] alanna opened #2842 "Incorrect info after upgrading host plan"
I just upgraded Protozoa host to the Small plan.

At the bottom of the screen it's showing incorrect or incomplete info under "limits and usage".

- [ ] Current plan should show plan name not variable ID or whatever it's displaying there. This should just say "Small".
- [x] ~~Manual payments should say "unlimited".~~ Fixed.
- [ ] There's should be another point saying "Bank transfers: not enabled

[2020-01-22 20:34] alanna commented on #2842
Added `priority` label because we are going live with these changes this week and the basics needs to function for users who want to upgrade.

[2020-01-22 20:40] znarf commented on #2842
The "Manual Payments" issue should be fixed now.

[2020-01-22 20:44] alanna opened #2843 "Add more options for Hosts to charge Collectives their Host Fee"
With the new paid host plans going into effect, I think it's time we add more options for the fees Hosts can charge their Collectives. I just upgraded my own Host to the small plan and immediately wanted the choice to pass on the fees to the Collectives, but our current system does not make this easy.

I think the options should be:
1. A % of all incoming funds (the option we have now)
2. A monthl

[2020-01-22 23:10] alanna commented on #2606
This keeps coming up constantly and needs to be fixed. Adding the priority label as I'm not sure how else to get it attention. We're getting support requests about it all the time and it's blocking new admins I'm trying to onboard from using our system effectively.

[2020-01-22 23:18] alanna opened #2844 "Tax form not sent to user submitting expense to an event"
I'm not sure if submitting the expense to an event is the cause, but user martin-abrahams should have got the tax form for [this expense](https://opencollective.com/sustain-2020-5874aeeb/expenses/13295). Our system shows "tax form required" but looking at HelloWorks it seems it was not sent out, and the user reports he has not got it.

1) Can this be triggered somehow so the user's payment is not

[2020-01-22 23:33] alanna opened #2845 "Map on event page super zoomed out"
This is the default view of the map location on [this event](https://opencollective.com/open-source-speed-dating/events/open-source-speed-dating-fosdem-2020-96f78c6c). It should be zoomed in to at least the city.

![Screen Shot 2020-01-23 at 12 29 13 PM](https://user-images.githubusercontent.com/5498878/72943988-7ef05300-3ddc-11ea-8c62-8558d896de76.png)

[2020-01-22 23:34] alanna commented on #2485
I want to bump this. The sub-Collective should definitely show the parent Collective somehow.

[2020-01-23 00:45] alanna commented on #2366
I made a bunch of changes and comments on the Google doc.

[2020-01-23 01:57] maddhruv commented on #2845
@alanna It doesn't seem to be happening at https://opencollective.com/open-source-speed-dating/events/open-source-speed-dating-fosdem-2020-96f78c6c#section-location

![Screenshot from 2020-01-23 07-26-51](https://user-images.githubusercontent.com/18121502/72950579-ce6d5980-3db1-11ea-85ec-fb7c8f513ee1.png)

[2020-01-23 02:01] daud1 commented on #2845
Doesn't seem to be happening for me either.
![image](https://user-images.githubusercontent.com/30657749/72950701-25b4ff00-3d9d-11ea-9807-f761d7be3419.png)

Perhaps you attempted scrolling the page while the cursor was hovered over the map area?

[2020-01-23 07:32] znarf commented on #2845
Works for me too. But I also can see what happened to @alanna

1. go on this page on desktop
2. put your cursor at the middle of the screen
3. start scrolling to the bottom and try to reach the bottom (using mouse wheel or touchpad)

The map is hijacking the scroll event and instead of scrolling to the bottom, you're starting to zoom out in the map.

[2020-01-23 07:35] maddhruv commented on #2845
@znarf for me it is just scrolling (zooming out/in) the map when the cursor is out of the map box

[2020-01-23 07:45] znarf commented on #2844
@alanna the invoice is exactly at 600$ which is the tax form threshold, I think we have a mismatch in how we're checking it.

Should we ask for a tax form if the total is reaching exactly $600 or only when it's over $600?

[2020-01-23 08:12] Betree commented on #2841
@znarf I would be ok with that solution. I think this may also be solvable by adding the right `Intl` polyfills.

[2020-01-23 08:13] znarf commented on #2841
@Betree that would be more elegant indeed, let's dig into it.

[2020-01-23 08:14] Betree commented on #2841
Worth trying: https://github.com/yeutech-lab/react-intl-polyfill
I don't know if this the best way to polyfill, but it may be good for quick testing.

[2020-01-23 08:20] Betree commented on #2606
I'm all up to fix this but we need an input from design. The best way to get their attention is to ping them on Slack.

[2020-01-23 08:25] znarf commented on #2841
@Betree at first glance, doesn't seems like a good fit, we're more looking for something to polyfill node and adding extra features.

[2020-01-23 08:26] Betree commented on #2606
@contraexemplo's proposal [above](https://github.com/opencollective/opencollective/issues/2606#issuecomment-557823252) would actually solve this in my opinion.

**Add cog icons to the user menu dropdown**

![2020-01-23_09-20-52](https://user-images.githubusercontent.com/1556356/72967757-53f90580-3dc2-11ea-8537-41aaa52ed880.png)

[2020-01-23 08:28] znarf commented on #2606
@Betree That could help. But I personally would like to see a big bold edit button on top of the collective page.

[2020-01-23 08:40] piamancini commented on #2606
ok - I'll try and get design on a fix for this soon

[2020-01-23 08:40] Betree commented on #2845
@maddhruv but @znarf didn't say the opposite, he just said that when you scroll the page then arrive on the map it hijacks your scroll (because your cursor is on the middle of the screen). Which I agree with, Google Maps used a combination of Ctrl + scroll to prevents this.

However the issue described here by @alanna is real, I was not able to reproduce on Firefox but on Google chrome (Version 79

[2020-01-23 08:44] Betree commented on #2485
Would something like this work? What would be the correct terminology: `Parent collective`, `Main collective`?

![image](https://user-images.githubusercontent.com/1556356/72968949-d4b90100-3dc4-11ea-8e76-f856cfe29221.png)

[2020-01-23 08:50] znarf commented on #2844
It was sent 4 hours ago.

![Screenshot 2020-01-23 at 09 50 49](https://user-images.githubusercontent.com/806/72969394-ab4ca500-3dc5-11ea-838f-822b2f988d70.png)

[2020-01-23 08:50] #2844 closed

[2020-01-23 08:51] Betree commented on #2606
For this an input from design is required because we already have a lot of call to actions on this page:

![image](https://user-images.githubusercontent.com/1556356/72969402-ae479580-3dc5-11ea-980f-3f202262da7e.png)

Would be great if we can find a way to reduce the overload here at the same time.

---

So should we go with @contraexemplo's proposal? As they said:

More than the collective page, t

[2020-01-23 09:28] piamancini commented on #2845
I had the same issue as @alanna

[2020-01-23 10:10] sokra commented on #2840
That would be great.

You could allow only donors to send messages to the collective. This would be an easy way to reduce spam.

[2020-01-23 12:02] piamancini commented on #2606
I personally don't like the idea of having it in the dropdown menu. I'd expect that to be my profile editing, but not the collective editing. I expect the collective editing to be contextualized in the collective itself.

For example on a github Repo you can edit your profile and settings from the top right dropdown menu but the repo settings button is contextualized in the repo itself.

<img widt

[2020-01-23 12:28] Betree commented on #2606
@piamancini It's not exclusive, even tho I think having it in the dropdown would help it is true that we should keep it on the profile page.

The analogy with Github doesn't really fit, because this dropdown is dedicated to your personal profile and doesn't show your repositories nor your organizations. Crowdin however uses this pattern, in your projects list you can either click on the project or

[2020-01-23 12:48] IoTopenTech opened #2846 "Unable to delete a past event"
How coul I delete a past event?

[2020-01-23 13:10] pombredanne commented on #355
FYI, the latest signup still requires read access to private projects boards. I am admin right on many orgs and I CANNOT grant access to private data that I do not control when granting readonly access to my public user data.

[2020-01-23 13:14] pombredanne commented on #1034
That not entirely correct. It depends on the rights that a user has on a given org. I have many admin rights on many orgs, and the latest process requests read access to my orgs private boards. I cannot do this especially when this is about not only private but also third-party data.

See also https://github.com/opencollective/opencollective/issues/355#issuecomment-577674804

As a result I cannot

[2020-01-23 13:37] IoTopenTech commented on #2846
Dear znarf,

I cannot find the Delete button
![imagen](https://user-images.githubusercontent.com/52624907/72989055-cf23e100-3ded-11ea-90d0-ca2675eec137.png)

[2020-01-23 13:40] znarf commented on #2846
What's the URL of your event? It likely it's unfortunately not deletable.

[2020-01-23 13:43] IoTopenTech commented on #2846
https://opencollective.com/iot-open-tech/events/reunion-de-comunidades-ttn-40908ev

[2020-01-23 13:47] znarf commented on #2846
Sorry, it's not possible at this stage to delete an event with attached expenses or transactions.

In the future, we would like to allow you to "Archive" it instead but we have to work on the feature.

[2020-01-23 13:55] #2803 closed

[2020-01-23 14:00] Betree commented on #2417
@Memo-Es can you provide a design for the different states of this button? It currently does not react to hover/active...etc Or should we update the existing `dark` styles? (see https://styleguide.opencollective.com/#!/StyledButton/7)

![Peek 23-01-2020 14-58](https://user-images.githubusercontent.com/1556356/72990617-c54fad00-3df0-11ea-8d65-cafa9fab9ecc.gif)

[2020-01-23 14:34] Betree commented on #2840
@kewitz actually suggested a feature I didn't know on mailgun: they have an inbound SPAM filter. To make sure that we don't loose anything, we could activate it with `Deliver spam, but add X-Mailgun-SFlag and X-Mailgun-SScore headers`. Then if these headers are set, we don't forward the email.

I don't know if their filter is really effective, but that could give us a first level of protection. Wo

[2020-01-23 14:39] Betree opened #2847 "Remove hello@ emails from "replyTo""
Related to https://github.com/opencollective/opencollective/issues/2840

`hello@` emails (forward-all) are going to be limited soon. Today we're sending all notifications from collectives (`New financial contribution`, `New update`, `New expense`...etc) with a `replyTo` set to these emails, so that contributors can reach the admins directly.

We can eventually preserve that behavior for collective

[2020-01-23 16:26] piamancini commented on #2606
I'm not against it **as part of a solution** but we need to keep it contextualized as well. We can do that while we get some time in the design schedule.

[2020-01-23 18:55] Betree commented on #2485
Related question: can a sub-collective have multiple parents?

[2020-01-23 22:01] alanna commented on #2485
Yes that design looks good to me @Betree

I don't know about multiple parents.

[2020-01-24 09:35] Betree commented on #2485
Ok, we'll have to decide at some point (especially before #1620). Technically it's already possible, we just need to think about whether this is something we want or not.

[2020-01-24 10:11] Betree opened #2848 "Review permissions for Payout Methods"
As part of revamping the expense flow and in the spirit of _"Never give more access to users than what they need"_, I'm wondering if **collective admins** really need to know the details about the payout methods used for expenses (ie. the Paypal email address, bank account...etc).

Sounds to me that this information is only relevant for **hosts admins** and should be limited to them. Is this assum

[2020-01-24 13:13] cebe commented on #2840
not forwarding a mail that has been fasely detected as spam will not inform the sender. If you filter spam, you should always directly block it, so the sender knows that it is not being delivered.

[2020-01-24 13:53] Betree commented on #2394
Does that button subscribes you to new expenses? We don't have such feature yet and I don't see it in the [specs](https://docs.google.com/document/d/1nCOeAUAGMFkYb1QqUZemLUQjeQuqhiezC1guWMv6N44/edit?ts=5d6f1904#). How do we want to prioritize that?

![image](https://user-images.githubusercontent.com/1556356/73074058-07dcbc80-3eb9-11ea-9fd6-890beb494ee5.png)

[2020-01-24 13:56] Betree commented on #2394
Did we solve the "christmass tree" issue? As mentioned in the past, there's not enough space to fit 4 buttons in there. Also I personally think that it's a confusing place to put the main calls to action.

![image](https://user-images.githubusercontent.com/1556356/73074243-73bf2500-3eb9-11ea-8ca4-36c41e9a2279.png)

[2020-01-24 15:20] danielsum opened #2849 "The parameters from the post-donation redirect doesn't return an UUID primary key for orderId and transactionId"
**Describe the bug**
I try to implement the post-donation redirect link and retrieve the transactions detail after but when I have the redirect back link, it doesn't seems to send me an UUID primary key value like in the GraphQl Api but an integer.

Here is what I have for exemple as parameters :

?orderId=63122&transactionid=327551&status=PAID

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-01-24 17:50] Betree commented on #2849
Hi @danielsum, thank you for reporting this. We indeed switched to `uuid` for API V2 (the one you're using) while the V1 was using integer values.

@znarf What do you think is the best way to solve this, should we pass an `orderUuid` to the redirect URL? Or accept old-style ids for order's endpoints on Graphql V2?

[2020-01-24 17:59] Memo-Es commented on #2394
@cuiki is working on it @Betree will be up soon

[2020-01-25 14:38] piamancini commented on #2394
We are working under the assumption that the expense fees is a conversations feed and we can follow as any conversation.

[2020-01-26 08:03] danielsum commented on #2849
Hi @Betree , I think for the moment the easier will be to return the orderUuid, transactionUuid in the redirect link so it gives the flexibility to people to use the new uuid (v2) or the old one (v1). Because I would like to link to the url page of the order and the link still only compatible with the integer id (I think ?) ex: https://opencollective.com/wwcodenyc/orders/13202.

Little typo notice

[2020-01-26 20:49] alanna opened #2850 "Image broken in expense notification email"
![Screen Shot 2020-01-27 at 9 48 28 AM](https://user-images.githubusercontent.com/5498878/73141559-4c02d380-40ea-11ea-8f2b-51a3e4cc8ca2.png)

This expense came through for OSC but the image is broken. I assume it's meant to be the Collective logo?

[2020-01-26 20:57] alanna opened #2851 "Allow Collective to Collective contributions using bank transfer payment type"
We have #2017 open regarding the larger issue of Collective to Collective contributions across hosts, which is complicated because money has to move between host bank accounts in the background and we can't automate it easily.

However, this process is much more straightforward with bank transfer payment type, as it's already implied that the bank transfer will take place and it will need to be ma

[2020-01-26 20:59] alanna commented on #2522
**Update:** We have been approved by OpenNode and are in the process of testing out how bitcoin contributions can work. If any Collectives are interested in early access, [sign up here](https://docs.google.com/forms/d/e/1FAIpQLSfyiaEMZN_DfzxiAHADQGlzKrFrVNHfAiNrFZ8c24-bjKmC0g/viewform).

[2020-01-26 21:37] alanna opened #2852 "Sponsors missing from Speed Dating Collective"
See https://opencollective.com/open-source-speed-dating

It should be showing the Collective sponsors but it looks like the leaderboard and financial contributors sections are missing.

[2020-01-26 21:37] alanna commented on #2852
@Betree Is this related to changing the sections order?

This is priority because the event is this week and we need to highlight the sponsors on the page prominently.

[2020-01-26 22:12] alanna commented on #2848
You are correct. Only host admins need detailed payout info.

[2020-01-26 22:15] Betree commented on #2850
It should be the attachment there. May have been broken in https://github.com/opencollective/opencollective-api/pull/3190

[2020-01-27 03:00] alanna commented on #2852
Turned out to be a cache issue

[2020-01-27 03:00] #2852 closed

[2020-01-27 04:23] alexk111 commented on #2522
@alanna Congrats! Have you considered an idea of Bitcoin-only Fiscal Hosts not requiring a bank, a stripe and a paypal account?

[2020-01-27 13:01] znarf opened #2853 "Failures not reported to the end user"
In the codebase, in several places, we're catching errors and not reporting failure to the end user.
All occurrences are marked with the following:

```TODO: this should be reported to the user```

We should make sure all failures are properly reported.

[2020-01-27 15:07] danielsum commented on #2816
Hi, I got a similar issue on another project, best strategy is to apply a wait until : https://www.npmjs.com/package/cypress-wait-until so you can wrap everything in a Promise and apply a timeout error.

[2020-01-27 15:51] victorb commented on #2035
@Betree I'm pretty sure having a integration with Zapier would first require a normal API endpoint that Zapier can use. And what I have the need of, is just this API endpoint, without having anything to do with Zapier.

[2020-01-27 17:39] Betree commented on #2606
Implemented the proposal of adding a cog to the user menu in https://github.com/opencollective/opencollective-frontend/pull/3428. I'll remove the `priority` label but let's keep the issue open until we figure a solution with design.

[2020-01-27 17:48] Betree commented on #2816
Hi @danielsum, thanks for the info. `cypress-wait-until` is definitely interesting, we'll keep an eye on it in the future. In this specific case @brymut was able to solve all the occurrences in https://github.com/opencollective/opencollective-frontend/pull/3383 without this package.

For us part of the issue is related to https://github.com/cypress-io/cypress/issues/3200.

[2020-01-27 21:16] alanna opened #2854 "$250 missing from Collective balance"
![Screen Shot 2020-01-28 at 10 15 02 AM](https://user-images.githubusercontent.com/5498878/73214464-1ed02700-41b7-11ea-8c81-90d0680c4db1.png)

$50,000 contribution - $2500 host fee - $2500 platform fee + $2500 + $2500 *should* add up to $50,000 balance, but it's showing $49,750 - why?

[2020-01-27 22:32] Betree commented on #2854
$50,000.00 -$2,500.00 (-5% host fee) -$2,500.00 (-5% Open Collective fee) = **$45,000**
$2,500.00 -$125.00 (-5% host fee) = **$2375**
$2,500.00 -$125.00 (-5% host fee) = **$2375**

Total: $49,750.00 USD

I think you missed the host fees on the two financial contributions from OSC and inc that sums up to $250. I'll be happy to remove them if there are not supposed to be there, just let me know.

[2020-01-27 23:01] alanna commented on #2854
Ah, that explains it. Yes please remove them! Thanks @Betree

[2020-01-27 23:11] alanna commented on #2522
@alexk111 - I'm not opposed to that idea at all. It's just not something we're able to prioritise at the moment due to other important projects. So we're beginning with Bitcoin contributions that are immediately converted to USD so we can accept them through our existing systems.

There are quite a few services out there already for open source projects to get funded in cryptocurrency, so we don't

[2020-01-27 23:13] Betree commented on #2854
Should be fixed now:

![image](https://user-images.githubusercontent.com/1556356/73222183-e7378f80-4162-11ea-8bdd-397e2e5604c9.png)

[2020-01-28 01:58] alanna opened #2855 "Load more button does not load more transactions"
I'm trying to view transactions here: https://opencollective.com/open-source-festival-2020-4abe0517/transactions

I clicked load more a few times and it worked, but then it stopped loading more content. How can I tell if it's actually reached the end?

![ezgif-3-a0fa678eef46](https://user-images.githubusercontent.com/5498878/73229435-aa10e300-41de-11ea-8cf4-f77e5be3339a.gif)

[2020-01-28 05:39] marcos-mendez commented on #2855
Please provide the Inspect Element page with console and errors.

[2020-01-28 08:36] alanna commented on #2855
I tried to do that but I couldn't get it to happen again. Now it appears to be working. Strange!

[2020-01-28 10:48] BenJam commented on #2417
Very excited to see this https://github.com/opencollective/opencollective/issues/2417#issuecomment-573865363 and I love the new art style 💃

[2020-01-28 10:53] #2854 closed

[2020-01-28 16:19] marcos-mendez commented on #2855
Please, we need to close the issue

Em ter., 28 de jan. de 2020 às 05:36, Alanna <notifications@github.com>
escreveu:

[2020-01-29 13:30] Betree commented on #2035
@victorb Sure, the API endpoint is actually planned with #1326 and should be publicly available in less than 2 months. My point was about the simplicity to create different kind of integrations that Zapier allows.

[2020-01-29 21:20] alanna opened #2856 "Base URL slug for new org on name not twitter handle"
I helped a user set up opencollective.com/coopdevinst today. Their organization goes by the name "CDI" and that's what they put in the "name" field. But the system apparently pulled the URL slug from their twitter handle, which was unexpected.

### MVP

Base slug on name

### Best solution

Allow users to preview and edit the slug during org creation, just like we do when creating a new. It should

[2020-01-30 06:50] Betree commented on #2856
Not sure about adding a new field in the new collective form because we may not want to make it as simple as possible, but definitely agree with the MVP.

[2020-01-30 22:52] adong opened #2857 "typo on the website"
**Describe the bug**
A clear and concise description of what the bug is.

It's often embarrassing to see that translations of localizations are poorly worded. In this case, just plain wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/
2. Scroll down to the bottom
3. See error in the screenshot section

**Expected behavior**

Please change `简化字` to `中文` o

[2020-01-31 07:23] znarf commented on #2857
@adong thank you for reporting! not sure how that string landed here. do you want to submit a PR for that? the file is https://github.com/opencollective/opencollective-frontend/blob/master/lib/constants/locales.js

[2020-01-31 09:02] Betree commented on #2855
I see three possible explanations for this one:

1. Either the bug is related to the number of transactions
2. Or we don't refresh the list properly
3. Or there was a network error that we don't display

After testing, a network error seems to result in having the `Load more` button stuck to `loading...`, so 1. and 2. seems like better candidates.

[2020-01-31 09:31] Betree opened #2858 "Transferwise: dynamic bank account form component"
With #2836 coming, we'll need a way to input the bank info of the users based on their country. To move faster with this issue, we'll kick of development before design and will see with the design team to make it look better afterwards.

## Best solution for this problem
This component should ideally be self-contained. Something like `BankInfoInput`. To input the country, `InputTypeCountry` should

[2020-02-02 13:57] xdamman commented on #2314
+1

Open Collective UK would love to send an email to all the collectives they are hosting.
It’s very important for them (and other hosts) to be able to develop their community.

I like the idea of automatically following the host when you are accepted to be hosted.
But this requires a some other changes (that would all be great to see btw)
- Capacity to follow a collective (receive their updates

[2020-02-02 14:28] Betree commented on #2549
I think this is now done, can we close?

[2020-02-03 08:52] jfdh opened #2860 "Issue when trying to change the host fee"
**Describe the bug**
Not possible to change the host fee

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opencollective.com/brussels/edit/advanced'

**Expected behavior**
I wish to setup a 3% fee for the host

**Screenshots**
![Screenshot 2020-02-03 at 08 54 01](https://user-images.githubusercontent.com/30813303/73638500-d0b19c80-466a-11ea-934a-ae6b84245592.png)

**Desktop (pl

[2020-02-03 11:42] piamancini opened #2861 "Include date in receipt PDF file"
## User Story

As a sponsor, I want to avoid the admin hassle of managing my open collective receipts.

They'd like to

a) avoid logging in each time so receive PDF via email

and

b) better track/find files (the uuid is problematic). They suggest a timestamp name.

## MVP

Sending a monthly consolidated PDF in the monthly report seems like an easy improvement at the moment.

Not sure what can we

[2020-02-03 11:47] freyfogle commented on #2861
Thanks for opening an issue about this.

Just to clarify, the file name could include the uuid, please just also include name (so I dont have to open the file to figure out what it is) and date stamp. For example:
opencollective-20200203-uuid.pdf

[2020-02-03 11:49] piamancini commented on #2861
This makes sense.

[2020-02-03 12:07] piamancini opened #2862 "Allow root users to download receipts from profile page"
As an admin of an organization I can download the PDF file from an invoice from the main organization's page and the transactions page. Also note that while logged in as an admin I can also download the consolidated receipt.

<img width="1332" alt="Screen Shot 2020-02-03 at 12 56 30 PM" src="https://user-images.githubusercontent.com/3671070/73651487-d320f000-4684-11ea-81ce-7e631c465770.png">

<img

[2020-02-03 12:39] kewitz opened #2863 "API crash (heap out of memory)"
**Describe the bug**
API seems to be running out of memory.
This will cause the service to crash and drop all the connections.

**To Reproduce**
Steps to reproduce the behavior:
1. Cyclic, just wait enough time.

**Screenshots**
![image (3)](https://user-images.githubusercontent.com/2119706/73653816-ed4cd500-4668-11ea-9e21-740941948a5a.png)

**Additional context**
Paper-trail log: https://my.paper

[2020-02-03 14:09] Betree opened #2864 "Bundle recurring contributions in a single email"
## User story
As a financial contributor contributing to multiple collectives, receiving a lot of emails each month is not a good experience: it spams my inbox and doesn't incite me to open them.

![image](https://user-images.githubusercontent.com/1556356/73658899-7da10f00-4695-11ea-8394-d3bac5721612.png)

## Best solution for this problem
I'd like all my contributions to be grouped in a single em

[2020-02-03 14:19] piamancini commented on #2864
YES please!

[2020-02-03 14:26] Betree opened #2865 "Emails: Add support for DMARK"
From https://postmaster.google.com, it seems that we could improve our domain's reputation by supporting [DMARK](https://www.mailgun.com/blog/domain-reputation-and-dmarc/). I'm not familiar with it, so we'll have to investigate on what's required to achieve this.

![image](https://user-images.githubusercontent.com/1556356/73660900-6532f380-4699-11ea-975a-269017895763.png)

[2020-02-03 16:18] Betree commented on #2394
Small feedback regarding the `Invoice` path:

I use a service that generates invoices for me. In the new design, if I pick `Invoice` for the type, there's no place for me to upload it: I **have** to fill the fields and use the generated invoice.

This introduces two issues:

1. For my invoices to be legal in France, I have to include a special mention for VAT in the document (ie. `Exempted from VA

[2020-02-03 18:38] kewitz commented on #2836
Added **Implementation Details** to description.

[2020-02-03 21:24] alanna commented on #2394
@Betree

You are supposed to be able to attach an invoice in addition to filling out the form. It’s a bit redundant for people who also generate PDF invoices (myself included) but there are too many advantages to having the form data so we need to require it even if it means they are kind of doing it twice. There should also be a box where they can put things like VAT, etc. Every country has diffe

[2020-02-03 21:28] alanna opened #2866 "Add link to expense to notification email"
As a Collective or Host admin, I want to be able to click through to the individual expense page so I can see comments or take action.

Currently there is no link on the email notification:
![Screen Shot 2020-02-04 at 10 25 31 AM](https://user-images.githubusercontent.com/5498878/73692328-fe651700-4738-11ea-8392-25561898d29b.png)

[2020-02-03 21:34] alanna commented on #2773
We need this paypal expense to be marked as unpaid as the funds were returned: https://opencollective.com/keepassxc/expenses/12164

Can someone please do that?

@znarf it would be very helpful to have the mark as unpaid button appear to fiscal host admins for all expenses, manual or paypal.

[2020-02-03 21:47] alanna commented on #2862
I agree with what Pia is suggesting. Just a note to say, please retain access to everything for platform admins. We often need to download invoices and transactions to assist users with support.

[2020-02-04 03:23] XVilka commented on #2420
You can see also how it is implemented in this simple FOSS bounty system, that supports multiple cryptocurrencies and work with GitHub issues - [jollheef/donate](https://github.com/jollheef/donate).

This is how it looks [in the GitHub issue](https://github.com/jollheef/donate/issues/8)

![image](https://user-images.githubusercontent.com/203261/73710690-a978cf00-473f-11ea-80be-a2e62dad2f27.png)

[2020-02-04 04:08] adong commented on #2857
@znarf Here's a PR for it. https://github.com/opencollective/opencollective-frontend/pull/3457 Thank you!

[2020-02-04 07:53] Betree commented on #2394
Agree with the fact that having the data is useful, no blockers for me on that part.

For the info that's supposed to appear on the invoice it would be useful to have a quick sketch (no need for a high res design) to show where it will appear.

I don't see where we can attach PDFs in the current design. The last step says that we can add notes or attachments but I don't see any input to upload the

[2020-02-04 08:43] Betree commented on #2866
This is where the link has to be added: https://github.com/opencollective/opencollective-api/blob/a0e9414694f9629d64a04b43c7c19d321d184b67/templates/emails/collective.expense.paid.for.host.hbs#L17

Something like this should do the job:
[code]

[2020-02-04 08:48] znarf commented on #2842
Removing the priority because the main issue was fixed.

[2020-02-04 08:50] znarf commented on #2841
In the end, looks like the error is in the server side polyfill, this can be solved by revamping the Intl setup, as explored in https://github.com/opencollective/opencollective-frontend/pull/3412

[2020-02-04 08:56] Betree opened #2867 "Include receipt PDF in "thank you" email"
## User story
As a financial contributor, I can easily download receipts from the email sent when I make a contribution (the `Thank you for your $_ contribution to ____` email). We used to have a link in there that pointed directly to the invoices server, but this has been deprecated because it didn't meet our security standard.

## Best solution for this problem

Two possible solutions:
1. When s

[2020-02-04 08:58] #2857 closed

[2020-02-04 08:59] znarf commented on #2860
Thank you for the report @jfdh, we'll look into it.

[2020-02-04 09:01] znarf commented on #2816
🏆 This issue was completed by @brymut

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2020-02-04 09:09] Betree commented on #2861
Extracted the proposal for receipts in email in https://github.com/opencollective/opencollective/issues/2867.

Adding the date in the filename is a good idea. Let's keep this issue about this topic.

[2020-02-04 09:14] Betree commented on #2862
@piamancini I believe the confusion comes from the fact that you have a root account, so you can theoretically see and download invoices for everyone.

With a regular account (not root), there's no button to download invoices on both profile and transactions page.

So the only thing that I see left on this issue is to add the button to download invoices for root users on the profile pages.

[2020-02-04 09:41] znarf commented on #2827
There is no updates on the linked collective.

[2020-02-04 09:41] Betree commented on #1585
Adding some specs so we can eventually move forward with this issue. I've included @alanna's [feedback](https://github.com/opencollective/opencollective/issues/1585#issuecomment-534317547) above, taking into account the fact that today's balance and average annual budget are already displayed.

# Specs

## API

- [ ] In [CollectiveStatsType](https://github.com/opencollective/opencollective-api/blo

[2020-02-04 09:58] znarf commented on #2845
It's confirmed to be linked to the mouse scroll event. If you use the right scrollbar, it's working fine.

[2020-02-04 09:58] znarf commented on #2845
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md).

[2020-02-04 09:59] piamancini commented on #2862
ah, got it.

Then it's not necessary. Root admins can download from txn page @Betree - My concern was public facing.

[2020-02-04 09:59] piamancini commented on #2862
Closing the issue as the only actionable is not needed.

[2020-02-04 09:59] #2862 closed

[2020-02-04 10:49] Betree commented on #2862
Still agree that we should be consistent, the button for root users will be added in https://github.com/opencollective/opencollective-frontend/pull/3465

[2020-02-04 11:15] znarf commented on #2855
Might be the same that the one we fixed for comments. https://github.com/opencollective/opencollective/issues/2590 https://github.com/opencollective/opencollective-api/pull/2869

[2020-02-04 11:33] piamancini opened #2868 "Open Collective Roadmap February - April 2020"
Overview
======
The goal of this roadmap is to provide clarity for the core team and our community about our priorities for the next 3 months. While these are the projects we'll be working on, life happens and iterations might take place.

Below the roadmap projects, we list additional projects we'd like to carry out this quarter but are not top priorities. Below that, a list of projects we want t

[2020-02-04 13:08] Betree commented on #2864
Some data: We have 6750 active monthly contributions, but only 5132 recurring contributors. So we would save 1618 emails from being sent each month.

Fun fact: An average email produces around 4g of CO2 ([1](https://carbonliteracy.com/the-carbon-cost-of-an-email/), [2](https://www.sciencefocus.com/planet-earth/the-thought-experiment-what-is-the-carbon-footprint-of-an-email/)). So this feature woul

[2020-02-04 15:01] Betree commented on #2867
We also have to think how this would play with https://github.com/opencollective/opencollective/issues/2864

[2020-02-04 15:16] Betree commented on #2845
I can still reproduce using only the scrollbar:

![Peek 04-02-2020 16-15](https://user-images.githubusercontent.com/1556356/73757525-a0045c80-4769-11ea-8453-6044d8d7d548.gif)

[2020-02-04 15:57] znarf commented on #2845
@Betree Good to know. Just confirming it works for me on Chrome / Mac OS when using the right scrollbar.

[2020-02-04 20:18] alanna commented on #2420
I think this could be achieved right now through using standalone tier pages with and issue as the goal. Pick an issue to raise funds for and people can contribute to it specifically.

[2020-02-04 20:54] alanna commented on #2868
Looks good!

A few questions....

1. If possible I'd like to have input on the specs for the host dashboard project before I go on leave. Should we have a call about it? Not to get super detailed but just make sure the important stuff is covered and understood.

2. Can we add Bitcoin payments to the secondary priorities? If the OpenNode trial goes well we may want to integrate it into the checkout

[2020-02-05 08:07] alanna opened #2869 "Moving a Collective to a host with a different currency"
Recently we had a bunch of issues when Flarum moved from a USD host to a EUR host. We have the same situation coming up soon with Social.coop moving from c-corp host (US) to Platform6 (UK). We are the ones forcing them to move, because we're shutting down c-corp host, so we need to find a solution for them.

[2020-02-05 08:57] Betree opened #2870 "Github deprecation notice for authentication via URL query parameters"
Github deprecated authentication via URL query parameters. The [way we configure Octokit](https://github.com/opencollective/opencollective-api/blob/5226f030ee137d06482e2b3de163ae017dc0abf5/server/lib/github.js#L52) does use these query parameters.

This [issue](https://github.com/octokit/rest.js/issues/1588) provides explanations and instructions to migrate. Basically we need to convert the code t

[2020-02-05 10:32] piamancini commented on #2868
Yes, let's schedule a call before you go on leave.

We can, but with you on leave for the whole roadmap and Github Sponsors still in manual mode, it's unlikely I'll be able to manage it. Depends on the volume.

Yes. OC's commitment is to do maintenance 1 day a month and stay involved to answer questions and review stuff as needed. There's no plan for the team to do any additional development.

[2020-02-05 10:47] piamancini commented on #2453
Post-mortem
==============

General lessons from projects undertaken this cycle:
------------------------------------
- We need to better track and follow up with metrics
- We don't iterate enough
- We need a process for amending roadmaps
- Lack of agility (we prioritized conversations a bit quickly)
- Lack of user inputs
- Better scope projects
- Define structural components that engineering can

[2020-02-05 10:47] #2453 closed

[2020-02-05 11:49] znarf commented on #1640
We don't support templates anymore.

[2020-02-05 11:49] #1640 closed

[2020-02-05 11:50] znarf commented on #2464
We don't support templates anymore.

[2020-02-05 11:50] #2464 closed

[2020-02-05 11:54] znarf commented on #2495
We don't feature/support this widget anymore since we moved to the new collective page.

[2020-02-05 11:54] #2495 closed

[2020-02-05 12:03] znarf commented on #2710
Remove the assignment because it's been 12 days.

[2020-02-05 12:09] xdamman opened #2871 "Applications to hosts should create a public conversation"
When a collective applies to one of the hosts that I manage, it's difficult to manage the process for multiple reasons

- all the admins of the host receives the email, so if I answer I need to cc all of them so that they know that it's being answered.
- if I need to reject it, I'd love to document somewhere the reason so that I can point back to it later. This will also help other candidates bett

[2020-02-05 12:25] znarf commented on #2717
Likely linked to https://github.com/opencollective/opencollective/issues/2841

[2020-02-05 15:55] sbinlondon opened #2872 "[PROJECT] Create Collective Flow (implementation)"
## Purpose
We want to make it easier for collectives to find the right path for them, thus aligning this with our new business model for fiscal hosts.

## Owner

Project: @piamancini
Technical: @sbinlondon & @znarf

## Prioritization

- Does this serve our mission?

Yes, it aims to help us become more *sustainable*

- Will this help to make us financially sustainable within a year?

Yes, it will h

[2020-02-05 16:11] sbinlondon opened #2873 "Implement 'Create a Collective' page"
Part of #2872

<img width="899" alt="Screenshot 2020-02-05 at 16 34 38" src="https://user-images.githubusercontent.com/37520401/73859227-fe007500-4839-11ea-840d-cfa13472bd85.png">

As seen [in the Figma design](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E2%86%92-Create%2C-Edit?node-id=7762%3A42619), we want an intial page where users select which kind of collect

[2020-02-05 16:26] sbinlondon opened #2874 "Implement open source/Github collective signup"
Part of #2872

<img width="1020" alt="Screenshot 2020-02-05 at 17 22 58" src="https://user-images.githubusercontent.com/37520401/73860812-66e8ec80-483c-11ea-8995-252cc4264fa1.png">
<img width="1015" alt="Screenshot 2020-02-05 at 17 23 06" src="https://user-images.githubusercontent.com/37520401/73860814-681a1980-483c-11ea-8cf8-f95b2885a399.png">

Implement signup flow for collectives connected to o

[2020-02-05 16:29] sbinlondon opened #2875 "Implement generalised Collective signup"
Part of #2872

<img width="1019" alt="Screenshot 2020-02-05 at 17 23 16" src="https://user-images.githubusercontent.com/37520401/73861095-d6f77280-483c-11ea-94cb-4207092fca47.png">

Implement the design of the general Collective signup flow shown [here](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-04-%2F-Collectives-%E2%86%92-Create%2C-Edit?node-id=7762%3A42619).

## Questions

* Is

[2020-02-05 16:45] sbinlondon opened #2876 "Implement onboarding modal step 2: Add people to your journey"
Part of #2872

<img width="965" alt="Screenshot 2020-02-05 at 17 41 20" src="https://user-images.githubusercontent.com/37520401/73862413-d364eb00-483e-11ea-8d2a-9c65508aa1c7.png">
<img width="1013" alt="Screenshot 2020-02-05 at 17 41 44" src="https://user-images.githubusercontent.com/37520401/73862416-d4961800-483e-11ea-9cce-9285a43a6a2a.png">
<img width="479" alt="Screenshot 2020-02-05 at 17 41 5

[2020-02-05 16:45] sbinlondon opened #2877 "Implement onboarding modal step 3: Collective contact info"
Part of #2872

<img width="460" alt="Screenshot 2020-02-05 at 17 41 08" src="https://user-images.githubusercontent.com/37520401/73862432-d9f36280-483e-11ea-9546-ab95d86edf6d.png">

Prompt users to add contact infomation to the Collective page so these aren't naturally left blank.

[2020-02-05 16:45] sbinlondon opened #2878 "Implement onboarding modal step 1: Welcome"
Part of #2872

<img width="736" alt="Screenshot 2020-02-05 at 17 37 49" src="https://user-images.githubusercontent.com/37520401/73862097-520d5880-483e-11ea-8211-c40e1789f2a9.png">

Create initial modal window over the first-time Collective page welcoming the Collective

[2020-02-05 16:51] sbinlondon opened #2879 "Implement Accept Financial Contributions page"
Part of #2872

<img width="1057" alt="Screenshot 2020-02-05 at 17 47 39" src="https://user-images.githubusercontent.com/37520401/73863062-c5fc3080-483f-11ea-8467-bd1854211dca.png">

New Collectives will be presented with a choice of how to hold financial contributions.

[2020-02-05 17:00] sbinlondon opened #2880 "Implement Accept Financial Contributions step 3: Fiscal host"
Part of #2872

<img width="1009" alt="Screenshot 2020-02-05 at 17 58 37" src="https://user-images.githubusercontent.com/37520401/73864014-38b9db80-4841-11ea-86b1-2836ac1e357a.png">
<img width="904" alt="Screenshot 2020-02-05 at 17 58 55" src="https://user-images.githubusercontent.com/37520401/73864016-39527200-4841-11ea-99a9-a77c885e48f6.png">

Show Collectives financial hosts that they can apply

[2020-02-05 17:04] sbinlondon opened #2881 "Implement Accept Financial Contributions step 1: Myself"
Part of #2872

<img width="973" alt="Screenshot 2020-02-05 at 18 01 42" src="https://user-images.githubusercontent.com/37520401/73864366-cc8ba780-4841-11ea-9aaf-15a530a21c30.png">
<img width="977" alt="Screenshot 2020-02-05 at 18 01 50" src="https://user-images.githubusercontent.com/37520401/73864360-cbf31100-4841-11ea-802e-6933e631f19b.png">
<img width="991" alt="Screenshot 2020-02-05 at 18 02 03

[2020-02-05 20:34] #2598 closed

[2020-02-05 20:46] alanna commented on #2871
In theory this is a good idea, but in practice there are some issues

* We get tons of spam applications. If every one created a conversation, it would be super messy or require a bunch of moderator cleanup of all the threads. Right now I can just ignore the spam email notifications.
* I think applications will start to dominate the Conversations list on the host page, which will make it less usef

[2020-02-05 21:02] alanna commented on #2297
Sorry @znarf I added `bounty candidate` but then realised you previously removed it. Is this not a simple one?

[2020-02-05 22:17] alanna opened #2882 "Filenames attached to reports should include profile name"
Currently, the monthly and annual report emails to Collective and host admins come with attached documents with the filename format `date-transactions.csv` and `date-expenses.pdf`. When you operate many profiles, it's confusing to try to keep them all straight when doing accounting, etc. We should add the name of the Collective, Host, etc to the filename, so it becomes `name-date-transactions.csv`

[2020-02-05 22:22] alanna commented on #2773
We have now re-paid https://opencollective.com/keepassxc/expenses/12164 so we don't need it marked as unpaid anymore.

However it would be useful to have this button available for all expenses regardless of payment type.

[2020-02-05 22:36] alanna opened #2883 "Some paid expenses not disappearing from "ready to pay" queue or changing state"
90% of the time when you pay an expense it disappears from the ready to pay queue (which is the correct behavior), but 10% of the time it does not change state, and it looks like it hasn't been paid yet. If you try to pay it again you see this error.

<img width="822" alt="Screen Shot 2020-02-06 at 11 33 46 AM" src="https://user-images.githubusercontent.com/5498878/73889519-c72b6d00-48d4-11ea-9585

[2020-02-05 22:46] alanna opened #2884 "Load more button not appearing even though there are more expenses to load"
[See screen recording here](https://drive.google.com/open?id=1kYD30vIF5ZYyH5HBDgp3j2Iz5Z2nVMb-) (only viewable by team members as you can see some confidential user info).

At the bottom of the list of expenses on the host dashboard, the `load more` button should appear if there are more expenses that are not displayed. However, no button shows up even though when I pay an expense so it disappears

[2020-02-05 23:55] alanna opened #2885 "Expenses show after clicking 'load more' but then disappear"
I clicked `load more` to see more expenses on the host dashboard, but then after paying one, all the new ones disappeared and I had to click `load more` again to see them.

[Screen recording here](https://drive.google.com/open?id=1oWhgE4A5CUcf6HfifAGIXBJq6JszEx5R)

(also it looks like #2689 is back - you can see duplicated expenses at the end of the screen recording)

[2020-02-06 03:30] alanna commented on #2606
Has their been any progress on this?

[2020-02-06 07:42] piamancini commented on #2874
@sbinlondon it should go to the create collective flow for non open source projects with the tag 'open source' and the open source collective as the suggested host

[2020-02-06 08:12] Betree commented on #2606
@alanna  https://github.com/opencollective/opencollective-frontend/pull/3428 should be merged and deployed soon, it adds the following enhancements:

1. Adds a cog icon pointing to collective/org settings if user has access to them

![image](https://user-images.githubusercontent.com/1556356/73198591-85abfc80-4133-11ea-81fb-e4a4dfd20537.png)

2. Truncate text if collective name is too long

**Befor

[2020-02-06 10:40] znarf opened #2886 "Homepage: Invalid prop `width` supplied to `StyledModal`."
[code]

As highlighted in E2E tests `00-i18n.test.js`.

[2020-02-06 11:21] znarf opened #2887 "Fragile E2E test: Organization Profile, Has no filters"
[code]

Sample run: https://github.com/opencollective/opencollective-frontend/pull/3479/checks?check_run_id=429478867

[2020-02-06 12:31] sbinlondon opened #2888 "Implement Accept Financial Contributions step 2: Organisation"
Part of #2872

<img width="1005" alt="Screenshot 2020-02-06 at 13 27 41" src="https://user-images.githubusercontent.com/37520401/73937181-c69ad280-48e4-11ea-949e-38e501636d7a.png">
<img width="1044" alt="Screenshot 2020-02-06 at 13 27 53" src="https://user-images.githubusercontent.com/37520401/73937185-c995c300-48e4-11ea-954b-39b6d84db9ac.png">
<img width="930" alt="Screenshot 2020-02-06 at 13 28

[2020-02-06 14:32] piamancini opened #2889 "Homepage: navigation arrows are missing in who is using open collective section"
On mobile:

![Image from iOS](https://user-images.githubusercontent.com/3671070/73946153-c3f4a900-48f5-11ea-912e-b1b60f69a259.png)

Compared to:

![Image from iOS (1)](https://user-images.githubusercontent.com/3671070/73946250-e5ee2b80-48f5-11ea-8f62-1fc50372d67f.png)

[2020-02-06 17:39] kewitz opened #2890 "Transferwise Automated Payout POC"
This is our first Transferwise proof-of-concept and it should provide a `Pay with Transferwise` button so we can test it in the real-life.

Data related to bank accounts of the payee and the host's token to Transferwise is going to be manually added to the DB.

[2020-02-06 21:02] #2528 closed

[2020-02-06 21:19] znarf commented on #2887
Maybe related with https://github.com/opencollective/opencollective-frontend/pull/3383

@brymut what do you think?

[2020-02-06 22:25] gusaus commented on #2420
Do we know what collective would be used to create tiers? It seems totally doable if we can define a process.  https://github.com/opencollective/opencollective/issues/2420#issuecomment-557367715

Possibly we can incorporate some of the following?   https://github.com/opencollective/opencollective/issues/2503 https://github.com/opencollective/opencollective/issues/2420#issuecomment-531527636

[2020-02-07 07:51] piamancini opened #2891 "adding funds as a sponsor to an event triggers a ticket"
When you add funds to an event it triggers a ticket to the sponsor. It should trigger a donation confirmation.

<img width="1034" alt="Screen Shot 2020-02-07 at 8 49 12 AM" src="https://user-images.githubusercontent.com/3671070/74010944-e97dc300-4986-11ea-8bbd-bfa5415fe2ae.png">

[2020-02-07 11:00] #2886 closed

[2020-02-07 11:00] #2889 closed

[2020-02-07 14:42] Memo-Es commented on #2417
This version is live here https://opencollective.com/
So I hereby proceed to close this issue 🎉

There is a new small project called "Homepage polish" for other small fixes.

[2020-02-07 14:42] #2417 closed

[2020-02-07 14:43] Betree commented on #2417
:tada:

[2020-02-08 02:05] Memo-Es opened #2892 "Fix "What can you do on Open Collective" elements to the center of the page."

[2020-02-08 05:22] jamesgeorge007 commented on #1585
Taking this up :raised_hands:

[2020-02-08 08:30] xdamman commented on #2871
Thanks for pointing out those potential issues.

Spam could be indeed an issue but it's a general one. If people can spam this they can also spam the Conversations features. So this should be addressed independently.

Likewise, the problem of a certain type of conversations dominating all the other ones is a general issue. This can be true too for examples between support requests and general info

[2020-02-08 09:53] Betree commented on #2871
I believe this idea of mixing private and public comments in the same thread has been discarded because:
- It creates confusion for people who can't see the private messages, often the conversation will not make sense anymore if you can only see half of the messages
- There's a risk of having people quoting private messages in public ones

[2020-02-08 09:55] Betree commented on #2871
The way we solved it in the expense flow is to say: please edit your expense with *your private info* (ie. Bank account, tax ID...etc). The private fields lay in the expense itself, not in the conversation.

[2020-02-08 09:58] xdamman commented on #2871
Then I’d try to apply the same way of thinking for applications to hosts. Basically an application is like an expense that has to be approved. It contains public and private information (I’m still not sure what private information the host needs beyond the applicant’s email address but maybe @alanna can tell us more).

[2020-02-08 15:40] xdamman commented on #2873
Re: climate. Yes just the normal form. The only difference is that it should automatically add the tag "climate" to the collective when creating it.

@Memo-Es can we have another illustration for the climate? It's hard to see the link with Saturn and other stars and then buildings made of concrete. Something like the planet burning, or the same image than on the homepage but where the universe is

[2020-02-08 15:44] xdamman opened #2893 "Add some diversity to the homepage"
Would be great to have different skin tone on this illustration to show that collectives are open and inclusive 👩🏽‍🦰👨🏿👩🏽‍🦱👨🏼‍🦳

![](https://opencollective.com/static/images/makecommunity-section-illustration.png)

[2020-02-09 02:55] alanna opened #2894 "Homepage: update image for social media sharing"
We've got an awesome new homepage but when you share it on social media it's still pulling through the old images. I think it's pulling the wrong text as well. I think we should share the main illustration along with "Make your community sustainable. Collect and spend money transparently."

[2020-02-09 03:31] alanna opened #2895 "Homepage: learn more links don't go anywhere"
Under "How to use Open Collective" there's a "learn more" link on every feature, but they don't lead anywhere. I suggest we remove them if there's not already places they are supposed to point to.

[2020-02-09 11:43] piamancini commented on #2873
@xdamman images are  just placeholders.
They are not final. Delfina and Memo are working on them still.

[2020-02-09 15:39] piamancini opened #2896 "[PROJECT] Host Dashboard Revamp"
## Purpose
This project's goal is to improve the experience of hosts on the platform by re-designing the dashboard. We prioritized this because it's aligned with the new business model of plans for hosts.

There are other improvements to be done for hosts, they are listed here but they are outside of the scope of this project. Full document [here](https://docs.google.com/document/d/1IedBuFfFCGO9H4

[2020-02-09 21:27] alanna commented on #2896
To discuss: plan for talking to hosts and potential hosts to get customer feedback before finalising and prioritising project specs.

[2020-02-10 01:39] alanna commented on #2869
@znarf - any further thoughts about this?

[2020-02-10 01:41] alanna commented on #2606
Looks good!

@contraexemplo can you add this to the docs please?

[2020-02-10 07:10] znarf commented on #2869
@alanna Not at this point, it's complicated.

[2020-02-10 08:03] znarf commented on #2895
It was already solved but not deployed. It's now live.

[2020-02-10 08:03] #2895 closed

[2020-02-10 08:26] #2849 closed

[2020-02-10 08:58] znarf opened #2897 "Fix implicit disabling of certificate verification for postgres production"

[2020-02-10 08:59] piamancini commented on #2896
@alanna Yes - I already posted it in all hosts channels on Slack. I'm not sure I would do a specific communication about this, we can bundle it with other information - Include it in the next newsletter. Any ideas in particular?

[2020-02-10 09:06] znarf commented on #2887
Reverted the problematic PR.

[2020-02-10 09:28] JoyLubega opened #2898 "Fix smooth-scroll on the collective and event page"
**Describe the bug**
Smooth scrolling is not active on the collective and event page

 https://opencollective-frontend-itruzqydxe.now.sh/backyourstack

**Expected behavior**
Scrolling should be smooth from one tab to another

[2020-02-10 09:35] znarf commented on #2809
This was merged but there is a blocker, see https://github.com/opencollective/opencollective-frontend/pull/3344#pullrequestreview-355750705 and https://github.com/opencollective/opencollective/issues/2898

[2020-02-10 10:00] piamancini opened #2899 "Email for admins of the host to approve manual contribution is sent to the contributor"
**Describe the bug**
The following email: an alert for the host admins that they received a manual bank transfer is instead being sent to the contributor.

<img width="1021" alt="Screen Shot 2020-02-10 at 10 58 13 AM" src="https://user-images.githubusercontent.com/3671070/74139886-68c3fe80-4bf4-11ea-90e7-ae632af89859.png">

**Expected behavior**
That an email to approve a pending order is sent to

[2020-02-10 10:46] brymut commented on #2887
Apologies, I haven't had a chance to look at this. Having a look today

[2020-02-10 10:48] znarf commented on #2898
I quickly attempted to fix it https://github.com/opencollective/opencollective-frontend/pull/3499 but this didn't work (see comments) so we'll need to think of another approach.

[2020-02-10 10:50] znarf commented on #2816
The PR was reverted and so the issue is open again.

[2020-02-10 11:37] Relequestual commented on #1445
Still want to offer this to our users!

[2020-02-10 12:50] #2822 closed

[2020-02-10 14:26] nemchik commented on #2597
Please keep this open. I do not see a way to add a widget as it is presented in @znarf 's screenshot:
![image](https://user-images.githubusercontent.com/725456/74158004-f0067780-4bde-11ea-8e5a-ef0ee7e53074.png)
nor have I located an SVG that accomplishes the goal of displaying top contributors regardless of tier.

[2020-02-10 14:28] nemchik commented on #2594
Please keep this open. I have not seen any update on the `limit` being fixed and usable.

[2020-02-10 14:41] xdamman commented on #2821
I also want to be able to specify a plan rather than a fee.
Eg. Open Collective Brussels is asking €10/month to each collective. Right now they have just created a tier and they manually ask collectives to subscribe to it. It would be very useful if this could be part of the built-in experience.

[2020-02-10 14:48] xdamman commented on #2896
Should also be able to search expenses/pending orders by their ID number (as it is what is communicated as part of the wire transfer)

I’d also love to see the first page of the host dashboard to show the different items that require the host’s attention, i.e. expenses ready to be paid, pending orders that need to be marked as paid (moving the latter to a different tab has been a regression for th

[2020-02-10 15:24] Memo-Es commented on #2893
@xdamman We wanted to move away from the generic visual way to showcase diversity (Different skin tones). The concept of diversity was addressed in the illustration project by featuring these cubist characteristics https://d.pr/i/EyDS2x because we think that diversity exists even within oneself and then it's communicated to others using social norms, clothes, skin tone, attitude, etc.

[2020-02-10 15:34] xdamman commented on #2893
That’s very true but it doesn’t have to be “or”, it can be “and”.

[2020-02-10 15:44] Memo-Es opened #2901 "Tab styles missing"
I don't see the tab styles applied in the design, it is odd because they were implemented already

| Design | Implementation |
| ------------- | ------------- |
| <img width="342" alt="Screen Shot on 2020-02-10 at 09-42-29" src="https://user-images.githubusercontent.com/49539954/74164971-11209580-4bea-11ea-8b6d-fa42df2b7495.png"> | <img width="391" alt="Screen Shot on 2020-02-10 at 09-40-57" src="

[2020-02-10 16:35] Memo-Es opened #2902 "Fix textures"
Some of the textures look misplaced and low quality on mobile
<img width="484" alt="Screen Shot on 2020-02-10 at 09-56-09" src="https://user-images.githubusercontent.com/49539954/74169598-2a791000-4bf1-11ea-9d89-2a34de0c878b.png">

[2020-02-10 16:49] nemchik commented on #2593
This does not seem to be resolved. The widget is currently displaying an organization that seemed to make an ad-hoc contribution as a sponsor here:
![image](https://user-images.githubusercontent.com/725456/74158502-cd289300-4bdf-11ea-8471-fabd57bf6a77.png)
The amount contributed is not the amount designated for the sponsor tier.

I'm pointing this out to reference https://opencollective.com/linuxs

[2020-02-10 17:00] Memo-Es opened #2903 "Homepage: "learn more" links should open a new tab / Redirect links under "Who is using Open Collective?""
I think the "Learn more..." links should open a new tab
<img width="743" alt="Screen Shot on 2020-02-10 at 10-59-41" src="https://user-images.githubusercontent.com/49539954/74171693-90b36200-4bf4-11ea-8fe9-a4e11f0b1c2b.png">

These links need to be updated, links are in the [homepage copy document](https://docs.google.com/document/d/1i1eP5PLfM2Tshp6Oiqnpt8lXAazJ-twFj8iQQg2SYWI/edit?usp=sharing)
<i

[2020-02-10 17:50] Betree commented on #2858
@kewitz the most practical for integration would be to implement it in styleguidist (create a `md` file in `styleguide/examples`). The place where it will be displayed is ~350px width max. A controlled component (with `value`, `onChange` and `errors` prop) may be the easiest to integrate.

![image](https://user-images.githubusercontent.com/1556356/74175350-f247f080-4c35-11ea-9cd8-32a2f8dbeca3.png)

[2020-02-10 18:50] contraexemplo commented on #2606
@alanna Sure! Looks consolidated enough to mention it.

[2020-02-11 08:17] jfdh commented on #2896
Not sure if this the right place to put this, but I'd love to be able to use structured communication +++.../.../...+++ for incoming payements so that we dont have to mark financial contributions as paid.

In relation to expense payement, and when people select "Other" instead of "Paypal" to get reimbursed, it would be nice to have a third option such as select "IBAN" and then force people to inse

[2020-02-11 08:34] #2899 closed

[2020-02-11 08:38] flickz commented on #2892
@Memo-Es The "What can you do section"  has been fixed already in this  PR https://github.com/opencollective/opencollective-frontend/pull/3487  also deployed.

For "Join Us section"  This is from a 4k resolution, is this fix okay?
<img width="889" alt="Screenshot 2020-02-11 at 9 32 14 AM" src="https://user-images.githubusercontent.com/15707013/74221284-0fbaa000-4cb2-11ea-8cc0-41faa4b5dfbe.png">

[2020-02-11 08:39] jfdh commented on #2860
Any update on this one? I would love to launch our new financial model starting 15 February. Many thanks and good day :)

[2020-02-11 09:22] piamancini commented on #2896
Thank you @jfdh !

This will happen, it's part of the expense flow re-design being implemented now.

Can you explain this further?

[2020-02-11 11:36] piamancini commented on #2840
Update on email campaign asking collective admins if they were using the email:
Sent 6k
Opened 3k
Replied: 23
Actively using the email: 2

[2020-02-11 11:49] #2901 closed

[2020-02-11 12:11] JoyLubega commented on #2898
@Betree  @znarf  how is class added on the this html tag, i think that logic can help me add style to the html tag

![Screen Shot 2020-02-11 at 3 08 56 PM](https://user-images.githubusercontent.com/29824008/74235726-b87ff400-4ce0-11ea-8f28-075fbea79267.png)

[2020-02-11 12:22] znarf commented on #2860
@jfdh It's a priority, looking at it this week for sure.

[2020-02-11 12:27] kewitz commented on #2858
@Betree, when should we actually persist the payoutMethod?
Should this form take care of validation and creation of the payoutMethod and return the persisted payoutMethod through the `onChange` function or should I just update the state and call `onChange` for each field?
The catch here is that this form will need to query the backend after a few specific things that are of no concern to the rest

[2020-02-11 12:59] Betree commented on #2858
I'd say we'll persist it when submitting the expense, but we can do it differently if needed.

It's not finished yet, but here's the way I've integrated this for other payout methods: https://github.com/opencollective/opencollective-frontend/blob/0cbb56b3626e323109b19f9d63ada131882a00cc/components/expenses/PayoutMethodForm.js

There's also a (not optimized) styleguide example for it (check the fir

[2020-02-11 13:26] znarf commented on #2860
I know it will sounds weird, but this is linked to this collective having an invalid "slug": https://opencollective.com/perma@transforma

Would be great to contact them and ask if we can change their slug to `permatransforma` or `perma-transforma`.

In the meantime, I'm gonna take care of updating the host fee.

[2020-02-11 14:22] kewitz commented on #2858
@Betree @znarf related to API calls to TransferWise.
Considering that we need to proxy those calls because the token is private, how should we expose those endpoints?
Through GraphQL or REST?
What namespace or resolver should we use?

[2020-02-11 14:28] jfdh commented on #2896
Sure. For now, when people people choose to make a donation through bank transfer / virement bancaire on Open Collective, they receive an email "Action required". On this email, we are asking them to write a communication of this type: xr-belgium order 64329. This is nice because I can link the code 64329 from the bank account to what appears on my dashboard (but I need to check this for each paye

[2020-02-11 14:34] Betree commented on #2858
@kewitz can you provide more details or link to the docs about the endpoint we need to call?

[2020-02-11 14:42] kewitz commented on #2858
@Betree https://api-docs.transferwise.com/#recipient-accounts-using-account-requirements

[2020-02-11 18:07] elijahv commented on #2896
Want a section for managing collectives, both approved and pending.

I have several groups with a "pending" status that are in limbo. They're on my collective and I don't have a way to remove them.

[2020-02-11 19:48] kewitz commented on #2863
Fixed in https://github.com/opencollective/opencollective-api/pull/3350.

[2020-02-11 19:48] #2863 closed

[2020-02-12 07:45] znarf commented on #2860
Done.

[2020-02-12 07:45] #2860 closed

[2020-02-12 09:47] Betree opened #2905 "Contributors grid: implement horizontal scroll snapping"
Scroll snapping improves the experience of scrolling through horizontal lists, especially on mobile. We want to add this to the contributors grid to always display the full contributors cards when scrolled horizontally.

See https://github.com/opencollective/opencollective-frontend/pull/3511 for an example of how to achieve that.

![image](https://user-images.githubusercontent.com/1556356/74322946

[2020-02-12 10:06] Betree commented on #2858
@kewitz sad that their API forces us to create a quote to achieve this. Anyway we indeed need to abstract this complexity in the API, GraphQL should be the default for that.

Not sure about the namespace, that's a good question. We need something like a `paymentMethod` namespace with a `bankAccountRequirements` field, but I'm not really sure.

[2020-02-12 10:32] Betree commented on #2898
@JoyLubega it's added by the global css import in https://github.com/opencollective/opencollective-frontend/blob/eda9b0c2eeb1e87874764f851bf32d3a9b1f916a/pages/_app.js#L26

Not the way to go for this fix.

[2020-02-12 10:38] Betree opened #2906 "EditExpense: deadlock when running test locally"
In https://github.com/opencollective/opencollective-api/blob/0f1a2e7718277b5a5793b1811cccdb50c2080d81/test/server/graphql/v1/expenses.test.js#L1290, there's a deadlock when the test run locally. Most probable cause: we may be missing an await on a SQL query (for example on a `createActivity`).

![Screenshot 2020-02-12 at 10 55 16](https://user-images.githubusercontent.com/1556356/74326927-92635e00

[2020-02-12 11:04] piamancini commented on #2896
hi @elijahv you should see a pending applications tab on your host dashboard where you can reject expenses. We definitely need to improve usability here.

<img width="1169" alt="Screen Shot 2020-02-12 at 12 03 56 PM" src="https://user-images.githubusercontent.com/3671070/74329283-cd679080-4d8f-11ea-93d1-321026a2636a.png">

A different matter is that pending collectives should not show on your host

[2020-02-12 11:05] piamancini commented on #2896
@jfdh thank you! This is super useful

[2020-02-12 13:07] jfdh commented on #2860
Is there a place where these 3% percents go automatically on oc or should I add these manually each month in the collective I choose to manage the finance of the host?

[2020-02-12 13:29] kewitz commented on #2858
@Betree cool, I agree with that. I'll figure something out and submit for review.

[2020-02-12 15:11] brymut commented on #2887
Hi @znarf,
 I can't seem to recreate this but based on the recommendation [ here in the cypress docs](https://docs.cypress.io/guides/references/error-messages.html#cy-failed-because-the-element-you-are-chaining-off-of-has-become-detached-or-removed-from-the-dom) I think adding an extra assertion before the click to 'guard' against potential re-rendering in the middle of the test should address thi

[2020-02-12 15:11] #2887 closed

[2020-02-12 15:13] znarf commented on #2887
@brymut uhm, how should that look?

[2020-02-12 16:13] brymut commented on #2887
@znarf I was initially thinking along the lines of

`cy.getByDataCy('section-transactions').should('exist')`
      `.then(() => {`
          `cy.getByDataCy('section-transactions').click();`
        `});`

initially but that doesn't look like it would help. I think it should be to figure out why that re-render
 in the middle of the test happens?

@Betree , any ideas?

[2020-02-12 17:38] znarf commented on #2593
Most of the confusion is about the wording which is not appropriate. This was explained in:
https://github.com/opencollective/opencollective/issues/2593#issuecomment-552865967

These are NOT "tiers" which are displayed but "types" (individual and organization). Changing the copy should fix that confusion.

Also, DockSTARTer is not an "Organization" but a "Collective", this is why it's not appearin

[2020-02-12 21:44] alanna opened #2907 "Add free text field under Invoices & Receipts setting for hosts"
### User Story
As a host admin, I want to add text that appears on payment receipts to meet local regulations or my organization's needs. For example, charity entities may need to include specific language or tax ID numbers in order for those receipts to be tax deductible donations to a charity. Or they might just want to put a custom thank you message.

### Solution
Add a free text field below th

[2020-02-12 21:49] carbonpenguin commented on #2907
In the US context, this article outlines what is required in a letter from a 501c nonprofits in order for donations of in excess of $250 to be tax deductible, so it seems to make sense to have the receipts be able to include the relevant language. An article that gives the overview of that requirement is [here](https://www.thebalancesmb.com/the-link-between-donor-acknowledgement-letters-and-taxes-

[2020-02-12 22:49] nemchik commented on #2593
Thank you for all of that explanation, it clarifies A LOT!

[2020-02-13 08:07] Betree commented on #2907
What would be the best spot to display this in the receipt?

![image](https://user-images.githubusercontent.com/1556356/74413735-458d8f00-4e40-11ea-9b97-fd4f3e7c54df.png)

[2020-02-13 08:24] znarf opened #2908 "CI randomly failing because of `fsevents` dependency"
This is happening randomly but quite often.

<img width="1376" alt="Capture d’écran 2020-02-13 à 09 22 50" src="https://user-images.githubusercontent.com/806/74414866-8e464780-4e42-11ea-8471-b28938332c97.png">

Examples:
- https://github.com/opencollective/opencollective-api/pull/3358/checks?check_run_id=442790194
- https://github.com/opencollective/opencollective-api/pull/3356/checks?check_run_

[2020-02-13 08:53] Betree opened #2909 "Gift card contribution fails (stripe PaymentIntent error)"
**Describe the bug**
_Opening an issue to track the bug reported in https://opencollective.freshdesk.com/a/tickets/4230 and https://opencollective.freshdesk.com/a/tickets/4345._

Some users who try to contribute with Triplebyte's gift cards see this message:

![image](https://user-images.githubusercontent.com/1556356/74414968-bfbf1300-4e42-11ea-94ff-e472747292ef.png)

Unfortunately we didn't colle

[2020-02-13 09:25] alanna commented on #2907
Any of those are fine but lets go with Yellow in case someone wants to put a lot of text

[2020-02-13 14:49] #2790 closed

[2020-02-13 15:20] Betree commented on #2790
The bug is now fixed in prod. Transactions were properly updated, see https://opencollective.com/betree/transactions.

[2020-02-13 15:25] sbinlondon commented on #2873
@piamancini @znarf What 'categories' should be used? Same as the existing ones (i.e. 'opensource', 'association', and 'climate') or some new labels (i.e. 'community' for the middle one).

[2020-02-13 15:28] znarf commented on #2873
@sbinlondon The middle one is without category.

[2020-02-13 16:18] znarf commented on #2593
<img width="569" alt="Capture d’écran 2020-02-13 à 17 17 55" src="https://user-images.githubusercontent.com/806/74454859-cbcbc480-4e84-11ea-84d1-873616a682f7.png">

@nemchik Changes are live! Let me know if it works for you and if we can close this issue.

[2020-02-13 18:27] #2890 closed

[2020-02-13 20:01] carbonpenguin commented on #2907
Agreed!

[2020-02-13 22:11] alinamanko opened #2910 "Support Metrics Report January 2020"
### Support Metrics Report January 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/74482931-4f83c080-4f1a-11ea-92fe-054084cd677f.PNG)

The number of tickets received has increased very slightly (3%) from 167 in Decem

[2020-02-14 00:07] Betree commented on #2896
@piamancini they should not show indeed, we had this issue at some point but it has been fixed a while ago. If they are still showing then that's a new bug.

[2020-02-14 03:23] heyakyra commented on #2329
Might be nice to plug into SMS gateways for bulk text messages also

[2020-02-14 11:07] piamancini opened #2911 "Host Comms: Email Actions"
Host emails To Dos

- [x] Send email when they activate as host (~~@piamancini to finish draft~~ / @znarf to set up)
- [ ] change email when purchasing a plan (open collective tier) (~~Pia to finish draft~~)
- [x] detect when they are reaching an email / over add funds / collective limit (~~@piamancini to draft~~ / @znarf to set up)
- [x] monthly email when subscription is renewed (~~@piamancini t

[2020-02-14 11:10] piamancini opened #2912 "Host Settings and Plans: Changes and Updates"
We need to update some aspects of the paid plan feature and the Host settings.

- [ ] Move Bank Transfers to another place in the settings
- [x] Activate Bank Transfers by default up $1000
- [ ] Remove Activate / Deactivate as Host from Advanced to new fiscal hosting setting
- [x] update in the CF: grey out bank transfer after $1000 / Same for PayPal
- [ ] Move Stripe outside of connected accounts

[2020-02-15 11:28] xdamman opened #2913 "Collectives can't apply to host on legacy plan because of 25 collectives limit"
Our host https://opencollective.com/allforclimate was created last year and is under the legacy plan which means that there shouldn't be any limit. However, when people apply to host their collective on that host they get the error message that we have reached the limit of collectives we can host under our plan (25).

[2020-02-15 12:34] znarf commented on #2913
Hosts were assigned a legacy plan (small, medium, large) that was matching their current usage. So, this is working as expected.

We may tweak the plan for this specific host. cc @piamancini

[2020-02-15 12:55] xdamman commented on #2913
I see in the database that the plan is set to `legacy-large-host-plan` so something must be off.

[2020-02-15 13:56] xdamman opened #2914 "Enable "Updates" for organizations"
In the same way that we can have "Conversations" on the profile of an organization, it would be great if we could also have "Updates".

As a side note, it would be great if the profile of an organization could act as an open collective (which it already does behind the scene). This would remove the need to create a default root collective for the host (e.g. https://opencollective.com/foundation-co

[2020-02-15 21:16] chmac opened #2915 "Card auto fill broken on Chrome iOS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/generous-community
2. Click on pay
3. Scroll down to card details

Pressing your card information doesn’t result in entering data into the form, there’s no response.

**Expected behavior**
A clear and concise description of what you expecte

[2020-02-15 22:18] znarf commented on #2913
Large is up to 25 collectives so that is perfectly on point.

[2020-02-16 08:11] xdamman commented on #2913
Ah I didn’t know. 25 doesn’t seem like a “large” number. I also didn’t know that the legacy plan was restricting old hosts to their current usage and prevented them to grow. That wasn’t clear in the communication.

In any case thank you for giving me those precisions during the weekend!

[2020-02-16 18:42] piamancini commented on #2913
This what we said in the email we sent, I think it was communicated.

<img width="579" alt="Screen Shot 2020-02-16 at 7 38 27 PM" src="https://user-images.githubusercontent.com/3671070/74610491-f7a0b180-50f3-11ea-9d75-315839d185d8.png">

25 was what we agreed was the top level, there are few hosts over that. We can certainly look at upping the limit but again, we don't have that many hosts with +2

[2020-02-16 18:42] piamancini commented on #2914
Yes, this is something we need to do better.

[2020-02-16 18:58] xdamman commented on #2913
Ah ok. I missed that. Indeed I wouldn’t change this. At least not now.

AllForClimate falls in a different category though as it is a host that I created for the climate vertical. So I wouldn’t impose any such restriction on it in 2020 and then we can reconsider. Right now there is a 0% host fee so there isn’t any budget available. But I’m sure that this will change within the year. Working on it.

[2020-02-16 20:47] alanna commented on #2913
So will any host that does not charge host fees to its Collectives be able to have an unlimited account for free? That doesn't seem right to me @xdamman - we need large hosts to help support our sustainability, even if they are still working on their own. What about applying for a grant to help cover operational costs for AllForClimate, including the OC fees?

[2020-02-16 20:48] alanna commented on #2914
Related: #2314

[2020-02-16 21:03] alanna commented on #2912
Might want to add these detail to the main host settings update issue: #2665

[2020-02-16 21:30] xdamman commented on #2913
Of course not. That’s not what I wrote.

Absolutely

Absolutely.

So in the meantime we say no to new climate collectives that are waiting to apply to that host?

[2020-02-16 21:39] alanna commented on #2913
Well a lot of companies have a nonprofit discount deal so I thought maybe we should consider a policy about it. Maybe we should use AllForClimate as a test case for that.

I'll leave that to @piamancini to make the call. Above 25 Collectives we've agreed to do custom deals with hosts, but we haven't actually created guidelines for that yet.

[2020-02-16 22:02] xdamman commented on #2913
(Note: technically most of the fiscal hosts are not for profit (e.g. wwcode), so I’d be cautious with such a discount)

[2020-02-17 00:10] alanna commented on #2297
Bump. This has been requested again by users.

[2020-02-17 08:13] Betree commented on #2595
Bumping this, Gitbook broke the images on https://docs.opencollective.com/help/collectives/subcollectives for the second time and it's pretty frustrating.

[2020-02-17 08:43] znarf commented on #2909
Also landed a potential fix there: https://github.com/opencollective/opencollective-api/pull/3362

Not sure if it's better, I investigated a bit and we're seeing the error in the daily subscriptions, don't know if it's new.

[2020-02-17 08:44] znarf commented on #2710
Remove the assignment because it's been 11 days.

[2020-02-17 08:45] znarf commented on #1819
Removing assignment because it's been a long time, it was not far to be completed.

[2020-02-17 08:46] #2845 closed

[2020-02-17 09:01] Betree commented on #2909
opencollective/opencollective-api#3362 was deployed on 13th February but we had new occurrences since. For example on 15th: https://my.papertrailapp.com/groups/1997763/events?focus=1165563924424749060&selected=1165563924424749060

It seems that we miss the PM info for the host, but I'm not sure why logger didn't properly log the object:

![image](https://user-images.githubusercontent.com/1556356/7

[2020-02-17 09:05] znarf commented on #2909
Yes, it's what I saw in the daily subscriptions, it's related but it's not our Gift Card issue right?

Looks like `logger` doesn't stringify objects, we should use console.log or stringify manually.

[2020-02-17 09:44] joshikeno commented on #1819
@znarf
this problem only exists we `google` domains are blocked.
We can use an alternative `Geolocation Autosuggestion` service like [`#Maptiler`](https://github.com/opencollective/opencollective-frontend/pull/3356)  or [`osm`](https://osmnames.org/api/) when google is blocked.

[2020-02-17 09:46] znarf commented on #1819
@joshikeno we don't want to go that far here, we just want to fail elegantly and let the user know, the PR was almost ready.

[2020-02-17 09:48] joshikeno commented on #1819
Alright, understood.
I would take care of that.

[2020-02-17 09:50] joshikeno commented on #2710
@znarf does this issue persist?

[2020-02-17 09:51] znarf commented on #2710
Yes, it's visible in every E2E test run and reproducible when running E2E locally.

[2020-02-17 09:55] piamancini commented on #2913
It seems like an edge case, since we created the host ourselves. It was done by @xdamman while he was still full time on OC. I would treat it like Foundation / OSC. With the difference that in this case no fees are paid at all for added funds.

I think we should place them on a larger legacy plan for 2020 to a custom plan on the understanding of fairness, if the host grows to be able to cover thos

[2020-02-17 10:00] joshikeno commented on #2710
Alright, Understood.

[2020-02-17 10:06] piamancini commented on #2913
Host is unblocked. Closing the issue.

[2020-02-17 10:06] #2913 closed

[2020-02-17 13:02] contraexemplo commented on #2595
@Betree It's a really good thing you're sharing that because I noticed something like that recently and I was afraid it was my fault for not paying enough attention. :grimacing: I went through every page last month to check on every link and image and I had the impression that a few sections broke again *weeks after* I fixed them. :thinking:

[2020-02-17 13:09] Betree commented on #2595
Some of them are still broken like https://docs.opencollective.com/help/internal/moderation but I don't want to fix them now, I spent some time doing it too last week and don't want to loose more time if they haven't fixed it.

We should contact Gitbook to report this. Let me know if you want me to take care of it.

[2020-02-17 13:20] contraexemplo commented on #2595
@Betree Could you try sending them an email reporting this? I've sent them some emails a few times on bugs like this and some suggestions, but the only time I actually got a response was when GitBook had a long downtime last year. Also, should we open a new issue dedicated to this to track it or should we keep any discussions on that here?

[2020-02-17 13:20] Betree commented on #2750
Resolved by https://github.com/opencollective/opencollective-api/pull/3119

[2020-02-17 13:20] #2750 closed

[2020-02-17 13:33] Betree opened #2916 "Re-design comment actions"
# Problem

For comment actions (Edit, Remove...etc) we currently use buttons. This creates some problems:

- On mobile, we show just the icons without labels which is not a good practice for accessibility: icons interpretation may differ based on culture and personal experience. It's better to not use icons alone. See https://ux.stackexchange.com/a/1803 for the data behind this claim.
![image](htt

[2020-02-17 13:55] Betree opened #2917 "Documentation: images replaced by random ones from other pages"
**Describe the bug**
@contraexemplo and I have noticed a bug on Gitbook that swipe images on pages with random images from other pages. We've both spent time fixing them last week, only to notice new broken ones this morning.

Example: In https://github.com/opencollective/documentation/commit/483ac7ee4d0fe6c8d6801558166015b075e38729#diff-89537b8726a92a41faa90b620f9fd5ec I fixed the images for conv

[2020-02-17 13:56] Betree commented on #2595
Extracted the issue to https://github.com/opencollective/opencollective/issues/2917. I think we can send the text or a link to the issue directly to Gitbook.

[2020-02-17 13:58] piamancini commented on #2911
@znarf Email Document [here](https://docs.google.com/document/d/1GWlJIbZcYxT_MQvJFXOB4J5jluwLU16jYM0gBGaxD6g/edit?usp=sharing)

[2020-02-17 14:05] xdamman opened #2918 "Wrong regex for linkify on conversations"
When writing "(e.g. https://opencollective.com/fridaysforfuture-eu-socialmedia)", the closing parenthesis should not be included in the link.

![](https://d.pr/free/i/3jp4wI+)

See https://opencollective.com/fridays-for-future-europe/conversations/more-explicit-collective-name-04qjob68

[2020-02-17 14:26] Betree commented on #2918
Having parenthesis in the URL is not wrong (for example https://opencollective.com/file-(1)-valid.js is valid) but it's indeed a bad experience to have in included when it's a closing parenthesis and it's very common to do that. Here's Github behavior:

- Include in URL by default: https://opencollective.com/name-(1)
- Don't include if inside of a parenthesis: (ie. https://opencollective.com/name-

[2020-02-17 14:27] Betree commented on #1995
This is happening again https://opencollective.slack.com/archives/GDTJY7S48/p1581627301000700

[2020-02-17 15:15] Betree commented on #2845
:trophy: This issue has been completed by @joshikeno

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-02-17 15:16] Betree commented on #2556
Seems difficult to achieve. Will eventually revisit in the future.

[2020-02-17 15:16] #2556 closed

[2020-02-17 15:50] piamancini commented on #2355
Closing this as this is now BYS domain

[2020-02-17 15:50] #2355 closed

[2020-02-17 21:03] alanna opened #2919 "Add Collective name to top of Update emails"
Right now Update emails only show the Collective's logo. If you're not very familiar with it, it's hard to tell which Collective the update is from. I suggest we add the Collective name at the top (under the logo?).

![Screen Shot 2020-02-18 at 10 01 41 AM](https://user-images.githubusercontent.com/5498878/74686274-dfd14680-5235-11ea-8dcd-99e11ba572b8.png)

[2020-02-18 01:53] cuiki opened #2920 "Style update for the Open Collective platform UI"
## Problem
Now that some nice features have been rolled out such as the new Collective page, Conversations and the new Homepage with the awesome illustrations by Delfina, the need for an update to the UI's system is starting to show. Since these new features were implemented some important questions and on-the-fly solutions were made which makes it difficult to consistently grow the platform.

For

[2020-02-18 07:45] Betree commented on #2920
Hi @cuiki, I think you forgot to add a description for this one, it has the default template

[2020-02-18 10:01] rdinicut commented on #2905
Hi @Betree . I would like to give this a shot. Can you assign me please

[2020-02-18 10:15] Betree commented on #2905
Hi @rdinicut, thanks for jumping in :muscle: It's all yours!

[2020-02-18 10:26] Betree commented on #2894
## Current state

![Screenshot_2020-02-18 Programme de débug du partage - Facebook for Developers](https://user-images.githubusercontent.com/1556356/74727066-de594b80-5240-11ea-8771-281019bd7da4.png)

## New image

Image resolution for the share should be: `1200x630`. If we want the main page image in there, we will have to crop it like that (you can download & use the this version):

![makecommun

[2020-02-18 11:00] #1819 closed

[2020-02-18 13:27] kewitz opened #2921 "Missing Expense status filters in Dashboard"
Relates to #2836.

TransferWise added two new expense status: Processing and Error.
Make sure that we have these new status added as possible filters to the Host dashboard.

[2020-02-18 13:54] #2921 closed

[2020-02-18 18:36] Betree opened #2922 "New expense form: auto-save in local storage"
Require https://github.com/opencollective/opencollective-frontend/pull/3477

## User story
Expenses can include a lot of data and take some time to fill. If for any reason the page is closed (computer crash, app crash...etc) we want the data to be preserved so that users will find it when they return on the form later. This is the same need that we have in https://github.com/opencollective/opencol

[2020-02-18 18:38] Betree commented on #2922
Contributions to this issues are welcomed. Tho it's blocked by opencollective/opencollective-frontend#3477, most of it can already be tackled by implementing it for #2800 or by writing good tests demonstrating the behavior.

[2020-02-18 19:09] Betree commented on #2920
I like the fact that you're trying to address these small issues in a systemic way, I agree with your conclusion that they are correlated.

From the engineering's perspective the complexity is ok. The good thing about the design system that was introduced in the code is that doing these kind of changes platform-wise is now very easy. To [update the button colors](https://github.com/opencollective/

[2020-02-18 19:36] cuiki commented on #2920
Yeah, this is something I've battled with in the last few days. Since part of the approach is to experiment with this I'll be presenting a few alternatives on DemoFridays so the team can weigh in and collectively select a proposal.

[2020-02-18 21:35] piamancini commented on #2920
@cuiki Thank you for taking this on. I agree we need to be coherent and it makes sense to approach this systemically, specially as we move the page to a more synced look and feel with the homepage as anchor.

I also agree that the black navbar is difficult. @Memo-Es  proposed a black and white empty collective page (before there's any transaction or update, etc) and we decided to move away from it

[2020-02-18 21:36] piamancini commented on #2894
How do we change it?

[2020-02-18 21:37] piamancini commented on #2917
agh this is annoying. Still no word from gitbook?

[2020-02-19 11:11] Betree opened #2923 "New expense form: move from category to tags"
## User story
In the new expense form, we have deprecated the expense `category` field in favor of having tags. In the initial private release (https://github.com/opencollective/opencollective-frontend/pull/3477) these the `tags` input will be disabled. To support it we need to make a proper transition from the `category`.

## Best solution for this problem

### API

- [ ] Migration
  - [ ] Add a

[2020-02-19 11:13] Betree commented on #2917
@contraexemplo contacted them but I don't think they replied yet

[2020-02-19 11:15] Betree commented on #2894
It needs to happen in the code. I can do it if there's an agreement on the image above, but it's also a good first issue for any contributor that wants to participate.

[2020-02-19 14:55] piamancini commented on #2894
I think it's too important brand-wise and would love to have it done. The top image is a good choice.

[2020-02-19 17:10] Betree opened #2924 "ExpenseFlow: PayoutMethod's "complentary info" field behavior"
In the new expense flow, there is a `Complementary info` field in the **`2.  Payee & payout information`** step. I'm trying to figure out the exact behavior for this field:
1. **Is it linked to the expense?**
  In this case the information will not be saved for future expenses.

2. **Or is it linked to the payout method?**
  In this case the information will be saved for future expenses. It also m

[2020-02-19 17:29] chmac opened #2925 "Received emails meant for the fiscal host"
URL: https://opencollective.com/generous-community
Logged in as (username or profile URL): @chmac
Error message if any:
Expected result:
Browser:

I got this email:

<img width="586" alt="Screenshot 2020-02-19 at 18 25 09" src="https://user-images.githubusercontent.com/690997/74858388-87896a00-5345-11ea-97cb-ccdec0178cab.png">

But this is meant to go to the fiscal host to confirm that the payment

[2020-02-19 22:13] alanna opened #2926 "Some names showing as "null" in HelloWorks"
This is for the tax form system. In HelloWorks, most of the time it correctly shows the user's name on the list of sent forms. However, once in a while it shows "null" instead. This makes it hard to track down tax forms if there's an issue. The names are showing up correctly on the actual forms, just not in the list of sent files on the HelloWorks dashboard.

I originally thought this was a HelloW

[2020-02-19 22:17] alanna commented on #2924
This field was not in the original spec so I'm having trouble understanding what it's for.

Is this where users will put extra info they need to show on their invoices, such as a VAT number? Is this the field we need for privates notes that go along with a particular expense? Or is this notes about the payout method, such as company name?

Regardless, the phrase "complementary info" does not make

[2020-02-20 09:54] Betree opened #2927 "Create expense flow: clarify what info will be shared with collective/host admins"
## User story
- As a user submitting an expense on Open Collective, I want to know exactly what info of my personal profile will be shared with the third-parties I'm interacting with.
- As a GDPR regulator, I need to make sure that the platform is properly informing the users when their data is shared with third parties.

When you submit an expense to the collective, the following information from

[2020-02-20 10:09] Betree commented on #2894
@piamancini should this be the new default image, aka the one that will appear on shares by default (no matter if the page shared is the homepage or the pricing page)?

[2020-02-20 11:21] znarf commented on #2297
@alanna I removed "bounty candidate" when we added "hackathon" but we then removed "hackathon".

[2020-02-20 11:30] znarf commented on #2926
It's relying on deprecated columns that are `null` for the most recent accounts. Should be an easy fix.

[2020-02-20 11:36] znarf commented on #2925
I merged and deployed a fix yesterday night. https://github.com/opencollective/opencollective-api/pull/3383 Should be fixed!

[2020-02-20 11:36] #2925 closed

[2020-02-20 12:30] piamancini commented on #2924
@alanna Is a field we need for privates notes that go along with a particular expense - For example when Ben adds monthly salary and includes xx days off for reference.

@Betree I would title it:  'Additional Information (optional)' it is linked to the expense itself - it shouldn't be saved for the future.

[2020-02-20 13:20] Betree commented on #2924
@piamancini then I don't understand what's the difference with the **`Add notes (Optional)`** field on the summary step:

![image](https://user-images.githubusercontent.com/1556356/74937331-1e106680-53ec-11ea-8443-d677ebb799bd.png)

[2020-02-20 13:38] Betree opened #2928 "Improve the way we record added funds"
When we need to add funds on an organization that already added funds in the past, the preferred way is currently to update the `initialAmount` field on the payment method. We do it like this to make sure that subscription are preserved and to avoid having a payment method with a few dollars left on it.

It has however one major drawback: we don't record **when** the new funds were added. That's a

[2020-02-20 15:02] Betree commented on #2924
Decision from the meeting:

**The goal for this field is to put information that you want to see on the invoice.** So:

- Rename field to `Additional invoice information`
- Field will not be displayed if you pick the "Receipt" expense type
- Field will not be saved for future expenses
- Use the following placeholder:

- Switch the fields to make it clear that the info is linked to your profile, no

[2020-02-20 15:18] piamancini commented on #2927
Go ahead with the changes. Thank you Ben. Good catch

[2020-02-20 18:27] Betree opened #2929 "Move away from @rebass/grid"
The `@rebass/grid` package that we're using has been discontinued and has not been updated for the last 6 months (see https://github.com/rebassjs/grid).

Repo maintainer(s) recommend to switch to https://rebassjs.org/reflexbox.

**I see two ways to move forward with this issue:**

- Re-implement the components internally. This would be very fast, `@rebass/grid` relies on `styled-system` so in the

[2020-02-20 19:43] rdinicut commented on #2905
@Betree I managed to look a little at the code. IMO the proposed solution, using scroll-snap-type will not work with the current implementation because the component(ContributorsGrid.js) renders and positions it's children programmatically. Looks like it is trying to implement virtual scrolling. Also it has an inner container with a calculated width based on number of items and rows it wants to re

[2020-02-20 20:33] kewitz commented on #2929
Interesting, I think the ideal would keep up with `reflexbox`.
I think we can use just the `reflexbox` package without having the other ton of primitives:
[code]
I'm just not sure how Theming will play with all this.
More info about the package here: https://github.com/rebassjs/rebass/tree/master/packages/reflexbox

[2020-02-20 22:01] Betree commented on #2929
@kewitz Ah yes, good catch! That eliminates one of the two concerns.

Still I wonder what would be the advantage of:

[code]

Versus

[code]

With the second, you can easily look at the code to understand what happen, no need for external docs. These component are so simple, I don't see the value of externalizing them.

[2020-02-21 07:25] znarf commented on #2297
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:26] znarf commented on #2605
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:34] znarf commented on #2730
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:34] znarf commented on #2792
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:38] znarf commented on #2802
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:38] znarf commented on #2800
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:42] znarf commented on #2808
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:42] znarf commented on #2861
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:42] znarf commented on #2882
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:43] znarf commented on #2907
A $200 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:45] znarf commented on #2915
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 07:46] znarf commented on #2918
A $100 bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged. [More info](BOUNTY.md)

This bounty is currently reserved to participants of the Open Source Festival event. If not completed there, it will be later open to everyone.

[2020-02-21 08:16] Betree commented on #2800
See https://github.com/opencollective/opencollective/issues/2922 for the specs to implement the `FormPersister` library to allow that.

[2020-02-21 09:13] Betree opened #2930 "Log SignIn requests"
In the context of #2741 and to increase our general security, we want to start login when people click on a sign in link.

## Best solution for this problem
Ideally we should have a `SignInRequests` table that logs **all** entries with the `UserId`, `ipAddress` and other information like the request headers. For legal reasons, we would have to clear old entries after a certain period (need to chec

[2020-02-21 09:43] #2926 closed

[2020-02-21 10:05] Betree commented on #2907
# Specs

## Frontend

On `Host > Settings > Invoices & Receipts` (`components/edit-collective/EditHostInvoice.js`) add a new textarea field with the label `Extra info` and the description:

Must save the given extra info in `collective.settings.invoice.extraInfo`.

![image](https://user-images.githubusercontent.com/1556356/75024298-72255480-5499-11ea-8bad-431db125c6aa.png)

## Invoices

Service: h

[2020-02-21 10:32] prondubuisi commented on #2918
Hello @znarf do I need to claim this bug before I can work on it,?

[2020-02-21 10:33] znarf commented on #2918
@prondubuisi I assigned you!

[2020-02-21 10:45] prondubuisi commented on #2918
@znarf Please can I get a link to the file where this regex resides? also how can I experience this bug first hand? I already have the frontend for opencollective set up
![Osca](https://user-images.githubusercontent.com/22311928/75027925-a734a580-549f-11ea-8adc-e0174d710321.png)

[2020-02-21 11:17] znarf commented on #2918
Sign In, Create a collective, Then post a message in the conversations.

The regex? Not sure, I'll share it once I find it.

[2020-02-21 12:48] Betree commented on #2923
Duplicate of https://github.com/opencollective/opencollective/issues/2823

[2020-02-21 12:48] #2923 closed

[2020-02-21 12:59] vinuch commented on #2907
hello @znarf  i would liike to work on this issue could you assign it to me

[2020-02-21 13:04] znarf commented on #2907
@vinuch You're assigned!

[2020-02-21 13:44] #2924 closed

[2020-02-21 13:45] kewitz commented on #2929
Yep, I agree.

[2020-02-21 13:53] sbinlondon commented on #2929
+1 for a code heist, then we can even minimise the number of components we have - i.e. you told me `Container` was just `Box` with some add ons. So we could just make our new `Box` fit every use case we need, right?

[2020-02-21 13:56] kewitz commented on #2929
I'm sorry, I didn't mean to heist! 😅
Make sure to include `rebass/grid` license in the header of our `./FlexBox.ts`!

[2020-02-21 14:02] Betree commented on #2929
We could but I think having a separation has some benefits, though we should document it properly.

`Box` should be as simple as possible and **only about layout** (size, space, margins...etc).
`Container` is also about **styling**: box-shadows, border colors, background...etc

While it's true that using only `Container` could work, it would also have a performance impact.

[2020-02-21 15:38] Betree commented on #2905
@rdinicut thanks for digging that! You did a great job understanding the issue and explaining the implications :pray:

It is virtual scrolling indeed, if you look at the DOM while scrolling you'll notice that the items come and go. You're right that we won't be able to use CSS scroll snapping with this code and it's a huge task to re-implement virtual scrolling without this technique.

That would

[2020-02-21 15:48] rdinicut commented on #2905
@Betree ok, I will look for another issue that think I can pick up then. Any suggestions?

[2020-02-21 15:53] Betree commented on #2927
Alright thanks!

[2020-02-21 15:57] Betree commented on #2905
@rdinicut this one may be a good one :slightly_smiling_face:  : https://github.com/opencollective/opencollective/issues/2830

[2020-02-21 15:57] #2905 closed

[2020-02-21 15:59] Betree commented on #2830
To make it simple:

Let's have a `https://opencollective.com/discover/:tag?` URL to pass the tag as a URL parameter rather than a query parameter.

May only concert is tag with spaces, like `open source`. I don't know how these will play out with that. @znarf any opinion?

[2020-02-21 20:31] Devvyky commented on #2861
@piamancini can you assign the issue to me

[2020-02-21 20:39] Oghenebrume50 commented on #2802
Hi @znarf can I be assigned to this, I attended the open-source festival event

[2020-02-21 20:41] Devvyky commented on #2861
@piamancini I'd like to work on this issue. Can you assign the issue to me

[2020-02-21 22:08] claretnnamocha commented on #2808
@znarf I would want the task to be assigned to me

[2020-02-22 03:49] XVilka commented on #2661
You can list only forks in the GitHub and remove them in a batch:
https://github.com/opencollective?utf8=%E2%9C%93&q=&type=fork&language=

[2020-02-22 05:24] vinuch commented on #2907
@znarf how do i navigate to the invoice and receipts page ?
i have created a new collective but in the settings the sidebar stops at advanced so i cant navigate to the invoice page and view my changes

[2020-02-22 09:12] Ebugo commented on #2800
Hi @znarf I'd love to work on this issue. Could you assign it to me

[2020-02-22 09:37] AdetunjiTejumade commented on #2903
Can i work on this?

[2020-02-22 09:37] znarf commented on #2800
@Ebugo you're assigned!

[2020-02-22 09:38] znarf commented on #2808
@claretnnamocha you're assigned!

[2020-02-22 09:38] znarf commented on #2861
@Devvyky you're assigned!

[2020-02-22 09:39] znarf commented on #2903
@AdetunjiTejumade you can try, but there is no bounty on it!

[2020-02-22 09:39] znarf commented on #2802
@Oghenebrume50 you're assigned!

[2020-02-22 09:41] znarf commented on #2907
@znarf the settings can be found in the Organization that is hosting the Collective, not the Collective itself. You need to create an organization to see that.

[2020-02-22 09:42] Ebugo commented on #2800
Alright, thanks. Would get to work asap.

[2020-02-22 10:46] olawanlejoel commented on #2894
Seems this has still not been fixed yet

[2020-02-22 12:43] Shulammite-Aso commented on #2809
hello Znarf, I would love to work on this issue, can it be assigned to me?

[2020-02-22 12:47] codemutatio commented on #2605
hello @znarf i would liike to work on this issue could you assign it to me

[2020-02-22 13:07] Devvyky commented on #2861
thanks @znarf
I'd like to confirm that the repository for generating the receipt PDF file is this https://github.com/opencollective/opencollective-invoices

[2020-02-22 13:51] joshikeno commented on #2918
@prondubuisi

To experience the bug follow referenced instructions.

Checkout this file:
https://github.com/opencollective/opencollective-frontend/blob/a8d865ade358129f4290269b56a46718a9a42afc/components/RichTextEditor.js#L267

[2020-02-22 13:57] vinuch commented on #2907
alright i have found that i have updated the text area  having trouble saving the value though in the api

[2020-02-23 02:05] olawanlejoel commented on #2861
@piamancini I'd like to work on this issue. Can you assign the issue to me

[2020-02-23 04:55] claretnnamocha commented on #2808
@znarf could you please point me to the page that has the data export feature by collectives

[2020-02-23 05:27] KarenEfereyan commented on #2903
Can I try to solve this as my first open source contribution?

[2020-02-23 09:22] znarf commented on #2861
Yes, happening there:
https://github.com/opencollective/opencollective-invoices/blob/master/src/server/controllers/transactions.js#L136
https://github.com/opencollective/opencollective-invoices/blob/master/src/server/controllers/transactions.js#L82

But also here:
https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/queries.js#L353

[2020-02-23 09:24] znarf commented on #2808
Collectives can export data here: https://opencollective.com/acme/edit/export

Hosts don't have export yet so the section needs to be added for them.

[2020-02-23 09:26] znarf commented on #2605
@codemutatio You're assigned!

[2020-02-23 09:27] znarf commented on #2809
@Shulammite-Aso This is still assigned to someone else.

[2020-02-23 09:27] znarf commented on #2894
@olawanlejoel There is a PR open https://github.com/opencollective/opencollective-frontend/pull/3563

[2020-02-23 12:15] Andarist commented on #2002
BUMP for stale bot

[2020-02-23 12:55] jeffin143 commented on #2792
Hi @znarf , It has been long time I haven't be in touch with the codebase, Can you point me to the file where I have to implement the feature.

Thanks

[2020-02-23 13:48] bolariin commented on #2792
I took a look at this yesterday, I think the implementation would go here https://github.com/opencollective/opencollective-frontend/blob/master/components/collective-page/CollectiveNotificationBar.js

You might also want to take a look at https://github.com/opencollective/opencollective-frontend/blob/master/pages/new-collective-page.js

[2020-02-23 21:55] Je-ni commented on #2792
Hi @znarf , I would like to work on this feature.

I have the front-end setup, and have tried creating an event to view the legacy 'moving event balance to parent' feature, but can't seem to see it.

Could you give me some pointers?

[2020-02-23 21:55] Devvyky commented on #2861
Okay, thanks so much for the information @znarf

[2020-02-24 00:06] bolariin commented on #2297
What is the expectation if the financial contributor is made by a collective or an org?

[2020-02-24 04:07] vinuch commented on #2907
hey @znarf  i have done the first part (added the text area and saved its value to _(collective.settings.invoice.extraInfo_) the last thing is to display that value in the "yellow area " on opencollective-invoices but i cant seem to reference an "extra info" property on the test invoice that displays there, i'd expect that since im just adding the extra info feature but my question is - How can i

[2020-02-24 04:43] prondubuisi commented on #2918
Hello @znarf @joshikeno  This is what I have done so far
![First Collect](https://user-images.githubusercontent.com/22311928/75129054-8c447a00-56c7-11ea-970b-2b5b1e28821a.png)

Select Open Source Project, and try a URL with parenthesis
![Collect 2](https://user-images.githubusercontent.com/22311928/75129086-b007c000-56c7-11ea-9282-f60dd33c0bbd.png)

I think this is the expected error that I should

[2020-02-24 05:46] joshikeno commented on #2907
@vinuch when creating a PR make use of  markdown links with the full url path to this issue

[2020-02-24 08:26] Betree commented on #2364
Seems that setting the canonical URL did its job:
![image](https://user-images.githubusercontent.com/1556356/75137295-88285480-56e7-11ea-90e1-ad2feb386fe3.png)

However we keep seeing entries in the logs, so there's still places where these are linked.

[2020-02-24 09:15] znarf commented on #2907
@vinuch You need to donate to a collective hosted by the Organization. So:

1) Activate the organization as Host (if not already done)
2) Apply to the Host using a Collective you administrate
3) Donate to the Collective using any account.
4) You should get an invoice for the donation

[2020-02-24 09:16] Betree commented on #2918
@prondubuisi the paths you're testing are not supposed to be affected by this issue. The affected component is the `RichTextEditor`, to try it you need to go to the **conversations** page. After creating a collective, go to `/{collectiveSlug}/conversations/new`, the component that needs a fix is the main text field for the conversation body.

[2020-02-24 09:18] znarf commented on #2297
@bolariin Good question. I think it's ok to just ignore it for now.

[2020-02-24 09:22] znarf commented on #2792
@Je-ni What is the event address you're looking at? Can you try adding `/event` at the end?

Also, make sure the Event has a positive balance (register a paying ticket) and that the event is over (the end date is in the past). These are conditions for the feature to be visible.

[2020-02-24 10:28] #2894 closed

[2020-02-24 10:48] Betree commented on #2007
Got someone asking about this for Italian today.

@znarf A simple way to fix it would be to use the same term for all entries. Should we use the term `Account` (ie. `Archive this account`) for all of them?

[2020-02-24 12:37] sbinlondon commented on #2874
Update:

* As discussed in the call last week, I'm making a new Github component that breaks the form out of the 'pick a repo' bit and redirects instead to the new Create Collective Flow form

[2020-02-24 12:38] sbinlondon commented on #2875
Update/still to do:

* error handling
* tablet responsiveness (mobile is done)

[2020-02-24 12:39] sbinlondon commented on #2873
Update/still to do:

-  error handling
-  tablet responsiveness (mobile is done)

[2020-02-24 12:46] bolariin commented on #2826
@Betree For this issue should all expense related pages be updated to the new navbar such as `:eventSlug/expenses/new` and `:eventSlug/expenses/:ExpensesId`

[2020-02-24 13:48] Betree commented on #2826
@bolariin absolutely, thanks for catching that I missed the fact that these pages were using it too.

[2020-02-24 15:24] Memo-Es commented on #2366
### Illustrations for the Create Collective Page sections
Any feedback? @piamancini

Contribute | Updates | Conversations | Budget | Events | About
------ | ------ | ------- | ------- | ------- | -------
<img width="314" alt="Screen Shot on 2020-02-24 at 08-47-48" src="https://user-images.githubusercontent.com/49539954/75164391-6084bc80-56e6-11ea-85be-95901c8ce0e3.png"> | <img width="303" alt="Scr

[2020-02-24 15:35] piamancini commented on #2366
all good to go @Memo-Es -

[2020-02-24 16:01] vinuch commented on #2907
ok thanks ill get on it

[2020-02-24 16:10] Betree commented on #2823
An alternative to this proposal is to store the expense's tags at the conversation level. Because expenses are embed in conversations and conversations already have tags, it could make sense to use it.

[2020-02-24 16:25] joshikeno commented on #2792
@Je-ni Please indicate if you are from `OSCA`

[2020-02-24 16:28] joshikeno commented on #2297
@bolariin Please indicate if you are from `OSCA` as this issues tagged `OSCA` is reserved.

[2020-02-24 16:45] bolariin commented on #2297
Oh my bad, I didn't know about that. I'm not part of `OSCA`. Sorry about that.

[2020-02-24 19:30] Je-ni commented on #2792
I am from OSCA

[2020-02-25 00:24] hacktivist123 commented on #2802
Hi, can i be assigned to this, since there is no progress yet?

[2020-02-25 00:27] hacktivist123 commented on #2710
hello, @znarf can you assign this task to me?

[2020-02-25 00:30] hacktivist123 commented on #2297
Hello @znarf can you assign me to this task, i am from osca.

[2020-02-25 08:04] Ebugo commented on #2800
Hi, I've been having loads of issues replicating the conversations environment on my windows OS. I had to install Ubuntu, and would need some time to set up. Thanks.

[2020-02-25 08:09] znarf commented on #2800
@Ebugo what were the problems with windows?

[2020-02-25 09:09] vinuch commented on #2907
@znarf i have donated but when i click download invoice i get "_Error: Network request failed_"
and this in the console

_Access to XMLHttpRequest at 'https://invoices-staging.opencollective.com/transactions/d25ef750-0cd8-4ffd-bf74-d129b8ca979b/invoice.pdf' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The 'Acc

[2020-02-25 09:21] znarf commented on #2907
@vinuch One solution is to bypass CORS with a browser extension (for development purpose).

The best solution I see is to run the invoice service yourself locally. See: https://github.com/opencollective/opencollective-invoices

Make sure you have the same `.env` in both `frontend` and `invoices` projects:

[code]

[2020-02-25 10:18] #2919 closed

[2020-02-25 10:20] znarf commented on #2802
@Oghenebrume50 any progress? can we assign that to someone else?

[2020-02-25 10:31] Ebugo commented on #2800
Failed to compile
./components/collective-page/images/HeroBackgroundMask.svg 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

|   xmlns="http://www.w3.org/2000/svg">
|   <path opacity="0.2" d="M31.9856 0.000437154C220.409 253.606 823.256

[2020-02-25 16:52] vinuch commented on #2907
ok i made the _`.env`_ files the same in both projects but it was still not working so i got a browser extension to bypass CORS and that did the trick

but i have another problem i cant seem to figure out how to pass the value of the input area to `opencollective-invoices` to print it on the receipt. I tried copying the exact same thing that was done for the title but i think im still missing some

[2020-02-25 17:00] znarf commented on #2907
@vinuch You can browse past PRs here: https://github.com/opencollective/opencollective-invoices/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+-author%3Aapp%2Fdependabot-preview+

[2020-02-26 04:20] bolariin commented on #2494
I think this issue might be resolved because I noticed that `invalidateContributorsCache` was called in `Collective.js` in both [addUserwithRole](https://github.com/opencollective/opencollective-api/blob/32fab8e14166a0158234caae0b4200c05f22ddbb/server/models/Collective.js#L1396) and [editMembers](https://github.com/opencollective/opencollective-api/blob/32fab8e14166a0158234caae0b4200c05f22ddbb/ser

[2020-02-26 07:44] #2898 closed

[2020-02-26 07:45] #2816 closed

[2020-02-26 07:51] Oghenebrume50 commented on #2802
Hi, @znarf  sorry for the late reply, so sorry for the late reply I had issues with my PC and I would really like to work on this
So, I tried setting this up and I keep getting this password authentication issue, I cannot trace where to set the password,  the opencollective_dvl database is already created, I just needed to authenticate with the right password, but I cannot get the file this is in

[2020-02-26 08:40] Betree opened #2931 "Include VAT number in receipts"
Customers in the EU legally needs to have their VAT number printed on their receipts.

If a VAT number is set, show it under the address:

![image](https://user-images.githubusercontent.com/1556356/75326957-dcfcd400-587b-11ea-95dc-21f2a2b0133b.png)

[2020-02-26 09:34] znarf opened #2932 "Move "Edit Event" to "Edit Collective""
Currently, Events are using their own edition. We would like to migrate to what is already in place for Collective, Organization and User.

[2020-02-26 09:40] #2826 closed

[2020-02-26 09:54] Betree commented on #2494
@bolariin we only do it for admins and members. Financial contributors (`roles.BACKER`) and event's attendees (`roles.ATTENDEE`) currently don't trigger a refresh.

I would say that no matter the role, we should always refresh the cache when adding a member to a collective. So either we update that part of the code, or we factorize everything in a Sequelize `afterCreate` [hook](https://devdocs.io/

[2020-02-26 11:19] bolariin commented on #2494
@Betree thanks for explaining things

[2020-02-26 12:07] Ebugo commented on #2800
@znarf Do you think this can be solved fast enough?

[2020-02-26 12:10] znarf commented on #2800
@Ebugo No idea. We're not actively looking at it. Feel free to create an issue with steps to reproduce.

[2020-02-26 14:10] Ebugo commented on #2800
Alright

[2020-02-26 14:19] kewitz opened #2933 "[TransferWise] Use static IP for securely requesting the API"
TransferWise allow us to protect a token by whitelisting the request IP.
Since this is set up when creating the Token, we should have this from day-0 to make sure all hosts use it.
We should take advantage of that to provide as much security as we can.

[2020-02-26 16:31] contraexemplo commented on #2917
@Betree no word yet? 😞

[2020-02-26 17:13] Betree commented on #2917
@contraexemplo I misunderstood your previous comment and thought you were sending them an email. Sorry about that! I'll contact them now.

[2020-02-26 18:33] JoyLubega commented on #2809
@znarf I think this should be closed too

[2020-02-26 18:59] Betree commented on #2818
I'm opening a ticket about this issue with Zeit now.

[2020-02-26 19:56] znarf commented on #2818
The easy answer for them will be to say that their API v1 is about to be deprecated and that we should not be using it.

[2020-02-26 20:53] paulogdm commented on #2818
@znarf Negative. There are a few layers of this problem that I've clarified on the ticket request:
- When using Now 1.0, it can take a while for the server to warm up if you are not using a fixed scaling configuration.
- EAI_AGAIN is a Docker related error and we can't fix it at the platform level. We do recommend that you try other Dockerfiles to see if it improves.

Now 1.0 will be deprecated th

[2020-02-26 21:33] znarf commented on #2818
@paulogdm Sorry, I deleted my earlier comment because I thought it was not appropriate here.

Thank you for helping and providing your input again, much appreciated! We don't plan to go serverless yet and so Now 1.0 is unfortunately still the best platform for our case!

[2020-02-27 08:24] #2882 closed

[2020-02-27 08:25] znarf commented on #2882
🏆 This issue was completed by @bolariin

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-02-27 08:26] znarf commented on #2809
🏆 This issue was completed by @JoyLubega

To claim the bounty please, as a recurring contributor, please simply add it to your next invoice to Open Collective Engineering https://opencollective.com/engineering/expenses/new  Please make sure to mention the ticket number in the invoice and in the expense title.

[2020-02-27 08:27] #2809 closed

[2020-02-27 08:28] znarf commented on #2710
@hacktivist123 You're assigned! We'll love to see progress within 7 days, after that we might assign it to someone else.

[2020-02-27 08:30] hacktivist123 commented on #2710
Okay

On Thu, 27 Feb 2020 at 9:28 AM, François Hodierne <notifications@github.com>
wrote:

--
shedrack akintayo about.me/shedrackakintayo

[2020-02-27 08:38] Betree opened #2934 "Tiers: properly support float amounts"
Tiers with float amounts are not properly supported. There are a bunch of small steps that we need to take to unlock that:

- [ ] When editing a tier (`/{slug}/edit/tiers`), the `Amount` fields **already supports** float amounts. We should do the same for the following fields:
  - [ ] Minimum amount
  - [ ] Default amount
  - [ ] Suggested amounts
- [ ] Make sure that these changes work with the c

[2020-02-27 08:40] Betree commented on #2934
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

---

Please follow our [code guidelines](https://docs.opencollective.com/help/developers/best-practices-and-code-guidelines),

[2020-02-27 08:49] znarf commented on #2297
@hacktivist123 you're assigned on another issue, let's focus on that.

[2020-02-27 08:51] znarf commented on #2605
@codemutatio Any progress? We'll have to unassign you if there is no significant activity within the next days.

[2020-02-27 08:52] znarf commented on #2792
@Je-ni any progress on that?

[2020-02-27 08:54] znarf commented on #2802
@Oghenebrume50 I don't know, maybe you need to tweak your database credentials in your configuration. See the `.env` file and  `PG_DATABASE`, `PG_USERNAME`, `PG_PASSWORD`, `PG_HOST`, `PG_PORT` environment variables.

[2020-02-27 08:55] znarf commented on #2808
@claretnnamocha Any progress? Fyi, we'll have to unassign you if there is no significant activity within the next days.

[2020-02-27 08:55] znarf commented on #2861
@Devvyky Any progress? Fyi, we'll have to unassign you if there is no significant activity within the next days.

[2020-02-27 08:55] znarf commented on #2907
@vinuch any progress?

[2020-02-27 08:56] znarf commented on #2918
@prondubuisi any progress?

[2020-02-27 09:00] prondubuisi commented on #2918
Hello @znarf not really I am still trying to figure out what part of the function to apply. The fix. I am a little slow because I am having exams. I should be able to send in A PR by weekend. Thanks

[2020-02-27 09:13] znarf opened #2935 "Naming GraphQL inputs"
I would like to introduce the following rules for naming inputs:

- All inputs should finish by the suffix `Input`
- Inputs to create and update a given object should simply be named like the object: `CollectiveInput`.
- If they need to be more specific, they should be suffixed with `CreateInput` or `UpdateInput`. ie: `ExpenseCreateInput`, `ExpenseUpdateInput`
- Inputs to reference an object shoul

[2020-02-27 09:28] Betree commented on #2935
Agree with the full proposal, especially `{Object}ReferenceInput`. We're probably going to have a bunch of them to transition smoothly between API V1 and V2 so a proper way to differentiate is required.

[2020-02-27 09:34] znarf commented on #2935
As a transition strategy, I'm proposing a simple breaking change in the API, followed by an immediate Frontend deployment.

[2020-02-27 09:41] vinuch commented on #2907
@znarf here are links to my pull requests
frontend - https://github.com/opencollective/opencollective-frontend/pull/3600
invoices - https://github.com/opencollective/opencollective-invoices/pull/260
api - https://github.com/opencollective/opencollective-api/pull/3431

[2020-02-27 11:03] Betree opened #2936 "Review buttons to process expenses"
_In the context of #2394 and #2896_

# User story

As a collective or host admin, I'm confused by the number of call to actions for each expense, up to 4 of them. I sometimes refereed as the "Christmas tree" issue for this, because the buttons use alternatively red (danger), blue (primary), greed (success) and white (standard) styles which doesn't create a hierarchy between them.

![image](https:/

[2020-02-27 12:49] contraexemplo commented on #2917
@Betree Oh, that's ok! No worries.

[2020-02-27 13:08] kewitz commented on #2935
I'm all-in for consistency.

[2020-02-27 15:37] Devvyky commented on #2861
There's progress @znarf I'd be done soon, I plead

[2020-02-27 19:58] Je-ni commented on #2792
No @znarf. I'm a lot confused with the codebase.

[2020-02-27 20:17] znarf opened #2937 "Create Collective Form: finish and polish"
### Category Picker

- [x] Final "examples" links (`discover=[category]`
- [x] fixed fonts

### Generic Form (Community / Climate)

- [x] Fix gap between Title (Create a Collective) and Top Bar
- [x] Remove mentions to Guinea Pigs. Sorry @sbinlondon! (Agora)
- [ ] 'create collective' loading button feedback
- [x] description should be max 160 characters
- [x] fixed fonts

### "Open Source Flow": W

[2020-02-27 23:25] flaki opened #2938 "Received a notification email about adding someone else as a collective admin"
**Describe the bug**
I have received a notification email with the subject

Which is completely true, I did add Elina, the co-organizer to the collective, but I have received a notification *as if I was her*. The email's to field actually displays "elina@...", which is her email and greets me as her (but I'm quite obviously not her, and I know she was added to the community as I added her). The em

[2020-02-27 23:29] flaki commented on #2938
Oh the email does state

but the email itself does not display my email address in the address lists (`to`/`cc`/`bcc`), just Elina's in the `to` field.

[2020-02-28 06:49] brymut commented on #2934
Hi @joshikeno, noticed that you're recently assigned on #2730 , would you mind if I had a go at this?

[2020-02-28 06:58] znarf commented on #2938
Thank you @flaki! We will look into it. This might be related with https://github.com/opencollective/opencollective/blob/master/postmortem/2019-12-23-add-core-contributor-email-cc.md

[2020-02-28 07:33] Betree commented on #2938
It is linked to https://github.com/opencollective/opencollective/blob/master/postmortem/2019-12-23-add-core-contributor-email-cc.md indeed. This one is not considered as a security issue because you only get this email **after** the person accepts the invitation (thus they already accepted to share their email address with the other collective admins).

But it's definitely not clear in the email w

[2020-02-28 07:46] joshikeno commented on #2934
@brymut totally, have a go.

[2020-02-28 08:36] joshikeno commented on #2730
@znarf

I don't really understand the above statements.
Should I enable this feature based on the flag `isHostAccount `?

[2020-02-28 08:43] joshikeno commented on #2730
Basic Implementation;
* An `currency` can be chosen from a list of `hardcoded currency options`.
* `Value (currency type)` would sent to the `API`, If action is rejected display an message like: `User or Organization can't set currency`.

[2020-02-28 09:07] znarf commented on #2730
@joshikeno yes, this should only be available to `User` and `Organization` with `isHostAccount=false`

[2020-02-28 09:09] #2906 closed

[2020-02-28 10:02] Betree commented on #2937
- I get a loading spinner when I open https://staging.opencollective.com/create/v2. Showing the page with disabled buttons during SSR would be nice.
- `See examples` links are missing an `href`
- On general flow, back button seems far away (also shouldn't it be black?)
![image](https://user-images.githubusercontent.com/1556356/75537284-056d0580-5a17-11ea-9f08-3e0a94640795.png)
- 30 characters for

[2020-02-28 10:35] sbinlondon commented on #2937
Re: examples links, are we just linking to one Collective that is the same `category`? Or what?

[2020-02-28 10:41] znarf commented on #2937
I would like to discover, ie: https://opencollective.com/discover?show=community This will be likely later edited but it's a good start.

[2020-02-28 10:55] znarf opened #2939 "Fixed Tiers should have no presets and minimum amount"
We should migrate all such entries in the database. And make sure these properties are reset when the `amountType` is `FIXED`.

[2020-02-28 11:34] sbinlondon opened #2940 "Update expiring cards cron and add reminder"
The way we built the 'your credit card is expiring' cron, we were going to email on the first of the month that the card was due to expire.

However, this can get noisy with lots of other emails sent at that time. We need to pick a new time, and potentially also add a reminder email later in the month.

I propose the 7th and 21st. So about 1/4 and 3/4 of the way through the month. That way it won’

[2020-02-28 11:47] sbinlondon commented on #2935
Just to add another +1 to the chorus, consistency is always a good thing.

[2020-02-28 12:19] victorb commented on #2035
@Betree I was looking at #1326 which lead to #2394 and took a look to find which issue I should subscribe to, so I know when the API endpoint for generating an invoice is done. However, I cannot find any references there about generating invoices via API (in fact, the word "API" is never even mentioned in that issue-thread), could you please point me in the right way?

[2020-02-28 13:19] #2933 closed

[2020-02-28 13:28] kewitz commented on #2940
I like that, sounds like good UX.
Also, I'm not completely sure, but I think expiration dates are inclusive, which means that we should be sending emails to credit cards expiring in the current month.

[2020-02-28 13:31] znarf commented on #2940
This is what we do.

[2020-02-28 14:10] bolariin commented on #2891
I found that the reason the ticket is sent is because a ticket is always sent if the collective type receiving the payment is an event.
https://github.com/opencollective/opencollective-api/blob/2da1699a51a7888a274e20bf91865993df08e9c9/server/lib/payments.js#L351

I was wondering how donation payments are differentiated from order payments?

[2020-02-28 14:22] Devvyky commented on #2861
@znarf there's progress. i should be done soon

[2020-02-28 15:04] Betree commented on #2035
Hi @victorb, this is the right issue to track this change, I'll post an update when the endpoint is ready for public use. Hopefully it shouldn't be too long, we just need a couple of weeks to adapt  the host dashboard and various part of the website for the new concepts introduced with the latest expenses improvements, like the ability to attach multiple attachments.

[2020-02-28 15:11] Betree commented on #2940
Sounds good

[2020-02-28 15:55] Betree opened #2941 "Synchronize fonts styles with design"
We need to update our font styles (especially `lib/theme/text-sizes.js`) based on the latest changes from design. I'll use this issue to document the eventual changes and keep track of the progress.

Figma file: https://www.figma.com/file/jxJfC29te8i1C8qMReth95/%5BDS%5D-01-Typography?node-id=9%3A10

[2020-02-28 16:07] znarf commented on #2891
We should actually check if the `Tier` is `type=TICKET`, everything else can be considered as a donation.

[2020-02-28 16:14] kewitz opened #2942 "[TransferWise] Webhook for live updates"
Create endpoint to process [Transfer state changes](https://api-docs.transferwise.com/#webhook-events-transfer-status-change-event).
The business logic is pretty much the same in the existing cron worker.

[2020-02-28 23:44] Memo-Es commented on #2937
As shown in the design, when you choose a repository it displays the two radio buttons of the choice of creating the Collective for the repository or the organization.
(The first option is selected by default)
<img width="1251" alt="Screen Shot on 2020-02-28 at 17-35-23" src="https://user-images.githubusercontent.com/49539954/75595125-bf349800-5a50-11ea-827e-c7c638e0594b.png">

I don’t understand,

[2020-02-28 23:59] Memo-Es commented on #2937
About the fields in the form... @sbinlondon

<img width="491" alt="Screen Shot on 2020-02-28 at 17-58-10" src="https://user-images.githubusercontent.com/49539954/75595960-12f4b080-5a54-11ea-87ce-06d9b3b32616.png">

[2020-03-01 11:39] Devvyky commented on #2861
@znarf most API calls are returning null value.
![Screenshot from 2020-03-01 11-59-26](https://user-images.githubusercontent.com/25306314/75624848-96c7ad80-5bb8-11ea-914d-ea26b57b1528.png)

i created a custom date in the code on line 79 and 80
![Screenshot from 2020-03-01 05-33-54](https://user-images.githubusercontent.com/25306314/75624867-d9898580-5bb8-11ea-8657-db2828c0defa.png)

and it returne

[2020-03-01 15:52] freyfogle commented on #2861
please use an 8 digit date stamp (ie YYYYMMDD like 20200301 or 2020-03-01), it makes it much easier to write software to do something with the file

[2020-03-02 08:13] Devvyky commented on #2861
okay @freyfogle . Thanks, i would do just that.

[2020-03-02 09:16] znarf commented on #2937
I was talking about the Form, when I wrote there was no feedback that the user actually picked an Organization or Repository, just a blank form. Now that we decided to have the Collective name pre-filled with the GitHub Name, it's slightly better.

Was talking about the Host sorry. I think we have an agreement on adding the NavBar in this case.

[2020-03-02 09:27] Betree opened #2943 "Latest host report is missing attachments"
**Describe the bug**
The attachments are missing in the latest host report. This is something I needed to investigate but didn't find the time to before the 1st of the month and the batch of email is already sent.

We may want to re-generate the reports once the fix is deployed.

[2020-03-02 09:38] Betree opened #2944 "Expense flow: generate invoices"
## User story
In the new expense flow, we now allow users to submit `Invoice` expense types without attached files, they just have to enter the details of the invoice. It is then our responsibility to generate a proper invoice document.

## Best solution for this problem
The [invoice service](https://github.com/opencollective/opencollective-invoices) seems like the logical place to implement that.

[2020-03-02 09:44] znarf commented on #2943
@Betree when was that originally reported?

[2020-03-02 09:52] Betree commented on #2943
Nowhere that I'm aware of, this was the first item on my to-do list for this week and when I realized we passed the first of the month during the weekend I started by looking at what was sent.

In the emails we sent this weekend all expenses have a blank space below instead of the expected file preview.