[2020-12-26 04:23] alanna opened #3797 "Invited expense loses details when editing"
To reproduce:

1. Invite someone to submit an expense
2. Submit it and see the summary screen
3. Click the `edit expense` button
4. The payee details are lost (and maybe the rest but I couldn't see past that section of the form)

[2020-12-26 04:27] alanna opened #3798 "Expense inviter can input payout details"
## User story
As an expense inviter, I want to have an easy process in the case where I have received an invoice from a vendor and need to get them to submit an expense (which was a main use case for the invite expense feature in the first place). A big part of this is inputting the payout details from the invoice in the system for them. Currently you can only fill out their name and email, plus t

[2020-12-26 18:16] zicklag commented on #3784
Hey @znarf, just an FYI, I did find a reference to the open collective bot in one of the automated emails sent by Open Collective:

![image](https://user-images.githubusercontent.com/25393315/103156991-3d96bf00-4774-11eb-8fa1-3eeaa2ebd23a.png)

[2020-12-27 22:35] alanna opened #3799 "Don't display 'not found' message or invite/create options until profile search completes"
When searching for an existing profile, a message immediately pops up saying the profile doesn't exist, even if it does and just hasn't been found yet. It also shows the create/invite options, meaning it's quite likely someone will click that before the search completes. The search is pretty slow (takes like 10 seconds for me) so this isn't a great UX. I think we should wait until the search compl

[2020-12-29 10:02] Betree commented on #3794
Looks like a cache issue, can you check if it's still happening to confirm that?

[2020-12-29 19:48] aardrian commented on #3790
I appreciate the other labels have been added. However, this is a bug report, not a request for an enhancement.

This one part of the screen fails WCAG in at least 9 different ways, which is illegal in some jurisdictions and also a lawsuit risk. Because some of the issues are blocking issues, preventing a user from completing the task, they would be prioritized as _critical_ in an accessibility ev

[2020-12-29 23:49] alanna commented on #3794
OK, seems to be resolved now. Is there a way to make this take effect right away? It definitely felt broken.

[2021-01-02 20:53] alanna commented on #3752
Could we get this fixed? It's tripping me up a lot when reviewing expenses. We need more info shown in attachment previews. Right now I keep almost missing them entirely because they don't visually come on the radar, and it's very hard to understand if it's something that needs to be looked at. Why can't attachments on expenses have previews like receipts do?

[2021-01-03 05:52] snitin315 opened #3800 "Search: don't show filters if nothing is searched yet"
**Describe the bug**

The presence of search results filters even before searching for anything.

**To Reproduce**

Go to https://opencollective.com/search

**Expected behavior**

Filters should appear only after searching for something.

**Screenshots**

![Screenshot at 2021-01-03 11-18-01](https://user-images.githubusercontent.com/46647141/103472626-6a228a80-4db5-11eb-9e3c-a3bce33252fb.png)

**D

[2021-01-03 20:45] alanna opened #3801 "Auto-save changes"
We have consistent issues with users failing to click the `save` button when making changes to their profiles, and being upset about losing their work, because often times the button is out of view at the bottom of the screen, and because most online tools these days auto-save as you go. We have some areas that do auto-save already - can we have that for everything?

[2021-01-04 03:17] 04lnneAV opened #3802 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2021-01-04 07:21] Betree commented on #3794
Something we probably don't do when removing members is to reload the logged in user profile, so that your access and permissions are probably updated in the frontend. We should definitely add that.

Regarding the members sections, we normally have cache invalidation for cloudflare + the `contributors` field. We should check where we failed to update.

[2021-01-04 07:38] Betree commented on #3752
From https://github.com/opencollective/opencollective/issues/3752#issuecomment-737054063, 1 and 2 are fairly simple changes. 3 (https://github.com/opencollective/opencollective/issues/3753) is more complex and require investing more time to be fixed.

Generated attachments are currently generated on the fly, when you click on the download button, via an authenticated request. These conditions make

[2021-01-04 07:42] Betree commented on #3800
We should also make sure that the selected filter is preserved when changing the searched terms. If you click on "Events" then type something in the search, it should search only for events. Especially cause the filter is still displayed as selected.

[2021-01-04 07:54] Betree commented on #3801
If we're talking about the `Info` section of the settings, I think it's a dangerous thing to do. There are some sensitive fields in there that we should make sure the user review before saving. If you mistakenly edit the `slug` for example the result could be pretty bad.

I don't think that's the case, it really depends on the type of form you're filling. In fact if you look at what most large pla

[2021-01-04 07:56] #3802 closed

[2021-01-04 08:17] #3718 closed

[2021-01-04 09:43] Betree commented on #3790
@aardrian this classification is just a way for us to help triage issues, putting that along with `enhancement` was part of routine triaging. It doesn't reflect any kind or prioritization, nor does it implies that we don't want to have this fixed.

After a quick internal discussion, we've agreed to move to `bug` so there's no confusion on this in the future.

[2021-01-04 09:46] Betree commented on #3790
And thanks for opening this very detailed issue @aardrian, it really helps!

[2021-01-04 10:23] Betree opened #3803 "Regression on titles font sizes"
Probably related to https://github.com/opencollective/opencollective/issues/3757

<img width="1313" alt="Screenshot 2021-01-04 at 11 18 27" src="https://user-images.githubusercontent.com/1556356/103525234-2d22ca80-4e7f-11eb-91f5-b02b71746760.png">

<img width="1436" alt="Screenshot 2021-01-04 at 11 18 36" src="https://user-images.githubusercontent.com/1556356/103525236-2dbb6100-4e7f-11eb-8614-7339

[2021-01-04 10:58] #3759 closed

[2021-01-04 11:33] sbinlondon commented on #3764
@Betree Do we still need this part? Happy to do it.

[2021-01-04 11:49] Betree commented on #3764
We do but it's not a priority, we can delay for after the release

[2021-01-04 12:03] Betree opened #3804 "Contributors query returning duplicates"
**Describe the bug**
`contributors` query is returning multiple entries for the same collective, which defeats its purpose. The issue was introduced in https://github.com/opencollective/opencollective-api/pull/5023#discussion_r544070235 (the review actually warned that this was going to happen).

It results in React warning about duplicate keys, and strange results in the UI:
![image](https://user

[2021-01-05 03:06] alanna commented on #3801
OK that makes sense @Betree - I think the main issue is that often times the `save` button is invisible from the screen you're viewing and it's not at all obvious you need to scroll down, find it, and click it. I've seen some apps that have a `save` action in each subsection so it's a lot more visible. Or maybe if you leave the page it should pop up asking you if you want to `save` or `discard` yo

[2021-01-05 03:11] alanna commented on #3752
I see added attachments and the downloadable version of the expense that our system generates as different cases. I'm OK with no preview on the system-generated download... it's not really an attachment technically. A fake preview that represents all such download previews since they all look the same is also fine.

I think what's really missing is 1) filenames and 2) previews of non-system-genera

[2021-01-05 10:29] #3800 closed

[2021-01-05 10:33] Betree opened #3806 "Search: wording for "not found" results"
*As reported by @snitin315 in https://github.com/opencollective/opencollective-frontend/pull/5660#issuecomment-754542131*

The No collectives found message says `collectives` for each filter.

To make it simple, we should use a generic term like:

![image](https://user-images.githubusercontent.com/1556356/103635866-6cb5e900-4f49-11eb-9f3a-99ad03ec1610.png)

[2021-01-05 13:10] kewitz opened #3807 "Allow self-hosted collectives to submit expenses to any collective"
## User story
As a user, I want to be able to set the Payee of my expense to any of my self-hosted collectives.

[2021-01-06 07:46] Betree commented on #3752
I think the design already cover 1 and 2:
![image](https://user-images.githubusercontent.com/1556356/103742746-9e878800-4ffb-11eb-986b-e300b1677572.png)

[2021-01-06 09:00] #3806 closed

[2021-01-06 09:19] Betree opened #3808 "Use react-intl's defaultRichTextElements for default formatters"
`react-intl` now supports passing a `defaultRichTextElements` option to `IntlProvider` to configure global tags allowed in formatted messages, and being able to write directly something like

[code]

This can simplify what we do today with `I18nFormatters`. We should:
- Pass the option as described in the [docs](https://formatjs.io/docs/react-intl/components/#defaultrichtextelements)
- Update all

[2021-01-06 10:08] #3507 closed

[2021-01-06 14:57] mlncn commented on #2043
This is such a key feature for the Updates section!

`trustedThirdPartiesForIframes` should include:

vimeo.com
youtube.com
kolektiva.media
breadtube.tv
peertube.ch
tube.cloud-libre.eu

and i'm sure i'm missing plenty of reputable instances.

[2021-01-06 16:10] knocte commented on #2522
This being closed means OpenCollective will never support crypto-integration?

[2021-01-06 19:32] jancborchardt opened #3809 "Widget for backers (excluding organizations) does not seem to work embedded on website"
**Describe the bug**
It’s not possible to get the widget for individual backers (excluding sponsors) to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "Export" page on your organization https://opencollective.com/opensourcedesign/edit/export
2. Check the "Financial contributors widget" section
3. Notice there’s a lot of casino sponsors
4. Decide you want a widget with just t

[2021-01-06 19:51] jancborchardt commented on #3809
Oh wow, just managed to make it work – the fix is to use
```<object type="image/svg+xml" data="https://opencollective.com/opensourcedesign/backer.svg?avatarHeight=50&width=400"></object>```

It is necessary to remove the `id="lastOne"` from the object to fix it.

[2021-01-06 19:51] #3809 closed

[2021-01-06 21:45] kewitz opened #3810 "Transaction not being created due to float Amount"
**Describe the bug**
When processing orders with platform tips and `hostCurrencyFxRate != 1`, the amount recalculated in `Transaction.createFeesOnTopTransaction()` for the original transaction can be a float number, which will cause Sequelize to fail the validation of the original transaction while successfully creating the tip transactions.

This will also cause the order to be marked as ERROR.

[2021-01-06 23:21] alanna opened #3811 "Migrate OSC to zero platform fees for Collectives"
While we're keeping the actual money paid from OSC for platform fees the same, I think we should really migrate it to the new model where end-users and Collectives do not have platform fees, and platform fees are between the host and OC inc.

Right now transactions still look like this:
<img width="765" alt="Screen Shot 2021-01-07 at 12 16 38 PM" src="https://user-images.githubusercontent.com/5498

[2021-01-07 02:35] Memo-Es commented on #3752
We are currently producing illustrated icons to indicate the type of file, including PDF PNG XLS, JPG, among others...
I Will update this comment with the proposal this week.

@alanna

[2021-01-07 03:43] alanna commented on #2522
@knocte - Open Source Collective can accept contributions in Bitcoin. I'm happy to assist other hosts who are interested in setting up a similar system.

[2021-01-07 03:54] knocte commented on #2522
Oh, how? I don't find it in the UI.

What do you exactly mean with the word "hosts" here?

Thanks

[2021-01-07 04:40] DhairyaBahl commented on #3787
@Betree I would like to work on this issue. Kindly assign it to me !!

Thanks :)

[2021-01-07 08:58] Betree commented on #3787
@DhairyaBahl Sure! Let me know if you need anything.

[2021-01-07 09:56] Betree opened #3812 "Allow events for hosts with a budget"
This must be tested to make sure everything works properly:
- Create event
- Edit event
- Contribute to event
- Submit expense + pay it form event
- Send money back to parent (host)

[2021-01-07 09:58] #3812 closed

[2021-01-07 12:24] kewitz commented on #3810
- [ ] Run fixer script
- [ ] Refund duplicated transactions

[2021-01-07 15:45] Betree commented on #3283
Resolved with the deployment of the new navbar, you can now disable events and connected collectives from your collective's settings.

![image](https://user-images.githubusercontent.com/1556356/103912528-b6e4c900-5107-11eb-861d-6f8de82e31cc.png)

[2021-01-07 15:45] #3283 closed

[2021-01-07 15:47] Betree commented on #3482
New navbar is deployed, but we still need [to merge](https://github.com/opencollective/opencollective/issues/2896) the host dashboard with settings to be able to remove this "Settings" button entirely (it will be replaced by the "Admin panel" button in the new navbar)

[2021-01-07 15:49] Betree commented on #3773
1 & 2 are done. We will iterate on 3 + 4 once we're sure that no rollback is needed. We can already start 5.

[2021-01-07 20:01] alanna commented on #2522
@knocte the host is the entity who holds funds for a Collective and is responsible for receiving its funds.

This option is not in the UI as it's a beta feature we have to activate manually for OSC Collectives who want it.

Which Collectives(s) would you like to give bitcoin to?

[2021-01-07 20:23] SudharakaP commented on #3053
@Betree : I have submitted both of the PRs and they are ready to be reviewed. Thanks. 😄

[2021-01-07 21:07] SudharakaP commented on #3791
Now that #3053 seems mostly done, I'll will be working on this one. 😄

[2021-01-07 21:28] #3810 closed

[2021-01-08 02:14] Memo-Es opened #3813 "Design for a different pattern for expense tags when big buttons are not necessary"
As part of the expense list improvements covered in #3583 and https://github.com/opencollective/opencollective-frontend/pull/5421#issuecomment-756301332, we designed a different pattern for the expense tags 'Rejected' and 'Paid,' because, as reported in slack, since these statuses usually require no further action by the user, they could be distracting while interacting with the expense list.

![S

[2021-01-08 04:36] knocte commented on #2522
Well, actually, my interest in OpenCollective is not so much because of the current collectives that you host, but because of potential ones: I was about to recommend OpenCollective to a developer that is starting an opensource project (which I might be interested to donate to); plus I also work as a maintainer of an opensource project, and I might be interested to setup a collective for it. But I

[2021-01-08 04:46] alanna commented on #2522
@knocte - OK, well as long as they sign up with Open Source Collective as their fiscal host, we can enable Bitcoin contributions for them. I don't know what you would want in a more integrated cryptocurrency option, but you're welcome to raise a new issue for it with specs. For now, our beta Bitcoin integration is working fine for us.

[2021-01-08 05:05] alanna commented on #3813
Can we please call these `labels` or something else since `tags` is another thing?

[2021-01-08 05:24] alanna opened #3814 "Add a tags column to transactions CSV export"
## User story
I want to be able to make use of tags on expenses to do budget reporting and tracking. Currently I can go to the expenses page and filter by tag, which is good, but I can't see totals or download data that includes tags. I want to put the data in a spreadsheet so I can answer questions like "How much did we spend in category X in a given time period?" and "Are we within budget for ca

[2021-01-08 08:19] Betree commented on #3452
Yep, that sounds like the way to go!

[2021-01-08 12:24] RCheesley commented on #1657
Was there any progress on this? At the moment it is a very convoluted process that I have to go through using my corporate credit card and getting reimbursed. Happy to be a beta tester if you need one!

[2021-01-08 12:26] RCheesley commented on #1038
+100 would love to see this feature!

[2021-01-08 15:17] kewitz opened #3815 "Add the ability for Hosts to require custom information in the Contribution Flow"
For example, Casa Hacker will need Brazilian tax information from donors.
I think this can be generically implemented and stored in `order.data`.

[2021-01-08 16:23] Betree commented on #3815
Tiers can define a `customFields`, that are later rendered in the contribution flow. The data from these are then stored in `order.data.customData`. There's no interface yet for users to set their own fields, it needs to be done in the DB directly.

Maybe we could make this issue about specifying how we could surface the feature for users?

As an example, we use it for https://opencollective.com/c

[2021-01-08 16:34] kewitz commented on #3815
@Betree, the problem here is that this needs to be enforced at the host level since they're legally responsible for the donation.

[2021-01-08 23:46] alanna commented on #3779
Another reason: if you operate multiple OC profiles it's impossible to tell which one the request is for.

[2021-01-09 08:40] waptik opened #3817 "API: I can query the graphql and possible rest api endpoints without providing an api key"
**Describe the bug**
Today I came across a bug that allow anyone to query both v1 and v2 of the graphql endpoints.
I wasn't sure if it was a bug or not but after getting a [reply](https://github.com/opencollective/opencollective/discussions/3816#discussioncomment-270680), i decided to open a bug report and provide a possible fix.

Per my understanding [this line](https://github.com/opencollective/

[2021-01-09 10:34] SudharakaP commented on #3817
@waptik : Thanks for opening the issue; I've just verified the issue as well. Just opened a PR with your suggested fix. Thanks a lot. 👍🏽

[2021-01-09 11:40] waptik commented on #3817
@SudharakaP You're welcome. I'm glad I could help.

[2021-01-09 11:40] znarf commented on #3817
Thank you for the report.

We're letting people use our API without API key on purpose. It's a better developer experience to test it!

We're however enforcing strong rate limiting in this case, 10 requests / minute / ip address maximum.
https://github.com/opencollective/opencollective-api/blob/master/server/routes.js#L62

Using an App Key:
- You have up to 100 requests / per minute / per app key

[2021-01-09 11:44] waptik commented on #3817
Oh I see. I guess it wasn't a bug, so the PR @SudharakaP opened wasn't needed after all.

[2021-01-09 14:42] #3817 closed

[2021-01-09 23:46] alanna opened #3818 "Use 'not found' page to show suggested alternatives"
## User story
I want help to find what I'm looking for on the platform if I end up at a `not found` URL.

## Best solution for this problem
Run a search based on the user's input to show possible matches below the `not found` message.

For example, I tried to go to opencollective.com/luminate but the actual profile is opencollective.com/luminate-group. The system could see the slug I was trying to

[2021-01-10 22:44] alinamanko opened #3819 "Don't have the option to add funds donated by a FUND"
**Don't have the option to add funds donated by a FUND**

When adding funds to a collective through the host dashboard, there currently is only an option to add funds contributed either by individuals or organizations. However, this is a problem when funds arriving from an existing fund. In my particular example, I am looking to add $10,000 to Storybook donated by Indeed (slug - indeed). I am incl

[2021-01-11 07:49] #3803 closed

[2021-01-11 15:26] Betree opened #3820 "In the code, rename "Virtual cards" to "Gift cards""
What we usually refer to as "Gift cards" are, in the code, named "Virtual cards". The reason being that "Gift cards" had, at the time of implementation, a different meaning that has since be deprecated. Out of clarity, we should rename everything to "Gift cards" - especially as we're thinking about https://github.com/opencollective/opencollective/issues/1038 and https://github.com/opencollective/o

[2021-01-11 15:31] Betree opened #3821 "Improve payment processor fees formulas"
In the contribution flow, we now show the "estimated fees" for Stripe and PayPal.

The fees that we show should be accurate in most cases, but there are a lot of things that we don't consider when estimating this fee (mostly because it's almost impossible to predict, see [PayPal](https://www.paypal.com/webapps/mpp/merchant-fees)).

There are however things we can improve, for example we don't take

[2021-01-11 15:41] Betree commented on #3787
New navbar is now the default, so we can add the button to `components/collective-navbar/ActionsMenu.js`.

Note: local dev envs may still require setting `NEW_COLLECTIVE_NAVBAR=true` in `.env`

[2021-01-11 15:41] snitin315 commented on #3720
@Betree can you provide specs ? I would like to work on this one.

[2021-01-11 15:53] Betree commented on #3720
If we go with https://github.com/opencollective/opencollective/issues/3720#issuecomment-750811427, the first step would be to add the `flexible` option in https://github.com/opencollective/opencollective-api/blob/master/server/models/Tier.js#L182 and to provide this new value in the API. Then we must adapt the [contribution flow](https://github.com/opencollective/opencollective-frontend/blob/node-

[2021-01-11 15:57] Betree opened #3822 "Collective horizontal cards list (tiers, projects, events, etc) scroll bounce"
**Describe the bug**
Scroll bounces back from the left and you can't see the first item.

I personally wasn't able to reproduce, so maybe it only affects OSx. The bug could be related to https://github.com/opencollective/opencollective-frontend/blob/node-14-2/components/collective-page/ContributeCardsContainer.js#L19.

**Screenshots**
See ![this video](https://user-images.githubusercontent.com/155

[2021-01-11 16:20] #3807 closed

[2021-01-11 21:49] fernandasca commented on #3081
We've had multiple Collectives request this feature. Most of our groups do collaborative, democratic decision making so this would be key for them.
It would help improve security checks, such as not allowing for an admin to submit and approve their own expense (would somehow trigger that another admin has to approve).

[2021-01-11 21:53] david-allison-1 opened #3823 "Modify "New Backer" email template to display dollar amount in title"
## User story
_As a core contributor/organisation admin, I can see the amount backed in the title of the email: `{{name}} joined {{{collective}}} as {{role}}` so I can spend less time reading donation emails_

**Context**

This is a minor frustration.

https://opencollective.com/ankidroid

We make a drive for Open Collective donations to ~2MM users on each software release. Our previous release re

[2021-01-12 02:14] alinamanko commented on #3819
Update: Looks like the process with Funds is different. The money received is manually added to the fund budget (inclusive of the associated fees) and then they need to make a donation directly to the collective, applying zero fees as those are already deducted. cc @alanna

As such closing this issue.

[2021-01-12 02:14] #3819 closed

[2021-01-12 03:27] alanna opened #3824 "Unable to archive or unhost Collective due to "Validation is on twitterHandle failed""
I'm trying to archive [this Collective](https://opencollective.com/openupstate) so I can close down the host finally, but it throws this weird error. The same thing happens when I try to remove the host.

<img width="867" alt="Screen Shot 2021-01-12 at 4 20 39 PM" src="https://user-images.githubusercontent.com/5498878/104265628-e70ade00-54f2-11eb-9200-4306cb597e33.png">

<img width="1232" alt="Scr

[2021-01-12 03:46] alanna commented on #3081
Related: #3328

[2021-01-12 06:34] DhairyaBahl commented on #3787
@Betree  Got it !! Thank you for telling me :smile:

[2021-01-12 08:04] Betree commented on #3824
Updated this specific profile and all others to clean or remove the invalid twitter handles. Archiving should now work properly.

[2021-01-12 08:04] #3824 closed

[2021-01-12 08:09] Betree commented on #3823
Thanks for the detailed issue @david-allison-1. The proposed solution looks good to me.

[2021-01-12 08:18] Betree opened #3825 "Use a Postgres materialized view for search"
Our search is quite slow. One of the reason for that is that Postgres has to rebuild the TS Vectors each time we trigger a search.

One common approach to solve this is to use a [Materialized view](https://www.postgresql.org/docs/9.3/rules-materializedviews.html), which is basically a table containing all the pre-processed entries. This view then needs to be refreshed, than can be done with a CRON

[2021-01-12 09:43] Betree opened #3826 "Navbar > Actions: Menu not closing on outside click"
**Describe the bug**
On some browsers/OS, the menu is not closing itself when users click outside of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/babel/
2. Click on "Actions"

**Expected behavior**
The menu should close itself when users click outside of it.

**Additional context**
So far the bug only seems to affect Firefox and Safari on Mac.
Testing

[2021-01-12 12:19] DhairyaBahl commented on #3787
@Betree I cloned the front-end repository and used command npm install in that repository but it showed many errors that this file is missing or that file is missing !! What should I do ??

[2021-01-12 12:38] DhairyaBahl commented on #3826
@Betree I would like to work on this issue. Thanks :smile:

[2021-01-12 13:58] Betree commented on #3826
@DhairyaBahl Let's focus on one issue at a time :wink: Especially cause I think @sbinlondon already started looking at this

[2021-01-12 13:59] Betree commented on #3787
@DhairyaBahl which files? Are you using the latest version on `master`?

[2021-01-12 14:04] Betree commented on #3081
This issue and #3328 should definitely be treated together. The way to do it on the API side would be to protect the [`processExpense`](https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v2/mutation/ExpenseMutations.ts#L219) mutation. The actions that needs to be verified with multiple approvals are: `APPROVE`, `SCHEDULE_FOR_PAYMENT` and `PAY`. Most of the specs discus

[2021-01-12 15:07] DhairyaBahl commented on #3826
@Betree got it !! I didn't know that someone is already assigned to the issue.

[2021-01-12 15:49] DhairyaBahl commented on #3787
@Betree Many files are missing !! log is very big !!

[2021-01-12 16:19] Betree commented on #3787
@DhairyaBahl I can't help much without the logs and more info about your setup. Let's not expand to much the discussion on this issue, you can get more assistance by posting in https://github.com/opencollective/opencollective/discussions/categories/development-q-a or on [Slack](https://slack.opencollective.com) (channel #engineering).

[2021-01-12 16:23] kewitz opened #3827 "Contribute Grid can't scroll left"
**Describe the bug**
In some cases, the project grid will constantly snap to the right and not be able to scroll left.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/di-grants#category-CONTRIBUTE
2. Scroll the list of projects to the end
3. Try to scroll left

**Screenshots**
https://slack-files.com/T0HSL38JD-F01JAP5R4JH-97befaed2b

**Desktop (please complet

[2021-01-12 17:07] kewitz commented on #3827
Duplicated: https://github.com/opencollective/opencollective/issues/3822

[2021-01-12 17:07] #3827 closed

[2021-01-12 18:01] IhorHordiichuk opened #3828 "Language selection menu shold be updated"
Add Ukrainian (українська) language to the drop-down language menu located in the footer. Current translation progress = 48% that should be enough.

It is also worth to update the values of translation progress in other languages, as the current values are outdated in this menu.

[2021-01-12 21:56] alanna opened #3829 "After deactivating host, deactivate host button still active"
I deactivated opencollective-host, and afterward this is what the screen looks like:

![Screen Shot 2021-01-13 at 10 53 47 AM](https://user-images.githubusercontent.com/5498878/104379050-c6439680-558d-11eb-9881-80dbaeddc259.png)

The button should now say `activate host` since it is already deactivated.

Is `activate host budget` the same as `activate host`? If so, we can just have one button ther

[2021-01-12 21:57] alanna opened #3830 "Unable to archive host"
opencollective-host has been deactivated, but it won't let me archive it.

![Screen Shot 2021-01-13 at 10 56 53 AM](https://user-images.githubusercontent.com/5498878/104379253-17ec2100-558e-11eb-93c1-2235c656efb1.png)

[2021-01-13 01:11] alinamanko opened #3831 "Support Metrics Report December 2020"
### Support Metrics Report December 2020
This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/104393163-a4a3d880-55a8-11eb-9968-34f113fd2ea3.JPG)

The number of tickets received increased by 15% from 428 in November to 493 in D

[2021-01-13 06:28] DhairyaBahl commented on #3787
@Betree got it I am trying to figure it out by myself if I still feel stuck, then I will definitely go to the slack channel for help.

Thanks :)

[2021-01-13 09:46] Betree opened #3832 "Apply to host form: use dynamic font size for title"
See https://opencollective.slack.com/archives/C0YFZ3MHP/p1610452250040100

Using `AutosizeText`

![image](https://user-images.githubusercontent.com/1556356/104435332-8cbe5b80-558c-11eb-8064-c4d8a1123885.png)

[2021-01-13 10:02] Betree opened #3833 "Contribution flow: payment select should be disabled while submitting"
On https://staging.opencollective.com/babel/donate/payment, we can change the payment method while it's submitting. That should not be possible.

![Peek 2021-01-13 11-02](https://user-images.githubusercontent.com/1556356/104437216-cee89c80-558e-11eb-9acc-16aee00ba8cc.gif)

[2021-01-13 10:03] znarf commented on #3829
Some Events were still hosted by Open Collective Host and that was confusing the system. We should not have let Collective archive themselves without Events already archived. Or we should have Archived automatically all Events when archiving Collectives.

[2021-01-13 10:03] #3829 closed

[2021-01-13 10:04] znarf commented on #3830
The profile was still considered as Host after pressing the button, because it was still hosting some Events.

[2021-01-13 10:06] znarf commented on #3828
Thank you for opening the issue @IhorHordiichuk, this can be done by updating the following file:
https://github.com/opencollective/opencollective-frontend/blob/master/lib/constants/locales.js

[2021-01-13 10:07] Betree opened #3834 "Contribution flow: guests should be allowed to add a custom message on success page"
On https://staging.opencollective.com/babel/donate/success?OrderId=ggnxdwzj-3le5mpw5-74epy8rv-bko04a97, the "public message for collective" box is not displayed for guest contributions. As long as we have a "guest token" available, we should allow that. This might require some specific validation on the `editPublicMessage` mutation used to post custom messages.

The component to update is https://

[2021-01-13 10:19] Betree commented on #3822
It seems https://github.com/opencollective/opencollective-frontend/pull/5689 resolved the issue

[2021-01-13 10:19] #3822 closed

[2021-01-13 11:38] Betree commented on #3369
Project is now live for everyone. We'll continue to iterate in the upcoming weeks to fix small regressions & to clean the code.
Progress can be tracked on https://github.com/opencollective/opencollective/projects/42

[2021-01-13 11:39] Betree commented on #3773
3 is done. 4 & 5 are now tracked in https://github.com/opencollective/opencollective/projects/42

[2021-01-13 11:39] #3773 closed

[2021-01-13 11:39] #3369 closed

[2021-01-13 11:46] Betree opened #3835 "Standalone pages for displaying projects, events and connected collectives"
We want to be able to link to standalone page for projects, events and connected collectives from the NavBar.

For the design, we can re-use the layout from [the tiers page](https://opencollective.com/babel/contribute/) and make sure we re-use the contribute cards in there. Filtering can be done in the frontend given that there are not a lot of entries.

We want to have three distinct routes:
- `/

[2021-01-13 12:29] #3767 closed

[2021-01-13 12:33] znarf commented on #3811
I'm up for it, this just requires a communication to the Collectives explaining the rationale behind the change. And explaining that this doesn't change anything for them.

I know that @piamancini wanted to explore a way to also turn Platform Tips on for OSC so we have a consistent experience everywhere. But, it's not an easy one and we better separate the 2 things.

[2021-01-13 12:35] znarf commented on #3795
I agree it needs to be visible for the person who created it at least. How complex is this @kewitz ?

[2021-01-13 12:45] znarf commented on #3775
@npettiaux I'm sorry, I'm only seeing your issue now because it was originally posted in the documentation repository.

We'll make Event creation available in our API soon, maybe some characteristics described in your issue will be missing though.

[2021-01-13 12:49] znarf commented on #3818
@alanna There is already a button "Search for **luminate**" which seems am MVP of what you're asking here.

<img width="1251" alt="Screenshot 2021-01-13 at 13 48 55" src="https://user-images.githubusercontent.com/806/104454423-1f1f2900-55a6-11eb-9a9c-d86bfc4c2171.png">

[2021-01-13 12:51] znarf commented on #3815
Given that the core implementation is here, seems to me propagating an Host setting to all Financial Contributions should be relatively simple.

[2021-01-13 13:07] znarf commented on #3814
This is currently handled on the frontend side:
https://github.com/opencollective/opencollective-frontend/blob/master/components/transactions/TransactionsDownloadCSV.js

[2021-01-13 13:10] znarf commented on #3798
@alanna What is the payout info exactly? Which fields are we talking about?

[2021-01-13 17:20] SudharakaP commented on #3790
Will be working on this one. 😄

[2021-01-13 20:18] alanna commented on #3798
These fields

![Screen Shot 2021-01-14 at 9 17 56 AM](https://user-images.githubusercontent.com/5498878/104505849-6ad6de80-5649-11eb-89de-0cc542b49689.png)

[2021-01-13 21:15] IhorHordiichuk commented on #3828
Hardcoded list? I can check translation completion on Crowdin and update it. And where can the exact same flags be found?

[2021-01-13 21:38] alanna opened #3836 "Unable to see budget section or confirm pending bank transfer on self-hosted Collective"
https://opencollective.com/tai-collective

They have added a bank account and activated as a self-hosted Collective. The financial contribution features are active.

However, we can't see the budget section, nor find where to confirm a pending bank transfer contribution.

[2021-01-13 21:40] alanna opened #3837 "Unable to add funds to self-hosted Collective"
https://opencollective.com/tai-collective

They want to add funds already received. They go to Add Funds and try to create and organisation as the source, but run into this error saying they can't add funds from an org they don't control.

<img width="249" alt="Screen Shot 2021-01-14 at 10 27 38 AM" src="https://user-images.githubusercontent.com/5498878/104513634-d1152e80-5654-11eb-9bce-6405b5a404

[2021-01-13 22:14] alanna opened #3838 "Unable to delete pending unverified expense"
If you invite an expense and the invitee doesn't confirm it, its status is `pending` `unverified`. To delete a pending expense, you have to reject it first, but you cannot reject an `unverified` expense and cannot delete it.

Admins should be able to reject *and* delete `unverified` expenses.

[2021-01-13 22:20] alanna opened #3839 "Uploaded invoice on invited expense doesn't show up for invitee"
I invited an invoice expense to be submitted by a new organization (which I was also the admin of) and I put in the details and uploaded an attached invoice. I then received the notification as the admin of the invited org and clicked through to confirm and submit. But the uploaded invoice attachment was not there and I had to re-upload it again as the new org admin. If the expense inviter uploads

[2021-01-13 22:53] alanna commented on #3811
I don't think Collectives will notice or care at all, since the fee amount will stay the same, just combined into one. We've already announced the new pricing model in our newsletter and blog.

I agree platform tips for OSC is a separate discussion.

[2021-01-13 22:56] alanna commented on #3830
I still can't archive it

<img width="937" alt="Screen Shot 2021-01-14 at 11 55 38 AM" src="https://user-images.githubusercontent.com/5498878/104520128-7a612200-565f-11eb-86f6-4cd2798428bb.png">

[2021-01-13 22:58] alanna commented on #3831
We need #3740 @znarf - either the post as comment idea or at least the reply to being sent to the host.

[2021-01-14 02:17] alanna opened #3840 "Invitee unable to create organization as invited expense payee"
I went through the invite expense process for [this expense](https://opencollective.com/giftcollective/expenses/31776) and put the contact person of the payee org as the invitee. They got the email and clicked through, but they could only select from their existing profiles for the payee, not create a new org, which is what was required for this expense.

I tested clicking through as a logged out

[2021-01-14 05:25] Memo-Es opened #3841 "Collective Navigation – Elements and buttons polish"
We are adding the final input on the UI elements of the navigation component:

**Button states:**
<img width="1228" alt="Screen Shot on 2021-01-13 at 23-13-11" src="https://user-images.githubusercontent.com/49539954/104547798-0722c600-55f5-11eb-9726-7cadc7058738.png">

**Update category name in mobile while scrolling:**
We currently have a specific behavior to indicate users where they are when sc

[2021-01-14 08:47] znarf commented on #3836
The admins received an email with instructions on how to validate bank transfers:

<img width="782" alt="Screenshot 2021-01-14 at 09 45 39" src="https://user-images.githubusercontent.com/806/104565949-53015980-564d-11eb-90d0-27c6271d7a7e.png">

They can do this right from their Host Settings:
https://opencollective.com/tai-collective/edit/pending-orders?searchTerm=117140

<img width="1219" alt="Sc

[2021-01-14 08:49] znarf commented on #3836
I think the budget section is currently not displayed because there is no transaction.

[2021-01-14 09:15] Betree opened #3842 "Inline sign in without leaving the website"
## User story
- As a guest contributor, leaving the website to validate my email is not a great experience because I loose the context of the page
- As a signed out but existing contributor, it's a poor experience to get the error message `This email already exists, please sign in` after I clicked "Contribute", then having to sign in and come back to the flow and fill my payment info all over agai

[2021-01-14 09:19] Betree commented on #3836
Correct, in the latest version of the page "Budget" is not displayed if there's no transaction. We may review this approach once the new empty states (#3220) will be implemented.

[2021-01-14 09:29] #3794 closed

[2021-01-14 10:17] Betree opened #3843 "Collective page hero background hides the bubbles and curve pattern"
**Describe the bug**
Images with a white background are not playing well with the bubbles and curve pattern of the collective page.

**To Reproduce**
See https://opencollective.com/smat or use the image below:
<img width="1159" alt="background" src="https://user-images.githubusercontent.com/1556356/104577137-69adad80-5659-11eb-8a05-adb986e3b61d.png">

**Expected behavior**
Pattern should always be

[2021-01-14 10:48] Betree opened #3844 "Host pending applications: display custom data"
In https://github.com/opencollective/opencollective/issues/3683 we forgot to spec that the data collected via customData was meant to be displayed in the host dashboard > Pending application, just after the "Message to host". We should implement a simple loop to show all the fields from `application.customData`.

[2021-01-14 10:49] Betree commented on #3683
This issue will be resolved by https://github.com/opencollective/opencollective-frontend/pull/5623, but we'll need to iterate with https://github.com/opencollective/opencollective/issues/3844 to make sure we display the form data in the host dashboard.

[2021-01-14 11:26] znarf commented on #3683
@Memo-Es Why do we have 2 times the checkbox for "I agree with the terms of Fiscal Sponsorship"? Step 1 and Step3.

[2021-01-14 12:01] #3837 closed

[2021-01-14 13:27] znarf commented on #3683
<img width="731" alt="Screenshot 2021-01-14 at 14 17 18" src="https://user-images.githubusercontent.com/806/104596719-a33fe200-5674-11eb-8e82-5c9efa18c7dd.png">

@Memo-Es @piamancini the copy at Step "success" is weird:
- it's implying that the application is gonna be accepted, not that it's gonna be reviewed
- if the user created an account in the process, there is no mention of it, do they need

[2021-01-14 13:47] znarf opened #3845 "Wrong email when creating a collective"
Mentions a pending Host application even when there is none.

<img width="686" alt="Screenshot 2021-01-14 at 14 45 41" src="https://user-images.githubusercontent.com/806/104598797-485bba00-5677-11eb-9fd0-2a9afdb396c7.png">

To reproduce, simply create a collective from the user menu and pick the "any community" path for example.

[2021-01-14 14:00] Memo-Es commented on #3683
We wanted to make sure folks take acquaintance of that in those two moments of the process... Seems overkill to you? @znarf

Agree with the success page copy change. I'm gonna wait for Pia's input to put it in the design.

[2021-01-14 14:03] znarf commented on #3683
@Memo-Es I don't know any process where I need to check a box 2 times for the same thing. So yeah, overkill. Or, at least check it by default the second time it appears.

[2021-01-14 14:48] Memo-Es commented on #3683
Yeah. I'm removing it from step 3, so the first thing you do is acknowledge the terms of fiscal sponsorship; it also seems less likely that a user reads both links after filling the form
@znarf @flickz

[2021-01-14 21:10] alanna commented on #3836
OK, so this is working as intended, but we really need to work on the docs and design to make it more intuitive, because neither myself nor the user could figure it out.

[2021-01-14 21:10] #3836 closed

[2021-01-14 21:59] #3804 closed

[2021-01-14 22:13] alanna opened #3846 "Unable to see Host budget, expenses, or find fees transaction"
I've added funds for the first time to a Collective under https://opencollective.com/giftcollective host. It has an 8% Host Fee, so that transaction and the host fees charged should be showing up on the Host budget. I cannot see the budget section on the host page, and the transactions page is showing nothing. I have also added an expense (https://opencollective.com/giftcollective/expenses/31776)

[2021-01-14 22:23] znarf commented on #3846
It doesn't work like this. the way it works today, you will get your Host Fees added to your budget at the end of the month.

If there is no Transactions then the Budget section is currently not displayed.

There is no Expenses section on the Collective page, just a Budget section. As of today, it's not displayed if there is no Transaction.

[2021-01-14 22:30] alanna opened #3847 "Bank reference is too long in default template"
In the bank transfer instructions, you can include the {reference} variable. This outputs [Collective]/[order#]. However, this producing a text string too long to fit in most bank transfer reference fields, so it's confusing. Also, self-hosted Collectives or hosts with just a few Collectives really don't need the Collective name included. So I suggest we have {reference] just be the order# and cre

[2021-01-14 22:30] alanna opened #3848 "Bank reference too long"
In the bank transfer instructions, you can include the {reference} variable. This outputs [Collective]/[order#]. However, this producing a text string too long to fit in most bank transfer reference fields, so it's confusing. Also, self-hosted Collectives or hosts with just a few Collectives really don't need the Collective name included. So I suggest we have {reference] just be the order# and cre

[2021-01-14 22:35] alanna opened #3849 "More clearly track and separate platform tips"
I onboarded a new self-hosted Collective admin today, and we made a contribution including a platform tip. However, if you look at the transaction details for that contribution, the platform tip doesn't show up. He also immediately asked how he could make sure platform tip funds were not included included in his Collective's overall budget total so he didn't accidentally spend money that he owed t

[2021-01-14 22:35] alanna opened #3850 "More clearly track and separate platform tips"
I onboarded a new self-hosted Collective admin today, and we made a contribution including a platform tip. However, if you look at the transaction details for that contribution, the platform tip doesn't show up. He also immediately asked how he could make sure platform tip funds were not included included in his Collective's overall budget total so he didn't accidentally spend money that he owed t

[2021-01-14 22:37] alanna opened #3851 "Refresh after adding funds"
I helped an admin add funds to a Collective. He clicked 'add funds' and the modal popped up, and he completed the form and submitted. But when the modal disappeared, the funds did not show up on his page, which he was now viewing. This was confusing. When he refreshed, it showed up. After adding funds, the budget should be updated immediately because users will want to see that change right away.

[2021-01-14 22:37] alanna opened #3852 "Refresh after adding funds"
I helped an admin add funds to a Collective. He clicked 'add funds' and the modal popped up, and he completed the form and submitted. But when the modal disappeared, the funds did not show up on his page, which he was now viewing. This was confusing. When he refreshed, it showed up. After adding funds, the budget should be updated immediately because users will want to see that change right away.

[2021-01-14 22:38] #3852 closed

[2021-01-14 22:39] #3850 closed

[2021-01-14 22:39] #3848 closed

[2021-01-15 00:30] alanna commented on #3846
We have expenses we need to pay with this money now. Why would it wait until the first of the month to charge the host fees when the Collective's funds are available right away?

If there is an expense, there should be an expenses section visible. How else can I find the expense we raised?

[2021-01-15 00:31] alanna commented on #3846
I'm taking the bug label off since apparently it's working as intended, but the UX feels broken.

[2021-01-15 08:53] Betree opened #3853 "Edit recurring contribution: menu to pick amount closes immediatly"
**Describe the bug**
![Peek 2021-01-15 09-48](https://user-images.githubusercontent.com/1556356/104703143-41848400-5717-11eb-95d1-5236b6fd0ff9.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile > Recurring Contributions
2. Click on Edit
3. Click on "Change amount"
4. Try to pick another value in the select

**Expected behavior**
Menu should act like other selects

**Cont

[2021-01-15 09:00] Betree opened #3854 "Edit recurring contribution: amount input UX issues"
Root cause for https://sentry.io/organizations/open-collective/issues/2147867863

**Describe the bug**
On your profile > Recurring contributions, when you try to edit the amount, there are two issues:
- Minimum amount from the tier is not enforced in the input (it is set at min=100). If you submit with a value that is too low, you'll get an API error that will scroll you at the top of the page (bt

[2021-01-15 09:02] znarf commented on #3846
As this issue is mixing different problems, it will be difficult for someone to tackle it. It should be split in follow up issues and closed.

[2021-01-15 10:03] Betree opened #3855 "Improve messages when recurring contributions are not supported"
On the contribution flow, when none of the payment methods support recurring contributions (bank transfers), we display an error message that's not really helpful for users:
![image](https://user-images.githubusercontent.com/1556356/104710800-cc1db100-5720-11eb-9dad-1fddc35fda09.png)

We can't show this message at the beginning of the flow, because the payment methods available will depend on the

[2021-01-15 10:32] znarf commented on #3847
It's actually not the case, `{reference}` will only output the `order.id` from the database.

If the `collective.slug` appears, it's because it's i the template.

[2021-01-15 10:40] znarf commented on #3849
It's never accounted in the budget. If something is due, this will be accounted at the end of the month.

It's visible in the contributors transactions and in Open Collective transactions https://opencollective.com/opencollective/transactions

We're adding such stats in the Host Settings soon.

[2021-01-15 10:42] znarf commented on #3853
Not reproducing on Firefox / Mac OS.

[2021-01-15 10:43] Betree commented on #3053
After merging the implementation of this feature, we should create an issue about adding a checkbox to make it optional (default: true):

[2021-01-15 17:26] SudharakaP opened #3856 "Enable Optional Checkbox for Enabling Comments on Updates"
## User story

This is related to https://github.com/opencollective/opencollective/issues/3053. We need to enable a checkbox for enabling or disabling the comments on an update (as described in the comment https://github.com/opencollective/opencollective/issues/3053#issuecomment-760833380).

## Best solution for this problem

My understanding is,

1) The checkbox should only be shown when creating

[2021-01-15 17:39] Betree commented on #3856
It does! However we discussed this today, and agreed we should wait for someone to request this feature before we implement it. If anyone's interested, please comment on this issue.

[2021-01-16 19:45] saideepesh000 commented on #3851
Hey @alanna, in that function we can do something like window.location.reload() right?

[2021-01-16 22:03] 304s opened #3857 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2021-01-16 22:04] 304s commented on #3857
50000

[2021-01-17 01:04] #3857 closed

[2021-01-17 02:35] alanna commented on #3847
Oh, sorry I misunderstood! Well in that case I'd just suggest we update the default template to separate them. I can submit a PR myself for this when I get time, so I'll leave this open for now.

[2021-01-17 02:52] alanna opened #3858 "Add host fees to host budget immediately"
## User story
As a host admin, I want my host budget to update in realtime, with fees added to my budget as the transactions come in, instead of once a month, so I can use the funds to pay expenses right away, and keep an accurate picture of how my budget is doing.

## Best solution for this problem
Instead of waiting for a monthly date, add Host fees as soon as the funds are added to Collective b

[2021-01-17 02:57] alanna opened #3859 "Display the budget section as soon as there is an expense"
Currently, if you don't have any transactions the entire budget section is hidden. This means if you have expenses but no transactions yet, you can't see those expenses. We encourage users to submit expenses even before they have any money, so I think we need to reveal that section as soon as there is an expense.

Related: #3846

[2021-01-17 02:58] alanna commented on #3846
Closing in favor of more specific issues.

[2021-01-17 02:58] #3846 closed

[2021-01-17 03:06] alanna commented on #3849
OK, thanks, that makes sense.

[2021-01-17 03:06] #3849 closed

[2021-01-17 12:44] Betree commented on #3851
@saideepesh000 we don't want a full page reload, either we can directly update Apollo's cache or we use a `refetchQueries` to reload just the data that needs to be updated

[2021-01-18 02:58] SudharakaP commented on #3053
@Betree : Should we close this issue as I think the functionality has been added or is there anything more to be done here? 😃

[2021-01-18 10:21] znarf commented on #3859
The problem is that there is no "Expenses" section on the Collective page itself, only a "Budget" section that is only containing a link to "View all expenses".

@Memo-Es what can we do here?

[2021-01-18 10:35] znarf commented on #3858
The automated solution currently in place is really like the previous manual one. Host Fees collected the previous month are added as 1 transaction on the 1st of the month.

Adding host fees on a transaction basis would be more elegant in some ways but would also "pollute" the ledger. This is a topic that is discussed and open for a long time now.

It's doable. It's also an opportunity to have a d

[2021-01-18 10:39] znarf commented on #3839
Could you have a look @kewitz and assess the complexity?

[2021-01-18 10:45] znarf commented on #3830
It seems the Open Collective Host has a balance and that is the blocker.

<img width="446" alt="Screenshot 2021-01-18 at 11 42 16" src="https://user-images.githubusercontent.com/806/104905303-734d5300-5982-11eb-88c6-d02369232bee.png">

_Note that I had to temporarily activate as Fiscal Host again to see the Budget section and take the screenshot._

[2021-01-18 11:00] znarf commented on #3811
I still think we need to push this information clearly, pricing is sensitive and if "Host Fee" moves suddenly from 5% to 10% in the transactions list, we better have sent an email. A short blog post with the same content would be great to.

If I read the latest newsletter/[blog post](https://blog.opencollective.com/what-a-year/), the change is not clear at all for OSC collectives, they could even

[2021-01-18 11:06] znarf commented on #3798
It seems to me it's a bit tricky. If we start exposing this screen to everyone, how can they understand it's optional and how can they skip it?

Also, how to figure what is mandatory and what is not? I guess you just want to input the information you have and don't necessarily have all the bank details?

@Memo-Es @kewitz What do you think?

[2021-01-18 13:23] znarf commented on #3785
@Memo-Es Where are the buttons supposed to be on mobile?

[2021-01-18 13:47] kewitz commented on #3798
This was briefly discussed in the past and it is related to filling for invoices we receive outside the platform.
I think we can implement this, but we have to keep in mind that the contractor will still need to log in to the platform to actually submit the expense. If we're looking for a solution for tracking invoices that do not belong to the platform, this won't do it.

[2021-01-18 19:12] RCheesley opened #3860 "Buying multiple tickets or purchasing as an org does not ask for ticket holder info"
**Describe the bug**
This was a major pain point for us when ticketing for MautiCon and prevented us from automating any part of our ticketing to event workflow.

When either an organisation purchases a ticket, or anybody purchased multiple tickets (individual or organisation) we did not know who the actual ticket holder should be.

This made it a very laborious process for us to add them to our e

[2021-01-18 19:20] RCheesley commented on #3625
I had this issue - my suggestion was to allow the organisers to choose whether pending status impacts the number available or not - could be a global or per-tier/ticket basis.

[2021-01-18 19:23] RCheesley commented on #3003
Any progress with this at all? We are planning our next event and this could make things much more streamlined :)

[2021-01-18 19:25] RCheesley commented on #2348
We would use this to assign tickets to speakers and sponsors! We ended up just knocking them off the total number of tickets but we would prefer to have them represented in the numbers!

[2021-01-18 20:41] leonardohofling commented on #3613
I'll work on it, okay?

[2021-01-18 20:43] kewitz commented on #3613
Have fun, @leonardohofling!

[2021-01-18 21:00] alanna opened #3861 "Total contributed amount not adding up"
https://opencollective.com/namaste-foundation

At the top of the screen it says

But if you look at the totals on the cards, it adds up to $81,366.

Why are these numbers not matching?

![Screen Shot 2021-01-19 at 9 58 59 AM](https://user-images.githubusercontent.com/5498878/104962369-2aa6a000-5a3d-11eb-983c-95259e58af1f.png)

[2021-01-18 21:04] alanna opened #3862 "Way to merge profiles"
Platform admins and support staff often need to merge erroneous profiles. If it has no associated orders or transactions, we can do this using the script in Forest, but if there are transactions we can't. Currently @piamancini does this in Postico, manually changing the Collective ID on every order and transaction with copy/paste.

Could we have a script that semi-automates this, so we could put i

[2021-01-18 21:10] znarf commented on #3861
It seems some values are in USD and others in NZD. Then it seems we calculate the total number in USD.

[2021-01-18 21:17] znarf commented on #3862
Maybe I'm misunderstanding but such script was introduced by Ben a few weeks ago https://github.com/opencollective/opencollective-api/pull/4961. Back then you actually said it was [awesome](https://opencollective.slack.com/archives/G46PNRCGP/p1607113876024400?thread_ts=1606350841.037400&cid=G46PNRCGP), so maybe it is different?

[2021-01-18 21:18] alanna commented on #3862
The missing piece is making it so we can actually use it! I have no idea how to access that and @piamancini hasn't been trained to use it either. Just today she was manually copy-pasting like 30 lines in the database.

[2021-01-18 21:22] alanna commented on #3798
Yes the invitee should definitely still need to log in and confirm everything, and submit the expense. I think the invite expense form should only require an email address at minimum, but allow you to input any other data you have, including payout details. This will serve the full range of use cases, from someone just kicking off an expense process in a minimal way to get the user to click throug

[2021-01-18 21:25] znarf commented on #3862
I was confused by the term "script". This thing is effectively not meant for non technical people, so don't expect any instructions or training. But you can ask people from the engineering team to do it for you.

[2021-01-18 21:26] alanna commented on #3830
OK, how do I clear the balance? Normally I would use `zero balance` but that won't work for a host. I tried to submit an expense, but it won't let me set a payout method.

![Screen Shot 2021-01-19 at 10 26 28 AM](https://user-images.githubusercontent.com/5498878/104964203-d56c8d80-5a40-11eb-9110-7e6390488164.png)

[2021-01-18 21:29] alanna commented on #3859
I think it would be OK to show the whole budget section to reveal the expense, even if it just said `$0`.

[2021-01-18 21:38] znarf commented on #3830
I re-activated Fiscal Hosting, I'm now able to see the options.

<img width="756" alt="Screenshot 2021-01-18 at 22 37 55" src="https://user-images.githubusercontent.com/806/104964981-ec2dc880-59dd-11eb-916a-f6d3d2e545d8.png">

[2021-01-18 21:51] alanna commented on #3830
Yay it worked!

[2021-01-18 21:51] #3830 closed

[2021-01-19 01:03] alanna commented on #3811
We've been clear in OSC communications that their pricing is not changing. We're due to send another OSC newsletter out soon, so we can reiterate it. I'm not concerned about it because the actual total fees is not changing, just how they are accounted for.

[2021-01-19 01:12] alanna commented on #3858
What is actually happening is all the money is going to the Host and then the Host is  then crediting the amount minus host fees to the Collective. But doing it that could be even messier, because we want to show the link between the contributor and the Collective, without the Host in the middle.

Right now we already kind of fudge this by counting the total contributed in some places and the tota

[2021-01-19 02:12] #1222 closed

[2021-01-19 02:13] alanna commented on #3862
Sorry, updated the title.

So if there's a situation like today where Pia needs to copy paste update the ID on 25 transactions, we should just ask a dev to do it instead?

[2021-01-19 02:25] alanna commented on #3815
Could we use the same approach for #3297 so host admins can set a contribution policy?

[2021-01-19 02:31] alanna commented on #3862
Aha! I just found #3787 - closing this as a dup.

[2021-01-19 02:31] #3862 closed

[2021-01-19 02:31] alanna commented on #3787
+1 we need this!

[2021-01-19 02:45] alanna commented on #3592
Is this done? @piamancini

Maybe only #3811 is outstanding?

[2021-01-19 03:22] Memo-Es commented on #3785
We have a design for this case. I guess it was not surfaced during the expense polish phase.

![Sheet](https://user-images.githubusercontent.com/49539954/104983711-eda5c380-59d2-11eb-9b7b-0d9d303cbaae.png)

See the [design file](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-03-Global-Components?node-id=5337%3A489) 🎨 for implementation

cc @Betree

[2021-01-19 03:24] alanna commented on #3562
closing as dup

[2021-01-19 03:24] #3562 closed

[2021-01-19 03:25] alanna commented on #3548
I closed #3562 as a dup, but it adds the idea of a `invite to join` button on Collectives that a host admin can click, as another way to achieve the same thing.

[2021-01-19 03:26] alanna commented on #3548
I'm marking this as `important` but it's really just a workaround until we have fully functional whitelabeling and customisable host application flows. I think it's a worthwhile workaround to build in the meantime though.

[2021-01-19 03:32] alanna commented on #3858
Apparently past-me thought fees as debits was a good idea #3552

[2021-01-19 04:23] alanna commented on #3501
Would `projects` basically achieve this if we rolled it out for everyone?

[2021-01-19 04:26] alanna commented on #3476
Was this fixed in PR: opencollective/opencollective-api#4621 @znarf ?

[2021-01-19 04:28] alanna commented on #3455
Is this done @Betree ?

[2021-01-19 04:42] DhairyaBahl commented on #3787
@alanna sorry for delay,  I am working on it.

[2021-01-19 04:49] alanna commented on #3381
@znarf is this already done with the new way we're charging platform fees?

[2021-01-19 04:50] alanna commented on #3376
@znarf this is done right?

[2021-01-19 04:57] alanna commented on #3342
This is done now, right @Betree ? In the new profile page settings.

[2021-01-19 05:03] alanna commented on #3297
Editing this issue to focus on the Host level as the Collective level is already done.

[2021-01-19 05:50] alanna commented on #3245
This is done

[2021-01-19 05:50] #3245 closed

[2021-01-19 05:53] alanna commented on #3224
+1 to this... it's not critical but it would be good for transparency

[2021-01-19 05:59] alanna commented on #3623
@Betree how many spam expenses do larger Collectives deal with? I know we get a lot on OSC and OCF budgets. Do you think this would be a good way to deal with that?

[2021-01-19 05:59] #3104 closed

[2021-01-19 06:50] alanna commented on #2998
I basically don't use the Updates feature (for host updates) because I can't get a clear picture of who exactly will receive it, so fixing this would be great.

[2021-01-19 06:55] alanna commented on #2843
Closing in favor of #3362 because the rest is done with the new pricing model

[2021-01-19 06:55] #2843 closed

[2021-01-19 07:02] alanna commented on #2329
We now have Updates for Collectives and Hosts and we have the platform newsletter opt-in in the flow.

[2021-01-19 07:02] #2329 closed

[2021-01-19 07:05] alanna commented on #3262
related #2199

[2021-01-19 07:06] #2154 closed

[2021-01-19 07:14] alanna commented on #1445
I still think this is a great idea but I'm not sure how to prioritise it. Maybe worth doing some scoping?

[2021-01-19 07:19] alanna commented on #1172
this is done

[2021-01-19 07:19] #1172 closed

[2021-01-19 07:20] alanna commented on #1148
Is this done?

[2021-01-19 08:32] Betree commented on #3053
@SudharakaP Definitely, thanks for your work on this!

[2021-01-19 08:32] #3053 closed

[2021-01-19 08:37] Betree commented on #3859
The budget section only show transactions, so expenses only appear there after they are paid. If we decide to display it as soon as there is an expense, we'll need to have an empty state for this section.

However, if the main goal is to have a link to the expenses page, it's something that I think was resolved by the new navbar. We (the core team) may not be used to it yet because we have our old

[2021-01-19 08:49] znarf commented on #3859
@Betree problem is that the "Budget" menu item is not appearing until you have one transaction, right?

[2021-01-19 08:53] Betree commented on #3003
@RCheesley Yes! We experimented with it in https://github.com/opencollective/opencollective-frontend/pull/5693 and the result is promising. There are a few important enhancements that we want to implement before making this feature generally available for everyone, especially regarding the sign in process (we should never ask for people to sign in on Open Collective in this embed flow). This has b

[2021-01-19 09:09] Betree commented on #3455
There's a work in progress but it's not merged yet: https://github.com/opencollective/opencollective-frontend/pull/5533

[2021-01-19 12:09] RCheesley commented on #3003
Great - sounds promising!

Our next event is June and I expect that we will start ticket sales by the end of the month, end of Feb at the very latest.

We also have some issues around not getting the data for ticket holders which I raised yesterday in #3860.

[2021-01-19 12:17] #3590 closed

[2021-01-19 12:26] piamancini commented on #3706
Sprint Review Notes:

**Collective Navigation**:
+1 Use of Github Projects was helpful
+1 Result looks great. It was a needed re-design
+1 Navigation and category designs (including system and API) are flexible enough to evolve
+1 Avoided scope creeping

-1 Scoping design and frontend complexity beforehand
-1 Category was a nice redesign for frontend and API, but offered unexpected complexity for

[2021-01-19 12:32] flaki commented on #3362
This is a great feature! Would you consider adding a checkbox that gates collection of the retainer on activity? Something like:

- [ ] Only if there is activity

This would allow for charging a retainer fee when there is activity in an Open Collective that month (e.g. expenses filed/paid out, incoming contributions). This would make open collective's model more attractive for small groups with sp

[2021-01-19 13:46] Betree commented on #3342
It is indeed, events can now be turned off form the settings:
![image](https://user-images.githubusercontent.com/1556356/105042941-2a21ff80-5a65-11eb-9f49-aabd2ec4e47c.png)

[2021-01-19 13:47] #3342 closed

[2021-01-19 14:00] Betree commented on #3623
If we look at Webpack, they get something like one per month lately. They did get more in the past, but it was usually the same person submitting multiple expenses so something like https://github.com/opencollective/opencollective/issues/2694 could help improve the situation.

I think this issue requires more discussion, because a setting to limit who can submit expenses could play against opennes

[2021-01-19 14:34] kewitz opened #3863 "Stripe lacks support for application_fee in some Currencies"
**Describe the bug**
When donating to a collective that has a host using Stripe with a Brazilian account, it is impossible to set `application_fee` (collect fees at donation time) due to Stripe limitations.

We can not collect platform fees nor platform tips in these transactions, and we'll need to consider this when invoicing pending fees. The complexity here raises because there's an assumption

[2021-01-19 14:47] kewitz commented on #3647
This was already fixed.

[2021-01-19 14:47] #3647 closed

[2021-01-19 14:53] znarf commented on #3422
Problem, some people are expecting the opposite and based on their feedback, we had to make sure this is the way it is today.

[2021-01-19 15:10] Betree commented on #2753
https://github.com/opencollective/opencollective-api/blob/fix/guest-collective/server/graphql/v1/mutations/expenses.js#L497 seems to be the origin of this issue - at least for the `CONTRIBUTOR` role. We're not checking if a member exists before creating a new one. As a result, https://opencollective.com/maureen-wilson has more than 200 member entries for https://opencollective.com/carlislechp

Dup

[2021-01-19 15:11] Betree commented on #1148
No yet. I asked https://github.com/opencollective/opencollective/issues/1148#issuecomment-675329004 to know if the latest design was ready to be implemented.

[2021-01-19 15:25] Betree commented on #3859
I just checked and you're right, though this is not the behavior that we wanted to implement initially. The "Budget" category should be displayed in the navbar in this case. @alanna would that solve the issue?

[2021-01-19 15:39] znarf commented on #3859
@Betree Then what would be the behavior when clicking on "Budget" if there is no budget section? Nothing?

[2021-01-19 15:41] Betree commented on #3859
Yes. That can be a bit counter-intuitive. @Memo-Es any opinion on that topic?

[2021-01-19 15:44] znarf commented on #3859
@Betree sounds like a good solution though even if not perfect.

[2021-01-19 16:39] kewitz commented on #3797
Already fixed.

[2021-01-19 16:39] #3797 closed

[2021-01-19 17:05] Memo-Es commented on #3859
We can update the budget section to display something like this:

<img width="1434" alt="Screen Shot on 2021-01-19 at 11-02-51" src="https://user-images.githubusercontent.com/49539954/105068013-04d1c900-5a46-11eb-858b-90148889f81a.png">

We can add an empty state for transactions or just don't display the option if there are no transactions yet, what do you think @Betree

[2021-01-19 17:08] Betree commented on #3859
We used to do this in the first version of the collective page. It adds a bit of complexity (because it's mixing transactions with expenses), but actually that's not too difficult to do in the frontend.

An empty state could be useful, at least for admins.

[2021-01-19 20:17] alanna commented on #3859
I think revealing the budget section and showing the pending expenses there is the best solution. From the user's point of view, they just want to transparently show or view anything that affects the budget, and pending expenses are part of that.

[2021-01-19 20:19] alanna commented on #1148
Oh sorry, I wasn't clear if my feedback above had been incorporated. If so, then yes, this looks good. Just remove the placeholder text and make the comment optional.

[2021-01-19 20:21] alanna commented on #3422
Can you expand on this @znarf ?

Obviously some Collectives will not want incognito payouts. But in that case, they can just reject such expenses or tell the submitter they need to reveal their name to be paid. And Collectives that need privacy can allow it.

[2021-01-19 20:22] alanna commented on #3740
@Betree OK, can we put a big `reply` button that links to the expense comment thread, and change the `replyto` to a `noreply`? I think users are used to this behaviour from other apps and will figure it out.

[2021-01-19 20:26] alanna commented on #3623
Yes there are some concerns about openness.

We have a Collective starting up soon who needs this setting (to prevent SPAM and just lots of expenses in error due to the nature of the community involved), and @znarf agreed to do it as a one-off (just hide the submit expense button for them). I would be OK if we could just request this for special cases where we feel the compromise with less opennes

[2021-01-19 20:39] znarf commented on #3422
@alanna posted the comment on the wrong issue, sorry for the confusion. will hide them ...

[2021-01-19 20:40] znarf commented on #3435
Problem, some people are expecting the opposite. It's based on their feedback that we had to make it the way it is today.

[2021-01-19 21:03] znarf opened #3864 "No scroll to the top when moving from step1 to step of the Expenses Flow"
When moving from Step 1 (Payee information) to Step 2 (Expense Details), I'm not navigated/scrolled to the top and unable to immediately see the form. I have to manually scroll to the top.

[2021-01-19 21:07] kewitz commented on #3224
Already implemented:
<img width="795" alt="Screen Shot 2021-01-19 at 18 07 04" src="https://user-images.githubusercontent.com/2119706/105093239-2b612580-5a81-11eb-95a1-99fe9e059fa6.png">

[2021-01-19 22:20] alanna commented on #3840
This just came up when creating help docs... This is what I had to instruct users to do:

It's a pretty roundabout workaround and people who don't have these instructions are not likely to figure it out.

[2021-01-20 01:28] alanna opened #3865 "Do not treat system-generated expense summary as an attachment"
It means every single expense says it has at least one attachment, which is not very helpful when reviewing expenses as an admin. I think there's an attachment to review, but there isn't. I need to scan and find the ones with actual attachments. The ones that say "1 attachment" actually have zero uploaded attachments.

<img width="1009" alt="Screen Shot 2021-01-20 at 2 22 24 PM" src="https://user-

[2021-01-20 02:59] Memo-Es commented on #3752
### Design update
---

We have designed along with our illustrator a series of icons to represent file types

<img width="1011" alt="Screen Shot on 2021-01-19 at 20-56-00" src="https://user-images.githubusercontent.com/49539954/105120926-c9acb580-5a98-11eb-8bd9-31c2963cbbc0.png">

 In context it should look like this:

<img width="1190" alt="Screen Shot on 2021-01-19 at 20-53-12" src="https://user

[2021-01-20 03:05] alanna opened #3866 "Remove host fee box from add funds modal for self-hosted Collectives"
I was only able to test this on staging, so maybe it's not an issue in production, but it appears that the `add funds` modal includes a `host fee` box for self-hosted Collectives. My understanding is that charging a host fee isn't an option for self-hosted Collectives because they are the host. Having this box is confusing, and if someone tries to charge a host fee something will probably break. S

[2021-01-20 03:51] alanna commented on #3752
@Memo-Es those look good... can it also show the filenames please? Ideally we should show a preview like we do with receipts. I don't quite understand why we can't do that, but if it's not possible, the filetype icon is better than what we have now.

Also see #3865 - I don't see an icon there for the system-generated file and I think we should separate that anyway.

[2021-01-20 03:53] alanna commented on #3435
Hmmm. I guess I can see it both ways. But the Collective admins know much better the situation with fees, so they can put the goal at $1100 if they need $1000 after fees, but financial contributors have no context for that, and shouldn't need to understand how fees work. They just want to give $50 and see $50 show up.

It's probably not important enough to prioritise now, but someday if we are imp

[2021-01-20 07:49] Betree commented on #3224
@kewitz I don't think it was, from the screenshot you shared where is the fees breakdown?

[2021-01-20 09:13] #3845 closed

[2021-01-20 09:22] Betree opened #3867 "Remove legacy "lib/constants/colors.js""
`lib/constants/colors.js` was there before introducing styled-components with a theme to the codebase. We don't want to use it anymore, and it has an history of confusing contributors. We should:
- [ ] Replace the occurrences with existing colors from the design system (`props.theme.colors`)
- [ ] Remove the file

[2021-01-20 09:55] #3861 closed

[2021-01-20 10:05] Betree commented on #3752
I tried to explain why it's difficult to generate previews for generated invoices in https://github.com/opencollective/opencollective/issues/3752#issuecomment-753811484, but it's actually simpler to explain the other way around: the reason why we can easily generate previews for uploaded files is because the way they are stored is not as safe as it should be: https://github.com/opencollective/open

[2021-01-20 10:48] #3223 closed

[2021-01-20 10:54] znarf opened #3868 "Update marked as incognito when it's not"
See: https://opencollective.com/manyverse and https://opencollective.com/manyverse/updates/january-2021-update

<img width="1244" alt="Screenshot 2021-01-20 at 11 53 33" src="https://user-images.githubusercontent.com/806/105165177-45007c80-5b16-11eb-87c9-f9518753bb5a.png">

<img width="1272" alt="Screenshot 2021-01-20 at 11 53 44" src="https://user-images.githubusercontent.com/806/105165185-46ca40

[2021-01-20 11:19] Betree opened #3869 "Replace all "Button" and "SmallButton" by "StyledButton""
Part of https://github.com/opencollective/opencollective/issues/3289

We have a few occurrences left for `Button` and `SmallButton` in our codebase. They should be replaced with `StyledButton`, and these two legacy components should be removed.

[code]

[2021-01-20 11:23] #3868 closed

[2021-01-20 15:18] Betree commented on #3842
From today's discussion:
- Codes should be limited in time
- We should not have any special character (difficult to type or copy paste on mobile)
- Need to do some more research on what others are doing and what's a good level of security for the code

@znarf also shared this [beautiful example](https://twitter.com/Pitch/status/1351908620087271425):
![image](https://user-images.githubusercontent.c

[2021-01-20 15:44] Betree opened #3871 "Accept financial contributions without verifying the emails"
## User story
We want to reduce as much as we can the obstacles users face when then contribute. That's why we implemented guest contributions (#3443), a way for people to contribute without creating an account, just by providing their email address.
There are however two paths that this "logged out" contribution feature didn't cover:
- Recurring contributions
- Contributing with an email that exi

[2021-01-20 15:45] Betree commented on #3871
@Memo-Es On this one, we'll need to think about this point:

[2021-01-20 15:56] Betree opened #3872 "Smoother experience between signin/signup"
## User story
We want to make the experience of transitioning between sign in and signup smoother.

## Best solution for this problem
A few ideas have been suggested:
- Make the forms look more alike, or use the same one but expand it when the email doesn’t exists yet in our BDD
- Remember the email in the browser (pre-filled) with the avatar, so people can simply click on their profile to trigger

[2021-01-20 16:36] Betree opened #3873 "[PROJECT] Sign in enhancements"
## Purpose
We think our sign in process sometimes is an obstacle **to contributions** (especially in the context of #3003 and white labeling). By leaving the website to go to their mailboxes, users loose the context of the page they're in and the process being more complex there's more change that they'll stop in the middle of the process.

We've also identified that, more generally, the sign in /

[2021-01-20 16:43] Betree commented on #3003
If everything goes as planned, we could be able to provide a beta version of the embedded contribution flow for mid-february. We are now prioritizing https://github.com/opencollective/opencollective/issues/3873, which will make this possible. I'll make sure to keep you posted about the progress.

Regarding https://github.com/opencollective/opencollective/issues/3860, I'm not sure that we'll have t

[2021-01-20 16:55] SudharakaP commented on #3869
@Betree : If there's no objection, I'll take this one as it's part of the styled-jsx removal. 😄

[2021-01-20 19:27] sbinlondon commented on #3752
@Betree are you working on this or can @kewitz assign it to me?

[2021-01-20 20:18] alanna commented on #3752
@Betree that's fine! I was talking about user-uploaded file previews, not system-generated.

[2021-01-20 21:57] alanna opened #3874 "Error when paging through expenses"
**Describe the bug**
I'm trying to load https://opencollective.com/opensource/expenses?offset=40 but I get this error.

Message
Cannot read property 'type' of null
Cannot return null for non-nullable field Expense.payee.

Trace
Error: Cannot read property 'type' of null
Cannot return null for non-nullable field Expense.payee.
    at new t (https://opencollective.com/_next/static/chunks/d276cbb101b

[2021-01-21 02:14] Memo-Es commented on #3752
I added a hover state for the downloadable icon
<img width="553" alt="Screen Shot on 2021-01-20 at 20-04-15" src="https://user-images.githubusercontent.com/49539954/105270517-86674b00-5b5b-11eb-9679-bd920739fe91.png">

Regarding the differentiation between downloadable expense documentation and the system's invoice, the latest should be downloaded using the buttons on the top left of the expense d

[2021-01-21 03:28] alanna opened #3875 "Add running balance column to transactions CSV export"
## User story
As a Collective or Host admin, I need to track and report the budget balance at different points in the past. The standard design of bank and ledger data includes `balance` as a column, so each transaction shows its amount and the change to the total that it makes.

E.g. here is what OCNZ's bank account statement looks like:
<img width="709" alt="Screen Shot 2021-01-21 at 4 27 36 PM"

[2021-01-21 07:44] Betree commented on #3874
Associated Sentry error: https://sentry.io/organizations/open-collective/issues/2166233958/?project=5199682&query=Cannot+return+null+for+non-nullable+field+Expense.payee.&statsPeriod=14d

[2021-01-21 07:47] Betree commented on #3752
I personally preferred the previous version where the filename was below the preview. It's an important info that helps you to quickly review, hiding that behind a tooltip makes things a bit more complex and tooltips are usually less accessible.

[2021-01-21 07:49] Betree commented on #3752
I'm not working on this. Note that we don't store any filename right now, so as mentioned above we will first need something like https://github.com/opencollective/opencollective/issues/3753 if we want to tackle this issue with the currently proposed solution.

[2021-01-21 09:33] znarf commented on #3874
Guess we're gonna discover that an account was deleted when it shouldn't, let's see.

[2021-01-21 09:38] znarf commented on #3874
That might be on me. In December, I was trying to delete all the mess created by a spammer and missed to delete 2 expenses.

[2021-01-21 09:38] #3874 closed

[2021-01-21 09:58] znarf commented on #3828
Yes

Emojis

We ignore them but we keep the one that are already in the list.

Someone created a PR for Ukrainian:
https://github.com/opencollective/opencollective-frontend/pull/5733

[2021-01-21 10:39] #3828 closed

[2021-01-21 10:47] Betree commented on #3859
@kewitz since you implemented the update to this budget section, do you have any objection to the idea of re-implementing something like we had before where in the frontend we fetch 3 expense + 3 transactions, mix them and display the 3 first entries (regardless if they're transactions or expenses)?

I think we got rid of this for the sake of simplicity, but I don't remember if there were other re

[2021-01-21 11:51] snitin315 commented on #1445
@Betree Can I work on this one?

[2021-01-21 11:53] sbinlondon commented on #3752
@kewitz Unassigning myself for now since we need that other issue first.

[2021-01-21 11:54] Betree commented on #1445
@snitin315 Thanks for proposing, we'll need to discuss it internally first to make sure we have the bandwidth to review and maintain. I'll let you know.

[2021-01-21 12:05] Betree opened #3876 "Free up update's slugs when deleting them"
# Problem
When updates get deleted, their `slug` is still registered in the DB. So if you create `my-update`, delete it and recreates an update with the same title it will appear as `my-update1`, which doesn't look great.

# Solution
- [ ] When deleting an update, add a `-${Date.now()}` suffix to the existing slug (ideally in an `beforeDestroy` sequelize hook)
- [ ] Add a test in `test/server/mode

[2021-01-21 12:05] Betree commented on #3876
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-01-21 12:16] znarf commented on #3381
I'm not clear on what is really expected and what should be the specs for this.

Regarding the situation for Hosts in 2021 with our latest pricing (OCF as example):

- Platform Fees (through Added Funds)
    - are added to the Host Budget in one transaction (1)
    - are given back in the settlement Expense (2)
- Platform Tips
  - Paid with Stripe are automatically taken and not mentioned in the i

[2021-01-21 12:23] sentry-io[bot] opened #3877 "GraphQLError: Expected value of type "Individual" but got: { dataValues: { type: "ORGANIZATION"..."
Sentry Issue: [OC-API-C](https://sentry.io/organizations/open-collective/issues/2111966413/?referrer=github_integration)

[code]

# To reproduce

**Query**
[code]

**Variables**
[code]

[2021-01-21 12:44] znarf opened #3878 "Add settings in the Actions menu"
<img width="1298" alt="Screenshot 2021-01-21 at 13 41 25" src="https://user-images.githubusercontent.com/806/105352618-6f256d80-5bee-11eb-97be-545d9e539343.png">

As admin of a Collective, when navigating on pages with the compressed navbar, I'm missing direct access to the settings while they could be added to the Actions menu.

This would be a temporary measure as Host Dashboard and Settings are

[2021-01-21 12:57] znarf commented on #3851
We also need to make sure to clear Cloudflare cache also to avoid inconsistencies when hard refreshing.

[2021-01-21 12:58] snitin315 opened #3879 "Updates: change cursor to pointer for delete/edit actions buttons"
**Describe the bug**

The cursor doesn't change to `pointer` when hovering over `edit`/`delete` action buttons of updates.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an update.
2. Hover on `edit`/`delete`
3. See the error

**Expected behavior**
The cursor should change to `pointer` letting the user know that it's clickable.

**Screenshots**

![update-cursor](https://user-images.g

[2021-01-21 13:25] RCheesley commented on #3003
Awesome, sounds great on all counts!  It would be ideal if we could capture the ticket holder details at purchase but I am sure there might be workarounds!

[2021-01-21 13:25] kewitz commented on #3224
I'm so sorry @Betree, I saw the image and assumed it was missing the author. :man_facepalming:

[2021-01-21 13:43] znarf commented on #3851
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-01-21 13:43] znarf commented on #3297
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-01-21 13:50] znarf commented on #2808
I'm removing the Bounty for now, seems specs were to weak to achieve something there.

[2021-01-21 13:55] znarf commented on #3851
@snitin315 Sorry, according to our [rules](https://docs.opencollective.com/help/contributing/development/bounties), only 2 bounties assigned at the same time for you.

[2021-01-21 13:55] znarf commented on #3297
@snitin315 Sorry, according to our [rules](https://docs.opencollective.com/help/contributing/development/bounties), only 2 bounties assigned at the same time for you.

[2021-01-21 14:00] snitin315 commented on #3297
Oh! I see. Although I believe others are almost complete I will wait for them to be closed. Removed my assignment 👍🏻

[2021-01-21 14:14] Betree commented on #3878
The long term solution for this is indeed to have an `Admin panel` button, linking to the unified dashboard. We can implement the button but link it to the settings for now, that would resolve https://github.com/opencollective/opencollective/issues/3482.

It was actually implemented like that initially, but from the feedback that was given at the time I understood that we preferred to stay with th

[2021-01-21 14:21] JoyLubega commented on #3851
@znarf can i pick this up

[2021-01-21 14:23] segfult commented on #3297
@znarf can i take this one up?

[2021-01-21 14:27] saideepesh000 commented on #3879
@snitin315, can I work on this?

[2021-01-21 14:31] Betree commented on #3547
@Memo-Es Any link to figma for us to easily check the sizes? Also, while I agree that the card individually looks better, the contribute buttons are not aligned anymore in this new version. Are we ok with that?

![image](https://user-images.githubusercontent.com/1556356/105364656-b36c3a00-5bfd-11eb-8bbb-3157d18b6e0a.png)

[2021-01-21 14:36] znarf commented on #3851
@JoyLubega sure! Given the precise specs, I'm gonna put a 1 week limit for it.

[2021-01-21 14:37] znarf commented on #3297
@segfult Is it your first one? Sure! Have a try. I'm putting a 1 week limit on it.

[2021-01-21 14:37] Betree commented on #3224
I see ^^ I didn't even notice that it was missing an avatar in my screenshot :smile:

[2021-01-21 14:38] segfult commented on #3297
my third one i believe.

[2021-01-21 14:42] RCheesley commented on #3547
I think they should be aligned if that is possible - it would look much tidier!

[2021-01-21 14:58] Betree commented on #3879
@saideepesh000 sure you can. Feel free to ask if you need anything

[2021-01-21 15:07] Betree opened #3880 "[PROJECT] Merge settings and host dashboard"
## Background
**Edit by Memo Esparza**
Last year, when we designed the host dashboard features: Paying an expense, manage collectives, adding funds, managing contributions, among some others... We realized the experience of entering the dashboard and navigating between the dashboard, the public profile page, and the settings were quite scattered, we saw the need for a consolidated space to have al

[2021-01-21 15:11] Betree commented on #3468
After merging the update, we should also update the screenshot (and eventually some text) on this page: https://docs.opencollective.com/help/financial-contributors/organizations#if-you-already-have-an-individual-profile

[2021-01-21 16:13] Betree commented on #3844
OCF form is about to be released. We should prioritize this issue, otherwise admins will just end up with empty application messages on their dashboard

[2021-01-21 16:31] Betree opened #3882 "OCF Form: use a different view for host admins"
If you're an admin of OCF, applying yourself through the form will strip most of the data you input there as the collective will automatically be approved. The simplest solution would be to simplify the form by hiding all the fields related to the application. Validations would also need to be updated accordingly.

[2021-01-21 16:40] Betree opened #3883 "Expense: visual regression on FAQs"
This arrow is not part of the design. See https://opencollective.com/the-love-fridge/expenses/32052.

Probably comes from the `components/faqs/FAQ.js` component.

![image](https://user-images.githubusercontent.com/1556356/105381704-93457680-5c0f-11eb-8810-976dcd4975f1.png)

[2021-01-21 16:41] znarf commented on #3882
Could we just send them on the "classic" path?

[2021-01-21 16:43] Betree commented on #3882
That would be an ok behavior too, but we would have to review a bit the architecture since OCF form was implemented as its own separate page & route (`pages/ocf-host-application`).

[2021-01-21 17:27] #3613 closed

[2021-01-21 17:27] kewitz commented on #3613
:trophy: This issue has been completed by @leonardohofling

To claim the $100 bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-21 17:28] Betree opened #3884 "Drop support for guest tokens"
With the latest changes made to the contribution flow (anyone can contribute using the email of another guest) and the changes to come with https://github.com/opencollective/opencollective/issues/3873, especially #3871, the implemented guest tokens don't serve any meaningful purpose anymore and therefor bring unnecessary complexity.

By dropping them, the only feature we would loose is the ability

[2021-01-21 17:46] Betree opened #3885 "Avatar design update"
For newly created collectives, we want the avatar to be randomly picked among the three proposed below. To make sure that we always display the same avatar for each collective while keeping the attribution random, I suggest that we pick the default avatar based on the collective ID.

We should also have a `MIN_ID` from where we start applying this policy, to not impact existing collectives:

[code

[2021-01-21 19:45] SudharakaP opened #3886 "Donations to OpenCollective Dropdown Hide"
**Describe the bug**

When we donate to a collective there's a drop-down to contribute a percentage to Open Collective. Also the amount in the drop down is reflected on the right hand side.

![path839](https://user-images.githubusercontent.com/12435965/105403351-7db75900-5bdd-11eb-8fb1-6323273c30cd.png)

This doesn't make much sense when we want to donate to Open Collective as the above screenshot

[2021-01-21 20:16] RCheesley opened #3887 "Implement ability to create and manage an annual budget process"
## User story
As a Collective, I would like to be able to create an annual budget (with line items etc) to tell my contributors what we will do with the funds that we have, and to plan ahead for future years allowing us to set fundraising goals.

I would like to be able to assign the transactions in our Collective to the relevant line inems, such that it could show performance against the budget.

[2021-01-21 22:22] Betree commented on #3886
Good point, platform tips when contributing to Open Collective don't make much sense 😄

[2021-01-22 00:41] alanna commented on #3381
I can help with specs @znarf - things have changed a lot since this issue was raised so we should rethink requirements. We are trying to achieve a few things here.

**Accounting**: host entities need documentation, i.e. and invoice where the numbers match credits and debits in their bank account, for their tax reporting.

**Transparency**: Everyone (Host Admins, their Collective Admins, Financial

[2021-01-22 05:08] Memo-Es opened #3888 "Tier card design update"
### Design update
---

Revamped and simplified the tier cards for profile pages
Related issues: #3547

![Sheet](https://user-images.githubusercontent.com/49539954/105449601-52b12180-5c3e-11eb-91c6-2a625e21ddb3.png)

See the [design file 🎨 ](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/DS-03-Global-Components?node-id=6253%3A84)

 ---
@Betree

[2021-01-22 05:14] Memo-Es commented on #3547
Resolved in #3888

[2021-01-22 05:14] #3547 closed

[2021-01-22 07:54] Betree commented on #3888
Nice! @snitin315 please note that we're not ready to implement the "Edit" button yet, nor the parts to customize the images and colors (tracking that in https://github.com/opencollective/opencollective/issues/3438 + https://github.com/opencollective/opencollective/issues/2121). All the other parts can safely be implemented.

[2021-01-22 08:18] Betree commented on #3681
@alanna The search function now allows this. Should we rather focus on #2970?

[2021-01-22 08:30] znarf commented on #3720
@znarf Looks good to me!

[2021-01-22 08:31] Betree commented on #3588
## Frontend
- On the expense page, the left column seems like a good place to add this. The [exclamation mark icons](https://styled-icons.js.org/?s=spam) seem often used for reporting SPAM:
![image](https://user-images.githubusercontent.com/1556356/105466339-5e2f3780-5c94-11eb-9b5d-892b192e8a4c.png)

- In expenses list, I think the button should not be in your face. Hiding it like what was propose

[2021-01-22 08:48] Betree commented on #3078
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-01-22 08:55] Betree commented on #2998
Looking at the code for `publishUpdate`, it seems to rely on `collective.getUsers` which fetch all members regardless of their roles. So we should indeed update the wording in the frontend and variable names in the API to stop referring to them as "Financial contributors", and update the corresponding numbers (`This update will be sent to x contributors`) accordingly.

[2021-01-22 09:00] Betree opened #3889 "Can receive two notifications for update based on member roles"
**Describe the bug**
If you are both an admin of an hosted collective, and a financial contributor to the host, you will receive two emails when they publish an update. This is because in https://github.com/opencollective/opencollective-api/blob/master/server/lib/notifications.js#L249, we just call `notifyHostedCollectiveAdmins` then `notifyMembersOfCollective` without any kind of de-duplication.

[2021-01-22 09:21] Betree commented on #3716
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

Either proposed solutions will be accepted as valid (as long as they solve the problem!). The one with the SVG might be the si

[2021-01-22 09:26] Betree commented on #1432
An example of a CI run demonstrating this issue:
- https://github.com/opencollective/opencollective-api/pull/5161/checks?check_run_id=1747628214
- https://github.com/opencollective/opencollective-api/pull/5161/checks?check_run_id=1747628106

The most frequent error is `.tap is not a function`

[2021-01-22 09:29] znarf opened #3890 "Move Cypress createCollective command to GraphQL v2"
We should generally start deleting some mutations from GraphQL v1, or in some cases start deprecating some options.

I was about to [edit](https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/mutations/collectives.js#L36) `createCollective` but I noticed it was used in one important [Cypress command](https://github.com/opencollective/opencollective-frontend/blob/maste

[2021-01-22 09:38] #3869 closed

[2021-01-22 10:38] znarf commented on #3882
Tentatively implemented in https://github.com/opencollective/opencollective-frontend/pull/5752

[2021-01-22 11:35] znarf opened #3891 "Officially support Tiers in different currencies than the account"
Some Collectives are asking to set Tiers in a different currency.

As far as I know, this is actually something that works and doesn't mess up with the ledger.

We would need to:
- support it officially and add a "currency" field when editing Tiers
- write tests to ensure this works as expected and prevent regressions

[2021-01-22 12:12] leonardohofling commented on #3716
@Betree I'll work on it, okay?

[2021-01-22 13:19] Betree commented on #3716
@leonardohofling Sure! Let me know if you need anything. I think you're already familiar with the component right? If I remember correctly you implemented its mobile version last year :slightly_smiling_face:

[2021-01-22 13:54] #3876 closed

[2021-01-22 13:54] Betree commented on #3876
:trophy: This issue has been completed by @snitin315

To claim the **$100** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-22 15:40] #3844 closed

[2021-01-22 18:00] kaylarep opened #3892 "Better search filters"
## User story
We have had many requests for better search features, filters, and export options to CSV via the filtered search options.

## Best solution for this problem
Also perhaps having the tags as a drop down, so people can view the frequently used tags.

Filter Options could include:

- Category (e.g. Open source, Environment, Blockchain, COVID, Women, Youth, Mutual aid, Education,) - could

[2021-01-22 18:22] kewitz opened #3893 "Add Structured Bank Account Information for non TransferWise users"
Use the platform token to generate the payout method Bank Information form.
We already have this implemented for storing the Bank Account information in the Host _Receiving Money_ settings, what we need to do is to render the correct modal option to the host, because if they don't use TransferWise, we'll need to just render the normal manual modal with the rendered information.
Also, it would be i

[2021-01-22 18:41] kewitz commented on #3795
@alanna @znarf I updated it to display the unverified expenses by default and to display drafts (invited expenses) that were created by the user.

The detail here is that we still don't support editing the drafted expense, this would get in the way of the submit on behalf flow and it will require further speccing if necessary.

[2021-01-22 18:41] #3795 closed

[2021-01-22 18:41] #3838 closed

[2021-01-22 19:07] kaylarep opened #3894 "A Dashboard for Collective Admins"
## User story
We had a request from a collective admin for their own dashboard - like the one that fiscal hosts have:
![image](https://user-images.githubusercontent.com/64920686/105527917-27a7eb80-5c99-11eb-83ea-fe4d5b9a0089.png)

## Best solution for this problem
It could have:

- Budget
- Financial Contributors
- Expenses
  - Somewhere to view sent invites for invoices
- Team

- _Anything else?

[2021-01-22 20:17] kewitz commented on #3840
This is just an inconsistency between conditionals. I'm merging a fix for this and we'll have the exact same dropdown for both cases.

[2021-01-22 20:24] #3799 closed

[2021-01-22 20:24] #3840 closed

[2021-01-22 20:48] alanna opened #3895 "Notification of comment on Update should show what Collective it's for"
The email notification for comments on Updates only shows the name of the Update, not the name of the Collective. If you have multiple Collectives this isn't very helpful.

<img width="882" alt="Screen Shot 2021-01-23 at 9 46 25 AM" src="https://user-images.githubusercontent.com/5498878/105544693-1fff4a00-5d60-11eb-82af-fd442b64dedb.png">

[2021-01-22 21:43] leonardohofling commented on #3716
Yes, I did. I'll start later and if I need something I'll let you know.
Thanks

On Fri, Jan 22, 2021, 10:19 Benjamin Piouffle <notifications@github.com>
wrote:

[2021-01-22 22:09] alanna commented on #3792
This is still happening. It looks really weird for hosts with only one or a few Collectives, because the card representing itself is very obvious.

<img width="634" alt="Screen Shot 2021-01-23 at 11 07 44 AM" src="https://user-images.githubusercontent.com/5498878/105554004-58f0ec00-5d6b-11eb-861c-2702c7c8eda3.png">

If the heading is going to say "We are fiscally hosting this Collective" then thin

[2021-01-22 22:17] alanna opened #3896 "Users are not able to select correctly between creating a fiscal host and self-hosting"
I have experienced this multiple times when onboarding new users. People do not understand what to click between "ourselves" and "our organization". If they intend to self-host a Collective but an organization will hold the funds, they will click "our organization" and go down the wrong path, or become confused here and stop altogether.

<img width="983" alt="Screen Shot 2021-01-23 at 11 12 14 AM"

[2021-01-22 22:41] alanna commented on #2043
+1 to this! It's fine to only allow videos from select sources, like Youtube and Vimeo. Lots of sites do that. Also fine to just do this for About descriptions as a first step and then look at Updates later, because we definitely need them for About sections.

[2021-01-22 22:46] alanna opened #3897 "Overlapping UI when adding video to standalone tier"
The save button and the input for the video URL.

<img width="1243" alt="Screen Shot 2021-01-23 at 11 45 17 AM" src="https://user-images.githubusercontent.com/5498878/105557225-8a1feb00-5d70-11eb-994b-b92653234a3b.png">

[2021-01-23 01:44] alanna opened #3898 "Displaying currency twice"
<img width="314" alt="Screen Shot 2021-01-23 at 2 43 26 PM" src="https://user-images.githubusercontent.com/5498878/105564973-69b05a80-5d89-11eb-88e4-f7cb575a3912.png">

This should say either "NZ$2500" or "$2500 NZD" but not both. Same for the line below.

[2021-01-23 02:01] alanna opened #3899 "Do not display end date on event card if it's the same as the start date"
There's no reason we need to see the same date twice.

<img width="273" alt="Screen Shot 2021-01-23 at 2 59 56 PM" src="https://user-images.githubusercontent.com/5498878/105565462-bf860200-5d8b-11eb-86a6-e458e7581848.png">

[2021-01-23 02:35] alanna opened #3900 "Unclear action links in Update admin view"
If you are the admin of a Collective looking at a published Update, you see this:

<img width="555" alt="Screen Shot 2021-01-23 at 3 32 57 PM" src="https://user-images.githubusercontent.com/5498878/105566318-5f458f00-5d90-11eb-8d03-ea19fabc1347.png">

The `Admin` label looks like a button, while the `edit` and `delete` links do not look like buttons. If you hover over them, the cursor does not cha

[2021-01-23 03:19] alanna opened #3901 "Enable setting instructions when activating bank transfers"
As an admin setting up fiscal hosting for the first time, I click `start accepting financial contributions` and then can select `add stripe` or `add bank account`. If I select `add bank account, I see this screen.

<img width="612" alt="Screen Shot 2021-01-23 at 3 58 36 PM" src="https://user-images.githubusercontent.com/5498878/105567023-40e19280-5d94-11eb-82c1-cdecb6a1be49.png">

I can select my

[2021-01-23 03:55] alanna opened #3902 "Remove Contributions section subheading"
Under the Contributions section header, it says:

This sort of works if the page you're looking at is it itself a Collective, but this subheader is showing on Host and Organization pages, where it doesn't make sense. I tried to think of a way to rephrase it, but I can't think of anything that works in all cases, so can we just remove it?

<img width="668" alt="Screen Shot 2021-01-23 at 4 55 17 PM"

[2021-01-23 09:59] znarf commented on #3901
I prefer we change the copy to match how it's working today. On the short term, it's not likely we will prioritize adding instructions there.

[2021-01-23 10:11] znarf commented on #3898
Might not be beautiful but at least people can't miss it. I've seen people easily confuse USD and NZD on the platform.

It looks generally good for euro, dollar and gbp which are the currencies most used on the platform.

[2021-01-23 14:40] brymut commented on #3078
Hi @JoyLubega may I please work on this while you work on the other bounty you're assigned to?

[2021-01-23 17:39] JoyLubega commented on #3078
its okay. @brymut you can take this and i stay with the other one

[2021-01-23 17:41] brymut commented on #3078
Thank you @JoyLubega

[2021-01-24 02:06] alinamanko opened #3903 "Semi-automation of allocation payments for GitHub Sponsors"
Allocating payments to Collectives hosted by Open Source Collective that collect funds on GitHub Sponsors is becoming time consuming enough to consider automation. There are around 100 such Collectives at the moment compared with around 600 in total using GitHub Sponsors. This situation is not going to improve without some intervention.

### Current monthly process

1. Login to GitHub Sponsors acc

[2021-01-24 03:40] snitin315 commented on #2966
Bump

[2021-01-24 06:35] alanna commented on #3901
OK, I'll update the copy as part of my language changes I'm working on a PR for now. Maybe I can add a note there explaining how to edit the instructions in settings.

[2021-01-24 20:27] 304s opened #3904 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2021-01-24 22:22] alanna opened #3905 "Team section missing"
In OSC's settings, Team is enabled, but it's not showing on https://opencollective.com/opensource

![Screen Shot 2021-01-25 at 11 20 25 AM](https://user-images.githubusercontent.com/5498878/105645283-85d60800-5eff-11eb-9d9e-d24a6b9e4a80.png)

[2021-01-24 22:23] alanna commented on #3905
Same for https://opencollective.com/foundation and https://opencollective.com/protozoa. But not for https://opencollective.com/giftcollective so it's not affecting all hosts.

[2021-01-24 22:33] alanna opened #3906 "Number of transactions doesn't match consolidated receipt"
On the payment receipts screen for Open Collective Inc, it shows 32 transactions for Dec 2020, but when I download it, there's only 1.

![Screen Shot 2021-01-25 at 11 32 15 AM](https://user-images.githubusercontent.com/5498878/105645826-06e1cf00-5f01-11eb-9652-60d05823d000.png)

<img width="827" alt="Screen Shot 2021-01-25 at 11 33 27 AM" src="https://user-images.githubusercontent.com/5498878/1056

[2021-01-24 22:37] alanna opened #3907 "Payment receipts dates are incorrect"
1. January is still ongoing. The dates for available consolidated monthly receipts should only go up to December right now. And definitely not February, which hasn't even begun.

![Screen Shot 2021-01-25 at 11 34 22 AM](https://user-images.githubusercontent.com/5498878/105645877-63dd8500-5f01-11eb-8479-c9779420cf47.png)

2. If I download the one for OSC under December, the actual receipt is for No

[2021-01-24 22:44] alanna opened #3908 "Add Collective names to consolidated receipt"
Here's what a consolidated receipt looks like when you have an organization with a large number of contributions (this is only one of three pages that all look this way):

![github-sponsors_opensource_2020-11-01_2020-12-30](https://user-images.githubusercontent.com/5498878/105646068-976cdf00-5f02-11eb-83ee-544094ad9107.jpg)

Each "Financial Contribution" is linked to the Collective, but either the

[2021-01-24 23:57] #3904 closed

[2021-01-25 08:02] Betree commented on #3894
Hi @kaylarep, it seems to me that collectives already have access to most of this info:
- Budget: https://opencollective.com/babel/transactions (includes CSV export options)
- Financial Contributors: From the collective page
- Expenses: https://opencollective.com/babel/expenses
- Team: From the collective page (and the settings)

What would be the actionable for this feedback, to centralize all th

[2021-01-25 08:08] Betree commented on #3908
Isn't that something specific to OSC / Github sponsors? Transactions names normally include the collective name. With a "regular profile", this is what I get:

![image](https://user-images.githubusercontent.com/1556356/105677934-cd9f6400-5eec-11eb-95de-55d057d6c797.png)

[2021-01-25 08:19] Betree commented on #3900
`Admin` is using the default "Tag" styles from our design system, we could eventually make it clearer by using uppercase text.

Regarding "Edit" and "Delete", I agree these should be buttons.

[2021-01-25 08:26] snitin315 commented on #3900
We alreaady have a separate issue for `Edit`/`Delete` Actions -> https://github.com/opencollective/opencollective/issues/3879

[2021-01-25 08:31] Betree commented on #3879
Based on the discussion in https://github.com/opencollective/opencollective/issues/3900, we should resolve this by using `StyledButton` with (size=Tiny) for these actions

[2021-01-25 09:02] Betree commented on #3466
This seems to be resolved, at least the MVP part?

[2021-01-25 09:05] Betree commented on #3604
I'm closing this in favor of #2660, which I think can provide a good solution that doesn't require involving design.

[2021-01-25 09:05] #3604 closed

[2021-01-25 09:18] Betree commented on #2043
API now supports this in `server/lib/sanitize-html.ts`, so this issue is mostly about adding a button in the `RichTextEditor`

[2021-01-25 09:35] znarf commented on #3906
I think this might be originally reported here: https://github.com/opencollective/opencollective/issues/3684

[2021-01-25 09:46] znarf commented on #3903
It seems more complicated to automate than what I thought, all the reconciliation is difficult.

If you could end up with a spreadsheet/CSV with the list of all collectives (with their slug) and the amount of money that needs to be wired, we could create some batching to Add Funds automatically.

[2021-01-25 09:50] znarf commented on #3907
Receipts appearing for ongoing months is something that was already mentioned in https://github.com/opencollective/opencollective/issues/3684

I'm not sure why the label is now month+1, it was definitely not the case last time I reviewed the feature. Might be a regression.

[2021-01-25 09:54] Betree commented on #3907
There was a change in https://github.com/opencollective/opencollective-frontend/pull/5681 to migrate this to `FormattedDate`, it's probably the source of the regression. Looking into it

[2021-01-25 09:55] znarf commented on #3908
It's an edge case because the description usually contains the collective name or something more descriptive. Here, unless I'm mistaken, an admin decided to enter manually these entries as "Financial Contribution".

I don't think it's worth prioritizing this now, especially with the risk of breaking the layout.

[2021-01-25 11:04] #3468 closed

[2021-01-25 11:06] sbinlondon commented on #3468
:trophy: This issue has been completed by @snitin315

To claim the **$500** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-25 11:06] sbinlondon commented on #3468
I will add that to my list to do today.

[2021-01-25 11:22] snitin315 commented on #3468
Thank you @sbinlondon, I have submitted an invoice for the same to https://opencollective.com/engineering/expenses

[2021-01-25 12:12] #3905 closed

[2021-01-25 12:13] #3907 closed

[2021-01-25 13:19] kewitz commented on #3859
I don't have any technical objection to that.

[2021-01-25 13:21] kewitz commented on #3815
@alanna sure! Any suggestions where we could fit the custom information fields in the host settings?

[2021-01-25 13:23] kewitz commented on #3798
@Memo-Es I think this is simple as not skipping to the expense step when filling in the invitee name and email.
Although this may be a reason to ditch the dropdown invitee form and use the main form to input those details.

[2021-01-25 13:33] #3899 closed

[2021-01-25 13:47] Memo-Es commented on #3798
On it, @kewitz will share a proposal here this week

[2021-01-25 14:57] Betree commented on #2838
Just noticed that the feature doesn't work today in react-quill, there's no classes for the `.ql-align-right` in our emails and since we sanitize the content, they're already removed from all the content! So this is not a blocker for https://github.com/opencollective/opencollective/issues/2839, I'll remove the buttons from the frontend until we're ready to tackle this issue.

[2021-01-25 14:57] #2838 closed

[2021-01-25 14:58] Betree commented on #2839
The only element needed for this issue is to allow people to add H1 and H2 tags. Unlike other contents, we want to allow top-level titles for updates.

[2021-01-25 15:34] Betree commented on #3905
@piamancini Not really, for the budget section we just forgot to implement the condition that checked the `restrictedTo` field of the section (that defines that only admins can view it).

For this issue about the team section, the problem came from two things:
- The section was not added to these host when we implemented it (migration issue)
- Default sections were marked as enabled in the setting

[2021-01-25 16:01] #3708 closed

[2021-01-25 16:01] kewitz commented on #3753
@Betree I think we should go with something other than `Images` for the model.
It should be more abstract to support PDFs and CSVs.

[2021-01-25 16:03] znarf commented on #3376
@alanna Can you try it? Does it work for you?

[2021-01-25 16:33] Betree commented on #3753
Definitely. Looking back at it, the proposal here was too tied to https://github.com/opencollective/opencollective/issues/2660, I've updated the specs to accommodate for all file types.

[2021-01-25 16:57] znarf commented on #3592
I'm closing this. https://github.com/opencollective/opencollective/issues/3811 Will be tackled out of the project.

[2021-01-25 17:20] saideepesh000 commented on #3879
Hey @Betree, I not sure why, whenever I try to create an Collective or an org I'm getting this error, please could you help me with this. I successfully Signed up with STAGED api w/ confirmation mail.
![Screenshot (1)](https://user-images.githubusercontent.com/43727167/105740647-640c6d80-5f5f-11eb-8cbd-22d00d0d6d7d.png)

[2021-01-25 18:11] kaylarep commented on #2970
Agree that merging the search bars makes the most sense for user functionality.

Have raised a github issue here for ideas for better search filters: https://github.com/opencollective/opencollective/issues/3892
(more suggestions are welcome!)

[2021-01-25 18:42] SudharakaP opened #3909 "Fix Card Size in Banner"
**Describe the bug**

Seems https://github.com/opencollective/opencollective-frontend/pull/5595 introduced a regression such that the cars seems a bit off with the margins not being applied evenly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/agora-collective/banner.html

**Expected behavior**

The cards should be correctly aligned both on desktop

[2021-01-25 21:07] hellopetersmith opened #3911 "Multi Level Expense Approvals"
## User story
_As Admin, I can set approval assignments on an expense so that an expense can go through the appropriate approval process (with different people playing a different role in the process, i.e. project lead approves that the right person submitted the right amount, finance lead approves the funds leaving the account based upon our available funds and our budget/forecast). no expense is

[2021-01-25 22:04] alanna commented on #3911
Related: #3328 , #3081

[2021-01-25 22:35] alanna commented on #3908
If it's an edge case, we shouldn't prioritise it. But I'll leave it open.

[2021-01-25 22:52] alanna commented on #3376
This one worked so I guess it's good to go https://opencollective.com/opensource/expenses/30480

[2021-01-25 22:52] #3376 closed

[2021-01-26 01:17] alanna commented on #3815
@kewitz - For now I think we could shoehorn it into "receiving money" because that's what this policy would cover. But @Memo-Es is working on an overhaul for the whole settings area so I think just putting it somewhere for MVP and then asking him to find a better place is good enough right now.

[2021-01-26 01:18] alanna commented on #3681
Yes, better to just do #2970 if it's going to be worked on soon. The link idea was more of a stopgap.

[2021-01-26 03:39] Memo-Es opened #3912 "New Pricing Page Design - Implementation"
### We have redesigned the pricing page to align with our new sustainability model.

- Featuring two main sections: "For Collectives" and "For Fiscal Hosts," as well as a FAQ module (@alanna, @piamancini, what content do we want there?)

---

![Desktop](https://user-images.githubusercontent.com/49539954/105796675-f8250780-5f54-11eb-8ae2-514118fa5366.png)

- For any copy change, comment here or add

[2021-01-26 03:46] alanna opened #3913 "Can't disable 2FA"
I clicked the 'enable 2FA' tickbox in host settings for Protozoa just to see how it works, but now the save button doesn't seem to do anything, and I don't see any options for disabling. So either it's turned on and the UI just isn't giving me feedback that it's saved, and there's no way to turn it off, or it hasn't actually been turned on. I do not want 2FA activated for this host.

[2021-01-26 03:47] alanna commented on #3913
Ah, I see the note in the FAQ saying to contact support about disabling it, but that doesn't fix the UI issues where you can't tell if it's successfully beed turned on.

[2021-01-26 04:21] sudo-kaizen commented on #3898
Hello @Betree is there any resolution on the specs for fixing this? I'll like to take it up

[2021-01-26 05:18] snitin315 commented on #3888
The design file says `ATTENDING` for both tickets and past events. I think it should be `ATTENDED BY` for past events.

![screenshot-www-figma-com-file-9Iq3vBOmZ2EuOacXEYD5yK-5BDS-5D-03-Global-Components-1611637910625](https://user-images.githubusercontent.com/46647141/105803660-f21a3f80-5fc3-11eb-8370-f8444e1142e8.png)

[2021-01-26 07:52] Betree commented on #3898
@sudo-kaizen I haven't looked into specs yet, but it's something we probably want to fix in `components/FormattedMoneyAmount.js` and / or `components/Currency.js`. Ideally we should also create unit tests to prevent regressions on other currencies and make sure it looks good with all condition (`showCurrencyCode=false`, `abbreviate`, etc.)

[2021-01-26 09:05] znarf commented on #3913
It seems all right for me.

[2021-01-26 11:00] Betree commented on #3859
Let's go with that then. We'll need to make sure that section data is still properly cached.

[2021-01-26 11:09] sudo-kaizen commented on #3898
@Betree Great! I'll like to take it up. Could you please update this space with the specs when the tests are ready? Thanks

[2021-01-26 11:57] sbinlondon commented on #3145
Closing - please see https://github.com/opencollective/opencollective/issues/3630 for further discussion and solving.

[2021-01-26 11:57] #3145 closed

[2021-01-26 11:57] sbinlondon commented on #3630
Yes it's a duplicate. Closing the other issue.

@kewitz and I chatted and he feel it would be a good idea to take the details from Transferwise as @alanna mentioned.

[2021-01-26 13:20] #3790 closed

[2021-01-26 13:21] #3909 closed

[2021-01-26 13:27] Betree commented on #3790
:trophy: This issue has been completed by @SudharakaP. To claim the **$300** bounty, you can submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number).

This first batch includes screen readers compatibility for the mentioned components, as well as global fixes for the accessibility of the modals (especially regarding focus) and various enhancements

[2021-01-26 13:47] aardrian commented on #3790
Ace!

When will these changes deploy?

[2021-01-26 13:49] #3289 closed

[2021-01-26 13:57] #3536 closed

[2021-01-26 15:23] Betree commented on #3879
@saideepesh000 Please ask for support on https://github.com/opencollective/opencollective/discussions/categories/development-q-a or on Slack (http://slack.opencollective.com/) #engineering channel

[2021-01-26 15:24] Betree commented on #3790
As mentioned, it should be deployed in the next few days.

[2021-01-26 15:34] Betree commented on #3247
This delay before showing collectives in search has been re-introduced to fight against spam (we are now waiting 48h before surfacing them). If that's something we want to support, we should clearly specify the use case to spec how we want to resolve it.

[2021-01-26 15:47] znarf commented on #3247
This can be adjusted or reverted, let see how this work out.

[2021-01-26 15:56] Betree opened #3914 "Broken route when inputting tha page number directly"
**Describe the bug**
On multiple pages using pagination, typing the page number + Enter breaks the URL.

Affected:
- Expenses page
- Transactions page
- Host dashboard
- Maybe more

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/babel/expenses/
2. Scroll down to the pagination
3. Type any valid number in the box and press Enter
4. Check URL

**Expecte

[2021-01-26 16:24] Betree commented on #3914
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-01-26 16:28] Yetizone commented on #3914
I'll try to work on this one if that's alright. Any specific deadline for submitting a patch ?

[2021-01-26 16:36] Betree commented on #3914
Sure! let's say 10 days, we can later extend if there's progress.

[2021-01-26 16:57] znarf commented on #3572
Calculation of the balance should only be done against current currency/host.

[2021-01-26 21:18] alanna opened #3915 "Top Sponsors in single column"
https://opencollective.com/open-web-docs

This looks odd... isn't it supposed to be in two columns?

![Screen Shot 2021-01-27 at 9 44 16 AM](https://user-images.githubusercontent.com/5498878/105906800-07a56d00-6089-11eb-99c7-97d6ace2ce4b.png)

[2021-01-26 21:19] alanna commented on #3903
@znarf this is what we already export from Github

[2021-01-26 21:52] znarf commented on #3903
@alanna Sounds great. I tried to get access to such report today without luck, see on Slack. Please forward me a sample so I can have a look.

[2021-01-27 00:53] #3743 closed

[2021-01-27 00:53] #3839 closed

[2021-01-27 01:37] alanna commented on #3913
When I click save, there's no change in the UI and it seems it hasn't saved.

https://user-images.githubusercontent.com/5498878/105929752-24ec3280-60ad-11eb-9ed3-238be8683358.mp4

[2021-01-27 03:10] Memo-Es opened #3916 "Include message to communicate expense submitters that money will take some time to arrive"
We want to change the automated email that people receive when they have submitted expenses claims via bank transfer. They receive a mail to say their expense has been marked as paid but **the money will arrive in their account according to each bank's timeline.**

Can we add that to the paid notification email? @Betree

[2021-01-27 03:20] alanna opened #3917 "Confusing Host metrics"
I love the new Host metrics page, but there are some things I don't understand.

Here's what it looks like for Gift Collective right now.

<img width="848" alt="Screen Shot 2021-01-27 at 4 11 10 PM" src="https://user-images.githubusercontent.com/5498878/105937440-6b945980-60ba-11eb-884f-8184d0102b45.png">

1. What is the difference between `platform fees` `pending platform fees` and `host fee shar

[2021-01-27 03:28] alanna commented on #3917
I'm working on the text on this page as part of my text polishing pull request, and it would be really useful to understand exactly what each stat is referring to.

[2021-01-27 04:43] alanna commented on #3912
I love how the colors and illustrations make it look much friendlier.

We've been through this before, but I still think we should consider whether we really want to put everything on one page, or whether it makes more sense to get users to pick the path they are interested in and only see the info relevant to them, because otherwise it's *so* much information and pretty confusing. You can imagine

[2021-01-27 07:52] Betree commented on #3916
@Memo-Es Sure, the template is https://github.com/opencollective/opencollective-api/blob/master/templates/emails/collective.expense.paid.hbs#L24. What should be the copy? I can suggest:

Below the main paragraph (`Just a quick note to let you know that your expense ... has just been paid`)

[2021-01-27 08:08] Betree commented on #3915
It seems that the size reduction that happened with the release of the new navbar triggered this. I'll look into it

[2021-01-27 09:09] #3792 closed

[2021-01-27 09:09] alanna commented on #3912
Thinking about this a bit more: we should radically simplify it. We can put all the detail behind links to more detailed pages. That way we can avoid hitting people with a wall of too much detail that might not apply to them, while allowing them to dig deeper to find out what they need to know.

Here's a version....

# Pricing

### FREE For Collectives
 * Unlimited access to all features
 * Platfo

[2021-01-27 10:01] Betree commented on #3620
Implemented in https://github.com/opencollective/opencollective-api/pull/4786

[2021-01-27 10:01] #3620 closed

[2021-01-27 10:03] Betree opened #3918 "Move `UpdatesWithData` to GQLV2 API"
The last part of the updates feature still using the API V1 is the `updates` page, that relies on the `UpdatesWithData` component.

There also seems to be a pagination issue on this component, that we should ideally solve by moving to the existing GraphQL V2 `account.updates` field.

[2021-01-27 10:07] #3716 closed

[2021-01-27 10:08] #3297 closed

[2021-01-27 10:08] znarf commented on #3297
🏆 This issue was completed by @segfult

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-27 10:15] znarf commented on #3917
Platform Fees are still existing for some Hosts, OSC or Foundation, they are the "classic" one.

Yes, that's it.

We did our best and tried to be clear. This was discussed in the team channel. Seems we failed ...

Feel free to propose new copy.

[2021-01-27 10:18] znarf commented on #3913
Then, it's not about disabling 2FA.

[2021-01-27 10:44] piamancini commented on #3912
Thanks @alanna - I think we can make some improvements but I don't want to delay having a functioning pricing page anymore. Let's see what can we fix:

I personally like the fact that all the information is there and you are not forced to click through separate things to see more stuff. But maybe we can do an initial page that has to options for Collectives and Fiscal Hosts and the right box shows

[2021-01-27 10:51] znarf commented on #3811
I propose to move forward with the change around February 28th so we can trigger Recurring Contributions in March with the new scheme.

[2021-01-27 14:25] Betree commented on #3716
:trophy: This issue has been completed by @leonardohofling

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-27 14:47] #3851 closed

[2021-01-27 15:08] #3915 closed

[2021-01-27 15:22] #3900 closed

[2021-01-27 15:57] znarf commented on #3851
🏆 This issue was completed by @JoyLubega

To claim the bounty, you can either:

- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number in the expense's title)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-01-27 17:01] saideepesh000 commented on #3886
hey @Betree @SudharakaP,  can I try this

[2021-01-27 17:06] Betree commented on #3886
Sure!

[2021-01-27 17:28] SudharakaP commented on #3886
Thanks for your help @saideepesh000 😄

[2021-01-27 19:03] #3764 closed

[2021-01-27 22:20] alanna commented on #3811
I am 100% in favor of moving to 10% host fee and not showing platform fees to OSC end users.

However, the question of whether we can turn on platform tips is another matter. @piamancini should we just decouple these and go ahead with the host/platform fee change, and leave platform tips off, or turn platform tips on for OSC and just see what happens?

[2021-01-27 22:31] alanna commented on #3913
1. If it is enabled, please disable it
2. if it is enabled, please fix the UI so the admin can know whether or not is enabled

[2021-01-27 22:33] alanna commented on #3917
I would love to help with new copy, but to do that, I need to know what exactly each number on this page refers to. It's too confusing for me to guess.

[2021-01-27 22:46] alanna opened #3920 "View contribution amount in your own currency"
## User story
As a financial contributor, I would like to see the amount I'm contributing in my own currency, for clarity and convenience.

## Best solution for this problem
The option to see an amount in your own currency, but actually still contribute using the currency of the Collective and Host. This would be purely a UI thing, with a note saying the exact amount may fluctuate due to currency

[2021-01-27 22:54] znarf commented on #3913
The ticket title says "Can't disable 2FA". The FAQ says "How do I disable 2FA once it's been enabled? For security purposes, 2FA can only be disabled by contacting support once it has been enabled.".

- If the issue is really about "Disabling 2FA", I'm afraid it's on purpose, as stated in the FAQ
- If the issue is about something else, then I suggest to create a new issue that clearly explains the

[2021-01-27 23:01] znarf commented on #3917
In my comment above, I think I answered your question about "Pending" vs "Non pending". What you were thinking is right. I don't have much to add.

I also answered about "Platform Fees", saying that they were the "classic" one, the one we used to have since the beginning of Open Collective.

Finally, I might have forgotten  "Host Fee Share". They are the one about the new pricing model, the percen

[2021-01-28 01:04] alanna commented on #3903
Creating pending orders would be a great step. @znarf if you'd require any changes to the data export to enable this, let us know the specifics and we can request them to Github. No guarantees about what they can do but we can ask.

[2021-01-28 01:06] alanna commented on #3903
@znarf - OSC should pay for any significant develop time that gets spent on this, so please check with me or @piamancini before spending too much time, because we have to balance OSC's budget priorities, and while this process is currently painful, it is a functioning MVP we can live with for a little while longer if we have to.

[2021-01-28 05:58] Memo-Es commented on #3912
### Design update
---
![Desktop](https://user-images.githubusercontent.com/49539954/106095736-e92b8a00-60f9-11eb-8477-32b5f571999b.png)

[GIF](https://tafka.d.pr/2PSjem) showing the page interactions

@alanna @piamancini

[2021-01-28 07:07] alanna opened #3922 "Event showed up in pending host applications"
Seems if a pending Collective creates an event, it will also show as pending. It disappeared when I approved the parent Collective.

<img width="1097" alt="Screen Shot 2021-01-28 at 8 04 52 PM" src="https://user-images.githubusercontent.com/5498878/106102547-6e6b7900-61a4-11eb-89bd-c49aee4b4e77.png">

[2021-01-28 08:09] #3866 closed

[2021-01-28 11:01] #3785 closed

[2021-01-28 11:19] znarf opened #3923 "Contribute Section should not be displayed for inactive Events and Projects"
* Create a new Collective
* Make sure it's not Hosted and not Self Hosted
* Create a new Event in this Collective

Currently: the "Contribute" section is displayed and "Start accepting contributions" is displayed

Expected: no "Start accepting contributions" and no "Contribute" section

Events and Projects should never be allowed to "Start accepting contributions", it needs to be done from their p

[2021-01-28 11:31] znarf commented on #3148
Current work:

* Display Currency in the settings for all profiles
* Disable edition of Currency for Active Collectives/Funds and Fiscal Hosts
* When connecting a Manual Bank Account
  * Default to settings Currency, if changed it will update settings.
  * Not possible to change currency if Stripe is connected
* When connecting Stripe
  * Update currency to Stripe's default currency
* Any attempt

[2021-01-28 11:38] segfult commented on #3297
Thank you @znarf. I have submitted the expense at https://opencollective.com/engineering/expenses/32586

[2021-01-28 12:06] #3879 closed

[2021-01-28 12:19] #3922 closed

[2021-01-28 13:03] znarf commented on #3898
Sharing another example that doesn't looks good:

<img width="1057" alt="Screenshot 2021-01-28 at 14 02 18" src="https://user-images.githubusercontent.com/806/106142227-85dd3e80-6171-11eb-9a77-8f98f3c3a097.png">

[2021-01-28 13:12] saideepesh000 commented on #3886
Hey @SudharakaP @Betree, it's already solved in the repo code, checkout the pic

Repo master branch code:

![Screenshot (7)](https://user-images.githubusercontent.com/43727167/106143214-76252080-6198-11eb-89e9-4d07c9a794a4.png)

[2021-01-28 13:27] snitin315 opened #3924 "Expenses Page: don't add rejected expense in page total"
**Describe the bug**

Right now `REJECTED` expenses (Mostly these are spam expenses) are also considered in Page Total.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/icdam/expenses

2. See error

**Expected behavior**

Only APPROVED/PAID/PROCESSING expenses should be considered in page total.

**Screenshots**

![Screenshot at 2021-01-28 18-53-14](ht

[2021-01-28 13:28] snitin315 commented on #3886
@saideepesh000 feel free to create a PR.

[2021-01-28 13:44] snitin315 commented on #3886
Yep seems to be fixed on staging too - https://staging.opencollective.com/opencollective/donate

[2021-01-28 13:55] Betree commented on #3886
It's not fixed in prod: https://opencollective.com/opencollective/donate. We should check what's the difference between both envs.

[2021-01-28 13:56] sudo-kaizen commented on #3898
What file is the source of this? I really can wait for the spec for this.
Are there currencies that are supposed to have their abbreviations as prefixes and others as suffixes?

[2021-01-28 13:57] Betree commented on #3924
I think the goal of this amount is just to show the total amount of expenses in the list. If you filter by "rejected", you expect to find the total amount of rejected expenses. I'll let @kewitz review this, it might be a design issue but it's not a bug.

[2021-01-28 14:00] snitin315 commented on #3886
It seems its hidden for every collective on staging - https://staging.opencollective.com/webpack/donate

[2021-01-28 14:15] piamancini commented on #3912
@Memo-Es is the Valid for All Plans behind a button or do you see it for everyone? If the latter - I think it lacks some coherence. Plans is related to hosts so I wouldn't expect collectives to read it.

Maybe we display  Valid for All Plans + The Host Box under a Know More that brings it up and the info under Valid for All plans (with another title) in a know more under the Collective

[2021-01-28 14:26] znarf commented on #3148
We can still have a difference between Stripe default currency which is bad for consistency of the ledger.
https://opencollective-metabase.herokuapp.com/dashboard/16

[2021-01-28 14:36] knbz opened #3925 "KoreNBeatZ"
## User story
_As <persona>, I can <what?> so that <why?>_

## Best solution for this problem
_What does the ideal solution look like?_

## MVP
_What will be built as an MVP? (Please refer to our [wiki](https://github.com/opencollective/opencollective/wiki/Feature-Spec-Template) for what's acceptable as an MVP.)_

## Metrics
_What metrics will be used to measure impact?_

## Documentation
_The goa

[2021-01-28 14:54] #3925 closed

[2021-01-28 16:20] Betree opened #3926 "Enable tax forms for OC Inc"
Tax form should be enabled for expenses submitted to https://opencollective.com/opencollective/expenses/

[2021-01-28 18:24] zicklag opened #3927 "Out of Date Note About Fiscal Hosting Plans?"
I noticed this note in the docs:

![image](https://user-images.githubusercontent.com/25393315/106181800-a4d4d400-6163-11eb-84fe-30ea95317bf4.png)

But that seems to contradict what is currently in the plans dashboard for the Starter Plan, which indicates unlimited bank transfers:

![image](https://user-images.githubusercontent.com/25393315/106181881-bcac5800-6163-11eb-9614-ca4edec5bc98.png)

[2021-01-28 19:56] alanna commented on #3926
It should be enabled for the whole host, not just that Collective.

[2021-01-28 20:48] Betree commented on #3926
Yes, https://opencollective.com/opencollective is the host for all the other collectives so enabling it there will automatically enable it on all hosted collectives (engineering, design, etc).

[2021-01-28 22:17] alanna opened #3928 "Odd line break in expense summary title"
When I'm editing the expense it looks like this:
![Screen Shot 2021-01-29 at 11 14 33 AM](https://user-images.githubusercontent.com/5498878/106205513-7ae2e680-6223-11eb-815d-57d960cc8818.png)

But on the summary it looks like this:
![Screen Shot 2021-01-29 at 11 14 43 AM](https://user-images.githubusercontent.com/5498878/106205523-7f0f0400-6223-11eb-8718-25dadfcf1559.png)

[2021-01-29 00:44] Memo-Es commented on #3912
### Design update
---

![Desktop](https://user-images.githubusercontent.com/49539954/106216427-b4badb00-6198-11eb-96d9-9c76917dba27.png)

[GIF](https://tafka.d.pr/7DoYPM) showing the page interactions

@alanna @piamancini

[2021-01-29 04:25] Memo-Es commented on #3683
### Design update
---

Included a flow for registered users to apply with an existing collective

| 1. Intro  | 2. Fees  | 3. Form  | 4. Success  |
|---|---|---|---|
| ![1 (Registered)](https://user-images.githubusercontent.com/49539954/106231482-708b0300-61b7-11eb-8e7c-98002c15e241.png)  |    ![2 (Registered)](https://user-images.githubusercontent.com/49539954/106231489-72ed5d00-61b7-11eb-94ab-20

[2021-01-29 04:27] Memo-Es commented on #3916
Looks good to me @Betree

[2021-01-29 07:56] Betree commented on #3826
It would also be great if the menu could close when pressing `Esc`

[2021-01-29 08:59] #3148 closed

[2021-01-29 09:55] saideepesh000 commented on #3832
@Betree, could you be more specific with the issue, you want it to replace with AutosizeText component [here](https://github.com/opencollective/opencollective-frontend/blob/3ae3a893e6d70b909c2aa76033d3009ee5cd990c/components/create-collective/CreateCollectiveForm.js#L160)

[2021-01-29 10:09] Betree commented on #3832
Yes, with the following constraints:
- Must still be a H1 in the markup (for accessibility)
- When the collective name is not too long (< 20?) font size should stay the same, so we should play with `AutosizeText`'s props to find something that works well with different cases. Ideally, the PR should include screenshots for the following lengths: 10, 20, 30, 50, 100

[2021-01-29 12:51] piamancini commented on #3912
great! thank you @Memo-Es We can go ahead and do mobile versions

[2021-01-29 13:56] saideepesh000 opened #3929 "Styling issues in "Join The Movement" section at /how-it works"
**Describe the bug**
Buttons in the "Join The Movement" section at [/how-it-works](https://opencollective.com/how-it-works) has got some padding issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [/how-it-works](https://opencollective.com/how-it-works)
2. Scroll down to 'Join The Movement' section
3. See the styling of the buttons

**Expected behavior**
Styling of the buttons can

[2021-01-29 13:56] saideepesh000 commented on #3929
Can I try this?

[2021-01-29 14:22] snitin315 commented on #3929
@saideepesh000 yes.

[2021-01-29 14:30] sbinlondon commented on #3630
Regarding the demo of https://github.com/opencollective/opencollective-frontend/pull/5801

### questions to discuss from demo:

* how should we store the structured address info in the backend? should it be backwards compatible?
* cacheing the Shopify data or be prepared to proxy it
* need double check that all the ISO codes from the InputCountryCode (and also the language choice dropdown) match t

[2021-01-29 15:42] Betree opened #3930 "Empty "Contributions" category on collective page"
**Describe the bug**
See https://opencollective.com/open-prioritization

**Screenshots**
![image](https://user-images.githubusercontent.com/1556356/106295614-f4dd9480-6250-11eb-9fcb-30561bb948fe.png)

[2021-01-29 23:55] Betree opened #3931 "Contribution flow: guest flow responsiveness issue"
**Describe the bug**
See screenshot

![IMG_20210130_005536.jpg](https://user-images.githubusercontent.com/1556356/106339101-e4034200-6295-11eb-9169-ffe82c05ce53.jpg)

[2021-01-30 07:57] alanna opened #3932 "Changes to team members not showing on page"
I removed a team member from OSC, but when I view the OSC team section, they are still there. I refreshed a few times and went and looked again a few minutes later, but the change still didn't take effect (I looked in settings to make sure it had saved, and it had saved).

If this is a cache issue, I think we should refresh after this kind of change, because otherwise the UX is: make change to tea

[2021-01-31 00:38] Memo-Es commented on #3912
### Design update - Mobile versions

| Desktop | Tablet Landscape | Tablet Portrait | Mobile |
|---------|------------------|-----------------|--------|
|  ![Desktop](https://user-images.githubusercontent.com/49539954/106371438-f29b3900-6329-11eb-9d5a-9d644f39a687.png)       |       ![Tablet landscape](https://user-images.githubusercontent.com/49539954/106371445-f62ec000-6329-11eb-9dd0-9f6f3776691

[2021-01-31 11:56] darkdragon-001 opened #3933 "Problem creating donation"
**Describe the bug**
Error message _Ooops, an unexpected error seems to have occurred  🤕_.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on contribute on any project
2. Select amount
3. Click on "Your info ->"
4. See error
5. Click on "Reload the page"
6. It is now on step 2 (profile), but the amount has been reset to the default value!!!

**Expected behavior**
Either use the user de

[2021-02-01 08:07] Betree commented on #3933
I can't reproduce on Linux Mint with a close Chrome version (`87.0.4280.88 (Official Build)`). However [Sentry](https://sentry.io/organizations/open-collective/issues/1574827166) reports indicate that multiple people faced this issue.

@darkdragon-001 what was the collective you tried to contribute to?

[2021-02-01 10:55] Betree opened #3934 "Tax amount wrongly recorded for platform tips"
**Describe the bug**
The following query returns 4 transactions platform tip transactions that have a tax amount.

[code]

There are a few problems there:
- The `platformFee` is just a copy/paste form the parent, so the amounts don't make sense ($0.20 VAT on $0.18 platform tip).
- VAT should not be applied on platform tip, because it's a donation
- The currency conversations that happened in the m

[2021-02-01 11:06] Betree commented on #3236
The following query returns 19 entries:

[code]

Since using Webhooks requires a pro zapier account, removing the app now would break the feature for these integrations. Having RSS feeds for expenses, members, etc. (https://github.com/opencollective/opencollective/issues/3504) could provide a better way to migrate these.

[2021-02-01 11:46] sbinlondon commented on #3841
This has been taken care of in the above PR except for the "Categories menu elements" states. Is this a priority @Betree?

[2021-02-01 13:30] znarf commented on #3934
I'm currently writing some automated tests against the ledger and this issue was one of the first spotted.

[2021-02-01 13:43] znarf opened #3935 "Platform Tips amounts off by 1 cent"
In the Transactions table, the numbers for Platform Tips are not adding up and are off by 1 cent.

While not a bug issues, it would be great to fix it so we can enforce better consistency in the ledger.

[code]

<img width="791" alt="Screenshot 2021-02-01 at 14 42 26" src="https://user-images.githubusercontent.com/806/106466534-b982d600-649b-11eb-8551-4d230bb9d42f.png">

[2021-02-01 22:27] darkdragon-001 commented on #3933
It happens with all collectives (e.g. KeePassXC). It doesn't happen when using the incognito browser. After clearing all local data for opencollective.com, it also appears less often.

I can still reproduce it when going fast between step 1 and step 3 of donating.

[2021-02-02 00:49] alanna commented on #3917
OK I'll have a go at clarifying here. I'm leaving aside wording changes because I can make a pull request for those later. Right now I'm just focusing on functionality.

| | Current title  |  meaning  |
|---|---|---|
| 1| TOTAL MONEY MANAGED  | Amount of money held in Host's bank account for all its Hosted Collective and the Host budget itself  |
| 2| HOST FEES  | Amount of Host Fees charged on in

[2021-02-02 08:00] Betree commented on #3933
@darkdragon-001 thank you for these details. The fact that it doesn't happen when using incognito might reveal a conflict with a browser extension (eg. an ad blocker for example). Could you share with me which browser extensions are currently enabled on your Chrome? If you don't want to share this publicly, feel free to ping me on [Slack](https://slack.opencollective.com/)

[2021-02-02 13:25] sbinlondon commented on #3826
Tested Edge and Chrome to double check and you're right, the menu works as expected there.

Upsettingly, on Safari, not only does the actions menu not close when you click outside, but it's also doing this 🙄

![Screenshot 2021-02-02 at 13 24 52](https://user-images.githubusercontent.com/37520401/106606510-1fce2e00-655a-11eb-9a08-147d59b451d4.png)

I'll look into solving that too.

[2021-02-02 13:46] Betree commented on #3826
@sbinlondon we may want to consider going back to a JS implementation (with `react-popper`). A pure CSS approach sounded better for responsiveness and accessibility, but cross-browser compatibility has been challenging with this one.

Let's try to see if there's an easy fix, if not we'll discuss the alternatives.

[2021-02-02 15:32] saideepesh000 commented on #3897
Hey @alanna, could you please help me to reproduce this on the website, I couldn't figure out this campaign page.

[2021-02-02 19:03] alinamanko commented on #3340
I wanted to add a related question we may want to address. As we do allow people to use pseudonym accounts (mostly to address any privacy issues especially relevant for groups working with vulnerable communities - homeless, mental wellbeing etc) in some instances when payout method is chosen is a PayPal, it can be difficult to verify the id when the email on PayPal is a rather generic one rather o

[2021-02-02 22:14] alanna commented on #3897
Create a standalone tier, then try to add a video.

[2021-02-03 00:31] alanna opened #3937 "Host reports not received"
I have not received the monthly January reports for any of the hosts I'm an admin of.

[2021-02-03 00:33] alanna opened #3938 "Link timing of host fees being credited and monthly reports"
I got the monthly report for a Fiscal Host's budget (i.e. the Collective report for that Host's Collective) and it did not show the monthly host fees applied as expected. We should link the timing of crediting monthly host fees (and debiting platform fees) and the monthly reports, so those transactions show up. For a Host Collective those are the key stats I'm looking for in the report.

[2021-02-03 00:34] alanna commented on #3937
I did receive Collective reports for each host, which is confusing because I thought we merged the Host report and the Host budget Collective report into one?

[2021-02-03 14:08] saideepesh000 commented on #3897
Hey @alanna, I found it, could you give me the actual output that you want, so that I can work on it.

[2021-02-03 14:43] sbinlondon commented on #3928
This might be related to my PR from last week - I'll have a look.

[2021-02-03 14:56] sbinlondon commented on #3913
I think we can do a quick win like a banner to say it's been turned on, certainly. Will add that to my list.

[2021-02-03 16:03] znarf commented on #3937
Sent

[2021-02-03 16:03] znarf commented on #3938
It should normally be executed the same day, more or less at the same time.

[2021-02-03 16:03] #3938 closed

[2021-02-03 18:44] kaylarep opened #3939 "Put application answers into notification to fiscal hosting admin"
## User story
As a host admin, I want to have all my applicant's information in one place.

Right now the application info in the host dashboard is not included in the notification email. It would be great to have everything sent in the email (especially since I use canned replies/email templates in gmail)

### Dashboard looks like:
![image](https://user-images.githubusercontent.com/64920686/10678

[2021-02-03 21:52] alanna commented on #3897
The save button and the input for the video URL should not overlap or be overlapped by other UI elements.

[2021-02-04 01:49] alanna opened #3940 "Host tips, aka 'pay what you want host fees'"
## User story
As a fiscal host, I want a setting to switch on 'host tips' instead of charging a set host fee % so that payers can give what they want to donate to my host when the contribute to a Collective.

[User suggestion from slack](https://opencollective.slack.com/archives/C0HSLRNVC/p1612319750067500)

The main problem I see is presenting that to the payer means exposing all three layers: Co

[2021-02-04 09:27] #3755 closed

[2021-02-04 09:52] #3929 closed

[2021-02-04 10:32] Betree commented on #3890
Related: in https://github.com/opencollective/opencollective-frontend/pull/5832 I've moved `cy.createExpense` to GQLV2. The `graphqlQueryV2` command now lets you query V2 directly.

[2021-02-04 10:33] #3826 closed

[2021-02-04 11:16] Betree commented on #3859
Amina shared the design for the empty state: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=9923%3A0

[2021-02-04 11:25] #3928 closed

[2021-02-04 11:44] #3932 closed

[2021-02-04 11:53] Betree opened #3941 "Refactor members table: group entries by MemberCollectiveId"
# Problem

In the current model, we add one `Member` entry per MemberCollectiveId/Role/TierId. So if you contribute to 2 tiers and you're an admin of a collective, it will be represented in the DB with 3 `Members` entry like:
| id    | MemberCollectiveId | CollectiveId | TierId | role      |
|-------|----------------------|----------------|----------|-------------|
| 1 | 42                | 10

[2021-02-04 14:09] saideepesh000 commented on #3878
Hey @Betree @znarf , if this is still worth adding enhancement, can I work on this.

[2021-02-04 15:13] #3923 closed

[2021-02-04 15:13] #3930 closed

[2021-02-04 15:30] Betree opened #3942 "Logo missing in updates email"
**Describe the bug**
Published updates used to have a logo at the top: https://github.com/opencollective/opencollective-api/blob/59dbd7b044ef43ac34a888e15125ed17dcd9c627/templates/emails/collective.update.published.hbs#L24. But these have been missing from new updates for some time now, apparently since June-July 2020.

[2021-02-04 15:32] DrAlta commented on #3940
May would could charge the Host Tips from the Collective?  I imagine a monthly reminder. "You've received <$200> in donations last month. <5>% is <%10>you like to give <Host> a donation to "

If we go this way I think it should be like a normal Expense just with a PWYW instead of a fix amount. because that is what we would do while we have to do it manually.

P.S. You changed it from 5% on the who

[2021-02-04 15:56] DrAlta commented on #3940
I would suggest just offering one tip that's split between the Host and Platform(somewhere between 5 and 16 % to the Host) and have a option in the Contributor's  user setting to do them separately.

[2021-02-04 16:00] DrAlta commented on #3940
I think the best thing for transparency would to have the Platform Fee for Host tips shown as added to the Platform Tip. but that might be confusing to People new to the platform.

[2021-02-04 17:26] ericyoungson commented on #2274
Hey, there. I'm very interested in this issue. I see that it has struggled to get off the ground but I have a bit of time and energy to contribute to it. I'm new to the project, though so it may take some time for me to onboard in order to understand the project well enough in order to add value to this feature.
That being said, I'd love to get informed about the history of the issue and stay info

[2021-02-04 17:27] ericyoungson commented on #2274
BTW: I came to this issue through [roadmap](https://docs.opencollective.com/help/product/roadmap)

[2021-02-05 00:28] ericyoungson commented on #3867
Hey, @Betree. I'm interested in taking this one on; seems like a quick entry into learning something about the codebase.

[2021-02-05 07:47] Betree commented on #2274
Hi @ericyoungson :wave: This issue may not be ready to implement, we need to add some more specs. It's also not a simple one to start with - having some context about how the current payment methods work helps a lot.

That being said, feel free to share if you have some ideas that would help to complete the specs :slightly_smiling_face:

[2021-02-05 08:59] Elchi3 opened #3943 "Better contrast on action buttons"
**Describe the bug**
3.5:1 contrast on action button text isn’t good enough.

**To Reproduce**
Feedback is from the W3C slack re the OWD page (https://opencollective.com/open-web-docs)

**Expected behavior**
Enough contrast to not exclude disabled devs

**Additional context**
CC'ing @sideshowbarker who brought this feedback to me and who might be able to provide the context that I'm missing here t

[2021-02-05 10:47] Betree opened #3944 "Update default sections"
The [document](https://docs.google.com/spreadsheets/d/15ppKaZJCXBjvY7-AjjCj3w5D-4ebLQdEowynJksgDXE) that we used as a reference to know which sections should be enabled for each account type had a few false assumptions that were not reported and later implemented in the code - some of them have been fixed since.

The implementation also missed some conditions, for example "Transactions" was not in

[2021-02-05 10:50] Betree commented on #3867
@ericyoungson Absolutely! Feel free to ask if you need anything.

[2021-02-05 11:46] roymunin commented on #3003
Hey, love this idea and would love to join to beta test! We will replace our current giveform at madeinjlm.org/donate

[2021-02-05 12:48] sbinlondon commented on #3941
Thanks for explaining the problem with the current approach. I agree that this could help performance and also contributors to our codebase/users of the API understand stuff better. 👍

[2021-02-05 13:08] znarf opened #3945 "Stripe SCA: This transaction requires authentication."
We had one complain to support and a few similar API logs. What's happening:

- Our recurring contribution job triggers the payment and is challenged by Stripe SCA
- We send an email to the financial contributor to confirm their payment
- They click on the link in the email, they arrive on the confirmation page
- They briefly see the 3dSecure popup but it is somehow automatically closed
- They see

[2021-02-05 14:05] AutoSponge commented on #3943
I have trouble reading many of the interactive elements of the page. I confirmed my suspicions using [axe](https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd), but many tools can help you find these issues. Contrast ratios should be between 4.5:1 ([wcag AA](https://www.w3.org/TR/WCAG21/#contrast-minimum)) and 15:1 (higher causes other issues like t

[2021-02-05 14:53] Betree commented on #3943
Thank you both for documenting this. Open Collective design team has an open project to improve the contrasts of texts on the website globally. In the meantime, I'm going to push a small PR to improve things where it's simple.

[2021-02-05 17:26] devansh5 commented on #3931
Hey @Betree , I would like to work on this issue?

[2021-02-05 21:00] #3386 closed

[2021-02-07 03:44] alanna opened #3946 "Initiative name cut off in contribution flow"
<img width="742" alt="Screen Shot 2021-02-07 at 4 40 04 PM" src="https://user-images.githubusercontent.com/5498878/107135892-6dd0a080-6963-11eb-9f7e-7eb63049b8cb.png">

There are a couple things that could be improved here... Wherever possible we should show the full title.
1. If "contribute to" was smaller and on its own line, you could see the full event title
2. There's no reason "Wellington" s

[2021-02-07 04:25] gracehop opened #3947 "GMC"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2021-02-07 04:26] #3947 closed

[2021-02-07 18:02] Betree commented on #3946
It's actually more tricky than it seems. The string "XXXXXX" will take more space on the screen than "......", even though they have the same number of characters, so it's difficult to set a max length that looks good everywhere. Yet we do have to truncate this string to accommodate with some initiatives having really long names.

Simplest fix would be to increase a bit the value that we use as ma

[2021-02-07 19:17] outsideris opened #3948 "unmatched sponsor logo returned"
**Describe the bug**
For [mocha](https://opencollective.com/mochajs), we received the below data for CodePilot.ai sponsor via GraphQL

[code]

But the image <https://images.opencollective.com/codepilotai/732befb/logo/64.png> is Netlify logo, not CodePilot.ai.

Could check it?

**To Reproduce**
visit <https://images.opencollective.com/codepilotai/732befb/logo/64.png>

**Expected behavior**
Return C

[2021-02-07 19:50] znarf commented on #3948
Because Codepilot.ai hasn't uploaded a logo, Open Collective is defaulting to a third party API which is sending back the wrong logo https://logo.clearbit.com/codepilot.ai. That is unfortunate.

The simple workaround is to ask Codepilot.ai to upload their logo on their Open Collective profile.

[2021-02-07 21:31] alinamanko opened #3949 "Support Metrics Report - January 2021"
### Support Metrics Report - January 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/107160032-9f477b80-69f8-11eb-9437-bb572de9a5a2.JPG)

The number of tickets received decreased slightly (10%) from 493 in December t

[2021-02-08 10:59] #3944 closed

[2021-02-08 13:00] piamancini opened #3950 "Include Funds in Top Financial Contributors"
We've been growing Funds as an option for companies to manage their contributions on open collective. When we turn 'organizations' into 'funds' the companies loose their stop in the Top Financial Contributors display.
We should add them to it.

[2021-02-08 13:41] znarf commented on #3950
https://github.com/opencollective/opencollective-frontend/pull/5859

[2021-02-08 16:00] piamancini commented on #3949
thank you @alinamanko!

[2021-02-08 17:05] outsideris commented on #3948
Ok, I understood what happened.

[2021-02-08 17:05] #3948 closed

[2021-02-08 17:34] kaylarep commented on #3894
We've had some comments that finding all this info isn't the clearest of processes, and the digging for it is inconvenient.

I think users like the idea of yes, a centralized 'dashboard' where they can go to access what they'd like to use more quickly.

[2021-02-08 19:08] blueridger opened #3951 "Discord Webhooks"
## User story
_As an admin of a collective with a discord server, I can add a discord webhook to my collective so that collective activity is sent to Discord for higher visibility._

## Best solution for this problem
Enter the webhook url into the admin portal and configure options.

## MVP

Use the [discord.js library](https://discord.js.org/#/docs/main/stable/examples/webhook) to add a new [noti

[2021-02-08 20:43] alanna opened #3952 "Link fees & tips transactions details to platform settlement expense"
As a host admin, if I look at the transactions on the host budget, I see this monthly platform settlement transaction as a credit:

![Screen Shot 2021-02-09 at 9 32 10 AM](https://user-images.githubusercontent.com/5498878/107278265-6243bd80-6aba-11eb-9593-2b32670561b6.png)

If I click on it, nothing happens and there's no way to find out more about what it is or how that number was derived.

Meanw

[2021-02-08 21:05] alanna opened #3953 "Platform settlement expense should come from OC not Pia"
Right now the platform settlement expense appears to come from Pia. It should come from Open Collective, otherwise it's confusing for a host admin to see it and they might think it's not a legit expense if they don't know who Pia is. The picture there should be the Open Collective logo, and if they click on that it should explain that this is the profile for Open Collective, that we use to collect

[2021-02-08 21:09] alanna opened #3954 "Include the figures in platform settlement expense description"
"Shared revenue" is not a very descriptive description. I think it should say

![Screen Shot 2021-02-09 at 10 07 12 AM](https://user-images.githubusercontent.com/5498878/107281529-ac2ea280-6abe-11eb-95ac-fa1a71bbf6ce.png)

[2021-02-08 21:17] znarf commented on #3953
It's currently and historically expected that Expenses are **submitted** by Individuals. As we're using the Expense system here, this is why we're doing it like this.

[2021-02-08 21:21] znarf commented on #3952
The first one doesn't have an Expense attached, explaining why there is no link.

The second one is a different transaction.

[2021-02-08 21:45] alanna commented on #1916
Can this please be prioritised? We set up a bunch of contributions from Protozoa to open source project we use recently, and it's *extremely* painful to have to manually go download one receipt for every single transaction each month and upload it to our accounting software.

I'm seriously considering cancelling our contributions because it's not worth the time it takes just to be able to give $5/

[2021-02-08 21:56] alanna commented on #3952
OK, then we need to do something where someone can click on the transaction to find out what it is. Where can I see the expense attached to the transaction? I can't click on it. If it's not related to that expense, then where is the correct expense debiting these funds? I thought the credit and expense went in at the same time so the host budget didn't end up with funds they weren't allowed to spe

[2021-02-08 22:00] alanna opened #3955 "Insufficient funds to pay platform fee"
Gift Collective received an expense for platform fees, the 15% of host fees to be paid to Open Collective. However, there is insufficient budget to pay the expense. This should not be possible - the expense should go in at the same time as the credit of the platform part of host fees hits the budget. We can't have situations where a host can pay money out that it actually owes Open Collective, so

[2021-02-08 23:52] alanna commented on #3949
Again I want to plug #3740 - if not as an expense comment, replies to expense notifications should at least go to the fiscal host. We can't be providing support for every fiscal host's payment issues, and unless it's a host we manage, we cannot resolve the queries anyway sometimes.

[2021-02-08 23:56] alanna commented on #3946
I don't think it's because of the difference between ..... and XXXXX because the middle line "entanglement evening" is like 20+ full size characters, and the word "wellington" is only 10 but it's truncated.

[2021-02-09 00:06] wdanilo opened #3956 "GitHub banner contributors.svg not working"
Hi, we were using GitHub contributors banner already, but recently we changed the organization name on GitHub. I updated the OpenCollective configs, but unfortunately, the banner never (after few days) went back to normal. Could I ask you for a little help with it, please? The current banner link is here: `https://opencollective.com/enso-language/contributors.svg?width=890`

[2021-02-09 01:26] alanna opened #3957 "Guest user cannot pay for event ticket"
**Describe the bug**
When checking out as a guest, unable to click the "payment" button and proceed. This works fine as a logged in user.

**To Reproduce**

1. Be logged out
2. Go to this event: https://opencollective.com/an-entangling-wellington-13971425
3. Buy a ticket
4. Complete the details and profile steps
5. At the summary step, try to click Payment
6. Nothing happens and you can't proceed

[2021-02-09 08:03] Betree commented on #3951
Since Discord webhooks are compatible with Slack webhooks (see https://discord.com/developers/docs/resources/webhook#execute-slackcompatible-webhook), can't we just re-use them?

[2021-02-09 08:13] Betree commented on #3946
@alanna The truncation [is done](https://github.com/opencollective/opencollective-frontend/blob/51fefe7dd0507e192a64b00149dfef07aa11e28e/components/contribution-flow/ContributionFlowHeader.js#L51) on the **full** profile name, not the individual words:

[code]

What I meant with the size difference example between ..... and XXXXX is that it's difficult to find a value that works well for every cas

[2021-02-09 08:16] znarf commented on #3952
There is none. Similar to Added Funds for example.

It seems it's another problem as the one described in the issue.

[2021-02-09 08:21] znarf commented on #3955
Part of the Host Fees added to the budget (the one not paid with Stripe) will need to be returned to Open Collective in the settlement expense, it works like that.

Next month, we can try to send everything the same day.

[2021-02-09 08:22] znarf commented on #3954
The proposal goes in the right direction but that looks a bit long as an Expense Item description.

[2021-02-09 08:23] znarf commented on #3950
Fixed and deployed.

[2021-02-09 08:23] #3950 closed

[2021-02-09 08:24] alanna commented on #3952
No it's related because the problem underlying this issue is I can't find an expense that breaks down that platform fees and tips transaction. if it's not the expense I posted above, then how do I follow the path of that money in and out? I can't see another platform expense.

[2021-02-09 08:26] alanna commented on #3954
OK, remove "collected in [month]" because the month is already in the title.

[2021-02-09 08:28] alanna commented on #3955
OK... I have no idea when more host fees will be coming into this host, so it could be a while before we can pay the OC expense. We had a bunch of host fees up front due to big grants, and nothing on the immediate horizon.

[2021-02-09 08:39] znarf commented on #3952
Can you double check and read the portion I commented and my comment? I didn't write it was not related, I said it was a different thing. You should agree, you even created an issue about it https://github.com/opencollective/opencollective/issues/3955

Let's stay on track and focus on your problem about transaction details missing.

[2021-02-09 08:48] znarf opened #3958 "Empty Platform Tips Details in Recurring Contributions"
**How to reproduce:**

1) On https://opencollective.com/friends-of-the-earth-international/recurring-contributions

2) Check the recurring contribution and look at where platform tips are usually displayed.

<img width="312" alt="Screenshot 2021-02-09 at 09 47 40" src="https://user-images.githubusercontent.com/806/107338513-ea769280-6abb-11eb-9ca8-3bc433a7b13a.png">

**Problem**: Instead of nothin

[2021-02-09 08:52] #3957 closed

[2021-02-09 09:01] alanna opened #3959 "Tax not included in total"
GST is being applied, but the total on the righthand side doesn't include it. The left side looks correct.

![Screen Shot 2021-02-09 at 2 20 36 PM](https://user-images.githubusercontent.com/5498878/107340138-47a52f00-6b22-11eb-9597-5fd416c7ea74.png)

[2021-02-09 09:31] Betree commented on #3959
Also fixed by https://github.com/opencollective/opencollective-frontend/pull/5867, root cause was the same

[2021-02-09 09:31] #3959 closed

[2021-02-09 10:40] Betree opened #3960 "Guest contributions as a new organization"
## User story
With https://github.com/opencollective/opencollective/issues/3871 we're going to let users contribute while being logged out. But they will still have to login/signup if they want to contribute as an organization.

While this makes sense for contributing as an **existing** organization (you don't want people to contribute as another organization without making sure they're an admin)

[2021-02-09 13:57] Betree commented on #3898
Also reported by @Memo-Es in https://opencollective.slack.com/archives/C012T9JR3BR/p1612878946004600 for `MXN`:
![image](https://user-images.githubusercontent.com/1556356/107373663-11968980-6ae7-11eb-9bec-f22f993aa0bf.png)

[2021-02-09 14:28] Betree commented on #3957
Fix deployed

[2021-02-09 14:35] Betree commented on #3943
Most of the issues for the profile page are now fixed. The main one still standing is about the action buttons, which have a `4.19:1` ratio - still below the `4.5:1` minimum.

![image](https://user-images.githubusercontent.com/1556356/107378109-f1b59480-6aeb-11eb-8521-679190c15ef3.png)

[2021-02-09 14:37] Betree commented on #3931
It's now partially resolved, but each field should ideally take the full width on mobile

![image](https://user-images.githubusercontent.com/1556356/107378851-ae0f5a80-6aec-11eb-9e9d-223dc3043848.png)

[2021-02-09 15:14] znarf opened #3961 "Double entries rules in Ledger"
We came up with 2 updates on how we're accounting in the Ledger:

**Single Entries**

We're currently having a few single entries with `CollectiveId = FromCollectiveId`. We should stop doing this and:
 - set the opposite part to another CollectiveId (so called "Ghost" or "Vendor').
 - re-insert the missing opposite transactions

**Currency matching**

As we're moving balances computation to `hostC

[2021-02-09 16:05] znarf commented on #3958
@sbinlondon a small one if you have some time this week

[2021-02-09 16:12] znarf commented on #3898
I think we should have a clear definitions of these things, and a single helper for each of them to display.

In the case of mexican dollar:
1) simplified currency sign/symbol: `$` https://en.wikipedia.org/wiki/Currency_symbol
2) full currency sign/symbol: `MX$` What is the reference for this?
3) currency code: `MXN` https://en.wikipedia.org/wiki/ISO_4217

In this case, we should never display 1)

[2021-02-09 16:26] TLWebdesign commented on #1141
It's so time to get this going. We need this feature!!!

[2021-02-09 16:30] Betree commented on #1141
@TLWebdesign This is actually coming very soon, initial specifications are planned for this week and implementation should follow. If everything goes as expected, you can expect a release in less than a month.

[2021-02-09 16:32] TLWebdesign commented on #1141
Wow thats wonderful news :D THanks!

[2021-02-09 18:46] blueridger commented on #3951
It's possible. It depends on whether the helper library you use `node-slack` is compatible. At best, `node-slack` can send to discord webhook urls just fine and no code change is required. At worst, you just need to copy the slack notifications code and replace the `node-slack` client with the `discord.js` client. I'd be happy to assist with testing.

[2021-02-09 19:04] blueridger commented on #3951
Adding the webhook url at https://opencollective.com/sourcecred/edit/webhooks with and without the `/slack` modifier didn't work. I imagine this was because it did not recognize the `channel` as slack, and it might still be worth trying to manually set the webhook channel to `slack` via the DB console. Feel free to make that change to the webhook under the `sourcecred` slug, and I'll retest if you

[2021-02-09 20:52] znarf commented on #3655
It's live ! https://opencollective.com/chrome

<img width="1325" alt="Screenshot 2021-02-09 at 21 50 13" src="https://user-images.githubusercontent.com/806/107426817-01030500-6b21-11eb-9f0a-729b1a1062dd.png">

[2021-02-09 20:52] #3655 closed

[2021-02-09 21:02] alanna commented on #3953
I understand the above. What I am reporting is that it's potentially misleading/confusing for the user. The response to this kind of report shouldn't come from the perspective of our platform and how it works, but from the perspective of a user, who doesn't know all of that. I am a user who *does* know all of that and I still nearly thought this was an error or spam.

[2021-02-09 21:05] alanna commented on #1916
This issue has had the `important` tag for a year and a half already... I think all issues tagged `important` should be considered every quarter, and if they aren't prioritised we should either schedule when they are going to be done or declare them as not actually important (otherwise the `important` label loses any power).

[2021-02-09 22:12] znarf commented on #1916
You may use a prepaid budget or a fund. To create a prepaid budget, just donate the desired amount to this tier: https://opencollective.com/opensource/contribute/prepaid-budget-15445/checkout

[2021-02-09 22:23] alanna commented on #1916
The Collectives are not all under OSC, so a prepaid budget won't work, right?

[2021-02-10 05:16] sudo-kaizen commented on #3898
Will having a `country -> currency symbol` map for implementing 2) alone for all currencies be a good solution to this?

[2021-02-10 06:06] owagner50 opened #3962 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2021-02-10 06:40] #3962 closed

[2021-02-10 07:40] Betree commented on #3448
As per Adding the webhook url at opencollective.com/sourcecred/edit/webhooks with and without the /slack modifier didn't work, we should also recognize Discord webhooks ending with `/slack` and treat them as Slack webhooks (see https://discord.com/developers/docs/resources/webhook#execute-slackcompatible-webhook)

[2021-02-10 07:46] Betree commented on #3951
@blueridger We also have some related things to improve on that page: #3448.

I've moved your webhook to the `slack` channel type, could you try and let me know if it works as expected?

[2021-02-10 08:00] Betree commented on #3898
@znarf I suppose you mean we should never display **2)** and 3) at the same time?

We need to investigate and understand the issue properly before jumping on the implementation. For that we need to dig into the `FormattedMoneyAmount`/`formatCurrency` helpers to understand where we output the different part of the amount/currency (as described in https://github.com/opencollective/opencollective/iss

[2021-02-10 08:17] znarf commented on #1916
@alanna I don't know, you said it was Open Source projects so I was guessing a majority of them would be on the same host, OSC.

[2021-02-10 08:22] Betree opened #3963 "Deprecate TemporaryNotification in favor of toast notification"
`TemporaryNotification` was used before we added toast notifications to our design system. We should replaced all its occurences by toast notifications, and remove the component.

Usage:

[code]

[2021-02-10 08:30] znarf commented on #3927
The documentation is indeed out of date and needs to be updated.

- This page: https://docs.opencollective.com/help/about/pricing
- This notice: https://docs.opencollective.com/help/fiscal-hosts/bank-transfers#bank-transfers
- This notice: https://docs.opencollective.com/help/fiscal-hosts/add-funds-manually

The pricing page is up to date: https://opencollective.com/pricing But we're working on a

[2021-02-10 08:32] znarf commented on #3926
@Betree Is this just about creating an entry in the RequiredDocumentsTable?

[2021-02-10 08:33] Betree commented on #3926
Yes, then monitor the emails sent to make sure there's nothing wrong in there

[2021-02-10 08:33] #3937 closed

[2021-02-10 08:35] #3831 closed

[2021-02-10 08:48] znarf commented on #3952
The title of the issue being "Link fees & tips transactions details to platform settlement expense", we're not gonna do this for the reasons explained above.

If it's about creating the "Platform Fees and Tips collected in January" through the Expense system and making sure there is an Expense attached to it, we should track this in a new cleaner issue.

While I understand the goal, I personally t

[2021-02-10 08:55] znarf commented on #3953
While I understand the point, changing this would break the assumption that Expenses are **submitted** by Individuals, forcing us to refactor the whole Expense system and interface. Or forcing us to trigger this in a different way, out of the Expense system. For this reason, it's not simple and we will not be able to prioritize it.

Instead of Pia, we could link to a new Individual account that we

[2021-02-10 08:57] znarf commented on #3954
This could be multiple items in the list instead of everything together.

- Shared revenue (15% of $10,000 host fees): $1500
- Already collected through Stripe: - $1000
- Total: $500

[2021-02-10 09:01] znarf commented on #3955
I remember a discussion where team members were explicitly gave the feedback that it should not necessarily be triggered the 1st of the month, that a few day later would be nice.

In light of this issue, we should reconsider and send everything the same day.

Ok for you @kewitz ?

If we do this, I think we can close this issue.

[2021-02-10 09:03] #3902 closed

[2021-02-10 11:13] znarf commented on #3917
- `2` agree this could be skipped if not relevant
- `3` and `4`: these are not "Host Plan", these are the classic "Platform Fees" the one that are existing and named like this since the beginning of Open Collective. Agree they should not be displayed if not relevant/existing for the host.
- `7` 15% is not hard-coded, it's actually displayed 0% for OCF and OSC because they are not converted to the

[2021-02-10 13:47] Memo-Es commented on #3916
@Betree based on recent feedback, we should also include this **other case:**

2) The email after someone donates via bank transfer:
Can the reference number be made clearer/bolder/bigger?

[2021-02-10 15:20] Betree commented on #3894
We can take this into account for #3880

[2021-02-10 15:49] heyakyra commented on #339
It is still not possible to create embeddable forms for donations, recurring subscription payments (memberships), etc.

I guess there's #3003 now but it seems this was closed prematurely

[2021-02-10 15:52] heyakyra commented on #3003
Looking forward to being able to use this, as it's already possible on CommitChange (aka https://github.com/HoudiniProject/houdini) and using the big dogs like PaymentSpring, etc.

[2021-02-10 18:40] #3820 closed

[2021-02-10 18:40] #3871 closed

[2021-02-10 19:08] #3859 closed

[2021-02-10 22:23] alanna commented on #3954
OK sure that looks good

[2021-02-10 22:23] alanna commented on #3953
Can we not set up an individual profile with the name and logo of Open Collective? We could ensure that if it's clicked on, it explains what this profile represents.

[2021-02-10 23:02] patcon opened #3965 "Interac fees through Transferwise not properly reflected in OC"
**Describe the bug**
For "Interac" transaction method (a Canada-specific bank account payout method, offered via Transferwise), the calculated fee in Open Collective is CAD$0.61 (expected), but the actual fee in Transferwise is CAD$1.52 added to a $2 transaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in
2. Go to https://opencollective.com/hyphacoop-sample-collective/expenses/ne

[2021-02-10 23:17] patcon commented on #3236
Old docs, in case anyone is curious before it goes away (or wants to adopt it 🤷 ): https://docs.opencollective.com/help/v/master/collectives/integrations

[2021-02-11 01:55] alanna opened #3966 "Disable bank transfer"
## User story
As a fiscal host admin, I want to be able to disconnect my bank account if we no longer want to accept bank transfer payments.

User request: https://opencollective.freshdesk.com/a/tickets/13118

## Best solution for this problem
A `disconnect` button for bank transfer, similar to the one for Stripe, which disables the bank transfer option for the host and its Collectives.

<img widt

[2021-02-11 02:25] patcon opened #3967 "Interac e-transfers are referred to as "wire transfer" in emails"
**Describe the bug**
The email workflow that kicks in when filing an expense for "Interac" (a Canadian payment method used by banks), the emails describe it as a "wire transfer".

(Interac payment is facilitated by transferwise, which started as only wire transfers, so I'm assuming this is legacy copy :)

**To Reproduce**
Steps to reproduce the behavior:
1. Follow reproduction steps here: https://

[2021-02-11 03:02] Memo-Es commented on #1697
The final design for this was shared when implementing the page to manage contributions, but the feedback path was not implemented.

<img width="719" alt="Screen Shot on 2021-02-10 at 20-58-48" src="https://user-images.githubusercontent.com/49539954/107598339-0e80c380-6be3-11eb-96ec-eb65cd11c585.png">

Design file in [Figma →](https://www.figma.com/file/HN3d7HwVAGjodZWrT2JR5Isx/OC.com-02-Accounts-

[2021-02-11 03:58] alanna commented on #3917
OK, for now it seems like we can go ahead with hiding the ones that do not apply to that host. So let's do that to help simplify this page and make it more usable as a starting place.

[2021-02-11 04:06] alanna commented on #3952
OK, I think the main issue is I don't understand why the platform settlement is not the same amount as the platform fees and tips, but we can discuss that separately. I'll close this issue because it doesn't work as I initially assumed.

[2021-02-11 04:06] #3952 closed

[2021-02-11 07:34] patcon commented on #2970
Just a note that **including "tags" in search** on https://opencollective.com/search?isHost=true

For a fiscal host, this helps them try to **catch the regions and themes** under which we'd hope to be found. Right now, we have to cram everything into the description, which is a bit awkward ("A Canadian worker co-operative based out of Toronto Canada, and incorporated under the Ontario Co-operative

[2021-02-11 09:16] Betree commented on #3963
Partially addressed by https://github.com/opencollective/opencollective-frontend/pull/5875

[2021-02-11 09:47] Betree commented on #3949
](https://github.com/opencollective/opencollective/issues/3884)

We're not dropping guest contributions, https://github.com/opencollective/opencollective/issues/3884 is just about changing the way we handle them on the API side.

[2021-02-11 13:29] JoyLubega commented on #3914
Hi @Yetizone If you need any help on this am available to help

[2021-02-11 14:14] Yetizone commented on #3914
Thanks @JoyLubega, but I already have a linked PR which I've updated about a week ago, and I think it's ready for the most part, currently waiting for a review on it :)

[2021-02-11 14:20] JoyLubega commented on #3914
okay, great

On Thu, Feb 11, 2021 at 5:15 PM Yetizone <notifications@github.com> wrote:

[2021-02-11 17:30] awright commented on #2839
the update feature is great but has frustrating formatting tooling, particularly with carriage returns. one needs to have no space between paragraphs in order for the preview and sent email to have spacing. see visual description here: https://docs.google.com/drawings/d/16LZTUxOpxzv2MCIUIvs7Hj48r5LRdjFJJfOCMDv_EaQ/edit?usp=sharing

[2021-02-11 19:04] alinamanko commented on #3949
Thank you for the clarification @Betree

[2021-02-11 22:10] ericyoungson commented on #3867
Thanks, @Betree. I think I'm on the right track but I do have a question about tests. I eliminated the old colors in *Location.js* and the tests pass with `npm run`. I am attempting to run the [full test suite](https://github.com/opencollective/opencollective-frontend/blob/master/docs/e2e.md) but running into an issue building the api. Do I need to do the full test or are pages and components enou

[2021-02-11 23:32] alanna opened #3969 "Read more on tier jumps to top of screen"
Here's a screencast: https://i.gyazo.com/1ed2e75238391c2a27865b99984cda6f.mp4

If you click `read more` on a tier description, it jumps you to the top of the screen. It should stay in the same place and just reveal the extra text.

[2021-02-12 07:57] Betree commented on #3969
It's happening with the two links in https://github.com/opencollective/opencollective-frontend/blob/d7fa2611e09c44635f243ba3b437cbd2fb5dc3a0/components/CollapsableText.js#L18. A `preventDefault` / `stopPropagation` on click might solve the issue.

[2021-02-12 08:09] Betree commented on #3867
@ericyoungson running all tests locally is tedious, you can submit your PR directly and let the CI run them for you :wink:

[2021-02-12 08:39] #3969 closed

[2021-02-12 11:06] Betree opened #3970 "Embed "All ways to contribute" page"
There's recurring feedback from projects interested in #3003: there should be a way for people to pick the tier they want to contribute to. It's part of the contribution flow to select which tier you want to join so that definitely makes sense.

The MVP would be to make https://opencollective.com/babel/contribute/ embeddable and adapt the links accordingly, with maybe some tweaks for responsivenes

[2021-02-12 11:24] Betree opened #3971 "Embed any collective page section"
An idea suggested by someone CaptainFact's community: they would like to be able to embed some sections of the collective page directly.

For example, the "updates" section, to enhancement their website our "news" feature easily. Other interesting examples are the team sections, the contributors section, or the budget/transactions sections. Obviously, sections that already fetch their own data wou

[2021-02-12 12:30] #3884 closed

[2021-02-12 13:12] Upperholme commented on #3632
Bump

[2021-02-12 13:43] Betree commented on #3632
@Upperholme we may be able to set this up manually, could you share your collective name and the Webhook URL with me by MP on Slack?

[2021-02-12 14:15] Upperholme commented on #3632
Will do

[2021-02-12 14:58] #3078 closed

[2021-02-12 14:58] Betree commented on #3078
:trophy: This issue has been completed by @brymut

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-02-12 15:01] ericyoungson commented on #3867
Great! Thanks.

[2021-02-13 10:07] znarf opened #3973 "availableQuantity should look at order status"
or maybe based on membership instead.

Today, if someone cancels their recurring Order, the available quantity doesn't go down.

<img width="316" alt="Screenshot 2021-02-13 at 11 06 03" src="https://user-images.githubusercontent.com/806/107847410-90dbd400-6deb-11eb-87da-1d48ea777e3a.png">

https://github.com/opencollective/opencollective-api/blob/40eaa9fd1290325c092c8da66843e5309c4f8d05/server/gra

[2021-02-13 18:22] ericyoungson commented on #3867
@Betree Looks like most of the remaining references are for *darkgray*. Seems to pass tests with `color: props.theme.colors.darkgray` but I'm trying to verify whether the color exists as the same value `'#797D7F'` in *colors.js*.

Line 13 in *CollectiveThemeProvider.js* says the colors are defined in *collective.settings.collectivePage.primaryColor*. I can't seem to find it, though.

[2021-02-13 19:12] ericyoungson commented on #3867
@Betree Looks like most of the remaining references are for *darkgray*. Seems to pass tests with `color: props.theme.colors.darkgray` but I'm trying to verify whether the color exists as the same value `'#797D7F'` in *colors.js*.

Line 13 in **CollectiveThemeProvider.js** says the colors are defined in `collective.settings.collectivePage.primaryColor`. I can't seem to find it, though.

[2021-02-14 21:33] patcon commented on #3965
Sent a request to transferwise to explain the fee calculation formula.

[2021-02-14 22:10] patcon opened #3974 "Public message overflows off card in collective "About" section"
**Describe the bug**
A per-collective personal message from team members/contributors can be added to a card. The character limit for this card is 140. It renders fine in one place, but overflows under edges in another.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mock collective.
2. Add yourself as team member
3. On your collective page, clock your card to "add a personal messag

[2021-02-14 22:18] alanna commented on #3330
Bump! We've had a couple hosts shut down recently and admins are stuck and can't deactivate when they can't unhost their Collectives. In these cases, the Collectives were inactive and their admins nonresponsive.

A Host really needs this ability because they need to be in control of the Collectives they allow. For example, if the NZ charity host finds out a Collective was supporting non-charitable

[2021-02-15 08:13] Betree commented on #3867
What's defined in `collective.settings.collectivePage.primaryColor` is the primary color of the collective, which serves as a seed to generate the theme (if it's defined). Colors themselves are defined `lib/theme/colors.js`

[2021-02-15 09:40] Betree commented on #3003
Closing this since the MVP, https://github.com/opencollective/opencollective-frontend/pull/5693 has been merged and will soon be deployed. It's a very basic portage of the existing contribution flow that supports embedding the default tier (`/donate`) or individual tiers/tickets.

Many things still need to be improved, but we want to develop the rest with some real use cases to make sure we implem

[2021-02-15 09:40] #3003 closed

[2021-02-15 10:18] Betree opened #3976 "React-select warning with SSR"
This is an old issue but it was not documented. In dev we get this warning on all pages using `react-select` with SSR:

[code]

According to https://github.com/JedWatson/react-select/issues/2629, the way to solve that is to provide an `instanceId`. I therefor propose to fix this:
- [x] By passing `inputId` as `instanceId` in `components/StyledSelect.js` if `instanceId` is not defined
- [x] By addi

[2021-02-15 10:24] Betree opened #3977 "Firefox development console flooded by CSS warnings"
Firefox console is flooded (it even becomes unresponsive at some point) by this CSS warning:

[code]
It looks like styled-components adds `-moz-letter-spacing`  (and matching prefixes for IE/Chrome), yet this property is [supported](https://caniuse.com/css-letter-spacing) since Firefox 2, we don't need a prefix there. This might be a bug in an upstream library (e.g. `styled-components`).

We need

[2021-02-15 10:37] Betree commented on #3632
Regarding #3448, on the page to edit webhooks, we probably want to have a select for the webhook type (basic/slack). Auto-detection won't always work since Mattermost is usually self-hosted on a different domain.

[2021-02-15 14:42] Betree commented on #2959
These new routes now exist in PDF service, but we need to update them in frontend and API

[2021-02-15 14:43] Betree commented on #3705
Removed in https://github.com/opencollective/opencollective-frontend/commit/29bc38667c8a0b40933bdd38a79d00ce3dce92cc

[2021-02-15 14:43] #3705 closed

[2021-02-15 15:53] sentry-io[bot] opened #3978 "Transactions with deleted order"
Sentry Issue: [OC-API-V](https://sentry.io/organizations/open-collective/issues/2112341391/?referrer=github_integration)

[code]

This issue happens because we have transactions with deleted orders. As a result, [this page](https://opencollective.com/marianne-schoofs/transactions?offset=15) is crashing.

To get the transactions:

[code]

We need to:
- [ ] Check how these orders were deleted
- [ ]

[2021-02-15 15:53] Betree commented on #3978
Ping @znarf, this is related to the ledger inconsistencies.

[2021-02-15 15:55] znarf commented on #3978
The SQL query is not right, missing `AND t."deletedAt" IS NULL`

[code]

[2021-02-15 15:56] Betree commented on #3978
Yep I was just adding that, too fast :-)

[2021-02-15 15:59] Betree commented on #3978
Related one: https://sentry.io/organizations/open-collective/issues/2113470071. Transactions with a deleted collective or FromCollective:

[code]

Giving the low number of transactions, these can be manual edits

[2021-02-15 16:08] znarf commented on #3978
I went through all of them, they were certainly manual edits.

[2021-02-15 16:13] Betree commented on #3978
Thank you! I'm closing the issue and marking the Sentry ones as resolved

[2021-02-15 16:13] #3978 closed

[2021-02-15 19:36] SudharakaP opened #3980 "Accessibility Standard Enforcement with eslint-plugin-jsx-a11y Plugin"
## User story

I had this idea while reading, https://github.com/opencollective/opencollective-frontend/pull/5896. I think a useful way in the direction of enforcing  accessibility standards is to integrate [`eslint-plugin-jsx-a11y`](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y) to our linter. Maybe we can start with a few basic rules and gradually improve upon on it. Let me know your thou

[2021-02-15 20:22] alanna opened #3981 "Move expense between Events, Projects, and the parent Collective"
## User story
As admin of a Collective with an Event, I want to be able to move expenses from the Event to the Collective if they are submitted to the wrong one.

## Best solution for this problem
An action visible on expenses for an Event `Move to main Collective`

[2021-02-15 20:26] alanna opened #3982 "Add funds to an Event after it's over"
## User story
As an Event organizer, I want to be able to still accept contributions to an Event after it's over, so that I can pay outstanding expenses and fix budget issues.

This is coming up because there's an [outstanding expense](https://opencollective.com/sustain-2020-5874aeeb/expenses/30735) on an Event we need to pay, but the Event no longer has funds in it. I can't work out how to send m