[2021-09-20 12:53] SudharakaP opened #4712 "Only Show the Info for Legal Name in Host Section if Legal Name is not set"
This was initially reported at https://opencollective.slack.com/archives/G46PNRCGP/p1632132442330400?thread_ts=1631881231.305700&cid=G46PNRCGP.

It seems that the legal name warning message when configuring hosts is displayed even if the legal name is set. We should make sure this info box is only shown if the legal name is not set. 🤔

![image](https://user-images.githubusercontent.com/12435965/13

[2021-09-20 12:56] znarf commented on #4712
By the way, the message is wrong in this case (Self Hosted), there is no "Host".

[2021-09-20 14:28] #4424 closed

[2021-09-20 14:28] #4696 closed

[2021-09-20 16:35] Memo-Es commented on #4169
The final solution is here https://github.com/opencollective/opencollective/issues/4299 along with an update of the contribution experience.
Implementing the aforementioned project will close this issue

[2021-09-20 21:08] alanna commented on #4709
OK yes please proceed with removing the COVID19 option as a first step.

I really want us to get to the point that our onboarding and host discovery
flows are good enough that we can be confident someone seeking OSC will be
guided to it.

[2021-09-20 21:09] alanna commented on #4564
The number of trusted hosts is small enough that I'm confident we can
manage that manually, for example via the root admin dashboard. If we had
such a designations built into the code.

[2021-09-20 22:31] kaylarep commented on #4662
hmm... that's not very intuitive...
if there's a way to have it start showing results even when the whole email address isn't typed in, that would be ideal

[2021-09-20 22:43] kaylarep opened #4713 "Cents still be abbreviated"
In email subject, amount should say $5.50 not $5.5

![image](https://user-images.githubusercontent.com/64920686/134086120-9c838b5e-1510-4b10-a1dd-08781f96a6ac.png)

[2021-09-20 22:58] alanna opened #4714 "Reset 2FA from root admin dashboard"
We'll need to consider some security concerns with this, but in cases where support has verified the ID os a user who needs their 2FA reset, could it be on root admin?

[2021-09-21 00:16] Memo-Es commented on #4689
Feedback from @kaylarep on slack:

In my mind, if we were going to redesign the homepage, I'd definitely want to engage with a marketing pro before diving into all that work.
From there I see people engaging w the platform in primarily 2 different ways:
as financial donors
as organizers
(as code contributors? is that a big one? or is it separate?)
and then, it branches off into more options ((also

[2021-09-21 01:51] Memo-Es opened #4715 "New pattern for additional buttons on expense pages"
As shared by @alina in https://github.com/opencollective/opencollective/issues/4637#issuecomment-917992873_ and confirmed by other team members experience giving support, we should reposition the edit/download/delete button to a more recognizable pattern

[2021-09-21 06:58] Betree commented on #4714
Yes, but I would like us to clarify https://github.com/opencollective/opencollective/issues/4478 before.

[2021-09-21 07:32] Betree opened #4716 "Simplify the input to invite new users"
This issue might require/be part of https://github.com/opencollective/opencollective/issues/2571

# Problem

In the "Invite Team Member" modal, inviting new users is currently with this flow:
1. Click the search bar
2. Click "Create new user"
3. Fill in the name and email, then click "Invite"

There are a few problems with that approach:
- ModalCeption issue: too many floating windows there
- Does

[2021-09-21 08:14] #4659 closed

[2021-09-21 08:15] #4634 closed

[2021-09-21 13:01] BenJam commented on #3328
Starting to think about this as parallel to [GitHub pull request reviews](https://github.blog/2018-03-23-require-multiple-reviewers/)

- [ ] add a 'require multiple approvals before paying expense' to host and collective admin settings (within policy on host side) as a dropdown, similar to [this image](https://github.blog/wp-content/uploads/2018/03/36898307-92cc9b38-1e1a-11e8-9010-9728260ac7d4.png

[2021-09-21 13:26] #4700 closed

[2021-09-21 16:21] natehn opened #4717 "Hosts can offer different fees to (new) collectives for a finite amount of time"
## User story
As a host, I can offer lower fees to groups of a certain kind in order to respond rapidly to crises and/or as a marketing tool, for a certain amount of time. After a certain amount of time, the fee will revert to the default.

When OCF offered lower fees for COVID-19, and occasionally on an ad-hoc basis since then, the process has been dependent on manual processes and therefore pron

[2021-09-21 16:39] SudharakaP opened #4718 "Creating New Organization Within Expense Form"
Noticed this interesting bug while working on the expense form. Let us take the following scenario. 😄

1) User Creates and expense
2) User changes their mind about the expense and wants the payee to be a new organization.
3) They go to edit the expense and then within the expense edit form creates the new organization.

This flow seems to present the user with a create organization form which has

[2021-09-21 17:11] BenJam commented on #4341
update from convo earlir today: no need to do this for Hacktoberfest, so _next time..._

[2021-09-21 17:54] SudharakaP opened #4719 "Add Legal Name for Organization SignUp form in the Expense Flow"
This is with regard to the following conversation, https://github.com/opencollective/opencollective-frontend/pull/6818#discussion_r713235892

It seems that we have missed adding the `Legal Name` to the organizational signup form within the expense flow. So when a user invite another user to submit and expense that user can then create an organization within the expense flow and I think we need to

[2021-09-21 20:50] Memo-Es opened #4720 "Implementation - How it works? marketing page"
### We are updating our page to explain how the platform works

| Desktop | Tablet landscape | Tablet portrait | Mobile |
|---------|------------------|-----------------|--------|
| ![HD Desktop](https://user-images.githubusercontent.com/49539954/134245348-9f983921-247b-4f84-aec5-d57b6c59d752.png)   |  ![Tablet Landscape](https://user-images.githubusercontent.com/49539954/134245373-e22b0831-5d69-4

[2021-09-21 20:57] alanna commented on #4715
I am thinking something like the gmail send button where it's a button for the main action (in this case approve or pay) but also a dropdown for additional actions.

![Screen Shot 2021-09-22 at 8 56 45 AM](https://user-images.githubusercontent.com/5498878/134246550-3d5bd6bb-7681-4c6d-b06b-9c4c6935b307.png)

[2021-09-21 21:36] SudharakaP commented on #4690
Although I did a quick fix to this in https://github.com/opencollective/opencollective-frontend/pull/6873; I'll soon open a new PR with a more future-proof approach using CSS flex. 😄

[2021-09-21 22:15] kaylarep commented on #4556
some more feedback:

without being able to track their balance, groups are more likely to over-spend and have payments bounce

[2021-09-21 22:51] alanna commented on #3328
I think @BenJam 's description above is great for a full fledged version of this feature. But we might want to scope an MVP just focused on setting the number of approvals required at the Collective level.

OpenMined has identified this as a priority for them, and as one of OCF's largest Collectives, that makes it priority for OCF as well.

[2021-09-22 00:26] alanna commented on #4556
This issue keeps shutting down all our Privacy cards because apparently if one person accidentally tries to go over their limit, they shut the entire account down. It's super painful. So if we're not going to move to a new provider quickly, it could be worth creating a way to show the available balance sooner.

[2021-09-22 02:40] alanna opened #4721 "OCF custom email templates"
We would like to have custom email templates for OCF, like we've done for OSC and SCN, i.e. an OCF version of:

* `collective.approved.hbs`
* `onboarding.day2.hbs`
* `onboarding.day3.hbs`

We already have `thankyou.foundation.hbs` which is great.

If a developer can create the hbs files (just copying the content of the standard ones) and do the code that tells the app to send the OCF ones for OCF

[2021-09-22 02:51] alanna opened #4722 "Enable host to see data on previous Collectives"
CVKEY used to be hosted by OCF, but isn't anymore. For our 2020 audit I need to know the date the Collective was approved to join OCF, which I would normally find by searching for them on the hosted Collective tab of the Dashboard. They aren't showing because they aren't with OCF anymore - but OCF as a host still needs info about when they were hosted by OCF.

It would be great if previously hoste

[2021-09-22 06:49] Betree commented on #4718
Ping @kewitz, you'll probably have more context on this

[2021-09-22 06:51] Betree commented on #4719
Good catch, feel free to ask @opencollective/design if you also need some feedback from them.

[2021-09-22 07:49] Betree commented on #4722
Related to #4271 on the topic of "Host needs to see historical data for the collectives they've hosted". We should keep that in mind when working on the data model.

This specific issue is not straightforward with the way we currently record data. The simplest option I see would be to add a new filter in there, like a "Status" select > `Hosted` (default), `Previously hosted`. When this second opti

[2021-09-22 09:45] johav opened #4724 "backschedule expenses"
## User story
is it possible to back schedule expenses and payments to the previous year? We would like to update our cashflows to have them all reflected on OC.

## Best solution for this problem
Being able to (manually or via CSV) specify the date when the cashflow occurred so that it reflects in the correct year / annual expenses/budget

## MVP
Manually adding/changing the date for public trans

[2021-09-22 10:43] Betree opened #4725 "Update `COVID-19` tags to `SOLIDARITY`"
- [ ] On discover page
- [ ] On hosts selection page
- [ ] In the contribution flow success (when you pick `Discover more Collectives like ...`)
- [ ] Add the `SOLIDARITY` tag to all hosts that should have it. By default, we could add it to all hosts with the `COVID-19` tag.

## Details

**Host selection**
![image](https://user-images.githubusercontent.com/1556356/134329570-1a036cf7-fa8f-4614-aeb3

[2021-09-22 12:45] #4584 closed

[2021-09-22 12:59] #4712 closed

[2021-09-22 13:16] SudharakaP opened #4726 "Add Projects and Events to the Host Dashboard Reports Statistics"
This is with regard to the following comment; https://github.com/opencollective/opencollective-frontend/pull/6873#discussion_r713649524.

From @Betree :

We are currently showing only collectives in the filters of this section as per the [following design](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13711%3A161925). As shown it seems that th

[2021-09-22 13:17] BenJam commented on #3328
@alanna which aspect(s) are most important for them, and how does that map to an MVP?

There's a natural split between multiple expenses/two to sign, and I'll update my comment to reflect that. I assume OpenMined have one of those as their priority?

[2021-09-22 13:18] BenJam commented on #3081
note this is scoped in https://github.com/opencollective/opencollective/issues/3328#issuecomment-923964960

[2021-09-22 14:23] SudharakaP opened #4727 "Missing Legal Name for Host in Expense Form Summary"
I just noticed that we are missing the legal name for the host in the expense form summary.

![image](https://user-images.githubusercontent.com/12435965/134361674-9843343e-dc01-4f69-8a45-9256e46215b2.png)

We need to add the legal name within brackets just like we do in other places such as the payee legal name;

![image](https://user-images.githubusercontent.com/12435965/134361939-69ab6b64-067a-4

[2021-09-22 16:51] SudharakaP commented on #4726
As per my chat with @Memo-Es I think we are moving towards adding data from events and projects but not including those events and projects in the filters. So the filters only show the collectives but when the collectives are chosen the stats from events and projects are reflected as well. Memo is working on surfacing events and projects more clearly on the UI so that the user knows that the stats

[2021-09-22 19:53] kewitz opened #4728 "Wise: Batch Transaction Refactor"
Lately, some hosts are having trouble paying their batched expenses due to request timeout on our API (25s Heroku cap).
Usually, this appears in the frontend as the following error:

![image](https://user-images.githubusercontent.com/2119706/134407802-73f2e0d4-d860-4918-b56b-b6f64ed7f20b.png)

For context, we're currently creating and batching Wise transactions at payment time, when Expenses are s

[2021-09-22 20:36] alanna commented on #3328
Their words:

[2021-09-22 21:19] alanna opened #4729 "Should Collective admins have access to private expense details?"
We're getting user requests in both directions about this question.

For example, Google Season of Docs was very clear they did not want the Collective admin to have access to expense submitters' private info like payout details, address, tax status, because these details are mainly needed by the host admin and expose more private data, which is a risk.

On the other hand, OpenMined works closely

[2021-09-22 21:42] alanna commented on #3328
Sorry I think I added this comment to the wrong issue @BenJam - their priority is about multiple approvals of an expense by the *Collective Admins* not multiple approvals for payouts by Host Admins.

[2021-09-23 02:18] Memo-Es commented on #4692
@alanna Isn't the help text of the display name field enough for this?  ![Annotation on 2021-09-22 at 21-17-03](https://user-images.githubusercontent.com/49539954/134445770-9150ce29-e4a4-4b66-8cf0-735881cd93bf.png)

[2021-09-23 02:23] alanna commented on #4692
I hope so but I guess we'll see.

[2021-09-23 02:37] alanna opened #4730 "Legal name help text missing"
<img width="818" alt="Screen Shot 2021-09-23 at 2 33 50 PM" src="https://user-images.githubusercontent.com/5498878/134447093-966eeb8e-6ca3-4481-89ca-508290cf07ba.png">

I recently updated the text in https://github.com/opencollective/opencollective-frontend/pull/6883 but now it's not showing at all?

[2021-09-23 02:46] Memo-Es commented on #4719
| User | Organization |
|------|--------------|
| <img width="394" alt="Screen Shot on 2021-09-22 at 21-20-22" src="https://user-images.githubusercontent.com/49539954/134447533-974bf1a3-cf50-48fe-b44e-a3faa6c5b2d7.png"> |  <img width="380" alt="Screen Shot on 2021-09-22 at 21-21-52" src="https://user-images.githubusercontent.com/49539954/134447534-f1877993-1252-4fcd-a651-9c539ab3ce44.png">     |

[2021-09-23 02:49] Memo-Es commented on #4654
Updated in the [production-ready file in figma](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/[OC-Design]-Production-Ready-✅?node-id=13838%3A161523)

<img width="367" alt="Screen Shot on 2021-09-22 at 21-47-49" src="https://user-images.githubusercontent.com/49539954/134447989-60a9a1e2-0b23-43ab-8b27-fabe7236ade7.png">

[2021-09-23 04:59] alanna opened #4731 "Set amount in destination currency for Wise transfers"
The Wise interface is set up to enable you to set the amount in either the starting or destination currency, so maybe we could have a similar option?

<img width="479" alt="Screen Shot 2021-09-23 at 4 56 10 PM" src="https://user-images.githubusercontent.com/5498878/134456554-0e487773-934f-41e6-9544-56ba058a4076.png">

This came up because a Collective has an invoice to pay from a supplier in anoth

[2021-09-23 05:38] SudharakaP commented on #4730
@alanna : Sorry, this was a mistake that I introduced in that PR. Anyways I've corrected it and tomorrow we'll get this to production. 👍🏽

[2021-09-23 05:46] SudharakaP commented on #4719
@Memo-Es : Just to clarify, this is the new design for the contribution flow correct? We do not have this yet if I am not mistaken? 🤔 😄

[2021-09-23 06:45] Betree commented on #4725
Closing until we specify a better solution, see https://opencollective.slack.com/archives/G46PNRCGP/p1632344886379600?thread_ts=1632178213.344500&cid=G46PNRCGP

[2021-09-23 06:45] #4725 closed

[2021-09-23 07:33] #4710 closed

[2021-09-23 07:34] #4677 closed

[2021-09-23 08:01] Betree commented on #4729
We need to think about this topic with some granularity in mind. There are some private details that collective admins should be allowed to see, and some they shouldn't. In our current permission system, we have the following:
- `canSeeExpenseInvoiceInfo`: true for host admins, collective admins, accountants
- `canSeeExpenseAttachments`: true for host admins, collective admins, accountants
- `canS

[2021-09-23 08:12] Betree opened #4732 "Relax legal name mismatch validations"
See https://opencollective.slack.com/archives/G46PNRCGP/p1632384391388700

- [x] In the frontend: make this a warning, not an error
- [x] In the API: Log with `logger.warn` instead of throwing
- [x] In the mismatch comparator, ignore `501(c)(3)`

![image](https://user-images.githubusercontent.com/1556356/134474360-94afeb1a-c4c9-40d8-9713-4705a172169d.png)

[2021-09-23 08:21] Betree commented on #4726
I don't get the reason for such a limitation. Let's say that OSC wants to see how money flowed for the various SustainOSS events, to compare the popularity of them across years. What's the rationale for not allowing them to do that?

[2021-09-23 08:54] Betree opened #4733 "Download CSV V2: add loading state and error handling"
- [x] When clicked, `loading={true}` should be set on the button to make it explicit that something is processing
- [x] When there's an error, we should do a `addToast` to notify users; otherwise you just wait and nothing happens

![Peek 2021-09-23 10-52](https://user-images.githubusercontent.com/1556356/134479440-ce9b8e8c-1fc3-44a2-a205-2d2774242e62.gif)

[2021-09-23 09:35] #4709 closed

[2021-09-23 10:42] #4733 closed

[2021-09-23 11:31] znarf opened #4734 "Rename FUNDING_REQUEST expenses to GRANT"
When creating the feature, based on some feedback received, we decided to name the expense type `FUNDING_REQUEST`.

After a few months, it's clear that we should rename it to `GRANT` as it's what we're using in user facing UI and also internally.

[2021-09-23 12:46] SudharakaP commented on #4726
Maybe @Memo-Es can explain this better, but I am quoting a discussion we had just so we are all in sync on the rational behind this;

Anyways, I am okay either way, so maybe let us wait for Alanna and Memo's feedback on this to make a decision. 😉

[2021-09-23 12:48] #4523 closed

[2021-09-23 17:07] SudharakaP commented on #4726
Just to summarize what we discussed in today's meeting;

1) For the MVP we will simply add support to filter by Collectives, Events and Projects; I've added this at https://github.com/opencollective/opencollective-frontend/pull/6873/commits/59d3a87e1a28b99a25b24450ded9d596f72f26e7 for the transactions view.

2) For the future; we have to discuss whether it is better to only let the user filter by

[2021-09-23 22:28] TheJaredWilcurt opened #4735 "Support GitHub login"
You seem to be targeting open source projects, almost all of which live on GitHub, but I can't sign in with my GitHub account like I can on other coder-centric sites (dev.to, codepen, etc).

Waiting to create an account until this is offered.

[2021-09-24 07:15] Betree opened #4736 "Navigating from a collective page to another should scroll top"
See the screencast below. To test it simply create a project and click on its "See more" button.

![Peek 2021-09-24 09-13](https://user-images.githubusercontent.com/1556356/134633715-e49ad4b6-2b53-4955-ba4e-13fe82ab2856.gif)

[2021-09-24 07:43] Betree opened #4737 "Update staging with latest (anonymyzed) production snapshot"
The data https://staging.opencollective.com is a bit old and doesn't include relevant stats for things like platform tips introduced after the last backport. It makes things more difficult for projects like the host reports dashboard, which must be tested against a significant amount of data.

Completing this issue **will erase all data existing today on staging**.

This issue has x goals:
1. Ask

[2021-09-24 08:06] #4730 closed

[2021-09-24 08:44] #4732 closed

[2021-09-24 08:45] #4727 closed

[2021-09-24 08:56] Betree opened #4738 "Admins can specify whether a webhook should run on children accounts"
## User story
As a collective admin, I can specify whether my webhook should include activites from children (aka. projects and events).

## Best solution for this problem
Add a checkbox **for each webhook** on the parent's webhook page. That way you can define which webhooks run on the children, and admins have a clear explanation of how it works rather than having to guess.

![image](https://use

[2021-09-24 09:09] Betree commented on #4662
That's too sensitive in terms of privacy (https://github.com/opencollective/opencollective/issues/2195). If we allow that, malicious users will be able to really easily guess which emails people used to register on Open Collective (it would just be a sophisticated hangman game).

With the right placeholder set on the input, I think the current behavior would be pretty clear. That's what Github doe

[2021-09-24 09:16] Betree commented on #3328
@BenJam Which problem from the use case above is this solving? It doesn't seem like a very useful rule, and it can easily introduce unwanted side effects. For example:
- Host admin ask a user to update payout information
- The user updates the expense which goes back to `PENDING`
- Host admin approves the expense, but cannot pay it since "Approvers cannot pay expense"

[2021-09-24 09:34] Betree opened #4739 "Completely remove legacy firstName/lastName"
A while ago, we decided to stop storing first name / last name as separate fields. The reason can be found in https://uxmovement.com/forms/why-your-form-only-needs-one-name-field/:

While this change is almost completely applied to the frontend, the API hasn't been updated much. Here's what we need to do:

- [x] Deprecate fields in the API
- [x] Remove all fields from the Frontend
- [ ] Remove all

[2021-09-24 09:38] aminakazi commented on #4537
We've concluded that the best way going forward for the GDPR notice would be these two proposals.
In the first one, we’ll have the FAQ expanded by default so it is present for the user to consume the data **OR** (as seen in the second screen) there will an information box after the selection since it is catchy enough to grab attention but not intrusive as to discourage users from contributing.

Pl

[2021-09-24 22:32] #4713 closed

[2021-09-25 10:56] alanna commented on #4729
I think what's most blocking OpenMined is 1) not being able to see expense comments, and 2) not being able to see that an expense is waiting on the tax form.

The fact that a tax form is pending does not in itself reveal private info about the expense payee, so I think that's one thing we could let Collective admins see (just show them the yellow banner that the submitter and host admins see in th

[2021-09-26 01:24] SudharakaP commented on #4708
I was thinking about this and I am a bit doubtful on using the same 🔥 notifications for the host notifications. The reasons are,

1) My understanding is that the initial motivation of the [product communication improvements](https://github.com/opencollective/opencollective/issues/4213) project is to let the users know about new features related to the _Open Collective platform_. Specifically the p

[2021-09-26 04:42] alanna commented on #4708
A Collective only has one host, so it seems unlikely to lead to a whole bunch of notifications. Collective admins are a tiny fraction of users overall, so while a platform 🔥 goes out to *checks metabase* 359,840 people, a 🔥 from OCF goes out to a few hundred at most (only Collective admins of OCF Collectives).

That said, there very well may be a better way to do such notifications. OCF is having

[2021-09-26 16:29] SudharakaP opened #4740 "Handle Multiple Selections Gracefully in `CollectivePicker.js`"
Currently the `CollectivePicker.js` component doesn't seem to handle multi selections very well. The styles seem to get broken;

![image](https://user-images.githubusercontent.com/12435965/134815634-230879f2-e491-49c9-bc66-aaf94fbf9d4d.png)

This is particularly important in the Host Dashboard, Reports section where we need multi selections for the collective picker.

We could handle this by trunc

[2021-09-26 16:30] SudharakaP commented on #4740
@Betree : Let me know if the above suggestion of only showing the collective logo and a tool-tip sounds good. 😄

cc: @Memo-Es

[2021-09-26 20:07] alanna opened #4741 "Host can toggle grants on or off at Collective and Project level"
OCF has recently launched its grantmaking policy, which involves holding grants in Projects and paying them out via grant expenses. We need a way to turn on and off the grant expenses option at the Project level.

![Screen Shot 2021-09-15 at 5 42 02 PM](https://user-images.githubusercontent.com/5498878/134822451-c3cc66ec-932f-4ef1-9767-1a2841cbf18c.jpg)

I suggest this setting could be added on th

[2021-09-26 21:49] alanna commented on #4741
In an ideal world we'd also be able to turn *off* the other expense types but we can work with it if that's not possible.

[2021-09-27 04:46] shannondwray commented on #4575
https://docs.opencollective.com/help/financial-contributors/crptocurrencies

[2021-09-27 04:50] shannondwray commented on #4575
https://docs.opencollective.com/help/collectives/collective-settings/tiers-goals

[2021-09-27 06:54] Betree commented on #4729
Absolutely, collective admins (but not "core contributors") can comment and see other's comments on expenses already.

[2021-09-27 07:18] Betree commented on #4740
@SudharakaP It does. Ideally make this responsiveness feature optional (eg `<CollectivePicker useCompactMode={true} />`).

We'll also need some truncation, but that can be done in a second iteration. Something like:

[2021-09-27 07:33] Betree commented on #4741
We know that hosts sometimes want to edit certain settings for their collectives. Having a modal for that here could be nice.

The second button already has a "Settings" icon, so maybe we should just upgrade the "Host fee structure" modal to be a "Account settings" modal and add it there? @opencollective/design wdyt?

![image](https://user-images.githubusercontent.com/1556356/134863945-1cb3b4f6-97

[2021-09-27 10:51] BenJam opened #4742 "Unpublished (draft) changelog updates showing at /collective/updates"
I've just saved a changelog update to release later today, it's appearing despite my not having published the update at: https://opencollective.com/opencollective/updates

Here's an incognito screeno:

![Screenshot 2021-09-27 at 11 49 46](https://user-images.githubusercontent.com/158833/134894947-b6ed584b-ef45-47a9-905c-abf688e2f752.png)

[2021-09-27 12:46] #4742 closed

[2021-09-27 12:56] SudharakaP opened #4743 "Add Support for All the Crypto Currencies TGB Supports"
We need to double check and add support to all the crypto currencies that the Giving Block supports. It seems that they have recently added some more crypto currencies to the list. I couldn't find an official link to this, but it seems looking at other Crypto widgets by The Giving Block there's some more crypto currencies which were added such as, AAVE, AACX, 1INCH etc. 🤔

![image](https://user-im

[2021-09-27 13:14] #4693 closed

[2021-09-27 13:52] znarf commented on #4565
I like the one with description too.

I think we should do it, it's a problem for people not to be able to create Organizations from the menu.

[2021-09-27 14:48] SudharakaP opened #4744 "Add Check in Front End for Minimum Amounts for Each Crypto Currency"
It caught my attention when working on another issue that the [List Currencies endpoint in TGB](https://app.gitbook.com/@the-giving-block/s/public-api-documentation/endpoints-documentation#list-currencies) also returns the minimum amount for each currency that is supported by the Giving Block.

I think we should add this check to front end such that if the user enters an amount less than the minim

[2021-09-27 14:51] znarf commented on #4744
Why not, we can add a new property in our list of crypto currencies and use this for validation. I would avoid doing anything fancy/dynamic.

[2021-09-27 15:33] #4743 closed

[2021-09-27 15:46] kewitz opened #4745 "Admin Panel Feedback, Suggestions and Follow-Ups"
- [x] Rename "Organization Settings" submenu for users that are also a Fiscal Host
- [x] Navigation menu causes the page to reload
- [x] Improve: 3 different loading states when hitting directly (regression, only 1 loading state in previous version)
        https://opencollective.com/backyourstack/admin/info
- [x] Improve: 3 different loading states + a flashing "Not Found" when hitting directly

[2021-09-28 07:15] Betree commented on #4565
@SudharakaP Collectives can indeed contribute to other collectives under the same host using their budget (i.e. they can't use a credit card), but that's not their primary function. You don't create a collective to contribute, you create a collective to receive (and later disburse) funds.

Organizations on the other hand can have two main purposes:
1. Contribute to collectives (e.g. Facebook contr

[2021-09-28 11:22] kewitz commented on #4744
If you're using Formik you can add a custom validation function to the `Field` component to check this.

[2021-09-28 11:35] aminakazi commented on #4625
Link to the [Production File](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/[OC-Design]-Production-Ready-✅?node-id=14374%3A177551)

<img width="1280" alt="Reset Form Text Link" src="https://user-images.githubusercontent.com/48468919/135079230-8c116b89-b69f-40cc-a663-994cc200b0d9.png">

[2021-09-28 13:40] Betree commented on #4581
This is done

[2021-09-28 13:43] Betree commented on #3689
Everything from https://github.com/opencollective/opencollective/issues/3689#issuecomment-905305266 is done, I'm therefore closing the project. We'll follow up with some issues mostly related to the introduction of the legal name in the contribution flow:
- https://github.com/opencollective/opencollective/issues/4719
- https://github.com/opencollective/opencollective/issues/4692
- https://github.c

[2021-09-28 13:43] #3689 closed

[2021-09-28 20:50] alanna opened #4747 "Extra reminders for missed pending expenses"
## User story
As a Collective admin, I want to be reminded of pending expenses I need to approve if I missed the initial notification or an expense was edited and need re-approval.

## Best solution for this problem
A couple more notifications in certain situations.

If there are pending expenses *and* the Collective balance is enough to pay at lease one of them, in addition to the notification we

[2021-09-28 23:04] SudharakaP opened #4748 "Broken Images in the Transactions Section in Documentation"
It seems that some of the image links are broken in the Transactions section in our documentation; https://docs.opencollective.com/help/collectives/budget#migrating-your-transactions-to-a-spreadsheet. This is perhaps also related to what is mentioned here; https://opencollective.freshdesk.com/a/tickets/37457. 🤔 🙂

cc: @shannondwray

[2021-09-29 04:03] SudharakaP commented on #4565
Thanks for the explanation. That makes sense now. 🙂

[2021-09-29 04:07] SudharakaP commented on #4575
Thanks @shannondwray and @BenJam for adding the crypto documentation. This seems to be done and therefore I am closing the issue. 😄

[2021-09-29 04:07] #4575 closed

[2021-09-29 04:38] SudharakaP commented on #3689
A bit overdue maybe, but I've created a project board for this at, https://github.com/opencollective/opencollective/projects/68 so that we could see all issues related to this in one place. 😉

[2021-09-29 04:51] SudharakaP opened #4749 "Add Link to own profile in user menu"
Currently it seems that users don't have the ability to access their own profile page quickly from our homepage. When the user logs in, one of the obvious places that the user should be able to click on is their own profile picture or the profile name under the drop-down and I think ideally that should link to their own page.

![image](https://user-images.githubusercontent.com/12435965/135204632-5

[2021-09-29 05:10] SudharakaP commented on #4654
@alanna : I am a bit confused on this. So for the help text currently we have this;

![image](https://user-images.githubusercontent.com/12435965/135206946-2c45977e-7cb2-4c7a-9c96-1d10329c8812.png)

Do you mean that that is the correct one? The design shows,

![image](https://user-images.githubusercontent.com/12435965/135207016-232788d8-6740-424b-bc08-a4863224d6d9.png)

[2021-09-29 07:35] alanna commented on #4654
The help text currently in production is correct.

[2021-09-29 07:45] shannondwray commented on #4699
This is done by most companies with Intercom - https://www.intercom.com/

[2021-09-29 09:13] Betree commented on #4749
Good catch, it's not only from the home page, all of them are impacted. Avatar + name should definitely be clickable and link to your personal profile page.

[2021-09-29 09:18] Betree commented on #4699
@shannondwray https://www.intercom.com seems to be more about having a support chat, not allowing users to send messages to each other (e.g. a contributor sends an email to a collective admin at Babel)? Or am I missing something?

[2021-09-29 12:20] aminakazi commented on #4749
I agree with @Betree as the quick solution!

However it can be a little elusive and if we want to be super clear, we could do something like this.
<img width="642" alt="Profile Button" src="https://user-images.githubusercontent.com/48468919/135267077-16fc9ca5-7935-4ce5-844e-9b77fbd41db8.png">

[2021-09-29 13:37] #4744 closed

[2021-09-29 17:29] SudharakaP commented on #4740
@Betree : I've added the `useCompactMode` support to the collective picker. I'll integrate this to our dashboard PRs as well. In the above PR, I've added the `compactMode` to the collective picker in the `CreateGiftCardForm.js` and in the `virtual-card-collective-picker`. I searched a bit and it seems these are the only two places in our code-base we use the multi select with collectives. 🤔

[2021-09-29 17:33] SudharakaP opened #4750 "Improve Truncation in the `CollectivePicker.js`"
This is with regard to the following suggestion by @Betree; https://github.com/opencollective/opencollective/issues/4740#issuecomment-927599323

On https://github.com/opencollective/opencollective/issues/4740 we have added support to hide the name from the option labels (aka compact view) for the `CollectivePicker.js`. We can improve this more by hiding the names of the collectives if the list bec

[2021-09-29 19:23] SudharakaP commented on #4654
Thanks for confirming. 👍🏽

[2021-09-29 20:29] alanna opened #4751 "Confusing UX leading to expense not being invited"
## Who is your user?
Expense inviter

## What are they trying to achieve?
Invite an expense so they can make the process easier for payees that are new to OC

## How are they currently doing this?

They go to invite expense and put in the new user's info and click next:

![Screen Shot 2021-09-30 at 9 21 30 AM](https://user-images.githubusercontent.com/5498878/135342969-231d29fa-7847-4d08-8498-0d97

[2021-09-29 21:33] kaylarep commented on #4662
aha ok yes that makes sense. thank you for explaining!

[2021-09-29 21:51] kaylarep commented on #4708
am thinking this could be a tool only for fiscal hosts (so it's not used instead of the Updates feature + hosts are likely to understand that this would be used for important comms to their groups admins)

and it would only appear for admins (admins can expect that their host would need to communicate with them, so adding these updates here would be pretty useful) - so it's not adding a ton of ext

[2021-09-29 21:54] kaylarep commented on #4699
yes I think you're correct @Betree ...Intercom could maybe help the internal OC team with support, but for user-to-user messaging, I'm not sure it will cover that

[2021-09-30 06:05] Betree commented on #4751
I have seen similar feedback in the past. There is no call to action, and the title input doesn't look like a normal input. Altogether, it's easy to miss it and end up wondering what you should do next.

[2021-09-30 07:00] #4749 closed

[2021-09-30 07:27] Betree opened #4752 "Add legal name to the main signup form"
We're missing a legal name input on our main signup form, the one that is linked from Sign in > Join Free (https://opencollective.com/create-account).

We should add the field to both `Personal profile` and `Organization profile`.

![image](https://user-images.githubusercontent.com/1556356/135407002-5309013f-e344-4d49-b7f4-f95ec4cf6894.png)

[2021-09-30 07:46] Betree commented on #3976
The warning with `id` is polluting the console, would be great to get rid of it. I'm adding a bounty on this.

To reproduce: Start a local server and visit any page that has a `StyledSelect` (e.g. settings).

[2021-09-30 07:47] Betree commented on #3976
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-09-30 08:31] madhums commented on #4240
This is great! I think this will help a lot! Thank you so much for this! And looking forward for this interface!

[2021-09-30 11:10] Mouhamadou112 opened #4753 "[PROJECT]"
## Overview

## Ownership

**Owner:**

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project owner can't continue, they need to hand the role over to another person

[2021-09-30 11:15] #4753 closed

[2021-09-30 12:39] #4654 closed

[2021-09-30 12:42] SudharakaP commented on #3976
@Betree : Do you think it is possible to solve this on our side without a fix to https://github.com/JedWatson/react-select/issues/3590 ? 🤔

[2021-09-30 12:51] SudharakaP commented on #4606
@Betree : If you haven't already started, I'll be working on the historical view of this? Hope there's no objections. 😉

[2021-09-30 13:30] Betree commented on #3976
There may be solutions, it needs to be played with. Anyone fixing the issue on `react-select` directly could claim this bounty. The person who solves this issue should try to explore different paths, document what (doesn't) works and suggest a potential solution.

Last resort if nothing else works: disable SRR for `react-select` (by using a `dynamic`) in dev.

[2021-09-30 14:31] #4661 closed

[2021-09-30 15:42] #4721 closed

[2021-09-30 21:34] #4728 closed

[2021-10-01 00:33] alanna opened #4754 "Separate Independent Collective activation email"
## User story
As a newly activated Independent Collective, I need information specific to my use case, so that I can use the platform effectively without needing hands-on support.

## Best solution for this problem
When an Independent Collective activates, send them a different version of an email like `activated.collective.as.host.hbs` but with different content (e.g. link to the Independent Coll

[2021-10-01 01:01] alanna commented on #4721
@znarf can you please confirm: Are 'onboarding.day2.foundation.hbs' and 'onboarding.day3.foundation.hbs' sent on day 2 since the Collective was created, or day 2 since the Collective joined OCF? Ideally it would be on day 2 since they joined OCF for our purposes.

[2021-10-01 07:11] Betree opened #4755 "Consider accounts timezones"
This issue is not a priority, but I wanted to document it since it can improve the accuracy of people using Open Collective as an accounting backend.

## User story
- As an admin of a fiscal host operating in a country that is far away from UTC, I want my fiscal reports to be generated based on my local timezone (e.g. from 2021-01-01T00:00:00 GMT+8 to 2021-01-1T00:00:00 GMT+8) because that's what

[2021-10-01 10:32] Betree opened #4756 "Implement a special `DateRange` class for `PeriodFilter` values"
The developer experience of using `PeriodFilter` could be improved by returning a special `DateRange` class in `onChange` with a prototype like:

[code]

Doing that would free us from using external helpers from `date-utils`, facilitating the developer experience:

[code]

I wanted to make this change on `PeriodFilter` but I already spent quite some time working on this and need to focus on other

[2021-10-01 10:37] #4565 closed

[2021-10-01 11:51] Betree commented on #4586
I just found out that there is a much easier way to achieve that specific one: if you return a function for one of your GraphQL object fields, it will automatically be resolved by GraphQL. The function doesn't ran if the field is not there.

So you van write something like:

[code]

I just opened a PR for this in https://github.com/opencollective/opencollective-api/pull/6659

[2021-10-01 12:14] Betree commented on #4740
Thanks for the details. If it's only used in these two places, then it looks safe to enable the new styles whenever `isMulti` is set. Feel free to remove `compactMode` if you feel it's a better approach.

[2021-10-01 12:49] Betree commented on #4750
@Memo-Es Do we have a design for this? I just tried looking through Figma but was not able to find the design variants for the `CollectivePicker`.

[2021-10-01 12:51] Betree opened #4757 "Date picker design update"
The latest design acknowledges the new Timezone picker. The tooltip content has also been updated.
See https://www.figma.com/file/KinuveYf4WUlRIXzMTnmIsmO/%5BOC-Design%5D-Lab?node-id=12357%3A180443

![image](https://user-images.githubusercontent.com/1556356/135622381-3a005031-f12e-428d-b8d7-fa3ce98dff82.png)

[2021-10-01 12:56] Memo-Es commented on #4750
I think we need an update to include this, will add it to the next tasks for design @Betree

[2021-10-01 13:00] Betree commented on #4625
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted, and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-10-01 13:02] aminakazi commented on #4757
The tooltip content is such:

Feel free to edit it! :)

[2021-10-01 13:07] znarf commented on #4721
Onboarding emails are sent Daily at 5:00 AM UTC.

So for example, this morning we ran:

[code]

Reaching all collectives created on the day 2021-09-29 (between 2021-09-29 00:00 and 2021-09-30 00:00)

[2021-10-01 13:15] snitin315 commented on #4625
@Betree there are two different amounts in the comment above.

[2021-10-01 13:17] kewitz commented on #4329
Data from hCaptcha:
![Screenshot from 2021-10-01 10-15-02](https://user-images.githubusercontent.com/2119706/135626139-e519a911-aaac-46cc-8252-a2ee127edb71.png)

[2021-10-01 17:36] Nonna-source commented on #4736
I am new to coding, however after some review and research - it would appear that if we add an anchor link that would solve the issue. I am not confident to do it on my own without some guidance. My coding skills are rudimentary and self taught. Here is a link to what I am referring to: ([https://www.w3docs.com/snippets/html/how-to-create-an-anchor-link-to-jump-to-a-specific-part-of-a-page.html])

[2021-10-01 18:23] Betree commented on #4736
Hi @Nonna-source, it's a good issue to start with! We're using NextJs and React, for us the solution will more probably be to detect the collective change in the page's `componentDidUpdate` and to trigger a `window.scrollTo(0, 0)` when that happens, but feel free to explore other solutions and ideas.

The only repository you'll need to get started is https://github.com/opencollective/opencollectiv

[2021-10-01 23:43] alanna commented on #4721
@znarf my question was: is it counting from time of Collective creation or time of host approval?

[2021-10-02 00:02] SudharakaP commented on #4740
I've kept the compact mode for now as I felt it might be useful in the future to separate the compact mode (with the slightly smaller label values and rounded edges). Maybe we can extend that to other things too in the future; currently we only use this with the `CollectivePicker`. 🤔

[2021-10-02 00:04] SudharakaP commented on #4750
@Betree : Note that I've added the truncation as well for now on this PR; https://github.com/opencollective/opencollective-frontend/pull/6946 (see the screen-cast). Hope this works for now, but let us iterate after the design is updated. 😉

[2021-10-02 01:20] alanna opened #4758 "Ampersand not rendering in email subject"
<img width="809" alt="Screen Shot 2021-10-02 at 2 19 02 PM" src="https://user-images.githubusercontent.com/5498878/135699406-cbeabf74-7bfb-4bb2-8567-46a4f89b6a90.png">

[2021-10-02 03:32] alanna commented on #3340
This kind of thing is going to be hard to design for. My legal name is my name, but my bank account name is 'my name + partners name' because it's a joint account.

[2021-10-02 03:47] alanna opened #4759 "Display tags on the search page"
## User story
As a user seeking a Collective, Host, or anything on the OC platform, I want to use tags to help narrow down results accurately.

## Best solution for this problem
Add a tags option on the /search page

Subset of #3892

[2021-10-02 03:52] alanna opened #4760 "Users not finding contact under actions menu"
## Who is your user?
Someone trying to reach a Collective, like a financial contributor or expense submitter

## What are they trying to achieve?
Find the contact button

## How are they currently doing this?
Contacting main OC support, because that's the visible contact option, who then has to direct them to the Collective, delaying an answer and using up support resources

[2021-10-02 03:56] alanna opened #4761 "Stick nav bar on blog and docs"
If someone goes to opencollective.com and then goes to our docs or blog, they loose the top nav bar and the whole context of where they are and what else to look at. It's pretty hard to get from docs and blog to the rest of the site if you start there, or back to the homepage if you came from there. We should have a nav bar that is there all the time (and probably blog should be in it as well).

[2021-10-02 04:02] alanna opened #4762 "Social share buttons on more pages"
We have buttons for posting and tweeting on the financial contribution success page:

<img width="533" alt="Screen Shot 2021-10-02 at 4 59 43 PM" src="https://user-images.githubusercontent.com/5498878/135702934-bb75e3b5-9831-4600-892e-7f0a882d83dc.png">

We should have similar social share buttons on many other pages too, like:

* When you post an Update or Conversation
* When you create a new Pro

[2021-10-02 04:06] alanna opened #4763 "Add embedded video as Collective page section"
## User story
As a Collective admin, I want to tell my story in the best way possible, so that I can connect with my community and attract support

## Best solution for this problem
A profile page section called "Video" that takes a video URL and displays the video. It should be its own section so that Collectives can decided if it belongs at the top or near budget, etc.

## MVP
Ability to embed a

[2021-10-02 04:09] alanna opened #4764 "Suggest (or force) tags during Collective creation"
Rich tags on Collectives would greatly improve search and discovery.

When you sign up to Pinterest you're forced to choose categories you're interested in:

<img width="596" alt="Screen Shot 2021-10-02 at 5 08 21 PM" src="https://user-images.githubusercontent.com/5498878/135703172-4f5951c9-2fe2-4434-8814-07c2c5281989.png">

We could do something similar when a Collective is being created.

[2021-10-02 04:14] alanna opened #4765 "Host can automatically tweet when a new Collective is approved"
We have a Twitter integration for Contributions:

<img width="642" alt="Screen Shot 2021-10-02 at 5 11 40 PM" src="https://user-images.githubusercontent.com/5498878/135703225-bc92f4bb-21f7-44f2-a1eb-93a98d538c61.png">

Can we have something similar for Hosts when they accept a new Collective?

[2021-10-02 04:16] alanna opened #4766 "Grant expenses do not trigger tax form"
In the newly launched OCF grantmaking process, we do not want the platform to collect the tax form from grant expense submitters (because we already get them to sign one when signing the grant contract). As OCF is the largest (only?) user of the grant expense feature, soon to increase, I think it's safe to do this as a global change.

[2021-10-02 04:22] alanna commented on #4751
Quick thing that could help while we work on a more complex solution: just don't do the odd thing where it hides form fields until you input a title. Show all the fields on the second screen from the start.

[2021-10-02 04:27] alanna opened #4767 "Create photo gallery as page section"
Like #4763 for photos. Create a main page section called "gallery" that users can upload photos to. Allow users to customize where on the page this section shows up. Put sharing buttons and an OC watermark on each photo and gallery page

[2021-10-02 04:40] alanna opened #4768 "🔥 for new users"
When a new user joins OC for the first time, they already get a 🔥 because they haven't seen any of them yet. Why not add one more that links out to a new users how-to help page introducing the main features? And/or embed a video walkthrough. This could also be good for users who do certain actions, like create their first Collective, make their first Contribution, etc, which would be specifically

[2021-10-02 05:08] SudharakaP commented on #4768
My vote is if we decide to add this, we probably need to add a dedicated modal for this. I would love to see something similar to the experience users have after creating a new collective. We show a modal which lets the user to add admins and setup their social accounts etc. 😄

![image](https://user-images.githubusercontent.com/12435965/135704265-6de0e6e8-1c31-41d0-bdb0-2f5f32504945.png)

In the s

[2021-10-02 09:47] alanna commented on #4497
It would be great to have payable invoices for checks too, once we have #4024 (maybe it can be a toggle)

[2021-10-02 09:49] alanna commented on #4024
Once we have #4497 I think there should be a toggle option when creating a custom payment method for `Attach payable invoice?` or it should just be on for all custom methods.

[2021-10-02 09:51] alanna commented on #4024
We could also use this for manual versions of stock donations and other methods we're experimenting with, and it would empower independent Collectives and Hosts in countries not served by Wise, Stripe, Paypal to use the platform more effectively because they can reference local payment options.

[2021-10-02 09:56] alanna commented on #4024
Another aspect to this feature is to add host-defined payment methods as options when searching pending orders.

![Screen Shot 2021-10-02 at 10 53 18 PM](https://user-images.githubusercontent.com/5498878/135711492-4b228088-3362-4be2-a2ae-77f6acd652f1.jpg)

This can become something like the list of expected checks OCF in the app that needs.

[2021-10-02 10:16] alanna commented on #3865
Related: #4715 - if we're creating an expense actions menu, downloading the system-generated attachment would fit in there well.

[2021-10-02 15:47] SudharakaP commented on #4761
I agree. Myself find scrolling up and down all the time to get to different sections. I am thinking if we could just stick the current nav bar as a quick fix for this. 🤔

[2021-10-02 15:53] SudharakaP commented on #4760
@alanna : I am not exactly understanding the problem here. We currently have a contact button under actions menu.

![image](https://user-images.githubusercontent.com/12435965/135723672-eb53c5ae-e2d8-49d6-8c68-4a8e89d91c20.png)

Do you mean that users have trouble finding it? One thing I can suggest is adding the contact link (with a nice icon) near the social icons on the collective page.

![image

[2021-10-03 00:44] alanna commented on #4669
I just hit this again with Ersilia.

I chose a custom contribution from their main page while being logged into my main account.

I don't see any options for frequency. I am trying to give $100 one-time so I put the amount in.

<img width="665" alt="Screen Shot 2021-10-03 at 1 42 07 PM" src="https://user-images.githubusercontent.com/5498878/135735505-daee2b34-220d-48ab-8c47-dbdb17f45930.png">

I s

[2021-10-03 00:45] alanna commented on #4669
@Betree this is an Independent Collective and I'm trying to pay by credit card but could do bank transfer if needed. I don't understand why this is happening based on what you said above.

[2021-10-03 05:20] alanna opened #4769 "Unable to upload receipts: attachment size limit set too low"
**Describe the bug**
Unable to upload attachments to expenses because of very low size limit. Tested on a couple different expenses and same thing,

<img width="1142" alt="Screen Shot 2021-10-03 at 6 18 11 PM" src="https://user-images.githubusercontent.com/5498878/135741001-8541d736-37f9-476e-95c7-c43e3cf44075.png">

[2021-10-03 05:21] alanna commented on #4769
Oh never mind this is the opposite problem than I thought - it's the file that's the issue

[2021-10-03 05:27] alanna opened #4770 "Emailed system generated receipt is empty file"
I downloaded the receipt attached to an email notification of a contribution, and it resulted in apparently an empty file.
<img width="805" alt="Screen Shot 2021-10-03 at 6 22 35 PM" src="https://user-images.githubusercontent.com/5498878/135741102-28a4b04b-5551-42c6-bfa4-119300971fab.png">
<img width="851" alt="Screen Shot 2021-10-03 at 6 22 42 PM" src="https://user-images.githubusercontent.com/54

[2021-10-03 18:17] Deep1Shikha commented on #2975
@Betree could you assign it to me?

[2021-10-03 20:10] alanna opened #4771 "Add expense submitted status update"
The expense status updates are meant to tell the story of the life of the expense. It's weird that all of them are in the comment flow, but there's no status update for `expense submitted`. To see that you have to look in a different place. It would be helpful to have an expense submitted update in the flow with the others.

<img width="348" alt="Screen Shot 2021-10-04 at 9 09 20 AM" src="https://

[2021-10-03 21:58] SudharakaP commented on #4669
@alanna : Now it seems to be working as they seem to have configured the bank account under the `receiving money` section. If they haven't configured both stripe or bank transfers this shows up and ideally I think we should stop the flow in the beginning for custom contributions (for other tiers we already do this) when there's no payment methods configured.

@Betree : Let me know if you agree wit

[2021-10-03 22:25] alanna opened #4772 "Improve UX for adding payment methods when activating as Host"
We are seeing problems where new hosts or Independent Collectives don't set up payment methods and then don't understand why people can't pay them.

We should guide them to set up bank account and or Stripe when activating.

Here's what the activation process looks like. You can see why they might not realise they need to set up payment methods.

## IC

![Screen Shot 2021-10-04 at 11 17 21 AM](htt

[2021-10-03 22:25] alanna commented on #4669
Yes that makes sense. If a host has no payment methods configured, we should disable contributions so this does not happen.

This case was related to #4772

[2021-10-04 00:27] SudharakaP commented on #4669
@Betree : I have make a PR above which basically shows the same contribution blocker warning if there's no payment method configured on the host regardless of whether it's a custom contribution or a tier contribution.

[2021-10-04 00:54] SudharakaP commented on #4772
I tested some things and it seems that there's several problems here;

1) It doesn't make sense to connect to stripe on this page, as the user has not yet chosen that they wish to use themselves as the host. 🤔

2) The button `Yes, hold money for one Collective in our own bank account` needs probably a different text. `hold money for one Collective` doesn't make sense? 🤔

**Suggestion:**

1) Rename

[2021-10-04 02:11] alanna opened #4773 "Don't show the contribute header if contributions are not enabled"
It looks really odd to have a call to action saying "Become a financial contributor" but there's no way to contribute.

![Screen Shot 2021-10-04 at 3 09 59 PM](https://user-images.githubusercontent.com/5498878/135783673-fc7eed87-8975-4fa3-b108-7c4c0128ea5a.png)

This example is https://opencollective.com/liminal-lab but I think this is the case for all Collectives without hosting set up.

[2021-10-04 07:20] Betree commented on #4762
I'd like to mention https://github.com/opencollective/opencollective/issues/3734 as it's related: some users don't want the Facebook/Twitter logo to appear on their collectives. We should ideally have an option to disable them (or to customize your share links?) in the settings.

[2021-10-04 07:31] Betree commented on #4761
It's not that simple: our docs live on a different provider/domain (docs.opencollective.com). To keep the top bar fixed, we would have to render the docs in an embed iframe, which has the significant downside of not preserving the URL.

I see two solutions here:
1. We go with this solution of using an iframe. We should then make sure we keep a unique URL for each documentation page (e.g. `https://

[2021-10-04 07:37] Betree commented on #4662
We can probably improve this one too:
![image](https://user-images.githubusercontent.com/1556356/135811568-df0ecabc-9e8b-4be2-9a53-e554140321ee.png)

[2021-10-04 07:37] Betree commented on #4759
Tags are already considered when searching. For example, https://opencollective.com/search?q=hacktoberfest returns multiple collectives that have the `hacktoberfest` tag.

[2021-10-04 07:52] znarf commented on #4770
According to the logs, it went ok.

<img width="1409" alt="Screenshot 2021-10-04 at 09 50 21" src="https://user-images.githubusercontent.com/806/135813445-3437802f-0740-4cfe-bda2-6aa8321fe133.png">

But I can see that the attachment is broken in other emails.

[2021-10-04 07:57] Betree commented on #4669
@alanna I think this is part of what was described there:

That's actually something we can do: arrow_right if a recurring contribution is set and only cross-collective contributions can be used, disable all the other profiles and show a tooltip like This collective only supports cross-collective contributions when contributing recurrently. Please pick another collective under the same host.

We s

[2021-10-04 08:39] Betree commented on #4769
There's definitely something wrong with the error message though, I'll re-open to investigate if that's ok

[2021-10-04 09:33] znarf commented on #4770
Might be fixed by https://github.com/opencollective/opencollective-api/pull/6663

[2021-10-04 11:29] Betree commented on #2975
@Deep1Shikha This issue lacks some comprehensive specs, and I would like us to think a bit more about it since we recently introduced #3689 which is kind of related.
I can recommend looking at one of these issues instead: https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2021-10-04 11:39] Betree opened #4774 "Archiving a collective should archive its children projects & events"
See this TODO: https://github.com/opencollective/opencollective-api/blob/a9c1d823d08197e1b547cf8abb5b010c7019ffd1/server/graphql/v1/mutations/collectives.js#L461

Should ideally have an associated test in `test/server/graphql/v1/mutation.test.js`.

To reproduce:
1. Create a collective under a fiscal host
2. Create an event/project under it
3. From the settings, archive the parent collective
4. Chi

[2021-10-04 11:46] Betree commented on #4481
Just a note to say that the result doesn't look very nice on the comment form. Would be great to find an alternative solution if there's something easy we can do.

![image](https://user-images.githubusercontent.com/1556356/135845916-4b484e4d-868b-4f70-901a-8bb782d8ec3b.png)

[2021-10-04 11:55] Betree commented on #4773
Moreover, showing the contributors grid doesn't make sense if there are no financial contributors. We already have the "Team" section to show team members.

[2021-10-04 12:56] Betree commented on #4771
We had everything we needed in the frontend, so I simply added the activity in https://github.com/opencollective/opencollective-frontend/pull/6961

[2021-10-04 13:04] Betree opened #4776 "Transferwise availableCurrencies sometimes failing (+ page crash)"
**Describe the bug**
See https://sentry.io/organizations/open-collective/issues/2683110640
Also, we should return `null`, not `undefined` otherwise the page will crash.

[2021-10-04 15:16] #4771 closed

[2021-10-04 18:18] SudharakaP opened #4777 "Make Sure the `Contribute Money` Link is shown When Custom Donations are Set"
Currently we show the `Contribute Money` link (under the actions menu) only when at least one tier is set. If no tiers are set even if the the custom donations are set we don't let the user see this link. If some tiers are set we redirect the user to the first tier when clicked on this link.

I feel this gives some confusions; especially since in our docs;

https://docs.opencollective.com/help/col

[2021-10-04 18:36] SudharakaP opened #4778 "Do not Let User Add Funds from a Collective to the Same Collective"
This was reported at https://opencollective.slack.com/archives/C0HSLRNVC/p1633366682190600 initially. It seems that in the add funds modal we let the user select the same collective in the source drop-down; thus enabling the user to add funds from a collective to itself;

![image](https://user-images.githubusercontent.com/12435965/135905633-e132692c-5dda-4241-b1f0-062d6375b652.png)

I think we sho

[2021-10-04 18:39] SudharakaP commented on #4606
Just for the record; it was discussed that this will be looked at first by `Ben (@Betree)` as it involves some tricky revenue metric calculations.

[2021-10-04 18:40] znarf commented on #4778
It's supported.

[2021-10-04 18:45] SudharakaP commented on #4778
Ah I see, thanks for the explanation; that makes sense. I'll report that back in the slack. 👍🏽

[2021-10-04 18:45] #4778 closed

[2021-10-04 18:50] SudharakaP opened #4779 "Change `custom contributions` to `flexible contributions` in documentation"
It seems that we have renamed the term `custom contributions` to `flexible contributions in the front-end. Thus we have to sync this term in the docs.

![image](https://user-images.githubusercontent.com/12435965/135907503-ce8b6fc8-c43a-439a-923c-5315702e5f13.png)

[2021-10-04 18:58] znarf commented on #4770
@alanna it's a bit difficult to reproduce but we fixed some suspicious related code. There is good chance this is it.

[2021-10-04 20:04] kaylarep commented on #4280
some data about how much OCF initiatives use Events

![image](https://user-images.githubusercontent.com/64920686/135916859-be123bcc-55f7-4d9f-b8bb-6d042df616d8.png)

[2021-10-04 21:53] Memo-Es commented on #4772
I think the onboarding for fiscal host project https://github.com/opencollective/opencollective/issues/3758 solves this issue

@Betree @alanna @SudharakaP

| Dashboard first use | Add bank account | Bank account connected |
|---------------------|------------------|------------------------|
|    ![Dashboard first use](https://user-images.githubusercontent.com/49539954/135929851-41bc3801-2006-404c-

[2021-10-04 23:13] alanna commented on #1073
This is so incredibly annoying. Is there any way to make Wise calculate a fees-inclusive amount based on the total to pay?

<img width="321" alt="Screen Shot 2021-10-05 at 12 12 45 PM" src="https://user-images.githubusercontent.com/5498878/135936735-1a36c766-253f-4ada-a128-881b8135949c.png">

[2021-10-05 01:33] alinamanko opened #4780 "Support Metrics Report September 2021"
### Support Metrics Report September 2021
This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![capture](https://user-images.githubusercontent.com/57156267/135945668-f1342666-b975-4951-89c3-52fc543edf20.png)

The number of tickets received seems to be quite consistent - with a slight inc

[2021-10-05 02:31] alanna commented on #4741
Yeah that sounds fine - any design that allows host admins to change the setting will work. If it's hard to design, put it in root admin dashboard for now.

[2021-10-05 02:44] alanna commented on #4780
Some takeaways for me...

* Virtual cards / Privacy is killing us right now - so painful
* We should implement #4754 to reduce the onboarding support load
* A pull request was just merged to introduce custom OCF onboarding emails, so hopefully that will reduce the load on main support
* Do we have a second automated reminder to fill out the tax form if it's been sitting a while?
* #4024 and #4497

[2021-10-05 02:53] alinamanko commented on #4780
Great summary @alanna! My two cents in regards to the funds question (take it with a grain of salt as I am not fully familiar with the flow though) is that fund setup is different atm to that of a collective and the whole budget section is restricted in its view, making it impossible to add the funds from the platform end as we would do for collectives and this is why the process is entirely diffe

[2021-10-05 07:01] Betree commented on #4777
The specs look good to me. Ping @znarf just in case, I think he was the one introducing the `Contribute money` button concept.

[2021-10-05 07:53] znarf commented on #4777
To display "Contribute Money", we're simply relying on `getHasContribute`/`hasContribute`. If we change this, it will have an impact on other part of the applications that are relying on it, is this what we want?

I fail to see the rationale behind the conditions of `getContributeRoute` can this be explained or commented? I also fail to see why we compute `hasContribute` based on the result of `ge

[2021-10-05 07:57] #4660 closed

[2021-10-05 12:43] #4779 closed

[2021-10-05 13:50] #4625 closed

[2021-10-05 14:22] SudharakaP opened #4781 "Make Contribution Stats and Expense Stats Generic for All Accounts"
This is with regard to the following discussion; https://github.com/opencollective/opencollective-api/pull/6595#pullrequestreview-771144439

Currently as per the above PR we have contribution stats and expense stats specific to hosts. We need to make these stats generic for all accounts.

- [ ] Migrate the `expenseStats` and `contributionStats` queries from `Host.js` to `Account.js`.
- [ ] Make su

[2021-10-05 14:45] Betree opened #4782 "Move to NextJS filesystem Routes"
**Motivations**
- We're getting contradictory input about how they are supposed to be handled on client-side from NextJSm and the behavior we observe in the frontend is inconsistent. This created some challenges while implementing the new admin panel.
- File system routing is now the default approach promoted by NextJS, and thus the one that should receive the most support in the future.
- It's an

[2021-10-05 14:46] Betree commented on #4625
:trophy: This issue has been completed by @snitin315

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-10-05 18:15] BenJam opened #4783 "Open Collective Roadmap FY21Q4S1"
Project board: https://github.com/opencollective/opencollective/projects/54

# Engineering Focussed

## Virtual card issuing with Stripe
**Owner:**: @znarf
**Developer:** TBC
**Design**: TBC
**Tracking issue**: https://github.com/opencollective/opencollective/issues/4807
**Status**:
**Goals:** Move virtual card transaction synchronisation to Stripe.
**KPIs**: Reduce support time and impact on othe

[2021-10-05 19:48] kaylarep opened #4784 "Recurring Event Registration on the platform"
## User story
We have to use an external registration site for our events because we need functionality where someone can sign up once and be invited every month for a recurring event.

This is a huge hassle, and has complicated the event.  The times are not necessarily correct, the registration itself is confusing, the events are not auto-added to the user's personal calendar. It's likely impacti

[2021-10-05 19:48] kaylarep commented on #4280
https://github.com/opencollective/opencollective/issues/4784

[2021-10-05 21:14] alanna commented on #4587
This keeps happening and causing confusion.

[2021-10-06 01:53] Memo-Es commented on #4783
@BenJam can we include this one?

Design small projects
Add projects and events to host dashboard
Confusing UX leading to expense not being invited #4751 (comment)
Collective page update
Users not finding contact under actions menu #4760
Create photo gallery as page section #4767
Add an embedded video as Collective page section #4763
Improve Truncation in the CollectivePicker.js #4750
🔥 for new us

[2021-10-06 02:39] Memo-Es opened #4785 "Transactions design update"
## Overview
This should be a small design project for the user interface to catch up with what @znarf have been updating in https://github.com/opencollective/opencollective/discussions/4746#discussioncomment-1427806

### Main goals

- [x] https://github.com/opencollective/opencollective/issues/4984
- [ ] https://github.com/opencollective/opencollective/issues/4438
* Propose a way to display childr

[2021-10-06 03:46] debryc opened #4786 "In the case of multiple admins, show which admin made a financial contribution from the collective/project/organization's budget"
## Who is your user?
Administrators of organizations and collectives with multiple administrators.

## What are they trying to achieve?
When an administrator makes a contribution via an organization/collective budget, I want to have transparency into who made that contribution, so I can follow up with the admin who made the contribution if I have questions about the transaction and so we ensure th

[2021-10-06 13:00] SudharakaP opened #4789 "Adding a FAQ and Note to the Legal Name in Expense Flow"
This was proposed by @kaylarep at, https://www.loom.com/share/74cbcffccf6244c88a52aeedad6a80b0?replyToComment=7305438

- Add a FAQ in the expense flow about why the legal name is needed (something like `Why do you need my legal name?`). For this maybe I can suggest;

- Add a note to the flow that if the legal name and the account holder name doesn't match it might delay/reject the payment. For thi

[2021-10-06 14:09] abitrolly opened #4790 "Use OpenCollective for PyPI owned by PSF"
## Who is your user?

https://pypi.org code contributors and sponsors (both individual and company based).

## What are they trying to achieve?

Improve Python package distribution mechanism, merge/review outstanding PRs. In particular, export metadata about PyPI packages without downloading them, document various levels of metadata, improve contributor experience. See aslo https://github.com/psf/

[2021-10-06 14:29] abitrolly opened #4792 "CharityNavigator rating for Open Collective entities"
When I explain people what Open Collective, I want them to find its reviews and ratings themselves, https://www.charitynavigator.org/ein/814004928

When I seek fiscal sponsor for my Open Source project, I want to know if Open Collective is trustworthy.

## How are they currently doing this?

Currently I just trust certain people.

[2021-10-06 21:07] alanna opened #4793 "New admin pannel not working for projects and events"
# Priority: p4

I am an admin of https://opencollective.com/ehf-community

![Screen Shot 2021-10-07 at 10 01 52 AM](https://user-images.githubusercontent.com/5498878/136282803-ad3bfcc7-8a94-447f-af06-a7963f2c70fb.png)

One of its Projects is https://opencollective.com/ehf-community/projects/fellowship-development

But when I click `settings` on the Project page, I see:

![Screen Shot 2021-10-07 at

[2021-10-06 21:46] kaylarep opened #4794 "Edits to Fiscal Hosting Info Page [DOCS]"
(apologies if this is a duplicate issue, I can't recall if I'd already posted about this)

This page (https://opencollective.com/fiscal-hosting) is a great starting off info page, but needs to link to other steps.

There should be a link to this page somewhere: https://docs.opencollective.com/help/fiscal-hosts/fiscal-hosts

Also perhaps in this section:
![image](https://user-images.githubuserconte

[2021-10-06 22:08] SudharakaP commented on #4794
Not sure if this is covered in the new homepage designs. Maybe we could have a `Know More` link similar to what we have in the homepage currently; 🤔

![image](https://user-images.githubusercontent.com/12435965/136290319-02850e97-919a-40c0-89f4-844dfcedec91.png)

ping @opencollective/design

[2021-10-06 22:13] SudharakaP opened #4795 "Hide Unnessary `@` Icon when Inviting Users to Submit Expense"
Just saw that sometimes in the expense submission flows we show this unnecessary `@` icons below the payee name. This happens when their Twitter handle is not set (which I think is optional).

We should not display this when the user or organization has not set their Twitter handle.

![Screenshot 2021-10-06 at 14-40-56 Agora Collective - New expense - Open Collective](https://user-images.githubuse

[2021-10-07 07:33] znarf opened #4796 "No feedback when Paying Expense with Wise from Expense page"
When Paying an Expense with Wise, there is no feedback.

- no toast notification to tell that the Expense is processing
- all buttons disappearing without an hint on the status

There is some info in the comments, but that is not enough.

[2021-10-07 08:43] #4745 closed

[2021-10-07 08:43] #4793 closed

[2021-10-07 11:13] #4204 closed

[2021-10-07 11:19] BenJam opened #4797 "Remove 'assign/request a virtual card' options from projects"
When we launched virtual cards we accidentally launched it for Projects as well as Collectives.

There is a lot of value to having virtual cards assigned to projects as well as Collectives but it's not working at the moment and is (likely) untested:

![image](https://user-images.githubusercontent.com/158833/136373982-f11df33a-6ecf-44be-9a0d-53d0b2845ada.png)

See above, assigning a virtual card on

[2021-10-07 11:27] BenJam opened #4798 "Virtual cards for Projects and Events"
## User story
As a Collective I want to use virtual cards with projects so I can move recurring expenditure from people working on the project and account for the project's budget more accurately.

## Best solution for this problem
Implement the same functionality we have for virtual cards on Collectives for projects and events.

## Current status
We accidentally rolled this out when we rolled out

[2021-10-07 13:26] #4719 closed

[2021-10-07 13:29] SudharakaP opened #4799 "Make Legal Name Help Text Consistent Across UI"
It was noted the help text for the legal name is not consistent across the front-end. As per https://github.com/opencollective/opencollective/issues/4654#issuecomment-929917658 the one that should be there in production is,

But we have a slightly different ones as well. We need to check and make all help texts consistent with the one above. 😄

[2021-10-07 14:09] Betree commented on #4789
That sounds like a good addition, let's maybe wait for some feedback from @alanna on the wording before jumping to implementation.

[2021-10-07 15:22] SudharakaP commented on #4777
Thanks, I've merged the docs change for now until we get this resolved. 👍🏽

[2021-10-07 16:15] Betree commented on #4638
Related: https://github.com/opencollective/opencollective/issues/4682

[2021-10-07 16:19] jeffin143 commented on #2817
I got it

[2021-10-07 16:29] Memo-Es opened #4800 "Help and support marketing page"
We designed a new page for users to get better help, linking the experience with our docs in GitBook, and providing a general form to set a channel for others to reach out to us when is not related to support.

[edit by @benjam]
Tasks
- [x] Implement the frontend components (this issue)
- [ ] #5022
- [ ] #5023

| Desktop | Tablet landscape | Tablet portrait | Mobile |
|---------|------------------

[2021-10-07 17:24] jeffin143 commented on #2817
@Betree -> I have come to the community after long , why are there packages which are not available on npm -> https://www.npmjs.com/login?next=%2Fpackage%2F%40hyperwatch%2Fhyperwatch

Where did hyperwatch go ?

[2021-10-07 19:44] alanna opened #4801 "Host admin can order hosted Collectives"
## User story
As a host admin I want to order my hosted Collectives on my host page.

## Best solution for this problem
A setting that allows:

- Alphabetical so collectives are easy to find
- By number of contributors so you can showcase collectives that have a lot of activity (which may encourage people to explore more)
- Random so collectives have a chance for new contributors to encounter them

[2021-10-07 20:00] alanna commented on #4789
In general this is a good idea, but we need to remember there will be cases where they don't match. For example, my legal name is my name, but my bank account name also has my partner because it's a joint account, so they will not match. It's a hard one because we have to say "It really should match and it's bad if it doesn't" and "actually it's OK if it doesn't match sometimes" at the same time.

[2021-10-07 21:55] SudharakaP commented on #4789
@alanna : Thanks for the information. Here's how it looks like with these changes to both the warning and the FAQ section.

![image](https://user-images.githubusercontent.com/12435965/136467350-a8bf6bb6-5af9-4703-a221-f2ac4710d50c.png)

Hope it looks good. 😄

[2021-10-07 22:12] SudharakaP opened #4802 "Add ToolTips to Host Dashboard Reports Section"
We need to add tool-tips to the Host Dashboard Reports section, but the wording of the tool-tips are not yet decided. I've created this issue in order to finalize these tool-tips. 😄

Below image I've highlighted the sections where we need tool-tips. 😄

![reports-tooltips](https://user-images.githubusercontent.com/12435965/136469280-4c29f80e-4b98-4795-a46b-fdf7c717f211.png)

cc: @alanna @Memo-Es

[2021-10-08 00:31] alanna opened #4803 "Monthly recurring goal amount"
## User story
As a Collective admin, I want to set a monthly recurring goal amount.

[2021-10-08 00:42] alanna opened #4804 "Platform admins can notify host admins"
## Who is your user?
As a host admin, I want to find out about announcements and news specifically relevant to me.
As a platform admin, I want to communicate important updates to host admins.

## How are they currently doing this?
We have a mailchimp list for host admins that we update in a hacky way via metabase data. It would be much better if we could do a special kind of Update that went by em

[2021-10-08 00:49] alanna commented on #4754
@znarf @Betree - would this be hard to do? If it's easy and expected to be implemented in the short term, I will create a demo video to link from the email. If not I won't put the time into that now.

[2021-10-08 00:53] alanna opened #4805 "Root admin action to change the status of a tax form"
## User story
As a platform admin, I want to update the status of users' tax forms myself, so we don't have to ask a dev each time we have to process one manually, and to enable faster unblocking for users held up by a tax form status issue.

## Best solution for this problem
Add a 'tax form' section to root admin dashboard, where you can select a user profile and change between statuses (not requ

[2021-10-08 02:57] shannondwray commented on #4748
Posted in teams chat in Slack to see if anyone can help: Does anyone know anything about/made this spreadsheet for importing your collectives transactions into? The images to describe what to do, settings to press etc have expired off the docs. So just looking for any guidance if anyone has any background. If not I might have to completely remove this section from the docs. https://docs.google.com

[2021-10-08 08:01] znarf opened #4806 "Add consolidated balance in Budget (inlcuding projects and events)"
As a Collective admin, I want to know how much balance I have across main profile, projects and events.

Today, I only see the balance of the parent.

[2021-10-08 08:41] BenJam commented on #4783
@Memo-Es I've included #4726 in the dashboard reports, added top-line items for the storytelling (photos and video sections) and the user onboarding improvements (I think these will be useful efforts to track with proper projects) and left other bits in UX improvements. I hope that's cool.

[2021-10-08 08:41] BenJam commented on #4711
The saga continues https://github.com/opencollective/opencollective/issues/4783

[2021-10-08 10:19] BenJam opened #4807 "[PROJECT] Add Virtual Card Issuing with Stripe"
## Overview
Collectives are using Virtual Cards to spend their community's budget directly,  without relying on members to cover costs in the first instance. Our current provider (Privacy.com) blocks our entire account when transactions fail, impacting all our collectives, so we'd like to expand the current prototype to include issuing with Stripe.

## Roadmap

Status: 💚 On track

- [x] Iteration

[2021-10-08 10:35] BenJam commented on #4807
Created this issue to cover the work to move virtual cards off of privacy and onto Stripe.

An initial chat with Stripe re. OSC's usage was positive. We have a contact that can help us through the process. Generally, the setup would look like:

- Create a single card-holder (Open Source Collective, Open Collective Foundation)
- Add funds to Stripe's Issuing balance
- Create a card for each Collect

[2021-10-08 10:41] germain-gg opened #4808 "Allow to edit credit card's zip code"
I have recurring contributions setup on OpenCollective. I have saved my credit card details on the website, and when registering it the first time I've added my zip code for my bank to allow the payment to be processed.

I've recently moved, changed my address with my bank, and my payments to OpenCollective started bouncing

There's currently no way to edit my credit card info to update my zip cod

[2021-10-08 12:30] Betree opened #4809 "Hosts to add custom requirements for addiotional invoice information"
As per @jfdh's feedback: fiscal hosts in Europe want to get the company IDs (VAT number) when they submit expenses (it's required by law for expenses to be valid).

An easy solution for that would be:
- [ ] In host settings:
  - [ ] Add a "Require additional information" checkbox
  - [ ] Add a "Additional information description" textarea
- [ ] Surface this label and enforce the "required field" i

[2021-10-08 13:10] Betree opened #4810 "Admin: virtual cards not appearing in the menu"
For the new admin dashboard update, we are not showing virtual cards options due to a bug. I will add some design context I think it's useful:

There is the[ ideal version](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/[OC-Design]-Production-Ready-✅?node-id=11543%3A155481) of adding it to the host dashboard instead of the settings, but I remember that was a more complicated fix, so we can also

[2021-10-08 20:01] SudharakaP commented on #4600
Pinging @opencollective/design @Betree in case if you have missed this. 😄

[2021-10-11 05:28] maximiliano1993 commented on #4312
max

[2021-10-11 08:42] RCheesley opened #4813 "Add a link to the "Orders" page for collective admins to see pending bank transfers"
## User story
As a collective administrator, I would like to be able to see any pending transactions on my collective, so that I can follow up with the payee if needed and identify what transactions are preventing me from deleting an event, for example.

## Best solution for this problem
Transactions which are in the pending state should be visible to admins only, filterable, and have some way of

[2021-10-12 05:27] alanna opened #4814 "Balance not updating after refresh"
https://opencollective.com/gar4se

I refunded the only contribution, but the balance is still showing instead of being zero. I refreshed multiple times but it's still the case.
<img width="1215" alt="Screen Shot 2021-10-12 at 6 26 35 PM" src="https://user-images.githubusercontent.com/5498878/136896716-49c57b3d-4552-41e1-8bf3-1efb6c1c3460.png">

[2021-10-12 08:00] Betree commented on #3729
It's not a huge priority, but I still think we need a section in the settings to:
- List all your **payout** methods
- Remove a payout method
- Set a custom name for a payout method. It's already supported in the backend and in the interface. I've manually hacked it for myself, and for bank accounts it's so much more practical than having to remember the details of your IBAN

![image](https://user

[2021-10-12 08:13] Betree commented on #4801
This one is more complex than tiers ordering because the query for hosted collectives is paginated, which means that entries need to be ordered in the API before being returned.

[2021-10-12 13:13] #4795 closed, assigned to SudharakaP

[2021-10-12 13:15] #4799 closed, assigned to SudharakaP

[2021-10-12 14:54] Betree opened #4815 "Should we use Hackerone to handle security reports?"
HackerOne is a very popular solution to handle security reports, the process of communicating with researchers and paying them. It has quite a large community, and projects are publicly listed there so that can bring a lot of attention.

**Pros**:
- Promotes to a large community of security researchers: more reports, better reports
- Public history: people will be able to see that we invest in sec

[2021-10-12 15:24] Betree opened #4816 "Admin panel: highlight selected category"
When:
- You arrive directly on a section of the admin contained in a sub-menu (eg. fiscal host settings)
- Or you go back by clicking on "Back" in the menu

The interface doesn't tell you which category you're currently viewing, and therefore there's no way for you to know where you're at:
![image](https://user-images.githubusercontent.com/1556356/136984403-b064949c-392d-4842-8146-995136fe6a01.png

[2021-10-12 21:02] SudharakaP opened #4818 "Change Migration Script Naming"
Something we've discussed earlier on a Slack thread; https://opencollective.slack.com/archives/C0RMV6F8C/p1630337156012200

We should stop using names such as `dev-20200911-tax-forms.js` in migration scripts and use the default naming convention of sequelize. We've already added documentation; https://github.com/opencollective/opencollective-api/pull/6515 but did not rename the existing migrations

[2021-10-12 21:59] SudharakaP commented on #4815
I agree and love the idea, but reading more there might be one blocker in joining the community edition, which is the non-commercial requirement. The FAQ says,

But still I guess we we can maybe apply and try it out. 🤔 😉

[2021-10-12 23:40] Memo-Es commented on #3133
We have addressed all issues stated here, as far as I know. I suggest closing this, and since we constantly have the stuff to do on expenses, we can have an ongoing project to manage individual issues.

[2021-10-13 06:46] #4810 closed, assigned to Betree

[2021-10-13 09:28] Betree commented on #4238
This wasn't resolved, see https://opencollective.com/grange-villa-mutual-aid/expenses/52270

[2021-10-13 09:42] Betree opened #4819 "Expense items description: sanitization should happen in the API"
For grant expenses, items descriptions are sanitized in the frontend. There are a few problems with that:
- It's not consistent with what we do elsewhere (collective `longDescription`, updates content, comments, etc)
- We can end up with unsatizied content stored in the DB, which is a future risk if we re-use this field elsewhere
- It's not using the default sanitization config, which creates [inc

[2021-10-13 09:43] Betree commented on #4819
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2021-10-13 09:51] znarf opened #4820 "Recurring revenue calculation is off"
In the budget section, we're displaying a "Monthly recurring" figure but it's slightly off because the calculation is simplistic.

It's surfacing the `activeRecurringContributions` metric from API v1.
https://github.com/opencollective/opencollective-api/blob/2927d590920d098aff9063d9aace4cafb25f29b2/server/graphql/loaders/index.js#L182

The problem is likely that the this method doesn't extract Pla

[2021-10-13 14:53] #4820 closed, assigned to nobody

[2021-10-13 19:06] SudharakaP opened #4821 "Host Dashboard Reports - Add Tests to API"
We need to add tests on the API level for the host dashboard reports section; the following tasks needs to be done.

- [x] Add tests for verifying amounts returned by the Total Money Managed section
  - [x] Chart/Expanded View (depends on https://github.com/opencollective/opencollective/issues/4606)
  - [x] Summary View
- [x] Add tests for verifying amounts in Host fees section
  - [x] Summary Vie

[2021-10-13 19:16] SudharakaP opened #4822 "Add E2E Tests for the Host Dashboard Reports Section"
We need to add E2E tests for the host dashboard reports section. The following needs to be done;

- [ ] Make sure all the sections are rendered correctly. We can probably check to see if the summary views as well as the chat views exist.
- [ ] Click on the `See Historical` expansion link in the Host Fee section to see if it show/hide the chart (by default it should be hidden).
- [ ] All sections e

[2021-10-13 21:57] Memo-Es opened #4823 "[PROJECT] Help collectives better tell their story"
## Overview

Collective admins need better tools to tell their stories and engage with their community

## Ownership

**Owner:** @Memo-Es @aminakazi

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan

[2021-10-14 01:42] alanna opened #4824 "Activate Goals for Projects"
## User story
As a Project creator, I want to set Goals, so that I can motivate people to contribute and be transparent about intentions.

## Best solution for this problem
Enable the `Goals` profile page section for Projects just like we have it for the main Collective.

## MVP
Currently Project tiers can have goals so some people are trying to achieve it through that but it's not as nice as the

[2021-10-14 02:54] alanna opened #4826 "Creator info missing from Collective application"
The [Hala](https://opencollective.com/hala) Collective applied to OCNZ host. The admin is [Sakhr](https://opencollective.com/sakhr-munassar1), and there is a name set on the user profile. However, the application came through without this info, only showing the email.

<img width="591" alt="Screen Shot 2021-10-14 at 3 50 08 PM" src="https://user-images.githubusercontent.com/5498878/137242698-68e0b

[2021-10-14 06:16] znarf commented on #4826
Seems the `user.collective` object was empty when the template was processed https://github.com/opencollective/opencollective-api/blob/main/templates/emails/collective.apply.for.host.hbs

If this doesn't happen usually, maybe was it a case of using the combined sign up and apply form? https://opencollective.com/foundation/apply/form unauthenticated

[2021-10-14 06:38] SudharakaP commented on #4792
@alanna : Not sure if you are the right person to answer this but just pinging you in case. 😄

[2021-10-14 06:55] SudharakaP commented on #4707
@Betree : I checked our prod db and it seems that there are collectives (not many around 40) which has text for this; but looking at them it seems that almost all of them have nonsensical text. I feel like it's all the more reason to add this validation since otherwise we have broken links for all these text in the collective pages. My thinking is maybe we can add the validation and going forward

[2021-10-14 07:15] juliekitty commented on #4491
2. Display expense total (calendar year)
- "current year" like in the mockup would probably mean the value is zero in January for the payees, so not really reflects wether the payee has some recent activity
- "last 12 months" reflects better the last expenses activity of the payee and is already used for another display in the app (in the budget part) so i would go for it.

[2021-10-14 12:06] Betree commented on #4681
@Memo-Es I mistakingly closed this one instead of https://github.com/opencollective/opencollective/issues/4646, fixing that now. Thanks for noticing!

[2021-10-14 16:02] #4818 closed, assigned to SudharakaP

[2021-10-14 19:57] SudharakaP opened #4827 "`InputField.js` Validations Do not Work as Expected"
Working on a different issue I realized that our `InputField.js` validations are probably broken. I am not sure if this issue has surfaced yet, but I think we might have to revisit the following section;

https://github.com/opencollective/opencollective-frontend/blob/b669717e5452e2cf7f71491405f3bfdfaa49d0d6/components/InputField.js#L42-L99

Notice that we use a `validationState` in this component

[2021-10-14 21:47] alanna commented on #1073
This is such a waste of time every time it happens
![Screen Shot 2021-10-15 at 10 46 52 AM](https://user-images.githubusercontent.com/5498878/137400180-17c84db9-3ef6-4fd9-aec8-71181eb74fbf.png)

[2021-10-14 22:40] alanna commented on #4790
Hi @abitrolly - PSF can absolutely get set up as a fiscal host on the platform, and create Collectives while holding their money under its own umbrella. These Collectives can then use all the features for fundraising and financial tracking and transparency. The platform is also very useful to organizations like PSF for managing expense payouts and gathering documentation needed for accounting and

[2021-10-14 22:41] SudharakaP opened #4828 "Change `Reset Form` Button Text Based on Editing or Creating Expense"
This is with regard to the following conversation on slack; https://opencollective.slack.com/archives/GFH4N961L/p1634248311039100.

Our expense form has a `Reset Form` button and currency the button text displays `Reset Form` regardless of whether it's a new expense or if the user is editing an existing expense. It seems that there is some ambiguity around what the button does when resetting the e

[2021-10-15 00:44] Memo-Es opened #4829 "[PROJECT] Merge profiles onboarding"
## Overview

We want our users to be aware of the possibilities of the platform right when they join. We used to have different onboarding flows for collectives, organizations, fiscal hosts, and individual contributors, and they ended up with different features depending on their type of profile.

We want to explore how we could have a unified onboarding flow that asks people joining what features

[2021-10-15 02:33] #4792 closed

[2021-10-15 03:43] abitrolly commented on #4790
@alanna thanks. I sent a letter to Phyllis @ PSF pointing to this thread, so hopefully somebody will jump in to discuss the topic directly. Or if I get the reply, I post it here,

[2021-10-15 03:50] alanna commented on #4792
Yes absolutely. We'll make sure the page for OCF is updated as soon as
possible.

[2021-10-15 07:34] Betree opened #4830 "Remove the legacy `InputField` component"
_This issue is categorized as "medium", but tackling individual items is actually pretty easy. Feel free to open separate PRs for each one of them._

The `InputField` component has been unofficially deprecated in our code base for quite some time now. We're usually replacing it with `Formik` + `StyledInputField` / `StyledInputFormikField` / `InputSwitch`.

We should:
- [x] Add some annotations to

[2021-10-15 07:52] #4827 closed

[2021-10-15 08:58] alanna opened #4831 "Help text for Independent Collective deactivation"
If you're an Independent Collective seeking to shut down, you go to the advanced section and see this:
<img width="1170" alt="Screen Shot 2021-10-15 at 9 51 15 PM" src="https://user-images.githubusercontent.com/5498878/137460944-3e335c9a-4d79-44e9-89ac-5adc4a3cf650.png">

Independent Collectives do not have a 'Fiscal Hosting' settings section, and we should not refer to them as a Host.

The yellow

[2021-10-15 09:29] Betree opened #4832 "Spacing issue with collective goal labels"
See https://opencollective.com/pgchangemakers

Adding a `white-space: nowrap` on the label seems to solve the issue, but we should make sure it doesn't break other profiles.

![image](https://user-images.githubusercontent.com/1556356/137465257-ebfca478-2376-43eb-a56b-513e7e84b86a.png)

[2021-10-15 10:21] abitrolly opened #4833 "Public API for expenses info"
## User story

_As a responsible business, I can get the public info on the expenses of my open source dependencies though API, so that I can decide how much funds I can allocate to support them._

## Best solution for this problem

https://opencollective.com/pytest/expenses.csv or https://opencollective.com/pytest/expenses.json

## MVP

_What will be built as an MVP?_

I am not sure how to releas

[2021-10-15 20:18] kaylarep commented on #4759
would love to see the tags appear here on the initiatives' cards whenever that card pops up in searches or in the contributions section

maybe just the top 3 tags or something, so it doesn't get overcrowded?

![image](https://user-images.githubusercontent.com/64920686/137548322-d211e48d-f18c-49cd-b04d-a2b6ac795091.png)

[2021-10-15 21:04] kaylarep opened #4835 "Typo In Collective Card"
Should say "Hosted since" not "Host since" wherever these cards appear. (Unless they are a fiscal host, but in these cases, they are all hosted collectives)

![image](https://user-images.githubusercontent.com/64920686/137553333-b8fde5b2-270a-4c06-8776-98c19dbc306c.png)

[2021-10-15 23:45] alanna opened #4836 "Admin can hide archived Projects, or they are always hidden"
## User story
As a Collective admin, I want to be able to archive no longer active Projects so they don't take up space on my page and people aren't confused by seeing them.

## Best solution for this problem
Either a per-Project setting to optionally hide it that activates when a Project archived, or a default global choice to hide all archived Projects for non-admins.

## MVP
Being able to reque

[2021-10-15 23:45] alanna commented on #4836
Related to #4640 - if we implement hiding them all then we don't need to worry about sending them to the end of the order.

[2021-10-15 23:55] alanna commented on #4836
I decided to contact some creators or archived Projects and ask them if they would prefer them to be hidden or not. I'll update the results of this informal survey here.

[2021-10-16 16:01] Acroexist69 commented on #4835
Should be virtual and online only cards? As well as soon to be delivered

[2021-10-16 16:03] Acroexist69 opened #4837 "Virtual/online cards only as well as pre-ordered physical cards"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-16 16:06] SudharakaP commented on #4837
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-10-16 16:06] #4837 closed

[2021-10-16 17:49] SudharakaP opened #4838 "State Field Not Appearing on Initial Rendering of the Expense Form"
**Describe the bug**

This was initially reported at, https://opencollective.freshdesk.com/a/tickets/40146. The problem is that the state field within the `Recipient's Address` section is not displayed and once the user progress in the expense flow, when submitting the expense an error is thrown indicating the `state` is missing.

There might be more than one way to reproduce this one but here's o

[2021-10-17 08:41] ersachin3112 commented on #2817
@jeffin143 are you still working on this?

if not , I will take this bounty.

[2021-10-17 22:49] alanna commented on #4836
I've heard back from a few users and so far they all prefer archived projects are always hidden from non-admins. This also seems like a simpler solution to implement since we don't need a setting for it.

To me it really makes sense because if for some reason someone wants to deactivate a project without it disappearing, they can simply remove all contribution tiers and leave it un-archived.

[2021-10-18 08:12] Betree commented on #4552
This one looks quite bad. Let's make sure we look at it once https://github.com/opencollective/opencollective/issues/4819 gets merged.

![image](https://user-images.githubusercontent.com/1556356/137693318-ac1d7c62-77dc-4a5e-804a-a5d95a59bc51.png)

[2021-10-18 08:33] alanna opened #4839 "Collective name different in bank transfer instructions on screen vs email"
**To Reproduce**
Steps to reproduce the behavior:
1. Contribute to https://opencollective.com/equitable-access-to-medicines via bank transfer
2. See these instructions on screen:

<img width="410" alt="Screen Shot 2021-10-18 at 9 21 57 PM" src="https://user-images.githubusercontent.com/5498878/137696535-0d6549c8-44e7-41fb-9f9d-9b52ec35bd24.png">

3. Receive email instructions with different Collec

[2021-10-18 09:44] Betree commented on #4238
I would love to see a CSS-first solution here that wouldn't rely on sanitizing the content. Something like:

[code]

[code]

[2021-10-18 12:10] Betree opened #4840 "Expense "Reset form" button not available at Payee step"
Followup on https://github.com/opencollective/opencollective/issues/4625

Users should be able to reset the form at any stage

![image](https://user-images.githubusercontent.com/1556356/137727476-09084e6f-8c29-4369-b13c-4e9302aa07a4.png)

[2021-10-18 13:22] Betree commented on #4759
@kaylarep That sounds like a simple & useful change. @opencollective/design any concert with that approach?

[2021-10-18 20:13] dungphun commented on #4670
Uu

[2021-10-19 03:59] alanna commented on #4496
This issue is back. I just went and downloaded a bunch of receipts to upload to Protozoa's accounting software, and they all have Protozoa listed as both the purchaser and vendor. These receipts are not valid for accounting purposes and would not be acceptable evidence for the tax agency. Our GST returns are due soon so I need to upload valid receipts ASAP.

[manyverse_2021-10-19_374fe777-42a4-4e8

[2021-10-19 03:59] alanna commented on #4496
@Betree can you have a look at this?

[2021-10-19 06:59] Betree opened #4841 "Root admins to differenciate "Trusted hosts""
## User story
As a platform admin, I need:
- To make sure that some sensitive features are only enabled for the hosts we trust (e.g. https://github.com/opencollective/opencollective/issues/4564, https://github.com/opencollective/opencollective/issues/1445)
- To get accurate stats about the activity on the platform (i.e. spammers and testers should not get mixed up with legit hosts)

## MVP
On the

[2021-10-19 07:21] Betree commented on #3241
This issue and the fact that we say both "Part of" + "Fiscal host" was supposed to be fixed in https://github.com/opencollective/opencollective-frontend/pull/6678, but there's something wrong in the code. I'll push a fix

[2021-10-19 09:13] Betree opened #4842 "Legacy bank account payout methods stored without addresses"
It seems that we've enforced bank account addresses at some point (with Transferwise), which makes sense. However, we did not migrate existing entries and ended up with **many** bank accounts stored without addresses.

As a result, users end up with a broken form since we don't support editing payout methods. They, therefore, need to create a new one.

[code]

We should:
- Try to fix invalid entri

[2021-10-19 09:14] Betree opened #4843 "Expense form stuck because of a validation on previous step"
**Describe the bug**
Root cause for https://opencollective.freshdesk.com/a/tickets/40444
The payout method data for bank accounts are loaded asynchronously. If you pick an incomplete bank account and click next, the validation will be triggered later and will prevent you to go further, with no error message explaining what went wrong. This issue is linked to https://github.com/opencollective/openc

[2021-10-19 09:22] #4819 closed

[2021-10-19 11:48] Betree commented on #2817
:trophy: This issue has been completed by @ersachin3112

To claim the bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2021-10-19 12:55] #4835 closed, assigned to SudharakaP

[2021-10-19 14:27] #4593 closed, assigned to SudharakaP

[2021-10-19 16:46] abitrolly commented on #4790
Got this reply from Phyllis 4 days ago.

[2021-10-19 17:32] abitrolly commented on #4702
I'm trying to understand various fees. Can we draw a diagram?

Which one is closer to reality.
[code]
^ Giver pays transfer fee 1 (is there any?) and the full sum goes to collective, then collective pays service fee 2 to host, and then host pays 3 to the platform?

[code]
^ Giver pays no transfer fees, directly donates to collective, but pays service fee 2 to host, host pays 3 to platform.

[2021-10-19 17:50] abitrolly commented on #1073
@Betree can it be reticketed into a separate `Payment Processor Fee Tracker? I haven't found any database diagram in documentation, and also I am not a JS developer, so getting to the first PR will take a long route, and this issue doesn't looks like a place to add too much internal code details.

[2021-10-19 19:50] alinamanko opened #4844 "Giving host admin the option to add money to a fund's balance"
I am coming across this situation more and more recently. We get a transfer of funds for funds/organization and as the process of adding funds to their budget has changed, host admin has no option now to allocate this transfer directly to the fund or organization without reliance on the wider team. This leads to some instances where it takes a lot longer for the budget to be updated and delays the

[2021-10-20 00:23] alanna opened #4845 "fiscalHosting.serviceOffered.description pointing to wrong ID"
I was reviewing https://opencollective.com/fiscal-hosting and noticed the copy for `legal structure` is repeated under `services offered`.

<img width="875" alt="Screen Shot 2021-10-20 at 1 10 08 PM" src="https://user-images.githubusercontent.com/5498878/138007429-946fb1ea-b600-4ddf-851f-00b3d52307e4.png">

I went to update the copy in `FindTheRightFiscalHostSection.js`. I found that `fiscalHostin

[2021-10-20 00:54] alanna opened #4846 "docs.opencollective.foundation SSL issue"
Trying to load https://docs.opencollective.foundation

![Screen Shot 2021-10-20 at 1 41 35 PM](https://user-images.githubusercontent.com/5498878/138010093-29acfb2c-e633-40d6-a5ab-c3ab740490f5.png)

Multiple people having this problem and trying different browsers isn't working.

Can access https://opencollective.foundation website.
Can access the raw gitbook itself.
Can't access via https://docs.o

[2021-10-20 04:09] Memo-Es opened #4847 "Platform Pop-overs update"
We are bringing together the different pop-ups we have in the platform:
* Dropdown menu and non-dialog modal
   * Collective picker
   * Multiselect
* Date picker

![❖ Pop-overs](https://user-images.githubusercontent.com/49539954/138026821-8b43dbd6-3f76-4697-bd97-a67c94d4324d.png)

[Design reference in figma
](https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/[DS]-03-Global-Components?node-id=0%3A

[2021-10-20 09:28] BenJam commented on #4844
I see that @znarf set things up a little differently with a [prepaid](https://opencollective.slack.com/archives/GFH4N961L/p1631862767024300?thread_ts=1631849319.024200&cid=GFH4N961L) method. IF we have talked to them about using a Fund then the route above would be the route to go in my opinion.

[2021-10-20 09:48] Betree commented on #4570
@alanna The fix is now in production, could you try again and let me know how it goes?

[2021-10-20 10:04] Betree opened #4848 "Root admins action to ban/unban accounts"
## User story
We have 2 frequent requests on support:
1. To ban accounts (usually spammers)
2. To un-ban them (false positive that got banned then fail to login)

These requests currently have to be handled by engineers. I would like us to empower the rest of the support team for them to be able to handle these actions.

## Best solution for this problem

On https://opencollective.com/opencollecti

[2021-10-20 12:13] yaxu opened #4849 "Can't get 'submit expense' button to appear"
URL: https://opencollective.com/tidalcycles
Logged in as (username or profile URL): https://opencollective.com/yaxu
Error message if any: n/a
Expected result: Seeing a 'submit expense' button on the homepage, so that my would-be fiscal host can review my expense policy before approving my application.
Browser: chrome

![Screenshot_2021-10-20_13-12-14](https://user-images.githubusercontent.com/2794

[2021-10-20 14:34] #4849 closed, assigned to SudharakaP

[2021-10-20 19:24] alinamanko commented on #4844
Thanks @BenJam - I am getting lost on these instructions though. I am set up as the collective admin for BuySellAds but I can't find that 'prepaid budget' section anywhere - not on the collective settings nor the host settings. What am I missing here? I am feeling so lost here :(

[2021-10-21 04:13] alanna opened #4850 "Unable to submit expense due to invalid account name validation"
It won't let me submit an expense due to this error, but this is the correct and official name on the account.

![Screenshot_20211021-171032.png](https://user-images.githubusercontent.com/5498878/138210370-5fb6dc9a-f9ff-4389-ab5d-681f6700aabb.png)

[2021-10-21 05:52] SudharakaP opened #4852 "Internationalization: Message Declaration Should be Inline"
This is related to the discussion at, https://github.com/opencollective/opencollective-frontend/pull/7017#discussion_r730639021 and my comments there.

Currently when declaring messages for internationalization; using FormatJS we use several formats. Specifically in some components we pre-declare the messages with `defineMessage` and `defineMessages`. For example look at, `components/contribute-ca

[2021-10-21 07:28] Betree commented on #4846
It's resolvedm @SudharakaP updated the DNS and Gitbook renewed our certificate.

[2021-10-21 07:28] #4846 closed

[2021-10-21 07:42] Betree opened #4853 "Enable tier types for projects"
In an effort to simplify the forms for projects, users can't customize the tiers types. This is a problem for enabling VAT, as this information is used to know whether we should charge for it.

See https://opencollective.freshdesk.com/a/tickets/41049

Ping @znarf

[2021-10-21 08:49] BenJam opened #4854 "Export CSV link for events does not contain a link"
**Describe the bug**
The Export CSV button events pages does not appear to contain a URL.

I am seeing this (as an admin) on https://opencollective.com/opensource/events/open-source-collective-community-call-oct-21-41f9581b

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. Register an attenddee
3. View attendees (as an administrator)
4. Click 'Export CSV'

**Expected behavio

[2021-10-21 09:11] BenJam opened #4855 "Show "Export" section in events admin"
**Describe the bug**
Admin panel does not contain link to export page eg. https://opencollective.com/opensource/events/open-source-collective-community-call-oct-21-41f9581b/admin/export

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. Click settings on the event's profile page
3. ...

**Expected behavior**
it should be possible to navigate to the export page.

**Screenshots

[2021-10-21 09:23] BenJam commented on #4844
FYI (for anyone following along at home) I have marked the pending transfer as paid, so that should have been added to their balance.

[2021-10-21 09:43] #4853 closed

[2021-10-21 12:42] SudharakaP commented on #4852
Yes good catch; I've updated the issue to include that too. We should not use both of these; `defineMessage` as well as `defineMessages`. I am thinking thinking probably need to have a small RFC because otherwise how will future devs know that they shouldn't use `defineMessage` and `defineMessages`? 🤔 Although that place in docs say it's not recommended; other places do not say it for example; htt

[2021-10-21 14:23] Betree opened #4857 "Internationalize form to add a virtual card"
The form inputs for adding a virtual card are not internationalized. See `components/edit-collective/AssignVirtualCardModal.js` + https://docs.opencollective.com/help/contributing/development/translations.

[2021-10-21 23:13] U8NWXD opened #4858 "Submitted HelloWorks Forms Exposed to Email Providers"
## Who is your user?

Users who need to submit tax forms.

## What are they trying to achieve?

When submitting a tax form, the user wants their social security number (SSN) in the form to be kept private to protect against identity theft. Only the collective's admins should have access to the SSN.

In particular, the SSN should not be transmitted over email since doing so exposes the SSN to the u

[2021-10-22 01:05] alanna commented on #2734
We have someone in NZ who wants to launch a large-scale campaign on OC but really needs this recurring bank transfer function.

@Betree @BenJam or whoever might be able to, can you look at my description in the comment above ^ and let me know if this would be as easy to implement as I think? And if so, would it be at all feasible to do in the short term? They want to launch in a week and I said th

[2021-10-22 02:38] U8NWXD commented on #4858
@SudharakaP just to clarify, the email containing the user's SSN comes from HelloWorks. To encrypt an email with OpenPGP, the sender has to encrypt it with the recipient's public key, so to solve this problem with OpenPGP, I think HelloWorks would need to support sending OpenPGP-encrypted emails. Does HelloWorks support this?

From a [HelloWorks support article](https://faq.hellosign.com/hc/en-us/

[2021-10-22 10:00] BenJam opened #4859 "Make a clearer distinction between balance and years budget goals"
## Problem

Neither the app nor [the docs](https://docs.opencollective.com/help/collectives/collective-settings/tiers-goals) make it clear what the difference between 'balance' and 'yearly budget' goals are:

![Screenshot 2021-10-22 at 10 55 27](https://user-images.githubusercontent.com/158833/138434625-1438c3a7-a479-4b4b-bd1d-ef09a33e596f.png)

Part of the problem here is that we always show both

[2021-10-22 11:23] Betree opened #4860 "Use `typePolicies` instead of `updateQuery` for pagination"
In all places where we use `fetchMore`, we also provide an `updateQuery` function to merge the results. While this works, there is a cleaner way to achieve that, that Apollo recommends: adding a [field policy](https://www.apollographql.com/docs/react/pagination/core-api/#merging-paginated-results) through `typePolicies`.

The main advantages are:
- No code duplication: define the field policy one

[2021-10-22 17:55] SudharakaP opened #4861 "Unable To Delete Collective"
This is with related to the thread; https://opencollective.slack.com/archives/C1974QBNK/p1634913973001900. It seems that there's a bug with deleting collectives even though the collective has no host attached.

The user sees that the collective has no host.

![image](https://user-images.githubusercontent.com/12435965/138501160-792881f4-fcc1-49ae-8cba-ba4ef7363853.png)

But they are still unable to

[2021-10-25 12:42] Betree opened #4863 "Migrate all edit and host dashboard URLs to /admin"
Followup on https://github.com/opencollective/opencollective/issues/3880

With this new merged dashboard in place, we want to migrate all edit URLs (e.g. `/betree/edit/payment-methods`) and host dashboard URLs (e.g. `/myhost/dashboard/expenses`) to the new admin URL. We'll keep the legacy compatibility for a while because there are many places that need to be updated (some probably out of our cont

[2021-10-25 15:09] BenJam opened #4864 "TZ does not take into account event date"
**Describe the bug**
I would like to schedule this event for 5pm GMT: https://opencollective.com/open-source-collective-community-call-nov-21-87598fa3. I scheduled the event without setting a timezone. When I receive a confirmation the email reads:

Which is wrong. So I go back into the event and I select the right timezone:

![Screenshot 2021-10-25 at 16 05 37](https://user-images.githubuserconte

[2021-10-25 15:15] BenJam opened #4865 "Event datetime picker problems"
**Describe the bug**
Interactions with the event datetime picker are _incredibly_ weird. So weird that I had to take notes to use it:

https://www.loom.com/share/15fe54ec5ff04d9886a0f3ab3f12a94b

as far as I can tell

- I can select a date okay
- the up arrows for hour are incredibly sensitive (skipping two or more hours)
- If I try to press the down arrow it resets
- if I try to edit the time as

[2021-10-25 15:35] #4861 closed, assigned to SudharakaP

[2021-10-25 20:06] #4852 closed, assigned to nobody

[2021-10-25 21:13] Forster-Groux opened #4866 "Remove getHostCollectiveId on Collective"
## Overview
Refactor and reevaluate use of `getHostCollectiveId` on Collective. The goal is to use `collective.hostCollectiveId` everywhere.

- We have to make sure `hostCollectiveId` is set in each case that still use `collective.getHostCollectiveId`.
- Make sure to check for `collective.getHostCollectiveId` and `collective.prototype.getHostCollectiveId`

[2021-10-26 02:14] alanna opened #4867 ""Join a Fiscal Host" not "My Own Fiscal Host""
![Screen Shot 2021-10-26 at 3 12 56 PM](https://user-images.githubusercontent.com/5498878/138797079-faaa5922-b086-451b-ad54-6c0bc50bef2f.png)

This button should say "Join a Fiscal Host". For some reason I wasn't able to find this is in the code so I couldn't submit a pull request.

[2021-10-26 07:00] Betree opened #4868 "New admin panel: don't use submenu for simple organizations"
In the new admin panel for organizations, we show an `Organization settings` submenu, but it makes no sense since there's nothing else to show there. We should display the entire menu directly.

![image](https://user-images.githubusercontent.com/1556356/138824888-7f2a7bf9-0da6-450d-8e50-f449162a9a56.png)

[2021-10-26 07:03] Betree opened #4869 "New admin panel: missing "Activate as a host""
**Describe the bug**
In the new admin panel for organizations, we're missing a path to turn an organization into a host.

Previously:
![image](https://user-images.githubusercontent.com/1556356/138825267-c91f81bd-03a3-4762-bd02-d11d492a5aab.png)

Now:
![image](https://user-images.githubusercontent.com/1556356/138825331-13be369d-083f-4565-b1af-e697e24dd3f5.png)

We should bring back the "Fiscal host

[2021-10-26 08:35] #4845 closed, assigned to SudharakaP

[2021-10-26 09:01] #4868 closed, assigned to nobody

[2021-10-26 09:01] #4869 closed, assigned to nobody

[2021-10-26 10:38] alanna opened #4870 "Receipts can be invalid if isssuing profile does not set their address"
## Who is your user?
A financial contributor

## What are they trying to achieve?
They need a valid receipt for accounting purposes.

## How are they currently doing this?
They get a receipt via email or download it from transaction details, but if the issuing profile (host or independent collective) has not set their address, that area is blank on the receipt. So right now people are making do wi

[2021-10-26 18:22] #4867 closed, assigned to nobody

[2021-10-26 22:55] alanna opened #4871 "Expense not found"
Go to https://opencollective.com/happenfilms/expenses

You will see one rejected expense (which the admin wants to delete).

<img width="821" alt="Screen Shot 2021-10-27 at 11 53 57 AM" src="https://user-images.githubusercontent.com/5498878/138972407-af169515-c508-4d65-ac31-adad631c8167.png">

If you click on it:

<img width="343" alt="Screen Shot 2021-10-27 at 11 54 32 AM" src="https://user-image

[2021-10-26 22:57] alanna opened #4872 "Do not collapse About section"
This does not look good:

<img width="1234" alt="Screen Shot 2021-10-27 at 11 55 55 AM" src="https://user-images.githubusercontent.com/5498878/138972655-8905f9c0-aae3-447a-a86a-693d4cb0e355.png">

(from https://opencollective.com/happenfilms)

If a Collective puts info in their About section it means they want it displayed on their page. We should not hide it.

[2021-10-27 01:59] alanna opened #4873 "Don't show full tax form banner to non-payee"
Yuri reports:

In this example, Yuri is the Collective admin and expense inviter and Hatel is the invited payee. Only Hatel needs to fill out the form, but Yuri sees the banner and gets confused.

![SM77EjDX-ER5nYoxXBlP-ASE7QpxlPg1hw](https://user-images.githubusercontent.com/5498878/138986860-5d356c6d-47e1-41dd-987d-fdbbcc045657.png)

We have got feedback from Collective admins that's it's very u

[2021-10-27 03:39] Memo-Es opened #4874 "Expense flow updates"
## Design update

We are updating the expense flow based on feedback from different channels, the support metrics, and a couple of pending issues from the last time we updated the expense flow.

**Mainly, we are updating these aspects:**
- [ ] [Layout improvements, better use of the columns from our grid system, and alignment with the navbars](https://github.com/opencollective/opencollective/issue

[2021-10-27 06:37] #4872 closed, assigned to SudharakaP

[2021-10-27 06:39] SudharakaP opened #4875 "Add Support to Dynamically Set Max Collapsed Height in `HTMLContent`"
This is with related to https://github.com/opencollective/opencollective-frontend/pull/7052#discussion_r737146513.

We need to be able to set the maximum collapsed height of the `HTMLContent` based on a prop (say `maxCollapsedHeight`) so that when the `HTMLContent` component is used, depending on the situation the maximum height could be changed.

[2021-10-27 20:27] alanna opened #4876 "Automatically update guest slugs when they confirm their accounts"
This profile: https://opencollective.com/guest-5d9e6786

Is admin of this Host: https://opencollective.com/solidarity-with-student-workers-of-columbia

Guest accounts should not be able to be admins.

[2021-10-28 05:30] alanna opened #4877 "Unable to invite expense - next disabled with no error"
I'm trying to invite someone to submit an expense. I've filled out all the info I have, but the `next` button is disabled. There's no error and I can't proceed.

![Screen Shot 2021-10-28 at 1 15 50 PM](https://user-images.githubusercontent.com/5498878/139192776-5d086c1a-988a-4baf-9abe-81dc248ce1e1.png)

[2021-10-28 05:56] abitrolly opened #4878 "Payment Processor Fee Tracker"
## User story
_As person donating, I can see the payment processor fees upfront so that I can know exactly who and how much is paying them_

_As maintainer, I can see the payment processor fees so that I can zero out the balance in order to deactivate or switch costs (https://github.com/opencollective/opencollective/issues/1073#issuecomment-461179690)_

## Best solution for this problem

* [ ] For

[2021-10-28 12:40] #4871 closed, assigned to nobody

[2021-10-29 00:01] alanna opened #4879 "Host fee change not updating"
I need to change the host fee for OCNZ to 5.75% (for complicated tax reasons). I change the fee setting and save, but then it doesn't stick.

https://www.loom.com/share/065459da085047158656b8296a86f17a

[2021-10-29 05:32] mkurz opened #4880 "Provide a domain name service"
Hi!

We are thinking about to move an Open Source project to Open Collective.
Right now the domain the project is running at is registered and therefore owned by a company. That company however wants to hand over the OSS project to the community.
I am now looking for a way to transfer the domain to something like a 3rd party trustee which then should own the domain, which is trustworthy and reliab

[2021-10-29 09:22] alanna opened #4881 "Org creation notification not picking up org details"
I added funds and in the process created this org: https://opencollective.com/chan-zuckerberg-initiative

I got cc'd into the admin notification:

<img width="779" alt="Screen Shot 2021-10-29 at 10 20 11 PM" src="https://user-images.githubusercontent.com/5498878/139410576-bb76a3d5-6baa-4670-a5ca-f8b06a49cace.png">

Even though I added the org's website and the system grabbed its logo avatar, neith

[2021-10-29 10:46] #4879 closed, assigned to Betree

[2021-10-29 14:13] Betree opened #4882 "Ask 2FA when deleting an account"
Deleting an account can be considered a sensitive operation, and as such it should be protected behind 2FA.

[2021-10-29 14:21] #4875 closed, assigned to SudharakaP

[2021-10-30 04:38] SudharakaP commented on #4877
So just to give an update, I've discussed this with @alanna  and indeed the problem was the email was not valid and my solution above fixes that problem in the sense that below the email input box we show and error when it's not valid so that the user knows. 😉

cc: @znarf

[2021-10-30 07:53] alanna commented on #4069
@Betree could this be added to root admin? Like we enter the pending order reference code and can then edit the amount?

[2021-10-30 08:09] alanna opened #4883 "Do not allow bank transfer to be active with no bank details set"
I'm not sure how, but [this Independent Collective](https://opencollective.com/else) activated bank transfer payment method without setting the bank details and instructions. This shouldn't be allowed because it means a contributor gets through the whole process and then isn't given sufficient info to make a payment, like this:
<img width="416" alt="Screen Shot 2021-10-30 at 8 56 13 PM" src="https

[2021-10-30 08:25] alanna opened #4884 "Make replies to expense invitations go to the inviter not OC support"
We get emails to support where someone is replying to an expense invitation. It's nearly always something for the inviter, so I think replies should go to them instead.

[2021-10-30 08:39] alanna opened #4885 "Search should allow for different punctuation"
This search failed because of apostrophe placement. Can we make our search a little more forgiving?

<img width="1124" alt="Screen Shot 2021-10-30 at 9 35 47 PM" src="https://user-images.githubusercontent.com/5498878/139526252-23165a49-1807-4946-afbf-4f5d2da33735.png">

<img width="930" alt="Screen Shot 2021-10-30 at 9 36 00 PM" src="https://user-images.githubusercontent.com/5498878/139526254-c91a

[2021-10-31 06:04] SudharakaP commented on #4854
@BenJam : I tried to recreated this in my local and production but seems it's working. For example try at https://opencollective.com/opensource/events/open-source-collective-community-call-nov-21-87598fa3

![export-csv](https://user-images.githubusercontent.com/12435965/139570243-66bc2687-62d7-4fbb-8f77-d79824d1997b.gif)

But let me know if you see this issue again and I'll investigate more. 🤔

[2021-10-31 06:07] SudharakaP commented on #4885
@Betree : My thinking is that we should compare the search string without punctuation using `localCompare` just like we do here;

https://github.com/opencollective/opencollective-api/blob/fa6ae5ddafbeef545f407dadd6e6d75cdb1853a6/server/graphql/common/expenses.ts#L741-L763

Let me know if you are okay with this and I'll open a PR.

[2021-10-31 23:00] alanna opened #4886 "Transparency of fees for expense payouts"
Currently, we don't show payment processor fees on expenses anywhere (e.g. PayPal and Wise fees). We should reveal them in the transaction details and/or in the expense updates once paid.

## Who is your user?
Expense payees, Collective admins, and Host admins

## What are they trying to achieve?
Transparently see fees associated with expense payouts.

## How are they currently doing this?
There i

[2021-11-01 01:17] alanna opened #4887 "Tag list underlapping box element on expense list"
![Screen Shot 2021-11-01 at 2 14 54 PM](https://user-images.githubusercontent.com/5498878/139608741-abeeaf73-390c-438c-b540-f7420310763b.png)

You can't scroll down to select a tag because it's hidden under the container box.

To reproduce, click "add tags" on an expense at the end of an expenses list, on a Collective with a long list of tags (e.g. OCF's host budget).

[2021-11-01 01:41] alanna commented on #4754
Great! I'll make a pull request to update the content.

[2021-11-01 02:21] alanna opened #4888 "Heading format change not sticking in About section"
https://www.loom.com/share/ee8b57edaa784d18b591ec0378031b5d

**Describe the bug**
If you change a heading to regular text, or the reverse, and save the About section text, when you reload your changes often are not saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit an About section
2. Change a heading
3. Save
4. Reload

**Expected behavior**
The heading formatting should stay as the

[2021-11-01 03:43] alanna opened #4889 "Ask for display name instead of full name on the signup form"
A user points out:

This is right. We should be careful about how we design the signup for to fit with the new legal/display name distinction.

[2021-11-01 11:42] aminakazi commented on #4646
There is a UI bug for this. On hover of the dismiss button, the bounding circle is elongated vertically and loses its shape.

<img width="336" alt="Toast UI" src="https://user-images.githubusercontent.com/48468919/139666204-ac71fe0b-8a78-4338-8aed-504da29c1db2.png">

[2021-11-01 13:39] #4877 closed

[2021-11-01 14:39] jfdh commented on #4809
At the moment I do not need to make a priority of this. At some point it would be nice to include an API such as [this one](https://vatlayer.com/) in the expense form that would validate VAT numbers

[2021-11-01 14:56] jfdh commented on #4809
Same with IBAN when selecting 'New bank account'. Would be awesome to have an API chekcing if the IBAN is valid or not/

[2021-11-01 15:38] znarf opened #4890 "No index on ExpenseId in Transactions table"
Not sure why we don't have it yet (no useful in current scenarios) but seems needed.

[2021-11-01 15:46] znarf opened #4891 "No payout details stored with PayPal adaptive strategy"
The Transaction data field is empty, and can't be used to extract the Merchant ID from there.

[2021-11-01 19:40] BenJam commented on #4880
👋 exec director of Open Source Collective here. If a Collective that we host needs us to take ownership of a domain I think we should be able to do that.

[2021-11-01 22:51] alanna commented on #4298
@Betree can you advise on @SudharakaP's question? OCF is waiting for this feature to announce a new policy so it would be good to understand the expected timeframe.

[2021-11-02 01:47] alanna opened #4892 "Bank account details not displayed on screen"
**Describe the bug**
When making a bank transfer contribution, it's not displaying the account info on the success page. It's working fine in emails.

![Screen Shot 2021-11-02 at 2 43 08 PM](https://user-images.githubusercontent.com/5498878/139773380-1c55c644-c9ad-4c57-84ab-f31427cc6d42.png)

![Screen Shot 2021-11-02 at 2 43 30 PM](https://user-images.githubusercontent.com/5498878/139773388-20dff0

[2021-11-02 04:12] alanna opened #4893 "Invite contribution"
## User story
As a Collective or Host admin, I want to invite a contribution, to make it as easy as possible on the contributor

## Best solution for this problem
An 'invite contribution' flow that generates an email to the invitee, similar to the 'invite expense' process but in the other direction.

The email should contain a payable invoice (as in #4497 but instigated by the inviter).

The contr

[2021-11-02 04:15] alanna opened #4894 "Attach Agreements to Collectives"
## User story
As an admin I want to associate documents and notes with a particular Collective, so that I can keep everything together in the system. Examples are grant contracts, contracts for services, grant reporting obligations, etc.

## Best solution for this problem
* An 'info' section under `about`
* It can be set to be visible publicly or not, but it's always visible to Collective and Host

[2021-11-02 07:08] Betree commented on #4069
@alanna I think we should directly add this for all host admins. Adding that to the root admin instead wouldn't simplify that much, because there are no complex security checks here: we can always trust host admins to know what arrived in their bank account.

A small input from @opencollective/design on this one would be welcome :wink:

[2021-11-02 07:17] Betree commented on #4885
@SudharakaP The search is handled with an SQL query: https://github.com/opencollective/opencollective-api/blob/5bc4696327e14c19821da3dc437e4a27cc1f3a0a/server/lib/search.js#L86, JS functions won't help us here. We normally vectorize the term, but somehow it's not enough to prevent this problem.

There is a larger project to be done on improving the search functionality (by improving the queries, h

[2021-11-02 07:18] Betree commented on #4886
Duplicate of https://github.com/opencollective/opencollective/issues/4691

[2021-11-02 07:20] Betree commented on #4887
We'll probably need to use a react portal to solve this issue

[2021-11-02 07:22] Betree commented on #4754
@alanna If I merge this we will start sending the email right away. Is this what we want? If we prefer to update the copy first, feel free to post the content here as a comment (formatting is ok) and I'll update the template.

[2021-11-02 07:23] Betree commented on #4888
Looks like a caching issue (the content displayed is not the latest edited version)

[2021-11-02 08:05] alanna commented on #4754
OK I will create the content tomorrow and post it here.

[2021-11-02 11:09] Betree commented on #4890
Would be great to also add one on `kind` since we use it more and more

[2021-11-02 11:14] Betree commented on #4890
And while we're at it, [this query](https://github.com/opencollective/opencollective-api/blob/1579c4f9d079007f540681e78f48d89b8fd8ff5e/server/graphql/loaders/index.js#L347) appears to be quite expensive in production. We could easily optimize it by adding an index on `Order.TierId`.

@znarf I think having a single migration to create all these indexes would be great, but LMK if you prefer me to mo

[2021-11-02 12:50] Betree opened #4895 "Contribution flow: new payment method select"
Part of https://github.com/opencollective/opencollective/issues/4299
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13575%3A211640

![image](https://user-images.githubusercontent.com/1556356/139849828-8f0cc0e5-e534-4107-a1ca-8c60b0d482a2.png)

[2021-11-02 12:51] Betree commented on #4895
@Memo-Es From this design, it's unclear how to switch back to another payment method after selecting one. Like if you pick "Credit card", how do you select "PayPal" if you change your mind?

[2021-11-02 12:54] Betree commented on #4299
@Memo-Es From the design above, is my understanding correct that we're getting rid of the steps in the contribution flow to instead offer a single, one-page form? Do we have a design that includes the summary step (used for taxes) like in https://staging.opencollective.com/captainfact_io/contribute/tshirt-10355/checkout/summary?

[2021-11-02 12:55] Betree opened #4896 "Contribution flow: new success card"
Part of #4299
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13575%3A211640

![image](https://user-images.githubusercontent.com/1556356/139850662-82a36d18-6c36-4c6e-892b-6eb3d17c28e4.png)

[2021-11-02 13:01] Betree commented on #4692
We've recently discussed the fact that this issue should be prioritized as soon as possible. The more we wait to implement it, the more work we'll have next year when the time will come to collect contributors' addresses.

The design have been shared in https://github.com/opencollective/opencollective/issues/4692#issuecomment-921973945, so there should be everything needed from the engineering per

[2021-11-02 13:04] Betree opened #4897 "Contribution flow: new tip picker"
Part of #4299
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13575%3A211640

We should create a dedicated `ContributionTipPicker` component (feel free to find a better name) and add a corresponding example in our styleguide.

![image](https://user-images.githubusercontent.com/1556356/139851887-8ba4115e-d6f5-4b0b-91e1-284970f10f06.png)

[2021-11-02 13:06] Betree commented on #4897
Ping @opencollective/core, as I'm not sure whether everyone had the time to look at this.

I'm personally not a fan of having one input above and another one below, I feel like it creates unnecessary complexity.

Also, @Memo-Es, is there a modal or something when you check `I don't want to contribute to Open Collective`? We should carefully check the impact of such change on our metrics.

[2021-11-02 13:08] Betree opened #4898 "Contribution flow: add a link to the account page as a CTA"
Part of #4299
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13575%3A211640

We should activate this new CTA as the primary one for all accounts (except in embeds).

![image](https://user-images.githubusercontent.com/1556356/139852571-4ade770d-c55e-40a9-851d-7d0cd4e2fbd1.png)

[2021-11-02 13:10] Betree commented on #4299
Also @Memo-Es, can you confirm that this background on the success page is to be removed entirely?

[2021-11-02 13:12] #3855 closed

[2021-11-02 13:15] Betree commented on #4299
The work for this issue is now separated into these smaller issues:
- https://github.com/opencollective/opencollective/issues/4692
- https://github.com/opencollective/opencollective/issues/4895
- https://github.com/opencollective/opencollective/issues/4896
- https://github.com/opencollective/opencollective/issues/4897
- https://github.com/opencollective/opencollective/issues/4898

Waiting for the

[2021-11-02 13:25] Betree opened #4899 "Multi-selects design update"
Part of https://github.com/opencollective/opencollective/issues/4847
See design https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/%5BDS%5D-03-Global-Components?node-id=0%3A1716

We want to update the multi (`isMulti=true`) version of our `StyledSelect`, including the `CollectivePicker`. We'll do so by:
- [ ] Introducing checkboxes at the left of each item
- [ ] Only apply the selection changes whe

[2021-11-02 13:27] Betree opened #4900 "Update date picker to latest design"
Part of #4847
See design https://www.figma.com/file/9Iq3vBOmZ2EuOacXEYD5yK/%5BDS%5D-03-Global-Components?node-id=0%3A1716

We want to slightly update our date picker to match the latest design.

- [ ] Update fields order
- [ ] Update label font styles

![image](https://user-images.githubusercontent.com/1556356/139855804-9bc2a0d9-1d4a-480c-9feb-87d90a534267.png)

[2021-11-02 13:28] Betree commented on #4847
Separated this issue into two smaller ones:
- https://github.com/opencollective/opencollective/issues/4899
- https://github.com/opencollective/opencollective/issues/4900

[2021-11-02 13:28] #4847 closed

[2021-11-02 13:48] #4480 closed

[2021-11-02 14:12] Memo-Es commented on #4692
@Betree let me know if you need anything on our side as you move forward 👍🏼

[2021-11-02 14:15] Memo-Es commented on #4069
@Betree, I'm thinking of including this for the next sprint. Is that ok? Or is it more pressing?

[2021-11-02 14:17] Betree commented on #4069
@Memo-Es IMO it's not an emergency as we can handle most cases through support, but I'll let @alanna confirm.

[2021-11-02 14:27] #4552 closed

[2021-11-02 14:29] Betree commented on #4890
Also things that could be interesting to index on Orders:
- `FromCollectiveId`
- `CollectiveId`
- `status`

[2021-11-02 15:38] #4890 closed

[2021-11-02 19:40] alanna commented on #4069
If we don't do this, engineering needs to do this manually and we're making people wait longer for their money. So it's not a blocker it's just a pain.

[2021-11-02 21:03] Memo-Es opened #4901 "Admin Dashboard Layout Fix"
A small layout improvement for the new admin dashboard:

| Production: 16 px | Design: 56 px |
|--------|--------|
| ![IMG](https://user-images.githubusercontent.com/49539954/139950667-40c62d73-69ab-42de-8f26-5d6d88427b3b.png) |  ![IMG_20211102_144901](https://user-images.githubusercontent.com/49539954/139950660-c3b59c5a-caed-4cfa-9a1a-c1117246e52d.jpeg)  |

@Betree

[2021-11-02 21:26] Memo-Es commented on #4897
@Betree Agreed with the vertical placement, I went ahead and fixed it:
<img width="1065" alt="Screen Shot on 2021-11-02 at 15-21-34" src="https://user-images.githubusercontent.com/49539954/139953826-41da7ac8-04d5-449c-aff3-e671a825a52f.png">

About the `I don't want to contribute to Open Collective` checkbox, we could even remove it, and let the user type 0 with the fields, adding also a small con

[2021-11-02 21:43] Memo-Es commented on #4895
@Betree You are right, I added this solution to the file:
<img width="754" alt="Screen Shot on 2021-11-02 at 15-40-04" src="https://user-images.githubusercontent.com/49539954/139955783-0e62ad08-eecc-4d63-bbd1-ea81c1a1b5b9.png">

[2021-11-02 22:08] alanna commented on #4449
This is still happening. I refreshed a few times but the balance is not updating.
![Screen Shot 2021-11-03 at 11 04 48 AM](https://user-images.githubusercontent.com/5498878/139958543-5e019ea4-d65d-4b02-aa59-b19de03d41d8.png)

[2021-11-02 22:37] SudharakaP opened #4902 "Reusing the Invite Link to an Expense Gives a Broken User Experience"
**Describe the bug**

This is with related to the following issue; https://opencollective.freshdesk.com/a/tickets/43036

I've managed to recreate this issue by re-using an the invite link.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expense with inviting someone to submit on your behalf.
2. Click on the invite link and complete the expense flow; now the expense should be in pen

[2021-11-02 22:42] alanna commented on #4773
It would be great to fix this. I keep running into it and it makes the page look confusing.

![Screen Shot 2021-11-03 at 11 42 14 AM](https://user-images.githubusercontent.com/5498878/139961806-54ba5e6e-8280-440c-bc91-32df7251535f.png)

[2021-11-03 00:35] Memo-Es commented on #4299
@Betree

Do you think we can integrate the [summary step](https://d.pr/i/Gs6sBo) you mention into the live summary featured on the check-out page?
![Annotation on 2021-11-02 at 18-32-55](https://user-images.githubusercontent.com/49539954/139969910-9a6b1362-b098-48f1-8d38-2984ce7f8c81.png)

You are correct to assume we're getting rid of the steps from the current flow for a single check-out page in

[2021-11-03 00:41] Memo-Es commented on #4299
Yes, I confirm. I know we all love the watercolor texture backgrounds everywhere but

1. We will most likely see it as the default tier card hero image:
<img width="1114" alt="Screen Shot on 2021-11-02 at 18-36-01" src="https://user-images.githubusercontent.com/49539954/139970247-282e7597-ba5b-400a-a08b-e8267851221a.png">

And 2. If the collective changed the hero image, it would be closer to 'the

[2021-11-03 00:59] alanna commented on #4872
@SudharakaP content is still weirdly cut off in expense items. Is this the same issue or should I raise a new one?
<img width="741" alt="Screen Shot 2021-11-03 at 1 59 16 PM" src="https://user-images.githubusercontent.com/5498878/139973874-9543f799-c92c-4fb6-b90a-608bb0a9ad88.png">

[2021-11-03 01:26] alanna commented on #4754
@Betree here is the content....

---------------

` Subject: Independent Collective Activated — Welcome!`

`{{> header}}`

`<p>Hi {{collective.name}} 👋</p>`

`<p>You've activated your Independent Collective and you're ready to start receiving contributions. That's great! Here are some useful tips to help you get started.</p>`

`<ul>`
`<li><a href="https://docs.opencollective.com/help/independent-c

[2021-11-03 04:24] SudharakaP opened #4903 "Content is Cutoff in Expense Items"
This is related to the comment https://github.com/opencollective/opencollective/issues/4872#issuecomment-958578164

It seems that after implementing https://github.com/opencollective/opencollective-frontend/pull/7016 for expense items which has only two lines we have our collapse text behavior which is undesirable. Ideally the second line should only be blurred if a third line exists. 🤔

<img widt

[2021-11-03 04:30] SudharakaP commented on #4872
@alanna : Thanks for pointing it out. I've opened an issue at https://github.com/opencollective/opencollective/issues/4903 and suggested a fix there. Will get this one out soon. 👍🏽

[2021-11-03 07:16] Betree commented on #4299
@Memo-Es It's tricky because there are form fields in there; mostly for people to type in the tax id number (VAT number). I'm afraid they could miss it if we move it two the right, especially since the right column is pretty much hidden on mobile

[2021-11-03 07:18] Betree commented on #4903
It's not only about blurring, we arguably don't need the "Read full description" in those cases. I would advocate simply changing the min-height to collapse to the double.

[2021-11-03 07:23] Betree commented on #4754
@alanna Done, here's how the email looks like. Lmk if that's all good for you and I'll ship it:

![image](https://user-images.githubusercontent.com/1556356/140021951-ac180bbc-7860-4cf2-bafd-f25f8cdba6d5.png)

[2021-11-03 07:53] Betree opened #4907 "Host admin reports > total money managed: unclear date filters"
When touching the date filter of the historical view for the "total money managed" section, it reloads everything, including the static data above.

Expected behavior: we should only refresh the historical view.

![image](https://user-images.githubusercontent.com/1556356/140024933-3de10e19-a443-4904-a388-69688df2a713.png)

[2021-11-03 07:55] Betree commented on #4907
Ping @Memo-Es, this one is an engineering issue but I think it surfaces a possible confusion between the two date pickers. We may want to keep an eye on the feedback for this one.

![image](https://user-images.githubusercontent.com/1556356/140025401-af15042d-1261-4396-9eeb-06e39d261b7b.png)

[2021-11-03 08:16] Betree commented on #4896
According to https://github.com/opencollective/opencollective/issues/4299#issuecomment-957547489, we also want to update the overall design: remove the page background, update the margins, etc.

[2021-11-03 08:23] Betree opened #4908 "Make the contribution flow a single-step process"
Part of #4299
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=13575%3A211640

In the latest design, the contribution flow is now a single-step process. In other words, the entire form lives on the same page and there's no more "Prev" / "Next" buttons, you just submit the form directly.

This will be an important change regarding the arch

[2021-11-03 08:25] Betree commented on #4908
@Memo-Es Regarding this one, I'm wondering what the approach for embeds should be. Having a page that grows vertically makes it difficult to embed and therefore the steps version currently works better. I wonder whether we should keep this existing flow for embeds, and implement the new flow only for contributions on the website.

[2021-11-03 10:16] alanna commented on #4754
Looks good!

[2021-11-03 10:22] #4754 closed

[2021-11-03 11:02] znarf opened #4909 "Mishandling of Bank details in Independent Collective onboarding"
To reproduce:

- Create a Collective
- Start Accepting Contributions
- Pick "Independent Collective"
- Add Bank Account details

Currently: look at the network request and observe that `CreatePayoutMethod` and `EditBankAccount` are targetting the authenticated user

Expected: `CreatePayoutMethod` and `EditBankAccount` should target the collective itself not the authenticated user.

[2021-11-03 13:55] SudharakaP commented on #4903
@Betree : Isn't that what was done in the [above PR](https://github.com/opencollective/opencollective-frontend/pull/7082)? So here we make sure only if there's a third line content is cut off. The content if cut off always at the second line, but previously we were not checking if it goes beyond the second line. So now if there's only two lines we don't show the "Read full description". 🤔

[2021-11-03 18:16] Piedone commented on #3626
Do you have a plan to tackle this in the near future?

[2021-11-03 20:02] Memo-Es commented on #4299
After doing some analysis today, we think this deserves further work, especially for mobile. So we are leaving it as a priority for next sprint

@Betree

[2021-11-03 21:52] alanna opened #4910 "🔥 changelog updates for host admins"
I want to send a 🔥 about the new admin panel, but it's not relevant to 99% of users, but it's highly relevant to host admins and I want to make sure they know about the changes. I wish we could do a 🔥 update that only went to host admins.

[2021-11-03 22:02] alinamanko opened #4911 "Support Metrics Report October 2021"
### Support Metrics Report October 2021

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![capture](https://user-images.githubusercontent.com/57156267/140198330-e48c56ab-a4fd-4c10-834f-8046aa55fc8c.png)

The number of tickets received increased by around 21% from 1,678 in September t

[2021-11-03 22:08] alanna opened #4912 "Total not showing on settlement expense"
https://opencollective.com/giftcollective/expenses/52037

<img width="757" alt="Screen Shot 2021-11-04 at 11 07 27 AM" src="https://user-images.githubusercontent.com/5498878/140200026-d5cb4426-51fc-4a4e-a116-2223f21e9213.png">

[2021-11-03 22:09] alanna opened #4913 "Don't show $0 items on settlement expense"
<img width="745" alt="Screen Shot 2021-11-04 at 11 07 27 AM" src="https://user-images.githubusercontent.com/5498878/140200138-12c1c930-e9de-4987-896c-0103db9f7e81.png">

I think it's a bit confusing and not needed to show platform tips as a line if there are no platform tips, or same with platform fees (shared revenue).

[2021-11-03 22:18] alanna commented on #4911
Thanks @alinamanko !

This month we will be working at documenting more ops/support info in our internal docs and we're continuing to onboard Ember and Nathan who are taking more tickets these days.

While we missed Alina very much, we were able to cope quite well in her absence and I think that shows the quality of the systems and processes she has put in place and the maturity of our team these

[2021-11-04 00:09] kaylarep commented on #4312
not sure if this is happening just on my computer, but when I have specific collectives selected to view, it cuts off their names:
![image](https://user-images.githubusercontent.com/64920686/140235854-3f34bab3-c399-415f-8cb1-89aa14db6dd7.png)

[2021-11-04 01:40] ncorder commented on #272
I'm glad to hear you all are focusing on free/libre software! : D

Would you be able to link to that issue here as well?

[2021-11-04 06:37] Betree commented on #3779
Another good reason to prioritize this: people don't know anything about Hello works and have not signed up for it. A phishing attack with this vector would therefore be easier.

[2021-11-04 06:56] Betree commented on #4910
Updates have a `notificationAudience` attribute. Maybe we can use it with a value like `FISCAL_HOST_ADMINS`, and then filter the changelog entries to display only the ones user would be targetted by?

[2021-11-04 07:42] Betree commented on #4312
@SudharakaP Could [this](https://github.com/opencollective/opencollective/issues/4312#issuecomment-960309350) be related to the update on StyledSelect? Like we only show the images, but somehow they're not loaded so we're showing the default avatars?

[2021-11-04 08:16] Betree opened #4914 "Deprecate host dashboard"
Related to https://github.com/opencollective/opencollective/issues/4863

With the introduction of the new admin panel, we should start thinking about removing the legacy host dashboard. This should be done incrementally to prevent any disruption of service.

1. [x] **Add a big banner to warn fiscal hosts admins**
2. [x] **Change the routes**. This step will mark a significant change, as many host

[2021-11-04 08:35] Betree opened #4915 "Host reports section: use a tooltip for "Projected" amount"
We got recurring feedback that it's unclear what "Projected" is. We should add a tooltip to explain what it is and how it's calculated.

![image](https://user-images.githubusercontent.com/1556356/140282596-0fa7dbb6-e852-4cad-97c6-b21e40f6ec1e.png)

[2021-11-04 08:39] Betree opened #4916 "Host reports section: Fix all spacing / margin issues"
The section was created for the legacy dashboard and moved to the new admin without further modification. We should update the design to make sure the sizes and spacings match what we have in the design.

[2021-11-04 08:39] #4913 closed

[2021-11-04 08:45] Betree commented on #4298
I've blocked this for too long, I'm going to prioritize a proper security audit between the end of this week and next week.
I'll merge directly if I don't find any blocker.

[2021-11-04 09:31] #4912 closed

[2021-11-04 13:52] znarf commented on #4741
@SudharakaP what is the status for this issue?

[2021-11-04 13:54] SudharakaP commented on #4741
Was discussing about deploying this issue with Benjamin yesterday and how to make sure we enable it for the two collectives. It's clarified now and will deploy it today. 😃

[2021-11-04 14:05] znarf commented on #4892
Seems there are many issues around the Bank Details feature, we need to have a closer look and test everything again.

[2021-11-04 16:18] #4741 closed

[2021-11-04 20:38] SudharakaP commented on #4312
Yes, this is related to that for sure. The compact mode only shows avatars if the avatars are available and loaded. I didn't handle this case as I thought it's acceptable since the user knows what they are choosing (using the dropdown you see collective) and then if they hover over the selected ones, it  shows the full name. 🤔

[2021-11-04 21:56] kaylarep commented on #4312
Is there a way for a hosted group to pause/delete their card? Think this could be useful (or perhaps an option to submit a request to the host to do it.)

[2021-11-04 23:08] alanna opened #4918 "Add delete to rejected expense action menu"
It would be nice to access the delete action on this menu
![Screen Shot 2021-11-05 at 12 07 36 PM](https://user-images.githubusercontent.com/5498878/140432499-5c5a0e1a-0279-49d4-97ba-ee39d5e8502e.png)

[2021-11-05 06:10] alanna commented on #4312
I think the receipt upload email should only be sent to the responsible admin, not all admins, and there should be a followup reminder if not done in 7 days to all admins. We're having a confusing time because no one knows which notifications are for who and who has what receipt among multiple admins.

[2021-11-05 06:56] Betree commented on #4918
I actually started working on this a few weeks ago in https://github.com/opencollective/opencollective-frontend/pull/6813. I paused it because there were some refactors needed, but the feature mostly works so it shouldn't be too complex to finish it.

[2021-11-05 08:29] Betree commented on #3976
Let's see how https://github.com/opencollective/opencollective-frontend/pull/6920 affects this issue after merging.

@snitin315 did you start working on it?

[2021-11-05 09:05] snitin315 commented on #3976
I tried a few solutions I found online regarding this but none of them worked. I didn't have enough time to dig deeper so I removed my assignment afterward.

[2021-11-05 09:34] Betree opened #4919 "PDF service: limit exposure of debug interface"
The debug interface on https://pdf.opencollective.com shouldn't be exposed to the whole world.

We should add the following limitations:
- Only show the page if `localStorage.enableOpenCollectiveDebug === true`. This should prevent any kind of XFS issues.
- Limit `selectedTestUrl` to internal URLs only

[2021-11-05 09:48] Betree commented on #3976
@snitin315 Thanks for taking the time to look at it. I'll remove the bounty for now, at least while we check how opencollective/opencollective-frontend#6920 may have impacted this.

[2021-11-05 09:59] #4491 closed

[2021-11-05 11:30] #4916 closed

[2021-11-05 13:21] znarf opened #4920 "Allow Projects and Events to be the payee of an Expense"
It's currently not possible and people are needing this flexibility.

Note that it's currently possible to Invite Projects and Events to submit an expense, but this is ultimately not working once people accept the invitation and try to submit the expense.

Update: it's ultimately due to the ADMINs not having a Members entry for Projects and Events, we need to find a workaround.

[2021-11-05 13:22] znarf opened #4921 "Update to webpack 5"
Webpack 5 is now mandatory for Next.js 12 and so it's now technical debt for us to still be on Webpack 4.

We need to upgrade various libraries and the whole configuration.

[2021-11-05 13:26] znarf commented on #4915
As discussed this yesterday, I would personally remove this metric that is barely needed and too complicated to explain. Once we figure it's a real problem for Fiscal Hosts, we can re-introduce it.

[2021-11-05 13:26] #4540 closed

[2021-11-05 15:57] SudharakaP opened #4922 "Rename and Refactor all Occurrances of `fundingRequest` in front-end"
I just noticed that we have occurrences of `fundingRequest` in the front-end. And since we no longer use this field on out DB as per, https://github.com/opencollective/opencollective-frontend/pull/7043, we need to revisit and ideally rename or remove these occurrences. 🤔

cc: @Betree

[2021-11-05 17:02] BenJam opened #4923 "Application success status includes huge SVG"
**Describe the bug**

![Screenshot 2021-11-05 at 16 55 22](https://user-images.githubusercontent.com/158833/140549229-4eed0ddb-0365-4158-9a44-989cf196c108.png)

WTV? more like WTF!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Open Collective Foundation
2. Click on Apply
3. Complete the application
4. Viola!

**Expected behavior**
A thank you and an expectation of next steps...

**Sc

[2021-11-05 18:21] kaylarep commented on #4312
some feedback from a group:

[2021-11-05 23:59] SudharakaP commented on #4915
I am also okay with removing this projected metric and actually, right now we show only the total money managed amount here; not the projected amount so it probably doesn't make sense to show it as we already show this amount just below. 🤔

![image](https://user-images.githubusercontent.com/12435965/140590430-498e8ac0-45fa-4a14-8341-5776c8b8ec81.png)

[2021-11-07 17:57] ocdtrekkie opened #4924 "Update a credit card expiration date"
Is it possible to create a button to update the expiration date on a credit card, rather than reenter the entire payment method?

## Who is your user?
Any contributor using credit cards for payment.

## What are they trying to achieve?
The contributor has received a notification from #2940 that their credit card is going to expire this month, and wants to correct this quickly to prevent future pay

[2021-11-07 21:53] alinamanko opened #4925 "Problem approving expense for payment after account information was updated"
**Describe the bug**
Recently we had a number of incidents where a payment failed (due to various issues with the payout method provided by the user), resulting in an error message.

Once the user got notified and updated their payout methods and we attempt the payment again, the following error message is received:

![capture](https://user-images.githubusercontent.com/57156267/140663084-c271289f-

[2021-11-08 06:57] Betree commented on #4924
I looked quickly and PayPal seems to allow editing the expiration date for a credit card, we should probably support that too!

![image](https://user-images.githubusercontent.com/1556356/140697395-1540a47e-79ef-4f34-91ba-93fbdaa1f321.png)

[2021-11-08 07:27] Betree commented on #4925
Looks like we're not freeing the lock created in https://github.com/opencollective/opencollective-api/blob/main/server/graphql/common/expenses.ts#L1050, we need to investigate why.

[2021-11-08 07:48] #4923 closed

[2021-11-08 10:34] #4909 closed

[2021-11-08 13:06] blogbiglog opened #4926 "automatic@security.com"
Oh never mind this is the opposite problem than I thought - it's the file that's the issue

_Originally posted by @alanna in https://github.com/opencollective/opencollective/issues/4769#issuecomment-932865659_

[2021-11-08 13:07] #4926 closed

[2021-11-08 13:07] blogbiglog commented on #4926
@andrew

[2021-11-08 15:34] BenJam commented on #4829
if this is intended to replace any of the related issues above can we close them and reference this issue?

[2021-11-08 15:42] BenJam commented on #4807
Just dropping a quick status update based on the itereation plan in the kickoff document:

- [ ] Iteration 1:
    - [ ] Create a card manually in Stripe dashboard
    - [ ] Assign a card (find it in the Card list) and insert in the database
    - [ ] Refactor to allow multiple Virtual Card providers
    - [ ] Display Provider in the Interface

- [ ]  Iteration 2:
   - [ ] Receive the transaction (

[2021-11-08 15:51] BenJam commented on #4557
@piamancini let's scheudle some more marketing time on this before we close it out.

[2021-11-08 16:52] Memo-Es commented on #4829
I would only close https://github.com/opencollective/opencollective/issues/4768, the other issues are about different things you do when you have your account already (Creating collectives, host orgs, etc)

[2021-11-08 16:55] natehn opened #4927 "Bank transfer (ACH/wire) contributions within the platform."
## User story
As a donor, I can make bank transfer contributions within the platform. I will no longer have to initiate the bank transfer myself. Additionally, host admins would no longer have to manually match bank transactions with pending bank contributions.

## Best solution for this problem
I imagine that this involves Wise. Another option I'm aware of would be Bill.com's API.

## MVP
?

## M

[2021-11-08 17:46] Betree commented on #4915
Removed in https://github.com/opencollective/opencollective-frontend/pull/7100

[2021-11-08 17:46] #4915 closed

[2021-11-08 17:54] Betree commented on #4897
@Memo-Es I like this new version! I also agree with the modal when the person sets `0`. Such a modal is a great opportunity to explain what we do and why tips are important to us.

@opencollective/core any opinions on this? These are small changes, but they can have a significant impact.

[2021-11-08 20:06] natehn opened #4928 "Developing an ethical framework at the platform level: community guidelines"
A fiscal host recently discovered that one of their collectives appeared to be linked to COVID disinformation efforts (OC team members can see the related Slack conversation [here](https://opencollective.slack.com/archives/G46PNRCGP/p1634028397151800)). Although judgement might have been made a bit to early in that case, the incident has surfaced a discussion about what we would do if the allegati

[2021-11-08 20:07] natehn commented on #4928
One question: is "harmful or inappropriate" the proper framing?

[2021-11-08 20:07] natehn commented on #4928
### In comparison to uTip

uTip's [content charter](https://help-utip-io.translate.goog/fr/articles/2926150-charte-des-contenus-utip?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en-US&_x_tr_pto=nui) restricts a few areas beyond our current Terms that we could consider adding, including:

- "Content inciting hatred, violence, discrimination, harassment or intimidation" and "Content inciting dangerous or pern

[2021-11-08 21:18] kewitz commented on #4897
@Betree I agree that having one input above and another one below is a bit confusing, not sure if having both below is actually better since in both cases it seems that you're setting limits of an interval with different units.

I don't see an easy way to solve this so I would just pick one and ping users for feedback.

Related to `I don't want to contribute to Open Collective` checkbox, I think a

[2021-11-08 23:57] natehn commented on #4587
Just wanna note that this is coming up related to OCF's grantmaking process, in case that helps with prioritization

[2021-11-09 00:37] #4902 closed

[2021-11-09 00:52] SudharakaP commented on #4897
Some small feedback here; I would vote for a slider which can be dragged to any given place (such as the ones in [this page](https://www.w3schools.com/howto/howto_js_rangeslider.asp)) instead of the slider with predefined placeholders. The reason being there is inaccuracy in the slider selection with the percentage value. So for example if the user wants to give a 30% tip for a value of 10 dollars

[2021-11-09 00:59] #4857 closed

[2021-11-09 03:57] alanna opened #4929 "Terminology around fees and pricing model"
We've got some "terminology debt" building up around the words we use to refer to platform fees and related types of transactions. We need to clarify these terms and update how they appear in the platform, docs, exports, etc.

Here's a rundown of the terms we're using now (I hope I have these correct - some are confusing for me, which is kind of the point of this issue). These terms come from a fe

[2021-11-09 03:57] alanna commented on #4702
Closing in favor of #4929

[2021-11-09 03:57] #4702 closed

[2021-11-09 08:04] znarf opened #4930 "Link to manage recurring contributions missing in Thank You email"
Especially when donating as an Organization, it can be difficult for users to find where to manage "Recurring Contributions".

A link in the "Thank You" email would make it easier.

[2021-11-09 08:12] znarf opened #4931 "Consolidated Recurring Contributions management"
As a user, I would like to manage all my recurring contributions from a single page:
- [x] User contributions
- [x] Incognito contributions
- [ ] Organization and Collective contributions

Today, it can be difficult to find where to manage recurring contributions from and that would be a really welcome change for users to have this consolidated view available.

[2021-11-09 08:35] Betree commented on #4931
I strongly agree with this one. Since https://github.com/opencollective/opencollective-frontend/pull/6174, incognito contributions are already grouped on the main "Recurring contributions" page. It would be great to have a canonical https://opencollective.com/recurring-contributions that includes all the profiles you're managing.

[2021-11-09 09:06] Betree commented on #3494
We need to review these specs in accordance with the introduction of the `structured` (JSONB) field along with the dynamic form. Currently, structured addresses can only be stored in expenses (`payeeLocation`). It's a problem as we're now introducing the dynamic form for guest orders > 5K and have to store it in `collective.data`.

[2021-11-09 09:08] znarf commented on #3494
Related: https://github.com/opencollective/opencollective/issues/3171

[2021-11-09 09:25] BenJam commented on #4310
Some more feedback from user support:

contribution tiers can, but I couldn't find a way to allow people to
flexibly donate while also providing a specific goal.

allow you to specify an amount instead of always transferring
everything?

[2021-11-09 10:07] #4930 closed

[2021-11-09 12:21] #4919 closed

[2021-11-09 13:09] #4595 closed

[2021-11-09 13:09] BenJam commented on #4595
closed as campaign is over for this year. Retro organised shortly but the figures from our side are poor ($30 raised). If GH Sponsors' figures are considerably different then we will investigate for issues with the embed but otherwise we look forward to expanding next year.

[2021-11-09 13:26] BenJam commented on #3903
Just found this issues and encouraged @alinamanko to move the docuemtnation to https://app.gitbook.com/o/-LWSZizNMEjL8_DrMNdF/s/-MkoLSqv45-IqGUC_Gy-/c/tOoepGYtd0YVp2doS83p/github-sponsors

I've updated the title and the desripction above to include some improvements following my experience last month.

[2021-11-09 13:30] ManuSquall commented on #4922
Hello world, hope you're doing well. May i help on it?

[2021-11-09 14:00] BenJam commented on #4768
taking this work over to #4829

[2021-11-09 14:00] #4768 closed

[2021-11-09 14:04] natehn commented on #4929
For 5/6, I think it would make sense to use "net host fees." This is like "net profit" - it implicitly references the costs, in this case platform fees.

For "owed/to pay," can we also consider "payable"? As in, accounts payable. This would be easily understandable for folks with any experience in accounting.

[2021-11-09 15:16] znarf opened #4932 "Implement webhook support for Stripe refunds"
We're currently not handling refunds that are triggered directly from Stripe.

We can't really prevent Host admins from doing this and need to support it properly.

[2021-11-09 18:02] SudharakaP commented on #4922
Sure, thanks for helping out. Note that we should probably wait until, https://github.com/opencollective/opencollective-frontend/pull/7090 is merged. After that I think what is left is the `fundingRequest` occurrences in this file;

https://github.com/opencollective/opencollective-frontend/blob/main/stories/mocks/loggedInUser.js

My thinking is we can safely remove the lines `fundingRequest: true`

[2021-11-10 01:04] alanna opened #4933 "Weekly interval for contributions"
## User story
As a Collective admin, I want the option for weekly financial contributions in my tiers.

User says of monthly:

## Best solution for this problem
A `weekly` interval selection in tier settings that charges the contributor weekly.

[2021-11-10 01:15] alexmccallnz commented on #4933
I'm not a dev but it sounds like we should be able to create an interval via the Stripe API for "week" and update an option on the admin tier page

https://stripe.com/docs/api/prices/object#price_object-recurring-interval

"recurring": {
    "aggregate_usage": null,
    "interval": "week",
    "interval_count": 1,

[2021-11-10 01:19] alexmccallnz commented on #4933
As an admin I want to have a "weekly" contribution option here in Admin-> Tiers -> Interval -> Monthly
Screenshot attached
<img width="1271" alt="Screen Shot 2021-11-10 at 2 18 21 PM" src="https://user-images.githubusercontent.com/67630988/141031899-bf766938-e3f0-464e-8743-e7e3d15c54cd.png">

[2021-11-10 02:28] jakefb commented on #4933
Hi @alanna @alexmccallnz @SudharakaP, I have made a start on adding this here https://github.com/opencollective/opencollective-frontend/pull/7109

[2021-11-10 07:10] Betree commented on #4933
If we want to implement weekly contributions, we need to make sure all payment providers properly support them.
- For Stripe, recurring contributions are charged manually from `cron/hourly/00-charge-recurring-contributions.js` - we're not using their feature from https://stripe.com/docs/api/prices/object#price_object-recurring-interval. The implementation here will be mostly about making sure `nex

[2021-11-10 07:17] Betree commented on #4933
Doing so would also introduce more complexity around #1916

[2021-11-10 08:28] jakefb commented on #4933
Hi @Betree, thanks for outlining that list of tasks required to get the weekly interval implemented.

Do you need any help with them? I am happy to take a look at getting the first bullet point done.

[2021-11-10 09:20] Betree opened #4934 "Select: hide "Nothing found" if no search term"
Expected behavior:
- hide the tooltip
- or show a better message

![image](https://user-images.githubusercontent.com/1556356/141085253-8c35f1c6-92d0-4633-993e-922b348a0a42.png)

[2021-11-10 09:47] Betree commented on #4933
This issue is not part of our current roadmap (#4783), and it's not a trivial task; we can't move away from our current priorities to focus on this. From the engineering team perspective, we'd be happy to help and review the work if someone's willing to handle the project (including scoping, developing, testing, and seeking feedback) but we don't have the capacity to do it ourselves at that time.

[2021-11-10 12:45] BenJam opened #4935 "[Feedback] Crypto contributions"
Feedback issue for crypto contributions:

Release https://opencollective.com/opencollective/updates/support-open-source-software-using-crypto
Documentation https://docs.opencollective.com/help/financial-contributors/crptocurrencies

[2021-11-10 12:48] BenJam commented on #4935
from @piamancini

looking into this, the email is sent at the point a QR is generated because we also want the QR to be sent to the contributor. The QR screen does not say that this email will be sent nor does it take you to the thank you screen.

| QR Code Screen | Thank You Screen |
| --- | --- |
| ![Screenshot 2021-11-10 at 12 41 43](https://user-images.githubusercontent.com/158833/141115558-60

[2021-11-10 14:01] SudharakaP commented on #4935
One simple solution I could suggest here is to add the `Your contribution is pending` message to the QR code screen as well. This way users know that even at the QR code screen we assume the user has made the contribution. In fact there's no functional difference between the QR code screen and the success screen; when the user hits the QR code screen the order is created and the contribution is as

[2021-11-10 20:45] piamancini commented on #4928
A suggestion from another non for profit's ethics clause: “IV. ETHICS
If at any time during the terms of this agreement Independent Contractor performs or publicly endorses acts that run counter to Fractured Atlas’s Anti-Racism Anti-Oppression (ARAO) Guidelines, then Client may suspend or terminate this agreement. In addition, the client may choose to exercise other rights and remedies that they m

[2021-11-10 21:02] natehn commented on #4928
I like that language of "performs or publicly endorses acts that run counter to." It's aligned with the language about "incitement" in the uTip charter.

[2021-11-10 21:08] alexmccallnz commented on #4933
Hi @Betree thanks for the questions here.

Comments on your personal perspective:

* What about the fact that contributors will pay more payment processor fees (as per this comment)?

Contributors choosing these options do so willingly.

Payment fees are customary NZ - personally have 4 years in the payments space in NZ.

This is a middle step option (and least desirable) before we turn on direct

[2021-11-10 21:18] alexmccallnz commented on #4933
"We find that higher payment frequencies result in increased perceptions of wealth and more discretionary
spending relative to lower payment frequencies." - [Stanford Paper](https://marketing.wharton.upenn.edu/wp-content/uploads/2020/09/09.10.2020-De-La-Rosa-Wendy-PAPER-The-Impact-of-Payment-Frequency-on-Subjective-Wealth-Perceptions-and-Discretionary-Spending.pdf) @Betree it might be a great way

[2021-11-10 21:21] natehn commented on #4928
Another example, in case it is helpful. At a consulting firm where I previously worked, I created a "due diligence" ethics process. The question was about where the line was for the clients we worked with, within the context of United States social justice/anti-racism work. We started there with a public statement:

A research team reviewed all new clients and, if they found any questionable mater

[2021-11-10 21:22] alanna commented on #4933
Just for added context, many expenses are weekly in NZ, like people's rent
is always described weekly for example. So it's probably a cultural
difference compared to other places where monthly is more common. It's
pretty deeply ingrained here.

[2021-11-10 21:24] alanna commented on #4928
The OC team talked about this in a meeting today and we decided to:

* Seek other examples of this kind of policy done well
* Look into talking with experts in this space to get advice
* Solicit feedback from our community of users
* More deeply address this at an upcoming team retreat

[2021-11-10 21:50] alanna commented on #4929
@znarf what do you think?

[2021-11-11 01:36] SudharakaP opened #4936 "`totalMoneyManaged` is Not Calculated Correctly"
The calculation of collective balance has an error and was pointed out at, https://opencollective.slack.com/archives/C02C146LFCP/p1636557626007700. The correct calculation is,

`totalMoneyManged = hostBalance + collectivesBalance`

[2021-11-11 02:08] SudharakaP commented on #4907
@Betree : I think this is now solved since the filters have been moved to top of the page. Shall we close this one? 🤔

[2021-11-11 02:21] SudharakaP opened #4937 "Error when Filtering While Charts are Open"
Something I've noticed recently is that when the charts are open (expanded view) in the host dashboard reports section and the user changes the filtering there's a crash.

![charts-crash](https://user-images.githubusercontent.com/12435965/141225757-68429e20-e040-4a26-b51b-4db2dabbdcd0.gif)

[2021-11-11 10:39] znarf opened #4938 "Projects missing a Members entry for their HOST"
In the way we're creating projects today, we're forgetting to insert an entry for their Host in the Members table.

That can be a consistency problem.

Quick fix:

[code]

[2021-11-11 11:24] znarf opened #4939 "Charge Expenses should not have HostCollectiveId set on the CREDIT side"
Charge Expenses should not have HostCollectiveId set on the CREDIT side.

[2021-11-11 11:35] znarf commented on #4939
Fix:

[code]

[2021-11-11 16:35] dashcraft commented on #4928
Before i chime in, i want to say that I'm a huge fan and I believe in the purpose and cause of Open Collective. I am on the very liberal side of the equation politically, I am generally for all the provisions you said at a community level.

However....
There are thousands of positions, millions of people will find objectionable, ideally, the term "Open" in "Open" collective isn't limited to what a

[2021-11-11 19:17] natehn commented on #4798
In case it helps with prioritization, adding the ability to assign cards to Projects would be really useful for OCF collectives.

[2021-11-11 21:03] jtorreggiani commented on #4928
Firstly, I would like to thank Open Collective for leading the charge on creating a model for ethical decision-making and developing a framework and platform to empower this community. As a co-founder and admin of a collective on the platform and and contributor to OC and OCF, this initiative is incredibly exciting. I think it is the type of conversations we need to be having.

OC and the broader

[2021-11-11 21:43] alanna opened #4940 "Unable to turn on grant expenses for project"
![Screen Shot 2021-11-12 at 10 21 19 AM](https://user-images.githubusercontent.com/5498878/141373126-8c966162-5ecd-4547-a8d7-cfb559b687c2.png)

When trying to tick the box and save for https://opencollective.com/ls-request

[2021-11-11 21:49] kaylarep commented on #4765
if it could put their twitter data that they input in their Open Collective profile and tag them in the tweet as well, that would be amazing! (if no twitter handle is there, just the name of the collective is also fine)

[2021-11-11 23:19] alanna opened #4941 "Fund transaction list only shows debits"
I am trying to see when this contributor put the money in their Fund. But the transaction list is only showing debits when they contribute to other Collectives. Why is money coming in missing? Where are the credits?

https://opencollective.com/ford-foundation/transactions

[2021-11-11 23:24] alanna opened #4942 "Showing as contributor but amount is $0"
This person is showing as a contributor to Open Collective but it's $0. If they haven't contributed anything, they should not appear here.

https://opencollective.com/seyed-abbas-shojaee

![Screen Shot 2021-11-12 at 12 23 10 PM](https://user-images.githubusercontent.com/5498878/141382958-eb1f2e7c-8a00-4c4b-8085-676b10e90eb3.png)

[2021-11-12 08:36] Betree commented on #4933
Thank you @alexmccallnz and @alanna for this added context. It indeed seems like there is a cultural factor here, I now understand better why this change is important for you.

When talking about "added complexity", I was referring to this screen:
![image](https://user-images.githubusercontent.com/1556356/141435652-48b9f8c8-0089-43ed-824f-832e2c3c73c6.png)

With this change, we'd be adding a 4th o

[2021-11-12 08:46] alexmccallnz commented on #4933
That screen from my understanding exists IF admin chooses a "flexible" interval under tiers. If a single tier is selected this should have no effect (image below).

In context here we are not after the "flexible" option.

Is there a barrier here from an @opencollective/design decision to be made @Betree ?

IF so who do we need to bring into this thread so that we can get something shipped?

AND wo

[2021-11-12 08:54] Betree commented on #4907
@SudharakaP Yep the root issue described has been resolved. There might still be some confusion about the year picker in https://github.com/opencollective/opencollective/issues/4907#issuecomment-958720694, but we'll see if we get feedback in that direction

[2021-11-12 08:54] #4907 closed

[2021-11-12 08:56] #4940 closed

[2021-11-12 09:03] Betree commented on #4933
It's not a blocker for the MVP, we can always hide the feature behind a flag and manually enable it for selected collectives/hosts.

This is the "Custom contribution" flow (e.g. https://opencollective.com/babel/donate) that is enabled by default for all collectives. I haven't checked in the database, but I'd say it's enabled for 95% of them.

[2021-11-12 10:18] Betree commented on #2757
@alanna I've marked `foundation` as a trusted host. With what @SudharakaP implemented, you can now use https://opencollective.com/foundation/terms to access the TOS.

[2021-11-12 12:14] znarf commented on #4941
It's not a Fund, it's an Organization. We don't compute their balance and their budget.

If we would, it would be negative as they effectively don't have CREDITs.

[2021-11-12 12:58] Betree commented on #4298
I provided some feedback on the API and added a test. I found no critical issue while investigating, but we're not defensive enough. I want us to be super protective, iframes and content sanitization are very common doors for code injection.

It can be achieved pretty quickly though, what @SudharakaP started is good.

[2021-11-12 13:46] znarf commented on #4936
There is still a consistency problem because Timerange filter is applied to totalMoneyManged but not to hostBalance (always the balance of today).

[2021-11-12 17:41] #4903 closed

[2021-11-12 18:40] #4937 closed

[2021-11-12 23:06] kaylarep opened #4943 "Edits to OCF's application page"
**Describe the bug**
A few edits to make on OCF's hosting application (https://opencollective.com/foundation/apply/form)

1. The 'More info' link in the sidebar is dead. Please direct it instead to https://docs.opencollective.foundation/
![image](https://user-images.githubusercontent.com/64920686/141582472-c762b0b8-2466-4875-8ef7-f500fcabb8e3.png)

2.  This hover (?) doesn't show anything
![image]

[2021-11-13 00:30] natehn commented on #4943
Should more info actually just go to our main docs? Seems like that is separate from the mission/vision drop-down.

[2021-11-13 02:01] SudharakaP commented on #4298
@Betree : I've refactored the code based on your suggestions. Let me know how it looks now. 😉

[2021-11-13 03:42] alanna commented on #4943
One thing the auditors pointed out is it would be good to explicitly document how the Collective's mission connects to OCF's mission areas (education, social impact, civic engagement). That would also be helpful for the approval process (e.g. an open source project with no specific social impact mission would be caught on that point and could be referred to OSC). Should we add a box for that?

[2021-11-13 03:42] SudharakaP opened #4944 "Discover Page Pagination Breaks after Fourth Page"
This was initially reported at, https://opencollective.slack.com/archives/C0HSLRNVC/p1636749289074000

It seems that trying to navigate through all the collectives in our discover page with the `sort` selected to `newest` after the 3rd page the search fails with the following error.

[code]

![search-break](https://user-images.githubusercontent.com/12435965/141604472-a0898096-68a6-46f2-85b9-b69e25

[2021-11-13 09:14] alanna commented on #4941
Ah ok I was confused

[2021-11-13 09:14] #4941 closed

[2021-11-13 09:16] alanna commented on #4933
I think for an MVP we can avoid including "weekly" in flexible
contributions and only make it an option for fixed interval tiers. So we
would not need to redesign things like the flexible interval selector.

[2021-11-13 09:35] abitrolly commented on #4790
@di can you help to resolve this dispute as a @PSF director?

[2021-11-13 09:38] SudharakaP commented on #4944
I did some investigation and managed to recreate this in my local. This happens when we overflow the limit of `GraphQLInt`. To recreate select a collective and keep on adding funds to it and and when the fund amount exceeds the limit of `GraphQLInt we will not be be able to access the collective. There seems to be at least one collective in our prod db for which this has happened. Will investigate

[2021-11-14 02:09] alanna opened #4946 "Differentiating Independent Collectives and Fiscal Hosts without Collectives"
We have begun better differentiating Independent Collectives from Fiscal Hosts, but there are quite a few profiles that are set up as the wrong one, i.e. they should be an IC but are set up as a Fiscal Host with no Collectives.

I think it's important because we've started splitting out documentation, onboarding, and features for each, and having users on the wrong path is confusing. The actual fe

[2021-11-14 02:12] alanna commented on #2757
Amazing! Thank you!

[2021-11-14 03:00] alanna opened #4947 "Unable to update expense payee to Collective"
I invited [this expense](https://opencollective.com/comms-docs/expenses/55256) with the payee being the [Metagov Collective](https://opencollective.com/metagov). However, the invitee changed it to be payable to an outside company. That won't work for this particular expense, so I need to change it back to the Collective as the payee. But when I edit the expense and try to select the Collective, no

[2021-11-14 07:23] abitrolly commented on #4946
Can have Projects.

Is that info somehow available as Open Data?

[2021-11-14 08:01] alanna commented on #4946
Some examples... these are actually hosts with single Collectives, not zero Collectives, but it seems obvious they are more suited to being ICs.

https://opencollective.com/solidarity-with-student-workers-of-columbia

https://opencollective.com/liberioltre

[2021-11-14 15:51] zahirpatel110 opened #4948 "Done"
Done

_Originally posted by @zahirpatel110 in https://github.com/Raphael-MOUQUIN/opensource.guide/pull/2#issuecomment-968175277_

[2021-11-14 16:33] zahirpatel110 commented on #4948
Readme.MD

[2021-11-14 16:43] SudharakaP commented on #4948
This ticket is closed due to **guidelines not followed**.

All tickets should follow the guidelines as mentioned in:

- The [Code of Conduct](https://github.com/opencollective/opencollective/blob/main/CODE_OF_CONDUCT.md).

- Submission guidelines as mentioned in our [README file](https://github.com/opencollective/opencollective/blob/main/README.md#issues).

[2021-11-14 16:43] #4948 closed

[2021-11-14 19:58] znarf commented on #4942
I originally deleted some spam transactions from this profile and didn't remove related Members entries. Done.

[2021-11-14 19:58] #4942 closed

[2021-11-14 21:17] alanna commented on #4587
Seems this is affecting events as well... I just got linked to this one: https://opencollective.com/fair-open-data-for-public-good-and-health-2f97a527

@znarf @Betree any thoughts on how we can fix this?

[2021-11-15 09:36] Betree commented on #4854
@BenJam do you see an error message in the console when trying to export?

[2021-11-15 10:27] Betree commented on #4587
We basically need to update all the places where we generate URLs based on accounts. I would recommend editing the helpers in https://github.com/opencollective/opencollective-frontend/blob/86d9c15b40886cadc3614ba4d5b00c7d9ff67eab/lib/url-helpers.js, refactoring, and adding new ones if necessary to reduce the amount of code needed to generate these links.

Having something like this in the code wou

[2021-11-15 10:40] znarf commented on #4587
I would also add (and maybe do it first) a "magic" redirect mechanism for anyone visiting an URL without the parent part.

[2021-11-15 13:11] znarf commented on #4929
@alanna I have not changed my mind and I am still reticent about re-introducing the "Platform Fee" term. I could settle with "Platform Share". Or "Platform Fee Share" as a middle ground.

Other terms (especially the one with "debt"), we carefully picked the terms while redesigning the ledger and I personally don't have much regret. I'm happy to not change them and keep them consistent with their i

[2021-11-15 13:40] aminakazi opened #4949 "'About' description doesn't work when only a photo is attached"
**Describe the bug**
If we add just an image in the 'About' description of a collective's page without adding text, nothing shows up when you save it and it reverts to the empty state.

**To Reproduce**
Go to About section of a collective that you're an admin of.
Go to 'Add Description'
In the rich text editor > Add an Image without adding any text
Click on the save button.

**Expected behavior**

[2021-11-15 14:32] Betree commented on #4949
@aminakazi I tried with different images on Chrome and Firefox but could not reproduce:

https://user-images.githubusercontent.com/1556356/141798848-1e774a55-0ae6-4691-80c7-c708be0c04a8.mp4

Could you share the image and your browser version in this issue?

[2021-11-15 15:00] natehn commented on #4943
@alanna one of the questions in the application, not shown in this issue, is "Please explain how your initiative furthers one or more of our [mission impact areas](https://docs.opencollective.foundation/about/mission-and-values#our-missions-impact-areas). Do you think that is enough?

https://docs.opencollective.foundation/getting-started/how-to-apply/application-questions

[2021-11-15 16:08] #4828 closed

[2021-11-15 16:35] Betree commented on #4816
This proposal would also be really helpful to cleanly filter the sections based on the permissions, like we do we https://github.com/opencollective/opencollective-frontend/pull/7125

[2021-11-15 21:21] alanna opened #4950 "Event time wrong"
https://opencollective.com/opencollective/events/fiscal-host-call-dec-2021-4863d3c9

I set the time in CET:
![Screen Shot 2021-11-16 at 10 19 27 AM](https://user-images.githubusercontent.com/5498878/141855380-b74b93e3-3555-4fee-99ed-45099eb486e5.png)

But it seems to be saved in my time, which is 12 hours opposite:
![Screen Shot 2021-11-16 at 10 19 07 AM](https://user-images.githubusercontent.com/

[2021-11-15 23:19] alanna commented on #4943
Ah yeah sorry missed that. If it's already in there that's all good.

[2021-11-15 23:54] lrq3000 commented on #4928
"The road to hell is paved with good intentions."

Before going on with my opinion, it's worth remembering that facts that are now considered as self evident, such as masks being an effective barrier against covid-19 and the dangerosity of covid-19 being far greater than the common flu, were considered as disinformation at first (and lasted for months for the given examples).

Centuries of academi

[2021-11-16 00:55] alanna commented on #4947
I'm having the same problem with [this expense](https://opencollective.com/di-incubator/expenses/55169). The payee needs to be the [CDP Collective](https://opencollective.com/council-data-project), but it won't let me edit it. I search and nothing appears. In this case it's a Collective in the same host so I don't see why it would be blocked.

[2021-11-16 02:56] kaylarep commented on #4929
I'm pro calling it "Platform fee". This is consistent with what other similar crowdfunding platforms call it.

"share" is a confusing term to me to use at all, because I'm not sure if it means that _that amount_ is being shared, or is it more like "shares" as in stock? "Share" is definitely a nicer word to use, and maybe most people understand that it means the asset, but it isn't clear enough to

[2021-11-16 03:32] kaylarep commented on #4943
Yea sure, works for me

[2021-11-16 03:43] alanna commented on #4929
I really agree with @kaylarep about the confusion from the word "share". I has too many meanings that could apply here. We've already experienced the issue of our accountants completely misunderstanding what "host fee share" was about (they assumed it was a portion *for the host*). We fixed that particular misunderstanding but to me that shows that even financial experts are not likely to guess th

[2021-11-16 07:00] Betree commented on #3880
This is done and released for everyone. Followups are listed in https://github.com/opencollective/opencollective/projects/64

[2021-11-16 07:00] #3880 closed

[2021-11-16 07:07] Betree commented on #4763
Using the wording defined in https://github.com/opencollective/opencollective/issues/3698#issuecomment-731140874, each section must belong to a **Category**. The names of the tabs there are categories:

![image](https://user-images.githubusercontent.com/1556356/141936929-c53438ef-ae96-4627-bac4-d6b9016bb6d6.png)

The goal of categories is to group things that are related, provide some structure fo

[2021-11-16 07:20] Betree commented on #4300
The base project is now implemented and released for everyone, with some sections still to be merged and deployed. Followup issues are listed in https://github.com/opencollective/opencollective/projects/65.

[2021-11-16 07:20] #4300 closed

[2021-11-16 07:21] Betree commented on #3128
Thanks to everyone who provided feedback! We're now iterating on a more recent version of the contribution flow, and tracking everything in separate issues.

[2021-11-16 07:21] #3128 closed

[2021-11-16 08:55] piamancini commented on #4929
weighing in:

I am also reticent to use the platform fee term. It's a revenue share model and I think that the whole point is to emphasize we are in this as partners. The idea of fee has a more extractive connotation and it lucks the nuance that if a host doesn't make money then we don't make money either. That is a KEY aspect of who we are and what we do and it aligns with our values.

Platform S

[2021-11-16 09:00] Betree commented on #4947
It's a limitation, not a bug: you can only select profiles you're an admin of as payees. The reason why we allow any profile to be selected when inviting is that the profile's admins need to confirm the invitation and review the expense first.

If we just let people select any profile when editing an expense, we'll end up with a security issue where you can create an expense, select any profile as

[2021-11-16 09:16] Betree commented on #4947
@alanna Should I proceed with these changes?
- Update https://opencollective.com/comms-docs/expenses/55256 to have https://opencollective.com/metagov as the payee, set the payout method to "Collective balance"
- Update https://opencollective.com/di-incubator/expenses/55169 to have https://opencollective.com/council-data-project as the payee, set the payout method to "Collective balance"

[2021-11-16 09:20] alanna commented on #4947
Yes please! Thanks @Betree

The only part in not sure about is the metagov one being across hosts, will that work? If not it can be a bank transfer.

[2021-11-16 10:02] Betree commented on #4876
@znarf is right. Technically, this user is not a guest. It just happened that they kept the slug as-is when they verified the account.

The main reason why we stopped updating the `slug` automatically in https://github.com/opencollective/opencollective-api/pull/6468 is that the thank you emails would link to `/guest-xxxxx/recurring-contributions` so the URL sent by email ended up as 404 errors.

N

[2021-11-16 10:04] Betree commented on #4931
This would be really useful to solve https://github.com/opencollective/opencollective/issues/4876

[2021-11-16 10:14] Betree commented on #4459
I've opened a quick fix in https://github.com/opencollective/opencollective-frontend/pull/7129 that hides the `Create Organization Profile` tab in the create collective flow (`/create`) and apply flow (`/:host/create`). If that works for everyone, I'll merge it and will create a separate issue for https://github.com/opencollective/opencollective/issues/4459#issuecomment-897191848: `Combined sign u

[2021-11-16 10:17] Betree commented on #4622
It just needs to be prioritized. As mentioned in https://github.com/opencollective/opencollective/issues/4622#issuecomment-911309027, we should ideally figure out a consistent solution that we can easily transpose to events, connected collectives, etc. Everything that can be represented with a "Contribute" card should be orderable.

[2021-11-16 12:47] znarf commented on #4929
@znarf what is your real objection to "platform fee"? Is it something wrong with the phrase itself or only its history because we previously used it to mean something else in the past? If it's only about the history, I really think it's time to move on. If it's some other reason, please explain.

I wrote it many times and still haven't changed my mind, so you can read again in https://github.com/o

[2021-11-16 13:10] aminakazi commented on #4763
- I agree on this. Since it is a part of the collective's story, it should remain in the about category, media section.

About the second point, I don't have a preference but it would be nice to add video URLs in the media and not upload the actual video file in the description text.

[2021-11-16 13:31] aminakazi commented on #4949
Tried it again with the same image and it worked.

https://user-images.githubusercontent.com/48468919/141990459-734c6af1-d712-44c0-b4fa-4f598631e2b5.mov

[2021-11-16 13:43] Memo-Es commented on #4459
That works for me @Betree we can follow up later for a long term solution

[2021-11-16 13:54] #4901 closed

[2021-11-16 13:54] Memo-Es commented on #2896
@BenJam I think we are ready to close this issue as well wdyt?

[2021-11-16 14:17] aminakazi commented on #4537
[Production Ready file](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC-Design%5D-Production-Ready-%E2%9C%85?node-id=14374%3A179238) is linked with the final designs.

[2021-11-16 14:28] piamancini commented on #4929
Ok - @znarf and I just had a chat about this.

We agreed on this terminology:

Platform Tip
Host Fee
Platform Share
Platform Share
Net Host Fee
Net Host Fee
Platform Share Owed
Platform Tip Owed

**First Step** will be to change this in the report dashboard and keep the data base (therefore the CSV) as it is for the moment.
**Second Step** we will scope a UI platform broad change in a consistent w

[2021-11-16 14:38] Betree opened #4952 "Progress not displayed on tier page"
The progress bar on https://opencollective.com/culture-ric/contribute/don-pour-le-ric-constituant-33641 is empty:
![image](https://user-images.githubusercontent.com/1556356/142005358-321928a1-69e3-4abd-8bb0-b2e35f4911b4.png)

Yet there are contributions for this tier, as visible on the [collective page](https://opencollective.com/culture-ric):
![image](https://user-images.githubusercontent.com/155