[2020-08-28 07:26] Betree commented on #3439
@znarf maybe we could do the following:
- In the GeoSuggest component, add a special "online" value (or put it in another select if easier)
- When picking this value, also show a text input for "Online address" (to allow people to put a Zoom link for example)
- When saving, set collective's `locationName` to `Online` and `address` to the web URL

The email would then work out of the box. We should

[2020-08-28 08:28] #2953 closed

[2020-08-28 09:48] Betree commented on #3436
There's also an issue with long names here, I suggest looking at the `truncateOverflow` prop

![image](https://user-images.githubusercontent.com/1556356/91547513-5311ee80-e924-11ea-9884-64067765b191.png)

[2020-08-28 09:48] Betree commented on #3436
`Discover more Collectives like ...`  should be a link

[2020-08-28 12:38] #2584 closed

[2020-08-28 13:06] #3401 closed

[2020-08-28 16:30] Lsploit opened #3440 "Insecure Storage and Overly Permissive Google Maps API Key"
**Describe the bug**
Google API keys used in https://github.com/opencollective/opencollective-frontend/blob/b612bc0a5b26e0f8d920c77a9a794f130b96f70c/env.js were not properly limited in functionality
**To Reproduce**
Steps to reproduce the behavior:
1. Used github dork to check for leaked google api keys.
2. Found leaked google api key in the above link.
3. Went ahead to see if the key was properly

[2020-08-28 16:42] Betree opened #3441 "Lspoloit issue"
Hi @Lsploit, thanks for taking the time to contact us. I'm pinging you via this Github issue since there's no public contact associated to your GIthub profile.

Your report has been moved to a private place. As per https://github.com/opencollective/opencollective/blob/master/SECURITY.md, security reports must be sent to security@opencollective.com. Public reports are not eligible for bounties.

[2020-08-28 16:42] #3441 closed

[2020-08-30 04:39] alanna opened #3442 "Correct Updates info for Hosts"
This is how the Updates settings page looks, but it's geared toward Collectives. For hosts it needs to have different info.

<img width="837" alt="Screen Shot 2020-08-30 at 4 30 15 PM" src="https://user-images.githubusercontent.com/5498878/91651230-3caf9280-eade-11ea-9e52-542456572482.png">

Suggested content:

FAQ's

*If someone contributes directly to a host budget, do they get access to private

[2020-08-31 06:41] Betree commented on #3442
I've updated https://docs.opencollective.com/help/collectives/communication with the latest info about host updates.

Hosts can select if they want to send their updates to their financial contributors or to their collectives when publishing them.

Private updates are not supported for hosts yet (because we need a different set of permissions if it's published as "send to Collective admins").

[2020-08-31 08:55] Betree opened #3443 "Contribution flow: guest contributions"
## User story

*Part of https://github.com/opencollective/opencollective/issues/3164*

When possible (see https://github.com/opencollective/opencollective/issues/3164#issuecomment-659431852), we want users to be able to make contributions without the need to signup.

## Best solution for this problem

### General considerations

- [x] Guest profiles should not be linked (profile should not be visi

[2020-08-31 11:32] #3423 closed

[2020-08-31 12:17] supr3mo opened #3444 "Content Spoofing"
**Describe the bug**
Content spoofing, also referred to as content injection, “arbitrary text injection” or virtual defacement, is an attack targeting a user made possible by an injection vulnerability in a web application. When an application does not properly handle user-supplied data, an attacker can supply content to a web application, typically via a parameter value, that is reflected back to

[2020-08-31 12:42] Betree commented on #3444
Hi @supr3mo, thanks for taking the time to report this issue.

While you can indeed inject content via this parameter, it's also properly sanitized so there's no proof of a possible XSS injection. As a result, we don't consider this one to be a security issue.

As per https://github.com/opencollective/opencollective/blob/master/SECURITY.md, security reports must be sent to security@opencollective.

[2020-08-31 12:42] #3444 closed

[2020-08-31 13:49] Betree commented on #3439
Some more feedback:

On top of the [previous proposal](https://github.com/opencollective/opencollective/issues/3439#issuecomment-682374043), I suggest adding a `textarea` for Instructions that will be displayed in the email. I'm tempted to store that info in `event.data.instructions`, as it's only used for events and we don't want to overload the model more than it already is. Also, it's a private

[2020-08-31 21:16] #3251 closed

[2020-08-31 22:44] alinamanko opened #3445 "New Expenses dashboard experience - issues to look at"
**Review of things to be addressed on the new expenses dashboard**

The following are some of the things noticed - majority of them are rather small but can impact the user experience. Others, do require more immediate attention.

1.  The filter option for payout options does not always work. On occasions, an error message is received. An investigation into the source of the problem shows the foll

[2020-09-01 00:38] alanna commented on #3442
OK, great! I don't think hosts really need private updates. It just needs to be clear to them who will receive notifications, and I think it is now.

[2020-09-01 06:44] Betree opened #3446 "Host dashboard E2E tests paypal preapproval warning"
In E2e tests (ie. https://github.com/opencollective/opencollective-frontend/pull/4984/checks?check_run_id=1053372049) we get a warnings like this one:

It's probably linked to the fact that the host dashboard now triggers a request to PayPal to fetch the pre-approval balance. It's unclear though why we didn't have this warning on the previous dashboard (both are calling `paymentMethod.getBalanceFo

[2020-09-01 06:45] znarf commented on #3446
Also, clean the code on API side to provide cleaner logging, using the `logger` object.

[2020-09-01 08:28] Betree commented on #3445
This one was a network error. I've made some changes to improve the error messages and make sure the page doens't crash.

That was initially implemented this way so that you can quickly go back to the expense if there's something wrong or if you need to check something afterward. I've made the change for them to disappear after processing.

All the other items have been fixed, mostly in https://gi

[2020-09-01 09:26] xdamman opened #3447 "Can't pick payout method (CSS issue)"
e.g. https://opencollective.com/bienfaiteurs/expenses/new

I've also heard other people complaining about that for https://opencollective.com/allforclimate-uk

<img width="864" alt="Screen Shot 2020-09-01 at 11 25 00 AM" src="https://user-images.githubusercontent.com/74358/91832544-d5145700-ec45-11ea-8ce5-9f1cc90d3f86.png">

[2020-09-01 09:37] Betree commented on #3447
@xdamman This issue should have been fixed yesterday (https://github.com/opencollective/opencollective-frontend/pull/4980). Is the screenshot newer than that? I can't reproduce in production

[2020-09-01 10:01] Betree opened #3448 "Automatically set Notification channel to Slack"
## User story
On `/edit/webhooks`, some users paste Slack webhooks as the address. It's legit, and we should support that.

## Best solution for this problem
- On `/edit/webhooks`, also display `Notification` with `channel` === 'slack'`
- When a URL starts with `https://hooks.slack.com`, automatically set its `channel` to `slack`
- On the webhook page:
  - Add a "Webhook type" field to select betw

[2020-09-01 11:46] znarf opened #3449 "No error when Gift Card source Payment Method is deleted"
If the source Payment Method of a Gift Card is deleted, we get the following error:

[code]

Likely after trying to fetch it with:

[code]

We should make sure to better handle that case.

[2020-09-01 20:12] patcon commented on #3392
Agree with this thinking. As a creative exercise in complexity thinking, I'm going to riff about the patterns that seem to have emerged and succeeded in another organic, self-replicating system: animals! 🐴 🐷 🤸‍♀️

- Creation should be very accessible to hosts, maybe even incentivized. Creating new collectives should feel so good it releases endorphins.
- Hosts should be encouraged to actively nurt

[2020-09-02 01:02] alinamanko commented on #3445
Fantastic - thank you so much @Betree!

[2020-09-02 03:44] Memo-Es commented on #3278
### Design update
---

@alanna @piamancini @kewitz
[→ Figma prototype ](https://www.figma.com/proto/KinuveYf4WUlRIXzMTnmIsmO/OC.com-Lab?node-id=8170%3A0&viewport=2227%2C732%2C0.39049237966537476&scaling=min-zoom)

| 1. Collective admin  |  2. Collective admin |  3. Collective admin |  4. Collective admin |  5. Collective admin | 6. Collective admin   | 7. Vendor  | 8. Vendor  | 9. Vendor  | 10. Ve

[2020-09-02 06:19] Betree commented on #3445
Fixes have been deployed

[2020-09-02 06:19] #3445 closed

[2020-09-02 06:31] znarf opened #3450 ""Undefined" expenses in User Report"
Un-tagged expenses are appearing as "undefined" expenses in the monthly user report.

<img width="643" alt="Screenshot 2020-09-02 at 08 30 11" src="https://user-images.githubusercontent.com/806/91939777-b5893700-ecf6-11ea-85ad-2871b71197c4.png">

We should write "unclassified expenses" instead of "undefined".

[2020-09-02 06:42] Hmawn commented on #3445
#4335

[2020-09-02 06:42] Hmawn commented on #3445
#3445

[2020-09-02 08:57] Betree opened #3451 "Incognito recurring contributions should be listed on the main profile page"
## User story
As a financial contributor, managing my contributions should be as easy as possible. I should have a single page to see all my recurring contributions, regardless of if they are incognito contributions or regular contributions.

The fact that we manage incognito contributions via a separate profile is a technical implementation detail, and ideally we shouldn't complicate the user exp

[2020-09-02 12:43] piamancini commented on #3278
Hi @Memo-Es ! Great Some feedback:

Image [number 3](https://user-images.githubusercontent.com/49539954/91928939-e93a7180-eca2-11ea-975d-59b5abce4326.png) Replace the question in the dropdown for: What's their name?

On image [number 5](https://user-images.githubusercontent.com/49539954/91929026-24d53b80-eca3-11ea-8f52-85b14c437ea2.png) We should remove the blue box that prompts them to create an

[2020-09-02 12:44] piamancini commented on #3278
also cc @kewitz you should assign to the issue so you get updates.
best !

[2020-09-02 22:39] alanna opened #3452 "Add download receipt option to redeemed gift cards view"
## User story
As an Organization admin, I want one place to see all info about gift cards I've funded, including receipts.

## Best solution for this problem
Add a `download receipt` link to the list of gift cards on the `redeemed` tab of the gift cards settings section.

## MVP
We already have the MVP option to download receipts from the `transactions` list, but it would be much better to have ev

[2020-09-02 22:56] alanna opened #3453 "Redirect to the relevant page after accepting invitation"
## User story
As a newly invited admin of a Fund/Collective/Organization, after I click `accept` I should be redirected to the page I just accepted the invitation from.

Currently you click accept and then just stay stuck here:
<img width="502" alt="Screen Shot 2020-09-03 at 10 54 56 AM" src="https://user-images.githubusercontent.com/5498878/92045213-1aff2580-edd4-11ea-9ab9-20f0542d1e83.png">

[2020-09-03 01:21] Memo-Es commented on #3278
Fixed in [same comment](https://github.com/opencollective/opencollective/issues/3278#issuecomment-685273138)
@piamancini

[2020-09-03 01:26] alanna commented on #3392
I loved your comment @patcon :D

[2020-09-03 01:54] alanna commented on #3278
This is looking great! It's going to be a very helpful feature. I especially like how you handled account creation in the process.

I think the tickbox for `organization profile` will be confusing and people won't use it correctly. That's the language of how we understand our platform, not how the user thinks. I suggest there are three boxes, `name` `organization/company (optional)` and `email`. I

[2020-09-03 02:46] alanna commented on #3242
Another example https://opencollective.com/hrmi

<img width="915" alt="Screen Shot 2020-09-03 at 2 44 23 PM" src="https://user-images.githubusercontent.com/5498878/92065583-18acc380-edf4-11ea-9689-5f682fb87329.png">

@Betree is there any quick fix for this? This Collective is going to start a big fundraising campaign soon, and it doesn't look good.

The same problem is also affecting their host ht

[2020-09-03 06:19] Betree commented on #3452
A single gift card can have multiple receipts, as it can be used for multiple hosts. How should we accommodate for this?

I also don't clearly understand the benefit of having that on this page vs having that in the transactions page, where you can download receipts by transaction or bundled by host.

Also important to note, there was a discussion to have a dedicated page for receipts in the setti

[2020-09-03 06:22] Betree commented on #3453
There can be multiple invitations on this page, we should do it only if there's only one invitation as it could otherwise stop you while you're trying to confirm the others. Also, the collective name in there is a link so it's easy to move to the collective page.

[2020-09-03 06:26] Betree commented on #3242
Either we wrap the text (it will go on a new line) or we truncate it and display the full name on hover. I personally prefer the first option.

[2020-09-03 07:19] Betree opened #3454 "Public GraphQL V2 docs"
## User story
Exposing a public documentation for our GraphQL API would be a great way to encourage people to use it. Today, when they ask for it, we usually link to [the blog post](https://medium.com/open-collective/open-collective-graphql-api-preview-3b42ed1d55ff) where it was announced (and that contains some useful info to connect).

## Best solution for this problem
An experiment was deployed

[2020-09-03 08:09] alanna commented on #3453
OK, makes sense. I didn't realise it could be more than one on that page.

[2020-09-03 08:10] alanna commented on #3242
Wrapping is fine. Even if it doesn't look perfect it will be a lot better
than it looks now.

[2020-09-03 08:45] xdamman commented on #3266
Running into this issue again (a manual donation for which the amount doesn't match with the wire transfer, would be much easier to comment on the pending donation to follow up in one place).

Also, I love the fact that you can now quickly add an emoji reaction to a comment. How cool would it be if you could add such reaction to a donation?

[2020-09-03 09:05] Betree commented on #3447
Closing as I believe this was fixed at the time of report. Feel free to re-open with more details if that's not the case.

[2020-09-03 09:05] #3447 closed

[2020-09-03 09:16] Betree commented on #3242
Let's experiment with `max-width: 45%` on the title:

![Screenshot_2020-09-03 gomymobiBSB Free Online Site Shop Builder - Open Collective](https://user-images.githubusercontent.com/1556356/92096094-ca3cfc00-edd6-11ea-9d39-675a20e8bf28.png)

![Screenshot_2020-09-03 Motu Economic and Public Policy Research Trust - Open Collective](https://user-images.githubusercontent.com/1556356/92096100-cad59280-e

[2020-09-03 17:16] sbinlondon commented on #3331
Do we still need to do work on this?

For example in the API, there's `platformFee` on the `Transaction` interface, do we also want to deprecate that field and update it to `platformContributionAmount`?

[2020-09-03 18:40] znarf commented on #3331
No, there is nothing wrong with `platformFee` if it's the classic platform fee. The problem was calling a voluntary contribution a "fee".

I addressed that in https://github.com/opencollective/opencollective-api/pull/4310

[2020-09-03 21:11] alanna opened #3455 "Automatically add http:// to the start of URLs for links in text editor"
## Problem
Just had a support request where a user got blocked because they thought the URL link feature of our text editor was broken. It turned out they were just putting in `example.com` instead of `http://example.com`. The box just turns red with no message about how to fix it, which is not helpful.

![url](https://user-images.githubusercontent.com/5498878/92167606-8f969a80-ee8e-11ea-85c1-b7da

[2020-09-03 21:17] alanna opened #3456 "Surprising color conversion after luminance adjustment"
**Describe the bug**
A Collective admin is trying to update the custom color for [their Collective](https://opencollective.com/hrmi) to `#262262` which is a dark blue.

<img width="497" alt="Screen Shot 2020-09-04 at 9 13 03 AM" src="https://user-images.githubusercontent.com/5498878/92168814-dbe1da80-ee8e-11ea-87ee-e5832da3469e.png">

However, when they enter that and click save, it turns grey.

!

[2020-09-03 21:49] alanna commented on #3242
Looks good to me!

[2020-09-03 21:56] alanna commented on #3452
Ah, I think I meant "gift card payment transaction" then. I thought the gift cards settings would show a list of when the gift cards had been used by the recipient. But maybe that's not the case? I was imagining a similar button to what we see on the transactions list to download the receipt. It could show in both places.

Maybe a better solution is to have a filter on the transactions view for gi

[2020-09-04 06:31] Betree commented on #3456
Duplicate of https://github.com/opencollective/opencollective/issues/3383

[2020-09-04 06:34] #3242 closed

[2020-09-04 06:37] Betree commented on #3452
That would be the simplest to implement. Also I'm not sure if it's related, but gift card transactions were missing in the initial release of the transactions page and were added this week.

[2020-09-04 06:38] Betree commented on #3456
Though this example of `#262262` turning to grey is a little strange, let's keep it open.

[2020-09-04 09:29] Betree commented on #3347
I'm currently rewriting the `fillStripeInput` with a better understanding of Cypress (thanks to https://www.cypress.io/blog/2020/01/16/when-can-the-test-stop/). I hope it will help to solve issues with payments, in particular the ones like https://github.com/opencollective/opencollective/issues/3347#issuecomment-681736166

[2020-09-04 12:08] sbinlondon commented on #3331
In that case I'll close this issue

[2020-09-04 12:08] #3331 closed

[2020-09-04 12:31] znarf commented on #3387
Taken care of.

[2020-09-04 12:31] #3387 closed

[2020-09-04 12:39] znarf commented on #1916
Updated numbers with a slightly different query (grouping by `PaymentMethod.id`).

[code]

- 9091 ACTIVE monthly recurring contributions
- 8971 ACTIVE monthly recurring contributions backed by a credit card
- 7203 total credit card transactions if batching
- 6551 non-batchable transactions
- 652 batches of more than 1 transactions
- Up to 38 transactions batched together. Cases between 10 and 20 a

[2020-09-04 18:48] qw-in opened #3457 "Redirect to 404 after changing URL slug in profile"
**Describe the bug**

When changing URL slug in profile edit (at `/<slug>/edit`), after saving a 404 page is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/<slug>/edit`
2. Change the `URL slug` field
3. Click save
4. See 404

**Expected behavior**
Correctly redirect to the new page at `/<new slug>/edit`

[2020-09-04 18:54] qw-in commented on #3457
Looks like [this](https://github.com/opencollective/opencollective-frontend/blob/9d8ff5ddd9b3c0a6dc76c7a489398d57e321f041/components/edit-collective/index.js#L73-L85) is likely the code in question

[2020-09-04 19:49] znarf commented on #3457
Interesting, this was supposedly fixed in https://github.com/opencollective/opencollective-frontend/pull/4875

[2020-09-04 19:54] qw-in commented on #3457
@znarf happened to me this morning, not sure if because it's a personal account that could change anything?

[2020-09-04 20:02] qw-in commented on #3457
https://github.com/opencollective/opencollective-frontend/pull/4875 introduced it as the following:
[code]
Then later [here](https://github.com/opencollective/opencollective-frontend/commit/831928e789612b3f93524ddaead56d2da0c5c11c) was changed to:
[code]

Looks like the `collective.slug` is no longer being used in `replaceRoute`

---

Of minor note`(eventSlug || slug)` will have issues with falsy

[2020-09-05 22:37] alanna commented on #2017
Could it be possible to move forward with [my suggestion](https://github.com/opencollective/opencollective/issues/2017#issuecomment-637855825) of how to implement this pretty easily using bank transfers?

[2020-09-05 22:40] alanna commented on #2017
Part of this is being worked on in #3190 already.

[2020-09-06 04:47] Kristinita commented on #2993
This issue still relevant.

Thanks.

[2020-09-06 16:17] #3004 closed

[2020-09-06 23:43] alanna commented on #1073
I still think we should find a way to do this if possible.

[2020-09-07 02:31] alinamanko opened #3458 "Support Metrics Report August 2020"
### Support Metrics Report August 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/92342894-625c1d80-f116-11ea-8f59-12bfde80abc7.JPG)

The number of tickets received has reduced by 17% from 401 in July to 332 in Augus

[2020-09-07 07:00] #3399 closed

[2020-09-07 07:00] #3311 closed

[2020-09-07 07:00] #3118 closed

[2020-09-07 07:44] alanna opened #3459 "Don't automatically capitalize tier titles"
If you create a tier with a custom title, it overrides your capitalization choices and capitalizes every word. This is not the correct convention in English (it should be title case if anything), but anyway we should allow the user to make the choice themselves, and retain their capitalization in the displayed text string.

E.g. this user did not capitalize anything but the first word, but the who

[2020-09-07 08:01] Betree commented on #3459
One problem is that all default tiers, "backer" and "sponsor", have been created lowercase since the beginning. It will not look good if we just disable capitalization. I think your other suggestion, using title case, should work better.

[2020-09-07 08:24] Betree opened #3460 "New script to migrate a collective currency"
## User story
We often get support requests from people who want to change their currency. It's a very tedious process to do manually, and as a result we try to avoid it whenever we can. But there are things like https://opencollective.com/sdkman ($), hosted by https://opencollective.com/sci-pi-limited (£) that are legit cases to migrate and that we'd actually want to migrate because we don't want

[2020-09-07 10:40] sbinlondon opened #3461 "[PROJECT] New contribution moderation and spam Q3/Q4 2020"
:rotating_light: :rotating_light: :rotating_light: **We want community feedback on this! Please read.** :rotating_light: :rotating_light: :rotating_light:

This is our main issues for discussion of the moderation project as a whole. If you have ideas for what you'd like to see relating to moderation on Open Collective, and it isn't mentioned in the issues linked in the **Roadmap & Timeframe** sect

[2020-09-07 10:41] sbinlondon commented on #2741
Please see our updated project for Q3/Q4 2020 [here](https://github.com/opencollective/opencollective/issues/3461) for further discussion

[2020-09-07 10:41] #2741 closed

[2020-09-07 10:57] sbinlondon opened #3462 "Moderation short-term goals"
To implement ASAP (second sprint of Q3, first sprint of Q4 2020)

This section is about what we want to implement in the next few weeks. Ideally, we’ll discuss what’s set out in this proposal, come up with a well-scoped MVP we are happy with releasing soon (but can iterate on to refine), and start implementation as soon as possible. For this reason the list is short and scoped.

### 1. Rejecting i

[2020-09-07 11:06] sbinlondon opened #3463 "Ability for Collective admins to cancel/reject financial contributions"
[Previous issue for Host refund and discussion here.](https://github.com/openCollective/openCollective/issues/2006)

## User story

As a Collective admin, I want to be able to refuse/cancel financial contributions so that I can have a say in who my project accepts money from and who shows up on my page as a contributor, and to combat backer spam.

## Best solution for this problem/MVP

Implementin

[2020-09-07 11:06] sbinlondon commented on #2006
Please refer to our updated issue for Collective admins going forward: opencollective/opencollective#3463

[2020-09-07 11:06] #2006 closed

[2020-09-07 11:12] sbinlondon opened #3464 "Update ‘Moderation’ and ‘Community Guidelines’ documents"
Open Collective team is currently brainstorming what we would like to see in our updated community guidelines. This includes adding new guidelines, deleting some if necessary, updating ones where more details are needed, etc.

These will then be released with a blog post detailing our new guidelines and also details of our new moderation proposal and project.

@piamancini and I are collaborating o

[2020-09-07 11:24] sbinlondon opened #3465 "Allow Collectives to ‘filter’ the sponsors they show on their website"
Currently, many Collective admins manually filter/amend the data exported from Open Collective for using on their websites. We want to make this process easier for them and less manual. (Additionally, many Collectives don't filter the data and there has been negative feedback lately about the sponsors being displayed.)

## User story

_As Collective admin, I can flag contributors/sponsors that I d

[2020-09-07 12:04] sbinlondon opened #3466 "Implement a categorization system for Hosts/Collectives to prevent contributions from certain type of contributor"
## User story

_As Host or Collective, I can choose to block contributions from certain categories of contributors so that there is less work for me to do to filter the kinds of contributions I receive._

## Best solution for this problem

In the Host/Collective settings, we have a section called 'Filter contributions'/'Moderation' or something, and we will have a checkbox list of categories ('cas

[2020-09-07 12:38] sbinlondon opened #3467 "Moderation medium-term goals"
To implement by end of Q4 2020

This section is for steps we should/could be taking in the moderation project that require a bit more thinking or discussion for how we can best implement it in the Open Collective way (or because they are more difficult to implement and will need more time to build).

### 1. Block account from contributing/interacting

As a next step beyond rejecting a contribution

[2020-09-07 12:39] Betree commented on #3466
My opinion is that the priority is to have this for Collectives (not hosts). Most of the Collectives impacted by this issue will be the ones hosted by OSC, and I don't think OSC can decide to block donations from casinos for all their hosted Collectives.

[2020-09-07 13:00] Betree commented on #3465
We may want to have a dedicated issue for `rel=sponsored nofollow`. It's a very simple task that can actually be tackled before this one.

[2020-09-07 20:47] Memo-Es opened #3468 ""Create an Organization" Form update"
We are updating the design of the form to create an organization.

**Main goals:**
* Consistency in every flow where we allow users to create organizations
* Improved experience
* Force the creator to confirm of being a legit representative of that organization.

| **Previous design**  | **New proposal**  |
|---|---|
| <img width="1349" alt="Screen Shot on 2020-09-07 at 15-33-14" src="https://user

[2020-09-08 02:09] nonsodaniel commented on #2745
Hi @Betree, can I work on this issue?

[2020-09-08 03:26] jeffin143 commented on #2745
@nonsodaniel I have almost completed , there is a pr

[2020-09-08 03:29] alanna commented on #3242
<img width="1244" alt="Screen Shot 2020-09-08 at 10 46 58 AM" src="https://user-images.githubusercontent.com/5498878/92430124-06fa6000-f1e8-11ea-9db9-5155a564e337.png">

Looks like the wrapping isn't respecting word breaks. It should keep the whole word together if there isn't a space.

[2020-09-08 06:12] Betree commented on #3242
I guess it varies across browsers/OS, below is what I get. Pushing a potential fix that should unify that.

![Peek 2020-09-08 08-11](https://user-images.githubusercontent.com/1556356/92439335-ee1f8980-f1aa-11ea-9cef-3c6f53cc3185.gif)

[2020-09-08 06:33] Betree opened #3469 "Incognito recurring contributions should be listed on the transactions page"
## User story
As a financial contributor, managing my contributions should be as easy as possible. I should have a single page to see all my transactions, regardless of if they are incognito contributions or regular contributions.

The fact that we manage incognito contributions via a separate profile is a technical implementation detail, and ideally we shouldn't complicate the user experience to

[2020-09-08 06:39] ericeasthope commented on #2808
@znarf It seems like it's been a few months since there's been a contribution on this issue. Is there still work to do?

[2020-09-08 11:26] alanna opened #3470 "Remove annual budget text above goals progress bar"
By default above the progress bar when a Collective sets funding goals, there is text saying

[This Collective](https://opencollective.com/hrmi) is about to run a time-limited crowdfunding campaign and this text doesn't work for them, as this campaign is only one small part of their overall budget. Because it's in such a prominent location, it's a big problem.

Can this text urgently be removed fo

[2020-09-08 11:37] alanna opened #3471 "Collective showing mixed currencies and maybe wrong platform fees"
This is regarding [HRMI](https://opencollective.com/hrmi), which @znarf changed from NZD to USD (along with its host) recently. We did a test contribution of $1 and the transaction details for it are looking weird, with both USD and NZD in the mix, and seemingly $0.07 in platform fees instead of the expected $0.05. It could be that USD $0.05 = NZD $0.07?

<img width="674" alt="Screen Shot 2020-09-

[2020-09-08 11:55] sbinlondon opened #3472 "Set minimum 'fees on top' amount to $1"
For fees on top/platform fees, we calculate a range of options (10%, 15%, 20%, etc). Sometimes the 10% option will be below $1. For the MVP we decided to leave it at this, with a planned iteration to make the minimum option at least $1, but this has not been done yet.

Example:

Contribution is $5.00
Fees on top options are $0.50 (10%), $0.75 (15%), $1.00 (20%), 'Other'.

We would adjust this to m

[2020-09-08 12:31] sbinlondon commented on #3465
@znarf mentioned that he thinks it would be good to do this via categorization (filtering 'casinos', 'adult websites', etc) rather than individual contributors, which will also help with our other issue of categorization for blocking contributions on the platform

[2020-09-08 13:03] #3470 closed

[2020-09-08 19:19] sbinlondon commented on #3463
MVP scoped proposal suggestion:

* Implement **'Refund'** and **'Reject'** on Collective page transactions section (as buttons here, perhaps add a 'View actions/details' drop down like on Host transactions)
<img width="1229" alt="Screenshot 2020-09-08 at 20 16 01" src="https://user-images.githubusercontent.com/37520401/92518420-3e7d0280-f210-11ea-8533-da84e97589fc.png">

* 'Refund' is exactly like

[2020-09-08 21:32] rickhanlonii commented on #3462
What do you think about an even shorter term fix we could put in place to remove all incentives to spammers and inform them that they no longer get the benefits they're after? If there were no SEO benefits to adding links to sites, spammers wouldn't pay money for it:

- **Remove benefit via redirect**: Update the links returned from the OC API to return redirects instead of the raw URLs. Instead o

[2020-09-08 22:03] alanna opened #3473 "Remove 'hibernating at the north pole'"
It's a negative experience for a new user to set up their page, put effort into customizing the logo and color, work on their settings, and then have it look like this:

<img width="1263" alt="Screen Shot 2020-09-09 at 10 02 16 AM" src="https://user-images.githubusercontent.com/5498878/92532046-8f7a0e80-f283-11ea-8886-fdfde08a803c.png">

Can we please just remove this altogether? It's an off putti

[2020-09-09 01:28] alanna commented on #3471
Resolved - indeed it was showing the fees in NZD.

[2020-09-09 01:28] #3471 closed

[2020-09-09 01:30] alanna opened #3474 "Can't load Sustain 2020 event page"
Clicking on the first event on this page takes you to https://opencollective.com/sustainoss/events/sustain-2020-5874aeeb which errors out. The other events seems to be working.

![Screen Shot 2020-09-09 at 1 29 23 PM](https://user-images.githubusercontent.com/5498878/92543826-8f3c3c00-f2a0-11ea-88bb-1550fea92ede.png)

[2020-09-09 06:27] Betree commented on #3463
Why not?

[2020-09-09 06:35] Betree commented on #3462
As a simpler one that goes in the direction of @rickhanlonii's [comment](https://github.com/opencollective/opencollective/issues/3462#issuecomment-689147260), adding `rel=sponsored nofollow` on all contributors' websites links as it was proposed in https://github.com/opencollective/opencollective/issues/3465 is something trivial that could be considered for this scope.

[2020-09-09 06:37] Betree commented on #3473
More generally, this should be about hiding the "Contributions" section (both in the page and the menu) if there's nothing to display in there.

[2020-09-09 06:41] Betree commented on #3474
@alanna I can't reproduce on Chrome/Firefox latest versions. Could you see if you get more details in the browser console?

Also, what kind of error do you get on https://opencollective.com/sustainoss/events/sustain-2020-5874aeeb ?

[2020-09-09 06:45] znarf commented on #3474
@Betree I get it here, likely some dirty deleted object.

<img width="911" alt="Screenshot 2020-09-09 at 08 45 10" src="https://user-images.githubusercontent.com/806/92564032-d1518780-f278-11ea-952e-719d99e1a439.png">

[2020-09-09 06:48] znarf commented on #3463
@sbinlondon missing is the "Cancellation" of the Recurring Contribution when rejecting.

Also, I think it would be generally useful for us to clarify the definition of "Membership", especially the `BACKER` role. What does that mean and  when is it ok to delete the entry?

In this case, I think we want 'Reject' to always delete the `BACKER` membership, whatever the case.

[2020-09-09 09:25] Betree commented on #3465
I agree with that. Adding a `categories` (or similar) field on the API once we have https://github.com/opencollective/opencollective/issues/3466 is free.

From what I understand this issue is about the public GraphQL API right? Should we cover widgets as well?

[2020-09-09 09:31] Betree commented on #2097
There was an important feedback from the team that hiding contributors on your collective page goes against our value of transparency. I now think that we should close this issue to focus on other solutions.

[2020-09-09 10:12] sbinlondon commented on #3463
I thought it would be more difficult, esp re: the 30 day thing if they're long-time contributors. Do you think it's ok for the MVP to implement removing the contributor from the Collective if their only contributions have been made within the last 30 days, even multiple ones?

Yes you're right, sorry. I'll add `BACKER` to clarify!

[2020-09-09 10:38] Betree commented on #3463
So for sure we can't remove the past transactions, but removing the membership is technically ok. The interface will acknowledge that you contributed in the past (on the `transactions` page) but you'll be removed from the contributors.

One thing though: that also means that you won't be displayed on places like Top Contributors. But let's imagine that a company provides 90% of the budget of my co

[2020-09-09 12:56] Betree commented on #3333
Seems all done

[2020-09-09 12:58] Betree commented on #3055
Seems too complex to achieve for the small gain

[2020-09-09 13:02] sbinlondon commented on #3463
Ok, good to know the distinction. So if we can't remove transactions from showing, would we want to add a status like 'REJECTED', because I can imagine a case where say, Big Tech Co. makes a first contribution to Project X, Project X says 'we don't want your money' and rejects it, we remove the membership and refund but Big Tech Co. still shows up on their transactions list and they might be unhap

[2020-09-09 13:06] Betree commented on #3463
By default they will be displayed as "refunded". We can indeed add a "rejected" status on Orders, that's a good idea.

[2020-09-09 13:43] Betree commented on #3469
Feedback from the team:
- We need to bundle the incognito contributions in the bundled receipts too

[2020-09-09 13:57] sbinlondon commented on #3468
This is a good feature to put up as a bounty. Whoever works on it can refer to code in our updated Create Collective Flow form and the onboarding modal (for adding the administrators). Will add additional specs later today.

[2020-09-09 14:21] Betree commented on #3288
All feedback in this issue have been taken into account to improve the new expenses list, which is now the default view on the host dashboard. We'll keep the old one in the `Expenses (legacy)` tab a bit longer in case there's anything we forgot.

Feel free to open new issues if you are missing some features or if you see things that could be improved.

Thank you everyone!

[2020-09-09 14:21] #3288 closed

[2020-09-09 14:23] Betree commented on #3299
That was done in https://github.com/opencollective/opencollective-frontend/pull/4963

[2020-09-09 14:23] #3299 closed

[2020-09-09 14:31] sbinlondon opened #3475 "Moderation long-term goals"
Ideas we think we might implement beginning in 2021 and a place for general discussion of long-term moderation goals and heuristics.

## Ideas so far

- Implementing a reporting/trust/reputation system and limiting accounts based on this.
- Allowing Collectives to turn on ‘review every contribution’ in the Create Collective Flow and other moderation tools baked in from the start.

Very open to ide

[2020-09-09 14:39] znarf commented on #3465
@Betree we don't link much to people website's on opencollective.com, for these links we already have `nofollow` (`props.openInNewTabNoFollow`). Do you want to add `sponsored` there? Where else precisely should we add `nofollow sponsored`? Which widget are we talking about?

[2020-09-09 15:35] JoyLubega commented on #3468
@Betree Is it okay, for this to be a bounty as @sbinlondon suggested. I would love to work on it.

[2020-09-09 22:42] rickhanlonii commented on #3462
@Betree yeah if you added `rel=sponsored` to the top `(n)` projects then you wouldn't need the redirect I mentioned, but if you did the redirect then all projects would get the attribute automatically without needing to update their scripts.

[2020-09-10 03:21] Memo-Es commented on #3374
### Design proposal

| Choose payee  | Payee info (Empty)  | Payee info (Filled)  | Grant application form (Empty)  |  Grant application form (Filled) | Expense summary  |
|---|---|---|---|---|---|
| ![Grant 1](https://user-images.githubusercontent.com/49539954/92677736-15c93b80-f2ea-11ea-9726-e6bceb9f3ccf.png)  | ![Grant 2](https://user-images.githubusercontent.com/49539954/92677741-182b9580-f2ea

[2020-09-10 04:31] alanna opened #3476 "Financial contribution pending email should only go to admins"
User feedback:

An odd thing I have noticed is that when someone makes a donation by bank transfer, they receive three emails:
1.       ACTION REQUIRED email: email with instructions for how to make the transfer.
This is all good.

2.       New pending financial contribution email: e.g. as shown below.

<img width="568" alt="Screen Shot 2020-09-10 at 4 29 29 PM" src="https://user-images.githubuser

[2020-09-10 05:58] Betree commented on #3476
Indeed, in https://github.com/opencollective/opencollective-api/blob/2c3a44d8ebcd5339131cfc8332891d54927a61ed/server/lib/payments.js#L490 we send the email to `order.createdByUser` but it should really go to the admins.

[2020-09-10 06:41] znarf commented on #3476
Yes, we should never rely on `createdByUser` for anything, except activity tracking.

[2020-09-10 08:00] Betree opened #3477 "Store user locale in DB"
## User story
- As the Open Collective core team, we need stats on locales to take informed decisions about prioritization
- As an Open Collective user, my locale choice is remembered across sessions so that I get the same regardless of my device

## Best solution for this problem
1. When user switch locale or upon login (if locale is not defined), store the user locale in DB as `User.locale`
2. U

[2020-09-10 08:04] znarf commented on #3477
For SSR, if the locale is different from what we can guess from Accept-Language, we need the chosen locale to be available in the HTTP request (as a Cookie).

If I have chosen a locale, and I'm connecting from a new device, we would need to set the Cookie when I authenticate.

[2020-09-10 08:39] Betree commented on #2962
I'm now prioritizing this issue to make sure we have the time to handle everything before the end of the year.

[2020-09-10 09:15] Betree opened #3478 "New contribution flow: show amount already contributed in header"
Frontend TODOs: https://github.com/opencollective/opencollective-frontend/blob/f80caaf53b977fcab1d500b4606895c43c0a1b09/components/new-contribution-flow/ContributionFlowHeader.js#L34
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4489%3A3180

![image](https://user-images.githubusercontent.com/1556356/92709063-e7357a00-f356-11ea-8c2a-2c054a

[2020-09-10 09:17] znarf commented on #2962
@piamancini the Tax Form system should works properly with Grants since the beginning. Please report issues if that's not the case.

[2020-09-10 09:19] Betree opened #3479 "New contribution flow: fetch profiles from GQLV2"
In the new contribution flow, profiles are still retrieved from `LoggedInUser` (GQLV1). We should fetch them dynamically from GQLV2.

Don't forget:
- [ ] https://github.com/opencollective/opencollective-frontend/blob/f43a9eda703544251b6db78832c803e6bbc18e0b/components/new-contribution-flow/index.js#L125

[2020-09-10 09:34] Betree commented on #2962
It should indeed, the query is looking at all expenses that are not type=`RECEIPT` (so invoices, grants and unclassified)

[2020-09-10 12:26] sbinlondon commented on #3465
[This widget](https://docs.opencollective.com/help/collectives/data-export#widget), not sure where it is in our code. I think it might be the `banner.js` one?

[2020-09-10 12:33] sbinlondon commented on #3466
I'm happy to scope it to Collectives first and discuss if/when/how we want to do it for Hosts too.

I think it would be a good thing to introduce for Hosts eventually, but maybe only for new Hosts going forward, and not existing Hosts.

[2020-09-10 12:39] sbinlondon commented on #3463
Updated proposal:

- Implement 'Refund' and 'Reject' on Collective page transactions section
- 'Refund' is exactly like the Host dashboard, it is only for mistaken transactions etc.
- 'Reject' is when you don't want the contribution
- 'Reject' for a one-time donation will: refund the transaction and set the status to `REJECTED`, remove the membership of `BACKER` from the Collective so they won't s

[2020-09-10 12:41] znarf commented on #3465
@sbinlondon I'm still lost. Where are you seeing a link to the website of a contributor? Where precisely should we add a `nofollow`?

Banner doesn't have any external link for example https://opencollective.com/core-js/banner.html

[2020-09-10 12:49] sbinlondon commented on #3465
Right I see, I had thought our widgets linked directly to the contributor website. I had not seen an example of the embedded widget, I had only seen the `https://opencollective.com/core-js/banner.js` version. So in that case that's fine, it's only the API data we need to concern ourselves with.

I like @rickhanlonii's [idea](https://github.com/opencollective/opencollective/issues/3462#issuecomment

[2020-09-10 12:51] sbinlondon commented on #3462
I like the redirect idea and had no idea that was a thing we could do - really clever. Have mentioned it on the specific issue here: https://github.com/opencollective/opencollective/issues/3465#issuecomment-690261925

I'd be interest in hearing @piamancini's thoughts on communicating the SEO changes?

Also just to be clear @Betree we have already added `nofollow` on contributor's website links (vi

[2020-09-10 12:57] znarf commented on #3463
Only the one where we pushed the button.

[2020-09-10 12:58] sbinlondon commented on #3468
@JoyLubega I'm writing a spec for the bounty and then we will decide how much to attach to it, but when we do you are welcome to take it on.

[2020-09-10 12:59] sbinlondon commented on #3463
And we would still remove their membership?

So what status would we display on their transactions that were not refunded/rejected, when they are no longer a member?

[2020-09-10 13:01] znarf commented on #3465
At this point, we should not change the default behavior of our API and replace `website` with redirect links.

If Jest and others want that, we can work together with them on updating their integration.

[2020-09-10 13:29] znarf opened #3480 "Billing: Payment Receipts section in "Settings""
## Purpose

People have a hard time finding their consolidated invoices, we need to make it more obvious.

## Owner

@znarf

# Quick wireframe

<img width="1190" alt="Screenshot 2020-09-10 at 11 26 03" src="https://user-images.githubusercontent.com/806/92736212-5ec8d080-f37a-11ea-8af9-13fe9cd244d2.png">

[2020-09-10 13:46] Betree commented on #3465
My bad, I missed that we already added the `openInNewTabNoFollow` prop on the existing links.

[2020-09-10 13:47] Betree commented on #3462
All good! I think the `nofollow` is sufficient, I missed that we already added it :slightly_smiling_face:

[2020-09-10 13:50] Betree commented on #3463
Correct. Your transactions page will display all your transactions, regardless of the membership of the account who made it.

[2020-09-10 13:57] sbinlondon commented on #3463
Ok that makes sense. I think this is enough to make a start with 🎉

[2020-09-10 15:03] sbinlondon commented on #3468
# Specs
## API
- [ ] update `CreateCollective` v2 mutation to include the field `website`

## Frontend
- [ ] create new components for `CreateOrganization` and `CreateOrganizationForm` following the [Figma design](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=2375%3A2)
- [ ] use the updated GraphQL v2 `CreateCollective` mutation to create the new

[2020-09-10 15:42] Upperholme commented on #3393
Chipping in on this thread from the perspective of a small host, still learning and feeling our way with the OC platform, and trying to understand how to get the best from it. Our rationale for being a host on OC is because we want to offer s service to small and pre-start/startup cooperative organisations and those that don't want to get bogged down in legal entities etc. As @znarf indicates, not

[2020-09-10 15:56] sbinlondon opened #3481 "Splitting login and long-term token functions in 'update-token' route"
Adding 2FA to the login process has shown the need for splitting and clarifying the functions of certain routes in the API.

The first 2FA iteration had all the 2FA functionality in the `/users/update-token` route which has always been used for logging in.

The current iteration moved the 2FA functionality to a separate endpoint, `/users/two-factor-auth`, which verifies the 2FA code with the token

[2020-09-10 18:29] kewitz commented on #2957
This is being validated in the ConnectAccount mutation and it occurs depending on the service being connected.

[2020-09-10 18:29] #2957 closed

[2020-09-10 23:19] mixmix opened #3482 "Buttons move as page loads"
**Describe the bug**
I'm an admin of a group and I want to go to the expenses.
I load the main page for my collective and go to click the `Budget` button, then more page loads and the button moves as I try to click it

**Expected behavior**
I want the page layout not to change as it loads

**Screenshots**

Page loading | Page loaded
---|---
![Selection_510](https://user-images.githubusercontent.co

[2020-09-10 23:21] mixmix commented on #3482
Possible solutions:
- put the settings button next to the Fiscal Host details area ... maybe way out on the right to make it clear and standalone?
- fix the height of the logo (if that's the problem)?

[2020-09-10 23:31] alanna commented on #3391
@Betree - things are picking up for OCNZ and there's a Collective that wants to start selling event tickets next week. Is there any way we can get this GST thing for NZ done soon?

@piamancini - OCNZ should pay for this but we don't have any money yet. We can add it as an expense and pay OC for it once we have that much in our balance.

[2020-09-11 00:04] kewitz commented on #3133
Just planned the overall steps for this project.
Each step maps to an issue I'll create and properly spec.
There's not so much that can be parallelized, I see the email template as something we can delegate from the beginning (perhaps as a bounty) while I take care of refactoring the payee information as a separate step in the expense flow.
After that refactor, I can tackle submitting on behalf an

[2020-09-11 03:00] rickhanlonii commented on #3465
@znarf @Betree the very specific spam issue that we should be solving is that spammers are donating to opencollective projects so that their links will be added to that projects homepage site (not to the opencollective domain).

See [this Medium article](https://medium.com/@maburzynski/how-i-acquired-many-backlinks-with-ur-dr-80-below-100-by-backlink-5e0e6e3ef07f) for an example of a guide for spa

[2020-09-11 03:07] alanna commented on #3465
* Maybe we should have a `contribution policy` set by Collective admins similar to the `expense policy` which is displayed or linked to during checkout in the contribution flow, because we need to clearly tell people what they are and are not getting for their money. We can't have Collectives promising XYZ for $100 and then not following through for certain payers just because they're doing it for

[2020-09-11 03:13] rickhanlonii commented on #3465
Are any collectives promising SEO qualified links for donations? These are sponsored links and the Google guidelines for sponsored links are to list them as nofollow/sponsored. Selling ad slots to website home pages for SEO benefits is akin to selling manipulation of page rank, the only use case for this is abuse.

[2020-09-11 07:04] Betree opened #3483 "Improve behavior for deleting gift card's source payment methods"
- Prevent deleting if active gift cards are attached (ask to contact support)
- On the gift card lists, show gift cards with deleted source payment method (as "disabled")

[2020-09-11 08:02] Betree commented on #3482
The image has a fixed height so you're right that the settings button is what creates the layout difference (the good part being, it *only* impacts admins). Now to solve it, I'd suggest adding an empty box that has the same height than the button when it's not there. We can eventually remove some margin if it looks to distant.

This would be a good solution, but the design team already added more

[2020-09-11 08:09] Betree commented on #3391
@alanna I don't have the bandwidth to do it right now (already have tax forms for organizations + release of the contribution revamp to handle). It's a big task, that can't really be treated in the background. We need to dedicate a day of work for it.

So if we want that done we need to give it a proper prioritization. I'm happy to work on this feature, but I'm not the best person to decide on how

[2020-09-11 08:22] Betree commented on #3465
Just to give some technical perspective on this: the complexity for us to do that is pretty low. What it would take is:
- Re-use our `/redirect` page, adding something like a `?noConfirm` param to make sure it redirects directly
- On the API resolver for `website`, we could set this as an option (ie. `useRedirect`) to support both behaviors

---

Another way for collectives to remove the incentive

[2020-09-11 10:05] mixmix commented on #3482
maybe I'll install a custom css extension for my browser and

[code]

![image](https://user-images.githubusercontent.com/2665886/92908552-725b6080-f47a-11ea-8d13-5310033a408d.png)

except it looks like I'd have to write some horrific css selectors to target that element :(
Alanna is yelling at me to go to bed

[2020-09-11 10:53] sbinlondon commented on #3465
Popping in from Slack after reading the article @rickhanlonii linked, thanks for that! Really eye-opening in a worrying way.

I personally think that this is a really good idea and possibly a better solution than returning a `redirect` with the API. The way I think about it, the collectives like Jest and Socket.io are pulling data from Open Collective. We can't really change they way they code the

[2020-09-11 11:09] sbinlondon commented on #3465
Very much agreed. However,

Following on from my post above, the more I think about it, the more I am uncomfortable with the idea that Collectives would be making deals for someone to donate to the Collective on our platform specifically for the SEO backlink.

Instead of OC _allowing_ a project to receive sustainable donations easily, instead a specific deal is being made between SEO Person X and

[2020-09-11 11:37] sbinlondon commented on #3463
Frontend

- [ ] add 'Refund' button for Collective admins (like for Host admins)
- [ ] create 'Reject' button and add it for Host and Collectives alongside 'Refund'
- [ ] add ability to display `REJECTED` status to transactions on the Collective page

API

- [ ] create Order status `REJECTED`
- [ ] create a `rejectContribution` mutation which refunds the transaction, removes the `BACKER` membershi

[2020-09-11 12:04] sbinlondon commented on #1993
Can I get an update on this? When I run local dev environment with the test account, I can see a 'Refund' button on transactions for the Brussels Together collective. But don't think the feature has been released elsewhere?

What is the latest status on this and were any of the issues in @Betree's last comment fixed/addressed/discussed?

[2020-09-11 12:13] Betree commented on #1993
@sbinlondon are you an admin of the Brussels Together host? The current status is that only host admins can refund transactions.

Regarding my previous comment:

We did some security improvements, but not a full review. Enabling the feature is a one line change, but I still think that we should review the security properly before doing so.

This is fixed.

Not sure about what to do with that, but

[2020-09-11 12:23] sbinlondon commented on #1993
Only using the `testuser` account on local dev.

Would it possibly be a candidate for adding 2FA to as an extra layer of security? And what specifically will we need to review to figure out if it's ready?

Agreed and I think it should be limited to Stripe/Paypal (if possible?)/gift card contributions (if that makes sense to do)

[2020-09-11 12:28] sbinlondon opened #3484 "API work for 'Reject contribution' feature"
## Specs

- [x] create Order status `REJECTED`
- [x] create a `rejectContribution` mutation which:
    - [x] refunds the transaction
    - [x] cancels the subscription if it's a recurring contribution
    - [x] removes the `BACKER` membership from the Collective
    - [x] emails the message to the rejected contributor if there is one

[2020-09-11 12:30] sbinlondon opened #3485 ""Reject" button for Collective admins on Transactions"
'Reject' is when you don't want the contribution at all and want to remove the member from the Collective.

## Collective transactions UI and where the 'reject' button might go under a 'view details'/'actions' heading
<img width="1252" alt="Screenshot 2020-09-11 at 13 07 25" src="https://user-images.githubusercontent.com/37520401/92923733-cd1b9a80-f42f-11ea-93cd-c2cd7aeb1575.png">

## Details and

[2020-09-11 13:18] Betree opened #3486 "Include incognito contributions in bundled PDF receipts"
*Related to https://github.com/opencollective/opencollective/issues/3469*

When users download a PDF receipt of all their contributions to a given host with their personal profile, the receipt should include their incognito contributions.

[2020-09-11 13:56] Betree commented on #1993
Could be, but the goal here is really to know if the feature is safe enough to open to any collective admins because we can't have the same level of trust in collective admins than in host admins when it comes to payment-related stuff.

Maybe, but then we may need to iterate later with a "Request refund" button. It's hard to explain to collectives why they can't reject contributions made via bank

[2020-09-11 14:03] Memo-Es commented on #3463
Why we removed the `needs design` tag? @sbinlondon

[2020-09-11 18:24] kewitz opened #3487 "Submit on Behalf Email Template"
Responsive HTML Email Template.
Consider existing data structure we use on our models.

Figma Component:
https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=5784%3A199748

Preview
![Desktop](https://user-images.githubusercontent.com/2119706/92960100-60120000-f443-11ea-8586-8ff55a887a64.png)

[2020-09-11 19:31] HeaTTheatR opened #3488 "Bug in the API"
Hello!
I am writing to you about a bug in the documentation - https://docs.opencollective.com/help/contributing/development/api/users-emails

![Снимок экрана 2020-09-11 в 17 46 20](https://user-images.githubusercontent.com/16930280/92965229-1692d680-f47e-11ea-9ba5-24531da175b3.png)
![Снимок экрана 2020-09-11 в 17 47 21](https://user-images.githubusercontent.com/16930280/92965247-1b578a80-f47e-11ea

[2020-09-12 12:31] RCheesley commented on #3200
+1 for this feature, we just implemented Github Sponsors and it would be awesome to be able to show them on our Open Collective!  Also because there is no way for us to embed Github Sponsors anywhere, it would be awesome to have them show in the Open Collective system so that they are represented with your widgets.

A suggestion for a later phase might also be to have some way to connecting up the

[2020-09-12 17:32] macbro3 opened #3490 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2020-09-13 12:59] ikeycode opened #3491 "Unable to join collectives"
Hi,

I've been trying to register Serpent OS with a collective but have had no luck. I'm forever stuck in "Collective pending approval" for days now. I've even withdrawn the application, fixed to "serpent-os" not "serpent-linux, emailed, etc, no luck. Thinking there may be an issue with the default OSC open source collective, I've withdrawn and attempted to join the Open Collective Europe, again w

[2020-09-13 13:01] ikeycode commented on #3491
For clarification this is to establish Serpent OS (https://serpentos.com) via OpenCollective to ensure a 100% transparent organisation without corporate influence. Whilst I'm in Europe (Ireland) other team members are elsewhere.

[2020-09-13 22:46] ikeycode commented on #3491
Update: We're reviewing this with OSC and believe a glitch in the matrix may have been involved, but things are now progressing. Taking this issue offline.

[2020-09-13 22:46] #3491 closed

[2020-09-13 23:38] alanna opened #3492 "Facebook pulling through logo instead of cover image and failing"
The link to https://opencollective.com/hrmi is not putting through an image when shared on Facebook. Here's how it appears and what the debugger says is wrong. I think for social media sharing it should pull the cover image, not the logo, as that is a better size and format. If there is no cover image it should pull some generic Open Collective illustration or logo, not be blank.

<img width="1009

[2020-09-13 23:47] alanna commented on #1798
Bumping again! Users would appreciate this. Can it be a bounty?

[2020-09-14 07:21] Betree opened #3493 "Considering using a cookie to store authentication token"
The pros of using a cookie would be:
- Being able to render authenticated pages with SSR
- Protecting ourselves against XSS attacks trying to steal the token. Any script that runs on the page can access `localStorage`, while a token with `httpOnly` cannot be accessed from javascript.

Things to consider:
- What would be the impact/complexity to adapt other internal services that we're using (ie. P

[2020-09-14 09:24] #3492 closed

[2020-09-14 13:25] sbinlondon commented on #3468
:gift: :money_with_wings: A **$500** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $500 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-09-14 13:25] sbinlondon commented on #3468
@JoyLubega Did you still want to do this? The specs are listed above - let me know if you have any questions.

[2020-09-14 13:26] JoyLubega commented on #3468
yes

On Mon, Sep 14, 2020 at 4:25 PM Kate Beard <notifications@github.com> wrote:

[2020-09-14 13:27] JoyLubega commented on #3468
I am on it. thanks @sbinlondon

[2020-09-14 13:27] sbinlondon commented on #3463
Sorry @Memo-Es will add it back. Let's talk when you're here on Tuesday.

[2020-09-14 13:46] Betree opened #3494 "Move collective's location to a separate table"
Account's location is currently defined by 4 columns in the `Collectives` table:
- `locationName`
- `countryISO`
- `address`
- `geoLocationLatLong`

I think all these should be migrated to a separate table for the following reasons:
- Location is a generic concept that is meant to be re-used for different purposes. For example, in the `Expenses` table, we have a `payeeLocation` field that could si

[2020-09-14 17:32] kewitz opened #3495 "Expense Flow: Payee Information as First Step"
Adds step concept to the Expense Flow.
Display Payee Information as the first step when creating the expense.
When editing, do not separate it as a first step, display everything normally.

Figma:
https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=5800%3A215726

### Previews
**Step 1**
![Invoice 2](https://user-images.githubusercontent.com/2119706/931

[2020-09-14 19:02] ffMathy commented on #1660
Any news?

[2020-09-15 05:59] Betree commented on #3495
Not sure if is makes sense for this particular use case, but the `Steps` component provides a generic framework to deal with multi-steps processes, though it may not be necessary if we use formik.

[2020-09-15 07:05] Betree commented on #3457
@qw-in thanks for investigating this one, and good catch for the `(eventSlug || slug)`.

[2020-09-15 07:21] Betree commented on #2446
Re-opening this issue, we don't use `react-add-to-calendar` anymore so the migration should be simpler. Also from https://momentjs.com/docs/#/-project-status/:

Also see:

<ul>
<li><a href="https://dockyard.com/blog/2020/02/14/you-probably-don-t-need-moment-js-anymore"><em>You Probably Don't Need Moment.js Anymore</em></a></li>
<li><a href="https://github.com/you-dont-need/You-Dont-Need-Momentjs/b

[2020-09-15 08:18] #3457 closed

[2020-09-15 08:42] #3469 closed

[2020-09-15 08:43] #1621 closed

[2020-09-15 08:43] znarf commented on #1664
Done! https://github.com/opencollective/opencollective-api/pull/4469

[2020-09-15 08:43] #1664 closed

[2020-09-15 08:44] #3490 closed

[2020-09-15 10:33] RCheesley commented on #3003
+1 especially for events where we're using the Open Collective events feature, we'd like to be able to embed the booking process within the event site. It would also be nice to have the other parts (like general donation) embed-able as well!

Any ideas/thoughts on when this might be a possibility at all?

[2020-09-15 12:16] kewitz commented on #3495
@Betree thanks for raising that up!
Since the summary happens after formik is submitted, this form has only two steps, and in my current WIP, I'm reusing the current implementation of steps for it.
Now I think we should really use the Steps component for consistency, even if it is a bit of an overkill for what we need.
I'll refactor and submit for review.

[2020-09-15 12:54] piamancini commented on #3415
This is very problematic for some projects using open collective, specially https://opencollective.com/meet-coop/
Because they are selling subscriptions using open collective.

Is there a path through which we can solve this?

Alternatively, how can they access this information?

[2020-09-15 12:58] znarf commented on #3415
The only easy thing I see for now, they can always contact support and we do an export for them.

[2020-09-15 12:59] piamancini commented on #3415
That is not a realistic solution.
Maybe @kewitz can do a query in metabase like we did for our accountants so they don't need to ping us every time.

[2020-09-15 13:43] Betree opened #3496 "Let admins pay expenses if tax form hasn't been received"
- Pay button should be enabled
- Paying these expenses should work
- Expenses with pending tax form should **not** be displayed when the `Ready to pay` filter is selected (already the case today)

[2020-09-15 14:13] #3333 closed

[2020-09-15 14:14] Betree commented on #3136
Closing this project as we now have other priorities. Issues will be worked on individually.

[2020-09-15 14:14] #3136 closed

[2020-09-15 17:50] kewitz commented on #3495
Ignoring `When editing, do not separate it as a first step, display everything normally`, having two different UXs sucks too much.

[2020-09-15 23:20] alanna opened #3497 "Github Sponsors transactions not showing as contributions"
We set up this organization profile to process incoming revenue through Github Sponsors: https://opencollective.com/github-sponsors/

@alinamanko adds these funds manually to Collectives based on the data export we get, with this org as the source. However, the transactions are not showing as contributions, which we want so we can see info like which Collectives are getting funded and how much to

[2020-09-15 23:57] alanna opened #3498 "Email preview showing wrong expense receipt image"
Here's how the email appears:
<img width="932" alt="Screen Shot 2020-09-16 at 10 48 45 AM" src="https://user-images.githubusercontent.com/5498878/93276374-70472800-f813-11ea-8e99-49176f94043c.png">

And here's that actual image:
![Screen Shot 2020-09-16 at 9 55 07 AM](https://user-images.githubusercontent.com/5498878/93276387-7937f980-f813-11ea-826c-58544e3c739e.png)

It's the correct image in the

[2020-09-16 00:02] alanna opened #3499 "Blank button in host fees transaction"
If you click `show details` on an automated host fee transaction on an integrated host budget, there is a weird blank button, and no transaction details. This seems to be the case for all hosts with integrated budgets.

![Screen Shot 2020-09-16 at 9 36 24 AM](https://user-images.githubusercontent.com/5498878/93276687-67a32180-f814-11ea-9428-3b77a4c190b3.png)

[2020-09-16 00:05] alanna opened #3500 "Title/description missing from Fund transaction"
This appears in the [transactions list for Foundation](https://opencollective.com/foundation/transactions):
![Screen Shot 2020-09-16 at 9 58 32 AM](https://user-images.githubusercontent.com/5498878/93276820-c2d51400-f814-11ea-892a-b3e1a2a454a1.png)

I suspect what's going on is: this is the host using `add funds` on a Fund profile (Agora), and it not correctly generating the `Financial contributio

[2020-09-16 00:12] alanna opened #3501 "Improvements for campaign-based fundraising"
I came across this message at the top of the `about` section of [an event](https://opencollective.com/athensmutualaidnetwork/events/sick-out-fund-a58a3a3b):
<img width="1258" alt="Screen Shot 2020-09-16 at 10 45 22 AM" src="https://user-images.githubusercontent.com/5498878/93276943-1ba4ac80-f815-11ea-9ea1-97b9f33b2c2d.png">

The fact that the users are needing to display this message tells me our

[2020-09-16 06:15] Betree commented on #3498
Supposed reason: because the image is wider than high (landscape), it may be that it's repeating itself to fit the container (square).

[2020-09-16 06:19] Betree commented on #3500
It's not a bug on the transactions page: the transaction itself doesn't have a description. There are many others like that in the DB.

The main reason for this was that the legacy "Add Funds" form didn't require you to enter a description. The new one does.

[2020-09-16 06:26] Betree commented on #3501
I agree with that. We may want to think about what it means for tickets, but for simple donations we should definitely allow it.

I'm not sure to understand this one, could you extend a bit?

Funds may be a better fit, as events also have some logic that we don't want here (location, timezone, tickets, etc).

[2020-09-16 07:29] Betree opened #3502 "Paying expenses randomly creates duplicate transactions"
**Describe the bug**
Some paid expenses (360 in total) in our database are showing duplicated transactions, along with duplicated "paid" activities. It's an old issue, as some of these expenses have 2+ years.

**To Reproduce**
[code]

**Expected behavior**
There should only be 2 transactions (debit + credit).

**Possible reasons/fixes**
- Create a text that calls `payExpense` in parallel and ensur

[2020-09-16 07:44] Betree opened #3503 "Accept more payment method types using Stripe's Sources"
## User story
*As received in https://opencollective.freshdesk.com/a/tickets/9504*

## Best solution for this problem
Stripe Sources seems to be a potential solution to this problem: https://stripe.com/docs/sources/multibanco.

## Alternatives

- MBway may be supported by PayPal?

## MVP
*To be defined*

[2020-09-16 08:01] Betree commented on #1217
IBAN/SEPA payouts are now supported via Transferwise (see https://docs.opencollective.com/help/fiscal-hosts/payouts/payouts-with-transferwise). I think we can close this one?

Ping @kewitz

[2020-09-16 11:28] sbinlondon commented on #2446
Maybe one for a bounty candidate, since it seems very 'chore-y'? Or would we want to do it ourselves?

[2020-09-16 11:54] darkmtr commented on #2446
@Betree can this be a bounty? i'd like to work on it.

[2020-09-16 12:28] Betree commented on #2446
Some specs to complete the issue:

- Guessing timezone should be done with `Intl.DateTimeFormat().resolvedOptions().timeZone` (there should be a fallback on a default timezone for old browsers).
- Using [day.js](https://github.com/iamkun/dayjs) for dates computations (add, subtract, etc) would be a good because it's only 2kb
- As much as possible, try to rely on the `FormattedDate` component for d

[2020-09-16 12:29] Betree commented on #2446
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

@darkmtr Has the priority on this (first to comment). If you're ok with the amount, feel free to assign yourself.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-09-16 12:54] kewitz commented on #1217
Resolved by #2836.

[2020-09-16 12:54] #1217 closed

[2020-09-16 13:02] cblgh commented on #1548
Hi!

I just had a request for being able to subscribe to the updates feed via RSS for [one of the collectives](https://opencollective.com/secure-scuttlebutt-consortium/updates) I am involved with. Is this the right issue to be chiming in to? :)

[2020-09-16 13:20] sbinlondon commented on #3485
Still to do:

- [ ] make sure this works with recurring contributions in the expected manner
- [ ] make sure refunds work with all payment methods as expected (gift cards, etc)
- [ ] either implement PayPal refunds or disable refund/reject buttons for PayPal transaction on the frontend

[2020-09-16 13:41] Betree commented on #1548
@cblgh This issue is actually the other way around: to have Open Collective to create updates automatically from a RSS Feed (I didn't understand that in my [initial comment](https://github.com/opencollective/opencollective/issues/1548#issuecomment-448180129)).

Having another issue about serving a RSS feed for updates would be great!

[2020-09-16 13:53] cblgh commented on #1548
Thanks @Betree! I'll create a second issue, then :)

[2020-09-16 13:56] cblgh opened #3504 "Add RSS Feed for Collective's Updates"
_note this is actually the opposite of https://github.com/opencollective/opencollective/issues/1548#issuecomment-693413215, and thus not a duplicate :)_

The [Scuttlebutt Open Collective](https://opencollective.com/secure-scuttlebutt-consortium/updates) recently fielded a question: _**is it possible to subscribe to the Collective's updates via RSS?**_

I think this feature would make abundant sens

[2020-09-16 14:00] Betree opened #3505 "Contribution flow: weird circle when using SSR"
**Describe the bug**
When accessed directly (ie. https://opencollective.com/babel/donate), contribution flow URLs (both legacy flow and revamp) show a weird grey circle that seems related to the mobile steps progress

**To Reproduce**
Steps to reproduce the behavior:
1. Load /babel/donate with a mobile (or resized screen)

**Expected behavior**
A clear and concise description of what you expected

[2020-09-16 14:15] Betree commented on #3504
@cblgh Thank you for opening this! As a long-time consumer of RSS feeds I agree with this, it's simple to implement and it opens tons of possibilities, from adding them to RSS clients like https://feedly.com to bringing support for [Zapier](http://zapier.com/) / IFTTT at no additional cost.

We should probably implement this in a separate app, `opencollective-rss` served on `rss.opencollective.com

[2020-09-16 17:00] Betree opened #3506 "User newsletterOptIn should be synchronized with Mailchimp"
When subscribing (though the homepage) or unsubscribing (through emails) to the newsletter, the `newsletterOptIn` from the `Users` table is not updated. As a consequence, we can't rely on it to develop features in the frontend, such as showing the newsletter form only if you're not subscribed already (or adapting the message).

We'll also need this for #3357.

See https://mailchimp.com/developer/g

[2020-09-16 20:13] xdamman opened #3507 "Wrong validation for github repo in new collective flow"
This is a valid repo url: https://github.com/citizenspring/playstreets.brussels

But the onboarding when creating a new collective doesn't let me use that url:
<img width="445" alt="Screen Shot 2020-09-16 at 10 12 32 PM" src="https://user-images.githubusercontent.com/74358/93387653-df4f6b80-f869-11ea-9846-3d2f208fd519.png">

[2020-09-16 21:11] xdamman commented on #2998
The total numbers of contributors that will receive the email notification

[2020-09-16 22:35] Betree commented on #3507
The fields ask for a Github profile (Github handle), not a Github repo, so that doesn't seems like a bug to me.

[2020-09-16 22:36] macbro3 opened #3508 "[PROJECT]m"
## Purpose
(Why have we prioritised this?)

## Owner
MARC S. Brown _Secreteriat, Human, Amon/MSB MoneyServicesBanking INTl, CosmicLevelSecurity, Anticorruption Op, 1996

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, docume

[2020-09-16 22:43] macbro3 opened #3509 "Ethical Ether Exchange"
It's important that any players be made aware of the messianic teachings and how they are profitable for the hierarchy and the opposite for lower frequencies. No cohersion, phishing, targeting for reasons to manipulate markets or reverse engineer. No exceptions. Msbra

[2020-09-17 02:23] alanna commented on #3496
Why would we want to do this?? Seems really dangerous to me. I don't think people understand how incredibly messy the tax form situation gets if we start making exceptions. Our 2019 taxes are still a mess despite pouring so much time in.

[2020-09-17 04:11] rickhanlonii commented on #3465
I looked into this more for the the Jest PR above, and wanted to provide some data:

- Of the 17 new backers we've had in the past 30 days, **all of them are buying backlinks**. [1]
- Of the top 10 contributors to Jest, 7 of them are buying backlinks [2]
- These 7 buyers alone have paid $140,000 to Open Collective for backlinks [3]
- Open Collective has collected ~$1,000 in fees from Casino Topp's

[2020-09-17 04:55] Memo-Es opened #3510 ""Become a sponsor" page update"
We are updating the design of the "Become a sponsor" page

**Main goals:**
* Expanding the new branding style to the rest of the marketing pages

| **Previous design**  | **New proposal**  |
|---|---|
| <img width="1706" alt="Screen Shot on 2020-09-16 at 23-50-43" src="https://user-images.githubusercontent.com/49539954/93421633-8090ee80-f877-11ea-9e3a-84bf55ac726e.png">  | <img width="1162" alt="S

[2020-09-17 06:10] #3509 closed

[2020-09-17 06:10] #3508 closed

[2020-09-17 06:12] Betree commented on #3496
@alanna It was a request from @piamancini, who wanted to pay an expense that had its tax form submitted manually.

[2020-09-17 06:27] Betree commented on #3507
However after looking in the database it seems many collectives has this field set to a repo so we should probably be consisten and allow that.

[2020-09-17 06:28] #3505 closed

[2020-09-17 06:59] alanna commented on #3496
We can just go in Forest and set it as received in that case.

[2020-09-17 07:11] Betree opened #3511 "Collectives table: remove legacy columns"
A work for that was started in that in https://github.com/opencollective/opencollective-api/pull/4531, but was rolled back in https://github.com/opencollective/opencollective-api/commit/35be6c19f75f33a8cd1ed055870405bf71bd90e9 because the migration hanged on production (20minutes+). We need to find why this migration was blocked, then iterate by removing these columns in the database:
- `maxAmount

[2020-09-17 07:35] Betree commented on #3496
In that specific case the `LegalDocument` entry was not yet created in the DB (because the script used to run once a day, we've since updated it to once/hour). I agree with you, but I'll let @piamancini review these comments before taking action.

[2020-09-17 10:01] #3496 closed

[2020-09-17 18:13] kewitz opened #3512 "Expense Flow: Grant Option"
Figma: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=5824%3A3

### Previews
**Picker and Payee Information**
![image](https://user-images.githubusercontent.com/2119706/93821702-50f63380-fc35-11ea-98a0-ba029567a669.png)
**Grant details and Rich Text item description**
![image](https://user-images.githubusercontent.com/2119706/93821724-5a7f9b80-fc3

[2020-09-17 19:59] alinamanko commented on #3497
@piamancini I made the fix in Forest - adjusting the organization profile through the transactions listings. I hope this information helps

[2020-09-17 21:29] alanna opened #3513 "Not being prompted to go on paid host plan"
[OCNZ host](https://opencollective.com/ocnz) has added more than $1000 by bank transfer and has multiple Collectives already, but I was never asked to go on a paid host plan. This isn't right, is it? Like, I'm fine with it because we don't have any money anyway haha... but I want to make sure there's not a bug stopping the system working as intended.

[2020-09-17 21:30] alanna commented on #3513
It's saying my usage is above the starter plan, but fine for free plan?

![Screen Shot 2020-09-18 at 9 30 18 AM](https://user-images.githubusercontent.com/5498878/93530391-9f83a380-f991-11ea-9fd8-9b18ee20552a.png)

[2020-09-18 00:00] #3495 closed

[2020-09-18 02:21] alanna commented on #3510
Let me know if you need help with copywriting.

[2020-09-18 03:12] alanna commented on #3473
Bumping this again! This makes pages for new users look *so* bad and really puts them off. Please make it go away!

[2020-09-18 06:25] Betree commented on #2840
Open-source lib to detect SPAM in emails: https://spamscanner.net

[2020-09-18 06:26] Betree commented on #3510
Let's make sure we have a clear team decision on whether this update should be implemented as a React page or if we should stay with a static HTML page before starting the implementation.

[2020-09-18 06:46] znarf commented on #3513
Which transactions?

More than 1 collective is fine for the Free Plan, but above the Single Host Plan.

[2020-09-18 07:07] Betree commented on #3003
@RCheesley thank you for commenting on this, having feedback on what the community needs is a key factor for us to prioritize issues :slightly_smiling_face: However we can't say at the moment when we'll be able to put this in our TODOs. I'd be tempted to make a proof of concept in the near future to have a better estimate of the complexity, but it's unlikely that the feature will go live in the ne

[2020-09-18 07:32] Betree commented on #3502
I can confirm that most of the cases are probably linked to people double-clicking on the pay button. I've opened https://github.com/opencollective/opencollective-frontend/pull/5097 to mitigate the issue, I'll followup with an API PR to make sure we properly handle concurrency there and to fix the existing cases.

[2020-09-18 07:53] Betree opened #3514 "Add button to remove avatar on the collective page"
_As requested in https://opencollective.slack.com/archives/C0RMV6F8C/p1600103357039700?thread_ts=1600098692038000&cid=C0RMV6F8C_

We want to add a button when hovering for you to remove your avatar in `HeroAvatar`:

![image](https://user-images.githubusercontent.com/1556356/93571204-67319480-f994-11ea-82de-612c1c503df7.png)

When clicked, it should display a message with a `ConfirmationModal`:

If

[2020-09-18 07:53] Betree commented on #3514
:gift: :money_with_wings: A **$100** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $100 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-09-18 07:59] darkmtr commented on #3514
@Betree can i take this up as well?

[2020-09-18 08:00] jeffin143 commented on #3514
Sorry the page didn't relaod , I jsut clicked assign myself

[2020-09-18 08:05] Betree commented on #3514
@darkmtr As per https://github.com/opencollective/opencollective/blob/master/BOUNTY.md, bounties are limited to one per person  for [contributors](https://github.com/orgs/opencollective/teams/contributors).

[2020-09-18 08:11] darkmtr commented on #3514
I completed 3+ issues but ok :slightly_smiling_face:

[2020-09-18 08:23] Betree commented on #3514
@darkmtr I'd be happy to update your status if that's the case, I just checked before sending this message but found only 2 completed + one pending: https://github.com/opencollective/opencollective/issues?q=is%3Aissue+assignee%3Adarkmtr+

[2020-09-18 08:30] darkmtr commented on #3514
@Betree i thought it was issues and not bounties, no worries. :+1:

[2020-09-18 08:40] flickz commented on #3510
I'm not sure about the page performance implication of using React vs static html but working with React definitely provides a better development experience and speeds things up. On the other hand, I love the idea of keeping things consistent, since the current version is implemented with static HTML.

@Betree I'd love your opinion on this.

[2020-09-18 08:45] znarf opened #3515 "2FA: loading state when submitting the form"
When submitting the 2FA on login form, there is no feedback and it's unclear the action is currently proceeding.

<img width="864" alt="Screenshot 2020-09-18 at 10 43 59" src="https://user-images.githubusercontent.com/806/93577166-fee6b100-f99b-11ea-8626-077c62f3b5b4.png">

[2020-09-18 08:46] znarf commented on #3515
Bonus: as discussed in latest review, we should remove the "warning" banner as the form is enough by itself.

[2020-09-18 08:52] znarf opened #3516 "2FA: dynamic payment limit for user"
In 2FA for payments, we're currently operating on a simplistic rule of `if payment.amount > $1,000 then 2FA`

We should change this behavior and move to a session based limit, everything stored in cache/Redis.

- If no session -> always challenge with 2FA
- If 2FA success -> allow payment and allow a follow up budget of $10,0000
- On next payments -> check if the budget is exceeded
  - if yes, cha

[2020-09-18 08:53] znarf opened #3517 "@FGA"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

[2020-09-18 08:56] znarf opened #3518 "2FA: setting for the Hosts"
Hosts should be able to activate 2FA for their operations.

Because 2FA is currently hidden for Individual accounts, we should make sure Host Admins are able to see it and activate it.

Additionally:
- Based on our v1, they should be able to adjust the default threshold of 1000 in their currency
- Based on our upcoming version, they should be able to adjust the rolling limit for individual users

[2020-09-18 09:07] Betree commented on #3510
@flickz Your comment pretty well describes the pros/cons of each approach.

My personal opinion is that we should go with React for all these refactors. It will simplify our stack, make the updates easier, and will make sure design system updates are propagated there as well. On the performances I think it's pretty much the same. We could even take advantage of Next's [static generation](https://n

[2020-09-18 09:35] znarf opened #3519 "Update GraphQL API v2 to feature redirect instead of website field"
This was proposed by [Rick](https://github.com/rickhanlonii), a member of Jest and from the Open Collective community.

Disclaimer: at this stage, I'm personally biased toward "Cons". We should however try to keep"Pros" and "Cons" neutral. Let me know if I can add a few more "Pros".

**Rational**

There is a "Spam" issue going on the platform, people contributing only to get a link back on the pro

[2020-09-18 10:42] Betree commented on #3391
@alanna Can you confirm that if an organization enters its tax id number (I think it's called NZBN?) then we shouldn't apply any tax?

[2020-09-18 12:48] znarf commented on #3465
That's sad, Jest is effectively the most affected project in number of financial contributions. This is why we're working on it.

I think 5 are clear, 1 likely but not too ugly (Principal), 1 is wrong (Clay).

If we remove the one that I think is wrong, it's actually $71,100 less.

We did some extended analysis this week. We're currently estimating the number of "backlinks" financial contributions

[2020-09-18 13:35] Betree opened #3520 "Host dashboard: Implement new design for "Financial contributions" tab"
URL: `/:host/dashboard/donations`
Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4740%3A0

The MVP should be to have the equivalent of the transactions page in the tab, with the button to "Mark as completed".

![image](https://user-images.githubusercontent.com/1556356/93603496-5e58b700-f9c4-11ea-806f-6d6b566eb432.png)

[2020-09-18 14:06] rickhanlonii commented on #3465
I see, yeah I misunderstood Clay. I updated the comment and thanks for the data on total impact.

[2020-09-18 16:55] Memo-Es commented on #3480
### Design update

![Large (Desktop)](https://user-images.githubusercontent.com/49539954/93624307-c5b33e80-f9a5-11ea-8cea-7066bc9e1172.png)

🎨 See the [design file](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=6417%3A0) in figma

[2020-09-18 19:31] zachleat opened #3532 "Incorrect isActive field value"
Request to https://opencollective.com/11ty/members/all.json has inaccurate API information for entry with multiple backer tiers.

Silver sponsor (listed as active)
![image](https://user-images.githubusercontent.com/39355/93637477-4d577800-f9bb-11ea-91ed-1af9b25c9b25.png)

Gold sponsor (listed as inactive)
![image](https://user-images.githubusercontent.com/39355/93637697-99a2b800-f9bb-11ea-8a2e-cb9

[2020-09-19 21:43] misuzu commented on #3026
`vipnetgame.com` changed it's IP addresses and `opencollective.com` is working again!

[2020-09-19 21:43] #3026 closed

[2020-09-20 02:08] alanna commented on #3497
OK... who can fix this @piamancini ?

[2020-09-20 02:12] alanna commented on #3513
I added over $3000, which you can see on the host's budget.

[2020-09-20 19:54] JoyLubega commented on #3468
@sbinlondon i need some more explanation about this section.
<img width="367" alt="Screenshot 2020-09-20 at 22 51 56" src="https://user-images.githubusercontent.com/29824008/93720808-1d170180-fb94-11ea-91e8-e43788a1179a.png">
I am thinking the avatar and admin only show after the user has added an email. Is it so>

[2020-09-21 00:02] alanna opened #3526 "Changes to profile page sections don't immediately update"
I think this is a UX bug. When you move and disable sections on the `'profile page' settings, you click `save` and then the other action link there is `view Collective page`. But if you click that, your changes won't actually show up. It's confusing and makes the user think they did something wrong or it's broken. I think it's a caching issue or something because if you refresh a few minutes later

[2020-09-21 03:21] alanna opened #3527 "Showing wrong amount in pending contribution"
![Screen Shot 2020-09-21 at 3 08 38 PM](https://user-images.githubusercontent.com/5498878/93730702-e71e5f80-fc1d-11ea-8a42-1979677a1557.png)

These are pending financial contributions on the host dashboard. You can see the amounts on the right. But on the left under `amount` they all say NZ$100.00 which is not correct.

[2020-09-21 03:35] alanna opened #3528 "Make it easier to get to standalone tier page"
Here's a standalone tier card on the Collective page:

![Screen Shot 2020-09-21 at 2 52 47 PM](https://user-images.githubusercontent.com/5498878/93730977-28fbd580-fc1f-11ea-99ad-78911b7f7266.png)

If you click `read more` you can see the campaign page:

![Screen Shot 2020-09-21 at 3 31 11 PM](https://user-images.githubusercontent.com/5498878/93731052-8001aa80-fc1f-11ea-9690-45b81107008f.png)

But

[2020-09-21 03:40] alanna opened #3529 "Archive tiers"
## User story
As a Collective admin, I want to run campaign-based fundraisers (e.g. using a standalone tier page with a specific goal), which are for a certain time frame, and then end them once the campaign is over.

## Best solution for this problem
A way to archive a tier so its history remains in the Collective but no one can contribute to it anymore. It would visually be emphasized in the 'co

[2020-09-21 03:42] alanna opened #3530 "Maximum quantity not being enforced"
This is regarding this tier: https://opencollective.com/ehf-community/contribute/aroha-koha-for-paula-21141

On the main page you can see it's already reached the max available of 7:

![Screen Shot 2020-09-21 at 3 41 24 PM](https://user-images.githubusercontent.com/5498878/93731422-fa7efa00-fc20-11ea-9399-127d1ca88241.png)

But this isn't being enforced. You can still click `koha` and go through t

[2020-09-21 03:48] alanna opened #3531 "Improve error handling in tier creation"
In the process of creating a new tier, I was shown this when I tried to save it:

<img width="1238" alt="Screen Shot 2020-09-21 at 1 56 08 PM" src="https://user-images.githubusercontent.com/5498878/93731470-3ca83b80-fc21-11ea-8adc-b35b1932fda2.png">

1. These errors should show inline to indicate which box on the form they relate to.
2. The description length limit is because this is actually the

[2020-09-21 05:03] alanna commented on #3513
I added funds by bank transfer to a Collective and it tripped the $1000 limit and asked me to go on a host plan. So I think it might have to do with the funds being added to the host budget before?

[2020-09-21 05:59] Betree commented on #1445
Hi @bolariin, any news on this one, can we do anything to help?

[2020-09-21 06:13] Betree commented on #964
_Recently requested in https://opencollective.freshdesk.com/a/tickets/9760_

To add a bit more context on this topic, we can't just make a one line change to allow SVG uploads, there are a few security concerns that we need to address to allow that such as [XEE processing attacks](https://owasp.org/www-community/vulnerabilities/XML_External_Entity_(XXE)_Processing). [The W3C](https://www.w3.org/TR

[2020-09-21 06:30] Betree commented on #3529
This feature was actually implemented as an MVP (since more than 2 years ago) but never turned into a public one. Tiers have a `endsAt` field, that you can set in the database to make the tier expire after a certain date. The "Contribute" button is not displayed on expired tiers.

[2020-09-21 06:41] Betree commented on #3529
Regarding the field not working, we actually have an inconsistency here: the contribution (both legacy and new versions) both assume that only PRODUCTs and TICKETs tiers can have a limited quantity. I'll look at that.

[2020-09-21 06:42] Betree commented on #3530
We actually have an inconsistency here: the contribution (both legacy and new versions) both assume that only PRODUCTs and TICKETs tiers can have a limited quantity. I'll look at that.

[2020-09-21 06:54] Betree commented on #3531
I strongly resonate with this issue, as I assume 95% of new collectives go through this flow when they discover Open Collective and these errors are not a nice welcome for them (I personally had a bad experience with that when we put CaptainFact on Open Collective more than two years ago).

However I wouldn't solve it like that: everything described here could be supported naturally if we move to

[2020-09-21 07:39] znarf commented on #3532
Transferring the issue to our top repository.

[2020-09-21 09:16] znarf commented on #3532
The `isActive` exposed in this endpoint has a weird definition. It's now part of our legacy and we're not gonna update it :-/

For reference, you can check the source code here:
https://github.com/opencollective/opencollective-rest/blob/master/src/server/controllers/members.js

I recommend to use our GraphQL (or REST) API v2 for all new developments. I've created a PR for this https://github.com/1

[2020-09-21 10:42] sbinlondon commented on #3468
You would not be able to create an organization without being logged in, so in the photo 'Francois Hodierne' would be replaced with whoever the logged in user is (i.e. the name and photo in the top righthand corner).

[2020-09-21 11:02] sbinlondon commented on #3347
@Betree How did this go?

[2020-09-21 11:05] Betree commented on #3347
Part of it is https://github.com/opencollective/opencollective-frontend/pull/5022, but it's not a silver bullet. I had to add a `cy.wait`, which defeats the purpose of the PR (having Cypress to detect that the iframe is loaded). Until this is resolved, the best is usually to put a `cy.wait(3000)` before any `cy.fillStripeInput`

[2020-09-21 11:11] JoyLubega commented on #3468
Great 👍.  Thanks alot

On Mon, 21 Sep 2020, 1:42 pm Kate Beard, <notifications@github.com> wrote:

[2020-09-21 12:38] sbinlondon commented on #3347
Potentially fixed test 39 here: https://github.com/opencollective/opencollective-frontend/pull/5115

[2020-09-21 12:43] #3486 closed

[2020-09-21 13:26] kewitz opened #3533 "Download Receipts not working"
**Describe the bug**
When selecting the end date in Transactions -> Download Receipts popup, the pop-up closes and it never downloads the receipts.

**Screenshots**
![Peek 2020-09-21 15-18](https://user-images.githubusercontent.com/2119706/93772141-da394600-fbf4-11ea-89a7-530517bdac8e.gif)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser: Chrome, Firefox
 - Ve

[2020-09-21 14:13] flickz commented on #3510
@Betree So we're going with React right?

[2020-09-21 14:15] #3533 closed

[2020-09-21 14:52] znarf commented on #3510
@flickz Yes, this work is similar to the Homepage so let's do it with React and try to re-use components as much as possible.

[2020-09-21 14:59] bolariin commented on #1445
@Betree Sorry no news on this. I had started but the last couple of months have been busy and I let this slip.

[2020-09-21 15:11] kewitz opened #3534 "Payouts with TransferWise Plan limits bug"
<img width="500" alt="Screenshot 2020-09-21 at 16 56 23" src="https://user-images.githubusercontent.com/2119706/93784497-79653a00-fc03-11ea-937e-dcfbbe567777.png">

[2020-09-21 20:44] alanna commented on #3362
Bump! I really want to be able to set a per-month fee per Collective.

[2020-09-21 22:27] alanna opened #3535 "Host not appearing in search results."
This host exists:

![Screen Shot 2020-09-22 at 10 25 57 AM](https://user-images.githubusercontent.com/5498878/93827779-1e444d80-fcbe-11ea-91cc-acdf6dc6b75b.png)

But you can't search it:

![Screen Shot 2020-09-22 at 10 26 14 AM](https://user-images.githubusercontent.com/5498878/93827785-213f3e00-fcbe-11ea-8d79-2c769dbd7eed.png)

[2020-09-21 23:11] alanna commented on #3261
Closing in favor of #3245 and #3283 - but I really think we should address those two soon!

[2020-09-21 23:11] #3261 closed

[2020-09-21 23:15] alanna commented on #3529
Is there a blocker to revealing that `endsAt` setting to users? I guess it would require a bit of design to indicate when a tier is archived, and some decisions about what to do with recurring contributions for it?

Here's a suggestion for a quick and dirty MVP to make this simple for now:
* Reveal `endsAt` setting in the tier settings form, with date picker
* Do not allow recurring contributions

[2020-09-21 23:32] alanna commented on #3391
Sorry @Betree I just saw this. We don't need to do anything with NZBN's and that has no affect on GST. I will put OCNZ's GST number in the box for extra info on the receipts, and we don't need to collect their GST number.

[2020-09-22 06:43] Betree commented on #3529
It's not a blocker, but the tiers form is already super complex and I'm a bit afraid to add more fields in there. It's the second time we need this in two years, so maybe some docs asking to contact support could be enough?

This is already done, expired tiers use the same pattern than passed events: darker tier card background, no contribute button.

![image](https://user-images.githubusercontent

[2020-09-22 07:34] Betree commented on #1445
@bolariin No problem :slightly_smiling_face: I'll de-assign you in case someone wants to tackle it, but feel free to re-assign yourself if you want to go back to it later

[2020-09-22 08:07] alanna commented on #3529
In my opinion, the tier form is already such a mess that what's one more
field? Maybe this is the wrong way to think about it but it's not going to
improve until we fully redesign it so why not?

[2020-09-22 10:37] flickz commented on #3510
@Betree I'm not sure how we can take this advantage since pages are served from a custom server, which according to Nexjs docs:

Any idea of how we can take achieve this? I'm thinking of maybe enabling Nextjs `useFileSystemPublicRoutes` could work but my worry is coalition of paths.

[2020-09-22 11:12] Betree commented on #3510
It was a general idea for the future, we're indeed not ready to implement that.

[2020-09-22 11:22] Betree opened #3536 "HTML content: replace all external links by redirects"
Spammers are putting their website links in collective's long descriptions, comments and conversations to get a SEO boost. A way to increase our security and to cut the grass under their feet would be to replace all these links by redirections.

In https://github.com/opencollective/opencollective-api/blob/42fcf36475c3a6876e59a37d06051b2090766612/server/lib/sanitize-html.ts, we could replace all ex

[2020-09-22 16:16] #3534 closed

[2020-09-22 22:55] alanna commented on #3376
Note this would also apply to host budgets, as Hosts and their Collectives sometimes do work for each other too.

[2020-09-22 22:57] alanna opened #3537 "Get stuck with no error if you leave custom payout method note blank"
**Describe the bug**
You can't submit an expense if you leave the custom payout method description field blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expense
2. Select 'other' payout method
3. Create new custom payout method
4. Don't write anything in the box
5. Process with the expense
6. Get stuck without being able to submit it, with no error or way to tell what's happ

[2020-09-23 01:44] alanna commented on #3498
Looks like the repeating image theory is correct, it's happening vertically too.

<img width="612" alt="Screen Shot 2020-09-23 at 1 43 03 PM" src="https://user-images.githubusercontent.com/5498878/93954969-dba87100-fda2-11ea-9773-d22480082485.png">

[2020-09-23 09:29] sbinlondon commented on #3347
Narrator: it was indeed fixed! 🎉

[2020-09-23 10:10] Betree opened #3538 "Contribution flow: success step should not have a loading spinner"
On the success page of the revamped contribution flow, we show a loading spinner. This shouldn't happen since we're supposed to have all the data we need form the cache + `createOrder` mutation return.

A possible explanation could be that the fields fetched for `account` are different between this component and the parent `new-contribution-flow` page. Two possible ways to fix that:
- Provide the

[2020-09-23 11:37] sbinlondon commented on #3515
Fixed in https://github.com/opencollective/opencollective-frontend/pull/5130

[2020-09-23 12:20] #3512 closed

[2020-09-23 12:43] #3530 closed

[2020-09-23 13:29] Upperholme commented on #3362
Very keen to see this happen. Bump.

[2020-09-23 13:33] Betree commented on #3485
On https://staging.opencollective.com/captainfact_io/transactions:

- Layout when `Download receipt` & the other buttons are in there is a bit strange
- Shouldn't be able to reject a refund

![image](https://user-images.githubusercontent.com/1556356/94019442-16fe6c00-fdb2-11ea-930e-22f6661a742a.png)

[2020-09-23 13:39] sbinlondon commented on #3485
In speaking to @znarf last week he said we should be able to reject a transaction that has already been refunded. Do we want to change that now?

[2020-09-23 13:42] Betree commented on #3485
@sbinlondon Yes but this is a refund of a transaction I made (the collective is the payer). To give a clearer example, on my personal profile, https://staging.opencollective.com/betree/transactions?type=CREDIT, I can reject one of the donations I made to Babel that has been refunded:

![image](https://user-images.githubusercontent.com/1556356/94020567-54afc480-fdb3-11ea-88e5-93582d614438.png)

[2020-09-23 13:46] sbinlondon commented on #3485
So maybe a clearer thing would be to not allow the user/collective who made the contribution to `reject`?

[2020-09-23 13:50] danielsum opened #3539 "Add a dateTo parameter in expenses graphql api v2"
## User story
To make a transparency page widget for any collective, I need to query the graphql expenses with parameters dateFrom and dateTo.

Regarding the documentation, it's only feasible to query expenses with a dateFrom for the moment.  I think it's worth to add a dateTo params. An user story around that will be a collective that needs to make an annual reports with specific date for exemple

[2020-09-23 13:54] Betree commented on #3485
Ah, I'm not an admin of Babel but I'm an admin of OSC on staging. That makes sense then! Apart from the layout issue, it's fine to display it indeed.

[2020-09-23 15:38] sbinlondon commented on #3485
Fixes: https://github.com/opencollective/opencollective-frontend/pull/5131

[2020-09-23 16:21] bnb commented on #3461
I don't have a ton to add here since this issue has laid out literally everything with amazing accuracy, but I just want to say this is incredibly well written. Excited to see this progress ❤️

[2020-09-23 17:27] kewitz opened #3540 "Expense Flow: Refact Collective Picker"
Allows the user to invite someone outside the platform.

Figma:
https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=5806%3A53925

Preview:
![image](https://user-images.githubusercontent.com/2119706/94047997-38a72580-fda9-11ea-871a-d09e03ccab3f.png)

![image](https://user-images.githubusercontent.com/2119706/94049173-fda5f180-fdaa-11ea-868d-174e1cb4c370

[2020-09-23 17:48] kewitz opened #3541 "Expense Flow: Draft Invoice and Send it as Invite to new User"
- [ ] Persists Expense as Draft
- [ ] Can only be seen with secret URL key param
- [ ] All items are optional
- [ ] Persist all temp data in Expense.data
- [ ] Label says "Send Invite"

Preview:
![image](https://user-images.githubusercontent.com/2119706/94050013-0fd45f80-fdac-11ea-9000-eb9c57a9f93a.png)

![image](https://user-images.githubusercontent.com/2119706/94049971-021eda00-fdac-11ea-98eb-b8

[2020-09-23 22:48] alanna opened #3542 "Reducing Stripe fees on small transactions"
This has probably already been discussed but I can't find an issue for it.

Right now, a $5 contribution to an OSC Collective incurs essentially 20% in fees, because Stripe takes such a huge proportion of small transactions. I know we have #1916 about batching credit card payments, but this doesn't help someone who only gives a small amount to one Collective each month.

@znarf @kewitz @Betree - a

[2020-09-24 11:52] kewitz commented on #3542
On bundling, from https://support.stripe.com/questions/batch-multiple-transactions-from-one-customer-into-a-single-charge:

or

Perhaps the $0/month subscription is a "hack" that could be easier to implement.

[2020-09-24 13:31] sbinlondon commented on #3485
Making it work with recurring contributions:

API: https://github.com/opencollective/opencollective-api/pull/4612

Frontend: https://github.com/opencollective/opencollective-frontend/pull/5138

[2020-09-24 13:32] sbinlondon commented on #3485
Planning to roll this out to selected collectives for testing on prod this week. Will release feature more widely soon in the coming weeks.

[2020-09-24 16:53] sbinlondon commented on #3461
**Small update:** the **"reject contribution"** feature is being released to production today. We will turn the feature flag on for a few Collectives who have told us they have a huge problem with spam contributions or contributions they'd rather be able to reject for any reason. After a bit of testing with these Collectives, we hope to release the feature more widely 🎉

[2020-09-24 17:04] sbinlondon commented on #1993
This is now out but with the limitation that Collective admins can only refund (and reject, if the feature flag is enabled) transactions up to 30 days in the past.

[2020-09-24 21:34] alanna opened #3543 "Incorrect language in transaction details"
Report from a user:

TRANSACTION DETAILS and the math is not right because $10 is gross amount (net + fees), not net amount (gross - fees).

As it is now: $8.11 - $0.70 (host fee) - $0.50 (Open Collective fee) - $0.69 (payment processor fee)= $10.00 (net amount for GRC Activation Team)
* Correct version 1: $8.11 + $0.70 (host fee) + $0.50 (Open Collective fee) + $0.69 (payment processor fee) = $10

[2020-09-25 12:01] znarf commented on #3476
@alanna @Betree I have a PR coming but should that be really sent to the Collective Admins? Or is it more for the Host Admins?

PR: https://github.com/opencollective/opencollective-api/pull/4621

[2020-09-25 12:52] HADES-01 commented on #3536
Hey @Betree can I take this one? I am new to open-source contributions and would very much like to expand my knowledge on this and can you guide me through this as well.

[2020-09-25 16:29] HADES-01 commented on #3420
@Betree I think I have found the bug (shown below). It is happening because of
[code]
Can I work on it and send you a PR??

## BEFORE
![before](https://user-images.githubusercontent.com/52060608/94291680-8e322c80-ff79-11ea-95f6-30b98d5528c5.jpg)

## AFTER
![after](https://user-images.githubusercontent.com/52060608/94291828-bb7eda80-ff79-11ea-928f-053f3a95c15a.jpg)

[2020-09-26 00:34] PeterDavidCarter opened #3544 "Donald Trump is President"
Nothing you have yet done has changed the world in the way you hoped

[2020-09-26 00:36] PeterDavidCarter commented on #3544
![image](https://user-images.githubusercontent.com/23146481/94325904-bc733480-ff98-11ea-8da5-706a478e255d.png)

[2020-09-26 00:45] PeterDavidCarter opened #3545 "Feature Request: Change the World"
## User story
As a person, I can exist so that things are better

## Best solution for this problem

Open Collection++

## MVP
You ask me for the structures of your life? If I both envision and build I will only ever build what I want.

## Metrics
Sometimes perhaps I would see a smile or a smile abstracted.

## Documentation

For others.

[2020-09-26 01:06] PeterDavidCarter commented on #3542
Radiohead have been a major donor for Extinction Rebellion via Open Collective, which will make a huge difference to the poorest communities who would otherwise have been hit by climate change.

[2020-09-26 01:14] PeterDavidCarter opened #3546 "Photograph is unclear"
**Describe the bug**
A representation is given that does not clearly relate to an outcome

**To Reproduce**
See below

**Expected behavior**
An understanding of the least privilaged

**Screenshots**
![image](https://user-images.githubusercontent.com/23146481/94326720-d9f6cd00-ff9d-11ea-822e-2253a55b3170.png)

**Desktop (please complete the following information):**
Street OS

**Smartphone (please

[2020-09-26 01:29] PeterDavidCarter commented on #3543
Radiohead have been a major donor for Extinction Rebellion

[2020-09-26 01:30] PeterDavidCarter commented on #3541
In these troubled times it is important to remember that Radiohead donated to Existinction Rebellion via Open Collective. It's such a small world but we are so appreciative of all these efforts!

[2020-09-26 01:31] PeterDavidCarter commented on #3540
In these troubled times it is important to remember that Radiohead donated to Existinction Rebellion via Open Collective. It's such a small world but we are so appreciative of all these efforts! Thank you for the hard work!

[2020-09-26 01:31] PeterDavidCarter commented on #3539
OData?

[2020-09-26 01:47] PeterDavidCarter commented on #3546
![image](https://user-images.githubusercontent.com/23146481/94327389-9fdbfa00-ffa2-11ea-8548-8df767dbf4b5.png)

[2020-09-26 01:49] PeterDavidCarter commented on #3528
Sound great!

![image](https://user-images.githubusercontent.com/23146481/94327427-e598c280-ffa2-11ea-82bf-543574667f85.png)

[2020-09-27 15:55] Memo-Es commented on #3033
Closing this because it's being implemented here #3468

[2020-09-27 15:55] #3033 closed

[2020-09-27 23:23] alanna commented on #3476
@znarf

Host admins should definitely receive the `New pending financial contribution` email. I think it's OK if Collective admins do as well, or maybe they should get a different message? The need to know someone has contributed, but they might be confused if they don't see the contribution in the budget and don't realise it's still pending receipt of funds by the host.

After writing that out, I

[2020-09-28 05:30] Betree commented on #3536
@HADES-01 Sure! A good place to do that would be in the [HTML sanitizer](https://github.com/opencollective/opencollective-api/blob/42fcf36475c3a6876e59a37d06051b2090766612/server/lib/sanitize-html.ts#L57). `sanitize-html` has a `transferTag` function that could do just what we want: https://github.com/apostrophecms/sanitize-html#transformations

Migrating the existing entries might be a bit more c

[2020-09-28 05:45] Betree commented on #3541
Also let's make sure these are not included for tax forms, we currently look at all expenses that are not 'ERROR', 'REJECTED' or 'PENDING'

[2020-09-28 06:18] HADES-01 commented on #3536
@Betree To be clear, you want me to replace "href" of all the "a" tags  to ```/redirect?url=${url}```

[2020-09-28 06:19] Betree commented on #3542
This could eventually help for people making multiple small contributions in a short timeframe, but that's probably a tiny percentage. It won't help for people who just contribute $3 to a single collective.

[2020-09-28 07:03] Betree commented on #3536
@HADES-01 Yep exactly, we also probably wan to use `encodeURIComponent` so `/redirect?url=${encodeURIComponent(url)}`

[2020-09-28 09:41] HADES-01 commented on #3536
@Betree Will adding this to original ```transformTags``` work ??
[code]

[2020-09-28 10:35] #3515 closed

[2020-09-28 10:36] sbinlondon commented on #3516
Do you want to implement this one @znarf?

[2020-09-28 10:38] Betree commented on #3536
@HADES-01 I suppose, but it has to be tested to confirm it. The best way to do so is to add a test in https://github.com/opencollective/opencollective-api/blob/c95294afaa70c25bb258e749857e7c4793eada28/test/server/lib/sanitize-html.test.js.
You'll be able to run it with `npm run test -- --watch test/server/lib/sanitize-html.test.js`.

[2020-09-28 10:47] sbinlondon commented on #3519
I generally am `pro` this as you already know but will write down some thoughts here.

Would we be able to write some logic on the backend that if it's a non-OC public access of the API we return this special string, vs. returning the actual plain website URL for ourselves on OC?

That's their prerogative. As a platform it would be us discouraging and saying 'We're doing everything we can to stop

[2020-09-28 12:44] HADES-01 commented on #3536
@Betree I did what you asked and it works but "helloworks" test is failing. Can you please check it out [here](https://github.com/opencollective/opencollective-api/pull/4633/checks?check_run_id=1176430694).

[2020-09-28 12:50] sbinlondon commented on #3466
- [ ] Edit Collective menu change 'Expense policies' -> 'Collective policies' and add 'Contribution policy'
- [ ] Add section to menu for 'Moderation'
- [ ] Create multi-select component
- [ ] Add categories to multi-select for admins to filter the types of contributors they don't want to be able to donate

[2020-09-28 14:44] #3420 closed

[2020-09-28 16:29] HADES-01 commented on #3538
I looked into it and I think ```account``` is passed to the children directly.
https://github.com/opencollective/opencollective-frontend/blob/de3914cda6e3f434da2b8ea70225ccf777a59b13/pages/new-contribution-flow.js#L241

[2020-09-28 20:45] alanna commented on #3542
How do Patreon, Kickstarter, GoFundMe etc deal with this? They must process millions of one-off small credit card transactions.

[2020-09-29 05:58] Betree commented on #3542
I'm not sure, and not an expert in credit cards payments but from what I see online the main way to do that is to negotiate with the payment providers (in our case, Stripe).

[2020-09-29 06:23] Betree commented on #3420
Sorry @HADES-01, @kewitz actually prioritized a fix for this one yesterday

[2020-09-29 08:16] znarf commented on #3480
In the end, the functionality should be similar to "Download Receipts" in the User/Organization page but with a much clearer interface. We can look at the [TransactionDownloadInvoices](https://github.com/opencollective/opencollective-frontend/blob/master/components/transactions/TransactionsDownloadInvoices.js) component and get inspiration from it but we should not copy/paste it.

<img width="1250

[2020-09-29 17:17] Memo-Es opened #3547 "Improve the information hierarchy of tier cards"
This is something that came to us via our support channel in slack:

" I’ve had to explain to two sponsors that the price to sponsor is above the button - both of them thought that the Goal amount at the top was the price to sponsor and were put off, saying it was too expensive. I think they should be reversed "

![screenshot-opencollective com-2020 09 24-16_13_11](https://user-images.githubuserco

[2020-09-29 20:26] LyllouC commented on #3267
Hi! Thanks a lot for adding payment options for one-off donations. Would it be possible to add these same payment options (bank transfer and PayPal) for monthly donations?

[2020-09-29 21:55] alanna opened #3548 "Host can invite Collectives to apply"
## Context
We don't offer good enough tools for hosts to customize their application process on the OC platform, and we're not planning to prioritise this soon, so Hosts need a way to use tools outside our platform. For example, OC Foundation has an apply form on its website, but there's no way to allow people to apply once approved if the `allow applications` setting is off, and no way to stop un

[2020-09-29 23:13] kaylarep commented on #3003
We've just had another request for this feature. A potential applicant said that having the ability to embed a donation form on her initiative's website would be a huge incentive to be hosted by OCF.  Without it, she's concerned financial contributors are likely to be dissuaded from donating because they are being sent to another site, more hoops to jump through.

[2020-09-30 00:36] alanna commented on #3542
@piamancini do we have a contact at Stripe or any chance of negotiating with them on fees? We're probably small potatoes for them but it can't hurt to ask.

[2020-09-30 01:38] alanna commented on #3396
@Betree @znarf this is still happening.

I'm wondering why do we even need the seperate settings for conversations and updates when they can already be turned on and off under profile page? Better to add the FAQ and screenshots in the settings to the docs and just put a ? tooltip link to there from the profile page settings in the app.

But regardless, at least the two places to enable or disable

[2020-09-30 02:01] RichardLitt commented on #2017
@alanna Is there any further movement on this? I've also run into this issue.

[2020-09-30 05:53] Betree commented on #3396
The rational at the time was that you may want to use the conversations feature without showing the section on your collective page.

That being said, we should thrive for simplicity and the current behavior is really confusing.

[2020-09-30 08:42] RCheesley commented on #3003
Yes, this is a big issue for us as well!

[2020-09-30 14:38] Betree opened #3549 "Expense flow: first step (payee info) is not validated"
_Probably the root cause for https://opencollective.freshdesk.com/a/tickets/9924_

**Describe the bug**
On the first step of the expense flow, when clicking "Next", the payout information is not validated. We instead validate it on the second step, which doesn't work because we then don't display the error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencol

[2020-09-30 15:21] rickhanlonii commented on #3465
Update: Using the new Rejection tool, I just went through the last month of donors and rejected 70 backers to Jest that are either a Casino, VPN, or Escort service.

I just want to say that I really appreciate this new tool, especially the built-in messaging feature that allows me to keep my identity/email obscured. So far no one has reached out to complain so the only effort for me moving forward

[2020-09-30 15:28] rickhanlonii commented on #3519
Thanks for summarizing @znarf! I agree with to @sbinlondon and want to expand on one point:

The nofollow is not enough for individual projects because this is a systemic issue. Backlink buyers are using Open Collective as a system to game SEO. They're reading articles that say "go to open collective and find some big projects with popular websites and donate to them". As long as there is signal t

[2020-09-30 15:40] rickhanlonii opened #3550 "Feature: Add a note to the donation page"
## User story
_As admin, I can configure a note shown on the donation page so that I can be clear about the terms of donations._

## Best solution for this problem
In the admin settings, there is a new form field to add a "donation note".

On the donation page the note is displayed above the "next" button.

## MVP
<img width="1792" alt="Screen Shot 2020-09-30 at 11 37 46 AM" src="https://user-imag

[2020-09-30 15:41] rickhanlonii commented on #3519
Related to this is that we don't have a great way to inform donators that there are no SEO benefits. I created https://github.com/opencollective/opencollective/issues/3550 as a request to help solve that problem.

[2020-09-30 16:55] sheerun commented on #3386
Hello, is there some progress for this? It's an important issue for us

[2020-09-30 21:04] alanna opened #3551 "Total amount contributed number incorrect"
--> https://opencollective.com/openmined

Total is showing $221,609

<img width="701" alt="Screen Shot 2020-10-01 at 10 03 06 AM" src="https://user-images.githubusercontent.com/5498878/94739345-57bb3e00-03cd-11eb-9dec-9581a904b6c8.png">

But a lot more than that has been raised. BitMEX alone gave $300k.

<img width="481" alt="Screen Shot 2020-10-01 at 10 03 40 AM" src="https://user-images.githubus

[2020-09-30 21:10] alanna opened #3552 "Fees as debit transactions"
## User story
As a Collective admin, I want to accurately track my budget with credits and debits, including fees.

Currently, the ledger shows the amount contributed minus the fees as one transaction. To do proper accounting it would be two transactions, a credit of the amount contributed, plus a debit for the fees.

We have had multiple admins request this, all of whom have been finance people.

[2020-09-30 21:21] alanna opened #3553 "Expense categories tracked against a budget"
## User story
As a Collective admin, I want to be able to set budgets for different categories of expenses and use tags to track progress against them, so that I can make a plan about spending the money and see how well we're sticking to it.

## Best solution for this problem
Set a budget amount per tag, then tag expenses with that tag as you go, then be able to see a report showing the planned bu

[2020-09-30 21:48] alanna commented on #2017
@znarf @kewitz what do you think about the feature [described here](https://github.com/opencollective/opencollective/issues/2017#issuecomment-637855825) and the chances of moving this forward?

[2020-10-01 01:21] alanna commented on #3473
What do I need to do to get this prioritised? I'm setting up a new profile for a customer and I can't show it to them in this state with the north pole thing dominating the page. Can it be removed from here manually or something? https://opencollective.com/giftcollective - it would be far better to just have blank space than the current situation... is it hard to just rip out the text and image?

[2020-10-01 02:10] alanna opened #3554 "Markup showing in conversation email update"
Markup like `<br>` shouldn't be visible here:

<img width="881" alt="Screen Shot 2020-10-01 at 3 08 54 PM" src="https://user-images.githubusercontent.com/5498878/94757902-29068d00-03f8-11eb-9dfc-cf2eeff52ab5.png">

[2020-10-01 02:14] alanna commented on #3396
I... what? How would this work? Hahah sorry I'm confused.

Personally I think we should simplify and remove the conversations and updates settings sections and just have them turn on and off in the profile page section. In the future if those features have settings of their own, we can reintroduce their own sections.

[2020-10-01 05:47] Betree commented on #3473
It's not just that, we must make sure the section is not displayed in your menu neither. Which means we need to have to checks at the top level to see if the data is missing or not. It's not really complex but we must test it properly.

https://github.com/opencollective/opencollective-api/pull/3992 was started a few months ago to help with these kind of issues.

[2020-10-01 06:00] Betree commented on #3396
Like my collective may want to use the Updates feature to send newsletter without showing them on my collective page. For example if my updates are usually things limited in time or if I want the collective page to be simpler to not distract potential contributors. In such a case you go to `opencollective.com/collective/updates` to publish your updates, and everything works normally except the upd

[2020-10-01 06:23] Betree commented on #1222
I think this is resolved by the new expense flow?

[2020-10-01 06:33] Betree commented on #3551
This number is the total amount contributed (aka spent), not the total amount received.

However this number is indeed wrong, or at least not what you expect here: `OpenMinded` contributed $7344,50 to other collectives ($5000 to CVKey Project + $2344,50 to OSC) - which is why this number is displayed BTW (we don't show it if you've never contributed to other collectives). So you could expect $7344

[2020-10-01 06:58] Betree commented on #3473
Just pushed https://github.com/opencollective/opencollective-frontend/pull/5178, it's not the best solution as it doesn't remove the menu entry but at least the message will be hidden.

[2020-10-01 07:05] Betree commented on #3473
Note: we also have a similar view in the recurring contributions sections, we'll probably hide it too when resolving this issue.

![image](https://user-images.githubusercontent.com/1556356/94778298-466e3380-03c5-11eb-96fc-d3acf64978b6.png)

[2020-10-01 09:08] znarf opened #3555 "TypeError: Cannot read property 'asPath' of null"
<img width="1500" alt="Screenshot 2020-10-01 at 11 07 47" src="https://user-images.githubusercontent.com/806/94790321-678b5000-03d6-11eb-9116-c5a45e4517d7.png">

[2020-10-01 09:10] Betree commented on #3347
API `server/lib/onboarding` was failing a lot for me:
[code]
I'm currently trying a fix for it.

[2020-10-01 09:13] znarf opened #3556 "Cannot return null for non-nullable field Event.isApproved"
<img width="1521" alt="Screenshot 2020-10-01 at 11 12 56" src="https://user-images.githubusercontent.com/806/94790817-1a5bae00-03d7-11eb-98c3-66ef9d0a6993.png">

[2020-10-01 13:04] #3554 closed

[2020-10-01 14:55] awright opened #3557 "Add a little extra love (aka a tip) on top of you Open Collective donation"
## User story
As a backer, I can add an optional tip to my donation so that the project I am supporting gets my full intended amount.

## Best solution for this problem
This seems similar to the current add-on option implemented for OCF contributions. It reminds me how crowdsourced political donations are set up. Note, this doesn't replace OC and Fiscal Host fees, but give agency to donors to add

[2020-10-01 15:05] znarf opened #3558 "TypeError: Cannot read property 'query' of null"
https://opencollective.com/create

`apollo error:  TypeError: Cannot read property 'query' of null`

<img width="1214" alt="Screenshot 2020-10-01 at 17 03 49" src="https://user-images.githubusercontent.com/806/94826981-34fa4b00-0408-11eb-918b-a82944f2b8e9.png">

[2020-10-01 16:21] znarf commented on #3198
Fixed in https://github.com/opencollective/opencollective-frontend/pull/4787

[2020-10-01 17:48] ywwg opened #3559 "Highlight misfilled fields during contribution flow"
## User story
My friend was trying to donate to my collective, and the "Make Contribution" button was disabled.  It turned out they had not filled in their zipcode.  There was no easy indication in the UI that this was the missing piece to enable the donation.

## Best solution for this problem
Usually, sites allow you to press "submit" and will then do an error check, and highlight mis-filled fie

[2020-10-01 21:09] alanna commented on #3551
Why is it showing the amount contributed instead of the amount raised? Ah, because it's a Fund and Funds are designed to be about paying out not fundraising?

@piamancini - why is OpenMined a Fund and not a Collective? They are primarily focused on raising money and doing work on their project, not Funding others. Or is it not a Fund and something went wrong when we integrated all their different

[2020-10-02 05:46] Betree commented on #3559
Thanks for the report @ywwg!

I can indeed reproduce, if you don't fill your ZIP code on the stripe input and click "Make contribution" the button doesn't do anything and the error is not reported in the interface:

![image](https://user-images.githubusercontent.com/1556356/94891743-2ef58000-0483-11eb-9345-449151436593.png)

We should implement the solution described by @ywwg above.

[2020-10-02 05:49] Betree commented on #3551
This number in the Hero is always showing the total amount contributed, never the amount raised. If you look at another profile like https://opencollective.com/babel/ that hasn't contributed to other projects, you'll see that it just doesn't appear.

[2020-10-02 09:20] Betree commented on #3502
Resolved by https://github.com/opencollective/opencollective-api/pull/4598

[2020-10-02 09:20] #3502 closed

[2020-10-02 10:35] HADES-01 commented on #3559
@Betree Can I take this one?

[2020-10-02 19:58] liquild opened #3560 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2020-10-02 20:13] #3560 closed

[2020-10-03 09:23] leena4c commented on #3266
Annoying, but I'm running into this issue again I'm afraid. It sometimes is just a small error, that could be quickly fixed via a comment.
Is there no way to make it possible?

Would be such a help in communicating with the collectives

[2020-10-04 07:30] alanna commented on #3303
I'd like to bump this, whether just for platform admins or for everyone as long as their not the last admin.

As first part hosts are growing, we're creating off-platform application processes and we don't have a way to enable only invited Collectives to join a host (see #3548) so a workaround is the host admin (who is also a platform admin in the case of first part hosts) can create Collectives b

[2020-10-04 08:18] alanna opened #3561 "Host admin can set different link for the 'apply' button"
## User story
As a host admin, I want to set a URL to connect to the `apply` button on my host page, so that I can manage an external application process that I can customize, because I'm not able to do so on the OC platform.

## Best solution for this problem
The actual best solution would be a customizable application form in the platform - this solution is a workaround in the meantime.

## MVP

[2020-10-04 08:42] alanna opened #3562 "Host can request Collective to join"
## User story
As a host admin, I want to invite an unhosted Collective to join my host, so that I can run an application process off the platform and select successful Collectives to allow to join without turning on the `apply` button for everyone. This would allow hosts to instruct users to go ahead and create their Collective as part of their application process, and then the host can action inv

[2020-10-04 20:02] da411d opened #3563 ""Financial Contributor since" incorrect counts time"
**Describe the bug**
"Financial Contributor since" counts time not from first contribution on project, but with first contribution no new category.

For example, i contributed to [javascript-obfuscator](https://opencollective.com/javascript-obfuscator) (since 15.10.2019).
Usually i contributed to "Hosting Pay", but in august i tried "Just A Small Donation" category.
And as it was "first" contribut

[2020-10-05 03:11] alinamanko opened #3564 "Open Collective Support Metrics Report - September 2020"
### Support Metrics Report September 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/95036540-c4fc0580-0724-11eb-9ca3-25209ea8d73d.JPG)

The number of tickets received has increased by 15% from 332 in August to 382 i

[2020-10-05 03:11] alinamanko opened #3565 "Support Metrics Report September 2020"
### Support Metrics Report September 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/95036540-c4fc0580-0724-11eb-9ca3-25209ea8d73d.JPG)

The number of tickets received has increased by 15% from 332 in August to 382 i

[2020-10-05 06:03] Betree commented on #3266
@leena4c we haven't prioritized this issue yet. I understand that it may be less convenient, but isn't the CSV export helping?

[2020-10-05 06:12] Betree commented on #3563
Not sure how we should solve it, but the inconsistency indeed exists. The "Contributions" section only looks at the latest `Member`.

The `contributors` endpoint (that groups membership by `MemberCollectiveId`) is not affected by this, as it always retrieves the `MIN(since)`. Maybe we should migrate the contributions section to this?

[2020-10-05 06:38] Betree commented on #3559
@HADES-01 sure :slightly_smiling_face:

[2020-10-05 06:45] Betree commented on #3267
Hi @LyllouC, we are tracking this issue on https://github.com/opencollective/opencollective/issues/1141. We haven't prioritized it yet, so we can't provide an ETA.

[2020-10-05 07:25] #3352 closed

[2020-10-05 07:25] Betree commented on #3352
:trophy: This issue has been completed by @snitin315

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-10-05 12:42] kewitz opened #3567 "Expense Flow: Open Invitation and Payee Information"
Can only be accessed using the key sent in the invite.
Persists Payee information and Payout Method in the Expense until it is Submitted.

[2020-10-05 12:44] kewitz opened #3568 "Expense Flow: Draft Invoice and Join Open Collective"
- [ ] Enforce validation like a normal expense creation.
- [ ] Create Account warning and ToS Check Box
- [ ] Signs up with persisted Payee Information and Send Login Email

[2020-10-05 12:54] JimBobSquarePants commented on #3497
Subscribing to this issue as contributions are not arriving to the [SixLabors](https://opencollective.com/sixlabors) collective.

[2020-10-05 13:10] HADES-01 commented on #3559
@Betree I can't seem to pinpoint the exact location of this particular problem. Can you please help me out.

[2020-10-06 03:27] Memo-Es commented on #3369
### Design update
---

![Desktop](https://user-images.githubusercontent.com/49539954/95155416-b845d480-0759-11eb-8866-f2314fecec35.png)

See the [design file](https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/OC.com-Production-Ready-%E2%9C%85?node-id=6564%3A416) in figma 🎨

[2020-10-06 04:31] alinamanko opened #3569 "Error message when setting custom host fees for a collective"
**Issue**

We are currently in process of setting up 0 host fees for a number of mutual aid groups coming under the umbrella of OCF. Out of the groups identified we have been setting up 0 host fees as custom fees through the Hosted Collectives tab on the host dashboard.

On a couple of instances an error message has been received, stating "an unknown error occurred". This was happening when settin

[2020-10-06 04:40] alanna commented on #3497
@JimBobSquarePants - sorry for the delay adding your payments. This is due to a technical issue on Github's side, which we're working on getting fixed.

[2020-10-06 06:36] Betree commented on #3559
For the code:
- https://github.com/opencollective/opencollective-frontend/blob/c22d11f4b6ab1ba9663b01807efa8ba48f4bac22/components/new-contribution-flow/StepPayment.js
- https://github.com/opencollective/opencollective-frontend/blob/4d4da63bdb918e6046079f49183ada4710feb36b/components/NewCreditCardForm.js
- https://github.com/opencollective/opencollective-frontend/blob/cfeb5edc2e2d32ca1c06bb05cbfa0

[2020-10-06 07:13] Betree opened #3570 "Move from VATRates to node-sales-tax"
Following https://github.com/staaky/vatrates/issues/9#issuecomment-643457104, I've been talking with people about VATRates being discontinued and we ended up looking at https://github.com/valeriansaliou/node-sales-tax. This library is well more maintained, and aims to provide support for all taxes worldwide - which is great now that we decided to support GST as well.

The main challenge with this

[2020-10-06 10:09] #3129 closed

[2020-10-06 14:10] #3334 closed

[2020-10-06 19:12] Memo-Es commented on #3357
### Design update
---

![Large (Desktop)](https://user-images.githubusercontent.com/49539954/95249120-dbb26300-07dd-11eb-913d-ebe15b01d49b.png)

See the [design file](https://www.figma.com/file/eBwSvsJztTIIxoivPzz9pV/OC.com-03-Admin-Panels-%E2%9D%8F?node-id=2844%3A513622) in figma 🎨

[2020-10-06 19:27] alinamanko commented on #3564
@piamancini people normally contact support to enquire why their details not showing up despite their contributions. Initially they were referred to the collectives admin to further investigate but lately, we were just informing them of the more strict practices groups apply and the selection around who sponsors them. The outcome was in a form of a request to process refunds on the most recent con

[2020-10-06 20:49] alanna commented on #3357
Hosts can also send updates so they should be on there. I believe admins of Collectives in that Host are automatically subscribed but they should be able to unsubscribe.

If a Collective admin unsubscribes from updates about their Collective, does that apply only to Updates or also to people sending messages through the Contact button? How about notifications related to Conversations? If no admin

[2020-10-06 21:39] alanna commented on #3466
@sbinlondon @Betree how far off is

And can I confirm that contribution policies will operate on both the Collective and the Host level, like expense policies? I need a way to display a message about tax deductibility in the contribution checkout process of all OSC Collectives, and I'm hoping this feature is intended to allow that.

[2020-10-07 00:14] Memo-Es opened #3571 "Post-date guest expense submissions"
We are updating our expense system to allow contributors to -invite- other people (vendors and community members) to submit expenses to their Collectives. Issues #3278 and #3323

We received some user feedback about allowing post-dating to those expenses invites, _" for example, a contributor is set to be paid $2,000 a month for 3 months, so Peter wants to go in and create three expense requests t

[2020-10-07 06:40] Betree commented on #3357
I think we should have different settings for Updates / Conversations / Contact, they are really different things.

Yes

[2020-10-07 06:42] Betree commented on #3466
@alanna From what I saw in the design the contribution policy is not "in your face", it's collapsed in the FAQ. So the current design may not be the best approach to achieve what you describe here.

[2020-10-07 10:03] znarf opened #3572 "Currency Mismatch on socialcoop"
The collective changed Host and moved from USD to GBP.

Recurring Contributions in USD were not cancelled and are still processing in USD. This will lead to problems in accounting.

We should fix the situation.

[2020-10-07 11:31] sbinlondon commented on #3485
This is now released to everyone on prod. Will do comms next week with Pia.

[2020-10-07 11:31] #3485 closed

[2020-10-07 11:31] #3484 closed

[2020-10-07 11:32] #3463 closed

[2020-10-07 11:35] #1993 closed

[2020-10-07 15:18] Betree opened #3573 "Content security policy is preventing avatar change"
:information_source: **This bug only affects staging at the moment.** (CSP is still in report only on prod)

**Describe the bug**
On staging, it's currently impossible to change your avatar because the CSP block the `blob:` used for the preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any profile (ie. https://staging.opencollective.com/captainfact_io/)
2. Try to change the pict

[2020-10-07 15:53] #3549 closed

[2020-10-07 20:58] alanna commented on #2348
I have a group who wants to come on board to organize events and needs this feature. They might have developers interested in building this as a bounty.

@znarf @Betree can you scope it and decide if it's straightforward enough to be a bounty and the complexity?

I think this is how it should work:
* There's `code` text field in the tier creation form set by the event organizer.
* All ticket tiers

[2020-10-07 21:04] alanna commented on #3466
The expense policy is located over in the FAQ area now, but not collapsed. Can we follow a similar pattern for contribution policy?

[2020-10-07 22:55] kewitz opened #3574 "Image service memory exceeded"
We just had a problem with our image service because the memory quota exceeded.
Do we really need this service? Can we transform all the images when we upload and consume it straight from AWS?
Maybe Zeit? Lambda? Cloudflare Work?

Logs:
[code]

[2020-10-08 01:05] alanna opened #3575 "Merge bounty documentation"
There are two different places where the Bounty process is documented:

https://github.com/opencollective/opencollective/blob/master/BOUNTY.md

and

https://docs.opencollective.com/help/contributing/development/bounties

There is conflicting information on them and it's hard to keep them synced. Can the dev team please pick one location for these docs and we can link to it from the other location?

[2020-10-08 01:57] alinamanko opened #3576 "Problems with reactivating collective in order to process addition of funds and a transfer"
**Description**
sfglobalshapers, a collective previously hosted under Foundation, and whose account was archived in February this year, contacted us to [enquire about funds from Eventbrite sent to Foundation bank account by accident](https://opencollective.freshdesk.com/a/tickets/10147). These funds arrived in our bank account over August and September and in order to add those and complete the tr

[2020-10-08 01:58] alinamanko commented on #3576
@znarf @Betree any idea why this is happening?

[2020-10-08 06:54] Betree commented on #3391
GST for New Zealand is now implemented & deployed.

While working on this feature, I documented #3570 that could help us to easily build support for other tax types in the future.

[2020-10-08 07:57] Betree opened #3577 "Pledges: use a dedicated mutation"
Related: https://github.com/opencollective/opencollective/issues/3256

# Problem

Pledges currently use the `createOrder` function, which is quite complex. Removing the logic for pledges from it would help to simplify and would make testing easier.

# Proposed solution

- Create a new `createPledge` mutation on GQLV2 that takes:
  - fromAccount
  - toAccount (either a reference, or the collective

[2020-10-08 14:36] sbinlondon commented on #1889
This has been fixed in the new contribution flow right? Should we close it?

[2020-10-08 14:37] #2010 closed

[2020-10-08 14:40] sbinlondon commented on #3111
@znarf should we revamp or delete? Happy to do it.

[2020-10-08 14:42] sbinlondon commented on #3177
@Betree You mentioned an ideal solution to this would be:

Is this still the case? Happy to pick it up if so.

[2020-10-08 14:43] sbinlondon commented on #3315
Is this still an issue? Can pick it up if so.

[2020-10-08 14:49] sbinlondon commented on #3005
Not sure what update fixed this but it now appears to refresh and show the collective whose invitation you just accepted 👍  Closing the issue.

[2020-10-08 14:49] #3005 closed

[2020-10-08 14:57] sbinlondon commented on #3488
@znarf The linked documentation seems to be missing now and I can't find a `groups` endpoint on the REST API anymore. Should we close this issue?

[2020-10-08 15:03] #3488 closed

[2020-10-08 15:05] sbinlondon commented on #3527
I can look into this. Can I confirm that this only seems to be contributions on a tier? I did a fake donation not on a tier (the Veganizer one) and it doesn't show the details at all.

<img width="844" alt="Screenshot 2020-10-08 at 16 04 28" src="https://user-images.githubusercontent.com/37520401/95477250-0b996c00-0980-11eb-8e1f-7d9d113ecb08.png">

[2020-10-08 15:13] sbinlondon commented on #3527
Can confirm that the bug is probably here: https://github.com/opencollective/opencollective-frontend/blob/86a4dbe651cb2649561bc227754a16d2f377e31a/components/expenses/OrderDetails.js#L80

[code]

`order.tier.amount` was `null` for the BrusselsTogether transaction above which is why it would display zero. But I think in the case of the bug you found, it's displaying the _tier_ amount, not the order

[2020-10-08 15:22] Betree commented on #3315
It is, but that's something a contributor can do if you don't have the bandwidth right now

[2020-10-08 15:24] Betree commented on #1889
While we do support float for amounts in URL parameters when passed as query variables, the URL https://opencollective.com/lajacqueline/pay/302.5 is not working yet (we need to update the regex of the page for that). Let's keep this issue open until we do the change.

[2020-10-08 15:36] sbinlondon commented on #2794
Is this a bug we still need to fix?

[2020-10-08 15:45] sbinlondon commented on #3543
Is this host dashboard transaction details or collective budget transaction details?

Checking into this locally and either way it appears to be fixed now to correct version 2? Can you confirm @alanna?

<img width="846" alt="Screenshot 2020-10-08 at 16 16 03" src="https://user-images.githubusercontent.com/37520401/95478579-99c22200-0981-11eb-8f36-9e173519f41c.png">

<img width="1257" alt="Screensh

[2020-10-08 15:55] sbinlondon commented on #3558
I'm not getting this error when checking now.

But could it be because of:

[code]

Maybe we should change it to `router?.query?.hostCollectiveSlug`?

[2020-10-08 15:56] znarf commented on #3558
@sbinlondon you should set `DEBUG=true` in your environment to see the message.

[2020-10-08 15:58] znarf commented on #3558
Instead of your proposed fix, I recommend to make sure that we can properly read the slug in SSR environment.

[2020-10-08 16:03] sbinlondon commented on #3183
Also on the expense reimbursement form

<img width="825" alt="Screenshot 2020-10-08 at 17 02 50 1" src="https://user-images.githubusercontent.com/37520401/95484257-266fde80-0988-11eb-8150-295514d951a7.png">

[2020-10-08 16:50] sbinlondon commented on #3183
I tried proposed fix 1 by returning `null` for the host resolver if `collective.isApproved()` is `false` but I don't think this is a viable option.

For example: my collective's application is pending with HackerGarageMX (pic 1) but if we just don't return the host from the resolver, the frontend doesn't know I have an application in (pic 2)
<img width="1182" alt="Screenshot 2020-10-08 at 17 14 12

[2020-10-08 17:20] znarf commented on #3488
@sbinlondon I answered in https://github.com/opencollective/opencollective-api/issues/4552 and removed the documentation.

[2020-10-08 21:30] alanna commented on #3543
Yes it looks correct now.

[2020-10-09 00:34] mosadahmed opened #3582 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2020-10-09 05:44] #3582 closed

[2020-10-09 07:36] Betree commented on #3183
That's why the [specs](https://github.com/opencollective/opencollective/issues/3183#issue-629180849) propose:
- In collective.host resolvers (v1 + v2), don't return the host if not approved yet
- **Add a pendingApplication endpoint to fetch the collective's pending host**

Checking `isApproved` on the frontend side is ok, it's arguably less reliable because we'll need to do that check everywhere `

[2020-10-09 08:14] Betree opened #3583 "Reviewing the refresh policy of the expenses list"
Following [some feedback](https://github.com/opencollective/opencollective/issues/3445) on the host dashboard, we've implemented an auto-refresh on the expenses list when you change their status. When you pay an expense for example, it disappears from the dashboard.

I've started [a thread](https://opencollective.slack.com/archives/C010W7BGFGF/p1600687177002600) on Slack to review this behavior an

[2020-10-09 08:28] sbinlondon commented on #3183
Right, I see, options 1 & 2 were meant to go together! Ok I will think about it.

[2020-10-09 08:29] sbinlondon commented on #3558
Ok, I will have a look with `DEBUG=true` and think about the fix.

[2020-10-09 08:42] znarf commented on #3574
As you can see, it's busy and doing many things. Short answer, yes.

You should consider properly everything this service is doing, it's complicated.

The best shot is to chase the memory leak instead. Maybe we can split the service on multiple Heroku instances to figure which component is the one leaking.

[2020-10-09 08:46] #3198 closed

[2020-10-09 08:47] #3436 closed

[2020-10-09 08:47] sbinlondon commented on #3466
This is in limited testing with Jest and 11ty right now.

[2020-10-09 08:54] snitin315 commented on #1540
@Betree Can this be a bounty? I would like to work on this one.

[2020-10-09 09:01] sbinlondon commented on #3467
Following the implementation of our short-term goals, we'll be seeing how these go in the first half of Q4 then reconsider these goals and see how we want to move forward.

[2020-10-09 09:10] Betree commented on #1540
PayPal is a bit tricky to test sometimes, but if you feel good about it feel free to pick up the bounty. Check the docs if you need info on how to setup this: https://docs.opencollective.com/help/contributing/development/paypal#developing-testing-sandbox.

To test it, you can go to https://localhost:3000/{HOST}/dashboard and click on Refill Balance for PayPal.

[2020-10-09 09:10] Betree commented on #1540
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-10-09 10:07] sbinlondon commented on #3315
Have fixed the conflicting menus but now there's a small bug with set tiers not sending the right option in the GraphQL mutation so looking into that.

[2020-10-09 11:48] Betree opened #3584 "Host dashboard: Add Host itself to "Hosted Collectives""
We want hosts to be able to add funds to themselves when they have activated their host budget.

To do that we should:
- List the host itself on `/host/dashboard/hosted-collectives`
- Make sure the add funds form works for this host
- Make sure the button to customize the fees is not displayed

[2020-10-09 12:29] #3514 closed

[2020-10-09 13:50] Betree opened #3585 "Contribution flow: step profile + payment accessibility issues"
On the step profile & step payment, using the tab button kind of works but doesn't show you which entry in the radio list is actually focused.

![image](https://user-images.githubusercontent.com/1556356/95590948-ffc4ad00-0a46-11eb-8561-0560e2226ee9.png)

[2020-10-09 18:42] bkardell opened #3586 "Pledge amounts a11y issue/clarity"
**Describe the bug**
This is the bug I accidentally opened in the wrong repo - since it has comments from someone that I cannot 'move' I am just linking here https://github.com/opencollective/opencollective-frontend/issues/5196

**To Reproduce**
Try to choose a pledge amount using assistive technology

**Expected behavior**
It should be clear that this is a choice of predefined amounts or specifia

[2020-10-09 23:52] alanna opened #3587 "Support email address missing from tax form message."
The last line here should be "please contact support@opencollective.com" but it's missing.

<img width="796" alt="Screen Shot 2020-10-10 at 12 50 58 PM" src="https://user-images.githubusercontent.com/5498878/95640050-5c7fa080-0af7-11eb-8423-30ee8617bbf4.png">

[2020-10-10 09:38] znarf commented on #3558
On my side, I investigated https://github.com/opencollective/opencollective/issues/3555 and figured that `router` was not available in the first rendering triggered by `getDataFromTree` but was available later on.

Not sure the reason and what to do with it. Looks less critical than what I originally thought.

[2020-10-11 03:04] alanna opened #3588 "Spam button on expenses"
## User story
As a Collective or Host admin, I want to click one button to mark expenses as spam, so that I can efficiently deal with spam expenses and support OC to identify spammers.

## Best solution for this problem
A spam button for expenses, similar to the spam button in gmail, which 1) rejects and deletes the expense and 2) flags it to the platform admins to block the spammer.

## MVP
It's

[2020-10-12 06:36] alanna opened #3589 ""Amount contributed" overly emphasised on non-sponsor profiles"
This is a design issue. If a Collective has financially contributed to other Collectives, the "amount contributed" becomes the top line emphasised number on their page. This is fine for sponsor profiles, but it's misleading when the purpose of the Collective is receiving money not spending it. It's easily confused for the amount of contributions they've received, which this number is *not*.

Here

[2020-10-12 07:13] Betree commented on #3588
Part of https://github.com/opencollective/opencollective/issues/2694

[2020-10-12 07:34] Betree commented on #2348
Below is a simplified proposal for specs. Given that this is a complex issue, I'm personally not comfortable adding a bounty on it.

## API
- Create a `Vouchers` table
  - `code`: String, unique, non nullable
  - `percentage`: Number, non nullanle
  - `TierId`: Tier where the discount applies
  - `deletedAt`: Date
- Create an index on [`TierId`, `code`]
- On GQLV2 -> Tier, add a `hasVouchers` fiel

[2020-10-12 08:38] #3315 closed

[2020-10-12 09:30] sbinlondon commented on #3134
Closing - was not able to figure it out when investigating a few months ago. Has not seemed to happen since then and Sentry error is no longer there.

[2020-10-12 09:30] #3134 closed

[2020-10-12 09:30] #2881 closed

[2020-10-12 09:40] sbinlondon commented on #3558
I had seen that too in the bit of investigating I had done. If it's not very critical, in that case I might set this aside for now.

[2020-10-12 09:40] #3543 closed

[2020-10-12 09:51] sbinlondon commented on #3527
In above PR, just going to remove the order details for now since the revamp is coming soon, don't want to spend much time fixing it.

[2020-10-12 09:51] #3527 closed

[2020-10-12 12:22] piamancini opened #3590 "Open Collective Roadmap Q4 Sprint1"
# Goals

The goals of this Sprint are
1 - Finish all projects of last Sprint
2 - Prep for new fees structure launch in Q12021
Wild Card: Security Audit Aftermath

### Contribution Flow Update
Project owner @znarf
Tech owners: @Betree
Project Issues: Main #3164 - Implementation: #3411 #3407 #3401 #3339 #3338 #3337 #3334 #3335 #3333
Goals:
Ship Final version (including Logged Out and Guest Flows)
St

[2020-10-12 12:49] sbinlondon commented on #3429
Have this implemented but not entirely sure how to handle the error if the customer does not pass strong authentication.

Take a look at how it's implemented in adding a new credit card on your profile settings.

![addccprofile](https://user-images.githubusercontent.com/37520401/95747381-40633700-0c90-11eb-800f-ea86bf52971f.gif)

If we add a 3D secure card, but fail the authentication, and refresh

[2020-10-12 14:43] Betree opened #3591 "Always save PaymentMethod's CollectiveId"
When you choose to not save a payment method, the legacy behavior that we still support today is to set its `CollectiveId` to `null`. There are a few drawbacks with that:
- It's a bit confusing, because we also have a `saved` flag that's supposed to implement the same thing
- We then use `createdByUserId` for most of the permissions checks, which goes against our code guidelines
- It's more diffic

[2020-10-12 14:52] piamancini opened #3592 "[PROJECT] New Model for Platform Fees"
## Purpose
(Why have we prioritised this?)
We've been experimenting with a host plan all year long and we are unhappy with it. We've been charging hosts based on number of collectives and that is stressing them out since they want to give people a chance to raise funds first. It is also confusing and adding complexity to our proposition.

Related Issue - Better Plans for Hosts
https://github.com/o

[2020-10-12 20:36] alanna opened #3593 "[Project] Host can require minimum number of admins"
## Overview
Open Collective Foundation and Open Source Collective require two admins to have access to Collectives in their eligibility criteria, SCA requires four ([section 4.3](https://docs.google.com/document/d/1_ucGOnfnvCJuJqqu1s5qFbgIeEJV6G-ZegcdXHk049M/edit) this reduces strain on hosts as collectives are more able to resolve issues themselves.

## Ownership

Lead: @Benjam

## Roadmap

**Est

[2020-10-12 21:52] alanna opened #3594 "text cut off in search box"
The search box text saying `search open collective` is cut off. I think it would look much better if it just said `search` and fit in the box. This is a small thing but as it's the top of every page on the platform I think we should tweak it.

![Screen Shot 2020-10-13 at 10 51 40 AM](https://user-images.githubusercontent.com/5498878/95793491-2eda6780-0d42-11eb-8581-c2c6e55f545c.png)

[2020-10-13 00:13] alanna opened #3595 "Host fees being applied to debit transactions of that host"
These are transactions where OC inc is charging Protozoa for its monthly host plan, on opencollective.com/protozoa/transactions

The system is applying host fees, which doesn't make sense for two reasons. First because this is a charge to the host itself, and host fees shouldn't apply, and second because it's a debit transaction so why would any fees be added?

![Screen Shot 2020-10-13 at 1 07 18

[2020-10-13 07:09] Betree commented on #3593
I suppose it was removed, because in the current Github flow you create your collective inline and there's no way to add another admin. This could be implemented by adding a step in the Github flow.

[2020-10-13 07:20] Betree commented on #3595
`opencollective` seems to have `hostFeePercent` to 0 now, but it used to be 5% at the time of these transactions. All new transactions created like that since 2020-09-01 have 0 host fees.

I agree that it's a bit strange to have a host fee there. @znarf should we fix the past transactions?

[2020-10-13 08:46] #3510 closed

[2020-10-13 09:24] Betree commented on #2744
With the latest contribution flow revamp the FAQ is now displayed on mobile. Thanks for making us aware of this issue @gallexi!

[2020-10-13 09:24] #2744 closed

[2020-10-13 09:27] Betree opened #3596 "Display contribution policy in contribution flow"
We want to display collective's contribution policies in the contribution flow FAQ when they have one.

Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4489%3A3180

![image](https://user-images.githubusercontent.com/1556356/95842601-04d77400-0d47-11eb-96a8-bf7bdef7ee0b.png)

[2020-10-13 14:02] #3594 closed

[2020-10-13 14:25] #1540 closed, assigned to snitin315

[2020-10-13 14:25] Betree commented on #1540
:trophy: This issue has been completed by @snitin315

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-10-13 14:54] Betree opened #3597 "TypeError: Cannot read property 'connectedAccountId' of undefined"
From API's logs:

[2020-10-13 18:39] #3480 closed

[2020-10-13 20:09] alanna opened #3598 "Charged amount not matching contribution amount"
I gave a $25 contribution, but was charged $27.50. The fees were already removed from the transaction so where is the extra $2.50? I can't remember if I gave fees on top. If it's that, it should really show up in the transaction record and especially on the receipt. I have to keep receipts matching the actual amounts charged for accounting and taxes.

<img width="1183" alt="Screen Shot 2020-10-14

[2020-10-13 20:51] alanna opened #3599 "Paypal error message persists after switching to manual"
**To Reproduce**
Steps to reproduce the behavior:
1. Try to pay an expense over $2,000 using automatic paypal payment method
2. See below error
3. Change to manual paypal payment method
4. Error stays on the screen
5. You can pay the expense

**Expected behavior**
The error should disappear when you change payment methods

**Screenshots**
![ppcurrency](https://user-images.githubusercontent.com/549

[2020-10-13 20:54] alanna opened #3600 "Show currency of payment processor fee box"
When paying an expense manually through paypal, you can input the paypal fee into the box in the pay expense modal, but it doesn't show what currency you're entering. I assume it's the currency of the host, but this can be confusing because when making an international paypal payment, paypal displays the fee in the destination currency. So for example with the payment below, that number is actuall

[2020-10-14 07:24] Betree commented on #3598
There are indeed $2.50 fees on top for this transaction. @kewitz could you look into why they're not displayed here (if it's expected)?

@alanna platform tips are not displayed on the receipts at the moment, do we want to display them on the same receipt than the transaction?

[2020-10-14 08:18] Betree opened #3601 "Reject contribution: adapt description if transaction cannot be refunded"
From https://opencollective.freshdesk.com/a/tickets/10235

On https://opencollective.com/xr-idf/events/live-xr-idf-a7878ca5, user clicked on "Reject" and was confused by the warning message because there's no "Refund" button for this transaction:

![image](https://user-images.githubusercontent.com/1556356/95962310-83dfb180-0e06-11eb-89cc-bdd5b6d6659c.png)

When the transaction can't be refunded, t

[2020-10-14 08:39] alanna commented on #3598
The receipt amount has to match the charged amount. As a company I made a
$27.50 purchase and that shows in my financial records, and I need a
receipt that matches that exactly for accounting purposes. I think legally
we have to include all charges on the receipt issued.

[2020-10-14 10:21] Betree opened #3602 "Host dashboard: Error when combining Ready to pay + Open Collective payout type filters"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1556356/95976441-c9f14100-0e17-11eb-947a-4b932d8b0a6d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com/opensource/dashboard?payout=ACCOUNT_BALANCE&status=READY_TO_PAY

Or go to the dashboard and pick the filters.

[2020-10-14 10:34] Betree opened #3603 "Expense form: blocked from error on another step"
**Describe the bug**
On the expense form, the first step can be blocked by an error on another step

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new expense page (or try to edit an existing expense)
2. Pick Invoice and fill payee info
3. Go to step 2 and fill one item details then click on Next
4. Change expense type to "Reimbursement"
5. Next button is disabled because item is miss

[2020-10-14 11:09] sbinlondon commented on #3590
@piamancini Issue https://github.com/opencollective/opencollective/issues/1862 is listed for this project but I don't think it was a discussed goal and it's not in the planning chart eng made. Do we want to add this?

[2020-10-14 11:11] sbinlondon commented on #459
As an update, we are currently working on adding 2FA to payouts for hosts.

[2020-10-14 11:13] sbinlondon commented on #1746
2FA for login is being tested by the team at the moment. We are also building 2FA for payouts by hosts.

Our current plan is that if a host chooses to enable 2FA for payouts, then every user who is an admin will need to enable 2FA on their account to be able to do the payouts.

At this time I believe that is the only place we plan to roll out 2FA, not for every single user, though we'll keep this

[2020-10-14 11:51] Betree commented on #3429
Would be great to have a flag on the payment method to know it's pending for 3dsecure confirmation to be able to re-trigger the process later on.

In the meantime, having a "Retry" button in your error message when editing recurring contributions should work for most of the cases.

[2020-10-14 12:12] jdaviescoates opened #3604 "Change the shape of the collective header area to be a rectangle"
## User story
_As as collective admin I can add a rectangular head so that thumbnails on social media don't look rubbish_

## Best solution for this problem
_Just make the collective header area a rectangle (instead of a weird curve) like there are everywhere else_

## MVP
_Edit the CSS of collectives so that the header area is a rectangle_

## Metrics
_How collective thumbnails appear when links

[2020-10-14 12:21] jdaviescoates commented on #2660
I'm here because @Betree thought this might also be a nice solution to my own issue #3604 :)

[2020-10-14 12:29] Betree commented on #3604
Alternative: https://github.com/opencollective/opencollective/issues/2660

[2020-10-14 19:06] nmeyne commented on #3461
Hi All!   I just wanted to point out that we at Resonate have a Community Credentials project (with funding from the EU) to help address the problem of proving identity and verifiability of credentials in public or restricted community fora, WITHOUT the unnecessary disclosure of too much information to an intermediary or third party, or the community platform itself.  We think we can do that throu

[2020-10-14 19:09] Betree commented on #3538
It's indeed not a problem of fragment. My understanding is that because we use a query with a parameter in `NewContributionFlowOrderSuccess`, Apollo cannot know it needs to use the cache returned by `createOrder`.

I see two solutions to solve that:
1. Pass a `onSuccess` function to the contribution flow, store the result order in the page's state and pass it to the success page. Skip the query if

[2020-10-14 22:14] sbinlondon commented on #3516
https://github.com/opencollective/opencollective-api/pull/4713

[2020-10-15 01:14] alanna opened #3605 "Host fees being applied to contributions to the host budget"
I thought I already raised an issue for this but I can't find it. Contributions directly to the host budget are charging host fees. Is this what we want?

![Screen Shot 2020-10-15 at 2 11 14 PM](https://user-images.githubusercontent.com/5498878/96061772-8a4a5800-0ef0-11eb-9cba-0d26273c63f0.png)

@piamancini - do we actually want to charge host fees here in terms of counting contributions direct to

[2020-10-15 07:20] jeffin143 commented on #2605
@Betree Is this a bounty ? since bounty tag was removed

[2020-10-15 08:08] snitin315 commented on #2348
@Betree Can I work on this one?

[2020-10-15 08:48] #3221 closed

[2020-10-15 08:48] #3600 closed

[2020-10-15 08:55] Betree opened #3606 "Recurring contributions: total amount contributed doesn't account for platform tip"
**Describe the bug**
On the recurring contributions section, the total amount contributed doesn't account for platform tip. It's incorrect to show that to users, because the amounts that were actually charged to them are the total amounts.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a contribution with platform tip
2. Go to your profile page and scroll down to "Recurring contributio

[2020-10-15 09:56] Betree commented on #3591
Ping @znarf, if you have more context on this one

[2020-10-15 20:56] alanna opened #3607 "Add tooltips or hover help info or FAQ content next to refund/reject transaction buttons"
When looking at a transaction, it's not clear to the user what the difference between these two buttons is:
![Screen Shot 2020-10-15 at 2 11 14 PM](https://user-images.githubusercontent.com/5498878/96184643-42314100-0f95-11eb-9529-7fe71ba7a7f4.png)
I know we'll probably put something about it in the docs, but it would be really useful to have something in context in the app. Even though I have bee

[2020-10-15 21:10] alanna commented on #3607
I just encountered this help text while troubleshooting another issue...

![image](https://user-images.githubusercontent.com/5498878/96186045-58400100-0f97-11eb-9144-fae0c0777097.png)

If this is how we're solving the need for help info about these buttons, there are some problems:
* This only shows up after you click? No way am I clicking a button as scary as `reject` or `refund` without first kn

[2020-10-15 21:18] alinamanko opened #3608 "Error when trying to process a refund for contribution made"
**Description**
A user made two contributions by accident. One to the collective they intended to contribute to (atx-mental-health-fund) and one to Open Collective for $1,500 each. The contribution to Open Collective was made by mistake. We received a request from the collective admin to process a refund on the double up. But when attempting to do so, the following error message is received:

![im

[2020-10-16 07:10] Betree commented on #3538
Actually (2) may be more suited, because we have a mutation on the success page for editing the public message it will ensure we don't run in further cache issues.

[2020-10-16 07:29] Betree commented on #3608
This seems to be impacting fees on top, I'm able to reproduce on staging

[2020-10-16 08:16] Betree commented on #3608
So the root cause is this: for platform tips, we only have one stripe charge. The stripe charge ID is the same for the two transactions (the one to the collective and the one to `opencollective`).
When we try to refund the platform tip, it calls stripe with `opencollective`'s host stripe account - but the charge is on the collective's host stripe account.

As a solution, we need to implement parti

[2020-10-16 08:21] piamancini commented on #3608
@Betree I can do a partial refund manually on stripe

[2020-10-16 08:44] Betree commented on #3608
Edit: actually we **do** refund platform tip, we just don't mark the transaction as refunded on our side.

So here's the Todo on the dev side:
- When refunding **a platform tip**, use the host account (not `opencollectiveinc`) and specify an `amount` corresponding to the tip. Add a special flag somewhere to indicate that the `application_fee` have already bee refunded.
- When refunding **a contrib

[2020-10-16 10:28] snitin315 opened #3610 "Transactions: currency mismatch in filter amount and real amount"
**Describe the bug**

on the transactions page, there is a mismatch in filter amount currency and the real amount currency.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/profile/transactions`
2. Click on the `Amount` filter
4. See error

**Expected behavior**
Currency should be the same or it should filter for correct values (after currency conversion).

**Screenshots**

The amount

[2020-10-16 14:36] leena4c commented on #3266
Running into another issue with donations when I want to transfer money from the fiscal host (All4C organisation) to a collective that we host. The only way to do it now is to make a donation, but it is not really a donation and I want it to be more transparant in the bookkeeping:
e.g. third party directly transfers money to the bank account of A4C and A4C has to put that money on a balance of col

[2020-10-16 23:51] kewitz commented on #3598
Fees on top are recorded in a separate transaction and in USD.
You can get a separate receipt for this transaction on your page.
![image](https://user-images.githubusercontent.com/2119706/96322891-48550b00-0ff1-11eb-9280-5aa31e246360.png)

[2020-10-16 23:59] kewitz opened #3611 "Empty "READY TO PAY" expenses filter will throw an error."
**Describe the bug**
When filtering for READY TO PAY expenses, if the returned list is empty, it will cause a bug in the Sequelize query and reach the frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your Dashboard
2. Filter for Ready To Pay
3. Tweak with other filters until you see the errors

**Screenshots**
![deepin-screen-recorder_Select area_20201016205610](https://user-i

[2020-10-17 01:34] kewitz opened #3612 "Display PayPal's main balance when using PayPal Payouts"
## User story
As a host admin, I want to see my existing PayPal balance on the Expense Dashboard when using PayPal Payouts.

## Best solution for this problem
Exactly as the existing balance, but with the correct amount from the main account.

[2020-10-17 01:49] kewitz opened #3613 "Display the total amount of filtered expenses in the Dashboard"
## User story
As a host admin, I want to filter the ready to pay expenses and see the total amount I have to send to my TransferWise or PayPal account in order to pay these expenses.

## Best solution for this problem
Add a header or footer to the expense dashboard list where we can display the total amount of the filtered expenses.

## MVP
![image](https://user-images.githubusercontent.com/211970

[2020-10-17 09:31] Betree commented on #3611
Probably similar to https://github.com/opencollective/opencollective/issues/3602

[2020-10-19 01:28] alanna commented on #3598
But it's going through as one charge to my credit card and one transaction in my bank account. This is causing accounting complications. If it's one transaction, it should be one receipt. If it's two receipts, it should be two transactions. If we split them fully will Stripe charge more fees though?

[2020-10-19 01:32] alanna commented on #3266
@leena4c here's the feature for what you are trying to do: https://docs.opencollective.com/help/fiscal-hosts/add-funds-manually.

In the future, please send support requests to support@opencollective.com as Github issue comments aren't monitored by support. Thanks!

[2020-10-19 04:50] vickywane commented on #3596
@Betree can i assist you on this?

[2020-10-19 06:47] Betree commented on #3598
I assume so, because fees are per transaction. It's also a clearer experience for users to only get one charge for the total amount.

The problem if we include both transactions on the same receipt is that this document is marked as emitted by the host, not Open Collective. But if it's legally ok to still include the tip transaction in there, then that's probably the simplest way to do it.

[2020-10-19 06:58] znarf commented on #3598
As part of the new Pricing model, the money flow and the accounting should be clarified. Let's bring this topic in our calls this week.

[2020-10-19 12:28] #3611 closed

[2020-10-19 12:45] Betree opened #3615 "Host dashboard > orders: show amount without platform tip"
Related to https://opencollective.freshdesk.com/a/tickets/10324

The amount we're showing on the host dashboard > orders includes the paltform tip, it's inaccurate to show that to the host.

We may want to consider this issue as `wontfix` because this part is going to be revamped soon, but we should consider it when implementing the new flow.

![image](https://user-images.githubusercontent.com/155

[2020-10-19 13:59] kewitz commented on #3602
Fixed by https://github.com/opencollective/opencollective-api/pull/4717

[2020-10-19 13:59] #3602 closed

[2020-10-19 14:08] terminator0309 commented on #3585
@Betree can i work on this ...?
Looks not so difficult for me as i am first timer

[2020-10-19 15:00] Betree commented on #3585
Sure, some help on this would be much appreciated!

[2020-10-19 20:58] alanna commented on #3592
@znarf - @piamancini said I should check in with you about the onboarding plan for the new platform fees for hosts.

I'd like to start manually putting some new hosts I'm working with on it so we can test it, and manually handle the invoicing or whatever needs to happen for MVP. For example, the [new NZ charity host](https://opencollective.com/giftcollective) will be going live soon and the admin

[2020-10-19 21:47] alanna commented on #3584
+1

[2020-10-19 21:50] alanna opened #3616 "Add Funds form incorrectly adding fees"
**Describe the bug**
If you change the source in the `add funds` form, the form resets the platform fee even if you've already set it to zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Got to host dashboard
2. Go to Financial Contributions
3. Search the Collective name
4. Click `add funds`
5. Fill out the form with 0 for fees
6. Change source
7. Fees get reset but it still says 0%

**E

[2020-10-20 08:41] znarf commented on #3584
I added an entry in the Members table so it appears in the list.

Follow up:
- Test that Added Funds actually works in production
- Do that by default when we activate budget for a given Host (entry in the Members table + approvedAt=NOW)
- Make sure the button to customize the fees is not displayed

[2020-10-20 08:53] znarf commented on #3584
https://github.com/opencollective/opencollective-api/compare/activate-budget-members-entry

[2020-10-20 10:49] sbinlondon commented on #3607
Should we change that to *"They will still show as a sponsor/contributor to your Collective"*? @piamancini?

Interesting. I think from a technical perspective yes, we don't remove the membership if we refund their only contribution. Refunds tend to be for things like, they accidentally hit 'contribute' twice or something and we are refunding one of those. Not sure how many refunds are people remov

[2020-10-20 10:56] sbinlondon commented on #3575
Happy to pick this up.

I'd propose the home for the bounty documentation being on docs.opencollective.com and linking to it from the Github. Thoughts @Betree @znarf @kewitz?

[2020-10-20 11:25] sbinlondon commented on #3429
For this can't we just check `paymentMethod.confirmedAt` which would be `null`? Or would you want to add something in the `paymentMethod.data` flagging this?

[2020-10-20 13:22] Betree commented on #3575
@sbinlondon that sounds like the right move

[2020-10-20 13:24] Betree commented on #3429
I'm not sure how `paymentMethod.confirmedAt` is used by Stripe, but if it works with that then that's a good option

[2020-10-20 13:41] terminator0309 commented on #3585
@Betree i am not able to change selected radio button using Tabs, I think i need to add onHover effect to those radio buttons.

[2020-10-20 13:53] Betree commented on #3585
Not `hover`, the event that we need to handle here is `focus`

[2020-10-20 14:03] Betree commented on #3589
As per https://opencollective.slack.com/archives/G46PNRCGP/p1603202215007600:

Aka, only keep it for users and orgs that are not hosts.

[2020-10-20 14:09] Betree commented on #3589
The amount was actually not displayed for hosts, so the ones really impacted here are funds and projects. https://github.com/opencollective/opencollective-frontend/pull/5258 should fix that.

[2020-10-20 14:52] terminator0309 commented on #3585
If i select one of the radio buttons then i am able to navigate through them by using up/down arrow but tab button does nothing to them.

[2020-10-20 14:54] #3601 closed

[2020-10-20 15:17] alob-mtc commented on #3608
@Betree is it possible I take on this issue.

[2020-10-20 15:25] Betree commented on #3608
Hi @alob-mtc, I would not recommend this issue for a first contribution, it's a complex one that requires a good amount of knowledge of our data model and Stripe's API. If you're looking for a first issue to complete, the best (and most motivating!) it to look in: https://github.com/opencollective/opencollective/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2020-10-20 15:31] alob-mtc commented on #3450
@znarf is it possible I take this up.

[2020-10-20 15:34] alob-mtc commented on #2856
@Betree is it possible I take up this issue.

[2020-10-20 15:38] alob-mtc commented on #3608
Alright @Betree, thank you

[2020-10-20 16:03] znarf commented on #3450
@alob-mtc It's a good one, feel free to take it.

[2020-10-20 16:58] alob-mtc commented on #3450
Alright, thank you @znarf

[2020-10-20 17:41] RCheesley commented on #3415
+1 on this.

This is *really* problematic for events selling tickets through an Open Collective - we need to have the email address in the results in order to add the ticket purchasers to our event platform!

Link to Slack conversation: https://opencollective.slack.com/archives/C4TC3AYDT/p1601032266004500

[2020-10-20 17:54] #2867 closed

[2020-10-20 17:56] repi commented on #2867
@sbinlondon thanks for implementing this, will make our lives easier! cc @arirawr

[2020-10-20 18:03] Piedone commented on #2867
Very nice! Is there anything we as sponsors need to configure to receive the PDFs?

[2020-10-20 21:08] sbinlondon commented on #2864
Now that https://github.com/opencollective/opencollective/issues/2867 is done I can potentially look at this.

Do we still think the batching credit card transactions is a blocker for this issue?

[2020-10-20 21:54] alanna commented on #3575
Great, thanks Kate! Go for it.

[2020-10-20 22:02] alanna commented on #3607
The term we use is "financial contributor".

What is a membership? You mean remove them as a financial contributor?

Sorry to be pedantic about this, but we struggled a lot with these confusing different terms and [did some work to clarify them a while ago](https://github.com/opencollective/opencollective/issues/1969#issuecomment-490342216), and I want to make sure we stick to that and don't regre

[2020-10-20 22:18] crankycyclops commented on #1738
As a random user, I just want to chime in and say that I was considering donating to a project on a recurring basis until I discovered this "passwordless" login via email. I won't trust my credit card details to such a system, and so, unfortunately, I won't be able to contribute :(

[2020-10-21 01:13] kewitz opened #3617 "Expense Flow: Invoice Summary and Verification Process"
When submitting the Invoice in the Summary page, sign-up the new user and send them a validation link.
Upon validation, update the expense and set it as Pending.

[2020-10-21 05:56] Betree commented on #2856
@alob-mtc it's better to work on one thing at a time (I see you already picked https://github.com/opencollective/opencollective/issues/3450). But if you feel like taking both at the same time, go ahead :-)

[2020-10-21 05:58] Betree commented on #2962
This is done

[2020-10-21 05:58] #2962 closed

[2020-10-21 06:08] Betree commented on #3415
If we're ready to allow that, `allowContextPermission` + `setContextPermission` called at the right place should solve the immediate issue.

Another option: we could add an `emails` field on `Member` that returns a list of all emails (with only one entry if it's an Individual).

Some related things to consider for the future:
- We would need to make sure the SPAM issue is solved before enabling th

[2020-10-21 06:12] Betree commented on #2864
It's pretty complex to do without #2867, and I'm not sure if it's a priority. Would be better to discuss that with the team before starting anything.

[2020-10-21 06:31] Betree commented on #3607
Probably very few since the feature was only available to host admins since recently, but we can expect that number to grow. I think the expected behavior is indeed to remove the entry from the `Members` table, since there's no reason to keep it if they never truly contributed. The entry will be re-created if they contribute again, so it should be fine to remove it.

The only case to properly chec

[2020-10-21 06:39] Betree commented on #1738
Some documentation pages that were added recently:
- About the [security of our passwordless login system](https://docs.opencollective.com/help/product/log-in-system#about-security)
- About [our security in general](https://docs.opencollective.com/help/product/security) (which describes that we don't store any credit card number)

**Let's keep this issue about describing the implementation of a pa

[2020-10-21 07:05] Betree commented on #2348
@snitin315 We need some more time to discuss this internally, I'll get back to you as soon as we have a clearer plan.

[2020-10-21 07:12] Betree commented on #3616
Let's rather focus on https://github.com/opencollective/opencollective/issues/3584 and let's make sure we hide this one in the `Financial contributions` tab.

[2020-10-21 07:14] Betree commented on #2583
Not needed anymore since this view has been replaced on the new dashboard

[2020-10-21 07:14] #2583 closed

[2020-10-21 07:38] znarf commented on #3598
First, because of Stripe fees, having 2 separate credit card transactions is a no go.

After that, we had a long discussion with @piamancini and here is the summary.

On the Receipt/Invoice:
- I'm personally pushing for the Host to invoice the whole amount (here NZ$27.50) and provide a receipt containing the 2 items (as lines on the Invoice).
- Pia is pushing for the Host to provide an invoice con

[2020-10-21 08:24] alanna opened #3618 "Consistent language in team settings"
Since this section is now called `team`, these buttons should say `add team member` and `remove team member`.

<img width="897" alt="Screen Shot 2020-10-21 at 9 23 36 PM" src="https://user-images.githubusercontent.com/5498878/96693498-ce9f9180-13e3-11eb-8916-62f8fb85b271.png">

[2020-10-21 09:53] piamancini commented on #3592
MVP looks doable to me.

[2020-10-21 10:24] piamancini commented on #3598
The reason I am pushing for the separate invoice is because that is the most legally advisable move. The host can't provide a non profit receipt for the total because the $2.5 were never part of the donation itself. They were never intended to go to the non profit. The user chose to make a platform contribution separate from the donation. It is absolutely not ok that hosts can send a tax deductibl

[2020-10-21 10:26] saideepesh000 commented on #3618
@alanna, hey can I work on this

[2020-10-21 10:31] #3589 closed

[2020-10-21 11:34] saideepesh000 commented on #3618
@alanna, can you provide me steps to follow to get the issue. I was not able to find it.

[2020-10-21 11:54] Betree commented on #3618
@saideepesh000 the file that you need to update with the new strings is located in `opencollective-frontend/components/edit-collective/sections/Members.js`. You'll then need to run `npm run build:langs` to update the language files.

[2020-10-21 12:12] LyllouC commented on #3267
Hi @Betree, thanks for your reply! Just checking in to find out if any progress has been made on this?
I know that the team at OC are working on many things so I do understand that this particular issue might not be a priority for you. However I am bringing it up because for most of our backers in Belgium, credit cards are not considered common, whereas bank transfer and Bancontact cards are, so I

[2020-10-21 12:30] sbinlondon opened #3619 "Transactions: ability to filter by order status"
## User story
_As a Collective admin, I can filter transactions by Order status (i.e. 'REJECTED' or anything not rejected) so that I can easily see these kinds of orders grouped together._

Feedback from a user:

_"A potentially small but valuable feature would be to add filtering to the transactions list so I can filter by rejected/not rejected transactions. When there are 50-100 transactions to

[2020-10-21 12:40] sbinlondon commented on #3289
Which ones are being updated in the host dashboard project?

* RefundTransactionBtn
* SendMoneyToCollectiveBtn

Any others?

[2020-10-21 13:25] terminator0309 commented on #3585
@Betree What exact behaviour do we looking for....?

[2020-10-21 13:37] Betree commented on #2571
The work currently done in #3443 adds a `confirmedAt` column on users. We should copy this behavior to make sure that invited user have a `null` `confirmedAt` before they confirm their account.

[2020-10-21 13:51] Betree commented on #3585
We want to surface which element is currently focused. It's important for accessibility.

Basically, you should be able to complete these two steps by just using your keyboard, with the tab + arrows key.

So we need to come up with some CSS to reflect this. Below is a screencast of what with have with a similar radio list in another part of the website:
![Peek 2020-10-21 15-50](https://user-images

[2020-10-21 17:23] alob-mtc commented on #2856
As soon as i'm done with  #3450 i'll pick this up

[2020-10-21 19:16] znarf commented on #3592
@alanna We'll have all the bricks for the MVP soon. I'm not sure about migration details yet.

We should definitely continue having Hosts activate their budget feature and see if there is any blocker before activating it for everyone. I can see problems and questions around the balance (as it's new to them and can be negative when we activate it).

[2020-10-21 20:23] alanna commented on #1141
People still request this constantly. Would it be possible to at least scope it out so we can see how big a job it would be? @kewitz do you know how recurring payments work on paypal?

[2020-10-21 20:31] alanna commented on #3598
I really understand @znarf's desire to simplify things and also to normalize the business relationship between OC and hosts where we invoice them, as this will become more common with the new host pricing model.

However I think @piamancini is right - we can't have the host providing receipts for money actually going to OC inc. A charity host, for example, legally cannot just give money to a comme

[2020-10-21 21:43] alanna commented on #3592
OK I will proceed with putting new hosts on the MVP version of the new plan if they want to opt in. When a host wants to activate it, I'll ask @znarf to put them on an unlimited free host plan with fees on top, and I'll manage the manual invoicing for platform fees.

@znarf can you please export data of hosts who have no activated their host budget, including the admin emails and names, and I'll p

[2020-10-21 21:53] alanna commented on #3592
@znarf can you please activate the $0 host plan for [OCNZ](https://opencollective.com/ocnz) and [GiftCollective](https://opencollective.com/giftcollective) now? I'm tracking them on [this spreadsheet](https://docs.google.com/spreadsheets/d/1smZDyvJB3qKbjncrqcvrnlD-5YNXfnJGtGsQL0otJtM/edit#gid=0).

[2020-10-21 22:38] gutofoletto commented on #3603
Hello @Betree
Is this "up for grabs"?

_btw, I couldn't reproduce it locally 🤔_

[2020-10-22 06:04] Betree commented on #3603
It is!

I indeed could not reproduce anymore with a new expense, it only happens when editing.

[2020-10-22 06:10] Betree commented on #2605
@jeffin143 It currently isn't, for the reasons mentioned above.

However, I'm now thinking that 90% of the work required here will be preserved when we move to the new system: the frontend will stay the same, the mutation params also. Only the call to the `search` function itself will be affected, and that's a small change.

So I'm not against adding a small bounty on this one.

[2020-10-22 06:11] Betree commented on #2605
:gift: :money_with_wings: A **$200** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $200 when the Pull Request is reviewed, accepted and merged.

(this issue is currently assigned to @jeffin143)

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-10-22 09:10] Betree opened #3620 "GQLV2: Add updates"
Requested in https://opencollective.freshdesk.com/a/tickets/10303.

User would like to fetch the collective updates from our public GraphQL API V2. It's a very simple thing for us to implement, and we'll need it for #3275.

**Solution:** add a paginated `updates` endpoint on `Account`.

[2020-10-22 11:01] Betree commented on #3289
I've moved `RefundTransactionBtn` and the other Orders components to "Don't migrate".

`SendMoneyToCollectiveBtn` is not part of the host dashboard, it's used by events to transfer their remaining balances to their parent.

[2020-10-22 11:32] #3540 closed

[2020-10-22 11:54] dtugend opened #3621 "Expenses can be filed by any account on any project"
**Describe the bug**
Expenses can nowadays be filed by any account on any project.
This is being abused already.

**To Reproduce**
Go to any project when logged in and click submit expense.

**Expected behavior**
I tink it used to be that way that they have to be at least a Team member of the project.
There seems to be no option to restore the old behaviour.

**Additional context**
https://opencol

[2020-10-22 12:13] gutofoletto commented on #3603
Nice! I can take a look then :)

[2020-10-22 14:50] Betree commented on #3267
@LyllouC Not yet, @alanna commented on https://github.com/opencollective/opencollective/issues/1141#issuecomment-713853570 yesterday to suggest we at least write some specs to see how complex it would be to implement recurring contributions with PayPal.

We won't have the capacity to work on this for 2020, but we may re-study the scope in early 2021 (based on the proposed specs).

Let's move the d

[2020-10-22 15:35] Memo-Es commented on #3278
### Design update
---

Proposal for users to choose between their personal account and an organization account more easily

| Unauthenticated user - Personal  |  Unauthenticated user - Organization |
|---|---|
| ![Unauthenticated - Personal](https://user-images.githubusercontent.com/49539954/96886947-afd3e600-1449-11eb-96e9-0ade4dff7056.png) | ![Unauthenticated - Organization](https://user-images.

[2020-10-23 08:33] alanna commented on #3592
I would like to push for #3362 to be included in this project if possible. We want to give hosts the tools they need to autonomously figure out their business model with their Collectives. We can still charge our 15% regardless of if they charge a % or a flat rate fee.

[2020-10-23 11:04] sbinlondon commented on #3607
@alanna Apologies, I can be a bit lax sticking to terminology when I'm discussing on issues, I will try to be better so it's more clear what I'm referring to!

I wil open an issue.

I'll do a quick search in our lang files to make sure `member` isn't anywhere, I have a feeling I might have done that at some point.

[2020-10-23 12:22] #3429 closed

[2020-10-23 14:50] terminator0309 commented on #3585
@Betree i dont know why but my radio button looks different. Am i missing some dependency..!?
![image](https://user-images.githubusercontent.com/57085155/97018662-0a199780-156d-11eb-859b-deeabd7cf44b.png)

[2020-10-23 15:24] Betree commented on #3585
As mentioned, the screencast above is from another part of the website.

Also, radio buttons styles can slightly vary across browsers.

[2020-10-24 04:31] alanna commented on #3621
This is not a bug and it's always worked this way.

However, I do understand why allowing just anyone to submit an expense might be problematic. We are aware of spam issues and have been working hard to create ways to combat them (see #2741).

We are also working on new functionality to enabling inviting someone to submit an expense, where you fill out some details and then they are notified to co

[2020-10-24 05:15] alanna commented on #3328
I think this might be addressed by the work @sbinlondon is doing on 2fa?

[2020-10-24 05:55] dtugend commented on #3621
My team and me thought it was different before the expense interface update, sorry.
Also seems like a duplicate issue then.

[2020-10-24 05:55] #3621 closed

[2020-10-24 11:37] Upperholme opened #3622 "Can't sign in to my account on a second machine."
**Describe the bug**
When logged in to my open collective user account on my main PC, I'm not able to log in via a second machine, because the login mechanism doesn't operate using a password, and although the UI says it will send me a login link, no email is received if I'm already logged in elsewhere.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to OC.
2. Move to a separate PC/la

[2020-10-24 12:09] znarf commented on #3622
There is no such limitation, you should be able to sign in, receive the email and authenticate with it.

[2020-10-24 21:01] alanna opened #3623 "Invited expenses only setting"
## User story
As a Collective admin, I want to control who can submit expenses to my Collective, to have more control over the decision-making process and to combat spam.

## Best solution for this problem
Now that we're creating a feature to invite someone to submit an expense, we could create a Collective-level setting that would turn off the `submit expense` button and only allow admins to invi

[2020-10-24 21:01] alanna commented on #3621
I raised #3623 about only allowing invited expenses.

[2020-10-24 21:19] alanna opened #3624 "Redesign the page to edit team members"
I recently sent a message asking some admins to add a contributor, and the design of that page is so bad that I had to include a warning image or I was sure they'd click the wrong thing.

<img width="618" alt="Screen Shot 2020-10-25 at 10 08 30 AM" src="https://user-images.githubusercontent.com/5498878/97093683-9da4b280-16aa-11eb-8fbc-a894f75a0f50.png">

The problem is, you click `add core contrib

[2020-10-24 22:42] alanna commented on #3584
The host Collective is now showing up twice:

<img width="506" alt="Screen Shot 2020-10-25 at 11 42 04 AM" src="https://user-images.githubusercontent.com/5498878/97095053-32151200-16b7-11eb-9dad-01a686ec4d26.png">

[2020-10-25 02:42] alanna commented on #3624
Do you also have to click save after removing a team member? Because if so, it's doubly confusing. When you click remove they disappear right away there's no reason to think you also need to click save in the interface.

[2020-10-25 11:30] Upperholme commented on #3622
Thanks. Just tried it again and it is working. Not sure what was wrong last time I tried it - couldn't get an email.

[2020-10-25 11:30] #3622 closed

[2020-10-25 20:46] alanna opened #3625 "Someone can buy another person's reserved limited tier purchase"
This just happened to a user and caused a problem.

If you set up a limited tier (e.g. 100 event tickets, 5 gold sponsor places), someone can come along and purchase the last one one via bank transfer, but while it's pending someone else can come along and purchase that last one by credit card, and when the original purchase payment clears, there's no spot left for the bank transfer purchaser.

Th

[2020-10-26 07:07] Betree commented on #3623
That would be helpful for large collectives like Webpack and Babel that get a lot of spam through expenses.

To complete the specs, I'd say that `ADMIN`s and people who already got an expense paid from the collective (`MEMBER`s in our database) should be exempted from this.

[2020-10-26 07:13] Betree commented on #3625
This this the reason why we haven't change it yet ; a lot of pending orders are never completed, and it blocks a spot for the others if that's the case. As you said it's tricky.

Not at the moment

[2020-10-26 07:25] znarf commented on #3584
@alanna Seems something unexpected happened when you turned the budget on. Do you remember anything unusual?

[2020-10-26 08:22] Betree commented on #3347
Test `39` still failing very often for me with:

Could be nice to disable it while we figure out what's wrong.

[2020-10-26 09:02] Betree opened #3626 "Add Accountant's as BCC on "thank you" emails"
This is the last part to complete the https://github.com/opencollective/opencollective/issues/3112 plan, now that we have https://github.com/opencollective/opencollective/issues/2867 it should be fairly simple: we need to put accountants as `BCC` in thank you emails.