[2020-10-26 09:04] Betree commented on #2867
@Piedone Nothing to do on your side, the PDFs should just land with your next "Thank you" emails :slightly_smiling_face: Please note that we can't guarantee that this will happen with the next batch on 1st November as we still need to do some load testing to make sure it will run smoothly for everyone. We're also going to tackle https://github.com/opencollective/opencollective/issues/3626 to make

[2020-10-26 09:14] Betree commented on #2745
:trophy: This issue has been completed by @jeffin143

To claim the **$150** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-10-26 09:14] #2745 closed

[2020-10-26 10:08] znarf commented on #3595
It's generally being looked into it. We haven't really thought about this case before.

Note that "opencollective" is just a collective hosted by opencollectiveinc at the moment.

It's handled like a financial contribution, so host fees are/were handled like any other financial contribution.

Let's not touch it now. We can review it once we merge opencollective and opencollectiveinc.

[2020-10-26 10:13] znarf commented on #3526
I just had a try, disabled/enabled some sections and could not reproduce.

[2020-10-26 10:22] znarf commented on #3535
The indexing script is wrong, it's not indexing Organization with `isActive=false`.

That might have been broken long time ago in https://github.com/opencollective/opencollective-api/pull/2632

[2020-10-26 10:22] Betree commented on #3596
Sorry I missed you message @vickywane, thanks for proposing your help, I already have a resolution for this issue that should be pushed today along with other updates to the contribution flow.

[2020-10-26 10:25] vickywane commented on #3596
Alright

[2020-10-26 10:34] znarf commented on #3587
The link is indeed there in the code but not rendering for some reason:
https://github.com/opencollective/opencollective-frontend/blob/master/components/expenses/ExpenseNeedsTaxFormMessage.js

Maybe the reason is obvious for you @Betree ?

[2020-10-26 10:42] znarf commented on #3499
The code from https://github.com/opencollective/opencollective-frontend/pull/4809 wrongly assumes that all transactions are Expenses or Orders. Could you look into this @kewitz ?

While you're at it, could you tell me why we're not seeing the "Download" button anymore if the transaction is refundable?

`const showDownloadInvoiceButton = !showRefundButton && permissions?.canDownloadInvoice;`

[2020-10-26 10:49] znarf commented on #3576
@alinamanko we should not do such operations in Forest.

If it's still a problem please forward the case to the engineering team on Slack or Freshdesk.

[2020-10-26 10:49] #3576 closed

[2020-10-26 10:51] znarf commented on #3586
Thank you for reporting the issue.

Pledges is not the focus of the team at the moment and it will be difficult to prioritize the issue.

If someone open a PR to improve this, we're happy to look at it and help to get it merged.

[2020-10-26 11:22] Betree commented on #3587
@znarf This one is only displayed on the legacy page, the one currently displayed is https://github.com/opencollective/opencollective-frontend/blob/15df3640cbaf03dd397824010603557a21855160/pages/expense.js#L394.

Not sure when this was updated, but it seems react-intl now always passes an array as chunks here. Opened https://github.com/opencollective/opencollective-frontend/pull/5294 to update the

[2020-10-26 11:32] sbinlondon commented on #3607
So besides saying "team members" or "community members" (which I feel is ok, it isn't specifically pertaining to saying someone is a "member" of your Collective), we do say "member"/"membership" is a few places:

[code]

[2020-10-26 11:58] #3183 closed

[2020-10-26 12:04] sbinlondon opened #3627 "Remove entry from MEMBERS table if only contribution is refunded"
Following on from discussion in https://github.com/opencollective/opencollective/issues/3607, we think that if a financial contributor's only contribution is **refunded** then we should remove their membership from the Collective.

From @Betree:

Regarding recurring contributions, perhaps if the first one is refunded, we can do one of two things:

1. If the recurring contribution is also cancelled

[2020-10-26 12:40] #3587 closed

[2020-10-26 12:41] #3596 closed

[2020-10-26 14:07] #3487 closed

[2020-10-26 14:07] #3541 closed

[2020-10-26 14:07] #3567 closed

[2020-10-26 14:07] #3568 closed

[2020-10-26 14:07] #3617 closed

[2020-10-26 14:54] Betree opened #3628 "Contribution flow: add search bar on step profile"
- Should only be displayed when there are more than 8 profiles.
- Should do a full search in name + slug (case insensitive)

Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=4489%3A3180

![image](https://user-images.githubusercontent.com/1556356/97186083-256ce880-17a1-11eb-9828-85e551ee2daa.png)

[2020-10-26 21:51] alanna opened #3629 "Submit expense form payee should default to last used"
One reason we get so many expenses submitted under personal profiles, instead of the correct organizational ones, might be that the expense form reverts to your personal profile as the payee as the default. I think it would be better if it instead defaulted to your last used payee selection from your previously submitted expense, and you could change it if needed.

[2020-10-27 00:21] kewitz commented on #3499
I think this was a design call, I'm restoring it because it looks OK both on the transactions page and on the collective page.

[2020-10-27 00:25] kewitz commented on #3537
@alanna in what case do we want to give the option for a user to submit an expense with no instructions on how the host should pay for it?

[2020-10-27 01:11] alanna commented on #3537
@kewitz often times this is the case when the host admin and the payee are the same person! Or they've had a conversation elsewhere about paying. Or it's actually already been paid and we're just recording it for the OC budget. It's less common, but it happens.

[2020-10-27 01:38] alanna opened #3630 "Invoice expense with invalid address"
See https://opencollective.com/mealsofgratitude/expenses/26459

Under the payee address it just shows:
![Screen Shot 2020-10-27 at 2 37 13 PM](https://user-images.githubusercontent.com/5498878/97246319-f1a5c780-1861-11eb-8b79-7deb322ca819.png)

Really what we should do is force the address to match or just take it directly from the bank account owner address details pulled from Transferwise. But f

[2020-10-27 01:53] alanna commented on #3584
Nothing unusual @znarf - I think I pressed the button and it seemed fine.

[2020-10-27 01:59] alanna commented on #3625
The cases with limited number tiers are a small minority, and tend to be cases like this where it was a gold sponsorship for a large payment.

So I suggest, if there is a pending order for a tier with a limited number, count that against the total available, and if it was the last one then don't allow it to be purchased by someone else.

If a Collective needs a pending order cancelled to free up t

[2020-10-27 05:59] terminator0309 commented on #3585
@Betree i tried this but it has no effect on radio buttons. I am totally confused.
![image](https://user-images.githubusercontent.com/57085155/97262836-b26a7d00-1847-11eb-9c10-997b1edd65f8.png)

[2020-10-27 06:51] Betree commented on #3629
Two ways to implement this issue:
- We store the last profile used in `localStorage`. Easy to implement, but won't work if the person changes device or clears browser's cache
- We add a field on the API like `lastExpenseProfileUsed`. A bit more complex but also more reliable.

[2020-10-27 06:58] Betree commented on #3537
@alanna Even if you're using something else it's easy to just write a quick description in the field no? Like:

It's clearer for the records, and it ensures that the person will be able to re-use the same payout method in the future (because it has a description). If there's none, we'll have to show a *`No description`* payout method in the list, which is always a bit sad.

I see more drawbacks th

[2020-10-27 06:59] Betree commented on #3630
Seems like a duplicate of #3145?

[2020-10-27 07:04] Betree commented on #3585
Sorry, I can't provide much more assistance. I recommend looking at the styles & behavior for the Github flow (where I took the screenshot from). You can access it from https://staging.opencollective.com/opensource/apply/ > Verify using github stars.

[2020-10-27 07:43] alanna commented on #3537
OK, require a description, just make sure it's clear in the UI that it's
required, and errors in a useful way if it's not put in.

[2020-10-27 07:55] Betree opened #3631 "Collective goals: use Today's balance as target if all goals types are "Balance""
Today "Estimated Annual budget" is always used as the marker for "current progress", and the bar is colored until this marker.

This makes sense for "Yearly budget" objectives, but when all goals are of `Balance` type we should use the other marker, `Today's Balance`, as the marker for current progress and we should not color the bar to `Estimated Annual Budget`.

![image](https://user-images.gith

[2020-10-27 08:02] Betree commented on #3537
The current design pattern is to show `(Optional)` on optional fields, but no `(Required)` or `(*)` on required fields.

As discussed with design recently, we should make sure we don't disable the "Next" button if some fields are missing/invalid. We should always let you click on it, and show an error next to the fields that are not completed.

[2020-10-27 08:05] Betree commented on #3415
Can we also use this issue to track the fact that organization emails are missing from CSV export? It sounds like a similar problem of defining what an organization's email(s) should be.

[2020-10-27 08:14] znarf commented on #3415
@Betree yes, I think it's what is exposed as the "problem" in the issue.

[2020-10-27 08:20] znarf commented on #3584
@alanna ok, from the db, it's a bit like it was activated 2 times, so I'm wondering how it happened. Anyway, it's now corrected.

[2020-10-27 09:07] Betree commented on #3607
@sbinlondon good research, would be great to update the ones that are still used in the interface. We can followup with that in a separate issue. Short feedback on that list:
- `members.members` is used in a deprecated component (no need to migrate)
- `contributeFlow.successMessage` is used in a deprecated component (no need to migrate)
- `membership.description` member is not used there, it's onl

[2020-10-27 09:33] Betree opened #3632 "Webhooks: add support for Mattermost"
Requested here: https://opencollective.slack.com/archives/CJ2ERRZQ8/p1603539856028800

The implementation should be simple because the payload is the same than for Slack. So the same formatter should be used, only the endpoint will be different.

This should ideally be done after https://github.com/opencollective/opencollective/issues/3448 but with the same approach.

[2020-10-27 13:48] sbinlondon opened #3633 "Include consolidated receipt PDF in monthly User/Organization reports"
We want to attach the consolidated PDFs (which already exist in the Payment Receipts section of the "edit collective" menu) to the monthly User/Organization Reports (an email that we are already sending).

![Screenshot 2020-10-27 at 13 47 31](https://user-images.githubusercontent.com/37520401/97310369-0d599f80-185b-11eb-9527-6467fadf29e5.png)

[2020-10-27 16:26] Memo-Es commented on #3473
### Design update
---
Replacing the empty state for Collectives for public view

![Desktop](https://user-images.githubusercontent.com/49539954/97331236-c2319380-183e-11eb-8b19-fcf5d3e88e75.png)

@Betree

[2020-10-27 20:55] kaylarep commented on #3415
+1 on this. We had another request from an initiative who would like to be able to contact their financial contributors directly in order to send out customized 'Thank you' emails.

[2020-10-27 22:39] #3499 closed

[2020-10-28 00:57] Memo-Es commented on #3438
### Design update
---

Proposal to add a custom tier through the settings page

| 1. Add new tier CTA  | 2. New custom tier form  |
|---|---|
| ![Large (Desktop)](https://user-images.githubusercontent.com/49539954/97377651-23c92080-1886-11eb-8671-811088a8b88a.png)   | ![Large (Desktop)-1](https://user-images.githubusercontent.com/49539954/97377645-20359980-1886-11eb-83d5-4cfdcef51012.png)  |

@Bet

[2020-10-28 01:06] Memo-Es commented on #3473
A small design note: We should block certain color codes to avoid buttons like this one @Betree

<img width="460" alt="Screen Shot on 2020-10-27 at 19-03-39" src="https://user-images.githubusercontent.com/49539954/97378161-56bfe400-1887-11eb-9295-0905ec94fb9a.png">

[2020-10-28 02:02] alanna commented on #3473
I really disagree with filling the empty space with anything, and especially with any text that reflects negatively on the profile, like the message suggested above saying they "have nothing to show". If there is nothing to show, just show nothing please. This is just changing the problem with the North Pole thing to the same problem with a different design.

[2020-10-28 02:15] alanna commented on #3438
Visually this is a big improvement @Memo-Es - looking good!

Some notes...

* I don't like how the 'custom contributions' thing is handled. It's way too complicated, and we shouldn't need all that text to explain how it works. Just make the default and only tier when someone creates a new Collective the custom contribution tier, fully editable, and allow Collectives to treat it like any other tier

[2020-10-28 04:03] alanna commented on #3592
I have been talking to several host admins about the new pricing model, and overall they are positive about it. We have a few test cases activating now to try it out.

I think it makes perfect sense for:

1. Hosts who charge a host fee through the platform on added funds
2. Host who charge 0% host fee, but have many Collectives doing crowdfunding and accepting contributions through the platform, w

[2020-10-28 07:14] Betree commented on #3438
Those are really important for us to categorize the contribution type, especially for taxes (VAT, GST) that will apply only on certain types (tickets, products, services but not donations).

[2020-10-28 07:33] snitin315 commented on #2446
@darkmtr are you still working on it? If not I would like to take up this.

[2020-10-28 08:26] darkmtr commented on #2446
@snitin315 i already did the initial work and it's almost done i believe. I don't have the time currently to work on it. If you want to, take a look at the pr and continue it.

[2020-10-28 08:39] snitin315 commented on #2446
Sure 👍🏻

[2020-10-28 10:23] Betree commented on #3585
@terminator0309 I'm pushing an update for this as part of the recent contribution flow updates

[2020-10-28 10:40] #3585 closed

[2020-10-28 10:57] #3559 closed

[2020-10-28 11:31] sbinlondon opened #3634 "Collective Navigation v2: create new "Connect" section"
Figma design shows a new "Connect" section which combines the "Updates" and "Conversations" section of the Collective page.

![Screenshot 2020-10-28 at 11 22 05](https://user-images.githubusercontent.com/37520401/97429867-eb6e2480-190f-11eb-9c6e-62f10b6851e3.png)

Notes:

* Don't display the "Connect" section if both "Updates" and "Conversations" are turned off

Questions:

* If "Connect" section

[2020-10-28 11:34] terminator0309 commented on #3585
@Betree I had tried that but it didn't seem to work. I am not very good with radio buttons. BTW thanks for your precious time.

[2020-10-28 11:43] sbinlondon opened #3635 "Collective Navigation v2: move "Goals" and "Top Financial Contributors" into "Budget" section"
Right now, "Goals" is its own section on the Collective page, and "Top Financial Contributors" is in the "Contribute" section. The new revamp has these within the "Budget" section.

![Screenshot 2020-10-28 at 11 34 09](https://user-images.githubusercontent.com/37520401/97431453-3be68180-1912-11eb-8216-ad9c5112b8b1.png)

[2020-10-28 11:45] sbinlondon opened #3636 "Collective Navigation v2: move "Events" into its own section"
Figma design shows a new standalone "Events" section, instead of it being a part of the "Contribute" section.

![Screenshot 2020-10-28 at 11 44 49](https://user-images.githubusercontent.com/37520401/97431902-07bf9080-1913-11eb-8171-600493cbee6e.png)

[2020-10-28 11:56] RCheesley opened #3637 "Not able to enable sponsors/contributors separately in event display & non wrapping tier titles"
**Describe the bug**
Tiny little UI suggestion - it would be nice to be able to turn on sponsors but not participants in the event profile view (some privacy concerns about showing all participants) in this part of the event profile page.

![screenshot-opencollective com-2020 10 28-10_39_07 (1)](https://user-images.githubusercontent.com/2930593/97432501-f5922200-1913-11eb-9e11-f2b4afe57dd0.png)

R

[2020-10-28 11:57] sbinlondon opened #3638 "Collective Navigation v2: create new section heading component"
Create section headers based on new design.

Current:
![Screenshot 2020-10-28 at 11 56 12](https://user-images.githubusercontent.com/37520401/97432939-a5678f80-1914-11eb-9dbb-18e9c28f86a6.png)

New:
![Screenshot 2020-10-28 at 11 50 11](https://user-images.githubusercontent.com/37520401/97432600-21150c80-1914-11eb-80a0-ff16633b65e9.png)
![Screenshot 2020-10-28 at 11 51 34](https://user-images.githu

[2020-10-28 12:20] sbinlondon opened #3639 "Collective Navigation v2: create new Collective page navbar"
Component in desktop, tablet, mobile:

![Screenshot 2020-10-28 at 12 15 08](https://user-images.githubusercontent.com/37520401/97434768-66870900-1917-11eb-9be1-3511a63627f4.png)

![Screenshot 2020-10-28 at 12 15 15](https://user-images.githubusercontent.com/37520401/97434751-61c25500-1917-11eb-91a9-bb83edc9aaaf.png)

![Screenshot 2020-10-28 at 12 15 21](https://user-images.githubusercontent.com/37

[2020-10-28 12:31] Betree commented on #3639
Given that we want the navbar to look the same on multiple pages, it means we need a way to fetch the same data every time, on all pages. I really think that we should achieve that by implementing a dedicated query on API, as described in https://github.com/opencollective/opencollective/issues/2807.

I've never merged it because I was hopping for more feedback before doing so, but the feature was

[2020-10-28 12:57] sbinlondon opened #3640 "Collective Navigation v2: create new Collective page navbar actions menu"
Part of https://github.com/opencollective/opencollective/issues/3639

![Screenshot 2020-10-28 at 12 15 49](https://user-images.githubusercontent.com/37520401/97435490-64717a00-1918-11eb-908b-1a33f825496c.png)

Actions panel includes:

* Contact Collective
* Submit expense
* Request grant
* Apply to host (if host)

[2020-10-28 13:02] sbinlondon opened #3641 "Collective Navigation v2: create new Collective page navbar sections menus"
Part of https://github.com/opencollective/opencollective/issues/3639

### Design
Individual section drop-down menus:

![Screenshot 2020-10-28 at 12 00 42](https://user-images.githubusercontent.com/37520401/97439147-b5d03800-191d-11eb-8b61-4eb4686ea14e.png)

### Behaviour

* Only visible on desktop and tablet
* Hover to open the category section drop-down menu
* Clicking one of the menu items takes

[2020-10-28 16:44] kewitz opened #3642 "Submit on Behalf: Delete stale Drafted Expenses"
Simple worker that deletes stale drafted expenses in our DB.

[2020-10-28 17:33] kewitz opened #3643 "Expense Flow: Create new Org when picking Payee"
When the user is submitting a new expense
OR the user was invited to submit an expense;
Allow user to create a new Organization that will receive the money.

[2020-10-28 18:28] JoyLubega commented on #3468
@sbinlondon I need some assistance on how to move forward based on @Betree's review on https://github.com/opencollective/opencollective-api/pull/4597.
When I create a new mutation in the backend for creating an organization, it means I  also create new mutations in the frontend for both creating an Org and editing which is a little bit different from the scope you defined above.

I having been try

[2020-10-28 20:36] alanna opened #3644 "Event pages not featuring sponsors"
I'm not sure if this is a bug, a regression, or working as intended.

Currently, event sponsors/financial contributors aren't really being shown in the event page design. For example on [this event](https://opencollective.com/mauticon-2020-aa109fa5) they only appear as tiny icons on the contribution card.

![Screen Shot 2020-10-29 at 9 33 50 AM](https://user-images.githubusercontent.com/5498878/97

[2020-10-28 20:58] elea commented on #3553
Added a +1, and to add to the user story: "I need to be able to provide categorized budget reports for grantors / potential grantors" is also something that'd call for the same feature.

[2020-10-28 23:52] elea commented on #1038
Chiming in to keep this live because this would be HUGE for my project as well, particularly since in pandemic times, people have less spare money to front.

[2020-10-29 02:24] Memo-Es commented on #3547
### Design update
---

Redesign of the goal-oriented sponsor tier card.

![Goal](https://user-images.githubusercontent.com/49539954/97517780-79233180-195b-11eb-9d9f-d90d7577c316.png)

@Betree

[2020-10-29 06:44] Betree opened #3645 "Editing an expense puts the logged in user as payee"
**Describe the bug**
When editing an expense, the currently logged in user is set as the payee.

**Expected behavior**
Preserve the existing payee, don't set it if there's already one.

**Screenshots**
![Peek 2020-10-29 07-40](https://user-images.githubusercontent.com/1556356/97534354-1f9e1f80-19ba-11eb-873d-5b02898fea85.gif)

**Additional context**
https://opencollective.slack.com/archives/GFH4N9

[2020-10-29 10:55] snitin315 commented on #2605
Hi @jeffin143, Are you still working on this. If not I would love to give it a shot!

[2020-10-29 11:06] jeffin143 commented on #2605
Yes @snitin315 , I am working on it

[2020-10-29 12:02] RCheesley commented on #3547
This looks much cleaner, and is visually much easier to understand I feel! Great job!

[2020-10-29 15:04] sbinlondon commented on #3634
Trying to figure out when to not display the new **Connect** section.

Right now it seems that the rules for **Conversations** and **Updates** are:

* both turned on by default for COLLECTIVE
* only **Conversations** turned on by default for ORGANIZATION
* if **Conversations** is enabled but empty, we display it both all users with a 'start a new conversation' CTA
* if **Updates** is enabled but e

[2020-10-29 16:53] #3645 closed

[2020-10-29 19:15] SleeplessByte opened #3646 "Date format on transactions overview make the dates ambiguous"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1964376/97621137-cd451900-1a22-11eb-8da9-2ff59289ab46.png)

I can't quickly parse these dates, because they can mean any of the following:

7 March 2020
July 3rd, 2020

7 February 2020
July 2nd, 2020

7 January 2020
July 1st, 2020

There is also no `<time>` tag date gives me the iso8601 timestamp (and thus my screen reader wou

[2020-10-29 19:25] znarf commented on #3646
Absolutely agree, I'm also personally struggling with these date formats, no idea if it's American or not.

[2020-10-29 21:26] SleeplessByte commented on #3646
I'm happy #3096 got resolved, including my additional bugs. Now onto the next one 🚀

[2020-10-29 23:01] alinamanko opened #3647 "Editing expense form - grant application"
**Describe the bug**
We received a number of expenses submitted as grant applications through ATX Mental Health Fund. As the needed documentation was missing the collective admin was attempting to edit the expense form to include the attachments. However, when they saved the information it seems like it is not being updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to budget --> ex

[2020-10-29 23:46] hellopetersmith commented on #3552
This is a strong need in order to export transaction lists from Open Collective and import the data into an accounting system. Right now, there is the original expense (which is typically money going towards a person, which would classified as a Labor expense), then there is a host fee, then there is often a payment processing fee. We need to be able to easily attribute each expense to the correct

[2020-10-30 01:12] alanna opened #3648 "Transaction missing from data export"
An admin of [this Collective](https://opencollective.com/openmined) exported their transaction data, but they can't find [this expense](https://opencollective.com/openmined/expenses/24568) listed. We have confirmed that it was definitely paid.

Theories:

* It's related to that `expense error` thing
* It's related to the fact that we merged multiple Collectives into one - the old one was openmined

[2020-10-30 06:44] Betree commented on #3647
@kewitz maybe related to #3645?

[2020-10-30 08:28] alanna opened #3649 "Radio-button behaviour when you set a custom host fee"
If you go to host dashboard > hosted Collectives > set custom fee and click into the box and type in a custom fee, the radio button should automatically jump to the custom option, not stick on the global option. Right now even if you set a custom fee it can still be stuck on the global option and it's really easy to miss that. Alternatively, the box to put the fee in should be disabled until you s

[2020-10-30 13:18] kewitz opened #3650 "Automatically invoice hosts pending platform tips and fees"
We need a worker that runs at the beginning of each month and invoice Hosts how much is owed to the platform related to Tips and Fees that may have been collected during the contribution flow.

Right now, we automatically collect these tips and fees for donations if they're processed through Stripe, ~but this will change with the new business model~ but we still can't do it for PayPal, manual tran

[2020-10-30 13:30] znarf commented on #3650
Per strategic decision, we will continue to take Platform Tips at source for Stripe transactions, and we should try to take them at source whenever possible. It's currently not possible for PayPal and Bank Transfers and this is why we need this strategy.

[2020-10-30 15:11] Betree opened #3651 "Include PDFs in recurring contribution's "thank you" emails"
While implementing https://github.com/opencollective/opencollective/issues/2867 we forgot to include the PDF receipt in the "Thank You" email that is sent when processing recurring contributions: https://github.com/opencollective/opencollective-api/blob/4ae0c675303a65090b62a5cdb9fd3e7959e79bd1/server/lib/recurring-contributions.js#L389

We need to implement that with a feature flag, then test it b

[2020-10-30 15:13] terminator0309 commented on #3649
![image](https://user-images.githubusercontent.com/57085155/97721802-ea93e900-1aef-11eb-8c95-63b84821ca35.png)
@alanna is this correct for this issue. Or this is not the right way to do this?

[2020-10-31 03:28] alanna opened #3652 "Add platform tips box to add funds form"
As a host admin, I want to contribute platform fees to OC sometimes when I add funds manually, but my process is not always to charge host fees at this point (for example, I am not charging any host fees on an internal grant, or I have already taken out the fundholder fees from the total I am adding to the Collective), so the system can't take the 15% automatically in those cases. Instead there sh

[2020-10-31 03:39] alanna commented on #3650
I think we need to zoom out a little on this. It should not just be platform tips but all host fees owed (i.e. soon the 15% of host fees we will charge as platform fees). We're rethinking platform fees and there will be several streams to combine, which should all be on one invoice, and we're moving toward requiring host budgets be activated so we can submit these charges as expenses and use our o

[2020-11-01 04:49] alanna commented on #3300
I just got this email again, but because of the problems described above, I have no idea what host it's for. All the hosts I manage are supposed to be on the `owned` plan, so why am I getting this? @znarf

[2020-11-01 11:32] darkdragon-001 opened #3653 "Auto-forward parts of funds to other collectives"
## User story
As _collective_, I can _specify other collectives to forward a fraction of my income to_ so that _non user-facing libraries which are essential for my application get the support they need._

## Best solution for this problem

- easy interface: select collective and specify (percentual or absolute, optionally capped) amount to forward
- transparency to donating end-users to show how

[2020-11-01 11:41] darkdragon-001 opened #3654 "Auto-split fixed amount on supported projects"
## User story
As _donator_, I can _set a fixed amount I want to donate monthly and select a number of projects this should be split to_ so that _I have a fixed amount I can spare monthly, but can easily fund additional projects, as I explore new ones._

## Best solution for this problem

Something similar to Flattr, but governed by a collective (opencollective.org) instead of a private company.

#

[2020-11-01 11:51] nickcolley commented on #1141
I was looking to do this today :+1:  My card declined as it expired and I feel safer with PayPal. :)

[2020-11-01 21:23] alanna commented on #3654
@darkdragon-001 you can do this for Open Source projects at [backyourstack.com](https://backyourstack.com).

[2020-11-01 21:24] alanna commented on #3653
You can do a version of this already, if the Collectives are under the same fiscal host. Just go to the Collective you want to contribute to and set up a recurring contribution with the payer Collective as the funding source.

[2020-11-01 21:25] alanna commented on #3300
I got another one like this... something is not working with the `owned` setting and I can't troubleshoot.

[2020-11-01 21:30] alanna commented on #3296
Xero started working again so we're moving back.

[2020-11-01 21:30] #3296 closed

[2020-11-01 21:32] alanna commented on #1284
Dup of #3323

[2020-11-01 21:32] #1284 closed

[2020-11-01 21:34] alanna commented on #3323
This will be solved by the `invite expense` feature which is being built.

[2020-11-01 21:36] alanna commented on #3297
Does #3596 solve this? or is that one only for Collective admins? We also need this at the host level.

[2020-11-01 22:26] alanna opened #3655 "Display total contributed on Funds"
In #3589 we removed the `total contributed` number at the top because it was misleading for Collectives. However, now it's gone from Sponsor profiles where it's the most important number, e.g. https://opencollective.com/salesforce - you can't see anywhere how much they have contributed, and that's the key thing this profile page exists to show.

I'm not sure what we should do here exactly. Maybe a

[2020-11-01 22:48] darkdragon-001 commented on #3653
@alanna Thanks for the hint! Can I only set a fixed amount or also percentages and shares based on income or total funds?

[2020-11-01 22:53] darkdragon-001 commented on #3654
@alanna Thanks a lot for the hint. I will definitely have closer look. Although I think it aligns better with my intention for #3653 to find the dependencies, as an application owner, and forward some parts to the dependent libraries.

With this issue, as an end-user, I would like to select multiple user-facing applications and just set a fixed monthly amount.

[2020-11-02 01:13] alanna commented on #3653
Just a fixed amount for now. If you're a developer and interesting in building a percentage-based feature, we could consider it for our issue bounty programme?

[2020-11-02 07:11] Betree commented on #3322
@bolariin did you have some time to look at this one?

[2020-11-02 07:14] Betree commented on #3297
It partially does, the setting cannot yet be edited at the host level.

[2020-11-02 07:21] Betree commented on #3655
It's because `Salesforce` is not an `ORGANIZATION` anymore, it's now a `FUND`. The number is still displayed for organizations and individuals that are not hosts.

We could add a setting to display that, but before adding more complexity we should maybe define the expectations for each account type.

[2020-11-02 09:51] Betree commented on #3649
@terminator0309 `document.getElementById` is not a good react practice. Also `onFocus` might not be the right place to handle that, because navigating with the Tab key will then change the option.

I recommend making the switch in the `onChange`.

[2020-11-02 10:59] Betree opened #3656 "Magic links don't work with Outlook "safe links" (ATP)"
*Inspired by similar issue on an authentication library: https://github.com/FusionAuth/fusionauth-issues/issues/629*

Outlook will rewrite email links to direct them towards `https://*.safelinks.protection.outlook.com/` with the original url encoded as a query parameter, when a feature named ATP (Advanced Threat Protection) is enabled. It then fetches the link, invalidating the login token.

**Exp

[2020-11-02 17:20] sbinlondon commented on #3633
Which monthly reports does this need to be generated for?

Users and orgs only? There are 3 monthly reports from what I can tell: user, org, and collective.

@znarf @Betree

[2020-11-02 19:00] znarf commented on #3633
Users and Organizations in their monthly report.

[2020-11-02 19:35] darkdragon-001 commented on #3653
I have to estimate if I can spare enough time. In which repositories is the payment processor (e.g. recurring contributions) implemented?

[2020-11-03 00:08] kaylarep opened #3657 "Ask for more info on the Request a Grant flow"
It currently looks like this:
![image](https://user-images.githubusercontent.com/64920686/97931300-2d3d0780-1d22-11eb-93a0-6ccc93682a8a.png)

### We have been increasingly understanding what we can and cannot do legally with the Grant Request feature. Our legal advisor noted the following:

"Public charities that make grants to individuals need to keep adequate records and case histories to demons

[2020-11-03 04:01] Memo-Es opened #3658 "Update to the Collectives' transactions page"
Recently we updated the expense component to be displayed in public environments like the Collective page, along with a new design for the transactions page.

After new rounds of feedback and design iteration, we need to do some further improvements to the transactions page of Collectives to ensure consistency and a better user experience.

| Transaction list  | Expense details pop-up  |
|---|---|

[2020-11-03 04:05] alanna commented on #3653
@Betree @znarf can you comment on whether this could be a bounty?

[2020-11-03 04:20] alanna opened #3659 "Monster button in conversation email notification"
<img width="633" alt="Screen Shot 2020-11-03 at 5 19 15 PM" src="https://user-images.githubusercontent.com/5498878/97949529-c6d6e880-1df8-11eb-865f-d73f818d21ae.png">

[2020-11-03 06:55] Betree commented on #3659
@alanna could you forward me the email?

[2020-11-03 06:56] terminator0309 commented on #3649
![image](https://user-images.githubusercontent.com/57085155/97956761-8747d680-1dcf-11eb-8262-c1ee40b37959.png)
@Betree
i am getting this error when trying to open "My Collectives" through the drop down menu in nav bar.

[2020-11-03 07:00] Betree commented on #3649
@terminator0309 Try to `npm install` then restart the server

[2020-11-03 12:37] #3651 closed

[2020-11-03 15:22] Betree opened #3660 "Pending Transferwise expenses transactions crash"
In logs:
[code]

[2020-11-03 21:11] alanna commented on #3659
This is happening on more notifications:

<img width="764" alt="Screen Shot 2020-11-04 at 10 10 47 AM" src="https://user-images.githubusercontent.com/5498878/98040972-13b4d080-1e86-11eb-8e4e-5e2f42d36938.png">

I forwarded the emails to ben.

[2020-11-03 22:52] trusktr opened #3661 "Should I make a collective for my org? Or for my repo?"
OpenCollective.com presents two options:

- [ ] Create a collective for the repository
- [ ] Create a collective for the organization

I couldn't find any recommendations on which to pick. What's the advantage of one over the other? When should we pick one or the other?

Can we switch options, or enable both, later?

[2020-11-04 06:57] Betree commented on #3661
Hi @trusktr, this choice doesn't make a huge difference. If your project is something that mainly rest in a single repo (ie. a code library) then "repository" should be the right choice. If it's a set of multiple repos (ie. a website with a frontend + an API) then "organization" should be picked. The one you choose will affect:
- What the Github icon on your profile will link to
- What will be use

[2020-11-04 07:37] #3659 closed

[2020-11-04 14:44] Betree opened #3662 "User menu: wrap email address"
Long email addresses are not looking good in the user menu

![image](https://user-images.githubusercontent.com/1556356/98121956-4247a100-1eb0-11eb-87b6-a53ffc9ddffa.png)

[2020-11-04 14:44] Betree opened #3663 "Invisible checkbox on apply to host modal"
To reproduce:
- Create a collective
- On the profile page, click on "Start accepting financial contributions"
- Pick "Host"
- Select Open Source host and click Apply
- Scroll down the modal

![image](https://user-images.githubusercontent.com/1556356/98122327-b84c0800-1eb0-11eb-8156-4a0fe782b145.png)

[2020-11-04 17:07] SudharakaP opened #3664 "Misaligned "One-click Login" Button in Login Email"
**Describe the bug**

In the login email we send the "One-click Login" button that is used to login is misaligned with too much padding at the bottom.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://staging.opencollective.com
2. Click on Sign In
3. Go to your email and open the login email from OpenCollective

**Expected behavior**

The "One-click Login" button should not have

[2020-11-04 19:20] sbinlondon commented on #3638
Add to sections:

- [ ]

[2020-11-04 22:26] Betree commented on #3664
Thanks for the report @SudharakaP, it's actually a duplicate from https://github.com/opencollective/opencollective/issues/3659 but we haven't pushed the fix yet. It's on its way

[2020-11-04 22:26] #3664 closed

[2020-11-05 00:37] SudharakaP commented on #3664
@Betree : Ah, I missed that, sorry for the duplicate. 😄

[2020-11-05 01:40] alanna commented on #3422
This is becoming more important because we have a lot of mutual aid groups in Foundation funding sensitive expenses.

[2020-11-05 04:36] vickywane commented on #3662
@Betree I would like to fix this.

Would it be better to just truncate the email address after it grows out of the viewport and append "..." to it?

[2020-11-05 09:24] #3636 closed

[2020-11-05 14:28] terminator0309 commented on #3649
@Betree
![image](https://user-images.githubusercontent.com/57085155/98253152-b2cdeb00-1fa0-11eb-816c-b399b6ec35ed.png)
what do you think about this! Disabling the input box until the radio button is checked.

[2020-11-05 19:35] sbinlondon commented on #3640
@znarf @Memo-Es What's the expected behaviour of 'Apply to this host' in the actions menu?

<img width="669" alt="Screenshot 2020-11-05 at 19 27 54" src="https://user-images.githubusercontent.com/37520401/98287347-2241db80-1f9d-11eb-93fa-d277d0fc94a3.png">

Currently, if we visit a Host page and see the `ApplyToHostBtn`:

* if we're logged out, it says 'Apply' and we click it and it takes us to `o

[2020-11-05 20:00] Betree commented on #3662
I think it would be better to display the full email, only to jump to a new line (`word-break: break-all`).

But truncating (with CSS) is a valid option too.

[2020-11-06 12:41] sbinlondon commented on #3369
Need some clarifications @znarf @Betree @Memo-Es @piamancini :

This is our current logic for Collective page sections:

[code]

This project has defined 5 sections to cut down on the clutter: **Budget**, **Contribute**, **Connect**, **About**, and **Events**.

I assume this pertains to `CollectiveType.ORGANIZATION` and `CollectiveType.COLLECTIVE`, while the `CollectiveType.USER` page stays the sa

[2020-11-06 13:47] sbinlondon commented on #3369
UPDATE: please see the [table](https://docs.google.com/spreadsheets/d/15ppKaZJCXBjvY7-AjjCj3w5D-4ebLQdEowynJksgDXE/edit?usp=sharing) instead

[2020-11-06 16:59] #3633 closed

[2020-11-06 23:44] SudharakaP opened #3665 "Increase Width of Fees Column in Comparison Table"
**Describe the bug**

The fees column of the comparison table at https://docs.opencollective.com/help/product/comparison is too small in width to accommodate the content. Since a scroll bar is present in the bottom I think we should increase the min width of this column.

**To Reproduce**

Go to https://docs.opencollective.com/help/product/comparison and take a look at the comparison table at bott

[2020-11-07 02:26] SudharakaP commented on #3665
If a core member could confirm that this is something that needs to be done, I'll just submit a PR. 😄

[2020-11-08 11:37] vickywane commented on #3662
@Betree I just added the `word-break: break-all` to the default props of the P tag since this issue might occur in other parts of the frontend. Is the right thing to do or should I pass it as a prop to work only in the `TopBarProfileMenu` component?

[2020-11-09 04:35] alinamanko opened #3666 "Support Metrics Report October 2020"
### Support Metrics Report October 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/98500424-570da580-22b1-11eb-9c04-c727d580a343.JPG)

The number of tickets received has increased by 15% from 382 in September to 439

[2020-11-09 07:50] flaki commented on #3381
This is still very much an impediment in our day-to-days and would love to see this resolved please.

[2020-11-09 11:03] RCheesley opened #3667 "Approval email is received twice when sending via Open Collective mailing list"
**Describe the bug**
When sending an email via the Open Collective mailing list address on our event, I receive the confirmation email twice for the same email.

**To Reproduce**
Steps to reproduce the behavior:
1. Send email to collective event
2. Receive two email requests to confirm with identical content

**Expected behavior**
One email should be enough ;)

**Screenshots**
![screenshot-mail go

[2020-11-09 11:26] kewitz opened #3668 "TransferWise: Optimize which currency to use when Host have multiple currency accounts."
Consider all existing TW currencies when paying for an expense and, if possible, automatically select the currency that matches the payee currency.

Right now we're simply paying for expenses using the Host's currency due to the fact that most hosts are using TW just as a disbursement tool and often hold the balance in a single currency.

[2020-11-09 11:28] kewitz commented on #2958
Solved by https://github.com/opencollective/opencollective-api/pull/4713.

[2020-11-09 11:28] #2958 closed

[2020-11-09 11:50] sbinlondon commented on #3641
@Memo-Es @znarf  Another questions, do all these menu items lead to standalone pages, or can they link to parts of the main Collective page?

For example, Transactions and Expenses are both standalone pages that exist (`/collective/expenses` and `/collective/transactions`). But there is no standalone page (that I know of) for Team or About. So would those just link to `/collective/#section-about`?

[2020-11-09 13:24] #3643 closed

[2020-11-09 13:28] kewitz commented on #3658
Awesome @Memo-Es! Labeled important due to recent requests/complaints related to transaction transparency.

[2020-11-09 14:47] #3660 closed

[2020-11-09 16:40] Memo-Es commented on #3278
This is being implemented right @kewitz?
Can we mark this one as 'Closed'?

[2020-11-09 16:47] Memo-Es commented on #3230
This is being implemented in the new Collective page update

<img width="1616" alt="Screen Shot on 2020-11-09 at 10-45-33" src="https://user-images.githubusercontent.com/49539954/98570241-d6cb4e00-2278-11eb-8f46-1a4d896ba576.png">

[2020-11-09 16:50] Memo-Es commented on #3245
This is being implemented in the new Collective page update.
It has a dedicated issue: #3640

[2020-11-09 20:04] znarf commented on #3381
@piamancini What do you think about it?

[2020-11-10 03:09] Memo-Es opened #3669 "'Progress Tracker' Component - Design Improvements"
### Design update
---

We updated the progress trackers we use in our platform (Linear and radial steppers) to address some text readability issues.

![☉  Progress Tracker](https://user-images.githubusercontent.com/49539954/98622583-7c111100-22cf-11eb-8e0d-36dbd31c5bb8.png)

Check the [design file](https://www.figma.com/file/N4Xbl652BhzOutXmzhcrLGch/DS-02-Atoms?node-id=3875%3A449) in figma 🎨

@Bet

[2020-11-10 10:21] sbinlondon commented on #3638
Merged for all sections except "About" (which will need a bit of a facelift).

Next step is to maybe further abstract the component a bit more so it doesn't have to be the same code in each section component.

[2020-11-10 10:23] sbinlondon commented on #3640
Following conversation yesterday, the MVP for this project is going to be:

* find every collective that we could apply to a host with and render a menu card for that

![image](https://user-images.githubusercontent.com/37520401/98661640-a352f700-233e-11eb-85d3-9260f209d4b9.png)

There is going to be an additional project following Collective Navigation v2 to address the 'apply to host' button more

[2020-11-10 10:29] sbinlondon commented on #3639
Hi Ben just looking at this again, I think this would be a great improveent - can you please rebase and merge the PR as suggested and let me know how it's meant to be used once you're back?

[2020-11-10 10:31] sbinlondon commented on #3639
Some clarifications in discussion with design:

* The back arrow and Collective avatar icon: this is displayed in the navbar on subpages (like `/collectiveslug/budget/transactions`) so it will take you back to the main Collective page.

[2020-11-10 10:32] sbinlondon commented on #3640
More clarifications:

* If there are no calls to action that will be rendered in the ACTIONS menu, then we don't render the ACTIONS menu at all

[2020-11-10 10:33] snitin315 commented on #2605
@jeffin143 Any update on this?

[2020-11-10 10:34] sbinlondon commented on #3641
Speaking to Memo on Slack:

* drop down menus are only visible in sub pages, in the Collective page when you click on a menu element it drags you where that section is in the page

[2020-11-10 10:55] sbinlondon opened #3670 "Collective Navigation v2: section updates"
Some things need to be moved around from where they are currently to match the new Collective navigation design:

- [x] move `${collective} is all of us` Contributors section into Contribute section - https://github.com/opencollective/opencollective-frontend/pull/5567
- [x] move Events from Contribute into its own section
- [x] create Connect section and put Updates and Conversations sections in i

[2020-11-10 10:58] sbinlondon opened #3671 "Collective Navigation v2: update edit collective 'profile page' sections"
Since we're updating the sections we have and what goes in them, we'll also need to update the part of the edit collective menu that allows admins to enable/disable features on their collective page.

<img width="1218" alt="Screenshot 2020-11-10 at 10 57 52" src="https://user-images.githubusercontent.com/37520401/98665450-9ab0ef80-2343-11eb-943a-dd7551478791.png">

Details TBA

[2020-11-10 12:11] jeffin143 commented on #2605
Dropping it of , you can claim it

[2020-11-10 12:48] #3642 closed

[2020-11-10 13:12] kewitz opened #3672 "Submit on Behalf: Follow up"
Fix feedbacks collected in the #submit-on-behalf channel.

Plus:
- [x] When creating a new organization, the "Request by" subtitle bugs
    ![image](https://user-images.githubusercontent.com/2119706/98678341-27a47a80-233d-11eb-85d2-04769ca1f989.png)

[2020-11-10 19:23] kaylarep commented on #2682
We have received more requests from our hosted groups for this feature.

[2020-11-10 22:54] alanna commented on #3671
Great! Let's please remove the confusing/conflicting seperate sections for `conversations` and `updates` settings. #3396

I discussed this with @Betree and I think we concluded there's no need for seperate settings for these two and it can just be managed from the profile page settings like all the other sections.

[2020-11-11 00:08] kewitz commented on #3278
@Memo-Es kinda, it is currently only available for invoices in selected collectives since it is implemented with the Submit on Behalf feature.

[2020-11-11 18:09] XkingG opened #3673 "[PROJECT]"
## Purpose
(Why have we prioritised this?)

## Owner
(Name of core team member responsible for the project)

*Note: Project owner responsibilities include coordinating all the different people that need to contribute to the project, defining specs and goals, communicating project progress, being the point person for decisions, QA, documentation, and a plan for ongoing maintenance. If the project o

[2020-11-11 22:35] alanna commented on #3655
We need a solution to this. I'm about to go out with the contributor leaderboard and if someone clicks through they won't be able to see how much that sponsor has contributed.

[2020-11-11 22:55] alanna opened #3674 "Variable names showing in expense summary"
![Screen Shot 2020-11-12 at 9 49 03 AM](https://user-images.githubusercontent.com/5498878/98873801-ded7f780-24dd-11eb-9e56-8579e9cf1d48.png)

https://opencollective.com/foundation/expenses/27896

Appearing on the summary screen but goes away once the expense is submitted, it seems.

[2020-11-12 07:35] Betree commented on #3665
@SudharakaP That would be welcome. I'm not sure how customizable Gitbook (that we use for these docs) is on this topic.

[2020-11-12 07:42] SudharakaP commented on #3665
@Betree : I haven't used Gitbook at all, but I'll take a look tomorrow to see what we can do. 😄

[2020-11-12 07:47] Betree commented on #3639
@sbinlondon I'll do that :+1: The behavior is described in https://github.com/opencollective/opencollective/issues/2807. Basically, you just query the `features` field like that:

[code]

And get something like:
[code]

[2020-11-12 07:50] #3673 closed

[2020-11-12 07:52] Betree commented on #3674
I think that's the same one already reported in https://github.com/opencollective/opencollective/issues/3672

[2020-11-12 08:18] SudharakaP opened #3675 "Rename master branch to main in all OpenCollective repos"
It would be nice to rename and migrate the default branches of the open-collective repos to `main`. The process of doing so is summarized here;

https://dev.to/swyx/move-primary-git-branch-from-master-to-main-m7c

GitHub will eventually support [seamless re-targetting of PRs and branch protection policies etc](https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositori

[2020-11-12 08:21] Betree commented on #3675
Thanks for sharing @SudharakaP! Would be great to wait for Github to implement what's described in the [link you shared](https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-) as it will make the process way easier.

[2020-11-12 08:24] SudharakaP commented on #3675
@Betree : Yes, for sure. Although it will still probably take some manual effort to change the CI and code and documentation mentions of `master`.

[2020-11-12 15:48] kewitz commented on #3323
Since it refactors multiple crucial components in the expense flow, I shipped this under a feature flag enabled on a collective basis for testing.
@xdamman, I enabled it for Brussels Together, let me know if you want to test this in any other collective.

[2020-11-12 16:00] Betree commented on #3649
@terminator0309 this won't match the expected behavior described above. What we want is to have the radio button selected whenever you click inside of the input.

[2020-11-12 18:43] SudharakaP commented on #3665
Doesn't seem this is possible in a straightforward manner. It seems that the line breaks on Gitbook is automatic and given that the content of the row is not a proper sentence it seems to break it at weird places. :thinking:

Therefore I am closing this issue; but if anyone has any ideas on how to make Gitbook customizations on these column widths please feel free to reopen. 😄

[2020-11-12 18:43] #3665 closed

[2020-11-12 21:19] phated commented on #3461
I'm not sure if this belongs here, but it's also worth noting that you need to add nofollow attributes to links in their "about" section on their profile. For example https://opencollective.com/casino-topp#section-about is abusing links there to get SEO.

[2020-11-13 03:35] alanna opened #3676 "Option for host to disable Paypal for payouts"
## User story
As a fiscal host, I want to pay out expenses via bank transfer or other means, and not offer Paypal as an option, since some countries don't have Paypal and some organisations don't want to use Paypal.

## Best solution for this problem
Under host settings > sending money have a toggle to switch Paypal off, which removes it from the options on the dropdown menu when submitting expens

[2020-11-13 19:06] RahulBansal123 commented on #3646
I would like to fix this.

[2020-11-13 21:15] gutofoletto commented on #3603
Hey there. Sorry I couldn't tackle this sooner
I just pulled from master and it seems that this problem is gone 🤔
So it might be good to close this issue

[2020-11-14 02:56] snitin315 commented on #3646
@RahulBansal123 feel free to send a PR.

[2020-11-15 21:59] alanna opened #3681 "Add link between /hosts and /discover"
Sometimes users end up at https://opencollective.com/hosts when they are looking for Collectives, and at https://opencollective.com/discover when looking for hosts. It would be helpful to have links between them in case the user isn't finding what they are looking for. We should have a great search function where we can find everything with useful filters, but until we can build that a simple link

[2020-11-15 22:57] marrhh commented on #3654
Gotcha

[2020-11-16 03:11] xcatliu opened #3682 "How to add Github contributors to a collective?"
Similar to #282

I've created a collective https://opencollective.com/pagic but the https://opencollective.com/pagic/contributors.svg is empty.

The GitHub repo is https://github.com/xcatliu/pagic

We are hoping to add our GitHub contributors to README.

Thank you!

[2020-11-16 03:28] Memo-Es opened #3683 "Custom OCF apply flow"
We designed the process to onboard a fund from the [apply button](https://tafka.d.pr/vTZhFZ) of the [OCF homepage](https://opencollective.foundation/)

| 1. Intro  | 2. Fees  | 3. Form  | 4. Success  |
|---|---|---|---|
| ![1](https://user-images.githubusercontent.com/49539954/99208824-3351d000-2787-11eb-83b2-d4f0a2899c81.png)  |    ![2](https://user-images.githubusercontent.com/49539954/99208822-

[2020-11-16 06:59] Betree commented on #3603
Issue seems fixed indeed, @kewitz probably fixed it since then?

Anyway thank you @gutofoletto, feel fee to look at other issues if you want to paticipate :-)

[2020-11-16 06:59] #3603 closed

[2020-11-16 07:03] Betree commented on #3681
https://github.com/opencollective/opencollective/issues/2605 is currently being tackled by a contributor

[2020-11-16 07:25] #3669 closed

[2020-11-16 13:03] xcatliu commented on #3682
Issue solved!

[2020-11-16 13:03] #3682 closed

[2020-11-16 13:27] znarf opened #3684 "Payment Receipts follow up"
Taking the example of the Open Source Collective dashboard in November.

1) We should not display consolidated receipts for current month. It should only be possible after the Month is over.

<img width="924" alt="Screenshot 2020-11-16 at 14 20 31" src="https://user-images.githubusercontent.com/806/99257259-08af5800-2817-11eb-92e4-721516c5d5dc.png">

2) To simplify, and to avoid confusion, we shou

[2020-11-16 14:02] #3672 closed

[2020-11-16 14:02] #3674 closed

[2020-11-16 21:31] alanna opened #3685 "Fixing Tai Collective setup"
I need some help fixing up a new host which has encountered some snags in setup.

They have set up this Collective: https://opencollective.com/tai-collective

Here's what's needed:

1. The creator set up the fiscal host as [himself](https://opencollective.com/ian-tairea) but actually this should be a self-hosted Collective. So there should be a fiscal host called Tai Collective with its budget on,

[2020-11-17 07:39] Betree opened #3686 "Expense templates (aka. submit again)"
Alternative to https://github.com/opencollective/opencollective/issues/1862 & https://github.com/opencollective/opencollective/issues/938

## User story
Submitting recurring expenses (ie. a monthly invoice) can be time consuming.

## Best solution for this problem
Something that was suggested while designing the new expense flow was to be able to save an expense as a template, then to be able to p

[2020-11-17 07:51] sentry-io[bot] opened #3687 "Error: Cannot read property 'getHostCollectiveId' of null"
Sentry Issue: [OC-FRONTEND-2P9](https://sentry.io/organizations/open-collective/issues/2035155001/?referrer=github_integration)

[code]

Results in a crash or the profile page.
Example: https://opencollective.com/lynnquisition

Root cause: V1 `transaction` > `host` field.

[2020-11-17 07:56] Betree commented on #3687
Actually it's a transaction to a collective that has been deleted on `2019-03-24 21:11:01`, which we're not supposed to allow.

[2020-11-17 08:04] Betree commented on #3391
Though it's not a fully generic system, the code now supports multiple taxes and it will be easier to add new ones so I think this is done. Feel free to re-open if you think we still have work to do here.

[2020-11-17 08:04] #3391 closed

[2020-11-17 08:07] #3663 closed

[2020-11-17 11:31] znarf commented on #3605
It was partially fixed but that needs to be double checked. https://github.com/opencollective/opencollective-api/pull/4756/files#diff-f462c25a8e5deddb0246b43ce2aaac42df8fd5980855a69c9835b3d6b493a768R568

[2020-11-17 11:58] Betree opened #3688 "Search with Algolia: pagination is not working properly"
**Describe the bug**
When searching with Algolia, the pagination returns inconsistent results. For example, you'll get 37 pages for the `test` keyword, but some pages will contains 20 items and others only 18 or 17. This is probably because we filter the results from Algolia after they are returned to us (see https://github.com/opencollective/opencollective-api/blob/94a5765f03a93fb0a8411517342b66b

[2020-11-17 12:31] znarf commented on #3688
Yeah, everything will be much easier with SQL search.

[2020-11-17 13:47] Betree commented on #3396
Wondering how this is going to play with the new `CONNECT` section , that's going to group updates and conversations in the same place. We need to be able to disable conversations without breaking updates and vice versa.

[2020-11-17 14:06] Betree commented on #3164
Shipped :rocket:

[2020-11-17 14:06] #3164 closed

[2020-11-17 15:41] znarf commented on #3685
1. Not possible now, the feature is not released and may take one more month to be fully available.
2. Done
3. Done. Not sure what happened. There are some reported issues when connecting Stripe but we haven't be able to nailed it yet
4. Done

[2020-11-17 20:03] alanna commented on #3685
THank you!

[2020-11-17 20:03] #3685 closed

[2020-11-18 08:41] alanna opened #3689 "[PROJECT] Setting to differentiate legal name and display name"
## Overview

## Ownership
Product: @benjam, @alanna
Eng: @Betree, @SudharakaP
Design: ?

## Prioritisation

**Impact:** This issue stops communities from tackling issues that put members at risk (human rights, social justice etc). This impacts on our ability to have an impact on these issues.
**Frequency** This issue affects a small number of our users currently.

## Proposed solution
An optional

[2020-11-18 09:51] Betree opened #3691 "Tax forms: add job to cleanup deprecated requests"
**Describe the bug**
[This](https://opencollective.com/pixijs/expenses/27964) expense was initially submitted with an amount of $1000 then updated to $75 before being approved. Because we send the tax form when the expense is `PENDING` (so right after its creation), user got a tax form request.

Another problem with the current behavior is that a spammer submitting many invoices could exhaust our

[2020-11-18 13:34] Betree commented on #3634
The behavior you describe sounds good to me. As mentioned on the other issue, we need to think about what that means for https://github.com/opencollective/opencollective/issues/3396

[2020-11-18 13:35] Betree commented on #3569
@alinamanko is this still happening?

[2020-11-18 13:36] #3687 closed

[2020-11-18 13:54] #3662 closed

[2020-11-18 14:34] vickywane commented on #3683
@Memo-Es if this is not a feature to be worked on internally, I would be excited to implement these designs @Memo-Es @alanna @znarf

[2020-11-18 14:42] Betree commented on #3691
As discussed in the call today, we don't want to delay sending the tax form email because it could impact the completion negatively because users will not have the context of the expense if they receive it a few days/weeks after.

We'll rather solve this issue by creating a (daily, weekly?) job to cleanup unnecessary tax forms.

[2020-11-18 14:43] #3618 closed

[2020-11-18 14:52] Betree commented on #3230
Also for mobile:

![image](https://user-images.githubusercontent.com/1556356/99545738-fe779000-29b5-11eb-9d15-581ec0f34ec7.png)

Design: https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=6564%3A416

[2020-11-18 15:06] Betree commented on #3230
We also need to add a field on GQLV1 `CollectiveStatsType` like `pendingExpensesAmount` that sums up all the expenses that are `PENDING`, `APPROVED`, `PROCESSING`, `ERROR` or `SCHEDULED_FOR_PAYMENT`

[2020-11-18 15:30] sentry-io[bot] opened #3693 "Pledges page crash when pledgers delete their accounts"
See https://opencollective.com/pencil

[code]

*Context*
Sentry Issue: [OC-FRONTEND-2PD](https://sentry.io/organizations/open-collective/issues/2039186767/?referrer=github_integration)

[2020-11-18 17:22] #3119 closed

[2020-11-18 17:27] sbinlondon commented on #3396
This was a source of confusion for me writing the code @alanna so I agree it needs to be one or the other.

@Betree I was originally going to say that we should go for the `settings.collectivePage.sections[{section: "updates", isEnabled: true }, ...]` option but the more I think about it the more I dislike this. As you mentioned in clarifying features vs sections, CONNECT is a section, but UPDATES

[2020-11-18 22:18] alanna commented on #3691
Yes - we designed it this way because it can create a big delay if a user submits and expense, then has to wait for approval, then has to get and fill out the tax form before getting paid.

[2020-11-19 05:43] SudharakaP opened #3694 "Export Section in Edit Collective is not Mobile Optimized"
**Describe the bug**

I noticed that the Export section within the Edit Collective screen isn't behaving well on mobile devices. As seen by the below screenshot part of it is cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective you have admin rights.
2. Click on settings (near the logo).
3. On the left hand side, select Exports.

Note: You'll have to do the above in a

[2020-11-19 05:48] SudharakaP opened #3695 "Fiscal Host Section in Edit Collective is not Mobile Optimized"
**Describe the bug**

I noticed that the Fiscal Host section within the Edit Collective screen isn't behaving well on mobile devices. The description should probably appear below the collective image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective you have admin rights.
2. Click on settings (near the logo).
3. On the left hand side, select Fiscal Host.

Note: You'll have

[2020-11-19 06:34] SudharakaP commented on #3289
@Betree : I've removed `MarkdownEditor`from the list as it seems to me that it was removed. Let me know otherwise. 👍🏽

[2020-11-19 07:15] Betree commented on #3289
@SudharakaP indeed, you did good👍

[2020-11-19 09:39] VinayakChopra commented on #3694
Hi, @SudharakaP @Betree I would like to contribute to this issue, how do I go about the same? Thanks!

[2020-11-19 10:57] #3649 closed

[2020-11-19 11:11] Betree opened #3696 "New navbar actions menu is not accessible"
We should be able to open through the menu with tab + enter keys.

To achieve that:
- Use a `StyledButton` (can make it "invisible" with `buttonStyle="secondary" isBorderless` + `buttonSize`)
- Or use `tabIndex`

[2020-11-19 13:45] sbinlondon commented on #2807
API features endpoint has been merged 🎉👯‍♂️

[2020-11-19 13:45] #2807 closed

[2020-11-19 13:57] sbinlondon commented on #3639
Features endpoint has now been merged. Starting to use it on the frontend in https://github.com/opencollective/opencollective-frontend/pull/5415

To do next: update the graphql prefetching and sections data fetching for the collective page to only fetch data for features like UPDATES or CONVERSATIONS if they are supported and active

[2020-11-19 13:59] sbinlondon commented on #3640
Still to do:

- [ ] make sure we are including all CTAs like in the current navbar
- [ ] [make it accessible](https://github.com/opencollective/opencollective/issues/3696)

[2020-11-19 18:55] SudharakaP commented on #3694
@VinayakChopra : Sure please feel free to go ahead (hope you agree too @Betree 😄); I've assigned the issue to you. The component in question is [`Export.js`](https://github.com/opencollective/opencollective-frontend/blob/master/components/edit-collective/sections/Export.js) and this is probably where you will need to make changes for the responsiveness. Feel free to let us know if you need any fur

[2020-11-19 19:48] SudharakaP opened #3697 "Tier Section in Edit Collective isn't Responsive for smaller screen sizes"
**Describe the bug**

The `Tier` section within the Edit Collective page isn't behaving properly for small screen sizes and mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collective you have admin rights.
2. Click on settings (near the logo).
3. On the left hand side, select Tier.

Note: You'll have to do the above in a mobile device or use the browser dev tools.

**Expected

[2020-11-20 06:40] Betree commented on #3694
Absolutely :-) thanks for documenting this issue @SudharakaP, and thanks for offering your help @VinayakChopra!

[2020-11-20 07:13] Betree commented on #3639
Could we specify that in an issue and solve it later? It's a potential good performance improvement, but:
- Performances improvements have to be measured. Maybe it's actually worse to do it this way because we'll be triggering multiple GraphQL queries in parallel (thus loaders won't be able to do their job)
- It doesn't seem like a priority in the context of this project

Unless there's another ar

[2020-11-20 07:18] Memo-Es opened #3698 "Consensus on naming and behaviour of sections and subsections in the Collective page"
During the design and implementation of the new navigation for Collectives pages we have been encountering some discrepancies in how we name and treat the sections of the Collective page.

We need to solve it in a language level before moving forward with the implementation of the project.

Currently we have this organization ([Example](https://opencollective.com/design)):

We see these sections i

[2020-11-20 12:26] sbinlondon commented on #3698
Re: @Memo-Es's suggestion:
| Example  | Suggested name  | Behavior  |
|---|---|---|
| **Top level item**  | 'Category'  | Takes you to the Collective page and scrolls you down to that category  |
| Sub-index w/page ✅  | 'Menu item'  | Takes you to the standalone page of the feature  |
| Sub-index w/no page 🚫  | 'Feature'  |  N/A It just lives in the C.Page

Largely agree on the divisions, disagree

[2020-11-20 12:28] sbinlondon opened #3699 "Collective Navigation v2: use features endpoint to selectively fetch collective page GraphQL data"
Make use of the new features endpoint and navbar categories to only fetch data for features which are:

* supported for the collective
* and are enabled
* and have data

[2020-11-20 12:42] sbinlondon opened #3700 "Use features endpoint to selectively fetch GraphQL data for standalone pages"
Like `pages/conversations.js` and `pages/expenses.js`

(to be expanded)

[2020-11-20 15:12] Betree opened #3701 "Add keyboard shortcuts to modals"
*Initial idea suggested by @znarf*

## User story
As a power user, I can navigate through modals with keyboard shortcuts.

## Best solution for this problem
For all modals:
- `Esc` should close the modal

If corresponding prop is `true`:
- `Enter` should confirm the modal (only when not dangerous, ie. not for "Delete account")

[2020-11-22 02:23] alinamanko commented on #3569
@Betree just checked and it seems to be working - adjusted the fees and will close this issue now

[2020-11-22 02:23] #3569 closed

[2020-11-22 12:12] flaki opened #3702 "Value too long for type character varying error on Update preview"
**Describe the bug**
Getting an error when trying to preview/create a new Update:

**To Reproduce**
Not exactly sure, to be honest.

Started out trying to bring [this document](https://hackmd.io/6JaBAp6KT1K8yyzxZ0HAIQ?both) over from HackMD and initially it worked fine (one needs to copy-paste the formatted version into the WYSIWYG editor), but with a few edits to make it look better with Open Col

[2020-11-22 18:51] SudharakaP opened #3703 "Minor Error due to Legacy Next.js Property"
**Describe the bug**

Just a minor error I saw coming from Next.js due to the legacy `url` property on our `_error.js` page.

[code]
Details on this can be found at,

https://github.com/vercel/next.js/blob/master/errors/reserved-page-prop.md

**To Reproduce**
Steps to reproduce the behavior:

- Go to any non-existent page and you'll see this error

**Expected behavior**

Ideally we don't need to s

[2020-11-23 02:13] SudharakaP opened #3704 "Next.js 404 Page Missing"
**Describe the bug**

It seems that Next.js is expecting a 404 page when we customize the `_error.js` page. When a 404 error is thrown the following message is displayed in console;

[code]
I suggest adding a 404 error page specifically for 404 errors to take advantage of [Next.js static optimization](https://nextjs.org/blog/next-9-3#automatic-static-optimization-for-404). If we could come up with

[2020-11-23 05:17] VinayakChopra commented on #3694
Hi, @SudharakaP @Betree thanks for assigning me this issue. I tried fixing the same but couldn't as I am still learning react as of now. I would love to work on issues once I am more comfortable with react and javascript.

[2020-11-23 07:52] #3703 closed

[2020-11-23 07:55] Betree commented on #3704
To be confirmed, but I think the reason for this is that's because we have a fallback route (`pages.add('collective', '/:slug', 'collective-page');`) that will be called for any unknown path, thus we can't really end up on a 404 template.

[2020-11-23 07:57] Betree commented on #3694
@VinayakChopra No problem! Good luck with your learning. Feel free to come back when you'll feel more comfortable :slightly_smiling_face:

[2020-11-23 10:12] Betree opened #3705 "Deprecate "Order" page"
In https://github.com/opencollective/opencollective-frontend/pull/5424, there's one last component we're not able to remove yet: `Order`. It is used by the order page, ie: https://staging.opencollective.com/captainfact_io/orders/49715.

~This page itself is linked from the "Pending contribution" email: https://github.com/opencollective/opencollective-api/blob/005511c87ef6611991628ff87659772891db59

[2020-11-23 10:14] sbinlondon commented on #3639
It is a [separate issue](https://github.com/opencollective/opencollective/issues/3699)! 👍

[2020-11-23 10:42] sbinlondon commented on #3640
@Betree

[2020-11-23 11:45] vickywane commented on #3701
I would work on this @Betree

[2020-11-23 13:07] theAkito commented on #1362
Will this be available for recurring donations, as well?

[2020-11-23 14:17] sbinlondon commented on #3698
@piamancini @Betree @kewitz @znarf

[2020-11-23 15:29] #3417 closed

[2020-11-23 16:16] Betree commented on #3698
This brings more clarity, thank you for documenting that @Memo-Es and @sbinlondon.

I agree with everything described in https://github.com/opencollective/opencollective/issues/3698#issuecomment-731140874. My main feedback would be to be careful with using just `Category`, because this word already has a meaning in the context of accounts (categories like `casino`, `seo`, etc). Out of clarity, I t

[2020-11-23 16:38] kewitz commented on #3698
@Memo-Es the expanded mobile menu is looking really good, I think it solves the issue related to linking to pages and sections we discussed in our meeting.

I agree with @sbinlondon. It is important to set coherent, non-conflicting names and be consistent across the front and back end.

My problem with listing standalone pages as a link in the dropdown is that sections belong to pages and not the

[2020-11-23 17:26] piamancini opened #3706 "Open Collective Roadmap Q4 Sprint2"
## Funds
**Project owner** @piamancini
**Design owner** @Memo-Es
**Issue:** #3683
Design Status: Production Ready
**Goals:**
Implement for OCF  (Find a contributor)
Sending the fiscal sponsorship agreement automatically (not spec'd out)
Status: Almost ready / Feedback needed

## 2FA
**Owner**: @znarf
**Tech**: @sbinlondon
**Issues**: ~#3518~ ~#3516~ ~#3274~ ~#1746~ #459 #3709 #3711
**Goals**:
Back

[2020-11-23 18:17] SudharakaP commented on #3704
Sure let me know. Yes, that is my understanding too; but I was wondering if we could replace that route with the 404 page so as to leverage static optimization; since for non-existent collective page we just show the `Not Found` and two buttons. 🤔

[2020-11-24 00:54] alanna opened #3707 "Duplicate event"
## User story
As an event organizer, I want to be able to duplicate an event, so that I can host repeating events more easily.

holds weekly events were folks are required to reserve a spot. The event is basically the same every time. So there you can see why this functionality would be super useful.

## MVP
A `duplicate` button on past events that copies everything except the date.

A setting to

[2020-11-24 07:39] Betree commented on #3707
Similar alternative, close to what was suggested for expenses in #3686: have a dropdown in the event creation form to select another event to use as a template.

[2020-11-24 09:09] Betree commented on #3443
Done :tada:

[2020-11-24 09:09] #3443 closed

[2020-11-24 09:41] #3635 closed

[2020-11-24 09:41] #3634 closed

[2020-11-24 09:45] sbinlondon commented on #3274
Released publicly. Will open separate more specific issues for furthering 2FA.

[2020-11-24 09:45] #3274 closed

[2020-11-24 09:46] sbinlondon commented on #1746
2FA for login has been released! You can find it in your profile settings menu. Please open another issue for any bugs/further work you believe we should do on this 🙏

[2020-11-24 09:46] #1746 closed

[2020-11-24 09:51] sbinlondon commented on #3518
Released to Open Source Collective on prod. Next step release to limited number of other hosts.

[2020-11-24 09:53] sbinlondon commented on #3328
Read my mind @alanna I was coming here via the 2FA issues to see if that ticked the box. Should we leave this issue open since 2FA doesn't *exactly* do what you were describing, or can we close it since 2FA is in essence providing more security, just in a different way? We can always reopen or open another issue if people request another specific security practice.

[2020-11-24 09:56] sbinlondon opened #3708 "2FA: release 2FA for host payouts to more hosts on prod"
2FA for payouts with adjustable rolling limit has been released to Open Source Collective on prod.

This issue is for collecting feedback and discussing improvements, and making a plan for releasing it more widely.

[2020-11-24 09:56] sbinlondon commented on #3516
Released to OSC on prod. See https://github.com/opencollective/opencollective/issues/3708 for further discussion.

[2020-11-24 09:56] #3516 closed

[2020-11-24 09:56] sbinlondon commented on #3518
Released to OSC on prod. See https://github.com/opencollective/opencollective/issues/3708 for further discussion.

[2020-11-24 09:56] #3518 closed

[2020-11-24 09:59] sbinlondon commented on #459
@znarf @Betree @kewitz We're adding 2FA for payouts for hosts. What do we think about the other points included here - email, expense approval/rejection, other administration? I think expense approval/rejection is potentially covered by payout 2FA since you can't really approve and then payout without having the 2FA sorted. But maybe we want as many layers of protection regarding payments as possi

[2020-11-24 10:04] sbinlondon opened #3709 "2FA: way to login if 2FA is inaccessible"
## User story
_As user with 2FA enabled on my account login, I have the ability to bypass 2FA using a set secure method (i.e. recovery codes) so that I can access my account if I lose my phone, etc._

## Best solution for this problem
Potentially recovery codes. See research section below.

## Metrics
Fewer users contacting support about losing/switching phones and other problems related to 2FA.

[2020-11-24 10:06] Betree opened #3710 "Pages from "frontend.opencollective.com" being indexed"
A first mitigation was pushed in https://github.com/opencollective/opencollective-frontend/pull/5455, but what we really want is to send a no-index whenever a page is rendered from the domain `frontend.opencollective.com`.

![image](https://user-images.githubusercontent.com/1556356/100079401-e8018680-2e44-11eb-9dfe-036f88be30ed.png)

[2020-11-24 10:07] sbinlondon opened #3711 "2FA: ability to turn off 2FA if you don't want it for login anymore"
## User story
_As user with 2FA enabled on my account login, I can turn off 2FA (without contacting OC) if I don't want to use it anymore._

## Best solution for this problem

![Screenshot 2020-11-24 at 17 28 50](https://user-images.githubusercontent.com/37520401/100130392-8f4ce080-2e7a-11eb-85f9-7556c952808c.png)

* A user can go to the "Two-factor authentication" menu section in their profile se

[2020-11-24 10:10] sbinlondon commented on #3607
Ok in that case it sounds like we just need to sort:

[code]

I will make an issue.

[2020-11-24 10:13] sbinlondon opened #3712 "Remove "member" from user-facing messages"
* `"members.pending.details": "This member has not approved the invitation to join the collective yet"`
* `"paymentMethod.monthlyLimitPerMember.label": "Monthly limit per member"`
* `"transaction.refund.info": "This action will reimburse your contributor for the full amount of their contribution and they will still be a member of your Collective."`

[2020-11-24 10:38] Betree opened #3713 "Remove react-markdown"
We now store content directly in HTML and edit it through the `RichTextEditor`. `react-markdown` is still used by the host/collective policies, so we'll need to migrate them.

# Specs

There are two fields that we need to migrate:
- `expensePolicy`
- `contributionPolicy`

## API
- [x] Have a migration that converts the content to HTML with `showdown` & sanitizes it
- [x] Use `server/lib/sanitize-h

[2020-11-24 10:40] Betree commented on #3713
:gift: :money_with_wings: A **$300** bounty was attached to this issue. Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted and merged.

:arrow_right: [More info](https://docs.opencollective.com/help/developers/bounties)

[2020-11-24 11:09] sbinlondon commented on #3575
docs.opencollective.com updated with most recent info.

PRs to update Github documentation:

opencollective/opencollective: https://github.com/opencollective/opencollective/pull/3714
opencollective/opencollective-api: https://github.com/opencollective/opencollective-api/pull/4913
opencollective/opencollective-frontend: https://github.com/opencollective/opencollective-frontend/pull/5458

[2020-11-24 11:10] #3575 closed

[2020-11-24 11:18] Betree commented on #3233
Done in https://github.com/opencollective/opencollective-api/pull/4883.

[2020-11-24 11:18] #3233 closed

[2020-11-24 11:22] Betree commented on #3247
This should be fixed now that search is moved to SQL

[2020-11-24 11:22] #3247 closed

[2020-11-24 11:24] #2605 closed

[2020-11-24 11:24] Betree commented on #2605
:trophy: This issue has been completed by @snitin315

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-11-24 12:06] Betree opened #3715 "Rich Host applications"
## User story
- In latest designs, users can attach a message when they apply for a host
- [OCF apply form](https://github.com/opencollective/opencollective/issues/3683) is going to have many fields attached to the host application

So we need a way to attach a `message` and optional fields data to an application

## Best solution for this problem
Have a `HostApplications` table to store applicati

[2020-11-24 12:11] sbinlondon commented on #3709
Discussion welcome - recovery codes seem to be the way to go but interested in other ideas. @znarf @Betree @kewitz

[2020-11-24 12:15] znarf commented on #3709
@sbinlondon Can you propose an implementation proposal for the recover codes?

[2020-11-24 12:57] xdamman commented on #2998
Any update on this?
It's both a frontend and backend issue because it turns out that there is no way to get the total numbers of contributors of a collective via the graphql api (you need to iterate through all `collective.contributors`). And `collective.stats.collectives.all` only returns the sub collectives (collective that have the current collective as a parent).

[2020-11-24 13:10] kewitz commented on #3709
Recovery codes seem the way to go, we could generate a set of codes based on the existing key.

I think it is equally important to remember that we already expose the raw key when setting up two-factor authentication, it is the manual entry for the QRCode, and this can be used to set up the same OTP generator on different devices.
Technically this is might not be the best practice, but neither usi

[2020-11-24 14:33] sbinlondon commented on #2876
Closing this issue, bug will be taken care of in the Sentry issue.

[2020-11-24 14:33] #2876 closed

[2020-11-24 14:33] Betree opened #3716 "Steps component bubbles aliasing"
The steps component that's mainly used in the contribution flow seems to have some aliasing on the bubbles (the lines are not smooth). For me this only happens on **Chrome**, Firefox is displaying them fine.

There seem to be some conversations about that on the Internet, suggesting to use a hack with `box-shadow`. But if there's no clean way to solve it with CSS, I think we should just render the

[2020-11-24 14:45] kewitz opened #3717 "Update Pricing Page"
- [x] Update the static pricing page
- [x] Update the Host Plan picker on the collective settings page
- [x] Add warning about the 15% charge if applicable
- [x] Disable type=USER with 0% Host Fees (we deprecated)

[2020-11-24 17:27] sbinlondon commented on #3698
This is fine by me. I want extra extra clarity though:

1. This `sections` array is the one in `settings.collectivePage` right?
2. Does the `isEnabled` on a section in the `settings.collectivePage.sections` array **ONLY** pertain to whether that section is visible/not visible on the collective page?
3. `settings.collectivePage.sections[section].isEnabled` is different to `settings.features[feature

[2020-11-24 17:32] sbinlondon commented on #3711
@znarf Does this implementation sound ok to you?

[2020-11-24 18:17] Memo-Es commented on #3698
Agree about the navigation consistency. The proposal described above is meant to be consistent on all Collective's instances, from the Collective page and all of its possible sub-pages.

So if you click on any of the 'Section Categories' like 'Budget,' it will take you to the Collective page, down to the 'Budget' section on both desktop/mobile, and only 'Expandable sections' using @sbinlondon term

[2020-11-24 19:22] znarf commented on #3711
@sbinlondon Yes, it sounds good.

[2020-11-24 20:54] alanna opened #3718 "Force standalone page toggle not sticking"
I created [a standalone tier](https://opencollective.com/ehf-community/contribute/huddles-23081) by switching on the toggle.

But when I go back to edit/tiers the toggle shows as turned off. It's not though, because the standalone page is still active. The toggle should stick with the saved setting.

[2020-11-24 20:58] alanna opened #3719 "Remove "goal" language from standalone tier"
Right now if you create a standalone tier, there are several references to "financial goal" even if you haven't set a goal and their is no goal for the tier. Either this language should be more generic, or we should force a goal on standalone tiers (I don't think we should do that because they should be flexible).

<img width="1218" alt="Screen Shot 2020-11-25 at 9 45 37 AM" src="https://user-imag

[2020-11-24 21:47] alanna opened #3720 "Allow flexible contributions to tiers"
I created a tier and set it to `flexible` but it still forces you the choose the frequency (`one off` `monthly` `yearly`). When I set it to one-off and then tried to switch to a recurring contribution, it gave me an error. We should allow admins to set up these tiers however they need, including fully flexible between one-off or recurring. (This was a standalone page tier but I'm not sure that mat

[2020-11-24 21:49] alanna commented on #3528
Bump! I really want this change... could it be a bounty @znarf @Betree ? My suggested change is simply to link the title and action button to the standalone page and then people can contribute from there, and remove `read more` to create more space for the description text.

[2020-11-24 22:27] alanna opened #3721 "Expense policy showing up twice"
If you submit an expense to OSC, you see the expense policy repeated in the sidebar. Is this because it's doing it once for the Host and once for the Host's budget Collective?

![Screen Shot 2020-11-25 at 11 24 40 AM](https://user-images.githubusercontent.com/5498878/100158412-01700480-2f11-11eb-8d13-0320569dcf23.png)

Also:  why does it say "FISCAL HOST Open Source Collective 501(c)(6) **(pending

[2020-11-24 22:31] alanna opened #3722 "Link to 2FA should go straight to 2FA settings in a new tab"
I tried to pay an expense and saw this:

![Screen Shot 2020-11-25 at 11 28 01 AM](https://user-images.githubusercontent.com/5498878/100158810-a25ebf80-2f11-11eb-9d0a-676b21e188cc.png)

When I clicked `account settings` it jumped me to the main profile settings screen in the same window. Instead, it should link directly to the 2FA section, and it should be in a new tab so I don't lose the expense I

[2020-11-24 23:10] alanna commented on #3328
We should leave this open. 2FA is great for added security, but it won't satisfy the requirements of "two to sign" which literally means two separate people have to sign off on a payment.

[2020-11-25 01:44] chenxsan opened #3723 "503 error when querying API"
**Describe the bug**

Webpack documentation uses the opencollective GraphQL API to query data, https://github.com/webpack/webpack.js.org/blob/master/src/utilities/fetch-supporters.js#L16, but it got 503 error so frequently when we were running CI.

You can see log as below:

[code]
I have no idea what's going on here. I did search something like API limit but found nothing.

[2020-11-25 07:56] Betree commented on #3698
@sbinlondon

Yes

Currently yes, but we may want to keep https://github.com/opencollective/opencollective/issues/3396 in mind - though I think https://github.com/opencollective/opencollective/issues/3396 will be invalidated by the fact that we'll soon have CONNECT instead of UPDATES/CONVERSATIONS.

It currently is:
- `collectivePage.sections[section].isEnabled` > Section (ie. Buget, Contributors,

[2020-11-25 07:59] Betree commented on #3528
@Memo-Es any opinion on this?

[2020-11-25 08:05] Betree commented on #3721
Good catch, indeed. We should not display that when host === acccount.

We should investigate that, this is normally displayed when the account has not approved the application yet but OSC seems to have all the flags right in the DB, so it's probably a frontend issue.

[2020-11-25 08:07] Betree commented on #3722
Ping @sbinlondon

[2020-11-25 08:39] Betree opened #3724 "New collective navigation: empty events section"
**Describe the bug**
In local dev, with `NEW_COLLECTIVE_NAVBAR` enabled, I see an empty events sections while being logged out.

**Expected behavior**
Section should not be displayed if empty and not logged in as an admin

**Screenshots**
![image](https://user-images.githubusercontent.com/1556356/100202714-fbbef280-2f01-11eb-8880-0407d73def2a.png)

[2020-11-25 08:42] znarf commented on #3723
@chenxsan I guess these are timeouts, the GraphQL query asking too much data to complete in time.

I suggest to review what you're doing with the `transactionsGraphqlQuery` and find something more efficient.

[2020-11-25 08:49] Betree opened #3725 "New collective navigation: no more tickets section"
**Describe the bug**
With `NEW_COLLECTIVE_NAVBAR`, the "Tickets" section seems gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event
2. Go to profile page

[2020-11-25 08:52] Betree commented on #3725
Adding a test for events in `lib/__tests__/collective-sections.test.js` to prevent regressions in the future would be great

[2020-11-25 08:57] Betree opened #3726 "Receipt PDFs not being attached to "ticket confirmed" emails"
_Noticed through https://opencollective.slack.com/archives/C6JTTA4SK/p1606238962131200_

We're not attaching PDF receipts to "ticket confirmed" emails (the one sent when ordering a ticket from an event).

Email template: `templates/emails/ticket.confirmed.hbs`

[2020-11-25 11:06] sbinlondon commented on #3698
No, I really like this idea. I think what I'm looking for is *one* source of truth, i.e. one place we can look to find all this info, and this looks like the ideal solution because 1) it makes use of the different keys we have now and means we wouldn't have as many problems trying to migrate everything to one or the other and 2) does collate everything regarding the collective page into one place.

[2020-11-25 11:14] #2681 closed

[2020-11-25 13:49] Betree commented on #3683
For the frontend part, Formik should ideally be used to manage the state of the form since there are many fields.

On the API part, the way we store data should be defined by https://github.com/opencollective/opencollective/issues/3715.

[2020-11-25 14:21] sbinlondon commented on #3704
Just to add the info I said to @Betree on Slack:

Ben posted this error stack that we get every so often. The dev server crashes at this point and all that is displayed is a blank page that says "Internal server error" and you have to restart it to see the app again.

[code]

We thought it was related to the out of memory crashes but I'm pretty sure now it isn't. This error stack is all about what

[2020-11-25 15:14] vickywane commented on #3683
@Betree is [this](https://github.com/opencollective/foundation-website) the correct repository for the [OCF](https://opencollective.foundation/) ?

[2020-11-25 15:36] Betree commented on #3683
@vickywane for OCF website, yes. The implementation for this issue however is to be done in Open Collective's codebase.

We're still not sure about the plan for this, but it's a complex project so more likely to be tackled internally or by an existing contractor (outside of the bounty program).

[2020-11-25 15:39] vickywane commented on #3683
Alright then.

[2020-11-25 16:16] Memo-Es opened #3727 "Platform avatars design update"
We have updated our default avatars for our main entities in the platform: **Collective**, **User**, and **Organization**.

![☉  Profile Avatar](https://user-images.githubusercontent.com/49539954/100253706-0f208c80-2f07-11eb-8bfd-caa4fecaf7ad.png)

See the 🎨 [design file](https://www.figma.com/file/N4Xbl652BhzOutXmzhcrLGch/DS-02-Atoms?node-id=574%3A2439) in figma.

@Betree

[2020-11-25 16:54] Memo-Es opened #3728 "Apply to a fiscal host behaviour - Implementation"
Adding to the modal designed for the 'Create Collective Flow' project, That is displayed when the user admin of the new Collective goes for the 'Fiscal host' option when choosing how to receive contributions and click the 'Apply' button on any of the cards from the fiscal hosts' options.

We are adding a dropdown (Collective picker) to choose the Collective you are applying with, adding the option

[2020-11-25 16:54] Memo-Es commented on #2282
Closing in favor of #3728

[2020-11-25 16:54] #2282 closed

[2020-11-25 17:41] #3696 closed

[2020-11-25 18:57] awright opened #3729 "Delete [Archived/Unused/Wrong] Personal Payment Methods"
## User story
_I just changed banks. As a result, all my Open Collective bank "payment methods" are no longer valid. Like other contemporary payment platforms, I go into my personal settings to update my "payment methods" but am unable to make changes to my bank transfer payment methods. The option is not there._

## Best solution for this problem
_The ideal solution would be a "Wallet" section in

[2020-11-25 19:11] kewitz opened #3730 "Pricing and Fees: Expose Metrics"
- [x] Add "metric" resolver to host object.
  - [x] Add month as an optional argument of the resolver.
- [x] How much Host Fees collected current month
- [x] How much Profit Share due so far
- [x] How much due Platform Fees/Tips collected current month
- [x] Exposed in the GraphQL API

[2020-11-25 21:30] alanna commented on #3537
I hit this again today even thought it wasn't for a custom payout, I just didn't put a note in the optional private notes box on a a bank transfer payment method. The `next` button was disabled with no error and no clue what the problem was. I think we should really fix this.

[2020-11-25 21:38] alanna opened #3731 "Host Collective showing as hosted Collective on host page"
I think it looks odd that the host's own budget shows up as a hosted Collective on the host page, which links to itself. It's especially odd when the host's own budget is the only Collective. OC Nigeria isn't hosting any Collectives yet, it just has its own budget.

<img width="503" alt="Screen Shot 2020-11-26 at 10 32 11 AM" src="https://user-images.githubusercontent.com/5498878/100284047-6be9790

[2020-11-25 21:44] alanna opened #3732 "Updates and Conversations showing even though they are disabled"
Updates and Conversations are showing on OC Nigeria's page even though they are disabled.

<img width="809" alt="Screen Shot 2020-11-26 at 10 39 32 AM" src="https://user-images.githubusercontent.com/5498878/100284398-fe8a1800-2fd3-11eb-85db-c880838e8a7b.png">

<img width="1107" alt="Screen Shot 2020-11-26 at 10 40 19 AM" src="https://user-images.githubusercontent.com/5498878/100284405-00ec7200-2fd

[2020-11-26 03:51] alanna opened #3733 "CTA link in thank you email broken if you disable default tier"
From a user:

I think a better solution might be to link to /contribute but the main page link is also fine.

[2020-11-26 03:53] alanna opened #3734 "Option to change/disable links on success page"
User feedback:

As a Collective admin, I want to customise/disable the sharing links on my Collective's success page.

[2020-11-26 04:06] alanna opened #3735 "Double height button in transaction details"
<img width="640" alt="Screen Shot 2020-11-26 at 5 01 51 PM" src="https://user-images.githubusercontent.com/5498878/100307048-bab20580-3009-11eb-9f8f-38a436875aff.png">

[2020-11-26 07:12] SudharakaP opened #3736 "Fixed Versions for Dependencies"
**Describe the bug**

Going through another issue I just noticed that two of our dependencies were not fixed (`qrcode.react` and `speakeasy`). I'm submitting a PR that corrects this. 😄

**Additional context**

My understanding is that for npm dependencies we should use fixed versions as mentioned here; https://docs.opencollective.com/help/contributing/development/best-practice-guidelines#general-r

[2020-11-26 07:19] Betree commented on #3732
They appear for admins only. Still a bug though, disabled sections should not be displayed for anyone.

However when I check in the DB the settings for https://opencollective.com/nigeria I see no customization of the sections:

[code]

@alanna could you confirm that:
1. The profile is https://opencollective.com/nigeria
2. The sections still appear as customized when you goo to the edit page

Based

[2020-11-26 07:27] Betree commented on #3733
The part where this appears is:

I personally have a preference for linking the profile page, I think it's the best one to share because it has all the context (description, updates, contributors, etc.) thus people arriving there should be more tempted to contribute.

---

![image](https://user-images.githubusercontent.com/1556356/100319923-be6d6a00-2fc0-11eb-963b-184e1abfac50.png)

[2020-11-26 07:37] Betree commented on #3734
This is not the case, our website doesn't include any tracker from Facebook, Google or Twitter. The code for the share buttons is [here](https://github.com/opencollective/opencollective-frontend/blob/master/components/contribution-flow/ContributionFlowSuccess.js#L257), these are just links to the social networks (ie. `facebook.com/share?message=Support this collective`).

Ultimately, the decision

[2020-11-26 07:40] Betree commented on #3735
Ping @kewitz

[2020-11-26 07:59] Betree commented on #3438
I agree with this, it's the main reason why I specified https://github.com/opencollective/opencollective/issues/3055 that was intended to achieve that. I closed it because the complexity/benefit balance didn't seem right, but on the long term "Custom contribution" being treated as just another tier should really simplify things when it comes to customizing your ways to contribute. I'll re-open it,

[2020-11-26 08:02] Betree commented on #3055
Re-opening as it makes sense in the context of https://github.com/opencollective/opencollective/issues/3438.

Something else to note: people using our API may rely on the fact that custom contributions have a null value for `TierId`. Before making this change we should study which endpoints/queries will be impacted and give a proper notice to users. A "simple" solution would be to contact all prof

[2020-11-26 08:04] Betree commented on #3697
There are many UI/UX issues on this page, that lead to the creation of #3438. Simple fixes & enhancements for this page are welcome, but let's keep in mind that the mid/long-term goal here is to completely revamp this page.

[2020-11-26 08:08] #3736 closed

[2020-11-26 09:17] Betree commented on #3701
@vickywane you may want to look at this helper recently introduced in the codebase: https://github.com/opencollective/opencollective-frontend/blob/master/lib/hooks/useEscapeKey.js#L3

[2020-11-26 09:19] Betree commented on #3665
Maybe something we can try is to use non breaking spaces (https://en.wikipedia.org/wiki/Non-breaking_space)

[2020-11-26 09:23] Betree commented on #3177
Proposal for merging the settings discussed in https://github.com/opencollective/opencollective/issues/3698 & https://github.com/opencollective/opencollective/issues/3396. Solving these issues should resolve this one too.

[2020-11-26 09:28] Betree commented on #2794
It looks fixed on https://opencollective.com/11ty/members/all.json, both members now have the `isActive` flag to `true`.
The fact that there are two entries for the same contributor is not a bug, it's the way this endpoint was designed.

For fetching deduplicated entries, one should now use the GQLV2 `contributors` field.

[2020-11-26 09:28] #2794 closed

[2020-11-26 09:33] Betree commented on #3653
It's a complex project, that touches critical parts of our codebase. It needs technical and ideally design specifications.

Complex projects are not usually not covered by our bounty programs, I'm personally not comfortable to manage this one through bounties.

[2020-11-26 09:40] Betree commented on #3536
Fix was merged in https://github.com/opencollective/opencollective-api/pull/4728.

What we now need to do to complete this issue is to migrate all places that have rich HTML content (`collective.longDescription`, `tier.longDescription`, etc.) to this common `sanitize-html` helper.

[2020-11-26 09:43] Betree commented on #3461
@phated definitely. There's a work in progress about that in https://github.com/opencollective/opencollective/issues/3536

[2020-11-26 09:53] Betree commented on #459
Protecting the Sign In will be a good first step towards protecting all the features. After that we'll need to define what it critical and what is not. Editing the settings, emailing contributors (updates) and managing expenses does seems critical to me.

Not really, Approve/Reject is done by the collective admins while paying is the responsibility of the host admin. So you could hack the account

[2020-11-26 09:57] Betree commented on #3709
Recovery codes are good, we must make sure the endpoint to use them is strongly rate limited.

We also need to think about a support procedure in case someone loses their 2FA and doesn't have any recovery code.

[2020-11-26 10:12] sbinlondon commented on #459
Agreed 👍

I can create an issue for this

And also for this

So I'll close this issue since it's a bit broad, and link to the new ones, sound good?

[2020-11-26 10:14] Betree commented on #3728
This is perfect, thank you @Memo-Es.

Related: #3715

[2020-11-26 10:17] sbinlondon commented on #3461
Good catch @phated! Thank you for flagging it.

[2020-11-26 10:19] sbinlondon commented on #3726
I will have a look at this today! Thanks for flagging.

[2020-11-26 10:19] sbinlondon commented on #3725
I'll have a look at this and also add some tests 👍

[2020-11-26 10:40] Betree commented on #3141
This issue introduces some complexity in our codebase. Could we directly allow admins to remove themselves if there's another admin?

[2020-11-26 10:47] Betree commented on #3702
@flaki I wasn't able to reproduce, I tried copy pasting the content from HackMD + doing some edits but can't get the bug yet. Tested on https://staging.opencollective.com/captainfact_io/updates/welcoming-the-rustfest-project

Would you be able to copy paste the exact content that's triggering the error? Best would be to get it from the `.ql-editor`:

![image](https://user-images.githubusercontent.

[2020-11-26 11:30] sbinlondon commented on #3725
@Betree In line with the new reduced number of section categories, my plan was to put Tickets within the Contribute section - is this an ok solution?

I was going to put Tickets _instead_ of Contribute (like Transactions instead of Budget for type USER) but I think I saw that Events can also accept contributions?

[2020-11-26 11:35] Betree commented on #3439
Started a work in https://github.com/opencollective/opencollective-frontend/pull/5009, I don't have the bandwidth to continue working on it right now. Feel free to take over the PR if you want to complete this feature.

[2020-11-26 11:38] Betree commented on #3725
Sounds like a good solution yes. The most important is to make sure we display them above the "regular" tiers.

Correct

[2020-11-26 11:41] sbinlondon opened #3737 "New collective navigation: empty contributions section"
For type USER if they don't have any activity on their profile, `CONTRIBUTIONS` section is showing up in the navbar but not being rendered.

This is both with or without the `NEW_COLLECTIVE_NAVBAR` feature flag.

<img width="1300" alt="Screenshot 2020-11-26 at 11 40 31" src="https://user-images.githubusercontent.com/37520401/100346745-41e88480-2fdc-11eb-94be-738801f94dee.png">

[2020-11-26 11:42] Betree commented on #3599
Was fixed in https://github.com/opencollective/opencollective-frontend/pull/5243:

![Peek 2020-11-26 12-41](https://user-images.githubusercontent.com/1556356/100346839-c8a15f80-2fe4-11eb-9b6e-ed2c1686df03.gif)

[2020-11-26 11:42] #3599 closed

[2020-11-26 11:49] Betree commented on #3737
It's related to the "Hibernating in the north pole" issue. More info here: https://github.com/opencollective/opencollective/issues/3473#issuecomment-701930591

[2020-11-26 11:51] sbinlondon commented on #3737
Right! I see. There are lots of 'empty section' designs in the Figma. I was having trouble thinking of when to implement those but perhaps now is a good time.

[2020-11-26 11:53] Betree commented on #3473
Closing, the only thing left is the "Contribute" in the menu, that will be taken care of in https://github.com/opencollective/opencollective/issues/3737. @Memo-Es maybe we can open a new issue for empty state based on https://github.com/opencollective/opencollective/issues/3473#issuecomment-717363289?

@alanna Regarding your feedback @alanna, the question is whether we're ok with displaying an emp

[2020-11-26 11:53] #3473 closed

[2020-11-26 12:00] sbinlondon commented on #3473
Sorry I know this is closed but also wanted to say - the "hibernating" thing was cheesy, yes, and needed to be replaced. But it does need to be replaced with _something_. Placeholders aren't necessarily a negative thing, they're just signaling that a collective/user is new. I think we can update the specific copy if you feel it's not ideal @alanna but as @Betree shows above, a totally empty profil

[2020-11-26 12:37] sbinlondon opened #3738 "New collective navigation: empty collective page sections/empty collective page"
We have new designs for empty sections with the navigation v2 project so we need to implement them.

Follow-on issue from https://github.com/opencollective/opencollective/issues/3473

# Empty category sections

If a category section has no data yet, we will display the following designs

<img width="472" alt="Screenshot 2020-11-26 at 12 36 39" src="https://user-images.githubusercontent.com/3752040

[2020-11-26 12:47] kewitz commented on #3347
[code]

[2020-11-26 13:34] Betree commented on #3738
Duplicate of https://github.com/opencollective/opencollective/issues/3220

[2020-11-26 13:39] Betree commented on #3738
@sbinlondon Depends:
- If conversations is enabled but there's no conversation yet, we must show it to everyone (because everyone could be tempted to create a conversation)
- If updates is enabled but there's no update yet, there's no point in showing that to non admins because only admins can create updates

[2020-11-26 15:11] vickywane commented on #3701
@Betree I would modify your helper hook to make it reusable for the `Enter` key also.

Also, I cant use it for class components so I manually added them to the class components using the component lifecycles

[2020-11-26 15:43] Betree commented on #3656
Issue reported for Ghost too: https://github.com/TryGhost/Ghost/issues/12347

[2020-11-26 17:09] SudharakaP commented on #3665
@Betree : If I remember correctly, I tried this but for me it didn't work. It shows up in the preview mode in Gitbook but when I deploy it it doesn't seem to show. 🤔

[2020-11-26 17:54] SudharakaP commented on #2838
@Betree : Just wondering; maybe this was discussed before; why don't we go for [Quill](https://quilljs.com/) instead of [Trix](https://trix-editor.org/)? Felt like Quill has more features such as the justification out of box. 🤔

[2020-11-26 19:56] alanna commented on #2017
@Betree @znarf I recently did an expense from an OSC Collective with the Payee as OC Nigeria, via bank transfer. It seems like it worked automatically and added the funds to OC Nigeria?? If so, that means that Collective to Collective transfers across hosts via bank transfer is already activated?? If so, can we clarify how this works and add it to the docs, and we also should let the whole admin t

[2020-11-26 20:25] alanna commented on #3141
@Betree yes please! I really just need to be able to remove myself as an admin. This is especially important now because I'm running multiple fiscal hosts with external application forms on their website. I need to be able to create Collectives for them once approved, make the applicant the admin, and then remove myself.

[2020-11-27 01:10] alanna opened #3739 "Whitelist opencollective.com subdomains"
I clicked a link to the docs from a Conversation on a Collective page and saw this:
![Screen Shot 2020-11-27 at 2 07 40 PM](https://user-images.githubusercontent.com/5498878/100400136-4d11e200-30ba-11eb-863b-5b3fccff0a44.png)

Can we please whitelist all opencollective.com subdomains, as we control them?

[2020-11-27 01:38] snitin315 commented on #3468
Hi @JoyLubega , Are you still working on this one?

[2020-11-27 01:46] alanna commented on #3732
yes

@Betree as you can see in the screenshot, they are set to `disabled`.

[2020-11-27 05:29] JoyLubega commented on #3468
Its okay. You can pick it up

On Fri, 27 Nov 2020, 4:38 am Nitin Kumar, <notifications@github.com> wrote:

[2020-11-27 07:14] Betree commented on #3739
Definitely a bug, this one should have been allowed

[2020-11-27 07:24] znarf commented on #2017
If the Payee is financially active (Collective or Host+Budget), it's visible in their transactions and added to the balance. That's the usual behavior.

No, nothing special happened here I'm afraid.

The original issue is about making **financial contributions** across Hosts and having the money move automatically.

[2020-11-27 07:29] Betree commented on #3732
Seems like it's using the default then, since there's no `sections` in settings. The default from the edit page doesn't seem to match anymore the default we use on the collective page. @sbinlondon could you get a look, see if it's related to the latest NavBar changes?

[2020-11-27 07:41] Memo-Es commented on #3438
### Design update
---

| Contribution tiers tab  | Create/Edit tier modal  | Edit tier mockup  |
|---|---|---|
| ![Large (Desktop)](https://user-images.githubusercontent.com/49539954/100423129-2075b000-3051-11eb-9f74-877ef7c90052.png)  | ![Generic](https://user-images.githubusercontent.com/49539954/100423141-253a6400-3051-11eb-8f94-968e922e5974.png)  |  ![Large (Desktop)-1](https://user-images.git

[2020-11-27 07:48] Betree commented on #3438
@Memo-Es the modal should be triggered when you click on a tier from this edit page right?

I love this modal proposal, the fact that it uses a modal allows for inline edition from other places. At some point we had a design of the collective page that included a pencil (edit) and a remove icon next to "Move":

![image](https://user-images.githubusercontent.com/1556356/100423876-0954b380-308d-11eb

[2020-11-27 08:09] alanna commented on #2017
OK so Collective to Collective *expenses* across hosts work, but not *contributions* @znarf ?

[2020-11-27 08:32] znarf commented on #2017
@alanna I'm confused. In your case, it was from a Collective (hosted by OSC) to an Organization (Nigeria Host). It worked but there is nothing new here, you were just able to pay an expense to an Organization/Host.

Collective to Collective expenses across hosts are currently not supported.

However, if I try to follow your reasoning, the previous example demonstrates that this could not be compli

[2020-11-27 08:49] alanna commented on #2017
I was thinking of the host's budget (Nigeria) as like a "Collective". I was surprised when the funds were automatically added to Nigeria's budget (in another currency no less!) because I had assumed we'd need to manually add the funds because it was across different hosts. But maybe I don't get how it works.

I do think, however, that if it worked in this case, there's no reason we can't do the sa

[2020-11-27 09:58] chenxsan commented on #3723
@znarf Thank you for your help on slack, I think I've figured out how to improve the query.

[2020-11-27 09:58] #3723 closed

[2020-11-27 11:58] #3727 closed

[2020-11-27 12:32] #3725 closed

[2020-11-27 13:21] #3739 closed

[2020-11-27 15:55] Betree commented on #3739
Fix deployed, I've manually updated the comments affected by this issue to remove the redirects

[2020-11-27 17:41] #3730 closed

[2020-11-27 21:03] ai commented on #2207
Just recently got an email from Chinese users, that they want to donate, but don’t have Paypal account and WeChat will be the best option.

Chinese market is very big. We definetly should support it.

[2020-11-28 07:51] alanna opened #3740 "Post replies to expense notifications as an expense comments"
## User story
As an expense submitter with a problem/question, I want my replies to expense notifications to go to the person who can help fix the problem, so I can get a quick resolution and all info about the expense can be tracked in one place.

Currently, replies to expense notifications go to info@opencollective.com and hit the main helpdesk. The person who can actually help the user is the h

[2020-11-28 18:49] SudharakaP commented on #3289
@Betree : Just to confirm no need to migrate `ApplyToHostBtn` right as it's handled in separate issue? If that's the case whats left to do is,

- Remove the code for styled-jsx in _document
- Remove the styled-jsx dependency

both of which in my understanding needs to wait until "soon to be removed" components are removed ?

[2020-11-28 18:59] SudharakaP commented on #3223
@Betree : If there's no objection; I'll work on this. 😄

[2020-11-29 23:08] alanna opened #3742 "Unable to submit expense with my organization as payee"
I'm trying to submit an expense with the payee as [my organization](https://opencollective.com/protozoa) but it will not let me select a payout method or proceed. The next button is greyed out.

![Screen Shot 2020-11-30 at 12 00 47 PM](https://user-images.githubusercontent.com/5498878/100556060-58584e00-3304-11eb-87b6-f1f08e66df00.png)

I tried putting some text in the optional notes box since tha

[2020-11-30 04:42] zachleat commented on #3532
Finally got this deployed—thank you! Wow, I did not expect a PR on this one, awesome!

[2020-11-30 04:42] #3532 closed

[2020-11-30 07:32] #2446 closed

[2020-11-30 07:33] Betree commented on #2446
:trophy: This issue has been completed by @snitin315

To claim the **$200** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-11-30 09:19] sbinlondon commented on #3640
@Betree I saw you finished the accessibility but had you also added all the CTAs to make sure there is parity with the old navbar CTAs? If everything's done can we move this to the "Done" column?

[2020-11-30 09:22] sbinlondon commented on #3698
@Betree Since I am working on the edit collective page settings thing mentioned above as a significant portion of this project, would I be able to have you work on these: https://github.com/opencollective/opencollective/issues/3641

[2020-11-30 09:35] Betree commented on #3640
I haven't tested nor worked on that part, it's still a todo

[2020-11-30 09:36] Betree commented on #3698
Sure, but we should probably solve the issue about how we're going to store/process the settings to render these first. The way will solve it will impact the way we develop these menus.

[2020-11-30 10:48] sbinlondon commented on #3732
Sure having a look now

[2020-11-30 10:49] #3737 closed

[2020-11-30 10:49] #3724 closed

[2020-11-30 11:06] sbinlondon commented on #3670
@Betree Can I please assign you things here relating to the About section?

- [ ] add core contributors "Team" subsection to About section
- [ ] move "Connected Collectives" subsection from Contribute to About section
- [ ] change how About section looks (no dark background, new left aligned section header https://github.com/opencollective/opencollective/issues/3638, etc)

[2020-11-30 11:29] sbinlondon commented on #3698
Sure, I think we've all approached some conclusions but happy to summarize and try to move forward:

1. **The navigation structure**
- We have *section categories* (i.e. Budget, Contribute, About) which are the main elements on the navbar and the heading on the collective page.
<img width="875" alt="Screen Shot on 2020-11-19 at 15-09-20" src="https://user-images.githubusercontent.com/49539954/9972

[2020-11-30 12:12] sbinlondon commented on #3732
Actually if I open a private browsing window and view it logged out, Conversations is still there.

There isn't anywhere where Conversations is explicitly disabled: there's no `settings.features.conversations` or as @Betree pointed out, there isn't a `sections` in settings cause they haven't rearranged the page sections.

I suspect this is a regression because 1) we now have Converations on by def

[2020-11-30 12:55] #3650 closed

[2020-11-30 14:38] Betree commented on #3698
All good, feel free to assign me on the API issues.

I'll probably start by implementing a `convertSectionsToNewFormat` function in the frontend so that we can work with the new `settings.collectivePage.sections` without having to wait for API to be fully implemented.

[2020-11-30 14:42] Betree commented on #3141
Closing as we're going to implement https://github.com/opencollective/opencollective/issues/3303 instead

[2020-11-30 14:42] #3141 closed

[2020-11-30 15:00] #3303 closed

[2020-11-30 15:29] Betree commented on #2838
@SudharakaP The rational for using Trix was documented in https://github.com/opencollective/opencollective/issues/2508 + https://github.com/opencollective/opencollective-frontend/pull/2782. Unfortunately neither of these editors are perfect, so even if Trix works pretty well for 90% of what we do we still need some work for the last 10%.

We're still open to switch to another library in the future

[2020-11-30 15:35] Betree commented on #2055
All done

[2020-11-30 15:35] #2055 closed

[2020-11-30 15:38] sbinlondon commented on #3738
Duplicate of https://github.com/opencollective/opencollective/issues/3220

[2020-11-30 15:38] #3738 closed

[2020-11-30 15:54] kewitz commented on #3323
Implemented and enabled by default.

[2020-11-30 15:54] #3323 closed

[2020-11-30 15:54] kewitz commented on #3278
This is now enabled by default.

[2020-11-30 15:54] #3278 closed

[2020-11-30 15:56] kewitz commented on #3374
Implemented following the design proposal. This feature is currently enabled only for funds.

[2020-11-30 15:56] #3374 closed

[2020-11-30 15:57] kewitz commented on #2158
Implemented. It is now possible to submit a grant request to fund collectives.

[2020-11-30 15:57] #2158 closed

[2020-11-30 16:17] SudharakaP commented on #2838
Thanks for the links and information. Now I get a clearer picture. 🤔

[2020-11-30 16:21] kewitz opened #3743 "Submit on Behalf: Add E2E Tests"
Add E2E tests for the whole Submit on Behalf flow:
- [x] E2E drafting and inviting someone
- [x] E2E signing up with an expense draft invitation
- [x] E2E creating new organization while creating expense

[2020-11-30 16:28] sbinlondon opened #3744 "Implement new collective page sections data structure"
As discussed in https://github.com/opencollective/opencollective/issues/3698, particularly this comment https://github.com/opencollective/opencollective/issues/3698#issuecomment-735729599, we need to:

1. implement the new data structure for the collective page section categories/sections/widgets

[code]

2. and migrate the current settings for collectives to this structure. This includes consider

[2020-11-30 17:48] Memo-Es commented on #3698
Thank you @sbinlondon for the summary! Just a small detail:

If you are already on the collective page, clicking Budget won't scroll you down to that section (so we have the behavior matching on all pages)

The dropdowns will appear [while hovering](https://tafka.d.pr/H3sWMj) on each navigation item (Unless there are no dropdown elements to show). If you click on the main item it will scroll you d

[2020-11-30 18:47] Memo-Es opened #3745 "Ensuring consistency with color codes for profile pages set-ups"
Now that we are updating the Collective page, we need to ensure consistency in how we show color setups for profile pages, especially with two cases:

**1. New section headers (Icons)**

We modify some UI details depending on the main profile color: Buttons, tabs, tier cards, and links.
![Annotation on 2020-11-30 at 11-57-39](https://user-images.githubusercontent.com/49539954/100646222-5d68cd80-33

[2020-11-30 20:30] alanna commented on #3740
@piamancini had this idea: Put a big reply button in the email that sends them to the expense thread.

[2020-11-30 21:06] piamancini commented on #3698
I'm not sure about this - Do you mean that if you are in the main collective page and you click on budget nothing happens but there will be an option to do a dropdown and I can select transactions or expenses from there?

I would expect in the. main page to be scrolled down to the category budget in that page but maybe I'm not understanding something

[2020-11-30 21:24] alanna opened #3746 "Expense form saved details mismatch"
I went to submit an expense, and the form was trying to "helpfully" remember my payout settings from last time. However there was a mismatch between the payee profile and the payout details. The last time I submitted an expense, the payee was OC Nigeria. When I loaded the page this time, it had Alanna Irving (my personal profile) as the payee, but OC Nigeria's payout details pre-filled.

This is v

[2020-11-30 21:29] alanna opened #3747 "In expense payee selector, profile types should follow user menu conventions"
When you are selecting the payee profile for an expense, the dropdown list is divided into only two categories, `Myself` and `My Organizations`. Now that we can select other profile types as payees, I think this menu should follow the same pattern as the user menu, which has more categories like `Collectives` `Funds` `Events` etc. Having non-Organizations listed under `Organizations` is confusing

[2020-12-01 00:37] alanna opened #3748 "Repeating icons on nav bar"
Four out of six icons in the nav bar are identical. The purpose of an icon is to visually distinguish things from one another. If that's not how we're intending these icons, then it just adds visual noise in an area that's already overcrowded, and I think just having text would be preferable. I'm assuming this is a bug though, and they are not all supposed to be the same? The user who gave me this

[2020-12-01 01:50] cameralibre opened #3749 "Dedicated page to show all submitted expenses"
**Describe the bug**
From my user menu, it's very easy to find information about my contributions, and see past transactions such as paid expenses.
However, I can't find a way to see my _pending_ expenses from the user menu (`TopBarProfileMenu`, I guess?):
![Screen Shot 2020-12-01 at 14 20 02](https://user-images.githubusercontent.com/15368010/100685267-edc91000-33e0-11eb-80ad-22d09e8057a1.png)

A

[2020-12-01 02:05] alanna commented on #3749
Thanks @cameralibre !

I think we should include pending expenses on the [user profile expenses section](https://opencollective.com/cameralibre#section-transactions), at least. Right now it only seems to show paid expenses, but users often are looking for pending expenses  when they need to check the status or follow something up.

[2020-12-01 03:32] Memo-Es commented on #3748
Yes, @alanna there is a different icon for each section. I assume they will be updated by @sbinlondon shortly

[2020-12-01 09:26] Betree opened #3750 "PDF receipts should not be included for gift cards"
**Describe the bug**
We're receiving PDF receipts for contributions made with gift cards. This is wrong because you don't own the payment method used for the transaction.

[2020-12-01 09:36] Betree commented on #3748
It's because we're still showing the legacy sections instead of categories. For example, `Updates` and `Conversations` are going to be merged together inside `Updates`, so in the end there will be only one icon per menu item.

There's another related issue reported by @piamancini on [Slack](https://opencollective.slack.com/archives/C01EAGU0XSS/p1606768991005500): this takes too much space.

@sbinl

[2020-12-01 09:44] Betree commented on #3749
We used to do that in the previous version of this section. It was a bit hacky on the engineering side (because this section show transactions and pending expenses don't have any transaction yet), but I agree that you would expect to find them there.

But having a page to show the expenses submitted by a profile would be useful too. For users to find their expenses easily, for support to investiga

[2020-12-01 10:11] Betree opened #3751 "Edit collective page sections: update for new data structure"
Based on https://github.com/opencollective/opencollective/issues/3698
Related to https://github.com/opencollective/opencollective/issues/3744

As a requirement for https://github.com/opencollective/opencollective/issues/3744, we'll need to update `Settings` >
 `CollectivePage`'s behavior to deal with the new data structure and constraints:

- Categories are at the top level, they can be re-ordered

[2020-12-01 10:15] Betree commented on #3744
I'm gonna start by introducing a `convertSectionsToNewFormat` helper in the frontend to make sure we can start working with them before everything is migrated.

[2020-12-01 10:26] Betree commented on #3729
@awright The payment methods you're referring to are the ones you use as payout when submitting expenses right?

[2020-12-01 10:29] #3750 closed

[2020-12-01 12:30] sbinlondon commented on #3748
Yes the repeated icons are only for legacy sections which won't be around when we make the full transition to v2.

In the meantime though, I've opened a PR to hide the icons until we've done that, and to prevent the navbar from taking too much space.

[2020-12-01 13:17] #3748 closed

[2020-12-01 14:12] kewitz commented on #3742
**Technical bug description:**
When picking a collective from the search result, we're assuming that this expense is being submitted on behalf, that we're inviting the org to submit the expense.

**The fix:**
When picking a collective from the search result and the user is an admin of that collective, proceed with the normal expense flow.

[2020-12-01 15:04] Betree commented on #3656
Issue reported as fixed by two users after https://github.com/opencollective/opencollective-frontend/pull/5476 :tada:

[2020-12-01 15:04] #3656 closed

[2020-12-01 16:49] awright commented on #3729
@Betree yep! let me know if there are any questions!

[2020-12-01 16:55] #3732 closed

[2020-12-01 17:45] sbinlondon commented on #3698
Clarifying after stand-up (thanks @Memo-Es and @piamancini!):

* Clicking a category section in the navbar always takes you to that section on the collective page
* Hovering on a category section in the navbar opens the section menu
* The mobile menu is uncollapsible for the above reasons, since you can't hover on mobile. Behaviours are the same.

[2020-12-01 17:45] #3698 closed

[2020-12-01 17:46] Betree commented on #2725
@alanna with the new expense flow implemented, we should maybe close this one?

[2020-12-01 17:53] Betree commented on #3729
We used to have [this issue](https://github.com/opencollective/opencollective/issues/3020) but we closed it after implementing the remove button in the expense page (see screencast below). A dedicated page would definitely be more intuitive.

![Peek 02-07-2020 17-21](https://user-images.githubusercontent.com/1556356/86377742-ffb75300-bc88-11ea-9609-2ee1dd47d51a.gif)

[2020-12-01 17:57] Betree commented on #3729
I like the idea of using the term "Wallet" by the way. Maybe we could have both payment methods (ie. credit cards) and payout methods (ie. bank account) grouped under a tab named like this instead of having two different pages for them.

[2020-12-01 19:20] awright commented on #3729
yes! love it. 💰📂

On Tue, Dec 1, 2020 at 12:57 PM Benjamin Piouffle <notifications@github.com>
wrote:

[2020-12-01 20:01] #2725 closed

[2020-12-02 00:36] alanna opened #3752 "Download icons on expense not showing any details"
On [this expense](https://opencollective.com/opensource/expenses/28985) I see two icons under the `downloads` section:

![Screen Shot 2020-12-02 at 1 34 12 PM](https://user-images.githubusercontent.com/5498878/100812978-2c270380-34a3-11eb-85d2-de5d5b27533a.png)

Neither shows an image preview or filename or any indications of what they are. It's not even clear you can actually download them. Turns

[2020-12-02 01:34] alanna commented on #3752
I just encountered this again when uploading an attachment to an expense invitation. I thought the upload hadn't worked! But it did and it's just a misleading UI.

![Screen Shot 2020-12-02 at 2 33 04 PM](https://user-images.githubusercontent.com/5498878/100816655-74e2ba80-34ab-11eb-8897-dfc1ad5efc1e.png)

[2020-12-02 05:20] #3513 closed

[2020-12-02 05:22] #3497 closed

[2020-12-02 05:25] #3393 closed

[2020-12-02 05:25] #3392 closed

[2020-12-02 05:28] #3300 closed

[2020-12-02 05:29] #3107 closed

[2020-12-02 05:30] #2842 closed

[2020-12-02 05:36] #2522 closed

[2020-12-02 07:39] Betree opened #3753 "[Project] Improve the way we record uploaded files"
Currently, uploaded images are stored as a simple string to the S3 bucket file. There are a few problems with that:
- We don't have an history, so we can't delete files that have been changed from our storage
- We don't know by who and when a file was uploaded
- We don't have any metrics on files uploaded to the website
- We're not taking down illicit images when removing spammy profiles (ie. adul

[2020-12-02 07:42] Betree commented on #3752
When available, the title appears on hover:

![image](https://user-images.githubusercontent.com/1556356/100840694-8e1d4400-3476-11eb-923b-681c6e149c6d.png)

But we should indeed display it under the box, like in the design:

![image](https://user-images.githubusercontent.com/1556356/100841237-4d71fa80-3477-11eb-9e66-f02cca605a58.png)

The reason why this wasn't done is that filenames for uploaded

[2020-12-02 07:50] alanna commented on #3376
This is done, right?

[2020-12-02 11:29] sbinlondon opened #3754 "Collective Navigation v2: update About section"
All versions
- [x] no dark background
- [x] new left aligned section header

v2
- [x] add 'Team'
- [x] add 'Connected Collectives'

[2020-12-02 11:29] sbinlondon commented on #3638
Closing this. Anything related to the 'About' section will be in this issue: https://github.com/opencollective/opencollective/issues/3754

[2020-12-02 11:29] #3638 closed

[2020-12-02 11:34] #3726 closed

[2020-12-02 11:38] sbinlondon opened #3755 "Collective Navigation v2: remove edit collective 'Updates' and 'Conversations' pages"
These will now be enabled/disabled in the 'Profile Page' part of the edit collective menu.

Requires https://github.com/opencollective/opencollective/issues/3744 and https://github.com/opencollective/opencollective/issues/3671 first.

[2020-12-02 11:39] sbinlondon commented on #3396
Closing this since it is planned to be fixed as part of the Collective Navigation v2 project. Please put anything else related to this problem in this issue: https://github.com/opencollective/opencollective/issues/3755

[2020-12-02 11:39] #3396 closed

[2020-12-02 11:41] sbinlondon commented on #3177
Closing this issue since we're working on it in the Collective Navigation v2 project. Refer to these issues from now on https://github.com/opencollective/opencollective/issues/3744 https://github.com/opencollective/opencollective/issues/3755

[2020-12-02 11:41] #3177 closed

[2020-12-02 11:44] sbinlondon commented on #3671
Have opened issue for this here: https://github.com/opencollective/opencollective/issues/3755

Closing this issue as @Betree is working on it and has made his own issue https://github.com/opencollective/opencollective/issues/3751

[2020-12-02 11:44] #3671 closed

[2020-12-02 11:47] #3722 closed

[2020-12-02 11:48] #3711 closed

[2020-12-02 13:40] kewitz opened #3756 "Automatically invoice Pending Profit Share"
- [x] Only debited from the Host
- [x] Only for marked hosts
- [x] Add this as an item to the existing invoice worker

[2020-12-02 16:24] Betree opened #3757 "Deprecate global styles from Body.js"
In `components/Body.js`, we have some global styles defined that add rules for CSS classes. This is interfering with our pages design, and we already have `app.css` to define the things that we really want everywhere.

We should switch `withoutGlobalStyles` default value to `true`, and eventually add `withoutGlobalStyles={false}` on the pages that are broken (they can be documented in this issue).

[2020-12-02 16:31] Betree commented on #3289
`ApplyToHostBtn` is indeed going to be revamped (the issue has been moved to https://github.com/opencollective/opencollective/issues/3728). But since the JSX there is quite small, it wouldn't hurt to migrate it before :-)

[2020-12-02 16:56] SudharakaP commented on #3757
@Betree : I can take this issue as it's related to the jsx migration if you don't mind. 😄

[2020-12-02 17:04] SudharakaP commented on #3289
@Betree: Thanks. I've migrated that as well. 👍🏽

[2020-12-03 05:10] Memo-Es opened #3758 "[PROJECT] Fiscal hosts onboarding redesign"
## Purpose
Onboarding a new host usually needs our direct involvement and we have to hold their hand. With all the new additions and improvements we have been doing this year (#2896, #3105, #3592) it has become necessary to put attention to the process to create new hosts, which is almost non-existent now.

## Current flow

| CTA from the homepage →  | [[Docs]](https://docs.opencollective.com/help

[2020-12-03 06:19] Memo-Es opened #3759 "Contribution flow feedback and updates"
### Design update
---

After some feedback submitted in our slack channel and through some of the core team members we did some updates to the contri bution flow to improve the clarity of the information along the process.

| Reference images  | List of updates  |
|---|---|
| ![Annotation on 2020-12-03 at 00-00-30](https://user-images.githubusercontent.com/49539954/100970649-f3b31400-34fa-11eb-9d1

[2020-12-03 07:11] Betree commented on #3757
Sure! Let's push it as a separate PR though, this change could have some side effects.

[2020-12-03 07:46] Betree commented on #3641
Tackling this one with https://github.com/opencollective/opencollective/issues/3640 and https://github.com/opencollective/opencollective/issues/3751 as they're related.

[2020-12-03 14:04] sbinlondon commented on #3670
If I understand correctly, these are going to all be widgets and so "all of us" just needs to stay in its own `Contributors` section; and then `Goals` needs to be removed from `Budget` and "top financial contributors" also needs to be removed from `Budget` and put back in its own widget? @Betree

[2020-12-03 15:52] Betree commented on #3670
Yes

I'm not sure which category makes more sense for it. Intuitively I would say "Contributors", but we can make this a widget if we want to keep some freedom.

[2020-12-03 15:56] Betree commented on #3395
@Memo-Es Should the navbar be displayed on this settings page?

[2020-12-03 16:51] Memo-Es commented on #3395
@Betree No, you go back to the Collective page clicking the 'Exit Admin Panel' button

![Annotation on 2020-12-03 at 10-49-29](https://user-images.githubusercontent.com/49539954/101060785-651fb080-3555-11eb-84b8-b5a3780db750.png)

[2020-12-03 17:03] Betree commented on #3395
That makes sense, thank you!

[2020-12-03 18:41] vickywane commented on #3759
@Betree is this open to members of the bug bounty program or it is to be worked on internally?

[2020-12-03 19:35] vickywane commented on #3753
@Betree can I please take this up?

[2020-12-03 22:01] alanna opened #3760 "Tax form not required for transfer to Collective in same host"
This expense is asking for a tax form: https://opencollective.com/opensource/expenses/29113

But the payee is a Collective within the same host. The tax form requirement is only relevant when money is paid to an external party to the host, so this is wrong.

[2020-12-04 07:19] Betree commented on #3759
@vickywane This issue has some complexity, so we prefer to keep for the team at the moment. We'll update the issue if that changes.

[2020-12-04 07:19] Betree commented on #3753
@vickywane This issue has some complexity, so we prefer to keep for the team at the moment. We'll update the issue if that changes.

[2020-12-04 07:21] Betree commented on #3760
The queries for tax form didn't integrate this constraint, I'll update them today to make sure they do.

[2020-12-04 09:36] #3551 closed

[2020-12-04 10:01] #3760 closed

[2020-12-04 10:32] #3640 closed

[2020-12-04 10:32] #3751 closed

[2020-12-04 11:19] Betree opened #3761 "Replace react-datetime by a library that doesn't require moment.js"
**Why**
- We want to get rid of momentjs (see https://github.com/opencollective/opencollective/issues/2446)

**How**
- Find a good calendar library that support standard date and date +  time
- Replace the library, make sure it works everywhere it's used
- Remove `moment` and `react-datetime` from dependencies
- Remove this: https://github.com/opencollective/opencollective-frontend/blob/debt/momen

[2020-12-04 11:57] Betree commented on #3760
Fix deployed

[2020-12-04 13:35] kewitz opened #3762 "TransferWise: Implement OAauth Integration"
Docs: https://api-docs.transferwise.com/partners#connected-apps-integration-guide-api-access

To-dos:
- [x] Apply for partner sandbox API key
- [ ] Apply for partner live API key
- [ ] Set up environment variables

Implementation:
- [x] Implement "Connect to TransferWise" with OAuth Frontend Button
- [x] Persist encrypted tokens
- [x] Refresh token when needed
- [x] Create Webhook

[2020-12-04 14:50] Betree commented on #3713
:trophy: This issue has been completed by @snitin315

To claim the **$300** bounty, you can either:
- Submit an invoice to https://opencollective.com/engineering/expenses/new (please mention the issue number)
- Or ask for an Open Collective gift card of the same value (to donate to other collectives)

[2020-12-04 14:50] Betree commented on #3713
(waiting Monday to merge & close the issue)

[2020-12-04 15:24] jeffin143 commented on #3761
@Betree Could this be a bounty similar to moment migration? I can take a dig at this one

[2020-12-04 15:44] sky0707-qq commented on #3762
Hi

[2020-12-04 15:59] sbinlondon commented on #3639
Now the overall navbar v2 structure has been created and it's just specific things to implement/polish, I'm closing this issue and opening more targeted ones so we can keep track better.

[2020-12-04 15:59] #3639 closed

[2020-12-04 16:04] sbinlondon opened #3763 "Collective Navigation v2: navbar v2 actions menu displaying properly on mobile"
Right now the actions menu is a pop-up menu no matter what screen size you're on.

The menu needs to adapt to that:

* on desktop and tablets, it is still the popper menu
* on mobile, there is no popper menu and the available CTAs are rendered in the non-collapsible mobile menu under the heading 'ACTIONS'

## Desktop/tablet
![Screenshot 2020-12-04 at 16 03 19](https://user-images.githubusercontent

[2020-12-04 16:10] sbinlondon opened #3764 "Collective Navigation v2: navbar v2 actions menu vs single CTA button"
As discussed in demos today, we want to look at making the behaviour of the "Admin panel" + "Actions" section of the navbar act differently depending on who is viewing (admin vs non-admin) and how many CTAs are available.

I made a table based on my understanding of how this would work:

| Who is viewing  | How many CTAs are there | Expected look/behaviour |
|---|---|---|
| Admin | One | Admin pan

[2020-12-04 16:24] Memo-Es commented on #3764
Thank you for putting it up! @sbinlondon
I will update this issue with the mockups early next week

[2020-12-04 20:18] alanna opened #3765 "Address required for expenses with a Collective payee, but Collectives don't have addresses"
We're forcing expense submitters to put an address when submitting an invoice expense where the payee is a Collective. This doesn't make sense because Collectives are by definition not entities with their own address, but exist within the fiscal host.

<img width="792" alt="Screen Shot 2020-12-05 at 9 09 51 AM" src="https://user-images.githubusercontent.com/5498878/101210177-ed2ec300-36d9-11eb-833

[2020-12-04 20:58] alanna opened #3766 "Problems with how sections are displaying on Fund page"
See: https://opencollective.com/google-open-source-cms-fund

1. It's not showing the Collectives they support, except in their transactions list. For a Sponsor like this, showing what they support is the main purpose of their page.

2. `Projects` is showing in the nav bar, but they have no projects and when you click it, nothing happens. If they don't have projects, it should be hidden.

[2020-12-04 21:58] alanna commented on #3758
Great! We really need this.

I think one issue we might need to clarify as part of this is how we are treating Fiscal Hosts vs self-hosted Collectives. It's not as simple as Fiscal Hosts with multiple Collectives vs having just one, because there are cases where a host has one Collective that it wants to charge host fees to, while self-hosted Collectives won't have the ability to charge host fees

[2020-12-05 13:07] darkdragon-001 commented on #3653
When I started making a concept, I came to the same conclusion: For the spec and API, very good knowledge of the existing code base is important. UI functions using this API are probably more suited for bounties.

---

Nevertheless, find my notes for a concept below (sorry for not being very visually appealing, but I thought it's better to post it instead of keeping it for my own):

- **schedule**

[2020-12-05 16:07] Jeanluis019 commented on #3455
Is anyone working on this? I'd like to take it.

CC: @alanna @JoyLubega

[2020-12-06 05:55] sky0707-qq commented on #3409
So meaning I temporary cannot do any transaction?

On Sun, 6 Dec 2020, 13:53 stale[bot], <notifications@github.com> wrote:

[2020-12-06 13:02] Kristinita commented on #2993
This issue still relevant.

Thanks.

[2020-12-06 16:50] znarf commented on #2002
Closing the issue because:
- Collective Admins now have a "Rejected Categories" setting to prevent some kind of accounts to contribute
- Collective Admins can reject contributions from their collective page

This is live and is definitely helping There will be likely some follow up, but let's track this in more precise issues.

[2020-12-06 16:50] #2002 closed

[2020-12-06 17:00] znarf commented on #3421
I double checked and this should not be possible, a Sign In link is only valid once and can't be reused.

[2020-12-06 17:00] #3421 closed

[2020-12-06 19:55] #3244 closed

[2020-12-06 19:56] alanna commented on #2694
I still want this! We should have report options for comments and expenses.

[2020-12-06 19:57] alanna commented on #2595
@contraexemplo - what is the status of this project?

[2020-12-06 19:59] alanna commented on #3424
Everything has been moved to individual issues, so I'll close this, but it looks like many of those individual issues are still not fixed.

[2020-12-06 19:59] #3424 closed

[2020-12-06 20:02] alanna commented on #2665
@Memo-Es are you still working on this here or has it moved to different issues? It would be good if you could go through this issue and make sure everything's been covered.

[2020-12-06 20:03] alanna commented on #3437
@Memo-Es do you have another issue for this?

[2020-12-06 20:04] alanna commented on #3442
@Betree is this done?

[2020-12-06 20:04] alanna commented on #1916
I think we should do this

[2020-12-06 20:05] alanna commented on #1073
Two and a half years later and I still think we need this

[2020-12-06 21:53] alinamanko opened #3767 "Support Metrics Report November 2020"
### Support Metrics Report November 2020

This report looks at the trends around support to help us better understand areas we need to improve and highlight key topics for the month.

**Tickets received**

![Capture](https://user-images.githubusercontent.com/57156267/101294079-fce50d80-3879-11eb-9642-50b5803aa33b.JPG)

The number of tickets received has decreased just slightly (just under 3%) from

[2020-12-07 00:53] alanna commented on #3740
From #3767 Support report:

So this is a pretty costly situation. @znarf we talked about a big `REPLY` button in the email that goes to the expense comments as a first step, and/or making the reply to address on the emails the host admin.

[2020-12-07 07:29] Betree commented on #3766
@znarf let me know if you think this is a regression from the changes in the new navbar

[2020-12-07 07:33] znarf commented on #3766
@alanna The admins of the page decided to not show all sections. Check with @piamancini ?

@Betree The "Projects" might be a regression. Even if it's not, great if you can look at it.

[2020-12-07 07:34] Betree commented on #3455
@Jeanluis019 feel free to take it :slightly_smiling_face:

[2020-12-07 07:36] Betree commented on #3434
This was done in the latest contribution flow update. There are some limitations, since we still ask you to register for recurring contributions (an update for this is already planned)

[2020-12-07 07:36] #3434 closed

[2020-12-07 07:37] sky0707-qq commented on #3455
Hi ,may I know what is it about can anyone contact me to gave me a brief
idea

On Mon, 7 Dec 2020, 15:34 Benjamin Piouffle, <notifications@github.com>
wrote:

[2020-12-07 07:43] Betree commented on #3426
I just tried and everything works fine in the latest version of the flow:
- With a **fixed** free tier, you cannot set an amount an the payment step doesn't appear
- With a **flexible** free tier, it only appears if you enter an amount, and it works if you submit without one

[2020-12-07 07:43] #3426 closed

[2020-12-07 07:46] Betree commented on #3424
https://github.com/opencollective/opencollective/issues/3426 was not updated in time but it's fixed. So the only issue left from what was reported here seems to be https://github.com/opencollective/opencollective/issues/3427

[2020-12-07 08:00] Betree commented on #3442
It hasn't, I delayed because this page is meant to be removed (in favor of the "Profile page" settings) but I'll fix it now since it's still there

[2020-12-07 08:47] #3442 closed

[2020-12-07 08:48] #3713 closed

[2020-12-07 09:14] #3701 closed

[2020-12-07 09:16] Betree commented on #459
Sounds good

[2020-12-07 11:26] sbinlondon commented on #3766
Having a look now.

[2020-12-07 11:38] vickywane commented on #3765
@Betree can I work on this?

[2020-12-07 11:40] sbinlondon commented on #3670
I think keeping "top financial contributors" as a widget makes sense. We have an "all contributors" section in the Contributors section category. But I think people would appreciate the "top financial contributors" as a widget so they can highlight it at the top or even hide it if they feel "all contributors" is enough.

[2020-12-07 13:32] Betree commented on #3765
@vickywane Yes. Since most hosts already have (and are supposed to have) an address, let's go with the simple fix of pre-filling the field with the host address.

[2020-12-07 14:07] #3756 closed

[2020-12-07 14:09] #3131 closed

[2020-12-07 14:13] sbinlondon commented on #3754
https://github.com/opencollective/opencollective-frontend/pull/5529

[2020-12-07 14:43] znarf opened #3769 "Modal not closing when setting up / removing 2FA"
**Describe the bug**

Just after setting up 2FA, there is no feedback when removing it, the modal doesn't close.

**To Reproduce**

1) On an account without 2FA, setup a new token:

<img width="1049" alt="Screenshot 2020-12-07 at 15 38 07" src="https://user-images.githubusercontent.com/806/101363901-392c6400-38a2-11eb-9dd8-ba102e3c6d2f.png">

<img width="1015" alt="Screenshot 2020-12-07 at 15 39 0

[2020-12-07 14:48] znarf opened #3770 "Remove 2FA displayed after Removing / Adding 2FA configuration"
**Describe the bug**

After "Removing" and "Adding" a 2FA Token to my account, the "Delete 2FA" modal is displayed without any reason.

**To Reproduce**

1) On an account without 2FA, setup a new token:

<img width="1049" alt="Screenshot 2020-12-07 at 15 38 07" src="https://user-images.githubusercontent.com/806/101363901-392c6400-38a2-11eb-9dd8-ba102e3c6d2f.png">

<img width="1015" alt="Screenshot

[2020-12-07 17:37] sbinlondon opened #3771 "Collective Navigation v2: navbar v2 actions menu renders all CTAs"
Right now there are 8 CTAs and only 5 being rendered in the actions menu.

- [x] hasSubmitExpense
- [x] hasApply
- [x] hasContact
- [x] hasDashboard
- [x] hasRequestGrant
- [x] addFunds
- [x] addFundsToOrganization
- [x] hasContribute
- [x] hasManageSubscriptions

Additionally the actions menu in Figma only has 3 CTAs that have icons attached to them. We need input on the icons for the rest of the

[2020-12-07 20:46] Memo-Es commented on #3437
Closing this issue in favor of #3758

[2020-12-07 20:46] #3437 closed

[2020-12-07 20:55] Memo-Es commented on #3771
@sbinlondon "Request grant" is part of "Submit expense" since it is an expense type, just as invoice and reimbursement. Also, "Dashboard" is not an action; it's the functionality inside hosts "Admin Panel," which will exist for all users. If we need a provisional icon for the dashboard while migrating to the new admin panels, it's ok; I just wanted to point that out.
I will be updating the icons i

[2020-12-07 23:41] #3742 closed

[2020-12-08 03:05] Memo-Es commented on #3771
Missing icons for actions:

Dashboard: @styled-icons/material-outlined/Dashboard
Add funds: @styled-icons/material-rounded/AttachMoney
Contribute: @styled-icons/boxicons-regular/Planet

<img width="220" alt="Screen Shot on 2020-12-07 at 21-03-03" src="https://user-images.githubusercontent.com/49539954/101433165-de116600-38cf-11eb-94e8-f779ec8f3af4.png">

@sbinlondon

[2020-12-08 03:49] Memo-Es commented on #3764
Mockups to illustrate the Collective Navigation for admins and non-admins:

| Who is viewing  | How many CTAs are there | Expected look/behaviour | Mockup
|---|---|---|---|
| Admin | One | Admin panel + single CTA button | ![1](https://user-images.githubusercontent.com/49539954/101437466-e1a7eb80-38d5-11eb-9d90-f768323e8320.png)
| Admin | More than one | Admin panel + Actions drop-down menu (curre

[2020-12-08 07:18] Betree commented on #3670
We also need to define the default sections order. @Memo-Es Should we assume that the design in https://www.figma.com/file/ZQBMWhnGGtRWeIZknFW1eP/%5BOC.com%5D-Production-Ready-%E2%9C%85?node-id=6564%3A416 is reflecting the default sections order for newly created collectives?

[2020-12-08 12:27] sbinlondon commented on #3754
Design updates have been made. "Our Team" and "Connected Collectives" will be available as sections under the About section category soon. Closing this issue.

[2020-12-08 12:27] #3754 closed

[2020-12-08 12:28] sbinlondon commented on #3766
Regarding point 2, projects is now hidden from non-admins if it's empty (we did not have a rule for this before).

@znarf do we need to look further into point 1 or is it because they chose to hide the section?

[2020-12-08 12:31] sbinlondon commented on #3771
Lovely @Memo-Es thank you!

[2020-12-08 12:45] znarf commented on #3771
- Dashboard needs to be in "Actions" because as far as I know we're not ready to merge "Host Settings" and "Host Dashboard". I would even argue that for Hosts "Dashboard" in the most important action and should always be available as a Button.
- I was discussed that "Request Grant" could be interesting to have in Actions, even if it's available later in "Submit Expense". This could help users who

[2020-12-08 13:12] sbinlondon commented on #3771
💯 I think that's been my constant source of confusion for the last 2 months 😅

[2020-12-08 13:45] Betree commented on #3771
Maybe we could also move the `Edit cover` and `Edit main color` buttons in there?

![image](https://user-images.githubusercontent.com/1556356/101491361-f0d57a80-3963-11eb-887c-7a6a5ca129bc.png)

[2020-12-08 16:28] piamancini commented on #3771
I would have submit a grant as an action in the action menu separated from submit an expense.

1- because it's a separate action from submitting an expense (even if now it's the same) that will need some tweaks to the flow, so it's nice to have it as it's own special thing. If we have it there, we might even remove it as an option in the expense flow and make it have it's own flow. This could help

[2020-12-08 18:27] sbinlondon commented on #3771
Here's how it looks with all the CTAs (I just set everything to `true`, I know one collective wouldn't show them all 😉)

For me everything looks good except that Request Grant and Add Funds are the same. But potentially they wouldn't be rendered in the same menu for different collective types?

![Screenshot 2020-12-08 at 18 26 10](https://user-images.githubusercontent.com/37520401/101525236-ed9db7

[2020-12-08 22:24] SudharakaP commented on #3757
Just for the information, I've went through each page that use `withoutGlobalStyles` and checked them if they are broken. For now in the draft PR I've added `withoutGlobalStyles={false}` in every component that are broken. Below is the list. In the next couple of days I'll start migrating the components (make custom styled components and such so that we can get rid of the global styles and hence `

[2020-12-09 01:15] mixmix opened #3772 "Sign in with crypto key pairs"
## User story

I'm building a p2p application which uses cryptographic keypairs for proving identity and signing messages.
I would love to use an open collective api, but allow my users to continue to use their self managed identity (rather than manage an additional identity and login)

## Best solution for this problem

Can we add a way to add a way for users to authenticate with the API using th

[2020-12-09 01:19] mixmix commented on #3772
Further context, the project is ahau.io - a secure scuttlebutt based project. All going well we're hoping to build tools which make it easy for many indigenous families and tribes to coordinate collective action.

Our keys are ed25519.

One thing we could do is have a collective admin assign identities, and mark what their public keys are then those identities can easily access the group and prove

[2020-12-09 03:16] mixmix commented on #3772
Something like described here https://pomcor.com/2018/04/13/easy-password-free-cryptographic-authentication-for-web-applications/

But username could be stored on the "client". Actually the client would ideally be the server for account details. Though of course you can keep a copy things your side

[2020-12-09 07:27] Betree commented on #3757
The pages with `withoutGlobalStyles={true}` should not require any specific work because they are already ignoring the global styles. The pages that we do need to check are the ones that don't use `withoutGlobalStyles`.

That's a good plan!

[2020-12-09 07:41] SudharakaP commented on #3757
Thanks for the info. I'll work on the once that are needed to migrate in the next couple of days and open individual PRs. 👍🏽

[2020-12-09 09:00] Betree opened #3773 "New collective NavBar migration strategy"
The new navbar has some breaking changes in the way we store sections. To deploy the feature without hassle, we should:
1. Deploy a flexible code that displays the new navbar when using new sections format (`settings.collectivePage.useNewSections`) or the old navbar otherwise, without looking at the `NEW_COLLECTIVE_NAVBAR` feature flag. We may want to entirely remove `NEW_COLLECTIVE_NAVBAR` at thi

[2020-12-09 10:54] mixmix commented on #3772
Oh, a standard already exists and is supported by browsers for this
https://webauthn.guide/

[2020-12-09 11:34] sbinlondon commented on #3763
Awaiting merge of https://github.com/opencollective/opencollective-frontend/pull/5530/ before working on this since it simplifies the Actions menu from React Popper to pure CSS

[2020-12-09 14:12] #3565 closed

[2020-12-09 14:12] #3666 closed

[2020-12-09 14:22] znarf commented on #3605
This should be fixed.

[2020-12-09 14:22] #3605 closed

[2020-12-09 14:23] znarf commented on #3766
@sbinlondon I think it's ok.

[2020-12-09 14:52] znarf commented on #3644
Currently for Events, we display "Sponsors" in the "Participants", it's the historical behavior.

<img width="1242" alt="Screenshot 2020-12-09 at 15 51 46" src="https://user-images.githubusercontent.com/806/101645271-775a8c80-3a36-11eb-843c-3023ea6f15ce.png">

[2020-12-09 15:09] znarf commented on #3766
1) The "Contributions" section would need to be visible on the profile

<img width="835" alt="Screenshot 2020-12-09 at 16 07 34" src="https://user-images.githubusercontent.com/806/101647181-b7227380-3a38-11eb-8682-fbdd27723969.png">

But that will not be enough.

2) Contributions of this FUND are only done through Expenses, not Financial Contributions. In the end, this FUND is not "member" of the

[2020-12-09 15:14] Memo-Es commented on #3771
@sbinlondon
We could use these icons for:

- Request grant (Alternative) @styled-icons/fa-solid/MoneyCheckAlt
- Manage contribution @styled-icons/remix-line/Stack

[2020-12-09 15:19] znarf commented on #3655
1) We nee to make sure that metrics is exposed in the API and up to date. It was `Collective.stats.totalAmountSpent` in v1. Should this include only Financial Contributions or should this also contain Expenses Paid (FUNDs are often contributing by paying Expenses).

2) Then it can be simply displayed like this:

<img width="472" alt="Screenshot 2020-12-09 at 16 17 25" src="https://user-images.gith

[2020-12-09 15:23] znarf commented on #3574
Action: experimentally split the image service in production to identify in which component we should chase the memory leak

[2020-12-09 15:30] znarf commented on #3572
Actions:
- contributions to USD tiers should be accounted in GBP in the ledger (use Collective currency, not Tier currency)
- all transactions inserted in USD (since the Collective switched to GBP) should be converted to GBP

We should have a CLI script to convert transactions to another currency. It will be useful in many situation.

[2020-12-09 15:40] Betree commented on #3572
Such code would be helpful to implement https://github.com/opencollective/opencollective/issues/3460 as well

[2020-12-09 15:47] vickywane commented on #3765
@Betree a PR has been opened for this.

[2020-12-09 15:58] Betree commented on #3744
Base implementation done in https://github.com/opencollective/opencollective-frontend/pull/5497. Added support for this new format for editing profile page in https://github.com/opencollective/opencollective-frontend/pull/5505 and implemented for the collective page + navbar in https://github.com/opencollective/opencollective-frontend/pull/5530

[2020-12-09 15:58] #3744 closed

[2020-12-09 15:59] Betree commented on #3700
Is this about fetching data for the navbar?

[2020-12-09 16:03] znarf commented on #3410
Closing because I think the issue was addressed.

[2020-12-09 16:03] #3410 closed

[2020-12-09 16:08] Betree commented on #3507
For anyone willing to take a look, there was a good progress in https://github.com/opencollective/opencollective-frontend/pull/5247. The only thing left to add is to prevent strings like `xxx/yyy/zzz` to be accepted as valid by the form

[2020-12-09 16:10] znarf commented on #3419
Not reproducing today (with same collective but different User and different Host).

[2020-12-09 16:10] znarf commented on #3474
I fixed it today.

[2020-12-09 16:10] #3474 closed

[2020-12-09 16:12] #3526 closed

[2020-12-09 16:30] znarf commented on #3535
It's a bit better now but you have to select "Fiscal Hosts" to see then, they're not in the general results. Maybe a simple fix there @Betree ?

<img width="1205" alt="Screenshot 2020-12-09 at 17 29 57" src="https://user-images.githubusercontent.com/806/101657515-45e8bd80-3a44-11eb-9748-5e18d2c39b46.png">

<img width="1228" alt="Screenshot 2020-12-09 at 17 29 51" src="https://user-images.githubuse

[2020-12-09 16:32] znarf commented on #3449
Closing as duplicate of https://github.com/opencollective/opencollective/issues/3483

[2020-12-09 16:32] #3449 closed

[2020-12-09 16:37] znarf commented on #3539
Looks like a simple change.

[2020-12-09 16:40] znarf commented on #3555
This is only happening server side, and only logged when `DEBUG` is set. It should still be fixed.

[2020-12-09 16:41] znarf commented on #3558
This is only happening server side, and only logged when `DEBUG` is set. It should still be fixed.

[2020-12-09 16:42] Betree commented on #3535
Good catch, pushing a fix in https://github.com/opencollective/opencollective-frontend/pull/5546

[2020-12-09 16:43] znarf commented on #3548
Seems duplicate with https://github.com/opencollective/opencollective/issues/3562

[2020-12-09 16:43] znarf commented on #3562
Seems duplicate with https://github.com/opencollective/opencollective/issues/3548

[2020-12-09 16:48] znarf commented on #3648
I see a transaction entry dated November 11th, seems this was troubleshooted out of GitHub and the issue was not updated.

[2020-12-09 16:48] #3648 closed

[2020-12-09 16:50] znarf commented on #3708
@sbinlondon I see no reason to not release it for everyone.

[2020-12-09 16:51] znarf commented on #3708
Maybe correct the following bugs first:
- https://github.com/opencollective/opencollective/issues/3770
- https://github.com/opencollective/opencollective/issues/3769

[2020-12-09 18:46] sbinlondon commented on #3757
As an FYI we have someone working on `CreateOrganization` in a bounty but I'm pretty sure I'm going to ask them to remove `Body.js` from the file, so no need to worry about that.

@Betree I was under the impression `Body` was a much older component and we didn't want to use it going forward? Should I ask the contributor to remove it or is it just preference?

[2020-12-09 18:54] SudharakaP commented on #3757
@sbinlondon : Thanks for letting me know. I've updated the list above; I think you are talking about https://github.com/opencollective/opencollective/issues/3468 right?

[2020-12-09 19:18] sbinlondon commented on #3709
# Proposal

## Frontend

### Generating recovery codes

I propose keeping the same flow for implementing 2FA, but adding a second step. I think Netlify's way of doing this is really good. We could shamelessly implement this in our design style:

![image](https://user-images.githubusercontent.com/37520401/101673917-b5b07580-3a4f-11eb-9e89-86a06d535f28.png)

![image](https://user-images.githubuserco

[2020-12-09 19:22] sbinlondon commented on #3773
Sounds good to me 👍

[2020-12-09 19:49] znarf commented on #3644
This issue seems a duplicate of https://github.com/opencollective/opencollective/issues/3637

[2020-12-09 21:03] znarf commented on #3584
It's done.

[2020-12-09 21:03] #3584 closed

[2020-12-09 21:03] znarf commented on #3616
The old form is gone.

[2020-12-09 21:03] #3616 closed

[2020-12-09 21:08] #3688 closed

[2020-12-09 21:20] znarf commented on #3598
Now that we're sending receipts per email, we should already try to attach the Platform Tip receipt to it.

Not sure what to do for the extra document explaining the total charge. Maybe it should be simply a section in the email.

[2020-12-09 21:27] znarf commented on #3607
Referencing the issue mentioned above: https://github.com/opencollective/opencollective/issues/3712

[2020-12-09 21:34] znarf commented on #3702
We'll have to close if we can't reproduce I'm afraid.

[2020-12-09 21:40] znarf commented on #3721
The "Pending" thing is related to https://github.com/opencollective/opencollective-frontend/pull/5274

[2020-12-09 21:46] piamancini commented on #3655
that's a good first step -

[2020-12-09 21:48] piamancini commented on #3764
looks good @sbinlondon @Memo-Es

[2020-12-10 00:17] SudharakaP commented on #3757
@Betree @sbinlondon : I've migrated all the components highlighted above (including the CreateOrganization.js as it was a very simple migration anyways) in  https://github.com/opencollective/opencollective-frontend/pull/5547. Screenshots are provided and let me know if you see any issues or needs any alterations. 😄

[2020-12-10 07:17] znarf commented on #3629
We might have a try with the `localStorage` approach.

[2020-12-10 07:25] znarf commented on #3771
Just a detail, "Add Funds" (to Organization, the one used by Root Admins) should be renamed "Add Prepaid Budget". "Add Funds" will be the more common one used by Host Admins to credit their Collectives.

[2020-12-10 07:28] #3661 closed

[2020-12-10 07:28] #1408 closed

[2020-12-10 07:28] #2586 closed

[2020-12-10 07:29] #2615 closed

[2020-12-10 07:30] #2950 closed

[2020-12-10 07:30] #3564 closed

[2020-12-10 07:30] #3458 closed

[2020-12-10 07:31] #3267 closed

[2020-12-10 07:32] #3500 closed

[2020-12-10 07:33] #3595 closed

[2020-12-10 07:33] #3644 closed

[2020-12-10 07:34] #1132 closed

[2020-12-10 07:35] znarf commented on #1401
This is taken care of.

[2020-12-10 07:35] #1401 closed

[2020-12-10 07:37] znarf commented on #1583
We're changing our fee structure and I don't think we're not gonna do this.

[2020-12-10 07:39] znarf commented on #1655
Closing, we're now expanding to more hosts. They need to contact  support@opencollective.com.

[2020-12-10 07:39] #1655 closed

[2020-12-10 07:39] Betree commented on #3757
The `Page` component is more convenient to work with, it's less verbose. All the props accepted by `Body` are also supported by `Page`. So we're not going to deprecate/remove `Body`, but we should indeed try to no use it _directly_.

[2020-12-10 07:50] #3056 closed

[2020-12-10 07:51] #3083 closed

[2020-12-10 07:55] #1663 closed

[2020-12-10 07:56] #3070 closed

[2020-12-10 08:15] #3535 closed

[2020-12-10 09:30] Betree commented on #3520
Implemented in https://github.com/opencollective/opencollective-frontend/pull/5424

[2020-12-10 09:30] #3520 closed

[2020-12-10 11:09] #3615 closed

[2020-12-10 17:54] #3641 closed

[2020-12-11 07:18] Betree commented on #3655
Expenses were removed from the computation of this number last week, based on this feedback: https://github.com/opencollective/opencollective-api/pull/4962. It again surfaces the fact that collectives have different expectations for what should be displayed here, based on how they're operating.

[2020-12-11 12:16] sbinlondon commented on #3771
Ah ok, I will add this in a project polishing PR. Closing this issue but making a standalone card for what you mentioned on the project board.

[2020-12-11 12:16] #3771 closed

[2020-12-11 13:07] #3769 closed

[2020-12-11 13:07] #3770 closed

[2020-12-13 22:59] vickywane commented on #3452
@znarf @Betree I'd like to work on this.

Is the agreed solution to add a filter to show only **gift card transactions**?

[2020-12-14 00:04] zicklag opened #3774 "Allow Editing the Tier Long Description From the UI"
## User story
As a collective admin, I can edit my collective tiers' long description so that I have a more aesthetically pleasing display for my tier descriptions, avoiding the need to cut off the short description on the card view

## Best solution for this problem
Adding a WYSIWYG HTML editor for the long description field of tiers.

## MVP
The best solution to the problem is not too complicate

[2020-12-14 00:27] zicklag commented on #3774
OK, I just found the button to edit the long description :facepalm:

![image](https://user-images.githubusercontent.com/25393315/102028591-a6dc0280-3d70-11eb-9d6b-c6f48f041f2a.png)

And that is after I was literally spending time trying to get a development environment setup to fix this, before just deciding to use the API manually. :upside_down_face:

So...this may or may not need to be implement

[2020-12-14 07:16] Betree commented on #3774
@zicklag to better understand how we may improve things here, where did expect to find the editor? What could have helped you to find this button?

[2020-12-14 15:11] kewitz commented on #3709
I think that's a good solution to our problem. Just remember to ask for the 2FA code before generating new codes.

[2020-12-14 15:17] #3111 closed

[2020-12-14 15:27] zicklag commented on #3774
So I just realized why I didn't seen the button. I was previewing the changes I made to the tiers in a separate tab as an anonymous user, which, of course, doesn't have the edit button on it! That's why I didn't see it, so I would expect that to be more more rare than I initially thought that you would miss that button.

It was still a little confusing to me in the tier edit admin page. I really f

[2020-12-14 15:34] Betree commented on #3774
That makes sense. We need to improve the experience around this "standalone page", it feels unfinished and it has generated some issues like #3718 #3528. The redesign (#3438) should hopefully improve things.

I'm closing now as there is no immediate actionable, but I'll the feedback to @opencollective/design so they can take it into consideration.

Thank you for documenting your experience and sha

[2020-12-14 15:34] #3774 closed

[2020-12-14 15:34] Betree commented on #3438
@Memo-Es Some interesting feedback around standalone tier pages here: https://github.com/opencollective/opencollective/issues/3774

[2020-12-14 15:37] zicklag commented on #3774
Sounds good, thanks for taking the feedback and for helping to provide Open Collective. I have just started getting into it and I am really blown away with how nice the service is. Keep it up! :+1:

[2020-12-14 18:55] sbinlondon commented on #3773
Let's chat tomorrow morning and see how close we are to this @Betree

[2020-12-15 03:09] C28NGO37 commented on #3590
https://opencollective.com/
cassime-lingo
data
Response body
{
  "id": "btok_1HyO6rAEBx87vvL4YKitNeYE",
  "object": "token",
  "bank_account": {
    "id": "ba_1HyO6rAEBx87vvL40zvpnsO5",
    "object": "bank_account",
    "account_holder_name": "Cassime D. Lingo"
    "account_holder_type": "checking"
    "bank_name": "VARO BANK, NATIONAL ASSOCIATION",
    "bank_phone_number": "8448315968",
    "coun

[2020-12-15 03:14] C28NGO37 commented on #3758
data
Response body
{
  "id": "btok_1HyO6rAEBx87vvL4YKitNeYE",
  "object": "token",
  "bank_account": {
    "id": "ba_1HyO6rAEBx87vvL40zvpnsO5",
    "object": "bank_account",
    "account_holder_name": "Cassime D. Lingo"
    "account_holder_type": "checking"
    "bank_name": "VARO BANK, NATIONAL ASSOCIATION",
    "bank_phone_number": "8448315968",
    "country": "US",
    "created": 1607979453,

[2020-12-15 03:15] C28NGO37 opened #3776 "Smoother payment flow"
data
Response body
{
  "id": "btok_1HyO6rAEBx87vvL4YKitNeYE",
  "object": "token",
  "bank_account": {
    "id": "ba_1HyO6rAEBx87vvL40zvpnsO5",
    "object": "bank_account",
    "account_holder_name": "Cassime D. Lingo"
    "account_holder_type": "checking"
    "bank_name": "VARO BANK, NATIONAL ASSOCIATION",
    "bank_phone_number": "8448315968",
    "country": "US",
    "created": 1607979453,

[2020-12-15 03:17] C28NGO37 commented on #3762
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

[2020-12-15 03:17] C28NGO37 commented on #3762
`
data
Response body
{
  "id": "btok_1HyO6rAEBx87vvL4YKitNeYE",
  "object": "token",
  "bank_account": {
    "id": "ba_1HyO6rAEBx87vvL40zvpnsO5",
    "object": "bank_account",
    "account_holder_name": "Cassime D. Lingo"
    "account_holder_type": "checking"
    "bank_name": "VARO BANK, NATIONAL ASSOCIATION",
    "bank_phone_number": "8448315968",
    "country": "US",
    "created": 1607979453,

[2020-12-15 03:18] C28NGO37 commented on #3762
Got.merge

[2020-12-15 03:20] C28NGO37 opened #3777 "Issue Response"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

[2020-12-15 03:21] C28NGO37 commented on #3777
data
Response body
{
  "id": "btok_1HyO6rAEBx87vvL4YKitNeYE",
  "object": "token",
  "bank_account": {
    "id": "ba_1HyO6rAEBx87vvL40zvpnsO5",
    "object": "bank_account",
    "account_holder_name": "Cassime D. Lingo"
    "account_holder_type": "checking"
    "bank_name": "VARO BANK, NATIONAL ASSOCIATION",
    "bank_phone_number": "8448315968",
    "country": "US",
    "created": 1607979453,

[2020-12-15 03:59] Memo-Es opened #3778 "Request a grant flow (Implementation)"
We learned from the new updates of the expense flow (#3374 #3323 #3278) that the requests for grants should be submitted only after the invite of a Collective/Project admin. We assure the right information from the right sources, adding an extra security lock of trust to the grant request process.

These are the steps of the request a grant to a project flow:

| Grantor form / Invitee info → | Gra

[2020-12-15 04:00] Memo-Es commented on #3657
### Design update
---

**Request a grant form modifications:**

- Adapted the form to be an invite-only feature sent by the Collective/Project admin. See
- Added a couple of fields to the send RFP form (Purpose of grant dropdown and manner of selection custom field)
- Added an extra field to the submitter side of the form to indicate if there's any relationship with any member, officer, director o

[2020-12-15 07:43] znarf commented on #3709
Let's not confuse hashing and encrypting, these are not the same things. In all these cases, it's encryption not hashing.

As stated a few weeks ago on Slack, "I’m seeing the term `endpoint` being used in the context of GraphQL to describe what should be normally named `query`, `mutation` or `field`. `endpoint` in GraphQL world has a different meaning. In our case, we have 2 different endpoints, o

[2020-12-15 08:03] Betree commented on #3709
Just want to mention the [RateLimit](https://github.com/opencollective/opencollective-api/blob/feat/rich-host-application/server/lib/rate-limit.ts) helper because we often forget that it exists, yet it makes rate limiting very easy:

[code]

[2020-12-15 09:42] Betree opened #3779 "HelloWorks: send tax form request email ourselves"
## User story
We currently rely on HelloWorks to send tax form request emails for us. There are a few problems with that:
- It doesn't have Open Collective branding, and we can't customize it so it's sometimes unclear for users why they receive it. We're also unable to attach additional information or instruction.
- For organizations, since HelloWorks only allows for one recipient, we have to pick

[2020-12-15 10:18] #3715 closed

[2020-12-15 12:00] sbinlondon commented on #3709
Have updated my comment

In the `data` column, I guess in a key called `recoveryCodes`? It feels weird to name them so plainly but they'll be encrypted.

For generation we can use this npm package [`crypto-random-string`](https://www.npmjs.com/package/crypto-random-string) which creates strong random strings, and then further encrypt them using our `crypto-js` package.

Yes they would be generated

[2020-12-15 12:02] #3733 closed

[2020-12-15 12:03] #3763 closed

[2020-12-15 12:42] znarf commented on #3709
Yes, sorry for the confusion, no mutation there indeed.

[2020-12-15 13:33] #3717 closed

[2020-12-15 13:39] #3719 closed

[2020-12-15 21:50] Memo-Es commented on #3758
Design update
---

| Fiscal host onboarding / Become a fiscal host page → | Fiscal host onboarding / Preliminary info → | Fiscal host onboarding / Pricing → | Fiscal host onboarding / Form 1 → | Fiscal host onboarding / Form 2 → | Fiscal host onboarding / Dashboard w/ welcome → | Fiscal host onboarding / Dashboard (First use) |
|------------------------------------------------------|--------------

[2020-12-16 09:21] Betree opened #3781 "Page in user settings to manage sessions"
## User story
As an Open Collective user, I can see all the sessions opened to my account in my settings and disconnect some of them if needed. It's something most large platforms do (Google, Facebook, Microsoft, Github, etc.) and that brings some important benefits:
- Easily monitor if someone's using your account without your permission
- Ability to kick out an intruder who stole your account
-

[2020-12-16 11:01] sbinlondon commented on #3708
Bugs corrected - should we try rolling it out @znarf? Or do we want to do recovery codes first? https://github.com/opencollective/opencollective/issues/3709

[2020-12-16 11:03] znarf commented on #3708
We can roll out.

[2020-12-16 11:10] znarf commented on #3709
How do we ensure we'll never expose the recovery codes? Even by mistake. Even encrypted.

Following our discussion from yesterday, maybe they should actually have their own column instead of being in `data`?

[2020-12-16 11:14] sbinlondon commented on #3709
Sure that makes sense. I think that would be good as well for when we want to get in touch to have current 2FA users generate recovery codes - we can check for users where `twoFactorAuthToken` is not null and `twoFactorAuthRecoveryCodes` is null.

[2020-12-16 13:52] Betree commented on #3704
I get this error pretty much each time I checkout a different branch. Would be really great if we can solve it, I'm happy to help or to provide more logs if needed.

[2020-12-16 14:59] #3238 closed

[2020-12-16 17:43] #3670 closed

[2020-12-16 17:58] kaylarep commented on #3422
+1 for this to be implemented.

Even just making a clear distinction labeling the input boxes as:
'Display Name' (This will be publicly displayed)
and then a place for 'Legal Name' (For Tax Purposes)

[2020-12-16 18:11] elea commented on #3422
+1 – this recently came up for our project when a trans payee thought they had to input their legal / dead name for sign-up (because they’re only on the platform to submit invoices/expenses), and now the expenses list is displaying their dead name publicly.

[2020-12-16 20:51] kewitz commented on #3746
Already fixed.
The current behavior is loading the incomplete expense info from local storage ensuring the payee matches that information.
This cache is clear after creating the expense or inviting someone to submit the expense.

[2020-12-16 20:51] #3746 closed

[2020-12-16 21:00] alanna opened #3782 "Inaccurate profile search results"
When selecting the payee for an expense, if I search `open source` it does not show Open Source Collective on the list, but it does if I search `opensource`. If this is happening for other search terms, I think we're going to have people creating duplicate profiles because they can't find the right one, because they're only option is to click `create' or `invite` when they don't find it. Search sh

[2020-12-17 00:23] SudharakaP commented on #3704
@Betree @sbinlondon : I've made a pull request with a custom 404 page which I think should handle this. As far as I see the fallback route (`pages.add('collective', '/:slug', 'collective-page');`) isn't effected by this and will take precedence. But if you go to a url such as  `http://localhost:3000/generator-jhipster/sklfjsdkljsdklj` then the `404.js` will page will show up. So I guess adding a 4

[2020-12-17 07:14] #3402 closed

[2020-12-17 07:38] #3704 closed

[2020-12-17 15:57] Betree commented on #3782
It does already, search looks in name, slug, description, tags and long description.

The reason why you're not seeing it here is because there are too many results, and OSC is not at the top of them (we only display the 20 first results). `open source` is kind of an edge case because the term is widely used on the platform, we have a total of 1847 results when searching for this term. You won't f

[2020-12-17 17:58] RahulBansal123 commented on #3761
Working on it!

[2020-12-17 19:16] RahulBansal123 commented on #3697
working!

[2020-12-18 03:46] Poopooracoocoo opened #3783 "Users may not be able to tell that you can scroll the financial contribution options"
## User story
_As a user, I cannot easily tell that you can scroll the financial contribution options because the arrows are not very prominent, and there's otherwise no other indication._

## Best solution for this problem
_What does the ideal solution look like?_
Showing a bit of the next card and always showing the scrollbar instead of only on hover

## MVP
_What will be built as an MVP? (Pleas

[2020-12-18 08:12] Betree commented on #3783
There should be another indication, we normally display a scrollbar below the cards:
![image](https://user-images.githubusercontent.com/1556356/102589842-e2c7ec80-410f-11eb-880d-0a114f752fc4.png)

As possible enhancements, I agree that making the buttons larger would be helpful.

Another pretty common pattern for this kind of horizontal lists is to display large buttons on the sides:

![image](htt

[2020-12-18 10:42] #3721 closed

[2020-12-18 10:45] znarf commented on #3702
255 can't be about the content itself, it's either `slug`, `title`, `image`, `tags`, `summary` or `notificationAudience`.

[2020-12-18 10:53] znarf commented on #3702
If I try to submit a long title, I get:

<img width="1088" alt="Screenshot 2020-12-18 at 11 49 43" src="https://user-images.githubusercontent.com/806/102606543-2b3ed480-4127-11eb-92ad-11604f6951d9.png">

Tell me that it's not `title`, it has its own validation. I discard `image`, `tags` or `notificationAudience` because they're not in the form. We have `summary` left ...

[2020-12-18 11:00] SudharakaP commented on #3223
@Betree : I've made a PR that removes `react-bootstrap` completely. I'll do another PR separately that removes `bootstrap`; as it seems we use bootstrap classes such as `text-decoration` so can't remove `bootstrap` just after removing `react-bootstrap`. 🤔

[2020-12-18 11:02] Poopooracoocoo commented on #3783
Here's a recording:
![e3ujuPGTUy](https://user-images.githubusercontent.com/51363864/102607515-864ee680-417c-11eb-950a-3356792c49b4.gif)

[2020-12-18 11:02] SudharakaP commented on #3223
@Betree : Also I should note that we don't use `Popover` (at least I couldn't find it anywhere being used); so I just edited the original post to remove that point. Let me know otherwise. 😄

[2020-12-18 11:08] znarf commented on #3702
It's autogenerated by `generateSummaryForHTML`. I suspect an issue with utf8 handling in `generateSummaryForHTML`.

Reproducing here: https://github.com/opencollective/opencollective-api/pull/5041

[2020-12-18 11:08] flaki commented on #3702
Note that 1. the hackmd's current latest content is different from what produced the bug and 2. it's definitely an iterative bug, it needed multiple modifications to surface, so I'm guessing it might be some junk getting into the text area due to transforms. I can do some testing over the weekend to see if I can get this to reproduce on staging!

[2020-12-18 11:13] flaki commented on #3702
Oh yes that VARCHAR(255) surprised me too, but if it's auto-generated on submission that would make sense. I really wish I saved the request/response when I submitted this to help reproduce 🤔

[2020-12-18 11:17] Betree commented on #3704
Just a note to say that this hasn't solved my "Cannot destructure property 'components'" issue, I'm still getting that whenever I checkout a different branch

[2020-12-18 11:21] SudharakaP commented on #3704
@Betree : Yeah, I see that too; guess it's not related to this unfortunately. Will take a look. 🤔

[2020-12-18 11:21] znarf commented on #3702
It's just a blind guess, but we could try https://github.com/parshap/truncate-utf8-bytes

[2020-12-18 11:30] flaki commented on #3702
Also there's not much UTF-8 in that post for the first half at least that is relevant here (maybe the quotes?).

I've been trying to reproduce for the past 10 minutes but without much luck.

I guess if we can't find the root cause you could just treat the symptoms (and ensure that summary contents are the correct byte length or set up some logging to see if this reproduces in the wild).

[2020-12-18 11:39] znarf commented on #3702
I'm discarding utf-8 now and looking at improper truncating of html tags.

[2020-12-18 14:31] #3710 closed

[2020-12-18 19:09] SudharakaP commented on #3697
Just to give an heads up; this tier section was changed in recent PRs. I think the first point,

isn't a problem anymore. But the second point (selection options of the `Suggested Sections`) still seems to be an issue.

[2020-12-18 19:56] SudharakaP commented on #3223
@Betree : I've just remove `bootstrap` dependency as well in the same PR as it wasn't as tricky as I thought it would be. Just added a few global css rules so that the pages looks exactly as they were before (some bootstrap styles were coming from their internal `.less` classes it seems).

[2020-12-18 20:05] SudharakaP commented on #3289
@Betree : Feel free to ping me anytime there's more work to be done on this one. 😄

[2020-12-18 23:26] SudharakaP commented on #3053
@Betree : Can take this up if you have no objection? 😄

[2020-12-19 10:17] znarf commented on #3702
Tentatively fixed in https://github.com/opencollective/opencollective-api/pull/5041

Closing!

[2020-12-19 10:17] #3702 closed

[2020-12-19 10:18] znarf commented on #3693
Fixed in https://github.com/opencollective/opencollective-frontend/pull/5616

[2020-12-19 10:18] #3693 closed

[2020-12-20 15:35] zicklag opened #3784 "Open Collective Bot Sent an "Thank You For Contributing" When a User Was Not Contributing"
**Describe the bug**
Open Collective Bot Sent an "Thank You For Contributing" When a User Was Not Contributing

**To Reproduce**
With [this](https://github.com/katharostech/arsenal/blob/master/.github/opencollective.yml#L1-L6) configuration:

[code]

On the https://katharostech/arsenal repository, a user opened an issue ( which has since been converted to a discussion ), and even though we have no

[2020-12-20 16:43] stephenyeargin commented on #1746
@sbinlondon Didn't want to clutter up the repository with another issue, but making a note that the docs still refer to this feature as "available soon". Tested it today and everything is :sparkles:.

https://github.com/opencollective/documentation/blob/v2/product/log-in-system.md#L21

[2020-12-21 03:49] alanna opened #3785 "Download and delete expense buttons not visible on mobile"
I can't find the action buttons that are down the left side of an expense on desktop when I look on my phone, e.g. download and delete.

[2020-12-21 05:49] SudharakaP commented on #3704
@Betree : Just to confirm all those branches you were switching to; do they have the 404 page? I was testing this with some more recent branches (all of which includes the `404.js`) and I couldn't get the `Cannot destructure property components` issue. 🤔

[2020-12-21 07:20] Betree commented on #3053
@SudharakaP Sure!

[2020-12-21 07:53] Betree commented on #3704
@SudharakaP I think so because I was testing with rebased ones, but can't confim with 100% certitude. I'm taking note of this in case it happens again

[2020-12-21 07:58] Betree commented on #1746
Good catch, thank you @stephenyeargin. I'm opening https://github.com/opencollective/documentation/pull/95 to update that

[2020-12-21 08:15] SudharakaP commented on #3704
@

Yes, please do post back if you see it again with rebased ones; I'll be happy to investigate some more on this. 🤔

[2020-12-21 10:30] Betree opened #3787 "Add a button for root to merge accounts"
## User story
As a root admin, I often need to merge some profiles. This is currently done by editing the DB entries manually, which is tedious and error prone.

## Best solution for this problem
The `scripts/merge-collectives.js` script was recently introduced as an MVP. With the upcoming navbar, we can re-use this code to implement a proper feature:
- [ ] ~In the `Actions` navbar menu~, add a `M

[2020-12-21 11:24] Betree opened #3788 "Collective page > Contributions: pagination should happen in the API"
The "Contributions" sections in the collective page is [fetching](https://github.com/opencollective/opencollective-frontend/blob/master/components/collective-page/sections/Contributions.js#L402) 1500 collectives at once, then filtering them in the frontend. There are multiple issues:
- The performance is bad
- We are missing some collectives

Filtering & pagination should be handled through the AP

[2020-12-21 12:48] znarf commented on #3784
While I might have found the issue (https://github.com/opencollective/opencollective-bot/pull/346), I'm afraid the Open Collective Bot should be discontinued as we don't have the resources to maintain it properly. We're already way behind in package updates for example.

Where have you heard about the Open Collective Bot?

[2020-12-21 15:14] zicklag commented on #3784
Ah, bummer, but I get it. If that _does_ fix it, I would still like to use it. Maybe you could just update the repo with a low maintenance warning and say that it may or may not work or something like that.

For dependencies it might help to setup dependabot or another dependency updater bot and maybe bors to help make it easier to merge the update PRs. Just an idea.

I actually just found it when

[2020-12-21 21:01] contraexemplo commented on #2595
Hello! First of all, I'm sorry for being absent for so long. The TL;DR is that this semester... wasn't what I expected it to be: I had COVID-19, my partner suffered an accident and I was forced to re-evaluate the priority a lot of things for a while. But I'm back!

@piamancini mentioned [Nextra](https://github.com/shuding/nextra) on Twitter. It isn't production ready yet —there's a few reported bu

[2020-12-22 07:24] Betree commented on #2595
Welcome back @contraexemplo, I hope things are better for you now :crossed_fingers:

Nextra looks good, and the fact that it build upon NextJS is definitely an advantage for us. But as you mentioned, they clearly state that it's not production ready yet.

We should be extra careful about adopting such project at an early stage for our production documentation. If we decide that it's the one we wan

[2020-12-22 07:50] Betree commented on #3646
Re-opening as https://github.com/opencollective/opencollective-frontend/pull/5425 was reverted

[2020-12-22 08:28] #3196 closed

[2020-12-22 08:56] Betree commented on #3289
Thank you @SudharakaP! This issue now only depends on #3705, #3468 and #3223 (for the `Button`s) to be completed.

We can eventually migrate `AddPrepaidBudget` and `Location`, since it seems we're going to have them around a little while still.

[2020-12-22 12:28] znarf commented on #3784
PR merged and new version deployed.

No promise for further bug fixes though!

[2020-12-22 12:28] #3784 closed

[2020-12-22 13:57] contraexemplo commented on #2595
@Betree Thank you, it's good to be back! Things are definitely better on my side!

I agree 100% with you, there's quite a road ahead of Nextra still and OC is at a moment where stability is a must.

[2020-12-22 15:52] zicklag commented on #3784
Cool thanks!

[2020-12-23 04:53] SudharakaP commented on #3289
@Betree : I've opened two PRs migrating `AddPrepaidBudget` and `Location`. Feel free to let me know if they need any adjustments. If these are merged first I'll re-base the changes to #3223. 😄

[2020-12-23 07:29] #3757 closed

[2020-12-23 16:57] aardrian opened #3790 "Buttons to donate are inaccessible with screen reader"
**Describe the bug**
The pledge / contribution detail buttons do not convey their group name (that one set is a pledge amount, that another is a recurrence), state (pressed or not), properties (required), nor their role beyond buttons (that they are essentially a group of toggle buttons). Nor does the select-like control to choose a % to donate on top of the pledge.

**To Reproduce**
Steps to repr

[2020-12-23 16:59] aardrian commented on #3790
Please add the labels `frontend` and `accessibility`.

[2020-12-24 00:34] SudharakaP opened #3791 "Move from next-routes to NextJS routes"
This is inspired from the discussion at https://github.com/opencollective/opencollective/discussions/3789. Eventually it would be nice to remove `next-routes` and move to NextJS routes using [rewrites](https://nextjs.org/docs/api-reference/next.config.js/rewrites).

*Quote from Discussion by Benjamin:*

@Betree : Please feel free to add/modify any specific details here if you have any. I am not su

[2020-12-24 00:36] SudharakaP commented on #3791
I can work on this one after https://github.com/opencollective/opencollective/issues/3053. In the meantime if anyone wants to take it please feel free to. 😄

[2020-12-24 05:18] alanna opened #3792 "Host showing up as hosting itself"
If you look at OCNZ's page, it shows OCNZ under the `contributions` section, with the label `hosted since...` which implies it's a hosted Collective.

<img width="1250" alt="Screen Shot 2020-12-24 at 6 15 33 PM" src="https://user-images.githubusercontent.com/5498878/103062761-1de88500-4614-11eb-9a6b-0e3e75841fac.png">

If you switch to the `hosted Collectives` view, it doesn't show up, but it's co

[2020-12-24 07:44] Betree commented on #3764
https://github.com/opencollective/opencollective-frontend/pull/5632 implements most of this issue. The only thing still missing is that when there are only two calls to action we should display two buttons rather than a button + actions.

[2020-12-24 08:11] Betree commented on #3597
Not seeing the issue in the logs and lack of context for reproducing. Sentry should help us to investigate that kind of issues in the future.

[2020-12-24 08:11] #3597 closed

[2020-12-24 08:52] Betree commented on #3720
As a potential fix, we could add a `Flexible` option in the `Interval` select to bypass the validations on this field.

![image](https://user-images.githubusercontent.com/1556356/103076161-66c91b00-45cd-11eb-87c1-64b0aec9de68.png)

[2020-12-24 08:56] Betree commented on #3482
This will be fixed once we release the new navbar #3773 and merge the settings with the host dashboard. At this point an `Admin pannel` button will appear in the NavBar, which will prevent the jumping issue described here.

![image](https://user-images.githubusercontent.com/1556356/103076529-38980b00-45ce-11eb-872b-c2509fb12442.png)

[2020-12-24 09:05] Betree commented on #3432
Is the actionable of this issue to give you the ability to remove the default description?  @Memo-Es wdyt, is it ok to display the tier card like that if there's no description set?

![image](https://user-images.githubusercontent.com/1556356/103076973-2e2a4100-45cf-11eb-87b3-a63f3cf47bab.png)

[2020-12-24 09:07] Betree commented on #2498
Latest editor doesn't support colors anymore. I personally think it's a good design decision, but feel free to open another issue we you think we should implement it.

[2020-12-24 09:07] #2498 closed

[2020-12-24 09:22] Betree commented on #3610
This filter uses the currency of your profile, so having `₹50 to ₹500` in there is expected. However it should indeed filter for correct values (after currency conversion).

In the API, the `minAmount` & `maxAmount` parameters should be of `Amount` type so that users can provide a currency. We can eventually implement these as new `min` and `max` fields, to make the change in a non-breaking way. N

[2020-12-24 09:44] snitin315 commented on #3720
@Betree can this be a bounty? I would like to work on this one.

[2020-12-24 10:53] Betree commented on #3450
I think we should entirely remove the `in ...` part. We now have multiple tags per expenses, but the code only looks at the first one which is inaccurate. We can eventually implement a breakdown in another format later if we think it adds value.

[2020-12-24 11:10] Betree opened #3793 "Tiers: force minimum amount to be above $1"
Contributions for less than $1 are problematic, because payment processor fees can be more than the contribution itself.

We want to prevent people from contributing less than $1 by updating the form to edit tiers, with the following constraints in mind:
- [ ] Defining a "Free contribution" (minimum amount = 0) should still be permitted
- [ ] We should take into account the currency, we can't just

[2020-12-24 11:11] Betree commented on #3384
It's true but since some currencies can have a stronger value than the dollar (like "Kuwaiti dinar" for example - 1 dinar ~= 3$) it's valid to have amounts smaller than `1` in there. I've opened a separate issue to iterate on this: https://github.com/opencollective/opencollective/issues/3793

[2020-12-24 11:29] Betree commented on #3319
I vote in favor of replacing the existing pledge. In the API, when creating a pledge, we should check if another one exists for this user and if that's the case we should update it.

[2020-12-24 11:33] Betree commented on #2735
Seems that we duplicated this issue in https://github.com/opencollective/opencollective/issues/3260, it was later solved in https://github.com/opencollective/opencollective-frontend/pull/4522 by making sure we wait for the refetch before displaying the Export button.

[2020-12-24 11:33] #2735 closed

[2020-12-24 11:35] Betree commented on #2516
Crash is now prevented, and the policy for events deletion has been reviewed:
- Preventing Deletion of Collective with Events opencollective/opencollective#2577

[2020-12-24 11:35] #2516 closed

[2020-12-24 11:59] alob-mtc commented on #3450
Make sense 👍

[2020-12-24 12:41] #3573 closed

[2020-12-24 12:42] #3498 closed

[2020-12-24 12:42] #3556 closed

[2020-12-24 12:57] Betree commented on #2677
The behavior has been deprecated in the new flow and old components are removed

[2020-12-24 12:57] #2677 closed

[2020-12-24 12:59] #2997 closed

[2020-12-24 13:00] #3427 closed

[2020-12-24 13:00] #3384 closed

[2020-12-24 14:06] #3450 closed

[2020-12-24 14:21] #3459 closed

[2020-12-24 14:38] #3383 closed

[2020-12-24 14:38] #3456 closed

[2020-12-24 14:46] valeciawolf34 commented on #3456
Vwolf_ua@nec.edu and and I have been working on the welcome-orb for the
last few days and I have been working on the welcome-orb for the last few
days and I have been working on the welcome-orb for the last few days and

Valecia G Rodriguez

On Thu, Dec 24, 2020, 09:38 Benjamin Piouffle <notifications@github.com>
wrote:

[2020-12-24 14:48] valeciawolf34 commented on #3456
Valecia G Rodriguez

On Thu, Dec 24, 2020, 09:47 Valecia Rodriguez <notifications@github.com>
wrote:

[2020-12-24 20:52] mixmix commented on #3482
Hooray! Thanks for the update

On Thu, 24 Dec 2020, 21:56 Benjamin Piouffle, <notifications@github.com>
wrote:

[2020-12-26 03:32] alanna commented on #2808
Could this be achieved through an `export` option on the `hosted Collectives` dashboard tab? Similar to a transactions csv export.

[2020-12-26 03:43] alanna opened #3794 "Removed as admin but still seem to be admin"
I created [this Collective](https://opencollective.com/gameartisans), then tried to remove myself as admin. It appeared to work, asking me `are you sure you want to remove admin?` and I confirmed and saved. The Team section no longer shows me in settings. But I can still access the settings like an admin and I'm still showing on the profile page as a team member.

<img width="1251" alt="Screen Sho

[2020-12-26 04:04] alanna commented on #3793
Can this please not apply to transfers within the same host where there are no fees? We sometimes have to move odd amounts between Collectives when zeroing them out or other circumstances.

I agree with this for actual contributions coming from outside.

[2020-12-26 04:19] alanna opened #3795 "Unable to locate invited expense"
I invited someone to submit an expense. Now I want to check on it to make sure the details were right and to make sure it exists, but I can't see it on the expenses list and I don't see an email notification with a link to it or anything.

[2020-12-26 04:21] alanna opened #3796 "Invited expense wrongly showing $0 as the total"
<img width="801" alt="Screen Shot 2020-12-26 at 5 15 39 PM" src="https://user-images.githubusercontent.com/5498878/103145389-9ed38800-479e-11eb-9ffa-ab2e0a71a862.png">

I created this expense and put in the amount, which showed correctly before submitting the form. But after submitting, it shows as $0, which is confusing.