[2019-03-28 00:06] gusaus commented on #1864
OpenProducer collective is actively trying to onboard projects in verticals such as music and community/public media.

Projects:
* LibreTime
  * https://libretime.org/
  * https://github.com/LibreTime/libretime
* MIXXX
  * https://www.mixxx.org/
  * https://github.com/mixxxdj/mixxx
* Audacity
  * https://www.audacityteam.org/
  * https://github.com/audacity/audacity
* Rivendell
  * https://www.par

[2019-03-28 00:11] alannallama commented on #1864
@Betree - yes please post on https://elixirforum.com. Give me the link and I'll come along and comment too if that's helpful. I will reach out directly to Nerves Project and Witchcraft to get their thoughts about more Elixir Collectives forming. Do you think it would be good if I contacted those other projects directly too?

@gusaus - great ideas! Is it OK if I go ahead and reach out to those proj

[2019-03-28 00:45] gusaus commented on #1864
The only project on the list I've been actively trying to [onboard is LibreTime](https://discourse.libretime.org/t/opencollective-to-help-sustain-the-project-and-community/84). We also have some folks representing projects and organizations in the #communitymedia channel on https://opencollective.slack.com/

I think active onboarding from Open Collective team leads within vertical channels could r

[2019-03-28 01:57] thadguidry commented on #1845
I also need to disconnect my personal Twitter (accidentally added) from our Org page.  https://opencollective.com/openrefine/edit/connected-accounts

[2019-03-28 02:53] alannallama commented on #1864
@gusaus I reached out to LibreTime, Mixxx, and Audacity, just offering to have a conversation. We'll see what happens.

[2019-03-28 03:41] vickywane commented on #1877
Hello.
Can I try this out ?

[2019-03-28 05:31] vickywane commented on #1876
Hello,
I would love to work on this...

[2019-03-28 07:35] znarf commented on #1876
@vickywane Feel free to have a first look. I marked the complexity as _only_ medium, but it might require a lot of knowledge (or research to get that knowledge), such as Typescript, Probot, Git, GitHub App API. Also, the developer setup is not properly explained in the Open Collective Bot repository, so this also a challenge. Now that I think about it, I'll create a bounty for that.

[2019-03-28 08:01] vickywane commented on #1876
Yes,  I just realized that.  I forked the opencollective bot in a bid to see how it was setup and I discovered it wasn't fully documented. Also resources on building Github Apps are quite scarce.  I'll however give it a shot and possibly leave it for someone more exposed to  building Github Apps to take it up.

[2019-03-28 09:09] Betree commented on #1864
@alannallama Here is an extract of all the pledges collectives on the platform:

| Project                    | Website                                      | Number of pledges | Amount |
|----------------------------|----------------------------------------------|-------------------|--------|
| [sandstorm](https://opencollective.com/sandstorm)                  | https://sandstorm.online/

[2019-03-28 10:19] znarf opened #1878 "Banner for collectives with pending approval"
When creating a new collective, the collective is not necessarily immediately activated, it needs to be approved first.

While it's in this state, a banner on top of the collective should explain the status, similar to what we're doing with _archived collectives_.

## API

To enable that, we want to introduce a new flag/date on the API side to know more precisely the current status of the collecti

[2019-03-28 10:32] Betree commented on #1864
Also open-source projects that are free when self-hosted but that offer a commercial service where they host an instance for you.

Would be interesting to see if they're open to combine the two models like Octobox does: a commercial service where the money goes to the company AND donations where the money goes to the community (for example to have bounties).

I can think of:
- https://nextcloud.co

[2019-03-28 10:40] #1842 closed

[2019-03-28 11:15] #1863 closed

[2019-03-28 11:22] Betree commented on #1870
@znarf Any idea on the best way to tackle this one? Should we ping Cloudflare's workers API to ask for the cache to be invalidated when we make an edit?

[2019-03-28 11:24] Betree commented on #1847
Current status: I tried to reproduce on Ubuntu 18.04 for `opencollectiveinc` with both Firefox 66.0.1 and Chromium 73.0.3683.75, using both François and Pia's accounts and wan't able to reproduce it.

[2019-03-28 11:39] Betree commented on #1871
@alannallama Whatever we do it has to be clear to the user where the difference go. We cannot delete amounts.

But yes, either:

1. We offer the user to empty the payment method's balance (see https://github.com/opencollective/opencollective/issues/1871#issuecomment-476876943)

2. Or we allow float amounts for all orders.

I prefer (1) because it will only impact the users that need it and because

[2019-03-28 11:46] znarf commented on #1870
@Betree that's not related to workers, but yes, invalidating the cache could do the trick.

[2019-03-28 11:58] znarf commented on #1871
@Betree even if we implement 1) I think it will still be confusing for users to not be able to put the precise amount at the "Contribute Details" step. So, I would still do 2)

And if we do 2), do we still need 1)? Potentially yes, it's also useful when I initially set I want to give $10 and then there is not enough funds: "Do you want to give the full balance $8.99" instead?

So, let's do both?

[2019-03-28 12:01] znarf commented on #1870
https://api.cloudflare.com/#zone-purge-files-by-url

We just need to have a Cloudflare config set in the environment, and then do a single HTTP post.

[2019-03-28 13:08] znarf opened #1879 "Open Collective Bot: developer environment"
We now have a new project in the Open Collective galaxy, the Open Collective Bot!

https://github.com/opencollective/opencollective-bot

The documentation for developers willing to work on the bot is non existing and it's actually more tricky to test than anything else we're doing, because it's _webhook_ based and needs to be exposed to the internet. We need to provide steps to:

- git clone and y

[2019-03-28 13:15] znarf commented on #1876
@vickywane I created this one for the developer experience: https://github.com/opencollective/opencollective/issues/1879

[2019-03-28 13:21] vickywane commented on #1879
Great.  I'll do this now

[2019-03-28 13:23] vickywane commented on #1876
@znarf am happy you did.  I get discouraged when trying to work on things that provide little developer experience to new collaborators.

Seems the task there is to test it out basically

[2019-03-28 13:37] znarf commented on #1840
Done.

https://github.com/opencollective/opencollective-workers/commit/460e48bd4f0d9c23563708169708992751e4b684

[2019-03-28 13:37] #1840 closed

[2019-03-28 13:59] Betree commented on #1834
Done in https://github.com/opencollective/opencollective-frontend/pull/1581

[2019-03-28 14:00] #1834 closed

[2019-03-29 09:52] znarf commented on #1847
Can't reproduce anymore. Closing.

[2019-03-29 09:52] #1847 closed

[2019-03-29 10:40] BenJam commented on #1745
new comment

[2019-03-29 11:03] Betree commented on #1862
These specs are good, having adapters based on the sender (with a smart default) is a very good idea to make this feature extensible.

Having the `PENDING` status and requiring a manual validation is very important too because the `FROM` address in emails can be faked.

Things that are not covered here:

- Do we prefill the payout method? How?

There's a possible answer in https://github.com/openc

[2019-03-29 11:32] Betree commented on #1870
So the cloudflare cache is part of the issue and solving it will ensure we always get the data when we refresh the page.

However to really solve this issue we also need to refresh the Appollo's cache when creating updates, goals...etc.

[2019-03-29 11:34] Betree commented on #1546
I don't see any blockers for this one. @znarf should we activate it?

[2019-03-29 13:11] xdamman commented on #1862
A first version could automatically create a `DRAFT` expense and send back a link that people can use to update it manually and confirm. Ideally, there could be a list somewhere of all the `DRAFT` expenses so that you can easily go through them all.

Just that would already be a great feature. I could forward by email or configure the billing email to be `expenses@:collectiveSlug.opencollective.co

[2019-03-29 13:49] Betree commented on #1577
Done

![image](https://user-images.githubusercontent.com/1556356/55237193-e035ad00-5231-11e9-94e0-fb3459bca3c9.png)

[2019-03-29 13:49] #1577 closed

[2019-03-29 13:52] #1767 closed

[2019-03-29 13:52] #1855 closed

[2019-03-29 15:12] Betree commented on #1862
@xdamman What's the next step? Should we create a separate `opencollective-email-automations` service?

[2019-03-29 15:25] znarf opened #1880 "API: Replace `knox` library"
In the API project, we're using a library named [knox](https://github.com/Automattic/knox) to connect to S3.

Unfortunately, this library is not maintained anymore and we need to use something else instead.

`knox` is only used in the [images](https://github.com/opencollective/opencollective-api/blob/master/server/controllers/images.js) controller, that should be a straightforward modification.

[2019-03-29 20:39] Betree commented on #1872
Maybe related to https://github.com/apollographql/react-apollo/issues/2114

[2019-03-30 01:59] vickywane commented on #1880
I found this https://github.com/andersfugmann/aws-s3

Would you like to go through it to see if it matches your expectations of a replacement?

It's quite newly built and hasn't been used largely

[2019-03-30 11:57] znarf commented on #1880
@vickywane It's a library for the ocaml language, not JavaScript. For us, the default choice would be https://github.com/aws/aws-sdk-js but we're open to other libraries if they're lighter, widely used and properly maintained.

[2019-03-30 12:08] vickywane commented on #1880
Am sorry that slipped my notice

[2019-03-31 16:48] vickywane commented on #1880
I found this also;
https://github.com/transloadit/uppy
Can you have a look to see if it matches your requirements?

[2019-03-31 19:08] znarf commented on #1880
@vickywane we just want to upload to s3 on the server side, we don't need any browser side functionality.

[2019-03-31 19:13] Betree opened #1882 "Cypress: Use "data-cy" attribute for selection"
See [Cypress documentation's note](https://docs.cypress.io/guides/references/best-practices.html#Selecting-Elements) about selecting elements:

- [x] Add [babel-plugin-remove-properties](https://github.com/oliviertassinari/babel-plugin-react-remove-properties) to strip `data-cy` attributes from production code
- [ ] Remove unnecessary `className`s only used for cypress

For future tests, use `data

[2019-03-31 19:37] vickywane commented on #1880
Alright .
I would work with the official aws-sdk.
I initially tried avoiding it due to the documentation and other unavailable configuration

[2019-04-01 09:35] znarf commented on #1531
@Betree can we close?

[2019-04-01 09:51] znarf commented on #1392
Duplicate with https://github.com/opencollective/opencollective/issues/1837

[2019-04-01 09:52] Betree commented on #1531
Yes, we'll open another one in case we see synchronization issues

[2019-04-01 09:52] #1531 closed

[2019-04-01 09:54] znarf commented on #1868
@piamancini seems you understood what that was well. can you provide input?

[2019-04-01 10:00] #1870 closed

[2019-04-01 10:16] znarf opened #1884 "Empty collective balance"
Before archiving or deleting collectives, we are asking for an empty balance. It's however more difficult that it sounds to achieve that. Why?

- restrictions in donation amount
  - minimum amount
  - only round values accepted
- restrictions related to the host
  - can only donate to collectives with the same host

### Proposal

Add a form/button in the "Advanced" selection of "Edit collective".

[2019-04-01 10:34] xdamman commented on #1811
Waiting for Lauren to try again. Will report back.

[2019-04-01 11:03] Betree commented on #1478
All done :heavy_check_mark:

[2019-04-01 11:03] #1478 closed

[2019-04-01 11:05] Betree commented on #1783
Hi @pietgeursen, have you started to work on that one? I need to make some modifications to invoices but I'd prefer to do it once you're done to avoid conflicts.

[2019-04-01 11:54] luceos opened #1885 "Monthly report report new backers of which transactions failed"
**Describe the bug**

The monthly report shows new backers of which transactions failed. I noticed this on the collective `tenancy` at first:

![image](https://user-images.githubusercontent.com/504687/55325475-7f061780-5485-11e9-978d-df92a8311a59.png)

But it was even clearer when looking at the one for `flarum` where I donated some money myself as Hyn where transactions failed and were retried in

[2019-04-01 13:31] Betree commented on #1860
@xdamman Should I prioritize https://github.com/opencollective/opencollective/issues/1862 for this week?

[2019-04-01 14:40] #1804 closed

[2019-04-01 14:52] vickywane commented on #1880
Made a PR already #1846

[2019-04-01 15:50] Betree opened #1886 "Missing opensource tag for some collectives"
## Problem

Some of the collectives from the [opensourcecollective](https://opencollective.com/opensourcecollective) are missing an `open source` tag.

The following query:
[code]

Returns 106 entries.

## Fix proposal

- [x] In https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/mutations/collectives.js#L267 we use `opensource` instead of `open source`, we should ch

[2019-04-01 16:12] piamancini commented on #1886
yes please let's make sure they match.
Let's add the 'open source' tag to all the collectives without it. The super collective relies on the 'open source' tag to bundle collectives under it.  We've already made the mistake in the past of adding 'opensource' (without the space)

[2019-04-01 16:17] piamancini commented on #1585
I thought we were getting rid of the stale bot @znarf?

[2019-04-01 16:21] znarf opened #1887 "Deleted Tiers appearing in collective monthly report"
**Describe the bug**

The monthly report is reporting Tiers that are deleted.

Reported by https://opencollective.com/typeorm

**From user**

https://www.dropbox.com/s/8h903tchaebrj0r/Screenshot%202019-04-01%2017.10.29.png?dl=0

**Details**

It's currently difficult to understand the bug described by the user in the first place, because of the confusion between active tiers and deleted tiers.

Rea

[2019-04-01 16:21] piamancini commented on #1868
Yep. Essentially what happenes is that the admins of a collective do not automatically become admins of the event. The person that creates the event becomes an admin but needs to add everyone else. This I think was done since we expected a larger collective group to manage events separately, but in truth it's confusing.

@samswag the workaround is to manually add everyone else as admins of the eve

[2019-04-01 16:30] piamancini commented on #1845
@thadguidry, connecting your org one should disconnect your personal one. Do you have one? Otherwise we should disconnect you manually. let us know please

[2019-04-01 18:05] Betree commented on #1711
## Constraints

- We shouln't change the email address before the new one is confirmed
- We must ensure users owns the requested addresses

## Specs

- Add a `emailWaitingForValidation`:string column to `Users`
- Add a `emailConfirmationToken`:string column to `Users`

## Flow

1. Users go to `/:username/edit`

2. Users change email and click save

3. We set `emailWaitingForValidation` to user's p

[2019-04-01 18:56] thadguidry commented on #1845
@piamancini This is resolved for me now. The Org page has its own Twitter connected.  And My Profile page has my personal Twitter connected.

[2019-04-01 19:14] znarf commented on #1585
@piamancini No, we decided to have it tag only the issues, not close them anymore. The message was also updated https://github.com/opencollective/opencollective/pull/1883/files This issue got the previous message, we changed it after.

[2019-04-01 22:07] flickz commented on #1793
Closed in [#1819](https://github.com/opencollective/opencollective-api/pull/1819) and [#1574](https://github.com/opencollective/opencollective-frontend/pull/1574).

[2019-04-01 22:07] #1793 closed

[2019-04-01 22:08] mixmix opened #1888 "Approve Expense email functionality broken/unexpected"
**Describe the bug**
I got an email with an expense for a collective I admin. There was a sweet "Approve" button.

I thought "oh sweet, a magic link, I won't have to sign in for this" so clicked "Approve"

And I got a page which (after some loading spinner) said "Approving expense" but then supiciously didn't progress from this. I opened the console and saw an error

![image](https://user-images.g

[2019-04-01 22:09] flickz commented on #1317
Closed in [#1782](https://github.com/opencollective/opencollective-api/pull/1782) and [#1520](https://github.com/opencollective/opencollective-frontend/pull/1520).

[2019-04-01 22:09] #1317 closed

[2019-04-01 22:12] flickz commented on #1824
Closed in [#1812](https://github.com/opencollective/opencollective-api/pull/1812).

[2019-04-01 22:12] #1824 closed

[2019-04-01 22:13] flickz commented on #1826
Closed in [#1554](https://github.com/opencollective/opencollective-frontend/pull/1554) and [#1805](https://github.com/opencollective/opencollective-api/pull/1805).

[2019-04-01 22:13] #1826 closed

[2019-04-01 22:16] flickz commented on #1823
Closed in [#1824](https://github.com/opencollective/opencollective-api/pull/1824) and [#1583](https://github.com/opencollective/opencollective-frontend/pull/1583).

[2019-04-01 22:16] #1823 closed

[2019-04-01 22:52] mixmix commented on #1783
yes @pietgeursen has done 16+ hours of work on this - it's touching several repos. We (hi I'm from the same coop as Piet and paired for a couple of hours on this) need to catch up about where this issue is at, what standard you want this work to, and probably the size of it (time / money)

[2019-04-02 07:25] znarf commented on #1888
@mixmix we decided to move away from magic links in notification emails, the idea being that we should not send authentication tokens when they are not clearly expected. For instance, users could forward the email to other people in the team, giving their token. It was a nice convenience, but we moved the balance toward security.

This should have been a prompt to Sign In.

[2019-04-02 07:37] Betree commented on #1783
Ok I'll wait until we merge it then. In the same time I'm available on [Slack](https://slack.opencollective.com/) if you need anything.

[2019-04-02 07:43] #1858 closed

[2019-04-02 07:51] pietgeursen commented on #1783
Hey @Betree,
I had a productive day on this today. I'm out of energy for now but I'm _really_ close to being done.

I'll have something for you to review in 24 hours I think.

I've got 3 WIP PR's that you can check if you like.

https://github.com/opencollective/opencollective-frontend/pull/1618
https://github.com/opencollective/opencollective-api/pull/1849
https://github.com/opencollective/openco

[2019-04-02 08:11] Betree commented on #1783
@pietgeursen I gave them a quick look and it seems really good, the code is clear. Thanks for adding tests too. Please tell me when it's ready for review :slightly_smiling_face:

[2019-04-02 08:19] Betree commented on #1540
We have to check but I think that Lea from Open Collective Paris recently used her personal account to reimburse some transactions. I'm not sure why.

@alannallama Just jumping on this one so I'm not sure if that was already addressed, but we actually show the email under the "Refill balance" button:

![image](https://user-images.githubusercontent.com/1556356/55386793-29cf1200-5528-11e9-984e-7ff27

[2019-04-02 09:39] alannallama commented on #1540
@Betree Yes the paypal address shows on the dashboard. But there are several issues:

* The connected paypal doesn't show on expense pages, which you can also pay from
* If you are already logged into another paypal, when you click refill balance it actually doesn't give you the option to log into the correct paypal, it just sets an approval key from the account it has the cookie for or whatever i

[2019-04-02 09:51] xdamman commented on #1711
Another proposal to kill two birds with one stone:
allow multiple rows in the `Users` table to link to the same `CollectiveId`.
Just add a `confirmedAt` column.

[2019-04-02 09:55] Betree commented on #1711
@xdamman I think having multiple rows for the same `User` is dangerous, we link to it with `CreatedByUserId` in multiple places and failing to update one of these references can have negative side-effects.

I also don't like the idea of creating another user as a concept: it's still the same user, we only change the email.

[2019-04-02 09:58] xdamman opened #1889 "Amount in Contribution flow url not working with floats"
https://opencollective.com/lajacqueline/pay/302.5
turns into https://opencollective.com/lajacqueline/pay/details?description=302.5
instead of https://opencollective.com/lajacqueline/pay/details?amount=302.5

[2019-04-02 10:02] Betree commented on #1889
@xdamman The URL pattern is looking for an integer

[code]

So https://opencollective.com/lajacqueline/pay/details?amount=302 works as expected. As we don't support float amounts in contribution flow, should we support this case?

[2019-04-02 10:04] xdamman commented on #1889
We should.
Especially now with VAT, the total amount of an invoice will have decimals.

[2019-04-02 10:06] Betree commented on #1889
Yes but VAT is calculated by us, collectives are not supposed to include it in their pricing.

As a temporary fix, the following URL should work:
https://opencollective.com/lajacqueline/pay?totalAmount=30250

[2019-04-02 10:06] xdamman commented on #1711
Ideally the table Users should be merged with ConnectedAccounts. That’s really what it is. It’s just that the service is “email”. So I wouldn’t be blocked by the fact that (And you are right) we shouldn’t have two users for a same user.

I don’t see any issue with CreatedByUserId. It’s keeping track of who using what account to authenticate created a given row.

[2019-04-02 10:08] xdamman commented on #1889
Regardless we cannot make the assumption that collectives will not want to ask for an amount with decimals.

[2019-04-02 10:14] Betree commented on #1711
Three examples of regressions that duplicating users would introduce:

- In https://github.com/opencollective/opencollective-api/blob/636516adf7c36a9bed9f85d967c987798555b2d6/server/controllers/applications.js#L40 we check for the application creator to be the same as user. If users update their email, it will invalidate all that application tokens they have created.

- In https://github.com/openc

[2019-04-02 10:16] xdamman commented on #1711
Ok you win ;-)

But it was tempting to also allow users to have more than one email. And maybe refactor Users to ConnectedAccounts. ¯\_(ツ)_/¯

[2019-04-02 10:21] Betree commented on #1889
That's fair, we should indeed support it. The only problem that I see is that if I remember correctly we wanted to support legacy URLs like:
1. https://opencollective.com/lajacqueline/pay/custom-description
2. https://opencollective.com/lajacqueline/pay/monthly/custom-description
3. https://opencollective.com/lajacqueline/pay/42/monthly/custom-description

The 1. and 2. are not going to play nice

[2019-04-02 10:23] xdamman commented on #1889
Well, the amount is always going to be `[0-9]+(\.[0-9])?`, so you can’t really confuse that with any description.

[2019-04-02 10:25] Betree commented on #1711
I understand that need and would love to be able to have multiple emails linked to my opencollective account as well, I recently had the case where I got invited as a core contributor to https://opencollective.com/engineering with another email address than the one for my account and had to change it myself manually.

[2019-04-02 10:26] xdamman commented on #1889
From a user experience stand point, avoiding query parameters is much much better.
`/pay/500.50` is much much better than `/pay?totalAmount=50050`
The latter requires much more things to remember (is that totalAmount or amount or total_amount?)

[2019-04-02 10:27] Betree commented on #1889
:arrow_double_up: https://github.com/opencollective/opencollective/issues/1889#issuecomment-478936161 sound like a simple fix for this issue

[2019-04-02 10:34] Betree commented on #1467
Got a new case for an event today:

![image](https://user-images.githubusercontent.com/1556356/55396220-488ad400-553b-11e9-9bb8-b77e3a015fca.png)

[2019-04-02 11:05] Betree opened #1890 "Remove "billingAddress" from Users"
`billingAddress` from `User` model is not used anywhere in the code, it was intended for invoices but we now use `collective.location.address` instead.

[2019-04-02 12:43] davojta opened #1891 "Unexpected error when login to transactions page from android"
i see the page loading but after loading is completed i see the error page

URL:
Logged in as (username or profile URL): dzianis.sheka@gmail.com
Error message if any:
Expected result:
Browser: chrome opened from gmail

[2019-04-02 13:31] Betree commented on #1891
Hi @davojta, thanks for opening this issue. Did that happen while you were trying to approve an expense from the email?

[2019-04-02 15:50] davojta commented on #1891
i have an email with error about payment and want to verify that a new card
used

On Tue, 2 Apr 2019, 16:31 Benjamin Piouffle, <notifications@github.com>
wrote:

[2019-04-02 17:55] ilocollins opened #1892 "Unexpected error when ___________"
URL:
Logged in as (username or profile URL):
Error message if any:
Expected result:
Browser:

[2019-04-02 18:30] piamancini commented on #1869
adding a collective contact info in the update footer, can also be helpful.
cc @znarf
![Screen Shot 2019-04-02 at 2 28 27 PM](https://user-images.githubusercontent.com/3671070/55426828-b642fa00-5553-11e9-92dd-77c5889d98bd.png)

[2019-04-02 18:40] piamancini commented on #1888
Hi Mix, yep, the error is telling you to log in because your token expired. This is related to a recent deploy. The approval should work magically as expected in the future. Sorry about it! cc @znarf (token related)

[2019-04-02 19:00] jaskirat2000 opened #1893 "Call for Collaboration of Open Collective with DONUT project"
Thanks a lot @Betree for recommending me to write an issue for this.

It would be indeed to partner Open Collective with DONUT.

## **Description of DONUT**
[Codeuino](http://www.codeuino.org) is a volunteer-driven non-profit open source Social networking organisation that provides various robust frameworks solutions which could span the entire world through building all kinds of social environmen

[2019-04-02 19:05] znarf commented on #1888
@piamancini Have you seen my reply?

[2019-04-02 19:23] Betree commented on #1892
Hello @ilocollins, thanks for opening this. Can you provide more details about the issue?

[2019-04-02 19:26] Betree commented on #1891
Can you provide a screenshot and a URL?

[2019-04-02 20:46] piamancini commented on #1888
I hadn't sorry! For some reason your reply wasn't synced in my Octobox (cc @benjam)
Sorry @mixmix for the confusion.

[2019-04-02 20:52] alannallama commented on #1864
@gusaus - FYI I had a detailed back and forth with someone on the Audacity core team. They aren't going to join Open Collective right now but they will keep it in mind for the future.

@Betree thank you! I will follow those up.

[2019-04-02 22:40] alannallama opened #1894 "Users expect that removing a payment method will cancel its subscriptions"
We get support requests from people who have removed their payment method (credit card), and then are surprised when the subscription continues to be charged to that card. They expected removing the payment method means the system will no longer charge anything to that card.

I am struggling to think of a case where someone would remove a credit card intentionally, and *not* want the associated su

[2019-04-03 00:26] gusaus commented on #1864
@alannallama Thanks for reaching out. As mentioned in https://github.com/opencollective/opencollective/issues/1864#issuecomment-477392802, even projects not signed up could benefit from other projects, groups, or orgs who are. For instance, integrating Audacity or a creating a tutorial on "How to Record Radio Shows with Audacity" could be source material for complimentary projects like https://ope

[2019-04-03 01:52] xdamman commented on #1886
For the record, here is a postgres query to append the `open source` tag:
[code]

[2019-04-03 01:55] mixmix commented on #1888
Thanks all. Yeah logins and magic-links are one of the things I problems I don't have to deal with in Scuttlebutt. Maybe one of these days we'll get a Scuttlebutt extension which will enable easy sign on lots of places .... till then.... hope my browser remains signed in

[2019-04-03 04:09] cuiki commented on #1370
Picking up:

Latest update on the heading area. Front-end contractor is working on implementing the update.

![update](https://user-images.githubusercontent.com/981188/55452222-e6aa8880-5593-11e9-80db-68bd85435598.png)

[2019-04-03 04:46] alannallama opened #1895 "$0 expenses / non-financial contributions"
I was in an interesting thread where a community was discussing how people sometimes do work and don't want or need to be paid for it, or they want to buy or do something for the community as a gift. These kinds of contributions are often hidden in the background, meaning it's hard to get a picture of all the work actually going into a project. It occurred to me that Open Collective's system is al

[2019-04-03 06:56] gusaus commented on #1864
There are also large CMS projects and communities like Wordpress and Drupal on Open Collective.

https://opencollective.com/search?q=wordpress
https://make.wordpress.org/community/2019/03/01/using-open-collective-to-manage-money-for-do_action-charity-hackathons-and-intro-to-os-workshops/

https://opencollective.com/search?q=drupal
https://www.jrockowitz.com/blog/drupal-is-frustrating
https://event

[2019-04-03 07:57] pietgeursen commented on #1783
@Betree Ok, I think they're ready. :smile:

[2019-04-03 08:11] davojta commented on #1891
url - https://opencollective.com/shekadzianis/transactions

[2019-04-03 08:14] davojta commented on #1891
https://www.dropbox.com/s/krcb6kuomf1sqm2/Screen%20Recording%202019-04-03%20at%2011.12.16%20AM.mov?dl=0 - video

[2019-04-03 08:14] Betree commented on #1783
Hi @pietgeursen! I'll review it today. In the same time I've updated the bounty amount for this task, my first evaluation for the complexity was really bad in regard of all the refactors needed.

[2019-04-03 08:16] davojta commented on #1891
https://www.dropbox.com/s/9gqjuale6xe7d07/Screenshot%202019-04-03%2011.15.13.png?dl=0 - console output

If you need more info / debug - feel free to reach me in skype / telegram

[2019-04-03 10:59] Betree commented on #1810
Note: using `apollo-errors` to do that will also solve https://github.com/opencollective/opencollective/issues/1621 because it doesn't add `GraphQL error:` in messages.

[2019-04-03 11:32] Betree commented on #1894
Good catch, that's definitely a bug. We should display the warning and cancel the subscriptions.

[2019-04-03 11:38] Betree commented on #1891
Thanks a lot @davojta, all these info are very helpful.

It seems like a duplicate of #1872, but I'll keep it open to ensure we don't miss it.

[2019-04-03 11:42] Betree commented on #1872
Putting `priority` back on this issue as a user faced it today (https://github.com/opencollective/opencollective/issues/1891)

I followed the investigation since last time but https://github.com/apollographql/react-apollo/issues/2114 is still the privileged candidate.

The bug translate to Apollo removing the `data` from collective `props` at some point. As this has been seen on different pages re

[2019-04-03 11:45] Betree commented on #1891
Edit: Looking back at it it's almost 100% sure that this is a duplicate of https://github.com/opencollective/opencollective/issues/1872. I've prioritized it so we'll get this fixed as soon as possible.

Sorry for the inconvenience and thanks again for sharing all the details!

[2019-04-03 11:45] #1891 closed

[2019-04-03 12:18] Betree commented on #1872
The following video from @davojta clearly demonstrate the issue: page loads the error pop after page re-hydratation: https://www.dropbox.com/s/krcb6kuomf1sqm2/Screen%20Recording%202019-04-03%20at%2011.12.16%20AM.mov?dl=0

[2019-04-03 12:57] cuiki commented on #1370
@piamancini, @xdamman, @alannallama we need the copy-write to describe the role of the fiscal host in the hero section (main header block).

[2019-04-03 14:28] znarf opened #1896 "Infinite looping GraphQL request to fetch updates"
**Describe the bug**

In some circumstances, there is a GraphQL error in the 'Updates' section of the collective page. When inspecting the request, there is an infinite loo trying to fetch the resource.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://opencollective.com/blogmarks

**Current Behavior

- Notice the **GraphQL error** message in the update section.
- Open the Brow

[2019-04-03 16:29] Mayekita commented on #1187
I'll resolve this Issue, as I can see almost all of the templates are basically a copy that needs to be adjusted and change everything to the current design.
I don't think this takes me so long, but I'll give it this week, to finish them and as soon as I finish them i'll be ping you @cuiki on Figma, so you can check on them and add feedback if needed.

[2019-04-03 16:41] cuiki commented on #1187
Please, let me know when you finish a batch of five to do a quick recap and review and then move on with the rest.

[2019-04-03 21:07] gusaus commented on #1864
The following projects and communites provide tools that Open Collective and many other projects could use (if not already) for outreach, sustaining, and documentation.

* CiviCRM
  * https://github.com/civicrm
  * https://civicrm.org/
  * https://civicrm.org/make-it-happen
* Read the Docs / Write the Docs
  * https://github.com/rtfd
  * https://readthedocs.org/
  * http://www.writethedocs.org/
*

[2019-04-03 22:02] alanna opened #1897 "Allow multiple attachments in one expense"
## User story
As a contributor, I want to upload a batch of multiple receipts in one expense, because creating a seperate expense for each one is tedious.

## Best solution for this problem
Allow multiple attachments on a single expense, with space for the amount and description per each, with a "apply to all" option if they are all the same.

## MVP
Maybe a way to duplicate an expense so all you'

[2019-04-03 22:03] alannallama commented on #1897
@piamancini is there a reason related to accounting that we can't have multiple receipts for one expense?

[2019-04-03 22:08] alannallama opened #1898 ""Unexpected Error" when trying to view transactions page"
**Describe the bug**
This was reported by a user, and when I tried to reproduce it's happening to me as well.

<img width="1268" alt="Screen Shot 2019-04-04 at 11 07 16 AM" src="https://user-images.githubusercontent.com/5498878/55516495-d7c5f200-56c9-11e9-80cc-72fa6b309377.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'transactions' under the user menu

[2019-04-03 22:26] xdamman opened #1899 "Make sure the PDF receipt reads Invoice for Tier of type "service""
It's important for Europe that the PDF receipt shows "Invoice" and not "Donation Receipt" when the tier is of type "service"

[2019-04-04 01:36] alannallama commented on #1723
Thought of another reason this is important. Right now, the easiest default thing is to not record your host fees anywhere. This is bad for transparency. If a host does not want to manage their own finances transparently on the platform, they shouldn't be forced to, but the default should be that when you set up a host, a Collective for that host is created and the host fees automatically go there

[2019-04-04 01:38] alannallama opened #1900 "Scary warning on host report email"
The host report this month triggered a warning in gmail:

<img width="1002" alt="Screen Shot 2019-04-04 at 2 37 16 PM" src="https://user-images.githubusercontent.com/5498878/55523808-41a0c480-56e7-11e9-91e0-22769fdd2a51.png">

If we can figure out why this is happening and fix it, we should, as it's pretty offputting.

[2019-04-04 01:57] alannallama commented on #1370
@cuiki I'm keen to work with you on this. What's the easiest way for me to edit the existing text or give you changes?

[2019-04-04 06:27] znarf commented on #1900
Using Gmail and haven't got this warning.

[2019-04-04 06:35] Betree commented on #1898
Duplicate of #1872. This is not an easy one, it seems to come from a library we're using. I've prioritized it.

[2019-04-04 06:35] #1898 closed

[2019-04-04 06:47] znarf commented on #1899
What about @alannallama's feedback?

If I remember, she said "invoice" is when a payment is required, and "receipt" after the payment was processed.

[2019-04-04 06:47] Betree opened #1901 "Missing job for 3* tests on CI"
In https://github.com/opencollective/opencollective-frontend/pull/1574 and https://github.com/opencollective/opencollective-frontend/pull/1593 a few tests were added, all starting with `3`.

Unfortunately we don't have a job configured to run on CI so these tests never went through CircleCI.

I tried to add one, but 32- breaks (see https://dashboard.cypress.io/#/projects/yt5kwm/runs/6445/failures/

[2019-04-04 06:59] znarf commented on #1901
Let's rename the job and put it in the `0*`, `1*` or `2*` namespace.

[2019-04-04 07:01] Betree commented on #1901
Yep for the `33-user.changeEmail` it actually makes sense to put it in 08 next to signIn.

[2019-04-04 07:02] znarf commented on #1872
@Betree should we downgrade apollo to an older version?

[2019-04-04 07:06] Betree commented on #1872
@znarf I'll try locally to see if it helps

[2019-04-04 07:15] Betree commented on #1868
This lead to another bug recently where an admin of a collective wasn't able to empty the event's balance because the person wasn't recognized as an admin of it.

[2019-04-04 07:19] znarf commented on #1894
Aren't we prevented of deleting a payment method with subscriptions attached?

[2019-04-04 09:28] #1818 closed

[2019-04-04 09:34] alannallama commented on #1899
If it needs to say 'invoice' for Europe, just go with this. Technically, documentation of payment already made is a receipt, but I don't think it will confuse or cause problems to say 'invoice'.

[2019-04-04 09:52] Betree commented on #1893
Thanks for opening the issue @jaskirat2000, we'll review it as soon as possible

[2019-04-04 10:01] jaskirat2000 commented on #1893
Looking forward to it

[2019-04-04 16:17] Betree commented on #1872
Nay also be related to https://github.com/apollographql/react-apollo/issues/1314

[2019-04-04 16:42] Betree commented on #1872
Tried:
- Setting an id on `location`
- Changing the fetchPolicy to `network-only` and `no-cache`

[2019-04-04 17:05] xdamman commented on #1900
same

[2019-04-04 17:38] xdamman opened #1903 "Default avatar has the wrong font size"
https://opencollective.com/travis-tarr
![](https://d.pr/free/i/of5e2f+)

The font is way too small and also is not proportional (see the other round where the initials are proportionally larger).

Something is off.

[2019-04-04 17:44] Betree opened #1904 "Bad styling on collective "About" description"
On https://opencollective.com/zeit the backticks \` that render `<code>` are not rendered as they should, on a single line:

![image](https://user-images.githubusercontent.com/1556356/55576470-b5f05d80-5711-11e9-90a3-dc31f0698b39.png)

[2019-04-04 17:58] xdamman opened #1905 "Default amount for a tier should be one of the presets"
Related to #1887

The minimum amount should be >= `presets[0]` if there are presets.
![](https://d.pr/free/i/jlEhdK+)

Also, when we show the tier on the collective page, it should show `${presets[0]}+` and not `${tier.amount}+`

And in the contribution flow, we shouldn't allow to put a custom amount < presets[0]:
![](https://d.pr/free/i/kDKNEl+)

[2019-04-04 17:59] xdamman opened #1906 "Missing avatars in monthly collective report"
See #1887

![](https://user-images.githubusercontent.com/806/55342881-2006c980-54aa-11e9-9fad-bc9801add02b.png)

We should fall back to ui-avatars.com (we can't use React components like we do on the frontend in emails)

[2019-04-04 18:17] xdamman commented on #1887
It's normal that we report tiers that are deleted because some backers might still be in that Tier.
E.g. I create a "Gold sponsor tier", an organization ACME registers for it, then I delete the tier. In the monthly report we should still report that ACME is part of that deleted tier.

So this is an issue that is beyond the scope of the monthly report, it's about how do we manage deleting a tier.

[2019-04-04 18:49] xdamman opened #1907 "Shutdown collective with balance"
We need to deactivate the collective https://opencollective.com/climatewborders
but it has a balance of €1.79

The balance should go to the host but the host doesn't have a default collective.

So maybe we could record a transaction with amount = 0 and `hostFeeInHostCurrency` = 179 ?

[2019-04-04 22:21] ghuntley commented on #1839
Rad. Can't wait for this to ship.

[2019-04-05 01:32] alannallama commented on #1386
HelloWorks offers a service for these kind of forms, with an API so we could integrate it directly into our expense process. I think we should consider such a solution.

<img width="606" alt="Screen Shot 2019-04-05 at 2 27 49 PM" src="https://user-images.githubusercontent.com/5498878/55598522-9d368500-57af-11e9-9d6c-0259648e86c2.png">

[2019-04-05 01:35] alannallama commented on #1774
Added another example of a third party system for automating this (from HelloSign) in #1386

@znarf - would it be possible for you to look into this and estimate how much work it would take to integrate?

I think we could potentially do a manual-assisted process using the free version, if we don't want to invest in integration.

https://www.hellosign.com/products/helloworks

[2019-04-05 02:01] alannallama commented on #1907
This is a dup of #1871

[2019-04-05 03:02] alanna opened #1908 "Image upload for updates not working in Safari"
User report: I clicked on the image button, selected the image that I wanted to add from my filesystem and was brought back to the compose window.  Unfortunately, nothing had been added.  I tried it several times with the same outcome.  This was in Safari (Version 11.1.2 for Mac).

I tested this myself in Chrome and image upload is working.

[2019-04-05 05:04] alannallama commented on #1540
I made a screencast showing why it's so easy to make this mistake. At no time does it confirm your paypal email address or the name of the account, or even show it to you clearly - it just gives you the approve button. I clicked "refill" from Open Collective EU dashboard, and it nearly connected Open Collective c-corp host Paypal because I had a cookie set for that account from before in my browse

[2019-04-05 06:17] znarf commented on #1887
From the user perspective, 2 things:

- if the Tier is displayed "Sponsor $50+ per month" in the collective page, it should be labeled as "Sponsor $50+ per month" in the email. Whatever the internal details.
- we should label deleted Tiers as deleted, otherwise it's confusing

[2019-04-05 06:40] Betree commented on #1540
Ok I can see why that's bad now.

So I'd be in favor of blocking the change: if your PayPal account for the host is a@opencollective.com and you choose b@opencollective.com in the flow, you'll get an error message like:

An alternative would be to just show a warning when changing it:

Not sure that the second one is easily feasible though, will have to check.

[2019-04-05 06:40] znarf commented on #1905
In the code, we have that:

[code]

I don't really see the rationale behind each point:

- "The minimum amount should be >= presets[0] if there are presets." we already have a rule in place, what's better about this approach?
- "when we show the tier on the collective page, it should show ${presets[0]}+ and not ${tier.amount}+" what's the purpose of the default amount then?
- "in the contribution

[2019-04-05 07:37] Betree commented on #1872
Removing `priority` as a fix has just been deployed. However I'll keep this open to track down the issue in Apollo, that's a serious bug that shouldn't be ignored.

[2019-04-05 08:35] Betree commented on #1865
Ping @xdamman need your feedback here before changing FX Rates in the transactions, this will have an impact on the collectives balances so I want to make sure we're doing the right thing here.

[2019-04-05 09:00] xfischer commented on #1864
Hi ! I'm the co owner of https://github.com/GeoJSON-Net.
We need funds to take time to get things up to date.

[2019-04-05 17:39] Betree commented on #1783
You really did a great job on this one @pietgeursen. The code is clean, tested and you took the extra-step of refactoring the GraphQL queries properly so that it will be easier to maintain in the future. It was a pleasure to review it!

I'll merge everything on Monday.

:trophy: You can claim the bounty by submitting an expense to https://opencollective.com/engineering !

[2019-04-05 17:43] Betree commented on #1894
@znarf It's a mistake I made when refactoring the payment methods edit page, the check did exist in previous version but I forgot to migrate it on the new version. Will fix that ASAP.

[2019-04-05 17:46] Betree commented on #1894
Actually my last comment is inaccurate: the way I implemented it was to only show the "Remove" button when there's no subscription:

![image](https://user-images.githubusercontent.com/1556356/55646404-65ddcd80-57db-11e9-81f7-2f60e1106ef2.png)

So I'm surprised that user was able to remove the payment method.

[2019-04-05 18:45] xdamman commented on #1865
It looks like the amount is correct, it's just the currency that is not.
So there is no need to apply an FX rate. When `riseforclimatebelgium` gave 10 euros, they meant 10 euros, not 10 USD. So we just need to change the currency, we don't need to convert the amount with an FX Rate.

[2019-04-05 19:20] xdamman commented on #1905
Somehow that rule is not being applied. We shouldn't be able to set an amount < presets[0]

e.g. become a gold sponsor starting at $500/month. Presets: 500, 1000, 1500, default amount: 1000.

Ideally, where there are presets, the `amount` field should turn into a `<select>` to pick from one of the presets.

[2019-04-05 19:22] xdamman commented on #1887
Agreed. But the bug here is on the frontend, not the email.

Agreed. And we should also allow admins to move a backer to a different tier somehow. But that's beyond the scope of this issue.

[2019-04-06 15:20] Fost opened #1909 "How to add Github contributors?"
**Describe the bug**
On other projects I saw a list of Github contributors.
https://opencollective.com/bootstrap-vue/contributors.svg

What should i do to make this list appear?

We have the organisation https://github.com/positive-js
And repo - https://github.com/positive-js/mosaic

slug in opencollective,
https://opencollective.com/mosaic

[2019-04-06 15:29] Fost commented on #1909
sry I was wrong ^)

[2019-04-06 15:29] #1909 closed

[2019-04-07 00:44] mixmix commented on #1783
<3 <3 <3

I'm planning to have a go at an issue soon.
Would be great to do a reflection on how the bounty process went for everyone. We can do this public/ private, and in text/ a call
On Apr 6 2019, at 6:39 am, Benjamin Piouffle <notifications@github.com> wrote:

[2019-04-07 14:43] Upperholme opened #1910 "Poor/broken display of host fee help note on host home pages"
When viewing the home page of a host (ours is https://opencollective.com/platform6-coop), the host fee percentage is displayed immediately below the "apply to create a collective" button. Alongside this is a question mark, and when the cursor is rolled over this question mark a little 'tooltip'-style box opens up with a white background and some useful guidance text about the rationale for the hos

[2019-04-07 16:46] Betree commented on #1894
@alannallama Regarding my previous comment, can you point me to some examples where users had this issue so I can look at the data and understand what went wrong?

[2019-04-07 17:32] Betree opened #1911 "Dead link in Expense emails"
**Describe the bug**

In the "New expense" email, there is a dead link on the expense title.

Link is missing the collective in the URL.

![image](https://user-images.githubusercontent.com/1556356/55687271-6907c380-596b-11e9-8947-097ee0b71efd.png)

![image](https://user-images.githubusercontent.com/1556356/55687307-c865d380-596b-11e9-95f0-26e958c25105.png)

**To Reproduce**
Steps to reproduce the

[2019-04-07 17:38] Betree opened #1912 ""New expense" email is showing the PayPal address even for manual payouts"
In the "New expense" email, the PayPal address is displayed even if the payout method is set to "Other".

This is a privacy issue, users asking for manual payouts doesn't expect their PayPal addresses to be shared with the collective admins.

It also creates some confusion: from seeing this email as a collective admin, I am tempted to think that user asked to be paid via PayPal.

![image](https://

[2019-04-07 18:32] znarf commented on #1912
Also, PayPal address is not stored on an expense basis, which can lead to further confusion.

[2019-04-08 01:18] vickywane commented on #1876
Does this need to have .ts support?

Considering the original bot was written in ts

[2019-04-08 02:13] alannallama commented on #1894
@Betree here's one: https://opencollective.freshdesk.com/a/tickets/238

[2019-04-08 04:57] alannallama opened #1913 "Currency mismatch between budget balance and contribution options"
This Collective's currency is £ but their balance and budget are showing in $.

<img width="1164" alt="Screen Shot 2019-04-08 at 4 56 08 PM" src="https://user-images.githubusercontent.com/5498878/55699524-4931d780-5a1f-11e9-8b48-539e4f7e8041.png">

[2019-04-08 07:20] mac-s-g commented on #1872
@Betree has the fix been released?

[2019-04-08 07:55] Betree commented on #1865
@xdamman But at the time of the transaction we actually applied an FxRate, `amountInHostCurrency` for `riseforclimatebelgium`'s transaction is `1135` and not `1000`. This one is an easy fix, we just set fxrate = 1 and amountInHostCurrency = 1000.

[2019-04-08 08:11] Betree opened #1914 "Enforce collective currency when joining host"
Following https://github.com/opencollective/opencollective/issues/1913
Related to https://github.com/opencollective/opencollective/issues/1865

It seems that we're not properly setting the collective currency to the host currency.

Here's what we need to check. You need to use a host with something else than USD to test as it is the default currency:

- [x] When I create a collective from the "App

[2019-04-08 08:12] Betree commented on #1913
@alannallama I've manually changed the currency for P6 Community to GBP, so this should be fixed for P6 community.

Will follow up with the root cause in https://github.com/opencollective/opencollective/issues/1914 + https://github.com/opencollective/opencollective/issues/1865

[2019-04-08 08:12] #1913 closed

[2019-04-08 09:25] jaskirat2000 commented on #1893
Hi @xdamman and @piamancini . I opened this issue few times back. So can you just give me a final call in "Yes" or "No" for if Open Collective can collaborate with DONut? If yes then I would love to discuss few more things further.

[2019-04-08 09:32] Betree commented on #1872
It has, I deployed https://github.com/opencollective/opencollective-frontend/pull/1625 on 5th April at 9AM. @mac-s-g what was the URL when you faced this issue?

[2019-04-08 09:43] Betree commented on #1893
Hello @jaskirat2000 :wave:

First of all thanks for thinking about Open Collective while you plan to integrate more services into Donut. Your proposal have been discussed and reviewed by the core team, here is our official reply:

- We can't back Donut because right now we're focused on backing the libraries we use to build Open Collective. If it was only for us, we would back all the projects on

[2019-04-08 09:53] jaskirat2000 commented on #1893
Hi @Betree Thanks for it. I am reopening this issue because wanted to add few things.
1. Backing up this project is usually I mean with few bucks not by sponsoring $10000 etc because this can help us to give it a start for seeking donation and that too with adjoining Open Collective in DONUT.

2. Regarding features. It is not likely that we are building a new collective taking into consideration a

[2019-04-08 10:25] Betree commented on #1893
1- We understand that but still we currently don't have any plan to officially back collectives that are not a library that we use for Open Collective.

3- We clearly understand that too but the words "partnering" and "collaborating" are not appropriate in this situation.

[2019-04-08 10:31] jaskirat2000 commented on #1893
Okay thanks, no worries

On Mon, 8 Apr 2019, 3:55 pm Benjamin Piouffle <notifications@github.com
wrote:

[2019-04-08 10:35] Betree commented on #1893
I'm sorry that we cannot give you a more positive answer at the moment. I wish you the best for Donut!

[2019-04-08 10:35] #1893 closed

[2019-04-08 10:52] Betree commented on #1587
@lsmith77 Regarding the fact that users can also donate directly to the sub-collectives I'm not sure that we want to support the use case for users to re-allocate their donations.

It seems to me that once the money has been donated to a collective then it's the responsibility of the collective to decide where it should be allocated, I wouldn't like to have users re-allocating my collective's budg

[2019-04-08 10:58] Betree commented on #1783
@mixmix We should! We're learning on the process and are eager to improve the experience. I'm sure @alannallama and @znarf will be happy to join too.

[2019-04-08 10:59] lsmith77 commented on #1587
I see this as an important component in making sure funds are allocated in a way that is inline with donors, while also ensuring a constant stream of donations via "subscriptions".

Essentially what I propose is a 2 step donation process:
1) a re-occurring donation to a collective
2) an allocation of those funds to a specific cause within the collective

Note I am specifically talking about one ti

[2019-04-08 11:01] lsmith77 commented on #1587
BTW as for your suggestion about asking the collective to do this manually .. this is essentially what I am suggesting with the MVP, but then it would be nice to easily have some transparency for both the collective maintainers and the donors about how many funds can still be allocated by a specific donor.

[2019-04-08 12:01] Betree opened #1915 "Add a button to quickly open emails inbox on login"
## User story
When sending a confirmation email (for example to login) we can make the life of users easier by providing a button to directly open the email on their email provider's website.

## Best solution for this problem

Create a new `<OpenEmailProviderButton />` component that takes an email address and an optional email title filter.

If email provider is supported, add an `ExternalLink`

[2019-04-08 12:16] flickz commented on #1896
@znarf I'm unable to reproduce this locally

[2019-04-08 12:18] znarf commented on #1896
Ok. I'll have a look.

[2019-04-08 12:23] Betree commented on #1587
Thanks for the details!

So we still need design for it but I think that https://github.com/opencollective/opencollective/issues/1784 could help us on this one by allowing the collective to display publicly something like `Moving funds to ____ collective at the request of @_____` on the transaction.

Also the new design for collectives pages will normally include a "Contact" button to directly sen

[2019-04-08 12:38] flickz commented on #1724
@Betree & @znarf So what is the final proposed solution for this?

[2019-04-08 12:57] znarf commented on #1724
You can follow @Betree's advice and fix it by making sure to fetch `paymentMethods` at the beginning of the contribution flow.

[2019-04-08 12:59] lsmith77 commented on #1587
I think these would be hopeful steps in that direction, but in that case as a collective I would still need to manage a spreadsheet to keep an overview.

[2019-04-08 13:02] Betree commented on #1724
@flickz If you go with this solution (adding `LoggedInUser` in graphql query) you'll need to remove `withUser` decorator to avoid conflicting props.

[2019-04-08 22:20] gusaus commented on #1864
@alannallama Here's some additional ideas and discussions on the LibreTime side -
https://github.com/LibreTime/libretime/issues/795#issuecomment-480952129
https://discourse.libretime.org/t/opencollective-to-help-sustain-the-project-and-community/84/23?u=gusaus

[2019-04-09 04:48] alannallama commented on #1713
I got another blank update email from Webform - that's making me wonder if it's actually an issue with this specific Collective??

What I see in email:

<img width="952" alt="Screen Shot 2019-04-09 at 4 45 36 PM" src="https://user-images.githubusercontent.com/5498878/55773956-31258b00-5ae7-11e9-836c-8a6fe5729f1f.png">

What I see on the Collective page:

<img width="1002" alt="Screen Shot 2019-04-

[2019-04-09 05:06] alannallama opened #1916 "Batch credit card transactions"
## User story
As a backer, I want my various contributions to different Collectives to be paid with a single credit card transaction each month, to save on transaction fees, simplify record keeping, and prevent credit card security being flagged by too many transactions from the same company at once.

## Best solution for this problem
Batch transactions the way Patreon does.

Currently, transactio

[2019-04-09 05:12] alannallama commented on #1849
Adding to this: we also get confused people trying to reach admins of other hosts. Whatever solution we create for contacting Collectives directly should also be implemented for contacting hosts. Even as an Open Collective team member, I often find it difficult to know who to contact for specific host issues.

[2019-04-09 05:30] alannallama opened #1917 "Event expenses should show up in host admin dashboard"
**Describe the bug**
A Collective hosted by a host I admin submitted a bunch of [expenses to their event](https://opencollective.com/ethmagicians-eu/events/council-of-paris-2019-27245ev/expenses/new). None of them showed up in my expenses flow as host admin, or in the dashboard. After a couple months, luckily they contacted support to ask or they never would have been paid.

**Expected behavior**

[2019-04-09 07:00] Betree commented on #1916
Yes :100:

Stripe charges a fixed fee of 0.25€ per transaction. On my personal account, I have something like 10 subscriptions to open-source collective projects. So in my case, the stripe commission would go from ~2.50€ to 0.25€ (10x less).

We can get more data from DB if we want to estimate how much  will be saved per month but I already think that we should go for this one as soon as possible.

[2019-04-09 08:12] znarf commented on #1896
Not reproducible anymore.

[2019-04-09 08:12] #1896 closed

[2019-04-09 08:33] znarf commented on #1900
Closing. I don't see actionable here. Let's keep our eyes open and report it if this happens again.

[2019-04-09 08:33] #1900 closed

[2019-04-09 08:40] znarf commented on #1905
Until we make it clear that we're enforcing the first preset as a minimal amount, this is arbitrary and not expected for the admins or for the donators. This can be explained in the UI with some extra labels, or a FAQ on the side.

Also, what was the behavior before the new contribution flow? Did we got it wrong?

[2019-04-09 08:46] znarf commented on #1907
@xdamman I don't like it much. The cleanest options:

- create a collective for the host
- donate to another collective on the host

[2019-04-09 08:52] znarf commented on #1908
Just tested in Safari 12.1 and it was working.

Can someone try in Safari 11.1.2? Looks like a version that is not supported anymore https://en.wikipedia.org/wiki/Safari_version_history

[2019-04-09 08:59] znarf commented on #1910
a) The unreadable font issue looks specific to this collective https://opencollective.com/platform6-coop It's not happening on https://opencollective.com/europe

b) I can confirm the cropped issue on Safari for all collectives.

[2019-04-09 09:04] #1901 closed

[2019-04-09 09:06] #1892 closed

[2019-04-09 09:11] #1776 closed

[2019-04-09 11:11] Betree commented on #1882
So I don't think it's worth it to update the old tests (the gain is not that crazy) but we should enforce it in the future.

Next step should be to add some documentation about the best practices that includes this change.

[2019-04-09 11:11] #1882 closed

[2019-04-09 12:16] Betree commented on #1886
All done :heavy_check_mark:

[2019-04-09 12:16] #1886 closed

[2019-04-09 12:47] Betree commented on #1784
Some more messages from the real world

| Message |
|----------------------------------------------------------------------------------------------------------------------------------------------|
| Thank you for your hard work!                                                                                                                |
| Ta!

[2019-04-09 17:46] flickz commented on #1911
On it!

[2019-04-09 19:31] xdamman opened #1918 "Bugs with events"
While using Events on OC for [Sustain Meetup](https://opencollective.com/sustainoss/events/sustain-community-meetup-442ev), I stumbled upon small but annoying bugs

- [ ] Timezone should be the time zone of the place
- [ ] Contribution flow should be simpler for free tickets (skip step 2)
- [ ] Button in contribution flow should not be "make a contribution" but "get ticket"

[2019-04-09 21:24] alanna opened #1919 "Host admin can add funds to organizations"
## User story
As a host admin, I want to manually add funds to an Organization, so that I can process [bulk transfers](https://docs.opencollective.com/help/backers-and-sponsors/bulk-transfers).

## Best solution for this problem
An 'add funds' option on the Organization page that only host admins can see.

I'm not sure where in the process the platform and host fees should come into it. With the c

[2019-04-10 07:17] znarf commented on #1918
If you want that to be fixed, can you split that in multiple issues?

It's not a good workflow to have these list of issues, bugs, enhancements.

[2019-04-10 08:26] znarf opened #1920 "Make archiving available for individual accounts (USER)"
When we worked on the archive feature, we decided to not make it available for individual accounts.

I don't see reasons today to not allow that.

[2019-04-10 08:29] Betree commented on #1916
The data:

- We have 380 cases where the same user have multiple subscriptions to collectives of the same host
- It represents a total of 1159 subscriptions.
- Batching these transactions means making 380 calls to Stripe instead of 1159
- Stripe charges `$0.30` per transaction

So:

[code]

**Conclusion**

This feature would saves **$233.7** each month in Stripe fees.

<details>

SQL query:

[code

[2019-04-10 08:55] Betree commented on #1894
So I'm still not sure why users were able to click the "Remove" button on a payment method with subscriptions but for sure we need to enforce this validation on API.

Two solutions:

1. We block it and show an error message "Please cancel or update your subscriptions first" with a link to the subscriptions page to make it easier

2. We cancel all the subscriptions.

I personally prefer the first a

[2019-04-10 11:02] alannallama commented on #1894
If there are subscriptions attached to the card they are removing, the
options should be 1) add a new payment method, 2) change subscriptions to
another existing payment method, 3) cancel the subscriptions. I guess we
could make them manually go set that up first and just block them from
removing a card with active subscriptions, because this is a rare use case
and that's probably easier. But the

[2019-04-10 12:34] flickz commented on #1920
@znarf What activities should be prevented from archived user account?

[2019-04-10 12:57] Betree commented on #1581
Also the current wording is incorrect in the popup menu, we say `Cancel contribution` instead of `Cancel subscription`:

![image](https://user-images.githubusercontent.com/1556356/55880383-e1a39580-5ba0-11e9-89f5-3046d04f6962.png)

[2019-04-10 13:18] Betree opened #1921 "Unstable behaviour when cancelling subscriptions"
Probably related to https://github.com/opencollective/opencollective/issues/1817. The bug happen when we cancel one of the subscription while having multiple ones to the same collective.

Root cause is this line:
https://github.com/opencollective/opencollective-frontend/blob/c6d294ff7ee17020a99b4c27cbe0e0db999fca71/src/components/Subscriptions.js#L141

`key` is not unique, so React goes crazy when

[2019-04-10 13:41] maticzav commented on #1876
Hey @vickywane, did you by chance make any progress with this? If @znarf agrees, we should stick to TS because the benefits outweigh the learning curve significantly.

@znarf I didn't notice the initial state of the issue, could you elaborate briefly on the state of bounties and complexity?

[2019-04-10 13:41] piamancini opened #1922 "event calendar editing is funky"
@xdamman Wordpress Foundation announced they'll be scaling up their Open Collective use to create events for their community. Net Squared just announced it too.

Can you please look into fixes  we have pending?
(search old issues)
the admins not being translated to the events
the thank you email being hard coded and not editable by event users.

Also, the calendar is looking weird see screenshot.

[2019-04-10 13:53] maticzav commented on #1877
We could presume that the slug of the collective is the same as the name of the repository; however, that might be an overgeneralization. Perhaps checking whether any collective matches the repository name could be sufficient.

Besides that, it is crucial for updating the `package.json` file that we maintain its structure which is a challenging task by itself. `renovate` does a great job of persis

[2019-04-10 13:56] maticzav commented on #1879
@vickywane could you give a brief update on the state of this issue.

[2019-04-10 14:03] vickywane commented on #1879
There is an active PR for this.  @znarf referenced it above.
Have you gone through?

[2019-04-10 14:05] vickywane commented on #1876
@maticzav I was working on this locally.  Am yet to create a PR hence you can go ahead in taking it up.

[2019-04-10 14:13] Betree commented on #1882
Help page created here: https://docs.opencollective.com/help/developers/testing-with-cypress

[2019-04-10 15:33] Betree commented on #1817
So the root cause here comes from https://github.com/opencollective/opencollective-api/blob/0025ecb722e19bb897cf5a6d23fecda0fe07fc4b/server/graphql/v1/mutations/orders.js#L756 when we set the new order status to `PENDING`

In https://github.com/opencollective/opencollective-frontend/blob/bb85d9f6278c5ccf53a52e553be9b37509f8ffc0/src/components/SubscriptionCard.js#L451 we only show the buttons to ed

[2019-04-10 20:13] Betree commented on #1922
Fixed by https://github.com/opencollective/opencollective-frontend/pull/1649/

[2019-04-10 20:13] #1922 closed

[2019-04-10 21:24] josegonzalez opened #1923 "Feature Request: Add ability to create private updates"
## User story
As a collective maintainer, I can create a private update for backers/sponsors so that only backers/sponsors can see specific updates.

## Best solution for this problem
Ideally, a collective maintainer will see a checkbox that makes an update "private". We might further be able to target only backers, only sponsors, or only those contributing above a certain amount. The only public

[2019-04-11 05:55] niccokunzmann opened #1924 "Clicking on French and then on English redirects to French"
**Describe the bug**
A clear and concise description of what the bug is.

The link https://opencollective.com/cryptpad/contribute?language=en&set=1 redirects to https://opencollective.com/cryptpad/contribute?language=fr&set=1 for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://opencollective.com/
2. Click on [French](https://opencollective.com/cryptpad/contribute?language=f

[2019-04-11 06:05] niccokunzmann opened #1925 "Translation Contribution Path not found"
**Describe the bug**
A clear and concise description of what the bug is.

I would like to know how to contribute translations.

**To Reproduce**
Steps to reproduce the behavior:

- The footer shows text but no place where I can help translate
  ![Screen Shot 2019-04-11 at 08 03 13](https://user-images.githubusercontent.com/564768/55934269-55d94a00-5c30-11e9-9c81-25d5dc8d9bb6.png)
- https://docs.op

[2019-04-11 06:33] znarf commented on #1925
Good point, maybe the percentages should be linked to the translation interface.

https://crowdin.com/project/opencollective

[2019-04-11 06:46] znarf commented on #1924
Effectively. I'll check what's wrong.

[2019-04-11 06:47] znarf commented on #1920
@flickz same as other types of accounts

[2019-04-11 08:01] Betree commented on #1923
I had a similar use case a few months ago and I ended up downloading the members list (from `/:collective/edit/export`) to send an email manually.

We should support that.

[2019-04-11 11:53] znarf commented on #1817
I think this was done on purpose based on a feedback from @xdamman.

[2019-04-11 14:30] Betree commented on #1925
Hello @nicobarretoOC! This is reflected in this page for the documentation https://docs.opencollective.com/help/about/contributing

I just pushed https://github.com/opencollective/opencollective-frontend/pull/1658 which adds the following tooltip:

![Peek 11-04-2019 16-20](https://user-images.githubusercontent.com/1556356/55965501-01a58880-5c77-11e9-8f55-4f6dad5f0fb9.gif)

I think it will solves t

[2019-04-11 14:41] Betree commented on #1925
I also reflected the change you suggested on https://docs.opencollective.com/help/

Thanks!

[2019-04-11 15:00] flickz commented on #1724
@Betree Can you take this up instead, looks like every fix is breaking something for me?

[2019-04-11 15:10] Betree commented on #1724
@flickz even just doing `refreshLoggedInUser`?

[2019-04-11 15:19] Betree commented on #1771
Resolved by https://github.com/opencollective/opencollective-api/pull/1817

[2019-04-11 15:19] #1771 closed

[2019-04-11 15:26] Betree commented on #1899
As an invoice can contains both donations and orders for services, the way I'm going to implement it is to only show "Donation receipt" if there are only `DONATION` tiers.

[2019-04-11 15:53] piamancini commented on #1922
I think @Betree made a PR to fix the calendar issue.
There's another issue too with the way time is displayed
![Screen Shot 2019-04-11 at 11 52 32 AM](https://user-images.githubusercontent.com/3671070/55971924-6a2d3f00-5c50-11e9-8123-15383803cf51.png)

[2019-04-11 16:30] piamancini commented on #1817
wait, why would be want to edit a pending order? The logic seems ok to me

[2019-04-11 16:34] piamancini commented on #1923
I think so too. @znarf has been talking about a paywall for collectives(I think).  The MVP sounds manageable.

We would need to keep it simple at the beginning (without separating access per tier) because we still don't support backers/sponsors jumping tiers by increasing their contribution and therefore we can end up with sponsors giving the amount that gives them access but still not receiving t

[2019-04-11 16:36] piamancini commented on #1920
we'd have to check the userId in the expense table (expense table uses userId not collectiveId) and remove the email from the userID table.

[2019-04-11 16:38] piamancini commented on #1916
I'd love to do this.

[2019-04-11 16:39] piamancini commented on #1919
This feature is hardcoded for my user atm (I cant' remember how we ended up here). Ideally any host admin can do this.

[2019-04-11 16:40] shtefcs opened #1926 "GraphQL error on this page"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![](https://i.imgur.com/pg1e2Ti.png)

**Desktop (please complete the following information):**
 - OS: [Windows 10]
 - Browser [Chrome]
 - Version [latest]

On this page https://opencollective.com/stumptownsyndicate#about

[2019-04-11 17:09] piamancini commented on #1907
Ideally all entities on open collective are collective with different functionalities. It's not efficient that a host needs to have an org and a collective. It should be one, with different tags/colors and the ability to add / remove functionalities. The new collective page is getting us closer to this.

[2019-04-11 18:05] josegonzalez commented on #1923
That seems fine by me.

[2019-04-11 19:05] josegonzalez commented on #1923
I asked online, but is this something the Dokku collective could place a bounty on? I noticed that some other issues have bounties, and if possible, we can maybe help fund this functionality for our own benefit?

[2019-04-11 20:09] #1838 closed

[2019-04-11 20:09] #1899 closed

[2019-04-11 20:38] flickz commented on #1724
@Betree  Yeah I have this in `componentDidUpdate` method but it's seems to be hanging my chrome tab when "Next step ->" button is clicked.  I feel it's firing multiple times at once.

[code]

[2019-04-11 21:04] Betree commented on #1724
Yep, that's not the good place to add it :wink:

You want to do the `refetchLoggedInUser` when the order is completed, and only if it succeed.

[2019-04-11 21:11] #1894 closed

[2019-04-11 21:14] #1921 closed

[2019-04-11 21:46] flickz commented on #1724
@Betree
I noticed something, when you reload the page the value of `props.data.LoggedInUser` is `null`,

![screenshot (1)](https://user-images.githubusercontent.com/15707013/55992227-f9b00d80-5ca3-11e9-8624-8a76806a5efe.png)

Checking the API, the value of `req.remoteUser` is `undefined` here too
https://github.com/opencollective/opencollective-api/blob/master/server/graphql/v1/queries.js#L100

[2019-04-11 21:51] flickz commented on #1724
Basically within here https://github.com/opencollective/opencollective-frontend/blob/master/src/pages/createOrder.js#L354?

[2019-04-11 22:18] Betree commented on #1724
I can't reproduce on local/staging. Are you sure it's not linked to a change you made?

[2019-04-11 22:46] lindatalu opened #1927 "Collective Page → Define visual language for the Hero image and Contributor's header (EPIC #1928) (EPIC#1999)"
## Best solution for this problem
We've working on ideas to come up with a subtle but clear visual language for Open Collective that strengthens the concept of unity and collaboration.

This issue is to track the progress of these explorations.

## Referenced Issues
#1928
#1999

[2019-04-11 23:47] lindatalu opened #1928 "EPIC → Collective Page (Design Revamp)"
The collective page has a long overdue re-design. This issue tracks the design progress (wireframes, mockups, prototypes, etc.)

## Background (Parent Issues)
#1744
#1745
#1827

## Stories
- [x] Move membership tiers up at **Give & Receive** section.

- [x] Remove the follow feature for conversations.

- [x] Remove join workgroups, we're holding off on this for now.

- [x] Conversation detail page

[2019-04-11 23:59] cuiki commented on #1927
References:

![become-a-sponsor](https://user-images.githubusercontent.com/981188/56003313-b184f100-5c8b-11e9-824e-fb6bf6357bd3.png)

![join-the-movement](https://user-images.githubusercontent.com/981188/56003347-d4170a00-5c8b-11e9-9698-61f769c49539.png)

![collective-page](https://user-images.githubusercontent.com/981188/56003379-f6108c80-5c8b-11e9-9408-009555a5f58b.png)

[2019-04-12 00:27] lindatalu opened #1929 "Discover Page → Explore new way to communicate that a user is already pledging to a collective. (EPIC 2040)"
## Background
When a user searches for a collective without any results, we give the user the option to make a pledge (and create a pledged collective in the process) or we show a _pledged collective_ card for the ones that already have pledges made.

## Problem
When the users are shown a grid of pledged collectives cards, there is no way to tell the user if she/he is already pledging to any of th

[2019-04-12 00:35] lindatalu opened #1930 "EPIC → Personal Account (Design Revamp)"
## User story
This is an issue where a person has the information regarding the collective or collectives they support and personal information.

## Referenced Issues
- [ ] #1931

[2019-04-12 00:37] lindatalu opened #1931 "Personal Profile → Manage subscriptions re-design (EPIC #1930)"
## User story
_As an individual, I can comprehensively find all of my subscriptions (donations and memberships) so that I can update the subscription amount/frequency, payment method or cancel them._

## Best solution for this problem
_In the same way we're redesigning the collective page we should take a stab at the subscriptions page as a part of a larger section revamp (#1930). There a number o

[2019-04-12 00:39] cuiki commented on #1931
#1930

[2019-04-12 02:54] alannallama commented on #1817
Well, we know this case arises because this was instigated by a user who
had this issue. What if you simply make a mistake when updating the
subscription amount, and need to change it again right away?

On Fri, Apr 12, 2019, 04:30 Pia Mancini <notifications@github.com> wrote:

[2019-04-12 06:23] alannallama opened #1932 "Negative Paypal pre-approval balance"
**Describe the bug**
This shouldn't happen, right?

<img width="468" alt="Screen Shot 2019-04-12 at 6 20 42 PM" src="https://user-images.githubusercontent.com/5498878/56016304-e78ba900-5d4f-11e9-9c2d-7ff0a4af0995.png">

I refilled the balance and it appears to be working normally.

[2019-04-12 06:26] alannallama commented on #1932
After refilling, I paid a bunch of expenses and then noticed the balance went negative again.

<img width="451" alt="Screen Shot 2019-04-12 at 6 25 30 PM" src="https://user-images.githubusercontent.com/5498878/56016468-726ca380-5d50-11e9-83c0-442e5e4bdba8.png">

[2019-04-12 06:30] znarf commented on #1817
@piamancini I don't see why changing the amount should put the order in `PENDING`. If it's waiting for next month payment, then all subscriptions should be `PENDING` forever.

This is creating an unexpected, undocumented and confusing behavior for the donator. Unless there is a strong technical reason, we should not do that.

[2019-04-12 07:28] flickz commented on #1920
@piamancini I'm not clear on this

[2019-04-12 07:31] flickz commented on #1724
Yeah it is, If you add `LoggedInUser` query to `createOrder` page without removing `withUser`

[2019-04-12 07:35] Betree commented on #1724
You don't need this if you go with `refetchLoggedInUser()`

[2019-04-12 07:36] flickz commented on #1724
Yeah I know, more of an FYI for this.

[2019-04-12 07:45] znarf commented on #1920
Not clear for me either.

[2019-04-12 08:06] Betree commented on #1817
Apparently this was done https://github.com/opencollective/opencollective-api/pull/1564

Quote:
https://github.com/opencollective/opencollective-api/pull/1564#discussion_r238634122

[2019-04-12 08:27] znarf commented on #1817
@Betree while it did sound _reasonable_ back then, reading back this discussion I still don't see why it  _needs_ to be `PENDING`.

What I was trying in the past discussion was to make sure it was on purpose and explicit. Now, I'm questioning the purpose.

[2019-04-12 09:10] #1924 closed

[2019-04-12 09:43] smashnet commented on #1443
The problem is, that the alpine docker image has no "tput"command. That comes with the ncurses package. You'd have to install ncurses in the Dockerfile `RUN apk add ncurses` to make this work.

[2019-04-12 10:30] flickz commented on #1724
@Betree Added this `this.props.refetchLoggedInUser();` in `submitOrder` method, as the code below.

[code]
but it is taking forever to refetchLoggedInUser.

![Screenshot from 2019-04-12 11-19-27](https://user-images.githubusercontent.com/15707013/56031017-36b4e800-5d16-11e9-894b-ed5ad8ede70a.png)

[2019-04-12 10:40] Betree commented on #1724
@flickz Please open a pull request, the issue is not the good place to review code

[2019-04-12 12:14] flickz commented on #1888
Closed in [#1642](https://github.com/opencollective/opencollective-frontend/pull/1642)

[2019-04-12 12:14] #1888 closed

[2019-04-12 12:17] flickz commented on #1911
Closed in [#1873](https://github.com/opencollective/opencollective-api/pull/1873)

[2019-04-12 12:17] #1911 closed

[2019-04-12 12:18] flickz commented on #1113
Closed in [#1871](https://github.com/opencollective/opencollective-api/pull/1871)

[2019-04-12 12:18] #1113 closed

[2019-04-12 13:52] Betree commented on #1932
Definitely not, I'll investigate this in priority at the beginning of next week to understand why the info we display is not synchronized with PayPal here.

I assume this happened with the Open Source collective?

[2019-04-12 14:03] piamancini commented on #1817
I agree. I thought there was a pending order already (like when someone chooses payment method other and received the instructions to wire the funds)  and user wanted to edit it.

[2019-04-12 14:04] piamancini commented on #1817
If you made the payment already and want to change it, then the order is not pending

[2019-04-12 14:10] piamancini commented on #1920
Sorry:
When you archive a USER collective you need to ensure there are no expenses filed for that user. The expense table doesn't use the collectiveID of the user, it uses the UserID of that user.

So you'll need to check that the userID of that collectiveId doesn't pending expenses in the expense table. (you should check for paid expenses, but once the expense is PAID we generate transactions in

[2019-04-12 14:48] znarf commented on #1920
@piamancini Are you talking about deleting or archiving?

Archiving is for accounts that we can't delete, especially the one with orders and expenses.

[2019-04-12 17:14] piamancini commented on #1920
deleting. A user with a filed expense - pending - won't have any transactions yet. I'm assuming we are ok with deleting a pending expense?

[2019-04-12 18:48] znarf commented on #1920
This issue is about archiving not deleting.

But we can still double check the behavior for deleting.

[2019-04-12 20:23] #1925 closed

[2019-04-13 00:17] #1885 closed

[2019-04-14 05:40] luceos commented on #1885
Thank you.

[2019-04-14 21:17] alannallama commented on #1932
Yes it was the open source collective. Thanks!

--
Alanna Irving
hello@alanna.space
https://alanna.space

On Sat, 13 Apr 2019 at 01:52, Benjamin Piouffle <notifications@github.com>
wrote:

[2019-04-15 01:32] alannallama commented on #1711
@Betree This feature isn't working for me. When I go to the update emails section in my profile, the box is greyed out and I can't type in a new email. If I click the 'change email' button (even though the box still has my original email address) I get an error saying "invalid email".

[2019-04-15 01:36] alannallama commented on #1920
I find the help text for these features really confusing. I am trying to add the new features in the advanced section to the docs but I can't explain them. Seems related to this to I'm posting it here @znarf

Here's what I see:

<img width="841" alt="Screen Shot 2019-04-15 at 1 33 46 PM" src="https://user-images.githubusercontent.com/5498878/56102779-45ec9d80-5f83-11e9-87db-284abafbeb6c.png">

As

[2019-04-15 03:45] alannallama commented on #1711
Sorry @Betree actually it is working. I think this is more of a UX bug. I didn't understand you have to click "change email" then click into the box, then click the button again. I think it would be much more intuitive if you could just update the email in the text box, and if it detects a change the "update email" button would activate. Then when you click it, it would send the confirmation.

[2019-04-15 08:07] Betree commented on #1711
@alannallama Good feedback, will do

[2019-04-15 08:27] Betree commented on #1387
@fakela As agreed on Slack, we need to move forward with this one and for that we must has a timeframe. If not completed in two weeks from now (2019/04/29) the issue will re-assigned to another contributor or to someone from the team.

[2019-04-15 09:44] znarf commented on #1920
@alannallama I don't understand the non-empty balance, I'll check.

You're right for the other sentence. The second part should be optional, based on availability.

[2019-04-15 10:23] Betree commented on #1865
@xdamman We should really move forward with this one or we'll have new issues. If there's no objection, I'll update the FxRate by looking at their history.

[2019-04-15 17:17] DominikAngerer opened #1933 "Invoices are not downloadable"
**Describe the bug**
Invoices are not downloadable. Invoice button in interface is not available - links from mails into timeouts and others result in 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to download an invoice.

**Expected behavior**
A clear and concise description of what you expected to happen.

Being able to download an invoice as PDF or/and have the button

**Desktop

[2019-04-15 17:18] #1933 closed

[2019-04-15 17:58] Betree commented on #1933
Hi @DominikAngerer is it solved? Did you get this error from the transactions page (`/:collective/transactions`)?

[2019-04-15 19:15] xdamman commented on #1865
For `TransactionId` `109030` ([Tech For Good NZ](https://opencollective.com/techforgoodnz)), it's all good because the host currency is USD (https://opencollective.com/techsoup) but the collective's currency is `NZD`. That's why a FX rate had to be applied. We just need to update the currency of the opencollective payment method associated with the collective which should always match the collecti

[2019-04-15 19:59] lindatalu opened #1934 "Design Ops → Create documentation that guides the community to understand and collaborate to the design efforts."
This issue is to track the progress of the framework we'll follow as the Open Collective Design collective to approach design tasks, communicate with the OC team (and externals) and collaborate with the community of designers.

The first draft is here: http://bit.ly/OC_design_doc

@Memo-Es lets get this cleaned up so we can publish it in the collective page.

@alannallama we're aiming to have this

[2019-04-15 20:40] #1868 closed

[2019-04-15 20:46] xdamman opened #1935 "Can't refund a collective to collective transaction"
I was trying to refund a transaction made by the up-we-rise collective: https://opencollective.com/up-we-rise/transactions to /brusselstogether

From the api logs on production:
[code]

Can we fix that?

[2019-04-15 21:13] xdamman opened #1936 "Can't refund a manual donation"
I was trying to refund the initial manual donation that was made to https://opencollective.com/up-we-rise but same issue. There is a "refund" button but clicking on it doesn't do anything.
Here is the log on api production:
[code]

This is related to #1935
But in the case of refunding a manual donation, it's important to make sure that the host has manually refunded the transaction. So it's a bit

[2019-04-16 02:32] alannallama commented on #1370
@cuiki @znarf I have updated the text and committed the changes.

I also suggest these small changes (which I haven't made because I didn't want to break anything):

* Link the case studies to the relevant case study articles: [Women Who Code](https://medium.com/open-collective/women-who-code-powering-up-an-international-network-with-local-crowdfunding-78ccf5d3c725), [Operation Code](https://mediu

[2019-04-16 02:57] alannallama commented on #1853
The logos are still looking pretty bad and hard to read. This seems small but it's actually super important to sponsors that their logos show up well.

@cuiki do you have any advice?

More examples:

<img width="770" alt="Screen Shot 2019-04-16 at 2 55 17 PM" src="https://user-images.githubusercontent.com/5498878/56178882-f5933f80-6057-11e9-8dea-602d638f8546.png">

<img width="763" alt="Screen Sho

[2019-04-16 07:23] Betree commented on #1936
There's a issue for that: https://github.com/opencollective/opencollective/issues/1656

The refund method for this payment method has never been implemented.

[2019-04-16 07:23] Betree commented on #1935
There's a issue for that: https://github.com/opencollective/opencollective/issues/1656

The refund method for this payment method has never been implemented.

[2019-04-16 08:22] ZhugeYijun opened #1937 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/create while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36`

# Technical details

[code]

[2019-04-16 08:45] Betree commented on #1937
Hello @ZhugeYijun, thanks for opening this issue. Can you provide more details about how this happened and steps to reproduce?

[2019-04-16 09:12] znarf opened #1938 "Introduce default amount in Tier management"
Currently, we're relying on an informal definition of a minimum amount for Tiers, it's currently the following: `MIN(defaultAmount, presets[0])`.

We want to:
  - allow administrators to define the minimum amount for Tiers (new column in the database, in GraphQL, administration interface)
  - migrate all Tiers using the old informal definition
  - use the new formal definition everywhere we need i

[2019-04-16 09:18] znarf commented on #1831
This was fixed alternatively.

- clearer user menu
- subscriptions link in organization's navigation

[2019-04-16 09:18] #1831 closed

[2019-04-16 09:21] Betree commented on #1831
I forgot to link to the issue, this was indeed resolved by https://github.com/opencollective/opencollective-frontend/pull/1665 by adding a link in collective's menu bar:

![image](https://user-images.githubusercontent.com/1556356/56063107-af479300-5d6e-11e9-84d1-39d432f83986.png)

[2019-04-16 09:32] znarf commented on #1887
My call. The definition of minimum amount that currently matters is the one that we use in the frontend, it's historical, what our users are exposed to and likely comfortable with. We'll fix the API to match this definition. https://github.com/opencollective/opencollective-api/pull/1892

In the meantime, we need to clearly give controls to admins on a minimum amount, we'll follow up on  that in: h

[2019-04-16 09:33] znarf commented on #1926
Thank you for reporting that, I can confirm the issue, we're looking at it.

[2019-04-16 09:43] znarf commented on #1931
@lindatalu @cuiki Please review the content of this issue.

[2019-04-16 09:43] znarf commented on #1934
@lindatalu @cuiki Please review the content of this issue.

[2019-04-16 11:17] cuiki commented on #1387
@Betree we've created another separate issue to track the last pending sub-task of this. You can find it here: #1929

[2019-04-16 11:23] Betree commented on #1387
@cuiki Great! https://github.com/opencollective/opencollective/issues/1929 is out of the bounty scope but ideally we should ship it at the same time.

[2019-04-16 11:24] cuiki commented on #1853
Hi @alannallama, this won't get properly fixed until the users replace their logos (or fix them ourselves) with squared versions on a solid background. The new designs pushes for this pattern.

However, during the demo call on Friday we mentioned that @xdamman, @znarf or @Betree would try to bring the background cover into the bg of these new squared containers to avoid this issue while users prog

[2019-04-16 11:26] znarf commented on #1853
@cuiki What about today?

[2019-04-16 11:28] cuiki commented on #1387
Cool, that issue is being delivered today.

[2019-04-16 11:34] cuiki commented on #1853
You mean taking a stab at this today?

[2019-04-16 12:00] cuiki commented on #1928
@raulgrafico This is the recorded video of Friday's call
https://drive.google.com/file/d/13IwK__uwqppIlVvW3QqXqTsDx_8fJQf5/view?usp=sharing

Please post updates to the page here as well as the subtasks created from the feedback on Friday. @Betree this issue is where you can track the progress of the page's design delivery for dev.

[2019-04-16 12:10] cuiki commented on #1928
## Pending subtasks
- [ ] Smartphone view
- [ ] Tablet view
- [ ]

[2019-04-16 12:19] Betree commented on #1923
Sorry for the late reply @josegonzalez, we wanted to discuss this with the team first. We'd love to experiment something like this by co-financing this bounty with Dokku! I'll first write the specs below to give a rough estimate of how much work this is and what needs to be done.

[2019-04-16 12:57] Betree commented on #1923
# Specs

## API

- [ ] Add a field `isPrivate` (default=`false`) to the `Update` model
- [ ] GraphQL `allUpdates` endpoint: filter private updates if user is not a member
- [ ] GraphQL `Update` endpoint: return null for private updates if user is not allowed
- [ ] Allow `isPrivate` field for `createUpdate` and `editUpdate` mutations

## Frontend

- [ ] On create update form, add a `StyledCheckbox`

[2019-04-16 12:58] Betree commented on #1923
@josegonzalez Does the [spec above](https://github.com/opencollective/opencollective/issues/1923#issuecomment-483647957) works for you?

[2019-04-16 14:01] #1887 closed

[2019-04-16 14:18] #1920 closed

[2019-04-16 14:19] #1724 closed

[2019-04-16 14:19] #1502 closed

[2019-04-16 14:20] znarf commented on #1910
a) Is now fixed.
b) It's Safari only. I could not find an easy CSS fix yet.

[2019-04-16 14:47] Upperholme commented on #1910
Thanks. That's certainly an improvement. Also good to know that the second issue is specific to Safari.

[2019-04-16 14:56] #1711 closed

[2019-04-16 15:03] Betree commented on #1932
Fixed by https://github.com/opencollective/opencollective-api/pull/1896

[2019-04-16 15:03] #1932 closed

[2019-04-16 15:39] Betree commented on #1865
- [x] Fix payment methods currencies
- [ ] Fix transactions

[2019-04-16 17:42] josegonzalez commented on #1923
How would that impact any potential future enhancements, as per the "best solution" story?

[2019-04-16 18:22] Betree commented on #1923
The specs are based on the MVP. We should create separate issues for the others enhancements, unless it's critical for you to have them for v1.

---

This is compatible with the current specs, we'll be able to add a `limitedToTiersIds` field if we want to make that happen.

---

What would be the use case for that? As I see it, an update is either fully public or private.

---

That should be poss

[2019-04-16 18:47] josegonzalez commented on #1923
1. Makes sense.
2. Cool, yeah that can be an enhancement later.
3. It would be a way to "entice" folks to back a collective. If you back the collective, you get more info than just the title :)
4. That workaround makes sense, though it would be cool for... automating that manual work in the future.

---

I'm more or less stealing this idea from Patreon, which is where I utilize these features.

[2019-04-16 22:00] flickz commented on #1926
@znarf Have not been able to reproduce this locally

[2019-04-16 22:26] alannallama opened #1939 "Improve error message when repo has less than 100 stars"
**Describe the bug**
If a user is trying to create a new open source Collective, but they connect a repo with less than the required 100 stars, they get an error message that says "No Repository found", which is misleading.

**To Reproduce**
1. Go through the create Collective process from https://opencollective.com/opensource/apply
2. Try to connect a repo with less than 100 stars

**Expected beh

[2019-04-16 22:45] Betree commented on #1923
I just went to see how [Patreon](https://user-images.githubusercontent.com/1556356/56247771-3d40b800-60a6-11e9-8754-8f3e76cbad8d.png) users use this feature and I better understand now.

I also better understand the need for the automatic private/public switch, with things like "our backers get access to exclusive content 24h before". That will be worth adding the feature as a separate issue.

I'v

[2019-04-16 22:47] alannallama commented on #1853
@cuiki OK I understand. If there's anything we can do as a quick fix now, I think we should. And I hope this issue can be properly fixed in the new Collective page design. In terms of issues that the people who bring the most money care about, this is high on the list. I'd like to see how sponsors are featured be revamped in the new design. They are always super concerned about it and contact supp

[2019-04-16 22:51] alannallama commented on #1934
@lindatalu That's great! You are most welcome to include stuff in the main docs. We can give Design its own section, with sub-chapters underneath. I'll make you an author on the gitbook - can I have your email to add you please? I'm sure the Design chapter will be the best looking one in the docs 😁

[2019-04-16 23:56] lindatalu commented on #1934
@alannallama Thank you good idea to have our own section the docs will be updated by @Memo-Es. You should grant the access to him. maybe the way you will work on those documents is a conversation to have on slack.

[2019-04-17 00:21] gusaus commented on #1434
https://opencollective.com/devshop might be an edge case, but it's a good example of how multiple goals close together overlap and obstruct each other.

![OpenDevShop - Open Collective 2019-04-16 17-14-33](https://user-images.githubusercontent.com/113996/56252088-1b760f80-606b-11e9-8e99-17ebdfab6da9.png)

[2019-04-17 08:07] znarf commented on #1939
@alannallama the proposed message doesn't work because we're not connecting a Repo but an Account. The error is that we can not find any repo (with >= 100 stars) linked to the account.

[2019-04-17 08:18] alannallama commented on #1939
Ok. Just saying that in the message would be fine.

On Wed, Apr 17, 2019, 20:07 François Hodierne <notifications@github.com>
wrote:

[2019-04-17 10:24] Betree commented on #1434
@gusaus This one really looks bad :disappointed: It's hard to see what could be done to improve it beside using a scale that is non linear at all.

The best option in my opinion would be to give the collective the ability to set how this is displayed (linear, logarithmic, equally-spaced...etc) - that's pretty easy to implement.

However with the new collective page that's coming we're not going to

[2019-04-17 13:00] Betree opened #1942 "RFC - File naming conventions"
# Affected projects

All projects.

# Motivation

When we create new files, there's no implicit or explicit convention about the file and folder names.

- Paths are not predictable, which may add complexity when autocomplete is not available.
- It gives this impression that files are unorganized.
- It may confuse new contributors.

# Solution

Adopt the following conventions.

### 1. Folders names

[2019-04-17 14:00] nemchik commented on #1441
I like this idea but I see it's been closed without any additional comments or information. Has this been implemented? Or has this discussion been supersceded by another issue that can be seen here on GitHub?

[2019-04-17 14:20] nemchik commented on #1217
Have you guys considered allowing Stripe itself to do the payouts? Another donation platform I have used (BeerPay) has the recipients use Stripe directly to receive donations. Somehow they have managed to do this without fees, but in that scenario donations go directly from the end user making the donation to the recipient and there is no project balance or expenses, etc.

Anyway it seems like you

[2019-04-17 14:55] Betree commented on #1441
Hi @nemchik, I closed this issue because it seemed too far away from the current Open Collective mission.

Though there are some individuals using OC for receiving donations (eg. https://opencollective.com/sindresorhus) this is still a very rare use case, most of the projects on the platform are about communities.

So except if there's a strong demand from users, I don't think that we'll plan to w

[2019-04-17 15:00] nemchik commented on #1441
I see. Indeed I agree what drew me to OC was the idea that the project I've put on the platform is growing from a one man show into a community and I want the monetary aspect of that to be transparent and accessible. The adjusted title makes more sense as this idea is about donating to an individual where OC currently focuses on the ability to donate to a project.

Thanks for the clarification!

[2019-04-17 16:10] wooorm opened #1943 "Update email empty"
**Describe the bug**

Yesterday we at [unified](https://opencollective.com/unified) created a small update. The email sent out was empty though, see the attached screenshots!

**To Reproduce**

(I’m not going to try and dig into what exactly the cause is, because I don’t want to bug our backers with empty emails 😬)

1. Have one person create an update (specifically, for us it was just an unordered

[2019-04-17 17:55] gusaus commented on #1434
We should thank @jonpugh for creating such a fine example of functionality that needs to be improved 😄

@Betree What about the option of providing/displaying goals similar to Patreon? https://support.patreon.com/hc/en-us/articles/203913409-What-are-goals-

The feature itself is most likely something that many collectives use and value. Are you considering dropping the feature entirely?

[2019-04-17 18:18] Betree commented on #1434
@gusaus Not the feature itself but the way it is displayed. Design team is still actively working on it so I can't exactly say how it's going to look, but they confirmed me that this progress bar is going away with the new collective page :slightly_smiling_face:

[2019-04-17 18:33] Betree opened #1944 "Unexpected error flashing with frontend navigation"
**Describe the bug**
When using frontend routing, we sometimes have an "Unexpected error" flashing while the collective page changes. I've seen this bug multiple times in the past weeks.

Maybe related to https://github.com/opencollective/opencollective/issues/1872

I've tested with and without, can confirm it's not related to https://github.com/opencollective/opencollective-frontend/pull/1600

**

[2019-04-17 19:39] znarf commented on #1943
I'm a backer and got it in my Inbox, effectively looking empty. Looking at the source, I see:

![Screen Shot 2019-04-17 at 21 38 18](https://user-images.githubusercontent.com/806/56315914-4dfe3600-6159-11e9-94a5-7621025084d3.png)

We'll investigate promptly.

[2019-04-18 01:22] fuzzyTew opened #1945 "Payment Issues From USA"
I just wanted to report that my bank informed me that, because the money was being sent to Belgium, they will decline every payment I initiate with you unless I call them in advance to notify them I will be sending money to Belgium.

It would be great if you guys accepted some other payment method than a credit card, such as cryptocurrency or Paypal.  This would be much more convenient for situati

[2019-04-18 01:24] fuzzyTew commented on #1945
(note: the project I was trying to back was https://opencollective.com/manyverse/contribute )

[2019-04-18 01:41] alannallama opened #1946 "Collectives showing in wrong section of host page"
**Describe the bug**
On the Open Source Collective host page, 3 Collectives are showing at the bottom as "part of our organization", when in fact they are just normal Collectives.

**To Reproduce**
Go to https://opencollective.com/opensourcecollective

**Expected behavior**
These three Collectives should show with all the others.

**Screenshots**
<img width="1108" alt="Screen Shot 2019-04-18 at 1

[2019-04-18 05:34] alannallama opened #1947 "Can't log into staging"
I've previously signed in with alanna@opencollective.com but now it's throwing this error.

<img width="618" alt="Screen Shot 2019-04-18 at 5 33 24 PM" src="https://user-images.githubusercontent.com/5498878/56338911-28783780-6200-11e9-92f0-0b830519ad74.png">

[2019-04-18 05:36] alannallama commented on #1947
I asked for a new sign in link as suggested but the same thing happened.

[2019-04-18 06:51] Betree commented on #1947
Hello Alanna I'm currently using staging to fix a bug, this will be resolved today

[2019-04-18 06:51] znarf commented on #1945
@fuzzyTew Sad from your bank to be so drastic.

But I agree, this is why allowing a diversity of payment methods is important.

[2019-04-18 06:55] znarf commented on #1947
Works for me now. Let's not have open issues for temporary staging issues. But we should definitely work on this error message.

[2019-04-18 06:57] znarf commented on #1926
@flickz Have you looked in production?

[2019-04-18 07:10] #1947 closed

[2019-04-18 09:10] flickz commented on #1926
@znarf  Not really but have tried to compare the same query locally, I think we might need to investigate the "Stumptown Syndicate" collective data in production database especially data fetched with`allCollectives` query

[2019-04-18 09:55] znarf commented on #1926
I see: ```{"errors":[{"message":"Cannot destructure property `dataValues` of 'undefined' or 'null'.","locations":[{"line":2,"column":3}],"path":["allCollectives"],"level":"debug"}],"data":{"allCollectives":null}}```

We should check if there is actually any collectives linked to this host.

[2019-04-18 11:26] znarf commented on #1942
I like it.

Administrative detail, I feel like an RFC should be more a Pull Request than an Issue.

[2019-04-18 11:37] Betree commented on #1942
@znarf Makes sense, I'll update the README

[2019-04-18 11:48] flickz commented on #1942
This is really nice although personally, I prefer snake_case over kebab-case and I think currently we have more `*js` files in snake_case than kebab. Also it will be good to have a convention for test files too.

[2019-04-18 14:16] piamancini opened #1948 "bring back terms of fiscal sponsorship to the github flow"
Terms of [Fiscal Sponsorship](https://docs.google.com/document/u/1/d/e/2PACX-1vQbiyK2Fe0jLdh4vb9BfHY4bJ1LCo4Qvy0jg9P29ZkiC8y_vKJ_1fNgIbV0p6UdvbcT8Ql1gVto8bf9/pub)  need to be added again on the github flow

<img width="404" alt="Screen Shot 2019-04-18 at 7 13 21 AM" src="https://user-images.githubusercontent.com/3671070/56367392-0227ad00-61aa-11e9-9b57-2b0bf3aee1f5.png">

[2019-04-18 14:36] piamancini commented on #1946
fixed -

[2019-04-18 14:36] #1946 closed

[2019-04-18 15:45] znarf commented on #1948
I guess we need to add a new static page with the "Fiscal Sponsorship TOS" content.

Can you provide the new copy for the message under the button? And tell which term should be linked?

[2019-04-18 15:54] znarf commented on #1943
@xdamman can you have a look tomorrow?

[2019-04-18 16:15] znarf commented on #1948
For reference:

![Screen Shot 2019-04-18 at 18 14 30](https://user-images.githubusercontent.com/806/56375460-df2ae680-6205-11e9-9f7d-31f81d009a85.png)

[2019-04-18 21:36] Betree commented on #1942
@flickz Good point for test names

I also prefer snake case but @znarf seemed to say that kebab is the most common in Node's world.

Regarding what we have today it's not very scientific but the following command:

[code]

Returns:

|  Project |  `-` | `_` |
|:--------:|:----:|:-----:|
| frontend | 324  | 74  |
| api      |  189 |  79 |

So kebab case seems to be the most used in our projects.

[2019-04-18 22:21] alannallama commented on #1798
I want to bump this up. We get requests to user support about this as well, as many Collectives want to offer physical swag as tier rewards. Currently we tell them to export their backer emails and contact them directly to ask for their address, but that's a cumbersome workaround.

I wonder if we should specify address, or just let it be an open text field, or a customizable one, because Collectiv

[2019-04-19 02:28] mcrosson commented on #1798
Why not the ability to add text fields with custom headers? Phone numbers and addresses can vary greatly in formatting depending on country and as long as we have a way to specify what the field is for, it should be sufficient.

[2019-04-19 04:24] alannallama opened #1949 "Error on host dashboard: Int cannot represent non-integer value"
**Describe the bug**
This error is coming up when I try to load the Open Source Collective dashboard.

![Screen Shot 2019-04-19 at 4 20 07 PM](https://user-images.githubusercontent.com/5498878/56405204-553f5400-62bf-11e9-952a-9055f5285949.png)

**To Reproduce**
Go to https://opencollective.com/opensourcecollective/collectives/expenses

**Additional context**
I can load other host dashboards. The e

[2019-04-19 04:30] alannallama commented on #1949
Now I tried to pay OC Foundation expenses and the same thing happened. Paid a few successfully, then started getting errors, now can't load the dashboard at all.

![Screen Shot 2019-04-19 at 4 28 45 PM](https://user-images.githubusercontent.com/5498878/56405444-5a50d300-62c0-11e9-83cb-853dcb5fce91.png)

![Screen Shot 2019-04-19 at 4 29 05 PM](https://user-images.githubusercontent.com/5498878/56405

[2019-04-19 06:35] znarf commented on #1942
And in `node_modules`, to get brief survey of the node ecosystem?

[2019-04-19 07:00] Betree commented on #1949
I most certainly introduced this in https://github.com/opencollective/opencollective-api/pull/1908, I didn't tried paying floating amounts and it seems to be the root cause here. On it.

[2019-04-19 07:30] #1949 closed

[2019-04-19 07:39] Betree commented on #1949
This is now fixed in production, sorry for the inconvenience @alannallama

[2019-04-19 08:18] Betree opened #1950 "Expenses left for deleted collectives"
Host dashboard was recently crashing for https://opencollective.com/hostdemo because it was trying to display expenses with `collective` = `null`.

The number of expenses is small and they're all pretty old so this may be not related to a bug in the current code.

Query:

[code]

Fixed expenses (by setting `deletedAt` to `NOW()`):

| id    | UserId | CollectiveId | description

[2019-04-19 08:41] Betree opened #1951 "New collective page initial release"
This issue will track the progress for the first iteration of the new collective page.

# Files

- All components specific to this page will go to `components/collective-page`
- `index.js` will export the main content component

**Tree**

└── components
⬜├── collective-page
⬜│⬜├── [Hero.js](https://github.com/opencollective/opencollective/issues/1954)
⬜│⬜├── index.js
⬜│⬜├── NavBar.js
⬜│⬜├── Sectio

[2019-04-19 08:48] Upperholme opened #1952 "Our host page reports an incorrect number of collectives hosted"
Over the last 12 hours or so two collectives have applied to be hosted by our host: https://opencollective.com/platform6-coop

Neither have as yet been approved - we'll discuss the applicationsand approve ro otherwise in the next couple of days.

However our host page reports that "We are Hosting 2 collectives". In fact atthis point we are hosting 1 collective (this being the one that we set up wh

[2019-04-19 08:53] Betree commented on #1952
Thanks for opening this issue @Upperholme, good catch.

[2019-04-19 08:56] Upperholme opened #1953 "Mismatch in host fee %age across host settings and email notifications"
Our host (https://opencollective.com/platform6-coop) is curently configured with a 2% host fee, and this is displayed on our host page.

However, we have just received email notifications as a result of two new collectives applying to be hosted by us, and those emails state that we will "receive a commission of 5% on all their donations".

The email notification should reflect the percentage figur

[2019-04-19 08:59] Betree opened #1954 "New collective page: Hero component"
:deciduous_tree: See https://github.com/opencollective/opencollective/issues/1951
:art: Design: https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/09.-Collectives?node-id=2338%3A36062

---

This component will include the collective presentation and a NavBar to navigate between the collective sections. The NavBar must display what part of the page is actually focused.

![image](https://user-image

[2019-04-19 09:02] Betree commented on #1942
For frontend's `node_modules` I get:

Kebab: 10251
Snake: 1461

[2019-04-19 10:14] flickz commented on #1942
Kebab it is then! :+1:

[2019-04-19 11:14] heyakyra commented on #1926
Same error here: https://opencollective.com/resist#about

actually...same error on many pages: https://www.google.com/search?q=site%3Aopencollective.com+"graphql+error"

[2019-04-19 11:20] #1944 closed

[2019-04-19 12:35] xdamman commented on #1943
Thank you @znarf for your screenshot, it really helped speeding up debugging!
PR coming.

[2019-04-19 12:59] flickz commented on #1926
Oh Thank you @heyakyra we'll fix this asap.

[2019-04-19 16:15] Betree commented on #1923
@josegonzalez Green light from the Open Collective team :tada:

You can send the amount that you want to add to the bounty for this issue to https://opencollective.com/engineering/donate, using your collective as a payment method (see below). For the reference, please mention the issue number in the public message left on the "Donation succeed" page.

We evaluate this to be a medium complexity (se

[2019-04-19 16:15] #1948 closed

[2019-04-19 21:28] #1943 closed

[2019-04-20 03:10] piamancini commented on #1953
Yes it should. We'll fix it.

[2019-04-20 03:10] piamancini commented on #1953
@xdamman can you take it on please?

[2019-04-20 03:14] piamancini commented on #1952
The create collective flow is not taking into account when a collective is approved and it's not taking the correct host % fee.
See for example id21431 it's FALSE but it still shows up + the fee % was 5 (I changed it to 2% to reflect the correct host fee as you can see above)

[2019-04-21 15:28] oddstr13 commented on #355
I just opened an account and went to link to GitHub, and was greeted with a request for **write** access to all my repositories.
![image](https://user-images.githubusercontent.com/638706/56471894-07aa1f00-6458-11e9-91c7-0e92fdbb2fde.png)

This is completely unacceptable, and this issue should be reopened.

What this means is that if the OpenCollective servers are compromized, **all** repositories

[2019-04-22 01:50] alanna opened #1955 "Add "team" section to fiscal host page"
## User story
As a user, expense submitter, community member interested in transparency/accountability, or Collective core contributor, I want to easily see who admins a given host.

## Best solution for this problem
Add a "team" section to host pages, similar to the team section on Collective pages, which displays the admin users.

## Metrics
Easier to contact host admins, fewer support requests

[2019-04-22 21:20] alannallama commented on #1445
We got a user request for this feature today. I think it's a good one.

[2019-04-22 21:29] alannallama commented on #1768
@znarf @Betree - is there a workaround that would let me see Collective applications to Open Source Collective that have *not* already been automatically approved? Because right now, it's not feasible for me to check each email notification manually (the vast majority are already auto-approved), which means that no one gets back to Collectives that have not been automatically approved to manually

[2019-04-22 22:46] SimonCropp commented on #355
@piamancini can this issue be re-opened?

[2019-04-23 05:47] Betree commented on #355
Hello @oddstr13, as someone who refused to register on services using Github auth for the same reasons I can only agree with it.

However from what I understand our hands are tied here because Github doesn't provide enough granularity in its permission system. I'm not very familiar with these, if anyone knows a way to avoid asking so much permissions we'd definitely love to do it.

![image](https:

[2019-04-23 05:55] Betree commented on #1768
I don't see any, but creating a very simple page that list all pending applications with "Approve" / "Decline" buttons should take no time. @alannallama would that work for you?

[2019-04-23 06:25] SimonCropp commented on #355
@Betree did anyone from opencollective reach out to github support as @shiftkey suggested here https://github.com/opencollective/opencollective/issues/355#issuecomment-353527162

[2019-04-23 06:41] deamme commented on #355
@Betree I know that Netlify has something built in place where you only give them access to specific repos. Although I don't know the exact implementation. cc @sw-yx might know?

[2019-04-23 07:26] sw-yx commented on #355
yes netlify does have it. but i dont know the impl. its so old that i dont even know who knows it at the company cos we barely touch it. but it is totally open source: https://github.com/netlify/git-gateway

feel free to steal.

[2019-04-23 09:01] Betree commented on #355
Thanks for sharing @sw-yx! I'm re-opening this.

@znarf has a better understanding of the Github flow than I do. He'll be back next week, we'll check together what are our options here. @flickz welcome to join too if you have ideas on how this can be improved.

[2019-04-23 10:00] Betree commented on #1942
As per https://github.com/opencollective/opencollective/issues/1942#issuecomment-484463426, issue has been moved to pull request: https://github.com/opencollective/opencollective/pull/1957

[2019-04-23 10:00] #1942 closed

[2019-04-23 10:57] alannallama commented on #1768
Yes, that would be great. So it would only show the ones that aren't
automatically approved, right?

--
Alanna Irving
hello@alanna.space
https://alanna.space

On Tue, 23 Apr 2019 at 17:55, Benjamin Piouffle <notifications@github.com>
wrote:

[2019-04-23 11:04] SimonCropp commented on #355
@Betree thanks for looking into this again

[2019-04-23 11:17] eloyekunle commented on #1873
I'd like to work on this.

[2019-04-23 12:51] Betree commented on #1768
@alannallama Yes, it will only show the ones that are not approved yet.

I've made a first version but I saw that we don't have a `rejectCollective` function yet. Do you often reject collective's application? If you do, what's the process? What information do you need to make the decision?

Current state:
![image](https://user-images.githubusercontent.com/1556356/56582299-38fd2900-65d7-11e9-809a-4

[2019-04-23 13:00] eloyekunle commented on #1873
@znarf

On this line: https://github.com/opencollective/opencollective-api/blob/156a8e62be62b80a64c3231978791176ed44504a/server/models/Transaction.js#L408, `hostCurrencyFxRate` is going to be a FLOAT, which means the multiplication of `netAmountInCollectiveCurrency` and `hostCurrencyFxRate` will return `amountInHostCurrency` as a FLOAT.

However, the column data type is an INTEGER. Should we perfo

[2019-04-23 13:55] flickz commented on #1717
Closed in [#1487](https://github.com/opencollective/opencollective-frontend/pull/1487)

[2019-04-23 13:55] #1717 closed

[2019-04-23 14:22] #1937 closed

[2019-04-23 14:24] Betree commented on #1950
Closing this as it only serves for reference

[2019-04-23 14:24] #1950 closed

[2019-04-23 14:29] eloyekunle commented on #1873
@znarf Fixed, tests pass now.

[2019-04-23 14:31] Betree commented on #1914
Resolved by https://github.com/opencollective/opencollective-api/pull/1874

[2019-04-23 14:31] #1914 closed

[2019-04-23 14:44] Betree commented on #1912
So maybe we should totally strip the PayPal email, regardless of the expense's payout method. I don't see any benefit to show this in the email.

[2019-04-23 14:52] Betree commented on #1676
Update: Base component for this issues are ready.

[2019-04-23 16:56] Betree commented on #1923
:gift: :money_with_wings: A **$300** bounty has been attached to this issue.
:diamond_shape_with_a_dot_inside: $200 from @josegonzalez @ https://opencollective.com/dokku :tada: :heart:
:diamond_shape_with_a_dot_inside: $100 from Open Collective

---

Anyone submitting a Pull Request will be rewarded with $300 when the Pull Request is reviewed, accepted and merged.

Specs: https://github.com/openco

[2019-04-23 17:00] Git-R-Goin commented on #1923
I am very interested in this ticket and it would be great if I can work on this issue.

[2019-04-23 17:08] Betree commented on #1923
@Git-R-Goin thanks for joining in! You've been invited to @opencollective/developers, you can now push directly on Open Collective's repos (only master branches are protected).

You've got two weeks from now to complete this issue. Please tell us if you need any additional time, we can adapt when needed :slightly_smiling_face:

[2019-04-23 21:10] twisstosin commented on #1876
Is anyone still working on this? I'd like to pick it up.

[2019-04-23 21:22] piamancini commented on #1912
@betree, let's think about this.

The user needs to see what email they are using becasue when they add a new email it overrides the existing one recorded as their paypal email.

And from a host admin perspective if they don't see the paypal email in the field it's hard to troubleshoot (they would need access to a view in the data base of that email)

[2019-04-23 21:24] piamancini commented on #1876
hi @twisstosin!  @znarf is away until next week and he is managing the bounties. He'll get back to you as soon as he can. I have no information on the state of this bounty. Thank you!

[2019-04-23 21:31] piamancini commented on #355
@simoncropp we did talk to Github about this - we absolutely agree with the issue raised - but there is not apparent solution at this stage.

We have plans of expanding the open collective bot for onboarding, which is a github app and therefore has (I believe) better granularity. @znarf is the right person to comment here. He's away for the next couple of days.

We'll look into netlify too.

[2019-04-23 22:39] alannallama commented on #1071
Bumping this, because it keeps coming up....

[2019-04-24 00:02] alannallama commented on #1768
@Betree we don't reject Collectives currently. We just only accept them if they meet the host criteria, and otherwise take no action. I think for this MVP version we can leave that as-is.

In the future, it might be worth building a reject function, especially if we can add a message explaining why the Collective was not accepted, and what they can do now (e.g. apply to another host and how to do

[2019-04-24 06:30] Betree commented on #1768
Thanks for the details, I'll ship it this week

[2019-04-24 06:45] Betree commented on #1915
No objection has been given for this feature, I don't see any danger in implementing it and it's contained and simple enough to make it a candidate for "Good first issue" to give to new contributors.

[2019-04-24 13:26] nemchik commented on #464
I wanted to express that I'm still interested in seeing this (since stale bot has tagged it). I unfortunately don't think I'm up to adding this feature myself.

[2019-04-24 17:00] rugk commented on #1217
So is not this a dupe of https://github.com/opencollective/opencollective/issues/1742?

[2019-04-24 17:06] rugk commented on #919
BTW as for SEPA support, please see (or upvote :smile:) https://github.com/opencollective/opencollective/issues/1217, https://github.com/opencollective/opencollective/issues/1763 and https://github.com/opencollective/opencollective/issues/1763

[2019-04-24 17:10] nemchik commented on #1217
@rugk I may be mistaken, but those issues you have posted seem to be on the topic of donors having more transaction options when making donations. This issue is about collective's having more transaction options for payouts.

[2019-04-24 17:15] rugk commented on #1217
Ah okay, did not know that. Still don't get it all, where is used what and what issue is about what here… Actually, you should just support SEPA anywhere, taht's the point. :smile:

[2019-04-24 17:32] auvipy commented on #919
If you allow sending payoneer invoice withdrawal, then may people can send payoneer invoice to your invoice email and you could clear that with just US local bank to Payoneer without any fee at all [Not the shitty Payoneer global tranfer!!!] and Paypals - Hyperwallet and Zoom

[2019-04-24 17:45] MonkeyWeiW opened #1959 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/code-settings-sync/order/tier/3848-? while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Win32
- Browser: `5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36`

# Technical details

[2019-04-24 18:08] themightychris commented on #1657
See opencollective/opencollective#1038

[2019-04-24 18:16] themightychris commented on #1038
@piamancini

I've thought about this problem a ton in the context of Code for America brigade groups having cards to order pizzas for weekly hack nights. These groups cobble together support from lots of places and sometimes have different volunteers facilitating events in different places and it sucks when a volunteer has to put a $200 pizza order on their personal card and wait for reimbursement

[2019-04-24 18:58] Betree commented on #1959
Hello @MonkeyWeiW, thanks for reporting this issue. Can you provide more details, maybe steps to reproduce?

[2019-04-24 20:01] gusaus commented on #1955
Many (most?) hosts create a supercollective to collect/distribute funds, display the team, contributors/sponsors, transactions, etc. Is there a way to merge that functionality into the host page?

Supercollective - https://opencollective.com/wwcode
Host - https://opencollective.com/wwcodeinc

Supercollective - https://opencollective.com/opensource
Host - https://opencollective.com/opensourcecollec

[2019-04-25 01:12] cuiki commented on #1928
## Feedback Round 10

- [x] Move membership tiers up at **Give & Receive** section.

- [x] Remove the follow feature for conversations.

- [x] Remove join workgroups, we're holding off on this for now.

- [x] Conversation detail page is limited to replies with attachments and reactions.

- [x] Open collective badge (Halo, verified, other) Explore the best way to do it.

- [x] In conversations remo

[2019-04-25 01:32] alannallama commented on #1445
That's a good question @Betree - on Patreon, private updates are only for paying backers. Have we gotten any clue from users if this kind of 'perk' is the reason they want private updates? I would guess yes, because if anyone can sign up for updates and get the private ones, there's no point in them being private.

[2019-04-25 01:34] alannallama commented on #1428
Will this be fixed on the new Collective page?

[2019-04-25 01:40] alannallama commented on #1955
@gusaus yeah there are a lot of improvements to be made with how Hosts are represented as Collectives. #1723 is a related issue. Basically, host pages should have all the functionality of Collective pages, and fees should automatically be added to them. Right now we have to manually create supercollective pages to fill the functions the Host page should.

[2019-04-25 01:45] cuiki commented on #1428
Yes, @alannallama . :)

[2019-04-25 07:01] SimonCropp commented on #355
@piamancini thanks for the follow up, and the extra context.

[2019-04-25 07:25] gusaus commented on #1864
If we're looking to expand our outreach to organizations and services that support open source project, there's a pretty great list here:

https://github.com/velikanov/opensource-candies

Thanks @SlvrEagle23 for sharing that resource!

[2019-04-25 07:36] Betree commented on #1445
@alannallama Yes, it is the reason why they want private updates. We actually got this feature request from the Dokku collective and we're co-financing the bounty for it so it's something important to them.

From what we discussed yesterday with Pia, (2) seems like the easiest and more logical solution so it's the preferred one right now.

It could also be helpful to have a tooltip above the follo

[2019-04-25 08:20] #1768 closed

[2019-04-25 08:24] alannallama commented on #1445
Yep, sounds good. If you're not sure of the design or wording, have a look
at how Patreon explains backer-only posts.

--
Alanna Irving
hello@alanna.space
https://alanna.space

On Thu, 25 Apr 2019 at 19:36, Benjamin Piouffle <notifications@github.com>
wrote:

[2019-04-25 11:50] patcon commented on #1038
Thanks so much @themightychris! Did CfA make plans to move on this, or was it exploratory? (Asking partially to know if there will be more learnings/progress, but also as someone who would love to share learnings with Code for Canada here in Toronto 😉)

[2019-04-25 12:21] xdamman opened #1960 "Use case: hire a community member"
I have two immediate use cases for the tier based goal feature introduced in the latest designs.

One is for [Extinction Rebellion Belgium](https://opencollective.com/xr-belgium) that would love to offer people a way to “adopt a rebel”.
The other one is for [ParcelJS](https://opencollective.com/parcel) who would love to allow companies to hire developers in their community to work on Parcel.

The

[2019-04-25 13:39] piamancini opened #1961 "Host's stripe account is connected but not showing in UI or DB"
Host  https://opencollective.com/plus-ninety-5-pte-ltd/ has a stripe account successfully connected in stripe dashboard but there is no payment method service=stripe connected to that id in the data base.
Search PaymentMethods table for collectiveid=38432 only the opencollective method is showing up.

[2019-04-25 13:45] piamancini commented on #1038
I'm reopening this since we've been working with stripe to make this happen. I'll post a comment and a reply soon @themightychris - Thanks for bumping this!

[2019-04-25 13:45] Upperholme commented on #1723
The advice I received when we set up our host was to create a collective and then create a new host organisation for that collective, which aligns with your comment @alannallama .
The docs at https://docs.opencollective.com/help/hosts/create-a-fiscal-host don't currently follow this guidance for some reason.

Given that, in our perception at least, transparency is a key feature of the OC platform,

[2019-04-25 13:47] Betree opened #1962 "New pledge doesn't appear after submitting"
When pledging a collective that already have existing pledges, the new pledge doesn't appear on the page after submitting the form.

This may be linked to the changes made in https://github.com/opencollective/opencollective-frontend/pull/1600 as I didn't try the flow on a collective that already had pledges when testing it.

The proper way to handle this would be to either use `update` option (bes

[2019-04-25 14:06] johanricher opened #1963 "Free tier contributors aren't displayed in the UI"
**Describe the bug**
Contributors who choose the free tier contribution do not appear anywhere in the organization's page.

**To Reproduce**
Steps to reproduce the behavior:
1. A user creates a new OC account (e.g. [this user](https://opencollective.com/eloise-gabadou) has done so for the purpose to reproduce the problem)
2. They go on the organization's page (e.g. [Code for France's](https://open

[2019-04-25 17:56] themightychris commented on #1038
@patcon this is only exploratory, and I don't represent CfA in anything. I'm just a user advocating for what I think a lot of the community would value. I think pulling this off would be the killer feature that makes the work and risk worthwhile for groups to totally shake up their financial management setup one more time.

Thanks for working on this @piamancini ! I'm excited to get a peek at what

[2019-04-25 23:24] alannallama commented on #1713
Another Collective is having this issue.

Here's what the update looks like on their page:
![Screen Shot 2019-04-26 at 11 23 25 AM](https://user-images.githubusercontent.com/5498878/56774224-d5ad0a00-6815-11e9-98fc-d532a3c7782b.png)

And here's what it looks like in my email:
![Screen Shot 2019-04-26 at 11 23 37 AM](https://user-images.githubusercontent.com/5498878/56774236-de9ddb80-6815-11e9-8b02

[2019-04-25 23:26] alannallama commented on #1713
The Collective above sent out two updates recently, and they are both coming up blank in the email.

[2019-04-25 23:32] alannallama commented on #1187
@cuiki we updated the onboarding emails for new Open Source Collective Collectives, and for newly created Organizations. What still needs to be done? Should we roll out the changes made to OSC onboarding to the rest of the hosts? Are there any stats about if the new emails for OSC are showing improved engagement?

[2019-04-25 23:34] alannallama commented on #1723
Thanks for your thoughts @Upperholme - I agree.

@znarf @Betree - could the scope and priority of this please be assessed?

[2019-04-26 01:07] Memo-Es commented on #1934
Hi @alannallama yes, I'd be a pleasure to collaborate with you, please show me the next steps to follow to put this baby online

[2019-04-26 08:46] xdamman commented on #1961
When you connect a Stripe account, it adds a `ConnectedAccount`, not a payment method.
You can only receive money when you connect a stripe account. To send money you need a payment method which is a credit card or prepaid card / gift card.

[2019-04-26 09:02] xdamman opened #1964 "Unhide connect Stripe account"
We should allow users and organizations to connect a stripe account to become a host.
No reason to hide that feature behind a query parameter anymore.

![](https://d.pr/free/i/uZgrTU+)

[2019-04-26 09:04] #1953 closed

[2019-04-26 12:07] piamancini commented on #1961
The issue remains that the user doesn't have a stripe service payment menthod in the data base

[2019-04-26 12:42] xdamman commented on #1961
No, the table is `ConnectedAccounts` (stripe, twitter, github). There is also a table `PaymentMethods` but that's for payment methods (stripe tokens for credit cards, paypal, prepaid, ...).

I see the Stripe Connected Account so it worked. Might be related to #1964 let me deploy it.

[2019-04-26 12:43] #1964 closed

[2019-04-26 13:29] xdamman opened #1965 "Can't add members to a collective if their email is already in the db"
When trying to add someone by their email address, if they are already in the database, there is a "Validation error" being returned in the interface.

[2019-04-26 14:11] piamancini commented on #1961
Ok - asked user to see if it shows up now.

[2019-04-26 14:15] piamancini commented on #1723
@alannallama we should update the docs too.

[2019-04-26 14:16] piamancini commented on #1713
@xdamman was working on this today

[2019-04-26 20:44] over9001 opened #1966 "Event end times not displayed"
On event pages, the start time of an event is displayed, but the end time is omitted, hidden, not displayed, missing.

![screenshots-for-opencollective-bug](https://user-images.githubusercontent.com/6494531/56835495-6568ad80-6842-11e9-8957-dcdb29b6b526.png)

Anyone can see this on any event page, in any browser: https://opencollective.com/opensource/events/london-meetup , https://opencollective.co

[2019-04-26 21:06] over9001 commented on #1966
Bug research update:
It looks like the server is sending the start time twice to the frontend?
This is what the page looks like on cold-cache reload in the moment before it cleans itself up to look like the screenshot above in the original bug report.

![opencollectivechromescreenshot](https://user-images.githubusercontent.com/6494531/56836349-fb9dd300-6844-11e9-94a6-7ba7af5dc042.png)

React chrom

[2019-04-26 21:15] over9001 commented on #1966
I think I found where the change should be made: https://github.com/opencollective/opencollective-frontend/blob/839bba062436f20414ce8a3a8724e040353b9b81/src/components/CollectiveCover.js#L59

Any guidance welcome!

[2019-04-26 21:49] over9001 commented on #1966
Running the dev server on my local machine, it looks like a simple enough fix:

            {props.collective.startsAt && (
              <React.Fragment>
                <FormattedDate
                  value={props.collective.startsAt}
                  timeZone={props.collective.timezone}
                  weekday="short"
                  day="numeric"
                  month="long"

[2019-04-26 21:59] over9001 commented on #1966
I have made a pull request: https://github.com/opencollective/opencollective-frontend/pull/1709

Please advise! :) Thanks!

[2019-04-26 22:08] over9001 commented on #1966
"All checks have passed"! :)

Looking forward to seeing this get merged soon! Thanks!

[2019-04-27 03:35] gusaus commented on #1864
Along with being a great case study for sustaining OSS, [this post via CiviCRM](https://civicrm.org/blog/michaelmcandrew/paths-to-sustainability) provides a some pretty good reasons why CiviCRM would be a great addition to the Open Collective platform and community.

[2019-04-27 06:58] alanna opened #1967 "Host getting notification of expenses to Collective they did not approve"
**Describe the bug**
Collective A applied to be hosted by Host X, but they were not approved. Then someone submitted an expense to Collective A, and the admin of Host X got an email notification. This caused them to be concerned activity was happening in their host that was not approved. It seems pending Collectives of a host are being treated as if they are approved in this case.

**To Reproduce*

[2019-04-28 04:03] tgr commented on #1034
You could just use separate OAuth consumers for user identification and for repo identification. The help text for the connect button says "Connect a GitHub account to verify your identity and add it to your profile" if that is truly what you need the access for, (no scope) should work fine.

[2019-04-28 04:44] JohnTitor opened #1968 "Cannot build frontend Docker image on Windows"
**Describe the bug**

I tried to build docker image on frontend but couldn't.

<details><summary>The log</summary>

[code]

</details>

I think this place causes error.

https://github.com/opencollective/opencollective-frontend/blob/e2cf5db78dad59d2ba0a96b2d25dec96125078b7/scripts/build_server.sh#L1-L2

When I remove these and add `SRC` and `DIST` as `ENV` in `dockerfile`, the build is success.

*

[2019-04-28 08:09] alannallama commented on #1370
Is this live now?

[2019-04-28 08:35] alannallama commented on #1960
Can you expand a bit more how this will work @xdamman? Will it be like "Pay $x for a retainer of y hours per month"? Or more like bounties for one-off projects done by a specific person?

For the "adopt a rebel" option, is the reason it can't work with current tiers because they want to adopt a *specific* rebel that the payer chooses? As opposed to just generally "If you give $x/month that covers

[2019-04-28 08:36] alannallama commented on #1917
@Betree I forgot to mention this when we had our call. Right now I have no way of seeing if there are approved expenses under an event in our hosts. I am afraid people are submitting them and not getting paid.

[2019-04-28 08:41] alannallama commented on #1907
I believe in the case where a host is not storing their host fees on Open Collective (this one it seems), we should be able to just delete the balance off the Collective's ledger and logically, it will be 'given' to the host, because in this case the 'host fees' are just the difference between what's represented in their Collective balances and what is in their bank account. So if you click the 'z

[2019-04-28 08:43] alannallama commented on #1884
@znarf this is already done right?

[2019-04-28 08:45] alannallama commented on #1875
We already encourage users to sign up with a pseudonym if they don't want to donate under their own name publicly. But we don't currently have a way for them to choose to sometimes be anon and sometimes use their name, or to link two profiles if they have an alt for anonymity. This comes up occasionally in support requests, so if we had a cleaner way to enable this, that would be great. I like @xd

[2019-04-28 08:47] alannallama commented on #1874
It's already in the docs here: https://docs.opencollective.com/help/product/user-profile#using-open-collective-anonymously

[2019-04-28 08:48] alannallama commented on #1871
@znarf this is already fixed with the new feature, right?

[2019-04-28 08:58] alannallama commented on #1783
@Betree this can be closed, right?

[2019-04-28 08:58] #1779 closed

[2019-04-28 08:59] alannallama commented on #1774
@Betree this is the big hairy tax forms issue I mentioned to you. It would be great if a dev could look into scope/feasibility of integrating a third party solution like the ones mentioned here, or we could work together on another solution.

[2019-04-28 09:03] #1677 closed

[2019-04-28 09:04] alannallama commented on #1674
This would be great for the newsletter too

[2019-04-29 05:56] alanna opened #1969 "Clarify our terminology throughout the app, docs, and comms"
We need to decide once and for all what the key roles and function in this app will be named. I keep seeing the same thing called different names, different things called the same names, and then in new designs (like the new Collective page), there are even more new and confusing names.

Here are my thoughts as a start:

* **Backers**: individuals who donate to Collectives.

I could also agree wit

[2019-04-29 08:39] Betree commented on #1966
Resolved by https://github.com/opencollective/opencollective-frontend/pull/1709

Thanks for contributing on this one @over9001! We'll deploy it today or in the next few days.

I've invited you to the https://github.com/orgs/opencollective/teams/developers group, next time you'll be able to commit directly on the main repository :slightly_smiling_face:

[2019-04-29 08:39] #1966 closed

[2019-04-29 08:48] brymut opened #1972 "Link to Slack in contributing.md not working."
Hi, new to open collective and would like to learn how I can start contributing.

I headed over to the contributing guide page and noticed that the link to slack (at the bottom) isn't working. I'm not sure if that [slack.opencollective.com](slack.opencollective.com) was a custom third level domain that redirects to your slack page or if there was a mistake instead of it being [opencollective.slack

[2019-04-29 09:06] brymut commented on #1962
Hi @Betree , I'd be more than happy to have a look at this if no one else is on it.

[2019-04-29 09:10] znarf opened #1970 "Contribution Flow: Can't go back due to CC validation"
**Describe the bug**

When trying to contribute with an account without a stored credit card, after reaching Payment Details step, I'm prevented to go back because of a bogus credit card validation.

**To Reproduce**

As a Signed In user, without a Credit Card stored on your account.

1. Go to 'https://opencollective.com/veganbrussels/contribute'
2. Click on 'Next step'
3. Click on 'Next step' aga

[2019-04-29 09:15] znarf opened #1971 "Contribution Flow: error message is in french"
**Describe the bug**

While I actively set the interface to English, Credit Card related error messages are displayed to me in French (likely because it's my browser's default language).

**To Reproduce**

As a Signed In user, without a Credit Card stored on your account, with a browser language set to french and the Open Collective website set to English.

1. Go to 'https://opencollective.com/veg

[2019-04-29 09:18] Betree commented on #1962
Hi @brymut, thanks for joining in. Feel free to do so, you can ping me here or on Slack if you need assistance.

[2019-04-29 09:19] znarf commented on #1968
That's strange, we're actively using the docker setup in our development deployments, without problems so far.

[2019-04-29 09:22] JohnTitor commented on #1968
@znarf Hmm, I'm not sure. If so, I guess the reason is I'm using Docker on Windows.

[2019-04-29 09:22] Betree commented on #1971
This is because Stripe auto-detects the language if not provided. To fix it we have to provide the locale manually. See https://github.com/stripe/react-stripe-elements#props-shape-1

[2019-04-29 09:51] brymut commented on #1972
Absolutely my bad, even the link you used in your comment isn't working for me. Strange, so switched to my phone and the link is working. So probably something to do with my browser/computer's connection? My apologies.

![Reproduction](https://im5.ezgif.com/tmp/ezgif-5-693c849c91ce.gif)

[2019-04-29 09:51] #1972 closed

[2019-04-29 09:51] znarf commented on #1971
Let's do that.

[2019-04-29 09:54] znarf commented on #1972
@brymut If it happens to to you, it might happen to others, let us know if you understand better the cause.

[2019-04-29 09:58] brymut commented on #1972
Alright, I'll have a look and re-open if I spot something.

[2019-04-29 10:11] brymut commented on #1972
okay, link works when I disconnect from the VPN I use (NordVPN). No clue why 🤷‍♂️

[2019-04-29 10:38] znarf opened #1973 "Contribution Flow: blocked at first step"
**Describe the bug**

On a particular collective tier, I'm not able to go to the second step of the contribution flow.

**To Reproduce**

As a Signed In user.

1. Go to 'https://opencollective.com/mvvmcross/contribute/tier/2574-support-request'
2. Click on 'Next Step'

**Current behavior**

Nothing happens. There is an error in the console.

`Unhandled promise rejection TypeError: "Expected "verb"

[2019-04-29 12:49] flickz commented on #1973
@znarf The problem is, the affected collective tier "'Support request'' is a `type` of `TICKET` (meant for events) without associated `eventSlug`.

TICKET tiers expect `eventSlug` in url when trying to createOrder like this (`http://localhost:3000/tipbox/events/flickz-conf-7ev/order/2805?amount=1000000`).

I think the solution will be for the collective to change the type from "TICKET" to a "gener

[2019-04-29 12:55] flickz commented on #1926
@znarf The problem is here https://github.com/opencollective/opencollective-api/blob/master/server/lib/queries.js#L353-L363, we need to inspect the production database to find out while the `COUNT` SQL query is failing for this collective hosts.

[2019-04-29 14:23] znarf commented on #1973
Thank you for investigating that @flickz, closing.

[2019-04-29 14:23] #1973 closed

[2019-04-29 14:50] znarf opened #1974 "Evaluating Greenkeeper"
We're quite happy with Greenkeeper to help us update our packages. It had a few glitches but that is happening to everyone, we know that :-)

However, because we have many dependencies, the workflow could be better and it's taking more time as it should to edit and validate the pull requests.

- When there is a merge conflict in `package.json`, we have to edit it by hand, in the GitHub interface o

[2019-04-29 16:40] piamancini commented on #1969
@alannallama
Thank you for raising this:

Backer is a tier - and individual can choose to become a backer or also give money as a Gold Sponsor or as a Gold backer. If you keep backer as a tier, then a Gold Backer is not a Backer, since they'd be in different tiers. Moreover, nothing prevents an individual giving money at a higher lever than the backer tier. This is the problem we've been having. T

[2019-04-29 16:44] piamancini commented on #1967
Hi @xdamman can you look into this on Friday?

[2019-04-29 16:58] piamancini commented on #1961
closing this - it's fixed on the user's end

[2019-04-29 16:58] #1961 closed

[2019-04-30 06:29] znarf commented on #1884
@alannallama Yeah, this is done and active for a selection of hosts (open source, paris, brussels, europe and wwcode).

[2019-04-30 06:29] #1884 closed

[2019-04-30 06:31] znarf commented on #1871
@alannallama yes.

Maybe we also want to follow up and reopen the discussion on donating float amounts.

[2019-04-30 06:31] #1871 closed

[2019-04-30 07:02] Betree opened #1975 "Host dashboard: move latest orders to a separate tab"
The host dashboard is really heavy. As we don't need to have this information next to the expenses, we should move it to a separate tab.

- [ ] Rename `Finances` tab to `Expenses`
- [ ] Add a `Orders` tab
- [ ] Move latest orders to this new tab
- [ ] On `Expenses` tab, center expenses and give them more space

![image](https://user-images.githubusercontent.com/1556356/56944990-c5eb3980-6b25-11e9-

[2019-04-30 07:06] alannallama commented on #1975
This would be great! Let's take the opportunity to give it a better name,
too. Elsewhere in the app we call these "subscriptions". In accounting, the
complement to "expenses" is normally "income". Elsewhere we call money
coming in "donations". I think any of those is a better description than
"orders", which we don't use anywhere else.

On Tue, Apr 30, 2019 at 7:02 PM Benjamin Piouffle <notificati

[2019-04-30 07:13] Betree opened #1976 "Host dashboard: "Record as paid" button for PayPal"
In host dashboard, we sometimes have to pay PayPal expenses manually - for example when the amount is more than $2000. We need to have a `Record as paid` button  to account for these cases.

![image](https://user-images.githubusercontent.com/1556356/56945665-35622880-6b28-11e9-9d4c-49c5513f659b.png)

[2019-04-30 08:13] Betree commented on #1928
As discussed previously, from the development perspective the tablet view is bonus. If we have a good desktop view and a good mobile view, tablet will fit automatically.

So ideally we should prioritize mobile.

[2019-04-30 08:17] Betree commented on #1783
Yep, it's live and working fine. Thanks again to Piet!

[2019-04-30 08:17] #1783 closed

[2019-04-30 08:43] Betree commented on #1974
I'm not very familiar with `renovatebot` but I've used `dependabot` for some time. Here is how it addresses the issues you've listed:

Dependabot has a `@dependabot recreate` command that recreates a fresh PR, which usually solves the conflicts in package.json and package-lock.json.

Also Dependabot automatically rebase its PRs when it detects a conflict in these files, so most of the time there's

[2019-04-30 09:07] xdamman commented on #1960
It will be about contributing a monthly amount towards a bucket that will be used to hire a specific person (or a generic person, it’s up to the collective to name that person or not). It’s up to each collective / person to define what the backers will receive in return. The default is that it’s a donation. People give money and don’t get to decide what the person will be working on. They just tru

[2019-04-30 09:09] znarf commented on #1974
@Betree thank you for the input. How do you trigger commands?

[2019-04-30 09:14] znarf opened #1977 "Migrate images.githubusercontent.com entries in Collective table"
**Describe the bug**

Many entries in the Collective table (401 total) point to addresses on the `images.githubusercontent.com` domain.

All these images are broken at the moment. We need to migrate them to a new scheme.

[code]

[2019-04-30 09:19] Betree commented on #1960
All the changes required by these specs are the same we need for the tier page (https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=2587%3A39809). I'm going to split them into smaller issues.

[2019-04-30 09:30] Betree opened #1978 "Tier goals API"
# Specs

- [x] Add `goal` to Tiers (amount in cents as integer, default=null)
- [x] Field can be edited with `editTiers` mutation
- [x] Add a GraphQL field `stats.totalDonated` to get the balance of a tier

[2019-04-30 09:32] Betree opened #1979 "Tier page: goal progress"
Require https://github.com/opencollective/opencollective/issues/1978

## Frontend

- [ ] Show a progress bar on the tier page (see [Figma](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=2587%3A39809))

![image](https://user-images.githubusercontent.com/1556356/56952839-7dd71180-6b3b-11e9-9ee9-6511369f2ef6.png)

[2019-04-30 09:42] Betree opened #1980 "Set background image for tier"
# Specs

## API

- [ ] Add `backgroundImage` field for tiers
- [ ] Allow uploading images in `editTiers` mutation

## Frontend

- [ ] On `/:collective/edit/tiers`, add an upload form with advice for image resolution
- [ ] On the new collective page, show the backgroundImage on the tier (see [Figma](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=2587%3A39809))

[2019-04-30 09:46] Betree opened #1981 "Tier page: Add long description to tiers"
# Specs

## API

- [x] Add `longDescription` field for tiers (text, default=null)
- [x] Allow editing `longDescription` in `editTiers` mutation

## Frontend

- [x] On the new collective page, add the ability to edit the `longDescription` inline with a rich text editor
- [x] On the new collective page, show the long description on the tier (see [Figma](https://www.figma.com/file/e71tBo0Sr8J7R5n6iMk

[2019-04-30 09:46] Betree opened #1982 "Tier page"
This issue will track the progress for the first iteration of the new tier page.

# Files

- All components specific to this page will go to `components/tier-page`
- `index.js` will export the main content component

# Specs

- [x] Show tier goal => https://github.com/opencollective/opencollective/issues/1978, https://github.com/opencollective/opencollective/issues/1979
- [x] Show tier backgroundI

[2019-04-30 09:52] Betree opened #1983 "Show goal on tier card"
Require #1978

On the new tiers page `https://opencollective.com/:collective/tiers` that list all collective's tiers, we want to display the goal progress for all tiers.

The design for the progress bar should follow the one used for new tier cards so that we can re-use it between components (see https://www.figma.com/file/e71tBo0Sr8J7R5n6iMkqI42d/OC.COM-07-%2F-Collectives?node-id=2151%3A0).

That

[2019-04-30 09:54] Betree commented on #1960
Moved specs to #1982 (#1979 #1980 #1981) + #1983

@xdamman Feel free to close this issue if eveything's covered

[2019-04-30 10:20] Betree commented on #1974
By mentioning the bot in a comment, like on this one: https://github.com/opencollective/opencollective-invoices/pull/34#issuecomment-487871858

[2019-04-30 11:14] xdamman commented on #1982
Can we keep the current nomenclature of `CollectivePage`, and therefore `components/TierPage`?

In terms of priorities, I’d put the adding share buttons at the end.

[2019-04-30 11:15] xdamman commented on #1980
For the MVP, we could simply use the `backgroundImage` of the `Collective`.
I’d just add an `image` column to the `Tiers` table to add a specific image.

[2019-04-30 11:17] xdamman commented on #1981
Last point: I’d say show the `tier.image`, it’s not really the `backgroundImage` which should fallback to the `collective.backgroundImage`

[2019-04-30 11:18] xdamman commented on #1979
Don’t forget to handle both cases of absolute goals and recurring goals.
E.g.
- $522 / $1,000 raised
- $1,020/month / $2,000/month raised

[2019-04-30 11:34] znarf opened #1984 "Under review email when registering from GitHub"
**Describe the bug**

When using the GitHub flow, looks like the review is automated and the collective is active by default. However, it was reported that admins get an email saying the collective is under review, which is confusing.

**Expected behavior**

Currently unknown.

[2019-04-30 11:34] znarf commented on #1984
What do you think should be the right behavior @alannallama ?

[2019-04-30 12:27] #1713 closed

[2019-04-30 17:46] flickz commented on #1674
@Betree  [github-release-notes](https://github.com/github-tools/github-release-notes) uses issues to create change logs, leveraging issue labels and milestone, creates a `CHANGELOG.MD` file. An example of the changelog generated by this module is https://github.com/ChurchCRM/CRM/blob/master/CHANGELOG.md.

But to achieve [Github Desktop](https://desktop.github.com/release-notes/) release note type,

[2019-04-30 18:05] piamancini commented on #1984
There should be two emails, one that says under review and another one following up that says it has been approved.

[2019-04-30 21:44] alannallama commented on #1976
This would be great! It also would need the 'payment processor fee' input box as well.

[2019-05-01 01:17] alanna opened #1985 "Host admin can set default Collective"
Related to #1723

## User story
As a host admin, I want to set the default Collective, which is the Collective where host fees are added and where money goes if a Collective uses "zero account" to transfer their balance to their host.

Currently the "zero balance" feature is only turned on a few a few hosts where we were able to hard-code in their default Collectives.

## Best solution for this pr

[2019-05-01 02:08] alannallama commented on #1969
Thanks @piamancini

OK, that makes more sense. I didn't realise all the custom tiers would be behind these categories. I still pretty strongly disagree with the term "members" though. I think "supporters" or "backers" is much more apt.

I'm kind of worried about forcing this dichotomy. Are we sure that this will work for all Collectives, who use tiers in different creative ways? Won't sponsors gam

[2019-05-01 02:13] alannallama commented on #1984
If they are automatically approved, why would there be two emails? They would both some at the same time.

Automatically approved > gets email that their Collective is approved and active

Under review > Collective is not active and they should get an email saying they are under review and pending, then if they are approved, they get notified of that.

But the second case should not be occurring i

[2019-05-01 04:47] alannallama commented on #1969
I've been thinking about this more, and trying to figure out why I dislike the "members" idea.... I think it's because I don't see it translating across all the contexts we need, leading to even more redundant terms and confusion in the future. If the one word doesn't work everywhere, we'll end up having multiple terms in use.

Examples:

Does this immediately carry the meaning of "individuals who

[2019-05-01 14:28] piamancini commented on #1969
We could only surface the collectives type USER for the individuals and the collectives type ORGANIZATION for the companies

Our data is structured with collectives type  USER for individuals and ORGANIZATIONS for companies.

Supporters could work. (backers no, because it's our default tier category, so the majority of collectives use it as a tier level)

That's a good point. Let's see it on the w

[2019-05-01 17:07] Betree commented on #1674
Thanks for sharing the details!

I like `github-release-notes`, I'm using it on another project and it's working fine. A homemade solution with a pretty page would be great but that's a different complexity and the need is not strong enough in my opinion to prioritize it now (may be a good case for a bounty tho).

Starting with something simple like github-release-notes and improve when we feel th

[2019-05-01 17:10] Betree commented on #1981
@xdamman My bad that was a typo, the issue for tier's image is https://github.com/opencollective/opencollective/issues/1980#issuecomment-487913455

[2019-05-01 17:14] Betree commented on #1980
@xdamman I previously missed the fact that we have two kind of images that users will be able to edit on the page. I've updated the issue to account for both `image` and `backgroundImage`.

[2019-05-01 17:21] Betree commented on #1982
As part of RFC https://github.com/opencollective/opencollective/issues/1942 and for the new collective page, we decided to start having subfolders for components with kebab-case namings.

The main reason is that we shouldn't expose components that will be used only on the tier page to the global scope. Having all components in the same directory makes it hard to navigate and as a sub-consequence w

[2019-05-01 19:19] piamancini opened #1986 "Surface organizations in search"
It's impossible for someone to discover a sponsor profile unless they know the exact url - we should surface them in search

[2019-05-01 19:19] piamancini commented on #1986
@znarf can we spec this out and add a bounty?

[2019-05-01 22:29] alannallama commented on #1917
@xdamman @Betree @znarf Can this be prioritised? It's a really bad user experience for people submitting event expenses and I don't have a workaround.

[2019-05-02 03:09] alanna opened #1987 "Unsubscribe links should lead to frontend, not API"
I clicked unsubscribe in the monthly report for a test collective I set up, and this page loaded:

<img width="991" alt="Screen Shot 2019-05-02 at 3 07 20 PM" src="https://user-images.githubusercontent.com/5498878/57054972-1ca27000-6cec-11e9-858a-986e47d65b89.png">

Does this mean I was unsubscribed?

[2019-05-02 08:38] Betree commented on #1917
@alannallama Yes, I'll tackle that asap.

[2019-05-02 09:17] znarf opened #1988 "Contribution Flow: allow float amounts"
Sometimes, it's necessary to donate float amount (ie: 0.20$ or 1.20$).

The main use case is to empty the balance of a collective, before changing host or archiving it.

It was discussed in https://github.com/opencollective/opencollective/issues/1871

[2019-05-02 09:21] znarf opened #1989 "Empty balance: unable to give 0.20$"
**Describe the bug**

When trying to empty the balance of a collective (0.20$), administrator is getting an error:

`payment.amount must be at least $0.50`

https://pbs.twimg.com/media/D5fX-cmV4AAW0N_.jpg:large

[2019-05-02 11:15] eloyekunle commented on #1839
In order to start configuring the Zapier triggers, the [API pull request](https://github.com/opencollective/opencollective-api/pull/1854) needs to be reviewed and merged first.

[2019-05-02 13:40] znarf opened #1990 "Wrong label: "We are hosting X collectives""
**Describe the bug**

On https://opencollective.com/stumptownsyndicate on the bottom of the page there is this string: "We are hosting 5 collectives". But something is wrong, there is no collective below.

![Screen Shot 2019-05-02 at 15 40 32](https://user-images.githubusercontent.com/806/57079446-a3f1e280-6cf0-11e9-9e45-61ace53f11ab.png)

[2019-05-02 14:24] Betree commented on #1970
@flickz Be careful while fixing this - we need to have the following flow covered:

1. User complete all the steps until payment
2. User go back to Step 2 and sets an invalid amount
3. User click on previous
4. User jumps to Step 3 by clicking on the (3) bubble

If we don't do any validation, users may be able to submit an order with an invalid amount.

We have two options to cover this:
- Validat

[2019-05-02 15:15] piamancini commented on #1969
Adding another issue here related to this:

The sponsor page cards read 'backer' (https://opencollective.com/airbnb#backer) which is correct in the sense that the relationship to those collectives is of a backer as opposed to a host, an admin or a core contributor. But it's wrong in the sense that airbnb is not a backer tier but a gold sponsor, base support sponsor, bronze sponsor etc for each of

[2019-05-02 15:20] piamancini commented on #1990
This is happening because the member table has 5 rows where this collective has the role=HOST

Those collectives are status=FALSE and therefore are not showing up.

We shouldn't show that a host is hosting a collective until that collective is Active - but this pulling the information as expected.

[2019-05-02 15:23] piamancini commented on #1987
LOL yes, but the message could at least have some css

[2019-05-02 15:23] znarf commented on #1990
Instead of `status=FALSE` you mean `isActive=false`? Or where are you exposing `status`?

[2019-05-02 15:45] znarf commented on #1969
@piamancini If you want the eslint issue to be tracked, open a new one. I'm afraid it's gonna be lost in there.

[2019-05-02 19:03] piamancini opened #1991 "include terms of fiscal sponsorship when a collective applies directly to c6 host"
opencollective.com/opensourcecollective/apply should include the terms of fiscal sponsorship. I'm happy to do it if I get pointed to the right place in the code.

[2019-05-02 19:04] piamancini commented on #1969
yes you are probably right, but I'm not sure it's a bug.

[2019-05-02 19:05] piamancini commented on #1990
my mistake, it's isActive=FALSE

[2019-05-02 19:14] piamancini opened #1992 "Collective creator can still edit when removed from members"
core contributor creates a collective and later decides to move on and remove themselves as a core contributor from that collective

They remove themselves via the Members tab in editing the collective. This successfully marks the member row as deleted at however, since the collective row in the collectives table still has the userID in the createdBy column, the user is still able to edit the coll

[2019-05-03 04:06] alanna opened #1993 "Refunds by Collective admins"
## User story
As a Collective admin (core contributor) I want to have the ability to issue refunds so I can respond to requests from my backers and sponsors directly.

## Best solution for this problem
Turn on the refund button for Collective admins for transactions in their Collective (currently only available to host admins)

## Todo list (added Sept 2020)

- [ ] security review
- [ ] make sure

[2019-05-03 04:40] alanna opened #1994 "Erroneous pending orders"
<img width="501" alt="Screen Shot 2019-05-03 at 4 38 27 PM" src="https://user-images.githubusercontent.com/5498878/57119955-049d2000-6dc2-11e9-8b44-00c8ce3042b8.png">

Noticed this on the host dashboard. What does it mean to mark and incoming donation as paid? And how can a donation be pending like this?

[2019-05-03 04:43] alanna opened #1995 ""no payment source available" paypal error"
Getting this error when trying to pay [this expense](https://opencollective.com/gitea/expenses/7874):

<img width="521" alt="Screen Shot 2019-05-03 at 4 41 28 PM" src="https://user-images.githubusercontent.com/5498878/57120032-85f4b280-6dc2-11e9-9a8c-e1a10116861b.png">

[2019-05-03 04:46] alannallama commented on #1995
Same thing happening for [this expense](https://opencollective.com/rocketmod/expenses/7844), but all the others are going through fine.

[2019-05-03 07:20] Betree commented on #1994
This can normally happen when people submit "Manual donations" (see screenshot below). However I just checked and this option should not appear for open source collective - at least it doesn't for Octobox.

@xdamman Any idea?

![image](https://user-images.githubusercontent.com/1556356/57124060-82423b00-6d84-11e9-97fb-16191fccc687.png)

[2019-05-03 07:25] Betree commented on #1995
This is coming from PayPal. Strange that it happens only for some expenses, maybe user's account must have a default payment method configured too?

The following help page may help, if it doesn't then it would be good to check with the users:

[2019-05-03 08:49] Betree commented on #1917
I tried different scenarios locally and wasn't able to reproduce, it seems expenses already show up in host admin dashboard.

On https://opencollective.com/europe/dashboard, I properly see the expenses (see screenshots below). @alannallama can you check again the dashboard to see if they're here? If not, it would be helpful to know which expenses are missing.

![image](https://user-images.githubus

[2019-05-03 10:18] gusaus opened #1996 "Create Open Collective Chapter organizer guides"
With an uptick of communities across the globe using or evaluating Open Collective to support meetups and events in their region, it would be helpful for users and organizers to have readily accessible guidelines and policies available for them to use.

While regional chapters are currently working on a variation of docs for their own needs, it seems like a uniform set of guidelines and policies w

[2019-05-03 14:12] huan commented on #1877
It seems that we had already implemented this feature?

Because I got a PR https://github.com/Chatie/wechaty/pull/1759 exactly match we described.

Or was that sent from our team member?

[2019-05-03 15:19] znarf commented on #1877
@huan was made by a Jessie, she's human :-)

[2019-05-03 22:32] ilyavolodin opened #1998 "Refunds are not taken into account when using API"
**Describe the bug**
When calling backers API (https://opencollective.com/api/groups/<client>/backers) backers information does not account for refunds. Total amount donated per client includes all of the money that were donated, even if part of them was refunded. Also, there's no indication that a company/person is no longer a sponsor, if they canceled their monthly donations.

**To Reproduce**
S

[2019-05-04 01:12] lindatalu opened #1999 "EPIC → Graphic Language"
## Task
Normalize all the illustration, graphics and images throughout the platform following a cohesive visual language that supports the vision and mission of Open Collective.

## Best solution for this problem

- [ ] Review and normalize current illustrations.
- [ ] Assign the new illustrations and graphics and give them deadline.

## Referenced Issues
- #1927

[2019-05-04 08:21] xdamman opened #2000 "New collectives on hosts with 0% host fee fall back to 5% host fee"
It looks like lately the collectives created on OC Paris and OC Brussels that have a zero % host fee were getting the 5% host fee.

- [ ] Fix the bug to avoid new collectives having the same issue
- [x] Update manually the host fee in the db
- [ ] Figure out how much in fees they had to pay and refund those collectives

[2019-05-04 12:12] znarf commented on #1998
@ilyavolodin I guess it's for ESLint. I'm currently looking at a another problem Nicholas is having with this API endpoint. The endpoint itself is old, not convenient and should not be used anymore. I will propose an alternative that should solve your problems. Currently working on that.

[2019-05-04 14:21] ilyavolodin commented on #1998
Yes, it's for ESLint. And Nicholas did mention the other problem as well. So I guess this can be closed since you are working on alternative solution to the problem.

[2019-05-04 20:47] flickz commented on #1971
@Betree  How is this suppose to work exactly? The docs doesn't really provide more information about the `locale` option. Do we just set `locale` to `en`?

[2019-05-04 21:14] znarf commented on #1971
@flickz It needs to match the current active locale.

So, if strings are currently in english, it should be effectively `en`. But if I french is activated, it should be `fr`, etc ...

[2019-05-04 21:17] znarf commented on #1971
locale is mentioned in this page. https://stripe.com/docs/stripe-js/reference

One way to test might be to to set the Open Collective interface to French, and test that Stripe errors are appearing in French.

[2019-05-05 00:43] twisstosin commented on #1876
ping @znarf , just so you know I've started working on this issue.

[2019-05-05 02:42] alannallama opened #2001 "Collectives not appearing on host page"
**Describe the bug**
[This host](https://opencollective.com/stumptownsyndicate) says it has 6 Collectives, but none are appearing on the page.

![Screen Shot 2019-05-05 at 2 36 57 PM](https://user-images.githubusercontent.com/5498878/57187504-f8d96700-6f43-11e9-984d-2046f7d9bc02.png)

[2019-05-05 02:46] alannallama commented on #1995
OK, I asked those two users to check their paypal accounts. Weird that it's happening for two people at once. Maybe paypal changed a policy?

[2019-05-05 03:46] alanna opened #2002 "Donations as a spam vector"
This escort site has started backing Collectives as a way to show up as spam on their pages: https://opencollective.com/escort-girl

Short term, we need to shut this down and ban them from backing more Collectives.

Longer term, do we need an option for Collectives to reject/ban specific subscriptions? Or some other defense for this?

Honestly, I'm surprised spammers will spend real money to do th

[2019-05-05 03:49] alannallama commented on #1969
Here's an example of the language of "memberships" being confusing and why I don't think it's a good word to be using. Does 'delete memberships' mean subscriptions will be canceled? That makes no sense because Collectives with subscriptions can't be deleted. So I think it means it will delete associations with Core Contributors and Contributors right?

![Screen Shot 2019-05-05 at 2 53 17 PM](https

[2019-05-05 05:46] alannallama commented on #1917
They began to show up so I assumed @Xavier Damman
<xdamman@opencollective.com> or someone had already fixed this. Weird! If
you're seeing them all showing, then I guess it's fine.

On Fri, May 3, 2019 at 8:49 PM Benjamin Piouffle <notifications@github.com>
wrote:

--
*Alanna Irving*
alanna@opencollective.com

[2019-05-05 05:49] alannallama commented on #1969
Another terminology problem: Chapters

Somehow this word chapters got out there, but I don't know exactly what it means. Is it another word for fiscal host? Or does it refer only to fiscal hosts Open Collective itself manages? That's a problematic concept because it's important that each entity is genuinely seperate for legal reasons. Some fiscal hosts called "Open Collective [something]" are actu

[2019-05-05 12:26] znarf commented on #2001
This is already being taken care of in https://github.com/opencollective/opencollective/issues/1990. Duplicate.

[2019-05-05 12:26] #2001 closed

[2019-05-05 18:56] znarf commented on #1876
@twisstosin It's a complicated one. Normally, we prefer new contributors to first solve a simple issue or do a simple contribution before moving on complex ones. See: https://docs.opencollective.com/help/developers/bounties If you already started, please share a draft PR as soon as possible and engage with us on Slack if you have questions.

[2019-05-06 03:41] alannallama commented on #1996
I'm on an overall drive to clarify and simplify the terminology in use around Open Collective. Chapters is, in my view, still a bit of a nebulous concept, and especially confusing because it's similar to but not the same as fiscal hosts, which is an issue Wordpress and other communities don't have.

I think we should step back and really clarify what we're talking about. Why do we need Chapters in

[2019-05-06 03:44] alannallama commented on #1997
@gusaus sorry no one picked this up when you originally posted it. Obviously we haven't had as much capacity as we've liked for documentation, although we've made some big improvements this year with the new docs. We've been accepted to Google Season of Docs, so I think we'll continue to see steps forward. Currently, I think it makes sense for us to collaborate with a few key contributors, as oppo

[2019-05-06 03:53] alannallama commented on #1995
One user added their bank account in Paypal and then I was able to put the payment through. Another (Rocketmod) said they checked their account and nothing seemed wrong so they didn't do anything, so I tried again and one payment went through. But then the same error came back for the next payment I tried on that Collective. Now there are still a bunch of outstanding expenses I can't pay.

[2019-05-06 03:55] alannallama commented on #1995
@Betree after googling the error I saw something about how it can appear if you have less than $100 in your paypal account (meaning open source collective's paypal account as the payer). Could this be causing the problem? I logged into our paypal manually and it's showing a balance of only $21, but I thought it was configured to automatically add more funds from our bank account as needed?

[2019-05-06 03:59] alannallama commented on #1141
We still need this. It's a regularly requested feature when we ask for user feedback.

[2019-05-06 08:41] #1926 closed

[2019-05-06 08:45] znarf commented on #1968
@JohnTitor can you share the error in the bug description?

[2019-05-06 08:49] znarf commented on #2002
@alannallama On the platform side, what we need is to define a policy that we can use to disable this kind of organization. Maybe, we also need to update our terms of service to include this policy.

- Collectives should also be able to refuse donations based on their own rules.
- Hosts should also be able to refuse donations based on their own rules.

[2019-05-06 08:55] znarf commented on #1986
@piamancini we don't have the notion of "sponsor profile" in our systems, are you speaking about "organizations" ?

[2019-05-06 08:57] znarf commented on #1987
Unsubscribe link should lead to the website (frontend) not the API.

The frontend should trigger an API request and display a success/failure message.

[2019-05-06 09:03] znarf commented on #1994
@Betree so, this is something else.

We need to investigate. Maybe an application error in the middle of the transaction.

[2019-05-06 09:09] znarf commented on #1992
We should not rely on `createdBy` for permissions. We should stop doing that and before enforcing the new policy, we should generate a report to see who would be affected by the change.

[2019-05-06 09:33] znarf commented on #1991
This is happening here:
https://github.com/opencollective/opencollective-frontend/blob/105056575700c6ea46cb4fe4ea1aa39a76f32cd6/src/components/CreateCollectiveForm.js

There is something already existing to support TOS for hosts , we just have to edit the host settings and add a "tos" entry to enable that.

Maybe you want to tweak that and rename it "terms of fiscal sponsorship" instead of TOS. Do

[2019-05-06 09:38] znarf commented on #1723
@alannallama question:

Where is that currently done?

[2019-05-06 09:42] znarf commented on #1985
For the "Empty Balance" feature, it's not really "hardcoded" at the moment. It's set in the database but can't effectively be edited by admins. In settings, we expect an entry formatted like that `"hostCollective": {"id": 1411}`.

I'm not sure how the "add host fees" feature is operating at the moment.

[2019-05-06 09:50] znarf commented on #1991
The edit form should also be updated  to reflect the name.

![Screen Shot 2019-05-06 at 11 49 14](https://user-images.githubusercontent.com/806/57218216-0ef33000-6ff5-11e9-9827-f6f8f55e4105.png)

[2019-05-06 09:51] znarf commented on #1985
@alannallama For the MVP, there is no "edit > host" section at the moment and I'm not sure creating a new one would make sense. We can put it in the advanced section.

[2019-05-06 10:06] znarf commented on #355
In this context, Open Collective is a "GitHub oAuth app" and wants access to your public repositories. To do that, we ask for the "public_repo" scope. The "public_repo" scope is unfortunately very wide and includes read and write access to all public (not private) repositories data including "read/write access to code, commit statuses, repository projects, collaborators, and deployment statuses fo

[2019-05-06 10:10] znarf commented on #1963
@johanricher thank you for reporting this.

@xdamman what do you think?

[2019-05-06 10:16] #1959 closed

[2019-05-06 10:18] znarf commented on #1854
@flickz what is the status?

[2019-05-06 10:33] znarf commented on #355
Related: https://github.com/opencollective/opencollective/issues/1034

[2019-05-06 10:35] #1671 closed

[2019-05-06 10:54] flickz commented on #1854
Incomplete, requires few modifications and test. I'll do that this week.

[2019-05-06 12:51] xdamman commented on #1969
Sorry jumping on this a bit late but if this can help:

**Backer** is anyone (individual or collective or organization) that is "financially backing" a collective.
I don't think that the term backer should make any assumption on the type of backer.

-> "Who is backing you?", "AirBnB, AOC, Bill Gates, ..."

A backer can therefore be of *different type* (individual, org, even collective), and can co

[2019-05-06 13:13] kevgathuku commented on #1658
Hi @znarf I would love to work on this.
vickywane @robertlyson are you still working on it?

[2019-05-06 13:17] robertlyson commented on #1658
@kevgathuku I stopped working on this. If @vickywane and @znarf are ok with it, feel free to grab it. Thanks.

[2019-05-06 14:05] znarf commented on #1658
@kevgathuku you can have a look!

[2019-05-06 15:53] vickywane commented on #1658
@kevgathuku i stopped also . Feel free to work it out

[2019-05-06 16:47] twisstosin commented on #1876
Okay great, I'll create the draft PR now.

[2019-05-06 19:19] #355 closed

[2019-05-07 06:48] znarf opened #2003 "Disable opencollective payment method accross hosts"
Background: we implemented "opencollective payment method accross hosts" last year. See: https://github.com/opencollective/opencollective/issues/1196 and https://github.com/opencollective/opencollective-api/pull/1404

Today, looking at this feature, it's weirdly implemented, difficult to understand and to support.

I don't think supporting this feature through a Credit Card payments (Stripe) is a

[2019-05-07 07:15] #2003 closed

[2019-05-07 07:15] #1989 closed

[2019-05-07 08:08] gusaus commented on #1996
@alannallama - I'm not sure if you're following up on https://github.com/opencollective/opencollective/issues/1996#issuecomment-418876681 or we're on the same quest to clarify this particular section on the Open Collective chapters page (the google doc we're referencing begins with the original copy from https://opencollective.com/chapters)  -

When creating an open collective, you can decide to h

[2019-05-07 09:07] gusaus commented on #1997
@alannallama The docs refactoring you headed up https://github.com/opencollective/opencollective/issues/1612 + new community members joining for [Seaon of Docs](https://docs.opencollective.com/help/projects/season-of-docs-2019) + the [bounty program](https://docs.opencollective.com/help/developers/bounties#open-collective-bounty-program) provides a much better foundation for organizing and sustain

[2019-05-07 10:01] znarf opened #2004 "Amounts should not be rounded"
Just tried giving `0.05$`

![Screen Shot 2019-05-07 at 12 01 32](https://user-images.githubusercontent.com/806/57291504-e126ed80-70bf-11e9-8e4d-1ed560cc93bc.png)

[2019-05-07 11:37] znarf commented on #1990
Deployed.

[2019-05-07 11:37] #1990 closed

[2019-05-07 11:56] znarf commented on #1998
I submitted a Pull Request: https://github.com/eslint/eslint.github.io/pull/564

[2019-05-07 11:56] #1998 closed

[2019-05-07 14:52] piamancini commented on #1991
yep sure. I need to be on a branch to edit that file. what should I do?
<img width="901" alt="Screen Shot 2019-05-07 at 10 52 02 AM" src="https://user-images.githubusercontent.com/3671070/57309480-2e05c680-70b6-11e9-90bc-a6d321038da6.png">

[2019-05-07 14:55] piamancini commented on #1992
agreed.

[2019-05-07 14:56] piamancini commented on #1986
yes -- sorry

[2019-05-07 14:59] sheerun opened #2005 "Graphql API stopped returning transactions"
**Describe the bug**

We used following GraphQL query to fetch list of transactions to compute list of current sponsors:

[code]

Right now this query returns `null` for `account.transactions.nodes`.. Could you fix it?

[2019-05-07 16:44] znarf commented on #2005
@sheerun Sorry! Didn’t know you were already using the GraphQL API v2. I’ll fix it promptly.

[2019-05-07 18:39] znarf commented on #1991
@piamancini just give me the new copy for the following sentence and I will take care of it.

[2019-05-07 19:00] znarf commented on #2005
Fixed in https://github.com/opencollective/opencollective-api/pull/1958

We will add tests for common GraphQL v2 queries so that it doesn't happen in the future.

Also, for the future, be careful with `limit: 2000`, we don't enforce today a maximum for it, but it's possible we will add one, such as `1000`. To get more entries, you will need to paginate with `offset`.

[2019-05-07 19:01] #2005 closed

[2019-05-07 21:52] sheerun commented on #2005
Thank you <3

[2019-05-07 21:53] sheerun commented on #2005
btw. I'd set much lower limit but there's no way to sort nodes. I'd like to show e.g. 200 latest transactions

[2019-05-08 01:52] JohnTitor commented on #1968
@znarf Sure, I'll post later.

[2019-05-08 04:25] alannallama commented on #1969
Myself, @cuiki @xdamman and @piamancini had a meeting about terminology issues. Here's my notes of the outcomes, as they apply to the new Collective page and designs going forward.

* We will not create a dichotomy between "backers" and "sponsors". Instead, all tiers will be customizable by Collectives, who can name them whatever they want (gold sponsor, base supporter, membership, etc).
* There w

[2019-05-08 04:36] alannallama commented on #1370
@znarf @cuiki where has this got to? I would really like it to go live now.

[2019-05-08 04:46] cuiki commented on #1370
It looks like it is live already: https://opencollective.com/become-a-fiscal-host

[2019-05-08 05:05] alanna opened #2006 "Ability for admins to cancel/reject financial contributions"
## User story
As a Collective or Host admin, I want to be able to refuse/cancel financial contributions (subscriptions) so that I can have a say in who my project accepts money from and who shows up on my page as a contributor, and to combat backer spam.

## Best solution for this problem
A screen showing all active recurring contributions to a Collective, with an option to cancel each, and an opt

[2019-05-08 05:10] alannallama commented on #1370
Oh cool! It looks good!

Can the small changes I suggested [here](https://github.com/opencollective/opencollective/issues/1370#issuecomment-483487794) be made?

[2019-05-08 05:56] TG1999 commented on #1996
@gusaus I want to start working on this issue. I would like to do the first task, for now, Open Collective Chapter FAQ. Do I need to make a new folder in the documentation repo named Open_Collective_Chapter_FAQ for making the markdown page

[2019-05-08 07:07] gusaus commented on #1996
Hi @TG1999 - are you looking for a Season of Code task? I'm asking because this may be outside the scope of the program... at least at this point, until we work with @alannallama and other Open Collective team members to clarify how we're defining chapters https://github.com/opencollective/opencollective/issues/1996#issuecomment-489493032  as well as the goals for this task.

[2019-05-08 09:58] #1939 closed

[2019-05-08 10:01] znarf opened #2007 "Localization issues with dynamic terms"
**Describe the bug**

**Screenshot**

![Capture d’écran 2019-05-08 à 12 00 11](https://user-images.githubusercontent.com/806/57367260-f6b41a00-7188-11e9-9bc4-3ebdc7948ca0.png)

[2019-05-08 10:08] znarf commented on #2004
We don't have to display `$5` as `$5.00`though.

[2019-05-08 10:09] #1938 closed

[2019-05-08 10:14] znarf commented on #1905
Now that we have a "minimum amount"  `minimum_amount` set in the database, this issue is about enforcing that the "default amount" (`amount`) is one of the `presets` when the amount type is "flexible amount".

[2019-05-08 10:28] znarf opened #2008 "Enforce minimum amount in Contribution Flow"
Now that we have a minimum amount in tiers, we need to display it and enforce it in the interface.

[2019-05-08 10:33] #1874 closed

[2019-05-08 11:01] alannallama commented on #1384
We still need this. Edit should always be an option until it's paid (for all data related to an expense), but if any changes are made it should go back to pending status and have to be approved again.

Currently I use an annoying workaround for this all the time, where I edit something small (like adding a trailing space) to force the expense back to pending, so the submitter can then edit it, suc

[2019-05-08 11:22] Saichethan commented on #1997
Can I take this issue @alannallama

[2019-05-08 14:45] piamancini commented on #1384
let's look at this after the collective page flow is done and we start expense flow

[2019-05-08 15:01] piamancini commented on #1969
To add clarification: we will be calling everyone who is a financial contributor a 'contributor' in the same way and they are allowed to purchase any tier they want. And tiers will show list of financial contributors' profiles organized by amount given, regardless if they are individual or organizations.

The idea is that the minimal entity in our platform is the individual user, an individual use

[2019-05-08 15:02] piamancini commented on #1991
I agree with the terms of fiscal sponsorship of the ({HOST}) that will ....

[2019-05-08 16:16] znarf commented on #1991
Will do.

[2019-05-08 17:43] znarf commented on #2008
Let's discuss the behavior of `getOrderMinAmount`. cc @Betree

[2019-05-09 01:16] alannallama commented on #960
@cuiki will this be fixed in the new Collective page?

[2019-05-09 01:21] alannallama commented on #1655
I think we still need this. Maybe related to #1141 in terms of improve the whole Paypal experience.

[2019-05-09 01:23] alannallama commented on #1723
@znarf it depends on the host. We have /opensource set up for OSC and /foundation for OCF. These were created manually. Each month I get the host report and manually add the host fee amount to those Collectives. Some Hosts don't set up a Collective to receive fees (for example we don't have one for c-corp host) so those fees just... disappear and aren't tracked anywhere.

[2019-05-09 01:24] alannallama commented on #1985
Sure that's fine. Anywhere host admins can access it.

On Mon, May 6, 2019 at 9:51 PM François Hodierne <notifications@github.com>
wrote:

--
*Alanna Irving*
alanna@opencollective.com

[2019-05-09 01:37] alannallama commented on #1997
I don't think anything needs to be done on this issue, so I'm going to close it. We'll reevaluate toward the end of the year after our Season of Docs experience.

[2019-05-09 01:37] #1997 closed

[2019-05-09 06:32] znarf commented on #2005
@sheerun in your query, transactions are sorted anti-chronologically by default.

You can play with it, trying `DESC` or `ASC` as sort direction.

[code]

[2019-05-09 06:50] Betree commented on #1923
@Git-R-Goin didn't find the time to work on this. As the time frame is now passed, the bounty is open again for contributions.

[2019-05-09 07:25] Betree commented on #1917
Ok I'm closing this for now, I'll stay assigned on the issue in case we need to re-open it.

[2019-05-09 07:25] #1917 closed

[2019-05-09 07:25] znarf opened #2009 "Expense transactions not featuring original invoice"
**Describe the bug**

When browsing, DEBIT transactions of a Collective, when clicking on Download (pdf), I get an invoice automatically generated by Open Collective, not the original one.

**To Reproduce**

1. Go to https://opencollective.com/engineering/transactions
2. Click on 'debits'
3. Click on 'view details'
4. Click on 'Download (pdf)'

**Current behavior**

Downloading an Open Collective

[2019-05-09 07:44] Betree commented on #2009
This behaviour is indeed confusing and I don't see the need to have generated invoices here, we should definitively surface the invoice submitted by the person who submitted the expense if there's one.

[2019-05-09 07:47] Betree commented on #1995
@alannallama I'm not familiar with how we have this setup with the bank account.

@xdamman @piamancini any input regarding [Alanna's comment](https://github.com/opencollective/opencollective/issues/1995#issuecomment-489494328)?

[2019-05-09 07:52] Betree commented on #2007
We'll have this problem in others parts of the site. We use the terms `This {collective}` very often so I'd like to come up with a generic solution, having a string that we can re-use for future implementations.

[2019-05-09 07:56] Betree commented on #1811
@xdamman Any news from Lauren?

[2019-05-09 09:12] Betree opened #2010 "Contribution flow: Contribute As step is not centered on large screens"
**Describe the bug**
Screens with big resolution have a centering issue for "contribute as" step in the contribution flow (see screenshot below).

Also the value we use for the column width, `24em`, is unclear and undocumented.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in
2. Go to http://opencollective.com/babel/donate/
3. Enlarge your window's width to something like 2200px
4. Co

[2019-05-09 09:32] xdamman commented on #1995
My understanding is that it should refill automatically since it’s connected to the bank account. But I haven’t logged into this account in a while. Pia might know better.

[2019-05-09 09:35] xdamman opened #2011 "Proposal: link /contribute to /tiers"
Right now /contribute is an alias for /donate
but now that we have a (great!) new /tiers page ([example](http://opencollective.com/babel/tiers)), I think it would make more sense to have /contribute to point there.

So to be clear, we would still have /donate and /tiers and /contribute would point to /tiers.

Any objection?

[2019-05-09 09:43] znarf commented on #2011
I think both /donate and /contribute should be alias to /tiers.

Meaning, we need a new URLs for the previous behavior of /contribute and /donate. We could introduce a new dedicated URL such as /donate/one-time /contribute/one-time

[2019-05-09 09:45] xdamman commented on #1326
Not sure if this is the right place but the more I work with collectives, the more I realize the importance of allowing anyone to submit an expense without having to register for an open collective account.

It has to be seamless. Let me upload an invoice/expense and *then* ask me for my email address. That should be the flow from the user perspective.

I understand the engineering challenge that

[2019-05-09 09:59] WET9 opened #2012 "Unexpected error when ___________"
# Describe the bug

I got an unexpected error on https://opencollective.com/ethereum-revolutions1/events/tier/9156-?amount=10000000000&eventSlug=bigcrypto001-42070ev while I was trying to __________

# To Reproduce

1. Go to ________
2. Click on ________
3. Scroll down to ________
4. See error

# Device
- OS: Linux x86_64
- Browser: `5.0 (X11; CrOS x86_64 11647.154.0) AppleWebKit/537.36 (KHTML, li

[2019-05-09 10:49] Betree commented on #2012
Hello, thanks for opening this issue. Can you provide more details about how this happened and steps to reproduce?

[2019-05-09 11:49] xdamman commented on #2011
`/donate` to me should open a big customizable dollar amount right front and center with the option to make it recurring. If people come to donate, we shouldn't distract them with a "menu of different options" that will paralyze them ("what should I pick?"). They come to donate without any expectation of return (that's the definition of a donation). So let's keep that interface minimal and straigh

[2019-05-09 11:55] Betree opened #2013 "Move applications page to /applications"
# Problems

- Currently the page to edit user's API keys lives on `https://opencollective.com/:user/applications`. With the upcoming Zapier integration, it would be useful to have a direct link to this page that users can click on from Zapier.

- We're not making it clear that API keys are created per user (not per collective). If I go to https://opencollective.com/babel/applications, I'll be able

[2019-05-09 12:02] znarf commented on #2013
Looks like there are indeed some mistakes in the Applications model.

I agree with the change, it's great to have a page that can be easily linked.

[2019-05-09 12:26] kennyadsl commented on #1800
Hey there, we just had a new backer (5/9/2019) and no tweet has been sent. Here's a screenshot of our current configuration:

<img width="860" alt="Schermata 2019-05-09 alle 14 23 16" src="https://user-images.githubusercontent.com/167946/57453194-0d7c6e80-7266-11e9-8f21-3e61c201c4da.png">

Monthly stats and updates tweets work well instead.

Hope it helps to debug!

[2019-05-09 12:28] znarf commented on #1889
I just tested the Amount in URL feature. It's currently buggy and should be more properly tested.

Also, in this feature, I don't think `amount` should be fixed. It should be more like a single preset, selected by default.

Donators should be absolutely free to edit the amount and the frequency.

[2019-05-09 12:29] znarf commented on #2011
Why do we have assumptions that there is a difference between /contribute, /donate and /pay when it's today exactly the same? Is there already a difference in the way we use these URLs?

Based on the discussion in https://github.com/opencollective/opencollective/issues/1969 do we have new definitions for these terms?

[2019-05-09 12:39] cuiki commented on #1326
So if we do this, we should then offer small tools or features that'll encourage (assuming that submitting expenses is the level of interaction of these users) them to sign up. Things like saving their payout information and not having to enter it every single time (i.e. wire-transfer information).

It might not look like a big example but thinking about these actions might help opening the door t

[2019-05-09 13:12] xdamman commented on #2011
Today there is no difference between those 3 URLs. The primary reason being that it was "good enough" at the time. Now that we have a page `/tiers` I think we can start differentiating them to better match end users' expectations.

The #1969 conversation is still ongoing but what's already clear is that we want to double down on the concept of "contribute" (and "contributions"). This really reflec

[2019-05-09 13:14] xdamman commented on #1326
Totally. I think a good example of that is Eventbrite (and many e-commerce websites). They let you checkout (or RSVP) without requiring you to create an account to make sure that there is nothing preventing you from completing that important user flow. But at the end they offer you to create an account to save your info for next time.

[2019-05-09 13:17] xdamman commented on #1889
That makes sense for `/donate/:amount`. Less so for `/pay/:amount` where you'd expect to force the user to pay that given amount. That's another good example of how we can start differentiating those different aliases to better match users' expectations (and give them more control over how they want to ask for money).

[2019-05-09 13:30] xdamman commented on #1969
I'd still have on the collective page as we do in Figma now two different columns for "Top individual contributors" and "Top organization contributors". Otherwise, only organizations will show up. But we also want to make sure that individuals are incentivized to contribute.

[2019-05-09 13:31] znarf commented on #1800
Cool. According to the logs, things went almost as expected:

[code]

[code]

It seems, this was rejected by the Twitter API, not sure why yet.

[2019-05-09 13:35] WET9 commented on #2012
May im know the issue ist not conections

[2019-05-09 14:10] Betree commented on #1889
We need to communicate properly with collectives if we decide to do this change. For example Octobox uses: https://opencollective.com/octobox/donate?amount=10&interval=month&description=individual&redirect=https://octobox.io/opencollective to handle orders.

One problem is that we have a complex behaviour that is undocumented and relies on legacy hacks that we must support. For example being able

[2019-05-09 15:28] Betree commented on #328
While testing @eloyekunle's [pull request](https://github.com/opencollective/opencollective-api/pull/1854) I created a simple Zapier app.

Posting the code for authentication here for the reference:

[code]

https://github.com/opencollective/opencollective/issues/2013 will also help to have a nice experience with the Zapier app.

[2019-05-09 16:55] Betree opened #2014 "Webhooks: Filter activities based on collective type"
Require https://github.com/opencollective/opencollective-frontend/pull/1624

# Problem

As a `USER` I shouldn't be seeing things like `collective.apply`, `collective.approved`...etc these are reserved for hosts only (`collective.isHost === true`).

![image](https://user-images.githubusercontent.com/1556356/57088986-be818700-6d03-11e9-873a-0306657b2f11.png)

# Solution

We need to have a map of act

[2019-05-09 16:58] Betree opened #2015 "Webhooks: Add feature flag"
Require https://github.com/opencollective/opencollective-frontend/pull/1624

We want to better test webhooks before we go fully public with them. We should add a feature flag `ENABLE_WEBHOOKS` on the frontend that will show them in the `Edit collective` menu.

[2019-05-09 17:08] Betree opened #2016 "Webhooks: Add warning about private infos"
Require https://github.com/opencollective/opencollective-frontend/pull/1624

# Problem

With the upcoming webhooks release, users are going to post Open Collective data on third party services. That data might include personal information.

For example the following JSON is an activity for new expense as posted by the webhook. You may notice that it includes user's `email`, `paypalEmail` and the U